{
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "ownerDomain": "google.com",
  "version": "v2beta1",
  "discoveryVersion": "v1",
  "title": "Dialogflow API",
  "batchPath": "batch",
  "servicePath": "",
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "protocol": "rest",
  "rootUrl": "https://dialogflow.googleapis.com/",
  "baseUrl": "https://dialogflow.googleapis.com/",
  "resources": {
    "projects": {
      "methods": {
        "getAgent": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/dialogflow"
          ],
          "flatPath": "v2beta1/projects/{projectsId}/agent",
          "parameters": {
            "parent": {
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+$",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleCloudDialogflowV2beta1Agent"
          },
          "description": "",
          "path": "v2beta1/{+parent}/agent",
          "parameterOrder": [
            "parent"
          ],
          "httpMethod": "GET",
          "id": "dialogflow.projects.getAgent"
        },
        "deleteAgent": {
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "parameters": {
            "parent": {
              "location": "path",
              "pattern": "^projects/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "description": "",
          "path": "v2beta1/{+parent}/agent",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/dialogflow"
          ],
          "id": "dialogflow.projects.deleteAgent",
          "flatPath": "v2beta1/projects/{projectsId}/agent",
          "parameterOrder": [
            "parent"
          ]
        },
        "setAgent": {
          "description": "",
          "request": {
            "$ref": "GoogleCloudDialogflowV2beta1Agent"
          },
          "id": "dialogflow.projects.setAgent",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/dialogflow"
          ],
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "GoogleCloudDialogflowV2beta1Agent"
          },
          "flatPath": "v2beta1/projects/{projectsId}/agent",
          "parameters": {
            "parent": {
              "required": true,
              "pattern": "^projects/[^/]+$",
              "type": "string",
              "location": "path"
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            }
          },
          "path": "v2beta1/{+parent}/agent"
        }
      },
      "resources": {
        "knowledgeBases": {
          "resources": {
            "documents": {
              "methods": {
                "reload": {
                  "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}:reload",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "description": "",
                  "path": "v2beta1/{+name}:reload",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1ReloadDocumentRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "dialogflow.projects.knowledgeBases.documents.reload"
                },
                "import": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1ImportDocumentsRequest"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+$"
                    }
                  },
                  "path": "v2beta1/{+parent}/documents:import",
                  "id": "dialogflow.projects.knowledgeBases.documents.import",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents:import",
                  "description": "",
                  "httpMethod": "POST"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                  "id": "dialogflow.projects.knowledgeBases.documents.delete",
                  "path": "v2beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "description": "",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "list": {
                  "description": "",
                  "id": "dialogflow.projects.knowledgeBases.documents.list",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListDocumentsResponse"
                  },
                  "path": "v2beta1/{+parent}/documents",
                  "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+$"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                  "id": "dialogflow.projects.knowledgeBases.documents.get",
                  "path": "v2beta1/{+name}",
                  "description": "",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Document"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "path": "v2beta1/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                  "description": "",
                  "id": "dialogflow.projects.knowledgeBases.documents.patch",
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Document"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2beta1/{+parent}/documents",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+$",
                      "location": "path"
                    },
                    "importGcsCustomMetadata": {
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Document"
                  },
                  "httpMethod": "POST",
                  "id": "dialogflow.projects.knowledgeBases.documents.create",
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                }
              }
            }
          },
          "methods": {
            "create": {
              "description": "",
              "id": "dialogflow.projects.knowledgeBases.create",
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1KnowledgeBase"
              },
              "httpMethod": "POST",
              "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1KnowledgeBase"
              },
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v2beta1/{+parent}/knowledgeBases"
            },
            "patch": {
              "description": "",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1KnowledgeBase"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/knowledgeBases/[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1KnowledgeBase"
              },
              "httpMethod": "PATCH",
              "path": "v2beta1/{+name}",
              "id": "dialogflow.projects.knowledgeBases.patch",
              "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "id": "dialogflow.projects.knowledgeBases.list",
              "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                },
                "filter": {
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "description": "",
              "path": "v2beta1/{+parent}/knowledgeBases",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ListKnowledgeBasesResponse"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1KnowledgeBase"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/knowledgeBases/[^/]+$",
                  "type": "string"
                }
              },
              "description": "",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}",
              "httpMethod": "GET",
              "path": "v2beta1/{+name}",
              "id": "dialogflow.projects.knowledgeBases.get"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2beta1/{+name}",
              "description": "",
              "id": "dialogflow.projects.knowledgeBases.delete",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2beta1/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/knowledgeBases/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "force": {
                  "type": "boolean",
                  "location": "query"
                }
              }
            }
          }
        },
        "suggestions": {
          "methods": {
            "searchKnowledge": {
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1SearchKnowledgeResponse"
              },
              "path": "v2beta1/{+parent}/suggestions:searchKnowledge",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "id": "dialogflow.projects.suggestions.searchKnowledge",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1SearchKnowledgeRequest"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "description": "",
              "flatPath": "v2beta1/projects/{projectsId}/suggestions:searchKnowledge"
            },
            "generateStatelessSummary": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1GenerateStatelessSummaryRequest"
              },
              "flatPath": "v2beta1/projects/{projectsId}/suggestions:generateStatelessSummary",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "description": "",
              "id": "dialogflow.projects.suggestions.generateStatelessSummary",
              "path": "v2beta1/{+parent}/suggestions:generateStatelessSummary",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1GenerateStatelessSummaryResponse"
              }
            }
          }
        },
        "agent": {
          "methods": {
            "import": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                }
              },
              "path": "v2beta1/{+parent}/agent:import",
              "id": "dialogflow.projects.agent.import",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2beta1/projects/{projectsId}/agent:import",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1ImportAgentRequest"
              }
            },
            "restore": {
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta1/{+parent}/agent:restore",
              "httpMethod": "POST",
              "id": "dialogflow.projects.agent.restore",
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1RestoreAgentRequest"
              },
              "flatPath": "v2beta1/projects/{projectsId}/agent:restore",
              "parameterOrder": [
                "parent"
              ]
            },
            "getValidationResult": {
              "flatPath": "v2beta1/projects/{projectsId}/agent/validationResult",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2beta1/{+parent}/agent/validationResult",
              "id": "dialogflow.projects.agent.getValidationResult",
              "httpMethod": "GET",
              "parameters": {
                "languageCode": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1ValidationResult"
              }
            },
            "search": {
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "dialogflow.projects.agent.search",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1SearchAgentsResponse"
              },
              "description": "",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2beta1/projects/{projectsId}/agent:search",
              "path": "v2beta1/{+parent}/agent:search",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "GET"
            },
            "export": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2beta1/projects/{projectsId}/agent:export",
              "path": "v2beta1/{+parent}/agent:export",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1ExportAgentRequest"
              },
              "id": "dialogflow.projects.agent.export",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": ""
            },
            "train": {
              "description": "",
              "httpMethod": "POST",
              "id": "dialogflow.projects.agent.train",
              "parameterOrder": [
                "parent"
              ],
              "path": "v2beta1/{+parent}/agent:train",
              "flatPath": "v2beta1/projects/{projectsId}/agent:train",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1TrainAgentRequest"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "getFulfillment": {
              "parameterOrder": [
                "name"
              ],
              "id": "dialogflow.projects.agent.getFulfillment",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/agent/fulfillment$",
                  "location": "path"
                }
              },
              "flatPath": "v2beta1/projects/{projectsId}/agent/fulfillment",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1Fulfillment"
              },
              "description": "",
              "httpMethod": "GET",
              "path": "v2beta1/{+name}"
            },
            "updateFulfillment": {
              "path": "v2beta1/{+name}",
              "request": {
                "$ref": "GoogleCloudDialogflowV2beta1Fulfillment"
              },
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleCloudDialogflowV2beta1Fulfillment"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "dialogflow.projects.agent.updateFulfillment",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "description": "",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/agent/fulfillment$",
                  "type": "string"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v2beta1/projects/{projectsId}/agent/fulfillment"
            }
          },
          "resources": {
            "environments": {
              "methods": {
                "patch": {
                  "httpMethod": "PATCH",
                  "path": "v2beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Environment"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}",
                  "id": "dialogflow.projects.agent.environments.patch",
                  "description": "",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Environment"
                  },
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "allowLoadToDraftAndDiscardChanges": {
                      "type": "boolean",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/agent/environments/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v2beta1/{+name}",
                  "id": "dialogflow.projects.agent.environments.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "description": "",
                  "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent/environments/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  }
                },
                "create": {
                  "path": "v2beta1/{+parent}/environments",
                  "description": "",
                  "flatPath": "v2beta1/projects/{projectsId}/agent/environments",
                  "httpMethod": "POST",
                  "id": "dialogflow.projects.agent.environments.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Environment"
                  },
                  "parameters": {
                    "environmentId": {
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/agent$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Environment"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Environment"
                  },
                  "id": "dialogflow.projects.agent.environments.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}",
                  "path": "v2beta1/{+name}",
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent/environments/[^/]+$",
                      "required": true
                    }
                  }
                },
                "list": {
                  "id": "dialogflow.projects.agent.environments.list",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListEnvironmentsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/agent$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/agent/environments",
                  "path": "v2beta1/{+parent}/environments",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "getHistory": {
                  "path": "v2beta1/{+parent}/history",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1EnvironmentHistory"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "dialogflow.projects.agent.environments.getHistory",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/agent/environments/[^/]+$",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "",
                  "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/history"
                }
              },
              "resources": {
                "intents": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/agent/environments/[^/]+$",
                          "location": "path"
                        },
                        "languageCode": {
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        },
                        "intentView": {
                          "type": "string",
                          "enum": [
                            "INTENT_VIEW_UNSPECIFIED",
                            "INTENT_VIEW_FULL"
                          ],
                          "location": "query",
                          "enumDescriptions": [
                            "",
                            ""
                          ]
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        }
                      },
                      "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/intents",
                      "description": "",
                      "id": "dialogflow.projects.agent.environments.intents.list",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1ListIntentsResponse"
                      },
                      "httpMethod": "GET",
                      "path": "v2beta1/{+parent}/intents"
                    }
                  }
                },
                "users": {
                  "resources": {
                    "sessions": {
                      "methods": {
                        "detectIntent": {
                          "parameters": {
                            "session": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "session"
                          ],
                          "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}:detectIntent",
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2beta1DetectIntentRequest"
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2beta1DetectIntentResponse"
                          },
                          "path": "v2beta1/{+session}:detectIntent",
                          "id": "dialogflow.projects.agent.environments.users.sessions.detectIntent",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "POST",
                          "description": ""
                        },
                        "deleteContexts": {
                          "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts",
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "description": "",
                          "path": "v2beta1/{+parent}/contexts",
                          "httpMethod": "DELETE",
                          "id": "dialogflow.projects.agent.environments.users.sessions.deleteContexts",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ]
                        }
                      },
                      "resources": {
                        "entityTypes": {
                          "methods": {
                            "delete": {
                              "parameters": {
                                "name": {
                                  "location": "path",
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                                  "required": true
                                }
                              },
                              "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                              "parameterOrder": [
                                "name"
                              ],
                              "path": "v2beta1/{+name}",
                              "description": "",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "id": "dialogflow.projects.agent.environments.users.sessions.entityTypes.delete",
                              "httpMethod": "DELETE",
                              "response": {
                                "$ref": "GoogleProtobufEmpty"
                              }
                            },
                            "get": {
                              "parameters": {
                                "name": {
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                                  "required": true,
                                  "type": "string"
                                }
                              },
                              "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "httpMethod": "GET",
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                              },
                              "parameterOrder": [
                                "name"
                              ],
                              "id": "dialogflow.projects.agent.environments.users.sessions.entityTypes.get",
                              "path": "v2beta1/{+name}",
                              "description": ""
                            },
                            "list": {
                              "httpMethod": "GET",
                              "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes",
                              "parameterOrder": [
                                "parent"
                              ],
                              "parameters": {
                                "parent": {
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                                  "type": "string",
                                  "location": "path",
                                  "required": true
                                },
                                "pageSize": {
                                  "location": "query",
                                  "format": "int32",
                                  "type": "integer"
                                },
                                "pageToken": {
                                  "type": "string",
                                  "location": "query"
                                }
                              },
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2beta1ListSessionEntityTypesResponse"
                              },
                              "description": "",
                              "id": "dialogflow.projects.agent.environments.users.sessions.entityTypes.list",
                              "path": "v2beta1/{+parent}/entityTypes",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ]
                            },
                            "create": {
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "path": "v2beta1/{+parent}/entityTypes",
                              "parameters": {
                                "parent": {
                                  "type": "string",
                                  "required": true,
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$"
                                }
                              },
                              "request": {
                                "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                              },
                              "id": "dialogflow.projects.agent.environments.users.sessions.entityTypes.create",
                              "description": "",
                              "httpMethod": "POST",
                              "parameterOrder": [
                                "parent"
                              ],
                              "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes"
                            },
                            "patch": {
                              "httpMethod": "PATCH",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "id": "dialogflow.projects.agent.environments.users.sessions.entityTypes.patch",
                              "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                              "path": "v2beta1/{+name}",
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                              },
                              "request": {
                                "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                              },
                              "description": "",
                              "parameters": {
                                "updateMask": {
                                  "type": "string",
                                  "location": "query",
                                  "format": "google-fieldmask"
                                },
                                "name": {
                                  "required": true,
                                  "location": "path",
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/entityTypes/[^/]+$"
                                }
                              },
                              "parameterOrder": [
                                "name"
                              ]
                            }
                          }
                        },
                        "contexts": {
                          "methods": {
                            "list": {
                              "parameters": {
                                "parent": {
                                  "type": "string",
                                  "required": true,
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                                  "location": "path"
                                },
                                "pageSize": {
                                  "format": "int32",
                                  "location": "query",
                                  "type": "integer"
                                },
                                "pageToken": {
                                  "type": "string",
                                  "location": "query"
                                }
                              },
                              "path": "v2beta1/{+parent}/contexts",
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2beta1ListContextsResponse"
                              },
                              "description": "",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "httpMethod": "GET",
                              "parameterOrder": [
                                "parent"
                              ],
                              "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts",
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.list"
                            },
                            "get": {
                              "parameters": {
                                "name": {
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/contexts/[^/]+$",
                                  "type": "string",
                                  "required": true
                                }
                              },
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2beta1Context"
                              },
                              "parameterOrder": [
                                "name"
                              ],
                              "path": "v2beta1/{+name}",
                              "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts/{contextsId}",
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.get",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "httpMethod": "GET",
                              "description": ""
                            },
                            "create": {
                              "description": "",
                              "httpMethod": "POST",
                              "path": "v2beta1/{+parent}/contexts",
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.create",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2beta1Context"
                              },
                              "request": {
                                "$ref": "GoogleCloudDialogflowV2beta1Context"
                              },
                              "parameterOrder": [
                                "parent"
                              ],
                              "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts",
                              "parameters": {
                                "parent": {
                                  "location": "path",
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                                  "required": true
                                }
                              }
                            },
                            "patch": {
                              "request": {
                                "$ref": "GoogleCloudDialogflowV2beta1Context"
                              },
                              "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts/{contextsId}",
                              "parameters": {
                                "updateMask": {
                                  "type": "string",
                                  "location": "query",
                                  "format": "google-fieldmask"
                                },
                                "name": {
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/contexts/[^/]+$",
                                  "required": true,
                                  "type": "string"
                                }
                              },
                              "description": "",
                              "httpMethod": "PATCH",
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.patch",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "parameterOrder": [
                                "name"
                              ],
                              "path": "v2beta1/{+name}",
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2beta1Context"
                              }
                            },
                            "delete": {
                              "response": {
                                "$ref": "GoogleProtobufEmpty"
                              },
                              "parameters": {
                                "name": {
                                  "required": true,
                                  "location": "path",
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/contexts/[^/]+$"
                                }
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "path": "v2beta1/{+name}",
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.delete",
                              "description": "",
                              "httpMethod": "DELETE",
                              "flatPath": "v2beta1/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts/{contextsId}",
                              "parameterOrder": [
                                "name"
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "sessions": {
              "methods": {
                "deleteContexts": {
                  "description": "",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v2beta1/{+parent}/contexts",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.agent.sessions.deleteContexts",
                  "flatPath": "v2beta1/projects/{projectsId}/agent/sessions/{sessionsId}/contexts",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "detectIntent": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1DetectIntentResponse"
                  },
                  "parameters": {
                    "session": {
                      "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1DetectIntentRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.agent.sessions.detectIntent",
                  "parameterOrder": [
                    "session"
                  ],
                  "path": "v2beta1/{+session}:detectIntent",
                  "httpMethod": "POST",
                  "flatPath": "v2beta1/projects/{projectsId}/agent/sessions/{sessionsId}:detectIntent"
                }
              },
              "resources": {
                "contexts": {
                  "methods": {
                    "get": {
                      "path": "v2beta1/{+name}",
                      "flatPath": "v2beta1/projects/{projectsId}/agent/sessions/{sessionsId}/contexts/{contextsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/contexts/[^/]+$",
                          "required": true
                        }
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.agent.sessions.contexts.get",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1Context"
                      },
                      "description": ""
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "description": "",
                      "flatPath": "v2beta1/projects/{projectsId}/agent/sessions/{sessionsId}/contexts/{contextsId}",
                      "id": "dialogflow.projects.agent.sessions.contexts.delete",
                      "path": "v2beta1/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/contexts/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "list": {
                      "path": "v2beta1/{+parent}/contexts",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "",
                      "id": "dialogflow.projects.agent.sessions.contexts.list",
                      "flatPath": "v2beta1/projects/{projectsId}/agent/sessions/{sessionsId}/contexts",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1ListContextsResponse"
                      },
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                          "required": true
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        }
                      }
                    },
                    "create": {
                      "id": "dialogflow.projects.agent.sessions.contexts.create",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1Context"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "POST",
                      "description": "",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v2beta1/{+parent}/contexts",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1Context"
                      },
                      "parameters": {
                        "parent": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+$"
                        }
                      },
                      "flatPath": "v2beta1/projects/{projectsId}/agent/sessions/{sessionsId}/contexts"
                    },
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1Context"
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1Context"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/contexts/[^/]+$",
                          "type": "string"
                        },
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        }
                      },
                      "flatPath": "v2beta1/projects/{projectsId}/agent/sessions/{sessionsId}/contexts/{contextsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "PATCH",
                      "path": "v2beta1/{+name}",
                      "description": "",
                      "id": "dialogflow.projects.agent.sessions.contexts.patch"
                    }
                  }
                },
                "entityTypes": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "GET",
                      "id": "dialogflow.projects.agent.sessions.entityTypes.list",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1ListSessionEntityTypesResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v2beta1/{+parent}/entityTypes",
                      "flatPath": "v2beta1/projects/{projectsId}/agent/sessions/{sessionsId}/entityTypes",
                      "description": "",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                          "required": true
                        }
                      }
                    },
                    "create": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                      },
                      "id": "dialogflow.projects.agent.sessions.entityTypes.create",
                      "description": "",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                          "location": "path"
                        }
                      },
                      "flatPath": "v2beta1/projects/{projectsId}/agent/sessions/{sessionsId}/entityTypes",
                      "path": "v2beta1/{+parent}/entityTypes"
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.agent.sessions.entityTypes.delete",
                      "flatPath": "v2beta1/projects/{projectsId}/agent/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "description": "",
                      "path": "v2beta1/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/entityTypes/[^/]+$"
                        }
                      }
                    },
                    "patch": {
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "PATCH",
                      "flatPath": "v2beta1/projects/{projectsId}/agent/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.agent.sessions.entityTypes.patch",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/entityTypes/[^/]+$",
                          "required": true
                        },
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                      },
                      "description": "",
                      "path": "v2beta1/{+name}"
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/entityTypes/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
                      },
                      "description": "",
                      "id": "dialogflow.projects.agent.sessions.entityTypes.get",
                      "flatPath": "v2beta1/projects/{projectsId}/agent/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                      "httpMethod": "GET",
                      "path": "v2beta1/{+name}",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              }
            },
            "knowledgeBases": {
              "methods": {
                "get": {
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1KnowledgeBase"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.agent.knowledgeBases.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+$"
                    }
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}"
                },
                "create": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1KnowledgeBase"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent$"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1KnowledgeBase"
                  },
                  "path": "v2beta1/{+parent}/knowledgeBases",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2beta1/projects/{projectsId}/agent/knowledgeBases",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "id": "dialogflow.projects.agent.knowledgeBases.create"
                },
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v2beta1/projects/{projectsId}/agent/knowledgeBases",
                  "id": "dialogflow.projects.agent.knowledgeBases.list",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListKnowledgeBasesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2beta1/{+parent}/knowledgeBases",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent$"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE",
                  "path": "v2beta1/{+name}",
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "force": {
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2beta1/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}",
                  "id": "dialogflow.projects.agent.knowledgeBases.delete"
                },
                "patch": {
                  "flatPath": "v2beta1/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "path": "v2beta1/{+name}",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1KnowledgeBase"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.agent.knowledgeBases.patch",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1KnowledgeBase"
                  },
                  "httpMethod": "PATCH",
                  "description": ""
                }
              },
              "resources": {
                "documents": {
                  "methods": {
                    "reload": {
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1ReloadDocumentRequest"
                      },
                      "httpMethod": "POST",
                      "flatPath": "v2beta1/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}:reload",
                      "path": "v2beta1/{+name}:reload",
                      "id": "dialogflow.projects.agent.knowledgeBases.documents.reload",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+/documents/[^/]+$",
                          "location": "path"
                        }
                      }
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1ListDocumentsResponse"
                      },
                      "description": "",
                      "httpMethod": "GET",
                      "id": "dialogflow.projects.agent.knowledgeBases.documents.list",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "parent": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+$"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v2beta1/{+parent}/documents",
                      "flatPath": "v2beta1/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}/documents"
                    },
                    "patch": {
                      "flatPath": "v2beta1/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1Document"
                      },
                      "httpMethod": "PATCH",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+/documents/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v2beta1/{+name}",
                      "id": "dialogflow.projects.agent.knowledgeBases.documents.patch"
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v2beta1/{+name}",
                      "id": "dialogflow.projects.agent.knowledgeBases.documents.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "flatPath": "v2beta1/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+/documents/[^/]+$"
                        }
                      }
                    },
                    "get": {
                      "httpMethod": "GET",
                      "description": "",
                      "flatPath": "v2beta1/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                      "id": "dialogflow.projects.agent.knowledgeBases.documents.get",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2beta1Document"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2beta1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+/documents/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      }
                    },
                    "create": {
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2beta1Document"
                      },
                      "description": "",
                      "path": "v2beta1/{+parent}/documents",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "importGcsCustomMetadata": {
                          "location": "query",
                          "type": "boolean"
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "id": "dialogflow.projects.agent.knowledgeBases.documents.create",
                      "flatPath": "v2beta1/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}/documents",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "httpMethod": "POST"
                    }
                  }
                }
              }
            },
            "intents": {
              "methods": {
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "path": "v2beta1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Intent"
                  },
                  "id": "dialogflow.projects.agent.intents.patch",
                  "parameters": {
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent/intents/[^/]+$"
                    },
                    "intentView": {
                      "enum": [
                        "INTENT_VIEW_UNSPECIFIED",
                        "INTENT_VIEW_FULL"
                      ],
                      "enumDescriptions": [
                        "",
                        ""
                      ],
                      "type": "string",
                      "location": "query"
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/agent/intents/{intentsId}",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Intent"
                  }
                },
                "batchDelete": {
                  "id": "dialogflow.projects.agent.intents.batchDelete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1BatchDeleteIntentsRequest"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/agent/intents:batchDelete",
                  "description": "",
                  "path": "v2beta1/{+parent}/intents:batchDelete",
                  "httpMethod": "POST"
                },
                "list": {
                  "id": "dialogflow.projects.agent.intents.list",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1ListIntentsResponse"
                  },
                  "path": "v2beta1/{+parent}/intents",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/agent$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "intentView": {
                      "enum": [
                        "INTENT_VIEW_UNSPECIFIED",
                        "INTENT_VIEW_FULL"
                      ],
                      "enumDescriptions": [
                        "",
                        ""
                      ],
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2beta1/projects/{projectsId}/agent/intents",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "description": ""
                },
                "batchUpdate": {
                  "httpMethod": "POST",
                  "path": "v2beta1/{+parent}/intents:batchUpdate",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2beta1/projects/{projectsId}/agent/intents:batchUpdate",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1BatchUpdateIntentsRequest"
                  },
                  "id": "dialogflow.projects.agent.intents.batchUpdate",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent/intents/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "",
                  "flatPath": "v2beta1/projects/{projectsId}/agent/intents/{intentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2beta1/{+name}",
                  "id": "dialogflow.projects.agent.intents.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE"
                },
                "get": {
                  "httpMethod": "GET",
                  "description": "",
                  "flatPath": "v2beta1/projects/{projectsId}/agent/intents/{intentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.agent.intents.get",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Intent"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/agent/intents/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "intentView": {
                      "enumDescriptions": [
                        "",
                        ""
                      ],
                      "enum": [
                        "INTENT_VIEW_UNSPECIFIED",
                        "INTENT_VIEW_FULL"
                      ],
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v2beta1/{+name}"
                },
                "create": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2beta1Intent"
                  },
                  "httpMethod": "POST",
                  "path": "v2beta1/{+parent}/intents",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "",
                  "parameters": {
                    "languageCode": {
                      "type": "string",
                      "location": "query"
                    },
                    "intentView": {
                      "enumDescriptions": [
                        "",
                        ""
                      ],
                      "type": "string",
                      "location": "query",
                      "enum": [
                        "INTENT_VIEW_UNSPECIFIED",
                        "INTENT_VIEW_FULL"
                      ]
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2beta1Intent"
                  },
                  "flatPath": "v2beta1/projects/{projectsId}/agent/intents",
                  "id": "dialogflow.projects.agent.intents.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                }
              }
            },
            "entityTypes": {
              "resources": {
                "entities": {
                  "methods": {
                    "batchUpdate": {
                      "parameters": {
                        "parent": {
                          "required": true,
[...]
