{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "version": "v3",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    }
  },
  "title": "Dialogflow API",
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "name": "dialogflow",
  "rootUrl": "https://dialogflow.googleapis.com/",
  "canonicalName": "Dialogflow",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "servicePath": "",
  "version_module": true,
  "baseUrl": "https://dialogflow.googleapis.com/",
  "revision": "20260618",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "schemas": {
    "GoogleCloudDialogflowCxV3ToolServiceDirectoryConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ToolServiceDirectoryConfig",
      "properties": {
        "service": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase": {
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase",
      "properties": {
        "condition": {
          "type": "string"
        },
        "caseContent": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1DeployFlowMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1DeployFlowMetadata",
      "properties": {
        "testErrors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestError"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3BatchRunTestCasesRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3BatchRunTestCasesRequest",
      "properties": {
        "environment": {
          "type": "string"
        },
        "testCases": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2SuggestFaqAnswersResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SuggestFaqAnswersResponse",
      "properties": {
        "faqAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2FaqAnswer"
          }
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "latestMessage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1TelephonyDtmfEvents": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1TelephonyDtmfEvents",
      "properties": {
        "dtmfEvents": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "TELEPHONY_DTMF_UNSPECIFIED",
              "DTMF_ONE",
              "DTMF_TWO",
              "DTMF_THREE",
              "DTMF_FOUR",
              "DTMF_FIVE",
              "DTMF_SIX",
              "DTMF_SEVEN",
              "DTMF_EIGHT",
              "DTMF_NINE",
              "DTMF_ZERO",
              "DTMF_A",
              "DTMF_B",
              "DTMF_C",
              "DTMF_D",
              "DTMF_STAR",
              "DTMF_POUND"
            ],
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ToolCall": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ToolCall",
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "toolDisplayName": {
          "type": "string"
        },
        "toolDisplayDetails": {
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "TRIGGERED",
            "NEEDS_CONFIRMATION"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "cesToolset": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "cesTool": {
          "type": "string"
        },
        "cesApp": {
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "tool": {
          "type": "string"
        },
        "inputParameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudDialogflowCxV3SafetySettingsPromptSecuritySettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3SafetySettingsPromptSecuritySettings",
      "properties": {
        "enablePromptSecurity": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3UserUtterance": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3UserUtterance",
      "properties": {
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ImportIntentsRequest": {
      "id": "GoogleCloudDialogflowCxV3ImportIntentsRequest",
      "properties": {
        "intentsContent": {
          "$ref": "GoogleCloudDialogflowCxV3InlineSource"
        },
        "mergeOption": {
          "enum": [
            "MERGE_OPTION_UNSPECIFIED",
            "REJECT",
            "REPLACE",
            "MERGE",
            "RENAME",
            "REPORT_CONFLICT",
            "KEEP"
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "intentsUri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3PlaybookInvocation": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3PlaybookInvocation",
      "properties": {
        "playbook": {
          "type": "string"
        },
        "playbookInput": {
          "$ref": "GoogleCloudDialogflowCxV3PlaybookInput"
        },
        "playbookOutput": {
          "$ref": "GoogleCloudDialogflowCxV3PlaybookOutput"
        },
        "displayName": {
          "readOnly": true,
          "type": "string"
        },
        "playbookState": {
          "enum": [
            "OUTPUT_STATE_UNSPECIFIED",
            "OUTPUT_STATE_OK",
            "OUTPUT_STATE_CANCELLED",
            "OUTPUT_STATE_FAILED",
            "OUTPUT_STATE_ESCALATED",
            "OUTPUT_STATE_PENDING"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleLongrunningOperation": {
      "type": "object",
      "id": "GoogleLongrunningOperation",
      "properties": {
        "error": {
          "$ref": "GoogleRpcStatus"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "type": "string"
        },
        "done": {
          "type": "boolean"
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudDialogflowV2Sentiment": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2Sentiment",
      "properties": {
        "magnitude": {
          "type": "number",
          "format": "float"
        },
        "score": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageMixedAudio": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudio",
      "properties": {
        "segments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3DeploymentResult": {
      "id": "GoogleCloudDialogflowCxV3DeploymentResult",
      "properties": {
        "deploymentTestResults": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "experiment": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3GeneratorModelParameter": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3GeneratorModelParameter",
      "properties": {
        "topK": {
          "type": "integer",
          "format": "int32"
        },
        "maxDecodeSteps": {
          "type": "integer",
          "format": "int32"
        },
        "temperature": {
          "type": "number",
          "format": "float"
        },
        "topP": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDialogflowV2ImportConversationDataOperationResponse": {
      "id": "GoogleCloudDialogflowV2ImportConversationDataOperationResponse",
      "properties": {
        "conversationDataset": {
          "type": "string"
        },
        "importCount": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion",
      "properties": {
        "destinationName": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsAnswerGenerationModelCallSignals": {
      "id": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsAnswerGenerationModelCallSignals",
      "properties": {
        "renderedPrompt": {
          "type": "string"
        },
        "modelOutput": {
          "type": "string"
        },
        "model": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3StopExperimentRequest": {
      "id": "GoogleCloudDialogflowCxV3StopExperimentRequest",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata",
      "properties": {
        "trainingModelType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "SMART_REPLY_DUAL_ENCODER_MODEL",
            "SMART_REPLY_BERT_MODEL"
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3ExportTestCasesResponse": {
      "id": "GoogleCloudDialogflowCxV3ExportTestCasesResponse",
      "properties": {
        "gcsUri": {
          "type": "string"
        },
        "content": {
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ExportAgentResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ExportAgentResponse",
      "properties": {
        "agentUri": {
          "type": "string"
        },
        "agentContent": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TestCaseError": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3TestCaseError",
      "properties": {
        "testCase": {
          "$ref": "GoogleCloudDialogflowCxV3TestCase"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeOperationMetadata",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "knowledgeBase": {
          "type": "string"
        },
        "exportOperationMetadata": {
          "$ref": "GoogleCloudDialogflowV2beta1ExportOperationMetadata"
        }
      }
    },
    "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsRewriterModelCallSignals": {
      "id": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsRewriterModelCallSignals",
      "properties": {
        "renderedPrompt": {
          "type": "string"
        },
        "modelOutput": {
          "type": "string"
        },
        "model": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExperimentResultConfidenceInterval": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ExperimentResultConfidenceInterval",
      "properties": {
        "confidenceLevel": {
          "type": "number",
          "format": "double"
        },
        "ratio": {
          "type": "number",
          "format": "double"
        },
        "lowerBound": {
          "type": "number",
          "format": "double"
        },
        "upperBound": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ListVersionsResponse": {
      "id": "GoogleCloudDialogflowCxV3ListVersionsResponse",
      "properties": {
        "versions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Version"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources",
      "properties": {
        "instructionIndexes": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TestCaseError": {
      "id": "GoogleCloudDialogflowCxV3beta1TestCaseError",
      "properties": {
        "testCase": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCase"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ClearSuggestionFeatureConfigOperationMetadata": {
      "id": "GoogleCloudDialogflowV2ClearSuggestionFeatureConfigOperationMetadata",
      "properties": {
        "conversationProfile": {
          "type": "string"
        },
        "participantRole": {
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "suggestionFeatureType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3AdvancedSettings": {
      "id": "GoogleCloudDialogflowCxV3AdvancedSettings",
      "properties": {
        "loggingSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettingsLoggingSettings"
        },
        "speechSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettingsSpeechSettings"
        },
        "dtmfSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettingsDtmfSettings"
        },
        "audioExportGcsDestination": {
          "$ref": "GoogleCloudDialogflowCxV3GcsDestination"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3LookupEnvironmentHistoryResponse": {
      "id": "GoogleCloudDialogflowCxV3LookupEnvironmentHistoryResponse",
      "properties": {
        "environments": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Environment"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Example": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3Example",
      "properties": {
        "name": {
          "type": "string"
        },
        "actions": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Action"
          },
          "type": "array"
        },
        "conversationState": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "OUTPUT_STATE_UNSPECIFIED",
            "OUTPUT_STATE_OK",
            "OUTPUT_STATE_CANCELLED",
            "OUTPUT_STATE_FAILED",
            "OUTPUT_STATE_ESCALATED",
            "OUTPUT_STATE_PENDING"
          ]
        },
        "playbookOutput": {
          "$ref": "GoogleCloudDialogflowCxV3PlaybookOutput"
        },
        "tokenCount": {
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "playbookInput": {
          "$ref": "GoogleCloudDialogflowCxV3PlaybookInput"
        },
        "description": {
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "languageCode": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1QueryInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1QueryInput",
      "properties": {
        "languageCode": {
          "type": "string"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TextInput"
        },
        "event": {
          "$ref": "GoogleCloudDialogflowCxV3beta1EventInput"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1IntentInput"
        },
        "audio": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AudioInput"
        },
        "dtmf": {
          "$ref": "GoogleCloudDialogflowCxV3beta1DtmfInput"
        },
        "toolCallResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolCallResult"
        }
      }
    },
    "GoogleCloudDialogflowV2SmartReplyModelMetadata": {
      "id": "GoogleCloudDialogflowV2SmartReplyModelMetadata",
      "properties": {
        "trainingModelType": {
          "type": "string",
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "SMART_REPLY_DUAL_ENCODER_MODEL",
            "SMART_REPLY_BERT_MODEL"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ToolAuthenticationOAuthConfig": {
      "id": "GoogleCloudDialogflowCxV3ToolAuthenticationOAuthConfig",
      "properties": {
        "clientId": {
          "type": "string"
        },
        "tokenEndpoint": {
          "type": "string"
        },
        "oauthGrantType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "OAUTH_GRANT_TYPE_UNSPECIFIED",
            "CLIENT_CREDENTIAL"
          ],
          "type": "string"
        },
        "secretVersionForClientSecret": {
          "type": "string"
        },
        "clientSecret": {
          "type": "string"
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageCard": {
      "id": "GoogleCloudDialogflowV2IntentMessageCard",
      "properties": {
        "title": {
          "type": "string"
        },
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageCardButton"
          }
        },
        "imageUri": {
          "type": "string"
        },
        "subtitle": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1DtmfInput": {
      "id": "GoogleCloudDialogflowCxV3beta1DtmfInput",
      "properties": {
        "finishDigit": {
          "type": "string"
        },
        "digits": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3EntityTypeEntity": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3EntityTypeEntity",
      "properties": {
        "value": {
          "type": "string"
        },
        "synonyms": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebService": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebService",
      "properties": {
        "password": {
          "deprecated": true,
          "type": "string"
        },
        "webhookType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "WEBHOOK_TYPE_UNSPECIFIED",
            "STANDARD",
            "FLEXIBLE"
          ]
        },
        "requestHeaders": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "secretVersionsForRequestHeaders": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceSecretVersionHeaderValue"
          }
        },
        "secretVersionForUsernamePassword": {
          "type": "string"
        },
        "serviceAgentAuth": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SERVICE_AGENT_AUTH_UNSPECIFIED",
            "NONE",
            "ID_TOKEN",
            "ACCESS_TOKEN"
          ],
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "oauthConfig": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceOAuthConfig"
        },
        "parameterMapping": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "requestBody": {
          "type": "string"
        },
        "httpMethod": {
          "enum": [
            "HTTP_METHOD_UNSPECIFIED",
            "POST",
            "GET",
            "HEAD",
            "PUT",
            "DELETE",
            "PATCH",
            "OPTIONS"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "username": {
          "deprecated": true,
          "type": "string"
        },
        "serviceAccountAuthConfig": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceServiceAccountAuthConfig"
        },
        "allowedCaCerts": {
          "items": {
            "type": "string",
            "format": "byte"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TestCaseResult": {
      "id": "GoogleCloudDialogflowCxV3TestCaseResult",
      "properties": {
        "environment": {
          "type": "string"
        },
        "testResult": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ]
        },
        "name": {
          "type": "string"
        },
        "conversationTurns": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ConversationTurn"
          },
          "type": "array"
        },
        "testTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse",
      "properties": {
        "textToSpeech": {
          "type": "string"
        },
        "displayText": {
          "type": "string"
        },
        "ssml": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookServiceDirectoryConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1WebhookServiceDirectoryConfig",
      "properties": {
        "service": {
          "type": "string"
        },
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebService"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ResourceName": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResourceName",
      "properties": {
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageText": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResponseMessageText",
      "properties": {
        "text": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource",
      "properties": {
        "snippets": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ListPlaybookVersionsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ListPlaybookVersionsResponse",
      "properties": {
        "playbookVersions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3PlaybookVersion"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SummarySuggestionSummarySection": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SummarySuggestionSummarySection",
      "properties": {
        "section": {
          "type": "string"
        },
        "summary": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ExportAgentResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ExportAgentResponse",
      "properties": {
        "agentContent": {
          "type": "string",
          "format": "byte"
        },
        "agentUri": {
          "type": "string"
        },
        "commitSha": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsAnswerPart": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3DataStoreConnectionSignalsAnswerPart",
      "properties": {
        "text": {
          "type": "string"
        },
        "supportingIndices": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3PlaybookImportStrategy": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3PlaybookImportStrategy",
      "properties": {
        "nestedResourceImportStrategy": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPORT_STRATEGY_UNSPECIFIED",
            "IMPORT_STRATEGY_CREATE_NEW",
            "IMPORT_STRATEGY_REPLACE",
            "IMPORT_STRATEGY_KEEP",
            "IMPORT_STRATEGY_MERGE",
            "IMPORT_STRATEGY_THROW_ERROR"
          ],
          "type": "string"
        },
        "mainPlaybookImportStrategy": {
          "enum": [
            "IMPORT_STRATEGY_UNSPECIFIED",
            "IMPORT_STRATEGY_CREATE_NEW",
            "IMPORT_STRATEGY_REPLACE",
            "IMPORT_STRATEGY_KEEP",
            "IMPORT_STRATEGY_MERGE",
            "IMPORT_STRATEGY_THROW_ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "toolImportStrategy": {
          "enum": [
            "IMPORT_STRATEGY_UNSPECIFIED",
            "IMPORT_STRATEGY_CREATE_NEW",
            "IMPORT_STRATEGY_REPLACE",
            "IMPORT_STRATEGY_KEEP",
            "IMPORT_STRATEGY_MERGE",
            "IMPORT_STRATEGY_THROW_ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3PlaybookStep": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3PlaybookStep",
      "properties": {
        "text": {
          "type": "string"
        },
        "steps": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3PlaybookStep"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponse",
      "properties": {
        "generatorSuggestionAnswers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswer"
          },
          "type": "array"
        },
        "latestMessage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet",
      "properties": {
        "text": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudDialogflowCxV3SecuritySettingsInsightsExportSettings": {
      "id": "GoogleCloudDialogflowCxV3SecuritySettingsInsightsExportSettings",
      "properties": {
        "enableInsightsExport": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponseConflictingResources": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponseConflictingResources",
      "properties": {
        "entityDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "entityTypeDisplayNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3PlaybookTransition": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3PlaybookTransition",
      "properties": {
        "playbook": {
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessage": {
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessage",
      "properties": {
        "mixedAudio": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudio",
          "readOnly": true
        },
        "toolCall": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolCall"
        },
        "liveAgentHandoff": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageLiveAgentHandoff"
        },
        "playAudio": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio"
        },
        "outputAudioText": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageOutputAudioText"
        },
        "telephonyTransferCall": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageTelephonyTransferCall"
        },
        "endInteraction": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction",
          "readOnly": true
        },
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageText"
        },
        "conversationSuccess": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageConversationSuccess"
        },
        "channel": {
          "type": "string"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "knowledgeInfoCard": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageKnowledgeInfoCard"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TransitionRouteGroup": {
      "id": "GoogleCloudDialogflowCxV3TransitionRouteGroup",
      "properties": {
        "transitionRoutes": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionRoute"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion",
      "properties": {
        "reply": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedReply"
        },
        "action": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedAction"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageText": {
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageText",
      "properties": {
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3SafetySettingsRaiSettingsCategoryFilter": {
      "id": "GoogleCloudDialogflowCxV3SafetySettingsRaiSettingsCategoryFilter",
      "properties": {
        "category": {
          "enum": [
            "SAFETY_CATEGORY_UNSPECIFIED",
            "DANGEROUS_CONTENT",
            "HATE_SPEECH",
            "HARASSMENT",
            "SEXUALLY_EXPLICIT_CONTENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "filterLevel": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SAFETY_FILTER_LEVEL_UNSPECIFIED",
            "BLOCK_NONE",
            "BLOCK_FEW",
            "BLOCK_SOME",
            "BLOCK_MOST"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources",
      "properties": {
        "intentDisplayNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "entityDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3ImportTestCasesRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ImportTestCasesRequest",
      "properties": {
        "gcsUri": {
          "type": "string"
        },
        "content": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageCarouselSelect": {
      "id": "GoogleCloudDialogflowV2IntentMessageCarouselSelect",
      "properties": {
        "items": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Fulfillment": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3Fulfillment",
      "properties": {
        "webhook": {
          "type": "string"
        },
        "setParameterActions": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentSetParameterAction"
          },
          "type": "array"
        },
        "conditionalCases": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases"
          },
          "type": "array"
        },
        "generators": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentGeneratorSettings"
          },
          "type": "array"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "enableGenerativeFallback": {
          "type": "boolean"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
          }
        },
        "tag": {
          "type": "string"
        },
        "returnPartialResponses": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerEventSource": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerEventSource",
      "properties": {
        "snippets": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        },
        "event": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3PlaybookVersion": {
      "id": "GoogleCloudDialogflowCxV3PlaybookVersion",
      "properties": {
        "examples": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Example"
          },
          "type": "array"
        },
        "playbook": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3Playbook"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswer": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswer",
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "sourceGenerator": {
          "type": "string"
        },
        "generatorSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1GeneratorSuggestion"
        }
      }
    },
    "GoogleCloudDialogflowCxV3EnvironmentWebhookConfig": {
      "id": "GoogleCloudDialogflowCxV3EnvironmentWebhookConfig",
      "properties": {
        "webhookOverrides": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Webhook"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1EventInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1EventInput",
      "properties": {
        "event": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3GenerativeSettingsKnowledgeConnectorSettings": {
      "id": "GoogleCloudDialogflowCxV3GenerativeSettingsKnowledgeConnectorSettings",
      "properties": {
        "agentIdentity": {
          "type": "string"
        },
        "disableDataStoreFallback": {
          "type": "boolean"
        },
        "businessDescription": {
          "type": "string"
        },
        "business": {
          "type": "string"
        },
        "agent": {
          "type": "string"
        },
        "agentScope": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3SafetySettingsPhrase": {
      "id": "GoogleCloudDialogflowCxV3SafetySettingsPhrase",
      "properties": {
        "languageCode": {
          "type": "string"
        },
        "text": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExportEntityTypesRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ExportEntityTypesRequest",
      "properties": {
        "entityTypesUri": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "dataFormat": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "BLOB",
            "JSON_PACKAGE"
          ]
        },
        "entityTypes": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "entityTypesContentInline": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction": {
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction",
      "properties": {
        "url": {
          "type": "string"
        },
        "urlTypeHint": {
          "type": "string",
          "enum": [
            "URL_TYPE_HINT_UNSPECIFIED",
            "AMP_ACTION",
            "AMP_CONTENT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3BatchRunTestCasesMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3BatchRunTestCasesMetadata",
      "properties": {
        "errors": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestError"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1EnvironmentTestCasesConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1EnvironmentTestCasesConfig",
      "properties": {
        "enablePredeploymentRun": {
          "type": "boolean"
        },
        "testCases": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enableContinuousRun": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3DataStoreConnection": {
      "id": "GoogleCloudDialogflowCxV3DataStoreConnection",
      "properties": {
        "documentProcessingMode": {
          "enum": [
            "DOCUMENT_PROCESSING_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "dataStoreType": {
          "type": "string",
          "enum": [
            "DATA_STORE_TYPE_UNSPECIFIED",
            "PUBLIC_WEB",
            "UNSTRUCTURED",
            "STRUCTURED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "dataStore": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ListWebhooksResponse": {
      "id": "GoogleCloudDialogflowCxV3ListWebhooksResponse",
      "properties": {
        "webhooks": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Webhook"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1IntentParameter": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1IntentParameter",
      "properties": {
        "redact": {
          "type": "boolean"
        },
        "entityType": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "isList": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "text": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "title": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebServiceServiceAccountAuthConfig": {
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceServiceAccountAuthConfig",
      "properties": {
        "serviceAccount": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ToolFunctionTool": {
      "id": "GoogleCloudDialogflowCxV3ToolFunctionTool",
      "properties": {
        "outputSchema": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "inputSchema": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageTableCard": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageTableCard",
      "properties": {
        "title": {
          "type": "string"
        },
        "columnProperties": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageColumnProperties"
          },
          "type": "array"
        },
        "buttons": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButton"
          },
          "type": "array"
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageTableCardRow"
          }
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "subtitle": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo",
      "properties": {
        "ingestedParametersDebugInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo"
          }
        },
        "contextReferenceRetrieved": {
          "type": "boolean"
        },
        "projectNotAllowlisted": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1DataStoreConnection": {
      "id": "GoogleCloudDialogflowCxV3beta1DataStoreConnection",
      "properties": {
        "dataStore": {
          "type": "string"
        },
        "dataStoreType": {
          "enum": [
            "DATA_STORE_TYPE_UNSPECIFIED",
            "PUBLIC_WEB",
            "UNSTRUCTURED",
            "STRUCTURED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "documentProcessingMode": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "DOCUMENT_PROCESSING_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1RunContinuousTestResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1RunContinuousTestResponse",
      "properties": {
        "continuousTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ContinuousTestResult"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest": {
      "id": "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest",
      "properties": {
        "source": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "payload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageQuickReplies": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageQuickReplies",
      "properties": {
        "title": {
          "type": "string"
        },
        "quickReplies": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2ToolCall": {
      "id": "GoogleCloudDialogflowV2ToolCall",
      "properties": {
        "inputParameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "tool": {
          "type": "string"
        },
        "cesApp": {
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "cesTool": {
          "type": "string"
        },
        "cesToolset": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "TRIGGERED",
            "NEEDS_CONFIRMATION"
          ]
        },
        "toolDisplayName": {
          "type": "string"
        },
        "toolDisplayDetails": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery",
      "properties": {
        "searchContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuerySearchContext"
          }
        },
        "queryText": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfo",
      "properties": {
        "queryCategorizationFailureReason": {
          "type": "string",
          "enum": [
            "QUERY_CATEGORIZATION_FAILURE_REASON_UNSPECIFIED",
            "QUERY_CATEGORIZATION_INVALID_CONFIG",
            "QUERY_CATEGORIZATION_RESULT_NOT_FOUND",
            "QUERY_CATEGORIZATION_FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "queryGenerationDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoQueryGenerationDebugInfo"
        },
        "knowledgeAssistBehavior": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoKnowledgeAssistBehavior"
        },
        "serviceLatency": {
          "$ref": "GoogleCloudDialogflowV2beta1ServiceLatency"
        },
        "cesDebugInfo": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "datastoreResponseReason": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DATASTORE_RESPONSE_REASON_UNSPECIFIED",
            "NONE",
            "SEARCH_OUT_OF_QUOTA",
            "SEARCH_EMPTY_RESULTS",
            "ANSWER_GENERATION_GEN_AI_DISABLED",
            "ANSWER_GENERATION_OUT_OF_QUOTA",
            "ANSWER_GENERATION_ERROR",
            "ANSWER_GENERATION_NOT_ENOUGH_INFO",
            "ANSWER_GENERATION_RAI_FAILED",
            "ANSWER_GENERATION_NOT_GROUNDED"
          ]
        },
        "ingestedContextReferenceDebugInfo": {
          "$ref": "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfo"
        },
        "queryGenerationFailureReason": {
          "enum": [
            "QUERY_GENERATION_FAILURE_REASON_UNSPECIFIED",
            "QUERY_GENERATION_OUT_OF_QUOTA",
            "QUERY_GENERATION_FAILED",
            "QUERY_GENERATION_NO_QUERY_GENERATED",
            "QUERY_GENERATION_RAI_FAILED",
            "NOT_IN_ALLOWLIST",
            "QUERY_GENERATION_QUERY_REDACTED",
            "QUERY_GENERATION_LLM_RESPONSE_PARSE_FAILED",
            "QUERY_GENERATION_EMPTY_CONVERSATION",
            "QUERY_GENERATION_EMPTY_LAST_MESSAGE",
            "QUERY_GENERATION_TRIGGERING_EVENT_CONDITION_NOT_MET"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmText": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmText",
      "properties": {
        "rbmSuggestion": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion"
          },
          "type": "array"
        },
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "id": "GoogleProtobufEmpty",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3RunTestCaseRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3RunTestCaseRequest",
      "properties": {
        "environment": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3RunContinuousTestResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3RunContinuousTestResponse",
      "properties": {
        "continuousTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3ContinuousTestResult"
        }
      }
    },
    "GoogleCloudDialogflowV2ToolCallResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2ToolCallResult",
      "properties": {
        "tool": {
          "type": "string"
        },
        "cesTool": {
          "type": "string"
        },
        "cesApp": {
          "type": "string"
        },
        "error": {
          "$ref": "GoogleCloudDialogflowV2ToolCallResultError"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "answerRecord": {
          "type": "string"
        },
        "cesToolset": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "rawContent": {
          "type": "string",
          "format": "byte"
        },
        "content": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TransitionCoverage": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3TransitionCoverage",
      "properties": {
        "transitions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionCoverageTransition"
          }
        },
        "coverageScore": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TestRunDifference": {
      "id": "GoogleCloudDialogflowCxV3beta1TestRunDifference",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DIFF_TYPE_UNSPECIFIED",
            "INTENT",
            "PAGE",
            "PARAMETERS",
            "UTTERANCE",
            "FLOW"
          ],
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1EnvironmentWebhookConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1EnvironmentWebhookConfig",
      "properties": {
        "webhookOverrides": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Webhook"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1GeneratorSuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1GeneratorSuggestion",
      "properties": {
        "agentCoachingSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestion"
        },
        "summarySuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1SummarySuggestion"
        },
        "freeFormSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1FreeFormSuggestion"
        },
        "toolCallInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfo"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3Changelog": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3Changelog",
      "properties": {
        "languageCode": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "type": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "resource": {
          "type": "string"
        },
        "userEmail": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion": {
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion",
      "properties": {
        "suggestionIndex": {
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        },
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources"
        },
        "similarityScore": {
          "type": "number",
          "format": "float",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Experiment": {
      "id": "GoogleCloudDialogflowCxV3Experiment",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "result": {
          "$ref": "GoogleCloudDialogflowCxV3ExperimentResult"
        },
        "displayName": {
          "type": "string"
        },
        "rolloutFailureReason": {
          "type": "string"
        },
        "lastUpdateTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "rolloutState": {
          "$ref": "GoogleCloudDialogflowCxV3RolloutState"
        },
        "definition": {
          "$ref": "GoogleCloudDialogflowCxV3ExperimentDefinition"
        },
        "description": {
          "type": "string"
        },
        "experimentLength": {
          "type": "string",
          "format": "google-duration"
        },
        "name": {
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "RUNNING",
            "DONE",
            "ROLLOUT_FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "rolloutConfig": {
          "$ref": "GoogleCloudDialogflowCxV3RolloutConfig"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "variantsHistory": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3VariantsHistory"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3InputAudioConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3InputAudioConfig",
      "properties": {
        "audioEncoding": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "AUDIO_ENCODING_LINEAR_16",
            "AUDIO_ENCODING_FLAC",
            "AUDIO_ENCODING_MULAW",
            "AUDIO_ENCODING_AMR",
            "AUDIO_ENCODING_AMR_WB",
            "AUDIO_ENCODING_OGG_OPUS",
            "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE",
            "AUDIO_ENCODING_ALAW"
          ]
        },
        "enableWordInfo": {
          "type": "boolean"
        },
        "singleUtterance": {
          "type": "boolean"
        },
        "optOutConformerModelMigration": {
          "type": "boolean"
        },
        "bargeInConfig": {
          "$ref": "GoogleCloudDialogflowCxV3BargeInConfig"
        },
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32"
        },
        "modelVariant": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SPEECH_MODEL_VARIANT_UNSPECIFIED",
            "USE_BEST_AVAILABLE",
            "USE_STANDARD",
            "USE_ENHANCED"
          ]
        },
        "phraseHints": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "model": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3PlaybookInput": {
      "id": "GoogleCloudDialogflowCxV3PlaybookInput",
      "properties": {
        "precedingConversationSummary": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCardButton": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCardButton",
      "properties": {
        "title": {
          "type": "string"
        },
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction"
        }
      }
    },
    "GoogleCloudDialogflowCxV3Page": {
      "id": "GoogleCloudDialogflowCxV3Page",
      "properties": {
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "entryFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "eventHandlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EventHandler"
          }
        },
        "form": {
          "$ref": "GoogleCloudDialogflowCxV3Form"
        },
        "transitionRouteGroups": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "knowledgeConnectorSettings": {
          "$ref": "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings"
        },
        "displayName": {
          "type": "string"
        },
        "transitionRoutes": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionRoute"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3VersionVariants": {
      "id": "GoogleCloudDialogflowCxV3VersionVariants",
      "properties": {
        "variants": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3VersionVariantsVariant"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1PageInfoFormInfoParameterInfo": {
      "id": "GoogleCloudDialogflowCxV3beta1PageInfoFormInfoParameterInfo",
      "properties": {
        "value": {
          "type": "any"
        },
        "justCollected": {
          "type": "boolean"
        },
        "required": {
          "type": "boolean"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "PARAMETER_STATE_UNSPECIFIED",
            "EMPTY",
            "INVALID",
            "FILLED"
          ]
        },
        "displayName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult",
      "properties": {
        "duplicateSuggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion"
          },
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowCxV3Form": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3Form",
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FormParameter"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3TextInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3TextInput",
      "properties": {
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3IntentParameter": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3IntentParameter",
      "properties": {
        "entityType": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "isList": {
          "type": "boolean"
        },
        "redact": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2CreateConversationModelEvaluationOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2CreateConversationModelEvaluationOperationMetadata",
      "properties": {
        "conversationModelEvaluation": {
          "type": "string"
        },
        "conversationModel": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "RUNNING",
            "CANCELLED",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudio": {
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudio",
      "properties": {
        "segments": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ResponseMessageMixedAudioSegment"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ListTestCasesResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ListTestCasesResponse",
      "properties": {
        "testCases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestCase"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2SpeechWordInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SpeechWordInfo",
      "properties": {
        "word": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "startOffset": {
          "type": "string",
          "format": "google-duration"
        },
        "endOffset": {
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1EntityTypeEntity": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1EntityTypeEntity",
      "properties": {
        "value": {
          "type": "string"
        },
        "synonyms": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart",
      "properties": {
        "alias": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "userDefined": {
          "type": "boolean"
        },
        "entityType": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1Intent": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1Intent",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "dtmfPattern": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "isFallback": {
          "type": "boolean"
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentParameter"
          }
        },
        "trainingPhrases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase"
          }
        },
        "priority": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2FreeFormSuggestion": {
      "id": "GoogleCloudDialogflowV2FreeFormSuggestion",
      "properties": {
        "response": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FlowTransition": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3FlowTransition",
      "properties": {
        "flow": {
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3IntentTrainingPhrase": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3IntentTrainingPhrase",
      "properties": {
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3IntentTrainingPhrasePart"
          }
        },
        "id": {
          "readOnly": true,
          "type": "string"
        },
        "repeatCount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowV2AgentCoachingInstruction": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2AgentCoachingInstruction",
      "properties": {
        "condition": {
          "type": "string"
        },
        "agentAction": {
          "type": "string"
        },
        "displayDetails": {
          "type": "string"
        },
        "duplicateCheckResult": {
          "$ref": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult",
          "readOnly": true
        },
        "triggeringEvent": {
          "type": "string",
          "enum": [
            "TRIGGER_EVENT_UNSPECIFIED",
            "END_OF_UTTERANCE",
            "MANUAL_CALL",
            "CUSTOMER_MESSAGE",
            "AGENT_MESSAGE",
            "TOOL_CALL_COMPLETION"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "displayName": {
          "type": "string"
        },
        "systemAction": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3RunTestCaseResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3RunTestCaseResponse",
      "properties": {
        "result": {
          "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageText": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageText",
      "properties": {
        "text": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2QueryResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2QueryResult",
      "properties": {
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowV2SentimentAnalysisResult"
        },
        "languageCode": {
          "type": "string"
        },
        "cancelsSlotFilling": {
          "type": "boolean"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowV2Intent"
        },
        "action": {
          "type": "string"
        },
        "webhookSource": {
          "type": "string"
        },
        "speechRecognitionConfidence": {
          "type": "number",
          "format": "float"
        },
        "queryText": {
          "type": "string"
        },
        "outputContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          },
          "type": "array"
        },
        "diagnosticInfo": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "webhookPayload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "allRequiredParamsPresent": {
          "type": "boolean"
        },
        "fulfillmentText": {
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "intentDetectionConfidence": {
          "type": "number",
          "format": "float"
        },
        "fulfillmentMessages": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3NluSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3NluSettings",
      "properties": {
        "modelType": {
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "MODEL_TYPE_STANDARD",
            "MODEL_TYPE_ADVANCED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "modelTrainingMode": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "MODEL_TRAINING_MODE_UNSPECIFIED",
            "MODEL_TRAINING_MODE_AUTOMATIC",
            "MODEL_TRAINING_MODE_MANUAL"
          ],
          "type": "string"
        },
        "classificationThreshold": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDialogflowCxV3DeployFlowResponse": {
      "id": "GoogleCloudDialogflowCxV3DeployFlowResponse",
      "properties": {
        "deployment": {
          "type": "string"
        },
        "environment": {
          "$ref": "GoogleCloudDialogflowCxV3Environment"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TurnSignals": {
      "id": "GoogleCloudDialogflowCxV3beta1TurnSignals",
      "properties": {
        "dtmfUsed": {
          "type": "boolean"
        },
        "webhookStatuses": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "sentimentMagnitude": {
          "type": "number",
          "format": "float"
        },
        "sentimentScore": {
          "type": "number",
          "format": "float"
        },
        "noUserInput": {
          "type": "boolean"
        },
        "agentEscalated": {
          "type": "boolean"
        },
        "noMatch": {
          "type": "boolean"
        },
        "failureReasons": {
          "type": "array",
          "items": {
            "enum": [
              "FAILURE_REASON_UNSPECIFIED",
              "FAILED_INTENT",
              "FAILED_WEBHOOK"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              ""
            ]
          }
        },
        "reachedEndPage": {
          "type": "boolean"
        },
        "userEscalated": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageSimpleResponses": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageSimpleResponses",
      "properties": {
        "simpleResponses": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageSimpleResponse"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AnnotatedMessagePart": {
      "id": "GoogleCloudDialogflowV2beta1AnnotatedMessagePart",
      "properties": {
        "entityType": {
          "type": "string"
        },
        "formattedValue": {
          "type": "any"
        },
        "text": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TransitionRouteGroupCoverageCoverageTransition": {
      "id": "GoogleCloudDialogflowCxV3TransitionRouteGroupCoverageCoverageTransition",
      "properties": {
        "covered": {
          "type": "boolean"
        },
        "transitionRoute": {
          "$ref": "GoogleCloudDialogflowCxV3TransitionRoute"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ValidationMessage": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ValidationMessage",
      "properties": {
        "resourceNames": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResourceName"
          },
          "type": "array"
        },
        "detail": {
          "type": "string"
        },
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "ERROR"
          ],
          "type": "string"
        },
        "resourceType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "AGENT",
            "INTENT",
            "INTENT_TRAINING_PHRASE",
            "INTENT_PARAMETER",
            "INTENTS",
            "INTENT_TRAINING_PHRASES",
            "ENTITY_TYPE",
            "ENTITY_TYPES",
            "WEBHOOK",
            "FLOW",
            "PAGE",
            "PAGES",
            "TRANSITION_ROUTE_GROUP",
            "AGENT_TRANSITION_ROUTE_GROUP"
          ],
          "type": "string"
        },
        "resources": {
          "deprecated": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3FlowValidationResult": {
      "id": "GoogleCloudDialogflowCxV3FlowValidationResult",
      "properties": {
        "name": {
          "type": "string"
        },
        "validationMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ValidationMessage"
          }
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3QueryParameters": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3QueryParameters",
      "properties": {
        "sessionTtl": {
          "type": "string",
          "format": "google-duration"
        },
        "geoLocation": {
          "$ref": "GoogleTypeLatLng"
        },
        "currentPlaybook": {
          "type": "string"
        },
        "sessionEntityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
          },
          "type": "array"
        },
        "webhookHeaders": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "channel": {
          "type": "string"
        },
        "parameterScope": {
          "type": "string"
        },
        "llmModelSettings": {
          "$ref": "GoogleCloudDialogflowCxV3LlmModelSettings"
        },
        "timeZone": {
          "type": "string"
        },
        "endUserMetadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "populateDataStoreConnectionSignals": {
          "type": "boolean",
          "deprecated": true
        },
        "searchConfig": {
          "$ref": "GoogleCloudDialogflowCxV3SearchConfig"
        },
        "currentPage": {
          "type": "string"
        },
        "flowVersions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "analyzeQueryTextSentiment": {
          "type": "boolean"
        },
        "disableWebhook": {
          "type": "boolean"
        },
        "payload": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ListSessionEntityTypesResponse": {
      "id": "GoogleCloudDialogflowCxV3ListSessionEntityTypesResponse",
      "properties": {
        "sessionEntityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3SessionEntityType"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageImage": {
      "id": "GoogleCloudDialogflowV2IntentMessageImage",
      "properties": {
        "accessibilityText": {
          "type": "string"
        },
        "imageUri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest",
      "properties": {
        "encryptionSpec": {
          "$ref": "GoogleCloudDialogflowV2beta1EncryptionSpec"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceOAuthConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceOAuthConfig",
      "properties": {
        "clientId": {
          "type": "string"
        },
        "tokenEndpoint": {
          "type": "string"
        },
        "secretVersionForClientSecret": {
          "type": "string"
        },
        "clientSecret": {
          "type": "string"
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionSources": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources",
      "properties": {
        "instructionIndexes": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      }
    },
    "GoogleCloudLocationListLocationsResponse": {
      "type": "object",
      "id": "GoogleCloudLocationListLocationsResponse",
      "properties": {
        "locations": {
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2DeleteConversationModelOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2DeleteConversationModelOperationMetadata",
      "properties": {
        "conversationModel": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowCxV3AgentGitIntegrationSettingsGithubSettings": {
      "id": "GoogleCloudDialogflowCxV3AgentGitIntegrationSettingsGithubSettings",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "accessToken": {
          "type": "string"
        },
        "repositoryUri": {
          "type": "string"
        },
        "trackingBranch": {
          "type": "string"
        },
        "branches": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestSentimentAnalysisResult": {
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestSentimentAnalysisResult",
      "properties": {
        "magnitude": {
          "type": "number",
          "format": "float"
        },
        "score": {
          "type": "number",
          "format": "float"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3AnswerFeedbackRatingReason": {
      "id": "GoogleCloudDialogflowCxV3AnswerFeedbackRatingReason",
      "properties": {
        "reasonLabels": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "feedback": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FilterSpecs": {
      "id": "GoogleCloudDialogflowCxV3FilterSpecs",
      "properties": {
        "filter": {
          "type": "string"
        },
        "dataStores": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3CreateVersionOperationMetadata": {
      "id": "GoogleCloudDialogflowCxV3CreateVersionOperationMetadata",
      "properties": {
        "version": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo",
      "properties": {
        "tag": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2EntityType": {
      "id": "GoogleCloudDialogflowV2EntityType",
      "properties": {
        "entities": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityTypeEntity"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "autoExpansionMode": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "AUTO_EXPANSION_MODE_UNSPECIFIED",
            "AUTO_EXPANSION_MODE_DEFAULT"
          ],
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "kind": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "KIND_UNSPECIFIED",
            "KIND_MAP",
            "KIND_LIST",
            "KIND_REGEXP"
          ]
        },
        "enableFuzzyExtraction": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2Intent": {
      "id": "GoogleCloudDialogflowV2Intent",
      "properties": {
        "events": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string"
        },
        "mlDisabled": {
          "type": "boolean"
        },
        "liveAgentHandoff": {
          "type": "boolean"
        },
        "trainingPhrases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentTrainingPhrase"
          }
        },
        "action": {
          "type": "string"
        },
        "defaultResponsePlatforms": {
          "type": "array",
          "items": {
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "FACEBOOK",
              "SLACK",
              "TELEGRAM",
              "KIK",
              "SKYPE",
              "LINE",
              "VIBER",
              "ACTIONS_ON_GOOGLE",
              "GOOGLE_HANGOUTS"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "isFallback": {
          "type": "boolean"
        },
        "endInteraction": {
          "type": "boolean"
        },
        "rootFollowupIntentName": {
          "readOnly": true,
          "type": "string"
        },
        "webhookState": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "WEBHOOK_STATE_UNSPECIFIED",
            "WEBHOOK_STATE_ENABLED",
            "WEBHOOK_STATE_ENABLED_FOR_SLOT_FILLING"
          ],
          "type": "string"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          }
        },
        "parentFollowupIntentName": {
          "type": "string"
        },
        "outputContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "followupIntentInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentFollowupIntentInfo"
          },
          "readOnly": true
        },
        "priority": {
          "type": "integer",
          "format": "int32"
        },
        "resetContexts": {
          "type": "boolean"
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentParameter"
          }
        },
        "inputContextNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SetSuggestionFeatureConfigOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SetSuggestionFeatureConfigOperationMetadata",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "participantRole": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "type": "string"
        },
        "suggestionFeatureType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "DIALOGFLOW_ASSIST",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ],
          "type": "string"
        },
        "conversationProfile": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionSampleResponse": {
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionSampleResponse",
      "properties": {
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult"
        },
        "responseText": {
          "type": "string"
        },
        "sources": {
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3BoostSpecConditionBoostSpecBoostControlSpecControlPoint": {
      "type": "object",
[...]
