{
  "name": "dialogflow",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "canonicalName": "Dialogflow",
  "revision": "20260720",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "baseUrl": "https://dialogflow.googleapis.com/",
  "title": "Dialogflow API",
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "version_module": true,
  "id": "dialogflow:v3beta1",
  "rootUrl": "https://dialogflow.googleapis.com/",
  "schemas": {
    "GoogleCloudDialogflowV2ToolCall": {
      "properties": {
        "action": {
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "TRIGGERED",
            "NEEDS_CONFIRMATION"
          ]
        },
        "cesToolset": {
          "type": "string"
        },
        "cesApp": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        },
        "toolDisplayDetails": {
          "type": "string"
        },
        "cesTool": {
          "type": "string"
        },
        "toolDisplayName": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ToolCall"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeOperationMetadata": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeOperationMetadata",
      "properties": {
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ]
        },
        "knowledgeBase": {
          "type": "string"
        },
        "exportOperationMetadata": {
          "$ref": "GoogleCloudDialogflowV2beta1ExportOperationMetadata"
        },
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TransitionRouteGroup": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "transitionRoutes": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRoute"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroup"
    },
    "GoogleCloudDialogflowV2GeneratorSuggestion": {
      "properties": {
        "agentCoachingSuggestion": {
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestion"
        },
        "summarySuggestion": {
          "$ref": "GoogleCloudDialogflowV2SummarySuggestion"
        },
        "toolCallInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2GeneratorSuggestionToolCallInfo"
          },
          "type": "array"
        },
        "freeFormSuggestion": {
          "$ref": "GoogleCloudDialogflowV2FreeFormSuggestion"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2GeneratorSuggestion"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
          }
        },
        "imageDisplayOptions": {
          "enum": [
            "IMAGE_DISPLAY_OPTIONS_UNSPECIFIED",
            "GRAY",
            "WHITE",
            "CROPPED",
            "BLURRED_BACKGROUND"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard"
    },
    "GoogleCloudDialogflowCxV3beta1TransitionCoverage": {
      "properties": {
        "transitions": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TransitionCoverageTransition"
          },
          "type": "array"
        },
        "coverageScore": {
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TransitionCoverage"
    },
    "GoogleCloudDialogflowCxV3GcsDestination": {
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3GcsDestination"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia": {
      "properties": {
        "thumbnailUri": {
          "type": "string"
        },
        "fileUri": {
          "type": "string"
        },
        "height": {
          "enum": [
            "HEIGHT_UNSPECIFIED",
            "SHORT",
            "MEDIUM",
            "TALL"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia"
    },
    "GoogleCloudDialogflowCxV3beta1InlineDestination": {
      "properties": {
        "content": {
          "format": "byte",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1InlineDestination"
    },
    "GoogleCloudDialogflowV2beta1BatchUpdateEntityTypesResponse": {
      "id": "GoogleCloudDialogflowV2beta1BatchUpdateEntityTypesResponse",
      "properties": {
        "entityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityType"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ExportOperationMetadata": {
      "type": "object",
      "properties": {
        "exportedGcsDestination": {
          "$ref": "GoogleCloudDialogflowV2beta1GcsDestination"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ExportOperationMetadata"
    },
    "GoogleCloudDialogflowCxV3beta1ToolAuthenticationOAuthConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolAuthenticationOAuthConfig",
      "properties": {
        "secretVersionForClientSecret": {
          "type": "string"
        },
        "tokenEndpoint": {
          "type": "string"
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "clientSecret": {
          "type": "string"
        },
        "clientId": {
          "type": "string"
        },
        "oauthGrantType": {
          "enum": [
            "OAUTH_GRANT_TYPE_UNSPECIFIED",
            "CLIENT_CREDENTIAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase": {
      "id": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase",
      "type": "object",
      "properties": {
        "condition": {
          "type": "string"
        },
        "caseContent": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1SecuritySettingsAudioExportSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1SecuritySettingsAudioExportSettings",
      "type": "object",
      "properties": {
        "storeTtsAudio": {
          "type": "boolean"
        },
        "gcsBucket": {
          "type": "string"
        },
        "audioExportPattern": {
          "type": "string"
        },
        "enableAudioRedaction": {
          "type": "boolean"
        },
        "audioFormat": {
          "enum": [
            "AUDIO_FORMAT_UNSPECIFIED",
            "MULAW",
            "MP3",
            "OGG"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ToolCall": {
      "type": "object",
      "properties": {
        "tool": {
          "type": "string"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "action": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ToolCall"
    },
    "GoogleCloudDialogflowCxV3beta1Changelog": {
      "properties": {
        "userEmail": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string"
        },
        "resource": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1Changelog"
    },
    "GoogleCloudDialogflowV2ExportOperationMetadata": {
      "type": "object",
      "properties": {
        "exportedGcsDestination": {
          "$ref": "GoogleCloudDialogflowV2GcsDestination"
        }
      },
      "id": "GoogleCloudDialogflowV2ExportOperationMetadata"
    },
    "GoogleCloudDialogflowCxV3beta1NamedMetric": {
      "id": "GoogleCloudDialogflowCxV3beta1NamedMetric",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "any"
        },
        "unit": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1RunTestCaseRequest": {
      "properties": {
        "environment": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1RunTestCaseRequest"
    },
    "GoogleCloudDialogflowCxV3ExportIntentsMetadata": {
      "id": "GoogleCloudDialogflowCxV3ExportIntentsMetadata",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3TransitionRoute": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "condition": {
          "type": "string"
        },
        "intent": {
          "type": "string"
        },
        "targetPage": {
          "type": "string"
        },
        "targetFlow": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3TransitionRoute"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequest": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "intentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo"
        },
        "messages": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          },
          "type": "array"
        },
        "dtmfDigits": {
          "type": "string"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "detectIntentResponseId": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "languageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1LanguageInfo"
        },
        "transcript": {
          "type": "string"
        },
        "triggerIntent": {
          "type": "string"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestSentimentAnalysisResult"
        },
        "triggerEvent": {
          "type": "string"
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SessionInfo"
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PageInfo"
        },
        "fulfillmentInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequest"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion": {
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion",
      "properties": {
        "similarityScore": {
          "format": "float",
          "readOnly": true,
          "type": "number"
        },
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        },
        "suggestionIndex": {
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExportFlowResponse": {
      "id": "GoogleCloudDialogflowCxV3ExportFlowResponse",
      "type": "object",
      "properties": {
        "flowUri": {
          "type": "string"
        },
        "flowContent": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDialogflowCxV3RunContinuousTestMetadata": {
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestError"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3RunContinuousTestMetadata"
    },
    "GoogleCloudDialogflowCxV3beta1BoostSpecConditionBoostSpec": {
      "id": "GoogleCloudDialogflowCxV3beta1BoostSpecConditionBoostSpec",
      "properties": {
        "condition": {
          "type": "string"
        },
        "boostControlSpec": {
          "$ref": "GoogleCloudDialogflowCxV3beta1BoostSpecConditionBoostSpecBoostControlSpec"
        },
        "boost": {
          "type": "number",
          "format": "float"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1PlaybookInstruction": {
      "type": "object",
      "properties": {
        "guidelines": {
          "type": "string"
        },
        "steps": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1PlaybookStep"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1PlaybookInstruction"
    },
    "GoogleCloudDialogflowCxV3beta1ExportFlowRequest": {
      "properties": {
        "flowUri": {
          "type": "string"
        },
        "includeReferencedFlows": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExportFlowRequest"
    },
    "GoogleCloudDialogflowCxV3beta1ImportTestCasesResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportTestCasesResponse",
      "properties": {
        "names": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Status": {
      "properties": {
        "exception": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ExceptionDetail"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1Status"
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebServiceOAuthConfig": {
      "type": "object",
      "properties": {
        "clientId": {
          "type": "string"
        },
        "clientSecret": {
          "type": "string"
        },
        "secretVersionForClientSecret": {
          "type": "string"
        },
        "tokenEndpoint": {
          "type": "string"
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceOAuthConfig"
    },
    "GoogleCloudDialogflowV2beta1WebhookResponse": {
      "properties": {
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "liveAgentHandoff": {
          "type": "boolean"
        },
        "source": {
          "type": "string"
        },
        "outputContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          }
        },
        "fulfillmentMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          }
        },
        "fulfillmentText": {
          "type": "string"
        },
        "followupEventInput": {
          "$ref": "GoogleCloudDialogflowV2beta1EventInput"
        },
        "sessionEntityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SessionEntityType"
          },
          "type": "array"
        },
        "endInteraction": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1WebhookResponse"
    },
    "GoogleCloudDialogflowCxV3beta1ExportTestCasesMetadata": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExportTestCasesMetadata"
    },
    "GoogleCloudDialogflowV2IntentMessageSuggestions": {
      "id": "GoogleCloudDialogflowV2IntentMessageSuggestions",
      "properties": {
        "suggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageSuggestion"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1DialogflowAssistAnswer": {
      "properties": {
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
        },
        "intentSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentSuggestion"
        },
        "answerRecord": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1DialogflowAssistAnswer"
    },
    "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecMetadata": {
      "id": "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecMetadata",
      "type": "object",
      "properties": {
        "request": {
          "$ref": "GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1AdvancedSettingsDtmfSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsDtmfSettings",
      "type": "object",
      "properties": {
        "finishDigit": {
          "type": "string"
        },
        "endpointingTimeoutDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "interdigitTimeoutDuration": {
          "type": "string",
          "format": "google-duration"
        },
        "enabled": {
          "type": "boolean"
        },
        "maxDigits": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1RestoreAgentRequestGitSource": {
      "id": "GoogleCloudDialogflowCxV3beta1RestoreAgentRequestGitSource",
      "type": "object",
      "properties": {
        "trackingBranch": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ConversationInteractionMissingTransition": {
      "id": "GoogleCloudDialogflowCxV3beta1ConversationInteractionMissingTransition",
      "type": "object",
      "properties": {
        "intentDisplayName": {
          "type": "string"
        },
        "score": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageListSelect": {
      "properties": {
        "subtitle": {
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageListSelectItem"
          },
          "type": "array"
        },
        "title": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageListSelect"
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestion": {
      "type": "object",
      "properties": {
        "applicableInstructions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingInstruction"
          }
        },
        "sampleResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSampleResponse"
          }
        },
        "agentActionSuggestions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionAgentActionSuggestion"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestion"
    },
    "GoogleCloudDialogflowCxV3RunContinuousTestResponse": {
      "id": "GoogleCloudDialogflowCxV3RunContinuousTestResponse",
      "properties": {
        "continuousTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3ContinuousTestResult"
        }
      },
      "type": "object"
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1Context": {
      "type": "object",
      "properties": {
        "lifespanCount": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1Context"
    },
    "GoogleCloudDialogflowCxV3IntentInput": {
      "id": "GoogleCloudDialogflowCxV3IntentInput",
      "properties": {
        "intent": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings": {
      "id": "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings",
      "properties": {
        "dataStoreConnections": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3DataStoreConnection"
          },
          "type": "array"
        },
        "targetPage": {
          "type": "string"
        },
        "targetFlow": {
          "type": "string"
        },
        "enabled": {
          "type": "boolean"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1QueryResult": {
      "id": "GoogleCloudDialogflowV2beta1QueryResult",
      "type": "object",
      "properties": {
        "speechRecognitionConfidence": {
          "type": "number",
          "format": "float"
        },
        "diagnosticInfo": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult"
        },
        "cancelsSlotFilling": {
          "type": "boolean"
        },
        "webhookPayload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "webhookSource": {
          "type": "string"
        },
        "fulfillmentText": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowV2beta1Intent"
        },
        "intentDetectionConfidence": {
          "type": "number",
          "format": "float"
        },
        "queryText": {
          "type": "string"
        },
        "allRequiredParamsPresent": {
          "type": "boolean"
        },
        "languageCode": {
          "type": "string"
        },
        "knowledgeAnswers": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAnswers"
        },
        "outputContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          },
          "type": "array"
        },
        "fulfillmentMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1AgentGitIntegrationSettings": {
      "properties": {
        "githubSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AgentGitIntegrationSettingsGithubSettings"
        },
        "gitConnectionSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AgentGitIntegrationSettingsGitConnectionSettings"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1AgentGitIntegrationSettings"
    },
    "GoogleCloudDialogflowCxV3beta1GenerativeInfo": {
      "properties": {
        "actionTracingInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Example"
        },
        "currentPlaybooks": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1GenerativeInfo"
    },
    "GoogleCloudDialogflowCxV3beta1TurnSignals": {
      "properties": {
        "noMatch": {
          "type": "boolean"
        },
        "sentimentScore": {
          "type": "number",
          "format": "float"
        },
        "failureReasons": {
          "items": {
            "enum": [
              "FAILURE_REASON_UNSPECIFIED",
              "FAILED_INTENT",
              "FAILED_WEBHOOK"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              ""
            ]
          },
          "type": "array"
        },
        "dtmfUsed": {
          "type": "boolean"
        },
        "agentEscalated": {
          "type": "boolean"
        },
        "webhookStatuses": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "noUserInput": {
          "type": "boolean"
        },
        "reachedEndPage": {
          "type": "boolean"
        },
        "userEscalated": {
          "type": "boolean"
        },
        "sentimentMagnitude": {
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1TurnSignals"
    },
    "GoogleCloudDialogflowV2GcsDestination": {
      "id": "GoogleCloudDialogflowV2GcsDestination",
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1LoadVersionRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1LoadVersionRequest",
      "properties": {
        "allowOverrideAgentResources": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1LlmCall": {
      "id": "GoogleCloudDialogflowCxV3beta1LlmCall",
      "type": "object",
      "properties": {
        "tokenCount": {
          "$ref": "GoogleCloudDialogflowCxV3beta1LlmCallTokenCount"
        },
        "temperature": {
          "type": "number",
          "format": "float"
        },
        "retrievedExamples": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1LlmCallRetrievedExample"
          },
          "type": "array"
        },
        "model": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ImportIntentsResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportIntentsResponse",
      "type": "object",
      "properties": {
        "intents": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ImportIntentsResponseConflictingResources"
        }
      }
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult": {
      "properties": {
        "duplicateSuggestions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult"
    },
    "GoogleCloudDialogflowV2beta1Message": {
      "id": "GoogleCloudDialogflowV2beta1Message",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "sendTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "sentimentAnalysis": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult"
        },
        "content": {
          "type": "string"
        },
        "participant": {
          "readOnly": true,
          "type": "string"
        },
        "responseMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ResponseMessage"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "messageAnnotation": {
          "$ref": "GoogleCloudDialogflowV2beta1MessageAnnotation",
          "readOnly": true
        },
        "participantRole": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ToolExtensionTool": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolExtensionTool",
      "properties": {
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1GeneratorSuggestion": {
      "properties": {
        "summarySuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1SummarySuggestion"
        },
        "toolCallInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfo"
          },
          "type": "array"
        },
        "freeFormSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1FreeFormSuggestion"
        },
        "agentCoachingSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestion"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1GeneratorSuggestion"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource",
      "type": "object",
      "properties": {
        "snippets": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer": {
      "properties": {
        "source": {
          "type": "string"
        },
        "answer": {
          "type": "string"
        },
        "matchConfidenceLevel": {
          "enum": [
            "MATCH_CONFIDENCE_LEVEL_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "faqQuestion": {
          "type": "string"
        },
        "matchConfidence": {
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer"
    },
    "GoogleCloudDialogflowV2QueryResult": {
      "type": "object",
      "properties": {
        "allRequiredParamsPresent": {
          "type": "boolean"
        },
        "languageCode": {
          "type": "string"
        },
        "outputContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          }
        },
        "fulfillmentMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          }
        },
        "speechRecognitionConfidence": {
          "type": "number",
          "format": "float"
        },
        "diagnosticInfo": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowV2SentimentAnalysisResult"
        },
        "cancelsSlotFilling": {
          "type": "boolean"
        },
        "webhookPayload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "webhookSource": {
          "type": "string"
        },
        "fulfillmentText": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowV2Intent"
        },
        "intentDetectionConfidence": {
          "type": "number",
          "format": "float"
        },
        "queryText": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2QueryResult"
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase": {
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase",
      "properties": {
        "caseContent": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent"
          },
          "type": "array"
        },
        "condition": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerFaqSource": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerFaqSource",
      "type": "object",
      "properties": {
        "question": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1PlaybookImportStrategy": {
      "id": "GoogleCloudDialogflowCxV3beta1PlaybookImportStrategy",
      "properties": {
        "nestedResourceImportStrategy": {
          "enum": [
            "IMPORT_STRATEGY_UNSPECIFIED",
            "IMPORT_STRATEGY_CREATE_NEW",
            "IMPORT_STRATEGY_REPLACE",
            "IMPORT_STRATEGY_KEEP",
            "IMPORT_STRATEGY_MERGE",
            "IMPORT_STRATEGY_THROW_ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "mainPlaybookImportStrategy": {
          "enum": [
            "IMPORT_STRATEGY_UNSPECIFIED",
            "IMPORT_STRATEGY_CREATE_NEW",
            "IMPORT_STRATEGY_REPLACE",
            "IMPORT_STRATEGY_KEEP",
            "IMPORT_STRATEGY_MERGE",
            "IMPORT_STRATEGY_THROW_ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "toolImportStrategy": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMPORT_STRATEGY_UNSPECIFIED",
            "IMPORT_STRATEGY_CREATE_NEW",
            "IMPORT_STRATEGY_REPLACE",
            "IMPORT_STRATEGY_KEEP",
            "IMPORT_STRATEGY_MERGE",
            "IMPORT_STRATEGY_THROW_ERROR"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo": {
      "id": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo",
      "properties": {
        "contextReferenceRetrieved": {
          "type": "boolean"
        },
        "projectNotAllowlisted": {
          "type": "boolean"
        },
        "ingestedParametersDebugInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ExportIntentsRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportIntentsRequest",
      "type": "object",
      "properties": {
        "intentsContentInline": {
          "type": "boolean"
        },
        "intentsUri": {
          "type": "string"
        },
        "intents": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dataFormat": {
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "BLOB",
            "JSON",
            "CSV"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1SessionEntityType": {
      "id": "GoogleCloudDialogflowCxV3beta1SessionEntityType",
      "properties": {
        "name": {
          "type": "string"
        },
        "entityOverrideMode": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ENTITY_OVERRIDE_MODE_UNSPECIFIED",
            "ENTITY_OVERRIDE_MODE_OVERRIDE",
            "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
          ]
        },
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EntityTypeEntity"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest": {
      "type": "object",
      "properties": {
        "version": {
          "type": "string"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "source": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1OriginalDetectIntentRequest"
    },
    "GoogleCloudDialogflowCxV3beta1InlineSource": {
      "id": "GoogleCloudDialogflowCxV3beta1InlineSource",
      "type": "object",
      "properties": {
        "content": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ImportEntityTypesMetadata": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ImportEntityTypesMetadata"
    },
    "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswer": {
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "generatorSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1GeneratorSuggestion"
        },
        "sourceGenerator": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswer"
    },
    "GoogleCloudDialogflowCxV3AudioInput": {
      "id": "GoogleCloudDialogflowCxV3AudioInput",
      "properties": {
        "config": {
          "$ref": "GoogleCloudDialogflowCxV3InputAudioConfig"
        },
        "audio": {
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TransitionCoverageTransitionNode": {
      "id": "GoogleCloudDialogflowCxV3beta1TransitionCoverageTransitionNode",
      "type": "object",
      "properties": {
        "flow": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Flow"
        },
        "page": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Page"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExportAgentResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ExportAgentResponse",
      "type": "object",
      "properties": {
        "commitSha": {
          "type": "string"
        },
        "agentUri": {
          "type": "string"
        },
        "agentContent": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDialogflowV2ExportAgentResponse": {
      "id": "GoogleCloudDialogflowV2ExportAgentResponse",
      "properties": {
        "agentUri": {
          "type": "string"
        },
        "agentContent": {
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentTrainingPhrase": {
      "id": "GoogleCloudDialogflowV2beta1IntentTrainingPhrase",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enumDeprecated": [
            false,
            false,
            true
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "EXAMPLE",
            "TEMPLATE"
          ]
        },
        "timesAddedCount": {
          "type": "integer",
          "format": "int32"
        },
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart"
          }
        },
        "name": {
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "type": "object",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "nextPageToken": {
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2GeneratorSuggestionToolCallInfo": {
      "type": "object",
      "properties": {
        "toolCall": {
          "$ref": "GoogleCloudDialogflowV2ToolCall"
        },
        "toolCallResult": {
          "$ref": "GoogleCloudDialogflowV2ToolCallResult"
        }
      },
      "id": "GoogleCloudDialogflowV2GeneratorSuggestionToolCallInfo"
    },
    "GoogleCloudDialogflowV2ImportConversationDataOperationResponse": {
      "id": "GoogleCloudDialogflowV2ImportConversationDataOperationResponse",
      "type": "object",
      "properties": {
        "conversationDataset": {
          "type": "string"
        },
        "importCount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata": {
      "properties": {
        "trainingModelType": {
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "SMART_REPLY_DUAL_ENCODER_MODEL",
            "SMART_REPLY_BERT_MODEL"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata"
    },
    "GoogleCloudDialogflowCxV3DeployFlowMetadata": {
      "properties": {
        "testErrors": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestError"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3DeployFlowMetadata"
    },
    "GoogleCloudDialogflowCxV3beta1FormParameter": {
      "properties": {
        "isList": {
          "type": "boolean"
        },
        "fillBehavior": {
          "$ref": "GoogleCloudDialogflowCxV3beta1FormParameterFillBehavior"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "required": {
          "type": "boolean"
        },
        "defaultValue": {
          "type": "any"
        },
        "redact": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "entityType": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1FormParameter"
    },
    "GoogleCloudDialogflowCxV3beta1LlmModelSettingsParameters": {
      "id": "GoogleCloudDialogflowCxV3beta1LlmModelSettingsParameters",
      "type": "object",
      "properties": {
        "inputTokenLimit": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "INPUT_TOKEN_LIMIT_UNSPECIFIED",
            "INPUT_TOKEN_LIMIT_SHORT",
            "INPUT_TOKEN_LIMIT_MEDIUM",
            "INPUT_TOKEN_LIMIT_LONG"
          ]
        },
        "outputTokenLimit": {
          "enum": [
            "OUTPUT_TOKEN_LIMIT_UNSPECIFIED",
            "OUTPUT_TOKEN_LIMIT_SHORT",
            "OUTPUT_TOKEN_LIMIT_MEDIUM",
            "OUTPUT_TOKEN_LIMIT_LONG"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "temperature": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDialogflowCxV3DeployFlowResponse": {
      "type": "object",
      "properties": {
        "deployment": {
          "type": "string"
        },
        "environment": {
          "$ref": "GoogleCloudDialogflowCxV3Environment"
        }
      },
      "id": "GoogleCloudDialogflowCxV3DeployFlowResponse"
    },
    "GoogleCloudDialogflowV2IntentMessageCarouselSelect": {
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageCarouselSelect"
    },
    "GoogleCloudDialogflowCxV3EventHandler": {
      "properties": {
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "targetFlow": {
          "type": "string"
        },
        "targetPage": {
          "type": "string"
        },
        "targetPlaybook": {
          "type": "string"
        },
        "event": {
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3EventHandler"
    },
    "GoogleCloudDialogflowV2beta1Sentiment": {
      "id": "GoogleCloudDialogflowV2beta1Sentiment",
      "type": "object",
      "properties": {
        "score": {
          "type": "number",
          "format": "float"
        },
        "magnitude": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ImportTestCasesMetadata": {
      "type": "object",
      "properties": {
        "errors": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseError"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ImportTestCasesMetadata"
    },
    "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion": {
      "id": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion",
      "properties": {
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        },
        "suggestionIndex": {
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "similarityScore": {
          "readOnly": true,
          "type": "number",
          "format": "float"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TypeSchema": {
      "id": "GoogleCloudDialogflowCxV3beta1TypeSchema",
      "properties": {
        "schemaReference": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TypeSchemaSchemaReference"
        },
        "inlineSchema": {
          "$ref": "GoogleCloudDialogflowCxV3beta1InlineSchema"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageBasicCard": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageBasicCard",
      "properties": {
        "title": {
          "type": "string"
        },
        "subtitle": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton"
          }
        },
        "formattedText": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ToolConnectorToolAction": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolConnectorToolAction",
      "type": "object",
      "properties": {
        "entityOperation": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolConnectorToolActionEntityOperation"
        },
        "outputFields": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "connectionActionId": {
          "type": "string"
        },
        "inputFields": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestion": {
      "type": "object",
      "properties": {
        "applicableInstructions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingInstruction"
          },
          "type": "array"
        },
        "agentActionSuggestions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionAgentActionSuggestion"
          },
          "type": "array"
        },
        "sampleResponses": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSampleResponse"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestion"
    },
    "GoogleCloudDialogflowCxV3FormParameterFillBehavior": {
      "type": "object",
      "properties": {
        "initialPromptFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "repromptEventHandlers": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EventHandler"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3FormParameterFillBehavior"
    },
    "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion": {
      "id": "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion",
      "properties": {
        "destinationName": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2WebhookRequest": {
      "id": "GoogleCloudDialogflowV2WebhookRequest",
      "type": "object",
      "properties": {
        "session": {
          "type": "string"
        },
        "originalDetectIntentRequest": {
          "$ref": "GoogleCloudDialogflowV2OriginalDetectIntentRequest"
        },
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2QueryResult"
        },
        "responseId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1EntityTypeEntity": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "synonyms": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
    },
    "GoogleCloudDialogflowCxV3ImportIntentsMetadata": {
      "id": "GoogleCloudDialogflowCxV3ImportIntentsMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3SessionInfo": {
      "type": "object",
      "properties": {
        "session": {
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3SessionInfo"
    },
    "GoogleCloudDialogflowCxV3beta1RestorePlaybookVersionRequest": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1RestorePlaybookVersionRequest"
    },
    "GoogleCloudDialogflowCxV3beta1NluSettings": {
      "properties": {
        "modelType": {
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "MODEL_TYPE_STANDARD",
            "MODEL_TYPE_ADVANCED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "classificationThreshold": {
          "type": "number",
          "format": "float"
        },
        "modelTrainingMode": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "MODEL_TRAINING_MODE_UNSPECIFIED",
            "MODEL_TRAINING_MODE_AUTOMATIC",
            "MODEL_TRAINING_MODE_MANUAL"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1NluSettings"
    },
    "GoogleCloudDialogflowCxV3beta1RolloutState": {
      "type": "object",
      "properties": {
        "step": {
          "type": "string"
        },
        "stepIndex": {
          "type": "integer",
          "format": "int32"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1RolloutState"
    },
    "GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponse": {
      "id": "GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponse",
      "type": "object",
      "properties": {
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
          }
        },
        "mergeBehavior": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "MERGE_BEHAVIOR_UNSPECIFIED",
            "APPEND",
            "REPLACE"
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessage": {
      "id": "GoogleCloudDialogflowV2IntentMessage",
      "type": "object",
      "properties": {
        "mediaContent": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageMediaContent"
        },
        "carouselSelect": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageCarouselSelect"
        },
        "linkOutSuggestion": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageLinkOutSuggestion"
        },
        "suggestions": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSuggestions"
        },
        "simpleResponses": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSimpleResponses"
        },
        "tableCard": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageTableCard"
        },
        "card": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageCard"
        },
        "basicCard": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCard"
        },
        "browseCarouselCard": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageText"
        },
        "quickReplies": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageQuickReplies"
        },
        "listSelect": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageListSelect"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "platform": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "FACEBOOK",
            "SLACK",
            "TELEGRAM",
            "KIK",
            "SKYPE",
            "LINE",
            "VIBER",
            "ACTIONS_ON_GOOGLE",
            "GOOGLE_HANGOUTS"
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2ImportDocumentsResponse": {
      "id": "GoogleCloudDialogflowV2ImportDocumentsResponse",
      "properties": {
        "warnings": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo",
      "properties": {
        "key": {
          "type": "string"
        },
        "synonyms": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ToolAuthenticationBearerTokenConfig": {
      "properties": {
        "token": {
          "type": "string"
        },
        "secretVersionForToken": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ToolAuthenticationBearerTokenConfig"
    },
    "GoogleCloudDialogflowCxV3beta1TestRunDifference": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DIFF_TYPE_UNSPECIFIED",
            "INTENT",
            "PAGE",
            "PARAMETERS",
            "UTTERANCE",
            "FLOW"
          ]
        },
        "description": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TestRunDifference"
    },
    "GoogleCloudDialogflowCxV3beta1ImportPlaybookRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportPlaybookRequest",
      "type": "object",
      "properties": {
        "importStrategy": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PlaybookImportStrategy"
        },
        "playbookUri": {
          "type": "string"
        },
        "playbookContent": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1GcsDestination": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1GcsDestination"
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageText": {
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageText",
      "properties": {
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageMediaContent": {
      "type": "object",
      "properties": {
        "mediaObjects": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObject"
          },
          "type": "array"
        },
        "mediaType": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "RESPONSE_MEDIA_TYPE_UNSPECIFIED",
            "AUDIO"
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageMediaContent"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio",
      "properties": {
        "audioUri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3EnvironmentWebhookConfig": {
      "id": "GoogleCloudDialogflowCxV3EnvironmentWebhookConfig",
      "properties": {
        "webhookOverrides": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3Webhook"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1FlowTransition": {
      "type": "object",
      "properties": {
        "inputActionParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "deprecated": true
        },
        "flow": {
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1FlowTransition"
    },
    "GoogleCloudDialogflowCxV3beta1ListToolVersionsResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ListToolVersionsResponse",
      "type": "object",
      "properties": {
        "toolVersions": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ToolVersion"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ImportEntityTypesResponseConflictingResources": {
      "type": "object",
      "properties": {
        "entityTypeDisplayNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "entityDisplayNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ImportEntityTypesResponseConflictingResources"
    },
    "GoogleCloudDialogflowV2beta1IntentParameter": {
      "id": "GoogleCloudDialogflowV2beta1IntentParameter",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        },
        "defaultValue": {
          "type": "string"
        },
        "entityTypeDisplayName": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "prompts": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "isList": {
          "type": "boolean"
        },
        "mandatory": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2Sentiment": {
      "type": "object",
      "properties": {
        "score": {
          "type": "number",
          "format": "float"
        },
        "magnitude": {
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDialogflowV2Sentiment"
    },
    "GoogleCloudDialogflowCxV3beta1ActionIntentMatchMatchedIntent": {
      "id": "GoogleCloudDialogflowCxV3beta1ActionIntentMatchMatchedIntent",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "score": {
          "type": "number",
          "format": "float"
        },
        "generativeFallback": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "intentId": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo": {
      "type": "object",
      "properties": {
        "parameter": {
          "type": "string"
        },
        "ingestionStatus": {
          "enum": [
            "INGESTION_STATUS_UNSPECIFIED",
            "INGESTION_STATUS_SUCCEEDED",
            "INGESTION_STATUS_CONTEXT_NOT_AVAILABLE",
            "INGESTION_STATUS_PARSE_FAILED",
            "INGESTION_STATUS_INVALID_ENTRY",
            "INGESTION_STATUS_INVALID_FORMAT",
            "INGESTION_STATUS_LANGUAGE_MISMATCH"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerFaqSource": {
      "properties": {
        "question": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerFaqSource"
    },
    "GoogleCloudDialogflowCxV3beta1TestCase": {
      "id": "GoogleCloudDialogflowCxV3beta1TestCase",
      "type": "object",
      "properties": {
        "testConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestConfig"
        },
        "notes": {
          "type": "string"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string"
        },
        "creationTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "lastTestResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
        },
        "testCaseConversationTurns": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ConversationTurn"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1Page": {
      "id": "GoogleCloudDialogflowCxV3beta1Page",
      "properties": {
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "form": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Form"
        },
        "entryFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "name": {
          "type": "string"
        },
        "eventHandlers": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EventHandler"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string"
        },
        "transitionRouteGroups": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "transitionRoutes": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRoute"
          },
          "type": "array"
        },
        "knowledgeConnectorSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings"
        },
        "description": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExportEntityTypesResponse": {
      "id": "GoogleCloudDialogflowCxV3ExportEntityTypesResponse",
      "type": "object",
      "properties": {
        "entityTypesUri": {
          "type": "string"
        },
        "entityTypesContent": {
          "$ref": "GoogleCloudDialogflowCxV3InlineDestination"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard": {
      "properties": {
        "thumbnailImageAlignment": {
          "enum": [
            "THUMBNAIL_IMAGE_ALIGNMENT_UNSPECIFIED",
            "LEFT",
            "RIGHT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "cardContent": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent"
        },
        "cardOrientation": {
          "enum": [
            "CARD_ORIENTATION_UNSPECIFIED",
            "HORIZONTAL",
            "VERTICAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard"
    },
    "GoogleCloudDialogflowCxV3beta1ListTestCaseResultsResponse": {
      "type": "object",
      "properties": {
        "testCaseResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ListTestCaseResultsResponse"
    },
    "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "required": {
          "type": "boolean"
        },
        "value": {
          "type": "any"
        },
        "justCollected": {
          "type": "boolean"
        },
        "state": {
          "enum": [
            "PARAMETER_STATE_UNSPECIFIED",
            "EMPTY",
            "INVALID",
            "FILLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo"
    },
    "GoogleCloudDialogflowCxV3ToolCall": {
      "properties": {
        "action": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ToolCall"
    },
    "GoogleCloudDialogflowCxV3beta1TextInput": {
      "id": "GoogleCloudDialogflowCxV3beta1TextInput",
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ToolAuthenticationServiceAccountAuthConfig": {
      "type": "object",
      "properties": {
        "serviceAccount": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ToolAuthenticationServiceAccountAuthConfig"
    },
    "GoogleCloudDialogflowCxV3beta1ActionFlowStateUpdateFunctionCall": {
      "id": "GoogleCloudDialogflowCxV3beta1ActionFlowStateUpdateFunctionCall",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1IntentCoverageIntent": {
      "id": "GoogleCloudDialogflowCxV3beta1IntentCoverageIntent",
      "properties": {
        "intent": {
          "type": "string"
        },
        "covered": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfo": {
      "id": "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfo",
      "type": "object",
      "properties": {
        "projectNotAllowlisted": {
          "type": "boolean"
        },
        "ingestedParametersDebugInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfoIngestedParameterDebugInfo"
          }
        },
        "contextReferenceRetrieved": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ToolTLSConfigCACert": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolTLSConfigCACert",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "cert": {
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportTestCasesRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportTestCasesRequest",
      "properties": {
        "gcsUri": {
          "type": "string"
        },
        "content": {
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3QueryInput": {
      "type": "object",
      "properties": {
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3TextInput"
        },
        "languageCode": {
          "type": "string"
        },
        "event": {
          "$ref": "GoogleCloudDialogflowCxV3EventInput"
        },
        "toolCallResult": {
          "$ref": "GoogleCloudDialogflowCxV3ToolCallResult"
        },
        "dtmf": {
          "$ref": "GoogleCloudDialogflowCxV3DtmfInput"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowCxV3IntentInput"
        },
        "audio": {
          "$ref": "GoogleCloudDialogflowCxV3AudioInput"
        }
      },
      "id": "GoogleCloudDialogflowCxV3QueryInput"
    },
    "GoogleCloudDialogflowV2SentimentAnalysisResult": {
      "id": "GoogleCloudDialogflowV2SentimentAnalysisResult",
      "properties": {
        "queryTextSentiment": {
          "$ref": "GoogleCloudDialogflowV2Sentiment"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial": {
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial"
    },
    "GoogleCloudDialogflowV2WebhookResponse": {
      "id": "GoogleCloudDialogflowV2WebhookResponse",
      "properties": {
        "fulfillmentText": {
          "type": "string"
        },
        "followupEventInput": {
          "$ref": "GoogleCloudDialogflowV2EventInput"
        },
        "sessionEntityTypes": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2SessionEntityType"
          },
          "type": "array"
        },
        "outputContexts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          },
          "type": "array"
        },
        "fulfillmentMessages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          }
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "source": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ResponseMessage": {
      "properties": {
        "conversationSuccess": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess"
        },
        "outputAudioText": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText"
        },
        "toolCall": {
          "$ref": "GoogleCloudDialogflowCxV3ToolCall"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "liveAgentHandoff": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageLiveAgentHandoff"
        },
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageText"
        },
        "knowledgeInfoCard": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard"
        },
        "responseType": {
          "enum": [
            "RESPONSE_TYPE_UNSPECIFIED",
            "ENTRY_PROMPT",
            "PARAMETER_PROMPT",
            "HANDLER_PROMPT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "endInteraction": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction",
          "readOnly": true
        },
        "channel": {
          "type": "string"
        },
        "playAudio": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessagePlayAudio"
        },
        "mixedAudio": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudio"
        },
        "telephonyTransferCall": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageTelephonyTransferCall"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResponseMessage"
    },
    "GoogleCloudDialogflowCxV3RunTestCaseResponse": {
      "type": "object",
      "properties": {
        "result": {
          "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
        }
      },
      "id": "GoogleCloudDialogflowCxV3RunTestCaseResponse"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion": {
      "properties": {
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources"
        },
        "similarityScore": {
          "format": "float",
          "readOnly": true,
          "type": "number"
        },
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        },
        "suggestionIndex": {
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudio": {
      "type": "object",
      "properties": {
        "segments": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudio"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTelephonyTransferCall": {
      "type": "object",
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyTransferCall"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerAdditionalSuggestedQueryResult": {
      "properties": {
        "suggestedQuery": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery"
        },
        "answerRecord": {
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerAdditionalSuggestedQueryResult"
    },
    "GoogleCloudDialogflowCxV3beta1AgentGenAppBuilderSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1AgentGenAppBuilderSettings",
      "type": "object",
      "properties": {
        "engine": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1OutputAudioConfig": {
      "type": "object",
      "properties": {
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32"
        },
        "synthesizeSpeechConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SynthesizeSpeechConfig"
        },
        "audioEncoding": {
          "enum": [
            "OUTPUT_AUDIO_ENCODING_UNSPECIFIED",
            "OUTPUT_AUDIO_ENCODING_LINEAR_16",
            "OUTPUT_AUDIO_ENCODING_MP3",
            "OUTPUT_AUDIO_ENCODING_MP3_64_KBPS",
            "OUTPUT_AUDIO_ENCODING_OGG_OPUS",
            "OUTPUT_AUDIO_ENCODING_MULAW",
            "OUTPUT_AUDIO_ENCODING_ALAW"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1OutputAudioConfig"
    },
    "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput": {
      "type": "object",
      "properties": {
        "sessionParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "differences": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestRunDifference"
          }
        },
        "diagnosticInfo": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "textResponses": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageText"
          },
          "type": "array"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        },
        "triggeredIntent": {
          "$ref": "GoogleCloudDialogflowCxV3Intent"
        },
        "currentPage": {
          "$ref": "GoogleCloudDialogflowCxV3Page"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput"
    },
    "GoogleCloudDialogflowV2ArticleAnswer": {
      "type": "object",
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "title": {
          "type": "string"
        },
        "snippets": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2ArticleAnswer"
    },
    "GoogleCloudDialogflowCxV3WebhookRequestIntentInfo": {
      "id": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfo",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "lastMatchedIntent": {
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard": {
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
          },
          "type": "array"
        },
        "imageDisplayOptions": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMAGE_DISPLAY_OPTIONS_UNSPECIFIED",
            "GRAY",
            "WHITE",
            "CROPPED",
            "BLURRED_BACKGROUND"
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswer": {
      "properties": {
        "answerText": {
          "type": "string"
        },
        "faqSource": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerFaqSource"
        },
        "generativeSource": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        },
        "eventSource": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerEventSource"
        },
        "playbookSource": {
          "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswer"
    },
    "GoogleCloudDialogflowCxV3TestRunDifference": {
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DIFF_TYPE_UNSPECIFIED",
            "INTENT",
            "PAGE",
            "PARAMETERS",
            "UTTERANCE",
            "FLOW"
          ]
        },
        "description": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3TestRunDifference"
    },
    "GoogleCloudDialogflowCxV3ImportIntentsResponse": {
      "properties": {
        "intents": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ImportIntentsResponse"
    },
    "GoogleCloudDialogflowV2AgentCoachingInstruction": {
      "id": "GoogleCloudDialogflowV2AgentCoachingInstruction",
      "properties": {
        "systemAction": {
          "type": "string"
        },
        "displayDetails": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "condition": {
          "type": "string"
        },
        "duplicateCheckResult": {
          "$ref": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult",
          "readOnly": true
        },
        "triggeringEvent": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TRIGGER_EVENT_UNSPECIFIED",
            "END_OF_UTTERANCE",
            "MANUAL_CALL",
            "CUSTOMER_MESSAGE",
            "AGENT_MESSAGE",
            "TOOL_CALL_COMPLETION"
          ]
        },
        "agentAction": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookResponse": {
      "properties": {
        "targetFlow": {
          "type": "string"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SessionInfo"
        },
        "fulfillmentResponse": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse"
        },
        "targetPage": {
          "type": "string"
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3beta1PageInfo"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookResponse"
    },
    "GoogleCloudDialogflowCxV3beta1AdvancedSettings": {
      "id": "GoogleCloudDialogflowCxV3beta1AdvancedSettings",
      "type": "object",
      "properties": {
        "speechSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsSpeechSettings"
        },
        "dtmfSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsDtmfSettings"
        },
        "audioExportGcsDestination": {
          "$ref": "GoogleCloudDialogflowCxV3beta1GcsDestination"
        },
        "loggingSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettingsLoggingSettings"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageListSelectItem": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        },
        "info": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo"
        },
        "description": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageListSelectItem"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestSentimentAnalysisResult": {
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestSentimentAnalysisResult",
      "properties": {
        "score": {
          "type": "number",
          "format": "float"
        },
        "magnitude": {
          "type": "number",
          "format": "float"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCardButton": {
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCardButton",
      "properties": {
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction"
        },
        "title": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SuggestionResult": {
      "properties": {
        "suggestSmartRepliesResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse"
        },
        "suggestEntityExtractionResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestDialogflowAssistsResponse"
        },
        "suggestKnowledgeAssistResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistResponse"
        },
        "error": {
          "$ref": "GoogleRpcStatus"
        },
        "suggestDialogflowAssistsResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestDialogflowAssistsResponse"
        },
        "suggestArticlesResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestArticlesResponse"
        },
        "suggestFaqAnswersResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1SuggestFaqAnswersResponse"
        },
        "generateSuggestionsResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponse"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SuggestionResult"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment": {
      "properties": {
        "uri": {
          "type": "string"
        },
        "audio": {
          "type": "string",
          "format": "byte"
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment"
    },
    "GoogleCloudDialogflowCxV3beta1SearchConfig": {
      "properties": {
        "boostSpecs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1BoostSpecs"
          }
        },
        "filterSpecs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FilterSpecs"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1SearchConfig"
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction": {
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction",
      "properties": {
        "url": {
          "type": "string"
        },
        "urlTypeHint": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "URL_TYPE_HINT_UNSPECIFIED",
            "AMP_ACTION",
            "AMP_CONTENT"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsGroundingSignals": {
      "type": "object",
      "properties": {
        "decision": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "GROUNDING_DECISION_UNSPECIFIED",
            "ACCEPTED_BY_GROUNDING",
            "REJECTED_BY_GROUNDING"
          ]
        },
        "score": {
          "enum": [
            "GROUNDING_SCORE_BUCKET_UNSPECIFIED",
            "VERY_LOW",
            "LOW",
            "MEDIUM",
            "HIGH",
            "VERY_HIGH"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsGroundingSignals"
    },
    "GoogleCloudDialogflowCxV3ExportTestCasesResponse": {
      "type": "object",
      "properties": {
        "gcsUri": {
          "type": "string"
        },
        "content": {
          "type": "string",
          "format": "byte"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ExportTestCasesResponse"
    },
    "GoogleCloudDialogflowV2SmartReplyAnswer": {
      "type": "object",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "float"
        },
        "answerRecord": {
          "type": "string"
        },
        "reply": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2SmartReplyAnswer"
    },
    "GoogleCloudDialogflowCxV3beta1RestorePlaybookVersionResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1RestorePlaybookVersionResponse",
      "type": "object",
      "properties": {
        "playbook": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Playbook"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ParameterDefinition": {
      "id": "GoogleCloudDialogflowCxV3beta1ParameterDefinition",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "deprecated": true,
          "enum": [
            "PARAMETER_TYPE_UNSPECIFIED",
            "STRING",
            "NUMBER",
            "BOOLEAN",
            "NULL",
            "OBJECT",
            "LIST"
          ]
        },
        "description": {
          "type": "string"
        },
        "typeSchema": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TypeSchema"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsRewriterModelCallSignals": {
      "type": "object",
      "properties": {
        "renderedPrompt": {
          "type": "string"
        },
        "modelOutput": {
          "type": "string"
        },
        "model": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsRewriterModelCallSignals"
    },
    "GoogleCloudDialogflowV2beta1ImportDocumentsResponse": {
      "properties": {
        "warnings": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ImportDocumentsResponse"
    },
    "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse": {
      "id": "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse",
      "properties": {
        "knowledgeAssistAnswer": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswer",
          "readOnly": true
        },
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "additionalSuggestedQueryResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerAdditionalSuggestedQueryResult"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1DeployFlowResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1DeployFlowResponse",
      "properties": {
        "deployment": {
          "type": "string"
        },
        "environment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Environment"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo": {
[...]
