{
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "dialogflow",
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "basePath": "",
  "revision": "20260629",
  "protocol": "rest",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "operations": {
          "methods": {
            "cancel": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v3beta1/{+name}:cancel",
              "id": "dialogflow.projects.operations.cancel",
              "flatPath": "v3beta1/projects/{projectsId}/operations/{operationsId}:cancel",
              "httpMethod": "POST"
            },
            "get": {
              "id": "dialogflow.projects.operations.get",
              "httpMethod": "GET",
              "flatPath": "v3beta1/projects/{projectsId}/operations/{operationsId}",
              "description": "",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/operations/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v3beta1/{+name}"
            },
            "list": {
              "path": "v3beta1/{+name}/operations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "returnPartialSuccess": {
                  "location": "query",
                  "type": "boolean"
                },
                "filter": {
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "description": "",
              "flatPath": "v3beta1/projects/{projectsId}/operations",
              "httpMethod": "GET",
              "id": "dialogflow.projects.operations.list"
            }
          }
        },
        "locations": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}",
              "id": "dialogflow.projects.locations.get",
              "path": "v3beta1/{+name}",
              "description": "",
              "response": {
                "$ref": "GoogleCloudLocationLocation"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            },
            "list": {
              "id": "dialogflow.projects.locations.list",
              "flatPath": "v3beta1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "type": "string",
                  "location": "query",
                  "repeated": true
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudLocationListLocationsResponse"
              },
              "description": "",
              "path": "v3beta1/{+name}/locations"
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "path": "v3beta1/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "id": "dialogflow.projects.locations.operations.get"
                },
                "cancel": {
                  "path": "v3beta1/{+name}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "",
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "id": "dialogflow.projects.locations.operations.cancel"
                },
                "list": {
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "id": "dialogflow.projects.locations.operations.list",
                  "path": "v3beta1/{+name}/operations",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "securitySettings": {
              "methods": {
                "create": {
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1SecuritySettings"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v3beta1/{+parent}/securitySettings",
                  "id": "dialogflow.projects.locations.securitySettings.create",
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1SecuritySettings"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/securitySettings"
                },
                "get": {
                  "httpMethod": "GET",
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/securitySettings/{securitySettingsId}",
                  "id": "dialogflow.projects.locations.securitySettings.get",
                  "path": "v3beta1/{+name}",
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1SecuritySettings"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/securitySettings/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/securitySettings/{securitySettingsId}",
                  "id": "dialogflow.projects.locations.securitySettings.delete",
                  "path": "v3beta1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/securitySettings/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "list": {
                  "id": "dialogflow.projects.locations.securitySettings.list",
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/securitySettings",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1ListSecuritySettingsResponse"
                  },
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v3beta1/{+parent}/securitySettings"
                },
                "patch": {
                  "path": "v3beta1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1SecuritySettings"
                  },
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/securitySettings/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/securitySettings/{securitySettingsId}",
                  "httpMethod": "PATCH",
                  "id": "dialogflow.projects.locations.securitySettings.patch",
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1SecuritySettings"
                  }
                }
              }
            },
            "agents": {
              "methods": {
                "validate": {
                  "id": "dialogflow.projects.locations.agents.validate",
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1ValidateAgentRequest"
                  },
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}:validate",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1AgentValidationResult"
                  },
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v3beta1/{+name}:validate"
                },
                "getGenerativeSettings": {
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/generativeSettings",
                  "httpMethod": "GET",
                  "id": "dialogflow.projects.locations.agents.getGenerativeSettings",
                  "path": "v3beta1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1GenerativeSettings"
                  },
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/generativeSettings$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "getValidationResult": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/validationResult$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1AgentValidationResult"
                  },
                  "path": "v3beta1/{+name}",
                  "id": "dialogflow.projects.locations.agents.getValidationResult",
                  "httpMethod": "GET",
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/validationResult"
                },
                "updateGenerativeSettings": {
                  "id": "dialogflow.projects.locations.agents.updateGenerativeSettings",
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1GenerativeSettings"
                  },
                  "httpMethod": "PATCH",
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/generativeSettings",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/generativeSettings$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1GenerativeSettings"
                  },
                  "path": "v3beta1/{+name}"
                },
                "list": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1ListAgentsResponse"
                  },
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v3beta1/{+parent}/agents",
                  "id": "dialogflow.projects.locations.agents.list",
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents",
                  "httpMethod": "GET"
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1Agent"
                  },
                  "description": "",
                  "path": "v3beta1/{+name}",
                  "id": "dialogflow.projects.locations.agents.patch",
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1Agent"
                  },
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}",
                  "httpMethod": "PATCH"
                },
                "restore": {
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}:restore",
                  "httpMethod": "POST",
                  "id": "dialogflow.projects.locations.agents.restore",
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1RestoreAgentRequest"
                  },
                  "path": "v3beta1/{+name}:restore",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": ""
                },
                "create": {
                  "id": "dialogflow.projects.locations.agents.create",
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1Agent"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1Agent"
                  },
                  "path": "v3beta1/{+parent}/agents"
                },
                "get": {
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}",
                  "httpMethod": "GET",
                  "id": "dialogflow.projects.locations.agents.get",
                  "path": "v3beta1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1Agent"
                  },
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "path": "v3beta1/{+name}",
                  "description": "",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}",
                  "id": "dialogflow.projects.locations.agents.delete"
                },
                "export": {
                  "path": "v3beta1/{+name}:export",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}:export",
                  "httpMethod": "POST",
                  "id": "dialogflow.projects.locations.agents.export",
                  "request": {
                    "$ref": "GoogleCloudDialogflowCxV3beta1ExportAgentRequest"
                  }
                }
              },
              "resources": {
                "transitionRouteGroups": {
                  "methods": {
                    "patch": {
                      "id": "dialogflow.projects.locations.agents.transitionRouteGroups.patch",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroup"
                      },
                      "httpMethod": "PATCH",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/transitionRouteGroups/{transitionRouteGroupsId}",
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroup"
                      },
                      "parameters": {
                        "updateMask": {
                          "format": "google-fieldmask",
                          "type": "string",
                          "location": "query"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/transitionRouteGroups/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3beta1/{+name}"
                    },
                    "list": {
                      "path": "v3beta1/{+parent}/transitionRouteGroups",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ListTransitionRouteGroupsResponse"
                      },
                      "description": "",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/transitionRouteGroups",
                      "httpMethod": "GET",
                      "id": "dialogflow.projects.locations.agents.transitionRouteGroups.list"
                    },
                    "get": {
                      "id": "dialogflow.projects.locations.agents.transitionRouteGroups.get",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/transitionRouteGroups/{transitionRouteGroupsId}",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroup"
                      },
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/transitionRouteGroups/[^/]+$"
                        },
                        "languageCode": {
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v3beta1/{+name}"
                    },
                    "delete": {
                      "id": "dialogflow.projects.locations.agents.transitionRouteGroups.delete",
                      "httpMethod": "DELETE",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/transitionRouteGroups/{transitionRouteGroupsId}",
                      "description": "",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameters": {
                        "force": {
                          "type": "boolean",
                          "location": "query"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/transitionRouteGroups/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3beta1/{+name}"
                    },
                    "create": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroup"
                      },
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v3beta1/{+parent}/transitionRouteGroups",
                      "id": "dialogflow.projects.locations.agents.transitionRouteGroups.create",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRouteGroup"
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/transitionRouteGroups",
                      "httpMethod": "POST"
                    }
                  }
                },
                "testCases": {
                  "methods": {
                    "batchDelete": {
                      "id": "dialogflow.projects.locations.agents.testCases.batchDelete",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1BatchDeleteTestCasesRequest"
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases:batchDelete",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v3beta1/{+parent}/testCases:batchDelete"
                    },
                    "run": {
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases/{testCasesId}:run",
                      "httpMethod": "POST",
                      "id": "dialogflow.projects.locations.agents.testCases.run",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1RunTestCaseRequest"
                      },
                      "path": "v3beta1/{+name}:run",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/testCases/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "batchRun": {
                      "path": "v3beta1/{+parent}/testCases:batchRun",
                      "description": "",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases:batchRun",
                      "id": "dialogflow.projects.locations.agents.testCases.batchRun",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1BatchRunTestCasesRequest"
                      }
                    },
                    "get": {
                      "path": "v3beta1/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/testCases/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1TestCase"
                      },
                      "httpMethod": "GET",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases/{testCasesId}",
                      "id": "dialogflow.projects.locations.agents.testCases.get"
                    },
                    "import": {
                      "id": "dialogflow.projects.locations.agents.testCases.import",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ImportTestCasesRequest"
                      },
                      "httpMethod": "POST",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases:import",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v3beta1/{+parent}/testCases:import"
                    },
                    "export": {
                      "id": "dialogflow.projects.locations.agents.testCases.export",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ExportTestCasesRequest"
                      },
                      "httpMethod": "POST",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases:export",
                      "description": "",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3beta1/{+parent}/testCases:export"
                    },
                    "create": {
                      "path": "v3beta1/{+parent}/testCases",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1TestCase"
                      },
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases",
                      "httpMethod": "POST",
                      "id": "dialogflow.projects.locations.agents.testCases.create",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1TestCase"
                      }
                    },
                    "patch": {
                      "id": "dialogflow.projects.locations.agents.testCases.patch",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1TestCase"
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases/{testCasesId}",
                      "httpMethod": "PATCH",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/testCases/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1TestCase"
                      },
                      "description": "",
                      "path": "v3beta1/{+name}"
                    },
                    "list": {
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "view": {
                          "location": "query",
                          "type": "string",
                          "enum": [
                            "TEST_CASE_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ],
                          "enumDescriptions": [
                            "",
                            "",
                            ""
                          ]
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ListTestCasesResponse"
                      },
                      "path": "v3beta1/{+parent}/testCases",
                      "id": "dialogflow.projects.locations.agents.testCases.list",
                      "httpMethod": "GET",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases"
                    },
                    "calculateCoverage": {
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases:calculateCoverage",
                      "httpMethod": "GET",
                      "id": "dialogflow.projects.locations.agents.testCases.calculateCoverage",
                      "path": "v3beta1/{+agent}/testCases:calculateCoverage",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1CalculateCoverageResponse"
                      },
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "agent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                        },
                        "type": {
                          "enumDescriptions": [
                            "",
                            "",
                            "",
                            ""
                          ],
                          "enum": [
                            "COVERAGE_TYPE_UNSPECIFIED",
                            "INTENT",
                            "PAGE_TRANSITION",
                            "TRANSITION_ROUTE_GROUP"
                          ],
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "agent"
                      ]
                    }
                  },
                  "resources": {
                    "results": {
                      "methods": {
                        "get": {
                          "id": "dialogflow.projects.locations.agents.testCases.results.get",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases/{testCasesId}/results/{resultsId}",
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameters": {
                            "name": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/testCases/[^/]+/results/[^/]+$"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
                          },
                          "description": "",
                          "path": "v3beta1/{+name}"
                        },
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/testCases/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string"
                            },
                            "filter": {
                              "type": "string",
                              "location": "query"
                            },
                            "pageSize": {
                              "format": "int32",
                              "location": "query",
                              "type": "integer"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDialogflowCxV3beta1ListTestCaseResultsResponse"
                          },
                          "description": "",
                          "path": "v3beta1/{+parent}/results",
                          "id": "dialogflow.projects.locations.agents.testCases.results.list",
                          "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/testCases/{testCasesId}/results",
                          "httpMethod": "GET"
                        }
                      }
                    }
                  }
                },
                "conversations": {
                  "methods": {
                    "list": {
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/conversations",
                      "httpMethod": "GET",
                      "id": "dialogflow.projects.locations.agents.conversations.list",
                      "path": "v3beta1/{+parent}/conversations",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ListConversationsResponse"
                      },
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "get": {
                      "id": "dialogflow.projects.locations.agents.conversations.get",
                      "httpMethod": "GET",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/conversations/{conversationsId}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/conversations/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Conversation"
                      },
                      "path": "v3beta1/{+name}"
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/conversations/{conversationsId}",
                      "id": "dialogflow.projects.locations.agents.conversations.delete",
                      "path": "v3beta1/{+name}",
                      "description": "",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/conversations/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    }
                  }
                },
                "changelogs": {
                  "methods": {
                    "get": {
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/changelogs/{changelogsId}",
                      "httpMethod": "GET",
                      "id": "dialogflow.projects.locations.agents.changelogs.get",
                      "path": "v3beta1/{+name}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Changelog"
                      },
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/changelogs/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "httpMethod": "GET",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/changelogs",
                      "id": "dialogflow.projects.locations.agents.changelogs.list",
                      "path": "v3beta1/{+parent}/changelogs",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ListChangelogsResponse"
                      }
                    }
                  }
                },
                "intents": {
                  "methods": {
                    "create": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Intent"
                      },
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                        },
                        "languageCode": {
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v3beta1/{+parent}/intents",
                      "id": "dialogflow.projects.locations.agents.intents.create",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Intent"
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/intents",
                      "httpMethod": "POST"
                    },
                    "get": {
                      "path": "v3beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/intents/[^/]+$"
                        },
                        "languageCode": {
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Intent"
                      },
                      "description": "",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/intents/{intentsId}",
                      "httpMethod": "GET",
                      "id": "dialogflow.projects.locations.agents.intents.get"
                    },
                    "delete": {
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/intents/{intentsId}",
                      "httpMethod": "DELETE",
                      "id": "dialogflow.projects.locations.agents.intents.delete",
                      "path": "v3beta1/{+name}",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/intents/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "import": {
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v3beta1/{+parent}/intents:import",
                      "id": "dialogflow.projects.locations.agents.intents.import",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ImportIntentsRequest"
                      },
                      "httpMethod": "POST",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/intents:import"
                    },
                    "export": {
                      "id": "dialogflow.projects.locations.agents.intents.export",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ExportIntentsRequest"
                      },
                      "httpMethod": "POST",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/intents:export",
                      "description": "",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3beta1/{+parent}/intents:export"
                    },
                    "list": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ListIntentsResponse"
                      },
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "intentView": {
                          "location": "query",
                          "type": "string",
                          "enum": [
                            "INTENT_VIEW_UNSPECIFIED",
                            "INTENT_VIEW_PARTIAL",
                            "INTENT_VIEW_FULL"
                          ],
                          "enumDescriptions": [
                            "",
                            "",
                            ""
                          ]
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        },
                        "languageCode": {
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v3beta1/{+parent}/intents",
                      "id": "dialogflow.projects.locations.agents.intents.list",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/intents",
                      "httpMethod": "GET"
                    },
                    "patch": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "updateMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/intents/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Intent"
                      },
                      "description": "",
                      "path": "v3beta1/{+name}",
                      "id": "dialogflow.projects.locations.agents.intents.patch",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Intent"
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/intents/{intentsId}",
                      "httpMethod": "PATCH"
                    }
                  }
                },
                "entityTypes": {
                  "methods": {
                    "get": {
                      "id": "dialogflow.projects.locations.agents.entityTypes.get",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/entityTypes/{entityTypesId}",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1EntityType"
                      },
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/entityTypes/[^/]+$"
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v3beta1/{+name}"
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/entityTypes/{entityTypesId}",
                      "id": "dialogflow.projects.locations.agents.entityTypes.delete",
                      "path": "v3beta1/{+name}",
                      "description": "",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/entityTypes/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "force": {
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "export": {
                      "httpMethod": "POST",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/entityTypes:export",
                      "id": "dialogflow.projects.locations.agents.entityTypes.export",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ExportEntityTypesRequest"
                      },
                      "path": "v3beta1/{+parent}/entityTypes:export",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    },
                    "import": {
                      "id": "dialogflow.projects.locations.agents.entityTypes.import",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesRequest"
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/entityTypes:import",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "",
                      "path": "v3beta1/{+parent}/entityTypes:import"
                    },
                    "create": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1EntityType"
                      },
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v3beta1/{+parent}/entityTypes",
                      "id": "dialogflow.projects.locations.agents.entityTypes.create",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1EntityType"
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/entityTypes",
                      "httpMethod": "POST"
                    },
                    "patch": {
                      "id": "dialogflow.projects.locations.agents.entityTypes.patch",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1EntityType"
                      },
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/entityTypes/{entityTypesId}",
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1EntityType"
                      },
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/entityTypes/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "languageCode": {
                          "type": "string",
                          "location": "query"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v3beta1/{+name}"
                    },
                    "list": {
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/entityTypes",
                      "httpMethod": "GET",
                      "id": "dialogflow.projects.locations.agents.entityTypes.list",
                      "path": "v3beta1/{+parent}/entityTypes",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ListEntityTypesResponse"
                      },
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                },
                "generators": {
                  "methods": {
                    "list": {
                      "path": "v3beta1/{+parent}/generators",
                      "parameters": {
                        "languageCode": {
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ListGeneratorsResponse"
                      },
                      "httpMethod": "GET",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/generators",
                      "id": "dialogflow.projects.locations.agents.generators.list"
                    },
                    "patch": {
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/generators/{generatorsId}",
                      "httpMethod": "PATCH",
                      "id": "dialogflow.projects.locations.agents.generators.patch",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Generator"
                      },
                      "path": "v3beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/generators/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "languageCode": {
                          "type": "string",
                          "location": "query"
                        },
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "format": "google-fieldmask"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Generator"
                      },
                      "description": ""
                    },
                    "create": {
                      "httpMethod": "POST",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/generators",
                      "id": "dialogflow.projects.locations.agents.generators.create",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Generator"
                      },
                      "path": "v3beta1/{+parent}/generators",
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Generator"
                      },
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$"
                        },
                        "languageCode": {
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "get": {
                      "id": "dialogflow.projects.locations.agents.generators.get",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/generators/{generatorsId}",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/generators/[^/]+$"
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Generator"
                      },
                      "description": "",
                      "path": "v3beta1/{+name}"
                    },
                    "delete": {
                      "path": "v3beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "force": {
                          "location": "query",
                          "type": "boolean"
                        },
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/generators/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "description": "",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/generators/{generatorsId}",
                      "httpMethod": "DELETE",
                      "id": "dialogflow.projects.locations.agents.generators.delete"
                    }
                  }
                },
                "playbooks": {
                  "methods": {
                    "delete": {
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/playbooks/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v3beta1/{+name}",
                      "id": "dialogflow.projects.locations.agents.playbooks.delete",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/playbooks/{playbooksId}",
                      "httpMethod": "DELETE"
                    },
                    "get": {
                      "httpMethod": "GET",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/playbooks/{playbooksId}",
                      "id": "dialogflow.projects.locations.agents.playbooks.get",
                      "path": "v3beta1/{+name}",
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1Playbook"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/playbooks/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "export": {
                      "path": "v3beta1/{+name}:export",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+/playbooks/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/playbooks/{playbooksId}:export",
                      "httpMethod": "POST",
                      "id": "dialogflow.projects.locations.agents.playbooks.export",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ExportPlaybookRequest"
                      }
                    },
                    "import": {
                      "id": "dialogflow.projects.locations.agents.playbooks.import",
                      "request": {
                        "$ref": "GoogleCloudDialogflowCxV3beta1ImportPlaybookRequest"
                      },
                      "httpMethod": "POST",
                      "flatPath": "v3beta1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}/playbooks:import",
                      "description": "",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v3beta1/{+parent}/playbooks:import"
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
[...]
