{
  "name": "dialogflow",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://dialogflow.googleapis.com/",
  "canonicalName": "Dialogflow",
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "title": "Dialogflow API",
  "version": "v2",
  "batchPath": "batch",
  "revision": "20260618",
  "resources": {
    "projects": {
      "methods": {
        "setAgent": {
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "GoogleCloudDialogflowV2Agent"
          },
          "path": "v2/{+parent}/agent",
          "description": "",
          "parameters": {
            "parent": {
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+$",
              "required": true
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "id": "dialogflow.projects.setAgent",
          "flatPath": "v2/projects/{projectsId}/agent",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/dialogflow"
          ],
          "request": {
            "$ref": "GoogleCloudDialogflowV2Agent"
          },
          "httpMethod": "POST"
        },
        "getAgent": {
          "flatPath": "v2/projects/{projectsId}/agent",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/dialogflow"
          ],
          "id": "dialogflow.projects.getAgent",
          "httpMethod": "GET",
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "GoogleCloudDialogflowV2Agent"
          },
          "parameters": {
            "parent": {
              "pattern": "^projects/[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "path": "v2/{+parent}/agent",
          "description": ""
        },
        "deleteAgent": {
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "parameters": {
            "parent": {
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+$",
              "required": true
            }
          },
          "path": "v2/{+parent}/agent",
          "description": "",
          "parameterOrder": [
            "parent"
          ],
          "httpMethod": "DELETE",
          "flatPath": "v2/projects/{projectsId}/agent",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/dialogflow"
          ],
          "id": "dialogflow.projects.deleteAgent"
        }
      },
      "resources": {
        "agent": {
          "methods": {
            "export": {
              "id": "dialogflow.projects.agent.export",
              "flatPath": "v2/projects/{projectsId}/agent:export",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "request": {
                "$ref": "GoogleCloudDialogflowV2ExportAgentRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v2/{+parent}/agent:export",
              "description": "",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                }
              }
            },
            "search": {
              "id": "dialogflow.projects.agent.search",
              "flatPath": "v2/projects/{projectsId}/agent:search",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2SearchAgentsResponse"
              },
              "path": "v2/{+parent}/agent:search",
              "description": "",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                }
              }
            },
            "restore": {
              "flatPath": "v2/projects/{projectsId}/agent:restore",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "id": "dialogflow.projects.agent.restore",
              "request": {
                "$ref": "GoogleCloudDialogflowV2RestoreAgentRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v2/{+parent}/agent:restore",
              "description": ""
            },
            "train": {
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudDialogflowV2TrainAgentRequest"
              },
              "id": "dialogflow.projects.agent.train",
              "flatPath": "v2/projects/{projectsId}/agent:train",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2/{+parent}/agent:train",
              "description": "",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "import": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                }
              },
              "path": "v2/{+parent}/agent:import",
              "description": "",
              "flatPath": "v2/projects/{projectsId}/agent:import",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "id": "dialogflow.projects.agent.import",
              "request": {
                "$ref": "GoogleCloudDialogflowV2ImportAgentRequest"
              },
              "httpMethod": "POST"
            },
            "updateFulfillment": {
              "id": "dialogflow.projects.agent.updateFulfillment",
              "flatPath": "v2/projects/{projectsId}/agent/fulfillment",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "request": {
                "$ref": "GoogleCloudDialogflowV2Fulfillment"
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2Fulfillment"
              },
              "path": "v2/{+name}",
              "description": "",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/agent/fulfillment$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              }
            },
            "getValidationResult": {
              "id": "dialogflow.projects.agent.getValidationResult",
              "flatPath": "v2/projects/{projectsId}/agent/validationResult",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2ValidationResult"
              },
              "path": "v2/{+parent}/agent/validationResult",
              "description": "",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "languageCode": {
                  "location": "query",
                  "type": "string"
                }
              }
            },
            "getFulfillment": {
              "response": {
                "$ref": "GoogleCloudDialogflowV2Fulfillment"
              },
              "path": "v2/{+name}",
              "description": "",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/agent/fulfillment$",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "id": "dialogflow.projects.agent.getFulfillment",
              "flatPath": "v2/projects/{projectsId}/agent/fulfillment",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ]
            }
          },
          "resources": {
            "versions": {
              "methods": {
                "delete": {
                  "httpMethod": "DELETE",
                  "flatPath": "v2/projects/{projectsId}/agent/versions/{versionsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.agent.versions.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent/versions/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v2/{+name}",
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "id": "dialogflow.projects.agent.versions.list",
                  "flatPath": "v2/projects/{projectsId}/agent/versions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2/{+parent}/versions",
                  "description": "",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/agent$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListVersionsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Version"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/agent/versions/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "path": "v2/{+name}",
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Version"
                  },
                  "httpMethod": "PATCH",
                  "flatPath": "v2/projects/{projectsId}/agent/versions/{versionsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.agent.versions.patch"
                },
                "get": {
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/agent/versions/{versionsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.agent.versions.get",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Version"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent/versions/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v2/{+name}",
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Version"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v2/projects/{projectsId}/agent/versions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.agent.versions.create",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Version"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/agent$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v2/{+parent}/versions",
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "intents": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/agent/intents/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v2/{+name}",
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v2/projects/{projectsId}/agent/intents/{intentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.agent.intents.delete"
                },
                "batchUpdate": {
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/agent$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v2/{+parent}/intents:batchUpdate",
                  "description": "",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2BatchUpdateIntentsRequest"
                  },
                  "flatPath": "v2/projects/{projectsId}/agent/intents:batchUpdate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.agent.intents.batchUpdate"
                },
                "batchDelete": {
                  "flatPath": "v2/projects/{projectsId}/agent/intents:batchDelete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.agent.intents.batchDelete",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2BatchDeleteIntentsRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/agent$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v2/{+parent}/intents:batchDelete",
                  "description": "",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "id": "dialogflow.projects.agent.intents.list",
                  "flatPath": "v2/projects/{projectsId}/agent/intents",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2/{+parent}/intents",
                  "description": "",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "intentView": {
                      "enumDescriptions": [
                        "",
                        ""
                      ],
                      "enum": [
                        "INTENT_VIEW_UNSPECIFIED",
                        "INTENT_VIEW_FULL"
                      ],
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/agent$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListIntentsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Intent"
                  },
                  "httpMethod": "PATCH",
                  "flatPath": "v2/projects/{projectsId}/agent/intents/{intentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.agent.intents.patch",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Intent"
                  },
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "intentView": {
                      "location": "query",
                      "type": "string",
                      "enumDescriptions": [
                        "",
                        ""
                      ],
                      "enum": [
                        "INTENT_VIEW_UNSPECIFIED",
                        "INTENT_VIEW_FULL"
                      ]
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent/intents/[^/]+$",
                      "required": true
                    },
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v2/{+name}",
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent/intents/[^/]+$",
                      "required": true
                    },
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    },
                    "intentView": {
                      "location": "query",
                      "type": "string",
                      "enumDescriptions": [
                        "",
                        ""
                      ],
                      "enum": [
                        "INTENT_VIEW_UNSPECIFIED",
                        "INTENT_VIEW_FULL"
                      ]
                    }
                  },
                  "path": "v2/{+name}",
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Intent"
                  },
                  "flatPath": "v2/projects/{projectsId}/agent/intents/{intentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.agent.intents.get",
                  "httpMethod": "GET"
                },
                "create": {
                  "path": "v2/{+parent}/intents",
                  "description": "",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/agent$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    },
                    "intentView": {
                      "location": "query",
                      "type": "string",
                      "enumDescriptions": [
                        "",
                        ""
                      ],
                      "enum": [
                        "INTENT_VIEW_UNSPECIFIED",
                        "INTENT_VIEW_FULL"
                      ]
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Intent"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Intent"
                  },
                  "id": "dialogflow.projects.agent.intents.create",
                  "flatPath": "v2/projects/{projectsId}/agent/intents",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                }
              }
            },
            "environments": {
              "methods": {
                "get": {
                  "id": "dialogflow.projects.agent.environments.get",
                  "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Environment"
                  },
                  "path": "v2/{+name}",
                  "description": "",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent/environments/[^/]+$",
                      "required": true
                    }
                  }
                },
                "create": {
                  "flatPath": "v2/projects/{projectsId}/agent/environments",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.agent.environments.create",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Environment"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/agent$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "environmentId": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v2/{+parent}/environments",
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Environment"
                  }
                },
                "list": {
                  "flatPath": "v2/projects/{projectsId}/agent/environments",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.agent.environments.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListEnvironmentsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/agent$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v2/{+parent}/environments",
                  "description": ""
                },
                "patch": {
                  "id": "dialogflow.projects.agent.environments.patch",
                  "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Environment"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "description": "",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "allowLoadToDraftAndDiscardChanges": {
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent/environments/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Environment"
                  }
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent/environments/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v2/{+name}",
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.agent.environments.delete"
                },
                "getHistory": {
                  "id": "dialogflow.projects.agent.environments.getHistory",
                  "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/history",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2EnvironmentHistory"
                  },
                  "path": "v2/{+parent}/history",
                  "description": "",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/agent/environments/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  }
                }
              },
              "resources": {
                "users": {
                  "resources": {
                    "sessions": {
                      "methods": {
                        "deleteContexts": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "path": "v2/{+parent}/contexts",
                          "description": "",
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "id": "dialogflow.projects.agent.environments.users.sessions.deleteContexts",
                          "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "httpMethod": "DELETE"
                        },
                        "detectIntent": {
                          "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}:detectIntent",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "id": "dialogflow.projects.agent.environments.users.sessions.detectIntent",
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2DetectIntentRequest"
                          },
                          "parameterOrder": [
                            "session"
                          ],
                          "parameters": {
                            "session": {
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                              "required": true
                            }
                          },
                          "path": "v2/{+session}:detectIntent",
                          "description": "",
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2DetectIntentResponse"
                          }
                        }
                      },
                      "resources": {
                        "contexts": {
                          "methods": {
                            "delete": {
                              "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts/{contextsId}",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.delete",
                              "httpMethod": "DELETE",
                              "parameterOrder": [
                                "name"
                              ],
                              "parameters": {
                                "name": {
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/contexts/[^/]+$",
                                  "required": true,
                                  "location": "path",
                                  "type": "string"
                                }
                              },
                              "path": "v2/{+name}",
                              "description": "",
                              "response": {
                                "$ref": "GoogleProtobufEmpty"
                              }
                            },
                            "get": {
                              "httpMethod": "GET",
                              "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts/{contextsId}",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.get",
                              "parameters": {
                                "name": {
                                  "location": "path",
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/contexts/[^/]+$",
                                  "required": true
                                }
                              },
                              "path": "v2/{+name}",
                              "description": "",
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2Context"
                              },
                              "parameterOrder": [
                                "name"
                              ]
                            },
                            "create": {
                              "parameterOrder": [
                                "parent"
                              ],
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2Context"
                              },
                              "path": "v2/{+parent}/contexts",
                              "description": "",
                              "parameters": {
                                "parent": {
                                  "location": "path",
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                                  "required": true
                                }
                              },
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.create",
                              "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "request": {
                                "$ref": "GoogleCloudDialogflowV2Context"
                              },
                              "httpMethod": "POST"
                            },
                            "list": {
                              "httpMethod": "GET",
                              "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.list",
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2ListContextsResponse"
                              },
                              "parameters": {
                                "pageToken": {
                                  "location": "query",
                                  "type": "string"
                                },
                                "parent": {
                                  "location": "path",
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                                  "required": true
                                },
                                "pageSize": {
                                  "format": "int32",
                                  "location": "query",
                                  "type": "integer"
                                }
                              },
                              "path": "v2/{+parent}/contexts",
                              "description": "",
                              "parameterOrder": [
                                "parent"
                              ]
                            },
                            "patch": {
                              "path": "v2/{+name}",
                              "description": "",
                              "parameters": {
                                "name": {
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/contexts/[^/]+$",
                                  "required": true,
                                  "location": "path",
                                  "type": "string"
                                },
                                "updateMask": {
                                  "format": "google-fieldmask",
                                  "location": "query",
                                  "type": "string"
                                }
                              },
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2Context"
                              },
                              "parameterOrder": [
                                "name"
                              ],
                              "httpMethod": "PATCH",
                              "request": {
                                "$ref": "GoogleCloudDialogflowV2Context"
                              },
                              "id": "dialogflow.projects.agent.environments.users.sessions.contexts.patch",
                              "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/contexts/{contextsId}",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ]
                            }
                          }
                        },
                        "entityTypes": {
                          "methods": {
                            "get": {
                              "httpMethod": "GET",
                              "id": "dialogflow.projects.agent.environments.users.sessions.entityTypes.get",
                              "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                              },
                              "path": "v2/{+name}",
                              "description": "",
                              "parameters": {
                                "name": {
                                  "location": "path",
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                                  "required": true
                                }
                              },
                              "parameterOrder": [
                                "name"
                              ]
                            },
                            "create": {
                              "request": {
                                "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                              },
                              "httpMethod": "POST",
                              "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "id": "dialogflow.projects.agent.environments.users.sessions.entityTypes.create",
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                              },
                              "parameters": {
                                "parent": {
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                                  "required": true,
                                  "location": "path",
                                  "type": "string"
                                }
                              },
                              "path": "v2/{+parent}/entityTypes",
                              "description": "",
                              "parameterOrder": [
                                "parent"
                              ]
                            },
                            "list": {
                              "path": "v2/{+parent}/entityTypes",
                              "description": "",
                              "parameters": {
                                "parent": {
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+$",
                                  "required": true,
                                  "location": "path",
                                  "type": "string"
                                },
                                "pageSize": {
                                  "location": "query",
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "pageToken": {
                                  "location": "query",
                                  "type": "string"
                                }
                              },
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2ListSessionEntityTypesResponse"
                              },
                              "parameterOrder": [
                                "parent"
                              ],
                              "httpMethod": "GET",
                              "id": "dialogflow.projects.agent.environments.users.sessions.entityTypes.list",
                              "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ]
                            },
                            "patch": {
                              "request": {
                                "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                              },
                              "httpMethod": "PATCH",
                              "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "id": "dialogflow.projects.agent.environments.users.sessions.entityTypes.patch",
                              "response": {
                                "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                              },
                              "parameters": {
                                "name": {
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                                  "required": true,
                                  "location": "path",
                                  "type": "string"
                                },
                                "updateMask": {
                                  "location": "query",
                                  "type": "string",
                                  "format": "google-fieldmask"
                                }
                              },
                              "path": "v2/{+name}",
                              "description": "",
                              "parameterOrder": [
                                "name"
                              ]
                            },
                            "delete": {
                              "id": "dialogflow.projects.agent.environments.users.sessions.entityTypes.delete",
                              "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/users/{usersId}/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/dialogflow"
                              ],
                              "httpMethod": "DELETE",
                              "parameterOrder": [
                                "name"
                              ],
                              "response": {
                                "$ref": "GoogleProtobufEmpty"
                              },
                              "path": "v2/{+name}",
                              "description": "",
                              "parameters": {
                                "name": {
                                  "pattern": "^projects/[^/]+/agent/environments/[^/]+/users/[^/]+/sessions/[^/]+/entityTypes/[^/]+$",
                                  "required": true,
                                  "location": "path",
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "intents": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "flatPath": "v2/projects/{projectsId}/agent/environments/{environmentsId}/intents",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.agent.environments.intents.list",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2ListIntentsResponse"
                      },
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        },
                        "intentView": {
                          "location": "query",
                          "type": "string",
                          "enumDescriptions": [
                            "",
                            ""
                          ],
                          "enum": [
                            "INTENT_VIEW_UNSPECIFIED",
                            "INTENT_VIEW_FULL"
                          ]
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/agent/environments/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        }
                      },
                      "path": "v2/{+parent}/intents",
                      "description": "",
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                }
              }
            },
            "entityTypes": {
              "methods": {
                "delete": {
                  "flatPath": "v2/projects/{projectsId}/agent/entityTypes/{entityTypesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.agent.entityTypes.delete",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v2/{+name}",
                  "description": ""
                },
                "batchUpdate": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/entityTypes:batchUpdate",
                  "description": "",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/agent$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "dialogflow.projects.agent.entityTypes.batchUpdate",
                  "flatPath": "v2/projects/{projectsId}/agent/entityTypes:batchUpdate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2BatchUpdateEntityTypesRequest"
                  }
                },
                "batchDelete": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/agent$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v2/{+parent}/entityTypes:batchDelete",
                  "description": "",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v2/projects/{projectsId}/agent/entityTypes:batchDelete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.agent.entityTypes.batchDelete",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2BatchDeleteEntityTypesRequest"
                  }
                },
                "list": {
                  "flatPath": "v2/projects/{projectsId}/agent/entityTypes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.agent.entityTypes.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListEntityTypesResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent$",
                      "required": true
                    },
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "path": "v2/{+parent}/entityTypes",
                  "description": ""
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2EntityType"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v2/{+name}",
                  "description": "",
                  "flatPath": "v2/projects/{projectsId}/agent/entityTypes/{entityTypesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.agent.entityTypes.patch",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2EntityType"
                  },
                  "httpMethod": "PATCH"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2EntityType"
                  },
                  "path": "v2/{+name}",
                  "description": "",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "dialogflow.projects.agent.entityTypes.get",
                  "flatPath": "v2/projects/{projectsId}/agent/entityTypes/{entityTypesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "GET"
                },
                "create": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2EntityType"
                  },
                  "path": "v2/{+parent}/entityTypes",
                  "description": "",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent$",
                      "required": true
                    },
                    "languageCode": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2EntityType"
                  },
                  "httpMethod": "POST",
                  "id": "dialogflow.projects.agent.entityTypes.create",
                  "flatPath": "v2/projects/{projectsId}/agent/entityTypes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                }
              },
              "resources": {
                "entities": {
                  "methods": {
                    "batchCreate": {
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2BatchCreateEntitiesRequest"
                      },
                      "httpMethod": "POST",
                      "flatPath": "v2/projects/{projectsId}/agent/entityTypes/{entityTypesId}/entities:batchCreate",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.agent.entityTypes.entities.batchCreate",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "path": "v2/{+parent}/entities:batchCreate",
                      "description": "",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "batchUpdate": {
                      "path": "v2/{+parent}/entities:batchUpdate",
                      "description": "",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2BatchUpdateEntitiesRequest"
                      },
                      "id": "dialogflow.projects.agent.entityTypes.entities.batchUpdate",
                      "flatPath": "v2/projects/{projectsId}/agent/entityTypes/{entityTypesId}/entities:batchUpdate",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "batchDelete": {
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2BatchDeleteEntitiesRequest"
                      },
                      "flatPath": "v2/projects/{projectsId}/agent/entityTypes/{entityTypesId}/entities:batchDelete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.agent.entityTypes.entities.batchDelete",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                          "required": true
                        }
                      },
                      "path": "v2/{+parent}/entities:batchDelete",
                      "description": "",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                }
              }
            },
            "sessions": {
              "methods": {
                "detectIntent": {
                  "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}:detectIntent",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.agent.sessions.detectIntent",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2DetectIntentRequest"
                  },
                  "parameterOrder": [
                    "session"
                  ],
                  "parameters": {
                    "session": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v2/{+session}:detectIntent",
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2DetectIntentResponse"
                  }
                },
                "deleteContexts": {
                  "httpMethod": "DELETE",
                  "id": "dialogflow.projects.agent.sessions.deleteContexts",
                  "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/contexts",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v2/{+parent}/contexts",
                  "description": "",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                }
              },
              "resources": {
                "contexts": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "id": "dialogflow.projects.agent.sessions.contexts.get",
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/contexts/{contextsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2Context"
                      },
                      "path": "v2/{+name}",
                      "description": "",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/contexts/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                          "required": true
                        }
                      },
                      "path": "v2/{+parent}/contexts",
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2Context"
                      },
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/contexts",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.agent.sessions.contexts.create",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2Context"
                      }
                    },
                    "list": {
                      "httpMethod": "GET",
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/contexts",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.agent.sessions.contexts.list",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                          "required": true
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v2/{+parent}/contexts",
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2ListContextsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "patch": {
                      "id": "dialogflow.projects.agent.sessions.contexts.patch",
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/contexts/{contextsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2Context"
                      },
                      "httpMethod": "PATCH",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2Context"
                      },
                      "path": "v2/{+name}",
                      "description": "",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/contexts/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string"
                        }
                      }
                    },
                    "delete": {
                      "id": "dialogflow.projects.agent.sessions.contexts.delete",
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/contexts/{contextsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "path": "v2/{+name}",
                      "description": "",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/contexts/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "entityTypes": {
                  "methods": {
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/entityTypes/[^/]+$",
                          "required": true
                        }
                      },
                      "path": "v2/{+name}",
                      "description": "",
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.agent.sessions.entityTypes.get",
                      "httpMethod": "GET"
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "path": "v2/{+parent}/entityTypes",
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                      },
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/entityTypes",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.agent.sessions.entityTypes.create",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                      }
                    },
                    "list": {
                      "id": "dialogflow.projects.agent.sessions.entityTypes.list",
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/entityTypes",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2ListSessionEntityTypesResponse"
                      },
                      "path": "v2/{+parent}/entityTypes",
                      "description": "",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        }
                      }
                    },
                    "patch": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/entityTypes/[^/]+$",
                          "required": true
                        },
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        }
                      },
                      "path": "v2/{+name}",
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                      },
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.agent.sessions.entityTypes.patch"
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/entityTypes/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "path": "v2/{+name}",
                      "description": "",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.agent.sessions.entityTypes.delete"
                    }
                  }
                }
              }
            },
            "knowledgeBases": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "id": "dialogflow.projects.agent.knowledgeBases.get",
                  "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2/{+name}",
                  "description": "",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent$",
                      "required": true
                    }
                  },
                  "path": "v2/{+parent}/knowledgeBases",
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.agent.knowledgeBases.create"
                },
                "list": {
                  "httpMethod": "GET",
                  "id": "dialogflow.projects.agent.knowledgeBases.list",
                  "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListKnowledgeBasesResponse"
                  },
                  "path": "v2/{+parent}/knowledgeBases",
                  "description": "",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/agent$",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "id": "dialogflow.projects.agent.knowledgeBases.patch",
                  "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
                  },
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
                  },
                  "path": "v2/{+name}",
                  "description": "",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  }
                },
                "delete": {
                  "id": "dialogflow.projects.agent.knowledgeBases.delete",
                  "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "description": "",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "force": {
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                }
              },
              "resources": {
                "documents": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "id": "dialogflow.projects.agent.knowledgeBases.documents.list",
                      "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}/documents",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2ListDocumentsResponse"
                      },
                      "path": "v2/{+parent}/documents",
                      "description": "",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+/documents/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        }
                      },
                      "path": "v2/{+name}",
                      "description": "",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.agent.knowledgeBases.documents.patch",
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2Document"
                      }
                    },
                    "reload": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+/documents/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "path": "v2/{+name}:reload",
                      "description": "",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2ReloadDocumentRequest"
                      },
                      "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}:reload",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.agent.knowledgeBases.documents.reload"
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+/documents/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "path": "v2/{+name}",
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2Document"
                      },
                      "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.agent.knowledgeBases.documents.get",
                      "httpMethod": "GET"
                    },
                    "create": {
                      "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}/documents",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.agent.knowledgeBases.documents.create",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2Document"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "path": "v2/{+parent}/documents",
                      "description": "",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v2/{+name}",
                      "description": "",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+/documents/[^/]+$",
                          "required": true
                        }
                      },
                      "id": "dialogflow.projects.agent.knowledgeBases.documents.delete",
[...]
