{
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    }
  },
  "title": "Dialogflow API",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version_module": true,
  "revision": "20260701",
  "id": "dialogflow:v2",
  "resources": {
    "projects": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "flatPath": "v2/projects/{projectsId}/operations/{operationsId}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "dialogflow.projects.operations.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2/{+name}",
              "description": "",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "cancel": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v2/projects/{projectsId}/operations/{operationsId}:cancel",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "id": "dialogflow.projects.operations.cancel",
              "path": "v2/{+name}:cancel",
              "description": ""
            },
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "id": "dialogflow.projects.operations.list",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "flatPath": "v2/projects/{projectsId}/operations",
              "description": "",
              "path": "v2/{+name}/operations",
              "parameters": {
                "filter": {
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "returnPartialSuccess": {
                  "location": "query",
                  "type": "boolean"
                }
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "conversationDatasets": {
          "methods": {
            "importConversationData": {
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/conversationDatasets/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "",
              "request": {
                "$ref": "GoogleCloudDialogflowV2ImportConversationDataRequest"
              },
              "path": "v2/{+name}:importConversationData",
              "id": "dialogflow.projects.conversationDatasets.importConversationData",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "flatPath": "v2/projects/{projectsId}/conversationDatasets/{conversationDatasetsId}:importConversationData",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "get": {
              "description": "",
              "path": "v2/{+name}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "id": "dialogflow.projects.conversationDatasets.get",
              "response": {
                "$ref": "GoogleCloudDialogflowV2ConversationDataset"
              },
              "flatPath": "v2/projects/{projectsId}/conversationDatasets/{conversationDatasetsId}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/conversationDatasets/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/projects/{projectsId}/conversationDatasets",
              "response": {
                "$ref": "GoogleCloudDialogflowV2ListConversationDatasetsResponse"
              },
              "id": "dialogflow.projects.conversationDatasets.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2/{+parent}/conversationDatasets",
              "description": ""
            }
          }
        },
        "conversationProfiles": {
          "methods": {
            "clearSuggestionFeatureConfig": {
              "description": "",
              "request": {
                "$ref": "GoogleCloudDialogflowV2ClearSuggestionFeatureConfigRequest"
              },
              "path": "v2/{+conversationProfile}:clearSuggestionFeatureConfig",
              "id": "dialogflow.projects.conversationProfiles.clearSuggestionFeatureConfig",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "flatPath": "v2/projects/{projectsId}/conversationProfiles/{conversationProfilesId}:clearSuggestionFeatureConfig",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "conversationProfile": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "conversationProfile"
              ]
            },
            "patch": {
              "response": {
                "$ref": "GoogleCloudDialogflowV2ConversationProfile"
              },
              "flatPath": "v2/projects/{projectsId}/conversationProfiles/{conversationProfilesId}",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "id": "dialogflow.projects.conversationProfiles.patch",
              "path": "v2/{+name}",
              "request": {
                "$ref": "GoogleCloudDialogflowV2ConversationProfile"
              },
              "description": "",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "setSuggestionFeatureConfig": {
              "request": {
                "$ref": "GoogleCloudDialogflowV2SetSuggestionFeatureConfigRequest"
              },
              "path": "v2/{+conversationProfile}:setSuggestionFeatureConfig",
              "description": "",
              "flatPath": "v2/projects/{projectsId}/conversationProfiles/{conversationProfilesId}:setSuggestionFeatureConfig",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "dialogflow.projects.conversationProfiles.setSuggestionFeatureConfig",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "conversationProfile": {
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "conversationProfile"
              ]
            },
            "create": {
              "flatPath": "v2/projects/{projectsId}/conversationProfiles",
              "response": {
                "$ref": "GoogleCloudDialogflowV2ConversationProfile"
              },
              "id": "dialogflow.projects.conversationProfiles.create",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "request": {
                "$ref": "GoogleCloudDialogflowV2ConversationProfile"
              },
              "path": "v2/{+parent}/conversationProfiles",
              "description": "",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "",
              "path": "v2/{+name}",
              "id": "dialogflow.projects.conversationProfiles.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "flatPath": "v2/projects/{projectsId}/conversationProfiles/{conversationProfilesId}",
              "response": {
                "$ref": "GoogleCloudDialogflowV2ConversationProfile"
              }
            },
            "list": {
              "path": "v2/{+parent}/conversationProfiles",
              "description": "",
              "response": {
                "$ref": "GoogleCloudDialogflowV2ListConversationProfilesResponse"
              },
              "flatPath": "v2/projects/{projectsId}/conversationProfiles",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "id": "dialogflow.projects.conversationProfiles.list",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "delete": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/conversationProfiles/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "dialogflow.projects.conversationProfiles.delete",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "flatPath": "v2/projects/{projectsId}/conversationProfiles/{conversationProfilesId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "",
              "path": "v2/{+name}"
            }
          }
        },
        "knowledgeBases": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/knowledgeBases/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "id": "dialogflow.projects.knowledgeBases.get",
              "response": {
                "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
              },
              "flatPath": "v2/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}",
              "description": "",
              "path": "v2/{+name}"
            },
            "list": {
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v2/{+parent}/knowledgeBases",
              "description": "",
              "response": {
                "$ref": "GoogleCloudDialogflowV2ListKnowledgeBasesResponse"
              },
              "flatPath": "v2/projects/{projectsId}/knowledgeBases",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "id": "dialogflow.projects.knowledgeBases.list"
            },
            "delete": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/knowledgeBases/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "force": {
                  "type": "boolean",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "dialogflow.projects.knowledgeBases.delete",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "flatPath": "v2/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "",
              "path": "v2/{+name}"
            },
            "patch": {
              "flatPath": "v2/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}",
              "response": {
                "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
              },
              "id": "dialogflow.projects.knowledgeBases.patch",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "request": {
                "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
              },
              "path": "v2/{+name}",
              "description": "",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/knowledgeBases/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "description": "",
              "request": {
                "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
              },
              "path": "v2/{+parent}/knowledgeBases",
              "id": "dialogflow.projects.knowledgeBases.create",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "flatPath": "v2/projects/{projectsId}/knowledgeBases",
              "response": {
                "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
              },
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            }
          },
          "resources": {
            "documents": {
              "methods": {
                "create": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v2/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.knowledgeBases.documents.create",
                  "path": "v2/{+parent}/documents",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Document"
                  },
                  "description": "",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "export": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v2/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}:export",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.knowledgeBases.documents.export",
                  "path": "v2/{+name}:export",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2ExportDocumentRequest"
                  },
                  "description": ""
                },
                "patch": {
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Document"
                  },
                  "path": "v2/{+name}",
                  "id": "dialogflow.projects.knowledgeBases.documents.patch",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "",
                  "path": "v2/{+parent}/documents",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.knowledgeBases.documents.list",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListDocumentsResponse"
                  },
                  "flatPath": "v2/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents"
                },
                "import": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2ImportDocumentsRequest"
                  },
                  "path": "v2/{+parent}/documents:import",
                  "description": "",
                  "flatPath": "v2/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents:import",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "dialogflow.projects.knowledgeBases.documents.import",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v2/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.knowledgeBases.documents.delete",
                  "path": "v2/{+name}",
                  "description": "",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "flatPath": "v2/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Document"
                  },
                  "id": "dialogflow.projects.knowledgeBases.documents.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2/{+name}",
                  "description": "",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "reload": {
                  "flatPath": "v2/projects/{projectsId}/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}:reload",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "dialogflow.projects.knowledgeBases.documents.reload",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2ReloadDocumentRequest"
                  },
                  "path": "v2/{+name}:reload",
                  "description": "",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/knowledgeBases/[^/]+/documents/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        },
        "conversationModels": {
          "resources": {
            "evaluations": {
              "methods": {
                "list": {
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/conversationModels/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/evaluations",
                  "description": "",
                  "flatPath": "v2/projects/{projectsId}/conversationModels/{conversationModelsId}/evaluations",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListConversationModelEvaluationsResponse"
                  },
                  "id": "dialogflow.projects.conversationModels.evaluations.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "get": {
                  "flatPath": "v2/projects/{projectsId}/conversationModels/{conversationModelsId}/evaluations/{evaluationsId}",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ConversationModelEvaluation"
                  },
                  "id": "dialogflow.projects.conversationModels.evaluations.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2/{+name}",
                  "description": "",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/conversationModels/[^/]+/evaluations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          },
          "methods": {
            "create": {
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "id": "dialogflow.projects.conversationModels.create",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v2/projects/{projectsId}/conversationModels",
              "description": "",
              "path": "v2/{+parent}/conversationModels",
              "request": {
                "$ref": "GoogleCloudDialogflowV2ConversationModel"
              }
            },
            "get": {
              "response": {
                "$ref": "GoogleCloudDialogflowV2ConversationModel"
              },
              "flatPath": "v2/projects/{projectsId}/conversationModels/{conversationModelsId}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "id": "dialogflow.projects.conversationModels.get",
              "path": "v2/{+name}",
              "description": "",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/conversationModels/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "undeploy": {
              "description": "",
              "request": {
                "$ref": "GoogleCloudDialogflowV2UndeployConversationModelRequest"
              },
              "path": "v2/{+name}:undeploy",
              "id": "dialogflow.projects.conversationModels.undeploy",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "flatPath": "v2/projects/{projectsId}/conversationModels/{conversationModelsId}:undeploy",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/conversationModels/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "id": "dialogflow.projects.conversationModels.list",
              "response": {
                "$ref": "GoogleCloudDialogflowV2ListConversationModelsResponse"
              },
              "flatPath": "v2/projects/{projectsId}/conversationModels",
              "description": "",
              "path": "v2/{+parent}/conversationModels",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "delete": {
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/conversationModels/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/projects/{projectsId}/conversationModels/{conversationModelsId}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "dialogflow.projects.conversationModels.delete",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2/{+name}",
              "description": ""
            },
            "deploy": {
              "path": "v2/{+name}:deploy",
              "request": {
                "$ref": "GoogleCloudDialogflowV2DeployConversationModelRequest"
              },
              "description": "",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v2/projects/{projectsId}/conversationModels/{conversationModelsId}:deploy",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "id": "dialogflow.projects.conversationModels.deploy",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/conversationModels/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "generators": {
          "methods": {
            "create": {
              "path": "v2/{+parent}/generators",
              "request": {
                "$ref": "GoogleCloudDialogflowV2Generator"
              },
              "description": "",
              "response": {
                "$ref": "GoogleCloudDialogflowV2Generator"
              },
              "flatPath": "v2/projects/{projectsId}/generators",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "id": "dialogflow.projects.generators.create",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "generatorId": {
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "id": "dialogflow.projects.generators.list",
              "response": {
                "$ref": "GoogleCloudDialogflowV2ListGeneratorsResponse"
              },
              "flatPath": "v2/projects/{projectsId}/generators",
              "description": "",
              "path": "v2/{+parent}/generators"
            }
          }
        },
        "agent": {
          "methods": {
            "updateFulfillment": {
              "response": {
                "$ref": "GoogleCloudDialogflowV2Fulfillment"
              },
              "flatPath": "v2/projects/{projectsId}/agent/fulfillment",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "id": "dialogflow.projects.agent.updateFulfillment",
              "path": "v2/{+name}",
              "request": {
                "$ref": "GoogleCloudDialogflowV2Fulfillment"
              },
              "description": "",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/agent/fulfillment$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "getValidationResult": {
              "description": "",
              "path": "v2/{+parent}/agent/validationResult",
              "id": "dialogflow.projects.agent.getValidationResult",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "flatPath": "v2/projects/{projectsId}/agent/validationResult",
              "response": {
                "$ref": "GoogleCloudDialogflowV2ValidationResult"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "languageCode": {
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "import": {
              "description": "",
              "request": {
                "$ref": "GoogleCloudDialogflowV2ImportAgentRequest"
              },
              "path": "v2/{+parent}/agent:import",
              "id": "dialogflow.projects.agent.import",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "flatPath": "v2/projects/{projectsId}/agent:import",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "train": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "id": "dialogflow.projects.agent.train",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v2/projects/{projectsId}/agent:train",
              "description": "",
              "path": "v2/{+parent}/agent:train",
              "request": {
                "$ref": "GoogleCloudDialogflowV2TrainAgentRequest"
              },
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "restore": {
              "flatPath": "v2/projects/{projectsId}/agent:restore",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "dialogflow.projects.agent.restore",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "request": {
                "$ref": "GoogleCloudDialogflowV2RestoreAgentRequest"
              },
              "path": "v2/{+parent}/agent:restore",
              "description": "",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "search": {
              "id": "dialogflow.projects.agent.search",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "flatPath": "v2/projects/{projectsId}/agent:search",
              "response": {
                "$ref": "GoogleCloudDialogflowV2SearchAgentsResponse"
              },
              "description": "",
              "path": "v2/{+parent}/agent:search",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "export": {
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "",
              "request": {
                "$ref": "GoogleCloudDialogflowV2ExportAgentRequest"
              },
              "path": "v2/{+parent}/agent:export",
              "id": "dialogflow.projects.agent.export",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "flatPath": "v2/projects/{projectsId}/agent:export",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "getFulfillment": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/agent/fulfillment$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/projects/{projectsId}/agent/fulfillment",
              "response": {
                "$ref": "GoogleCloudDialogflowV2Fulfillment"
              },
              "id": "dialogflow.projects.agent.getFulfillment",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2/{+name}",
              "description": ""
            }
          },
          "resources": {
            "entityTypes": {
              "methods": {
                "create": {
                  "path": "v2/{+parent}/entityTypes",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2EntityType"
                  },
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2EntityType"
                  },
                  "flatPath": "v2/projects/{projectsId}/agent/entityTypes",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.agent.entityTypes.create",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent$",
                      "required": true,
                      "type": "string"
                    },
                    "languageCode": {
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "parameters": {
                    "languageCode": {
                      "type": "string",
                      "location": "query"
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/agent/entityTypes/{entityTypesId}",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2EntityType"
                  },
                  "id": "dialogflow.projects.agent.entityTypes.patch",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2EntityType"
                  },
                  "path": "v2/{+name}",
                  "description": ""
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/agent$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "languageCode": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "",
                  "path": "v2/{+parent}/entityTypes",
                  "id": "dialogflow.projects.agent.entityTypes.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2/projects/{projectsId}/agent/entityTypes",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListEntityTypesResponse"
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.agent.entityTypes.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v2/projects/{projectsId}/agent/entityTypes/{entityTypesId}",
                  "description": "",
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "batchUpdate": {
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/agent$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2BatchUpdateEntityTypesRequest"
                  },
                  "path": "v2/{+parent}/entityTypes:batchUpdate",
                  "id": "dialogflow.projects.agent.entityTypes.batchUpdate",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2/projects/{projectsId}/agent/entityTypes:batchUpdate",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "get": {
                  "description": "",
                  "path": "v2/{+name}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.agent.entityTypes.get",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2EntityType"
                  },
                  "flatPath": "v2/projects/{projectsId}/agent/entityTypes/{entityTypesId}",
                  "parameters": {
                    "languageCode": {
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "batchDelete": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.agent.entityTypes.batchDelete",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v2/projects/{projectsId}/agent/entityTypes:batchDelete",
                  "description": "",
                  "path": "v2/{+parent}/entityTypes:batchDelete",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2BatchDeleteEntityTypesRequest"
                  }
                }
              },
              "resources": {
                "entities": {
                  "methods": {
                    "batchCreate": {
                      "id": "dialogflow.projects.agent.entityTypes.entities.batchCreate",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v2/projects/{projectsId}/agent/entityTypes/{entityTypesId}/entities:batchCreate",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2BatchCreateEntitiesRequest"
                      },
                      "path": "v2/{+parent}/entities:batchCreate",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "batchDelete": {
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2BatchDeleteEntitiesRequest"
                      },
                      "path": "v2/{+parent}/entities:batchDelete",
                      "description": "",
                      "flatPath": "v2/projects/{projectsId}/agent/entityTypes/{entityTypesId}/entities:batchDelete",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "dialogflow.projects.agent.entityTypes.entities.batchDelete",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "batchUpdate": {
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2BatchUpdateEntitiesRequest"
                      },
                      "path": "v2/{+parent}/entities:batchUpdate",
                      "description": "",
                      "flatPath": "v2/projects/{projectsId}/agent/entityTypes/{entityTypesId}/entities:batchUpdate",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "dialogflow.projects.agent.entityTypes.entities.batchUpdate",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/agent/entityTypes/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                }
              }
            },
            "knowledgeBases": {
              "resources": {
                "documents": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+/documents/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2Document"
                      },
                      "id": "dialogflow.projects.agent.knowledgeBases.documents.get",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2/{+name}",
                      "description": ""
                    },
                    "reload": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+/documents/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}:reload",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "dialogflow.projects.agent.knowledgeBases.documents.reload",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2ReloadDocumentRequest"
                      },
                      "path": "v2/{+name}:reload",
                      "description": ""
                    },
                    "list": {
                      "description": "",
                      "path": "v2/{+parent}/documents",
                      "id": "dialogflow.projects.agent.knowledgeBases.documents.list",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}/documents",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2ListDocumentsResponse"
                      },
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+/documents/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v2/{+name}",
                      "description": "",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.agent.knowledgeBases.documents.delete"
                    },
                    "patch": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+/documents/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}/documents/{documentsId}",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "dialogflow.projects.agent.knowledgeBases.documents.patch",
                      "httpMethod": "PATCH",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2Document"
                      },
                      "path": "v2/{+name}",
                      "description": ""
                    },
                    "create": {
                      "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}/documents",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "dialogflow.projects.agent.knowledgeBases.documents.create",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2Document"
                      },
                      "path": "v2/{+parent}/documents",
                      "description": "",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "id": "dialogflow.projects.agent.knowledgeBases.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListKnowledgeBasesResponse"
                  },
                  "description": "",
                  "path": "v2/{+parent}/knowledgeBases",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/agent$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "parameters": {
                    "force": {
                      "type": "boolean",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "path": "v2/{+name}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.agent.knowledgeBases.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "description": "",
                  "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
                  },
                  "id": "dialogflow.projects.agent.knowledgeBases.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
                  },
                  "id": "dialogflow.projects.agent.knowledgeBases.create",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
                  },
                  "path": "v2/{+parent}/knowledgeBases",
                  "description": ""
                },
                "patch": {
                  "id": "dialogflow.projects.agent.knowledgeBases.patch",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2/projects/{projectsId}/agent/knowledgeBases/{knowledgeBasesId}",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
                  },
                  "description": "",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2KnowledgeBase"
                  },
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/agent/knowledgeBases/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "versions": {
              "methods": {
                "get": {
                  "flatPath": "v2/projects/{projectsId}/agent/versions/{versionsId}",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Version"
                  },
                  "id": "dialogflow.projects.agent.versions.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2/{+name}",
                  "description": "",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent/versions/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/agent$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "",
                  "path": "v2/{+parent}/versions",
                  "id": "dialogflow.projects.agent.versions.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2/projects/{projectsId}/agent/versions",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListVersionsResponse"
                  }
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/agent/versions/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v2/projects/{projectsId}/agent/versions/{versionsId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.agent.versions.delete",
                  "path": "v2/{+name}",
                  "description": ""
                },
                "patch": {
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Version"
                  },
                  "flatPath": "v2/projects/{projectsId}/agent/versions/{versionsId}",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.agent.versions.patch",
                  "path": "v2/{+name}",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Version"
                  },
                  "description": "",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/agent/versions/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Version"
                  },
                  "path": "v2/{+parent}/versions",
                  "id": "dialogflow.projects.agent.versions.create",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2/projects/{projectsId}/agent/versions",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Version"
                  }
                }
              }
            },
            "sessions": {
              "resources": {
                "contexts": {
                  "methods": {
                    "create": {
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2Context"
                      },
                      "path": "v2/{+parent}/contexts",
                      "id": "dialogflow.projects.agent.sessions.contexts.create",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/contexts",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2Context"
                      }
                    },
                    "patch": {
                      "path": "v2/{+name}",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2Context"
                      },
                      "description": "",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2Context"
                      },
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/contexts/{contextsId}",
                      "httpMethod": "PATCH",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.agent.sessions.contexts.patch",
                      "parameters": {
                        "updateMask": {
                          "format": "google-fieldmask",
                          "type": "string",
                          "location": "query"
                        },
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/contexts/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v2/{+parent}/contexts",
                      "description": "",
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/contexts",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2ListContextsResponse"
                      },
                      "id": "dialogflow.projects.agent.sessions.contexts.list",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/contexts/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v2/{+name}",
                      "description": "",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/contexts/{contextsId}",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.agent.sessions.contexts.delete"
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/contexts/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.agent.sessions.contexts.get",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2Context"
                      },
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/contexts/{contextsId}",
                      "description": "",
                      "path": "v2/{+name}"
                    }
                  }
                },
                "entityTypes": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "",
                      "path": "v2/{+parent}/entityTypes",
                      "id": "dialogflow.projects.agent.sessions.entityTypes.list",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/entityTypes",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2ListSessionEntityTypesResponse"
                      }
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/entityTypes/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.agent.sessions.entityTypes.delete",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "description": "",
                      "path": "v2/{+name}"
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/entityTypes/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v2/{+name}",
                      "description": "",
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                      },
                      "id": "dialogflow.projects.agent.sessions.entityTypes.get",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "create": {
                      "description": "",
                      "path": "v2/{+parent}/entityTypes",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.agent.sessions.entityTypes.create",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                      },
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/entityTypes",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "patch": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/agent/sessions/[^/]+/entityTypes/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "format": "google-fieldmask"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                      },
                      "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/entityTypes/{entityTypesId}",
                      "httpMethod": "PATCH",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.agent.sessions.entityTypes.patch",
                      "path": "v2/{+name}",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2SessionEntityType"
                      },
                      "description": ""
                    }
                  }
                }
              },
              "methods": {
                "deleteContexts": {
                  "description": "",
                  "path": "v2/{+parent}/contexts",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.agent.sessions.deleteContexts",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v2/projects/{projectsId}/agent/sessions/{sessionsId}/contexts",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/agent/sessions/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
[...]
