{
  "basePath": "",
  "servicePath": "",
  "id": "dialogflow:v3beta1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        }
      }
    }
  },
  "canonicalName": "Dialogflow",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "title": "Dialogflow API",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "discoveryVersion": "v1",
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "rootUrl": "https://dialogflow.googleapis.com/",
  "batchPath": "batch",
  "revision": "20260919",
  "ownerName": "Google",
  "baseUrl": "https://dialogflow.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "name": "dialogflow",
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "GoogleCloudDialogflowCxV3beta1SecuritySettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1SecuritySettings",
      "properties": {
        "name": {
          "type": "string"
        },
        "inspectTemplate": {
          "type": "string"
        },
        "insightsExportSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SecuritySettingsInsightsExportSettings"
        },
        "retentionWindowDays": {
          "type": "integer",
          "format": "int32"
        },
        "redactionScope": {
          "enum": [
            "REDACTION_SCOPE_UNSPECIFIED",
            "REDACT_DISK_STORAGE"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        },
        "retentionStrategy": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RETENTION_STRATEGY_UNSPECIFIED",
            "REMOVE_AFTER_CONVERSATION"
          ]
        },
        "redactionStrategy": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "REDACTION_STRATEGY_UNSPECIFIED",
            "REDACT_WITH_SERVICE"
          ],
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "audioExportSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1SecuritySettingsAudioExportSettings"
        },
        "deidentifyTemplate": {
          "type": "string"
        },
        "purgeDataTypes": {
          "type": "array",
          "items": {
            "enum": [
              "PURGE_DATA_TYPE_UNSPECIFIED",
              "DIALOGFLOW_HISTORY"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              ""
            ]
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1UserUtterance": {
      "properties": {
        "audioTokens": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array"
        },
        "text": {
          "type": "string"
        },
        "audio": {
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1UserUtterance"
    },
    "GoogleCloudDialogflowCxV3beta1ConversationMetrics": {
      "properties": {
        "queryInputCount": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ConversationMetricsQueryInputCount"
        },
        "interactionCount": {
          "type": "integer",
          "format": "int32"
        },
        "inputAudioDuration": {
          "format": "google-duration",
          "type": "string"
        },
        "outputAudioDuration": {
          "format": "google-duration",
          "type": "string"
        },
        "hasEndInteraction": {
          "type": "boolean"
        },
        "averageMatchConfidence": {
          "format": "float",
          "type": "number"
        },
        "matchTypeCount": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ConversationMetricsMatchTypeCount"
        },
        "maxWebhookLatency": {
          "type": "string",
          "format": "google-duration"
        },
        "hasLiveAgentHandoff": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ConversationMetrics",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ToolEndUserAuthConfigOauth2AuthCodeConfig": {
      "properties": {
        "oauthToken": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ToolEndUserAuthConfigOauth2AuthCodeConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1AgentValidationResult": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "flowValidationResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FlowValidationResult"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1AgentValidationResult"
    },
    "GoogleCloudDialogflowCxV3beta1DeployFlowResponse": {
      "type": "object",
      "properties": {
        "deployment": {
          "type": "string"
        },
        "environment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Environment"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1DeployFlowResponse"
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebService": {
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebService",
      "type": "object",
      "properties": {
        "httpMethod": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "HTTP_METHOD_UNSPECIFIED",
            "POST",
            "GET",
            "HEAD",
            "PUT",
            "DELETE",
            "PATCH",
            "OPTIONS"
          ]
        },
        "oauthConfig": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceOAuthConfig"
        },
        "serviceAgentAuth": {
          "enum": [
            "SERVICE_AGENT_AUTH_UNSPECIFIED",
            "NONE",
            "ID_TOKEN",
            "ACCESS_TOKEN"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "parameterMapping": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "requestBody": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "allowedCaCerts": {
          "items": {
            "format": "byte",
            "type": "string"
          },
          "type": "array"
        },
        "secretVersionsForRequestHeaders": {
          "additionalProperties": {
            "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceSecretVersionHeaderValue"
          },
          "type": "object"
        },
        "webhookType": {
          "enum": [
            "WEBHOOK_TYPE_UNSPECIFIED",
            "STANDARD",
            "FLEXIBLE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "password": {
          "deprecated": true,
          "type": "string"
        },
        "serviceAccountAuthConfig": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceServiceAccountAuthConfig"
        },
        "username": {
          "type": "string",
          "deprecated": true
        },
        "secretVersionForUsernamePassword": {
          "type": "string"
        },
        "requestHeaders": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ImportEntityTypesRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesRequest",
      "type": "object",
      "properties": {
        "entityTypesContent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1InlineSource"
        },
        "targetEntityType": {
          "type": "string"
        },
        "mergeOption": {
          "enum": [
            "MERGE_OPTION_UNSPECIFIED",
            "REPLACE",
            "MERGE",
            "RENAME",
            "REPORT_CONFLICT",
            "KEEP"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "entityTypesUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1BoostSpecConditionBoostSpecBoostControlSpecControlPoint": {
      "id": "GoogleCloudDialogflowCxV3beta1BoostSpecConditionBoostSpecBoostControlSpecControlPoint",
      "properties": {
        "boostAmount": {
          "format": "float",
          "type": "number"
        },
        "attributeValue": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3FulfillmentGeneratorSettings": {
      "properties": {
        "inputParameters": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "generator": {
          "type": "string"
        },
        "outputParameter": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3FulfillmentGeneratorSettings",
      "type": "object"
    },
    "GoogleCloudDialogflowV2ServiceLatency": {
      "id": "GoogleCloudDialogflowV2ServiceLatency",
      "properties": {
        "internalServiceLatencies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2ServiceLatencyInternalServiceLatency"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1EnvironmentVersionConfig": {
      "properties": {
        "version": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1EnvironmentVersionConfig",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1AgentUtterance": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1AgentUtterance",
      "properties": {
        "requireGeneration": {
          "type": "boolean"
        },
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse",
      "type": "object",
      "properties": {
        "mergeBehavior": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MERGE_BEHAVIOR_UNSPECIFIED",
            "APPEND",
            "REPLACE"
          ]
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3IntentParameter": {
      "id": "GoogleCloudDialogflowCxV3IntentParameter",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "entityType": {
          "type": "string"
        },
        "redact": {
          "type": "boolean"
        },
        "isList": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2SmartReplyAnswer": {
      "properties": {
        "confidence": {
          "format": "float",
          "type": "number"
        },
        "reply": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SmartReplyAnswer"
    },
    "GoogleCloudDialogflowV2BatchUpdateEntityTypesResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2BatchUpdateEntityTypesResponse",
      "properties": {
        "entityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityType"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet": {
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "uri": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "text": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet"
    },
    "GoogleCloudDialogflowV2SuggestSmartRepliesResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2SuggestSmartRepliesResponse",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "format": "int32",
          "type": "integer"
        },
        "smartReplyAnswers": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SmartReplyAnswer"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1TransitionCoverage": {
      "type": "object",
      "properties": {
        "transitions": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TransitionCoverageTransition"
          },
          "type": "array"
        },
        "coverageScore": {
          "format": "float",
          "type": "number"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1TransitionCoverage"
    },
    "GoogleCloudDialogflowCxV3beta1ImportIntentsMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportIntentsMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3beta1TypeSchemaSchemaReference": {
      "id": "GoogleCloudDialogflowCxV3beta1TypeSchemaSchemaReference",
      "properties": {
        "schema": {
          "type": "string"
        },
        "tool": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SuggestFaqAnswersResponse": {
      "type": "object",
      "properties": {
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "faqAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1FaqAnswer"
          }
        },
        "latestMessage": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SuggestFaqAnswersResponse"
    },
    "GoogleCloudDialogflowCxV3beta1Intent": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "priority": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "trainingPhrases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase"
          }
        },
        "description": {
          "type": "string"
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentParameter"
          }
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "isFallback": {
          "type": "boolean"
        },
        "dtmfPattern": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Intent",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTelephonyTransferCall": {
      "properties": {
        "phoneNumber": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTelephonyTransferCall"
    },
    "GoogleCloudDialogflowCxV3beta1ResourceName": {
      "id": "GoogleCloudDialogflowCxV3beta1ResourceName",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObject": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "icon": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "name": {
          "type": "string"
        },
        "contentUrl": {
          "type": "string"
        },
        "largeImage": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObject"
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult": {
      "properties": {
        "duplicateSuggestions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult"
    },
    "GoogleCloudDialogflowCxV3beta1ImportEntityTypesMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuerySearchContext": {
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuerySearchContext",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ListPlaybooksResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ListPlaybooksResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "playbooks": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Playbook"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1Generator": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1Generator",
      "properties": {
        "name": {
          "type": "string"
        },
        "llmModelSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1LlmModelSettings"
        },
        "placeholders": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1GeneratorPlaceholder"
          },
          "type": "array"
        },
        "promptText": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Phrase"
        },
        "modelParameter": {
          "$ref": "GoogleCloudDialogflowCxV3beta1GeneratorModelParameter"
        },
        "displayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2MessageAnnotation": {
      "properties": {
        "parts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2AnnotatedMessagePart"
          },
          "type": "array"
        },
        "containEntities": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2MessageAnnotation"
    },
    "GoogleCloudDialogflowCxV3beta1ActionFlowStateUpdate": {
      "properties": {
        "updatedParameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "destination": {
          "type": "string"
        },
        "eventType": {
          "type": "string"
        },
        "functionCall": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ActionFlowStateUpdateFunctionCall"
        },
        "pageState": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ActionFlowStateUpdatePageState"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ActionFlowStateUpdate",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ExportIntentsRequest": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExportIntentsRequest",
      "properties": {
        "intents": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "intentsUri": {
          "type": "string"
        },
        "dataFormat": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_FORMAT_UNSPECIFIED",
            "BLOB",
            "JSON",
            "CSV"
          ]
        },
        "intentsContentInline": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1SubmitAnswerFeedbackRequest": {
      "properties": {
        "responseId": {
          "type": "string"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string"
        },
        "answerFeedback": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AnswerFeedback"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1SubmitAnswerFeedbackRequest"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation"
    },
    "GoogleCloudDialogflowCxV3beta1ListAgentsResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ListAgentsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "agents": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Agent"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Flow": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1Flow",
      "properties": {
        "multiLanguageSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1FlowMultiLanguageSettings"
        },
        "transitionRouteGroups": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "transitionRoutes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRoute"
          }
        },
        "description": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "locked": {
          "type": "boolean"
        },
        "nluSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1NluSettings"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "name": {
          "type": "string"
        },
        "knowledgeConnectorSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings"
        },
        "inputParameterDefinitions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ParameterDefinition"
          }
        },
        "outputParameterDefinitions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ParameterDefinition"
          }
        },
        "eventHandlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EventHandler"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ToolCallResultError": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolCallResultError",
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1BoostSpecs": {
      "properties": {
        "dataStores": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "spec": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1BoostSpec"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1BoostSpecs",
      "type": "object"
    },
    "GoogleCloudDialogflowV2SessionEntityType": {
      "id": "GoogleCloudDialogflowV2SessionEntityType",
      "properties": {
        "entities": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2EntityTypeEntity"
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        },
        "entityOverrideMode": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ENTITY_OVERRIDE_MODE_UNSPECIFIED",
            "ENTITY_OVERRIDE_MODE_OVERRIDE",
            "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2ConversationEvent": {
      "properties": {
        "newMessagePayload": {
          "$ref": "GoogleCloudDialogflowV2Message"
        },
        "newRecognitionResultPayload": {
          "$ref": "GoogleCloudDialogflowV2StreamingRecognitionResult"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "CONVERSATION_STARTED",
            "CONVERSATION_FINISHED",
            "HUMAN_INTERVENTION_NEEDED",
            "NEW_MESSAGE",
            "NEW_RECOGNITION_RESULT",
            "UNRECOVERABLE_ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "errorStatus": {
          "$ref": "GoogleRpcStatus"
        },
        "conversation": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ConversationEvent"
    },
    "GoogleCloudDialogflowCxV3ConversationSignals": {
      "properties": {
        "turnSignals": {
          "$ref": "GoogleCloudDialogflowCxV3TurnSignals"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ConversationSignals",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue": {
      "id": "GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue",
      "properties": {
        "resolvedValue": {
          "type": "any"
        },
        "originalValue": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1PlaybookTraceMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1PlaybookTraceMetadata",
      "type": "object",
      "properties": {
        "displayName": {
          "readOnly": true,
          "type": "string"
        },
        "playbook": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo": {
      "type": "object",
      "properties": {
        "tag": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo"
    },
    "GoogleCloudDialogflowCxV3beta1ToolCall": {
      "properties": {
        "tool": {
          "type": "string"
        },
        "inputParameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "action": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ToolCall",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1Intent": {
      "id": "GoogleCloudDialogflowV2beta1Intent",
      "properties": {
        "followupIntentInfo": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo"
          }
        },
        "trainingPhrases": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentTrainingPhrase"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string"
        },
        "isFallback": {
          "type": "boolean"
        },
        "outputContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          }
        },
        "parameters": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentParameter"
          },
          "type": "array"
        },
        "inputContextNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "events": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          }
        },
        "webhookState": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "WEBHOOK_STATE_UNSPECIFIED",
            "WEBHOOK_STATE_ENABLED",
            "WEBHOOK_STATE_ENABLED_FOR_SLOT_FILLING"
          ]
        },
        "mlDisabled": {
          "type": "boolean"
        },
        "priority": {
          "type": "integer",
          "format": "int32"
        },
        "resetContexts": {
          "type": "boolean"
        },
        "endInteraction": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        },
        "defaultResponsePlatforms": {
          "items": {
            "type": "string",
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "FACEBOOK",
              "SLACK",
              "TELEGRAM",
              "KIK",
              "SKYPE",
              "LINE",
              "VIBER",
              "ACTIONS_ON_GOOGLE",
              "TELEPHONY",
              "GOOGLE_HANGOUTS"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          },
          "type": "array"
        },
        "rootFollowupIntentName": {
          "readOnly": true,
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "liveAgentHandoff": {
          "type": "boolean"
        },
        "parentFollowupIntentName": {
          "type": "string"
        },
        "mlEnabled": {
          "deprecated": true,
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ServiceLatency": {
      "properties": {
        "internalServiceLatencies": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatency"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ServiceLatency"
    },
    "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput": {
      "id": "GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput",
      "type": "object",
      "properties": {
        "triggeredIntent": {
          "$ref": "GoogleCloudDialogflowCxV3Intent"
        },
        "sessionParameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "textResponses": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessageText"
          },
          "type": "array"
        },
        "currentPage": {
          "$ref": "GoogleCloudDialogflowCxV3Page"
        },
        "diagnosticInfo": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        },
        "differences": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestRunDifference"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1BoostSpecConditionBoostSpecBoostControlSpec": {
      "id": "GoogleCloudDialogflowCxV3beta1BoostSpecConditionBoostSpecBoostControlSpec",
      "properties": {
        "interpolationType": {
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        },
        "fieldName": {
          "type": "string"
        },
        "controlPoints": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1BoostSpecConditionBoostSpecBoostControlSpecControlPoint"
          },
          "type": "array"
        },
        "attributeType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction",
      "properties": {
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2GenerateSuggestionsResponseGeneratorSuggestionAnswer": {
      "id": "GoogleCloudDialogflowV2GenerateSuggestionsResponseGeneratorSuggestionAnswer",
      "type": "object",
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "sourceGenerator": {
          "type": "string"
        },
        "generatorSuggestion": {
          "$ref": "GoogleCloudDialogflowV2GeneratorSuggestion"
        }
      }
    },
    "GoogleCloudDialogflowCxV3TestCaseResult": {
      "id": "GoogleCloudDialogflowCxV3TestCaseResult",
      "properties": {
        "testTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "conversationTurns": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ConversationTurn"
          },
          "type": "array"
        },
        "testResult": {
          "enum": [
            "TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "environment": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard",
      "properties": {}
    },
    "GoogleCloudDialogflowV2DeleteConversationDatasetOperationMetadata": {
      "id": "GoogleCloudDialogflowV2DeleteConversationDatasetOperationMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3beta1ActionIntentMatch": {
      "type": "object",
      "properties": {
        "matchedIntents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ActionIntentMatchMatchedIntent"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ActionIntentMatch"
    },
    "GoogleCloudDialogflowV2BatchUpdateIntentsResponse": {
      "properties": {
        "intents": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Intent"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2BatchUpdateIntentsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponse",
      "properties": {
        "entityTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "conflictingResources": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponseConflictingResources"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsRewriterModelCallSignals": {
      "id": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsRewriterModelCallSignals",
      "type": "object",
      "properties": {
        "renderedPrompt": {
          "type": "string"
        },
        "model": {
          "type": "string"
        },
        "modelOutput": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1LlmCallRetrievedExample": {
      "properties": {
        "matchedRetrievalLabel": {
          "type": "string"
        },
        "exampleId": {
          "type": "string"
        },
        "exampleDisplayName": {
          "type": "string"
        },
        "retrievalStrategy": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RETRIEVAL_STRATEGY_UNSPECIFIED",
            "DEFAULT",
            "STATIC",
            "NEVER"
          ]
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1LlmCallRetrievedExample",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmCarouselCard": {
      "type": "object",
      "properties": {
        "cardWidth": {
          "type": "string",
          "enum": [
            "CARD_WIDTH_UNSPECIFIED",
            "SMALL",
            "MEDIUM"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "cardContents": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmCarouselCard"
    },
    "GoogleCloudDialogflowV2AgentCoachingInstruction": {
      "type": "object",
      "properties": {
        "displayDetails": {
          "type": "string"
        },
        "duplicateCheckResult": {
          "$ref": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult",
          "readOnly": true
        },
        "displayName": {
          "type": "string"
        },
        "systemAction": {
          "type": "string"
        },
        "condition": {
          "type": "string"
        },
        "triggeringEvent": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TRIGGER_EVENT_UNSPECIFIED",
            "END_OF_UTTERANCE",
            "MANUAL_CALL",
            "CUSTOMER_MESSAGE",
            "AGENT_MESSAGE",
            "TOOL_CALL_COMPLETION"
          ]
        },
        "agentAction": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2AgentCoachingInstruction"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard",
      "properties": {
        "thumbnailImageAlignment": {
          "enum": [
            "THUMBNAIL_IMAGE_ALIGNMENT_UNSPECIFIED",
            "LEFT",
            "RIGHT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "cardOrientation": {
          "type": "string",
          "enum": [
            "CARD_ORIENTATION_UNSPECIFIED",
            "HORIZONTAL",
            "VERTICAL"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "cardContent": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo": {
      "id": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo",
      "properties": {
        "ingestionStatus": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "INGESTION_STATUS_UNSPECIFIED",
            "INGESTION_STATUS_SUCCEEDED",
            "INGESTION_STATUS_CONTEXT_NOT_AVAILABLE",
            "INGESTION_STATUS_PARSE_FAILED",
            "INGESTION_STATUS_INVALID_ENTRY",
            "INGESTION_STATUS_INVALID_FORMAT",
            "INGESTION_STATUS_LANGUAGE_MISMATCH"
          ],
          "type": "string"
        },
        "parameter": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ImportFlowResponse": {
      "properties": {
        "flow": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ImportFlowResponse"
    },
    "GoogleCloudDialogflowCxV3beta1ConversationSignals": {
      "properties": {
        "turnSignals": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TurnSignals"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ConversationSignals"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent",
      "properties": {
        "media": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia"
        },
        "suggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion"
          }
        },
        "description": {
          "type": "string"
        },
        "title": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoQueryGenerationDebugInfo": {
      "properties": {
        "thinkingLevel": {
          "type": "string"
        },
        "similarityToLastQuery": {
          "type": "number",
          "format": "float"
        },
        "candidatesTokenCount": {
          "type": "integer",
          "format": "int32"
        },
        "promptTokenCount": {
          "type": "integer",
          "format": "int32"
        },
        "thinkingBudgetTokens": {
          "format": "int32",
          "type": "integer"
        },
        "totalTokenCount": {
          "format": "int32",
          "type": "integer"
        },
        "similarityToLastQueryThreshold": {
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoQueryGenerationDebugInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ToolCallResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ToolCallResult",
      "properties": {
        "tool": {
          "type": "string"
        },
        "rawContent": {
          "format": "byte",
          "type": "string"
        },
        "cesTool": {
          "type": "string"
        },
        "cesToolset": {
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "error": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolCallResultError"
        },
        "action": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "cesApp": {
          "type": "string"
        },
        "content": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageListSelect": {
      "id": "GoogleCloudDialogflowV2IntentMessageListSelect",
      "type": "object",
      "properties": {
        "subtitle": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageListSelectItem"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageImage": {
      "id": "GoogleCloudDialogflowV2IntentMessageImage",
      "properties": {
        "accessibilityText": {
          "type": "string"
        },
        "imageUri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ToolCall": {
      "id": "GoogleCloudDialogflowV2beta1ToolCall",
      "type": "object",
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "toolDisplayDetails": {
          "type": "string"
        },
        "toolDisplayName": {
          "type": "string"
        },
        "inputParameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "tool": {
          "type": "string"
        },
        "cesTool": {
          "type": "string"
        },
        "action": {
          "type": "string"
        },
        "cesToolset": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "TRIGGERED",
            "NEEDS_CONFIRMATION"
          ]
        },
        "cesApp": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerFaqSource": {
      "properties": {
        "question": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerFaqSource",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3AudioInput": {
      "properties": {
        "config": {
          "$ref": "GoogleCloudDialogflowCxV3InputAudioConfig"
        },
        "audio": {
          "type": "string",
          "format": "byte"
        }
      },
      "id": "GoogleCloudDialogflowCxV3AudioInput",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ActionFlowStateUpdatePageState": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ActionFlowStateUpdatePageState",
      "properties": {
        "page": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "status": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ValidateAgentRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1ValidateAgentRequest",
      "properties": {
        "languageCode": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1RestoreToolVersionResponse": {
      "properties": {
        "tool": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Tool"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1RestoreToolVersionResponse"
    },
    "GoogleCloudDialogflowCxV3IntentTrainingPhrase": {
      "properties": {
        "repeatCount": {
          "format": "int32",
          "type": "integer"
        },
        "id": {
          "readOnly": true,
          "type": "string"
        },
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3IntentTrainingPhrasePart"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3IntentTrainingPhrase"
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSampleResponse": {
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSampleResponse",
      "properties": {
        "sources": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources",
          "readOnly": true
        },
        "responseText": {
          "type": "string"
        },
        "duplicateCheckResult": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SessionEntityType": {
      "id": "GoogleCloudDialogflowV2beta1SessionEntityType",
      "properties": {
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
          }
        },
        "name": {
          "type": "string"
        },
        "entityOverrideMode": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ENTITY_OVERRIDE_MODE_UNSPECIFIED",
            "ENTITY_OVERRIDE_MODE_OVERRIDE",
            "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageQuickReplies": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        },
        "quickReplies": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageQuickReplies"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoQueryGenerationDebugInfo": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoQueryGenerationDebugInfo",
      "type": "object",
      "properties": {
        "thinkingBudgetTokens": {
          "type": "integer",
          "format": "int32"
        },
        "promptTokenCount": {
          "format": "int32",
          "type": "integer"
        },
        "thinkingLevel": {
          "type": "string"
        },
        "totalTokenCount": {
          "type": "integer",
          "format": "int32"
        },
        "similarityToLastQueryThreshold": {
          "format": "float",
          "type": "number"
        },
        "similarityToLastQuery": {
          "type": "number",
          "format": "float"
        },
        "candidatesTokenCount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1PlaybookVersion": {
      "id": "GoogleCloudDialogflowCxV3beta1PlaybookVersion",
      "properties": {
        "description": {
          "type": "string"
        },
        "examples": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Example"
          },
          "readOnly": true
        },
        "playbook": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Playbook",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1DetectIntentResponse": {
      "properties": {
        "queryResult": {
          "$ref": "GoogleCloudDialogflowCxV3beta1QueryResult"
        },
        "responseId": {
          "type": "string"
        },
        "allowCancellation": {
          "type": "boolean"
        },
        "outputAudio": {
          "format": "byte",
          "type": "string"
        },
        "responseType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "RESPONSE_TYPE_UNSPECIFIED",
            "PARTIAL",
            "FINAL"
          ]
        },
        "outputAudioConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1OutputAudioConfig"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1DetectIntentResponse"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageText": {
      "properties": {
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        },
        "text": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageText"
    },
    "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo": {
      "properties": {
        "parentFollowupIntentName": {
          "type": "string"
        },
        "followupIntentName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageListSelectItem": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "info": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo"
        },
        "title": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageListSelectItem"
    },
    "GoogleCloudDialogflowCxV3beta1FormParameterFillBehavior": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1FormParameterFillBehavior",
      "properties": {
        "initialPromptFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "repromptEventHandlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EventHandler"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessage": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessage",
      "type": "object",
      "properties": {
        "channel": {
          "type": "string"
        },
        "outputAudioText": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText"
        },
        "telephonyTransferCall": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageTelephonyTransferCall"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "text": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageText"
        },
        "playAudio": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessagePlayAudio"
        },
        "knowledgeInfoCard": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard"
        },
        "liveAgentHandoff": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageLiveAgentHandoff"
        },
        "endInteraction": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageEndInteraction",
          "readOnly": true
        },
        "responseType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RESPONSE_TYPE_UNSPECIFIED",
            "ENTRY_PROMPT",
            "PARAMETER_PROMPT",
            "HANDLER_PROMPT"
          ],
          "type": "string"
        },
        "conversationSuccess": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess"
        },
        "toolCall": {
          "$ref": "GoogleCloudDialogflowCxV3ToolCall"
        },
        "mixedAudio": {
          "$ref": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudio",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowV2EventInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2EventInput",
      "properties": {
        "name": {
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "languageCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTableCardCell": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTableCardCell"
    },
    "GoogleCloudDialogflowCxV3beta1EntityTypeExcludedPhrase": {
      "id": "GoogleCloudDialogflowCxV3beta1EntityTypeExcludedPhrase",
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1Deployment": {
      "id": "GoogleCloudDialogflowCxV3beta1Deployment",
      "properties": {
        "result": {
          "$ref": "GoogleCloudDialogflowCxV3beta1DeploymentResult"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "flowVersion": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1AgentAnswerFeedbackSettings": {
      "properties": {
        "enableAnswerFeedback": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1AgentAnswerFeedbackSettings",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1Span": {
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "completeTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1NamedMetric"
          }
        },
        "name": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1Span"
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard": {
      "type": "object",
      "properties": {
        "imageDisplayOptions": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "IMAGE_DISPLAY_OPTIONS_UNSPECIFIED",
            "GRAY",
            "WHITE",
            "CROPPED",
            "BLURRED_BACKGROUND"
          ],
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCard"
    },
    "GoogleCloudDialogflowCxV3beta1ExportEntityTypesResponse": {
      "properties": {
        "entityTypesUri": {
          "type": "string"
        },
        "entityTypesContent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1InlineDestination"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExportEntityTypesResponse"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCard": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCard",
      "properties": {
        "imageUri": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "buttons": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCardButton"
          },
          "type": "array"
        },
        "subtitle": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1FreeFormSuggestion": {
      "properties": {
        "response": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1FreeFormSuggestion"
    },
    "GoogleCloudDialogflowCxV3ExportEntityTypesResponse": {
      "properties": {
        "entityTypesContent": {
          "$ref": "GoogleCloudDialogflowCxV3InlineDestination"
        },
        "entityTypesUri": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3ExportEntityTypesResponse"
    },
    "GoogleCloudDialogflowCxV3beta1VersionVariantsVariant": {
      "properties": {
        "trafficAllocation": {
          "format": "float",
          "type": "number"
        },
        "version": {
          "type": "string"
        },
        "isControlGroup": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1VersionVariantsVariant",
      "type": "object"
    },
    "GoogleTypeLatLng": {
      "properties": {
        "longitude": {
          "format": "double",
          "type": "number"
        },
        "latitude": {
          "type": "number",
          "format": "double"
        }
      },
      "id": "GoogleTypeLatLng",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageCard": {
      "id": "GoogleCloudDialogflowV2IntentMessageCard",
      "properties": {
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageCardButton"
          }
        },
        "subtitle": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "imageUri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1EnvironmentWebhookConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1EnvironmentWebhookConfig",
      "properties": {
        "webhookOverrides": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Webhook"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3BatchRunTestCasesMetadata": {
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestError"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3BatchRunTestCasesMetadata"
    },
    "GoogleCloudDialogflowCxV3beta1RestorePlaybookVersionRequest": {
      "id": "GoogleCloudDialogflowCxV3beta1RestorePlaybookVersionRequest",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowCxV3beta1CompareVersionsResponse": {
      "properties": {
        "baseVersionContentJson": {
          "type": "string"
        },
        "compareTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "targetVersionContentJson": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1CompareVersionsResponse"
    },
    "GoogleCloudDialogflowCxV3beta1CodeBlock": {
      "properties": {
        "code": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1CodeBlock"
    },
    "GoogleCloudDialogflowV2SuggestionResult": {
      "type": "object",
      "properties": {
        "suggestArticlesResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestArticlesResponse"
        },
        "error": {
          "$ref": "GoogleRpcStatus"
        },
        "suggestFaqAnswersResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestFaqAnswersResponse"
        },
        "suggestKnowledgeAssistResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse"
        },
        "suggestSmartRepliesResponse": {
          "$ref": "GoogleCloudDialogflowV2SuggestSmartRepliesResponse"
        },
        "generateSuggestionsResponse": {
          "$ref": "GoogleCloudDialogflowV2GenerateSuggestionsResponse"
        }
      },
      "id": "GoogleCloudDialogflowV2SuggestionResult"
    },
    "GoogleCloudDialogflowV2FreeFormSuggestion": {
      "id": "GoogleCloudDialogflowV2FreeFormSuggestion",
      "type": "object",
      "properties": {
        "response": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3WebhookGenericWebServiceSecretVersionHeaderValue": {
      "id": "GoogleCloudDialogflowCxV3WebhookGenericWebServiceSecretVersionHeaderValue",
      "type": "object",
      "properties": {
        "secretVersion": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCard": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "subtitle": {
          "type": "string"
        },
        "formattedText": {
          "type": "string"
        },
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButton"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCard"
    },
    "GoogleCloudDialogflowV2beta1ConversationEvent": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ConversationEvent",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CONVERSATION_STARTED",
            "CONVERSATION_FINISHED",
            "HUMAN_INTERVENTION_NEEDED",
            "NEW_MESSAGE",
            "NEW_RECOGNITION_RESULT",
            "UNRECOVERABLE_ERROR"
          ]
        },
        "conversation": {
          "type": "string"
        },
        "errorStatus": {
          "$ref": "GoogleRpcStatus"
        },
        "newMessagePayload": {
          "$ref": "GoogleCloudDialogflowV2beta1Message"
        },
        "newRecognitionResultPayload": {
          "$ref": "GoogleCloudDialogflowV2beta1StreamingRecognitionResult"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases",
      "properties": {
        "cases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3SessionInfo": {
      "id": "GoogleCloudDialogflowCxV3SessionInfo",
      "properties": {
        "session": {
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ListToolsResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ListToolsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "tools": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1Tool"
          }
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoKnowledgeAssistBehavior": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoKnowledgeAssistBehavior",
      "properties": {
        "conversationTranscriptHasMixedLanguages": {
          "type": "boolean"
        },
        "disableSyncDelivery": {
          "type": "boolean"
        },
        "answerGenerationRewriterOn": {
          "type": "boolean"
        },
        "usePubsubDelivery": {
          "type": "boolean"
        },
        "invalidItemsQuerySuggestionSkipped": {
          "type": "boolean"
        },
        "queryGenerationEndUserLanguageMismatch": {
          "type": "boolean"
        },
        "endUserMetadataIncluded": {
          "type": "boolean"
        },
        "useCustomSafetyFilterLevel": {
          "type": "boolean"
        },
        "multipleQueriesGenerated": {
          "type": "boolean"
        },
        "returnQueryOnly": {
          "type": "boolean"
        },
        "appendedSearchContextCount": {
          "type": "integer",
          "format": "int32"
        },
        "queryContainedSearchContext": {
          "type": "boolean"
        },
        "thirdPartyConnectorAllowed": {
          "type": "boolean"
        },
        "previousQueriesIncluded": {
          "type": "boolean"
        },
        "queryGenerationAgentLanguageMismatch": {
          "type": "boolean"
        },
        "useTranslatedMessage": {
          "type": "boolean"
        },
        "primaryQueryRedactedAndReplaced": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1RunTestCaseResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1RunTestCaseResponse",
      "type": "object",
      "properties": {
        "result": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ConversationTurnUserInput": {
      "properties": {
        "enableSentimentAnalysis": {
          "type": "boolean"
        },
        "injectedParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "isWebhookEnabled": {
          "type": "boolean"
        },
        "input": {
          "$ref": "GoogleCloudDialogflowCxV3beta1QueryInput"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ConversationTurnUserInput"
    },
    "GoogleCloudDialogflowCxV3Fulfillment": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3Fulfillment",
      "properties": {
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3ResponseMessage"
          }
        },
        "conditionalCases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentConditionalCases"
          }
        },
        "webhook": {
          "type": "string"
        },
        "tag": {
          "type": "string"
        },
        "generators": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentGeneratorSettings"
          },
          "type": "array"
        },
        "enableGenerativeFallback": {
          "type": "boolean"
        },
        "setParameterActions": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3FulfillmentSetParameterAction"
          },
          "type": "array"
        },
        "codeBlockFunction": {
          "type": "string"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "returnPartialResponses": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1IntentCoverageIntent": {
      "id": "GoogleCloudDialogflowCxV3beta1IntentCoverageIntent",
      "properties": {
        "intent": {
          "type": "string"
        },
        "covered": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV3alpha1TurnSignals": {
      "type": "object",
      "id": "GoogleCloudDialogflowV3alpha1TurnSignals",
      "properties": {
        "sentimentMagnitude": {
          "type": "number",
          "format": "float"
        },
        "failureReasons": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "FAILURE_REASON_UNSPECIFIED",
              "FAILED_INTENT",
              "FAILED_WEBHOOK"
            ]
          }
        },
        "dtmfUsed": {
          "type": "boolean"
        },
        "triggeredAbandonmentEvent": {
          "type": "boolean"
        },
        "webhookStatuses": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "noUserInput": {
          "type": "boolean"
        },
        "agentEscalated": {
          "type": "boolean"
        },
        "noMatch": {
          "type": "boolean"
        },
        "sentimentScore": {
          "type": "number",
          "format": "float"
        },
        "userEscalated": {
          "type": "boolean"
        },
        "reachedEndPage": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo": {
      "properties": {
        "justCollected": {
          "type": "boolean"
        },
        "value": {
          "type": "any"
        },
        "displayName": {
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "PARAMETER_STATE_UNSPECIFIED",
            "EMPTY",
            "INVALID",
            "FILLED"
          ],
          "type": "string"
        },
        "required": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo"
    },
    "GoogleCloudDialogflowCxV3CreateVersionOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3CreateVersionOperationMetadata",
      "properties": {
        "version": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ToolExtensionTool": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ToolExtensionTool",
      "properties": {
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1InputAudioConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1InputAudioConfig",
      "properties": {
        "audioEncoding": {
          "enum": [
            "AUDIO_ENCODING_UNSPECIFIED",
            "AUDIO_ENCODING_LINEAR_16",
            "AUDIO_ENCODING_FLAC",
            "AUDIO_ENCODING_MULAW",
            "AUDIO_ENCODING_AMR",
            "AUDIO_ENCODING_AMR_WB",
            "AUDIO_ENCODING_OGG_OPUS",
            "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE",
            "AUDIO_ENCODING_ALAW"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "model": {
          "type": "string"
        },
        "enableWordInfo": {
          "type": "boolean"
        },
        "modelVariant": {
          "enum": [
            "SPEECH_MODEL_VARIANT_UNSPECIFIED",
            "USE_BEST_AVAILABLE",
            "USE_STANDARD",
            "USE_ENHANCED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "optOutConformerModelMigration": {
          "type": "boolean"
        },
        "singleUtterance": {
          "type": "boolean"
        },
        "bargeInConfig": {
          "$ref": "GoogleCloudDialogflowCxV3beta1BargeInConfig"
        },
        "phraseHints": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1HandlerEventHandler": {
      "properties": {
        "condition": {
          "type": "string"
        },
        "event": {
          "type": "string"
        },
        "fulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1HandlerEventHandler",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1BoostSpecConditionBoostSpec": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1BoostSpecConditionBoostSpec",
      "properties": {
        "boost": {
          "type": "number",
          "format": "float"
        },
        "boostControlSpec": {
          "$ref": "GoogleCloudDialogflowCxV3beta1BoostSpecConditionBoostSpecBoostControlSpec"
        },
        "condition": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ConversationInteractionMissingTransition": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ConversationInteractionMissingTransition",
      "properties": {
        "score": {
          "format": "float",
          "type": "number"
        },
        "intentDisplayName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses",
      "properties": {
        "simpleResponses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2DeleteConversationModelOperationMetadata": {
      "id": "GoogleCloudDialogflowV2DeleteConversationModelOperationMetadata",
      "properties": {
        "conversationModel": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ClearSuggestionFeatureConfigOperationMetadata": {
      "properties": {
        "participantRole": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "suggestionFeatureType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "DIALOGFLOW_ASSIST",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ]
        },
        "conversationProfile": {
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ClearSuggestionFeatureConfigOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageListSelectItem": {
      "properties": {
        "image": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "info": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSelectItemInfo"
        },
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageListSelectItem"
    },
    "GoogleCloudDialogflowCxV3beta1SpeechProcessingMetadata": {
      "properties": {
        "displayName": {
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1SpeechProcessingMetadata"
    },
    "GoogleCloudDialogflowV2beta1SmartReplyAnswer": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SmartReplyAnswer",
      "properties": {
        "reply": {
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "type": "number"
        },
        "answerRecord": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageSuggestion": {
      "id": "GoogleCloudDialogflowV2IntentMessageSuggestion",
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2AnnotatedMessagePart": {
      "type": "object",
      "properties": {
        "formattedValue": {
          "type": "any"
        },
        "entityType": {
          "type": "string"
        },
        "text": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2AnnotatedMessagePart"
    },
    "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources": {
      "id": "GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources",
      "properties": {
        "intentDisplayNames": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "entityDisplayNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsGroundingSignals": {
      "id": "GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignalsGroundingSignals",
      "properties": {
        "decision": {
          "enum": [
            "GROUNDING_DECISION_UNSPECIFIED",
            "ACCEPTED_BY_GROUNDING",
            "REJECTED_BY_GROUNDING"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "score": {
          "enum": [
            "GROUNDING_SCORE_BUCKET_UNSPECIFIED",
            "VERY_LOW",
            "LOW",
            "MEDIUM",
            "HIGH",
            "VERY_HIGH"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1IntentCoverage": {
      "properties": {
        "intents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentCoverageIntent"
          }
        },
        "coverageScore": {
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1IntentCoverage"
    },
    "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true
        },
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart"
          }
        },
        "repeatCount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCardButton": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        },
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCardButton"
    },
    "GoogleCloudDialogflowCxV3PageInfoFormInfo": {
      "type": "object",
      "properties": {
        "parameterInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3PageInfoFormInfo"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeOperationMetadata": {
      "properties": {
        "doneTime": {
          "format": "google-datetime",
          "type": "string"
        },
        "exportOperationMetadata": {
          "$ref": "GoogleCloudDialogflowV2beta1ExportOperationMetadata"
        },
        "knowledgeBase": {
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2beta1KnowledgeOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3IntentTrainingPhrasePart": {
      "id": "GoogleCloudDialogflowCxV3IntentTrainingPhrasePart",
      "properties": {
        "parameterId": {
          "type": "string"
        },
        "text": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ExceptionDetail": {
      "properties": {
        "errorMessage": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExceptionDetail"
    },
    "GoogleCloudDialogflowCxV3beta1ToolConnectorToolAction": {
      "id": "GoogleCloudDialogflowCxV3beta1ToolConnectorToolAction",
      "properties": {
        "entityOperation": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolConnectorToolActionEntityOperation"
        },
        "connectionActionId": {
          "type": "string"
        },
        "inputFields": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "outputFields": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1RolloutState": {
      "id": "GoogleCloudDialogflowCxV3beta1RolloutState",
      "properties": {
        "stepIndex": {
          "format": "int32",
          "type": "integer"
        },
        "step": {
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1FlowTraceMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1FlowTraceMetadata",
      "properties": {
        "flow": {
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1CompareVersionsRequest": {
      "type": "object",
      "properties": {
        "targetVersion": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1CompareVersionsRequest"
    },
    "GoogleCloudDialogflowV2ImportDocumentsResponse": {
      "properties": {
        "warnings": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ImportDocumentsResponse"
    },
    "GoogleCloudDialogflowV2beta1IntentTrainingPhrase": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentTrainingPhrase",
      "properties": {
        "timesAddedCount": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "parts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart"
          }
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enumDeprecated": [
            false,
            false,
            true
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "EXAMPLE",
            "TEMPLATE"
          ]
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageLiveAgentHandoff": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageLiveAgentHandoff",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse": {
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "knowledgeAssistAnswer": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswer"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "additionalSuggestedQueryResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerAdditionalSuggestedQueryResult"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerFaqSource": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerFaqSource",
      "properties": {
        "question": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3BatchRunTestCasesResponse": {
      "properties": {
        "results": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestCaseResult"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3BatchRunTestCasesResponse"
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestion": {
      "type": "object",
      "properties": {
        "sampleResponses": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSampleResponse"
          },
          "type": "array"
        },
        "agentActionSuggestions": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionAgentActionSuggestion"
          },
          "type": "array"
        },
        "applicableInstructions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2AgentCoachingInstruction"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestion"
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageText": {
      "properties": {
        "text": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageText",
      "type": "object"
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionAgentActionSuggestion": {
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionAgentActionSuggestion",
      "properties": {
        "sources": {
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources",
          "readOnly": true
        },
        "agentAction": {
          "type": "string"
        },
        "duplicateCheckResult": {
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2InputDataset": {
      "properties": {
        "dataset": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2InputDataset",
      "type": "object"
    },
    "GoogleCloudDialogflowV2Message": {
      "properties": {
        "content": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "sentimentAnalysis": {
          "$ref": "GoogleCloudDialogflowV2SentimentAnalysisResult",
          "readOnly": true
        },
        "messageAnnotation": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2MessageAnnotation"
        },
        "participantRole": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "HUMAN_AGENT",
            "AUTOMATED_AGENT",
            "END_USER"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "languageCode": {
          "type": "string"
        },
        "sendTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "participant": {
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2Message"
    },
    "GoogleCloudDialogflowV2beta1ResponseMessageTelephonyTransferCall": {
      "type": "object",
      "properties": {
        "phoneNumber": {
          "type": "string"
        },
        "sipUri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ResponseMessageTelephonyTransferCall"
    },
    "GoogleCloudDialogflowCxV3beta1ListTestCaseResultsResponse": {
      "id": "GoogleCloudDialogflowCxV3beta1ListTestCaseResultsResponse",
      "properties": {
        "testCaseResults": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestCaseResult"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceOAuthConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceOAuthConfig",
      "properties": {
        "clientId": {
          "type": "string"
        },
        "tokenEndpoint": {
          "type": "string"
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "clientSecret": {
          "type": "string"
        },
        "secretVersionForClientSecret": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1GenerativeSettingsFallbackSettings": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1GenerativeSettingsFallbackSettings",
      "properties": {
        "promptTemplates": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1GenerativeSettingsFallbackSettingsPromptTemplate"
          }
        },
        "selectedPrompt": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ConversationMetricsMatchTypeCount": {
      "properties": {
        "noInputCount": {
          "type": "integer",
          "format": "int32"
        },
        "eventCount": {
          "type": "integer",
          "format": "int32"
        },
        "parameterFillingCount": {
          "type": "integer",
          "format": "int32"
        },
        "directIntentCount": {
          "format": "int32",
          "type": "integer"
        },
        "unspecifiedCount": {
          "type": "integer",
          "format": "int32"
        },
        "noMatchCount": {
          "format": "int32",
          "type": "integer"
        },
        "intentCount": {
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ConversationMetricsMatchTypeCount"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmText": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmText",
      "properties": {
        "text": {
          "type": "string"
        },
        "rbmSuggestion": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion"
          },
          "type": "array"
        }
      }
    },
[...]
