{
  "revision": "20260919",
  "protocol": "rest",
  "rootUrl": "https://dialogflow.googleapis.com/",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/dialogflow": {
          "description": "View, manage and query your Dialogflow agents"
        }
      }
    }
  },
  "name": "dialogflow",
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "basePath": "",
  "kind": "discovery#restDescription",
  "canonicalName": "Dialogflow",
  "baseUrl": "https://dialogflow.googleapis.com/",
  "version": "v2",
  "version_module": true,
  "mtlsRootUrl": "https://dialogflow.mtls.googleapis.com/",
  "documentationLink": "https://cloud.google.com/dialogflow/",
  "resources": {
    "projects": {
      "methods": {
        "getAgent": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/dialogflow"
          ],
          "response": {
            "$ref": "GoogleCloudDialogflowV2Agent"
          },
          "httpMethod": "GET",
          "path": "v2/{+parent}/agent",
          "parameters": {
            "parent": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^projects/[^/]+$"
            }
          },
          "description": "",
          "parameterOrder": [
            "parent"
          ],
          "id": "dialogflow.projects.getAgent",
          "flatPath": "v2/projects/{projectsId}/agent"
        },
        "setAgent": {
          "parameterOrder": [
            "parent"
          ],
          "parameters": {
            "parent": {
              "pattern": "^projects/[^/]+$",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "flatPath": "v2/projects/{projectsId}/agent",
          "request": {
            "$ref": "GoogleCloudDialogflowV2Agent"
          },
          "response": {
            "$ref": "GoogleCloudDialogflowV2Agent"
          },
          "path": "v2/{+parent}/agent",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/dialogflow"
          ],
          "id": "dialogflow.projects.setAgent",
          "httpMethod": "POST",
          "description": ""
        },
        "deleteAgent": {
          "flatPath": "v2/projects/{projectsId}/agent",
          "httpMethod": "DELETE",
          "path": "v2/{+parent}/agent",
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "id": "dialogflow.projects.deleteAgent",
          "parameterOrder": [
            "parent"
          ],
          "description": "",
          "parameters": {
            "parent": {
              "pattern": "^projects/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/dialogflow"
          ]
        }
      },
      "resources": {
        "answerRecords": {
          "methods": {
            "list": {
              "id": "dialogflow.projects.answerRecords.list",
              "flatPath": "v2/projects/{projectsId}/answerRecords",
              "httpMethod": "GET",
              "path": "v2/{+parent}/answerRecords",
              "description": "",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "filter": {
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2ListAnswerRecordsResponse"
              }
            },
            "patch": {
              "request": {
                "$ref": "GoogleCloudDialogflowV2AnswerRecord"
              },
              "description": "",
              "path": "v2/{+name}",
              "httpMethod": "PATCH",
              "flatPath": "v2/projects/{projectsId}/answerRecords/{answerRecordsId}",
              "response": {
                "$ref": "GoogleCloudDialogflowV2AnswerRecord"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "dialogflow.projects.answerRecords.patch",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "name": {
                  "pattern": "^projects/[^/]+/answerRecords/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        },
        "conversationDatasets": {
          "methods": {
            "importConversationData": {
              "httpMethod": "POST",
              "path": "v2/{+name}:importConversationData",
              "description": "",
              "flatPath": "v2/projects/{projectsId}/conversationDatasets/{conversationDatasetsId}:importConversationData",
              "id": "dialogflow.projects.conversationDatasets.importConversationData",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/conversationDatasets/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleCloudDialogflowV2ImportConversationDataRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "get": {
              "description": "",
              "id": "dialogflow.projects.conversationDatasets.get",
              "httpMethod": "GET",
              "flatPath": "v2/projects/{projectsId}/conversationDatasets/{conversationDatasetsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudDialogflowV2ConversationDataset"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "path": "v2/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/conversationDatasets/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "list": {
              "flatPath": "v2/projects/{projectsId}/conversationDatasets",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              },
              "id": "dialogflow.projects.conversationDatasets.list",
              "description": "",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/dialogflow"
              ],
              "parameterOrder": [
                "parent"
              ],
              "path": "v2/{+parent}/conversationDatasets",
              "response": {
                "$ref": "GoogleCloudDialogflowV2ListConversationDatasetsResponse"
              }
            }
          }
        },
        "locations": {
          "resources": {
            "encryptionSpec": {
              "methods": {
                "initialize": {
                  "path": "v2/{+name}:initialize",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/encryptionSpec$",
                      "location": "path"
                    }
                  },
                  "id": "dialogflow.projects.locations.encryptionSpec.initialize",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/encryptionSpec:initialize",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2InitializeEncryptionSpecRequest"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations",
                  "path": "v2/{+name}/operations",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "description": "",
                  "id": "dialogflow.projects.locations.operations.list"
                },
                "cancel": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2/{+name}:cancel",
                  "httpMethod": "POST",
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.locations.operations.cancel",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.locations.operations.get",
                  "httpMethod": "GET",
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  }
                }
              }
            },
            "conversationProfiles": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationProfiles/{conversationProfilesId}",
                  "id": "dialogflow.projects.locations.conversationProfiles.get",
                  "httpMethod": "GET",
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ConversationProfile"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationProfiles/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "list": {
                  "id": "dialogflow.projects.locations.conversationProfiles.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2/{+parent}/conversationProfiles",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationProfiles",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListConversationProfilesResponse"
                  },
                  "description": "",
                  "httpMethod": "GET"
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ConversationProfile"
                  },
                  "id": "dialogflow.projects.locations.conversationProfiles.patch",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationProfiles/[^/]+$"
                    }
                  },
                  "description": "",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2ConversationProfile"
                  },
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationProfiles/{conversationProfilesId}"
                },
                "setSuggestionFeatureConfig": {
                  "path": "v2/{+conversationProfile}:setSuggestionFeatureConfig",
                  "id": "dialogflow.projects.locations.conversationProfiles.setSuggestionFeatureConfig",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2SetSuggestionFeatureConfigRequest"
                  },
                  "parameters": {
                    "conversationProfile": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationProfiles/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationProfiles/{conversationProfilesId}:setSuggestionFeatureConfig",
                  "parameterOrder": [
                    "conversationProfile"
                  ],
                  "description": ""
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationProfiles/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationProfiles/{conversationProfilesId}",
                  "description": "",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "dialogflow.projects.locations.conversationProfiles.delete"
                },
                "clearSuggestionFeatureConfig": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "conversationProfile": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationProfiles/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationProfiles/{conversationProfilesId}:clearSuggestionFeatureConfig",
                  "path": "v2/{+conversationProfile}:clearSuggestionFeatureConfig",
                  "id": "dialogflow.projects.locations.conversationProfiles.clearSuggestionFeatureConfig",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2ClearSuggestionFeatureConfigRequest"
                  },
                  "parameterOrder": [
                    "conversationProfile"
                  ]
                },
                "create": {
                  "description": "",
                  "id": "dialogflow.projects.locations.conversationProfiles.create",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ConversationProfile"
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2ConversationProfile"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "POST",
                  "path": "v2/{+parent}/conversationProfiles",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationProfiles"
                }
              }
            },
            "conversationModels": {
              "methods": {
                "undeploy": {
                  "path": "v2/{+name}:undeploy",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationModels/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2UndeployConversationModelRequest"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationModels/{conversationModelsId}:undeploy",
                  "httpMethod": "POST",
                  "id": "dialogflow.projects.locations.conversationModels.undeploy"
                },
                "create": {
                  "id": "dialogflow.projects.locations.conversationModels.create",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2ConversationModel"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationModels",
                  "path": "v2/{+parent}/conversationModels",
                  "description": "",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ]
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationModels/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "dialogflow.projects.locations.conversationModels.delete",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationModels/{conversationModelsId}",
                  "path": "v2/{+name}",
                  "description": "",
                  "httpMethod": "DELETE"
                },
                "deploy": {
                  "description": "",
                  "path": "v2/{+name}:deploy",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2DeployConversationModelRequest"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationModels/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "id": "dialogflow.projects.locations.conversationModels.deploy",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationModels/{conversationModelsId}:deploy"
                },
                "get": {
                  "id": "dialogflow.projects.locations.conversationModels.get",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ConversationModel"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationModels/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationModels/{conversationModelsId}"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListConversationModelsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "GET",
                  "path": "v2/{+parent}/conversationModels",
                  "id": "dialogflow.projects.locations.conversationModels.list",
                  "description": "",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationModels",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  }
                }
              },
              "resources": {
                "evaluations": {
                  "methods": {
                    "create": {
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2CreateConversationModelEvaluationRequest"
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversationModels/[^/]+$"
                        }
                      },
                      "description": "",
                      "path": "v2/{+parent}/evaluations",
                      "id": "dialogflow.projects.locations.conversationModels.evaluations.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationModels/{conversationModelsId}/evaluations",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2ConversationModelEvaluation"
                      },
                      "path": "v2/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "description": "",
                      "id": "dialogflow.projects.locations.conversationModels.evaluations.get",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversationModels/[^/]+/evaluations/[^/]+$",
                          "type": "string"
                        }
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationModels/{conversationModelsId}/evaluations/{evaluationsId}"
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationModels/{conversationModelsId}/evaluations",
                      "description": "",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversationModels/[^/]+$"
                        }
                      },
                      "id": "dialogflow.projects.locations.conversationModels.evaluations.list",
                      "path": "v2/{+parent}/evaluations",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2ListConversationModelEvaluationsResponse"
                      }
                    }
                  }
                }
              }
            },
            "conversationDatasets": {
              "methods": {
                "list": {
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListConversationDatasetsResponse"
                  },
                  "description": "",
                  "httpMethod": "GET",
                  "path": "v2/{+parent}/conversationDatasets",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.locations.conversationDatasets.list",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationDatasets"
                },
                "importConversationData": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "dialogflow.projects.locations.conversationDatasets.importConversationData",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationDatasets/[^/]+$",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2ImportConversationDataRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2/{+name}:importConversationData",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationDatasets/{conversationDatasetsId}:importConversationData",
                  "description": ""
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationDatasets/{conversationDatasetsId}",
                  "description": "",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationDatasets/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ConversationDataset"
                  },
                  "id": "dialogflow.projects.locations.conversationDatasets.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}"
                },
                "create": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationDatasets",
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "httpMethod": "POST",
                  "path": "v2/{+parent}/conversationDatasets",
                  "id": "dialogflow.projects.locations.conversationDatasets.create",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2ConversationDataset"
                  }
                },
                "delete": {
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "id": "dialogflow.projects.locations.conversationDatasets.delete",
                  "httpMethod": "DELETE",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversationDatasets/{conversationDatasetsId}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversationDatasets/[^/]+$",
                      "type": "string"
                    }
                  }
                }
              }
            },
            "generators": {
              "resources": {
                "evaluations": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2ListGeneratorEvaluationsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "GET",
                      "id": "dialogflow.projects.locations.generators.evaluations.list",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+$"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "path": "v2/{+parent}/evaluations",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}/evaluations"
                    },
                    "get": {
                      "path": "v2/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+/evaluations/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2GeneratorEvaluation"
                      },
                      "id": "dialogflow.projects.locations.generators.evaluations.get",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}/evaluations/{evaluationsId}",
                      "httpMethod": "GET"
                    },
                    "create": {
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2GeneratorEvaluation"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}/evaluations",
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "httpMethod": "POST",
                      "id": "dialogflow.projects.locations.generators.evaluations.create",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v2/{+parent}/evaluations"
                    },
                    "delete": {
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+/evaluations/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v2/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.locations.generators.evaluations.delete",
                      "httpMethod": "DELETE",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}/evaluations/{evaluationsId}"
                    }
                  }
                }
              },
              "methods": {
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "dialogflow.projects.locations.generators.delete",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}",
                  "httpMethod": "DELETE",
                  "path": "v2/{+name}"
                },
                "list": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/generators",
                  "id": "dialogflow.projects.locations.generators.list",
                  "httpMethod": "GET",
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListGeneratorsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "path": "v2/{+parent}/generators"
                },
                "create": {
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Generator"
                  },
                  "parameters": {
                    "generatorId": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "",
                  "path": "v2/{+parent}/generators",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Generator"
                  },
                  "id": "dialogflow.projects.locations.generators.create",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/generators",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Generator"
                  },
                  "description": "",
                  "id": "dialogflow.projects.locations.generators.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+$",
                      "type": "string"
                    }
                  },
                  "path": "v2/{+name}"
                },
                "patch": {
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Generator"
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.locations.generators.patch",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Generator"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/generators/[^/]+$"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/generators/{generatorsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}"
                }
              }
            },
            "answerRecords": {
              "methods": {
                "list": {
                  "id": "dialogflow.projects.locations.answerRecords.list",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListAnswerRecordsResponse"
                  },
                  "description": "",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/answerRecords",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v2/{+parent}/answerRecords"
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/answerRecords/{answerRecordsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/answerRecords/[^/]+$",
                      "location": "path"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2AnswerRecord"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2AnswerRecord"
                  },
                  "id": "dialogflow.projects.locations.answerRecords.patch",
                  "path": "v2/{+name}",
                  "httpMethod": "PATCH"
                }
              }
            },
            "sipTrunks": {
              "methods": {
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v2/{+name}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/sipTrunks/[^/]+$"
                    }
                  },
                  "id": "dialogflow.projects.locations.sipTrunks.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/sipTrunks/{sipTrunksId}"
                },
                "create": {
                  "path": "v2/{+parent}/sipTrunks",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2SipTrunk"
                  },
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2SipTrunk"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "id": "dialogflow.projects.locations.sipTrunks.create",
                  "description": "",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/sipTrunks",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2SipTrunk"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.locations.sipTrunks.get",
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/sipTrunks/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "",
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/sipTrunks/{sipTrunksId}"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "",
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/sipTrunks",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListSipTrunksResponse"
                  },
                  "id": "dialogflow.projects.locations.sipTrunks.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "path": "v2/{+parent}/sipTrunks"
                },
                "patch": {
                  "path": "v2/{+name}",
                  "httpMethod": "PATCH",
                  "id": "dialogflow.projects.locations.sipTrunks.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2SipTrunk"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/sipTrunks/{sipTrunksId}",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/sipTrunks/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2SipTrunk"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": ""
                }
              }
            },
            "conversations": {
              "methods": {
                "complete": {
                  "httpMethod": "POST",
                  "path": "v2/{+name}:complete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "description": "",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Conversation"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2CompleteConversationRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}:complete",
                  "id": "dialogflow.projects.locations.conversations.complete"
                },
                "create": {
                  "id": "dialogflow.projects.locations.conversations.create",
                  "parameters": {
                    "conversationId": {
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v2/{+parent}/conversations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2Conversation"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Conversation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "description": ""
                },
                "ingestContextReferences": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "path": "v2/{+conversation}:ingestContextReferences",
                  "request": {
                    "$ref": "GoogleCloudDialogflowV2IngestContextReferencesRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "conversation"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}:ingestContextReferences",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2IngestContextReferencesResponse"
                  },
                  "id": "dialogflow.projects.locations.conversations.ingestContextReferences",
                  "parameters": {
                    "conversation": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$"
                    }
                  },
                  "description": ""
                },
                "get": {
                  "httpMethod": "GET",
                  "id": "dialogflow.projects.locations.conversations.get",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                      "required": true
                    }
                  },
                  "description": "",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2Conversation"
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/dialogflow"
                  ],
                  "id": "dialogflow.projects.locations.conversations.list",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "description": "",
                  "path": "v2/{+parent}/conversations",
                  "response": {
                    "$ref": "GoogleCloudDialogflowV2ListConversationsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string"
                    }
                  }
                }
              },
              "resources": {
                "suggestions": {
                  "methods": {
                    "suggestConversationSummary": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "conversation": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/suggestions:suggestConversationSummary",
                      "description": "",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2SuggestConversationSummaryRequest"
                      },
                      "parameterOrder": [
                        "conversation"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2SuggestConversationSummaryResponse"
                      },
                      "id": "dialogflow.projects.locations.conversations.suggestions.suggestConversationSummary",
                      "path": "v2/{+conversation}/suggestions:suggestConversationSummary",
                      "httpMethod": "POST"
                    },
                    "searchKnowledge": {
                      "path": "v2/{+conversation}/suggestions:searchKnowledge",
                      "parameters": {
                        "conversation": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2SearchKnowledgeResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.conversations.suggestions.searchKnowledge",
                      "description": "",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2SearchKnowledgeRequest"
                      },
                      "parameterOrder": [
                        "conversation"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/suggestions:searchKnowledge"
                    },
                    "generate": {
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2GenerateSuggestionsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.conversations.suggestions.generate",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2GenerateSuggestionsRequest"
                      },
                      "httpMethod": "POST",
                      "description": "",
                      "parameterOrder": [
                        "conversation"
                      ],
                      "parameters": {
                        "conversation": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                          "type": "string"
                        }
                      },
                      "path": "v2/{+conversation}/suggestions:generate",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/suggestions:generate"
                    }
                  }
                },
                "participants": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "id": "dialogflow.projects.locations.conversations.participants.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2Participant"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2/{+name}"
                    },
                    "create": {
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants",
                      "id": "dialogflow.projects.locations.conversations.participants.create",
                      "path": "v2/{+parent}/participants",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                          "location": "path"
                        }
                      },
                      "description": "",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2Participant"
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2Participant"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "patch": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "id": "dialogflow.projects.locations.conversations.participants.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2Participant"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2Participant"
                      },
                      "httpMethod": "PATCH",
                      "path": "v2/{+name}",
                      "description": ""
                    },
                    "analyzeContent": {
                      "path": "v2/{+participant}:analyzeContent",
                      "id": "dialogflow.projects.locations.conversations.participants.analyzeContent",
                      "parameters": {
                        "participant": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "participant"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}:analyzeContent",
                      "httpMethod": "POST",
                      "description": "",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2AnalyzeContentRequest"
                      },
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2AnalyzeContentResponse"
                      }
                    },
                    "list": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2ListParticipantsResponse"
                      },
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                          "location": "path",
                          "required": true
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "",
                      "id": "dialogflow.projects.locations.conversations.participants.list",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants",
                      "path": "v2/{+parent}/participants",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ]
                    }
                  },
                  "resources": {
                    "suggestions": {
                      "methods": {
                        "suggestKnowledgeAssist": {
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestKnowledgeAssist",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": "",
                          "httpMethod": "POST",
                          "path": "v2/{+parent}/suggestions:suggestKnowledgeAssist",
                          "id": "dialogflow.projects.locations.conversations.participants.suggestions.suggestKnowledgeAssist",
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2SuggestKnowledgeAssistRequest"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$",
                              "location": "path"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse"
                          }
                        },
                        "suggestSmartReplies": {
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestSmartReplies",
                          "description": "",
                          "path": "v2/{+parent}/suggestions:suggestSmartReplies",
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "id": "dialogflow.projects.locations.conversations.participants.suggestions.suggestSmartReplies",
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2SuggestSmartRepliesResponse"
                          },
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2SuggestSmartRepliesRequest"
                          }
                        },
                        "suggestArticles": {
                          "path": "v2/{+parent}/suggestions:suggestArticles",
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestArticles",
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2SuggestArticlesResponse"
                          },
                          "id": "dialogflow.projects.locations.conversations.participants.suggestions.suggestArticles",
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$",
                              "required": true
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2SuggestArticlesRequest"
                          }
                        },
                        "suggestFaqAnswers": {
                          "id": "dialogflow.projects.locations.conversations.participants.suggestions.suggestFaqAnswers",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2SuggestFaqAnswersRequest"
                          },
                          "parameters": {
                            "parent": {
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+/participants/[^/]+$"
                            }
                          },
                          "path": "v2/{+parent}/suggestions:suggestFaqAnswers",
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/participants/{participantsId}/suggestions:suggestFaqAnswers",
                          "description": "",
                          "response": {
                            "$ref": "GoogleCloudDialogflowV2SuggestFaqAnswersResponse"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "POST"
                        }
                      }
                    }
                  }
                },
                "messages": {
                  "methods": {
                    "list": {
                      "description": "",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/conversations/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2/{+parent}/messages",
                      "id": "dialogflow.projects.locations.conversations.messages.list",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2ListMessagesResponse"
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/conversations/{conversationsId}/messages"
                    }
                  }
                }
              }
            },
            "agent": {
              "resources": {
                "entityTypes": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "languageCode": {
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        }
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent/entityTypes",
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2ListEntityTypesResponse"
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v2/{+parent}/entityTypes",
                      "id": "dialogflow.projects.locations.agent.entityTypes.list"
                    },
                    "batchUpdate": {
                      "description": "",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent$"
                        }
                      },
                      "path": "v2/{+parent}/entityTypes:batchUpdate",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent/entityTypes:batchUpdate",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2BatchUpdateEntityTypesRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "httpMethod": "POST",
                      "id": "dialogflow.projects.locations.agent.entityTypes.batchUpdate"
                    },
                    "get": {
                      "id": "dialogflow.projects.locations.agent.entityTypes.get",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2EntityType"
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent/entityTypes/{entityTypesId}",
                      "description": "",
                      "path": "v2/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent/entityTypes/[^/]+$"
                        },
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        }
                      }
                    },
                    "delete": {
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent/entityTypes/[^/]+$",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "path": "v2/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "dialogflow.projects.locations.agent.entityTypes.delete",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent/entityTypes/{entityTypesId}",
                      "httpMethod": "DELETE",
                      "description": ""
                    },
                    "batchDelete": {
                      "id": "dialogflow.projects.locations.agent.entityTypes.batchDelete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "parent": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent$"
                        }
                      },
                      "path": "v2/{+parent}/entityTypes:batchDelete",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent/entityTypes:batchDelete",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2BatchDeleteEntityTypesRequest"
                      },
                      "description": ""
                    },
                    "create": {
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "",
                      "id": "dialogflow.projects.locations.agent.entityTypes.create",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent/entityTypes",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2EntityType"
                      },
                      "parameters": {
                        "languageCode": {
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "path": "v2/{+parent}/entityTypes",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2EntityType"
                      }
                    },
                    "patch": {
                      "request": {
                        "$ref": "GoogleCloudDialogflowV2EntityType"
                      },
                      "id": "dialogflow.projects.locations.agent.entityTypes.patch",
                      "response": {
                        "$ref": "GoogleCloudDialogflowV2EntityType"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "languageCode": {
                          "type": "string",
                          "location": "query"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/agent/entityTypes/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "path": "v2/{+name}",
                      "httpMethod": "PATCH",
                      "description": "",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/dialogflow"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent/entityTypes/{entityTypesId}"
                    }
                  },
                  "resources": {
                    "entities": {
                      "methods": {
                        "batchUpdate": {
                          "path": "v2/{+parent}/entities:batchUpdate",
                          "id": "dialogflow.projects.locations.agent.entityTypes.entities.batchUpdate",
                          "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/agent/entityTypes/{entityTypesId}/entities:batchUpdate",
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/dialogflow"
                          ],
                          "description": "",
                          "parameterOrder": [
                            "parent"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDialogflowV2BatchUpdateEntitiesRequest"
                          },
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "parameters": {
                            "parent": {
[...]
