{
  "canonicalName": "Dialogflow",
  "title": "Dialogflow API",
  "name": "dialogflow",
  "basePath": "",
  "discoveryVersion": "v1",
  "description": "Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).",
  "fullyEncodeReservedExpansion": true,
  "id": "dialogflow:v2beta1",
  "rootUrl": "https://dialogflow.googleapis.com/",
  "schemas": {
    "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoKnowledgeAssistBehavior": {
      "properties": {
        "queryGenerationEndUserLanguageMismatch": {
          "type": "boolean"
        },
        "disableSyncDelivery": {
          "type": "boolean"
        },
        "queryGenerationAgentLanguageMismatch": {
          "type": "boolean"
        },
        "previousQueriesIncluded": {
          "type": "boolean"
        },
        "thirdPartyConnectorAllowed": {
          "type": "boolean"
        },
        "returnQueryOnly": {
          "type": "boolean"
        },
        "primaryQueryRedactedAndReplaced": {
          "type": "boolean"
        },
        "useTranslatedMessage": {
          "type": "boolean"
        },
        "invalidItemsQuerySuggestionSkipped": {
          "type": "boolean"
        },
        "conversationTranscriptHasMixedLanguages": {
          "type": "boolean"
        },
        "answerGenerationRewriterOn": {
          "type": "boolean"
        },
        "useCustomSafetyFilterLevel": {
          "type": "boolean"
        },
        "endUserMetadataIncluded": {
          "type": "boolean"
        },
        "usePubsubDelivery": {
          "type": "boolean"
        },
        "multipleQueriesGenerated": {
          "type": "boolean"
        },
        "queryContainedSearchContext": {
          "type": "boolean"
        },
        "appendedSearchContextCount": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoKnowledgeAssistBehavior"
    },
    "GoogleCloudDialogflowV2beta1ConversationPhoneNumber": {
      "properties": {
        "countryCode": {
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "phoneNumber": {
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ConversationPhoneNumber",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageQuickReplies": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageQuickReplies",
      "type": "object",
      "properties": {
        "quickReplies": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "title": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig": {
      "id": "GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig",
      "type": "object",
      "properties": {
        "enablePredeploymentRun": {
          "type": "boolean"
        },
        "testCases": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enableContinuousRun": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1CompleteConversationRequest": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1CompleteConversationRequest"
    },
    "GoogleCloudDialogflowCxV3beta1ContinuousTestResult": {
      "id": "GoogleCloudDialogflowCxV3beta1ContinuousTestResult",
      "properties": {
        "name": {
          "type": "string"
        },
        "testCaseResults": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "result": {
          "enum": [
            "AGGREGATED_TEST_RESULT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "runTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo",
      "properties": {
        "tag": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2KnowledgeOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeOperationMetadata",
      "properties": {
        "exportOperationMetadata": {
          "$ref": "GoogleCloudDialogflowV2ExportOperationMetadata"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ]
        },
        "knowledgeBase": {
          "type": "string"
        },
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1RaiSettingsRaiCategoryConfig": {
      "id": "GoogleCloudDialogflowV2beta1RaiSettingsRaiCategoryConfig",
      "properties": {
        "sensitivityLevel": {
          "type": "string",
          "enum": [
            "SENSITIVITY_LEVEL_UNSPECIFIED",
            "BLOCK_MOST",
            "BLOCK_SOME",
            "BLOCK_FEW",
            "BLOCK_NONE"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "category": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RAI_CATEGORY_UNSPECIFIED",
            "DANGEROUS_CONTENT",
            "SEXUALLY_EXPLICIT",
            "HARASSMENT",
            "HATE_SPEECH"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ImportIntentsMetadata": {
      "id": "GoogleCloudDialogflowCxV3ImportIntentsMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowV2beta1SuggestConversationSummaryResponseSummarySummarySection": {
      "properties": {
        "section": {
          "readOnly": true,
          "type": "string"
        },
        "summary": {
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SuggestConversationSummaryResponseSummarySummarySection"
    },
    "GoogleCloudDialogflowCxV3RunTestCaseMetadata": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3RunTestCaseMetadata"
    },
    "GoogleCloudDialogflowV2beta1AnnotatedMessagePart": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1AnnotatedMessagePart",
      "properties": {
        "text": {
          "type": "string"
        },
        "entityType": {
          "type": "string"
        },
        "formattedValue": {
          "type": "any"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ListKnowledgeBasesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "knowledgeBases": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeBase"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ListKnowledgeBasesResponse"
    },
    "GoogleCloudDialogflowV2Context": {
      "properties": {
        "name": {
          "type": "string"
        },
        "lifespanCount": {
          "type": "integer",
          "format": "int32"
        },
        "parameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2Context"
    },
    "GoogleCloudDialogflowV2beta1ExportAgentRequest": {
      "properties": {
        "agentUri": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ExportAgentRequest"
    },
    "GoogleCloudDialogflowV2IntentMessageQuickReplies": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageQuickReplies",
      "properties": {
        "title": {
          "type": "string"
        },
        "quickReplies": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageSimpleResponses": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageSimpleResponses",
      "properties": {
        "simpleResponses": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageSimpleResponse"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentTrainingPhrasePart": {
      "properties": {
        "text": {
          "type": "string"
        },
        "alias": {
          "type": "string"
        },
        "userDefined": {
          "type": "boolean"
        },
        "entityType": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2IntentTrainingPhrasePart",
      "type": "object"
    },
    "GoogleCloudDialogflowV2GenerateSuggestionsResponse": {
      "type": "object",
      "properties": {
        "generatorSuggestionAnswers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2GenerateSuggestionsResponseGeneratorSuggestionAnswer"
          },
          "type": "array"
        },
        "latestMessage": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2GenerateSuggestionsResponse"
    },
    "GoogleCloudDialogflowV2beta1GeneratorEvaluation": {
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "summarizationMetrics": {
          "$ref": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetrics",
          "readOnly": true
        },
        "completeTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string"
        },
        "evaluationStatus": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1EvaluationStatus"
        },
        "initialGenerator": {
          "$ref": "GoogleCloudDialogflowV2beta1Generator"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true
        },
        "generatorEvaluationConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1GeneratorEvaluationConfig"
        },
        "name": {
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2beta1GeneratorEvaluation",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1TestCaseError": {
      "id": "GoogleCloudDialogflowCxV3beta1TestCaseError",
      "properties": {
        "testCase": {
          "$ref": "GoogleCloudDialogflowCxV3beta1TestCase"
        },
        "status": {
          "$ref": "GoogleRpcStatus"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2GeneratorSuggestion": {
      "properties": {
        "agentCoachingSuggestion": {
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestion"
        },
        "summarySuggestion": {
          "$ref": "GoogleCloudDialogflowV2SummarySuggestion"
        },
        "freeFormSuggestion": {
          "$ref": "GoogleCloudDialogflowV2FreeFormSuggestion"
        },
        "toolCallInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2GeneratorSuggestionToolCallInfo"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2GeneratorSuggestion",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1DeployFlowMetadata": {
      "id": "GoogleCloudDialogflowCxV3beta1DeployFlowMetadata",
      "type": "object",
      "properties": {
        "testErrors": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TestError"
          }
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse": {
      "properties": {
        "mergeBehavior": {
          "enum": [
            "MERGE_BEHAVIOR_UNSPECIFIED",
            "APPEND",
            "REPLACE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "messages": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1ResponseMessage"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageCard": {
      "type": "object",
      "properties": {
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageCardButton"
          }
        },
        "subtitle": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "imageUri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageCard"
    },
    "GoogleCloudDialogflowV2beta1GeneratorEvaluationConfigInputDataConfig": {
      "type": "object",
      "properties": {
        "inputDataSourceType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "INPUT_DATA_SOURCE_TYPE_UNSPECIFIED",
            "AGENT_ASSIST_CONVERSATIONS",
            "INSIGHTS_CONVERSATIONS"
          ],
          "type": "string",
          "deprecated": true
        },
        "sampleSize": {
          "type": "integer",
          "format": "int32"
        },
        "agentAssistInputDataConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1GeneratorEvaluationConfigAgentAssistInputDataConfig"
        },
        "datasetInputDataConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1GeneratorEvaluationConfigDatasetInputDataConfig"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "deprecated": true
        },
        "startTime": {
          "type": "string",
          "deprecated": true,
          "format": "google-datetime"
        },
        "isSummaryGenerationAllowed": {
          "type": "boolean",
          "deprecated": true
        },
        "summaryGenerationOption": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SUMMARY_GENERATION_OPTION_UNSPECIFIED",
            "ALWAYS_GENERATE",
            "GENERATE_IF_MISSING",
            "DO_NOT_GENERATE"
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2beta1GeneratorEvaluationConfigInputDataConfig"
    },
    "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionConfig": {
      "id": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionConfig",
      "properties": {
        "generators": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enableAsyncToolCall": {
          "type": "boolean"
        },
        "disableHighLatencyFeaturesSyncDelivery": {
          "type": "boolean"
        },
        "featureConfigs": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionFeatureConfig"
          },
          "type": "array"
        },
        "skipEmptyEventBasedSuggestion": {
          "type": "boolean"
        },
        "groupSuggestionResponses": {
          "type": "boolean"
        },
        "useUnredactedConversationData": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2CreateConversationDatasetOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2CreateConversationDatasetOperationMetadata",
      "properties": {
        "conversationDataset": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageSuggestion": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageSuggestion",
      "properties": {
        "title": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult": {
      "type": "object",
      "properties": {
        "duplicateSuggestions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult"
    },
    "GoogleCloudDialogflowV2beta1SearchKnowledgeAnswer": {
      "id": "GoogleCloudDialogflowV2beta1SearchKnowledgeAnswer",
      "properties": {
        "answerType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "ANSWER_TYPE_UNSPECIFIED",
            "FAQ",
            "GENERATIVE",
            "INTENT",
            "PLAYBOOK",
            "EVENT"
          ],
          "type": "string"
        },
        "answerSources": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SearchKnowledgeAnswerAnswerSource"
          }
        },
        "answerRecord": {
          "type": "string"
        },
        "answer": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3EventHandler": {
      "type": "object",
      "properties": {
        "targetPlaybook": {
          "type": "string"
        },
        "event": {
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "targetFlow": {
          "type": "string"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "targetPage": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3EventHandler"
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion": {
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion",
      "properties": {
        "answerRecord": {
          "type": "string",
          "readOnly": true
        },
        "similarityScore": {
          "readOnly": true,
          "type": "number",
          "format": "float"
        },
        "suggestionIndex": {
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "sources": {
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2AgentCoachingInstruction": {
      "properties": {
        "triggeringEvent": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TRIGGER_EVENT_UNSPECIFIED",
            "END_OF_UTTERANCE",
            "MANUAL_CALL",
            "CUSTOMER_MESSAGE",
            "AGENT_MESSAGE",
            "TOOL_CALL_COMPLETION"
          ]
        },
        "systemAction": {
          "type": "string"
        },
        "displayDetails": {
          "type": "string"
        },
        "condition": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "agentAction": {
          "type": "string"
        },
        "duplicateCheckResult": {
          "$ref": "GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDialogflowV2AgentCoachingInstruction",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SpeechContext": {
      "properties": {
        "boost": {
          "format": "float",
          "type": "number"
        },
        "phrases": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SpeechContext",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3WebhookResponse": {
      "properties": {
        "targetFlow": {
          "type": "string"
        },
        "targetPage": {
          "type": "string"
        },
        "payload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "fulfillmentResponse": {
          "$ref": "GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponse"
        },
        "sessionInfo": {
          "$ref": "GoogleCloudDialogflowCxV3SessionInfo"
        },
        "pageInfo": {
          "$ref": "GoogleCloudDialogflowCxV3PageInfo"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3WebhookResponse"
    },
    "GoogleCloudDialogflowV2beta1ImportDocumentsResponse": {
      "properties": {
        "warnings": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ImportDocumentsResponse"
    },
    "GoogleCloudDialogflowV2beta1ListIntentsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "intents": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Intent"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ListIntentsResponse"
    },
    "GoogleCloudDialogflowV2beta1IntentParameter": {
      "id": "GoogleCloudDialogflowV2beta1IntentParameter",
      "properties": {
        "value": {
          "type": "string"
        },
        "isList": {
          "type": "boolean"
        },
        "defaultValue": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "entityTypeDisplayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "mandatory": {
          "type": "boolean"
        },
        "prompts": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ConversationGeneratorContext": {
      "properties": {
        "generatorType": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "GENERATOR_TYPE_UNSPECIFIED",
            "FREE_FORM",
            "AGENT_COACHING",
            "SUMMARIZATION",
            "TRANSLATION",
            "AGENT_FEEDBACK",
            "CUSTOMER_MESSAGE_GENERATION"
          ]
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ConversationGeneratorContext",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1IntentParameter": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "redact": {
          "type": "boolean"
        },
        "entityType": {
          "type": "string"
        },
        "isList": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1IntentParameter"
    },
    "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsDecomposition": {
      "deprecated": true,
      "type": "object",
      "properties": {
        "accuracyDecomposition": {
          "$ref": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsAccuracyDecomposition"
        },
        "adherenceDecomposition": {
          "$ref": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsAdherenceDecomposition"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsDecomposition"
    },
    "GoogleCloudDialogflowV2beta1DetectIntentRequest": {
      "id": "GoogleCloudDialogflowV2beta1DetectIntentRequest",
      "properties": {
        "outputAudioConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1OutputAudioConfig"
        },
        "queryInput": {
          "$ref": "GoogleCloudDialogflowV2beta1QueryInput"
        },
        "inputAudio": {
          "type": "string",
          "format": "byte"
        },
        "queryParams": {
          "$ref": "GoogleCloudDialogflowV2beta1QueryParameters"
        },
        "outputAudioConfigMask": {
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3IntentInput": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3IntentInput",
      "properties": {
        "intent": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2AgentCoachingSuggestionSampleResponse": {
      "properties": {
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult"
        },
        "sources": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2AgentCoachingSuggestionSources"
        },
        "responseText": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2AgentCoachingSuggestionSampleResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo",
      "properties": {
        "projectNotAllowlisted": {
          "type": "boolean"
        },
        "contextReferenceRetrieved": {
          "type": "boolean"
        },
        "ingestedParametersDebugInfo": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigContextFilterSettings": {
      "properties": {
        "dropHandoffMessages": {
          "type": "boolean"
        },
        "dropIvrMessages": {
          "type": "boolean"
        },
        "dropVirtualAgentMessages": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigContextFilterSettings",
      "type": "object"
    },
    "GoogleCloudDialogflowV2BatchUpdateIntentsResponse": {
      "id": "GoogleCloudDialogflowV2BatchUpdateIntentsResponse",
      "type": "object",
      "properties": {
        "intents": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2Intent"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ConversationContext": {
      "properties": {
        "messageEntries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1MessageEntry"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ConversationContext",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AudioInput": {
      "id": "GoogleCloudDialogflowV2beta1AudioInput",
      "type": "object",
      "properties": {
        "config": {
          "$ref": "GoogleCloudDialogflowV2beta1InputAudioConfig"
        },
        "audio": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudDialogflowCxV3PageInfo": {
      "id": "GoogleCloudDialogflowCxV3PageInfo",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "formInfo": {
          "$ref": "GoogleCloudDialogflowCxV3PageInfoFormInfo"
        },
        "currentPage": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ToolConnectorToolActionEntityOperation": {
      "id": "GoogleCloudDialogflowV2beta1ToolConnectorToolActionEntityOperation",
      "type": "object",
      "properties": {
        "operation": {
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "LIST",
            "GET",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "entityId": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedAction": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedAction",
      "type": "object",
      "properties": {
        "openUrl": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionOpenUri"
        },
        "postbackData": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "dial": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial"
        },
        "shareLocation": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionShareLocation"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AgentCoachingInstruction": {
      "id": "GoogleCloudDialogflowV2beta1AgentCoachingInstruction",
      "type": "object",
      "properties": {
        "displayDetails": {
          "type": "string"
        },
        "condition": {
          "type": "string"
        },
        "triggeringEvent": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TRIGGER_EVENT_UNSPECIFIED",
            "END_OF_UTTERANCE",
            "MANUAL_CALL",
            "CUSTOMER_MESSAGE",
            "AGENT_MESSAGE",
            "TOOL_CALL_COMPLETION"
          ]
        },
        "duplicateCheckResult": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResult"
        },
        "displayName": {
          "type": "string"
        },
        "agentAction": {
          "type": "string"
        },
        "systemAction": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExportEntityTypesMetadata": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ExportEntityTypesMetadata",
      "properties": {}
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmText": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmText",
      "properties": {
        "rbmSuggestion": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion"
          }
        },
        "text": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1GenerateStatelessSummaryRequestMinimalConversation": {
      "id": "GoogleCloudDialogflowV2beta1GenerateStatelessSummaryRequestMinimalConversation",
      "type": "object",
      "properties": {
        "messages": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Message"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ToolTLSConfigCACert": {
      "id": "GoogleCloudDialogflowV2beta1ToolTLSConfigCACert",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "cert": {
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SuggestionArticle": {
      "properties": {
        "uri": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "snippets": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SuggestionArticle"
    },
    "GoogleCloudDialogflowV2SmartReplyAnswer": {
      "type": "object",
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "reply": {
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudDialogflowV2SmartReplyAnswer"
    },
    "GoogleCloudDialogflowV2beta1Tool": {
      "id": "GoogleCloudDialogflowV2beta1Tool",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string"
        },
        "connectorSpec": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolConnectorTool"
        },
        "actionConfirmationRequirement": {
          "type": "object",
          "additionalProperties": {
            "enumDescriptions": [
              "",
              "",
              ""
            ],
            "enum": [
              "CONFIRMATION_REQUIREMENT_UNSPECIFIED",
              "REQUIRED",
              "NOT_REQUIRED"
            ],
            "type": "string"
          }
        },
        "description": {
          "type": "string"
        },
        "extensionSpec": {
          "deprecated": true,
          "$ref": "GoogleCloudDialogflowV2beta1ToolExtensionTool"
        },
        "toolKey": {
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean"
        },
        "openApiSpec": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolOpenApiTool"
        },
        "functionSpec": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolFunctionTool"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1AgentAssistantRecord": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1AgentAssistantRecord",
      "properties": {
        "dialogflowAssistAnswer": {
          "$ref": "GoogleCloudDialogflowV2beta1DialogflowAssistAnswer",
          "readOnly": true
        },
        "generatorSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1GeneratorSuggestion",
          "readOnly": true
        },
        "articleSuggestionAnswer": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1ArticleAnswer"
        },
        "faqAnswer": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1FaqAnswer"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SuggestArticlesResponse": {
      "type": "object",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "articleAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ArticleAnswer"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SuggestArticlesResponse"
    },
    "GoogleCloudDialogflowCxV3DeployFlowMetadata": {
      "properties": {
        "testErrors": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TestError"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowCxV3DeployFlowMetadata",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1EnvironmentHistoryEntry": {
      "properties": {
        "description": {
          "type": "string"
        },
        "agentVersion": {
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1EnvironmentHistoryEntry"
    },
    "GoogleCloudDialogflowV2beta1GeneratorEvaluationConfigDatasetInputDataConfig": {
      "id": "GoogleCloudDialogflowV2beta1GeneratorEvaluationConfigDatasetInputDataConfig",
      "properties": {
        "dataset": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExportTestCasesMetadata": {
      "id": "GoogleCloudDialogflowCxV3ExportTestCasesMetadata",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpecConditionBoostSpec": {
      "id": "GoogleCloudDialogflowV2beta1SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpecConditionBoostSpec",
      "type": "object",
      "properties": {
        "boost": {
          "format": "float",
          "type": "number"
        },
        "condition": {
          "type": "string"
        },
        "boostControlSpec": {
          "$ref": "GoogleCloudDialogflowV2beta1SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpecConditionBoostSpecBoostControlSpec"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1DialogflowAssistAnswer": {
      "type": "object",
      "properties": {
        "queryResult": {
          "$ref": "GoogleCloudDialogflowV2beta1QueryResult"
        },
        "intentSuggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentSuggestion"
        },
        "answerRecord": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1DialogflowAssistAnswer"
    },
    "GoogleCloudDialogflowCxV3beta1Page": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1Page",
      "properties": {
        "knowledgeConnectorSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings"
        },
        "description": {
          "type": "string"
        },
        "eventHandlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1EventHandler"
          }
        },
        "entryFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "transitionRoutes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1TransitionRoute"
          }
        },
        "form": {
          "$ref": "GoogleCloudDialogflowCxV3beta1Form"
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "transitionRouteGroups": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ImportAgentRequest": {
      "id": "GoogleCloudDialogflowV2beta1ImportAgentRequest",
      "properties": {
        "agentUri": {
          "type": "string"
        },
        "agentContent": {
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3GcsDestination": {
      "id": "GoogleCloudDialogflowCxV3GcsDestination",
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent",
      "type": "object",
      "properties": {
        "suggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion"
          }
        },
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "media": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText": {
      "properties": {
        "text": {
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "type": "boolean",
          "readOnly": true
        },
        "ssml": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SummarySuggestion": {
      "type": "object",
      "properties": {
        "summarySections": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SummarySuggestion"
    },
    "GoogleCloudDialogflowV2IntentMessageTableCard": {
      "id": "GoogleCloudDialogflowV2IntentMessageTableCard",
      "type": "object",
      "properties": {
        "columnProperties": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageColumnProperties"
          }
        },
        "buttons": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButton"
          }
        },
        "title": {
          "type": "string"
        },
        "subtitle": {
          "type": "string"
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageTableCardRow"
          }
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        }
      }
    },
    "GoogleCloudDialogflowV2FreeFormSuggestion": {
      "id": "GoogleCloudDialogflowV2FreeFormSuggestion",
      "properties": {
        "response": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases": {
      "properties": {
        "cases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase"
          }
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases",
      "type": "object"
    },
    "GoogleCloudDialogflowV3alpha1ConversationSignals": {
      "id": "GoogleCloudDialogflowV3alpha1ConversationSignals",
      "type": "object",
      "properties": {
        "turnSignals": {
          "$ref": "GoogleCloudDialogflowV3alpha1TurnSignals"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction",
      "properties": {
        "uri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageBasicCardButton": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageBasicCardButton",
      "properties": {
        "title": {
          "type": "string"
        },
        "openUriAction": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction"
        }
      }
    },
    "GoogleCloudDialogflowV2SummarySuggestionSummarySection": {
      "id": "GoogleCloudDialogflowV2SummarySuggestionSummarySection",
      "properties": {
        "section": {
          "type": "string"
        },
        "summary": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1EnvironmentHistory": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1EnvironmentHistory",
      "properties": {
        "entries": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EnvironmentHistoryEntry"
          },
          "type": "array"
        },
        "parent": {
          "readOnly": true,
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowV2beta1AutomatedAgentReply": {
      "type": "object",
      "properties": {
        "matchConfidence": {
          "type": "number",
          "format": "float"
        },
        "automatedAgentReplyType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "AUTOMATED_AGENT_REPLY_TYPE_UNSPECIFIED",
            "PARTIAL",
            "FINAL"
          ]
        },
        "event": {
          "type": "string"
        },
        "cxSessionParameters": {
          "type": "object",
          "deprecated": true,
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "allowCancellation": {
          "type": "boolean"
        },
        "intent": {
          "type": "string"
        },
        "parameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "callCompanionAuthCode": {
          "format": "byte",
          "type": "string"
        },
        "responseMessages": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ResponseMessage"
          },
          "type": "array"
        },
        "detectIntentResponse": {
          "$ref": "GoogleCloudDialogflowV2beta1DetectIntentResponse"
        },
        "cxCurrentPage": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1AutomatedAgentReply"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageText": {
      "type": "object",
      "properties": {
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allowPlaybackInterruption": {
          "readOnly": true,
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageText"
    },
    "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponse": {
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "generatorSuggestionAnswers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponseGeneratorSuggestionAnswer"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1GenerateSuggestionsResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo": {
      "properties": {
        "parentFollowupIntentName": {
          "type": "string"
        },
        "followupIntentName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo"
    },
    "GoogleCloudDialogflowCxV3SessionInfo": {
      "id": "GoogleCloudDialogflowCxV3SessionInfo",
      "type": "object",
      "properties": {
        "parameters": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "session": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ConversationContextReferenceContextContent": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ConversationContextReferenceContextContent",
      "properties": {
        "answerRecord": {
          "type": "string"
        },
        "contentFormat": {
          "enum": [
            "CONTENT_FORMAT_UNSPECIFIED",
            "JSON",
            "PLAIN_TEXT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "content": {
          "type": "string"
        },
        "ingestionTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction"
    },
    "GoogleCloudDialogflowV2IntentMessageCarouselSelect": {
      "id": "GoogleCloudDialogflowV2IntentMessageCarouselSelect",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1Intent": {
      "type": "object",
      "properties": {
        "events": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "isFallback": {
          "type": "boolean"
        },
        "messages": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessage"
          },
          "type": "array"
        },
        "mlDisabled": {
          "type": "boolean"
        },
        "inputContextNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mlEnabled": {
          "deprecated": true,
          "type": "boolean"
        },
        "followupIntentInfo": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentFollowupIntentInfo"
          }
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentParameter"
          }
        },
        "resetContexts": {
          "type": "boolean"
        },
        "parentFollowupIntentName": {
          "type": "string"
        },
        "endInteraction": {
          "type": "boolean"
        },
        "rootFollowupIntentName": {
          "readOnly": true,
          "type": "string"
        },
        "liveAgentHandoff": {
          "type": "boolean"
        },
        "defaultResponsePlatforms": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "FACEBOOK",
              "SLACK",
              "TELEGRAM",
              "KIK",
              "SKYPE",
              "LINE",
              "VIBER",
              "ACTIONS_ON_GOOGLE",
              "TELEPHONY",
              "GOOGLE_HANGOUTS"
            ]
          }
        },
        "action": {
          "type": "string"
        },
        "webhookState": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "WEBHOOK_STATE_UNSPECIFIED",
            "WEBHOOK_STATE_ENABLED",
            "WEBHOOK_STATE_ENABLED_FOR_SLOT_FILLING"
          ]
        },
        "trainingPhrases": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentTrainingPhrase"
          },
          "type": "array"
        },
        "outputContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Context"
          }
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "priority": {
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1Intent"
    },
    "GoogleCloudDialogflowCxV3FormParameter": {
      "id": "GoogleCloudDialogflowCxV3FormParameter",
      "type": "object",
      "properties": {
        "redact": {
          "type": "boolean"
        },
        "required": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        },
        "entityType": {
          "type": "string"
        },
        "isList": {
          "type": "boolean"
        },
        "fillBehavior": {
          "$ref": "GoogleCloudDialogflowCxV3FormParameterFillBehavior"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "defaultValue": {
          "type": "any"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1EncryptionSpec": {
      "id": "GoogleCloudDialogflowV2beta1EncryptionSpec",
      "properties": {
        "name": {
          "type": "string"
        },
        "kmsKey": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1GcsDestination": {
      "id": "GoogleCloudDialogflowCxV3beta1GcsDestination",
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ToolConnectorToolAction": {
      "type": "object",
      "properties": {
        "connectionActionId": {
          "type": "string"
        },
        "entityOperation": {
          "$ref": "GoogleCloudDialogflowV2beta1ToolConnectorToolActionEntityOperation"
        },
        "inputFields": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "outputFields": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ToolConnectorToolAction"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery": {
      "properties": {
        "queryText": {
          "type": "string"
        },
        "searchContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuerySearchContext"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery"
    },
    "GoogleCloudDialogflowV2GenerateSuggestionsResponseGeneratorSuggestionAnswer": {
      "id": "GoogleCloudDialogflowV2GenerateSuggestionsResponseGeneratorSuggestionAnswer",
      "properties": {
        "sourceGenerator": {
          "type": "string"
        },
        "answerRecord": {
          "type": "string"
        },
        "generatorSuggestion": {
          "$ref": "GoogleCloudDialogflowV2GeneratorSuggestion"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2MessageAnnotation": {
      "type": "object",
      "properties": {
        "containEntities": {
          "type": "boolean"
        },
        "parts": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2AnnotatedMessagePart"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDialogflowV2MessageAnnotation"
    },
    "GoogleCloudDialogflowCxV3beta1EnvironmentTestCasesConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1EnvironmentTestCasesConfig",
      "type": "object",
      "properties": {
        "enableContinuousRun": {
          "type": "boolean"
        },
        "testCases": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enablePredeploymentRun": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "text": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1CesAppSpec": {
      "type": "object",
      "deprecated": true,
      "id": "GoogleCloudDialogflowV2beta1CesAppSpec",
      "properties": {
        "reactiveEnabled": {
          "type": "boolean"
        },
        "proactiveEnabled": {
          "type": "boolean"
        },
        "cesApp": {
          "type": "string"
        },
        "confirmationRequirement": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "CONFIRMATION_REQUIREMENT_UNSPECIFIED",
            "REQUIRED",
            "NOT_REQUIRED"
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem": {
      "properties": {
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        },
        "description": {
          "type": "string"
        },
        "info": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo"
        },
        "title": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageCarouselSelectItem"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAnswers": {
      "properties": {
        "answers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAnswers"
    },
    "GoogleCloudDialogflowV2beta1ExportOperationMetadata": {
      "properties": {
        "exportedGcsDestination": {
          "$ref": "GoogleCloudDialogflowV2beta1GcsDestination"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ExportOperationMetadata"
    },
    "GoogleCloudDialogflowV2beta1SuggestFaqAnswersResponse": {
      "type": "object",
      "properties": {
        "faqAnswers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1FaqAnswer"
          },
          "type": "array"
        },
        "contextSize": {
          "format": "int32",
          "type": "integer"
        },
        "latestMessage": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SuggestFaqAnswersResponse"
    },
    "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoQueryGenerationDebugInfo": {
      "id": "GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoQueryGenerationDebugInfo",
      "type": "object",
      "properties": {
        "totalTokenCount": {
          "type": "integer",
          "format": "int32"
        },
        "similarityToLastQuery": {
          "type": "number",
          "format": "float"
        },
        "similarityToLastQueryThreshold": {
          "format": "float",
          "type": "number"
        },
        "candidatesTokenCount": {
          "type": "integer",
          "format": "int32"
        },
        "thinkingLevel": {
          "type": "string"
        },
        "thinkingBudgetTokens": {
          "type": "integer",
          "format": "int32"
        },
        "promptTokenCount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata": {
      "properties": {
        "trainingModelType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "SMART_REPLY_DUAL_ENCODER_MODEL",
            "SMART_REPLY_BERT_MODEL"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2ArticleSuggestionModelMetadata"
    },
    "GoogleCloudDialogflowCxV3ExportFlowResponse": {
      "id": "GoogleCloudDialogflowCxV3ExportFlowResponse",
      "type": "object",
      "properties": {
        "flowContent": {
          "format": "byte",
          "type": "string"
        },
        "flowUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1WebhookServiceDirectoryConfig": {
      "id": "GoogleCloudDialogflowCxV3beta1WebhookServiceDirectoryConfig",
      "type": "object",
      "properties": {
        "service": {
          "type": "string"
        },
        "genericWebService": {
          "$ref": "GoogleCloudDialogflowCxV3beta1WebhookGenericWebService"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ListDocumentsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "documents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Document"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ListDocumentsResponse"
    },
    "GoogleCloudDialogflowCxV3DeployFlowResponse": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3DeployFlowResponse",
      "properties": {
        "deployment": {
          "type": "string"
        },
        "environment": {
          "$ref": "GoogleCloudDialogflowCxV3Environment"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1ExportTestCasesResponse": {
      "properties": {
        "content": {
          "format": "byte",
          "type": "string"
        },
        "gcsUri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ExportTestCasesResponse",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3DataStoreConnection": {
      "type": "object",
      "properties": {
        "documentProcessingMode": {
          "enum": [
            "DOCUMENT_PROCESSING_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "dataStore": {
          "type": "string"
        },
        "dataStoreType": {
          "enum": [
            "DATA_STORE_TYPE_UNSPECIFIED",
            "PUBLIC_WEB",
            "UNSTRUCTURED",
            "STRUCTURED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "GoogleCloudDialogflowCxV3DataStoreConnection"
    },
    "GoogleCloudDialogflowV2beta1SynthesizeSpeechConfig": {
      "id": "GoogleCloudDialogflowV2beta1SynthesizeSpeechConfig",
      "properties": {
        "effectsProfileId": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "speakingRate": {
          "type": "number",
          "format": "double"
        },
        "voice": {
          "$ref": "GoogleCloudDialogflowV2beta1VoiceSelectionParams"
        },
        "pronunciations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1CustomPronunciationParams"
          }
        },
        "volumeGainDb": {
          "type": "number",
          "format": "double"
        },
        "pitch": {
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment": {
      "properties": {
        "audio": {
          "format": "byte",
          "type": "string"
        },
        "allowPlaybackInterruption": {
          "type": "boolean",
          "readOnly": true
        },
        "uri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ResponseMessageMixedAudioSegment",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3ExportEntityTypesMetadata": {
      "id": "GoogleCloudDialogflowCxV3ExportEntityTypesMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowV2beta1BatchCreateMessagesRequest": {
      "id": "GoogleCloudDialogflowV2beta1BatchCreateMessagesRequest",
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1CreateMessageRequest"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1EntityType": {
      "properties": {
        "enableFuzzyExtraction": {
          "type": "boolean"
        },
        "autoExpansionMode": {
          "enum": [
            "AUTO_EXPANSION_MODE_UNSPECIFIED",
            "AUTO_EXPANSION_MODE_DEFAULT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "name": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "KIND_UNSPECIFIED",
            "KIND_MAP",
            "KIND_LIST",
            "KIND_REGEXP"
          ]
        },
        "entities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1EntityTypeEntity"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1EntityType",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment": {
      "properties": {
        "allowPlaybackInterruption": {
          "type": "boolean",
          "readOnly": true
        },
        "audio": {
          "format": "byte",
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment"
    },
    "GoogleCloudDialogflowV2DeleteConversationDatasetOperationMetadata": {
      "id": "GoogleCloudDialogflowV2DeleteConversationDatasetOperationMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDialogflowV2beta1EvaluationStatus": {
      "properties": {
        "done": {
          "type": "boolean",
          "readOnly": true
        },
        "pipelineStatus": {
          "readOnly": true,
          "$ref": "GoogleRpcStatus"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1EvaluationStatus",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1ConversationContextReference": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ConversationContextReference",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateMode": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "UPDATE_MODE_UNSPECIFIED",
            "APPEND",
            "OVERWRITE"
          ]
        },
        "contextContents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ConversationContextReferenceContextContent"
          }
        },
        "languageCode": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ConversationTurnUserInput": {
      "type": "object",
      "properties": {
        "isWebhookEnabled": {
          "type": "boolean"
        },
        "input": {
          "$ref": "GoogleCloudDialogflowCxV3QueryInput"
        },
        "enableSentimentAnalysis": {
          "type": "boolean"
        },
        "injectedParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudDialogflowCxV3ConversationTurnUserInput"
    },
    "GoogleCloudDialogflowCxV3beta1ExportEntityTypesResponse": {
      "type": "object",
      "properties": {
        "entityTypesContent": {
          "$ref": "GoogleCloudDialogflowCxV3beta1InlineDestination"
        },
        "entityTypesUri": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ExportEntityTypesResponse"
    },
    "GoogleCloudDialogflowCxV3TestConfig": {
      "id": "GoogleCloudDialogflowCxV3TestConfig",
      "type": "object",
      "properties": {
        "flow": {
          "type": "string"
        },
        "trackingParameters": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "page": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SpeechToTextConfigGeminiAsrConfig": {
      "properties": {
        "modelId": {
          "type": "string"
        },
        "startOfSpeechSensitivity": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "START_SENSITIVITY_UNSPECIFIED",
            "START_SENSITIVITY_HIGH",
            "START_SENSITIVITY_LOW"
          ]
        },
        "silenceDurationMs": {
          "format": "int32",
          "type": "integer"
        },
        "endOfSpeechSensitivity": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "END_SENSITIVITY_UNSPECIFIED",
            "END_SENSITIVITY_HIGH",
            "END_SENSITIVITY_LOW"
          ]
        },
        "prefixPaddingMs": {
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SpeechToTextConfigGeminiAsrConfig"
    },
    "GoogleCloudDialogflowV2beta1AnswerRecord": {
      "id": "GoogleCloudDialogflowV2beta1AnswerRecord",
      "type": "object",
      "properties": {
        "answerFeedback": {
          "$ref": "GoogleCloudDialogflowV2beta1AnswerFeedback"
        },
        "agentAssistantRecord": {
          "$ref": "GoogleCloudDialogflowV2beta1AgentAssistantRecord"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses",
      "properties": {
        "simpleResponses": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow": {
      "properties": {
        "dividerAfter": {
          "type": "boolean"
        },
        "cells": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageTableCardCell"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IntentMessageTableCardRow",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsConversationDetail": {
      "id": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsConversationDetail",
      "type": "object",
      "properties": {
        "sectionTokens": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsSectionToken"
          }
        },
        "messageEntries": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1MessageEntry"
          }
        },
        "metricDetails": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsConversationDetailMetricDetail"
          },
          "readOnly": true,
          "type": "array"
        },
        "summarySections": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection"
          },
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ListConversationProfilesResponse": {
      "id": "GoogleCloudDialogflowV2beta1ListConversationProfilesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string"
        },
        "conversationProfiles": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1ConversationProfile"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3ToolCallResult": {
      "id": "GoogleCloudDialogflowCxV3ToolCallResult",
      "type": "object",
      "properties": {
        "action": {
          "type": "string"
        },
        "outputParameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "error": {
          "$ref": "GoogleCloudDialogflowCxV3ToolCallResultError"
        },
        "tool": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1CreateMessageRequest": {
      "properties": {
        "parent": {
          "type": "string"
        },
        "message": {
          "$ref": "GoogleCloudDialogflowV2beta1Message"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1CreateMessageRequest",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SipHostnameHostnameErrorDetails": {
      "properties": {
        "errorMessage": {
          "readOnly": true,
          "type": "string"
        },
        "certificateState": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "HOSTNAME_CERTIFICATE_STATE_UNSPECIFIED",
            "VALID",
            "INVALID",
            "EXPIRED",
            "HOSTNAME_NOT_FOUND",
            "UNAUTHENTICATED",
            "TRUST_STORE_NOT_FOUND",
            "HOSTNAME_INVALID_FORMAT",
            "QUOTA_EXCEEDED"
          ],
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SipHostnameHostnameErrorDetails"
    },
    "GoogleCloudDialogflowV2IntentMessageListSelectItem": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageListSelectItem",
      "properties": {
        "info": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageSelectItemInfo"
        },
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "image": {
          "$ref": "GoogleCloudDialogflowV2IntentMessageImage"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1SessionInfo": {
      "id": "GoogleCloudDialogflowCxV3beta1SessionInfo",
      "properties": {
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "session": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3Page": {
      "properties": {
        "transitionRouteGroups": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "eventHandlers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3EventHandler"
          }
        },
        "description": {
          "type": "string"
        },
        "knowledgeConnectorSettings": {
          "$ref": "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings"
        },
        "form": {
          "$ref": "GoogleCloudDialogflowCxV3Form"
        },
        "entryFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "transitionRoutes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3TransitionRoute"
          }
        },
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "advancedSettings": {
          "$ref": "GoogleCloudDialogflowCxV3AdvancedSettings"
        }
      },
      "id": "GoogleCloudDialogflowCxV3Page",
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuerySearchContext": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuerySearchContext",
      "properties": {
        "value": {
          "type": "string"
        },
        "key": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1FreeFormContext": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1FreeFormContext",
      "properties": {
        "text": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsCompletenessRubric": {
      "id": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsCompletenessRubric",
      "type": "object",
      "properties": {
        "question": {
          "type": "string",
          "readOnly": true
        },
        "isAddressed": {
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDialogflowCxV3PageInfoFormInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3PageInfoFormInfo",
      "properties": {
        "parameterInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo"
          }
        }
      }
    },
    "GoogleCloudLocationLocation": {
      "id": "GoogleCloudLocationLocation",
      "properties": {
        "displayName": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "locationId": {
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo": {
      "properties": {
        "value": {
          "type": "any"
        },
        "state": {
          "type": "string",
          "enum": [
            "PARAMETER_STATE_UNSPECIFIED",
            "EMPTY",
            "INVALID",
            "FILLED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "justCollected": {
          "type": "boolean"
        },
        "required": {
          "type": "boolean"
        },
        "displayName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3PageInfoFormInfoParameterInfo",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SuggestArticlesRequest": {
      "id": "GoogleCloudDialogflowV2beta1SuggestArticlesRequest",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "assistQueryParams": {
          "$ref": "GoogleCloudDialogflowV2beta1AssistQueryParameters"
        },
        "contextSize": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2SuggestSmartRepliesResponse": {
      "type": "object",
      "properties": {
        "contextSize": {
          "type": "integer",
          "format": "int32"
        },
        "latestMessage": {
          "type": "string"
        },
        "smartReplyAnswers": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2SmartReplyAnswer"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2SuggestSmartRepliesResponse"
    },
    "GoogleCloudDialogflowV2beta1Document": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "latestReloadStatus": {
          "readOnly": true,
          "$ref": "GoogleCloudDialogflowV2beta1DocumentReloadStatus"
        },
        "name": {
          "type": "string"
        },
        "contentUri": {
          "type": "string"
        },
        "rawContent": {
          "type": "string",
          "format": "byte"
        },
        "knowledgeTypes": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "KNOWLEDGE_TYPE_UNSPECIFIED",
              "FAQ",
              "EXTRACTIVE_QA",
              "ARTICLE_SUGGESTION",
              "AGENT_FACING_SMART_REPLY",
              "SMART_REPLY"
            ]
          },
          "type": "array"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "RELOADING",
            "DELETING"
          ]
        },
        "enableAutoReload": {
          "type": "boolean"
        },
        "content": {
          "deprecated": true,
          "type": "string"
        },
        "mimeType": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1Document"
    },
    "GoogleCloudDialogflowV2CreateConversationModelOperationMetadata": {
      "type": "object",
      "properties": {
        "conversationModel": {
          "type": "string"
        },
        "doneTime": {
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "CANCELLING",
            "TRAINING"
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2CreateConversationModelOperationMetadata"
    },
    "GoogleCloudDialogflowCxV3ResponseMessageText": {
      "id": "GoogleCloudDialogflowCxV3ResponseMessageText",
      "properties": {
        "text": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "allowPlaybackInterruption": {
          "type": "boolean",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswer": {
      "id": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswer",
      "type": "object",
      "properties": {
        "answerText": {
          "type": "string"
        },
        "generativeSource": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        },
        "eventSource": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerEventSource"
        },
        "faqSource": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerFaqSource"
        },
        "playbookSource": {
          "$ref": "GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1CompileSuggestionResponse": {
      "deprecated": true,
      "id": "GoogleCloudDialogflowV2beta1CompileSuggestionResponse",
      "properties": {
        "suggestion": {
          "$ref": "GoogleCloudDialogflowV2beta1Suggestion"
        },
        "contextSize": {
          "format": "int32",
          "type": "integer"
        },
        "latestMessage": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2IntentMessageText": {
      "properties": {
        "text": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDialogflowV2IntentMessageText",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse": {
      "type": "object",
      "properties": {
        "latestMessage": {
          "type": "string"
        },
        "smartReplyAnswers": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SmartReplyAnswer"
          },
          "type": "array"
        },
        "contextSize": {
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageMediaContent": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1IntentMessageMediaContent",
      "properties": {
        "mediaType": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "RESPONSE_MEDIA_TYPE_UNSPECIFIED",
            "AUDIO"
          ]
        },
        "mediaObjects": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObject"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDialogflowCxV3beta1DataStoreConnection": {
      "properties": {
        "dataStore": {
          "type": "string"
        },
        "documentProcessingMode": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "DOCUMENT_PROCESSING_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ],
          "type": "string"
        },
        "dataStoreType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "DATA_STORE_TYPE_UNSPECIFIED",
            "PUBLIC_WEB",
            "UNSTRUCTURED",
            "STRUCTURED"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1DataStoreConnection",
      "type": "object"
    },
    "GoogleCloudDialogflowCxV3beta1ToolCallResult": {
      "properties": {
        "error": {
          "$ref": "GoogleCloudDialogflowCxV3beta1ToolCallResultError"
        },
        "action": {
          "type": "string"
        },
        "outputParameters": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "tool": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowCxV3beta1ToolCallResult",
      "type": "object"
    },
    "GoogleCloudDialogflowV2QueryResult": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2QueryResult",
      "properties": {
        "action": {
          "type": "string"
        },
        "intent": {
          "$ref": "GoogleCloudDialogflowV2Intent"
        },
        "webhookPayload": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "diagnosticInfo": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "speechRecognitionConfidence": {
          "format": "float",
          "type": "number"
        },
        "webhookSource": {
          "type": "string"
        },
        "sentimentAnalysisResult": {
          "$ref": "GoogleCloudDialogflowV2SentimentAnalysisResult"
        },
        "fulfillmentText": {
          "type": "string"
        },
        "fulfillmentMessages": {
          "items": {
            "$ref": "GoogleCloudDialogflowV2IntentMessage"
          },
          "type": "array"
        },
        "outputContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2Context"
          }
        },
        "allRequiredParamsPresent": {
          "type": "boolean"
        },
        "intentDetectionConfidence": {
          "format": "float",
          "type": "number"
        },
        "queryText": {
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "cancelsSlotFilling": {
          "type": "boolean"
        },
        "parameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ToolAuthenticationBearerTokenConfig": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1ToolAuthenticationBearerTokenConfig",
      "properties": {
        "secretVersionForToken": {
          "type": "string"
        },
        "token": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction",
      "properties": {
        "url": {
          "type": "string"
        },
        "urlTypeHint": {
          "enum": [
            "URL_TYPE_HINT_UNSPECIFIED",
            "AMP_ACTION",
            "AMP_CONTENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      }
    },
    "GoogleCloudDialogflowV2InputDataset": {
      "type": "object",
      "properties": {
        "dataset": {
          "type": "string"
        }
      },
      "id": "GoogleCloudDialogflowV2InputDataset"
    },
    "GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard": {
      "id": "GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard",
      "properties": {
        "thumbnailImageAlignment": {
          "enum": [
            "THUMBNAIL_IMAGE_ALIGNMENT_UNSPECIFIED",
            "LEFT",
            "RIGHT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "cardOrientation": {
          "enum": [
            "CARD_ORIENTATION_UNSPECIFIED",
            "HORIZONTAL",
            "VERTICAL"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "cardContent": {
          "$ref": "GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent"
        }
      },
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SearchAgentsResponse": {
      "id": "GoogleCloudDialogflowV2beta1SearchAgentsResponse",
      "type": "object",
      "properties": {
        "agents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1Agent"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SentimentAnalysisResult": {
      "properties": {
        "queryTextSentiment": {
          "$ref": "GoogleCloudDialogflowV2beta1Sentiment"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1SentimentAnalysisResult",
      "type": "object"
    },
    "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsConversationDetailMetricDetail": {
      "properties": {
        "score": {
          "format": "float",
          "type": "number",
          "readOnly": true
        },
        "sectionDetails": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsConversationDetailMetricDetailSectionDetail"
          },
          "type": "array"
        },
        "metric": {
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsConversationDetailMetricDetail"
    },
    "GoogleCloudDialogflowV2beta1IntentInput": {
      "id": "GoogleCloudDialogflowV2beta1IntentInput",
      "type": "object",
      "properties": {
        "languageCode": {
          "type": "string"
        },
        "intent": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1SuggestionFeature": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ARTICLE_SUGGESTION",
            "FAQ",
            "SMART_REPLY",
            "DIALOGFLOW_ASSIST",
            "CONVERSATION_SUMMARIZATION",
            "KNOWLEDGE_SEARCH",
            "KNOWLEDGE_ASSIST"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowV2beta1SuggestionFeature"
    },
    "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings": {
      "properties": {
        "dataStoreConnections": {
          "items": {
            "$ref": "GoogleCloudDialogflowCxV3DataStoreConnection"
          },
          "type": "array"
        },
        "enabled": {
          "type": "boolean"
        },
        "triggerFulfillment": {
          "$ref": "GoogleCloudDialogflowCxV3Fulfillment"
        },
        "targetFlow": {
          "type": "string"
        },
        "targetPage": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDialogflowCxV3KnowledgeConnectorSettings"
    },
    "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfo": {
      "type": "object",
      "properties": {
        "ingestedParametersDebugInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfoIngestedParameterDebugInfo"
          }
        },
        "projectNotAllowlisted": {
          "type": "boolean"
        },
        "contextReferenceRetrieved": {
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfo"
    },
    "GoogleCloudDialogflowCxV3beta1WebhookRequestSentimentAnalysisResult": {
      "id": "GoogleCloudDialogflowCxV3beta1WebhookRequestSentimentAnalysisResult",
      "type": "object",
      "properties": {
        "score": {
          "format": "float",
          "type": "number"
        },
        "magnitude": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDialogflowV2beta1ConversationProfile": {
      "properties": {
        "displayName": {
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "languageCode": {
          "type": "string"
        },
        "ttsConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1SynthesizeSpeechConfig"
        },
        "loggingConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1LoggingConfig"
        },
        "newMessageEventNotificationConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1NotificationConfig"
        },
        "humanAgentAssistantConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1HumanAgentAssistantConfig"
        },
        "name": {
          "type": "string"
        },
        "notificationConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1NotificationConfig"
        },
        "humanAgentHandoffConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1HumanAgentHandoffConfig"
        },
        "useBidiStreaming": {
          "type": "boolean"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "sipConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1SipConfig"
        },
        "securitySettings": {
          "type": "string"
        },
        "timeZone": {
          "type": "string"
        },
        "newRecognitionResultNotificationConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1NotificationConfig"
        },
        "sttConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1SpeechToTextConfig"
        },
        "automatedAgentConfig": {
          "$ref": "GoogleCloudDialogflowV2beta1AutomatedAgentConfig"
        }
      },
      "id": "GoogleCloudDialogflowV2beta1ConversationProfile",
      "type": "object"
    },
    "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoQueryGenerationDebugInfo": {
      "type": "object",
      "id": "GoogleCloudDialogflowV2KnowledgeAssistDebugInfoQueryGenerationDebugInfo",
      "properties": {
        "candidatesTokenCount": {
          "format": "int32",
          "type": "integer"
        },
        "thinkingLevel": {
          "type": "string"
        },
        "thinkingBudgetTokens": {
          "format": "int32",
          "type": "integer"
        },
        "similarityToLastQuery": {
          "format": "float",
          "type": "number"
        },
        "promptTokenCount": {
          "type": "integer",
          "format": "int32"
        },
        "totalTokenCount": {
          "type": "integer",
          "format": "int32"
        },
        "similarityToLastQueryThreshold": {
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo": {
      "id": "GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo",
      "properties": {
        "parameter": {
          "type": "string"
        },
        "ingestionStatus": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
[...]
