{
  "discoveryVersion": "v1",
  "basePath": "",
  "rootUrl": "https://discoveryengine.googleapis.com/",
  "version_module": true,
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/generative-ai-app-builder/docs/",
  "canonicalName": "Discovery Engine",
  "baseUrl": "https://discoveryengine.googleapis.com/",
  "mtlsRootUrl": "https://discoveryengine.mtls.googleapis.com/",
  "schemas": {
    "GoogleCloudDiscoveryengineV1betaSearchRequestSpellCorrectionSpec": {
      "type": "object",
      "properties": {
        "mode": {
          "description": "The mode under which spell correction replaces the original search query. Defaults to Mode.AUTO.",
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "SUGGESTION_ONLY",
            "AUTO"
          ],
          "enumDescriptions": [
            "Unspecified spell correction mode. In this case, server behavior defaults to Mode.AUTO.",
            "Search API tries to find a spelling suggestion. If a suggestion is found, it is put in the SearchResponse.corrected_query. The spelling suggestion won't be used as the search query.",
            "Automatic spell correction built by the Search API. Search will be based on the corrected query if found."
          ]
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestSpellCorrectionSpec",
      "description": "The specification for query spell correction."
    },
    "GoogleCloudDiscoveryengineV1Control": {
      "type": "object",
      "properties": {
        "filterAction": {
          "description": "Defines a filter-type control Currently not supported by Recommendation",
          "$ref": "GoogleCloudDiscoveryengineV1ControlFilterAction"
        },
        "redirectAction": {
          "description": "Defines a redirect-type control.",
          "$ref": "GoogleCloudDiscoveryengineV1ControlRedirectAction"
        },
        "synonymsAction": {
          "description": "Treats a group of terms as synonyms of one another.",
          "$ref": "GoogleCloudDiscoveryengineV1ControlSynonymsAction"
        },
        "name": {
          "description": "Immutable. Fully qualified name `projects/*/locations/global/dataStore/*/controls/*`",
          "type": "string"
        },
        "useCases": {
          "description": "Specifies the use case for the control. Affects what condition fields can be set. Only applies to SOLUTION_TYPE_SEARCH. Currently only allow one use case per control. Must be set when solution_type is SolutionType.SOLUTION_TYPE_SEARCH.",
          "items": {
            "enumDescriptions": [
              "Value used when unset. Will not occur in CSS.",
              "Search use case. Expects the traffic has a non-empty query.",
              "Browse use case. Expects the traffic has an empty query."
            ],
            "type": "string",
            "enum": [
              "SEARCH_USE_CASE_UNSPECIFIED",
              "SEARCH_USE_CASE_SEARCH",
              "SEARCH_USE_CASE_BROWSE"
            ]
          },
          "type": "array"
        },
        "associatedServingConfigIds": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of all ServingConfig IDs this control is attached to. May take up to 10 minutes to update after changes.",
          "items": {
            "type": "string"
          }
        },
        "conditions": {
          "type": "array",
          "description": "Determines when the associated action will trigger. Omit to always apply the action. Currently only a single condition may be specified. Otherwise an INVALID ARGUMENT error is thrown.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1Condition"
          }
        },
        "boostAction": {
          "description": "Defines a boost-type control",
          "$ref": "GoogleCloudDiscoveryengineV1ControlBoostAction"
        },
        "solutionType": {
          "description": "Required. Immutable. What solution the control belongs to. Must be compatible with vertical of resource. Otherwise an INVALID ARGUMENT error is thrown.",
          "enumDescriptions": [
            "Default value.",
            "Used for Recommendations AI.",
            "Used for Discovery Search.",
            "Used for use cases related to the Generative AI agent.",
            "Used for use cases related to the Generative Chat agent. It's used for Generative chat engine only, the associated data stores must enrolled with `SOLUTION_TYPE_CHAT` solution.",
            "Used for AI Mode."
          ],
          "type": "string",
          "enum": [
            "SOLUTION_TYPE_UNSPECIFIED",
            "SOLUTION_TYPE_RECOMMENDATION",
            "SOLUTION_TYPE_SEARCH",
            "SOLUTION_TYPE_CHAT",
            "SOLUTION_TYPE_GENERATIVE_CHAT",
            "SOLUTION_TYPE_AI_MODE"
          ]
        },
        "displayName": {
          "description": "Required. Human readable name. The identifier used in UI views. Must be UTF-8 encoded string. Length limit is 128 characters. Otherwise an INVALID ARGUMENT error is thrown.",
          "type": "string"
        },
        "promoteAction": {
          "description": "Promote certain links based on predefined trigger queries.",
          "$ref": "GoogleCloudDiscoveryengineV1ControlPromoteAction"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1Control",
      "description": "Defines a conditioned behavior to employ during serving. Must be attached to a ServingConfig to be considered at serving time. Permitted actions dependent on `SolutionType`."
    },
    "GoogleCloudDiscoveryengineV1alphaIdentityScheduleConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaIdentityScheduleConfig",
      "description": "The configuration for the identity data synchronization runs.",
      "type": "object",
      "properties": {
        "refreshInterval": {
          "description": "Optional. The refresh interval to sync the Access Control List information for the documents ingested by this connector. If not set, the access control list will be refreshed at the default interval of 30 minutes. The identity refresh interval can be at least 30 minutes and at most 7 days.",
          "type": "string",
          "format": "google-duration"
        },
        "nextSyncTime": {
          "description": "Optional. The UTC time when the next data sync is expected to start for the Data Connector. Customers are only able to specify the hour and minute to schedule the data sync. This is utilized when the data connector has a refresh interval greater than 1 day.",
          "$ref": "GoogleTypeDateTime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaImportSampleQueriesResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaImportSampleQueriesResponse",
      "description": "Response of the SampleQueryService.ImportSampleQueries method. If the long running operation is done, this message is returned by the google.longrunning.Operations.response field if the operation is successful.",
      "type": "object",
      "properties": {
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "errorConfig": {
          "description": "The desired location of errors incurred during the Import.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaImportErrorConfig"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaResumeExperimentMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The time the operation was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaResumeExperimentMetadata",
      "description": "Metadata for AlphaEvolveService.ResumeExperiment long running operation."
    },
    "GoogleCloudDiscoveryengineV1ControlPromoteAction": {
      "type": "object",
      "properties": {
        "searchLinkPromotion": {
          "description": "Required. Promotion attached to this action.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchLinkPromotion"
        },
        "dataStore": {
          "description": "Required. Data store with which this promotion is attached to.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1ControlPromoteAction",
      "description": "Promote certain links based on some trigger queries. Example: Promote shoe store link when searching for `shoe` keyword. The link can be outside of associated data store."
    },
    "GoogleCloudDiscoveryengineV1alphaImportDocumentsMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaImportDocumentsMetadata",
      "description": "Metadata related to the progress of the ImportDocuments operation. This is returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        },
        "failureCount": {
          "description": "Count of entries that encountered errors while processing.",
          "format": "int64",
          "type": "string"
        },
        "totalCount": {
          "description": "Total count of entries that were processed.",
          "format": "int64",
          "type": "string"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        },
        "successCount": {
          "description": "Count of entries that were processed successfully.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaImportCompletionSuggestionsResponse": {
      "type": "object",
      "properties": {
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "errorConfig": {
          "description": "The desired location of errors incurred during the Import.",
          "$ref": "GoogleCloudDiscoveryengineV1betaImportErrorConfig"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaImportCompletionSuggestionsResponse",
      "description": "Response of the CompletionService.ImportCompletionSuggestions method. If the long running operation is done, this message is returned by the google.longrunning.Operations.response field if the operation is successful."
    },
    "GoogleCloudDiscoveryengineV1betaCompleteQueryResponseQuerySuggestion": {
      "id": "GoogleCloudDiscoveryengineV1betaCompleteQueryResponseQuerySuggestion",
      "description": "Suggestions as search queries.",
      "type": "object",
      "properties": {
        "suggestion": {
          "description": "The suggestion for the query.",
          "type": "string"
        },
        "completableFieldPaths": {
          "description": "The unique document field paths that serve as the source of this suggestion if it was generated from completable fields. This field is only populated for the document-completable model.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaProjectConfigurableBillingStatus": {
      "type": "object",
      "properties": {
        "agentSearchTokenSubscriptionStatuses": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Per-model Agent Search TPM subscription status.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaProjectConfigurableBillingStatusAgentSearchTokenSubscriptionStatus"
          }
        },
        "terminateTime": {
          "description": "Output only. The latest terminate effective time of search qpm and indexing core subscriptions.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "searchQpmThresholdNextUpdateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The earliest next update time for the search QPM subscription threshold. This is based on the next_update_time returned by the underlying Cloud Billing Subscription V3 API. This field is populated only if an update QPM subscription threshold request is succeeded."
        },
        "effectiveIndexingCoreThreshold": {
          "description": "Optional. The currently effective Indexing Core threshold. This is the threshold against which Indexing Core usage is compared for overage calculations.",
          "type": "string",
          "format": "int64"
        },
        "effectiveSearchQpmThreshold": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The currently effective Search QPM threshold in queries per minute. This is the threshold against which QPM usage is compared for overage calculations."
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. The start time of the currently active billing subscription."
        },
        "indexingCoreThresholdNextUpdateTime": {
          "description": "Output only. The earliest next update time for the indexing core subscription threshold. This is based on the next_update_time returned by the underlying Cloud Billing Subscription V3 API. This field is populated only if an update indexing core subscription threshold request is succeeded.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateType": {
          "readOnly": true,
          "enum": [
            "UPDATE_TYPE_UNSPECIFIED",
            "CREATE",
            "DELETE",
            "SCALE_UP",
            "SCALE_DOWN"
          ],
          "description": "Output only. The type of update performed in this operation. This field is populated in the response of UpdateProject.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified update type.",
            "Configurable billing was created/enabled.",
            "Configurable billing was deleted/disabled.",
            "Subscription was scaled up (thresholds increased).",
            "Subscription was scaled down (thresholds decreased)."
          ]
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaProjectConfigurableBillingStatus",
      "description": "Represents the currently effective configurable billing parameters. These values are derived from the customer's subscription history stored internally and reflect the thresholds actively being used for billing purposes at the time of the GetProject call. This includes the start_time of the subscription and may differ from the values in `customer_provided_config` due to billing rules (e.g., scale-downs taking effect only at the start of a new month). We also include the update type to indicate the type of update performed on the configurable billing configuration in the UpdateProject operation."
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSummarySpecMultiModalSpec": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSummarySpecMultiModalSpec",
      "description": "Multimodal specification: Will return an image from specified source. If multiple sources are specified, the pick is a quality based decision.",
      "type": "object",
      "properties": {
        "imageSource": {
          "description": "Optional. Source of image returned in the answer.",
          "type": "string",
          "enum": [
            "IMAGE_SOURCE_UNSPECIFIED",
            "ALL_AVAILABLE_SOURCES",
            "CORPUS_IMAGE_ONLY",
            "FIGURE_GENERATION_ONLY"
          ],
          "enumDescriptions": [
            "Unspecified image source (multimodal feature is disabled by default).",
            "Behavior when service determines the pick from all available sources.",
            "Includes image from corpus in the answer.",
            "Triggers figure generation in the answer."
          ]
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaUpdateCollectionMetadata": {
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaUpdateCollectionMetadata",
      "description": "Metadata related to the progress of the CollectionService.UpdateCollection operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1betaChunkAnnotationMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaChunkAnnotationMetadata",
      "description": "The annotation metadata includes structured content in the current chunk.",
      "type": "object",
      "properties": {
        "structuredContent": {
          "description": "Output only. The structured content information.",
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1betaChunkStructuredContent"
        },
        "imageId": {
          "description": "Output only. Image id is provided if the structured content is based on an image.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1AgentGatewaySetting": {
      "type": "object",
      "properties": {
        "defaultEgressAgentGateway": {
          "description": "Optional. The default egress agent gateway to use, when this setting is applied to a Gemini Enterprise resource. The deployment mode must be GOOGLE_MANAGED, and the governed access path must be AGENT_TO_ANYWHERE.",
          "$ref": "GoogleCloudDiscoveryengineV1AgentGatewaySettingAgentGatewayReference"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AgentGatewaySetting",
      "description": "Agent Gateway setting, which may be attached to Gemini Enterprise resources for egress control of Gemini Enterprise agents to agents and tools outside of Gemini Enterprise."
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestAnswerGenerationSpecPromptSpec": {
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestAnswerGenerationSpecPromptSpec",
      "description": "Answer generation prompt specification.",
      "type": "object",
      "properties": {
        "preamble": {
          "description": "Customized preamble.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAlphaEvolveProgramEvaluation": {
      "type": "object",
      "properties": {
        "scores": {
          "description": "Optional. Contains the evaluation scores for the target metrics to optimize.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveEvaluationScores"
        },
        "insights": {
          "description": "Optional. Represents various insights about the candidate, which are not directly used as optimization target, but that can be used to improve subsequent generations, and as such can be used to construct the evolution prompt.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveEvaluationInsights"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveProgramEvaluation",
      "description": "Evaluation results for a program candidate."
    },
    "GoogleCloudDiscoveryengineV1betaUpdateSchemaMetadata": {
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaUpdateSchemaMetadata",
      "description": "Metadata for UpdateSchema LRO."
    },
    "GoogleCloudDiscoveryengineV1betaDataStoreServingConfigDataStore": {
      "id": "GoogleCloudDiscoveryengineV1betaDataStoreServingConfigDataStore",
      "description": "Stores information regarding the serving configurations at DataStore level.",
      "type": "object",
      "properties": {
        "disabledForServing": {
          "description": "Optional. If set true, the DataStore will not be available for serving search requests.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaResumeEngineRequest": {
      "id": "GoogleCloudDiscoveryengineV1betaResumeEngineRequest",
      "description": "Request for resuming training of an engine.",
      "type": "object",
      "properties": {}
    },
    "GoogleLongrunningCancelOperationRequest": {
      "type": "object",
      "properties": {},
      "id": "GoogleLongrunningCancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestQueryExpansionSpec": {
      "type": "object",
      "properties": {
        "condition": {
          "description": "The condition under which query expansion should occur. Default to Condition.DISABLED.",
          "enumDescriptions": [
            "Unspecified query expansion condition. In this case, server behavior defaults to Condition.DISABLED.",
            "Disabled query expansion. Only the exact search query is used, even if SearchResponse.total_size is zero.",
            "Automatic query expansion built by the Search API."
          ],
          "type": "string",
          "enum": [
            "CONDITION_UNSPECIFIED",
            "DISABLED",
            "AUTO"
          ]
        },
        "pinUnexpandedResults": {
          "description": "Whether to pin unexpanded results. If this field is set to true, unexpanded products are always at the top of the search results, followed by the expanded results.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestQueryExpansionSpec",
      "description": "Specification to determine under which conditions query expansion should occur."
    },
    "GoogleCloudDiscoveryengineV1alphaUpdateSessionRequest": {
      "type": "object",
      "properties": {
        "session": {
          "description": "Required. The Session to update.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSession"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Indicates which fields in the provided Session to update. The following are NOT supported: * Session.name If not set or empty, all supported fields are updated."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaUpdateSessionRequest",
      "description": "Request for UpdateSession method."
    },
    "GoogleCloudDiscoveryengineV1betaPurgeSuggestionDenyListEntriesRequest": {
      "id": "GoogleCloudDiscoveryengineV1betaPurgeSuggestionDenyListEntriesRequest",
      "description": "Request message for CompletionService.PurgeSuggestionDenyListEntries method.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryUnderstandingInfoQueryClassificationInfo": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ADVERSARIAL_QUERY",
            "NON_ANSWER_SEEKING_QUERY",
            "JAIL_BREAKING_QUERY",
            "NON_ANSWER_SEEKING_QUERY_V2",
            "USER_DEFINED_CLASSIFICATION_QUERY"
          ],
          "enumDescriptions": [
            "Unspecified query classification type.",
            "Adversarial query classification type.",
            "Non-answer-seeking query classification type, for chit chat.",
            "Jail-breaking query classification type.",
            "Non-answer-seeking query classification type, for no clear intent.",
            "User defined query classification type."
          ],
          "description": "Query classification type."
        },
        "positive": {
          "description": "Classification output.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryUnderstandingInfoQueryClassificationInfo",
      "description": "Query classification information."
    },
    "GoogleCloudDiscoveryengineV1alphaRemoveDedicatedCrawlRateResponse": {
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified.",
            "The state is successful.",
            "The state is failed."
          ],
          "description": "Output only. The state of the response.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "error": {
          "description": "Errors from service when handling the request.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaRemoveDedicatedCrawlRateResponse",
      "description": "Response message for CrawlRateManagementService.RemoveDedicatedCrawlRate method. It simply returns the state of the response, and an error message if the state is FAILED."
    },
    "GoogleCloudDiscoveryengineV1alphaControlSynonymsAction": {
      "type": "object",
      "properties": {
        "synonyms": {
          "type": "array",
          "description": "Defines a set of synonyms. Can specify up to 100 synonyms. Must specify at least 2 synonyms. Otherwise an INVALID ARGUMENT error is thrown.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaControlSynonymsAction",
      "description": "Creates a set of terms that will act as synonyms of one another. Example: \"happy\" will also be considered as \"glad\", \"glad\" will also be considered as \"happy\"."
    },
    "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfigOcrParsingConfig": {
      "type": "object",
      "properties": {
        "enhancedDocumentElements": {
          "description": "[DEPRECATED] This field is deprecated. To use the additional enhanced document elements processing, please switch to `layout_parsing_config`.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "deprecated": true
        },
        "useNativeText": {
          "description": "If true, will use native text instead of OCR text on pages containing native text.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfigOcrParsingConfig",
      "description": "The OCR parsing configurations for documents."
    },
    "GoogleCloudDiscoveryengineV1TrainCustomModelResponse": {
      "type": "object",
      "properties": {
        "errorSamples": {
          "type": "array",
          "description": "A sample of errors encountered while processing the data.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "modelName": {
          "description": "Fully qualified name of the CustomTuningModel.",
          "type": "string"
        },
        "metrics": {
          "type": "object",
          "additionalProperties": {
            "type": "number",
            "format": "double"
          },
          "description": "The metrics of the trained model."
        },
        "errorConfig": {
          "description": "Echoes the destination for the complete errors in the request if set.",
          "$ref": "GoogleCloudDiscoveryengineV1ImportErrorConfig"
        },
        "modelStatus": {
          "description": "The trained model status. Possible values are: * **bad-data**: The training data quality is bad. * **no-improvement**: Tuning didn't improve performance. Won't deploy. * **in-progress**: Model training job creation is in progress. * **training**: Model is actively training. * **evaluating**: The model is evaluating trained metrics. * **indexing**: The model trained metrics are indexing. * **ready**: The model is ready for serving.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1TrainCustomModelResponse",
      "description": "Response of the TrainCustomModelRequest. This message is returned by the google.longrunning.Operations.response field."
    },
    "GoogleCloudDiscoveryengineV1alphaUpdateTargetSiteMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaUpdateTargetSiteMetadata",
      "description": "Metadata related to the progress of the SiteSearchEngineService.UpdateTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaInterval": {
      "id": "GoogleCloudDiscoveryengineV1betaInterval",
      "description": "A floating point interval.",
      "type": "object",
      "properties": {
        "minimum": {
          "type": "number",
          "format": "double",
          "description": "Inclusive lower bound."
        },
        "exclusiveMaximum": {
          "description": "Exclusive upper bound.",
          "format": "double",
          "type": "number"
        },
        "exclusiveMinimum": {
          "format": "double",
          "type": "number",
          "description": "Exclusive lower bound."
        },
        "maximum": {
          "description": "Inclusive upper bound.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaCrawlRateTimeSeries": {
      "id": "GoogleCloudDiscoveryengineV1betaCrawlRateTimeSeries",
      "description": "The historical crawl rate timeseries data, used for monitoring.",
      "type": "object",
      "properties": {
        "qpsTimeSeries": {
          "description": "The QPS of the crawl rate.",
          "$ref": "GoogleMonitoringV3TimeSeries"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaPurgeIdentityMappingsRequest": {
      "id": "GoogleCloudDiscoveryengineV1betaPurgeIdentityMappingsRequest",
      "description": "Request message for IdentityMappingStoreService.PurgeIdentityMappings",
      "type": "object",
      "properties": {
        "inlineSource": {
          "description": "The inline source to purge identity mapping entries from.",
          "$ref": "GoogleCloudDiscoveryengineV1betaPurgeIdentityMappingsRequestInlineSource"
        },
        "force": {
          "description": "Actually performs the purge. If `force` is set to false, return the expected purge count without deleting any identity mappings. This field is only supported for purge with filter. For input source this field is ignored and data will be purged regardless of the value of this field.",
          "type": "boolean"
        },
        "filter": {
          "description": "Filter matching identity mappings to purge. The eligible field for filtering is: * `update_time`: in ISO 8601 \"zulu\" format. * `external_id` Examples: * Deleting all identity mappings updated in a time range: `update_time > \"2012-04-23T18:25:43.511Z\" AND update_time < \"2012-04-23T18:30:43.511Z\"` * Deleting all identity mappings for a given external_id: `external_id = \"id1\"` * Deleting all identity mappings inside an identity mapping store: `*` The filtering fields are assumed to have an implicit AND. Should not be used with source. An error will be thrown, if both are provided.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAssistantContent": {
      "type": "object",
      "properties": {
        "codeExecutionResult": {
          "description": "Result of executing an ExecutableCode.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantContentCodeExecutionResult"
        },
        "executableCode": {
          "description": "Code generated by the model that is meant to be executed.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantContentExecutableCode"
        },
        "file": {
          "description": "A file, e.g., an audio summary.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantContentFile"
        },
        "role": {
          "description": "The producer of the content. Can be \"model\" or \"user\".",
          "type": "string"
        },
        "inlineData": {
          "description": "Inline binary data.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantContentBlob"
        },
        "text": {
          "description": "Inline text.",
          "type": "string"
        },
        "thought": {
          "description": "Optional. Indicates if the part is thought from the model.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAssistantContent",
      "description": "Multi-modal content."
    },
    "GoogleCloudDiscoveryengineV1alphaDedicatedCrawlRateTimeSeries": {
      "id": "GoogleCloudDiscoveryengineV1alphaDedicatedCrawlRateTimeSeries",
      "description": "The historical dedicated crawl rate timeseries data, used for monitoring. Dedicated crawl is used by Vertex AI to crawl the user's website when dedicate crawl is set.",
      "type": "object",
      "properties": {
        "userTriggeredCrawlRate": {
          "description": "Vertex AI's dedicated crawl rate time series of user triggered crawl, which is the crawl rate of Google-CloudVertexBot when dedicate crawl is set, and user triggered crawl rate is for deterministic use cases like crawling urls or sitemaps specified by users.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries"
        },
        "userTriggeredCrawlErrorRate": {
          "description": "Vertex AI's error rate time series of user triggered dedicated crawl.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries"
        },
        "autoRefreshCrawlRate": {
          "description": "Vertex AI's dedicated crawl rate time series of auto-refresh, which is the crawl rate of Google-CloudVertexBot when dedicate crawl is set, and the crawl rate is for best effort use cases like refreshing urls periodically.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries"
        },
        "autoRefreshCrawlErrorRate": {
          "description": "Vertex AI's error rate time series of auto-refresh dedicated crawl.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestSessionSpec": {
      "type": "object",
      "properties": {
        "searchResultPersistenceCount": {
          "description": "The number of top search results to persist. The persisted search results can be used for the subsequent /answer api call. This field is similar to the `summary_result_count` field in SearchRequest.ContentSearchSpec.SummarySpec.summary_result_count. At most 10 results for documents mode, or 50 for chunks mode.",
          "format": "int32",
          "type": "integer"
        },
        "queryId": {
          "description": "If set, the search result gets stored to the \"turn\" specified by this query ID. Example: Let's say the session looks like this: session { name: \".../sessions/xxx\" turns { query { text: \"What is foo?\" query_id: \".../questions/yyy\" } answer: \"Foo is ...\" } turns { query { text: \"How about bar then?\" query_id: \".../questions/zzz\" } } } The user can call /search API with a request like this: session: \".../sessions/xxx\" session_spec { query_id: \".../questions/zzz\" } Then, the API stores the search result, associated with the last turn. The stored search result can be used by a subsequent /answer API call (with the session ID and the query ID specified). Also, it is possible to call /search and /answer in parallel with the same session ID & query ID.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestSessionSpec",
      "description": "Session specification."
    },
    "GoogleCloudDiscoveryengineV1betaAssistantContentCodeExecutionResult": {
      "id": "GoogleCloudDiscoveryengineV1betaAssistantContentCodeExecutionResult",
      "description": "Result of executing ExecutableCode.",
      "type": "object",
      "properties": {
        "outcome": {
          "description": "Required. Outcome of the code execution.",
          "enumDescriptions": [
            "Unspecified status. This value should not be used.",
            "Code execution completed successfully.",
            "Code execution finished but with a failure. `stderr` should contain the reason.",
            "Code execution ran for too long, and was cancelled. There may or may not be a partial output present."
          ],
          "type": "string",
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "OUTCOME_OK",
            "OUTCOME_FAILED",
            "OUTCOME_DEADLINE_EXCEEDED"
          ]
        },
        "output": {
          "description": "Optional. Contains stdout when code execution is successful, stderr or other description otherwise.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1PurgeSuggestionDenyListEntriesMetadata": {
      "id": "GoogleCloudDiscoveryengineV1PurgeSuggestionDenyListEntriesMetadata",
      "description": "Metadata related to the progress of the PurgeSuggestionDenyListEntries operation. This is returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaImportCompletionSuggestionsMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaImportCompletionSuggestionsMetadata",
      "description": "Metadata related to the progress of the ImportCompletionSuggestions operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        },
        "failureCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of CompletionSuggestions that failed to be imported."
        },
        "successCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of CompletionSuggestions successfully imported."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaImportErrorConfig": {
      "id": "GoogleCloudDiscoveryengineV1betaImportErrorConfig",
      "description": "Configuration of destination for Import related errors.",
      "type": "object",
      "properties": {
        "gcsPrefix": {
          "description": "Cloud Storage prefix for import errors. This must be an empty, existing Cloud Storage directory. Import errors are written to sharded files in this directory, one per line, as a JSON-encoded `google.rpc.Status` message.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchParams": {
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchParams",
      "description": "Search parameters.",
      "type": "object",
      "properties": {
        "dataStoreSpecs": {
          "type": "array",
          "description": "Specs defining dataStores to filter on in a search call and configurations for those dataStores. This is only considered for engines with multiple dataStores use case. For single dataStore within an engine, they should use the specs at the top level.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestDataStoreSpec"
          }
        },
        "naturalLanguageQueryUnderstandingSpec": {
          "description": "Optional. Specification to enable natural language understanding capabilities for search requests.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestNaturalLanguageQueryUnderstandingSpec"
        },
        "filter": {
          "description": "The filter syntax consists of an expression language for constructing a predicate from one or more fields of the documents being filtered. Filter expression is case-sensitive. This will be used to filter search results which may affect the Answer response. If this field is unrecognizable, an `INVALID_ARGUMENT` is returned. Filtering in Vertex AI Search is done by mapping the LHS filter key to a key property defined in the Vertex AI Search backend -- this mapping is defined by the customer in their schema. For example a media customers might have a field 'name' in their schema. In this case the filter would look like this: filter --> name:'ANY(\"king kong\")' For more information about filtering including syntax and filter operators, see [Filter](https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata)",
          "type": "string"
        },
        "maxReturnResults": {
          "description": "Number of search results to return. The default value is 10.",
          "type": "integer",
          "format": "int32"
        },
        "searchResultMode": {
          "description": "Specifies the search result mode. If unspecified, the search result mode defaults to `DOCUMENTS`. See [parse and chunk documents](https://cloud.google.com/generative-ai-app-builder/docs/parse-chunk-documents)",
          "type": "string",
          "enum": [
            "SEARCH_RESULT_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ],
          "enumDescriptions": [
            "Default value.",
            "Returns documents in the search result.",
            "Returns chunks in the search result. Only available if the DocumentProcessingConfig.chunking_config is specified."
          ]
        },
        "boostSpec": {
          "description": "Boost specification to boost certain documents in search results which may affect the answer query response. For more information on boosting, see [Boosting](https://cloud.google.com/retail/docs/boosting#boost)",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpec"
        },
        "orderBy": {
          "description": "The order in which documents are returned. Documents can be ordered by a field in an Document object. Leave it unset if ordered by relevance. `order_by` expression is case-sensitive. For more information on ordering, see [Ordering](https://cloud.google.com/retail/docs/filter-and-order#order) If this field is unrecognizable, an `INVALID_ARGUMENT` is returned.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAlertPolicyConfigAlertEnrollment": {
      "id": "GoogleCloudDiscoveryengineV1alphaAlertPolicyConfigAlertEnrollment",
      "description": "The alert enrollment status.",
      "type": "object",
      "properties": {
        "alertId": {
          "description": "Immutable. The id of an alert.",
          "type": "string"
        },
        "enrollState": {
          "description": "Required. The enrollment status of a customer.",
          "type": "string",
          "enum": [
            "ENROLL_STATES_UNSPECIFIED",
            "ENROLLED",
            "DECLINED"
          ],
          "enumDescriptions": [
            "Default value. Used for customers who have not responded to the alert policy.",
            "Customer is enrolled in this policy.",
            "Customer declined this policy."
          ]
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAssistantToolList": {
      "id": "GoogleCloudDiscoveryengineV1betaAssistantToolList",
      "description": "The enabled tools on a connector",
      "type": "object",
      "properties": {
        "toolInfo": {
          "type": "array",
          "description": "The list of tools with corresponding tool information.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAssistantToolInfo"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaUserInfo": {
      "type": "object",
      "properties": {
        "preciseLocation": {
          "description": "Optional. Input only. Precise location of the user. It is used in Custom Ranking to calculate the distance between the user and the relevant documents.",
          "$ref": "GoogleCloudDiscoveryengineV1betaUserInfoPreciseLocation"
        },
        "userId": {
          "description": "Highly recommended for logged-in users. Unique identifier for logged-in user, such as a user name. Don't set for anonymous users. Always use a hashed value for this ID. Don't set the field to the same fixed ID for different users. This mixes the event history of those users together, which results in degraded model quality. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an `INVALID_ARGUMENT` error is returned. Represents an opaque ID to the Search API. The Search API doesn't interpret the value in any way. This field is used to associate events with a user across sessions if the events are being uploaded.",
          "type": "string"
        },
        "userAgent": {
          "description": "User agent as included in the HTTP header. The field must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an `INVALID_ARGUMENT` error is returned. This should not be set when using the client side event reporting with GTM or JavaScript tag in UserEventService.CollectUserEvent or if UserEvent.direct_user_request is set.",
          "type": "string"
        },
        "timeZone": {
          "description": "Optional. IANA time zone, e.g. Europe/Budapest.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaUserInfo",
      "description": "Information of an end user."
    },
    "GoogleCloudDiscoveryengineV1betaUserEvent": {
      "type": "object",
      "properties": {
        "completionInfo": {
          "description": "CompletionService.CompleteQuery details related to the event. This field should be set for `search` event when autocomplete function is enabled and the user clicks a suggestion for search.",
          "$ref": "GoogleCloudDiscoveryengineV1betaCompletionInfo"
        },
        "sessionId": {
          "description": "A unique identifier for tracking a visitor session with a length limit of 128 bytes. A session is an aggregation of an end user behavior in a time span. A general guideline to populate the session_id: 1. If user has no activity for 30 min, a new session_id should be assigned. 2. The session_id should be unique across users, suggest use uuid or add UserEvent.user_pseudo_id as prefix.",
          "type": "string"
        },
        "eventType": {
          "description": "Required. User event type. Allowed values are: Generic values: * `search`: Search for Documents. * `view-item`: Detailed page view of a Document. * `view-item-list`: View of a panel or ordered list of Documents. * `view-home-page`: View of the home page. * `view-category-page`: View of a category page, e.g. Home > Men > Jeans Retail-related values: * `add-to-cart`: Add an item(s) to cart, e.g. in Retail online shopping * `purchase`: Purchase an item(s) Media-related values: * `media-play`: Start/resume watching a video, playing a song, etc. * `media-complete`: Finished or stopped midway through a video, song, etc. Custom conversion value: * `conversion`: Customer defined conversion event.",
          "type": "string"
        },
        "panel": {
          "description": "Panel metadata associated with this user event.",
          "$ref": "GoogleCloudDiscoveryengineV1betaPanelInfo"
        },
        "searchInfo": {
          "description": "SearchService.Search details related to the event. This field should be set for `search` event.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchInfo"
        },
        "feedback": {
          "description": "Optional. This field is optional except for the `add-feedback` event types.",
          "$ref": "GoogleCloudDiscoveryengineV1betaFeedback"
        },
        "entity": {
          "description": "Optional. Represents the entity for customers that may run multiple different entities, domains, sites or regions, for example, `Google US`, `Google Ads`, `Waymo`, `google.com`, `youtube.com`, etc. We recommend that you set `entity` to get better per-entity search, completion, and prediction results.",
          "type": "string"
        },
        "userPseudoId": {
          "description": "Required. A unique identifier for tracking visitors. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor log in/out of the website. Do not set the field to the same fixed ID for different users. This mixes the event history of those users together, which results in degraded model quality. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an `INVALID_ARGUMENT` error is returned. The field should not contain PII or user-data. We recommend to use Google Analytics [Client ID](https://developers.google.com/analytics/devguides/collection/analyticsjs/field-reference#clientId) for this field.",
          "type": "string"
        },
        "attributionToken": {
          "description": "Token to attribute an API response to user action(s) to trigger the event. Highly recommended for user events that are the result of RecommendationService.Recommend. This field enables accurate attribution of recommendation model performance. The value must be one of: * RecommendResponse.attribution_token for events that are the result of RecommendationService.Recommend. * SearchResponse.attribution_token for events that are the result of SearchService.Search. This token enables us to accurately attribute page view or conversion completion back to the event and the particular predict response containing this clicked/purchased product. If user clicks on product K in the recommendation results, pass RecommendResponse.attribution_token as a URL parameter to product K's page. When recording events on product K's page, log the RecommendResponse.attribution_token to this field.",
          "type": "string"
        },
        "transactionInfo": {
          "description": "The transaction metadata (if any) associated with this user event.",
          "$ref": "GoogleCloudDiscoveryengineV1betaTransactionInfo"
        },
        "promotionIds": {
          "description": "The promotion IDs if this is an event associated with promotions. Currently, this field is restricted to at most one ID.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "mediaInfo": {
          "description": "Media-specific info.",
          "$ref": "GoogleCloudDiscoveryengineV1betaMediaInfo"
        },
        "conversionType": {
          "description": "Optional. Conversion type. Required if UserEvent.event_type is `conversion`. This is a customer-defined conversion name in lowercase letters or numbers separated by \"-\", such as \"watch\", \"good-visit\" etc. Do not set the field if UserEvent.event_type is not `conversion`. This mixes the custom conversion event with predefined events like `search`, `view-item` etc.",
          "type": "string"
        },
        "filter": {
          "description": "Optional. The filter syntax consists of an expression language for constructing a predicate from one or more fields of the documents being filtered. One example is for `search` events, the associated SearchRequest may contain a filter expression in SearchRequest.filter conforming to https://google.aip.dev/160#filtering. Similarly, for `view-item-list` events that are generated from a RecommendRequest, this field may be populated directly from RecommendRequest.filter conforming to https://google.aip.dev/160#filtering. The value must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "type": "string"
        },
        "engine": {
          "description": "The Engine resource name, in the form of `projects/{project}/locations/{location}/collections/{collection_id}/engines/{engine_id}`. Optional. Only required for Engine produced user events. For example, user events from blended search.",
          "type": "string"
        },
        "attributes": {
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1betaCustomAttribute"
          },
          "type": "object",
          "description": "Extra user event features to include in the recommendation model. These attributes must NOT contain data that needs to be parsed or processed further, e.g. JSON or other encodings. If you provide custom attributes for ingested user events, also include them in the user events that you associate with prediction requests. Custom attribute formatting must be consistent between imported events and events provided with prediction requests. This lets the Discovery Engine API use those custom attributes when training models and serving predictions, which helps improve recommendation quality. This field needs to pass all below criteria, otherwise an `INVALID_ARGUMENT` error is returned: * The key must be a UTF-8 encoded string with a length limit of 5,000 characters. * For text attributes, at most 400 values are allowed. Empty values are not allowed. Each value must be a UTF-8 encoded string with a length limit of 256 characters. * For number attributes, at most 400 values are allowed. For product recommendations, an example of extra user information is `traffic_channel`, which is how a user arrives at the site. Users can arrive at the site by coming to the site directly, coming through Google search, or in other ways."
        },
        "documents": {
          "type": "array",
          "description": "List of Documents associated with this user event. This field is optional except for the following event types: * `view-item` * `add-to-cart` * `purchase` * `media-play` * `media-complete` In a `search` event, this field represents the documents returned to the end user on the current page (the end user may have not finished browsing the whole page yet). When a new page is returned to the end user, after pagination/filtering/ordering even for the same query, a new `search` event with different UserEvent.documents is desired.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaDocumentInfo"
          }
        },
        "userInfo": {
          "description": "Information about the end user.",
          "$ref": "GoogleCloudDiscoveryengineV1betaUserInfo"
        },
        "pageInfo": {
          "description": "Page metadata such as categories and other critical information for certain event types such as `view-category-page`.",
          "$ref": "GoogleCloudDiscoveryengineV1betaPageInfo"
        },
        "dataStore": {
          "description": "The DataStore resource full name, of the form `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. Optional. Only required for user events whose data store can't by determined by UserEvent.engine or UserEvent.documents. If data store is set in the parent of write/import/collect user event requests, this field can be omitted.",
          "type": "string"
        },
        "eventTime": {
          "description": "Only required for UserEventService.ImportUserEvents method. Timestamp of when the user event happened.",
          "format": "google-datetime",
          "type": "string"
        },
        "tagIds": {
          "type": "array",
          "description": "A list of identifiers for the independent experiment groups this user event belongs to. This is used to distinguish between user events associated with different experiment setups.",
          "items": {
            "type": "string"
          }
        },
        "directUserRequest": {
          "description": "Should set to true if the request is made directly from the end user, in which case the UserEvent.user_info.user_agent can be populated from the HTTP request. This flag should be set only if the API request is made directly from the end user such as a mobile app (and not if a gateway or a server is processing and pushing the user events). This should not be set when using the JavaScript tag in UserEventService.CollectUserEvent.",
          "type": "boolean"
        },
        "panels": {
          "description": "Optional. List of panels associated with this event. Used for page-level impression data.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaPanelInfo"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaUserEvent",
      "description": "UserEvent captures all metadata information Discovery Engine API needs to know about how end users interact with your website."
    },
    "GoogleCloudDiscoveryengineV1betaTrainCustomModelResponse": {
      "id": "GoogleCloudDiscoveryengineV1betaTrainCustomModelResponse",
      "description": "Response of the TrainCustomModelRequest. This message is returned by the google.longrunning.Operations.response field.",
      "type": "object",
      "properties": {
        "errorConfig": {
          "description": "Echoes the destination for the complete errors in the request if set.",
          "$ref": "GoogleCloudDiscoveryengineV1betaImportErrorConfig"
        },
        "metrics": {
          "additionalProperties": {
            "format": "double",
            "type": "number"
          },
          "type": "object",
          "description": "The metrics of the trained model."
        },
        "errorSamples": {
          "type": "array",
          "description": "A sample of errors encountered while processing the data.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "modelName": {
          "description": "Fully qualified name of the CustomTuningModel.",
          "type": "string"
        },
        "modelStatus": {
          "description": "The trained model status. Possible values are: * **bad-data**: The training data quality is bad. * **no-improvement**: Tuning didn't improve performance. Won't deploy. * **in-progress**: Model training job creation is in progress. * **training**: Model is actively training. * **evaluating**: The model is evaluating trained metrics. * **indexing**: The model trained metrics are indexing. * **ready**: The model is ready for serving.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaTransactionInfo": {
      "type": "object",
      "properties": {
        "cost": {
          "format": "float",
          "type": "number",
          "description": "All the costs associated with the products. These can be manufacturing costs, shipping expenses not borne by the end user, or any other costs, such that: * Profit = value - tax - cost"
        },
        "tax": {
          "description": "All the taxes associated with the transaction.",
          "format": "float",
          "type": "number"
        },
        "discountValue": {
          "description": "The total discount(s) value applied to this transaction. This figure should be excluded from TransactionInfo.value For example, if a user paid TransactionInfo.value amount, then nominal (pre-discount) value of the transaction is the sum of TransactionInfo.value and TransactionInfo.discount_value This means that profit is calculated the same way, regardless of the discount value, and that TransactionInfo.discount_value can be larger than TransactionInfo.value: * Profit = value - tax - cost",
          "type": "number",
          "format": "float"
        },
        "value": {
          "format": "float",
          "type": "number",
          "description": "Required. Total non-zero value associated with the transaction. This value may include shipping, tax, or other adjustments to the total value that you want to include."
        },
        "transactionId": {
          "description": "The transaction ID with a length limit of 128 characters.",
          "type": "string"
        },
        "currency": {
          "description": "Required. Currency code. Use three-character ISO-4217 code.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaTransactionInfo",
      "description": "A transaction represents the entire purchase transaction."
    },
    "GoogleCloudDiscoveryengineV1DataStoreServingConfigDataStore": {
      "type": "object",
      "properties": {
        "disabledForServing": {
          "description": "Optional. If set true, the DataStore will not be available for serving search requests.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1DataStoreServingConfigDataStore",
      "description": "Stores information regarding the serving configurations at DataStore level."
    },
    "GoogleCloudDiscoveryengineV1alphaOrganicCrawlRateTimeSeries": {
      "type": "object",
      "properties": {
        "googleOrganicCrawlRate": {
          "description": "Google's organic crawl rate time series, which is the sum of all googlebots' crawl rate. Please refer to https://developers.google.com/search/docs/crawling-indexing/overview-google-crawlers for more details about googlebots.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries"
        },
        "vertexAiOrganicCrawlRate": {
          "description": "Vertex AI's organic crawl rate time series, which is the crawl rate of Google-CloudVertexBot when dedicate crawl is not set. Please refer to https://developers.google.com/search/docs/crawling-indexing/google-common-crawlers#google-cloudvertexbot for more details about Google-CloudVertexBot.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaOrganicCrawlRateTimeSeries",
      "description": "The historical organic crawl rate timeseries data, used for monitoring. Organic crawl is auto-determined by Google to crawl the user's website when dedicate crawl is not set. Crawl rate is the QPS of crawl request Google sends to the user's website."
    },
    "GoogleCloudDiscoveryengineV1alphaAlertPolicyResourceConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaAlertPolicyResourceConfig",
      "description": "The resource level alert config. Used in: * UserLicense * EngineUserData The AlertPolicyConfig in data connector is of same usage. No easy way to migrate.",
      "type": "object",
      "properties": {
        "alertEnrollments": {
          "description": "Optional. The enrollment state of each alert.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAlertPolicyResourceConfigAlertEnrollment"
          },
          "type": "array"
        },
        "contactDetails": {
          "description": "Optional. The contact details for each alert policy.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaContactDetails"
          },
          "type": "array"
        },
        "languageCode": {
          "description": "Optional. The language code used for notifications",
          "type": "string"
        },
        "alertPolicy": {
          "description": "Immutable. The fully qualified resource name of the AlertPolicy.",
          "type": "string"
        },
        "regionCode": {
          "description": "Optional. The region code used of the user that subscribed to the alert policy.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchResponseGuidedSearchResultRefinementAttribute": {
      "type": "object",
      "properties": {
        "attributeKey": {
          "description": "Attribute key used to refine the results. For example, `\"movie_type\"`.",
          "type": "string"
        },
        "attributeValue": {
          "description": "Attribute value used to refine the results. For example, `\"drama\"`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchResponseGuidedSearchResultRefinementAttribute",
      "description": "Useful attribute for search result refinements."
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultList": {
      "type": "object",
      "properties": {
        "searchResults": {
          "description": "Search results.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultListSearchResult"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultList",
      "description": "Search result list."
    },
    "GoogleCloudDiscoveryengineV1betaEngineChatEngineConfig": {
      "type": "object",
      "properties": {
        "dialogflowAgentToLink": {
          "description": "The resource name of an exist Dialogflow agent to link to this Chat Engine. Customers can either provide `agent_creation_config` to create agent or provide an agent name that links the agent with the Chat engine. Format: `projects//locations//agents/`. Note that the `dialogflow_agent_to_link` are one-time consumed by and passed to Dialogflow service. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation. Use ChatEngineMetadata.dialogflow_agent for actual agent association after Engine is created.",
          "type": "string"
        },
        "allowCrossRegion": {
          "description": "Optional. If the flag set to true, we allow the agent and engine are in different locations, otherwise the agent and engine are required to be in the same location. The flag is set to false by default. Note that the `allow_cross_region` are one-time consumed by and passed to EngineService.CreateEngine. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation.",
          "type": "boolean"
        },
        "agentCreationConfig": {
          "description": "The configurationt generate the Dialogflow agent that is associated to this Engine. Note that these configurations are one-time consumed by and passed to Dialogflow service. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation.",
          "$ref": "GoogleCloudDiscoveryengineV1betaEngineChatEngineConfigAgentCreationConfig"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaEngineChatEngineConfig",
      "description": "Configurations for a Chat Engine."
    },
    "GoogleCloudDiscoveryengineV1CliConfig": {
      "type": "object",
      "properties": {
        "enabledActions": {
          "type": "array",
          "description": "Optional. The actions enabled on the associated CLI connection.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1CliConfig",
      "description": "The configuration for the CLI execution based connectors."
    },
    "GoogleApiDistributionBucketOptionsExponential": {
      "type": "object",
      "properties": {
        "growthFactor": {
          "type": "number",
          "format": "double",
          "description": "Must be greater than 1."
        },
        "scale": {
          "description": "Must be greater than 0.",
          "type": "number",
          "format": "double"
        },
        "numFiniteBuckets": {
          "type": "integer",
          "format": "int32",
          "description": "Must be greater than 0."
        }
      },
      "id": "GoogleApiDistributionBucketOptionsExponential",
      "description": "Specifies an exponential sequence of buckets that have a width that is proportional to the value of the lower bound. Each bucket represents a constant relative uncertainty on a specific value in the bucket. There are `num_finite_buckets + 2` (= N) buckets. Bucket `i` has the following boundaries: Upper bound (0 <= i < N-1): scale * (growth_factor ^ i). Lower bound (1 <= i < N): scale * (growth_factor ^ (i - 1))."
    },
    "GoogleCloudDiscoveryengineV1betaListConversationsResponse": {
      "id": "GoogleCloudDiscoveryengineV1betaListConversationsResponse",
      "description": "Response for ListConversations method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token, if not returned indicates the last page.",
          "type": "string"
        },
        "conversations": {
          "description": "All the Conversations for a given data store.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaConversation"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaImportSuggestionDenyListEntriesResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaImportSuggestionDenyListEntriesResponse",
      "description": "Response message for CompletionService.ImportSuggestionDenyListEntries method.",
      "type": "object",
      "properties": {
        "errorSamples": {
          "type": "array",
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "importedEntriesCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of deny list entries successfully imported."
        },
        "failedEntriesCount": {
          "description": "Count of deny list entries that failed to be imported.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestAnswerGenerationSpecMultimodalSpec": {
      "type": "object",
      "properties": {
        "imageSource": {
          "enumDescriptions": [
            "Unspecified image source (multimodal feature is disabled by default).",
            "Behavior when service determines the pick from all available sources.",
            "Includes image from corpus in the answer.",
            "Triggers figure generation in the answer."
          ],
          "type": "string",
          "enum": [
            "IMAGE_SOURCE_UNSPECIFIED",
            "ALL_AVAILABLE_SOURCES",
            "CORPUS_IMAGE_ONLY",
            "FIGURE_GENERATION_ONLY"
          ],
          "description": "Optional. Source of image returned in the answer."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestAnswerGenerationSpecMultimodalSpec",
      "description": "Multimodal specification: Will return an image from specified source. If multiple sources are specified, the pick is a quality based decision."
    },
    "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfig",
      "description": "Configuration for NotebookLM.",
      "type": "object",
      "properties": {
        "modelArmorConfig": {
          "description": "Model Armor configuration to be used for sanitizing user prompts and LLM responses.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigModelArmorConfig"
        },
        "dataProtectionPolicy": {
          "description": "Optional. Specifies the data protection policy for NotebookLM.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicy"
        },
        "observabilityConfig": {
          "description": "Optional. Observability config for NotebookLM.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaObservabilityConfig"
        },
        "optOutNotebookSharing": {
          "description": "Optional. Whether to disable the notebook sharing feature for the project. Default to false if not specified.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAssistantContent": {
      "id": "GoogleCloudDiscoveryengineV1betaAssistantContent",
      "description": "Multi-modal content.",
      "type": "object",
      "properties": {
        "text": {
          "description": "Inline text.",
          "type": "string"
        },
        "thought": {
          "description": "Optional. Indicates if the part is thought from the model.",
          "type": "boolean"
        },
        "inlineData": {
          "description": "Inline binary data.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAssistantContentBlob"
        },
        "role": {
          "description": "The producer of the content. Can be \"model\" or \"user\".",
          "type": "string"
        },
        "file": {
          "description": "A file, e.g., an audio summary.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAssistantContentFile"
        },
        "executableCode": {
          "description": "Code generated by the model that is meant to be executed.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAssistantContentExecutableCode"
        },
        "codeExecutionResult": {
          "description": "Result of executing an ExecutableCode.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAssistantContentCodeExecutionResult"
        }
      }
    },
    "GoogleTypeDate": {
      "type": "object",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleTypeDate",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "GoogleCloudDiscoveryengineV1TargetSiteFailureReasonQuotaFailure": {
      "id": "GoogleCloudDiscoveryengineV1TargetSiteFailureReasonQuotaFailure",
      "description": "Failed due to insufficient quota.",
      "type": "object",
      "properties": {
        "totalRequiredQuota": {
          "description": "This number is an estimation on how much total quota this project needs to successfully complete indexing.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryRequestBoostSpec": {
      "type": "object",
      "properties": {
        "conditionBoostSpecs": {
          "description": "Condition boost specifications. If a suggestion matches multiple conditions in the specifications, boost values from these specifications are all applied and combined in a non-linear way. Maximum number of specifications is 20. Note: Currently only support language condition boost.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryRequestBoostSpecConditionBoostSpec"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryRequestBoostSpec",
      "description": "Specification to boost suggestions based on the condition of the suggestion."
    },
    "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigParsingConfigLayoutParsingConfig": {
      "id": "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigParsingConfigLayoutParsingConfig",
      "description": "The layout parsing configurations for documents.",
      "type": "object",
      "properties": {
        "enableGetProcessedDocument": {
          "description": "Optional. If true, the processed document will be made available for the GetProcessedDocument API.",
          "type": "boolean"
        },
        "enableImageAnnotation": {
          "description": "Optional. If true, the LLM based annotation is added to the image during parsing.",
          "type": "boolean"
        },
        "enableLlmLayoutParsing": {
          "description": "Optional. If true, the pdf layout will be refined using an LLM.",
          "type": "boolean"
        },
        "excludeHtmlClasses": {
          "description": "Optional. List of HTML classes to exclude from the parsed content.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "enableTableAnnotation": {
          "description": "Optional. If true, the LLM based annotation is added to the table during parsing.",
          "type": "boolean"
        },
        "excludeHtmlIds": {
          "description": "Optional. List of HTML ids to exclude from the parsed content.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "structuredContentTypes": {
          "type": "array",
          "description": "Optional. Contains the required structure types to extract from the document. Supported values: * `shareholder-structure`",
          "items": {
            "type": "string"
          }
        },
        "excludeHtmlElements": {
          "type": "array",
          "description": "Optional. List of HTML elements to exclude from the parsed content.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaRecommendRequest": {
      "id": "GoogleCloudDiscoveryengineV1betaRecommendRequest",
      "description": "Request message for Recommend method.",
      "type": "object",
      "properties": {
        "params": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          },
          "description": "Additional domain specific parameters for the recommendations. Allowed values: * `returnDocument`: Boolean. If set to `true`, the associated Document object is returned in RecommendResponse.RecommendationResult.document. * `returnScore`: Boolean. If set to true, the recommendation score corresponding to each returned Document is set in RecommendResponse.RecommendationResult.metadata. The given score indicates the probability of a Document conversion given the user's context and history. * `strictFiltering`: Boolean. True by default. If set to `false`, the service returns generic (unfiltered) popular Documents instead of empty if your filter blocks all recommendation results. * `diversityLevel`: String. Default empty. If set to be non-empty, then it needs to be one of: * `no-diversity` * `low-diversity` * `medium-diversity` * `high-diversity` * `auto-diversity` This gives request-level control and adjusts recommendation results based on Document category. * `attributeFilteringSyntax`: Boolean. False by default. If set to true, the `filter` field is interpreted according to the new, attribute-based syntax."
        },
        "userLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The user labels applied to a resource must meet the following requirements: * Each resource can have multiple labels, up to a maximum of 64. * Each label must be a key-value pair. * Keys have a minimum length of 1 character and a maximum length of 63 characters and cannot be empty. Values can be empty and have a maximum length of 63 characters. * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. All characters must use UTF-8 encoding, and international characters are allowed. * The key portion of a label must be unique. However, you can use the same key with multiple resources. * Keys must start with a lowercase letter or international character. See [Requirements for labels](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements) for more details."
        },
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of results to return. Set this property to the number of recommendation results needed. If zero, the service chooses a reasonable default. The maximum allowed value is 100. Values above 100 are set to 100."
        },
        "filter": {
          "description": "Filter for restricting recommendation results with a length limit of 5,000 characters. Currently, only filter expressions on the `filter_tags` attribute is supported. Examples: * `(filter_tags: ANY(\"Red\", \"Blue\") OR filter_tags: ANY(\"Hot\", \"Cold\"))` * `(filter_tags: ANY(\"Red\", \"Blue\")) AND NOT (filter_tags: ANY(\"Green\"))` If `attributeFilteringSyntax` is set to true under the `params` field, then attribute-based expressions are expected instead of the above described tag-based syntax. Examples: * (language: ANY(\"en\", \"es\")) AND NOT (categories: ANY(\"Movie\")) * (available: true) AND (language: ANY(\"en\", \"es\")) OR (categories: ANY(\"Movie\")) If your filter blocks all results, the API returns generic (unfiltered) popular Documents. If you only want results strictly matching the filters, set `strictFiltering` to `true` in RecommendRequest.params to receive empty results instead. Note that the API never returns Documents with `storageStatus` as `EXPIRED` or `DELETED` regardless of filter choices.",
          "type": "string"
        },
        "userEvent": {
          "description": "Required. Context about the user, what they are looking at and what action they took to trigger the Recommend request. Note that this user event detail won't be ingested to userEvent logs. Thus, a separate userEvent write request is required for event logging. Don't set UserEvent.user_pseudo_id or UserEvent.user_info.user_id to the same fixed ID for different users. If you are trying to receive non-personalized recommendations (not recommended; this can negatively impact model performance), instead set UserEvent.user_pseudo_id to a random unique ID and leave UserEvent.user_info.user_id unset.",
          "$ref": "GoogleCloudDiscoveryengineV1betaUserEvent"
        },
        "validateOnly": {
          "description": "Use validate only mode for this recommendation query. If set to `true`, a fake model is used that returns arbitrary Document IDs. Note that the validate only mode should only be used for testing the API, or if the model is not ready.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaQueryPartDocumentReference": {
      "type": "object",
      "properties": {
        "destinationUri": {
          "description": "The destination uri of the reference.",
          "type": "string"
        },
        "urlForConnector": {
          "description": "Input only. The url_for_connector of the document returned by Federated Search.",
          "type": "string"
        },
        "displayTitle": {
          "description": "The display title of the reference.",
          "type": "string"
        },
        "fileId": {
          "description": "Output only. The file id of the document data stored in the session context files.",
          "readOnly": true,
          "type": "string"
        },
        "documentName": {
          "description": "The full resource name of the document. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}/documents/{document_id}`.",
          "type": "string"
        },
        "iconUri": {
          "description": "The icon uri of the reference.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaQueryPartDocumentReference",
      "description": "Represents a document reference."
    },
    "GoogleCloudDiscoveryengineV1betaListSessionsResponse": {
      "type": "object",
      "properties": {
        "sessions": {
          "type": "array",
          "description": "All the Sessions for a given data store.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSession"
          }
        },
        "nextPageToken": {
          "description": "Pagination token, if not returned indicates the last page.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaListSessionsResponse",
      "description": "Response for ListSessions method."
    },
    "GoogleCloudDiscoveryengineV1betaPurgeDocumentsMetadata": {
      "type": "object",
      "properties": {
        "successCount": {
          "description": "Count of entries that were deleted successfully.",
          "type": "string",
          "format": "int64"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "ignoredCount": {
          "description": "Count of entries that were ignored as entries were not found.",
          "type": "string",
          "format": "int64"
        },
        "failureCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of entries that encountered errors while processing."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaPurgeDocumentsMetadata",
      "description": "Metadata related to the progress of the PurgeDocuments operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1ImportCompletionSuggestionsMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        },
        "successCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of CompletionSuggestions successfully imported."
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        },
        "failureCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of CompletionSuggestions that failed to be imported."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1ImportCompletionSuggestionsMetadata",
      "description": "Metadata related to the progress of the ImportCompletionSuggestions operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSnippetSpec": {
      "id": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSnippetSpec",
      "description": "A specification for configuring snippets in a search response.",
      "type": "object",
      "properties": {
        "maxSnippetCount": {
          "description": "[DEPRECATED] This field is deprecated. To control snippet return, use `return_snippet` field. For backwards compatibility, we will return snippet if max_snippet_count > 0.",
          "deprecated": true,
          "format": "int32",
          "type": "integer"
        },
        "returnSnippet": {
          "description": "If `true`, then return snippet. If no snippet can be generated, we return \"No snippet is available for this page.\" A `snippet_status` with `SUCCESS` or `NO_SNIPPET_AVAILABLE` will also be returned.",
          "type": "boolean"
        },
        "referenceOnly": {
          "type": "boolean",
          "deprecated": true,
          "description": "[DEPRECATED] This field is deprecated and will have no affect on the snippet."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaEvaluation": {
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp the Evaluation was created at."
        },
        "evaluationSpec": {
          "description": "Required. The specification of the evaluation.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaEvaluationEvaluationSpec"
        },
        "errorSamples": {
          "description": "Output only. A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "readOnly": true,
          "type": "array"
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp the Evaluation was completed at."
        },
        "name": {
          "description": "Identifier. The full resource name of the Evaluation, in the format of `projects/{project}/locations/{location}/evaluations/{evaluation}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "error": {
          "description": "Output only. The error that occurred during evaluation. Only populated when the evaluation's state is FAILED.",
          "readOnly": true,
          "$ref": "GoogleRpcStatus"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The evaluation is unspecified.",
            "The service is preparing to run the evaluation.",
            "The evaluation is in progress.",
            "The evaluation completed successfully.",
            "The evaluation failed."
          ],
          "description": "Output only. The state of the evaluation.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "qualityMetrics": {
          "description": "Output only. The metrics produced by the evaluation, averaged across all SampleQuerys in the SampleQuerySet. Only populated when the evaluation's state is SUCCEEDED.",
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1alphaQualityMetrics"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaEvaluation",
      "description": "An evaluation is a single execution (or run) of an evaluation process. It encapsulates the state of the evaluation and the resulting data."
    },
    "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfig": {
      "type": "object",
      "properties": {
        "thirdPartyOauthConfig": {
          "description": "Third Party OAuth config. If set, this DataStore is connected to a third party application.",
          "$ref": "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigThirdPartyOauthConfig"
        },
        "notebooklmConfig": {
          "description": "NotebookLM config. If set, this DataStore is connected to NotebookLM Enterprise.",
          "$ref": "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigNotebooklmConfig"
        },
        "alloyDbConfig": {
          "description": "AlloyDB config. If set, this DataStore is connected to AlloyDB.",
          "$ref": "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigAlloyDbConfig"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfig",
      "description": "Stores information for federated search."
    },
    "GoogleCloudDiscoveryengineV1ServingConfigMediaConfig": {
      "id": "GoogleCloudDiscoveryengineV1ServingConfigMediaConfig",
      "description": "Specifies the configurations needed for Media Discovery. Currently we support: * `demote_content_watched`: Threshold for watched content demotion. Customers can specify if using watched content demotion or use viewed detail page. Using the content watched demotion, customers need to specify the watched minutes or percentage exceeds the threshold, the content will be demoted in the recommendation result. * `promote_fresh_content`: cutoff days for fresh content promotion. Customers can specify if using content freshness promotion. If the content was published within the cutoff days, the content will be promoted in the recommendation result. Can only be set if SolutionType is SOLUTION_TYPE_RECOMMENDATION.",
      "type": "object",
      "properties": {
        "contentWatchedPercentageThreshold": {
          "description": "Specifies the content watched percentage threshold for demotion. Threshold value must be between [0, 1.0] inclusive.",
          "format": "float",
          "type": "number"
        },
        "contentFreshnessCutoffDays": {
          "description": "Specifies the content freshness used for recommendation result. Contents will be demoted if contents were published for more than content freshness cutoff days.",
          "format": "int32",
          "type": "integer"
        },
        "contentWatchedSecondsThreshold": {
          "type": "number",
          "format": "float",
          "description": "Specifies the content watched minutes threshold for demotion."
        },
        "demotionEventType": {
          "description": "Specifies the event type used for demoting recommendation result. Currently supported values: * `view-item`: Item viewed. * `media-play`: Start/resume watching a video, playing a song, etc. * `media-complete`: Finished or stopped midway through a video, song, etc. If unset, watch history demotion will not be applied. Content freshness demotion will still be applied.",
          "type": "string"
        },
        "demoteContentWatchedPastDays": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Specifies the number of days to look back for demoting watched content. If set to zero or unset, defaults to the maximum of 365 days."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpecConditionBoostSpecBoostControlSpecControlPoint": {
      "type": "object",
      "properties": {
        "attributeValue": {
          "description": "Can be one of: 1. The numerical field value. 2. The duration spec for freshness: The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`.",
          "type": "string"
        },
        "boostAmount": {
          "type": "number",
          "format": "float",
          "description": "The value between -1 to 1 by which to boost the score if the attribute_value evaluates to the value specified above."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpecConditionBoostSpecBoostControlSpecControlPoint",
      "description": "The control points used to define the curve. The curve defined through these control points can only be monotonically increasing or decreasing(constant values are acceptable)."
    },
    "GoogleCloudDiscoveryengineV1DestinationConfig": {
      "id": "GoogleCloudDiscoveryengineV1DestinationConfig",
      "description": "Defines target endpoints used to connect to third-party sources.",
      "type": "object",
      "properties": {
        "params": {
          "description": "Optional. Additional parameters for this destination config in structured json format.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "jsonParams": {
          "description": "Additional parameters for this destination config in json string format.",
          "type": "string"
        },
        "key": {
          "description": "Optional. Unique destination identifier that is supported by the connector.",
          "type": "string"
        },
        "destinations": {
          "type": "array",
          "description": "Optional. The destinations for the corresponding key.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1DestinationConfigDestination"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAclConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaAclConfig",
      "description": "Access Control Configuration.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Immutable. The full resource name of the acl configuration. Format: `projects/{project}/locations/{location}/aclConfig`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "idpConfig": {
          "description": "Identity provider config.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaIdpConfig"
        }
      }
    },
[...]
