{
  "protocol": "rest",
  "servicePath": "",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "id": "discoveryengine:v1",
  "basePath": "",
  "mtlsRootUrl": "https://discoveryengine.mtls.googleapis.com/",
  "documentationLink": "https://cloud.google.com/generative-ai-app-builder/docs/",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "baseUrl": "https://discoveryengine.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite": {
          "description": "Interact with Discovery Engine API products, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, on your behalf. It will also allow the app to view all data that you have access to when you use or interact with a Discovery Engine API product."
        },
        "https://www.googleapis.com/auth/discoveryengine.readwrite": {
          "description": "View, edit, create, and delete all your data associated with any Discovery Engine API product, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, including both end user data and administration or configuration data."
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud_search.query": {
          "description": "Search your organization's data in the Cloud Search index"
        },
        "https://www.googleapis.com/auth/discoveryengine.assist.readwrite": {
          "description": "View your Agentspace chat history, including uploaded files and generated reports and visualizations, and interact with the Agentspace assistant on your behalf."
        }
      }
    }
  },
  "title": "Discovery Engine API",
  "description": "Discovery Engine API.",
  "revision": "20260620",
  "canonicalName": "Discovery Engine",
  "rootUrl": "https://discoveryengine.googleapis.com/",
  "schemas": {
    "GoogleCloudDiscoveryengineV1betaDeleteDataStoreMetadata": {
      "description": "Metadata related to the progress of the DataStoreService.DeleteDataStore operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaDeleteDataStoreMetadata",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1EnableAdvancedSiteSearchMetadata": {
      "type": "object",
      "description": "Metadata related to the progress of the SiteSearchEngineService.EnableAdvancedSiteSearch operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1EnableAdvancedSiteSearchMetadata"
    },
    "GoogleCloudDiscoveryengineV1betaUserInfo": {
      "description": "Information of an end user.",
      "properties": {
        "userId": {
          "description": "Highly recommended for logged-in users. Unique identifier for logged-in user, such as a user name. Don't set for anonymous users. Always use a hashed value for this ID. Don't set the field to the same fixed ID for different users. This mixes the event history of those users together, which results in degraded model quality. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an `INVALID_ARGUMENT` error is returned. Represents an opaque ID to the Search API. The Search API doesn't interpret the value in any way. This field is used to associate events with a user across sessions if the events are being uploaded.",
          "type": "string"
        },
        "userAgent": {
          "type": "string",
          "description": "User agent as included in the HTTP header. The field must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an `INVALID_ARGUMENT` error is returned. This should not be set when using the client side event reporting with GTM or JavaScript tag in UserEventService.CollectUserEvent or if UserEvent.direct_user_request is set."
        },
        "timeZone": {
          "description": "Optional. IANA time zone, e.g. Europe/Budapest.",
          "type": "string"
        },
        "preciseLocation": {
          "$ref": "GoogleCloudDiscoveryengineV1betaUserInfoPreciseLocation",
          "description": "Optional. Input only. Precise location of the user. It is used in Custom Ranking to calculate the distance between the user and the relevant documents."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaUserInfo",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaCitationMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaCitationMetadata",
      "description": "A collection of source attributions for a piece of content.",
      "properties": {
        "citations": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaCitation"
          },
          "description": "Output only. List of citations."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaRemovePatientFilterRequest": {
      "type": "object",
      "description": "Request for DataStoreService.RemovePatientFilter method.",
      "properties": {
        "filterGroups": {
          "items": {
            "type": "string"
          },
          "description": "Required. Names of the Group resources to use as a basis for the list of patients to remove from the patient filter, in format `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}/fhir/Group/{group_id}`. if the caller does not have permission to access the FHIR store, regardless of whether it exists, PERMISSION_DENIED error is returned. If the discovery engine service account does not have permission to access the FHIR store, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the group is not found at the location, a RESOURCE_NOT_FOUND error will be returned. The filter group must be a FHIR resource name of type Group, and the list of IDs to remove will be constructed from the direct members of the group which are Patient resources.",
          "type": "array"
        },
        "dataStore": {
          "type": "string",
          "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. If the caller does not have permission to access the DataStore, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested DataStore does not exist, a NOT_FOUND error is returned. If the requested DataStore does not have a patient filter, a NOT_FOUND error will be returned"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaRemovePatientFilterRequest"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestDataStoreSpec": {
      "type": "object",
      "description": "A struct to define data stores to filter on in a search call and configurations for those data stores. Otherwise, an `INVALID_ARGUMENT` error is returned.",
      "properties": {
        "boostSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpec",
          "description": "Optional. Boost specification to boost certain documents. For more information on boosting, see [Boosting](https://cloud.google.com/generative-ai-app-builder/docs/boost-search-results)"
        },
        "dataStore": {
          "type": "string",
          "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. The path must include the project number, project id is not supported for this field."
        },
        "filter": {
          "type": "string",
          "description": "Optional. Filter specification to filter documents in the data store specified by data_store field. For more information on filtering, see [Filtering](https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata)"
        },
        "customSearchOperators": {
          "description": "Optional. Custom search operators which if specified will be used to filter results from workspace data stores. For more information on custom search operators, see [SearchOperators](https://support.google.com/cloudsearch/answer/6172299).",
          "type": "string"
        },
        "numResults": {
          "type": "integer",
          "description": "Optional. The maximum number of results to retrieve from this data store. If not specified, it will use the SearchRequest.num_results_per_data_store if provided, otherwise there is no limit. If both this field and SearchRequest.num_results_per_data_store are specified, this field will be used.",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestDataStoreSpec"
    },
    "GoogleCloudDiscoveryengineV1alphaAlertPolicyConfig": {
      "type": "object",
      "description": "The connector level alert config.",
      "properties": {
        "alertPolicyName": {
          "type": "string",
          "description": "Immutable. The fully qualified resource name of the AlertPolicy."
        },
        "alertEnrollments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAlertPolicyConfigAlertEnrollment"
          },
          "description": "Optional. The enrollment states of each alert."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAlertPolicyConfig"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerQueryUnderstandingInfo": {
      "type": "object",
      "description": "Query understanding information.",
      "properties": {
        "queryClassificationInfo": {
          "type": "array",
          "description": "Query classification information.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerQueryUnderstandingInfoQueryClassificationInfo"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerQueryUnderstandingInfo"
    },
    "GoogleCloudDiscoveryengineV1alphaRecrawlUrisResponseFailureInfoFailureReason": {
      "description": "Details about why crawling failed for a particular CorpusType, e.g., DESKTOP and MOBILE crawling may fail for different reasons.",
      "properties": {
        "errorMessage": {
          "description": "Reason why the URI was not crawled.",
          "type": "string"
        },
        "corpusType": {
          "description": "DESKTOP, MOBILE, or CORPUS_TYPE_UNSPECIFIED.",
          "enumDescriptions": [
            "Default value.",
            "Denotes a crawling attempt for the desktop version of a page.",
            "Denotes a crawling attempt for the mobile version of a page."
          ],
          "type": "string",
          "enum": [
            "CORPUS_TYPE_UNSPECIFIED",
            "DESKTOP",
            "MOBILE"
          ]
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaRecrawlUrisResponseFailureInfoFailureReason",
      "type": "object"
    },
    "A2aV1AuthenticationInfo": {
      "type": "object",
      "id": "A2aV1AuthenticationInfo",
      "description": "Defines authentication details, used for push notifications.",
      "properties": {
        "credentials": {
          "description": "Optional credentials",
          "type": "string"
        },
        "schemes": {
          "items": {
            "type": "string"
          },
          "description": "Supported authentication schemes - e.g. Basic, Bearer, etc",
          "type": "array"
        }
      }
    },
    "A2aV1SendMessageResponse": {
      "id": "A2aV1SendMessageResponse",
      "description": "////// Response Messages ///////////",
      "properties": {
        "task": {
          "$ref": "A2aV1Task"
        },
        "message": {
          "$ref": "A2aV1Message"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaEngineKnowledgeGraphConfig": {
      "type": "object",
      "description": "Configuration message for the Knowledge Graph.",
      "properties": {
        "privateKnowledgeGraphTypes": {
          "items": {
            "type": "string"
          },
          "description": "Specify entity types to support.",
          "type": "array"
        },
        "featureConfig": {
          "description": "Optional. Feature config for the Knowledge Graph.",
          "$ref": "GoogleCloudDiscoveryengineV1betaEngineKnowledgeGraphConfigFeatureConfig"
        },
        "enableCloudKnowledgeGraph": {
          "description": "Whether to enable the Cloud Knowledge Graph for the engine. Defaults to false if not specified.",
          "type": "boolean"
        },
        "cloudKnowledgeGraphTypes": {
          "description": "Specify entity types to support.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "enablePrivateKnowledgeGraph": {
          "type": "boolean",
          "description": "Whether to enable the Private Knowledge Graph for the engine. Defaults to false if not specified."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaEngineKnowledgeGraphConfig"
    },
    "GoogleCloudDiscoveryengineV1betaDeleteTargetSiteMetadata": {
      "type": "object",
      "description": "Metadata related to the progress of the SiteSearchEngineService.DeleteTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaDeleteTargetSiteMetadata"
    },
    "GoogleCloudDiscoveryengineV1CompletionInfo": {
      "description": "Detailed completion information including completion attribution token and clicked completion info.",
      "properties": {
        "selectedSuggestion": {
          "description": "End user selected CompleteQueryResponse.QuerySuggestion.suggestion.",
          "type": "string"
        },
        "selectedPosition": {
          "description": "End user selected CompleteQueryResponse.QuerySuggestion.suggestion position, starting from 0.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1CompletionInfo",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1AssistantGenerationConfig": {
      "description": "Configuration for the generation of the assistant response.",
      "properties": {
        "defaultModelId": {
          "description": "Optional. The default model to use for assistant.",
          "type": "string"
        },
        "allowedModelIds": {
          "description": "Optional. The list of models that are allowed to be used for assistant.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "systemInstruction": {
          "description": "System instruction, also known as the prompt preamble for LLM calls. See also https://cloud.google.com/vertex-ai/generative-ai/docs/learn/prompts/system-instructions",
          "$ref": "GoogleCloudDiscoveryengineV1AssistantGenerationConfigSystemInstruction"
        },
        "defaultLanguage": {
          "description": "The default language to use for the generation of the assistant response. Use an ISO 639-1 language code such as `en`. If not specified, the language will be automatically detected.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AssistantGenerationConfig",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ControlFilterAction": {
      "id": "GoogleCloudDiscoveryengineV1ControlFilterAction",
      "description": "Specified which products may be included in results. Uses same filter as boost.",
      "properties": {
        "filter": {
          "description": "Required. A filter to apply on the matching condition results. Required Syntax documentation: https://cloud.google.com/retail/docs/filter-and-order Maximum length is 5000 characters. Otherwise an INVALID ARGUMENT error is thrown.",
          "type": "string"
        },
        "dataStore": {
          "type": "string",
          "description": "Required. Specifies which data store's documents can be filtered by this control. Full data store name e.g. projects/123/locations/global/collections/default_collection/dataStores/default_data_store"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaCollection": {
      "description": "Collection is a container for configuring resources and access to a set of DataStores.",
      "properties": {
        "dataConnector": {
          "description": "Output only. The data connector, if present, manages the connection for data stores in the Collection. To set up the connector, use DataConnectorService.SetUpDataConnector method, which creates a new Collection while setting up the DataConnector singleton resource. Setting up connector on an existing Collection is not supported. This output only field contains a subset of the DataConnector fields, including `name`, `data_source`, `entities.entity_name` and `entities.data_store`. To get more details about a data connector, use the DataConnectorService.GetDataConnector method.",
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataConnector"
        },
        "name": {
          "description": "Immutable. The full resource name of the Collection. Format: `projects/{project}/locations/{location}/collections/{collection_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp the Collection was created at.",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The Collection display name. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaCollection",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1AgentGatewaySetting": {
      "description": "Agent Gateway setting, which may be attached to Gemini Enterprise resources for egress control of Gemini Enterprise agents to agents and tools outside of Gemini Enterprise.",
      "properties": {
        "defaultEgressAgentGateway": {
          "description": "Optional. The default egress agent gateway to use, when this setting is applied to a Gemini Enterprise resource. The deployment mode must be GOOGLE_MANAGED, and the governed access path must be AGENT_TO_ANYWHERE.",
          "$ref": "GoogleCloudDiscoveryengineV1AgentGatewaySettingAgentGatewayReference"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AgentGatewaySetting",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaUpdateSessionRequest": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaUpdateSessionRequest",
      "description": "Request for UpdateSession method.",
      "properties": {
        "session": {
          "description": "Required. The Session to update.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSession"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Indicates which fields in the provided Session to update. The following are NOT supported: * Session.name If not set or empty, all supported fields are updated."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestQueryExpansionSpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestQueryExpansionSpec",
      "description": "Specification to determine under which conditions query expansion should occur.",
      "properties": {
        "condition": {
          "description": "The condition under which query expansion should occur. Default to Condition.DISABLED.",
          "enumDescriptions": [
            "Unspecified query expansion condition. In this case, server behavior defaults to Condition.DISABLED.",
            "Disabled query expansion. Only the exact search query is used, even if SearchResponse.total_size is zero.",
            "Automatic query expansion built by the Search API."
          ],
          "type": "string",
          "enum": [
            "CONDITION_UNSPECIFIED",
            "DISABLED",
            "AUTO"
          ]
        },
        "pinUnexpandedResults": {
          "description": "Whether to pin unexpanded results. If this field is set to true, unexpanded products are always at the top of the search results, followed by the expanded results.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaControlBoostActionInterpolationBoostSpecControlPoint": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaControlBoostActionInterpolationBoostSpecControlPoint",
      "description": "The control points used to define the curve. The curve defined through these control points can only be monotonically increasing or decreasing(constant values are acceptable).",
      "properties": {
        "attributeValue": {
          "type": "string",
          "description": "Optional. Can be one of: 1. The numerical field value. 2. The duration spec for freshness: The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`."
        },
        "boostAmount": {
          "format": "float",
          "description": "Optional. The value between -1 to 1 by which to boost the score if the attribute_value evaluates to the value specified above.",
          "type": "number"
        }
      }
    },
    "GoogleRpcStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        }
      },
      "id": "GoogleRpcStatus",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1CheckGroundingSpec": {
      "id": "GoogleCloudDiscoveryengineV1CheckGroundingSpec",
      "description": "Specification for the grounding check.",
      "properties": {
        "citationThreshold": {
          "type": "number",
          "format": "double",
          "description": "The threshold (in [0,1]) used for determining whether a fact must be cited for a claim in the answer candidate. Choosing a higher threshold will lead to fewer but very strong citations, while choosing a lower threshold may lead to more but somewhat weaker citations. If unset, the threshold will default to 0.6."
        },
        "enableClaimLevelScore": {
          "description": "The control flag that enables claim-level grounding score in the response.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpec": {
      "type": "object",
      "description": "Search specification.",
      "properties": {
        "searchResultList": {
          "description": "Search result list.",
          "$ref": "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchResultList"
        },
        "searchParams": {
          "$ref": "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchParams",
          "description": "Search parameters."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpec"
    },
    "GoogleCloudDiscoveryengineV1CreateSchemaMetadata": {
      "type": "object",
      "description": "Metadata for Create Schema LRO.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1CreateSchemaMetadata"
    },
    "GoogleCloudDiscoveryengineV1betaCreateSitemapMetadata": {
      "description": "Metadata related to the progress of the SiteSearchEngineService.CreateSitemap operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaCreateSitemapMetadata",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaEstimateDataSizeResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaEstimateDataSizeResponse",
      "description": "Response of the EstimateDataSize request. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "properties": {
        "dataSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Data size in terms of bytes."
        },
        "documentCount": {
          "type": "string",
          "format": "int64",
          "description": "Total number of documents."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1Session": {
      "id": "GoogleCloudDiscoveryengineV1Session",
      "description": "External session proto definition.",
      "properties": {
        "state": {
          "description": "The state of the session.",
          "enumDescriptions": [
            "State is unspecified.",
            "The session is currently open."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS"
          ]
        },
        "userPseudoId": {
          "type": "string",
          "description": "A unique identifier for tracking users."
        },
        "labels": {
          "type": "array",
          "description": "Optional. The labels for the session. Can be set as filter in ListSessionsRequest.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Immutable. Fully qualified name `projects/{project}/locations/global/collections/{collection}/engines/{engine}/sessions/*`"
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the session started."
        },
        "pendingAsyncAssistOperationId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Full resource name of an in-progress AsyncAssist operation for this session, e.g. `projects/*/locations/*/collections/*/engines/*/sessions/*/operations/*`. Set when the operation starts and cleared when it finishes."
        },
        "displayName": {
          "description": "Optional. The display name of the session. This field is used to identify the session in the UI. By default, the display name is the first turn query text in the session.",
          "type": "string"
        },
        "turns": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1SessionTurn"
          },
          "description": "Turns.",
          "type": "array"
        },
        "endTime": {
          "description": "Output only. The time the session finished.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "isPinned": {
          "type": "boolean",
          "description": "Optional. Whether the session is pinned, pinned session will be displayed on the top of the session list."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1Chunk": {
      "type": "object",
      "description": "Chunk captures all raw metadata information of items to be recommended or searched in the chunk mode.",
      "properties": {
        "documentMetadata": {
          "$ref": "GoogleCloudDiscoveryengineV1ChunkDocumentMetadata",
          "description": "Metadata of the document from the current chunk."
        },
        "pageSpan": {
          "description": "Page span of the chunk.",
          "$ref": "GoogleCloudDiscoveryengineV1ChunkPageSpan"
        },
        "dataUrls": {
          "description": "Output only. Image Data URLs if the current chunk contains images. Data URLs are composed of four parts: a prefix (data:), a MIME type indicating the type of data, an optional base64 token if non-textual, and the data itself: data:,",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "relevanceScore": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Output only. Represents the relevance score based on similarity. Higher score indicates higher chunk relevance. The score is in range [-1.0, 1.0]. Only populated on SearchResponse."
        },
        "derivedStructData": {
          "readOnly": true,
          "type": "object",
          "description": "Output only. This field is OUTPUT_ONLY. It contains derived data that are not in the original input document.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "name": {
          "description": "The full resource name of the chunk. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}/documents/{document_id}/chunks/{chunk_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Unique chunk ID of the current chunk."
        },
        "annotationMetadata": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1ChunkAnnotationMetadata"
          },
          "description": "Output only. The annotation metadata includes structured content in the current chunk.",
          "readOnly": true,
          "type": "array"
        },
        "content": {
          "type": "string",
          "description": "Content is a string from a document (parsed content)."
        },
        "annotationContents": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Annotation contents if the current chunk contains annotations."
        },
        "chunkMetadata": {
          "description": "Output only. Metadata of the current chunk.",
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1ChunkChunkMetadata"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1Chunk"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpecBoostControlSpec": {
      "type": "object",
      "description": "Specification for custom ranking based on customer specified attribute value. It provides more controls for customized ranking than the simple (condition, boost) combination above.",
      "properties": {
        "attributeType": {
          "description": "The attribute type to be used to determine the boost amount. The attribute value can be derived from the field value of the specified field_name. In the case of numerical it is straightforward i.e. attribute_value = numerical_field_value. In the case of freshness however, attribute_value = (time.now() - datetime_field_value).",
          "enumDescriptions": [
            "Unspecified AttributeType.",
            "The value of the numerical field will be used to dynamically update the boost amount. In this case, the attribute_value (the x value) of the control point will be the actual value of the numerical field for which the boost_amount is specified.",
            "For the freshness use case the attribute value will be the duration between the current time and the date in the datetime field specified. The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`. For example, `5D`, `3DT12H30M`, `T24H`."
          ],
          "type": "string",
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ]
        },
        "interpolationType": {
          "description": "The interpolation type to be applied to connect the control points listed below.",
          "enumDescriptions": [
            "Interpolation type is unspecified. In this case, it defaults to Linear.",
            "Piecewise linear interpolation will be applied."
          ],
          "type": "string",
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ]
        },
        "fieldName": {
          "description": "The name of the field whose value will be used to determine the boost amount.",
          "type": "string"
        },
        "controlPoints": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpecBoostControlSpecControlPoint"
          },
          "description": "The control points used to define the curve. The monotonic function (defined through the interpolation_type above) passes through the control points listed here."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpecBoostControlSpec"
    },
    "GoogleCloudDiscoveryengineV1betaImportUserEventsResponse": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaImportUserEventsResponse",
      "description": "Response of the ImportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "properties": {
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "unjoinedEventsCount": {
          "description": "Count of user events imported, but with Document information not found in the existing Branch.",
          "format": "int64",
          "type": "string"
        },
        "errorConfig": {
          "description": "Echoes the destination for the complete errors if this field was set in the request.",
          "$ref": "GoogleCloudDiscoveryengineV1betaImportErrorConfig"
        },
        "joinedEventsCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of user events imported with complete existing Documents."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaTargetSite": {
      "id": "GoogleCloudDiscoveryengineV1alphaTargetSite",
      "description": "A target site for the SiteSearchEngine.",
      "properties": {
        "rootDomainUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Root domain of the provided_uri_pattern."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The fully qualified resource name of the target site. `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/siteSearchEngine/targetSites/{target_site}` The `target_site_id` is system-generated."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The target site's last updated time.",
          "format": "google-datetime"
        },
        "indexingStatus": {
          "type": "string",
          "enum": [
            "INDEXING_STATUS_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "SUCCEEDED",
            "DELETING",
            "CANCELLABLE",
            "CANCELLED"
          ],
          "readOnly": true,
          "description": "Output only. Indexing status.",
          "enumDescriptions": [
            "Defaults to SUCCEEDED.",
            "The target site is in the update queue and will be picked up by indexing pipeline.",
            "The target site fails to be indexed.",
            "The target site has been indexed.",
            "The previously indexed target site has been marked to be deleted. This is a transitioning state which will resulted in either: 1. target site deleted if unindexing is successful; 2. state reverts to SUCCEEDED if the unindexing fails.",
            "The target site change is pending but cancellable.",
            "The target site change is cancelled."
          ]
        },
        "failureReason": {
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1alphaTargetSiteFailureReason",
          "description": "Output only. Failure reason."
        },
        "type": {
          "description": "The type of the target site, e.g., whether the site is to be included or excluded.",
          "enumDescriptions": [
            "This value is unused. In this case, server behavior defaults to Type.INCLUDE.",
            "Include the target site.",
            "Exclude the target site."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "INCLUDE",
            "EXCLUDE"
          ]
        },
        "providedUriPattern": {
          "type": "string",
          "description": "Required. Input only. The user provided URI pattern from which the `generated_uri_pattern` is generated."
        },
        "generatedUriPattern": {
          "description": "Output only. This is system-generated based on the provided_uri_pattern.",
          "readOnly": true,
          "type": "string"
        },
        "siteVerificationInfo": {
          "description": "Output only. Site ownership and validity verification status.",
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1alphaSiteVerificationInfo"
        },
        "exactMatch": {
          "description": "Immutable. If set to false, a uri_pattern is generated to include all pages whose address contains the provided_uri_pattern. If set to true, an uri_pattern is generated to try to be an exact match of the provided_uri_pattern or just the specific page if the provided_uri_pattern is a specific one. provided_uri_pattern is always normalized to generate the URI pattern to be used by the search engine.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAddPatientFilterRequest": {
      "description": "Request for DataStoreService.AddPatientFilter method.",
      "properties": {
        "dataStore": {
          "type": "string",
          "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. If the caller does not have permission to access the DataStore, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested DataStore does not exist, a NOT_FOUND error is returned. If the requested DataStore already has a patient filter, an ALREADY_EXISTS error will be returned."
        },
        "filterGroups": {
          "description": "Required. Names of the Group resources to use as a basis for the patient filter, in format `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}/fhir/Group/{group_id}`. if the caller does not have permission to access the FHIR store, regardless of whether it exists, PERMISSION_DENIED error is returned. If the discovery engine service account does not have permission to access the FHIR store, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the group is not found at the location, a RESOURCE_NOT_FOUND error will be returned. The filter group must be a FHIR resource name of type Group, and the filter will be constructed from the direct members of the group which are Patient resources.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAddPatientFilterRequest",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1SearchResponseSummaryReferenceChunkContent": {
      "type": "object",
      "description": "Chunk content.",
      "properties": {
        "content": {
          "description": "Chunk textual content.",
          "type": "string"
        },
        "pageIdentifier": {
          "type": "string",
          "description": "Page identifier."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1SearchResponseSummaryReferenceChunkContent"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSnippetSpec": {
      "type": "object",
      "description": "A specification for configuring snippets in a search response.",
      "properties": {
        "maxSnippetCount": {
          "type": "integer",
          "description": "[DEPRECATED] This field is deprecated. To control snippet return, use `return_snippet` field. For backwards compatibility, we will return snippet if max_snippet_count > 0.",
          "deprecated": true,
          "format": "int32"
        },
        "referenceOnly": {
          "description": "[DEPRECATED] This field is deprecated and will have no affect on the snippet.",
          "deprecated": true,
          "type": "boolean"
        },
        "returnSnippet": {
          "type": "boolean",
          "description": "If `true`, then return snippet. If no snippet can be generated, we return \"No snippet is available for this page.\" A `snippet_status` with `SUCCESS` or `NO_SNIPPET_AVAILABLE` will also be returned."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSnippetSpec"
    },
    "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfig",
      "description": "A singleton resource of DataStore. If it's empty when DataStore is created and DataStore is set to DataStore.ContentConfig.CONTENT_REQUIRED, the default parser will default to digital parser.",
      "properties": {
        "name": {
          "description": "The full resource name of the Document Processing Config. Format: `projects/*/locations/*/collections/*/dataStores/*/documentProcessingConfig`.",
          "type": "string"
        },
        "defaultParsingConfig": {
          "description": "Configurations for default Document parser. If not specified, we will configure it as default DigitalParsingConfig, and the default parsing config will be applied to all file types for Document parsing.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfig"
        },
        "chunkingConfig": {
          "description": "Whether chunking mode is enabled.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigChunkingConfig"
        },
        "parsingConfigOverrides": {
          "description": "Map from file type to override the default parsing configuration based on the file type. Supported keys: * `pdf`: Override parsing config for PDF files, either digital parsing, ocr parsing or layout parsing is supported. * `html`: Override parsing config for HTML files, only digital parsing and layout parsing are supported. * `docx`: Override parsing config for DOCX files, only digital parsing and layout parsing are supported. * `pptx`: Override parsing config for PPTX files, only digital parsing and layout parsing are supported. * `xlsm`: Override parsing config for XLSM files, only digital parsing and layout parsing are supported. * `xlsx`: Override parsing config for XLSX files, only digital parsing and layout parsing are supported.",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfig"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ImportSuggestionDenyListEntriesRequest": {
      "type": "object",
      "description": "Request message for CompletionService.ImportSuggestionDenyListEntries method.",
      "properties": {
        "gcsSource": {
          "$ref": "GoogleCloudDiscoveryengineV1GcsSource",
          "description": "Cloud Storage location for the input content. Only 1 file can be specified that contains all entries to import. Supported values `gcs_source.schema` for autocomplete suggestion deny list entry imports: * `suggestion_deny_list` (default): One JSON [SuggestionDenyListEntry] per line."
        },
        "inlineSource": {
          "$ref": "GoogleCloudDiscoveryengineV1ImportSuggestionDenyListEntriesRequestInlineSource",
          "description": "The Inline source for the input content for suggestion deny list entries."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1ImportSuggestionDenyListEntriesRequest"
    },
    "GoogleCloudDiscoveryengineLoggingConnectorRunErrorContext": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineLoggingConnectorRunErrorContext",
      "description": "The error payload that is populated on LRO sync APIs, including the following: * `google.cloud.discoveryengine.v1main.DataConnectorService.SetUpDataConnector` * `google.cloud.discoveryengine.v1main.DataConnectorService.StartConnectorRun`",
      "properties": {
        "connectorRun": {
          "description": "The full resource name of the Connector Run. Format: `projects/*/locations/*/collections/*/dataConnector/connectorRuns/*`. The `connector_run_id` is system-generated.",
          "type": "string"
        },
        "syncType": {
          "type": "string",
          "description": "The type of sync run. Can be one of the following: * `FULL` * `INCREMENTAL`"
        },
        "startTime": {
          "description": "The time when the connector run started.",
          "format": "google-datetime",
          "type": "string"
        },
        "operation": {
          "type": "string",
          "description": "The operation resource name of the LRO to sync the connector."
        },
        "dataConnector": {
          "type": "string",
          "description": "The full resource name of the DataConnector. Format: `projects/*/locations/*/collections/*/dataConnector`."
        },
        "endTime": {
          "description": "The time when the connector run ended.",
          "format": "google-datetime",
          "type": "string"
        },
        "entity": {
          "type": "string",
          "description": "The entity to sync for the connector run."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDisableAdvancedSiteSearchResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaDisableAdvancedSiteSearchResponse",
      "description": "Response message for SiteSearchEngineService.DisableAdvancedSiteSearch method.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerStep": {
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerStep",
      "description": "Step information.",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "FAILED",
            "SUCCEEDED"
          ],
          "description": "The state of the step.",
          "enumDescriptions": [
            "Unknown.",
            "Step is currently in progress.",
            "Step currently failed.",
            "Step has succeeded."
          ]
        },
        "description": {
          "type": "string",
          "description": "The description of the step."
        },
        "thought": {
          "type": "string",
          "description": "The thought of the step."
        },
        "actions": {
          "description": "Actions.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerStepAction"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfigAlloyDbAiNaturalLanguageConfig": {
      "description": "Configuration for AlloyDB AI Natural Language.",
      "properties": {
        "nlConfigId": {
          "type": "string",
          "description": "Optional. AlloyDb AI NL config id, i.e. the value that was used for calling `SELECT alloydb_ai_nl.g_create_configuration(...)`. Can be empty."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfigAlloyDbAiNaturalLanguageConfig",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1AnswerQueryResponse": {
      "id": "GoogleCloudDiscoveryengineV1AnswerQueryResponse",
      "description": "Response message for ConversationalSearchService.AnswerQuery method.",
      "properties": {
        "answer": {
          "description": "Answer resource object. If AnswerQueryRequest.QueryUnderstandingSpec.QueryRephraserSpec.max_rephrase_steps is greater than 1, use Answer.name to fetch answer information using ConversationalSearchService.GetAnswer API.",
          "$ref": "GoogleCloudDiscoveryengineV1Answer"
        },
        "answerQueryToken": {
          "type": "string",
          "description": "A global unique ID used for logging."
        },
        "session": {
          "description": "Session resource object. It will be only available when session field is set and valid in the AnswerQueryRequest request.",
          "$ref": "GoogleCloudDiscoveryengineV1Session"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfig",
      "description": "Configuration for NotebookLM.",
      "properties": {
        "dataProtectionPolicy": {
          "description": "Optional. Specifies the data protection policy for NotebookLM.",
          "$ref": "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicy"
        },
        "modelArmorConfig": {
          "description": "Model Armor configuration to be used for sanitizing user prompts and LLM responses.",
          "$ref": "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfigModelArmorConfig"
        },
        "optOutNotebookSharing": {
          "type": "boolean",
          "description": "Optional. Whether to disable the notebook sharing feature for the project. Default to false if not specified."
        },
        "observabilityConfig": {
          "description": "Optional. Observability config for NotebookLM.",
          "$ref": "GoogleCloudDiscoveryengineV1betaObservabilityConfig"
        }
      }
    },
    "A2aV1PushNotificationConfig": {
      "description": "Configuration for setting up push notifications for task updates.",
      "properties": {
        "id": {
          "description": "A unique identifier (e.g. UUID) for this push notification.",
          "type": "string"
        },
        "url": {
          "description": "Url to send the notification too",
          "type": "string"
        },
        "token": {
          "type": "string",
          "description": "Token unique for this task/session"
        },
        "authentication": {
          "description": "Information about the authentication to sent with the notification",
          "$ref": "A2aV1AuthenticationInfo"
        }
      },
      "id": "A2aV1PushNotificationConfig",
      "type": "object"
    },
    "A2aV1DataPart": {
      "description": "DataPart represents a structured blob. This is most commonly a JSON payload.",
      "properties": {
        "data": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "A2aV1DataPart",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1AnswerReferenceChunkInfo": {
      "type": "object",
      "description": "Chunk information.",
      "properties": {
        "documentMetadata": {
          "$ref": "GoogleCloudDiscoveryengineV1AnswerReferenceChunkInfoDocumentMetadata",
          "description": "Document metadata."
        },
        "chunk": {
          "description": "Chunk resource name.",
          "type": "string"
        },
        "relevanceScore": {
          "type": "number",
          "description": "The relevance of the chunk for a given query. Values range from 0.0 (completely irrelevant) to 1.0 (completely relevant). This value is for informational purpose only. It may change for the same query and chunk at any time due to a model retraining or change in implementation.",
          "format": "float"
        },
        "content": {
          "type": "string",
          "description": "Chunk textual content."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AnswerReferenceChunkInfo"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchLinkPromotion": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchLinkPromotion",
      "description": "Promotion proto includes uri and other helping information to display the promotion.",
      "properties": {
        "title": {
          "description": "Required. The title of the promotion. Maximum length: 160 characters.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. The Promotion description. Maximum length: 200 characters."
        },
        "document": {
          "description": "Optional. The Document the user wants to promote. For site search, leave unset and only populate uri. Can be set along with uri.",
          "type": "string"
        },
        "imageUri": {
          "description": "Optional. The promotion thumbnail image url.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "Optional. The URL for the page the user wants to promote. Must be set for site search. For other verticals, this is optional."
        },
        "enabled": {
          "description": "Optional. The enabled promotion will be returned for any serving configs associated with the parent of the control this promotion is attached to. This flag is used for basic site search only.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaBatchUpdateUserLicensesMetadata": {
      "type": "object",
      "description": "Metadata related to the progress of the UserLicenseService.BatchUpdateUserLicenses operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "failureCount": {
          "type": "string",
          "description": "Count of user licenses that failed to be updated.",
          "format": "int64"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        },
        "successCount": {
          "format": "int64",
          "description": "Count of user licenses successfully updated.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaBatchUpdateUserLicensesMetadata"
    },
    "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfigLayoutParsingConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfigLayoutParsingConfig",
      "description": "The layout parsing configurations for documents.",
      "properties": {
        "enableImageAnnotation": {
          "type": "boolean",
          "description": "Optional. If true, the LLM based annotation is added to the image during parsing."
        },
        "excludeHtmlClasses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of HTML classes to exclude from the parsed content."
        },
        "enableGetProcessedDocument": {
          "description": "Optional. If true, the processed document will be made available for the GetProcessedDocument API.",
          "type": "boolean"
        },
        "enableLlmLayoutParsing": {
          "type": "boolean",
          "description": "Optional. If true, the pdf layout will be refined using an LLM."
        },
        "structuredContentTypes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Contains the required structure types to extract from the document. Supported values: * `shareholder-structure`",
          "type": "array"
        },
        "excludeHtmlElements": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of HTML elements to exclude from the parsed content.",
          "type": "array"
        },
        "enableTableAnnotation": {
          "type": "boolean",
          "description": "Optional. If true, the LLM based annotation is added to the table during parsing."
        },
        "excludeHtmlIds": {
          "type": "array",
          "description": "Optional. List of HTML ids to exclude from the parsed content.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigParsingConfigDigitalParsingConfig": {
      "description": "The digital parsing configurations for documents.",
      "properties": {},
      "id": "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigParsingConfigDigitalParsingConfig",
      "type": "object"
    },
    "A2aV1Part": {
      "type": "object",
      "id": "A2aV1Part",
      "description": "Part represents a container for a section of communication content. Parts can be purely textual, some sort of file (image, video, etc) or a structured data blob (i.e. JSON).",
      "properties": {
        "text": {
          "type": "string"
        },
        "data": {
          "$ref": "A2aV1DataPart"
        },
        "metadata": {
          "description": "Optional metadata associated with this part.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "file": {
          "$ref": "A2aV1FilePart"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpec": {
      "id": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpec",
      "description": "A specification for configuring a summary returned in a search response.",
      "properties": {
        "useSemanticChunks": {
          "description": "If true, answer will be generated from most relevant chunks from top search results. This feature will improve summary quality. Note that with this feature enabled, not all top search results will be referenced and included in the reference list, so the citation source index only points to the search results listed in the reference list.",
          "type": "boolean"
        },
        "ignoreJailBreakingQuery": {
          "description": "Optional. Specifies whether to filter out jail-breaking queries. The default value is `false`. Google employs search-query classification to detect jail-breaking queries. No summary is returned if the search query is classified as a jail-breaking query. A user might add instructions to the query to change the tone, style, language, content of the answer, or ask the model to act as a different entity, e.g. \"Reply in the tone of a competing company's CEO\". If this field is set to `true`, we skip generating summaries for jail-breaking queries and return fallback messages instead.",
          "type": "boolean"
        },
        "ignoreLowRelevantContent": {
          "description": "Specifies whether to filter out queries that have low relevance. The default value is `false`. If this field is set to `false`, all search results are used regardless of relevance to generate answers. If set to `true`, only queries with high relevance search results will generate answers.",
          "type": "boolean"
        },
        "ignoreAdversarialQuery": {
          "type": "boolean",
          "description": "Specifies whether to filter out adversarial queries. The default value is `false`. Google employs search-query classification to detect adversarial queries. No summary is returned if the search query is classified as an adversarial query. For example, a user might ask a question regarding negative comments about the company or submit a query designed to generate unsafe, policy-violating output. If this field is set to `true`, we skip generating summaries for adversarial queries and return fallback messages instead."
        },
        "languageCode": {
          "type": "string",
          "description": "Language code for Summary. Use language tags defined by [BCP47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt). Note: This is an experimental feature."
        },
        "modelPromptSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpecModelPromptSpec",
          "description": "If specified, the spec will be used to modify the prompt provided to the LLM."
        },
        "summaryResultCount": {
          "type": "integer",
          "description": "The number of top results to generate the summary from. If the number of results returned is less than `summaryResultCount`, the summary is generated from all of the results. At most 10 results for documents mode, or 50 for chunks mode, can be used to generate a summary. The chunks mode is used when SearchRequest.ContentSearchSpec.search_result_mode is set to CHUNKS.",
          "format": "int32"
        },
        "includeCitations": {
          "description": "Specifies whether to include citations in the summary. The default value is `false`. When this field is set to `true`, summaries include in-line citation numbers. Example summary including citations: BigQuery is Google Cloud's fully managed and completely serverless enterprise data warehouse [1]. BigQuery supports all data types, works across clouds, and has built-in machine learning and business intelligence, all within a unified platform [2, 3]. The citation numbers refer to the returned search results and are 1-indexed. For example, [1] means that the sentence is attributed to the first search result. [2, 3] means that the sentence is attributed to both the second and third search results.",
          "type": "boolean"
        },
        "ignoreNonSummarySeekingQuery": {
          "description": "Specifies whether to filter out queries that are not summary-seeking. The default value is `false`. Google employs search-query classification to detect summary-seeking queries. No summary is returned if the search query is classified as a non-summary seeking query. For example, `why is the sky blue` and `Who is the best soccer player in the world?` are summary-seeking queries, but `SFO airport` and `world cup 2026` are not. They are most likely navigational queries. If this field is set to `true`, we skip generating summaries for non-summary seeking queries and return fallback messages instead.",
          "type": "boolean"
        },
        "modelSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpecModelSpec",
          "description": "If specified, the spec will be used to modify the model specification provided to the LLM."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaHealthcareFhirConfig": {
      "type": "object",
      "description": "Config to data store for `HEALTHCARE_FHIR` vertical.",
      "properties": {
        "enableConfigurableSchema": {
          "type": "boolean",
          "description": "Whether to enable configurable schema for `HEALTHCARE_FHIR` vertical. If set to `true`, the predefined healthcare fhir schema can be extended for more customized searching and filtering."
        },
        "enableStaticIndexingForBatchIngestion": {
          "type": "boolean",
          "description": "Whether to enable static indexing for `HEALTHCARE_FHIR` batch ingestion. If set to `true`, the batch ingestion will be processed in a static indexing mode which is slower but more capable of handling larger volume."
        },
        "initialFilterGroups": {
          "type": "array",
          "description": "Optional. Names of the Group resources to use as a basis for the initial patient filter, in format `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}/fhir/Group/{group_id}`. The filter group must be a FHIR resource name of type Group, and the filter will be constructed from the direct members of the group which are Patient resources.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaHealthcareFhirConfig"
    },
    "GoogleCloudDiscoveryengineV1ConverseConversationRequest": {
      "description": "Request message for ConversationalSearchService.ConverseConversation method.",
      "properties": {
        "query": {
          "description": "Required. Current user input.",
          "$ref": "GoogleCloudDiscoveryengineV1TextInput"
        },
        "servingConfig": {
          "type": "string",
          "description": "The resource name of the Serving Config to use. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store_id}/servingConfigs/{serving_config_id}` If this is not set, the default serving config will be used."
        },
        "conversation": {
          "$ref": "GoogleCloudDiscoveryengineV1Conversation",
          "description": "The conversation to be used by auto session only. The name field will be ignored as we automatically assign new name for the conversation in auto session."
        },
        "filter": {
          "description": "The filter syntax consists of an expression language for constructing a predicate from one or more fields of the documents being filtered. Filter expression is case-sensitive. This will be used to filter search results which may affect the summary response. If this field is unrecognizable, an `INVALID_ARGUMENT` is returned. Filtering in Vertex AI Search is done by mapping the LHS filter key to a key property defined in the Vertex AI Search backend -- this mapping is defined by the customer in their schema. For example a media customer might have a field 'name' in their schema. In this case the filter would look like this: filter --> name:'ANY(\"king kong\")' For more information about filtering including syntax and filter operators, see [Filter](https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata)",
          "type": "string"
        },
        "userLabels": {
          "description": "The user labels applied to a resource must meet the following requirements: * Each resource can have multiple labels, up to a maximum of 64. * Each label must be a key-value pair. * Keys have a minimum length of 1 character and a maximum length of 63 characters and cannot be empty. Values can be empty and have a maximum length of 63 characters. * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. All characters must use UTF-8 encoding, and international characters are allowed. * The key portion of a label must be unique. However, you can use the same key with multiple resources. * Keys must start with a lowercase letter or international character. See [Google Cloud Document](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements) for more details.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "summarySpec": {
          "description": "A specification for configuring the summary returned in the response.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpec"
        },
        "safeSearch": {
          "description": "Whether to turn on safe search.",
          "type": "boolean"
        },
        "boostSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestBoostSpec",
          "description": "Boost specification to boost certain documents in search results which may affect the converse response. For more information on boosting, see [Boosting](https://cloud.google.com/retail/docs/boosting#boost)"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1ConverseConversationRequest",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1SuggestionDenyListEntry": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1SuggestionDenyListEntry",
      "description": "Suggestion deny list entry identifying the phrase to block from suggestions and the applied operation for the phrase.",
      "properties": {
        "matchOperator": {
          "description": "Required. The match operator to apply for this phrase. Whether to block the exact phrase, or block any suggestions containing this phrase.",
          "enumDescriptions": [
            "Default value. Should not be used",
            "If the suggestion is an exact match to the block_phrase, then block it.",
            "If the suggestion contains the block_phrase, then block it."
          ],
          "type": "string",
          "enum": [
            "MATCH_OPERATOR_UNSPECIFIED",
            "EXACT_MATCH",
            "CONTAINS"
          ]
        },
        "blockPhrase": {
          "type": "string",
          "description": "Required. Phrase to block from suggestions served. Can be maximum 125 characters."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDynamicTool": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaDynamicTool",
      "description": "Configuration for dynamic tools.",
      "properties": {
        "description": {
          "description": "Optional. The description of the tool.",
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "Optional. Whether the tool is enabled."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the tool."
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the tool."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1TransactionInfo": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1TransactionInfo",
      "description": "A transaction represents the entire purchase transaction.",
      "properties": {
        "value": {
          "type": "number",
          "format": "float",
          "description": "Required. Total non-zero value associated with the transaction. This value may include shipping, tax, or other adjustments to the total value that you want to include."
        },
        "transactionId": {
          "type": "string",
          "description": "The transaction ID with a length limit of 128 characters."
        },
        "discountValue": {
          "type": "number",
          "format": "float",
          "description": "The total discount(s) value applied to this transaction. This figure should be excluded from TransactionInfo.value For example, if a user paid TransactionInfo.value amount, then nominal (pre-discount) value of the transaction is the sum of TransactionInfo.value and TransactionInfo.discount_value This means that profit is calculated the same way, regardless of the discount value, and that TransactionInfo.discount_value can be larger than TransactionInfo.value: * Profit = value - tax - cost"
        },
        "tax": {
          "type": "number",
          "description": "All the taxes associated with the transaction.",
          "format": "float"
        },
        "currency": {
          "description": "Required. Currency code. Use three-character ISO-4217 code.",
          "type": "string"
        },
        "cost": {
          "type": "number",
          "description": "All the costs associated with the products. These can be manufacturing costs, shipping expenses not borne by the end user, or any other costs, such that: * Profit = value - tax - cost",
          "format": "float"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1CreateSitemapMetadata": {
      "type": "object",
      "description": "Metadata related to the progress of the SiteSearchEngineService.CreateSitemap operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1CreateSitemapMetadata"
    },
    "GoogleCloudDiscoveryengineV1DataConnectorSourceEntity": {
      "id": "GoogleCloudDiscoveryengineV1DataConnectorSourceEntity",
      "description": "Represents an entity in the data source. For example, the `Account` object in Salesforce.",
      "properties": {
        "healthcareFhirConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1HealthcareFhirConfig",
          "description": "Optional. Configuration for `HEALTHCARE_FHIR` vertical."
        },
        "params": {
          "description": "The parameters for the entity to facilitate data ingestion in structured json format.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "startingSchema": {
          "description": "Optional. The start schema to use for the DataStore created from this SourceEntity. If unset, a default vertical specialized schema will be used. This field is only used by SetUpDataConnector API, and will be ignored if used in other APIs. This field will be omitted from all API responses including GetDataConnector API. To retrieve a schema of a DataStore, use SchemaService.GetSchema API instead. The provided schema will be validated against certain rules on schema. Learn more from [this doc](https://cloud.google.com/generative-ai-app-builder/docs/provide-schema).",
          "$ref": "GoogleCloudDiscoveryengineV1Schema"
        },
        "jsonParams": {
          "description": "The parameters for the entity to facilitate data ingestion in json string format.",
          "type": "string"
        },
        "entityName": {
          "type": "string",
          "description": "The name of the entity. Supported values by data source: * Salesforce: `Lead`, `Opportunity`, `Contact`, `Account`, `Case`, `Contract`, `Campaign` * Jira: `Issue` * Confluence: `Content`, `Space`"
        },
        "dataStore": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The full resource name of the associated data store for the source entity. Format: `projects/*/locations/*/collections/*/dataStores/*`. When the connector is initialized by the DataConnectorService.SetUpDataConnector method, a DataStore is automatically created for each source entity."
        },
        "keyPropertyMappings": {
          "description": "Attributes for indexing. Key: Field name. Value: The key property to map a field to, such as `title`, and `description`. Supported key properties: * `title`: The title for data record. This would be displayed on search results. * `description`: The description for data record. This would be displayed on search results.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ControlBoostActionInterpolationBoostSpecControlPoint": {
      "description": "The control points used to define the curve. The curve defined through these control points can only be monotonically increasing or decreasing(constant values are acceptable).",
      "properties": {
        "attributeValue": {
          "description": "Optional. Can be one of: 1. The numerical field value. 2. The duration spec for freshness: The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`.",
          "type": "string"
        },
        "boostAmount": {
          "type": "number",
          "description": "Optional. The value between -1 to 1 by which to boost the score if the attribute_value evaluates to the value specified above.",
          "format": "float"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1ControlBoostActionInterpolationBoostSpecControlPoint",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerBlobAttachment": {
      "description": "Stores binarydata attached to text answer, e.g. image, video, audio, etc.",
      "properties": {
        "data": {
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerBlobAttachmentBlob",
          "description": "Output only. The mime type and data of the blob."
        },
        "attributionType": {
          "type": "string",
          "enum": [
            "ATTRIBUTION_TYPE_UNSPECIFIED",
            "CORPUS",
            "GENERATED"
          ],
          "readOnly": true,
          "description": "Output only. The attribution type of the blob.",
          "enumDescriptions": [
            "Unspecified attribution type.",
            "The attachment data is from the corpus.",
            "The attachment data is generated by the model through code generation."
          ]
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerBlobAttachment",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1SearchResponseSummaryCitation": {
      "description": "Citation info for a segment.",
      "properties": {
        "endIndex": {
          "format": "int64",
          "description": "End of the attributed segment, exclusive.",
          "type": "string"
        },
        "startIndex": {
          "type": "string",
          "description": "Index indicates the start of the segment, measured in bytes/unicode.",
          "format": "int64"
        },
        "sources": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1SearchResponseSummaryCitationSource"
          },
          "description": "Citation sources for the attributed segment."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1SearchResponseSummaryCitation",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1RecommendResponse": {
      "id": "GoogleCloudDiscoveryengineV1RecommendResponse",
      "description": "Response message for Recommend method.",
      "properties": {
        "validateOnly": {
          "type": "boolean",
          "description": "True if RecommendRequest.validate_only was set."
        },
        "attributionToken": {
          "description": "A unique attribution token. This should be included in the UserEvent logs resulting from this recommendation, which enables accurate attribution of recommendation model performance.",
          "type": "string"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1RecommendResponseRecommendationResult"
          },
          "description": "A list of recommended Documents. The order represents the ranking (from the most relevant Document to the least)."
        },
        "missingIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "IDs of documents in the request that were missing from the default Branch associated with the requested ServingConfig."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicySensitiveDataProtectionPolicy": {
      "description": "Specifies a Sensitive Data Protection (https://cloud.google.com/sensitive-data-protection/docs/sensitive-data-protection-overview) policy.",
      "properties": {
        "policy": {
          "description": "Optional. The Sensitive Data Protection policy resource name.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicySensitiveDataProtectionPolicy",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservationSearchResult": {
      "properties": {
        "title": {
          "description": "Title.",
          "type": "string"
        },
        "snippetInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservationSearchResultSnippetInfo"
          },
          "description": "If citation_type is DOCUMENT_LEVEL_CITATION, populate document level snippets."
        },
        "document": {
          "type": "string",
          "description": "Document resource name."
        },
        "structData": {
          "type": "object",
          "description": "Data representation. The structured JSON data for the document. It's populated from the struct data from the Document, or the Chunk in search result.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "uri": {
          "type": "string",
          "description": "URI for the document."
        },
        "chunkInfo": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservationSearchResultChunkInfo"
          },
          "description": "If citation_type is CHUNK_LEVEL_CITATION and chunk mode is on, populate chunk info.",
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservationSearchResult",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaEvaluationEvaluationSpecQuerySetSpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaEvaluationEvaluationSpecQuerySetSpec",
      "description": "Describes the specification of the query set.",
      "properties": {
        "sampleQuerySet": {
          "type": "string",
          "description": "Optional. The full resource name of the SampleQuerySet used for the evaluation, in the format of `projects/{project}/locations/{location}/sampleQuerySets/{sampleQuerySet}`."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1BatchGetDocumentsMetadataResponseDocumentMetadataMatcherValue": {
      "id": "GoogleCloudDiscoveryengineV1BatchGetDocumentsMetadataResponseDocumentMetadataMatcherValue",
      "description": "The value of the matcher that was used to match the Document.",
      "properties": {
        "uri": {
          "description": "If match by URI, the URI of the Document.",
          "type": "string"
        },
        "fhirResource": {
          "description": "Format: projects/{project}/locations/{location}/datasets/{dataset}/fhirStores/{fhir_store}/fhir/{resource_type}/{fhir_resource_id}",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSetDedicatedCrawlRateMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSetDedicatedCrawlRateMetadata",
      "description": "Metadata related to the progress of the CrawlRateManagementService.SetDedicatedCrawlRate operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1FetchDomainVerificationStatusResponse": {
      "id": "GoogleCloudDiscoveryengineV1FetchDomainVerificationStatusResponse",
      "description": "Response message for SiteSearchEngineService.FetchDomainVerificationStatus method.",
      "properties": {
        "targetSites": {
          "type": "array",
          "description": "List of TargetSites containing the site verification status.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1TargetSite"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of items matching the request. This will always be populated in the response."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaProjectConfigurableBillingStatus": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaProjectConfigurableBillingStatus",
      "description": "Represents the currently effective configurable billing parameters. These values are derived from the customer's subscription history stored internally and reflect the thresholds actively being used for billing purposes at the time of the GetProject call. This includes the start_time of the subscription and may differ from the values in `customer_provided_config` due to billing rules (e.g., scale-downs taking effect only at the start of a new month). We also include the update type to indicate the type of update performed on the configurable billing configuration in the UpdateProject operation.",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "Optional. The start time of the currently active billing subscription.",
          "type": "string"
        },
        "searchQpmThresholdNextUpdateTime": {
          "description": "Output only. The earliest next update time for the search QPM subscription threshold. This is based on the next_update_time returned by the underlying Cloud Billing Subscription V3 API. This field is populated only if an update QPM subscription threshold request is succeeded.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "terminateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The latest terminate effective time of search qpm and indexing core subscriptions.",
          "format": "google-datetime"
        },
        "indexingCoreThresholdNextUpdateTime": {
          "format": "google-datetime",
          "description": "Output only. The earliest next update time for the indexing core subscription threshold. This is based on the next_update_time returned by the underlying Cloud Billing Subscription V3 API. This field is populated only if an update indexing core subscription threshold request is succeeded.",
          "readOnly": true,
          "type": "string"
        },
        "updateType": {
          "type": "string",
          "enum": [
            "UPDATE_TYPE_UNSPECIFIED",
            "CREATE",
            "DELETE",
            "SCALE_UP",
            "SCALE_DOWN"
          ],
          "readOnly": true,
          "description": "Output only. The type of update performed in this operation. This field is populated in the response of UpdateProject.",
          "enumDescriptions": [
            "Unspecified update type.",
            "Configurable billing was created/enabled.",
            "Configurable billing was deleted/disabled.",
            "Subscription was scaled up (thresholds increased).",
            "Subscription was scaled down (thresholds decreased)."
          ]
        },
        "agentSearchTokenSubscriptionStatuses": {
          "description": "Output only. Per-model Agent Search TPM subscription status.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaProjectConfigurableBillingStatusAgentSearchTokenSubscriptionStatus"
          },
          "readOnly": true,
          "type": "array"
        },
        "effectiveIndexingCoreThreshold": {
          "description": "Optional. The currently effective Indexing Core threshold. This is the threshold against which Indexing Core usage is compared for overage calculations.",
          "format": "int64",
          "type": "string"
        },
        "effectiveSearchQpmThreshold": {
          "type": "string",
          "description": "Optional. The currently effective Search QPM threshold in queries per minute. This is the threshold against which QPM usage is compared for overage calculations.",
          "format": "int64"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1TrainCustomModelResponse": {
      "description": "Response of the TrainCustomModelRequest. This message is returned by the google.longrunning.Operations.response field.",
      "properties": {
        "modelStatus": {
          "description": "The trained model status. Possible values are: * **bad-data**: The training data quality is bad. * **no-improvement**: Tuning didn't improve performance. Won't deploy. * **in-progress**: Model training job creation is in progress. * **training**: Model is actively training. * **evaluating**: The model is evaluating trained metrics. * **indexing**: The model trained metrics are indexing. * **ready**: The model is ready for serving.",
          "type": "string"
        },
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the data.",
          "type": "array"
        },
        "errorConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1ImportErrorConfig",
          "description": "Echoes the destination for the complete errors in the request if set."
        },
        "metrics": {
          "type": "object",
          "description": "The metrics of the trained model.",
          "additionalProperties": {
            "type": "number",
            "format": "double"
          }
        },
        "modelName": {
          "description": "Fully qualified name of the CustomTuningModel.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1TrainCustomModelResponse",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestCrowdingSpec": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestCrowdingSpec",
      "description": "Specification for crowding. Crowding improves the diversity of search results by limiting the number of results that share the same field value. For example, crowding on the color field with a max_count of 3 and mode DROP_CROWDED_RESULTS will return at most 3 results with the same color across all pages.",
      "properties": {
        "field": {
          "description": "The field to use for crowding. Documents can be crowded by a field in the Document object. Crowding field is case sensitive.",
          "type": "string"
        },
        "maxCount": {
          "format": "int32",
          "description": "The maximum number of documents to keep per value of the field. Once there are at least max_count previous results which contain the same value for the given field (according to the order specified in `order_by`), later results with the same value are \"crowded away\". If not specified, the default value is 1.",
          "type": "integer"
        },
        "mode": {
          "description": "Mode to use for documents that are crowded away.",
          "enumDescriptions": [
            "Unspecified crowding mode. In this case, server behavior defaults to Mode.DROP_CROWDED_RESULTS.",
            "Drop crowded results.",
            "Demote crowded results to the later pages."
          ],
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "DROP_CROWDED_RESULTS",
            "DEMOTE_CROWDED_RESULTS_TO_END"
          ]
        }
      }
    },
    "GoogleCloudDiscoveryengineV1ListIdentityMappingsResponse": {
      "description": "Response message for IdentityMappingStoreService.ListIdentityMappings",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "identityMappingEntries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1IdentityMappingEntry"
          },
          "description": "The Identity Mapping Entries."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1ListIdentityMappingsResponse",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ConditionQueryTerm": {
      "description": "Matcher for search request query",
      "properties": {
        "value": {
          "description": "The specific query value to match against Must be lowercase, must be UTF-8. Can have at most 3 space separated terms if full_match is true. Cannot be an empty string. Maximum length of 5000 characters.",
          "type": "string"
        },
        "fullMatch": {
[...]
