{
  "id": "discoveryengine:v1beta",
  "batchPath": "batch",
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    }
  },
  "canonicalName": "Discovery Engine",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/discoveryengine.readwrite": {
          "description": "View, edit, create, and delete all your data associated with any Discovery Engine API product, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, including both end user data and administration or configuration data."
        },
        "https://www.googleapis.com/auth/cloud_search.query": {
          "description": "Search your organization's data in the Cloud Search index"
        },
        "https://www.googleapis.com/auth/discoveryengine.assist.readwrite": {
          "description": "View your Agentspace chat history, including uploaded files and generated reports and visualizations, and interact with the Agentspace assistant on your behalf."
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite": {
          "description": "Interact with Discovery Engine API products, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, on your behalf. It will also allow the app to view all data that you have access to when you use or interact with a Discovery Engine API product."
        }
      }
    }
  },
  "ownerName": "Google",
  "mtlsRootUrl": "https://discoveryengine.mtls.googleapis.com/",
  "description": "Discovery Engine API.",
  "discoveryVersion": "v1",
  "schemas": {
    "GoogleCloudDiscoveryengineV1alphaDynamicTool": {
      "properties": {
        "displayName": {
          "description": "Optional. The display name of the tool.",
          "type": "string"
        },
        "description": {
          "description": "Optional. The description of the tool.",
          "type": "string"
        },
        "name": {
          "description": "Required. The name of the tool.",
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "Optional. Whether the tool is enabled."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaDynamicTool",
      "type": "object",
      "description": "Configuration for dynamic tools."
    },
    "GoogleCloudDiscoveryengineV1DocumentProcessingConfig": {
      "properties": {
        "defaultParsingConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfig",
          "description": "Configurations for default Document parser. If not specified, we will configure it as default DigitalParsingConfig, and the default parsing config will be applied to all file types for Document parsing."
        },
        "name": {
          "type": "string",
          "description": "The full resource name of the Document Processing Config. Format: `projects/*/locations/*/collections/*/dataStores/*/documentProcessingConfig`."
        },
        "chunkingConfig": {
          "description": "Whether chunking mode is enabled.",
          "$ref": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigChunkingConfig"
        },
        "parsingConfigOverrides": {
          "type": "object",
          "description": "Map from file type to override the default parsing configuration based on the file type. Supported keys: * `pdf`: Override parsing config for PDF files, either digital parsing, ocr parsing or layout parsing is supported. * `html`: Override parsing config for HTML files, only digital parsing and layout parsing are supported. * `docx`: Override parsing config for DOCX files, only digital parsing and layout parsing are supported. * `pptx`: Override parsing config for PPTX files, only digital parsing and layout parsing are supported. * `xlsm`: Override parsing config for XLSM files, only digital parsing and layout parsing are supported. * `xlsx`: Override parsing config for XLSX files, only digital parsing and layout parsing are supported.",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfig"
          }
        }
      },
      "description": "A singleton resource of DataStore. If it's empty when DataStore is created and DataStore is set to DataStore.ContentConfig.CONTENT_REQUIRED, the default parser will default to digital parser.",
      "id": "GoogleCloudDiscoveryengineV1DocumentProcessingConfig",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1DeleteTargetSiteMetadata": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        }
      },
      "description": "Metadata related to the progress of the SiteSearchEngineService.DeleteTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1DeleteTargetSiteMetadata",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ImportErrorConfig": {
      "properties": {
        "gcsPrefix": {
          "type": "string",
          "description": "Cloud Storage prefix for import errors. This must be an empty, existing Cloud Storage directory. Import errors are written to sharded files in this directory, one per line, as a JSON-encoded `google.rpc.Status` message."
        }
      },
      "description": "Configuration of destination for Import related errors.",
      "id": "GoogleCloudDiscoveryengineV1ImportErrorConfig",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpecModelPromptSpec": {
      "properties": {
        "preamble": {
          "type": "string",
          "description": "Text at the beginning of the prompt that instructs the assistant. Examples are available in the user guide."
        }
      },
      "description": "Specification of the prompt to use with the model.",
      "id": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpecModelPromptSpec",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaDocumentAclInfo": {
      "properties": {
        "readers": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaDocumentAclInfoAccessRestriction"
          },
          "type": "array",
          "description": "Readers of the document."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaDocumentAclInfo",
      "type": "object",
      "description": "ACL Information of the Document."
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestQueryUnderstandingSpecQueryRephraserSpec": {
      "properties": {
        "disable": {
          "description": "Disable query rephraser.",
          "type": "boolean"
        },
        "maxRephraseSteps": {
          "type": "integer",
          "description": "Max rephrase steps. The max number is 5 steps. If not set or set to < 1, it will be set to 1 by default.",
          "format": "int32"
        },
        "modelSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestQueryUnderstandingSpecQueryRephraserSpecModelSpec",
          "description": "Optional. Query Rephraser Model specification."
        }
      },
      "description": "Query rephraser specification.",
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestQueryUnderstandingSpecQueryRephraserSpec",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAssistantCustomerPolicyBannedPhrase": {
      "description": "Definition of a customer-defined banned phrase. A banned phrase is not allowed to appear in the user query or the LLM response, or else the answer will be refused.",
      "id": "GoogleCloudDiscoveryengineV1betaAssistantCustomerPolicyBannedPhrase",
      "type": "object",
      "properties": {
        "matchType": {
          "description": "Optional. Match type for the banned phrase.",
          "enum": [
            "BANNED_PHRASE_MATCH_TYPE_UNSPECIFIED",
            "SIMPLE_STRING_MATCH",
            "WORD_BOUNDARY_STRING_MATCH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Defaults to SIMPLE_STRING_MATCH.",
            "The banned phrase matches if it is found anywhere in the text as an exact substring.",
            "Banned phrase only matches if the pattern found in the text is surrounded by word delimiters. The phrase itself may still contain word delimiters."
          ]
        },
        "phrase": {
          "description": "Required. The raw string content to be banned.",
          "type": "string"
        },
        "ignoreDiacritics": {
          "type": "boolean",
          "description": "Optional. If true, diacritical marks (e.g., accents, umlauts) are ignored when matching banned phrases. For example, \"cafe\" would match \"café\"."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAlphaEvolveEvaluationScoresAlphaEvolveEvaluationScore": {
      "properties": {
        "metric": {
          "description": "Required. Name of the metric.",
          "type": "string"
        },
        "score": {
          "format": "float",
          "type": "number",
          "description": "Required. Score of a program for this metric."
        }
      },
      "description": "Score for a single metric.",
      "id": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveEvaluationScoresAlphaEvolveEvaluationScore",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperimentConfigRunSettings": {
      "properties": {
        "maxPrograms": {
          "format": "int32",
          "description": "Required. Maximum number of programs to generate during the experiment run. The initial program counts towards this limit. Must be greater than 1.",
          "type": "integer"
        },
        "concurrency": {
          "type": "integer",
          "description": "Required. Maximum number of programs that can be generated in parallel. Must be positive.",
          "format": "int32"
        },
        "maxDuration": {
          "format": "google-duration",
          "description": "Optional. Maximum duration of the experiment. If unset, defaults to 24 hours.",
          "type": "string"
        }
      },
      "description": "Run settings for the experiment.",
      "id": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperimentConfigRunSettings",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaConnectorRun": {
      "properties": {
        "latestPauseTime": {
          "description": "Output only. The time when the connector run was most recently paused.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "trigger": {
          "type": "string",
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "SCHEDULER",
            "INITIALIZATION",
            "RESUME",
            "MANUAL"
          ],
          "enumDescriptions": [
            "Default value.",
            "ConnectorRun triggered by scheduler if connector has PERIODIC sync mode.",
            "ConnectorRun auto triggered by connector initialization.",
            "ConnectorRun auto triggered by resuming connector.",
            "ConnectorRun triggered by user manually."
          ],
          "description": "Output only. The trigger for this ConnectorRun.",
          "readOnly": true
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the connector run ended.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The full resource name of the Connector Run. Format: `projects/*/locations/*/collections/*/dataConnector/connectorRuns/*`. The `connector_run_id` is system-generated.",
          "readOnly": true,
          "type": "string"
        },
        "stateUpdateTime": {
          "format": "google-datetime",
          "description": "Timestamp at which the connector run sync state was last updated.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "OVERRUN",
            "CANCELLED",
            "PENDING",
            "WARNING",
            "SKIPPED"
          ],
          "enumDescriptions": [
            "Default value.",
            "The data sync is ongoing.",
            "The data sync is finished.",
            "The data sync is failed.",
            "Data sync has been running longer than expected and is still running at the time the next run is supposed to start.",
            "Data sync was scheduled but has been cancelled.",
            "Data sync is about to start.",
            "The data sync completed with non-fatal errors.",
            "An ongoing connector run has been running longer than expected, causing this run to be skipped."
          ],
          "description": "Output only. The state of the sync run.",
          "readOnly": true
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the connector run started.",
          "readOnly": true,
          "type": "string"
        },
        "errors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Contains info about errors incurred during the sync. Only exist if running into an error state. Contains error code and error message. Use with the `state` field.",
          "type": "array"
        },
        "entityRuns": {
          "description": "Output only. The details of the entities synced at the ConnectorRun. Each ConnectorRun consists of syncing one or more entities.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaConnectorRunEntityRun"
          }
        }
      },
      "description": "A data sync run of DataConnector. After DataConnector is successfully initialized, data syncs are scheduled at DataConnector.refresh_interval. A ConnectorRun represents a data sync either in the past or onging that the moment. //",
      "id": "GoogleCloudDiscoveryengineV1alphaConnectorRun",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigEngineFeaturesConfig": {
      "properties": {
        "recommendedForYouConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigRecommendedForYouFeatureConfig",
          "description": "Recommended for you engine feature config."
        },
        "mostPopularConfig": {
          "description": "Most popular engine feature config.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigMostPopularFeatureConfig"
        }
      },
      "description": "More feature configs of the selected engine type.",
      "id": "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigEngineFeaturesConfig",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1CreateDataStoreMetadata": {
      "id": "GoogleCloudDiscoveryengineV1CreateDataStoreMetadata",
      "type": "object",
      "description": "Metadata related to the progress of the DataStoreService.CreateDataStore operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfig": {
      "description": "Stores information for federated search.",
      "id": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfig",
      "type": "object",
      "properties": {
        "thirdPartyOauthConfig": {
          "description": "Third Party OAuth config. If set, this DataStore is connected to a third party application.",
          "$ref": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigThirdPartyOauthConfig"
        },
        "alloyDbConfig": {
          "description": "AlloyDB config. If set, this DataStore is connected to AlloyDB.",
          "$ref": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfig"
        },
        "notebooklmConfig": {
          "description": "NotebookLM config. If set, this DataStore is connected to NotebookLM Enterprise.",
          "$ref": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigNotebooklmConfig"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaLicenseConfig": {
      "properties": {
        "freeTrial": {
          "description": "Optional. Whether the license config is for free trial.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The fully qualified resource name of the license config. Format: `projects/{project}/locations/{location}/licenseConfigs/{license_config}`"
        },
        "autoRenew": {
          "type": "boolean",
          "description": "Optional. Whether the license config should be auto renewed when it reaches the end date."
        },
        "subscriptionTier": {
          "description": "Required. Subscription tier information for the license config.",
          "enum": [
            "SUBSCRIPTION_TIER_UNSPECIFIED",
            "SUBSCRIPTION_TIER_SEARCH",
            "SUBSCRIPTION_TIER_SEARCH_AND_ASSISTANT",
            "SUBSCRIPTION_TIER_NOTEBOOK_LM",
            "SUBSCRIPTION_TIER_FRONTLINE_WORKER",
            "SUBSCRIPTION_TIER_AGENTSPACE_STARTER",
            "SUBSCRIPTION_TIER_AGENTSPACE_BUSINESS",
            "SUBSCRIPTION_TIER_ENTERPRISE",
            "SUBSCRIPTION_TIER_ENTERPRISE_EMERGING",
            "SUBSCRIPTION_TIER_EDU",
            "SUBSCRIPTION_TIER_EDU_PRO",
            "SUBSCRIPTION_TIER_EDU_EMERGING",
            "SUBSCRIPTION_TIER_EDU_PRO_EMERGING",
            "SUBSCRIPTION_TIER_FRONTLINE_STARTER",
            "SUBSCRIPTION_TIER_CONSUMPTION_ONLY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Search tier. Search tier can access Vertex AI Search features and NotebookLM features.",
            "Gemini Enterprise Plus tier.",
            "NotebookLM tier. NotebookLM is a subscription tier can only access NotebookLM features.",
            "Gemini Frontline worker tier.",
            "Gemini Business Starter tier.",
            "Gemini Business tier.",
            "Gemini Enterprise Standard tier.",
            "Gemini Enterprise Standard tier for emerging markets.",
            "Gemini Enterprise EDU tier.",
            "Gemini Enterprise EDU Pro tier.",
            "Gemini Enterprise EDU tier for emerging market only.",
            "Gemini Enterprise EDU Pro tier for emerging market.",
            "Gemini Frontline Starter tier.",
            "Represents the Gemini Enterprise Consumption-only tier: $0 subscription billed purely on usage (PAYG)."
          ]
        },
        "licenseCount": {
          "format": "int64",
          "type": "string",
          "description": "Required. Number of licenses purchased."
        },
        "subscriptionTerm": {
          "description": "Required. Subscription term.",
          "enum": [
            "SUBSCRIPTION_TERM_UNSPECIFIED",
            "SUBSCRIPTION_TERM_ONE_MONTH",
            "SUBSCRIPTION_TERM_ONE_YEAR",
            "SUBSCRIPTION_TERM_THREE_YEARS",
            "SUBSCRIPTION_TERM_CUSTOM"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "1 month.",
            "1 year.",
            "3 years.",
            "Custom term. Must set the end_date."
          ]
        },
        "startDate": {
          "description": "Required. The start date.",
          "$ref": "GoogleTypeDate"
        },
        "earlyTerminated": {
          "description": "Output only. Indication of whether the subscription is terminated earlier than the expiration date. This is usually terminated by pipeline once the subscription gets terminated from subsv3.",
          "readOnly": true,
          "type": "boolean"
        },
        "earlyTerminationDate": {
          "$ref": "GoogleTypeDate",
          "description": "Output only. The date when the subscription is terminated earlier than the expiration date.",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Default value. The license config does not exist.",
            "The license config is effective and being used.",
            "The license config has expired.",
            "The license config has not started yet, and its start date is in the future.",
            "This is when a sub license config has returned all its seats back to BillingAccountLicenseConfig that it belongs to. Similar to EXPIRED.",
            "The license config is terminated earlier than the expiration date and it is deactivating. The customer will still have access in this state. It will be converted to EXPIRED after the deactivating period ends (14 days) or when the end date is reached, whichever comes first."
          ],
          "description": "Output only. The state of the license config.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "EXPIRED",
            "NOT_STARTED",
            "WITHDRAWN",
            "DEACTIVATING"
          ]
        },
        "geminiBundle": {
          "description": "Output only. Whether the license config is for Gemini bundle.",
          "readOnly": true,
          "type": "boolean"
        },
        "endDate": {
          "description": "Optional. The planed end date.",
          "$ref": "GoogleTypeDate"
        }
      },
      "description": "Information about users' licenses.",
      "id": "GoogleCloudDiscoveryengineV1betaLicenseConfig",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfig": {
      "id": "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfig",
      "type": "object",
      "description": "Customer provided configurations.",
      "properties": {
        "notebooklmConfig": {
          "description": "Optional. Configuration for NotebookLM settings.",
          "$ref": "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfig"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAnswer": {
      "description": "Defines an answer.",
      "id": "GoogleCloudDiscoveryengineV1betaAnswer",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. Fully qualified name `projects/{project}/locations/global/collections/{collection}/engines/{engine}/sessions/*/answers/*`"
        },
        "citations": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAnswerCitation"
          },
          "type": "array",
          "description": "Citations."
        },
        "completeTime": {
          "format": "google-datetime",
          "description": "Output only. Answer completed timestamp.",
          "readOnly": true,
          "type": "string"
        },
        "references": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAnswerReference"
          },
          "type": "array",
          "description": "References."
        },
        "steps": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAnswerStep"
          },
          "type": "array",
          "description": "Answer generation steps."
        },
        "createTime": {
          "description": "Output only. Answer creation timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "description": "The state of the answer generation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "FAILED",
            "SUCCEEDED",
            "STREAMING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Answer generation is currently in progress.",
            "Answer generation currently failed.",
            "Answer generation has succeeded.",
            "Answer generation is currently in progress."
          ]
        },
        "queryUnderstandingInfo": {
          "description": "Query understanding information.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryUnderstandingInfo"
        },
        "answerText": {
          "description": "The textual answer.",
          "type": "string"
        },
        "groundingSupports": {
          "description": "Optional. Grounding supports.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAnswerGroundingSupport"
          }
        },
        "safetyRatings": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSafetyRating"
          },
          "description": "Optional. Safety ratings.",
          "type": "array"
        },
        "blobAttachments": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAnswerBlobAttachment"
          },
          "type": "array",
          "description": "Output only. List of blob attachments in the answer.",
          "readOnly": true
        },
        "relatedQuestions": {
          "description": "Suggested related questions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "answerSkippedReasons": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. The answer skipped reason is not specified.",
              "The adversarial query ignored case.",
              "The non-answer seeking query ignored case Google skips the answer if the query is chit chat.",
              "The out-of-domain query ignored case. Google skips the answer if there are no high-relevance search results.",
              "The potential policy violation case. Google skips the answer if there is a potential policy violation detected. This includes content that may be violent or toxic.",
              "The no relevant content case. Google skips the answer if there is no relevant content in the retrieved search results.",
              "The jail-breaking query ignored case. For example, \"Reply in the tone of a competing company's CEO\". Google skips the answer if the query is classified as a jail-breaking query.",
              "The customer policy violation case. Google skips the summary if there is a customer policy violation detected. The policy is defined by the customer.",
              "The non-answer seeking query ignored case. Google skips the answer if the query doesn't have clear intent.",
              "The low-grounded answer case. Google skips the answer if a well grounded answer was unable to be generated.",
              "The user defined query classification ignored case. Google skips the answer if the query is classified as a user defined query classification.",
              "The unhelpful answer case. Google skips the answer if the answer is not helpful. This can be due to a variety of factors, including but not limited to: the query is not answerable, the answer is not relevant to the query, or the answer is not well-formatted."
            ],
            "enum": [
              "ANSWER_SKIPPED_REASON_UNSPECIFIED",
              "ADVERSARIAL_QUERY_IGNORED",
              "NON_ANSWER_SEEKING_QUERY_IGNORED",
              "OUT_OF_DOMAIN_QUERY_IGNORED",
              "POTENTIAL_POLICY_VIOLATION",
              "NO_RELEVANT_CONTENT",
              "JAIL_BREAKING_QUERY_IGNORED",
              "CUSTOMER_POLICY_VIOLATION",
              "NON_ANSWER_SEEKING_QUERY_IGNORED_V2",
              "LOW_GROUNDED_ANSWER",
              "USER_DEFINED_CLASSIFICATION_QUERY_IGNORED",
              "UNHELPFUL_ANSWER"
            ]
          },
          "description": "Additional answer-skipped reasons. This provides the reason for ignored cases. If nothing is skipped, this field is not set.",
          "type": "array"
        },
        "groundingScore": {
          "description": "A score in the range of [0, 1] describing how grounded the answer is by the reference chunks.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleApiDistributionBucketOptions": {
      "properties": {
        "exponentialBuckets": {
          "$ref": "GoogleApiDistributionBucketOptionsExponential",
          "description": "The exponential buckets."
        },
        "linearBuckets": {
          "description": "The linear bucket.",
          "$ref": "GoogleApiDistributionBucketOptionsLinear"
        },
        "explicitBuckets": {
          "description": "The explicit buckets.",
          "$ref": "GoogleApiDistributionBucketOptionsExplicit"
        }
      },
      "description": "`BucketOptions` describes the bucket boundaries used to create a histogram for the distribution. The buckets can be in a linear sequence, an exponential sequence, or each bucket can be specified explicitly. `BucketOptions` does not include the number of values in each bucket. A bucket has an inclusive lower bound and exclusive upper bound for the values that are counted for that bucket. The upper bound of a bucket must be strictly greater than the lower bound. The sequence of N buckets for a distribution consists of an underflow bucket (number 0), zero or more finite buckets (number 1 through N - 2) and an overflow bucket (number N - 1). The buckets are contiguous: the lower bound of bucket i (i > 0) is the same as the upper bound of bucket i - 1. The buckets span the whole range of finite values: lower bound of the underflow bucket is -infinity and the upper bound of the overflow bucket is +infinity. The finite buckets are so-called because both bounds are finite.",
      "id": "GoogleApiDistributionBucketOptions",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContentTextGroundingMetadataVisualSegment": {
      "description": "Grounding information for a visual segment.",
      "id": "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContentTextGroundingMetadataVisualSegment",
      "type": "object",
      "properties": {
        "contentId": {
          "description": "The content id of the visual segment. In order to display the citation of the visual element, this content_id needs to match with the `grounded_content.content_metadata.content_id` field.",
          "type": "string"
        },
        "referenceIndices": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array",
          "description": "References for the visual segment."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaFetchSitemapsResponseSitemapMetadata": {
      "description": "Contains a Sitemap and its metadata.",
      "id": "GoogleCloudDiscoveryengineV1betaFetchSitemapsResponseSitemapMetadata",
      "type": "object",
      "properties": {
        "sitemap": {
          "description": "The Sitemap.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSitemap"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaCollection": {
      "properties": {
        "name": {
          "description": "Immutable. The full resource name of the Collection. Format: `projects/{project}/locations/{location}/collections/{collection_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The Collection display name. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned."
        },
        "dataConnector": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataConnector",
          "description": "Output only. The data connector, if present, manages the connection for data stores in the Collection. To set up the connector, use DataConnectorService.SetUpDataConnector method, which creates a new Collection while setting up the DataConnector singleton resource. Setting up connector on an existing Collection is not supported. This output only field contains a subset of the DataConnector fields, including `name`, `data_source`, `entities.entity_name` and `entities.data_store`. To get more details about a data connector, use the DataConnectorService.GetDataConnector method.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp the Collection was created at.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaCollection",
      "type": "object",
      "description": "Collection is a container for configuring resources and access to a set of DataStores."
    },
    "GoogleCloudDiscoveryengineV1alphaEnableAdvancedSiteSearchMetadata": {
      "description": "Metadata related to the progress of the SiteSearchEngineService.EnableAdvancedSiteSearch operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1alphaEnableAdvancedSiteSearchMetadata",
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSetDedicatedCrawlRateMetadata": {
      "description": "Metadata related to the progress of the CrawlRateManagementService.SetDedicatedCrawlRate operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1betaSetDedicatedCrawlRateMetadata",
      "type": "object",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaListCmekConfigsResponse": {
      "id": "GoogleCloudDiscoveryengineV1betaListCmekConfigsResponse",
      "type": "object",
      "description": "Response message for CmekConfigService.ListCmekConfigs method.",
      "properties": {
        "cmekConfigs": {
          "type": "array",
          "description": "All the customer's CmekConfigs.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaCmekConfig"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaDisableAdvancedSiteSearchResponse": {
      "properties": {},
      "id": "GoogleCloudDiscoveryengineV1betaDisableAdvancedSiteSearchResponse",
      "type": "object",
      "description": "Response message for SiteSearchEngineService.DisableAdvancedSiteSearch method."
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerGroundingSupport": {
      "properties": {
        "sources": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerCitationSource"
          },
          "description": "Optional. Citation sources for the claim.",
          "type": "array"
        },
        "groundingScore": {
          "format": "double",
          "description": "A score in the range of [0, 1] describing how grounded is a specific claim by the references. Higher value means that the claim is better supported by the reference chunks.",
          "type": "number"
        },
        "groundingCheckRequired": {
          "description": "Indicates that this claim required grounding check. When the system decided this claim didn't require attribution/grounding check, this field is set to false. In that case, no grounding check was done for the claim and therefore `grounding_score`, `sources` is not returned.",
          "type": "boolean"
        },
        "endIndex": {
          "description": "Required. End of the claim, exclusive.",
          "type": "string",
          "format": "int64"
        },
        "startIndex": {
          "format": "int64",
          "type": "string",
          "description": "Required. Index indicates the start of the claim, measured in bytes (UTF-8 unicode)."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerGroundingSupport",
      "type": "object",
      "description": "Grounding support for a claim in `answer_text`."
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigModelArmorConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigModelArmorConfig",
      "type": "object",
      "description": "Configuration for customer defined Model Armor templates to be used for sanitizing user prompts and LLM responses.",
      "properties": {
        "responseTemplate": {
          "description": "Optional. The resource name of the Model Armor Template for sanitizing LLM responses. Format: projects/{project}/locations/{location}/templates/{template_id} If not specified, no sanitization will be applied to the LLM response.",
          "type": "string"
        },
        "userPromptTemplate": {
          "type": "string",
          "description": "Optional. The resource name of the Model Armor Template for sanitizing user prompts. Format: projects/{project}/locations/{location}/templates/{template_id} If not specified, no sanitization will be applied to the user prompt."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaListDocumentsResponse": {
      "description": "Response message for DocumentService.ListDocuments method.",
      "id": "GoogleCloudDiscoveryengineV1betaListDocumentsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListDocumentsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "documents": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaDocument"
          },
          "description": "The Documents.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaListSchemasResponse": {
      "description": "Response message for SchemaService.ListSchemas method.",
      "id": "GoogleCloudDiscoveryengineV1betaListSchemasResponse",
      "type": "object",
      "properties": {
        "schemas": {
          "type": "array",
          "description": "The Schemas.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSchema"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListSchemasRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaCustomFineTuningSpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaCustomFineTuningSpec",
      "type": "object",
      "description": "Defines custom fine tuning spec.",
      "properties": {
        "enableSearchAdaptor": {
          "description": "Whether or not to enable and include custom fine tuned search adaptor model.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaImportUserEventsMetadata": {
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Operation last update time. If the operation is done, this is also the finish time.",
          "readOnly": true,
          "type": "string"
        },
        "successCount": {
          "type": "string",
          "description": "Count of entries that were processed successfully.",
          "format": "int64"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "failureCount": {
          "type": "string",
          "description": "Count of entries that encountered errors while processing.",
          "format": "int64"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaImportUserEventsMetadata",
      "type": "object",
      "description": "Metadata related to the progress of the Import operation. This is returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1betaDocumentContent": {
      "description": "Unstructured data linked to this document.",
      "id": "GoogleCloudDiscoveryengineV1betaDocumentContent",
      "type": "object",
      "properties": {
        "rawBytes": {
          "format": "byte",
          "description": "The content represented as a stream of bytes. The maximum length is 1,000,000 bytes (1 MB / ~0.95 MiB). Note: As with all `bytes` fields, this field is represented as pure binary in Protocol Buffers and base64-encoded string in JSON. For example, `abc123!?$*&()'-=@~` should be represented as `YWJjMTIzIT8kKiYoKSctPUB+` in JSON. See https://developers.google.com/protocol-buffers/docs/proto3#json.",
          "type": "string"
        },
        "mimeType": {
          "description": "The MIME type of the content. Supported types: * `application/pdf` (PDF, only native PDFs are supported for now) * `text/html` (HTML) * `text/plain` (TXT) * `application/xml` or `text/xml` (XML) * `application/json` (JSON) * `application/vnd.openxmlformats-officedocument.wordprocessingml.document` (DOCX) * `application/vnd.openxmlformats-officedocument.presentationml.presentation` (PPTX) * `application/vnd.openxmlformats-officedocument.spreadsheetml.sheet` (XLSX) * `application/vnd.ms-excel.sheet.macroenabled.12` (XLSM) The following types are supported only if layout parser is enabled in the data store: * `image/bmp` (BMP) * `image/gif` (GIF) * `image/jpeg` (JPEG) * `image/png` (PNG) * `image/tiff` (TIFF) See https://www.iana.org/assignments/media-types/media-types.xhtml.",
          "type": "string"
        },
        "uri": {
          "description": "The URI of the content. Only Cloud Storage URIs (e.g. `gs://bucket-name/path/to/file`) are supported. The maximum file size is 2.5 MB for text-based formats, 200 MB for other formats.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1EngineChatEngineMetadata": {
      "description": "Additional information of a Chat Engine. Fields in this message are output only.",
      "id": "GoogleCloudDiscoveryengineV1EngineChatEngineMetadata",
      "type": "object",
      "properties": {
        "dialogflowAgent": {
          "type": "string",
          "description": "The resource name of a Dialogflow agent, that this Chat Engine refers to. Format: `projects//locations//agents/`."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaEvaluation": {
      "description": "An evaluation is a single execution (or run) of an evaluation process. It encapsulates the state of the evaluation and the resulting data.",
      "id": "GoogleCloudDiscoveryengineV1betaEvaluation",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "The evaluation is unspecified.",
            "The service is preparing to run the evaluation.",
            "The evaluation is in progress.",
            "The evaluation completed successfully.",
            "The evaluation failed."
          ],
          "description": "Output only. The state of the evaluation.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Output only. A sample of errors encountered while processing the request.",
          "readOnly": true,
          "type": "array"
        },
        "evaluationSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaEvaluationEvaluationSpec",
          "description": "Required. The specification of the evaluation."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp the Evaluation was created at.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The full resource name of the Evaluation, in the format of `projects/{project}/locations/{location}/evaluations/{evaluation}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "Output only. The error that occurred during evaluation. Only populated when the evaluation's state is FAILED.",
          "readOnly": true
        },
        "qualityMetrics": {
          "description": "Output only. The metrics produced by the evaluation, averaged across all SampleQuerys in the SampleQuerySet. Only populated when the evaluation's state is SUCCEEDED.",
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1betaQualityMetrics"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp the Evaluation was completed at.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDiscoveryengineV1Control": {
      "properties": {
        "useCases": {
          "items": {
            "enum": [
              "SEARCH_USE_CASE_UNSPECIFIED",
              "SEARCH_USE_CASE_SEARCH",
              "SEARCH_USE_CASE_BROWSE"
            ],
            "type": "string",
            "enumDescriptions": [
              "Value used when unset. Will not occur in CSS.",
              "Search use case. Expects the traffic has a non-empty query.",
              "Browse use case. Expects the traffic has an empty query."
            ]
          },
          "type": "array",
          "description": "Specifies the use case for the control. Affects what condition fields can be set. Only applies to SOLUTION_TYPE_SEARCH. Currently only allow one use case per control. Must be set when solution_type is SolutionType.SOLUTION_TYPE_SEARCH."
        },
        "redirectAction": {
          "$ref": "GoogleCloudDiscoveryengineV1ControlRedirectAction",
          "description": "Defines a redirect-type control."
        },
        "promoteAction": {
          "description": "Promote certain links based on predefined trigger queries.",
          "$ref": "GoogleCloudDiscoveryengineV1ControlPromoteAction"
        },
        "conditions": {
          "type": "array",
          "description": "Determines when the associated action will trigger. Omit to always apply the action. Currently only a single condition may be specified. Otherwise an INVALID ARGUMENT error is thrown.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1Condition"
          }
        },
        "boostAction": {
          "description": "Defines a boost-type control",
          "$ref": "GoogleCloudDiscoveryengineV1ControlBoostAction"
        },
        "filterAction": {
          "description": "Defines a filter-type control Currently not supported by Recommendation",
          "$ref": "GoogleCloudDiscoveryengineV1ControlFilterAction"
        },
        "name": {
          "description": "Immutable. Fully qualified name `projects/*/locations/global/dataStore/*/controls/*`",
          "type": "string"
        },
        "synonymsAction": {
          "$ref": "GoogleCloudDiscoveryengineV1ControlSynonymsAction",
          "description": "Treats a group of terms as synonyms of one another."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Human readable name. The identifier used in UI views. Must be UTF-8 encoded string. Length limit is 128 characters. Otherwise an INVALID ARGUMENT error is thrown."
        },
        "associatedServingConfigIds": {
          "description": "Output only. List of all ServingConfig IDs this control is attached to. May take up to 10 minutes to update after changes.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "solutionType": {
          "description": "Required. Immutable. What solution the control belongs to. Must be compatible with vertical of resource. Otherwise an INVALID ARGUMENT error is thrown.",
          "enum": [
            "SOLUTION_TYPE_UNSPECIFIED",
            "SOLUTION_TYPE_RECOMMENDATION",
            "SOLUTION_TYPE_SEARCH",
            "SOLUTION_TYPE_CHAT",
            "SOLUTION_TYPE_GENERATIVE_CHAT",
            "SOLUTION_TYPE_AI_MODE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Used for Recommendations AI.",
            "Used for Discovery Search.",
            "Used for use cases related to the Generative AI agent.",
            "Used for use cases related to the Generative Chat agent. It's used for Generative chat engine only, the associated data stores must enrolled with `SOLUTION_TYPE_CHAT` solution.",
            "Used for AI Mode."
          ]
        }
      },
      "id": "GoogleCloudDiscoveryengineV1Control",
      "type": "object",
      "description": "Defines a conditioned behavior to employ during serving. Must be attached to a ServingConfig to be considered at serving time. Permitted actions dependent on `SolutionType`."
    },
    "GoogleCloudDiscoveryengineV1ProjectConfigurableBillingStatusAgentSearchTokenSubscriptionStatus": {
      "id": "GoogleCloudDiscoveryengineV1ProjectConfigurableBillingStatusAgentSearchTokenSubscriptionStatus",
      "type": "object",
      "description": "Per-model Agent Search TPM subscription status. One entry per active `core_subscription.agent_search_token_subscriptions[*]` entry in the customer-provided config; populated by UpdateProject and GetProject. The lifecycle scalars on this message (`start_time`, `terminate_time`, `update_type`, `tpm_threshold_next_update_time`) are per (project, model_version) — siblings of the whole-relationship `start_time` / `terminate_time` / `update_type` on the enclosing ConfigurableBillingStatus, but scoped to this specific Agent Search TPM subscription instead of to the overall customer-configurable- pricing relationship. This per-instance granularity is intentional: the underlying SubV3 storage is per-(project, model_version), so each model has its own activation, termination, and deferred-update clock; surfacing that on the response gives customers the granularity they need to manage per-model commitments independently. QPM / IndexingCore differ — their storage is one row per (project, location), so their lifecycle is represented only by the whole- relationship scalars on ConfigurableBillingStatus.",
      "properties": {
        "effectiveTpmThreshold": {
          "type": "string",
          "description": "Output only. The currently effective TPM threshold. Reflects scale-up immediately and scale-down at the next billing cycle, matching `effective_search_qpm_threshold` semantics.",
          "readOnly": true,
          "format": "int64"
        },
        "updateType": {
          "enumDescriptions": [
            "Unspecified update type.",
            "Configurable billing was created/enabled.",
            "Configurable billing was deleted/disabled.",
            "Subscription was scaled up (thresholds increased).",
            "Subscription was scaled down (thresholds decreased)."
          ],
          "description": "Output only. The type of the most recent update to this (project, model_version) subscription, as performed by the most recent UpdateProject call. `UPDATE_TYPE_UNSPECIFIED` indicates this model_version was not touched by the most recent UpdateProject (its `effective_tpm_threshold` reflects an earlier update). The whole-relationship `update_type` on the enclosing ConfigurableBillingStatus continues to summarize the direction of the most recent update across all surfaces in the project (QPM, IndexingCore, and Agent Search TPM together).",
          "readOnly": true,
          "type": "string",
          "enum": [
            "UPDATE_TYPE_UNSPECIFIED",
            "CREATE",
            "DELETE",
            "SCALE_UP",
            "SCALE_DOWN"
          ]
        },
        "modelVersion": {
          "type": "string",
          "description": "Output only. The Gemini model version this status corresponds to. Matches CoreSubscription.AgentSearchTokenSubscription.model_version (a stable Gemini model version from the Gemini Enterprise Agent Platform model-versions registry; see https://docs.cloud.google.com/gemini-enterprise-agent-platform/models/model-versions#gemini-models).",
          "readOnly": true
        },
        "tpmThresholdNextUpdateTime": {
          "type": "string",
          "description": "Output only. The earliest next update time for the TPM subscription threshold for this (project, model_version). Populated only after a successful update.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. When this (project, model_version) Agent Search TPM subscription was first activated. Set once on first activation of this model version and never moved by subsequent threshold updates; on termination + re-activation a new value is recorded. Does NOT move the whole-relationship `start_time` on the enclosing ConfigurableBillingStatus, which continues to represent the first activation of the overall customer-configurable-pricing relationship.",
          "readOnly": true
        },
        "terminateTime": {
          "description": "Output only. If set, the scheduled effective time at which this (project, model_version) Agent Search TPM subscription will terminate. Populated when the customer removes this entry from `core_subscription.agent_search_token_subscriptions[*]`. Does NOT move the whole-relationship `terminate_time` on the enclosing ConfigurableBillingStatus, which is populated only when the entire customer-configurable-pricing relationship is being torn down.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAlphaEvolveProgram": {
      "properties": {
        "name": {
          "description": "Identifier. Unique identifier for the program. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/sessions/{session}/alphaEvolveExperiments/{alpha_evolve_experiment}/alphaEvolvePrograms/{alpha_evolve_program}`",
          "type": "string"
        },
        "content": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveProgramContent",
          "description": "Optional. Content of the program."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time when the program was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "lockToken": {
          "type": "string",
          "description": "Optional. Lock token for the program."
        },
        "state": {
          "type": "string",
          "enum": [
            "PROGRAM_STATE_UNSPECIFIED",
            "INITIALIZED",
            "GENERATING",
            "EVALUATING",
            "COMPLETED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The program is initialized.",
            "The program is in generation.",
            "The program is pending evaluation.",
            "The program is completed."
          ],
          "description": "Output only. State of the program.",
          "readOnly": true
        },
        "evaluation": {
          "description": "Optional. Evaluation results for the program.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveProgramEvaluation"
        },
        "parentPrograms": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Optionally specifies which parent programs this program was evolved from. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/sessions/{session}/alphaEvolveExperiments/{alpha_evolve_experiment}/alphaEvolvePrograms/{alpha_evolve_program}`",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveProgram",
      "type": "object",
      "description": "Represents a single program to be used within the context of an AlphaEvolve experiment."
    },
    "GoogleCloudDiscoveryengineV1IdpConfig": {
      "properties": {
        "externalIdpConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1IdpConfigExternalIdpConfig",
          "description": "External Identity provider config."
        },
        "idpType": {
          "type": "string",
          "enumDescriptions": [
            "Default value. ACL search not enabled.",
            "Google 1P provider.",
            "Third party provider."
          ],
          "description": "Identity provider type configured.",
          "enum": [
            "IDP_TYPE_UNSPECIFIED",
            "GSUITE",
            "THIRD_PARTY"
          ]
        }
      },
      "description": "Identity Provider Config.",
      "id": "GoogleCloudDiscoveryengineV1IdpConfig",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequest": {
      "properties": {
        "queryExpansionSpec": {
          "description": "The query expansion specification that specifies the conditions under which query expansion occurs.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestQueryExpansionSpec"
        },
        "userPseudoId": {
          "description": "Optional. A unique identifier for tracking visitors. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor logs in or out of the website. This field should NOT have a fixed value such as `unknown_visitor`. This should be the same identifier as UserEvent.user_pseudo_id and CompleteQueryRequest.user_pseudo_id The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "type": "string"
        },
        "safeSearch": {
          "description": "Whether to turn on safe search. This is only supported for website search.",
          "type": "boolean"
        },
        "rankingExpressionBackend": {
          "enumDescriptions": [
            "Default option for unspecified/unknown values.",
            "Deprecated: Use `RANK_BY_EMBEDDING` instead. Ranking by custom embedding model, the default way to evaluate the ranking expression. Legacy enum option, `RANK_BY_EMBEDDING` should be used instead.",
            "Deprecated: Use `RANK_BY_FORMULA` instead. Ranking by custom formula. Legacy enum option, `RANK_BY_FORMULA` should be used instead.",
            "Ranking by custom embedding model, the default way to evaluate the ranking expression.",
            "Ranking by custom formula."
          ],
          "description": "Optional. The backend to use for the ranking expression evaluation.",
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false
          ],
          "enum": [
            "RANKING_EXPRESSION_BACKEND_UNSPECIFIED",
            "BYOE",
            "CLEARBOX",
            "RANK_BY_EMBEDDING",
            "RANK_BY_FORMULA"
          ]
        },
        "query": {
          "description": "Raw search query.",
          "type": "string"
        },
        "pageToken": {
          "type": "string",
          "description": "A page token received from a previous SearchService.Search call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to SearchService.Search must match the call that provided the page token. Otherwise, an `INVALID_ARGUMENT` error is returned."
        },
        "offset": {
          "type": "integer",
          "description": "A 0-indexed integer that specifies the current offset (that is, starting result location, amongst the Documents deemed by the API as relevant) in search results. This field is only considered if page_token is unset. If this field is negative, an `INVALID_ARGUMENT` is returned. A large offset may be capped to a reasonable threshold.",
          "format": "int32"
        },
        "contentSearchSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpec",
          "description": "A specification for configuring the behavior of content search."
        },
        "dataStoreSpecs": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestDataStoreSpec"
          },
          "type": "array",
          "description": "Specifications that define the specific DataStores to be searched, along with configurations for those data stores. This is only considered for Engines with multiple data stores. For engines with a single data store, the specs directly under SearchRequest should be used."
        },
        "pageSize": {
          "description": "Maximum number of Documents to return. The maximum allowed value depends on the data type. Values above the maximum value are coerced to the maximum value. * Websites with basic indexing: Default `10`, Maximum `25`. * Websites with advanced indexing: Default `25`, Maximum `50`. * Other: Default `50`, Maximum `100`. If this field is negative, an `INVALID_ARGUMENT` is returned.",
          "type": "integer",
          "format": "int32"
        },
        "params": {
          "type": "object",
          "description": "Additional search parameters. For public website search only, supported values are: * `user_country_code`: string. Default empty. If set to non-empty, results are restricted or boosted based on the location provided. For example, `user_country_code: \"au\"` For available codes see [Country Codes](https://developers.google.com/custom-search/docs/json_api_reference#countryCodes) * `search_type`: double. Default empty. Enables non-webpage searching depending on the value. The only valid non-default value is 1, which enables image searching. For example, `search_type: 1`",
          "additionalProperties": {
            "type": "any"
          }
        },
        "useLatestData": {
          "description": "Uses the Engine, ServingConfig and Control freshly read from the database. Note: this skips config cache and introduces dependency on databases, which could significantly increase the API latency. It should only be used for testing, but not serving end users.",
          "type": "boolean"
        },
        "searchAsYouTypeSpec": {
          "description": "Search as you type configuration. Only supported for the IndustryVertical.MEDIA vertical.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestSearchAsYouTypeSpec"
        },
        "relevanceFilterSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestRelevanceFilterSpec",
          "description": "Optional. The granular relevance filtering specification. If not specified, the global `relevance_threshold` will be used for all sub-searches. If specified, this overrides the global `relevance_threshold` to use thresholds on a per sub-search basis. This feature is currently supported only for custom and site search."
        },
        "imageQuery": {
          "description": "Raw image query.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestImageQuery"
        },
        "sessionSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestSessionSpec",
          "description": "Session specification. Can be used only when `session` is set."
        },
        "boostSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpec",
          "description": "Boost specification to boost certain documents. For more information on boosting, see [Boosting](https://cloud.google.com/generative-ai-app-builder/docs/boost-search-results)"
        },
        "spellCorrectionSpec": {
          "description": "The spell correction specification that specifies the mode under which spell correction takes effect.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestSpellCorrectionSpec"
        },
        "canonicalFilter": {
          "type": "string",
          "description": "The default filter that is applied when a user performs a search without checking any filters on the search page. The filter applied to every search request when quality improvement such as query expansion is needed. In the case a query does not have a sufficient amount of results this filter will be used to determine whether or not to enable the query expansion flow. The original filter will still be used for the query expanded search. This field is strongly recommended to achieve high search quality. For more information about filter syntax, see SearchRequest.filter."
        },
        "userLabels": {
          "description": "The user labels applied to a resource must meet the following requirements: * Each resource can have multiple labels, up to a maximum of 64. * Each label must be a key-value pair. * Keys have a minimum length of 1 character and a maximum length of 63 characters and cannot be empty. Values can be empty and have a maximum length of 63 characters. * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. All characters must use UTF-8 encoding, and international characters are allowed. * The key portion of a label must be unique. However, you can use the same key with multiple resources. * Keys must start with a lowercase letter or international character. See [Google Cloud Document](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements) for more details.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "filter": {
          "description": "The filter syntax consists of an expression language for constructing a predicate from one or more fields of the documents being filtered. Filter expression is case-sensitive. If this field is unrecognizable, an `INVALID_ARGUMENT` is returned. Filtering in Vertex AI Search is done by mapping the LHS filter key to a key property defined in the Vertex AI Search backend -- this mapping is defined by the customer in their schema. For example a media customer might have a field 'name' in their schema. In this case the filter would look like this: filter --> name:'ANY(\"king kong\")' For more information about filtering including syntax and filter operators, see [Filter](https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata)",
          "type": "string"
        },
        "personalizationSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestPersonalizationSpec",
          "description": "The specification for personalization. Notice that if both ServingConfig.personalization_spec and SearchRequest.personalization_spec are set, SearchRequest.personalization_spec overrides ServingConfig.personalization_spec."
        },
        "branch": {
          "description": "The branch resource name, such as `projects/*/locations/global/collections/default_collection/dataStores/default_data_store/branches/0`. Use `default_branch` as the branch ID or leave this field empty, to search documents under the default branch.",
          "type": "string"
        },
        "searchAddonSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestSearchAddonSpec",
          "description": "Optional. SearchAddonSpec is used to disable add-ons for search as per new repricing model. This field is only supported for search requests."
        },
        "numResultsPerDataStore": {
          "description": "Optional. The maximum number of results to retrieve from each data store. If not specified, it will use the SearchRequest.DataStoreSpec.num_results if provided, otherwise there is no limit.",
          "type": "integer",
          "format": "int32"
        },
        "customFineTuningSpec": {
          "description": "Custom fine tuning configs. If set, it has higher priority than the configs set in ServingConfig.custom_fine_tuning_spec.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaCustomFineTuningSpec"
        },
        "crowdingSpecs": {
          "description": "Optional. Crowding specifications for improving result diversity. If multiple CrowdingSpecs are specified, crowding will be evaluated on each unique combination of the `field` values, and max_count will be the maximum value of `max_count` across all CrowdingSpecs. For example, if the first CrowdingSpec has `field` = \"color\" and `max_count` = 3, and the second CrowdingSpec has `field` = \"size\" and `max_count` = 2, then after 3 documents that share the same color AND size have been returned, subsequent ones should be removed or demoted.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestCrowdingSpec"
          }
        },
        "session": {
          "description": "The session resource name. Optional. Session allows users to do multi-turn /search API calls or coordination between /search API calls and /answer API calls. Example #1 (multi-turn /search API calls): Call /search API with the session ID generated in the first call. Here, the previous search query gets considered in query standing. I.e., if the first query is \"How did Alphabet do in 2022?\" and the current query is \"How about 2023?\", the current query will be interpreted as \"How did Alphabet do in 2023?\". Example #2 (coordination between /search API calls and /answer API calls): Call /answer API with the session ID generated in the first call. Here, the answer generation happens in the context of the search results from the first search call.",
          "type": "string"
        },
        "relevanceScoreSpec": {
          "description": "Optional. The specification for returning the relevance score.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestRelevanceScoreSpec"
        },
        "entity": {
          "type": "string",
          "description": "Optional. The entity for customers that may run multiple different entities, domains, sites or regions, for example, \"Google US\", \"Google Ads\", \"Waymo\", \"google.com\", \"youtube.com\", etc. If this is set, it should be exactly matched with UserEvent.entity to get search results boosted by entity."
        },
        "servingConfig": {
          "type": "string",
          "description": "Required. The resource name of the Search serving config, such as `projects/*/locations/global/collections/default_collection/engines/*/servingConfigs/default_serving_config`, or `projects/*/locations/global/collections/default_collection/dataStores/default_data_store/servingConfigs/default_serving_config`. This field is used to identify the serving configuration name, set of models used to make the search."
        },
        "regionCode": {
          "type": "string",
          "description": "The Unicode country/region code (CLDR) of a location, such as \"US\" and \"419\". For more information, see [Standard fields](https://cloud.google.com/apis/design/standard_fields). If set, then results will be boosted based on the region_code provided."
        },
        "customRankingParams": {
          "description": "Optional. Optional configuration for the Custom Ranking feature.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestCustomRankingParams"
        },
        "naturalLanguageQueryUnderstandingSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestNaturalLanguageQueryUnderstandingSpec",
          "description": "Optional. Config for natural language query understanding capabilities, such as extracting structured field filters from the query. Refer to [this documentation](https://cloud.google.com/generative-ai-app-builder/docs/natural-language-queries) for more information. If `naturalLanguageQueryUnderstandingSpec` is not specified, no additional natural language query understanding will be done."
        },
        "displaySpec": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestDisplaySpec",
          "description": "Optional. Config for display feature, like match highlighting on search results."
        },
        "facetSpecs": {
          "type": "array",
          "description": "Facet specifications for faceted search. If empty, no facets are returned. A maximum of 100 values are allowed. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestFacetSpec"
          }
        },
        "relevanceThreshold": {
          "type": "string",
          "enumDescriptions": [
            "Default value. In this case, server behavior defaults to Google defined threshold.",
            "Lowest relevance threshold.",
            "Low relevance threshold.",
            "Medium relevance threshold.",
            "High relevance threshold."
          ],
          "description": "The global relevance threshold of the search results. Defaults to Google defined threshold, leveraging a balance of precision and recall to deliver both highly accurate results and comprehensive coverage of relevant information. If more granular relevance filtering is required, use the `relevance_filter_spec` instead. This feature is not supported for healthcare search.",
          "enum": [
            "RELEVANCE_THRESHOLD_UNSPECIFIED",
            "LOWEST",
            "LOW",
            "MEDIUM",
            "HIGH"
          ]
        },
        "oneBoxPageSize": {
          "description": "The maximum number of results to return for OneBox. This applies to each OneBox type individually. Default number is 10.",
          "type": "integer",
          "format": "int32"
        },
        "userInfo": {
          "description": "Information about the end user. Highly recommended for analytics and personalization. UserInfo.user_agent is used to deduce `device_type` for analytics.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaUserInfo"
        },
        "embeddingSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestEmbeddingSpec",
          "description": "Uses the provided embedding to do additional semantic document retrieval. The retrieval is based on the dot product of SearchRequest.EmbeddingSpec.EmbeddingVector.vector and the document embedding that is provided in SearchRequest.EmbeddingSpec.EmbeddingVector.field_path. If SearchRequest.EmbeddingSpec.EmbeddingVector.field_path is not provided, it will use ServingConfig.EmbeddingConfig.field_path."
        },
        "orderBy": {
          "description": "The order in which documents are returned. Documents can be ordered by a field in an Document object. Leave it unset if ordered by relevance. `order_by` expression is case-sensitive. For more information on ordering the website search results, see [Order web search results](https://cloud.google.com/generative-ai-app-builder/docs/order-web-search-results). For more information on ordering the healthcare search results, see [Order healthcare search results](https://cloud.google.com/generative-ai-app-builder/docs/order-hc-results). If this field is unrecognizable, an `INVALID_ARGUMENT` is returned.",
          "type": "string"
        },
        "languageCode": {
          "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see [Standard fields](https://cloud.google.com/apis/design/standard_fields). This field helps to better interpret the query. If a value isn't specified, the query language code is automatically detected, which may not be accurate.",
          "type": "string"
        },
        "rankingExpression": {
          "type": "string",
          "description": "Optional. The ranking expression controls the customized ranking on retrieval documents. This overrides ServingConfig.ranking_expression. The syntax and supported features depend on the `ranking_expression_backend` value. If `ranking_expression_backend` is not provided, it defaults to `RANK_BY_EMBEDDING`. If ranking_expression_backend is not provided or set to `RANK_BY_EMBEDDING`, it should be a single function or multiple functions that are joined by \"+\". * ranking_expression = function, { \" + \", function }; Supported functions: * double * relevance_score * double * dotProduct(embedding_field_path) Function variables: * `relevance_score`: pre-defined keywords, used for measure relevance between query and document. * `embedding_field_path`: the document embedding field used with query embedding vector. * `dotProduct`: embedding function between `embedding_field_path` and query embedding vector. Example ranking expression: If document has an embedding field doc_embedding, the ranking expression could be `0.5 * relevance_score + 0.3 * dotProduct(doc_embedding)`. If ranking_expression_backend is set to `RANK_BY_FORMULA`, the following expression types (and combinations of those chained using + or * operators) are supported: * `double` * `signal` * `log(signal)` * `exp(signal)` * `rr(signal, double > 0)` -- reciprocal rank transformation with second argument being a denominator constant. * `is_nan(signal)` -- returns 0 if signal is NaN, 1 otherwise. * `fill_nan(signal1, signal2 | double)` -- if signal1 is NaN, returns signal2 | double, else returns signal1. Here are a few examples of ranking formulas that use the supported ranking expression types: - `0.2 * semantic_similarity_score + 0.8 * log(keyword_similarity_score)` -- mostly rank by the logarithm of `keyword_similarity_score` with slight `semantic_smilarity_score` adjustment. - `0.2 * exp(fill_nan(semantic_similarity_score, 0)) + 0.3 * is_nan(keyword_similarity_score)` -- rank by the exponent of `semantic_similarity_score` filling the value with 0 if it's NaN, also add constant 0.3 adjustment to the final score if `semantic_similarity_score` is NaN. - `0.2 * rr(semantic_similarity_score, 16) + 0.8 * rr(keyword_similarity_score, 16)` -- mostly rank by the reciprocal rank of `keyword_similarity_score` with slight adjustment of reciprocal rank of `semantic_smilarity_score`. The following signals are supported: * `semantic_similarity_score`: semantic similarity adjustment that is calculated using the embeddings generated by a proprietary Google model. This score determines how semantically similar a search query is to a document. * `keyword_similarity_score`: keyword match adjustment uses the Best Match 25 (BM25) ranking function. This score is calculated using a probabilistic model to estimate the probability that a document is relevant to a given query. * `relevance_score`: semantic relevance adjustment that uses a proprietary Google model to determine the meaning and intent behind a user's query in context with the content in the documents. * `pctr_rank`: predicted conversion rate adjustment as a rank use predicted Click-through rate (pCTR) to gauge the relevance and attractiveness of a search result from a user's perspective. A higher pCTR suggests that the result is more likely to satisfy the user's query and intent, making it a valuable signal for ranking. * `freshness_rank`: freshness adjustment as a rank * `document_age`: The time in hours elapsed since the document was last updated, a floating-point number (e.g., 0.25 means 15 minutes). * `topicality_rank`: topicality adjustment as a rank. Uses proprietary Google model to determine the keyword-based overlap between the query and the document. * `base_rank`: the default rank of the result * `media_actor_match`: whether the media actor matches the query * `media_director_match`: whether the media director matches the query * `media_genre_match`: whether the media genre matches the query * `media_language_match`: whether the media language matches the query * `media_title_match`: whether the media title matches the query * `media_prefix_similarity_rank`: prefix similarity rank for media results * `media_semantic_similarity_rank`: semantic similarity rank for media results"
        },
        "pageCategories": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The categories associated with a category page. Must be set for category navigation queries to achieve good search quality. The format should be the same as PageInfo.page_category. This field is the equivalent of the query for browse (navigation) queries. It's used by the browse model when the query is empty. If the field is empty, it will not be used by the browse model. If the field contains more than one element, only the first element will be used. To represent full path of a category, use '>' character to separate different hierarchies. If '>' is part of the category name, replace it with other character(s). For example, `Graphics Cards > RTX>4090 > Founders Edition` where \"RTX > 4090\" represents one level, can be rewritten as `Graphics Cards > RTX_4090 > Founders Edition`"
        }
      },
      "description": "Request message for SearchService.Search method.",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequest",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaQueryPartDriveDocumentReference": {
      "properties": {
        "displayTitle": {
          "description": "The display title of the reference.",
          "type": "string"
        },
        "destinationUri": {
          "description": "The destination uri of the reference.",
          "type": "string"
        },
        "iconUri": {
          "type": "string",
          "description": "The icon uri of the Drive document reference."
        },
        "fileId": {
          "description": "Output only. The file id of the Drive document data stored in the session context files.",
          "readOnly": true,
          "type": "string"
        },
        "documentName": {
          "type": "string",
          "description": "The full resource name of the document. Format: `projects/*/locations/*/collections/*/dataStores/*/branches/*/documents/*`."
        },
        "driveId": {
          "type": "string",
          "description": "The Drive id of the document."
        }
      },
      "description": "Represents a Google Drive document reference.",
      "id": "GoogleCloudDiscoveryengineV1alphaQueryPartDriveDocumentReference",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestEndUserSpecEndUserMetaData": {
      "properties": {
        "chunkInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestEndUserSpecEndUserMetaDataChunkInfo",
          "description": "Chunk information."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestEndUserSpecEndUserMetaData",
      "type": "object",
      "description": "End user metadata."
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpecMultiModalSpec": {
      "properties": {
        "imageSource": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified image source (multimodal feature is disabled by default).",
            "Behavior when service determines the pick from all available sources.",
            "Includes image from corpus in the answer.",
            "Triggers figure generation in the answer."
          ],
          "description": "Optional. Source of image returned in the answer.",
          "enum": [
            "IMAGE_SOURCE_UNSPECIFIED",
            "ALL_AVAILABLE_SOURCES",
            "CORPUS_IMAGE_ONLY",
            "FIGURE_GENERATION_ONLY"
          ]
        }
      },
      "description": "Multimodal specification: Will return an image from specified source. If multiple sources are specified, the pick is a quality based decision.",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpecMultiModalSpec",
      "type": "object"
    },
    "GoogleApiMetric": {
      "properties": {
        "type": {
          "type": "string",
          "description": "An existing metric type, see google.api.MetricDescriptor. For example, `custom.googleapis.com/invoice/paid/amount`."
        },
        "labels": {
          "description": "The set of label values that uniquely identify this metric. All labels listed in the `MetricDescriptor` must be assigned values.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "A specific metric, identified by specifying values for all of the labels of a `MetricDescriptor`.",
      "id": "GoogleApiMetric",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaBatchCreateTargetSitesResponse": {
      "description": "Response message for SiteSearchEngineService.BatchCreateTargetSites method.",
      "id": "GoogleCloudDiscoveryengineV1betaBatchCreateTargetSitesResponse",
      "type": "object",
      "properties": {
        "targetSites": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaTargetSite"
          },
          "description": "TargetSites created.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1Condition": {
      "description": "Defines circumstances to be checked before allowing a behavior",
      "id": "GoogleCloudDiscoveryengineV1Condition",
      "type": "object",
      "properties": {
        "activeTimeRange": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1ConditionTimeRange"
          },
          "type": "array",
          "description": "Range of time(s) specifying when condition is active. Maximum of 10 time ranges."
        },
        "queryRegex": {
          "description": "Optional. Query regex to match the whole search query. Cannot be set when Condition.query_terms is set. Only supported for Basic Site Search promotion serving controls.",
          "type": "string"
        },
        "queryTerms": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1ConditionQueryTerm"
          },
          "description": "Search only A list of terms to match the query on. Cannot be set when Condition.query_regex is set. Maximum of 10 query terms.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaEngineSearchEngineConfig": {
      "description": "Configurations for a Search Engine.",
      "id": "GoogleCloudDiscoveryengineV1betaEngineSearchEngineConfig",
      "type": "object",
      "properties": {
        "searchTier": {
          "type": "string",
          "enumDescriptions": [
            "Default value when the enum is unspecified. This is invalid to use.",
            "Standard tier.",
            "Enterprise tier."
          ],
          "description": "The search feature tier of this engine. Different tiers might have different pricing. To learn more, check the pricing documentation. Defaults to SearchTier.SEARCH_TIER_STANDARD if not specified.",
          "enum": [
            "SEARCH_TIER_UNSPECIFIED",
            "SEARCH_TIER_STANDARD",
            "SEARCH_TIER_ENTERPRISE"
          ]
        },
        "requiredSubscriptionTier": {
          "description": "Optional. The required subscription tier of this engine. If the required subscription tier is search, user with higher license tier like assist can still access the standalone app associated with this engine. Web grounding feature is only available on the app if it is set as SubscriptionTier.SUBSCRIPTION_TIER_SEARCH_AND_ASSISTANT.",
          "enum": [
            "SUBSCRIPTION_TIER_UNSPECIFIED",
            "SUBSCRIPTION_TIER_SEARCH",
            "SUBSCRIPTION_TIER_SEARCH_AND_ASSISTANT",
            "SUBSCRIPTION_TIER_NOTEBOOK_LM",
            "SUBSCRIPTION_TIER_FRONTLINE_WORKER",
            "SUBSCRIPTION_TIER_AGENTSPACE_STARTER",
            "SUBSCRIPTION_TIER_AGENTSPACE_BUSINESS",
            "SUBSCRIPTION_TIER_ENTERPRISE",
            "SUBSCRIPTION_TIER_ENTERPRISE_EMERGING",
            "SUBSCRIPTION_TIER_EDU",
            "SUBSCRIPTION_TIER_EDU_PRO",
            "SUBSCRIPTION_TIER_EDU_EMERGING",
            "SUBSCRIPTION_TIER_EDU_PRO_EMERGING",
            "SUBSCRIPTION_TIER_FRONTLINE_STARTER",
            "SUBSCRIPTION_TIER_CONSUMPTION_ONLY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Search tier. Search tier can access Vertex AI Search features and NotebookLM features.",
            "Gemini Enterprise Plus tier.",
            "NotebookLM tier. NotebookLM is a subscription tier can only access NotebookLM features.",
            "Gemini Frontline worker tier.",
            "Gemini Business Starter tier.",
            "Gemini Business tier.",
            "Gemini Enterprise Standard tier.",
            "Gemini Enterprise Standard tier for emerging markets.",
            "Gemini Enterprise EDU tier.",
            "Gemini Enterprise EDU Pro tier.",
            "Gemini Enterprise EDU tier for emerging market only.",
            "Gemini Enterprise EDU Pro tier for emerging market.",
            "Gemini Frontline Starter tier.",
            "Represents the Gemini Enterprise Consumption-only tier: $0 subscription billed purely on usage (PAYG)."
          ]
        },
        "searchAddOns": {
          "type": "array",
          "description": "The add-on that this search engine enables.",
          "items": {
            "enum": [
              "SEARCH_ADD_ON_UNSPECIFIED",
              "SEARCH_ADD_ON_LLM"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default value when the enum is unspecified. This is invalid to use.",
              "Large language model add-on."
            ]
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaEngineMediaRecommendationEngineConfigRecommendedForYouFeatureConfig": {
      "id": "GoogleCloudDiscoveryengineV1betaEngineMediaRecommendationEngineConfigRecommendedForYouFeatureConfig",
      "type": "object",
      "description": "Additional feature configurations for creating a `recommended-for-you` engine.",
      "properties": {
        "contextEventType": {
          "type": "string",
          "description": "The type of event with which the engine is queried at prediction time. If set to `generic`, only `view-item`, `media-play`,and `media-complete` will be used as `context-event` in engine training. If set to `view-home-page`, `view-home-page` will also be used as `context-events` in addition to `view-item`, `media-play`, and `media-complete`. Currently supported for the `recommended-for-you` engine. Currently supported values: `view-home-page`, `generic`."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchResponseSummaryCitation": {
      "properties": {
        "sources": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSearchResponseSummaryCitationSource"
          },
          "description": "Citation sources for the attributed segment.",
          "type": "array"
        },
        "startIndex": {
          "format": "int64",
          "type": "string",
          "description": "Index indicates the start of the segment, measured in bytes/unicode."
        },
        "endIndex": {
          "description": "End of the attributed segment, exclusive.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Citation info for a segment.",
      "id": "GoogleCloudDiscoveryengineV1betaSearchResponseSummaryCitation",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1UpdateTargetSiteMetadata": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        }
      },
      "description": "Metadata related to the progress of the SiteSearchEngineService.UpdateTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1UpdateTargetSiteMetadata",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaFactChunk": {
      "id": "GoogleCloudDiscoveryengineV1betaFactChunk",
      "type": "object",
      "description": "Fact Chunk.",
      "properties": {
        "source": {
          "type": "string",
          "description": "Source from which this fact chunk was retrieved. If it was retrieved from the GroundingFacts provided in the request then this field will contain the index of the specific fact from which this chunk was retrieved."
        },
        "domain": {
          "description": "The domain of the source.",
          "type": "string"
        },
        "index": {
          "format": "int32",
          "description": "The index of this chunk. Currently, only used for the streaming mode.",
          "type": "integer"
        },
        "chunkText": {
          "description": "Text content of the fact chunk. Can be at most 10K characters long.",
          "type": "string"
        },
        "sourceMetadata": {
          "description": "More fine-grained information for the source reference.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "title": {
          "type": "string",
          "description": "The title of the source."
        },
        "uri": {
          "description": "The URI of the source.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaLicenseConfigUsageStats": {
      "properties": {
        "licenseConfig": {
          "type": "string",
          "description": "Required. The LicenseConfig name."
        },
        "usedLicenseCount": {
          "description": "Required. The number of licenses used.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Stats about users' licenses.",
      "id": "GoogleCloudDiscoveryengineV1betaLicenseConfigUsageStats",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaCreateTargetSiteMetadata": {
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        }
      },
      "description": "Metadata related to the progress of the SiteSearchEngineService.CreateTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field.",
[...]
