{
  "ownerDomain": "google.com",
  "version_module": true,
  "revision": "20260908",
  "version": "v1beta",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "description": "Discovery Engine API.",
  "title": "Discovery Engine API",
  "name": "discoveryengine",
  "rootUrl": "https://discoveryengine.googleapis.com/",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "schemas": {
    "GoogleCloudDiscoveryengineV1IdpConfigExternalIdpConfig": {
      "properties": {
        "workforcePoolName": {
          "type": "string",
          "description": "Workforce pool name. Example: \"locations/global/workforcePools/pool_id\""
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1IdpConfigExternalIdpConfig",
      "description": "Third party IDP Config."
    },
    "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfigLayoutParsingConfig": {
      "properties": {
        "excludeHtmlIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of HTML ids to exclude from the parsed content."
        },
        "excludeHtmlClasses": {
          "description": "Optional. List of HTML classes to exclude from the parsed content.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "enableLlmLayoutParsing": {
          "type": "boolean",
          "description": "Optional. If true, the pdf layout will be refined using an LLM."
        },
        "excludeHtmlElements": {
          "description": "Optional. List of HTML elements to exclude from the parsed content.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "enableImageAnnotation": {
          "description": "Optional. If true, the LLM based annotation is added to the image during parsing.",
          "type": "boolean"
        },
        "enableTableAnnotation": {
          "description": "Optional. If true, the LLM based annotation is added to the table during parsing.",
          "type": "boolean"
        },
        "enableGetProcessedDocument": {
          "description": "Optional. If true, the processed document will be made available for the GetProcessedDocument API.",
          "type": "boolean"
        },
        "structuredContentTypes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Contains the required structure types to extract from the document. Supported values: * `shareholder-structure`",
          "type": "array"
        }
      },
      "description": "The layout parsing configurations for documents.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfigLayoutParsingConfig"
    },
    "GoogleCloudDiscoveryengineV1ProjectConfigurableBillingStatus": {
      "type": "object",
      "description": "Represents the currently effective configurable billing parameters. These values are derived from the customer's subscription history stored internally and reflect the thresholds actively being used for billing purposes at the time of the GetProject call. This includes the start_time of the subscription and may differ from the values in `customer_provided_config` due to billing rules (e.g., scale-downs taking effect only at the start of a new month). We also include the update type to indicate the type of update performed on the configurable billing configuration in the UpdateProject operation.",
      "id": "GoogleCloudDiscoveryengineV1ProjectConfigurableBillingStatus",
      "properties": {
        "updateType": {
          "enum": [
            "UPDATE_TYPE_UNSPECIFIED",
            "CREATE",
            "DELETE",
            "SCALE_UP",
            "SCALE_DOWN"
          ],
          "enumDescriptions": [
            "Unspecified update type.",
            "Configurable billing was created/enabled.",
            "Configurable billing was deleted/disabled.",
            "Subscription was scaled up (thresholds increased).",
            "Subscription was scaled down (thresholds decreased)."
          ],
          "readOnly": true,
          "description": "Output only. The type of update performed in this operation. This field is populated in the response of UpdateProject.",
          "type": "string"
        },
        "agentSearchTokenSubscriptionStatuses": {
          "description": "Output only. Per-model Agent Search TPM subscription status.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1ProjectConfigurableBillingStatusAgentSearchTokenSubscriptionStatus"
          },
          "readOnly": true
        },
        "terminateTime": {
          "description": "Output only. The latest terminate effective time of search qpm and indexing core subscriptions.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "effectiveIndexingCoreThreshold": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The currently effective Indexing Core threshold. This is the threshold against which Indexing Core usage is compared for overage calculations."
        },
        "effectiveSearchQpmThreshold": {
          "type": "string",
          "description": "Optional. The currently effective Search QPM threshold in queries per minute. This is the threshold against which QPM usage is compared for overage calculations.",
          "format": "int64"
        },
        "indexingCoreThresholdNextUpdateTime": {
          "type": "string",
          "description": "Output only. The earliest next update time for the indexing core subscription threshold. This is based on the next_update_time returned by the underlying Cloud Billing Subscription V3 API. This field is populated only if an update indexing core subscription threshold request is succeeded.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "searchQpmThresholdNextUpdateTime": {
          "description": "Output only. The earliest next update time for the search QPM subscription threshold. This is based on the next_update_time returned by the underlying Cloud Billing Subscription V3 API. This field is populated only if an update QPM subscription threshold request is succeeded.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "description": "Optional. The start time of the currently active billing subscription.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaCreateSchemaMetadata": {
      "description": "Metadata for Create Schema LRO.",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaCreateSchemaMetadata"
    },
    "GoogleCloudDiscoveryengineV1betaLicenseConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaLicenseConfig",
      "properties": {
        "licenseCount": {
          "description": "Required. Number of licenses purchased.",
          "type": "string",
          "format": "int64"
        },
        "lastUserUpdateTime": {
          "description": "Optional. Timestamp of the most recent user-initiated update (seat count change or subscription term change). Unlike `update_time`, this field is only stamped when a customer explicitly updates the license (e.g. via the UI), and is not touched by system-driven writes (subscription pipeline, BALC propagation, etc.).",
          "format": "google-datetime",
          "type": "string"
        },
        "startDate": {
          "$ref": "GoogleTypeDate",
          "description": "Required. The start date."
        },
        "earlyTerminationDate": {
          "description": "Output only. The date when the subscription is terminated earlier than the expiration date.",
          "readOnly": true,
          "$ref": "GoogleTypeDate"
        },
        "freeTrial": {
          "description": "Optional. Whether the license config is for free trial.",
          "type": "boolean"
        },
        "endDate": {
          "description": "Optional. The planed end date.",
          "$ref": "GoogleTypeDate"
        },
        "geminiBundle": {
          "description": "Output only. Whether the license config is for Gemini bundle.",
          "type": "boolean",
          "readOnly": true
        },
        "subscriptionTerm": {
          "enumDescriptions": [
            "Default value, do not use.",
            "1 month.",
            "1 year.",
            "3 years.",
            "Custom term. Must set the end_date."
          ],
          "type": "string",
          "description": "Required. Subscription term.",
          "enum": [
            "SUBSCRIPTION_TERM_UNSPECIFIED",
            "SUBSCRIPTION_TERM_ONE_MONTH",
            "SUBSCRIPTION_TERM_ONE_YEAR",
            "SUBSCRIPTION_TERM_THREE_YEARS",
            "SUBSCRIPTION_TERM_CUSTOM"
          ]
        },
        "name": {
          "description": "Immutable. Identifier. The fully qualified resource name of the license config. Format: `projects/{project}/locations/{location}/licenseConfigs/{license_config}`",
          "type": "string"
        },
        "earlyTerminated": {
          "readOnly": true,
          "description": "Output only. Indication of whether the subscription is terminated earlier than the expiration date. This is usually terminated by pipeline once the subscription gets terminated from subsv3.",
          "type": "boolean"
        },
        "autoRenew": {
          "description": "Optional. Whether the license config should be auto renewed when it reaches the end date.",
          "type": "boolean"
        },
        "subscriptionTier": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Search tier. Search tier can access Vertex AI Search features and NotebookLM features.",
            "Gemini Enterprise Plus tier.",
            "NotebookLM tier. NotebookLM is a subscription tier can only access NotebookLM features.",
            "Gemini Frontline worker tier.",
            "Gemini Business Starter tier.",
            "Gemini Business tier.",
            "Gemini Enterprise Standard tier.",
            "Gemini Enterprise Standard tier for emerging markets.",
            "Gemini Enterprise EDU tier.",
            "Gemini Enterprise EDU Pro tier.",
            "Gemini Enterprise EDU tier for emerging market only.",
            "Gemini Enterprise EDU Pro tier for emerging market.",
            "Gemini Frontline Starter tier.",
            "Represents the Gemini Enterprise Consumption-only tier: $0 subscription billed purely on usage (PAYG).",
            "Gemini Enterprise EDU tier for government in emerging markets."
          ],
          "enum": [
            "SUBSCRIPTION_TIER_UNSPECIFIED",
            "SUBSCRIPTION_TIER_SEARCH",
            "SUBSCRIPTION_TIER_SEARCH_AND_ASSISTANT",
            "SUBSCRIPTION_TIER_NOTEBOOK_LM",
            "SUBSCRIPTION_TIER_FRONTLINE_WORKER",
            "SUBSCRIPTION_TIER_AGENTSPACE_STARTER",
            "SUBSCRIPTION_TIER_AGENTSPACE_BUSINESS",
            "SUBSCRIPTION_TIER_ENTERPRISE",
            "SUBSCRIPTION_TIER_ENTERPRISE_EMERGING",
            "SUBSCRIPTION_TIER_EDU",
            "SUBSCRIPTION_TIER_EDU_PRO",
            "SUBSCRIPTION_TIER_EDU_EMERGING",
            "SUBSCRIPTION_TIER_EDU_PRO_EMERGING",
            "SUBSCRIPTION_TIER_FRONTLINE_STARTER",
            "SUBSCRIPTION_TIER_CONSUMPTION_ONLY",
            "SUBSCRIPTION_TIER_EDU_GOV_EMERGING"
          ],
          "description": "Required. Subscription tier information for the license config."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "EXPIRED",
            "NOT_STARTED",
            "WITHDRAWN",
            "DEACTIVATING"
          ],
          "readOnly": true,
          "description": "Output only. The state of the license config.",
          "enumDescriptions": [
            "Default value. The license config does not exist.",
            "The license config is effective and being used.",
            "The license config has expired.",
            "The license config has not started yet, and its start date is in the future.",
            "This is when a sub license config has returned all its seats back to BillingAccountLicenseConfig that it belongs to. Similar to EXPIRED.",
            "The license config is terminated earlier than the expiration date and it is deactivating. The customer will still have access in this state. It will be converted to EXPIRED after the deactivating period ends (14 days) or when the end date is reached, whichever comes first."
          ],
          "type": "string"
        }
      },
      "description": "Information about users' licenses."
    },
    "GoogleCloudDiscoveryengineV1betaBigtableSource": {
      "id": "GoogleCloudDiscoveryengineV1betaBigtableSource",
      "type": "object",
      "description": "The Cloud Bigtable source for importing data.",
      "properties": {
        "tableId": {
          "description": "Required. The table ID of the Cloud Bigtable that needs to be imported.",
          "type": "string"
        },
        "instanceId": {
          "description": "Required. The instance ID of the Cloud Bigtable that needs to be imported.",
          "type": "string"
        },
        "projectId": {
          "description": "The project ID that contains the Bigtable source. Has a length limit of 128 characters. If not specified, inherits the project ID from the parent request.",
          "type": "string"
        },
        "bigtableOptions": {
          "$ref": "GoogleCloudDiscoveryengineV1betaBigtableOptions",
          "description": "Required. Bigtable options that contains information needed when parsing data into typed structures. For example, column type annotations."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1PurgeSuggestionDenyListEntriesResponse": {
      "properties": {
        "purgeCount": {
          "format": "int64",
          "description": "Number of suggestion deny list entries purged.",
          "type": "string"
        },
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "A sample of errors encountered while processing the request."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1PurgeSuggestionDenyListEntriesResponse",
      "type": "object",
      "description": "Response message for CompletionService.PurgeSuggestionDenyListEntries method."
    },
    "GoogleCloudDiscoveryengineV1alphaCollection": {
      "type": "object",
      "description": "Collection is a container for configuring resources and access to a set of DataStores.",
      "properties": {
        "name": {
          "description": "Immutable. The full resource name of the Collection. Format: `projects/{project}/locations/{location}/collections/{collection_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The Collection display name. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp the Collection was created at.",
          "format": "google-datetime"
        },
        "dataConnector": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataConnector",
          "description": "Output only. The data connector, if present, manages the connection for data stores in the Collection. To set up the connector, use DataConnectorService.SetUpDataConnector method, which creates a new Collection while setting up the DataConnector singleton resource. Setting up connector on an existing Collection is not supported. This output only field contains a subset of the DataConnector fields, including `name`, `data_source`, `entities.entity_name` and `entities.data_store`. To get more details about a data connector, use the DataConnectorService.GetDataConnector method.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaCollection"
    },
    "GoogleCloudDiscoveryengineV1betaBatchUpdateUserLicensesRequestInlineSource": {
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Optional. The list of fields to update."
        },
        "userLicenses": {
          "description": "Required. A list of user licenses to update. Each user license must have a valid UserLicense.user_principal.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaUserLicense"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaBatchUpdateUserLicensesRequestInlineSource",
      "type": "object",
      "description": "The inline source for the input config for BatchUpdateUserLicenses method."
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultList": {
      "properties": {
        "searchResults": {
          "description": "Search results.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultListSearchResult"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultList",
      "description": "Search result list."
    },
    "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterStringConstraint": {
      "properties": {
        "querySegment": {
          "description": "Identifies the keywords within the search query that match a filter.",
          "type": "string"
        },
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Values of the string field. The record will only be returned if the field value matches one of the values specified here."
        },
        "fieldName": {
          "description": "Name of the string field as defined in the schema.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterStringConstraint",
      "description": "Constraint expression of a string field.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaEnableAdvancedSiteSearchMetadata": {
      "type": "object",
      "description": "Metadata related to the progress of the SiteSearchEngineService.EnableAdvancedSiteSearch operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaEnableAdvancedSiteSearchMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerCitation": {
      "properties": {
        "sources": {
          "type": "array",
          "description": "Citation sources for the attributed segment.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerCitationSource"
          }
        },
        "startIndex": {
          "format": "int64",
          "description": "Index indicates the start of the segment, measured in bytes (UTF-8 unicode). If there are multi-byte characters,such as non-ASCII characters, the index measurement is longer than the string length.",
          "type": "string"
        },
        "endIndex": {
          "type": "string",
          "format": "int64",
          "description": "End of the attributed segment, exclusive. Measured in bytes (UTF-8 unicode). If there are multi-byte characters,such as non-ASCII characters, the index measurement is longer than the string length."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerCitation",
      "description": "Citation info for a segment.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAlertPolicyConfigAlertEnrollment": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAlertPolicyConfigAlertEnrollment",
      "description": "The alert enrollment status.",
      "properties": {
        "enrollState": {
          "type": "string",
          "description": "Required. The enrollment status of a customer.",
          "enumDescriptions": [
            "Default value. Used for customers who have not responded to the alert policy.",
            "Customer is enrolled in this policy.",
            "Customer declined this policy."
          ],
          "enum": [
            "ENROLL_STATES_UNSPECIFIED",
            "ENROLLED",
            "DECLINED"
          ]
        },
        "alertId": {
          "description": "Immutable. The id of an alert.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaStreamAssistResponseSessionInfo": {
      "properties": {
        "session": {
          "description": "Name of the newly generated or continued session. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/sessions/{session}`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaStreamAssistResponseSessionInfo",
      "type": "object",
      "description": "Information about the session."
    },
    "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigParsingConfigOcrParsingConfig": {
      "type": "object",
      "properties": {
        "useNativeText": {
          "description": "If true, will use native text instead of OCR text on pages containing native text.",
          "type": "boolean"
        },
        "enhancedDocumentElements": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "[DEPRECATED] This field is deprecated. To use the additional enhanced document elements processing, please switch to `layout_parsing_config`.",
          "deprecated": true
        }
      },
      "description": "The OCR parsing configurations for documents.",
      "id": "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigParsingConfigOcrParsingConfig"
    },
    "GoogleCloudDiscoveryengineV1betaListControlsResponse": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaListControlsResponse",
      "properties": {
        "controls": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaControl"
          },
          "description": "All the Controls for a given data store."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token, if not returned indicates the last page."
        }
      },
      "description": "Response for ListControls method."
    },
    "GoogleCloudDiscoveryengineV1betaCrawlRateTimeSeries": {
      "type": "object",
      "description": "The historical crawl rate timeseries data, used for monitoring.",
      "id": "GoogleCloudDiscoveryengineV1betaCrawlRateTimeSeries",
      "properties": {
        "qpsTimeSeries": {
          "description": "The QPS of the crawl rate.",
          "$ref": "GoogleMonitoringV3TimeSeries"
        }
      }
    },
    "GoogleApiMetric": {
      "description": "A specific metric, identified by specifying values for all of the labels of a `MetricDescriptor`.",
      "type": "object",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The set of label values that uniquely identify this metric. All labels listed in the `MetricDescriptor` must be assigned values.",
          "type": "object"
        },
        "type": {
          "description": "An existing metric type, see google.api.MetricDescriptor. For example, `custom.googleapis.com/invoice/paid/amount`.",
          "type": "string"
        }
      },
      "id": "GoogleApiMetric"
    },
    "GoogleCloudDiscoveryengineV1betaConverseConversationResponse": {
      "id": "GoogleCloudDiscoveryengineV1betaConverseConversationResponse",
      "description": "Response message for ConversationalSearchService.ConverseConversation method.",
      "properties": {
        "reply": {
          "$ref": "GoogleCloudDiscoveryengineV1betaReply",
          "description": "Answer to the current query."
        },
        "searchResults": {
          "description": "Search Results.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSearchResponseSearchResult"
          }
        },
        "conversation": {
          "description": "Updated conversation including the answer.",
          "$ref": "GoogleCloudDiscoveryengineV1betaConversation"
        },
        "relatedQuestions": {
          "description": "Suggested related questions.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1Schema": {
      "properties": {
        "structSchema": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "The structured representation of the schema."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The full resource name of the schema, in the format of `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/schemas/{schema}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters."
        },
        "jsonSchema": {
          "description": "The JSON representation of the schema.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Defines the structure and layout of a type of document data.",
      "id": "GoogleCloudDiscoveryengineV1Schema"
    },
    "GoogleCloudDiscoveryengineV1alphaFieldConfig": {
      "properties": {
        "keyPropertyType": {
          "description": "Output only. Type of the key property that this field is mapped to. Empty string if this is not annotated as mapped to a key property. Example types are `title`, `description`. Full list is defined by `keyPropertyMapping` in the schema field annotation. If the schema field has a `KeyPropertyMapping` annotation, `indexable_option` and `searchable_option` of this field cannot be modified.",
          "type": "string",
          "readOnly": true
        },
        "fieldType": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Field type is unspecified.",
            "Field value type is Object.",
            "Field value type is String.",
            "Field value type is Number.",
            "Field value type is Integer.",
            "Field value type is Boolean.",
            "Field value type is Geolocation. Geolocation is expressed as an object with the following keys: * `id`: a string representing the location id * `longitude`: a number representing the longitude coordinate of the location * `latitude`: a number repesenting the latitude coordinate of the location * `address`: a string representing the full address of the location `latitude` and `longitude` must always be provided together. At least one of a) `address` or b) `latitude`-`longitude` pair must be provided.",
            "Field value type is Datetime. Datetime can be expressed as either: * a number representing milliseconds-since-the-epoch * a string representing milliseconds-since-the-epoch. e.g. `\"1420070400001\"` * a string representing the [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date or date and time. e.g. `\"2015-01-01\"` or `\"2015-01-01T12:10:30Z\"`"
          ],
          "enum": [
            "FIELD_TYPE_UNSPECIFIED",
            "OBJECT",
            "STRING",
            "NUMBER",
            "INTEGER",
            "BOOLEAN",
            "GEOLOCATION",
            "DATETIME"
          ],
          "description": "Output only. Raw type of the field."
        },
        "recsFilterableOption": {
          "type": "string",
          "description": "If recs_filterable_option is FILTERABLE_ENABLED, field values are filterable by filter expression in RecommendationService.Recommend. If FILTERABLE_ENABLED but the field type is numerical, field values are not filterable by text queries in RecommendationService.Recommend. Only textual fields are supported. If recs_filterable_option is unset, the default setting is FILTERABLE_DISABLED for fields that support setting filterable options. When a field set to [FILTERABLE_DISABLED] is filtered, a warning is generated and an empty result is returned.",
          "enumDescriptions": [
            "Value used when unset.",
            "Filterable option enabled for a schema field.",
            "Filterable option disabled for a schema field."
          ],
          "enum": [
            "FILTERABLE_OPTION_UNSPECIFIED",
            "FILTERABLE_ENABLED",
            "FILTERABLE_DISABLED"
          ]
        },
        "retrievableOption": {
          "enum": [
            "RETRIEVABLE_OPTION_UNSPECIFIED",
            "RETRIEVABLE_ENABLED",
            "RETRIEVABLE_DISABLED"
          ],
          "description": "If retrievable_option is RETRIEVABLE_ENABLED, field values are included in the search results. If retrievable_option is unset, the server behavior defaults to RETRIEVABLE_DISABLED for fields that support setting retrievable options. For those fields that do not support setting retrievable options, such as `object` and `boolean`, the server will skip retrievable option setting, and setting retrievable_option for those fields will throw `INVALID_ARGUMENT` error.",
          "enumDescriptions": [
            "Value used when unset.",
            "Retrievable option enabled for a schema field.",
            "Retrievable option disabled for a schema field."
          ],
          "type": "string"
        },
        "searchableFieldImportance": {
          "enumDescriptions": [
            "Value used when unset. Behaves as `DEFAULT_IMPORTANCE` if the field is searchable.",
            "Provides a tiny signal for search.",
            "Indicates the field is used for search, but is less important than the default.",
            "Default importance. Equivalent to previous behavior.",
            "More important than default fields.",
            "Most important field for search."
          ],
          "enum": [
            "SEARCHABLE_FIELD_IMPORTANCE_UNSPECIFIED",
            "VERY_LOW_IMPORTANCE",
            "LOW_IMPORTANCE",
            "DEFAULT_IMPORTANCE",
            "HIGH_IMPORTANCE",
            "VERY_HIGH_IMPORTANCE"
          ],
          "description": "Optional. Specifies the importance of the field when `searchable_option` is `SEARCHABLE_ENABLED`. If `searchable_option` is `SEARCHABLE_DISABLED`, this field is ignored. If `searchable_option` is `SEARCHABLE_ENABLED` and this is `SEARCHABLE_FIELD_IMPORTANCE_UNSPECIFIED`, it behaves as `DEFAULT_IMPORTANCE`. For more information, see [Weight searchable fields](https://cloud.google.com/generative-ai-app-builder/docs/configure-field-settings#weight-search).",
          "type": "string"
        },
        "metatagName": {
          "description": "Optional. The metatag name found in the HTML page. If user defines this field, the value of this metatag name will be used to extract metatag. If the user does not define this field, the FieldConfig.field_path will be used to extract metatag.",
          "type": "string"
        },
        "dynamicFacetableOption": {
          "description": "If dynamic_facetable_option is DYNAMIC_FACETABLE_ENABLED, field values are available for dynamic facet. Could only be DYNAMIC_FACETABLE_DISABLED if FieldConfig.indexable_option is INDEXABLE_DISABLED. Otherwise, an `INVALID_ARGUMENT` error will be returned. If dynamic_facetable_option is unset, the server behavior defaults to DYNAMIC_FACETABLE_DISABLED for fields that support setting dynamic facetable options. For those fields that do not support setting dynamic facetable options, such as `object` and `boolean`, the server will skip dynamic facetable option setting, and setting dynamic_facetable_option for those fields will throw `INVALID_ARGUMENT` error.",
          "enum": [
            "DYNAMIC_FACETABLE_OPTION_UNSPECIFIED",
            "DYNAMIC_FACETABLE_ENABLED",
            "DYNAMIC_FACETABLE_DISABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Value used when unset.",
            "Dynamic facetable option enabled for a schema field.",
            "Dynamic facetable option disabled for a schema field."
          ]
        },
        "searchableOption": {
          "enum": [
            "SEARCHABLE_OPTION_UNSPECIFIED",
            "SEARCHABLE_ENABLED",
            "SEARCHABLE_DISABLED"
          ],
          "description": "If searchable_option is SEARCHABLE_ENABLED, field values are searchable by text queries in SearchService.Search. If SEARCHABLE_ENABLED but field type is numerical, field values will not be searchable by text queries in SearchService.Search, as there are no text values associated to numerical fields. If searchable_option is unset, the server behavior defaults to SEARCHABLE_DISABLED for fields that support setting searchable options. Only `string` fields that have no key property mapping support setting searchable_option. For those fields that do not support setting searchable options, the server will skip searchable option setting, and setting searchable_option for those fields will throw `INVALID_ARGUMENT` error.",
          "enumDescriptions": [
            "Value used when unset.",
            "Searchable option enabled for a schema field.",
            "Searchable option disabled for a schema field."
          ],
          "type": "string"
        },
        "advancedSiteSearchDataSources": {
          "items": {
            "enum": [
              "ADVANCED_SITE_SEARCH_DATA_SOURCE_UNSPECIFIED",
              "METATAGS",
              "PAGEMAP",
              "URI_PATTERN_MAPPING",
              "SCHEMA_ORG"
            ],
            "enumDescriptions": [
              "Value used when unset.",
              "Retrieve value from meta tag.",
              "Retrieve value from page map.",
              "Retrieve value from the attributes set by SiteSearchEngineService.SetUriPatternDocumentData API.",
              "Retrieve value from schema.org data."
            ],
            "type": "string"
          },
          "description": "If this field is set, only the corresponding source will be indexed for this field. Otherwise, the values from different sources are merged. Assuming a page with `` in meta tag, and `` in page map: if this enum is set to METATAGS, we will only index ``; if this enum is not set, we will merge them and index ``.",
          "type": "array"
        },
        "indexableOption": {
          "enumDescriptions": [
            "Value used when unset.",
            "Indexable option enabled for a schema field.",
            "Indexable option disabled for a schema field."
          ],
          "type": "string",
          "description": "If indexable_option is INDEXABLE_ENABLED, field values are indexed so that it can be filtered or faceted in SearchService.Search. If indexable_option is unset, the server behavior defaults to INDEXABLE_DISABLED for fields that support setting indexable options. For those fields that do not support setting indexable options, such as `object` and `boolean` and key properties, the server will skip indexable_option setting, and setting indexable_option for those fields will throw `INVALID_ARGUMENT` error.",
          "enum": [
            "INDEXABLE_OPTION_UNSPECIFIED",
            "INDEXABLE_ENABLED",
            "INDEXABLE_DISABLED"
          ]
        },
        "completableOption": {
          "type": "string",
          "description": "If completable_option is COMPLETABLE_ENABLED, field values are directly used and returned as suggestions for Autocomplete in CompletionService.CompleteQuery. If completable_option is unset, the server behavior defaults to COMPLETABLE_DISABLED for fields that support setting completable options, which are just `string` fields. For those fields that do not support setting completable options, the server will skip completable option setting, and setting completable_option for those fields will throw `INVALID_ARGUMENT` error.",
          "enum": [
            "COMPLETABLE_OPTION_UNSPECIFIED",
            "COMPLETABLE_ENABLED",
            "COMPLETABLE_DISABLED"
          ],
          "enumDescriptions": [
            "Value used when unset.",
            "Completable option enabled for a schema field.",
            "Completable option disabled for a schema field."
          ]
        },
        "schemaOrgPaths": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Field paths for indexing custom attribute from schema.org data. More details of schema.org and its defined types can be found at [schema.org](https://schema.org). It is only used on advanced site search schema. Currently only support full path from root. The full path to a field is constructed by concatenating field names, starting from `_root`, with a period `.` as the delimiter. Examples: * Publish date of the root: _root.datePublished * Publish date of the reviews: _root.review.datePublished"
        },
        "fieldPath": {
          "description": "Required. Field path of the schema field. For example: `title`, `description`, `release_info.release_year`.",
          "type": "string"
        }
      },
      "description": "Configurations for fields of a schema. For example, configuring a field is indexable, or searchable.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaFieldConfig"
    },
    "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicy": {
      "properties": {
        "sensitiveDataProtectionPolicy": {
          "description": "Optional. The sensitive data protection policy.",
          "$ref": "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicySensitiveDataProtectionPolicy"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicy",
      "description": "Data protection policy config for NotebookLM."
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpecBoostControlSpec": {
      "properties": {
        "controlPoints": {
          "description": "The control points used to define the curve. The monotonic function (defined through the interpolation_type above) passes through the control points listed here.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpecBoostControlSpecControlPoint"
          }
        },
        "fieldName": {
          "type": "string",
          "description": "The name of the field whose value will be used to determine the boost amount."
        },
        "attributeType": {
          "description": "The attribute type to be used to determine the boost amount. The attribute value can be derived from the field value of the specified field_name. In the case of numerical it is straightforward i.e. attribute_value = numerical_field_value. In the case of freshness however, attribute_value = (time.now() - datetime_field_value).",
          "type": "string",
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ],
          "enumDescriptions": [
            "Unspecified AttributeType.",
            "The value of the numerical field will be used to dynamically update the boost amount. In this case, the attribute_value (the x value) of the control point will be the actual value of the numerical field for which the boost_amount is specified.",
            "For the freshness use case the attribute value will be the duration between the current time and the date in the datetime field specified. The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`. For example, `5D`, `3DT12H30M`, `T24H`."
          ]
        },
        "interpolationType": {
          "type": "string",
          "enumDescriptions": [
            "Interpolation type is unspecified. In this case, it defaults to Linear.",
            "Piecewise linear interpolation will be applied."
          ],
          "description": "The interpolation type to be applied to connect the control points listed below.",
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ]
        }
      },
      "description": "Specification for custom ranking based on customer specified attribute value. It provides more controls for customized ranking than the simple (condition, boost) combination above.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpecBoostControlSpec"
    },
    "GoogleCloudDiscoveryengineV1betaSearchResponseSummarySafetyAttributes": {
      "type": "object",
      "properties": {
        "categories": {
          "type": "array",
          "description": "The display names of Safety Attribute categories associated with the generated content. Order matches the Scores.",
          "items": {
            "type": "string"
          }
        },
        "scores": {
          "description": "The confidence scores of the each category, higher value means higher confidence. Order matches the Categories.",
          "type": "array",
          "items": {
            "format": "float",
            "type": "number"
          }
        }
      },
      "description": "Safety Attribute categories and their associated confidence scores.",
      "id": "GoogleCloudDiscoveryengineV1betaSearchResponseSummarySafetyAttributes"
    },
    "GoogleCloudDiscoveryengineV1PurgeDocumentsMetadata": {
      "id": "GoogleCloudDiscoveryengineV1PurgeDocumentsMetadata",
      "properties": {
        "successCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of entries that were deleted successfully."
        },
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "failureCount": {
          "format": "int64",
          "description": "Count of entries that encountered errors while processing.",
          "type": "string"
        },
        "ignoredCount": {
          "type": "string",
          "description": "Count of entries that were ignored as entries were not found.",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Metadata related to the progress of the PurgeDocuments operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1alphaNaturalLanguageQueryUnderstandingConfig": {
      "properties": {
        "mode": {
          "enum": [
            "MODE_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "enumDescriptions": [
            "Default value.",
            "Natural Language Query Understanding is disabled.",
            "Natural Language Query Understanding is enabled."
          ],
          "type": "string",
          "description": "Mode of Natural Language Query Understanding. If this field is unset, the behavior defaults to NaturalLanguageQueryUnderstandingConfig.Mode.DISABLED."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaNaturalLanguageQueryUnderstandingConfig",
      "description": "Configuration for Natural Language Query Understanding."
    },
    "GoogleCloudDiscoveryengineV1alphaRemoveDedicatedCrawlRateMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaRemoveDedicatedCrawlRateMetadata",
      "description": "Metadata related to the progress of the CrawlRateManagementService.RemoveDedicatedCrawlRate operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestRelevanceFilterSpecRelevanceThresholdSpec": {
      "properties": {
        "semanticRelevanceThreshold": {
          "description": "Custom relevance threshold for the sub-search. The value must be in [0.0, 1.0].",
          "type": "number",
          "format": "float"
        },
        "relevanceThreshold": {
          "description": "Pre-defined relevance threshold for the sub-search.",
          "enumDescriptions": [
            "Default value. In this case, server behavior defaults to Google defined threshold.",
            "Lowest relevance threshold.",
            "Low relevance threshold.",
            "Medium relevance threshold.",
            "High relevance threshold."
          ],
          "enum": [
            "RELEVANCE_THRESHOLD_UNSPECIFIED",
            "LOWEST",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestRelevanceFilterSpecRelevanceThresholdSpec",
      "description": "Specification for relevance filtering on a specific sub-search."
    },
    "GoogleCloudDiscoveryengineV1alphaAlphaEvolveProgram": {
      "properties": {
        "lockToken": {
          "type": "string",
          "description": "Optional. Lock token for the program."
        },
        "state": {
          "type": "string",
          "description": "Output only. State of the program.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The program is initialized.",
            "The program is in generation.",
            "The program is pending evaluation.",
            "The program is completed."
          ],
          "readOnly": true,
          "enum": [
            "PROGRAM_STATE_UNSPECIFIED",
            "INITIALIZED",
            "GENERATING",
            "EVALUATING",
            "COMPLETED"
          ]
        },
        "content": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveProgramContent",
          "description": "Optional. Content of the program."
        },
        "parentPrograms": {
          "description": "Output only. Optionally specifies which parent programs this program was evolved from. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/sessions/{session}/alphaEvolveExperiments/{alpha_evolve_experiment}/alphaEvolvePrograms/{alpha_evolve_program}`",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when the program was created.",
          "format": "google-datetime"
        },
        "evaluation": {
          "description": "Optional. Evaluation results for the program.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveProgramEvaluation"
        },
        "name": {
          "description": "Identifier. Unique identifier for the program. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/sessions/{session}/alphaEvolveExperiments/{alpha_evolve_experiment}/alphaEvolvePrograms/{alpha_evolve_program}`",
          "type": "string"
        }
      },
      "description": "Represents a single program to be used within the context of an AlphaEvolve experiment.",
      "id": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveProgram",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaCreateDataStoreMetadata": {
      "description": "Metadata related to the progress of the DataStoreService.CreateDataStore operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaCreateDataStoreMetadata",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContentTextGroundingMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContentTextGroundingMetadata",
      "properties": {
        "segments": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContentTextGroundingMetadataSegment"
          },
          "type": "array",
          "description": "Grounding information for parts of the text."
        },
        "references": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContentTextGroundingMetadataReference"
          },
          "description": "References for the grounded text."
        },
        "visualSegments": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContentTextGroundingMetadataVisualSegment"
          },
          "type": "array",
          "description": "Grounding information for parts of the visual content."
        }
      },
      "description": "Grounding details for text sources.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1Assistant": {
      "type": "object",
      "description": "Discovery Engine Assistant resource.",
      "id": "GoogleCloudDiscoveryengineV1Assistant",
      "properties": {
        "displayName": {
          "description": "Required. The assistant display name. It must be a UTF-8 encoded string with a length limit of 128 characters.",
          "type": "string"
        },
        "defaultWebGroundingToggleOff": {
          "description": "Optional. This field controls the default web grounding toggle for end users if `web_grounding_type` is set to `WEB_GROUNDING_TYPE_GOOGLE_SEARCH` or `WEB_GROUNDING_TYPE_ENTERPRISE_WEB_SEARCH`. By default, this field is set to false. If `web_grounding_type` is `WEB_GROUNDING_TYPE_GOOGLE_SEARCH` or `WEB_GROUNDING_TYPE_ENTERPRISE_WEB_SEARCH`, end users will have web grounding enabled by default on UI. If true, grounding toggle will be disabled by default on UI. End users can still enable web grounding in the UI if web grounding is enabled.",
          "type": "boolean"
        },
        "customerPolicy": {
          "description": "Optional. Customer policy for the assistant.",
          "$ref": "GoogleCloudDiscoveryengineV1AssistantCustomerPolicy"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Represents the time when this Assistant was most recently updated.",
          "readOnly": true
        },
        "generationConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1AssistantGenerationConfig",
          "description": "Optional. Configuration for the generation of the assistant response."
        },
        "webGroundingType": {
          "enum": [
            "WEB_GROUNDING_TYPE_UNSPECIFIED",
            "WEB_GROUNDING_TYPE_DISABLED",
            "WEB_GROUNDING_TYPE_GOOGLE_SEARCH",
            "WEB_GROUNDING_TYPE_ENTERPRISE_WEB_SEARCH"
          ],
          "type": "string",
          "description": "Optional. The type of web grounding to use.",
          "enumDescriptions": [
            "Default, unspecified setting. This is the same as disabled.",
            "Web grounding is disabled.",
            "Grounding with Google Search is enabled.",
            "Grounding with Enterprise Web Search is enabled."
          ]
        },
        "name": {
          "type": "string",
          "description": "Immutable. Resource name of the assistant. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/assistants/{assistant}` It must be a UTF-8 encoded string with a length limit of 1024 characters."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description for additional information. Expected to be shown on the configuration UI, not to the users of the assistant."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Represents the time when this Assistant was created.",
          "readOnly": true,
          "type": "string"
        },
        "enabledTools": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1AssistantToolList"
          },
          "description": "Optional. Note: not implemented yet. Use enabled_actions instead. The enabled tools on this assistant. The keys are connector name, for example \"projects/{projectId}/locations/{locationId}/collections/{collectionId}/dataconnector The values consist of admin enabled tools towards the connector instance. Admin can selectively enable multiple tools on any of the connector instances that they created in the project. For example {\"jira1ConnectorName\": [(toolId1, \"createTicket\"), (toolId2, \"transferTicket\")], \"gmail1ConnectorName\": [(toolId3, \"sendEmail\"),..] }"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaListEvaluationResultsResponseEvaluationResult": {
      "type": "object",
      "description": "Represents the results of an evaluation for a single SampleQuery.",
      "properties": {
        "sampleQuery": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSampleQuery",
          "description": "Output only. The SampleQuery that was evaluated.",
          "readOnly": true
        },
        "qualityMetrics": {
          "$ref": "GoogleCloudDiscoveryengineV1betaQualityMetrics",
          "description": "Output only. The metrics produced by the evaluation, for a given SampleQuery.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaListEvaluationResultsResponseEvaluationResult"
    },
    "GoogleCloudDiscoveryengineV1alphaDeleteIdentityMappingStoreMetadata": {
      "description": "Metadata related to the progress of the IdentityMappingStoreService.DeleteIdentityMappingStore operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteIdentityMappingStoreMetadata"
    },
    "GoogleCloudDiscoveryengineV1DataConnectorConnectorMetadata": {
      "properties": {
        "title": {
          "type": "string",
          "description": "Optional. Display title of the connector."
        },
        "author": {
          "description": "Optional. The party that authored the connector, e.g. \"Google\" or a third-party provider name. Lets end users see who authored a connector (future: third-party-authored connectors).",
          "type": "string"
        },
        "description": {
          "description": "Optional. Human-readable description of the connector, shown on the connector detail page. One connector has a single description.",
          "type": "string"
        },
        "shortDescription": {
          "type": "string",
          "description": "Optional. Short, subtitle-length description of the connector (e.g. shown beneath the connector name in list and detail views)."
        },
        "note": {
          "type": "string",
          "description": "Optional. Free-form, multi-line note about the connector's capabilities or a custom note that can be set for the connector."
        }
      },
      "description": "User-facing metadata for the connector, shown on the connector detail page (title, description, short_description, author, note).",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1DataConnectorConnectorMetadata"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestRelevanceScoreSpec": {
      "type": "object",
      "description": "The specification for returning the document relevance score.",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestRelevanceScoreSpec",
      "properties": {
        "returnRelevanceScore": {
          "description": "Optional. Whether to return the relevance score for search results. The higher the score, the more relevant the document is to the query.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestPersonalizationSpec": {
      "description": "The specification for personalization.",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestPersonalizationSpec",
      "properties": {
        "mode": {
          "enum": [
            "MODE_UNSPECIFIED",
            "AUTO",
            "DISABLED"
          ],
          "enumDescriptions": [
            "Default value. In this case, server behavior defaults to Mode.AUTO.",
            "Personalization is enabled if data quality requirements are met.",
            "Disable personalization."
          ],
          "description": "The personalization mode of the search request. Defaults to Mode.AUTO.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpecBoostControlSpecControlPoint": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpecBoostControlSpecControlPoint",
      "description": "The control points used to define the curve. The curve defined through these control points can only be monotonically increasing or decreasing(constant values are acceptable).",
      "properties": {
        "attributeValue": {
          "description": "Can be one of: 1. The numerical field value. 2. The duration spec for freshness: The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`.",
          "type": "string"
        },
        "boostAmount": {
          "type": "number",
          "format": "float",
          "description": "The value between -1 to 1 by which to boost the score if the attribute_value evaluates to the value specified above."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAssistAnswerCustomerPolicyEnforcementResultModelArmorEnforcementResult": {
      "description": "Customer policy enforcement result for the Model Armor policy.",
      "properties": {
        "modelArmorViolation": {
          "description": "The Model Armor violation that was found.",
          "type": "string"
        },
        "error": {
          "description": "The error returned by Model Armor if the policy enforcement failed for some reason.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAssistAnswerCustomerPolicyEnforcementResultModelArmorEnforcementResult"
    },
    "GoogleCloudDiscoveryengineV1alphaControlFilterAction": {
      "type": "object",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Required. A filter to apply on the matching condition results. Required Syntax documentation: https://cloud.google.com/retail/docs/filter-and-order Maximum length is 5000 characters. Otherwise an INVALID ARGUMENT error is thrown."
        },
        "dataStore": {
          "type": "string",
          "description": "Required. Specifies which data store's documents can be filtered by this control. Full data store name e.g. projects/123/locations/global/collections/default_collection/dataStores/default_data_store"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaControlFilterAction",
      "description": "Specified which products may be included in results. Uses same filter as boost."
    },
    "GoogleCloudDiscoveryengineV1alphaDedicatedCrawlRateTimeSeries": {
      "properties": {
        "userTriggeredCrawlErrorRate": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries",
          "description": "Vertex AI's error rate time series of user triggered dedicated crawl."
        },
        "autoRefreshCrawlErrorRate": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries",
          "description": "Vertex AI's error rate time series of auto-refresh dedicated crawl."
        },
        "autoRefreshCrawlRate": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries",
          "description": "Vertex AI's dedicated crawl rate time series of auto-refresh, which is the crawl rate of Google-CloudVertexBot when dedicate crawl is set, and the crawl rate is for best effort use cases like refreshing urls periodically."
        },
        "userTriggeredCrawlRate": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries",
          "description": "Vertex AI's dedicated crawl rate time series of user triggered crawl, which is the crawl rate of Google-CloudVertexBot when dedicate crawl is set, and user triggered crawl rate is for deterministic use cases like crawling urls or sitemaps specified by users."
        }
      },
      "type": "object",
      "description": "The historical dedicated crawl rate timeseries data, used for monitoring. Dedicated crawl is used by Vertex AI to crawl the user's website when dedicate crawl is set.",
      "id": "GoogleCloudDiscoveryengineV1alphaDedicatedCrawlRateTimeSeries"
    },
    "GoogleCloudDiscoveryengineV1alphaAlphaEvolveProgramContent": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveProgramContent",
      "description": "A self-contained message containing the content of a program. Can represent a collection of files.",
      "properties": {
        "files": {
          "description": "Required. A list of source files that make up the overall program.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveSourceFile"
          }
        },
        "description": {
          "description": "Optional. Description of the program.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaProvisionProjectMetadata": {
      "properties": {},
      "id": "GoogleCloudDiscoveryengineV1alphaProvisionProjectMetadata",
      "description": "Metadata associated with a project provision operation.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaChunkChunkMetadata": {
      "properties": {
        "previousChunks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaChunk"
          },
          "description": "The previous chunks of the current chunk. The number is controlled by SearchRequest.ContentSearchSpec.ChunkSpec.num_previous_chunks. This field is only populated on SearchService.Search API."
        },
        "nextChunks": {
          "description": "The next chunks of the current chunk. The number is controlled by SearchRequest.ContentSearchSpec.ChunkSpec.num_next_chunks. This field is only populated on SearchService.Search API.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaChunk"
          }
        }
      },
      "description": "Metadata of the current chunk. This field is only populated on SearchService.Search API.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaChunkChunkMetadata"
    },
    "GoogleCloudDiscoveryengineV1betaSpannerSource": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSpannerSource",
      "description": "The Spanner source for importing data",
      "properties": {
        "instanceId": {
          "description": "Required. The instance ID of the source Spanner table.",
          "type": "string"
        },
        "tableId": {
          "type": "string",
          "description": "Required. The table name of the Spanner database that needs to be imported."
        },
        "databaseId": {
          "description": "Required. The database ID of the source Spanner table.",
          "type": "string"
        },
        "projectId": {
          "description": "The project ID that contains the Spanner source. Has a length limit of 128 characters. If not specified, inherits the project ID from the parent request.",
          "type": "string"
        },
        "enableDataBoost": {
          "description": "Whether to apply data boost on Spanner export. Enabling this option will incur additional cost. More info can be found [here](https://cloud.google.com/spanner/docs/databoost/databoost-overview#billing_and_quotas).",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfigDigitalParsingConfig": {
      "id": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfigDigitalParsingConfig",
      "description": "The digital parsing configurations for documents.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDiscoveryengineV1ControlRedirectAction": {
      "id": "GoogleCloudDiscoveryengineV1ControlRedirectAction",
      "type": "object",
      "description": "Redirects a shopper to the provided URI.",
      "properties": {
        "redirectUri": {
          "type": "string",
          "description": "Required. The URI to which the shopper will be redirected. Required. URI must have length equal or less than 2000 characters. Otherwise an INVALID ARGUMENT error is thrown."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1EngineCommonConfig": {
      "type": "object",
      "description": "Common configurations for an Engine.",
      "properties": {
        "companyName": {
          "type": "string",
          "description": "The name of the company, business or entity that is associated with the engine. Setting this may help improve LLM related features."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1EngineCommonConfig"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerStepActionSearchAction": {
      "description": "Search action.",
      "type": "object",
      "properties": {
        "query": {
          "description": "The query to search.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionSearchAction"
    },
    "GoogleCloudDiscoveryengineV1betaDisableAdvancedSiteSearchResponse": {
      "type": "object",
      "description": "Response message for SiteSearchEngineService.DisableAdvancedSiteSearch method.",
      "properties": {},
      "id": "GoogleCloudDiscoveryengineV1betaDisableAdvancedSiteSearchResponse"
    },
    "GoogleCloudDiscoveryengineV1alphaAlertPolicyConfig": {
      "description": "The connector level alert config.",
      "id": "GoogleCloudDiscoveryengineV1alphaAlertPolicyConfig",
      "properties": {
        "alertPolicyName": {
          "description": "Immutable. The fully qualified resource name of the AlertPolicy.",
          "type": "string"
        },
        "alertEnrollments": {
          "description": "Optional. The enrollment states of each alert.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAlertPolicyConfigAlertEnrollment"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaUserLicense": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaUserLicense",
      "description": "User License information assigned by the admin.",
      "properties": {
        "userPrincipal": {
          "type": "string",
          "description": "Required. Immutable. The user principal of the User, could be email address or other prinical identifier. This field is immutable. Admin assign licenses based on the user principal."
        },
        "licenseAssignmentState": {
          "readOnly": true,
          "enum": [
            "LICENSE_ASSIGNMENT_STATE_UNSPECIFIED",
            "ASSIGNED",
            "UNASSIGNED",
            "NO_LICENSE",
            "NO_LICENSE_ATTEMPTED_LOGIN",
            "BLOCKED"
          ],
          "type": "string",
          "description": "Output only. License assignment state of the user. If the user is assigned with a license config, the user login will be assigned with the license; If the user's license assignment state is unassigned or unspecified, no license config will be associated to the user;",
          "enumDescriptions": [
            "Default value.",
            "License assigned to the user.",
            "No license assigned to the user. Deprecated, translated to NO_LICENSE.",
            "No license assigned to the user.",
            "User attempted to login but no license assigned to the user. This state is only used for no user first time login attempt but cannot get license assigned. Users already logged in but cannot get license assigned will be assigned NO_LICENSE state(License could be unassigned by admin).",
            "User is blocked from assigning a license."
          ]
        },
        "licenseConfig": {
          "description": "Optional. The full resource name of the Subscription(LicenseConfig) assigned to the user.",
          "type": "string"
        },
        "lastLoginTime": {
          "format": "google-datetime",
          "description": "Output only. User last logged in time. If the user has not logged in yet, this field will be empty.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. User created timestamp.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. User update timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "userProfile": {
          "description": "Optional. The user profile. We user user full name(First name + Last name) as user profile.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaImportSampleQueriesMetadata": {
      "description": "Metadata related to the progress of the ImportSampleQueries operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1betaImportSampleQueriesMetadata",
      "properties": {
        "failureCount": {
          "format": "int64",
          "description": "Count of SampleQuerys that failed to be imported.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "ImportSampleQueries operation create time."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "ImportSampleQueries operation last update time. If the operation is done, this is also the finish time."
        },
        "totalCount": {
          "type": "string",
          "description": "Total count of SampleQuerys that were processed.",
          "format": "int64"
        },
        "successCount": {
          "format": "int64",
          "description": "Count of SampleQuerys successfully imported.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfig": {
      "properties": {
        "alloyDbConfig": {
          "description": "AlloyDB config. If set, this DataStore is connected to AlloyDB.",
          "$ref": "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigAlloyDbConfig"
        },
        "notebooklmConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigNotebooklmConfig",
          "description": "NotebookLM config. If set, this DataStore is connected to NotebookLM Enterprise."
        },
        "thirdPartyOauthConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigThirdPartyOauthConfig",
          "description": "Third Party OAuth config. If set, this DataStore is connected to a third party application."
        }
      },
      "description": "Stores information for federated search.",
      "id": "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfig",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerReferenceUnstructuredDocumentInfo": {
      "properties": {
        "chunkContents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerReferenceUnstructuredDocumentInfoChunkContent"
          },
          "description": "List of cited chunk contents derived from document content."
        },
        "title": {
          "type": "string",
          "description": "Title."
        },
        "structData": {
          "type": "object",
          "description": "The structured JSON metadata for the document. It is populated from the struct data from the Chunk in search result.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "document": {
          "description": "Document resource name.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "URI for the document."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerReferenceUnstructuredDocumentInfo",
      "description": "Unstructured document information.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaUserInfo": {
      "id": "GoogleCloudDiscoveryengineV1betaUserInfo",
      "description": "Information of an end user.",
      "properties": {
        "preciseLocation": {
          "description": "Optional. Input only. Precise location of the user. It is used in Custom Ranking to calculate the distance between the user and the relevant documents.",
          "$ref": "GoogleCloudDiscoveryengineV1betaUserInfoPreciseLocation"
        },
        "timeZone": {
          "description": "Optional. IANA time zone, e.g. Europe/Budapest.",
          "type": "string"
        },
        "userId": {
          "type": "string",
          "description": "Highly recommended for logged-in users. Unique identifier for logged-in user, such as a user name. Don't set for anonymous users. Always use a hashed value for this ID. Don't set the field to the same fixed ID for different users. This mixes the event history of those users together, which results in degraded model quality. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an `INVALID_ARGUMENT` error is returned. Represents an opaque ID to the Search API. The Search API doesn't interpret the value in any way. This field is used to associate events with a user across sessions if the events are being uploaded."
        },
        "userAgent": {
          "description": "User agent as included in the HTTP header. The field must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an `INVALID_ARGUMENT` error is returned. This should not be set when using the client side event reporting with GTM or JavaScript tag in UserEventService.CollectUserEvent or if UserEvent.direct_user_request is set.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaEngineMediaRecommendationEngineConfigEngineFeaturesConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaEngineMediaRecommendationEngineConfigEngineFeaturesConfig",
      "description": "More feature configs of the selected engine type.",
      "properties": {
        "mostPopularConfig": {
          "description": "Most popular engine feature config.",
          "$ref": "GoogleCloudDiscoveryengineV1betaEngineMediaRecommendationEngineConfigMostPopularFeatureConfig"
        },
        "recommendedForYouConfig": {
          "description": "Recommended for you engine feature config.",
          "$ref": "GoogleCloudDiscoveryengineV1betaEngineMediaRecommendationEngineConfigRecommendedForYouFeatureConfig"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1ImportUserEventsResponse": {
      "properties": {
        "joinedEventsCount": {
          "description": "Count of user events imported with complete existing Documents.",
          "format": "int64",
          "type": "string"
        },
        "errorConfig": {
          "description": "Echoes the destination for the complete errors if this field was set in the request.",
          "$ref": "GoogleCloudDiscoveryengineV1ImportErrorConfig"
        },
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "unjoinedEventsCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of user events imported, but with Document information not found in the existing Branch."
        }
      },
      "description": "Response of the ImportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1ImportUserEventsResponse"
    },
    "GoogleCloudDiscoveryengineV1betaListSampleQueriesResponse": {
      "id": "GoogleCloudDiscoveryengineV1betaListSampleQueriesResponse",
      "description": "Response message for SampleQueryService.ListSampleQueries method.",
      "type": "object",
      "properties": {
        "sampleQueries": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSampleQuery"
          },
          "type": "array",
          "description": "The SampleQuerys."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListSampleQueriesRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaIdpConfig": {
      "properties": {
        "externalIdpConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaIdpConfigExternalIdpConfig",
          "description": "External Identity provider config."
        },
        "idpType": {
          "type": "string",
          "description": "Identity provider type configured.",
          "enumDescriptions": [
            "Default value. ACL search not enabled.",
            "Google 1P provider.",
            "Third party provider."
          ],
          "enum": [
            "IDP_TYPE_UNSPECIFIED",
            "GSUITE",
            "THIRD_PARTY"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaIdpConfig",
      "description": "Identity Provider Config."
    },
    "GoogleCloudDiscoveryengineV1TargetSiteFailureReason": {
      "description": "Site search indexing failure reasons.",
      "id": "GoogleCloudDiscoveryengineV1TargetSiteFailureReason",
      "type": "object",
      "properties": {
        "quotaFailure": {
          "$ref": "GoogleCloudDiscoveryengineV1TargetSiteFailureReasonQuotaFailure",
          "description": "Failed due to insufficient quota."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1EnableAdvancedSiteSearchMetadata": {
      "id": "GoogleCloudDiscoveryengineV1EnableAdvancedSiteSearchMetadata",
      "description": "Metadata related to the progress of the SiteSearchEngineService.EnableAdvancedSiteSearch operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequest": {
      "description": "Request message for ConversationalSearchService.AnswerQuery method.",
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequest",
      "type": "object",
      "properties": {
        "searchSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpec",
          "description": "Search specification."
        },
        "asynchronousMode": {
          "type": "boolean",
          "deprecated": true,
          "description": "Deprecated: This field is deprecated. Streaming Answer API will be supported. Asynchronous mode control. If enabled, the response will be returned with answer/session resource name without final answer. The API users need to do the polling to get the latest status of answer/session by calling ConversationalSearchService.GetAnswer or ConversationalSearchService.GetSession method."
        },
        "query": {
          "description": "Required. Current user query.",
          "$ref": "GoogleCloudDiscoveryengineV1betaQuery"
        },
        "groundingSpec": {
          "description": "Optional. Grounding specification.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestGroundingSpec"
        },
        "endUserSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestEndUserSpec",
          "description": "Optional. End user specification."
        },
        "session": {
          "description": "The session resource name. Not required. When session field is not set, the API is in sessionless mode. We support auto session mode: users can use the wildcard symbol `-` as session ID. A new ID will be automatically generated and assigned.",
          "type": "string"
        },
        "safetySpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSafetySpec",
          "description": "Model specification."
        },
        "userLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The user labels applied to a resource must meet the following requirements: * Each resource can have multiple labels, up to a maximum of 64. * Each label must be a key-value pair. * Keys have a minimum length of 1 character and a maximum length of 63 characters and cannot be empty. Values can be empty and have a maximum length of 63 characters. * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. All characters must use UTF-8 encoding, and international characters are allowed. * The key portion of a label must be unique. However, you can use the same key with multiple resources. * Keys must start with a lowercase letter or international character. See [Google Cloud Document](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements) for more details."
        },
        "relatedQuestionsSpec": {
          "description": "Related questions specification.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestRelatedQuestionsSpec"
        },
        "userPseudoId": {
          "type": "string",
          "description": "A unique identifier for tracking visitors. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor logs in or out of the website. This field should NOT have a fixed value such as `unknown_visitor`. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an `INVALID_ARGUMENT` error is returned."
        },
        "queryUnderstandingSpec": {
          "description": "Query understanding specification.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestQueryUnderstandingSpec"
        },
        "answerGenerationSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestAnswerGenerationSpec",
          "description": "Answer generation specification."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservationSearchResultSnippetInfo": {
      "properties": {
        "snippet": {
          "type": "string",
          "description": "Snippet content."
        },
        "snippetStatus": {
          "description": "Status of the snippet defined by the search team.",
          "type": "string"
        }
      },
      "description": "Snippet information.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservationSearchResultSnippetInfo"
    },
    "GoogleCloudDiscoveryengineV1ServingConfigGenericConfig": {
      "id": "GoogleCloudDiscoveryengineV1ServingConfigGenericConfig",
      "properties": {
        "contentSearchSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpec",
          "description": "Specifies the expected behavior of content search. Only valid for content-search enabled data store."
        }
      },
      "description": "Specifies the configurations needed for Generic Discovery.Currently we support: * `content_search_spec`: configuration for generic content search.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1AclConfig": {
      "description": "Access Control Configuration.",
      "id": "GoogleCloudDiscoveryengineV1AclConfig",
      "properties": {
        "idpConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1IdpConfig",
          "description": "Identity provider config."
        },
        "name": {
          "description": "Immutable. The full resource name of the acl configuration. Format: `projects/{project}/locations/{location}/aclConfig`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaQueryPartDocumentReference": {
      "description": "Represents a document reference.",
      "id": "GoogleCloudDiscoveryengineV1alphaQueryPartDocumentReference",
      "properties": {
        "destinationUri": {
          "type": "string",
          "description": "The destination uri of the reference."
        },
        "displayTitle": {
          "description": "The display title of the reference.",
          "type": "string"
        },
        "iconUri": {
          "description": "The icon uri of the reference.",
          "type": "string"
        },
        "documentName": {
          "type": "string",
          "description": "The full resource name of the document. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}/documents/{document_id}`."
        },
        "urlForConnector": {
          "description": "Input only. The url_for_connector of the document returned by Federated Search.",
          "type": "string"
        },
        "fileId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The file id of the document data stored in the session context files."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestCustomRankingParams": {
      "type": "object",
      "properties": {
        "expressionsToPrecompute": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of ranking expressions (see `ranking_expression` for the syntax documentation) to evaluate. The evaluation results will be returned in `SearchResponse.SearchResult.rank_signals.precomputed_expression_values` field."
        }
      },
      "description": "Configuration parameters for the Custom Ranking feature.",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestCustomRankingParams"
    },
    "GoogleCloudDiscoveryengineV1betaIdentityMappingEntryOperationMetadata": {
      "properties": {
        "failureCount": {
          "description": "The number of IdentityMappingEntries that failed to be processed.",
          "type": "string",
          "format": "int64"
        },
        "successCount": {
          "format": "int64",
          "description": "The number of IdentityMappingEntries that were successfully processed.",
          "type": "string"
        },
        "totalCount": {
          "description": "The total number of IdentityMappingEntries that were processed.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "IdentityMappingEntry LongRunningOperation metadata for IdentityMappingStoreService.ImportIdentityMappings and IdentityMappingStoreService.PurgeIdentityMappings",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaIdentityMappingEntryOperationMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestPersonalizationSpec": {
      "properties": {
        "mode": {
          "description": "The personalization mode of the search request. Defaults to Mode.AUTO.",
          "enumDescriptions": [
            "Default value. In this case, server behavior defaults to Mode.AUTO.",
            "Personalization is enabled if data quality requirements are met.",
            "Disable personalization."
          ],
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "AUTO",
            "DISABLED"
          ]
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestPersonalizationSpec",
      "type": "object",
      "description": "The specification for personalization."
    },
    "GoogleCloudDiscoveryengineV1betaAnswerStepActionSearchAction": {
      "description": "Search action.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaAnswerStepActionSearchAction",
      "properties": {
        "query": {
          "description": "The query to search.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaProjectConfigurableBillingStatus": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaProjectConfigurableBillingStatus",
      "properties": {
        "indexingCoreThresholdNextUpdateTime": {
          "format": "google-datetime",
          "description": "Output only. The earliest next update time for the indexing core subscription threshold. This is based on the next_update_time returned by the underlying Cloud Billing Subscription V3 API. This field is populated only if an update indexing core subscription threshold request is succeeded.",
          "readOnly": true,
          "type": "string"
        },
        "agentSearchTokenSubscriptionStatuses": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaProjectConfigurableBillingStatusAgentSearchTokenSubscriptionStatus"
          },
          "readOnly": true,
          "description": "Output only. Per-model Agent Search TPM subscription status.",
          "type": "array"
        },
        "effectiveSearchQpmThreshold": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The currently effective Search QPM threshold in queries per minute. This is the threshold against which QPM usage is compared for overage calculations."
        },
        "searchQpmThresholdNextUpdateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The earliest next update time for the search QPM subscription threshold. This is based on the next_update_time returned by the underlying Cloud Billing Subscription V3 API. This field is populated only if an update QPM subscription threshold request is succeeded."
        },
        "effectiveIndexingCoreThreshold": {
          "format": "int64",
          "description": "Optional. The currently effective Indexing Core threshold. This is the threshold against which Indexing Core usage is compared for overage calculations.",
          "type": "string"
        },
        "updateType": {
          "enum": [
            "UPDATE_TYPE_UNSPECIFIED",
            "CREATE",
            "DELETE",
            "SCALE_UP",
            "SCALE_DOWN"
          ],
          "description": "Output only. The type of update performed in this operation. This field is populated in the response of UpdateProject.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified update type.",
            "Configurable billing was created/enabled.",
            "Configurable billing was deleted/disabled.",
            "Subscription was scaled up (thresholds increased).",
            "Subscription was scaled down (thresholds decreased)."
          ],
          "readOnly": true
        },
        "terminateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The latest terminate effective time of search qpm and indexing core subscriptions.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. The start time of the currently active billing subscription."
        }
      },
      "description": "Represents the currently effective configurable billing parameters. These values are derived from the customer's subscription history stored internally and reflect the thresholds actively being used for billing purposes at the time of the GetProject call. This includes the start_time of the subscription and may differ from the values in `customer_provided_config` due to billing rules (e.g., scale-downs taking effect only at the start of a new month). We also include the update type to indicate the type of update performed on the configurable billing configuration in the UpdateProject operation."
    },
    "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpecModelSpec": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpecModelSpec",
      "description": "Specification of the model.",
      "properties": {
        "version": {
          "type": "string",
          "description": "The model version used to generate the summary. Supported values are: * `stable`: string. Default value when no value is specified. Uses a generally available, fine-tuned model. For more information, see [Answer generation model versions and lifecycle](https://cloud.google.com/generative-ai-app-builder/docs/answer-generation-models). * `preview`: string. (Public preview) Uses a preview model. For more information, see [Answer generation model versions and lifecycle](https://cloud.google.com/generative-ai-app-builder/docs/answer-generation-models)."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaChunkDocumentMetadata": {
      "description": "Document metadata contains the information of the document of the current chunk.",
      "id": "GoogleCloudDiscoveryengineV1betaChunkDocumentMetadata",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Uri of the document.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title of the document."
        },
        "mimeType": {
          "type": "string",
          "description": "The mime type of the document. https://www.iana.org/assignments/media-types/media-types.xhtml."
        },
        "structData": {
          "description": "Data representation. The structured JSON data for the document. It should conform to the registered Schema or an `INVALID_ARGUMENT` error is thrown.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1DocumentProcessingConfigChunkingConfig": {
      "properties": {
        "layoutBasedChunkingConfig": {
          "description": "Configuration for the layout based chunking.",
          "$ref": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigChunkingConfigLayoutBasedChunkingConfig"
        }
      },
      "description": "Configuration for chunking config.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigChunkingConfig"
    },
    "GoogleIamV1Binding": {
      "id": "GoogleIamV1Binding",
      "properties": {
        "condition": {
[...]
