{
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "version": "v1",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "GoogleCloudDiscoveryengineV1alphaAlphaEvolveProgramContent": {
      "description": "A self-contained message containing the content of a program. Can represent a collection of files.",
      "id": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveProgramContent",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the program."
        },
        "files": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveSourceFile"
          },
          "type": "array",
          "description": "Required. A list of source files that make up the overall program."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1BAPConfigToolspecOverride": {
      "id": "GoogleCloudDiscoveryengineV1BAPConfigToolspecOverride",
      "properties": {
        "baseVersion": {
          "type": "string",
          "description": "Required. Base toolspec version against which `tools` were authored. On Update, MUST match the server's current stable toolspec version for the connection; mismatch is rejected with a user-facing error directing the admin to re-download the latest tools first."
        },
        "tools": {
          "type": "array",
          "description": "Required. Tool definitions (one Struct per tool) that the admin has customised on top of the base toolspec returned by the fed API. REQUIRED because it is the only user-editable field in the modify API; the request must carry at least one tool.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            },
            "type": "object"
          }
        }
      },
      "type": "object",
      "description": "Customer-facing view of the admin-curated toolspec for a BAP connection. Holds the (simplified) per-tool definitions surfaced to and editable by the admin in the Discovery Engine UI. Mirrors the shape of the backend `google.cloud.connectorexecution.v1.ToolspecOverride` message, but is intentionally kept as a separate public type so the Discovery Engine API surface can evolve independently of the fed-API surface (AIP-215). Handlers convert between the two via helpers in //cloud/ml/discoveryengine/external_service/v1main/data_connector_service/lib:bap_custom_tool_util."
    },
    "GoogleCloudDiscoveryengineV1AnswerCitation": {
      "description": "Citation info for a segment.",
      "type": "object",
      "properties": {
        "startIndex": {
          "description": "Index indicates the start of the segment, measured in bytes (UTF-8 unicode). If there are multi-byte characters,such as non-ASCII characters, the index measurement is longer than the string length.",
          "format": "int64",
          "type": "string"
        },
        "endIndex": {
          "format": "int64",
          "type": "string",
          "description": "End of the attributed segment, exclusive. Measured in bytes (UTF-8 unicode). If there are multi-byte characters,such as non-ASCII characters, the index measurement is longer than the string length."
        },
        "sources": {
          "type": "array",
          "description": "Citation sources for the attributed segment.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AnswerCitationSource"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AnswerCitation"
    },
    "GoogleCloudDiscoveryengineV1alphaImportSampleQueriesResponse": {
      "description": "Response of the SampleQueryService.ImportSampleQueries method. If the long running operation is done, this message is returned by the google.longrunning.Operations.response field if the operation is successful.",
      "properties": {
        "errorConfig": {
          "description": "The desired location of errors incurred during the Import.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaImportErrorConfig"
        },
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the request.",
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaImportSampleQueriesResponse",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1BatchVerifyTargetSitesRequest": {
      "properties": {},
      "type": "object",
      "description": "Request message for SiteSearchEngineService.BatchVerifyTargetSites method.",
      "id": "GoogleCloudDiscoveryengineV1BatchVerifyTargetSitesRequest"
    },
    "GoogleCloudDiscoveryengineV1alphaConnectorRunEntityRun": {
      "type": "object",
      "properties": {
        "syncType": {
          "enum": [
            "SYNC_TYPE_UNSPECIFIED",
            "FULL",
            "INCREMENTAL",
            "REALTIME",
            "SCALA_SYNC"
          ],
          "enumDescriptions": [
            "Sync type unspecified.",
            "Sync triggers full sync of all documents.",
            "Incremental sync of updated documents.",
            "Realtime sync.",
            "Scala sync."
          ],
          "description": "Sync type of this run.",
          "type": "string"
        },
        "indexedRecordCount": {
          "description": "Optional. The number of documents indexed.",
          "format": "int64",
          "type": "string"
        },
        "entityName": {
          "type": "string",
          "description": "The name of the source entity."
        },
        "sourceApiRequestCount": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The number of requests sent to 3p API."
        },
        "progress": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaConnectorRunEntityRunProgress",
          "description": "Metadata to generate the progress bar."
        },
        "scheduledRecordCount": {
          "description": "Optional. The number of documents scheduled to be crawled/extracted from connector source. This only applies to third party connectors.",
          "format": "int64",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "The data sync is ongoing.",
            "The data sync is finished.",
            "The data sync is failed.",
            "Data sync has been running longer than expected and is still running at the time the next run is supposed to start.",
            "Data sync was scheduled but has been cancelled.",
            "Data sync is about to start.",
            "The data sync completed with non-fatal errors.",
            "An ongoing connector run has been running longer than expected, causing this run to be skipped."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "OVERRUN",
            "CANCELLED",
            "PENDING",
            "WARNING",
            "SKIPPED"
          ],
          "description": "The state of the entity's sync run."
        },
        "errors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "The errors from the entity's sync run. Only exist if running into an error state. Contains error code and error message.",
          "type": "array"
        },
        "stateUpdateTime": {
          "type": "string",
          "description": "Timestamp at which the entity sync state was last updated.",
          "format": "google-datetime"
        },
        "deletedRecordCount": {
          "type": "string",
          "description": "Optional. The number of documents deleted.",
          "format": "int64"
        },
        "statsUpdateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp for either extracted_documents_count, indexed_documents_count and error_documents_count was last updated."
        },
        "errorRecordCount": {
          "format": "int64",
          "description": "Optional. The total number of documents failed at sync at indexing stage.",
          "type": "string"
        },
        "extractedRecordCount": {
          "type": "string",
          "description": "Optional. The number of documents extracted from connector source, ready to be ingested to VAIS.",
          "format": "int64"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaConnectorRunEntityRun",
      "description": "Represents an entity that was synced in this ConnectorRun."
    },
    "GoogleCloudDiscoveryengineV1alphaPurgeCompletionSuggestionsResponse": {
      "properties": {
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "purgeSucceeded": {
          "type": "boolean",
          "description": "Whether the completion suggestions were successfully purged."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaPurgeCompletionSuggestionsResponse",
      "type": "object",
      "description": "Response message for CompletionService.PurgeCompletionSuggestions method. If the long running operation is successfully done, then this message is returned by the google.longrunning.Operations.response field."
    },
    "GoogleCloudDiscoveryengineV1SearchResponseSummaryCitationMetadata": {
      "properties": {
        "citations": {
          "description": "Citations for segments.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1SearchResponseSummaryCitation"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Citation metadata.",
      "id": "GoogleCloudDiscoveryengineV1SearchResponseSummaryCitationMetadata"
    },
    "GoogleCloudDiscoveryengineV1betaDeleteIdentityMappingStoreMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaDeleteIdentityMappingStoreMetadata",
      "properties": {
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        }
      },
      "description": "Metadata related to the progress of the IdentityMappingStoreService.DeleteIdentityMappingStore operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaCreateEngineMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaCreateEngineMetadata",
      "description": "Metadata related to the progress of the EngineService.CreateEngine operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerStepActionSearchAction": {
      "properties": {
        "query": {
          "description": "The query to search.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionSearchAction",
      "description": "Search action."
    },
    "GoogleCloudDiscoveryengineV1AnswerQueryRequestEndUserSpec": {
      "description": "End user specification.",
      "type": "object",
      "properties": {
        "endUserMetadata": {
          "description": "Optional. End user metadata.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AnswerQueryRequestEndUserSpecEndUserMetaData"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AnswerQueryRequestEndUserSpec"
    },
    "GoogleCloudDiscoveryengineV1AgentGatewaySettingAgentGatewayReference": {
      "id": "GoogleCloudDiscoveryengineV1AgentGatewaySettingAgentGatewayReference",
      "description": "Reference to an Agent Gateway resource.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Immutable. The resource name of the agent gateway. Expected format: `projects/{project_number}/locations/{location}/agentGateways/{agent_gateway}`."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigResourceAccessControlConfig": {
      "description": "Controls resource-level access control for Gemini Enterprise users.",
      "type": "object",
      "properties": {
        "dataStoreAccessControlEnabled": {
          "description": "Optional. If `true`, the data stores and data connectors shown to Gemini Enterprise users are filtered to those the user has the required resource-level `.get` IAM permission on.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigResourceAccessControlConfig"
    },
    "A2aV1OAuthFlows": {
      "type": "object",
      "properties": {
        "authorizationCode": {
          "$ref": "A2aV1AuthorizationCodeOAuthFlow"
        },
        "implicit": {
          "$ref": "A2aV1ImplicitOAuthFlow"
        },
        "password": {
          "$ref": "A2aV1PasswordOAuthFlow"
        },
        "clientCredentials": {
          "$ref": "A2aV1ClientCredentialsOAuthFlow"
        }
      },
      "id": "A2aV1OAuthFlows"
    },
    "GoogleCloudDiscoveryengineV1alphaUpdateCollectionMetadata": {
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaUpdateCollectionMetadata",
      "description": "Metadata related to the progress of the CollectionService.UpdateCollection operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1DataConnector": {
      "properties": {
        "createEuaSaas": {
          "description": "Optional. Whether the END USER AUTHENTICATION connector is created in SaaS.",
          "type": "boolean"
        },
        "privateConnectivityProjectId": {
          "description": "Output only. The tenant project ID associated with private connectivity connectors. This project must be allowlisted by in order for the connector to function.",
          "readOnly": true,
          "type": "string"
        },
        "params": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Required data connector parameters in structured json format."
        },
        "dataSource": {
          "type": "string",
          "description": "Required. The identifier for the data source. For the full, up-to-date list of supported connectors and their values, see [Connect a third-party data source](https://docs.cloud.google.com/gemini/enterprise/docs/connectors/connect-third-party-data-source#sources-by-launch-stage)."
        },
        "connectorType": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value.",
            "Third party connector to connector to third party application.",
            "Data connector connects between FHIR store and VAIS datastore.",
            "Big query connector.",
            "Google Cloud Storage connector.",
            "Gmail connector.",
            "Google Calendar connector.",
            "Google Drive connector.",
            "Native Cloud Identity connector for people search powered by People API.",
            "Federated connector, it is a third party connector that doesn't ingestion data, and search is powered by third party application's API.",
            "Connector utilized for End User Authentication features.",
            "Google Cloud NetApp Volumes connector.",
            "Google Chat connector.",
            "Google Sites connector.",
            "Remote MCP based connector.",
            "Google Workspace connector."
          ],
          "enum": [
            "CONNECTOR_TYPE_UNSPECIFIED",
            "THIRD_PARTY",
            "GCP_FHIR",
            "BIG_QUERY",
            "GCS",
            "GOOGLE_MAIL",
            "GOOGLE_CALENDAR",
            "GOOGLE_DRIVE",
            "NATIVE_CLOUD_IDENTITY",
            "THIRD_PARTY_FEDERATED",
            "THIRD_PARTY_EUA",
            "GCNV",
            "GOOGLE_CHAT",
            "GOOGLE_SITES",
            "REMOTE_MCP",
            "GOOGLE_WORKSPACE"
          ],
          "description": "Output only. The type of connector. Each source can only map to one type. For example, salesforce, confluence and jira have THIRD_PARTY connector type. It is not mutable once set by system.",
          "type": "string"
        },
        "staticIpAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The static IP addresses used by this connector.",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Default value.",
            "The connector is being set up.",
            "The connector is successfully set up and awaiting next sync run.",
            "The connector is in error. The error details can be found in DataConnector.errors. If the error is unfixable, the DataConnector can be deleted by CollectionService.DeleteCollection API.",
            "The connector is actively syncing records from the data source.",
            "The connector has completed a sync run, but encountered non-fatal errors.",
            "Connector initialization failed. Potential causes include runtime errors or issues in the asynchronous pipeline, preventing the request from reaching downstream services (except for some connector types).",
            "Connector is in the process of an update."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "WARNING",
            "INITIALIZATION_FAILED",
            "UPDATING"
          ],
          "readOnly": true,
          "description": "Output only. State of the connector.",
          "type": "string"
        },
        "actionConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1ActionConfig",
          "description": "Optional. Action configurations to make the connector support actions."
        },
        "actionState": {
          "readOnly": true,
          "description": "Output only. State of the action connector. This reflects whether the action connector is initializing, active or has encountered errors.",
          "enumDescriptions": [
            "Default value.",
            "The connector is being set up.",
            "The connector is successfully set up and awaiting next sync run.",
            "The connector is in error. The error details can be found in DataConnector.errors. If the error is unfixable, the DataConnector can be deleted by CollectionService.DeleteCollection API.",
            "The connector is actively syncing records from the data source.",
            "The connector has completed a sync run, but encountered non-fatal errors.",
            "Connector initialization failed. Potential causes include runtime errors or issues in the asynchronous pipeline, preventing the request from reaching downstream services (except for some connector types).",
            "Connector is in the process of an update."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "WARNING",
            "INITIALIZATION_FAILED",
            "UPDATING"
          ],
          "type": "string"
        },
        "vpcscEnabled": {
          "readOnly": true,
          "description": "Output only. Whether the connector is created with VPC-SC enabled.",
          "type": "boolean"
        },
        "bapConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1BAPConfig",
          "description": "Optional. The configuration for establishing a BAP connection."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp the DataConnector was created at.",
          "readOnly": true
        },
        "latestPauseTime": {
          "description": "Output only. The most recent timestamp when this DataConnector was paused, affecting all functionalities such as data synchronization. Pausing a connector has the following effects: - All functionalities, including data synchronization, are halted. - Any ongoing data synchronization job will be canceled. - No future data synchronization runs will be scheduled nor can be triggered.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "oauthStaticIpAddresses": {
          "description": "Output only. The static IP addresses used by this connector for OAuth APIs (e.g. end user authentication). These are surfaced separately from `static_ip_addresses` so that customers can apply granular firewall settings for OAuth endpoints. Only populated for connectors that have static IP enabled and are used for actions and/or federated search.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "autoRunDisabled": {
          "description": "Optional. Indicates whether the connector is disabled for auto run. It can be used to pause periodical and real time sync. Update: with the introduction of incremental_sync_disabled, auto_run_disabled is used to pause/disable only full syncs",
          "type": "boolean"
        },
        "egressFqdns": {
          "description": "Output only. The list of FQDNs of the data connector can egress to. This includes both FQDN derived from the customer provided instance URL and default per connector type FQDNs.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "identityScheduleConfig": {
          "description": "The configuration for the identity data synchronization runs. This contains the refresh interval to sync the Access Control List information for the documents ingested by this connector.",
          "$ref": "GoogleCloudDiscoveryengineV1IdentityScheduleConfig"
        },
        "blockingReasons": {
          "type": "array",
          "description": "Output only. User actions that must be completed before the connector can start syncing data.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value.",
              "Connector requires customer to allowlist static IPs.",
              "Connector requires customer to allowlist our project in their service attachment.",
              "Connector requires customer to allowlist service account in their project."
            ],
            "enum": [
              "BLOCKING_REASON_UNSPECIFIED",
              "ALLOWLIST_STATIC_IP",
              "ALLOWLIST_IN_SERVICE_ATTACHMENT",
              "ALLOWLIST_SERVICE_ACCOUNT"
            ]
          },
          "readOnly": true
        },
        "dynamicTools": {
          "type": "array",
          "description": "Output only. The dynamic tools fetched for this connector.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1DynamicTool"
          },
          "readOnly": true
        },
        "destinationConfigs": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1DestinationConfig"
          },
          "description": "Optional. Any target destinations used to connect to third-party services.",
          "type": "array"
        },
        "hybridIngestionDisabled": {
          "type": "boolean",
          "description": "Optional. If the connector is a hybrid connector, determines whether ingestion is enabled and appropriate resources are provisioned during connector creation. If the connector is not a hybrid connector, this field is ignored."
        },
        "cliConfig": {
          "description": "Optional. The configuration for establishing a CLI connection.",
          "$ref": "GoogleCloudDiscoveryengineV1CliConfig"
        },
        "metadata": {
          "description": "Optional. User-facing metadata for the connector. Populated from the connector's generated metadata / registry `ConnectorSource`.",
          "$ref": "GoogleCloudDiscoveryengineV1DataConnectorConnectorMetadata"
        },
        "connectorSourceId": {
          "description": "Optional. If set, this value instead of `data_source` is used to fetch the corresponding connector source.",
          "type": "string"
        },
        "staticIpEnabled": {
          "type": "boolean",
          "description": "Optional. Whether customer has enabled static IP addresses for this connector."
        },
        "realtimeState": {
          "description": "Output only. real-time sync state",
          "readOnly": true,
          "enumDescriptions": [
            "Default value.",
            "The connector is being set up.",
            "The connector is successfully set up and awaiting next sync run.",
            "The connector is in error. The error details can be found in DataConnector.errors. If the error is unfixable, the DataConnector can be deleted by CollectionService.DeleteCollection API.",
            "The connector is actively syncing records from the data source.",
            "The connector has completed a sync run, but encountered non-fatal errors.",
            "Connector initialization failed. Potential causes include runtime errors or issues in the asynchronous pipeline, preventing the request from reaching downstream services (except for some connector types).",
            "Connector is in the process of an update."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "WARNING",
            "INITIALIZATION_FAILED",
            "UPDATING"
          ],
          "type": "string"
        },
        "kmsKeyName": {
          "description": "Input only. The KMS key to be used to protect the DataStores managed by this connector. Must be set for requests that need to comply with CMEK Org Policy protections. If this field is set and processed successfully, the DataStores created by this connector will be protected by the KMS key.",
          "type": "string"
        },
        "identityRefreshInterval": {
          "type": "string",
          "format": "google-duration",
          "description": "The refresh interval to sync the Access Control List information for the documents ingested by this connector. If not set, the access control list will be refreshed at the default interval of 30 minutes. The identity refresh interval can be at least 30 minutes and at most 7 days.",
          "deprecated": true
        },
        "endUserConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1DataConnectorEndUserConfig",
          "description": "Optional. Any params and credentials used specifically for EUA connectors."
        },
        "incrementalSyncDisabled": {
          "description": "Optional. Indicates whether incremental syncs are paused for this connector. This is independent of auto_run_disabled. Applicable to only 3P connectors. When the refresh interval is set to the same value as the incremental refresh interval, incremental sync will be disabled, i.e. set to true.",
          "type": "boolean"
        },
        "tag": {
          "description": "Optional. Immutable. User-facing, version-independent label for this connector. May be shared by multiple connectors under the same (project, location, collection, data_source); tag-based lookup returns the one with the greatest create_time. Optional at Create time. If the caller omits `tag`, the server auto-derives one from the collection_id (falling back to data_source, else a time-based `t-` sentinel). The auto-derived tag is subject to the same immutability guarantee as a caller-supplied one, so callers who care about the exact tag value should provide it explicitly rather than relying on the server default. Agent Designer resolves connectors via (data_source, tag) when set, falling back to the legacy resource-name lookup when unset, so connectors created before the tag-write launch continue to work without a backfill.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The full resource name of the Data Connector. Format: `projects/*/locations/*/collections/*/dataConnector`.",
          "type": "string"
        },
        "errors": {
          "readOnly": true,
          "description": "Output only. The errors from initialization or from the latest connector run.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "jsonParams": {
          "type": "string",
          "description": "Required data connector parameters in json string format."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp the DataConnector was last updated.",
          "type": "string"
        },
        "dataProtectionPolicy": {
          "$ref": "GoogleCloudDiscoveryengineV1DataProtectionPolicy",
          "description": "Optional. Specifies the data protection policy for the connector."
        },
        "syncMode": {
          "type": "string",
          "enum": [
            "PERIODIC",
            "STREAMING",
            "UNSPECIFIED"
          ],
          "enumDescriptions": [
            "The connector will sync data periodically based on the refresh_interval. Use it with auto_run_disabled to pause the periodic sync, or indicate a one-time sync.",
            "The data will be synced in real time.",
            "Connector that doesn't ingest data will have this value"
          ],
          "description": "The data synchronization mode supported by the data connector."
        },
        "federatedConfig": {
          "description": "Optional. Any params and credentials used specifically for hybrid connectors supporting FEDERATED mode. This field should only be set if the connector is a hybrid connector and we want to enable FEDERATED mode.",
          "$ref": "GoogleCloudDiscoveryengineV1DataConnectorFederatedConfig"
        },
        "nextSyncTime": {
          "$ref": "GoogleTypeDateTime",
          "description": "Defines the scheduled time for the next data synchronization. This field requires hour , minute, and time_zone from the [IANA Time Zone Database](https://www.iana.org/time-zones). This is utilized when the data connector has a refresh interval greater than 1 day. When the hours or minutes are not specified, we will assume a sync time of 0:00. The user must provide a time zone to avoid ambiguity."
        },
        "entities": {
          "description": "List of entities from the connected data source to ingest.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1DataConnectorSourceEntity"
          },
          "type": "array"
        },
        "refreshInterval": {
          "format": "google-duration",
          "type": "string",
          "description": "Required. The refresh interval for data sync. If duration is set to 0, the data will be synced in real time. The streaming feature is not supported yet. The minimum is 30 minutes and maximum is 7 days. When the refresh interval is set to the same value as the incremental refresh interval, incremental sync will be disabled."
        },
        "realtimeSyncConfig": {
          "description": "Optional. The configuration for realtime sync.",
          "$ref": "GoogleCloudDiscoveryengineV1DataConnectorRealtimeSyncConfig"
        },
        "aclEnabled": {
          "description": "Optional. Whether the connector will be created with an ACL config. Currently this field only affects Cloud Storage and BigQuery connectors.",
          "type": "boolean"
        },
        "lastSyncTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. For periodic connectors only, the last time a data sync was completed."
        },
        "connectorModes": {
          "type": "array",
          "description": "Optional. The modes enabled for this connector. Default state is CONNECTOR_MODE_UNSPECIFIED.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Connector mode unspecified.",
              "Connector utilized for data ingestion.",
              "Connector utilized for actions.",
              "Connector utilized for federated search.",
              "Connector utilized for End User Authentication.",
              "Hybrid connector utilized for federated search and End User Authentication."
            ],
            "enum": [
              "CONNECTOR_MODE_UNSPECIFIED",
              "DATA_INGESTION",
              "ACTIONS",
              "FEDERATED",
              "EUA",
              "FEDERATED_AND_EUA"
            ]
          }
        },
        "alertPolicyConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AlertPolicyConfig"
          },
          "description": "Optional. The connector level alert config."
        },
        "removeParamKeys": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Specifies keys to be removed from the 'params' field. This is only active when 'params' is included in the 'update_mask' in an UpdateDataConnectorRequest. Deletion takes precedence if a key is both in 'remove_param_keys' and present in the 'params' field of the request."
        },
        "incrementalRefreshInterval": {
          "description": "Optional. The refresh interval specifically for incremental data syncs. If unset, incremental syncs will use the default from env, set to 3hrs. The minimum is 30 minutes and maximum is 7 days. Applicable to only 3P connectors. When the refresh interval is set to the same value as the incremental refresh interval, incremental sync will be disabled.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1DataConnector",
      "description": "Manages the connection to external data sources for all data stores grouped under a Collection. It's a singleton resource of Collection. The initialization is only supported through DataConnectorService.SetUpDataConnector method, which will create a new Collection and initialize its DataConnector."
    },
    "GoogleCloudDiscoveryengineV1EngineChatEngineConfig": {
      "id": "GoogleCloudDiscoveryengineV1EngineChatEngineConfig",
      "description": "Configurations for a Chat Engine.",
      "type": "object",
      "properties": {
        "agentCreationConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1EngineChatEngineConfigAgentCreationConfig",
          "description": "The configurationt generate the Dialogflow agent that is associated to this Engine. Note that these configurations are one-time consumed by and passed to Dialogflow service. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation."
        },
        "allowCrossRegion": {
          "description": "Optional. If the flag set to true, we allow the agent and engine are in different locations, otherwise the agent and engine are required to be in the same location. The flag is set to false by default. Note that the `allow_cross_region` are one-time consumed by and passed to EngineService.CreateEngine. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation.",
          "type": "boolean"
        },
        "dialogflowAgentToLink": {
          "description": "The resource name of an exist Dialogflow agent to link to this Chat Engine. Customers can either provide `agent_creation_config` to create agent or provide an agent name that links the agent with the Chat engine. Format: `projects//locations//agents/`. Note that the `dialogflow_agent_to_link` are one-time consumed by and passed to Dialogflow service. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation. Use ChatEngineMetadata.dialogflow_agent for actual agent association after Engine is created.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaControlRedirectAction": {
      "id": "GoogleCloudDiscoveryengineV1betaControlRedirectAction",
      "properties": {
        "redirectUri": {
          "description": "Required. The URI to which the shopper will be redirected. Required. URI must have length equal or less than 2000 characters. Otherwise an INVALID ARGUMENT error is thrown.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Redirects a shopper to the provided URI."
    },
    "GoogleCloudDiscoveryengineV1Assistant": {
      "description": "Discovery Engine Assistant resource.",
      "type": "object",
      "properties": {
        "customerPolicy": {
          "$ref": "GoogleCloudDiscoveryengineV1AssistantCustomerPolicy",
          "description": "Optional. Customer policy for the assistant."
        },
        "webGroundingType": {
          "type": "string",
          "enumDescriptions": [
            "Default, unspecified setting. This is the same as disabled.",
            "Web grounding is disabled.",
            "Grounding with Google Search is enabled.",
            "Grounding with Enterprise Web Search is enabled."
          ],
          "description": "Optional. The type of web grounding to use.",
          "enum": [
            "WEB_GROUNDING_TYPE_UNSPECIFIED",
            "WEB_GROUNDING_TYPE_DISABLED",
            "WEB_GROUNDING_TYPE_GOOGLE_SEARCH",
            "WEB_GROUNDING_TYPE_ENTERPRISE_WEB_SEARCH"
          ]
        },
        "displayName": {
          "description": "Required. The assistant display name. It must be a UTF-8 encoded string with a length limit of 128 characters.",
          "type": "string"
        },
        "defaultWebGroundingToggleOff": {
          "type": "boolean",
          "description": "Optional. This field controls the default web grounding toggle for end users if `web_grounding_type` is set to `WEB_GROUNDING_TYPE_GOOGLE_SEARCH` or `WEB_GROUNDING_TYPE_ENTERPRISE_WEB_SEARCH`. By default, this field is set to false. If `web_grounding_type` is `WEB_GROUNDING_TYPE_GOOGLE_SEARCH` or `WEB_GROUNDING_TYPE_ENTERPRISE_WEB_SEARCH`, end users will have web grounding enabled by default on UI. If true, grounding toggle will be disabled by default on UI. End users can still enable web grounding in the UI if web grounding is enabled."
        },
        "description": {
          "description": "Optional. Description for additional information. Expected to be shown on the configuration UI, not to the users of the assistant.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Represents the time when this Assistant was most recently updated.",
          "type": "string"
        },
        "generationConfig": {
          "description": "Optional. Configuration for the generation of the assistant response.",
          "$ref": "GoogleCloudDiscoveryengineV1AssistantGenerationConfig"
        },
        "name": {
          "description": "Immutable. Resource name of the assistant. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/assistants/{assistant}` It must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "enabledTools": {
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1AssistantToolList"
          },
          "type": "object",
          "description": "Optional. Note: not implemented yet. Use enabled_actions instead. The enabled tools on this assistant. The keys are connector name, for example \"projects/{projectId}/locations/{locationId}/collections/{collectionId}/dataconnector The values consist of admin enabled tools towards the connector instance. Admin can selectively enable multiple tools on any of the connector instances that they created in the project. For example {\"jira1ConnectorName\": [(toolId1, \"createTicket\"), (toolId2, \"transferTicket\")], \"gmail1ConnectorName\": [(toolId3, \"sendEmail\"),..] }"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Represents the time when this Assistant was created.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1Assistant"
    },
    "GoogleCloudDiscoveryengineV1alphaDataConnectorEndUserConfig": {
      "type": "object",
      "description": "Any params and credentials used specifically for EUA connectors.",
      "properties": {
        "authParams": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Optional. Any authentication parameters specific to EUA connectors."
        },
        "tenant": {
          "description": "Optional. The tenant project the connector is connected to.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaTenant"
        },
        "jsonAuthParams": {
          "description": "Optional. Any authentication parameters specific to EUA connectors in json string format.",
          "type": "string"
        },
        "additionalParams": {
          "description": "Optional. Any additional parameters needed for EUA.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaDataConnectorEndUserConfig"
    },
    "GoogleCloudDiscoveryengineV1ProvisionProjectRequest": {
      "type": "object",
      "properties": {
        "saasParams": {
          "$ref": "GoogleCloudDiscoveryengineV1ProvisionProjectRequestSaasParams",
          "description": "Optional. Parameters for Agentspace."
        },
        "acceptDataUseTerms": {
          "type": "boolean",
          "description": "Required. Set to `true` to specify that caller has read and would like to give consent to the [Terms for data use](https://cloud.google.com/retail/data-use-terms)."
        },
        "dataUseTermsVersion": {
          "type": "string",
          "description": "Required. The version of the [Terms for data use](https://cloud.google.com/retail/data-use-terms) that caller has read and would like to give consent to. Acceptable version is `2022-11-23`, and this may change over time."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1ProvisionProjectRequest",
      "description": "Request for ProjectService.ProvisionProject method."
    },
    "GoogleCloudDiscoveryengineV1DeleteDataStoreMetadata": {
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "description": "Metadata related to the progress of the DataStoreService.DeleteDataStore operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1DeleteDataStoreMetadata",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContentTextGroundingMetadataSegment": {
      "id": "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContentTextGroundingMetadataSegment",
      "description": "Grounding information for a segment of the text.",
      "type": "object",
      "properties": {
        "startIndex": {
          "format": "int64",
          "type": "string",
          "description": "Zero-based index indicating the start of the segment, measured in bytes of a UTF-8 string (i.e. characters encoded on multiple bytes have a length of more than one)."
        },
        "text": {
          "description": "The text segment itself.",
          "type": "string"
        },
        "endIndex": {
          "type": "string",
          "format": "int64",
          "description": "End of the segment, exclusive."
        },
        "referenceIndices": {
          "description": "References for the segment.",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        },
        "groundingScore": {
          "type": "number",
          "description": "Score for the segment.",
          "format": "float"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1ListCustomModelsResponse": {
      "id": "GoogleCloudDiscoveryengineV1ListCustomModelsResponse",
      "type": "object",
      "properties": {
        "models": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1CustomTuningModel"
          },
          "description": "List of custom tuning models.",
          "type": "array"
        }
      },
      "description": "Response message for SearchTuningService.ListCustomModels method."
    },
    "A2aV1ImplicitOAuthFlow": {
      "id": "A2aV1ImplicitOAuthFlow",
      "type": "object",
      "properties": {
        "scopes": {
          "description": "The available scopes for the OAuth2 security scheme. A map between the scope name and a short description for it. The map MAY be empty.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "authorizationUrl": {
          "type": "string",
          "description": "The authorization URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS"
        },
        "refreshUrl": {
          "description": "The URL to be used for obtaining refresh tokens. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAgentGatewaySettingAgentGatewayReference": {
      "description": "Reference to an Agent Gateway resource.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaAgentGatewaySettingAgentGatewayReference",
      "properties": {
        "name": {
          "description": "Required. Immutable. The resource name of the agent gateway. Expected format: `projects/{project_number}/locations/{location}/agentGateways/{agent_gateway}`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSiteVerificationInfo": {
      "id": "GoogleCloudDiscoveryengineV1betaSiteVerificationInfo",
      "properties": {
        "verifyTime": {
          "description": "Latest site verification time.",
          "type": "string",
          "format": "google-datetime"
        },
        "siteVerificationState": {
          "type": "string",
          "enumDescriptions": [
            "Defaults to VERIFIED.",
            "Site ownership verified.",
            "Site ownership pending verification or verification failed.",
            "Site exempt from verification, e.g., a public website that opens to all."
          ],
          "description": "Site verification state indicating the ownership and validity.",
          "enum": [
            "SITE_VERIFICATION_STATE_UNSPECIFIED",
            "VERIFIED",
            "UNVERIFIED",
            "EXEMPTED"
          ]
        }
      },
      "type": "object",
      "description": "Verification information for target sites in advanced site search."
    },
    "GoogleCloudDiscoveryengineV1UpdateCmekConfigMetadata": {
      "id": "GoogleCloudDiscoveryengineV1UpdateCmekConfigMetadata",
      "description": "Metadata related to the progress of the CmekConfigService.UpdateCmekConfig operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaReplacePatientFilterRequest": {
      "description": "Request for DataStoreService.ReplacePatientFilter method.",
      "type": "object",
      "properties": {
        "dataStore": {
          "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. If the caller does not have permission to access the DataStore, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested DataStore does not exist, a NOT_FOUND error is returned. If the requested DataStore already has a patient filter, an ALREADY_EXISTS error will be returned.",
          "type": "string"
        },
        "filterGroups": {
          "items": {
            "type": "string"
          },
          "description": "Required. Names of the Group resources to use as a basis for the list of patients for the new patient filter, in format `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}/fhir/Group/{group_id}`. if the caller does not have permission to access the FHIR store, regardless of whether it exists, PERMISSION_DENIED error is returned. If the discovery engine service account does not have permission to access the FHIR store, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the group is not found at the location, a RESOURCE_NOT_FOUND error will be returned. The filter group must be a FHIR resource name of type Group, and the new filter will be constructed from the direct members of the group which are Patient resources.",
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaReplacePatientFilterRequest"
    },
    "GoogleCloudDiscoveryengineV1SearchResponseFacetFacetValue": {
      "type": "object",
      "description": "A facet value which contains value names and their count.",
      "id": "GoogleCloudDiscoveryengineV1SearchResponseFacetFacetValue",
      "properties": {
        "interval": {
          "$ref": "GoogleCloudDiscoveryengineV1Interval",
          "description": "Interval value for a facet, such as 10, 20) for facet \"price\". It matches [SearchRequest.FacetSpec.FacetKey.intervals."
        },
        "count": {
          "description": "Number of items that have this facet value.",
          "type": "string",
          "format": "int64"
        },
        "value": {
          "description": "Text value of a facet, such as \"Black\" for facet \"colors\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1Answer": {
      "id": "GoogleCloudDiscoveryengineV1Answer",
      "description": "Defines an answer.",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Answer generation is currently in progress.",
            "Answer generation currently failed.",
            "Answer generation has succeeded.",
            "Answer generation is currently in progress."
          ],
          "description": "The state of the answer generation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "FAILED",
            "SUCCEEDED",
            "STREAMING"
          ]
        },
        "references": {
          "type": "array",
          "description": "References.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AnswerReference"
          }
        },
        "relatedQuestions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Suggested related questions."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Answer creation timestamp.",
          "readOnly": true,
          "type": "string"
        },
        "answerSkippedReasons": {
          "description": "Additional answer-skipped reasons. This provides the reason for ignored cases. If nothing is skipped, this field is not set.",
          "items": {
            "enumDescriptions": [
              "Default value. The answer skipped reason is not specified.",
              "The adversarial query ignored case.",
              "The non-answer seeking query ignored case Google skips the answer if the query is chit chat.",
              "The out-of-domain query ignored case. Google skips the answer if there are no high-relevance search results.",
              "The potential policy violation case. Google skips the answer if there is a potential policy violation detected. This includes content that may be violent or toxic.",
              "The no relevant content case. Google skips the answer if there is no relevant content in the retrieved search results.",
              "The jail-breaking query ignored case. For example, \"Reply in the tone of a competing company's CEO\". Google skips the answer if the query is classified as a jail-breaking query.",
              "The customer policy violation case. Google skips the summary if there is a customer policy violation detected. The policy is defined by the customer.",
              "The non-answer seeking query ignored case. Google skips the answer if the query doesn't have clear intent.",
              "The low-grounded answer case. Google skips the answer if a well grounded answer was unable to be generated.",
              "The user defined query classification ignored case. Google skips the answer if the query is classified as a user defined query classification.",
              "The unhelpful answer case. Google skips the answer if the answer is not helpful. This can be due to a variety of factors, including but not limited to: the query is not answerable, the answer is not relevant to the query, or the answer is not well-formatted."
            ],
            "type": "string",
            "enum": [
              "ANSWER_SKIPPED_REASON_UNSPECIFIED",
              "ADVERSARIAL_QUERY_IGNORED",
              "NON_ANSWER_SEEKING_QUERY_IGNORED",
              "OUT_OF_DOMAIN_QUERY_IGNORED",
              "POTENTIAL_POLICY_VIOLATION",
              "NO_RELEVANT_CONTENT",
              "JAIL_BREAKING_QUERY_IGNORED",
              "CUSTOMER_POLICY_VIOLATION",
              "NON_ANSWER_SEEKING_QUERY_IGNORED_V2",
              "LOW_GROUNDED_ANSWER",
              "USER_DEFINED_CLASSIFICATION_QUERY_IGNORED",
              "UNHELPFUL_ANSWER"
            ]
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Fully qualified name `projects/{project}/locations/global/collections/{collection}/engines/{engine}/sessions/*/answers/*`"
        },
        "answerText": {
          "description": "The textual answer.",
          "type": "string"
        },
        "safetyRatings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1SafetyRating"
          },
          "description": "Optional. Safety ratings."
        },
        "completeTime": {
          "format": "google-datetime",
          "description": "Output only. Answer completed timestamp.",
          "type": "string",
          "readOnly": true
        },
        "groundingScore": {
          "description": "A score in the range of [0, 1] describing how grounded the answer is by the reference chunks.",
          "type": "number",
          "format": "double"
        },
        "queryUnderstandingInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1AnswerQueryUnderstandingInfo",
          "description": "Query understanding information."
        },
        "steps": {
          "description": "Answer generation steps.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AnswerStep"
          },
          "type": "array"
        },
        "groundingSupports": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AnswerGroundingSupport"
          },
          "type": "array",
          "description": "Optional. Grounding supports."
        },
        "citations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AnswerCitation"
          },
          "description": "Citations."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerReferenceChunkInfoDocumentMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerReferenceChunkInfoDocumentMetadata",
      "properties": {
        "structData": {
          "description": "The structured JSON metadata for the document. It is populated from the struct data from the Chunk in search result.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "title": {
          "type": "string",
          "description": "Title."
        },
        "document": {
          "description": "Document resource name.",
          "type": "string"
        },
        "uri": {
          "description": "URI for the document.",
          "type": "string"
        },
        "pageIdentifier": {
          "type": "string",
          "description": "Page identifier."
        }
      },
      "description": "Document metadata.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1DataProtectionPolicySensitiveDataProtectionPolicy": {
      "description": "Specifies a Sensitive Data Protection (https://cloud.google.com/sensitive-data-protection/docs/sensitive-data-protection-overview) policy.",
      "id": "GoogleCloudDiscoveryengineV1DataProtectionPolicySensitiveDataProtectionPolicy",
      "type": "object",
      "properties": {
        "policy": {
          "description": "Optional. Specifies the resource name of the Sensitive Data Protection content policy.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestRelevanceFilterSpecRelevanceThresholdSpec": {
      "description": "Specification for relevance filtering on a specific sub-search.",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestRelevanceFilterSpecRelevanceThresholdSpec",
      "properties": {
        "semanticRelevanceThreshold": {
          "format": "float",
          "type": "number",
          "description": "Custom relevance threshold for the sub-search. The value must be in [0.0, 1.0]."
        },
        "relevanceThreshold": {
          "type": "string",
          "enumDescriptions": [
            "Default value. In this case, server behavior defaults to Google defined threshold.",
            "Lowest relevance threshold.",
            "Low relevance threshold.",
            "Medium relevance threshold.",
            "High relevance threshold."
          ],
          "description": "Pre-defined relevance threshold for the sub-search.",
          "enum": [
            "RELEVANCE_THRESHOLD_UNSPECIFIED",
            "LOWEST",
            "LOW",
            "MEDIUM",
            "HIGH"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAlertPolicyConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaAlertPolicyConfig",
      "type": "object",
      "description": "The connector level alert config.",
      "properties": {
        "alertPolicyName": {
          "description": "Immutable. The fully qualified resource name of the AlertPolicy.",
          "type": "string"
        },
        "alertEnrollments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAlertPolicyConfigAlertEnrollment"
          },
          "description": "Optional. The enrollment states of each alert."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1DeleteCmekConfigMetadata": {
      "description": "Metadata related to the progress of the CmekConfigService.DeleteCmekConfig operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1DeleteCmekConfigMetadata",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestSearchAsYouTypeSpec": {
      "description": "Specification for search as you type in search requests.",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestSearchAsYouTypeSpec",
      "type": "object",
      "properties": {
        "condition": {
          "enum": [
            "CONDITION_UNSPECIFIED",
            "DISABLED",
            "ENABLED",
            "AUTO"
          ],
          "enumDescriptions": [
            "Server behavior defaults to Condition.DISABLED.",
            "Disables Search As You Type.",
            "Enables Search As You Type.",
            "Automatic switching between search-as-you-type and standard search modes, ideal for single-API implementations (e.g., debouncing)."
          ],
          "description": "The condition under which search as you type should occur. Default to Condition.DISABLED.",
          "type": "string"
        },
        "scoreThreshold": {
          "format": "double",
          "description": "Optional. Search As You Type score threshold for filtering purpose. We keep the result if `score` >= `score_threshold`.",
          "type": "number"
        },
        "fields": {
          "description": "Optional. The list of fields to be used for Search As You Type scoring.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestSearchAsYouTypeSpecField"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpecModelSpec": {
      "type": "object",
      "description": "Specification of the model.",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpecModelSpec",
      "properties": {
        "version": {
          "description": "The model version used to generate the summary. Supported values are: * `stable`: string. Default value when no value is specified. Uses a generally available, fine-tuned model. For more information, see [Answer generation model versions and lifecycle](https://cloud.google.com/generative-ai-app-builder/docs/answer-generation-models). * `preview`: string. (Public preview) Uses a preview model. For more information, see [Answer generation model versions and lifecycle](https://cloud.google.com/generative-ai-app-builder/docs/answer-generation-models).",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1DataConnectorRealtimeSyncConfigStreamingError": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1DataConnectorRealtimeSyncConfigStreamingError",
      "description": "Streaming error details.",
      "properties": {
        "streamingErrorReason": {
          "description": "Optional. Streaming error.",
          "enumDescriptions": [
            "Streaming error reason unspecified.",
            "Some error occurred while setting up resources for realtime sync.",
            "Some error was encountered while running realtime sync for the connector.",
            "Ingress endpoint is required when setting up realtime sync in private connectivity."
          ],
          "enum": [
            "STREAMING_ERROR_REASON_UNSPECIFIED",
            "STREAMING_SETUP_ERROR",
            "STREAMING_SYNC_ERROR",
            "INGRESS_ENDPOINT_REQUIRED"
          ],
          "type": "string"
        },
        "error": {
          "description": "Optional. Error details.",
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1DocumentContent": {
      "description": "Unstructured data linked to this document.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1DocumentContent",
      "properties": {
        "rawBytes": {
          "description": "The content represented as a stream of bytes. The maximum length is 1,000,000 bytes (1 MB / ~0.95 MiB). Note: As with all `bytes` fields, this field is represented as pure binary in Protocol Buffers and base64-encoded string in JSON. For example, `abc123!?$*&()'-=@~` should be represented as `YWJjMTIzIT8kKiYoKSctPUB+` in JSON. See https://developers.google.com/protocol-buffers/docs/proto3#json.",
          "type": "string",
          "format": "byte"
        },
        "mimeType": {
          "description": "The MIME type of the content. Supported types: * `application/pdf` (PDF, only native PDFs are supported for now) * `text/html` (HTML) * `text/plain` (TXT) * `application/xml` or `text/xml` (XML) * `application/json` (JSON) * `application/vnd.openxmlformats-officedocument.wordprocessingml.document` (DOCX) * `application/vnd.openxmlformats-officedocument.presentationml.presentation` (PPTX) * `application/vnd.openxmlformats-officedocument.spreadsheetml.sheet` (XLSX) * `application/vnd.ms-excel.sheet.macroenabled.12` (XLSM) The following types are supported only if layout parser is enabled in the data store: * `image/bmp` (BMP) * `image/gif` (GIF) * `image/jpeg` (JPEG) * `image/png` (PNG) * `image/tiff` (TIFF) See https://www.iana.org/assignments/media-types/media-types.xhtml.",
          "type": "string"
        },
        "uri": {
          "description": "The URI of the content. Only Cloud Storage URIs (e.g. `gs://bucket-name/path/to/file`) are supported. The maximum file size is 2.5 MB for text-based formats, 200 MB for other formats.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestRelevanceFilterSpecRelevanceThresholdSpec": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestRelevanceFilterSpecRelevanceThresholdSpec",
      "description": "Specification for relevance filtering on a specific sub-search.",
      "type": "object",
      "properties": {
        "semanticRelevanceThreshold": {
          "description": "Custom relevance threshold for the sub-search. The value must be in [0.0, 1.0].",
          "format": "float",
          "type": "number"
        },
        "relevanceThreshold": {
          "enumDescriptions": [
            "Default value. In this case, server behavior defaults to Google defined threshold.",
            "Lowest relevance threshold.",
            "Low relevance threshold.",
            "Medium relevance threshold.",
            "High relevance threshold."
          ],
          "type": "string",
          "description": "Pre-defined relevance threshold for the sub-search.",
          "enum": [
            "RELEVANCE_THRESHOLD_UNSPECIFIED",
            "LOWEST",
            "LOW",
            "MEDIUM",
            "HIGH"
          ]
        }
      }
    },
    "GoogleCloudDiscoveryengineV1ImportUserEventsResponse": {
      "properties": {
        "joinedEventsCount": {
          "description": "Count of user events imported with complete existing Documents.",
          "type": "string",
          "format": "int64"
        },
        "unjoinedEventsCount": {
          "format": "int64",
          "description": "Count of user events imported, but with Document information not found in the existing Branch.",
          "type": "string"
        },
        "errorSamples": {
          "type": "array",
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "errorConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1ImportErrorConfig",
          "description": "Echoes the destination for the complete errors if this field was set in the request."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1ImportUserEventsResponse",
      "description": "Response of the ImportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful."
    },
    "GoogleCloudDiscoveryengineV1SearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterGeolocationConstraint": {
      "description": "Constraint of a geolocation field. Name of the geolocation field as defined in the schema.",
      "type": "object",
      "properties": {
        "address": {
          "description": "The reference address that was inferred from the input query. The proximity of the reference address to the geolocation field will be used to filter the results.",
          "type": "string"
        },
        "radiusInMeters": {
          "format": "float",
          "type": "number",
          "description": "The radius in meters around the address. The record is returned if the location of the geolocation field is within the radius."
        },
        "latitude": {
          "format": "double",
          "description": "The latitude of the geolocation inferred from the input query.",
          "type": "number"
        },
        "fieldName": {
          "type": "string",
          "description": "The name of the geolocation field as defined in the schema."
        },
        "longitude": {
          "description": "The longitude of the geolocation inferred from the input query.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1SearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterGeolocationConstraint"
    },
    "GoogleCloudDiscoveryengineV1TrainCustomModelRequestGcsTrainingInput": {
      "type": "object",
      "description": "Cloud Storage training data input.",
      "properties": {
        "trainDataPath": {
          "type": "string",
          "description": "Cloud Storage training data path whose format should be `gs:///`. The file should be in tsv format. Each line should have the doc_id and query_id and score (number). For search-tuning model, it should have the query-id corpus-id score as tsv file header. The score should be a number in `[0, inf+)`. The larger the number is, the more relevant the pair is. Example: * `query-id\\tcorpus-id\\tscore` * `query1\\tdoc1\\t1`"
        },
        "queryDataPath": {
          "type": "string",
          "description": "The gcs query data which could be associated in train data. The data path format is `gs:///`. A newline delimited jsonl/ndjson file. For search-tuning model, each line should have the _id and text. Example: {\"_id\": \"query1\", \"text\": \"example query\"}"
        },
        "corpusDataPath": {
          "description": "The Cloud Storage corpus data which could be associated in train data. The data path format is `gs:///`. A newline delimited jsonl/ndjson file. For search-tuning model, each line should have the _id, title and text. Example: `{\"_id\": \"doc1\", title: \"relevant doc\", \"text\": \"relevant text\"}`",
          "type": "string"
        },
        "testDataPath": {
          "description": "Cloud Storage test data. Same format as train_data_path. If not provided, a random 80/20 train/test split will be performed on train_data_path.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1TrainCustomModelRequestGcsTrainingInput"
    },
    "GoogleCloudDiscoveryengineV1alphaConditionTimeRange": {
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Start of time range. Range is inclusive."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "End of time range. Range is inclusive. Must be in the future."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaConditionTimeRange",
      "description": "Used for time-dependent conditions."
    },
    "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfig": {
      "type": "object",
      "description": "Configuration for NotebookLM.",
      "properties": {
        "modelArmorConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigModelArmorConfig",
          "description": "Model Armor configuration to be used for sanitizing user prompts and LLM responses."
        },
        "observabilityConfig": {
          "description": "Optional. Observability config for NotebookLM.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaObservabilityConfig"
        },
        "dataProtectionPolicy": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicy",
          "description": "Optional. Specifies the data protection policy for NotebookLM."
        },
        "optOutNotebookSharing": {
          "type": "boolean",
          "description": "Optional. Whether to disable the notebook sharing feature for the project. Default to false if not specified."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfig"
    },
    "GoogleCloudDiscoveryengineV1PurgeSuggestionDenyListEntriesMetadata": {
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Metadata related to the progress of the PurgeSuggestionDenyListEntries operation. This is returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1PurgeSuggestionDenyListEntriesMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaConnectorRun": {
      "id": "GoogleCloudDiscoveryengineV1alphaConnectorRun",
      "type": "object",
      "description": "A data sync run of DataConnector. After DataConnector is successfully initialized, data syncs are scheduled at DataConnector.refresh_interval. A ConnectorRun represents a data sync either in the past or onging that the moment. //",
      "properties": {
        "state": {
          "description": "Output only. The state of the sync run.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value.",
            "The data sync is ongoing.",
            "The data sync is finished.",
            "The data sync is failed.",
            "Data sync has been running longer than expected and is still running at the time the next run is supposed to start.",
            "Data sync was scheduled but has been cancelled.",
            "Data sync is about to start.",
            "The data sync completed with non-fatal errors.",
            "An ongoing connector run has been running longer than expected, causing this run to be skipped."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "OVERRUN",
            "CANCELLED",
            "PENDING",
            "WARNING",
            "SKIPPED"
          ],
          "type": "string"
        },
        "stateUpdateTime": {
          "format": "google-datetime",
          "description": "Timestamp at which the connector run sync state was last updated.",
          "type": "string"
        },
        "latestPauseTime": {
          "type": "string",
          "description": "Output only. The time when the connector run was most recently paused.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "trigger": {
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "SCHEDULER",
            "INITIALIZATION",
            "RESUME",
            "MANUAL"
          ],
          "type": "string",
          "description": "Output only. The trigger for this ConnectorRun.",
          "enumDescriptions": [
            "Default value.",
            "ConnectorRun triggered by scheduler if connector has PERIODIC sync mode.",
            "ConnectorRun auto triggered by connector initialization.",
            "ConnectorRun auto triggered by resuming connector.",
            "ConnectorRun triggered by user manually."
          ],
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The full resource name of the Connector Run. Format: `projects/*/locations/*/collections/*/dataConnector/connectorRuns/*`. The `connector_run_id` is system-generated.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the connector run ended."
        },
        "entityRuns": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaConnectorRunEntityRun"
          },
          "description": "Output only. The details of the entities synced at the ConnectorRun. Each ConnectorRun consists of syncing one or more entities."
        },
        "errors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Contains info about errors incurred during the sync. Only exist if running into an error state. Contains error code and error message. Use with the `state` field.",
          "type": "array"
        },
        "startTime": {
          "type": "string",
          "description": "Output only. The time when the connector run started.",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "GoogleApiMonitoredResource": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Required. The monitored resource type. This field must match the `type` field of a MonitoredResourceDescriptor object. For example, the type of a Compute Engine VM instance is `gce_instance`. Some descriptors include the service name in the type; for example, the type of a Datastream stream is `datastream.googleapis.com/Stream`."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Required. Values for all of the labels listed in the associated monitored resource descriptor. For example, Compute Engine VM instances use the labels `\"project_id\"`, `\"instance_id\"`, and `\"zone\"`."
        }
      },
      "id": "GoogleApiMonitoredResource",
      "description": "An object representing a resource that can be used for monitoring, logging, billing, or other purposes. Examples include virtual machine instances, databases, and storage devices such as disks. The `type` field identifies a MonitoredResourceDescriptor object that describes the resource's schema. Information in the `labels` field identifies the actual resource and its attributes according to the schema. For example, a particular Compute Engine VM instance could be represented by the following object, because the MonitoredResourceDescriptor for `\"gce_instance\"` has labels `\"project_id\"`, `\"instance_id\"` and `\"zone\"`: { \"type\": \"gce_instance\", \"labels\": { \"project_id\": \"my-project\", \"instance_id\": \"12345678901234\", \"zone\": \"us-central1-a\" }}"
    },
    "A2aV1HTTPAuthSecurityScheme": {
      "id": "A2aV1HTTPAuthSecurityScheme",
      "type": "object",
      "properties": {
        "bearerFormat": {
          "type": "string",
          "description": "A hint to the client to identify how the bearer token is formatted. Bearer tokens are usually generated by an authorization server, so this information is primarily for documentation purposes."
        },
        "scheme": {
          "description": "The name of the HTTP Authentication scheme to be used in the Authorization header as defined in RFC7235. The values used SHOULD be registered in the IANA Authentication Scheme registry. The value is case-insensitive, as defined in RFC7235.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of this security scheme."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestNaturalLanguageQueryUnderstandingSpec": {
      "type": "object",
      "description": "Specification to enable natural language understanding capabilities for search requests.",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestNaturalLanguageQueryUnderstandingSpec",
      "properties": {
        "allowedFieldNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Allowlist of fields that can be used for natural language filter extraction. By default, if this is unspecified, all indexable fields are eligible for natural language filter extraction (but are not guaranteed to be used). If any fields are specified in allowed_field_names, only the fields that are both marked as indexable in the schema and specified in the allowlist will be eligible for natural language filter extraction. Note: for multi-datastore search, this is not yet supported, and will be ignored."
        },
        "extractedFilterBehavior": {
          "type": "string",
          "description": "Optional. Controls behavior of how extracted filters are applied to the search. The default behavior depends on the request. For single datastore structured search, the default is `HARD_FILTER`. For multi-datastore search, the default behavior is `SOFT_BOOST`. Location-based filters are always applied as hard filters, and the `SOFT_BOOST` setting will not affect them. This field is only used if SearchRequest.NaturalLanguageQueryUnderstandingSpec.FilterExtractionCondition is set to FilterExtractionCondition.ENABLED.",
          "enumDescriptions": [
            "`EXTRACTED_FILTER_BEHAVIOR_UNSPECIFIED` will use the default behavior for extracted filters. For single datastore search, the default is to apply as hard filters. For multi-datastore search, the default is to apply as soft boosts.",
            "Applies all extracted filters as hard filters on the results. Results that do not pass the extracted filters will not be returned in the result set.",
            "Applies all extracted filters as soft boosts. Results that pass the filters will be boosted up to higher ranks in the result set."
          ],
          "enum": [
            "EXTRACTED_FILTER_BEHAVIOR_UNSPECIFIED",
            "HARD_FILTER",
            "SOFT_BOOST"
          ]
        },
        "filterExtractionCondition": {
          "description": "The condition under which filter extraction should occur. Server behavior defaults to `DISABLED`.",
          "type": "string",
          "enumDescriptions": [
            "Server behavior defaults to `DISABLED`.",
            "Disables NL filter extraction.",
            "Enables NL filter extraction."
          ],
          "enum": [
            "CONDITION_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ]
        },
        "geoSearchQueryDetectionFieldNames": {
          "description": "Field names used for location-based filtering, where geolocation filters are detected in natural language search queries. Only valid when the FilterExtractionCondition is set to `ENABLED`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1SearchResponseSearchResultRankSignalsCustomSignal": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. Name of the signal."
        },
        "value": {
          "type": "number",
          "format": "float",
          "description": "Optional. Float value representing the ranking signal (e.g. 1.25 for BM25)."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1SearchResponseSearchResultRankSignalsCustomSignal",
      "type": "object",
      "description": "Custom clearbox signal represented by name and value pair."
    },
    "GoogleCloudDiscoveryengineV1alphaCreateTargetSiteMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaCreateTargetSiteMetadata",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        }
      },
      "description": "Metadata related to the progress of the SiteSearchEngineService.CreateTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ConversationMessage": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Message creation timestamp.",
          "type": "string",
          "readOnly": true
        },
        "userInput": {
          "$ref": "GoogleCloudDiscoveryengineV1TextInput",
          "description": "User text input."
        },
        "reply": {
          "description": "Search reply.",
          "$ref": "GoogleCloudDiscoveryengineV1Reply"
        }
      },
      "description": "Defines a conversation message.",
      "id": "GoogleCloudDiscoveryengineV1ConversationMessage",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1SessionConfig": {
      "properties": {
        "sessionManagementPolicy": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "The session will be managed by the customer.",
            "Sessions multi-tenancy will be controlled by Google using 1P or 3P identity providers."
          ],
          "description": "Optional. Session management policy that defines who will manage the session.",
          "enum": [
            "SESSION_MANAGEMENT_POLICY_UNSPECIFIED",
            "NOT_MANAGED",
            "VERTEX_AI_MANAGED"
          ]
        },
        "sessionTtl": {
          "description": "Optional. The TTL for the session. If unset, the default value is 60 days.",
          "$ref": "GoogleCloudDiscoveryengineV1SessionConfigSessionTtl"
        }
      },
      "description": "Configuration for the session.",
      "id": "GoogleCloudDiscoveryengineV1SessionConfig",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaDeleteUserStoreMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteUserStoreMetadata",
      "description": "Metadata related to the progress of the UserStoreService.DeleteUserStore operation. This will be returned by the google.longrunning.Operation.metadata field. Delete UserStore will delete all the end users under the user store, return the number of end users successfully deleted or failed to delete in the metadata.",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        },
        "successCount": {
          "format": "int64",
          "description": "The number of end users under the user store that were successfully deleted.",
          "type": "string"
        },
        "failureCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of end users under the user store that failed to be deleted."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerQueryUnderstandingInfo": {
      "description": "Query understanding information.",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerQueryUnderstandingInfo",
      "properties": {
        "queryClassificationInfo": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerQueryUnderstandingInfoQueryClassificationInfo"
          },
          "description": "Query classification information."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaEstimateDataSizeMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaEstimateDataSizeMetadata",
      "description": "Metadata related to the progress of the EstimateDataSize operation. This is returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpec": {
      "description": "A specification for configuring a summary returned in a search response.",
      "id": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpec",
      "properties": {
        "modelSpec": {
          "description": "If specified, the spec will be used to modify the model specification provided to the LLM.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpecModelSpec"
        },
        "includeCitations": {
          "description": "Specifies whether to include citations in the summary. The default value is `false`. When this field is set to `true`, summaries include in-line citation numbers. Example summary including citations: BigQuery is Google Cloud's fully managed and completely serverless enterprise data warehouse [1]. BigQuery supports all data types, works across clouds, and has built-in machine learning and business intelligence, all within a unified platform [2, 3]. The citation numbers refer to the returned search results and are 1-indexed. For example, [1] means that the sentence is attributed to the first search result. [2, 3] means that the sentence is attributed to both the second and third search results.",
          "type": "boolean"
        },
        "modelPromptSpec": {
          "description": "If specified, the spec will be used to modify the prompt provided to the LLM.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpecModelPromptSpec"
        },
        "ignoreNonSummarySeekingQuery": {
          "description": "Specifies whether to filter out queries that are not summary-seeking. The default value is `false`. Google employs search-query classification to detect summary-seeking queries. No summary is returned if the search query is classified as a non-summary seeking query. For example, `why is the sky blue` and `Who is the best soccer player in the world?` are summary-seeking queries, but `SFO airport` and `world cup 2026` are not. They are most likely navigational queries. If this field is set to `true`, we skip generating summaries for non-summary seeking queries and return fallback messages instead.",
          "type": "boolean"
        },
        "ignoreJailBreakingQuery": {
          "type": "boolean",
          "description": "Optional. Specifies whether to filter out jail-breaking queries. The default value is `false`. Google employs search-query classification to detect jail-breaking queries. No summary is returned if the search query is classified as a jail-breaking query. A user might add instructions to the query to change the tone, style, language, content of the answer, or ask the model to act as a different entity, e.g. \"Reply in the tone of a competing company's CEO\". If this field is set to `true`, we skip generating summaries for jail-breaking queries and return fallback messages instead."
        },
        "useSemanticChunks": {
          "type": "boolean",
          "description": "If true, answer will be generated from most relevant chunks from top search results. This feature will improve summary quality. Note that with this feature enabled, not all top search results will be referenced and included in the reference list, so the citation source index only points to the search results listed in the reference list."
        },
        "summaryResultCount": {
          "type": "integer",
          "description": "The number of top results to generate the summary from. If the number of results returned is less than `summaryResultCount`, the summary is generated from all of the results. At most 10 results for documents mode, or 50 for chunks mode, can be used to generate a summary. The chunks mode is used when SearchRequest.ContentSearchSpec.search_result_mode is set to CHUNKS.",
          "format": "int32"
        },
        "languageCode": {
          "description": "Language code for Summary. Use language tags defined by [BCP47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt). Note: This is an experimental feature.",
          "type": "string"
        },
        "ignoreAdversarialQuery": {
          "type": "boolean",
          "description": "Specifies whether to filter out adversarial queries. The default value is `false`. Google employs search-query classification to detect adversarial queries. No summary is returned if the search query is classified as an adversarial query. For example, a user might ask a question regarding negative comments about the company or submit a query designed to generate unsafe, policy-violating output. If this field is set to `true`, we skip generating summaries for adversarial queries and return fallback messages instead."
        },
        "ignoreLowRelevantContent": {
          "type": "boolean",
          "description": "Specifies whether to filter out queries that have low relevance. The default value is `false`. If this field is set to `false`, all search results are used regardless of relevance to generate answers. If set to `true`, only queries with high relevance search results will generate answers."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaLicenseConfig": {
      "description": "Information about users' licenses.",
      "id": "GoogleCloudDiscoveryengineV1alphaLicenseConfig",
      "properties": {
        "lastUserUpdateTime": {
          "description": "Optional. Timestamp of the most recent user-initiated update (seat count change or subscription term change). Unlike `update_time`, this field is only stamped when a customer explicitly updates the license (e.g. via the UI), and is not touched by system-driven writes (subscription pipeline, BALC propagation, etc.).",
          "type": "string",
          "format": "google-datetime"
        },
        "alertPolicyResourceConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAlertPolicyResourceConfig",
          "description": "Optional. The alert policy config for this license config."
        },
[...]
