{
  "canonicalName": "Discovery Engine",
  "id": "discoveryengine:v1beta",
  "ownerName": "Google",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "mtlsRootUrl": "https://discoveryengine.mtls.googleapis.com/",
  "rootUrl": "https://discoveryengine.googleapis.com/",
  "discoveryVersion": "v1",
  "basePath": "",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/discoveryengine.assist.readwrite": {
          "description": "View your Agentspace chat history, including uploaded files and generated reports and visualizations, and interact with the Agentspace assistant on your behalf."
        },
        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite": {
          "description": "Interact with Discovery Engine API products, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, on your behalf. It will also allow the app to view all data that you have access to when you use or interact with a Discovery Engine API product."
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud_search.query": {
          "description": "Search your organization's data in the Cloud Search index"
        },
        "https://www.googleapis.com/auth/discoveryengine.readwrite": {
          "description": "View, edit, create, and delete all your data associated with any Discovery Engine API product, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, including both end user data and administration or configuration data."
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/generative-ai-app-builder/docs/",
  "protocol": "rest",
  "batchPath": "batch",
  "schemas": {
    "GoogleIamV1SetIamPolicyRequest": {
      "type": "object",
      "description": "Request message for `SetIamPolicy` method.",
      "id": "GoogleIamV1SetIamPolicyRequest",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "GoogleIamV1Policy"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaUpdateCollectionMetadata": {
      "description": "Metadata related to the progress of the CollectionService.UpdateCollection operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1alphaUpdateCollectionMetadata",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAnswerReferenceUnstructuredDocumentInfo": {
      "description": "Unstructured document information.",
      "id": "GoogleCloudDiscoveryengineV1betaAnswerReferenceUnstructuredDocumentInfo",
      "properties": {
        "document": {
          "description": "Document resource name.",
          "type": "string"
        },
        "title": {
          "description": "Title.",
          "type": "string"
        },
        "chunkContents": {
          "type": "array",
          "description": "List of cited chunk contents derived from document content.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAnswerReferenceUnstructuredDocumentInfoChunkContent"
          }
        },
        "uri": {
          "description": "URI for the document.",
          "type": "string"
        },
        "structData": {
          "description": "The structured JSON metadata for the document. It is populated from the struct data from the Chunk in search result.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaCreateEvaluationMetadata": {
      "description": "Metadata for EvaluationService.CreateEvaluation method.",
      "id": "GoogleCloudDiscoveryengineV1betaCreateEvaluationMetadata",
      "properties": {},
      "type": "object"
    },
    "GoogleMonitoringV3TimeSeries": {
      "id": "GoogleMonitoringV3TimeSeries",
      "properties": {
        "metadata": {
          "description": "Output only. The associated monitored resource metadata. When reading a time series, this field will include metadata labels that are explicitly named in the reduction. When creating a time series, this field is ignored.",
          "$ref": "GoogleApiMonitoredResourceMetadata"
        },
        "unit": {
          "description": "The units in which the metric value is reported. It is only applicable if the `value_type` is `INT64`, `DOUBLE`, or `DISTRIBUTION`. The `unit` defines the representation of the stored metric values. This field can only be changed through CreateTimeSeries when it is empty.",
          "type": "string"
        },
        "metricKind": {
          "enumDescriptions": [
            "Do not use this default value.",
            "An instantaneous measurement of a value.",
            "The change in a value during a time interval.",
            "A value accumulated over a time interval. Cumulative measurements in a time series should have the same start time and increasing end times, until an event resets the cumulative value to zero and sets a new start time for the following points."
          ],
          "enum": [
            "METRIC_KIND_UNSPECIFIED",
            "GAUGE",
            "DELTA",
            "CUMULATIVE"
          ],
          "type": "string",
          "description": "The metric kind of the time series. When listing time series, this metric kind might be different from the metric kind of the associated metric if this time series is an alignment or reduction of other time series. When creating a time series, this field is optional. If present, it must be the same as the metric kind of the associated metric. If the associated metric's descriptor must be auto-created, then this field specifies the metric kind of the new descriptor and must be either `GAUGE` (the default) or `CUMULATIVE`."
        },
        "valueType": {
          "type": "string",
          "enumDescriptions": [
            "Do not use this default value.",
            "The value is a boolean. This value type can be used only if the metric kind is `GAUGE`.",
            "The value is a signed 64-bit integer.",
            "The value is a double precision floating point number.",
            "The value is a text string. This value type can be used only if the metric kind is `GAUGE`.",
            "The value is a `Distribution`.",
            "The value is money."
          ],
          "enum": [
            "VALUE_TYPE_UNSPECIFIED",
            "BOOL",
            "INT64",
            "DOUBLE",
            "STRING",
            "DISTRIBUTION",
            "MONEY"
          ],
          "description": "The value type of the time series. When listing time series, this value type might be different from the value type of the associated metric if this time series is an alignment or reduction of other time series. When creating a time series, this field is optional. If present, it must be the same as the type of the data in the `points` field."
        },
        "resource": {
          "description": "The associated monitored resource. Custom metrics can use only certain monitored resource types in their time series data. For more information, see [Monitored resources for custom metrics](https://cloud.google.com/monitoring/custom-metrics/creating-metrics#custom-metric-resources).",
          "$ref": "GoogleApiMonitoredResource"
        },
        "points": {
          "type": "array",
          "description": "The data points of this time series. When listing time series, points are returned in reverse time order. When creating a time series, this field must contain exactly one point and the point's type must be the same as the value type of the associated metric. If the associated metric's descriptor must be auto-created, then the value type of the descriptor is determined by the point's type, which must be `BOOL`, `INT64`, `DOUBLE`, or `DISTRIBUTION`.",
          "items": {
            "$ref": "GoogleMonitoringV3Point"
          }
        },
        "metric": {
          "description": "The associated metric. A fully-specified metric used to identify the time series.",
          "$ref": "GoogleApiMetric"
        },
        "description": {
          "description": "Input only. A detailed description of the time series that will be associated with the google.api.MetricDescriptor for the metric. Once set, this field cannot be changed through CreateTimeSeries.",
          "type": "string"
        }
      },
      "description": "A collection of data points that describes the time-varying values of a metric. A time series is identified by a combination of a fully-specified monitored resource and a fully-specified metric. This type is used for both listing and creating time series.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigOptimizationObjectiveConfig": {
      "description": "Custom threshold for `cvr` optimization_objective.",
      "id": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigOptimizationObjectiveConfig",
      "properties": {
        "targetField": {
          "description": "Required. The name of the field to target. Currently supported values: `watch-percentage`, `watch-time`.",
          "type": "string"
        },
        "targetFieldValueFloat": {
          "format": "float",
          "type": "number",
          "description": "Required. The threshold to be applied to the target (e.g., 0.5)."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicySensitiveDataProtectionPolicy": {
      "description": "Specifies a Sensitive Data Protection (https://cloud.google.com/sensitive-data-protection/docs/sensitive-data-protection-overview) policy.",
      "id": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicySensitiveDataProtectionPolicy",
      "properties": {
        "policy": {
          "description": "Optional. The Sensitive Data Protection policy resource name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterExpression": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterExpression",
      "properties": {
        "stringConstraint": {
          "description": "String constraint expression.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterStringConstraint"
        },
        "orExpr": {
          "description": "Logical \"Or\" compound operator connecting multiple expressions.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterOrExpression"
        },
        "andExpr": {
          "description": "Logical \"And\" compound operator connecting multiple expressions.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterAndExpression"
        },
        "geolocationConstraint": {
          "description": "Geolocation constraint expression.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterGeolocationConstraint"
        },
        "numberConstraint": {
          "description": "Numerical constraint expression.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterNumberConstraint"
        }
      },
      "description": "The expression denoting the filter that was extracted from the input query."
    },
    "GoogleCloudDiscoveryengineV1betaStreamAssistResponseConnectorAuthError": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaStreamAssistResponseConnectorAuthError",
      "properties": {
        "dataConnector": {
          "description": "Resource name of the data connector that failed authentication.",
          "type": "string"
        },
        "errorMessage": {
          "description": "Human-readable error message describing the auth failure.",
          "type": "string"
        }
      },
      "description": "Describes an authentication error for a specific data connector."
    },
    "GoogleCloudDiscoveryengineV1betaCreateEngineMetadata": {
      "type": "object",
      "description": "Metadata related to the progress of the EngineService.CreateEngine operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1betaCreateEngineMetadata",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaEngineMediaRecommendationEngineConfigRecommendedForYouFeatureConfig": {
      "type": "object",
      "description": "Additional feature configurations for creating a `recommended-for-you` engine.",
      "id": "GoogleCloudDiscoveryengineV1betaEngineMediaRecommendationEngineConfigRecommendedForYouFeatureConfig",
      "properties": {
        "contextEventType": {
          "description": "The type of event with which the engine is queried at prediction time. If set to `generic`, only `view-item`, `media-play`,and `media-complete` will be used as `context-event` in engine training. If set to `view-home-page`, `view-home-page` will also be used as `context-events` in addition to `view-item`, `media-play`, and `media-complete`. Currently supported for the `recommended-for-you` engine. Currently supported values: `view-home-page`, `generic`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaFetchSitemapsResponseSitemapMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaFetchSitemapsResponseSitemapMetadata",
      "properties": {
        "sitemap": {
          "description": "The Sitemap.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSitemap"
        }
      },
      "description": "Contains a Sitemap and its metadata.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfigLayoutParsingConfig": {
      "type": "object",
      "description": "The layout parsing configurations for documents.",
      "id": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfigLayoutParsingConfig",
      "properties": {
        "enableImageAnnotation": {
          "description": "Optional. If true, the LLM based annotation is added to the image during parsing.",
          "type": "boolean"
        },
        "structuredContentTypes": {
          "type": "array",
          "description": "Optional. Contains the required structure types to extract from the document. Supported values: * `shareholder-structure`",
          "items": {
            "type": "string"
          }
        },
        "excludeHtmlIds": {
          "description": "Optional. List of HTML ids to exclude from the parsed content.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "enableLlmLayoutParsing": {
          "description": "Optional. If true, the pdf layout will be refined using an LLM.",
          "type": "boolean"
        },
        "excludeHtmlElements": {
          "description": "Optional. List of HTML elements to exclude from the parsed content.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "excludeHtmlClasses": {
          "type": "array",
          "description": "Optional. List of HTML classes to exclude from the parsed content.",
          "items": {
            "type": "string"
          }
        },
        "enableTableAnnotation": {
          "description": "Optional. If true, the LLM based annotation is added to the table during parsing.",
          "type": "boolean"
        },
        "enableGetProcessedDocument": {
          "description": "Optional. If true, the processed document will be made available for the GetProcessedDocument API.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaIdentityMappingEntryOperationMetadata": {
      "type": "object",
      "description": "IdentityMappingEntry LongRunningOperation metadata for IdentityMappingStoreService.ImportIdentityMappings and IdentityMappingStoreService.PurgeIdentityMappings",
      "id": "GoogleCloudDiscoveryengineV1betaIdentityMappingEntryOperationMetadata",
      "properties": {
        "successCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of IdentityMappingEntries that were successfully processed."
        },
        "failureCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of IdentityMappingEntries that failed to be processed."
        },
        "totalCount": {
          "format": "int64",
          "type": "string",
          "description": "The total number of IdentityMappingEntries that were processed."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaServingConfigGenericConfig": {
      "description": "Specifies the configurations needed for Generic Discovery.Currently we support: * `content_search_spec`: configuration for generic content search.",
      "id": "GoogleCloudDiscoveryengineV1betaServingConfigGenericConfig",
      "properties": {
        "contentSearchSpec": {
          "description": "Specifies the expected behavior of content search. Only valid for content-search enabled data store.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpec"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaExportMetricsResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaExportMetricsResponse",
      "properties": {},
      "description": "Response of the ExportMetricsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaDeleteUserStoreMetadata": {
      "type": "object",
      "description": "Metadata related to the progress of the UserStoreService.DeleteUserStore operation. This will be returned by the google.longrunning.Operation.metadata field. Delete UserStore will delete all the end users under the user store, return the number of end users successfully deleted or failed to delete in the metadata.",
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteUserStoreMetadata",
      "properties": {
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        },
        "successCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of end users under the user store that were successfully deleted."
        },
        "failureCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of end users under the user store that failed to be deleted."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSetDedicatedCrawlRateResponse": {
      "type": "object",
      "description": "Response message for CrawlRateManagementService.SetDedicatedCrawlRate method. It simply returns the state of the response, and an error message if the state is FAILED.",
      "id": "GoogleCloudDiscoveryengineV1alphaSetDedicatedCrawlRateResponse",
      "properties": {
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified.",
            "The state is successful.",
            "The state is failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. The state of the response."
        },
        "error": {
          "description": "Errors from service when handling the request.",
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAnswerStepActionSearchAction": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaAnswerStepActionSearchAction",
      "properties": {
        "query": {
          "description": "The query to search.",
          "type": "string"
        }
      },
      "description": "Search action."
    },
    "GoogleCloudDiscoveryengineV1alphaAgentGatewaySetting": {
      "id": "GoogleCloudDiscoveryengineV1alphaAgentGatewaySetting",
      "properties": {
        "defaultEgressAgentGateway": {
          "description": "Optional. The default egress agent gateway to use, when this setting is applied to a Gemini Enterprise resource. The deployment mode must be GOOGLE_MANAGED, and the governed access path must be AGENT_TO_ANYWHERE.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAgentGatewaySettingAgentGatewayReference"
        }
      },
      "description": "Agent Gateway setting, which may be attached to Gemini Enterprise resources for egress control of Gemini Enterprise agents to agents and tools outside of Gemini Enterprise.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicySensitiveDataProtectionPolicy": {
      "id": "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicySensitiveDataProtectionPolicy",
      "properties": {
        "policy": {
          "description": "Optional. The Sensitive Data Protection policy resource name.",
          "type": "string"
        }
      },
      "description": "Specifies a Sensitive Data Protection (https://cloud.google.com/sensitive-data-protection/docs/sensitive-data-protection-overview) policy.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1AssistantToolList": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1AssistantToolList",
      "properties": {
        "toolInfo": {
          "description": "The list of tools with corresponding tool information.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AssistantToolInfo"
          },
          "type": "array"
        }
      },
      "description": "The enabled tools on a connector"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerStep": {
      "description": "Step information.",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerStep",
      "properties": {
        "actions": {
          "type": "array",
          "description": "Actions.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerStepAction"
          }
        },
        "description": {
          "description": "The description of the step.",
          "type": "string"
        },
        "state": {
          "description": "The state of the step.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Step is currently in progress.",
            "Step currently failed.",
            "Step has succeeded."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "FAILED",
            "SUCCEEDED"
          ]
        },
        "thought": {
          "description": "The thought of the step.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestQueryExpansionSpec": {
      "type": "object",
      "description": "Specification to determine under which conditions query expansion should occur.",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestQueryExpansionSpec",
      "properties": {
        "pinUnexpandedResults": {
          "description": "Whether to pin unexpanded results. If this field is set to true, unexpanded products are always at the top of the search results, followed by the expanded results.",
          "type": "boolean"
        },
        "condition": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified query expansion condition. In this case, server behavior defaults to Condition.DISABLED.",
            "Disabled query expansion. Only the exact search query is used, even if SearchResponse.total_size is zero.",
            "Automatic query expansion built by the Search API."
          ],
          "enum": [
            "CONDITION_UNSPECIFIED",
            "DISABLED",
            "AUTO"
          ],
          "description": "The condition under which query expansion should occur. Default to Condition.DISABLED."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAnswerGenerationSpec": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaAnswerGenerationSpec",
      "properties": {
        "userDefinedClassifierSpec": {
          "description": "Optional. The specification for user specified classifier spec.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerGenerationSpecUserDefinedClassifierSpec"
        }
      },
      "description": "The specification for answer generation."
    },
    "GoogleCloudDiscoveryengineV1AlertPolicyConfig": {
      "id": "GoogleCloudDiscoveryengineV1AlertPolicyConfig",
      "properties": {
        "alertEnrollments": {
          "description": "Optional. The enrollment states of each alert.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AlertPolicyConfigAlertEnrollment"
          },
          "type": "array"
        },
        "alertPolicyName": {
          "description": "Immutable. The fully qualified resource name of the AlertPolicy.",
          "type": "string"
        }
      },
      "description": "The connector level alert config.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaConditionTimeRange": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaConditionTimeRange",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Start of time range. Range is inclusive."
        },
        "endTime": {
          "description": "End of time range. Range is inclusive. Must be in the future.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Used for time-dependent conditions."
    },
    "GoogleCloudDiscoveryengineV1betaBatchUpdateUserLicensesMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaBatchUpdateUserLicensesMetadata",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "successCount": {
          "description": "Count of user licenses successfully updated.",
          "format": "int64",
          "type": "string"
        },
        "failureCount": {
          "description": "Count of user licenses that failed to be updated.",
          "format": "int64",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "description": "Metadata related to the progress of the UserLicenseService.BatchUpdateUserLicenses operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaPurgeCompletionSuggestionsResponse": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaPurgeCompletionSuggestionsResponse",
      "properties": {
        "errorSamples": {
          "type": "array",
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "purgeSucceeded": {
          "description": "Whether the completion suggestions were successfully purged.",
          "type": "boolean"
        }
      },
      "description": "Response message for CompletionService.PurgeCompletionSuggestions method."
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservationSearchResultChunkInfo": {
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservationSearchResultChunkInfo",
      "properties": {
        "content": {
          "description": "Chunk textual content.",
          "type": "string"
        },
        "relevanceScore": {
          "description": "The relevance of the chunk for a given query. Values range from 0.0 (completely irrelevant) to 1.0 (completely relevant). This value is for informational purpose only. It may change for the same query and chunk at any time due to a model retraining or change in implementation.",
          "format": "float",
          "type": "number"
        },
        "chunk": {
          "description": "Chunk resource name.",
          "type": "string"
        }
      },
      "description": "Chunk information.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaPurgeUserEventsRequest": {
      "description": "Request message for PurgeUserEvents method.",
      "id": "GoogleCloudDiscoveryengineV1betaPurgeUserEventsRequest",
      "properties": {
        "filter": {
          "description": "Required. The filter string to specify the events to be deleted with a length limit of 5,000 characters. The eligible fields for filtering are: * `eventType`: Double quoted UserEvent.event_type string. * `eventTime`: in ISO 8601 \"zulu\" format. * `userPseudoId`: Double quoted string. Specifying this will delete all events associated with a visitor. * `userId`: Double quoted string. Specifying this will delete all events associated with a user. Note: This API only supports purging a max range of 30 days. Examples: * Deleting all events in a time range: `eventTime > \"2012-04-23T18:25:43.511Z\" eventTime < \"2012-04-23T18:30:43.511Z\"` * Deleting specific eventType in a time range: `eventTime > \"2012-04-23T18:25:43.511Z\" eventTime < \"2012-04-23T18:30:43.511Z\" eventType = \"search\"` * Deleting all events for a specific visitor in a time range: `eventTime > \"2012-04-23T18:25:43.511Z\" eventTime < \"2012-04-23T18:30:43.511Z\" userPseudoId = \"visitor1024\"` * Deleting the past 30 days of events inside a DataStore: `*` The filtering fields are assumed to have an implicit AND.",
          "type": "string"
        },
        "force": {
          "description": "The `force` field is currently not supported. Purge user event requests will permanently delete all purgeable events. Once the development is complete: If `force` is set to false, the method will return the expected purge count without deleting any user events. This field will default to false if not included in the request.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAlertPolicyResourceConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaAlertPolicyResourceConfig",
      "properties": {
        "contactDetails": {
          "type": "array",
          "description": "Optional. The contact details for each alert policy.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaContactDetails"
          }
        },
        "languageCode": {
          "description": "Optional. The language code used for notifications",
          "type": "string"
        },
        "alertPolicy": {
          "description": "Immutable. The fully qualified resource name of the AlertPolicy.",
          "type": "string"
        },
        "regionCode": {
          "description": "Optional. The region code used of the user that subscribed to the alert policy.",
          "type": "string"
        },
        "alertEnrollments": {
          "type": "array",
          "description": "Optional. The enrollment state of each alert.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAlertPolicyResourceConfigAlertEnrollment"
          }
        }
      },
      "description": "The resource level alert config. Used in: * UserLicense * EngineUserData The AlertPolicyConfig in data connector is of same usage. No easy way to migrate.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryResponse": {
      "type": "object",
      "description": "Response message for ConversationalSearchService.AnswerQuery method.",
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryResponse",
      "properties": {
        "session": {
          "description": "Session resource object. It will be only available when session field is set and valid in the AnswerQueryRequest request.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSession"
        },
        "answer": {
          "description": "Answer resource object. If AnswerQueryRequest.QueryUnderstandingSpec.QueryRephraserSpec.max_rephrase_steps is greater than 1, use Answer.name to fetch answer information using ConversationalSearchService.GetAnswer API.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswer"
        },
        "answerQueryToken": {
          "description": "A global unique ID used for logging.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1ServingConfigGenericConfig": {
      "id": "GoogleCloudDiscoveryengineV1ServingConfigGenericConfig",
      "properties": {
        "contentSearchSpec": {
          "description": "Specifies the expected behavior of content search. Only valid for content-search enabled data store.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpec"
        }
      },
      "description": "Specifies the configurations needed for Generic Discovery.Currently we support: * `content_search_spec`: configuration for generic content search.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1WorkspaceConfig": {
      "description": "Config to store data store type configuration for workspace data",
      "id": "GoogleCloudDiscoveryengineV1WorkspaceConfig",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Defaults to an unspecified Workspace type.",
            "Workspace Data Store contains Drive data",
            "Workspace Data Store contains Mail data",
            "Workspace Data Store contains Sites data",
            "Workspace Data Store contains Calendar data",
            "Workspace Data Store contains Chat data",
            "Workspace Data Store contains Groups data",
            "Workspace Data Store contains Keep data",
            "Workspace Data Store contains People data",
            "Workspace Data Store contains all Workspace apps data"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "GOOGLE_DRIVE",
            "GOOGLE_MAIL",
            "GOOGLE_SITES",
            "GOOGLE_CALENDAR",
            "GOOGLE_CHAT",
            "GOOGLE_GROUPS",
            "GOOGLE_KEEP",
            "GOOGLE_PEOPLE",
            "GOOGLE_WORKSPACE"
          ],
          "type": "string",
          "description": "The Google Workspace data source."
        },
        "dasherCustomerId": {
          "description": "Output only. Obfuscated Dasher customer ID. Derived by the server from the project's GCP organization at data store creation time; any value supplied in the request payload is ignored.",
          "type": "string",
          "readOnly": true
        },
        "superAdminServiceAccount": {
          "description": "Optional. The super admin service account for the workspace that will be used for access token generation. For now we only use it for Native Google Drive connector data ingestion.",
          "type": "string"
        },
        "superAdminEmailAddress": {
          "description": "Optional. The super admin email address for the workspace that will be used for access token generation. For now we only use it for Native Google Drive connector data ingestion.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaQualityMetrics": {
      "description": "Describes the metrics produced by the evaluation.",
      "id": "GoogleCloudDiscoveryengineV1alphaQualityMetrics",
      "properties": {
        "pageNdcg": {
          "description": "Normalized discounted cumulative gain (NDCG) per page, at various top-k cutoff levels. NDCG measures the ranking quality, giving higher relevance to top results. Example (top-3): Suppose SampleQuery with three retrieved pages (P1, P2, P3) and binary relevance judgements (1 for relevant, 0 for not relevant): Retrieved: [P3 (0), P1 (1), P2 (1)] Ideal: [P1 (1), P2 (1), P3 (0)] Calculate NDCG@3 for SampleQuery: * DCG@3: 0/log2(1+1) + 1/log2(2+1) + 1/log2(3+1) = 1.13 * Ideal DCG@3: 1/log2(1+1) + 1/log2(2+1) + 0/log2(3+1) = 1.63 * NDCG@3: 1.13/1.63 = 0.693",
          "$ref": "GoogleCloudDiscoveryengineV1alphaQualityMetricsTopkMetrics"
        },
        "docPrecision": {
          "description": "Precision per document, at various top-k cutoff levels. Precision is the fraction of retrieved documents that are relevant. Example (top-5): * For a single SampleQuery, If 4 out of 5 retrieved documents in the top-5 are relevant, precision@5 = 4/5 = 0.8",
          "$ref": "GoogleCloudDiscoveryengineV1alphaQualityMetricsTopkMetrics"
        },
        "pageRecall": {
          "description": "Recall per page, at various top-k cutoff levels. Recall is the fraction of relevant pages retrieved out of all relevant pages. Example (top-5): * For a single SampleQuery, if 3 out of 5 relevant pages are retrieved in the top-5, recall@5 = 3/5 = 0.6",
          "$ref": "GoogleCloudDiscoveryengineV1alphaQualityMetricsTopkMetrics"
        },
        "docRecall": {
          "description": "Recall per document, at various top-k cutoff levels. Recall is the fraction of relevant documents retrieved out of all relevant documents. Example (top-5): * For a single SampleQuery, If 3 out of 5 relevant documents are retrieved in the top-5, recall@5 = 3/5 = 0.6",
          "$ref": "GoogleCloudDiscoveryengineV1alphaQualityMetricsTopkMetrics"
        },
        "docNdcg": {
          "description": "Normalized discounted cumulative gain (NDCG) per document, at various top-k cutoff levels. NDCG measures the ranking quality, giving higher relevance to top results. Example (top-3): Suppose SampleQuery with three retrieved documents (D1, D2, D3) and binary relevance judgements (1 for relevant, 0 for not relevant): Retrieved: [D3 (0), D1 (1), D2 (1)] Ideal: [D1 (1), D2 (1), D3 (0)] Calculate NDCG@3 for each SampleQuery: * DCG@3: 0/log2(1+1) + 1/log2(2+1) + 1/log2(3+1) = 1.13 * Ideal DCG@3: 1/log2(1+1) + 1/log2(2+1) + 0/log2(3+1) = 1.63 * NDCG@3: 1.13/1.63 = 0.693",
          "$ref": "GoogleCloudDiscoveryengineV1alphaQualityMetricsTopkMetrics"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaImportSampleQueriesMetadata": {
      "description": "Metadata related to the progress of the ImportSampleQueries operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1betaImportSampleQueriesMetadata",
      "properties": {
        "updateTime": {
          "description": "ImportSampleQueries operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        },
        "failureCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of SampleQuerys that failed to be imported."
        },
        "totalCount": {
          "type": "string",
          "format": "int64",
          "description": "Total count of SampleQuerys that were processed."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "ImportSampleQueries operation create time."
        },
        "successCount": {
          "description": "Count of SampleQuerys successfully imported.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaFhirStoreSource": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaFhirStoreSource",
      "properties": {
        "fhirStore": {
          "description": "Required. The full resource name of the FHIR store to import data from, in the format of `projects/{project}/locations/{location}/datasets/{dataset}/fhirStores/{fhir_store}`.",
          "type": "string"
        },
        "resourceTypes": {
          "description": "The FHIR resource types to import. The resource types should be a subset of all [supported FHIR resource types](https://cloud.google.com/generative-ai-app-builder/docs/fhir-schema-reference#resource-level-specification). Default to all supported FHIR resource types if empty.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "updateFromLatestPredefinedSchema": {
          "description": "Optional. Whether to update the DataStore schema to the latest predefined schema. If true, the DataStore schema will be updated to include any FHIR fields or resource types that have been added since the last import and corresponding FHIR resources will be imported from the FHIR store. Note this field cannot be used in conjunction with `resource_types`. It should be used after initial import.",
          "type": "boolean"
        },
        "gcsStagingDir": {
          "description": "Intermediate Cloud Storage directory used for the import with a length limit of 2,000 characters. Can be specified if one wants to have the FhirStore export to a specific Cloud Storage directory.",
          "type": "string"
        }
      },
      "description": "Cloud FhirStore source import data from."
    },
    "GoogleCloudDiscoveryengineV1betaControlRedirectAction": {
      "type": "object",
      "description": "Redirects a shopper to the provided URI.",
      "id": "GoogleCloudDiscoveryengineV1betaControlRedirectAction",
      "properties": {
        "redirectUri": {
          "description": "Required. The URI to which the shopper will be redirected. Required. URI must have length equal or less than 2000 characters. Otherwise an INVALID ARGUMENT error is thrown.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaOrganicCrawlRateTimeSeries": {
      "description": "The historical organic crawl rate timeseries data, used for monitoring. Organic crawl is auto-determined by Google to crawl the user's website when dedicate crawl is not set. Crawl rate is the QPS of crawl request Google sends to the user's website.",
      "id": "GoogleCloudDiscoveryengineV1alphaOrganicCrawlRateTimeSeries",
      "properties": {
        "vertexAiOrganicCrawlRate": {
          "description": "Vertex AI's organic crawl rate time series, which is the crawl rate of Google-CloudVertexBot when dedicate crawl is not set. Please refer to https://developers.google.com/search/docs/crawling-indexing/google-common-crawlers#google-cloudvertexbot for more details about Google-CloudVertexBot.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries"
        },
        "googleOrganicCrawlRate": {
          "description": "Google's organic crawl rate time series, which is the sum of all googlebots' crawl rate. Please refer to https://developers.google.com/search/docs/crawling-indexing/overview-google-crawlers for more details about googlebots.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaTextInput": {
      "description": "Defines text input.",
      "id": "GoogleCloudDiscoveryengineV1betaTextInput",
      "properties": {
        "input": {
          "description": "Text input.",
          "type": "string"
        },
        "context": {
          "description": "Conversation context of the input.",
          "$ref": "GoogleCloudDiscoveryengineV1betaConversationContext"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaEngineChatEngineMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaEngineChatEngineMetadata",
      "properties": {
        "dialogflowAgent": {
          "description": "The resource name of a Dialogflow agent, that this Chat Engine refers to. Format: `projects//locations//agents/`.",
          "type": "string"
        }
      },
      "description": "Additional information of a Chat Engine. Fields in this message are output only.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaPrincipal": {
      "description": "Principal identifier of a user or a group.",
      "id": "GoogleCloudDiscoveryengineV1betaPrincipal",
      "properties": {
        "externalEntityId": {
          "description": "For 3P application identities which are not present in the customer identity provider.",
          "type": "string"
        },
        "userId": {
          "description": "User identifier. For Google Workspace user account, user_id should be the google workspace user email. For non-google identity provider user account, user_id is the mapped user identifier configured during the workforcepool config.",
          "type": "string"
        },
        "groupId": {
          "description": "Group identifier. For Google Workspace user account, group_id should be the google workspace group email. For non-google identity provider user account, group_id is the mapped group identifier configured during the workforcepool config.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ProjectConfigurableBillingStatusAgentSearchTokenSubscriptionStatus": {
      "type": "object",
      "description": "Per-model Agent Search TPM subscription status. One entry per active `core_subscription.agent_search_token_subscriptions[*]` entry in the customer-provided config; populated by UpdateProject and GetProject. The lifecycle scalars on this message (`start_time`, `terminate_time`, `update_type`, `tpm_threshold_next_update_time`) are per (project, model_version) — siblings of the whole-relationship `start_time` / `terminate_time` / `update_type` on the enclosing ConfigurableBillingStatus, but scoped to this specific Agent Search TPM subscription instead of to the overall customer-configurable- pricing relationship. This per-instance granularity is intentional: the underlying SubV3 storage is per-(project, model_version), so each model has its own activation, termination, and deferred-update clock; surfacing that on the response gives customers the granularity they need to manage per-model commitments independently. QPM / IndexingCore differ — their storage is one row per (project, location), so their lifecycle is represented only by the whole- relationship scalars on ConfigurableBillingStatus.",
      "id": "GoogleCloudDiscoveryengineV1ProjectConfigurableBillingStatusAgentSearchTokenSubscriptionStatus",
      "properties": {
        "updateType": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified update type.",
            "Configurable billing was created/enabled.",
            "Configurable billing was deleted/disabled.",
            "Subscription was scaled up (thresholds increased).",
            "Subscription was scaled down (thresholds decreased)."
          ],
          "enum": [
            "UPDATE_TYPE_UNSPECIFIED",
            "CREATE",
            "DELETE",
            "SCALE_UP",
            "SCALE_DOWN"
          ],
          "description": "Output only. The type of the most recent update to this (project, model_version) subscription, as performed by the most recent UpdateProject call. `UPDATE_TYPE_UNSPECIFIED` indicates this model_version was not touched by the most recent UpdateProject (its `effective_tpm_threshold` reflects an earlier update). The whole-relationship `update_type` on the enclosing ConfigurableBillingStatus continues to summarize the direction of the most recent update across all surfaces in the project (QPM, IndexingCore, and Agent Search TPM together)."
        },
        "terminateTime": {
          "description": "Output only. If set, the scheduled effective time at which this (project, model_version) Agent Search TPM subscription will terminate. Populated when the customer removes this entry from `core_subscription.agent_search_token_subscriptions[*]`. Does NOT move the whole-relationship `terminate_time` on the enclosing ConfigurableBillingStatus, which is populated only when the entire customer-configurable-pricing relationship is being torn down.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "tpmThresholdNextUpdateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The earliest next update time for the TPM subscription threshold for this (project, model_version). Populated only after a successful update."
        },
        "startTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. When this (project, model_version) Agent Search TPM subscription was first activated. Set once on first activation of this model version and never moved by subsequent threshold updates; on termination + re-activation a new value is recorded. Does NOT move the whole-relationship `start_time` on the enclosing ConfigurableBillingStatus, which continues to represent the first activation of the overall customer-configurable-pricing relationship."
        },
        "modelVersion": {
          "description": "Output only. The Gemini model version this status corresponds to. Matches CoreSubscription.AgentSearchTokenSubscription.model_version (a stable Gemini model version from the Gemini Enterprise Agent Platform model-versions registry; see https://docs.cloud.google.com/gemini-enterprise-agent-platform/models/model-versions#gemini-models).",
          "type": "string",
          "readOnly": true
        },
        "effectiveTpmThreshold": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The currently effective TPM threshold. Reflects scale-up immediately and scale-down at the next billing cycle, matching `effective_search_qpm_threshold` semantics."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaEnableAdvancedSiteSearchMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaEnableAdvancedSiteSearchMetadata",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Metadata related to the progress of the SiteSearchEngineService.EnableAdvancedSiteSearch operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaCitation": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaCitation",
      "properties": {
        "startIndex": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Start index into the content."
        },
        "endIndex": {
          "description": "Output only. End index into the content.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "title": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Title of the attribution."
        },
        "uri": {
          "description": "Output only. Url reference of the attribution.",
          "type": "string",
          "readOnly": true
        },
        "license": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. License of the attribution."
        },
        "publicationDate": {
          "description": "Output only. Publication date of the attribution.",
          "readOnly": true,
          "$ref": "GoogleTypeDate"
        }
      },
      "description": "Source attributions for content."
    },
    "GoogleCloudDiscoveryengineV1AclConfig": {
      "id": "GoogleCloudDiscoveryengineV1AclConfig",
      "properties": {
        "name": {
          "description": "Immutable. The full resource name of the acl configuration. Format: `projects/{project}/locations/{location}/aclConfig`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "idpConfig": {
          "description": "Identity provider config.",
          "$ref": "GoogleCloudDiscoveryengineV1IdpConfig"
        }
      },
      "description": "Access Control Configuration.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfigNotebooklmConfigModelArmorConfig": {
      "id": "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfigNotebooklmConfigModelArmorConfig",
      "properties": {
        "userPromptTemplate": {
          "description": "Optional. The resource name of the Model Armor Template for sanitizing user prompts. Format: projects/{project}/locations/{location}/templates/{template_id} If not specified, no sanitization will be applied to the user prompt.",
          "type": "string"
        },
        "responseTemplate": {
          "description": "Optional. The resource name of the Model Armor Template for sanitizing LLM responses. Format: projects/{project}/locations/{location}/templates/{template_id} If not specified, no sanitization will be applied to the LLM response.",
          "type": "string"
        }
      },
      "description": "Configuration for customer defined Model Armor templates to be used for sanitizing user prompts and LLM responses.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfigNotebooklmConfig": {
      "description": "Configuration for NotebookLM.",
      "id": "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfigNotebooklmConfig",
      "properties": {
        "modelArmorConfig": {
          "description": "Model Armor configuration to be used for sanitizing user prompts and LLM responses.",
          "$ref": "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfigNotebooklmConfigModelArmorConfig"
        },
        "dataProtectionPolicy": {
          "description": "Optional. Specifies the data protection policy for NotebookLM.",
          "$ref": "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicy"
        },
        "optOutNotebookSharing": {
          "description": "Optional. Whether to disable the notebook sharing feature for the project. Default to false if not specified.",
          "type": "boolean"
        },
        "observabilityConfig": {
          "description": "Optional. Observability config for NotebookLM.",
          "$ref": "GoogleCloudDiscoveryengineV1ObservabilityConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaCheckGroundingSpec": {
      "description": "Specification for the grounding check.",
      "id": "GoogleCloudDiscoveryengineV1betaCheckGroundingSpec",
      "properties": {
        "citationThreshold": {
          "description": "The threshold (in [0,1]) used for determining whether a fact must be cited for a claim in the answer candidate. Choosing a higher threshold will lead to fewer but very strong citations, while choosing a lower threshold may lead to more but somewhat weaker citations. If unset, the threshold will default to 0.6.",
          "type": "number",
          "format": "double"
        },
        "enableClaimLevelScore": {
          "description": "The control flag that enables claim-level grounding score in the response.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1Engine": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1Engine",
      "properties": {
        "updateTime": {
          "description": "Output only. Timestamp the Recommendation Engine was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "mediaRecommendationEngineConfig": {
          "description": "Configurations for the Media Engine. Only applicable on the data stores with solution_type SOLUTION_TYPE_RECOMMENDATION and IndustryVertical.MEDIA vertical.",
          "$ref": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfig"
        },
        "commonConfig": {
          "description": "Common config spec that specifies the metadata of the engine.",
          "$ref": "GoogleCloudDiscoveryengineV1EngineCommonConfig"
        },
        "disableAnalytics": {
          "description": "Optional. Whether to disable analytics for searches performed on this engine.",
          "type": "boolean"
        },
        "displayName": {
          "description": "Required. The display name of the engine. Should be human readable. UTF-8 encoded string with limit of 1024 characters.",
          "type": "string"
        },
        "features": {
          "type": "object",
          "description": "Optional. Feature config for the engine to opt in or opt out of features. Supported keys: * `*`: all features, if it's present, all other feature state settings are ignored. * `agent-gallery` * `no-code-agent-builder` * `prompt-gallery` * `model-selector` * `notebook-lm` * `people-search` * `people-search-org-chart` * `bi-directional-audio` * `feedback` * `session-sharing` * `personalization-memory` * `personalization-suggested-highlights` * `mobile-app-access` * `disable-agent-sharing` * `disable-image-generation` * `disable-video-generation` * `disable-onedrive-upload` * `disable-talk-to-content` * `disable-google-drive-upload` * `disable-welcome-emails` * `disable-canvas` * `canvas-workspace` * `disable-skills` * `disable-projects` * `enable-end-user-sharing-with-groups` * `single-agent-orchestration` * `multi-agent-orchestration` * `cross-product-intelligence`",
          "additionalProperties": {
            "type": "string",
            "enumDescriptions": [
              "The feature state is unspecified.",
              "The feature is turned on to be accessible.",
              "The feature is turned off to be inaccessible."
            ],
            "enum": [
              "FEATURE_STATE_UNSPECIFIED",
              "FEATURE_STATE_ON",
              "FEATURE_STATE_OFF"
            ]
          }
        },
        "chatEngineMetadata": {
          "$ref": "GoogleCloudDiscoveryengineV1EngineChatEngineMetadata",
          "readOnly": true,
          "description": "Output only. Additional information of the Chat Engine. Only applicable if solution_type is SOLUTION_TYPE_CHAT."
        },
        "knowledgeGraphConfig": {
          "description": "Optional. Configurations for the Knowledge Graph. Only applicable if solution_type is SOLUTION_TYPE_SEARCH.",
          "$ref": "GoogleCloudDiscoveryengineV1EngineKnowledgeGraphConfig"
        },
        "connectorTenantInfo": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Maps a connector ID (e.g., \"hybrid-github\", \"shopify\") to tenant-specific information required for that connector. The structure of the tenant information string is connector-dependent.",
          "type": "object"
        },
        "marketplaceAgentVisibility": {
          "description": "Optional. The visibility of marketplace agents in the agent gallery.",
          "type": "string",
          "enumDescriptions": [
            "Defaults to `MARKETPLACE_AGENT_VISIBILITY_UNSPECIFIED`.",
            "Only agents that are currently available for use by the user are visible.",
            "Show marketplace agents that the user does not yet have access to but are integrated into the engine. This level also includes all agents visible with `SHOW_AVAILABLE_AGENTS_ONLY`.",
            "Show all agents visible with `SHOW_AGENTS_ALREADY_INTEGRATED`, plus agents that have already been purchased by the project/organization, even if they are not currently integrated into the engine.",
            "All agents in the marketplace are visible, regardless of access or purchase status. This level encompasses all agents shown in the previous levels."
          ],
          "enum": [
            "MARKETPLACE_AGENT_VISIBILITY_UNSPECIFIED",
            "SHOW_AVAILABLE_AGENTS_ONLY",
            "SHOW_AGENTS_ALREADY_INTEGRATED",
            "SHOW_AGENTS_ALREADY_PURCHASED",
            "SHOW_ALL_AGENTS"
          ]
        },
        "cmekConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1CmekConfig",
          "readOnly": true,
          "description": "Output only. CMEK-related information for the Engine."
        },
        "agentGatewaySetting": {
          "description": "Optional. The agent gateway setting for the engine.",
          "$ref": "GoogleCloudDiscoveryengineV1AgentGatewaySetting"
        },
        "chatEngineConfig": {
          "description": "Configurations for the Chat Engine. Only applicable if solution_type is SOLUTION_TYPE_CHAT.",
          "$ref": "GoogleCloudDiscoveryengineV1EngineChatEngineConfig"
        },
        "solutionType": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Used for Recommendations AI.",
            "Used for Discovery Search.",
            "Used for use cases related to the Generative AI agent.",
            "Used for use cases related to the Generative Chat agent. It's used for Generative chat engine only, the associated data stores must enrolled with `SOLUTION_TYPE_CHAT` solution.",
            "Used for AI Mode."
          ],
          "enum": [
            "SOLUTION_TYPE_UNSPECIFIED",
            "SOLUTION_TYPE_RECOMMENDATION",
            "SOLUTION_TYPE_SEARCH",
            "SOLUTION_TYPE_CHAT",
            "SOLUTION_TYPE_GENERATIVE_CHAT",
            "SOLUTION_TYPE_AI_MODE"
          ],
          "description": "Required. The solutions of the engine."
        },
        "industryVertical": {
          "description": "Optional. The industry vertical that the engine registers. The restriction of the Engine industry vertical is based on DataStore: Vertical on Engine has to match vertical of the DataStore linked to the engine.",
          "enumDescriptions": [
            "Value used when unset.",
            "The generic vertical for documents that are not specific to any industry vertical.",
            "The media industry vertical.",
            "The healthcare FHIR vertical."
          ],
          "enum": [
            "INDUSTRY_VERTICAL_UNSPECIFIED",
            "GENERIC",
            "MEDIA",
            "HEALTHCARE_FHIR"
          ],
          "type": "string"
        },
        "name": {
          "description": "Immutable. Identifier. The fully qualified resource name of the engine. This field must be a UTF-8 encoded string with a length limit of 1024 characters. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}` engine should be 1-63 characters, and valid characters are /a-z0-9*/. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        },
        "observabilityConfig": {
          "description": "Optional. Observability config for the engine.",
          "$ref": "GoogleCloudDiscoveryengineV1ObservabilityConfig"
        },
        "procurementContactEmails": {
          "description": "Optional. The emails of the procurement contacts.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "modelConfigs": {
          "description": "Optional. Maps a model name to its specific configuration for this engine. This allows admin users to turn on/off individual models. This only stores models whose states are overridden by the admin. When the state is unspecified, or model_configs is empty for this model, the system will decide if this model should be available or not based on the default configuration. For example, a preview model should be disabled by default if the admin has not chosen to enable it.",
          "additionalProperties": {
            "enumDescriptions": [
              "The model state is unspecified.",
              "The model is enabled by admin.",
              "The model is disabled by admin."
            ],
            "enum": [
              "MODEL_STATE_UNSPECIFIED",
              "MODEL_ENABLED",
              "MODEL_DISABLED"
            ],
            "type": "string"
          },
          "type": "object"
        },
        "searchEngineConfig": {
          "description": "Configurations for the Search Engine. Only applicable if solution_type is SOLUTION_TYPE_SEARCH.",
          "$ref": "GoogleCloudDiscoveryengineV1EngineSearchEngineConfig"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp the Recommendation Engine was created at."
        },
        "associatedAgentRegistry": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Agent registry containing the agents, MCP servers and tools associated with this engine. Derived server-side from the linked Agent Gateway's registry."
        },
        "configurableBillingApproach": {
          "type": "string",
          "enumDescriptions": [
            "Default value. For Spark and non-Spark non-configurable billing approach. General pricing model.",
            "The billing approach follows configurations specified by customer."
          ],
          "enum": [
            "CONFIGURABLE_BILLING_APPROACH_UNSPECIFIED",
            "CONFIGURABLE_BILLING_APPROACH_ENABLED"
          ],
          "description": "Optional. Configuration for configurable billing approach."
        },
        "dataStoreIds": {
          "type": "array",
          "description": "Optional. The data stores associated with this engine. For SOLUTION_TYPE_SEARCH and SOLUTION_TYPE_RECOMMENDATION type of engines, they can only associate with at most one data store. If solution_type is SOLUTION_TYPE_CHAT, multiple DataStores in the same Collection can be associated here. Note that when used in CreateEngineRequest, one DataStore id must be provided as the system will use it for necessary initializations.",
          "items": {
            "type": "string"
          }
        },
        "appType": {
          "description": "Optional. Immutable. This the application type which this engine resource represents. NOTE: this is a new concept independ of existing industry vertical or solution type.",
          "enumDescriptions": [
            "All non specified apps.",
            "App type for intranet search and Agentspace."
          ],
          "enum": [
            "APP_TYPE_UNSPECIFIED",
            "APP_TYPE_INTRANET"
          ],
          "type": "string"
        }
      },
      "description": "Metadata that describes the training and serving parameters of an Engine."
    },
    "GoogleCloudDiscoveryengineV1betaWorkspaceConfig": {
      "description": "Config to store data store type configuration for workspace data",
      "id": "GoogleCloudDiscoveryengineV1betaWorkspaceConfig",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Defaults to an unspecified Workspace type.",
            "Workspace Data Store contains Drive data",
            "Workspace Data Store contains Mail data",
            "Workspace Data Store contains Sites data",
            "Workspace Data Store contains Calendar data",
            "Workspace Data Store contains Chat data",
            "Workspace Data Store contains Groups data",
            "Workspace Data Store contains Keep data",
            "Workspace Data Store contains People data",
            "Workspace Data Store contains all Workspace apps data"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "GOOGLE_DRIVE",
            "GOOGLE_MAIL",
            "GOOGLE_SITES",
            "GOOGLE_CALENDAR",
            "GOOGLE_CHAT",
            "GOOGLE_GROUPS",
            "GOOGLE_KEEP",
            "GOOGLE_PEOPLE",
            "GOOGLE_WORKSPACE"
          ],
          "description": "The Google Workspace data source."
        },
        "dasherCustomerId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Obfuscated Dasher customer ID. Derived by the server from the project's GCP organization at data store creation time; any value supplied in the request payload is ignored."
        },
        "superAdminServiceAccount": {
          "description": "Optional. The super admin service account for the workspace that will be used for access token generation. For now we only use it for Native Google Drive connector data ingestion.",
          "type": "string"
        },
        "superAdminEmailAddress": {
          "description": "Optional. The super admin email address for the workspace that will be used for access token generation. For now we only use it for Native Google Drive connector data ingestion.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1CreateSitemapMetadata": {
      "id": "GoogleCloudDiscoveryengineV1CreateSitemapMetadata",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Metadata related to the progress of the SiteSearchEngineService.CreateSitemap operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestFacetSpecFacetKey": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestFacetSpecFacetKey",
      "properties": {
        "key": {
          "description": "Required. Supported textual and numerical facet keys in Document object, over which the facet values are computed. Facet key is case-sensitive.",
          "type": "string"
        },
        "restrictedValues": {
          "description": "Only get facet for the given restricted values. Only supported on textual fields. For example, suppose \"category\" has three values \"Action > 2022\", \"Action > 2021\" and \"Sci-Fi > 2022\". If set \"restricted_values\" to \"Action > 2022\", the \"category\" facet only contains \"Action > 2022\". Only supported on textual fields. Maximum is 10.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "caseInsensitive": {
          "description": "True to make facet keys case insensitive when getting faceting values with prefixes or contains; false otherwise.",
          "type": "boolean"
        },
        "intervals": {
          "type": "array",
          "description": "Set only if values should be bucketed into intervals. Must be set for facets with numerical values. Must not be set for facet with text values. Maximum number of intervals is 30.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaInterval"
          }
        },
        "orderBy": {
          "description": "The order in which documents are returned. Allowed values are: * \"count desc\", which means order by SearchResponse.Facet.values.count descending. * \"value desc\", which means order by SearchResponse.Facet.values.value descending. Only applies to textual facets. If not set, textual values are sorted in [natural order](https://en.wikipedia.org/wiki/Natural_sort_order); numerical intervals are sorted in the order given by FacetSpec.FacetKey.intervals.",
          "type": "string"
        },
        "contains": {
          "description": "Only get facet values that contain the given strings. For example, suppose \"category\" has three values \"Action > 2022\", \"Action > 2021\" and \"Sci-Fi > 2022\". If set \"contains\" to \"2022\", the \"category\" facet only contains \"Action > 2022\" and \"Sci-Fi > 2022\". Only supported on textual fields. Maximum is 10.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "prefixes": {
          "description": "Only get facet values that start with the given string prefix. For example, suppose \"category\" has three values \"Action > 2022\", \"Action > 2021\" and \"Sci-Fi > 2022\". If set \"prefixes\" to \"Action\", the \"category\" facet only contains \"Action > 2022\" and \"Action > 2021\". Only supported on textual fields. Maximum is 10.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Specifies how a facet is computed."
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSafetySpec": {
      "type": "object",
      "description": "Safety specification. There are two use cases: 1. when only safety_spec.enable is set, the BLOCK_LOW_AND_ABOVE threshold will be applied for all categories. 2. when safety_spec.enable is set and some safety_settings are set, only specified safety_settings are applied.",
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSafetySpec",
      "properties": {
        "enable": {
          "description": "Enable the safety filtering on the answer response. It is false by default.",
          "type": "boolean"
        },
        "safetySettings": {
          "description": "Optional. Safety settings. This settings are effective only when the safety_spec.enable is true.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSafetySpecSafetySetting"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaUpdateTargetSiteMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaUpdateTargetSiteMetadata",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Metadata related to the progress of the SiteSearchEngineService.UpdateTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestAnswerGenerationSpecModelSpec": {
      "description": "Answer Generation Model specification.",
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestAnswerGenerationSpecModelSpec",
      "properties": {
        "modelVersion": {
          "description": "Model version. If not set, it will use the default stable model. Allowed values are: stable, preview.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAssistantGenerationConfigSystemInstruction": {
      "description": "System instruction, also known as the prompt preamble for LLM calls.",
      "id": "GoogleCloudDiscoveryengineV1betaAssistantGenerationConfigSystemInstruction",
      "properties": {
        "additionalSystemInstruction": {
          "description": "Optional. Additional system instruction that will be added to the default system instruction.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestRelevanceFilterSpec": {
      "description": "Relevance filtering specification.",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestRelevanceFilterSpec",
      "properties": {
        "keywordSearchThreshold": {
          "description": "Optional. Relevance filtering threshold specification for keyword search.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestRelevanceFilterSpecRelevanceThresholdSpec"
        },
        "semanticSearchThreshold": {
          "description": "Optional. Relevance filtering threshold specification for semantic search.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestRelevanceFilterSpecRelevanceThresholdSpec"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaCompletionSuggestion": {
      "id": "GoogleCloudDiscoveryengineV1betaCompletionSuggestion",
      "properties": {
        "suggestion": {
          "description": "Required. The suggestion text.",
          "type": "string"
        },
        "alternativePhrases": {
          "type": "array",
          "description": "Alternative matching phrases for this suggestion.",
          "items": {
            "type": "string"
          }
        },
        "globalScore": {
          "type": "number",
          "format": "double",
          "description": "Global score of this suggestion. Control how this suggestion would be scored / ranked."
        },
        "groupScore": {
          "description": "The score of this suggestion within its group.",
          "type": "number",
          "format": "double"
        },
        "frequency": {
          "type": "string",
          "format": "int64",
          "description": "Frequency of this suggestion. Will be used to rank suggestions when score is not available."
        },
        "groupId": {
          "description": "If two suggestions have the same groupId, they will not be returned together. Instead the one ranked higher will be returned. This can be used to deduplicate semantically identical suggestions.",
          "type": "string"
        },
        "languageCode": {
          "description": "BCP-47 language code of this suggestion.",
          "type": "string"
        }
      },
      "description": "Autocomplete suggestions that are imported from Customer.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaPurgeCompletionSuggestionsRequest": {
      "description": "Request message for CompletionService.PurgeCompletionSuggestions method.",
      "id": "GoogleCloudDiscoveryengineV1betaPurgeCompletionSuggestionsRequest",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSchema": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaSchema",
      "properties": {
        "structSchema": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The structured representation of the schema.",
          "type": "object"
        },
        "jsonSchema": {
          "description": "The JSON representation of the schema.",
          "type": "string"
        },
        "fieldConfigs": {
          "description": "Output only. Configurations for fields of the schema.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaFieldConfig"
          },
          "type": "array",
          "readOnly": true
        },
        "name": {
          "description": "Immutable. The full resource name of the schema, in the format of `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/schemas/{schema}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        }
      },
      "description": "Defines the structure and layout of a type of document data."
    },
    "GoogleCloudDiscoveryengineV1alphaControlBoostActionInterpolationBoostSpec": {
      "description": "Specification for custom ranking based on customer specified attribute value. It provides more controls for customized ranking than the simple (condition, boost) combination above.",
      "id": "GoogleCloudDiscoveryengineV1alphaControlBoostActionInterpolationBoostSpec",
      "properties": {
        "interpolationType": {
          "enumDescriptions": [
            "Interpolation type is unspecified. In this case, it defaults to Linear.",
            "Piecewise linear interpolation will be applied."
          ],
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ],
          "type": "string",
          "description": "Optional. The interpolation type to be applied to connect the control points listed below."
        },
        "controlPoints": {
          "description": "Optional. The control points used to define the curve. The monotonic function (defined through the interpolation_type above) passes through the control points listed here.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaControlBoostActionInterpolationBoostSpecControlPoint"
          },
          "type": "array"
        },
        "fieldName": {
          "description": "Optional. The name of the field whose value will be used to determine the boost amount.",
          "type": "string"
        },
        "attributeType": {
          "description": "Optional. The attribute type to be used to determine the boost amount. The attribute value can be derived from the field value of the specified field_name. In the case of numerical it is straightforward i.e. attribute_value = numerical_field_value. In the case of freshness however, attribute_value = (time.now() - datetime_field_value).",
          "enumDescriptions": [
            "Unspecified AttributeType.",
            "The value of the numerical field will be used to dynamically update the boost amount. In this case, the attribute_value (the x value) of the control point will be the actual value of the numerical field for which the boost_amount is specified.",
            "For the freshness use case the attribute value will be the duration between the current time and the date in the datetime field specified. The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`. For example, `5D`, `3DT12H30M`, `T24H`."
          ],
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContent": {
      "description": "A piece of content and possibly its grounding information. Not all content needs grounding. Phrases like \"Of course, I will gladly search it for you.\" do not need grounding.",
      "id": "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContent",
      "properties": {
        "textGroundingMetadata": {
          "description": "Metadata for grounding based on text sources.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContentTextGroundingMetadata"
        },
        "content": {
          "description": "The content.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantContent"
        },
        "citationMetadata": {
          "description": "Source attribution of the generated content. See also https://cloud.google.com/vertex-ai/generative-ai/docs/learn/overview#citation_check",
          "$ref": "GoogleCloudDiscoveryengineV1alphaCitationMetadata"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchResponseSummaryReference": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSearchResponseSummaryReference",
      "properties": {
        "title": {
          "description": "Title of the document.",
          "type": "string"
        },
        "chunkContents": {
          "type": "array",
          "description": "List of cited chunk contents derived from document content.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSearchResponseSummaryReferenceChunkContent"
          }
        },
        "document": {
          "description": "Required. Document.name of the document. Full resource name of the referenced document, in the format `projects/*/locations/*/collections/*/dataStores/*/branches/*/documents/*`.",
          "type": "string"
        },
        "uri": {
          "description": "Cloud Storage or HTTP uri for the document.",
          "type": "string"
        }
      },
      "description": "Document reference."
    },
    "GoogleCloudDiscoveryengineV1alphaQuery": {
      "description": "Defines a user inputed query.",
      "id": "GoogleCloudDiscoveryengineV1alphaQuery",
      "properties": {
        "queryId": {
          "description": "Output only. Unique Id for the query.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time at which the server accepted this query.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "parts": {
          "type": "array",
          "description": "Query content parts.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaQueryPart"
          }
        },
        "text": {
          "description": "Plain text.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaCreateTargetSiteRequest": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaCreateTargetSiteRequest",
      "properties": {
        "targetSite": {
          "description": "Required. The TargetSite to create.",
          "$ref": "GoogleCloudDiscoveryengineV1betaTargetSite"
        },
        "parent": {
          "description": "Required. Parent resource name of TargetSite, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/siteSearchEngine`.",
          "type": "string"
        }
      },
      "description": "Request message for SiteSearchEngineService.CreateTargetSite method."
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestRelevanceScoreSpec": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestRelevanceScoreSpec",
      "properties": {
        "returnRelevanceScore": {
          "description": "Optional. Whether to return the relevance score for search results. The higher the score, the more relevant the document is to the query.",
          "type": "boolean"
        }
      },
      "description": "The specification for returning the document relevance score."
    },
    "GoogleCloudDiscoveryengineV1betaAclConfig": {
      "description": "Access Control Configuration.",
      "id": "GoogleCloudDiscoveryengineV1betaAclConfig",
      "properties": {
        "name": {
          "description": "Immutable. The full resource name of the acl configuration. Format: `projects/{project}/locations/{location}/aclConfig`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "idpConfig": {
          "description": "Identity provider config.",
          "$ref": "GoogleCloudDiscoveryengineV1betaIdpConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1Tenant": {
      "id": "GoogleCloudDiscoveryengineV1Tenant",
      "properties": {
        "uri": {
          "description": "The URI of the tenant, if applicable. For example, the URI of a Jira instance is https://my-jira-instance.atlassian.net, and a Slack tenant does not have a URI.",
          "type": "string"
        },
        "id": {
          "description": "The tenant's instance ID. Examples: Jira (\"8594f221-9797-5f78-1fa4-485e198d7cd0\"), Slack (\"T123456\").",
          "type": "string"
        },
        "displayName": {
          "description": "Optional display name for the tenant, e.g. \"My Slack Team\".",
          "type": "string"
        }
      },
      "description": "Tenant information for a connector source. This includes some of the same information stored in the Credential message, but is limited to only what is needed to provide a list of accessible tenants to the user.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1AssistantToolInfo": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1AssistantToolInfo",
      "properties": {
        "toolName": {
          "description": "The name of the tool as defined by DataConnectorService.QueryAvailableActions. Note: it's using `action` in the DataConnectorService apis, but they are the same as the `tool` here.",
          "type": "string"
        },
        "toolDisplayName": {
          "description": "The display name of the tool.",
          "type": "string"
        }
      },
      "description": "Information to identify a tool."
    },
    "GoogleCloudDiscoveryengineV1betaDeleteDataStoreMetadata": {
      "type": "object",
      "description": "Metadata related to the progress of the DataStoreService.DeleteDataStore operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1betaDeleteDataStoreMetadata",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaTuneEngineMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaTuneEngineMetadata",
      "properties": {
        "engine": {
          "description": "Required. The resource name of the engine that this tune applies to. Format: `projects/{project}/locations/{location}/collections/{collection_id}/engines/{engine_id}`",
          "type": "string"
        }
      },
      "description": "Metadata associated with a tune operation.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1CreateDataStoreMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1CreateDataStoreMetadata",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "description": "Metadata related to the progress of the DataStoreService.CreateDataStore operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1alphaSetUpDataConnectorMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaSetUpDataConnectorMetadata",
      "properties": {},
      "description": "Metadata for DataConnectorService.SetUpDataConnector method.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSetUriPatternDocumentDataMetadata": {
      "description": "Metadata related to the progress of the SiteSearchEngineService.SetUriPatternDocumentData operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1alphaSetUriPatternDocumentDataMetadata",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1BatchUpdateUserLicensesMetadata": {
      "description": "Metadata related to the progress of the UserLicenseService.BatchUpdateUserLicenses operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1BatchUpdateUserLicensesMetadata",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "successCount": {
          "description": "Count of user licenses successfully updated.",
          "format": "int64",
          "type": "string"
        },
        "failureCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of user licenses that failed to be updated."
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAssistantGroundedContentTextGroundingMetadata": {
      "description": "Grounding details for text sources.",
      "id": "GoogleCloudDiscoveryengineV1betaAssistantGroundedContentTextGroundingMetadata",
      "properties": {
        "visualSegments": {
          "description": "Grounding information for parts of the visual content.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAssistantGroundedContentTextGroundingMetadataVisualSegment"
          },
          "type": "array"
        },
        "references": {
          "type": "array",
          "description": "References for the grounded text.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAssistantGroundedContentTextGroundingMetadataReference"
          }
        },
        "segments": {
          "description": "Grounding information for parts of the text.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAssistantGroundedContentTextGroundingMetadataSegment"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaDataConnectorEndUserConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaDataConnectorEndUserConfig",
      "properties": {
        "tenant": {
          "description": "Optional. The tenant project the connector is connected to.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaTenant"
        },
        "authParams": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Any authentication parameters specific to EUA connectors."
        },
        "additionalParams": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Any additional parameters needed for EUA."
        },
        "jsonAuthParams": {
[...]
