{
  "id": "discoveryengine:v1alpha",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "endpoints": [
    {
      "endpointUrl": "https://discoveryengine.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://discoveryengine.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://discoveryengine.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://discoveryengine.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    },
    {
      "location": "in",
      "description": "Regional Endpoint",
      "endpointUrl": "https://discoveryengine.in.rep.googleapis.com/"
    },
    {
      "location": "asia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://discoveryengine.asia-southeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://discoveryengine.europe-west3.rep.googleapis.com/",
      "location": "europe-west3"
    },
    {
      "description": "Regional Endpoint",
      "location": "ca",
      "endpointUrl": "https://discoveryengine.ca.rep.googleapis.com/"
    }
  ],
  "version_module": true,
  "discoveryVersion": "v1",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud_search.query": {
          "description": "Search your organization's data in the Cloud Search index"
        },
        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite": {
          "description": "Interact with Discovery Engine API products, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, on your behalf. It will also allow the app to view all data that you have access to when you use or interact with a Discovery Engine API product."
        },
        "https://www.googleapis.com/auth/discoveryengine.assist.readwrite": {
          "description": "View your Agentspace chat history, including uploaded files and generated reports and visualizations, and interact with the Agentspace assistant on your behalf. Also view the artifacts you access through NotebookLM Enterprise."
        },
        "https://www.googleapis.com/auth/discoveryengine.readwrite": {
          "description": "View, edit, create, and delete all your data associated with any Discovery Engine API product, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, including both end user data and administration or configuration data."
        }
      }
    }
  },
  "title": "Discovery Engine API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "GoogleCloudDiscoveryengineV1alphaListAgentsResponse": {
      "description": "Response message for the AgentService.ListAgents method.",
      "id": "GoogleCloudDiscoveryengineV1alphaListAgentsResponse",
      "properties": {
        "agents": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAgent"
          },
          "description": "The agents visible to the caller under the parent Assistant.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListAgentsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfig": {
      "id": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfig",
      "properties": {
        "notebooklmConfig": {
          "description": "NotebookLM config. If set, this DataStore is connected to NotebookLM Enterprise.",
          "$ref": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigNotebooklmConfig"
        },
        "alloyDbConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfig",
          "description": "AlloyDB config. If set, this DataStore is connected to AlloyDB."
        },
        "thirdPartyOauthConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigThirdPartyOauthConfig",
          "description": "Third Party OAuth config. If set, this DataStore is connected to a third party application."
        }
      },
      "type": "object",
      "description": "Stores information for federated search."
    },
    "GoogleCloudDiscoveryengineV1alphaChunk": {
      "id": "GoogleCloudDiscoveryengineV1alphaChunk",
      "type": "object",
      "properties": {
        "relevanceScore": {
          "readOnly": true,
          "format": "double",
          "type": "number",
          "description": "Output only. Represents the relevance score based on similarity. Higher score indicates higher chunk relevance. The score is in range [-1.0, 1.0]. Only populated on SearchResponse."
        },
        "annotationMetadata": {
          "description": "Output only. The annotation metadata includes structured content in the current chunk.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaChunkAnnotationMetadata"
          },
          "readOnly": true,
          "type": "array"
        },
        "derivedStructData": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Output only. This field is OUTPUT_ONLY. It contains derived data that are not in the original input document.",
          "readOnly": true
        },
        "documentMetadata": {
          "description": "Metadata of the document from the current chunk.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaChunkDocumentMetadata"
        },
        "pageSpan": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaChunkPageSpan",
          "description": "Page span of the chunk."
        },
        "name": {
          "type": "string",
          "description": "The full resource name of the chunk. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}/documents/{document_id}/chunks/{chunk_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters."
        },
        "content": {
          "description": "Content is a string from a document (parsed content).",
          "type": "string"
        },
        "annotationContents": {
          "type": "array",
          "description": "Output only. Annotation contents if the current chunk contains annotations.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "chunkMetadata": {
          "description": "Output only. Metadata of the current chunk.",
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1alphaChunkChunkMetadata"
        },
        "dataUrls": {
          "description": "Output only. Image Data URLs if the current chunk contains images. Data URLs are composed of four parts: a prefix (data:), a MIME type indicating the type of data, an optional base64 token if non-textual, and the data itself: data:,",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "id": {
          "description": "Unique chunk ID of the current chunk.",
          "type": "string"
        }
      },
      "description": "Chunk captures all raw metadata information of items to be recommended or searched in the chunk mode."
    },
    "GoogleCloudDiscoveryengineV1alphaBatchGetDocumentsMetadataResponseDocumentMetadataMatcherValue": {
      "properties": {
        "fhirResource": {
          "type": "string",
          "description": "Format: projects/{project}/locations/{location}/datasets/{dataset}/fhirStores/{fhir_store}/fhir/{resource_type}/{fhir_resource_id}"
        },
        "uri": {
          "type": "string",
          "description": "If match by URI, the URI of the Document."
        }
      },
      "type": "object",
      "description": "The value of the matcher that was used to match the Document.",
      "id": "GoogleCloudDiscoveryengineV1alphaBatchGetDocumentsMetadataResponseDocumentMetadataMatcherValue"
    },
    "GoogleCloudDiscoveryengineV1alphaAdkAgentDefinitionProvisionedReasoningEngine": {
      "description": "Keeps track of the reasoning engine that the agent is connected to. This message is not intended to keep track of agent's lifecycle. Instead it is only used to define parameters to connect to the agent that is already deployed to a reasoning engine.",
      "id": "GoogleCloudDiscoveryengineV1alphaAdkAgentDefinitionProvisionedReasoningEngine",
      "type": "object",
      "properties": {
        "reasoningEngine": {
          "description": "Required. The reasoning engine that the agent is connected to. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1DeleteDataStoreMetadata": {
      "description": "Metadata related to the progress of the DataStoreService.DeleteDataStore operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1DeleteDataStoreMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1AssistantToolList": {
      "properties": {
        "toolInfo": {
          "description": "The list of tools with corresponding tool information.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AssistantToolInfo"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1AssistantToolList",
      "description": "The enabled tools on a connector"
    },
    "GoogleCloudDiscoveryengineV1alphaImportSuggestionDenyListEntriesRequest": {
      "description": "Request message for CompletionService.ImportSuggestionDenyListEntries method.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaImportSuggestionDenyListEntriesRequest",
      "properties": {
        "inlineSource": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaImportSuggestionDenyListEntriesRequestInlineSource",
          "description": "The Inline source for the input content for suggestion deny list entries."
        },
        "gcsSource": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaGcsSource",
          "description": "Cloud Storage location for the input content. Only 1 file can be specified that contains all entries to import. Supported values `gcs_source.schema` for autocomplete suggestion deny list entry imports: * `suggestion_deny_list` (default): One JSON [SuggestionDenyListEntry] per line."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAssistantToolInfo": {
      "properties": {
        "toolName": {
          "description": "The name of the tool as defined by DataConnectorService.QueryAvailableActions. Note: it's using `action` in the DataConnectorService apis, but they are the same as the `tool` here.",
          "type": "string"
        },
        "toolDisplayName": {
          "description": "The display name of the tool.",
          "type": "string"
        }
      },
      "description": "Information to identify a tool.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAssistantToolInfo"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerBlobAttachmentBlob": {
      "properties": {
        "data": {
          "format": "byte",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Raw bytes."
        },
        "mimeType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The media type (MIME type) of the generated or retrieved data."
        }
      },
      "type": "object",
      "description": "The media type and data of the blob.",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerBlobAttachmentBlob"
    },
    "GoogleCloudDiscoveryengineV1alphaAlphaEvolveProgramEvaluationSubmission": {
      "description": "Evaluation submission for a program candidate.",
      "properties": {
        "lockToken": {
          "type": "string",
          "description": "Required. Lock token for the program obtained in the AcquireAlphaEvolvePrograms call."
        },
        "evaluation": {
          "description": "Required. Evaluation results for the program candidate.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveProgramEvaluation"
        },
        "program": {
          "type": "string",
          "description": "Required. Unique identifier for the program. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/sessions/{session}/alphaEvolveExperiments/{alpha_evolve_experiment}/alphaEvolvePrograms/{alpha_evolve_program}`"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveProgramEvaluationSubmission",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfigAlloyDbConfigAlloyDbAiNaturalLanguageConfig": {
      "description": "Configuration for AlloyDB AI Natural Language.",
      "id": "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfigAlloyDbConfigAlloyDbAiNaturalLanguageConfig",
      "type": "object",
      "properties": {
        "nlConfigId": {
          "type": "string",
          "description": "Optional. AlloyDb AI NL config id, i.e. the value that was used for calling `SELECT alloydb_ai_nl.g_create_configuration(...)`. Can be empty."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaWidgetConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaWidgetConfig",
      "properties": {
        "solutionType": {
          "enum": [
            "SOLUTION_TYPE_UNSPECIFIED",
            "SOLUTION_TYPE_RECOMMENDATION",
            "SOLUTION_TYPE_SEARCH",
            "SOLUTION_TYPE_CHAT",
            "SOLUTION_TYPE_GENERATIVE_CHAT",
            "SOLUTION_TYPE_AI_MODE"
          ],
          "description": "Required. Immutable. Specifies the solution type that this WidgetConfig can be used for.",
          "enumDescriptions": [
            "Default value.",
            "Used for Recommendations AI.",
            "Used for Discovery Search.",
            "Used for use cases related to the Generative AI agent.",
            "Used for use cases related to the Generative Chat agent. It's used for Generative chat engine only, the associated data stores must enrolled with `SOLUTION_TYPE_CHAT` solution.",
            "Used for AI Mode."
          ],
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp the WidgetConfig was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "defaultSearchRequestOrderBy": {
          "description": "The default ordering for search results if specified. Used to set SearchRequest#order_by on applicable requests. https://cloud.google.com/generative-ai-app-builder/docs/reference/rest/v1alpha/projects.locations.dataStores.servingConfigs/search#request-body",
          "type": "string",
          "deprecated": true
        },
        "enableSearchAsYouType": {
          "description": "Whether to enable search-as-you-type behavior for the search widget",
          "type": "boolean",
          "deprecated": true
        },
        "allowPublicAccess": {
          "description": "Whether allow no-auth integration with widget. If set true, public access to search or other solutions from widget is allowed without authenication token provided by customer hosted backend server.",
          "type": "boolean",
          "deprecated": true
        },
        "contentSearchSpec": {
          "description": "The content search spec that configs the desired behavior of content search.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpec",
          "deprecated": true
        },
        "llmEnabled": {
          "type": "boolean",
          "description": "Output only. Whether LLM is enabled in the corresponding data store.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Immutable. The full resource name of the widget config. Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}/widgetConfigs/{widget_config_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters."
        },
        "accessSettings": {
          "description": "Will be used for all widget access settings seen in cloud console integration page. Replaces top deprecated top level properties.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaWidgetConfigAccessSettings"
        },
        "facetField": {
          "deprecated": true,
          "type": "array",
          "description": "The configuration and appearance of facets in the end user view.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaWidgetConfigFacetField"
          }
        },
        "enableSnippetResultSummary": {
          "description": "Turn on or off summary for each snippets result.",
          "type": "boolean",
          "deprecated": true
        },
        "configId": {
          "description": "Output only. Unique obfuscated identifier of a WidgetConfig.",
          "type": "string",
          "readOnly": true
        },
        "enableSummarization": {
          "description": "Turn on or off summarization for the search response.",
          "type": "boolean",
          "deprecated": true
        },
        "homepageSetting": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaWidgetConfigHomepageSetting",
          "description": "Optional. Describes the homepage settings of the widget."
        },
        "enableQualityFeedback": {
          "type": "boolean",
          "description": "Turn on or off collecting the search result quality feedback from end users.",
          "deprecated": true
        },
        "dataStoreUiConfigs": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaWidgetConfigDataStoreUiConfig"
          },
          "description": "Configurable UI configurations per data store.",
          "type": "array",
          "deprecated": true
        },
        "customerProvidedConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaWidgetConfigCustomerProvidedConfig",
          "readOnly": true,
          "description": "Optional. Output only. Describes the customer related configurations, currently only used for government customers. This field cannot be modified after project onboarding."
        },
        "industryVertical": {
          "enum": [
            "INDUSTRY_VERTICAL_UNSPECIFIED",
            "GENERIC",
            "MEDIA",
            "HEALTHCARE_FHIR"
          ],
          "description": "Output only. The industry vertical that the WidgetConfig registers. The WidgetConfig industry vertical is based on the associated Engine.",
          "type": "string",
          "enumDescriptions": [
            "Value used when unset.",
            "The generic vertical for documents that are not specific to any industry vertical.",
            "The media industry vertical.",
            "The healthcare FHIR vertical."
          ],
          "readOnly": true
        },
        "allowlistedDomains": {
          "type": "array",
          "deprecated": true,
          "items": {
            "type": "string"
          },
          "description": "Allowlisted domains that can load this widget."
        },
        "enableResultScore": {
          "description": "Whether to show the result score.",
          "type": "boolean"
        },
        "batchAuthStatuses": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaWidgetConfigBatchAuthStatus"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The batch authorization statuses for the widget's connectors."
        },
        "nodes": {
          "type": "array",
          "description": "Output only. The nodes associated with the Widget Config.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaWidgetConfigNode"
          }
        },
        "uiSettings": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaWidgetConfigUiSettings",
          "description": "Describes general widget search settings as seen in cloud console widget configuration page. Replaces top deprecated top level properties."
        },
        "enableAutocomplete": {
          "type": "boolean",
          "description": "Whether or not to enable autocomplete.",
          "deprecated": true
        },
        "uiBranding": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaWidgetConfigUiBrandingSettings",
          "description": "Describes search widget UI branding settings, such as the widget title, logo, favicons, and colors."
        },
        "enableConversationalSearch": {
          "description": "Whether to allow conversational search (LLM, multi-turn) or not (non-LLM, single-turn).",
          "type": "boolean",
          "deprecated": true
        },
        "geminiBundle": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the subscription is gemini bundle or not."
        },
        "displayName": {
          "description": "Required. The human readable widget config display name. Used in Discovery UI. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        },
        "minimumDataTermAccepted": {
          "description": "Output only. Whether the customer accepted data use terms.",
          "type": "boolean",
          "readOnly": true
        },
        "assistantSettings": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaWidgetConfigAssistantSettings",
          "description": "Optional. Output only. Describes the assistant settings of the widget.",
          "readOnly": true
        },
        "collectionComponents": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaWidgetConfigCollectionComponent"
          },
          "description": "Output only. Collection components that lists all collections and child data stores associated with the widget config, those data sources can be used for filtering in widget service APIs, users can return results that from selected data sources. For SaaS / Business engines, when `LookupWidgetConfig` is called with `view = WITH_AVAILABLE_CONNECTORS`, this list is additionally augmented with synthetic placeholder entries for connectors the caller may attach but has not yet attached (see `CollectionComponent` for the placeholder contract). The frontend can therefore render a unified list of already-attached and available-to-attach sources by iterating this single field. For Enterprise engines and for the default `view`, only already-attached connectors are returned (today's behavior).",
          "type": "array"
        },
        "fieldsUiComponentsMap": {
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaWidgetConfigUIComponentField"
          },
          "description": "The key is the UI component. Mock. Currently supported `title`, `thumbnail`, `url`, `custom1`, `custom2`, `custom3`. The value is the name of the field along with its device visibility. The 3 custom fields are optional and can be added or removed. `title`, `thumbnail`, `url` are required UI components that cannot be removed.",
          "type": "object",
          "deprecated": true
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Timestamp the WidgetConfig was updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "enablePrivateKnowledgeGraph": {
          "type": "boolean",
          "description": "Optional. Output only. Whether to enable private knowledge graph.",
          "readOnly": true
        },
        "resultDisplayType": {
          "deprecated": true,
          "enum": [
            "RESULT_DISPLAY_TYPE_UNSPECIFIED",
            "SNIPPET",
            "EXTRACTIVE_ANSWER"
          ],
          "description": "The type of snippet to display in UCS widget. - RESULT_DISPLAY_TYPE_UNSPECIFIED for existing users. - SNIPPET for new non-enterprise search users. - EXTRACTIVE_ANSWER for new enterprise search users.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified display type (default to showing snippet).",
            "Display results from the snippet field.",
            "Display results from extractive answers field."
          ]
        },
        "enableSafeSearch": {
          "deprecated": true,
          "type": "boolean",
          "description": "Whether to enable safe search."
        },
        "enableWebApp": {
          "type": "boolean",
          "description": "Whether to enable standalone web app.",
          "deprecated": true
        },
        "dataStoreType": {
          "enumDescriptions": [
            "Unspecified data store type.",
            "The parent data store contains a site search engine.",
            "The parent data store contains a search engine for structured data.",
            "The parent data store contains a search engine for unstructured data.",
            "The parent data store is served for blended search with multiple data stores."
          ],
          "description": "Output only. The type of the parent data store.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "DATA_STORE_TYPE_UNSPECIFIED",
            "SITE_SEARCH",
            "STRUCTURED",
            "UNSTRUCTURED",
            "BLENDED"
          ]
        }
      },
      "description": "WidgetConfig captures configs at the Widget level.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaUpdateTargetSiteMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaUpdateTargetSiteMetadata",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "type": "object",
      "description": "Metadata related to the progress of the SiteSearchEngineService.UpdateTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1betaIdentityMappingEntryOperationMetadata": {
      "description": "IdentityMappingEntry LongRunningOperation metadata for IdentityMappingStoreService.ImportIdentityMappings and IdentityMappingStoreService.PurgeIdentityMappings",
      "type": "object",
      "properties": {
        "successCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of IdentityMappingEntries that were successfully processed."
        },
        "totalCount": {
          "description": "The total number of IdentityMappingEntries that were processed.",
          "format": "int64",
          "type": "string"
        },
        "failureCount": {
          "format": "int64",
          "description": "The number of IdentityMappingEntries that failed to be processed.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaIdentityMappingEntryOperationMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerBlobAttachment": {
      "properties": {
        "data": {
          "readOnly": true,
          "description": "Output only. The mime type and data of the blob.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerBlobAttachmentBlob"
        },
        "attributionType": {
          "readOnly": true,
          "description": "Output only. The attribution type of the blob.",
          "enumDescriptions": [
            "Unspecified attribution type.",
            "The attachment data is from the corpus.",
            "The attachment data is generated by the model through code generation."
          ],
          "type": "string",
          "enum": [
            "ATTRIBUTION_TYPE_UNSPECIFIED",
            "CORPUS",
            "GENERATED"
          ]
        }
      },
      "type": "object",
      "description": "Stores binarydata attached to text answer, e.g. image, video, audio, etc.",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerBlobAttachment"
    },
    "GoogleCloudDiscoveryengineV1alphaExportUserLicensesRequest": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaExportUserLicensesRequest",
      "description": "Request message for UserLicenseService.ExportUserLicenses."
    },
    "GoogleCloudDiscoveryengineV1alphaRecrawlUrisResponseFailureInfo": {
      "id": "GoogleCloudDiscoveryengineV1alphaRecrawlUrisResponseFailureInfo",
      "properties": {
        "uri": {
          "type": "string",
          "description": "URI that failed to be crawled."
        },
        "failureReasons": {
          "type": "array",
          "description": "List of failure reasons by corpus type (e.g. desktop, mobile).",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaRecrawlUrisResponseFailureInfoFailureReason"
          }
        }
      },
      "type": "object",
      "description": "Details about why a particular URI failed to be crawled. Each FailureInfo contains one FailureReason per CorpusType."
    },
    "GoogleCloudDiscoveryengineV1alphaBatchUpdateUserLicensesRequestInlineSource": {
      "description": "The inline source for the input config for BatchUpdateUserLicenses method.",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Optional. The list of fields to update."
        },
        "userLicenses": {
          "description": "Required. A list of user licenses to update. Each user license must have a valid UserLicense.user_principal.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaUserLicense"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaBatchUpdateUserLicensesRequestInlineSource"
    },
    "GoogleCloudNotebooklmV1alphaFailureReasonYoutubeErrorVideoDeleted": {
      "type": "object",
      "properties": {},
      "description": "Error to indicate that the source was removed because the video was deleted.",
      "id": "GoogleCloudNotebooklmV1alphaFailureReasonYoutubeErrorVideoDeleted"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpec": {
      "properties": {
        "summaryResultCount": {
          "description": "The number of top results to generate the summary from. If the number of results returned is less than `summaryResultCount`, the summary is generated from all of the results. At most 10 results for documents mode, or 50 for chunks mode, can be used to generate a summary. The chunks mode is used when SearchRequest.ContentSearchSpec.search_result_mode is set to CHUNKS.",
          "format": "int32",
          "type": "integer"
        },
        "useSemanticChunks": {
          "description": "If true, answer will be generated from most relevant chunks from top search results. This feature will improve summary quality. Note that with this feature enabled, not all top search results will be referenced and included in the reference list, so the citation source index only points to the search results listed in the reference list.",
          "type": "boolean"
        },
        "modelPromptSpec": {
          "description": "If specified, the spec will be used to modify the prompt provided to the LLM.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpecModelPromptSpec"
        },
        "modelSpec": {
          "description": "If specified, the spec will be used to modify the model specification provided to the LLM.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpecModelSpec"
        },
        "multimodalSpec": {
          "description": "Optional. Multimodal specification.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpecMultiModalSpec"
        },
        "languageCode": {
          "type": "string",
          "description": "Language code for Summary. Use language tags defined by [BCP47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt). Note: This is an experimental feature."
        },
        "ignoreJailBreakingQuery": {
          "description": "Optional. Specifies whether to filter out jail-breaking queries. The default value is `false`. Google employs search-query classification to detect jail-breaking queries. No summary is returned if the search query is classified as a jail-breaking query. A user might add instructions to the query to change the tone, style, language, content of the answer, or ask the model to act as a different entity, e.g. \"Reply in the tone of a competing company's CEO\". If this field is set to `true`, we skip generating summaries for jail-breaking queries and return fallback messages instead.",
          "type": "boolean"
        },
        "ignoreAdversarialQuery": {
          "description": "Specifies whether to filter out adversarial queries. The default value is `false`. Google employs search-query classification to detect adversarial queries. No summary is returned if the search query is classified as an adversarial query. For example, a user might ask a question regarding negative comments about the company or submit a query designed to generate unsafe, policy-violating output. If this field is set to `true`, we skip generating summaries for adversarial queries and return fallback messages instead.",
          "type": "boolean"
        },
        "ignoreLowRelevantContent": {
          "type": "boolean",
          "description": "Specifies whether to filter out queries that have low relevance. The default value is `false`. If this field is set to `false`, all search results are used regardless of relevance to generate answers. If set to `true`, only queries with high relevance search results will generate answers."
        },
        "ignoreNonSummarySeekingQuery": {
          "type": "boolean",
          "description": "Specifies whether to filter out queries that are not summary-seeking. The default value is `false`. Google employs search-query classification to detect summary-seeking queries. No summary is returned if the search query is classified as a non-summary seeking query. For example, `why is the sky blue` and `Who is the best soccer player in the world?` are summary-seeking queries, but `SFO airport` and `world cup 2026` are not. They are most likely navigational queries. If this field is set to `true`, we skip generating summaries for non-summary seeking queries and return fallback messages instead."
        },
        "includeCitations": {
          "description": "Specifies whether to include citations in the summary. The default value is `false`. When this field is set to `true`, summaries include in-line citation numbers. Example summary including citations: BigQuery is Google Cloud's fully managed and completely serverless enterprise data warehouse [1]. BigQuery supports all data types, works across clouds, and has built-in machine learning and business intelligence, all within a unified platform [2, 3]. The citation numbers refer to the returned search results and are 1-indexed. For example, [1] means that the sentence is attributed to the first search result. [2, 3] means that the sentence is attributed to both the second and third search results.",
          "type": "boolean"
        }
      },
      "description": "A specification for configuring a summary returned in a search response.",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpec",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaFetchSitemapsResponseSitemapMetadata": {
      "properties": {
        "sitemap": {
          "description": "The Sitemap.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSitemap"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaFetchSitemapsResponseSitemapMetadata",
      "description": "Contains a Sitemap and its metadata.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaGroundingFact": {
      "id": "GoogleCloudDiscoveryengineV1alphaGroundingFact",
      "type": "object",
      "properties": {
        "attributes": {
          "description": "Attributes associated with the fact. Common attributes include `source` (indicating where the fact was sourced from), `author` (indicating the author of the fact), and so on.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "factText": {
          "type": "string",
          "description": "Text content of the fact. Can be at most 10K characters long."
        }
      },
      "description": "Grounding Fact."
    },
    "GoogleCloudDiscoveryengineV1betaQualityMetrics": {
      "description": "Describes the metrics produced by the evaluation.",
      "type": "object",
      "properties": {
        "pageRecall": {
          "$ref": "GoogleCloudDiscoveryengineV1betaQualityMetricsTopkMetrics",
          "description": "Recall per page, at various top-k cutoff levels. Recall is the fraction of relevant pages retrieved out of all relevant pages. Example (top-5): * For a single SampleQuery, if 3 out of 5 relevant pages are retrieved in the top-5, recall@5 = 3/5 = 0.6"
        },
        "docPrecision": {
          "$ref": "GoogleCloudDiscoveryengineV1betaQualityMetricsTopkMetrics",
          "description": "Precision per document, at various top-k cutoff levels. Precision is the fraction of retrieved documents that are relevant. Example (top-5): * For a single SampleQuery, If 4 out of 5 retrieved documents in the top-5 are relevant, precision@5 = 4/5 = 0.8"
        },
        "pageNdcg": {
          "description": "Normalized discounted cumulative gain (NDCG) per page, at various top-k cutoff levels. NDCG measures the ranking quality, giving higher relevance to top results. Example (top-3): Suppose SampleQuery with three retrieved pages (P1, P2, P3) and binary relevance judgements (1 for relevant, 0 for not relevant): Retrieved: [P3 (0), P1 (1), P2 (1)] Ideal: [P1 (1), P2 (1), P3 (0)] Calculate NDCG@3 for SampleQuery: * DCG@3: 0/log2(1+1) + 1/log2(2+1) + 1/log2(3+1) = 1.13 * Ideal DCG@3: 1/log2(1+1) + 1/log2(2+1) + 0/log2(3+1) = 1.63 * NDCG@3: 1.13/1.63 = 0.693",
          "$ref": "GoogleCloudDiscoveryengineV1betaQualityMetricsTopkMetrics"
        },
        "docRecall": {
          "$ref": "GoogleCloudDiscoveryengineV1betaQualityMetricsTopkMetrics",
          "description": "Recall per document, at various top-k cutoff levels. Recall is the fraction of relevant documents retrieved out of all relevant documents. Example (top-5): * For a single SampleQuery, If 3 out of 5 relevant documents are retrieved in the top-5, recall@5 = 3/5 = 0.6"
        },
        "docNdcg": {
          "$ref": "GoogleCloudDiscoveryengineV1betaQualityMetricsTopkMetrics",
          "description": "Normalized discounted cumulative gain (NDCG) per document, at various top-k cutoff levels. NDCG measures the ranking quality, giving higher relevance to top results. Example (top-3): Suppose SampleQuery with three retrieved documents (D1, D2, D3) and binary relevance judgements (1 for relevant, 0 for not relevant): Retrieved: [D3 (0), D1 (1), D2 (1)] Ideal: [D1 (1), D2 (1), D3 (0)] Calculate NDCG@3 for each SampleQuery: * DCG@3: 0/log2(1+1) + 1/log2(2+1) + 1/log2(3+1) = 1.13 * Ideal DCG@3: 1/log2(1+1) + 1/log2(2+1) + 0/log2(3+1) = 1.63 * NDCG@3: 1.13/1.63 = 0.693"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaQualityMetrics"
    },
    "GoogleCloudDiscoveryengineV1alphaImportSampleQueriesRequestInlineSource": {
      "properties": {
        "sampleQueries": {
          "description": "Required. A list of SampleQuerys to import. Max of 1000 items.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSampleQuery"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaImportSampleQueriesRequestInlineSource",
      "description": "The inline source for SampleQuerys."
    },
    "GoogleCloudDiscoveryengineV1betaCmekConfig": {
      "properties": {
        "kmsKeyVersion": {
          "description": "Output only. KMS key version resource name which will be used to encrypt resources `/cryptoKeyVersions/{keyVersion}`.",
          "type": "string",
          "readOnly": true
        },
        "notebooklmState": {
          "enum": [
            "NOTEBOOK_LM_STATE_UNSPECIFIED",
            "NOTEBOOK_LM_NOT_READY",
            "NOTEBOOK_LM_READY",
            "NOTEBOOK_LM_NOT_ENABLED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The NotebookLM state is unknown.",
            "The NotebookLM is not ready.",
            "The NotebookLM is ready to be used.",
            "The NotebookLM is not enabled."
          ],
          "description": "Output only. Whether the NotebookLM Corpus is ready to be used."
        },
        "lastRotationTimestampMicros": {
          "description": "Output only. The timestamp of the last key rotation.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "isDefault": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. The default CmekConfig for the Customer."
        },
        "kmsKey": {
          "description": "Required. KMS key resource name which will be used to encrypt resources `projects/{project}/locations/{location}/keyRings/{keyRing}/cryptoKeys/{keyId}`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the CmekConfig of the form `projects/{project}/locations/{location}/cmekConfig` or `projects/{project}/locations/{location}/cmekConfigs/{cmek_config}`."
        },
        "singleRegionKeys": {
          "type": "array",
          "description": "Optional. Single-regional CMEKs that are required for some VAIS features.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSingleRegionKey"
          }
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The states of the CmekConfig.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "KEY_ISSUE",
            "DELETING",
            "DELETE_FAILED",
            "UNUSABLE",
            "ACTIVE_ROTATING",
            "DELETED",
            "EXPIRED"
          ],
          "enumDescriptions": [
            "The CmekConfig state is unknown.",
            "The CmekConfig is creating.",
            "The CmekConfig can be used with DataStores.",
            "The CmekConfig is unavailable, most likely due to the KMS Key being revoked.",
            "The CmekConfig is deleting.",
            "The CmekConfig deletion process failed.",
            "The CmekConfig is not usable, most likely due to some internal issue.",
            "The KMS key version is being rotated.",
            "The KMS key is soft deleted. Some cleanup policy will eventually be applied.",
            "The KMS key is expired, meaning the key has been disabled for 30+ days. The customer can call DeleteCmekConfig to change the state to DELETED."
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaCmekConfig",
      "description": "Configurations used to enable CMEK data encryption with Cloud KMS keys."
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestCustomRankingParams": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestCustomRankingParams",
      "properties": {
        "expressionsToPrecompute": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of ranking expressions (see `ranking_expression` for the syntax documentation) to evaluate. The evaluation results will be returned in `SearchResponse.SearchResult.rank_signals.precomputed_expression_values` field.",
          "type": "array"
        }
      },
      "description": "Configuration parameters for the Custom Ranking feature."
    },
    "GoogleCloudDiscoveryengineV1alphaEnableAdvancedSiteSearchMetadata": {
      "description": "Metadata related to the progress of the SiteSearchEngineService.EnableAdvancedSiteSearch operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaEnableAdvancedSiteSearchMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaPageInfo": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaPageInfo",
      "description": "Detailed page information.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Complete URL (window.location.href) of the user's current page. When using the client side event reporting with JavaScript pixel and Google Tag Manager, this value is filled in automatically. Maximum length 5,000 characters."
        },
        "referrerUri": {
          "type": "string",
          "description": "The referrer URL of the current page. When using the client side event reporting with JavaScript pixel and Google Tag Manager, this value is filled in automatically. However, some browser privacy restrictions may cause this field to be empty."
        },
        "pageviewId": {
          "description": "A unique ID of a web page view. This should be kept the same for all user events triggered from the same pageview. For example, an item detail page view could trigger multiple events as the user is browsing the page. The `pageview_id` property should be kept the same for all these events so that they can be grouped together properly. When using the client side event reporting with JavaScript pixel and Google Tag Manager, this value is filled in automatically.",
          "type": "string"
        },
        "pageCategory": {
          "description": "The most specific category associated with a category page. To represent full path of category, use '>' sign to separate different hierarchies. If '>' is part of the category name, replace it with other character(s). Category pages include special pages such as sales or promotions. For instance, a special sale page may have the category hierarchy: `\"pageCategory\" : \"Sales > 2017 Black Friday Deals\"`. Required for `view-category-page` events. Other event types should not set this field. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1CreateSitemapMetadata": {
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        }
      },
      "description": "Metadata related to the progress of the SiteSearchEngineService.CreateSitemap operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1CreateSitemapMetadata"
    },
    "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpec": {
      "id": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpec",
      "type": "object",
      "description": "A specification for configuring the behavior of content search.",
      "properties": {
        "chunkSpec": {
          "description": "Specifies the chunk spec to be returned from the search response. Only available if the SearchRequest.ContentSearchSpec.search_result_mode is set to CHUNKS",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecChunkSpec"
        },
        "snippetSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSnippetSpec",
          "description": "If `snippetSpec` is not specified, snippets are not included in the search response."
        },
        "extractiveContentSpec": {
          "description": "If there is no extractive_content_spec provided, there will be no extractive answer in the search response.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecExtractiveContentSpec"
        },
        "searchResultMode": {
          "enum": [
            "SEARCH_RESULT_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ],
          "description": "Specifies the search result mode. If unspecified, the search result mode defaults to `DOCUMENTS`.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Returns documents in the search result.",
            "Returns chunks in the search result. Only available if the DocumentProcessingConfig.chunking_config is specified."
          ]
        },
        "summarySpec": {
          "description": "If `summarySpec` is not specified, summaries are not included in the search response.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpec"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaEstimateDataSizeRequestWebsiteDataSourceEstimatorUriPattern": {
      "id": "GoogleCloudDiscoveryengineV1alphaEstimateDataSizeRequestWebsiteDataSourceEstimatorUriPattern",
      "properties": {
        "providedUriPattern": {
          "type": "string",
          "description": "User provided URI pattern. For example, `foo.com/bar/*`."
        },
        "exactMatch": {
          "description": "Whether we infer the generated URI or use the exact provided one.",
          "type": "boolean"
        },
        "exclusive": {
          "type": "boolean",
          "description": "Whether the pattern is exclusive or not. If set to true, the pattern is considered exclusive. If unset or set to false, the pattern is considered inclusive by default."
        }
      },
      "type": "object",
      "description": "URI patterns that we use to crawl."
    },
    "GoogleCloudDiscoveryengineV1alphaDestinationConfigDestination": {
      "description": "Defines a target endpoint",
      "properties": {
        "port": {
          "description": "Optional. Target port number accepted by the destination.",
          "format": "int32",
          "type": "integer"
        },
        "host": {
          "description": "Publicly routable host.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaDestinationConfigDestination"
    },
    "GoogleCloudDiscoveryengineV1alphaAdvancedCompleteQueryResponseRecentSearchSuggestion": {
      "id": "GoogleCloudDiscoveryengineV1alphaAdvancedCompleteQueryResponseRecentSearchSuggestion",
      "properties": {
        "recentSearchTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when this recent rearch happened."
        },
        "suggestion": {
          "description": "The suggestion for the query.",
          "type": "string"
        },
        "score": {
          "description": "The score of each suggestion. The score is in the range of [0, 1].",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "description": "Suggestions from recent search history."
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterOrExpression": {
      "type": "object",
      "description": "Logical `Or` operator.",
      "properties": {
        "expressions": {
          "type": "array",
          "description": "The expressions that were ORed together.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterExpression"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterOrExpression"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerReferenceUnstructuredDocumentInfoChunkContent": {
      "properties": {
        "blobAttachmentIndexes": {
          "type": "array",
          "description": "Output only. Stores indexes of blobattachments linked to this chunk.",
          "readOnly": true,
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "pageIdentifier": {
          "description": "Page identifier.",
          "type": "string"
        },
        "content": {
          "description": "Chunk textual content.",
          "type": "string"
        },
        "relevanceScore": {
          "format": "float",
          "description": "The relevance of the chunk for a given query. Values range from 0.0 (completely irrelevant) to 1.0 (completely relevant). This value is for informational purpose only. It may change for the same query and chunk at any time due to a model retraining or change in implementation.",
          "type": "number"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerReferenceUnstructuredDocumentInfoChunkContent",
      "description": "Chunk content."
    },
    "GoogleCloudDiscoveryengineV1alphaCreateTargetSiteRequest": {
      "id": "GoogleCloudDiscoveryengineV1alphaCreateTargetSiteRequest",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. Parent resource name of TargetSite, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/siteSearchEngine`."
        },
        "targetSite": {
          "description": "Required. The TargetSite to create.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaTargetSite"
        }
      },
      "description": "Request message for SiteSearchEngineService.CreateTargetSite method.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaWidgetConfigImage": {
      "properties": {
        "url": {
          "description": "Image URL.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Options to store an image.",
      "id": "GoogleCloudDiscoveryengineV1alphaWidgetConfigImage"
    },
    "GoogleCloudNotebooklmV1alphaGoogleDocsSourceMetadata": {
      "properties": {
        "documentId": {
          "description": "Output only. The document id of the google doc.",
          "type": "string",
          "readOnly": true
        },
        "revisionId": {
          "type": "string",
          "description": "Output only. Revision id for the doc.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudNotebooklmV1alphaGoogleDocsSourceMetadata",
      "description": "Metadata about a google doc source."
    },
    "GoogleCloudDiscoveryengineV1Schema": {
      "type": "object",
      "description": "Defines the structure and layout of a type of document data.",
      "properties": {
        "jsonSchema": {
          "type": "string",
          "description": "The JSON representation of the schema."
        },
        "structSchema": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The structured representation of the schema.",
          "type": "object"
        },
        "name": {
          "description": "Immutable. The full resource name of the schema, in the format of `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/schemas/{schema}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1Schema"
    },
    "GoogleCloudDiscoveryengineV1alphaControlBoostAction": {
      "description": "Adjusts order of products in returned list.",
      "id": "GoogleCloudDiscoveryengineV1alphaControlBoostAction",
      "properties": {
        "interpolationBoostSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaControlBoostActionInterpolationBoostSpec",
          "description": "Optional. Complex specification for custom ranking based on customer defined attribute value."
        },
        "fixedBoost": {
          "description": "Optional. Strength of the boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0 (No-op).",
          "format": "float",
          "type": "number"
        },
        "dataStore": {
          "description": "Required. Specifies which data store's documents can be boosted by this control. Full data store name e.g. projects/123/locations/global/collections/default_collection/dataStores/default_data_store",
          "type": "string"
        },
        "boost": {
          "deprecated": true,
          "format": "float",
          "type": "number",
          "description": "Strength of the boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0 (No-op)."
        },
        "filter": {
          "type": "string",
          "description": "Required. Specifies which products to apply the boost to. If no filter is provided all products will be boosted (No-op). Syntax documentation: https://cloud.google.com/retail/docs/filter-and-order Maximum length is 5000 characters. Otherwise an INVALID ARGUMENT error is thrown."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaBillingAccountLicenseConfig": {
      "properties": {
        "autoRenew": {
          "type": "boolean",
          "description": "Whether the BillingAccountLicenseConfig is auto renewed when it reaches the end date."
        },
        "earlyTerminated": {
          "type": "boolean",
          "description": "Indication of whether the subscription is terminated earlier than the expiration date. This is usually terminated by pipeline once the subscription gets terminated from subsv3."
        },
        "subscriptionTerm": {
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "1 month.",
            "1 year.",
            "3 years.",
            "Custom term. Must set the end_date."
          ],
          "enum": [
            "SUBSCRIPTION_TERM_UNSPECIFIED",
            "SUBSCRIPTION_TERM_ONE_MONTH",
            "SUBSCRIPTION_TERM_ONE_YEAR",
            "SUBSCRIPTION_TERM_THREE_YEARS",
            "SUBSCRIPTION_TERM_CUSTOM"
          ],
          "description": "Required. The subscription term."
        },
        "geminiBundle": {
          "description": "Whether the license config is for Gemini bundle.",
          "type": "boolean"
        },
        "subscriptionTier": {
          "description": "Required. The subscription tier.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Search tier. Search tier can access Vertex AI Search features and NotebookLM features.",
            "Gemini Enterprise Plus tier.",
            "NotebookLM tier. NotebookLM is a subscription tier can only access NotebookLM features.",
            "Gemini Frontline worker tier.",
            "Gemini Business Starter tier.",
            "Gemini Business tier.",
            "Gemini Enterprise Standard tier.",
            "Gemini Enterprise Standard tier for emerging markets.",
            "Gemini Enterprise EDU tier.",
            "Gemini Enterprise EDU Pro tier.",
            "Gemini Enterprise EDU tier for emerging market only.",
            "Gemini Enterprise EDU Pro tier for emerging market.",
            "Gemini Frontline Starter tier.",
            "Represents the Gemini Enterprise Consumption-only tier: $0 subscription billed purely on usage (PAYG).",
            "Gemini Enterprise EDU tier for government in emerging markets."
          ],
          "enum": [
            "SUBSCRIPTION_TIER_UNSPECIFIED",
            "SUBSCRIPTION_TIER_SEARCH",
            "SUBSCRIPTION_TIER_SEARCH_AND_ASSISTANT",
            "SUBSCRIPTION_TIER_NOTEBOOK_LM",
            "SUBSCRIPTION_TIER_FRONTLINE_WORKER",
            "SUBSCRIPTION_TIER_AGENTSPACE_STARTER",
            "SUBSCRIPTION_TIER_AGENTSPACE_BUSINESS",
            "SUBSCRIPTION_TIER_ENTERPRISE",
            "SUBSCRIPTION_TIER_ENTERPRISE_EMERGING",
            "SUBSCRIPTION_TIER_EDU",
            "SUBSCRIPTION_TIER_EDU_PRO",
            "SUBSCRIPTION_TIER_EDU_EMERGING",
            "SUBSCRIPTION_TIER_EDU_PRO_EMERGING",
            "SUBSCRIPTION_TIER_FRONTLINE_STARTER",
            "SUBSCRIPTION_TIER_CONSUMPTION_ONLY",
            "SUBSCRIPTION_TIER_EDU_GOV_EMERGING"
          ]
        },
        "subscriptionName": {
          "readOnly": true,
          "description": "Output only. The corresponding SubV3 subscription name.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The BillingAccountLicenseConfig does not exist. Default value. Do not use.",
            "The BillingAccountLicenseConfig is active and being used.",
            "The BillingAccountLicenseConfig has expired.",
            "The BillingAccountLicenseConfig has not started yet, and its start date is in the future.",
            "The license config is terminated earlier than the expiration date and it is deactivating. The customer will still have access in this state. It will be converted to EXPIRED after the deactivating period ends (14 days) or when the end date is reached, whichever comes first."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "EXPIRED",
            "NOT_STARTED",
            "DEACTIVATING"
          ],
          "readOnly": true,
          "description": "Output only. The state of the BillingAccountLicenseConfig."
        },
        "licenseCount": {
          "format": "int64",
          "type": "string",
          "description": "Required. The number of licenses purchased under this billing account license config."
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The fully qualified resource name of the billing account license config. Format: `billingAccounts/{billing_account}/billingAccountLicenseConfigs/{billing_account_license_config}`."
        },
        "subscriptionDisplayName": {
          "description": "The subscription display name.",
          "type": "string"
        },
        "earlyTerminationDate": {
          "$ref": "GoogleTypeDate",
          "description": "The date when the subscription is terminated earlier than the expiration date."
        },
        "licenseConfigDistributions": {
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "description": "A map of LicenseConfig names to the number of licenses distributed to each. The key is the full resource name of the LicenseConfig, such as `projects/{project}/locations/{location}/licenseConfigs/{license_config}`. The value is the count of licenses allocated to it.",
          "type": "object"
        },
        "procurementEntitlementId": {
          "type": "string",
          "description": "The procurement entitlement id of the subscription."
        },
        "startDate": {
          "$ref": "GoogleTypeDate",
          "description": "Required. The subscription start date."
        },
        "endDate": {
          "description": "Optional. The planed subscription end date.",
          "$ref": "GoogleTypeDate"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaBillingAccountLicenseConfig",
      "description": "Information about license configs at billing account level.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1UserStore": {
      "properties": {
        "name": {
          "description": "Immutable. The full resource name of the User Store, in the format of `projects/{project}/locations/{location}/userStores/{user_store}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the User Store."
        },
        "enableExpiredLicenseAutoUpdate": {
          "type": "boolean",
          "description": "Optional. Whether to enable license auto update for users in this User Store. If true, users with expired licenses will automatically be updated to use the default license config as long as the default license config has seats left."
        },
        "enableLicenseAutoRegister": {
          "description": "Optional. Whether to enable license auto register for users in this User Store. If true, new users will automatically register under the default license config as long as the default license config has seats left.",
          "type": "boolean"
        },
        "defaultLicenseConfig": {
          "description": "Optional. The default subscription LicenseConfig for the UserStore, if UserStore.enable_license_auto_register is true, new users will automatically register under the default subscription. If default LicenseConfig doesn't have remaining license seats left, new users will not be assigned with license and will be blocked for Vertex AI Search features. This is used if `license_assignment_tier_rules` is not configured.",
          "type": "string"
        }
      },
      "description": "Configures metadata that is used for End User entities.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1UserStore"
    },
    "GoogleCloudNotebooklmV1alphaShareNotebookResponse": {
      "id": "GoogleCloudNotebooklmV1alphaShareNotebookResponse",
      "description": "Response for NotebookService.ShareNotebook method.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDiscoveryengineV1EngineKnowledgeGraphConfigFeatureConfig": {
      "properties": {
        "disablePrivateKgQueryUiChips": {
          "description": "Whether to disable the private KG for query UI chips. Defaults to false if not specified.",
          "type": "boolean"
        },
        "disablePrivateKgEnrichment": {
          "type": "boolean",
          "description": "Whether to disable the private KG enrichment for the engine. Defaults to false if not specified."
        },
        "disablePrivateKgQueryUnderstanding": {
          "description": "Whether to disable the private KG query understanding for the engine. Defaults to false if not specified.",
          "type": "boolean"
        },
        "disablePrivateKgAutoComplete": {
          "description": "Whether to disable the private KG auto complete for the engine. Defaults to false if not specified.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1EngineKnowledgeGraphConfigFeatureConfig",
      "type": "object",
      "description": "Feature config for the Knowledge Graph."
    },
    "GoogleCloudDiscoveryengineV1ImportDocumentsResponse": {
      "id": "GoogleCloudDiscoveryengineV1ImportDocumentsResponse",
      "description": "Response of the ImportDocumentsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "type": "object",
      "properties": {
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "errorConfig": {
          "description": "Echoes the destination for the complete errors in the request if set.",
          "$ref": "GoogleCloudDiscoveryengineV1ImportErrorConfig"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaCheckGroundingSpec": {
      "description": "Specification for the grounding check.",
      "properties": {
        "enableClaimLevelScore": {
          "description": "The control flag that enables claim-level grounding score in the response.",
          "type": "boolean"
        },
        "citationThreshold": {
          "type": "number",
          "format": "double",
          "description": "The threshold (in [0,1]) used for determining whether a fact must be cited for a claim in the answer candidate. Choosing a higher threshold will lead to fewer but very strong citations, while choosing a lower threshold may lead to more but somewhat weaker citations. If unset, the threshold will default to 0.6."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaCheckGroundingSpec"
    },
    "GoogleCloudDiscoveryengineV1alphaRemoveSuggestionRequest": {
      "type": "object",
      "properties": {
        "searchHistorySuggestion": {
          "description": "The search history suggestion to be removed.",
          "type": "string"
        },
        "userInfo": {
          "description": "Optional. Information about the end user. This should be the same identifier information as UserEvent.user_info and SearchRequest.user_info.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaUserInfo"
        },
        "removeAllSearchHistorySuggestions": {
          "type": "boolean",
          "description": "Remove all search history suggestions for the user."
        },
        "removeTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Time at which the suggestion was removed. If not set, the current time will be used."
        },
        "userPseudoId": {
          "description": "Required. A unique identifier for tracking visitors. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor logs in or out of the website. This field should NOT have a fixed value such as `unknown_visitor`. This should be the same identifier as UserEvent.user_pseudo_id and SearchRequest.user_pseudo_id. The field must be a UTF-8 encoded string with a length limit of 128.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaRemoveSuggestionRequest",
      "description": "Request message for CompletionService.RemoveSuggestion method."
    },
    "GoogleCloudDiscoveryengineV1betaEngineSearchEngineConfig": {
      "id": "GoogleCloudDiscoveryengineV1betaEngineSearchEngineConfig",
      "properties": {
        "searchTier": {
          "enumDescriptions": [
            "Default value when the enum is unspecified. This is invalid to use.",
            "Standard tier.",
            "Enterprise tier."
          ],
          "type": "string",
          "enum": [
            "SEARCH_TIER_UNSPECIFIED",
            "SEARCH_TIER_STANDARD",
            "SEARCH_TIER_ENTERPRISE"
          ],
          "description": "The search feature tier of this engine. Different tiers might have different pricing. To learn more, check the pricing documentation. Defaults to SearchTier.SEARCH_TIER_STANDARD if not specified."
        },
        "requiredSubscriptionTier": {
          "description": "Optional. The required subscription tier of this engine. If the required subscription tier is search, user with higher license tier like assist can still access the standalone app associated with this engine. Web grounding feature is only available on the app if it is set as SubscriptionTier.SUBSCRIPTION_TIER_SEARCH_AND_ASSISTANT.",
          "enum": [
            "SUBSCRIPTION_TIER_UNSPECIFIED",
            "SUBSCRIPTION_TIER_SEARCH",
            "SUBSCRIPTION_TIER_SEARCH_AND_ASSISTANT",
            "SUBSCRIPTION_TIER_NOTEBOOK_LM",
            "SUBSCRIPTION_TIER_FRONTLINE_WORKER",
            "SUBSCRIPTION_TIER_AGENTSPACE_STARTER",
            "SUBSCRIPTION_TIER_AGENTSPACE_BUSINESS",
            "SUBSCRIPTION_TIER_ENTERPRISE",
            "SUBSCRIPTION_TIER_ENTERPRISE_EMERGING",
            "SUBSCRIPTION_TIER_EDU",
            "SUBSCRIPTION_TIER_EDU_PRO",
            "SUBSCRIPTION_TIER_EDU_EMERGING",
            "SUBSCRIPTION_TIER_EDU_PRO_EMERGING",
            "SUBSCRIPTION_TIER_FRONTLINE_STARTER",
            "SUBSCRIPTION_TIER_CONSUMPTION_ONLY",
            "SUBSCRIPTION_TIER_EDU_GOV_EMERGING"
          ],
          "enumDescriptions": [
            "Default value.",
            "Search tier. Search tier can access Vertex AI Search features and NotebookLM features.",
            "Gemini Enterprise Plus tier.",
            "NotebookLM tier. NotebookLM is a subscription tier can only access NotebookLM features.",
            "Gemini Frontline worker tier.",
            "Gemini Business Starter tier.",
            "Gemini Business tier.",
            "Gemini Enterprise Standard tier.",
            "Gemini Enterprise Standard tier for emerging markets.",
            "Gemini Enterprise EDU tier.",
            "Gemini Enterprise EDU Pro tier.",
            "Gemini Enterprise EDU tier for emerging market only.",
            "Gemini Enterprise EDU Pro tier for emerging market.",
            "Gemini Frontline Starter tier.",
            "Represents the Gemini Enterprise Consumption-only tier: $0 subscription billed purely on usage (PAYG).",
            "Gemini Enterprise EDU tier for government in emerging markets."
          ],
          "type": "string"
        },
        "searchAddOns": {
          "items": {
            "enumDescriptions": [
              "Default value when the enum is unspecified. This is invalid to use.",
              "Large language model add-on."
            ],
            "enum": [
              "SEARCH_ADD_ON_UNSPECIFIED",
              "SEARCH_ADD_ON_LLM"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "The add-on that this search engine enables."
        }
      },
      "description": "Configurations for a Search Engine.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSetUriPatternDocumentDataMetadata": {
      "description": "Metadata related to the progress of the SiteSearchEngineService.SetUriPatternDocumentData operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1alphaSetUriPatternDocumentDataMetadata",
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaCompleteExternalIdentitiesResponse": {
      "description": "Response message for CompletionService.CompleteExternalIdentities.",
      "id": "GoogleCloudDiscoveryengineV1alphaCompleteExternalIdentitiesResponse",
      "type": "object",
      "properties": {
        "externalIdentities": {
          "type": "array",
          "description": "The list of external identities that match the query.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaExternalIdentity"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaBAPConfigToolspecOverride": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaBAPConfigToolspecOverride",
      "description": "Customer-facing view of the admin-curated toolspec for a BAP connection. Holds the (simplified) per-tool definitions surfaced to and editable by the admin in the Discovery Engine UI. Mirrors the shape of the backend `google.cloud.connectorexecution.v1.ToolspecOverride` message, but is intentionally kept as a separate public type so the Discovery Engine API surface can evolve independently of the fed-API surface (AIP-215). Handlers convert between the two via helpers in //cloud/ml/discoveryengine/external_service/v1main/data_connector_service/lib:bap_custom_tool_util.",
      "properties": {
        "baseVersion": {
          "type": "string",
          "description": "Required. Base toolspec version against which `tools` were authored. On Update, MUST match the server's current stable toolspec version for the connection; mismatch is rejected with a user-facing error directing the admin to re-download the latest tools first."
        },
        "tools": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object.",
              "type": "any"
            }
          },
          "description": "Required. Tool definitions (one Struct per tool) that the admin has customised on top of the base toolspec returned by the fed API. REQUIRED because it is the only user-editable field in the modify API; the request must carry at least one tool.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaImportDocumentsRequestInlineSource": {
      "properties": {
        "documents": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaDocument"
          },
          "type": "array",
          "description": "Required. A list of documents to update/create. Each document must have a valid Document.id. Recommended max of 100 items."
        }
      },
      "description": "The inline source for the input config for ImportDocuments method.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaImportDocumentsRequestInlineSource"
    },
    "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicy": {
      "properties": {
        "sensitiveDataProtectionPolicy": {
          "description": "Optional. The sensitive data protection policy.",
          "$ref": "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicySensitiveDataProtectionPolicy"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicy",
      "description": "Data protection policy config for NotebookLM.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaObtainCrawlRateResponse": {
      "id": "GoogleCloudDiscoveryengineV1betaObtainCrawlRateResponse",
      "type": "object",
      "properties": {
        "error": {
          "description": "Errors from service when handling the request.",
          "$ref": "GoogleRpcStatus"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. The state of the response.",
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified.",
            "The state is successful.",
            "The state is failed."
          ]
        },
        "organicCrawlRateTimeSeries": {
          "$ref": "GoogleCloudDiscoveryengineV1betaOrganicCrawlRateTimeSeries",
          "description": "The historical organic crawl rate timeseries data, used for monitoring."
        },
        "dedicatedCrawlRateTimeSeries": {
          "$ref": "GoogleCloudDiscoveryengineV1betaDedicatedCrawlRateTimeSeries",
          "description": "The historical dedicated crawl rate timeseries data, used for monitoring."
        }
      },
      "description": "Response message for CrawlRateManagementService.ObtainCrawlRate method. The response contains organcic or dedicated crawl rate time series data for monitoring, depending on whether dedicated crawl rate is set."
    },
    "GoogleCloudNotebooklmV1alphaFailureReason": {
      "type": "object",
      "properties": {
        "unknown": {
          "$ref": "GoogleCloudNotebooklmV1alphaFailureReasonUnknown",
          "description": "Indicates an unknown error occurred."
        },
        "policyCheckFailed": {
          "description": "Indicates that the policy check failed.",
          "$ref": "GoogleCloudNotebooklmV1alphaFailureReasonPolicyCheckFailed"
        },
        "googleDriveError": {
          "$ref": "GoogleCloudNotebooklmV1alphaFailureReasonGoogleDriveError",
          "description": "A google drive specific error."
        },
        "paywallError": {
          "$ref": "GoogleCloudNotebooklmV1alphaFailureReasonPaywallError",
          "description": "Indicates that the source is paywalled and cannot be ingested."
        },
        "ingestionError": {
          "$ref": "GoogleCloudNotebooklmV1alphaFailureReasonIngestionError",
          "description": "Indicates an error occurred while ingesting the source."
        },
        "sourceUnreachable": {
          "$ref": "GoogleCloudNotebooklmV1alphaFailureReasonSourceUnreachable",
          "description": "Indicates that the source is unreachable."
        },
        "uploadError": {
          "description": "Indicates an error occurred while uploading the source.",
          "$ref": "GoogleCloudNotebooklmV1alphaFailureReasonUploadError"
        },
        "mimeTypeBlocked": {
          "description": "Indicates that the source MIME type is blocked.",
          "$ref": "GoogleCloudNotebooklmV1alphaFailureReasonMimeTypeBlocked"
        },
        "domainBlocked": {
          "description": "Error if the user tries to add a source from a blocked domain.",
          "$ref": "GoogleCloudNotebooklmV1alphaFailureReasonDomainBlocked"
        },
        "sourceLimitExceeded": {
          "$ref": "GoogleCloudNotebooklmV1alphaFailureReasonSourceLimitExceeded",
          "description": "Error if the user tries to update beyond their limits."
        },
        "youtubeError": {
          "description": "A youtube specific error.",
          "$ref": "GoogleCloudNotebooklmV1alphaFailureReasonYoutubeError"
        },
        "sourceTooLong": {
          "description": "Indicates source word count exceeded the user's limit.",
          "$ref": "GoogleCloudNotebooklmV1alphaFailureReasonSourceTooLong"
        },
        "audioTranscriptionError": {
          "$ref": "GoogleCloudNotebooklmV1alphaFailureReasonAudioTranscriptionError",
          "description": "An audio file transcription specific error."
        },
        "sourceEmpty": {
          "description": "Indicates that the source is empty.",
          "$ref": "GoogleCloudNotebooklmV1alphaFailureReasonSourceEmpty"
        }
      },
      "id": "GoogleCloudNotebooklmV1alphaFailureReason",
      "description": "Failure reason containing details about why a source failed to ingest."
    },
    "GoogleCloudDiscoveryengineV1alphaAssistAnswerReply": {
      "id": "GoogleCloudDiscoveryengineV1alphaAssistAnswerReply",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the reply was created."
        },
        "replyId": {
          "description": "Output only. When set, uniquely identifies a reply within the `AssistAnswer` resource. During an AssistantService.StreamAssist call, multiple `Reply` messages with the same ID can occur within the response stream (across multiple StreamAssistResponse messages). These represent parts of a single `Reply` message in the final `AssistAnswer` resource.",
          "readOnly": true,
          "type": "string"
        },
        "groundedContent": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContent",
          "description": "Possibly grounded response text or media from the assistant."
        }
      },
      "type": "object",
      "description": "One part of the multi-part response of the assist call."
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservationSearchResult": {
      "properties": {
        "title": {
          "description": "Title.",
          "type": "string"
        },
        "snippetInfo": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservationSearchResultSnippetInfo"
          },
          "description": "If citation_type is DOCUMENT_LEVEL_CITATION, populate document level snippets.",
          "type": "array"
        },
        "structData": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Data representation. The structured JSON data for the document. It's populated from the struct data from the Document, or the Chunk in search result.",
          "type": "object"
        },
        "chunkInfo": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservationSearchResultChunkInfo"
          },
          "description": "If citation_type is CHUNK_LEVEL_CITATION and chunk mode is on, populate chunk info.",
          "type": "array"
        },
        "uri": {
          "description": "URI for the document.",
          "type": "string"
        },
        "document": {
          "type": "string",
          "description": "Document resource name."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservationSearchResult"
    },
    "GoogleCloudDiscoveryengineV1alphaPurgeErrorConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaPurgeErrorConfig",
      "type": "object",
      "properties": {
        "gcsPrefix": {
          "description": "Cloud Storage prefix for purge errors. This must be an empty, existing Cloud Storage directory. Purge errors are written to sharded files in this directory, one per line, as a JSON-encoded `google.rpc.Status` message.",
          "type": "string"
        }
      },
      "description": "Configuration of destination for Purge related errors."
    },
    "GoogleCloudDiscoveryengineV1alphaRemoveDedicatedCrawlRateRequest": {
      "properties": {
        "crawlRateScope": {
          "description": "Required. The scope of the crawl rate change. Currently, only domain and host name are supported. A domain name example: `example.com`. A host name example: `www.example.com`. Please do not include `/` in the domain or host name.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaRemoveDedicatedCrawlRateRequest",
      "description": "Request message for CrawlRateManagementService.RemoveDedicatedCrawlRate method. The user can remove the dedicated crawl rate for a crawl_rate_scope they own, and Google will fall back to organic crawl, and the crawl rate will be determined by Google."
    },
    "GoogleCloudDiscoveryengineV1alphaIdpConfigExternalIdpConfig": {
      "description": "Third party IDP Config.",
      "id": "GoogleCloudDiscoveryengineV1alphaIdpConfigExternalIdpConfig",
      "type": "object",
      "properties": {
        "workforcePoolName": {
          "description": "Workforce pool name. Example: \"locations/global/workforcePools/pool_id\"",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaObservabilityConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaObservabilityConfig",
      "properties": {
        "observabilityEnabled": {
          "description": "Optional. Enables observability. If `false`, all other flags are ignored.",
          "type": "boolean"
        },
        "sensitiveLoggingEnabled": {
          "type": "boolean",
          "description": "Optional. Enables sensitive logging. Sensitive logging includes customer core content (e.g. prompts, responses). If `false`, will sanitize all sensitive fields."
        }
      },
      "description": "Observability config for a resource."
    },
    "GoogleCloudDiscoveryengineV1CliConfig": {
      "description": "The configuration for the CLI execution based connectors.",
      "type": "object",
      "properties": {
        "enabledActions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The actions enabled on the associated CLI connection."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1CliConfig"
    },
    "GoogleCloudDiscoveryengineV1betaLanguageInfo": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaLanguageInfo",
      "description": "Language info for DataStore.",
      "properties": {
        "language": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Language part of normalized_language_code. E.g.: `en-US` -> `en`, `zh-Hans-HK` -> `zh`, `en` -> `en`."
        },
        "normalizedLanguageCode": {
          "description": "Output only. This is the normalized form of language_code. E.g.: language_code of `en-GB`, `en_GB`, `en-UK` or `en-gb` will have normalized_language_code of `en-GB`.",
          "type": "string",
          "readOnly": true
        },
        "region": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Region part of normalized_language_code, if present. E.g.: `en-US` -> `US`, `zh-Hans-HK` -> `HK`, `en` -> ``."
        },
        "languageCode": {
          "type": "string",
          "description": "The language code for the DataStore."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaEnableAdvancedSiteSearchResponse": {
      "properties": {},
      "id": "GoogleCloudDiscoveryengineV1alphaEnableAdvancedSiteSearchResponse",
      "type": "object",
      "description": "Response message for SiteSearchEngineService.EnableAdvancedSiteSearch method."
    },
    "GoogleCloudNotebooklmV1alphaFailureReasonGoogleDriveErrorDownloadPrevented": {
      "properties": {},
      "description": "The user was prevented from downloading the file.",
      "type": "object",
      "id": "GoogleCloudNotebooklmV1alphaFailureReasonGoogleDriveErrorDownloadPrevented"
    },
    "GoogleCloudDiscoveryengineV1alphaPurgeCompletionSuggestionsRequest": {
      "description": "Request message for CompletionService.PurgeCompletionSuggestions method.",
      "id": "GoogleCloudDiscoveryengineV1alphaPurgeCompletionSuggestionsRequest",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDiscoveryengineV1alphaImportSuggestionDenyListEntriesResponse": {
      "properties": {
        "importedEntriesCount": {
          "type": "string",
          "description": "Count of deny list entries successfully imported.",
          "format": "int64"
        },
        "errorSamples": {
          "type": "array",
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "failedEntriesCount": {
          "format": "int64",
          "description": "Count of deny list entries that failed to be imported.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaImportSuggestionDenyListEntriesResponse",
      "description": "Response message for CompletionService.ImportSuggestionDenyListEntries method.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestSessionSpec": {
      "description": "Session specification.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestSessionSpec",
      "properties": {
        "searchResultPersistenceCount": {
          "type": "integer",
          "description": "The number of top search results to persist. The persisted search results can be used for the subsequent /answer api call. This field is similar to the `summary_result_count` field in SearchRequest.ContentSearchSpec.SummarySpec.summary_result_count. At most 10 results for documents mode, or 50 for chunks mode.",
          "format": "int32"
        },
        "queryId": {
          "description": "If set, the search result gets stored to the \"turn\" specified by this query ID. Example: Let's say the session looks like this: session { name: \".../sessions/xxx\" turns { query { text: \"What is foo?\" query_id: \".../questions/yyy\" } answer: \"Foo is ...\" } turns { query { text: \"How about bar then?\" query_id: \".../questions/zzz\" } } } The user can call /search API with a request like this: session: \".../sessions/xxx\" session_spec { query_id: \".../questions/zzz\" } Then, the API stores the search result, associated with the last turn. The stored search result can be used by a subsequent /answer API call (with the session ID and the query ID specified). Also, it is possible to call /search and /answer in parallel with the same session ID & query ID.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseSummarySummaryWithMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummarySummaryWithMetadata",
      "properties": {
        "summary": {
          "type": "string",
          "description": "Summary text with no citation information."
        },
        "references": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummaryReference"
          },
          "type": "array",
          "description": "Document References."
        },
        "blobAttachments": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummaryBlobAttachment"
          },
          "type": "array",
          "description": "Output only. Store multimodal data for answer enhancement."
        },
        "citationMetadata": {
          "description": "Citation metadata for given summary.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummaryCitationMetadata"
        }
      },
      "description": "Summary with metadata information."
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestSearchSpecSearchResultListSearchResultChunkInfo": {
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestSearchSpecSearchResultListSearchResultChunkInfo",
      "properties": {
        "chunk": {
          "description": "Chunk resource name.",
          "type": "string"
        },
        "content": {
          "type": "string",
          "description": "Chunk textual content."
        },
        "documentMetadata": {
          "description": "Metadata of the document from the current chunk.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestSearchSpecSearchResultListSearchResultChunkInfoDocumentMetadata"
        }
      },
      "description": "Chunk information.",
      "type": "object"
    },
    "GoogleMonitoringV3Point": {
      "properties": {
        "interval": {
          "$ref": "GoogleMonitoringV3TimeInterval",
[...]
