{
  "baseUrl": "https://discoveryengine.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "servicePath": "",
  "rootUrl": "https://discoveryengine.googleapis.com/",
  "ownerDomain": "google.com",
  "parameters": {
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "revision": "20260831",
  "id": "discoveryengine:v1alpha",
  "schemas": {
    "GoogleCloudDiscoveryengineV1alphaGetSessionRequest": {
      "description": "Request for GetSession method.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaGetSessionRequest",
      "properties": {
        "name": {
          "description": "Required. The resource name of the Session to get. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store_id}/sessions/{session_id}`",
          "type": "string"
        },
        "includeAnswerDetails": {
          "description": "Optional. If set to true, the full session including all answer details will be returned.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestFacetSpecFacetKey": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestFacetSpecFacetKey",
      "description": "Specifies how a facet is computed.",
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "Required. Supported textual and numerical facet keys in Document object, over which the facet values are computed. Facet key is case-sensitive."
        },
        "prefixes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Only get facet values that start with the given string prefix. For example, suppose \"category\" has three values \"Action > 2022\", \"Action > 2021\" and \"Sci-Fi > 2022\". If set \"prefixes\" to \"Action\", the \"category\" facet only contains \"Action > 2022\" and \"Action > 2021\". Only supported on textual fields. Maximum is 10."
        },
        "caseInsensitive": {
          "description": "True to make facet keys case insensitive when getting faceting values with prefixes or contains; false otherwise.",
          "type": "boolean"
        },
        "orderBy": {
          "type": "string",
          "description": "The order in which documents are returned. Allowed values are: * \"count desc\", which means order by SearchResponse.Facet.values.count descending. * \"value desc\", which means order by SearchResponse.Facet.values.value descending. Only applies to textual facets. If not set, textual values are sorted in [natural order](https://en.wikipedia.org/wiki/Natural_sort_order); numerical intervals are sorted in the order given by FacetSpec.FacetKey.intervals."
        },
        "restrictedValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Only get facet for the given restricted values. Only supported on textual fields. For example, suppose \"category\" has three values \"Action > 2022\", \"Action > 2021\" and \"Sci-Fi > 2022\". If set \"restricted_values\" to \"Action > 2022\", the \"category\" facet only contains \"Action > 2022\". Only supported on textual fields. Maximum is 10."
        },
        "contains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Only get facet values that contain the given strings. For example, suppose \"category\" has three values \"Action > 2022\", \"Action > 2021\" and \"Sci-Fi > 2022\". If set \"contains\" to \"2022\", the \"category\" facet only contains \"Action > 2022\" and \"Sci-Fi > 2022\". Only supported on textual fields. Maximum is 10."
        },
        "intervals": {
          "description": "Set only if values should be bucketed into intervals. Must be set for facets with numerical values. Must not be set for facet with text values. Maximum number of intervals is 30.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaInterval"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1ImportErrorConfig": {
      "properties": {
        "gcsPrefix": {
          "description": "Cloud Storage prefix for import errors. This must be an empty, existing Cloud Storage directory. Import errors are written to sharded files in this directory, one per line, as a JSON-encoded `google.rpc.Status` message.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Configuration of destination for Import related errors.",
      "id": "GoogleCloudDiscoveryengineV1ImportErrorConfig"
    },
    "GoogleCloudDiscoveryengineV1alphaImportDocumentsRequest": {
      "description": "Request message for Import methods.",
      "type": "object",
      "properties": {
        "bigtableSource": {
          "description": "Cloud Bigtable input source.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaBigtableSource"
        },
        "reconciliationMode": {
          "type": "string",
          "enum": [
            "RECONCILIATION_MODE_UNSPECIFIED",
            "INCREMENTAL",
            "FULL"
          ],
          "description": "The mode of reconciliation between existing documents and the documents to be imported. Defaults to ReconciliationMode.INCREMENTAL.",
          "enumDescriptions": [
            "Defaults to `INCREMENTAL`.",
            "Inserts new documents or updates existing documents.",
            "Calculates diff and replaces the entire document dataset. Existing documents may be deleted if they are not present in the source location. When using this mode, there won't be any downtime on the dataset targeted. Any document that should remain unchanged or that should be updated will continue serving while the operation is running."
          ]
        },
        "updateMask": {
          "type": "string",
          "description": "Indicates which fields in the provided imported documents to update. If not set, the default is to update all fields.",
          "format": "google-fieldmask"
        },
        "idField": {
          "type": "string",
          "description": "The field indicates the ID field or column to be used as unique IDs of the documents. For GcsSource it is the key of the JSON field. For instance, `my_id` for JSON `{\"my_id\": \"some_uuid\"}`. For others, it may be the column name of the table where the unique ids are stored. The values of the JSON field or the table column are used as the Document.ids. The JSON field or the table column must be of string type, and the values must be set as valid strings conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) with 1-63 characters. Otherwise, documents without valid IDs fail to be imported. Only set this field when auto_generate_ids is unset or set as `false`. Otherwise, an INVALID_ARGUMENT error is thrown. If it is unset, a default value `_id` is used when importing from the allowed data sources. Supported data sources: * GcsSource. GcsSource.data_schema must be `custom` or `csv`. Otherwise, an INVALID_ARGUMENT error is thrown. * BigQuerySource. BigQuerySource.data_schema must be `custom` or `csv`. Otherwise, an INVALID_ARGUMENT error is thrown. * SpannerSource. * CloudSqlSource. * BigtableSource."
        },
        "cloudSqlSource": {
          "description": "Cloud SQL input source.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaCloudSqlSource"
        },
        "spannerSource": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSpannerSource",
          "description": "Spanner input source."
        },
        "bigquerySource": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaBigQuerySource",
          "description": "BigQuery input source."
        },
        "autoGenerateIds": {
          "type": "boolean",
          "description": "Whether to automatically generate IDs for the documents if absent. If set to `true`, Document.ids are automatically generated based on the hash of the payload, where IDs may not be consistent during multiple imports. In which case ReconciliationMode.FULL is highly recommended to avoid duplicate contents. If unset or set to `false`, Document.ids have to be specified using id_field, otherwise, documents without IDs fail to be imported. Supported data sources: * GcsSource. GcsSource.data_schema must be `custom` or `csv`. Otherwise, an INVALID_ARGUMENT error is thrown. * BigQuerySource. BigQuerySource.data_schema must be `custom` or `csv`. Otherwise, an INVALID_ARGUMENT error is thrown. * SpannerSource. * CloudSqlSource. * FirestoreSource. * BigtableSource."
        },
        "inlineSource": {
          "description": "The Inline source for the input content for documents.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaImportDocumentsRequestInlineSource"
        },
        "gcsSource": {
          "description": "Cloud Storage location for the input content.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaGcsSource"
        },
        "alloyDbSource": {
          "description": "AlloyDB input source.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAlloyDbSource"
        },
        "errorConfig": {
          "description": "The desired location of errors incurred during the Import.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaImportErrorConfig"
        },
        "fhirStoreSource": {
          "description": "FhirStore input source.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaFhirStoreSource"
        },
        "forceRefreshContent": {
          "type": "boolean",
          "description": "Optional. Whether to force refresh the unstructured content of the documents. If set to `true`, the content part of the documents will be refreshed regardless of the update status of the referencing content."
        },
        "firestoreSource": {
          "description": "Firestore input source.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaFirestoreSource"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaImportDocumentsRequest"
    },
    "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContentTextGroundingMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContentTextGroundingMetadata",
      "description": "Grounding details for text sources.",
      "type": "object",
      "properties": {
        "references": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContentTextGroundingMetadataReference"
          },
          "type": "array",
          "description": "References for the grounded text."
        },
        "segments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContentTextGroundingMetadataSegment"
          },
          "description": "Grounding information for parts of the text."
        },
        "visualSegments": {
          "description": "Grounding information for parts of the visual content.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContentTextGroundingMetadataVisualSegment"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaListBranchesResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaListBranchesResponse",
      "type": "object",
      "description": "Response for BranchService.ListBranches method.",
      "properties": {
        "branches": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaBranch"
          },
          "description": "The Branches."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSiteSearchEngine": {
      "description": "SiteSearchEngine captures DataStore level site search persisting configurations. It is a singleton value per data store.",
      "id": "GoogleCloudDiscoveryengineV1alphaSiteSearchEngine",
      "properties": {
        "name": {
          "type": "string",
          "description": "The fully qualified resource name of the site search engine. Format: `projects/*/locations/*/dataStores/*/siteSearchEngine`"
        }
      },
      "type": "object"
    },
    "GoogleCloudNotebooklmV1alphaFailureReasonPaywallError": {
      "type": "object",
      "properties": {},
      "description": "Indicates that the source is paywalled and cannot be ingested.",
      "id": "GoogleCloudNotebooklmV1alphaFailureReasonPaywallError"
    },
    "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfig": {
      "id": "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfig",
      "type": "object",
      "properties": {
        "notebooklmConfig": {
          "description": "Optional. Configuration for NotebookLM settings.",
          "$ref": "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfigNotebooklmConfig"
        }
      },
      "description": "Customer provided configurations."
    },
    "GoogleCloudDiscoveryengineV1alphaCustomFineTuningSpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaCustomFineTuningSpec",
      "type": "object",
      "description": "Defines custom fine tuning spec.",
      "properties": {
        "enableSearchAdaptor": {
          "description": "Whether or not to enable and include custom fine tuned search adaptor model.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSummarySpecModelSpec": {
      "properties": {
        "version": {
          "description": "The model version used to generate the summary. Supported values are: * `stable`: string. Default value when no value is specified. Uses a generally available, fine-tuned model. For more information, see [Answer generation model versions and lifecycle](https://cloud.google.com/generative-ai-app-builder/docs/answer-generation-models). * `preview`: string. (Public preview) Uses a preview model. For more information, see [Answer generation model versions and lifecycle](https://cloud.google.com/generative-ai-app-builder/docs/answer-generation-models).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Specification of the model.",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSummarySpecModelSpec"
    },
    "GoogleCloudDiscoveryengineV1alphaDocumentInfo": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaDocumentInfo",
      "properties": {
        "name": {
          "description": "The Document resource full name, of the form: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}/branches/{branch_id}/documents/{document_id}`",
          "type": "string"
        },
        "joined": {
          "readOnly": true,
          "description": "Output only. Whether the referenced Document can be found in the data store.",
          "type": "boolean"
        },
        "uri": {
          "type": "string",
          "description": "The Document URI - only allowed for website data stores."
        },
        "id": {
          "description": "The Document resource ID.",
          "type": "string"
        },
        "promotionIds": {
          "description": "The promotion IDs associated with this Document. Currently, this field is restricted to at most one ID.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "conversionValue": {
          "description": "Optional. The conversion value associated with this Document. Must be set if UserEvent.event_type is \"conversion\". For example, a value of 1000 signifies that 1000 seconds were spent viewing a Document for the `watch` conversion type.",
          "format": "float",
          "type": "number"
        },
        "quantity": {
          "description": "Quantity of the Document associated with the user event. Defaults to 1. For example, this field is 2 if two quantities of the same Document are involved in a `add-to-cart` event. Required for events of the following event types: * `add-to-cart` * `purchase`",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Detailed document information associated with a user event."
    },
    "GoogleCloudDiscoveryengineV1alphaQuery": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaQuery",
      "properties": {
        "parts": {
          "type": "array",
          "description": "Query content parts.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaQueryPart"
          }
        },
        "queryId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Unique Id for the query."
        },
        "text": {
          "type": "string",
          "description": "Plain text."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which the server accepted this query.",
          "type": "string"
        }
      },
      "description": "Defines a user inputed query."
    },
    "GoogleCloudNotebooklmV1alphaUserContent": {
      "description": "The \"Content\" messages refer to data the user wants to upload.",
      "type": "object",
      "properties": {
        "agentspaceContent": {
          "description": "Agentspace content uploaded as source.",
          "$ref": "GoogleCloudNotebooklmV1alphaUserContentAgentspaceContent"
        },
        "webContent": {
          "$ref": "GoogleCloudNotebooklmV1alphaUserContentWebContent",
          "description": "The web content uploaded as source."
        },
        "textContent": {
          "description": "The text content uploaded as source.",
          "$ref": "GoogleCloudNotebooklmV1alphaUserContentTextContent"
        },
        "videoContent": {
          "$ref": "GoogleCloudNotebooklmV1alphaUserContentVideoContent",
          "description": "The video content uploaded as source."
        },
        "googleDriveContent": {
          "$ref": "GoogleCloudNotebooklmV1alphaUserContentGoogleDriveContent",
          "description": "The content from Google Drive."
        }
      },
      "id": "GoogleCloudNotebooklmV1alphaUserContent"
    },
    "GoogleCloudNotebooklmV1alphaSourceMetadata": {
      "properties": {
        "wordCount": {
          "type": "integer",
          "format": "int32",
          "description": "The word count of the source."
        },
        "googleDocsMetadata": {
          "description": "Metadata for a google doc source.",
          "$ref": "GoogleCloudNotebooklmV1alphaGoogleDocsSourceMetadata"
        },
        "sourceAddedTimestamp": {
          "type": "string",
          "description": "The timestamp the source was added.",
          "format": "google-datetime"
        },
        "agentspaceMetadata": {
          "description": "Metadata for an agentspace source.",
          "$ref": "GoogleCloudNotebooklmV1alphaAgentspaceMetadata"
        },
        "tokenCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of tokens in the source."
        },
        "youtubeMetadata": {
          "description": "Metadata for a youtube video source.",
          "$ref": "GoogleCloudNotebooklmV1alphaYoutubeMetadata"
        }
      },
      "id": "GoogleCloudNotebooklmV1alphaSourceMetadata",
      "description": "Represents the metadata of a source and some additional information.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaUpdateSchemaMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaUpdateSchemaMetadata",
      "description": "Metadata for UpdateSchema LRO.",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleIamV1Binding": {
      "properties": {
        "members": {
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "GoogleTypeExpr"
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        }
      },
      "id": "GoogleIamV1Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaCheckGroundingRequest": {
      "properties": {
        "answerCandidate": {
          "type": "string",
          "description": "Answer candidate to check. It can have a maximum length of 4096 tokens."
        },
        "facts": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaGroundingFact"
          },
          "type": "array",
          "description": "List of facts for the grounding check. We support up to 200 facts."
        },
        "userLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The user labels applied to a resource must meet the following requirements: * Each resource can have multiple labels, up to a maximum of 64. * Each label must be a key-value pair. * Keys have a minimum length of 1 character and a maximum length of 63 characters and cannot be empty. Values can be empty and have a maximum length of 63 characters. * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. All characters must use UTF-8 encoding, and international characters are allowed. * The key portion of a label must be unique. However, you can use the same key with multiple resources. * Keys must start with a lowercase letter or international character. See [Google Cloud Document](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements) for more details.",
          "type": "object"
        },
        "groundingSpec": {
          "description": "Configuration of the grounding check.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaCheckGroundingSpec"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaCheckGroundingRequest",
      "description": "Request message for GroundedGenerationService.CheckGrounding method."
    },
    "GoogleCloudDiscoveryengineV1alphaReplyReference": {
      "type": "object",
      "description": "Defines reference in reply.",
      "properties": {
        "start": {
          "description": "Anchor text start index.",
          "format": "int32",
          "type": "integer"
        },
        "uri": {
          "description": "URI link reference.",
          "type": "string"
        },
        "anchorText": {
          "description": "Anchor text.",
          "type": "string"
        },
        "end": {
          "description": "Anchor text end index.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaReplyReference",
      "deprecated": true
    },
    "GoogleCloudDiscoveryengineV1alphaMcpError": {
      "properties": {
        "code": {
          "type": "integer",
          "description": "Numeric error code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "Short, human-readable description of the error."
        },
        "data": {
          "description": "Optional structured data with additional error context.",
          "type": "any"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaMcpError",
      "description": "McpError represents error details when an MCP call fails. This structure follows the JSON-RPC 2.0 error object shape."
    },
    "GoogleCloudDiscoveryengineV1alphaAssistantToolList": {
      "type": "object",
      "description": "The enabled tools on a connector",
      "id": "GoogleCloudDiscoveryengineV1alphaAssistantToolList",
      "properties": {
        "toolInfo": {
          "type": "array",
          "description": "The list of tools with corresponding tool information.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantToolInfo"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaStreamAssistRequestActionSpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaStreamAssistRequestActionSpec",
      "type": "object",
      "description": "Specification of actions for the request.",
      "properties": {
        "actionDisabled": {
          "type": "boolean",
          "description": "Optional. If true, actions will not be served for the request. This only works for enterprise edition."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperimentConfigEvolutionSettingsParentSamplingConfig": {
      "type": "object",
      "description": "Configuration for parent sampling.",
      "properties": {
        "paretoSamplingConfig": {
          "description": "Optional. Pareto sampling configuration.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperimentConfigEvolutionSettingsParentSamplingConfigParetoSamplingConfig"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperimentConfigEvolutionSettingsParentSamplingConfig"
    },
    "GoogleCloudDiscoveryengineV1betaControlBoostActionInterpolationBoostSpecControlPoint": {
      "properties": {
        "attributeValue": {
          "type": "string",
          "description": "Optional. Can be one of: 1. The numerical field value. 2. The duration spec for freshness: The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`."
        },
        "boostAmount": {
          "format": "float",
          "type": "number",
          "description": "Optional. The value between -1 to 1 by which to boost the score if the attribute_value evaluates to the value specified above."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaControlBoostActionInterpolationBoostSpecControlPoint",
      "description": "The control points used to define the curve. The curve defined through these control points can only be monotonically increasing or decreasing(constant values are acceptable).",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaExternalIdentity": {
      "type": "object",
      "description": "External identity representing either a user or group. This user or group is from an external identity provider (IdP).",
      "id": "GoogleCloudDiscoveryengineV1alphaExternalIdentity",
      "properties": {
        "subject": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Represents the canonical IAM subject identifier (for users) or group identifier (for groups), derived from the workforce-pool claim mapping. Falls back to custom logic if not set. This must be used for IAM bindings."
        },
        "groupMetadata": {
          "description": "Metadata corresponding to the external user.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaExternalIdentityGroupMetadata"
        },
        "externalId": {
          "type": "string",
          "description": "The unique 3P ID(external_id) of the entity (user or group)."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the user or group."
        },
        "userMetadata": {
          "description": "Metadata corresponding to the external user.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaExternalIdentityUserMetadata"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1BatchUpdateUserLicensesResponse": {
      "properties": {
        "userLicenses": {
          "type": "array",
          "description": "UserLicenses successfully updated.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1UserLicense"
          }
        },
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "A sample of errors encountered while processing the request."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1BatchUpdateUserLicensesResponse",
      "description": "Response message for UserLicenseService.BatchUpdateUserLicenses method."
    },
    "GoogleCloudDiscoveryengineV1alphaStreamAssistRequestToolsSpecVideoGenerationSpec": {
      "properties": {},
      "type": "object",
      "description": "Specification of the video generation tool.",
      "id": "GoogleCloudDiscoveryengineV1alphaStreamAssistRequestToolsSpecVideoGenerationSpec"
    },
    "GoogleCloudDiscoveryengineV1alphaProject": {
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when this project is created.",
          "type": "string"
        },
        "provisionCompletionTime": {
          "description": "Output only. The timestamp when this project is successfully provisioned. Empty value means this project is still provisioning and is not ready for use.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "serviceTermsMap": {
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaProjectServiceTerms"
          },
          "description": "Output only. A map of terms of services. The key is the `id` of ServiceTerms.",
          "type": "object",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Full resource name of the project, for example `projects/{project}`. Note that when making requests, project number and project id are both acceptable, but the server will always respond in project number."
        },
        "configurableBillingStatus": {
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1alphaProjectConfigurableBillingStatus",
          "description": "Output only. The current status of the project's configurable billing."
        },
        "customerProvidedConfig": {
          "description": "Optional. Customer provided configurations.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfig"
        }
      },
      "description": "Metadata and configurations for a Google Cloud project in the service.",
      "id": "GoogleCloudDiscoveryengineV1alphaProject"
    },
    "GoogleCloudDiscoveryengineV1alphaPurgeCompletionSuggestionsMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Metadata related to the progress of the PurgeCompletionSuggestions operation. This is returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1alphaPurgeCompletionSuggestionsMetadata"
    },
    "GoogleCloudNotebooklmV1alphaFailureReasonIngestionError": {
      "type": "object",
      "description": "Indicates an error occurred while ingesting the source.",
      "properties": {},
      "id": "GoogleCloudNotebooklmV1alphaFailureReasonIngestionError"
    },
    "GoogleCloudDiscoveryengineV1DeleteDataStoreMetadata": {
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Metadata related to the progress of the DataStoreService.DeleteDataStore operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1DeleteDataStoreMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaAdvancedCompleteQueryRequestBoostSpecConditionBoostSpec": {
      "type": "object",
      "description": "Boost applies to suggestions which match a condition.",
      "id": "GoogleCloudDiscoveryengineV1alphaAdvancedCompleteQueryRequestBoostSpecConditionBoostSpec",
      "properties": {
        "condition": {
          "description": "An expression which specifies a boost condition. The syntax is the same as [filter expression syntax](https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata#filter-expression-syntax). Currently, the only supported condition is a list of BCP-47 lang codes. Example: * To boost suggestions in languages `en` or `fr`: `(lang_code: ANY(\"en\", \"fr\"))`",
          "type": "string"
        },
        "boost": {
          "format": "float",
          "type": "number",
          "description": "Strength of the boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0. Setting to 1.0 gives the suggestions a big promotion. However, it does not necessarily mean that the top result will be a boosted suggestion. Setting to -1.0 gives the suggestions a big demotion. However, other suggestions that are relevant might still be shown. Setting to 0.0 means no boost applied. The boosting condition is ignored."
        }
      }
    },
    "GoogleMonitoringV3Point": {
      "description": "A single data point in a time series.",
      "properties": {
        "value": {
          "$ref": "GoogleMonitoringV3TypedValue",
          "description": "The value of the data point."
        },
        "interval": {
          "description": "The time interval to which the data point applies. For `GAUGE` metrics, the start time is optional, but if it is supplied, it must equal the end time. For `DELTA` metrics, the start and end time should specify a non-zero interval, with subsequent points specifying contiguous and non-overlapping intervals. For `CUMULATIVE` metrics, the start and end time should specify a non-zero interval, with subsequent points specifying the same start time and increasing end times, until an event resets the cumulative value to zero and sets a new start time for the following points.",
          "$ref": "GoogleMonitoringV3TimeInterval"
        }
      },
      "id": "GoogleMonitoringV3Point",
      "type": "object"
    },
    "GoogleCloudNotebooklmV1alphaCmekConfig": {
      "type": "object",
      "description": "Customer-managed encryption configuration for Notebooks.",
      "id": "GoogleCloudNotebooklmV1alphaCmekConfig",
      "properties": {
        "kmsKey": {
          "description": "Required. KMS key resource name which will be used to encrypt resources `projects/{project}/locations/{location}/keyRings/{keyRing}/cryptoKeys/{keyId}`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaImportDocumentsRequestInlineSource": {
      "properties": {
        "documents": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaDocument"
          },
          "description": "Required. A list of documents to update/create. Each document must have a valid Document.id. Recommended max of 100 items.",
          "type": "array"
        }
      },
      "description": "The inline source for the input config for ImportDocuments method.",
      "id": "GoogleCloudDiscoveryengineV1alphaImportDocumentsRequestInlineSource",
      "type": "object"
    },
    "GoogleCloudNotebooklmV1alphaBatchCreateSourcesRequest": {
      "description": "Request for SourceService.BatchCreateSources method.",
      "type": "object",
      "properties": {
        "userContents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudNotebooklmV1alphaUserContent"
          },
          "description": "Required. The UserContents to be uploaded."
        }
      },
      "id": "GoogleCloudNotebooklmV1alphaBatchCreateSourcesRequest"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoExtractiveSegment": {
      "properties": {
        "pageIdentifier": {
          "description": "Page identifier.",
          "type": "string"
        },
        "content": {
          "description": "Extractive segment content.",
          "type": "string"
        }
      },
      "description": "Extractive segment. [Guide](https://cloud.google.com/generative-ai-app-builder/docs/snippets#extractive-segments) Answer generation will only use it if document_contexts is empty. This is supposed to be shorter snippets.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoExtractiveSegment"
    },
    "GoogleCloudDiscoveryengineV1alphaResumeExperimentMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaResumeExperimentMetadata",
      "description": "Metadata for AlphaEvolveService.ResumeExperiment long running operation.",
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created."
        },
        "updateTime": {
          "description": "Output only. The time the operation was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSingleRegionKey": {
      "properties": {
        "kmsKey": {
          "description": "Required. Single-regional kms key resource name which will be used to encrypt resources `projects/{project}/locations/{location}/keyRings/{keyRing}/cryptoKeys/{keyId}`.",
          "type": "string"
        }
      },
      "description": "Metadata for single-regional CMEKs.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaSingleRegionKey"
    },
    "GoogleCloudDiscoveryengineV1alphaQualityMetrics": {
      "properties": {
        "pageNdcg": {
          "description": "Normalized discounted cumulative gain (NDCG) per page, at various top-k cutoff levels. NDCG measures the ranking quality, giving higher relevance to top results. Example (top-3): Suppose SampleQuery with three retrieved pages (P1, P2, P3) and binary relevance judgements (1 for relevant, 0 for not relevant): Retrieved: [P3 (0), P1 (1), P2 (1)] Ideal: [P1 (1), P2 (1), P3 (0)] Calculate NDCG@3 for SampleQuery: * DCG@3: 0/log2(1+1) + 1/log2(2+1) + 1/log2(3+1) = 1.13 * Ideal DCG@3: 1/log2(1+1) + 1/log2(2+1) + 0/log2(3+1) = 1.63 * NDCG@3: 1.13/1.63 = 0.693",
          "$ref": "GoogleCloudDiscoveryengineV1alphaQualityMetricsTopkMetrics"
        },
        "docPrecision": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaQualityMetricsTopkMetrics",
          "description": "Precision per document, at various top-k cutoff levels. Precision is the fraction of retrieved documents that are relevant. Example (top-5): * For a single SampleQuery, If 4 out of 5 retrieved documents in the top-5 are relevant, precision@5 = 4/5 = 0.8"
        },
        "docRecall": {
          "description": "Recall per document, at various top-k cutoff levels. Recall is the fraction of relevant documents retrieved out of all relevant documents. Example (top-5): * For a single SampleQuery, If 3 out of 5 relevant documents are retrieved in the top-5, recall@5 = 3/5 = 0.6",
          "$ref": "GoogleCloudDiscoveryengineV1alphaQualityMetricsTopkMetrics"
        },
        "pageRecall": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaQualityMetricsTopkMetrics",
          "description": "Recall per page, at various top-k cutoff levels. Recall is the fraction of relevant pages retrieved out of all relevant pages. Example (top-5): * For a single SampleQuery, if 3 out of 5 relevant pages are retrieved in the top-5, recall@5 = 3/5 = 0.6"
        },
        "docNdcg": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaQualityMetricsTopkMetrics",
          "description": "Normalized discounted cumulative gain (NDCG) per document, at various top-k cutoff levels. NDCG measures the ranking quality, giving higher relevance to top results. Example (top-3): Suppose SampleQuery with three retrieved documents (D1, D2, D3) and binary relevance judgements (1 for relevant, 0 for not relevant): Retrieved: [D3 (0), D1 (1), D2 (1)] Ideal: [D1 (1), D2 (1), D3 (0)] Calculate NDCG@3 for each SampleQuery: * DCG@3: 0/log2(1+1) + 1/log2(2+1) + 1/log2(3+1) = 1.13 * Ideal DCG@3: 1/log2(1+1) + 1/log2(2+1) + 0/log2(3+1) = 1.63 * NDCG@3: 1.13/1.63 = 0.693"
        }
      },
      "type": "object",
      "description": "Describes the metrics produced by the evaluation.",
      "id": "GoogleCloudDiscoveryengineV1alphaQualityMetrics"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestAnswerGenerationSpecMultimodalSpec": {
      "description": "Multimodal specification: Will return an image from specified source. If multiple sources are specified, the pick is a quality based decision.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestAnswerGenerationSpecMultimodalSpec",
      "properties": {
        "imageSource": {
          "description": "Optional. Source of image returned in the answer.",
          "enum": [
            "IMAGE_SOURCE_UNSPECIFIED",
            "ALL_AVAILABLE_SOURCES",
            "CORPUS_IMAGE_ONLY",
            "FIGURE_GENERATION_ONLY"
          ],
          "enumDescriptions": [
            "Unspecified image source (multimodal feature is disabled by default).",
            "Behavior when service determines the pick from all available sources.",
            "Includes image from corpus in the answer.",
            "Triggers figure generation in the answer."
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudNotebooklmV1alphaFailureReasonYoutubeError": {
      "id": "GoogleCloudNotebooklmV1alphaFailureReasonYoutubeError",
      "description": "A youtube specific error.",
      "properties": {
        "videoDeleted": {
          "description": "Error to indicate that the source was removed because the video was deleted.",
          "$ref": "GoogleCloudNotebooklmV1alphaFailureReasonYoutubeErrorVideoDeleted"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaUpdateCmekConfigMetadata": {
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaUpdateCmekConfigMetadata",
      "description": "Metadata related to the progress of the CmekConfigService.UpdateCmekConfig operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpec": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpec",
      "description": "Boost applies to documents which match a condition.",
      "properties": {
        "boost": {
          "description": "Strength of the condition boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0. Setting to 1.0 gives the document a big promotion. However, it does not necessarily mean that the boosted document will be the top result at all times, nor that other documents will be excluded. Results could still be shown even when none of them matches the condition. And results that are significantly more relevant to the search query can still trump your heavily favored but irrelevant documents. Setting to -1.0 gives the document a big demotion. However, results that are deeply relevant might still be shown. The document will have an upstream battle to get a fairly high ranking, but it is not blocked out completely. Setting to 0.0 means no boost applied. The boosting condition is ignored. Only one of the (condition, boost) combination or the boost_control_spec below are set. If both are set then the global boost is ignored and the more fine-grained boost_control_spec is applied.",
          "type": "number",
          "format": "float"
        },
        "boostControlSpec": {
          "description": "Complex specification for custom ranking based on customer defined attribute value.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpecBoostControlSpec"
        },
        "condition": {
          "description": "An expression which specifies a boost condition. The syntax and supported fields are the same as a filter expression. See SearchRequest.filter for detail syntax and limitations. Examples: * To boost documents with document ID \"doc_1\" or \"doc_2\", and color \"Red\" or \"Blue\": `(document_id: ANY(\"doc_1\", \"doc_2\")) AND (color: ANY(\"Red\", \"Blue\"))`",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDataConnectorFederatedConfig": {
      "properties": {
        "additionalParams": {
          "type": "object",
          "description": "Optional. Any additional parameters needed for FEDERATED.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "jsonAuthParams": {
          "description": "Optional. Any authentication parameters specific to FEDERATED connectors in json string format.",
          "type": "string"
        },
        "authParams": {
          "type": "object",
          "description": "Optional. Any authentication parameters specific to FEDERATED connectors.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaDataConnectorFederatedConfig",
      "description": "Any params and credentials used specifically for hybrid connectors supporting FEDERATED mode.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaBAPConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaBAPConfig",
      "description": "The configuration for the BAP connector.",
      "type": "object",
      "properties": {
        "enabledActions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The actions enabled on the associated BAP connection."
        },
        "supportedConnectorModes": {
          "description": "Required. The supported connector modes for the associated BAP connection.",
          "type": "array",
          "items": {
            "enum": [
              "CONNECTOR_MODE_UNSPECIFIED",
              "DATA_INGESTION",
              "ACTIONS",
              "END_USER_AUTHENTICATION"
            ],
            "enumDescriptions": [
              "Connector mode unspecified.",
              "Connector utilized for data ingestion.",
              "Connector utilized for Actions",
              "Connector utilized for End User Authentication."
            ],
            "type": "string"
          }
        },
        "toolspecOverride": {
          "description": "Optional. Custom toolspec overrides for this connection. For Enterprise BAP connectors that support admin-curated tool definitions, this holds the (simplified) per-tool overrides. On Get, populated by the server by merging persisted overrides with live runtime tool definitions and trimming the result for UI consumption. On Update, the supplied value replaces the persisted overrides after server-side validation and merging: the `base_version` field MUST match the server's current base toolspec version (otherwise the request is rejected with a user-facing error directing the admin to re-download the latest tools first).",
          "$ref": "GoogleCloudDiscoveryengineV1alphaBAPConfigToolspecOverride"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaEvaluationEvaluationSpec": {
      "id": "GoogleCloudDiscoveryengineV1betaEvaluationEvaluationSpec",
      "type": "object",
      "properties": {
        "searchRequest": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequest",
          "description": "Required. The search request that is used to perform the evaluation. Only the following fields within SearchRequest are supported; if any other fields are provided, an UNSUPPORTED error will be returned: * SearchRequest.serving_config * SearchRequest.branch * SearchRequest.canonical_filter * SearchRequest.query_expansion_spec * SearchRequest.spell_correction_spec * SearchRequest.content_search_spec * SearchRequest.user_pseudo_id"
        },
        "querySetSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaEvaluationEvaluationSpecQuerySetSpec",
          "description": "Optional. The specification of the query set."
        }
      },
      "description": "Describes the specification of the evaluation."
    },
    "GoogleCloudDiscoveryengineV1alphaResumeEngineRequest": {
      "properties": {},
      "type": "object",
      "description": "Request for resuming training of an engine.",
      "id": "GoogleCloudDiscoveryengineV1alphaResumeEngineRequest"
    },
    "GoogleCloudDiscoveryengineV1CreateSitemapMetadata": {
      "description": "Metadata related to the progress of the SiteSearchEngineService.CreateSitemap operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1CreateSitemapMetadata",
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1DeleteSitemapMetadata": {
      "description": "Metadata related to the progress of the SiteSearchEngineService.DeleteSitemap operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1DeleteSitemapMetadata",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1ProvisionProjectMetadata": {
      "description": "Metadata associated with a project provision operation.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1ProvisionProjectMetadata",
      "properties": {}
    },
    "GoogleCloudDiscoveryengineV1betaDedicatedCrawlRateTimeSeries": {
      "description": "The historical dedicated crawl rate timeseries data, used for monitoring. Dedicated crawl is used by Vertex AI to crawl the user's website when dedicate crawl is set.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaDedicatedCrawlRateTimeSeries",
      "properties": {
        "userTriggeredCrawlRate": {
          "description": "Vertex AI's dedicated crawl rate time series of user triggered crawl, which is the crawl rate of Google-CloudVertexBot when dedicate crawl is set, and user triggered crawl rate is for deterministic use cases like crawling urls or sitemaps specified by users.",
          "$ref": "GoogleCloudDiscoveryengineV1betaCrawlRateTimeSeries"
        },
        "userTriggeredCrawlErrorRate": {
          "$ref": "GoogleCloudDiscoveryengineV1betaCrawlRateTimeSeries",
          "description": "Vertex AI's error rate time series of user triggered dedicated crawl."
        },
        "autoRefreshCrawlErrorRate": {
          "description": "Vertex AI's error rate time series of auto-refresh dedicated crawl.",
          "$ref": "GoogleCloudDiscoveryengineV1betaCrawlRateTimeSeries"
        },
        "autoRefreshCrawlRate": {
          "description": "Vertex AI's dedicated crawl rate time series of auto-refresh, which is the crawl rate of Google-CloudVertexBot when dedicate crawl is set, and the crawl rate is for best effort use cases like refreshing urls periodically.",
          "$ref": "GoogleCloudDiscoveryengineV1betaCrawlRateTimeSeries"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaImportUserEventsResponse": {
      "description": "Response of the ImportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "id": "GoogleCloudDiscoveryengineV1betaImportUserEventsResponse",
      "type": "object",
      "properties": {
        "errorConfig": {
          "description": "Echoes the destination for the complete errors if this field was set in the request.",
          "$ref": "GoogleCloudDiscoveryengineV1betaImportErrorConfig"
        },
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "joinedEventsCount": {
          "description": "Count of user events imported with complete existing Documents.",
          "format": "int64",
          "type": "string"
        },
        "unjoinedEventsCount": {
          "type": "string",
          "description": "Count of user events imported, but with Document information not found in the existing Branch.",
          "format": "int64"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDeleteAgentMetadata": {
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Metadata related to the progress of the AgentService.DeleteAgent operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteAgentMetadata"
    },
    "GoogleCloudDiscoveryengineV1LicenseConfig": {
      "properties": {
        "name": {
          "description": "Immutable. Identifier. The fully qualified resource name of the license config. Format: `projects/{project}/locations/{location}/licenseConfigs/{license_config}`",
          "type": "string"
        },
        "subscriptionTerm": {
          "type": "string",
          "description": "Required. Subscription term.",
          "enum": [
            "SUBSCRIPTION_TERM_UNSPECIFIED",
            "SUBSCRIPTION_TERM_ONE_MONTH",
            "SUBSCRIPTION_TERM_ONE_YEAR",
            "SUBSCRIPTION_TERM_THREE_YEARS",
            "SUBSCRIPTION_TERM_CUSTOM"
          ],
          "enumDescriptions": [
            "Default value, do not use.",
            "1 month.",
            "1 year.",
            "3 years.",
            "Custom term. Must set the end_date."
          ]
        },
        "geminiBundle": {
          "description": "Output only. Whether the license config is for Gemini bundle.",
          "type": "boolean",
          "readOnly": true
        },
        "autoRenew": {
          "type": "boolean",
          "description": "Optional. Whether the license config should be auto renewed when it reaches the end date."
        },
        "earlyTerminated": {
          "description": "Output only. Indication of whether the subscription is terminated earlier than the expiration date. This is usually terminated by pipeline once the subscription gets terminated from subsv3.",
          "readOnly": true,
          "type": "boolean"
        },
        "endDate": {
          "description": "Optional. The planed end date.",
          "$ref": "GoogleTypeDate"
        },
        "subscriptionTier": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Search tier. Search tier can access Vertex AI Search features and NotebookLM features.",
            "Gemini Enterprise Plus tier.",
            "NotebookLM tier. NotebookLM is a subscription tier can only access NotebookLM features.",
            "Gemini Frontline worker tier.",
            "Gemini Business Starter tier.",
            "Gemini Business tier.",
            "Gemini Enterprise Standard tier.",
            "Gemini Enterprise Standard tier for emerging markets.",
            "Gemini Enterprise EDU tier.",
            "Gemini Enterprise EDU Pro tier.",
            "Gemini Enterprise EDU tier for emerging market only.",
            "Gemini Enterprise EDU Pro tier for emerging market.",
            "Gemini Frontline Starter tier.",
            "Represents the Gemini Enterprise Consumption-only tier: $0 subscription billed purely on usage (PAYG).",
            "Gemini Enterprise EDU tier for government in emerging markets."
          ],
          "description": "Required. Subscription tier information for the license config.",
          "enum": [
            "SUBSCRIPTION_TIER_UNSPECIFIED",
            "SUBSCRIPTION_TIER_SEARCH",
            "SUBSCRIPTION_TIER_SEARCH_AND_ASSISTANT",
            "SUBSCRIPTION_TIER_NOTEBOOK_LM",
            "SUBSCRIPTION_TIER_FRONTLINE_WORKER",
            "SUBSCRIPTION_TIER_AGENTSPACE_STARTER",
            "SUBSCRIPTION_TIER_AGENTSPACE_BUSINESS",
            "SUBSCRIPTION_TIER_ENTERPRISE",
            "SUBSCRIPTION_TIER_ENTERPRISE_EMERGING",
            "SUBSCRIPTION_TIER_EDU",
            "SUBSCRIPTION_TIER_EDU_PRO",
            "SUBSCRIPTION_TIER_EDU_EMERGING",
            "SUBSCRIPTION_TIER_EDU_PRO_EMERGING",
            "SUBSCRIPTION_TIER_FRONTLINE_STARTER",
            "SUBSCRIPTION_TIER_CONSUMPTION_ONLY",
            "SUBSCRIPTION_TIER_EDU_GOV_EMERGING"
          ]
        },
        "freeTrial": {
          "type": "boolean",
          "description": "Optional. Whether the license config is for free trial."
        },
        "earlyTerminationDate": {
          "readOnly": true,
          "description": "Output only. The date when the subscription is terminated earlier than the expiration date.",
          "$ref": "GoogleTypeDate"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "EXPIRED",
            "NOT_STARTED",
            "WITHDRAWN",
            "DEACTIVATING"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. The license config does not exist.",
            "The license config is effective and being used.",
            "The license config has expired.",
            "The license config has not started yet, and its start date is in the future.",
            "This is when a sub license config has returned all its seats back to BillingAccountLicenseConfig that it belongs to. Similar to EXPIRED.",
            "The license config is terminated earlier than the expiration date and it is deactivating. The customer will still have access in this state. It will be converted to EXPIRED after the deactivating period ends (14 days) or when the end date is reached, whichever comes first."
          ],
          "description": "Output only. The state of the license config."
        },
        "lastUserUpdateTime": {
          "description": "Optional. Timestamp of the most recent user-initiated update (seat count change or subscription term change). Unlike `update_time`, this field is only stamped when a customer explicitly updates the license (e.g. via the UI), and is not touched by system-driven writes (subscription pipeline, BALC propagation, etc.).",
          "type": "string",
          "format": "google-datetime"
        },
        "licenseCount": {
          "type": "string",
          "format": "int64",
          "description": "Required. Number of licenses purchased."
        },
        "startDate": {
          "$ref": "GoogleTypeDate",
          "description": "Required. The start date."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1LicenseConfig",
      "description": "Information about users' licenses."
    },
    "GoogleCloudDiscoveryengineV1alphaDocumentContent": {
      "type": "object",
      "description": "Unstructured data linked to this document.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "The URI of the content. Only Cloud Storage URIs (e.g. `gs://bucket-name/path/to/file`) are supported. The maximum file size is 2.5 MB for text-based formats, 200 MB for other formats."
        },
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the content. Supported types: * `application/pdf` (PDF, only native PDFs are supported for now) * `text/html` (HTML) * `text/plain` (TXT) * `application/xml` or `text/xml` (XML) * `application/json` (JSON) * `application/vnd.openxmlformats-officedocument.wordprocessingml.document` (DOCX) * `application/vnd.openxmlformats-officedocument.presentationml.presentation` (PPTX) * `application/vnd.openxmlformats-officedocument.spreadsheetml.sheet` (XLSX) * `application/vnd.ms-excel.sheet.macroenabled.12` (XLSM) The following types are supported only if layout parser is enabled in the data store: * `image/bmp` (BMP) * `image/gif` (GIF) * `image/jpeg` (JPEG) * `image/png` (PNG) * `image/tiff` (TIFF) See https://www.iana.org/assignments/media-types/media-types.xhtml."
        },
        "rawBytes": {
          "format": "byte",
          "type": "string",
          "description": "The content represented as a stream of bytes. The maximum length is 1,000,000 bytes (1 MB / ~0.95 MiB). Note: As with all `bytes` fields, this field is represented as pure binary in Protocol Buffers and base64-encoded string in JSON. For example, `abc123!?$*&()'-=@~` should be represented as `YWJjMTIzIT8kKiYoKSctPUB+` in JSON. See https://developers.google.com/protocol-buffers/docs/proto3#json."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaDocumentContent"
    },
    "GoogleCloudDiscoveryengineV1alphaActionConfigScopeList": {
      "description": "Stores a list of scopes.",
      "properties": {
        "scopes": {
          "type": "array",
          "description": "Optional. The list of scopes.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaActionConfigScopeList",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaBatchGetDocumentsMetadataResponse": {
      "type": "object",
      "properties": {
        "documentsMetadata": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaBatchGetDocumentsMetadataResponseDocumentMetadata"
          },
          "description": "The metadata of the Documents."
        }
      },
      "description": "Response message for DocumentService.BatchGetDocumentsMetadata method.",
      "id": "GoogleCloudDiscoveryengineV1alphaBatchGetDocumentsMetadataResponse"
    },
    "GoogleCloudDiscoveryengineV1BAPConfig": {
      "id": "GoogleCloudDiscoveryengineV1BAPConfig",
      "properties": {
        "enabledActions": {
          "description": "Optional. The actions enabled on the associated BAP connection.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "toolspecOverride": {
          "$ref": "GoogleCloudDiscoveryengineV1BAPConfigToolspecOverride",
          "description": "Optional. Custom toolspec overrides for this connection. For Enterprise BAP connectors that support admin-curated tool definitions, this holds the (simplified) per-tool overrides. On Get, populated by the server by merging persisted overrides with live runtime tool definitions and trimming the result for UI consumption. On Update, the supplied value replaces the persisted overrides after server-side validation and merging: the `base_version` field MUST match the server's current base toolspec version (otherwise the request is rejected with a user-facing error directing the admin to re-download the latest tools first)."
        },
        "supportedConnectorModes": {
          "items": {
            "enum": [
              "CONNECTOR_MODE_UNSPECIFIED",
              "DATA_INGESTION",
              "ACTIONS",
              "END_USER_AUTHENTICATION"
            ],
            "type": "string",
            "enumDescriptions": [
              "Connector mode unspecified.",
              "Connector utilized for data ingestion.",
              "Connector utilized for Actions",
              "Connector utilized for End User Authentication."
            ]
          },
          "type": "array",
          "description": "Required. The supported connector modes for the associated BAP connection."
        }
      },
      "description": "The configuration for the BAP connector.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigParsingConfigLayoutParsingConfig": {
      "description": "The layout parsing configurations for documents.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigParsingConfigLayoutParsingConfig",
      "properties": {
        "enableGetProcessedDocument": {
          "description": "Optional. If true, the processed document will be made available for the GetProcessedDocument API.",
          "type": "boolean"
        },
        "structuredContentTypes": {
          "description": "Optional. Contains the required structure types to extract from the document. Supported values: * `shareholder-structure`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enableTableAnnotation": {
          "type": "boolean",
          "description": "Optional. If true, the LLM based annotation is added to the table during parsing."
        },
        "enableImageAnnotation": {
          "description": "Optional. If true, the LLM based annotation is added to the image during parsing.",
          "type": "boolean"
        },
        "enableLlmLayoutParsing": {
          "type": "boolean",
          "description": "Optional. If true, the pdf layout will be refined using an LLM."
        },
        "excludeHtmlIds": {
          "type": "array",
          "description": "Optional. List of HTML ids to exclude from the parsed content.",
          "items": {
            "type": "string"
          }
        },
        "excludeHtmlElements": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of HTML elements to exclude from the parsed content."
        },
        "excludeHtmlClasses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of HTML classes to exclude from the parsed content."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaImportErrorConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaImportErrorConfig",
      "description": "Configuration of destination for Import related errors.",
      "properties": {
        "gcsPrefix": {
          "description": "Cloud Storage prefix for import errors. This must be an empty, existing Cloud Storage directory. Import errors are written to sharded files in this directory, one per line, as a JSON-encoded `google.rpc.Status` message.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaBatchGetDocumentsMetadataResponseDocumentMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaBatchGetDocumentsMetadataResponseDocumentMetadata",
      "description": "The metadata of a Document.",
      "properties": {
        "dataIngestionSource": {
          "description": "The data ingestion source of the Document. Allowed values are: * `batch`: Data ingested via Batch API, e.g., ImportDocuments. * `streaming` Data ingested via Streaming API, e.g., FHIR streaming.",
          "type": "string"
        },
        "state": {
          "description": "The state of the document.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "INDEXED",
            "NOT_IN_TARGET_SITE",
            "NOT_IN_INDEX"
          ],
          "enumDescriptions": [
            "Should never be set.",
            "The Document is indexed.",
            "The Document is not indexed because its URI is not in the TargetSite.",
            "The Document is not indexed."
          ]
        },
        "lastRefreshedTime": {
          "description": "The timestamp of the last time the Document was last indexed.",
          "type": "string",
          "format": "google-datetime"
        },
        "matcherValue": {
          "description": "The value of the matcher that was used to match the Document.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaBatchGetDocumentsMetadataResponseDocumentMetadataMatcherValue"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaDataProtectionPolicySensitiveDataProtectionPolicy": {
      "type": "object",
      "properties": {
        "policy": {
          "type": "string",
          "description": "Optional. Specifies the resource name of the Sensitive Data Protection content policy."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaDataProtectionPolicySensitiveDataProtectionPolicy",
      "description": "Specifies a Sensitive Data Protection (https://cloud.google.com/sensitive-data-protection/docs/sensitive-data-protection-overview) policy."
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerStepAction": {
      "type": "object",
      "description": "Action.",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerStepAction",
      "properties": {
        "searchAction": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionSearchAction",
          "description": "Search action."
        },
        "observation": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservation",
          "description": "Observation."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigChunkingConfigLayoutBasedChunkingConfig": {
      "id": "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigChunkingConfigLayoutBasedChunkingConfig",
      "properties": {
        "chunkSize": {
          "format": "int32",
          "type": "integer",
          "description": "The token size limit for each chunk. Supported values: 100-500 (inclusive). Default value: 500."
        },
        "includeAncestorHeadings": {
          "description": "Whether to include appending different levels of headings to chunks from the middle of the document to prevent context loss. Default value: False.",
          "type": "boolean"
        }
      },
      "description": "Configuration for the layout based chunking.",
      "type": "object"
    },
    "GoogleCloudNotebooklmV1alphaFailureReasonMimeTypeBlocked": {
      "type": "object",
      "properties": {},
      "description": "Indicates that the source MIME type is blocked.",
      "id": "GoogleCloudNotebooklmV1alphaFailureReasonMimeTypeBlocked"
    },
    "GoogleCloudDiscoveryengineV1alphaImportIdentityMappingsRequestInlineSource": {
      "description": "The inline source to import identity mapping entries from.",
      "properties": {
        "identityMappingEntries": {
          "type": "array",
          "description": "A maximum of 10000 entries can be imported at one time",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaIdentityMappingEntry"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaImportIdentityMappingsRequestInlineSource"
    },
    "GoogleCloudDiscoveryengineV1alphaConnectorRunEntityRun": {
      "id": "GoogleCloudDiscoveryengineV1alphaConnectorRunEntityRun",
      "type": "object",
      "description": "Represents an entity that was synced in this ConnectorRun.",
      "properties": {
        "progress": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaConnectorRunEntityRunProgress",
          "description": "Metadata to generate the progress bar."
        },
        "stateUpdateTime": {
          "type": "string",
          "description": "Timestamp at which the entity sync state was last updated.",
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "Default value.",
            "The data sync is ongoing.",
            "The data sync is finished.",
            "The data sync is failed.",
            "Data sync has been running longer than expected and is still running at the time the next run is supposed to start.",
            "Data sync was scheduled but has been cancelled.",
            "Data sync is about to start.",
            "The data sync completed with non-fatal errors.",
            "An ongoing connector run has been running longer than expected, causing this run to be skipped."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "OVERRUN",
            "CANCELLED",
            "PENDING",
            "WARNING",
            "SKIPPED"
          ],
          "description": "The state of the entity's sync run."
        },
        "syncType": {
          "enum": [
            "SYNC_TYPE_UNSPECIFIED",
            "FULL",
            "INCREMENTAL",
            "REALTIME",
            "SCALA_SYNC"
          ],
          "enumDescriptions": [
            "Sync type unspecified.",
            "Sync triggers full sync of all documents.",
            "Incremental sync of updated documents.",
            "Realtime sync.",
            "Scala sync."
          ],
          "description": "Sync type of this run.",
          "type": "string"
        },
        "extractedRecordCount": {
          "format": "int64",
          "description": "Optional. The number of documents extracted from connector source, ready to be ingested to VAIS.",
          "type": "string"
        },
        "sourceApiRequestCount": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The number of requests sent to 3p API."
        },
        "deletedRecordCount": {
          "format": "int64",
          "description": "Optional. The number of documents deleted.",
          "type": "string"
        },
        "statsUpdateTime": {
          "format": "google-datetime",
          "description": "The timestamp for either extracted_documents_count, indexed_documents_count and error_documents_count was last updated.",
          "type": "string"
        },
        "indexedRecordCount": {
          "description": "Optional. The number of documents indexed.",
          "format": "int64",
          "type": "string"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "The errors from the entity's sync run. Only exist if running into an error state. Contains error code and error message."
        },
        "scheduledRecordCount": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The number of documents scheduled to be crawled/extracted from connector source. This only applies to third party connectors."
        },
        "entityName": {
          "type": "string",
          "description": "The name of the source entity."
        },
        "errorRecordCount": {
          "type": "string",
          "description": "Optional. The total number of documents failed at sync at indexing stage.",
          "format": "int64"
        }
      }
    },
    "GoogleCloudDiscoveryengineLoggingErrorLog": {
      "properties": {
        "context": {
          "description": "A description of the context in which the error occurred.",
          "$ref": "GoogleCloudDiscoveryengineLoggingErrorContext"
        },
        "importPayload": {
          "$ref": "GoogleCloudDiscoveryengineLoggingImportErrorContext",
          "description": "The error payload that is populated on LRO import APIs."
        },
        "status": {
          "description": "The RPC status associated with the error log.",
          "$ref": "GoogleRpcStatus"
        },
        "connectorRunPayload": {
          "$ref": "GoogleCloudDiscoveryengineLoggingConnectorRunErrorContext",
          "description": "The error payload that is populated on LRO connector sync APIs."
        },
        "serviceContext": {
          "description": "The service context in which this error has occurred.",
          "$ref": "GoogleCloudDiscoveryengineLoggingServiceContext"
        },
        "message": {
          "description": "A message describing the error.",
          "type": "string"
        },
        "responsePayload": {
          "description": "The API response payload, represented as a protocol buffer. This is used to log some \"soft errors\", where the response is valid but we consider there are some quality issues like unjoined events. The following API responses are supported, and no PII is included: * `google.cloud.discoveryengine.v1alpha.RecommendationService.Recommend` * `google.cloud.discoveryengine.v1alpha.UserEventService.WriteUserEvent` * `google.cloud.discoveryengine.v1alpha.UserEventService.CollectUserEvent`",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "requestPayload": {
          "description": "The API request payload, represented as a protocol buffer. Most API request types are supported—for example: * `type.googleapis.com/google.cloud.discoveryengine.v1alpha.DocumentService.CreateDocumentRequest` * `type.googleapis.com/google.cloud.discoveryengine.v1alpha.UserEventService.WriteUserEventRequest`",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudDiscoveryengineLoggingErrorLog",
      "description": "An error log which is reported to the Error Reporting system.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaFetchDomainVerificationStatusResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaFetchDomainVerificationStatusResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "targetSites": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaTargetSite"
          },
          "type": "array",
          "description": "List of TargetSites containing the site verification status."
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of items matching the request. This will always be populated in the response."
        }
      },
      "description": "Response message for SiteSearchEngineService.FetchDomainVerificationStatus method.",
      "type": "object"
    },
    "GoogleCloudNotebooklmV1alphaBatchDeleteSourcesRequest": {
      "properties": {
        "names": {
          "items": {
            "type": "string"
          },
          "description": "Required. Names of sources to be deleted. Format: projects/{project}/locations/{location}/notebooks/{notebook}/sources/{source}",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudNotebooklmV1alphaBatchDeleteSourcesRequest",
      "description": "Request for BatchDeleteSourcesRequest method."
    },
    "GoogleCloudDiscoveryengineV1alphaConverseConversationResponse": {
      "properties": {
        "reply": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaReply",
          "description": "Answer to the current query."
        },
        "relatedQuestions": {
          "type": "array",
          "description": "Suggested related questions.",
          "items": {
            "type": "string"
          }
        },
        "conversation": {
          "description": "Updated conversation including the answer.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaConversation"
        },
        "searchResults": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSearchResult"
          },
          "type": "array",
          "description": "Search Results."
        }
      },
      "description": "Response message for ConversationalSearchService.ConverseConversation method.",
      "id": "GoogleCloudDiscoveryengineV1alphaConverseConversationResponse",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigChunkingConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigChunkingConfig",
      "description": "Configuration for chunking config.",
      "properties": {
        "layoutBasedChunkingConfig": {
          "description": "Configuration for the layout based chunking.",
          "$ref": "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigChunkingConfigLayoutBasedChunkingConfig"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaImportUserEventsRequest": {
      "description": "Request message for the ImportUserEvents request.",
      "id": "GoogleCloudDiscoveryengineV1alphaImportUserEventsRequest",
      "type": "object",
      "properties": {
        "inlineSource": {
          "description": "The Inline source for the input content for UserEvents.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaImportUserEventsRequestInlineSource"
        },
        "errorConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaImportErrorConfig",
          "description": "The desired location of errors incurred during the Import. Cannot be set for inline user event imports."
        },
        "gcsSource": {
          "description": "Cloud Storage location for the input content.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaGcsSource"
        },
        "bigquerySource": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaBigQuerySource",
          "description": "BigQuery input source."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1EnableAdvancedSiteSearchResponse": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1EnableAdvancedSiteSearchResponse",
      "description": "Response message for SiteSearchEngineService.EnableAdvancedSiteSearch method."
    },
    "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfig": {
      "description": "A singleton resource of DataStore. If it's empty when DataStore is created and DataStore is set to DataStore.ContentConfig.CONTENT_REQUIRED, the default parser will default to digital parser.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfig",
      "properties": {
        "defaultParsingConfig": {
          "description": "Configurations for default Document parser. If not specified, we will configure it as default DigitalParsingConfig, and the default parsing config will be applied to all file types for Document parsing.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfig"
        },
        "name": {
          "description": "The full resource name of the Document Processing Config. Format: `projects/*/locations/*/collections/*/dataStores/*/documentProcessingConfig`.",
          "type": "string"
        },
        "parsingConfigOverrides": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfig"
          },
          "description": "Map from file type to override the default parsing configuration based on the file type. Supported keys: * `pdf`: Override parsing config for PDF files, either digital parsing, ocr parsing or layout parsing is supported. * `html`: Override parsing config for HTML files, only digital parsing and layout parsing are supported. * `docx`: Override parsing config for DOCX files, only digital parsing and layout parsing are supported. * `pptx`: Override parsing config for PPTX files, only digital parsing and layout parsing are supported. * `xlsm`: Override parsing config for XLSM files, only digital parsing and layout parsing are supported. * `xlsx`: Override parsing config for XLSX files, only digital parsing and layout parsing are supported."
        },
        "chunkingConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigChunkingConfig",
          "description": "Whether chunking mode is enabled."
        }
      }
    },
    "GoogleCloudNotebooklmV1alphaFailureReasonUploadError": {
      "id": "GoogleCloudNotebooklmV1alphaFailureReasonUploadError",
      "properties": {},
      "description": "Indicates an error occurred while uploading the source.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaWidgetConfigCollectionComponent": {
      "type": "object",
      "description": "Read-only collection component that contains data store collections fields that may be used for filtering. For SaaS / Business engines, when `LookupWidgetConfig` is called with `view = WITH_AVAILABLE_CONNECTORS`, instances of this message are also used to represent synthetic placeholder entries for connectors the caller may attach but has not yet attached. Placeholder entries have `connector_auth_state.auth_state == AUTH_STATE_UNSPECIFIED` (or `NO_AUTH`), an empty `connector_auth_state.authorization_uri` (the widget calls `WidgetBuildAuthorizationUrl` on the user's \"Connect\" click), and synthetic placeholder values in `name` / `id` (see field comments). Fields that only make sense for materialized connectors (`data_store_components`, `tenant`, `action_connector`) are left unset for placeholder entries.",
      "id": "GoogleCloudDiscoveryengineV1alphaWidgetConfigCollectionComponent",
      "properties": {
        "id": {
          "type": "string",
          "description": "Output only. the identifier of the collection, used for widget service. For now it refers to collection_id, in the future we will migrate the field to encrypted collection name UUID. For synthetic placeholder entries (see message-level comment) this is a synthetic placeholder id, not a real collection_id.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the collection. It should be collection resource name. Format: `projects/{project}/locations/{location}/collections/{collection_id}`. For APIs under WidgetService, such as WidgetService.LookupWidgetConfig, the project number and location part is erased in this field. For synthetic placeholder entries (see message-level comment) this carries a synthetic placeholder collection id that does not correspond to a real collection. Callers must not attempt to resolve / GET this resource until the user authorizes the connector."
        },
        "dataSourceVersion": {
          "description": "Output only. The version of the connector definition backing this collection, mirroring `DataConnector.data_source_version`.",
          "readOnly": true,
          "format": "double",
          "type": "number"
        },
        "metadata": {
          "description": "Output only. User-facing connector metadata (`title`, `description`, `short_description`, `author`, `note`), retrieved from the registry `ConnectorSource.metadata` (joined by data source). Shown on the connector detail page.",
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataConnectorConnectorMetadata"
        },
        "dataSource": {
          "type": "string",
          "description": "The name of the data source, retrieved from `Collection.data_connector.data_source`."
        },
        "connectorAuthState": {
          "readOnly": true,
          "description": "Output only. The auth uri of the connector source.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaWidgetConfigConnectorAuthState"
        },
        "dataStoreComponents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaWidgetConfigDataStoreComponent"
          },
          "description": "For the data store collection, list of the children data stores."
        },
        "dataSourceDisplayName": {
          "description": "Output only. The display name of the data source.",
          "type": "string",
          "readOnly": true
        },
        "dataSourceEndUserDisplayName": {
          "readOnly": true,
          "description": "Output only. The end-user-facing display name of the data source, sourced from `ConnectorSource.end_user_display_name`. When unset, clients fall back to `data_source_display_name`.",
          "type": "string"
        },
        "connectorIconLink": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The icon link of the connector source."
        },
        "displayName": {
          "description": "The display name of the collection.",
          "type": "string"
        },
        "isFirstParty": {
          "description": "Output only. Whether this is a first-party (Google-owned) connector, as opposed to a third-party connector. Used by the frontend to group 1P vs 3P connectors.",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaCompletionConfig": {
      "type": "object",
      "description": "Config to customize Autocomplete API response for both engines and data stores. Some fields are applicable to only one of them.",
      "properties": {
        "enableMode": {
          "type": "string",
          "description": "The enable mode of autocomplete generation pipelines. If this field is unset, the server behavior defaults to CompletionConfig.EnableMode.AUTOMATIC. Applies to DataStore only. Ignored for Engine.",
          "enumDescriptions": [
            "When AutoComplete enable mode unspecified, it defaults to AUTOMATIC mode.",
            "AutoComplete will be enabled when the data store meets criteria.",
            "AutoComplete will be enabled regardless of UCS data requirements."
          ],
          "enum": [
            "ENABLE_MODE_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ]
        },
        "matchingOrder": {
[...]
