{
  "protocol": "rest",
  "description": "Discovery Engine API.",
  "canonicalName": "Discovery Engine",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/discoveryengine.readwrite": {
          "description": "View, edit, create, and delete all your data associated with any Discovery Engine API product, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, including both end user data and administration or configuration data."
        },
        "https://www.googleapis.com/auth/cloud_search.query": {
          "description": "Search your organization's data in the Cloud Search index"
        },
        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite": {
          "description": "Interact with Discovery Engine API products, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, on your behalf. It will also allow the app to view all data that you have access to when you use or interact with a Discovery Engine API product."
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/discoveryengine.assist.readwrite": {
          "description": "View your Agentspace chat history, including uploaded files and generated reports and visualizations, and interact with the Agentspace assistant on your behalf."
        }
      }
    }
  },
  "title": "Discovery Engine API",
  "batchPath": "batch",
  "rootUrl": "https://discoveryengine.googleapis.com/",
  "mtlsRootUrl": "https://discoveryengine.mtls.googleapis.com/",
  "documentationLink": "https://cloud.google.com/generative-ai-app-builder/docs/",
  "id": "discoveryengine:v1alpha",
  "discoveryVersion": "v1",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://discoveryengine.googleapis.com/",
  "name": "discoveryengine",
  "schemas": {
    "GoogleCloudDiscoveryengineV1alphaDeletePatientFiltersRequest": {
      "id": "GoogleCloudDiscoveryengineV1alphaDeletePatientFiltersRequest",
      "type": "object",
      "description": "Request for DataStoreService.DeletePatientFilters method.",
      "properties": {
        "dataStore": {
          "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. If the caller does not have permission to access the DataStore, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested DataStore does not exist, a NOT_FOUND error is returned. If the requested DataStore does not have a patient filter, a NOT_FOUND error will be returned.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigOptimizationObjectiveConfig": {
      "description": "Custom threshold for `cvr` optimization_objective.",
      "properties": {
        "targetFieldValueFloat": {
          "type": "number",
          "description": "Required. The threshold to be applied to the target (e.g., 0.5).",
          "format": "float"
        },
        "targetField": {
          "description": "Required. The name of the field to target. Currently supported values: `watch-percentage`, `watch-time`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigOptimizationObjectiveConfig"
    },
    "GoogleCloudDiscoveryengineV1alphaListConversationsResponse": {
      "type": "object",
      "description": "Response for ListConversations method.",
      "properties": {
        "conversations": {
          "description": "All the Conversations for a given data store.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaConversation"
          }
        },
        "nextPageToken": {
          "description": "Pagination token, if not returned indicates the last page.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaListConversationsResponse"
    },
    "GoogleCloudDiscoveryengineV1alphaRankRequest": {
      "type": "object",
      "description": "Request message for RankService.Rank method.",
      "properties": {
        "records": {
          "description": "Required. A list of records to rank.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaRankingRecord"
          }
        },
        "ignoreRecordDetailsInResponse": {
          "description": "If true, the response will contain only record ID and score. By default, it is false, the response will contain record details.",
          "type": "boolean"
        },
        "topN": {
          "format": "int32",
          "type": "integer",
          "description": "The number of results to return. If this is unset or no bigger than zero, returns all results."
        },
        "query": {
          "description": "The query to use.",
          "type": "string"
        },
        "userLabels": {
          "description": "The user labels applied to a resource must meet the following requirements: * Each resource can have multiple labels, up to a maximum of 64. * Each label must be a key-value pair. * Keys have a minimum length of 1 character and a maximum length of 63 characters and cannot be empty. Values can be empty and have a maximum length of 63 characters. * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. All characters must use UTF-8 encoding, and international characters are allowed. * The key portion of a label must be unique. However, you can use the same key with multiple resources. * Keys must start with a lowercase letter or international character. See [Google Cloud Document](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements) for more details.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "model": {
          "description": "The identifier of the model to use. It is one of: * `semantic-ranker-512@latest`: Semantic ranking model with maximum input token size 512. It is set to `semantic-ranker-512@latest` by default if unspecified.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaRankRequest"
    },
    "GoogleCloudDiscoveryengineV1alphaImportSampleQueriesMetadata": {
      "type": "object",
      "description": "Metadata related to the progress of the ImportSampleQueries operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "failureCount": {
          "format": "int64",
          "description": "Count of SampleQuerys that failed to be imported.",
          "type": "string"
        },
        "successCount": {
          "type": "string",
          "description": "Count of SampleQuerys successfully imported.",
          "format": "int64"
        },
        "totalCount": {
          "format": "int64",
          "description": "Total count of SampleQuerys that were processed.",
          "type": "string"
        },
        "createTime": {
          "description": "ImportSampleQueries operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "ImportSampleQueries operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaImportSampleQueriesMetadata"
    },
    "GoogleCloudNotebooklmV1alphaFailureReasonUnknown": {
      "description": "Indicates an unknown error occurred.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudNotebooklmV1alphaFailureReasonUnknown"
    },
    "GoogleCloudDiscoveryengineV1alphaTextInput": {
      "id": "GoogleCloudDiscoveryengineV1alphaTextInput",
      "type": "object",
      "description": "Defines text input.",
      "properties": {
        "input": {
          "description": "Text input.",
          "type": "string"
        },
        "context": {
          "description": "Conversation context of the input.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaConversationContext"
        }
      }
    },
    "GoogleTypeLatLng": {
      "type": "object",
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges.",
      "properties": {
        "latitude": {
          "format": "double",
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "type": "number"
        },
        "longitude": {
          "type": "number",
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "format": "double"
        }
      },
      "id": "GoogleTypeLatLng"
    },
    "GoogleCloudDiscoveryengineV1alphaWidgetConfigDataStoreUiConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaWidgetConfigDataStoreUiConfig",
      "type": "object",
      "description": "UI component configuration for data store.",
      "properties": {
        "fieldsUiComponentsMap": {
          "type": "object",
          "description": "The key is the UI component. Mock. Currently supported `title`, `thumbnail`, `url`, `custom1`, `custom2`, `custom3`. The value is the name of the field along with its device visibility. The 3 custom fields are optional and can be added or removed. `title`, `thumbnail`, `url` are required UI components that cannot be removed.",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaWidgetConfigUIComponentField"
          }
        },
        "id": {
          "type": "string",
          "description": "Output only. the identifier of the data store, used for widget service. For now it refers to data_store_id, in the future we will migrate the field to encrypted data store name UUID.",
          "readOnly": true
        },
        "facetField": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaWidgetConfigFacetField"
          },
          "type": "array",
          "description": "Facet fields that store the mapping of fields to end user widget appearance."
        },
        "name": {
          "description": "The name of the data store. It should be data store resource name Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. For APIs under WidgetService, such as WidgetService.LookupWidgetConfig, the project number and location part is erased in this field.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaIdpConfigExternalIdpConfig": {
      "type": "object",
      "description": "Third party IDP Config.",
      "properties": {
        "workforcePoolName": {
          "description": "Workforce pool name. Example: \"locations/global/workforcePools/pool_id\"",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaIdpConfigExternalIdpConfig"
    },
    "GoogleCloudDiscoveryengineV1alphaAgent": {
      "id": "GoogleCloudDiscoveryengineV1alphaAgent",
      "description": "Performs a predefined, specific task.",
      "properties": {
        "rejectionReason": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The reason why the agent was rejected. Only set if the state is PRIVATE, and got there via rejection."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when this Agent was most recently updated.",
          "type": "string"
        },
        "managedAgentDefinition": {
          "description": "Optional. The behavior of the Google managed agent.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaManagedAgentDefinition"
        },
        "adkAgentDefinition": {
          "description": "Optional. The behavior of the agent is defined as an ADK agent.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAdkAgentDefinition"
        },
        "customPlaceholderText": {
          "type": "string",
          "description": "Optional. The custom placeholder text that appears in the text box before the user enters any text."
        },
        "a2aAgentDefinition": {
          "description": "Optional. The behavior of the agent is defined as an A2A agent.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaA2AAgentDefinition"
        },
        "starterPrompts": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAgentStarterPrompt"
          },
          "description": "Optional. The starter prompt suggestions to show the user on the landing page of the agent.",
          "type": "array"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the agent. This might be used by an LLM to automatically select an agent to respond to a user query."
        },
        "authorizationConfig": {
          "description": "Optional. The authorizations that are required by the agent.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAuthorizationConfig"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The lifecycle state of the agent.",
          "enumDescriptions": [
            "The state is unspecified.",
            "The agent is configured, but no deployment triggered yet.",
            "The agent is being deployed.",
            "The agent is available for admins only.",
            "The agent deployment failed.",
            "Agent is available only to its creator..",
            "Agent is available for users who have access.",
            "Agent is temporarily unavailable, though visible to users who have access.",
            "Agent is being created."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CONFIGURED",
            "DEPLOYING",
            "DISABLED",
            "DEPLOYMENT_FAILED",
            "PRIVATE",
            "ENABLED",
            "SUSPENDED",
            "CREATING"
          ]
        },
        "observabilityConfig": {
          "description": "Optional. Observability config for the agent.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaObservabilityConfig"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of the agent. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/assistants/{assistant}/agents/{agent}`"
        },
        "dialogflowAgentDefinition": {
          "description": "Optional. The behavior of the agent is defined as a Dialogflow agent.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDialogflowAgentDefinition"
        },
        "suspensionReason": {
          "type": "string",
          "description": "Output only. The reason why the agent was suspended. Only set if the state is SUSPENDED.",
          "readOnly": true
        },
        "icon": {
          "description": "Optional. The icon that represents the agent on the UI.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAgentImage"
        },
        "description": {
          "description": "Required. Human-readable description of the agent. This might be used by an LLM to automatically select an agent to respond to a user query.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when this Agent was created.",
          "type": "string"
        },
        "sharingConfig": {
          "description": "Optional. The sharing config of the agent.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAgentSharingConfig"
        },
        "languageCode": {
          "description": "Optional. The code of the language of the text in the description, display_name and starter_prompts fields.",
          "type": "string"
        },
        "deploymentFailureReason": {
          "description": "Output only. The reason why the agent deployment failed. Only set if the state is DEPLOYMENT_FAILED.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaBigQueryDestination": {
      "id": "GoogleCloudDiscoveryengineV1alphaBigQueryDestination",
      "type": "object",
      "description": "The BigQuery output destination configuration.",
      "properties": {
        "datasetId": {
          "type": "string",
          "description": "Required. The ID of a BigQuery Dataset."
        },
        "tableId": {
          "type": "string",
          "description": "Required. The table_id of exported BigQuery table."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaWidgetConfigDataStoreComponent": {
      "id": "GoogleCloudDiscoveryengineV1alphaWidgetConfigDataStoreComponent",
      "type": "object",
      "description": "Read-only data store component that contains data stores fields that may be used for filtering, it's the child of `CollectionComponent`.",
      "properties": {
        "contentConfig": {
          "description": "Output only. The content config of the data store.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value.",
            "Only contains documents without any Document.content.",
            "Only contains documents with Document.content.",
            "The data store is used for public website search.",
            "The data store is used for workspace search. Details of workspace data store are specified in the WorkspaceConfig."
          ],
          "enum": [
            "CONTENT_CONFIG_UNSPECIFIED",
            "NO_CONTENT",
            "CONTENT_REQUIRED",
            "PUBLIC_WEBSITE",
            "GOOGLE_WORKSPACE"
          ]
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. the identifier of the data store, used for widget service. For now it refers to data_store_id, in the future we will migrate the field to encrypted data store name UUID."
        },
        "entityName": {
          "description": "The name of the entity, retrieved from `Collection.data_connector.entities.entityName`.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the data store.",
          "type": "string"
        },
        "workspaceType": {
          "readOnly": true,
          "description": "Output only. Workspace Source Types for workspace data, retrieved from `DataStore.workspace_config.type`.",
          "type": "string",
          "enumDescriptions": [
            "Defaults to an unspecified Workspace type.",
            "Workspace Data Store contains Drive data",
            "Workspace Data Store contains Mail data",
            "Workspace Data Store contains Sites data",
            "Workspace Data Store contains Calendar data",
            "Workspace Data Store contains Chat data",
            "Workspace Data Store contains Groups data",
            "Workspace Data Store contains Keep data",
            "Workspace Data Store contains People data",
            "Workspace Data Store contains all Workspace apps data"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "GOOGLE_DRIVE",
            "GOOGLE_MAIL",
            "GOOGLE_SITES",
            "GOOGLE_CALENDAR",
            "GOOGLE_CHAT",
            "GOOGLE_GROUPS",
            "GOOGLE_KEEP",
            "GOOGLE_PEOPLE",
            "GOOGLE_WORKSPACE"
          ]
        },
        "dataStoreConfigType": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The data store is connected to AlloyDB",
            "The data store is a connected to a third party data source.",
            "The data store is a connected to NotebookLM Enterprise."
          ],
          "enum": [
            "DATA_STORE_CONFIG_TYPE_UNSPECIFIED",
            "ALLOW_DB_CONFIG",
            "THIRD_PARTY_OAUTH_CONFIG",
            "NOTEBOOKLM_CONFIG"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the data store config."
        },
        "name": {
          "description": "The name of the data store. It should be data store resource name Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. For APIs under WidgetService, such as WidgetService.LookupWidgetConfig, the project number and location part is erased in this field.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaProject": {
      "id": "GoogleCloudDiscoveryengineV1betaProject",
      "description": "Metadata and configurations for a Google Cloud project in the service.",
      "properties": {
        "serviceTermsMap": {
          "description": "Output only. A map of terms of services. The key is the `id` of ServiceTerms.",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1betaProjectServiceTerms"
          },
          "type": "object",
          "readOnly": true
        },
        "customerProvidedConfig": {
          "description": "Optional. Customer provided configurations.",
          "$ref": "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfig"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp when this project is created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "provisionCompletionTime": {
          "type": "string",
          "description": "Output only. The timestamp when this project is successfully provisioned. Empty value means this project is still provisioning and is not ready for use.",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. Full resource name of the project, for example `projects/{project}`. Note that when making requests, project number and project id are both acceptable, but the server will always respond in project number.",
          "readOnly": true
        },
        "configurableBillingStatus": {
          "description": "Output only. The current status of the project's configurable billing.",
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1betaProjectConfigurableBillingStatus"
        }
      },
      "type": "object"
    },
    "GoogleTypeTimeZone": {
      "type": "object",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "properties": {
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "id": "GoogleTypeTimeZone"
    },
    "GoogleApiHttpBody": {
      "type": "object",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "properties": {
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        },
        "data": {
          "format": "byte",
          "type": "string",
          "description": "The HTTP request/response body as raw binary."
        },
        "extensions": {
          "type": "array",
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "id": "GoogleApiHttpBody"
    },
    "GoogleCloudNotebooklmV1alphaAgentspaceMetadata": {
      "id": "GoogleCloudNotebooklmV1alphaAgentspaceMetadata",
      "type": "object",
      "description": "Metadata about an agentspace source.",
      "properties": {
        "documentTitle": {
          "readOnly": true,
          "description": "Output only. The title of the document.",
          "type": "string"
        },
        "documentName": {
          "readOnly": true,
          "description": "Output only. The full document name in Agentspace.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSiteVerificationInfo": {
      "description": "Verification information for target sites in advanced site search.",
      "properties": {
        "siteVerificationState": {
          "enumDescriptions": [
            "Defaults to VERIFIED.",
            "Site ownership verified.",
            "Site ownership pending verification or verification failed.",
            "Site exempt from verification, e.g., a public website that opens to all."
          ],
          "enum": [
            "SITE_VERIFICATION_STATE_UNSPECIFIED",
            "VERIFIED",
            "UNVERIFIED",
            "EXEMPTED"
          ],
          "description": "Site verification state indicating the ownership and validity.",
          "type": "string"
        },
        "verifyTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Latest site verification time."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSiteVerificationInfo"
    },
    "GoogleCloudDiscoveryengineV1alphaSingleRegionKey": {
      "description": "Metadata for single-regional CMEKs.",
      "properties": {
        "kmsKey": {
          "type": "string",
          "description": "Required. Single-regional kms key resource name which will be used to encrypt resources `projects/{project}/locations/{location}/keyRings/{keyRing}/cryptoKeys/{keyId}`."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaSingleRegionKey"
    },
    "GoogleCloudDiscoveryengineV1alphaListAuthorizationsResponse": {
      "description": "Response message for the AuthorizationService.ListAuthorizations method.",
      "properties": {
        "authorizations": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAuthorization"
          },
          "description": "All the customer's Authorizations.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListAuthorizationsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaListAuthorizationsResponse"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoDocumentContext": {
      "description": "Document context.",
      "properties": {
        "content": {
          "type": "string",
          "description": "Document content to be used for answer generation."
        },
        "pageIdentifier": {
          "description": "Page identifier.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoDocumentContext"
    },
    "GoogleCloudDiscoveryengineV1betaCondition": {
      "id": "GoogleCloudDiscoveryengineV1betaCondition",
      "type": "object",
      "description": "Defines circumstances to be checked before allowing a behavior",
      "properties": {
        "queryTerms": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaConditionQueryTerm"
          },
          "type": "array",
          "description": "Search only A list of terms to match the query on. Cannot be set when Condition.query_regex is set. Maximum of 10 query terms."
        },
        "queryRegex": {
          "type": "string",
          "description": "Optional. Query regex to match the whole search query. Cannot be set when Condition.query_terms is set. Only supported for Basic Site Search promotion serving controls."
        },
        "activeTimeRange": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaConditionTimeRange"
          },
          "description": "Range of time(s) specifying when condition is active. Maximum of 10 time ranges.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaEvaluation": {
      "id": "GoogleCloudDiscoveryengineV1betaEvaluation",
      "description": "An evaluation is a single execution (or run) of an evaluation process. It encapsulates the state of the evaluation and the resulting data.",
      "properties": {
        "qualityMetrics": {
          "description": "Output only. The metrics produced by the evaluation, averaged across all SampleQuerys in the SampleQuerySet. Only populated when the evaluation's state is SUCCEEDED.",
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1betaQualityMetrics"
        },
        "evaluationSpec": {
          "description": "Required. The specification of the evaluation.",
          "$ref": "GoogleCloudDiscoveryengineV1betaEvaluationEvaluationSpec"
        },
        "name": {
          "description": "Identifier. The full resource name of the Evaluation, in the format of `projects/{project}/locations/{location}/evaluations/{evaluation}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "errorSamples": {
          "type": "array",
          "description": "Output only. A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "readOnly": true
        },
        "state": {
          "description": "Output only. The state of the evaluation.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The evaluation is unspecified.",
            "The service is preparing to run the evaluation.",
            "The evaluation is in progress.",
            "The evaluation completed successfully.",
            "The evaluation failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp the Evaluation was created at.",
          "format": "google-datetime",
          "readOnly": true
        },
        "error": {
          "description": "Output only. The error that occurred during evaluation. Only populated when the evaluation's state is FAILED.",
          "readOnly": true,
          "$ref": "GoogleRpcStatus"
        },
        "endTime": {
          "description": "Output only. Timestamp the Evaluation was completed at.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaRemoveDedicatedCrawlRateMetadata": {
      "type": "object",
      "description": "Metadata related to the progress of the CrawlRateManagementService.RemoveDedicatedCrawlRate operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaRemoveDedicatedCrawlRateMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaAgentStarterPrompt": {
      "id": "GoogleCloudDiscoveryengineV1alphaAgentStarterPrompt",
      "description": "The starter prompt suggestion to show the user on the landing page of the agent.",
      "properties": {
        "text": {
          "description": "Required. The text of the starter prompt.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaObtainCrawlRateResponse": {
      "description": "Response message for CrawlRateManagementService.ObtainCrawlRate method. The response contains organcic or dedicated crawl rate time series data for monitoring, depending on whether dedicated crawl rate is set.",
      "properties": {
        "organicCrawlRateTimeSeries": {
          "description": "The historical organic crawl rate timeseries data, used for monitoring.",
          "$ref": "GoogleCloudDiscoveryengineV1betaOrganicCrawlRateTimeSeries"
        },
        "dedicatedCrawlRateTimeSeries": {
          "description": "The historical dedicated crawl rate timeseries data, used for monitoring.",
          "$ref": "GoogleCloudDiscoveryengineV1betaDedicatedCrawlRateTimeSeries"
        },
        "error": {
          "description": "Errors from service when handling the request.",
          "$ref": "GoogleRpcStatus"
        },
        "state": {
          "enumDescriptions": [
            "The state is unspecified.",
            "The state is successful.",
            "The state is failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the response."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaObtainCrawlRateResponse"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseSearchResultRankSignalsCustomSignal": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseSearchResultRankSignalsCustomSignal",
      "type": "object",
      "description": "Custom clearbox signal represented by name and value pair.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. Name of the signal."
        },
        "value": {
          "format": "float",
          "type": "number",
          "description": "Optional. Float value representing the ranking signal (e.g. 1.25 for BM25)."
        }
      }
    },
    "GoogleCloudDiscoveryengineLoggingSourceLocation": {
      "id": "GoogleCloudDiscoveryengineLoggingSourceLocation",
      "description": "Indicates a location in the source code of the service for which errors are reported.",
      "properties": {
        "functionName": {
          "description": "Human-readable name of a function or method—for example, `google.cloud.discoveryengine.v1alpha.RecommendationService.Recommend`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaProject": {
      "id": "GoogleCloudDiscoveryengineV1alphaProject",
      "type": "object",
      "description": "Metadata and configurations for a Google Cloud project in the service.",
      "properties": {
        "serviceTermsMap": {
          "readOnly": true,
          "description": "Output only. A map of terms of services. The key is the `id` of ServiceTerms.",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaProjectServiceTerms"
          },
          "type": "object"
        },
        "customerProvidedConfig": {
          "description": "Optional. Customer provided configurations.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfig"
        },
        "configurableBillingStatus": {
          "description": "Output only. The current status of the project's configurable billing.",
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1alphaProjectConfigurableBillingStatus"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when this project is created.",
          "type": "string"
        },
        "provisionCompletionTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when this project is successfully provisioned. Empty value means this project is still provisioning and is not ready for use.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Full resource name of the project, for example `projects/{project}`. Note that when making requests, project number and project id are both acceptable, but the server will always respond in project number.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDiscoveryengineV1EngineCommonConfig": {
      "id": "GoogleCloudDiscoveryengineV1EngineCommonConfig",
      "type": "object",
      "description": "Common configurations for an Engine.",
      "properties": {
        "companyName": {
          "type": "string",
          "description": "The name of the company, business or entity that is associated with the engine. Setting this may help improve LLM related features."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaBatchGetDocumentsMetadataResponseDocumentMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaBatchGetDocumentsMetadataResponseDocumentMetadata",
      "type": "object",
      "description": "The metadata of a Document.",
      "properties": {
        "matcherValue": {
          "description": "The value of the matcher that was used to match the Document.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaBatchGetDocumentsMetadataResponseDocumentMetadataMatcherValue"
        },
        "state": {
          "enumDescriptions": [
            "Should never be set.",
            "The Document is indexed.",
            "The Document is not indexed because its URI is not in the TargetSite.",
            "The Document is not indexed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "INDEXED",
            "NOT_IN_TARGET_SITE",
            "NOT_IN_INDEX"
          ],
          "description": "The state of the document.",
          "type": "string"
        },
        "dataIngestionSource": {
          "description": "The data ingestion source of the Document. Allowed values are: * `batch`: Data ingested via Batch API, e.g., ImportDocuments. * `streaming` Data ingested via Streaming API, e.g., FHIR streaming.",
          "type": "string"
        },
        "lastRefreshedTime": {
          "type": "string",
          "description": "The timestamp of the last time the Document was last indexed.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigAlloyDbConfigAlloyDbAiNaturalLanguageConfig": {
      "description": "Configuration for AlloyDB AI Natural Language.",
      "properties": {
        "nlConfigId": {
          "type": "string",
          "description": "Optional. AlloyDb AI NL config id, i.e. the value that was used for calling `SELECT alloydb_ai_nl.g_create_configuration(...)`. Can be empty."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigAlloyDbConfigAlloyDbAiNaturalLanguageConfig"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerReferenceUnstructuredDocumentInfo": {
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerReferenceUnstructuredDocumentInfo",
      "type": "object",
      "description": "Unstructured document information.",
      "properties": {
        "chunkContents": {
          "type": "array",
          "description": "List of cited chunk contents derived from document content.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerReferenceUnstructuredDocumentInfoChunkContent"
          }
        },
        "document": {
          "type": "string",
          "description": "Document resource name."
        },
        "structData": {
          "type": "object",
          "description": "The structured JSON metadata for the document. It is populated from the struct data from the Chunk in search result.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "uri": {
          "description": "URI for the document.",
          "type": "string"
        },
        "title": {
          "description": "Title.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDataConnector": {
      "description": "Manages the connection to external data sources for all data stores grouped under a Collection. It's a singleton resource of Collection. The initialization is only supported through DataConnectorService.SetUpDataConnector method, which will create a new Collection and initialize its DataConnector.",
      "properties": {
        "params": {
          "type": "object",
          "description": "Required data connector parameters in structured json format.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "removeParamKeys": {
          "type": "array",
          "description": "Optional. Specifies keys to be removed from the 'params' field. This is only active when 'params' is included in the 'update_mask' in an UpdateDataConnectorRequest. Deletion takes precedence if a key is both in 'remove_param_keys' and present in the 'params' field of the request.",
          "items": {
            "type": "string"
          }
        },
        "connectorType": {
          "description": "Output only. The type of connector. Each source can only map to one type. For example, salesforce, confluence and jira have THIRD_PARTY connector type. It is not mutable once set by system.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value.",
            "Third party connector to connector to third party application.",
            "Data connector connects between FHIR store and VAIS datastore.",
            "Big query connector.",
            "Google Cloud Storage connector.",
            "Gmail connector.",
            "Google Calendar connector.",
            "Google Drive connector.",
            "Native Cloud Identity connector for people search powered by People API.",
            "Federated connector, it is a third party connector that doesn't ingestion data, and search is powered by third party application's API.",
            "Connector utilized for End User Authentication features.",
            "Google Cloud NetApp Volumes connector.",
            "Google Chat connector.",
            "Google Sites connector.",
            "Remote MCP based connector.",
            "Google Workspace connector."
          ],
          "enum": [
            "CONNECTOR_TYPE_UNSPECIFIED",
            "THIRD_PARTY",
            "GCP_FHIR",
            "BIG_QUERY",
            "GCS",
            "GOOGLE_MAIL",
            "GOOGLE_CALENDAR",
            "GOOGLE_DRIVE",
            "NATIVE_CLOUD_IDENTITY",
            "THIRD_PARTY_FEDERATED",
            "THIRD_PARTY_EUA",
            "GCNV",
            "GOOGLE_CHAT",
            "GOOGLE_SITES",
            "REMOTE_MCP",
            "GOOGLE_WORKSPACE"
          ]
        },
        "egressFqdns": {
          "description": "Output only. The list of FQDNs of the data connector can egress to. This includes both FQDN derived from the customer provided instance URL and default per connector type FQDNs.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "connectorModes": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Connector mode unspecified.",
              "Connector utilized for data ingestion.",
              "Connector utilized for actions.",
              "Connector utilized for federated search.",
              "Connector utilized for End User Authentication.",
              "Hybrid connector utilized for federated search and End User Authentication."
            ],
            "enum": [
              "CONNECTOR_MODE_UNSPECIFIED",
              "DATA_INGESTION",
              "ACTIONS",
              "FEDERATED",
              "EUA",
              "FEDERATED_AND_EUA"
            ]
          },
          "description": "Optional. The modes enabled for this connector. Default state is CONNECTOR_MODE_UNSPECIFIED.",
          "type": "array"
        },
        "nextSyncTime": {
          "description": "Defines the scheduled time for the next data synchronization. This field requires hour , minute, and time_zone from the [IANA Time Zone Database](https://www.iana.org/time-zones). This is utilized when the data connector has a refresh interval greater than 1 day. When the hours or minutes are not specified, we will assume a sync time of 0:00. The user must provide a time zone to avoid ambiguity.",
          "$ref": "GoogleTypeDateTime"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The full resource name of the Data Connector. Format: `projects/*/locations/*/collections/*/dataConnector`."
        },
        "realtimeSyncConfig": {
          "description": "Optional. The configuration for realtime sync.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataConnectorRealtimeSyncConfig"
        },
        "destinationConfigs": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaDestinationConfig"
          },
          "description": "Optional. Any target destinations used to connect to third-party services.",
          "type": "array"
        },
        "identityScheduleConfig": {
          "description": "The configuration for the identity data synchronization runs. This contains the refresh interval to sync the Access Control List information for the documents ingested by this connector.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaIdentityScheduleConfig"
        },
        "errors": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The errors from initialization or from the latest connector run."
        },
        "staticIpEnabled": {
          "type": "boolean",
          "description": "Optional. Whether customer has enabled static IP addresses for this connector."
        },
        "dataProtectionPolicy": {
          "description": "Optional. Specifies the data protection policy for the connector.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataProtectionPolicy"
        },
        "latestPauseTime": {
          "type": "string",
          "description": "Output only. The most recent timestamp when this DataConnector was paused, affecting all functionalities such as data synchronization. Pausing a connector has the following effects: - All functionalities, including data synchronization, are halted. - Any ongoing data synchronization job will be canceled. - No future data synchronization runs will be scheduled nor can be triggered.",
          "format": "google-datetime",
          "readOnly": true
        },
        "syncMode": {
          "enumDescriptions": [
            "The connector will sync data periodically based on the refresh_interval. Use it with auto_run_disabled to pause the periodic sync, or indicate a one-time sync.",
            "The data will be synced in real time.",
            "Connector that doesn't ingest data will have this value"
          ],
          "enum": [
            "PERIODIC",
            "STREAMING",
            "UNSPECIFIED"
          ],
          "type": "string",
          "description": "The data synchronization mode supported by the data connector."
        },
        "staticIpAddresses": {
          "description": "Output only. The static IP addresses used by this connector.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "createEuaSaas": {
          "type": "boolean",
          "description": "Optional. Whether the END USER AUTHENTICATION connector is created in SaaS."
        },
        "aclEnabled": {
          "description": "Optional. Whether the connector will be created with an ACL config. Currently this field only affects Cloud Storage and BigQuery connectors.",
          "type": "boolean"
        },
        "dynamicTools": {
          "description": "Output only. The dynamic tools fetched for this connector.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaDynamicTool"
          }
        },
        "refreshInterval": {
          "description": "Required. The refresh interval for data sync. If duration is set to 0, the data will be synced in real time. The streaming feature is not supported yet. The minimum is 30 minutes and maximum is 7 days. When the refresh interval is set to the same value as the incremental refresh interval, incremental sync will be disabled.",
          "type": "string",
          "format": "google-duration"
        },
        "incrementalSyncDisabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether incremental syncs are paused for this connector. This is independent of auto_run_disabled. Applicable to only 3P connectors. When the refresh interval is set to the same value as the incremental refresh interval, incremental sync will be disabled, i.e. set to true."
        },
        "lastSyncTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. For periodic connectors only, the last time a data sync was completed.",
          "type": "string"
        },
        "connectorSourceId": {
          "description": "Optional. If set, this value instead of `data_source` is used to fetch the corresponding connector source.",
          "type": "string"
        },
        "hybridIngestionDisabled": {
          "description": "Optional. If the connector is a hybrid connector, determines whether ingestion is enabled and appropriate resources are provisioned during connector creation. If the connector is not a hybrid connector, this field is ignored.",
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. Timestamp the DataConnector was created at.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "incrementalRefreshInterval": {
          "description": "Optional. The refresh interval specifically for incremental data syncs. If unset, incremental syncs will use the default from env, set to 3hrs. The minimum is 30 minutes and maximum is 7 days. Applicable to only 3P connectors. When the refresh interval is set to the same value as the incremental refresh interval, incremental sync will be disabled.",
          "type": "string",
          "format": "google-duration"
        },
        "blockingReasons": {
          "readOnly": true,
          "items": {
            "enumDescriptions": [
              "Default value.",
              "Connector requires customer to allowlist static IPs.",
              "Connector requires customer to allowlist our project in their service attachment.",
              "Connector requires customer to allowlist service account in their project."
            ],
            "enum": [
              "BLOCKING_REASON_UNSPECIFIED",
              "ALLOWLIST_STATIC_IP",
              "ALLOWLIST_IN_SERVICE_ATTACHMENT",
              "ALLOWLIST_SERVICE_ACCOUNT"
            ],
            "type": "string"
          },
          "description": "Output only. User actions that must be completed before the connector can start syncing data.",
          "type": "array"
        },
        "realtimeState": {
          "readOnly": true,
          "description": "Output only. real-time sync state",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "The connector is being set up.",
            "The connector is successfully set up and awaiting next sync run.",
            "The connector is in error. The error details can be found in DataConnector.errors. If the error is unfixable, the DataConnector can be deleted by CollectionService.DeleteCollection API.",
            "The connector is actively syncing records from the data source.",
            "The connector has completed a sync run, but encountered non-fatal errors.",
            "Connector initialization failed. Potential causes include runtime errors or issues in the asynchronous pipeline, preventing the request from reaching downstream services (except for some connector types).",
            "Connector is in the process of an update."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "WARNING",
            "INITIALIZATION_FAILED",
            "UPDATING"
          ]
        },
        "oauthStaticIpAddresses": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The static IP addresses used by this connector for OAuth APIs (e.g. end user authentication). These are surfaced separately from `static_ip_addresses` so that customers can apply granular firewall settings for OAuth endpoints. Only populated for connectors that have static IP enabled and are used for actions and/or federated search.",
          "type": "array"
        },
        "cliConfig": {
          "description": "Optional. The configuration for establishing a CLI connection.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaCliConfig"
        },
        "bapConfig": {
          "description": "Optional. The configuration for establishing a BAP connection.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaBAPConfig"
        },
        "state": {
          "description": "Output only. State of the connector.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value.",
            "The connector is being set up.",
            "The connector is successfully set up and awaiting next sync run.",
            "The connector is in error. The error details can be found in DataConnector.errors. If the error is unfixable, the DataConnector can be deleted by CollectionService.DeleteCollection API.",
            "The connector is actively syncing records from the data source.",
            "The connector has completed a sync run, but encountered non-fatal errors.",
            "Connector initialization failed. Potential causes include runtime errors or issues in the asynchronous pipeline, preventing the request from reaching downstream services (except for some connector types).",
            "Connector is in the process of an update."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "WARNING",
            "INITIALIZATION_FAILED",
            "UPDATING"
          ]
        },
        "kmsKeyName": {
          "description": "Input only. The KMS key to be used to protect the DataStores managed by this connector. Must be set for requests that need to comply with CMEK Org Policy protections. If this field is set and processed successfully, the DataStores created by this connector will be protected by the KMS key.",
          "type": "string"
        },
        "alertPolicyConfigs": {
          "type": "array",
          "description": "Optional. The connector level alert config.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAlertPolicyConfig"
          }
        },
        "vpcscEnabled": {
          "description": "Output only. Whether the connector is created with VPC-SC enabled.",
          "type": "boolean",
          "readOnly": true
        },
        "dataSource": {
          "type": "string",
          "description": "Required. The identifier for the data source. This is a partial list of supported connectors. Please refer to the [documentation](https://docs.cloud.google.com/gemini/enterprise/docs/connectors/introduction-to-connectors-and-data-stores) for the full list of connectors. Supported first-party connectors include: * `gcs` * `bigquery` * `gcp_fhir` * `google_mail` * `google_drive` * `google_calendar` * `google_chat` Supported third-party connectors include: Generally available (GA) connectors: * `onedrive` * `outlook` * `confluence` * `jira` * `servicenow` * `sharepoint` Preview connectors: * `asana` * `azure_active_directory` * `box` * `canva` * `confluence_server` * `custom_connector` * `docusign` * `dropbox` * `dynamics365` * `github` * `gitlab` * `hubspot` * `jira_server` * `linear` * `native_cloud_identity` * `notion` * `okta` * `pagerduty` * `peoplesoft` * `salesforce` * `shopify` * `slack` * `snowflake` * `teams` * `trello` * `workday` * `zendesk`"
        },
        "federatedConfig": {
          "description": "Optional. Any params and credentials used specifically for hybrid connectors supporting FEDERATED mode. This field should only be set if the connector is a hybrid connector and we want to enable FEDERATED mode.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataConnectorFederatedConfig"
        },
        "identityRefreshInterval": {
          "type": "string",
          "description": "The refresh interval to sync the Access Control List information for the documents ingested by this connector. If not set, the access control list will be refreshed at the default interval of 30 minutes. The identity refresh interval can be at least 30 minutes and at most 7 days.",
          "deprecated": true,
          "format": "google-duration"
        },
        "entities": {
          "type": "array",
          "description": "List of entities from the connected data source to ingest.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaDataConnectorSourceEntity"
          }
        },
        "jsonParams": {
          "type": "string",
          "description": "Required data connector parameters in json string format."
        },
        "actionConfig": {
          "description": "Optional. Action configurations to make the connector support actions.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaActionConfig"
        },
        "endUserConfig": {
          "description": "Optional. Any params and credentials used specifically for EUA connectors.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataConnectorEndUserConfig"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Timestamp the DataConnector was last updated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "actionState": {
          "enumDescriptions": [
            "Default value.",
            "The connector is being set up.",
            "The connector is successfully set up and awaiting next sync run.",
            "The connector is in error. The error details can be found in DataConnector.errors. If the error is unfixable, the DataConnector can be deleted by CollectionService.DeleteCollection API.",
            "The connector is actively syncing records from the data source.",
            "The connector has completed a sync run, but encountered non-fatal errors.",
            "Connector initialization failed. Potential causes include runtime errors or issues in the asynchronous pipeline, preventing the request from reaching downstream services (except for some connector types).",
            "Connector is in the process of an update."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "WARNING",
            "INITIALIZATION_FAILED",
            "UPDATING"
          ],
          "readOnly": true,
          "description": "Output only. State of the action connector. This reflects whether the action connector is initializing, active or has encountered errors.",
          "type": "string"
        },
        "autoRunDisabled": {
          "description": "Optional. Indicates whether the connector is disabled for auto run. It can be used to pause periodical and real time sync. Update: with the introduction of incremental_sync_disabled, auto_run_disabled is used to pause/disable only full syncs",
          "type": "boolean"
        },
        "privateConnectivityProjectId": {
          "type": "string",
          "description": "Output only. The tenant project ID associated with private connectivity connectors. This project must be allowlisted by in order for the connector to function.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaDataConnector"
    },
    "GoogleCloudDiscoveryengineV1betaEvaluationEvaluationSpecQuerySetSpec": {
      "type": "object",
      "description": "Describes the specification of the query set.",
      "properties": {
        "sampleQuerySet": {
          "description": "Optional. The full resource name of the SampleQuerySet used for the evaluation, in the format of `projects/{project}/locations/{location}/sampleQuerySets/{sampleQuerySet}`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaEvaluationEvaluationSpecQuerySetSpec"
    },
    "GoogleCloudDiscoveryengineV1IdentityScheduleConfig": {
      "id": "GoogleCloudDiscoveryengineV1IdentityScheduleConfig",
      "description": "The configuration for the identity data synchronization runs.",
      "properties": {
        "refreshInterval": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. The refresh interval to sync the Access Control List information for the documents ingested by this connector. If not set, the access control list will be refreshed at the default interval of 30 minutes. The identity refresh interval can be at least 30 minutes and at most 7 days."
        },
        "nextSyncTime": {
          "description": "Optional. The UTC time when the next data sync is expected to start for the Data Connector. Customers are only able to specify the hour and minute to schedule the data sync. This is utilized when the data connector has a refresh interval greater than 1 day.",
          "$ref": "GoogleTypeDateTime"
        }
      },
      "type": "object"
    },
    "GoogleApiDistributionRange": {
      "type": "object",
      "description": "The range of the population values.",
      "properties": {
        "min": {
          "format": "double",
          "description": "The minimum of the population values.",
          "type": "number"
        },
        "max": {
          "format": "double",
          "type": "number",
          "description": "The maximum of the population values."
        }
      },
      "id": "GoogleApiDistributionRange"
    },
    "GoogleCloudDiscoveryengineV1betaImportSuggestionDenyListEntriesMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaImportSuggestionDenyListEntriesMetadata",
      "type": "object",
      "description": "Metadata related to the progress of the ImportSuggestionDenyListEntries operation. This is returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaTransactionInfo": {
      "id": "GoogleCloudDiscoveryengineV1alphaTransactionInfo",
      "description": "A transaction represents the entire purchase transaction.",
      "properties": {
        "transactionId": {
          "type": "string",
          "description": "The transaction ID with a length limit of 128 characters."
        },
        "currency": {
          "description": "Required. Currency code. Use three-character ISO-4217 code.",
          "type": "string"
        },
        "value": {
          "description": "Required. Total non-zero value associated with the transaction. This value may include shipping, tax, or other adjustments to the total value that you want to include.",
          "type": "number",
          "format": "float"
        },
        "cost": {
          "description": "All the costs associated with the products. These can be manufacturing costs, shipping expenses not borne by the end user, or any other costs, such that: * Profit = value - tax - cost",
          "type": "number",
          "format": "float"
        },
        "discountValue": {
          "format": "float",
          "type": "number",
          "description": "The total discount(s) value applied to this transaction. This figure should be excluded from TransactionInfo.value For example, if a user paid TransactionInfo.value amount, then nominal (pre-discount) value of the transaction is the sum of TransactionInfo.value and TransactionInfo.discount_value This means that profit is calculated the same way, regardless of the discount value, and that TransactionInfo.discount_value can be larger than TransactionInfo.value: * Profit = value - tax - cost"
        },
        "tax": {
          "type": "number",
          "description": "All the taxes associated with the transaction.",
          "format": "float"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaListAgentsResponse": {
      "type": "object",
      "description": "Response message for the AgentService.ListAgents method.",
      "properties": {
        "agents": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAgent"
          },
          "type": "array",
          "description": "The agents visible to the caller under the parent Assistant."
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListAgentsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaListAgentsResponse"
    },
    "GoogleCloudDiscoveryengineV1alphaPurgeErrorConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaPurgeErrorConfig",
      "type": "object",
      "description": "Configuration of destination for Purge related errors.",
      "properties": {
        "gcsPrefix": {
          "type": "string",
          "description": "Cloud Storage prefix for purge errors. This must be an empty, existing Cloud Storage directory. Purge errors are written to sharded files in this directory, one per line, as a JSON-encoded `google.rpc.Status` message."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaStreamAssistRequestActionSpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaStreamAssistRequestActionSpec",
      "type": "object",
      "description": "Specification of actions for the request.",
      "properties": {
        "actionDisabled": {
          "description": "Optional. If true, actions will not be served for the request. This only works for enterprise edition.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSampleQueryQueryEntry": {
      "id": "GoogleCloudDiscoveryengineV1alphaSampleQueryQueryEntry",
      "type": "object",
      "description": "Query Entry captures metadata to be used for search evaluation.",
      "properties": {
        "query": {
          "type": "string",
          "description": "Required. The query."
        },
        "targets": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSampleQueryQueryEntryTarget"
          },
          "description": "List of targets for the query.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1IdpConfigExternalIdpConfig": {
      "description": "Third party IDP Config.",
      "properties": {
        "workforcePoolName": {
          "type": "string",
          "description": "Workforce pool name. Example: \"locations/global/workforcePools/pool_id\""
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1IdpConfigExternalIdpConfig"
    },
    "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecExtractiveContentSpec": {
      "description": "A specification for configuring the extractive content in a search response.",
      "properties": {
        "maxExtractiveAnswerCount": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of extractive answers returned in each search result. An extractive answer is a verbatim answer extracted from the original document, which provides a precise and contextually relevant answer to the search query. If the number of matching answers is less than the `max_extractive_answer_count`, return all of the answers. Otherwise, return the `max_extractive_answer_count`. At most five answers are returned for each SearchResult."
        },
        "numPreviousSegments": {
          "description": "Specifies whether to also include the adjacent from each selected segments. Return at most `num_previous_segments` segments before each selected segments.",
          "type": "integer",
          "format": "int32"
        },
        "numNextSegments": {
          "type": "integer",
          "description": "Return at most `num_next_segments` segments after each selected segments.",
          "format": "int32"
        },
        "returnExtractiveSegmentScore": {
          "type": "boolean",
          "description": "Specifies whether to return the confidence score from the extractive segments in each search result. This feature is available only for new or allowlisted data stores. To allowlist your data store, contact your Customer Engineer. The default value is `false`."
        },
        "maxExtractiveSegmentCount": {
          "format": "int32",
          "description": "The max number of extractive segments returned in each search result. Only applied if the DataStore is set to DataStore.ContentConfig.CONTENT_REQUIRED or DataStore.solution_types is SOLUTION_TYPE_CHAT. An extractive segment is a text segment extracted from the original document that is relevant to the search query, and, in general, more verbose than an extractive answer. The segment could then be used as input for LLMs to generate summaries and answers. If the number of matching segments is less than `max_extractive_segment_count`, return all of the segments. Otherwise, return the `max_extractive_segment_count`.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecExtractiveContentSpec"
    },
    "GoogleCloudDiscoveryengineV1TargetSiteFailureReason": {
      "id": "GoogleCloudDiscoveryengineV1TargetSiteFailureReason",
      "type": "object",
      "description": "Site search indexing failure reasons.",
      "properties": {
        "quotaFailure": {
          "description": "Failed due to insufficient quota.",
          "$ref": "GoogleCloudDiscoveryengineV1TargetSiteFailureReasonQuotaFailure"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigEngineFeaturesConfig": {
      "id": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigEngineFeaturesConfig",
      "type": "object",
      "description": "More feature configs of the selected engine type.",
      "properties": {
        "recommendedForYouConfig": {
          "description": "Recommended for you engine feature config.",
          "$ref": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigRecommendedForYouFeatureConfig"
        },
        "mostPopularConfig": {
          "description": "Most popular engine feature config.",
          "$ref": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigMostPopularFeatureConfig"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaRecrawlUrisResponseFailureInfo": {
      "id": "GoogleCloudDiscoveryengineV1alphaRecrawlUrisResponseFailureInfo",
      "type": "object",
      "description": "Details about why a particular URI failed to be crawled. Each FailureInfo contains one FailureReason per CorpusType.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "URI that failed to be crawled."
        },
        "failureReasons": {
          "description": "List of failure reasons by corpus type (e.g. desktop, mobile).",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaRecrawlUrisResponseFailureInfoFailureReason"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaPurgeIdentityMappingsRequest": {
      "type": "object",
      "description": "Request message for IdentityMappingStoreService.PurgeIdentityMappings",
      "properties": {
        "inlineSource": {
          "description": "The inline source to purge identity mapping entries from.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaPurgeIdentityMappingsRequestInlineSource"
        },
        "force": {
          "description": "Actually performs the purge. If `force` is set to false, return the expected purge count without deleting any identity mappings. This field is only supported for purge with filter. For input source this field is ignored and data will be purged regardless of the value of this field.",
          "type": "boolean"
        },
        "filter": {
          "type": "string",
          "description": "Filter matching identity mappings to purge. The eligible field for filtering is: * `update_time`: in ISO 8601 \"zulu\" format. * `external_id` Examples: * Deleting all identity mappings updated in a time range: `update_time > \"2012-04-23T18:25:43.511Z\" AND update_time < \"2012-04-23T18:30:43.511Z\"` * Deleting all identity mappings for a given external_id: `external_id = \"id1\"` * Deleting all identity mappings inside an identity mapping store: `*` The filtering fields are assumed to have an implicit AND. Should not be used with source. An error will be thrown, if both are provided."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaPurgeIdentityMappingsRequest"
    },
    "GoogleCloudDiscoveryengineV1alphaCustomTuningModel": {
      "id": "GoogleCloudDiscoveryengineV1alphaCustomTuningModel",
      "type": "object",
      "description": "Metadata that describes a custom tuned model.",
      "properties": {
        "modelVersion": {
          "format": "int64",
          "description": "The version of the model.",
          "type": "string"
        },
        "modelState": {
          "enumDescriptions": [
            "Default value.",
            "The model is in a paused training state.",
            "The model is currently training.",
            "The model has successfully completed training.",
            "The model is ready for serving.",
            "The model training failed.",
            "The model training finished successfully but metrics did not improve.",
            "Input data validation failed. Model training didn't start."
          ],
          "enum": [
            "MODEL_STATE_UNSPECIFIED",
            "TRAINING_PAUSED",
            "TRAINING",
            "TRAINING_COMPLETE",
            "READY_FOR_SERVING",
            "TRAINING_FAILED",
            "NO_IMPROVEMENT",
            "INPUT_VALIDATION_FAILED"
          ],
          "type": "string",
          "description": "The state that the model is in (e.g.`TRAINING` or `TRAINING_FAILED`)."
        },
        "createTime": {
          "deprecated": true,
          "format": "google-datetime",
          "description": "Deprecated: Timestamp the Model was created at.",
          "type": "string"
        },
        "name": {
          "description": "Required. The fully qualified resource name of the model. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/customTuningModels/{custom_tuning_model}`. Model must be an alpha-numerical string with limit of 40 characters.",
          "type": "string"
        },
        "errorMessage": {
          "type": "string",
          "description": "Currently this is only populated if the model state is `INPUT_VALIDATION_FAILED`."
        },
        "trainingStartTime": {
          "format": "google-datetime",
          "description": "Timestamp the model training was initiated.",
          "type": "string"
        },
        "metrics": {
          "type": "object",
          "description": "The metrics of the trained model.",
          "additionalProperties": {
            "type": "number",
            "format": "double"
          }
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the model."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1CreateEngineMetadata": {
      "id": "GoogleCloudDiscoveryengineV1CreateEngineMetadata",
      "type": "object",
      "description": "Metadata related to the progress of the EngineService.CreateEngine operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1AlertPolicyConfigAlertEnrollment": {
      "id": "GoogleCloudDiscoveryengineV1AlertPolicyConfigAlertEnrollment",
      "type": "object",
      "description": "The alert enrollment status.",
      "properties": {
        "alertId": {
          "description": "Immutable. The id of an alert.",
          "type": "string"
        },
        "enrollState": {
          "type": "string",
          "description": "Required. The enrollment status of a customer.",
          "enumDescriptions": [
            "Default value. Used for customers who have not responded to the alert policy.",
            "Customer is enrolled in this policy.",
            "Customer declined this policy."
          ],
          "enum": [
            "ENROLL_STATES_UNSPECIFIED",
            "ENROLLED",
            "DECLINED"
          ]
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDestinationConfigDestination": {
      "id": "GoogleCloudDiscoveryengineV1alphaDestinationConfigDestination",
      "description": "Defines a target endpoint",
      "properties": {
        "host": {
          "type": "string",
          "description": "Publicly routable host."
        },
        "port": {
          "type": "integer",
          "description": "Optional. Target port number accepted by the destination.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAlphaEvolveEvaluationScoresAlphaEvolveEvaluationScore": {
      "id": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveEvaluationScoresAlphaEvolveEvaluationScore",
      "description": "Score for a single metric.",
      "properties": {
        "metric": {
          "type": "string",
          "description": "Required. Name of the metric."
        },
        "score": {
          "format": "float",
          "description": "Required. Score of a program for this metric.",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleCloudNotebooklmV1alphaGoogleDocsSourceMetadata": {
      "type": "object",
      "description": "Metadata about a google doc source.",
      "properties": {
        "revisionId": {
          "type": "string",
          "description": "Output only. Revision id for the doc.",
          "readOnly": true
        },
        "documentId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The document id of the google doc."
        }
      },
      "id": "GoogleCloudNotebooklmV1alphaGoogleDocsSourceMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaAcquireAccessTokenRequest": {
      "description": "Request message for the DataConnectorService.AcquireAccessToken method.",
      "properties": {
        "scope": {
          "description": "Optional. The scope to request for the access token. Scope will override default scope if specified.",
          "type": "string"
        },
        "action": {
          "type": "string",
          "description": "Optional. The tool/action name being executed. If provided, the server will check the required scopes of the action and dynamically trigger incremental authorization if they are missing."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAcquireAccessTokenRequest"
    },
    "GoogleCloudDiscoveryengineV1alphaFetchSitemapsResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaFetchSitemapsResponse",
      "description": "Response message for SiteSearchEngineService.FetchSitemaps method.",
      "properties": {
        "sitemapsMetadata": {
          "type": "array",
          "description": "List of Sitemaps fetched.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaFetchSitemapsResponseSitemapMetadata"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudNotebooklmV1alphaListRecentlyViewedNotebooksResponse": {
      "type": "object",
      "description": "Response for NotebookService.ListRecentlyViewedNotebooks method.",
      "properties": {
        "nextPageToken": {
          "description": "The page token, provide this to retrieve the subsequent page.",
          "type": "string"
        },
        "notebooks": {
          "items": {
            "$ref": "GoogleCloudNotebooklmV1alphaNotebook"
          },
          "type": "array",
          "description": "The list of recently viewed notebooks."
        }
      },
      "id": "GoogleCloudNotebooklmV1alphaListRecentlyViewedNotebooksResponse"
    },
    "GoogleCloudDiscoveryengineV1alphaRecrawlUrisMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaRecrawlUrisMetadata",
      "description": "Metadata related to the progress of the SiteSearchEngineService.RecrawlUris operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "invalidUris": {
          "type": "array",
          "description": "Unique URIs in the request that have invalid format. Sample limited to 1000.",
          "items": {
            "type": "string"
          }
        },
        "urisNotMatchingTargetSitesCount": {
          "type": "integer",
          "description": "Total number of URIs that don't match any TargetSites.",
          "format": "int32"
        },
        "pendingCount": {
          "format": "int32",
          "description": "Total number of URIs that have yet to be crawled.",
          "type": "integer"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        },
        "noindexUris": {
          "description": "URIs that have no index meta tag. Sample limited to 1000.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "quotaExceededCount": {
          "format": "int32",
          "description": "Total number of URIs that were rejected due to insufficient indexing resources.",
          "type": "integer"
        },
        "urisNotMatchingTargetSites": {
          "items": {
            "type": "string"
          },
          "description": "Unique URIs in the request that don't match any TargetSite in the DataStore, only match TargetSites that haven't been fully indexed, or match a TargetSite with type EXCLUDE. Sample limited to 1000.",
          "type": "array"
        },
        "validUrisCount": {
          "description": "Total number of unique URIs in the request that are not in invalid_uris.",
          "type": "integer",
          "format": "int32"
        },
        "successCount": {
          "type": "integer",
          "description": "Total number of URIs that have been crawled so far.",
          "format": "int32"
        },
        "invalidUrisCount": {
          "description": "Total number of unique URIs in the request that have invalid format.",
          "type": "integer",
          "format": "int32"
        },
        "noindexUrisCount": {
          "description": "Total number of URIs that have no index meta tag.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaCheckRequirementResponseMetricQueryResult": {
      "id": "GoogleCloudDiscoveryengineV1alphaCheckRequirementResponseMetricQueryResult",
      "type": "object",
      "description": "Metric result. The metric are in the requirement_condition.",
      "properties": {
        "value": {
          "description": "Value of the metric query.",
          "$ref": "GoogleMonitoringV3TypedValue"
        },
        "metricType": {
          "description": "Type identifier of the metric corresponding to this query result.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "This metric query name is mapping to variables in the requirement_condition."
        },
        "timestamp": {
          "format": "google-datetime",
          "description": "Time corresponding to when this metric value was calculated.",
          "type": "string"
        },
        "unit": {
          "description": "The unit in which this metric is reported. Follows [The Unified Code for Units of Measure](https://unitsofmeasure.org/ucum.html) standard.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestFacetSpecFacetKey": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestFacetSpecFacetKey",
      "type": "object",
      "description": "Specifies how a facet is computed.",
      "properties": {
        "intervals": {
          "type": "array",
          "description": "Set only if values should be bucketed into intervals. Must be set for facets with numerical values. Must not be set for facet with text values. Maximum number of intervals is 30.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaInterval"
          }
        },
        "orderBy": {
          "type": "string",
          "description": "The order in which documents are returned. Allowed values are: * \"count desc\", which means order by SearchResponse.Facet.values.count descending. * \"value desc\", which means order by SearchResponse.Facet.values.value descending. Only applies to textual facets. If not set, textual values are sorted in [natural order](https://en.wikipedia.org/wiki/Natural_sort_order); numerical intervals are sorted in the order given by FacetSpec.FacetKey.intervals."
        },
        "restrictedValues": {
          "items": {
            "type": "string"
          },
          "description": "Only get facet for the given restricted values. Only supported on textual fields. For example, suppose \"category\" has three values \"Action > 2022\", \"Action > 2021\" and \"Sci-Fi > 2022\". If set \"restricted_values\" to \"Action > 2022\", the \"category\" facet only contains \"Action > 2022\". Only supported on textual fields. Maximum is 10.",
          "type": "array"
        },
        "prefixes": {
          "type": "array",
          "description": "Only get facet values that start with the given string prefix. For example, suppose \"category\" has three values \"Action > 2022\", \"Action > 2021\" and \"Sci-Fi > 2022\". If set \"prefixes\" to \"Action\", the \"category\" facet only contains \"Action > 2022\" and \"Action > 2021\". Only supported on textual fields. Maximum is 10.",
          "items": {
            "type": "string"
          }
        },
        "caseInsensitive": {
          "description": "True to make facet keys case insensitive when getting faceting values with prefixes or contains; false otherwise.",
          "type": "boolean"
        },
        "contains": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Only get facet values that contain the given strings. For example, suppose \"category\" has three values \"Action > 2022\", \"Action > 2021\" and \"Sci-Fi > 2022\". If set \"contains\" to \"2022\", the \"category\" facet only contains \"Action > 2022\" and \"Sci-Fi > 2022\". Only supported on textual fields. Maximum is 10."
        },
        "key": {
          "description": "Required. Supported textual and numerical facet keys in Document object, over which the facet values are computed. Facet key is case-sensitive.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperimentConfigEvolutionSettings": {
      "id": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperimentConfigEvolutionSettings",
      "description": "Evolution settings for the experiment.",
      "properties": {
        "parentSamplingConfig": {
          "description": "Optional. Parent sampling configuration.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperimentConfigEvolutionSettingsParentSamplingConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContent": {
      "type": "object",
      "description": "A piece of content and possibly its grounding information. Not all content needs grounding. Phrases like \"Of course, I will gladly search it for you.\" do not need grounding.",
      "properties": {
        "textGroundingMetadata": {
          "description": "Metadata for grounding based on text sources.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContentTextGroundingMetadata"
        },
        "citationMetadata": {
          "description": "Source attribution of the generated content. See also https://cloud.google.com/vertex-ai/generative-ai/docs/learn/overview#citation_check",
          "$ref": "GoogleCloudDiscoveryengineV1alphaCitationMetadata"
        },
        "content": {
          "description": "The content.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantContent"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContent"
    },
    "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries": {
      "id": "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries",
      "type": "object",
      "description": "The historical crawl rate timeseries data, used for monitoring.",
      "properties": {
        "qpsTimeSeries": {
          "description": "The QPS of the crawl rate.",
          "$ref": "GoogleMonitoringV3TimeSeries"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1SiteVerificationInfo": {
      "type": "object",
      "description": "Verification information for target sites in advanced site search.",
      "properties": {
        "verifyTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Latest site verification time."
        },
        "siteVerificationState": {
          "description": "Site verification state indicating the ownership and validity.",
          "type": "string",
          "enumDescriptions": [
            "Defaults to VERIFIED.",
            "Site ownership verified.",
            "Site ownership pending verification or verification failed.",
            "Site exempt from verification, e.g., a public website that opens to all."
          ],
          "enum": [
            "SITE_VERIFICATION_STATE_UNSPECIFIED",
            "VERIFIED",
            "UNVERIFIED",
            "EXEMPTED"
          ]
        }
      },
      "id": "GoogleCloudDiscoveryengineV1SiteVerificationInfo"
    },
    "GoogleCloudDiscoveryengineV1EngineSearchEngineConfig": {
      "description": "Configurations for a Search Engine.",
      "properties": {
        "searchTier": {
          "type": "string",
          "description": "The search feature tier of this engine. Different tiers might have different pricing. To learn more, check the pricing documentation. Defaults to SearchTier.SEARCH_TIER_STANDARD if not specified.",
          "enumDescriptions": [
            "Default value when the enum is unspecified. This is invalid to use.",
            "Standard tier.",
            "Enterprise tier."
          ],
          "enum": [
            "SEARCH_TIER_UNSPECIFIED",
            "SEARCH_TIER_STANDARD",
            "SEARCH_TIER_ENTERPRISE"
          ]
        },
        "searchAddOns": {
          "description": "The add-on that this search engine enables.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value when the enum is unspecified. This is invalid to use.",
              "Large language model add-on."
            ],
            "enum": [
              "SEARCH_ADD_ON_UNSPECIFIED",
              "SEARCH_ADD_ON_LLM"
            ]
          }
        },
        "requiredSubscriptionTier": {
          "enumDescriptions": [
            "Default value.",
            "Search tier. Search tier can access Vertex AI Search features and NotebookLM features.",
            "Gemini Enterprise Plus tier.",
            "NotebookLM tier. NotebookLM is a subscription tier can only access NotebookLM features.",
            "Gemini Frontline worker tier.",
            "Gemini Business Starter tier.",
            "Gemini Business tier.",
            "Gemini Enterprise Standard tier.",
            "Gemini Enterprise Standard tier for emerging markets.",
            "Gemini Enterprise EDU tier.",
            "Gemini Enterprise EDU Pro tier.",
            "Gemini Enterprise EDU tier for emerging market only.",
            "Gemini Enterprise EDU Pro tier for emerging market.",
            "Gemini Frontline Starter tier.",
            "Represents the Gemini Enterprise Consumption-only tier: $0 subscription billed purely on usage (PAYG)."
          ],
          "enum": [
            "SUBSCRIPTION_TIER_UNSPECIFIED",
            "SUBSCRIPTION_TIER_SEARCH",
[...]
