{
  "name": "discoveryengine",
  "title": "Discovery Engine API",
  "mtlsRootUrl": "https://discoveryengine.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "version_module": true,
  "batchPath": "batch",
  "schemas": {
    "GoogleCloudDiscoveryengineV1SearchRequestBoostSpecConditionBoostSpecBoostControlSpec": {
      "id": "GoogleCloudDiscoveryengineV1SearchRequestBoostSpecConditionBoostSpecBoostControlSpec",
      "description": "Specification for custom ranking based on customer specified attribute value. It provides more controls for customized ranking than the simple (condition, boost) combination above.",
      "properties": {
        "fieldName": {
          "description": "The name of the field whose value will be used to determine the boost amount.",
          "type": "string"
        },
        "interpolationType": {
          "type": "string",
          "enumDescriptions": [
            "Interpolation type is unspecified. In this case, it defaults to Linear.",
            "Piecewise linear interpolation will be applied."
          ],
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ],
          "description": "The interpolation type to be applied to connect the control points listed below."
        },
        "attributeType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified AttributeType.",
            "The value of the numerical field will be used to dynamically update the boost amount. In this case, the attribute_value (the x value) of the control point will be the actual value of the numerical field for which the boost_amount is specified.",
            "For the freshness use case the attribute value will be the duration between the current time and the date in the datetime field specified. The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`. For example, `5D`, `3DT12H30M`, `T24H`."
          ],
          "description": "The attribute type to be used to determine the boost amount. The attribute value can be derived from the field value of the specified field_name. In the case of numerical it is straightforward i.e. attribute_value = numerical_field_value. In the case of freshness however, attribute_value = (time.now() - datetime_field_value).",
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ]
        },
        "controlPoints": {
          "type": "array",
          "description": "The control points used to define the curve. The monotonic function (defined through the interpolation_type above) passes through the control points listed here.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1SearchRequestBoostSpecConditionBoostSpecBoostControlSpecControlPoint"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaDataProtectionPolicySensitiveDataProtectionPolicy": {
      "id": "GoogleCloudDiscoveryengineV1alphaDataProtectionPolicySensitiveDataProtectionPolicy",
      "description": "Specifies a Sensitive Data Protection (https://cloud.google.com/sensitive-data-protection/docs/sensitive-data-protection-overview) policy.",
      "properties": {
        "policy": {
          "description": "Optional. Specifies the resource name of the Sensitive Data Protection content policy.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicySensitiveDataProtectionPolicy": {
      "id": "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicySensitiveDataProtectionPolicy",
      "description": "Specifies a Sensitive Data Protection (https://cloud.google.com/sensitive-data-protection/docs/sensitive-data-protection-overview) policy.",
      "properties": {
        "policy": {
          "description": "Optional. The Sensitive Data Protection policy resource name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSchema": {
      "description": "Defines the structure and layout of a type of document data.",
      "properties": {
        "name": {
          "description": "Immutable. The full resource name of the schema, in the format of `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/schemas/{schema}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "jsonSchema": {
          "description": "The JSON representation of the schema.",
          "type": "string"
        },
        "structSchema": {
          "description": "The structured representation of the schema.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSchema",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1UserInfo": {
      "description": "Information of an end user.",
      "properties": {
        "userId": {
          "description": "Highly recommended for logged-in users. Unique identifier for logged-in user, such as a user name. Don't set for anonymous users. Always use a hashed value for this ID. Don't set the field to the same fixed ID for different users. This mixes the event history of those users together, which results in degraded model quality. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an `INVALID_ARGUMENT` error is returned. Represents an opaque ID to the Search API. The Search API doesn't interpret the value in any way. This field is used to associate events with a user across sessions if the events are being uploaded.",
          "type": "string"
        },
        "userAgent": {
          "description": "User agent as included in the HTTP header. The field must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an `INVALID_ARGUMENT` error is returned. This should not be set when using the client side event reporting with GTM or JavaScript tag in UserEventService.CollectUserEvent or if UserEvent.direct_user_request is set.",
          "type": "string"
        },
        "preciseLocation": {
          "description": "Optional. Input only. Precise location of the user. It is used in Custom Ranking to calculate the distance between the user and the relevant documents.",
          "$ref": "GoogleCloudDiscoveryengineV1UserInfoPreciseLocation"
        },
        "timeZone": {
          "description": "Optional. IANA time zone, e.g. Europe/Budapest.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1UserInfo",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1AnswerStepActionObservationSearchResultChunkInfo": {
      "id": "GoogleCloudDiscoveryengineV1AnswerStepActionObservationSearchResultChunkInfo",
      "description": "Chunk information.",
      "properties": {
        "relevanceScore": {
          "type": "number",
          "format": "float",
          "description": "The relevance of the chunk for a given query. Values range from 0.0 (completely irrelevant) to 1.0 (completely relevant). This value is for informational purpose only. It may change for the same query and chunk at any time due to a model retraining or change in implementation."
        },
        "content": {
          "description": "Chunk textual content.",
          "type": "string"
        },
        "chunk": {
          "description": "Chunk resource name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ServingConfigMediaConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1ServingConfigMediaConfig",
      "description": "Specifies the configurations needed for Media Discovery. Currently we support: * `demote_content_watched`: Threshold for watched content demotion. Customers can specify if using watched content demotion or use viewed detail page. Using the content watched demotion, customers need to specify the watched minutes or percentage exceeds the threshold, the content will be demoted in the recommendation result. * `promote_fresh_content`: cutoff days for fresh content promotion. Customers can specify if using content freshness promotion. If the content was published within the cutoff days, the content will be promoted in the recommendation result. Can only be set if SolutionType is SOLUTION_TYPE_RECOMMENDATION.",
      "properties": {
        "demoteContentWatchedPastDays": {
          "type": "integer",
          "description": "Optional. Specifies the number of days to look back for demoting watched content. If set to zero or unset, defaults to the maximum of 365 days.",
          "format": "int32"
        },
        "demotionEventType": {
          "description": "Specifies the event type used for demoting recommendation result. Currently supported values: * `view-item`: Item viewed. * `media-play`: Start/resume watching a video, playing a song, etc. * `media-complete`: Finished or stopped midway through a video, song, etc. If unset, watch history demotion will not be applied. Content freshness demotion will still be applied.",
          "type": "string"
        },
        "contentWatchedPercentageThreshold": {
          "type": "number",
          "description": "Specifies the content watched percentage threshold for demotion. Threshold value must be between [0, 1.0] inclusive.",
          "format": "float"
        },
        "contentFreshnessCutoffDays": {
          "type": "integer",
          "description": "Specifies the content freshness used for recommendation result. Contents will be demoted if contents were published for more than content freshness cutoff days.",
          "format": "int32"
        },
        "contentWatchedSecondsThreshold": {
          "description": "Specifies the content watched minutes threshold for demotion.",
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1SearchRequestBoostSpecConditionBoostSpec": {
      "id": "GoogleCloudDiscoveryengineV1SearchRequestBoostSpecConditionBoostSpec",
      "description": "Boost applies to documents which match a condition.",
      "properties": {
        "condition": {
          "description": "An expression which specifies a boost condition. The syntax and supported fields are the same as a filter expression. See SearchRequest.filter for detail syntax and limitations. Examples: * To boost documents with document ID \"doc_1\" or \"doc_2\", and color \"Red\" or \"Blue\": `(document_id: ANY(\"doc_1\", \"doc_2\")) AND (color: ANY(\"Red\", \"Blue\"))`",
          "type": "string"
        },
        "boost": {
          "type": "number",
          "description": "Strength of the condition boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0. Setting to 1.0 gives the document a big promotion. However, it does not necessarily mean that the boosted document will be the top result at all times, nor that other documents will be excluded. Results could still be shown even when none of them matches the condition. And results that are significantly more relevant to the search query can still trump your heavily favored but irrelevant documents. Setting to -1.0 gives the document a big demotion. However, results that are deeply relevant might still be shown. The document will have an upstream battle to get a fairly high ranking, but it is not blocked out completely. Setting to 0.0 means no boost applied. The boosting condition is ignored. Only one of the (condition, boost) combination or the boost_control_spec below are set. If both are set then the global boost is ignored and the more fine-grained boost_control_spec is applied.",
          "format": "float"
        },
        "boostControlSpec": {
          "description": "Complex specification for custom ranking based on customer defined attribute value.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestBoostSpecConditionBoostSpecBoostControlSpec"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ControlBoostActionInterpolationBoostSpec": {
      "id": "GoogleCloudDiscoveryengineV1ControlBoostActionInterpolationBoostSpec",
      "description": "Specification for custom ranking based on customer specified attribute value. It provides more controls for customized ranking than the simple (condition, boost) combination above.",
      "properties": {
        "fieldName": {
          "description": "Optional. The name of the field whose value will be used to determine the boost amount.",
          "type": "string"
        },
        "interpolationType": {
          "description": "Optional. The interpolation type to be applied to connect the control points listed below.",
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Interpolation type is unspecified. In this case, it defaults to Linear.",
            "Piecewise linear interpolation will be applied."
          ]
        },
        "controlPoints": {
          "description": "Optional. The control points used to define the curve. The monotonic function (defined through the interpolation_type above) passes through the control points listed here.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1ControlBoostActionInterpolationBoostSpecControlPoint"
          },
          "type": "array"
        },
        "attributeType": {
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ],
          "description": "Optional. The attribute type to be used to determine the boost amount. The attribute value can be derived from the field value of the specified field_name. In the case of numerical it is straightforward i.e. attribute_value = numerical_field_value. In the case of freshness however, attribute_value = (time.now() - datetime_field_value).",
          "type": "string",
          "enumDescriptions": [
            "Unspecified AttributeType.",
            "The value of the numerical field will be used to dynamically update the boost amount. In this case, the attribute_value (the x value) of the control point will be the actual value of the numerical field for which the boost_amount is specified.",
            "For the freshness use case the attribute value will be the duration between the current time and the date in the datetime field specified. The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`. For example, `5D`, `3DT12H30M`, `T24H`."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ListServingConfigsResponse": {
      "id": "GoogleCloudDiscoveryengineV1ListServingConfigsResponse",
      "description": "Response for ListServingConfigs method.",
      "properties": {
        "servingConfigs": {
          "description": "All the ServingConfigs for a given dataStore.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1ServingConfig"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Pagination token, if not returned indicates the last page.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "A2aV1AgentProvider": {
      "description": "Represents information about the service provider of an agent.",
      "properties": {
        "url": {
          "description": "The providers reference url Example: \"https://ai.google.dev\"",
          "type": "string"
        },
        "organization": {
          "description": "The providers organization name Example: \"Google\"",
          "type": "string"
        }
      },
      "id": "A2aV1AgentProvider",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaImportSampleQueriesResponse": {
      "description": "Response of the SampleQueryService.ImportSampleQueries method. If the long running operation is done, this message is returned by the google.longrunning.Operations.response field if the operation is successful.",
      "properties": {
        "errorSamples": {
          "type": "array",
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "errorConfig": {
          "description": "The desired location of errors incurred during the Import.",
          "$ref": "GoogleCloudDiscoveryengineV1betaImportErrorConfig"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaImportSampleQueriesResponse",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ChunkAnnotationMetadata": {
      "id": "GoogleCloudDiscoveryengineV1ChunkAnnotationMetadata",
      "description": "The annotation metadata includes structured content in the current chunk.",
      "properties": {
        "imageId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Image id is provided if the structured content is based on an image."
        },
        "structuredContent": {
          "description": "Output only. The structured content information.",
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1ChunkStructuredContent"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1AssistAnswerCustomerPolicyEnforcementResultPolicyEnforcementResult": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1AssistAnswerCustomerPolicyEnforcementResultPolicyEnforcementResult",
      "description": "Customer policy enforcement result for a single policy type.",
      "properties": {
        "bannedPhraseEnforcementResult": {
          "description": "The policy enforcement result for the banned phrase policy.",
          "$ref": "GoogleCloudDiscoveryengineV1AssistAnswerCustomerPolicyEnforcementResultBannedPhraseEnforcementResult"
        },
        "modelArmorEnforcementResult": {
          "description": "The policy enforcement result for the Model Armor policy.",
          "$ref": "GoogleCloudDiscoveryengineV1AssistAnswerCustomerPolicyEnforcementResultModelArmorEnforcementResult"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1PurgeDocumentsMetadata": {
      "description": "Metadata related to the progress of the PurgeDocuments operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "ignoredCount": {
          "type": "string",
          "description": "Count of entries that were ignored as entries were not found.",
          "format": "int64"
        },
        "successCount": {
          "format": "int64",
          "description": "Count of entries that were deleted successfully.",
          "type": "string"
        },
        "failureCount": {
          "format": "int64",
          "description": "Count of entries that encountered errors while processing.",
          "type": "string"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1PurgeDocumentsMetadata",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1AnswerQueryRequestEndUserSpecEndUserMetaDataChunkInfoDocumentMetadata": {
      "type": "object",
      "description": "Document metadata contains the information of the document of the current chunk.",
      "properties": {
        "title": {
          "description": "Title of the document.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AnswerQueryRequestEndUserSpecEndUserMetaDataChunkInfoDocumentMetadata"
    },
    "GoogleCloudDiscoveryengineV1ProjectServiceTerms": {
      "id": "GoogleCloudDiscoveryengineV1ProjectServiceTerms",
      "description": "Metadata about the terms of service.",
      "properties": {
        "declineTime": {
          "description": "The last time when the project declined or revoked the agreement to terms of service.",
          "format": "google-datetime",
          "type": "string"
        },
        "id": {
          "description": "The unique identifier of this terms of service. Available terms: * `GA_DATA_USE_TERMS`: [Terms for data use](https://cloud.google.com/retail/data-use-terms). When using this as `id`, the acceptable version to provide is `2022-11-23`.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "TERMS_ACCEPTED",
            "TERMS_PENDING",
            "TERMS_DECLINED"
          ],
          "description": "Whether the project has accepted/rejected the service terms or it is still pending.",
          "type": "string",
          "enumDescriptions": [
            "The default value of the enum. This value is not actually used.",
            "The project has given consent to the terms of service.",
            "The project is pending to review and accept the terms of service.",
            "The project has declined or revoked the agreement to terms of service."
          ]
        },
        "acceptTime": {
          "description": "The last time when the project agreed to the terms of service.",
          "format": "google-datetime",
          "type": "string"
        },
        "version": {
          "description": "The version string of the terms of service. For acceptable values, see the comments for id above.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaActionConfig": {
      "type": "object",
      "description": "Informations to support actions on the connector.",
      "properties": {
        "isActionConfigured": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. The connector contains the necessary parameters and is configured to support actions."
        },
        "userDefinedScopesMapping": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaActionConfigScopeList"
          },
          "description": "Optional. Mapping from operation name to the list of scopes. Only be populated if there are user specified scopes."
        },
        "actionParams": {
          "description": "Optional. Action parameters in structured json format.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "jsonActionParams": {
          "description": "Optional. Action parameters in json string format.",
          "type": "string"
        },
        "useStaticSecrets": {
          "description": "Optional. Whether to use static secrets for the connector. If true, the secrets provided in the action_params will be ignored.",
          "type": "boolean"
        },
        "serviceName": {
          "description": "Optional. The Service Directory resource name (projects/*/locations/*/namespaces/*/services/*) representing a VPC network endpoint used to connect to the data source's `instance_uri`, defined in DataConnector.params. Required when VPC Service Controls are enabled.",
          "type": "string"
        },
        "createBapConnection": {
          "description": "Optional. Whether to create a BAP connection for the connector.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaActionConfig"
    },
    "GoogleCloudDiscoveryengineV1alphaSessionTurn": {
      "description": "Represents a turn, including a query from the user and a answer from service.",
      "properties": {
        "query": {
          "description": "Optional. The user query. May not be set if this turn is merely regenerating an answer to a different turn",
          "$ref": "GoogleCloudDiscoveryengineV1alphaQuery"
        },
        "detailedAnswer": {
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswer",
          "description": "Output only. In ConversationalSearchService.GetSession API, if GetSessionRequest.include_answer_details is set to true, this field will be populated when getting answer query session."
        },
        "live": {
          "description": "Optional. Indicates whether this turn is a live turn.",
          "type": "boolean"
        },
        "detailedAssistAnswer": {
          "description": "Output only. In ConversationalSearchService.GetSession API, if GetSessionRequest.include_answer_details is set to true, this field will be populated when getting assistant session.",
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistAnswer"
        },
        "queryConfig": {
          "description": "Optional. Represents metadata related to the query config, for example LLM model and version used, model parameters (temperature, grounding parameters, etc.). The prefix \"google.\" is reserved for Google-developed functionality.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "answer": {
          "description": "Optional. The resource name of the answer to the user query. Only set if the answer generation (/answer API call) happened in this turn.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSessionTurn",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaDataStoreServingConfigDataStore": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaDataStoreServingConfigDataStore",
      "description": "Stores information regarding the serving configurations at DataStore level.",
      "properties": {
        "disabledForServing": {
          "description": "Optional. If set true, the DataStore will not be available for serving search requests.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAlphaEvolveEvaluationScoresAlphaEvolveEvaluationScore": {
      "description": "Score for a single metric.",
      "properties": {
        "metric": {
          "description": "Required. Name of the metric.",
          "type": "string"
        },
        "score": {
          "format": "float",
          "description": "Required. Score of a program for this metric.",
          "type": "number"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveEvaluationScoresAlphaEvolveEvaluationScore",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaUserLicense": {
      "type": "object",
      "description": "User License information assigned by the admin.",
      "properties": {
        "licenseAssignmentState": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value.",
            "License assigned to the user.",
            "No license assigned to the user. Deprecated, translated to NO_LICENSE.",
            "No license assigned to the user.",
            "User attempted to login but no license assigned to the user. This state is only used for no user first time login attempt but cannot get license assigned. Users already logged in but cannot get license assigned will be assigned NO_LICENSE state(License could be unassigned by admin).",
            "User is blocked from assigning a license."
          ],
          "enum": [
            "LICENSE_ASSIGNMENT_STATE_UNSPECIFIED",
            "ASSIGNED",
            "UNASSIGNED",
            "NO_LICENSE",
            "NO_LICENSE_ATTEMPTED_LOGIN",
            "BLOCKED"
          ],
          "description": "Output only. License assignment state of the user. If the user is assigned with a license config, the user login will be assigned with the license; If the user's license assignment state is unassigned or unspecified, no license config will be associated to the user;"
        },
        "createTime": {
          "description": "Output only. User created timestamp.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "userPrincipal": {
          "description": "Required. Immutable. The user principal of the User, could be email address or other prinical identifier. This field is immutable. Admin assign licenses based on the user principal.",
          "type": "string"
        },
        "userProfile": {
          "description": "Optional. The user profile. We user user full name(First name + Last name) as user profile.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. User update timestamp.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "lastLoginTime": {
          "description": "Output only. User last logged in time. If the user has not logged in yet, this field will be empty.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "licenseConfig": {
          "description": "Optional. The full resource name of the Subscription(LicenseConfig) assigned to the user.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaUserLicense"
    },
    "GoogleCloudDiscoveryengineV1DeleteEngineMetadata": {
      "type": "object",
      "description": "Metadata related to the progress of the EngineService.DeleteEngine operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1DeleteEngineMetadata"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestEmbeddingSpec": {
      "type": "object",
      "description": "The specification that uses customized query embedding vector to do semantic document retrieval.",
      "properties": {
        "embeddingVectors": {
          "type": "array",
          "description": "The embedding vector used for retrieval. Limit to 1.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestEmbeddingSpecEmbeddingVector"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestEmbeddingSpec"
    },
    "GoogleCloudDiscoveryengineV1alphaAlphaEvolveEvaluationInsightsAlphaEvolveEvaluationInsight": {
      "type": "object",
      "description": "A single evaluation insight.",
      "properties": {
        "label": {
          "description": "Optional. Label of the insight.",
          "type": "string"
        },
        "text": {
          "description": "Optional. Text of the insight.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveEvaluationInsightsAlphaEvolveEvaluationInsight"
    },
    "GoogleCloudDiscoveryengineV1PurgeSuggestionDenyListEntriesMetadata": {
      "id": "GoogleCloudDiscoveryengineV1PurgeSuggestionDenyListEntriesMetadata",
      "description": "Metadata related to the progress of the PurgeSuggestionDenyListEntries operation. This is returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1SpannerSource": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1SpannerSource",
      "description": "The Spanner source for importing data",
      "properties": {
        "enableDataBoost": {
          "description": "Whether to apply data boost on Spanner export. Enabling this option will incur additional cost. More info can be found [here](https://cloud.google.com/spanner/docs/databoost/databoost-overview#billing_and_quotas).",
          "type": "boolean"
        },
        "instanceId": {
          "description": "Required. The instance ID of the source Spanner table.",
          "type": "string"
        },
        "projectId": {
          "description": "The project ID that contains the Spanner source. Has a length limit of 128 characters. If not specified, inherits the project ID from the parent request.",
          "type": "string"
        },
        "tableId": {
          "description": "Required. The table name of the Spanner database that needs to be imported.",
          "type": "string"
        },
        "databaseId": {
          "description": "Required. The database ID of the source Spanner table.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1CheckGroundingResponse": {
      "id": "GoogleCloudDiscoveryengineV1CheckGroundingResponse",
      "description": "Response message for the GroundedGenerationService.CheckGrounding method.",
      "properties": {
        "citedChunks": {
          "description": "List of facts cited across all claims in the answer candidate. These are derived from the facts supplied in the request.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1FactChunk"
          },
          "type": "array"
        },
        "citedFacts": {
          "type": "array",
          "description": "List of facts cited across all claims in the answer candidate. These are derived from the facts supplied in the request.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1CheckGroundingResponseCheckGroundingFactChunk"
          }
        },
        "claims": {
          "description": "Claim texts and citation info across all claims in the answer candidate.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1CheckGroundingResponseClaim"
          },
          "type": "array"
        },
        "supportScore": {
          "type": "number",
          "format": "float",
          "description": "The support score for the input answer candidate. Higher the score, higher is the fraction of claims that are supported by the provided facts. This is always set when a response is returned."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchResultList": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchResultList",
      "description": "Search result list.",
      "properties": {
        "searchResults": {
          "type": "array",
          "description": "Search results.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchResultListSearchResult"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpecModelSpec": {
      "description": "Specification of the model.",
      "properties": {
        "version": {
          "description": "The model version used to generate the summary. Supported values are: * `stable`: string. Default value when no value is specified. Uses a generally available, fine-tuned model. For more information, see [Answer generation model versions and lifecycle](https://cloud.google.com/generative-ai-app-builder/docs/answer-generation-models). * `preview`: string. (Public preview) Uses a preview model. For more information, see [Answer generation model versions and lifecycle](https://cloud.google.com/generative-ai-app-builder/docs/answer-generation-models).",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSummarySpecModelSpec",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestRelevanceFilterSpecRelevanceThresholdSpec": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestRelevanceFilterSpecRelevanceThresholdSpec",
      "description": "Specification for relevance filtering on a specific sub-search.",
      "properties": {
        "relevanceThreshold": {
          "description": "Pre-defined relevance threshold for the sub-search.",
          "enum": [
            "RELEVANCE_THRESHOLD_UNSPECIFIED",
            "LOWEST",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. In this case, server behavior defaults to Google defined threshold.",
            "Lowest relevance threshold.",
            "Low relevance threshold.",
            "Medium relevance threshold.",
            "High relevance threshold."
          ]
        },
        "semanticRelevanceThreshold": {
          "format": "float",
          "description": "Custom relevance threshold for the sub-search. The value must be in [0.0, 1.0].",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaTenant": {
      "type": "object",
      "description": "Tenant information for a connector source. This includes some of the same information stored in the Credential message, but is limited to only what is needed to provide a list of accessible tenants to the user.",
      "properties": {
        "id": {
          "description": "The tenant's instance ID. Examples: Jira (\"8594f221-9797-5f78-1fa4-485e198d7cd0\"), Slack (\"T123456\").",
          "type": "string"
        },
        "displayName": {
          "description": "Optional display name for the tenant, e.g. \"My Slack Team\".",
          "type": "string"
        },
        "uri": {
          "description": "The URI of the tenant, if applicable. For example, the URI of a Jira instance is https://my-jira-instance.atlassian.net, and a Slack tenant does not have a URI.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaTenant"
    },
    "GoogleCloudDiscoveryengineV1TargetSiteFailureReasonQuotaFailure": {
      "description": "Failed due to insufficient quota.",
      "properties": {
        "totalRequiredQuota": {
          "type": "string",
          "format": "int64",
          "description": "This number is an estimation on how much total quota this project needs to successfully complete indexing."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1TargetSiteFailureReasonQuotaFailure",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestCustomRankingParams": {
      "description": "Configuration parameters for the Custom Ranking feature.",
      "properties": {
        "expressionsToPrecompute": {
          "type": "array",
          "description": "Optional. A list of ranking expressions (see `ranking_expression` for the syntax documentation) to evaluate. The evaluation results will be returned in `SearchResponse.SearchResult.rank_signals.precomputed_expression_values` field.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestCustomRankingParams",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaIdpConfigExternalIdpConfig": {
      "type": "object",
      "description": "Third party IDP Config.",
      "properties": {
        "workforcePoolName": {
          "description": "Workforce pool name. Example: \"locations/global/workforcePools/pool_id\"",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaIdpConfigExternalIdpConfig"
    },
    "GoogleCloudDiscoveryengineV1alphaDeleteSchemaMetadata": {
      "type": "object",
      "description": "Metadata for DeleteSchema LRO.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteSchemaMetadata"
    },
    "A2aV1MutualTlsSecurityScheme": {
      "id": "A2aV1MutualTlsSecurityScheme",
      "properties": {
        "description": {
          "description": "Description of this security scheme.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleIamV1Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        },
        "etag": {
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "type": "array"
        }
      },
      "id": "GoogleIamV1Policy",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineLoggingServiceContext": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineLoggingServiceContext",
      "description": "Describes a running service that sends errors.",
      "properties": {
        "service": {
          "description": "An identifier of the service—for example, `discoveryengine.googleapis.com`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1WidgetConfigFacetField": {
      "type": "object",
      "description": "Facet fields that store the mapping of fields to end user widget appearance.",
      "properties": {
        "displayName": {
          "description": "Optional. The field name that end users will see.",
          "type": "string"
        },
        "field": {
          "description": "Required. Registered field name. The format is `field.abc`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1WidgetConfigFacetField"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerCitation": {
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerCitation",
      "description": "Citation info for a segment.",
      "properties": {
        "sources": {
          "type": "array",
          "description": "Citation sources for the attributed segment.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerCitationSource"
          }
        },
        "endIndex": {
          "format": "int64",
          "description": "End of the attributed segment, exclusive. Measured in bytes (UTF-8 unicode). If there are multi-byte characters,such as non-ASCII characters, the index measurement is longer than the string length.",
          "type": "string"
        },
        "startIndex": {
          "type": "string",
          "description": "Index indicates the start of the segment, measured in bytes (UTF-8 unicode). If there are multi-byte characters,such as non-ASCII characters, the index measurement is longer than the string length.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1AssistantGroundedContentTextGroundingMetadataReference": {
      "type": "object",
      "description": "Referenced content and related document metadata.",
      "properties": {
        "documentMetadata": {
          "description": "Document metadata.",
          "$ref": "GoogleCloudDiscoveryengineV1AssistantGroundedContentTextGroundingMetadataReferenceDocumentMetadata"
        },
        "content": {
          "description": "Referenced text content.",
          "type": "string"
        },
        "codeSnippet": {
          "description": "Chunk of code snippet from the referenced document.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AssistantGroundedContentTextGroundingMetadataReference"
    },
    "A2aV1SendMessageResponse": {
      "description": "////// Response Messages ///////////",
      "properties": {
        "task": {
          "$ref": "A2aV1Task"
        },
        "message": {
          "$ref": "A2aV1Message"
        }
      },
      "id": "A2aV1SendMessageResponse",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestDisplaySpec": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestDisplaySpec",
      "description": "Specifies features for display, like match highlighting.",
      "properties": {
        "matchHighlightingCondition": {
          "type": "string",
          "enumDescriptions": [
            "Server behavior is the same as `MATCH_HIGHLIGHTING_DISABLED`.",
            "Disables match highlighting on all documents.",
            "Enables match highlighting on all documents."
          ],
          "description": "The condition under which match highlighting should occur.",
          "enum": [
            "MATCH_HIGHLIGHTING_CONDITION_UNSPECIFIED",
            "MATCH_HIGHLIGHTING_DISABLED",
            "MATCH_HIGHLIGHTING_ENABLED"
          ]
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaEngineChatEngineMetadata": {
      "type": "object",
      "description": "Additional information of a Chat Engine. Fields in this message are output only.",
      "properties": {
        "dialogflowAgent": {
          "description": "The resource name of a Dialogflow agent, that this Chat Engine refers to. Format: `projects//locations//agents/`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaEngineChatEngineMetadata"
    },
    "A2aV1StringList": {
      "type": "object",
      "description": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED",
      "properties": {
        "list": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "A2aV1StringList"
    },
    "GoogleCloudDiscoveryengineV1DataStore": {
      "type": "object",
      "description": "DataStore captures global settings and configs at the DataStore level.",
      "properties": {
        "aclEnabled": {
          "description": "Immutable. Whether data in the DataStore has ACL information. If set to `true`, the source data must have ACL. ACL will be ingested when data is ingested by DocumentService.ImportDocuments methods. When ACL is enabled for the DataStore, Document can't be accessed by calling DocumentService.GetDocument or DocumentService.ListDocuments. Currently ACL is only supported in `GENERIC` industry vertical with non-`PUBLIC_WEBSITE` content config.",
          "type": "boolean"
        },
        "configurableBillingApproachUpdateTime": {
          "description": "Output only. The timestamp when configurable_billing_approach was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "documentProcessingConfig": {
          "description": "Configuration for Document understanding and enrichment.",
          "$ref": "GoogleCloudDiscoveryengineV1DocumentProcessingConfig"
        },
        "kmsKeyName": {
          "description": "Input only. The KMS key to be used to protect this DataStore at creation time. Must be set for requests that need to comply with CMEK Org Policy protections. If this field is set and processed successfully, the DataStore will be protected by the KMS key, as indicated in the cmek_config field.",
          "type": "string"
        },
        "configurableBillingApproach": {
          "description": "Optional. Configuration for configurable billing approach. See",
          "enum": [
            "CONFIGURABLE_BILLING_APPROACH_UNSPECIFIED",
            "CONFIGURABLE_SUBSCRIPTION_INDEXING_CORE",
            "CONFIGURABLE_CONSUMPTION_EMBEDDING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. For Spark and non-Spark non-configurable billing approach.",
            "Use the subscription base + overage billing for indexing core for non embedding storage.",
            "Use the consumption pay-as-you-go billing for embedding storage add-on."
          ]
        },
        "billingEstimation": {
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1DataStoreBillingEstimation",
          "description": "Output only. Data size estimation for billing."
        },
        "advancedSiteSearchConfig": {
          "description": "Optional. Configuration for advanced site search.",
          "$ref": "GoogleCloudDiscoveryengineV1AdvancedSiteSearchConfig"
        },
        "workspaceConfig": {
          "description": "Config to store data store type configuration for workspace data. This must be set when DataStore.content_config is set as DataStore.ContentConfig.GOOGLE_WORKSPACE.",
          "$ref": "GoogleCloudDiscoveryengineV1WorkspaceConfig"
        },
        "identityMappingStore": {
          "description": "Immutable. The fully qualified resource name of the associated IdentityMappingStore. This field can only be set for acl_enabled DataStores with `THIRD_PARTY` or `GSUITE` IdP. Format: `projects/{project}/locations/{location}/identityMappingStores/{identity_mapping_store}`.",
          "type": "string"
        },
        "defaultSchemaId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The id of the default Schema associated to this data store."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp the DataStore was created at."
        },
        "startingSchema": {
          "description": "The start schema to use for this DataStore when provisioning it. If unset, a default vertical specialized schema will be used. This field is only used by CreateDataStore API, and will be ignored if used in other APIs. This field will be omitted from all API responses including CreateDataStore API. To retrieve a schema of a DataStore, use SchemaService.GetSchema API instead. The provided schema will be validated against certain rules on schema. Learn more from [this doc](https://cloud.google.com/generative-ai-app-builder/docs/provide-schema).",
          "$ref": "GoogleCloudDiscoveryengineV1Schema"
        },
        "naturalLanguageQueryUnderstandingConfig": {
          "description": "Optional. Configuration for Natural Language Query Understanding.",
          "$ref": "GoogleCloudDiscoveryengineV1NaturalLanguageQueryUnderstandingConfig"
        },
        "displayName": {
          "description": "Required. The data store display name. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        },
        "healthcareFhirConfig": {
          "description": "Optional. Configuration for `HEALTHCARE_FHIR` vertical.",
          "$ref": "GoogleCloudDiscoveryengineV1HealthcareFhirConfig"
        },
        "contentConfig": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Only contains documents without any Document.content.",
            "Only contains documents with Document.content.",
            "The data store is used for public website search.",
            "The data store is used for workspace search. Details of workspace data store are specified in the WorkspaceConfig."
          ],
          "description": "Immutable. The content config of the data store. If this field is unset, the server behavior defaults to ContentConfig.NO_CONTENT.",
          "enum": [
            "CONTENT_CONFIG_UNSPECIFIED",
            "NO_CONTENT",
            "CONTENT_REQUIRED",
            "PUBLIC_WEBSITE",
            "GOOGLE_WORKSPACE"
          ]
        },
        "industryVertical": {
          "description": "Immutable. The industry vertical that the data store registers.",
          "enum": [
            "INDUSTRY_VERTICAL_UNSPECIFIED",
            "GENERIC",
            "MEDIA",
            "HEALTHCARE_FHIR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Value used when unset.",
            "The generic vertical for documents that are not specific to any industry vertical.",
            "The media industry vertical.",
            "The healthcare FHIR vertical."
          ]
        },
        "servingConfigDataStore": {
          "description": "Optional. Stores serving config at DataStore level.",
          "$ref": "GoogleCloudDiscoveryengineV1DataStoreServingConfigDataStore"
        },
        "name": {
          "description": "Immutable. Identifier. The full resource name of the data store. Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "solutionTypes": {
          "type": "array",
          "description": "The solutions that the data store enrolls. Available solutions for each industry_vertical: * `MEDIA`: `SOLUTION_TYPE_RECOMMENDATION` and `SOLUTION_TYPE_SEARCH`. * `SITE_SEARCH`: `SOLUTION_TYPE_SEARCH` is automatically enrolled. Other solutions cannot be enrolled.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value.",
              "Used for Recommendations AI.",
              "Used for Discovery Search.",
              "Used for use cases related to the Generative AI agent.",
              "Used for use cases related to the Generative Chat agent. It's used for Generative chat engine only, the associated data stores must enrolled with `SOLUTION_TYPE_CHAT` solution.",
              "Used for AI Mode."
            ],
            "enum": [
              "SOLUTION_TYPE_UNSPECIFIED",
              "SOLUTION_TYPE_RECOMMENDATION",
              "SOLUTION_TYPE_SEARCH",
              "SOLUTION_TYPE_CHAT",
              "SOLUTION_TYPE_GENERATIVE_CHAT",
              "SOLUTION_TYPE_AI_MODE"
            ]
          }
        },
        "isInfobotFaqDataStore": {
          "description": "Optional. If set, this DataStore is an Infobot FAQ DataStore.",
          "type": "boolean"
        },
        "cmekConfig": {
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1CmekConfig",
          "description": "Output only. CMEK-related information for the DataStore."
        },
        "federatedSearchConfig": {
          "description": "Optional. If set, this DataStore is a federated search DataStore.",
          "$ref": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfig"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1DataStore"
    },
    "GoogleCloudDiscoveryengineV1ProvisionProjectRequest": {
      "description": "Request for ProjectService.ProvisionProject method.",
      "properties": {
        "acceptDataUseTerms": {
          "description": "Required. Set to `true` to specify that caller has read and would like to give consent to the [Terms for data use](https://cloud.google.com/retail/data-use-terms).",
          "type": "boolean"
        },
        "dataUseTermsVersion": {
          "description": "Required. The version of the [Terms for data use](https://cloud.google.com/retail/data-use-terms) that caller has read and would like to give consent to. Acceptable version is `2022-11-23`, and this may change over time.",
          "type": "string"
        },
        "saasParams": {
          "description": "Optional. Parameters for Agentspace.",
          "$ref": "GoogleCloudDiscoveryengineV1ProvisionProjectRequestSaasParams"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1ProvisionProjectRequest",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAlphaEvolveProgramContent": {
      "type": "object",
      "description": "A self-contained message containing the content of a program. Can represent a collection of files.",
      "properties": {
        "description": {
          "description": "Optional. Description of the program.",
          "type": "string"
        },
        "files": {
          "description": "Required. A list of source files that make up the overall program.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveSourceFile"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveProgramContent"
    },
    "GoogleCloudDiscoveryengineV1AnswerQueryRequestQueryUnderstandingSpecQueryRephraserSpec": {
      "id": "GoogleCloudDiscoveryengineV1AnswerQueryRequestQueryUnderstandingSpecQueryRephraserSpec",
      "description": "Query rephraser specification.",
      "properties": {
        "modelSpec": {
          "description": "Optional. Query Rephraser Model specification.",
          "$ref": "GoogleCloudDiscoveryengineV1AnswerQueryRequestQueryUnderstandingSpecQueryRephraserSpecModelSpec"
        },
        "disable": {
          "description": "Disable query rephraser.",
          "type": "boolean"
        },
        "maxRephraseSteps": {
          "format": "int32",
          "description": "Max rephrase steps. The max number is 5 steps. If not set or set to < 1, it will be set to 1 by default.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1SearchRequestCrowdingSpec": {
      "type": "object",
      "description": "Specification for crowding. Crowding improves the diversity of search results by limiting the number of results that share the same field value. For example, crowding on the color field with a max_count of 3 and mode DROP_CROWDED_RESULTS will return at most 3 results with the same color across all pages.",
      "properties": {
        "mode": {
          "enum": [
            "MODE_UNSPECIFIED",
            "DROP_CROWDED_RESULTS",
            "DEMOTE_CROWDED_RESULTS_TO_END"
          ],
          "description": "Mode to use for documents that are crowded away.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified crowding mode. In this case, server behavior defaults to Mode.DROP_CROWDED_RESULTS.",
            "Drop crowded results.",
            "Demote crowded results to the later pages."
          ]
        },
        "maxCount": {
          "type": "integer",
          "description": "The maximum number of documents to keep per value of the field. Once there are at least max_count previous results which contain the same value for the given field (according to the order specified in `order_by`), later results with the same value are \"crowded away\". If not specified, the default value is 1.",
          "format": "int32"
        },
        "field": {
          "description": "The field to use for crowding. Documents can be crowded by a field in the Document object. Crowding field is case sensitive.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1SearchRequestCrowdingSpec"
    },
    "GoogleTypeTimeZone": {
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "properties": {
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        },
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        }
      },
      "id": "GoogleTypeTimeZone",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestQueryExpansionSpec": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestQueryExpansionSpec",
      "description": "Specification to determine under which conditions query expansion should occur.",
      "properties": {
        "pinUnexpandedResults": {
          "description": "Whether to pin unexpanded results. If this field is set to true, unexpanded products are always at the top of the search results, followed by the expanded results.",
          "type": "boolean"
        },
        "condition": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified query expansion condition. In this case, server behavior defaults to Condition.DISABLED.",
            "Disabled query expansion. Only the exact search query is used, even if SearchResponse.total_size is zero.",
            "Automatic query expansion built by the Search API."
          ],
          "enum": [
            "CONDITION_UNSPECIFIED",
            "DISABLED",
            "AUTO"
          ],
          "description": "The condition under which query expansion should occur. Default to Condition.DISABLED."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaCreateEvaluationMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaCreateEvaluationMetadata",
      "description": "Metadata for EvaluationService.CreateEvaluation method.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1Conversation": {
      "type": "object",
      "description": "External conversation proto definition.",
      "properties": {
        "name": {
          "description": "Immutable. Fully qualified name `projects/{project}/locations/global/collections/{collection}/dataStore/*/conversations/*` or `projects/{project}/locations/global/collections/{collection}/engines/*/conversations/*`.",
          "type": "string"
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the conversation started."
        },
        "state": {
          "description": "The state of the Conversation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "COMPLETED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Conversation is currently open.",
            "Conversation has been completed."
          ]
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the conversation finished.",
          "readOnly": true,
          "type": "string"
        },
        "userPseudoId": {
          "description": "A unique identifier for tracking users.",
          "type": "string"
        },
        "messages": {
          "type": "array",
          "description": "Conversation messages.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1ConversationMessage"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1Conversation"
    },
    "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperiment": {
      "id": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperiment",
      "description": "An experiment is a single run of the AlphaEvolve agent, an evolutionary coding agent powered by LLM for algorithm discovery and optimization.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time when the experiment was created.",
          "readOnly": true,
          "type": "string"
        },
        "initialAlphaEvolveProgram": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Specifies the name of the seed program used to start the experiment."
        },
        "config": {
          "description": "Required. Experiment configuration.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperimentConfig"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATED",
            "RUNNING",
            "PAUSED",
            "COMPLETED",
            "FAILED"
          ],
          "description": "Output only. The state of the experiment.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The experiment is created.",
            "The experiment is running.",
            "The experiment is paused.",
            "The experiment is completed.",
            "The experiment has failed."
          ],
          "type": "string"
        },
        "name": {
          "description": "Identifier. The full resource name of the experiment. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/sessions/{session}/alphaEvolveExperiments/{alpha_evolve_experiment}`",
          "type": "string"
        },
        "stats": {
          "description": "Output only. Experiment stats.",
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperimentStats"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaConditionQueryTerm": {
      "id": "GoogleCloudDiscoveryengineV1alphaConditionQueryTerm",
      "description": "Matcher for search request query",
      "properties": {
        "value": {
          "description": "The specific query value to match against Must be lowercase, must be UTF-8. Can have at most 3 space separated terms if full_match is true. Cannot be an empty string. Maximum length of 5000 characters.",
          "type": "string"
        },
        "fullMatch": {
          "description": "Whether the search query needs to exactly match the query term.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestSearchAddonSpec": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestSearchAddonSpec",
      "description": "SearchAddonSpec is used to disable add-ons for search as per new repricing model. By default if the SearchAddonSpec is not specified, we consider that the customer wants to enable them wherever applicable.",
      "properties": {
        "disableKpiPersonalizationAddOn": {
          "description": "Optional. If true, disables event re-ranking and personalization to optimize KPIs & personalize results.",
          "type": "boolean"
        },
        "disableSemanticAddOn": {
          "description": "Optional. If true, semantic add-on is disabled. Semantic add-on includes embeddings and jetstream.",
          "type": "boolean"
        },
        "disableGenerativeAnswerAddOn": {
          "description": "Optional. If true, generative answer add-on is disabled. Generative answer add-on includes natural language to filters and simple answers.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAssistAnswer": {
      "description": "AssistAnswer resource, main part of AssistResponse.",
      "properties": {
        "state": {
          "description": "State of the answer generation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "FAILED",
            "SUCCEEDED",
            "SKIPPED",
            "CANCELLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Assist operation is currently in progress.",
            "Assist operation has failed.",
            "Assist operation has succeeded.",
            "Assist operation has been skipped.",
            "Assist operation has been cancelled (e.g. client closed the stream). May contain a partial response."
          ]
        },
        "name": {
          "description": "Immutable. Identifier. Resource name of the `AssistAnswer`. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/sessions/{session}/assistAnswers/{assist_answer}` This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "assistSkippedReasons": {
          "description": "Reasons for not answering the assist call.",
          "items": {
            "enum": [
              "ASSIST_SKIPPED_REASON_UNSPECIFIED",
              "NON_ASSIST_SEEKING_QUERY_IGNORED",
              "CUSTOMER_POLICY_VIOLATION"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default value. Skip reason is not specified.",
              "The assistant ignored the query, because it did not appear to be answer-seeking.",
              "The assistant ignored the query or refused to answer because of a customer policy violation (e.g., the query or the answer contained a banned phrase)."
            ]
          },
          "type": "array"
        },
        "customerPolicyEnforcementResult": {
          "description": "Optional. The field contains information about the various policy checks' results like the banned phrases or the Model Armor checks. This field is populated only if the assist call was skipped due to a policy violation.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistAnswerCustomerPolicyEnforcementResult"
        },
        "replies": {
          "description": "Replies of the assistant.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAssistAnswerReply"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAssistAnswer",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1GroundingFact": {
      "description": "Grounding Fact.",
      "properties": {
        "factText": {
          "description": "Text content of the fact. Can be at most 10K characters long.",
          "type": "string"
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Attributes associated with the fact. Common attributes include `source` (indicating where the fact was sourced from), `author` (indicating the author of the fact), and so on."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1GroundingFact",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1HealthcareFhirConfig": {
      "id": "GoogleCloudDiscoveryengineV1HealthcareFhirConfig",
      "description": "Config to data store for `HEALTHCARE_FHIR` vertical.",
      "properties": {
        "enableConfigurableSchema": {
          "description": "Whether to enable configurable schema for `HEALTHCARE_FHIR` vertical. If set to `true`, the predefined healthcare fhir schema can be extended for more customized searching and filtering.",
          "type": "boolean"
        },
        "enableStaticIndexingForBatchIngestion": {
          "description": "Whether to enable static indexing for `HEALTHCARE_FHIR` batch ingestion. If set to `true`, the batch ingestion will be processed in a static indexing mode which is slower but more capable of handling larger volume.",
          "type": "boolean"
        },
        "initialFilterGroups": {
          "type": "array",
          "description": "Optional. Names of the Group resources to use as a basis for the initial patient filter, in format `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}/fhir/Group/{group_id}`. The filter group must be a FHIR resource name of type Group, and the filter will be constructed from the direct members of the group which are Patient resources.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1DataConnectorSourceEntity": {
      "id": "GoogleCloudDiscoveryengineV1DataConnectorSourceEntity",
      "description": "Represents an entity in the data source. For example, the `Account` object in Salesforce.",
      "properties": {
        "healthcareFhirConfig": {
          "description": "Optional. Configuration for `HEALTHCARE_FHIR` vertical.",
          "$ref": "GoogleCloudDiscoveryengineV1HealthcareFhirConfig"
        },
        "dataStore": {
          "description": "Output only. The full resource name of the associated data store for the source entity. Format: `projects/*/locations/*/collections/*/dataStores/*`. When the connector is initialized by the DataConnectorService.SetUpDataConnector method, a DataStore is automatically created for each source entity.",
          "readOnly": true,
          "type": "string"
        },
        "params": {
          "description": "The parameters for the entity to facilitate data ingestion in structured json format.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "entityName": {
          "description": "The name of the entity. Supported values by data source: * Salesforce: `Lead`, `Opportunity`, `Contact`, `Account`, `Case`, `Contract`, `Campaign` * Jira: `Issue` * Confluence: `Content`, `Space`",
          "type": "string"
        },
        "startingSchema": {
          "description": "Optional. The start schema to use for the DataStore created from this SourceEntity. If unset, a default vertical specialized schema will be used. This field is only used by SetUpDataConnector API, and will be ignored if used in other APIs. This field will be omitted from all API responses including GetDataConnector API. To retrieve a schema of a DataStore, use SchemaService.GetSchema API instead. The provided schema will be validated against certain rules on schema. Learn more from [this doc](https://cloud.google.com/generative-ai-app-builder/docs/provide-schema).",
          "$ref": "GoogleCloudDiscoveryengineV1Schema"
        },
        "jsonParams": {
          "description": "The parameters for the entity to facilitate data ingestion in json string format.",
          "type": "string"
        },
        "keyPropertyMappings": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Attributes for indexing. Key: Field name. Value: The key property to map a field to, such as `title`, and `description`. Supported key properties: * `title`: The title for data record. This would be displayed on search results. * `description`: The description for data record. This would be displayed on search results."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfigOcrParsingConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfigOcrParsingConfig",
      "description": "The OCR parsing configurations for documents.",
      "properties": {
        "enhancedDocumentElements": {
          "type": "array",
          "deprecated": true,
          "description": "[DEPRECATED] This field is deprecated. To use the additional enhanced document elements processing, please switch to `layout_parsing_config`.",
          "items": {
            "type": "string"
          }
        },
        "useNativeText": {
          "description": "If true, will use native text instead of OCR text on pages containing native text.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1DocumentProcessingConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1DocumentProcessingConfig",
      "description": "A singleton resource of DataStore. If it's empty when DataStore is created and DataStore is set to DataStore.ContentConfig.CONTENT_REQUIRED, the default parser will default to digital parser.",
      "properties": {
        "name": {
          "description": "The full resource name of the Document Processing Config. Format: `projects/*/locations/*/collections/*/dataStores/*/documentProcessingConfig`.",
          "type": "string"
        },
        "parsingConfigOverrides": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfig"
          },
          "description": "Map from file type to override the default parsing configuration based on the file type. Supported keys: * `pdf`: Override parsing config for PDF files, either digital parsing, ocr parsing or layout parsing is supported. * `html`: Override parsing config for HTML files, only digital parsing and layout parsing are supported. * `docx`: Override parsing config for DOCX files, only digital parsing and layout parsing are supported. * `pptx`: Override parsing config for PPTX files, only digital parsing and layout parsing are supported. * `xlsm`: Override parsing config for XLSM files, only digital parsing and layout parsing are supported. * `xlsx`: Override parsing config for XLSX files, only digital parsing and layout parsing are supported."
        },
        "chunkingConfig": {
          "description": "Whether chunking mode is enabled.",
          "$ref": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigChunkingConfig"
        },
        "defaultParsingConfig": {
          "description": "Configurations for default Document parser. If not specified, we will configure it as default DigitalParsingConfig, and the default parsing config will be applied to all file types for Document parsing.",
          "$ref": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfig"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaControlRedirectAction": {
      "type": "object",
      "description": "Redirects a shopper to the provided URI.",
      "properties": {
        "redirectUri": {
          "description": "Required. The URI to which the shopper will be redirected. Required. URI must have length equal or less than 2000 characters. Otherwise an INVALID ARGUMENT error is thrown.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaControlRedirectAction"
    },
    "GoogleCloudDiscoveryengineV1betaDeleteIdentityMappingStoreMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaDeleteIdentityMappingStoreMetadata",
      "description": "Metadata related to the progress of the IdentityMappingStoreService.DeleteIdentityMappingStore operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaControlRedirectAction": {
      "description": "Redirects a shopper to the provided URI.",
      "properties": {
        "redirectUri": {
          "description": "Required. The URI to which the shopper will be redirected. Required. URI must have length equal or less than 2000 characters. Otherwise an INVALID ARGUMENT error is thrown.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaControlRedirectAction",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1EnableAdvancedSiteSearchResponse": {
      "id": "GoogleCloudDiscoveryengineV1EnableAdvancedSiteSearchResponse",
      "description": "Response message for SiteSearchEngineService.EnableAdvancedSiteSearch method.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecChunkSpec": {
      "type": "object",
      "description": "Specifies the chunk spec to be returned from the search response. Only available if the SearchRequest.ContentSearchSpec.search_result_mode is set to CHUNKS",
      "properties": {
        "numPreviousChunks": {
          "format": "int32",
          "description": "The number of previous chunks to be returned of the current chunk. The maximum allowed value is 3. If not specified, no previous chunks will be returned.",
          "type": "integer"
        },
        "numNextChunks": {
          "type": "integer",
          "format": "int32",
          "description": "The number of next chunks to be returned of the current chunk. The maximum allowed value is 3. If not specified, no next chunks will be returned."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecChunkSpec"
    },
    "GoogleCloudDiscoveryengineV1alphaDestinationConfig": {
      "description": "Defines target endpoints used to connect to third-party sources.",
      "properties": {
        "jsonParams": {
          "description": "Additional parameters for this destination config in json string format.",
          "type": "string"
        },
        "destinations": {
          "description": "Optional. The destinations for the corresponding key.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaDestinationConfigDestination"
          },
          "type": "array"
        },
        "params": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Additional parameters for this destination config in structured json format."
        },
        "key": {
          "description": "Optional. Unique destination identifier that is supported by the connector.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaDestinationConfig",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaEngineChatEngineConfigAgentCreationConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaEngineChatEngineConfigAgentCreationConfig",
      "description": "Configurations for generating a Dialogflow agent. Note that these configurations are one-time consumed by and passed to Dialogflow service. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation.",
      "properties": {
        "defaultLanguageCode": {
          "description": "Required. The default language of the agent as a language tag. See [Language Support](https://cloud.google.com/dialogflow/docs/reference/language) for a list of the currently supported language codes.",
          "type": "string"
        },
        "location": {
          "description": "Agent location for Agent creation, supported values: global/us/eu. If not provided, us Engine will create Agent using us-central-1 by default; eu Engine will create Agent using eu-west-1 by default.",
          "type": "string"
        },
        "business": {
          "description": "Name of the company, organization or other entity that the agent represents. Used for knowledge connector LLM prompt and for knowledge search.",
          "type": "string"
        },
        "timeZone": {
          "description": "Required. The time zone of the agent from the [time zone database](https://www.iana.org/time-zones), e.g., America/New_York, Europe/Paris.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigEngineFeaturesConfig": {
      "description": "More feature configs of the selected engine type.",
      "properties": {
        "recommendedForYouConfig": {
          "description": "Recommended for you engine feature config.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigRecommendedForYouFeatureConfig"
        },
        "mostPopularConfig": {
          "description": "Most popular engine feature config.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigMostPopularFeatureConfig"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigEngineFeaturesConfig",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfigAlloyDbAiNaturalLanguageConfig": {
      "description": "Configuration for AlloyDB AI Natural Language.",
      "properties": {
        "nlConfigId": {
          "description": "Optional. AlloyDb AI NL config id, i.e. the value that was used for calling `SELECT alloydb_ai_nl.g_create_configuration(...)`. Can be empty.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfigAlloyDbAiNaturalLanguageConfig",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1BigtableOptionsBigtableColumn": {
      "type": "object",
      "description": "The column of the Bigtable.",
      "properties": {
        "qualifier": {
          "type": "string",
          "format": "byte",
          "description": "Required. Qualifier of the column. If it cannot be decoded with utf-8, use a base-64 encoded string instead."
        },
        "fieldName": {
          "description": "The field name to use for this column in the document. The name has to match the pattern `a-zA-Z0-9*`. If not set, it is parsed from the qualifier bytes with best effort. However, due to different naming patterns, field name collisions could happen, where parsing behavior is undefined.",
          "type": "string"
        },
        "type": {
          "description": "The type of values in this column family. The values are expected to be encoded using `HBase Bytes.toBytes` function when the encoding value is set to `BINARY`.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "NUMBER",
            "INTEGER",
            "VAR_INTEGER",
            "BIG_NUMERIC",
            "BOOLEAN",
            "JSON"
          ],
          "type": "string",
          "enumDescriptions": [
            "The type is unspecified.",
            "String type.",
            "Numerical type.",
            "Integer type.",
            "Variable length integer type.",
            "BigDecimal type.",
            "Boolean type.",
            "JSON type."
          ]
        },
        "encoding": {
          "description": "The encoding mode of the values when the type is not `STRING`. Acceptable encoding values are: * `TEXT`: indicates values are alphanumeric text strings. * `BINARY`: indicates values are encoded using `HBase Bytes.toBytes` family of functions. This can be overridden for a specific column by listing that column in `columns` and specifying an encoding for it.",
          "enum": [
            "ENCODING_UNSPECIFIED",
            "TEXT",
            "BINARY"
          ],
          "type": "string",
          "enumDescriptions": [
            "The encoding is unspecified.",
            "Text encoding.",
            "Binary encoding."
          ]
        }
      },
      "id": "GoogleCloudDiscoveryengineV1BigtableOptionsBigtableColumn"
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1CheckGroundingSpec": {
      "type": "object",
      "description": "Specification for the grounding check.",
      "properties": {
        "enableClaimLevelScore": {
          "description": "The control flag that enables claim-level grounding score in the response.",
          "type": "boolean"
        },
        "citationThreshold": {
          "type": "number",
          "format": "double",
          "description": "The threshold (in [0,1]) used for determining whether a fact must be cited for a claim in the answer candidate. Choosing a higher threshold will lead to fewer but very strong citations, while choosing a lower threshold may lead to more but somewhat weaker citations. If unset, the threshold will default to 0.6."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1CheckGroundingSpec"
    },
    "GoogleCloudDiscoveryengineV1alphaPurgeSuggestionDenyListEntriesMetadata": {
      "description": "Metadata related to the progress of the PurgeSuggestionDenyListEntries operation. This is returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaPurgeSuggestionDenyListEntriesMetadata",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1DocumentIndexStatus": {
      "description": "Index status of the document.",
      "properties": {
        "indexTime": {
          "format": "google-datetime",
          "description": "The time when the document was indexed. If this field is populated, it means the document has been indexed. While documents typically become searchable within seconds of indexing, it can sometimes take up to a few hours.",
          "type": "string"
        },
        "errorSamples": {
          "description": "A sample of errors encountered while indexing the document. If this field is populated, the document is not indexed due to errors.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "pendingMessage": {
          "description": "Immutable. The message indicates the document index is in progress. If this field is populated, the document index is pending.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1DocumentIndexStatus",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaImportCompletionSuggestionsResponse": {
      "type": "object",
      "description": "Response of the CompletionService.ImportCompletionSuggestions method. If the long running operation is done, this message is returned by the google.longrunning.Operations.response field if the operation is successful.",
      "properties": {
        "errorSamples": {
          "type": "array",
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "errorConfig": {
          "description": "The desired location of errors incurred during the Import.",
          "$ref": "GoogleCloudDiscoveryengineV1betaImportErrorConfig"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaImportCompletionSuggestionsResponse"
    },
    "GoogleCloudDiscoveryengineV1betaDedicatedCrawlRateTimeSeries": {
      "description": "The historical dedicated crawl rate timeseries data, used for monitoring. Dedicated crawl is used by Vertex AI to crawl the user's website when dedicate crawl is set.",
      "properties": {
        "userTriggeredCrawlRate": {
          "description": "Vertex AI's dedicated crawl rate time series of user triggered crawl, which is the crawl rate of Google-CloudVertexBot when dedicate crawl is set, and user triggered crawl rate is for deterministic use cases like crawling urls or sitemaps specified by users.",
          "$ref": "GoogleCloudDiscoveryengineV1betaCrawlRateTimeSeries"
        },
        "userTriggeredCrawlErrorRate": {
          "description": "Vertex AI's error rate time series of user triggered dedicated crawl.",
          "$ref": "GoogleCloudDiscoveryengineV1betaCrawlRateTimeSeries"
        },
        "autoRefreshCrawlErrorRate": {
          "description": "Vertex AI's error rate time series of auto-refresh dedicated crawl.",
          "$ref": "GoogleCloudDiscoveryengineV1betaCrawlRateTimeSeries"
        },
        "autoRefreshCrawlRate": {
          "description": "Vertex AI's dedicated crawl rate time series of auto-refresh, which is the crawl rate of Google-CloudVertexBot when dedicate crawl is set, and the crawl rate is for best effort use cases like refreshing urls periodically.",
          "$ref": "GoogleCloudDiscoveryengineV1betaCrawlRateTimeSeries"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaDedicatedCrawlRateTimeSeries",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigThirdPartyOauthConfig": {
      "id": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigThirdPartyOauthConfig",
      "description": "Stores information for third party applicationOAuth.",
      "properties": {
        "instanceName": {
          "description": "Optional. The instance name identifying the 3P app, e.g., \"vaissptbots-my\". This is different from the instance_uri which is the full URL of the 3P app e.g., \"https://vaissptbots-my.sharepoint.com\".",
          "type": "string"
        },
        "appName": {
[...]
