{
  "kind": "discovery#restDescription",
  "description": "Discovery Engine API.",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Discovery Engine API",
  "canonicalName": "Discovery Engine",
  "name": "discoveryengine",
  "schemas": {
    "GoogleCloudDiscoveryengineV1DocumentProcessingConfigChunkingConfigLayoutBasedChunkingConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigChunkingConfigLayoutBasedChunkingConfig",
      "description": "Configuration for the layout based chunking.",
      "properties": {
        "chunkSize": {
          "format": "int32",
          "description": "The token size limit for each chunk. Supported values: 100-500 (inclusive). Default value: 500.",
          "type": "integer"
        },
        "includeAncestorHeadings": {
          "type": "boolean",
          "description": "Whether to include appending different levels of headings to chunks from the middle of the document to prevent context loss. Default value: False."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaUserEvent": {
      "id": "GoogleCloudDiscoveryengineV1betaUserEvent",
      "type": "object",
      "description": "UserEvent captures all metadata information Discovery Engine API needs to know about how end users interact with your website.",
      "properties": {
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Only required for UserEventService.ImportUserEvents method. Timestamp of when the user event happened."
        },
        "entity": {
          "type": "string",
          "description": "Optional. Represents the entity for customers that may run multiple different entities, domains, sites or regions, for example, `Google US`, `Google Ads`, `Waymo`, `google.com`, `youtube.com`, etc. We recommend that you set `entity` to get better per-entity search, completion, and prediction results."
        },
        "feedback": {
          "description": "Optional. This field is optional except for the `add-feedback` event types.",
          "$ref": "GoogleCloudDiscoveryengineV1betaFeedback"
        },
        "attributionToken": {
          "type": "string",
          "description": "Token to attribute an API response to user action(s) to trigger the event. Highly recommended for user events that are the result of RecommendationService.Recommend. This field enables accurate attribution of recommendation model performance. The value must be one of: * RecommendResponse.attribution_token for events that are the result of RecommendationService.Recommend. * SearchResponse.attribution_token for events that are the result of SearchService.Search. This token enables us to accurately attribute page view or conversion completion back to the event and the particular predict response containing this clicked/purchased product. If user clicks on product K in the recommendation results, pass RecommendResponse.attribution_token as a URL parameter to product K's page. When recording events on product K's page, log the RecommendResponse.attribution_token to this field."
        },
        "pageInfo": {
          "description": "Page metadata such as categories and other critical information for certain event types such as `view-category-page`.",
          "$ref": "GoogleCloudDiscoveryengineV1betaPageInfo"
        },
        "mediaInfo": {
          "description": "Media-specific info.",
          "$ref": "GoogleCloudDiscoveryengineV1betaMediaInfo"
        },
        "completionInfo": {
          "description": "CompletionService.CompleteQuery details related to the event. This field should be set for `search` event when autocomplete function is enabled and the user clicks a suggestion for search.",
          "$ref": "GoogleCloudDiscoveryengineV1betaCompletionInfo"
        },
        "conversionType": {
          "description": "Optional. Conversion type. Required if UserEvent.event_type is `conversion`. This is a customer-defined conversion name in lowercase letters or numbers separated by \"-\", such as \"watch\", \"good-visit\" etc. Do not set the field if UserEvent.event_type is not `conversion`. This mixes the custom conversion event with predefined events like `search`, `view-item` etc.",
          "type": "string"
        },
        "documents": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaDocumentInfo"
          },
          "description": "List of Documents associated with this user event. This field is optional except for the following event types: * `view-item` * `add-to-cart` * `purchase` * `media-play` * `media-complete` In a `search` event, this field represents the documents returned to the end user on the current page (the end user may have not finished browsing the whole page yet). When a new page is returned to the end user, after pagination/filtering/ordering even for the same query, a new `search` event with different UserEvent.documents is desired.",
          "type": "array"
        },
        "userPseudoId": {
          "type": "string",
          "description": "Required. A unique identifier for tracking visitors. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor log in/out of the website. Do not set the field to the same fixed ID for different users. This mixes the event history of those users together, which results in degraded model quality. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an `INVALID_ARGUMENT` error is returned. The field should not contain PII or user-data. We recommend to use Google Analytics [Client ID](https://developers.google.com/analytics/devguides/collection/analyticsjs/field-reference#clientId) for this field."
        },
        "transactionInfo": {
          "description": "The transaction metadata (if any) associated with this user event.",
          "$ref": "GoogleCloudDiscoveryengineV1betaTransactionInfo"
        },
        "sessionId": {
          "description": "A unique identifier for tracking a visitor session with a length limit of 128 bytes. A session is an aggregation of an end user behavior in a time span. A general guideline to populate the session_id: 1. If user has no activity for 30 min, a new session_id should be assigned. 2. The session_id should be unique across users, suggest use uuid or add UserEvent.user_pseudo_id as prefix.",
          "type": "string"
        },
        "panels": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaPanelInfo"
          },
          "description": "Optional. List of panels associated with this event. Used for page-level impression data.",
          "type": "array"
        },
        "tagIds": {
          "items": {
            "type": "string"
          },
          "description": "A list of identifiers for the independent experiment groups this user event belongs to. This is used to distinguish between user events associated with different experiment setups.",
          "type": "array"
        },
        "eventType": {
          "description": "Required. User event type. Allowed values are: Generic values: * `search`: Search for Documents. * `view-item`: Detailed page view of a Document. * `view-item-list`: View of a panel or ordered list of Documents. * `view-home-page`: View of the home page. * `view-category-page`: View of a category page, e.g. Home > Men > Jeans Retail-related values: * `add-to-cart`: Add an item(s) to cart, e.g. in Retail online shopping * `purchase`: Purchase an item(s) Media-related values: * `media-play`: Start/resume watching a video, playing a song, etc. * `media-complete`: Finished or stopped midway through a video, song, etc. Custom conversion value: * `conversion`: Customer defined conversion event.",
          "type": "string"
        },
        "engine": {
          "type": "string",
          "description": "The Engine resource name, in the form of `projects/{project}/locations/{location}/collections/{collection_id}/engines/{engine_id}`. Optional. Only required for Engine produced user events. For example, user events from blended search."
        },
        "userInfo": {
          "description": "Information about the end user.",
          "$ref": "GoogleCloudDiscoveryengineV1betaUserInfo"
        },
        "directUserRequest": {
          "type": "boolean",
          "description": "Should set to true if the request is made directly from the end user, in which case the UserEvent.user_info.user_agent can be populated from the HTTP request. This flag should be set only if the API request is made directly from the end user such as a mobile app (and not if a gateway or a server is processing and pushing the user events). This should not be set when using the JavaScript tag in UserEventService.CollectUserEvent."
        },
        "searchInfo": {
          "description": "SearchService.Search details related to the event. This field should be set for `search` event.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchInfo"
        },
        "panel": {
          "description": "Panel metadata associated with this user event.",
          "$ref": "GoogleCloudDiscoveryengineV1betaPanelInfo"
        },
        "dataStore": {
          "description": "The DataStore resource full name, of the form `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. Optional. Only required for user events whose data store can't by determined by UserEvent.engine or UserEvent.documents. If data store is set in the parent of write/import/collect user event requests, this field can be omitted.",
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "Optional. The filter syntax consists of an expression language for constructing a predicate from one or more fields of the documents being filtered. One example is for `search` events, the associated SearchRequest may contain a filter expression in SearchRequest.filter conforming to https://google.aip.dev/160#filtering. Similarly, for `view-item-list` events that are generated from a RecommendRequest, this field may be populated directly from RecommendRequest.filter conforming to https://google.aip.dev/160#filtering. The value must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an `INVALID_ARGUMENT` error is returned."
        },
        "promotionIds": {
          "type": "array",
          "description": "The promotion IDs if this is an event associated with promotions. Currently, this field is restricted to at most one ID.",
          "items": {
            "type": "string"
          }
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1betaCustomAttribute"
          },
          "description": "Extra user event features to include in the recommendation model. These attributes must NOT contain data that needs to be parsed or processed further, e.g. JSON or other encodings. If you provide custom attributes for ingested user events, also include them in the user events that you associate with prediction requests. Custom attribute formatting must be consistent between imported events and events provided with prediction requests. This lets the Discovery Engine API use those custom attributes when training models and serving predictions, which helps improve recommendation quality. This field needs to pass all below criteria, otherwise an `INVALID_ARGUMENT` error is returned: * The key must be a UTF-8 encoded string with a length limit of 5,000 characters. * For text attributes, at most 400 values are allowed. Empty values are not allowed. Each value must be a UTF-8 encoded string with a length limit of 256 characters. * For number attributes, at most 400 values are allowed. For product recommendations, an example of extra user information is `traffic_channel`, which is how a user arrives at the site. Users can arrive at the site by coming to the site directly, coming through Google search, or in other ways."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigOptimizationObjectiveConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigOptimizationObjectiveConfig",
      "description": "Custom threshold for `cvr` optimization_objective.",
      "properties": {
        "targetField": {
          "type": "string",
          "description": "Required. The name of the field to target. Currently supported values: `watch-percentage`, `watch-time`."
        },
        "targetFieldValueFloat": {
          "type": "number",
          "format": "float",
          "description": "Required. The threshold to be applied to the target (e.g., 0.5)."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestEmbeddingSpecEmbeddingVector": {
      "description": "Embedding vector.",
      "properties": {
        "fieldPath": {
          "type": "string",
          "description": "Embedding field path in schema."
        },
        "vector": {
          "items": {
            "type": "number",
            "format": "float"
          },
          "description": "Query embedding vector.",
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestEmbeddingSpecEmbeddingVector",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaUserLicense": {
      "description": "User License information assigned by the admin.",
      "properties": {
        "userProfile": {
          "description": "Optional. The user profile. We user user full name(First name + Last name) as user profile.",
          "type": "string"
        },
        "userPrincipal": {
          "type": "string",
          "description": "Required. Immutable. The user principal of the User, could be email address or other prinical identifier. This field is immutable. Admin assign licenses based on the user principal."
        },
        "licenseAssignmentState": {
          "description": "Output only. License assignment state of the user. If the user is assigned with a license config, the user login will be assigned with the license; If the user's license assignment state is unassigned or unspecified, no license config will be associated to the user;",
          "type": "string",
          "enum": [
            "LICENSE_ASSIGNMENT_STATE_UNSPECIFIED",
            "ASSIGNED",
            "UNASSIGNED",
            "NO_LICENSE",
            "NO_LICENSE_ATTEMPTED_LOGIN",
            "BLOCKED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default value.",
            "License assigned to the user.",
            "No license assigned to the user. Deprecated, translated to NO_LICENSE.",
            "No license assigned to the user.",
            "User attempted to login but no license assigned to the user. This state is only used for no user first time login attempt but cannot get license assigned. Users already logged in but cannot get license assigned will be assigned NO_LICENSE state(License could be unassigned by admin).",
            "User is blocked from assigning a license."
          ]
        },
        "licenseConfig": {
          "description": "Optional. The full resource name of the Subscription(LicenseConfig) assigned to the user.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. User created timestamp.",
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. User update timestamp.",
          "format": "google-datetime"
        },
        "lastLoginTime": {
          "description": "Output only. User last logged in time. If the user has not logged in yet, this field will be empty.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaUserLicense",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1EngineKnowledgeGraphConfigFeatureConfig": {
      "id": "GoogleCloudDiscoveryengineV1EngineKnowledgeGraphConfigFeatureConfig",
      "type": "object",
      "description": "Feature config for the Knowledge Graph.",
      "properties": {
        "disablePrivateKgAutoComplete": {
          "type": "boolean",
          "description": "Whether to disable the private KG auto complete for the engine. Defaults to false if not specified."
        },
        "disablePrivateKgQueryUiChips": {
          "type": "boolean",
          "description": "Whether to disable the private KG for query UI chips. Defaults to false if not specified."
        },
        "disablePrivateKgQueryUnderstanding": {
          "type": "boolean",
          "description": "Whether to disable the private KG query understanding for the engine. Defaults to false if not specified."
        },
        "disablePrivateKgEnrichment": {
          "description": "Whether to disable the private KG enrichment for the engine. Defaults to false if not specified.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAssistantContentExecutableCode": {
      "id": "GoogleCloudDiscoveryengineV1betaAssistantContentExecutableCode",
      "type": "object",
      "description": "Code generated by the model that is meant to be executed by the model.",
      "properties": {
        "code": {
          "type": "string",
          "description": "Required. The code content. Currently only supports Python."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestEndUserSpecEndUserMetaDataChunkInfoDocumentMetadata": {
      "description": "Document metadata contains the information of the document of the current chunk.",
      "properties": {
        "title": {
          "description": "Title of the document.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestEndUserSpecEndUserMetaDataChunkInfoDocumentMetadata"
    },
    "GoogleCloudDiscoveryengineV1ProvisionProjectMetadata": {
      "id": "GoogleCloudDiscoveryengineV1ProvisionProjectMetadata",
      "type": "object",
      "description": "Metadata associated with a project provision operation.",
      "properties": {}
    },
    "GoogleCloudDiscoveryengineV1alphaEnableAdvancedSiteSearchMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaEnableAdvancedSiteSearchMetadata",
      "description": "Metadata related to the progress of the SiteSearchEngineService.EnableAdvancedSiteSearch operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleIamV1Binding": {
      "type": "object",
      "id": "GoogleIamV1Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "GoogleTypeExpr"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaBatchUpdateUserLicensesRequest": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaBatchUpdateUserLicensesRequest",
      "description": "Request message for UserLicenseService.BatchUpdateUserLicenses method.",
      "properties": {
        "inlineSource": {
          "description": "The inline source for the input content for document embeddings.",
          "$ref": "GoogleCloudDiscoveryengineV1betaBatchUpdateUserLicensesRequestInlineSource"
        },
        "deleteUnassignedUserLicenses": {
          "type": "boolean",
          "description": "Optional. If true, if user licenses removed associated license config, the user license will be deleted. By default which is false, the user license will be updated to unassigned state."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicy": {
      "id": "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicy",
      "type": "object",
      "description": "Data protection policy config for NotebookLM.",
      "properties": {
        "sensitiveDataProtectionPolicy": {
          "description": "Optional. The sensitive data protection policy.",
          "$ref": "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicySensitiveDataProtectionPolicy"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaCompleteQueryResponse": {
      "id": "GoogleCloudDiscoveryengineV1betaCompleteQueryResponse",
      "type": "object",
      "description": "Response message for CompletionService.CompleteQuery method.",
      "properties": {
        "querySuggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaCompleteQueryResponseQuerySuggestion"
          },
          "description": "Results of the matched query suggestions. The result list is ordered and the first result is a top suggestion."
        },
        "tailMatchTriggered": {
          "type": "boolean",
          "description": "True if the returned suggestions are all tail suggestions. For tail matching to be triggered, include_tail_suggestions in the request must be true and there must be no suggestions that match the full query."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestDataStoreSpec": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestDataStoreSpec",
      "type": "object",
      "description": "A struct to define data stores to filter on in a search call and configurations for those data stores. Otherwise, an `INVALID_ARGUMENT` error is returned.",
      "properties": {
        "dataStore": {
          "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. The path must include the project number, project id is not supported for this field.",
          "type": "string"
        },
        "filter": {
          "description": "Optional. Filter specification to filter documents in the data store specified by data_store field. For more information on filtering, see [Filtering](https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata)",
          "type": "string"
        },
        "customSearchOperators": {
          "type": "string",
          "description": "Optional. Custom search operators which if specified will be used to filter results from workspace data stores. For more information on custom search operators, see [SearchOperators](https://support.google.com/cloudsearch/answer/6172299)."
        },
        "boostSpec": {
          "description": "Optional. Boost specification to boost certain documents. For more information on boosting, see [Boosting](https://cloud.google.com/generative-ai-app-builder/docs/boost-search-results)",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpec"
        },
        "numResults": {
          "description": "Optional. The maximum number of results to retrieve from this data store. If not specified, it will use the SearchRequest.num_results_per_data_store if provided, otherwise there is no limit. If both this field and SearchRequest.num_results_per_data_store are specified, this field will be used.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaEvaluationEvaluationSpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaEvaluationEvaluationSpec",
      "type": "object",
      "description": "Describes the specification of the evaluation.",
      "properties": {
        "searchRequest": {
          "description": "Required. The search request that is used to perform the evaluation. Only the following fields within SearchRequest are supported; if any other fields are provided, an UNSUPPORTED error will be returned: * SearchRequest.serving_config * SearchRequest.branch * SearchRequest.canonical_filter * SearchRequest.query_expansion_spec * SearchRequest.spell_correction_spec * SearchRequest.content_search_spec * SearchRequest.user_pseudo_id",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequest"
        },
        "querySetSpec": {
          "description": "Optional. The specification of the query set.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaEvaluationEvaluationSpecQuerySetSpec"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaDoubleList": {
      "description": "Double list.",
      "properties": {
        "values": {
          "type": "array",
          "description": "Double values.",
          "items": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaDoubleList",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAssistantGroundedContentTextGroundingMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaAssistantGroundedContentTextGroundingMetadata",
      "type": "object",
      "description": "Grounding details for text sources.",
      "properties": {
        "references": {
          "description": "References for the grounded text.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAssistantGroundedContentTextGroundingMetadataReference"
          },
          "type": "array"
        },
        "segments": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAssistantGroundedContentTextGroundingMetadataSegment"
          },
          "description": "Grounding information for parts of the text.",
          "type": "array"
        },
        "visualSegments": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAssistantGroundedContentTextGroundingMetadataVisualSegment"
          },
          "description": "Grounding information for parts of the visual content.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1BatchCreateTargetSitesResponse": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1BatchCreateTargetSitesResponse",
      "description": "Response message for SiteSearchEngineService.BatchCreateTargetSites method.",
      "properties": {
        "targetSites": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1TargetSite"
          },
          "description": "TargetSites created."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaControlPromoteAction": {
      "description": "Promote certain links based on some trigger queries. Example: Promote shoe store link when searching for `shoe` keyword. The link can be outside of associated data store.",
      "properties": {
        "searchLinkPromotion": {
          "description": "Required. Promotion attached to this action.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchLinkPromotion"
        },
        "dataStore": {
          "description": "Required. Data store with which this promotion is attached to.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaControlPromoteAction"
    },
    "GoogleCloudDiscoveryengineV1betaConversationContext": {
      "description": "Defines context of the conversation",
      "properties": {
        "contextDocuments": {
          "description": "The current list of documents the user is seeing. It contains the document resource references.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "activeDocument": {
          "type": "string",
          "description": "The current active document the user opened. It contains the document resource reference."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaConversationContext",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAssistAnswer": {
      "description": "AssistAnswer resource, main part of AssistResponse.",
      "properties": {
        "assistSkippedReasons": {
          "description": "Reasons for not answering the assist call.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. Skip reason is not specified.",
              "The assistant ignored the query, because it did not appear to be answer-seeking.",
              "The assistant ignored the query or refused to answer because of a customer policy violation (e.g., the query or the answer contained a banned phrase)."
            ],
            "enum": [
              "ASSIST_SKIPPED_REASON_UNSPECIFIED",
              "NON_ASSIST_SEEKING_QUERY_IGNORED",
              "CUSTOMER_POLICY_VIOLATION"
            ]
          },
          "type": "array"
        },
        "customerPolicyEnforcementResult": {
          "description": "Optional. The field contains information about the various policy checks' results like the banned phrases or the Model Armor checks. This field is populated only if the assist call was skipped due to a policy violation.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistAnswerCustomerPolicyEnforcementResult"
        },
        "state": {
          "description": "State of the answer generation.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Assist operation is currently in progress.",
            "Assist operation has failed.",
            "Assist operation has succeeded.",
            "Assist operation has been skipped.",
            "Assist operation has been cancelled (e.g. client closed the stream). May contain a partial response."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "FAILED",
            "SUCCEEDED",
            "SKIPPED",
            "CANCELLED"
          ]
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. Resource name of the `AssistAnswer`. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/sessions/{session}/assistAnswers/{assist_answer}` This field must be a UTF-8 encoded string with a length limit of 1024 characters."
        },
        "replies": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAssistAnswerReply"
          },
          "description": "Replies of the assistant.",
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAssistAnswer",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaEvaluationEvaluationSpec": {
      "id": "GoogleCloudDiscoveryengineV1betaEvaluationEvaluationSpec",
      "type": "object",
      "description": "Describes the specification of the evaluation.",
      "properties": {
        "searchRequest": {
          "description": "Required. The search request that is used to perform the evaluation. Only the following fields within SearchRequest are supported; if any other fields are provided, an UNSUPPORTED error will be returned: * SearchRequest.serving_config * SearchRequest.branch * SearchRequest.canonical_filter * SearchRequest.query_expansion_spec * SearchRequest.spell_correction_spec * SearchRequest.content_search_spec * SearchRequest.user_pseudo_id",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequest"
        },
        "querySetSpec": {
          "description": "Optional. The specification of the query set.",
          "$ref": "GoogleCloudDiscoveryengineV1betaEvaluationEvaluationSpecQuerySetSpec"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaRetractLicenseConfigResponse": {
      "id": "GoogleCloudDiscoveryengineV1betaRetractLicenseConfigResponse",
      "type": "object",
      "description": "Response message for LicenseConfigService.RetractLicenseConfig method.",
      "properties": {
        "licenseConfig": {
          "description": "The updated LicenseConfig.",
          "$ref": "GoogleCloudDiscoveryengineV1betaLicenseConfig"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaRecrawlUrisRequest": {
      "description": "Request message for SiteSearchEngineService.RecrawlUris method.",
      "properties": {
        "uris": {
          "description": "Required. List of URIs to crawl. At most 10K URIs are supported, otherwise an INVALID_ARGUMENT error is thrown. Each URI should match at least one TargetSite in `site_search_engine`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "siteCredential": {
          "description": "Optional. Credential id to use for crawling.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaRecrawlUrisRequest"
    },
    "GoogleCloudDiscoveryengineV1betaSearchLinkPromotion": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchLinkPromotion",
      "type": "object",
      "description": "Promotion proto includes uri and other helping information to display the promotion.",
      "properties": {
        "description": {
          "description": "Optional. The Promotion description. Maximum length: 200 characters.",
          "type": "string"
        },
        "enabled": {
          "description": "Optional. The enabled promotion will be returned for any serving configs associated with the parent of the control this promotion is attached to. This flag is used for basic site search only.",
          "type": "boolean"
        },
        "uri": {
          "type": "string",
          "description": "Optional. The URL for the page the user wants to promote. Must be set for site search. For other verticals, this is optional."
        },
        "imageUri": {
          "description": "Optional. The promotion thumbnail image url.",
          "type": "string"
        },
        "title": {
          "description": "Required. The title of the promotion. Maximum length: 160 characters.",
          "type": "string"
        },
        "document": {
          "type": "string",
          "description": "Optional. The Document the user wants to promote. For site search, leave unset and only populate uri. Can be set along with uri."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaCreateTargetSiteMetadata": {
      "description": "Metadata related to the progress of the SiteSearchEngineService.CreateTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaCreateTargetSiteMetadata",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSummarySpec": {
      "description": "A specification for configuring a summary returned in a search response.",
      "properties": {
        "includeCitations": {
          "description": "Specifies whether to include citations in the summary. The default value is `false`. When this field is set to `true`, summaries include in-line citation numbers. Example summary including citations: BigQuery is Google Cloud's fully managed and completely serverless enterprise data warehouse [1]. BigQuery supports all data types, works across clouds, and has built-in machine learning and business intelligence, all within a unified platform [2, 3]. The citation numbers refer to the returned search results and are 1-indexed. For example, [1] means that the sentence is attributed to the first search result. [2, 3] means that the sentence is attributed to both the second and third search results.",
          "type": "boolean"
        },
        "ignoreJailBreakingQuery": {
          "description": "Optional. Specifies whether to filter out jail-breaking queries. The default value is `false`. Google employs search-query classification to detect jail-breaking queries. No summary is returned if the search query is classified as a jail-breaking query. A user might add instructions to the query to change the tone, style, language, content of the answer, or ask the model to act as a different entity, e.g. \"Reply in the tone of a competing company's CEO\". If this field is set to `true`, we skip generating summaries for jail-breaking queries and return fallback messages instead.",
          "type": "boolean"
        },
        "multimodalSpec": {
          "description": "Optional. Multimodal specification.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSummarySpecMultiModalSpec"
        },
        "modelPromptSpec": {
          "description": "If specified, the spec will be used to modify the prompt provided to the LLM.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSummarySpecModelPromptSpec"
        },
        "useSemanticChunks": {
          "description": "If true, answer will be generated from most relevant chunks from top search results. This feature will improve summary quality. Note that with this feature enabled, not all top search results will be referenced and included in the reference list, so the citation source index only points to the search results listed in the reference list.",
          "type": "boolean"
        },
        "ignoreNonSummarySeekingQuery": {
          "description": "Specifies whether to filter out queries that are not summary-seeking. The default value is `false`. Google employs search-query classification to detect summary-seeking queries. No summary is returned if the search query is classified as a non-summary seeking query. For example, `why is the sky blue` and `Who is the best soccer player in the world?` are summary-seeking queries, but `SFO airport` and `world cup 2026` are not. They are most likely navigational queries. If this field is set to `true`, we skip generating summaries for non-summary seeking queries and return fallback messages instead.",
          "type": "boolean"
        },
        "summaryResultCount": {
          "type": "integer",
          "description": "The number of top results to generate the summary from. If the number of results returned is less than `summaryResultCount`, the summary is generated from all of the results. At most 10 results for documents mode, or 50 for chunks mode, can be used to generate a summary. The chunks mode is used when SearchRequest.ContentSearchSpec.search_result_mode is set to CHUNKS.",
          "format": "int32"
        },
        "ignoreLowRelevantContent": {
          "description": "Specifies whether to filter out queries that have low relevance. The default value is `false`. If this field is set to `false`, all search results are used regardless of relevance to generate answers. If set to `true`, only queries with high relevance search results will generate answers.",
          "type": "boolean"
        },
        "modelSpec": {
          "description": "If specified, the spec will be used to modify the model specification provided to the LLM.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSummarySpecModelSpec"
        },
        "ignoreAdversarialQuery": {
          "description": "Specifies whether to filter out adversarial queries. The default value is `false`. Google employs search-query classification to detect adversarial queries. No summary is returned if the search query is classified as an adversarial query. For example, a user might ask a question regarding negative comments about the company or submit a query designed to generate unsafe, policy-violating output. If this field is set to `true`, we skip generating summaries for adversarial queries and return fallback messages instead.",
          "type": "boolean"
        },
        "languageCode": {
          "type": "string",
          "description": "Language code for Summary. Use language tags defined by [BCP47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt). Note: This is an experimental feature."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSummarySpec",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigModelArmorConfig": {
      "description": "Configuration for customer defined Model Armor templates to be used for sanitizing user prompts and LLM responses.",
      "properties": {
        "userPromptTemplate": {
          "description": "Optional. The resource name of the Model Armor Template for sanitizing user prompts. Format: projects/{project}/locations/{location}/templates/{template_id} If not specified, no sanitization will be applied to the user prompt.",
          "type": "string"
        },
        "responseTemplate": {
          "description": "Optional. The resource name of the Model Armor Template for sanitizing LLM responses. Format: projects/{project}/locations/{location}/templates/{template_id} If not specified, no sanitization will be applied to the LLM response.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigModelArmorConfig"
    },
    "GoogleCloudDiscoveryengineV1betaEngineKnowledgeGraphConfig": {
      "description": "Configuration message for the Knowledge Graph.",
      "properties": {
        "featureConfig": {
          "description": "Optional. Feature config for the Knowledge Graph.",
          "$ref": "GoogleCloudDiscoveryengineV1betaEngineKnowledgeGraphConfigFeatureConfig"
        },
        "privateKnowledgeGraphTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specify entity types to support."
        },
        "enableCloudKnowledgeGraph": {
          "type": "boolean",
          "description": "Whether to enable the Cloud Knowledge Graph for the engine. Defaults to false if not specified."
        },
        "cloudKnowledgeGraphTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specify entity types to support."
        },
        "enablePrivateKnowledgeGraph": {
          "type": "boolean",
          "description": "Whether to enable the Private Knowledge Graph for the engine. Defaults to false if not specified."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaEngineKnowledgeGraphConfig",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1Sitemap": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1Sitemap",
      "description": "A sitemap for the SiteSearchEngine.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Public URI for the sitemap, e.g. `www.example.com/sitemap.xml`."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The fully qualified resource name of the sitemap. `projects/*/locations/*/collections/*/dataStores/*/siteSearchEngine/sitemaps/*` The `sitemap_id` suffix is system-generated."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The sitemap's creation time.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaChunkPageSpan": {
      "id": "GoogleCloudDiscoveryengineV1betaChunkPageSpan",
      "type": "object",
      "description": "Page span of the chunk.",
      "properties": {
        "pageStart": {
          "type": "integer",
          "description": "The start page of the chunk.",
          "format": "int32"
        },
        "pageEnd": {
          "format": "int32",
          "description": "The end page of the chunk.",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1BAPConfigToolspecOverride": {
      "id": "GoogleCloudDiscoveryengineV1BAPConfigToolspecOverride",
      "type": "object",
      "description": "Customer-facing view of the admin-curated toolspec for a BAP connection. Holds the (simplified) per-tool definitions surfaced to and editable by the admin in the Discovery Engine UI. Mirrors the shape of the backend `google.cloud.connectorexecution.v1.ToolspecOverride` message, but is intentionally kept as a separate public type so the Discovery Engine API surface can evolve independently of the fed-API surface (AIP-215). Handlers convert between the two via helpers in //cloud/ml/discoveryengine/external_service/v1main/data_connector_service/lib:bap_custom_tool_util.",
      "properties": {
        "baseVersion": {
          "type": "string",
          "description": "Required. Base toolspec version against which `tools` were authored. On Update, MUST match the server's current stable toolspec version for the connection; mismatch is rejected with a user-facing error directing the admin to re-download the latest tools first."
        },
        "tools": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object.",
              "type": "any"
            }
          },
          "description": "Required. Tool definitions (one Struct per tool) that the admin has customised on top of the base toolspec returned by the fed API. REQUIRED because it is the only user-editable field in the modify API; the request must carry at least one tool.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSiteSearchEngine": {
      "description": "SiteSearchEngine captures DataStore level site search persisting configurations. It is a singleton value per data store.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The fully qualified resource name of the site search engine. Format: `projects/*/locations/*/dataStores/*/siteSearchEngine`"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSiteSearchEngine",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ImportErrorConfig": {
      "id": "GoogleCloudDiscoveryengineV1ImportErrorConfig",
      "type": "object",
      "description": "Configuration of destination for Import related errors.",
      "properties": {
        "gcsPrefix": {
          "type": "string",
          "description": "Cloud Storage prefix for import errors. This must be an empty, existing Cloud Storage directory. Import errors are written to sharded files in this directory, one per line, as a JSON-encoded `google.rpc.Status` message."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerStepAction": {
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerStepAction",
      "type": "object",
      "description": "Action.",
      "properties": {
        "searchAction": {
          "description": "Search action.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionSearchAction"
        },
        "observation": {
          "description": "Observation.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservation"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaTargetSite": {
      "description": "A target site for the SiteSearchEngine.",
      "properties": {
        "providedUriPattern": {
          "type": "string",
          "description": "Required. Input only. The user provided URI pattern from which the `generated_uri_pattern` is generated."
        },
        "failureReason": {
          "readOnly": true,
          "description": "Output only. Failure reason.",
          "$ref": "GoogleCloudDiscoveryengineV1betaTargetSiteFailureReason"
        },
        "siteVerificationInfo": {
          "readOnly": true,
          "description": "Output only. Site ownership and validity verification status.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSiteVerificationInfo"
        },
        "rootDomainUri": {
          "description": "Output only. Root domain of the provided_uri_pattern.",
          "readOnly": true,
          "type": "string"
        },
        "indexingStatus": {
          "description": "Output only. Indexing status.",
          "type": "string",
          "enum": [
            "INDEXING_STATUS_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "SUCCEEDED",
            "DELETING",
            "CANCELLABLE",
            "CANCELLED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Defaults to SUCCEEDED.",
            "The target site is in the update queue and will be picked up by indexing pipeline.",
            "The target site fails to be indexed.",
            "The target site has been indexed.",
            "The previously indexed target site has been marked to be deleted. This is a transitioning state which will resulted in either: 1. target site deleted if unindexing is successful; 2. state reverts to SUCCEEDED if the unindexing fails.",
            "The target site change is pending but cancellable.",
            "The target site change is cancelled."
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The target site's last updated time.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. The fully qualified resource name of the target site. `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/siteSearchEngine/targetSites/{target_site}` The `target_site_id` is system-generated.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "This value is unused. In this case, server behavior defaults to Type.INCLUDE.",
            "Include the target site.",
            "Exclude the target site."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "INCLUDE",
            "EXCLUDE"
          ],
          "description": "The type of the target site, e.g., whether the site is to be included or excluded."
        },
        "generatedUriPattern": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. This is system-generated based on the provided_uri_pattern."
        },
        "exactMatch": {
          "description": "Immutable. If set to false, a uri_pattern is generated to include all pages whose address contains the provided_uri_pattern. If set to true, an uri_pattern is generated to try to be an exact match of the provided_uri_pattern or just the specific page if the provided_uri_pattern is a specific one. provided_uri_pattern is always normalized to generate the URI pattern to be used by the search engine.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaTargetSite",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1AssistantToolInfo": {
      "description": "Information to identify a tool.",
      "properties": {
        "toolDisplayName": {
          "description": "The display name of the tool.",
          "type": "string"
        },
        "toolName": {
          "type": "string",
          "description": "The name of the tool as defined by DataConnectorService.QueryAvailableActions. Note: it's using `action` in the DataConnectorService apis, but they are the same as the `tool` here."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AssistantToolInfo",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfig",
      "type": "object",
      "description": "Stores information for federated search.",
      "properties": {
        "thirdPartyOauthConfig": {
          "description": "Third Party OAuth config. If set, this DataStore is connected to a third party application.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfigThirdPartyOauthConfig"
        },
        "alloyDbConfig": {
          "description": "AlloyDB config. If set, this DataStore is connected to AlloyDB.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfigAlloyDbConfig"
        },
        "notebooklmConfig": {
          "description": "NotebookLM config. If set, this DataStore is connected to NotebookLM Enterprise.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfigNotebooklmConfig"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaDeleteTargetSiteMetadata": {
      "description": "Metadata related to the progress of the SiteSearchEngineService.DeleteTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaDeleteTargetSiteMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaSingleRegionKey": {
      "id": "GoogleCloudDiscoveryengineV1alphaSingleRegionKey",
      "type": "object",
      "description": "Metadata for single-regional CMEKs.",
      "properties": {
        "kmsKey": {
          "description": "Required. Single-regional kms key resource name which will be used to encrypt resources `projects/{project}/locations/{location}/keyRings/{keyRing}/cryptoKeys/{keyId}`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1BAPConfig": {
      "id": "GoogleCloudDiscoveryengineV1BAPConfig",
      "type": "object",
      "description": "The configuration for the BAP connector.",
      "properties": {
        "toolspecOverride": {
          "description": "Optional. Custom toolspec overrides for this connection. For Enterprise BAP connectors that support admin-curated tool definitions, this holds the (simplified) per-tool overrides. On Get, populated by the server by merging persisted overrides with live runtime tool definitions and trimming the result for UI consumption. On Update, the supplied value replaces the persisted overrides after server-side validation and merging: the `base_version` field MUST match the server's current base toolspec version (otherwise the request is rejected with a user-facing error directing the admin to re-download the latest tools first).",
          "$ref": "GoogleCloudDiscoveryengineV1BAPConfigToolspecOverride"
        },
        "supportedConnectorModes": {
          "type": "array",
          "description": "Required. The supported connector modes for the associated BAP connection.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Connector mode unspecified.",
              "Connector utilized for data ingestion.",
              "Connector utilized for Actions",
              "Connector utilized for End User Authentication."
            ],
            "enum": [
              "CONNECTOR_MODE_UNSPECIFIED",
              "DATA_INGESTION",
              "ACTIONS",
              "END_USER_AUTHENTICATION"
            ]
          }
        },
        "enabledActions": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The actions enabled on the associated BAP connection.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaCreateTargetSiteMetadata": {
      "description": "Metadata related to the progress of the SiteSearchEngineService.CreateTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaCreateTargetSiteMetadata"
    },
    "GoogleCloudDiscoveryengineV1betaStreamAssistRequestToolsSpecImageGenerationSpec": {
      "description": "Specification of the image generation tool.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaStreamAssistRequestToolsSpecImageGenerationSpec"
    },
    "GoogleApiDistributionRange": {
      "type": "object",
      "id": "GoogleApiDistributionRange",
      "description": "The range of the population values.",
      "properties": {
        "min": {
          "type": "number",
          "description": "The minimum of the population values.",
          "format": "double"
        },
        "max": {
          "type": "number",
          "format": "double",
          "description": "The maximum of the population values."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaTrainCustomModelResponse": {
      "description": "Response of the TrainCustomModelRequest. This message is returned by the google.longrunning.Operations.response field.",
      "properties": {
        "modelStatus": {
          "type": "string",
          "description": "The trained model status. Possible values are: * **bad-data**: The training data quality is bad. * **no-improvement**: Tuning didn't improve performance. Won't deploy. * **in-progress**: Model training job creation is in progress. * **training**: Model is actively training. * **evaluating**: The model is evaluating trained metrics. * **indexing**: The model trained metrics are indexing. * **ready**: The model is ready for serving."
        },
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the data.",
          "type": "array"
        },
        "errorConfig": {
          "description": "Echoes the destination for the complete errors in the request if set.",
          "$ref": "GoogleCloudDiscoveryengineV1betaImportErrorConfig"
        },
        "modelName": {
          "description": "Fully qualified name of the CustomTuningModel.",
          "type": "string"
        },
        "metrics": {
          "additionalProperties": {
            "type": "number",
            "format": "double"
          },
          "type": "object",
          "description": "The metrics of the trained model."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaTrainCustomModelResponse"
    },
    "GoogleCloudDiscoveryengineV1betaBigtableOptionsBigtableColumn": {
      "description": "The column of the Bigtable.",
      "properties": {
        "type": {
          "description": "The type of values in this column family. The values are expected to be encoded using `HBase Bytes.toBytes` function when the encoding value is set to `BINARY`.",
          "type": "string",
          "enumDescriptions": [
            "The type is unspecified.",
            "String type.",
            "Numerical type.",
            "Integer type.",
            "Variable length integer type.",
            "BigDecimal type.",
            "Boolean type.",
            "JSON type."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "NUMBER",
            "INTEGER",
            "VAR_INTEGER",
            "BIG_NUMERIC",
            "BOOLEAN",
            "JSON"
          ]
        },
        "qualifier": {
          "description": "Required. Qualifier of the column. If it cannot be decoded with utf-8, use a base-64 encoded string instead.",
          "format": "byte",
          "type": "string"
        },
        "fieldName": {
          "type": "string",
          "description": "The field name to use for this column in the document. The name has to match the pattern `a-zA-Z0-9*`. If not set, it is parsed from the qualifier bytes with best effort. However, due to different naming patterns, field name collisions could happen, where parsing behavior is undefined."
        },
        "encoding": {
          "description": "The encoding mode of the values when the type is not `STRING`. Acceptable encoding values are: * `TEXT`: indicates values are alphanumeric text strings. * `BINARY`: indicates values are encoded using `HBase Bytes.toBytes` family of functions. This can be overridden for a specific column by listing that column in `columns` and specifying an encoding for it.",
          "type": "string",
          "enumDescriptions": [
            "The encoding is unspecified.",
            "Text encoding.",
            "Binary encoding."
          ],
          "enum": [
            "ENCODING_UNSPECIFIED",
            "TEXT",
            "BINARY"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaBigtableOptionsBigtableColumn"
    },
    "GoogleCloudDiscoveryengineV1betaTargetSiteFailureReasonQuotaFailure": {
      "description": "Failed due to insufficient quota.",
      "properties": {
        "totalRequiredQuota": {
          "type": "string",
          "description": "This number is an estimation on how much total quota this project needs to successfully complete indexing.",
          "format": "int64"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaTargetSiteFailureReasonQuotaFailure",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAssistAnswerCustomerPolicyEnforcementResultBannedPhraseEnforcementResult": {
      "description": "Customer policy enforcement result for the banned phrase policy.",
      "properties": {
        "bannedPhrases": {
          "type": "array",
          "description": "The banned phrases that were found in the query or the answer.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAssistAnswerCustomerPolicyEnforcementResultBannedPhraseEnforcementResult",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1EngineSearchEngineConfig": {
      "description": "Configurations for a Search Engine.",
      "properties": {
        "requiredSubscriptionTier": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Search tier. Search tier can access Vertex AI Search features and NotebookLM features.",
            "Gemini Enterprise Plus tier.",
            "NotebookLM tier. NotebookLM is a subscription tier can only access NotebookLM features.",
            "Gemini Frontline worker tier.",
            "Gemini Business Starter tier.",
            "Gemini Business tier.",
            "Gemini Enterprise Standard tier.",
            "Gemini Enterprise Standard tier for emerging markets.",
            "Gemini Enterprise EDU tier.",
            "Gemini Enterprise EDU Pro tier.",
            "Gemini Enterprise EDU tier for emerging market only.",
            "Gemini Enterprise EDU Pro tier for emerging market.",
            "Gemini Frontline Starter tier.",
            "Represents the Gemini Enterprise Consumption-only tier: $0 subscription billed purely on usage (PAYG)."
          ],
          "enum": [
            "SUBSCRIPTION_TIER_UNSPECIFIED",
            "SUBSCRIPTION_TIER_SEARCH",
            "SUBSCRIPTION_TIER_SEARCH_AND_ASSISTANT",
            "SUBSCRIPTION_TIER_NOTEBOOK_LM",
            "SUBSCRIPTION_TIER_FRONTLINE_WORKER",
            "SUBSCRIPTION_TIER_AGENTSPACE_STARTER",
            "SUBSCRIPTION_TIER_AGENTSPACE_BUSINESS",
            "SUBSCRIPTION_TIER_ENTERPRISE",
            "SUBSCRIPTION_TIER_ENTERPRISE_EMERGING",
            "SUBSCRIPTION_TIER_EDU",
            "SUBSCRIPTION_TIER_EDU_PRO",
            "SUBSCRIPTION_TIER_EDU_EMERGING",
            "SUBSCRIPTION_TIER_EDU_PRO_EMERGING",
            "SUBSCRIPTION_TIER_FRONTLINE_STARTER",
            "SUBSCRIPTION_TIER_CONSUMPTION_ONLY"
          ],
          "description": "Optional. The required subscription tier of this engine. They cannot be modified after engine creation. If the required subscription tier is search, user with higher license tier like assist can still access the standalone app associated with this engine."
        },
        "searchTier": {
          "type": "string",
          "enumDescriptions": [
            "Default value when the enum is unspecified. This is invalid to use.",
            "Standard tier.",
            "Enterprise tier."
          ],
          "enum": [
            "SEARCH_TIER_UNSPECIFIED",
            "SEARCH_TIER_STANDARD",
            "SEARCH_TIER_ENTERPRISE"
          ],
          "description": "The search feature tier of this engine. Different tiers might have different pricing. To learn more, check the pricing documentation. Defaults to SearchTier.SEARCH_TIER_STANDARD if not specified."
        },
        "searchAddOns": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value when the enum is unspecified. This is invalid to use.",
              "Large language model add-on."
            ],
            "enum": [
              "SEARCH_ADD_ON_UNSPECIFIED",
              "SEARCH_ADD_ON_LLM"
            ]
          },
          "description": "The add-on that this search engine enables."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1EngineSearchEngineConfig",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigRecommendedForYouFeatureConfig": {
      "id": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigRecommendedForYouFeatureConfig",
      "type": "object",
      "description": "Additional feature configurations for creating a `recommended-for-you` engine.",
      "properties": {
        "contextEventType": {
          "type": "string",
          "description": "The type of event with which the engine is queried at prediction time. If set to `generic`, only `view-item`, `media-play`,and `media-complete` will be used as `context-event` in engine training. If set to `view-home-page`, `view-home-page` will also be used as `context-events` in addition to `view-item`, `media-play`, and `media-complete`. Currently supported for the `recommended-for-you` engine. Currently supported values: `view-home-page`, `generic`."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSiteVerificationInfo": {
      "description": "Verification information for target sites in advanced site search.",
      "properties": {
        "siteVerificationState": {
          "description": "Site verification state indicating the ownership and validity.",
          "type": "string",
          "enumDescriptions": [
            "Defaults to VERIFIED.",
            "Site ownership verified.",
            "Site ownership pending verification or verification failed.",
            "Site exempt from verification, e.g., a public website that opens to all."
          ],
          "enum": [
            "SITE_VERIFICATION_STATE_UNSPECIFIED",
            "VERIFIED",
            "UNVERIFIED",
            "EXEMPTED"
          ]
        },
        "verifyTime": {
          "format": "google-datetime",
          "description": "Latest site verification time.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSiteVerificationInfo",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaCmekConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaCmekConfig",
      "description": "Configurations used to enable CMEK data encryption with Cloud KMS keys.",
      "properties": {
        "singleRegionKeys": {
          "description": "Optional. Single-regional CMEKs that are required for some VAIS features.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSingleRegionKey"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the CmekConfig of the form `projects/{project}/locations/{location}/cmekConfig` or `projects/{project}/locations/{location}/cmekConfigs/{cmek_config}`."
        },
        "isDefault": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. The default CmekConfig for the Customer."
        },
        "lastRotationTimestampMicros": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp of the last key rotation.",
          "format": "int64"
        },
        "notebooklmState": {
          "type": "string",
          "enum": [
            "NOTEBOOK_LM_STATE_UNSPECIFIED",
            "NOTEBOOK_LM_NOT_READY",
            "NOTEBOOK_LM_READY",
            "NOTEBOOK_LM_NOT_ENABLED"
          ],
          "description": "Output only. Whether the NotebookLM Corpus is ready to be used.",
          "readOnly": true,
          "enumDescriptions": [
            "The NotebookLM state is unknown.",
            "The NotebookLM is not ready.",
            "The NotebookLM is ready to be used.",
            "The NotebookLM is not enabled."
          ]
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "KEY_ISSUE",
            "DELETING",
            "DELETE_FAILED",
            "UNUSABLE",
            "ACTIVE_ROTATING",
            "DELETED",
            "EXPIRED"
          ],
          "description": "Output only. The states of the CmekConfig.",
          "readOnly": true,
          "enumDescriptions": [
            "The CmekConfig state is unknown.",
            "The CmekConfig is creating.",
            "The CmekConfig can be used with DataStores.",
            "The CmekConfig is unavailable, most likely due to the KMS Key being revoked.",
            "The CmekConfig is deleting.",
            "The CmekConfig deletion process failed.",
            "The CmekConfig is not usable, most likely due to some internal issue.",
            "The KMS key version is being rotated.",
            "The KMS key is soft deleted. Some cleanup policy will eventually be applied.",
            "The KMS key is expired, meaning the key has been disabled for 30+ days. The customer can call DeleteCmekConfig to change the state to DELETED."
          ]
        },
        "kmsKey": {
          "description": "Required. KMS key resource name which will be used to encrypt resources `projects/{project}/locations/{location}/keyRings/{keyRing}/cryptoKeys/{keyId}`.",
          "type": "string"
        },
        "kmsKeyVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. KMS key version resource name which will be used to encrypt resources `/cryptoKeyVersions/{keyVersion}`."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAssistantContentExecutableCode": {
      "id": "GoogleCloudDiscoveryengineV1alphaAssistantContentExecutableCode",
      "type": "object",
      "description": "Code generated by the model that is meant to be executed by the model.",
      "properties": {
        "code": {
          "type": "string",
          "description": "Required. The code content. Currently only supports Python."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1DataConnectorRealtimeSyncConfigStreamingError": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1DataConnectorRealtimeSyncConfigStreamingError",
      "description": "Streaming error details.",
      "properties": {
        "error": {
          "description": "Optional. Error details.",
          "$ref": "GoogleRpcStatus"
        },
        "streamingErrorReason": {
          "description": "Optional. Streaming error.",
          "type": "string",
          "enumDescriptions": [
            "Streaming error reason unspecified.",
            "Some error occurred while setting up resources for realtime sync.",
            "Some error was encountered while running realtime sync for the connector.",
            "Ingress endpoint is required when setting up realtime sync in private connectivity."
          ],
          "enum": [
            "STREAMING_ERROR_REASON_UNSPECIFIED",
            "STREAMING_SETUP_ERROR",
            "STREAMING_SYNC_ERROR",
            "INGRESS_ENDPOINT_REQUIRED"
          ]
        }
      }
    },
    "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigThirdPartyOauthConfig": {
      "id": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigThirdPartyOauthConfig",
      "type": "object",
      "description": "Stores information for third party applicationOAuth.",
      "properties": {
        "instanceName": {
          "description": "Optional. The instance name identifying the 3P app, e.g., \"vaissptbots-my\". This is different from the instance_uri which is the full URL of the 3P app e.g., \"https://vaissptbots-my.sharepoint.com\".",
          "type": "string"
        },
        "appName": {
          "description": "Optional. The type of the application. E.g., \"jira\", \"box\", etc.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfigThirdPartyOauthConfig": {
      "description": "Stores information for third party applicationOAuth.",
      "properties": {
        "appName": {
          "description": "Optional. The type of the application. E.g., \"jira\", \"box\", etc.",
          "type": "string"
        },
        "instanceName": {
          "type": "string",
          "description": "Optional. The instance name identifying the 3P app, e.g., \"vaissptbots-my\". This is different from the instance_uri which is the full URL of the 3P app e.g., \"https://vaissptbots-my.sharepoint.com\"."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfigThirdPartyOauthConfig",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContentTextGroundingMetadataVisualSegment": {
      "id": "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContentTextGroundingMetadataVisualSegment",
      "type": "object",
      "description": "Grounding information for a visual segment.",
      "properties": {
        "contentId": {
          "type": "string",
          "description": "The content id of the visual segment. In order to display the citation of the visual element, this content_id needs to match with the `grounded_content.content_metadata.content_id` field."
        },
        "referenceIndices": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "References for the visual segment.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAssistantGenerationConfigSystemInstruction": {
      "id": "GoogleCloudDiscoveryengineV1betaAssistantGenerationConfigSystemInstruction",
      "type": "object",
      "description": "System instruction, also known as the prompt preamble for LLM calls.",
      "properties": {
        "additionalSystemInstruction": {
          "description": "Optional. Additional system instruction that will be added to the default system instruction.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaCreateEngineMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaCreateEngineMetadata",
      "description": "Metadata related to the progress of the EngineService.CreateEngine operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAssistantCustomerPolicy": {
      "description": "Customer-defined policy for the assistant.",
      "properties": {
        "bannedPhrases": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAssistantCustomerPolicyBannedPhrase"
          },
          "description": "Optional. List of banned phrases."
        },
        "modelArmorConfig": {
          "description": "Optional. Model Armor configuration to be used for sanitizing user prompts and assistant responses.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAssistantCustomerPolicyModelArmorConfig"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaAssistantCustomerPolicy"
    },
    "GoogleCloudDiscoveryengineV1betaAnswerReferenceChunkInfo": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaAnswerReferenceChunkInfo",
      "description": "Chunk information.",
      "properties": {
        "documentMetadata": {
          "description": "Document metadata.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerReferenceChunkInfoDocumentMetadata"
        },
        "content": {
          "description": "Chunk textual content.",
          "type": "string"
        },
        "chunk": {
          "description": "Chunk resource name.",
          "type": "string"
        },
        "blobAttachmentIndexes": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Output only. Stores indexes of blobattachments linked to this chunk.",
          "readOnly": true,
          "type": "array"
        },
        "relevanceScore": {
          "type": "number",
          "format": "float",
          "description": "The relevance of the chunk for a given query. Values range from 0.0 (completely irrelevant) to 1.0 (completely relevant). This value is for informational purpose only. It may change for the same query and chunk at any time due to a model retraining or change in implementation."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchResponseSummaryBlobAttachment": {
      "description": "Stores binarydata attached to text answer, e.g. image, video, audio, etc.",
      "properties": {
        "attributionType": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified attribution type.",
            "The attachment data is from the corpus.",
            "The attachment data is generated by the model through code generation."
          ],
          "description": "Output only. The attribution type of the blob.",
          "type": "string",
          "enum": [
            "ATTRIBUTION_TYPE_UNSPECIFIED",
            "CORPUS",
            "GENERATED"
          ]
        },
        "data": {
          "readOnly": true,
          "description": "Output only. The blob data.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchResponseSummaryBlobAttachmentBlob"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchResponseSummaryBlobAttachment",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaUserInfoPreciseLocation": {
      "description": "Precise location info with multiple representation options. Currently only latitude and longitude point is supported.",
      "properties": {
        "point": {
          "description": "Optional. Location represented by a latitude/longitude point.",
          "$ref": "GoogleTypeLatLng"
        },
        "address": {
          "type": "string",
          "description": "Optional. Location represented by a natural language address. Will later be geocoded and converted to either a point or a polygon."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaUserInfoPreciseLocation",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaPurgeSuggestionDenyListEntriesMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaPurgeSuggestionDenyListEntriesMetadata",
      "type": "object",
      "description": "Metadata related to the progress of the PurgeSuggestionDenyListEntries operation. This is returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1CreateTargetSiteMetadata": {
      "description": "Metadata related to the progress of the SiteSearchEngineService.CreateTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1CreateTargetSiteMetadata"
    },
    "GoogleCloudDiscoveryengineV1betaAnswerCitation": {
      "description": "Citation info for a segment.",
      "properties": {
        "sources": {
          "description": "Citation sources for the attributed segment.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAnswerCitationSource"
          },
          "type": "array"
        },
        "endIndex": {
          "type": "string",
          "format": "int64",
          "description": "End of the attributed segment, exclusive. Measured in bytes (UTF-8 unicode). If there are multi-byte characters,such as non-ASCII characters, the index measurement is longer than the string length."
        },
        "startIndex": {
          "type": "string",
          "description": "Index indicates the start of the segment, measured in bytes (UTF-8 unicode). If there are multi-byte characters,such as non-ASCII characters, the index measurement is longer than the string length.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaAnswerCitation"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestImageQuery": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestImageQuery",
      "description": "Specifies the image query input.",
      "properties": {
        "imageBytes": {
          "description": "Base64 encoded image bytes. Supported image formats: JPEG, PNG, and BMP.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfig": {
      "description": "Configuration for NotebookLM.",
      "properties": {
        "modelArmorConfig": {
          "description": "Model Armor configuration to be used for sanitizing user prompts and LLM responses.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigModelArmorConfig"
        },
        "optOutNotebookSharing": {
          "type": "boolean",
          "description": "Optional. Whether to disable the notebook sharing feature for the project. Default to false if not specified."
        },
        "dataProtectionPolicy": {
          "description": "Optional. Specifies the data protection policy for NotebookLM.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicy"
        },
        "observabilityConfig": {
          "description": "Optional. Observability config for NotebookLM.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaObservabilityConfig"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfig",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerQueryUnderstandingInfo": {
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerQueryUnderstandingInfo",
      "type": "object",
      "description": "Query understanding information.",
      "properties": {
        "queryClassificationInfo": {
          "description": "Query classification information.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerQueryUnderstandingInfoQueryClassificationInfo"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1AssistantCustomerPolicyModelArmorConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1AssistantCustomerPolicyModelArmorConfig",
      "description": "Configuration for customer defined Model Armor templates to be used for sanitizing user prompts and assistant responses.",
      "properties": {
        "userPromptTemplate": {
          "type": "string",
          "description": "Optional. The resource name of the Model Armor template for sanitizing user prompts. Format: `projects/{project}/locations/{location}/templates/{template_id}` If not specified, no sanitization will be applied to the user prompt."
        },
        "responseTemplate": {
          "description": "Optional. The resource name of the Model Armor template for sanitizing assistant responses. Format: `projects/{project}/locations/{location}/templates/{template_id}` If not specified, no sanitization will be applied to the assistant response.",
          "type": "string"
        },
        "failureMode": {
          "description": "Optional. Defines the failure mode for Model Armor sanitization.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified failure mode, default behavior is `FAIL_CLOSED`.",
            "In case of a Model Armor processing failure, the request is allowed to proceed without any changes.",
            "In case of a Model Armor processing failure, the request is rejected."
          ],
          "enum": [
            "FAILURE_MODE_UNSPECIFIED",
            "FAIL_OPEN",
            "FAIL_CLOSED"
          ]
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicy": {
      "description": "Data protection policy config for NotebookLM.",
      "properties": {
        "sensitiveDataProtectionPolicy": {
          "description": "Optional. The sensitive data protection policy.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicySensitiveDataProtectionPolicy"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicy"
    },
    "GoogleCloudDiscoveryengineV1betaAssistantGroundedContentTextGroundingMetadataReference": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaAssistantGroundedContentTextGroundingMetadataReference",
      "description": "Referenced content and related document metadata.",
      "properties": {
        "codeSnippet": {
          "description": "Chunk of code snippet from the referenced document.",
          "type": "string"
        },
        "content": {
          "description": "Referenced text content.",
          "type": "string"
        },
        "documentMetadata": {
          "description": "Document metadata.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAssistantGroundedContentTextGroundingMetadataReferenceDocumentMetadata"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1ImportIdentityMappingsResponse": {
      "id": "GoogleCloudDiscoveryengineV1ImportIdentityMappingsResponse",
      "type": "object",
      "description": "Response message for IdentityMappingStoreService.ImportIdentityMappings",
      "properties": {
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the request.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1ControlRedirectAction": {
      "id": "GoogleCloudDiscoveryengineV1ControlRedirectAction",
      "type": "object",
      "description": "Redirects a shopper to the provided URI.",
      "properties": {
        "redirectUri": {
          "type": "string",
          "description": "Required. The URI to which the shopper will be redirected. Required. URI must have length equal or less than 2000 characters. Otherwise an INVALID ARGUMENT error is thrown."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaRemoveDedicatedCrawlRateMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaRemoveDedicatedCrawlRateMetadata",
      "type": "object",
      "description": "Metadata related to the progress of the CrawlRateManagementService.RemoveDedicatedCrawlRate operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaControlRedirectAction": {
      "id": "GoogleCloudDiscoveryengineV1alphaControlRedirectAction",
      "type": "object",
      "description": "Redirects a shopper to the provided URI.",
      "properties": {
        "redirectUri": {
          "type": "string",
          "description": "Required. The URI to which the shopper will be redirected. Required. URI must have length equal or less than 2000 characters. Otherwise an INVALID ARGUMENT error is thrown."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerReferenceUnstructuredDocumentInfo": {
      "description": "Unstructured document information.",
      "properties": {
        "document": {
          "description": "Document resource name.",
          "type": "string"
        },
        "chunkContents": {
          "type": "array",
          "description": "List of cited chunk contents derived from document content.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerReferenceUnstructuredDocumentInfoChunkContent"
          }
        },
        "structData": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "The structured JSON metadata for the document. It is populated from the struct data from the Chunk in search result."
        },
        "title": {
          "description": "Title.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "URI for the document."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerReferenceUnstructuredDocumentInfo",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryResponsePersonSuggestion": {
      "description": "Suggestions as people.",
      "properties": {
        "document": {
          "description": "The document data snippet in the suggestion. Only a subset of fields is populated.",
          "$ref": "GoogleCloudDiscoveryengineV1betaDocument"
        },
        "suggestion": {
          "description": "The suggestion for the query.",
          "type": "string"
        },
        "score": {
          "type": "number",
          "format": "double",
          "description": "The score of each suggestion. The score is in the range of [0, 1]."
        },
        "displayPhotoUri": {
          "description": "The photo uri of the person suggestion.",
          "type": "string"
        },
        "personType": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "The suggestion is from a GOOGLE_IDENTITY source.",
            "The suggestion is from a THIRD_PARTY_IDENTITY source."
          ],
          "enum": [
            "PERSON_TYPE_UNSPECIFIED",
            "CLOUD_IDENTITY",
            "THIRD_PARTY_IDENTITY"
          ],
          "description": "The type of the person."
        },
        "destinationUri": {
          "description": "The destination uri of the person suggestion.",
          "type": "string"
        },
        "dataStore": {
          "description": "The name of the dataStore that this suggestion belongs to.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryResponsePersonSuggestion"
    },
    "GoogleCloudDiscoveryengineV1betaProvisionProjectRequestSaasParams": {
[...]
