{
  "kind": "discovery#restDescription",
  "version": "v1",
  "discoveryVersion": "v1",
  "basePath": "",
  "description": "Discovery Engine API.",
  "protocol": "rest",
  "title": "Discovery Engine API",
  "documentationLink": "https://cloud.google.com/generative-ai-app-builder/docs/",
  "rootUrl": "https://discoveryengine.googleapis.com/",
  "revision": "20260614",
  "name": "discoveryengine",
  "mtlsRootUrl": "https://discoveryengine.mtls.googleapis.com/",
  "canonicalName": "Discovery Engine",
  "fullyEncodeReservedExpansion": true,
  "endpoints": [
    {
      "location": "asia-northeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://discoveryengine.asia-northeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://discoveryengine.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "description": "Regional Endpoint",
      "location": "us",
      "endpointUrl": "https://discoveryengine.us.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "eu",
      "endpointUrl": "https://discoveryengine.eu.rep.googleapis.com/"
    },
    {
      "location": "in",
      "description": "Regional Endpoint",
      "endpointUrl": "https://discoveryengine.in.rep.googleapis.com/"
    }
  ],
  "version_module": true,
  "ownerDomain": "google.com",
  "baseUrl": "https://discoveryengine.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "projects": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "flatPath": "v1/projects/{projectsId}/operations/{operationsId}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "id": "discoveryengine.projects.operations.get",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource.",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "location": "path"
                }
              }
            },
            "cancel": {
              "path": "v1/{+name}:cancel",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v1/projects/{projectsId}/operations/{operationsId}:cancel",
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource to be cancelled."
                }
              },
              "id": "discoveryengine.projects.operations.cancel",
              "request": {
                "$ref": "GoogleLongrunningCancelOperationRequest"
              }
            },
            "list": {
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "path": "v1/{+name}/operations",
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/operations",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The standard list page token."
                },
                "returnPartialSuccess": {
                  "location": "query",
                  "type": "boolean",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The standard list filter."
                },
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "The name of the operation's parent resource.",
                  "type": "string"
                }
              },
              "id": "discoveryengine.projects.operations.list"
            }
          }
        },
        "locations": {
          "methods": {
            "updateAclConfig": {
              "description": "Default ACL configuration for use in a location of a customer's project. Updates will only reflect to new data stores. Existing data stores will still use the old value.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "path": "v1/{+name}",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1AclConfig"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/aclConfig",
              "id": "discoveryengine.projects.locations.updateAclConfig",
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1AclConfig"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+/aclConfig$",
                  "location": "path",
                  "description": "Immutable. The full resource name of the acl configuration. Format: `projects/{project}/locations/{location}/aclConfig`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
                  "type": "string"
                }
              }
            },
            "setUpDataConnectorV2": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "description": "Creates a Collection and sets up the DataConnector for it. To stop a DataConnector after setup, use the CollectionService.DeleteCollection method.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:setUpDataConnectorV2",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+parent}:setUpDataConnectorV2",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1DataConnector"
              },
              "id": "discoveryengine.projects.locations.setUpDataConnectorV2",
              "parameters": {
                "collectionDisplayName": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. The display name of the Collection. Should be human readable, used to display collections in the Console Dashboard. UTF-8 encoded string with limit of 1024 characters."
                },
                "parent": {
                  "description": "Required. The parent of Collection, in the format of `projects/{project}/locations/{location}`.",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path"
                },
                "collectionId": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. The ID to use for the Collection, which will become the final component of the Collection's resource name. A new Collection is created as part of the DataConnector setup. DataConnector is a singleton resource under Collection, managing all DataStores of the Collection. Should conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) standard with a length limit of 63 characters. Otherwise, an `INVALID_ARGUMENT` error is returned."
                }
              }
            },
            "getAclConfig": {
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/aclConfig",
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1AclConfig"
              },
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "description": "Gets the AclConfig.",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Resource name of AclConfig, such as `projects/*/locations/*/aclConfig`. If the caller does not have permission to access the AclConfig, regardless of whether or not it exists, a PERMISSION_DENIED error is returned.",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+/aclConfig$",
                  "location": "path"
                }
              },
              "id": "discoveryengine.projects.locations.getAclConfig"
            },
            "updateCmekConfig": {
              "id": "discoveryengine.projects.locations.updateCmekConfig",
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1CmekConfig"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the CmekConfig of the form `projects/{project}/locations/{location}/cmekConfig` or `projects/{project}/locations/{location}/cmekConfigs/{cmek_config}`.",
                  "pattern": "^projects/[^/]+/locations/[^/]+/cmekConfig$",
                  "location": "path",
                  "required": true
                },
                "setDefault": {
                  "description": "Set the following CmekConfig as the default to be used for child resources if one is not specified.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "description": "Provisions a CMEK key for use in a location of a customer's project. This method will also conduct location validation on the provided cmekConfig to make sure the key is valid and can be used in the selected location.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "path": "v1/{+name}",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/cmekConfig"
            },
            "getCmekConfig": {
              "parameters": {
                "name": {
                  "description": "Required. Resource name of CmekConfig, such as `projects/*/locations/*/cmekConfig` or `projects/*/locations/*/cmekConfigs/*`. If the caller does not have permission to access the CmekConfig, regardless of whether or not it exists, a PERMISSION_DENIED error is returned.",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+/cmekConfig$",
                  "location": "path"
                }
              },
              "id": "discoveryengine.projects.locations.getCmekConfig",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/cmekConfig",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1CmekConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "description": "Gets the CmekConfig."
            },
            "setUpDataConnector": {
              "parameters": {
                "parent": {
                  "description": "Required. The parent of Collection, in the format of `projects/{project}/locations/{location}`.",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path"
                }
              },
              "id": "discoveryengine.projects.locations.setUpDataConnector",
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1SetUpDataConnectorRequest"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:setUpDataConnector",
              "path": "v1/{+parent}:setUpDataConnector",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "description": "Creates a Collection and sets up the DataConnector for it. To stop a DataConnector after setup, use the CollectionService.DeleteCollection method."
            }
          },
          "resources": {
            "identityMappingStores": {
              "resources": {
                "operations": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "The name of the operation resource.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/identityMappingStores/[^/]+/operations/[^/]+$",
                          "location": "path"
                        }
                      },
                      "id": "discoveryengine.projects.locations.identityMappingStores.operations.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/identityMappingStores/{identityMappingStoresId}/operations/{operationsId}",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                    },
                    "list": {
                      "parameters": {
                        "filter": {
                          "description": "The standard list filter.",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "description": "The name of the operation's parent resource.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/identityMappingStores/[^/]+$",
                          "location": "path",
                          "required": true
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "The standard list page token."
                        },
                        "returnPartialSuccess": {
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "The standard list page size."
                        }
                      },
                      "id": "discoveryengine.projects.locations.identityMappingStores.operations.list",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/identityMappingStores/{identityMappingStoresId}/operations",
                      "path": "v1/{+name}/operations",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                    }
                  }
                }
              },
              "methods": {
                "importIdentityMappings": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/identityMappingStores/{identityMappingStoresId}:importIdentityMappings",
                  "path": "v1/{+identityMappingStore}:importIdentityMappings",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "identityMappingStore"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "description": "Imports a list of Identity Mapping Entries to an Identity Mapping Store.",
                  "parameters": {
                    "identityMappingStore": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/identityMappingStores/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the Identity Mapping Store to import Identity Mapping Entries to. Format: `projects/{project}/locations/{location}/identityMappingStores/{identityMappingStore}`",
                      "type": "string"
                    }
                  },
                  "id": "discoveryengine.projects.locations.identityMappingStores.importIdentityMappings",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1ImportIdentityMappingsRequest"
                  }
                },
                "listIdentityMappings": {
                  "id": "discoveryengine.projects.locations.identityMappingStores.listIdentityMappings",
                  "parameters": {
                    "identityMappingStore": {
                      "description": "Required. The name of the Identity Mapping Store to list Identity Mapping Entries in. Format: `projects/{project}/locations/{location}/identityMappingStores/{identityMappingStore}`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/identityMappingStores/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A page token, received from a previous `ListIdentityMappings` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListIdentityMappings` must match the call that provided the page token."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Maximum number of IdentityMappings to return. If unspecified, defaults to 2000. The maximum allowed value is 10000. Values above 10000 will be coerced to 10000.",
                      "format": "int32"
                    }
                  },
                  "parameterOrder": [
                    "identityMappingStore"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "description": "Lists Identity Mappings in an Identity Mapping Store.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/identityMappingStores/{identityMappingStoresId}:listIdentityMappings",
                  "path": "v1/{+identityMappingStore}:listIdentityMappings",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1ListIdentityMappingsResponse"
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the Identity Mapping Store to get. Format: `projects/{project}/locations/{location}/identityMappingStores/{identityMappingStore}`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/identityMappingStores/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "discoveryengine.projects.locations.identityMappingStores.get",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1IdentityMappingStore"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/identityMappingStores/{identityMappingStoresId}",
                  "description": "Gets the Identity Mapping Store.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ]
                },
                "delete": {
                  "id": "discoveryengine.projects.locations.identityMappingStores.delete",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/identityMappingStores/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the Identity Mapping Store to delete. Format: `projects/{project}/locations/{location}/identityMappingStores/{identityMappingStore}`",
                      "type": "string"
                    }
                  },
                  "description": "Deletes the Identity Mapping Store.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/identityMappingStores/{identityMappingStoresId}"
                },
                "list": {
                  "description": "Lists all Identity Mapping Stores.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "path": "v1/{+parent}/identityMappingStores",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1ListIdentityMappingStoresResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/identityMappingStores",
                  "id": "discoveryengine.projects.locations.identityMappingStores.list",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A page token, received from a previous `ListIdentityMappingStores` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListIdentityMappingStores` must match the call that provided the page token."
                    },
                    "parent": {
                      "description": "Required. The parent of the Identity Mapping Stores to list. Format: `projects/{project}/locations/{location}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Maximum number of IdentityMappingStores to return. If unspecified, defaults to 100. The maximum allowed value is 1000. Values above 1000 will be coerced to 1000.",
                      "format": "int32"
                    }
                  }
                },
                "create": {
                  "parameters": {
                    "identityMappingStoreId": {
                      "description": "Required. The ID of the Identity Mapping Store to create. The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 63 characters.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent collection resource name, such as `projects/{project}/locations/{location}`."
                    },
                    "cmekConfigName": {
                      "location": "query",
                      "type": "string",
                      "description": "Resource name of the CmekConfig to use for protecting this Identity Mapping Store."
                    },
                    "disableCmek": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Identity Mapping Store without CMEK protections. If a default CmekConfig is set for the project, setting this field will override the default CmekConfig as well."
                    }
                  },
                  "id": "discoveryengine.projects.locations.identityMappingStores.create",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1IdentityMappingStore"
                  },
                  "path": "v1/{+parent}/identityMappingStores",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1IdentityMappingStore"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/identityMappingStores",
                  "description": "Creates a new Identity Mapping Store.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ]
                },
                "purgeIdentityMappings": {
                  "description": "Purges specified or all Identity Mapping Entries from an Identity Mapping Store.",
                  "parameterOrder": [
                    "identityMappingStore"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "path": "v1/{+identityMappingStore}:purgeIdentityMappings",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/identityMappingStores/{identityMappingStoresId}:purgeIdentityMappings",
                  "id": "discoveryengine.projects.locations.identityMappingStores.purgeIdentityMappings",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1PurgeIdentityMappingsRequest"
                  },
                  "parameters": {
                    "identityMappingStore": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/identityMappingStores/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the Identity Mapping Store to purge Identity Mapping Entries from. Format: `projects/{project}/locations/{location}/identityMappingStores/{identityMappingStore}`",
                      "type": "string"
                    }
                  }
                }
              }
            },
            "userEvents": {
              "methods": {
                "import": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. Parent DataStore resource name, of the form `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}`",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1ImportUserEventsRequest"
                  },
                  "id": "discoveryengine.projects.locations.userEvents.import",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+parent}/userEvents:import",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/userEvents:import",
                  "description": "Bulk import of user events. Request processing might be synchronous. Events that already exist are skipped. Use this method for backfilling historical user events. Operation.response is of type ImportResponse. Note that it is possible for a subset of the items to be successfully inserted. Operation.metadata is of type ImportMetadata.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ]
                },
                "write": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "description": "Writes a single user event.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/userEvents:write",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1UserEvent"
                  },
                  "path": "v1/{+parent}/userEvents:write",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1UserEvent"
                  },
                  "id": "discoveryengine.projects.locations.userEvents.write",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name. If the write user event action is applied in DataStore level, the format is: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}`. If the write user event action is applied in Location level, for example, the event with Document across multiple DataStore, the format is: `projects/{project}/locations/{location}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "writeAsync": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If set to true, the user event is written asynchronously after validation, and the API responds without waiting for the write."
                    }
                  }
                },
                "collect": {
                  "parameters": {
                    "userEvent": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. URL encoded UserEvent proto with a length limit of 2,000,000 characters."
                    },
                    "ets": {
                      "location": "query",
                      "type": "string",
                      "description": "The event timestamp in milliseconds. This prevents browser caching of otherwise identical get requests. The name is abbreviated to reduce the payload bytes.",
                      "format": "int64"
                    },
                    "parent": {
                      "description": "Required. The parent resource name. If the collect user event action is applied in DataStore level, the format is: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}`. If the collect user event action is applied in Location level, for example, the event with Document across multiple DataStore, the format is: `projects/{project}/locations/{location}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "uri": {
                      "description": "The URL including cgi-parameters but excluding the hash fragment with a length limit of 5,000 characters. This is often more useful than the referer URL, because many browsers only send the domain for third-party requests.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "discoveryengine.projects.locations.userEvents.collect",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/userEvents:collect",
                  "response": {
                    "$ref": "GoogleApiHttpBody"
                  },
                  "path": "v1/{+parent}/userEvents:collect",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "description": "Writes a single user event from the browser. This uses a GET request to due to browser restriction of POST-ing to a third-party domain. This method is used only by the Discovery Engine API JavaScript pixel and Google Tag Manager. Users should not call this method directly."
                }
              }
            },
            "podcasts": {
              "resources": {
                "operations": {
                  "methods": {
                    "get": {
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/podcasts/{podcastsId}/operations/{operationsId}",
                      "id": "discoveryengine.projects.locations.podcasts.operations.get",
                      "parameters": {
                        "name": {
                          "description": "The name of the operation resource.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/podcasts/[^/]+/operations/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      }
                    }
                  }
                }
              }
            },
            "collections": {
              "resources": {
                "operations": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "path": "v1/{+name}/operations",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/operations",
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "parameters": {
                        "pageToken": {
                          "description": "The standard list page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "The standard list page size.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "returnPartialSuccess": {
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "name": {
                          "type": "string",
                          "description": "The name of the operation's parent resource.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+$",
                          "location": "path"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "The standard list filter."
                        }
                      },
                      "id": "discoveryengine.projects.locations.collections.operations.list"
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/operations/{operationsId}",
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "discoveryengine.projects.locations.collections.operations.get",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/operations/[^/]+$",
                          "location": "path",
                          "description": "The name of the operation resource.",
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "dataStores": {
                  "resources": {
                    "conversations": {
                      "methods": {
                        "create": {
                          "parameters": {
                            "parent": {
                              "description": "Required. Full resource name of parent data store. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store_id}`",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$",
                              "location": "path",
                              "required": true
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1Conversation"
                          },
                          "id": "discoveryengine.projects.locations.collections.dataStores.conversations.create",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/conversations",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1Conversation"
                          },
                          "path": "v1/{+parent}/conversations",
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "description": "Creates a Conversation. If the Conversation to create already exists, an ALREADY_EXISTS error is returned."
                        },
                        "patch": {
                          "path": "v1/{+name}",
                          "httpMethod": "PATCH",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1Conversation"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/conversations/{conversationsId}",
                          "description": "Updates a Conversation. Conversation action type cannot be changed. If the Conversation to update does not exist, a NOT_FOUND error is returned.",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "parameters": {
                            "updateMask": {
                              "format": "google-fieldmask",
                              "location": "query",
                              "type": "string",
                              "description": "Indicates which fields in the provided Conversation to update. The following are NOT supported: * Conversation.name If not set or empty, all supported fields are updated."
                            },
                            "name": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/conversations/[^/]+$",
                              "location": "path",
                              "description": "Immutable. Fully qualified name `projects/{project}/locations/global/collections/{collection}/dataStore/*/conversations/*` or `projects/{project}/locations/global/collections/{collection}/engines/*/conversations/*`.",
                              "type": "string"
                            }
                          },
                          "id": "discoveryengine.projects.locations.collections.dataStores.conversations.patch",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1Conversation"
                          }
                        },
                        "converse": {
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1ConverseConversationResponse"
                          },
                          "path": "v1/{+name}:converse",
                          "httpMethod": "POST",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/conversations/{conversationsId}:converse",
                          "description": "Converses a conversation.",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "parameters": {
                            "name": {
                              "description": "Required. The resource name of the Conversation to get. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store_id}/conversations/{conversation_id}`. Use `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store_id}/conversations/-` to activate auto session mode, which automatically creates a new conversation inside a ConverseConversation session.",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/conversations/[^/]+$",
                              "location": "path"
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1ConverseConversationRequest"
                          },
                          "id": "discoveryengine.projects.locations.collections.dataStores.conversations.converse"
                        },
                        "delete": {
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "description": "Deletes a Conversation. If the Conversation to delete does not exist, a NOT_FOUND error is returned.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/conversations/{conversationsId}",
                          "path": "v1/{+name}",
                          "httpMethod": "DELETE",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "id": "discoveryengine.projects.locations.collections.dataStores.conversations.delete",
                          "parameters": {
                            "name": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/conversations/[^/]+$",
                              "location": "path",
                              "description": "Required. The resource name of the Conversation to delete. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store_id}/conversations/{conversation_id}`",
                              "type": "string"
                            }
                          }
                        },
                        "list": {
                          "parameters": {
                            "pageToken": {
                              "description": "A page token, received from a previous `ListConversations` call. Provide this to retrieve the subsequent page.",
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "description": "Required. The data store resource name. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store_id}`",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$",
                              "location": "path"
                            },
                            "pageSize": {
                              "format": "int32",
                              "description": "Maximum number of results to return. If unspecified, defaults to 50. Max allowed value is 1000.",
                              "location": "query",
                              "type": "integer"
                            },
                            "filter": {
                              "location": "query",
                              "type": "string",
                              "description": "A filter to apply on the list results. The supported features are: user_pseudo_id, state. Example: \"user_pseudo_id = some_id\""
                            },
                            "orderBy": {
                              "location": "query",
                              "type": "string",
                              "description": "A comma-separated list of fields to order by, sorted in ascending order. Use \"desc\" after a field name for descending. Supported fields: * `update_time` * `create_time` * `conversation_name` Example: \"update_time desc\" \"create_time\""
                            }
                          },
                          "id": "discoveryengine.projects.locations.collections.dataStores.conversations.list",
                          "path": "v1/{+parent}/conversations",
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1ListConversationsResponse"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/conversations",
                          "description": "Lists all Conversations by their parent DataStore.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ]
                        },
                        "get": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/conversations/{conversationsId}",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1Conversation"
                          },
                          "path": "v1/{+name}",
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "description": "Gets a Conversation.",
                          "parameters": {
                            "name": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/conversations/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "description": "Required. The resource name of the Conversation to get. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store_id}/conversations/{conversation_id}`"
                            }
                          },
                          "id": "discoveryengine.projects.locations.collections.dataStores.conversations.get"
                        }
                      }
                    },
                    "servingConfigs": {
                      "methods": {
                        "answer": {
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1AnswerQueryRequest"
                          },
                          "id": "discoveryengine.projects.locations.collections.dataStores.servingConfigs.answer",
                          "parameters": {
                            "servingConfig": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/servingConfigs/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "Required. The resource name of the Search serving config, such as `projects/*/locations/global/collections/default_collection/engines/*/servingConfigs/default_serving_config`, or `projects/*/locations/global/collections/default_collection/dataStores/*/servingConfigs/default_serving_config`. Or the resource name of the agent engine serving config, such as: `projects/*/locations/global/collections/default_collection/engines/*/servingConfigs/default_agent_answer`. (use when `enable_agent_invocation` set to true, and you have custom `AI_MODE` agent engine configured) This field is used to identify the serving configuration name, set of models used to make the search."
                            }
                          },
                          "description": "Answer query method.",
                          "parameterOrder": [
                            "servingConfig"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1AnswerQueryResponse"
                          },
                          "path": "v1/{+servingConfig}:answer",
                          "httpMethod": "POST",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/servingConfigs/{servingConfigsId}:answer"
                        },
                        "searchLite": {
                          "parameterOrder": [
                            "servingConfig"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "description": "Performs a search. Similar to the SearchService.Search method, but a lite version that allows API key for authentication, where OAuth and IAM checks are not required. Only public website search is supported by this method. If data stores and engines not associated with public website search are specified, a `FAILED_PRECONDITION` error is returned. This method can be used for easy onboarding without having to implement an authentication backend. However, it is strongly recommended to use SearchService.Search instead with required OAuth and IAM checks to provide better data security.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/servingConfigs/{servingConfigsId}:searchLite",
                          "path": "v1/{+servingConfig}:searchLite",
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1SearchResponse"
                          },
                          "id": "discoveryengine.projects.locations.collections.dataStores.servingConfigs.searchLite",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1SearchRequest"
                          },
                          "parameters": {
                            "servingConfig": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/servingConfigs/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "Required. The resource name of the Search serving config, such as `projects/*/locations/global/collections/default_collection/engines/*/servingConfigs/default_serving_config`, or `projects/*/locations/global/collections/default_collection/dataStores/default_data_store/servingConfigs/default_serving_config`. This field is used to identify the serving configuration name, set of models used to make the search."
                            }
                          }
                        },
                        "patch": {
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1ServingConfig"
                          },
                          "path": "v1/{+name}",
                          "httpMethod": "PATCH",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/servingConfigs/{servingConfigsId}",
                          "description": "Updates a ServingConfig. Returns a NOT_FOUND error if the ServingConfig does not exist.",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/servingConfigs/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "Immutable. Fully qualified name `projects/{project}/locations/{location}/collections/{collection_id}/engines/{engine_id}/servingConfigs/{serving_config_id}`"
                            },
                            "updateMask": {
                              "format": "google-fieldmask",
                              "location": "query",
                              "type": "string",
                              "description": "Indicates which fields in the provided ServingConfig to update. The following are NOT supported: * ServingConfig.name If not set, all supported fields are updated."
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1ServingConfig"
                          },
                          "id": "discoveryengine.projects.locations.collections.dataStores.servingConfigs.patch"
                        },
                        "list": {
                          "id": "discoveryengine.projects.locations.collections.dataStores.servingConfigs.list",
                          "parameters": {
                            "parent": {
                              "description": "Required. Full resource name of the parent resource. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$",
                              "location": "path",
                              "required": true
                            },
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "description": "Optional. Maximum number of results to return. If unspecified, defaults to 100. If a value greater than 100 is provided, at most 100 results are returned.",
                              "format": "int32"
                            },
                            "pageToken": {
                              "description": "Optional. A page token, received from a previous `ListServingConfigs` call. Provide this to retrieve the subsequent page.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "description": "Lists all ServingConfigs linked to this dataStore.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/servingConfigs",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1ListServingConfigsResponse"
                          },
                          "path": "v1/{+parent}/servingConfigs",
                          "httpMethod": "GET"
                        },
                        "streamAnswer": {
                          "path": "v1/{+servingConfig}:streamAnswer",
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1AnswerQueryResponse"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/servingConfigs/{servingConfigsId}:streamAnswer",
                          "description": "Answer query method (streaming). It takes one AnswerQueryRequest and returns multiple AnswerQueryResponse messages in a stream.",
                          "parameterOrder": [
                            "servingConfig"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "parameters": {
                            "servingConfig": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/servingConfigs/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "Required. The resource name of the Search serving config, such as `projects/*/locations/global/collections/default_collection/engines/*/servingConfigs/default_serving_config`, or `projects/*/locations/global/collections/default_collection/dataStores/*/servingConfigs/default_serving_config`. Or the resource name of the agent engine serving config, such as: `projects/*/locations/global/collections/default_collection/engines/*/servingConfigs/default_agent_answer`. (use when `enable_agent_invocation` set to true, and you have custom `AI_MODE` agent engine configured) This field is used to identify the serving configuration name, set of models used to make the search."
                            }
                          },
                          "id": "discoveryengine.projects.locations.collections.dataStores.servingConfigs.streamAnswer",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1AnswerQueryRequest"
                          }
                        },
                        "get": {
                          "id": "discoveryengine.projects.locations.collections.dataStores.servingConfigs.get",
                          "parameters": {
                            "name": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/servingConfigs/[^/]+$",
                              "location": "path",
                              "description": "Required. The resource name of the ServingConfig to get. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/servingConfigs/{serving_config_id}`",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "description": "Gets a ServingConfig. Returns a NotFound error if the ServingConfig does not exist.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/servingConfigs/{servingConfigsId}",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1ServingConfig"
                          },
                          "path": "v1/{+name}",
                          "httpMethod": "GET"
                        },
                        "create": {
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1ServingConfig"
                          },
                          "id": "discoveryengine.projects.locations.collections.dataStores.servingConfigs.create",
                          "parameters": {
                            "parent": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "description": "Required. Full resource name of parent. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`"
                            },
                            "servingConfigId": {
                              "location": "query",
                              "type": "string",
                              "description": "Required. The ID to use for the ServingConfig, which will become the final component of the ServingConfig's resource name. This value should be 4-63 characters, and valid characters are /a-zA-Z0-9+/."
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "description": "Creates a ServingConfig. Note: The Google Cloud console works only with the default serving config. Additional ServingConfigs can be created and managed only via the API. A maximum of 100 ServingConfigs are allowed in an Engine, otherwise a RESOURCE_EXHAUSTED error is returned.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/servingConfigs",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1ServingConfig"
                          },
                          "path": "v1/{+parent}/servingConfigs",
                          "httpMethod": "POST"
                        },
                        "search": {
                          "description": "Performs a search.",
                          "parameterOrder": [
                            "servingConfig"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "path": "v1/{+servingConfig}:search",
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1SearchResponse"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/servingConfigs/{servingConfigsId}:search",
                          "id": "discoveryengine.projects.locations.collections.dataStores.servingConfigs.search",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1SearchRequest"
                          },
                          "parameters": {
                            "servingConfig": {
                              "description": "Required. The resource name of the Search serving config, such as `projects/*/locations/global/collections/default_collection/engines/*/servingConfigs/default_serving_config`, or `projects/*/locations/global/collections/default_collection/dataStores/default_data_store/servingConfigs/default_serving_config`. This field is used to identify the serving configuration name, set of models used to make the search.",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/servingConfigs/[^/]+$",
                              "location": "path",
                              "required": true
                            }
                          }
                        },
                        "delete": {
                          "id": "discoveryengine.projects.locations.collections.dataStores.servingConfigs.delete",
                          "parameters": {
                            "name": {
                              "description": "Required. The resource name of the ServingConfig to delete. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/servingConfigs/{serving_config_id}`",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/servingConfigs/[^/]+$",
                              "location": "path"
                            }
                          },
                          "description": "Deletes a ServingConfig. Returns a NOT_FOUND error if the ServingConfig does not exist.",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "path": "v1/{+name}",
                          "httpMethod": "DELETE",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/servingConfigs/{servingConfigsId}"
                        },
                        "recommend": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/servingConfigs/{servingConfigsId}:recommend",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1RecommendResponse"
                          },
                          "path": "v1/{+servingConfig}:recommend",
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "servingConfig"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "description": "Makes a recommendation, which requires a contextual user event.",
                          "parameters": {
                            "servingConfig": {
                              "type": "string",
                              "description": "Required. Full resource name of a ServingConfig: `projects/*/locations/global/collections/*/engines/*/servingConfigs/*`, or `projects/*/locations/global/collections/*/dataStores/*/servingConfigs/*` One default serving config is created along with your recommendation engine creation. The engine ID is used as the ID of the default serving config. For example, for Engine `projects/*/locations/global/collections/*/engines/my-engine`, you can use `projects/*/locations/global/collections/*/engines/my-engine/servingConfigs/my-engine` for your RecommendationService.Recommend requests.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+/servingConfigs/[^/]+$",
                              "location": "path"
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1RecommendRequest"
                          },
                          "id": "discoveryengine.projects.locations.collections.dataStores.servingConfigs.recommend"
                        }
                      }
                    },
                    "suggestionDenyListEntries": {
                      "methods": {
                        "import": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "description": "Imports all SuggestionDenyListEntry for a DataStore.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/suggestionDenyListEntries:import",
                          "path": "v1/{+parent}/suggestionDenyListEntries:import",
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "id": "discoveryengine.projects.locations.collections.dataStores.suggestionDenyListEntries.import",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1ImportSuggestionDenyListEntriesRequest"
                          },
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "Required. The parent data store resource name for which to import denylist entries. Follows pattern projects/*/locations/*/collections/*/dataStores/*."
                            }
                          }
                        },
                        "purge": {
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "path": "v1/{+parent}/suggestionDenyListEntries:purge",
                          "httpMethod": "POST",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/suggestionDenyListEntries:purge",
                          "description": "Permanently deletes all SuggestionDenyListEntry for a DataStore.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "parameters": {
                            "parent": {
                              "description": "Required. The parent data store resource name for which to import denylist entries. Follows pattern projects/*/locations/*/collections/*/dataStores/*.",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$",
                              "location": "path",
                              "required": true
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1PurgeSuggestionDenyListEntriesRequest"
                          },
                          "id": "discoveryengine.projects.locations.collections.dataStores.suggestionDenyListEntries.purge"
                        }
                      }
                    },
                    "userEvents": {
                      "methods": {
                        "purge": {
                          "id": "discoveryengine.projects.locations.collections.dataStores.userEvents.purge",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1PurgeUserEventsRequest"
                          },
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "description": "Required. The resource name of the catalog under which the events are created. The format is `projects/{project}/locations/global/collections/{collection}/dataStores/{dataStore}`.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$",
                              "location": "path",
                              "required": true
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "description": "Deletes permanently all user events specified by the filter provided. Depending on the number of events specified by the filter, this operation could take hours or days to complete. To test a filter, use the list command first.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/userEvents:purge",
                          "path": "v1/{+parent}/userEvents:purge",
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          }
                        },
                        "import": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "description": "Bulk import of user events. Request processing might be synchronous. Events that already exist are skipped. Use this method for backfilling historical user events. Operation.response is of type ImportResponse. Note that it is possible for a subset of the items to be successfully inserted. Operation.metadata is of type ImportMetadata.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/userEvents:import",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "path": "v1/{+parent}/userEvents:import",
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1ImportUserEventsRequest"
                          },
                          "id": "discoveryengine.projects.locations.collections.dataStores.userEvents.import",
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "description": "Required. Parent DataStore resource name, of the form `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}`",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$",
                              "location": "path"
                            }
                          }
                        },
                        "write": {
                          "id": "discoveryengine.projects.locations.collections.dataStores.userEvents.write",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1UserEvent"
                          },
                          "parameters": {
                            "parent": {
                              "description": "Required. The parent resource name. If the write user event action is applied in DataStore level, the format is: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}`. If the write user event action is applied in Location level, for example, the event with Document across multiple DataStore, the format is: `projects/{project}/locations/{location}`.",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$",
                              "location": "path"
                            },
                            "writeAsync": {
                              "description": "If set to true, the user event is written asynchronously after validation, and the API responds without waiting for the write.",
                              "location": "query",
                              "type": "boolean"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "description": "Writes a single user event.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/userEvents:write",
                          "path": "v1/{+parent}/userEvents:write",
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1UserEvent"
                          }
                        },
                        "collect": {
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "description": "Required. The parent resource name. If the collect user event action is applied in DataStore level, the format is: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}`. If the collect user event action is applied in Location level, for example, the event with Document across multiple DataStore, the format is: `projects/{project}/locations/{location}`.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/dataStores/[^/]+$",
                              "location": "path"
                            },
                            "uri": {
                              "location": "query",
                              "type": "string",
                              "description": "The URL including cgi-parameters but excluding the hash fragment with a length limit of 5,000 characters. This is often more useful than the referer URL, because many browsers only send the domain for third-party requests."
                            },
                            "userEvent": {
                              "location": "query",
                              "type": "string",
                              "description": "Required. URL encoded UserEvent proto with a length limit of 2,000,000 characters."
                            },
                            "ets": {
                              "format": "int64",
                              "description": "The event timestamp in milliseconds. This prevents browser caching of otherwise identical get requests. The name is abbreviated to reduce the payload bytes.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "id": "discoveryengine.projects.locations.collections.dataStores.userEvents.collect",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/dataStores/{dataStoresId}/userEvents:collect",
                          "response": {
[...]
