{
  "mtlsRootUrl": "https://discoveryengine.mtls.googleapis.com/",
  "baseUrl": "https://discoveryengine.googleapis.com/",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://cloud.google.com/generative-ai-app-builder/docs/",
  "discoveryVersion": "v1",
  "description": "Discovery Engine API.",
  "resources": {
    "billingAccounts": {
      "resources": {
        "billingAccountLicenseConfigs": {
          "methods": {
            "distributeLicenseConfig": {
              "id": "discoveryengine.billingAccounts.billingAccountLicenseConfigs.distributeLicenseConfig",
              "httpMethod": "POST",
              "parameters": {
                "billingAccountLicenseConfig": {
                  "type": "string",
                  "description": "Required. Full resource name of BillingAccountLicenseConfig. Format: `billingAccounts/{billing_account}/billingAccountLicenseConfigs/{billing_account_license_config_id}`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^billingAccounts/[^/]+/billingAccountLicenseConfigs/[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1betaDistributeLicenseConfigRequest"
              },
              "description": "Distributes a LicenseConfig from billing account level to project level.",
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/billingAccountLicenseConfigs/{billingAccountLicenseConfigsId}:distributeLicenseConfig",
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1betaDistributeLicenseConfigResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "path": "v1beta/{+billingAccountLicenseConfig}:distributeLicenseConfig",
              "parameterOrder": [
                "billingAccountLicenseConfig"
              ]
            },
            "retractLicenseConfig": {
              "id": "discoveryengine.billingAccounts.billingAccountLicenseConfigs.retractLicenseConfig",
              "httpMethod": "POST",
              "parameters": {
                "billingAccountLicenseConfig": {
                  "pattern": "^billingAccounts/[^/]+/billingAccountLicenseConfigs/[^/]+$",
                  "required": true,
                  "description": "Required. Full resource name of BillingAccountLicenseConfig. Format: `billingAccounts/{billing_account}/billingAccountLicenseConfigs/{billing_account_license_config_id}`.",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "billingAccountLicenseConfig"
              ],
              "path": "v1beta/{+billingAccountLicenseConfig}:retractLicenseConfig",
              "flatPath": "v1beta/billingAccounts/{billingAccountsId}/billingAccountLicenseConfigs/{billingAccountLicenseConfigsId}:retractLicenseConfig",
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1betaRetractLicenseConfigResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "description": "This method is called from the billing account side to retract the LicenseConfig from the given project back to the billing account.",
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1betaRetractLicenseConfigRequest"
              }
            }
          }
        }
      }
    },
    "projects": {
      "methods": {
        "provision": {
          "request": {
            "$ref": "GoogleCloudDiscoveryengineV1betaProvisionProjectRequest"
          },
          "description": "Provisions the project resource. During the process, related systems will get prepared and initialized. Caller must read the [Terms for data use](https://cloud.google.com/retail/data-use-terms), and optionally specify in request to provide consent to that service terms.",
          "flatPath": "v1beta/projects/{projectsId}:provision",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/discoveryengine.readwrite",
            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
          ],
          "path": "v1beta/{+name}:provision",
          "parameterOrder": [
            "name"
          ],
          "id": "discoveryengine.projects.provision",
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. Full resource name of a Project, such as `projects/{project_id_or_number}`.",
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+$"
            }
          }
        }
      },
      "resources": {
        "operations": {
          "methods": {
            "list": {
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "path": "v1beta/{+name}/operations",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/operations",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "id": "discoveryengine.projects.operations.list",
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "The standard list filter.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "The name of the operation's parent resource.",
                  "location": "path"
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "location": "query",
                  "type": "string"
                },
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query",
                  "type": "boolean"
                }
              }
            },
            "get": {
              "flatPath": "v1beta/projects/{projectsId}/operations/{operationsId}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "id": "discoveryengine.projects.operations.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true,
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "type": "string"
                }
              }
            }
          }
        },
        "locations": {
          "resources": {
            "rankingConfigs": {
              "methods": {
                "rank": {
                  "id": "discoveryengine.projects.locations.rankingConfigs.rank",
                  "httpMethod": "POST",
                  "parameters": {
                    "rankingConfig": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/rankingConfigs/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name of the rank service config, such as `projects/{project_num}/locations/{location}/rankingConfigs/default_ranking_config`.",
                      "location": "path"
                    }
                  },
                  "description": "Ranks a list of text records based on the given input query.",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1betaRankRequest"
                  },
                  "parameterOrder": [
                    "rankingConfig"
                  ],
                  "path": "v1beta/{+rankingConfig}:rank",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/rankingConfigs/{rankingConfigsId}:rank",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1betaRankResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ]
                }
              }
            },
            "podcasts": {
              "resources": {
                "operations": {
                  "methods": {
                    "get": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/podcasts/{podcastsId}/operations/{operationsId}",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "path": "v1beta/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "id": "discoveryengine.projects.locations.podcasts.operations.get",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "The name of the operation resource.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/podcasts/[^/]+/operations/[^/]+$"
                        }
                      }
                    }
                  }
                }
              }
            },
            "sampleQuerySets": {
              "methods": {
                "create": {
                  "id": "discoveryengine.projects.locations.sampleQuerySets.create",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name, such as `projects/{project}/locations/{location}`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "sampleQuerySetId": {
                      "description": "Required. The ID to use for the SampleQuerySet, which will become the final component of the SampleQuerySet.name. If the caller does not have permission to create the SampleQuerySet, regardless of whether or not it exists, a `PERMISSION_DENIED` error is returned. This field must be unique among all SampleQuerySets with the same parent. Otherwise, an `ALREADY_EXISTS` error is returned. This field must conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) standard with a length limit of 63 characters. Otherwise, an `INVALID_ARGUMENT` error is returned.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1betaSampleQuerySet"
                  },
                  "description": "Creates a SampleQuerySet",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/sampleQuerySets",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1betaSampleQuerySet"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta/{+parent}/sampleQuerySets"
                },
                "list": {
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/sampleQuerySets",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1betaListSampleQuerySetsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta/{+parent}/sampleQuerySets",
                  "description": "Gets a list of SampleQuerySets.",
                  "id": "discoveryengine.projects.locations.sampleQuerySets.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent location resource name, such as `projects/{project}/locations/{location}`. If the caller does not have permission to list SampleQuerySets under this location, regardless of whether or not this location exists, a `PERMISSION_DENIED` error is returned.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "description": "A page token ListSampleQuerySetsResponse.next_page_token, received from a previous SampleQuerySetService.ListSampleQuerySets call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to SampleQuerySetService.ListSampleQuerySets must match the call that provided the page token. Otherwise, an `INVALID_ARGUMENT` error is returned.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Maximum number of SampleQuerySets to return. If unspecified, defaults to 100. The maximum allowed value is 1000. Values above 1000 will be coerced to 1000. If this field is negative, an `INVALID_ARGUMENT` error is returned.",
                      "location": "query"
                    }
                  }
                },
                "patch": {
                  "id": "discoveryengine.projects.locations.sampleQuerySets.patch",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Identifier. The full resource name of the SampleQuerySet, in the format of `projects/{project}/locations/{location}/sampleQuerySets/{sample_query_set}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/sampleQuerySets/[^/]+$"
                    },
                    "updateMask": {
                      "description": "Indicates which fields in the provided imported 'sample query set' to update. If not set, will by default update all fields.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1betaSampleQuerySet"
                  },
                  "description": "Updates a SampleQuerySet.",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/sampleQuerySets/{sampleQuerySetsId}",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1betaSampleQuerySet"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "path": "v1beta/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "id": "discoveryengine.projects.locations.sampleQuerySets.delete",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/sampleQuerySets/[^/]+$",
                      "required": true,
                      "description": "Required. Full resource name of SampleQuerySet, such as `projects/{project}/locations/{location}/sampleQuerySets/{sample_query_set}`. If the caller does not have permission to delete the SampleQuerySet, regardless of whether or not it exists, a `PERMISSION_DENIED` error is returned. If the SampleQuerySet to delete does not exist, a `NOT_FOUND` error is returned.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v1beta/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/sampleQuerySets/{sampleQuerySetsId}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "description": "Deletes a SampleQuerySet."
                },
                "get": {
                  "id": "discoveryengine.projects.locations.sampleQuerySets.get",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Full resource name of SampleQuerySet, such as `projects/{project}/locations/{location}/sampleQuerySets/{sample_query_set}`. If the caller does not have permission to access the SampleQuerySet, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested SampleQuerySet does not exist, a NOT_FOUND error is returned.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/sampleQuerySets/[^/]+$"
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/sampleQuerySets/{sampleQuerySetsId}",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1betaSampleQuerySet"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "path": "v1beta/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a SampleQuerySet."
                }
              },
              "resources": {
                "operations": {
                  "methods": {
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta/{+name}",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/sampleQuerySets/{sampleQuerySetsId}/operations/{operationsId}",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "id": "discoveryengine.projects.locations.sampleQuerySets.operations.get",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "description": "The name of the operation resource.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sampleQuerySets/[^/]+/operations/[^/]+$",
                          "required": true
                        }
                      }
                    }
                  }
                },
                "sampleQueries": {
                  "methods": {
                    "patch": {
                      "id": "discoveryengine.projects.locations.sampleQuerySets.sampleQueries.patch",
                      "httpMethod": "PATCH",
                      "parameters": {
                        "name": {
                          "description": "Identifier. The full resource name of the sample query, in the format of `projects/{project}/locations/{location}/sampleQuerySets/{sample_query_set}/sampleQueries/{sample_query}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sampleQuerySets/[^/]+/sampleQueries/[^/]+$",
                          "required": true
                        },
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "description": "Indicates which fields in the provided imported 'simple query' to update. If not set, will by default update all fields.",
                          "location": "query"
                        }
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/sampleQuerySets/{sampleQuerySetsId}/sampleQueries/{sampleQueriesId}",
                      "response": {
                        "$ref": "GoogleCloudDiscoveryengineV1betaSampleQuery"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "path": "v1beta/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDiscoveryengineV1betaSampleQuery"
                      },
                      "description": "Updates a SampleQuery."
                    },
                    "delete": {
                      "id": "discoveryengine.projects.locations.sampleQuerySets.sampleQueries.delete",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. Full resource name of SampleQuery, such as `projects/{project}/locations/{location}/sampleQuerySets/{sample_query_set}/sampleQueries/{sample_query}`. If the caller does not have permission to delete the SampleQuery, regardless of whether or not it exists, a `PERMISSION_DENIED` error is returned. If the SampleQuery to delete does not exist, a `NOT_FOUND` error is returned.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/sampleQuerySets/[^/]+/sampleQueries/[^/]+$"
                        }
                      },
                      "description": "Deletes a SampleQuery.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/sampleQuerySets/{sampleQuerySetsId}/sampleQueries/{sampleQueriesId}",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "path": "v1beta/{+name}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "import": {
                      "id": "discoveryengine.projects.locations.sampleQuerySets.sampleQueries.import",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/sampleQuerySets/[^/]+$",
                          "type": "string",
                          "description": "Required. The parent sample query set resource name, such as `projects/{project}/locations/{location}/sampleQuerySets/{sampleQuerySet}`. If the caller does not have permission to list SampleQuerys under this sample query set, regardless of whether or not this sample query set exists, a `PERMISSION_DENIED` error is returned.",
                          "location": "path"
                        }
                      },
                      "path": "v1beta/{+parent}/sampleQueries:import",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/sampleQuerySets/{sampleQuerySetsId}/sampleQueries:import",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "description": "Bulk import of multiple SampleQuerys. Sample queries that already exist may be deleted. Note: It is possible for a subset of the SampleQuerys to be successfully imported.",
                      "request": {
                        "$ref": "GoogleCloudDiscoveryengineV1betaImportSampleQueriesRequest"
                      }
                    },
                    "get": {
                      "description": "Gets a SampleQuery.",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta/{+name}",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/sampleQuerySets/{sampleQuerySetsId}/sampleQueries/{sampleQueriesId}",
                      "response": {
                        "$ref": "GoogleCloudDiscoveryengineV1betaSampleQuery"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "id": "discoveryengine.projects.locations.sampleQuerySets.sampleQueries.get",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "description": "Required. Full resource name of SampleQuery, such as `projects/{project}/locations/{location}/sampleQuerySets/{sample_query_set}/sampleQueries/{sample_query}`. If the caller does not have permission to access the SampleQuery, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested SampleQuery does not exist, a NOT_FOUND error is returned.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sampleQuerySets/[^/]+/sampleQueries/[^/]+$",
                          "required": true
                        }
                      }
                    },
                    "create": {
                      "request": {
                        "$ref": "GoogleCloudDiscoveryengineV1betaSampleQuery"
                      },
                      "description": "Creates a SampleQuery",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/sampleQuerySets/{sampleQuerySetsId}/sampleQueries",
                      "response": {
                        "$ref": "GoogleCloudDiscoveryengineV1betaSampleQuery"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "path": "v1beta/{+parent}/sampleQueries",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "discoveryengine.projects.locations.sampleQuerySets.sampleQueries.create",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/sampleQuerySets/[^/]+$",
                          "required": true,
                          "description": "Required. The parent resource name, such as `projects/{project}/locations/{location}/sampleQuerySets/{sampleQuerySet}`.",
                          "location": "path",
                          "type": "string"
                        },
                        "sampleQueryId": {
                          "type": "string",
                          "description": "Required. The ID to use for the SampleQuery, which will become the final component of the SampleQuery.name. If the caller does not have permission to create the SampleQuery, regardless of whether or not it exists, a `PERMISSION_DENIED` error is returned. This field must be unique among all SampleQuerys with the same parent. Otherwise, an `ALREADY_EXISTS` error is returned. This field must conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) standard with a length limit of 63 characters. Otherwise, an `INVALID_ARGUMENT` error is returned.",
                          "location": "query"
                        }
                      }
                    },
                    "list": {
                      "id": "discoveryengine.projects.locations.sampleQuerySets.sampleQueries.list",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageSize": {
                          "description": "Maximum number of SampleQuerys to return. If unspecified, defaults to 100. The maximum allowed value is 1000. Values above 1000 will be coerced to 1000. If this field is negative, an `INVALID_ARGUMENT` error is returned.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/sampleQuerySets/[^/]+$",
                          "required": true,
                          "description": "Required. The parent sample query set resource name, such as `projects/{project}/locations/{location}/sampleQuerySets/{sampleQuerySet}`. If the caller does not have permission to list SampleQuerys under this sample query set, regardless of whether or not this sample query set exists, a `PERMISSION_DENIED` error is returned.",
                          "location": "path",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "A page token ListSampleQueriesResponse.next_page_token, received from a previous SampleQueryService.ListSampleQueries call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to SampleQueryService.ListSampleQueries must match the call that provided the page token. Otherwise, an `INVALID_ARGUMENT` error is returned.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/sampleQuerySets/{sampleQuerySetsId}/sampleQueries",
                      "response": {
                        "$ref": "GoogleCloudDiscoveryengineV1betaListSampleQueriesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "path": "v1beta/{+parent}/sampleQueries",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Gets a list of SampleQuerys."
                    }
                  }
                }
              }
            },
            "userEvents": {
              "methods": {
                "collect": {
                  "id": "discoveryengine.projects.locations.userEvents.collect",
                  "httpMethod": "GET",
                  "parameters": {
                    "ets": {
                      "description": "The event timestamp in milliseconds. This prevents browser caching of otherwise identical get requests. The name is abbreviated to reduce the payload bytes.",
                      "location": "query",
                      "type": "string",
                      "format": "int64"
                    },
                    "parent": {
                      "description": "Required. The parent resource name. If the collect user event action is applied in DataStore level, the format is: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}`. If the collect user event action is applied in Location level, for example, the event with Document across multiple DataStore, the format is: `projects/{project}/locations/{location}`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "userEvent": {
                      "type": "string",
                      "description": "Required. URL encoded UserEvent proto with a length limit of 2,000,000 characters.",
                      "location": "query"
                    },
                    "uri": {
                      "type": "string",
                      "description": "The URL including cgi-parameters but excluding the hash fragment with a length limit of 5,000 characters. This is often more useful than the referer URL, because many browsers only send the domain for third-party requests.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/userEvents:collect",
                  "response": {
                    "$ref": "GoogleApiHttpBody"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "path": "v1beta/{+parent}/userEvents:collect",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Writes a single user event from the browser. This uses a GET request to due to browser restriction of POST-ing to a third-party domain. This method is used only by the Discovery Engine API JavaScript pixel and Google Tag Manager. Users should not call this method directly."
                },
                "write": {
                  "id": "discoveryengine.projects.locations.userEvents.write",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent resource name. If the write user event action is applied in DataStore level, the format is: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}`. If the write user event action is applied in Location level, for example, the event with Document across multiple DataStore, the format is: `projects/{project}/locations/{location}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "writeAsync": {
                      "description": "If set to true, the user event is written asynchronously after validation, and the API responds without waiting for the write.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1betaUserEvent"
                  },
                  "description": "Writes a single user event.",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/userEvents:write",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1betaUserEvent"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta/{+parent}/userEvents:write"
                },
                "import": {
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1betaImportUserEventsRequest"
                  },
                  "description": "Bulk import of user events. Request processing might be synchronous. Events that already exist are skipped. Use this method for backfilling historical user events. Operation.response is of type ImportResponse. Note that it is possible for a subset of the items to be successfully inserted. Operation.metadata is of type ImportMetadata.",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/userEvents:import",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "path": "v1beta/{+parent}/userEvents:import",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "discoveryengine.projects.locations.userEvents.import",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. Parent DataStore resource name, of the form `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  }
                }
              }
            },
            "userStores": {
              "methods": {
                "get": {
                  "id": "discoveryengine.projects.locations.userStores.get",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/userStores/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the User Store to get. Format: `projects/{project}/locations/{location}/userStores/{user_store_id}`",
                      "location": "path"
                    }
                  },
                  "path": "v1beta/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/userStores/{userStoresId}",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1betaUserStore"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "description": "Gets the User Store."
                },
                "batchUpdateUserLicenses": {
                  "id": "discoveryengine.projects.locations.userStores.batchUpdateUserLicenses",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent UserStore resource name, format: `projects/{project}/locations/{location}/userStores/{user_store_id}`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/userStores/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta/{+parent}:batchUpdateUserLicenses",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/userStores/{userStoresId}:batchUpdateUserLicenses",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "description": "Updates the User License. This method is used for batch assign/unassign licenses to users.",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1betaBatchUpdateUserLicensesRequest"
                  }
                },
                "patch": {
                  "description": "Updates the User Store.",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1betaUserStore"
                  },
                  "path": "v1beta/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/userStores/{userStoresId}",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1betaUserStore"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "id": "discoveryengine.projects.locations.userStores.patch",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/userStores/[^/]+$",
                      "type": "string",
                      "description": "Immutable. The full resource name of the User Store, in the format of `projects/{project}/locations/{location}/userStores/{user_store}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
                      "location": "path"
                    },
                    "updateMask": {
                      "description": "Optional. The list of fields to update.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  }
                }
              },
              "resources": {
                "userLicenses": {
                  "methods": {
                    "list": {
                      "description": "Lists the User Licenses.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta/{+parent}/userLicenses",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/userStores/{userStoresId}/userLicenses",
                      "response": {
                        "$ref": "GoogleCloudDiscoveryengineV1betaListUserLicensesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "id": "discoveryengine.projects.locations.userStores.userLicenses.list",
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/userStores/[^/]+$",
                          "required": true,
                          "description": "Required. The parent UserStore resource name, format: `projects/{project}/locations/{location}/userStores/{user_store_id}`.",
                          "location": "path",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Optional. Filter for the list request. Supported fields: * `license_assignment_state` * `user_principal` * Examples: * `license_assignment_state = ASSIGNED` to list assigned user licenses. * `license_assignment_state = NO_LICENSE` to list not licensed users. * `license_assignment_state = NO_LICENSE_ATTEMPTED_LOGIN` to list users who attempted login but no license assigned. * `license_assignment_state != NO_LICENSE_ATTEMPTED_LOGIN` to filter out users who attempted login but no license assigned. * `user_principal = user1@example.com` to list user license for `user1@example.com`.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, defaults to 10. The maximum value is 50; values above 50 will be coerced to 50. If this field is negative, an INVALID_ARGUMENT error is returned.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListUserLicenses` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserLicenses` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "description": "Optional. The order in which the UserLicenses are listed. The value must be a comma-separated list of fields. Default sorting order is ascending. To specify descending order for a field, append a \" desc\" suffix. Redundant space characters in the syntax are insignificant. Supported fields (only `user_principal` is supported for now): * `user_principal` If not set, the default ordering is by `user_principal`. Examples: * `user_principal` to order by `user_principal` in ascending order. * `user_principal desc` to order by `user_principal` in descending order.",
                          "location": "query",
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "licenseConfigsUsageStats": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta/{+parent}/licenseConfigsUsageStats",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/userStores/{userStoresId}/licenseConfigsUsageStats",
                      "response": {
                        "$ref": "GoogleCloudDiscoveryengineV1betaListLicenseConfigsUsageStatsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "description": "Lists all the LicenseConfigUsageStatss associated with the project.",
                      "id": "discoveryengine.projects.locations.userStores.licenseConfigsUsageStats.list",
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. The parent branch resource name, such as `projects/{project}/locations/{location}/userStores/{user_store_id}`.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/userStores/[^/]+$"
                        }
                      }
                    }
                  }
                }
              }
            },
            "identityMappingStores": {
              "methods": {
                "get": {
                  "id": "discoveryengine.projects.locations.identityMappingStores.get",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the Identity Mapping Store to get. Format: `projects/{project}/locations/{location}/identityMappingStores/{identityMappingStore}`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/identityMappingStores/[^/]+$",
                      "required": true
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/identityMappingStores/{identityMappingStoresId}",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1betaIdentityMappingStore"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta/{+name}",
                  "description": "Gets the Identity Mapping Store."
                },
                "listIdentityMappings": {
                  "id": "discoveryengine.projects.locations.identityMappingStores.listIdentityMappings",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "description": "A page token, received from a previous `ListIdentityMappings` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListIdentityMappings` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Maximum number of IdentityMappings to return. If unspecified, defaults to 2000. The maximum allowed value is 10000. Values above 10000 will be coerced to 10000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "identityMappingStore": {
                      "description": "Required. The name of the Identity Mapping Store to list Identity Mapping Entries in. Format: `projects/{project}/locations/{location}/identityMappingStores/{identityMappingStore}`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/identityMappingStores/[^/]+$",
                      "required": true
                    }
                  },
                  "description": "Lists Identity Mappings in an Identity Mapping Store.",
                  "parameterOrder": [
                    "identityMappingStore"
                  ],
                  "path": "v1beta/{+identityMappingStore}:listIdentityMappings",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/identityMappingStores/{identityMappingStoresId}:listIdentityMappings",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1betaListIdentityMappingsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ]
                },
                "importIdentityMappings": {
                  "id": "discoveryengine.projects.locations.identityMappingStores.importIdentityMappings",
                  "httpMethod": "POST",
                  "parameters": {
                    "identityMappingStore": {
                      "description": "Required. The name of the Identity Mapping Store to import Identity Mapping Entries to. Format: `projects/{project}/locations/{location}/identityMappingStores/{identityMappingStore}`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/identityMappingStores/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v1beta/{+identityMappingStore}:importIdentityMappings",
                  "parameterOrder": [
                    "identityMappingStore"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/identityMappingStores/{identityMappingStoresId}:importIdentityMappings",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "description": "Imports a list of Identity Mapping Entries to an Identity Mapping Store.",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1betaImportIdentityMappingsRequest"
                  }
                },
                "purgeIdentityMappings": {
                  "id": "discoveryengine.projects.locations.identityMappingStores.purgeIdentityMappings",
                  "httpMethod": "POST",
                  "parameters": {
                    "identityMappingStore": {
                      "type": "string",
                      "description": "Required. The name of the Identity Mapping Store to purge Identity Mapping Entries from. Format: `projects/{project}/locations/{location}/identityMappingStores/{identityMappingStore}`",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/identityMappingStores/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "identityMappingStore"
                  ],
                  "path": "v1beta/{+identityMappingStore}:purgeIdentityMappings",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/identityMappingStores/{identityMappingStoresId}:purgeIdentityMappings",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "description": "Purges specified or all Identity Mapping Entries from an Identity Mapping Store.",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1betaPurgeIdentityMappingsRequest"
                  }
                },
                "delete": {
                  "path": "v1beta/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/identityMappingStores/{identityMappingStoresId}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "description": "Deletes the Identity Mapping Store.",
                  "id": "discoveryengine.projects.locations.identityMappingStores.delete",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the Identity Mapping Store to delete. Format: `projects/{project}/locations/{location}/identityMappingStores/{identityMappingStore}`",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/identityMappingStores/[^/]+$"
                    }
                  }
                },
                "list": {
                  "description": "Lists all Identity Mapping Stores.",
                  "path": "v1beta/{+parent}/identityMappingStores",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/identityMappingStores",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1betaListIdentityMappingStoresResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "id": "discoveryengine.projects.locations.identityMappingStores.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Maximum number of IdentityMappingStores to return. If unspecified, defaults to 100. The maximum allowed value is 1000. Values above 1000 will be coerced to 1000.",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent of the Identity Mapping Stores to list. Format: `projects/{project}/locations/{location}`.",
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListIdentityMappingStores` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListIdentityMappingStores` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "create": {
                  "id": "discoveryengine.projects.locations.identityMappingStores.create",
                  "httpMethod": "POST",
                  "parameters": {
                    "identityMappingStoreId": {
                      "type": "string",
                      "description": "Required. The ID of the Identity Mapping Store to create. The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores (_), and hyphens (-). The maximum length is 63 characters.",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent collection resource name, such as `projects/{project}/locations/{location}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "cmekConfigName": {
                      "type": "string",
                      "description": "Resource name of the CmekConfig to use for protecting this Identity Mapping Store.",
                      "location": "query"
                    },
                    "disableCmek": {
                      "type": "boolean",
                      "description": "Identity Mapping Store without CMEK protections. If a default CmekConfig is set for the project, setting this field will override the default CmekConfig as well.",
                      "location": "query"
                    }
                  },
                  "path": "v1beta/{+parent}/identityMappingStores",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/identityMappingStores",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1betaIdentityMappingStore"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "description": "Creates a new Identity Mapping Store.",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1betaIdentityMappingStore"
                  }
                }
              },
              "resources": {
                "operations": {
                  "methods": {
                    "get": {
                      "id": "discoveryengine.projects.locations.identityMappingStores.operations.get",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/identityMappingStores/[^/]+/operations/[^/]+$",
                          "required": true,
                          "description": "The name of the operation resource.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/identityMappingStores/{identityMappingStoresId}/operations/{operationsId}",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta/{+name}"
                    },
                    "list": {
                      "id": "discoveryengine.projects.locations.identityMappingStores.operations.list",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "The standard list page token.",
                          "location": "query"
                        },
                        "returnPartialSuccess": {
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/identityMappingStores/[^/]+$",
                          "type": "string",
                          "description": "The name of the operation's parent resource.",
                          "location": "path"
                        },
                        "pageSize": {
                          "description": "The standard list page size.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "filter": {
                          "description": "The standard list filter.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/identityMappingStores/{identityMappingStoresId}/operations",
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta/{+name}/operations"
                    }
                  }
                }
              }
            },
            "licenseConfigs": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta/{+name}",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/licenseConfigs/{licenseConfigsId}",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1betaLicenseConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "description": "Gets a LicenseConfig.",
                  "id": "discoveryengine.projects.locations.licenseConfigs.get",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/licenseConfigs/[^/]+$",
                      "type": "string",
                      "description": "Required. Full resource name of LicenseConfig, such as `projects/{project}/locations/{location}/licenseConfigs/*`. If the caller does not have permission to access the LicenseConfig, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested LicenseConfig does not exist, a NOT_FOUND error is returned.",
                      "location": "path"
                    }
                  }
                },
                "list": {
                  "description": "Lists all the LicenseConfigs associated with the project.",
                  "path": "v1beta/{+parent}/licenseConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/licenseConfigs",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1betaListLicenseConfigsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "id": "discoveryengine.projects.locations.licenseConfigs.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. Not supported.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent branch resource name, such as `projects/{project}/locations/{location}`.",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. Not supported.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. The filter to apply to the list results. The supported fields are: * `subscription_tier` * `state` Examples: * `subscription_tier=SUBSCRIPTION_TIER_SEARCH,state=ACTIVE` - Lists all active search license configs. * `state=ACTIVE` - Lists all active license configs. The filter string should be a comma-separated list of field=value pairs.",
                      "location": "query"
                    }
                  }
                },
                "create": {
                  "id": "discoveryengine.projects.locations.licenseConfigs.create",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent resource name, such as `projects/{project}/locations/{location}`.",
                      "location": "path"
                    },
                    "licenseConfigId": {
                      "description": "Optional. The ID to use for the LicenseConfig, which will become the final component of the LicenseConfig's resource name. We are using the tier (product edition) name as the license config id such as `search` or `search_and_assistant`.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1beta/{+parent}/licenseConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/licenseConfigs",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1betaLicenseConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "description": "Creates a LicenseConfig This method should only be used for creating NotebookLm licenses or Gemini Enterprise free trial licenses.",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1betaLicenseConfig"
                  }
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta/{+name}",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/licenseConfigs/{licenseConfigsId}",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1betaLicenseConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "description": "Updates the LicenseConfig",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1betaLicenseConfig"
                  },
                  "id": "discoveryengine.projects.locations.licenseConfigs.patch",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Immutable. Identifier. The fully qualified resource name of the license config. Format: `projects/{project}/locations/{location}/licenseConfigs/{license_config}`",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/licenseConfigs/[^/]+$"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Optional. Indicates which fields in the provided LicenseConfig to update. If an unsupported or unknown field is provided, an INVALID_ARGUMENT error is returned.",
                      "location": "query"
                    }
                  }
                }
              }
            },
            "evaluations": {
              "resources": {
                "operations": {
                  "methods": {
                    "get": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/operations/{operationsId}",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "path": "v1beta/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "id": "discoveryengine.projects.locations.evaluations.operations.get",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "The name of the operation resource.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+/operations/[^/]+$"
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "create": {
                  "id": "discoveryengine.projects.locations.evaluations.create",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name, such as `projects/{project}/locations/{location}`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1betaEvaluation"
                  },
                  "description": "Creates a Evaluation. Upon creation, the evaluation will be automatically triggered and begin execution.",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/evaluations",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta/{+parent}/evaluations"
                },
                "listResults": {
                  "id": "discoveryengine.projects.locations.evaluations.listResults",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A page token ListEvaluationResultsResponse.next_page_token, received from a previous EvaluationService.ListEvaluationResults call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to EvaluationService.ListEvaluationResults must match the call that provided the page token. Otherwise, an `INVALID_ARGUMENT` error is returned.",
                      "location": "query",
                      "type": "string"
                    },
                    "evaluation": {
                      "type": "string",
                      "description": "Required. The evaluation resource name, such as `projects/{project}/locations/{location}/evaluations/{evaluation}`. If the caller does not have permission to list ListEvaluationResultsResponse.EvaluationResult under this evaluation, regardless of whether or not this evaluation set exists, a `PERMISSION_DENIED` error is returned.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Maximum number of ListEvaluationResultsResponse.EvaluationResult to return. If unspecified, defaults to 100. The maximum allowed value is 1000. Values above 1000 will be coerced to 1000. If this field is negative, an `INVALID_ARGUMENT` error is returned.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}:listResults",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1betaListEvaluationResultsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "path": "v1beta/{+evaluation}:listResults",
                  "parameterOrder": [
                    "evaluation"
                  ],
                  "description": "Gets a list of results for a given a Evaluation."
                },
                "list": {
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/evaluations",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1betaListEvaluationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta/{+parent}/evaluations",
                  "description": "Gets a list of Evaluations.",
                  "id": "discoveryengine.projects.locations.evaluations.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent location resource name, such as `projects/{project}/locations/{location}`. If the caller does not have permission to list Evaluations under this location, regardless of whether or not this location exists, a `PERMISSION_DENIED` error is returned.",
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token ListEvaluationsResponse.next_page_token, received from a previous EvaluationService.ListEvaluations call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to EvaluationService.ListEvaluations must match the call that provided the page token. Otherwise, an `INVALID_ARGUMENT` error is returned.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. Maximum number of Evaluations to return. If unspecified, defaults to 100. The maximum allowed value is 1000. Values above 1000 will be coerced to 1000. If this field is negative, an `INVALID_ARGUMENT` error is returned.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                },
                "get": {
                  "id": "discoveryengine.projects.locations.evaluations.get",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Full resource name of Evaluation, such as `projects/{project}/locations/{location}/evaluations/{evaluation}`. If the caller does not have permission to access the Evaluation, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested Evaluation does not exist, a NOT_FOUND error is returned.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$"
                    }
                  },
                  "description": "Gets a Evaluation.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta/{+name}",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1betaEvaluation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ]
                }
              }
            },
            "groundingConfigs": {
              "methods": {
                "check": {
                  "id": "discoveryengine.projects.locations.groundingConfigs.check",
                  "httpMethod": "POST",
                  "parameters": {
                    "groundingConfig": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/groundingConfigs/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name of the grounding config, such as `projects/*/locations/global/groundingConfigs/default_grounding_config`.",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1betaCheckGroundingRequest"
                  },
                  "description": "Performs a grounding check.",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/groundingConfigs/{groundingConfigsId}:check",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1betaCheckGroundingResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "path": "v1beta/{+groundingConfig}:check",
                  "parameterOrder": [
                    "groundingConfig"
                  ]
                }
              }
            },
            "collections": {
              "resources": {
                "engines": {
                  "resources": {
                    "completionConfig": {
                      "methods": {
                        "removeSuggestion": {
                          "id": "discoveryengine.projects.locations.collections.engines.completionConfig.removeSuggestion",
                          "httpMethod": "POST",
                          "parameters": {
                            "completionConfig": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/completionConfig$",
                              "required": true,
                              "description": "Required. The completion_config of the parent engine resource name for which the search history suggestion is to be removed, such as `projects/*/locations/global/collections/default_collection/engines/*/completionConfig`.",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaRemoveSuggestionRequest"
                          },
                          "description": "Removes the search history suggestion in an engine for a user. This will remove the suggestion from being returned in the AdvancedCompleteQueryResponse.recent_search_suggestions for this user. If the user searches the same suggestion again, the new history will override and suggest this suggestion again.",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/completionConfig:removeSuggestion",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaRemoveSuggestionResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "parameterOrder": [
                            "completionConfig"
                          ],
                          "path": "v1beta/{+completionConfig}:removeSuggestion"
                        },
                        "completeQuery": {
                          "id": "discoveryengine.projects.locations.collections.engines.completionConfig.completeQuery",
                          "httpMethod": "POST",
                          "parameters": {
                            "completionConfig": {
                              "type": "string",
                              "description": "Required. The completion_config of the parent dataStore or engine resource name for which the completion is performed, such as `projects/*/locations/global/collections/default_collection/dataStores/*/completionConfig` `projects/*/locations/global/collections/default_collection/engines/*/completionConfig`.",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/completionConfig$"
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryRequest"
                          },
                          "description": "Completes the user input with advanced keyword suggestions.",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/completionConfig:completeQuery",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloud_search.query",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "path": "v1beta/{+completionConfig}:completeQuery",
                          "parameterOrder": [
                            "completionConfig"
                          ]
                        }
                      }
                    },
                    "sessions": {
                      "methods": {
                        "create": {
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/sessions",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaSession"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "path": "v1beta/{+parent}/sessions",
                          "parameterOrder": [
                            "parent"
                          ],
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1betaSession"
                          },
[...]
