{
  "mtlsRootUrl": "https://discoveryengine.mtls.googleapis.com/",
  "baseUrl": "https://discoveryengine.googleapis.com/",
  "kind": "discovery#restDescription",
  "name": "discoveryengine",
  "discoveryVersion": "v1",
  "endpoints": [
    {
      "endpointUrl": "https://discoveryengine.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast1"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://discoveryengine.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://discoveryengine.us.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us"
    },
    {
      "location": "eu",
      "description": "Regional Endpoint",
      "endpointUrl": "https://discoveryengine.eu.rep.googleapis.com/"
    },
    {
      "location": "in",
      "endpointUrl": "https://discoveryengine.in.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "version": "v1",
  "servicePath": "",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "id": "discoveryengine:v1",
  "schemas": {
    "GoogleCloudDiscoveryengineV1betaImportSuggestionDenyListEntriesResponse": {
      "id": "GoogleCloudDiscoveryengineV1betaImportSuggestionDenyListEntriesResponse",
      "description": "Response message for CompletionService.ImportSuggestionDenyListEntries method.",
      "type": "object",
      "properties": {
        "importedEntriesCount": {
          "description": "Count of deny list entries successfully imported.",
          "type": "string",
          "format": "int64"
        },
        "failedEntriesCount": {
          "description": "Count of deny list entries that failed to be imported.",
          "type": "string",
          "format": "int64"
        },
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfigDigitalParsingConfig": {
      "id": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfigDigitalParsingConfig",
      "description": "The digital parsing configurations for documents.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDiscoveryengineV1DeleteCmekConfigMetadata": {
      "description": "Metadata related to the progress of the CmekConfigService.DeleteCmekConfig operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1DeleteCmekConfigMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchParams": {
      "id": "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchParams",
      "description": "Search parameters.",
      "type": "object",
      "properties": {
        "orderBy": {
          "type": "string",
          "description": "The order in which documents are returned. Documents can be ordered by a field in an Document object. Leave it unset if ordered by relevance. `order_by` expression is case-sensitive. For more information on ordering, see [Ordering](https://cloud.google.com/retail/docs/filter-and-order#order) If this field is unrecognizable, an `INVALID_ARGUMENT` is returned."
        },
        "searchResultMode": {
          "type": "string",
          "enum": [
            "SEARCH_RESULT_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ],
          "description": "Specifies the search result mode. If unspecified, the search result mode defaults to `DOCUMENTS`. See [parse and chunk documents](https://cloud.google.com/generative-ai-app-builder/docs/parse-chunk-documents)",
          "enumDescriptions": [
            "Default value.",
            "Returns documents in the search result.",
            "Returns chunks in the search result. Only available if the DocumentProcessingConfig.chunking_config is specified."
          ]
        },
        "boostSpec": {
          "description": "Boost specification to boost certain documents in search results which may affect the answer query response. For more information on boosting, see [Boosting](https://cloud.google.com/retail/docs/boosting#boost)",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestBoostSpec"
        },
        "maxReturnResults": {
          "description": "Number of search results to return. The default value is 10.",
          "type": "integer",
          "format": "int32"
        },
        "filter": {
          "description": "The filter syntax consists of an expression language for constructing a predicate from one or more fields of the documents being filtered. Filter expression is case-sensitive. This will be used to filter search results which may affect the Answer response. If this field is unrecognizable, an `INVALID_ARGUMENT` is returned. Filtering in Vertex AI Search is done by mapping the LHS filter key to a key property defined in the Vertex AI Search backend -- this mapping is defined by the customer in their schema. For example a media customers might have a field 'name' in their schema. In this case the filter would look like this: filter --> name:'ANY(\"king kong\")' For more information about filtering including syntax and filter operators, see [Filter](https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata)",
          "type": "string"
        },
        "dataStoreSpecs": {
          "description": "Specs defining dataStores to filter on in a search call and configurations for those dataStores. This is only considered for engines with multiple dataStores use case. For single dataStore within an engine, they should use the specs at the top level.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1SearchRequestDataStoreSpec"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1UserEvent": {
      "id": "GoogleCloudDiscoveryengineV1UserEvent",
      "description": "UserEvent captures all metadata information Discovery Engine API needs to know about how end users interact with your website.",
      "type": "object",
      "properties": {
        "documents": {
          "description": "List of Documents associated with this user event. This field is optional except for the following event types: * `view-item` * `add-to-cart` * `purchase` * `media-play` * `media-complete` In a `search` event, this field represents the documents returned to the end user on the current page (the end user may have not finished browsing the whole page yet). When a new page is returned to the end user, after pagination/filtering/ordering even for the same query, a new `search` event with different UserEvent.documents is desired.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1DocumentInfo"
          },
          "type": "array"
        },
        "dataStore": {
          "type": "string",
          "description": "The DataStore resource full name, of the form `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. Optional. Only required for user events whose data store can't by determined by UserEvent.engine or UserEvent.documents. If data store is set in the parent of write/import/collect user event requests, this field can be omitted."
        },
        "attributionToken": {
          "type": "string",
          "description": "Token to attribute an API response to user action(s) to trigger the event. Highly recommended for user events that are the result of RecommendationService.Recommend. This field enables accurate attribution of recommendation model performance. The value must be one of: * RecommendResponse.attribution_token for events that are the result of RecommendationService.Recommend. * SearchResponse.attribution_token for events that are the result of SearchService.Search. This token enables us to accurately attribute page view or conversion completion back to the event and the particular predict response containing this clicked/purchased product. If user clicks on product K in the recommendation results, pass RecommendResponse.attribution_token as a URL parameter to product K's page. When recording events on product K's page, log the RecommendResponse.attribution_token to this field."
        },
        "sessionId": {
          "description": "A unique identifier for tracking a visitor session with a length limit of 128 bytes. A session is an aggregation of an end user behavior in a time span. A general guideline to populate the session_id: 1. If user has no activity for 30 min, a new session_id should be assigned. 2. The session_id should be unique across users, suggest use uuid or add UserEvent.user_pseudo_id as prefix.",
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "Optional. The filter syntax consists of an expression language for constructing a predicate from one or more fields of the documents being filtered. One example is for `search` events, the associated SearchRequest may contain a filter expression in SearchRequest.filter conforming to https://google.aip.dev/160#filtering. Similarly, for `view-item-list` events that are generated from a RecommendRequest, this field may be populated directly from RecommendRequest.filter conforming to https://google.aip.dev/160#filtering. The value must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an `INVALID_ARGUMENT` error is returned."
        },
        "completionInfo": {
          "description": "CompletionService.CompleteQuery details related to the event. This field should be set for `search` event when autocomplete function is enabled and the user clicks a suggestion for search.",
          "$ref": "GoogleCloudDiscoveryengineV1CompletionInfo"
        },
        "transactionInfo": {
          "description": "The transaction metadata (if any) associated with this user event.",
          "$ref": "GoogleCloudDiscoveryengineV1TransactionInfo"
        },
        "attributes": {
          "description": "Extra user event features to include in the recommendation model. These attributes must NOT contain data that needs to be parsed or processed further, e.g. JSON or other encodings. If you provide custom attributes for ingested user events, also include them in the user events that you associate with prediction requests. Custom attribute formatting must be consistent between imported events and events provided with prediction requests. This lets the Discovery Engine API use those custom attributes when training models and serving predictions, which helps improve recommendation quality. This field needs to pass all below criteria, otherwise an `INVALID_ARGUMENT` error is returned: * The key must be a UTF-8 encoded string with a length limit of 5,000 characters. * For text attributes, at most 400 values are allowed. Empty values are not allowed. Each value must be a UTF-8 encoded string with a length limit of 256 characters. * For number attributes, at most 400 values are allowed. For product recommendations, an example of extra user information is `traffic_channel`, which is how a user arrives at the site. Users can arrive at the site by coming to the site directly, coming through Google search, or in other ways.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1CustomAttribute"
          }
        },
        "eventType": {
          "type": "string",
          "description": "Required. User event type. Allowed values are: Generic values: * `search`: Search for Documents. * `view-item`: Detailed page view of a Document. * `view-item-list`: View of a panel or ordered list of Documents. * `view-home-page`: View of the home page. * `view-category-page`: View of a category page, e.g. Home > Men > Jeans Retail-related values: * `add-to-cart`: Add an item(s) to cart, e.g. in Retail online shopping * `purchase`: Purchase an item(s) Media-related values: * `media-play`: Start/resume watching a video, playing a song, etc. * `media-complete`: Finished or stopped midway through a video, song, etc. Custom conversion value: * `conversion`: Customer defined conversion event."
        },
        "eventTime": {
          "description": "Only required for UserEventService.ImportUserEvents method. Timestamp of when the user event happened.",
          "format": "google-datetime",
          "type": "string"
        },
        "tagIds": {
          "description": "A list of identifiers for the independent experiment groups this user event belongs to. This is used to distinguish between user events associated with different experiment setups.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "panels": {
          "description": "Optional. List of panels associated with this event. Used for page-level impression data.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1PanelInfo"
          },
          "type": "array"
        },
        "directUserRequest": {
          "description": "Should set to true if the request is made directly from the end user, in which case the UserEvent.user_info.user_agent can be populated from the HTTP request. This flag should be set only if the API request is made directly from the end user such as a mobile app (and not if a gateway or a server is processing and pushing the user events). This should not be set when using the JavaScript tag in UserEventService.CollectUserEvent.",
          "type": "boolean"
        },
        "feedback": {
          "description": "Optional. This field is optional except for the `add-feedback` event types.",
          "$ref": "GoogleCloudDiscoveryengineV1Feedback"
        },
        "searchInfo": {
          "description": "SearchService.Search details related to the event. This field should be set for `search` event.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchInfo"
        },
        "mediaInfo": {
          "description": "Media-specific info.",
          "$ref": "GoogleCloudDiscoveryengineV1MediaInfo"
        },
        "conversionType": {
          "type": "string",
          "description": "Optional. Conversion type. Required if UserEvent.event_type is `conversion`. This is a customer-defined conversion name in lowercase letters or numbers separated by \"-\", such as \"watch\", \"good-visit\" etc. Do not set the field if UserEvent.event_type is not `conversion`. This mixes the custom conversion event with predefined events like `search`, `view-item` etc."
        },
        "promotionIds": {
          "description": "The promotion IDs if this is an event associated with promotions. Currently, this field is restricted to at most one ID.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "pageInfo": {
          "description": "Page metadata such as categories and other critical information for certain event types such as `view-category-page`.",
          "$ref": "GoogleCloudDiscoveryengineV1PageInfo"
        },
        "userInfo": {
          "description": "Information about the end user.",
          "$ref": "GoogleCloudDiscoveryengineV1UserInfo"
        },
        "panel": {
          "description": "Panel metadata associated with this user event.",
          "$ref": "GoogleCloudDiscoveryengineV1PanelInfo"
        },
        "userPseudoId": {
          "type": "string",
          "description": "Required. A unique identifier for tracking visitors. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor log in/out of the website. Do not set the field to the same fixed ID for different users. This mixes the event history of those users together, which results in degraded model quality. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an `INVALID_ARGUMENT` error is returned. The field should not contain PII or user-data. We recommend to use Google Analytics [Client ID](https://developers.google.com/analytics/devguides/collection/analyticsjs/field-reference#clientId) for this field."
        },
        "entity": {
          "description": "Optional. Represents the entity for customers that may run multiple different entities, domains, sites or regions, for example, `Google US`, `Google Ads`, `Waymo`, `google.com`, `youtube.com`, etc. We recommend that you set `entity` to get better per-entity search, completion, and prediction results.",
          "type": "string"
        },
        "engine": {
          "type": "string",
          "description": "The Engine resource name, in the form of `projects/{project}/locations/{location}/collections/{collection_id}/engines/{engine_id}`. Optional. Only required for Engine produced user events. For example, user events from blended search."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1ListLicenseConfigsUsageStatsResponse": {
      "type": "object",
      "properties": {
        "licenseConfigUsageStats": {
          "type": "array",
          "description": "All the customer's LicenseConfigUsageStats.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1LicenseConfigUsageStats"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1ListLicenseConfigsUsageStatsResponse",
      "description": "Response message for UserLicenseService.ListLicenseConfigsUsageStats method."
    },
    "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries": {
      "type": "object",
      "properties": {
        "qpsTimeSeries": {
          "description": "The QPS of the crawl rate.",
          "$ref": "GoogleMonitoringV3TimeSeries"
        }
      },
      "description": "The historical crawl rate timeseries data, used for monitoring.",
      "id": "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecExtractiveContentSpec": {
      "type": "object",
      "properties": {
        "maxExtractiveAnswerCount": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of extractive answers returned in each search result. An extractive answer is a verbatim answer extracted from the original document, which provides a precise and contextually relevant answer to the search query. If the number of matching answers is less than the `max_extractive_answer_count`, return all of the answers. Otherwise, return the `max_extractive_answer_count`. At most five answers are returned for each SearchResult."
        },
        "returnExtractiveSegmentScore": {
          "description": "Specifies whether to return the confidence score from the extractive segments in each search result. This feature is available only for new or allowlisted data stores. To allowlist your data store, contact your Customer Engineer. The default value is `false`.",
          "type": "boolean"
        },
        "numPreviousSegments": {
          "description": "Specifies whether to also include the adjacent from each selected segments. Return at most `num_previous_segments` segments before each selected segments.",
          "format": "int32",
          "type": "integer"
        },
        "maxExtractiveSegmentCount": {
          "type": "integer",
          "format": "int32",
          "description": "The max number of extractive segments returned in each search result. Only applied if the DataStore is set to DataStore.ContentConfig.CONTENT_REQUIRED or DataStore.solution_types is SOLUTION_TYPE_CHAT. An extractive segment is a text segment extracted from the original document that is relevant to the search query, and, in general, more verbose than an extractive answer. The segment could then be used as input for LLMs to generate summaries and answers. If the number of matching segments is less than `max_extractive_segment_count`, return all of the segments. Otherwise, return the `max_extractive_segment_count`."
        },
        "numNextSegments": {
          "type": "integer",
          "format": "int32",
          "description": "Return at most `num_next_segments` segments after each selected segments."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecExtractiveContentSpec",
      "description": "A specification for configuring the extractive content in a search response."
    },
    "GoogleCloudDiscoveryengineV1SearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterNumberConstraint": {
      "type": "object",
      "properties": {
        "querySegment": {
          "description": "Identifies the keywords within the search query that match a filter.",
          "type": "string"
        },
        "fieldName": {
          "description": "Name of the numerical field as defined in the schema.",
          "type": "string"
        },
        "comparison": {
          "description": "The comparison operation performed between the field value and the value specified in the constraint.",
          "enumDescriptions": [
            "Undefined comparison operator.",
            "Denotes equality `=` operator.",
            "Denotes less than or equal to `<=` operator.",
            "Denotes less than `<` operator.",
            "Denotes greater than or equal to `>=` operator.",
            "Denotes greater than `>` operator."
          ],
          "type": "string",
          "enum": [
            "COMPARISON_UNSPECIFIED",
            "EQUALS",
            "LESS_THAN_EQUALS",
            "LESS_THAN",
            "GREATER_THAN_EQUALS",
            "GREATER_THAN"
          ]
        },
        "value": {
          "format": "double",
          "type": "number",
          "description": "The value specified in the numerical constraint."
        }
      },
      "description": "Constraint expression of a number field. Example: price < 100.",
      "id": "GoogleCloudDiscoveryengineV1SearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterNumberConstraint"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerCitationSource": {
      "type": "object",
      "properties": {
        "referenceId": {
          "type": "string",
          "description": "ID of the citation source."
        }
      },
      "description": "Citation source.",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerCitationSource"
    },
    "GoogleCloudDiscoveryengineV1alphaEngineKnowledgeGraphConfigFeatureConfig": {
      "type": "object",
      "properties": {
        "disablePrivateKgAutoComplete": {
          "type": "boolean",
          "description": "Whether to disable the private KG auto complete for the engine. Defaults to false if not specified."
        },
        "disablePrivateKgQueryUiChips": {
          "description": "Whether to disable the private KG for query UI chips. Defaults to false if not specified.",
          "type": "boolean"
        },
        "disablePrivateKgQueryUnderstanding": {
          "description": "Whether to disable the private KG query understanding for the engine. Defaults to false if not specified.",
          "type": "boolean"
        },
        "disablePrivateKgEnrichment": {
          "type": "boolean",
          "description": "Whether to disable the private KG enrichment for the engine. Defaults to false if not specified."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaEngineKnowledgeGraphConfigFeatureConfig",
      "description": "Feature config for the Knowledge Graph."
    },
    "GoogleCloudDiscoveryengineV1StreamAssistRequestToolsSpec": {
      "description": "Specification of tools that are used to serve the request.",
      "id": "GoogleCloudDiscoveryengineV1StreamAssistRequestToolsSpec",
      "type": "object",
      "properties": {
        "vertexAiSearchSpec": {
          "description": "Optional. Specification of the Vertex AI Search tool.",
          "$ref": "GoogleCloudDiscoveryengineV1StreamAssistRequestToolsSpecVertexAiSearchSpec"
        },
        "webGroundingSpec": {
          "description": "Optional. Specification of the web grounding tool. If field is present, enables grounding with web search. Works only if Assistant.web_grounding_type is WEB_GROUNDING_TYPE_GOOGLE_SEARCH or WEB_GROUNDING_TYPE_ENTERPRISE_WEB_SEARCH.",
          "$ref": "GoogleCloudDiscoveryengineV1StreamAssistRequestToolsSpecWebGroundingSpec"
        },
        "videoGenerationSpec": {
          "description": "Optional. Specification of the video generation tool.",
          "$ref": "GoogleCloudDiscoveryengineV1StreamAssistRequestToolsSpecVideoGenerationSpec"
        },
        "imageGenerationSpec": {
          "description": "Optional. Specification of the image generation tool.",
          "$ref": "GoogleCloudDiscoveryengineV1StreamAssistRequestToolsSpecImageGenerationSpec"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1SpannerSource": {
      "description": "The Spanner source for importing data",
      "id": "GoogleCloudDiscoveryengineV1SpannerSource",
      "type": "object",
      "properties": {
        "databaseId": {
          "description": "Required. The database ID of the source Spanner table.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "The project ID that contains the Spanner source. Has a length limit of 128 characters. If not specified, inherits the project ID from the parent request."
        },
        "instanceId": {
          "description": "Required. The instance ID of the source Spanner table.",
          "type": "string"
        },
        "tableId": {
          "description": "Required. The table name of the Spanner database that needs to be imported.",
          "type": "string"
        },
        "enableDataBoost": {
          "type": "boolean",
          "description": "Whether to apply data boost on Spanner export. Enabling this option will incur additional cost. More info can be found [here](https://cloud.google.com/spanner/docs/databoost/databoost-overview#billing_and_quotas)."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1UpdateTargetSiteMetadata": {
      "id": "GoogleCloudDiscoveryengineV1UpdateTargetSiteMetadata",
      "description": "Metadata related to the progress of the SiteSearchEngineService.UpdateTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaCreateSchemaMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaCreateSchemaMetadata",
      "description": "Metadata for Create Schema LRO."
    },
    "GoogleCloudDiscoveryengineV1betaCmekConfig": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name of the CmekConfig of the form `projects/{project}/locations/{location}/cmekConfig` or `projects/{project}/locations/{location}/cmekConfigs/{cmek_config}`.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "KEY_ISSUE",
            "DELETING",
            "DELETE_FAILED",
            "UNUSABLE",
            "ACTIVE_ROTATING",
            "DELETED",
            "EXPIRED"
          ],
          "enumDescriptions": [
            "The CmekConfig state is unknown.",
            "The CmekConfig is creating.",
            "The CmekConfig can be used with DataStores.",
            "The CmekConfig is unavailable, most likely due to the KMS Key being revoked.",
            "The CmekConfig is deleting.",
            "The CmekConfig deletion process failed.",
            "The CmekConfig is not usable, most likely due to some internal issue.",
            "The KMS key version is being rotated.",
            "The KMS key is soft deleted. Some cleanup policy will eventually be applied.",
            "The KMS key is expired, meaning the key has been disabled for 30+ days. The customer can call DeleteCmekConfig to change the state to DELETED."
          ],
          "type": "string",
          "description": "Output only. The states of the CmekConfig."
        },
        "notebooklmState": {
          "description": "Output only. Whether the NotebookLM Corpus is ready to be used.",
          "type": "string",
          "enumDescriptions": [
            "The NotebookLM state is unknown.",
            "The NotebookLM is not ready.",
            "The NotebookLM is ready to be used.",
            "The NotebookLM is not enabled."
          ],
          "readOnly": true,
          "enum": [
            "NOTEBOOK_LM_STATE_UNSPECIFIED",
            "NOTEBOOK_LM_NOT_READY",
            "NOTEBOOK_LM_READY",
            "NOTEBOOK_LM_NOT_ENABLED"
          ]
        },
        "kmsKeyVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. KMS key version resource name which will be used to encrypt resources `/cryptoKeyVersions/{keyVersion}`."
        },
        "lastRotationTimestampMicros": {
          "description": "Output only. The timestamp of the last key rotation.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "isDefault": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. The default CmekConfig for the Customer."
        },
        "kmsKey": {
          "type": "string",
          "description": "Required. KMS key resource name which will be used to encrypt resources `projects/{project}/locations/{location}/keyRings/{keyRing}/cryptoKeys/{keyId}`."
        },
        "singleRegionKeys": {
          "description": "Optional. Single-regional CMEKs that are required for some VAIS features.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSingleRegionKey"
          },
          "type": "array"
        }
      },
      "description": "Configurations used to enable CMEK data encryption with Cloud KMS keys.",
      "id": "GoogleCloudDiscoveryengineV1betaCmekConfig"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSummarySpecModelSpec": {
      "type": "object",
      "properties": {
        "version": {
          "description": "The model version used to generate the summary. Supported values are: * `stable`: string. Default value when no value is specified. Uses a generally available, fine-tuned model. For more information, see [Answer generation model versions and lifecycle](https://cloud.google.com/generative-ai-app-builder/docs/answer-generation-models). * `preview`: string. (Public preview) Uses a preview model. For more information, see [Answer generation model versions and lifecycle](https://cloud.google.com/generative-ai-app-builder/docs/answer-generation-models).",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSummarySpecModelSpec",
      "description": "Specification of the model."
    },
    "GoogleCloudDiscoveryengineV1ListLicenseConfigsResponse": {
      "id": "GoogleCloudDiscoveryengineV1ListLicenseConfigsResponse",
      "description": "Response message for LicenseConfigService.ListLicenseConfigs method.",
      "type": "object",
      "properties": {
        "licenseConfigs": {
          "type": "array",
          "description": "All the customer's LicenseConfigs.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1LicenseConfig"
          }
        },
        "nextPageToken": {
          "description": "Not supported.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1DestinationConfig": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "Optional. Unique destination identifier that is supported by the connector."
        },
        "params": {
          "description": "Optional. Additional parameters for this destination config in structured json format.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "jsonParams": {
          "type": "string",
          "description": "Additional parameters for this destination config in json string format."
        },
        "destinations": {
          "type": "array",
          "description": "Optional. The destinations for the corresponding key.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1DestinationConfigDestination"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1DestinationConfig",
      "description": "Defines target endpoints used to connect to third-party sources."
    },
    "GoogleCloudDiscoveryengineV1alphaOrganicCrawlRateTimeSeries": {
      "type": "object",
      "properties": {
        "googleOrganicCrawlRate": {
          "description": "Google's organic crawl rate time series, which is the sum of all googlebots' crawl rate. Please refer to https://developers.google.com/search/docs/crawling-indexing/overview-google-crawlers for more details about googlebots.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries"
        },
        "vertexAiOrganicCrawlRate": {
          "description": "Vertex AI's organic crawl rate time series, which is the crawl rate of Google-CloudVertexBot when dedicate crawl is not set. Please refer to https://developers.google.com/search/docs/crawling-indexing/google-common-crawlers#google-cloudvertexbot for more details about Google-CloudVertexBot.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries"
        }
      },
      "description": "The historical organic crawl rate timeseries data, used for monitoring. Organic crawl is auto-determined by Google to crawl the user's website when dedicate crawl is not set. Crawl rate is the QPS of crawl request Google sends to the user's website.",
      "id": "GoogleCloudDiscoveryengineV1alphaOrganicCrawlRateTimeSeries"
    },
    "GoogleCloudDiscoveryengineV1alphaPurgeUserEventsMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        },
        "failureCount": {
          "description": "Count of entries that encountered errors while processing.",
          "type": "string",
          "format": "int64"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "successCount": {
          "description": "Count of entries that were deleted successfully.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaPurgeUserEventsMetadata",
      "description": "Metadata related to the progress of the PurgeUserEvents operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1Control": {
      "id": "GoogleCloudDiscoveryengineV1Control",
      "description": "Defines a conditioned behavior to employ during serving. Must be attached to a ServingConfig to be considered at serving time. Permitted actions dependent on `SolutionType`.",
      "type": "object",
      "properties": {
        "filterAction": {
          "description": "Defines a filter-type control Currently not supported by Recommendation",
          "$ref": "GoogleCloudDiscoveryengineV1ControlFilterAction"
        },
        "displayName": {
          "description": "Required. Human readable name. The identifier used in UI views. Must be UTF-8 encoded string. Length limit is 128 characters. Otherwise an INVALID ARGUMENT error is thrown.",
          "type": "string"
        },
        "promoteAction": {
          "description": "Promote certain links based on predefined trigger queries.",
          "$ref": "GoogleCloudDiscoveryengineV1ControlPromoteAction"
        },
        "boostAction": {
          "description": "Defines a boost-type control",
          "$ref": "GoogleCloudDiscoveryengineV1ControlBoostAction"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Fully qualified name `projects/*/locations/global/dataStore/*/controls/*`"
        },
        "useCases": {
          "type": "array",
          "description": "Specifies the use case for the control. Affects what condition fields can be set. Only applies to SOLUTION_TYPE_SEARCH. Currently only allow one use case per control. Must be set when solution_type is SolutionType.SOLUTION_TYPE_SEARCH.",
          "items": {
            "enumDescriptions": [
              "Value used when unset. Will not occur in CSS.",
              "Search use case. Expects the traffic has a non-empty query.",
              "Browse use case. Expects the traffic has an empty query."
            ],
            "type": "string",
            "enum": [
              "SEARCH_USE_CASE_UNSPECIFIED",
              "SEARCH_USE_CASE_SEARCH",
              "SEARCH_USE_CASE_BROWSE"
            ]
          }
        },
        "conditions": {
          "type": "array",
          "description": "Determines when the associated action will trigger. Omit to always apply the action. Currently only a single condition may be specified. Otherwise an INVALID ARGUMENT error is thrown.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1Condition"
          }
        },
        "redirectAction": {
          "description": "Defines a redirect-type control.",
          "$ref": "GoogleCloudDiscoveryengineV1ControlRedirectAction"
        },
        "associatedServingConfigIds": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of all ServingConfig IDs this control is attached to. May take up to 10 minutes to update after changes.",
          "items": {
            "type": "string"
          }
        },
        "synonymsAction": {
          "description": "Treats a group of terms as synonyms of one another.",
          "$ref": "GoogleCloudDiscoveryengineV1ControlSynonymsAction"
        },
        "solutionType": {
          "description": "Required. Immutable. What solution the control belongs to. Must be compatible with vertical of resource. Otherwise an INVALID ARGUMENT error is thrown.",
          "enumDescriptions": [
            "Default value.",
            "Used for Recommendations AI.",
            "Used for Discovery Search.",
            "Used for use cases related to the Generative AI agent.",
            "Used for use cases related to the Generative Chat agent. It's used for Generative chat engine only, the associated data stores must enrolled with `SOLUTION_TYPE_CHAT` solution.",
            "Used for AI Mode."
          ],
          "type": "string",
          "enum": [
            "SOLUTION_TYPE_UNSPECIFIED",
            "SOLUTION_TYPE_RECOMMENDATION",
            "SOLUTION_TYPE_SEARCH",
            "SOLUTION_TYPE_CHAT",
            "SOLUTION_TYPE_GENERATIVE_CHAT",
            "SOLUTION_TYPE_AI_MODE"
          ]
        }
      }
    },
    "GoogleCloudDiscoveryengineV1StreamAssistResponseInvokedSkill": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the skill.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the skill.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1StreamAssistResponseInvokedSkill",
      "description": "Represents a skill used during the assist call."
    },
    "GoogleCloudDiscoveryengineV1alphaUserInfo": {
      "type": "object",
      "properties": {
        "preciseLocation": {
          "description": "Optional. Input only. Precise location of the user. It is used in Custom Ranking to calculate the distance between the user and the relevant documents.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaUserInfoPreciseLocation"
        },
        "userId": {
          "type": "string",
          "description": "Highly recommended for logged-in users. Unique identifier for logged-in user, such as a user name. Don't set for anonymous users. Always use a hashed value for this ID. Don't set the field to the same fixed ID for different users. This mixes the event history of those users together, which results in degraded model quality. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an `INVALID_ARGUMENT` error is returned. Represents an opaque ID to the Search API. The Search API doesn't interpret the value in any way. This field is used to associate events with a user across sessions if the events are being uploaded."
        },
        "userAgent": {
          "type": "string",
          "description": "User agent as included in the HTTP header. The field must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an `INVALID_ARGUMENT` error is returned. This should not be set when using the client side event reporting with GTM or JavaScript tag in UserEventService.CollectUserEvent or if UserEvent.direct_user_request is set."
        },
        "timeZone": {
          "description": "Optional. IANA time zone, e.g. Europe/Budapest.",
          "type": "string"
        }
      },
      "description": "Information of an end user.",
      "id": "GoogleCloudDiscoveryengineV1alphaUserInfo"
    },
    "GoogleCloudDiscoveryengineV1DisableAdvancedSiteSearchRequest": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDiscoveryengineV1DisableAdvancedSiteSearchRequest",
      "description": "Request message for SiteSearchEngineService.DisableAdvancedSiteSearch method."
    },
    "GoogleCloudDiscoveryengineV1ListServingConfigsResponse": {
      "type": "object",
      "properties": {
        "servingConfigs": {
          "description": "All the ServingConfigs for a given dataStore.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1ServingConfig"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Pagination token, if not returned indicates the last page.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1ListServingConfigsResponse",
      "description": "Response for ListServingConfigs method."
    },
    "GoogleCloudDiscoveryengineV1alphaRecrawlUrisMetadata": {
      "description": "Metadata related to the progress of the SiteSearchEngineService.RecrawlUris operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1alphaRecrawlUrisMetadata",
      "type": "object",
      "properties": {
        "successCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of URIs that have been crawled so far."
        },
        "urisNotMatchingTargetSitesCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of URIs that don't match any TargetSites."
        },
        "urisNotMatchingTargetSites": {
          "type": "array",
          "description": "Unique URIs in the request that don't match any TargetSite in the DataStore, only match TargetSites that haven't been fully indexed, or match a TargetSite with type EXCLUDE. Sample limited to 1000.",
          "items": {
            "type": "string"
          }
        },
        "invalidUrisCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of unique URIs in the request that have invalid format."
        },
        "pendingCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of URIs that have yet to be crawled."
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "noindexUris": {
          "description": "URIs that have no index meta tag. Sample limited to 1000.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "validUrisCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of unique URIs in the request that are not in invalid_uris."
        },
        "quotaExceededCount": {
          "description": "Total number of URIs that were rejected due to insufficient indexing resources.",
          "type": "integer",
          "format": "int32"
        },
        "invalidUris": {
          "type": "array",
          "description": "Unique URIs in the request that have invalid format. Sample limited to 1000.",
          "items": {
            "type": "string"
          }
        },
        "noindexUrisCount": {
          "format": "int32",
          "type": "integer",
          "description": "Total number of URIs that have no index meta tag."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1ChunkStructuredContent": {
      "description": "The structured content information.",
      "id": "GoogleCloudDiscoveryengineV1ChunkStructuredContent",
      "type": "object",
      "properties": {
        "content": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The content of the structured content."
        },
        "structureType": {
          "description": "Output only. The structure type of the structured content.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Shareholder structure.",
            "Signature structure.",
            "Checkbox structure."
          ],
          "readOnly": true,
          "enum": [
            "STRUCTURE_TYPE_UNSPECIFIED",
            "SHAREHOLDER_STRUCTURE",
            "SIGNATURE_STRUCTURE",
            "CHECKBOX_STRUCTURE"
          ]
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaRemovePatientFilterRequest": {
      "type": "object",
      "properties": {
        "filterGroups": {
          "description": "Required. Names of the Group resources to use as a basis for the list of patients to remove from the patient filter, in format `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}/fhir/Group/{group_id}`. if the caller does not have permission to access the FHIR store, regardless of whether it exists, PERMISSION_DENIED error is returned. If the discovery engine service account does not have permission to access the FHIR store, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the group is not found at the location, a RESOURCE_NOT_FOUND error will be returned. The filter group must be a FHIR resource name of type Group, and the list of IDs to remove will be constructed from the direct members of the group which are Patient resources.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "dataStore": {
          "type": "string",
          "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. If the caller does not have permission to access the DataStore, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested DataStore does not exist, a NOT_FOUND error is returned. If the requested DataStore does not have a patient filter, a NOT_FOUND error will be returned"
        }
      },
      "description": "Request for DataStoreService.RemovePatientFilter method.",
      "id": "GoogleCloudDiscoveryengineV1alphaRemovePatientFilterRequest"
    },
    "GoogleCloudDiscoveryengineV1alphaCreateSchemaMetadata": {
      "description": "Metadata for Create Schema LRO.",
      "id": "GoogleCloudDiscoveryengineV1alphaCreateSchemaMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDeleteDataStoreMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteDataStoreMetadata",
      "description": "Metadata related to the progress of the DataStoreService.DeleteDataStore operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaQualityMetricsTopkMetrics": {
      "type": "object",
      "properties": {
        "top1": {
          "description": "The top-1 value.",
          "type": "number",
          "format": "double"
        },
        "top3": {
          "type": "number",
          "format": "double",
          "description": "The top-3 value."
        },
        "top5": {
          "description": "The top-5 value.",
          "format": "double",
          "type": "number"
        },
        "top10": {
          "type": "number",
          "format": "double",
          "description": "The top-10 value."
        }
      },
      "description": "Stores the metric values at specific top-k levels.",
      "id": "GoogleCloudDiscoveryengineV1betaQualityMetricsTopkMetrics"
    },
    "GoogleCloudDiscoveryengineV1StreamAssistRequestToolsSpecVertexAiSearchSpec": {
      "description": "Specification of the Vertex AI Search tool.",
      "id": "GoogleCloudDiscoveryengineV1StreamAssistRequestToolsSpecVertexAiSearchSpec",
      "type": "object",
      "properties": {
        "dataStoreSpecs": {
          "type": "array",
          "description": "Optional. Specs defining DataStores to filter on in a search call and configurations for those data stores. This is only considered for Engines with multiple data stores.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1SearchRequestDataStoreSpec"
          }
        },
        "filter": {
          "type": "string",
          "description": "Optional. The filter syntax consists of an expression language for constructing a predicate from one or more fields of the documents being filtered. Filter expression is case-sensitive. If this field is unrecognizable, an `INVALID_ARGUMENT` is returned. Filtering in Vertex AI Search is done by mapping the LHS filter key to a key property defined in the Vertex AI Search backend -- this mapping is defined by the customer in their schema. For example a media customer might have a field 'name' in their schema. In this case the filter would look like this: filter --> name:'ANY(\"king kong\")' For more information about filtering including syntax and filter operators, see [Filter](https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata)"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSafetyRating": {
      "type": "object",
      "properties": {
        "category": {
          "description": "Output only. Harm category.",
          "type": "string",
          "enumDescriptions": [
            "The harm category is unspecified.",
            "The harm category is hate speech.",
            "The harm category is dangerous content.",
            "The harm category is harassment.",
            "The harm category is sexually explicit content.",
            "The harm category is civic integrity."
          ],
          "readOnly": true,
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_CIVIC_INTEGRITY"
          ]
        },
        "probability": {
          "description": "Output only. Harm probability levels in the content.",
          "type": "string",
          "enumDescriptions": [
            "Harm probability unspecified.",
            "Negligible level of harm.",
            "Low level of harm.",
            "Medium level of harm.",
            "High level of harm."
          ],
          "readOnly": true,
          "enum": [
            "HARM_PROBABILITY_UNSPECIFIED",
            "NEGLIGIBLE",
            "LOW",
            "MEDIUM",
            "HIGH"
          ]
        },
        "probabilityScore": {
          "description": "Output only. Harm probability score.",
          "readOnly": true,
          "type": "number",
          "format": "float"
        },
        "severity": {
          "readOnly": true,
          "enum": [
            "HARM_SEVERITY_UNSPECIFIED",
            "HARM_SEVERITY_NEGLIGIBLE",
            "HARM_SEVERITY_LOW",
            "HARM_SEVERITY_MEDIUM",
            "HARM_SEVERITY_HIGH"
          ],
          "enumDescriptions": [
            "Harm severity unspecified.",
            "Negligible level of harm severity.",
            "Low level of harm severity.",
            "Medium level of harm severity.",
            "High level of harm severity."
          ],
          "type": "string",
          "description": "Output only. Harm severity levels in the content."
        },
        "severityScore": {
          "description": "Output only. Harm severity score.",
          "readOnly": true,
          "type": "number",
          "format": "float"
        },
        "blocked": {
          "description": "Output only. Indicates whether the content was filtered out because of this rating.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "description": "Safety rating corresponding to the generated content.",
      "id": "GoogleCloudDiscoveryengineV1alphaSafetyRating"
    },
    "GoogleCloudDiscoveryengineV1alphaEvaluation": {
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp the Evaluation was created at."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The full resource name of the Evaluation, in the format of `projects/{project}/locations/{location}/evaluations/{evaluation}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters."
        },
        "evaluationSpec": {
          "description": "Required. The specification of the evaluation.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaEvaluationEvaluationSpec"
        },
        "state": {
          "type": "string",
          "description": "Output only. The state of the evaluation.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "The evaluation is unspecified.",
            "The service is preparing to run the evaluation.",
            "The evaluation is in progress.",
            "The evaluation completed successfully.",
            "The evaluation failed."
          ]
        },
        "errorSamples": {
          "description": "Output only. A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "readOnly": true,
          "type": "array"
        },
        "qualityMetrics": {
          "description": "Output only. The metrics produced by the evaluation, averaged across all SampleQuerys in the SampleQuerySet. Only populated when the evaluation's state is SUCCEEDED.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaQualityMetrics",
          "readOnly": true
        },
        "error": {
          "description": "Output only. The error that occurred during evaluation. Only populated when the evaluation's state is FAILED.",
          "$ref": "GoogleRpcStatus",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp the Evaluation was completed at."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaEvaluation",
      "description": "An evaluation is a single execution (or run) of an evaluation process. It encapsulates the state of the evaluation and the resulting data."
    },
    "GoogleCloudDiscoveryengineV1alphaEngine": {
      "type": "object",
      "properties": {
        "observabilityConfig": {
          "description": "Optional. Observability config for the engine.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaObservabilityConfig"
        },
        "cmekConfig": {
          "description": "Output only. CMEK-related information for the Engine.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaCmekConfig",
          "readOnly": true
        },
        "displayName": {
          "description": "Required. The display name of the engine. Should be human readable. UTF-8 encoded string with limit of 1024 characters.",
          "type": "string"
        },
        "dataStoreIds": {
          "description": "Optional. The data stores associated with this engine. For SOLUTION_TYPE_SEARCH and SOLUTION_TYPE_RECOMMENDATION type of engines, they can only associate with at most one data store. If solution_type is SOLUTION_TYPE_CHAT, multiple DataStores in the same Collection can be associated here. Note that when used in CreateEngineRequest, one DataStore id must be provided as the system will use it for necessary initializations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "commonConfig": {
          "description": "Common config spec that specifies the metadata of the engine.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaEngineCommonConfig"
        },
        "chatEngineConfig": {
          "description": "Configurations for the Chat Engine. Only applicable if solution_type is SOLUTION_TYPE_CHAT.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaEngineChatEngineConfig"
        },
        "solutionType": {
          "description": "Required. The solutions of the engine.",
          "enumDescriptions": [
            "Default value.",
            "Used for Recommendations AI.",
            "Used for Discovery Search.",
            "Used for use cases related to the Generative AI agent.",
            "Used for use cases related to the Generative Chat agent. It's used for Generative chat engine only, the associated data stores must enrolled with `SOLUTION_TYPE_CHAT` solution.",
            "Used for AI Mode."
          ],
          "type": "string",
          "enum": [
            "SOLUTION_TYPE_UNSPECIFIED",
            "SOLUTION_TYPE_RECOMMENDATION",
            "SOLUTION_TYPE_SEARCH",
            "SOLUTION_TYPE_CHAT",
            "SOLUTION_TYPE_GENERATIVE_CHAT",
            "SOLUTION_TYPE_AI_MODE"
          ]
        },
        "configurableBillingApproach": {
          "description": "Optional. Configuration for configurable billing approach.",
          "enumDescriptions": [
            "Default value. For Spark and non-Spark non-configurable billing approach. General pricing model.",
            "The billing approach follows configurations specified by customer."
          ],
          "type": "string",
          "enum": [
            "CONFIGURABLE_BILLING_APPROACH_UNSPECIFIED",
            "CONFIGURABLE_BILLING_APPROACH_ENABLED"
          ]
        },
        "connectorTenantInfo": {
          "description": "Optional. Maps a connector ID (e.g., \"hybrid-github\", \"shopify\") to tenant-specific information required for that connector. The structure of the tenant information string is connector-dependent.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "procurementContactEmails": {
          "type": "array",
          "description": "Optional. The emails of the procurement contacts.",
          "items": {
            "type": "string"
          }
        },
        "disableAnalytics": {
          "type": "boolean",
          "description": "Optional. Whether to disable analytics for searches performed on this engine."
        },
        "recommendationMetadata": {
          "description": "Output only. Additional information of a recommendation engine. Only applicable if solution_type is SOLUTION_TYPE_RECOMMENDATION.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaEngineRecommendationMetadata",
          "readOnly": true
        },
        "chatEngineMetadata": {
          "description": "Output only. Additional information of the Chat Engine. Only applicable if solution_type is SOLUTION_TYPE_CHAT.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaEngineChatEngineMetadata",
          "readOnly": true
        },
        "appType": {
          "type": "string",
          "enum": [
            "APP_TYPE_UNSPECIFIED",
            "APP_TYPE_INTRANET"
          ],
          "description": "Optional. Immutable. This the application type which this engine resource represents. NOTE: this is a new concept independ of existing industry vertical or solution type.",
          "enumDescriptions": [
            "All non specified apps.",
            "App type for intranet search and Agentspace."
          ]
        },
        "knowledgeGraphConfig": {
          "description": "Optional. Configurations for the Knowledge Graph. Only applicable if solution_type is SOLUTION_TYPE_SEARCH.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaEngineKnowledgeGraphConfig"
        },
        "searchEngineConfig": {
          "description": "Configurations for the Search Engine. Only applicable if solution_type is SOLUTION_TYPE_SEARCH.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaEngineSearchEngineConfig"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp the Recommendation Engine was created at."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp the Recommendation Engine was last updated."
        },
        "marketplaceAgentVisibility": {
          "type": "string",
          "enum": [
            "MARKETPLACE_AGENT_VISIBILITY_UNSPECIFIED",
            "SHOW_AVAILABLE_AGENTS_ONLY",
            "SHOW_AGENTS_ALREADY_INTEGRATED",
            "SHOW_AGENTS_ALREADY_PURCHASED",
            "SHOW_ALL_AGENTS"
          ],
          "description": "Optional. The visibility of marketplace agents in the agent gallery.",
          "enumDescriptions": [
            "Defaults to `MARKETPLACE_AGENT_VISIBILITY_UNSPECIFIED`.",
            "Only agents that are currently available for use by the user are visible.",
            "Show marketplace agents that the user does not yet have access to but are integrated into the engine. This level also includes all agents visible with `SHOW_AVAILABLE_AGENTS_ONLY`.",
            "Show all agents visible with `SHOW_AGENTS_ALREADY_INTEGRATED`, plus agents that have already been purchased by the project/organization, even if they are not currently integrated into the engine.",
            "All agents in the marketplace are visible, regardless of access or purchase status. This level encompasses all agents shown in the previous levels."
          ]
        },
        "features": {
          "description": "Optional. Feature config for the engine to opt in or opt out of features. Supported keys: * `*`: all features, if it's present, all other feature state settings are ignored. * `agent-gallery` * `no-code-agent-builder` * `prompt-gallery` * `model-selector` * `notebook-lm` * `people-search` * `people-search-org-chart` * `bi-directional-audio` * `feedback` * `session-sharing` * `personalization-memory` * `personalization-suggested-highlights` * `disable-mobile-app-access` * `disable-agent-sharing` * `disable-image-generation` * `disable-video-generation` * `disable-onedrive-upload` * `disable-talk-to-content` * `disable-google-drive-upload` * `disable-welcome-emails` * `disable-canvas` * `disable-canvas-workspace` * `disable-skills` * `enable-end-user-sharing-with-groups` * `single-agent-orchestration` * `multi-agent-orchestration` * `cross-product-intelligence`",
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "enum": [
              "FEATURE_STATE_UNSPECIFIED",
              "FEATURE_STATE_ON",
              "FEATURE_STATE_OFF"
            ],
            "enumDescriptions": [
              "The feature state is unspecified.",
              "The feature is turned on to be accessible.",
              "The feature is turned off to be inaccessible."
            ]
          }
        },
        "industryVertical": {
          "type": "string",
          "enum": [
            "INDUSTRY_VERTICAL_UNSPECIFIED",
            "GENERIC",
            "MEDIA",
            "HEALTHCARE_FHIR"
          ],
          "description": "Optional. The industry vertical that the engine registers. The restriction of the Engine industry vertical is based on DataStore: Vertical on Engine has to match vertical of the DataStore linked to the engine.",
          "enumDescriptions": [
            "Value used when unset.",
            "The generic vertical for documents that are not specific to any industry vertical.",
            "The media industry vertical.",
            "The healthcare FHIR vertical."
          ]
        },
        "mediaRecommendationEngineConfig": {
          "description": "Configurations for the Media Engine. Only applicable on the data stores with solution_type SOLUTION_TYPE_RECOMMENDATION and IndustryVertical.MEDIA vertical.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfig"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The fully qualified resource name of the engine. This field must be a UTF-8 encoded string with a length limit of 1024 characters. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}` engine should be 1-63 characters, and valid characters are /a-z0-9*/. Otherwise, an INVALID_ARGUMENT error is returned."
        },
        "similarDocumentsConfig": {
          "description": "Additional config specs for a `similar-items` engine.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaEngineSimilarDocumentsEngineConfig"
        },
        "modelConfigs": {
          "description": "Optional. Maps a model name to its specific configuration for this engine. This allows admin users to turn on/off individual models. This only stores models whose states are overridden by the admin. When the state is unspecified, or model_configs is empty for this model, the system will decide if this model should be available or not based on the default configuration. For example, a preview model should be disabled by default if the admin has not chosen to enable it.",
          "additionalProperties": {
            "type": "string",
            "enum": [
              "MODEL_STATE_UNSPECIFIED",
              "MODEL_ENABLED",
              "MODEL_DISABLED"
            ],
            "enumDescriptions": [
              "The model state is unspecified.",
              "The model is enabled by admin.",
              "The model is disabled by admin."
            ]
          },
          "type": "object"
        },
        "agentGatewaySetting": {
          "description": "Optional. The agent gateway setting for the engine.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAgentGatewaySetting"
        }
      },
      "description": "Metadata that describes the training and serving parameters of an Engine.",
      "id": "GoogleCloudDiscoveryengineV1alphaEngine"
    },
    "GoogleCloudDiscoveryengineV1alphaAgentGatewaySettingAgentGatewayReference": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Immutable. The resource name of the agent gateway. Expected format: `projects/{project_number}/locations/{location}/agentGateways/{agent_gateway}`."
        }
      },
      "description": "Reference to an Agent Gateway resource.",
      "id": "GoogleCloudDiscoveryengineV1alphaAgentGatewaySettingAgentGatewayReference"
    },
    "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicy": {
      "description": "Data protection policy config for NotebookLM.",
      "id": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicy",
      "type": "object",
      "properties": {
        "sensitiveDataProtectionPolicy": {
          "description": "Optional. The sensitive data protection policy.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicySensitiveDataProtectionPolicy"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1ImportIdentityMappingsRequest": {
      "description": "Request message for IdentityMappingStoreService.ImportIdentityMappings",
      "id": "GoogleCloudDiscoveryengineV1ImportIdentityMappingsRequest",
      "type": "object",
      "properties": {
        "inlineSource": {
          "description": "The inline source to import identity mapping entries from.",
          "$ref": "GoogleCloudDiscoveryengineV1ImportIdentityMappingsRequestInlineSource"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaCreateEvaluationMetadata": {
      "type": "object",
      "properties": {},
      "description": "Metadata for EvaluationService.CreateEvaluation method.",
      "id": "GoogleCloudDiscoveryengineV1alphaCreateEvaluationMetadata"
    },
    "A2aV1PasswordOAuthFlow": {
      "id": "A2aV1PasswordOAuthFlow",
      "type": "object",
      "properties": {
        "refreshUrl": {
          "type": "string",
          "description": "The URL to be used for obtaining refresh tokens. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS."
        },
        "scopes": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The available scopes for the OAuth2 security scheme. A map between the scope name and a short description for it. The map MAY be empty."
        },
        "tokenUrl": {
          "description": "The token URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1BatchUpdateUserLicensesResponse": {
      "description": "Response message for UserLicenseService.BatchUpdateUserLicenses method.",
      "id": "GoogleCloudDiscoveryengineV1BatchUpdateUserLicensesResponse",
      "type": "object",
      "properties": {
        "userLicenses": {
          "type": "array",
          "description": "UserLicenses successfully updated.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1UserLicense"
          }
        },
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaProject": {
      "id": "GoogleCloudDiscoveryengineV1alphaProject",
      "description": "Metadata and configurations for a Google Cloud project in the service.",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Full resource name of the project, for example `projects/{project}`. Note that when making requests, project number and project id are both acceptable, but the server will always respond in project number."
        },
        "configurableBillingStatus": {
          "description": "Output only. The current status of the project's configurable billing.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaProjectConfigurableBillingStatus",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The timestamp when this project is created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "customerProvidedConfig": {
          "description": "Optional. Customer provided configurations.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfig"
        },
        "serviceTermsMap": {
          "description": "Output only. A map of terms of services. The key is the `id` of ServiceTerms.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaProjectServiceTerms"
          }
        },
        "provisionCompletionTime": {
          "description": "Output only. The timestamp when this project is successfully provisioned. Empty value means this project is still provisioning and is not ready for use.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1ControlRedirectAction": {
      "type": "object",
      "properties": {
        "redirectUri": {
          "description": "Required. The URI to which the shopper will be redirected. Required. URI must have length equal or less than 2000 characters. Otherwise an INVALID ARGUMENT error is thrown.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1ControlRedirectAction",
      "description": "Redirects a shopper to the provided URI."
    },
    "GoogleCloudDiscoveryengineV1StreamAssistRequestToolsSpecVideoGenerationSpec": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDiscoveryengineV1StreamAssistRequestToolsSpecVideoGenerationSpec",
      "description": "Specification of the video generation tool."
    },
    "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfigNotebooklmConfig": {
      "description": "Config for connecting to NotebookLM Enterprise.",
      "id": "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfigNotebooklmConfig",
      "type": "object",
      "properties": {
        "searchConfig": {
          "type": "string",
          "description": "Required. Search config name. Format: projects/*/locations/global/notebookLmSearchConfigs/*"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1BatchGetDocumentsMetadataResponseDocumentMetadataMatcherValue": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "If match by URI, the URI of the Document."
        },
        "fhirResource": {
          "type": "string",
          "description": "Format: projects/{project}/locations/{location}/datasets/{dataset}/fhirStores/{fhir_store}/fhir/{resource_type}/{fhir_resource_id}"
        }
      },
      "description": "The value of the matcher that was used to match the Document.",
      "id": "GoogleCloudDiscoveryengineV1BatchGetDocumentsMetadataResponseDocumentMetadataMatcherValue"
    },
    "GoogleCloudDiscoveryengineV1DocumentAclInfoAccessRestriction": {
      "id": "GoogleCloudDiscoveryengineV1DocumentAclInfoAccessRestriction",
      "description": "AclRestriction to model complex inheritance restrictions. Example: Modeling a \"Both Permit\" inheritance, where to access a child document, user needs to have access to parent document. Document Hierarchy - Space_S --> Page_P. Readers: Space_S: group_1, user_1 Page_P: group_2, group_3, user_2 Space_S ACL Restriction - { \"acl_info\": { \"readers\": [ { \"principals\": [ { \"group_id\": \"group_1\" }, { \"user_id\": \"user_1\" } ] } ] } } Page_P ACL Restriction. { \"acl_info\": { \"readers\": [ { \"principals\": [ { \"group_id\": \"group_2\" }, { \"group_id\": \"group_3\" }, { \"user_id\": \"user_2\" } ], }, { \"principals\": [ { \"group_id\": \"group_1\" }, { \"user_id\": \"user_1\" } ], } ] } }",
      "type": "object",
      "properties": {
        "principals": {
          "type": "array",
          "description": "List of principals.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1Principal"
          }
        },
        "idpWide": {
          "description": "All users within the Identity Provider.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1PurgeSuggestionDenyListEntriesResponse": {
      "type": "object",
      "properties": {
        "errorSamples": {
          "type": "array",
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "purgeCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of suggestion deny list entries purged."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1PurgeSuggestionDenyListEntriesResponse",
      "description": "Response message for CompletionService.PurgeSuggestionDenyListEntries method."
    },
    "GoogleCloudDiscoveryengineV1AgentGatewaySetting": {
      "type": "object",
      "properties": {
        "defaultEgressAgentGateway": {
          "description": "Optional. The default egress agent gateway to use, when this setting is applied to a Gemini Enterprise resource. The deployment mode must be GOOGLE_MANAGED, and the governed access path must be AGENT_TO_ANYWHERE.",
          "$ref": "GoogleCloudDiscoveryengineV1AgentGatewaySettingAgentGatewayReference"
        }
      },
      "description": "Agent Gateway setting, which may be attached to Gemini Enterprise resources for egress control of Gemini Enterprise agents to agents and tools outside of Gemini Enterprise.",
      "id": "GoogleCloudDiscoveryengineV1AgentGatewaySetting"
    },
    "GoogleCloudDiscoveryengineV1EngineKnowledgeGraphConfigFeatureConfig": {
      "description": "Feature config for the Knowledge Graph.",
      "id": "GoogleCloudDiscoveryengineV1EngineKnowledgeGraphConfigFeatureConfig",
      "type": "object",
      "properties": {
        "disablePrivateKgQueryUnderstanding": {
          "type": "boolean",
          "description": "Whether to disable the private KG query understanding for the engine. Defaults to false if not specified."
        },
        "disablePrivateKgEnrichment": {
          "description": "Whether to disable the private KG enrichment for the engine. Defaults to false if not specified.",
          "type": "boolean"
        },
        "disablePrivateKgAutoComplete": {
          "type": "boolean",
          "description": "Whether to disable the private KG auto complete for the engine. Defaults to false if not specified."
        },
        "disablePrivateKgQueryUiChips": {
          "description": "Whether to disable the private KG for query UI chips. Defaults to false if not specified.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1EnableAdvancedSiteSearchRequest": {
      "type": "object",
      "properties": {},
      "description": "Request message for SiteSearchEngineService.EnableAdvancedSiteSearch method.",
      "id": "GoogleCloudDiscoveryengineV1EnableAdvancedSiteSearchRequest"
    },
    "GoogleCloudDiscoveryengineV1CreateSchemaMetadata": {
      "description": "Metadata for Create Schema LRO.",
      "id": "GoogleCloudDiscoveryengineV1CreateSchemaMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAdvancedSiteSearchConfig": {
      "type": "object",
      "properties": {
        "disableInitialIndex": {
          "type": "boolean",
          "description": "If set true, initial indexing is disabled for the DataStore."
        },
        "disableAutomaticRefresh": {
          "type": "boolean",
          "description": "If set true, automatic refresh is disabled for the DataStore."
        }
      },
      "description": "Configuration data for advance site search.",
      "id": "GoogleCloudDiscoveryengineV1alphaAdvancedSiteSearchConfig"
    },
    "A2aV1MutualTlsSecurityScheme": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of this security scheme."
        }
      },
      "id": "A2aV1MutualTlsSecurityScheme"
    },
    "GoogleCloudDiscoveryengineV1PurgeDocumentsRequestInlineSource": {
      "type": "object",
      "properties": {
        "documents": {
          "type": "array",
          "description": "Required. A list of full resource name of documents to purge. In the format `projects/*/locations/*/collections/*/dataStores/*/branches/*/documents/*`. Recommended max of 100 items.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The inline source for the input config for DocumentService.PurgeDocuments method.",
      "id": "GoogleCloudDiscoveryengineV1PurgeDocumentsRequestInlineSource"
    },
    "GoogleCloudDiscoveryengineV1BatchGetDocumentsMetadataResponseDocumentMetadata": {
      "id": "GoogleCloudDiscoveryengineV1BatchGetDocumentsMetadataResponseDocumentMetadata",
      "description": "The metadata of a Document.",
      "type": "object",
      "properties": {
        "dataIngestionSource": {
          "type": "string",
          "description": "The data ingestion source of the Document. Allowed values are: * `batch`: Data ingested via Batch API, e.g., ImportDocuments. * `streaming` Data ingested via Streaming API, e.g., FHIR streaming."
        },
        "lastRefreshedTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp of the last time the Document was last indexed."
        },
        "matcherValue": {
          "description": "The value of the matcher that was used to match the Document.",
          "$ref": "GoogleCloudDiscoveryengineV1BatchGetDocumentsMetadataResponseDocumentMetadataMatcherValue"
        },
        "state": {
          "description": "The state of the document.",
          "enumDescriptions": [
            "Should never be set.",
            "The Document is indexed.",
            "The Document is not indexed because its URI is not in the TargetSite.",
            "The Document is not indexed."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "INDEXED",
            "NOT_IN_TARGET_SITE",
            "NOT_IN_INDEX"
          ]
        }
      }
    },
    "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpec": {
      "description": "Search specification.",
      "id": "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpec",
      "type": "object",
      "properties": {
        "searchParams": {
          "description": "Search parameters.",
          "$ref": "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchParams"
        },
        "searchResultList": {
          "description": "Search result list.",
          "$ref": "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchResultList"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaEvaluationEvaluationSpecQuerySetSpec": {
      "type": "object",
      "properties": {
        "sampleQuerySet": {
          "type": "string",
          "description": "Optional. The full resource name of the SampleQuerySet used for the evaluation, in the format of `projects/{project}/locations/{location}/sampleQuerySets/{sampleQuerySet}`."
        }
      },
      "description": "Describes the specification of the query set.",
      "id": "GoogleCloudDiscoveryengineV1betaEvaluationEvaluationSpecQuerySetSpec"
    },
    "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfigOcrParsingConfig": {
      "type": "object",
      "properties": {
        "enhancedDocumentElements": {
          "description": "[DEPRECATED] This field is deprecated. To use the additional enhanced document elements processing, please switch to `layout_parsing_config`.",
          "deprecated": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "useNativeText": {
          "description": "If true, will use native text instead of OCR text on pages containing native text.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfigOcrParsingConfig",
      "description": "The OCR parsing configurations for documents."
    },
    "GoogleCloudDiscoveryengineV1Sitemap": {
      "id": "GoogleCloudDiscoveryengineV1Sitemap",
      "description": "A sitemap for the SiteSearchEngine.",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The sitemap's creation time."
        },
        "name": {
          "description": "Output only. The fully qualified resource name of the sitemap. `projects/*/locations/*/collections/*/dataStores/*/siteSearchEngine/sitemaps/*` The `sitemap_id` suffix is system-generated.",
          "readOnly": true,
          "type": "string"
        },
        "uri": {
          "description": "Public URI for the sitemap, e.g. `www.example.com/sitemap.xml`.",
          "type": "string"
        }
      }
    },
    "GoogleApiDistributionRange": {
      "type": "object",
      "properties": {
        "max": {
          "format": "double",
          "type": "number",
          "description": "The maximum of the population values."
        },
        "min": {
          "format": "double",
          "type": "number",
          "description": "The minimum of the population values."
        }
      },
      "id": "GoogleApiDistributionRange",
      "description": "The range of the population values."
    },
    "GoogleCloudDiscoveryengineLoggingConnectorRunErrorContext": {
      "id": "GoogleCloudDiscoveryengineLoggingConnectorRunErrorContext",
      "description": "The error payload that is populated on LRO sync APIs, including the following: * `google.cloud.discoveryengine.v1main.DataConnectorService.SetUpDataConnector` * `google.cloud.discoveryengine.v1main.DataConnectorService.StartConnectorRun`",
      "type": "object",
      "properties": {
        "entity": {
          "description": "The entity to sync for the connector run.",
          "type": "string"
        },
        "syncType": {
          "type": "string",
          "description": "The type of sync run. Can be one of the following: * `FULL` * `INCREMENTAL`"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the connector run started."
        },
        "operation": {
          "type": "string",
          "description": "The operation resource name of the LRO to sync the connector."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the connector run ended."
        },
        "dataConnector": {
          "type": "string",
          "description": "The full resource name of the DataConnector. Format: `projects/*/locations/*/collections/*/dataConnector`."
        },
        "connectorRun": {
          "type": "string",
          "description": "The full resource name of the Connector Run. Format: `projects/*/locations/*/collections/*/dataConnector/connectorRuns/*`. The `connector_run_id` is system-generated."
        }
      }
    },
    "GoogleCloudDiscoveryengineLoggingServiceContext": {
      "type": "object",
      "properties": {
        "service": {
          "type": "string",
          "description": "An identifier of the service—for example, `discoveryengine.googleapis.com`."
        }
      },
      "description": "Describes a running service that sends errors.",
      "id": "GoogleCloudDiscoveryengineLoggingServiceContext"
    },
    "GoogleMonitoringV3TimeSeries": {
      "id": "GoogleMonitoringV3TimeSeries",
      "description": "A collection of data points that describes the time-varying values of a metric. A time series is identified by a combination of a fully-specified monitored resource and a fully-specified metric. This type is used for both listing and creating time series.",
      "type": "object",
      "properties": {
        "unit": {
          "type": "string",
          "description": "The units in which the metric value is reported. It is only applicable if the `value_type` is `INT64`, `DOUBLE`, or `DISTRIBUTION`. The `unit` defines the representation of the stored metric values. This field can only be changed through CreateTimeSeries when it is empty."
        },
        "metadata": {
          "description": "Output only. The associated monitored resource metadata. When reading a time series, this field will include metadata labels that are explicitly named in the reduction. When creating a time series, this field is ignored.",
          "$ref": "GoogleApiMonitoredResourceMetadata"
        },
        "metricKind": {
          "type": "string",
          "enum": [
            "METRIC_KIND_UNSPECIFIED",
            "GAUGE",
            "DELTA",
            "CUMULATIVE"
          ],
          "description": "The metric kind of the time series. When listing time series, this metric kind might be different from the metric kind of the associated metric if this time series is an alignment or reduction of other time series. When creating a time series, this field is optional. If present, it must be the same as the metric kind of the associated metric. If the associated metric's descriptor must be auto-created, then this field specifies the metric kind of the new descriptor and must be either `GAUGE` (the default) or `CUMULATIVE`.",
          "enumDescriptions": [
            "Do not use this default value.",
            "An instantaneous measurement of a value.",
            "The change in a value during a time interval.",
            "A value accumulated over a time interval. Cumulative measurements in a time series should have the same start time and increasing end times, until an event resets the cumulative value to zero and sets a new start time for the following points."
          ]
        },
        "valueType": {
          "description": "The value type of the time series. When listing time series, this value type might be different from the value type of the associated metric if this time series is an alignment or reduction of other time series. When creating a time series, this field is optional. If present, it must be the same as the type of the data in the `points` field.",
          "enumDescriptions": [
            "Do not use this default value.",
            "The value is a boolean. This value type can be used only if the metric kind is `GAUGE`.",
            "The value is a signed 64-bit integer.",
            "The value is a double precision floating point number.",
            "The value is a text string. This value type can be used only if the metric kind is `GAUGE`.",
            "The value is a `Distribution`.",
            "The value is money."
          ],
          "type": "string",
          "enum": [
            "VALUE_TYPE_UNSPECIFIED",
            "BOOL",
            "INT64",
            "DOUBLE",
            "STRING",
            "DISTRIBUTION",
            "MONEY"
          ]
        },
        "resource": {
          "description": "The associated monitored resource. Custom metrics can use only certain monitored resource types in their time series data. For more information, see [Monitored resources for custom metrics](https://cloud.google.com/monitoring/custom-metrics/creating-metrics#custom-metric-resources).",
          "$ref": "GoogleApiMonitoredResource"
        },
        "metric": {
          "description": "The associated metric. A fully-specified metric used to identify the time series.",
          "$ref": "GoogleApiMetric"
        },
        "points": {
          "type": "array",
          "description": "The data points of this time series. When listing time series, points are returned in reverse time order. When creating a time series, this field must contain exactly one point and the point's type must be the same as the value type of the associated metric. If the associated metric's descriptor must be auto-created, then the value type of the descriptor is determined by the point's type, which must be `BOOL`, `INT64`, `DOUBLE`, or `DISTRIBUTION`.",
          "items": {
            "$ref": "GoogleMonitoringV3Point"
          }
        },
        "description": {
          "description": "Input only. A detailed description of the time series that will be associated with the google.api.MetricDescriptor for the metric. Once set, this field cannot be changed through CreateTimeSeries.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerGroundingSupport": {
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerGroundingSupport",
      "description": "Grounding support for a claim in `answer_text`.",
      "type": "object",
      "properties": {
        "startIndex": {
          "format": "int64",
          "type": "string",
          "description": "Required. Index indicates the start of the claim, measured in bytes (UTF-8 unicode)."
        },
        "groundingScore": {
          "type": "number",
          "format": "double",
          "description": "A score in the range of [0, 1] describing how grounded is a specific claim by the references. Higher value means that the claim is better supported by the reference chunks."
        },
        "endIndex": {
          "description": "Required. End of the claim, exclusive.",
          "format": "int64",
          "type": "string"
        },
        "groundingCheckRequired": {
          "description": "Indicates that this claim required grounding check. When the system decided this claim didn't require attribution/grounding check, this field is set to false. In that case, no grounding check was done for the claim and therefore `grounding_score`, `sources` is not returned.",
          "type": "boolean"
        },
        "sources": {
          "type": "array",
[...]
