{
  "revision": "20260823",
  "discoveryVersion": "v1",
  "description": "Discovery Engine API.",
  "title": "Discovery Engine API",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://discoveryengine.googleapis.com/",
  "schemas": {
    "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestQueryUnderstandingSpecQueryRephraserSpecModelSpec": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestQueryUnderstandingSpecQueryRephraserSpecModelSpec",
      "properties": {
        "modelType": {
          "type": "string",
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "SMALL",
            "LARGE"
          ],
          "enumDescriptions": [
            "Unspecified model type.",
            "Small query rephraser model. Gemini 1.0 XS model.",
            "Large query rephraser model. Gemini 1.0 Pro model."
          ],
          "description": "Optional. Enabled query rephraser model type. If not set, it will use LARGE by default."
        }
      },
      "description": "Query Rephraser Model specification."
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservationSearchResultSnippetInfo": {
      "description": "Snippet information.",
      "properties": {
        "snippet": {
          "type": "string",
          "description": "Snippet content."
        },
        "snippetStatus": {
          "type": "string",
          "description": "Status of the snippet defined by the search team."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservationSearchResultSnippetInfo",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSummarySpecModelPromptSpec": {
      "type": "object",
      "properties": {
        "preamble": {
          "description": "Text at the beginning of the prompt that instructs the assistant. Examples are available in the user guide.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSummarySpecModelPromptSpec",
      "description": "Specification of the prompt to use with the model."
    },
    "GoogleCloudDiscoveryengineV1betaBatchCreateTargetSitesResponse": {
      "type": "object",
      "properties": {
        "targetSites": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaTargetSite"
          },
          "type": "array",
          "description": "TargetSites created."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaBatchCreateTargetSitesResponse",
      "description": "Response message for SiteSearchEngineService.BatchCreateTargetSites method."
    },
    "GoogleCloudNotebooklmV1alphaUserContentAgentspaceContent": {
      "id": "GoogleCloudNotebooklmV1alphaUserContentAgentspaceContent",
      "description": "Agentspace content uploaded as source.",
      "type": "object",
      "properties": {
        "engineName": {
          "description": "Optional. Engine to verify the permission of the document. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`.",
          "type": "string"
        },
        "ideaforgeIdeaName": {
          "description": "Optional. Resource name of the idea forge instance. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/sessions/{session}/ideaForgeInstances/{instance}`",
          "type": "string"
        },
        "documentName": {
          "description": "Optional. The full resource name of the Agentspace document. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}/documents/{document_id}`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaFileView": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaFileView",
      "description": "Represents a specific alternate version or \"view\" of a file object, such as a summary, a thumbnail, a translated version, etc.",
      "properties": {
        "viewId": {
          "type": "string",
          "description": "Output only. Globally Unique id for this specific view.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the view was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "videoCharacteristics": {
          "description": "Output only. Characteristics of a video media view.",
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1alphaVideoCharacteristics"
        },
        "imageCharacteristics": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaImageCharacteristics",
          "description": "Output only. Characteristics of an image media view.",
          "readOnly": true
        },
        "mimeType": {
          "readOnly": true,
          "description": "Output only. MIME type (e.g., \"image/jpeg\", \"image/png\", \"text/plain\", \"video/mp4\")",
          "type": "string"
        },
        "byteSize": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The size of the view in bytes."
        },
        "fileCharacteristics": {
          "description": "Output only. Characteristics of other file types.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaFileCharacteristics",
          "readOnly": true
        },
        "uri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URI to access this media view."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaPurgeDocumentsMetadata": {
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "successCount": {
          "format": "int64",
          "description": "Count of entries that were deleted successfully.",
          "type": "string"
        },
        "failureCount": {
          "type": "string",
          "description": "Count of entries that encountered errors while processing.",
          "format": "int64"
        },
        "ignoredCount": {
          "format": "int64",
          "description": "Count of entries that were ignored as entries were not found.",
          "type": "string"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaPurgeDocumentsMetadata",
      "description": "Metadata related to the progress of the PurgeDocuments operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ImportDocumentsMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1ImportDocumentsMetadata",
      "properties": {
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        },
        "successCount": {
          "format": "int64",
          "description": "Count of entries that were processed successfully.",
          "type": "string"
        },
        "failureCount": {
          "type": "string",
          "description": "Count of entries that encountered errors while processing.",
          "format": "int64"
        },
        "totalCount": {
          "type": "string",
          "description": "Total count of entries that were processed.",
          "format": "int64"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        }
      },
      "description": "Metadata related to the progress of the ImportDocuments operation. This is returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1alphaAdvancedSiteSearchConfig": {
      "description": "Configuration data for advance site search.",
      "id": "GoogleCloudDiscoveryengineV1alphaAdvancedSiteSearchConfig",
      "type": "object",
      "properties": {
        "disableInitialIndex": {
          "type": "boolean",
          "description": "If set true, initial indexing is disabled for the DataStore."
        },
        "disableAutomaticRefresh": {
          "type": "boolean",
          "description": "If set true, automatic refresh is disabled for the DataStore."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaProvisionProjectMetadata": {
      "type": "object",
      "description": "Metadata associated with a project provision operation.",
      "id": "GoogleCloudDiscoveryengineV1alphaProvisionProjectMetadata",
      "properties": {}
    },
    "GoogleCloudNotebooklmV1alphaFailureReasonPaywallError": {
      "properties": {},
      "description": "Indicates that the source is paywalled and cannot be ingested.",
      "type": "object",
      "id": "GoogleCloudNotebooklmV1alphaFailureReasonPaywallError"
    },
    "GoogleCloudDiscoveryengineV1alphaCheckGroundingResponseCheckGroundingFactChunk": {
      "description": "Fact chunk for grounding check.",
      "properties": {
        "chunkText": {
          "description": "Text content of the fact chunk. Can be at most 10K characters long.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaCheckGroundingResponseCheckGroundingFactChunk"
    },
    "GoogleCloudDiscoveryengineV1betaImportUserEventsResponse": {
      "description": "Response of the ImportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "properties": {
        "joinedEventsCount": {
          "description": "Count of user events imported with complete existing Documents.",
          "type": "string",
          "format": "int64"
        },
        "unjoinedEventsCount": {
          "format": "int64",
          "description": "Count of user events imported, but with Document information not found in the existing Branch.",
          "type": "string"
        },
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the request.",
          "type": "array"
        },
        "errorConfig": {
          "description": "Echoes the destination for the complete errors if this field was set in the request.",
          "$ref": "GoogleCloudDiscoveryengineV1betaImportErrorConfig"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaImportUserEventsResponse",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicySensitiveDataProtectionPolicy": {
      "properties": {
        "policy": {
          "type": "string",
          "description": "Optional. The Sensitive Data Protection policy resource name."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicySensitiveDataProtectionPolicy",
      "description": "Specifies a Sensitive Data Protection (https://cloud.google.com/sensitive-data-protection/docs/sensitive-data-protection-overview) policy.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaPurgeDocumentsResponse": {
      "properties": {
        "purgeCount": {
          "format": "int64",
          "type": "string",
          "description": "The total count of documents purged as a result of the operation."
        },
        "purgeSample": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A sample of document names that will be deleted. Only populated if `force` is set to false. A max of 100 names will be returned and the names are chosen at random."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaPurgeDocumentsResponse",
      "type": "object",
      "description": "Response message for DocumentService.PurgeDocuments method. If the long running operation is successfully done, then this message is returned by the google.longrunning.Operations.response field."
    },
    "GoogleCloudDiscoveryengineV1betaProjectConfigurableBillingStatusAgentSearchTokenSubscriptionStatus": {
      "id": "GoogleCloudDiscoveryengineV1betaProjectConfigurableBillingStatusAgentSearchTokenSubscriptionStatus",
      "description": "Per-model Agent Search TPM subscription status. One entry per active `core_subscription.agent_search_token_subscriptions[*]` entry in the customer-provided config; populated by UpdateProject and GetProject. The lifecycle scalars on this message (`start_time`, `terminate_time`, `update_type`, `tpm_threshold_next_update_time`) are per (project, model_version) — siblings of the whole-relationship `start_time` / `terminate_time` / `update_type` on the enclosing ConfigurableBillingStatus, but scoped to this specific Agent Search TPM subscription instead of to the overall customer-configurable- pricing relationship. This per-instance granularity is intentional: the underlying SubV3 storage is per-(project, model_version), so each model has its own activation, termination, and deferred-update clock; surfacing that on the response gives customers the granularity they need to manage per-model commitments independently. QPM / IndexingCore differ — their storage is one row per (project, location), so their lifecycle is represented only by the whole- relationship scalars on ConfigurableBillingStatus.",
      "properties": {
        "effectiveTpmThreshold": {
          "description": "Output only. The currently effective TPM threshold. Reflects scale-up immediately and scale-down at the next billing cycle, matching `effective_search_qpm_threshold` semantics.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. When this (project, model_version) Agent Search TPM subscription was first activated. Set once on first activation of this model version and never moved by subsequent threshold updates; on termination + re-activation a new value is recorded. Does NOT move the whole-relationship `start_time` on the enclosing ConfigurableBillingStatus, which continues to represent the first activation of the overall customer-configurable-pricing relationship.",
          "type": "string",
          "readOnly": true
        },
        "modelVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Gemini model version this status corresponds to. Matches CoreSubscription.AgentSearchTokenSubscription.model_version (a stable Gemini model version from the Gemini Enterprise Agent Platform model-versions registry; see https://docs.cloud.google.com/gemini-enterprise-agent-platform/models/model-versions#gemini-models)."
        },
        "terminateTime": {
          "format": "google-datetime",
          "description": "Output only. If set, the scheduled effective time at which this (project, model_version) Agent Search TPM subscription will terminate. Populated when the customer removes this entry from `core_subscription.agent_search_token_subscriptions[*]`. Does NOT move the whole-relationship `terminate_time` on the enclosing ConfigurableBillingStatus, which is populated only when the entire customer-configurable-pricing relationship is being torn down.",
          "readOnly": true,
          "type": "string"
        },
        "tpmThresholdNextUpdateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The earliest next update time for the TPM subscription threshold for this (project, model_version). Populated only after a successful update.",
          "format": "google-datetime"
        },
        "updateType": {
          "description": "Output only. The type of the most recent update to this (project, model_version) subscription, as performed by the most recent UpdateProject call. `UPDATE_TYPE_UNSPECIFIED` indicates this model_version was not touched by the most recent UpdateProject (its `effective_tpm_threshold` reflects an earlier update). The whole-relationship `update_type` on the enclosing ConfigurableBillingStatus continues to summarize the direction of the most recent update across all surfaces in the project (QPM, IndexingCore, and Agent Search TPM together).",
          "type": "string",
          "enum": [
            "UPDATE_TYPE_UNSPECIFIED",
            "CREATE",
            "DELETE",
            "SCALE_UP",
            "SCALE_DOWN"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified update type.",
            "Configurable billing was created/enabled.",
            "Configurable billing was deleted/disabled.",
            "Subscription was scaled up (thresholds increased).",
            "Subscription was scaled down (thresholds decreased)."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSingleRegionKey": {
      "type": "object",
      "properties": {
        "kmsKey": {
          "description": "Required. Single-regional kms key resource name which will be used to encrypt resources `projects/{project}/locations/{location}/keyRings/{keyRing}/cryptoKeys/{keyId}`.",
          "type": "string"
        }
      },
      "description": "Metadata for single-regional CMEKs.",
      "id": "GoogleCloudDiscoveryengineV1alphaSingleRegionKey"
    },
    "GoogleCloudDiscoveryengineV1alphaServingConfig": {
      "type": "object",
      "description": "Configures metadata that is used to generate serving time results (e.g. search results or recommendation predictions). The ServingConfig is passed in the search and predict request and generates results.",
      "properties": {
        "guidedSearchSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaGuidedSearchSpec",
          "description": "Guided search configs."
        },
        "promoteControlIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Condition promote specifications. Maximum number of specifications is 100."
        },
        "onewaySynonymsControlIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Condition oneway synonyms specifications. If multiple oneway synonyms conditions match, all matching oneway synonyms controls in the list will execute. Maximum number of specifications is 100. Can only be set if SolutionType is SOLUTION_TYPE_SEARCH."
        },
        "customFineTuningSpec": {
          "description": "Custom fine tuning configs. If SearchRequest.custom_fine_tuning_spec is set, it has higher priority than the configs set here.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaCustomFineTuningSpec"
        },
        "mediaConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaServingConfigMediaConfig",
          "description": "The MediaConfig of the serving configuration."
        },
        "updateTime": {
          "description": "Output only. ServingConfig updated timestamp.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "embeddingConfig": {
          "description": "Bring your own embedding config. The config is used for search semantic retrieval. The retrieval is based on the dot product of SearchRequest.EmbeddingSpec.EmbeddingVector.vector and the document embeddings that are provided by this EmbeddingConfig. If SearchRequest.EmbeddingSpec.EmbeddingVector.vector is provided, it overrides this ServingConfig.embedding_config.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaEmbeddingConfig"
        },
        "diversityLevel": {
          "description": "How much diversity to use in recommendation model results e.g. `medium-diversity` or `high-diversity`. Currently supported values: * `no-diversity` * `low-diversity` * `medium-diversity` * `high-diversity` * `auto-diversity` If not specified, we choose default based on recommendation model type. Default value: `no-diversity`. Can only be set if SolutionType is SOLUTION_TYPE_RECOMMENDATION.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ServingConfig created timestamp.",
          "format": "google-datetime"
        },
        "replacementControlIds": {
          "items": {
            "type": "string"
          },
          "description": "Condition replacement specifications. Applied according to the order in the list. A previously replaced term can not be re-replaced. Maximum number of specifications is 100. Can only be set if SolutionType is SOLUTION_TYPE_SEARCH.",
          "type": "array"
        },
        "personalizationSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestPersonalizationSpec",
          "description": "The specification for personalization spec. Notice that if both ServingConfig.personalization_spec and SearchRequest.personalization_spec are set, SearchRequest.personalization_spec overrides ServingConfig.personalization_spec."
        },
        "genericConfig": {
          "description": "The GenericConfig of the serving configuration.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaServingConfigGenericConfig"
        },
        "dissociateControlIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Condition do not associate specifications. If multiple do not associate conditions match, all matching do not associate controls in the list will execute. Order does not matter. Maximum number of specifications is 100. Can only be set if SolutionType is SOLUTION_TYPE_SEARCH."
        },
        "solutionType": {
          "enumDescriptions": [
            "Default value.",
            "Used for Recommendations AI.",
            "Used for Discovery Search.",
            "Used for use cases related to the Generative AI agent.",
            "Used for use cases related to the Generative Chat agent. It's used for Generative chat engine only, the associated data stores must enrolled with `SOLUTION_TYPE_CHAT` solution.",
            "Used for AI Mode."
          ],
          "type": "string",
          "enum": [
            "SOLUTION_TYPE_UNSPECIFIED",
            "SOLUTION_TYPE_RECOMMENDATION",
            "SOLUTION_TYPE_SEARCH",
            "SOLUTION_TYPE_CHAT",
            "SOLUTION_TYPE_GENERATIVE_CHAT",
            "SOLUTION_TYPE_AI_MODE"
          ],
          "description": "Required. Immutable. Specifies the solution type that a serving config can be associated with."
        },
        "answerGenerationSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerGenerationSpec",
          "description": "Optional. The specification for answer generation."
        },
        "filterControlIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Filter controls to use in serving path. All triggered filter controls will be applied. Filter controls must be in the same data store as the serving config. Maximum of 20 filter controls."
        },
        "synonymsControlIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Condition synonyms specifications. If multiple synonyms conditions match, all matching synonyms controls in the list will execute. Maximum number of specifications is 100. Can only be set if SolutionType is SOLUTION_TYPE_SEARCH."
        },
        "ignoreControlIds": {
          "description": "Condition ignore specifications. If multiple ignore conditions match, all matching ignore controls in the list will execute. Order does not matter. Maximum number of specifications is 100.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "modelId": {
          "description": "The id of the model to use at serving time. Currently only RecommendationModels are supported. Can be changed but only to a compatible model (e.g. others-you-may-like CTR to others-you-may-like CVR). Required when SolutionType is SOLUTION_TYPE_RECOMMENDATION.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The human readable serving config display name. Used in Discovery UI. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned.",
          "type": "string"
        },
        "redirectControlIds": {
          "description": "IDs of the redirect controls. Only the first triggered redirect action is applied, even if multiple apply. Maximum number of specifications is 100. Can only be set if SolutionType is SOLUTION_TYPE_SEARCH.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "rankingExpression": {
          "type": "string",
          "description": "The ranking expression controls the customized ranking on retrieval documents. To leverage this, document embedding is required. The ranking expression setting in ServingConfig applies to all search requests served by the serving config. However, if `SearchRequest.ranking_expression` is specified, it overrides the ServingConfig ranking expression. The ranking expression is a single function or multiple functions that are joined by \"+\". * ranking_expression = function, { \" + \", function }; Supported functions: * double * relevance_score * double * dotProduct(embedding_field_path) Function variables: * `relevance_score`: pre-defined keywords, used for measure relevance between query and document. * `embedding_field_path`: the document embedding field used with query embedding vector. * `dotProduct`: embedding function between embedding_field_path and query embedding vector. Example ranking expression: If document has an embedding field doc_embedding, the ranking expression could be `0.5 * relevance_score + 0.3 * dotProduct(doc_embedding)`."
        },
        "boostControlIds": {
          "type": "array",
          "description": "Boost controls to use in serving path. All triggered boost controls will be applied. Boost controls must be in the same data store as the serving config. Maximum of 20 boost controls.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Immutable. Fully qualified name `projects/{project}/locations/{location}/collections/{collection_id}/engines/{engine_id}/servingConfigs/{serving_config_id}`"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaServingConfig"
    },
    "GoogleCloudDiscoveryengineV1alphaListCollectionsResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaListCollectionsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListCollectionsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "collections": {
          "description": "The Collections.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaCollection"
          }
        }
      },
      "description": "Response message for CollectionService.ListCollections method."
    },
    "GoogleCloudNotebooklmV1alphaCreateAudioOverviewResponse": {
      "type": "object",
      "description": "Response for AudioOverviewService.CreateAudioOverview method.",
      "properties": {
        "audioOverview": {
          "description": "The generated audio overview.",
          "$ref": "GoogleCloudNotebooklmV1alphaAudioOverview"
        }
      },
      "id": "GoogleCloudNotebooklmV1alphaCreateAudioOverviewResponse"
    },
    "GoogleCloudDiscoveryengineV1betaEngineMediaRecommendationEngineConfigEngineFeaturesConfig": {
      "description": "More feature configs of the selected engine type.",
      "properties": {
        "recommendedForYouConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaEngineMediaRecommendationEngineConfigRecommendedForYouFeatureConfig",
          "description": "Recommended for you engine feature config."
        },
        "mostPopularConfig": {
          "description": "Most popular engine feature config.",
          "$ref": "GoogleCloudDiscoveryengineV1betaEngineMediaRecommendationEngineConfigMostPopularFeatureConfig"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaEngineMediaRecommendationEngineConfigEngineFeaturesConfig",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSnippetSpec": {
      "description": "A specification for configuring snippets in a search response.",
      "properties": {
        "maxSnippetCount": {
          "deprecated": true,
          "description": "[DEPRECATED] This field is deprecated. To control snippet return, use `return_snippet` field. For backwards compatibility, we will return snippet if max_snippet_count > 0.",
          "type": "integer",
          "format": "int32"
        },
        "referenceOnly": {
          "type": "boolean",
          "deprecated": true,
          "description": "[DEPRECATED] This field is deprecated and will have no affect on the snippet."
        },
        "returnSnippet": {
          "description": "If `true`, then return snippet. If no snippet can be generated, we return \"No snippet is available for this page.\" A `snippet_status` with `SUCCESS` or `NO_SNIPPET_AVAILABLE` will also be returned.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSnippetSpec"
    },
    "GoogleCloudDiscoveryengineV1betaImportSampleQueriesMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaImportSampleQueriesMetadata",
      "description": "Metadata related to the progress of the ImportSampleQueries operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "ImportSampleQueries operation create time.",
          "format": "google-datetime"
        },
        "successCount": {
          "type": "string",
          "description": "Count of SampleQuerys successfully imported.",
          "format": "int64"
        },
        "failureCount": {
          "description": "Count of SampleQuerys that failed to be imported.",
          "type": "string",
          "format": "int64"
        },
        "totalCount": {
          "description": "Total count of SampleQuerys that were processed.",
          "type": "string",
          "format": "int64"
        },
        "updateTime": {
          "description": "ImportSampleQueries operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestPersonalizationSpec": {
      "properties": {
        "mode": {
          "enumDescriptions": [
            "Default value. In this case, server behavior defaults to Mode.AUTO.",
            "Personalization is enabled if data quality requirements are met.",
            "Disable personalization."
          ],
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "AUTO",
            "DISABLED"
          ],
          "description": "The personalization mode of the search request. Defaults to Mode.AUTO."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestPersonalizationSpec",
      "description": "The specification for personalization."
    },
    "GoogleCloudDiscoveryengineV1betaUserInfoPreciseLocation": {
      "type": "object",
      "description": "Precise location info with multiple representation options.",
      "id": "GoogleCloudDiscoveryengineV1betaUserInfoPreciseLocation",
      "properties": {
        "address": {
          "description": "Location represented by a natural language address. Will later be geocoded and converted to either a point or a polygon.",
          "type": "string"
        },
        "point": {
          "description": "Optional. Location represented by a latitude/longitude point.",
          "$ref": "GoogleTypeLatLng"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigOptimizationObjectiveConfig": {
      "description": "Custom threshold for `cvr` optimization_objective.",
      "id": "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigOptimizationObjectiveConfig",
      "properties": {
        "targetFieldValueFloat": {
          "type": "number",
          "format": "float",
          "description": "Required. The threshold to be applied to the target (e.g., 0.5)."
        },
        "targetField": {
          "description": "Required. The name of the field to target. Currently supported values: `watch-percentage`, `watch-time`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudNotebooklmV1alphaAudioOverview": {
      "properties": {
        "mimeType": {
          "enumDescriptions": [
            "The mime type has not been set.",
            "The mime type is audio/wav.",
            "The mime type is audio/mp4."
          ],
          "description": "The mime type of the audio overview.",
          "type": "string",
          "enum": [
            "MIME_TYPE_UNKNOWN",
            "MIME_TYPE_WAV",
            "MIME_TYPE_MP4"
          ]
        },
        "languageCode": {
          "description": "The language code of the generated audio overview. Use the BCP 47 language code (e.g. \"en\", \"es\", \"hi\", etc.).",
          "type": "string"
        },
        "generationOptions": {
          "description": "The options used to generate the audio overview.",
          "$ref": "GoogleCloudNotebooklmV1alphaAudioOverviewGenerationOptions"
        },
        "audioOverviewId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique ID of the audio overview."
        },
        "name": {
          "description": "Identifier. The full resource name of the notebook. Format: `projects/{project}/locations/{location}/notebooks/{notebook}/audioOverviews/{audio_overview_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "enum": [
            "AUDIO_OVERVIEW_STATUS_UNSPECIFIED",
            "AUDIO_OVERVIEW_STATUS_NOT_STARTED",
            "AUDIO_OVERVIEW_STATUS_IN_PROGRESS",
            "AUDIO_OVERVIEW_STATUS_COMPLETE",
            "AUDIO_OVERVIEW_STATUS_FAILED"
          ],
          "description": "The status of the audio overview.",
          "enumDescriptions": [
            "The status has not been set.",
            "The audio overview has not started being generated.",
            "The audio overview is in the process of being generated.",
            "The audio overview has been generated and is available.",
            "The audio overview failed to be generated."
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudNotebooklmV1alphaAudioOverview",
      "description": "An audio overview of a notebook. This is a summary of the notebook in audio format."
    },
    "GoogleCloudDiscoveryengineV1Assistant": {
      "description": "Discovery Engine Assistant resource.",
      "properties": {
        "enabledTools": {
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1AssistantToolList"
          },
          "type": "object",
          "description": "Optional. Note: not implemented yet. Use enabled_actions instead. The enabled tools on this assistant. The keys are connector name, for example \"projects/{projectId}/locations/{locationId}/collections/{collectionId}/dataconnector The values consist of admin enabled tools towards the connector instance. Admin can selectively enable multiple tools on any of the connector instances that they created in the project. For example {\"jira1ConnectorName\": [(toolId1, \"createTicket\"), (toolId2, \"transferTicket\")], \"gmail1ConnectorName\": [(toolId3, \"sendEmail\"),..] }"
        },
        "webGroundingType": {
          "enumDescriptions": [
            "Default, unspecified setting. This is the same as disabled.",
            "Web grounding is disabled.",
            "Grounding with Google Search is enabled.",
            "Grounding with Enterprise Web Search is enabled."
          ],
          "type": "string",
          "enum": [
            "WEB_GROUNDING_TYPE_UNSPECIFIED",
            "WEB_GROUNDING_TYPE_DISABLED",
            "WEB_GROUNDING_TYPE_GOOGLE_SEARCH",
            "WEB_GROUNDING_TYPE_ENTERPRISE_WEB_SEARCH"
          ],
          "description": "Optional. The type of web grounding to use."
        },
        "defaultWebGroundingToggleOff": {
          "type": "boolean",
          "description": "Optional. This field controls the default web grounding toggle for end users if `web_grounding_type` is set to `WEB_GROUNDING_TYPE_GOOGLE_SEARCH` or `WEB_GROUNDING_TYPE_ENTERPRISE_WEB_SEARCH`. By default, this field is set to false. If `web_grounding_type` is `WEB_GROUNDING_TYPE_GOOGLE_SEARCH` or `WEB_GROUNDING_TYPE_ENTERPRISE_WEB_SEARCH`, end users will have web grounding enabled by default on UI. If true, grounding toggle will be disabled by default on UI. End users can still enable web grounding in the UI if web grounding is enabled."
        },
        "generationConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1AssistantGenerationConfig",
          "description": "Optional. Configuration for the generation of the assistant response."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Represents the time when this Assistant was most recently updated.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The assistant display name. It must be a UTF-8 encoded string with a length limit of 128 characters."
        },
        "customerPolicy": {
          "description": "Optional. Customer policy for the assistant.",
          "$ref": "GoogleCloudDiscoveryengineV1AssistantCustomerPolicy"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Represents the time when this Assistant was created.",
          "readOnly": true
        },
        "description": {
          "description": "Optional. Description for additional information. Expected to be shown on the configuration UI, not to the users of the assistant.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. Resource name of the assistant. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/assistants/{assistant}` It must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1Assistant",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaEngineRecommendationMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaEngineRecommendationMetadata",
      "properties": {
        "lastTrainTime": {
          "description": "Output only. The timestamp when the latest successful training finished. Only applicable on Media Recommendation engines.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "servingState": {
          "description": "Output only. The serving state of the engine: `ACTIVE`, `NOT_ACTIVE`.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "SERVING_STATE_UNSPECIFIED",
            "INACTIVE",
            "ACTIVE",
            "TUNED"
          ],
          "enumDescriptions": [
            "Unspecified serving state.",
            "The engine is not serving.",
            "The engine is serving and can be queried.",
            "The engine is trained on tuned hyperparameters and can be queried."
          ]
        },
        "tuningOperation": {
          "description": "Output only. The latest tune operation id associated with the engine. Only applicable on Media Recommendation engines. If present, this operation id can be used to determine if there is an ongoing tune for this engine. To check the operation status, send the GetOperation request with this operation id in the engine resource format. If no tuning has happened for this engine, the string is empty.",
          "type": "string",
          "readOnly": true
        },
        "dataState": {
          "enumDescriptions": [
            "Unspecified default value, should never be explicitly set.",
            "The engine has sufficient training data.",
            "The engine does not have sufficient training data. Error messages can be queried via Stackdriver."
          ],
          "description": "Output only. The state of data requirements for this engine: `DATA_OK` and `DATA_ERROR`. Engine cannot be trained if the data is in `DATA_ERROR` state. Engine can have `DATA_ERROR` state even if serving state is `ACTIVE`: engines were trained successfully before, but cannot be refreshed because the underlying engine no longer has sufficient data for training.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "DATA_STATE_UNSPECIFIED",
            "DATA_OK",
            "DATA_ERROR"
          ]
        },
        "lastTuneTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the latest successful tune finished. Only applicable on Media Recommendation engines.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Additional information of a recommendation engine."
    },
    "GoogleCloudDiscoveryengineV1DataConnectorRealtimeSyncConfig": {
      "id": "GoogleCloudDiscoveryengineV1DataConnectorRealtimeSyncConfig",
      "properties": {
        "webhookUri": {
          "description": "Optional. Webhook url for the connector to specify additional params for realtime sync.",
          "type": "string"
        },
        "realtimeSyncSecret": {
          "description": "Optional. The ID of the Secret Manager secret used for webhook secret.",
          "type": "string"
        },
        "streamingError": {
          "description": "Optional. Streaming error details.",
          "$ref": "GoogleCloudDiscoveryengineV1DataConnectorRealtimeSyncConfigStreamingError"
        }
      },
      "description": "The configuration for realtime sync to store additional params for realtime sync.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1IdentityMappingEntryOperationMetadata": {
      "description": "IdentityMappingEntry LongRunningOperation metadata for IdentityMappingStoreService.ImportIdentityMappings and IdentityMappingStoreService.PurgeIdentityMappings",
      "id": "GoogleCloudDiscoveryengineV1IdentityMappingEntryOperationMetadata",
      "type": "object",
      "properties": {
        "totalCount": {
          "format": "int64",
          "type": "string",
          "description": "The total number of IdentityMappingEntries that were processed."
        },
        "successCount": {
          "description": "The number of IdentityMappingEntries that were successfully processed.",
          "type": "string",
          "format": "int64"
        },
        "failureCount": {
          "type": "string",
          "description": "The number of IdentityMappingEntries that failed to be processed.",
          "format": "int64"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaUpdateSessionRequest": {
      "id": "GoogleCloudDiscoveryengineV1alphaUpdateSessionRequest",
      "description": "Request for UpdateSession method.",
      "type": "object",
      "properties": {
        "session": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSession",
          "description": "Required. The Session to update."
        },
        "updateMask": {
          "type": "string",
          "description": "Indicates which fields in the provided Session to update. The following are NOT supported: * Session.name If not set or empty, all supported fields are updated.",
          "format": "google-fieldmask"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaCustomFineTuningSpec": {
      "description": "Defines custom fine tuning spec.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaCustomFineTuningSpec",
      "properties": {
        "enableSearchAdaptor": {
          "description": "Whether or not to enable and include custom fine tuned search adaptor model.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAgentImage": {
      "description": "Represents an image.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Image URI."
        },
        "content": {
          "description": "Base64-encoded image file contents.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAgentImage",
      "type": "object"
    },
    "GoogleCloudNotebooklmV1alphaCmekConfig": {
      "type": "object",
      "description": "Customer-managed encryption configuration for Notebooks.",
      "properties": {
        "kmsKey": {
          "description": "Required. KMS key resource name which will be used to encrypt resources `projects/{project}/locations/{location}/keyRings/{keyRing}/cryptoKeys/{keyId}`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudNotebooklmV1alphaCmekConfig"
    },
    "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecExtractiveContentSpec": {
      "id": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecExtractiveContentSpec",
      "type": "object",
      "properties": {
        "numPreviousSegments": {
          "description": "Specifies whether to also include the adjacent from each selected segments. Return at most `num_previous_segments` segments before each selected segments.",
          "type": "integer",
          "format": "int32"
        },
        "maxExtractiveSegmentCount": {
          "type": "integer",
          "format": "int32",
          "description": "The max number of extractive segments returned in each search result. Only applied if the DataStore is set to DataStore.ContentConfig.CONTENT_REQUIRED or DataStore.solution_types is SOLUTION_TYPE_CHAT. An extractive segment is a text segment extracted from the original document that is relevant to the search query, and, in general, more verbose than an extractive answer. The segment could then be used as input for LLMs to generate summaries and answers. If the number of matching segments is less than `max_extractive_segment_count`, return all of the segments. Otherwise, return the `max_extractive_segment_count`."
        },
        "returnExtractiveSegmentScore": {
          "description": "Specifies whether to return the confidence score from the extractive segments in each search result. This feature is available only for new or allowlisted data stores. To allowlist your data store, contact your Customer Engineer. The default value is `false`.",
          "type": "boolean"
        },
        "numNextSegments": {
          "description": "Return at most `num_next_segments` segments after each selected segments.",
          "format": "int32",
          "type": "integer"
        },
        "maxExtractiveAnswerCount": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of extractive answers returned in each search result. An extractive answer is a verbatim answer extracted from the original document, which provides a precise and contextually relevant answer to the search query. If the number of matching answers is less than the `max_extractive_answer_count`, return all of the answers. Otherwise, return the `max_extractive_answer_count`. At most five answers are returned for each SearchResult."
        }
      },
      "description": "A specification for configuring the extractive content in a search response."
    },
    "GoogleCloudDiscoveryengineV1alphaQualityMetricsTopkMetrics": {
      "type": "object",
      "properties": {
        "top1": {
          "format": "double",
          "type": "number",
          "description": "The top-1 value."
        },
        "top10": {
          "type": "number",
          "format": "double",
          "description": "The top-10 value."
        },
        "top3": {
          "type": "number",
          "format": "double",
          "description": "The top-3 value."
        },
        "top5": {
          "description": "The top-5 value.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "Stores the metric values at specific top-k levels.",
      "id": "GoogleCloudDiscoveryengineV1alphaQualityMetricsTopkMetrics"
    },
    "GoogleCloudDiscoveryengineV1betaEngineKnowledgeGraphConfigFeatureConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaEngineKnowledgeGraphConfigFeatureConfig",
      "properties": {
        "disablePrivateKgAutoComplete": {
          "type": "boolean",
          "description": "Whether to disable the private KG auto complete for the engine. Defaults to false if not specified."
        },
        "disablePrivateKgQueryUiChips": {
          "type": "boolean",
          "description": "Whether to disable the private KG for query UI chips. Defaults to false if not specified."
        },
        "disablePrivateKgQueryUnderstanding": {
          "description": "Whether to disable the private KG query understanding for the engine. Defaults to false if not specified.",
          "type": "boolean"
        },
        "disablePrivateKgEnrichment": {
          "description": "Whether to disable the private KG enrichment for the engine. Defaults to false if not specified.",
          "type": "boolean"
        }
      },
      "description": "Feature config for the Knowledge Graph."
    },
    "GoogleCloudDiscoveryengineV1alphaCreateTargetSiteRequest": {
      "id": "GoogleCloudDiscoveryengineV1alphaCreateTargetSiteRequest",
      "type": "object",
      "properties": {
        "parent": {
          "description": "Required. Parent resource name of TargetSite, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/siteSearchEngine`.",
          "type": "string"
        },
        "targetSite": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaTargetSite",
          "description": "Required. The TargetSite to create."
        }
      },
      "description": "Request message for SiteSearchEngineService.CreateTargetSite method."
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerStepActionSearchAction": {
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionSearchAction",
      "type": "object",
      "description": "Search action.",
      "properties": {
        "query": {
          "description": "The query to search.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestRelevanceScoreSpec": {
      "properties": {
        "returnRelevanceScore": {
          "type": "boolean",
          "description": "Optional. Whether to return the relevance score for search results. The higher the score, the more relevant the document is to the query."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestRelevanceScoreSpec",
      "type": "object",
      "description": "The specification for returning the document relevance score."
    },
    "GoogleCloudDiscoveryengineV1alphaWidgetConfigAssistantSettings": {
      "description": "Describes the assistant settings of the widget.",
      "properties": {
        "googleSearchGroundingEnabled": {
          "description": "Whether or not the Google search grounding toggle is shown. Deprecated. Use web_grounding_type instead.",
          "type": "boolean",
          "deprecated": true
        },
        "webGroundingType": {
          "description": "Optional. The type of web grounding to use.",
          "enumDescriptions": [
            "Default, unspecified setting. This is the same as disabled.",
            "Web grounding is disabled.",
            "Grounding with Google Search is enabled.",
            "Grounding with Enterprise Web Search is enabled."
          ],
          "type": "string",
          "enum": [
            "WEB_GROUNDING_TYPE_UNSPECIFIED",
            "WEB_GROUNDING_TYPE_DISABLED",
            "WEB_GROUNDING_TYPE_GOOGLE_SEARCH",
            "WEB_GROUNDING_TYPE_ENTERPRISE_WEB_SEARCH"
          ]
        },
        "defaultWebGroundingToggleOff": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. This field controls the default web grounding toggle for end users if `web_grounding_type` is set to `WEB_GROUNDING_TYPE_GOOGLE_SEARCH` or `WEB_GROUNDING_TYPE_ENTERPRISE_WEB_SEARCH`. By default, this field is set to false. If `web_grounding_type` is `WEB_GROUNDING_TYPE_GOOGLE_SEARCH` or `WEB_GROUNDING_TYPE_ENTERPRISE_WEB_SEARCH`, end users will have web grounding enabled by default on UI. If true, grounding toggle will be disabled by default on UI. End users can still enable web grounding in the UI if web grounding is enabled."
        },
        "disableLocationContext": {
          "readOnly": true,
          "description": "Optional. Output only. Whether to disable user location context.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaWidgetConfigAssistantSettings"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestCrowdingSpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestCrowdingSpec",
      "type": "object",
      "description": "Specification for crowding. Crowding improves the diversity of search results by limiting the number of results that share the same field value. For example, crowding on the color field with a max_count of 3 and mode DROP_CROWDED_RESULTS will return at most 3 results with the same color across all pages.",
      "properties": {
        "field": {
          "type": "string",
          "description": "The field to use for crowding. Documents can be crowded by a field in the Document object. Crowding field is case sensitive."
        },
        "mode": {
          "enumDescriptions": [
            "Unspecified crowding mode. In this case, server behavior defaults to Mode.DROP_CROWDED_RESULTS.",
            "Drop crowded results.",
            "Demote crowded results to the later pages."
          ],
          "description": "Mode to use for documents that are crowded away.",
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "DROP_CROWDED_RESULTS",
            "DEMOTE_CROWDED_RESULTS_TO_END"
          ]
        },
        "maxCount": {
          "description": "The maximum number of documents to keep per value of the field. Once there are at least max_count previous results which contain the same value for the given field (according to the order specified in `order_by`), later results with the same value are \"crowded away\". If not specified, the default value is 1.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaCompletionSuggestion": {
      "type": "object",
      "description": "Autocomplete suggestions that are imported from Customer.",
      "properties": {
        "suggestion": {
          "description": "Required. The suggestion text.",
          "type": "string"
        },
        "alternativePhrases": {
          "description": "Alternative matching phrases for this suggestion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "languageCode": {
          "description": "BCP-47 language code of this suggestion.",
          "type": "string"
        },
        "groupScore": {
          "format": "double",
          "type": "number",
          "description": "The score of this suggestion within its group."
        },
        "frequency": {
          "description": "Frequency of this suggestion. Will be used to rank suggestions when score is not available.",
          "format": "int64",
          "type": "string"
        },
        "groupId": {
          "type": "string",
          "description": "If two suggestions have the same groupId, they will not be returned together. Instead the one ranked higher will be returned. This can be used to deduplicate semantically identical suggestions."
        },
        "globalScore": {
          "type": "number",
          "description": "Global score of this suggestion. Control how this suggestion would be scored / ranked.",
          "format": "double"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaCompletionSuggestion"
    },
    "GoogleCloudDiscoveryengineV1alphaRemoveDedicatedCrawlRateRequest": {
      "id": "GoogleCloudDiscoveryengineV1alphaRemoveDedicatedCrawlRateRequest",
      "properties": {
        "crawlRateScope": {
          "description": "Required. The scope of the crawl rate change. Currently, only domain and host name are supported. A domain name example: `example.com`. A host name example: `www.example.com`. Please do not include `/` in the domain or host name.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for CrawlRateManagementService.RemoveDedicatedCrawlRate method. The user can remove the dedicated crawl rate for a crawl_rate_scope they own, and Google will fall back to organic crawl, and the crawl rate will be determined by Google."
    },
    "GoogleCloudDiscoveryengineV1betaDeleteIdentityMappingStoreMetadata": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "description": "Metadata related to the progress of the IdentityMappingStoreService.DeleteIdentityMappingStore operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaDeleteIdentityMappingStoreMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaCheckGroundingResponse": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaCheckGroundingResponse",
      "description": "Response message for the GroundedGenerationService.CheckGrounding method.",
      "properties": {
        "supportScore": {
          "description": "The support score for the input answer candidate. Higher the score, higher is the fraction of claims that are supported by the provided facts. This is always set when a response is returned.",
          "type": "number",
          "format": "float"
        },
        "citedChunks": {
          "description": "List of facts cited across all claims in the answer candidate. These are derived from the facts supplied in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaFactChunk"
          }
        },
        "claims": {
          "type": "array",
          "description": "Claim texts and citation info across all claims in the answer candidate.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaCheckGroundingResponseClaim"
          }
        },
        "citedFacts": {
          "description": "List of facts cited across all claims in the answer candidate. These are derived from the facts supplied in the request.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaCheckGroundingResponseCheckGroundingFactChunk"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSetUriPatternDocumentDataMetadata": {
      "description": "Metadata related to the progress of the SiteSearchEngineService.SetUriPatternDocumentData operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaSetUriPatternDocumentDataMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaSetUpDataConnectorRequest": {
      "type": "object",
      "description": "Request for DataConnectorService.SetUpDataConnector method.",
      "properties": {
        "collectionDisplayName": {
          "type": "string",
          "description": "Required. The display name of the Collection. Should be human readable, used to display collections in the Console Dashboard. UTF-8 encoded string with limit of 1024 characters."
        },
        "dataConnector": {
          "description": "Required. The DataConnector to initialize in the newly created Collection.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDataConnector"
        },
        "collectionId": {
          "type": "string",
          "description": "Required. The ID to use for the Collection, which will become the final component of the Collection's resource name. A new Collection is created as part of the DataConnector setup. DataConnector is a singleton resource under Collection, managing all DataStores of the Collection. Should conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) standard with a length limit of 63 characters. Otherwise, an `INVALID_ARGUMENT` error is returned."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSetUpDataConnectorRequest"
    },
    "GoogleCloudDiscoveryengineV1alphaAuthorizationServerSideOAuth2": {
      "id": "GoogleCloudDiscoveryengineV1alphaAuthorizationServerSideOAuth2",
      "description": "OAuth2 configuration.",
      "properties": {
        "authorizationUri": {
          "type": "string",
          "description": "Required. The URI the user is directed to when they need to authorize. Should include everything required for a successful authorization: OAuth ID, extra flags, etc. Example: `https://accounts.google.com/o/oauth2/v2/auth?client_id=OAUTH_ID&scope=https://www.googleapis.com/auth/calendar.events&response_type=code&access_type=offline&prompt=consent` The `redirect_uri` parameter will be overwritten by the Vertex AI Search frontend."
        },
        "clientSecret": {
          "type": "string",
          "description": "Required. The OAuth2 client secret. Encrypted at rest."
        },
        "tokenUri": {
          "description": "Required. The HTTP endpoint that exchanges a client authorization for an access token.",
          "type": "string"
        },
        "clientId": {
          "description": "Required. The OAuth2 client ID.",
          "type": "string"
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The scopes to request. Example: `https://www.googleapis.com/auth/calendar.events` If omitted, no additional scopes are requested beyond those required by the authorization uri. If set, it will overwrite the scopes in the authorization uri when acquiring user authorization."
        },
        "pkceVerificationEnabled": {
          "type": "boolean",
          "description": "Optional. Whether to enable PKCE verification. https://datatracker.ietf.org/doc/html/rfc7636#section-3.1/"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAclConfig": {
      "properties": {
        "idpConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaIdpConfig",
          "description": "Identity provider config."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The full resource name of the acl configuration. Format: `projects/{project}/locations/{location}/aclConfig`. This field must be a UTF-8 encoded string with a length limit of 1024 characters."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAclConfig",
      "description": "Access Control Configuration."
    },
    "GoogleCloudDiscoveryengineV1alphaListAssistantsResponse": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaListAssistantsResponse",
      "properties": {
        "assistants": {
          "description": "All the customer's Assistants.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAssistant"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListAssistantsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for the AssistantService.ListAssistants method."
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestSearchAddonSpec": {
      "properties": {
        "disableSemanticAddOn": {
          "description": "Optional. If true, semantic add-on is disabled. Semantic add-on includes embeddings and jetstream.",
          "type": "boolean"
        },
        "disableKpiPersonalizationAddOn": {
          "description": "Optional. If true, disables event re-ranking and personalization to optimize KPIs & personalize results.",
          "type": "boolean"
        },
        "disableGenerativeAnswerAddOn": {
          "description": "Optional. If true, generative answer add-on is disabled. Generative answer add-on includes natural language to filters and simple answers.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestSearchAddonSpec",
      "description": "SearchAddonSpec is used to disable add-ons for search as per new repricing model. By default if the SearchAddonSpec is not specified, we consider that the customer wants to enable them wherever applicable."
    },
    "GoogleCloudDiscoveryengineV1betaDataStoreBillingEstimation": {
      "type": "object",
      "description": "Estimation of data size per data store.",
      "id": "GoogleCloudDiscoveryengineV1betaDataStoreBillingEstimation",
      "properties": {
        "unstructuredDataSize": {
          "type": "string",
          "format": "int64",
          "description": "Data size for unstructured data in terms of bytes."
        },
        "structuredDataUpdateTime": {
          "type": "string",
          "description": "Last updated timestamp for structured data.",
          "format": "google-datetime"
        },
        "structuredDataSize": {
          "format": "int64",
          "type": "string",
          "description": "Data size for structured data in terms of bytes."
        },
        "websiteDataSize": {
          "type": "string",
          "format": "int64",
          "description": "Data size for websites in terms of bytes."
        },
        "unstructuredDataUpdateTime": {
          "description": "Last updated timestamp for unstructured data.",
          "format": "google-datetime",
          "type": "string"
        },
        "websiteDataUpdateTime": {
          "format": "google-datetime",
          "description": "Last updated timestamp for websites.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigModelArmorConfig": {
      "type": "object",
      "description": "Configuration for customer defined Model Armor templates to be used for sanitizing user prompts and LLM responses.",
      "id": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigModelArmorConfig",
      "properties": {
        "responseTemplate": {
          "description": "Optional. The resource name of the Model Armor Template for sanitizing LLM responses. Format: projects/{project}/locations/{location}/templates/{template_id} If not specified, no sanitization will be applied to the LLM response.",
          "type": "string"
        },
        "userPromptTemplate": {
          "description": "Optional. The resource name of the Model Armor Template for sanitizing user prompts. Format: projects/{project}/locations/{location}/templates/{template_id} If not specified, no sanitization will be applied to the user prompt.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchLinkPromotion": {
      "description": "Promotion proto includes uri and other helping information to display the promotion.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchLinkPromotion",
      "properties": {
        "description": {
          "description": "Optional. The Promotion description. Maximum length: 200 characters.",
          "type": "string"
        },
        "uri": {
          "description": "Optional. The URL for the page the user wants to promote. Must be set for site search. For other verticals, this is optional.",
          "type": "string"
        },
        "imageUri": {
          "type": "string",
          "description": "Optional. The promotion thumbnail image url."
        },
        "title": {
          "description": "Required. The title of the promotion. Maximum length: 160 characters.",
          "type": "string"
        },
        "enabled": {
          "description": "Optional. The enabled promotion will be returned for any serving configs associated with the parent of the control this promotion is attached to. This flag is used for basic site search only.",
          "type": "boolean"
        },
        "document": {
          "type": "string",
          "description": "Optional. The Document the user wants to promote. For site search, leave unset and only populate uri. Can be set along with uri."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaListDataStoresResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListDataStoresRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "dataStores": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaDataStore"
          },
          "type": "array",
          "description": "All the customer's DataStores."
        }
      },
      "description": "Response message for DataStoreService.ListDataStores method.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaListDataStoresResponse"
    },
    "GoogleCloudDiscoveryengineV1betaUserInfo": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaUserInfo",
      "description": "Information of an end user.",
      "properties": {
        "preciseLocation": {
          "$ref": "GoogleCloudDiscoveryengineV1betaUserInfoPreciseLocation",
          "description": "Optional. Input only. Precise location of the user. It is used in Custom Ranking to calculate the distance between the user and the relevant documents."
        },
        "userId": {
          "description": "Highly recommended for logged-in users. Unique identifier for logged-in user, such as a user name. Don't set for anonymous users. Always use a hashed value for this ID. Don't set the field to the same fixed ID for different users. This mixes the event history of those users together, which results in degraded model quality. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an `INVALID_ARGUMENT` error is returned. Represents an opaque ID to the Search API. The Search API doesn't interpret the value in any way. This field is used to associate events with a user across sessions if the events are being uploaded.",
          "type": "string"
        },
        "userAgent": {
          "type": "string",
          "description": "User agent as included in the HTTP header. The field must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an `INVALID_ARGUMENT` error is returned. This should not be set when using the client side event reporting with GTM or JavaScript tag in UserEventService.CollectUserEvent or if UserEvent.direct_user_request is set."
        },
        "timeZone": {
          "description": "Optional. IANA time zone, e.g. Europe/Budapest.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestSearchSpecSearchResultListSearchResultChunkInfo": {
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestSearchSpecSearchResultListSearchResultChunkInfo",
      "description": "Chunk information.",
      "properties": {
        "chunk": {
          "description": "Chunk resource name.",
          "type": "string"
        },
        "documentMetadata": {
          "description": "Metadata of the document from the current chunk.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestSearchSpecSearchResultListSearchResultChunkInfoDocumentMetadata"
        },
        "content": {
          "description": "Chunk textual content.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1Engine": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the engine. Should be human readable. UTF-8 encoded string with limit of 1024 characters."
        },
        "observabilityConfig": {
          "description": "Optional. Observability config for the engine.",
          "$ref": "GoogleCloudDiscoveryengineV1ObservabilityConfig"
        },
        "procurementContactEmails": {
          "description": "Optional. The emails of the procurement contacts.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. Timestamp the Recommendation Engine was created at.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "mediaRecommendationEngineConfig": {
          "description": "Configurations for the Media Engine. Only applicable on the data stores with solution_type SOLUTION_TYPE_RECOMMENDATION and IndustryVertical.MEDIA vertical.",
          "$ref": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfig"
        },
        "modelConfigs": {
          "additionalProperties": {
            "enumDescriptions": [
              "The model state is unspecified.",
              "The model is enabled by admin.",
              "The model is disabled by admin."
            ],
            "type": "string",
            "enum": [
              "MODEL_STATE_UNSPECIFIED",
              "MODEL_ENABLED",
              "MODEL_DISABLED"
            ]
          },
          "description": "Optional. Maps a model name to its specific configuration for this engine. This allows admin users to turn on/off individual models. This only stores models whose states are overridden by the admin. When the state is unspecified, or model_configs is empty for this model, the system will decide if this model should be available or not based on the default configuration. For example, a preview model should be disabled by default if the admin has not chosen to enable it.",
          "type": "object"
        },
        "features": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "enumDescriptions": [
              "The feature state is unspecified.",
              "The feature is turned on to be accessible.",
              "The feature is turned off to be inaccessible."
            ],
            "enum": [
              "FEATURE_STATE_UNSPECIFIED",
              "FEATURE_STATE_ON",
              "FEATURE_STATE_OFF"
            ]
          },
          "description": "Optional. Feature config for the engine to opt in or opt out of features. Supported keys: * `*`: all features, if it's present, all other feature state settings are ignored. * `agent-gallery` * `no-code-agent-builder` * `prompt-gallery` * `model-selector` * `notebook-lm` * `people-search` * `people-search-org-chart` * `bi-directional-audio` * `speech-to-text` * `feedback` * `session-sharing` * `personalization-memory` * `personalization-suggested-highlights` * `mobile-app-access` * `disable-agent-sharing` * `disable-image-generation` * `disable-video-generation` * `disable-onedrive-upload` * `disable-talk-to-content` * `disable-google-drive-upload` * `disable-welcome-emails` * `disable-canvas` * `canvas-workspace` * `skills` * `skill-sharing` * `skill-sharing-without-admin-approval` * `disable-projects` * `sobi` * `enable-end-user-sharing-with-groups` * `single-agent-orchestration` * `multi-agent-orchestration` * `cross-product-intelligence` * `workflow-agents` * `in-app-notifications`"
        },
        "chatEngineMetadata": {
          "description": "Output only. Additional information of the Chat Engine. Only applicable if solution_type is SOLUTION_TYPE_CHAT.",
          "$ref": "GoogleCloudDiscoveryengineV1EngineChatEngineMetadata",
          "readOnly": true
        },
        "disableAnalytics": {
          "description": "Optional. Whether to disable analytics for searches performed on this engine.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The fully qualified resource name of the engine. This field must be a UTF-8 encoded string with a length limit of 1024 characters. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}` engine should be 1-63 characters, and valid characters are /a-z0-9*/. Otherwise, an INVALID_ARGUMENT error is returned."
        },
        "connectorTenantInfo": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Maps a connector ID (e.g., \"hybrid-github\", \"shopify\") to tenant-specific information required for that connector. The structure of the tenant information string is connector-dependent."
        },
        "knowledgeGraphConfig": {
          "description": "Optional. Configurations for the Knowledge Graph. Only applicable if solution_type is SOLUTION_TYPE_SEARCH.",
          "$ref": "GoogleCloudDiscoveryengineV1EngineKnowledgeGraphConfig"
        },
        "appType": {
          "description": "Optional. Immutable. This the application type which this engine resource represents. NOTE: this is a new concept independ of existing industry vertical or solution type.",
          "enumDescriptions": [
            "All non specified apps.",
            "App type for intranet search and Agentspace."
          ],
          "type": "string",
          "enum": [
            "APP_TYPE_UNSPECIFIED",
            "APP_TYPE_INTRANET"
          ]
        },
        "configurableBillingApproach": {
          "enumDescriptions": [
            "Default value. For Spark and non-Spark non-configurable billing approach. General pricing model.",
            "The billing approach follows configurations specified by customer."
          ],
          "description": "Optional. Configuration for configurable billing approach.",
          "type": "string",
          "enum": [
            "CONFIGURABLE_BILLING_APPROACH_UNSPECIFIED",
            "CONFIGURABLE_BILLING_APPROACH_ENABLED"
          ]
        },
        "cmekConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1CmekConfig",
          "description": "Output only. CMEK-related information for the Engine.",
          "readOnly": true
        },
        "marketplaceAgentVisibility": {
          "enumDescriptions": [
            "Defaults to `MARKETPLACE_AGENT_VISIBILITY_UNSPECIFIED`.",
            "Only agents that are currently available for use by the user are visible.",
            "Show marketplace agents that the user does not yet have access to but are integrated into the engine. This level also includes all agents visible with `SHOW_AVAILABLE_AGENTS_ONLY`.",
            "Show all agents visible with `SHOW_AGENTS_ALREADY_INTEGRATED`, plus agents that have already been purchased by the project/organization, even if they are not currently integrated into the engine.",
            "All agents in the marketplace are visible, regardless of access or purchase status. This level encompasses all agents shown in the previous levels."
          ],
          "description": "Optional. The visibility of marketplace agents in the agent gallery.",
          "type": "string",
          "enum": [
            "MARKETPLACE_AGENT_VISIBILITY_UNSPECIFIED",
            "SHOW_AVAILABLE_AGENTS_ONLY",
            "SHOW_AGENTS_ALREADY_INTEGRATED",
            "SHOW_AGENTS_ALREADY_PURCHASED",
            "SHOW_ALL_AGENTS"
          ]
        },
        "agentGatewaySetting": {
          "$ref": "GoogleCloudDiscoveryengineV1AgentGatewaySetting",
          "description": "Optional. The agent gateway setting for the engine."
        },
        "dataStoreIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The data stores associated with this engine. For SOLUTION_TYPE_SEARCH and SOLUTION_TYPE_RECOMMENDATION type of engines, they can only associate with at most one data store. If solution_type is SOLUTION_TYPE_CHAT, multiple DataStores in the same Collection can be associated here. Note that when used in CreateEngineRequest, one DataStore id must be provided as the system will use it for necessary initializations."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Timestamp the Recommendation Engine was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "commonConfig": {
          "description": "Common config spec that specifies the metadata of the engine.",
          "$ref": "GoogleCloudDiscoveryengineV1EngineCommonConfig"
        },
        "chatEngineConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1EngineChatEngineConfig",
          "description": "Configurations for the Chat Engine. Only applicable if solution_type is SOLUTION_TYPE_CHAT."
        },
        "industryVertical": {
          "type": "string",
          "enum": [
            "INDUSTRY_VERTICAL_UNSPECIFIED",
            "GENERIC",
            "MEDIA",
            "HEALTHCARE_FHIR"
          ],
          "description": "Optional. The industry vertical that the engine registers. The restriction of the Engine industry vertical is based on DataStore: Vertical on Engine has to match vertical of the DataStore linked to the engine.",
          "enumDescriptions": [
            "Value used when unset.",
            "The generic vertical for documents that are not specific to any industry vertical.",
            "The media industry vertical.",
            "The healthcare FHIR vertical."
          ]
        },
        "solutionType": {
          "type": "string",
          "enum": [
            "SOLUTION_TYPE_UNSPECIFIED",
            "SOLUTION_TYPE_RECOMMENDATION",
            "SOLUTION_TYPE_SEARCH",
            "SOLUTION_TYPE_CHAT",
            "SOLUTION_TYPE_GENERATIVE_CHAT",
            "SOLUTION_TYPE_AI_MODE"
          ],
          "description": "Required. The solutions of the engine.",
          "enumDescriptions": [
            "Default value.",
            "Used for Recommendations AI.",
            "Used for Discovery Search.",
            "Used for use cases related to the Generative AI agent.",
            "Used for use cases related to the Generative Chat agent. It's used for Generative chat engine only, the associated data stores must enrolled with `SOLUTION_TYPE_CHAT` solution.",
            "Used for AI Mode."
          ]
        },
        "associatedAgentRegistry": {
          "description": "Output only. The Agent registry containing the agents, MCP servers and tools associated with this engine. Derived server-side from the linked Agent Gateway's registry.",
          "type": "string",
          "readOnly": true
        },
        "searchEngineConfig": {
          "description": "Configurations for the Search Engine. Only applicable if solution_type is SOLUTION_TYPE_SEARCH.",
          "$ref": "GoogleCloudDiscoveryengineV1EngineSearchEngineConfig"
        }
      },
      "description": "Metadata that describes the training and serving parameters of an Engine.",
      "id": "GoogleCloudDiscoveryengineV1Engine"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoDocumentContext": {
      "type": "object",
      "description": "Document context.",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoDocumentContext",
      "properties": {
        "content": {
          "type": "string",
          "description": "Document content to be used for answer generation."
        },
        "pageIdentifier": {
          "description": "Page identifier.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaLicenseConfigUsageStats": {
      "description": "Stats about users' licenses.",
      "properties": {
        "licenseConfig": {
          "description": "Required. The LicenseConfig name.",
          "type": "string"
        },
        "usedLicenseCount": {
          "type": "string",
          "format": "int64",
          "description": "Required. The number of licenses used."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaLicenseConfigUsageStats",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpecBoostControlSpec": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpecBoostControlSpec",
      "type": "object",
      "properties": {
        "attributeType": {
          "type": "string",
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ],
          "description": "The attribute type to be used to determine the boost amount. The attribute value can be derived from the field value of the specified field_name. In the case of numerical it is straightforward i.e. attribute_value = numerical_field_value. In the case of freshness however, attribute_value = (time.now() - datetime_field_value).",
          "enumDescriptions": [
            "Unspecified AttributeType.",
            "The value of the numerical field will be used to dynamically update the boost amount. In this case, the attribute_value (the x value) of the control point will be the actual value of the numerical field for which the boost_amount is specified.",
            "For the freshness use case the attribute value will be the duration between the current time and the date in the datetime field specified. The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`. For example, `5D`, `3DT12H30M`, `T24H`."
          ]
        },
        "interpolationType": {
          "enumDescriptions": [
            "Interpolation type is unspecified. In this case, it defaults to Linear.",
            "Piecewise linear interpolation will be applied."
          ],
          "description": "The interpolation type to be applied to connect the control points listed below.",
          "type": "string",
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ]
        },
        "controlPoints": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpecBoostControlSpecControlPoint"
          },
          "description": "The control points used to define the curve. The monotonic function (defined through the interpolation_type above) passes through the control points listed here."
        },
        "fieldName": {
          "description": "The name of the field whose value will be used to determine the boost amount.",
          "type": "string"
        }
      },
      "description": "Specification for custom ranking based on customer specified attribute value. It provides more controls for customized ranking than the simple (condition, boost) combination above."
    },
    "GoogleCloudDiscoveryengineV1alphaDisableAdvancedSiteSearchResponse": {
      "type": "object",
      "description": "Response message for SiteSearchEngineService.DisableAdvancedSiteSearch method.",
      "id": "GoogleCloudDiscoveryengineV1alphaDisableAdvancedSiteSearchResponse",
      "properties": {}
    },
    "GoogleCloudDiscoveryengineV1alphaPurgeDocumentsMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaPurgeDocumentsMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        },
        "ignoredCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of entries that were ignored as entries were not found."
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        },
        "successCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of entries that were deleted successfully."
        },
        "failureCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of entries that encountered errors while processing."
        }
      },
      "description": "Metadata related to the progress of the PurgeDocuments operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1DeleteCmekConfigMetadata": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1DeleteCmekConfigMetadata",
      "description": "Metadata related to the progress of the CmekConfigService.DeleteCmekConfig operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperimentConfigGenerationSettings": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperimentConfigGenerationSettings",
      "properties": {
        "models": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperimentConfigGenerationSettingsModelConfig"
          },
          "type": "array",
          "description": "Optional. Per-model configuration. See `ModelConfig` for details. If left unset, the server selects a default model."
        },
        "includeFullProgramInPrompt": {
          "type": "boolean",
          "description": "Optional. When true, the LLM prompt includes the full program text (both mutable EVOLVE-BLOCK regions and immutable boilerplate). When false (default), only the mutable EVOLVE-BLOCK regions are shown, saving context window."
        },
        "context": {
          "type": "string",
          "description": "Optional. Additional user-provided context to be used during generation."
        }
      },
      "description": "Generation settings for the experiment."
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseSummaryCitation": {
      "properties": {
        "sources": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummaryCitationSource"
          },
          "type": "array",
          "description": "Citation sources for the attributed segment."
        },
        "startIndex": {
          "type": "string",
          "description": "Index indicates the start of the segment, measured in bytes/unicode.",
          "format": "int64"
        },
        "endIndex": {
          "type": "string",
          "format": "int64",
          "description": "End of the attributed segment, exclusive."
        }
      },
      "type": "object",
      "description": "Citation info for a segment.",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummaryCitation"
    },
    "GoogleCloudDiscoveryengineV1AssistantToolInfo": {
      "description": "Information to identify a tool.",
      "properties": {
        "toolName": {
          "description": "The name of the tool as defined by DataConnectorService.QueryAvailableActions. Note: it's using `action` in the DataConnectorService apis, but they are the same as the `tool` here.",
          "type": "string"
        },
        "toolDisplayName": {
          "description": "The display name of the tool.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AssistantToolInfo",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaRetractLicenseConfigResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaRetractLicenseConfigResponse",
      "type": "object",
      "description": "Response message for LicenseConfigService.RetractLicenseConfig method.",
      "properties": {
        "licenseConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaLicenseConfig",
          "description": "The updated LicenseConfig."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1Sitemap": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Public URI for the sitemap, e.g. `www.example.com/sitemap.xml`."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The sitemap's creation time."
        },
        "name": {
          "description": "Output only. The fully qualified resource name of the sitemap. `projects/*/locations/*/collections/*/dataStores/*/siteSearchEngine/sitemaps/*` The `sitemap_id` suffix is system-generated.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A sitemap for the SiteSearchEngine.",
      "id": "GoogleCloudDiscoveryengineV1Sitemap"
    },
    "GoogleCloudDiscoveryengineV1alphaVideoCharacteristics": {
      "properties": {
        "height": {
          "description": "Output only. Video height in pixels.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "videoBitrateKbps": {
          "description": "Output only. Bitrate of the video in kbps.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "audioCodecs": {
          "readOnly": true,
          "description": "Output only. Audio codecs used in the video.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "audioBitrateKbps": {
          "description": "Output only. Bitrate of the audio in kbps.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "videoCodecs": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Video codecs used in the video."
        },
        "duration": {
          "description": "Output only. Video duration.",
          "format": "google-duration",
          "readOnly": true,
          "type": "string"
        },
        "width": {
          "type": "integer",
          "description": "Output only. Video width in pixels.",
          "readOnly": true,
          "format": "int32"
        },
        "frameRate": {
          "readOnly": true,
          "description": "Output only. Frame rate (frames per second).",
          "type": "number",
          "format": "double"
        }
      },
      "description": "Standard characteristics of a video media view.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaVideoCharacteristics"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterStringConstraint": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterStringConstraint",
      "properties": {
        "querySegment": {
          "type": "string",
          "description": "Identifies the keywords within the search query that match a filter."
        },
        "values": {
          "description": "Values of the string field. The record will only be returned if the field value matches one of the values specified here.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "fieldName": {
          "description": "Name of the string field as defined in the schema.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Constraint expression of a string field."
    },
    "GoogleCloudDiscoveryengineV1ControlBoostAction": {
      "properties": {
        "boost": {
          "deprecated": true,
          "format": "float",
          "type": "number",
[...]
