{
  "name": "discoveryengine",
  "documentationLink": "https://cloud.google.com/generative-ai-app-builder/docs/",
  "basePath": "",
  "ownerDomain": "google.com",
  "revision": "20260712",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1alpha",
  "endpoints": [
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://discoveryengine.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://discoveryengine.europe-west2.rep.googleapis.com/",
      "location": "europe-west2"
    },
    {
      "location": "us",
      "description": "Regional Endpoint",
      "endpointUrl": "https://discoveryengine.us.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://discoveryengine.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://discoveryengine.in.rep.googleapis.com/",
      "location": "in"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://discoveryengine.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://discoveryengine.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://discoveryengine.ca.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "ca"
    }
  ],
  "mtlsRootUrl": "https://discoveryengine.mtls.googleapis.com/",
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "description": "Discovery Engine API.",
  "version_module": true,
  "canonicalName": "Discovery Engine",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "title": "Discovery Engine API",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "resources": {
    "billingAccounts": {
      "resources": {
        "billingAccountLicenseConfigs": {
          "methods": {
            "distributeLicenseConfig": {
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaDistributeLicenseConfigRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "billingAccountLicenseConfig"
              ],
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaDistributeLicenseConfigResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "flatPath": "v1alpha/billingAccounts/{billingAccountsId}/billingAccountLicenseConfigs/{billingAccountLicenseConfigsId}:distributeLicenseConfig",
              "id": "discoveryengine.billingAccounts.billingAccountLicenseConfigs.distributeLicenseConfig",
              "description": "Distributes a LicenseConfig from billing account level to project level.",
              "path": "v1alpha/{+billingAccountLicenseConfig}:distributeLicenseConfig",
              "parameters": {
                "billingAccountLicenseConfig": {
                  "type": "string",
                  "pattern": "^billingAccounts/[^/]+/billingAccountLicenseConfigs/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Full resource name of BillingAccountLicenseConfig. Format: `billingAccounts/{billing_account}/billingAccountLicenseConfigs/{billing_account_license_config_id}`."
                }
              }
            },
            "retractLicenseConfig": {
              "parameterOrder": [
                "billingAccountLicenseConfig"
              ],
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaRetractLicenseConfigResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaRetractLicenseConfigRequest"
              },
              "httpMethod": "POST",
              "description": "This method is called from the billing account side to retract the LicenseConfig from the given project back to the billing account.",
              "path": "v1alpha/{+billingAccountLicenseConfig}:retractLicenseConfig",
              "parameters": {
                "billingAccountLicenseConfig": {
                  "required": true,
                  "description": "Required. Full resource name of BillingAccountLicenseConfig. Format: `billingAccounts/{billing_account}/billingAccountLicenseConfigs/{billing_account_license_config_id}`.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^billingAccounts/[^/]+/billingAccountLicenseConfigs/[^/]+$"
                }
              },
              "id": "discoveryengine.billingAccounts.billingAccountLicenseConfigs.retractLicenseConfig",
              "flatPath": "v1alpha/billingAccounts/{billingAccountsId}/billingAccountLicenseConfigs/{billingAccountLicenseConfigsId}:retractLicenseConfig"
            },
            "list": {
              "id": "discoveryengine.billingAccounts.billingAccountLicenseConfigs.list",
              "flatPath": "v1alpha/billingAccounts/{billingAccountsId}/billingAccountLicenseConfigs",
              "path": "v1alpha/{+parent}/billingAccountLicenseConfigs",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^billingAccounts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Format: `billingAccounts/{billing_account}`."
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. Not supported."
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. Not supported.",
                  "type": "string"
                }
              },
              "description": "Lists all BillingAccountLicenseConfigs for a given billing account.",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaListBillingAccountLicenseConfigsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "id": "discoveryengine.billingAccounts.billingAccountLicenseConfigs.get",
              "flatPath": "v1alpha/billingAccounts/{billingAccountsId}/billingAccountLicenseConfigs/{billingAccountLicenseConfigsId}",
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^billingAccounts/[^/]+/billingAccountLicenseConfigs/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. Full resource name of BillingAccountLicenseConfig. Format: `billingAccounts/{billing_account}/billingAccountLicenseConfigs/{billing_account_license_config_id}`.",
                  "required": true
                }
              },
              "description": "Gets a BillingAccountLicenseConfig.",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaBillingAccountLicenseConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    },
    "projects": {
      "methods": {
        "provision": {
          "path": "v1alpha/{+name}:provision",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. Full resource name of a Project, such as `projects/{project_id_or_number}`."
            }
          },
          "description": "Provisions the project resource. During the process, related systems will get prepared and initialized. Caller must read the [Terms for data use](https://cloud.google.com/retail/data-use-terms), and optionally specify in request to provide consent to that service terms.",
          "id": "discoveryengine.projects.provision",
          "flatPath": "v1alpha/projects/{projectsId}:provision",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/discoveryengine.readwrite",
            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
          ],
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaProvisionProjectRequest"
          }
        },
        "reportConsentChange": {
          "description": "Updates service terms for this project. This method can be used to retroactively accept the latest terms. Terms available for update: * [Terms for data use](https://cloud.google.com/retail/data-use-terms)",
          "path": "v1alpha/{+project}:reportConsentChange",
          "parameters": {
            "project": {
              "type": "string",
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. Full resource name of a Project, such as `projects/{project_id_or_number}`."
            }
          },
          "id": "discoveryengine.projects.reportConsentChange",
          "flatPath": "v1alpha/projects/{projectsId}:reportConsentChange",
          "parameterOrder": [
            "project"
          ],
          "response": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaProject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/discoveryengine.readwrite",
            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
          ],
          "request": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaReportConsentChangeRequest"
          },
          "httpMethod": "POST"
        },
        "patch": {
          "response": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaProject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/discoveryengine.readwrite",
            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
          ],
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "request": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaProject"
          },
          "path": "v1alpha/{+name}",
          "parameters": {
            "name": {
              "description": "Output only. Full resource name of the project, for example `projects/{project}`. Note that when making requests, project number and project id are both acceptable, but the server will always respond in project number.",
              "required": true,
              "pattern": "^projects/[^/]+$",
              "type": "string",
              "location": "path"
            },
            "updateMask": {
              "description": "Optional. The list of fields to update. Supported fields: * `customer_provided_config` * `customer_provided_config.notebooklm_config.observability_config`",
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            }
          },
          "description": "Updates the editable settings of a Discovery Engine Project.",
          "flatPath": "v1alpha/projects/{projectsId}",
          "id": "discoveryengine.projects.patch"
        },
        "get": {
          "response": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaProject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/discoveryengine.readwrite",
            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
          ],
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "path": "v1alpha/{+name}",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. Full resource name of a Project, such as `projects/{project_id_or_number}`."
            }
          },
          "description": "Gets a Project. Returns NOT_FOUND when the project is not yet created.",
          "flatPath": "v1alpha/projects/{projectsId}",
          "id": "discoveryengine.projects.get"
        }
      },
      "resources": {
        "locations": {
          "methods": {
            "setDedicatedCrawlRate": {
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaSetDedicatedCrawlRateRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "location"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:setDedicatedCrawlRate",
              "id": "discoveryengine.projects.locations.setDedicatedCrawlRate",
              "description": "Sets the dedicated crawl rate for a crawl_rate_scope. If the dedicated crawl rate was not set, this will enable vertex AI's crawl bot to use the new dedicated crawl rate for crawling. If the dedicated crawl rate was set, vertex AI's crawl bot will try to update the rate to the new value. If the new value is too high, the crawl bot may crawl at a lower rate to avoid overloading the user's website.",
              "path": "v1alpha/{+location}:setDedicatedCrawlRate",
              "parameters": {
                "location": {
                  "required": true,
                  "description": "Required. The location resource where crawl rate management will be performed. Format: `projects/{project}/locations/{location}`",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path"
                }
              }
            },
            "completeExternalIdentities": {
              "path": "v1alpha/{+parent}:completeExternalIdentities",
              "parameters": {
                "maxSuggestions": {
                  "type": "integer",
                  "description": "Optional. The maximum number of user and group results to return. The service may return fewer than this value. If unspecified, at most 6 results will be returned. The limit is distributed as evenly as possible across users and groups. For example, if max_suggestions is 7, the service may return 4 users and 3 groups. If there are fewer suggestions of one type than half the limit, the other type may return more suggestions up to the max_suggestions limit.",
                  "location": "query",
                  "format": "int32"
                },
                "entityTypeFilter": {
                  "location": "query",
                  "enum": [
                    "ENTITY_TYPE_FILTER_UNSPECIFIED",
                    "USERS",
                    "GROUPS"
                  ],
                  "type": "string",
                  "enumDescriptions": [
                    "Unspecified entity type filter.",
                    "Fetch only users.",
                    "Fetch only groups."
                  ],
                  "description": "Optional. The type of entities to fetch. If not set, all entity types will be returned."
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "description": "Required. The parent location resource name, such as `projects/*/locations/global`."
                },
                "prefixQuery": {
                  "type": "string",
                  "description": "Required. The prefix to search for. For users, this prefix is matched against the `primary_email`. For groups, this prefix is matched against the `display_name`. The matching is case-insensitive.",
                  "location": "query"
                },
                "useScimIdentities": {
                  "description": "Optional. Whether to use scim identities for external identity completion. If false, we will call the Microsoft graph API to fetch the external identities.",
                  "type": "boolean",
                  "location": "query"
                }
              },
              "description": "This method provides suggestions for users and groups managed in an external identity provider, based on the provided prefix.",
              "id": "discoveryengine.projects.locations.completeExternalIdentities",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:completeExternalIdentities",
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaCompleteExternalIdentitiesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET"
            },
            "estimateDataSize": {
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaEstimateDataSizeRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "location"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:estimateDataSize",
              "id": "discoveryengine.projects.locations.estimateDataSize",
              "description": "Estimates the data size to be used by a customer.",
              "path": "v1alpha/{+location}:estimateDataSize",
              "parameters": {
                "location": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "description": "Required. Full resource name of the location, such as `projects/{project}/locations/{location}`."
                }
              }
            },
            "removeDedicatedCrawlRate": {
              "parameterOrder": [
                "location"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaRemoveDedicatedCrawlRateRequest"
              },
              "httpMethod": "POST",
              "description": "Removes the dedicated crawl rate for a craw_rate_scope. If the dedicated crawl rate was set, this will disable vertex AI's crawl bot from using the dedicated crawl rate for crawling. If the dedicated crawl rate was not set, this is a no-op.",
              "path": "v1alpha/{+location}:removeDedicatedCrawlRate",
              "parameters": {
                "location": {
                  "required": true,
                  "description": "Required. The location resource where crawl rate management will be performed. Format: `projects/{project}/locations/{location}`",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "id": "discoveryengine.projects.locations.removeDedicatedCrawlRate",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:removeDedicatedCrawlRate"
            },
            "setUpDataConnector": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaSetUpDataConnectorRequest"
              },
              "path": "v1alpha/{+parent}:setUpDataConnector",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent of Collection, in the format of `projects/{project}/locations/{location}`.",
                  "required": true
                }
              },
              "description": "Creates a Collection and sets up the DataConnector for it. To stop a DataConnector after setup, use the CollectionService.DeleteCollection method.",
              "id": "discoveryengine.projects.locations.setUpDataConnector",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:setUpDataConnector"
            },
            "getCmekConfig": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaCmekConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "discoveryengine.projects.locations.getCmekConfig",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/cmekConfig",
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Resource name of CmekConfig, such as `projects/*/locations/*/cmekConfig` or `projects/*/locations/*/cmekConfigs/*`. If the caller does not have permission to access the CmekConfig, regardless of whether or not it exists, a PERMISSION_DENIED error is returned.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+/cmekConfig$",
                  "location": "path"
                }
              },
              "description": "Gets the CmekConfig."
            },
            "queryConfigurablePricingUsageStats": {
              "httpMethod": "GET",
              "parameterOrder": [
                "project",
                "location"
              ],
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaQueryConfigurablePricingUsageStatsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "id": "discoveryengine.projects.locations.queryConfigurablePricingUsageStats",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{location}:queryConfigurablePricingUsageStats",
              "description": "Queries configurable pricing usage stats for a project.",
              "path": "v1alpha/{+project}/locations/{location}:queryConfigurablePricingUsageStats",
              "parameters": {
                "timeRange.endDate.month": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
                },
                "timeRange.endDate.year": {
                  "type": "integer",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "location": "query",
                  "format": "int32"
                },
                "project": {
                  "description": "Required. The project to query usage stats for. Format: projects/{project}",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "timeRange.startDate.year": {
                  "format": "int32",
                  "location": "query",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "type": "integer"
                },
                "timeRange.endDate.day": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
                },
                "metricTypes": {
                  "enum": [
                    "BILLING_METRIC_TYPE_UNSPECIFIED",
                    "DAILY_MDN_QPM",
                    "DAILY_MIN_QPM",
                    "DAILY_MAX_QPM",
                    "DAILY_SEARCH_REQUEST",
                    "TOTAL_STORAGE"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "Default value.",
                    "Daily median search request QPM.",
                    "Daily min search request QPM.",
                    "Daily max search request QPM.",
                    "Daily search request total.",
                    "Total storage bytes for indexing core."
                  ],
                  "repeated": true,
                  "type": "string",
                  "description": "Optional. The metric types to return usage for."
                },
                "timeRange.startDate.month": {
                  "format": "int32",
                  "location": "query",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "type": "integer"
                },
                "location": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The location to query usage stats for."
                },
                "timeRange.startDate.day": {
                  "type": "integer",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "location": "query",
                  "format": "int32"
                }
              }
            },
            "updateAclConfig": {
              "description": "Default ACL configuration for use in a location of a customer's project. Updates will only reflect to new data stores. Existing data stores will still use the old value.",
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+/aclConfig$",
                  "type": "string",
                  "location": "path",
                  "description": "Immutable. The full resource name of the acl configuration. Format: `projects/{project}/locations/{location}/aclConfig`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
                  "required": true
                }
              },
              "id": "discoveryengine.projects.locations.updateAclConfig",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/aclConfig",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaAclConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaAclConfig"
              },
              "httpMethod": "PATCH"
            },
            "updateCmekConfig": {
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaCmekConfig"
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "id": "discoveryengine.projects.locations.updateCmekConfig",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/cmekConfig",
              "description": "Provisions a CMEK key for use in a location of a customer's project. This method will also conduct location validation on the provided cmekConfig to make sure the key is valid and can be used in the selected location.",
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the CmekConfig of the form `projects/{project}/locations/{location}/cmekConfig` or `projects/{project}/locations/{location}/cmekConfigs/{cmek_config}`.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+/cmekConfig$",
                  "location": "path"
                },
                "setDefault": {
                  "description": "Set the following CmekConfig as the default to be used for child resources if one is not specified.",
                  "type": "boolean",
                  "location": "query"
                }
              }
            },
            "getAclConfig": {
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. Resource name of AclConfig, such as `projects/*/locations/*/aclConfig`. If the caller does not have permission to access the AclConfig, regardless of whether or not it exists, a PERMISSION_DENIED error is returned.",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+/aclConfig$",
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Gets the AclConfig.",
              "id": "discoveryengine.projects.locations.getAclConfig",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/aclConfig",
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaAclConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET"
            },
            "setUpDataConnectorV2": {
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaDataConnector"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:setUpDataConnectorV2",
              "id": "discoveryengine.projects.locations.setUpDataConnectorV2",
              "path": "v1alpha/{+parent}:setUpDataConnectorV2",
              "parameters": {
                "collectionId": {
                  "type": "string",
                  "description": "Required. The ID to use for the Collection, which will become the final component of the Collection's resource name. A new Collection is created as part of the DataConnector setup. DataConnector is a singleton resource under Collection, managing all DataStores of the Collection. Should conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) standard with a length limit of 63 characters. Otherwise, an `INVALID_ARGUMENT` error is returned.",
                  "location": "query"
                },
                "collectionDisplayName": {
                  "description": "Required. The display name of the Collection. Should be human readable, used to display collections in the Console Dashboard. UTF-8 encoded string with limit of 1024 characters.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "description": "Required. The parent of Collection, in the format of `projects/{project}/locations/{location}`."
                }
              },
              "description": "Creates a Collection and sets up the DataConnector for it. To stop a DataConnector after setup, use the CollectionService.DeleteCollection method."
            },
            "obtainCrawlRate": {
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaObtainCrawlRateRequest"
              },
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaObtainCrawlRateResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "parameterOrder": [
                "location"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:obtainCrawlRate",
              "id": "discoveryengine.projects.locations.obtainCrawlRate",
              "path": "v1alpha/{+location}:obtainCrawlRate",
              "parameters": {
                "location": {
                  "description": "Required. The location resource where crawl rate management will be performed. Format: `projects/{project}/locations/{location}`",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Obtains the time series data of organic or dedicated crawl rate for monitoring. When dedicated crawl rate is not set, it will return vertex AI's organic crawl rate time series. Organic crawl means Google automatically crawl the internet at its own convenience. When dedicated crawl rate is set, it will return vertex AI's dedicated crawl rate time series."
            }
          },
          "resources": {
            "authorizations": {
              "methods": {
                "patch": {
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaAuthorization"
                  },
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaAuthorization"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authorizations/{authorizationsId}",
                  "id": "discoveryengine.projects.locations.authorizations.patch",
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Identifier. Resource name of the authorization. Format: `projects/{project}/locations/{location}/authorizations/{authorization}` It must be a UTF-8 encoded string with a length limit of 1024 characters.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/authorizations/[^/]+$",
                      "type": "string"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "The list of fields to update.",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "description": "Updates an Authorization"
                },
                "create": {
                  "description": "Creates an Authorization.",
                  "path": "v1alpha/{+parent}/authorizations",
                  "parameters": {
                    "authorizationId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The ID to use for the authorization, which will become the final component of the resource name. This field must conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) with a length limit of 63 characters."
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource name. Format: `projects/{project}/locations/{location}`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authorizations",
                  "id": "discoveryengine.projects.locations.authorizations.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaAuthorization"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaAuthorization"
                  },
                  "httpMethod": "POST"
                },
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaAuthorization"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "id": "discoveryengine.projects.locations.authorizations.get",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authorizations/{authorizationsId}",
                  "description": "Gets an Authorization.",
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/authorizations/[^/]+$",
                      "type": "string",
                      "description": "Required. Resource name of Authorization. Format: `projects/{project}/locations/{location}/authorizations/{authorization}`",
                      "required": true
                    }
                  }
                },
                "delete": {
                  "id": "discoveryengine.projects.locations.authorizations.delete",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authorizations/{authorizationsId}",
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Resource name of Authorization. Format: `projects/{project}/locations/{location}/authorizations/{authorization}` If the caller does not have permission to delete the authorization, regardless of whether or not it exists, a `PERMISSION_DENIED` error is returned. If the authorization to delete does not exist, a `NOT_FOUND` error is returned.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/authorizations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Deletes an Authorization.",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "path": "v1alpha/{+parent}/authorizations",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource name. Format: `projects/{project}/locations/{location}`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Maximum number of Authorizations to return. If unspecified, defaults to 100. The maximum allowed value is 1000; anything above that will be coerced down to 1000.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A page token ListAuthorizationsResponse.next_page_token, received from a previous AuthorizationService.ListAuthorizations call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to ListAuthorizations must match the call that provided the page token.",
                      "type": "string"
                    }
                  },
                  "description": "Lists all Authorizations under an Engine.",
                  "id": "discoveryengine.projects.locations.authorizations.list",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authorizations",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaListAuthorizationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET"
                }
              }
            },
            "dataStores": {
              "methods": {
                "completeQuery": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "dataStore"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaCompleteQueryResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}:completeQuery",
                  "id": "discoveryengine.projects.locations.dataStores.completeQuery",
                  "description": "Completes the specified user input with keyword suggestions.",
                  "path": "v1alpha/{+dataStore}:completeQuery",
                  "parameters": {
                    "query": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The typeahead input used to fetch suggestions. Maximum length is 128 characters."
                    },
                    "dataStore": {
                      "description": "Required. The parent data store resource name for which the completion is performed, such as `projects/*/locations/global/collections/default_collection/dataStores/default_data_store`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "userPseudoId": {
                      "description": "Optional. A unique identifier for tracking visitors. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor logs in or out of the website. This field should NOT have a fixed value such as `unknown_visitor`. This should be the same identifier as UserEvent.user_pseudo_id and SearchRequest.user_pseudo_id. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an `INVALID_ARGUMENT` error is returned.",
                      "type": "string",
                      "location": "query"
                    },
                    "queryModel": {
                      "location": "query",
                      "type": "string",
                      "description": "Specifies the autocomplete data model. This overrides any model specified in the Configuration > Autocomplete section of the Cloud console. Currently supported values: * `document` - Using suggestions generated from user-imported documents. * `search-history` - Using suggestions generated from the past history of SearchService.Search API calls. Do not use it when there is no traffic for Search API. * `user-event` - Using suggestions generated from user-imported search events. * `document-completable` - Using suggestions taken directly from user-imported document fields marked as completable. Default values: * `document` is the default model for regular dataStores. * `search-history` is the default model for site search dataStores."
                    },
                    "includeTailSuggestions": {
                      "location": "query",
                      "description": "Indicates if tail suggestions should be returned if there are no suggestions that match the full query. Even if set to true, if there are suggestions that match the full query, those are returned and no tail suggestions are returned.",
                      "type": "boolean"
                    }
                  }
                },
                "create": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores",
                  "id": "discoveryengine.projects.locations.dataStores.create",
                  "description": "Creates a DataStore. DataStore is for storing Documents. To serve these documents for Search, or Recommendation use case, an Engine needs to be created separately.",
                  "path": "v1alpha/{+parent}/dataStores",
                  "parameters": {
                    "createAdvancedSiteSearch": {
                      "type": "boolean",
                      "description": "A boolean flag indicating whether user want to directly create an advanced data store for site search. If the data store is not configured as site search (GENERIC vertical and PUBLIC_WEBSITE content_config), this flag will be ignored.",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource name, such as `projects/{project}/locations/{location}/collections/{collection}`."
                    },
                    "disableCmek": {
                      "type": "boolean",
                      "description": "DataStore without CMEK protections. If a default CmekConfig is set for the project, setting this field will override the default CmekConfig as well.",
                      "location": "query"
                    },
                    "cmekConfigName": {
                      "description": "Resource name of the CmekConfig to use for protecting this DataStore.",
                      "type": "string",
                      "location": "query"
                    },
                    "skipDefaultSchemaCreation": {
                      "location": "query",
                      "type": "boolean",
                      "description": "A boolean flag indicating whether to skip the default schema creation for the data store. Only enable this flag if you are certain that the default schema is incompatible with your use case. If set to true, you must manually create a schema for the data store before any documents can be ingested. This flag cannot be specified if `data_store.starting_schema` is specified."
                    },
                    "dataStoreId": {
                      "description": "Required. The ID to use for the DataStore, which will become the final component of the DataStore's resource name. This field must conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) standard with a length limit of 63 characters. Otherwise, an INVALID_ARGUMENT error is returned.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaDataStore"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ]
                },
                "getCompletionConfig": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaCompletionConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/completionConfig",
                  "id": "discoveryengine.projects.locations.dataStores.getCompletionConfig",
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+/completionConfig$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. Full CompletionConfig resource name. Format: `projects/*/locations/*/dataStores/*/completionConfig` `projects/*/locations/*/collections/*/dataStores/*/completionConfig` `projects/*/locations/*/collections/*/engines/*/completionConfig`",
                      "required": true
                    }
                  },
                  "description": "Gets a CompletionConfig"
                },
                "updateCompletionConfig": {
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. Immutable. Fully qualified name `projects/*/locations/*/dataStores/*/completionConfig` `projects/*/locations/*/collections/*/dataStores/*/completionConfig` `projects/*/locations/*/collections/*/engines/*/completionConfig`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+/completionConfig$",
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Indicates which fields in the provided CompletionConfig to update. The following are the only supported fields: * CompletionConfig.matching_order * CompletionConfig.max_suggestions * CompletionConfig.min_prefix_length * CompletionConfig.query_model * CompletionConfig.enable_mode * CompletionConfig.query_frequency_threshold * CompletionConfig.num_unique_users_threshold * CompletionConfig.should_serve_content_suggestions * CompletionConfig.filter_pii_suggestions_using_dlp If not set, all supported fields are updated."
                    }
                  },
                  "description": "Updates the CompletionConfigs.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/completionConfig",
                  "id": "discoveryengine.projects.locations.dataStores.updateCompletionConfig",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaCompletionConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaCompletionConfig"
                  }
                },
                "addPatientFilter": {
                  "id": "discoveryengine.projects.locations.dataStores.addPatientFilter",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}:addPatientFilter",
                  "description": "Adds a group of patient IDs as a patient filter for the data store. Patient filters are empty by default when a data store is created, and are stored in a separate table. The data store must first be created, and must be a healthcare data store. The filter group must be a FHIR resource name of type Group, and the filter will be constructed from the direct members of the group which are Patient resources.",
                  "path": "v1alpha/{+dataStore}:addPatientFilter",
                  "parameters": {
                    "dataStore": {
                      "required": true,
                      "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. If the caller does not have permission to access the DataStore, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested DataStore does not exist, a NOT_FOUND error is returned. If the requested DataStore already has a patient filter, an ALREADY_EXISTS error will be returned.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+$",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaAddPatientFilterRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "dataStore"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ]
                },
                "getDocumentProcessingConfig": {
                  "id": "discoveryengine.projects.locations.dataStores.getDocumentProcessingConfig",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/documentProcessingConfig",
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Full DocumentProcessingConfig resource name. Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}/documentProcessingConfig`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+/documentProcessingConfig$"
                    }
                  },
                  "description": "Gets a DocumentProcessingConfig.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "deletePatientFilter": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "parameterOrder": [
                    "dataStore"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaDeletePatientFiltersRequest"
                  },
                  "path": "v1alpha/{+dataStore}:deletePatientFilter",
                  "parameters": {
                    "dataStore": {
                      "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. If the caller does not have permission to access the DataStore, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested DataStore does not exist, a NOT_FOUND error is returned. If the requested DataStore does not have a patient filter, a NOT_FOUND error will be returned.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Deletes the entire patient filter for the data store. Patient filters are empty by default when a data store is created, and are stored in a separate table. The data store must first be created, and must be a healthcare data store. This method will fail if the data store does not have a patient filter.",
                  "id": "discoveryengine.projects.locations.dataStores.deletePatientFilter",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}:deletePatientFilter"
                },
                "getSiteSearchEngine": {
                  "id": "discoveryengine.projects.locations.dataStores.getSiteSearchEngine",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/siteSearchEngine",
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Resource name of SiteSearchEngine, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/siteSearchEngine`. If the caller does not have permission to access the [SiteSearchEngine], regardless of whether or not it exists, a PERMISSION_DENIED error is returned.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+/siteSearchEngine$"
                    }
                  },
                  "description": "Gets the SiteSearchEngine.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaSiteSearchEngine"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "description": "Deletes a DataStore.",
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. If the caller does not have permission to delete the DataStore, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the DataStore to delete does not exist, a NOT_FOUND error is returned.",
                      "required": true
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}",
                  "id": "discoveryengine.projects.locations.dataStores.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "httpMethod": "DELETE"
                },
                "patch": {
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+$",
                      "required": true,
                      "description": "Immutable. Identifier. The full resource name of the data store. Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters."
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Indicates which fields in the provided DataStore to update. If an unsupported or unknown field is provided, an INVALID_ARGUMENT error is returned."
                    }
                  },
                  "description": "Updates a DataStore",
                  "id": "discoveryengine.projects.locations.dataStores.patch",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaDataStore"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaDataStore"
                  }
                },
                "removePatientFilter": {
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaRemovePatientFilterRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "dataStore"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}:removePatientFilter",
                  "id": "discoveryengine.projects.locations.dataStores.removePatientFilter",
                  "description": "Removes a group of patient IDs from the patient filter for the data store. Patient filters are empty by default when a data store is created, and are stored in a separate table. The data store must first be created, and must be a healthcare data store. This method will fail if the data store does not have a patient filter. The filter group must be a FHIR resource name of type Group, and the list of patient IDs to remove will be constructed from the direct members of the group which are Patient resources.",
                  "path": "v1alpha/{+dataStore}:removePatientFilter",
                  "parameters": {
                    "dataStore": {
                      "required": true,
                      "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. If the caller does not have permission to access the DataStore, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested DataStore does not exist, a NOT_FOUND error is returned. If the requested DataStore does not have a patient filter, a NOT_FOUND error will be returned",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+$"
                    }
                  }
                },
                "list": {
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaListDataStoresResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "path": "v1alpha/{+parent}/dataStores",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "A page token ListDataStoresResponse.next_page_token, received from a previous DataStoreService.ListDataStores call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to DataStoreService.ListDataStores must match the call that provided the page token. Otherwise, an INVALID_ARGUMENT error is returned.",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Filter by solution type . For example: `filter = 'solution_type:SOLUTION_TYPE_SEARCH'`",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Maximum number of DataStores to return. If unspecified, defaults to 10. The maximum allowed value is 50. Values above 50 will be coerced to 50. If this field is negative, an INVALID_ARGUMENT is returned.",
                      "type": "integer"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent branch resource name, such as `projects/{project}/locations/{location}/collections/{collection_id}`. If the caller does not have permission to list DataStores under this location, regardless of whether or not this data store exists, a PERMISSION_DENIED error is returned."
                    },
                    "view": {
                      "description": "Optional. The view to apply to the returned DataStores. Defaults to DataStoreView.DATA_STORE_VIEW_BASIC if unspecified. DataStoreView.DATA_STORE_VIEW_FULL additionally populates DataStore.icon_uri for connector-backed data stores. Resolving connector icons requires extra lookups, so request it only when the caller renders the icons.",
                      "type": "string",
                      "enumDescriptions": [
                        "The default / unset value. The API defaults to DataStoreView.DATA_STORE_VIEW_BASIC.",
                        "Does not populate DataStore.icon_uri. This is the default view.",
                        "Additionally populates DataStore.icon_uri for connector-backed data stores. Resolving connector icons requires extra lookups, so request this view only when the icons are rendered."
                      ],
                      "location": "query",
                      "enum": [
                        "DATA_STORE_VIEW_UNSPECIFIED",
                        "DATA_STORE_VIEW_BASIC",
                        "DATA_STORE_VIEW_FULL"
                      ]
                    }
                  },
                  "description": "Lists all the DataStores associated with the project.",
                  "id": "discoveryengine.projects.locations.dataStores.list",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores"
                },
                "get": {
                  "description": "Gets a DataStore.",
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. If the caller does not have permission to access the DataStore, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested DataStore does not exist, a NOT_FOUND error is returned.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "view": {
                      "description": "Optional. The view to apply to the returned DataStore. Defaults to DataStoreView.DATA_STORE_VIEW_BASIC if unspecified. DataStoreView.DATA_STORE_VIEW_FULL additionally populates DataStore.icon_uri for a connector-backed data store. Resolving the connector icon requires extra lookups, so request it only when the caller renders the icon.",
                      "enumDescriptions": [
                        "The default / unset value. The API defaults to DataStoreView.DATA_STORE_VIEW_BASIC.",
                        "Does not populate DataStore.icon_uri. This is the default view.",
                        "Additionally populates DataStore.icon_uri for connector-backed data stores. Resolving connector icons requires extra lookups, so request this view only when the icons are rendered."
                      ],
                      "type": "string",
                      "enum": [
                        "DATA_STORE_VIEW_UNSPECIFIED",
                        "DATA_STORE_VIEW_BASIC",
                        "DATA_STORE_VIEW_FULL"
                      ],
                      "location": "query"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}",
                  "id": "discoveryengine.projects.locations.dataStores.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaDataStore"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "httpMethod": "GET"
                },
                "replacePatientFilter": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}:replacePatientFilter",
                  "id": "discoveryengine.projects.locations.dataStores.replacePatientFilter",
                  "description": "Replaces the patient filter for the data store. This method is essentially a combination of DeletePatientFilters and AddPatientFilter. Patient filters are empty by default when a data store is created, and are stored in a separate table. The data store must first be created, and must be a healthcare data store. This method will fail if the data store does not have a patient filter. The filter group must be a FHIR resource name of type Group, and the new filter will be constructed from the direct members of the group which are Patient resources.",
                  "path": "v1alpha/{+dataStore}:replacePatientFilter",
                  "parameters": {
                    "dataStore": {
                      "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. If the caller does not have permission to access the DataStore, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested DataStore does not exist, a NOT_FOUND error is returned. If the requested DataStore already has a patient filter, an ALREADY_EXISTS error will be returned.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+$",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaReplacePatientFilterRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "dataStore"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ]
                },
                "updateDocumentProcessingConfig": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfig"
                  },
                  "httpMethod": "PATCH",
                  "description": "Updates the DocumentProcessingConfig. DocumentProcessingConfig is a singleton resource of DataStore. It's empty when DataStore is created. The first call to this method will set up DocumentProcessingConfig. The `update_mask` query parameter is not supported; if it is set the request returns an error. To update mutable fields, omit `update_mask` and send the full DocumentProcessingConfig as the request body. The entire resource is overwritten, so include all values you want to retain. For example, to update the layout parser, set DocumentProcessingConfig.default_parsing_config (or DocumentProcessingConfig.parsing_config_overrides) and omit `update_mask`. Some fields, such as DocumentProcessingConfig.chunking_config, are immutable and return an error if changed.",
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+/documentProcessingConfig$",
                      "required": true,
                      "description": "The full resource name of the Document Processing Config. Format: `projects/*/locations/*/collections/*/dataStores/*/documentProcessingConfig`."
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Not supported. If `update_mask` is set, the request returns an `UnsupportedFieldError`. To update mutable fields, omit `update_mask`; the full DocumentProcessingConfig in the request body then overwrites the existing resource. See the method description for details."
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/documentProcessingConfig",
                  "id": "discoveryengine.projects.locations.dataStores.updateDocumentProcessingConfig"
                }
              },
              "resources": {
                "schemas": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudDiscoveryengineV1alphaListSchemasResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/schemas",
                      "id": "discoveryengine.projects.locations.dataStores.schemas.list",
                      "path": "v1alpha/{+parent}/schemas",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer",
                          "description": "The maximum number of Schemas to return. The service may return fewer than this value. If unspecified, at most 100 Schemas are returned. The maximum value is 1000; values above 1000 are set to 1000."
                        },
                        "pageToken": {
                          "description": "A page token, received from a previous SchemaService.ListSchemas call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to SchemaService.ListSchemas must match the call that provided the page token.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent data store resource name, in the format of `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}`.",
                          "required": true
                        }
                      },
                      "description": "Gets a list of Schemas."
                    },
                    "create": {
                      "id": "discoveryengine.projects.locations.dataStores.schemas.create",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/schemas",
                      "path": "v1alpha/{+parent}/schemas",
                      "parameters": {
                        "schemaId": {
                          "description": "Required. The ID to use for the Schema, which becomes the final component of the Schema.name. This field should conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) standard with a length limit of 63 characters.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+$",
                          "type": "string",
                          "description": "Required. The parent data store resource name, in the format of `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}`.",
                          "required": true
                        }
                      },
                      "description": "Creates a Schema.",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudDiscoveryengineV1alphaSchema"
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "GoogleCloudDiscoveryengineV1alphaSchema"
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "discoveryengine.projects.locations.dataStores.schemas.patch",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/schemas/{schemasId}",
                      "path": "v1alpha/{+name}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+/schemas/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Immutable. The full resource name of the schema, in the format of `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/schemas/{schema}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
                          "required": true
                        },
                        "allowMissing": {
                          "location": "query",
                          "type": "boolean",
                          "description": "If set to true, and the Schema is not found, a new Schema is created. In this situation, `update_mask` is ignored."
                        }
                      },
                      "description": "Updates a Schema."
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "httpMethod": "DELETE",
                      "description": "Deletes a Schema.",
                      "path": "v1alpha/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+/schemas/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The full resource name of the schema, in the format of `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/schemas/{schema}`."
                        }
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/schemas/{schemasId}",
                      "id": "discoveryengine.projects.locations.dataStores.schemas.delete"
                    },
                    "get": {
                      "description": "Gets a Schema.",
                      "path": "v1alpha/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The full resource name of the schema, in the format of `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/schemas/{schema}`.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+/schemas/[^/]+$"
                        }
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/dataStores/{dataStoresId}/schemas/{schemasId}",
                      "id": "discoveryengine.projects.locations.dataStores.schemas.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDiscoveryengineV1alphaSchema"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "httpMethod": "GET"
                    }
                  }
                },
                "servingConfigs": {
                  "methods": {
                    "searchLite": {
                      "response": {
                        "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.readwrite",
                        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                      ],
                      "parameterOrder": [
                        "servingConfig"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequest"
                      },
                      "path": "v1alpha/{+servingConfig}:searchLite",
                      "parameters": {
                        "servingConfig": {
                          "description": "Required. The resource name of the Search serving config, such as `projects/*/locations/global/collections/default_collection/engines/*/servingConfigs/default_serving_config`, or `projects/*/locations/global/collections/default_collection/dataStores/default_data_store/servingConfigs/default_serving_config`. This field is used to identify the serving configuration name, set of models used to make the search.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataStores/[^/]+/servingConfigs/[^/]+$",
                          "type": "string"
                        }
                      },
[...]
