{
  "canonicalName": "Discovery Engine",
  "name": "discoveryengine",
  "documentationLink": "https://cloud.google.com/generative-ai-app-builder/docs/",
  "revision": "20260823",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Discovery Engine API",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "description": "Discovery Engine API.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/discoveryengine.assist.readwrite": {
          "description": "View your Agentspace chat history, including uploaded files and generated reports and visualizations, and interact with the Agentspace assistant on your behalf. Also view the artifacts you access through NotebookLM Enterprise."
        },
        "https://www.googleapis.com/auth/discoveryengine.readwrite": {
          "description": "View, edit, create, and delete all your data associated with any Discovery Engine API product, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, including both end user data and administration or configuration data."
        },
        "https://www.googleapis.com/auth/cloud_search.query": {
          "description": "Search your organization's data in the Cloud Search index"
        },
        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite": {
          "description": "Interact with Discovery Engine API products, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, on your behalf. It will also allow the app to view all data that you have access to when you use or interact with a Discovery Engine API product."
        }
      }
    }
  },
  "endpoints": [
    {
      "endpointUrl": "https://discoveryengine.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://discoveryengine.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "location": "us",
      "endpointUrl": "https://discoveryengine.us.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "eu",
      "endpointUrl": "https://discoveryengine.eu.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://discoveryengine.in.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "in"
    },
    {
      "location": "asia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://discoveryengine.asia-southeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west3",
      "endpointUrl": "https://discoveryengine.europe-west3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://discoveryengine.ca.rep.googleapis.com/",
      "location": "ca",
      "description": "Regional Endpoint"
    }
  ],
  "baseUrl": "https://discoveryengine.googleapis.com/",
  "version_module": true,
  "schemas": {
    "GoogleCloudDiscoveryengineV1alphaDeletePatientFiltersRequest": {
      "id": "GoogleCloudDiscoveryengineV1alphaDeletePatientFiltersRequest",
      "type": "object",
      "properties": {
        "dataStore": {
          "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. If the caller does not have permission to access the DataStore, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested DataStore does not exist, a NOT_FOUND error is returned. If the requested DataStore does not have a patient filter, a NOT_FOUND error will be returned.",
          "type": "string"
        }
      },
      "description": "Request for DataStoreService.DeletePatientFilters method."
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerBlobAttachment": {
      "description": "Stores binarydata attached to text answer, e.g. image, video, audio, etc.",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerBlobAttachment",
      "type": "object",
      "properties": {
        "data": {
          "readOnly": true,
          "description": "Output only. The mime type and data of the blob.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerBlobAttachmentBlob"
        },
        "attributionType": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified attribution type.",
            "The attachment data is from the corpus.",
            "The attachment data is generated by the model through code generation."
          ],
          "enum": [
            "ATTRIBUTION_TYPE_UNSPECIFIED",
            "CORPUS",
            "GENERATED"
          ],
          "description": "Output only. The attribution type of the blob."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaIdpConfig": {
      "id": "GoogleCloudDiscoveryengineV1betaIdpConfig",
      "description": "Identity Provider Config.",
      "properties": {
        "idpType": {
          "description": "Identity provider type configured.",
          "enumDescriptions": [
            "Default value. ACL search not enabled.",
            "Google 1P provider.",
            "Third party provider."
          ],
          "type": "string",
          "enum": [
            "IDP_TYPE_UNSPECIFIED",
            "GSUITE",
            "THIRD_PARTY"
          ]
        },
        "externalIdpConfig": {
          "description": "External Identity provider config.",
          "$ref": "GoogleCloudDiscoveryengineV1betaIdpConfigExternalIdpConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1CreateSitemapMetadata": {
      "description": "Metadata related to the progress of the SiteSearchEngineService.CreateSitemap operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1CreateSitemapMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaEvaluation": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaEvaluation",
      "description": "An evaluation is a single execution (or run) of an evaluation process. It encapsulates the state of the evaluation and the resulting data.",
      "properties": {
        "qualityMetrics": {
          "description": "Output only. The metrics produced by the evaluation, averaged across all SampleQuerys in the SampleQuerySet. Only populated when the evaluation's state is SUCCEEDED.",
          "$ref": "GoogleCloudDiscoveryengineV1betaQualityMetrics",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The full resource name of the Evaluation, in the format of `projects/{project}/locations/{location}/evaluations/{evaluation}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "errorSamples": {
          "description": "Output only. A sample of errors encountered while processing the request.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "createTime": {
          "description": "Output only. Timestamp the Evaluation was created at.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "evaluationSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaEvaluationEvaluationSpec",
          "description": "Required. The specification of the evaluation."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp the Evaluation was completed at.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The evaluation is unspecified.",
            "The service is preparing to run the evaluation.",
            "The evaluation is in progress.",
            "The evaluation completed successfully.",
            "The evaluation failed."
          ],
          "description": "Output only. The state of the evaluation.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "readOnly": true,
          "description": "Output only. The error that occurred during evaluation. Only populated when the evaluation's state is FAILED."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1PurgeSuggestionDenyListEntriesResponse": {
      "properties": {
        "errorSamples": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the request."
        },
        "purgeCount": {
          "format": "int64",
          "description": "Number of suggestion deny list entries purged.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1PurgeSuggestionDenyListEntriesResponse",
      "type": "object",
      "description": "Response message for CompletionService.PurgeSuggestionDenyListEntries method."
    },
    "GoogleCloudDiscoveryengineV1TrainCustomModelRequest": {
      "type": "object",
      "description": "Request message for SearchTuningService.TrainCustomModel method.",
      "properties": {
        "modelType": {
          "description": "Model to be trained. Supported values are: * **search-tuning**: Fine tuning the search system based on data provided.",
          "type": "string"
        },
        "gcsTrainingInput": {
          "$ref": "GoogleCloudDiscoveryengineV1TrainCustomModelRequestGcsTrainingInput",
          "description": "Cloud Storage training input."
        },
        "modelId": {
          "description": "If not provided, a UUID will be generated.",
          "type": "string"
        },
        "errorConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1ImportErrorConfig",
          "description": "The desired location of errors incurred during the data ingestion and training."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1TrainCustomModelRequest"
    },
    "GoogleCloudDiscoveryengineV1GcsSource": {
      "properties": {
        "inputUris": {
          "description": "Required. Cloud Storage URIs to input files. Each URI can be up to 2000 characters long. URIs can match the full object path (for example, `gs://bucket/directory/object.json`) or a pattern matching one or more files, such as `gs://bucket/directory/*.json`. A request can contain at most 100 files (or 100,000 files if `data_schema` is `content`). Each file can be up to 2 GB (or 100 MB if `data_schema` is `content`).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "dataSchema": {
          "type": "string",
          "description": "The schema to use when parsing the data from the source. Supported values for document imports: * `document` (default): One JSON Document per line. Each document must have a valid Document.id. * `content`: Unstructured data (e.g. PDF, HTML). Each file matched by `input_uris` becomes a document, with the ID set to the first 128 bits of SHA256(URI) encoded as a hex string. * `custom`: One custom data JSON per row in arbitrary format that conforms to the defined Schema of the data store. This can only be used by the GENERIC Data Store vertical. * `csv`: A CSV file with header conforming to the defined Schema of the data store. Each entry after the header is imported as a Document. This can only be used by the GENERIC Data Store vertical. Supported values for user event imports: * `user_event` (default): One JSON UserEvent per line."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1GcsSource",
      "description": "Cloud Storage location for input content."
    },
    "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicySensitiveDataProtectionPolicy": {
      "properties": {
        "policy": {
          "type": "string",
          "description": "Optional. The Sensitive Data Protection policy resource name."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicySensitiveDataProtectionPolicy",
      "description": "Specifies a Sensitive Data Protection (https://cloud.google.com/sensitive-data-protection/docs/sensitive-data-protection-overview) policy.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaPurgeUserEventsResponse": {
      "properties": {
        "purgeCount": {
          "description": "The total count of events purged as a result of the operation.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response of the PurgeUserEventsRequest. If the long running operation is successfully done, then this message is returned by the google.longrunning.Operations.response field.",
      "id": "GoogleCloudDiscoveryengineV1alphaPurgeUserEventsResponse"
    },
    "GoogleCloudDiscoveryengineV1betaEngineChatEngineConfigAgentCreationConfig": {
      "id": "GoogleCloudDiscoveryengineV1betaEngineChatEngineConfigAgentCreationConfig",
      "properties": {
        "timeZone": {
          "type": "string",
          "description": "Required. The time zone of the agent from the [time zone database](https://www.iana.org/time-zones), e.g., America/New_York, Europe/Paris."
        },
        "business": {
          "type": "string",
          "description": "Name of the company, organization or other entity that the agent represents. Used for knowledge connector LLM prompt and for knowledge search."
        },
        "defaultLanguageCode": {
          "type": "string",
          "description": "Required. The default language of the agent as a language tag. See [Language Support](https://cloud.google.com/dialogflow/docs/reference/language) for a list of the currently supported language codes."
        },
        "location": {
          "type": "string",
          "description": "Agent location for Agent creation, supported values: global/us/eu. If not provided, us Engine will create Agent using us-central-1 by default; eu Engine will create Agent using eu-west-1 by default."
        }
      },
      "type": "object",
      "description": "Configurations for generating a Dialogflow agent. Note that these configurations are one-time consumed by and passed to Dialogflow service. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation."
    },
    "GoogleCloudDiscoveryengineV1betaPurgeSuggestionDenyListEntriesResponse": {
      "type": "object",
      "description": "Response message for CompletionService.PurgeSuggestionDenyListEntries method.",
      "id": "GoogleCloudDiscoveryengineV1betaPurgeSuggestionDenyListEntriesResponse",
      "properties": {
        "purgeCount": {
          "description": "Number of suggestion deny list entries purged.",
          "format": "int64",
          "type": "string"
        },
        "errorSamples": {
          "type": "array",
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1Feedback": {
      "id": "GoogleCloudDiscoveryengineV1Feedback",
      "properties": {
        "dataTermsAccepted": {
          "type": "boolean",
          "description": "Optional. Whether the customer accepted data use terms."
        },
        "reasons": {
          "description": "Optional. The reason if user gives a thumb down.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified reason.",
              "The response is inaccurate.",
              "The response is not relevant.",
              "The response is incomprehensive.",
              "The response is offensive or unsafe.",
              "The response is not well-formatted.",
              "The response is not well-associated with the query.",
              "The expected canvas was not generated for the response.",
              "The generated canvas is of bad quality (e.g. inaccurate, incomplete, poorly formatted).",
              "Exporting the generated canvas failed (e.g. download or external export action did not complete successfully)."
            ],
            "type": "string",
            "enum": [
              "REASON_UNSPECIFIED",
              "INACCURATE_RESPONSE",
              "NOT_RELEVANT",
              "INCOMPREHENSIVE",
              "OFFENSIVE_OR_UNSAFE",
              "FORMAT_AND_STYLES",
              "BAD_CITATION",
              "CANVAS_NOT_GENERATED",
              "CANVAS_QUALITY_BAD",
              "CANVAS_EXPORT_FAILED"
            ]
          }
        },
        "llmModelVersion": {
          "type": "string",
          "description": "The version of the LLM model that was used to generate the response."
        },
        "feedbackSource": {
          "description": "Optional. The UI component the user feedback comes from, which could be GOOGLE_CONSOLE, GOOGLE_WIDGET, GOOGLE_WEBAPP.",
          "enumDescriptions": [
            "Unspecified feedback source.",
            "Feedback source is Google Console.",
            "Feedback source is Google Widget.",
            "Feedback source is Google Webapp.",
            "Feedback source is Google AgentSpace Mobile app."
          ],
          "type": "string",
          "enum": [
            "FEEDBACK_SOURCE_UNSPECIFIED",
            "GOOGLE_CONSOLE",
            "GOOGLE_WIDGET",
            "GOOGLE_WEBAPP",
            "GOOGLE_AGENTSPACE_MOBILE"
          ]
        },
        "conversationInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1FeedbackConversationInfo",
          "description": "The related conversation information when user gives feedback."
        },
        "componentVersion": {
          "type": "string",
          "description": "Optional. The version of the component that this report is being sent from."
        },
        "feedbackType": {
          "type": "string",
          "enum": [
            "FEEDBACK_TYPE_UNSPECIFIED",
            "LIKE",
            "DISLIKE"
          ],
          "description": "Required. Indicate whether the user gives a positive or negative feedback. If the user gives a negative feedback, there might be more feedback details.",
          "enumDescriptions": [
            "Unspecified feedback type.",
            "The user gives a positive feedback.",
            "The user gives a negative feedback."
          ]
        },
        "comment": {
          "description": "Optional. The additional user comment of the feedback if user gives a thumb down.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Information about the user feedback. This information will be used for logging and metrics purpose."
    },
    "GoogleCloudDiscoveryengineV1SafetyRating": {
      "id": "GoogleCloudDiscoveryengineV1SafetyRating",
      "description": "Safety rating corresponding to the generated content.",
      "properties": {
        "probabilityScore": {
          "description": "Output only. Harm probability score.",
          "format": "float",
          "readOnly": true,
          "type": "number"
        },
        "probability": {
          "description": "Output only. Harm probability levels in the content.",
          "enum": [
            "HARM_PROBABILITY_UNSPECIFIED",
            "NEGLIGIBLE",
            "LOW",
            "MEDIUM",
            "HIGH"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Harm probability unspecified.",
            "Negligible level of harm.",
            "Low level of harm.",
            "Medium level of harm.",
            "High level of harm."
          ]
        },
        "category": {
          "description": "Output only. Harm category.",
          "enum": [
            "HARM_CATEGORY_UNSPECIFIED",
            "HARM_CATEGORY_HATE_SPEECH",
            "HARM_CATEGORY_DANGEROUS_CONTENT",
            "HARM_CATEGORY_HARASSMENT",
            "HARM_CATEGORY_SEXUALLY_EXPLICIT",
            "HARM_CATEGORY_CIVIC_INTEGRITY"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The harm category is unspecified.",
            "The harm category is hate speech.",
            "The harm category is dangerous content.",
            "The harm category is harassment.",
            "The harm category is sexually explicit content.",
            "The harm category is civic integrity."
          ],
          "type": "string"
        },
        "blocked": {
          "description": "Output only. Indicates whether the content was filtered out because of this rating.",
          "readOnly": true,
          "type": "boolean"
        },
        "severity": {
          "enum": [
            "HARM_SEVERITY_UNSPECIFIED",
            "HARM_SEVERITY_NEGLIGIBLE",
            "HARM_SEVERITY_LOW",
            "HARM_SEVERITY_MEDIUM",
            "HARM_SEVERITY_HIGH"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Harm severity levels in the content.",
          "enumDescriptions": [
            "Harm severity unspecified.",
            "Negligible level of harm severity.",
            "Low level of harm severity.",
            "Medium level of harm severity.",
            "High level of harm severity."
          ]
        },
        "severityScore": {
          "type": "number",
          "readOnly": true,
          "description": "Output only. Harm severity score.",
          "format": "float"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaUserInfo": {
      "type": "object",
      "description": "Information of an end user.",
      "properties": {
        "preciseLocation": {
          "description": "Optional. Input only. Precise location of the user. It is used in Custom Ranking to calculate the distance between the user and the relevant documents.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaUserInfoPreciseLocation"
        },
        "userAgent": {
          "type": "string",
          "description": "User agent as included in the HTTP header. The field must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an `INVALID_ARGUMENT` error is returned. This should not be set when using the client side event reporting with GTM or JavaScript tag in UserEventService.CollectUserEvent or if UserEvent.direct_user_request is set."
        },
        "userId": {
          "type": "string",
          "description": "Highly recommended for logged-in users. Unique identifier for logged-in user, such as a user name. Don't set for anonymous users. Always use a hashed value for this ID. Don't set the field to the same fixed ID for different users. This mixes the event history of those users together, which results in degraded model quality. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an `INVALID_ARGUMENT` error is returned. Represents an opaque ID to the Search API. The Search API doesn't interpret the value in any way. This field is used to associate events with a user across sessions if the events are being uploaded."
        },
        "timeZone": {
          "type": "string",
          "description": "Optional. IANA time zone, e.g. Europe/Budapest."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaUserInfo"
    },
    "GoogleCloudDiscoveryengineV1BigtableSource": {
      "id": "GoogleCloudDiscoveryengineV1BigtableSource",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "The project ID that contains the Bigtable source. Has a length limit of 128 characters. If not specified, inherits the project ID from the parent request."
        },
        "tableId": {
          "description": "Required. The table ID of the Cloud Bigtable that needs to be imported.",
          "type": "string"
        },
        "instanceId": {
          "description": "Required. The instance ID of the Cloud Bigtable that needs to be imported.",
          "type": "string"
        },
        "bigtableOptions": {
          "$ref": "GoogleCloudDiscoveryengineV1BigtableOptions",
          "description": "Required. Bigtable options that contains information needed when parsing data into typed structures. For example, column type annotations."
        }
      },
      "description": "The Cloud Bigtable source for importing data.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1AnswerGenerationSpecUserDefinedClassifierSpec": {
      "properties": {
        "modelId": {
          "description": "Optional. The model id to be used for the user defined classifier.",
          "type": "string"
        },
        "topP": {
          "format": "double",
          "description": "Optional. The top-p value to be used for the user defined classifier.",
          "type": "number"
        },
        "seed": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The seed value to be used for the user defined classifier."
        },
        "topK": {
          "format": "int64",
          "description": "Optional. The top-k value to be used for the user defined classifier.",
          "type": "string"
        },
        "temperature": {
          "description": "Optional. The temperature value to be used for the user defined classifier.",
          "type": "number",
          "format": "double"
        },
        "preamble": {
          "type": "string",
          "description": "Optional. The preamble to be used for the user defined classifier."
        },
        "enableUserDefinedClassifier": {
          "description": "Optional. Whether or not to enable and include user defined classifier.",
          "type": "boolean"
        },
        "taskMarker": {
          "type": "string",
          "description": "Optional. The task marker to be used for the user defined classifier."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AnswerGenerationSpecUserDefinedClassifierSpec",
      "description": "The specification for user defined classifier.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ControlBoostActionInterpolationBoostSpec": {
      "properties": {
        "controlPoints": {
          "description": "Optional. The control points used to define the curve. The monotonic function (defined through the interpolation_type above) passes through the control points listed here.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1ControlBoostActionInterpolationBoostSpecControlPoint"
          },
          "type": "array"
        },
        "interpolationType": {
          "description": "Optional. The interpolation type to be applied to connect the control points listed below.",
          "enumDescriptions": [
            "Interpolation type is unspecified. In this case, it defaults to Linear.",
            "Piecewise linear interpolation will be applied."
          ],
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ],
          "type": "string"
        },
        "attributeType": {
          "description": "Optional. The attribute type to be used to determine the boost amount. The attribute value can be derived from the field value of the specified field_name. In the case of numerical it is straightforward i.e. attribute_value = numerical_field_value. In the case of freshness however, attribute_value = (time.now() - datetime_field_value).",
          "type": "string",
          "enumDescriptions": [
            "Unspecified AttributeType.",
            "The value of the numerical field will be used to dynamically update the boost amount. In this case, the attribute_value (the x value) of the control point will be the actual value of the numerical field for which the boost_amount is specified.",
            "For the freshness use case the attribute value will be the duration between the current time and the date in the datetime field specified. The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`. For example, `5D`, `3DT12H30M`, `T24H`."
          ],
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ]
        },
        "fieldName": {
          "description": "Optional. The name of the field whose value will be used to determine the boost amount.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1ControlBoostActionInterpolationBoostSpec",
      "type": "object",
      "description": "Specification for custom ranking based on customer specified attribute value. It provides more controls for customized ranking than the simple (condition, boost) combination above."
    },
    "GoogleCloudDiscoveryengineV1alphaBAPConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaBAPConfig",
      "description": "The configuration for the BAP connector.",
      "properties": {
        "enabledActions": {
          "description": "Optional. The actions enabled on the associated BAP connection.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "supportedConnectorModes": {
          "items": {
            "enumDescriptions": [
              "Connector mode unspecified.",
              "Connector utilized for data ingestion.",
              "Connector utilized for Actions",
              "Connector utilized for End User Authentication."
            ],
            "enum": [
              "CONNECTOR_MODE_UNSPECIFIED",
              "DATA_INGESTION",
              "ACTIONS",
              "END_USER_AUTHENTICATION"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Required. The supported connector modes for the associated BAP connection."
        },
        "toolspecOverride": {
          "description": "Optional. Custom toolspec overrides for this connection. For Enterprise BAP connectors that support admin-curated tool definitions, this holds the (simplified) per-tool overrides. On Get, populated by the server by merging persisted overrides with live runtime tool definitions and trimming the result for UI consumption. On Update, the supplied value replaces the persisted overrides after server-side validation and merging: the `base_version` field MUST match the server's current base toolspec version (otherwise the request is rejected with a user-facing error directing the admin to re-download the latest tools first).",
          "$ref": "GoogleCloudDiscoveryengineV1alphaBAPConfigToolspecOverride"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaPurgeDocumentsMetadata": {
      "description": "Metadata related to the progress of the PurgeDocuments operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaPurgeDocumentsMetadata",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        },
        "failureCount": {
          "format": "int64",
          "description": "Count of entries that encountered errors while processing.",
          "type": "string"
        },
        "ignoredCount": {
          "format": "int64",
          "description": "Count of entries that were ignored as entries were not found.",
          "type": "string"
        },
        "successCount": {
          "format": "int64",
          "description": "Count of entries that were deleted successfully.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaCreateSitemapMetadata": {
      "properties": {
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaCreateSitemapMetadata",
      "description": "Metadata related to the progress of the SiteSearchEngineService.CreateSitemap operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1SearchRequestSearchAsYouTypeSpec": {
      "type": "object",
      "properties": {
        "condition": {
          "enumDescriptions": [
            "Server behavior defaults to Condition.DISABLED.",
            "Disables Search As You Type.",
            "Enables Search As You Type.",
            "Automatic switching between search-as-you-type and standard search modes, ideal for single-API implementations (e.g., debouncing)."
          ],
          "description": "The condition under which search as you type should occur. Default to Condition.DISABLED.",
          "type": "string",
          "enum": [
            "CONDITION_UNSPECIFIED",
            "DISABLED",
            "ENABLED",
            "AUTO"
          ]
        }
      },
      "id": "GoogleCloudDiscoveryengineV1SearchRequestSearchAsYouTypeSpec",
      "description": "Specification for search as you type in search requests."
    },
    "A2aV1SendMessageRequest": {
      "id": "A2aV1SendMessageRequest",
      "type": "object",
      "description": "/////////// Request Messages ///////////",
      "properties": {
        "configuration": {
          "description": "Configuration for the send request.",
          "$ref": "A2aV1SendMessageConfiguration"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Optional metadata for the request."
        },
        "message": {
          "$ref": "A2aV1Message",
          "description": "Required. The message to send to the agent."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSetDedicatedCrawlRateResponse": {
      "description": "Response message for CrawlRateManagementService.SetDedicatedCrawlRate method. It simply returns the state of the response, and an error message if the state is FAILED.",
      "id": "GoogleCloudDiscoveryengineV1betaSetDedicatedCrawlRateResponse",
      "type": "object",
      "properties": {
        "error": {
          "description": "Errors from service when handling the request.",
          "$ref": "GoogleRpcStatus"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the response.",
          "enumDescriptions": [
            "The state is unspecified.",
            "The state is successful.",
            "The state is failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ]
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaTuneEngineResponse": {
      "id": "GoogleCloudDiscoveryengineV1betaTuneEngineResponse",
      "description": "Response associated with a tune operation.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaCmekConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaCmekConfig",
      "description": "Configurations used to enable CMEK data encryption with Cloud KMS keys.",
      "properties": {
        "notebooklmState": {
          "readOnly": true,
          "enumDescriptions": [
            "The NotebookLM state is unknown.",
            "The NotebookLM is not ready.",
            "The NotebookLM is ready to be used.",
            "The NotebookLM is not enabled."
          ],
          "type": "string",
          "description": "Output only. Whether the NotebookLM Corpus is ready to be used.",
          "enum": [
            "NOTEBOOK_LM_STATE_UNSPECIFIED",
            "NOTEBOOK_LM_NOT_READY",
            "NOTEBOOK_LM_READY",
            "NOTEBOOK_LM_NOT_ENABLED"
          ]
        },
        "name": {
          "description": "Required. The name of the CmekConfig of the form `projects/{project}/locations/{location}/cmekConfig` or `projects/{project}/locations/{location}/cmekConfigs/{cmek_config}`.",
          "type": "string"
        },
        "lastRotationTimestampMicros": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The timestamp of the last key rotation.",
          "type": "string"
        },
        "kmsKey": {
          "description": "Required. KMS key resource name which will be used to encrypt resources `projects/{project}/locations/{location}/keyRings/{keyRing}/cryptoKeys/{keyId}`.",
          "type": "string"
        },
        "isDefault": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. The default CmekConfig for the Customer."
        },
        "state": {
          "enumDescriptions": [
            "The CmekConfig state is unknown.",
            "The CmekConfig is creating.",
            "The CmekConfig can be used with DataStores.",
            "The CmekConfig is unavailable, most likely due to the KMS Key being revoked.",
            "The CmekConfig is deleting.",
            "The CmekConfig deletion process failed.",
            "The CmekConfig is not usable, most likely due to some internal issue.",
            "The KMS key version is being rotated.",
            "The KMS key is soft deleted. Some cleanup policy will eventually be applied.",
            "The KMS key is expired, meaning the key has been disabled for 30+ days. The customer can call DeleteCmekConfig to change the state to DELETED."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The states of the CmekConfig.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "KEY_ISSUE",
            "DELETING",
            "DELETE_FAILED",
            "UNUSABLE",
            "ACTIVE_ROTATING",
            "DELETED",
            "EXPIRED"
          ]
        },
        "singleRegionKeys": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSingleRegionKey"
          },
          "description": "Optional. Single-regional CMEKs that are required for some VAIS features.",
          "type": "array"
        },
        "kmsKeyVersion": {
          "type": "string",
          "description": "Output only. KMS key version resource name which will be used to encrypt resources `/cryptoKeyVersions/{keyVersion}`.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1EngineKnowledgeGraphConfig": {
      "description": "Configuration message for the Knowledge Graph.",
      "properties": {
        "featureConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1EngineKnowledgeGraphConfigFeatureConfig",
          "description": "Optional. Feature config for the Knowledge Graph."
        },
        "cloudKnowledgeGraphTypes": {
          "description": "Specify entity types to support.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "privateKnowledgeGraphTypes": {
          "description": "Specify entity types to support.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enableCloudKnowledgeGraph": {
          "description": "Whether to enable the Cloud Knowledge Graph for the engine. Defaults to false if not specified.",
          "type": "boolean"
        },
        "enablePrivateKnowledgeGraph": {
          "type": "boolean",
          "description": "Whether to enable the Private Knowledge Graph for the engine. Defaults to false if not specified."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1EngineKnowledgeGraphConfig"
    },
    "GoogleCloudDiscoveryengineV1alphaRecrawlUrisResponseFailureInfo": {
      "description": "Details about why a particular URI failed to be crawled. Each FailureInfo contains one FailureReason per CorpusType.",
      "id": "GoogleCloudDiscoveryengineV1alphaRecrawlUrisResponseFailureInfo",
      "properties": {
        "uri": {
          "type": "string",
          "description": "URI that failed to be crawled."
        },
        "failureReasons": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaRecrawlUrisResponseFailureInfoFailureReason"
          },
          "description": "List of failure reasons by corpus type (e.g. desktop, mobile).",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfig",
      "description": "A singleton resource of DataStore. If it's empty when DataStore is created and DataStore is set to DataStore.ContentConfig.CONTENT_REQUIRED, the default parser will default to digital parser.",
      "properties": {
        "chunkingConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigChunkingConfig",
          "description": "Whether chunking mode is enabled."
        },
        "name": {
          "description": "The full resource name of the Document Processing Config. Format: `projects/*/locations/*/collections/*/dataStores/*/documentProcessingConfig`.",
          "type": "string"
        },
        "parsingConfigOverrides": {
          "description": "Map from file type to override the default parsing configuration based on the file type. Supported keys: * `pdf`: Override parsing config for PDF files, either digital parsing, ocr parsing or layout parsing is supported. * `html`: Override parsing config for HTML files, only digital parsing and layout parsing are supported. * `docx`: Override parsing config for DOCX files, only digital parsing and layout parsing are supported. * `pptx`: Override parsing config for PPTX files, only digital parsing and layout parsing are supported. * `xlsm`: Override parsing config for XLSM files, only digital parsing and layout parsing are supported. * `xlsx`: Override parsing config for XLSX files, only digital parsing and layout parsing are supported.",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfig"
          },
          "type": "object"
        },
        "defaultParsingConfig": {
          "description": "Configurations for default Document parser. If not specified, we will configure it as default DigitalParsingConfig, and the default parsing config will be applied to all file types for Document parsing.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfig"
        }
      },
      "type": "object"
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "properties": {
        "policy": {
          "$ref": "GoogleIamV1Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "id": "GoogleIamV1SetIamPolicyRequest",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSession": {
      "type": "object",
      "description": "External session proto definition.",
      "id": "GoogleCloudDiscoveryengineV1alphaSession",
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. Fully qualified name `projects/{project}/locations/global/collections/{collection}/engines/{engine}/sessions/*`"
        },
        "displayName": {
          "description": "Optional. The display name of the session. This field is used to identify the session in the UI. By default, the display name is the first turn query text in the session.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS"
          ],
          "description": "The state of the session.",
          "enumDescriptions": [
            "State is unspecified.",
            "The session is currently open."
          ]
        },
        "pendingAsyncAssistOperationId": {
          "readOnly": true,
          "description": "Output only. Full resource name of an in-progress AsyncAssist operation for this session, e.g. `projects/*/locations/*/collections/*/engines/*/sessions/*/operations/*`. Set when the operation starts and cleared when it finishes.",
          "type": "string"
        },
        "labels": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The labels for the session. Can be set as filter in ListSessionsRequest."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. The time the session started.",
          "type": "string",
          "readOnly": true
        },
        "turns": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSessionTurn"
          },
          "description": "Turns."
        },
        "isPinned": {
          "type": "boolean",
          "description": "Optional. Whether the session is pinned, pinned session will be displayed on the top of the session list."
        },
        "userPseudoId": {
          "type": "string",
          "description": "A unique identifier for tracking users."
        },
        "endTime": {
          "description": "Output only. The time the session finished.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperimentConfigEvolutionSettingsParentSamplingConfig": {
      "properties": {
        "paretoSamplingConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperimentConfigEvolutionSettingsParentSamplingConfigParetoSamplingConfig",
          "description": "Optional. Pareto sampling configuration."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperimentConfigEvolutionSettingsParentSamplingConfig",
      "type": "object",
      "description": "Configuration for parent sampling."
    },
    "GoogleCloudDiscoveryengineV1ImportSuggestionDenyListEntriesRequestInlineSource": {
      "properties": {
        "entries": {
          "type": "array",
          "description": "Required. A list of all denylist entries to import. Max of 1000 items.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1SuggestionDenyListEntry"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1ImportSuggestionDenyListEntriesRequestInlineSource",
      "description": "The inline source for SuggestionDenyListEntry."
    },
    "GoogleCloudDiscoveryengineV1alphaControlPromoteAction": {
      "type": "object",
      "description": "Promote certain links based on some trigger queries. Example: Promote shoe store link when searching for `shoe` keyword. The link can be outside of associated data store.",
      "id": "GoogleCloudDiscoveryengineV1alphaControlPromoteAction",
      "properties": {
        "dataStore": {
          "type": "string",
          "description": "Required. Data store with which this promotion is attached to."
        },
        "searchLinkPromotion": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchLinkPromotion",
          "description": "Required. Promotion attached to this action."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1CreateTargetSiteMetadata": {
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1CreateTargetSiteMetadata",
      "type": "object",
      "description": "Metadata related to the progress of the SiteSearchEngineService.CreateTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1betaDedicatedCrawlRateTimeSeries": {
      "id": "GoogleCloudDiscoveryengineV1betaDedicatedCrawlRateTimeSeries",
      "properties": {
        "autoRefreshCrawlRate": {
          "$ref": "GoogleCloudDiscoveryengineV1betaCrawlRateTimeSeries",
          "description": "Vertex AI's dedicated crawl rate time series of auto-refresh, which is the crawl rate of Google-CloudVertexBot when dedicate crawl is set, and the crawl rate is for best effort use cases like refreshing urls periodically."
        },
        "autoRefreshCrawlErrorRate": {
          "description": "Vertex AI's error rate time series of auto-refresh dedicated crawl.",
          "$ref": "GoogleCloudDiscoveryengineV1betaCrawlRateTimeSeries"
        },
        "userTriggeredCrawlErrorRate": {
          "description": "Vertex AI's error rate time series of user triggered dedicated crawl.",
          "$ref": "GoogleCloudDiscoveryengineV1betaCrawlRateTimeSeries"
        },
        "userTriggeredCrawlRate": {
          "$ref": "GoogleCloudDiscoveryengineV1betaCrawlRateTimeSeries",
          "description": "Vertex AI's dedicated crawl rate time series of user triggered crawl, which is the crawl rate of Google-CloudVertexBot when dedicate crawl is set, and user triggered crawl rate is for deterministic use cases like crawling urls or sitemaps specified by users."
        }
      },
      "description": "The historical dedicated crawl rate timeseries data, used for monitoring. Dedicated crawl is used by Vertex AI to crawl the user's website when dedicate crawl is set.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1DynamicTool": {
      "id": "GoogleCloudDiscoveryengineV1DynamicTool",
      "properties": {
        "enabled": {
          "description": "Optional. Whether the tool is enabled.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the tool."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the tool."
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the tool."
        }
      },
      "description": "Configuration for dynamic tools.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfo": {
      "description": "Unstructured document information.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfo",
      "properties": {
        "uri": {
          "description": "URI for the document.",
          "type": "string"
        },
        "extractiveAnswers": {
          "description": "Deprecated: This field is deprecated and will have no effect on the Answer generation. Please use document_contexts and extractive_segments fields. List of extractive answers.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoExtractiveAnswer"
          },
          "deprecated": true
        },
        "documentContexts": {
          "description": "List of document contexts. The content will be used for Answer Generation. This is supposed to be the main content of the document that can be long and comprehensive.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoDocumentContext"
          },
          "type": "array"
        },
        "document": {
          "description": "Document resource name.",
          "type": "string"
        },
        "extractiveSegments": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoExtractiveSegment"
          },
          "description": "List of extractive segments.",
          "type": "array"
        },
        "title": {
          "description": "Title.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaFieldConfig": {
      "description": "Configurations for fields of a schema. For example, configuring a field is indexable, or searchable.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaFieldConfig",
      "properties": {
        "advancedSiteSearchDataSources": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Value used when unset.",
              "Retrieve value from meta tag.",
              "Retrieve value from page map.",
              "Retrieve value from the attributes set by SiteSearchEngineService.SetUriPatternDocumentData API.",
              "Retrieve value from schema.org data."
            ],
            "enum": [
              "ADVANCED_SITE_SEARCH_DATA_SOURCE_UNSPECIFIED",
              "METATAGS",
              "PAGEMAP",
              "URI_PATTERN_MAPPING",
              "SCHEMA_ORG"
            ],
            "type": "string"
          },
          "description": "If this field is set, only the corresponding source will be indexed for this field. Otherwise, the values from different sources are merged. Assuming a page with `` in meta tag, and `` in page map: if this enum is set to METATAGS, we will only index ``; if this enum is not set, we will merge them and index ``."
        },
        "keyPropertyType": {
          "type": "string",
          "description": "Output only. Type of the key property that this field is mapped to. Empty string if this is not annotated as mapped to a key property. Example types are `title`, `description`. Full list is defined by `keyPropertyMapping` in the schema field annotation. If the schema field has a `KeyPropertyMapping` annotation, `indexable_option` and `searchable_option` of this field cannot be modified.",
          "readOnly": true
        },
        "searchableFieldImportance": {
          "enumDescriptions": [
            "Value used when unset. Behaves as `DEFAULT_IMPORTANCE` if the field is searchable.",
            "Provides a tiny signal for search.",
            "Indicates the field is used for search, but is less important than the default.",
            "Default importance. Equivalent to previous behavior.",
            "More important than default fields.",
            "Most important field for search."
          ],
          "description": "Optional. Specifies the importance of the field when `searchable_option` is `SEARCHABLE_ENABLED`. If `searchable_option` is `SEARCHABLE_DISABLED`, this field is ignored. If `searchable_option` is `SEARCHABLE_ENABLED` and this is `SEARCHABLE_FIELD_IMPORTANCE_UNSPECIFIED`, it behaves as `DEFAULT_IMPORTANCE`. For more information, see [Weight searchable fields](https://cloud.google.com/generative-ai-app-builder/docs/configure-field-settings#weight-search).",
          "enum": [
            "SEARCHABLE_FIELD_IMPORTANCE_UNSPECIFIED",
            "VERY_LOW_IMPORTANCE",
            "LOW_IMPORTANCE",
            "DEFAULT_IMPORTANCE",
            "HIGH_IMPORTANCE",
            "VERY_HIGH_IMPORTANCE"
          ],
          "type": "string"
        },
        "recsFilterableOption": {
          "type": "string",
          "enumDescriptions": [
            "Value used when unset.",
            "Filterable option enabled for a schema field.",
            "Filterable option disabled for a schema field."
          ],
          "enum": [
            "FILTERABLE_OPTION_UNSPECIFIED",
            "FILTERABLE_ENABLED",
            "FILTERABLE_DISABLED"
          ],
          "description": "If recs_filterable_option is FILTERABLE_ENABLED, field values are filterable by filter expression in RecommendationService.Recommend. If FILTERABLE_ENABLED but the field type is numerical, field values are not filterable by text queries in RecommendationService.Recommend. Only textual fields are supported. If recs_filterable_option is unset, the default setting is FILTERABLE_DISABLED for fields that support setting filterable options. When a field set to [FILTERABLE_DISABLED] is filtered, a warning is generated and an empty result is returned."
        },
        "retrievableOption": {
          "description": "If retrievable_option is RETRIEVABLE_ENABLED, field values are included in the search results. If retrievable_option is unset, the server behavior defaults to RETRIEVABLE_DISABLED for fields that support setting retrievable options. For those fields that do not support setting retrievable options, such as `object` and `boolean`, the server will skip retrievable option setting, and setting retrievable_option for those fields will throw `INVALID_ARGUMENT` error.",
          "enum": [
            "RETRIEVABLE_OPTION_UNSPECIFIED",
            "RETRIEVABLE_ENABLED",
            "RETRIEVABLE_DISABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Value used when unset.",
            "Retrievable option enabled for a schema field.",
            "Retrievable option disabled for a schema field."
          ]
        },
        "fieldType": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Field type is unspecified.",
            "Field value type is Object.",
            "Field value type is String.",
            "Field value type is Number.",
            "Field value type is Integer.",
            "Field value type is Boolean.",
            "Field value type is Geolocation. Geolocation is expressed as an object with the following keys: * `id`: a string representing the location id * `longitude`: a number representing the longitude coordinate of the location * `latitude`: a number repesenting the latitude coordinate of the location * `address`: a string representing the full address of the location `latitude` and `longitude` must always be provided together. At least one of a) `address` or b) `latitude`-`longitude` pair must be provided.",
            "Field value type is Datetime. Datetime can be expressed as either: * a number representing milliseconds-since-the-epoch * a string representing milliseconds-since-the-epoch. e.g. `\"1420070400001\"` * a string representing the [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) date or date and time. e.g. `\"2015-01-01\"` or `\"2015-01-01T12:10:30Z\"`"
          ],
          "enum": [
            "FIELD_TYPE_UNSPECIFIED",
            "OBJECT",
            "STRING",
            "NUMBER",
            "INTEGER",
            "BOOLEAN",
            "GEOLOCATION",
            "DATETIME"
          ],
          "description": "Output only. Raw type of the field."
        },
        "fieldPath": {
          "description": "Required. Field path of the schema field. For example: `title`, `description`, `release_info.release_year`.",
          "type": "string"
        },
        "dynamicFacetableOption": {
          "enum": [
            "DYNAMIC_FACETABLE_OPTION_UNSPECIFIED",
            "DYNAMIC_FACETABLE_ENABLED",
            "DYNAMIC_FACETABLE_DISABLED"
          ],
          "type": "string",
          "description": "If dynamic_facetable_option is DYNAMIC_FACETABLE_ENABLED, field values are available for dynamic facet. Could only be DYNAMIC_FACETABLE_DISABLED if FieldConfig.indexable_option is INDEXABLE_DISABLED. Otherwise, an `INVALID_ARGUMENT` error will be returned. If dynamic_facetable_option is unset, the server behavior defaults to DYNAMIC_FACETABLE_DISABLED for fields that support setting dynamic facetable options. For those fields that do not support setting dynamic facetable options, such as `object` and `boolean`, the server will skip dynamic facetable option setting, and setting dynamic_facetable_option for those fields will throw `INVALID_ARGUMENT` error.",
          "enumDescriptions": [
            "Value used when unset.",
            "Dynamic facetable option enabled for a schema field.",
            "Dynamic facetable option disabled for a schema field."
          ]
        },
        "metatagName": {
          "description": "Optional. The metatag name found in the HTML page. If user defines this field, the value of this metatag name will be used to extract metatag. If the user does not define this field, the FieldConfig.field_path will be used to extract metatag.",
          "type": "string"
        },
        "indexableOption": {
          "enum": [
            "INDEXABLE_OPTION_UNSPECIFIED",
            "INDEXABLE_ENABLED",
            "INDEXABLE_DISABLED"
          ],
          "enumDescriptions": [
            "Value used when unset.",
            "Indexable option enabled for a schema field.",
            "Indexable option disabled for a schema field."
          ],
          "description": "If indexable_option is INDEXABLE_ENABLED, field values are indexed so that it can be filtered or faceted in SearchService.Search. If indexable_option is unset, the server behavior defaults to INDEXABLE_DISABLED for fields that support setting indexable options. For those fields that do not support setting indexable options, such as `object` and `boolean` and key properties, the server will skip indexable_option setting, and setting indexable_option for those fields will throw `INVALID_ARGUMENT` error.",
          "type": "string"
        },
        "completableOption": {
          "type": "string",
          "enum": [
            "COMPLETABLE_OPTION_UNSPECIFIED",
            "COMPLETABLE_ENABLED",
            "COMPLETABLE_DISABLED"
          ],
          "description": "If completable_option is COMPLETABLE_ENABLED, field values are directly used and returned as suggestions for Autocomplete in CompletionService.CompleteQuery. If completable_option is unset, the server behavior defaults to COMPLETABLE_DISABLED for fields that support setting completable options, which are just `string` fields. For those fields that do not support setting completable options, the server will skip completable option setting, and setting completable_option for those fields will throw `INVALID_ARGUMENT` error.",
          "enumDescriptions": [
            "Value used when unset.",
            "Completable option enabled for a schema field.",
            "Completable option disabled for a schema field."
          ]
        },
        "schemaOrgPaths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Field paths for indexing custom attribute from schema.org data. More details of schema.org and its defined types can be found at [schema.org](https://schema.org). It is only used on advanced site search schema. Currently only support full path from root. The full path to a field is constructed by concatenating field names, starting from `_root`, with a period `.` as the delimiter. Examples: * Publish date of the root: _root.datePublished * Publish date of the reviews: _root.review.datePublished"
        },
        "searchableOption": {
          "description": "If searchable_option is SEARCHABLE_ENABLED, field values are searchable by text queries in SearchService.Search. If SEARCHABLE_ENABLED but field type is numerical, field values will not be searchable by text queries in SearchService.Search, as there are no text values associated to numerical fields. If searchable_option is unset, the server behavior defaults to SEARCHABLE_DISABLED for fields that support setting searchable options. Only `string` fields that have no key property mapping support setting searchable_option. For those fields that do not support setting searchable options, the server will skip searchable option setting, and setting searchable_option for those fields will throw `INVALID_ARGUMENT` error.",
          "enumDescriptions": [
            "Value used when unset.",
            "Searchable option enabled for a schema field.",
            "Searchable option disabled for a schema field."
          ],
          "enum": [
            "SEARCHABLE_OPTION_UNSPECIFIED",
            "SEARCHABLE_ENABLED",
            "SEARCHABLE_DISABLED"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaProject": {
      "id": "GoogleCloudDiscoveryengineV1betaProject",
      "description": "Metadata and configurations for a Google Cloud project in the service.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Full resource name of the project, for example `projects/{project}`. Note that when making requests, project number and project id are both acceptable, but the server will always respond in project number.",
          "readOnly": true
        },
        "serviceTermsMap": {
          "description": "Output only. A map of terms of services. The key is the `id` of ServiceTerms.",
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1betaProjectServiceTerms"
          }
        },
        "customerProvidedConfig": {
          "description": "Optional. Customer provided configurations.",
          "$ref": "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfig"
        },
        "configurableBillingStatus": {
          "$ref": "GoogleCloudDiscoveryengineV1betaProjectConfigurableBillingStatus",
          "readOnly": true,
          "description": "Output only. The current status of the project's configurable billing."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when this project is created.",
          "readOnly": true
        },
        "provisionCompletionTime": {
          "description": "Output only. The timestamp when this project is successfully provisioned. Empty value means this project is still provisioning and is not ready for use.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaPurgeCompletionSuggestionsResponse": {
      "description": "Response message for CompletionService.PurgeCompletionSuggestions method. If the long running operation is successfully done, then this message is returned by the google.longrunning.Operations.response field.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaPurgeCompletionSuggestionsResponse",
      "properties": {
        "purgeSucceeded": {
          "description": "Whether the completion suggestions were successfully purged.",
          "type": "boolean"
        },
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1AnswerStepActionSearchAction": {
      "description": "Search action.",
      "type": "object",
      "properties": {
        "query": {
          "type": "string",
          "description": "The query to search."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AnswerStepActionSearchAction"
    },
    "A2aV1StreamResponse": {
      "type": "object",
      "id": "A2aV1StreamResponse",
      "description": "The stream response for a message. The stream should be one of the following sequences: If the response is a message, the stream should contain one, and only one, message and then close If the response is a task lifecycle, the first response should be a Task object followed by zero or more TaskStatusUpdateEvents and TaskArtifactUpdateEvents. The stream should complete when the Task if in an interrupted or terminal state. A stream that ends before these conditions are met are",
      "properties": {
        "artifactUpdate": {
          "$ref": "A2aV1TaskArtifactUpdateEvent"
        },
        "task": {
          "$ref": "A2aV1Task"
        },
        "statusUpdate": {
          "$ref": "A2aV1TaskStatusUpdateEvent"
        },
        "message": {
          "$ref": "A2aV1Message"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaPurgeUserEventsMetadata": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        },
        "successCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of entries that were deleted successfully."
        },
        "failureCount": {
          "description": "Count of entries that encountered errors while processing.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaPurgeUserEventsMetadata",
      "type": "object",
      "description": "Metadata related to the progress of the PurgeUserEvents operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1ControlBoostAction": {
      "properties": {
        "boost": {
          "deprecated": true,
          "description": "Strength of the boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0 (No-op).",
          "type": "number",
          "format": "float"
        },
        "fixedBoost": {
          "type": "number",
          "description": "Optional. Strength of the boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0 (No-op).",
          "format": "float"
        },
        "interpolationBoostSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1ControlBoostActionInterpolationBoostSpec",
          "description": "Optional. Complex specification for custom ranking based on customer defined attribute value."
        },
        "dataStore": {
          "description": "Required. Specifies which data store's documents can be boosted by this control. Full data store name e.g. projects/123/locations/global/collections/default_collection/dataStores/default_data_store",
          "type": "string"
        },
        "filter": {
          "description": "Required. Specifies which products to apply the boost to. If no filter is provided all products will be boosted (No-op). Syntax documentation: https://cloud.google.com/retail/docs/filter-and-order Maximum length is 5000 characters. Otherwise an INVALID ARGUMENT error is thrown.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Adjusts order of products in returned list.",
      "id": "GoogleCloudDiscoveryengineV1ControlBoostAction"
    },
    "GoogleCloudDiscoveryengineV1CustomAttribute": {
      "description": "A custom attribute that is not explicitly modeled in a resource, e.g. UserEvent.",
      "type": "object",
      "properties": {
        "text": {
          "description": "The textual values of this custom attribute. For example, `[\"yellow\", \"green\"]` when the key is \"color\". Empty string is not allowed. Otherwise, an `INVALID_ARGUMENT` error is returned. Exactly one of CustomAttribute.text or CustomAttribute.numbers should be set. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "numbers": {
          "items": {
            "type": "number",
            "format": "double"
          },
          "description": "The numerical values of this custom attribute. For example, `[2.3, 15.4]` when the key is \"lengths_cm\". Exactly one of CustomAttribute.text or CustomAttribute.numbers should be set. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1CustomAttribute"
    },
    "GoogleCloudDiscoveryengineV1alphaTuneEngineMetadata": {
      "type": "object",
      "description": "Metadata associated with a tune operation.",
      "id": "GoogleCloudDiscoveryengineV1alphaTuneEngineMetadata",
      "properties": {
        "engine": {
          "description": "Required. The resource name of the engine that this tune applies to. Format: `projects/{project}/locations/{location}/collections/{collection_id}/engines/{engine_id}`",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAlphaEvolveProgramContent": {
      "type": "object",
      "description": "A self-contained message containing the content of a program. Can represent a collection of files.",
      "id": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveProgramContent",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the program."
        },
        "files": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveSourceFile"
          },
          "description": "Required. A list of source files that make up the overall program.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1SearchLinkPromotion": {
      "type": "object",
      "description": "Promotion proto includes uri and other helping information to display the promotion.",
      "id": "GoogleCloudDiscoveryengineV1SearchLinkPromotion",
      "properties": {
        "imageUri": {
          "description": "Optional. The promotion thumbnail image url.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "Optional. The URL for the page the user wants to promote. Must be set for site search. For other verticals, this is optional."
        },
        "description": {
          "description": "Optional. The Promotion description. Maximum length: 200 characters.",
          "type": "string"
        },
        "document": {
          "description": "Optional. The Document the user wants to promote. For site search, leave unset and only populate uri. Can be set along with uri.",
          "type": "string"
        },
        "enabled": {
          "description": "Optional. The enabled promotion will be returned for any serving configs associated with the parent of the control this promotion is attached to. This flag is used for basic site search only.",
          "type": "boolean"
        },
        "title": {
          "type": "string",
          "description": "Required. The title of the promotion. Maximum length: 160 characters."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaBatchCreateTargetSitesResponse": {
      "description": "Response message for SiteSearchEngineService.BatchCreateTargetSites method.",
      "type": "object",
      "properties": {
        "targetSites": {
          "type": "array",
          "description": "TargetSites created.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaTargetSite"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaBatchCreateTargetSitesResponse"
    },
    "GoogleCloudDiscoveryengineV1alphaDisableAdvancedSiteSearchMetadata": {
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        }
      },
      "description": "Metadata related to the progress of the SiteSearchEngineService.DisableAdvancedSiteSearch operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaDisableAdvancedSiteSearchMetadata"
    },
    "GoogleCloudDiscoveryengineV1ListDocumentsResponse": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1ListDocumentsResponse",
      "properties": {
        "documents": {
          "description": "The Documents.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1Document"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListDocumentsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for DocumentService.ListDocuments method."
    },
    "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfigDigitalParsingConfig": {
      "description": "The digital parsing configurations for documents.",
      "id": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfigDigitalParsingConfig",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDiscoveryengineV1alphaProject": {
      "type": "object",
      "description": "Metadata and configurations for a Google Cloud project in the service.",
      "id": "GoogleCloudDiscoveryengineV1alphaProject",
      "properties": {
        "customerProvidedConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfig",
          "description": "Optional. Customer provided configurations."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when this project is created.",
          "type": "string"
        },
        "provisionCompletionTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when this project is successfully provisioned. Empty value means this project is still provisioning and is not ready for use."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Full resource name of the project, for example `projects/{project}`. Note that when making requests, project number and project id are both acceptable, but the server will always respond in project number."
        },
        "serviceTermsMap": {
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaProjectServiceTerms"
          },
          "description": "Output only. A map of terms of services. The key is the `id` of ServiceTerms.",
          "readOnly": true,
          "type": "object"
        },
        "configurableBillingStatus": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaProjectConfigurableBillingStatus",
          "description": "Output only. The current status of the project's configurable billing.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDiscoveryengineV1WidgetConfigCollectionComponent": {
      "id": "GoogleCloudDiscoveryengineV1WidgetConfigCollectionComponent",
      "type": "object",
      "description": "Read-only collection component that contains data store collections fields that may be used for filtering. For SaaS / Business engines, when `LookupWidgetConfig` is called with `view = WITH_AVAILABLE_CONNECTORS`, instances of this message are also used to represent synthetic placeholder entries for connectors the caller may attach but has not yet attached. Placeholder entries have `connector_auth_state.auth_state == AUTH_STATE_UNSPECIFIED` (or `NO_AUTH`), an empty `connector_auth_state.authorization_uri` (the widget calls `WidgetBuildAuthorizationUrl` on the user's \"Connect\" click), and synthetic placeholder values in `name` / `id` (see field comments). Fields that only make sense for materialized connectors (`data_store_components`, `tenant`, `action_connector`) are left unset for placeholder entries.",
      "properties": {
        "dataSourceDisplayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name of the data source."
        },
        "isFirstParty": {
          "description": "Output only. Whether this is a first-party (Google-owned) connector, as opposed to a third-party connector. Used by the frontend to group 1P vs 3P connectors.",
          "type": "boolean",
          "readOnly": true
        },
        "connectorIconLink": {
          "type": "string",
          "description": "Output only. The icon link of the connector source.",
          "readOnly": true
        },
        "dataSourceEndUserDisplayName": {
          "description": "Output only. The end-user-facing display name of the data source, sourced from `ConnectorSource.end_user_display_name`. When unset, clients fall back to `data_source_display_name`.",
          "readOnly": true,
          "type": "string"
        },
        "dataSourceVersion": {
          "description": "Output only. The version of the connector definition backing this collection, mirroring `DataConnector.data_source_version`.",
          "readOnly": true,
          "type": "number",
          "format": "double"
        },
        "name": {
          "type": "string",
          "description": "The name of the collection. It should be collection resource name. Format: `projects/{project}/locations/{location}/collections/{collection_id}`. For APIs under WidgetService, such as WidgetService.LookupWidgetConfig, the project number and location part is erased in this field. For synthetic placeholder entries (see message-level comment) this carries a synthetic placeholder collection id that does not correspond to a real collection. Callers must not attempt to resolve / GET this resource until the user authorizes the connector."
        },
        "connectorAuthState": {
          "readOnly": true,
          "description": "Output only. The auth uri of the connector source.",
          "$ref": "GoogleCloudDiscoveryengineV1WidgetConfigConnectorAuthState"
        },
        "dataSource": {
          "description": "The name of the data source, retrieved from `Collection.data_connector.data_source`.",
          "type": "string"
        },
        "id": {
          "description": "Output only. the identifier of the collection, used for widget service. For now it refers to collection_id, in the future we will migrate the field to encrypted collection name UUID. For synthetic placeholder entries (see message-level comment) this is a synthetic placeholder id, not a real collection_id.",
          "readOnly": true,
          "type": "string"
        },
        "metadata": {
          "readOnly": true,
          "description": "Output only. User-facing connector metadata (`title`, `description`, `short_description`, `author`, `note`), retrieved from the registry `ConnectorSource.metadata` (joined by data source). Shown on the connector detail page.",
          "$ref": "GoogleCloudDiscoveryengineV1DataConnectorConnectorMetadata"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the collection."
        },
        "dataStoreComponents": {
          "type": "array",
          "description": "For the data store collection, list of the children data stores.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1WidgetConfigDataStoreComponent"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1FactChunk": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "The URI of the source."
        },
        "title": {
          "description": "The title of the source.",
          "type": "string"
        },
        "sourceMetadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "More fine-grained information for the source reference."
        },
        "index": {
          "type": "integer",
          "format": "int32",
          "description": "The index of this chunk. Currently, only used for the streaming mode."
        },
        "source": {
          "description": "Source from which this fact chunk was retrieved. If it was retrieved from the GroundingFacts provided in the request then this field will contain the index of the specific fact from which this chunk was retrieved.",
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "The domain of the source."
        },
        "chunkText": {
          "type": "string",
          "description": "Text content of the fact chunk. Can be at most 10K characters long."
        }
      },
      "description": "Fact Chunk.",
      "id": "GoogleCloudDiscoveryengineV1FactChunk",
      "type": "object"
    },
    "A2aV1SecurityScheme": {
      "type": "object",
      "properties": {
        "oauth2SecurityScheme": {
          "$ref": "A2aV1OAuth2SecurityScheme"
        },
        "mtlsSecurityScheme": {
          "$ref": "A2aV1MutualTlsSecurityScheme"
        },
        "openIdConnectSecurityScheme": {
          "$ref": "A2aV1OpenIdConnectSecurityScheme"
        },
        "apiKeySecurityScheme": {
          "$ref": "A2aV1APIKeySecurityScheme"
        },
        "httpAuthSecurityScheme": {
          "$ref": "A2aV1HTTPAuthSecurityScheme"
        }
      },
      "id": "A2aV1SecurityScheme"
    },
    "GoogleCloudDiscoveryengineV1alphaQueryPart": {
      "properties": {
        "documentReference": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaQueryPartDocumentReference",
          "description": "Other VAIS Document references."
        },
        "mimeType": {
          "description": "Optional. The IANA standard MIME type of the data. See https://www.iana.org/assignments/media-types/media-types.xhtml. This field is optional. If not set, the default assumed MIME type is \"text/plain\" for the \"data\" field.",
          "type": "string"
        },
        "text": {
          "description": "Text content.",
          "type": "string"
        },
        "uiJsonPayload": {
          "type": "string",
          "description": "This field is expected to be a ui message in JSON format. As of Q1 2026, ui_json_payload is only supported for A2UI messages."
        },
        "personReference": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaQueryPartPersonReference",
          "description": "Reference to a person."
        },
        "driveDocumentReference": {
          "description": "Reference to a Google Drive document.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaQueryPartDriveDocumentReference"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaQueryPart",
      "type": "object",
      "description": "Represents a part or the whole of a content, used to represent a query. A query can be made up of multiple parts."
    },
    "GoogleCloudDiscoveryengineV1alphaDataStoreBillingEstimation": {
      "id": "GoogleCloudDiscoveryengineV1alphaDataStoreBillingEstimation",
      "properties": {
        "structuredDataSize": {
          "description": "Data size for structured data in terms of bytes.",
          "type": "string",
          "format": "int64"
        },
        "unstructuredDataUpdateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last updated timestamp for unstructured data."
        },
        "structuredDataUpdateTime": {
          "format": "google-datetime",
          "description": "Last updated timestamp for structured data.",
          "type": "string"
        },
        "websiteDataSize": {
          "format": "int64",
          "type": "string",
          "description": "Data size for websites in terms of bytes."
        },
        "unstructuredDataSize": {
          "type": "string",
          "description": "Data size for unstructured data in terms of bytes.",
          "format": "int64"
        },
        "websiteDataUpdateTime": {
          "description": "Last updated timestamp for websites.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Estimation of data size per data store.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaDataConnectorRealtimeSyncConfigStreamingError": {
      "properties": {
        "error": {
          "description": "Optional. Error details.",
          "$ref": "GoogleRpcStatus"
        },
        "streamingErrorReason": {
          "description": "Optional. Streaming error.",
          "type": "string",
          "enum": [
            "STREAMING_ERROR_REASON_UNSPECIFIED",
            "STREAMING_SETUP_ERROR",
            "STREAMING_SYNC_ERROR",
            "INGRESS_ENDPOINT_REQUIRED"
          ],
          "enumDescriptions": [
            "Streaming error reason unspecified.",
            "Some error occurred while setting up resources for realtime sync.",
            "Some error was encountered while running realtime sync for the connector.",
            "Ingress endpoint is required when setting up realtime sync in private connectivity."
          ]
        }
      },
      "description": "Streaming error details.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaDataConnectorRealtimeSyncConfigStreamingError"
    },
    "GoogleCloudDiscoveryengineV1alphaAlphaEvolveEvaluationScoresAlphaEvolveEvaluationScore": {
      "properties": {
        "metric": {
          "description": "Required. Name of the metric.",
          "type": "string"
        },
        "score": {
          "description": "Required. Score of a program for this metric.",
          "type": "number",
          "format": "float"
        }
      },
      "description": "Score for a single metric.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveEvaluationScoresAlphaEvolveEvaluationScore"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSnippetSpec": {
      "properties": {
        "referenceOnly": {
          "description": "[DEPRECATED] This field is deprecated and will have no affect on the snippet.",
          "deprecated": true,
          "type": "boolean"
        },
        "returnSnippet": {
          "type": "boolean",
          "description": "If `true`, then return snippet. If no snippet can be generated, we return \"No snippet is available for this page.\" A `snippet_status` with `SUCCESS` or `NO_SNIPPET_AVAILABLE` will also be returned."
        },
        "maxSnippetCount": {
          "description": "[DEPRECATED] This field is deprecated. To control snippet return, use `return_snippet` field. For backwards compatibility, we will return snippet if max_snippet_count > 0.",
          "format": "int32",
          "type": "integer",
          "deprecated": true
        }
      },
      "type": "object",
      "description": "A specification for configuring snippets in a search response.",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSnippetSpec"
    },
    "GoogleCloudDiscoveryengineV1AdvancedCompleteQueryResponseRecentSearchSuggestion": {
      "id": "GoogleCloudDiscoveryengineV1AdvancedCompleteQueryResponseRecentSearchSuggestion",
      "description": "Suggestions from recent search history.",
      "properties": {
        "recentSearchTime": {
          "type": "string",
          "description": "The time when this recent rearch happened.",
          "format": "google-datetime"
        },
        "suggestion": {
          "description": "The suggestion for the query.",
          "type": "string"
        },
        "score": {
          "type": "number",
          "description": "The score of each suggestion. The score is in the range of [0, 1].",
          "format": "double"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1SearchRequestBoostSpecConditionBoostSpecBoostControlSpec": {
      "type": "object",
      "properties": {
        "attributeType": {
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ],
          "description": "The attribute type to be used to determine the boost amount. The attribute value can be derived from the field value of the specified field_name. In the case of numerical it is straightforward i.e. attribute_value = numerical_field_value. In the case of freshness however, attribute_value = (time.now() - datetime_field_value).",
          "type": "string",
          "enumDescriptions": [
            "Unspecified AttributeType.",
            "The value of the numerical field will be used to dynamically update the boost amount. In this case, the attribute_value (the x value) of the control point will be the actual value of the numerical field for which the boost_amount is specified.",
            "For the freshness use case the attribute value will be the duration between the current time and the date in the datetime field specified. The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`. For example, `5D`, `3DT12H30M`, `T24H`."
          ]
        },
        "interpolationType": {
          "type": "string",
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ],
          "enumDescriptions": [
            "Interpolation type is unspecified. In this case, it defaults to Linear.",
            "Piecewise linear interpolation will be applied."
          ],
          "description": "The interpolation type to be applied to connect the control points listed below."
        },
        "controlPoints": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1SearchRequestBoostSpecConditionBoostSpecBoostControlSpecControlPoint"
          },
          "description": "The control points used to define the curve. The monotonic function (defined through the interpolation_type above) passes through the control points listed here.",
          "type": "array"
        },
        "fieldName": {
          "type": "string",
          "description": "The name of the field whose value will be used to determine the boost amount."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1SearchRequestBoostSpecConditionBoostSpecBoostControlSpec",
      "description": "Specification for custom ranking based on customer specified attribute value. It provides more controls for customized ranking than the simple (condition, boost) combination above."
    },
    "GoogleCloudDiscoveryengineV1DataConnectorRealtimeSyncConfigStreamingError": {
      "id": "GoogleCloudDiscoveryengineV1DataConnectorRealtimeSyncConfigStreamingError",
      "description": "Streaming error details.",
      "type": "object",
      "properties": {
        "streamingErrorReason": {
          "description": "Optional. Streaming error.",
[...]
