{
  "servicePath": "",
  "title": "Discovery Engine API",
  "rootUrl": "https://discoveryengine.googleapis.com/",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://discoveryengine.googleapis.com/",
  "id": "discoveryengine:v1beta",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    }
  },
  "description": "Discovery Engine API.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/discoveryengine.readwrite": {
          "description": "View, edit, create, and delete all your data associated with any Discovery Engine API product, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, including both end user data and administration or configuration data."
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/discoveryengine.assist.readwrite": {
          "description": "View your Agentspace chat history, including uploaded files and generated reports and visualizations, and interact with the Agentspace assistant on your behalf. Also view the artifacts you access through NotebookLM Enterprise."
        },
        "https://www.googleapis.com/auth/cloud_search.query": {
          "description": "Search your organization's data in the Cloud Search index"
        },
        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite": {
          "description": "Interact with Discovery Engine API products, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, on your behalf. It will also allow the app to view all data that you have access to when you use or interact with a Discovery Engine API product."
        }
      }
    }
  },
  "endpoints": [
    {
      "location": "asia-northeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://discoveryengine.asia-northeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://discoveryengine.europe-west2.rep.googleapis.com/",
      "location": "europe-west2"
    },
    {
      "endpointUrl": "https://discoveryengine.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    },
    {
      "location": "eu",
      "endpointUrl": "https://discoveryengine.eu.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "in",
      "endpointUrl": "https://discoveryengine.in.rep.googleapis.com/"
    },
    {
      "location": "asia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://discoveryengine.asia-southeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west3",
      "endpointUrl": "https://discoveryengine.europe-west3.rep.googleapis.com/"
    },
    {
      "location": "ca",
      "description": "Regional Endpoint",
      "endpointUrl": "https://discoveryengine.ca.rep.googleapis.com/"
    }
  ],
  "kind": "discovery#restDescription",
  "basePath": "",
  "documentationLink": "https://cloud.google.com/generative-ai-app-builder/docs/",
  "version_module": true,
  "schemas": {
    "GoogleCloudDiscoveryengineV1betaSuggestionDenyListEntry": {
      "description": "Suggestion deny list entry identifying the phrase to block from suggestions and the applied operation for the phrase.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSuggestionDenyListEntry",
      "properties": {
        "blockPhrase": {
          "description": "Required. Phrase to block from suggestions served. Can be maximum 125 characters.",
          "type": "string"
        },
        "matchOperator": {
          "enum": [
            "MATCH_OPERATOR_UNSPECIFIED",
            "EXACT_MATCH",
            "CONTAINS"
          ],
          "description": "Required. The match operator to apply for this phrase. Whether to block the exact phrase, or block any suggestions containing this phrase.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Should not be used",
            "If the suggestion is an exact match to the block_phrase, then block it.",
            "If the suggestion contains the block_phrase, then block it."
          ]
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestAnswerGenerationSpecPromptSpec": {
      "description": "Answer generation prompt specification.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestAnswerGenerationSpecPromptSpec",
      "properties": {
        "preamble": {
          "type": "string",
          "description": "Customized preamble."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAssistantContentFile": {
      "id": "GoogleCloudDiscoveryengineV1betaAssistantContentFile",
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "Required. The media type (MIME type) of the file."
        },
        "fileId": {
          "type": "string",
          "description": "Required. The file ID."
        }
      },
      "description": "A file, e.g., an audio summary.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaBatchUpdateUserLicensesResponse": {
      "description": "Response message for UserLicenseService.BatchUpdateUserLicenses method.",
      "id": "GoogleCloudDiscoveryengineV1alphaBatchUpdateUserLicensesResponse",
      "properties": {
        "userLicenses": {
          "type": "array",
          "description": "UserLicenses successfully updated.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaUserLicense"
          }
        },
        "errorSamples": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the request."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaControlPromoteAction": {
      "description": "Promote certain links based on some trigger queries. Example: Promote shoe store link when searching for `shoe` keyword. The link can be outside of associated data store.",
      "properties": {
        "searchLinkPromotion": {
          "description": "Required. Promotion attached to this action.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchLinkPromotion"
        },
        "dataStore": {
          "description": "Required. Data store with which this promotion is attached to.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaControlPromoteAction"
    },
    "GoogleCloudDiscoveryengineV1alphaDataStoreServingConfigDataStore": {
      "properties": {
        "disabledForServing": {
          "type": "boolean",
          "description": "Optional. If set true, the DataStore will not be available for serving search requests."
        }
      },
      "description": "Stores information regarding the serving configurations at DataStore level.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaDataStoreServingConfigDataStore"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpecBoostControlSpecControlPoint": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpecBoostControlSpecControlPoint",
      "description": "The control points used to define the curve. The curve defined through these control points can only be monotonically increasing or decreasing(constant values are acceptable).",
      "properties": {
        "boostAmount": {
          "type": "number",
          "format": "float",
          "description": "The value between -1 to 1 by which to boost the score if the attribute_value evaluates to the value specified above."
        },
        "attributeValue": {
          "description": "Can be one of: 1. The numerical field value. 2. The duration spec for freshness: The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaPurgeDocumentsResponse": {
      "type": "object",
      "properties": {
        "purgeCount": {
          "format": "int64",
          "type": "string",
          "description": "The total count of documents purged as a result of the operation."
        },
        "purgeSample": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A sample of document names that will be deleted. Only populated if `force` is set to false. A max of 100 names will be returned and the names are chosen at random."
        }
      },
      "description": "Response message for DocumentService.PurgeDocuments method. If the long running operation is successfully done, then this message is returned by the google.longrunning.Operations.response field.",
      "id": "GoogleCloudDiscoveryengineV1betaPurgeDocumentsResponse"
    },
    "GoogleCloudDiscoveryengineV1betaEnableAdvancedSiteSearchRequest": {
      "type": "object",
      "description": "Request message for SiteSearchEngineService.EnableAdvancedSiteSearch method.",
      "id": "GoogleCloudDiscoveryengineV1betaEnableAdvancedSiteSearchRequest",
      "properties": {}
    },
    "GoogleCloudDiscoveryengineV1EnableAdvancedSiteSearchResponse": {
      "properties": {},
      "type": "object",
      "description": "Response message for SiteSearchEngineService.EnableAdvancedSiteSearch method.",
      "id": "GoogleCloudDiscoveryengineV1EnableAdvancedSiteSearchResponse"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpecConditionBoostSpec": {
      "properties": {
        "boost": {
          "description": "Strength of the condition boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0. Setting to 1.0 gives the document a big promotion. However, it does not necessarily mean that the boosted document will be the top result at all times, nor that other documents will be excluded. Results could still be shown even when none of them matches the condition. And results that are significantly more relevant to the search query can still trump your heavily favored but irrelevant documents. Setting to -1.0 gives the document a big demotion. However, results that are deeply relevant might still be shown. The document will have an upstream battle to get a fairly high ranking, but it is not blocked out completely. Setting to 0.0 means no boost applied. The boosting condition is ignored. Only one of the (condition, boost) combination or the boost_control_spec below are set. If both are set then the global boost is ignored and the more fine-grained boost_control_spec is applied.",
          "format": "float",
          "type": "number"
        },
        "condition": {
          "description": "An expression which specifies a boost condition. The syntax and supported fields are the same as a filter expression. See SearchRequest.filter for detail syntax and limitations. Examples: * To boost documents with document ID \"doc_1\" or \"doc_2\", and color \"Red\" or \"Blue\": `(document_id: ANY(\"doc_1\", \"doc_2\")) AND (color: ANY(\"Red\", \"Blue\"))`",
          "type": "string"
        },
        "boostControlSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpecConditionBoostSpecBoostControlSpec",
          "description": "Complex specification for custom ranking based on customer defined attribute value."
        }
      },
      "description": "Boost applies to documents which match a condition.",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpecConditionBoostSpec",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaBatchGetDocumentsMetadataResponseDocumentMetadataMatcherValue": {
      "description": "The value of the matcher that was used to match the Document.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaBatchGetDocumentsMetadataResponseDocumentMetadataMatcherValue",
      "properties": {
        "fhirResource": {
          "type": "string",
          "description": "Format: projects/{project}/locations/{location}/datasets/{dataset}/fhirStores/{fhir_store}/fhir/{resource_type}/{fhir_resource_id}"
        },
        "uri": {
          "description": "If match by URI, the URI of the Document.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestFacetSpecFacetKey": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestFacetSpecFacetKey",
      "properties": {
        "key": {
          "description": "Required. Supported textual and numerical facet keys in Document object, over which the facet values are computed. Facet key is case-sensitive.",
          "type": "string"
        },
        "caseInsensitive": {
          "description": "True to make facet keys case insensitive when getting faceting values with prefixes or contains; false otherwise.",
          "type": "boolean"
        },
        "orderBy": {
          "description": "The order in which documents are returned. Allowed values are: * \"count desc\", which means order by SearchResponse.Facet.values.count descending. * \"value desc\", which means order by SearchResponse.Facet.values.value descending. Only applies to textual facets. If not set, textual values are sorted in [natural order](https://en.wikipedia.org/wiki/Natural_sort_order); numerical intervals are sorted in the order given by FacetSpec.FacetKey.intervals.",
          "type": "string"
        },
        "restrictedValues": {
          "items": {
            "type": "string"
          },
          "description": "Only get facet for the given restricted values. Only supported on textual fields. For example, suppose \"category\" has three values \"Action > 2022\", \"Action > 2021\" and \"Sci-Fi > 2022\". If set \"restricted_values\" to \"Action > 2022\", the \"category\" facet only contains \"Action > 2022\". Only supported on textual fields. Maximum is 10.",
          "type": "array"
        },
        "prefixes": {
          "description": "Only get facet values that start with the given string prefix. For example, suppose \"category\" has three values \"Action > 2022\", \"Action > 2021\" and \"Sci-Fi > 2022\". If set \"prefixes\" to \"Action\", the \"category\" facet only contains \"Action > 2022\" and \"Action > 2021\". Only supported on textual fields. Maximum is 10.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "intervals": {
          "description": "Set only if values should be bucketed into intervals. Must be set for facets with numerical values. Must not be set for facet with text values. Maximum number of intervals is 30.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaInterval"
          }
        },
        "contains": {
          "type": "array",
          "description": "Only get facet values that contain the given strings. For example, suppose \"category\" has three values \"Action > 2022\", \"Action > 2021\" and \"Sci-Fi > 2022\". If set \"contains\" to \"2022\", the \"category\" facet only contains \"Action > 2022\" and \"Sci-Fi > 2022\". Only supported on textual fields. Maximum is 10.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Specifies how a facet is computed."
    },
    "GoogleCloudDiscoveryengineV1EngineKnowledgeGraphConfig": {
      "type": "object",
      "properties": {
        "enablePrivateKnowledgeGraph": {
          "description": "Whether to enable the Private Knowledge Graph for the engine. Defaults to false if not specified.",
          "type": "boolean"
        },
        "cloudKnowledgeGraphTypes": {
          "type": "array",
          "description": "Specify entity types to support.",
          "items": {
            "type": "string"
          }
        },
        "enableCloudKnowledgeGraph": {
          "description": "Whether to enable the Cloud Knowledge Graph for the engine. Defaults to false if not specified.",
          "type": "boolean"
        },
        "privateKnowledgeGraphTypes": {
          "items": {
            "type": "string"
          },
          "description": "Specify entity types to support.",
          "type": "array"
        },
        "featureConfig": {
          "description": "Optional. Feature config for the Knowledge Graph.",
          "$ref": "GoogleCloudDiscoveryengineV1EngineKnowledgeGraphConfigFeatureConfig"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1EngineKnowledgeGraphConfig",
      "description": "Configuration message for the Knowledge Graph."
    },
    "GoogleCloudDiscoveryengineV1alphaEngineKnowledgeGraphConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaEngineKnowledgeGraphConfig",
      "description": "Configuration message for the Knowledge Graph.",
      "type": "object",
      "properties": {
        "privateKnowledgeGraphTypes": {
          "description": "Specify entity types to support.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enableCloudKnowledgeGraph": {
          "description": "Whether to enable the Cloud Knowledge Graph for the engine. Defaults to false if not specified.",
          "type": "boolean"
        },
        "featureConfig": {
          "description": "Optional. Feature config for the Knowledge Graph.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaEngineKnowledgeGraphConfigFeatureConfig"
        },
        "enablePrivateKnowledgeGraph": {
          "description": "Whether to enable the Private Knowledge Graph for the engine. Defaults to false if not specified.",
          "type": "boolean"
        },
        "cloudKnowledgeGraphTypes": {
          "type": "array",
          "description": "Specify entity types to support.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaChunkAnnotationMetadata": {
      "description": "The annotation metadata includes structured content in the current chunk.",
      "id": "GoogleCloudDiscoveryengineV1betaChunkAnnotationMetadata",
      "type": "object",
      "properties": {
        "imageId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Image id is provided if the structured content is based on an image."
        },
        "structuredContent": {
          "description": "Output only. The structured content information.",
          "$ref": "GoogleCloudDiscoveryengineV1betaChunkStructuredContent",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAlertPolicyResourceConfigAlertEnrollment": {
      "description": "The alert enrollment status.",
      "id": "GoogleCloudDiscoveryengineV1alphaAlertPolicyResourceConfigAlertEnrollment",
      "properties": {
        "enrollState": {
          "enumDescriptions": [
            "Default value. Used for customers who have not responded to the alert policy.",
            "Customer is enrolled in this policy.",
            "Customer declined this policy."
          ],
          "description": "Required. The enrollment status of a customer.",
          "type": "string",
          "enum": [
            "ENROLL_STATE_UNSPECIFIED",
            "ENROLLED",
            "DECLINED"
          ]
        },
        "notificationParams": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Parameters used to instantiate a notification. Used for notifications that are triggered when registered. Not stored. * Gemini Business welcome emails. * Gemini Business user invitation emails."
        },
        "alertId": {
          "description": "Immutable. The id of an alert.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1EngineCommonConfig": {
      "id": "GoogleCloudDiscoveryengineV1EngineCommonConfig",
      "type": "object",
      "properties": {
        "companyName": {
          "description": "The name of the company, business or entity that is associated with the engine. Setting this may help improve LLM related features.",
          "type": "string"
        }
      },
      "description": "Common configurations for an Engine."
    },
    "GoogleCloudDiscoveryengineV1betaControlPromoteAction": {
      "properties": {
        "dataStore": {
          "type": "string",
          "description": "Required. Data store with which this promotion is attached to."
        },
        "searchLinkPromotion": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchLinkPromotion",
          "description": "Required. Promotion attached to this action."
        }
      },
      "description": "Promote certain links based on some trigger queries. Example: Promote shoe store link when searching for `shoe` keyword. The link can be outside of associated data store.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaControlPromoteAction"
    },
    "GoogleCloudDiscoveryengineLoggingSourceLocation": {
      "description": "Indicates a location in the source code of the service for which errors are reported.",
      "id": "GoogleCloudDiscoveryengineLoggingSourceLocation",
      "properties": {
        "functionName": {
          "type": "string",
          "description": "Human-readable name of a function or method—for example, `google.cloud.discoveryengine.v1alpha.RecommendationService.Recommend`."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1CreateTargetSiteMetadata": {
      "type": "object",
      "description": "Metadata related to the progress of the SiteSearchEngineService.CreateTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1CreateTargetSiteMetadata"
    },
    "GoogleCloudDiscoveryengineV1betaStreamAssistResponseInvokedSkill": {
      "description": "Represents a skill used during the assist call.",
      "id": "GoogleCloudDiscoveryengineV1betaStreamAssistResponseInvokedSkill",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the skill.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the skill.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfig": {
      "properties": {
        "notebooklmConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfigNotebooklmConfig",
          "description": "Optional. Configuration for NotebookLM settings."
        }
      },
      "description": "Customer provided configurations.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfig"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestImageQuery": {
      "properties": {
        "imageBytes": {
          "description": "Base64 encoded image bytes. Supported image formats: JPEG, PNG, and BMP.",
          "type": "string"
        }
      },
      "description": "Specifies the image query input.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestImageQuery"
    },
    "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfigAlloyDbAiNaturalLanguageConfig": {
      "id": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfigAlloyDbAiNaturalLanguageConfig",
      "description": "Configuration for AlloyDB AI Natural Language.",
      "type": "object",
      "properties": {
        "nlConfigId": {
          "type": "string",
          "description": "Optional. AlloyDb AI NL config id, i.e. the value that was used for calling `SELECT alloydb_ai_nl.g_create_configuration(...)`. Can be empty."
        }
      }
    },
    "GoogleCloudDiscoveryengineLoggingHttpRequestContext": {
      "description": "HTTP request data that is related to a reported error.",
      "type": "object",
      "properties": {
        "responseStatusCode": {
          "description": "The HTTP response status code for the request.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudDiscoveryengineLoggingHttpRequestContext"
    },
    "GoogleCloudDiscoveryengineV1alphaAclConfig": {
      "description": "Access Control Configuration.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAclConfig",
      "properties": {
        "name": {
          "description": "Immutable. The full resource name of the acl configuration. Format: `projects/{project}/locations/{location}/aclConfig`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "idpConfig": {
          "description": "Identity provider config.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaIdpConfig"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaCompletionSuggestion": {
      "properties": {
        "groupId": {
          "description": "If two suggestions have the same groupId, they will not be returned together. Instead the one ranked higher will be returned. This can be used to deduplicate semantically identical suggestions.",
          "type": "string"
        },
        "suggestion": {
          "type": "string",
          "description": "Required. The suggestion text."
        },
        "languageCode": {
          "description": "BCP-47 language code of this suggestion.",
          "type": "string"
        },
        "groupScore": {
          "description": "The score of this suggestion within its group.",
          "format": "double",
          "type": "number"
        },
        "globalScore": {
          "description": "Global score of this suggestion. Control how this suggestion would be scored / ranked.",
          "format": "double",
          "type": "number"
        },
        "alternativePhrases": {
          "description": "Alternative matching phrases for this suggestion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "frequency": {
          "type": "string",
          "format": "int64",
          "description": "Frequency of this suggestion. Will be used to rank suggestions when score is not available."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaCompletionSuggestion",
      "description": "Autocomplete suggestions that are imported from Customer.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaContactDetails": {
      "type": "object",
      "description": "The contact info stored in resource level. If both project level and resource level is populated, the resource level contact info will override the project level contact info.",
      "id": "GoogleCloudDiscoveryengineV1alphaContactDetails",
      "properties": {
        "emailAddress": {
          "description": "Optional. The email address of the contact.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaRemovePatientFilterRequest": {
      "description": "Request for DataStoreService.RemovePatientFilter method.",
      "properties": {
        "dataStore": {
          "type": "string",
          "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. If the caller does not have permission to access the DataStore, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested DataStore does not exist, a NOT_FOUND error is returned. If the requested DataStore does not have a patient filter, a NOT_FOUND error will be returned"
        },
        "filterGroups": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. Names of the Group resources to use as a basis for the list of patients to remove from the patient filter, in format `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}/fhir/Group/{group_id}`. if the caller does not have permission to access the FHIR store, regardless of whether it exists, PERMISSION_DENIED error is returned. If the discovery engine service account does not have permission to access the FHIR store, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the group is not found at the location, a RESOURCE_NOT_FOUND error will be returned. The filter group must be a FHIR resource name of type Group, and the list of IDs to remove will be constructed from the direct members of the group which are Patient resources."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaRemovePatientFilterRequest",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSetUriPatternDocumentDataMetadata": {
      "description": "Metadata related to the progress of the SiteSearchEngineService.SetUriPatternDocumentData operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSetUriPatternDocumentDataMetadata",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaUserLicense": {
      "id": "GoogleCloudDiscoveryengineV1betaUserLicense",
      "description": "User License information assigned by the admin.",
      "type": "object",
      "properties": {
        "licenseConfig": {
          "type": "string",
          "description": "Optional. The full resource name of the Subscription(LicenseConfig) assigned to the user."
        },
        "lastLoginTime": {
          "type": "string",
          "description": "Output only. User last logged in time. If the user has not logged in yet, this field will be empty.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "licenseAssignmentState": {
          "enumDescriptions": [
            "Default value.",
            "License assigned to the user.",
            "No license assigned to the user. Deprecated, translated to NO_LICENSE.",
            "No license assigned to the user.",
            "User attempted to login but no license assigned to the user. This state is only used for no user first time login attempt but cannot get license assigned. Users already logged in but cannot get license assigned will be assigned NO_LICENSE state(License could be unassigned by admin).",
            "User is blocked from assigning a license."
          ],
          "description": "Output only. License assignment state of the user. If the user is assigned with a license config, the user login will be assigned with the license; If the user's license assignment state is unassigned or unspecified, no license config will be associated to the user;",
          "type": "string",
          "readOnly": true,
          "enum": [
            "LICENSE_ASSIGNMENT_STATE_UNSPECIFIED",
            "ASSIGNED",
            "UNASSIGNED",
            "NO_LICENSE",
            "NO_LICENSE_ATTEMPTED_LOGIN",
            "BLOCKED"
          ]
        },
        "createTime": {
          "description": "Output only. User created timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "userProfile": {
          "type": "string",
          "description": "Optional. The user profile. We user user full name(First name + Last name) as user profile."
        },
        "userPrincipal": {
          "type": "string",
          "description": "Required. Immutable. The user principal of the User, could be email address or other prinical identifier. This field is immutable. Admin assign licenses based on the user principal."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. User update timestamp.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaCreateSitemapMetadata": {
      "description": "Metadata related to the progress of the SiteSearchEngineService.CreateSitemap operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1betaCreateSitemapMetadata",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaExportMetricsResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaExportMetricsResponse",
      "type": "object",
      "description": "Response of the ExportMetricsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field.",
      "properties": {}
    },
    "GoogleCloudDiscoveryengineV1betaConversation": {
      "description": "External conversation proto definition.",
      "id": "GoogleCloudDiscoveryengineV1betaConversation",
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the conversation finished.",
          "type": "string",
          "readOnly": true
        },
        "startTime": {
          "description": "Output only. The time the conversation started.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Immutable. Fully qualified name `projects/{project}/locations/global/collections/{collection}/dataStore/*/conversations/*` or `projects/{project}/locations/global/collections/{collection}/engines/*/conversations/*`.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Conversation is currently open.",
            "Conversation has been completed."
          ],
          "description": "The state of the Conversation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "COMPLETED"
          ]
        },
        "userPseudoId": {
          "description": "A unique identifier for tracking users.",
          "type": "string"
        },
        "messages": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaConversationMessage"
          },
          "description": "Conversation messages.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaCrawlRateTimeSeries": {
      "properties": {
        "qpsTimeSeries": {
          "description": "The QPS of the crawl rate.",
          "$ref": "GoogleMonitoringV3TimeSeries"
        }
      },
      "description": "The historical crawl rate timeseries data, used for monitoring.",
      "id": "GoogleCloudDiscoveryengineV1betaCrawlRateTimeSeries",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSnippetSpec": {
      "properties": {
        "referenceOnly": {
          "description": "[DEPRECATED] This field is deprecated and will have no affect on the snippet.",
          "deprecated": true,
          "type": "boolean"
        },
        "returnSnippet": {
          "type": "boolean",
          "description": "If `true`, then return snippet. If no snippet can be generated, we return \"No snippet is available for this page.\" A `snippet_status` with `SUCCESS` or `NO_SNIPPET_AVAILABLE` will also be returned."
        },
        "maxSnippetCount": {
          "format": "int32",
          "description": "[DEPRECATED] This field is deprecated. To control snippet return, use `return_snippet` field. For backwards compatibility, we will return snippet if max_snippet_count > 0.",
          "deprecated": true,
          "type": "integer"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSnippetSpec",
      "type": "object",
      "description": "A specification for configuring snippets in a search response."
    },
    "GoogleCloudDiscoveryengineV1betaDocumentAclInfoAccessRestriction": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaDocumentAclInfoAccessRestriction",
      "properties": {
        "principals": {
          "description": "List of principals.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaPrincipal"
          }
        },
        "idpWide": {
          "type": "boolean",
          "description": "All users within the Identity Provider."
        }
      },
      "description": "AclRestriction to model complex inheritance restrictions. Example: Modeling a \"Both Permit\" inheritance, where to access a child document, user needs to have access to parent document. Document Hierarchy - Space_S --> Page_P. Readers: Space_S: group_1, user_1 Page_P: group_2, group_3, user_2 Space_S ACL Restriction - { \"acl_info\": { \"readers\": [ { \"principals\": [ { \"group_id\": \"group_1\" }, { \"user_id\": \"user_1\" } ] } ] } } Page_P ACL Restriction. { \"acl_info\": { \"readers\": [ { \"principals\": [ { \"group_id\": \"group_2\" }, { \"group_id\": \"group_3\" }, { \"user_id\": \"user_2\" } ], }, { \"principals\": [ { \"group_id\": \"group_1\" }, { \"user_id\": \"user_1\" } ], } ] } }"
    },
    "GoogleCloudDiscoveryengineV1alphaIdentityScheduleConfig": {
      "description": "The configuration for the identity data synchronization runs.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaIdentityScheduleConfig",
      "properties": {
        "refreshInterval": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The refresh interval to sync the Access Control List information for the documents ingested by this connector. If not set, the access control list will be refreshed at the default interval of 30 minutes. The identity refresh interval can be at least 30 minutes and at most 7 days."
        },
        "nextSyncTime": {
          "$ref": "GoogleTypeDateTime",
          "description": "Optional. The UTC time when the next data sync is expected to start for the Data Connector. Customers are only able to specify the hour and minute to schedule the data sync. This is utilized when the data connector has a refresh interval greater than 1 day."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaPurgeCompletionSuggestionsRequest": {
      "properties": {},
      "id": "GoogleCloudDiscoveryengineV1betaPurgeCompletionSuggestionsRequest",
      "description": "Request message for CompletionService.PurgeCompletionSuggestions method.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSitemap": {
      "description": "A sitemap for the SiteSearchEngine.",
      "properties": {
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The sitemap's creation time."
        },
        "uri": {
          "description": "Public URI for the sitemap, e.g. `www.example.com/sitemap.xml`.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The fully qualified resource name of the sitemap. `projects/*/locations/*/collections/*/dataStores/*/siteSearchEngine/sitemaps/*` The `sitemap_id` suffix is system-generated."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaSitemap"
    },
    "GoogleCloudDiscoveryengineV1betaConverseConversationRequest": {
      "description": "Request message for ConversationalSearchService.ConverseConversation method.",
      "properties": {
        "filter": {
          "description": "The filter syntax consists of an expression language for constructing a predicate from one or more fields of the documents being filtered. Filter expression is case-sensitive. This will be used to filter search results which may affect the summary response. If this field is unrecognizable, an `INVALID_ARGUMENT` is returned. Filtering in Vertex AI Search is done by mapping the LHS filter key to a key property defined in the Vertex AI Search backend -- this mapping is defined by the customer in their schema. For example a media customer might have a field 'name' in their schema. In this case the filter would look like this: filter --> name:'ANY(\"king kong\")' For more information about filtering including syntax and filter operators, see [Filter](https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata)",
          "type": "string"
        },
        "userLabels": {
          "type": "object",
          "description": "The user labels applied to a resource must meet the following requirements: * Each resource can have multiple labels, up to a maximum of 64. * Each label must be a key-value pair. * Keys have a minimum length of 1 character and a maximum length of 63 characters and cannot be empty. Values can be empty and have a maximum length of 63 characters. * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. All characters must use UTF-8 encoding, and international characters are allowed. * The key portion of a label must be unique. However, you can use the same key with multiple resources. * Keys must start with a lowercase letter or international character. See [Google Cloud Document](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements) for more details.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "conversation": {
          "description": "The conversation to be used by auto session only. The name field will be ignored as we automatically assign new name for the conversation in auto session.",
          "$ref": "GoogleCloudDiscoveryengineV1betaConversation"
        },
        "servingConfig": {
          "description": "The resource name of the Serving Config to use. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store_id}/servingConfigs/{serving_config_id}` If this is not set, the default serving config will be used.",
          "type": "string"
        },
        "boostSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpec",
          "description": "Boost specification to boost certain documents in search results which may affect the converse response. For more information on boosting, see [Boosting](https://cloud.google.com/retail/docs/boosting#boost)"
        },
        "summarySpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSummarySpec",
          "description": "A specification for configuring the summary returned in the response."
        },
        "safeSearch": {
          "type": "boolean",
          "description": "Whether to turn on safe search."
        },
        "query": {
          "$ref": "GoogleCloudDiscoveryengineV1betaTextInput",
          "description": "Required. Current user input."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaConverseConversationRequest"
    },
    "GoogleCloudDiscoveryengineV1alphaImportSuggestionDenyListEntriesResponse": {
      "description": "Response message for CompletionService.ImportSuggestionDenyListEntries method.",
      "id": "GoogleCloudDiscoveryengineV1alphaImportSuggestionDenyListEntriesResponse",
      "type": "object",
      "properties": {
        "failedEntriesCount": {
          "type": "string",
          "description": "Count of deny list entries that failed to be imported.",
          "format": "int64"
        },
        "importedEntriesCount": {
          "description": "Count of deny list entries successfully imported.",
          "format": "int64",
          "type": "string"
        },
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the request.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultListSearchResult": {
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultListSearchResult",
      "properties": {
        "chunkInfo": {
          "description": "Chunk information.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultListSearchResultChunkInfo"
        },
        "unstructuredDocumentInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfo",
          "description": "Unstructured document information."
        }
      },
      "description": "Search result.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaImportDocumentsResponse": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaImportDocumentsResponse",
      "properties": {
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "errorConfig": {
          "description": "Echoes the destination for the complete errors in the request if set.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaImportErrorConfig"
        }
      },
      "description": "Response of the ImportDocumentsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful."
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestRelevanceFilterSpec": {
      "description": "Relevance filtering specification.",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestRelevanceFilterSpec",
      "properties": {
        "keywordSearchThreshold": {
          "description": "Optional. Relevance filtering threshold specification for keyword search.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestRelevanceFilterSpecRelevanceThresholdSpec"
        },
        "semanticSearchThreshold": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestRelevanceFilterSpecRelevanceThresholdSpec",
          "description": "Optional. Relevance filtering threshold specification for semantic search."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaBatchCreateTargetSitesResponse": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaBatchCreateTargetSitesResponse",
      "properties": {
        "targetSites": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaTargetSite"
          },
          "description": "TargetSites created.",
          "type": "array"
        }
      },
      "description": "Response message for SiteSearchEngineService.BatchCreateTargetSites method."
    },
    "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfig": {
      "id": "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfig",
      "type": "object",
      "properties": {
        "notebooklmConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigNotebooklmConfig",
          "description": "NotebookLM config. If set, this DataStore is connected to NotebookLM Enterprise."
        },
        "alloyDbConfig": {
          "description": "AlloyDB config. If set, this DataStore is connected to AlloyDB.",
          "$ref": "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigAlloyDbConfig"
        },
        "thirdPartyOauthConfig": {
          "description": "Third Party OAuth config. If set, this DataStore is connected to a third party application.",
          "$ref": "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigThirdPartyOauthConfig"
        }
      },
      "description": "Stores information for federated search."
    },
    "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigAlloyDbConfigAlloyDbAiNaturalLanguageConfig": {
      "description": "Configuration for AlloyDB AI Natural Language.",
      "id": "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigAlloyDbConfigAlloyDbAiNaturalLanguageConfig",
      "properties": {
        "nlConfigId": {
          "description": "Optional. AlloyDb AI NL config id, i.e. the value that was used for calling `SELECT alloydb_ai_nl.g_create_configuration(...)`. Can be empty.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigThirdPartyOauthConfig": {
      "properties": {
        "instanceName": {
          "description": "Optional. The instance name identifying the 3P app, e.g., \"vaissptbots-my\". This is different from the instance_uri which is the full URL of the 3P app e.g., \"https://vaissptbots-my.sharepoint.com\".",
          "type": "string"
        },
        "appName": {
          "description": "Optional. The type of the application. E.g., \"jira\", \"box\", etc.",
          "type": "string"
        }
      },
      "description": "Stores information for third party applicationOAuth.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigThirdPartyOauthConfig"
    },
    "GoogleCloudDiscoveryengineV1alphaDeleteAgentMetadata": {
      "type": "object",
      "description": "Metadata related to the progress of the AgentService.DeleteAgent operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteAgentMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaEngineChatEngineConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaEngineChatEngineConfig",
      "type": "object",
      "properties": {
        "dialogflowAgentToLink": {
          "type": "string",
          "description": "The resource name of an exist Dialogflow agent to link to this Chat Engine. Customers can either provide `agent_creation_config` to create agent or provide an agent name that links the agent with the Chat engine. Format: `projects//locations//agents/`. Note that the `dialogflow_agent_to_link` are one-time consumed by and passed to Dialogflow service. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation. Use ChatEngineMetadata.dialogflow_agent for actual agent association after Engine is created."
        },
        "allowCrossRegion": {
          "description": "Optional. If the flag set to true, we allow the agent and engine are in different locations, otherwise the agent and engine are required to be in the same location. The flag is set to false by default. Note that the `allow_cross_region` are one-time consumed by and passed to EngineService.CreateEngine. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation.",
          "type": "boolean"
        },
        "agentCreationConfig": {
          "description": "The configurationt generate the Dialogflow agent that is associated to this Engine. Note that these configurations are one-time consumed by and passed to Dialogflow service. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaEngineChatEngineConfigAgentCreationConfig"
        }
      },
      "description": "Configurations for a Chat Engine."
    },
    "GoogleCloudDiscoveryengineV1alphaRemoveDedicatedCrawlRateMetadata": {
      "description": "Metadata related to the progress of the CrawlRateManagementService.RemoveDedicatedCrawlRate operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1alphaRemoveDedicatedCrawlRateMetadata",
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAssistAnswer": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Immutable. Identifier. Resource name of the `AssistAnswer`. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/sessions/{session}/assistAnswers/{assist_answer}` This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "replies": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaAssistAnswerReply"
          },
          "type": "array",
          "description": "Replies of the assistant."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "FAILED",
            "SUCCEEDED",
            "SKIPPED",
            "CANCELLED"
          ],
          "description": "State of the answer generation.",
          "enumDescriptions": [
            "Unknown.",
            "Assist operation is currently in progress.",
            "Assist operation has failed.",
            "Assist operation has succeeded.",
            "Assist operation has been skipped.",
            "Assist operation has been cancelled (e.g. client closed the stream). May contain a partial response."
          ]
        },
        "assistSkippedReasons": {
          "items": {
            "enum": [
              "ASSIST_SKIPPED_REASON_UNSPECIFIED",
              "NON_ASSIST_SEEKING_QUERY_IGNORED",
              "CUSTOMER_POLICY_VIOLATION"
            ],
            "enumDescriptions": [
              "Default value. Skip reason is not specified.",
              "The assistant ignored the query, because it did not appear to be answer-seeking.",
              "The assistant ignored the query or refused to answer because of a customer policy violation (e.g., the query or the answer contained a banned phrase)."
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Reasons for not answering the assist call."
        },
        "customerPolicyEnforcementResult": {
          "description": "Optional. The field contains information about the various policy checks' results like the banned phrases or the Model Armor checks. This field is populated only if the assist call was skipped due to a policy violation.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAssistAnswerCustomerPolicyEnforcementResult"
        }
      },
      "description": "AssistAnswer resource, main part of AssistResponse.",
      "id": "GoogleCloudDiscoveryengineV1betaAssistAnswer"
    },
    "GoogleCloudDiscoveryengineV1alphaControlFilterAction": {
      "description": "Specified which products may be included in results. Uses same filter as boost.",
      "id": "GoogleCloudDiscoveryengineV1alphaControlFilterAction",
      "type": "object",
      "properties": {
        "dataStore": {
          "description": "Required. Specifies which data store's documents can be filtered by this control. Full data store name e.g. projects/123/locations/global/collections/default_collection/dataStores/default_data_store",
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "Required. A filter to apply on the matching condition results. Required Syntax documentation: https://cloud.google.com/retail/docs/filter-and-order Maximum length is 5000 characters. Otherwise an INVALID ARGUMENT error is thrown."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchParams": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchParams",
      "properties": {
        "dataStoreSpecs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestDataStoreSpec"
          },
          "description": "Specs defining dataStores to filter on in a search call and configurations for those dataStores. This is only considered for engines with multiple dataStores use case. For single dataStore within an engine, they should use the specs at the top level."
        },
        "naturalLanguageQueryUnderstandingSpec": {
          "description": "Optional. Specification to enable natural language understanding capabilities for search requests.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestNaturalLanguageQueryUnderstandingSpec"
        },
        "boostSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpec",
          "description": "Boost specification to boost certain documents in search results which may affect the answer query response. For more information on boosting, see [Boosting](https://cloud.google.com/retail/docs/boosting#boost)"
        },
        "searchResultMode": {
          "description": "Specifies the search result mode. If unspecified, the search result mode defaults to `DOCUMENTS`. See [parse and chunk documents](https://cloud.google.com/generative-ai-app-builder/docs/parse-chunk-documents)",
          "enumDescriptions": [
            "Default value.",
            "Returns documents in the search result.",
            "Returns chunks in the search result. Only available if the DocumentProcessingConfig.chunking_config is specified."
          ],
          "type": "string",
          "enum": [
            "SEARCH_RESULT_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ]
        },
        "filter": {
          "description": "The filter syntax consists of an expression language for constructing a predicate from one or more fields of the documents being filtered. Filter expression is case-sensitive. This will be used to filter search results which may affect the Answer response. If this field is unrecognizable, an `INVALID_ARGUMENT` is returned. Filtering in Vertex AI Search is done by mapping the LHS filter key to a key property defined in the Vertex AI Search backend -- this mapping is defined by the customer in their schema. For example a media customers might have a field 'name' in their schema. In this case the filter would look like this: filter --> name:'ANY(\"king kong\")' For more information about filtering including syntax and filter operators, see [Filter](https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata)",
          "type": "string"
        },
        "maxReturnResults": {
          "format": "int32",
          "description": "Number of search results to return. The default value is 10.",
          "type": "integer"
        },
        "orderBy": {
          "type": "string",
          "description": "The order in which documents are returned. Documents can be ordered by a field in an Document object. Leave it unset if ordered by relevance. `order_by` expression is case-sensitive. For more information on ordering, see [Ordering](https://cloud.google.com/retail/docs/filter-and-order#order) If this field is unrecognizable, an `INVALID_ARGUMENT` is returned."
        }
      },
      "description": "Search parameters."
    },
    "GoogleCloudDiscoveryengineV1Collection": {
      "description": "Collection is a container for configuring resources and access to a set of DataStores.",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. The Collection display name. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned."
        },
        "name": {
          "description": "Immutable. The full resource name of the Collection. Format: `projects/{project}/locations/{location}/collections/{collection_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp the Collection was created at.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1Collection"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpecBoostControlSpec": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpecBoostControlSpec",
      "properties": {
        "controlPoints": {
          "type": "array",
          "description": "The control points used to define the curve. The monotonic function (defined through the interpolation_type above) passes through the control points listed here.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpecBoostControlSpecControlPoint"
          }
        },
        "fieldName": {
          "description": "The name of the field whose value will be used to determine the boost amount.",
          "type": "string"
        },
        "attributeType": {
          "description": "The attribute type to be used to determine the boost amount. The attribute value can be derived from the field value of the specified field_name. In the case of numerical it is straightforward i.e. attribute_value = numerical_field_value. In the case of freshness however, attribute_value = (time.now() - datetime_field_value).",
          "type": "string",
          "enum": [
            "ATTRIBUTE_TYPE_UNSPECIFIED",
            "NUMERICAL",
            "FRESHNESS"
          ],
          "enumDescriptions": [
            "Unspecified AttributeType.",
            "The value of the numerical field will be used to dynamically update the boost amount. In this case, the attribute_value (the x value) of the control point will be the actual value of the numerical field for which the boost_amount is specified.",
            "For the freshness use case the attribute value will be the duration between the current time and the date in the datetime field specified. The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`. For example, `5D`, `3DT12H30M`, `T24H`."
          ]
        },
        "interpolationType": {
          "description": "The interpolation type to be applied to connect the control points listed below.",
          "enumDescriptions": [
            "Interpolation type is unspecified. In this case, it defaults to Linear.",
            "Piecewise linear interpolation will be applied."
          ],
          "type": "string",
          "enum": [
            "INTERPOLATION_TYPE_UNSPECIFIED",
            "LINEAR"
          ]
        }
      },
      "type": "object",
      "description": "Specification for custom ranking based on customer specified attribute value. It provides more controls for customized ranking than the simple (condition, boost) combination above."
    },
    "GoogleCloudDiscoveryengineV1PurgeCompletionSuggestionsMetadata": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1PurgeCompletionSuggestionsMetadata",
      "type": "object",
      "description": "Metadata related to the progress of the PurgeCompletionSuggestions operation. This is returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1alphaPurgeCompletionSuggestionsMetadata": {
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaPurgeCompletionSuggestionsMetadata",
      "type": "object",
      "description": "Metadata related to the progress of the PurgeCompletionSuggestions operation. This is returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperiment": {
      "type": "object",
      "description": "An experiment is a single run of the AlphaEvolve agent, an evolutionary coding agent powered by LLM for algorithm discovery and optimization.",
      "properties": {
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the experiment.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATED",
            "RUNNING",
            "PAUSED",
            "COMPLETED",
            "FAILED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The experiment is created.",
            "The experiment is running.",
            "The experiment is paused.",
            "The experiment is completed.",
            "The experiment has failed."
          ]
        },
        "config": {
          "description": "Required. Experiment configuration.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperimentConfig"
        },
        "createTime": {
          "description": "Output only. Time when the experiment was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The full resource name of the experiment. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/sessions/{session}/alphaEvolveExperiments/{alpha_evolve_experiment}`"
        },
        "stats": {
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperimentStats",
          "description": "Output only. Experiment stats."
        },
        "initialAlphaEvolveProgram": {
          "description": "Output only. Specifies the name of the seed program used to start the experiment.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperiment"
    },
    "GoogleCloudDiscoveryengineV1betaAlloyDbSource": {
      "type": "object",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "The project ID that contains the AlloyDB source. Has a length limit of 128 characters. If not specified, inherits the project ID from the parent request."
        },
        "clusterId": {
          "description": "Required. The AlloyDB cluster to copy the data from with a length limit of 256 characters.",
          "type": "string"
        },
        "tableId": {
          "description": "Required. The AlloyDB table to copy the data from with a length limit of 256 characters.",
          "type": "string"
        },
        "gcsStagingDir": {
          "type": "string",
          "description": "Intermediate Cloud Storage directory used for the import with a length limit of 2,000 characters. Can be specified if one wants to have the AlloyDB export to a specific Cloud Storage directory. Ensure that the AlloyDB service account has the necessary Cloud Storage Admin permissions to access the specified Cloud Storage directory."
        },
        "locationId": {
          "description": "Required. The AlloyDB location to copy the data from with a length limit of 256 characters.",
          "type": "string"
        },
        "databaseId": {
          "type": "string",
          "description": "Required. The AlloyDB database to copy the data from with a length limit of 256 characters."
        }
      },
      "description": "AlloyDB source import data from.",
      "id": "GoogleCloudDiscoveryengineV1betaAlloyDbSource"
    },
    "GoogleCloudDiscoveryengineV1betaTargetSiteFailureReasonQuotaFailure": {
      "id": "GoogleCloudDiscoveryengineV1betaTargetSiteFailureReasonQuotaFailure",
      "properties": {
        "totalRequiredQuota": {
          "type": "string",
          "format": "int64",
          "description": "This number is an estimation on how much total quota this project needs to successfully complete indexing."
        }
      },
      "type": "object",
      "description": "Failed due to insufficient quota."
    },
    "GoogleCloudDiscoveryengineV1DataConnectorRealtimeSyncConfigStreamingError": {
      "type": "object",
      "properties": {
        "streamingErrorReason": {
          "description": "Optional. Streaming error.",
          "enumDescriptions": [
            "Streaming error reason unspecified.",
            "Some error occurred while setting up resources for realtime sync.",
            "Some error was encountered while running realtime sync for the connector.",
            "Ingress endpoint is required when setting up realtime sync in private connectivity."
          ],
          "enum": [
            "STREAMING_ERROR_REASON_UNSPECIFIED",
            "STREAMING_SETUP_ERROR",
            "STREAMING_SYNC_ERROR",
            "INGRESS_ENDPOINT_REQUIRED"
          ],
          "type": "string"
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "Optional. Error details."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1DataConnectorRealtimeSyncConfigStreamingError",
      "description": "Streaming error details."
    },
    "GoogleCloudDiscoveryengineV1betaBigQuerySource": {
      "description": "BigQuery source import data from.",
      "type": "object",
      "properties": {
        "gcsStagingDir": {
          "description": "Intermediate Cloud Storage directory used for the import with a length limit of 2,000 characters. Can be specified if one wants to have the BigQuery export to a specific Cloud Storage directory.",
          "type": "string"
        },
        "dataSchema": {
          "type": "string",
          "description": "The schema to use when parsing the data from the source. Supported values for user event imports: * `user_event` (default): One UserEvent per row. Supported values for document imports: * `document` (default): One Document format per row. Each document must have a valid Document.id and one of Document.json_data or Document.struct_data. * `custom`: One custom data per row in arbitrary format that conforms to the defined Schema of the data store. This can only be used by the GENERIC Data Store vertical."
        },
        "partitionDate": {
          "description": "BigQuery time partitioned table's _PARTITIONDATE in YYYY-MM-DD format.",
          "$ref": "GoogleTypeDate"
        },
        "tableId": {
          "type": "string",
          "description": "Required. The BigQuery table to copy the data from with a length limit of 1,024 characters."
        },
        "projectId": {
          "description": "The project ID or the project number that contains the BigQuery source. Has a length limit of 128 characters. If not specified, inherits the project ID from the parent request.",
          "type": "string"
        },
        "datasetId": {
          "description": "Required. The BigQuery data set to copy the data from with a length limit of 1,024 characters.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaBigQuerySource"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecExtractiveContentSpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecExtractiveContentSpec",
      "properties": {
        "maxExtractiveAnswerCount": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of extractive answers returned in each search result. An extractive answer is a verbatim answer extracted from the original document, which provides a precise and contextually relevant answer to the search query. If the number of matching answers is less than the `max_extractive_answer_count`, return all of the answers. Otherwise, return the `max_extractive_answer_count`. At most five answers are returned for each SearchResult."
        },
        "numPreviousSegments": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies whether to also include the adjacent from each selected segments. Return at most `num_previous_segments` segments before each selected segments."
        },
        "maxExtractiveSegmentCount": {
          "type": "integer",
          "description": "The max number of extractive segments returned in each search result. Only applied if the DataStore is set to DataStore.ContentConfig.CONTENT_REQUIRED or DataStore.solution_types is SOLUTION_TYPE_CHAT. An extractive segment is a text segment extracted from the original document that is relevant to the search query, and, in general, more verbose than an extractive answer. The segment could then be used as input for LLMs to generate summaries and answers. If the number of matching segments is less than `max_extractive_segment_count`, return all of the segments. Otherwise, return the `max_extractive_segment_count`.",
          "format": "int32"
        },
        "numNextSegments": {
          "type": "integer",
          "format": "int32",
          "description": "Return at most `num_next_segments` segments after each selected segments."
        },
        "returnExtractiveSegmentScore": {
          "type": "boolean",
          "description": "Specifies whether to return the confidence score from the extractive segments in each search result. This feature is available only for new or allowlisted data stores. To allowlist your data store, contact your Customer Engineer. The default value is `false`."
        }
      },
      "type": "object",
      "description": "A specification for configuring the extractive content in a search response."
    },
    "GoogleCloudDiscoveryengineV1betaEvaluationEvaluationSpec": {
      "id": "GoogleCloudDiscoveryengineV1betaEvaluationEvaluationSpec",
      "description": "Describes the specification of the evaluation.",
      "properties": {
        "searchRequest": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequest",
          "description": "Required. The search request that is used to perform the evaluation. Only the following fields within SearchRequest are supported; if any other fields are provided, an UNSUPPORTED error will be returned: * SearchRequest.serving_config * SearchRequest.branch * SearchRequest.canonical_filter * SearchRequest.query_expansion_spec * SearchRequest.spell_correction_spec * SearchRequest.content_search_spec * SearchRequest.user_pseudo_id"
        },
        "querySetSpec": {
          "description": "Optional. The specification of the query set.",
          "$ref": "GoogleCloudDiscoveryengineV1betaEvaluationEvaluationSpecQuerySetSpec"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfigThirdPartyOauthConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfigThirdPartyOauthConfig",
      "description": "Stores information for third party applicationOAuth.",
      "properties": {
        "instanceName": {
          "description": "Optional. The instance name identifying the 3P app, e.g., \"vaissptbots-my\". This is different from the instance_uri which is the full URL of the 3P app e.g., \"https://vaissptbots-my.sharepoint.com\".",
          "type": "string"
        },
        "appName": {
          "type": "string",
          "description": "Optional. The type of the application. E.g., \"jira\", \"box\", etc."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1Control": {
      "id": "GoogleCloudDiscoveryengineV1Control",
      "type": "object",
      "properties": {
        "filterAction": {
          "$ref": "GoogleCloudDiscoveryengineV1ControlFilterAction",
          "description": "Defines a filter-type control Currently not supported by Recommendation"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Fully qualified name `projects/*/locations/global/dataStore/*/controls/*`"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Human readable name. The identifier used in UI views. Must be UTF-8 encoded string. Length limit is 128 characters. Otherwise an INVALID ARGUMENT error is thrown."
        },
        "promoteAction": {
          "description": "Promote certain links based on predefined trigger queries.",
          "$ref": "GoogleCloudDiscoveryengineV1ControlPromoteAction"
        },
        "associatedServingConfigIds": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. List of all ServingConfig IDs this control is attached to. May take up to 10 minutes to update after changes."
        },
        "solutionType": {
          "enumDescriptions": [
            "Default value.",
            "Used for Recommendations AI.",
            "Used for Discovery Search.",
            "Used for use cases related to the Generative AI agent.",
            "Used for use cases related to the Generative Chat agent. It's used for Generative chat engine only, the associated data stores must enrolled with `SOLUTION_TYPE_CHAT` solution.",
            "Used for AI Mode."
          ],
          "description": "Required. Immutable. What solution the control belongs to. Must be compatible with vertical of resource. Otherwise an INVALID ARGUMENT error is thrown.",
          "type": "string",
          "enum": [
            "SOLUTION_TYPE_UNSPECIFIED",
            "SOLUTION_TYPE_RECOMMENDATION",
            "SOLUTION_TYPE_SEARCH",
            "SOLUTION_TYPE_CHAT",
            "SOLUTION_TYPE_GENERATIVE_CHAT",
            "SOLUTION_TYPE_AI_MODE"
          ]
        },
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1Condition"
          },
          "description": "Determines when the associated action will trigger. Omit to always apply the action. Currently only a single condition may be specified. Otherwise an INVALID ARGUMENT error is thrown."
        },
        "boostAction": {
          "description": "Defines a boost-type control",
          "$ref": "GoogleCloudDiscoveryengineV1ControlBoostAction"
        },
        "redirectAction": {
          "description": "Defines a redirect-type control.",
          "$ref": "GoogleCloudDiscoveryengineV1ControlRedirectAction"
        },
        "synonymsAction": {
          "$ref": "GoogleCloudDiscoveryengineV1ControlSynonymsAction",
          "description": "Treats a group of terms as synonyms of one another."
        },
        "useCases": {
          "description": "Specifies the use case for the control. Affects what condition fields can be set. Only applies to SOLUTION_TYPE_SEARCH. Currently only allow one use case per control. Must be set when solution_type is SolutionType.SOLUTION_TYPE_SEARCH.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "SEARCH_USE_CASE_UNSPECIFIED",
              "SEARCH_USE_CASE_SEARCH",
              "SEARCH_USE_CASE_BROWSE"
            ],
            "enumDescriptions": [
              "Value used when unset. Will not occur in CSS.",
              "Search use case. Expects the traffic has a non-empty query.",
              "Browse use case. Expects the traffic has an empty query."
            ]
          }
        }
      },
      "description": "Defines a conditioned behavior to employ during serving. Must be attached to a ServingConfig to be considered at serving time. Permitted actions dependent on `SolutionType`."
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequest": {
      "description": "Request message for ConversationalSearchService.AnswerQuery method.",
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequest",
      "properties": {
        "safetySpec": {
          "description": "Model specification.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSafetySpec"
        },
        "groundingSpec": {
          "description": "Optional. Grounding specification.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestGroundingSpec"
        },
        "userPseudoId": {
          "description": "A unique identifier for tracking visitors. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor logs in or out of the website. This field should NOT have a fixed value such as `unknown_visitor`. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "type": "string"
        },
        "searchSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpec",
          "description": "Search specification."
        },
        "userLabels": {
          "description": "The user labels applied to a resource must meet the following requirements: * Each resource can have multiple labels, up to a maximum of 64. * Each label must be a key-value pair. * Keys have a minimum length of 1 character and a maximum length of 63 characters and cannot be empty. Values can be empty and have a maximum length of 63 characters. * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. All characters must use UTF-8 encoding, and international characters are allowed. * The key portion of a label must be unique. However, you can use the same key with multiple resources. * Keys must start with a lowercase letter or international character. See [Google Cloud Document](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements) for more details.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "session": {
          "description": "The session resource name. Not required. When session field is not set, the API is in sessionless mode. We support auto session mode: users can use the wildcard symbol `-` as session ID. A new ID will be automatically generated and assigned.",
          "type": "string"
        },
        "asynchronousMode": {
          "deprecated": true,
          "type": "boolean",
          "description": "Deprecated: This field is deprecated. Streaming Answer API will be supported. Asynchronous mode control. If enabled, the response will be returned with answer/session resource name without final answer. The API users need to do the polling to get the latest status of answer/session by calling ConversationalSearchService.GetAnswer or ConversationalSearchService.GetSession method."
        },
        "endUserSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestEndUserSpec",
          "description": "Optional. End user specification."
        },
        "query": {
          "description": "Required. Current user query.",
          "$ref": "GoogleCloudDiscoveryengineV1betaQuery"
        },
        "relatedQuestionsSpec": {
          "description": "Related questions specification.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestRelatedQuestionsSpec"
        },
        "answerGenerationSpec": {
          "description": "Answer generation specification.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestAnswerGenerationSpec"
        },
        "queryUnderstandingSpec": {
          "description": "Query understanding specification.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestQueryUnderstandingSpec"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1AssistantGenerationConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1AssistantGenerationConfig",
      "properties": {
        "defaultModelId": {
          "type": "string",
          "description": "Optional. The default model to use for assistant."
        },
        "allowedModelIds": {
          "type": "array",
          "description": "Optional. The list of models that are allowed to be used for assistant.",
          "items": {
            "type": "string"
          }
        },
        "defaultLanguage": {
          "description": "The default language to use for the generation of the assistant response. Use an ISO 639-1 language code such as `en`. If not specified, the language will be automatically detected.",
          "type": "string"
        },
        "systemInstruction": {
          "description": "System instruction, also known as the prompt preamble for LLM calls. See also https://cloud.google.com/vertex-ai/generative-ai/docs/learn/prompts/system-instructions",
          "$ref": "GoogleCloudDiscoveryengineV1AssistantGenerationConfigSystemInstruction"
        }
      },
      "description": "Configuration for the generation of the assistant response."
    },
    "GoogleCloudDiscoveryengineV1betaBatchGetDocumentsMetadataResponse": {
      "id": "GoogleCloudDiscoveryengineV1betaBatchGetDocumentsMetadataResponse",
      "description": "Response message for DocumentService.BatchGetDocumentsMetadata method.",
      "type": "object",
      "properties": {
        "documentsMetadata": {
          "type": "array",
          "description": "The metadata of the Documents.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaBatchGetDocumentsMetadataResponseDocumentMetadata"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerStepAction": {
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerStepAction",
      "description": "Action.",
      "type": "object",
      "properties": {
        "searchAction": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionSearchAction",
          "description": "Search action."
        },
        "observation": {
          "description": "Observation.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservation"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1DataConnector": {
      "description": "Manages the connection to external data sources for all data stores grouped under a Collection. It's a singleton resource of Collection. The initialization is only supported through DataConnectorService.SetUpDataConnector method, which will create a new Collection and initialize its DataConnector.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1DataConnector",
      "properties": {
        "latestPauseTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The most recent timestamp when this DataConnector was paused, affecting all functionalities such as data synchronization. Pausing a connector has the following effects: - All functionalities, including data synchronization, are halted. - Any ongoing data synchronization job will be canceled. - No future data synchronization runs will be scheduled nor can be triggered."
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "WARNING",
            "INITIALIZATION_FAILED",
            "UPDATING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "The connector is being set up.",
            "The connector is successfully set up and awaiting next sync run.",
            "The connector is in error. The error details can be found in DataConnector.errors. If the error is unfixable, the DataConnector can be deleted by CollectionService.DeleteCollection API.",
            "The connector is actively syncing records from the data source.",
            "The connector has completed a sync run, but encountered non-fatal errors.",
            "Connector initialization failed. Potential causes include runtime errors or issues in the asynchronous pipeline, preventing the request from reaching downstream services (except for some connector types).",
            "Connector is in the process of an update."
          ],
          "description": "Output only. State of the connector."
        },
        "actionConfig": {
          "description": "Optional. Action configurations to make the connector support actions.",
          "$ref": "GoogleCloudDiscoveryengineV1ActionConfig"
        },
        "realtimeSyncConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1DataConnectorRealtimeSyncConfig",
          "description": "Optional. The configuration for realtime sync."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Timestamp the DataConnector was created at.",
          "type": "string",
          "format": "google-datetime"
        },
        "staticIpEnabled": {
          "description": "Optional. Whether customer has enabled static IP addresses for this connector.",
          "type": "boolean"
        },
        "jsonParams": {
          "type": "string",
          "description": "Required data connector parameters in json string format."
        },
        "identityScheduleConfig": {
          "description": "The configuration for the identity data synchronization runs. This contains the refresh interval to sync the Access Control List information for the documents ingested by this connector.",
          "$ref": "GoogleCloudDiscoveryengineV1IdentityScheduleConfig"
        },
        "federatedConfig": {
          "description": "Optional. Any params and credentials used specifically for hybrid connectors supporting FEDERATED mode. This field should only be set if the connector is a hybrid connector and we want to enable FEDERATED mode.",
          "$ref": "GoogleCloudDiscoveryengineV1DataConnectorFederatedConfig"
        },
        "tag": {
          "type": "string",
          "description": "Optional. Immutable. User-facing, version-independent label for this connector. May be shared by multiple connectors under the same (project, location, collection, data_source); tag-based lookup returns the one with the greatest create_time. Optional at Create time. Agent Designer resolves connectors via (data_source, tag) when set, falling back to the legacy resource-name lookup when unset, so connectors created before the tag-write launch continue to work without a backfill."
        },
        "entities": {
          "description": "List of entities from the connected data source to ingest.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1DataConnectorSourceEntity"
          }
        },
        "alertPolicyConfigs": {
          "description": "Optional. The connector level alert config.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1AlertPolicyConfig"
          },
          "type": "array"
        },
        "bapConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1BAPConfig",
          "description": "Optional. The configuration for establishing a BAP connection."
        },
        "realtimeState": {
          "description": "Output only. real-time sync state",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "WARNING",
            "INITIALIZATION_FAILED",
            "UPDATING"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "The connector is being set up.",
            "The connector is successfully set up and awaiting next sync run.",
            "The connector is in error. The error details can be found in DataConnector.errors. If the error is unfixable, the DataConnector can be deleted by CollectionService.DeleteCollection API.",
            "The connector is actively syncing records from the data source.",
            "The connector has completed a sync run, but encountered non-fatal errors.",
            "Connector initialization failed. Potential causes include runtime errors or issues in the asynchronous pipeline, preventing the request from reaching downstream services (except for some connector types).",
            "Connector is in the process of an update."
          ]
        },
        "autoRunDisabled": {
          "description": "Optional. Indicates whether the connector is disabled for auto run. It can be used to pause periodical and real time sync. Update: with the introduction of incremental_sync_disabled, auto_run_disabled is used to pause/disable only full syncs",
          "type": "boolean"
        },
        "aclEnabled": {
          "type": "boolean",
          "description": "Optional. Whether the connector will be created with an ACL config. Currently this field only affects Cloud Storage and BigQuery connectors."
        },
        "hybridIngestionDisabled": {
          "description": "Optional. If the connector is a hybrid connector, determines whether ingestion is enabled and appropriate resources are provisioned during connector creation. If the connector is not a hybrid connector, this field is ignored.",
          "type": "boolean"
        },
        "refreshInterval": {
          "type": "string",
          "format": "google-duration",
          "description": "Required. The refresh interval for data sync. If duration is set to 0, the data will be synced in real time. The streaming feature is not supported yet. The minimum is 30 minutes and maximum is 7 days. When the refresh interval is set to the same value as the incremental refresh interval, incremental sync will be disabled."
        },
        "metadata": {
          "description": "Optional. User-facing metadata for the connector. Populated from the connector's generated metadata / registry `ConnectorSource`.",
          "$ref": "GoogleCloudDiscoveryengineV1DataConnectorConnectorMetadata"
        },
        "identityRefreshInterval": {
          "description": "The refresh interval to sync the Access Control List information for the documents ingested by this connector. If not set, the access control list will be refreshed at the default interval of 30 minutes. The identity refresh interval can be at least 30 minutes and at most 7 days.",
          "type": "string",
[...]
