{
  "kind": "discovery#restDescription",
  "name": "discoveryengine",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast1",
      "endpointUrl": "https://discoveryengine.asia-northeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west2",
      "endpointUrl": "https://discoveryengine.europe-west2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us",
      "endpointUrl": "https://discoveryengine.us.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "eu",
      "endpointUrl": "https://discoveryengine.eu.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "in",
      "endpointUrl": "https://discoveryengine.in.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://discoveryengine.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west3",
      "endpointUrl": "https://discoveryengine.europe-west3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://discoveryengine.ca.rep.googleapis.com/",
      "location": "ca",
      "description": "Regional Endpoint"
    }
  ],
  "documentationLink": "https://cloud.google.com/generative-ai-app-builder/docs/",
  "batchPath": "batch",
  "description": "Discovery Engine API.",
  "rootUrl": "https://discoveryengine.googleapis.com/",
  "baseUrl": "https://discoveryengine.googleapis.com/",
  "ownerName": "Google",
  "parameters": {
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "id": "discoveryengine:v1alpha",
  "basePath": "",
  "version_module": true,
  "protocol": "rest",
  "mtlsRootUrl": "https://discoveryengine.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "version": "v1alpha",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "billingAccounts": {
      "resources": {
        "billingAccountLicenseConfigs": {
          "methods": {
            "retractLicenseConfig": {
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaRetractLicenseConfigRequest"
              },
              "path": "v1alpha/{+billingAccountLicenseConfig}:retractLicenseConfig",
              "parameters": {
                "billingAccountLicenseConfig": {
                  "description": "Required. Full resource name of BillingAccountLicenseConfig. Format: `billingAccounts/{billing_account}/billingAccountLicenseConfigs/{billing_account_license_config_id}`.",
                  "required": true,
                  "pattern": "^billingAccounts/[^/]+/billingAccountLicenseConfigs/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "discoveryengine.billingAccounts.billingAccountLicenseConfigs.retractLicenseConfig",
              "httpMethod": "POST",
              "parameterOrder": [
                "billingAccountLicenseConfig"
              ],
              "flatPath": "v1alpha/billingAccounts/{billingAccountsId}/billingAccountLicenseConfigs/{billingAccountLicenseConfigsId}:retractLicenseConfig",
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaRetractLicenseConfigResponse"
              },
              "description": "This method is called from the billing account side to retract the LicenseConfig from the given project back to the billing account.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ]
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "flatPath": "v1alpha/billingAccounts/{billingAccountsId}/billingAccountLicenseConfigs",
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaListBillingAccountLicenseConfigsResponse"
              },
              "description": "Lists all BillingAccountLicenseConfigs for a given billing account.",
              "id": "discoveryengine.billingAccounts.billingAccountLicenseConfigs.list",
              "parameters": {
                "parent": {
                  "pattern": "^billingAccounts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Format: `billingAccounts/{billing_account}`.",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Not supported."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. Not supported.",
                  "format": "int32"
                }
              },
              "path": "v1alpha/{+parent}/billingAccountLicenseConfigs"
            },
            "get": {
              "flatPath": "v1alpha/billingAccounts/{billingAccountsId}/billingAccountLicenseConfigs/{billingAccountLicenseConfigsId}",
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaBillingAccountLicenseConfig"
              },
              "description": "Gets a BillingAccountLicenseConfig.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. Full resource name of BillingAccountLicenseConfig. Format: `billingAccounts/{billing_account}/billingAccountLicenseConfigs/{billing_account_license_config_id}`.",
                  "required": true,
                  "pattern": "^billingAccounts/[^/]+/billingAccountLicenseConfigs/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "discoveryengine.billingAccounts.billingAccountLicenseConfigs.get"
            },
            "distributeLicenseConfig": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
              ],
              "flatPath": "v1alpha/billingAccounts/{billingAccountsId}/billingAccountLicenseConfigs/{billingAccountLicenseConfigsId}:distributeLicenseConfig",
              "response": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaDistributeLicenseConfigResponse"
              },
              "description": "Distributes a LicenseConfig from billing account level to project level.",
              "parameterOrder": [
                "billingAccountLicenseConfig"
              ],
              "httpMethod": "POST",
              "parameters": {
                "billingAccountLicenseConfig": {
                  "pattern": "^billingAccounts/[^/]+/billingAccountLicenseConfigs/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Full resource name of BillingAccountLicenseConfig. Format: `billingAccounts/{billing_account}/billingAccountLicenseConfigs/{billing_account_license_config_id}`.",
                  "required": true
                }
              },
              "id": "discoveryengine.billingAccounts.billingAccountLicenseConfigs.distributeLicenseConfig",
              "path": "v1alpha/{+billingAccountLicenseConfig}:distributeLicenseConfig",
              "request": {
                "$ref": "GoogleCloudDiscoveryengineV1alphaDistributeLicenseConfigRequest"
              }
            }
          }
        }
      }
    },
    "projects": {
      "methods": {
        "patch": {
          "request": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaProject"
          },
          "parameters": {
            "name": {
              "description": "Output only. Full resource name of the project, for example `projects/{project}`. Note that when making requests, project number and project id are both acceptable, but the server will always respond in project number.",
              "required": true,
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "type": "string"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "description": "Optional. The list of fields to update. Supported fields: * `customer_provided_config` * `customer_provided_config.notebooklm_config.observability_config`",
              "location": "query",
              "type": "string"
            }
          },
          "id": "discoveryengine.projects.patch",
          "path": "v1alpha/{+name}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/discoveryengine.readwrite",
            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
          ],
          "flatPath": "v1alpha/projects/{projectsId}",
          "response": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaProject"
          },
          "description": "Updates the editable settings of a Discovery Engine Project."
        },
        "reportConsentChange": {
          "httpMethod": "POST",
          "parameterOrder": [
            "project"
          ],
          "flatPath": "v1alpha/projects/{projectsId}:reportConsentChange",
          "response": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaProject"
          },
          "description": "Updates service terms for this project. This method can be used to retroactively accept the latest terms. Terms available for update: * [Terms for data use](https://cloud.google.com/retail/data-use-terms)",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/discoveryengine.readwrite",
            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
          ],
          "request": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaReportConsentChangeRequest"
          },
          "path": "v1alpha/{+project}:reportConsentChange",
          "id": "discoveryengine.projects.reportConsentChange",
          "parameters": {
            "project": {
              "description": "Required. Full resource name of a Project, such as `projects/{project_id_or_number}`.",
              "required": true,
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "type": "string"
            }
          }
        },
        "provision": {
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Required. Full resource name of a Project, such as `projects/{project_id_or_number}`.",
              "required": true
            }
          },
          "id": "discoveryengine.projects.provision",
          "path": "v1alpha/{+name}:provision",
          "request": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaProvisionProjectRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/discoveryengine.readwrite",
            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
          ],
          "flatPath": "v1alpha/projects/{projectsId}:provision",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "Provisions the project resource. During the process, related systems will get prepared and initialized. Caller must read the [Terms for data use](https://cloud.google.com/retail/data-use-terms), and optionally specify in request to provide consent to that service terms.",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "POST"
        },
        "get": {
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/discoveryengine.readwrite",
            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
          ],
          "flatPath": "v1alpha/projects/{projectsId}",
          "response": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaProject"
          },
          "description": "Gets a Project. Returns NOT_FOUND when the project is not yet created.",
          "parameters": {
            "name": {
              "description": "Required. Full resource name of a Project, such as `projects/{project_id_or_number}`.",
              "required": true,
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "id": "discoveryengine.projects.get",
          "path": "v1alpha/{+name}"
        }
      },
      "resources": {
        "locations": {
          "resources": {
            "groundingConfigs": {
              "methods": {
                "check": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/discoveryengine.readwrite",
                    "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/groundingConfigs/{groundingConfigsId}:check",
                  "response": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaCheckGroundingResponse"
                  },
                  "description": "Performs a grounding check.",
                  "parameterOrder": [
                    "groundingConfig"
                  ],
                  "httpMethod": "POST",
                  "id": "discoveryengine.projects.locations.groundingConfigs.check",
                  "parameters": {
                    "groundingConfig": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/groundingConfigs/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the grounding config, such as `projects/*/locations/global/groundingConfigs/default_grounding_config`.",
                      "required": true
                    }
                  },
                  "path": "v1alpha/{+groundingConfig}:check",
                  "request": {
                    "$ref": "GoogleCloudDiscoveryengineV1alphaCheckGroundingRequest"
                  }
                }
              }
            },
            "collections": {
              "resources": {
                "engines": {
                  "resources": {
                    "widgetConfigs": {
                      "methods": {
                        "patch": {
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "PATCH",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/widgetConfigs/{widgetConfigsId}",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaWidgetConfig"
                          },
                          "description": "Update a WidgetConfig.",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaWidgetConfig"
                          },
                          "id": "discoveryengine.projects.locations.collections.engines.widgetConfigs.patch",
                          "parameters": {
                            "name": {
                              "description": "Immutable. The full resource name of the widget config. Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}/widgetConfigs/{widget_config_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/widgetConfigs/[^/]+$",
                              "location": "path",
                              "type": "string"
                            },
                            "updateMask": {
                              "format": "google-fieldmask",
                              "location": "query",
                              "type": "string",
                              "description": "Indicates which fields in the provided WidgetConfig to update. The following are the only supported fields: * WidgetConfig.enable_autocomplete If not set, all supported fields are updated."
                            }
                          },
                          "path": "v1alpha/{+name}"
                        },
                        "get": {
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/widgetConfigs/{widgetConfigsId}",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaWidgetConfig"
                          },
                          "description": "Gets a WidgetConfig.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1alpha/{+name}",
                          "id": "discoveryengine.projects.locations.collections.engines.widgetConfigs.get",
                          "parameters": {
                            "acceptCache": {
                              "location": "query",
                              "type": "boolean",
                              "description": "Optional. Whether it's acceptable to load the widget config from cache. If set to true, recent changes on widget configs may take a few minutes to reflect on the end user's view. It's recommended to set to true for maturely developed widgets, as it improves widget performance. Set to false to see changes reflected in prod right away, if your widget is under development."
                            },
                            "getWidgetConfigRequestOption.turnOffCollectionComponents": {
                              "location": "query",
                              "type": "boolean",
                              "description": "Optional. Whether to turn off collection_components in WidgetConfig to reduce latency and data transmission."
                            },
                            "languageCode": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. BCP-47 language tag (e.g. \"en\", \"fr-CA\"). Used to localize human-readable strings in the response, such as the model selector `display_name` / `description` on `WidgetConfig.UiSettings.ModelConfigInfo`. Empty / unset falls back to the default language (English)."
                            },
                            "name": {
                              "description": "Required. Full WidgetConfig resource name. Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}/widgetConfigs/{widget_config_id}`",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/widgetConfigs/[^/]+$",
                              "location": "path",
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "operations": {
                      "methods": {
                        "list": {
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/operations",
                          "response": {
                            "$ref": "GoogleLongrunningListOperationsResponse"
                          },
                          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1alpha/{+name}/operations",
                          "parameters": {
                            "returnPartialSuccess": {
                              "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                              "location": "query",
                              "type": "boolean"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "The standard list page token."
                            },
                            "pageSize": {
                              "format": "int32",
                              "location": "query",
                              "type": "integer",
                              "description": "The standard list page size."
                            },
                            "filter": {
                              "description": "The standard list filter.",
                              "location": "query",
                              "type": "string"
                            },
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "description": "The name of the operation's parent resource.",
                              "required": true
                            }
                          },
                          "id": "discoveryengine.projects.locations.collections.engines.operations.list"
                        },
                        "get": {
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/operations/{operationsId}",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "path": "v1alpha/{+name}",
                          "id": "discoveryengine.projects.locations.collections.engines.operations.get",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/operations/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "description": "The name of the operation resource.",
                              "required": true
                            }
                          }
                        }
                      }
                    },
                    "completionConfig": {
                      "methods": {
                        "completeQuery": {
                          "path": "v1alpha/{+completionConfig}:completeQuery",
                          "id": "discoveryengine.projects.locations.collections.engines.completionConfig.completeQuery",
                          "parameters": {
                            "completionConfig": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/completionConfig$",
                              "location": "path",
                              "type": "string",
                              "description": "Required. The completion_config of the parent dataStore or engine resource name for which the completion is performed, such as `projects/*/locations/global/collections/default_collection/dataStores/*/completionConfig` `projects/*/locations/global/collections/default_collection/engines/*/completionConfig`.",
                              "required": true
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaAdvancedCompleteQueryRequest"
                          },
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/completionConfig:completeQuery",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaAdvancedCompleteQueryResponse"
                          },
                          "description": "Completes the user input with advanced keyword suggestions.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloud_search.query",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "completionConfig"
                          ]
                        },
                        "removeSuggestion": {
                          "parameters": {
                            "completionConfig": {
                              "description": "Required. The completion_config of the parent engine resource name for which the search history suggestion is to be removed, such as `projects/*/locations/global/collections/default_collection/engines/*/completionConfig`.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/completionConfig$",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "id": "discoveryengine.projects.locations.collections.engines.completionConfig.removeSuggestion",
                          "path": "v1alpha/{+completionConfig}:removeSuggestion",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaRemoveSuggestionRequest"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/completionConfig:removeSuggestion",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaRemoveSuggestionResponse"
                          },
                          "description": "Removes the search history suggestion in an engine for a user. This will remove the suggestion from being returned in the AdvancedCompleteQueryResponse.recent_search_suggestions for this user. If the user searches the same suggestion again, the new history will override and suggest this suggestion again.",
                          "parameterOrder": [
                            "completionConfig"
                          ],
                          "httpMethod": "POST"
                        }
                      }
                    },
                    "controls": {
                      "methods": {
                        "create": {
                          "path": "v1alpha/{+parent}/controls",
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "description": "Required. Full resource name of parent data store. Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}` or `projects/{project}/locations/{location}/collections/{collection_id}/engines/{engine_id}`.",
                              "required": true
                            },
                            "controlId": {
                              "location": "query",
                              "type": "string",
                              "description": "Required. The ID to use for the Control, which will become the final component of the Control's resource name. This value must be within 1-63 characters. Valid characters are /a-z-_/."
                            }
                          },
                          "id": "discoveryengine.projects.locations.collections.engines.controls.create",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaControl"
                          },
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/controls",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaControl"
                          },
                          "description": "Creates a Control. By default 1000 controls are allowed for a data store. A request can be submitted to adjust this limit. If the Control to create already exists, an ALREADY_EXISTS error is returned.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "list": {
                          "path": "v1alpha/{+parent}/controls",
                          "id": "discoveryengine.projects.locations.collections.engines.controls.list",
                          "parameters": {
                            "parent": {
                              "description": "Required. The data store resource name. Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}` or `projects/{project}/locations/{location}/collections/{collection_id}/engines/{engine_id}`.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+$",
                              "location": "path",
                              "type": "string"
                            },
                            "filter": {
                              "description": "Optional. A filter to apply on the list results. Supported features: * List all the products under the parent branch if filter is unset. Currently this field is unsupported.",
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "format": "int32",
                              "location": "query",
                              "type": "integer",
                              "description": "Optional. Maximum number of results to return. If unspecified, defaults to 50. Max allowed value is 1000."
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. A page token, received from a previous `ListControls` call. Provide this to retrieve the subsequent page."
                            }
                          },
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/controls",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaListControlsResponse"
                          },
                          "description": "Lists all Controls by their parent DataStore.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ]
                        },
                        "patch": {
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaControl"
                          },
                          "path": "v1alpha/{+name}",
                          "parameters": {
                            "name": {
                              "description": "Immutable. Fully qualified name `projects/*/locations/global/dataStore/*/controls/*`",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/controls/[^/]+$",
                              "location": "path",
                              "type": "string"
                            },
                            "updateMask": {
                              "description": "Optional. Indicates which fields in the provided Control to update. The following are NOT supported: * Control.name * Control.solution_type If not set or empty, all supported fields are updated.",
                              "location": "query",
                              "type": "string",
                              "format": "google-fieldmask"
                            }
                          },
                          "id": "discoveryengine.projects.locations.collections.engines.controls.patch",
                          "httpMethod": "PATCH",
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/controls/{controlsId}",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaControl"
                          },
                          "description": "Updates a Control. Control action type cannot be changed. If the Control to update does not exist, a NOT_FOUND error is returned.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ]
                        },
                        "delete": {
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/controls/{controlsId}",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "description": "Deletes a Control. If the Control to delete does not exist, a NOT_FOUND error is returned.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "httpMethod": "DELETE",
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1alpha/{+name}",
                          "id": "discoveryengine.projects.locations.collections.engines.controls.delete",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/controls/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "description": "Required. The resource name of the Control to delete. Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}/controls/{control_id}`",
                              "required": true
                            }
                          }
                        },
                        "get": {
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/controls/{controlsId}",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaControl"
                          },
                          "description": "Gets a Control.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1alpha/{+name}",
                          "id": "discoveryengine.projects.locations.collections.engines.controls.get",
                          "parameters": {
                            "name": {
                              "description": "Required. The resource name of the Control to get. Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}/controls/{control_id}`",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/controls/[^/]+$",
                              "location": "path",
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "conversations": {
                      "methods": {
                        "converse": {
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/conversations/{conversationsId}:converse",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaConverseConversationResponse"
                          },
                          "description": "Converses a conversation.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1alpha/{+name}:converse",
                          "parameters": {
                            "name": {
                              "description": "Required. The resource name of the Conversation to get. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store_id}/conversations/{conversation_id}`. Use `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store_id}/conversations/-` to activate auto session mode, which automatically creates a new conversation inside a ConverseConversation session.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/conversations/[^/]+$",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "id": "discoveryengine.projects.locations.collections.engines.conversations.converse",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaConverseConversationRequest"
                          }
                        },
                        "create": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/conversations",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaConversation"
                          },
                          "description": "Creates a Conversation. If the Conversation to create already exists, an ALREADY_EXISTS error is returned.",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaConversation"
                          },
                          "id": "discoveryengine.projects.locations.collections.engines.conversations.create",
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "description": "Required. Full resource name of parent data store. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store_id}`",
                              "required": true
                            }
                          },
                          "path": "v1alpha/{+parent}/conversations"
                        },
                        "list": {
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/conversations",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaListConversationsResponse"
                          },
                          "description": "Lists all Conversations by their parent DataStore.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v1alpha/{+parent}/conversations",
                          "id": "discoveryengine.projects.locations.collections.engines.conversations.list",
                          "parameters": {
                            "filter": {
                              "description": "A filter to apply on the list results. The supported features are: user_pseudo_id, state. Example: \"user_pseudo_id = some_id\"",
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "description": "Required. The data store resource name. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store_id}`",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+$",
                              "location": "path",
                              "type": "string"
                            },
                            "orderBy": {
                              "location": "query",
                              "type": "string",
                              "description": "A comma-separated list of fields to order by, sorted in ascending order. Use \"desc\" after a field name for descending. Supported fields: * `update_time` * `create_time` * `conversation_name` Example: \"update_time desc\" \"create_time\""
                            },
                            "pageSize": {
                              "format": "int32",
                              "description": "Maximum number of results to return. If unspecified, defaults to 50. Max allowed value is 1000.",
                              "location": "query",
                              "type": "integer"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "A page token, received from a previous `ListConversations` call. Provide this to retrieve the subsequent page."
                            }
                          }
                        },
                        "patch": {
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/conversations/{conversationsId}",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaConversation"
                          },
                          "description": "Updates a Conversation. Conversation action type cannot be changed. If the Conversation to update does not exist, a NOT_FOUND error is returned.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "httpMethod": "PATCH",
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1alpha/{+name}",
                          "parameters": {
                            "name": {
                              "description": "Immutable. Fully qualified name `projects/{project}/locations/global/collections/{collection}/dataStore/*/conversations/*` or `projects/{project}/locations/global/collections/{collection}/engines/*/conversations/*`.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/conversations/[^/]+$",
                              "location": "path",
                              "type": "string"
                            },
                            "updateMask": {
                              "location": "query",
                              "type": "string",
                              "description": "Indicates which fields in the provided Conversation to update. The following are NOT supported: * Conversation.name If not set or empty, all supported fields are updated.",
                              "format": "google-fieldmask"
                            }
                          },
                          "id": "discoveryengine.projects.locations.collections.engines.conversations.patch",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaConversation"
                          }
                        },
                        "delete": {
                          "parameters": {
                            "name": {
                              "description": "Required. The resource name of the Conversation to delete. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store_id}/conversations/{conversation_id}`",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/conversations/[^/]+$",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "id": "discoveryengine.projects.locations.collections.engines.conversations.delete",
                          "path": "v1alpha/{+name}",
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "DELETE",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/conversations/{conversationsId}",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "description": "Deletes a Conversation. If the Conversation to delete does not exist, a NOT_FOUND error is returned."
                        },
                        "get": {
                          "id": "discoveryengine.projects.locations.collections.engines.conversations.get",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/conversations/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "description": "Required. The resource name of the Conversation to get. Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store_id}/conversations/{conversation_id}`",
                              "required": true
                            }
                          },
                          "path": "v1alpha/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/conversations/{conversationsId}",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaConversation"
                          },
                          "description": "Gets a Conversation.",
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "GET"
                        }
                      }
                    },
                    "servingConfigs": {
                      "methods": {
                        "streamAnswer": {
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/servingConfigs/{servingConfigsId}:streamAnswer",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerQueryResponse"
                          },
                          "description": "Answer query method (streaming). It takes one AnswerQueryRequest and returns multiple AnswerQueryResponse messages in a stream.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "servingConfig"
                          ],
                          "path": "v1alpha/{+servingConfig}:streamAnswer",
                          "parameters": {
                            "servingConfig": {
                              "description": "Required. The resource name of the Search serving config, such as `projects/*/locations/global/collections/default_collection/engines/*/servingConfigs/default_serving_config`, or `projects/*/locations/global/collections/default_collection/dataStores/*/servingConfigs/default_serving_config`. Or the resource name of the agent engine serving config, such as: `projects/*/locations/global/collections/default_collection/engines/*/servingConfigs/default_agent_answer`. (use when `enable_agent_invocation` set to true, and you have custom `AI_MODE` agent engine configured) This field is used to identify the serving configuration name, set of models used to make the search.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/servingConfigs/[^/]+$",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "id": "discoveryengine.projects.locations.collections.engines.servingConfigs.streamAnswer",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequest"
                          }
                        },
                        "create": {
                          "id": "discoveryengine.projects.locations.collections.engines.servingConfigs.create",
                          "parameters": {
                            "servingConfigId": {
                              "description": "Required. The ID to use for the ServingConfig, which will become the final component of the ServingConfig's resource name. This value should be 4-63 characters, and valid characters are /a-zA-Z0-9+/.",
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "description": "Required. Full resource name of parent. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+$",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "path": "v1alpha/{+parent}/servingConfigs",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaServingConfig"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/servingConfigs",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaServingConfig"
                          },
                          "description": "Creates a ServingConfig. Note: The Google Cloud console works only with the default serving config. Additional ServingConfigs can be created and managed only via the API. A maximum of 100 ServingConfigs are allowed in an Engine, otherwise a RESOURCE_EXHAUSTED error is returned.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "POST"
                        },
                        "delete": {
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/servingConfigs/{servingConfigsId}",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "description": "Deletes a ServingConfig. Returns a NOT_FOUND error if the ServingConfig does not exist.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "httpMethod": "DELETE",
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1alpha/{+name}",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/servingConfigs/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "description": "Required. The resource name of the ServingConfig to delete. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/servingConfigs/{serving_config_id}`",
                              "required": true
                            }
                          },
                          "id": "discoveryengine.projects.locations.collections.engines.servingConfigs.delete"
                        },
                        "get": {
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/servingConfigs/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "description": "Required. The resource name of the ServingConfig to get. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/servingConfigs/{serving_config_id}`",
                              "required": true
                            }
                          },
                          "id": "discoveryengine.projects.locations.collections.engines.servingConfigs.get",
                          "path": "v1alpha/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/servingConfigs/{servingConfigsId}",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaServingConfig"
                          },
                          "description": "Gets a ServingConfig. Returns a NotFound error if the ServingConfig does not exist.",
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "GET"
                        },
                        "recommend": {
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaRecommendRequest"
                          },
                          "path": "v1alpha/{+servingConfig}:recommend",
                          "parameters": {
                            "servingConfig": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/servingConfigs/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "description": "Required. Full resource name of a ServingConfig: `projects/*/locations/global/collections/*/engines/*/servingConfigs/*`, or `projects/*/locations/global/collections/*/dataStores/*/servingConfigs/*` One default serving config is created along with your recommendation engine creation. The engine ID is used as the ID of the default serving config. For example, for Engine `projects/*/locations/global/collections/*/engines/my-engine`, you can use `projects/*/locations/global/collections/*/engines/my-engine/servingConfigs/my-engine` for your RecommendationService.Recommend requests.",
                              "required": true
                            }
                          },
                          "id": "discoveryengine.projects.locations.collections.engines.servingConfigs.recommend",
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "servingConfig"
                          ],
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/servingConfigs/{servingConfigsId}:recommend",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaRecommendResponse"
                          },
                          "description": "Makes a recommendation, which requires a contextual user event.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ]
                        },
                        "list": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/servingConfigs",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaListServingConfigsResponse"
                          },
                          "description": "Lists all ServingConfigs linked to this dataStore.",
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "description": "Required. Full resource name of the parent resource. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}`",
                              "required": true
                            },
                            "pageToken": {
                              "description": "Optional. A page token, received from a previous `ListServingConfigs` call. Provide this to retrieve the subsequent page.",
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "description": "Optional. Maximum number of results to return. If unspecified, defaults to 100. If a value greater than 100 is provided, at most 100 results are returned.",
                              "location": "query",
                              "type": "integer",
                              "format": "int32"
                            }
                          },
                          "id": "discoveryengine.projects.locations.collections.engines.servingConfigs.list",
                          "path": "v1alpha/{+parent}/servingConfigs"
                        },
                        "patch": {
                          "id": "discoveryengine.projects.locations.collections.engines.servingConfigs.patch",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/servingConfigs/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "description": "Immutable. Fully qualified name `projects/{project}/locations/{location}/collections/{collection_id}/engines/{engine_id}/servingConfigs/{serving_config_id}`",
                              "required": true
                            },
                            "updateMask": {
                              "format": "google-fieldmask",
                              "description": "Indicates which fields in the provided ServingConfig to update. The following are NOT supported: * ServingConfig.name If not set, all supported fields are updated.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "path": "v1alpha/{+name}",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaServingConfig"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/servingConfigs/{servingConfigsId}",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaServingConfig"
                          },
                          "description": "Updates a ServingConfig. Returns a NOT_FOUND error if the ServingConfig does not exist.",
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "PATCH"
                        },
                        "searchLite": {
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/servingConfigs/{servingConfigsId}:searchLite",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponse"
                          },
                          "description": "Performs a search. Similar to the SearchService.Search method, but a lite version that allows API key for authentication, where OAuth and IAM checks are not required. Only public website search is supported by this method. If data stores and engines not associated with public website search are specified, a `FAILED_PRECONDITION` error is returned. This method can be used for easy onboarding without having to implement an authentication backend. However, it is strongly recommended to use SearchService.Search instead with required OAuth and IAM checks to provide better data security.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "servingConfig"
                          ],
                          "path": "v1alpha/{+servingConfig}:searchLite",
                          "id": "discoveryengine.projects.locations.collections.engines.servingConfigs.searchLite",
                          "parameters": {
                            "servingConfig": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/servingConfigs/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "description": "Required. The resource name of the Search serving config, such as `projects/*/locations/global/collections/default_collection/engines/*/servingConfigs/default_serving_config`, or `projects/*/locations/global/collections/default_collection/dataStores/default_data_store/servingConfigs/default_serving_config`. This field is used to identify the serving configuration name, set of models used to make the search.",
                              "required": true
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequest"
                          }
                        },
                        "answer": {
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/servingConfigs/{servingConfigsId}:answer",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerQueryResponse"
                          },
                          "description": "Answer query method.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "servingConfig"
                          ],
                          "path": "v1alpha/{+servingConfig}:answer",
                          "parameters": {
                            "servingConfig": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/servingConfigs/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "description": "Required. The resource name of the Search serving config, such as `projects/*/locations/global/collections/default_collection/engines/*/servingConfigs/default_serving_config`, or `projects/*/locations/global/collections/default_collection/dataStores/*/servingConfigs/default_serving_config`. Or the resource name of the agent engine serving config, such as: `projects/*/locations/global/collections/default_collection/engines/*/servingConfigs/default_agent_answer`. (use when `enable_agent_invocation` set to true, and you have custom `AI_MODE` agent engine configured) This field is used to identify the serving configuration name, set of models used to make the search.",
                              "required": true
                            }
                          },
                          "id": "discoveryengine.projects.locations.collections.engines.servingConfigs.answer",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequest"
                          }
                        },
                        "search": {
                          "parameters": {
                            "servingConfig": {
                              "description": "Required. The resource name of the Search serving config, such as `projects/*/locations/global/collections/default_collection/engines/*/servingConfigs/default_serving_config`, or `projects/*/locations/global/collections/default_collection/dataStores/default_data_store/servingConfigs/default_serving_config`. This field is used to identify the serving configuration name, set of models used to make the search.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/servingConfigs/[^/]+$",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "id": "discoveryengine.projects.locations.collections.engines.servingConfigs.search",
                          "path": "v1alpha/{+servingConfig}:search",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequest"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/servingConfigs/{servingConfigsId}:search",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponse"
                          },
                          "description": "Performs a search.",
                          "parameterOrder": [
                            "servingConfig"
                          ],
                          "httpMethod": "POST"
                        }
                      }
                    },
                    "analytics": {
                      "methods": {
                        "getConfig": {
                          "path": "v1alpha/{+name}",
                          "id": "discoveryengine.projects.locations.collections.engines.analytics.getConfig",
                          "parameters": {
                            "name": {
                              "description": "Required. The resource name of the analytics customer config. Format: `projects/{project}/locations/{location}/collections/{collection_id}/engines/{engine_id}/analytics/config`",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/analytics/config$",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/analytics/config",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaAnalyticsConfig"
                          },
                          "description": "Gets the AnalyticsConfig.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ]
                        },
                        "exportMetrics": {
                          "path": "v1alpha/{+analytics}:exportMetrics",
                          "parameters": {
                            "analytics": {
                              "description": "Required. The analytics resource name under the engine where the metrics are created. The format is `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/analytics`.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/analytics$",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "id": "discoveryengine.projects.locations.collections.engines.analytics.exportMetrics",
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaExportMetricsRequest"
                          },
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/analytics:exportMetrics",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "description": "Exports metrics.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "analytics"
                          ]
                        },
                        "updateConfig": {
                          "path": "v1alpha/{+name}",
                          "id": "discoveryengine.projects.locations.collections.engines.analytics.updateConfig",
                          "parameters": {
                            "name": {
                              "description": "Required. The resource name of the analytics customer config. Format: `projects/{project}/locations/{location}/collections/{collection_id}/engines/{engine_id}/analytics/config`",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/analytics/config$",
                              "location": "path",
                              "type": "string"
                            },
                            "updateMask": {
                              "description": "The list of fields of AnalyticsConfig to update. If not specified, the method will perform a full replacement.",
                              "location": "query",
                              "type": "string",
                              "format": "google-fieldmask"
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaAnalyticsConfig"
                          },
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/analytics/config",
                          "response": {
                            "$ref": "GoogleCloudDiscoveryengineV1alphaAnalyticsConfig"
                          },
                          "description": "Updates the AnalyticsConfig for analytics.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/discoveryengine.readwrite",
                            "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                          ],
                          "httpMethod": "PATCH",
                          "parameterOrder": [
                            "name"
                          ]
                        }
                      }
                    },
                    "sessions": {
                      "resources": {
                        "operations": {
                          "methods": {
                            "get": {
                              "path": "v1alpha/{+name}",
                              "id": "discoveryengine.projects.locations.collections.engines.sessions.operations.get",
                              "parameters": {
                                "name": {
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/sessions/[^/]+/operations/[^/]+$",
                                  "location": "path",
                                  "type": "string",
                                  "description": "The name of the operation resource.",
                                  "required": true
                                }
                              },
                              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/sessions/{sessionsId}/operations/{operationsId}",
                              "response": {
                                "$ref": "GoogleLongrunningOperation"
                              },
                              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                              ],
                              "httpMethod": "GET",
                              "parameterOrder": [
                                "name"
                              ]
                            }
                          }
                        },
                        "answers": {
                          "methods": {
                            "get": {
                              "httpMethod": "GET",
                              "parameterOrder": [
                                "name"
                              ],
                              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/sessions/{sessionsId}/answers/{answersId}",
                              "response": {
                                "$ref": "GoogleCloudDiscoveryengineV1alphaAnswer"
                              },
                              "description": "Gets a Answer.",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                              ],
                              "path": "v1alpha/{+name}",
                              "id": "discoveryengine.projects.locations.collections.engines.sessions.answers.get",
                              "parameters": {
                                "name": {
                                  "description": "Required. The resource name of the Answer to get. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine_id}/sessions/{session_id}/answers/{answer_id}`",
                                  "required": true,
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/sessions/[^/]+/answers/[^/]+$",
                                  "location": "path",
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "files": {
                          "methods": {
                            "list": {
                              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/sessions/{sessionsId}/files",
                              "response": {
                                "$ref": "GoogleCloudDiscoveryengineV1alphaListFilesResponse"
                              },
                              "description": "Lists metadata for all files in the current session.",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/discoveryengine.assist.readwrite",
                                "https://www.googleapis.com/auth/discoveryengine.readwrite",
                                "https://www.googleapis.com/auth/discoveryengine.serving.readwrite"
                              ],
                              "httpMethod": "GET",
                              "parameterOrder": [
                                "parent"
                              ],
                              "path": "v1alpha/{+parent}/files",
                              "parameters": {
                                "parent": {
                                  "description": "Required. The resource name of the Session. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/sessions/{session}` Name of the session resource to which the file belong.",
                                  "required": true,
                                  "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/sessions/[^/]+$",
                                  "location": "path",
                                  "type": "string"
                                },
                                "orderBy": {
                                  "location": "query",
                                  "type": "string",
                                  "description": "Optional. Specifies the order in which files are returned. The value is a comma-separated string of fields to sort by. For ascending order - just the field name is used. For descending order - the field name is suffixed with ` desc`. Sorting is stable and applied sequentially according to the order of fields provided in the string. Supported fields for ordering: * `upload_time`: The time the file was uploaded. * `file_name`: The name of the file. * `mime_type`: The MIME type of the file. * `session_name`: The name of the session the file belongs to. Default Behavior: If the `order_by` field is not specified, files will be returned sorted by creation time in descending order. Examples: 1. Sort by file name in ascending order: `file_name` 2. Sort by upload time in descending order: `upload_time desc` 3. Sort by file name (ascending), then by content type (MIME type) (descending), and finally by upload time (ascending): `file_name, mime_type desc, upload_time`"
                                },
                                "pageSize": {
                                  "description": "Optional. The maximum number of files to return. The service may return fewer than this value. If unspecified, at most 100 files will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000. If user specifies a value less than or equal to 0 - the request will be rejected with an INVALID_ARGUMENT error.",
                                  "location": "query",
                                  "type": "integer",
                                  "format": "int32"
                                },
                                "pageToken": {
                                  "description": "Optional. A page token received from a previous `ListFiles` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListFiles` must match the call that provided the page token (except `page_size`, which may differ).",
                                  "location": "query",
                                  "type": "string"
                                },
                                "filter": {
                                  "location": "query",
                                  "type": "string",
                                  "description": "Optional. The filter syntax consists of an expression language for constructing a predicate from one or more fields of the files being filtered. Filter expression is case-sensitive. Currently supported field names are: * upload_time * last_add_time * last_use_time * file_name * mime_type Some examples of filters would be: * \"file_name = 'file_1'\" * \"file_name = 'file_1' AND mime_type = 'text/plain'\" * \"last_use_time > '2025-06-14T12:00:00Z'\" For a full description of the filter format, please see https://google.aip.dev/160."
                                }
                              },
                              "id": "discoveryengine.projects.locations.collections.engines.sessions.files.list"
                            }
                          }
                        },
                        "alphaEvolveExperiments": {
                          "resources": {
                            "operations": {
                              "methods": {
                                "get": {
                                  "path": "v1alpha/{+name}",
                                  "parameters": {
                                    "name": {
                                      "pattern": "^projects/[^/]+/locations/[^/]+/collections/[^/]+/engines/[^/]+/sessions/[^/]+/alphaEvolveExperiments/[^/]+/operations/[^/]+$",
                                      "location": "path",
                                      "type": "string",
                                      "description": "The name of the operation resource.",
                                      "required": true
                                    }
                                  },
                                  "id": "discoveryengine.projects.locations.collections.engines.sessions.alphaEvolveExperiments.operations.get",
                                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/collections/{collectionsId}/engines/{enginesId}/sessions/{sessionsId}/alphaEvolveExperiments/{alphaEvolveExperimentsId}/operations/{operationsId}",
                                  "response": {
                                    "$ref": "GoogleLongrunningOperation"
                                  },
                                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
[...]
