{
  "mtlsRootUrl": "https://discoveryengine.mtls.googleapis.com/",
  "endpoints": [
    {
      "location": "asia-northeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://discoveryengine.asia-northeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://discoveryengine.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "description": "Regional Endpoint",
      "location": "us",
      "endpointUrl": "https://discoveryengine.us.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://discoveryengine.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    },
    {
      "endpointUrl": "https://discoveryengine.in.rep.googleapis.com/",
      "location": "in",
      "description": "Regional Endpoint"
    }
  ],
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Discovery Engine",
  "version": "v1beta",
  "discoveryVersion": "v1",
  "basePath": "",
  "description": "Discovery Engine API.",
  "title": "Discovery Engine API",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "revision": "20260614",
  "name": "discoveryengine",
  "documentationLink": "https://cloud.google.com/generative-ai-app-builder/docs/",
  "rootUrl": "https://discoveryengine.googleapis.com/",
  "servicePath": "",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud_search.query": {
          "description": "Search your organization's data in the Cloud Search index"
        },
        "https://www.googleapis.com/auth/discoveryengine.readwrite": {
          "description": "View, edit, create, and delete all your data associated with any Discovery Engine API product, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, including both end user data and administration or configuration data."
        },
        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite": {
          "description": "Interact with Discovery Engine API products, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, on your behalf. It will also allow the app to view all data that you have access to when you use or interact with a Discovery Engine API product."
        },
        "https://www.googleapis.com/auth/discoveryengine.assist.readwrite": {
          "description": "View your Agentspace chat history, including uploaded files and generated reports and visualizations, and interact with the Agentspace assistant on your behalf."
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerName": "Google",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    }
  },
  "baseUrl": "https://discoveryengine.googleapis.com/",
  "ownerDomain": "google.com",
  "version_module": true,
  "schemas": {
    "GoogleCloudDiscoveryengineV1betaProject": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaProject",
      "description": "Metadata and configurations for a Google Cloud project in the service.",
      "properties": {
        "provisionCompletionTime": {
          "description": "Output only. The timestamp when this project is successfully provisioned. Empty value means this project is still provisioning and is not ready for use.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "customerProvidedConfig": {
          "description": "Optional. Customer provided configurations.",
          "$ref": "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfig"
        },
        "name": {
          "description": "Output only. Full resource name of the project, for example `projects/{project}`. Note that when making requests, project number and project id are both acceptable, but the server will always respond in project number.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when this project is created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "configurableBillingStatus": {
          "$ref": "GoogleCloudDiscoveryengineV1betaProjectConfigurableBillingStatus",
          "description": "Output only. The current status of the project's configurable billing.",
          "readOnly": true
        },
        "serviceTermsMap": {
          "description": "Output only. A map of terms of services. The key is the `id` of ServiceTerms.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1betaProjectServiceTerms"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaProject": {
      "id": "GoogleCloudDiscoveryengineV1alphaProject",
      "description": "Metadata and configurations for a Google Cloud project in the service.",
      "properties": {
        "name": {
          "description": "Output only. Full resource name of the project, for example `projects/{project}`. Note that when making requests, project number and project id are both acceptable, but the server will always respond in project number.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when this project is created.",
          "readOnly": true,
          "type": "string"
        },
        "configurableBillingStatus": {
          "description": "Output only. The current status of the project's configurable billing.",
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1alphaProjectConfigurableBillingStatus"
        },
        "serviceTermsMap": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaProjectServiceTerms"
          },
          "description": "Output only. A map of terms of services. The key is the `id` of ServiceTerms."
        },
        "provisionCompletionTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when this project is successfully provisioned. Empty value means this project is still provisioning and is not ready for use.",
          "readOnly": true,
          "type": "string"
        },
        "customerProvidedConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfig",
          "description": "Optional. Customer provided configurations."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaIdentityMappingEntryOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaIdentityMappingEntryOperationMetadata",
      "description": "IdentityMappingEntry LongRunningOperation metadata for IdentityMappingStoreService.ImportIdentityMappings and IdentityMappingStoreService.PurgeIdentityMappings",
      "properties": {
        "successCount": {
          "type": "string",
          "description": "The number of IdentityMappingEntries that were successfully processed.",
          "format": "int64"
        },
        "totalCount": {
          "type": "string",
          "description": "The total number of IdentityMappingEntries that were processed.",
          "format": "int64"
        },
        "failureCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of IdentityMappingEntries that failed to be processed."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestCrowdingSpec": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestCrowdingSpec",
      "description": "Specification for crowding. Crowding improves the diversity of search results by limiting the number of results that share the same field value. For example, crowding on the color field with a max_count of 3 and mode DROP_CROWDED_RESULTS will return at most 3 results with the same color across all pages.",
      "properties": {
        "field": {
          "type": "string",
          "description": "The field to use for crowding. Documents can be crowded by a field in the Document object. Crowding field is case sensitive."
        },
        "maxCount": {
          "type": "integer",
          "description": "The maximum number of documents to keep per value of the field. Once there are at least max_count previous results which contain the same value for the given field (according to the order specified in `order_by`), later results with the same value are \"crowded away\". If not specified, the default value is 1.",
          "format": "int32"
        },
        "mode": {
          "enumDescriptions": [
            "Unspecified crowding mode. In this case, server behavior defaults to Mode.DROP_CROWDED_RESULTS.",
            "Drop crowded results.",
            "Demote crowded results to the later pages."
          ],
          "type": "string",
          "description": "Mode to use for documents that are crowded away.",
          "enum": [
            "MODE_UNSPECIFIED",
            "DROP_CROWDED_RESULTS",
            "DEMOTE_CROWDED_RESULTS_TO_END"
          ]
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchResponseSummaryCitationMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSearchResponseSummaryCitationMetadata",
      "description": "Citation metadata.",
      "properties": {
        "citations": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSearchResponseSummaryCitation"
          },
          "description": "Citations for segments.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1UpdateSchemaMetadata": {
      "id": "GoogleCloudDiscoveryengineV1UpdateSchemaMetadata",
      "description": "Metadata for UpdateSchema LRO.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1TrainCustomModelMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1TrainCustomModelMetadata",
      "description": "Metadata related to the progress of the TrainCustomModel operation. This is returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaListDataStoresResponse": {
      "id": "GoogleCloudDiscoveryengineV1betaListDataStoresResponse",
      "description": "Response message for DataStoreService.ListDataStores method.",
      "properties": {
        "dataStores": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaDataStore"
          },
          "type": "array",
          "description": "All the customer's DataStores."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListDataStoresRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1DocumentProcessingConfigChunkingConfigLayoutBasedChunkingConfig": {
      "id": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigChunkingConfigLayoutBasedChunkingConfig",
      "description": "Configuration for the layout based chunking.",
      "properties": {
        "chunkSize": {
          "description": "The token size limit for each chunk. Supported values: 100-500 (inclusive). Default value: 500.",
          "type": "integer",
          "format": "int32"
        },
        "includeAncestorHeadings": {
          "description": "Whether to include appending different levels of headings to chunks from the middle of the document to prevent context loss. Default value: False.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaGcsSource": {
      "id": "GoogleCloudDiscoveryengineV1betaGcsSource",
      "description": "Cloud Storage location for input content.",
      "properties": {
        "dataSchema": {
          "type": "string",
          "description": "The schema to use when parsing the data from the source. Supported values for document imports: * `document` (default): One JSON Document per line. Each document must have a valid Document.id. * `content`: Unstructured data (e.g. PDF, HTML). Each file matched by `input_uris` becomes a document, with the ID set to the first 128 bits of SHA256(URI) encoded as a hex string. * `custom`: One custom data JSON per row in arbitrary format that conforms to the defined Schema of the data store. This can only be used by the GENERIC Data Store vertical. * `csv`: A CSV file with header conforming to the defined Schema of the data store. Each entry after the header is imported as a Document. This can only be used by the GENERIC Data Store vertical. Supported values for user event imports: * `user_event` (default): One JSON UserEvent per line."
        },
        "inputUris": {
          "description": "Required. Cloud Storage URIs to input files. Each URI can be up to 2000 characters long. URIs can match the full object path (for example, `gs://bucket/directory/object.json`) or a pattern matching one or more files, such as `gs://bucket/directory/*.json`. A request can contain at most 100 files (or 100,000 files if `data_schema` is `content`). Each file can be up to 2 GB (or 100 MB if `data_schema` is `content`).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchResponseSummaryBlobAttachmentBlob": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSearchResponseSummaryBlobAttachmentBlob",
      "description": "Stores type and data of the blob.",
      "properties": {
        "mimeType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The media type (MIME type) of the generated data."
        },
        "data": {
          "description": "Output only. Raw bytes.",
          "readOnly": true,
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleApiDistributionExemplar": {
      "id": "GoogleApiDistributionExemplar",
      "description": "Exemplars are example points that may be used to annotate aggregated distribution values. They are metadata that gives information about a particular value added to a Distribution bucket, such as a trace ID that was active when a value was added. They may contain further information, such as a example values and timestamps, origin, etc.",
      "properties": {
        "value": {
          "format": "double",
          "description": "Value of the exemplar point. This value determines to which bucket the exemplar belongs.",
          "type": "number"
        },
        "timestamp": {
          "type": "string",
          "description": "The observation (sampling) time of the above value.",
          "format": "google-datetime"
        },
        "attachments": {
          "description": "Contextual information about the example value. Examples are: Trace: type.googleapis.com/google.monitoring.v3.SpanContext Literal string: type.googleapis.com/google.protobuf.StringValue Labels dropped during aggregation: type.googleapis.com/google.monitoring.v3.DroppedLabels There may be only a single attachment of any given message type in a single exemplar, and this is enforced by the system.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaBatchCreateTargetSitesRequest": {
      "id": "GoogleCloudDiscoveryengineV1betaBatchCreateTargetSitesRequest",
      "description": "Request message for SiteSearchEngineService.BatchCreateTargetSites method.",
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaCreateTargetSiteRequest"
          },
          "description": "Required. The request message specifying the resources to create. A maximum of 20 TargetSites can be created in a batch.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfig": {
      "id": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfig",
      "description": "Additional config specs for a Media Recommendation engine.",
      "properties": {
        "type": {
          "description": "Required. The type of engine. e.g., `recommended-for-you`. This field together with optimization_objective describe engine metadata to use to control engine training and serving. Currently supported values: `recommended-for-you`, `others-you-may-like`, `more-like-this`, `most-popular-items`.",
          "type": "string"
        },
        "optimizationObjectiveConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigOptimizationObjectiveConfig",
          "description": "Name and value of the custom threshold for cvr optimization_objective. For target_field `watch-time`, target_field_value must be an integer value indicating the media progress time in seconds between (0, 86400] (excludes 0, includes 86400) (e.g., 90). For target_field `watch-percentage`, the target_field_value must be a valid float value between (0, 1.0] (excludes 0, includes 1.0) (e.g., 0.5)."
        },
        "optimizationObjective": {
          "type": "string",
          "description": "The optimization objective. e.g., `cvr`. This field together with optimization_objective describe engine metadata to use to control engine training and serving. Currently supported values: `ctr`, `cvr`. If not specified, we choose default based on engine type. Default depends on type of recommendation: `recommended-for-you` => `ctr` `others-you-may-like` => `ctr`"
        },
        "trainingState": {
          "description": "The training state that the engine is in (e.g. `TRAINING` or `PAUSED`). Since part of the cost of running the service is frequency of training - this can be used to determine when to train engine in order to control cost. If not specified: the default value for `CreateEngine` method is `TRAINING`. The default value for `UpdateEngine` method is to keep the state the same as before.",
          "enum": [
            "TRAINING_STATE_UNSPECIFIED",
            "PAUSED",
            "TRAINING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified training state.",
            "The engine training is paused.",
            "The engine is training."
          ]
        },
        "engineFeaturesConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigEngineFeaturesConfig",
          "description": "Optional. Additional engine features config."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ProjectServiceTerms": {
      "id": "GoogleCloudDiscoveryengineV1ProjectServiceTerms",
      "description": "Metadata about the terms of service.",
      "properties": {
        "id": {
          "description": "The unique identifier of this terms of service. Available terms: * `GA_DATA_USE_TERMS`: [Terms for data use](https://cloud.google.com/retail/data-use-terms). When using this as `id`, the acceptable version to provide is `2022-11-23`.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The default value of the enum. This value is not actually used.",
            "The project has given consent to the terms of service.",
            "The project is pending to review and accept the terms of service.",
            "The project has declined or revoked the agreement to terms of service."
          ],
          "description": "Whether the project has accepted/rejected the service terms or it is still pending.",
          "enum": [
            "STATE_UNSPECIFIED",
            "TERMS_ACCEPTED",
            "TERMS_PENDING",
            "TERMS_DECLINED"
          ],
          "type": "string"
        },
        "version": {
          "description": "The version string of the terms of service. For acceptable values, see the comments for id above.",
          "type": "string"
        },
        "acceptTime": {
          "description": "The last time when the project agreed to the terms of service.",
          "type": "string",
          "format": "google-datetime"
        },
        "declineTime": {
          "description": "The last time when the project declined or revoked the agreement to terms of service.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAnswerGenerationSpecUserDefinedClassifierSpec": {
      "id": "GoogleCloudDiscoveryengineV1betaAnswerGenerationSpecUserDefinedClassifierSpec",
      "description": "The specification for user defined classifier.",
      "properties": {
        "modelId": {
          "description": "Optional. The model id to be used for the user defined classifier.",
          "type": "string"
        },
        "seed": {
          "format": "int32",
          "description": "Optional. The seed value to be used for the user defined classifier.",
          "type": "integer"
        },
        "preamble": {
          "description": "Optional. The preamble to be used for the user defined classifier.",
          "type": "string"
        },
        "taskMarker": {
          "description": "Optional. The task marker to be used for the user defined classifier.",
          "type": "string"
        },
        "topP": {
          "format": "double",
          "type": "number",
          "description": "Optional. The top-p value to be used for the user defined classifier."
        },
        "temperature": {
          "type": "number",
          "description": "Optional. The temperature value to be used for the user defined classifier.",
          "format": "double"
        },
        "enableUserDefinedClassifier": {
          "type": "boolean",
          "description": "Optional. Whether or not to enable and include user defined classifier."
        },
        "topK": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The top-k value to be used for the user defined classifier."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaTrainCustomModelMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaTrainCustomModelMetadata",
      "description": "Metadata related to the progress of the TrainCustomModel operation. This is returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1AdvancedSiteSearchConfig": {
      "id": "GoogleCloudDiscoveryengineV1AdvancedSiteSearchConfig",
      "description": "Configuration data for advance site search.",
      "properties": {
        "disableInitialIndex": {
          "description": "If set true, initial indexing is disabled for the DataStore.",
          "type": "boolean"
        },
        "disableAutomaticRefresh": {
          "type": "boolean",
          "description": "If set true, automatic refresh is disabled for the DataStore."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaInterval": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaInterval",
      "description": "A floating point interval.",
      "properties": {
        "minimum": {
          "type": "number",
          "description": "Inclusive lower bound.",
          "format": "double"
        },
        "exclusiveMinimum": {
          "type": "number",
          "description": "Exclusive lower bound.",
          "format": "double"
        },
        "maximum": {
          "description": "Inclusive upper bound.",
          "type": "number",
          "format": "double"
        },
        "exclusiveMaximum": {
          "description": "Exclusive upper bound.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1ControlBoostActionInterpolationBoostSpecControlPoint": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1ControlBoostActionInterpolationBoostSpecControlPoint",
      "description": "The control points used to define the curve. The curve defined through these control points can only be monotonically increasing or decreasing(constant values are acceptable).",
      "properties": {
        "attributeValue": {
          "description": "Optional. Can be one of: 1. The numerical field value. 2. The duration spec for freshness: The value must be formatted as an XSD `dayTimeDuration` value (a restricted subset of an ISO 8601 duration value). The pattern for this is: `nDnM]`.",
          "type": "string"
        },
        "boostAmount": {
          "format": "float",
          "description": "Optional. The value between -1 to 1 by which to boost the score if the attribute_value evaluates to the value specified above.",
          "type": "number"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaConditionTimeRange": {
      "id": "GoogleCloudDiscoveryengineV1betaConditionTimeRange",
      "description": "Used for time-dependent conditions.",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Start of time range. Range is inclusive."
        },
        "endTime": {
          "description": "End of time range. Range is inclusive. Must be in the future.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1Tenant": {
      "id": "GoogleCloudDiscoveryengineV1Tenant",
      "description": "Tenant information for a connector source. This includes some of the same information stored in the Credential message, but is limited to only what is needed to provide a list of accessible tenants to the user.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "The URI of the tenant, if applicable. For example, the URI of a Jira instance is https://my-jira-instance.atlassian.net, and a Slack tenant does not have a URI."
        },
        "displayName": {
          "type": "string",
          "description": "Optional display name for the tenant, e.g. \"My Slack Team\"."
        },
        "id": {
          "type": "string",
          "description": "The tenant's instance ID. Examples: Jira (\"8594f221-9797-5f78-1fa4-485e198d7cd0\"), Slack (\"T123456\")."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ConditionQueryTerm": {
      "id": "GoogleCloudDiscoveryengineV1ConditionQueryTerm",
      "description": "Matcher for search request query",
      "properties": {
        "value": {
          "description": "The specific query value to match against Must be lowercase, must be UTF-8. Can have at most 3 space separated terms if full_match is true. Cannot be an empty string. Maximum length of 5000 characters.",
          "type": "string"
        },
        "fullMatch": {
          "type": "boolean",
          "description": "Whether the search query needs to exactly match the query term."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaTargetSiteFailureReason": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaTargetSiteFailureReason",
      "description": "Site search indexing failure reasons.",
      "properties": {
        "quotaFailure": {
          "description": "Failed due to insufficient quota.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaTargetSiteFailureReasonQuotaFailure"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaControl": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaControl",
      "description": "Defines a conditioned behavior to employ during serving. Must be attached to a ServingConfig to be considered at serving time. Permitted actions dependent on `SolutionType`.",
      "properties": {
        "filterAction": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaControlFilterAction",
          "description": "Defines a filter-type control Currently not supported by Recommendation"
        },
        "redirectAction": {
          "description": "Defines a redirect-type control.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaControlRedirectAction"
        },
        "solutionType": {
          "enumDescriptions": [
            "Default value.",
            "Used for Recommendations AI.",
            "Used for Discovery Search.",
            "Used for use cases related to the Generative AI agent.",
            "Used for use cases related to the Generative Chat agent. It's used for Generative chat engine only, the associated data stores must enrolled with `SOLUTION_TYPE_CHAT` solution.",
            "Used for AI Mode."
          ],
          "description": "Required. Immutable. What solution the control belongs to. Must be compatible with vertical of resource. Otherwise an INVALID ARGUMENT error is thrown.",
          "enum": [
            "SOLUTION_TYPE_UNSPECIFIED",
            "SOLUTION_TYPE_RECOMMENDATION",
            "SOLUTION_TYPE_SEARCH",
            "SOLUTION_TYPE_CHAT",
            "SOLUTION_TYPE_GENERATIVE_CHAT",
            "SOLUTION_TYPE_AI_MODE"
          ],
          "type": "string"
        },
        "name": {
          "description": "Immutable. Fully qualified name `projects/*/locations/global/dataStore/*/controls/*`",
          "type": "string"
        },
        "conditions": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaCondition"
          },
          "type": "array",
          "description": "Determines when the associated action will trigger. Omit to always apply the action. Currently only a single condition may be specified. Otherwise an INVALID ARGUMENT error is thrown."
        },
        "boostAction": {
          "description": "Defines a boost-type control",
          "$ref": "GoogleCloudDiscoveryengineV1alphaControlBoostAction"
        },
        "synonymsAction": {
          "description": "Treats a group of terms as synonyms of one another.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaControlSynonymsAction"
        },
        "promoteAction": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaControlPromoteAction",
          "description": "Promote certain links based on predefined trigger queries."
        },
        "useCases": {
          "items": {
            "enum": [
              "SEARCH_USE_CASE_UNSPECIFIED",
              "SEARCH_USE_CASE_SEARCH",
              "SEARCH_USE_CASE_BROWSE"
            ],
            "type": "string",
            "enumDescriptions": [
              "Value used when unset. Will not occur in CSS.",
              "Search use case. Expects the traffic has a non-empty query.",
              "Browse use case. Expects the traffic has an empty query."
            ]
          },
          "type": "array",
          "description": "Specifies the use case for the control. Affects what condition fields can be set. Only applies to SOLUTION_TYPE_SEARCH. Currently only allow one use case per control. Must be set when solution_type is SolutionType.SOLUTION_TYPE_SEARCH."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Human readable name. The identifier used in UI views. Must be UTF-8 encoded string. Length limit is 128 characters. Otherwise an INVALID ARGUMENT error is thrown."
        },
        "associatedServingConfigIds": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of all ServingConfig IDs this control is attached to. May take up to 10 minutes to update after changes."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryResponsePersonSuggestion": {
      "id": "GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryResponsePersonSuggestion",
      "description": "Suggestions as people.",
      "properties": {
        "personType": {
          "enumDescriptions": [
            "Default value.",
            "The suggestion is from a GOOGLE_IDENTITY source.",
            "The suggestion is from a THIRD_PARTY_IDENTITY source."
          ],
          "type": "string",
          "description": "The type of the person.",
          "enum": [
            "PERSON_TYPE_UNSPECIFIED",
            "CLOUD_IDENTITY",
            "THIRD_PARTY_IDENTITY"
          ]
        },
        "displayPhotoUri": {
          "type": "string",
          "description": "The photo uri of the person suggestion."
        },
        "score": {
          "type": "number",
          "description": "The score of each suggestion. The score is in the range of [0, 1].",
          "format": "double"
        },
        "dataStore": {
          "type": "string",
          "description": "The name of the dataStore that this suggestion belongs to."
        },
        "suggestion": {
          "description": "The suggestion for the query.",
          "type": "string"
        },
        "destinationUri": {
          "type": "string",
          "description": "The destination uri of the person suggestion."
        },
        "document": {
          "$ref": "GoogleCloudDiscoveryengineV1betaDocument",
          "description": "The document data snippet in the suggestion. Only a subset of fields is populated."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaBigQuerySource": {
      "id": "GoogleCloudDiscoveryengineV1betaBigQuerySource",
      "description": "BigQuery source import data from.",
      "properties": {
        "datasetId": {
          "type": "string",
          "description": "Required. The BigQuery data set to copy the data from with a length limit of 1,024 characters."
        },
        "dataSchema": {
          "type": "string",
          "description": "The schema to use when parsing the data from the source. Supported values for user event imports: * `user_event` (default): One UserEvent per row. Supported values for document imports: * `document` (default): One Document format per row. Each document must have a valid Document.id and one of Document.json_data or Document.struct_data. * `custom`: One custom data per row in arbitrary format that conforms to the defined Schema of the data store. This can only be used by the GENERIC Data Store vertical."
        },
        "partitionDate": {
          "$ref": "GoogleTypeDate",
          "description": "BigQuery time partitioned table's _PARTITIONDATE in YYYY-MM-DD format."
        },
        "projectId": {
          "description": "The project ID or the project number that contains the BigQuery source. Has a length limit of 128 characters. If not specified, inherits the project ID from the parent request.",
          "type": "string"
        },
        "tableId": {
          "type": "string",
          "description": "Required. The BigQuery table to copy the data from with a length limit of 1,024 characters."
        },
        "gcsStagingDir": {
          "type": "string",
          "description": "Intermediate Cloud Storage directory used for the import with a length limit of 2,000 characters. Can be specified if one wants to have the BigQuery export to a specific Cloud Storage directory."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaTrainCustomModelRequest": {
      "id": "GoogleCloudDiscoveryengineV1betaTrainCustomModelRequest",
      "description": "Request message for SearchTuningService.TrainCustomModel method.",
      "properties": {
        "modelId": {
          "type": "string",
          "description": "If not provided, a UUID will be generated."
        },
        "modelType": {
          "type": "string",
          "description": "Model to be trained. Supported values are: * **search-tuning**: Fine tuning the search system based on data provided."
        },
        "errorConfig": {
          "description": "The desired location of errors incurred during the data ingestion and training.",
          "$ref": "GoogleCloudDiscoveryengineV1betaImportErrorConfig"
        },
        "gcsTrainingInput": {
          "$ref": "GoogleCloudDiscoveryengineV1betaTrainCustomModelRequestGcsTrainingInput",
          "description": "Cloud Storage training input."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1IdpConfigExternalIdpConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1IdpConfigExternalIdpConfig",
      "description": "Third party IDP Config.",
      "properties": {
        "workforcePoolName": {
          "description": "Workforce pool name. Example: \"locations/global/workforcePools/pool_id\"",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoExtractiveSegment": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaAnswerQueryRequestSearchSpecSearchResultListSearchResultUnstructuredDocumentInfoExtractiveSegment",
      "description": "Extractive segment. [Guide](https://cloud.google.com/generative-ai-app-builder/docs/snippets#extractive-segments) Answer generation will only use it if document_contexts is empty. This is supposed to be shorter snippets.",
      "properties": {
        "pageIdentifier": {
          "type": "string",
          "description": "Page identifier."
        },
        "content": {
          "description": "Extractive segment content.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAnswerStepActionObservationSearchResultChunkInfo": {
      "id": "GoogleCloudDiscoveryengineV1betaAnswerStepActionObservationSearchResultChunkInfo",
      "description": "Chunk information.",
      "properties": {
        "relevanceScore": {
          "type": "number",
          "description": "The relevance of the chunk for a given query. Values range from 0.0 (completely irrelevant) to 1.0 (completely relevant). This value is for informational purpose only. It may change for the same query and chunk at any time due to a model retraining or change in implementation.",
          "format": "float"
        },
        "chunk": {
          "type": "string",
          "description": "Chunk resource name."
        },
        "content": {
          "description": "Chunk textual content.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchResponseGuidedSearchResultRefinementAttribute": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSearchResponseGuidedSearchResultRefinementAttribute",
      "description": "Useful attribute for search result refinements.",
      "properties": {
        "attributeValue": {
          "description": "Attribute value used to refine the results. For example, `\"drama\"`.",
          "type": "string"
        },
        "attributeKey": {
          "type": "string",
          "description": "Attribute key used to refine the results. For example, `\"movie_type\"`."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1CliConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1CliConfig",
      "description": "The configuration for the CLI execution based connectors.",
      "properties": {
        "enabledActions": {
          "description": "Optional. The actions enabled on the associated CLI connection.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAssistAnswerCustomerPolicyEnforcementResultBannedPhraseEnforcementResult": {
      "id": "GoogleCloudDiscoveryengineV1betaAssistAnswerCustomerPolicyEnforcementResultBannedPhraseEnforcementResult",
      "description": "Customer policy enforcement result for the banned phrase policy.",
      "properties": {
        "bannedPhrases": {
          "items": {
            "type": "string"
          },
          "description": "The banned phrases that were found in the query or the answer.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaUserInfo": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaUserInfo",
      "description": "Information of an end user.",
      "properties": {
        "userId": {
          "description": "Highly recommended for logged-in users. Unique identifier for logged-in user, such as a user name. Don't set for anonymous users. Always use a hashed value for this ID. Don't set the field to the same fixed ID for different users. This mixes the event history of those users together, which results in degraded model quality. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an `INVALID_ARGUMENT` error is returned. Represents an opaque ID to the Search API. The Search API doesn't interpret the value in any way. This field is used to associate events with a user across sessions if the events are being uploaded.",
          "type": "string"
        },
        "userAgent": {
          "description": "User agent as included in the HTTP header. The field must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an `INVALID_ARGUMENT` error is returned. This should not be set when using the client side event reporting with GTM or JavaScript tag in UserEventService.CollectUserEvent or if UserEvent.direct_user_request is set.",
          "type": "string"
        },
        "timeZone": {
          "description": "Optional. IANA time zone, e.g. Europe/Budapest.",
          "type": "string"
        },
        "preciseLocation": {
          "description": "Optional. Input only. Precise location of the user. It is used in Custom Ranking to calculate the distance between the user and the relevant documents.",
          "$ref": "GoogleCloudDiscoveryengineV1betaUserInfoPreciseLocation"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaControlRedirectAction": {
      "id": "GoogleCloudDiscoveryengineV1betaControlRedirectAction",
      "description": "Redirects a shopper to the provided URI.",
      "properties": {
        "redirectUri": {
          "type": "string",
          "description": "Required. The URI to which the shopper will be redirected. Required. URI must have length equal or less than 2000 characters. Otherwise an INVALID ARGUMENT error is thrown."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSiteVerificationInfo": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSiteVerificationInfo",
      "description": "Verification information for target sites in advanced site search.",
      "properties": {
        "siteVerificationState": {
          "enumDescriptions": [
            "Defaults to VERIFIED.",
            "Site ownership verified.",
            "Site ownership pending verification or verification failed.",
            "Site exempt from verification, e.g., a public website that opens to all."
          ],
          "type": "string",
          "description": "Site verification state indicating the ownership and validity.",
          "enum": [
            "SITE_VERIFICATION_STATE_UNSPECIFIED",
            "VERIFIED",
            "UNVERIFIED",
            "EXEMPTED"
          ]
        },
        "verifyTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Latest site verification time."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1BAPConfig": {
      "id": "GoogleCloudDiscoveryengineV1BAPConfig",
      "description": "The configuration for the BAP connector.",
      "properties": {
        "supportedConnectorModes": {
          "description": "Required. The supported connector modes for the associated BAP connection.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Connector mode unspecified.",
              "Connector utilized for data ingestion.",
              "Connector utilized for Actions",
              "Connector utilized for End User Authentication."
            ],
            "type": "string",
            "enum": [
              "CONNECTOR_MODE_UNSPECIFIED",
              "DATA_INGESTION",
              "ACTIONS",
              "END_USER_AUTHENTICATION"
            ]
          }
        },
        "enabledActions": {
          "type": "array",
          "description": "Optional. The actions enabled on the associated BAP connection.",
          "items": {
            "type": "string"
          }
        },
        "toolspecOverride": {
          "description": "Optional. Custom toolspec overrides for this connection. For Enterprise BAP connectors that support admin-curated tool definitions, this holds the (simplified) per-tool overrides. On Get, populated by the server by merging persisted overrides with live runtime tool definitions and trimming the result for UI consumption. On Update, the supplied value replaces the persisted overrides after server-side validation and merging: the `base_version` field MUST match the server's current base toolspec version (otherwise the request is rejected with a user-facing error directing the admin to re-download the latest tools first).",
          "$ref": "GoogleCloudDiscoveryengineV1BAPConfigToolspecOverride"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaDocumentAclInfoAccessRestriction": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaDocumentAclInfoAccessRestriction",
      "description": "AclRestriction to model complex inheritance restrictions. Example: Modeling a \"Both Permit\" inheritance, where to access a child document, user needs to have access to parent document. Document Hierarchy - Space_S --> Page_P. Readers: Space_S: group_1, user_1 Page_P: group_2, group_3, user_2 Space_S ACL Restriction - { \"acl_info\": { \"readers\": [ { \"principals\": [ { \"group_id\": \"group_1\" }, { \"user_id\": \"user_1\" } ] } ] } } Page_P ACL Restriction. { \"acl_info\": { \"readers\": [ { \"principals\": [ { \"group_id\": \"group_2\" }, { \"group_id\": \"group_3\" }, { \"user_id\": \"user_2\" } ], }, { \"principals\": [ { \"group_id\": \"group_1\" }, { \"user_id\": \"user_1\" } ], } ] } }",
      "properties": {
        "principals": {
          "type": "array",
          "description": "List of principals.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaPrincipal"
          }
        },
        "idpWide": {
          "description": "All users within the Identity Provider.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestSearchAddonSpec": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestSearchAddonSpec",
      "description": "SearchAddonSpec is used to disable add-ons for search as per new repricing model. By default if the SearchAddonSpec is not specified, we consider that the customer wants to enable them wherever applicable.",
      "properties": {
        "disableSemanticAddOn": {
          "type": "boolean",
          "description": "Optional. If true, semantic add-on is disabled. Semantic add-on includes embeddings and jetstream."
        },
        "disableKpiPersonalizationAddOn": {
          "description": "Optional. If true, disables event re-ranking and personalization to optimize KPIs & personalize results.",
          "type": "boolean"
        },
        "disableGenerativeAnswerAddOn": {
          "type": "boolean",
          "description": "Optional. If true, generative answer add-on is disabled. Generative answer add-on includes natural language to filters and simple answers."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ConditionTimeRange": {
      "id": "GoogleCloudDiscoveryengineV1ConditionTimeRange",
      "description": "Used for time-dependent conditions.",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Start of time range. Range is inclusive.",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "End of time range. Range is inclusive. Must be in the future.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaDynamicTool": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaDynamicTool",
      "description": "Configuration for dynamic tools.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the tool."
        },
        "enabled": {
          "description": "Optional. Whether the tool is enabled.",
          "type": "boolean"
        },
        "description": {
          "description": "Optional. The description of the tool.",
          "type": "string"
        },
        "name": {
          "description": "Required. The name of the tool.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1ActionConfig": {
      "id": "GoogleCloudDiscoveryengineV1ActionConfig",
      "description": "Informations to support actions on the connector.",
      "properties": {
        "createBapConnection": {
          "type": "boolean",
          "description": "Optional. Whether to create a BAP connection for the connector."
        },
        "userDefinedScopesMapping": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1ActionConfigScopeList"
          },
          "description": "Optional. Mapping from operation name to the list of scopes. Only be populated if there are user specified scopes."
        },
        "useStaticSecrets": {
          "description": "Optional. Whether to use static secrets for the connector. If true, the secrets provided in the action_params will be ignored.",
          "type": "boolean"
        },
        "jsonActionParams": {
          "type": "string",
          "description": "Optional. Action parameters in json string format."
        },
        "serviceName": {
          "type": "string",
          "description": "Optional. The Service Directory resource name (projects/*/locations/*/namespaces/*/services/*) representing a VPC network endpoint used to connect to the data source's `instance_uri`, defined in DataConnector.params. Required when VPC Service Controls are enabled."
        },
        "actionParams": {
          "description": "Optional. Action parameters in structured json format.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "isActionConfigured": {
          "description": "Output only. The connector contains the necessary parameters and is configured to support actions.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaBatchUpdateUserLicensesMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaBatchUpdateUserLicensesMetadata",
      "description": "Metadata related to the progress of the UserLicenseService.BatchUpdateUserLicenses operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "successCount": {
          "description": "Count of user licenses successfully updated.",
          "type": "string",
          "format": "int64"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "failureCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of user licenses that failed to be updated."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaPurgeUserEventsRequest": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaPurgeUserEventsRequest",
      "description": "Request message for PurgeUserEvents method.",
      "properties": {
        "filter": {
          "description": "Required. The filter string to specify the events to be deleted with a length limit of 5,000 characters. The eligible fields for filtering are: * `eventType`: Double quoted UserEvent.event_type string. * `eventTime`: in ISO 8601 \"zulu\" format. * `userPseudoId`: Double quoted string. Specifying this will delete all events associated with a visitor. * `userId`: Double quoted string. Specifying this will delete all events associated with a user. Note: This API only supports purging a max range of 30 days. Examples: * Deleting all events in a time range: `eventTime > \"2012-04-23T18:25:43.511Z\" eventTime < \"2012-04-23T18:30:43.511Z\"` * Deleting specific eventType in a time range: `eventTime > \"2012-04-23T18:25:43.511Z\" eventTime < \"2012-04-23T18:30:43.511Z\" eventType = \"search\"` * Deleting all events for a specific visitor in a time range: `eventTime > \"2012-04-23T18:25:43.511Z\" eventTime < \"2012-04-23T18:30:43.511Z\" userPseudoId = \"visitor1024\"` * Deleting the past 30 days of events inside a DataStore: `*` The filtering fields are assumed to have an implicit AND.",
          "type": "string"
        },
        "force": {
          "type": "boolean",
          "description": "The `force` field is currently not supported. Purge user event requests will permanently delete all purgeable events. Once the development is complete: If `force` is set to false, the method will return the expected purge count without deleting any user events. This field will default to false if not included in the request."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSetDedicatedCrawlRateRequest": {
      "id": "GoogleCloudDiscoveryengineV1betaSetDedicatedCrawlRateRequest",
      "description": "Request message for CrawlRateManagementService.SetDedicatedCrawlRate method. The user can set the crawl rate for a crawl_rate_scope they own. They can set up an overall crawl rate, or set up a user-triggered crawl rate and a auto-refresh crawl rate separately. If an overall crawl rate is set, Vertex AI will automatically splits crawl_rate into user-triggered and auto-refresh.",
      "properties": {
        "crawlRateScope": {
          "type": "string",
          "description": "Required. The scope of the crawl rate that the user wants to config. Currently, only domain and host name are supported. A domain name example: `example.com`. A host name example: `www.example.com`. Please do not include `/` in the domain or host name."
        },
        "crawlRate": {
          "type": "integer",
          "description": "Optional. The crawl QPS set by the user. It is not guaranteed that Vertex crawl bot will crawl at this QPS. If the crawl rate is too high, the real QPS may be lower than the value set by the user to avoid overloading the user's website.",
          "format": "int32"
        },
        "crawlType": {
          "enumDescriptions": [
            "The crawl type is unspecified.",
            "The crawl type is user-triggered.",
            "The crawl type is auto-refresh."
          ],
          "description": "Optional. Whether it's the crawl rate of user-triggered or auto-refresh.",
          "enum": [
            "CRAWL_TYPE_UNSPECIFIED",
            "USER_TRIGGERED",
            "AUTO_REFRESH"
          ],
          "type": "string"
        },
        "mode": {
          "enumDescriptions": [
            "The mode is unspecified. If the user does not specify the mode, default to AUTOMATIC.",
            "Vertex AI automatically splits crawl_rate into user-triggered and auto-refresh. Users don't need to specify SetDedicatedCrawlRateRequest.CrawlType if the mode is AUTOMATIC.",
            "Users explicitly set user-triggered or auto-refresh crawl rate."
          ],
          "description": "Optional. Whether the rate is explicitly set by users, or set by vertex AI.",
          "enum": [
            "MODE_UNSPECIFIED",
            "AUTOMATIC",
            "EXPLICIT"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAnswerCitationSource": {
      "id": "GoogleCloudDiscoveryengineV1betaAnswerCitationSource",
      "description": "Citation source.",
      "properties": {
        "referenceId": {
          "type": "string",
          "description": "ID of the citation source."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaProjectConfigurableBillingStatusAgentSearchTokenSubscriptionStatus": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaProjectConfigurableBillingStatusAgentSearchTokenSubscriptionStatus",
      "description": "Per-model Agent Search TPM subscription status. One entry per active `core_subscription.agent_search_token_subscriptions[*]` entry in the customer-provided config; populated by UpdateProject and GetProject. The lifecycle scalars on this message (`start_time`, `terminate_time`, `update_type`, `tpm_threshold_next_update_time`) are per (project, model_version) — siblings of the whole-relationship `start_time` / `terminate_time` / `update_type` on the enclosing ConfigurableBillingStatus, but scoped to this specific Agent Search TPM subscription instead of to the overall customer-configurable- pricing relationship. This per-instance granularity is intentional: the underlying SubV3 storage is per-(project, model_version), so each model has its own activation, termination, and deferred-update clock; surfacing that on the response gives customers the granularity they need to manage per-model commitments independently. QPM / IndexingCore differ — their storage is one row per (project, location), so their lifecycle is represented only by the whole- relationship scalars on ConfigurableBillingStatus.",
      "properties": {
        "modelVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Gemini model version this status corresponds to. Matches CoreSubscription.AgentSearchTokenSubscription.model_version (a stable Gemini model version from the Gemini Enterprise Agent Platform model-versions registry; see https://docs.cloud.google.com/gemini-enterprise-agent-platform/models/model-versions#gemini-models)."
        },
        "tpmThresholdNextUpdateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The earliest next update time for the TPM subscription threshold for this (project, model_version). Populated only after a successful update."
        },
        "terminateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. If set, the scheduled effective time at which this (project, model_version) Agent Search TPM subscription will terminate. Populated when the customer removes this entry from `core_subscription.agent_search_token_subscriptions[*]`. Does NOT move the whole-relationship `terminate_time` on the enclosing ConfigurableBillingStatus, which is populated only when the entire customer-configurable-pricing relationship is being torn down."
        },
        "effectiveTpmThreshold": {
          "description": "Output only. The currently effective TPM threshold. Reflects scale-up immediately and scale-down at the next billing cycle, matching `effective_search_qpm_threshold` semantics.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. When this (project, model_version) Agent Search TPM subscription was first activated. Set once on first activation of this model version and never moved by subsequent threshold updates; on termination + re-activation a new value is recorded. Does NOT move the whole-relationship `start_time` on the enclosing ConfigurableBillingStatus, which continues to represent the first activation of the overall customer-configurable-pricing relationship.",
          "readOnly": true,
          "type": "string"
        },
        "updateType": {
          "type": "string",
          "description": "Output only. The type of the most recent update to this (project, model_version) subscription, as performed by the most recent UpdateProject call. `UPDATE_TYPE_UNSPECIFIED` indicates this model_version was not touched by the most recent UpdateProject (its `effective_tpm_threshold` reflects an earlier update). The whole-relationship `update_type` on the enclosing ConfigurableBillingStatus continues to summarize the direction of the most recent update across all surfaces in the project (QPM, IndexingCore, and Agent Search TPM together).",
          "enumDescriptions": [
            "Unspecified update type.",
            "Configurable billing was created/enabled.",
            "Configurable billing was deleted/disabled.",
            "Subscription was scaled up (thresholds increased).",
            "Subscription was scaled down (thresholds decreased)."
          ],
          "readOnly": true,
          "enum": [
            "UPDATE_TYPE_UNSPECIFIED",
            "CREATE",
            "DELETE",
            "SCALE_UP",
            "SCALE_DOWN"
          ]
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaFetchDomainVerificationStatusResponse": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaFetchDomainVerificationStatusResponse",
      "description": "Response message for SiteSearchEngineService.FetchDomainVerificationStatus method.",
      "properties": {
        "targetSites": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaTargetSite"
          },
          "description": "List of TargetSites containing the site verification status.",
          "type": "array"
        },
        "totalSize": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of items matching the request. This will always be populated in the response."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleCloudDiscoveryengineLoggingConnectorRunErrorContext": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineLoggingConnectorRunErrorContext",
      "description": "The error payload that is populated on LRO sync APIs, including the following: * `google.cloud.discoveryengine.v1main.DataConnectorService.SetUpDataConnector` * `google.cloud.discoveryengine.v1main.DataConnectorService.StartConnectorRun`",
      "properties": {
        "operation": {
          "type": "string",
          "description": "The operation resource name of the LRO to sync the connector."
        },
        "startTime": {
          "description": "The time when the connector run started.",
          "type": "string",
          "format": "google-datetime"
        },
        "connectorRun": {
          "description": "The full resource name of the Connector Run. Format: `projects/*/locations/*/collections/*/dataConnector/connectorRuns/*`. The `connector_run_id` is system-generated.",
          "type": "string"
        },
        "dataConnector": {
          "description": "The full resource name of the DataConnector. Format: `projects/*/locations/*/collections/*/dataConnector`.",
          "type": "string"
        },
        "entity": {
          "description": "The entity to sync for the connector run.",
          "type": "string"
        },
        "syncType": {
          "description": "The type of sync run. Can be one of the following: * `FULL` * `INCREMENTAL`",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the connector run ended."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1EngineChatEngineConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1EngineChatEngineConfig",
      "description": "Configurations for a Chat Engine.",
      "properties": {
        "dialogflowAgentToLink": {
          "description": "The resource name of an exist Dialogflow agent to link to this Chat Engine. Customers can either provide `agent_creation_config` to create agent or provide an agent name that links the agent with the Chat engine. Format: `projects//locations//agents/`. Note that the `dialogflow_agent_to_link` are one-time consumed by and passed to Dialogflow service. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation. Use ChatEngineMetadata.dialogflow_agent for actual agent association after Engine is created.",
          "type": "string"
        },
        "allowCrossRegion": {
          "description": "Optional. If the flag set to true, we allow the agent and engine are in different locations, otherwise the agent and engine are required to be in the same location. The flag is set to false by default. Note that the `allow_cross_region` are one-time consumed by and passed to EngineService.CreateEngine. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation.",
          "type": "boolean"
        },
        "agentCreationConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1EngineChatEngineConfigAgentCreationConfig",
          "description": "The configurationt generate the Dialogflow agent that is associated to this Engine. Note that these configurations are one-time consumed by and passed to Dialogflow service. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaEngineChatEngineMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaEngineChatEngineMetadata",
      "description": "Additional information of a Chat Engine. Fields in this message are output only.",
      "properties": {
        "dialogflowAgent": {
          "type": "string",
          "description": "The resource name of a Dialogflow agent, that this Chat Engine refers to. Format: `projects//locations//agents/`."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaDeleteSitemapMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaDeleteSitemapMetadata",
      "description": "Metadata related to the progress of the SiteSearchEngineService.DeleteSitemap operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaUserEvent": {
      "id": "GoogleCloudDiscoveryengineV1betaUserEvent",
      "description": "UserEvent captures all metadata information Discovery Engine API needs to know about how end users interact with your website.",
      "properties": {
        "transactionInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1betaTransactionInfo",
          "description": "The transaction metadata (if any) associated with this user event."
        },
        "panels": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaPanelInfo"
          },
          "description": "Optional. List of panels associated with this event. Used for page-level impression data.",
          "type": "array"
        },
        "filter": {
          "type": "string",
          "description": "Optional. The filter syntax consists of an expression language for constructing a predicate from one or more fields of the documents being filtered. One example is for `search` events, the associated SearchRequest may contain a filter expression in SearchRequest.filter conforming to https://google.aip.dev/160#filtering. Similarly, for `view-item-list` events that are generated from a RecommendRequest, this field may be populated directly from RecommendRequest.filter conforming to https://google.aip.dev/160#filtering. The value must be a UTF-8 encoded string with a length limit of 1,000 characters. Otherwise, an `INVALID_ARGUMENT` error is returned."
        },
        "promotionIds": {
          "description": "The promotion IDs if this is an event associated with promotions. Currently, this field is restricted to at most one ID.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "eventType": {
          "description": "Required. User event type. Allowed values are: Generic values: * `search`: Search for Documents. * `view-item`: Detailed page view of a Document. * `view-item-list`: View of a panel or ordered list of Documents. * `view-home-page`: View of the home page. * `view-category-page`: View of a category page, e.g. Home > Men > Jeans Retail-related values: * `add-to-cart`: Add an item(s) to cart, e.g. in Retail online shopping * `purchase`: Purchase an item(s) Media-related values: * `media-play`: Start/resume watching a video, playing a song, etc. * `media-complete`: Finished or stopped midway through a video, song, etc. Custom conversion value: * `conversion`: Customer defined conversion event.",
          "type": "string"
        },
        "sessionId": {
          "type": "string",
          "description": "A unique identifier for tracking a visitor session with a length limit of 128 bytes. A session is an aggregation of an end user behavior in a time span. A general guideline to populate the session_id: 1. If user has no activity for 30 min, a new session_id should be assigned. 2. The session_id should be unique across users, suggest use uuid or add UserEvent.user_pseudo_id as prefix."
        },
        "panel": {
          "description": "Panel metadata associated with this user event.",
          "$ref": "GoogleCloudDiscoveryengineV1betaPanelInfo"
        },
        "searchInfo": {
          "description": "SearchService.Search details related to the event. This field should be set for `search` event.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchInfo"
        },
        "completionInfo": {
          "description": "CompletionService.CompleteQuery details related to the event. This field should be set for `search` event when autocomplete function is enabled and the user clicks a suggestion for search.",
          "$ref": "GoogleCloudDiscoveryengineV1betaCompletionInfo"
        },
        "eventTime": {
          "description": "Only required for UserEventService.ImportUserEvents method. Timestamp of when the user event happened.",
          "type": "string",
          "format": "google-datetime"
        },
        "feedback": {
          "$ref": "GoogleCloudDiscoveryengineV1betaFeedback",
          "description": "Optional. This field is optional except for the `add-feedback` event types."
        },
        "documents": {
          "type": "array",
          "description": "List of Documents associated with this user event. This field is optional except for the following event types: * `view-item` * `add-to-cart` * `purchase` * `media-play` * `media-complete` In a `search` event, this field represents the documents returned to the end user on the current page (the end user may have not finished browsing the whole page yet). When a new page is returned to the end user, after pagination/filtering/ordering even for the same query, a new `search` event with different UserEvent.documents is desired.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaDocumentInfo"
          }
        },
        "directUserRequest": {
          "description": "Should set to true if the request is made directly from the end user, in which case the UserEvent.user_info.user_agent can be populated from the HTTP request. This flag should be set only if the API request is made directly from the end user such as a mobile app (and not if a gateway or a server is processing and pushing the user events). This should not be set when using the JavaScript tag in UserEventService.CollectUserEvent.",
          "type": "boolean"
        },
        "pageInfo": {
          "description": "Page metadata such as categories and other critical information for certain event types such as `view-category-page`.",
          "$ref": "GoogleCloudDiscoveryengineV1betaPageInfo"
        },
        "attributionToken": {
          "description": "Token to attribute an API response to user action(s) to trigger the event. Highly recommended for user events that are the result of RecommendationService.Recommend. This field enables accurate attribution of recommendation model performance. The value must be one of: * RecommendResponse.attribution_token for events that are the result of RecommendationService.Recommend. * SearchResponse.attribution_token for events that are the result of SearchService.Search. This token enables us to accurately attribute page view or conversion completion back to the event and the particular predict response containing this clicked/purchased product. If user clicks on product K in the recommendation results, pass RecommendResponse.attribution_token as a URL parameter to product K's page. When recording events on product K's page, log the RecommendResponse.attribution_token to this field.",
          "type": "string"
        },
        "tagIds": {
          "description": "A list of identifiers for the independent experiment groups this user event belongs to. This is used to distinguish between user events associated with different experiment setups.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "engine": {
          "type": "string",
          "description": "The Engine resource name, in the form of `projects/{project}/locations/{location}/collections/{collection_id}/engines/{engine_id}`. Optional. Only required for Engine produced user events. For example, user events from blended search."
        },
        "dataStore": {
          "type": "string",
          "description": "The DataStore resource full name, of the form `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. Optional. Only required for user events whose data store can't by determined by UserEvent.engine or UserEvent.documents. If data store is set in the parent of write/import/collect user event requests, this field can be omitted."
        },
        "conversionType": {
          "description": "Optional. Conversion type. Required if UserEvent.event_type is `conversion`. This is a customer-defined conversion name in lowercase letters or numbers separated by \"-\", such as \"watch\", \"good-visit\" etc. Do not set the field if UserEvent.event_type is not `conversion`. This mixes the custom conversion event with predefined events like `search`, `view-item` etc.",
          "type": "string"
        },
        "mediaInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1betaMediaInfo",
          "description": "Media-specific info."
        },
        "userPseudoId": {
          "description": "Required. A unique identifier for tracking visitors. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor log in/out of the website. Do not set the field to the same fixed ID for different users. This mixes the event history of those users together, which results in degraded model quality. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an `INVALID_ARGUMENT` error is returned. The field should not contain PII or user-data. We recommend to use Google Analytics [Client ID](https://developers.google.com/analytics/devguides/collection/analyticsjs/field-reference#clientId) for this field.",
          "type": "string"
        },
        "entity": {
          "type": "string",
          "description": "Optional. Represents the entity for customers that may run multiple different entities, domains, sites or regions, for example, `Google US`, `Google Ads`, `Waymo`, `google.com`, `youtube.com`, etc. We recommend that you set `entity` to get better per-entity search, completion, and prediction results."
        },
        "userInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1betaUserInfo",
          "description": "Information about the end user."
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1betaCustomAttribute"
          },
          "description": "Extra user event features to include in the recommendation model. These attributes must NOT contain data that needs to be parsed or processed further, e.g. JSON or other encodings. If you provide custom attributes for ingested user events, also include them in the user events that you associate with prediction requests. Custom attribute formatting must be consistent between imported events and events provided with prediction requests. This lets the Discovery Engine API use those custom attributes when training models and serving predictions, which helps improve recommendation quality. This field needs to pass all below criteria, otherwise an `INVALID_ARGUMENT` error is returned: * The key must be a UTF-8 encoded string with a length limit of 5,000 characters. * For text attributes, at most 400 values are allowed. Empty values are not allowed. Each value must be a UTF-8 encoded string with a length limit of 256 characters. * For number attributes, at most 400 values are allowed. For product recommendations, an example of extra user information is `traffic_channel`, which is how a user arrives at the site. Users can arrive at the site by coming to the site directly, coming through Google search, or in other ways."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaUpdateCollectionMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaUpdateCollectionMetadata",
      "description": "Metadata related to the progress of the CollectionService.UpdateCollection operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1TargetSiteFailureReason": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1TargetSiteFailureReason",
      "description": "Site search indexing failure reasons.",
      "properties": {
        "quotaFailure": {
          "description": "Failed due to insufficient quota.",
          "$ref": "GoogleCloudDiscoveryengineV1TargetSiteFailureReasonQuotaFailure"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryResponseQuerySuggestion": {
      "id": "GoogleCloudDiscoveryengineV1betaAdvancedCompleteQueryResponseQuerySuggestion",
      "description": "Suggestions as search queries.",
      "properties": {
        "suggestion": {
          "description": "The suggestion for the query.",
          "type": "string"
        },
        "score": {
          "format": "double",
          "description": "The score of each suggestion. The score is in the range of [0, 1].",
          "type": "number"
        },
        "completableFieldPaths": {
          "items": {
            "type": "string"
          },
          "description": "The unique document field paths that serve as the source of this suggestion if it was generated from completable fields. This field is only populated for the document-completable model.",
          "type": "array"
        },
        "dataStore": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The name of the dataStore that this suggestion belongs to."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfig",
      "description": "Configuration for NotebookLM.",
      "properties": {
        "modelArmorConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigModelArmorConfig",
          "description": "Model Armor configuration to be used for sanitizing user prompts and LLM responses."
        },
        "optOutNotebookSharing": {
          "type": "boolean",
          "description": "Optional. Whether to disable the notebook sharing feature for the project. Default to false if not specified."
        },
        "dataProtectionPolicy": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicy",
          "description": "Optional. Specifies the data protection policy for NotebookLM."
        },
        "observabilityConfig": {
          "description": "Optional. Observability config for NotebookLM.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaObservabilityConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaImportSampleQueriesResponse": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaImportSampleQueriesResponse",
      "description": "Response of the SampleQueryService.ImportSampleQueries method. If the long running operation is done, this message is returned by the google.longrunning.Operations.response field if the operation is successful.",
      "properties": {
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "A sample of errors encountered while processing the request."
        },
        "errorConfig": {
          "description": "The desired location of errors incurred during the Import.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaImportErrorConfig"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigOptimizationObjectiveConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigOptimizationObjectiveConfig",
      "description": "Custom threshold for `cvr` optimization_objective.",
      "properties": {
        "targetField": {
          "description": "Required. The name of the field to target. Currently supported values: `watch-percentage`, `watch-time`.",
          "type": "string"
        },
        "targetFieldValueFloat": {
          "type": "number",
          "description": "Required. The threshold to be applied to the target (e.g., 0.5).",
          "format": "float"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpec": {
      "id": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpec",
      "description": "A specification for configuring a summary returned in a search response.",
      "properties": {
        "modelPromptSpec": {
          "description": "If specified, the spec will be used to modify the prompt provided to the LLM.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpecModelPromptSpec"
        },
        "modelSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpecModelSpec",
          "description": "If specified, the spec will be used to modify the model specification provided to the LLM."
        },
        "includeCitations": {
          "description": "Specifies whether to include citations in the summary. The default value is `false`. When this field is set to `true`, summaries include in-line citation numbers. Example summary including citations: BigQuery is Google Cloud's fully managed and completely serverless enterprise data warehouse [1]. BigQuery supports all data types, works across clouds, and has built-in machine learning and business intelligence, all within a unified platform [2, 3]. The citation numbers refer to the returned search results and are 1-indexed. For example, [1] means that the sentence is attributed to the first search result. [2, 3] means that the sentence is attributed to both the second and third search results.",
          "type": "boolean"
        },
        "useSemanticChunks": {
          "type": "boolean",
          "description": "If true, answer will be generated from most relevant chunks from top search results. This feature will improve summary quality. Note that with this feature enabled, not all top search results will be referenced and included in the reference list, so the citation source index only points to the search results listed in the reference list."
        },
        "summaryResultCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of top results to generate the summary from. If the number of results returned is less than `summaryResultCount`, the summary is generated from all of the results. At most 10 results for documents mode, or 50 for chunks mode, can be used to generate a summary. The chunks mode is used when SearchRequest.ContentSearchSpec.search_result_mode is set to CHUNKS."
        },
        "ignoreLowRelevantContent": {
          "type": "boolean",
          "description": "Specifies whether to filter out queries that have low relevance. The default value is `false`. If this field is set to `false`, all search results are used regardless of relevance to generate answers. If set to `true`, only queries with high relevance search results will generate answers."
        },
        "ignoreAdversarialQuery": {
          "description": "Specifies whether to filter out adversarial queries. The default value is `false`. Google employs search-query classification to detect adversarial queries. No summary is returned if the search query is classified as an adversarial query. For example, a user might ask a question regarding negative comments about the company or submit a query designed to generate unsafe, policy-violating output. If this field is set to `true`, we skip generating summaries for adversarial queries and return fallback messages instead.",
          "type": "boolean"
        },
        "ignoreJailBreakingQuery": {
          "description": "Optional. Specifies whether to filter out jail-breaking queries. The default value is `false`. Google employs search-query classification to detect jail-breaking queries. No summary is returned if the search query is classified as a jail-breaking query. A user might add instructions to the query to change the tone, style, language, content of the answer, or ask the model to act as a different entity, e.g. \"Reply in the tone of a competing company's CEO\". If this field is set to `true`, we skip generating summaries for jail-breaking queries and return fallback messages instead.",
          "type": "boolean"
        },
        "ignoreNonSummarySeekingQuery": {
          "description": "Specifies whether to filter out queries that are not summary-seeking. The default value is `false`. Google employs search-query classification to detect summary-seeking queries. No summary is returned if the search query is classified as a non-summary seeking query. For example, `why is the sky blue` and `Who is the best soccer player in the world?` are summary-seeking queries, but `SFO airport` and `world cup 2026` are not. They are most likely navigational queries. If this field is set to `true`, we skip generating summaries for non-summary seeking queries and return fallback messages instead.",
          "type": "boolean"
        },
        "languageCode": {
          "description": "Language code for Summary. Use language tags defined by [BCP47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt). Note: This is an experimental feature.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaProjectConfigurableBillingStatusAgentSearchTokenSubscriptionStatus": {
      "id": "GoogleCloudDiscoveryengineV1betaProjectConfigurableBillingStatusAgentSearchTokenSubscriptionStatus",
      "description": "Per-model Agent Search TPM subscription status. One entry per active `core_subscription.agent_search_token_subscriptions[*]` entry in the customer-provided config; populated by UpdateProject and GetProject. The lifecycle scalars on this message (`start_time`, `terminate_time`, `update_type`, `tpm_threshold_next_update_time`) are per (project, model_version) — siblings of the whole-relationship `start_time` / `terminate_time` / `update_type` on the enclosing ConfigurableBillingStatus, but scoped to this specific Agent Search TPM subscription instead of to the overall customer-configurable- pricing relationship. This per-instance granularity is intentional: the underlying SubV3 storage is per-(project, model_version), so each model has its own activation, termination, and deferred-update clock; surfacing that on the response gives customers the granularity they need to manage per-model commitments independently. QPM / IndexingCore differ — their storage is one row per (project, location), so their lifecycle is represented only by the whole- relationship scalars on ConfigurableBillingStatus.",
      "properties": {
        "modelVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Gemini model version this status corresponds to. Matches CoreSubscription.AgentSearchTokenSubscription.model_version (a stable Gemini model version from the Gemini Enterprise Agent Platform model-versions registry; see https://docs.cloud.google.com/gemini-enterprise-agent-platform/models/model-versions#gemini-models)."
        },
        "tpmThresholdNextUpdateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The earliest next update time for the TPM subscription threshold for this (project, model_version). Populated only after a successful update."
        },
        "effectiveTpmThreshold": {
          "format": "int64",
          "description": "Output only. The currently effective TPM threshold. Reflects scale-up immediately and scale-down at the next billing cycle, matching `effective_search_qpm_threshold` semantics.",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. When this (project, model_version) Agent Search TPM subscription was first activated. Set once on first activation of this model version and never moved by subsequent threshold updates; on termination + re-activation a new value is recorded. Does NOT move the whole-relationship `start_time` on the enclosing ConfigurableBillingStatus, which continues to represent the first activation of the overall customer-configurable-pricing relationship.",
          "readOnly": true,
          "type": "string"
        },
        "updateType": {
          "enumDescriptions": [
            "Unspecified update type.",
            "Configurable billing was created/enabled.",
            "Configurable billing was deleted/disabled.",
            "Subscription was scaled up (thresholds increased).",
            "Subscription was scaled down (thresholds decreased)."
          ],
          "description": "Output only. The type of the most recent update to this (project, model_version) subscription, as performed by the most recent UpdateProject call. `UPDATE_TYPE_UNSPECIFIED` indicates this model_version was not touched by the most recent UpdateProject (its `effective_tpm_threshold` reflects an earlier update). The whole-relationship `update_type` on the enclosing ConfigurableBillingStatus continues to summarize the direction of the most recent update across all surfaces in the project (QPM, IndexingCore, and Agent Search TPM together).",
          "type": "string",
          "enum": [
            "UPDATE_TYPE_UNSPECIFIED",
            "CREATE",
            "DELETE",
            "SCALE_UP",
            "SCALE_DOWN"
          ],
          "readOnly": true
        },
        "terminateTime": {
          "description": "Output only. If set, the scheduled effective time at which this (project, model_version) Agent Search TPM subscription will terminate. Populated when the customer removes this entry from `core_subscription.agent_search_token_subscriptions[*]`. Does NOT move the whole-relationship `terminate_time` on the enclosing ConfigurableBillingStatus, which is populated only when the entire customer-configurable-pricing relationship is being torn down.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaAnswerBlobAttachment": {
      "id": "GoogleCloudDiscoveryengineV1betaAnswerBlobAttachment",
      "description": "Stores binarydata attached to text answer, e.g. image, video, audio, etc.",
      "properties": {
        "data": {
          "description": "Output only. The mime type and data of the blob.",
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1betaAnswerBlobAttachmentBlob"
        },
        "attributionType": {
          "description": "Output only. The attribution type of the blob.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified attribution type.",
            "The attachment data is from the corpus.",
            "The attachment data is generated by the model through code generation."
          ],
          "enum": [
            "ATTRIBUTION_TYPE_UNSPECIFIED",
            "CORPUS",
            "GENERATED"
          ],
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaListEnginesResponse": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaListEnginesResponse",
      "description": "Response message for EngineService.ListEngines method.",
      "properties": {
        "nextPageToken": {
          "description": "Not supported.",
          "type": "string"
        },
        "engines": {
          "description": "All the customer's Engines.",
[...]
