{
  "fullyEncodeReservedExpansion": true,
  "version": "v1alpha",
  "revision": "20260924",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "discoveryengine",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud_search.query": {
          "description": "Search your organization's data in the Cloud Search index"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/discoveryengine.readwrite": {
          "description": "View, edit, create, and delete all your data associated with any Discovery Engine API product, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, including both end user data and administration or configuration data."
        },
        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite": {
          "description": "Interact with Discovery Engine API products, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, on your behalf. It will also allow the app to view all data that you have access to when you use or interact with a Discovery Engine API product."
        },
        "https://www.googleapis.com/auth/discoveryengine.assist.readwrite": {
          "description": "View your Agentspace chat history, including uploaded files and generated reports and visualizations, and interact with the Agentspace assistant on your behalf. Also view the artifacts you access through NotebookLM Enterprise."
        }
      }
    }
  },
  "batchPath": "batch",
  "protocol": "rest",
  "canonicalName": "Discovery Engine",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "default": "json"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "description": "Discovery Engine API.",
  "ownerName": "Google",
  "endpoints": [
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://discoveryengine.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://discoveryengine.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "location": "us",
      "endpointUrl": "https://discoveryengine.us.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://discoveryengine.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    },
    {
      "endpointUrl": "https://discoveryengine.in.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "in"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://discoveryengine.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://discoveryengine.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://discoveryengine.ca.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "ca"
    }
  ],
  "rootUrl": "https://discoveryengine.googleapis.com/",
  "baseUrl": "https://discoveryengine.googleapis.com/",
  "documentationLink": "https://cloud.google.com/generative-ai-app-builder/docs/",
  "mtlsRootUrl": "https://discoveryengine.mtls.googleapis.com/",
  "version_module": true,
  "schemas": {
    "GoogleCloudDiscoveryengineV1alphaAuthorizationServerSideOAuth2": {
      "type": "object",
      "properties": {
        "pkceVerificationEnabled": {
          "description": "Optional. Whether to enable PKCE verification. https://datatracker.ietf.org/doc/html/rfc7636#section-3.1/",
          "type": "boolean"
        },
        "clientSecret": {
          "type": "string",
          "description": "Required. The OAuth2 client secret. Encrypted at rest."
        },
        "authorizationUri": {
          "description": "Required. The URI the user is directed to when they need to authorize. Should include everything required for a successful authorization: OAuth ID, extra flags, etc. Example: `https://accounts.google.com/o/oauth2/v2/auth?client_id=OAUTH_ID&scope=https://www.googleapis.com/auth/calendar.events&response_type=code&access_type=offline&prompt=consent` The `redirect_uri` parameter will be overwritten by the Vertex AI Search frontend.",
          "type": "string"
        },
        "basicAuthenticationEnabled": {
          "description": "Optional. Whether the OAuth token exchange uses HTTP Basic authentication (`client_secret_basic`) instead of sending the client credentials in the request body (`client_secret_post`). When `true`, the credentials (`client_id:client_secret`) are Base64 encoded and sent in the `Authorization` header. Some OAuth providers (e.g. Splunk) require `client_secret_basic`. When `false` or unset, the default `client_secret_post` is used.",
          "type": "boolean"
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The scopes to request. Example: `https://www.googleapis.com/auth/calendar.events` If omitted, no additional scopes are requested beyond those required by the authorization uri. If set, it will overwrite the scopes in the authorization uri when acquiring user authorization."
        },
        "clientId": {
          "type": "string",
          "description": "Required. The OAuth2 client ID."
        },
        "tokenUri": {
          "type": "string",
          "description": "Required. The HTTP endpoint that exchanges a client authorization for an access token."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaAuthorizationServerSideOAuth2",
      "description": "OAuth2 configuration."
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestQueryExpansionSpec": {
      "properties": {
        "pinUnexpandedResults": {
          "description": "Whether to pin unexpanded results. If this field is set to true, unexpanded products are always at the top of the search results, followed by the expanded results.",
          "type": "boolean"
        },
        "condition": {
          "type": "string",
          "enum": [
            "CONDITION_UNSPECIFIED",
            "DISABLED",
            "AUTO"
          ],
          "description": "The condition under which query expansion should occur. Default to Condition.DISABLED.",
          "enumDescriptions": [
            "Unspecified query expansion condition. In this case, server behavior defaults to Condition.DISABLED.",
            "Disabled query expansion. Only the exact search query is used, even if SearchResponse.total_size is zero.",
            "Automatic query expansion built by the Search API."
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestQueryExpansionSpec",
      "description": "Specification to determine under which conditions query expansion should occur."
    },
    "GoogleCloudDiscoveryengineV1alphaListDocumentsResponse": {
      "description": "Response message for DocumentService.ListDocuments method.",
      "id": "GoogleCloudDiscoveryengineV1alphaListDocumentsResponse",
      "type": "object",
      "properties": {
        "documents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaDocument"
          },
          "description": "The Documents."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as ListDocumentsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestRelatedQuestionsSpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestRelatedQuestionsSpec",
      "description": "Related questions specification.",
      "type": "object",
      "properties": {
        "enable": {
          "description": "Enable related questions feature if true.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaListSampleQuerySetsResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaListSampleQuerySetsResponse",
      "properties": {
        "sampleQuerySets": {
          "type": "array",
          "description": "The SampleQuerySets.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSampleQuerySet"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListSampleQuerySetsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for SampleQuerySetService.ListSampleQuerySets method.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaQueryConfigurablePricingUsageStatsResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaQueryConfigurablePricingUsageStatsResponse",
      "type": "object",
      "description": "Response for [ProjectService.QueryConfigurablePricingUsageStats] method.",
      "properties": {
        "metricUsages": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaQueryConfigurablePricingUsageStatsResponseMetricUsage"
          },
          "type": "array",
          "description": "A list of metric usages, one for each requested resource type that has data in the requested time range."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaControl": {
      "description": "Defines a conditioned behavior to employ during serving. Must be attached to a ServingConfig to be considered at serving time. Permitted actions dependent on `SolutionType`.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. Human readable name. The identifier used in UI views. Must be UTF-8 encoded string. Length limit is 128 characters. Otherwise an INVALID ARGUMENT error is thrown."
        },
        "redirectAction": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaControlRedirectAction",
          "description": "Defines a redirect-type control."
        },
        "promoteAction": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaControlPromoteAction",
          "description": "Promote certain links based on predefined trigger queries."
        },
        "filterAction": {
          "description": "Defines a filter-type control Currently not supported by Recommendation",
          "$ref": "GoogleCloudDiscoveryengineV1alphaControlFilterAction"
        },
        "associatedServingConfigIds": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. List of all ServingConfig IDs this control is attached to. May take up to 10 minutes to update after changes.",
          "type": "array"
        },
        "boostAction": {
          "description": "Defines a boost-type control",
          "$ref": "GoogleCloudDiscoveryengineV1alphaControlBoostAction"
        },
        "useCases": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "SEARCH_USE_CASE_UNSPECIFIED",
              "SEARCH_USE_CASE_SEARCH",
              "SEARCH_USE_CASE_BROWSE"
            ],
            "enumDescriptions": [
              "Value used when unset. Will not occur in CSS.",
              "Search use case. Expects the traffic has a non-empty query.",
              "Browse use case. Expects the traffic has an empty query."
            ]
          },
          "description": "Specifies the use case for the control. Affects what condition fields can be set. Only applies to SOLUTION_TYPE_SEARCH. Currently only allow one use case per control. Must be set when solution_type is SolutionType.SOLUTION_TYPE_SEARCH."
        },
        "solutionType": {
          "enumDescriptions": [
            "Default value.",
            "Used for Recommendations AI.",
            "Used for Discovery Search.",
            "Used for use cases related to the Generative AI agent.",
            "Used for use cases related to the Generative Chat agent. It's used for Generative chat engine only, the associated data stores must enrolled with `SOLUTION_TYPE_CHAT` solution.",
            "Used for AI Mode."
          ],
          "type": "string",
          "enum": [
            "SOLUTION_TYPE_UNSPECIFIED",
            "SOLUTION_TYPE_RECOMMENDATION",
            "SOLUTION_TYPE_SEARCH",
            "SOLUTION_TYPE_CHAT",
            "SOLUTION_TYPE_GENERATIVE_CHAT",
            "SOLUTION_TYPE_AI_MODE"
          ],
          "description": "Required. Immutable. What solution the control belongs to. Must be compatible with vertical of resource. Otherwise an INVALID ARGUMENT error is thrown."
        },
        "name": {
          "type": "string",
          "description": "Immutable. Fully qualified name `projects/*/locations/global/dataStore/*/controls/*`"
        },
        "conditions": {
          "type": "array",
          "description": "Determines when the associated action will trigger. Omit to always apply the action. Currently only a single condition may be specified. Otherwise an INVALID ARGUMENT error is thrown.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaCondition"
          }
        },
        "synonymsAction": {
          "description": "Treats a group of terms as synonyms of one another.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaControlSynonymsAction"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaControl"
    },
    "GoogleCloudDiscoveryengineV1alphaListLicenseConfigsResponse": {
      "description": "Response message for LicenseConfigService.ListLicenseConfigs method.",
      "id": "GoogleCloudDiscoveryengineV1alphaListLicenseConfigsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Not supported."
        },
        "licenseConfigs": {
          "description": "All the customer's LicenseConfigs.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaLicenseConfig"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaIdentityMappingEntryOperationMetadata": {
      "properties": {
        "successCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of IdentityMappingEntries that were successfully processed."
        },
        "failureCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of IdentityMappingEntries that failed to be processed."
        },
        "totalCount": {
          "format": "int64",
          "type": "string",
          "description": "The total number of IdentityMappingEntries that were processed."
        }
      },
      "type": "object",
      "description": "IdentityMappingEntry LongRunningOperation metadata for IdentityMappingStoreService.ImportIdentityMappings and IdentityMappingStoreService.PurgeIdentityMappings",
      "id": "GoogleCloudDiscoveryengineV1alphaIdentityMappingEntryOperationMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaAlphaEvolveSourceFile": {
      "type": "object",
      "description": "A single source file with its path, content and metadata.",
      "id": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveSourceFile",
      "properties": {
        "content": {
          "description": "Required. The raw content of the file. This is a string and not bytes, because it should be ultimately processed by the LLM as text.",
          "type": "string"
        },
        "programLanguage": {
          "type": "string",
          "description": "Optional. The programming language of the file."
        },
        "description": {
          "description": "Optional. Additional description of the file.",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "Required. The relative path of the file, including the filename. e.g., \"src/main.py\", \"utils/helpers.js\", \"README.md\""
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaExternalIdentityGroupMetadata": {
      "type": "object",
      "description": "Metadata corresponding to the external group.",
      "id": "GoogleCloudDiscoveryengineV1alphaExternalIdentityGroupMetadata",
      "properties": {}
    },
    "GoogleCloudDiscoveryengineV1alphaAdvancedCompleteQueryRequest": {
      "description": "Request message for CompletionService.AdvancedCompleteQuery method. .",
      "id": "GoogleCloudDiscoveryengineV1alphaAdvancedCompleteQueryRequest",
      "type": "object",
      "properties": {
        "userInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaUserInfo",
          "description": "Optional. Information about the end user. This should be the same identifier information as UserEvent.user_info and SearchRequest.user_info."
        },
        "query": {
          "description": "Required. The typeahead input used to fetch suggestions. Maximum length is 128 characters. The query can not be empty for most of the suggestion types. If it is empty, an `INVALID_ARGUMENT` error is returned. The exception is when the suggestion_types contains only the type `RECENT_SEARCH`, the query can be an empty string. The is called \"zero prefix\" feature, which returns user's recently searched queries given the empty query.",
          "type": "string"
        },
        "queryModel": {
          "description": "Specifies the autocomplete query model, which only applies to the QUERY SuggestionType. This overrides any model specified in the Configuration > Autocomplete section of the Cloud console. Currently supported values: * `document` - Using suggestions generated from user-imported documents. * `search-history` - Using suggestions generated from the past history of SearchService.Search API calls. Do not use it when there is no traffic for Search API. * `user-event` - Using suggestions generated from user-imported search events. * `document-completable` - Using suggestions taken directly from user-imported document fields marked as completable. Default values: * `document` is the default model for regular dataStores. * `search-history` is the default model for site search dataStores.",
          "type": "string"
        },
        "suggestionTypeSpecs": {
          "description": "Optional. Specification of each suggestion type.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAdvancedCompleteQueryRequestSuggestionTypeSpec"
          }
        },
        "userPseudoId": {
          "type": "string",
          "description": "Optional. A unique identifier for tracking visitors. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor logs in or out of the website. This field should NOT have a fixed value such as `unknown_visitor`. This should be the same identifier as UserEvent.user_pseudo_id and SearchRequest.user_pseudo_id. The field must be a UTF-8 encoded string with a length limit of 128"
        },
        "includeTailSuggestions": {
          "description": "Indicates if tail suggestions should be returned if there are no suggestions that match the full query. Even if set to true, if there are suggestions that match the full query, those are returned and no tail suggestions are returned.",
          "type": "boolean"
        },
        "experimentIds": {
          "description": "Optional. Experiment ids for this request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "boostSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAdvancedCompleteQueryRequestBoostSpec",
          "description": "Optional. Specification to boost suggestions matching the condition."
        },
        "suggestionTypes": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "SUGGESTION_TYPE_UNSPECIFIED",
              "QUERY",
              "PEOPLE",
              "CONTENT",
              "RECENT_SEARCH",
              "GOOGLE_WORKSPACE"
            ],
            "enumDescriptions": [
              "Default value.",
              "Returns query suggestions.",
              "Returns people suggestions.",
              "Returns content suggestions.",
              "Returns recent search suggestions.",
              "Returns Google Workspace suggestions."
            ]
          },
          "description": "Optional. Suggestion types to return. If empty or unspecified, query suggestions are returned. Only one suggestion type is supported at the moment."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestPersonalizationSpec": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestPersonalizationSpec",
      "type": "object",
      "properties": {
        "mode": {
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "AUTO",
            "DISABLED"
          ],
          "enumDescriptions": [
            "Default value. In this case, server behavior defaults to Mode.AUTO.",
            "Personalization is enabled if data quality requirements are met.",
            "Disable personalization."
          ],
          "description": "The personalization mode of the search request. Defaults to Mode.AUTO."
        }
      },
      "description": "The specification for personalization."
    },
    "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfigLayoutParsingConfig": {
      "id": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfigLayoutParsingConfig",
      "properties": {
        "enableTableAnnotation": {
          "type": "boolean",
          "description": "Optional. If true, the LLM based annotation is added to the table during parsing."
        },
        "enableLlmLayoutParsing": {
          "type": "boolean",
          "description": "Optional. If true, the pdf layout will be refined using an LLM."
        },
        "excludeHtmlClasses": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of HTML classes to exclude from the parsed content.",
          "type": "array"
        },
        "enableGetProcessedDocument": {
          "type": "boolean",
          "description": "Optional. If true, the processed document will be made available for the GetProcessedDocument API."
        },
        "structuredContentTypes": {
          "description": "Optional. Contains the required structure types to extract from the document. Supported values: * `shareholder-structure`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enableImageAnnotation": {
          "description": "Optional. If true, the LLM based annotation is added to the image during parsing.",
          "type": "boolean"
        },
        "excludeHtmlElements": {
          "type": "array",
          "description": "Optional. List of HTML elements to exclude from the parsed content.",
          "items": {
            "type": "string"
          }
        },
        "excludeHtmlIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of HTML ids to exclude from the parsed content."
        }
      },
      "description": "The layout parsing configurations for documents.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaEstimateDataSizeMetadata": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        }
      },
      "description": "Metadata related to the progress of the EstimateDataSize operation. This is returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaEstimateDataSizeMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfig": {
      "type": "object",
      "description": "A singleton resource of DataStore. If it's empty when DataStore is created and DataStore is set to DataStore.ContentConfig.CONTENT_REQUIRED, the default parser will default to digital parser.",
      "id": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfig",
      "properties": {
        "parsingConfigOverrides": {
          "type": "object",
          "description": "Map from file type to override the default parsing configuration based on the file type. Supported keys: * `pdf`: Override parsing config for PDF files, either digital parsing, ocr parsing or layout parsing is supported. * `html`: Override parsing config for HTML files, only digital parsing and layout parsing are supported. * `docx`: Override parsing config for DOCX files, only digital parsing and layout parsing are supported. * `pptx`: Override parsing config for PPTX files, only digital parsing and layout parsing are supported. * `xlsm`: Override parsing config for XLSM files, only digital parsing and layout parsing are supported. * `xlsx`: Override parsing config for XLSX files, only digital parsing and layout parsing are supported.",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfig"
          }
        },
        "chunkingConfig": {
          "description": "Whether chunking mode is enabled.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigChunkingConfig"
        },
        "defaultParsingConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigParsingConfig",
          "description": "Configurations for default Document parser. If not specified, we will configure it as default DigitalParsingConfig, and the default parsing config will be applied to all file types for Document parsing."
        },
        "name": {
          "type": "string",
          "description": "The full resource name of the Document Processing Config. Format: `projects/*/locations/*/collections/*/dataStores/*/documentProcessingConfig`."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDeleteSchemaMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaDeleteSchemaMetadata",
      "description": "Metadata for DeleteSchema LRO.",
      "properties": {
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaListCmekConfigsResponse": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaListCmekConfigsResponse",
      "properties": {
        "cmekConfigs": {
          "type": "array",
          "description": "All the customer's CmekConfigs.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaCmekConfig"
          }
        }
      },
      "description": "Response message for CmekConfigService.ListCmekConfigs method."
    },
    "GoogleCloudDiscoveryengineV1alphaCheckGroundingResponseClaim": {
      "description": "Text and citation info for a claim in the answer candidate.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaCheckGroundingResponseClaim",
      "properties": {
        "startPos": {
          "description": "Position indicating the start of the claim in the answer candidate, measured in bytes. Note that this is not measured in characters and, therefore, must be rendered in the user interface keeping in mind that some characters may take more than one byte. For example, if the claim text contains non-ASCII characters, the start and end positions vary when measured in characters (programming-language-dependent) and when measured in bytes (programming-language-independent).",
          "type": "integer",
          "format": "int32"
        },
        "score": {
          "description": "Confidence score for the claim in the answer candidate, in the range of [0, 1]. This is set only when `CheckGroundingRequest.grounding_spec.enable_claim_level_score` is true.",
          "format": "double",
          "type": "number"
        },
        "citationIndices": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "A list of indices (into 'cited_chunks') specifying the citations associated with the claim. For instance [1,3,4] means that cited_chunks[1], cited_chunks[3], cited_chunks[4] are the facts cited supporting for the claim. A citation to a fact indicates that the claim is supported by the fact.",
          "type": "array"
        },
        "claimText": {
          "type": "string",
          "description": "Text for the claim in the answer candidate. Always provided regardless of whether citations or anti-citations are found."
        },
        "endPos": {
          "type": "integer",
          "description": "Position indicating the end of the claim in the answer candidate, exclusive, in bytes. Note that this is not measured in characters and, therefore, must be rendered as such. For example, if the claim text contains non-ASCII characters, the start and end positions vary when measured in characters (programming-language-dependent) and when measured in bytes (programming-language-independent).",
          "format": "int32"
        },
        "groundingCheckRequired": {
          "description": "Indicates that this claim required grounding check. When the system decided this claim doesn't require attribution/grounding check, this field will be set to false. In that case, no grounding check was done for the claim and therefore citation_indices should not be returned.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSiteVerificationInfo": {
      "id": "GoogleCloudDiscoveryengineV1betaSiteVerificationInfo",
      "type": "object",
      "description": "Verification information for target sites in advanced site search.",
      "properties": {
        "siteVerificationState": {
          "enumDescriptions": [
            "Defaults to VERIFIED.",
            "Site ownership verified.",
            "Site ownership pending verification or verification failed.",
            "Site exempt from verification, e.g., a public website that opens to all."
          ],
          "description": "Site verification state indicating the ownership and validity.",
          "type": "string",
          "enum": [
            "SITE_VERIFICATION_STATE_UNSPECIFIED",
            "VERIFIED",
            "UNVERIFIED",
            "EXEMPTED"
          ]
        },
        "verifyTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Latest site verification time."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaTargetSiteFailureReason": {
      "description": "Site search indexing failure reasons.",
      "type": "object",
      "properties": {
        "quotaFailure": {
          "$ref": "GoogleCloudDiscoveryengineV1betaTargetSiteFailureReasonQuotaFailure",
          "description": "Failed due to insufficient quota."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaTargetSiteFailureReason"
    },
    "GoogleCloudDiscoveryengineV1alphaAssistant": {
      "description": "Discovery Engine Assistant resource.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAssistant",
      "properties": {
        "disableLocationContext": {
          "type": "boolean",
          "description": "Optional. Indicates whether to disable user location context. By default, user location context is enabled."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Represents the time when this Assistant was most recently updated.",
          "format": "google-datetime"
        },
        "webGroundingType": {
          "description": "Optional. The type of web grounding to use.",
          "enumDescriptions": [
            "Default, unspecified setting. This is the same as disabled.",
            "Web grounding is disabled.",
            "Grounding with Google Search is enabled.",
            "Grounding with Enterprise Web Search is enabled."
          ],
          "type": "string",
          "enum": [
            "WEB_GROUNDING_TYPE_UNSPECIFIED",
            "WEB_GROUNDING_TYPE_DISABLED",
            "WEB_GROUNDING_TYPE_GOOGLE_SEARCH",
            "WEB_GROUNDING_TYPE_ENTERPRISE_WEB_SEARCH"
          ]
        },
        "generationConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantGenerationConfig",
          "description": "Optional. Configuration for the generation of the assistant response."
        },
        "customerPolicy": {
          "description": "Optional. Customer policy for the assistant.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantCustomerPolicy"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The assistant display name. It must be a UTF-8 encoded string with a length limit of 128 characters."
        },
        "enabledTools": {
          "description": "Optional. Note: not implemented yet. Use enabled_actions instead. The enabled tools on this assistant. The keys are connector name, for example \"projects/{projectId}/locations/{locationId}/collections/{collectionId}/dataconnector The values consist of admin enabled tools towards the connector instance. Admin can selectively enable multiple tools on any of the connector instances that they created in the project. For example {\"jira1ConnectorName\": [(toolId1, \"createTicket\"), (toolId2, \"transferTicket\")], \"gmail1ConnectorName\": [(toolId3, \"sendEmail\"),..] }",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantToolList"
          },
          "type": "object"
        },
        "description": {
          "description": "Optional. Description for additional information. Expected to be shown on the configuration UI, not to the users of the assistant.",
          "type": "string"
        },
        "knowledgeCatalogEnabled": {
          "description": "Optional. Indicates whether Knowledge Catalog is enabled for this specific assistant. When enabled, it powers discovery context using organizational data. If unspecified, defaults to true.",
          "type": "boolean"
        },
        "name": {
          "description": "Immutable. Resource name of the assistant. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/assistants/{assistant}` It must be a UTF-8 encoded string with a length limit of 1024 characters.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Represents the time when this Assistant was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "defaultWebGroundingToggleOff": {
          "description": "Optional. This field controls the default web grounding toggle for end users if `web_grounding_type` is set to `WEB_GROUNDING_TYPE_GOOGLE_SEARCH` or `WEB_GROUNDING_TYPE_ENTERPRISE_WEB_SEARCH`. By default, this field is set to false. If `web_grounding_type` is `WEB_GROUNDING_TYPE_GOOGLE_SEARCH` or `WEB_GROUNDING_TYPE_ENTERPRISE_WEB_SEARCH`, end users will have web grounding enabled by default on UI. If true, grounding toggle will be disabled by default on UI. End users can still enable web grounding in the UI if web grounding is enabled.",
          "type": "boolean"
        }
      }
    },
    "GoogleIamV1Policy": {
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "bindings": {
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array"
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        },
        "version": {
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        }
      },
      "id": "GoogleIamV1Policy"
    },
    "GoogleCloudDiscoveryengineV1alphaListAuthorizationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListAuthorizationsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "authorizations": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAuthorization"
          },
          "type": "array",
          "description": "All the customer's Authorizations."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaListAuthorizationsResponse",
      "description": "Response message for the AuthorizationService.ListAuthorizations method."
    },
    "GoogleCloudDiscoveryengineV1BatchCreateTargetSiteMetadata": {
      "type": "object",
      "description": "Metadata related to the progress of the SiteSearchEngineService.BatchCreateTargetSites operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1BatchCreateTargetSiteMetadata",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1WorkspaceConfig": {
      "type": "object",
      "properties": {
        "type": {
          "description": "The Google Workspace data source.",
          "enumDescriptions": [
            "Defaults to an unspecified Workspace type.",
            "Workspace Data Store contains Drive data",
            "Workspace Data Store contains Mail data",
            "Workspace Data Store contains Sites data",
            "Workspace Data Store contains Calendar data",
            "Workspace Data Store contains Chat data",
            "Workspace Data Store contains Groups data",
            "Workspace Data Store contains Keep data",
            "Workspace Data Store contains People data",
            "Workspace Data Store contains all Workspace apps data"
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "GOOGLE_DRIVE",
            "GOOGLE_MAIL",
            "GOOGLE_SITES",
            "GOOGLE_CALENDAR",
            "GOOGLE_CHAT",
            "GOOGLE_GROUPS",
            "GOOGLE_KEEP",
            "GOOGLE_PEOPLE",
            "GOOGLE_WORKSPACE"
          ]
        },
        "dasherCustomerId": {
          "description": "Output only. Obfuscated Dasher customer ID. Derived by the server from the project's GCP organization at data store creation time; any value supplied in the request payload is ignored.",
          "readOnly": true,
          "type": "string"
        },
        "superAdminServiceAccount": {
          "description": "Optional. The super admin service account for the workspace that will be used for access token generation. For now we only use it for Native Google Drive connector data ingestion.",
          "type": "string"
        },
        "superAdminEmailAddress": {
          "description": "Optional. The super admin email address for the workspace that will be used for access token generation. For now we only use it for Native Google Drive connector data ingestion.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1WorkspaceConfig",
      "description": "Config to store data store type configuration for workspace data"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSnippetSpec": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestContentSearchSpecSnippetSpec",
      "description": "A specification for configuring snippets in a search response.",
      "properties": {
        "maxSnippetCount": {
          "format": "int32",
          "deprecated": true,
          "description": "[DEPRECATED] This field is deprecated. To control snippet return, use `return_snippet` field. For backwards compatibility, we will return snippet if max_snippet_count > 0.",
          "type": "integer"
        },
        "referenceOnly": {
          "deprecated": true,
          "description": "[DEPRECATED] This field is deprecated and will have no affect on the snippet.",
          "type": "boolean"
        },
        "returnSnippet": {
          "description": "If `true`, then return snippet. If no snippet can be generated, we return \"No snippet is available for this page.\" A `snippet_status` with `SUCCESS` or `NO_SNIPPET_AVAILABLE` will also be returned.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaRemovePatientFilterRequest": {
      "properties": {
        "filterGroups": {
          "items": {
            "type": "string"
          },
          "description": "Required. Names of the Group resources to use as a basis for the list of patients to remove from the patient filter, in format `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}/fhir/Group/{group_id}`. if the caller does not have permission to access the FHIR store, regardless of whether it exists, PERMISSION_DENIED error is returned. If the discovery engine service account does not have permission to access the FHIR store, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the group is not found at the location, a RESOURCE_NOT_FOUND error will be returned. The filter group must be a FHIR resource name of type Group, and the list of IDs to remove will be constructed from the direct members of the group which are Patient resources.",
          "type": "array"
        },
        "dataStore": {
          "description": "Required. Full resource name of DataStore, such as `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. If the caller does not have permission to access the DataStore, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested DataStore does not exist, a NOT_FOUND error is returned. If the requested DataStore does not have a patient filter, a NOT_FOUND error will be returned",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaRemovePatientFilterRequest",
      "description": "Request for DataStoreService.RemovePatientFilter method."
    },
    "GoogleCloudDiscoveryengineV1alphaListLicenseConfigsUsageStatsResponse": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaListLicenseConfigsUsageStatsResponse",
      "properties": {
        "licenseConfigUsageStats": {
          "type": "array",
          "description": "All the customer's LicenseConfigUsageStats.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaLicenseConfigUsageStats"
          }
        }
      },
      "description": "Response message for UserLicenseService.ListLicenseConfigsUsageStats method."
    },
    "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecChunkSpec": {
      "properties": {
        "numPreviousChunks": {
          "format": "int32",
          "description": "The number of previous chunks to be returned of the current chunk. The maximum allowed value is 3. If not specified, no previous chunks will be returned.",
          "type": "integer"
        },
        "numNextChunks": {
          "type": "integer",
          "description": "The number of next chunks to be returned of the current chunk. The maximum allowed value is 3. If not specified, no next chunks will be returned.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecChunkSpec",
      "description": "Specifies the chunk spec to be returned from the search response. Only available if the SearchRequest.ContentSearchSpec.search_result_mode is set to CHUNKS"
    },
    "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperimentStats": {
      "description": "Stats about the experiment.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperimentStats",
      "properties": {
        "candidatesCount": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Number of candidates generated.",
          "format": "int32"
        },
        "inputTokenCount": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Number of billed input tokens consumed by the experiment.",
          "type": "string"
        },
        "evaluatedCandidatesCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Number of candidates evaluated.",
          "format": "int32"
        },
        "outputTokenCount": {
          "format": "int64",
          "description": "Output only. Number of billed output tokens consumed by the experiment.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestQueryUnderstandingSpecQueryRephraserSpecModelSpec": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestQueryUnderstandingSpecQueryRephraserSpecModelSpec",
      "description": "Query Rephraser Model specification.",
      "properties": {
        "modelType": {
          "enumDescriptions": [
            "Unspecified model type.",
            "Small query rephraser model. Gemini 1.0 XS model.",
            "Large query rephraser model. Gemini 1.0 Pro model."
          ],
          "type": "string",
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "SMALL",
            "LARGE"
          ],
          "description": "Optional. Enabled query rephraser model type. If not set, it will use LARGE by default."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaCheckRefreshTokenResponse": {
      "properties": {
        "refreshTokenInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaRefreshTokenInfo",
          "description": "Info about the stored refresh token."
        }
      },
      "type": "object",
      "description": "Response message for the DataConnectorService.CheckRefreshToken method.",
      "id": "GoogleCloudDiscoveryengineV1alphaCheckRefreshTokenResponse"
    },
    "GoogleCloudDiscoveryengineV1alphaListConnectorRunsResponse": {
      "description": "Response for DataConnectorService.ListConnectorRuns method.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "connectorRuns": {
          "type": "array",
          "description": "List of ConnectorRuns.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaConnectorRun"
          }
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaListConnectorRunsResponse",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequest": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequest",
      "description": "Request message for SearchService.Search method.",
      "type": "object",
      "properties": {
        "personalizationSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestPersonalizationSpec",
          "description": "The specification for personalization. Notice that if both ServingConfig.personalization_spec and SearchRequest.personalization_spec are set, SearchRequest.personalization_spec overrides ServingConfig.personalization_spec."
        },
        "offset": {
          "format": "int32",
          "description": "A 0-indexed integer that specifies the current offset (that is, starting result location, amongst the Documents deemed by the API as relevant) in search results. This field is only considered if page_token is unset. If this field is negative, an `INVALID_ARGUMENT` is returned. A large offset may be capped to a reasonable threshold.",
          "type": "integer"
        },
        "regionCode": {
          "type": "string",
          "description": "The Unicode country/region code (CLDR) of a location, such as \"US\" and \"419\". For more information, see [Standard fields](https://cloud.google.com/apis/design/standard_fields). If set, then results will be boosted based on the region_code provided."
        },
        "crowdingSpecs": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestCrowdingSpec"
          },
          "description": "Optional. Crowding specifications for improving result diversity. If multiple CrowdingSpecs are specified, crowding will be evaluated on each unique combination of the `field` values, and max_count will be the maximum value of `max_count` across all CrowdingSpecs. For example, if the first CrowdingSpec has `field` = \"color\" and `max_count` = 3, and the second CrowdingSpec has `field` = \"size\" and `max_count` = 2, then after 3 documents that share the same color AND size have been returned, subsequent ones should be removed or demoted.",
          "type": "array"
        },
        "userPseudoId": {
          "type": "string",
          "description": "Optional. A unique identifier for tracking visitors. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor logs in or out of the website. This field should NOT have a fixed value such as `unknown_visitor`. This should be the same identifier as UserEvent.user_pseudo_id and CompleteQueryRequest.user_pseudo_id The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an `INVALID_ARGUMENT` error is returned."
        },
        "relevanceFilterSpec": {
          "description": "Optional. The granular relevance filtering specification. If not specified, the global `relevance_threshold` will be used for all sub-searches. If specified, this overrides the global `relevance_threshold` to use thresholds on a per sub-search basis. This feature is currently supported only for custom and site search.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestRelevanceFilterSpec"
        },
        "spellCorrectionSpec": {
          "description": "The spell correction specification that specifies the mode under which spell correction takes effect.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestSpellCorrectionSpec"
        },
        "session": {
          "description": "The session resource name. Optional. Session allows users to do multi-turn /search API calls or coordination between /search API calls and /answer API calls. Example #1 (multi-turn /search API calls): Call /search API with the session ID generated in the first call. Here, the previous search query gets considered in query standing. I.e., if the first query is \"How did Alphabet do in 2022?\" and the current query is \"How about 2023?\", the current query will be interpreted as \"How did Alphabet do in 2023?\". Example #2 (coordination between /search API calls and /answer API calls): Call /answer API with the session ID generated in the first call. Here, the answer generation happens in the context of the search results from the first search call.",
          "type": "string"
        },
        "queryExpansionSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestQueryExpansionSpec",
          "description": "The query expansion specification that specifies the conditions under which query expansion occurs."
        },
        "rankingExpression": {
          "type": "string",
          "description": "Optional. The ranking expression controls the customized ranking on retrieval documents. This overrides ServingConfig.ranking_expression. The syntax and supported features depend on the `ranking_expression_backend` value. If `ranking_expression_backend` is not provided, it defaults to `RANK_BY_EMBEDDING`. If ranking_expression_backend is not provided or set to `RANK_BY_EMBEDDING`, it should be a single function or multiple functions that are joined by \"+\". * ranking_expression = function, { \" + \", function }; Supported functions: * double * relevance_score * double * dotProduct(embedding_field_path) Function variables: * `relevance_score`: pre-defined keywords, used for measure relevance between query and document. * `embedding_field_path`: the document embedding field used with query embedding vector. * `dotProduct`: embedding function between `embedding_field_path` and query embedding vector. Example ranking expression: If document has an embedding field doc_embedding, the ranking expression could be `0.5 * relevance_score + 0.3 * dotProduct(doc_embedding)`. If ranking_expression_backend is set to `RANK_BY_FORMULA`, the following expression types (and combinations of those chained using + or * operators) are supported: * `double` * `signal` * `log(signal)` * `exp(signal)` * `rr(signal, double > 0)` -- reciprocal rank transformation with second argument being a denominator constant. * `is_nan(signal)` -- returns 0 if signal is NaN, 1 otherwise. * `fill_nan(signal1, signal2 | double)` -- if signal1 is NaN, returns signal2 | double, else returns signal1. Here are a few examples of ranking formulas that use the supported ranking expression types: - `0.2 * semantic_similarity_score + 0.8 * log(keyword_similarity_score)` -- mostly rank by the logarithm of `keyword_similarity_score` with slight `semantic_smilarity_score` adjustment. - `0.2 * exp(fill_nan(semantic_similarity_score, 0)) + 0.3 * is_nan(keyword_similarity_score)` -- rank by the exponent of `semantic_similarity_score` filling the value with 0 if it's NaN, also add constant 0.3 adjustment to the final score if `semantic_similarity_score` is NaN. - `0.2 * rr(semantic_similarity_score, 16) + 0.8 * rr(keyword_similarity_score, 16)` -- mostly rank by the reciprocal rank of `keyword_similarity_score` with slight adjustment of reciprocal rank of `semantic_smilarity_score`. The following signals are supported: * `semantic_similarity_score`: semantic similarity adjustment that is calculated using the embeddings generated by a proprietary Google model. This score determines how semantically similar a search query is to a document. * `keyword_similarity_score`: keyword match adjustment uses the Best Match 25 (BM25) ranking function. This score is calculated using a probabilistic model to estimate the probability that a document is relevant to a given query. * `relevance_score`: semantic relevance adjustment that uses a proprietary Google model to determine the meaning and intent behind a user's query in context with the content in the documents. * `pctr_rank`: predicted conversion rate adjustment as a rank use predicted Click-through rate (pCTR) to gauge the relevance and attractiveness of a search result from a user's perspective. A higher pCTR suggests that the result is more likely to satisfy the user's query and intent, making it a valuable signal for ranking. * `freshness_rank`: freshness adjustment as a rank * `document_age`: The time in hours elapsed since the document was last updated, a floating-point number (e.g., 0.25 means 15 minutes). * `topicality_rank`: topicality adjustment as a rank. Uses proprietary Google model to determine the keyword-based overlap between the query and the document. * `base_rank`: the default rank of the result * `media_actor_match`: whether the media actor matches the query * `media_director_match`: whether the media director matches the query * `media_genre_match`: whether the media genre matches the query * `media_language_match`: whether the media language matches the query * `media_title_match`: whether the media title matches the query * `media_prefix_similarity_rank`: prefix similarity rank for media results * `media_semantic_similarity_rank`: semantic similarity rank for media results"
        },
        "filter": {
          "type": "string",
          "description": "The filter syntax consists of an expression language for constructing a predicate from one or more fields of the documents being filtered. Filter expression is case-sensitive. If this field is unrecognizable, an `INVALID_ARGUMENT` is returned. Filtering in Vertex AI Search is done by mapping the LHS filter key to a key property defined in the Vertex AI Search backend -- this mapping is defined by the customer in their schema. For example a media customer might have a field 'name' in their schema. In this case the filter would look like this: filter --> name:'ANY(\"king kong\")' For more information about filtering including syntax and filter operators, see [Filter](https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata)"
        },
        "params": {
          "description": "Additional search parameters. For public website search only, supported values are: * `user_country_code`: string. Default empty. If set to non-empty, results are restricted or boosted based on the location provided. For example, `user_country_code: \"au\"` For available codes see [Country Codes](https://developers.google.com/custom-search/docs/json_api_reference#countryCodes) * `search_type`: double. Default empty. Enables non-webpage searching depending on the value. The only valid non-default value is 1, which enables image searching. For example, `search_type: 1`",
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "searchAsYouTypeSpec": {
          "description": "Search as you type configuration. Only supported for the IndustryVertical.MEDIA vertical.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestSearchAsYouTypeSpec"
        },
        "query": {
          "description": "Raw search query.",
          "type": "string"
        },
        "pageCategories": {
          "type": "array",
          "description": "Optional. The categories associated with a category page. Must be set for category navigation queries to achieve good search quality. The format should be the same as PageInfo.page_category. This field is the equivalent of the query for browse (navigation) queries. It's used by the browse model when the query is empty. If the field is empty, it will not be used by the browse model. If the field contains more than one element, only the first element will be used. To represent full path of a category, use '>' character to separate different hierarchies. If '>' is part of the category name, replace it with other character(s). For example, `Graphics Cards > RTX>4090 > Founders Edition` where \"RTX > 4090\" represents one level, can be rewritten as `Graphics Cards > RTX_4090 > Founders Edition`",
          "items": {
            "type": "string"
          }
        },
        "relevanceThreshold": {
          "description": "The global relevance threshold of the search results. Defaults to Google defined threshold, leveraging a balance of precision and recall to deliver both highly accurate results and comprehensive coverage of relevant information. If more granular relevance filtering is required, use the `relevance_filter_spec` instead. This feature is not supported for healthcare search.",
          "enumDescriptions": [
            "Default value. In this case, server behavior defaults to Google defined threshold.",
            "Lowest relevance threshold.",
            "Low relevance threshold.",
            "Medium relevance threshold.",
            "High relevance threshold."
          ],
          "type": "string",
          "enum": [
            "RELEVANCE_THRESHOLD_UNSPECIFIED",
            "LOWEST",
            "LOW",
            "MEDIUM",
            "HIGH"
          ]
        },
        "oneBoxPageSize": {
          "type": "integer",
          "description": "The maximum number of results to return for OneBox. This applies to each OneBox type individually. Default number is 10.",
          "format": "int32"
        },
        "safeSearch": {
          "type": "boolean",
          "description": "Whether to turn on safe search. This is only supported for website search."
        },
        "customRankingParams": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestCustomRankingParams",
          "description": "Optional. Optional configuration for the Custom Ranking feature."
        },
        "imageQuery": {
          "description": "Raw image query.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestImageQuery"
        },
        "servingConfig": {
          "type": "string",
          "description": "Required. The resource name of the Search serving config, such as `projects/*/locations/global/collections/default_collection/engines/*/servingConfigs/default_serving_config`, or `projects/*/locations/global/collections/default_collection/dataStores/default_data_store/servingConfigs/default_serving_config`. This field is used to identify the serving configuration name, set of models used to make the search."
        },
        "sessionSpec": {
          "description": "Session specification. Can be used only when `session` is set.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestSessionSpec"
        },
        "rankingExpressionBackend": {
          "enumDescriptions": [
            "Default option for unspecified/unknown values.",
            "Deprecated: Use `RANK_BY_EMBEDDING` instead. Ranking by custom embedding model, the default way to evaluate the ranking expression. Legacy enum option, `RANK_BY_EMBEDDING` should be used instead.",
            "Deprecated: Use `RANK_BY_FORMULA` instead. Ranking by custom formula. Legacy enum option, `RANK_BY_FORMULA` should be used instead.",
            "Ranking by custom embedding model, the default way to evaluate the ranking expression.",
            "Ranking by custom formula."
          ],
          "description": "Optional. The backend to use for the ranking expression evaluation.",
          "type": "string",
          "enum": [
            "RANKING_EXPRESSION_BACKEND_UNSPECIFIED",
            "BYOE",
            "CLEARBOX",
            "RANK_BY_EMBEDDING",
            "RANK_BY_FORMULA"
          ],
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false
          ]
        },
        "dataStoreSpecs": {
          "type": "array",
          "description": "Specifications that define the specific DataStores to be searched, along with configurations for those data stores. This is only considered for Engines with multiple data stores. For engines with a single data store, the specs directly under SearchRequest should be used.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestDataStoreSpec"
          }
        },
        "relevanceScoreSpec": {
          "description": "Optional. The specification for returning the relevance score.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestRelevanceScoreSpec"
        },
        "canonicalFilter": {
          "type": "string",
          "description": "The default filter that is applied when a user performs a search without checking any filters on the search page. The filter applied to every search request when quality improvement such as query expansion is needed. In the case a query does not have a sufficient amount of results this filter will be used to determine whether or not to enable the query expansion flow. The original filter will still be used for the query expanded search. This field is strongly recommended to achieve high search quality. For more information about filter syntax, see SearchRequest.filter."
        },
        "userLabels": {
          "description": "The user labels applied to a resource must meet the following requirements: * Each resource can have multiple labels, up to a maximum of 64. * Each label must be a key-value pair. * Keys have a minimum length of 1 character and a maximum length of 63 characters and cannot be empty. Values can be empty and have a maximum length of 63 characters. * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. All characters must use UTF-8 encoding, and international characters are allowed. * The key portion of a label must be unique. However, you can use the same key with multiple resources. * Keys must start with a lowercase letter or international character. See [Google Cloud Document](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements) for more details.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "entity": {
          "type": "string",
          "description": "Optional. The entity for customers that may run multiple different entities, domains, sites or regions, for example, \"Google US\", \"Google Ads\", \"Waymo\", \"google.com\", \"youtube.com\", etc. If this is set, it should be exactly matched with UserEvent.entity to get search results boosted by entity."
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see [Standard fields](https://cloud.google.com/apis/design/standard_fields). This field helps to better interpret the query. If a value isn't specified, the query language code is automatically detected, which may not be accurate."
        },
        "naturalLanguageQueryUnderstandingSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestNaturalLanguageQueryUnderstandingSpec",
          "description": "Optional. Config for natural language query understanding capabilities, such as extracting structured field filters from the query. Refer to [this documentation](https://cloud.google.com/generative-ai-app-builder/docs/natural-language-queries) for more information. If `naturalLanguageQueryUnderstandingSpec` is not specified, no additional natural language query understanding will be done."
        },
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of Documents to return. The maximum allowed value depends on the data type. Values above the maximum value are coerced to the maximum value. * Websites with basic indexing: Default `10`, Maximum `25`. * Websites with advanced indexing: Default `25`, Maximum `50`. * Other: Default `50`, Maximum `100`. If this field is negative, an `INVALID_ARGUMENT` is returned."
        },
        "pageToken": {
          "description": "A page token received from a previous SearchService.Search call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to SearchService.Search must match the call that provided the page token. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "type": "string"
        },
        "branch": {
          "description": "The branch resource name, such as `projects/*/locations/global/collections/default_collection/dataStores/default_data_store/branches/0`. Use `default_branch` as the branch ID or leave this field empty, to search documents under the default branch.",
          "type": "string"
        },
        "contentSearchSpec": {
          "description": "A specification for configuring the behavior of content search.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpec"
        },
        "userInfo": {
          "description": "Information about the end user. Highly recommended for analytics and personalization. UserInfo.user_agent is used to deduce `device_type` for analytics.",
          "$ref": "GoogleCloudDiscoveryengineV1betaUserInfo"
        },
        "boostSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpec",
          "description": "Boost specification to boost certain documents. For more information on boosting, see [Boosting](https://cloud.google.com/generative-ai-app-builder/docs/boost-search-results)"
        },
        "displaySpec": {
          "description": "Optional. Config for display feature, like match highlighting on search results.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestDisplaySpec"
        },
        "orderBy": {
          "description": "The order in which documents are returned. Documents can be ordered by a field in an Document object. Leave it unset if ordered by relevance. `order_by` expression is case-sensitive. For more information on ordering the website search results, see [Order web search results](https://cloud.google.com/generative-ai-app-builder/docs/order-web-search-results). For more information on ordering the healthcare search results, see [Order healthcare search results](https://cloud.google.com/generative-ai-app-builder/docs/order-hc-results). If this field is unrecognizable, an `INVALID_ARGUMENT` is returned.",
          "type": "string"
        },
        "facetSpecs": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestFacetSpec"
          },
          "type": "array",
          "description": "Facet specifications for faceted search. If empty, no facets are returned. A maximum of 100 values are allowed. Otherwise, an `INVALID_ARGUMENT` error is returned."
        },
        "searchAddonSpec": {
          "description": "Optional. SearchAddonSpec is used to disable add-ons for search as per new repricing model. This field is only supported for search requests.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestSearchAddonSpec"
        },
        "numResultsPerDataStore": {
          "description": "Optional. The maximum number of results to retrieve from each data store. If not specified, it will use the SearchRequest.DataStoreSpec.num_results if provided, otherwise there is no limit.",
          "format": "int32",
          "type": "integer"
        },
        "embeddingSpec": {
          "description": "Uses the provided embedding to do additional semantic document retrieval. The retrieval is based on the dot product of SearchRequest.EmbeddingSpec.EmbeddingVector.vector and the document embedding that is provided in SearchRequest.EmbeddingSpec.EmbeddingVector.field_path. If SearchRequest.EmbeddingSpec.EmbeddingVector.field_path is not provided, it will use ServingConfig.EmbeddingConfig.field_path.",
          "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestEmbeddingSpec"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaRemoveDedicatedCrawlRateRequest": {
      "description": "Request message for CrawlRateManagementService.RemoveDedicatedCrawlRate method. The user can remove the dedicated crawl rate for a crawl_rate_scope they own, and Google will fall back to organic crawl, and the crawl rate will be determined by Google.",
      "id": "GoogleCloudDiscoveryengineV1alphaRemoveDedicatedCrawlRateRequest",
      "properties": {
        "crawlRateScope": {
          "description": "Required. The scope of the crawl rate change. Currently, only domain and host name are supported. A domain name example: `example.com`. A host name example: `www.example.com`. Please do not include `/` in the domain or host name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSessionConfig": {
      "properties": {
        "sessionTtl": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSessionConfigSessionTtl",
          "description": "Optional. The TTL for the session. If unset, the default value is 60 days."
        },
        "sessionManagementPolicy": {
          "enumDescriptions": [
            "Default value.",
            "The session will be managed by the customer.",
            "Sessions multi-tenancy will be controlled by Google using 1P or 3P identity providers."
          ],
          "type": "string",
          "enum": [
            "SESSION_MANAGEMENT_POLICY_UNSPECIFIED",
            "NOT_MANAGED",
            "VERTEX_AI_MANAGED"
          ],
          "description": "Optional. Session management policy that defines who will manage the session."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSessionConfig",
      "description": "Configuration for the session.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1UpdateSchemaMetadata": {
      "type": "object",
      "description": "Metadata for UpdateSchema LRO.",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1UpdateSchemaMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpec": {
      "type": "object",
      "properties": {
        "conditionBoostSpecs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpecConditionBoostSpec"
          },
          "description": "Condition boost specifications. If a document matches multiple conditions in the specifications, boost scores from these specifications are all applied and combined in a non-linear way. Maximum number of specifications is 20."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestBoostSpec",
      "description": "Boost specification to boost certain documents."
    },
    "GoogleCloudDiscoveryengineV1DataConnectorRealtimeSyncConfigStreamingError": {
      "properties": {
        "streamingErrorReason": {
          "description": "Optional. Streaming error.",
          "enumDescriptions": [
            "Streaming error reason unspecified.",
            "Some error occurred while setting up resources for realtime sync.",
            "Some error was encountered while running realtime sync for the connector.",
            "Ingress endpoint is required when setting up realtime sync in private connectivity."
          ],
          "type": "string",
          "enum": [
            "STREAMING_ERROR_REASON_UNSPECIFIED",
            "STREAMING_SETUP_ERROR",
            "STREAMING_SYNC_ERROR",
            "INGRESS_ENDPOINT_REQUIRED"
          ]
        },
        "error": {
          "description": "Optional. Error details.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1DataConnectorRealtimeSyncConfigStreamingError",
      "description": "Streaming error details."
    },
    "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigChunkingConfigLayoutBasedChunkingConfig": {
      "properties": {
        "chunkSize": {
          "description": "The token size limit for each chunk. Supported values: 100-500 (inclusive). Default value: 500.",
          "format": "int32",
          "type": "integer"
        },
        "includeAncestorHeadings": {
          "type": "boolean",
          "description": "Whether to include appending different levels of headings to chunks from the middle of the document to prevent context loss. Default value: False."
        }
      },
      "type": "object",
      "description": "Configuration for the layout based chunking.",
      "id": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigChunkingConfigLayoutBasedChunkingConfig"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseGeoSearchDebugInfo": {
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "The error produced."
        },
        "originalAddressQuery": {
          "description": "The address from which forward geocoding ingestion produced issues.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseGeoSearchDebugInfo",
      "type": "object",
      "description": "Debug information specifically related to forward geocoding issues arising from Geolocation Search."
    },
    "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigMostPopularFeatureConfig": {
      "properties": {
        "timeWindowDays": {
          "format": "int64",
          "description": "The time window of which the engine is queried at training and prediction time. Positive integers only. The value translates to the last X days of events. Currently required for the `most-popular-items` engine.",
          "type": "string"
        }
      },
      "description": "Feature configurations that are required for creating a Most Popular engine.",
      "id": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigMostPopularFeatureConfig",
      "type": "object"
    },
    "GoogleCloudNotebooklmV1alphaBatchCreateSourcesRequest": {
      "id": "GoogleCloudNotebooklmV1alphaBatchCreateSourcesRequest",
      "properties": {
        "userContents": {
          "type": "array",
          "description": "Required. The UserContents to be uploaded.",
          "items": {
            "$ref": "GoogleCloudNotebooklmV1alphaUserContent"
          }
        }
      },
      "description": "Request for SourceService.BatchCreateSources method.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestSessionSpec": {
      "description": "Session specification.",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestSessionSpec",
      "type": "object",
      "properties": {
        "searchResultPersistenceCount": {
          "type": "integer",
          "description": "The number of top search results to persist. The persisted search results can be used for the subsequent /answer api call. This field is similar to the `summary_result_count` field in SearchRequest.ContentSearchSpec.SummarySpec.summary_result_count. At most 10 results for documents mode, or 50 for chunks mode.",
          "format": "int32"
        },
        "queryId": {
          "description": "If set, the search result gets stored to the \"turn\" specified by this query ID. Example: Let's say the session looks like this: session { name: \".../sessions/xxx\" turns { query { text: \"What is foo?\" query_id: \".../questions/yyy\" } answer: \"Foo is ...\" } turns { query { text: \"How about bar then?\" query_id: \".../questions/zzz\" } } } The user can call /search API with a request like this: session: \".../sessions/xxx\" session_spec { query_id: \".../questions/zzz\" } Then, the API stores the search result, associated with the last turn. The stored search result can be used by a subsequent /answer API call (with the session ID and the query ID specified). Also, it is possible to call /search and /answer in parallel with the same session ID & query ID.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaCannedQuery": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaCannedQuery",
      "properties": {
        "displayName": {
          "description": "The display name of the canned query. It must be a UTF-8 encoded string with a length limit of 128 characters.",
          "type": "string"
        },
        "googleDefined": {
          "type": "boolean",
          "description": "Output only. Whether this is a Google-defined, read-only canned query.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Immutable. Resource name of the canned query. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/assistants/{assistant}/cannedQueries/{canned_query}` It must be a UTF-8 encoded string with a length limit of 1024 characters."
        },
        "defaultTexts": {
          "description": "Required. The default (non-localized) values for the text attributes.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaCannedQueryCannedQueryTexts"
        },
        "requiredCapabilities": {
          "description": "Optional. The capabilities the Assistant needs to have to use this canned query.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaCannedQueryAssistantCapability"
          },
          "type": "array"
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether this canned query is enabled."
        },
        "localizedTexts": {
          "type": "object",
          "description": "Optional. The translations of the text attributes. The keys should be BCP-47 language codes.",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaCannedQueryCannedQueryTexts"
          }
        }
      },
      "description": "Canned query resource of Assistant. It represents a short-cut to a predefined conversation start."
    },
    "GoogleCloudDiscoveryengineV1alphaPurgeCompletionSuggestionsResponse": {
      "properties": {
        "purgeSucceeded": {
          "description": "Whether the completion suggestions were successfully purged.",
          "type": "boolean"
        },
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the request.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for CompletionService.PurgeCompletionSuggestions method. If the long running operation is successfully done, then this message is returned by the google.longrunning.Operations.response field.",
      "id": "GoogleCloudDiscoveryengineV1alphaPurgeCompletionSuggestionsResponse"
    },
    "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpec": {
      "id": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpec",
      "description": "A specification for configuring a summary returned in a search response.",
      "properties": {
        "ignoreLowRelevantContent": {
          "description": "Specifies whether to filter out queries that have low relevance. The default value is `false`. If this field is set to `false`, all search results are used regardless of relevance to generate answers. If set to `true`, only queries with high relevance search results will generate answers.",
          "type": "boolean"
        },
        "summaryResultCount": {
          "description": "The number of top results to generate the summary from. If the number of results returned is less than `summaryResultCount`, the summary is generated from all of the results. At most 10 results for documents mode, or 50 for chunks mode, can be used to generate a summary. The chunks mode is used when SearchRequest.ContentSearchSpec.search_result_mode is set to CHUNKS.",
          "type": "integer",
          "format": "int32"
        },
        "useSemanticChunks": {
          "type": "boolean",
          "description": "If true, answer will be generated from most relevant chunks from top search results. This feature will improve summary quality. Note that with this feature enabled, not all top search results will be referenced and included in the reference list, so the citation source index only points to the search results listed in the reference list."
        },
        "languageCode": {
          "description": "Language code for Summary. Use language tags defined by [BCP47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt). Note: This is an experimental feature.",
          "type": "string"
        },
        "includeCitations": {
          "description": "Specifies whether to include citations in the summary. The default value is `false`. When this field is set to `true`, summaries include in-line citation numbers. Example summary including citations: BigQuery is Google Cloud's fully managed and completely serverless enterprise data warehouse [1]. BigQuery supports all data types, works across clouds, and has built-in machine learning and business intelligence, all within a unified platform [2, 3]. The citation numbers refer to the returned search results and are 1-indexed. For example, [1] means that the sentence is attributed to the first search result. [2, 3] means that the sentence is attributed to both the second and third search results.",
          "type": "boolean"
        },
        "modelSpec": {
          "description": "If specified, the spec will be used to modify the model specification provided to the LLM.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpecModelSpec"
        },
        "ignoreJailBreakingQuery": {
          "description": "Optional. Specifies whether to filter out jail-breaking queries. The default value is `false`. Google employs search-query classification to detect jail-breaking queries. No summary is returned if the search query is classified as a jail-breaking query. A user might add instructions to the query to change the tone, style, language, content of the answer, or ask the model to act as a different entity, e.g. \"Reply in the tone of a competing company's CEO\". If this field is set to `true`, we skip generating summaries for jail-breaking queries and return fallback messages instead.",
          "type": "boolean"
        },
        "ignoreAdversarialQuery": {
          "type": "boolean",
          "description": "Specifies whether to filter out adversarial queries. The default value is `false`. Google employs search-query classification to detect adversarial queries. No summary is returned if the search query is classified as an adversarial query. For example, a user might ask a question regarding negative comments about the company or submit a query designed to generate unsafe, policy-violating output. If this field is set to `true`, we skip generating summaries for adversarial queries and return fallback messages instead."
        },
        "ignoreNonSummarySeekingQuery": {
          "description": "Specifies whether to filter out queries that are not summary-seeking. The default value is `false`. Google employs search-query classification to detect summary-seeking queries. No summary is returned if the search query is classified as a non-summary seeking query. For example, `why is the sky blue` and `Who is the best soccer player in the world?` are summary-seeking queries, but `SFO airport` and `world cup 2026` are not. They are most likely navigational queries. If this field is set to `true`, we skip generating summaries for non-summary seeking queries and return fallback messages instead.",
          "type": "boolean"
        },
        "modelPromptSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpecModelPromptSpec",
          "description": "If specified, the spec will be used to modify the prompt provided to the LLM."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigNotebooklmConfig": {
      "properties": {
        "searchConfig": {
          "description": "Required. Search config name. Format: projects/*/locations/global/notebookLmSearchConfigs/*",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigNotebooklmConfig",
      "description": "Config for connecting to NotebookLM Enterprise.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1BatchUpdateUserLicensesResponse": {
      "type": "object",
      "description": "Response message for UserLicenseService.BatchUpdateUserLicenses method.",
      "id": "GoogleCloudDiscoveryengineV1BatchUpdateUserLicensesResponse",
      "properties": {
        "userLicenses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1UserLicense"
          },
          "description": "UserLicenses successfully updated."
        },
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "A sample of errors encountered while processing the request.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1DataProtectionPolicy": {
      "description": "Contains the data protection policy config for a DataStore or a connector.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1DataProtectionPolicy",
      "properties": {
        "sensitiveDataProtectionPolicy": {
          "$ref": "GoogleCloudDiscoveryengineV1DataProtectionPolicySensitiveDataProtectionPolicy",
          "description": "Optional. Specifies the sensitive data protection policy for the connector source."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaImportSampleQueriesRequest": {
      "description": "Request message for SampleQueryService.ImportSampleQueries method.",
      "id": "GoogleCloudDiscoveryengineV1alphaImportSampleQueriesRequest",
      "properties": {
        "inlineSource": {
          "description": "The Inline source for sample query entries.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaImportSampleQueriesRequestInlineSource"
        },
        "bigquerySource": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaBigQuerySource",
          "description": "BigQuery input source."
        },
        "gcsSource": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaGcsSource",
          "description": "Cloud Storage location for the input content."
        },
        "errorConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaImportErrorConfig",
          "description": "The desired location of errors incurred during the Import."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ActionConfigScopeList": {
      "properties": {
        "scopes": {
          "description": "Optional. The list of scopes.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Stores a list of scopes.",
      "id": "GoogleCloudDiscoveryengineV1ActionConfigScopeList"
    },
    "GoogleCloudDiscoveryengineV1alphaAssistantContent": {
      "properties": {
        "file": {
          "description": "A file, e.g., an audio summary.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantContentFile"
        },
        "role": {
          "description": "The producer of the content. Can be \"model\" or \"user\".",
          "type": "string"
        },
        "text": {
          "description": "Inline text.",
          "type": "string"
        },
        "inlineData": {
          "description": "Inline binary data.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantContentBlob"
        },
        "codeExecutionResult": {
          "description": "Result of executing an ExecutableCode.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantContentCodeExecutionResult"
        },
        "executableCode": {
          "description": "Code generated by the model that is meant to be executed.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantContentExecutableCode"
        },
        "thought": {
          "description": "Optional. Indicates if the part is thought from the model.",
          "type": "boolean"
        }
      },
      "description": "Multi-modal content.",
      "id": "GoogleCloudDiscoveryengineV1alphaAssistantContent",
      "type": "object"
[...]
