{
  "basePath": "",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "canonicalName": "Discovery Engine",
  "revision": "20260831",
  "version": "v1alpha",
  "servicePath": "",
  "baseUrl": "https://discoveryengine.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "discoveryVersion": "v1",
  "protocol": "rest",
  "mtlsRootUrl": "https://discoveryengine.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "endpoints": [
    {
      "location": "asia-northeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://discoveryengine.asia-northeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://discoveryengine.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "description": "Regional Endpoint",
      "location": "us",
      "endpointUrl": "https://discoveryengine.us.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "eu",
      "endpointUrl": "https://discoveryengine.eu.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://discoveryengine.in.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "in"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://discoveryengine.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://discoveryengine.europe-west3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "ca",
      "endpointUrl": "https://discoveryengine.ca.rep.googleapis.com/"
    }
  ],
  "schemas": {
    "GoogleCloudDiscoveryengineV1betaDeleteTargetSiteMetadata": {
      "id": "GoogleCloudDiscoveryengineV1betaDeleteTargetSiteMetadata",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        }
      },
      "description": "Metadata related to the progress of the SiteSearchEngineService.DeleteTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ControlSynonymsAction": {
      "id": "GoogleCloudDiscoveryengineV1ControlSynonymsAction",
      "description": "Creates a set of terms that will act as synonyms of one another. Example: \"happy\" will also be considered as \"glad\", \"glad\" will also be considered as \"happy\".",
      "properties": {
        "synonyms": {
          "description": "Defines a set of synonyms. Can specify up to 100 synonyms. Must specify at least 2 synonyms. Otherwise an INVALID ARGUMENT error is thrown.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseSummaryCitation": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummaryCitation",
      "description": "Citation info for a segment.",
      "properties": {
        "startIndex": {
          "type": "string",
          "description": "Index indicates the start of the segment, measured in bytes/unicode.",
          "format": "int64"
        },
        "sources": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummaryCitationSource"
          },
          "description": "Citation sources for the attributed segment."
        },
        "endIndex": {
          "description": "End of the attributed segment, exclusive.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaReportConsentChangeRequest": {
      "description": "Request for ReportConsentChange method.",
      "id": "GoogleCloudDiscoveryengineV1alphaReportConsentChangeRequest",
      "properties": {
        "consentChangeAction": {
          "description": "Required. Whether customer decides to accept or decline service term. At this moment, only accept action is supported.",
          "enumDescriptions": [
            "Invalid action, user must specify accept/decline",
            "User accepts service terms."
          ],
          "type": "string",
          "enum": [
            "CONSENT_CHANGE_ACTION_UNSPECIFIED",
            "ACCEPT"
          ]
        },
        "serviceTermVersion": {
          "type": "string",
          "description": "Required. The version string of the terms of service to update."
        },
        "serviceTermId": {
          "type": "string",
          "description": "Required. The unique identifier of the terms of service to update. Available term ids: * `GA_DATA_USE_TERMS`: [Terms for data use](https://cloud.google.com/retail/data-use-terms). When using this service term id, the acceptable service_term_version to provide is `2022-11-23`."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseSummaryCitationMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummaryCitationMetadata",
      "description": "Citation metadata.",
      "type": "object",
      "properties": {
        "citations": {
          "description": "Citations for segments.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummaryCitation"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfig": {
      "id": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfig",
      "description": "Additional config specs for a Media Recommendation engine.",
      "properties": {
        "engineFeaturesConfig": {
          "description": "Optional. Additional engine features config.",
          "$ref": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigEngineFeaturesConfig"
        },
        "optimizationObjective": {
          "type": "string",
          "description": "The optimization objective. e.g., `cvr`. This field together with optimization_objective describe engine metadata to use to control engine training and serving. Currently supported values: `ctr`, `cvr`. If not specified, we choose default based on engine type. Default depends on type of recommendation: `recommended-for-you` => `ctr` `others-you-may-like` => `ctr`"
        },
        "trainingState": {
          "description": "The training state that the engine is in (e.g. `TRAINING` or `PAUSED`). Since part of the cost of running the service is frequency of training - this can be used to determine when to train engine in order to control cost. If not specified: the default value for `CreateEngine` method is `TRAINING`. The default value for `UpdateEngine` method is to keep the state the same as before.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified training state.",
            "The engine training is paused.",
            "The engine is training."
          ],
          "enum": [
            "TRAINING_STATE_UNSPECIFIED",
            "PAUSED",
            "TRAINING"
          ]
        },
        "optimizationObjectiveConfig": {
          "description": "Name and value of the custom threshold for cvr optimization_objective. For target_field `watch-time`, target_field_value must be an integer value indicating the media progress time in seconds between (0, 86400] (excludes 0, includes 86400) (e.g., 90). For target_field `watch-percentage`, the target_field_value must be a valid float value between (0, 1.0] (excludes 0, includes 1.0) (e.g., 0.5).",
          "$ref": "GoogleCloudDiscoveryengineV1EngineMediaRecommendationEngineConfigOptimizationObjectiveConfig"
        },
        "type": {
          "type": "string",
          "description": "Required. The type of engine. e.g., `recommended-for-you`. This field together with optimization_objective describe engine metadata to use to control engine training and serving. Currently supported values: `recommended-for-you`, `others-you-may-like`, `more-like-this`, `most-popular-items`."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1AssistantGenerationConfigSystemInstruction": {
      "properties": {
        "additionalSystemInstruction": {
          "description": "Optional. Additional system instruction that will be added to the default system instruction.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AssistantGenerationConfigSystemInstruction",
      "type": "object",
      "description": "System instruction, also known as the prompt preamble for LLM calls."
    },
    "GoogleCloudDiscoveryengineV1alphaAssistantCustomerPolicyBannedPhrase": {
      "id": "GoogleCloudDiscoveryengineV1alphaAssistantCustomerPolicyBannedPhrase",
      "properties": {
        "matchType": {
          "enumDescriptions": [
            "Defaults to SIMPLE_STRING_MATCH.",
            "The banned phrase matches if it is found anywhere in the text as an exact substring.",
            "Banned phrase only matches if the pattern found in the text is surrounded by word delimiters. The phrase itself may still contain word delimiters."
          ],
          "description": "Optional. Match type for the banned phrase.",
          "type": "string",
          "enum": [
            "BANNED_PHRASE_MATCH_TYPE_UNSPECIFIED",
            "SIMPLE_STRING_MATCH",
            "WORD_BOUNDARY_STRING_MATCH"
          ]
        },
        "phrase": {
          "description": "Required. The raw string content to be banned.",
          "type": "string"
        },
        "ignoreDiacritics": {
          "description": "Optional. If true, diacritical marks (e.g., accents, umlauts) are ignored when matching banned phrases. For example, \"cafe\" would match \"café\".",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Definition of a customer-defined banned phrase. A banned phrase is not allowed to appear in the user query or the LLM response, or else the answer will be refused."
    },
    "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigAlloyDbConfigAlloyDbAiNaturalLanguageConfig": {
      "description": "Configuration for AlloyDB AI Natural Language.",
      "id": "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigAlloyDbConfigAlloyDbAiNaturalLanguageConfig",
      "properties": {
        "nlConfigId": {
          "type": "string",
          "description": "Optional. AlloyDb AI NL config id, i.e. the value that was used for calling `SELECT alloydb_ai_nl.g_create_configuration(...)`. Can be empty."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaListSampleQueriesResponse": {
      "description": "Response message for SampleQueryService.ListSampleQueries method.",
      "id": "GoogleCloudDiscoveryengineV1alphaListSampleQueriesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as ListSampleQueriesRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "sampleQueries": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSampleQuery"
          },
          "description": "The SampleQuerys.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaCreateEngineMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaCreateEngineMetadata",
      "description": "Metadata related to the progress of the EngineService.CreateEngine operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1EngineChatEngineMetadata": {
      "description": "Additional information of a Chat Engine. Fields in this message are output only.",
      "type": "object",
      "properties": {
        "dialogflowAgent": {
          "description": "The resource name of a Dialogflow agent, that this Chat Engine refers to. Format: `projects//locations//agents/`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1EngineChatEngineMetadata"
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestNaturalLanguageQueryUnderstandingSpec": {
      "description": "Specification to enable natural language understanding capabilities for search requests.",
      "type": "object",
      "properties": {
        "allowedFieldNames": {
          "type": "array",
          "description": "Optional. Allowlist of fields that can be used for natural language filter extraction. By default, if this is unspecified, all indexable fields are eligible for natural language filter extraction (but are not guaranteed to be used). If any fields are specified in allowed_field_names, only the fields that are both marked as indexable in the schema and specified in the allowlist will be eligible for natural language filter extraction. Note: for multi-datastore search, this is not yet supported, and will be ignored.",
          "items": {
            "type": "string"
          }
        },
        "extractedFilterBehavior": {
          "description": "Optional. Controls behavior of how extracted filters are applied to the search. The default behavior depends on the request. For single datastore structured search, the default is `HARD_FILTER`. For multi-datastore search, the default behavior is `SOFT_BOOST`. Location-based filters are always applied as hard filters, and the `SOFT_BOOST` setting will not affect them. This field is only used if SearchRequest.NaturalLanguageQueryUnderstandingSpec.FilterExtractionCondition is set to FilterExtractionCondition.ENABLED.",
          "type": "string",
          "enum": [
            "EXTRACTED_FILTER_BEHAVIOR_UNSPECIFIED",
            "HARD_FILTER",
            "SOFT_BOOST"
          ],
          "enumDescriptions": [
            "`EXTRACTED_FILTER_BEHAVIOR_UNSPECIFIED` will use the default behavior for extracted filters. For single datastore search, the default is to apply as hard filters. For multi-datastore search, the default is to apply as soft boosts.",
            "Applies all extracted filters as hard filters on the results. Results that do not pass the extracted filters will not be returned in the result set.",
            "Applies all extracted filters as soft boosts. Results that pass the filters will be boosted up to higher ranks in the result set."
          ]
        },
        "geoSearchQueryDetectionFieldNames": {
          "description": "Field names used for location-based filtering, where geolocation filters are detected in natural language search queries. Only valid when the FilterExtractionCondition is set to `ENABLED`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "filterExtractionCondition": {
          "enumDescriptions": [
            "Server behavior defaults to `DISABLED`.",
            "Disables NL filter extraction.",
            "Enables NL filter extraction."
          ],
          "description": "The condition under which filter extraction should occur. Server behavior defaults to `DISABLED`.",
          "type": "string",
          "enum": [
            "CONDITION_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ]
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestNaturalLanguageQueryUnderstandingSpec"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestQueryUnderstandingSpecQueryRephraserSpecModelSpec": {
      "description": "Query Rephraser Model specification.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestQueryUnderstandingSpecQueryRephraserSpecModelSpec",
      "properties": {
        "modelType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified model type.",
            "Small query rephraser model. Gemini 1.0 XS model.",
            "Large query rephraser model. Gemini 1.0 Pro model."
          ],
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "SMALL",
            "LARGE"
          ],
          "description": "Optional. Enabled query rephraser model type. If not set, it will use LARGE by default."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestPersonalizationSpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestPersonalizationSpec",
      "properties": {
        "mode": {
          "description": "The personalization mode of the search request. Defaults to Mode.AUTO.",
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "AUTO",
            "DISABLED"
          ],
          "enumDescriptions": [
            "Default value. In this case, server behavior defaults to Mode.AUTO.",
            "Personalization is enabled if data quality requirements are met.",
            "Disable personalization."
          ]
        }
      },
      "description": "The specification for personalization.",
      "type": "object"
    },
    "GoogleCloudNotebooklmV1alphaFailureReasonGoogleDriveErrorDownloadPrevented": {
      "properties": {},
      "id": "GoogleCloudNotebooklmV1alphaFailureReasonGoogleDriveErrorDownloadPrevented",
      "description": "The user was prevented from downloading the file.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaImportDocumentsRequestInlineSource": {
      "properties": {
        "documents": {
          "type": "array",
          "description": "Required. A list of documents to update/create. Each document must have a valid Document.id. Recommended max of 100 items.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaDocument"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaImportDocumentsRequestInlineSource",
      "description": "The inline source for the input config for ImportDocuments method."
    },
    "GoogleCloudDiscoveryengineV1alphaSampleQueryQueryEntry": {
      "type": "object",
      "description": "Query Entry captures metadata to be used for search evaluation.",
      "properties": {
        "query": {
          "description": "Required. The query.",
          "type": "string"
        },
        "targets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSampleQueryQueryEntryTarget"
          },
          "description": "List of targets for the query."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSampleQueryQueryEntry"
    },
    "GoogleCloudDiscoveryengineV1alphaCitationMetadata": {
      "type": "object",
      "properties": {
        "citations": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaCitation"
          },
          "description": "Output only. List of citations.",
          "type": "array",
          "readOnly": true
        }
      },
      "description": "A collection of source attributions for a piece of content.",
      "id": "GoogleCloudDiscoveryengineV1alphaCitationMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaAuthorization": {
      "description": "Discovery Engine Authorization resource.",
      "id": "GoogleCloudDiscoveryengineV1alphaAuthorization",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of the authorization. Format: `projects/{project}/locations/{location}/authorizations/{authorization}` It must be a UTF-8 encoded string with a length limit of 1024 characters."
        },
        "displayName": {
          "description": "Required. The display name of the authorization. It must be a UTF-8 encoded string with a length limit of 128 characters.",
          "type": "string"
        },
        "serverSideOauth2": {
          "description": "Server-side OAuth2 configuration.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAuthorizationServerSideOAuth2"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerGroundingSupport": {
      "type": "object",
      "properties": {
        "endIndex": {
          "description": "Required. End of the claim, exclusive.",
          "format": "int64",
          "type": "string"
        },
        "sources": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerCitationSource"
          },
          "type": "array",
          "description": "Optional. Citation sources for the claim."
        },
        "groundingScore": {
          "format": "double",
          "description": "A score in the range of [0, 1] describing how grounded is a specific claim by the references. Higher value means that the claim is better supported by the reference chunks.",
          "type": "number"
        },
        "startIndex": {
          "description": "Required. Index indicates the start of the claim, measured in bytes (UTF-8 unicode).",
          "format": "int64",
          "type": "string"
        },
        "groundingCheckRequired": {
          "description": "Indicates that this claim required grounding check. When the system decided this claim didn't require attribution/grounding check, this field is set to false. In that case, no grounding check was done for the claim and therefore `grounding_score`, `sources` is not returned.",
          "type": "boolean"
        }
      },
      "description": "Grounding support for a claim in `answer_text`.",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerGroundingSupport"
    },
    "GoogleCloudDiscoveryengineV1betaImportUserEventsMetadata": {
      "description": "Metadata related to the progress of the Import operation. This is returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaImportUserEventsMetadata",
      "properties": {
        "successCount": {
          "format": "int64",
          "description": "Count of entries that were processed successfully.",
          "type": "string"
        },
        "failureCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of entries that encountered errors while processing."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigChunkingConfigLayoutBasedChunkingConfig": {
      "description": "Configuration for the layout based chunking.",
      "type": "object",
      "properties": {
        "chunkSize": {
          "type": "integer",
          "format": "int32",
          "description": "The token size limit for each chunk. Supported values: 100-500 (inclusive). Default value: 500."
        },
        "includeAncestorHeadings": {
          "description": "Whether to include appending different levels of headings to chunks from the middle of the document to prevent context loss. Default value: False.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaDocumentProcessingConfigChunkingConfigLayoutBasedChunkingConfig"
    },
    "GoogleCloudDiscoveryengineV1alphaDataConnectorConnectorMetadata": {
      "type": "object",
      "description": "User-facing metadata for the connector, shown on the connector detail page (title, description, short_description, author, note).",
      "properties": {
        "title": {
          "description": "Optional. Display title of the connector.",
          "type": "string"
        },
        "shortDescription": {
          "description": "Optional. Short, subtitle-length description of the connector (e.g. shown beneath the connector name in list and detail views).",
          "type": "string"
        },
        "note": {
          "description": "Optional. Free-form, multi-line note about the connector's capabilities or a custom note that can be set for the connector.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Human-readable description of the connector, shown on the connector detail page. One connector has a single description.",
          "type": "string"
        },
        "author": {
          "type": "string",
          "description": "Optional. The party that authored the connector, e.g. \"Google\" or a third-party provider name. Lets end users see who authored a connector (future: third-party-authored connectors)."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaDataConnectorConnectorMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaDataConnectorEndUserConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaDataConnectorEndUserConfig",
      "type": "object",
      "description": "Any params and credentials used specifically for EUA connectors.",
      "properties": {
        "jsonAuthParams": {
          "type": "string",
          "description": "Optional. Any authentication parameters specific to EUA connectors in json string format."
        },
        "authParams": {
          "description": "Optional. Any authentication parameters specific to EUA connectors.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "tenant": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaTenant",
          "description": "Optional. The tenant project the connector is connected to."
        },
        "additionalParams": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Any additional parameters needed for EUA."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaImportSuggestionDenyListEntriesRequestInlineSource": {
      "id": "GoogleCloudDiscoveryengineV1alphaImportSuggestionDenyListEntriesRequestInlineSource",
      "description": "The inline source for SuggestionDenyListEntry.",
      "properties": {
        "entries": {
          "description": "Required. A list of all denylist entries to import. Max of 1000 items.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSuggestionDenyListEntry"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaEnableAdvancedSiteSearchRequest": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDiscoveryengineV1alphaEnableAdvancedSiteSearchRequest",
      "description": "Request message for SiteSearchEngineService.EnableAdvancedSiteSearch method."
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpec": {
      "type": "object",
      "description": "Boost specification to boost certain documents.",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpec",
      "properties": {
        "conditionBoostSpecs": {
          "description": "Condition boost specifications. If a document matches multiple conditions in the specifications, boost scores from these specifications are all applied and combined in a non-linear way. Maximum number of specifications is 20.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSearchRequestBoostSpecConditionBoostSpec"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1TargetSiteFailureReason": {
      "description": "Site search indexing failure reasons.",
      "type": "object",
      "properties": {
        "quotaFailure": {
          "description": "Failed due to insufficient quota.",
          "$ref": "GoogleCloudDiscoveryengineV1TargetSiteFailureReasonQuotaFailure"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1TargetSiteFailureReason"
    },
    "GoogleCloudDiscoveryengineV1alphaOrganicCrawlRateTimeSeries": {
      "properties": {
        "vertexAiOrganicCrawlRate": {
          "description": "Vertex AI's organic crawl rate time series, which is the crawl rate of Google-CloudVertexBot when dedicate crawl is not set. Please refer to https://developers.google.com/search/docs/crawling-indexing/google-common-crawlers#google-cloudvertexbot for more details about Google-CloudVertexBot.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries"
        },
        "googleOrganicCrawlRate": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries",
          "description": "Google's organic crawl rate time series, which is the sum of all googlebots' crawl rate. Please refer to https://developers.google.com/search/docs/crawling-indexing/overview-google-crawlers for more details about googlebots."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaOrganicCrawlRateTimeSeries",
      "description": "The historical organic crawl rate timeseries data, used for monitoring. Organic crawl is auto-determined by Google to crawl the user's website when dedicate crawl is not set. Crawl rate is the QPS of crawl request Google sends to the user's website.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaImportCompletionSuggestionsRequestInlineSource": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaImportCompletionSuggestionsRequestInlineSource",
      "description": "The inline source for CompletionSuggestions.",
      "properties": {
        "suggestions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaCompletionSuggestion"
          },
          "description": "Required. A list of all denylist entries to import. Max of 1000 items."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicySensitiveDataProtectionPolicy": {
      "properties": {
        "policy": {
          "type": "string",
          "description": "Optional. The Sensitive Data Protection policy resource name."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicySensitiveDataProtectionPolicy",
      "type": "object",
      "description": "Specifies a Sensitive Data Protection (https://cloud.google.com/sensitive-data-protection/docs/sensitive-data-protection-overview) policy."
    },
    "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfigNotebooklmConfigModelArmorConfig": {
      "id": "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfigNotebooklmConfigModelArmorConfig",
      "description": "Configuration for customer defined Model Armor templates to be used for sanitizing user prompts and LLM responses.",
      "properties": {
        "userPromptTemplate": {
          "type": "string",
          "description": "Optional. The resource name of the Model Armor Template for sanitizing user prompts. Format: projects/{project}/locations/{location}/templates/{template_id} If not specified, no sanitization will be applied to the user prompt."
        },
        "responseTemplate": {
          "type": "string",
          "description": "Optional. The resource name of the Model Armor Template for sanitizing LLM responses. Format: projects/{project}/locations/{location}/templates/{template_id} If not specified, no sanitization will be applied to the LLM response."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaEstimateDataSizeResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaEstimateDataSizeResponse",
      "type": "object",
      "description": "Response of the EstimateDataSize request. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "properties": {
        "dataSizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "Data size in terms of bytes."
        },
        "documentCount": {
          "type": "string",
          "description": "Total number of documents.",
          "format": "int64"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaListSessionsResponse": {
      "properties": {
        "sessions": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSession"
          },
          "description": "All the Sessions for a given data store.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Pagination token, if not returned indicates the last page.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaListSessionsResponse",
      "description": "Response for ListSessions method.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaVideoCharacteristics": {
      "properties": {
        "videoCodecs": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Video codecs used in the video."
        },
        "audioCodecs": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Audio codecs used in the video.",
          "type": "array",
          "readOnly": true
        },
        "audioBitrateKbps": {
          "readOnly": true,
          "description": "Output only. Bitrate of the audio in kbps.",
          "type": "integer",
          "format": "int32"
        },
        "frameRate": {
          "format": "double",
          "description": "Output only. Frame rate (frames per second).",
          "readOnly": true,
          "type": "number"
        },
        "width": {
          "readOnly": true,
          "description": "Output only. Video width in pixels.",
          "type": "integer",
          "format": "int32"
        },
        "height": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Video height in pixels.",
          "readOnly": true
        },
        "videoBitrateKbps": {
          "description": "Output only. Bitrate of the video in kbps.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "duration": {
          "format": "google-duration",
          "description": "Output only. Video duration.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Standard characteristics of a video media view.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaVideoCharacteristics"
    },
    "GoogleCloudDiscoveryengineV1betaTuneEngineMetadata": {
      "type": "object",
      "properties": {
        "engine": {
          "description": "Required. The resource name of the engine that this tune applies to. Format: `projects/{project}/locations/{location}/collections/{collection_id}/engines/{engine_id}`",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaTuneEngineMetadata",
      "description": "Metadata associated with a tune operation."
    },
    "GoogleCloudDiscoveryengineV1alphaIdpConfigExternalIdpConfig": {
      "properties": {
        "workforcePoolName": {
          "type": "string",
          "description": "Workforce pool name. Example: \"locations/global/workforcePools/pool_id\""
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaIdpConfigExternalIdpConfig",
      "description": "Third party IDP Config."
    },
    "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperimentStats": {
      "id": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperimentStats",
      "type": "object",
      "description": "Stats about the experiment.",
      "properties": {
        "inputTokenCount": {
          "description": "Output only. Number of billed input tokens consumed by the experiment.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "outputTokenCount": {
          "readOnly": true,
          "description": "Output only. Number of billed output tokens consumed by the experiment.",
          "type": "string",
          "format": "int64"
        },
        "evaluatedCandidatesCount": {
          "type": "integer",
          "description": "Output only. Number of candidates evaluated.",
          "readOnly": true,
          "format": "int32"
        },
        "candidatesCount": {
          "description": "Output only. Number of candidates generated.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaCondition": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaCondition",
      "description": "Defines circumstances to be checked before allowing a behavior",
      "properties": {
        "queryRegex": {
          "description": "Optional. Query regex to match the whole search query. Cannot be set when Condition.query_terms is set. Only supported for Basic Site Search promotion serving controls.",
          "type": "string"
        },
        "activeTimeRange": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaConditionTimeRange"
          },
          "description": "Range of time(s) specifying when condition is active. Maximum of 10 time ranges."
        },
        "queryTerms": {
          "description": "Search only A list of terms to match the query on. Cannot be set when Condition.query_regex is set. Maximum of 10 query terms.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaConditionQueryTerm"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1DeleteIdentityMappingStoreMetadata": {
      "id": "GoogleCloudDiscoveryengineV1DeleteIdentityMappingStoreMetadata",
      "properties": {
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation create time."
        }
      },
      "type": "object",
      "description": "Metadata related to the progress of the IdentityMappingStoreService.DeleteIdentityMappingStore operation. This will be returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1betaAdvancedSiteSearchConfig": {
      "id": "GoogleCloudDiscoveryengineV1betaAdvancedSiteSearchConfig",
      "type": "object",
      "description": "Configuration data for advance site search.",
      "properties": {
        "disableInitialIndex": {
          "description": "If set true, initial indexing is disabled for the DataStore.",
          "type": "boolean"
        },
        "disableAutomaticRefresh": {
          "description": "If set true, automatic refresh is disabled for the DataStore.",
          "type": "boolean"
        }
      }
    },
    "GoogleMonitoringV3Point": {
      "description": "A single data point in a time series.",
      "type": "object",
      "properties": {
        "interval": {
          "$ref": "GoogleMonitoringV3TimeInterval",
          "description": "The time interval to which the data point applies. For `GAUGE` metrics, the start time is optional, but if it is supplied, it must equal the end time. For `DELTA` metrics, the start and end time should specify a non-zero interval, with subsequent points specifying contiguous and non-overlapping intervals. For `CUMULATIVE` metrics, the start and end time should specify a non-zero interval, with subsequent points specifying the same start time and increasing end times, until an event resets the cumulative value to zero and sets a new start time for the following points."
        },
        "value": {
          "description": "The value of the data point.",
          "$ref": "GoogleMonitoringV3TypedValue"
        }
      },
      "id": "GoogleMonitoringV3Point"
    },
    "GoogleCloudDiscoveryengineV1alphaWidgetConfigDataStoreUiConfig": {
      "properties": {
        "id": {
          "readOnly": true,
          "description": "Output only. the identifier of the data store, used for widget service. For now it refers to data_store_id, in the future we will migrate the field to encrypted data store name UUID.",
          "type": "string"
        },
        "facetField": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaWidgetConfigFacetField"
          },
          "description": "Facet fields that store the mapping of fields to end user widget appearance.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "The name of the data store. It should be data store resource name Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. For APIs under WidgetService, such as WidgetService.LookupWidgetConfig, the project number and location part is erased in this field."
        },
        "fieldsUiComponentsMap": {
          "description": "The key is the UI component. Mock. Currently supported `title`, `thumbnail`, `url`, `custom1`, `custom2`, `custom3`. The value is the name of the field along with its device visibility. The 3 custom fields are optional and can be added or removed. `title`, `thumbnail`, `url` are required UI components that cannot be removed.",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaWidgetConfigUIComponentField"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaWidgetConfigDataStoreUiConfig",
      "description": "UI component configuration for data store."
    },
    "GoogleCloudDiscoveryengineV1Project": {
      "type": "object",
      "description": "Metadata and configurations for a Google Cloud project in the service.",
      "id": "GoogleCloudDiscoveryengineV1Project",
      "properties": {
        "configurableBillingStatus": {
          "readOnly": true,
          "description": "Output only. The current status of the project's configurable billing.",
          "$ref": "GoogleCloudDiscoveryengineV1ProjectConfigurableBillingStatus"
        },
        "provisionCompletionTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when this project is successfully provisioned. Empty value means this project is still provisioning and is not ready for use.",
          "type": "string",
          "format": "google-datetime"
        },
        "customerProvidedConfig": {
          "description": "Optional. Customer provided configurations.",
          "$ref": "GoogleCloudDiscoveryengineV1ProjectCustomerProvidedConfig"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when this project is created.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Full resource name of the project, for example `projects/{project}`. Note that when making requests, project number and project id are both acceptable, but the server will always respond in project number.",
          "readOnly": true,
          "type": "string"
        },
        "serviceTermsMap": {
          "readOnly": true,
          "description": "Output only. A map of terms of services. The key is the `id` of ServiceTerms.",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1ProjectServiceTerms"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestSearchAddonSpec": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestSearchAddonSpec",
      "description": "SearchAddonSpec is used to disable add-ons for search as per new repricing model. By default if the SearchAddonSpec is not specified, we consider that the customer wants to enable them wherever applicable.",
      "properties": {
        "disableKpiPersonalizationAddOn": {
          "description": "Optional. If true, disables event re-ranking and personalization to optimize KPIs & personalize results.",
          "type": "boolean"
        },
        "disableSemanticAddOn": {
          "description": "Optional. If true, semantic add-on is disabled. Semantic add-on includes embeddings and jetstream.",
          "type": "boolean"
        },
        "disableGenerativeAnswerAddOn": {
          "type": "boolean",
          "description": "Optional. If true, generative answer add-on is disabled. Generative answer add-on includes natural language to filters and simple answers."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaListServingConfigsResponse": {
      "type": "object",
      "description": "Response for ListServingConfigs method.",
      "id": "GoogleCloudDiscoveryengineV1alphaListServingConfigsResponse",
      "properties": {
        "servingConfigs": {
          "description": "All the ServingConfigs for a given dataStore.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaServingConfig"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token, if not returned indicates the last page."
        }
      }
    },
    "GoogleLongrunningCancelOperationRequest": {
      "id": "GoogleLongrunningCancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaQualityMetricsTopkMetrics": {
      "id": "GoogleCloudDiscoveryengineV1betaQualityMetricsTopkMetrics",
      "properties": {
        "top5": {
          "format": "double",
          "type": "number",
          "description": "The top-5 value."
        },
        "top1": {
          "description": "The top-1 value.",
          "format": "double",
          "type": "number"
        },
        "top10": {
          "format": "double",
          "description": "The top-10 value.",
          "type": "number"
        },
        "top3": {
          "type": "number",
          "description": "The top-3 value.",
          "format": "double"
        }
      },
      "type": "object",
      "description": "Stores the metric values at specific top-k levels."
    },
    "GoogleCloudDiscoveryengineV1betaEngineMediaRecommendationEngineConfigMostPopularFeatureConfig": {
      "type": "object",
      "properties": {
        "timeWindowDays": {
          "type": "string",
          "format": "int64",
          "description": "The time window of which the engine is queried at training and prediction time. Positive integers only. The value translates to the last X days of events. Currently required for the `most-popular-items` engine."
        }
      },
      "description": "Feature configurations that are required for creating a Most Popular engine.",
      "id": "GoogleCloudDiscoveryengineV1betaEngineMediaRecommendationEngineConfigMostPopularFeatureConfig"
    },
    "GoogleCloudDiscoveryengineV1betaBatchUpdateUserLicensesResponse": {
      "description": "Response message for UserLicenseService.BatchUpdateUserLicenses method.",
      "type": "object",
      "properties": {
        "userLicenses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaUserLicense"
          },
          "description": "UserLicenses successfully updated."
        },
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaBatchUpdateUserLicensesResponse"
    },
    "GoogleCloudDiscoveryengineV1alphaRequirement": {
      "description": "A data requirement.",
      "type": "object",
      "properties": {
        "metricBindings": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaRequirementMetricBinding"
          },
          "type": "array",
          "description": "A list of the metric bindings to be used in `condition`."
        },
        "severity": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The severity of errors if the requirement is not met. It must be ordered from the most strict to the least strict. Examples: * `BLOCKING` * `CRITICAL` * `WARNING` All thresholds in the requirement must have all the severity here."
        },
        "type": {
          "description": "The requirement type, used as an identifier. Must be unique. The type should prefix with service name to avoid possible collision. It's encouraged to use natural hierarchical grouping for similar requirements. Examples: * `library.googleapis.com/books/min_available_books` * `discoveryengine.googleapis.com/media_rec/recommended_for_you/conversion_rate`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The name of the requirement."
        },
        "violationSamplesBindings": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaRequirementViolationSamplesBinding"
          },
          "description": "A list of the metric bindings to be used in `condition`.",
          "type": "array"
        },
        "condition": {
          "$ref": "GoogleTypeExpr",
          "description": "The condition for evaluating the requirement result. Variables in the expression should be provided by `metrics_bindings` or `threshold_bindings`. Where `metrics_bindings` are used for computed metrics and `threshold_bindings` are used to define thresholds for corresponding `metric_bindings`."
        },
        "thresholdBindings": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaRequirementThresholdBinding"
          },
          "type": "array",
          "description": "A list of threshold bindings to be used in `condition`."
        },
        "description": {
          "type": "string",
          "description": "The description of the requirement."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaRequirement"
    },
    "GoogleCloudDiscoveryengineV1ObservabilityConfig": {
      "type": "object",
      "properties": {
        "observabilityEnabled": {
          "type": "boolean",
          "description": "Optional. Enables observability. If `false`, all other flags are ignored."
        },
        "sensitiveLoggingEnabled": {
          "description": "Optional. Enables sensitive logging. Sensitive logging includes customer core content (e.g. prompts, responses). If `false`, will sanitize all sensitive fields.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1ObservabilityConfig",
      "description": "Observability config for a resource."
    },
    "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigRecommendedForYouFeatureConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigRecommendedForYouFeatureConfig",
      "type": "object",
      "description": "Additional feature configurations for creating a `recommended-for-you` engine.",
      "properties": {
        "contextEventType": {
          "type": "string",
          "description": "The type of event with which the engine is queried at prediction time. If set to `generic`, only `view-item`, `media-play`,and `media-complete` will be used as `context-event` in engine training. If set to `view-home-page`, `view-home-page` will also be used as `context-events` in addition to `view-item`, `media-play`, and `media-complete`. Currently supported for the `recommended-for-you` engine. Currently supported values: `view-home-page`, `generic`."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerQueryUnderstandingInfo": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerQueryUnderstandingInfo",
      "description": "Query understanding information.",
      "properties": {
        "queryClassificationInfo": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerQueryUnderstandingInfoQueryClassificationInfo"
          },
          "description": "Query classification information.",
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaEnableAdvancedSiteSearchMetadata": {
      "type": "object",
      "description": "Metadata related to the progress of the SiteSearchEngineService.EnableAdvancedSiteSearch operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaEnableAdvancedSiteSearchMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaCreateDataStoreMetadata": {
      "description": "Metadata related to the progress of the DataStoreService.CreateDataStore operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "id": "GoogleCloudDiscoveryengineV1alphaCreateDataStoreMetadata",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaProvisionProjectRequest": {
      "properties": {
        "acceptDataUseTerms": {
          "description": "Required. Set to `true` to specify that caller has read and would like to give consent to the [Terms for data use](https://cloud.google.com/retail/data-use-terms).",
          "type": "boolean"
        },
        "saasParams": {
          "description": "Optional. Parameters for Agentspace.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaProvisionProjectRequestSaasParams"
        },
        "dataUseTermsVersion": {
          "description": "Required. The version of the [Terms for data use](https://cloud.google.com/retail/data-use-terms) that caller has read and would like to give consent to. Acceptable version is `2022-11-23`, and this may change over time.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaProvisionProjectRequest",
      "type": "object",
      "description": "Request for ProjectService.ProvisionProject method."
    },
    "GoogleCloudDiscoveryengineV1alphaUserStore": {
      "type": "object",
      "description": "Configures metadata that is used for End User entities.",
      "properties": {
        "enableExpiredLicenseAutoUpdate": {
          "description": "Optional. Whether to enable license auto update for users in this User Store. If true, users with expired licenses will automatically be updated to use the default license config as long as the default license config has seats left.",
          "type": "boolean"
        },
        "defaultLicenseConfig": {
          "type": "string",
          "description": "Optional. The default subscription LicenseConfig for the UserStore, if UserStore.enable_license_auto_register is true, new users will automatically register under the default subscription. If default LicenseConfig doesn't have remaining license seats left, new users will not be assigned with license and will be blocked for Vertex AI Search features. This is used if `license_assignment_tier_rules` is not configured."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The full resource name of the User Store, in the format of `projects/{project}/locations/{location}/userStores/{user_store}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters."
        },
        "enableLicenseAutoRegister": {
          "description": "Optional. Whether to enable license auto register for users in this User Store. If true, new users will automatically register under the default license config as long as the default license config has seats left.",
          "type": "boolean"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the User Store."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaUserStore"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseGuidedSearchResultRefinementAttribute": {
      "properties": {
        "attributeValue": {
          "type": "string",
          "description": "Attribute value used to refine the results. For example, `\"drama\"`."
        },
        "attributeKey": {
          "type": "string",
          "description": "Attribute key used to refine the results. For example, `\"movie_type\"`."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseGuidedSearchResultRefinementAttribute",
      "type": "object",
      "description": "Useful attribute for search result refinements."
    },
    "GoogleCloudDiscoveryengineV1alphaAdkAgentDefinition": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAdkAgentDefinition",
      "description": "Stores the definition of an agent that uses ADK and is deployed to Agent Engine (formerly known as Reasoning Engine).",
      "properties": {
        "provisionedReasoningEngine": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAdkAgentDefinitionProvisionedReasoningEngine",
          "description": "Optional. The reasoning engine that the agent is connected to."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1DocumentProcessingConfigChunkingConfig": {
      "id": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigChunkingConfig",
      "properties": {
        "layoutBasedChunkingConfig": {
          "description": "Configuration for the layout based chunking.",
          "$ref": "GoogleCloudDiscoveryengineV1DocumentProcessingConfigChunkingConfigLayoutBasedChunkingConfig"
        }
      },
      "type": "object",
      "description": "Configuration for chunking config."
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestCrowdingSpec": {
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestCrowdingSpec",
      "properties": {
        "maxCount": {
          "format": "int32",
          "description": "The maximum number of documents to keep per value of the field. Once there are at least max_count previous results which contain the same value for the given field (according to the order specified in `order_by`), later results with the same value are \"crowded away\". If not specified, the default value is 1.",
          "type": "integer"
        },
        "field": {
          "type": "string",
          "description": "The field to use for crowding. Documents can be crowded by a field in the Document object. Crowding field is case sensitive."
        },
        "mode": {
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "DROP_CROWDED_RESULTS",
            "DEMOTE_CROWDED_RESULTS_TO_END"
          ],
          "enumDescriptions": [
            "Unspecified crowding mode. In this case, server behavior defaults to Mode.DROP_CROWDED_RESULTS.",
            "Drop crowded results.",
            "Demote crowded results to the later pages."
          ],
          "description": "Mode to use for documents that are crowded away."
        }
      },
      "type": "object",
      "description": "Specification for crowding. Crowding improves the diversity of search results by limiting the number of results that share the same field value. For example, crowding on the color field with a max_count of 3 and mode DROP_CROWDED_RESULTS will return at most 3 results with the same color across all pages."
    },
    "GoogleCloudDiscoveryengineV1alphaExportUserLicensesResponse": {
      "properties": {
        "csvData": {
          "format": "byte",
          "description": "The full CSV document as raw bytes: the header row followed by one row per UserLicense. Contains user license data (e.g. user emails). An export with no matching licenses contains only the header row.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaExportUserLicensesResponse",
      "description": "Response message for UserLicenseService.ExportUserLicenses."
    },
    "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContent": {
      "properties": {
        "textGroundingMetadata": {
          "description": "Metadata for grounding based on text sources.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContentTextGroundingMetadata"
        },
        "citationMetadata": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaCitationMetadata",
          "description": "Source attribution of the generated content. See also https://cloud.google.com/vertex-ai/generative-ai/docs/learn/overview#citation_check"
        },
        "content": {
          "description": "The content.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAssistantContent"
        }
      },
      "description": "A piece of content and possibly its grounding information. Not all content needs grounding. Phrases like \"Of course, I will gladly search it for you.\" do not need grounding.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAssistantGroundedContent"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerStepAction": {
      "description": "Action.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerStepAction",
      "properties": {
        "searchAction": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionSearchAction",
          "description": "Search action."
        },
        "observation": {
          "description": "Observation.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerStepActionObservation"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestImageQuery": {
      "type": "object",
      "description": "Specifies the image query input.",
      "properties": {
        "imageBytes": {
          "description": "Base64 encoded image bytes. Supported image formats: JPEG, PNG, and BMP.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestImageQuery"
    },
    "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpecModelPromptSpec": {
      "id": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpecModelPromptSpec",
      "properties": {
        "preamble": {
          "type": "string",
          "description": "Text at the beginning of the prompt that instructs the assistant. Examples are available in the user guide."
        }
      },
      "description": "Specification of the prompt to use with the model.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1ImportCompletionSuggestionsResponse": {
      "properties": {
        "errorConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1ImportErrorConfig",
          "description": "The desired location of errors incurred during the Import."
        },
        "errorSamples": {
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array",
          "description": "A sample of errors encountered while processing the request."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1ImportCompletionSuggestionsResponse",
      "description": "Response of the CompletionService.ImportCompletionSuggestions method. If the long running operation is done, this message is returned by the google.longrunning.Operations.response field if the operation is successful.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaDisableAdvancedSiteSearchResponse": {
      "description": "Response message for SiteSearchEngineService.DisableAdvancedSiteSearch method.",
      "id": "GoogleCloudDiscoveryengineV1alphaDisableAdvancedSiteSearchResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestEmbeddingSpecEmbeddingVector": {
      "properties": {
        "vector": {
          "items": {
            "type": "number",
            "format": "float"
          },
          "type": "array",
          "description": "Query embedding vector."
        },
        "fieldPath": {
          "description": "Embedding field path in schema.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestEmbeddingSpecEmbeddingVector",
      "description": "Embedding vector."
    },
    "GoogleCloudDiscoveryengineV1alphaWidgetConfigImage": {
      "id": "GoogleCloudDiscoveryengineV1alphaWidgetConfigImage",
      "type": "object",
      "description": "Options to store an image.",
      "properties": {
        "url": {
          "type": "string",
          "description": "Image URL."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAssistantContentCodeExecutionResult": {
      "id": "GoogleCloudDiscoveryengineV1alphaAssistantContentCodeExecutionResult",
      "description": "Result of executing ExecutableCode.",
      "properties": {
        "output": {
          "type": "string",
          "description": "Optional. Contains stdout when code execution is successful, stderr or other description otherwise."
        },
        "outcome": {
          "type": "string",
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "OUTCOME_OK",
            "OUTCOME_FAILED",
            "OUTCOME_DEADLINE_EXCEEDED"
          ],
          "description": "Required. Outcome of the code execution.",
          "enumDescriptions": [
            "Unspecified status. This value should not be used.",
            "Code execution completed successfully.",
            "Code execution finished but with a failure. `stderr` should contain the reason.",
            "Code execution ran for too long, and was cancelled. There may or may not be a partial output present."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaControlSynonymsAction": {
      "id": "GoogleCloudDiscoveryengineV1betaControlSynonymsAction",
      "type": "object",
      "description": "Creates a set of terms that will act as synonyms of one another. Example: \"happy\" will also be considered as \"glad\", \"glad\" will also be considered as \"happy\".",
      "properties": {
        "synonyms": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Defines a set of synonyms. Can specify up to 100 synonyms. Must specify at least 2 synonyms. Otherwise an INVALID ARGUMENT error is thrown."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaLanguageInfo": {
      "type": "object",
      "properties": {
        "languageCode": {
          "description": "The language code for the DataStore.",
          "type": "string"
        },
        "normalizedLanguageCode": {
          "description": "Output only. This is the normalized form of language_code. E.g.: language_code of `en-GB`, `en_GB`, `en-UK` or `en-gb` will have normalized_language_code of `en-GB`.",
          "type": "string",
          "readOnly": true
        },
        "language": {
          "description": "Output only. Language part of normalized_language_code. E.g.: `en-US` -> `en`, `zh-Hans-HK` -> `zh`, `en` -> `en`.",
          "type": "string",
          "readOnly": true
        },
        "region": {
          "description": "Output only. Region part of normalized_language_code, if present. E.g.: `en-US` -> `US`, `zh-Hans-HK` -> `HK`, `en` -> ``.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Language info for DataStore.",
      "id": "GoogleCloudDiscoveryengineV1alphaLanguageInfo"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerBlobAttachmentBlob": {
      "properties": {
        "mimeType": {
          "description": "Output only. The media type (MIME type) of the generated or retrieved data.",
          "readOnly": true,
          "type": "string"
        },
        "data": {
          "type": "string",
          "format": "byte",
          "description": "Output only. Raw bytes.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerBlobAttachmentBlob",
      "description": "The media type and data of the blob."
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestEmbeddingSpecEmbeddingVector": {
      "description": "Embedding vector.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestEmbeddingSpecEmbeddingVector",
      "properties": {
        "fieldPath": {
          "description": "Embedding field path in schema.",
          "type": "string"
        },
        "vector": {
          "description": "Query embedding vector.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          }
        }
      }
    },
    "GoogleCloudDiscoveryengineV1BatchCreateTargetSitesResponse": {
      "type": "object",
      "properties": {
        "targetSites": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1TargetSite"
          },
          "type": "array",
          "description": "TargetSites created."
        }
      },
      "description": "Response message for SiteSearchEngineService.BatchCreateTargetSites method.",
      "id": "GoogleCloudDiscoveryengineV1BatchCreateTargetSitesResponse"
    },
    "GoogleCloudNotebooklmV1alphaAccountAndRole": {
      "properties": {
        "email": {
          "type": "string",
          "description": "Required. The email address associated with the account."
        },
        "role": {
          "enumDescriptions": [
            "Unknown role.",
            "The user owns the project.",
            "The user has writer permissions on the project.",
            "The user has reader permissions on the project.",
            "The user has no access to the project."
          ],
          "type": "string",
          "enum": [
            "PROJECT_ROLE_UNKNOWN",
            "PROJECT_ROLE_OWNER",
            "PROJECT_ROLE_WRITER",
            "PROJECT_ROLE_READER",
            "PROJECT_ROLE_NOT_SHARED"
          ],
          "description": "Required. The role in the notebook."
        }
      },
      "id": "GoogleCloudNotebooklmV1alphaAccountAndRole",
      "type": "object",
      "description": "Account and role information."
    },
    "GoogleCloudDiscoveryengineV1alphaRecommendRequest": {
      "id": "GoogleCloudDiscoveryengineV1alphaRecommendRequest",
      "description": "Request message for Recommend method.",
      "type": "object",
      "properties": {
        "filter": {
          "description": "Filter for restricting recommendation results with a length limit of 5,000 characters. Currently, only filter expressions on the `filter_tags` attribute is supported. Examples: * `(filter_tags: ANY(\"Red\", \"Blue\") OR filter_tags: ANY(\"Hot\", \"Cold\"))` * `(filter_tags: ANY(\"Red\", \"Blue\")) AND NOT (filter_tags: ANY(\"Green\"))` If `attributeFilteringSyntax` is set to true under the `params` field, then attribute-based expressions are expected instead of the above described tag-based syntax. Examples: * (language: ANY(\"en\", \"es\")) AND NOT (categories: ANY(\"Movie\")) * (available: true) AND (language: ANY(\"en\", \"es\")) OR (categories: ANY(\"Movie\")) If your filter blocks all results, the API returns generic (unfiltered) popular Documents. If you only want results strictly matching the filters, set `strictFiltering` to `true` in RecommendRequest.params to receive empty results instead. Note that the API never returns Documents with `storageStatus` as `EXPIRED` or `DELETED` regardless of filter choices.",
          "type": "string"
        },
        "userLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The user labels applied to a resource must meet the following requirements: * Each resource can have multiple labels, up to a maximum of 64. * Each label must be a key-value pair. * Keys have a minimum length of 1 character and a maximum length of 63 characters and cannot be empty. Values can be empty and have a maximum length of 63 characters. * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. All characters must use UTF-8 encoding, and international characters are allowed. * The key portion of a label must be unique. However, you can use the same key with multiple resources. * Keys must start with a lowercase letter or international character. See [Requirements for labels](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements) for more details."
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Use validate only mode for this recommendation query. If set to `true`, a fake model is used that returns arbitrary Document IDs. Note that the validate only mode should only be used for testing the API, or if the model is not ready."
        },
        "userEvent": {
          "description": "Required. Context about the user, what they are looking at and what action they took to trigger the Recommend request. Note that this user event detail won't be ingested to userEvent logs. Thus, a separate userEvent write request is required for event logging. Don't set UserEvent.user_pseudo_id or UserEvent.user_info.user_id to the same fixed ID for different users. If you are trying to receive non-personalized recommendations (not recommended; this can negatively impact model performance), instead set UserEvent.user_pseudo_id to a random unique ID and leave UserEvent.user_info.user_id unset.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaUserEvent"
        },
        "params": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object",
          "description": "Additional domain specific parameters for the recommendations. Allowed values: * `returnDocument`: Boolean. If set to `true`, the associated Document object is returned in RecommendResponse.RecommendationResult.document. * `returnScore`: Boolean. If set to true, the recommendation score corresponding to each returned Document is set in RecommendResponse.RecommendationResult.metadata. The given score indicates the probability of a Document conversion given the user's context and history. * `strictFiltering`: Boolean. True by default. If set to `false`, the service returns generic (unfiltered) popular Documents instead of empty if your filter blocks all recommendation results. * `diversityLevel`: String. Default empty. If set to be non-empty, then it needs to be one of: * `no-diversity` * `low-diversity` * `medium-diversity` * `high-diversity` * `auto-diversity` This gives request-level control and adjusts recommendation results based on Document category. * `attributeFilteringSyntax`: Boolean. False by default. If set to true, the `filter` field is interpreted according to the new, attribute-based syntax."
        },
        "pageSize": {
          "type": "integer",
          "description": "Maximum number of results to return. Set this property to the number of recommendation results needed. If zero, the service chooses a reasonable default. The maximum allowed value is 100. Values above 100 are set to 100.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaBatchCreateTargetSitesRequest": {
      "properties": {
        "requests": {
          "description": "Required. The request message specifying the resources to create. A maximum of 20 TargetSites can be created in a batch.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaCreateTargetSiteRequest"
          },
          "type": "array"
        }
      },
      "description": "Request message for SiteSearchEngineService.BatchCreateTargetSites method.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaBatchCreateTargetSitesRequest"
    },
    "GoogleCloudDiscoveryengineV1alphaBranch": {
      "id": "GoogleCloudDiscoveryengineV1alphaBranch",
      "properties": {
        "isDefault": {
          "type": "boolean",
          "description": "Output only. Indicates whether this branch is set as the default branch of its parent data store.",
          "readOnly": true
        },
        "branchStats": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaBranchBranchStats",
          "description": "Output only. Statistics describing a branch. This field is not populated in BranchView.BRANCH_VIEW_BASIC view.",
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. Human readable name of the branch to display in the UI.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. Full resource name of the branch, such as `projects/*/locations/global/dataStores/data_store/branches/branch_id`.",
          "type": "string"
        },
        "lastDocumentImportTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp of last import through DocumentService.ImportDocuments. Empty value means no import has been made to this branch."
        }
      },
      "type": "object",
      "description": "A data branch that stores Documents."
    },
    "GoogleCloudDiscoveryengineV1alphaFetchSitemapsResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaFetchSitemapsResponse",
      "description": "Response message for SiteSearchEngineService.FetchSitemaps method.",
      "properties": {
        "sitemapsMetadata": {
          "description": "List of Sitemaps fetched.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaFetchSitemapsResponseSitemapMetadata"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestAnswerGenerationSpecPromptSpec": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestAnswerGenerationSpecPromptSpec",
      "description": "Answer generation prompt specification.",
      "properties": {
        "preamble": {
          "description": "Customized preamble.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaStreamAssistRequestToolsSpecVideoGenerationSpec": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaStreamAssistRequestToolsSpecVideoGenerationSpec",
      "description": "Specification of the video generation tool."
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponse": {
      "description": "Response message for SearchService.Search method.",
      "properties": {
        "facets": {
          "description": "Results of facets requested by user.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseFacet"
          }
        },
        "appliedControls": {
          "description": "Optional. Controls applied as part of the Control service.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "geoSearchDebugInfo": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseGeoSearchDebugInfo"
          },
          "type": "array"
        },
        "suggestedQuery": {
          "description": "Corrected query with low confidence, AKA did you mean query. Compared with corrected_query, this field is set when SpellCorrector returned a response, but FPR(full page replacement) is not triggered because the corrction is of low confidence(eg, reversed because there are matches of the original query in document corpus).",
          "type": "string"
        },
        "guidedSearchResult": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseGuidedSearchResult",
          "description": "Guided search result."
        },
        "totalSize": {
          "type": "integer",
          "description": "The estimated total count of matched items irrespective of pagination. The count of results returned by pagination may be less than the total_size that matches.",
          "format": "int32"
        },
        "semanticState": {
          "description": "Output only. Indicates the semantic state of the search response.",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "Semantic search was disabled for this search response.",
            "Semantic search was enabled for this search response."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "SEMANTIC_STATE_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ]
        },
        "naturalLanguageQueryUnderstandingInfo": {
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseNaturalLanguageQueryUnderstandingInfo",
          "description": "Output only. Natural language query understanding information for the returned results."
        },
        "results": {
          "type": "array",
          "description": "A list of matched documents. The order represents the ranking.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSearchResult"
          }
        },
        "attributionToken": {
          "description": "A unique search token. This should be included in the UserEvent logs resulting from this search, which enables accurate attribution of search model performance. This also helps to identify a request during the customer support scenarios.",
          "type": "string"
        },
        "searchLinkPromotions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchLinkPromotion"
          },
          "description": "Promotions for site search."
        },
        "correctedQuery": {
          "type": "string",
          "description": "Contains the spell corrected query, if found. If the spell correction type is AUTOMATIC, then the search results are based on corrected_query. Otherwise the original query is used for search."
        },
        "redirectUri": {
          "description": "The URI of a customer-defined redirect page. If redirect action is triggered, no search is performed, and only redirect_uri and attribution_token are set in the response.",
          "type": "string"
        },
        "oneBoxResults": {
          "type": "array",
          "description": "A list of One Box results. There can be multiple One Box results of different types.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseOneBoxResult"
          }
        },
        "sessionInfo": {
          "description": "Session information. Only set if SearchRequest.session is provided. See its description for more details.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSessionInfo"
        },
        "queryExpansionInfo": {
          "description": "Query expansion information for the returned results.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseQueryExpansionInfo"
        },
        "nextPageToken": {
          "description": "A token that can be sent as SearchRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "summary": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummary",
          "description": "A summary as part of the search results. This field is only returned if SearchRequest.ContentSearchSpec.summary_spec is set."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponse",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaWidgetConfigAccessSettings": {
      "properties": {
        "enableWebApp": {
          "description": "Whether web app access is enabled.",
          "type": "boolean"
        },
        "allowlistedDomains": {
          "items": {
            "type": "string"
          },
          "description": "List of domains that are allowed to integrate the search widget.",
          "type": "array"
        },
        "workforceIdentityPoolProvider": {
          "description": "Optional. The workforce identity pool provider used to access the widget.",
          "type": "string"
        },
        "allowPublicAccess": {
          "description": "Whether public unauthenticated access is allowed.",
          "type": "boolean"
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. Language code for user interface. Use language tags defined by [BCP47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt). If unset, the default language code is \"en-US\"."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaWidgetConfigAccessSettings",
      "description": "Describes widget access settings.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaCmekConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaCmekConfig",
      "description": "Configurations used to enable CMEK data encryption with Cloud KMS keys.",
      "properties": {
        "kmsKeyVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. KMS key version resource name which will be used to encrypt resources `/cryptoKeyVersions/{keyVersion}`."
        },
        "isDefault": {
          "type": "boolean",
          "description": "Output only. The default CmekConfig for the Customer.",
          "readOnly": true
        },
        "notebooklmState": {
          "type": "string",
          "enum": [
            "NOTEBOOK_LM_STATE_UNSPECIFIED",
            "NOTEBOOK_LM_NOT_READY",
            "NOTEBOOK_LM_READY",
            "NOTEBOOK_LM_NOT_ENABLED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The NotebookLM state is unknown.",
            "The NotebookLM is not ready.",
            "The NotebookLM is ready to be used.",
            "The NotebookLM is not enabled."
          ],
          "description": "Output only. Whether the NotebookLM Corpus is ready to be used."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "KEY_ISSUE",
            "DELETING",
            "DELETE_FAILED",
            "UNUSABLE",
            "ACTIVE_ROTATING",
            "DELETED",
            "EXPIRED"
          ],
          "description": "Output only. The states of the CmekConfig.",
          "enumDescriptions": [
            "The CmekConfig state is unknown.",
            "The CmekConfig is creating.",
            "The CmekConfig can be used with DataStores.",
            "The CmekConfig is unavailable, most likely due to the KMS Key being revoked.",
            "The CmekConfig is deleting.",
            "The CmekConfig deletion process failed.",
            "The CmekConfig is not usable, most likely due to some internal issue.",
            "The KMS key version is being rotated.",
            "The KMS key is soft deleted. Some cleanup policy will eventually be applied.",
            "The KMS key is expired, meaning the key has been disabled for 30+ days. The customer can call DeleteCmekConfig to change the state to DELETED."
          ]
        },
        "name": {
          "description": "Required. The name of the CmekConfig of the form `projects/{project}/locations/{location}/cmekConfig` or `projects/{project}/locations/{location}/cmekConfigs/{cmek_config}`.",
          "type": "string"
        },
        "singleRegionKeys": {
          "description": "Optional. Single-regional CMEKs that are required for some VAIS features.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSingleRegionKey"
          }
        },
        "lastRotationTimestampMicros": {
          "description": "Output only. The timestamp of the last key rotation.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "kmsKey": {
          "description": "Required. KMS key resource name which will be used to encrypt resources `projects/{project}/locations/{location}/keyRings/{keyRing}/cryptoKeys/{keyId}`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpecModelSpec": {
      "description": "Specification of the model.",
      "properties": {
        "version": {
          "type": "string",
          "description": "The model version used to generate the summary. Supported values are: * `stable`: string. Default value when no value is specified. Uses a generally available, fine-tuned model. For more information, see [Answer generation model versions and lifecycle](https://cloud.google.com/generative-ai-app-builder/docs/answer-generation-models). * `preview`: string. (Public preview) Uses a preview model. For more information, see [Answer generation model versions and lifecycle](https://cloud.google.com/generative-ai-app-builder/docs/answer-generation-models)."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpecModelSpec"
    },
    "GoogleCloudDiscoveryengineV1alphaTuneEngineMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaTuneEngineMetadata",
      "properties": {
        "engine": {
          "description": "Required. The resource name of the engine that this tune applies to. Format: `projects/{project}/locations/{location}/collections/{collection_id}/engines/{engine_id}`",
          "type": "string"
        }
      },
      "description": "Metadata associated with a tune operation.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfigThirdPartyOauthConfig": {
      "id": "GoogleCloudDiscoveryengineV1alphaDataStoreFederatedSearchConfigThirdPartyOauthConfig",
      "type": "object",
      "properties": {
        "appName": {
          "description": "Optional. The type of the application. E.g., \"jira\", \"box\", etc.",
          "type": "string"
        },
        "instanceName": {
          "description": "Optional. The instance name identifying the 3P app, e.g., \"vaissptbots-my\". This is different from the instance_uri which is the full URL of the 3P app e.g., \"https://vaissptbots-my.sharepoint.com\".",
          "type": "string"
        }
      },
      "description": "Stores information for third party applicationOAuth."
    },
    "GoogleCloudDiscoveryengineV1betaTargetSiteFailureReason": {
      "properties": {
        "quotaFailure": {
          "description": "Failed due to insufficient quota.",
          "$ref": "GoogleCloudDiscoveryengineV1betaTargetSiteFailureReasonQuotaFailure"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaTargetSiteFailureReason",
      "description": "Site search indexing failure reasons."
    },
    "GoogleCloudDiscoveryengineV1alphaPatientFilterOperationMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaPatientFilterOperationMetadata",
      "description": "Metadata related to the progress of the various patient filter operations. This will be returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "properties": {
        "filtersRemovedCount": {
          "type": "string",
          "description": "The number of patient IDs removed from the patient filter.",
          "format": "int64"
        },
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        },
        "filtersAddedCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of patient IDs added to the patient filter."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1AnswerGenerationSpec": {
      "type": "object",
      "description": "The specification for answer generation.",
      "properties": {
        "userDefinedClassifierSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1AnswerGenerationSpecUserDefinedClassifierSpec",
          "description": "Optional. The specification for user specified classifier spec."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1AnswerGenerationSpec"
    },
    "GoogleCloudDiscoveryengineLoggingConnectorRunErrorContext": {
      "properties": {
        "entity": {
          "description": "The entity to sync for the connector run.",
          "type": "string"
        },
        "syncType": {
          "description": "The type of sync run. Can be one of the following: * `FULL` * `INCREMENTAL`",
          "type": "string"
        },
        "startTime": {
          "description": "The time when the connector run started.",
          "type": "string",
          "format": "google-datetime"
        },
        "connectorRun": {
          "description": "The full resource name of the Connector Run. Format: `projects/*/locations/*/collections/*/dataConnector/connectorRuns/*`. The `connector_run_id` is system-generated.",
          "type": "string"
        },
        "operation": {
          "description": "The operation resource name of the LRO to sync the connector.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the connector run ended."
        },
        "dataConnector": {
          "description": "The full resource name of the DataConnector. Format: `projects/*/locations/*/collections/*/dataConnector`.",
          "type": "string"
        }
      },
      "description": "The error payload that is populated on LRO sync APIs, including the following: * `google.cloud.discoveryengine.v1main.DataConnectorService.SetUpDataConnector` * `google.cloud.discoveryengine.v1main.DataConnectorService.StartConnectorRun`",
      "id": "GoogleCloudDiscoveryengineLoggingConnectorRunErrorContext",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseSummaryCitationSource": {
      "properties": {
        "referenceIndex": {
          "format": "int64",
          "description": "Document reference index from SummaryWithMetadata.references. It is 0-indexed and the value will be zero if the reference_index is not set explicitly.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummaryCitationSource",
[...]
