{
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "title": "Discovery Engine API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/discoveryengine.assist.readwrite": {
          "description": "View your Agentspace chat history, including uploaded files and generated reports and visualizations, and interact with the Agentspace assistant on your behalf. Also view the artifacts you access through NotebookLM Enterprise."
        },
        "https://www.googleapis.com/auth/cloud_search.query": {
          "description": "Search your organization's data in the Cloud Search index"
        },
        "https://www.googleapis.com/auth/discoveryengine.serving.readwrite": {
          "description": "Interact with Discovery Engine API products, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, on your behalf. It will also allow the app to view all data that you have access to when you use or interact with a Discovery Engine API product."
        },
        "https://www.googleapis.com/auth/discoveryengine.readwrite": {
          "description": "View, edit, create, and delete all your data associated with any Discovery Engine API product, such as Agentspace, Vertex AI Search, or NotebookLM Enterprise, including both end user data and administration or configuration data."
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://discoveryengine.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "servicePath": "",
  "protocol": "rest",
  "description": "Discovery Engine API.",
  "version_module": true,
  "rootUrl": "https://discoveryengine.googleapis.com/",
  "schemas": {
    "GoogleCloudDiscoveryengineV1alphaCreateTargetSiteMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaCreateTargetSiteMetadata",
      "description": "Metadata related to the progress of the SiteSearchEngineService.CreateTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigThirdPartyOauthConfig": {
      "properties": {
        "appName": {
          "description": "Optional. The type of the application. E.g., \"jira\", \"box\", etc.",
          "type": "string"
        },
        "instanceName": {
          "type": "string",
          "description": "Optional. The instance name identifying the 3P app, e.g., \"vaissptbots-my\". This is different from the instance_uri which is the full URL of the 3P app e.g., \"https://vaissptbots-my.sharepoint.com\"."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigThirdPartyOauthConfig",
      "description": "Stores information for third party applicationOAuth.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilter": {
      "description": "The filters that were extracted from the input query represented in a structured form.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilter",
      "properties": {
        "expression": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseNaturalLanguageQueryUnderstandingInfoStructuredExtractedFilterExpression",
          "description": "The expression denoting the filter that was extracted from the input query in a structured form. It can be a simple expression denoting a single string, numerical or geolocation constraint or a compound expression which is a combination of multiple expressions connected using logical (OR and AND) operators."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1DataConnectorSourceEntity": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1DataConnectorSourceEntity",
      "description": "Represents an entity in the data source. For example, the `Account` object in Salesforce.",
      "properties": {
        "keyPropertyMappings": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Attributes for indexing. Key: Field name. Value: The key property to map a field to, such as `title`, and `description`. Supported key properties: * `title`: The title for data record. This would be displayed on search results. * `description`: The description for data record. This would be displayed on search results."
        },
        "dataStore": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The full resource name of the associated data store for the source entity. Format: `projects/*/locations/*/collections/*/dataStores/*`. When the connector is initialized by the DataConnectorService.SetUpDataConnector method, a DataStore is automatically created for each source entity."
        },
        "jsonParams": {
          "description": "The parameters for the entity to facilitate data ingestion in json string format.",
          "type": "string"
        },
        "entityName": {
          "description": "The name of the entity. Supported values by data source: * Salesforce: `Lead`, `Opportunity`, `Contact`, `Account`, `Case`, `Contract`, `Campaign` * Jira: `Issue` * Confluence: `Content`, `Space`",
          "type": "string"
        },
        "params": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The parameters for the entity to facilitate data ingestion in structured json format.",
          "type": "object"
        },
        "startingSchema": {
          "description": "Optional. The start schema to use for the DataStore created from this SourceEntity. If unset, a default vertical specialized schema will be used. This field is only used by SetUpDataConnector API, and will be ignored if used in other APIs. This field will be omitted from all API responses including GetDataConnector API. To retrieve a schema of a DataStore, use SchemaService.GetSchema API instead. The provided schema will be validated against certain rules on schema. Learn more from [this doc](https://cloud.google.com/generative-ai-app-builder/docs/provide-schema).",
          "$ref": "GoogleCloudDiscoveryengineV1Schema"
        },
        "healthcareFhirConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1HealthcareFhirConfig",
          "description": "Optional. Configuration for `HEALTHCARE_FHIR` vertical."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1AgentGatewaySettingAgentGatewayReference": {
      "description": "Reference to an Agent Gateway resource.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1AgentGatewaySettingAgentGatewayReference",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Immutable. The resource name of the agent gateway. Expected format: `projects/{project_number}/locations/{location}/agentGateways/{agent_gateway}`."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAdvancedCompleteQueryRequest": {
      "type": "object",
      "description": "Request message for CompletionService.AdvancedCompleteQuery method. .",
      "id": "GoogleCloudDiscoveryengineV1alphaAdvancedCompleteQueryRequest",
      "properties": {
        "suggestionTypeSpecs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaAdvancedCompleteQueryRequestSuggestionTypeSpec"
          },
          "description": "Optional. Specification of each suggestion type."
        },
        "userInfo": {
          "description": "Optional. Information about the end user. This should be the same identifier information as UserEvent.user_info and SearchRequest.user_info.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaUserInfo"
        },
        "boostSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAdvancedCompleteQueryRequestBoostSpec",
          "description": "Optional. Specification to boost suggestions matching the condition."
        },
        "query": {
          "type": "string",
          "description": "Required. The typeahead input used to fetch suggestions. Maximum length is 128 characters. The query can not be empty for most of the suggestion types. If it is empty, an `INVALID_ARGUMENT` error is returned. The exception is when the suggestion_types contains only the type `RECENT_SEARCH`, the query can be an empty string. The is called \"zero prefix\" feature, which returns user's recently searched queries given the empty query."
        },
        "experimentIds": {
          "type": "array",
          "description": "Optional. Experiment ids for this request.",
          "items": {
            "type": "string"
          }
        },
        "suggestionTypes": {
          "items": {
            "enum": [
              "SUGGESTION_TYPE_UNSPECIFIED",
              "QUERY",
              "PEOPLE",
              "CONTENT",
              "RECENT_SEARCH",
              "GOOGLE_WORKSPACE"
            ],
            "enumDescriptions": [
              "Default value.",
              "Returns query suggestions.",
              "Returns people suggestions.",
              "Returns content suggestions.",
              "Returns recent search suggestions.",
              "Returns Google Workspace suggestions."
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Suggestion types to return. If empty or unspecified, query suggestions are returned. Only one suggestion type is supported at the moment."
        },
        "queryModel": {
          "description": "Specifies the autocomplete query model, which only applies to the QUERY SuggestionType. This overrides any model specified in the Configuration > Autocomplete section of the Cloud console. Currently supported values: * `document` - Using suggestions generated from user-imported documents. * `search-history` - Using suggestions generated from the past history of SearchService.Search API calls. Do not use it when there is no traffic for Search API. * `user-event` - Using suggestions generated from user-imported search events. * `document-completable` - Using suggestions taken directly from user-imported document fields marked as completable. Default values: * `document` is the default model for regular dataStores. * `search-history` is the default model for site search dataStores.",
          "type": "string"
        },
        "includeTailSuggestions": {
          "description": "Indicates if tail suggestions should be returned if there are no suggestions that match the full query. Even if set to true, if there are suggestions that match the full query, those are returned and no tail suggestions are returned.",
          "type": "boolean"
        },
        "userPseudoId": {
          "type": "string",
          "description": "Optional. A unique identifier for tracking visitors. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor logs in or out of the website. This field should NOT have a fixed value such as `unknown_visitor`. This should be the same identifier as UserEvent.user_pseudo_id and SearchRequest.user_pseudo_id. The field must be a UTF-8 encoded string with a length limit of 128"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaFactChunk": {
      "id": "GoogleCloudDiscoveryengineV1alphaFactChunk",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of the source."
        },
        "chunkText": {
          "type": "string",
          "description": "Text content of the fact chunk. Can be at most 10K characters long."
        },
        "uri": {
          "description": "The URI of the source.",
          "type": "string"
        },
        "index": {
          "type": "integer",
          "description": "The index of this chunk. Currently, only used for the streaming mode.",
          "format": "int32"
        },
        "sourceMetadata": {
          "description": "More fine-grained information for the source reference.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "source": {
          "description": "Source from which this fact chunk was retrieved. If it was retrieved from the GroundingFacts provided in the request then this field will contain the index of the specific fact from which this chunk was retrieved.",
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "The domain of the source."
        }
      },
      "type": "object",
      "description": "Fact Chunk."
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseSummaryBlobAttachmentBlob": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummaryBlobAttachmentBlob",
      "description": "Stores type and data of the blob.",
      "properties": {
        "mimeType": {
          "readOnly": true,
          "description": "Output only. The media type (MIME type) of the generated data.",
          "type": "string"
        },
        "data": {
          "type": "string",
          "readOnly": true,
          "format": "byte",
          "description": "Output only. Raw bytes."
        }
      },
      "type": "object"
    },
    "GoogleCloudNotebooklmV1alphaSourceId": {
      "properties": {
        "id": {
          "description": "The id of the source.",
          "type": "string"
        }
      },
      "description": "SourceId is the last segment of the source's resource name.",
      "id": "GoogleCloudNotebooklmV1alphaSourceId",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaQuery": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaQuery",
      "description": "Defines a user inputed query.",
      "properties": {
        "text": {
          "description": "Plain text.",
          "type": "string"
        },
        "queryId": {
          "type": "string",
          "description": "Output only. Unique Id for the query.",
          "readOnly": true
        },
        "parts": {
          "description": "Query content parts.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaQueryPart"
          },
          "type": "array"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the server accepted this query.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequest": {
      "id": "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequest",
      "description": "Request message for ConversationalSearchService.AnswerQuery method.",
      "properties": {
        "safetySpec": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestSafetySpec",
          "description": "Model specification."
        },
        "query": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaQuery",
          "description": "Required. Current user query."
        },
        "endUserSpec": {
          "description": "Optional. End user specification.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestEndUserSpec"
        },
        "relatedQuestionsSpec": {
          "description": "Related questions specification.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestRelatedQuestionsSpec"
        },
        "queryUnderstandingSpec": {
          "description": "Query understanding specification.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestQueryUnderstandingSpec"
        },
        "asynchronousMode": {
          "description": "Deprecated: This field is deprecated. Streaming Answer API will be supported. Asynchronous mode control. If enabled, the response will be returned with answer/session resource name without final answer. The API users need to do the polling to get the latest status of answer/session by calling ConversationalSearchService.GetAnswer or ConversationalSearchService.GetSession method.",
          "deprecated": true,
          "type": "boolean"
        },
        "groundingSpec": {
          "description": "Optional. Grounding specification.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestGroundingSpec"
        },
        "userLabels": {
          "type": "object",
          "description": "The user labels applied to a resource must meet the following requirements: * Each resource can have multiple labels, up to a maximum of 64. * Each label must be a key-value pair. * Keys have a minimum length of 1 character and a maximum length of 63 characters and cannot be empty. Values can be empty and have a maximum length of 63 characters. * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. All characters must use UTF-8 encoding, and international characters are allowed. * The key portion of a label must be unique. However, you can use the same key with multiple resources. * Keys must start with a lowercase letter or international character. See [Google Cloud Document](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements) for more details.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "session": {
          "description": "The session resource name. Not required. When session field is not set, the API is in sessionless mode. We support auto session mode: users can use the wildcard symbol `-` as session ID. A new ID will be automatically generated and assigned.",
          "type": "string"
        },
        "searchSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestSearchSpec",
          "description": "Search specification."
        },
        "answerGenerationSpec": {
          "description": "Answer generation specification.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAnswerQueryRequestAnswerGenerationSpec"
        },
        "userPseudoId": {
          "type": "string",
          "description": "A unique identifier for tracking visitors. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor logs in or out of the website. This field should NOT have a fixed value such as `unknown_visitor`. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an `INVALID_ARGUMENT` error is returned."
        }
      },
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigParsingConfigOcrParsingConfig": {
      "description": "The OCR parsing configurations for documents.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaDocumentProcessingConfigParsingConfigOcrParsingConfig",
      "properties": {
        "useNativeText": {
          "description": "If true, will use native text instead of OCR text on pages containing native text.",
          "type": "boolean"
        },
        "enhancedDocumentElements": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "[DEPRECATED] This field is deprecated. To use the additional enhanced document elements processing, please switch to `layout_parsing_config`.",
          "deprecated": true
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaOrganicCrawlRateTimeSeries": {
      "description": "The historical organic crawl rate timeseries data, used for monitoring. Organic crawl is auto-determined by Google to crawl the user's website when dedicate crawl is not set. Crawl rate is the QPS of crawl request Google sends to the user's website.",
      "properties": {
        "vertexAiOrganicCrawlRate": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries",
          "description": "Vertex AI's organic crawl rate time series, which is the crawl rate of Google-CloudVertexBot when dedicate crawl is not set. Please refer to https://developers.google.com/search/docs/crawling-indexing/google-common-crawlers#google-cloudvertexbot for more details about Google-CloudVertexBot."
        },
        "googleOrganicCrawlRate": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaCrawlRateTimeSeries",
          "description": "Google's organic crawl rate time series, which is the sum of all googlebots' crawl rate. Please refer to https://developers.google.com/search/docs/crawling-indexing/overview-google-crawlers for more details about googlebots."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaOrganicCrawlRateTimeSeries"
    },
    "GoogleCloudDiscoveryengineV1AdvancedSiteSearchConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1AdvancedSiteSearchConfig",
      "properties": {
        "disableAutomaticRefresh": {
          "description": "If set true, automatic refresh is disabled for the DataStore.",
          "type": "boolean"
        },
        "disableInitialIndex": {
          "type": "boolean",
          "description": "If set true, initial indexing is disabled for the DataStore."
        }
      },
      "description": "Configuration data for advance site search."
    },
    "GoogleCloudDiscoveryengineV1betaIdpConfig": {
      "properties": {
        "idpType": {
          "enumDescriptions": [
            "Default value. ACL search not enabled.",
            "Google 1P provider.",
            "Third party provider."
          ],
          "enum": [
            "IDP_TYPE_UNSPECIFIED",
            "GSUITE",
            "THIRD_PARTY"
          ],
          "type": "string",
          "description": "Identity provider type configured."
        },
        "externalIdpConfig": {
          "description": "External Identity provider config.",
          "$ref": "GoogleCloudDiscoveryengineV1betaIdpConfigExternalIdpConfig"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaIdpConfig",
      "type": "object",
      "description": "Identity Provider Config."
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestDisplaySpec": {
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestDisplaySpec",
      "properties": {
        "matchHighlightingCondition": {
          "description": "The condition under which match highlighting should occur.",
          "type": "string",
          "enumDescriptions": [
            "Server behavior is the same as `MATCH_HIGHLIGHTING_DISABLED`.",
            "Disables match highlighting on all documents.",
            "Enables match highlighting on all documents."
          ],
          "enum": [
            "MATCH_HIGHLIGHTING_CONDITION_UNSPECIFIED",
            "MATCH_HIGHLIGHTING_DISABLED",
            "MATCH_HIGHLIGHTING_ENABLED"
          ]
        }
      },
      "type": "object",
      "description": "Specifies features for display, like match highlighting."
    },
    "GoogleCloudDiscoveryengineV1alphaImportIdentityMappingsRequestInlineSource": {
      "description": "The inline source to import identity mapping entries from.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaImportIdentityMappingsRequestInlineSource",
      "properties": {
        "identityMappingEntries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaIdentityMappingEntry"
          },
          "description": "A maximum of 10000 entries can be imported at one time"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAdvancedCompleteQueryResponsePersonSuggestion": {
      "properties": {
        "personType": {
          "description": "The type of the person.",
          "type": "string",
          "enum": [
            "PERSON_TYPE_UNSPECIFIED",
            "CLOUD_IDENTITY",
            "THIRD_PARTY_IDENTITY",
            "GOOGLE_GROUP"
          ],
          "enumDescriptions": [
            "Default value.",
            "The suggestion is from a GOOGLE_IDENTITY source.",
            "The suggestion is from a THIRD_PARTY_IDENTITY source.",
            "The suggestion is a group (e.g. a Google Group), not an individual."
          ]
        },
        "document": {
          "description": "The document data snippet in the suggestion. Only a subset of fields is populated.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaDocument"
        },
        "suggestion": {
          "type": "string",
          "description": "The suggestion for the query."
        },
        "dataStore": {
          "description": "The name of the dataStore that this suggestion belongs to.",
          "type": "string"
        },
        "score": {
          "type": "number",
          "format": "double",
          "description": "The score of each suggestion. The score is in the range of [0, 1]."
        },
        "destinationUri": {
          "description": "The destination uri of the person suggestion.",
          "type": "string"
        },
        "displayPhotoUri": {
          "description": "The photo uri of the person suggestion.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAdvancedCompleteQueryResponsePersonSuggestion",
      "description": "Suggestions as people."
    },
    "GoogleCloudDiscoveryengineV1alphaCmekConfig": {
      "properties": {
        "kmsKey": {
          "description": "Required. KMS key resource name which will be used to encrypt resources `projects/{project}/locations/{location}/keyRings/{keyRing}/cryptoKeys/{keyId}`.",
          "type": "string"
        },
        "isDefault": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. The default CmekConfig for the Customer."
        },
        "state": {
          "enumDescriptions": [
            "The CmekConfig state is unknown.",
            "The CmekConfig is creating.",
            "The CmekConfig can be used with DataStores.",
            "The CmekConfig is unavailable, most likely due to the KMS Key being revoked.",
            "The CmekConfig is deleting.",
            "The CmekConfig deletion process failed.",
            "The CmekConfig is not usable, most likely due to some internal issue.",
            "The KMS key version is being rotated.",
            "The KMS key is soft deleted. Some cleanup policy will eventually be applied.",
            "The KMS key is expired, meaning the key has been disabled for 30+ days. The customer can call DeleteCmekConfig to change the state to DELETED."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "KEY_ISSUE",
            "DELETING",
            "DELETE_FAILED",
            "UNUSABLE",
            "ACTIVE_ROTATING",
            "DELETED",
            "EXPIRED"
          ],
          "description": "Output only. The states of the CmekConfig.",
          "readOnly": true,
          "type": "string"
        },
        "lastRotationTimestampMicros": {
          "description": "Output only. The timestamp of the last key rotation.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "kmsKeyVersion": {
          "description": "Output only. KMS key version resource name which will be used to encrypt resources `/cryptoKeyVersions/{keyVersion}`.",
          "type": "string",
          "readOnly": true
        },
        "notebooklmState": {
          "type": "string",
          "enumDescriptions": [
            "The NotebookLM state is unknown.",
            "The NotebookLM is not ready.",
            "The NotebookLM is ready to be used.",
            "The NotebookLM is not enabled."
          ],
          "enum": [
            "NOTEBOOK_LM_STATE_UNSPECIFIED",
            "NOTEBOOK_LM_NOT_READY",
            "NOTEBOOK_LM_READY",
            "NOTEBOOK_LM_NOT_ENABLED"
          ],
          "readOnly": true,
          "description": "Output only. Whether the NotebookLM Corpus is ready to be used."
        },
        "name": {
          "description": "Required. The name of the CmekConfig of the form `projects/{project}/locations/{location}/cmekConfig` or `projects/{project}/locations/{location}/cmekConfigs/{cmek_config}`.",
          "type": "string"
        },
        "singleRegionKeys": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSingleRegionKey"
          },
          "description": "Optional. Single-regional CMEKs that are required for some VAIS features."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaCmekConfig",
      "description": "Configurations used to enable CMEK data encryption with Cloud KMS keys."
    },
    "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpec": {
      "properties": {
        "summarySpec": {
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSummarySpec",
          "description": "If `summarySpec` is not specified, summaries are not included in the search response."
        },
        "searchResultMode": {
          "type": "string",
          "description": "Specifies the search result mode. If unspecified, the search result mode defaults to `DOCUMENTS`.",
          "enum": [
            "SEARCH_RESULT_MODE_UNSPECIFIED",
            "DOCUMENTS",
            "CHUNKS"
          ],
          "enumDescriptions": [
            "Default value.",
            "Returns documents in the search result.",
            "Returns chunks in the search result. Only available if the DocumentProcessingConfig.chunking_config is specified."
          ]
        },
        "chunkSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecChunkSpec",
          "description": "Specifies the chunk spec to be returned from the search response. Only available if the SearchRequest.ContentSearchSpec.search_result_mode is set to CHUNKS"
        },
        "snippetSpec": {
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecSnippetSpec",
          "description": "If `snippetSpec` is not specified, snippets are not included in the search response."
        },
        "extractiveContentSpec": {
          "description": "If there is no extractive_content_spec provided, there will be no extractive answer in the search response.",
          "$ref": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpecExtractiveContentSpec"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1SearchRequestContentSearchSpec",
      "type": "object",
      "description": "A specification for configuring the behavior of content search."
    },
    "GoogleCloudDiscoveryengineV1alphaDoubleList": {
      "id": "GoogleCloudDiscoveryengineV1alphaDoubleList",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "format": "double",
            "type": "number"
          },
          "description": "Double values."
        }
      },
      "description": "Double list."
    },
    "GoogleCloudDiscoveryengineV1alphaContactDetails": {
      "properties": {
        "emailAddress": {
          "type": "string",
          "description": "Optional. The email address of the contact."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaContactDetails",
      "description": "The contact info stored in resource level. If both project level and resource level is populated, the resource level contact info will override the project level contact info."
    },
    "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicySensitiveDataProtectionPolicy": {
      "properties": {
        "policy": {
          "type": "string",
          "description": "Optional. The Sensitive Data Protection policy resource name."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfigNotebooklmConfigDataProtectionPolicySensitiveDataProtectionPolicy",
      "description": "Specifies a Sensitive Data Protection (https://cloud.google.com/sensitive-data-protection/docs/sensitive-data-protection-overview) policy."
    },
    "GoogleCloudDiscoveryengineV1alphaListLicenseConfigsResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaListLicenseConfigsResponse",
      "type": "object",
      "description": "Response message for LicenseConfigService.ListLicenseConfigs method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Not supported."
        },
        "licenseConfigs": {
          "description": "All the customer's LicenseConfigs.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaLicenseConfig"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaImportCompletionSuggestionsResponse": {
      "properties": {
        "errorConfig": {
          "description": "The desired location of errors incurred during the Import.",
          "$ref": "GoogleCloudDiscoveryengineV1betaImportErrorConfig"
        },
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      },
      "description": "Response of the CompletionService.ImportCompletionSuggestions method. If the long running operation is done, this message is returned by the google.longrunning.Operations.response field if the operation is successful.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaImportCompletionSuggestionsResponse"
    },
    "GoogleCloudDiscoveryengineV1betaDeleteDataStoreMetadata": {
      "description": "Metadata related to the progress of the DataStoreService.DeleteDataStore operation. This will be returned by the google.longrunning.Operation.metadata field.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1betaDeleteDataStoreMetadata",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaEstimateDataSizeRequestWebsiteDataSourceEstimatorUriPattern": {
      "type": "object",
      "properties": {
        "exactMatch": {
          "type": "boolean",
          "description": "Whether we infer the generated URI or use the exact provided one."
        },
        "providedUriPattern": {
          "description": "User provided URI pattern. For example, `foo.com/bar/*`.",
          "type": "string"
        },
        "exclusive": {
          "description": "Whether the pattern is exclusive or not. If set to true, the pattern is considered exclusive. If unset or set to false, the pattern is considered inclusive by default.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaEstimateDataSizeRequestWebsiteDataSourceEstimatorUriPattern",
      "description": "URI patterns that we use to crawl."
    },
    "GoogleCloudDiscoveryengineV1alphaListSchemasResponse": {
      "properties": {
        "schemas": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSchema"
          },
          "description": "The Schemas."
        },
        "nextPageToken": {
          "description": "A token that can be sent as ListSchemasRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaListSchemasResponse",
      "description": "Response message for SchemaService.ListSchemas method."
    },
    "GoogleCloudDiscoveryengineV1alphaProject": {
      "type": "object",
      "description": "Metadata and configurations for a Google Cloud project in the service.",
      "id": "GoogleCloudDiscoveryengineV1alphaProject",
      "properties": {
        "createTime": {
          "description": "Output only. The timestamp when this project is created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "serviceTermsMap": {
          "description": "Output only. A map of terms of services. The key is the `id` of ServiceTerms.",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaProjectServiceTerms"
          },
          "type": "object",
          "readOnly": true
        },
        "provisionCompletionTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when this project is successfully provisioned. Empty value means this project is still provisioning and is not ready for use."
        },
        "customerProvidedConfig": {
          "description": "Optional. Customer provided configurations.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaProjectCustomerProvidedConfig"
        },
        "name": {
          "type": "string",
          "description": "Output only. Full resource name of the project, for example `projects/{project}`. Note that when making requests, project number and project id are both acceptable, but the server will always respond in project number.",
          "readOnly": true
        },
        "configurableBillingStatus": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaProjectConfigurableBillingStatus",
          "readOnly": true,
          "description": "Output only. The current status of the project's configurable billing."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaBigQuerySource": {
      "description": "BigQuery source import data from.",
      "type": "object",
      "properties": {
        "partitionDate": {
          "description": "BigQuery time partitioned table's _PARTITIONDATE in YYYY-MM-DD format.",
          "$ref": "GoogleTypeDate"
        },
        "gcsStagingDir": {
          "type": "string",
          "description": "Intermediate Cloud Storage directory used for the import with a length limit of 2,000 characters. Can be specified if one wants to have the BigQuery export to a specific Cloud Storage directory."
        },
        "projectId": {
          "description": "The project ID or the project number that contains the BigQuery source. Has a length limit of 128 characters. If not specified, inherits the project ID from the parent request.",
          "type": "string"
        },
        "dataSchema": {
          "type": "string",
          "description": "The schema to use when parsing the data from the source. Supported values for user event imports: * `user_event` (default): One UserEvent per row. Supported values for document imports: * `document` (default): One Document format per row. Each document must have a valid Document.id and one of Document.json_data or Document.struct_data. * `custom`: One custom data per row in arbitrary format that conforms to the defined Schema of the data store. This can only be used by the GENERIC Data Store vertical."
        },
        "tableId": {
          "description": "Required. The BigQuery table to copy the data from with a length limit of 1,024 characters.",
          "type": "string"
        },
        "datasetId": {
          "type": "string",
          "description": "Required. The BigQuery data set to copy the data from with a length limit of 1,024 characters."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaBigQuerySource"
    },
    "GoogleCloudDiscoveryengineV1betaProject": {
      "id": "GoogleCloudDiscoveryengineV1betaProject",
      "properties": {
        "customerProvidedConfig": {
          "description": "Optional. Customer provided configurations.",
          "$ref": "GoogleCloudDiscoveryengineV1betaProjectCustomerProvidedConfig"
        },
        "provisionCompletionTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when this project is successfully provisioned. Empty value means this project is still provisioning and is not ready for use."
        },
        "serviceTermsMap": {
          "description": "Output only. A map of terms of services. The key is the `id` of ServiceTerms.",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1betaProjectServiceTerms"
          },
          "type": "object"
        },
        "configurableBillingStatus": {
          "description": "Output only. The current status of the project's configurable billing.",
          "readOnly": true,
          "$ref": "GoogleCloudDiscoveryengineV1betaProjectConfigurableBillingStatus"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when this project is created.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Full resource name of the project, for example `projects/{project}`. Note that when making requests, project number and project id are both acceptable, but the server will always respond in project number."
        }
      },
      "description": "Metadata and configurations for a Google Cloud project in the service.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaFirestoreSource": {
      "properties": {
        "projectId": {
          "description": "The project ID that the Cloud SQL source is in with a length limit of 128 characters. If not specified, inherits the project ID from the parent request.",
          "type": "string"
        },
        "collectionId": {
          "description": "Required. The Firestore collection (or entity) to copy the data from with a length limit of 1,500 characters.",
          "type": "string"
        },
        "gcsStagingDir": {
          "description": "Intermediate Cloud Storage directory used for the import with a length limit of 2,000 characters. Can be specified if one wants to have the Firestore export to a specific Cloud Storage directory. Ensure that the Firestore service account has the necessary Cloud Storage Admin permissions to access the specified Cloud Storage directory.",
          "type": "string"
        },
        "databaseId": {
          "description": "Required. The Firestore database to copy the data from with a length limit of 256 characters.",
          "type": "string"
        }
      },
      "description": "Firestore source import data from.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaFirestoreSource"
    },
    "GoogleCloudNotebooklmV1alphaFailureReasonGoogleDriveErrorDownloadPrevented": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudNotebooklmV1alphaFailureReasonGoogleDriveErrorDownloadPrevented",
      "description": "The user was prevented from downloading the file."
    },
    "GoogleCloudDiscoveryengineV1ImportUserEventsMetadata": {
      "description": "Metadata related to the progress of the Import operation. This is returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "properties": {
        "failureCount": {
          "format": "int64",
          "description": "Count of entries that encountered errors while processing.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Operation create time.",
          "format": "google-datetime"
        },
        "successCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of entries that were processed successfully."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Operation last update time. If the operation is done, this is also the finish time.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1ImportUserEventsMetadata"
    },
    "GoogleMonitoringV3TimeInterval": {
      "properties": {
        "startTime": {
          "description": "Optional. The beginning of the time interval. The default value for the start time is the end time. The start time must not be later than the end time.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. The end of the time interval."
        }
      },
      "id": "GoogleMonitoringV3TimeInterval",
      "type": "object",
      "description": "A time interval extending just after a start time through an end time. If the start time is the same as the end time, then the interval represents a single point in time."
    },
    "GoogleCloudNotebooklmV1alphaYoutubeMetadata": {
      "id": "GoogleCloudNotebooklmV1alphaYoutubeMetadata",
      "description": "Metadata about a youtube video source.",
      "type": "object",
      "properties": {
        "channelName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The channel name of the youtube video."
        },
        "videoId": {
          "description": "Output only. The id of the youtube video.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaFileMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaFileMetadata",
      "description": "Represents a file attached to a session (context file)",
      "type": "object",
      "properties": {
        "mimeType": {
          "description": "The content type of the file, see https://www.iana.org/assignments/media-types/media-types.xhtml.",
          "type": "string"
        },
        "metadata": {
          "description": "Optional. Represents metadata related to the file that can suit particular use cases. The prefix \"google.\" is reserved for the key for use by Google, but other prefixes can be freely used.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "fileOriginType": {
          "enum": [
            "FILE_ORIGIN_TYPE_UNSPECIFIED",
            "USER_PROVIDED",
            "AI_GENERATED",
            "INTERNALLY_GENERATED"
          ],
          "enumDescriptions": [
            "Default value.",
            "The file was provided by the user.",
            "The file was generated by an AI model.",
            "The file was generated from other files by an internal process."
          ],
          "description": "Optional. The origin of the file.",
          "type": "string"
        },
        "views": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaFileView"
          },
          "readOnly": true,
          "description": "Output only. Alternate views of this file object. Each file view is attached to a specific role. Possible example keys: - \"thumbnail\" - \"mobile_thumbnail\" - \"clip\" - \"summary\" - \"translation\""
        },
        "uploadTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the file was uploaded (If this is a file generated by an internal process and then made available to the session, this indicates the moment it happened)."
        },
        "lastAddTime": {
          "description": "Output only. The time the file was added to the session. Note that if a file was added, then modified externally, then added again, the add time will be updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "fileId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the file."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the file uploaded."
        },
        "byteSize": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The size of the context file in bytes.",
          "readOnly": true
        },
        "originalSourceType": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Unknown source.",
            "The data of the file was provided inline (e.g. pasted from the clipboard).",
            "The file was uploaded from a local file.",
            "The file was uploaded from Cloud Storage.",
            "The file was uploaded from Drive.",
            "The file was retrieved from a URL (e.g. public web)."
          ],
          "enum": [
            "FILE_SOURCE_UNSPECIFIED",
            "FILE_SOURCE_INLINE",
            "FILE_SOURCE_LOCAL",
            "FILE_SOURCE_CLOUD_STORAGE",
            "FILE_SOURCE_CLOUD_DRIVE",
            "FILE_SOURCE_URL"
          ],
          "description": "Optional. The type of the original source of the file."
        },
        "downloadUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The AssistantService.DownloadSessionFile URL to download the file. This URL will need the same credentials as AssistantService.ListSessionFileMetadata method and will provide the resource."
        },
        "originalUri": {
          "description": "Optional. The original location of the file. It may be a local file path, or any other URI that allows accessing the file in an external system. There are two scenarios in which this url may be empty: 1. If the file was sent as inline data (e.g. pasted from the clipboard). 2. If the original location is not available. Note that there's no guarantee that the URI will be pointing to a valid or actually existing file. For example, a file might have been uploaded to the session, and then deleted from the original source.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaEngineChatEngineMetadata": {
      "type": "object",
      "description": "Additional information of a Chat Engine. Fields in this message are output only.",
      "id": "GoogleCloudDiscoveryengineV1betaEngineChatEngineMetadata",
      "properties": {
        "dialogflowAgent": {
          "type": "string",
          "description": "The resource name of a Dialogflow agent, that this Chat Engine refers to. Format: `projects//locations//agents/`."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaImportDocumentsResponse": {
      "description": "Response of the ImportDocumentsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.",
      "properties": {
        "errorConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaImportErrorConfig",
          "description": "Echoes the destination for the complete errors in the request if set."
        },
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaImportDocumentsResponse"
    },
    "GoogleCloudDiscoveryengineV1alphaObtainCrawlRateRequest": {
      "description": "Request message for CrawlRateManagementService.ObtainCrawlRate method.",
      "id": "GoogleCloudDiscoveryengineV1alphaObtainCrawlRateRequest",
      "type": "object",
      "properties": {
        "crawlRateScope": {
          "type": "string",
          "description": "Required. The scope of the crawl rate that the user wants to monitor. Currently, only domain and host name are supported. A domain name example: `example.com`. A host name example: `www.example.com`. Please do not include `/` in the domain or host name."
        }
      }
    },
    "GoogleCloudNotebooklmV1alphaNotebook": {
      "description": "Notebook is a resource where users can store their content (as sources) and interacts with the content.",
      "type": "object",
      "properties": {
        "cmekConfig": {
          "description": "Output only. CMEK-related information for the Notebook.",
          "$ref": "GoogleCloudNotebooklmV1alphaCmekConfig",
          "readOnly": true
        },
        "emoji": {
          "description": "Output only. The emoji of the notebook.",
          "type": "string",
          "readOnly": true
        },
        "metadata": {
          "readOnly": true,
          "description": "Output only. The metadata of the notebook.",
          "$ref": "GoogleCloudNotebooklmV1alphaNotebookMetadata"
        },
        "title": {
          "type": "string",
          "description": "Optional. The title of the notebook."
        },
        "name": {
          "description": "Identifier. The identifier of the notebook. Format: `projects/{project}/locations/{location}/notebooks/{notebook_id}`. This field must be a UTF-8 encoded string.",
          "type": "string"
        },
        "sources": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudNotebooklmV1alphaSource"
          },
          "description": "Output only. List of sources in the notebook. This is an output only field."
        },
        "notebookId": {
          "readOnly": true,
          "description": "Output only. Notebook id, which is the last segment of the notebook's resource name.",
          "type": "string"
        }
      },
      "id": "GoogleCloudNotebooklmV1alphaNotebook"
    },
    "GoogleCloudDiscoveryengineV1alphaImportSuggestionDenyListEntriesRequestInlineSource": {
      "description": "The inline source for SuggestionDenyListEntry.",
      "properties": {
        "entries": {
          "description": "Required. A list of all denylist entries to import. Max of 1000 items.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSuggestionDenyListEntry"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaImportSuggestionDenyListEntriesRequestInlineSource"
    },
    "GoogleCloudDiscoveryengineV1alphaListUserLicensesResponse": {
      "description": "Response message for UserLicenseService.ListUserLicenses.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "userLicenses": {
          "description": "All the customer's UserLicenses.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaUserLicense"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaListUserLicensesResponse"
    },
    "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperiment": {
      "description": "An experiment is a single run of the AlphaEvolve agent, an evolutionary coding agent powered by LLM for algorithm discovery and optimization.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperiment",
      "properties": {
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when the experiment was created.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The full resource name of the experiment. Format: `projects/{project}/locations/{location}/collections/{collection}/engines/{engine}/sessions/{session}/alphaEvolveExperiments/{alpha_evolve_experiment}`",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The experiment is created.",
            "The experiment is running.",
            "The experiment is paused.",
            "The experiment is completed.",
            "The experiment has failed."
          ],
          "type": "string",
          "description": "Output only. The state of the experiment.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATED",
            "RUNNING",
            "PAUSED",
            "COMPLETED",
            "FAILED"
          ]
        },
        "stats": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperimentStats",
          "readOnly": true,
          "description": "Output only. Experiment stats."
        },
        "initialAlphaEvolveProgram": {
          "readOnly": true,
          "description": "Output only. Specifies the name of the seed program used to start the experiment.",
          "type": "string"
        },
        "config": {
          "description": "Required. Experiment configuration.",
          "$ref": "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperimentConfig"
        }
      }
    },
    "GoogleTypeExpr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        }
      },
      "id": "GoogleTypeExpr"
    },
    "GoogleCloudDiscoveryengineV1alphaSearchRequestSessionSpec": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaSearchRequestSessionSpec",
      "description": "Session specification.",
      "properties": {
        "searchResultPersistenceCount": {
          "description": "The number of top search results to persist. The persisted search results can be used for the subsequent /answer api call. This field is similar to the `summary_result_count` field in SearchRequest.ContentSearchSpec.SummarySpec.summary_result_count. At most 10 results for documents mode, or 50 for chunks mode.",
          "type": "integer",
          "format": "int32"
        },
        "queryId": {
          "description": "If set, the search result gets stored to the \"turn\" specified by this query ID. Example: Let's say the session looks like this: session { name: \".../sessions/xxx\" turns { query { text: \"What is foo?\" query_id: \".../questions/yyy\" } answer: \"Foo is ...\" } turns { query { text: \"How about bar then?\" query_id: \".../questions/zzz\" } } } The user can call /search API with a request like this: session: \".../sessions/xxx\" session_spec { query_id: \".../questions/zzz\" } Then, the API stores the search result, associated with the last turn. The stored search result can be used by a subsequent /answer API call (with the session ID and the query ID specified). Also, it is possible to call /search and /answer in parallel with the same session ID & query ID.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1BAPConfig": {
      "description": "The configuration for the BAP connector.",
      "properties": {
        "enabledActions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The actions enabled on the associated BAP connection."
        },
        "supportedConnectorModes": {
          "items": {
            "enum": [
              "CONNECTOR_MODE_UNSPECIFIED",
              "DATA_INGESTION",
              "ACTIONS",
              "END_USER_AUTHENTICATION"
            ],
            "type": "string",
            "enumDescriptions": [
              "Connector mode unspecified.",
              "Connector utilized for data ingestion.",
              "Connector utilized for Actions",
              "Connector utilized for End User Authentication."
            ]
          },
          "description": "Required. The supported connector modes for the associated BAP connection.",
          "type": "array"
        },
        "toolspecOverride": {
          "$ref": "GoogleCloudDiscoveryengineV1BAPConfigToolspecOverride",
          "description": "Optional. Custom toolspec overrides for this connection. For Enterprise BAP connectors that support admin-curated tool definitions, this holds the (simplified) per-tool overrides. On Get, populated by the server by merging persisted overrides with live runtime tool definitions and trimming the result for UI consumption. On Update, the supplied value replaces the persisted overrides after server-side validation and merging: the `base_version` field MUST match the server's current base toolspec version (otherwise the request is rejected with a user-facing error directing the admin to re-download the latest tools first)."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1BAPConfig"
    },
    "GoogleCloudDiscoveryengineV1betaControlBoostAction": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaControlBoostAction",
      "description": "Adjusts order of products in returned list.",
      "properties": {
        "dataStore": {
          "type": "string",
          "description": "Required. Specifies which data store's documents can be boosted by this control. Full data store name e.g. projects/123/locations/global/collections/default_collection/dataStores/default_data_store"
        },
        "interpolationBoostSpec": {
          "description": "Optional. Complex specification for custom ranking based on customer defined attribute value.",
          "$ref": "GoogleCloudDiscoveryengineV1betaControlBoostActionInterpolationBoostSpec"
        },
        "boost": {
          "deprecated": true,
          "description": "Strength of the boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0 (No-op).",
          "type": "number",
          "format": "float"
        },
        "fixedBoost": {
          "description": "Optional. Strength of the boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0 (No-op).",
          "format": "float",
          "type": "number"
        },
        "filter": {
          "description": "Required. Specifies which products to apply the boost to. If no filter is provided all products will be boosted (No-op). Syntax documentation: https://cloud.google.com/retail/docs/filter-and-order Maximum length is 5000 characters. Otherwise an INVALID ARGUMENT error is thrown.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1PurgeDocumentsResponse": {
      "id": "GoogleCloudDiscoveryengineV1PurgeDocumentsResponse",
      "type": "object",
      "description": "Response message for DocumentService.PurgeDocuments method. If the long running operation is successfully done, then this message is returned by the google.longrunning.Operations.response field.",
      "properties": {
        "purgeCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of documents purged as a result of the operation."
        },
        "purgeSample": {
          "description": "A sample of document names that will be deleted. Only populated if `force` is set to false. A max of 100 names will be returned and the names are chosen at random.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaBatchUpdateUserLicensesResponse": {
      "properties": {
        "userLicenses": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaUserLicense"
          },
          "type": "array",
          "description": "UserLicenses successfully updated."
        },
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaBatchUpdateUserLicensesResponse",
      "description": "Response message for UserLicenseService.BatchUpdateUserLicenses method."
    },
    "GoogleCloudDiscoveryengineV1alphaDataStoreBillingEstimation": {
      "properties": {
        "unstructuredDataSize": {
          "description": "Data size for unstructured data in terms of bytes.",
          "format": "int64",
          "type": "string"
        },
        "websiteDataSize": {
          "type": "string",
          "format": "int64",
          "description": "Data size for websites in terms of bytes."
        },
        "unstructuredDataUpdateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last updated timestamp for unstructured data."
        },
        "websiteDataUpdateTime": {
          "type": "string",
          "description": "Last updated timestamp for websites.",
          "format": "google-datetime"
        },
        "structuredDataUpdateTime": {
          "description": "Last updated timestamp for structured data.",
          "type": "string",
          "format": "google-datetime"
        },
        "structuredDataSize": {
          "format": "int64",
          "type": "string",
          "description": "Data size for structured data in terms of bytes."
        }
      },
      "description": "Estimation of data size per data store.",
      "id": "GoogleCloudDiscoveryengineV1alphaDataStoreBillingEstimation",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaUpdateSchemaMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Operation create time."
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Metadata for UpdateSchema LRO.",
      "id": "GoogleCloudDiscoveryengineV1betaUpdateSchemaMetadata"
    },
    "GoogleCloudDiscoveryengineV1betaAgentGatewaySetting": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaAgentGatewaySetting",
      "properties": {
        "defaultEgressAgentGateway": {
          "description": "Optional. The default egress agent gateway to use, when this setting is applied to a Gemini Enterprise resource. The deployment mode must be GOOGLE_MANAGED, and the governed access path must be AGENT_TO_ANYWHERE.",
          "$ref": "GoogleCloudDiscoveryengineV1betaAgentGatewaySettingAgentGatewayReference"
        }
      },
      "description": "Agent Gateway setting, which may be attached to Gemini Enterprise resources for egress control of Gemini Enterprise agents to agents and tools outside of Gemini Enterprise."
    },
    "GoogleCloudDiscoveryengineV1alphaAssistAnswerCustomerPolicyEnforcementResultBannedPhraseEnforcementResult": {
      "description": "Customer policy enforcement result for the banned phrase policy.",
      "id": "GoogleCloudDiscoveryengineV1alphaAssistAnswerCustomerPolicyEnforcementResultBannedPhraseEnforcementResult",
      "type": "object",
      "properties": {
        "bannedPhrases": {
          "description": "The banned phrases that were found in the query or the answer.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSingleRegionKey": {
      "id": "GoogleCloudDiscoveryengineV1betaSingleRegionKey",
      "properties": {
        "kmsKey": {
          "type": "string",
          "description": "Required. Single-regional kms key resource name which will be used to encrypt resources `projects/{project}/locations/{location}/keyRings/{keyRing}/cryptoKeys/{keyId}`."
        }
      },
      "type": "object",
      "description": "Metadata for single-regional CMEKs."
    },
    "GoogleCloudDiscoveryengineV1PurgeSuggestionDenyListEntriesResponse": {
      "id": "GoogleCloudDiscoveryengineV1PurgeSuggestionDenyListEntriesResponse",
      "properties": {
        "purgeCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of suggestion deny list entries purged."
        },
        "errorSamples": {
          "description": "A sample of errors encountered while processing the request.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        }
      },
      "description": "Response message for CompletionService.PurgeSuggestionDenyListEntries method.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1betaSetDedicatedCrawlRateResponse": {
      "description": "Response message for CrawlRateManagementService.SetDedicatedCrawlRate method. It simply returns the state of the response, and an error message if the state is FAILED.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSetDedicatedCrawlRateResponse",
      "properties": {
        "state": {
          "description": "Output only. The state of the response.",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "The state is unspecified.",
            "The state is successful.",
            "The state is failed."
          ],
          "type": "string",
          "readOnly": true
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "Errors from service when handling the request."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaBigQueryDestination": {
      "id": "GoogleCloudDiscoveryengineV1alphaBigQueryDestination",
      "properties": {
        "datasetId": {
          "description": "Required. The ID of a BigQuery Dataset.",
          "type": "string"
        },
        "tableId": {
          "type": "string",
          "description": "Required. The table_id of exported BigQuery table."
        }
      },
      "type": "object",
      "description": "The BigQuery output destination configuration."
    },
    "GoogleCloudDiscoveryengineLoggingErrorContext": {
      "description": "A description of the context in which an error occurred.",
      "id": "GoogleCloudDiscoveryengineLoggingErrorContext",
      "type": "object",
      "properties": {
        "reportLocation": {
          "description": "The location in the source code where the decision was made to report the error, usually the place where it was logged.",
          "$ref": "GoogleCloudDiscoveryengineLoggingSourceLocation"
        },
        "httpRequest": {
          "description": "The HTTP request which was processed when the error was triggered.",
          "$ref": "GoogleCloudDiscoveryengineLoggingHttpRequestContext"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaIdentityMappingEntryOperationMetadata": {
      "id": "GoogleCloudDiscoveryengineV1alphaIdentityMappingEntryOperationMetadata",
      "description": "IdentityMappingEntry LongRunningOperation metadata for IdentityMappingStoreService.ImportIdentityMappings and IdentityMappingStoreService.PurgeIdentityMappings",
      "type": "object",
      "properties": {
        "successCount": {
          "format": "int64",
          "description": "The number of IdentityMappingEntries that were successfully processed.",
          "type": "string"
        },
        "failureCount": {
          "description": "The number of IdentityMappingEntries that failed to be processed.",
          "type": "string",
          "format": "int64"
        },
        "totalCount": {
          "format": "int64",
          "description": "The total number of IdentityMappingEntries that were processed.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaPurgeSuggestionDenyListEntriesMetadata": {
      "description": "Metadata related to the progress of the PurgeSuggestionDenyListEntries operation. This is returned by the google.longrunning.Operation.metadata field.",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Operation create time.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Operation last update time. If the operation is done, this is also the finish time."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaPurgeSuggestionDenyListEntriesMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaLicenseConfigUsageStats": {
      "properties": {
        "usedLicenseCount": {
          "description": "Required. The number of licenses used.",
          "type": "string",
          "format": "int64"
        },
        "licenseConfig": {
          "description": "Required. The LicenseConfig name.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaLicenseConfigUsageStats",
      "description": "Stats about users' licenses.",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaTransactionInfo": {
      "properties": {
        "value": {
          "format": "float",
          "type": "number",
          "description": "Required. Total non-zero value associated with the transaction. This value may include shipping, tax, or other adjustments to the total value that you want to include."
        },
        "currency": {
          "type": "string",
          "description": "Required. Currency code. Use three-character ISO-4217 code."
        },
        "discountValue": {
          "type": "number",
          "description": "The total discount(s) value applied to this transaction. This figure should be excluded from TransactionInfo.value For example, if a user paid TransactionInfo.value amount, then nominal (pre-discount) value of the transaction is the sum of TransactionInfo.value and TransactionInfo.discount_value This means that profit is calculated the same way, regardless of the discount value, and that TransactionInfo.discount_value can be larger than TransactionInfo.value: * Profit = value - tax - cost",
          "format": "float"
        },
        "tax": {
          "type": "number",
          "format": "float",
          "description": "All the taxes associated with the transaction."
        },
        "cost": {
          "type": "number",
          "description": "All the costs associated with the products. These can be manufacturing costs, shipping expenses not borne by the end user, or any other costs, such that: * Profit = value - tax - cost",
          "format": "float"
        },
        "transactionId": {
          "description": "The transaction ID with a length limit of 128 characters.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaTransactionInfo",
      "type": "object",
      "description": "A transaction represents the entire purchase transaction."
    },
    "GoogleCloudDiscoveryengineV1betaCmekConfig": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaCmekConfig",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "KEY_ISSUE",
            "DELETING",
            "DELETE_FAILED",
            "UNUSABLE",
            "ACTIVE_ROTATING",
            "DELETED",
            "EXPIRED"
          ],
          "readOnly": true,
          "description": "Output only. The states of the CmekConfig.",
          "type": "string",
          "enumDescriptions": [
            "The CmekConfig state is unknown.",
            "The CmekConfig is creating.",
            "The CmekConfig can be used with DataStores.",
            "The CmekConfig is unavailable, most likely due to the KMS Key being revoked.",
            "The CmekConfig is deleting.",
            "The CmekConfig deletion process failed.",
            "The CmekConfig is not usable, most likely due to some internal issue.",
            "The KMS key version is being rotated.",
            "The KMS key is soft deleted. Some cleanup policy will eventually be applied.",
            "The KMS key is expired, meaning the key has been disabled for 30+ days. The customer can call DeleteCmekConfig to change the state to DELETED."
          ]
        },
        "name": {
          "description": "Required. The name of the CmekConfig of the form `projects/{project}/locations/{location}/cmekConfig` or `projects/{project}/locations/{location}/cmekConfigs/{cmek_config}`.",
          "type": "string"
        },
        "isDefault": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. The default CmekConfig for the Customer."
        },
        "lastRotationTimestampMicros": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The timestamp of the last key rotation.",
          "readOnly": true
        },
        "notebooklmState": {
          "enum": [
            "NOTEBOOK_LM_STATE_UNSPECIFIED",
            "NOTEBOOK_LM_NOT_READY",
            "NOTEBOOK_LM_READY",
            "NOTEBOOK_LM_NOT_ENABLED"
          ],
          "description": "Output only. Whether the NotebookLM Corpus is ready to be used.",
          "type": "string",
          "enumDescriptions": [
            "The NotebookLM state is unknown.",
            "The NotebookLM is not ready.",
            "The NotebookLM is ready to be used.",
            "The NotebookLM is not enabled."
          ],
          "readOnly": true
        },
        "kmsKeyVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. KMS key version resource name which will be used to encrypt resources `/cryptoKeyVersions/{keyVersion}`."
        },
        "singleRegionKeys": {
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1betaSingleRegionKey"
          },
          "description": "Optional. Single-regional CMEKs that are required for some VAIS features.",
          "type": "array"
        },
        "kmsKey": {
          "description": "Required. KMS key resource name which will be used to encrypt resources `projects/{project}/locations/{location}/keyRings/{keyRing}/cryptoKeys/{keyId}`.",
          "type": "string"
        }
      },
      "description": "Configurations used to enable CMEK data encryption with Cloud KMS keys."
    },
    "GoogleCloudDiscoveryengineV1alphaImportUserEventsRequestInlineSource": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaImportUserEventsRequestInlineSource",
      "properties": {
        "userEvents": {
          "type": "array",
          "description": "Required. A list of user events to import. Recommended max of 10k items.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaUserEvent"
          }
        }
      },
      "description": "The inline source for the input config for ImportUserEvents method."
    },
    "GoogleCloudDiscoveryengineV1betaTuneEngineResponse": {
      "id": "GoogleCloudDiscoveryengineV1betaTuneEngineResponse",
      "description": "Response associated with a tune operation.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDiscoveryengineV1alphaImportSuggestionDenyListEntriesMetadata": {
      "properties": {
        "createTime": {
          "description": "Operation create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "description": "Operation last update time. If the operation is done, this is also the finish time.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaImportSuggestionDenyListEntriesMetadata",
      "description": "Metadata related to the progress of the ImportSuggestionDenyListEntries operation. This is returned by the google.longrunning.Operation.metadata field."
    },
    "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigNotebooklmConfig": {
      "properties": {
        "searchConfig": {
          "description": "Required. Search config name. Format: projects/*/locations/global/notebookLmSearchConfigs/*",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaDataStoreFederatedSearchConfigNotebooklmConfig",
      "description": "Config for connecting to NotebookLM Enterprise."
    },
    "GoogleCloudDiscoveryengineV1alphaSearchResponseSummaryCitationMetadata": {
      "type": "object",
      "description": "Citation metadata.",
      "properties": {
        "citations": {
          "description": "Citations for segments.",
          "items": {
            "$ref": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummaryCitation"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaSearchResponseSummaryCitationMetadata"
    },
    "GoogleCloudDiscoveryengineV1alphaWorkspaceConfig": {
      "properties": {
        "dasherCustomerId": {
          "type": "string",
          "description": "Output only. Obfuscated Dasher customer ID. Derived by the server from the project's GCP organization at data store creation time; any value supplied in the request payload is ignored.",
          "readOnly": true
        },
        "superAdminServiceAccount": {
          "type": "string",
          "description": "Optional. The super admin service account for the workspace that will be used for access token generation. For now we only use it for Native Google Drive connector data ingestion."
        },
        "type": {
          "description": "The Google Workspace data source.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "GOOGLE_DRIVE",
            "GOOGLE_MAIL",
            "GOOGLE_SITES",
            "GOOGLE_CALENDAR",
            "GOOGLE_CHAT",
            "GOOGLE_GROUPS",
            "GOOGLE_KEEP",
            "GOOGLE_PEOPLE",
            "GOOGLE_WORKSPACE"
          ],
          "enumDescriptions": [
            "Defaults to an unspecified Workspace type.",
            "Workspace Data Store contains Drive data",
            "Workspace Data Store contains Mail data",
            "Workspace Data Store contains Sites data",
            "Workspace Data Store contains Calendar data",
            "Workspace Data Store contains Chat data",
            "Workspace Data Store contains Groups data",
            "Workspace Data Store contains Keep data",
            "Workspace Data Store contains People data",
            "Workspace Data Store contains all Workspace apps data"
          ]
        },
        "superAdminEmailAddress": {
          "description": "Optional. The super admin email address for the workspace that will be used for access token generation. For now we only use it for Native Google Drive connector data ingestion.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaWorkspaceConfig",
      "description": "Config to store data store type configuration for workspace data",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfig": {
      "description": "Stores information for connecting to AlloyDB.",
      "id": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfig",
      "type": "object",
      "properties": {
        "alloydbConnectionConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfigAlloyDbConnectionConfig",
          "description": "Required. Configuration for connecting to AlloyDB."
        },
        "returnedFields": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Fields to be returned in the search results. If empty, all fields will be returned."
        },
        "alloydbAiNlConfig": {
          "$ref": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfigAlloyDbAiNaturalLanguageConfig",
          "description": "Optional. Configuration for Magic."
        }
      }
    },
    "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfigAlloyDbAiNaturalLanguageConfig": {
      "id": "GoogleCloudDiscoveryengineV1DataStoreFederatedSearchConfigAlloyDbConfigAlloyDbAiNaturalLanguageConfig",
      "type": "object",
      "description": "Configuration for AlloyDB AI Natural Language.",
      "properties": {
        "nlConfigId": {
          "description": "Optional. AlloyDb AI NL config id, i.e. the value that was used for calling `SELECT alloydb_ai_nl.g_create_configuration(...)`. Can be empty.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaTuneEngineResponse": {
      "id": "GoogleCloudDiscoveryengineV1alphaTuneEngineResponse",
      "type": "object",
      "properties": {},
      "description": "Response associated with a tune operation."
    },
    "GoogleCloudDiscoveryengineV1alphaStartExperimentMetadata": {
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaStartExperimentMetadata",
      "description": "Metadata for AlphaEvolveService.StartExperiment long running operation.",
      "properties": {
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation was last updated."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaCheckRefreshTokenResponse": {
      "properties": {
        "refreshTokenInfo": {
          "$ref": "GoogleCloudDiscoveryengineV1alphaRefreshTokenInfo",
          "description": "Info about the stored refresh token."
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaCheckRefreshTokenResponse",
      "type": "object",
      "description": "Response message for the DataConnectorService.CheckRefreshToken method."
    },
    "GoogleCloudDiscoveryengineV1betaEnableAdvancedSiteSearchResponse": {
      "description": "Response message for SiteSearchEngineService.EnableAdvancedSiteSearch method.",
      "properties": {},
      "id": "GoogleCloudDiscoveryengineV1betaEnableAdvancedSiteSearchResponse",
      "type": "object"
    },
    "GoogleCloudDiscoveryengineV1alphaDataConnectorConnectorMetadata": {
      "properties": {
        "shortDescription": {
          "description": "Optional. Short, subtitle-length description of the connector (e.g. shown beneath the connector name in list and detail views).",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Display title of the connector."
        },
        "author": {
          "description": "Optional. The party that authored the connector, e.g. \"Google\" or a third-party provider name. Lets end users see who authored a connector (future: third-party-authored connectors).",
          "type": "string"
        },
        "note": {
          "description": "Optional. Free-form, multi-line note about the connector's capabilities or a custom note that can be set for the connector.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Human-readable description of the connector, shown on the connector detail page. One connector has a single description."
        }
      },
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaDataConnectorConnectorMetadata",
      "description": "User-facing metadata for the connector, shown on the connector detail page (title, description, short_description, author, note)."
    },
    "GoogleCloudNotebooklmV1alphaFailureReasonAudioTranscriptionError": {
      "id": "GoogleCloudNotebooklmV1alphaFailureReasonAudioTranscriptionError",
      "properties": {
        "languageDetectionFailed": {
          "description": "Could not detect language of the file (it may not be speech).",
          "$ref": "GoogleCloudNotebooklmV1alphaFailureReasonAudioTranscriptionErrorLanguageDetectionFailed"
        },
        "noAudioDetected": {
          "description": "No audio was detected in the input file (it may have been a video).",
          "$ref": "GoogleCloudNotebooklmV1alphaFailureReasonAudioTranscriptionErrorNoAudioDetected"
        }
      },
      "type": "object",
      "description": "An audio file transcription specific error."
    },
    "GoogleCloudDiscoveryengineV1alphaPageInfo": {
      "type": "object",
      "properties": {
        "pageCategory": {
          "description": "The most specific category associated with a category page. To represent full path of category, use '>' sign to separate different hierarchies. If '>' is part of the category name, replace it with other character(s). Category pages include special pages such as sales or promotions. For instance, a special sale page may have the category hierarchy: `\"pageCategory\" : \"Sales > 2017 Black Friday Deals\"`. Required for `view-category-page` events. Other event types should not set this field. Otherwise, an `INVALID_ARGUMENT` error is returned.",
          "type": "string"
        },
        "pageviewId": {
          "description": "A unique ID of a web page view. This should be kept the same for all user events triggered from the same pageview. For example, an item detail page view could trigger multiple events as the user is browsing the page. The `pageview_id` property should be kept the same for all these events so that they can be grouped together properly. When using the client side event reporting with JavaScript pixel and Google Tag Manager, this value is filled in automatically.",
          "type": "string"
        },
        "referrerUri": {
          "description": "The referrer URL of the current page. When using the client side event reporting with JavaScript pixel and Google Tag Manager, this value is filled in automatically. However, some browser privacy restrictions may cause this field to be empty.",
          "type": "string"
        },
        "uri": {
          "description": "Complete URL (window.location.href) of the user's current page. When using the client side event reporting with JavaScript pixel and Google Tag Manager, this value is filled in automatically. Maximum length 5,000 characters.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDiscoveryengineV1alphaPageInfo",
      "description": "Detailed page information."
    },
    "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigMostPopularFeatureConfig": {
      "description": "Feature configurations that are required for creating a Most Popular engine.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaEngineMediaRecommendationEngineConfigMostPopularFeatureConfig",
      "properties": {
        "timeWindowDays": {
          "type": "string",
          "description": "The time window of which the engine is queried at training and prediction time. Positive integers only. The value translates to the last X days of events. Currently required for the `most-popular-items` engine.",
          "format": "int64"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSnippetSpec": {
      "properties": {
        "referenceOnly": {
          "description": "[DEPRECATED] This field is deprecated and will have no affect on the snippet.",
          "deprecated": true,
          "type": "boolean"
        },
        "returnSnippet": {
          "description": "If `true`, then return snippet. If no snippet can be generated, we return \"No snippet is available for this page.\" A `snippet_status` with `SUCCESS` or `NO_SNIPPET_AVAILABLE` will also be returned.",
          "type": "boolean"
        },
        "maxSnippetCount": {
          "type": "integer",
          "format": "int32",
          "description": "[DEPRECATED] This field is deprecated. To control snippet return, use `return_snippet` field. For backwards compatibility, we will return snippet if max_snippet_count > 0.",
          "deprecated": true
        }
      },
      "description": "A specification for configuring snippets in a search response.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1betaSearchRequestContentSearchSpecSnippetSpec"
    },
    "GoogleCloudDiscoveryengineV1alphaAgentSharingConfig": {
      "description": "Sharing related configuration.",
      "type": "object",
      "id": "GoogleCloudDiscoveryengineV1alphaAgentSharingConfig",
      "properties": {
        "scope": {
          "enum": [
            "SCOPE_UNSPECIFIED",
            "RESTRICTED",
            "ALL_USERS"
          ],
          "enumDescriptions": [
            "Default value. Behaves as `RESTRICTED`.",
            "The agent is shared based on the IAM policy.",
            "The agent is shared with all users."
          ],
          "description": "Optional. The sharing scope of the agent.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDiscoveryengineV1alphaAlphaEvolveExperimentConfigGenerationSettings": {
      "description": "Generation settings for the experiment.",
      "properties": {
        "context": {
          "description": "Optional. Additional user-provided context to be used during generation.",
          "type": "string"
        },
        "includeFullProgramInPrompt": {
          "type": "boolean",
          "description": "Optional. When true, the LLM prompt includes the full program text (both mutable EVOLVE-BLOCK regions and immutable boilerplate). When false (default), only the mutable EVOLVE-BLOCK regions are shown, saving context window."
        },
        "models": {
[...]
