{
  "version": "v4",
  "documentationLink": "https://developers.google.com/display-video/",
  "basePath": "",
  "batchPath": "batch",
  "baseUrl": "https://displayvideo.googleapis.com/",
  "version_module": true,
  "title": "Display & Video 360 API",
  "id": "displayvideo:v4",
  "revision": "20260615",
  "description": "Display & Video 360 API allows users to automate complex Display & Video 360 workflows, such as creating insertion orders and setting targeting options for individual line items.",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "rootUrl": "https://displayvideo.googleapis.com/",
  "canonicalName": "Display Video",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/display-video": {
          "description": "Create, see, edit, and permanently delete your Display & Video 360 entities and reports"
        },
        "https://www.googleapis.com/auth/doubleclickbidmanager": {
          "description": "View and manage your reports in DoubleClick Bid Manager"
        },
        "https://www.googleapis.com/auth/display-video-user-management": {
          "description": "Private Service: https://www.googleapis.com/auth/display-video-user-management"
        },
        "https://www.googleapis.com/auth/display-video-mediaplanning": {
          "description": "Create, see, and edit Display & Video 360 Campaign entities and see billing invoices"
        }
      }
    }
  },
  "resources": {
    "partners": {
      "resources": {
        "channels": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListChannelsResponse"
              },
              "description": "Lists channels for a partner or advertiser.",
              "flatPath": "v4/partners/{partnersId}/channels",
              "parameterOrder": [
                "partnerId"
              ],
              "parameters": {
                "partnerId": {
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "location": "path",
                  "required": true,
                  "description": "The ID of the partner that owns the channels.",
                  "type": "string"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Field by which to sort the list. Acceptable values are: * `displayName` (default) * `channelId` The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be added to the field name. Example: `displayName desc`."
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Allows filtering by channel fields. Supported syntax: * Filter expressions for channel can only contain at most one restriction. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `HAS (:)` operator. Supported fields: * `displayName` Examples: * All channels for which the display name contains \"google\": `displayName : \"google\"`. The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information."
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListChannels` method. If not specified, the first page of results will be returned.",
                  "location": "query",
                  "type": "string"
                },
                "advertiserId": {
                  "description": "The ID of the advertiser that owns the channels.",
                  "format": "int64",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                  "format": "int32"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "id": "displayvideo.partners.channels.list",
              "path": "v4/partners/{+partnerId}/channels",
              "httpMethod": "GET"
            },
            "patch": {
              "response": {
                "$ref": "Channel"
              },
              "description": "Updates a channel. Returns the updated channel if successful.",
              "flatPath": "v4/partners/{partnersId}/channels/{channelId}",
              "parameterOrder": [
                "partnerId",
                "channelId"
              ],
              "parameters": {
                "channelId": {
                  "format": "int64",
                  "location": "path",
                  "required": true,
                  "description": "Output only. The unique ID of the channel. Assigned by the system.",
                  "type": "string"
                },
                "advertiserId": {
                  "type": "string",
                  "location": "query",
                  "description": "The ID of the advertiser that owns the created channel.",
                  "format": "int64"
                },
                "partnerId": {
                  "description": "The ID of the partner that owns the created channel.",
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. The mask to control which fields to update.",
                  "format": "google-fieldmask"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "id": "displayvideo.partners.channels.patch",
              "path": "v4/partners/{+partnerId}/channels/{channelId}",
              "request": {
                "$ref": "Channel"
              },
              "httpMethod": "PATCH"
            },
            "get": {
              "path": "v4/partners/{+partnerId}/channels/{+channelId}",
              "httpMethod": "GET",
              "id": "displayvideo.partners.channels.get",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "flatPath": "v4/partners/{partnersId}/channels/{channelsId}",
              "parameterOrder": [
                "partnerId",
                "channelId"
              ],
              "description": "Gets a channel for a partner or advertiser.",
              "parameters": {
                "channelId": {
                  "description": "Required. The ID of the channel to fetch.",
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "location": "path",
                  "required": true
                },
                "advertiserId": {
                  "description": "The ID of the advertiser that owns the fetched channel.",
                  "format": "int64",
                  "location": "query",
                  "type": "string"
                },
                "partnerId": {
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "type": "string",
                  "description": "The ID of the partner that owns the fetched channel."
                }
              },
              "response": {
                "$ref": "Channel"
              }
            },
            "create": {
              "response": {
                "$ref": "Channel"
              },
              "parameters": {
                "partnerId": {
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "location": "path",
                  "required": true,
                  "description": "The ID of the partner that owns the created channel.",
                  "type": "string"
                },
                "advertiserId": {
                  "description": "The ID of the advertiser that owns the created channel.",
                  "format": "int64",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v4/partners/{partnersId}/channels",
              "parameterOrder": [
                "partnerId"
              ],
              "description": "Creates a new channel. Returns the newly created channel if successful.",
              "id": "displayvideo.partners.channels.create",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "httpMethod": "POST",
              "path": "v4/partners/{+partnerId}/channels",
              "request": {
                "$ref": "Channel"
              }
            }
          },
          "resources": {
            "sites": {
              "methods": {
                "delete": {
                  "httpMethod": "DELETE",
                  "path": "v4/partners/{partnerId}/channels/{+channelId}/sites/{+urlOrAppId}",
                  "id": "displayvideo.partners.channels.sites.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "parameters": {
                    "channelId": {
                      "location": "path",
                      "required": true,
                      "pattern": "^[^/]+$",
                      "format": "int64",
                      "type": "string",
                      "description": "Required. The ID of the parent channel to which the site belongs."
                    },
                    "advertiserId": {
                      "type": "string",
                      "location": "query",
                      "description": "The ID of the advertiser that owns the parent channel.",
                      "format": "int64"
                    },
                    "partnerId": {
                      "format": "int64",
                      "location": "path",
                      "required": true,
                      "description": "The ID of the partner that owns the parent channel.",
                      "type": "string"
                    },
                    "urlOrAppId": {
                      "type": "string",
                      "description": "Required. The URL or app ID of the site to delete.",
                      "location": "path",
                      "required": true,
                      "pattern": "^[^/]+$"
                    }
                  },
                  "flatPath": "v4/partners/{partnerId}/channels/{channelsId}/sites/{sitesId}",
                  "parameterOrder": [
                    "partnerId",
                    "channelId",
                    "urlOrAppId"
                  ],
                  "description": "Deletes a site from a channel.",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "bulkEdit": {
                  "flatPath": "v4/partners/{partnerId}/channels/{channelsId}/sites:bulkEdit",
                  "parameterOrder": [
                    "partnerId",
                    "channelId"
                  ],
                  "description": "Bulk edits sites under a single channel. The operation will delete the sites provided in BulkEditSitesRequest.deleted_sites and then create the sites provided in BulkEditSitesRequest.created_sites.",
                  "parameters": {
                    "partnerId": {
                      "location": "path",
                      "required": true,
                      "format": "int64",
                      "type": "string",
                      "description": "The ID of the partner that owns the parent channel."
                    },
                    "channelId": {
                      "pattern": "^[^/]+$",
                      "format": "int64",
                      "location": "path",
                      "required": true,
                      "description": "Required. The ID of the parent channel to which the sites belong.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "BulkEditSitesResponse"
                  },
                  "path": "v4/partners/{partnerId}/channels/{+channelId}/sites:bulkEdit",
                  "request": {
                    "$ref": "BulkEditSitesRequest"
                  },
                  "httpMethod": "POST",
                  "id": "displayvideo.partners.channels.sites.bulkEdit",
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ]
                },
                "list": {
                  "id": "displayvideo.partners.channels.sites.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "path": "v4/partners/{+partnerId}/channels/{+channelId}/sites",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListSitesResponse"
                  },
                  "flatPath": "v4/partners/{partnersId}/channels/{channelsId}/sites",
                  "parameterOrder": [
                    "partnerId",
                    "channelId"
                  ],
                  "description": "Lists sites in a channel.",
                  "parameters": {
                    "orderBy": {
                      "description": "Field by which to sort the list. Acceptable values are: * `urlOrAppId` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be added to the field name. Example: `urlOrAppId desc`.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Allows filtering by site fields. Supported syntax: * Filter expressions for site retrieval can only contain at most one restriction. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `HAS (:)` operator. Supported fields: * `urlOrAppId` Examples: * All sites for which the URL or app ID contains \"google\": `urlOrAppId : \"google\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
                      "location": "query",
                      "type": "string"
                    },
                    "partnerId": {
                      "type": "string",
                      "description": "The ID of the partner that owns the parent channel.",
                      "location": "path",
                      "required": true,
                      "pattern": "^[^/]+$",
                      "format": "int64"
                    },
                    "channelId": {
                      "location": "path",
                      "required": true,
                      "pattern": "^[^/]+$",
                      "format": "int64",
                      "type": "string",
                      "description": "Required. The ID of the parent channel to which the requested sites belong."
                    },
                    "advertiserId": {
                      "description": "The ID of the advertiser that owns the parent channel.",
                      "format": "int64",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Requested page size. Must be between `1` and `10000`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListSites` method. If not specified, the first page of results will be returned."
                    }
                  }
                },
                "create": {
                  "httpMethod": "POST",
                  "path": "v4/partners/{partnerId}/channels/{+channelId}/sites",
                  "request": {
                    "$ref": "Site"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "id": "displayvideo.partners.channels.sites.create",
                  "parameters": {
                    "partnerId": {
                      "description": "The ID of the partner that owns the parent channel.",
                      "type": "string",
                      "format": "int64",
                      "location": "path",
                      "required": true
                    },
                    "channelId": {
                      "type": "string",
                      "description": "Required. The ID of the parent channel in which the site will be created.",
                      "location": "path",
                      "required": true,
                      "pattern": "^[^/]+$",
                      "format": "int64"
                    },
                    "advertiserId": {
                      "description": "The ID of the advertiser that owns the parent channel.",
                      "format": "int64",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Creates a site in a channel.",
                  "flatPath": "v4/partners/{partnerId}/channels/{channelsId}/sites",
                  "parameterOrder": [
                    "partnerId",
                    "channelId"
                  ],
                  "response": {
                    "$ref": "Site"
                  }
                },
                "replace": {
                  "response": {
                    "$ref": "ReplaceSitesResponse"
                  },
                  "parameters": {
                    "partnerId": {
                      "type": "string",
                      "description": "The ID of the partner that owns the parent channel.",
                      "location": "path",
                      "required": true,
                      "format": "int64"
                    },
                    "channelId": {
                      "pattern": "^[^/]+$",
                      "format": "int64",
                      "location": "path",
                      "required": true,
                      "description": "Required. The ID of the parent channel whose sites will be replaced.",
                      "type": "string"
                    }
                  },
                  "description": "Replaces all of the sites under a single channel. The operation will replace the sites under a channel with the sites provided in ReplaceSitesRequest.new_sites. **This method regularly experiences high latency.** We recommend [increasing your default timeout](/display-video/api/guides/best-practices/timeouts#client_library_timeout) to avoid errors.",
                  "flatPath": "v4/partners/{partnerId}/channels/{channelsId}/sites:replace",
                  "parameterOrder": [
                    "partnerId",
                    "channelId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "id": "displayvideo.partners.channels.sites.replace",
                  "httpMethod": "POST",
                  "path": "v4/partners/{partnerId}/channels/{+channelId}/sites:replace",
                  "request": {
                    "$ref": "ReplaceSitesRequest"
                  }
                }
              }
            }
          }
        },
        "targetingTypes": {
          "resources": {
            "assignedTargetingOptions": {
              "methods": {
                "get": {
                  "description": "Gets a single targeting option assigned to a partner.",
                  "flatPath": "v4/partners/{partnersId}/targetingTypes/{targetingTypesId}/assignedTargetingOptions/{assignedTargetingOptionsId}",
                  "parameterOrder": [
                    "partnerId",
                    "targetingType",
                    "assignedTargetingOptionId"
                  ],
                  "parameters": {
                    "assignedTargetingOptionId": {
                      "type": "string",
                      "description": "Required. An identifier unique to the targeting type in this partner that identifies the assigned targeting option being requested.",
                      "location": "path",
                      "required": true,
                      "pattern": "^[^/]+$"
                    },
                    "targetingType": {
                      "location": "path",
                      "required": true,
                      "pattern": "^[^/]+$",
                      "type": "string",
                      "enumDescriptions": [
                        "Default value when type is not specified or is unknown in this version.",
                        "Target a channel (a custom group of related websites or apps).",
                        "Target an app category (for example, education or puzzle games).",
                        "Target a specific app (for example, Angry Birds).",
                        "Target a specific url (for example, quora.com).",
                        "Target ads during a chosen time period on a specific day.",
                        "Target ads to a specific age range (for example, 18-24).",
                        "Target ads to the specified regions on a regional location list.",
                        "Target ads to the specified points of interest on a proximity location list.",
                        "Target ads to a specific gender (for example, female or male).",
                        "Target a specific video player size for video ads.",
                        "Target user rewarded content for video ads.",
                        "Target ads to a specific parental status (for example, parent or not a parent).",
                        "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                        "Target ads in a specific content outstream position.",
                        "Target ads to a specific device type (for example, tablet or connected TV).",
                        "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                        "Target ads to specific web browsers (for example, Chrome).",
                        "Target ads to a specific household income range (for example, top 10%).",
                        "Target ads in a specific on screen position.",
                        "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                        "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                        "Filter website content by sensitive categories (for example, adult).",
                        "Target ads to a specific environment (for example, web or app).",
                        "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                        "Target ads to a specific operating system (for example, macOS).",
                        "Target ads to a specific device make or model (for example, Roku or Samsung).",
                        "Target ads to a specific keyword (for example, dog or retriever).",
                        "Target ads to a specific negative keyword list.",
                        "Target ads to a specific viewability (for example, 80% viewable).",
                        "Target ads to a specific content category (for example, arts & entertainment).",
                        "Purchase impressions from specific deals and auction packages.",
                        "Target ads to a specific language (for example, English or Japanese).",
                        "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                        "Target ads to a specific regional location (for example, a city or state).",
                        "Purchase impressions from a group of deals and auction packages.",
                        "Purchase impressions from specific exchanges.",
                        "Purchase impressions from specific sub-exchanges.",
                        "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                        "Target ads around locations of a business chain within a specific geo region.",
                        "Target ads to a specific video content duration.",
                        "Target ads to a specific video content stream type.",
                        "Target ads to a specific native content position.",
                        "Target ads in an Open Measurement enabled inventory.",
                        "Target ads to a specific audio content type.",
                        "Target ads to a specific content genre.",
                        "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.",
                        "Filter website content by content themes (for example, religion). Only supported for Advertiser resources. Targeting of this type cannot be created or updated using the API. This targeting is only inherited by child YouTube and Demand Gen line item resources.",
                        "Target ads to a specific YouTube channel pack."
                      ],
                      "enum": [
                        "TARGETING_TYPE_UNSPECIFIED",
                        "TARGETING_TYPE_CHANNEL",
                        "TARGETING_TYPE_APP_CATEGORY",
                        "TARGETING_TYPE_APP",
                        "TARGETING_TYPE_URL",
                        "TARGETING_TYPE_DAY_AND_TIME",
                        "TARGETING_TYPE_AGE_RANGE",
                        "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                        "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                        "TARGETING_TYPE_GENDER",
                        "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                        "TARGETING_TYPE_USER_REWARDED_CONTENT",
                        "TARGETING_TYPE_PARENTAL_STATUS",
                        "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                        "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                        "TARGETING_TYPE_DEVICE_TYPE",
                        "TARGETING_TYPE_AUDIENCE_GROUP",
                        "TARGETING_TYPE_BROWSER",
                        "TARGETING_TYPE_HOUSEHOLD_INCOME",
                        "TARGETING_TYPE_ON_SCREEN_POSITION",
                        "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                        "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                        "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                        "TARGETING_TYPE_ENVIRONMENT",
                        "TARGETING_TYPE_CARRIER_AND_ISP",
                        "TARGETING_TYPE_OPERATING_SYSTEM",
                        "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                        "TARGETING_TYPE_KEYWORD",
                        "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                        "TARGETING_TYPE_VIEWABILITY",
                        "TARGETING_TYPE_CATEGORY",
                        "TARGETING_TYPE_INVENTORY_SOURCE",
                        "TARGETING_TYPE_LANGUAGE",
                        "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                        "TARGETING_TYPE_GEO_REGION",
                        "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                        "TARGETING_TYPE_EXCHANGE",
                        "TARGETING_TYPE_SUB_EXCHANGE",
                        "TARGETING_TYPE_POI",
                        "TARGETING_TYPE_BUSINESS_CHAIN",
                        "TARGETING_TYPE_CONTENT_DURATION",
                        "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                        "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                        "TARGETING_TYPE_OMID",
                        "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                        "TARGETING_TYPE_CONTENT_GENRE",
                        "TARGETING_TYPE_YOUTUBE_VIDEO",
                        "TARGETING_TYPE_YOUTUBE_CHANNEL",
                        "TARGETING_TYPE_SESSION_POSITION",
                        "TARGETING_TYPE_CONTENT_THEME_EXCLUSION",
                        "TARGETING_TYPE_YOUTUBE_CHANNEL_PACK"
                      ],
                      "description": "Required. Identifies the type of this assigned targeting option. Supported targeting types: * `TARGETING_TYPE_CHANNEL`"
                    },
                    "partnerId": {
                      "description": "Required. The ID of the partner.",
                      "type": "string",
                      "pattern": "^[^/]+$",
                      "format": "int64",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "AssignedTargetingOption"
                  },
                  "path": "v4/partners/{+partnerId}/targetingTypes/{+targetingType}/assignedTargetingOptions/{+assignedTargetingOptionId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "id": "displayvideo.partners.targetingTypes.assignedTargetingOptions.get"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "id": "displayvideo.partners.targetingTypes.assignedTargetingOptions.create",
                  "path": "v4/partners/{+partnerId}/targetingTypes/{+targetingType}/assignedTargetingOptions",
                  "request": {
                    "$ref": "AssignedTargetingOption"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "AssignedTargetingOption"
                  },
                  "description": "Assigns a targeting option to a partner. Returns the assigned targeting option if successful.",
                  "flatPath": "v4/partners/{partnersId}/targetingTypes/{targetingTypesId}/assignedTargetingOptions",
                  "parameterOrder": [
                    "partnerId",
                    "targetingType"
                  ],
                  "parameters": {
                    "targetingType": {
                      "location": "path",
                      "required": true,
                      "pattern": "^[^/]+$",
                      "type": "string",
                      "enumDescriptions": [
                        "Default value when type is not specified or is unknown in this version.",
                        "Target a channel (a custom group of related websites or apps).",
                        "Target an app category (for example, education or puzzle games).",
                        "Target a specific app (for example, Angry Birds).",
                        "Target a specific url (for example, quora.com).",
                        "Target ads during a chosen time period on a specific day.",
                        "Target ads to a specific age range (for example, 18-24).",
                        "Target ads to the specified regions on a regional location list.",
                        "Target ads to the specified points of interest on a proximity location list.",
                        "Target ads to a specific gender (for example, female or male).",
                        "Target a specific video player size for video ads.",
                        "Target user rewarded content for video ads.",
                        "Target ads to a specific parental status (for example, parent or not a parent).",
                        "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                        "Target ads in a specific content outstream position.",
                        "Target ads to a specific device type (for example, tablet or connected TV).",
                        "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                        "Target ads to specific web browsers (for example, Chrome).",
                        "Target ads to a specific household income range (for example, top 10%).",
                        "Target ads in a specific on screen position.",
                        "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                        "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                        "Filter website content by sensitive categories (for example, adult).",
                        "Target ads to a specific environment (for example, web or app).",
                        "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                        "Target ads to a specific operating system (for example, macOS).",
                        "Target ads to a specific device make or model (for example, Roku or Samsung).",
                        "Target ads to a specific keyword (for example, dog or retriever).",
                        "Target ads to a specific negative keyword list.",
                        "Target ads to a specific viewability (for example, 80% viewable).",
                        "Target ads to a specific content category (for example, arts & entertainment).",
                        "Purchase impressions from specific deals and auction packages.",
                        "Target ads to a specific language (for example, English or Japanese).",
                        "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                        "Target ads to a specific regional location (for example, a city or state).",
                        "Purchase impressions from a group of deals and auction packages.",
                        "Purchase impressions from specific exchanges.",
                        "Purchase impressions from specific sub-exchanges.",
                        "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                        "Target ads around locations of a business chain within a specific geo region.",
                        "Target ads to a specific video content duration.",
                        "Target ads to a specific video content stream type.",
                        "Target ads to a specific native content position.",
                        "Target ads in an Open Measurement enabled inventory.",
                        "Target ads to a specific audio content type.",
                        "Target ads to a specific content genre.",
                        "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.",
                        "Filter website content by content themes (for example, religion). Only supported for Advertiser resources. Targeting of this type cannot be created or updated using the API. This targeting is only inherited by child YouTube and Demand Gen line item resources.",
                        "Target ads to a specific YouTube channel pack."
                      ],
                      "enum": [
                        "TARGETING_TYPE_UNSPECIFIED",
                        "TARGETING_TYPE_CHANNEL",
                        "TARGETING_TYPE_APP_CATEGORY",
                        "TARGETING_TYPE_APP",
                        "TARGETING_TYPE_URL",
                        "TARGETING_TYPE_DAY_AND_TIME",
                        "TARGETING_TYPE_AGE_RANGE",
                        "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                        "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                        "TARGETING_TYPE_GENDER",
                        "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                        "TARGETING_TYPE_USER_REWARDED_CONTENT",
                        "TARGETING_TYPE_PARENTAL_STATUS",
                        "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                        "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                        "TARGETING_TYPE_DEVICE_TYPE",
                        "TARGETING_TYPE_AUDIENCE_GROUP",
                        "TARGETING_TYPE_BROWSER",
                        "TARGETING_TYPE_HOUSEHOLD_INCOME",
                        "TARGETING_TYPE_ON_SCREEN_POSITION",
                        "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                        "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                        "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                        "TARGETING_TYPE_ENVIRONMENT",
                        "TARGETING_TYPE_CARRIER_AND_ISP",
                        "TARGETING_TYPE_OPERATING_SYSTEM",
                        "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                        "TARGETING_TYPE_KEYWORD",
                        "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                        "TARGETING_TYPE_VIEWABILITY",
                        "TARGETING_TYPE_CATEGORY",
                        "TARGETING_TYPE_INVENTORY_SOURCE",
                        "TARGETING_TYPE_LANGUAGE",
                        "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                        "TARGETING_TYPE_GEO_REGION",
                        "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                        "TARGETING_TYPE_EXCHANGE",
                        "TARGETING_TYPE_SUB_EXCHANGE",
                        "TARGETING_TYPE_POI",
                        "TARGETING_TYPE_BUSINESS_CHAIN",
                        "TARGETING_TYPE_CONTENT_DURATION",
                        "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                        "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                        "TARGETING_TYPE_OMID",
                        "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                        "TARGETING_TYPE_CONTENT_GENRE",
                        "TARGETING_TYPE_YOUTUBE_VIDEO",
                        "TARGETING_TYPE_YOUTUBE_CHANNEL",
                        "TARGETING_TYPE_SESSION_POSITION",
                        "TARGETING_TYPE_CONTENT_THEME_EXCLUSION",
                        "TARGETING_TYPE_YOUTUBE_CHANNEL_PACK"
                      ],
                      "description": "Required. Identifies the type of this assigned targeting option. Supported targeting types: * `TARGETING_TYPE_CHANNEL`"
                    },
                    "partnerId": {
                      "pattern": "^[^/]+$",
                      "format": "int64",
                      "location": "path",
                      "required": true,
                      "description": "Required. The ID of the partner.",
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "parameters": {
                    "assignedTargetingOptionId": {
                      "description": "Required. The ID of the assigned targeting option to delete.",
                      "type": "string",
                      "pattern": "^[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "targetingType": {
                      "enum": [
                        "TARGETING_TYPE_UNSPECIFIED",
                        "TARGETING_TYPE_CHANNEL",
                        "TARGETING_TYPE_APP_CATEGORY",
                        "TARGETING_TYPE_APP",
                        "TARGETING_TYPE_URL",
                        "TARGETING_TYPE_DAY_AND_TIME",
                        "TARGETING_TYPE_AGE_RANGE",
                        "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                        "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                        "TARGETING_TYPE_GENDER",
                        "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                        "TARGETING_TYPE_USER_REWARDED_CONTENT",
                        "TARGETING_TYPE_PARENTAL_STATUS",
                        "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                        "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                        "TARGETING_TYPE_DEVICE_TYPE",
                        "TARGETING_TYPE_AUDIENCE_GROUP",
                        "TARGETING_TYPE_BROWSER",
                        "TARGETING_TYPE_HOUSEHOLD_INCOME",
                        "TARGETING_TYPE_ON_SCREEN_POSITION",
                        "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                        "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                        "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                        "TARGETING_TYPE_ENVIRONMENT",
                        "TARGETING_TYPE_CARRIER_AND_ISP",
                        "TARGETING_TYPE_OPERATING_SYSTEM",
                        "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                        "TARGETING_TYPE_KEYWORD",
                        "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                        "TARGETING_TYPE_VIEWABILITY",
                        "TARGETING_TYPE_CATEGORY",
                        "TARGETING_TYPE_INVENTORY_SOURCE",
                        "TARGETING_TYPE_LANGUAGE",
                        "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                        "TARGETING_TYPE_GEO_REGION",
                        "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                        "TARGETING_TYPE_EXCHANGE",
                        "TARGETING_TYPE_SUB_EXCHANGE",
                        "TARGETING_TYPE_POI",
                        "TARGETING_TYPE_BUSINESS_CHAIN",
                        "TARGETING_TYPE_CONTENT_DURATION",
                        "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                        "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                        "TARGETING_TYPE_OMID",
                        "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                        "TARGETING_TYPE_CONTENT_GENRE",
                        "TARGETING_TYPE_YOUTUBE_VIDEO",
                        "TARGETING_TYPE_YOUTUBE_CHANNEL",
                        "TARGETING_TYPE_SESSION_POSITION",
                        "TARGETING_TYPE_CONTENT_THEME_EXCLUSION",
                        "TARGETING_TYPE_YOUTUBE_CHANNEL_PACK"
                      ],
                      "description": "Required. Identifies the type of this assigned targeting option. Supported targeting types: * `TARGETING_TYPE_CHANNEL`",
                      "type": "string",
                      "enumDescriptions": [
                        "Default value when type is not specified or is unknown in this version.",
                        "Target a channel (a custom group of related websites or apps).",
                        "Target an app category (for example, education or puzzle games).",
                        "Target a specific app (for example, Angry Birds).",
                        "Target a specific url (for example, quora.com).",
                        "Target ads during a chosen time period on a specific day.",
                        "Target ads to a specific age range (for example, 18-24).",
                        "Target ads to the specified regions on a regional location list.",
                        "Target ads to the specified points of interest on a proximity location list.",
                        "Target ads to a specific gender (for example, female or male).",
                        "Target a specific video player size for video ads.",
                        "Target user rewarded content for video ads.",
                        "Target ads to a specific parental status (for example, parent or not a parent).",
                        "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                        "Target ads in a specific content outstream position.",
                        "Target ads to a specific device type (for example, tablet or connected TV).",
                        "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                        "Target ads to specific web browsers (for example, Chrome).",
                        "Target ads to a specific household income range (for example, top 10%).",
                        "Target ads in a specific on screen position.",
                        "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                        "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                        "Filter website content by sensitive categories (for example, adult).",
                        "Target ads to a specific environment (for example, web or app).",
                        "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                        "Target ads to a specific operating system (for example, macOS).",
                        "Target ads to a specific device make or model (for example, Roku or Samsung).",
                        "Target ads to a specific keyword (for example, dog or retriever).",
                        "Target ads to a specific negative keyword list.",
                        "Target ads to a specific viewability (for example, 80% viewable).",
                        "Target ads to a specific content category (for example, arts & entertainment).",
                        "Purchase impressions from specific deals and auction packages.",
                        "Target ads to a specific language (for example, English or Japanese).",
                        "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                        "Target ads to a specific regional location (for example, a city or state).",
                        "Purchase impressions from a group of deals and auction packages.",
                        "Purchase impressions from specific exchanges.",
                        "Purchase impressions from specific sub-exchanges.",
                        "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                        "Target ads around locations of a business chain within a specific geo region.",
                        "Target ads to a specific video content duration.",
                        "Target ads to a specific video content stream type.",
                        "Target ads to a specific native content position.",
                        "Target ads in an Open Measurement enabled inventory.",
                        "Target ads to a specific audio content type.",
                        "Target ads to a specific content genre.",
                        "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.",
                        "Filter website content by content themes (for example, religion). Only supported for Advertiser resources. Targeting of this type cannot be created or updated using the API. This targeting is only inherited by child YouTube and Demand Gen line item resources.",
                        "Target ads to a specific YouTube channel pack."
                      ],
                      "pattern": "^[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "partnerId": {
                      "pattern": "^[^/]+$",
                      "format": "int64",
                      "location": "path",
                      "required": true,
                      "description": "Required. The ID of the partner.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v4/partners/{partnersId}/targetingTypes/{targetingTypesId}/assignedTargetingOptions/{assignedTargetingOptionsId}",
                  "parameterOrder": [
                    "partnerId",
                    "targetingType",
                    "assignedTargetingOptionId"
                  ],
                  "description": "Deletes an assigned targeting option from a partner.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "path": "v4/partners/{+partnerId}/targetingTypes/{+targetingType}/assignedTargetingOptions/{+assignedTargetingOptionId}",
                  "id": "displayvideo.partners.targetingTypes.assignedTargetingOptions.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "ListPartnerAssignedTargetingOptionsResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListPartnerAssignedTargetingOptions` method. If not specified, the first page of results will be returned.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "targetingType": {
                      "description": "Required. Identifies the type of assigned targeting options to list. Supported targeting types: * `TARGETING_TYPE_CHANNEL`",
                      "enum": [
                        "TARGETING_TYPE_UNSPECIFIED",
                        "TARGETING_TYPE_CHANNEL",
                        "TARGETING_TYPE_APP_CATEGORY",
                        "TARGETING_TYPE_APP",
                        "TARGETING_TYPE_URL",
                        "TARGETING_TYPE_DAY_AND_TIME",
                        "TARGETING_TYPE_AGE_RANGE",
                        "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                        "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                        "TARGETING_TYPE_GENDER",
                        "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                        "TARGETING_TYPE_USER_REWARDED_CONTENT",
                        "TARGETING_TYPE_PARENTAL_STATUS",
                        "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                        "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                        "TARGETING_TYPE_DEVICE_TYPE",
                        "TARGETING_TYPE_AUDIENCE_GROUP",
                        "TARGETING_TYPE_BROWSER",
                        "TARGETING_TYPE_HOUSEHOLD_INCOME",
                        "TARGETING_TYPE_ON_SCREEN_POSITION",
                        "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                        "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                        "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                        "TARGETING_TYPE_ENVIRONMENT",
                        "TARGETING_TYPE_CARRIER_AND_ISP",
                        "TARGETING_TYPE_OPERATING_SYSTEM",
                        "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                        "TARGETING_TYPE_KEYWORD",
                        "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                        "TARGETING_TYPE_VIEWABILITY",
                        "TARGETING_TYPE_CATEGORY",
                        "TARGETING_TYPE_INVENTORY_SOURCE",
                        "TARGETING_TYPE_LANGUAGE",
                        "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                        "TARGETING_TYPE_GEO_REGION",
                        "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                        "TARGETING_TYPE_EXCHANGE",
                        "TARGETING_TYPE_SUB_EXCHANGE",
                        "TARGETING_TYPE_POI",
                        "TARGETING_TYPE_BUSINESS_CHAIN",
                        "TARGETING_TYPE_CONTENT_DURATION",
                        "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                        "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                        "TARGETING_TYPE_OMID",
                        "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                        "TARGETING_TYPE_CONTENT_GENRE",
                        "TARGETING_TYPE_YOUTUBE_VIDEO",
                        "TARGETING_TYPE_YOUTUBE_CHANNEL",
                        "TARGETING_TYPE_SESSION_POSITION",
                        "TARGETING_TYPE_CONTENT_THEME_EXCLUSION",
                        "TARGETING_TYPE_YOUTUBE_CHANNEL_PACK"
                      ],
                      "type": "string",
                      "enumDescriptions": [
                        "Default value when type is not specified or is unknown in this version.",
                        "Target a channel (a custom group of related websites or apps).",
                        "Target an app category (for example, education or puzzle games).",
                        "Target a specific app (for example, Angry Birds).",
                        "Target a specific url (for example, quora.com).",
                        "Target ads during a chosen time period on a specific day.",
                        "Target ads to a specific age range (for example, 18-24).",
                        "Target ads to the specified regions on a regional location list.",
                        "Target ads to the specified points of interest on a proximity location list.",
                        "Target ads to a specific gender (for example, female or male).",
                        "Target a specific video player size for video ads.",
                        "Target user rewarded content for video ads.",
                        "Target ads to a specific parental status (for example, parent or not a parent).",
                        "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                        "Target ads in a specific content outstream position.",
                        "Target ads to a specific device type (for example, tablet or connected TV).",
                        "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                        "Target ads to specific web browsers (for example, Chrome).",
                        "Target ads to a specific household income range (for example, top 10%).",
                        "Target ads in a specific on screen position.",
                        "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                        "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                        "Filter website content by sensitive categories (for example, adult).",
                        "Target ads to a specific environment (for example, web or app).",
                        "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                        "Target ads to a specific operating system (for example, macOS).",
                        "Target ads to a specific device make or model (for example, Roku or Samsung).",
                        "Target ads to a specific keyword (for example, dog or retriever).",
                        "Target ads to a specific negative keyword list.",
                        "Target ads to a specific viewability (for example, 80% viewable).",
                        "Target ads to a specific content category (for example, arts & entertainment).",
                        "Purchase impressions from specific deals and auction packages.",
                        "Target ads to a specific language (for example, English or Japanese).",
                        "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                        "Target ads to a specific regional location (for example, a city or state).",
                        "Purchase impressions from a group of deals and auction packages.",
                        "Purchase impressions from specific exchanges.",
                        "Purchase impressions from specific sub-exchanges.",
                        "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                        "Target ads around locations of a business chain within a specific geo region.",
                        "Target ads to a specific video content duration.",
                        "Target ads to a specific video content stream type.",
                        "Target ads to a specific native content position.",
                        "Target ads in an Open Measurement enabled inventory.",
                        "Target ads to a specific audio content type.",
                        "Target ads to a specific content genre.",
                        "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.",
                        "Filter website content by content themes (for example, religion). Only supported for Advertiser resources. Targeting of this type cannot be created or updated using the API. This targeting is only inherited by child YouTube and Demand Gen line item resources.",
                        "Target ads to a specific YouTube channel pack."
                      ],
                      "pattern": "^[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "partnerId": {
                      "description": "Required. The ID of the partner.",
                      "type": "string",
                      "pattern": "^[^/]+$",
                      "format": "int64",
                      "location": "path",
                      "required": true
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Allows filtering by assigned targeting option fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by the logical operator `OR`. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=)` operator. Supported fields: * `assignedTargetingOptionId` Examples: * `AssignedTargetingOption` resource with ID 123456: `assignedTargetingOptionId=\"123456\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information."
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Field by which to sort the list. Acceptable values are: * `assignedTargetingOptionId` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `assignedTargetingOptionId desc`."
                    }
                  },
                  "flatPath": "v4/partners/{partnersId}/targetingTypes/{targetingTypesId}/assignedTargetingOptions",
                  "parameterOrder": [
                    "partnerId",
                    "targetingType"
                  ],
                  "description": "Lists the targeting options assigned to a partner.",
                  "id": "displayvideo.partners.targetingTypes.assignedTargetingOptions.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "httpMethod": "GET",
                  "path": "v4/partners/{+partnerId}/targetingTypes/{+targetingType}/assignedTargetingOptions"
                }
              }
            }
          }
        }
      },
      "methods": {
        "editAssignedTargetingOptions": {
          "flatPath": "v4/partners/{partnersId}:editAssignedTargetingOptions",
          "parameterOrder": [
            "partnerId"
          ],
          "description": "Edits targeting options under a single partner. The operation will delete the assigned targeting options provided in BulkEditPartnerAssignedTargetingOptionsRequest.deleteRequests and then create the assigned targeting options provided in BulkEditPartnerAssignedTargetingOptionsRequest.createRequests .",
          "parameters": {
            "partnerId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "description": "Required. The ID of the partner."
            }
          },
          "response": {
            "$ref": "BulkEditPartnerAssignedTargetingOptionsResponse"
          },
          "path": "v4/partners/{+partnerId}:editAssignedTargetingOptions",
          "request": {
            "$ref": "BulkEditPartnerAssignedTargetingOptionsRequest"
          },
          "httpMethod": "POST",
          "id": "displayvideo.partners.editAssignedTargetingOptions",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ]
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "id": "displayvideo.partners.get",
          "httpMethod": "GET",
          "path": "v4/partners/{+partnerId}",
          "response": {
            "$ref": "Partner"
          },
          "parameters": {
            "partnerId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "description": "Required. The ID of the partner to fetch."
            }
          },
          "description": "Gets a partner.",
          "flatPath": "v4/partners/{partnersId}",
          "parameterOrder": [
            "partnerId"
          ]
        },
        "list": {
          "response": {
            "$ref": "ListPartnersResponse"
          },
          "parameters": {
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Allows filtering by partner fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=)` operator. Supported fields: * `entityStatus` Examples: * All active partners: `entityStatus=\"ENTITY_STATUS_ACTIVE\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information."
            },
            "pageSize": {
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "Field by which to sort the list. Acceptable values are: * `displayName` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. For example, `displayName desc`."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListPartners` method. If not specified, the first page of results will be returned."
            }
          },
          "flatPath": "v4/partners",
          "parameterOrder": [],
          "description": "Lists partners that are accessible to the current user. The order is defined by the order_by parameter.",
          "id": "displayvideo.partners.list",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "httpMethod": "GET",
          "path": "v4/partners"
        }
      }
    },
    "guaranteedOrders": {
      "methods": {
        "patch": {
          "response": {
            "$ref": "GuaranteedOrder"
          },
          "description": "Updates an existing guaranteed order. Returns the updated guaranteed order if successful.",
          "flatPath": "v4/guaranteedOrders/{guaranteedOrdersId}",
          "parameterOrder": [
            "guaranteedOrderId"
          ],
          "parameters": {
            "advertiserId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the advertiser that the request is being made within.",
              "format": "int64"
            },
            "guaranteedOrderId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "description": "Output only. The unique identifier of the guaranteed order. The guaranteed order IDs have the format `{exchange}-{legacy_guaranteed_order_id}`.",
              "type": "string"
            },
            "updateMask": {
              "description": "Required. The mask to control which fields to update.",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            },
            "partnerId": {
              "type": "string",
              "location": "query",
              "description": "The ID of the partner that the request is being made within.",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "id": "displayvideo.guaranteedOrders.patch",
          "path": "v4/guaranteedOrders/{+guaranteedOrderId}",
          "request": {
            "$ref": "GuaranteedOrder"
          },
          "httpMethod": "PATCH"
        },
        "create": {
          "id": "displayvideo.guaranteedOrders.create",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "httpMethod": "POST",
          "path": "v4/guaranteedOrders",
          "request": {
            "$ref": "GuaranteedOrder"
          },
          "response": {
            "$ref": "GuaranteedOrder"
          },
          "parameters": {
            "partnerId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the partner that the request is being made within.",
              "format": "int64"
            },
            "advertiserId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the advertiser that the request is being made within.",
              "format": "int64"
            }
          },
          "flatPath": "v4/guaranteedOrders",
          "parameterOrder": [],
          "description": "Creates a new guaranteed order. Returns the newly created guaranteed order if successful."
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "id": "displayvideo.guaranteedOrders.get",
          "path": "v4/guaranteedOrders/{+guaranteedOrderId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "GuaranteedOrder"
          },
          "description": "Gets a guaranteed order.",
          "flatPath": "v4/guaranteedOrders/{guaranteedOrdersId}",
          "parameterOrder": [
            "guaranteedOrderId"
          ],
          "parameters": {
            "guaranteedOrderId": {
              "type": "string",
              "description": "Required. The ID of the guaranteed order to fetch. The ID is of the format `{exchange}-{legacy_guaranteed_order_id}`",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "advertiserId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the advertiser that has access to the guaranteed order.",
              "format": "int64"
            },
            "partnerId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the partner that has access to the guaranteed order.",
              "format": "int64"
            }
          }
        },
        "editGuaranteedOrderReadAccessors": {
          "flatPath": "v4/guaranteedOrders/{guaranteedOrdersId}:editGuaranteedOrderReadAccessors",
          "parameterOrder": [
            "guaranteedOrderId"
          ],
          "description": "Edits read advertisers of a guaranteed order.",
          "parameters": {
            "guaranteedOrderId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. The ID of the guaranteed order to edit. The ID is of the format `{exchange}-{legacy_guaranteed_order_id}`",
              "type": "string"
            }
          },
          "response": {
            "$ref": "EditGuaranteedOrderReadAccessorsResponse"
          },
          "path": "v4/guaranteedOrders/{+guaranteedOrderId}:editGuaranteedOrderReadAccessors",
          "request": {
            "$ref": "EditGuaranteedOrderReadAccessorsRequest"
          },
          "httpMethod": "POST",
          "id": "displayvideo.guaranteedOrders.editGuaranteedOrderReadAccessors",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ]
        },
        "list": {
          "path": "v4/guaranteedOrders",
          "httpMethod": "GET",
          "id": "displayvideo.guaranteedOrders.list",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "flatPath": "v4/guaranteedOrders",
          "parameterOrder": [],
          "description": "Lists guaranteed orders that are accessible to the current user. The order is defined by the order_by parameter. If a filter by entity_status is not specified, guaranteed orders with entity status `ENTITY_STATUS_ARCHIVED` will not be included in the results.",
          "parameters": {
            "advertiserId": {
              "type": "string",
              "location": "query",
              "description": "The ID of the advertiser that has access to the guaranteed order.",
              "format": "int64"
            },
            "pageSize": {
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListGuaranteedOrders` method. If not specified, the first page of results will be returned."
            },
            "filter": {
              "description": "Allows filtering by guaranteed order fields. * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=)` operator. Supported fields: * `guaranteed_order_id` * `exchange` * `display_name` * `status.entityStatus` Examples: * All active guaranteed orders: `status.entityStatus=\"ENTITY_STATUS_ACTIVE\"` * Guaranteed orders belonging to Google Ad Manager or Rubicon exchanges: `exchange=\"EXCHANGE_GOOGLE_AD_MANAGER\" OR exchange=\"EXCHANGE_RUBICON\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
              "type": "string",
              "location": "query"
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "Field by which to sort the list. Acceptable values are: * `displayName` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. For example, `displayName desc`."
            },
            "partnerId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the partner that has access to the guaranteed order.",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "ListGuaranteedOrdersResponse"
          }
        }
      }
    },
    "targetingTypes": {
      "resources": {
        "targetingOptions": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListTargetingOptionsResponse"
              },
              "parameters": {
                "advertiserId": {
                  "description": "Required. The Advertiser this request is being made in the context of.",
                  "format": "int64",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListTargetingOptions` method. If not specified, the first page of results will be returned."
                },
                "filter": {
                  "description": "Allows filtering by targeting option fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `OR` logical operators. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=)` operator. Supported fields: * `carrierAndIspDetails.type` * `geoRegionDetails.geoRegionType` * `targetingOptionId` Examples: * All `GEO REGION` targeting options that belong to sub type `GEO_REGION_TYPE_COUNTRY` or `GEO_REGION_TYPE_STATE`: `geoRegionDetails.geoRegionType=\"GEO_REGION_TYPE_COUNTRY\" OR geoRegionDetails.geoRegionType=\"GEO_REGION_TYPE_STATE\"` * All `CARRIER AND ISP` targeting options that belong to sub type `CARRIER_AND_ISP_TYPE_CARRIER`: `carrierAndIspDetails.type=\"CARRIER_AND_ISP_TYPE_CARRIER\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
                  "type": "string",
                  "location": "query"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Field by which to sort the list. Acceptable values are: * `targetingOptionId` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `targetingOptionId desc`."
                },
                "targetingType": {
                  "enum": [
                    "TARGETING_TYPE_UNSPECIFIED",
                    "TARGETING_TYPE_CHANNEL",
                    "TARGETING_TYPE_APP_CATEGORY",
                    "TARGETING_TYPE_APP",
                    "TARGETING_TYPE_URL",
                    "TARGETING_TYPE_DAY_AND_TIME",
                    "TARGETING_TYPE_AGE_RANGE",
                    "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                    "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                    "TARGETING_TYPE_GENDER",
                    "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                    "TARGETING_TYPE_USER_REWARDED_CONTENT",
                    "TARGETING_TYPE_PARENTAL_STATUS",
                    "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                    "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                    "TARGETING_TYPE_DEVICE_TYPE",
                    "TARGETING_TYPE_AUDIENCE_GROUP",
                    "TARGETING_TYPE_BROWSER",
                    "TARGETING_TYPE_HOUSEHOLD_INCOME",
                    "TARGETING_TYPE_ON_SCREEN_POSITION",
                    "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                    "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                    "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                    "TARGETING_TYPE_ENVIRONMENT",
                    "TARGETING_TYPE_CARRIER_AND_ISP",
                    "TARGETING_TYPE_OPERATING_SYSTEM",
                    "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                    "TARGETING_TYPE_KEYWORD",
                    "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                    "TARGETING_TYPE_VIEWABILITY",
                    "TARGETING_TYPE_CATEGORY",
                    "TARGETING_TYPE_INVENTORY_SOURCE",
                    "TARGETING_TYPE_LANGUAGE",
                    "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                    "TARGETING_TYPE_GEO_REGION",
                    "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                    "TARGETING_TYPE_EXCHANGE",
                    "TARGETING_TYPE_SUB_EXCHANGE",
                    "TARGETING_TYPE_POI",
                    "TARGETING_TYPE_BUSINESS_CHAIN",
                    "TARGETING_TYPE_CONTENT_DURATION",
                    "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                    "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                    "TARGETING_TYPE_OMID",
                    "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                    "TARGETING_TYPE_CONTENT_GENRE",
                    "TARGETING_TYPE_YOUTUBE_VIDEO",
                    "TARGETING_TYPE_YOUTUBE_CHANNEL",
                    "TARGETING_TYPE_SESSION_POSITION",
                    "TARGETING_TYPE_CONTENT_THEME_EXCLUSION",
                    "TARGETING_TYPE_YOUTUBE_CHANNEL_PACK"
                  ],
                  "description": "Required. The type of targeting option to be listed. Accepted values are: * `TARGETING_TYPE_APP_CATEGORY` * `TARGETING_TYPE_AGE_RANGE` * `TARGETING_TYPE_GENDER` * `TARGETING_TYPE_VIDEO_PLAYER_SIZE` * `TARGETING_TYPE_USER_REWARDED_CONTENT` * `TARGETING_TYPE_PARENTAL_STATUS` * `TARGETING_TYPE_CONTENT_INSTREAM_POSITION` * `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION` * `TARGETING_TYPE_DEVICE_TYPE` * `TARGETING_TYPE_BROWSER` * `TARGETING_TYPE_HOUSEHOLD_INCOME` * `TARGETING_TYPE_ON_SCREEN_POSITION` * `TARGETING_TYPE_CARRIER_AND_ISP` * `TARGETING_TYPE_OPERATING_SYSTEM` * `TARGETING_TYPE_DEVICE_MAKE_MODEL` * `TARGETING_TYPE_ENVIRONMENT` * `TARGETING_TYPE_CATEGORY` * `TARGETING_TYPE_VIEWABILITY` * `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS` * `TARGETING_TYPE_LANGUAGE` * `TARGETING_TYPE_GEO_REGION` * `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION` * `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION` * `TARGETING_TYPE_EXCHANGE` * `TARGETING_TYPE_SUB_EXCHANGE` * `TARGETING_TYPE_NATIVE_CONTENT_POSITION` * `TARGETING_TYPE_OMID`",
                  "type": "string",
                  "enumDescriptions": [
                    "Default value when type is not specified or is unknown in this version.",
                    "Target a channel (a custom group of related websites or apps).",
                    "Target an app category (for example, education or puzzle games).",
                    "Target a specific app (for example, Angry Birds).",
                    "Target a specific url (for example, quora.com).",
                    "Target ads during a chosen time period on a specific day.",
                    "Target ads to a specific age range (for example, 18-24).",
                    "Target ads to the specified regions on a regional location list.",
                    "Target ads to the specified points of interest on a proximity location list.",
                    "Target ads to a specific gender (for example, female or male).",
                    "Target a specific video player size for video ads.",
                    "Target user rewarded content for video ads.",
                    "Target ads to a specific parental status (for example, parent or not a parent).",
                    "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                    "Target ads in a specific content outstream position.",
                    "Target ads to a specific device type (for example, tablet or connected TV).",
                    "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                    "Target ads to specific web browsers (for example, Chrome).",
                    "Target ads to a specific household income range (for example, top 10%).",
                    "Target ads in a specific on screen position.",
                    "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                    "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                    "Filter website content by sensitive categories (for example, adult).",
                    "Target ads to a specific environment (for example, web or app).",
                    "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                    "Target ads to a specific operating system (for example, macOS).",
                    "Target ads to a specific device make or model (for example, Roku or Samsung).",
                    "Target ads to a specific keyword (for example, dog or retriever).",
                    "Target ads to a specific negative keyword list.",
                    "Target ads to a specific viewability (for example, 80% viewable).",
                    "Target ads to a specific content category (for example, arts & entertainment).",
                    "Purchase impressions from specific deals and auction packages.",
                    "Target ads to a specific language (for example, English or Japanese).",
                    "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                    "Target ads to a specific regional location (for example, a city or state).",
                    "Purchase impressions from a group of deals and auction packages.",
                    "Purchase impressions from specific exchanges.",
                    "Purchase impressions from specific sub-exchanges.",
                    "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                    "Target ads around locations of a business chain within a specific geo region.",
                    "Target ads to a specific video content duration.",
                    "Target ads to a specific video content stream type.",
                    "Target ads to a specific native content position.",
                    "Target ads in an Open Measurement enabled inventory.",
                    "Target ads to a specific audio content type.",
                    "Target ads to a specific content genre.",
                    "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                    "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                    "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.",
                    "Filter website content by content themes (for example, religion). Only supported for Advertiser resources. Targeting of this type cannot be created or updated using the API. This targeting is only inherited by child YouTube and Demand Gen line item resources.",
                    "Target ads to a specific YouTube channel pack."
                  ],
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v4/targetingTypes/{targetingTypesId}/targetingOptions",
              "parameterOrder": [
                "targetingType"
              ],
              "description": "Lists targeting options of a given type.",
              "id": "displayvideo.targetingTypes.targetingOptions.list",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "httpMethod": "GET",
              "path": "v4/targetingTypes/{+targetingType}/targetingOptions"
            },
            "search": {
              "flatPath": "v4/targetingTypes/{targetingTypesId}/targetingOptions:search",
              "parameterOrder": [
                "targetingType"
              ],
              "description": "Searches for targeting options of a given type based on the given search terms.",
              "parameters": {
                "targetingType": {
                  "enum": [
                    "TARGETING_TYPE_UNSPECIFIED",
                    "TARGETING_TYPE_CHANNEL",
                    "TARGETING_TYPE_APP_CATEGORY",
                    "TARGETING_TYPE_APP",
                    "TARGETING_TYPE_URL",
                    "TARGETING_TYPE_DAY_AND_TIME",
                    "TARGETING_TYPE_AGE_RANGE",
                    "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                    "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                    "TARGETING_TYPE_GENDER",
                    "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                    "TARGETING_TYPE_USER_REWARDED_CONTENT",
                    "TARGETING_TYPE_PARENTAL_STATUS",
                    "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                    "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                    "TARGETING_TYPE_DEVICE_TYPE",
                    "TARGETING_TYPE_AUDIENCE_GROUP",
                    "TARGETING_TYPE_BROWSER",
                    "TARGETING_TYPE_HOUSEHOLD_INCOME",
                    "TARGETING_TYPE_ON_SCREEN_POSITION",
                    "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                    "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                    "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                    "TARGETING_TYPE_ENVIRONMENT",
                    "TARGETING_TYPE_CARRIER_AND_ISP",
                    "TARGETING_TYPE_OPERATING_SYSTEM",
                    "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                    "TARGETING_TYPE_KEYWORD",
                    "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                    "TARGETING_TYPE_VIEWABILITY",
                    "TARGETING_TYPE_CATEGORY",
                    "TARGETING_TYPE_INVENTORY_SOURCE",
                    "TARGETING_TYPE_LANGUAGE",
                    "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                    "TARGETING_TYPE_GEO_REGION",
                    "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                    "TARGETING_TYPE_EXCHANGE",
                    "TARGETING_TYPE_SUB_EXCHANGE",
                    "TARGETING_TYPE_POI",
                    "TARGETING_TYPE_BUSINESS_CHAIN",
                    "TARGETING_TYPE_CONTENT_DURATION",
                    "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                    "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                    "TARGETING_TYPE_OMID",
                    "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                    "TARGETING_TYPE_CONTENT_GENRE",
                    "TARGETING_TYPE_YOUTUBE_VIDEO",
                    "TARGETING_TYPE_YOUTUBE_CHANNEL",
                    "TARGETING_TYPE_SESSION_POSITION",
                    "TARGETING_TYPE_CONTENT_THEME_EXCLUSION",
                    "TARGETING_TYPE_YOUTUBE_CHANNEL_PACK"
                  ],
                  "description": "Required. The type of targeting options to retrieve. Accepted values are: * `TARGETING_TYPE_GEO_REGION` * `TARGETING_TYPE_POI` * `TARGETING_TYPE_BUSINESS_CHAIN`",
                  "type": "string",
                  "enumDescriptions": [
                    "Default value when type is not specified or is unknown in this version.",
                    "Target a channel (a custom group of related websites or apps).",
                    "Target an app category (for example, education or puzzle games).",
                    "Target a specific app (for example, Angry Birds).",
                    "Target a specific url (for example, quora.com).",
                    "Target ads during a chosen time period on a specific day.",
                    "Target ads to a specific age range (for example, 18-24).",
                    "Target ads to the specified regions on a regional location list.",
                    "Target ads to the specified points of interest on a proximity location list.",
                    "Target ads to a specific gender (for example, female or male).",
                    "Target a specific video player size for video ads.",
                    "Target user rewarded content for video ads.",
                    "Target ads to a specific parental status (for example, parent or not a parent).",
                    "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                    "Target ads in a specific content outstream position.",
                    "Target ads to a specific device type (for example, tablet or connected TV).",
                    "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                    "Target ads to specific web browsers (for example, Chrome).",
                    "Target ads to a specific household income range (for example, top 10%).",
                    "Target ads in a specific on screen position.",
                    "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                    "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                    "Filter website content by sensitive categories (for example, adult).",
                    "Target ads to a specific environment (for example, web or app).",
                    "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
[...]
