{
  "kind": "discovery#restDescription",
  "revision": "20260630",
  "rootUrl": "https://displayvideo.googleapis.com/",
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "documentationLink": "https://developers.google.com/display-video/",
  "baseUrl": "https://displayvideo.googleapis.com/",
  "id": "displayvideo:v3",
  "description": "Display & Video 360 API allows users to automate complex Display & Video 360 workflows, such as creating insertion orders and setting targeting options for individual line items.",
  "discoveryVersion": "v1",
  "version": "v3",
  "name": "displayvideo",
  "servicePath": "",
  "schemas": {
    "LanguageAssignedTargetingOptionDetails": {
      "properties": {
        "targetingOptionId": {
          "type": "string",
          "description": "Required. The targeting_option_id of a TargetingOption of type `TARGETING_TYPE_LANGUAGE`."
        },
        "negative": {
          "type": "boolean",
          "description": "Indicates if this option is being negatively targeted. All assigned language targeting options on the same resource must have the same value for this field."
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name of the language (e.g., \"French\")."
        }
      },
      "id": "LanguageAssignedTargetingOptionDetails",
      "description": "Details for assigned language targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_LANGUAGE`.",
      "type": "object"
    },
    "HouseholdIncomeAssignedTargetingOptionDetails": {
      "type": "object",
      "description": "Details for assigned household income targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_HOUSEHOLD_INCOME`.",
      "id": "HouseholdIncomeAssignedTargetingOptionDetails",
      "properties": {
        "householdIncome": {
          "type": "string",
          "description": "Required. The household income of the audience.",
          "enumDescriptions": [
            "Default value when household income is not specified in this version. This enum is a placeholder for default value and does not represent a real household income option.",
            "The household income of the audience is unknown.",
            "The audience is in the lower 50% of U.S. household incomes.",
            "The audience is in the top 41-50% of U.S. household incomes.",
            "The audience is in the top 31-40% of U.S. household incomes.",
            "The audience is in the top 21-30% of U.S. household incomes.",
            "The audience is in the top 11-20% of U.S. household incomes.",
            "The audience is in the top 10% of U.S. household incomes."
          ],
          "enum": [
            "HOUSEHOLD_INCOME_UNSPECIFIED",
            "HOUSEHOLD_INCOME_UNKNOWN",
            "HOUSEHOLD_INCOME_LOWER_50_PERCENT",
            "HOUSEHOLD_INCOME_TOP_41_TO_50_PERCENT",
            "HOUSEHOLD_INCOME_TOP_31_TO_40_PERCENT",
            "HOUSEHOLD_INCOME_TOP_21_TO_30_PERCENT",
            "HOUSEHOLD_INCOME_TOP_11_TO_20_PERCENT",
            "HOUSEHOLD_INCOME_TOP_10_PERCENT"
          ]
        }
      }
    },
    "BulkEditPartnerAssignedTargetingOptionsResponse": {
      "properties": {
        "createdAssignedTargetingOptions": {
          "items": {
            "$ref": "AssignedTargetingOption"
          },
          "description": "The list of assigned targeting options that have been successfully created. This list will be absent if empty.",
          "type": "array"
        }
      },
      "id": "BulkEditPartnerAssignedTargetingOptionsResponse",
      "type": "object"
    },
    "ActiveViewVideoViewabilityMetricConfig": {
      "type": "object",
      "description": "Configuration for custom Active View video viewability metrics.",
      "id": "ActiveViewVideoViewabilityMetricConfig",
      "properties": {
        "minimumQuartile": {
          "enumDescriptions": [
            "Value is not specified or is unknown in this version.",
            "No quartile value.",
            "First quartile.",
            "Second quartile (midpoint).",
            "Third quartile.",
            "Fourth quartile (completion)."
          ],
          "enum": [
            "VIDEO_DURATION_QUARTILE_UNSPECIFIED",
            "VIDEO_DURATION_QUARTILE_NONE",
            "VIDEO_DURATION_QUARTILE_FIRST",
            "VIDEO_DURATION_QUARTILE_SECOND",
            "VIDEO_DURATION_QUARTILE_THIRD",
            "VIDEO_DURATION_QUARTILE_FOURTH"
          ],
          "description": "The minimum visible video duration required, based on the video quartiles, in order for an impression to be recorded. You must specify minimum_duration, minimum_quartile or both. If both are specified, an impression meets the metric criteria if either requirement is met (whichever happens first).",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the custom metric."
        },
        "minimumDuration": {
          "type": "string",
          "description": "The minimum visible video duration required (in seconds) in order for an impression to be recorded. You must specify minimum_duration, minimum_quartile or both. If both are specified, an impression meets the metric criteria if either requirement is met (whichever happens first).",
          "enumDescriptions": [
            "Value is not specified or is unknown in this version.",
            "No duration value.",
            "0 seconds.",
            "1 second.",
            "2 seconds.",
            "3 seconds.",
            "4 seconds.",
            "5 seconds.",
            "6 seconds.",
            "7 seconds.",
            "8 seconds.",
            "9 seconds.",
            "10 seconds.",
            "11 seconds.",
            "12 seconds.",
            "13 seconds.",
            "14 seconds.",
            "15 seconds.",
            "30 seconds.",
            "45 seconds.",
            "60 seconds."
          ],
          "enum": [
            "VIDEO_DURATION_UNSPECIFIED",
            "VIDEO_DURATION_SECONDS_NONE",
            "VIDEO_DURATION_SECONDS_0",
            "VIDEO_DURATION_SECONDS_1",
            "VIDEO_DURATION_SECONDS_2",
            "VIDEO_DURATION_SECONDS_3",
            "VIDEO_DURATION_SECONDS_4",
            "VIDEO_DURATION_SECONDS_5",
            "VIDEO_DURATION_SECONDS_6",
            "VIDEO_DURATION_SECONDS_7",
            "VIDEO_DURATION_SECONDS_8",
            "VIDEO_DURATION_SECONDS_9",
            "VIDEO_DURATION_SECONDS_10",
            "VIDEO_DURATION_SECONDS_11",
            "VIDEO_DURATION_SECONDS_12",
            "VIDEO_DURATION_SECONDS_13",
            "VIDEO_DURATION_SECONDS_14",
            "VIDEO_DURATION_SECONDS_15",
            "VIDEO_DURATION_SECONDS_30",
            "VIDEO_DURATION_SECONDS_45",
            "VIDEO_DURATION_SECONDS_60"
          ]
        },
        "minimumViewability": {
          "enumDescriptions": [
            "Value is not specified or is unknown in this version.",
            "0% viewable.",
            "25% viewable.",
            "50% viewable.",
            "75% viewable.",
            "100% viewable."
          ],
          "enum": [
            "VIEWABILITY_PERCENT_UNSPECIFIED",
            "VIEWABILITY_PERCENT_0",
            "VIEWABILITY_PERCENT_25",
            "VIEWABILITY_PERCENT_50",
            "VIEWABILITY_PERCENT_75",
            "VIEWABILITY_PERCENT_100"
          ],
          "type": "string",
          "description": "Required. The minimum percentage of the video ad's pixels visible on the screen in order for an impression to be recorded."
        },
        "minimumVolume": {
          "type": "string",
          "description": "Required. The minimum percentage of the video ad's volume required in order for an impression to be recorded.",
          "enumDescriptions": [
            "Value is not specified or is unknown in this version.",
            "0% volume.",
            "10% volume."
          ],
          "enum": [
            "VIDEO_VOLUME_PERCENT_UNSPECIFIED",
            "VIDEO_VOLUME_PERCENT_0",
            "VIDEO_VOLUME_PERCENT_10"
          ]
        }
      }
    },
    "TargetFrequency": {
      "description": "Setting that controls the average number of times the ads will show to the same person over a certain period of time.",
      "type": "object",
      "properties": {
        "targetCount": {
          "description": "The target number of times, on average, the ads will be shown to the same person in the timespan dictated by time_unit and time_unit_count.",
          "format": "int64",
          "type": "string"
        },
        "timeUnit": {
          "description": "The unit of time in which the target frequency will be applied. The following time unit is applicable: * `TIME_UNIT_WEEKS`",
          "type": "string",
          "enumDescriptions": [
            "Time unit value is not specified or is unknown in this version.",
            "The frequency cap will be applied to the whole life time of the line item.",
            "The frequency cap will be applied to a number of months.",
            "The frequency cap will be applied to a number of weeks.",
            "The frequency cap will be applied to a number of days.",
            "The frequency cap will be applied to a number of hours.",
            "The frequency cap will be applied to a number of minutes."
          ],
          "enum": [
            "TIME_UNIT_UNSPECIFIED",
            "TIME_UNIT_LIFETIME",
            "TIME_UNIT_MONTHS",
            "TIME_UNIT_WEEKS",
            "TIME_UNIT_DAYS",
            "TIME_UNIT_HOURS",
            "TIME_UNIT_MINUTES"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "timeUnitCount": {
          "description": "The number of time_unit the target frequency will last. The following restrictions apply based on the value of time_unit: * `TIME_UNIT_WEEKS` - must be 1",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "TargetFrequency"
    },
    "CategoryAssignedTargetingOptionDetails": {
      "description": "Assigned category targeting option details. This will be populated in the category_details field when targeting_type is `TARGETING_TYPE_CATEGORY`.",
      "type": "object",
      "properties": {
        "negative": {
          "description": "Indicates if this option is being negatively targeted.",
          "type": "boolean"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name of the category."
        },
        "targetingOptionId": {
          "description": "Required. The targeting_option_id field when targeting_type is `TARGETING_TYPE_CATEGORY`.",
          "type": "string"
        }
      },
      "id": "CategoryAssignedTargetingOptionDetails"
    },
    "BudgetSummary": {
      "type": "object",
      "description": "Summarized information of an individual campaign budget.",
      "id": "BudgetSummary",
      "properties": {
        "totalAmountMicros": {
          "description": "The total sum of charges made under this budget, including tax, in micros of the invoice's currency. For example, if currency_code is `USD`, then 1000000 represents one US dollar.",
          "format": "int64",
          "type": "string"
        },
        "prismaCpeCode": {
          "$ref": "PrismaCpeCode",
          "description": "Relevant client, product, and estimate codes from the Mediaocean Prisma tool. Only applicable for campaign budgets with an external_budget_source of EXTERNAL_BUDGET_SOURCE_MEDIA_OCEAN."
        },
        "preTaxAmountMicros": {
          "type": "string",
          "description": "The sum of charges made under this budget before taxes, in micros of the invoice's currency. For example, if currency_code is `USD`, then 1000000 represents one US dollar.",
          "format": "int64"
        },
        "externalBudgetId": {
          "description": "Corresponds to the external_budget_id of a campaign budget. If the value is not set in the campaign budget, this field will be empty.",
          "type": "string"
        },
        "taxAmountMicros": {
          "description": "The amount of tax applied to charges under this budget, in micros of the invoice's currency. For example, if currency_code is `USD`, then 1000000 represents one US dollar.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "DoubleVerifyVideoViewability": {
      "properties": {
        "videoIab": {
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any video IAB viewable rate options.",
            "Target web and app inventory to maximize IAB viewable rate 80% or higher.",
            "Target web and app inventory to maximize IAB viewable rate 75% or higher.",
            "Target web and app inventory to maximize IAB viewable rate 70% or higher.",
            "Target web and app inventory to maximize IAB viewable rate 65% or higher.",
            "Target web and app inventory to maximize IAB viewable rate 60% or higher.",
            "Target web and app inventory to maximize IAB viewable rate 55% or higher.",
            "Target web and app inventory to maximize IAB viewable rate 50% or higher.",
            "Target web and app inventory to maximize IAB viewable rate 40% or higher.",
            "Target web and app inventory to maximize IAB viewable rate 30% or higher."
          ],
          "enum": [
            "VIDEO_IAB_UNSPECIFIED",
            "IAB_VIEWABILITY_80_PERCENT_HIGHER",
            "IAB_VIEWABILITY_75_PERCENT_HIGHER",
            "IAB_VIEWABILITY_70_PERCENT_HIGHER",
            "IAB_VIEWABILITY_65_PERCENT_HIHGER",
            "IAB_VIEWABILITY_60_PERCENT_HIGHER",
            "IAB_VIEWABILITY_55_PERCENT_HIHGER",
            "IAB_VIEWABILITY_50_PERCENT_HIGHER",
            "IAB_VIEWABILITY_40_PERCENT_HIHGER",
            "IAB_VIEWABILITY_30_PERCENT_HIHGER"
          ],
          "description": "Target web inventory to maximize IAB viewable rate.",
          "type": "string"
        },
        "playerImpressionRate": {
          "type": "string",
          "description": "Target inventory to maximize impressions with 400x300 or greater player size.",
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any impressions options.",
            "Sites with 95%+ of impressions.",
            "Sites with 70%+ of impressions.",
            "Sites with 25%+ of impressions.",
            "Sites with 5%+ of impressions."
          ],
          "enum": [
            "PLAYER_SIZE_400X300_UNSPECIFIED",
            "PLAYER_SIZE_400X300_95",
            "PLAYER_SIZE_400X300_70",
            "PLAYER_SIZE_400X300_25",
            "PLAYER_SIZE_400X300_5"
          ]
        },
        "videoViewableRate": {
          "description": "Target web inventory to maximize fully viewable rate.",
          "type": "string",
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any video viewable rate options.",
            "Target web inventory to maximize fully viewable rate 40% or higher.",
            "Target web inventory to maximize fully viewable rate 35% or higher.",
            "Target web inventory to maximize fully viewable rate 30% or higher.",
            "Target web inventory to maximize fully viewable rate 25% or higher.",
            "Target web inventory to maximize fully viewable rate 20% or higher.",
            "Target web inventory to maximize fully viewable rate 10% or higher."
          ],
          "enum": [
            "VIDEO_VIEWABLE_RATE_UNSPECIFIED",
            "VIEWED_PERFORMANCE_40_PERCENT_HIGHER",
            "VIEWED_PERFORMANCE_35_PERCENT_HIGHER",
            "VIEWED_PERFORMANCE_30_PERCENT_HIGHER",
            "VIEWED_PERFORMANCE_25_PERCENT_HIGHER",
            "VIEWED_PERFORMANCE_20_PERCENT_HIGHER",
            "VIEWED_PERFORMANCE_10_PERCENT_HIGHER"
          ]
        }
      },
      "id": "DoubleVerifyVideoViewability",
      "description": "Details of DoubleVerify video viewability settings.",
      "type": "object"
    },
    "DemandGenImageAd": {
      "id": "DemandGenImageAd",
      "properties": {
        "marketingImages": {
          "items": {
            "$ref": "ImageAsset"
          },
          "type": "array",
          "description": "The list of marketing images shown on the ad."
        },
        "customParameters": {
          "type": "object",
          "description": "Optional. The custom parameters and accompanying values to add to the tracking URL.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "descriptions": {
          "type": "array",
          "description": "Required. The list of descriptions shown on the ad.",
          "items": {
            "type": "string"
          }
        },
        "trackingUrl": {
          "description": "Output only. The URL address loaded in the background for tracking purposes.",
          "readOnly": true,
          "type": "string"
        },
        "userSpecifiedTrackingUrl": {
          "description": "Optional. The tracking URL specified by the user manually.",
          "type": "string"
        },
        "finalUrl": {
          "description": "Required. The URL address of the webpage that people reach after they click the ad.",
          "type": "string"
        },
        "finalMobileUrl": {
          "type": "string",
          "description": "Optional. The URL address of the webpage that people reach after they click the ad on a mobile device."
        },
        "logoImages": {
          "description": "The list of logo images shown on the ad. *Warning*: Starting **July 13, 2026**, this setting will no longer be required if a default value is set at the advertiser level. If left unset, the default value will be applied.",
          "type": "array",
          "items": {
            "$ref": "ImageAsset"
          }
        },
        "finalUrlSuffix": {
          "type": "string",
          "description": "Optional. The suffix to append to landing page URLs."
        },
        "headlines": {
          "description": "Required. The list of headlines shown on the ad.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "portraitMarketingImages": {
          "description": "The list of portrait marketing images shown on the ad.",
          "type": "array",
          "items": {
            "$ref": "ImageAsset"
          }
        },
        "businessName": {
          "description": "Required. The business name shown on the ad. *Warning*: Starting **July 13, 2026**, this setting will no longer be required if a default value is set at the advertiser level. If left unset, the default value will be applied.",
          "type": "string"
        },
        "squareMarketingImages": {
          "items": {
            "$ref": "ImageAsset"
          },
          "description": "The list of square marketing images shown on the ad.",
          "type": "array"
        },
        "callToAction": {
          "type": "string",
          "description": "Required. The call-to-action button shown on the ad."
        }
      },
      "type": "object",
      "description": "Details for a Demand Gen image ad."
    },
    "LineItem": {
      "type": "object",
      "description": "A single line item.",
      "id": "LineItem",
      "properties": {
        "creativeIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "The IDs of the creatives associated with the line item.",
          "type": "array"
        },
        "frequencyCap": {
          "description": "Optional. Required if the line item type is not `LINE_ITEM_TYPE_DEMAND_GEN`. The impression frequency cap settings of the line item. The max_impressions field in this settings object must be used if assigning a limited cap.",
          "$ref": "FrequencyCap"
        },
        "advertiserId": {
          "description": "Output only. The unique ID of the advertiser the line item belongs to.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "lineItemId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique ID of the line item. Assigned by the system.",
          "format": "int64"
        },
        "containsEuPoliticalAds": {
          "enumDescriptions": [
            "Unknown.",
            "Contains EU political advertising.",
            "Does not contain EU political advertising."
          ],
          "enum": [
            "EU_POLITICAL_ADVERTISING_STATUS_UNKNOWN",
            "CONTAINS_EU_POLITICAL_ADVERTISING",
            "DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING"
          ],
          "type": "string",
          "description": "Whether this line item will serve European Union political ads. If contains_eu_political_ads has been set to `DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING` in the parent advertiser, then this field will be assigned `DOES_NOT_CONTAIN_EU_POLITICAL_ADVERTISING` if not otherwise specified. This field can then be updated using the UI, API, or Structured Data Files. This field must be assigned when creating a new line item. Otherwise, **the `advertisers.lineItems.create` request will fail**."
        },
        "excludeNewExchanges": {
          "description": "Whether to exclude new exchanges from automatically being targeted by the line item. This field is false by default.",
          "type": "boolean"
        },
        "entityStatus": {
          "type": "string",
          "description": "Required. Controls whether or not the line item can spend its budget and bid on inventory. * For CreateLineItem method, only `ENTITY_STATUS_DRAFT` is allowed. To activate a line item, use UpdateLineItem method and update the status to `ENTITY_STATUS_ACTIVE` after creation. * A line item cannot be changed back to `ENTITY_STATUS_DRAFT` status from any other status. * If the line item's parent insertion order is not active, the line item can't spend its budget even if its own status is `ENTITY_STATUS_ACTIVE`.",
          "enumDescriptions": [
            "Default value when status is not specified or is unknown in this version.",
            "The entity is enabled to bid and spend budget.",
            "The entity is archived. Bidding and budget spending are disabled. An entity can be deleted after archived. Deleted entities cannot be retrieved.",
            "The entity is under draft. Bidding and budget spending are disabled.",
            "Bidding and budget spending are paused for the entity.",
            "The entity is scheduled for deletion."
          ],
          "enum": [
            "ENTITY_STATUS_UNSPECIFIED",
            "ENTITY_STATUS_ACTIVE",
            "ENTITY_STATUS_ARCHIVED",
            "ENTITY_STATUS_DRAFT",
            "ENTITY_STATUS_PAUSED",
            "ENTITY_STATUS_SCHEDULED_FOR_DELETION"
          ]
        },
        "youtubeAndPartnersSettings": {
          "$ref": "YoutubeAndPartnersSettings",
          "description": "Output only. Settings specific to YouTube and Partners line items.",
          "readOnly": true
        },
        "conversionCounting": {
          "$ref": "ConversionCountingConfig",
          "description": "The conversion tracking setting of the line item."
        },
        "targetingExpansion": {
          "$ref": "TargetingExpansionConfig",
          "description": "The [optimized targeting](//support.google.com/displayvideo/answer/12060859) settings of the line item. This config is only applicable for display, video, or audio line items that use automated bidding and positively target eligible audience lists."
        },
        "reservationType": {
          "enumDescriptions": [
            "Reservation type value is not specified or is unknown in this version.",
            "Not created through a guaranteed inventory source.",
            "Created through a programmatic guaranteed inventory source.",
            "Created through a tag guaranteed inventory source.",
            "Created through a Petra inventory source. Only applicable to YouTube and Partners line items.",
            "Created with an instant quote. Only applicable to YouTube and partners line items."
          ],
          "enum": [
            "RESERVATION_TYPE_UNSPECIFIED",
            "RESERVATION_TYPE_NOT_GUARANTEED",
            "RESERVATION_TYPE_PROGRAMMATIC_GUARANTEED",
            "RESERVATION_TYPE_TAG_GUARANTEED",
            "RESERVATION_TYPE_PETRA_VIRAL",
            "RESERVATION_TYPE_INSTANT_RESERVE"
          ],
          "description": "Output only. The reservation type of the line item.",
          "readOnly": true,
          "type": "string"
        },
        "flight": {
          "$ref": "LineItemFlight",
          "description": "Required. The start and end time of the line item's flight."
        },
        "warningMessages": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Not specified or is unknown.",
              "This line item has invalid flight dates. The line item will not run.",
              "This line item's end date is in the past.",
              "This line item will begin running in the future.",
              "All partner enabled exchanges are negatively targeted. The line item will not run.",
              "No active inventory sources are being targeted. The line item will not run.",
              "This line item's Apps & URLs targeting doesn't include any mobile apps. This line item's type requires you to include mobile apps in your channel, sitelist, or apps targeting. The line item will not run.",
              "This line item isn't targeting any mobile users. This line item's type requires you to target a user list with mobile users. The line item will not run.",
              "This line item does not contain any valid creative. The line item will not run.",
              "The insertion order of this line item is paused. The line item will not run.",
              "The insertion order of this line item has its end date set in the past. The line item will not run."
            ],
            "enum": [
              "LINE_ITEM_WARNING_MESSAGE_UNSPECIFIED",
              "INVALID_FLIGHT_DATES",
              "EXPIRED",
              "PENDING_FLIGHT",
              "ALL_PARTNER_ENABLED_EXCHANGES_NEGATIVELY_TARGETED",
              "INVALID_INVENTORY_SOURCE",
              "APP_INVENTORY_INVALID_SITE_TARGETING",
              "APP_INVENTORY_INVALID_AUDIENCE_LISTS",
              "NO_VALID_CREATIVE",
              "PARENT_INSERTION_ORDER_PAUSED",
              "PARENT_INSERTION_ORDER_EXPIRED"
            ]
          },
          "description": "Output only. The warning messages generated by the line item. These warnings do not block saving the line item, but some may block the line item from running.",
          "readOnly": true,
          "type": "array"
        },
        "demandGenSettings": {
          "$ref": "DemandGenSettings",
          "description": "Optional. Settings specific to Demand Gen line items. Only applicable to Demand Gen line items."
        },
        "campaignId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique ID of the campaign that the line item belongs to.",
          "format": "int64"
        },
        "partnerCosts": {
          "type": "array",
          "description": "The partner costs associated with the line item. If absent or empty in CreateLineItem method, the newly created line item will inherit partner costs from its parent insertion order.",
          "items": {
            "$ref": "PartnerCost"
          }
        },
        "budget": {
          "description": "Required. The budget allocation setting of the line item.",
          "$ref": "LineItemBudget"
        },
        "mobileApp": {
          "$ref": "MobileApp",
          "description": "The mobile app promoted by the line item. This is applicable only when line_item_type is either `LINE_ITEM_TYPE_DISPLAY_MOBILE_APP_INSTALL` or `LINE_ITEM_TYPE_VIDEO_MOBILE_APP_INSTALL`."
        },
        "name": {
          "description": "Output only. The resource name of the line item.",
          "readOnly": true,
          "type": "string"
        },
        "pacing": {
          "$ref": "Pacing",
          "description": "Required. The budget spending speed setting of the line item."
        },
        "displayName": {
          "description": "Required. The display name of the line item. Must be UTF-8 encoded with a maximum size of 240 bytes.",
          "type": "string"
        },
        "lineItemType": {
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version. Line items of this type and their targeting cannot be created or updated using the API.",
            "Image, HTML5, native, or rich media ads.",
            "Display ads that drive installs of an app.",
            "Video ads sold on a CPM basis for a variety of environments.",
            "Video ads that drive installs of an app.",
            "Display ads served on mobile app inventory. Line items of this type and their targeting cannot be created or updated using the API.",
            "Video ads served on mobile app inventory. Line items of this type and their targeting cannot be created or updated using the API.",
            "RTB Audio ads sold for a variety of environments.",
            "Over-the-top ads present in OTT insertion orders. This type is only applicable to line items with an insertion order of insertion_order_type `OVER_THE_TOP`.",
            "YouTube video ads that promote conversions. Line items of this type and their targeting cannot be created or updated using the API.",
            "YouTube video ads (up to 15 seconds) that cannot be skipped. Line items of this type and their targeting cannot be created or updated using the API.",
            "YouTube video ads that show a story in a particular sequence using a mix of formats. Line items of this type and their targeting cannot be created or updated using the API.",
            "YouTube audio ads. Line items of this type and their targeting cannot be created or updated using the API.",
            "YouTube video ads that optimize reaching more unique users at lower cost. May include bumper ads, skippable in-stream ads, or a mix of types. Line items of this type and their targeting cannot be created or updated using the API.",
            "Default YouTube video ads. Line items of this type and their targeting cannot be created or updated using the API.",
            "Connected TV youTube video ads (up to 15 seconds) that cannot be skipped. Line items of this type and their targeting cannot be created or updated using the API.",
            "Connected TV youTube video ads that optimize reaching more unique users at lower cost. May include bumper ads, skippable in-stream ads, or a mix of types. Line items of this type and their targeting cannot be created or updated using the API.",
            "Connected TV default YouTube video ads. Only include in-stream ad-format. Line items of this type and their targeting cannot be created or updated using the API.",
            "The goal of this line item type is to show the YouTube ads target number of times to the same person in a certain period of time. Line items of this type and their targeting cannot be created or updated using the API.",
            "YouTube video ads that aim to get more views with a variety of ad formats. Line items of this type and their targeting cannot be created or updated using the API.",
            "Display ads served on digital-out-of-home inventory. Line items of this type and their targeting cannot be created or updated using the API.",
            "Video ads served on digital-out-of-home inventory. Line items of this type and their targeting cannot be created or updated using the API.",
            "Demand Gen ads."
          ],
          "enum": [
            "LINE_ITEM_TYPE_UNSPECIFIED",
            "LINE_ITEM_TYPE_DISPLAY_DEFAULT",
            "LINE_ITEM_TYPE_DISPLAY_MOBILE_APP_INSTALL",
            "LINE_ITEM_TYPE_VIDEO_DEFAULT",
            "LINE_ITEM_TYPE_VIDEO_MOBILE_APP_INSTALL",
            "LINE_ITEM_TYPE_DISPLAY_MOBILE_APP_INVENTORY",
            "LINE_ITEM_TYPE_VIDEO_MOBILE_APP_INVENTORY",
            "LINE_ITEM_TYPE_AUDIO_DEFAULT",
            "LINE_ITEM_TYPE_VIDEO_OVER_THE_TOP",
            "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_ACTION",
            "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_NON_SKIPPABLE",
            "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_VIDEO_SEQUENCE",
            "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_AUDIO",
            "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_REACH",
            "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_SIMPLE",
            "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_NON_SKIPPABLE_OVER_THE_TOP",
            "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_REACH_OVER_THE_TOP",
            "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_SIMPLE_OVER_THE_TOP",
            "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_TARGET_FREQUENCY",
            "LINE_ITEM_TYPE_YOUTUBE_AND_PARTNERS_VIEW",
            "LINE_ITEM_TYPE_DISPLAY_OUT_OF_HOME",
            "LINE_ITEM_TYPE_VIDEO_OUT_OF_HOME",
            "LINE_ITEM_TYPE_DEMAND_GEN"
          ],
          "type": "string",
          "description": "Required. Immutable. The type of the line item."
        },
        "partnerRevenueModel": {
          "description": "Required. The partner revenue model setting of the line item.",
          "$ref": "PartnerRevenueModel"
        },
        "bidStrategy": {
          "$ref": "BiddingStrategy",
          "description": "Required. The bidding strategy of the line item."
        },
        "updateTime": {
          "description": "Output only. The timestamp when the line item was last updated. Assigned by the system.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "optimizeFixedBidding": {
          "description": "Optional. Whether to enable DV360's bid optimization for fixed bid line items. By default, DV360 optimizes your fixed bid by automatically lowering bids for impressions that are less likely to perform well. This optimization is enabled by default (value is true). When this field is set to `false`, this optimization is disabled, and the bid will not be lowered for any reason. This setting only applies to line items with a `bidding_strategy` of type `FIXED_BID`.",
          "type": "boolean"
        },
        "insertionOrderId": {
          "type": "string",
          "description": "Required. Immutable. The unique ID of the insertion order that the line item belongs to.",
          "format": "int64"
        },
        "integrationDetails": {
          "$ref": "IntegrationDetails",
          "description": "Integration details of the line item."
        }
      }
    },
    "ContentThemeAssignedTargetingOptionDetails": {
      "description": "Targeting details for content theme. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_CONTENT_THEME_EXCLUSION`.",
      "type": "object",
      "properties": {
        "contentTheme": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An enum for the DV360 content theme classifier.",
          "enumDescriptions": [
            "Content theme is not specified or is unknown in this version.",
            "Fighting video games.",
            "Mature games.",
            "Not yet determined health sources.",
            "Not yet determined news sources.",
            "Politics.",
            "Recent news.",
            "Religion.",
            "Unpleasant health content.",
            "Unpleasant news."
          ],
          "enum": [
            "CONTENT_THEME_UNSPECIFIED",
            "CONTENT_THEME_FIGHTING_VIDEO_GAMES",
            "CONTENT_THEME_MATURE_GAMES",
            "CONTENT_THEME_NOT_YET_DETERMINED_HEALTH_SOURCES",
            "CONTENT_THEME_NOT_YET_DETERMINED_NEWS_SOURCES",
            "CONTENT_THEME_POLITICS",
            "CONTENT_THEME_RECENT_NEWS",
            "CONTENT_THEME_RELIGION",
            "CONTENT_THEME_UNPLEASANT_HEALTH_CONTENT",
            "CONTENT_THEME_UNPLEASANT_NEWS"
          ]
        },
        "excludedContentTheme": {
          "description": "Required. An enum for the DV360 content theme classified to be EXCLUDED.",
          "type": "string",
          "enumDescriptions": [
            "Content theme is not specified or is unknown in this version.",
            "Fighting video games.",
            "Mature games.",
            "Not yet determined health sources.",
            "Not yet determined news sources.",
            "Politics.",
            "Recent news.",
            "Religion.",
            "Unpleasant health content.",
            "Unpleasant news."
          ],
          "enum": [
            "CONTENT_THEME_UNSPECIFIED",
            "CONTENT_THEME_FIGHTING_VIDEO_GAMES",
            "CONTENT_THEME_MATURE_GAMES",
            "CONTENT_THEME_NOT_YET_DETERMINED_HEALTH_SOURCES",
            "CONTENT_THEME_NOT_YET_DETERMINED_NEWS_SOURCES",
            "CONTENT_THEME_POLITICS",
            "CONTENT_THEME_RECENT_NEWS",
            "CONTENT_THEME_RELIGION",
            "CONTENT_THEME_UNPLEASANT_HEALTH_CONTENT",
            "CONTENT_THEME_UNPLEASANT_NEWS"
          ]
        },
        "excludedTargetingOptionId": {
          "type": "string",
          "description": "Required. ID of the content theme to be EXCLUDED."
        }
      },
      "id": "ContentThemeAssignedTargetingOptionDetails"
    },
    "FrequencyCap": {
      "properties": {
        "maxImpressions": {
          "description": "The maximum number of times a user may be shown the same ad during this period. Must be greater than 0. Required when unlimited is `false` and max_views is not set.",
          "format": "int32",
          "type": "integer"
        },
        "unlimited": {
          "description": "Whether unlimited frequency capping is applied. When this field is set to `true`, the remaining frequency cap fields are not applicable.",
          "type": "boolean"
        },
        "maxViews": {
          "description": "Optional. The maximum number of times a user may click-through or fully view an ad during this period until it is no longer served to them. Must be greater than 0. Only applicable to YouTube and Partners resources. Required when unlimited is `false` and max_impressions is not set.",
          "format": "int32",
          "type": "integer"
        },
        "timeUnit": {
          "description": "The time unit in which the frequency cap will be applied. Required when unlimited is `false`.",
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Time unit value is not specified or is unknown in this version.",
            "The frequency cap will be applied to the whole life time of the line item.",
            "The frequency cap will be applied to a number of months.",
            "The frequency cap will be applied to a number of weeks.",
            "The frequency cap will be applied to a number of days.",
            "The frequency cap will be applied to a number of hours.",
            "The frequency cap will be applied to a number of minutes."
          ],
          "enum": [
            "TIME_UNIT_UNSPECIFIED",
            "TIME_UNIT_LIFETIME",
            "TIME_UNIT_MONTHS",
            "TIME_UNIT_WEEKS",
            "TIME_UNIT_DAYS",
            "TIME_UNIT_HOURS",
            "TIME_UNIT_MINUTES"
          ]
        },
        "timeUnitCount": {
          "description": "The number of time_unit the frequency cap will last. Required when unlimited is `false`. The following restrictions apply based on the value of time_unit: * `TIME_UNIT_MONTHS` - must be 1 * `TIME_UNIT_WEEKS` - must be between 1 and 4 * `TIME_UNIT_DAYS` - must be between 1 and 6 * `TIME_UNIT_HOURS` - must be between 1 and 23 * `TIME_UNIT_MINUTES` - must be between 1 and 59",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "FrequencyCap",
      "description": "Settings that control the number of times a user may be shown with the same ad during a given time period.",
      "type": "object"
    },
    "ListPartnerAssignedTargetingOptionsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token identifying the next page of results. This value should be specified as the pageToken in a subsequent ListPartnerAssignedTargetingOptionsRequest to fetch the next page of results. This token will be absent if there are no more assigned_targeting_options to return.",
          "type": "string"
        },
        "assignedTargetingOptions": {
          "items": {
            "$ref": "AssignedTargetingOption"
          },
          "type": "array",
          "description": "The list of assigned targeting options. This list will be absent if empty."
        }
      },
      "id": "ListPartnerAssignedTargetingOptionsResponse",
      "type": "object"
    },
    "LanguageTargetingOptionDetails": {
      "properties": {
        "displayName": {
          "description": "Output only. The display name of the language (e.g., \"French\").",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "LanguageTargetingOptionDetails",
      "description": "Represents a targetable language. This will be populated in the language_details field when targeting_type is `TARGETING_TYPE_LANGUAGE`.",
      "type": "object"
    },
    "SessionPositionAssignedTargetingOptionDetails": {
      "type": "object",
      "description": "Details for session position assigned targeting option. This will be populated in the session_position_details field when targeting_type is `TARGETING_TYPE_SESSION_POSITION`.",
      "id": "SessionPositionAssignedTargetingOptionDetails",
      "properties": {
        "sessionPosition": {
          "enumDescriptions": [
            "This is a placeholder, does not indicate any positions.",
            "The first impression of the session."
          ],
          "enum": [
            "SESSION_POSITION_UNSPECIFIED",
            "SESSION_POSITION_FIRST_IMPRESSION"
          ],
          "description": "The position where the ad will show in a session.",
          "type": "string"
        }
      }
    },
    "AdGroupInventoryControl": {
      "description": "The inventory control of the ad group.",
      "type": "object",
      "properties": {
        "adGroupInventoryStrategy": {
          "type": "string",
          "description": "The inventory strategy.",
          "enumDescriptions": [
            "Not specified or unknown.",
            "The ad group is opted-in to all Google and Display Network inventory.",
            "The ad group is opted-in to all Google inventory."
          ],
          "enum": [
            "AD_GROUP_INVENTORY_STRATEGY_UNSPECIFIED",
            "AD_GROUP_INVENTORY_STRATEGY_ALL_GOOGLE_AND_DISPLAY_NETWORK_INVENTORY",
            "AD_GROUP_INVENTORY_STRATEGY_ALL_GOOGLE_INVENTORY"
          ]
        },
        "selectedInventories": {
          "description": "The selected inventories.",
          "$ref": "SelectedInventories"
        }
      },
      "id": "AdGroupInventoryControl"
    },
    "SubExchangeTargetingOptionDetails": {
      "properties": {
        "displayName": {
          "description": "Output only. The display name of the sub-exchange.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "SubExchangeTargetingOptionDetails",
      "description": "Represents a targetable sub-exchange. This will be populated in the sub_exchange_details field of a TargetingOption when targeting_type is `TARGETING_TYPE_SUB_EXCHANGE`.",
      "type": "object"
    },
    "ContentStreamTypeAssignedTargetingOptionDetails": {
      "properties": {
        "targetingOptionId": {
          "type": "string",
          "description": "Required. The targeting_option_id field when targeting_type is `TARGETING_TYPE_CONTENT_STREAM_TYPE`."
        },
        "contentStreamType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The content stream type.",
          "enumDescriptions": [
            "Content stream type is not specified in this version. This enum is a place holder for a default value and does not represent a real content stream type.",
            "The content is being live-streamed.",
            "The content is viewed on-demand."
          ],
          "enum": [
            "CONTENT_STREAM_TYPE_UNSPECIFIED",
            "CONTENT_LIVE_STREAM",
            "CONTENT_ON_DEMAND"
          ]
        }
      },
      "id": "ContentStreamTypeAssignedTargetingOptionDetails",
      "description": "Details for content stream type assigned targeting option. This will be populated in the content_stream_type_details field when targeting_type is `TARGETING_TYPE_CONTENT_STREAM_TYPE`. Explicitly targeting all options is not supported. Remove all content stream type targeting options to achieve this effect.",
      "type": "object"
    },
    "DigitalContentLabelAssignedTargetingOptionDetails": {
      "properties": {
        "excludedContentRatingTier": {
          "enumDescriptions": [
            "Content label is not specified in this version. This enum is a place holder for a default value and does not represent a real content rating.",
            "Content that has not been labeled.",
            "Content suitable for general audiences.",
            "Content suitable for most audiences with parental guidance.",
            "Content suitable for teen and older audiences.",
            "Content suitable only for mature audiences.",
            "Content suitable for family audiences. It is a subset of CONTENT_RATING_TIER_GENERAL. Only applicable to YouTube and Partners line items."
          ],
          "enum": [
            "CONTENT_RATING_TIER_UNSPECIFIED",
            "CONTENT_RATING_TIER_UNRATED",
            "CONTENT_RATING_TIER_GENERAL",
            "CONTENT_RATING_TIER_PARENTAL_GUIDANCE",
            "CONTENT_RATING_TIER_TEENS",
            "CONTENT_RATING_TIER_MATURE",
            "CONTENT_RATING_TIER_FAMILIES"
          ],
          "type": "string",
          "description": "Required. The display name of the digital content label rating tier to be EXCLUDED."
        }
      },
      "id": "DigitalContentLabelAssignedTargetingOptionDetails",
      "description": "Targeting details for digital content label. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION`.",
      "type": "object"
    },
    "UrlAssignedTargetingOptionDetails": {
      "properties": {
        "url": {
          "type": "string",
          "description": "Required. The URL, for example `example.com`. DV360 supports two levels of subdirectory targeting, for example `www.example.com/one-subdirectory-level/second-level`, and five levels of subdomain targeting, for example `five.four.three.two.one.example.com`."
        },
        "negative": {
          "type": "boolean",
          "description": "Indicates if this option is being negatively targeted."
        }
      },
      "id": "UrlAssignedTargetingOptionDetails",
      "description": "Details for assigned URL targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_URL`.",
      "type": "object"
    },
    "NegativeKeywordListAssignedTargetingOptionDetails": {
      "type": "object",
      "description": "Targeting details for negative keyword list. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_NEGATIVE_KEYWORD_LIST`.",
      "id": "NegativeKeywordListAssignedTargetingOptionDetails",
      "properties": {
        "negativeKeywordListId": {
          "description": "Required. ID of the negative keyword list. Should refer to the negative_keyword_list_id field of a NegativeKeywordList resource.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "LineItemBudget": {
      "properties": {
        "maxAmount": {
          "description": "The maximum budget amount the line item will spend. Must be greater than 0. When budget_allocation_type is: * `LINE_ITEM_BUDGET_ALLOCATION_TYPE_AUTOMATIC`, this field is immutable and is set by the system. * `LINE_ITEM_BUDGET_ALLOCATION_TYPE_FIXED`, if budget_unit is: - `BUDGET_UNIT_CURRENCY`, this field represents maximum budget amount to spend, in micros of the advertiser's currency. For example, 1500000 represents 1.5 standard units of the currency. - `BUDGET_UNIT_IMPRESSIONS`, this field represents the maximum number of impressions to serve. * `LINE_ITEM_BUDGET_ALLOCATION_TYPE_UNLIMITED`, this field is not applicable and will be ignored by the system.",
          "format": "int64",
          "type": "string"
        },
        "budgetUnit": {
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Budgeting in currency amounts.",
            "Budgeting in impression amounts."
          ],
          "enum": [
            "BUDGET_UNIT_UNSPECIFIED",
            "BUDGET_UNIT_CURRENCY",
            "BUDGET_UNIT_IMPRESSIONS"
          ],
          "description": "Output only. The budget unit specifies whether the budget is currency based or impression based. This value is inherited from the parent insertion order.",
          "readOnly": true,
          "type": "string"
        },
        "budgetAllocationType": {
          "type": "string",
          "description": "Required. The type of the budget allocation. `LINE_ITEM_BUDGET_ALLOCATION_TYPE_AUTOMATIC` is only applicable when automatic budget allocation is enabled for the parent insertion order. This field must be set to `LINE_ITEM_BUDGET_ALLOCATION_TYPE_FIXED` for Demand Gen line items.",
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Automatic budget allocation is enabled for the line item.",
            "A fixed max budget amount is allocated for the line item.",
            "No budget limit is applied to the line item."
          ],
          "enum": [
            "LINE_ITEM_BUDGET_ALLOCATION_TYPE_UNSPECIFIED",
            "LINE_ITEM_BUDGET_ALLOCATION_TYPE_AUTOMATIC",
            "LINE_ITEM_BUDGET_ALLOCATION_TYPE_FIXED",
            "LINE_ITEM_BUDGET_ALLOCATION_TYPE_UNLIMITED"
          ]
        }
      },
      "id": "LineItemBudget",
      "description": "Settings that control how budget is allocated.",
      "type": "object"
    },
    "ContentThemeTargetingOptionDetails": {
      "type": "object",
      "description": "Represents a targetable content theme. This will be populated in the content_theme_details field of the TargetingOption when targeting_type is `TARGETING_TYPE_CONTENT_THEME_EXCLUSION`.",
      "id": "ContentThemeTargetingOptionDetails",
      "properties": {
        "contentTheme": {
          "description": "Output only. An enum for the DV360 content theme content classifier.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Content theme is not specified or is unknown in this version.",
            "Fighting video games.",
            "Mature games.",
            "Not yet determined health sources.",
            "Not yet determined news sources.",
            "Politics.",
            "Recent news.",
            "Religion.",
            "Unpleasant health content.",
            "Unpleasant news."
          ],
          "enum": [
            "CONTENT_THEME_UNSPECIFIED",
            "CONTENT_THEME_FIGHTING_VIDEO_GAMES",
            "CONTENT_THEME_MATURE_GAMES",
            "CONTENT_THEME_NOT_YET_DETERMINED_HEALTH_SOURCES",
            "CONTENT_THEME_NOT_YET_DETERMINED_NEWS_SOURCES",
            "CONTENT_THEME_POLITICS",
            "CONTENT_THEME_RECENT_NEWS",
            "CONTENT_THEME_RELIGION",
            "CONTENT_THEME_UNPLEASANT_HEALTH_CONTENT",
            "CONTENT_THEME_UNPLEASANT_NEWS"
          ]
        }
      }
    },
    "Adloox": {
      "properties": {
        "debatedSensitiveSocialIssueContent": {
          "type": "string",
          "description": "Optional. Debated Sensitive Social Issue Content [GARM](https://wfanet.org/leadership/garm/about-garm) risk ranges to exclude.",
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any GARM risk exclusion option.",
            "Exclude floor risk.",
            "Exclude high and floor risk.",
            "Exclude medium, high, and floor risk.",
            "Exclude all levels of risk (low, medium, high and floor)."
          ],
          "enum": [
            "GARM_RISK_EXCLUSION_UNSPECIFIED",
            "GARM_RISK_EXCLUSION_FLOOR",
            "GARM_RISK_EXCLUSION_HIGH",
            "GARM_RISK_EXCLUSION_MEDIUM",
            "GARM_RISK_EXCLUSION_LOW"
          ]
        },
        "excludedAdlooxCategories": {
          "type": "array",
          "description": "Scope3 categories to exclude.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value when a Scope3 category is not specified or is unknown in this version.",
              "Adult content (hard).",
              "Adult content (soft).",
              "Illegal content.",
              "Borderline content.",
              "Discriminatory content.",
              "Violent content & weapons.",
              "Low viewability domains.",
              "Fraud."
            ],
            "enum": [
              "ADLOOX_UNSPECIFIED",
              "ADULT_CONTENT_HARD",
              "ADULT_CONTENT_SOFT",
              "ILLEGAL_CONTENT",
              "BORDERLINE_CONTENT",
              "DISCRIMINATORY_CONTENT",
              "VIOLENT_CONTENT_WEAPONS",
              "LOW_VIEWABILITY_DOMAINS",
              "FRAUD"
            ]
          }
        },
        "displayIabViewability": {
          "enumDescriptions": [
            "Default value when not specified or is unknown in this version.",
            "10%+ in view (IAB display viewability standard).",
            "20%+ in view (IAB display viewability standard).",
            "35%+ in view (IAB display viewability standard).",
            "50%+ in view (IAB display viewability standard).",
            "75%+ in view (IAB display viewability standard)."
          ],
          "enum": [
            "DISPLAY_IAB_VIEWABILITY_UNSPECIFIED",
            "DISPLAY_IAB_VIEWABILITY_10",
            "DISPLAY_IAB_VIEWABILITY_20",
            "DISPLAY_IAB_VIEWABILITY_35",
            "DISPLAY_IAB_VIEWABILITY_50",
            "DISPLAY_IAB_VIEWABILITY_75"
          ],
          "description": "Optional. IAB viewability threshold for display ads.",
          "type": "string"
        },
        "onlinePiracyContent": {
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any GARM risk exclusion option.",
            "Exclude floor risk.",
            "Exclude high and floor risk.",
            "Exclude medium, high, and floor risk.",
            "Exclude all levels of risk (low, medium, high and floor)."
          ],
          "enum": [
            "GARM_RISK_EXCLUSION_UNSPECIFIED",
            "GARM_RISK_EXCLUSION_FLOOR",
            "GARM_RISK_EXCLUSION_HIGH",
            "GARM_RISK_EXCLUSION_MEDIUM",
            "GARM_RISK_EXCLUSION_LOW"
          ],
          "description": "Optional. Online Piracy Content [GARM](https://wfanet.org/leadership/garm/about-garm) risk ranges to exclude.",
          "type": "string"
        },
        "hateSpeechActsAggressionContent": {
          "description": "Optional. Hate Speech and Acts of Aggression Content [GARM](https://wfanet.org/leadership/garm/about-garm) risk ranges to exclude.",
          "type": "string",
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any GARM risk exclusion option.",
            "Exclude floor risk.",
            "Exclude high and floor risk.",
            "Exclude medium, high, and floor risk.",
            "Exclude all levels of risk (low, medium, high and floor)."
          ],
          "enum": [
            "GARM_RISK_EXCLUSION_UNSPECIFIED",
            "GARM_RISK_EXCLUSION_FLOOR",
            "GARM_RISK_EXCLUSION_HIGH",
            "GARM_RISK_EXCLUSION_MEDIUM",
            "GARM_RISK_EXCLUSION_LOW"
          ]
        },
        "illegalDrugsTobaccoEcigarettesVapingAlcoholContent": {
          "description": "Optional. Illegal Drugs/Alcohol Content [GARM](https://wfanet.org/leadership/garm/about-garm) risk ranges to exclude.",
          "type": "string",
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any GARM risk exclusion option.",
            "Exclude floor risk.",
            "Exclude high and floor risk.",
            "Exclude medium, high, and floor risk.",
            "Exclude all levels of risk (low, medium, high and floor)."
          ],
          "enum": [
            "GARM_RISK_EXCLUSION_UNSPECIFIED",
            "GARM_RISK_EXCLUSION_FLOOR",
            "GARM_RISK_EXCLUSION_HIGH",
            "GARM_RISK_EXCLUSION_MEDIUM",
            "GARM_RISK_EXCLUSION_LOW"
          ]
        },
        "spamHarmfulContent": {
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any GARM risk exclusion option.",
            "Exclude floor risk.",
            "Exclude high and floor risk.",
            "Exclude medium, high, and floor risk.",
            "Exclude all levels of risk (low, medium, high and floor)."
          ],
          "enum": [
            "GARM_RISK_EXCLUSION_UNSPECIFIED",
            "GARM_RISK_EXCLUSION_FLOOR",
            "GARM_RISK_EXCLUSION_HIGH",
            "GARM_RISK_EXCLUSION_MEDIUM",
            "GARM_RISK_EXCLUSION_LOW"
          ],
          "description": "Optional. Spam or Harmful Content [GARM](https://wfanet.org/leadership/garm/about-garm) risk ranges to exclude.",
          "type": "string"
        },
        "terrorismContent": {
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any GARM risk exclusion option.",
            "Exclude floor risk.",
            "Exclude high and floor risk.",
            "Exclude medium, high, and floor risk.",
            "Exclude all levels of risk (low, medium, high and floor)."
          ],
          "enum": [
            "GARM_RISK_EXCLUSION_UNSPECIFIED",
            "GARM_RISK_EXCLUSION_FLOOR",
            "GARM_RISK_EXCLUSION_HIGH",
            "GARM_RISK_EXCLUSION_MEDIUM",
            "GARM_RISK_EXCLUSION_LOW"
          ],
          "description": "Optional. Terrorism Content [GARM](https://wfanet.org/leadership/garm/about-garm) risk ranges to exclude.",
          "type": "string"
        },
        "adultExplicitSexualContent": {
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any GARM risk exclusion option.",
            "Exclude floor risk.",
            "Exclude high and floor risk.",
            "Exclude medium, high, and floor risk.",
            "Exclude all levels of risk (low, medium, high and floor)."
          ],
          "enum": [
            "GARM_RISK_EXCLUSION_UNSPECIFIED",
            "GARM_RISK_EXCLUSION_FLOOR",
            "GARM_RISK_EXCLUSION_HIGH",
            "GARM_RISK_EXCLUSION_MEDIUM",
            "GARM_RISK_EXCLUSION_LOW"
          ],
          "description": "Optional. Adult and Explicit Sexual Content [GARM](https://wfanet.org/leadership/garm/about-garm) risk ranges to exclude.",
          "type": "string"
        },
        "armsAmmunitionContent": {
          "type": "string",
          "description": "Optional. Arms and Ammunition Content [GARM](https://wfanet.org/leadership/garm/about-garm) risk ranges to exclude.",
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any GARM risk exclusion option.",
            "Exclude floor risk.",
            "Exclude high and floor risk.",
            "Exclude medium, high, and floor risk.",
            "Exclude all levels of risk (low, medium, high and floor)."
          ],
          "enum": [
            "GARM_RISK_EXCLUSION_UNSPECIFIED",
            "GARM_RISK_EXCLUSION_FLOOR",
            "GARM_RISK_EXCLUSION_HIGH",
            "GARM_RISK_EXCLUSION_MEDIUM",
            "GARM_RISK_EXCLUSION_LOW"
          ]
        },
        "deathInjuryMilitaryConflictContent": {
          "type": "string",
          "description": "Optional. Death, Injury, or Military Conflict Content [GARM](https://wfanet.org/leadership/garm/about-garm) risk ranges to exclude.",
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any GARM risk exclusion option.",
            "Exclude floor risk.",
            "Exclude high and floor risk.",
            "Exclude medium, high, and floor risk.",
            "Exclude all levels of risk (low, medium, high and floor)."
          ],
          "enum": [
            "GARM_RISK_EXCLUSION_UNSPECIFIED",
            "GARM_RISK_EXCLUSION_FLOOR",
            "GARM_RISK_EXCLUSION_HIGH",
            "GARM_RISK_EXCLUSION_MEDIUM",
            "GARM_RISK_EXCLUSION_LOW"
          ]
        },
        "excludedFraudIvtMfaCategories": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value when a Scope3 Fraud, IVT, MFA category is not specified or is unknown in this version.",
              "FRAUD, IVT, MFA."
            ],
            "enum": [
              "FRAUD_IVT_MFA_CATEGORY_UNSPECIFIED",
              "FRAUD_IVT_MFA"
            ]
          },
          "type": "array",
          "description": "Optional. Scope3's fraud IVT MFA categories to exclude."
        },
        "crimeHarmfulActsIndividualsSocietyHumanRightsViolationsContent": {
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any GARM risk exclusion option.",
            "Exclude floor risk.",
            "Exclude high and floor risk.",
            "Exclude medium, high, and floor risk.",
            "Exclude all levels of risk (low, medium, high and floor)."
          ],
          "enum": [
            "GARM_RISK_EXCLUSION_UNSPECIFIED",
            "GARM_RISK_EXCLUSION_FLOOR",
            "GARM_RISK_EXCLUSION_HIGH",
            "GARM_RISK_EXCLUSION_MEDIUM",
            "GARM_RISK_EXCLUSION_LOW"
          ],
          "description": "Optional. Crime and Harmful Acts Content [GARM](https://wfanet.org/leadership/garm/about-garm) risk ranges to exclude.",
          "type": "string"
        },
        "obscenityProfanityContent": {
          "type": "string",
          "description": "Optional. Obscenity and Profanity Content [GARM](https://wfanet.org/leadership/garm/about-garm) risk ranges to exclude.",
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any GARM risk exclusion option.",
            "Exclude floor risk.",
            "Exclude high and floor risk.",
            "Exclude medium, high, and floor risk.",
            "Exclude all levels of risk (low, medium, high and floor)."
          ],
          "enum": [
            "GARM_RISK_EXCLUSION_UNSPECIFIED",
            "GARM_RISK_EXCLUSION_FLOOR",
            "GARM_RISK_EXCLUSION_HIGH",
            "GARM_RISK_EXCLUSION_MEDIUM",
            "GARM_RISK_EXCLUSION_LOW"
          ]
        },
        "misinformationContent": {
          "enumDescriptions": [
            "This enum is only a placeholder and it doesn't specify any GARM risk exclusion option.",
            "Exclude floor risk.",
            "Exclude high and floor risk.",
            "Exclude medium, high, and floor risk.",
            "Exclude all levels of risk (low, medium, high and floor)."
          ],
          "enum": [
            "GARM_RISK_EXCLUSION_UNSPECIFIED",
            "GARM_RISK_EXCLUSION_FLOOR",
            "GARM_RISK_EXCLUSION_HIGH",
            "GARM_RISK_EXCLUSION_MEDIUM",
            "GARM_RISK_EXCLUSION_LOW"
          ],
          "type": "string",
          "description": "Optional. Misinformation Content [GARM](https://wfanet.org/leadership/garm/about-garm) risk ranges to exclude."
        },
        "videoIabViewability": {
          "enumDescriptions": [
            "Default value when not specified or is unknown in this version.",
            "10%+ in view (IAB video viewability standard).",
            "20%+ in view (IAB video viewability standard).",
            "35%+ in view (IAB video viewability standard).",
            "50%+ in view (IAB video viewability standard).",
            "75%+ in view (IAB video viewability standard)."
          ],
          "enum": [
            "VIDEO_IAB_VIEWABILITY_UNSPECIFIED",
            "VIDEO_IAB_VIEWABILITY_10",
            "VIDEO_IAB_VIEWABILITY_20",
            "VIDEO_IAB_VIEWABILITY_35",
            "VIDEO_IAB_VIEWABILITY_50",
            "VIDEO_IAB_VIEWABILITY_75"
          ],
          "description": "Optional. IAB viewability threshold for video ads.",
          "type": "string"
        }
      },
      "id": "Adloox",
      "description": "Details of Scope3 (previously known as Adloox) brand safety settings.",
      "type": "object"
    },
    "AdPolicyTopicEvidence": {
      "description": "Evidence information used in the policy decision.",
      "type": "object",
      "properties": {
        "legalRemoval": {
          "description": "Legal related regulation enforcement that caused a policy violation.",
          "$ref": "AdPolicyTopicEvidenceLegalRemoval"
        },
        "websiteList": {
          "$ref": "AdPolicyTopicEvidenceWebsiteList",
          "description": "List of websites linked with the ad."
        },
        "httpCode": {
          "type": "integer",
          "description": "HTTP code returned when the final URL was crawled.",
          "format": "int32"
        },
        "destinationNotWorking": {
          "description": "Information on HTTP or DNS errors related to the ad destination.",
          "$ref": "AdPolicyTopicEvidenceDestinationNotWorking"
        },
        "textList": {
          "$ref": "AdPolicyTopicEvidenceTextList",
          "description": "List of evidence found in the text of the ad."
        },
        "regionalRequirements": {
          "$ref": "AdPolicyTopicEvidenceRegionalRequirements",
          "description": "T&S proactive enforcement that caused a policy violation."
        },
        "destinationMismatch": {
          "$ref": "AdPolicyTopicEvidenceDestinationMismatch",
          "description": "A mismatch between the ad destination URLs."
        },
        "languageCode": {
          "type": "string",
          "description": "The language the ad was detected to be written in. This field uses IETF language tags, such as \"en-US\"."
        },
        "counterfeit": {
          "$ref": "AdPolicyTopicEvidenceCounterfeit",
          "description": "Counterfeit enforcement that caused a policy violation."
        },
        "destinationTextList": {
          "$ref": "AdPolicyTopicEvidenceDestinationTextList",
          "description": "The text in the destination of the ad that is causing a policy violation."
        },
        "trademark": {
          "description": "Trademark terms that caused a policy violation.",
          "$ref": "AdPolicyTopicEvidenceTrademark"
        }
      },
      "id": "AdPolicyTopicEvidence"
    },
    "ListNegativeKeywordListsResponse": {
      "id": "ListNegativeKeywordListsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListNegativeKeywordLists` method to retrieve the next page of results."
        },
        "negativeKeywordLists": {
          "items": {
            "$ref": "NegativeKeywordList"
          },
          "type": "array",
          "description": "The list of negative keyword lists. This list will be absent if empty."
        }
      },
      "type": "object",
      "description": "Response message for NegativeKeywordListService.ListNegativeKeywordLists."
    },
    "EditGuaranteedOrderReadAccessorsRequest": {
      "id": "EditGuaranteedOrderReadAccessorsRequest",
      "properties": {
        "readAccessInherited": {
          "type": "boolean",
          "description": "Whether to give all advertisers of the read/write accessor partner read access to the guaranteed order. Only applicable if read_write_partner_id is set in the guaranteed order."
        },
        "partnerId": {
          "type": "string",
          "description": "Required. The partner context in which the change is being made.",
          "format": "int64"
        },
        "addedAdvertisers": {
          "description": "The advertisers to add as read accessors to the guaranteed order.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "removedAdvertisers": {
          "type": "array",
          "description": "The advertisers to remove as read accessors to the guaranteed order.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Request message for GuaranteedOrderService.EditGuaranteedOrderReadAccessors."
    },
    "AdPolicyTopicConstraintAdPolicyCountryConstraintList": {
      "id": "AdPolicyTopicConstraintAdPolicyCountryConstraintList",
      "properties": {
        "countries": {
          "description": "Countries where the ad cannot serve.",
          "type": "array",
          "items": {
            "$ref": "AdPolicyCriterionRestriction"
          }
        }
      },
      "type": "object",
      "description": "A list of countries where the ad cannot serve due to policy constraints."
    },
    "DateRange": {
      "description": "A date range.",
      "type": "object",
      "properties": {
        "startDate": {
          "description": "The lower bound of the date range, inclusive. Must specify a positive value for `year`, `month`, and `day`.",
          "$ref": "Date"
        },
        "endDate": {
          "$ref": "Date",
          "description": "The upper bound of the date range, inclusive. Must specify a positive value for `year`, `month`, and `day`."
        }
      },
      "id": "DateRange"
    },
    "ListCampaignsResponse": {
      "type": "object",
      "properties": {
        "campaigns": {
          "description": "The list of campaigns. This list will be absent if empty.",
          "type": "array",
          "items": {
            "$ref": "Campaign"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListCampaigns` method to retrieve the next page of results."
        }
      },
      "id": "ListCampaignsResponse"
    },
    "DigitalContentLabelTargetingOptionDetails": {
      "description": "Represents a targetable digital content label rating tier. This will be populated in the digital_content_label_details field of the TargetingOption when targeting_type is `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION`.",
      "type": "object",
      "properties": {
        "contentRatingTier": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An enum for the content label brand safety tiers.",
          "enumDescriptions": [
            "Content label is not specified in this version. This enum is a place holder for a default value and does not represent a real content rating.",
            "Content that has not been labeled.",
            "Content suitable for general audiences.",
            "Content suitable for most audiences with parental guidance.",
            "Content suitable for teen and older audiences.",
            "Content suitable only for mature audiences.",
            "Content suitable for family audiences. It is a subset of CONTENT_RATING_TIER_GENERAL. Only applicable to YouTube and Partners line items."
          ],
          "enum": [
            "CONTENT_RATING_TIER_UNSPECIFIED",
            "CONTENT_RATING_TIER_UNRATED",
            "CONTENT_RATING_TIER_GENERAL",
            "CONTENT_RATING_TIER_PARENTAL_GUIDANCE",
            "CONTENT_RATING_TIER_TEENS",
            "CONTENT_RATING_TIER_MATURE",
            "CONTENT_RATING_TIER_FAMILIES"
          ]
        }
      },
      "id": "DigitalContentLabelTargetingOptionDetails"
    },
    "ListCustomBiddingScriptsResponse": {
      "id": "ListCustomBiddingScriptsResponse",
      "properties": {
        "customBiddingScripts": {
          "description": "The list of custom bidding scripts. This list will be absent if empty.",
          "type": "array",
          "items": {
            "$ref": "CustomBiddingScript"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `ListCustomBiddingScriptsRequest` method to retrieve the next page of results. If this field is null, it means this is the last page.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "IntegrationDetails": {
      "id": "IntegrationDetails",
      "properties": {
        "integrationCode": {
          "description": "An external identifier to be associated with the entry. The integration code will show up together with the entry in many places in the system, for example, reporting. Must be UTF-8 encoded with a length of no more than 500 characters.",
          "type": "string"
        },
        "details": {
          "type": "string",
          "description": "Additional details of the entry in string format. Must be UTF-8 encoded with a length of no more than 1000 characters."
        }
      },
      "type": "object",
      "description": "Integration details of an entry."
    },
    "AuditAdvertiserResponse": {
      "properties": {
        "campaignCriteriaCount": {
          "description": "The number of individual targeting options from the following targeting types that are assigned to a line item under this advertiser. These individual targeting options count towards the limit of 900000 campaign targeting options per advertiser. Qualifying Targeting types: * Position * Browser * Connection speed * Day and time * Device and operating system * Digital content label * Sensitive categories * Environment * Geography, including business chains and proximity * ISP * Language * Third-party verification",
          "format": "int64",
          "type": "string"
        },
        "usedCampaignsCount": {
          "type": "string",
          "description": "The number of ACTIVE and PAUSED campaigns under this advertiser. These campaigns count towards the limit of 9999 campaigns per advertiser.",
          "format": "int64"
        },
        "channelsCount": {
          "type": "string",
          "description": "The number of channels created under this advertiser. These channels count towards the limit of 1000 channels per advertiser.",
          "format": "int64"
        },
        "adGroupCriteriaCount": {
          "type": "string",
          "description": "The number of individual targeting options from the following targeting types that are assigned to a line item under this advertiser. These individual targeting options count towards the limit of 4500000 ad group targeting options per advertiser. Qualifying Targeting types: * Channels, URLs, apps, and collections * Demographic * Google Audiences, including Affinity, Custom Affinity, and In-market audiences * Inventory source * Keyword * Mobile app category * User lists * Video targeting * Viewability",
          "format": "int64"
        },
        "usedLineItemsCount": {
          "type": "string",
          "description": "The number of ACTIVE, PAUSED, and DRAFT line items under this advertiser. These line items count towards the limit of 9999 line items per advertiser.",
          "format": "int64"
        },
        "usedInsertionOrdersCount": {
          "description": "The number of ACTIVE, PAUSED and DRAFT insertion orders under this advertiser. These insertion orders count towards the limit of 9999 insertion orders per advertiser.",
          "format": "int64",
          "type": "string"
        },
        "negativelyTargetedChannelsCount": {
          "description": "The number of negatively targeted channels created under this advertiser. These negatively targeted channels count towards the limit of 5 negatively targeted channels per advertiser.",
          "format": "int64",
          "type": "string"
        },
        "negativeKeywordListsCount": {
          "type": "string",
          "description": "The number of negative keyword lists created under this advertiser. These negative keyword lists count towards the limit of 20 negative keyword lists per advertiser.",
          "format": "int64"
        }
      },
      "id": "AuditAdvertiserResponse",
      "description": "Response message for AdvertiserService.AuditAdvertiser.",
      "type": "object"
    },
    "BusinessChainAssignedTargetingOptionDetails": {
      "type": "object",
      "description": "Details for assigned Business chain targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_BUSINESS_CHAIN`.",
      "id": "BusinessChainAssignedTargetingOptionDetails",
      "properties": {
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name of a business chain, e.g. \"KFC\", \"Chase Bank\"."
        },
        "proximityRadiusAmount": {
          "description": "Required. The radius of the area around the business chain that will be targeted. The units of the radius are specified by proximity_radius_unit. Must be 1 to 800 if unit is `DISTANCE_UNIT_KILOMETERS` and 1 to 500 if unit is `DISTANCE_UNIT_MILES`. The minimum increment for both cases is 0.1. Inputs will be rounded to the nearest acceptable value if it is too granular, e.g. 15.57 will become 15.6.",
          "format": "double",
          "type": "number"
        },
        "targetingOptionId": {
          "description": "Required. The targeting_option_id of a TargetingOption of type `TARGETING_TYPE_BUSINESS_CHAIN`. Accepted business chain targeting option IDs can be retrieved using SearchTargetingOptions.",
          "type": "string"
        },
        "proximityRadiusUnit": {
          "type": "string",
          "description": "Required. The unit of distance by which the targeting radius is measured.",
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Miles.",
            "Kilometers."
          ],
          "enum": [
            "DISTANCE_UNIT_UNSPECIFIED",
            "DISTANCE_UNIT_MILES",
            "DISTANCE_UNIT_KILOMETERS"
          ]
        }
      }
    },
    "IdFilter": {
      "type": "object",
      "description": "A filtering option that filters entities by their entity IDs.",
      "id": "IdFilter",
      "properties": {
        "lineItemQaIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Line Items, by ID, to download in QA format. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest."
        },
        "adGroupAdIds": {
          "description": "YouTube Ads to download by ID. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "campaignIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array",
          "description": "Campaigns to download by ID. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest."
        },
        "mediaProductIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Media Products to download by ID. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest.",
          "type": "array"
        },
        "lineItemIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array",
          "description": "Line Items to download by ID. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest."
        },
        "adGroupQaIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Optional. YouTube Ad Groups, by ID, to download in QA format. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest.",
          "type": "array"
        },
        "insertionOrderIds": {
          "type": "array",
          "description": "Insertion Orders to download by ID. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "adGroupIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "YouTube Ad Groups to download by ID. All IDs must belong to the same Advertiser or Partner specified in CreateSdfDownloadTaskRequest."
        }
      }
    },
    "FirstAndThirdPartyAudienceTargetingSetting": {
      "type": "object",
      "description": "Details of first and third party audience targeting setting.",
      "id": "FirstAndThirdPartyAudienceTargetingSetting",
      "properties": {
        "firstAndThirdPartyAudienceId": {
          "description": "Required. First and third party audience id of the first and third party audience targeting setting. This id is first_and_third_party_audience_id.",
          "format": "int64",
          "type": "string"
        },
        "recency": {
          "enumDescriptions": [
            "No limit of recency.",
            "Recency is 1 minute.",
            "Recency is 5 minutes.",
            "Recency is 10 minutes.",
            "Recency is 15 minutes.",
            "Recency is 30 minutes.",
            "Recency is 1 hour.",
            "Recency is 2 hours.",
            "Recency is 3 hours.",
            "Recency is 6 hours.",
            "Recency is 12 hours.",
            "Recency is 1 day.",
            "Recency is 2 days.",
            "Recency is 3 days.",
            "Recency is 5 days.",
            "Recency is 7 days.",
            "Recency is 10 days.",
            "Recency is 14 days.",
            "Recency is 15 days.",
            "Recency is 21 days.",
            "Recency is 28 days.",
            "Recency is 30 days.",
            "Recency is 40 days.",
            "Recency is 45 days.",
            "Recency is 60 days.",
            "Recency is 90 days.",
            "Recency is 120 days.",
            "Recency is 180 days.",
            "Recency is 270 days.",
            "Recency is 365 days."
          ],
          "enum": [
            "RECENCY_NO_LIMIT",
            "RECENCY_1_MINUTE",
            "RECENCY_5_MINUTES",
            "RECENCY_10_MINUTES",
            "RECENCY_15_MINUTES",
            "RECENCY_30_MINUTES",
            "RECENCY_1_HOUR",
            "RECENCY_2_HOURS",
            "RECENCY_3_HOURS",
            "RECENCY_6_HOURS",
            "RECENCY_12_HOURS",
            "RECENCY_1_DAY",
            "RECENCY_2_DAYS",
            "RECENCY_3_DAYS",
            "RECENCY_5_DAYS",
            "RECENCY_7_DAYS",
            "RECENCY_10_DAYS",
            "RECENCY_14_DAYS",
            "RECENCY_15_DAYS",
            "RECENCY_21_DAYS",
            "RECENCY_28_DAYS",
            "RECENCY_30_DAYS",
            "RECENCY_40_DAYS",
            "RECENCY_45_DAYS",
            "RECENCY_60_DAYS",
            "RECENCY_90_DAYS",
            "RECENCY_120_DAYS",
            "RECENCY_180_DAYS",
            "RECENCY_270_DAYS",
            "RECENCY_365_DAYS"
          ],
          "description": "Optional. The recency of the first and third party audience targeting setting. Only applicable to first party audiences, otherwise will be ignored. For more info, refer to https://support.google.com/displayvideo/answer/2949947#recency When unspecified, no recency limit will be used.",
          "type": "string"
        }
      }
    },
    "BulkUpdateLineItemsRequest": {
      "description": "Request message for LineItemService.BulkUpdateLineItems.",
      "type": "object",
      "properties": {
        "targetLineItem": {
          "$ref": "LineItem",
          "description": "Required. A line item object containing the fields to be updated and the new values to assign to all line items specified in line_item_ids.\""
        },
        "lineItemIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Required. IDs of line items to update.",
          "type": "array"
        },
        "updateMask": {
          "type": "string",
          "description": "Required. A field mask identifying which fields to update. Only the following fields are currently supported: * entityStatus * containsEuPoliticalAds",
          "format": "google-fieldmask"
        }
      },
      "id": "BulkUpdateLineItemsRequest"
    },
    "CounterEvent": {
      "type": "object",
      "description": "Counter event of the creative.",
      "id": "CounterEvent",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the counter event."
        },
        "reportingName": {
          "type": "string",
          "description": "Required. The name used to identify this counter event in reports."
        }
      }
    },
    "DeviceTypeTargetingOptionDetails": {
      "properties": {
        "deviceType": {
          "enumDescriptions": [
            "Default value when device type is not specified in this version. This enum is a placeholder for default value and does not represent a real device type option.",
            "Computer.",
            "Connected TV.",
            "Smart phone.",
            "Tablet.",
            "Connected device."
          ],
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "DEVICE_TYPE_COMPUTER",
            "DEVICE_TYPE_CONNECTED_TV",
            "DEVICE_TYPE_SMART_PHONE",
            "DEVICE_TYPE_TABLET",
            "DEVICE_TYPE_CONNECTED_DEVICE"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The device type that is used to be targeted."
        }
      },
      "id": "DeviceTypeTargetingOptionDetails",
      "description": "Represents a targetable device type. This will be populated in the device_type_details field of a TargetingOption when targeting_type is `TARGETING_TYPE_DEVICE_TYPE`.",
      "type": "object"
    },
    "RegionalLocationListAssignedTargetingOptionDetails": {
      "description": "Targeting details for regional location list. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_REGIONAL_LOCATION_LIST`.",
      "type": "object",
      "properties": {
        "regionalLocationListId": {
          "type": "string",
          "description": "Required. ID of the regional location list. Should refer to the location_list_id field of a LocationList resource whose type is `TARGETING_LOCATION_TYPE_REGIONAL`.",
          "format": "int64"
        },
        "negative": {
          "description": "Indicates if this option is being negatively targeted.",
          "type": "boolean"
        }
      },
      "id": "RegionalLocationListAssignedTargetingOptionDetails"
    },
    "AdvertiserAdServerConfig": {
      "properties": {
        "thirdPartyOnlyConfig": {
          "description": "The configuration for advertisers that use third-party ad servers only.",
          "$ref": "ThirdPartyOnlyConfig"
        },
        "cmHybridConfig": {
          "description": "The configuration for advertisers that use both Campaign Manager 360 (CM360) and third-party ad servers.",
          "$ref": "CmHybridConfig"
        }
      },
      "id": "AdvertiserAdServerConfig",
      "description": "Ad server related settings of an advertiser.",
      "type": "object"
    },
    "PoiTargetingOptionDetails": {
      "type": "object",
      "description": "Represents a targetable point of interest(POI). This will be populated in the poi_details field when targeting_type is `TARGETING_TYPE_POI`.",
      "id": "PoiTargetingOptionDetails",
      "properties": {
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name of a POI(e.g. \"Times Square\", \"Space Needle\"), followed by its full address if available."
        },
        "latitude": {
          "description": "Output only. Latitude of the POI rounding to 6th decimal place.",
          "format": "double",
          "readOnly": true,
          "type": "number"
        },
        "longitude": {
          "description": "Output only. Longitude of the POI rounding to 6th decimal place.",
          "format": "double",
          "readOnly": true,
          "type": "number"
        }
      }
    },
    "GeoRegionAssignedTargetingOptionDetails": {
      "id": "GeoRegionAssignedTargetingOptionDetails",
      "properties": {
        "targetingOptionId": {
          "type": "string",
          "description": "Required. The targeting_option_id of a TargetingOption of type `TARGETING_TYPE_GEO_REGION`."
        },
        "geoRegionType": {
          "enumDescriptions": [
            "The geographic region type is unknown.",
            "The geographic region type is other.",
            "The geographic region is a country.",
            "The geographic region type is region.",
            "The geographic region is a territory.",
            "The geographic region is a province.",
            "The geographic region is a state.",
            "The geographic region is a prefecture.",
            "The geographic region is a governorate.",
            "The geographic region is a canton.",
            "The geographic region is a union territory.",
            "The geographic region is an autonomous community.",
            "The geographic region is a designated market area (DMA) region.",
            "The geographic region type is metro.",
            "The geographic region is a congressional district.",
            "The geographic region is a county.",
            "The geographic region is a municipality.",
            "The geographic region is a city.",
            "The geographic region targeting type is postal code.",
            "The geographic region targeting type is department.",
            "The geographic region is an airport.",
            "The geographic region is a TV region.",
            "The geographic region is an okrug.",
            "The geographic region is a borough.",
            "The geographic region is a city region.",
            "The geographic region is an arrondissement.",
            "The geographic region is a neighborhood.",
            "The geographic region is a university.",
            "The geographic region is a district.",
            "The geographic region is a national park.",
            "The geographic region is a barrio.",
            "The geographic region is a sub ward.",
            "The geographic region is a municipality district.",
            "The geographic region is a sub district.",
            "The geographic region is a quarter.",
            "The geographic region is a division.",
            "The geographic region is a commune.",
            "The geographic region is a colloquial area.",
            "The geographic region is a post town.",
            "The geographic region is a ward."
          ],
          "enum": [
            "GEO_REGION_TYPE_UNKNOWN",
            "GEO_REGION_TYPE_OTHER",
            "GEO_REGION_TYPE_COUNTRY",
            "GEO_REGION_TYPE_REGION",
            "GEO_REGION_TYPE_TERRITORY",
            "GEO_REGION_TYPE_PROVINCE",
            "GEO_REGION_TYPE_STATE",
            "GEO_REGION_TYPE_PREFECTURE",
            "GEO_REGION_TYPE_GOVERNORATE",
            "GEO_REGION_TYPE_CANTON",
            "GEO_REGION_TYPE_UNION_TERRITORY",
            "GEO_REGION_TYPE_AUTONOMOUS_COMMUNITY",
            "GEO_REGION_TYPE_DMA_REGION",
            "GEO_REGION_TYPE_METRO",
            "GEO_REGION_TYPE_CONGRESSIONAL_DISTRICT",
            "GEO_REGION_TYPE_COUNTY",
            "GEO_REGION_TYPE_MUNICIPALITY",
            "GEO_REGION_TYPE_CITY",
            "GEO_REGION_TYPE_POSTAL_CODE",
            "GEO_REGION_TYPE_DEPARTMENT",
            "GEO_REGION_TYPE_AIRPORT",
            "GEO_REGION_TYPE_TV_REGION",
            "GEO_REGION_TYPE_OKRUG",
            "GEO_REGION_TYPE_BOROUGH",
            "GEO_REGION_TYPE_CITY_REGION",
            "GEO_REGION_TYPE_ARRONDISSEMENT",
            "GEO_REGION_TYPE_NEIGHBORHOOD",
            "GEO_REGION_TYPE_UNIVERSITY",
            "GEO_REGION_TYPE_DISTRICT",
            "GEO_REGION_TYPE_NATIONAL_PARK",
            "GEO_REGION_TYPE_BARRIO",
            "GEO_REGION_TYPE_SUB_WARD",
            "GEO_REGION_TYPE_MUNICIPALITY_DISTRICT",
            "GEO_REGION_TYPE_SUB_DISTRICT",
            "GEO_REGION_TYPE_QUARTER",
            "GEO_REGION_TYPE_DIVISION",
            "GEO_REGION_TYPE_COMMUNE",
            "GEO_REGION_TYPE_COLLOQUIAL_AREA",
            "GEO_REGION_TYPE_POST_TOWN",
            "GEO_REGION_TYPE_WARD"
          ],
          "description": "Output only. The type of geographic region targeting.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Output only. The display name of the geographic region (e.g., \"Ontario, Canada\").",
          "readOnly": true,
          "type": "string"
        },
        "negative": {
          "type": "boolean",
          "description": "Indicates if this option is being negatively targeted."
        }
      },
      "type": "object",
      "description": "Details for assigned geographic region targeting option. This will be populated in the details field of an AssignedTargetingOption when targeting_type is `TARGETING_TYPE_GEO_REGION`."
    },
    "FloodlightActivity": {
      "id": "FloodlightActivity",
      "properties": {
        "floodlightActivityId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique ID of the Floodlight activity. Assigned by the system.",
          "format": "int64"
        },
        "servingStatus": {
          "enumDescriptions": [
            "Type value is not specified or is unknown in this version.",
            "Enabled.",
            "Disabled."
          ],
          "enum": [
            "FLOODLIGHT_ACTIVITY_SERVING_STATUS_UNSPECIFIED",
            "FLOODLIGHT_ACTIVITY_SERVING_STATUS_ENABLED",
            "FLOODLIGHT_ACTIVITY_SERVING_STATUS_DISABLED"
          ],
          "type": "string",
          "description": "Optional. Whether the Floodlight activity is served."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the Floodlight activity."
        },
        "advertiserIds": {
          "description": "Output only. IDs of the advertisers that have access to the parent Floodlight group. Only advertisers under the provided partner ID will be listed in this field.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "sslRequired": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether tags are required to be compliant."
        },
        "floodlightGroupId": {
          "type": "string",
[...]
