{
  "version": "v2",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260924",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/display-video-user-management": {
          "description": "Private Service: https://www.googleapis.com/auth/display-video-user-management"
        },
        "https://www.googleapis.com/auth/doubleclickbidmanager": {
          "description": "View and manage your reports in DoubleClick Bid Manager"
        },
        "https://www.googleapis.com/auth/display-video-mediaplanning": {
          "description": "Create, see, and edit Display & Video 360 Campaign entities and see billing invoices"
        },
        "https://www.googleapis.com/auth/display-video": {
          "description": "Create, see, edit, and permanently delete your Display & Video 360 entities and reports"
        }
      }
    }
  },
  "id": "displayvideo:v2",
  "name": "displayvideo",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "baseUrl": "https://displayvideo.googleapis.com/",
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/display-video/",
  "resources": {
    "customBiddingAlgorithms": {
      "methods": {
        "get": {
          "id": "displayvideo.customBiddingAlgorithms.get",
          "response": {
            "$ref": "CustomBiddingAlgorithm"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "parameters": {
            "advertiserId": {
              "format": "int64",
              "description": "The ID of the DV360 partner that has access to the custom bidding algorithm.",
              "location": "query",
              "type": "string"
            },
            "customBiddingAlgorithmId": {
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "Required. The ID of the custom bidding algorithm to fetch.",
              "pattern": "^[^/]+$"
            },
            "partnerId": {
              "description": "The ID of the DV360 partner that has access to the custom bidding algorithm.",
              "type": "string",
              "location": "query",
              "format": "int64"
            }
          },
          "flatPath": "v2/customBiddingAlgorithms/{customBiddingAlgorithmsId}",
          "path": "v2/customBiddingAlgorithms/{+customBiddingAlgorithmId}",
          "parameterOrder": [
            "customBiddingAlgorithmId"
          ],
          "description": "Gets a custom bidding algorithm."
        },
        "list": {
          "id": "displayvideo.customBiddingAlgorithms.list",
          "flatPath": "v2/customBiddingAlgorithms",
          "httpMethod": "GET",
          "path": "v2/customBiddingAlgorithms",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "response": {
            "$ref": "ListCustomBiddingAlgorithmsResponse"
          },
          "parameters": {
            "partnerId": {
              "description": "The ID of the DV360 partner that has access to the custom bidding algorithm.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
              "type": "integer",
              "format": "int32"
            },
            "advertiserId": {
              "format": "int64",
              "location": "query",
              "description": "The ID of the DV360 advertiser that has access to the custom bidding algorithm.",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListCustomBiddingAlgorithms` method. If not specified, the first page of results will be returned.",
              "type": "string"
            },
            "filter": {
              "type": "string",
              "description": "Allows filtering by custom bidding algorithm fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND`. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * The `customBiddingAlgorithmType` field must use the `EQUALS (=)` operator. * The `displayName` field must use the `HAS (:)` operator. Supported fields: * `customBiddingAlgorithmType` * `displayName` Examples: * All custom bidding algorithms for which the display name contains \"politics\": `displayName:\"politics\"`. * All custom bidding algorithms for which the type is \"SCRIPT_BASED\": `customBiddingAlgorithmType=SCRIPT_BASED` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
              "location": "query"
            },
            "orderBy": {
              "type": "string",
              "description": "Field by which to sort the list. Acceptable values are: * `displayName` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `displayName desc`.",
              "location": "query"
            }
          },
          "description": "Lists custom bidding algorithms that are accessible to the current user and can be used in bidding stratgies. The order is defined by the order_by parameter.",
          "parameterOrder": []
        },
        "uploadScript": {
          "id": "displayvideo.customBiddingAlgorithms.uploadScript",
          "path": "v2/customBiddingAlgorithms/{+customBiddingAlgorithmId}:uploadScript",
          "flatPath": "v2/customBiddingAlgorithms/{customBiddingAlgorithmsId}:uploadScript",
          "parameters": {
            "partnerId": {
              "description": "The ID of the partner that owns the parent custom bidding algorithm. Only this partner will have write access to this custom bidding script.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "advertiserId": {
              "description": "The ID of the advertiser that owns the parent custom bidding algorithm.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "customBiddingAlgorithmId": {
              "required": true,
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "Required. The ID of the custom bidding algorithm owns the script."
            }
          },
          "description": "Creates a custom bidding script reference object for a script file. The resulting reference object provides a resource path to which the script file should be uploaded. This reference object should be included in when creating a new custom bidding script object.",
          "parameterOrder": [
            "customBiddingAlgorithmId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "response": {
            "$ref": "CustomBiddingScriptRef"
          }
        },
        "patch": {
          "request": {
            "$ref": "CustomBiddingAlgorithm"
          },
          "id": "displayvideo.customBiddingAlgorithms.patch",
          "response": {
            "$ref": "CustomBiddingAlgorithm"
          },
          "parameterOrder": [
            "customBiddingAlgorithmId"
          ],
          "httpMethod": "PATCH",
          "path": "v2/customBiddingAlgorithms/{+customBiddingAlgorithmId}",
          "parameters": {
            "customBiddingAlgorithmId": {
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Output only. The unique ID of the custom bidding algorithm. Assigned by the system.",
              "format": "int64",
              "required": true
            },
            "updateMask": {
              "type": "string",
              "location": "query",
              "format": "google-fieldmask",
              "description": "Required. The mask to control which fields to update."
            }
          },
          "flatPath": "v2/customBiddingAlgorithms/{customBiddingAlgorithmsId}",
          "description": "Updates an existing custom bidding algorithm. Returns the updated custom bidding algorithm if successful. Requests updating a custom bidding algorithm assigned to a line item will return an error.",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ]
        },
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "CustomBiddingAlgorithm"
          },
          "path": "v2/customBiddingAlgorithms",
          "id": "displayvideo.customBiddingAlgorithms.create",
          "parameters": {},
          "description": "Creates a new custom bidding algorithm. Returns the newly created custom bidding algorithm if successful.",
          "request": {
            "$ref": "CustomBiddingAlgorithm"
          },
          "flatPath": "v2/customBiddingAlgorithms",
          "parameterOrder": []
        }
      },
      "resources": {
        "scripts": {
          "methods": {
            "create": {
              "response": {
                "$ref": "CustomBiddingScript"
              },
              "path": "v2/customBiddingAlgorithms/{+customBiddingAlgorithmId}/scripts",
              "parameters": {
                "partnerId": {
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the partner that owns the parent custom bidding algorithm. Only this partner will have write access to this custom bidding script.",
                  "format": "int64"
                },
                "advertiserId": {
                  "description": "The ID of the advertiser that owns the parent custom bidding algorithm.",
                  "location": "query",
                  "type": "string",
                  "format": "int64"
                },
                "customBiddingAlgorithmId": {
                  "required": true,
                  "description": "Required. The ID of the custom bidding algorithm that owns the script.",
                  "format": "int64",
                  "type": "string",
                  "location": "path",
                  "pattern": "^[^/]+$"
                }
              },
              "parameterOrder": [
                "customBiddingAlgorithmId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "id": "displayvideo.customBiddingAlgorithms.scripts.create",
              "flatPath": "v2/customBiddingAlgorithms/{customBiddingAlgorithmsId}/scripts",
              "description": "Creates a new custom bidding script. Returns the newly created script if successful. Requests creating a custom bidding script under an algorithm assigned to a line item will return an error.",
              "httpMethod": "POST",
              "request": {
                "$ref": "CustomBiddingScript"
              }
            },
            "get": {
              "response": {
                "$ref": "CustomBiddingScript"
              },
              "description": "Gets a custom bidding script.",
              "path": "v2/customBiddingAlgorithms/{+customBiddingAlgorithmId}/scripts/{+customBiddingScriptId}",
              "parameters": {
                "partnerId": {
                  "format": "int64",
                  "type": "string",
                  "location": "query",
                  "description": "The ID of the partner that owns the parent custom bidding algorithm. Only this partner will have write access to this custom bidding script."
                },
                "customBiddingAlgorithmId": {
                  "required": true,
                  "description": "Required. The ID of the custom bidding algorithm owns the script.",
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "customBiddingScriptId": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The ID of the custom bidding script to fetch.",
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$"
                },
                "advertiserId": {
                  "type": "string",
                  "format": "int64",
                  "location": "query",
                  "description": "The ID of the advertiser that owns the parent custom bidding algorithm."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "id": "displayvideo.customBiddingAlgorithms.scripts.get",
              "parameterOrder": [
                "customBiddingAlgorithmId",
                "customBiddingScriptId"
              ],
              "httpMethod": "GET",
              "flatPath": "v2/customBiddingAlgorithms/{customBiddingAlgorithmsId}/scripts/{scriptsId}"
            },
            "list": {
              "parameterOrder": [
                "customBiddingAlgorithmId"
              ],
              "parameters": {
                "pageToken": {
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListCustomBiddingScripts` method. If not specified, the first page of results will be returned.",
                  "location": "query",
                  "type": "string"
                },
                "advertiserId": {
                  "description": "The ID of the advertiser that owns the parent custom bidding algorithm.",
                  "format": "int64",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                  "type": "integer",
                  "location": "query"
                },
                "customBiddingAlgorithmId": {
                  "type": "string",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "location": "path",
                  "description": "Required. The ID of the custom bidding algorithm owns the script."
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Field by which to sort the list. Acceptable values are: * `createTime desc` (default) The default sorting order is descending. To specify ascending order for a field, the suffix \"desc\" should be removed. Example: `createTime`."
                },
                "partnerId": {
                  "description": "The ID of the partner that owns the parent custom bidding algorithm. Only this partner will have write access to this custom bidding script.",
                  "type": "string",
                  "format": "int64",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "flatPath": "v2/customBiddingAlgorithms/{customBiddingAlgorithmsId}/scripts",
              "id": "displayvideo.customBiddingAlgorithms.scripts.list",
              "httpMethod": "GET",
              "path": "v2/customBiddingAlgorithms/{+customBiddingAlgorithmId}/scripts",
              "description": "Lists custom bidding scripts that belong to the given algorithm. The order is defined by the order_by parameter.",
              "response": {
                "$ref": "ListCustomBiddingScriptsResponse"
              }
            }
          }
        }
      }
    },
    "googleAudiences": {
      "methods": {
        "list": {
          "id": "displayvideo.googleAudiences.list",
          "response": {
            "$ref": "ListGoogleAudiencesResponse"
          },
          "parameters": {
            "partnerId": {
              "format": "int64",
              "location": "query",
              "description": "The ID of the partner that has access to the fetched Google audiences.",
              "type": "string"
            },
            "advertiserId": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "The ID of the advertiser that has access to the fetched Google audiences."
            },
            "orderBy": {
              "description": "Field by which to sort the list. Acceptable values are: * `googleAudienceId` (default) * `displayName` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `displayName desc`.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "filter": {
              "description": "Allows filtering by Google audience fields. Supported syntax: * Filter expressions for Google audiences can only contain at most one restriction. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `HAS (:)` operator. Supported fields: * `displayName` Examples: * All Google audiences for which the display name contains \"Google\": `displayName:\"Google\"`. The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListGoogleAudiences` method. If not specified, the first page of results will be returned.",
              "location": "query"
            }
          },
          "path": "v2/googleAudiences",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "description": "Lists Google audiences. The order is defined by the order_by parameter.",
          "httpMethod": "GET",
          "flatPath": "v2/googleAudiences",
          "parameterOrder": []
        },
        "get": {
          "id": "displayvideo.googleAudiences.get",
          "parameters": {
            "advertiserId": {
              "type": "string",
              "location": "query",
              "description": "The ID of the advertiser that has access to the fetched Google audience.",
              "format": "int64"
            },
            "partnerId": {
              "format": "int64",
              "description": "The ID of the partner that has access to the fetched Google audience.",
              "type": "string",
              "location": "query"
            },
            "googleAudienceId": {
              "description": "Required. The ID of the Google audience to fetch.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "format": "int64",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "path": "v2/googleAudiences/{+googleAudienceId}",
          "response": {
            "$ref": "GoogleAudience"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "googleAudienceId"
          ],
          "description": "Gets a Google audience.",
          "flatPath": "v2/googleAudiences/{googleAudiencesId}"
        }
      }
    },
    "customLists": {
      "methods": {
        "get": {
          "parameterOrder": [
            "customListId"
          ],
          "response": {
            "$ref": "CustomList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "httpMethod": "GET",
          "parameters": {
            "customListId": {
              "location": "path",
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "Required. The ID of the custom list to fetch.",
              "pattern": "^[^/]+$"
            },
            "advertiserId": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "The ID of the DV360 advertiser that has access to the fetched custom lists."
            }
          },
          "flatPath": "v2/customLists/{customListsId}",
          "path": "v2/customLists/{+customListId}",
          "id": "displayvideo.customLists.get",
          "description": "Gets a custom list."
        },
        "list": {
          "path": "v2/customLists",
          "description": "Lists custom lists. The order is defined by the order_by parameter.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "response": {
            "$ref": "ListCustomListsResponse"
          },
          "id": "displayvideo.customLists.list",
          "parameters": {
            "orderBy": {
              "description": "Field by which to sort the list. Acceptable values are: * `customListId` (default) * `displayName` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `displayName desc`.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
              "format": "int32",
              "type": "integer"
            },
            "filter": {
              "location": "query",
              "description": "Allows filtering by custom list fields. Supported syntax: * Filter expressions for custom lists can only contain at most one restriction. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `HAS (:)` operator. Supported fields: * `displayName` Examples: * All custom lists for which the display name contains \"Google\": `displayName:\"Google\"`. The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
              "type": "string"
            },
            "advertiserId": {
              "description": "The ID of the DV360 advertiser that has access to the fetched custom lists.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "pageToken": {
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListCustomLists` method. If not specified, the first page of results will be returned.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "v2/customLists",
          "parameterOrder": []
        }
      }
    },
    "targetingTypes": {
      "resources": {
        "targetingOptions": {
          "methods": {
            "search": {
              "flatPath": "v2/targetingTypes/{targetingTypesId}/targetingOptions:search",
              "parameters": {
                "targetingType": {
                  "required": true,
                  "description": "Required. The type of targeting options to retrieve. Accepted values are: * `TARGETING_TYPE_GEO_REGION` * `TARGETING_TYPE_POI` * `TARGETING_TYPE_BUSINESS_CHAIN`",
                  "type": "string",
                  "enumDescriptions": [
                    "Default value when type is not specified or is unknown in this version.",
                    "Target a channel (a custom group of related websites or apps).",
                    "Target an app category (for example, education or puzzle games).",
                    "Target a specific app (for example, Angry Birds).",
                    "Target a specific url (for example, quora.com).",
                    "Target ads during a chosen time period on a specific day.",
                    "Target ads to a specific age range (for example, 18-24).",
                    "Target ads to the specified regions on a regional location list.",
                    "Target ads to the specified points of interest on a proximity location list.",
                    "Target ads to a specific gender (for example, female or male).",
                    "Target a specific video player size for video ads.",
                    "Target user rewarded content for video ads.",
                    "Target ads to a specific parental status (for example, parent or not a parent).",
                    "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                    "Target ads in a specific content outstream position.",
                    "Target ads to a specific device type (for example, tablet or connected TV).",
                    "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                    "Target ads to specific web browsers (for example, Chrome).",
                    "Target ads to a specific household income range (for example, top 10%).",
                    "Target ads in a specific on screen position.",
                    "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                    "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                    "Filter website content by sensitive categories (for example, adult).",
                    "Target ads to a specific environment (for example, web or app).",
                    "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                    "Target ads to a specific operating system (for example, macOS).",
                    "Target ads to a specific device make or model (for example, Roku or Samsung).",
                    "Target ads to a specific keyword (for example, dog or retriever).",
                    "Target ads to a specific negative keyword list.",
                    "Target ads to a specific viewability (for example, 80% viewable).",
                    "Target ads to a specific content category (for example, arts & entertainment).",
                    "Purchase impressions from specific deals and auction packages.",
                    "Target ads to a specific language (for example, English or Japanese).",
                    "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                    "Target ads to a specific regional location (for example, a city or state).",
                    "Purchase impressions from a group of deals and auction packages.",
                    "Purchase impressions from specific exchanges.",
                    "Purchase impressions from specific sub-exchanges.",
                    "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                    "Target ads around locations of a business chain within a specific geo region.",
                    "Target ads to a specific video content duration.",
                    "Target ads to a specific video content stream type.",
                    "Target ads to a specific native content position.",
                    "Target ads in an Open Measurement enabled inventory.",
                    "Target ads to a specific audio content type.",
                    "Target ads to a specific content genre.",
                    "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                    "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                    "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.",
                    "Target ads to a specific YouTube channel pack."
                  ],
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "enum": [
                    "TARGETING_TYPE_UNSPECIFIED",
                    "TARGETING_TYPE_CHANNEL",
                    "TARGETING_TYPE_APP_CATEGORY",
                    "TARGETING_TYPE_APP",
                    "TARGETING_TYPE_URL",
                    "TARGETING_TYPE_DAY_AND_TIME",
                    "TARGETING_TYPE_AGE_RANGE",
                    "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                    "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                    "TARGETING_TYPE_GENDER",
                    "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                    "TARGETING_TYPE_USER_REWARDED_CONTENT",
                    "TARGETING_TYPE_PARENTAL_STATUS",
                    "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                    "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                    "TARGETING_TYPE_DEVICE_TYPE",
                    "TARGETING_TYPE_AUDIENCE_GROUP",
                    "TARGETING_TYPE_BROWSER",
                    "TARGETING_TYPE_HOUSEHOLD_INCOME",
                    "TARGETING_TYPE_ON_SCREEN_POSITION",
                    "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                    "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                    "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                    "TARGETING_TYPE_ENVIRONMENT",
                    "TARGETING_TYPE_CARRIER_AND_ISP",
                    "TARGETING_TYPE_OPERATING_SYSTEM",
                    "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                    "TARGETING_TYPE_KEYWORD",
                    "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                    "TARGETING_TYPE_VIEWABILITY",
                    "TARGETING_TYPE_CATEGORY",
                    "TARGETING_TYPE_INVENTORY_SOURCE",
                    "TARGETING_TYPE_LANGUAGE",
                    "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                    "TARGETING_TYPE_GEO_REGION",
                    "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                    "TARGETING_TYPE_EXCHANGE",
                    "TARGETING_TYPE_SUB_EXCHANGE",
                    "TARGETING_TYPE_POI",
                    "TARGETING_TYPE_BUSINESS_CHAIN",
                    "TARGETING_TYPE_CONTENT_DURATION",
                    "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                    "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                    "TARGETING_TYPE_OMID",
                    "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                    "TARGETING_TYPE_CONTENT_GENRE",
                    "TARGETING_TYPE_YOUTUBE_VIDEO",
                    "TARGETING_TYPE_YOUTUBE_CHANNEL",
                    "TARGETING_TYPE_SESSION_POSITION",
                    "TARGETING_TYPE_YOUTUBE_CHANNEL_PACK"
                  ]
                }
              },
              "parameterOrder": [
                "targetingType"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "response": {
                "$ref": "SearchTargetingOptionsResponse"
              },
              "path": "v2/targetingTypes/{+targetingType}/targetingOptions:search",
              "id": "displayvideo.targetingTypes.targetingOptions.search",
              "description": "Searches for targeting options of a given type based on the given search terms.",
              "httpMethod": "POST",
              "request": {
                "$ref": "SearchTargetingOptionsRequest"
              }
            },
            "get": {
              "parameters": {
                "advertiserId": {
                  "format": "int64",
                  "description": "Required. The Advertiser this request is being made in the context of.",
                  "type": "string",
                  "location": "query"
                },
                "targetingOptionId": {
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "description": "Required. The ID of the of targeting option to retrieve."
                },
                "targetingType": {
                  "enum": [
                    "TARGETING_TYPE_UNSPECIFIED",
                    "TARGETING_TYPE_CHANNEL",
                    "TARGETING_TYPE_APP_CATEGORY",
                    "TARGETING_TYPE_APP",
                    "TARGETING_TYPE_URL",
                    "TARGETING_TYPE_DAY_AND_TIME",
                    "TARGETING_TYPE_AGE_RANGE",
                    "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                    "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                    "TARGETING_TYPE_GENDER",
                    "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                    "TARGETING_TYPE_USER_REWARDED_CONTENT",
                    "TARGETING_TYPE_PARENTAL_STATUS",
                    "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                    "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                    "TARGETING_TYPE_DEVICE_TYPE",
                    "TARGETING_TYPE_AUDIENCE_GROUP",
                    "TARGETING_TYPE_BROWSER",
                    "TARGETING_TYPE_HOUSEHOLD_INCOME",
                    "TARGETING_TYPE_ON_SCREEN_POSITION",
                    "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                    "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                    "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                    "TARGETING_TYPE_ENVIRONMENT",
                    "TARGETING_TYPE_CARRIER_AND_ISP",
                    "TARGETING_TYPE_OPERATING_SYSTEM",
                    "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                    "TARGETING_TYPE_KEYWORD",
                    "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                    "TARGETING_TYPE_VIEWABILITY",
                    "TARGETING_TYPE_CATEGORY",
                    "TARGETING_TYPE_INVENTORY_SOURCE",
                    "TARGETING_TYPE_LANGUAGE",
                    "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                    "TARGETING_TYPE_GEO_REGION",
                    "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                    "TARGETING_TYPE_EXCHANGE",
                    "TARGETING_TYPE_SUB_EXCHANGE",
                    "TARGETING_TYPE_POI",
                    "TARGETING_TYPE_BUSINESS_CHAIN",
                    "TARGETING_TYPE_CONTENT_DURATION",
                    "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                    "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                    "TARGETING_TYPE_OMID",
                    "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                    "TARGETING_TYPE_CONTENT_GENRE",
                    "TARGETING_TYPE_YOUTUBE_VIDEO",
                    "TARGETING_TYPE_YOUTUBE_CHANNEL",
                    "TARGETING_TYPE_SESSION_POSITION",
                    "TARGETING_TYPE_YOUTUBE_CHANNEL_PACK"
                  ],
                  "enumDescriptions": [
                    "Default value when type is not specified or is unknown in this version.",
                    "Target a channel (a custom group of related websites or apps).",
                    "Target an app category (for example, education or puzzle games).",
                    "Target a specific app (for example, Angry Birds).",
                    "Target a specific url (for example, quora.com).",
                    "Target ads during a chosen time period on a specific day.",
                    "Target ads to a specific age range (for example, 18-24).",
                    "Target ads to the specified regions on a regional location list.",
                    "Target ads to the specified points of interest on a proximity location list.",
                    "Target ads to a specific gender (for example, female or male).",
                    "Target a specific video player size for video ads.",
                    "Target user rewarded content for video ads.",
                    "Target ads to a specific parental status (for example, parent or not a parent).",
                    "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                    "Target ads in a specific content outstream position.",
                    "Target ads to a specific device type (for example, tablet or connected TV).",
                    "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                    "Target ads to specific web browsers (for example, Chrome).",
                    "Target ads to a specific household income range (for example, top 10%).",
                    "Target ads in a specific on screen position.",
                    "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                    "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                    "Filter website content by sensitive categories (for example, adult).",
                    "Target ads to a specific environment (for example, web or app).",
                    "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                    "Target ads to a specific operating system (for example, macOS).",
                    "Target ads to a specific device make or model (for example, Roku or Samsung).",
                    "Target ads to a specific keyword (for example, dog or retriever).",
                    "Target ads to a specific negative keyword list.",
                    "Target ads to a specific viewability (for example, 80% viewable).",
                    "Target ads to a specific content category (for example, arts & entertainment).",
                    "Purchase impressions from specific deals and auction packages.",
                    "Target ads to a specific language (for example, English or Japanese).",
                    "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                    "Target ads to a specific regional location (for example, a city or state).",
                    "Purchase impressions from a group of deals and auction packages.",
                    "Purchase impressions from specific exchanges.",
                    "Purchase impressions from specific sub-exchanges.",
                    "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                    "Target ads around locations of a business chain within a specific geo region.",
                    "Target ads to a specific video content duration.",
                    "Target ads to a specific video content stream type.",
                    "Target ads to a specific native content position.",
                    "Target ads in an Open Measurement enabled inventory.",
                    "Target ads to a specific audio content type.",
                    "Target ads to a specific content genre.",
                    "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                    "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                    "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.",
                    "Target ads to a specific YouTube channel pack."
                  ],
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "description": "Required. The type of targeting option to retrieve. Accepted values are: * `TARGETING_TYPE_APP_CATEGORY` * `TARGETING_TYPE_AGE_RANGE` * `TARGETING_TYPE_GENDER` * `TARGETING_TYPE_VIDEO_PLAYER_SIZE` * `TARGETING_TYPE_USER_REWARDED_CONTENT` * `TARGETING_TYPE_PARENTAL_STATUS` * `TARGETING_TYPE_CONTENT_INSTREAM_POSITION` * `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION` * `TARGETING_TYPE_DEVICE_TYPE` * `TARGETING_TYPE_BROWSER` * `TARGETING_TYPE_HOUSEHOLD_INCOME` * `TARGETING_TYPE_ON_SCREEN_POSITION` * `TARGETING_TYPE_CARRIER_AND_ISP` * `TARGETING_TYPE_OPERATING_SYSTEM` * `TARGETING_TYPE_DEVICE_MAKE_MODEL` * `TARGETING_TYPE_ENVIRONMENT` * `TARGETING_TYPE_CATEGORY` * `TARGETING_TYPE_VIEWABILITY` * `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS` * `TARGETING_TYPE_LANGUAGE` * `TARGETING_TYPE_GEO_REGION` * `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION` * `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION` * `TARGETING_TYPE_EXCHANGE` * `TARGETING_TYPE_SUB_EXCHANGE` * `TARGETING_TYPE_NATIVE_CONTENT_POSITION` * `TARGETING_TYPE_OMID`",
                  "location": "path"
                }
              },
              "id": "displayvideo.targetingTypes.targetingOptions.get",
              "flatPath": "v2/targetingTypes/{targetingTypesId}/targetingOptions/{targetingOptionsId}",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "parameterOrder": [
                "targetingType",
                "targetingOptionId"
              ],
              "description": "Gets a single targeting option.",
              "path": "v2/targetingTypes/{+targetingType}/targetingOptions/{+targetingOptionId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "TargetingOption"
              }
            },
            "list": {
              "parameters": {
                "advertiserId": {
                  "format": "int64",
                  "location": "query",
                  "description": "Required. The Advertiser this request is being made in the context of.",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListTargetingOptions` method. If not specified, the first page of results will be returned."
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Allows filtering by targeting option fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `OR` logical operators. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=)` operator. Supported fields: * `carrierAndIspDetails.type` * `geoRegionDetails.geoRegionType` * `targetingOptionId` Examples: * All `GEO REGION` targeting options that belong to sub type `GEO_REGION_TYPE_COUNTRY` or `GEO_REGION_TYPE_STATE`: `geoRegionDetails.geoRegionType=\"GEO_REGION_TYPE_COUNTRY\" OR geoRegionDetails.geoRegionType=\"GEO_REGION_TYPE_STATE\"` * All `CARRIER AND ISP` targeting options that belong to sub type `CARRIER_AND_ISP_TYPE_CARRIER`: `carrierAndIspDetails.type=\"CARRIER_AND_ISP_TYPE_CARRIER\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information."
                },
                "targetingType": {
                  "type": "string",
                  "description": "Required. The type of targeting option to be listed. Accepted values are: * `TARGETING_TYPE_APP_CATEGORY` * `TARGETING_TYPE_AGE_RANGE` * `TARGETING_TYPE_GENDER` * `TARGETING_TYPE_VIDEO_PLAYER_SIZE` * `TARGETING_TYPE_USER_REWARDED_CONTENT` * `TARGETING_TYPE_PARENTAL_STATUS` * `TARGETING_TYPE_CONTENT_INSTREAM_POSITION` * `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION` * `TARGETING_TYPE_DEVICE_TYPE` * `TARGETING_TYPE_BROWSER` * `TARGETING_TYPE_HOUSEHOLD_INCOME` * `TARGETING_TYPE_ON_SCREEN_POSITION` * `TARGETING_TYPE_CARRIER_AND_ISP` * `TARGETING_TYPE_OPERATING_SYSTEM` * `TARGETING_TYPE_DEVICE_MAKE_MODEL` * `TARGETING_TYPE_ENVIRONMENT` * `TARGETING_TYPE_CATEGORY` * `TARGETING_TYPE_VIEWABILITY` * `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS` * `TARGETING_TYPE_LANGUAGE` * `TARGETING_TYPE_GEO_REGION` * `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION` * `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION` * `TARGETING_TYPE_EXCHANGE` * `TARGETING_TYPE_SUB_EXCHANGE` * `TARGETING_TYPE_NATIVE_CONTENT_POSITION` * `TARGETING_TYPE_OMID`",
                  "required": true,
                  "enum": [
                    "TARGETING_TYPE_UNSPECIFIED",
                    "TARGETING_TYPE_CHANNEL",
                    "TARGETING_TYPE_APP_CATEGORY",
                    "TARGETING_TYPE_APP",
                    "TARGETING_TYPE_URL",
                    "TARGETING_TYPE_DAY_AND_TIME",
                    "TARGETING_TYPE_AGE_RANGE",
                    "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                    "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                    "TARGETING_TYPE_GENDER",
                    "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                    "TARGETING_TYPE_USER_REWARDED_CONTENT",
                    "TARGETING_TYPE_PARENTAL_STATUS",
                    "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                    "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                    "TARGETING_TYPE_DEVICE_TYPE",
                    "TARGETING_TYPE_AUDIENCE_GROUP",
                    "TARGETING_TYPE_BROWSER",
                    "TARGETING_TYPE_HOUSEHOLD_INCOME",
                    "TARGETING_TYPE_ON_SCREEN_POSITION",
                    "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                    "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                    "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                    "TARGETING_TYPE_ENVIRONMENT",
                    "TARGETING_TYPE_CARRIER_AND_ISP",
                    "TARGETING_TYPE_OPERATING_SYSTEM",
                    "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                    "TARGETING_TYPE_KEYWORD",
                    "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                    "TARGETING_TYPE_VIEWABILITY",
                    "TARGETING_TYPE_CATEGORY",
                    "TARGETING_TYPE_INVENTORY_SOURCE",
                    "TARGETING_TYPE_LANGUAGE",
                    "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                    "TARGETING_TYPE_GEO_REGION",
                    "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                    "TARGETING_TYPE_EXCHANGE",
                    "TARGETING_TYPE_SUB_EXCHANGE",
                    "TARGETING_TYPE_POI",
                    "TARGETING_TYPE_BUSINESS_CHAIN",
                    "TARGETING_TYPE_CONTENT_DURATION",
                    "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                    "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                    "TARGETING_TYPE_OMID",
                    "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                    "TARGETING_TYPE_CONTENT_GENRE",
                    "TARGETING_TYPE_YOUTUBE_VIDEO",
                    "TARGETING_TYPE_YOUTUBE_CHANNEL",
                    "TARGETING_TYPE_SESSION_POSITION",
                    "TARGETING_TYPE_YOUTUBE_CHANNEL_PACK"
                  ],
                  "enumDescriptions": [
                    "Default value when type is not specified or is unknown in this version.",
                    "Target a channel (a custom group of related websites or apps).",
                    "Target an app category (for example, education or puzzle games).",
                    "Target a specific app (for example, Angry Birds).",
                    "Target a specific url (for example, quora.com).",
                    "Target ads during a chosen time period on a specific day.",
                    "Target ads to a specific age range (for example, 18-24).",
                    "Target ads to the specified regions on a regional location list.",
                    "Target ads to the specified points of interest on a proximity location list.",
                    "Target ads to a specific gender (for example, female or male).",
                    "Target a specific video player size for video ads.",
                    "Target user rewarded content for video ads.",
                    "Target ads to a specific parental status (for example, parent or not a parent).",
                    "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                    "Target ads in a specific content outstream position.",
                    "Target ads to a specific device type (for example, tablet or connected TV).",
                    "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                    "Target ads to specific web browsers (for example, Chrome).",
                    "Target ads to a specific household income range (for example, top 10%).",
                    "Target ads in a specific on screen position.",
                    "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                    "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                    "Filter website content by sensitive categories (for example, adult).",
                    "Target ads to a specific environment (for example, web or app).",
                    "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                    "Target ads to a specific operating system (for example, macOS).",
                    "Target ads to a specific device make or model (for example, Roku or Samsung).",
                    "Target ads to a specific keyword (for example, dog or retriever).",
                    "Target ads to a specific negative keyword list.",
                    "Target ads to a specific viewability (for example, 80% viewable).",
                    "Target ads to a specific content category (for example, arts & entertainment).",
                    "Purchase impressions from specific deals and auction packages.",
                    "Target ads to a specific language (for example, English or Japanese).",
                    "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                    "Target ads to a specific regional location (for example, a city or state).",
                    "Purchase impressions from a group of deals and auction packages.",
                    "Purchase impressions from specific exchanges.",
                    "Purchase impressions from specific sub-exchanges.",
                    "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                    "Target ads around locations of a business chain within a specific geo region.",
                    "Target ads to a specific video content duration.",
                    "Target ads to a specific video content stream type.",
                    "Target ads to a specific native content position.",
                    "Target ads in an Open Measurement enabled inventory.",
                    "Target ads to a specific audio content type.",
                    "Target ads to a specific content genre.",
                    "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                    "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                    "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.",
                    "Target ads to a specific YouTube channel pack."
                  ],
                  "location": "path",
                  "pattern": "^[^/]+$"
                },
                "pageSize": {
                  "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Field by which to sort the list. Acceptable values are: * `targetingOptionId` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `targetingOptionId desc`."
                }
              },
              "flatPath": "v2/targetingTypes/{targetingTypesId}/targetingOptions",
              "description": "Lists targeting options of a given type.",
              "httpMethod": "GET",
              "parameterOrder": [
                "targetingType"
              ],
              "path": "v2/targetingTypes/{+targetingType}/targetingOptions",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "response": {
                "$ref": "ListTargetingOptionsResponse"
              },
              "id": "displayvideo.targetingTypes.targetingOptions.list"
            }
          }
        }
      }
    },
    "guaranteedOrders": {
      "methods": {
        "editGuaranteedOrderReadAccessors": {
          "parameters": {
            "guaranteedOrderId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. The ID of the guaranteed order to edit. The ID is of the format `{exchange}-{legacy_guaranteed_order_id}`",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "guaranteedOrderId"
          ],
          "id": "displayvideo.guaranteedOrders.editGuaranteedOrderReadAccessors",
          "description": "Edits read advertisers of a guaranteed order.",
          "request": {
            "$ref": "EditGuaranteedOrderReadAccessorsRequest"
          },
          "response": {
            "$ref": "EditGuaranteedOrderReadAccessorsResponse"
          },
          "path": "v2/guaranteedOrders/{+guaranteedOrderId}:editGuaranteedOrderReadAccessors",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "httpMethod": "POST",
          "flatPath": "v2/guaranteedOrders/{guaranteedOrdersId}:editGuaranteedOrderReadAccessors"
        },
        "create": {
          "response": {
            "$ref": "GuaranteedOrder"
          },
          "path": "v2/guaranteedOrders",
          "parameters": {
            "advertiserId": {
              "type": "string",
              "description": "The ID of the advertiser that the request is being made within.",
              "location": "query",
              "format": "int64"
            },
            "partnerId": {
              "location": "query",
              "format": "int64",
              "description": "The ID of the partner that the request is being made within.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "parameterOrder": [],
          "flatPath": "v2/guaranteedOrders",
          "request": {
            "$ref": "GuaranteedOrder"
          },
          "description": "Creates a new guaranteed order. Returns the newly created guaranteed order if successful.",
          "id": "displayvideo.guaranteedOrders.create",
          "httpMethod": "POST"
        },
        "patch": {
          "request": {
            "$ref": "GuaranteedOrder"
          },
          "response": {
            "$ref": "GuaranteedOrder"
          },
          "description": "Updates an existing guaranteed order. Returns the updated guaranteed order if successful.",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "parameters": {
            "guaranteedOrderId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Output only. The unique identifier of the guaranteed order. The guaranteed order IDs have the format `{exchange}-{legacy_guaranteed_order_id}`."
            },
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "description": "Required. The mask to control which fields to update.",
              "location": "query"
            },
            "advertiserId": {
              "type": "string",
              "format": "int64",
              "description": "The ID of the advertiser that the request is being made within.",
              "location": "query"
            },
            "partnerId": {
              "description": "The ID of the partner that the request is being made within.",
              "format": "int64",
              "type": "string",
              "location": "query"
            }
          },
          "path": "v2/guaranteedOrders/{+guaranteedOrderId}",
          "parameterOrder": [
            "guaranteedOrderId"
          ],
          "id": "displayvideo.guaranteedOrders.patch",
          "flatPath": "v2/guaranteedOrders/{guaranteedOrdersId}"
        },
        "list": {
          "path": "v2/guaranteedOrders",
          "parameterOrder": [],
          "flatPath": "v2/guaranteedOrders",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "parameters": {
            "pageSize": {
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "Field by which to sort the list. Acceptable values are: * `displayName` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. For example, `displayName desc`."
            },
            "pageToken": {
              "type": "string",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListGuaranteedOrders` method. If not specified, the first page of results will be returned.",
              "location": "query"
            },
            "filter": {
              "location": "query",
              "description": "Allows filtering by guaranteed order fields. * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=)` operator. Supported fields: * `guaranteed_order_id` * `exchange` * `display_name` * `status.entityStatus` Examples: * All active guaranteed orders: `status.entityStatus=\"ENTITY_STATUS_ACTIVE\"` * Guaranteed orders belonging to Google Ad Manager or Rubicon exchanges: `exchange=\"EXCHANGE_GOOGLE_AD_MANAGER\" OR exchange=\"EXCHANGE_RUBICON\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
              "type": "string"
            },
            "partnerId": {
              "description": "The ID of the partner that has access to the guaranteed order.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "advertiserId": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "The ID of the advertiser that has access to the guaranteed order."
            }
          },
          "description": "Lists guaranteed orders that are accessible to the current user. The order is defined by the order_by parameter. If a filter by entity_status is not specified, guaranteed orders with entity status `ENTITY_STATUS_ARCHIVED` will not be included in the results.",
          "response": {
            "$ref": "ListGuaranteedOrdersResponse"
          },
          "id": "displayvideo.guaranteedOrders.list"
        },
        "get": {
          "parameters": {
            "advertiserId": {
              "location": "query",
              "description": "The ID of the advertiser that has access to the guaranteed order.",
              "type": "string",
              "format": "int64"
            },
            "partnerId": {
              "format": "int64",
              "description": "The ID of the partner that has access to the guaranteed order.",
              "type": "string",
              "location": "query"
            },
            "guaranteedOrderId": {
              "type": "string",
              "description": "Required. The ID of the guaranteed order to fetch. The ID is of the format `{exchange}-{legacy_guaranteed_order_id}`",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$"
            }
          },
          "response": {
            "$ref": "GuaranteedOrder"
          },
          "id": "displayvideo.guaranteedOrders.get",
          "flatPath": "v2/guaranteedOrders/{guaranteedOrdersId}",
          "parameterOrder": [
            "guaranteedOrderId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "path": "v2/guaranteedOrders/{+guaranteedOrderId}",
          "description": "Gets a guaranteed order."
        }
      }
    },
    "users": {
      "methods": {
        "create": {
          "parameters": {},
          "flatPath": "v2/users",
          "scopes": [
            "https://www.googleapis.com/auth/display-video-user-management"
          ],
          "parameterOrder": [],
          "request": {
            "$ref": "User"
          },
          "id": "displayvideo.users.create",
          "response": {
            "$ref": "User"
          },
          "httpMethod": "POST",
          "path": "v2/users",
          "description": "Creates a new user. Returns the newly created user if successful. This method has unique authentication requirements. Read the prerequisites in our [Managing Users guide](/display-video/api/guides/users/overview#prerequisites) before using this method. The \"Try this method\" feature does not work for this method."
        },
        "bulkEditAssignedUserRoles": {
          "description": "Bulk edits user roles for a user. The operation will delete the assigned user roles provided in BulkEditAssignedUserRolesRequest.deletedAssignedUserRoles and then assign the user roles provided in BulkEditAssignedUserRolesRequest.createdAssignedUserRoles. This method has unique authentication requirements. Read the prerequisites in our [Managing Users guide](/display-video/api/guides/users/overview#prerequisites) before using this method. The \"Try this method\" feature does not work for this method.",
          "id": "displayvideo.users.bulkEditAssignedUserRoles",
          "response": {
            "$ref": "BulkEditAssignedUserRolesResponse"
          },
          "parameters": {
            "userId": {
              "pattern": "^[^/]+$",
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "Required. The ID of the user to which the assigned user roles belong."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video-user-management"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "BulkEditAssignedUserRolesRequest"
          },
          "flatPath": "v2/users/{usersId}:bulkEditAssignedUserRoles",
          "parameterOrder": [
            "userId"
          ],
          "path": "v2/users/{+userId}:bulkEditAssignedUserRoles"
        },
        "delete": {
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video-user-management"
          ],
          "path": "v2/users/{+userId}",
          "parameters": {
            "userId": {
              "location": "path",
              "description": "Required. The ID of the user to delete.",
              "format": "int64",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "description": "Deletes a user. This method has unique authentication requirements. Read the prerequisites in our [Managing Users guide](/display-video/api/guides/users/overview#prerequisites) before using this method. The \"Try this method\" feature does not work for this method.",
          "id": "displayvideo.users.delete",
          "parameterOrder": [
            "userId"
          ],
          "flatPath": "v2/users/{usersId}",
          "httpMethod": "DELETE"
        },
        "list": {
          "flatPath": "v2/users",
          "parameters": {
            "pageToken": {
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListUsers` method. If not specified, the first page of results will be returned.",
              "type": "string",
              "location": "query"
            },
            "filter": {
              "type": "string",
              "description": "Allows filtering by user fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by the logical operator `AND`. * A restriction has the form of `{field} {operator} {value}`. * The `displayName` and `email` fields must use the `HAS (:)` operator. * The `lastLoginTime` field must use either the `LESS THAN OR EQUAL TO (<=)` or `GREATER THAN OR EQUAL TO (>=)` operator. * All other fields must use the `EQUALS (=)` operator. Supported fields: * `assignedUserRole.advertiserId` * `assignedUserRole.entityType`: This is synthetic field of `AssignedUserRole` used for filtering. Identifies the type of entity to which the user role is assigned. Valid values are `Partner` and `Advertiser`. * `assignedUserRole.parentPartnerId`: This is a synthetic field of `AssignedUserRole` used for filtering. Identifies the parent partner of the entity to which the user role is assigned. * `assignedUserRole.partnerId` * `assignedUserRole.userRole` * `displayName` * `email` * `lastLoginTime` (input in ISO 8601 format, or `YYYY-MM-DDTHH:MM:SSZ`) Examples: * The user with `displayName` containing \"foo\": `displayName:\"foo\"` * The user with `email` containing \"bar\": `email:\"bar\"` * All users with standard user roles: `assignedUserRole.userRole=\"STANDARD\"` * All users with user roles for partner 123: `assignedUserRole.partnerId=\"123\"` * All users with user roles for advertiser 123: `assignedUserRole.advertiserId=\"123\"` * All users with partner level user roles: `entityType=\"PARTNER\"` * All users with user roles for partner 123 and advertisers under partner 123: `parentPartnerId=\"123\"` * All users that last logged in on or after 2023-01-01T00:00:00Z (format of ISO 8601): `lastLoginTime>=\"2023-01-01T00:00:00Z\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
              "location": "query"
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "Field by which to sort the list. Acceptable values are: * `displayName` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. For example, `displayName desc`."
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`."
            }
          },
          "id": "displayvideo.users.list",
          "description": "Lists users that are accessible to the current user. If two users have user roles on the same partner or advertiser, they can access each other. This method has unique authentication requirements. Read the prerequisites in our [Managing Users guide](/display-video/api/guides/users/overview#prerequisites) before using this method. The \"Try this method\" feature does not work for this method.",
          "scopes": [
            "https://www.googleapis.com/auth/display-video-user-management"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "ListUsersResponse"
          },
          "path": "v2/users",
          "parameterOrder": []
        },
        "patch": {
          "request": {
            "$ref": "User"
          },
          "parameters": {
            "userId": {
              "format": "int64",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string",
              "description": "Output only. The unique ID of the user. Assigned by the system.",
              "required": true
            },
            "updateMask": {
              "description": "Required. The mask to control which fields to update.",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Updates an existing user. Returns the updated user if successful. This method has unique authentication requirements. Read the prerequisites in our [Managing Users guide](/display-video/api/guides/users/overview#prerequisites) before using this method. The \"Try this method\" feature does not work for this method.",
          "flatPath": "v2/users/{usersId}",
          "id": "displayvideo.users.patch",
          "parameterOrder": [
            "userId"
          ],
          "path": "v2/users/{+userId}",
          "response": {
            "$ref": "User"
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video-user-management"
          ],
          "httpMethod": "PATCH"
        },
        "get": {
          "description": "Gets a user. This method has unique authentication requirements. Read the prerequisites in our [Managing Users guide](/display-video/api/guides/users/overview#prerequisites) before using this method. The \"Try this method\" feature does not work for this method.",
          "response": {
            "$ref": "User"
          },
          "parameters": {
            "userId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the user to fetch.",
              "required": true
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/display-video-user-management"
          ],
          "id": "displayvideo.users.get",
          "flatPath": "v2/users/{usersId}",
          "path": "v2/users/{+userId}",
          "parameterOrder": [
            "userId"
          ]
        }
      }
    },
    "sdfdownloadtasks": {
      "methods": {
        "create": {
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "description": "Creates an SDF Download Task. Returns an Operation. An SDF Download Task is a long-running, asynchronous operation. The metadata type of this operation is SdfDownloadTaskMetadata. If the request is successful, the response type of the operation is SdfDownloadTask. The response will not include the download files, which must be retrieved with media.download. The state of operation can be retrieved with `sdfdownloadtasks.operations.get`. Any errors can be found in the error.message. Note that error.details is expected to be empty.",
          "request": {
            "$ref": "CreateSdfDownloadTaskRequest"
          },
          "path": "v2/sdfdownloadtasks",
          "parameters": {},
          "flatPath": "v2/sdfdownloadtasks",
          "id": "displayvideo.sdfdownloadtasks.create",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ]
        }
      },
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^sdfdownloadtasks/operations/[^/]+$",
                  "location": "path",
                  "description": "The name of the operation resource.",
                  "type": "string"
                }
              },
              "description": "Gets the latest state of an asynchronous SDF download task operation. Clients should poll this method at intervals of 30 seconds.",
              "response": {
                "$ref": "Operation"
              },
              "id": "displayvideo.sdfdownloadtasks.operations.get",
              "scopes": [
                "https://www.googleapis.com/auth/display-video",
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ],
              "flatPath": "v2/sdfdownloadtasks/operations/{operationsId}",
              "path": "v2/{+name}",
              "httpMethod": "GET"
            }
          }
        }
      }
    },
    "floodlightGroups": {
      "methods": {
        "get": {
          "id": "displayvideo.floodlightGroups.get",
          "path": "v2/floodlightGroups/{+floodlightGroupId}",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "flatPath": "v2/floodlightGroups/{floodlightGroupsId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "floodlightGroupId"
          ],
          "description": "Gets a Floodlight group.",
          "parameters": {
            "partnerId": {
              "location": "query",
              "format": "int64",
              "description": "Required. The partner context by which the Floodlight group is being accessed.",
              "type": "string"
            },
            "floodlightGroupId": {
              "description": "Required. The ID of the Floodlight group to fetch.",
              "format": "int64",
              "location": "path",
              "type": "string",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "response": {
            "$ref": "FloodlightGroup"
          }
        },
        "patch": {
          "request": {
            "$ref": "FloodlightGroup"
          },
          "parameters": {
            "floodlightGroupId": {
              "type": "string",
              "required": true,
              "description": "Output only. The unique ID of the Floodlight group. Assigned by the system.",
              "location": "path",
              "format": "int64"
            },
            "partnerId": {
              "description": "Required. The partner context by which the Floodlight group is being accessed.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "description": "Required. The mask to control which fields to update.",
              "format": "google-fieldmask"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "flatPath": "v2/floodlightGroups/{floodlightGroupId}",
          "id": "displayvideo.floodlightGroups.patch",
          "parameterOrder": [
            "floodlightGroupId"
          ],
          "description": "Updates an existing Floodlight group. Returns the updated Floodlight group if successful.",
          "response": {
            "$ref": "FloodlightGroup"
          },
          "httpMethod": "PATCH",
          "path": "v2/floodlightGroups/{floodlightGroupId}"
        }
      },
      "resources": {
        "floodlightActivities": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "FloodlightActivity"
              },
              "description": "Gets a Floodlight activity.",
              "path": "v2/floodlightGroups/{+floodlightGroupId}/floodlightActivities/{+floodlightActivityId}",
              "parameterOrder": [
                "floodlightGroupId",
                "floodlightActivityId"
              ],
              "flatPath": "v2/floodlightGroups/{floodlightGroupsId}/floodlightActivities/{floodlightActivitiesId}",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "id": "displayvideo.floodlightGroups.floodlightActivities.get",
              "parameters": {
                "floodlightGroupId": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The ID of the parent Floodlight group to which the requested Floodlight activity belongs.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "format": "int64"
                },
                "partnerId": {
                  "location": "query",
                  "description": "Required. The ID of the partner through which the Floodlight activity is being accessed.",
                  "format": "int64",
                  "type": "string"
                },
                "floodlightActivityId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "format": "int64",
                  "description": "Required. The ID of the Floodlight activity to fetch.",
                  "pattern": "^[^/]+$"
                }
              }
            },
            "list": {
              "httpMethod": "GET",
              "id": "displayvideo.floodlightGroups.floodlightActivities.list",
              "path": "v2/floodlightGroups/{+floodlightGroupId}/floodlightActivities",
              "description": "Lists Floodlight activities in a Floodlight group.",
              "flatPath": "v2/floodlightGroups/{floodlightGroupsId}/floodlightActivities",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "parameterOrder": [
                "floodlightGroupId"
              ],
              "response": {
                "$ref": "ListFloodlightActivitiesResponse"
              },
              "parameters": {
                "floodlightGroupId": {
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the parent Floodlight group to which the requested Floodlight activities belong.",
                  "location": "path",
                  "required": true,
                  "format": "int64"
                },
                "pageToken": {
                  "description": "Optional. A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListFloodlightActivities` method. If not specified, the first page of results will be returned.",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "location": "query",
                  "description": "Optional. Field by which to sort the list. Acceptable values are: * `displayName` (default) * `floodlightActivityId` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `displayName desc`.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                  "location": "query",
                  "format": "int32"
                },
                "partnerId": {
                  "description": "Required. The ID of the partner through which the Floodlight activities are being accessed.",
                  "location": "query",
                  "format": "int64",
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "parameters": {
            "resourceName": {
              "required": true,
              "description": "Name of the media that is being downloaded. See ReadRequest.resource_name.",
              "location": "path",
              "pattern": "^.*$",
              "type": "string"
            }
          },
          "path": "media/{+resourceName}",
          "parameterOrder": [
            "resourceName"
          ],
          "response": {
            "$ref": "GoogleBytestreamMedia"
          },
          "id": "displayvideo.media.upload",
          "supportsMediaUpload": true,
          "request": {
            "$ref": "GoogleBytestreamMedia"
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video",
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "description": "Uploads media. Upload is supported on the URI `/upload/media/{resource_name=**}?upload_type=media.` **Note**: Upload requests will not be successful without including `upload_type=media` query string.",
          "httpMethod": "POST",
          "flatPath": "media/{mediaId}",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/media/{+resourceName}"
              }
            }
          }
        },
        "download": {
          "parameters": {
            "resourceName": {
              "description": "Name of the media that is being downloaded. See ReadRequest.resource_name.",
              "location": "path",
              "type": "string",
              "pattern": "^.*$",
              "required": true
            }
          },
          "description": "Downloads media. Download is supported on the URI `/download/{resource_name=**}?alt=media.` **Note**: Download requests will not be successful without including `alt=media` query string.",
          "flatPath": "download/{downloadId}",
          "id": "displayvideo.media.download",
          "scopes": [
            "https://www.googleapis.com/auth/display-video",
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "supportsMediaDownload": true,
          "parameterOrder": [
            "resourceName"
          ],
          "path": "download/{+resourceName}",
          "response": {
            "$ref": "GoogleBytestreamMedia"
          },
          "httpMethod": "GET"
        }
      }
    },
    "partners": {
      "resources": {
        "channels": {
          "resources": {
            "sites": {
              "methods": {
                "create": {
                  "description": "Creates a site in a channel.",
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "flatPath": "v2/partners/{partnerId}/channels/{channelsId}/sites",
                  "parameterOrder": [
                    "partnerId",
                    "channelId"
                  ],
                  "parameters": {
                    "advertiserId": {
                      "type": "string",
                      "description": "The ID of the advertiser that owns the parent channel.",
                      "format": "int64",
                      "location": "query"
                    },
                    "partnerId": {
                      "type": "string",
                      "format": "int64",
                      "required": true,
                      "description": "The ID of the partner that owns the parent channel.",
                      "location": "path"
                    },
                    "channelId": {
                      "location": "path",
                      "pattern": "^[^/]+$",
                      "type": "string",
                      "format": "int64",
                      "description": "Required. The ID of the parent channel in which the site will be created.",
                      "required": true
                    }
                  },
                  "path": "v2/partners/{partnerId}/channels/{+channelId}/sites",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Site"
                  },
                  "id": "displayvideo.partners.channels.sites.create",
                  "request": {
                    "$ref": "Site"
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "description": "Deletes a site from a channel.",
                  "flatPath": "v2/partners/{partnerId}/channels/{channelsId}/sites/{sitesId}",
                  "id": "displayvideo.partners.channels.sites.delete",
                  "path": "v2/partners/{partnerId}/channels/{+channelId}/sites/{+urlOrAppId}",
                  "parameterOrder": [
                    "partnerId",
                    "channelId",
                    "urlOrAppId"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "parameters": {
                    "urlOrAppId": {
                      "location": "path",
                      "pattern": "^[^/]+$",
                      "type": "string",
                      "description": "Required. The URL or app ID of the site to delete.",
                      "required": true
                    },
                    "partnerId": {
                      "description": "The ID of the partner that owns the parent channel.",
                      "format": "int64",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "channelId": {
                      "description": "Required. The ID of the parent channel to which the site belongs.",
                      "format": "int64",
                      "required": true,
                      "pattern": "^[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "advertiserId": {
                      "location": "query",
                      "format": "int64",
                      "description": "The ID of the advertiser that owns the parent channel.",
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "parameterOrder": [
                    "partnerId",
                    "channelId"
                  ],
                  "path": "v2/partners/{+partnerId}/channels/{+channelId}/sites",
                  "flatPath": "v2/partners/{partnersId}/channels/{channelsId}/sites",
                  "httpMethod": "GET",
                  "description": "Lists sites in a channel.",
                  "response": {
                    "$ref": "ListSitesResponse"
                  },
                  "id": "displayvideo.partners.channels.sites.list",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Allows filtering by site fields. Supported syntax: * Filter expressions for site retrieval can only contain at most one restriction. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `HAS (:)` operator. Supported fields: * `urlOrAppId` Examples: * All sites for which the URL or app ID contains \"google\": `urlOrAppId : \"google\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information."
                    },
                    "pageSize": {
                      "description": "Requested page size. Must be between `1` and `10000`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "partnerId": {
                      "format": "int64",
                      "type": "string",
                      "description": "The ID of the partner that owns the parent channel.",
                      "location": "path",
                      "pattern": "^[^/]+$",
                      "required": true
                    },
                    "advertiserId": {
                      "type": "string",
                      "location": "query",
                      "description": "The ID of the advertiser that owns the parent channel.",
                      "format": "int64"
                    },
                    "orderBy": {
                      "description": "Field by which to sort the list. Acceptable values are: * `urlOrAppId` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be added to the field name. Example: `urlOrAppId desc`.",
                      "location": "query",
                      "type": "string"
                    },
                    "channelId": {
                      "pattern": "^[^/]+$",
                      "required": true,
                      "description": "Required. The ID of the parent channel to which the requested sites belong.",
                      "format": "int64",
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListSites` method. If not specified, the first page of results will be returned."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ]
                },
                "bulkEdit": {
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "parameters": {
                    "partnerId": {
                      "required": true,
                      "description": "The ID of the partner that owns the parent channel.",
                      "format": "int64",
                      "type": "string",
                      "location": "path"
                    },
                    "channelId": {
                      "description": "Required. The ID of the parent channel to which the sites belong.",
                      "location": "path",
                      "format": "int64",
                      "required": true,
                      "pattern": "^[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "BulkEditSitesResponse"
                  },
                  "id": "displayvideo.partners.channels.sites.bulkEdit",
                  "request": {
                    "$ref": "BulkEditSitesRequest"
                  },
                  "description": "Bulk edits sites under a single channel. The operation will delete the sites provided in BulkEditSitesRequest.deleted_sites and then create the sites provided in BulkEditSitesRequest.created_sites.",
                  "flatPath": "v2/partners/{partnerId}/channels/{channelsId}/sites:bulkEdit",
                  "path": "v2/partners/{partnerId}/channels/{+channelId}/sites:bulkEdit",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "partnerId",
                    "channelId"
                  ]
                },
                "replace": {
                  "path": "v2/partners/{partnerId}/channels/{+channelId}/sites:replace",
                  "description": "Replaces all of the sites under a single channel. The operation will replace the sites under a channel with the sites provided in ReplaceSitesRequest.new_sites. **This method regularly experiences high latency.** We recommend [increasing your default timeout](/display-video/api/guides/best-practices/timeouts#client_library_timeout) to avoid errors.",
                  "request": {
                    "$ref": "ReplaceSitesRequest"
                  },
                  "httpMethod": "POST",
                  "id": "displayvideo.partners.channels.sites.replace",
                  "response": {
                    "$ref": "ReplaceSitesResponse"
                  },
                  "parameters": {
                    "partnerId": {
                      "location": "path",
                      "required": true,
                      "description": "The ID of the partner that owns the parent channel.",
                      "format": "int64",
                      "type": "string"
                    },
                    "channelId": {
                      "description": "Required. The ID of the parent channel whose sites will be replaced.",
                      "format": "int64",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "partnerId",
                    "channelId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "flatPath": "v2/partners/{partnerId}/channels/{channelsId}/sites:replace"
                }
              }
            }
          },
          "methods": {
            "patch": {
              "id": "displayvideo.partners.channels.patch",
              "response": {
                "$ref": "Channel"
              },
              "path": "v2/partners/{+partnerId}/channels/{channelId}",
              "httpMethod": "PATCH",
              "parameters": {
                "advertiserId": {
[...]
