{
  "batchPath": "batch",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/display-video": {
          "description": "Create, see, edit, and permanently delete your Display & Video 360 entities and reports"
        },
        "https://www.googleapis.com/auth/doubleclickbidmanager": {
          "description": "View and manage your reports in DoubleClick Bid Manager"
        },
        "https://www.googleapis.com/auth/display-video-user-management": {
          "description": "Private Service: https://www.googleapis.com/auth/display-video-user-management"
        },
        "https://www.googleapis.com/auth/display-video-mediaplanning": {
          "description": "Create, see, and edit Display & Video 360 Campaign entities and see billing invoices"
        }
      }
    }
  },
  "mtlsRootUrl": "https://displayvideo.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "default": "json",
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "basePath": "",
  "protocol": "rest",
  "id": "displayvideo:v2",
  "baseUrl": "https://displayvideo.googleapis.com/",
  "documentationLink": "https://developers.google.com/display-video/",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "revision": "20260825",
  "description": "Display & Video 360 API allows users to automate complex Display & Video 360 workflows, such as creating insertion orders and setting targeting options for individual line items.",
  "name": "displayvideo",
  "ownerName": "Google",
  "version": "v2",
  "canonicalName": "Display Video",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://displayvideo.googleapis.com/",
  "discoveryVersion": "v1",
  "title": "Display & Video 360 API",
  "resources": {
    "sdfdownloadtasks": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "description": "Gets the latest state of an asynchronous SDF download task operation. Clients should poll this method at intervals of 30 seconds.",
              "scopes": [
                "https://www.googleapis.com/auth/display-video",
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "displayvideo.sdfdownloadtasks.operations.get",
              "flatPath": "v2/sdfdownloadtasks/operations/{operationsId}",
              "parameters": {
                "name": {
                  "pattern": "^sdfdownloadtasks/operations/[^/]+$",
                  "type": "string",
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v2/{+name}",
              "httpMethod": "GET",
              "response": {
                "$ref": "Operation"
              }
            }
          }
        }
      },
      "methods": {
        "create": {
          "id": "displayvideo.sdfdownloadtasks.create",
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "description": "Creates an SDF Download Task. Returns an Operation. An SDF Download Task is a long-running, asynchronous operation. The metadata type of this operation is SdfDownloadTaskMetadata. If the request is successful, the response type of the operation is SdfDownloadTask. The response will not include the download files, which must be retrieved with media.download. The state of operation can be retrieved with `sdfdownloadtasks.operations.get`. Any errors can be found in the error.message. Note that error.details is expected to be empty.",
          "path": "v2/sdfdownloadtasks",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "parameterOrder": [],
          "flatPath": "v2/sdfdownloadtasks",
          "request": {
            "$ref": "CreateSdfDownloadTaskRequest"
          },
          "parameters": {}
        }
      }
    },
    "customBiddingAlgorithms": {
      "resources": {
        "scripts": {
          "methods": {
            "list": {
              "description": "Lists custom bidding scripts that belong to the given algorithm. The order is defined by the order_by parameter.",
              "parameters": {
                "customBiddingAlgorithmId": {
                  "format": "int64",
                  "description": "Required. The ID of the custom bidding algorithm owns the script.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "required": true
                },
                "partnerId": {
                  "format": "int64",
                  "location": "query",
                  "type": "string",
                  "description": "The ID of the partner that owns the parent custom bidding algorithm. Only this partner will have write access to this custom bidding script."
                },
                "pageToken": {
                  "type": "string",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListCustomBiddingScripts` method. If not specified, the first page of results will be returned.",
                  "location": "query"
                },
                "orderBy": {
                  "description": "Field by which to sort the list. Acceptable values are: * `createTime desc` (default) The default sorting order is descending. To specify ascending order for a field, the suffix \"desc\" should be removed. Example: `createTime`.",
                  "location": "query",
                  "type": "string"
                },
                "advertiserId": {
                  "type": "string",
                  "description": "The ID of the advertiser that owns the parent custom bidding algorithm.",
                  "location": "query",
                  "format": "int64"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                  "location": "query",
                  "format": "int32"
                }
              },
              "response": {
                "$ref": "ListCustomBiddingScriptsResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "customBiddingAlgorithmId"
              ],
              "flatPath": "v2/customBiddingAlgorithms/{customBiddingAlgorithmsId}/scripts",
              "id": "displayvideo.customBiddingAlgorithms.scripts.list",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "path": "v2/customBiddingAlgorithms/{+customBiddingAlgorithmId}/scripts"
            },
            "create": {
              "id": "displayvideo.customBiddingAlgorithms.scripts.create",
              "flatPath": "v2/customBiddingAlgorithms/{customBiddingAlgorithmsId}/scripts",
              "parameters": {
                "advertiserId": {
                  "description": "The ID of the advertiser that owns the parent custom bidding algorithm.",
                  "location": "query",
                  "format": "int64",
                  "type": "string"
                },
                "partnerId": {
                  "format": "int64",
                  "type": "string",
                  "location": "query",
                  "description": "The ID of the partner that owns the parent custom bidding algorithm. Only this partner will have write access to this custom bidding script."
                },
                "customBiddingAlgorithmId": {
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "type": "string",
                  "description": "Required. The ID of the custom bidding algorithm that owns the script.",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v2/customBiddingAlgorithms/{+customBiddingAlgorithmId}/scripts",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "description": "Creates a new custom bidding script. Returns the newly created script if successful. Requests creating a custom bidding script under an algorithm assigned to a line item will return an error.",
              "httpMethod": "POST",
              "response": {
                "$ref": "CustomBiddingScript"
              },
              "parameterOrder": [
                "customBiddingAlgorithmId"
              ],
              "request": {
                "$ref": "CustomBiddingScript"
              }
            },
            "get": {
              "path": "v2/customBiddingAlgorithms/{+customBiddingAlgorithmId}/scripts/{+customBiddingScriptId}",
              "parameterOrder": [
                "customBiddingAlgorithmId",
                "customBiddingScriptId"
              ],
              "httpMethod": "GET",
              "description": "Gets a custom bidding script.",
              "flatPath": "v2/customBiddingAlgorithms/{customBiddingAlgorithmsId}/scripts/{scriptsId}",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "response": {
                "$ref": "CustomBiddingScript"
              },
              "id": "displayvideo.customBiddingAlgorithms.scripts.get",
              "parameters": {
                "customBiddingAlgorithmId": {
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The ID of the custom bidding algorithm owns the script.",
                  "type": "string"
                },
                "advertiserId": {
                  "type": "string",
                  "description": "The ID of the advertiser that owns the parent custom bidding algorithm.",
                  "location": "query",
                  "format": "int64"
                },
                "customBiddingScriptId": {
                  "required": true,
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The ID of the custom bidding script to fetch.",
                  "format": "int64"
                },
                "partnerId": {
                  "type": "string",
                  "location": "query",
                  "description": "The ID of the partner that owns the parent custom bidding algorithm. Only this partner will have write access to this custom bidding script.",
                  "format": "int64"
                }
              }
            }
          }
        }
      },
      "methods": {
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "id": "displayvideo.customBiddingAlgorithms.create",
          "flatPath": "v2/customBiddingAlgorithms",
          "parameters": {},
          "request": {
            "$ref": "CustomBiddingAlgorithm"
          },
          "response": {
            "$ref": "CustomBiddingAlgorithm"
          },
          "path": "v2/customBiddingAlgorithms",
          "description": "Creates a new custom bidding algorithm. Returns the newly created custom bidding algorithm if successful.",
          "parameterOrder": [],
          "httpMethod": "POST"
        },
        "list": {
          "parameterOrder": [],
          "response": {
            "$ref": "ListCustomBiddingAlgorithmsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "path": "v2/customBiddingAlgorithms",
          "httpMethod": "GET",
          "flatPath": "v2/customBiddingAlgorithms",
          "description": "Lists custom bidding algorithms that are accessible to the current user and can be used in bidding stratgies. The order is defined by the order_by parameter.",
          "parameters": {
            "filter": {
              "location": "query",
              "description": "Allows filtering by custom bidding algorithm fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND`. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * The `customBiddingAlgorithmType` field must use the `EQUALS (=)` operator. * The `displayName` field must use the `HAS (:)` operator. Supported fields: * `customBiddingAlgorithmType` * `displayName` Examples: * All custom bidding algorithms for which the display name contains \"politics\": `displayName:\"politics\"`. * All custom bidding algorithms for which the type is \"SCRIPT_BASED\": `customBiddingAlgorithmType=SCRIPT_BASED` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
              "type": "string"
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "Field by which to sort the list. Acceptable values are: * `displayName` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `displayName desc`."
            },
            "partnerId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the DV360 partner that has access to the custom bidding algorithm.",
              "format": "int64"
            },
            "pageToken": {
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListCustomBiddingAlgorithms` method. If not specified, the first page of results will be returned.",
              "location": "query",
              "type": "string"
            },
            "advertiserId": {
              "location": "query",
              "description": "The ID of the DV360 advertiser that has access to the custom bidding algorithm.",
              "type": "string",
              "format": "int64"
            },
            "pageSize": {
              "location": "query",
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
              "type": "integer",
              "format": "int32"
            }
          },
          "id": "displayvideo.customBiddingAlgorithms.list"
        },
        "get": {
          "parameters": {
            "customBiddingAlgorithmId": {
              "description": "Required. The ID of the custom bidding algorithm to fetch.",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string"
            },
            "advertiserId": {
              "description": "The ID of the DV360 partner that has access to the custom bidding algorithm.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "partnerId": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "The ID of the DV360 partner that has access to the custom bidding algorithm."
            }
          },
          "response": {
            "$ref": "CustomBiddingAlgorithm"
          },
          "description": "Gets a custom bidding algorithm.",
          "id": "displayvideo.customBiddingAlgorithms.get",
          "path": "v2/customBiddingAlgorithms/{+customBiddingAlgorithmId}",
          "httpMethod": "GET",
          "flatPath": "v2/customBiddingAlgorithms/{customBiddingAlgorithmsId}",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "parameterOrder": [
            "customBiddingAlgorithmId"
          ]
        },
        "uploadScript": {
          "httpMethod": "GET",
          "id": "displayvideo.customBiddingAlgorithms.uploadScript",
          "path": "v2/customBiddingAlgorithms/{+customBiddingAlgorithmId}:uploadScript",
          "response": {
            "$ref": "CustomBiddingScriptRef"
          },
          "parameters": {
            "partnerId": {
              "description": "The ID of the partner that owns the parent custom bidding algorithm. Only this partner will have write access to this custom bidding script.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "customBiddingAlgorithmId": {
              "pattern": "^[^/]+$",
              "description": "Required. The ID of the custom bidding algorithm owns the script.",
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true
            },
            "advertiserId": {
              "format": "int64",
              "location": "query",
              "description": "The ID of the advertiser that owns the parent custom bidding algorithm.",
              "type": "string"
            }
          },
          "description": "Creates a custom bidding script reference object for a script file. The resulting reference object provides a resource path to which the script file should be uploaded. This reference object should be included in when creating a new custom bidding script object.",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "parameterOrder": [
            "customBiddingAlgorithmId"
          ],
          "flatPath": "v2/customBiddingAlgorithms/{customBiddingAlgorithmsId}:uploadScript"
        },
        "patch": {
          "path": "v2/customBiddingAlgorithms/{+customBiddingAlgorithmId}",
          "httpMethod": "PATCH",
          "description": "Updates an existing custom bidding algorithm. Returns the updated custom bidding algorithm if successful. Requests updating a custom bidding algorithm assigned to a line item will return an error.",
          "flatPath": "v2/customBiddingAlgorithms/{customBiddingAlgorithmsId}",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "request": {
            "$ref": "CustomBiddingAlgorithm"
          },
          "parameters": {
            "updateMask": {
              "location": "query",
              "description": "Required. The mask to control which fields to update.",
              "type": "string",
              "format": "google-fieldmask"
            },
            "customBiddingAlgorithmId": {
              "type": "string",
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "description": "Output only. The unique ID of the custom bidding algorithm. Assigned by the system."
            }
          },
          "parameterOrder": [
            "customBiddingAlgorithmId"
          ],
          "id": "displayvideo.customBiddingAlgorithms.patch",
          "response": {
            "$ref": "CustomBiddingAlgorithm"
          }
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "scopes": [
            "https://www.googleapis.com/auth/display-video",
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "id": "displayvideo.media.download",
          "parameterOrder": [
            "resourceName"
          ],
          "response": {
            "$ref": "GoogleBytestreamMedia"
          },
          "parameters": {
            "resourceName": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^.*$",
              "description": "Name of the media that is being downloaded. See ReadRequest.resource_name."
            }
          },
          "supportsMediaDownload": true,
          "description": "Downloads media. Download is supported on the URI `/download/{resource_name=**}?alt=media.` **Note**: Download requests will not be successful without including `alt=media` query string.",
          "flatPath": "download/{downloadId}",
          "path": "download/{+resourceName}",
          "httpMethod": "GET"
        },
        "upload": {
          "id": "displayvideo.media.upload",
          "path": "media/{+resourceName}",
          "flatPath": "media/{mediaId}",
          "parameters": {
            "resourceName": {
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^.*$",
              "description": "Name of the media that is being downloaded. See ReadRequest.resource_name."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video",
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "parameterOrder": [
            "resourceName"
          ],
          "request": {
            "$ref": "GoogleBytestreamMedia"
          },
          "description": "Uploads media. Upload is supported on the URI `/upload/media/{resource_name=**}?upload_type=media.` **Note**: Upload requests will not be successful without including `upload_type=media` query string.",
          "response": {
            "$ref": "GoogleBytestreamMedia"
          },
          "supportsMediaUpload": true,
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/media/{+resourceName}"
              }
            }
          },
          "httpMethod": "POST"
        }
      }
    },
    "targetingTypes": {
      "resources": {
        "targetingOptions": {
          "methods": {
            "search": {
              "response": {
                "$ref": "SearchTargetingOptionsResponse"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "parameterOrder": [
                "targetingType"
              ],
              "description": "Searches for targeting options of a given type based on the given search terms.",
              "path": "v2/targetingTypes/{+targetingType}/targetingOptions:search",
              "flatPath": "v2/targetingTypes/{targetingTypesId}/targetingOptions:search",
              "id": "displayvideo.targetingTypes.targetingOptions.search",
              "parameters": {
                "targetingType": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The type of targeting options to retrieve. Accepted values are: * `TARGETING_TYPE_GEO_REGION` * `TARGETING_TYPE_POI` * `TARGETING_TYPE_BUSINESS_CHAIN`",
                  "enumDescriptions": [
                    "Default value when type is not specified or is unknown in this version.",
                    "Target a channel (a custom group of related websites or apps).",
                    "Target an app category (for example, education or puzzle games).",
                    "Target a specific app (for example, Angry Birds).",
                    "Target a specific url (for example, quora.com).",
                    "Target ads during a chosen time period on a specific day.",
                    "Target ads to a specific age range (for example, 18-24).",
                    "Target ads to the specified regions on a regional location list.",
                    "Target ads to the specified points of interest on a proximity location list.",
                    "Target ads to a specific gender (for example, female or male).",
                    "Target a specific video player size for video ads.",
                    "Target user rewarded content for video ads.",
                    "Target ads to a specific parental status (for example, parent or not a parent).",
                    "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                    "Target ads in a specific content outstream position.",
                    "Target ads to a specific device type (for example, tablet or connected TV).",
                    "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                    "Target ads to specific web browsers (for example, Chrome).",
                    "Target ads to a specific household income range (for example, top 10%).",
                    "Target ads in a specific on screen position.",
                    "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                    "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                    "Filter website content by sensitive categories (for example, adult).",
                    "Target ads to a specific environment (for example, web or app).",
                    "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                    "Target ads to a specific operating system (for example, macOS).",
                    "Target ads to a specific device make or model (for example, Roku or Samsung).",
                    "Target ads to a specific keyword (for example, dog or retriever).",
                    "Target ads to a specific negative keyword list.",
                    "Target ads to a specific viewability (for example, 80% viewable).",
                    "Target ads to a specific content category (for example, arts & entertainment).",
                    "Purchase impressions from specific deals and auction packages.",
                    "Target ads to a specific language (for example, English or Japanese).",
                    "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                    "Target ads to a specific regional location (for example, a city or state).",
                    "Purchase impressions from a group of deals and auction packages.",
                    "Purchase impressions from specific exchanges.",
                    "Purchase impressions from specific sub-exchanges.",
                    "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                    "Target ads around locations of a business chain within a specific geo region.",
                    "Target ads to a specific video content duration.",
                    "Target ads to a specific video content stream type.",
                    "Target ads to a specific native content position.",
                    "Target ads in an Open Measurement enabled inventory.",
                    "Target ads to a specific audio content type.",
                    "Target ads to a specific content genre.",
                    "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                    "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                    "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.",
                    "Target ads to a specific YouTube channel pack."
                  ],
                  "pattern": "^[^/]+$",
                  "enum": [
                    "TARGETING_TYPE_UNSPECIFIED",
                    "TARGETING_TYPE_CHANNEL",
                    "TARGETING_TYPE_APP_CATEGORY",
                    "TARGETING_TYPE_APP",
                    "TARGETING_TYPE_URL",
                    "TARGETING_TYPE_DAY_AND_TIME",
                    "TARGETING_TYPE_AGE_RANGE",
                    "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                    "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                    "TARGETING_TYPE_GENDER",
                    "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                    "TARGETING_TYPE_USER_REWARDED_CONTENT",
                    "TARGETING_TYPE_PARENTAL_STATUS",
                    "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                    "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                    "TARGETING_TYPE_DEVICE_TYPE",
                    "TARGETING_TYPE_AUDIENCE_GROUP",
                    "TARGETING_TYPE_BROWSER",
                    "TARGETING_TYPE_HOUSEHOLD_INCOME",
                    "TARGETING_TYPE_ON_SCREEN_POSITION",
                    "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                    "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                    "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                    "TARGETING_TYPE_ENVIRONMENT",
                    "TARGETING_TYPE_CARRIER_AND_ISP",
                    "TARGETING_TYPE_OPERATING_SYSTEM",
                    "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                    "TARGETING_TYPE_KEYWORD",
                    "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                    "TARGETING_TYPE_VIEWABILITY",
                    "TARGETING_TYPE_CATEGORY",
                    "TARGETING_TYPE_INVENTORY_SOURCE",
                    "TARGETING_TYPE_LANGUAGE",
                    "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                    "TARGETING_TYPE_GEO_REGION",
                    "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                    "TARGETING_TYPE_EXCHANGE",
                    "TARGETING_TYPE_SUB_EXCHANGE",
                    "TARGETING_TYPE_POI",
                    "TARGETING_TYPE_BUSINESS_CHAIN",
                    "TARGETING_TYPE_CONTENT_DURATION",
                    "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                    "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                    "TARGETING_TYPE_OMID",
                    "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                    "TARGETING_TYPE_CONTENT_GENRE",
                    "TARGETING_TYPE_YOUTUBE_VIDEO",
                    "TARGETING_TYPE_YOUTUBE_CHANNEL",
                    "TARGETING_TYPE_SESSION_POSITION",
                    "TARGETING_TYPE_YOUTUBE_CHANNEL_PACK"
                  ]
                }
              },
              "request": {
                "$ref": "SearchTargetingOptionsRequest"
              }
            },
            "get": {
              "id": "displayvideo.targetingTypes.targetingOptions.get",
              "parameterOrder": [
                "targetingType",
                "targetingOptionId"
              ],
              "httpMethod": "GET",
              "description": "Gets a single targeting option.",
              "path": "v2/targetingTypes/{+targetingType}/targetingOptions/{+targetingOptionId}",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "flatPath": "v2/targetingTypes/{targetingTypesId}/targetingOptions/{targetingOptionsId}",
              "parameters": {
                "targetingType": {
                  "description": "Required. The type of targeting option to retrieve. Accepted values are: * `TARGETING_TYPE_APP_CATEGORY` * `TARGETING_TYPE_AGE_RANGE` * `TARGETING_TYPE_GENDER` * `TARGETING_TYPE_VIDEO_PLAYER_SIZE` * `TARGETING_TYPE_USER_REWARDED_CONTENT` * `TARGETING_TYPE_PARENTAL_STATUS` * `TARGETING_TYPE_CONTENT_INSTREAM_POSITION` * `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION` * `TARGETING_TYPE_DEVICE_TYPE` * `TARGETING_TYPE_BROWSER` * `TARGETING_TYPE_HOUSEHOLD_INCOME` * `TARGETING_TYPE_ON_SCREEN_POSITION` * `TARGETING_TYPE_CARRIER_AND_ISP` * `TARGETING_TYPE_OPERATING_SYSTEM` * `TARGETING_TYPE_DEVICE_MAKE_MODEL` * `TARGETING_TYPE_ENVIRONMENT` * `TARGETING_TYPE_CATEGORY` * `TARGETING_TYPE_VIEWABILITY` * `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS` * `TARGETING_TYPE_LANGUAGE` * `TARGETING_TYPE_GEO_REGION` * `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION` * `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION` * `TARGETING_TYPE_EXCHANGE` * `TARGETING_TYPE_SUB_EXCHANGE` * `TARGETING_TYPE_NATIVE_CONTENT_POSITION` * `TARGETING_TYPE_OMID`",
                  "location": "path",
                  "enum": [
                    "TARGETING_TYPE_UNSPECIFIED",
                    "TARGETING_TYPE_CHANNEL",
                    "TARGETING_TYPE_APP_CATEGORY",
                    "TARGETING_TYPE_APP",
                    "TARGETING_TYPE_URL",
                    "TARGETING_TYPE_DAY_AND_TIME",
                    "TARGETING_TYPE_AGE_RANGE",
                    "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                    "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                    "TARGETING_TYPE_GENDER",
                    "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                    "TARGETING_TYPE_USER_REWARDED_CONTENT",
                    "TARGETING_TYPE_PARENTAL_STATUS",
                    "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                    "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                    "TARGETING_TYPE_DEVICE_TYPE",
                    "TARGETING_TYPE_AUDIENCE_GROUP",
                    "TARGETING_TYPE_BROWSER",
                    "TARGETING_TYPE_HOUSEHOLD_INCOME",
                    "TARGETING_TYPE_ON_SCREEN_POSITION",
                    "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                    "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                    "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                    "TARGETING_TYPE_ENVIRONMENT",
                    "TARGETING_TYPE_CARRIER_AND_ISP",
                    "TARGETING_TYPE_OPERATING_SYSTEM",
                    "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                    "TARGETING_TYPE_KEYWORD",
                    "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                    "TARGETING_TYPE_VIEWABILITY",
                    "TARGETING_TYPE_CATEGORY",
                    "TARGETING_TYPE_INVENTORY_SOURCE",
                    "TARGETING_TYPE_LANGUAGE",
                    "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                    "TARGETING_TYPE_GEO_REGION",
                    "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                    "TARGETING_TYPE_EXCHANGE",
                    "TARGETING_TYPE_SUB_EXCHANGE",
                    "TARGETING_TYPE_POI",
                    "TARGETING_TYPE_BUSINESS_CHAIN",
                    "TARGETING_TYPE_CONTENT_DURATION",
                    "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                    "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                    "TARGETING_TYPE_OMID",
                    "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                    "TARGETING_TYPE_CONTENT_GENRE",
                    "TARGETING_TYPE_YOUTUBE_VIDEO",
                    "TARGETING_TYPE_YOUTUBE_CHANNEL",
                    "TARGETING_TYPE_SESSION_POSITION",
                    "TARGETING_TYPE_YOUTUBE_CHANNEL_PACK"
                  ],
                  "required": true,
                  "pattern": "^[^/]+$",
                  "enumDescriptions": [
                    "Default value when type is not specified or is unknown in this version.",
                    "Target a channel (a custom group of related websites or apps).",
                    "Target an app category (for example, education or puzzle games).",
                    "Target a specific app (for example, Angry Birds).",
                    "Target a specific url (for example, quora.com).",
                    "Target ads during a chosen time period on a specific day.",
                    "Target ads to a specific age range (for example, 18-24).",
                    "Target ads to the specified regions on a regional location list.",
                    "Target ads to the specified points of interest on a proximity location list.",
                    "Target ads to a specific gender (for example, female or male).",
                    "Target a specific video player size for video ads.",
                    "Target user rewarded content for video ads.",
                    "Target ads to a specific parental status (for example, parent or not a parent).",
                    "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                    "Target ads in a specific content outstream position.",
                    "Target ads to a specific device type (for example, tablet or connected TV).",
                    "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                    "Target ads to specific web browsers (for example, Chrome).",
                    "Target ads to a specific household income range (for example, top 10%).",
                    "Target ads in a specific on screen position.",
                    "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                    "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                    "Filter website content by sensitive categories (for example, adult).",
                    "Target ads to a specific environment (for example, web or app).",
                    "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                    "Target ads to a specific operating system (for example, macOS).",
                    "Target ads to a specific device make or model (for example, Roku or Samsung).",
                    "Target ads to a specific keyword (for example, dog or retriever).",
                    "Target ads to a specific negative keyword list.",
                    "Target ads to a specific viewability (for example, 80% viewable).",
                    "Target ads to a specific content category (for example, arts & entertainment).",
                    "Purchase impressions from specific deals and auction packages.",
                    "Target ads to a specific language (for example, English or Japanese).",
                    "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                    "Target ads to a specific regional location (for example, a city or state).",
                    "Purchase impressions from a group of deals and auction packages.",
                    "Purchase impressions from specific exchanges.",
                    "Purchase impressions from specific sub-exchanges.",
                    "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                    "Target ads around locations of a business chain within a specific geo region.",
                    "Target ads to a specific video content duration.",
                    "Target ads to a specific video content stream type.",
                    "Target ads to a specific native content position.",
                    "Target ads in an Open Measurement enabled inventory.",
                    "Target ads to a specific audio content type.",
                    "Target ads to a specific content genre.",
                    "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                    "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                    "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.",
                    "Target ads to a specific YouTube channel pack."
                  ],
                  "type": "string"
                },
                "targetingOptionId": {
                  "pattern": "^[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The ID of the of targeting option to retrieve.",
                  "type": "string"
                },
                "advertiserId": {
                  "description": "Required. The Advertiser this request is being made in the context of.",
                  "location": "query",
                  "format": "int64",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "TargetingOption"
              }
            },
            "list": {
              "description": "Lists targeting options of a given type.",
              "parameters": {
                "targetingType": {
                  "enum": [
                    "TARGETING_TYPE_UNSPECIFIED",
                    "TARGETING_TYPE_CHANNEL",
                    "TARGETING_TYPE_APP_CATEGORY",
                    "TARGETING_TYPE_APP",
                    "TARGETING_TYPE_URL",
                    "TARGETING_TYPE_DAY_AND_TIME",
                    "TARGETING_TYPE_AGE_RANGE",
                    "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
                    "TARGETING_TYPE_PROXIMITY_LOCATION_LIST",
                    "TARGETING_TYPE_GENDER",
                    "TARGETING_TYPE_VIDEO_PLAYER_SIZE",
                    "TARGETING_TYPE_USER_REWARDED_CONTENT",
                    "TARGETING_TYPE_PARENTAL_STATUS",
                    "TARGETING_TYPE_CONTENT_INSTREAM_POSITION",
                    "TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION",
                    "TARGETING_TYPE_DEVICE_TYPE",
                    "TARGETING_TYPE_AUDIENCE_GROUP",
                    "TARGETING_TYPE_BROWSER",
                    "TARGETING_TYPE_HOUSEHOLD_INCOME",
                    "TARGETING_TYPE_ON_SCREEN_POSITION",
                    "TARGETING_TYPE_THIRD_PARTY_VERIFIER",
                    "TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION",
                    "TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION",
                    "TARGETING_TYPE_ENVIRONMENT",
                    "TARGETING_TYPE_CARRIER_AND_ISP",
                    "TARGETING_TYPE_OPERATING_SYSTEM",
                    "TARGETING_TYPE_DEVICE_MAKE_MODEL",
                    "TARGETING_TYPE_KEYWORD",
                    "TARGETING_TYPE_NEGATIVE_KEYWORD_LIST",
                    "TARGETING_TYPE_VIEWABILITY",
                    "TARGETING_TYPE_CATEGORY",
                    "TARGETING_TYPE_INVENTORY_SOURCE",
                    "TARGETING_TYPE_LANGUAGE",
                    "TARGETING_TYPE_AUTHORIZED_SELLER_STATUS",
                    "TARGETING_TYPE_GEO_REGION",
                    "TARGETING_TYPE_INVENTORY_SOURCE_GROUP",
                    "TARGETING_TYPE_EXCHANGE",
                    "TARGETING_TYPE_SUB_EXCHANGE",
                    "TARGETING_TYPE_POI",
                    "TARGETING_TYPE_BUSINESS_CHAIN",
                    "TARGETING_TYPE_CONTENT_DURATION",
                    "TARGETING_TYPE_CONTENT_STREAM_TYPE",
                    "TARGETING_TYPE_NATIVE_CONTENT_POSITION",
                    "TARGETING_TYPE_OMID",
                    "TARGETING_TYPE_AUDIO_CONTENT_TYPE",
                    "TARGETING_TYPE_CONTENT_GENRE",
                    "TARGETING_TYPE_YOUTUBE_VIDEO",
                    "TARGETING_TYPE_YOUTUBE_CHANNEL",
                    "TARGETING_TYPE_SESSION_POSITION",
                    "TARGETING_TYPE_YOUTUBE_CHANNEL_PACK"
                  ],
                  "description": "Required. The type of targeting option to be listed. Accepted values are: * `TARGETING_TYPE_APP_CATEGORY` * `TARGETING_TYPE_AGE_RANGE` * `TARGETING_TYPE_GENDER` * `TARGETING_TYPE_VIDEO_PLAYER_SIZE` * `TARGETING_TYPE_USER_REWARDED_CONTENT` * `TARGETING_TYPE_PARENTAL_STATUS` * `TARGETING_TYPE_CONTENT_INSTREAM_POSITION` * `TARGETING_TYPE_CONTENT_OUTSTREAM_POSITION` * `TARGETING_TYPE_DEVICE_TYPE` * `TARGETING_TYPE_BROWSER` * `TARGETING_TYPE_HOUSEHOLD_INCOME` * `TARGETING_TYPE_ON_SCREEN_POSITION` * `TARGETING_TYPE_CARRIER_AND_ISP` * `TARGETING_TYPE_OPERATING_SYSTEM` * `TARGETING_TYPE_DEVICE_MAKE_MODEL` * `TARGETING_TYPE_ENVIRONMENT` * `TARGETING_TYPE_CATEGORY` * `TARGETING_TYPE_VIEWABILITY` * `TARGETING_TYPE_AUTHORIZED_SELLER_STATUS` * `TARGETING_TYPE_LANGUAGE` * `TARGETING_TYPE_GEO_REGION` * `TARGETING_TYPE_DIGITAL_CONTENT_LABEL_EXCLUSION` * `TARGETING_TYPE_SENSITIVE_CATEGORY_EXCLUSION` * `TARGETING_TYPE_EXCHANGE` * `TARGETING_TYPE_SUB_EXCHANGE` * `TARGETING_TYPE_NATIVE_CONTENT_POSITION` * `TARGETING_TYPE_OMID`",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "enumDescriptions": [
                    "Default value when type is not specified or is unknown in this version.",
                    "Target a channel (a custom group of related websites or apps).",
                    "Target an app category (for example, education or puzzle games).",
                    "Target a specific app (for example, Angry Birds).",
                    "Target a specific url (for example, quora.com).",
                    "Target ads during a chosen time period on a specific day.",
                    "Target ads to a specific age range (for example, 18-24).",
                    "Target ads to the specified regions on a regional location list.",
                    "Target ads to the specified points of interest on a proximity location list.",
                    "Target ads to a specific gender (for example, female or male).",
                    "Target a specific video player size for video ads.",
                    "Target user rewarded content for video ads.",
                    "Target ads to a specific parental status (for example, parent or not a parent).",
                    "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                    "Target ads in a specific content outstream position.",
                    "Target ads to a specific device type (for example, tablet or connected TV).",
                    "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                    "Target ads to specific web browsers (for example, Chrome).",
                    "Target ads to a specific household income range (for example, top 10%).",
                    "Target ads in a specific on screen position.",
                    "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                    "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                    "Filter website content by sensitive categories (for example, adult).",
                    "Target ads to a specific environment (for example, web or app).",
                    "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                    "Target ads to a specific operating system (for example, macOS).",
                    "Target ads to a specific device make or model (for example, Roku or Samsung).",
                    "Target ads to a specific keyword (for example, dog or retriever).",
                    "Target ads to a specific negative keyword list.",
                    "Target ads to a specific viewability (for example, 80% viewable).",
                    "Target ads to a specific content category (for example, arts & entertainment).",
                    "Purchase impressions from specific deals and auction packages.",
                    "Target ads to a specific language (for example, English or Japanese).",
                    "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                    "Target ads to a specific regional location (for example, a city or state).",
                    "Purchase impressions from a group of deals and auction packages.",
                    "Purchase impressions from specific exchanges.",
                    "Purchase impressions from specific sub-exchanges.",
                    "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                    "Target ads around locations of a business chain within a specific geo region.",
                    "Target ads to a specific video content duration.",
                    "Target ads to a specific video content stream type.",
                    "Target ads to a specific native content position.",
                    "Target ads in an Open Measurement enabled inventory.",
                    "Target ads to a specific audio content type.",
                    "Target ads to a specific content genre.",
                    "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                    "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                    "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.",
                    "Target ads to a specific YouTube channel pack."
                  ],
                  "pattern": "^[^/]+$"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                  "location": "query"
                },
                "filter": {
                  "description": "Allows filtering by targeting option fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `OR` logical operators. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=)` operator. Supported fields: * `carrierAndIspDetails.type` * `geoRegionDetails.geoRegionType` * `targetingOptionId` Examples: * All `GEO REGION` targeting options that belong to sub type `GEO_REGION_TYPE_COUNTRY` or `GEO_REGION_TYPE_STATE`: `geoRegionDetails.geoRegionType=\"GEO_REGION_TYPE_COUNTRY\" OR geoRegionDetails.geoRegionType=\"GEO_REGION_TYPE_STATE\"` * All `CARRIER AND ISP` targeting options that belong to sub type `CARRIER_AND_ISP_TYPE_CARRIER`: `carrierAndIspDetails.type=\"CARRIER_AND_ISP_TYPE_CARRIER\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListTargetingOptions` method. If not specified, the first page of results will be returned.",
                  "type": "string"
                },
                "advertiserId": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. The Advertiser this request is being made in the context of.",
                  "format": "int64"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Field by which to sort the list. Acceptable values are: * `targetingOptionId` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `targetingOptionId desc`.",
                  "location": "query"
                }
              },
              "id": "displayvideo.targetingTypes.targetingOptions.list",
              "response": {
                "$ref": "ListTargetingOptionsResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "targetingType"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "flatPath": "v2/targetingTypes/{targetingTypesId}/targetingOptions",
              "path": "v2/targetingTypes/{+targetingType}/targetingOptions"
            }
          }
        }
      }
    },
    "combinedAudiences": {
      "methods": {
        "list": {
          "description": "Lists combined audiences. The order is defined by the order_by parameter.",
          "httpMethod": "GET",
          "response": {
            "$ref": "ListCombinedAudiencesResponse"
          },
          "parameterOrder": [],
          "flatPath": "v2/combinedAudiences",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListCombinedAudiences` method. If not specified, the first page of results will be returned."
            },
            "pageSize": {
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "partnerId": {
              "type": "string",
              "description": "The ID of the partner that has access to the fetched combined audiences.",
              "format": "int64",
              "location": "query"
            },
            "orderBy": {
              "location": "query",
              "description": "Field by which to sort the list. Acceptable values are: * `combinedAudienceId` (default) * `displayName` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `displayName desc`.",
              "type": "string"
            },
            "filter": {
              "description": "Allows filtering by combined audience fields. Supported syntax: * Filter expressions for combined audiences can only contain at most one restriction. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `HAS (:)` operator. Supported fields: * `displayName` Examples: * All combined audiences for which the display name contains \"Google\": `displayName : \"Google\"`. The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
              "type": "string",
              "location": "query"
            },
            "advertiserId": {
              "format": "int64",
              "type": "string",
              "description": "The ID of the advertiser that has access to the fetched combined audiences.",
              "location": "query"
            }
          },
          "id": "displayvideo.combinedAudiences.list",
          "path": "v2/combinedAudiences",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ]
        },
        "get": {
          "response": {
            "$ref": "CombinedAudience"
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "path": "v2/combinedAudiences/{+combinedAudienceId}",
          "httpMethod": "GET",
          "flatPath": "v2/combinedAudiences/{combinedAudiencesId}",
          "id": "displayvideo.combinedAudiences.get",
          "parameterOrder": [
            "combinedAudienceId"
          ],
          "parameters": {
            "partnerId": {
              "format": "int64",
              "description": "The ID of the partner that has access to the fetched combined audience.",
              "type": "string",
              "location": "query"
            },
            "advertiserId": {
              "type": "string",
              "description": "The ID of the advertiser that has access to the fetched combined audience.",
              "location": "query",
              "format": "int64"
            },
            "combinedAudienceId": {
              "format": "int64",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. The ID of the combined audience to fetch.",
              "type": "string"
            }
          },
          "description": "Gets a combined audience."
        }
      }
    },
    "googleAudiences": {
      "methods": {
        "get": {
          "description": "Gets a Google audience.",
          "parameterOrder": [
            "googleAudienceId"
          ],
          "flatPath": "v2/googleAudiences/{googleAudiencesId}",
          "parameters": {
            "advertiserId": {
              "location": "query",
              "description": "The ID of the advertiser that has access to the fetched Google audience.",
              "format": "int64",
              "type": "string"
            },
            "partnerId": {
              "format": "int64",
              "location": "query",
              "description": "The ID of the partner that has access to the fetched Google audience.",
              "type": "string"
            },
            "googleAudienceId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "location": "path",
              "description": "Required. The ID of the Google audience to fetch.",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "id": "displayvideo.googleAudiences.get",
          "path": "v2/googleAudiences/{+googleAudienceId}",
          "response": {
            "$ref": "GoogleAudience"
          }
        },
        "list": {
          "response": {
            "$ref": "ListGoogleAudiencesResponse"
          },
          "parameters": {
            "pageSize": {
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListGoogleAudiences` method. If not specified, the first page of results will be returned."
            },
            "advertiserId": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "The ID of the advertiser that has access to the fetched Google audiences."
            },
            "partnerId": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "The ID of the partner that has access to the fetched Google audiences."
            },
            "filter": {
              "description": "Allows filtering by Google audience fields. Supported syntax: * Filter expressions for Google audiences can only contain at most one restriction. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `HAS (:)` operator. Supported fields: * `displayName` Examples: * All Google audiences for which the display name contains \"Google\": `displayName:\"Google\"`. The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
              "location": "query",
              "type": "string"
            },
            "orderBy": {
              "type": "string",
              "description": "Field by which to sort the list. Acceptable values are: * `googleAudienceId` (default) * `displayName` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `displayName desc`.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "id": "displayvideo.googleAudiences.list",
          "description": "Lists Google audiences. The order is defined by the order_by parameter.",
          "parameterOrder": [],
          "path": "v2/googleAudiences",
          "flatPath": "v2/googleAudiences",
          "httpMethod": "GET"
        }
      }
    },
    "customLists": {
      "methods": {
        "list": {
          "id": "displayvideo.customLists.list",
          "httpMethod": "GET",
          "path": "v2/customLists",
          "flatPath": "v2/customLists",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "parameters": {
            "filter": {
              "description": "Allows filtering by custom list fields. Supported syntax: * Filter expressions for custom lists can only contain at most one restriction. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `HAS (:)` operator. Supported fields: * `displayName` Examples: * All custom lists for which the display name contains \"Google\": `displayName:\"Google\"`. The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
              "type": "string",
              "location": "query"
            },
            "advertiserId": {
              "location": "query",
              "description": "The ID of the DV360 advertiser that has access to the fetched custom lists.",
              "format": "int64",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListCustomLists` method. If not specified, the first page of results will be returned.",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
              "format": "int32",
              "type": "integer"
            },
            "orderBy": {
              "type": "string",
              "description": "Field by which to sort the list. Acceptable values are: * `customListId` (default) * `displayName` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. Example: `displayName desc`.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "ListCustomListsResponse"
          },
          "description": "Lists custom lists. The order is defined by the order_by parameter."
        },
        "get": {
          "path": "v2/customLists/{+customListId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "CustomList"
          },
          "id": "displayvideo.customLists.get",
          "parameterOrder": [
            "customListId"
          ],
          "description": "Gets a custom list.",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "parameters": {
            "customListId": {
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. The ID of the custom list to fetch.",
              "format": "int64",
              "type": "string"
            },
            "advertiserId": {
              "format": "int64",
              "description": "The ID of the DV360 advertiser that has access to the fetched custom lists.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "v2/customLists/{customListsId}"
        }
      }
    },
    "partners": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "path": "v2/partners/{+partnerId}",
          "response": {
            "$ref": "Partner"
          },
          "description": "Gets a partner.",
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "id": "displayvideo.partners.get",
          "parameters": {
            "partnerId": {
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The ID of the partner to fetch.",
              "pattern": "^[^/]+$"
            }
          },
          "parameterOrder": [
            "partnerId"
          ],
          "flatPath": "v2/partners/{partnersId}"
        },
        "editAssignedTargetingOptions": {
          "parameterOrder": [
            "partnerId"
          ],
          "path": "v2/partners/{+partnerId}:editAssignedTargetingOptions",
          "response": {
            "$ref": "BulkEditPartnerAssignedTargetingOptionsResponse"
          },
          "description": "Edits targeting options under a single partner. The operation will delete the assigned targeting options provided in BulkEditPartnerAssignedTargetingOptionsRequest.deleteRequests and then create the assigned targeting options provided in BulkEditPartnerAssignedTargetingOptionsRequest.createRequests .",
          "parameters": {
            "partnerId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The ID of the partner.",
              "format": "int64",
              "pattern": "^[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "request": {
            "$ref": "BulkEditPartnerAssignedTargetingOptionsRequest"
          },
          "flatPath": "v2/partners/{partnersId}:editAssignedTargetingOptions",
          "httpMethod": "POST",
          "id": "displayvideo.partners.editAssignedTargetingOptions"
        },
        "list": {
          "description": "Lists partners that are accessible to the current user. The order is defined by the order_by parameter.",
          "httpMethod": "GET",
          "response": {
            "$ref": "ListPartnersResponse"
          },
          "parameterOrder": [],
          "path": "v2/partners",
          "parameters": {
            "filter": {
              "location": "query",
              "description": "Allows filtering by partner fields. Supported syntax: * Filter expressions are made up of one or more restrictions. * Restrictions can be combined by `AND` or `OR` logical operators. A sequence of restrictions implicitly uses `AND`. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `EQUALS (=)` operator. Supported fields: * `entityStatus` Examples: * All active partners: `entityStatus=\"ENTITY_STATUS_ACTIVE\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListPartners` method. If not specified, the first page of results will be returned."
            },
            "orderBy": {
              "description": "Field by which to sort the list. Acceptable values are: * `displayName` The default sorting order is ascending. To specify descending order for a field, a suffix \"desc\" should be added to the field name. For example, `displayName desc`.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/display-video"
          ],
          "id": "displayvideo.partners.list",
          "flatPath": "v2/partners"
        }
      },
      "resources": {
        "channels": {
          "methods": {
            "get": {
              "path": "v2/partners/{+partnerId}/channels/{+channelId}",
              "id": "displayvideo.partners.channels.get",
              "flatPath": "v2/partners/{partnersId}/channels/{channelsId}",
              "httpMethod": "GET",
              "description": "Gets a channel for a partner or advertiser.",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "parameterOrder": [
                "partnerId",
                "channelId"
              ],
              "response": {
                "$ref": "Channel"
              },
              "parameters": {
                "advertiserId": {
                  "description": "The ID of the advertiser that owns the fetched channel.",
                  "format": "int64",
                  "location": "query",
                  "type": "string"
                },
                "partnerId": {
                  "type": "string",
                  "format": "int64",
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "description": "The ID of the partner that owns the fetched channel."
                },
                "channelId": {
                  "description": "Required. The ID of the channel to fetch.",
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "format": "int64",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "create": {
              "request": {
                "$ref": "Channel"
              },
              "id": "displayvideo.partners.channels.create",
              "httpMethod": "POST",
              "path": "v2/partners/{+partnerId}/channels",
              "flatPath": "v2/partners/{partnersId}/channels",
              "parameterOrder": [
                "partnerId"
              ],
              "parameters": {
                "advertiserId": {
                  "location": "query",
                  "description": "The ID of the advertiser that owns the created channel.",
                  "type": "string",
                  "format": "int64"
                },
                "partnerId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The ID of the partner that owns the created channel.",
                  "format": "int64",
                  "pattern": "^[^/]+$"
                }
              },
              "description": "Creates a new channel. Returns the newly created channel if successful.",
              "response": {
                "$ref": "Channel"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ]
            },
            "patch": {
              "path": "v2/partners/{+partnerId}/channels/{channelId}",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Channel"
              },
              "description": "Updates a channel. Returns the updated channel if successful.",
              "parameterOrder": [
                "partnerId",
                "channelId"
              ],
              "response": {
                "$ref": "Channel"
              },
              "id": "displayvideo.partners.channels.patch",
              "parameters": {
                "channelId": {
                  "description": "Output only. The unique ID of the channel. Assigned by the system.",
                  "format": "int64",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "updateMask": {
                  "description": "Required. The mask to control which fields to update.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "partnerId": {
                  "description": "The ID of the partner that owns the created channel.",
                  "format": "int64",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^[^/]+$"
                },
                "advertiserId": {
                  "format": "int64",
                  "location": "query",
                  "description": "The ID of the advertiser that owns the created channel.",
                  "type": "string"
                }
              },
              "flatPath": "v2/partners/{partnersId}/channels/{channelId}",
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ]
            },
            "list": {
              "path": "v2/partners/{+partnerId}/channels",
              "response": {
                "$ref": "ListChannelsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/display-video"
              ],
              "parameterOrder": [
                "partnerId"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Requested page size. Must be between `1` and `200`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListChannels` method. If not specified, the first page of results will be returned."
                },
                "partnerId": {
                  "type": "string",
                  "description": "The ID of the partner that owns the channels.",
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "advertiserId": {
                  "location": "query",
                  "type": "string",
                  "format": "int64",
                  "description": "The ID of the advertiser that owns the channels."
                },
                "orderBy": {
                  "description": "Field by which to sort the list. Acceptable values are: * `displayName` (default) * `channelId` The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be added to the field name. Example: `displayName desc`.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Allows filtering by channel fields. Supported syntax: * Filter expressions for channel can only contain at most one restriction. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `HAS (:)` operator. Supported fields: * `displayName` Examples: * All channels for which the display name contains \"google\": `displayName : \"google\"`. The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information."
                }
              },
              "id": "displayvideo.partners.channels.list",
              "httpMethod": "GET",
              "description": "Lists channels for a partner or advertiser.",
              "flatPath": "v2/partners/{partnersId}/channels"
            }
          },
          "resources": {
            "sites": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "partnerId",
                    "channelId"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "flatPath": "v2/partners/{partnerId}/channels/{channelsId}/sites",
                  "description": "Creates a site in a channel.",
                  "path": "v2/partners/{partnerId}/channels/{+channelId}/sites",
                  "response": {
                    "$ref": "Site"
                  },
                  "id": "displayvideo.partners.channels.sites.create",
                  "request": {
                    "$ref": "Site"
                  },
                  "parameters": {
                    "advertiserId": {
                      "description": "The ID of the advertiser that owns the parent channel.",
                      "format": "int64",
                      "type": "string",
                      "location": "query"
                    },
                    "partnerId": {
                      "description": "The ID of the partner that owns the parent channel.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "format": "int64"
                    },
                    "channelId": {
                      "description": "Required. The ID of the parent channel in which the site will be created.",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "format": "int64"
                    }
                  }
                },
                "delete": {
                  "flatPath": "v2/partners/{partnerId}/channels/{channelsId}/sites/{sitesId}",
                  "path": "v2/partners/{partnerId}/channels/{+channelId}/sites/{+urlOrAppId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "partnerId",
                    "channelId",
                    "urlOrAppId"
                  ],
                  "description": "Deletes a site from a channel.",
                  "parameters": {
                    "urlOrAppId": {
                      "pattern": "^[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The URL or app ID of the site to delete.",
                      "type": "string"
                    },
                    "advertiserId": {
                      "location": "query",
                      "format": "int64",
                      "type": "string",
                      "description": "The ID of the advertiser that owns the parent channel."
                    },
                    "partnerId": {
                      "description": "The ID of the partner that owns the parent channel.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "format": "int64"
                    },
                    "channelId": {
                      "required": true,
                      "location": "path",
                      "format": "int64",
                      "type": "string",
                      "pattern": "^[^/]+$",
                      "description": "Required. The ID of the parent channel to which the site belongs."
                    }
                  },
                  "id": "displayvideo.partners.channels.sites.delete"
                },
                "replace": {
                  "id": "displayvideo.partners.channels.sites.replace",
                  "flatPath": "v2/partners/{partnerId}/channels/{channelsId}/sites:replace",
                  "parameterOrder": [
                    "partnerId",
                    "channelId"
                  ],
                  "path": "v2/partners/{partnerId}/channels/{+channelId}/sites:replace",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "ReplaceSitesResponse"
                  },
                  "request": {
                    "$ref": "ReplaceSitesRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "parameters": {
                    "partnerId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "format": "int64",
                      "description": "The ID of the partner that owns the parent channel."
                    },
                    "channelId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The ID of the parent channel whose sites will be replaced.",
                      "format": "int64",
                      "pattern": "^[^/]+$"
                    }
                  },
                  "description": "Replaces all of the sites under a single channel. The operation will replace the sites under a channel with the sites provided in ReplaceSitesRequest.new_sites. **This method regularly experiences high latency.** We recommend [increasing your default timeout](/display-video/api/guides/best-practices/timeouts#client_library_timeout) to avoid errors."
                },
                "list": {
                  "flatPath": "v2/partners/{partnersId}/channels/{channelsId}/sites",
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "parameters": {
                    "advertiserId": {
                      "location": "query",
                      "type": "string",
                      "description": "The ID of the advertiser that owns the parent channel.",
                      "format": "int64"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Allows filtering by site fields. Supported syntax: * Filter expressions for site retrieval can only contain at most one restriction. * A restriction has the form of `{field} {operator} {value}`. * All fields must use the `HAS (:)` operator. Supported fields: * `urlOrAppId` Examples: * All sites for which the URL or app ID contains \"google\": `urlOrAppId : \"google\"` The length of this field should be no more than 500 characters. Reference our [filter `LIST` requests](/display-video/api/guides/how-tos/filters) guide for more information.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Requested page size. Must be between `1` and `10000`. If unspecified will default to `100`. Returns error code `INVALID_ARGUMENT` if an invalid value is specified.",
                      "location": "query",
                      "format": "int32"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Field by which to sort the list. Acceptable values are: * `urlOrAppId` (default) The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be added to the field name. Example: `urlOrAppId desc`.",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of next_page_token returned from the previous call to `ListSites` method. If not specified, the first page of results will be returned."
                    },
                    "channelId": {
                      "type": "string",
                      "description": "Required. The ID of the parent channel to which the requested sites belong.",
                      "required": true,
                      "pattern": "^[^/]+$",
                      "location": "path",
                      "format": "int64"
                    },
                    "partnerId": {
                      "pattern": "^[^/]+$",
                      "description": "The ID of the partner that owns the parent channel.",
                      "format": "int64",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v2/partners/{+partnerId}/channels/{+channelId}/sites",
                  "id": "displayvideo.partners.channels.sites.list",
                  "description": "Lists sites in a channel.",
                  "response": {
                    "$ref": "ListSitesResponse"
                  },
                  "parameterOrder": [
                    "partnerId",
                    "channelId"
                  ],
                  "httpMethod": "GET"
                },
                "bulkEdit": {
                  "response": {
                    "$ref": "BulkEditSitesResponse"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "partnerId",
                    "channelId"
                  ],
                  "description": "Bulk edits sites under a single channel. The operation will delete the sites provided in BulkEditSitesRequest.deleted_sites and then create the sites provided in BulkEditSitesRequest.created_sites.",
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "flatPath": "v2/partners/{partnerId}/channels/{channelsId}/sites:bulkEdit",
                  "id": "displayvideo.partners.channels.sites.bulkEdit",
                  "path": "v2/partners/{partnerId}/channels/{+channelId}/sites:bulkEdit",
                  "request": {
                    "$ref": "BulkEditSitesRequest"
                  },
                  "parameters": {
                    "channelId": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The ID of the parent channel to which the sites belong.",
                      "pattern": "^[^/]+$",
                      "type": "string",
                      "format": "int64"
                    },
                    "partnerId": {
                      "format": "int64",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The ID of the partner that owns the parent channel."
                    }
                  }
                }
              }
            }
          }
        },
        "targetingTypes": {
          "resources": {
            "assignedTargetingOptions": {
              "methods": {
                "create": {
                  "description": "Assigns a targeting option to a partner. Returns the assigned targeting option if successful.",
                  "response": {
                    "$ref": "AssignedTargetingOption"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/display-video"
                  ],
                  "parameters": {
                    "targetingType": {
                      "type": "string",
                      "pattern": "^[^/]+$",
                      "required": true,
                      "location": "path",
                      "enumDescriptions": [
                        "Default value when type is not specified or is unknown in this version.",
                        "Target a channel (a custom group of related websites or apps).",
                        "Target an app category (for example, education or puzzle games).",
                        "Target a specific app (for example, Angry Birds).",
                        "Target a specific url (for example, quora.com).",
                        "Target ads during a chosen time period on a specific day.",
                        "Target ads to a specific age range (for example, 18-24).",
                        "Target ads to the specified regions on a regional location list.",
                        "Target ads to the specified points of interest on a proximity location list.",
                        "Target ads to a specific gender (for example, female or male).",
                        "Target a specific video player size for video ads.",
                        "Target user rewarded content for video ads.",
                        "Target ads to a specific parental status (for example, parent or not a parent).",
                        "Target video or audio ads in a specific content instream position (for example, pre-roll, mid-roll, or post-roll).",
                        "Target ads in a specific content outstream position.",
                        "Target ads to a specific device type (for example, tablet or connected TV).",
                        "Target ads to an audience or groups of audiences. Singleton field, at most one can exist on a single Lineitem at a time.",
                        "Target ads to specific web browsers (for example, Chrome).",
                        "Target ads to a specific household income range (for example, top 10%).",
                        "Target ads in a specific on screen position.",
                        "Filter web sites through third party verification (for example, IAS or DoubleVerify).",
                        "Filter web sites by specific digital content label ratings (for example, DL-MA: suitable only for mature audiences).",
                        "Filter website content by sensitive categories (for example, adult).",
                        "Target ads to a specific environment (for example, web or app).",
                        "Target ads to a specific network carrier or internet service provider (ISP) (for example, Comcast or Orange).",
                        "Target ads to a specific operating system (for example, macOS).",
                        "Target ads to a specific device make or model (for example, Roku or Samsung).",
                        "Target ads to a specific keyword (for example, dog or retriever).",
                        "Target ads to a specific negative keyword list.",
                        "Target ads to a specific viewability (for example, 80% viewable).",
                        "Target ads to a specific content category (for example, arts & entertainment).",
                        "Purchase impressions from specific deals and auction packages.",
                        "Target ads to a specific language (for example, English or Japanese).",
                        "Target ads to ads.txt authorized sellers. If no targeting option of this type is assigned, the resource uses the \"Authorized Direct Sellers and Resellers\" option by default.",
                        "Target ads to a specific regional location (for example, a city or state).",
                        "Purchase impressions from a group of deals and auction packages.",
                        "Purchase impressions from specific exchanges.",
                        "Purchase impressions from specific sub-exchanges.",
                        "Target ads around a specific point of interest, such as a notable building, a street address, or latitude/longitude coordinates.",
                        "Target ads around locations of a business chain within a specific geo region.",
                        "Target ads to a specific video content duration.",
                        "Target ads to a specific video content stream type.",
                        "Target ads to a specific native content position.",
                        "Target ads in an Open Measurement enabled inventory.",
                        "Target ads to a specific audio content type.",
                        "Target ads to a specific content genre.",
                        "Target ads to a specific YouTube video. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a specific YouTube channel. Targeting of this type cannot be created or updated using the API. Although this targeting is inherited by child resources, **inherited targeting of this type will not be retrieveable**.",
                        "Target ads to a serve it in a certain position of a session. Only supported for Ad Group resources under YouTube Programmatic Reservation line items. Targeting of this type cannot be created or updated using the API.",
                        "Target ads to a specific YouTube channel pack."
                      ],
                      "enum": [
                        "TARGETING_TYPE_UNSPECIFIED",
                        "TARGETING_TYPE_CHANNEL",
                        "TARGETING_TYPE_APP_CATEGORY",
                        "TARGETING_TYPE_APP",
                        "TARGETING_TYPE_URL",
                        "TARGETING_TYPE_DAY_AND_TIME",
                        "TARGETING_TYPE_AGE_RANGE",
                        "TARGETING_TYPE_REGIONAL_LOCATION_LIST",
[...]
