{
  "id": "dlp:v2",
  "name": "dlp",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://dlp.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "baseUrl": "https://dlp.googleapis.com/",
  "parameters": {
    "alt": {
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    }
  },
  "schemas": {
    "GooglePrivacyDlpV2AllOtherResources": {
      "description": "Match discovery resources not covered by any other filter.",
      "type": "object",
      "properties": {},
      "id": "GooglePrivacyDlpV2AllOtherResources"
    },
    "GooglePrivacyDlpV2InspectTemplate": {
      "description": "The inspectTemplate contains a configuration (set of types of sensitive data to be detected) to be used anywhere you otherwise would normally specify InspectConfig. See https://docs.cloud.google.com/sensitive-data-protection/docs/concepts-templates to learn more.",
      "id": "GooglePrivacyDlpV2InspectTemplate",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The template name. The template will have one of the following formats: `projects/PROJECT_ID/inspectTemplates/TEMPLATE_ID` OR `organizations/ORGANIZATION_ID/inspectTemplates/TEMPLATE_ID`;"
        },
        "displayName": {
          "description": "Display name (max 256 chars).",
          "type": "string"
        },
        "inspectConfig": {
          "description": "The core content of the template. Configuration of the scanning process.",
          "$ref": "GooglePrivacyDlpV2InspectConfig"
        },
        "description": {
          "description": "Short description (max 256 chars).",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The last update timestamp of an inspectTemplate.",
          "readOnly": true
        },
        "allowLimitedAvailabilityInfoTypes": {
          "description": "Optional. Enables the use of [limited-availability built-in infoTypes](https://docs.cloud.google.com/sensitive-data-protection/docs/infotypes-reference#limited-availability-infotypes) in inspect_config. These infoTypes are supported only in specific regions and can cause scanning errors if used elsewhere.",
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. The creation timestamp of an inspectTemplate.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GooglePrivacyDlpV2PathElement": {
      "id": "GooglePrivacyDlpV2PathElement",
      "type": "object",
      "properties": {
        "kind": {
          "description": "The kind of the entity. A kind matching regex `__.*__` is reserved/read-only. A kind must not contain more than 1500 bytes when UTF-8 encoded. Cannot be `\"\"`.",
          "type": "string"
        },
        "id": {
          "description": "The auto-allocated ID of the entity. Never equal to zero. Values less than zero are discouraged and may not be supported in the future.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "The name of the entity. A name matching regex `__.*__` is reserved/read-only. A name must not be more than 1500 bytes when UTF-8 encoded. Cannot be `\"\"`.",
          "type": "string"
        }
      },
      "description": "A (kind, ID/name) pair used to construct a key path. If either name or ID is set, the element is complete. If neither is set, the element is incomplete."
    },
    "GooglePrivacyDlpV2AmazonS3BucketConditions": {
      "description": "Amazon S3 bucket conditions.",
      "type": "object",
      "properties": {
        "bucketTypes": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unused.",
              "All supported classes.",
              "A general purpose Amazon S3 bucket."
            ],
            "enum": [
              "TYPE_UNSPECIFIED",
              "TYPE_ALL_SUPPORTED",
              "TYPE_GENERAL_PURPOSE"
            ]
          },
          "description": "Optional. Bucket types that should be profiled. Optional. Defaults to TYPE_ALL_SUPPORTED if unspecified.",
          "type": "array"
        },
        "objectStorageClasses": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unused.",
              "All supported classes.",
              "Standard object class.",
              "Standard - infrequent access object class.",
              "Glacier - instant retrieval object class.",
              "Objects in the S3 Intelligent-Tiering access tiers."
            ],
            "enum": [
              "UNSPECIFIED",
              "ALL_SUPPORTED_CLASSES",
              "STANDARD",
              "STANDARD_INFREQUENT_ACCESS",
              "GLACIER_INSTANT_RETRIEVAL",
              "INTELLIGENT_TIERING"
            ]
          },
          "description": "Optional. Object classes that should be profiled. Optional. Defaults to ALL_SUPPORTED_CLASSES if unspecified."
        }
      },
      "id": "GooglePrivacyDlpV2AmazonS3BucketConditions"
    },
    "GooglePrivacyDlpV2NumericalStatsResult": {
      "description": "Result of the numerical stats computation.",
      "id": "GooglePrivacyDlpV2NumericalStatsResult",
      "type": "object",
      "properties": {
        "quantileValues": {
          "description": "List of 99 values that partition the set of field values into 100 equal sized buckets.",
          "items": {
            "$ref": "GooglePrivacyDlpV2Value"
          },
          "type": "array"
        },
        "minValue": {
          "description": "Minimum value appearing in the column.",
          "$ref": "GooglePrivacyDlpV2Value"
        },
        "maxValue": {
          "description": "Maximum value appearing in the column.",
          "$ref": "GooglePrivacyDlpV2Value"
        }
      }
    },
    "GooglePrivacyDlpV2LikelihoodAdjustment": {
      "type": "object",
      "properties": {
        "fixedLikelihood": {
          "description": "Set the likelihood of a finding to a fixed value.",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value; same as POSSIBLE.",
            "Highest chance of a false positive.",
            "High chance of a false positive.",
            "Some matching signals. The default value.",
            "Low chance of a false positive.",
            "Confidence level is high. Lowest chance of a false positive."
          ]
        },
        "relativeLikelihood": {
          "type": "integer",
          "format": "int32",
          "description": "Increase or decrease the likelihood by the specified number of levels. For example, if a finding would be `POSSIBLE` without the detection rule and `relative_likelihood` is 1, then it is upgraded to `LIKELY`, while a value of -1 would downgrade it to `UNLIKELY`. Likelihood may never drop below `VERY_UNLIKELY` or exceed `VERY_LIKELY`, so applying an adjustment of 1 followed by an adjustment of -1 when base likelihood is `VERY_LIKELY` will result in a final likelihood of `LIKELY`."
        }
      },
      "id": "GooglePrivacyDlpV2LikelihoodAdjustment",
      "description": "Message for specifying an adjustment to the likelihood of a finding as part of a detection rule."
    },
    "GooglePrivacyDlpV2Conversation": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "array",
          "description": "Messages exchanged within this conversation. The maximum number of messages allowed is 50k. The order of the messages is assumed to be chronological and will be used to index findings in the response.",
          "items": {
            "$ref": "GooglePrivacyDlpV2ConversationMessage"
          }
        }
      },
      "id": "GooglePrivacyDlpV2Conversation",
      "description": "Complete conversation or slice of a conversation. It is assumed that all included messages are contiguous and ordered in chronological order."
    },
    "GooglePrivacyDlpV2UpdateConnectionRequest": {
      "description": "Request message for UpdateConnection.",
      "id": "GooglePrivacyDlpV2UpdateConnectionRequest",
      "type": "object",
      "properties": {
        "connection": {
          "description": "Required. The connection with new values for the relevant fields.",
          "$ref": "GooglePrivacyDlpV2Connection"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Optional. Mask to control which fields get updated."
        }
      }
    },
    "GooglePrivacyDlpV2HybridContentItem": {
      "description": "An individual hybrid item to inspect. Will be stored temporarily during processing.",
      "type": "object",
      "properties": {
        "item": {
          "description": "The item to inspect.",
          "$ref": "GooglePrivacyDlpV2ContentItem"
        },
        "findingDetails": {
          "description": "Supplementary information that will be added to each finding.",
          "$ref": "GooglePrivacyDlpV2HybridFindingDetails"
        }
      },
      "id": "GooglePrivacyDlpV2HybridContentItem"
    },
    "GooglePrivacyDlpV2AnalyzeDataSourceRiskDetails": {
      "description": "Result of a risk analysis operation request.",
      "id": "GooglePrivacyDlpV2AnalyzeDataSourceRiskDetails",
      "type": "object",
      "properties": {
        "requestedOptions": {
          "description": "The configuration used for this job.",
          "$ref": "GooglePrivacyDlpV2RequestedRiskAnalysisOptions"
        },
        "numericalStatsResult": {
          "description": "Output only. Numerical stats result",
          "$ref": "GooglePrivacyDlpV2NumericalStatsResult",
          "readOnly": true
        },
        "deltaPresenceEstimationResult": {
          "readOnly": true,
          "description": "Output only. Delta-presence result",
          "$ref": "GooglePrivacyDlpV2DeltaPresenceEstimationResult"
        },
        "categoricalStatsResult": {
          "readOnly": true,
          "description": "Output only. Categorical stats result",
          "$ref": "GooglePrivacyDlpV2CategoricalStatsResult"
        },
        "kAnonymityResult": {
          "description": "Output only. K-anonymity result",
          "$ref": "GooglePrivacyDlpV2KAnonymityResult",
          "readOnly": true
        },
        "requestedSourceTable": {
          "description": "Input dataset to compute metrics over.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        },
        "kMapEstimationResult": {
          "description": "Output only. K-map result",
          "$ref": "GooglePrivacyDlpV2KMapEstimationResult",
          "readOnly": true
        },
        "requestedPrivacyMetric": {
          "description": "Privacy metric to compute.",
          "$ref": "GooglePrivacyDlpV2PrivacyMetric"
        },
        "lDiversityResult": {
          "description": "Output only. L-divesity result",
          "$ref": "GooglePrivacyDlpV2LDiversityResult",
          "readOnly": true
        }
      }
    },
    "GooglePrivacyDlpV2KAnonymityHistogramBucket": {
      "description": "Histogram of k-anonymity equivalence classes.",
      "id": "GooglePrivacyDlpV2KAnonymityHistogramBucket",
      "type": "object",
      "properties": {
        "bucketValues": {
          "type": "array",
          "description": "Sample of equivalence classes in this bucket. The total number of classes returned per bucket is capped at 20.",
          "items": {
            "$ref": "GooglePrivacyDlpV2KAnonymityEquivalenceClass"
          }
        },
        "bucketValueCount": {
          "description": "Total number of distinct equivalence classes in this bucket.",
          "type": "string",
          "format": "int64"
        },
        "equivalenceClassSizeLowerBound": {
          "type": "string",
          "format": "int64",
          "description": "Lower bound on the size of the equivalence classes in this bucket."
        },
        "bucketSize": {
          "type": "string",
          "format": "int64",
          "description": "Total number of equivalence classes in this bucket."
        },
        "equivalenceClassSizeUpperBound": {
          "type": "string",
          "format": "int64",
          "description": "Upper bound on the size of the equivalence classes in this bucket."
        }
      }
    },
    "GooglePrivacyDlpV2BoundingBox": {
      "type": "object",
      "properties": {
        "top": {
          "description": "Top coordinate of the bounding box. (0,0) is upper left.",
          "type": "integer",
          "format": "int32"
        },
        "left": {
          "description": "Left coordinate of the bounding box. (0,0) is upper left.",
          "type": "integer",
          "format": "int32"
        },
        "width": {
          "description": "Width of the bounding box in pixels.",
          "type": "integer",
          "format": "int32"
        },
        "height": {
          "type": "integer",
          "format": "int32",
          "description": "Height of the bounding box in pixels."
        }
      },
      "id": "GooglePrivacyDlpV2BoundingBox",
      "description": "Bounding box encompassing detected text within an image."
    },
    "GooglePrivacyDlpV2InfoTypeLikelihood": {
      "id": "GooglePrivacyDlpV2InfoTypeLikelihood",
      "type": "object",
      "properties": {
        "infoType": {
          "description": "Type of information the likelihood threshold applies to. Only one likelihood per info_type should be provided. If InfoTypeLikelihood does not have an info_type, the configuration fails.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "minLikelihood": {
          "description": "Only returns findings equal to or above this threshold. This field is required or else the configuration fails.",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value; same as POSSIBLE.",
            "Highest chance of a false positive.",
            "High chance of a false positive.",
            "Some matching signals. The default value.",
            "Low chance of a false positive.",
            "Confidence level is high. Lowest chance of a false positive."
          ]
        }
      },
      "description": "Configuration for setting a minimum likelihood per infotype. Used to customize the minimum likelihood level for specific infotypes in the request. For example, use this if you want to lower the precision for PERSON_NAME without lowering the precision for the other infotypes in the request."
    },
    "GooglePrivacyDlpV2VertexDatasetDiscoveryTarget": {
      "description": "Target used to match against for discovery with Vertex AI datasets.",
      "id": "GooglePrivacyDlpV2VertexDatasetDiscoveryTarget",
      "type": "object",
      "properties": {
        "filter": {
          "description": "Required. The datasets the discovery cadence applies to. The first target with a matching filter will be the one to apply to a dataset.",
          "$ref": "GooglePrivacyDlpV2DiscoveryVertexDatasetFilter"
        },
        "conditions": {
          "description": "In addition to matching the filter, these conditions must be true before a profile is generated.",
          "$ref": "GooglePrivacyDlpV2DiscoveryVertexDatasetConditions"
        },
        "generationCadence": {
          "description": "How often and when to update profiles. New datasets that match both the filter and conditions are scanned as quickly as possible depending on system capacity.",
          "$ref": "GooglePrivacyDlpV2DiscoveryVertexDatasetGenerationCadence"
        },
        "disabled": {
          "description": "Disable profiling for datasets that match this filter.",
          "$ref": "GooglePrivacyDlpV2Disabled"
        }
      }
    },
    "GooglePrivacyDlpV2CloudSqlProperties": {
      "description": "Cloud SQL connection properties.",
      "id": "GooglePrivacyDlpV2CloudSqlProperties",
      "type": "object",
      "properties": {
        "maxConnections": {
          "description": "Required. The DLP API will limit its connections to max_connections. Must be 2 or greater.",
          "type": "integer",
          "format": "int32"
        },
        "databaseEngine": {
          "type": "string",
          "enumDescriptions": [
            "An engine that is not currently supported by Sensitive Data Protection.",
            "Cloud SQL for MySQL instance.",
            "Cloud SQL for PostgreSQL instance."
          ],
          "description": "Required. The database engine used by the Cloud SQL instance that this connection configures.",
          "enum": [
            "DATABASE_ENGINE_UNKNOWN",
            "DATABASE_ENGINE_MYSQL",
            "DATABASE_ENGINE_POSTGRES"
          ]
        },
        "usernamePassword": {
          "description": "A username and password stored in Secret Manager.",
          "$ref": "GooglePrivacyDlpV2SecretManagerCredential"
        },
        "cloudSqlIam": {
          "description": "Built-in IAM authentication (must be configured in Cloud SQL).",
          "$ref": "GooglePrivacyDlpV2CloudSqlIamCredential"
        },
        "connectionName": {
          "description": "Optional. Immutable. The Cloud SQL instance for which the connection is defined. Only one connection per instance is allowed. This can only be set at creation time, and cannot be updated. It is an error to use a connection_name from different project or region than the one that holds the connection. For example, a Connection resource for Cloud SQL connection_name `project-id:us-central1:sql-instance` must be created under the parent `projects/project-id/locations/us-central1`",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2ContentLocation": {
      "description": "Precise location of the finding within a document, record, image, or metadata container.",
      "id": "GooglePrivacyDlpV2ContentLocation",
      "type": "object",
      "properties": {
        "recordLocation": {
          "description": "Location within a row or record of a database table.",
          "$ref": "GooglePrivacyDlpV2RecordLocation"
        },
        "conversationLocation": {
          "description": "Location within a conversation.",
          "$ref": "GooglePrivacyDlpV2ConversationLocation"
        },
        "metadataLocation": {
          "description": "Location within the metadata for inspected content.",
          "$ref": "GooglePrivacyDlpV2MetadataLocation"
        },
        "documentLocation": {
          "description": "Location data for document files.",
          "$ref": "GooglePrivacyDlpV2DocumentLocation"
        },
        "containerVersion": {
          "description": "Finding container version, if available (\"generation\" for Cloud Storage).",
          "type": "string"
        },
        "imageLocation": {
          "description": "Location within an image's pixels.",
          "$ref": "GooglePrivacyDlpV2ImageLocation"
        },
        "batchContentLocation": {
          "description": "Location within a batch of content.",
          "$ref": "GooglePrivacyDlpV2BatchContentLocation"
        },
        "containerTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Finding container modification timestamp, if applicable. For Cloud Storage, this field contains the last file modification timestamp. For a BigQuery table, this field contains the last_modified_time property. For Datastore, this field isn't populated."
        },
        "containerName": {
          "description": "Name of the container where the finding is located. The top level name is the source file name or table name. Names of some common storage containers are formatted as follows: * BigQuery tables: `{project_id}:{dataset_id}.{table_id}` * Cloud Storage files: `gs://{bucket}/{path}` * Datastore namespace: {namespace} Nested names could be absent if the embedded object has no string identifier (for example, an image contained within a document).",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2LeaveUntransformed": {
      "id": "GooglePrivacyDlpV2LeaveUntransformed",
      "type": "object",
      "properties": {},
      "description": "Skips the data without modifying it if the requested transformation would cause an error. For example, if a `DateShift` transformation were applied an an IP address, this mode would leave the IP address unchanged in the response."
    },
    "GooglePrivacyDlpV2CloudStorageOptions": {
      "description": "Options defining a file or a set of files within a Cloud Storage bucket.",
      "type": "object",
      "properties": {
        "bytesLimitPerFilePercent": {
          "type": "integer",
          "format": "int32",
          "description": "Max percentage of bytes to scan from a file. The rest are omitted. The number of bytes scanned is rounded down. Must be between 0 and 100, inclusively. Both 0 and 100 means no limit. Defaults to 0. Only one of bytes_limit_per_file and bytes_limit_per_file_percent can be specified. This field can't be set if de-identification is requested. For certain file types, setting this field has no effect. For more information, see [Limits on bytes scanned per file](https://docs.cloud.google.com/sensitive-data-protection/docs/supported-file-types#max-byte-size-per-file)."
        },
        "sampleMethod": {
          "description": "How to sample the data.",
          "enum": [
            "SAMPLE_METHOD_UNSPECIFIED",
            "TOP",
            "RANDOM_START"
          ],
          "type": "string",
          "enumDescriptions": [
            "No sampling.",
            "Scan from the top (default).",
            "For each file larger than bytes_limit_per_file, randomly pick the offset to start scanning. The scanned bytes are contiguous."
          ]
        },
        "fileTypes": {
          "type": "array",
          "description": "List of file type groups to include in the scan. If empty, all files are scanned and available data format processors are applied. In addition, the binary content of the selected files is always scanned as well. Images are scanned only as binary if the specified region does not support image inspection and no file_types were specified. Image inspection is restricted to 'global', 'us', 'asia', and 'europe'.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Includes all files.",
              "Includes all file extensions not covered by another entry. Binary scanning attempts to convert the content of the file to utf_8 to scan the file. If you wish to avoid this fall back, specify one or more of the other file types in your storage scan.",
              "Included file extensions: asc,asp, aspx, brf, c, cc,cfm, cgi, cpp, csv, cxx, c++, cs, css, dart, dat, dot, eml,, epbub, ged, go, h, hh, hpp, hxx, h++, hs, html, htm, mkd, markdown, m, ml, mli, perl, pl, plist, pm, php, phtml, pht, properties, py, pyw, rb, rbw, rs, rss, rc, scala, sh, sql, swift, tex, shtml, shtm, xhtml, lhs, ics, ini, java, js, json, jsonl, kix, kml, ocaml, md, txt, text, tsv, vb, vcard, vcs, wml, xcodeproj, xml, xsl, xsd, yml, yaml.",
              "Included file extensions: bmp, gif, jpg, jpeg, jpe, png. Setting bytes_limit_per_file or bytes_limit_per_file_percent has no effect on image files. Image inspection is restricted to the `global`, `us`, `asia`, and `europe` regions.",
              "Microsoft Word files larger than 30 MB will be scanned as binary files. Included file extensions: docx, dotx, docm, dotm. Setting `bytes_limit_per_file` or `bytes_limit_per_file_percent` has no effect on Word files.",
              "PDF files larger than 30 MB will be scanned as binary files. Included file extensions: pdf. Setting `bytes_limit_per_file` or `bytes_limit_per_file_percent` has no effect on PDF files.",
              "Included file extensions: avro",
              "Included file extensions: csv",
              "Included file extensions: tsv",
              "Microsoft PowerPoint files larger than 30 MB will be scanned as binary files. Included file extensions: pptx, pptm, potx, potm, pot. Setting `bytes_limit_per_file` or `bytes_limit_per_file_percent` has no effect on PowerPoint files.",
              "Microsoft Excel files larger than 30 MB will be scanned as binary files. Included file extensions: xlsx, xlsm, xltx, xltm. Setting `bytes_limit_per_file` or `bytes_limit_per_file_percent` has no effect on Excel files."
            ],
            "enum": [
              "FILE_TYPE_UNSPECIFIED",
              "BINARY_FILE",
              "TEXT_FILE",
              "IMAGE",
              "WORD",
              "PDF",
              "AVRO",
              "CSV",
              "TSV",
              "POWERPOINT",
              "EXCEL"
            ]
          }
        },
        "fileSet": {
          "description": "The set of one or more files to scan.",
          "$ref": "GooglePrivacyDlpV2FileSet"
        },
        "bytesLimitPerFile": {
          "type": "string",
          "format": "int64",
          "description": "Max number of bytes to scan from a file. If a scanned file's size is bigger than this value then the rest of the bytes are omitted. Only one of `bytes_limit_per_file` and `bytes_limit_per_file_percent` can be specified. This field can't be set if de-identification is requested. For certain file types, setting this field has no effect. For more information, see [Limits on bytes scanned per file](https://docs.cloud.google.com/sensitive-data-protection/docs/supported-file-types#max-byte-size-per-file)."
        },
        "filesLimitPercent": {
          "type": "integer",
          "format": "int32",
          "description": "Limits the number of files to scan to this percentage of the input FileSet. Number of files scanned is rounded down. Must be between 0 and 100, inclusively. Both 0 and 100 means no limit. Defaults to 0."
        }
      },
      "id": "GooglePrivacyDlpV2CloudStorageOptions"
    },
    "GooglePrivacyDlpV2ProfileStatus": {
      "description": "Success or errors for the profile generation.",
      "id": "GooglePrivacyDlpV2ProfileStatus",
      "type": "object",
      "properties": {
        "status": {
          "description": "Profiling status code and optional message. The `status.code` value is 0 (default value) for OK.",
          "$ref": "GoogleRpcStatus"
        },
        "timestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when the profile generation status was updated"
        }
      }
    },
    "GooglePrivacyDlpV2DiscoveryCloudSqlGenerationCadence": {
      "id": "GooglePrivacyDlpV2DiscoveryCloudSqlGenerationCadence",
      "type": "object",
      "properties": {
        "schemaModifiedCadence": {
          "description": "When to reprofile if the schema has changed.",
          "$ref": "GooglePrivacyDlpV2SchemaModifiedCadence"
        },
        "inspectTemplateModifiedCadence": {
          "description": "Governs when to update data profiles when the inspection rules defined by the `InspectTemplate` change. If not set, changing the template will not cause a data profile to update.",
          "$ref": "GooglePrivacyDlpV2DiscoveryInspectTemplateModifiedCadence"
        },
        "refreshFrequency": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "After the data profile is created, it will never be updated.",
            "The data profile can be updated up to once every 24 hours.",
            "The data profile can be updated up to once every 30 days. Default."
          ],
          "description": "Data changes (non-schema changes) in Cloud SQL tables can't trigger reprofiling. If you set this field, profiles are refreshed at this frequency regardless of whether the underlying tables have changed. Defaults to never.",
          "enum": [
            "UPDATE_FREQUENCY_UNSPECIFIED",
            "UPDATE_FREQUENCY_NEVER",
            "UPDATE_FREQUENCY_DAILY",
            "UPDATE_FREQUENCY_MONTHLY"
          ]
        }
      },
      "description": "How often existing tables should have their profiles refreshed. New tables are scanned as quickly as possible depending on system capacity."
    },
    "GooglePrivacyDlpV2ImageTransformations": {
      "description": "A type of transformation that is applied over images.",
      "type": "object",
      "properties": {
        "transforms": {
          "items": {
            "$ref": "GooglePrivacyDlpV2ImageTransformation"
          },
          "description": "List of transforms to make.",
          "type": "array"
        }
      },
      "id": "GooglePrivacyDlpV2ImageTransformations"
    },
    "GooglePrivacyDlpV2ActionDetails": {
      "description": "The results of an Action.",
      "id": "GooglePrivacyDlpV2ActionDetails",
      "type": "object",
      "properties": {
        "deidentifyDetails": {
          "description": "Outcome of a de-identification action.",
          "$ref": "GooglePrivacyDlpV2DeidentifyDataSourceDetails"
        }
      }
    },
    "GooglePrivacyDlpV2VertexDatasetRegex": {
      "description": "A pattern to match against one or more dataset resources.",
      "id": "GooglePrivacyDlpV2VertexDatasetRegex",
      "type": "object",
      "properties": {
        "projectIdRegex": {
          "description": "For organizations, if unset, will match all projects. Has no effect for configurations created within a project.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2RelatedResource": {
      "description": "A related resource. Examples: * The source BigQuery table for a Vertex AI dataset. * The source Cloud Storage bucket for a Vertex AI dataset.",
      "type": "object",
      "properties": {
        "fullResource": {
          "description": "The full resource name of the related resource.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2RelatedResource"
    },
    "GooglePrivacyDlpV2SearchConnectionsResponse": {
      "id": "GooglePrivacyDlpV2SearchConnectionsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results. An empty value means there are no more results.",
          "type": "string"
        },
        "connections": {
          "items": {
            "$ref": "GooglePrivacyDlpV2Connection"
          },
          "description": "List of connections that match the search query. Note that only a subset of the fields will be populated, and only \"name\" is guaranteed to be set. For full details of a Connection, call GetConnection with the name.",
          "type": "array"
        }
      },
      "description": "Response message for SearchConnections."
    },
    "GooglePrivacyDlpV2HybridOptions": {
      "description": "Configuration to control jobs where the content being inspected is outside of Google Cloud Platform.",
      "id": "GooglePrivacyDlpV2HybridOptions",
      "type": "object",
      "properties": {
        "requiredFindingLabelKeys": {
          "description": "These are labels that each inspection request must include within their 'finding_labels' map. Request may contain others, but any missing one of these will be rejected. Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?`. No more than 10 keys can be required.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "To organize findings, these labels will be added to each finding. Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?`. Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`. No more than 10 labels can be associated with a given finding. Examples: * `\"environment\" : \"production\"` * `\"pipeline\" : \"etl\"`"
        },
        "tableOptions": {
          "description": "If the container is a table, additional information to make findings meaningful such as the columns that are primary keys.",
          "$ref": "GooglePrivacyDlpV2TableOptions"
        },
        "description": {
          "description": "A short description of where the data is coming from. Will be stored once in the job. 256 max length.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2ReidentifyContentRequest": {
      "id": "GooglePrivacyDlpV2ReidentifyContentRequest",
      "type": "object",
      "properties": {
        "inspectConfig": {
          "description": "Configuration for the inspector.",
          "$ref": "GooglePrivacyDlpV2InspectConfig"
        },
        "item": {
          "description": "The item to re-identify. Will be treated as text.",
          "$ref": "GooglePrivacyDlpV2ContentItem"
        },
        "inspectTemplateName": {
          "description": "Template to use. Any configuration directly specified in `inspect_config` will override those set in the template. Singular fields that are set in this request will replace their corresponding fields in the template. Repeated fields are appended. Singular sub-messages and groups are recursively merged.",
          "type": "string"
        },
        "reidentifyTemplateName": {
          "description": "Template to use. References an instance of `DeidentifyTemplate`. Any configuration directly specified in `reidentify_config` or `inspect_config` will override those set in the template. The `DeidentifyTemplate` used must include only reversible transformations. Singular fields that are set in this request will replace their corresponding fields in the template. Repeated fields are appended. Singular sub-messages and groups are recursively merged.",
          "type": "string"
        },
        "locationId": {
          "description": "Deprecated. This field has no effect.",
          "type": "string"
        },
        "reidentifyConfig": {
          "description": "Configuration for the re-identification of the content item. This field shares the same proto message type that is used for de-identification, however its usage here is for the reversal of the previous de-identification. Re-identification is performed by examining the transformations used to de-identify the items and executing the reverse. This requires that only reversible transformations be provided here. The reversible transformations are: - `CryptoDeterministicConfig` - `CryptoReplaceFfxFpeConfig`",
          "$ref": "GooglePrivacyDlpV2DeidentifyConfig"
        }
      },
      "description": "Request to re-identify an item."
    },
    "GooglePrivacyDlpV2AwsDiscoveryStartingLocation": {
      "description": "The AWS starting location for discovery.",
      "id": "GooglePrivacyDlpV2AwsDiscoveryStartingLocation",
      "type": "object",
      "properties": {
        "accountId": {
          "description": "The AWS account ID that this discovery config applies to. Within an AWS organization, you can find the AWS account ID inside an AWS account ARN. Example: arn:{partition}:organizations::{management_account_id}:account/{org_id}/{account_id}",
          "type": "string"
        },
        "allAssetInventoryAssets": {
          "description": "All AWS assets stored in Asset Inventory that didn't match other AWS discovery configs.",
          "type": "boolean"
        }
      }
    },
    "GooglePrivacyDlpV2UpdateDeidentifyTemplateRequest": {
      "type": "object",
      "properties": {
        "deidentifyTemplate": {
          "description": "New DeidentifyTemplate value.",
          "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Mask to control which fields get updated."
        }
      },
      "id": "GooglePrivacyDlpV2UpdateDeidentifyTemplateRequest",
      "description": "Request message for UpdateDeidentifyTemplate."
    },
    "GooglePrivacyDlpV2DiscoveryCloudStorageGenerationCadence": {
      "type": "object",
      "properties": {
        "refreshFrequency": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "After the data profile is created, it will never be updated.",
            "The data profile can be updated up to once every 24 hours.",
            "The data profile can be updated up to once every 30 days. Default."
          ],
          "description": "Optional. Data changes in Cloud Storage can't trigger reprofiling. If you set this field, profiles are refreshed at this frequency regardless of whether the underlying buckets have changed. Defaults to never.",
          "enum": [
            "UPDATE_FREQUENCY_UNSPECIFIED",
            "UPDATE_FREQUENCY_NEVER",
            "UPDATE_FREQUENCY_DAILY",
            "UPDATE_FREQUENCY_MONTHLY"
          ]
        },
        "inspectTemplateModifiedCadence": {
          "description": "Optional. Governs when to update data profiles when the inspection rules defined by the `InspectTemplate` change. If not set, changing the template will not cause a data profile to update.",
          "$ref": "GooglePrivacyDlpV2DiscoveryInspectTemplateModifiedCadence"
        }
      },
      "id": "GooglePrivacyDlpV2DiscoveryCloudStorageGenerationCadence",
      "description": "How often existing buckets should have their profiles refreshed. New buckets are scanned as quickly as possible depending on system capacity."
    },
    "GooglePrivacyDlpV2StoredInfoType": {
      "id": "GooglePrivacyDlpV2StoredInfoType",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name."
        },
        "pendingVersions": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2StoredInfoTypeVersion"
          },
          "description": "Pending versions of the stored info type. Empty if no versions are pending."
        },
        "currentVersion": {
          "description": "Current version of the stored info type.",
          "$ref": "GooglePrivacyDlpV2StoredInfoTypeVersion"
        }
      },
      "description": "StoredInfoType resource message that contains information about the current version and any pending updates."
    },
    "GooglePrivacyDlpV2ValueFrequency": {
      "description": "A value of a field, including its frequency.",
      "type": "object",
      "properties": {
        "value": {
          "description": "A value contained in the field in question.",
          "$ref": "GooglePrivacyDlpV2Value"
        },
        "count": {
          "description": "How many times the value is contained in the field.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GooglePrivacyDlpV2ValueFrequency"
    },
    "GooglePrivacyDlpV2ListDeidentifyTemplatesResponse": {
      "type": "object",
      "properties": {
        "deidentifyTemplates": {
          "type": "array",
          "description": "List of deidentify templates, up to page_size in ListDeidentifyTemplatesRequest.",
          "items": {
            "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
          }
        },
        "nextPageToken": {
          "description": "If the next page is available then the next page token to be used in the following ListDeidentifyTemplates request.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2ListDeidentifyTemplatesResponse",
      "description": "Response message for ListDeidentifyTemplates."
    },
    "GooglePrivacyDlpV2PublishToDataplexCatalog": {
      "type": "object",
      "properties": {
        "lowerDataRiskToLow": {
          "description": "Whether creating a Dataplex Universal Catalog aspect for a profiled resource should lower the risk of the profile for that resource. This also lowers the data risk of resources at the lower levels of the resource hierarchy. For example, reducing the data risk of a table data profile also reduces the data risk of the constituent column data profiles.",
          "type": "boolean"
        }
      },
      "id": "GooglePrivacyDlpV2PublishToDataplexCatalog",
      "description": "Create Dataplex Universal Catalog aspects for profiled resources with the aspect type Sensitive Data Protection Profile. To learn more about aspects, see https://docs.cloud.google.com/sensitive-data-protection/docs/add-aspects."
    },
    "GooglePrivacyDlpV2StoredType": {
      "description": "A reference to a StoredInfoType to use with scanning.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name of the requested `StoredInfoType`, for example `organizations/433245324/storedInfoTypes/432452342` or `projects/project-id/storedInfoTypes/432452342`.",
          "type": "string"
        },
        "createTime": {
          "description": "Timestamp indicating when the version of the `StoredInfoType` used for inspection was created. Output-only field, populated by the system.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GooglePrivacyDlpV2StoredType"
    },
    "GooglePrivacyDlpV2BatchContentItem": {
      "description": "Represents a batch of content to inspect or redact.",
      "id": "GooglePrivacyDlpV2BatchContentItem",
      "type": "object",
      "properties": {
        "stringValueBatch": {
          "description": "Optional. Represents a batch of string values to inspect or redact.",
          "$ref": "GooglePrivacyDlpV2StringValueBatch"
        }
      }
    },
    "GooglePrivacyDlpV2HybridInspectStatistics": {
      "description": "Statistics related to processing hybrid inspect requests.",
      "id": "GooglePrivacyDlpV2HybridInspectStatistics",
      "type": "object",
      "properties": {
        "pendingCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of hybrid requests currently being processed. Only populated when called via method `getDlpJob`. A burst of traffic may cause hybrid inspect requests to be enqueued. Processing will take place as quickly as possible, but resource limitations may impact how long a request is enqueued for."
        },
        "processedCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of hybrid inspection requests processed within this job."
        },
        "abortedCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of hybrid inspection requests aborted because the job ran out of quota or was ended before they could be processed."
        }
      }
    },
    "GooglePrivacyDlpV2ContentItem": {
      "description": "Type of content to inspect.",
      "id": "GooglePrivacyDlpV2ContentItem",
      "type": "object",
      "properties": {
        "table": {
          "description": "Structured content for inspection. See https://docs.cloud.google.com/sensitive-data-protection/docs/inspecting-text#inspecting_a_table to learn more.",
          "$ref": "GooglePrivacyDlpV2Table"
        },
        "byteItem": {
          "description": "Content data to inspect or redact. Replaces `type` and `data`.",
          "$ref": "GooglePrivacyDlpV2ByteContentItem"
        },
        "conversation": {
          "description": "Represents a conversation (either complete or a slice). It is assumed that all included messages are contiguous and ordered in chronological order.",
          "$ref": "GooglePrivacyDlpV2Conversation"
        },
        "batchContentItem": {
          "description": "Represents a batch of items to inspect.",
          "$ref": "GooglePrivacyDlpV2BatchContentItem"
        },
        "value": {
          "description": "String data to inspect or redact.",
          "type": "string"
        },
        "contentMetadata": {
          "description": "User provided metadata for the content.",
          "$ref": "GooglePrivacyDlpV2ContentMetadata"
        }
      }
    },
    "GooglePrivacyDlpV2ByteContentItem": {
      "description": "Container for bytes to inspect or redact.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unused",
            "Any image type.",
            "jpeg",
            "bmp",
            "png",
            "svg",
            "plain text",
            "docx, docm, dotx, dotm",
            "pdf",
            "pptx, pptm, potx, potm, pot",
            "xlsx, xlsm, xltx, xltm",
            "avro",
            "csv",
            "tsv",
            "Audio file types. Only used for profiling.",
            "Video file types. Only used for profiling.",
            "Executable file types. Only used for profiling.",
            "AI model file types. Only used for profiling."
          ],
          "description": "The type of data stored in the bytes string. Default will be TEXT_UTF8.",
          "enum": [
            "BYTES_TYPE_UNSPECIFIED",
            "IMAGE",
            "IMAGE_JPEG",
            "IMAGE_BMP",
            "IMAGE_PNG",
            "IMAGE_SVG",
            "TEXT_UTF8",
            "WORD_DOCUMENT",
            "PDF",
            "POWERPOINT_DOCUMENT",
            "EXCEL_DOCUMENT",
            "AVRO",
            "CSV",
            "TSV",
            "AUDIO",
            "VIDEO",
            "EXECUTABLE",
            "AI_MODEL"
          ]
        },
        "data": {
          "description": "Content data to inspect or redact.",
          "type": "string",
          "format": "byte"
        }
      },
      "id": "GooglePrivacyDlpV2ByteContentItem"
    },
    "GooglePrivacyDlpV2PublishFindingsToCloudDataCatalog": {
      "id": "GooglePrivacyDlpV2PublishFindingsToCloudDataCatalog",
      "type": "object",
      "properties": {},
      "description": "Publish findings of a DlpJob to Data Catalog. In Data Catalog, tag templates are applied to the resource that Cloud DLP scanned. Data Catalog tag templates are stored in the same project and region where the BigQuery table exists. For Cloud DLP to create and apply the tag template, the Cloud DLP service agent must have the `roles/datacatalog.tagTemplateOwner` permission on the project. The tag template contains fields summarizing the results of the DlpJob. Any field values previously written by another DlpJob are deleted. InfoType naming patterns are strictly enforced when using this feature. Findings are persisted in Data Catalog storage and are governed by service-specific policies for Data Catalog. For more information, see [Service Specific Terms](https://cloud.google.com/terms/service-terms). Only a single instance of this action can be specified. This action is allowed only if all resources being scanned are BigQuery tables. Compatible with: Inspect"
    },
    "GooglePrivacyDlpV2DatabaseResourceReference": {
      "id": "GooglePrivacyDlpV2DatabaseResourceReference",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Required. If within a project-level config, then this must match the config's project ID.",
          "type": "string"
        },
        "instance": {
          "description": "Required. The instance where this resource is located. For example: Cloud SQL instance ID.",
          "type": "string"
        },
        "database": {
          "description": "Required. Name of a database within the instance.",
          "type": "string"
        },
        "databaseResource": {
          "description": "Required. Name of a database resource, for example, a table within the database.",
          "type": "string"
        }
      },
      "description": "Identifies a single database resource, like a table within a database."
    },
    "GooglePrivacyDlpV2VertexDatasetCollection": {
      "id": "GooglePrivacyDlpV2VertexDatasetCollection",
      "type": "object",
      "properties": {
        "vertexDatasetRegexes": {
          "description": "The regex used to filter dataset resources.",
          "$ref": "GooglePrivacyDlpV2VertexDatasetRegexes"
        }
      },
      "description": "Match dataset resources using regex filters."
    },
    "GooglePrivacyDlpV2InspectJobConfig": {
      "id": "GooglePrivacyDlpV2InspectJobConfig",
      "type": "object",
      "properties": {
        "inspectTemplateName": {
          "description": "If provided, will be used as the default for all values in InspectConfig. `inspect_config` will be merged into the values persisted as part of the template.",
          "type": "string"
        },
        "inspectConfig": {
          "description": "How and what to scan for.",
          "$ref": "GooglePrivacyDlpV2InspectConfig"
        },
        "actions": {
          "description": "Actions to execute at the completion of the job.",
          "items": {
            "$ref": "GooglePrivacyDlpV2Action"
          },
          "type": "array"
        },
        "storageConfig": {
          "description": "The data to scan.",
          "$ref": "GooglePrivacyDlpV2StorageConfig"
        }
      },
      "description": "Controls what and how to inspect for findings."
    },
    "GooglePrivacyDlpV2RecordKey": {
      "description": "Message for a unique key indicating a record that contains a finding.",
      "id": "GooglePrivacyDlpV2RecordKey",
      "type": "object",
      "properties": {
        "datastoreKey": {
          "description": "BigQuery key",
          "$ref": "GooglePrivacyDlpV2DatastoreKey"
        },
        "bigQueryKey": {
          "description": "Datastore key",
          "$ref": "GooglePrivacyDlpV2BigQueryKey"
        },
        "idValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Values of identifying columns in the given row. Order of values matches the order of `identifying_fields` specified in the scanning request."
        }
      }
    },
    "GooglePrivacyDlpV2LabelFieldMetadata": {
      "id": "GooglePrivacyDlpV2LabelFieldMetadata",
      "type": "object",
      "properties": {
        "value": {
          "description": "The value of the Label Field.",
          "$ref": "GooglePrivacyDlpV2Value"
        },
        "id": {
          "description": "The identifier of the Label Field.",
          "type": "string"
        }
      },
      "description": "The field values of the Google Drive label"
    },
    "GooglePrivacyDlpV2AllText": {
      "description": "Apply to all text.",
      "id": "GooglePrivacyDlpV2AllText",
      "type": "object",
      "properties": {}
    },
    "GooglePrivacyDlpV2ListInfoTypesResponse": {
      "type": "object",
      "properties": {
        "infoTypes": {
          "description": "Set of sensitive infoTypes.",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeDescription"
          },
          "type": "array"
        }
      },
      "id": "GooglePrivacyDlpV2ListInfoTypesResponse",
      "description": "Response to the ListInfoTypes request."
    },
    "GooglePrivacyDlpV2LocationSupport": {
      "description": "Locations at which a feature can be used.",
      "id": "GooglePrivacyDlpV2LocationSupport",
      "type": "object",
      "properties": {
        "locations": {
          "items": {
            "type": "string"
          },
          "description": "Specific locations where the feature may be used. Examples: us-central1, us, asia, global If scope is ANY_LOCATION, no regions will be listed.",
          "type": "array"
        },
        "regionalizationScope": {
          "description": "The current scope for location on this feature. This may expand over time.",
          "enum": [
            "REGIONALIZATION_SCOPE_UNSPECIFIED",
            "REGIONAL",
            "ANY_LOCATION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Invalid.",
            "Feature may be used with one or more regions. See locations for details.",
            "Feature may be used anywhere. Default value."
          ]
        }
      }
    },
    "GooglePrivacyDlpV2CreateDeidentifyTemplateRequest": {
      "id": "GooglePrivacyDlpV2CreateDeidentifyTemplateRequest",
      "type": "object",
      "properties": {
        "deidentifyTemplate": {
          "description": "Required. The DeidentifyTemplate to create.",
          "$ref": "GooglePrivacyDlpV2DeidentifyTemplate"
        },
        "templateId": {
          "description": "The template id can contain uppercase and lowercase letters, numbers, and hyphens; that is, it must match the regular expression: `[a-zA-Z\\d-_]+`. The maximum length is 100 characters. Can be empty to allow the system to generate one.",
          "type": "string"
        },
        "locationId": {
          "description": "Deprecated. This field has no effect.",
          "type": "string"
        }
      },
      "description": "Request message for CreateDeidentifyTemplate."
    },
    "GooglePrivacyDlpV2Color": {
      "type": "object",
      "properties": {
        "green": {
          "type": "number",
          "format": "float",
          "description": "The amount of green in the color as a value in the interval [0, 1]."
        },
        "red": {
          "type": "number",
          "format": "float",
          "description": "The amount of red in the color as a value in the interval [0, 1]."
        },
        "blue": {
          "type": "number",
          "format": "float",
          "description": "The amount of blue in the color as a value in the interval [0, 1]."
        }
      },
      "id": "GooglePrivacyDlpV2Color",
      "description": "Represents a color in the RGB color space."
    },
    "GooglePrivacyDlpV2TableOptions": {
      "id": "GooglePrivacyDlpV2TableOptions",
      "type": "object",
      "properties": {
        "identifyingFields": {
          "type": "array",
          "description": "The columns that are the primary keys for table objects included in ContentItem. A copy of this cell's value will stored alongside alongside each finding so that the finding can be traced to the specific row it came from. No more than 3 may be provided.",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          }
        }
      },
      "description": "Instructions regarding the table content being inspected."
    },
    "GooglePrivacyDlpV2Action": {
      "description": "A task to execute on the completion of a job. See https://docs.cloud.google.com/sensitive-data-protection/docs/concepts-actions to learn more.",
      "type": "object",
      "properties": {
        "saveFindings": {
          "description": "Save resulting findings in a provided location.",
          "$ref": "GooglePrivacyDlpV2SaveFindings"
        },
        "publishFindingsToCloudDataCatalog": {
          "deprecated": true,
          "description": "Deprecated because Data Catalog is being turned down. Use publish_findings_to_dataplex_catalog to publish findings to Dataplex Universal Catalog.",
          "$ref": "GooglePrivacyDlpV2PublishFindingsToCloudDataCatalog"
        },
        "publishFindingsToDataplexCatalog": {
          "description": "Publish findings as an aspect to Dataplex Universal Catalog.",
          "$ref": "GooglePrivacyDlpV2PublishFindingsToDataplexCatalog"
        },
        "jobNotificationEmails": {
          "description": "Sends an email when the job completes. The email goes to IAM project owners and technical [Essential Contacts](https://docs.cloud.google.com/resource-manager/docs/managing-notification-contacts).",
          "$ref": "GooglePrivacyDlpV2JobNotificationEmails"
        },
        "publishSummaryToCscc": {
          "description": "Publish summary to Cloud Security Command Center (Alpha).",
          "$ref": "GooglePrivacyDlpV2PublishSummaryToCscc"
        },
        "pubSub": {
          "description": "Publish a notification to a Pub/Sub topic.",
          "$ref": "GooglePrivacyDlpV2PublishToPubSub"
        },
        "deidentify": {
          "description": "Create a de-identified copy of the input data.",
          "$ref": "GooglePrivacyDlpV2Deidentify"
        },
        "publishToStackdriver": {
          "description": "Enable Stackdriver metric dlp.googleapis.com/finding_count.",
          "$ref": "GooglePrivacyDlpV2PublishToStackdriver"
        }
      },
      "id": "GooglePrivacyDlpV2Action"
    },
    "GooglePrivacyDlpV2CloudStorageRegexFileSet": {
      "type": "object",
      "properties": {
        "includeRegex": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of regular expressions matching file paths to include. All files in the bucket that match at least one of these regular expressions will be included in the set of files, except for those that also match an item in `exclude_regex`. Leaving this field empty will match all files by default (this is equivalent to including `.*` in the list). Regular expressions use RE2 [syntax](https://github.com/google/re2/wiki/Syntax); a guide can be found under the google/re2 repository on GitHub."
        },
        "excludeRegex": {
          "description": "A list of regular expressions matching file paths to exclude. All files in the bucket that match at least one of these regular expressions will be excluded from the scan. Regular expressions use RE2 [syntax](https://github.com/google/re2/wiki/Syntax); a guide can be found under the google/re2 repository on GitHub.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "bucketName": {
          "description": "The name of a Cloud Storage bucket. Required.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2CloudStorageRegexFileSet",
      "description": "Message representing a set of files in a Cloud Storage bucket. Regular expressions are used to allow fine-grained control over which files in the bucket to include. Included files are those that match at least one item in `include_regex` and do not match any items in `exclude_regex`. Note that a file that matches items from both lists will _not_ be included. For a match to occur, the entire file path (i.e., everything in the url after the bucket name) must match the regular expression. For example, given the input `{bucket_name: \"mybucket\", include_regex: [\"directory1/.*\"], exclude_regex: [\"directory1/excluded.*\"]}`: * `gs://mybucket/directory1/myfile` will be included * `gs://mybucket/directory1/directory2/myfile` will be included (`.*` matches across `/`) * `gs://mybucket/directory0/directory1/myfile` will _not_ be included (the full path doesn't match any items in `include_regex`) * `gs://mybucket/directory1/excludedfile` will _not_ be included (the path matches an item in `exclude_regex`) If `include_regex` is left empty, it will match all files by default (this is equivalent to setting `include_regex: [\".*\"]`). Some other common use cases: * `{bucket_name: \"mybucket\", exclude_regex: [\".*\\.pdf\"]}` will include all files in `mybucket` except for .pdf files * `{bucket_name: \"mybucket\", include_regex: [\"directory/[^/]+\"]}` will include all files directly under `gs://mybucket/directory/`, without matching across `/`"
    },
    "GooglePrivacyDlpV2TransformationConfig": {
      "id": "GooglePrivacyDlpV2TransformationConfig",
      "type": "object",
      "properties": {
        "structuredDeidentifyTemplate": {
          "description": "Structured de-identify template. If this template is specified, it will serve as the de-identify template for structured content such as delimited files and tables. If this template is not set but the `deidentify_template` is set, then `deidentify_template` will also apply to the structured content. If neither template is set, a default `ReplaceWithInfoTypeConfig` will be used to de-identify structured content.",
          "type": "string"
        },
        "imageRedactTemplate": {
          "description": "Image redact template. If this template is specified, it will serve as the de-identify template for images. If this template is not set, all findings in the image will be redacted with a black box.",
          "type": "string"
        },
        "deidentifyTemplate": {
          "description": "De-identify template. If this template is specified, it will serve as the default de-identify template. This template cannot contain `record_transformations` since it can be used for unstructured content such as free-form text files. If this template is not set, a default `ReplaceWithInfoTypeConfig` will be used to de-identify unstructured content.",
          "type": "string"
        }
      },
      "description": "User specified templates and configs for how to deidentify structured, unstructures, and image files. User must provide either a unstructured deidentify template or at least one redact image config."
    },
    "GooglePrivacyDlpV2PubSubNotification": {
      "description": "Send a Pub/Sub message into the given Pub/Sub topic to connect other systems to data profile generation. The message payload data will be the byte serialization of `DataProfilePubSubMessage`.",
      "id": "GooglePrivacyDlpV2PubSubNotification",
      "type": "object",
      "properties": {
        "topic": {
          "description": "Cloud Pub/Sub topic to send notifications to. Format is projects/{project}/topics/{topic}.",
          "type": "string"
        },
        "event": {
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "New profile (not a re-profile).",
            "One of the following profile metrics changed: Data risk score, Sensitivity score, Resource visibility, Encryption type, Predicted infoTypes, Other infoTypes",
            "Table data risk score or sensitivity score increased.",
            "A user (non-internal) error occurred."
          ],
          "description": "The type of event that triggers a Pub/Sub. At most one `PubSubNotification` per EventType is permitted.",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "NEW_PROFILE",
            "CHANGED_PROFILE",
            "SCORE_INCREASED",
            "ERROR_CHANGED"
          ]
        },
        "detailOfMessage": {
          "description": "How much data to include in the Pub/Sub message. If the user wishes to limit the size of the message, they can use resource_name and fetch the profile fields they wish to. Per table profile (not per column).",
          "enum": [
            "DETAIL_LEVEL_UNSPECIFIED",
            "TABLE_PROFILE",
            "RESOURCE_NAME",
            "FILE_STORE_PROFILE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "The full table data profile.",
            "The name of the profiled resource.",
            "The full file store data profile."
          ]
        },
        "pubsubCondition": {
          "description": "Conditions (e.g., data risk or sensitivity level) for triggering a Pub/Sub.",
          "$ref": "GooglePrivacyDlpV2DataProfilePubSubCondition"
        }
      }
    },
    "GooglePrivacyDlpV2ImageLocation": {
      "description": "Location of the finding within an image.",
      "id": "GooglePrivacyDlpV2ImageLocation",
      "type": "object",
      "properties": {
        "boundingBoxes": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2BoundingBox"
          },
          "description": "Bounding boxes locating the pixels within the image containing the finding."
        }
      }
    },
    "GooglePrivacyDlpV2ListProjectDataProfilesResponse": {
      "description": "List of profiles generated for a given organization or project.",
      "id": "GooglePrivacyDlpV2ListProjectDataProfilesResponse",
      "type": "object",
      "properties": {
        "projectDataProfiles": {
          "items": {
            "$ref": "GooglePrivacyDlpV2ProjectDataProfile"
          },
          "description": "List of data profiles.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The next page token.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2PolicyRule": {
      "type": "object",
      "properties": {
        "returnVerdict": {
          "description": "If set, the verdict will be returned to the user. Deprecated: Use `action` instead.",
          "enum": [
            "CONTENT_POLICY_VERDICT_UNSPECIFIED",
            "ALLOW",
            "BLOCK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "The policy allows the provided content to be used.",
            "The policy prevents the provided content from being used. This should result in a blocked file upload, exclusion from training dataset, or other similar block action. (specific action will depend on the caller)."
          ],
          "deprecated": true
        },
        "action": {
          "description": "Required. Action to take if this rule applies.",
          "$ref": "GooglePrivacyDlpV2PolicyAction"
        },
        "conditions": {
          "type": "array",
          "description": "Optional. Conditions that must match for this rule to apply. All conditions must match (`AND`). For `OR` conditions, use multiple rules.",
          "items": {
            "$ref": "GooglePrivacyDlpV2PolicyCondition"
          }
        }
      },
      "id": "GooglePrivacyDlpV2PolicyRule",
      "description": "A single policy rule. The first rule to match from the list above controls the result."
    },
    "GooglePrivacyDlpV2RecordLocation": {
      "description": "Location of a finding within a row or record.",
      "type": "object",
      "properties": {
        "tableLocation": {
          "description": "Location within a `ContentItem.Table`.",
          "$ref": "GooglePrivacyDlpV2TableLocation"
        },
        "recordKey": {
          "description": "Key of the finding.",
          "$ref": "GooglePrivacyDlpV2RecordKey"
        },
        "fieldId": {
          "description": "Field id of the field containing the finding.",
          "$ref": "GooglePrivacyDlpV2FieldId"
        }
      },
      "id": "GooglePrivacyDlpV2RecordLocation"
    },
    "GoogleRpcStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus",
      "type": "object",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "GooglePrivacyDlpV2Export": {
      "description": "If set, the detailed data profiles will be persisted to the location of your choice whenever updated.",
      "type": "object",
      "properties": {
        "profileTable": {
          "description": "Store all profiles to BigQuery. * The system will create a new dataset and table for you if none are are provided. The dataset will be named `sensitive_data_protection_discovery` and table will be named `discovery_profiles`. This table will be placed in the same project as the container project running the scan. After the first profile is generated and the dataset and table are created, the discovery scan configuration will be updated with the dataset and table names. * See [Analyze data profiles stored in BigQuery](https://docs.cloud.google.com/sensitive-data-protection/docs/analyze-data-profiles). * See [Sample queries for your BigQuery table](https://docs.cloud.google.com/sensitive-data-protection/docs/analyze-data-profiles#sample_sql_queries). * Data is inserted using [streaming insert](https://cloud.google.com/blog/products/bigquery/life-of-a-bigquery-streaming-insert) and so data may be in the buffer for a period of time after the profile has finished. * The Pub/Sub notification is sent before the streaming buffer is guaranteed to be written, so data may not be instantly visible to queries by the time your topic receives the Pub/Sub notification. * The best practice is to use the same table for an entire organization so that you can take advantage of the [provided Data Studio reports](https://docs.cloud.google.com/sensitive-data-protection/docs/analyze-data-profiles#use_a_premade_report). If you use VPC Service Controls to define security perimeters, then you must use a separate table for each boundary.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        },
        "sampleFindingsTable": {
          "description": "Store sample data profile findings in an existing table or a new table in an existing dataset. Each regeneration will result in new rows in BigQuery. Data is inserted using [streaming insert](https://cloud.google.com/blog/products/bigquery/life-of-a-bigquery-streaming-insert) and so data may be in the buffer for a period of time after the profile has finished.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        }
      },
      "id": "GooglePrivacyDlpV2Export"
    },
    "GooglePrivacyDlpV2DiscoveryCloudSqlConditions": {
      "id": "GooglePrivacyDlpV2DiscoveryCloudSqlConditions",
      "type": "object",
      "properties": {
        "databaseEngines": {
          "type": "array",
          "description": "Optional. Database engines that should be profiled. Optional. Defaults to ALL_SUPPORTED_DATABASE_ENGINES if unspecified.",
          "items": {
            "enum": [
              "DATABASE_ENGINE_UNSPECIFIED",
              "ALL_SUPPORTED_DATABASE_ENGINES",
              "MYSQL",
              "POSTGRES"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unused.",
              "Include all supported database engines.",
              "MySQL database.",
              "PostgreSQL database."
            ]
          }
        },
        "types": {
          "type": "array",
          "description": "Data profiles will only be generated for the database resource types specified in this field. If not specified, defaults to [DATABASE_RESOURCE_TYPE_ALL_SUPPORTED_TYPES].",
          "items": {
            "enum": [
              "DATABASE_RESOURCE_TYPE_UNSPECIFIED",
              "DATABASE_RESOURCE_TYPE_ALL_SUPPORTED_TYPES",
              "DATABASE_RESOURCE_TYPE_TABLE"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unused.",
              "Includes database resource types that become supported at a later time.",
              "Tables."
            ]
          }
        }
      },
      "description": "Requirements that must be true before a table is profiled for the first time."
    },
    "GooglePrivacyDlpV2KAnonymityConfig": {
      "description": "k-anonymity metric, used for analysis of reidentification risk.",
      "id": "GooglePrivacyDlpV2KAnonymityConfig",
      "type": "object",
      "properties": {
        "quasiIds": {
          "description": "Set of fields to compute k-anonymity over. When multiple fields are specified, they are considered a single composite key. Structs and repeated data types are not supported; however, nested fields are supported so long as they are not structs themselves or nested within a repeated field.",
          "items": {
            "$ref": "GooglePrivacyDlpV2FieldId"
          },
          "type": "array"
        },
        "entityId": {
          "description": "Message indicating that multiple rows might be associated to a single individual. If the same entity_id is associated to multiple quasi-identifier tuples over distinct rows, we consider the entire collection of tuples as the composite quasi-identifier. This collection is a multiset: the order in which the different tuples appear in the dataset is ignored, but their frequency is taken into account. Important note: a maximum of 1000 rows can be associated to a single entity ID. If more rows are associated with the same entity ID, some might be ignored.",
          "$ref": "GooglePrivacyDlpV2EntityId"
        }
      }
    },
    "GooglePrivacyDlpV2HybridInspectResponse": {
      "description": "Quota exceeded errors will be thrown once quota has been met.",
      "id": "GooglePrivacyDlpV2HybridInspectResponse",
      "type": "object",
      "properties": {}
    },
    "GooglePrivacyDlpV2ImageFallbackLocation": {
      "id": "GooglePrivacyDlpV2ImageFallbackLocation",
      "type": "object",
      "properties": {
        "multiRegionProcessing": {
          "description": "Processing occurs in a multi-region that contains the current region if available.",
          "$ref": "GooglePrivacyDlpV2MultiRegionProcessing"
        },
        "globalProcessing": {
          "description": "Processing occurs in the global region.",
          "$ref": "GooglePrivacyDlpV2GlobalProcessing"
        }
      },
      "description": "Configure image processing to fall back to any of the following processing options if image processing is unavailable in the original request location."
    },
    "GooglePrivacyDlpV2StorageMetadataLabel": {
      "type": "object",
      "properties": {
        "key": {
          "description": "Label name.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2StorageMetadataLabel",
      "description": "Storage metadata label to indicate which metadata entry contains findings."
    },
    "GooglePrivacyDlpV2DateTime": {
      "description": "Message for a date time object. e.g. 2018-01-01, 5th August.",
      "type": "object",
      "properties": {
        "timeZone": {
          "description": "Time zone",
          "$ref": "GooglePrivacyDlpV2TimeZone"
        },
        "dayOfWeek": {
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "description": "Day of week",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        },
        "time": {
          "description": "Time of day",
          "$ref": "GoogleTypeTimeOfDay"
        },
        "date": {
          "description": "One or more of the following must be set. Must be a valid date or time value.",
          "$ref": "GoogleTypeDate"
        }
      },
      "id": "GooglePrivacyDlpV2DateTime"
    },
    "GooglePrivacyDlpV2KMapEstimationResult": {
      "id": "GooglePrivacyDlpV2KMapEstimationResult",
      "type": "object",
      "properties": {
        "kMapEstimationHistogram": {
          "type": "array",
          "description": "The intervals [min_anonymity, max_anonymity] do not overlap. If a value doesn't correspond to any such interval, the associated frequency is zero. For example, the following records: {min_anonymity: 1, max_anonymity: 1, frequency: 17} {min_anonymity: 2, max_anonymity: 3, frequency: 42} {min_anonymity: 5, max_anonymity: 10, frequency: 99} mean that there are no record with an estimated anonymity of 4, 5, or larger than 10.",
          "items": {
            "$ref": "GooglePrivacyDlpV2KMapEstimationHistogramBucket"
          }
        }
      },
      "description": "Result of the reidentifiability analysis. Note that these results are an estimation, not exact values."
    },
    "GooglePrivacyDlpV2FinishDlpJobRequest": {
      "id": "GooglePrivacyDlpV2FinishDlpJobRequest",
      "type": "object",
      "properties": {},
      "description": "The request message for finishing a DLP hybrid job."
    },
    "GooglePrivacyDlpV2DataProfileBigQueryRowSchema": {
      "description": "The schema of data to be saved to the BigQuery table when the `DataProfileAction` is enabled.",
      "type": "object",
      "properties": {
        "fileStoreProfile": {
          "description": "File store data profile column.",
          "$ref": "GooglePrivacyDlpV2FileStoreDataProfile"
        },
        "tableProfile": {
          "description": "Table data profile column",
          "$ref": "GooglePrivacyDlpV2TableDataProfile"
        },
        "columnProfile": {
          "description": "Column data profile column",
          "$ref": "GooglePrivacyDlpV2ColumnDataProfile"
        }
      },
      "id": "GooglePrivacyDlpV2DataProfileBigQueryRowSchema"
    },
    "GooglePrivacyDlpV2DetectionRule": {
      "description": "Deprecated; use `InspectionRuleSet` instead. Rule for modifying a `CustomInfoType` to alter behavior under certain circumstances, depending on the specific details of the rule. Not supported for the `surrogate_type` custom infoType.",
      "id": "GooglePrivacyDlpV2DetectionRule",
      "type": "object",
      "properties": {
        "hotwordRule": {
          "description": "Hotword-based detection rule.",
          "$ref": "GooglePrivacyDlpV2HotwordRule"
        }
      }
    },
    "GooglePrivacyDlpV2InspectConfig": {
      "description": "Configuration description of the scanning process. When used with redactContent only info_types and min_likelihood are currently used.",
      "id": "GooglePrivacyDlpV2InspectConfig",
      "type": "object",
      "properties": {
        "contentOptions": {
          "items": {
            "enum": [
              "CONTENT_UNSPECIFIED",
              "CONTENT_TEXT",
              "CONTENT_IMAGE"
            ],
            "type": "string",
            "enumDescriptions": [
              "Includes entire content of a file or a data stream.",
              "Text content within the data, excluding any metadata.",
              "Images found in the data."
            ]
          },
          "description": "Deprecated and unused.",
          "type": "array"
        },
        "minLikelihoodPerInfoType": {
          "description": "Minimum likelihood per infotype. For each infotype, a user can specify a minimum likelihood. The system only returns a finding if its likelihood is above this threshold. If this field is not set, the system uses the InspectConfig min_likelihood.",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeLikelihood"
          },
          "type": "array"
        },
        "customInfoTypes": {
          "items": {
            "$ref": "GooglePrivacyDlpV2CustomInfoType"
          },
          "description": "CustomInfoTypes provided by the user. See https://docs.cloud.google.com/sensitive-data-protection/docs/creating-custom-infotypes to learn more.",
          "type": "array"
        },
        "minLikelihood": {
          "type": "string",
          "enumDescriptions": [
            "Default value; same as POSSIBLE.",
            "Highest chance of a false positive.",
            "High chance of a false positive.",
            "Some matching signals. The default value.",
            "Low chance of a false positive.",
            "Confidence level is high. Lowest chance of a false positive."
          ],
          "description": "Only returns findings equal to or above this threshold. The default is POSSIBLE. In general, the highest likelihood setting yields the fewest findings in results and the lowest chance of a false positive. For more information, see [Match likelihood](https://docs.cloud.google.com/sensitive-data-protection/docs/likelihood).",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "includeQuote": {
          "description": "When true, a contextual quote from the data that triggered a finding is included in the response; see Finding.quote. This is not used for data profiling.",
          "type": "boolean"
        },
        "excludeInfoTypes": {
          "description": "When true, excludes type information of the findings. This is not used for data profiling.",
          "type": "boolean"
        },
        "limits": {
          "description": "Configuration to control the number of findings returned. This is not used for data profiling. When redacting sensitive data from images, finding limits don't apply. They can cause unexpected or inconsistent results, where only some data is redacted. Don't include finding limits in RedactImage requests. Otherwise, Cloud DLP returns an error. When set within an InspectJobConfig, the specified maximum values aren't hard limits. If an inspection job reaches these limits, the job ends gradually, not abruptly. Therefore, the actual number of findings that Cloud DLP returns can be multiple times higher than these maximum values.",
          "$ref": "GooglePrivacyDlpV2FindingLimits"
        },
        "ruleSet": {
          "items": {
            "$ref": "GooglePrivacyDlpV2InspectionRuleSet"
          },
          "description": "Set of rules to apply to the findings for this InspectConfig. Exclusion rules, contained in the set are executed in the end, other rules are executed in the order they are specified for each info type. Not supported for the `metadata_key_value_expression` CustomInfoType.",
          "type": "array"
        },
        "infoTypes": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoType"
          },
          "description": "Restricts what info_types to look for. The values must correspond to InfoType values returned by ListInfoTypes or listed at https://docs.cloud.google.com/sensitive-data-protection/docs/infotypes-reference. When no InfoTypes or CustomInfoTypes are specified in a request, the system may automatically choose a default list of detectors to run, which may change over time. If you need precise control and predictability as to what detectors are run you should specify specific InfoTypes listed in the reference, otherwise a default list will be used, which may change over time."
        }
      }
    },
    "GooglePrivacyDlpV2DataProfileAction": {
      "type": "object",
      "properties": {
        "exportData": {
          "description": "Export data profiles into a provided location.",
          "$ref": "GooglePrivacyDlpV2Export"
        },
        "publishToChronicle": {
          "description": "Publishes generated data profiles to Google Security Operations. For more information, see [Use Sensitive Data Protection data in context-aware analytics](https://docs.cloud.google.com/chronicle/docs/detection/usecase-dlp-high-risk-user-download).",
          "$ref": "GooglePrivacyDlpV2PublishToChronicle"
        },
        "publishToScc": {
          "description": "Publishes findings to Security Command Center for each data profile.",
          "$ref": "GooglePrivacyDlpV2PublishToSecurityCommandCenter"
        },
        "tagResources": {
          "description": "Tags the profiled resources with the specified tag values.",
          "$ref": "GooglePrivacyDlpV2TagResources"
        },
        "pubSubNotification": {
          "description": "Publish a message into the Pub/Sub topic.",
          "$ref": "GooglePrivacyDlpV2PubSubNotification"
        },
        "publishToDataplexCatalog": {
          "description": "Publishes a portion of each profile to Dataplex Universal Catalog with the aspect type Sensitive Data Protection Profile.",
          "$ref": "GooglePrivacyDlpV2PublishToDataplexCatalog"
        }
      },
      "id": "GooglePrivacyDlpV2DataProfileAction",
      "description": "A task to execute when a data profile has been generated."
    },
    "GooglePrivacyDlpV2Result": {
      "type": "object",
      "properties": {
        "numRowsProcessed": {
          "description": "Number of rows scanned after sampling and time filtering (applicable for row based stores such as BigQuery).",
          "type": "string",
          "format": "int64"
        },
        "processedBytes": {
          "type": "string",
          "format": "int64",
          "description": "Total size in bytes that were processed."
        },
        "totalEstimatedBytes": {
          "type": "string",
          "format": "int64",
          "description": "Estimate of the number of bytes to process."
        },
        "infoTypeStats": {
          "items": {
            "$ref": "GooglePrivacyDlpV2InfoTypeStats"
          },
          "description": "Statistics of how many instances of each info type were found during inspect job.",
          "type": "array"
        },
        "hybridStats": {
          "description": "Statistics related to the processing of hybrid inspect.",
          "$ref": "GooglePrivacyDlpV2HybridInspectStatistics"
        }
      },
      "id": "GooglePrivacyDlpV2Result",
      "description": "All Result fields are updated while the job is processing."
    },
    "GooglePrivacyDlpV2Container": {
      "description": "Represents a container that may contain DLP findings. Examples of a container include a file, table, or database record.",
      "type": "object",
      "properties": {
        "version": {
          "description": "Findings container version, if available (\"generation\" for Cloud Storage).",
          "type": "string"
        },
        "fullPath": {
          "description": "A string representation of the full container name. Examples: - BigQuery: 'Project:DataSetId.TableId' - Cloud Storage: 'gs://Bucket/folders/filename.txt'",
          "type": "string"
        },
        "relativePath": {
          "description": "The rest of the path after the root. Examples: - For BigQuery table `project_id:dataset_id.table_id`, the relative path is `table_id` - For Cloud Storage file `gs://bucket/folder/filename.txt`, the relative path is `folder/filename.txt`",
          "type": "string"
        },
        "type": {
          "description": "Container type, for example BigQuery or Cloud Storage.",
          "type": "string"
        },
        "updateTime": {
          "description": "Findings container modification timestamp, if applicable. For Cloud Storage, this field contains the last file modification timestamp. For a BigQuery table, this field contains the last_modified_time property. For Datastore, this field isn't populated.",
          "type": "string",
          "format": "google-datetime"
        },
        "rootPath": {
          "description": "The root of the container. Examples: - For BigQuery table `project_id:dataset_id.table_id`, the root is `dataset_id` - For Cloud Storage file `gs://bucket/folder/filename.txt`, the root is `gs://bucket`",
          "type": "string"
        },
        "projectId": {
          "description": "Project where the finding was found. Can be different from the project that owns the finding.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2Container"
    },
    "GooglePrivacyDlpV2Expressions": {
      "description": "An expression, consisting of an operator and conditions.",
      "type": "object",
      "properties": {
        "logicalOperator": {
          "description": "The operator to apply to the result of conditions. Default and currently only supported value is `AND`.",
          "enum": [
            "LOGICAL_OPERATOR_UNSPECIFIED",
            "AND"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unused",
            "Conditional AND"
          ]
        },
        "conditions": {
          "description": "Conditions to apply to the expression.",
          "$ref": "GooglePrivacyDlpV2Conditions"
        }
      },
      "id": "GooglePrivacyDlpV2Expressions"
    },
    "GooglePrivacyDlpV2InfoTypeSummary": {
      "description": "The infoType details for this column.",
      "id": "GooglePrivacyDlpV2InfoTypeSummary",
      "type": "object",
      "properties": {
        "infoType": {
          "description": "The infoType.",
          "$ref": "GooglePrivacyDlpV2InfoType"
        },
        "estimatedPrevalence": {
          "deprecated": true,
          "description": "Not populated for predicted infotypes.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GooglePrivacyDlpV2InspectContentRequest": {
      "type": "object",
      "properties": {
        "item": {
          "description": "The item to inspect.",
          "$ref": "GooglePrivacyDlpV2ContentItem"
        },
        "inspectTemplateName": {
          "description": "Template to use. Any configuration directly specified in inspect_config will override those set in the template. Singular fields that are set in this request will replace their corresponding fields in the template. Repeated fields are appended. Singular sub-messages and groups are recursively merged.",
          "type": "string"
        },
        "inspectConfig": {
          "description": "Configuration for the inspector. What specified here will override the template referenced by the inspect_template_name argument.",
          "$ref": "GooglePrivacyDlpV2InspectConfig"
        },
        "locationId": {
          "description": "Deprecated. This field has no effect.",
          "type": "string"
        }
      },
      "id": "GooglePrivacyDlpV2InspectContentRequest",
      "description": "Request to search for potentially sensitive info in a ContentItem."
    },
    "GooglePrivacyDlpV2DataProfileLocation": {
      "type": "object",
      "properties": {
        "folderId": {
          "type": "string",
          "format": "int64",
          "description": "The ID of the folder within an organization to scan."
        },
        "organizationId": {
          "type": "string",
          "format": "int64",
          "description": "The ID of an organization to scan."
        }
      },
      "id": "GooglePrivacyDlpV2DataProfileLocation",
      "description": "The data that will be profiled."
    },
    "GooglePrivacyDlpV2TransformationLocation": {
      "description": "Specifies the location of a transformation.",
      "type": "object",
      "properties": {
        "findingId": {
          "description": "For infotype transformations, link to the corresponding findings ID so that location information does not need to be duplicated. Each findings ID correlates to an entry in the findings output table, this table only gets created when users specify to save findings (add the save findings action to the request).",
          "type": "string"
        },
        "containerType": {
          "description": "Information about the functionality of the container where this finding occurred, if available.",
          "enum": [
            "TRANSFORM_UNKNOWN_CONTAINER",
            "TRANSFORM_BODY",
            "TRANSFORM_METADATA",
            "TRANSFORM_TABLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "Body of a file.",
            "Metadata for a file.",
            "A table."
          ]
        },
        "recordTransformation": {
          "description": "For record transformations, provide a field and container information.",
          "$ref": "GooglePrivacyDlpV2RecordTransformation"
        }
      },
      "id": "GooglePrivacyDlpV2TransformationLocation"
    },
    "GooglePrivacyDlpV2FileStoreDataProfile": {
      "type": "object",
      "properties": {
        "projectDataProfile": {
          "description": "The resource name of the project data profile for this file store.",
          "type": "string"
        },
        "fullResource": {
          "description": "The resource name of the resource profiled. https://cloud.google.com/apis/design/resource_names#full_resource_name Example format of an S3 bucket full resource name: `//cloudasset.googleapis.com/organizations/{org_id}/otherCloudConnections/aws/arn:aws:s3:::{bucket_name}`",
          "type": "string"
        },
        "fileStoreInfoTypeSummaries": {
          "type": "array",
          "description": "InfoTypes detected in this file store.",
          "items": {
            "$ref": "GooglePrivacyDlpV2FileStoreInfoTypeSummary"
          }
        },
        "fileStoreLocation": {
          "description": "The location of the file store. * Cloud Storage: https://docs.cloud.google.com/storage/docs/locations#available-locations * Amazon S3: https://docs.aws.amazon.com/general/latest/gr/rande.html#regional-endpoints",
          "type": "string"
        },
        "locationType": {
          "description": "The location type of the file store (region, dual-region, multi-region, etc). If dual-region, expect data_storage_locations to be populated.",
          "type": "string"
        },
        "lastModifiedTime": {
          "description": "The time the file store was last modified.",
          "type": "string",
          "format": "google-datetime"
        },
        "fileClusterSummaries": {
          "type": "array",
          "items": {
            "$ref": "GooglePrivacyDlpV2FileClusterSummary"
          },
          "description": "FileClusterSummary per each cluster."
        },
        "state": {
          "description": "State of a profile.",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "DONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "The profile is currently running. Once a profile has finished it will transition to DONE.",
            "The profile is no longer generating. If profile_status.status.code is 0, the profile succeeded, otherwise, it failed."
          ]
        },
        "sampleFindingsTable": {
          "description": "The BigQuery table to which the sample findings are written.",
          "$ref": "GooglePrivacyDlpV2BigQueryTable"
        },
        "tags": {
          "type": "array",
          "description": "The tags attached to the resource, including any tags attached during profiling.",
          "items": {
            "$ref": "GooglePrivacyDlpV2Tag"
          }
        },
        "resourceLabels": {
          "description": "The labels applied to the resource at the time the profile was generated.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the file store was first created."
        },
        "profileStatus": {
          "description": "Success or error status from the most recent profile generation attempt. May be empty if the profile is still being generated.",
          "$ref": "GooglePrivacyDlpV2ProfileStatus"
        },
        "relatedResources": {
          "items": {
            "$ref": "GooglePrivacyDlpV2RelatedResource"
          },
          "description": "Resources related to this profile.",
          "type": "array"
        },
        "dataRiskLevel": {
          "description": "The data risk level of this resource.",
          "$ref": "GooglePrivacyDlpV2DataRiskLevel"
        },
        "resourceVisibility": {
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "Visible to any user.",
            "May contain public items. For example, if a Cloud Storage bucket has uniform bucket level access disabled, some objects inside it may be public, but none are known yet.",
            "Visible only to specific users."
          ],
          "description": "How broadly a resource has been shared.",
          "enum": [
            "RESOURCE_VISIBILITY_UNSPECIFIED",
[...]
