{
  "documentationLink": "https://cloud.google.com/dns/docs",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Cloud DNS API",
  "version": "v1",
  "description": "",
  "resources": {
    "resourceRecordSets": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            },
            "type": {
              "description": "RRSet type.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "name": {
              "description": "Fully qualified domain name.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "managedZone": {
              "required": true,
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path"
            }
          },
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "description": "Fetches the representation of an existing ResourceRecordSet.",
          "id": "dns.resourceRecordSets.get",
          "parameterOrder": [
            "project",
            "managedZone",
            "name",
            "type"
          ],
          "response": {
            "$ref": "ResourceRecordSet"
          },
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "description": "Fully qualified domain name.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "managedZone": {
              "required": true,
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path"
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            },
            "type": {
              "required": true,
              "type": "string",
              "description": "RRSet type.",
              "location": "path"
            }
          },
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "description": "Deletes a previously created ResourceRecordSet.",
          "id": "dns.resourceRecordSets.delete",
          "parameterOrder": [
            "project",
            "managedZone",
            "name",
            "type"
          ],
          "response": {
            "$ref": "ResourceRecordSetsDeleteResponse"
          },
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "create": {
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets",
          "description": "Creates a new ResourceRecordSet.",
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "managedZone": {
              "required": true,
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path"
            }
          },
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.resourceRecordSets.create",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "request": {
            "$ref": "ResourceRecordSet"
          },
          "response": {
            "$ref": "ResourceRecordSet"
          }
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "location": "query"
            },
            "filter": {
              "description": "Specify a filter expression to view records that exactly match the specified domain. Both the `name` and `type` parameters are not supported and must be omitted when you use `filter`. Your `filter` expression must conform to AIP-160 and you must specify a domain in the `name` field. Optionally, you can include the `type` field to filter records by type. You can also include the `has_suffix` function to view records that match by domain suffix. Examples: * `name`=\"example.com.\" * `name`=\"example.com.\" AND type=\"A\" * `name`=`has_suffix`(\"example.com.\") * `name`=`has_suffix`(\"example.com.\") AND type=\"A\"",
              "location": "query",
              "type": "string"
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            },
            "pageToken": {
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query",
              "type": "string"
            },
            "type": {
              "description": "Specify a record type to view only those records. You must also specify the `name` parameter. The `type` parameter is not supported and must be omitted when you use `filter`.",
              "location": "query",
              "type": "string"
            },
            "managedZone": {
              "required": true,
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path"
            },
            "name": {
              "description": "Specify a fully qualified domain name to view only those records. The `name` parameter is not supported and must be omitted when you use `filter`.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets",
          "description": "Enumerates ResourceRecordSets that you have created but not yet deleted.",
          "response": {
            "$ref": "ResourceRecordSetsListResponse"
          },
          "id": "dns.resourceRecordSets.list",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "patch": {
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "ResourceRecordSet"
          },
          "parameterOrder": [
            "project",
            "managedZone",
            "name",
            "type"
          ],
          "request": {
            "$ref": "ResourceRecordSet"
          },
          "id": "dns.resourceRecordSets.patch",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "description": "Applies a partial update to an existing ResourceRecordSet.",
          "httpMethod": "PATCH",
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "type": {
              "required": true,
              "type": "string",
              "description": "RRSet type.",
              "location": "path"
            },
            "name": {
              "description": "Fully qualified domain name.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        }
      }
    },
    "dnsKeys": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "digestType": {
              "description": "An optional comma-separated list of digest types to compute and display for key signing keys. If omitted, the recommended digest type is computed and displayed.",
              "location": "query",
              "type": "string"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            },
            "dnsKeyId": {
              "required": true,
              "type": "string",
              "description": "The identifier of the requested DnsKey.",
              "location": "path"
            }
          },
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/dnsKeys/{dnsKeyId}",
          "description": "Fetches the representation of an existing DnsKey.",
          "response": {
            "$ref": "DnsKey"
          },
          "id": "dns.dnsKeys.get",
          "parameterOrder": [
            "project",
            "managedZone",
            "dnsKeyId"
          ],
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/dnsKeys/{dnsKeyId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "list": {
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/dnsKeys",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "DnsKeysListResponse"
          },
          "id": "dns.dnsKeys.list",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/dnsKeys",
          "description": "Enumerates DnsKeys to a ResourceRecordSet collection.",
          "httpMethod": "GET",
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            },
            "pageToken": {
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "managedZone": {
              "required": true,
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path"
            },
            "digestType": {
              "description": "An optional comma-separated list of digest types to compute and display for key signing keys. If omitted, the recommended digest type is computed and displayed.",
              "location": "query",
              "type": "string"
            }
          }
        }
      }
    },
    "responsePolicyRules": {
      "methods": {
        "list": {
          "id": "dns.responsePolicyRules.list",
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "response": {
            "$ref": "ResponsePolicyRulesListResponse"
          },
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "GET",
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            },
            "pageToken": {
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "location": "query"
            },
            "responsePolicy": {
              "required": true,
              "type": "string",
              "description": "User assigned name of the Response Policy to list.",
              "location": "path"
            }
          },
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules",
          "description": "Enumerates all Response Policy Rules associated with a project."
        },
        "create": {
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules",
          "description": "Creates a new Response Policy Rule.",
          "httpMethod": "POST",
          "parameters": {
            "responsePolicy": {
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "ResponsePolicyRule"
          },
          "id": "dns.responsePolicyRules.create",
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "request": {
            "$ref": "ResponsePolicyRule"
          }
        },
        "patch": {
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "request": {
            "$ref": "ResponsePolicyRule"
          },
          "id": "dns.responsePolicyRules.patch",
          "response": {
            "$ref": "ResponsePolicyRulesPatchResponse"
          },
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "description": "Applies a partial update to an existing Response Policy Rule.",
          "httpMethod": "PATCH",
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "responsePolicyRule": {
              "required": true,
              "type": "string",
              "description": "User assigned name of the Response Policy Rule addressed by this request.",
              "location": "path"
            },
            "responsePolicy": {
              "required": true,
              "type": "string",
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "location": "path"
            }
          }
        },
        "update": {
          "response": {
            "$ref": "ResponsePolicyRulesUpdateResponse"
          },
          "id": "dns.responsePolicyRules.update",
          "parameterOrder": [
            "project",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "request": {
            "$ref": "ResponsePolicyRule"
          },
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "responsePolicy": {
              "required": true,
              "type": "string",
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "location": "path"
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "responsePolicyRule": {
              "required": true,
              "type": "string",
              "description": "User assigned name of the Response Policy Rule addressed by this request.",
              "location": "path"
            }
          },
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "description": "Updates an existing Response Policy Rule."
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "responsePolicyRule": {
              "required": true,
              "type": "string",
              "description": "User assigned name of the Response Policy Rule addressed by this request.",
              "location": "path"
            },
            "responsePolicy": {
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "description": "Fetches the representation of an existing Response Policy Rule.",
          "parameterOrder": [
            "project",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "id": "dns.responsePolicyRules.get",
          "response": {
            "$ref": "ResponsePolicyRule"
          },
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "delete": {
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "description": "Deletes a previously created Response Policy Rule.",
          "id": "dns.responsePolicyRules.delete",
          "parameterOrder": [
            "project",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "responsePolicyRule": {
              "description": "User assigned name of the Response Policy Rule addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "responsePolicy": {
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        }
      }
    },
    "managedZoneOperations": {
      "methods": {
        "get": {
          "parameterOrder": [
            "project",
            "managedZone",
            "operation"
          ],
          "id": "dns.managedZoneOperations.get",
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/operations/{operation}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "GET",
          "parameters": {
            "operation": {
              "required": true,
              "type": "string",
              "description": "Identifies the operation addressed by this request (ID of the operation).",
              "location": "path"
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            }
          },
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/operations/{operation}",
          "description": "Fetches the representation of an existing Operation."
        },
        "list": {
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/operations",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "id": "dns.managedZoneOperations.list",
          "response": {
            "$ref": "ManagedZoneOperationsListResponse"
          },
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/operations",
          "description": "Enumerates Operations for the given ManagedZone.",
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query"
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "sortBy": {
              "description": "Sorting criterion. The only supported values are START_TIME and ID.",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "startTime",
                "id"
              ],
              "type": "string",
              "default": "startTime"
            }
          }
        }
      }
    },
    "policies": {
      "methods": {
        "create": {
          "path": "dns/v1/projects/{project}/policies",
          "description": "Creates a new policy.",
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "dns/v1/projects/{project}/policies",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "Policy"
          },
          "id": "dns.policies.create",
          "parameterOrder": [
            "project"
          ],
          "request": {
            "$ref": "Policy"
          }
        },
        "list": {
          "response": {
            "$ref": "PoliciesListResponse"
          },
          "id": "dns.policies.list",
          "parameterOrder": [
            "project"
          ],
          "flatPath": "dns/v1/projects/{project}/policies",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "GET",
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            },
            "pageToken": {
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "location": "query"
            }
          },
          "path": "dns/v1/projects/{project}/policies",
          "description": "Enumerates all policies associated with a project."
        },
        "patch": {
          "flatPath": "dns/v1/projects/{project}/policies/{policy}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "PoliciesPatchResponse"
          },
          "id": "dns.policies.patch",
          "parameterOrder": [
            "project",
            "policy"
          ],
          "request": {
            "$ref": "Policy"
          },
          "path": "dns/v1/projects/{project}/policies/{policy}",
          "description": "Applies a partial update to an existing policy.",
          "httpMethod": "PATCH",
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "policy": {
              "description": "User given friendly name of the policy addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        },
        "update": {
          "flatPath": "dns/v1/projects/{project}/policies/{policy}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "PoliciesUpdateResponse"
          },
          "id": "dns.policies.update",
          "parameterOrder": [
            "project",
            "policy"
          ],
          "request": {
            "$ref": "Policy"
          },
          "path": "dns/v1/projects/{project}/policies/{policy}",
          "description": "Updates an existing policy.",
          "httpMethod": "PUT",
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "policy": {
              "required": true,
              "type": "string",
              "description": "User given friendly name of the policy addressed by this request.",
              "location": "path"
            }
          }
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "policy": {
              "description": "User given friendly name of the policy addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "dns/v1/projects/{project}/policies/{policy}",
          "description": "Fetches the representation of an existing policy.",
          "response": {
            "$ref": "Policy"
          },
          "parameterOrder": [
            "project",
            "policy"
          ],
          "id": "dns.policies.get",
          "flatPath": "dns/v1/projects/{project}/policies/{policy}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "delete": {
          "id": "dns.policies.delete",
          "parameterOrder": [
            "project",
            "policy"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "policy": {
              "description": "User given friendly name of the policy addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "dns/v1/projects/{project}/policies/{policy}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1/projects/{project}/policies/{policy}",
          "description": "Deletes a previously created policy. Fails if the policy is still being referenced by a network."
        }
      }
    },
    "managedZones": {
      "methods": {
        "list": {
          "path": "dns/v1/projects/{project}/managedZones",
          "description": "Enumerates ManagedZones that have been created but not yet deleted.",
          "httpMethod": "GET",
          "parameters": {
            "dnsName": {
              "type": "string",
              "description": "Restricts the list to return only zones with this domain name.",
              "location": "query"
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query"
            },
            "maxResults": {
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          },
          "flatPath": "dns/v1/projects/{project}/managedZones",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.managedZones.list",
          "parameterOrder": [
            "project"
          ],
          "response": {
            "$ref": "ManagedZonesListResponse"
          }
        },
        "create": {
          "flatPath": "dns/v1/projects/{project}/managedZones",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project"
          ],
          "request": {
            "$ref": "ManagedZone"
          },
          "id": "dns.managedZones.create",
          "response": {
            "$ref": "ManagedZone"
          },
          "path": "dns/v1/projects/{project}/managedZones",
          "description": "Creates a new ManagedZone.",
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "testIamPermissions": {
          "path": "dns/v1/{+resource}:testIamPermissions",
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this returns an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "pattern": "^projects/[^/]+/managedZones/[^/]+$",
              "required": true,
              "type": "string",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "location": "path"
            }
          },
          "flatPath": "dns/v1/projects/{projectsId}/managedZones/{managedZonesId}:testIamPermissions",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "GoogleIamV1TestIamPermissionsResponse"
          },
          "id": "dns.managedZones.testIamPermissions",
          "parameterOrder": [
            "resource"
          ],
          "request": {
            "$ref": "GoogleIamV1TestIamPermissionsRequest"
          }
        },
        "getIamPolicy": {
          "path": "dns/v1/{+resource}:getIamPolicy",
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^projects/[^/]+/managedZones/[^/]+$"
            }
          },
          "flatPath": "dns/v1/projects/{projectsId}/managedZones/{managedZonesId}:getIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "GoogleIamV1Policy"
          },
          "parameterOrder": [
            "resource"
          ],
          "request": {
            "$ref": "GoogleIamV1GetIamPolicyRequest"
          },
          "id": "dns.managedZones.getIamPolicy"
        },
        "patch": {
          "httpMethod": "PATCH",
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "managedZone": {
              "required": true,
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path"
            }
          },
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "description": "Applies a partial update to an existing ManagedZone.",
          "id": "dns.managedZones.patch",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "request": {
            "$ref": "ManagedZone"
          },
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "update": {
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "description": "Updates an existing ManagedZone.",
          "httpMethod": "PUT",
          "parameters": {
            "managedZone": {
              "required": true,
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            }
          },
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.managedZones.update",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "request": {
            "$ref": "ManagedZone"
          },
          "response": {
            "$ref": "Operation"
          }
        },
        "get": {
          "id": "dns.managedZones.get",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "response": {
            "$ref": "ManagedZone"
          },
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "GET",
          "parameters": {
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "description": "Fetches the representation of an existing ManagedZone."
        },
        "delete": {
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "description": "Deletes a previously created ManagedZone.",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "managedZone": {
              "required": true,
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "id": "dns.managedZones.delete"
        },
        "setIamPolicy": {
          "flatPath": "dns/v1/projects/{projectsId}/managedZones/{managedZonesId}:setIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.managedZones.setIamPolicy",
          "parameterOrder": [
            "resource"
          ],
          "request": {
            "$ref": "GoogleIamV1SetIamPolicyRequest"
          },
          "response": {
            "$ref": "GoogleIamV1Policy"
          },
          "path": "dns/v1/{+resource}:setIamPolicy",
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "required": true,
              "type": "string",
              "pattern": "^projects/[^/]+/managedZones/[^/]+$",
              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "location": "path"
            }
          }
        }
      }
    },
    "projects": {
      "methods": {
        "get": {
          "flatPath": "dns/v1/projects/{project}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.projects.get",
          "parameterOrder": [
            "project"
          ],
          "response": {
            "$ref": "Project"
          },
          "path": "dns/v1/projects/{project}",
          "description": "Fetches the representation of an existing Project.",
          "httpMethod": "GET",
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            }
          }
        }
      }
    },
    "responsePolicies": {
      "methods": {
        "get": {
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "ResponsePolicy"
          },
          "id": "dns.responsePolicies.get",
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "description": "Fetches the representation of an existing Response Policy.",
          "httpMethod": "GET",
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "responsePolicy": {
              "required": true,
              "type": "string",
              "description": "User assigned name of the Response Policy addressed by this request.",
              "location": "path"
            }
          }
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "responsePolicy": {
              "required": true,
              "type": "string",
              "description": "User assigned name of the Response Policy addressed by this request.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "id": "dns.responsePolicies.delete",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "description": "Deletes a previously created Response Policy. Fails if the response policy is non-empty or still being referenced by a network.",
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "update": {
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "ResponsePoliciesUpdateResponse"
          },
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "request": {
            "$ref": "ResponsePolicy"
          },
          "id": "dns.responsePolicies.update",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "description": "Updates an existing Response Policy.",
          "httpMethod": "PUT",
          "parameters": {
            "responsePolicy": {
              "required": true,
              "type": "string",
              "description": "User assigned name of the Response Policy addressed by this request.",
              "location": "path"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "patch": {
          "httpMethod": "PATCH",
          "parameters": {
            "responsePolicy": {
              "required": true,
              "type": "string",
              "description": "User assigned name of the response policy addressed by this request.",
              "location": "path"
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "description": "Applies a partial update to an existing Response Policy.",
          "response": {
            "$ref": "ResponsePoliciesPatchResponse"
          },
          "id": "dns.responsePolicies.patch",
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "request": {
            "$ref": "ResponsePolicy"
          },
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "list": {
          "path": "dns/v1/projects/{project}/responsePolicies",
          "description": "Enumerates all Response Policies associated with a project.",
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "location": "query"
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query"
            }
          },
          "flatPath": "dns/v1/projects/{project}/responsePolicies",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project"
          ],
          "id": "dns.responsePolicies.list",
          "response": {
            "$ref": "ResponsePoliciesListResponse"
          }
        },
        "create": {
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            }
          },
          "path": "dns/v1/projects/{project}/responsePolicies",
          "description": "Creates a new Response Policy",
          "response": {
            "$ref": "ResponsePolicy"
          },
          "parameterOrder": [
            "project"
          ],
          "request": {
            "$ref": "ResponsePolicy"
          },
          "id": "dns.responsePolicies.create",
          "flatPath": "dns/v1/projects/{project}/responsePolicies",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        }
      }
    },
    "changes": {
      "methods": {
        "get": {
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/changes/{changeId}",
          "description": "Fetches the representation of an existing Change.",
          "httpMethod": "GET",
          "parameters": {
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "changeId": {
              "description": "The identifier of the requested change, from a previous ResourceRecordSetsChangeResponse.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/changes/{changeId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "Change"
          },
          "parameterOrder": [
            "project",
            "managedZone",
            "changeId"
          ],
          "id": "dns.changes.get"
        },
        "list": {
          "response": {
            "$ref": "ChangesListResponse"
          },
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "id": "dns.changes.list",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/changes",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "GET",
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query"
            },
            "maxResults": {
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "sortOrder": {
              "type": "string",
              "description": "Sorting order direction: 'ascending' or 'descending'.",
              "location": "query"
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "sortBy": {
              "description": "Sorting criterion. The only supported value is change sequence.",
              "location": "query",
              "enumDescriptions": [
                ""
              ],
              "enum": [
                "changeSequence"
              ],
              "type": "string",
              "default": "changeSequence"
            }
          },
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/changes",
          "description": "Enumerates Changes to a ResourceRecordSet collection."
        },
        "create": {
          "response": {
            "$ref": "Change"
          },
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "request": {
            "$ref": "Change"
          },
          "id": "dns.changes.create",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/changes",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "POST",
          "parameters": {
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/changes",
          "description": "Atomically updates the ResourceRecordSet collection."
        }
      }
    }
  },
  "revision": "20260630",
  "kind": "discovery#restDescription",
  "basePath": "",
  "protocol": "rest",
  "canonicalName": "Dns",
  "servicePath": "",
  "schemas": {
    "Project": {
      "id": "Project",
      "description": "A project resource. The project is a top level container for resources including Cloud DNS ManagedZones. Projects can be created only in the APIs console.",
      "properties": {
        "kind": {
          "type": "string",
          "default": "dns#project"
        },
        "number": {
          "description": "Unique numeric identifier for the resource; defined by the server (output only).",
          "type": "string",
          "format": "uint64"
        },
        "quota": {
          "description": "Quotas assigned to this project (output only).",
          "$ref": "Quota"
        },
        "id": {
          "description": "User assigned unique identifier for the resource (output only).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DnsKeysListResponse": {
      "properties": {
        "dnsKeys": {
          "description": "The requested resources.",
          "items": {
            "$ref": "DnsKey"
          },
          "type": "array"
        },
        "kind": {
          "default": "dns#dnsKeysListResponse",
          "type": "string",
          "description": "Type of resource."
        },
        "nextPageToken": {
          "description": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DnsKeysListResponse",
      "description": "The response to a request to enumerate DnsKeys in a ManagedZone."
    },
    "ResponsePolicyGKECluster": {
      "id": "ResponsePolicyGKECluster",
      "type": "object",
      "properties": {
        "gkeClusterName": {
          "description": "The resource name of the cluster to bind this response policy to. This should be specified in the format like: projects/*/locations/*/clusters/*. This is referenced from GKE projects.locations.clusters.get API: https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters/get",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "dns#responsePolicyGKECluster"
        }
      }
    },
    "ResponsePoliciesPatchResponse": {
      "id": "ResponsePoliciesPatchResponse",
      "properties": {
        "responsePolicy": {
          "$ref": "ResponsePolicy"
        }
      },
      "type": "object"
    },
    "ResponsePolicyRulesListResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size.",
          "type": "string"
        },
        "responsePolicyRules": {
          "type": "array",
          "items": {
            "$ref": "ResponsePolicyRule"
          },
          "description": "The Response Policy Rule resources."
        }
      },
      "id": "ResponsePolicyRulesListResponse"
    },
    "Policy": {
      "description": "A policy is a collection of DNS rules applied to one or more Virtual Private Cloud resources.",
      "id": "Policy",
      "type": "object",
      "properties": {
        "enableInboundForwarding": {
          "description": "Allows networks bound to this policy to receive DNS queries sent by VMs or applications over VPN connections. When enabled, a virtual IP address is allocated from each of the subnetworks that are bound to this policy.",
          "type": "boolean"
        },
        "description": {
          "description": "A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the policy's function.",
          "type": "string"
        },
        "name": {
          "description": "User-assigned name for this policy.",
          "type": "string"
        },
        "networks": {
          "type": "array",
          "items": {
            "$ref": "PolicyNetwork"
          },
          "description": "List of network names specifying networks to which this policy is applied."
        },
        "dns64Config": {
          "description": "Configurations related to DNS64 for this policy.",
          "$ref": "PolicyDns64Config"
        },
        "kind": {
          "default": "dns#policy",
          "type": "string"
        },
        "id": {
          "description": "Unique identifier for the resource; defined by the server (output only).",
          "format": "uint64",
          "type": "string"
        },
        "enableLogging": {
          "description": "Controls whether logging is enabled for the networks bound to this policy. Defaults to no logging if not set.",
          "type": "boolean"
        },
        "alternativeNameServerConfig": {
          "description": "Sets an alternative name server for the associated networks. When specified, all DNS queries are forwarded to a name server that you choose. Names such as .internal are not available when an alternative name server is specified.",
          "$ref": "PolicyAlternativeNameServerConfig"
        }
      }
    },
    "ResponsePoliciesUpdateResponse": {
      "type": "object",
      "properties": {
        "responsePolicy": {
          "$ref": "ResponsePolicy"
        }
      },
      "id": "ResponsePoliciesUpdateResponse"
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for `TestIamPermissions` method.",
      "id": "GoogleIamV1TestIamPermissionsResponse"
    },
    "RRSetRoutingPolicyPrimaryBackupPolicy": {
      "properties": {
        "primaryTargets": {
          "description": "Endpoints that are health checked before making the routing decision. Unhealthy endpoints are omitted from the results. If all endpoints are unhealthy, we serve a response based on the `backup_geo_targets`.",
          "$ref": "RRSetRoutingPolicyHealthCheckTargets"
        },
        "kind": {
          "default": "dns#rRSetRoutingPolicyPrimaryBackupPolicy",
          "type": "string"
        },
        "backupGeoTargets": {
          "description": "Backup targets provide a regional failover policy for the otherwise global primary targets. If serving state is set to `BACKUP`, this policy essentially becomes a geo routing policy.",
          "$ref": "RRSetRoutingPolicyGeoPolicy"
        },
        "trickleTraffic": {
          "description": "When serving state is `PRIMARY`, this field provides the option of sending a small percentage of the traffic to the backup targets.",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "id": "RRSetRoutingPolicyPrimaryBackupPolicy",
      "description": "Configures a RRSetRoutingPolicy such that all queries are responded with the primary_targets if they are healthy. And if all of them are unhealthy, then we fallback to a geo localized policy."
    },
    "ResourceRecordSetsListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "default": "dns#resourceRecordSetsListResponse",
          "type": "string",
          "description": "Type of resource."
        },
        "rrsets": {
          "type": "array",
          "items": {
            "$ref": "ResourceRecordSet"
          },
          "description": "The resource record set resources."
        },
        "nextPageToken": {
          "description": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size.",
          "type": "string"
        }
      },
      "id": "ResourceRecordSetsListResponse"
    },
    "DnsKey": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Unique identifier for the resource; defined by the server (output only).",
          "type": "string"
        },
        "keyLength": {
          "description": "Length of the key in bits. Specified at creation time, and then immutable.",
          "format": "uint32",
          "type": "integer"
        },
        "kind": {
          "default": "dns#dnsKey",
          "type": "string"
        },
        "keyTag": {
          "format": "int32",
          "type": "integer",
          "description": "The key tag is a non-cryptographic hash of the a DNSKEY resource record associated with this DnsKey. The key tag can be used to identify a DNSKEY more quickly (but it is not a unique identifier). In particular, the key tag is used in a parent zone's DS record to point at the DNSKEY in this child ManagedZone. The key tag is a number in the range [0, 65535] and the algorithm to calculate it is specified in RFC4034 Appendix B. Output only."
        },
        "digests": {
          "description": "Cryptographic hashes of the DNSKEY resource record associated with this DnsKey. These digests are needed to construct a DS record that points at this DNS key. Output only.",
          "type": "array",
          "items": {
            "$ref": "DnsKeyDigest"
          }
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "keySigning",
            "zoneSigning"
          ],
          "description": "One of \"KEY_SIGNING\" or \"ZONE_SIGNING\". Keys of type KEY_SIGNING have the Secure Entry Point flag set and, when active, are used to sign only resource record sets of type DNSKEY. Otherwise, the Secure Entry Point flag is cleared, and this key is used to sign only resource record sets of other types. Immutable after creation time."
        },
        "algorithm": {
          "description": "String mnemonic specifying the DNSSEC algorithm of this key. Immutable after creation time.",
          "enum": [
            "rsasha1",
            "rsasha256",
            "rsasha512",
            "ecdsap256sha256",
            "ecdsap384sha384"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "publicKey": {
          "description": "Base64 encoded public half of this key. Output only.",
          "type": "string"
        },
        "isActive": {
          "description": "Active keys are used to sign subsequent changes to the ManagedZone. Inactive keys are still present as DNSKEY Resource Records for the use of resolvers validating existing signatures.",
          "type": "boolean"
        },
        "description": {
          "description": "A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the resource's function.",
          "type": "string"
        },
        "creationTime": {
          "description": "The time that this resource was created in the control plane. This is in RFC3339 text format. Output only.",
          "type": "string"
        }
      },
      "description": "A DNSSEC key pair.",
      "id": "DnsKey"
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "id": "GoogleIamV1TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "OperationDnsKeyContext": {
      "type": "object",
      "properties": {
        "oldValue": {
          "description": "The pre-operation DnsKey resource.",
          "$ref": "DnsKey"
        },
        "newValue": {
          "description": "The post-operation DnsKey resource.",
          "$ref": "DnsKey"
        }
      },
      "id": "OperationDnsKeyContext"
    },
    "GoogleIamV1Policy": {
      "properties": {
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          }
        }
      },
      "type": "object",
      "id": "GoogleIamV1Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "OperationManagedZoneContext": {
      "properties": {
        "newValue": {
          "description": "The post-operation ManagedZone resource.",
          "$ref": "ManagedZone"
        },
        "oldValue": {
          "description": "The pre-operation ManagedZone resource.",
          "$ref": "ManagedZone"
        }
      },
      "type": "object",
      "id": "OperationManagedZoneContext"
    },
    "ManagedZonePeeringConfigTargetNetwork": {
      "properties": {
        "networkUrl": {
          "description": "The fully qualified URL of the VPC network to forward queries to. This should be formatted like `https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}`",
          "type": "string"
        },
        "deactivateTime": {
          "description": "The time at which the zone was deactivated, in RFC 3339 date-time format. An empty string indicates that the peering connection is active. The producer network can deactivate a zone. The zone is automatically deactivated if the producer network that the zone targeted is deleted. Output only.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "dns#managedZonePeeringConfigTargetNetwork"
        }
      },
      "type": "object",
      "id": "ManagedZonePeeringConfigTargetNetwork"
    },
    "PoliciesUpdateResponse": {
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "Policy"
        }
      },
      "id": "PoliciesUpdateResponse"
    },
    "RRSetRoutingPolicyGeoPolicy": {
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "RRSetRoutingPolicyGeoPolicyGeoPolicyItem"
          },
          "type": "array",
          "description": "The primary geo routing configuration. If there are multiple items with the same location, an error is returned instead."
        },
        "enableFencing": {
          "description": "Without fencing, if health check fails for all configured items in the current geo bucket, we failover to the next nearest geo bucket. With fencing, if health checking is enabled, as long as some targets in the current geo bucket are healthy, we return only the healthy targets. However, if all targets are unhealthy, we don't failover to the next nearest bucket; instead, we return all the items in the current bucket even when all targets are unhealthy.",
          "type": "boolean"
        },
        "kind": {
          "default": "dns#rRSetRoutingPolicyGeoPolicy",
          "type": "string"
        }
      },
      "description": "Configures a `RRSetRoutingPolicy` that routes based on the geo location of the querying user.",
      "id": "RRSetRoutingPolicyGeoPolicy"
    },
    "PolicyAlternativeNameServerConfigTargetNameServer": {
      "properties": {
        "ipv6Address": {
          "description": "IPv6 address to forward to. Does not accept both fields (ipv4 & ipv6) being populated. Public preview as of November 2022.",
          "type": "string"
        },
        "forwardingPath": {
          "type": "string",
          "enumDescriptions": [
            "Cloud DNS makes forwarding decision based on IP address ranges; that is, RFC1918 addresses forward to the target through the VPC and non-RFC1918 addresses forward to the target through the internet",
            "Cloud DNS always forwards to this target through the VPC."
          ],
          "enum": [
            "default",
            "private"
          ],
          "description": "Forwarding path for this TargetNameServer. If unset or set to DEFAULT, Cloud DNS makes forwarding decisions based on address ranges; that is, RFC1918 addresses go to the VPC network, non-RFC1918 addresses go to the internet. When set to PRIVATE, Cloud DNS always sends queries through the VPC network for this target."
        },
        "kind": {
          "default": "dns#policyAlternativeNameServerConfigTargetNameServer",
          "type": "string"
        },
        "ipv4Address": {
          "description": "IPv4 address to forward queries to.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PolicyAlternativeNameServerConfigTargetNameServer"
    },
    "ResponsePolicyRuleLocalData": {
      "properties": {
        "localDatas": {
          "description": "All resource record sets for this selector, one per resource record type. The name must match the dns_name.",
          "items": {
            "$ref": "ResourceRecordSet"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ResponsePolicyRuleLocalData"
    },
    "PolicyAlternativeNameServerConfig": {
      "id": "PolicyAlternativeNameServerConfig",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "default": "dns#policyAlternativeNameServerConfig"
        },
        "targetNameServers": {
          "description": "Sets an alternative name server for the associated networks. When specified, all DNS queries are forwarded to a name server that you choose. Names such as .internal are not available when an alternative name server is specified.",
          "items": {
            "$ref": "PolicyAlternativeNameServerConfigTargetNameServer"
          },
          "type": "array"
        }
      }
    },
    "Status": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "format": "google.protobuf.Any",
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "PoliciesListResponse": {
      "properties": {
        "policies": {
          "description": "The policy resources.",
          "items": {
            "$ref": "Policy"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size.",
          "type": "string"
        },
        "kind": {
          "description": "Type of resource.",
          "type": "string",
          "default": "dns#policiesListResponse"
        }
      },
      "type": "object",
      "id": "PoliciesListResponse"
    },
    "ManagedZonePrivateVisibilityConfig": {
      "properties": {
        "networks": {
          "description": "The list of VPC networks that can see this zone.",
          "items": {
            "$ref": "ManagedZonePrivateVisibilityConfigNetwork"
          },
          "type": "array"
        },
        "gkeClusters": {
          "description": "The list of Google Kubernetes Engine clusters that can see this zone.",
          "items": {
            "$ref": "ManagedZonePrivateVisibilityConfigGKECluster"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "default": "dns#managedZonePrivateVisibilityConfig"
        }
      },
      "type": "object",
      "id": "ManagedZonePrivateVisibilityConfig"
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "id": "GoogleIamV1SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "GoogleIamV1Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ResponsePolicyRulesUpdateResponse": {
      "id": "ResponsePolicyRulesUpdateResponse",
      "type": "object",
      "properties": {
        "responsePolicyRule": {
          "$ref": "ResponsePolicyRule"
        }
      }
    },
    "RRSetRoutingPolicyGeoPolicyGeoPolicyItem": {
      "type": "object",
      "properties": {
        "location": {
          "description": "The geo-location granularity is a GCP region. This location string should correspond to a GCP region. e.g. \"us-east1\", \"southamerica-east1\", \"asia-east1\", etc.",
          "type": "string"
        },
        "signatureRrdatas": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "DNSSEC generated signatures for all the `rrdata` within this item. When using health-checked targets for DNSSEC-enabled zones, you can only use at most one health-checked IP address per item."
        },
        "kind": {
          "default": "dns#rRSetRoutingPolicyGeoPolicyGeoPolicyItem",
          "type": "string"
        },
        "rrdatas": {
          "type": "array",
[...]
