{
  "name": "dns",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/dns/docs",
  "schemas": {
    "Quota": {
      "description": "Limits associated with a Project.",
      "type": "object",
      "properties": {
        "managedZones": {
          "description": "Maximum allowed number of managed zones in the project.",
          "type": "integer",
          "format": "int32"
        },
        "targetNameServersPerPolicy": {
          "type": "integer",
          "description": "Maximum allowed number of alternative target name servers per policy.",
          "format": "int32"
        },
        "networksPerResponsePolicy": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum allowed number of networks per response policy."
        },
        "networksPerPolicy": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum allowed number of networks per policy."
        },
        "peeringZonesPerTargetNetwork": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum allowed number of consumer peering zones per target network owned by this producer project"
        },
        "gkeClustersPerManagedZone": {
          "description": "Maximum allowed number of GKE clusters to which a privately scoped zone can be attached.",
          "type": "integer",
          "format": "int32"
        },
        "dnsKeysPerManagedZone": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum allowed number of DnsKeys per ManagedZone."
        },
        "targetNameServersPerManagedZone": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum allowed number of target name servers per managed forwarding zone."
        },
        "nameserversPerDelegation": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of nameservers per delegation, meant to prevent abuse"
        },
        "networksPerManagedZone": {
          "format": "int32",
          "description": "Maximum allowed number of networks to which a privately scoped zone can be attached.",
          "type": "integer"
        },
        "managedZonesPerGkeCluster": {
          "format": "int32",
          "description": "Maximum allowed number of managed zones which can be attached to a GKE cluster.",
          "type": "integer"
        },
        "rrsetAdditionsPerChange": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum allowed number of ResourceRecordSets to add per ChangesCreateRequest."
        },
        "gkeClustersPerResponsePolicy": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum allowed number of GKE clusters per response policy."
        },
        "managedZonesPerNetwork": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum allowed number of managed zones which can be attached to a network."
        },
        "internetHealthChecksPerManagedZone": {
          "format": "int32",
          "type": "integer"
        },
        "responsePolicies": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum allowed number of response policies per project."
        },
        "totalRrdataSizePerChange": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum allowed size for total rrdata in one ChangesCreateRequest in bytes."
        },
        "gkeClustersPerPolicy": {
          "description": "Maximum allowed number of GKE clusters per policy.",
          "type": "integer",
          "format": "int32"
        },
        "responsePolicyRulesPerResponsePolicy": {
          "description": "Maximum allowed number of rules per response policy.",
          "format": "int32",
          "type": "integer"
        },
        "resourceRecordsPerRrset": {
          "format": "int32",
          "description": "Maximum allowed number of ResourceRecords per ResourceRecordSet.",
          "type": "integer"
        },
        "kind": {
          "default": "dns#quota",
          "type": "string"
        },
        "itemsPerRoutingPolicy": {
          "type": "integer",
          "description": "Maximum allowed number of items per routing policy.",
          "format": "int32"
        },
        "rrsetsPerManagedZone": {
          "format": "int32",
          "description": "Maximum allowed number of ResourceRecordSets per zone in the project.",
          "type": "integer"
        },
        "whitelistedKeySpecs": {
          "type": "array",
          "items": {
            "$ref": "DnsKeySpec"
          },
          "description": "DNSSEC algorithm and key length types that can be used for DnsKeys."
        },
        "rrsetDeletionsPerChange": {
          "format": "int32",
          "description": "Maximum allowed number of ResourceRecordSets to delete per ChangesCreateRequest.",
          "type": "integer"
        },
        "policies": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum allowed number of policies per project."
        }
      },
      "id": "Quota"
    },
    "PoliciesListResponse": {
      "id": "PoliciesListResponse",
      "properties": {
        "policies": {
          "type": "array",
          "items": {
            "$ref": "Policy"
          },
          "description": "The policy resources."
        },
        "kind": {
          "default": "dns#policiesListResponse",
          "description": "Type of resource.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size."
        }
      },
      "type": "object"
    },
    "ManagedZonePrivateVisibilityConfigGKECluster": {
      "id": "ManagedZonePrivateVisibilityConfigGKECluster",
      "properties": {
        "gkeClusterName": {
          "type": "string",
          "description": "The resource name of the cluster to bind this ManagedZone to. This should be specified in the format like: projects/*/locations/*/clusters/*. This is referenced from GKE projects.locations.clusters.get API: https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters/get"
        },
        "kind": {
          "default": "dns#managedZonePrivateVisibilityConfigGKECluster",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OperationManagedZoneContext": {
      "properties": {
        "oldValue": {
          "$ref": "ManagedZone",
          "description": "The pre-operation ManagedZone resource."
        },
        "newValue": {
          "description": "The post-operation ManagedZone resource.",
          "$ref": "ManagedZone"
        }
      },
      "id": "OperationManagedZoneContext",
      "type": "object"
    },
    "ResourceRecordSetsListResponse": {
      "type": "object",
      "id": "ResourceRecordSetsListResponse",
      "properties": {
        "kind": {
          "default": "dns#resourceRecordSetsListResponse",
          "description": "Type of resource.",
          "type": "string"
        },
        "rrsets": {
          "type": "array",
          "items": {
            "$ref": "ResourceRecordSet"
          },
          "description": "The resource record set resources."
        },
        "nextPageToken": {
          "description": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size.",
          "type": "string"
        }
      }
    },
    "PolicyAlternativeNameServerConfigTargetNameServer": {
      "type": "object",
      "id": "PolicyAlternativeNameServerConfigTargetNameServer",
      "properties": {
        "ipv6Address": {
          "type": "string",
          "description": "IPv6 address to forward to. Does not accept both fields (ipv4 & ipv6) being populated. Public preview as of November 2022."
        },
        "kind": {
          "default": "dns#policyAlternativeNameServerConfigTargetNameServer",
          "type": "string"
        },
        "forwardingPath": {
          "type": "string",
          "enum": [
            "default",
            "private"
          ],
          "description": "Forwarding path for this TargetNameServer. If unset or set to DEFAULT, Cloud DNS makes forwarding decisions based on address ranges; that is, RFC1918 addresses go to the VPC network, non-RFC1918 addresses go to the internet. When set to PRIVATE, Cloud DNS always sends queries through the VPC network for this target.",
          "enumDescriptions": [
            "Cloud DNS makes forwarding decision based on IP address ranges; that is, RFC1918 addresses forward to the target through the VPC and non-RFC1918 addresses forward to the target through the internet",
            "Cloud DNS always forwards to this target through the VPC."
          ]
        },
        "ipv4Address": {
          "description": "IPv4 address to forward queries to.",
          "type": "string"
        }
      }
    },
    "ResponsePolicyRulesPatchResponse": {
      "type": "object",
      "properties": {
        "responsePolicyRule": {
          "$ref": "ResponsePolicyRule"
        }
      },
      "id": "ResponsePolicyRulesPatchResponse"
    },
    "ResponsePolicyRulesListResponse": {
      "properties": {
        "responsePolicyRules": {
          "type": "array",
          "items": {
            "$ref": "ResponsePolicyRule"
          },
          "description": "The Response Policy Rule resources."
        },
        "nextPageToken": {
          "description": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size.",
          "type": "string"
        }
      },
      "id": "ResponsePolicyRulesListResponse",
      "type": "object"
    },
    "ManagedZoneDnsSecConfig": {
      "properties": {
        "nonExistence": {
          "description": "Specifies the mechanism for authenticated denial-of-existence responses. Can only be changed while the state is OFF.",
          "enumDescriptions": [
            "Indicates that Cloud DNS will sign records in the managed zone according to RFC 4034 and respond with NSEC records for names that do not exist.",
            "Indicates that Cloud DNS will sign records in the managed zone according to RFC 5155 and respond with NSEC3 records for names that do not exist."
          ],
          "type": "string",
          "enum": [
            "nsec",
            "nsec3"
          ]
        },
        "kind": {
          "default": "dns#managedZoneDnsSecConfig",
          "type": "string"
        },
        "defaultKeySpecs": {
          "description": "Specifies parameters for generating initial DnsKeys for this ManagedZone. Can only be changed while the state is OFF.",
          "items": {
            "$ref": "DnsKeySpec"
          },
          "type": "array"
        },
        "state": {
          "description": "Specifies whether DNSSEC is enabled, and what mode it is in.",
          "type": "string",
          "enum": [
            "off",
            "on",
            "transfer"
          ],
          "enumDescriptions": [
            "DNSSEC is disabled; the zone is not signed.",
            "DNSSEC is enabled; the zone is signed and fully managed.",
            "DNSSEC is enabled, but in a \"transfer\" mode."
          ]
        }
      },
      "id": "ManagedZoneDnsSecConfig",
      "type": "object"
    },
    "DnsKeyDigest": {
      "id": "DnsKeyDigest",
      "type": "object",
      "properties": {
        "digest": {
          "type": "string",
          "description": "The base-16 encoded bytes of this digest. Suitable for use in a DS resource record."
        },
        "type": {
          "description": "Specifies the algorithm used to calculate this digest.",
          "type": "string",
          "enum": [
            "sha1",
            "sha256",
            "sha384"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      }
    },
    "RRSetRoutingPolicyHealthCheckTargets": {
      "description": "HealthCheckTargets describes endpoints to health-check when responding to Routing Policy queries. Only the healthy endpoints will be included in the response. Set either `internal_load_balancer` or `external_endpoints`. Do not set both.",
      "id": "RRSetRoutingPolicyHealthCheckTargets",
      "type": "object",
      "properties": {
        "internalLoadBalancers": {
          "description": "Configuration for internal load balancers to be health checked.",
          "type": "array",
          "items": {
            "$ref": "RRSetRoutingPolicyLoadBalancerTarget"
          }
        },
        "externalEndpoints": {
          "items": {
            "type": "string"
          },
          "description": "The Internet IP addresses to be health checked. The format matches the format of ResourceRecordSet.rrdata as defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1)",
          "type": "array"
        }
      }
    },
    "ResponsePoliciesUpdateResponse": {
      "id": "ResponsePoliciesUpdateResponse",
      "type": "object",
      "properties": {
        "responsePolicy": {
          "$ref": "ResponsePolicy"
        }
      }
    },
    "PoliciesUpdateResponse": {
      "properties": {
        "policy": {
          "$ref": "Policy"
        }
      },
      "type": "object",
      "id": "PoliciesUpdateResponse"
    },
    "ManagedZonesListResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "default": "dns#managedZonesListResponse",
          "description": "Type of resource."
        },
        "managedZones": {
          "items": {
            "$ref": "ManagedZone"
          },
          "description": "The managed zone resources.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size.",
          "type": "string"
        }
      },
      "id": "ManagedZonesListResponse",
      "type": "object"
    },
    "RRSetRoutingPolicyLoadBalancerTarget": {
      "properties": {
        "region": {
          "description": "The region in which the load balancer is located.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "dns#rRSetRoutingPolicyLoadBalancerTarget"
        },
        "port": {
          "description": "The configured port of the load balancer.",
          "type": "string"
        },
        "project": {
          "description": "The project ID in which the load balancer is located.",
          "type": "string"
        },
        "ipProtocol": {
          "description": "The protocol of the load balancer to health check.",
          "enumDescriptions": [
            "",
            "Indicates the load balancer is accessible via TCP.",
            "Indicates the load balancer is accessible via UDP."
          ],
          "type": "string",
          "enum": [
            "undefined",
            "tcp",
            "udp"
          ]
        },
        "networkUrl": {
          "type": "string",
          "description": "The fully qualified URL of the network that the load balancer is attached to. This should be formatted like `https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}`."
        },
        "ipAddress": {
          "description": "The frontend IP address of the load balancer to health check.",
          "type": "string"
        },
        "loadBalancerType": {
          "description": "The type of load balancer specified by this target. This value must match the configuration of the load balancer located at the LoadBalancerTarget's IP address, port, and region. Use the following: - *regionalL4ilb*: for a regional internal passthrough Network Load Balancer. - *regionalL7ilb*: for a regional internal Application Load Balancer. - *globalL7ilb*: for a global internal Application Load Balancer. ",
          "type": "string",
          "enum": [
            "none",
            "globalL7ilb",
            "regionalL4ilb",
            "regionalL7ilb"
          ],
          "enumDescriptions": [
            "",
            "Indicates the load balancer is a Cross-Region Application Load Balancer.",
            "Indicates the load balancer is a Regional Network Passthrough Load Balancer.",
            "Indicates the load balancer is a Regional Application Load Balancer."
          ]
        }
      },
      "id": "RRSetRoutingPolicyLoadBalancerTarget",
      "description": "The configuration for an individual load balancer to health check.",
      "type": "object"
    },
    "RRSetRoutingPolicyPrimaryBackupPolicy": {
      "id": "RRSetRoutingPolicyPrimaryBackupPolicy",
      "description": "Configures a RRSetRoutingPolicy such that all queries are responded with the primary_targets if they are healthy. And if all of them are unhealthy, then we fallback to a geo localized policy.",
      "properties": {
        "kind": {
          "type": "string",
          "default": "dns#rRSetRoutingPolicyPrimaryBackupPolicy"
        },
        "primaryTargets": {
          "$ref": "RRSetRoutingPolicyHealthCheckTargets",
          "description": "Endpoints that are health checked before making the routing decision. Unhealthy endpoints are omitted from the results. If all endpoints are unhealthy, we serve a response based on the `backup_geo_targets`."
        },
        "backupGeoTargets": {
          "$ref": "RRSetRoutingPolicyGeoPolicy",
          "description": "Backup targets provide a regional failover policy for the otherwise global primary targets. If serving state is set to `BACKUP`, this policy essentially becomes a geo routing policy."
        },
        "trickleTraffic": {
          "format": "double",
          "description": "When serving state is `PRIMARY`, this field provides the option of sending a small percentage of the traffic to the backup targets.",
          "type": "number"
        }
      },
      "type": "object"
    },
    "RRSetRoutingPolicyWrrPolicy": {
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "RRSetRoutingPolicyWrrPolicyWrrPolicyItem"
          }
        },
        "kind": {
          "type": "string",
          "default": "dns#rRSetRoutingPolicyWrrPolicy"
        }
      },
      "type": "object",
      "id": "RRSetRoutingPolicyWrrPolicy",
      "description": "Configures a RRSetRoutingPolicy that routes in a weighted round robin fashion."
    },
    "GoogleIamV1Binding": {
      "properties": {
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleIamV1Binding",
      "description": "Associates `members`, or principals, with a `role`."
    },
    "ChangesListResponse": {
      "properties": {
        "kind": {
          "description": "Type of resource.",
          "type": "string",
          "default": "dns#changesListResponse"
        },
        "nextPageToken": {
          "description": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size.",
          "type": "string"
        },
        "changes": {
          "items": {
            "$ref": "Change"
          },
          "type": "array",
          "description": "The requested changes."
        }
      },
      "type": "object",
      "id": "ChangesListResponse",
      "description": "The response to a request to enumerate Changes to a ResourceRecordSets collection."
    },
    "RRSetRoutingPolicyGeoPolicyGeoPolicyItem": {
      "properties": {
        "location": {
          "description": "The geo-location granularity is a GCP region. This location string should correspond to a GCP region. e.g. \"us-east1\", \"southamerica-east1\", \"asia-east1\", etc.",
          "type": "string"
        },
        "healthCheckedTargets": {
          "$ref": "RRSetRoutingPolicyHealthCheckTargets",
          "description": "For A and AAAA types only. Endpoints to return in the query result only if they are healthy. These can be specified along with `rrdata` within this item."
        },
        "rrdatas": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "signatureRrdatas": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "DNSSEC generated signatures for all the `rrdata` within this item. When using health-checked targets for DNSSEC-enabled zones, you can only use at most one health-checked IP address per item."
        },
        "kind": {
          "type": "string",
          "default": "dns#rRSetRoutingPolicyGeoPolicyGeoPolicyItem"
        }
      },
      "type": "object",
      "id": "RRSetRoutingPolicyGeoPolicyGeoPolicyItem",
      "description": "ResourceRecordSet data for one geo location."
    },
    "ResponsePolicy": {
      "description": "A Response Policy is a collection of selectors that apply to queries made against one or more Virtual Private Cloud networks.",
      "type": "object",
      "id": "ResponsePolicy",
      "properties": {
        "gkeClusters": {
          "description": "The list of Google Kubernetes Engine clusters to which this response policy is applied.",
          "items": {
            "$ref": "ResponsePolicyGKECluster"
          },
          "type": "array"
        },
        "description": {
          "description": "User-provided description for this Response Policy.",
          "type": "string"
        },
        "id": {
          "description": "Unique identifier for the resource; defined by the server (output only).",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "default": "dns#responsePolicy",
          "type": "string"
        },
        "networks": {
          "type": "array",
          "description": "List of network names specifying networks to which this policy is applied.",
          "items": {
            "$ref": "ResponsePolicyNetwork"
          }
        },
        "responsePolicyName": {
          "description": "User assigned name for this Response Policy.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "User labels.",
          "type": "object"
        }
      }
    },
    "ResponsePolicyNetwork": {
      "properties": {
        "kind": {
          "default": "dns#responsePolicyNetwork",
          "type": "string"
        },
        "networkUrl": {
          "description": "The fully qualified URL of the VPC network to bind to. This should be formatted like `https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}`",
          "type": "string"
        }
      },
      "id": "ResponsePolicyNetwork",
      "type": "object"
    },
    "ManagedZonePeeringConfig": {
      "type": "object",
      "id": "ManagedZonePeeringConfig",
      "properties": {
        "kind": {
          "default": "dns#managedZonePeeringConfig",
          "type": "string"
        },
        "targetNetwork": {
          "$ref": "ManagedZonePeeringConfigTargetNetwork",
          "description": "The network with which to peer."
        }
      }
    },
    "Operation": {
      "type": "object",
      "properties": {
        "user": {
          "type": "string",
          "description": "User who requested the operation, for example: user@example.com. cloud-dns-system for operations automatically done by the system. (output only)"
        },
        "dnsKeyContext": {
          "description": "Only populated if the operation targeted a DnsKey (output only).",
          "$ref": "OperationDnsKeyContext"
        },
        "kind": {
          "default": "dns#operation",
          "type": "string"
        },
        "zoneContext": {
          "$ref": "OperationManagedZoneContext",
          "description": "Only populated if the operation targeted a ManagedZone (output only)."
        },
        "type": {
          "type": "string",
          "description": "Type of the operation. Operations include insert, update, and delete (output only)."
        },
        "id": {
          "description": "Unique identifier for the resource. This is the client_operation_id if the client specified it when the mutation was initiated, otherwise, it is generated by the server. The name must be 1-63 characters long and match the regular expression [-a-z0-9]? (output only)",
          "type": "string"
        },
        "startTime": {
          "description": "The time that this operation was started by the server. This is in RFC3339 text format (output only).",
          "type": "string"
        },
        "status": {
          "description": "Status of the operation. Can be one of the following: \"PENDING\" or \"DONE\" (output only). A status of \"DONE\" means that the request to update the authoritative servers has been sent, but the servers might not be updated yet.",
          "type": "string",
          "enum": [
            "pending",
            "done"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        }
      },
      "description": "An operation represents a successful mutation performed on a Cloud DNS resource. Operations provide: - An audit log of server resource mutations. - A way to recover/retry API calls in the case where the response is never received by the caller. Use the caller specified client_operation_id.",
      "id": "Operation"
    },
    "PolicyAlternativeNameServerConfig": {
      "properties": {
        "kind": {
          "type": "string",
          "default": "dns#policyAlternativeNameServerConfig"
        },
        "targetNameServers": {
          "description": "Sets an alternative name server for the associated networks. When specified, all DNS queries are forwarded to a name server that you choose. Names such as .internal are not available when an alternative name server is specified.",
          "items": {
            "$ref": "PolicyAlternativeNameServerConfigTargetNameServer"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "PolicyAlternativeNameServerConfig"
    },
    "ManagedZoneForwardingConfig": {
      "type": "object",
      "properties": {
        "kind": {
          "default": "dns#managedZoneForwardingConfig",
          "type": "string"
        },
        "targetNameServers": {
          "type": "array",
          "description": "List of target name servers to forward to. Cloud DNS selects the best available name server if more than one target is given.",
          "items": {
            "$ref": "ManagedZoneForwardingConfigNameServerTarget"
          }
        }
      },
      "id": "ManagedZoneForwardingConfig"
    },
    "RRSetRoutingPolicy": {
      "properties": {
        "primaryBackup": {
          "$ref": "RRSetRoutingPolicyPrimaryBackupPolicy"
        },
        "wrr": {
          "$ref": "RRSetRoutingPolicyWrrPolicy"
        },
        "kind": {
          "default": "dns#rRSetRoutingPolicy",
          "type": "string"
        },
        "geo": {
          "$ref": "RRSetRoutingPolicyGeoPolicy"
        },
        "healthCheck": {
          "type": "string",
          "description": "The fully qualified URL of the HealthCheck to use for this RRSetRoutingPolicy. Format this URL like `https://www.googleapis.com/compute/v1/projects/{project}/global/healthChecks/{healthCheck}`. https://cloud.google.com/compute/docs/reference/rest/v1/healthChecks"
        }
      },
      "type": "object",
      "description": "A RRSetRoutingPolicy represents ResourceRecordSet data that is returned dynamically with the response varying based on configured properties such as geolocation or by weighted random selection.",
      "id": "RRSetRoutingPolicy"
    },
    "ManagedZoneReverseLookupConfig": {
      "properties": {
        "kind": {
          "default": "dns#managedZoneReverseLookupConfig",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ManagedZoneReverseLookupConfig"
    },
    "ResponsePolicyGKECluster": {
      "properties": {
        "gkeClusterName": {
          "description": "The resource name of the cluster to bind this response policy to. This should be specified in the format like: projects/*/locations/*/clusters/*. This is referenced from GKE projects.locations.clusters.get API: https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters/get",
          "type": "string"
        },
        "kind": {
          "default": "dns#responsePolicyGKECluster",
          "type": "string"
        }
      },
      "id": "ResponsePolicyGKECluster",
      "type": "object"
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "type": "object",
      "id": "GoogleIamV1TestIamPermissionsResponse"
    },
    "Project": {
      "type": "object",
      "properties": {
        "quota": {
          "description": "Quotas assigned to this project (output only).",
          "$ref": "Quota"
        },
        "id": {
          "description": "User assigned unique identifier for the resource (output only).",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "dns#project"
        },
        "number": {
          "description": "Unique numeric identifier for the resource; defined by the server (output only).",
          "type": "string",
          "format": "uint64"
        }
      },
      "id": "Project",
      "description": "A project resource. The project is a top level container for resources including Cloud DNS ManagedZones. Projects can be created only in the APIs console."
    },
    "PolicyDns64Config": {
      "properties": {
        "kind": {
          "default": "dns#policyDns64Config",
          "type": "string"
        },
        "scope": {
          "$ref": "PolicyDns64ConfigScope",
          "description": "The scope to which DNS64 config will be applied to."
        }
      },
      "type": "object",
      "description": "DNS64 policies",
      "id": "PolicyDns64Config"
    },
    "ResponsePoliciesListResponse": {
      "type": "object",
      "id": "ResponsePoliciesListResponse",
      "properties": {
        "responsePolicies": {
          "description": "The Response Policy resources.",
          "items": {
            "$ref": "ResponsePolicy"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size.",
          "type": "string"
        }
      }
    },
    "ResourceRecordSetsDeleteResponse": {
      "properties": {},
      "type": "object",
      "id": "ResourceRecordSetsDeleteResponse"
    },
    "Expr": {
      "type": "object",
      "properties": {
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        }
      },
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "RRSetRoutingPolicyGeoPolicy": {
      "description": "Configures a `RRSetRoutingPolicy` that routes based on the geo location of the querying user.",
      "type": "object",
      "id": "RRSetRoutingPolicyGeoPolicy",
      "properties": {
        "kind": {
          "default": "dns#rRSetRoutingPolicyGeoPolicy",
          "type": "string"
        },
        "enableFencing": {
          "type": "boolean",
          "description": "Without fencing, if health check fails for all configured items in the current geo bucket, we failover to the next nearest geo bucket. With fencing, if health checking is enabled, as long as some targets in the current geo bucket are healthy, we return only the healthy targets. However, if all targets are unhealthy, we don't failover to the next nearest bucket; instead, we return all the items in the current bucket even when all targets are unhealthy."
        },
        "items": {
          "type": "array",
          "description": "The primary geo routing configuration. If there are multiple items with the same location, an error is returned instead.",
          "items": {
            "$ref": "RRSetRoutingPolicyGeoPolicyGeoPolicyItem"
          }
        }
      }
    },
    "GoogleIamV1GetPolicyOptions": {
      "type": "object",
      "properties": {
        "requestedPolicyVersion": {
          "type": "integer",
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        }
      },
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "id": "GoogleIamV1GetPolicyOptions"
    },
    "PolicyNetwork": {
      "properties": {
        "networkUrl": {
          "description": "The fully qualified URL of the VPC network to bind to. This should be formatted like https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "dns#policyNetwork"
        }
      },
      "id": "PolicyNetwork",
      "type": "object"
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask"
        },
        "policy": {
          "$ref": "GoogleIamV1Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "id": "GoogleIamV1SetIamPolicyRequest"
    },
    "ResponsePolicyRulesUpdateResponse": {
      "properties": {
        "responsePolicyRule": {
          "$ref": "ResponsePolicyRule"
        }
      },
      "type": "object",
      "id": "ResponsePolicyRulesUpdateResponse"
    },
    "ResponsePoliciesPatchResponse": {
      "id": "ResponsePoliciesPatchResponse",
      "properties": {
        "responsePolicy": {
          "$ref": "ResponsePolicy"
        }
      },
      "type": "object"
    },
    "ResponsePolicyRuleLocalData": {
      "properties": {
        "localDatas": {
          "description": "All resource record sets for this selector, one per resource record type. The name must match the dns_name.",
          "type": "array",
          "items": {
            "$ref": "ResourceRecordSet"
          }
        }
      },
      "id": "ResponsePolicyRuleLocalData",
      "type": "object"
    },
    "RRSetRoutingPolicyWrrPolicyWrrPolicyItem": {
      "description": "A routing block which contains the routing information for one WRR item.",
      "properties": {
        "healthCheckedTargets": {
          "description": "Endpoints that are health checked before making the routing decision. The unhealthy endpoints are omitted from the result. If all endpoints within a bucket are unhealthy, we choose a different bucket (sampled with respect to its weight) for responding. If DNSSEC is enabled for this zone, only one of `rrdata` or `health_checked_targets` can be set.",
          "$ref": "RRSetRoutingPolicyHealthCheckTargets"
        },
        "rrdatas": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "weight": {
          "type": "number",
          "format": "double",
          "description": "The weight corresponding to this `WrrPolicyItem` object. When multiple `WrrPolicyItem` objects are configured, the probability of returning an `WrrPolicyItem` object's data is proportional to its weight relative to the sum of weights configured for all items. This weight must be non-negative."
        },
        "signatureRrdatas": {
          "type": "array",
          "description": "DNSSEC generated signatures for all the `rrdata` within this item. When using health-checked targets for DNSSEC-enabled zones, you can only use at most one health-checked IP address per item.",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "type": "string",
          "default": "dns#rRSetRoutingPolicyWrrPolicyWrrPolicyItem"
        }
      },
      "id": "RRSetRoutingPolicyWrrPolicyWrrPolicyItem",
      "type": "object"
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "id": "GoogleIamV1TestIamPermissionsRequest"
    },
    "DnsKey": {
      "id": "DnsKey",
      "properties": {
        "algorithm": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "rsasha1",
            "rsasha256",
            "rsasha512",
            "ecdsap256sha256",
            "ecdsap384sha384"
          ],
          "description": "String mnemonic specifying the DNSSEC algorithm of this key. Immutable after creation time."
        },
        "description": {
          "description": "A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the resource's function.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "dns#dnsKey"
        },
        "digests": {
          "items": {
            "$ref": "DnsKeyDigest"
          },
          "description": "Cryptographic hashes of the DNSKEY resource record associated with this DnsKey. These digests are needed to construct a DS record that points at this DNS key. Output only.",
          "type": "array"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "keySigning",
            "zoneSigning"
          ],
          "description": "One of \"KEY_SIGNING\" or \"ZONE_SIGNING\". Keys of type KEY_SIGNING have the Secure Entry Point flag set and, when active, are used to sign only resource record sets of type DNSKEY. Otherwise, the Secure Entry Point flag is cleared, and this key is used to sign only resource record sets of other types. Immutable after creation time."
        },
        "id": {
          "type": "string",
          "description": "Unique identifier for the resource; defined by the server (output only)."
        },
        "keyTag": {
          "description": "The key tag is a non-cryptographic hash of the a DNSKEY resource record associated with this DnsKey. The key tag can be used to identify a DNSKEY more quickly (but it is not a unique identifier). In particular, the key tag is used in a parent zone's DS record to point at the DNSKEY in this child ManagedZone. The key tag is a number in the range [0, 65535] and the algorithm to calculate it is specified in RFC4034 Appendix B. Output only.",
          "format": "int32",
          "type": "integer"
        },
        "keyLength": {
          "format": "uint32",
          "description": "Length of the key in bits. Specified at creation time, and then immutable.",
          "type": "integer"
        },
        "publicKey": {
          "type": "string",
          "description": "Base64 encoded public half of this key. Output only."
        },
        "isActive": {
          "type": "boolean",
          "description": "Active keys are used to sign subsequent changes to the ManagedZone. Inactive keys are still present as DNSKEY Resource Records for the use of resolvers validating existing signatures."
        },
        "creationTime": {
          "type": "string",
          "description": "The time that this resource was created in the control plane. This is in RFC3339 text format. Output only."
        }
      },
      "type": "object",
      "description": "A DNSSEC key pair."
    },
    "DnsKeysListResponse": {
      "type": "object",
      "id": "DnsKeysListResponse",
      "description": "The response to a request to enumerate DnsKeys in a ManagedZone.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size."
        },
        "dnsKeys": {
          "items": {
            "$ref": "DnsKey"
          },
          "description": "The requested resources.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "default": "dns#dnsKeysListResponse",
          "description": "Type of resource."
        }
      }
    },
    "ManagedZonePeeringConfigTargetNetwork": {
      "id": "ManagedZonePeeringConfigTargetNetwork",
      "properties": {
        "kind": {
          "type": "string",
          "default": "dns#managedZonePeeringConfigTargetNetwork"
        },
        "deactivateTime": {
          "type": "string",
          "description": "The time at which the zone was deactivated, in RFC 3339 date-time format. An empty string indicates that the peering connection is active. The producer network can deactivate a zone. The zone is automatically deactivated if the producer network that the zone targeted is deleted. Output only."
        },
        "networkUrl": {
          "description": "The fully qualified URL of the VPC network to forward queries to. This should be formatted like `https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DnsKeySpec": {
      "id": "DnsKeySpec",
      "type": "object",
      "description": "Parameters for DnsKey key generation. Used for generating initial keys for a new ManagedZone and as default when adding a new DnsKey.",
      "properties": {
        "keyType": {
          "description": "Specifies whether this is a key signing key (KSK) or a zone signing key (ZSK). Key signing keys have the Secure Entry Point flag set and, when active, are only used to sign resource record sets of type DNSKEY. Zone signing keys do not have the Secure Entry Point flag set and are used to sign all other types of resource record sets.",
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "keySigning",
            "zoneSigning"
          ]
        },
        "keyLength": {
          "type": "integer",
          "format": "uint32",
          "description": "Length of the keys in bits."
        },
        "kind": {
          "default": "dns#dnsKeySpec",
          "type": "string"
        },
        "algorithm": {
          "type": "string",
          "enum": [
            "rsasha1",
            "rsasha256",
            "rsasha512",
            "ecdsap256sha256",
            "ecdsap384sha384"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "String mnemonic specifying the DNSSEC algorithm of this key."
        }
      }
    },
    "ManagedZoneServiceDirectoryConfigNamespace": {
      "id": "ManagedZoneServiceDirectoryConfigNamespace",
      "type": "object",
      "properties": {
        "deletionTime": {
          "type": "string",
          "description": "The time that the namespace backing this zone was deleted; an empty string if it still exists. This is in RFC3339 text format. Output only."
        },
        "kind": {
          "default": "dns#managedZoneServiceDirectoryConfigNamespace",
          "type": "string"
        },
        "namespaceUrl": {
          "description": "The fully qualified URL of the namespace associated with the zone. Format must be `https://servicedirectory.googleapis.com/v1/projects/{project}/locations/{location}/namespaces/{namespace}`",
          "type": "string"
        }
      }
    },
    "GoogleIamV1AuditConfig": {
      "properties": {
        "auditLogConfigs": {
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          },
          "type": "array",
          "description": "The configuration for logging of each type of permission."
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "id": "GoogleIamV1AuditConfig",
      "type": "object"
    },
    "GoogleIamV1AuditLogConfig": {
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "logType": {
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables.",
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleIamV1AuditLogConfig"
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "format": "google.protobuf.Any"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "format": "google.protobuf.Any",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      }
    },
    "ManagedZonePrivateVisibilityConfigNetwork": {
      "properties": {
        "kind": {
          "default": "dns#managedZonePrivateVisibilityConfigNetwork",
          "type": "string"
        },
        "networkUrl": {
          "type": "string",
          "description": "The fully qualified URL of the VPC network to bind to. Format this URL like `https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}`"
        }
      },
      "type": "object",
      "id": "ManagedZonePrivateVisibilityConfigNetwork"
    },
    "ManagedZoneForwardingConfigNameServerTarget": {
      "id": "ManagedZoneForwardingConfigNameServerTarget",
      "type": "object",
      "properties": {
        "ipv6Address": {
          "description": "IPv6 address of a target name server. Does not accept both fields (ipv4 & ipv6) being populated. Public preview as of November 2022.",
          "type": "string"
        },
        "forwardingPath": {
          "enumDescriptions": [
            "Cloud DNS makes forwarding decisions based on address ranges; that is, RFC1918 addresses forward to the target through the VPC and non-RFC1918 addresses forward to the target through the internet",
            "Cloud DNS always forwards to this target through the VPC."
          ],
          "description": "Forwarding path for this NameServerTarget. If unset or set to DEFAULT, Cloud DNS makes forwarding decisions based on IP address ranges; that is, RFC1918 addresses go to the VPC network, non-RFC1918 addresses go to the internet. When set to PRIVATE, Cloud DNS always sends queries through the VPC network for this target.",
          "type": "string",
          "enum": [
            "default",
            "private"
          ]
        },
        "domainName": {
          "description": "Fully qualified domain name for the forwarding target.",
          "type": "string"
        },
        "ipv4Address": {
          "description": "IPv4 address of a target name server.",
          "type": "string"
        },
        "kind": {
          "default": "dns#managedZoneForwardingConfigNameServerTarget",
          "type": "string"
        }
      }
    },
    "ResponsePolicyRule": {
      "properties": {
        "ruleName": {
          "description": "An identifier for this rule. Must be unique with the ResponsePolicy.",
          "type": "string"
        },
        "localData": {
          "description": "Answer this query directly with DNS data. These ResourceRecordSets override any other DNS behavior for the matched name; in particular they override private zones, the public internet, and GCP internal DNS. No SOA nor NS types are allowed.",
          "$ref": "ResponsePolicyRuleLocalData"
        },
        "dnsName": {
          "type": "string",
          "description": "The DNS name (wildcard or exact) to apply this rule to. Must be unique within the Response Policy Rule."
        },
        "behavior": {
          "enumDescriptions": [
            "",
            "Skip a less-specific Response Policy Rule and let the query logic continue. This mechanism, when used with wildcard selectors, lets you exempt specific subdomains from a broader Response Policy Rule and direct the queries to the public internet instead. For example, if the following rules exist: ``` *.example.com -> LocalData 1.2.3.4 foo.example.com -> Behavior 'passthrough' ``` A query for foo.example.com skips the wildcard rule. This functionality also facilitates allowlisting. Response Policy Zones (RPZs) can be applied at multiple levels within the hierarchy: for example, an organization, a folder, a project, or a VPC network. If an RPZ rule is applied at a higher level, adding a `passthrough` rule at a lower level will override it. Queries from affected virtual machines (VMs) to that domain bypass the RPZ and proceed with normal resolution."
          ],
          "type": "string",
          "enum": [
            "behaviorUnspecified",
            "bypassResponsePolicy"
          ],
          "description": "Answer this query with a behavior rather than DNS data."
        },
        "kind": {
          "default": "dns#responsePolicyRule",
          "type": "string"
        }
      },
      "id": "ResponsePolicyRule",
      "description": "A Response Policy Rule is a selector that applies its behavior to queries that match the selector. Selectors are DNS names, which may be wildcards or exact matches. Each DNS query subject to a Response Policy matches at most one ResponsePolicyRule, as identified by the dns_name field with the longest matching suffix.",
      "type": "object"
    },
    "ResourceRecordSet": {
      "properties": {
        "kind": {
          "type": "string",
          "default": "dns#resourceRecordSet"
        },
        "rrdatas": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "As defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1) -- see examples."
        },
        "signatureRrdatas": {
          "description": "As defined in RFC 4034 (section 3.2).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "For example, www.example.com.",
          "type": "string"
        },
        "routingPolicy": {
          "$ref": "RRSetRoutingPolicy",
          "description": "Configures dynamic query responses based on either the geo location of the querying user or a weighted round robin based routing policy. A valid `ResourceRecordSet` contains only `rrdata` (for static resolution) or a `routing_policy` (for dynamic resolution)."
        },
        "ttl": {
          "format": "int32",
          "type": "integer",
          "description": "Number of seconds that this `ResourceRecordSet` can be cached by resolvers."
        },
        "type": {
          "description": "The identifier of a supported record type. See the list of Supported DNS record types.",
          "type": "string"
        }
      },
      "id": "ResourceRecordSet",
      "type": "object",
      "description": "A unit of data that is returned by the DNS servers."
    },
    "GoogleIamV1Policy": {
      "id": "GoogleIamV1Policy",
      "properties": {
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "auditConfigs": {
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array"
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "etag": {
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "ManagedZoneCloudLoggingConfig": {
      "properties": {
        "enableLogging": {
          "description": "If set, enable query logging for this ManagedZone. False by default, making logging opt-in.",
          "type": "boolean"
        },
        "kind": {
          "default": "dns#managedZoneCloudLoggingConfig",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ManagedZoneCloudLoggingConfig",
      "description": "Cloud Logging configurations for publicly visible zones."
    },
    "Status": {
      "id": "Status",
      "properties": {
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "format": "google.protobuf.Any",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "OperationDnsKeyContext": {
      "properties": {
        "oldValue": {
          "description": "The pre-operation DnsKey resource.",
          "$ref": "DnsKey"
        },
        "newValue": {
          "description": "The post-operation DnsKey resource.",
          "$ref": "DnsKey"
        }
      },
      "type": "object",
      "id": "OperationDnsKeyContext"
    },
    "ManagedZonePrivateVisibilityConfig": {
      "properties": {
        "kind": {
          "type": "string",
          "default": "dns#managedZonePrivateVisibilityConfig"
        },
        "networks": {
          "description": "The list of VPC networks that can see this zone.",
          "type": "array",
          "items": {
            "$ref": "ManagedZonePrivateVisibilityConfigNetwork"
          }
        },
        "gkeClusters": {
          "description": "The list of Google Kubernetes Engine clusters that can see this zone.",
          "items": {
            "$ref": "ManagedZonePrivateVisibilityConfigGKECluster"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ManagedZonePrivateVisibilityConfig"
    },
    "PolicyDns64ConfigScope": {
      "id": "PolicyDns64ConfigScope",
      "type": "object",
      "properties": {
        "allQueries": {
          "description": "Controls whether DNS64 is enabled globally for all networks bound to the policy.",
          "type": "boolean"
        },
        "kind": {
          "default": "dns#policyDns64ConfigScope",
          "type": "string"
        }
      }
    },
    "ManagedZoneOperationsListResponse": {
      "properties": {
        "kind": {
          "description": "Type of resource.",
          "default": "dns#managedZoneOperationsListResponse",
          "type": "string"
        },
        "operations": {
          "description": "The operation resources.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "This field indicates that more results are available beyond the last page displayed. To fetch the results, make another list request and use this value as your page token. This lets you retrieve the complete contents of a very large collection one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You can't retrieve a consistent snapshot of a collection larger than the maximum page size."
        }
      },
      "type": "object",
      "id": "ManagedZoneOperationsListResponse"
    },
    "GoogleIamV1GetIamPolicyRequest": {
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`.",
          "$ref": "GoogleIamV1GetPolicyOptions"
        }
      },
      "id": "GoogleIamV1GetIamPolicyRequest",
      "type": "object",
      "description": "Request message for `GetIamPolicy` method."
    },
    "Policy": {
      "type": "object",
      "id": "Policy",
      "description": "A policy is a collection of DNS rules applied to one or more Virtual Private Cloud resources.",
      "properties": {
        "dns64Config": {
          "$ref": "PolicyDns64Config",
          "description": "Configurations related to DNS64 for this policy."
        },
        "enableInboundForwarding": {
          "description": "Allows networks bound to this policy to receive DNS queries sent by VMs or applications over VPN connections. When enabled, a virtual IP address is allocated from each of the subnetworks that are bound to this policy.",
          "type": "boolean"
        },
        "kind": {
          "default": "dns#policy",
          "type": "string"
        },
        "networks": {
          "items": {
            "$ref": "PolicyNetwork"
          },
          "description": "List of network names specifying networks to which this policy is applied.",
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the policy's function."
        },
        "id": {
          "type": "string",
          "description": "Unique identifier for the resource; defined by the server (output only).",
          "format": "uint64"
        },
        "enableLogging": {
          "description": "Controls whether logging is enabled for the networks bound to this policy. Defaults to no logging if not set.",
          "type": "boolean"
        },
        "name": {
          "description": "User-assigned name for this policy.",
          "type": "string"
        },
        "alternativeNameServerConfig": {
          "$ref": "PolicyAlternativeNameServerConfig",
          "description": "Sets an alternative name server for the associated networks. When specified, all DNS queries are forwarded to a name server that you choose. Names such as .internal are not available when an alternative name server is specified."
        }
      }
    },
    "ManagedZone": {
      "description": "A zone is a subtree of the DNS namespace under one administrative responsibility. A ManagedZone is a resource that represents a DNS zone hosted by the Cloud DNS service.",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "User labels.",
          "type": "object"
        },
        "forwardingConfig": {
          "description": "The presence for this field indicates that outbound forwarding is enabled for this zone. The value of this field contains the set of destinations to forward to.",
          "$ref": "ManagedZoneForwardingConfig"
        },
        "peeringConfig": {
          "description": "The presence of this field indicates that DNS Peering is enabled for this zone. The value of this field contains the network to peer with.",
          "$ref": "ManagedZonePeeringConfig"
        },
        "description": {
          "type": "string",
          "description": "A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the managed zone's function."
        },
        "dnsName": {
          "type": "string",
          "description": "The DNS name of this managed zone, for instance \"example.com.\"."
        },
        "reverseLookupConfig": {
          "description": "The presence of this field indicates that this is a managed reverse lookup zone and Cloud DNS resolves reverse lookup queries using automatically configured records for VPC resources. This only applies to networks listed under private_visibility_config.",
          "$ref": "ManagedZoneReverseLookupConfig"
        },
        "nameServerSet": {
          "type": "string",
          "description": "Optionally specifies the NameServerSet for this ManagedZone. A NameServerSet is a set of DNS name servers that all host the same ManagedZones. Most users leave this field unset. If you need to use this field, contact your account team."
        },
        "visibility": {
          "enumDescriptions": [
            "Indicates that records in this zone can be queried from the public internet.",
            "Indicates that records in this zone cannot be queried from the public internet. Access to private zones depends on the zone configuration."
          ],
          "type": "string",
          "enum": [
            "public",
            "private"
          ],
          "description": "The zone's visibility: public zones are exposed to the Internet, while private zones are visible only to Virtual Private Cloud resources."
        },
        "name": {
          "description": "User assigned name for this resource. Must be unique within the project. The name must be 1-63 characters long, must begin with a letter, end with a letter or digit, and only contain lowercase letters, digits or dashes.",
          "type": "string"
        },
        "cloudLoggingConfig": {
          "$ref": "ManagedZoneCloudLoggingConfig"
        },
        "creationTime": {
          "type": "string",
          "description": "The time that this resource was created on the server. This is in RFC3339 text format. Output only."
        },
        "dnssecConfig": {
          "$ref": "ManagedZoneDnsSecConfig",
          "description": "DNSSEC configuration."
        },
        "serviceDirectoryConfig": {
          "description": "This field links to the associated service directory namespace. Do not set this field for public zones or forwarding zones.",
          "$ref": "ManagedZoneServiceDirectoryConfig"
        },
        "kind": {
          "default": "dns#managedZone",
          "type": "string"
        },
        "nameServers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Delegate your managed_zone to these virtual name servers; defined by the server (output only)"
        },
        "id": {
          "description": "Unique identifier for the resource; defined by the server (output only)",
          "format": "uint64",
          "type": "string"
        },
        "privateVisibilityConfig": {
          "description": "For privately visible zones, the set of Virtual Private Cloud resources that the zone is visible from.",
          "$ref": "ManagedZonePrivateVisibilityConfig"
        }
      },
      "id": "ManagedZone",
      "type": "object"
    },
    "PoliciesPatchResponse": {
      "properties": {
        "policy": {
          "$ref": "Policy"
        }
      },
      "type": "object",
      "id": "PoliciesPatchResponse"
    },
    "ManagedZoneServiceDirectoryConfig": {
      "id": "ManagedZoneServiceDirectoryConfig",
      "description": "Contains information about Service Directory-backed zones.",
      "type": "object",
      "properties": {
        "kind": {
          "default": "dns#managedZoneServiceDirectoryConfig",
          "type": "string"
        },
        "namespace": {
          "$ref": "ManagedZoneServiceDirectoryConfigNamespace",
          "description": "Contains information about the namespace associated with the zone."
        }
      }
    },
    "Change": {
      "properties": {
        "isServing": {
          "type": "boolean",
          "description": "If the DNS queries for the zone will be served."
        },
        "additions": {
          "description": "Which ResourceRecordSets to add?",
          "type": "array",
          "items": {
            "$ref": "ResourceRecordSet"
          }
        },
        "startTime": {
          "description": "The time that this operation was started by the server (output only). This is in RFC3339 text format.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "dns#change"
        },
        "deletions": {
          "description": "Which ResourceRecordSets to remove? Must match existing data exactly.",
          "type": "array",
          "items": {
            "$ref": "ResourceRecordSet"
          }
        },
        "status": {
          "description": "Status of the operation (output only). A status of \"done\" means that the request to update the authoritative servers has been sent, but the servers might not be updated yet.",
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "pending",
            "done"
          ]
        },
        "id": {
          "description": "Unique identifier for the resource; defined by the server (output only).",
          "type": "string"
        }
      },
      "description": "A Change represents a set of `ResourceRecordSet` additions and deletions applied atomically to a ManagedZone. ResourceRecordSets within a ManagedZone are modified by creating a new Change element in the Changes collection. In turn the Changes collection also records the past modifications to the `ResourceRecordSets` in a `ManagedZone`. The current state of the `ManagedZone` is the sum effect of applying all `Change` elements in the `Changes` collection in sequence.",
      "type": "object",
      "id": "Change"
    }
  },
  "basePath": "",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://dns.mtls.googleapis.com/",
  "id": "dns:v1",
  "title": "Cloud DNS API",
  "protocol": "rest",
  "ownerName": "Google",
  "resources": {
    "responsePolicies": {
      "methods": {
        "update": {
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "request": {
            "$ref": "ResponsePolicy"
          },
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "description": "Updates an existing Response Policy.",
          "response": {
            "$ref": "ResponsePoliciesUpdateResponse"
          },
          "parameters": {
            "project": {
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "type": "string"
            },
            "responsePolicy": {
              "description": "User assigned name of the Response Policy addressed by this request.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "PUT",
          "id": "dns.responsePolicies.update"
        },
        "get": {
          "description": "Fetches the representation of an existing Response Policy.",
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "response": {
            "$ref": "ResponsePolicy"
          },
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "id": "dns.responsePolicies.get",
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "responsePolicy": {
              "description": "User assigned name of the Response Policy addressed by this request.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "delete": {
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "parameters": {
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "responsePolicy": {
              "required": true,
              "description": "User assigned name of the Response Policy addressed by this request.",
              "type": "string",
              "location": "path"
            }
          },
          "id": "dns.responsePolicies.delete",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "description": "Deletes a previously created Response Policy. Fails if the response policy is non-empty or still being referenced by a network.",
          "httpMethod": "DELETE"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "type": "string"
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "flatPath": "dns/v1/projects/{project}/responsePolicies",
          "response": {
            "$ref": "ResponsePoliciesListResponse"
          },
          "parameterOrder": [
            "project"
          ],
          "id": "dns.responsePolicies.list",
          "path": "dns/v1/projects/{project}/responsePolicies",
          "description": "Enumerates all Response Policies associated with a project."
        },
        "create": {
          "response": {
            "$ref": "ResponsePolicy"
          },
          "flatPath": "dns/v1/projects/{project}/responsePolicies",
          "parameterOrder": [
            "project"
          ],
          "id": "dns.responsePolicies.create",
          "path": "dns/v1/projects/{project}/responsePolicies",
          "description": "Creates a new Response Policy",
          "parameters": {
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "request": {
            "$ref": "ResponsePolicy"
          }
        },
        "patch": {
          "id": "dns.responsePolicies.patch",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "request": {
            "$ref": "ResponsePolicy"
          },
          "description": "Applies a partial update to an existing Response Policy.",
          "response": {
            "$ref": "ResponsePoliciesPatchResponse"
          },
          "parameters": {
            "project": {
              "location": "path",
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "required": true
            },
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "responsePolicy": {
              "required": true,
              "type": "string",
              "description": "User assigned name of the response policy addressed by this request.",
              "location": "path"
            }
          },
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "httpMethod": "PATCH"
        }
      }
    },
    "policies": {
      "methods": {
        "patch": {
          "description": "Applies a partial update to an existing policy.",
          "parameterOrder": [
            "project",
            "policy"
          ],
          "id": "dns.policies.patch",
          "path": "dns/v1/projects/{project}/policies/{policy}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "request": {
            "$ref": "Policy"
          },
          "parameters": {
            "project": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Identifies the project addressed by this request."
            },
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "policy": {
              "location": "path",
              "required": true,
              "description": "User given friendly name of the policy addressed by this request.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "PoliciesPatchResponse"
          },
          "flatPath": "dns/v1/projects/{project}/policies/{policy}",
          "httpMethod": "PATCH"
        },
        "get": {
          "path": "dns/v1/projects/{project}/policies/{policy}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.policies.get",
          "parameterOrder": [
            "project",
            "policy"
          ],
          "flatPath": "dns/v1/projects/{project}/policies/{policy}",
          "response": {
            "$ref": "Policy"
          },
          "parameters": {
            "policy": {
              "required": true,
              "description": "User given friendly name of the policy addressed by this request.",
              "type": "string",
              "location": "path"
            },
            "project": {
              "location": "path",
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "required": true
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            }
          },
          "description": "Fetches the representation of an existing policy.",
          "httpMethod": "GET"
        },
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1/projects/{project}/policies",
[...]
