{
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/workspace/docs/",
  "revision": "20260828",
  "basePath": "",
  "description": "Reads and writes Google Docs documents.",
  "discoveryVersion": "v1",
  "name": "docs",
  "baseUrl": "https://docs.googleapis.com/",
  "version_module": true,
  "ownerDomain": "google.com",
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "type": "string",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    }
  },
  "title": "Google Docs API",
  "rootUrl": "https://docs.googleapis.com/",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "version": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "documents": {
      "methods": {
        "batchUpdate": {
          "httpMethod": "POST",
          "path": "v1/documents/{documentId}:batchUpdate",
          "id": "docs.documents.batchUpdate",
          "description": "Applies one or more updates to the document. Each request is validated before being applied. If any request is not valid, then the entire request will fail and nothing will be applied. Some requests have replies to give you some information about how they are applied. Other requests do not need to return information; these each return an empty reply. The order of replies matches that of the requests. For example, suppose you call batchUpdate with four updates, and only the third one returns information. The response would have two empty replies, the reply to the third request, and another empty reply, in that order. Because other users may be editing the document, the document might not exactly reflect your changes: your changes may be altered with respect to collaborator changes. If there are no collaborators, the document should reflect your changes. In any case, the updates in your request are guaranteed to be applied together atomically.",
          "parameters": {
            "documentId": {
              "location": "path",
              "required": true,
              "description": "The ID of the document to update.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "BatchUpdateDocumentResponse"
          },
          "parameterOrder": [
            "documentId"
          ],
          "flatPath": "v1/documents/{documentId}:batchUpdate",
          "request": {
            "$ref": "BatchUpdateDocumentRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "create": {
          "description": "Creates a blank document using the title given in the request. Other fields in the request, including any provided content, are ignored. Returns the created document.",
          "httpMethod": "POST",
          "id": "docs.documents.create",
          "response": {
            "$ref": "Document"
          },
          "flatPath": "v1/documents",
          "request": {
            "$ref": "Document"
          },
          "parameters": {},
          "path": "v1/documents",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "get": {
          "id": "docs.documents.get",
          "scopes": [
            "https://www.googleapis.com/auth/documents",
            "https://www.googleapis.com/auth/documents.readonly",
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Gets the latest version of the specified document.",
          "parameters": {
            "includeTabsContent": {
              "description": "Whether to populate the Document.tabs field instead of the text content fields like `body` and `documentStyle` on Document. - When `True`: Document content populates in the Document.tabs field instead of the text content fields in Document. - When `False`: The content of the document's first tab populates the content fields in Document excluding Document.tabs. If a document has only one tab, then that tab is used to populate the document content. Document.tabs will be empty.",
              "type": "boolean",
              "location": "query"
            },
            "documentId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the document to retrieve."
            },
            "suggestionsViewMode": {
              "type": "string",
              "enumDescriptions": [
                "The SuggestionsViewMode applied to the returned document depends on the user's current access level. If the user only has view access, PREVIEW_WITHOUT_SUGGESTIONS is applied. Otherwise, SUGGESTIONS_INLINE is applied. This is the default suggestions view mode.",
                "The returned document has suggestions inline. Suggested changes will be differentiated from base content within the document. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
                "The returned document is a preview with all suggested changes accepted. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
                "The returned document is a preview with all suggested changes rejected if there are any suggestions in the document."
              ],
              "enum": [
                "DEFAULT_FOR_CURRENT_ACCESS",
                "SUGGESTIONS_INLINE",
                "PREVIEW_SUGGESTIONS_ACCEPTED",
                "PREVIEW_WITHOUT_SUGGESTIONS"
              ],
              "location": "query",
              "description": "The suggestions view mode to apply to the document. This allows viewing the document with all suggestions inline, accepted or rejected. If one is not specified, DEFAULT_FOR_CURRENT_ACCESS is used."
            }
          },
          "parameterOrder": [
            "documentId"
          ],
          "flatPath": "v1/documents/{documentId}",
          "path": "v1/documents/{documentId}",
          "response": {
            "$ref": "Document"
          },
          "httpMethod": "GET"
        }
      }
    }
  },
  "mtlsRootUrl": "https://docs.mtls.googleapis.com/",
  "id": "docs:v1",
  "batchPath": "batch",
  "canonicalName": "Docs",
  "servicePath": "",
  "schemas": {
    "EndOfSegmentLocation": {
      "description": "Location at the end of a body, header, footer or footnote. The location is immediately before the last newline in the document segment.",
      "properties": {
        "tabId": {
          "description": "The tab that the location is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
          "type": "string"
        },
        "segmentId": {
          "type": "string",
          "description": "The ID of the header, footer or footnote the location is in. An empty segment ID signifies the document's body."
        }
      },
      "type": "object",
      "id": "EndOfSegmentLocation"
    },
    "DeleteFooterRequest": {
      "id": "DeleteFooterRequest",
      "type": "object",
      "properties": {
        "footerId": {
          "type": "string",
          "description": "The id of the footer to delete. If this footer is defined on DocumentStyle, the reference to this footer is removed, resulting in no footer of that type for the first section of the document. If this footer is defined on a SectionStyle, the reference to this footer is removed and the footer of that type is now continued from the previous section."
        },
        "tabId": {
          "description": "The tab that contains the footer to delete. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
          "type": "string"
        }
      },
      "description": "Deletes a Footer from the document."
    },
    "Body": {
      "type": "object",
      "description": "The document body. The body typically contains the full document contents except for headers, footers, and footnotes.",
      "properties": {
        "content": {
          "description": "The contents of the body. The indexes for the body's content begin at zero.",
          "items": {
            "$ref": "StructuralElement"
          },
          "type": "array"
        }
      },
      "id": "Body"
    },
    "Document": {
      "type": "object",
      "id": "Document",
      "description": "A Google Docs document.",
      "properties": {
        "suggestedNamedStylesChanges": {
          "description": "Output only. The suggested changes to the named styles of the document, keyed by suggestion ID. Legacy field: Instead, use Document.tabs.documentTab.suggestedNamedStylesChanges, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "additionalProperties": {
            "$ref": "SuggestedNamedStyles"
          },
          "type": "object"
        },
        "body": {
          "description": "Output only. The main body of the document. Legacy field: Instead, use Document.tabs.documentTab.body, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "$ref": "Body"
        },
        "headers": {
          "description": "Output only. The headers in the document, keyed by header ID. Legacy field: Instead, use Document.tabs.documentTab.headers, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "additionalProperties": {
            "$ref": "Header"
          },
          "type": "object"
        },
        "title": {
          "type": "string",
          "description": "The title of the document."
        },
        "inlineObjects": {
          "additionalProperties": {
            "$ref": "InlineObject"
          },
          "description": "Output only. The inline objects in the document, keyed by object ID. Legacy field: Instead, use Document.tabs.documentTab.inlineObjects, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "type": "object"
        },
        "suggestionsViewMode": {
          "type": "string",
          "enumDescriptions": [
            "The SuggestionsViewMode applied to the returned document depends on the user's current access level. If the user only has view access, PREVIEW_WITHOUT_SUGGESTIONS is applied. Otherwise, SUGGESTIONS_INLINE is applied. This is the default suggestions view mode.",
            "The returned document has suggestions inline. Suggested changes will be differentiated from base content within the document. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
            "The returned document is a preview with all suggested changes accepted. Requests to retrieve a document using this mode will return a 403 error if the user does not have permission to view suggested changes.",
            "The returned document is a preview with all suggested changes rejected if there are any suggestions in the document."
          ],
          "description": "Output only. The suggestions view mode applied to the document. Note: When editing a document, changes must be based on a document with SUGGESTIONS_INLINE.",
          "enum": [
            "DEFAULT_FOR_CURRENT_ACCESS",
            "SUGGESTIONS_INLINE",
            "PREVIEW_SUGGESTIONS_ACCEPTED",
            "PREVIEW_WITHOUT_SUGGESTIONS"
          ]
        },
        "footnotes": {
          "type": "object",
          "description": "Output only. The footnotes in the document, keyed by footnote ID. Legacy field: Instead, use Document.tabs.documentTab.footnotes, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "additionalProperties": {
            "$ref": "Footnote"
          }
        },
        "namedStyles": {
          "description": "Output only. The named styles of the document. Legacy field: Instead, use Document.tabs.documentTab.namedStyles, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "$ref": "NamedStyles"
        },
        "revisionId": {
          "type": "string",
          "description": "Output only. The revision ID of the document. Can be used in update requests to specify which revision of a document to apply updates to and how the request should behave if the document has been edited since that revision. Only populated if the user has edit access to the document. The revision ID is not a sequential number but an opaque string. The format of the revision ID might change over time. A returned revision ID is only guaranteed to be valid for 24 hours after it has been returned and cannot be shared across users. If the revision ID is unchanged between calls, then the document has not changed. Conversely, a changed ID (for the same document and user) usually means the document has been updated. However, a changed ID can also be due to internal factors such as ID format changes."
        },
        "documentId": {
          "description": "Output only. The ID of the document.",
          "type": "string"
        },
        "namedRanges": {
          "additionalProperties": {
            "$ref": "NamedRanges"
          },
          "description": "Output only. The named ranges in the document, keyed by name. Legacy field: Instead, use Document.tabs.documentTab.namedRanges, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "type": "object"
        },
        "suggestedDocumentStyleChanges": {
          "type": "object",
          "description": "Output only. The suggested changes to the style of the document, keyed by suggestion ID. Legacy field: Instead, use Document.tabs.documentTab.suggestedDocumentStyleChanges, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "additionalProperties": {
            "$ref": "SuggestedDocumentStyle"
          }
        },
        "tabs": {
          "type": "array",
          "description": "Tabs that are part of a document. Tabs can contain child tabs, a tab nested within another tab. Child tabs are represented by the Tab.childTabs field.",
          "items": {
            "$ref": "Tab"
          }
        },
        "documentStyle": {
          "$ref": "DocumentStyle",
          "description": "Output only. The style of the document. Legacy field: Instead, use Document.tabs.documentTab.documentStyle, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
        },
        "lists": {
          "description": "Output only. The lists in the document, keyed by list ID. Legacy field: Instead, use Document.tabs.documentTab.lists, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "additionalProperties": {
            "$ref": "List"
          },
          "type": "object"
        },
        "footers": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Footer"
          },
          "description": "Output only. The footers in the document, keyed by footer ID. Legacy field: Instead, use Document.tabs.documentTab.footers, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document."
        },
        "positionedObjects": {
          "description": "Output only. The positioned objects in the document, keyed by object ID. Legacy field: Instead, use Document.tabs.documentTab.positionedObjects, which exposes the actual document content from all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset, this field contains information about the first tab in the document.",
          "type": "object",
          "additionalProperties": {
            "$ref": "PositionedObject"
          }
        }
      }
    },
    "Shading": {
      "id": "Shading",
      "type": "object",
      "properties": {
        "backgroundColor": {
          "description": "The background color of this paragraph shading.",
          "$ref": "OptionalColor"
        }
      },
      "description": "The shading of a paragraph."
    },
    "ImagePropertiesSuggestionState": {
      "id": "ImagePropertiesSuggestionState",
      "type": "object",
      "properties": {
        "brightnessSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to brightness."
        },
        "cropPropertiesSuggestionState": {
          "description": "A mask that indicates which of the fields in crop_properties have been changed in this suggestion.",
          "$ref": "CropPropertiesSuggestionState"
        },
        "sourceUriSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to source_uri."
        },
        "angleSuggested": {
          "description": "Indicates if there was a suggested change to angle.",
          "type": "boolean"
        },
        "transparencySuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to transparency."
        },
        "contentUriSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to content_uri."
        },
        "contrastSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to contrast."
        }
      },
      "description": "A mask that indicates which of the fields on the base ImageProperties have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "InlineObjectElement": {
      "type": "object",
      "id": "InlineObjectElement",
      "properties": {
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this InlineObjectElement. Similar to text content, like text runs and footnote references, the text style of an inline object element can affect content layout as well as the styling of text inserted next to it."
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. An InlineObjectElement may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "inlineObjectId": {
          "type": "string",
          "description": "The ID of the InlineObject this element contains."
        },
        "suggestedTextStyleChanges": {
          "type": "object",
          "description": "The suggested text style changes to this InlineObject, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          }
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "type": "array"
        }
      },
      "description": "A ParagraphElement that contains an InlineObject."
    },
    "ObjectReferences": {
      "type": "object",
      "properties": {
        "objectIds": {
          "description": "The object IDs.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ObjectReferences",
      "description": "A collection of object IDs."
    },
    "NamedStyle": {
      "id": "NamedStyle",
      "properties": {
        "textStyle": {
          "description": "The text style of this named style.",
          "$ref": "TextStyle"
        },
        "paragraphStyle": {
          "description": "The paragraph style of this named style.",
          "$ref": "ParagraphStyle"
        },
        "namedStyleType": {
          "description": "The type of this named style.",
          "enum": [
            "NAMED_STYLE_TYPE_UNSPECIFIED",
            "NORMAL_TEXT",
            "TITLE",
            "SUBTITLE",
            "HEADING_1",
            "HEADING_2",
            "HEADING_3",
            "HEADING_4",
            "HEADING_5",
            "HEADING_6"
          ],
          "type": "string",
          "enumDescriptions": [
            "The type of named style is unspecified.",
            "Normal text.",
            "Title.",
            "Subtitle.",
            "Heading 1.",
            "Heading 2.",
            "Heading 3.",
            "Heading 4.",
            "Heading 5.",
            "Heading 6."
          ]
        }
      },
      "description": "A named style. Paragraphs in the document can inherit their TextStyle and ParagraphStyle from this named style when they have the same named style type.",
      "type": "object"
    },
    "DeleteTableRowRequest": {
      "id": "DeleteTableRowRequest",
      "type": "object",
      "properties": {
        "tableCellLocation": {
          "$ref": "TableCellLocation",
          "description": "The reference table cell location from which the row will be deleted. The row this cell spans will be deleted. If this is a merged cell that spans multiple rows, all rows that the cell spans will be deleted. If no rows remain in the table after this deletion, the whole table is deleted."
        }
      },
      "description": "Deletes a row from a table."
    },
    "TableRowStyle": {
      "description": "Styles that apply to a table row.",
      "type": "object",
      "properties": {
        "tableHeader": {
          "type": "boolean",
          "description": "Whether the row is a table header."
        },
        "preventOverflow": {
          "type": "boolean",
          "description": "Whether the row cannot overflow across page or column boundaries."
        },
        "minRowHeight": {
          "description": "The minimum height of the row. The row will be rendered in the Docs editor at a height equal to or greater than this value in order to show all the content in the row's cells.",
          "$ref": "Dimension"
        }
      },
      "id": "TableRowStyle"
    },
    "Bullet": {
      "id": "Bullet",
      "description": "Describes the bullet of a paragraph.",
      "type": "object",
      "properties": {
        "listId": {
          "description": "The ID of the list this paragraph belongs to.",
          "type": "string"
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The paragraph-specific text style applied to this bullet."
        },
        "nestingLevel": {
          "description": "The nesting level of this paragraph in the list.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "EmbeddedDrawingPropertiesSuggestionState": {
      "id": "EmbeddedDrawingPropertiesSuggestionState",
      "description": "A mask that indicates which of the fields on the base EmbeddedDrawingProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "type": "object",
      "properties": {}
    },
    "PositionedObjectProperties": {
      "description": "Properties of a PositionedObject.",
      "type": "object",
      "properties": {
        "embeddedObject": {
          "description": "The embedded object of this positioned object.",
          "$ref": "EmbeddedObject"
        },
        "positioning": {
          "$ref": "PositionedObjectPositioning",
          "description": "The positioning of this positioned object relative to the newline of the Paragraph that references this positioned object."
        }
      },
      "id": "PositionedObjectProperties"
    },
    "EmbeddedObject": {
      "type": "object",
      "properties": {
        "marginLeft": {
          "description": "The left margin of the embedded object.",
          "$ref": "Dimension"
        },
        "embeddedObjectBorder": {
          "$ref": "EmbeddedObjectBorder",
          "description": "The border of the embedded object."
        },
        "embeddedDrawingProperties": {
          "description": "The properties of an embedded drawing.",
          "$ref": "EmbeddedDrawingProperties"
        },
        "marginBottom": {
          "description": "The bottom margin of the embedded object.",
          "$ref": "Dimension"
        },
        "imageProperties": {
          "$ref": "ImageProperties",
          "description": "The properties of an image."
        },
        "linkedContentReference": {
          "$ref": "LinkedContentReference",
          "description": "A reference to the external linked source content. For example, it contains a reference to the source Google Sheets chart when the embedded object is a linked chart. If unset, then the embedded object is not linked."
        },
        "title": {
          "description": "The title of the embedded object. The `title` and `description` are both combined to display alt text.",
          "type": "string"
        },
        "size": {
          "description": "The visible size of the image after cropping.",
          "$ref": "Size"
        },
        "marginTop": {
          "$ref": "Dimension",
          "description": "The top margin of the embedded object."
        },
        "description": {
          "type": "string",
          "description": "The description of the embedded object. The `title` and `description` are both combined to display alt text."
        },
        "marginRight": {
          "$ref": "Dimension",
          "description": "The right margin of the embedded object."
        }
      },
      "description": "An embedded object in the document.",
      "id": "EmbeddedObject"
    },
    "PositionedObjectPositioning": {
      "id": "PositionedObjectPositioning",
      "properties": {
        "layout": {
          "type": "string",
          "description": "The layout of this positioned object.",
          "enumDescriptions": [
            "The layout is unspecified.",
            "The text wraps around the positioned object.",
            "Breaks text such that the positioned object is on the left and text is on the right.",
            "Breaks text such that the positioned object is on the right and text is on the left.",
            "Breaks text such that there's no text on the left or right of the positioned object.",
            "The positioned object is in front of the text.",
            "The positioned object is behind the text."
          ],
          "enum": [
            "POSITIONED_OBJECT_LAYOUT_UNSPECIFIED",
            "WRAP_TEXT",
            "BREAK_LEFT",
            "BREAK_RIGHT",
            "BREAK_LEFT_RIGHT",
            "IN_FRONT_OF_TEXT",
            "BEHIND_TEXT"
          ]
        },
        "leftOffset": {
          "description": "The offset of the left edge of the positioned object relative to the beginning of the Paragraph it's tethered to. The exact positioning of the object can depend on other content in the document and the document's styling.",
          "$ref": "Dimension"
        },
        "topOffset": {
          "description": "The offset of the top edge of the positioned object relative to the beginning of the Paragraph it's tethered to. The exact positioning of the object can depend on other content in the document and the document's styling.",
          "$ref": "Dimension"
        }
      },
      "description": "The positioning of a PositionedObject. The positioned object is positioned relative to the beginning of the Paragraph it's tethered to.",
      "type": "object"
    },
    "DeleteTableColumnRequest": {
      "description": "Deletes a column from a table.",
      "id": "DeleteTableColumnRequest",
      "properties": {
        "tableCellLocation": {
          "description": "The reference table cell location from which the column will be deleted. The column this cell spans will be deleted. If this is a merged cell that spans multiple columns, all columns that the cell spans will be deleted. If no columns remain in the table after this deletion, the whole table is deleted.",
          "$ref": "TableCellLocation"
        }
      },
      "type": "object"
    },
    "TableCell": {
      "id": "TableCell",
      "properties": {
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. A TableCell may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array"
        },
        "tableCellStyle": {
          "$ref": "TableCellStyle",
          "description": "The style of the cell."
        },
        "suggestedTableCellStyleChanges": {
          "type": "object",
          "description": "The suggested changes to the table cell style, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTableCellStyle"
          }
        },
        "startIndex": {
          "type": "integer",
          "description": "The zero-based start index of this cell, in UTF-16 code units.",
          "format": "int32"
        },
        "endIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The zero-based end index of this cell, exclusive, in UTF-16 code units."
        },
        "suggestedDeletionIds": {
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          }
        },
        "content": {
          "items": {
            "$ref": "StructuralElement"
          },
          "description": "The content of the cell.",
          "type": "array"
        }
      },
      "description": "The contents and style of a cell in a Table.",
      "type": "object"
    },
    "EmbeddedObjectBorder": {
      "id": "EmbeddedObjectBorder",
      "description": "A border around an EmbeddedObject.",
      "type": "object",
      "properties": {
        "propertyState": {
          "enum": [
            "RENDERED",
            "NOT_RENDERED"
          ],
          "enumDescriptions": [
            "If a property's state is RENDERED, then the element has the corresponding property when rendered in the document. This is the default value.",
            "If a property's state is NOT_RENDERED, then the element does not have the corresponding property when rendered in the document."
          ],
          "description": "The property state of the border property.",
          "type": "string"
        },
        "dashStyle": {
          "enum": [
            "DASH_STYLE_UNSPECIFIED",
            "SOLID",
            "DOT",
            "DASH"
          ],
          "description": "The dash style of the border.",
          "enumDescriptions": [
            "Unspecified dash style.",
            "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'. This is the default dash style.",
            "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
            "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'."
          ],
          "type": "string"
        },
        "color": {
          "$ref": "OptionalColor",
          "description": "The color of the border."
        },
        "width": {
          "$ref": "Dimension",
          "description": "The width of the border."
        }
      }
    },
    "UpdateDocumentStyleRequest": {
      "id": "UpdateDocumentStyleRequest",
      "type": "object",
      "properties": {
        "documentStyle": {
          "$ref": "DocumentStyle",
          "description": "The styles to set on the document. Certain document style changes may cause other changes in order to mirror the behavior of the Docs editor. See the documentation of DocumentStyle for more information."
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `document_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the background, set `fields` to `\"background\"`.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "tabId": {
          "description": "The tab that contains the style to update. When omitted, the request applies to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If not provided, the request applies to the first tab in the document.",
          "type": "string"
        }
      },
      "description": "Updates the DocumentStyle."
    },
    "PositionedObjectPropertiesSuggestionState": {
      "properties": {
        "embeddedObjectSuggestionState": {
          "$ref": "EmbeddedObjectSuggestionState",
          "description": "A mask that indicates which of the fields in embedded_object have been changed in this suggestion."
        },
        "positioningSuggestionState": {
          "$ref": "PositionedObjectPositioningSuggestionState",
          "description": "A mask that indicates which of the fields in positioning have been changed in this suggestion."
        }
      },
      "id": "PositionedObjectPropertiesSuggestionState",
      "description": "A mask that indicates which of the fields on the base PositionedObjectProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "type": "object"
    },
    "EmbeddedObjectBorderSuggestionState": {
      "id": "EmbeddedObjectBorderSuggestionState",
      "properties": {
        "widthSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to width."
        },
        "propertyStateSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to property_state."
        },
        "dashStyleSuggested": {
          "description": "Indicates if there was a suggested change to dash_style.",
          "type": "boolean"
        },
        "colorSuggested": {
          "description": "Indicates if there was a suggested change to color.",
          "type": "boolean"
        }
      },
      "description": "A mask that indicates which of the fields on the base EmbeddedObjectBorder have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "type": "object"
    },
    "PositionedObjectPositioningSuggestionState": {
      "type": "object",
      "id": "PositionedObjectPositioningSuggestionState",
      "description": "A mask that indicates which of the fields on the base PositionedObjectPositioning have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "topOffsetSuggested": {
          "description": "Indicates if there was a suggested change to top_offset.",
          "type": "boolean"
        },
        "leftOffsetSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to left_offset."
        },
        "layoutSuggested": {
          "description": "Indicates if there was a suggested change to layout.",
          "type": "boolean"
        }
      }
    },
    "InsertDateRequest": {
      "id": "InsertDateRequest",
      "type": "object",
      "properties": {
        "endOfSegmentLocation": {
          "description": "Inserts the date at the end of the given header, footer or document body.",
          "$ref": "EndOfSegmentLocation"
        },
        "location": {
          "description": "Inserts the date at a specific index in the document. The date must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between an existing table and its preceding paragraph).",
          "$ref": "Location"
        },
        "dateElementProperties": {
          "description": "The properties of the date to insert.",
          "$ref": "DateElementProperties"
        }
      },
      "description": "Inserts a date at the specified location."
    },
    "Color": {
      "id": "Color",
      "properties": {
        "rgbColor": {
          "$ref": "RgbColor",
          "description": "The RGB color value."
        }
      },
      "type": "object",
      "description": "A solid color."
    },
    "CreateNamedRangeResponse": {
      "description": "The result of creating a named range.",
      "properties": {
        "namedRangeId": {
          "description": "The ID of the created named range.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CreateNamedRangeResponse"
    },
    "NamedRange": {
      "type": "object",
      "id": "NamedRange",
      "properties": {
        "name": {
          "description": "The name of the named range.",
          "type": "string"
        },
        "namedRangeId": {
          "type": "string",
          "description": "The ID of the named range."
        },
        "ranges": {
          "type": "array",
          "description": "The ranges that belong to this named range.",
          "items": {
            "$ref": "Range"
          }
        }
      },
      "description": "A collection of Ranges with the same named range ID. Named ranges allow developers to associate parts of a document with an arbitrary user-defined label so their contents can be programmatically read or edited later. A document can contain multiple named ranges with the same name, but every named range has a unique ID. A named range is created with a single Range, and content inserted inside a named range generally expands that range. However, certain document changes can cause the range to be split into multiple ranges. Named ranges are not private. All applications and collaborators that have access to the document can see its named ranges."
    },
    "NamedStyles": {
      "type": "object",
      "id": "NamedStyles",
      "description": "The named styles. Paragraphs in the document can inherit their TextStyle and ParagraphStyle from these named styles.",
      "properties": {
        "styles": {
          "type": "array",
          "description": "The named styles. There's an entry for each of the possible named style types.",
          "items": {
            "$ref": "NamedStyle"
          }
        }
      }
    },
    "TextRun": {
      "description": "A ParagraphElement that represents a run of text that all has the same styling.",
      "type": "object",
      "id": "TextRun",
      "properties": {
        "textStyle": {
          "description": "The text style of this run.",
          "$ref": "TextStyle"
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        },
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested insertion IDs. A TextRun may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
        },
        "content": {
          "type": "string",
          "description": "The text of this run. Any non-text elements in the run are replaced with the Unicode character U+E907."
        },
        "suggestedTextStyleChanges": {
          "type": "object",
          "description": "The suggested text style changes to this run, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          }
        }
      }
    },
    "InsertTableColumnRequest": {
      "properties": {
        "tableCellLocation": {
          "description": "The reference table cell location from which columns will be inserted. A new column will be inserted to the left (or right) of the column where the reference cell is. If the reference cell is a merged cell, a new column will be inserted to the left (or right) of the merged cell.",
          "$ref": "TableCellLocation"
        },
        "insertRight": {
          "type": "boolean",
          "description": "Whether to insert new column to the right of the reference cell location. - `True`: insert to the right. - `False`: insert to the left."
        }
      },
      "type": "object",
      "description": "Inserts an empty column into a table.",
      "id": "InsertTableColumnRequest"
    },
    "CropPropertiesSuggestionState": {
      "description": "A mask that indicates which of the fields on the base CropProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "type": "object",
      "id": "CropPropertiesSuggestionState",
      "properties": {
        "offsetRightSuggested": {
          "description": "Indicates if there was a suggested change to offset_right.",
          "type": "boolean"
        },
        "offsetLeftSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to offset_left."
        },
        "angleSuggested": {
          "description": "Indicates if there was a suggested change to angle.",
          "type": "boolean"
        },
        "offsetBottomSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to offset_bottom."
        },
        "offsetTopSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to offset_top."
        }
      }
    },
    "UpdateSectionStyleRequest": {
      "type": "object",
      "description": "Updates the SectionStyle.",
      "id": "UpdateSectionStyleRequest",
      "properties": {
        "range": {
          "$ref": "Range",
          "description": "The range overlapping the sections to style. Because section breaks can only be inserted inside the body, the segment ID field must be empty."
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `section_style` is implied and must not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the left margin, set `fields` to `\"margin_left\"`.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "sectionStyle": {
          "$ref": "SectionStyle",
          "description": "The styles to be set on the section. Certain section style changes may cause other changes in order to mirror the behavior of the Docs editor. See the documentation of SectionStyle for more information."
        }
      }
    },
    "TableColumnProperties": {
      "description": "The properties of a column in a table.",
      "type": "object",
      "properties": {
        "widthType": {
          "enum": [
            "WIDTH_TYPE_UNSPECIFIED",
            "EVENLY_DISTRIBUTED",
            "FIXED_WIDTH"
          ],
          "type": "string",
          "description": "The width type of the column.",
          "enumDescriptions": [
            "The column width type is unspecified.",
            "The column width is evenly distributed among the other evenly distributed columns. The width of the column is automatically determined and will have an equal portion of the width remaining for the table after accounting for all columns with specified widths.",
            "A fixed column width. The width property contains the column's width."
          ]
        },
        "width": {
          "$ref": "Dimension",
          "description": "The width of the column. Set when the column's `width_type` is FIXED_WIDTH."
        }
      },
      "id": "TableColumnProperties"
    },
    "InsertInlineSheetsChartResponse": {
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The object ID of the inserted chart."
        }
      },
      "id": "InsertInlineSheetsChartResponse",
      "description": "The result of inserting an embedded Google Sheets chart.",
      "type": "object"
    },
    "Header": {
      "description": "A document header.",
      "id": "Header",
      "type": "object",
      "properties": {
        "content": {
          "type": "array",
          "items": {
            "$ref": "StructuralElement"
          },
          "description": "The contents of the header. The indexes for a header's content begin at zero."
        },
        "headerId": {
          "type": "string",
          "description": "The ID of the header."
        }
      }
    },
    "TableRow": {
      "id": "TableRow",
      "description": "The contents and style of a row in a Table.",
      "type": "object",
      "properties": {
        "endIndex": {
          "description": "The zero-based end index of this row, exclusive, in UTF-16 code units.",
          "type": "integer",
          "format": "int32"
        },
        "suggestedTableRowStyleChanges": {
          "type": "object",
          "description": "The suggested style changes to this row, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTableRowStyle"
          }
        },
        "tableRowStyle": {
          "$ref": "TableRowStyle",
          "description": "The style of the table row."
        },
        "startIndex": {
          "type": "integer",
          "description": "The zero-based start index of this row, in UTF-16 code units.",
          "format": "int32"
        },
        "tableCells": {
          "type": "array",
          "items": {
            "$ref": "TableCell"
          },
          "description": "The contents and style of each cell in this row. It's possible for a table to be non-rectangular, so some rows may have a different number of cells than other rows in the same table."
        },
        "suggestedDeletionIds": {
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          }
        },
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. A TableRow may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array"
        }
      }
    },
    "UpdateParagraphStyleRequest": {
      "type": "object",
      "id": "UpdateParagraphStyleRequest",
      "properties": {
        "fields": {
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `paragraph_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example, to update the paragraph style's alignment property, set `fields` to `\"alignment\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.",
          "format": "google-fieldmask"
        },
        "range": {
          "description": "The range overlapping the paragraphs to style.",
          "$ref": "Range"
        },
        "paragraphStyle": {
          "description": "The styles to set on the paragraphs. Certain paragraph style changes may cause other changes in order to mirror the behavior of the Docs editor. See the documentation of ParagraphStyle for more information.",
          "$ref": "ParagraphStyle"
        }
      },
      "description": "Update the styling of all paragraphs that overlap with the given range."
    },
    "ListProperties": {
      "type": "object",
      "id": "ListProperties",
      "description": "The properties of a list that describe the look and feel of bullets belonging to paragraphs associated with a list.",
      "properties": {
        "nestingLevels": {
          "type": "array",
          "items": {
            "$ref": "NestingLevel"
          },
          "description": "Describes the properties of the bullets at the associated level. A list has at most 9 levels of nesting with nesting level 0 corresponding to the top-most level and nesting level 8 corresponding to the most nested level. The nesting levels are returned in ascending order with the least nested returned first."
        }
      }
    },
    "TabsCriteria": {
      "id": "TabsCriteria",
      "description": "A criteria that specifies in which tabs a request executes.",
      "type": "object",
      "properties": {
        "tabIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of tab IDs in which the request executes."
        }
      }
    },
    "WriteControl": {
      "id": "WriteControl",
      "type": "object",
      "description": "Provides control over how write requests are executed.",
      "properties": {
        "requiredRevisionId": {
          "description": "The optional revision ID of the document the write request is applied to. If this is not the latest revision of the document, the request is not processed and returns a 400 bad request error. When a required revision ID is returned in a response, it indicates the revision ID of the document after the request was applied.",
          "type": "string"
        },
        "targetRevisionId": {
          "description": "The optional target revision ID of the document the write request is applied to. If collaborator changes have occurred after the document was read using the API, the changes produced by this write request are applied against the collaborator changes. This results in a new revision of the document that incorporates both the collaborator changes and the changes in the request, with the Docs server resolving conflicting changes. When using target revision ID, the API client can be thought of as another collaborator of the document. The target revision ID can only be used to write to recent versions of a document. If the target revision is too far behind the latest revision, the request is not processed and returns a 400 bad request error. The request should be tried again after retrieving the latest version of the document. Usually a revision ID remains valid for use as a target revision for several minutes after it's read, but for frequently edited documents this window might be shorter.",
          "type": "string"
        }
      }
    },
    "HorizontalRule": {
      "description": "A ParagraphElement representing a horizontal line.",
      "id": "HorizontalRule",
      "properties": {
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A HorizontalRule may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "textStyle": {
          "description": "The text style of this HorizontalRule. Similar to text content, like text runs and footnote references, the text style of a horizontal rule can affect content layout as well as the styling of text inserted next to it.",
          "$ref": "TextStyle"
        },
        "suggestedTextStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "type": "object",
          "description": "The suggested text style changes to this HorizontalRule, keyed by suggestion ID."
        },
        "suggestedDeletionIds": {
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "SubstringMatchCriteria": {
      "properties": {
        "text": {
          "type": "string",
          "description": "The text to search for in the document."
        },
        "matchCase": {
          "description": "Indicates whether the search should respect case: - `True`: the search is case sensitive. - `False`: the search is case insensitive.",
          "type": "boolean"
        },
        "searchByRegex": {
          "type": "boolean",
          "description": "Optional. True if the find value should be treated as a regular expression. Any backslashes in the pattern should be escaped. - `True`: the search text is treated as a regular expressions. - `False`: the search text is treated as a substring for matching."
        }
      },
      "description": "A criteria that matches a specific string of text in the document.",
      "type": "object",
      "id": "SubstringMatchCriteria"
    },
    "Footnote": {
      "id": "Footnote",
      "type": "object",
      "description": "A document footnote.",
      "properties": {
        "footnoteId": {
          "description": "The ID of the footnote.",
          "type": "string"
        },
        "content": {
          "type": "array",
          "description": "The contents of the footnote. The indexes for a footnote's content begin at zero.",
          "items": {
            "$ref": "StructuralElement"
          }
        }
      }
    },
    "DocumentStyleSuggestionState": {
      "id": "DocumentStyleSuggestionState",
      "type": "object",
      "description": "A mask that indicates which of the fields on the base DocumentStyle have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "evenPageHeaderIdSuggested": {
          "description": "Indicates if there was a suggested change to even_page_header_id.",
          "type": "boolean"
        },
        "marginFooterSuggested": {
          "description": "Indicates if there was a suggested change to margin_footer.",
          "type": "boolean"
        },
        "defaultHeaderIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to default_header_id."
        },
        "marginLeftSuggested": {
          "description": "Indicates if there was a suggested change to margin_left.",
          "type": "boolean"
        },
        "pageNumberStartSuggested": {
          "description": "Indicates if there was a suggested change to page_number_start.",
          "type": "boolean"
        },
        "marginTopSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_top."
        },
        "useFirstPageHeaderFooterSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to use_first_page_header_footer."
        },
        "marginBottomSuggested": {
          "description": "Indicates if there was a suggested change to margin_bottom.",
          "type": "boolean"
        },
        "firstPageHeaderIdSuggested": {
          "description": "Indicates if there was a suggested change to first_page_header_id.",
          "type": "boolean"
        },
        "firstPageFooterIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to first_page_footer_id."
        },
        "evenPageFooterIdSuggested": {
          "description": "Indicates if there was a suggested change to even_page_footer_id.",
          "type": "boolean"
        },
        "backgroundSuggestionState": {
          "description": "A mask that indicates which of the fields in background have been changed in this suggestion.",
          "$ref": "BackgroundSuggestionState"
        },
        "useEvenPageHeaderFooterSuggested": {
          "description": "Indicates if there was a suggested change to use_even_page_header_footer.",
          "type": "boolean"
        },
        "marginRightSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_right."
        },
        "defaultFooterIdSuggested": {
          "description": "Indicates if there was a suggested change to default_footer_id.",
          "type": "boolean"
        },
        "useCustomHeaderFooterMarginsSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to use_custom_header_footer_margins."
        },
        "pageSizeSuggestionState": {
          "$ref": "SizeSuggestionState",
          "description": "A mask that indicates which of the fields in size have been changed in this suggestion."
        },
        "marginHeaderSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_header."
        },
        "flipPageOrientationSuggested": {
          "description": "Optional. Indicates if there was a suggested change to flip_page_orientation.",
          "type": "boolean"
        }
      }
    },
    "DeleteParagraphBulletsRequest": {
      "type": "object",
      "id": "DeleteParagraphBulletsRequest",
      "properties": {
        "range": {
          "description": "The range to delete bullets from.",
          "$ref": "Range"
        }
      },
      "description": "Deletes bullets from all of the paragraphs that overlap with the given range. The nesting level of each paragraph will be visually preserved by adding indent to the start of the corresponding paragraph."
    },
    "InlineObjectProperties": {
      "id": "InlineObjectProperties",
      "description": "Properties of an InlineObject.",
      "type": "object",
      "properties": {
        "embeddedObject": {
          "$ref": "EmbeddedObject",
          "description": "The embedded object of this inline object."
        }
      }
    },
    "LinkedContentReference": {
      "properties": {
        "sheetsChartReference": {
          "$ref": "SheetsChartReference",
          "description": "A reference to the linked chart."
        }
      },
      "id": "LinkedContentReference",
      "description": "A reference to the external linked source content.",
      "type": "object"
    },
    "SuggestedParagraphStyle": {
      "type": "object",
      "description": "A suggested change to a ParagraphStyle.",
      "id": "SuggestedParagraphStyle",
      "properties": {
        "paragraphStyleSuggestionState": {
          "description": "A mask that indicates which of the fields on the base ParagraphStyle have been changed in this suggestion.",
          "$ref": "ParagraphStyleSuggestionState"
        },
        "paragraphStyle": {
          "$ref": "ParagraphStyle",
          "description": "A ParagraphStyle that only includes the changes made in this suggestion. This can be used along with the paragraph_style_suggestion_state to see which fields have changed and their new values."
        }
      }
    },
    "SuggestedTableCellStyle": {
      "properties": {
        "tableCellStyleSuggestionState": {
          "$ref": "TableCellStyleSuggestionState",
          "description": "A mask that indicates which of the fields on the base TableCellStyle have been changed in this suggestion."
        },
        "tableCellStyle": {
          "description": "A TableCellStyle that only includes the changes made in this suggestion. This can be used along with the table_cell_style_suggestion_state to see which fields have changed and their new values.",
          "$ref": "TableCellStyle"
        }
      },
      "type": "object",
      "id": "SuggestedTableCellStyle",
      "description": "A suggested change to a TableCellStyle."
    },
    "AddDocumentTabResponse": {
      "description": "The result of adding a document tab.",
      "properties": {
        "tabProperties": {
          "description": "The properties of the newly added tab.",
          "$ref": "TabProperties"
        }
      },
      "type": "object",
      "id": "AddDocumentTabResponse"
    },
    "TableRowStyleSuggestionState": {
      "id": "TableRowStyleSuggestionState",
      "type": "object",
      "properties": {
        "minRowHeightSuggested": {
          "description": "Indicates if there was a suggested change to min_row_height.",
          "type": "boolean"
        }
      },
      "description": "A mask that indicates which of the fields on the base TableRowStyle have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "DeleteTabRequest": {
      "description": "Deletes a tab. If the tab has child tabs, they are deleted as well.",
      "properties": {
        "tabId": {
          "type": "string",
          "description": "The ID of the tab to delete."
        }
      },
      "type": "object",
      "id": "DeleteTabRequest"
    },
    "TableOfContents": {
      "description": "A StructuralElement representing a table of contents.",
      "type": "object",
      "properties": {
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        },
        "content": {
          "description": "The content of the table of contents.",
          "items": {
            "$ref": "StructuralElement"
          },
          "type": "array"
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A TableOfContents may have multiple insertion IDs if it is a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TableOfContents"
    },
    "CreateFootnoteResponse": {
      "id": "CreateFootnoteResponse",
      "type": "object",
      "properties": {
        "footnoteId": {
          "description": "The ID of the created footnote.",
          "type": "string"
        }
      },
      "description": "The result of creating a footnote."
    },
    "RichLink": {
      "id": "RichLink",
      "description": "A link to a Google resource (such as a file in Drive, a YouTube video, or a Calendar event).",
      "type": "object",
      "properties": {
        "suggestedInsertionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "IDs for suggestions that insert this link into the document. A RichLink might have multiple insertion IDs if it's a nested suggested change (a suggestion within a suggestion made by a different user, for example). If empty, then this person link isn't a suggested insertion."
        },
        "suggestedDeletionIds": {
          "description": "IDs for suggestions that remove this link from the document. A RichLink might have multiple deletion IDs if, for example, multiple users suggest deleting it. If empty, then this person link isn't suggested for deletion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this RichLink."
        },
        "richLinkId": {
          "readOnly": true,
          "description": "Output only. The ID of this link.",
          "type": "string"
        },
        "richLinkProperties": {
          "$ref": "RichLinkProperties",
          "readOnly": true,
          "description": "Output only. The properties of this RichLink. This field is always present."
        },
        "suggestedTextStyleChanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "description": "The suggested text style changes to this RichLink, keyed by suggestion ID."
        }
      }
    },
    "InlineObjectPropertiesSuggestionState": {
      "type": "object",
      "id": "InlineObjectPropertiesSuggestionState",
      "properties": {
        "embeddedObjectSuggestionState": {
          "$ref": "EmbeddedObjectSuggestionState",
          "description": "A mask that indicates which of the fields in embedded_object have been changed in this suggestion."
        }
      },
      "description": "A mask that indicates which of the fields on the base InlineObjectProperties have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "CreateHeaderResponse": {
      "properties": {
        "headerId": {
          "type": "string",
          "description": "The ID of the created header."
        }
      },
      "id": "CreateHeaderResponse",
      "description": "The result of creating a header.",
      "type": "object"
    },
    "ListPropertiesSuggestionState": {
      "properties": {
        "nestingLevelsSuggestionStates": {
          "description": "A mask that indicates which of the fields on the corresponding NestingLevel in nesting_levels have been changed in this suggestion. The nesting level suggestion states are returned in ascending order of the nesting level with the least nested returned first.",
          "items": {
            "$ref": "NestingLevelSuggestionState"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "A mask that indicates which of the fields on the base ListProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "id": "ListPropertiesSuggestionState"
    },
    "SuggestedNamedStyles": {
      "properties": {
        "namedStylesSuggestionState": {
          "$ref": "NamedStylesSuggestionState",
          "description": "A mask that indicates which of the fields on the base NamedStyles have been changed in this suggestion."
        },
        "namedStyles": {
          "description": "A NamedStyles that only includes the changes made in this suggestion. This can be used along with the named_styles_suggestion_state to see which fields have changed and their new values.",
          "$ref": "NamedStyles"
        }
      },
      "id": "SuggestedNamedStyles",
      "type": "object",
      "description": "A suggested change to the NamedStyles."
    },
    "SuggestedTextStyle": {
      "description": "A suggested change to a TextStyle.",
      "id": "SuggestedTextStyle",
      "type": "object",
      "properties": {
        "textStyleSuggestionState": {
          "description": "A mask that indicates which of the fields on the base TextStyle have been changed in this suggestion.",
          "$ref": "TextStyleSuggestionState"
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "A TextStyle that only includes the changes made in this suggestion. This can be used along with the text_style_suggestion_state to see which fields have changed and their new values."
        }
      }
    },
    "WeightedFontFamily": {
      "description": "Represents a font family and weight of text.",
      "type": "object",
      "properties": {
        "weight": {
          "type": "integer",
          "description": "The weight of the font. This field can have any value that's a multiple of `100` between `100` and `900`, inclusive. This range corresponds to the numerical values described in the CSS 2.1 Specification, [section 15.6](https://www.w3.org/TR/CSS21/fonts.html#font-boldness), with non-numerical values disallowed. The default value is `400` (\"normal\"). The font weight makes up just one component of the rendered font weight. A combination of the `weight` and the text style's resolved `bold` value determine the rendered weight, after accounting for inheritance: * If the text is bold and the weight is less than `400`, the rendered weight is 400. * If the text is bold and the weight is greater than or equal to `400` but is less than `700`, the rendered weight is `700`. * If the weight is greater than or equal to `700`, the rendered weight is equal to the weight. * If the text is not bold, the rendered weight is equal to the weight.",
          "format": "int32"
        },
        "fontFamily": {
          "description": "The font family of the text. The font family can be any font from the Font menu in Docs or from [Google Fonts] (https://fonts.google.com/). If the font name is unrecognized, the text is rendered in `Arial`.",
          "type": "string"
        }
      },
      "id": "WeightedFontFamily"
    },
    "DateElementPropertiesSuggestionState": {
      "type": "object",
      "id": "DateElementPropertiesSuggestionState",
      "description": "A mask that indicates which of the fields on the base DateElementProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "timeFormatSuggested": {
          "description": "Indicates if there was a suggested change to time_format.",
          "type": "boolean"
        },
        "timestampSuggested": {
          "description": "Indicates if there was a suggested change to timestamp.",
          "type": "boolean"
        },
        "localeSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to locale."
        },
        "timeZoneIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to time_zone_id."
        },
        "dateFormatSuggested": {
          "description": "Indicates if there was a suggested change to date_format.",
          "type": "boolean"
        }
      }
    },
    "TextStyle": {
      "id": "TextStyle",
      "type": "object",
      "properties": {
        "strikethrough": {
          "description": "Whether or not the text is struck through.",
          "type": "boolean"
        },
        "baselineOffset": {
          "type": "string",
          "enumDescriptions": [
            "The text's baseline offset is inherited from the parent.",
            "The text is not vertically offset.",
            "The text is vertically offset upwards (superscript).",
            "The text is vertically offset downwards (subscript)."
          ],
          "enum": [
            "BASELINE_OFFSET_UNSPECIFIED",
            "NONE",
            "SUPERSCRIPT",
            "SUBSCRIPT"
          ],
          "description": "The text's vertical offset from its normal position. Text with `SUPERSCRIPT` or `SUBSCRIPT` baseline offsets is automatically rendered in a smaller font size, computed based on the `font_size` field. Changes in this field don't affect the `font_size`."
        },
        "smallCaps": {
          "description": "Whether or not the text is in small capital letters.",
          "type": "boolean"
        },
        "bold": {
          "type": "boolean",
          "description": "Whether or not the text is rendered as bold."
        },
        "underline": {
          "description": "Whether or not the text is underlined.",
          "type": "boolean"
        },
        "fontSize": {
          "$ref": "Dimension",
          "description": "The size of the text's font."
        },
        "backgroundColor": {
          "description": "The background color of the text. If set, the color is either an RGB color or transparent, depending on the `color` field.",
          "$ref": "OptionalColor"
        },
        "foregroundColor": {
          "$ref": "OptionalColor",
          "description": "The foreground color of the text. If set, the color is either an RGB color or transparent, depending on the `color` field."
        },
        "italic": {
          "type": "boolean",
          "description": "Whether or not the text is italicized."
        },
        "link": {
          "$ref": "Link",
          "description": "The hyperlink destination of the text. If unset, there's no link. Links are not inherited from parent text. Changing the link in an update request causes some other changes to the text style of the range: * When setting a link, the text foreground color will be updated to the default link color and the text will be underlined. If these fields are modified in the same request, those values will be used instead of the link defaults. * Setting a link on a text range that overlaps with an existing link will also update the existing link to point to the new URL. * Links are not settable on newline characters. As a result, setting a link on a text range that crosses a paragraph boundary, such as `\"ABC\\n123\"`, will separate the newline character(s) into their own text runs. The link will be applied separately to the runs before and after the newline. * Removing a link will update the text style of the range to match the style of the preceding text (or the default text styles if the preceding text is another link) unless different styles are being set in the same request."
        },
        "weightedFontFamily": {
          "description": "The font family and rendered weight of the text. If an update request specifies values for both `weighted_font_family` and `bold`, the `weighted_font_family` is applied first, then `bold`. If `weighted_font_family#weight` is not set, it defaults to `400`. If `weighted_font_family` is set, then `weighted_font_family#font_family` must also be set with a non-empty value. Otherwise, a 400 bad request error is returned.",
          "$ref": "WeightedFontFamily"
        }
      },
      "description": "Represents the styling that can be applied to text. Inherited text styles are represented as unset fields in this message. A text style's parent depends on where the text style is defined: * The TextStyle of text in a Paragraph inherits from the paragraph's corresponding named style type. * The TextStyle on a named style inherits from the normal text named style. * The TextStyle of the normal text named style inherits from the default text style in the Docs editor. * The TextStyle on a Paragraph element that's contained in a table may inherit its text style from the table style. If the text style does not inherit from a parent, unsetting fields will revert the style to a value matching the defaults in the Docs editor."
    },
    "TabProperties": {
      "id": "TabProperties",
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "The user-visible name of the tab."
        },
        "index": {
          "format": "int32",
          "description": "The zero-based index of the tab within the parent.",
          "type": "integer"
        },
        "tabId": {
          "type": "string",
          "description": "The immutable ID of the tab."
        },
        "iconEmoji": {
          "description": "Optional. The emoji icon displayed with the tab. A valid emoji icon is represented by a non-empty Unicode string. Any set of characters that don't represent a single emoji is invalid. If an emoji is invalid, a 400 bad request error is returned. If this value is unset or empty, the tab will display the default tab icon.",
          "type": "string"
        },
        "parentTabId": {
          "description": "Optional. The ID of the parent tab. Empty when the current tab is a root-level tab, which means it doesn't have any parents.",
          "type": "string"
        },
        "nestingLevel": {
          "description": "Output only. The depth of the tab within the document. Root-level tabs start at 0.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Properties of a tab."
    },
    "SectionStyle": {
      "id": "SectionStyle",
      "description": "The styling that applies to a section.",
      "type": "object",
      "properties": {
        "marginBottom": {
          "$ref": "Dimension",
          "description": "The bottom page margin of the section. If unset, the value defaults to margin_bottom from DocumentStyle. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        },
        "columnProperties": {
          "type": "array",
          "items": {
            "$ref": "SectionColumnProperties"
          },
          "description": "The section's columns properties. If empty, the section contains one column with the default properties in the Docs editor. A section can be updated to have no more than 3 columns. When updating this property, setting a concrete value is required. Unsetting this property will result in a 400 bad request error."
        },
        "marginRight": {
          "$ref": "Dimension",
          "description": "The right page margin of the section. If unset, the value defaults to margin_right from DocumentStyle. Updating the right margin causes columns in this section to resize. Since the margin affects column width, it's applied before column properties. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        },
        "columnSeparatorStyle": {
          "enumDescriptions": [
            "An unspecified column separator style.",
            "No column separator lines between columns.",
            "Renders a column separator line between each column."
          ],
          "enum": [
            "COLUMN_SEPARATOR_STYLE_UNSPECIFIED",
            "NONE",
            "BETWEEN_EACH_COLUMN"
          ],
          "type": "string",
          "description": "The style of column separators. This style can be set even when there's one column in the section. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        },
        "marginFooter": {
          "description": "The footer margin of the section. If unset, the value defaults to margin_footer from DocumentStyle. If updated, use_custom_header_footer_margins is set to true on DocumentStyle. The value of use_custom_header_footer_margins on DocumentStyle indicates if a footer margin is being respected for this section If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "$ref": "Dimension"
        },
        "pageNumberStart": {
          "type": "integer",
          "description": "The page number from which to start counting the number of pages for this section. If unset, page numbering continues from the previous section. If the value is unset in the first SectionBreak, refer to DocumentStyle's page_number_start. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "format": "int32"
        },
        "evenPageHeaderId": {
          "type": "string",
          "description": "The ID of the header used only for even pages. If the value of DocumentStyle's use_even_page_header_footer is true, this value is used for the headers on even pages in the section. If it is false, the headers on even pages use the default_header_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's even_page_header_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        },
        "marginLeft": {
          "description": "The left page margin of the section. If unset, the value defaults to margin_left from DocumentStyle. Updating the left margin causes columns in this section to resize. Since the margin affects column width, it's applied before column properties. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "$ref": "Dimension"
        },
        "defaultFooterId": {
          "description": "The ID of the default footer. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's default_footer_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "string"
        },
        "marginHeader": {
          "description": "The header margin of the section. If unset, the value defaults to margin_header from DocumentStyle. If updated, use_custom_header_footer_margins is set to true on DocumentStyle. The value of use_custom_header_footer_margins on DocumentStyle indicates if a header margin is being respected for this section. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "$ref": "Dimension"
        },
        "firstPageFooterId": {
          "type": "string",
          "description": "The ID of the footer used only for the first page of the section. If use_first_page_header_footer is true, this value is used for the footer on the first page of the section. If it's false, the footer on the first page of the section uses the default_footer_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's first_page_footer_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        },
        "contentDirection": {
          "description": "The content direction of this section. If unset, the value defaults to LEFT_TO_RIGHT. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "enum": [
            "CONTENT_DIRECTION_UNSPECIFIED",
            "LEFT_TO_RIGHT",
            "RIGHT_TO_LEFT"
          ],
          "type": "string",
          "enumDescriptions": [
            "The content direction is unspecified.",
            "The content goes from left to right.",
            "The content goes from right to left."
          ]
        },
        "flipPageOrientation": {
          "type": "boolean",
          "description": "Optional. Indicates whether to flip the dimensions of DocumentStyle's page_size for this section, which allows changing the page orientation between portrait and landscape. If unset, the value inherits from DocumentStyle's flip_page_orientation. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        },
        "sectionType": {
          "enumDescriptions": [
            "The section type is unspecified.",
            "The section starts immediately after the last paragraph of the previous section.",
            "The section starts on the next page."
          ],
          "type": "string",
          "description": "Output only. The type of section.",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "CONTINUOUS",
            "NEXT_PAGE"
          ]
        },
        "evenPageFooterId": {
          "type": "string",
          "description": "The ID of the footer used only for even pages. If the value of DocumentStyle's use_even_page_header_footer is true, this value is used for the footers on even pages in the section. If it is false, the footers on even pages use the default_footer_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's even_page_footer_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        },
        "marginTop": {
          "description": "The top page margin of the section. If unset, the value defaults to margin_top from DocumentStyle. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "$ref": "Dimension"
        },
        "defaultHeaderId": {
          "description": "The ID of the default header. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's default_header_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "string"
        },
        "firstPageHeaderId": {
          "type": "string",
          "description": "The ID of the header used only for the first page of the section. If use_first_page_header_footer is true, this value is used for the header on the first page of the section. If it's false, the header on the first page of the section uses the default_header_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's first_page_header_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        },
        "useFirstPageHeaderFooter": {
          "type": "boolean",
          "description": "Indicates whether to use the first page header / footer IDs for the first page of the section. If unset, it inherits from DocumentStyle's use_first_page_header_footer for the first section. If the value is unset for subsequent sectors, it should be interpreted as false. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        }
      }
    },
    "Tab": {
      "id": "Tab",
      "properties": {
        "tabProperties": {
          "description": "The properties of the tab, like ID and title.",
          "$ref": "TabProperties"
        },
        "documentTab": {
          "description": "A tab with document contents, like text and images.",
          "$ref": "DocumentTab"
        },
        "childTabs": {
          "items": {
            "$ref": "Tab"
          },
          "description": "The child tabs nested within this tab.",
          "type": "array"
        }
      },
      "description": "A tab in a document.",
      "type": "object"
    },
    "CreateFootnoteRequest": {
      "id": "CreateFootnoteRequest",
      "type": "object",
      "description": "Creates a Footnote segment and inserts a new FootnoteReference to it at the given location. The new Footnote segment will contain a space followed by a newline character.",
      "properties": {
        "endOfSegmentLocation": {
          "description": "Inserts the footnote reference at the end of the document body. Footnote references cannot be inserted inside a header, footer or footnote. Since footnote references can only be inserted in the body, the segment ID field must be empty.",
          "$ref": "EndOfSegmentLocation"
        },
        "location": {
          "$ref": "Location",
          "description": "Inserts the footnote reference at a specific index in the document. The footnote reference must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Footnote references cannot be inserted inside an equation, header, footer or footnote. Since footnote references can only be inserted in the body, the segment ID field must be empty."
        }
      }
    },
    "PositionedObject": {
      "description": "An object that's tethered to a Paragraph and positioned relative to the beginning of the paragraph. A PositionedObject contains an EmbeddedObject such as an image.",
      "properties": {
        "suggestedInsertionId": {
          "description": "The suggested insertion ID. If empty, then this is not a suggested insertion.",
          "type": "string"
        },
        "suggestedPositionedObjectPropertiesChanges": {
          "description": "The suggested changes to the positioned object properties, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedPositionedObjectProperties"
          },
          "type": "object"
        },
        "objectId": {
          "description": "The ID of this positioned object.",
          "type": "string"
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        },
        "positionedObjectProperties": {
          "description": "The properties of this positioned object.",
          "$ref": "PositionedObjectProperties"
        }
      },
      "id": "PositionedObject",
      "type": "object"
    },
    "DocumentFormat": {
      "description": "Represents document-level format settings.",
      "properties": {
        "documentMode": {
          "type": "string",
          "description": "Whether the document has pages or is pageless.",
          "enumDescriptions": [
            "The document mode is unspecified.",
            "The document has pages.",
            "The document is pageless."
          ],
          "enum": [
            "DOCUMENT_MODE_UNSPECIFIED",
            "PAGES",
            "PAGELESS"
          ]
        }
      },
      "id": "DocumentFormat",
      "type": "object"
    },
    "NamedStylesSuggestionState": {
      "properties": {
        "stylesSuggestionStates": {
          "type": "array",
          "items": {
            "$ref": "NamedStyleSuggestionState"
          },
          "description": "A mask that indicates which of the fields on the corresponding NamedStyle in styles have been changed in this suggestion. The order of these named style suggestion states matches the order of the corresponding named style within the named styles suggestion."
        }
      },
      "type": "object",
      "description": "The suggestion state of a NamedStyles message.",
      "id": "NamedStylesSuggestionState"
    },
    "BatchUpdateDocumentRequest": {
      "type": "object",
      "id": "BatchUpdateDocumentRequest",
      "properties": {
        "requests": {
          "description": "A list of updates to apply to the document.",
          "items": {
            "$ref": "Request"
          },
          "type": "array"
        },
        "writeControl": {
          "description": "Provides control over how write requests are executed.",
          "$ref": "WriteControl"
        }
      },
      "description": "Request message for BatchUpdateDocument."
    },
    "SizeSuggestionState": {
      "description": "A mask that indicates which of the fields on the base Size have been changed in this suggestion. For any field set to true, the Size has a new suggested value.",
      "id": "SizeSuggestionState",
      "properties": {
        "heightSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to height."
        },
        "widthSuggested": {
          "description": "Indicates if there was a suggested change to width.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "RichLinkProperties": {
      "properties": {
        "mimeType": {
          "description": "The [MIME type](https://developers.google.com/drive/api/v3/mime-types) of the RichLink, if there's one (for example, when it's a file in Drive).",
          "type": "string"
        },
        "title": {
          "description": "The title of the RichLink as displayed in the link. This title matches the title of the linked resource at the time of the insertion or last update of the link. This field is always present.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "The URI to the RichLink. This is always present."
        }
      },
      "description": "Properties specific to a RichLink.",
      "id": "RichLinkProperties",
      "type": "object"
    },
    "NestingLevel": {
      "type": "object",
      "description": "Contains properties describing the look and feel of a list bullet at a given level of nesting.",
      "properties": {
        "glyphSymbol": {
          "type": "string",
          "description": "A custom glyph symbol used by bullets when paragraphs at this level of nesting is unordered. The glyph symbol replaces placeholders within the glyph_format. For example, if the glyph_symbol is the solid circle corresponding to Unicode U+25cf code point and the glyph_format is `%0`, the rendered glyph would be the solid circle."
        },
        "glyphType": {
          "type": "string",
          "enumDescriptions": [
            "The glyph type is unspecified or unsupported.",
            "An empty string.",
            "A number, like `1`, `2`, or `3`.",
            "A number where single digit numbers are prefixed with a zero, like `01`, `02`, or `03`. Numbers with more than one digit are not prefixed with a zero.",
            "An uppercase letter, like `A`, `B`, or `C`.",
            "A lowercase letter, like `a`, `b`, or `c`.",
            "An uppercase Roman numeral, like `I`, `II`, or `III`.",
            "A lowercase Roman numeral, like `i`, `ii`, or `iii`."
          ],
          "enum": [
            "GLYPH_TYPE_UNSPECIFIED",
            "NONE",
            "DECIMAL",
            "ZERO_DECIMAL",
            "UPPER_ALPHA",
            "ALPHA",
            "UPPER_ROMAN",
            "ROMAN"
          ],
          "description": "The type of glyph used by bullets when paragraphs at this level of nesting is ordered. The glyph type determines the type of glyph used to replace placeholders within the glyph_format when paragraphs at this level of nesting are ordered. For example, if the nesting level is 0, the glyph_format is `%0.` and the glyph type is DECIMAL, then the rendered glyph would replace the placeholder `%0` in the glyph format with a number corresponding to the list item's order within the list."
        },
        "startNumber": {
          "format": "int32",
          "description": "The number of the first list item at this nesting level. A value of 0 is treated as a value of 1 for lettered lists and Roman numeral lists. For values of both 0 and 1, lettered and Roman numeral lists will begin at `a` and `i` respectively. This value is ignored for nesting levels with unordered glyphs.",
          "type": "integer"
        },
        "bulletAlignment": {
          "description": "The alignment of the bullet within the space allotted for rendering the bullet.",
          "enum": [
            "BULLET_ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END"
          ],
          "enumDescriptions": [
[...]
