{
  "canonicalName": "Docs",
  "mtlsRootUrl": "https://docs.mtls.googleapis.com/",
  "revision": "20260904",
  "rootUrl": "https://docs.googleapis.com/",
  "discoveryVersion": "v1",
  "id": "docs:v1",
  "ownerName": "Google",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/documents.readonly": {
          "description": "See all your Google Docs documents"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/documents": {
          "description": "See, edit, create, and delete all your Google Docs documents"
        }
      }
    }
  },
  "version": "v1",
  "description": "Reads and writes Google Docs documents.",
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "version_module": true,
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "schemas": {
    "Tab": {
      "type": "object",
      "description": "A tab in a document.",
      "id": "Tab",
      "properties": {
        "childTabs": {
          "description": "The child tabs nested within this tab.",
          "type": "array",
          "items": {
            "$ref": "Tab"
          }
        },
        "tabProperties": {
          "$ref": "TabProperties",
          "description": "The properties of the tab, like ID and title."
        },
        "documentTab": {
          "$ref": "DocumentTab",
          "description": "A tab with document contents, like text and images."
        }
      }
    },
    "SectionColumnProperties": {
      "properties": {
        "width": {
          "description": "Output only. The width of the column.",
          "$ref": "Dimension"
        },
        "paddingEnd": {
          "description": "The padding at the end of the column.",
          "$ref": "Dimension"
        }
      },
      "id": "SectionColumnProperties",
      "type": "object",
      "description": "Properties that apply to a section's column."
    },
    "Footnote": {
      "type": "object",
      "description": "A document footnote.",
      "properties": {
        "footnoteId": {
          "type": "string",
          "description": "The ID of the footnote."
        },
        "content": {
          "items": {
            "$ref": "StructuralElement"
          },
          "description": "The contents of the footnote. The indexes for a footnote's content begin at zero.",
          "type": "array"
        }
      },
      "id": "Footnote"
    },
    "TableCell": {
      "id": "TableCell",
      "type": "object",
      "properties": {
        "tableCellStyle": {
          "description": "The style of the cell.",
          "$ref": "TableCellStyle"
        },
        "suggestedTableCellStyleChanges": {
          "description": "The suggested changes to the table cell style, keyed by suggestion ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTableCellStyle"
          }
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The zero-based start index of this cell, in UTF-16 code units."
        },
        "endIndex": {
          "type": "integer",
          "description": "The zero-based end index of this cell, exclusive, in UTF-16 code units.",
          "format": "int32"
        },
        "suggestedDeletionIds": {
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content.",
          "items": {
            "type": "string"
          }
        },
        "content": {
          "type": "array",
          "description": "The content of the cell.",
          "items": {
            "$ref": "StructuralElement"
          }
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. A TableCell may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The contents and style of a cell in a Table."
    },
    "RgbColor": {
      "type": "object",
      "properties": {
        "red": {
          "type": "number",
          "format": "float",
          "description": "The red component of the color, from 0.0 to 1.0."
        },
        "blue": {
          "format": "float",
          "description": "The blue component of the color, from 0.0 to 1.0.",
          "type": "number"
        },
        "green": {
          "format": "float",
          "type": "number",
          "description": "The green component of the color, from 0.0 to 1.0."
        }
      },
      "description": "An RGB color.",
      "id": "RgbColor"
    },
    "NamedRanges": {
      "id": "NamedRanges",
      "properties": {
        "namedRanges": {
          "items": {
            "$ref": "NamedRange"
          },
          "type": "array",
          "description": "The NamedRanges that share the same name."
        },
        "name": {
          "description": "The name that all the named ranges share.",
          "type": "string"
        }
      },
      "description": "A collection of all the NamedRanges in the document that share a given name.",
      "type": "object"
    },
    "TableStyle": {
      "type": "object",
      "properties": {
        "tableColumnProperties": {
          "items": {
            "$ref": "TableColumnProperties"
          },
          "description": "The properties of each column. Note that in Docs, tables contain rows and rows contain cells, similar to HTML. So the properties for a row can be found on the row's table_row_style.",
          "type": "array"
        }
      },
      "description": "Styles that apply to a table.",
      "id": "TableStyle"
    },
    "TableColumnProperties": {
      "type": "object",
      "id": "TableColumnProperties",
      "properties": {
        "width": {
          "description": "The width of the column. Set when the column's `width_type` is FIXED_WIDTH.",
          "$ref": "Dimension"
        },
        "widthType": {
          "enum": [
            "WIDTH_TYPE_UNSPECIFIED",
            "EVENLY_DISTRIBUTED",
            "FIXED_WIDTH"
          ],
          "type": "string",
          "enumDescriptions": [
            "The column width type is unspecified.",
            "The column width is evenly distributed among the other evenly distributed columns. The width of the column is automatically determined and will have an equal portion of the width remaining for the table after accounting for all columns with specified widths.",
            "A fixed column width. The width property contains the column's width."
          ],
          "description": "The width type of the column."
        }
      },
      "description": "The properties of a column in a table."
    },
    "TabProperties": {
      "id": "TabProperties",
      "type": "object",
      "description": "Properties of a tab.",
      "properties": {
        "iconEmoji": {
          "description": "Optional. The emoji icon displayed with the tab. A valid emoji icon is represented by a non-empty Unicode string. Any set of characters that don't represent a single emoji is invalid. If an emoji is invalid, a 400 bad request error is returned. If this value is unset or empty, the tab will display the default tab icon.",
          "type": "string"
        },
        "nestingLevel": {
          "description": "Output only. The depth of the tab within the document. Root-level tabs start at 0.",
          "type": "integer",
          "format": "int32"
        },
        "parentTabId": {
          "description": "Optional. The ID of the parent tab. Empty when the current tab is a root-level tab, which means it doesn't have any parents.",
          "type": "string"
        },
        "tabId": {
          "type": "string",
          "description": "The immutable ID of the tab."
        },
        "index": {
          "type": "integer",
          "format": "int32",
          "description": "The zero-based index of the tab within the parent."
        },
        "title": {
          "description": "The user-visible name of the tab.",
          "type": "string"
        }
      }
    },
    "InsertPageBreakRequest": {
      "id": "InsertPageBreakRequest",
      "type": "object",
      "description": "Inserts a page break followed by a newline at the specified location.",
      "properties": {
        "location": {
          "$ref": "Location",
          "description": "Inserts the page break at a specific index in the document. The page break must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Page breaks cannot be inserted inside a table, equation, footnote, header or footer. Since page breaks can only be inserted inside the body, the segment ID field must be empty."
        },
        "endOfSegmentLocation": {
          "description": "Inserts the page break at the end of the document body. Page breaks cannot be inserted inside a footnote, header or footer. Since page breaks can only be inserted inside the body, the segment ID field must be empty.",
          "$ref": "EndOfSegmentLocation"
        }
      }
    },
    "Request": {
      "properties": {
        "replaceNamedRangeContent": {
          "$ref": "ReplaceNamedRangeContentRequest",
          "description": "Replaces the content in a named range."
        },
        "replaceImage": {
          "description": "Replaces an image in the document.",
          "$ref": "ReplaceImageRequest"
        },
        "deleteNamedRange": {
          "$ref": "DeleteNamedRangeRequest",
          "description": "Deletes a named range."
        },
        "createFootnote": {
          "$ref": "CreateFootnoteRequest",
          "description": "Creates a footnote."
        },
        "updateSectionStyle": {
          "$ref": "UpdateSectionStyleRequest",
          "description": "Updates the section style of the specified range."
        },
        "insertInlineImage": {
          "$ref": "InsertInlineImageRequest",
          "description": "Inserts an inline image at the specified location."
        },
        "createNamedRange": {
          "description": "Creates a named range.",
          "$ref": "CreateNamedRangeRequest"
        },
        "updateParagraphStyle": {
          "$ref": "UpdateParagraphStyleRequest",
          "description": "Updates the paragraph style at the specified range."
        },
        "deleteFooter": {
          "description": "Deletes a footer from the document.",
          "$ref": "DeleteFooterRequest"
        },
        "pinTableHeaderRows": {
          "description": "Updates the number of pinned header rows in a table.",
          "$ref": "PinTableHeaderRowsRequest"
        },
        "mergeTableCells": {
          "$ref": "MergeTableCellsRequest",
          "description": "Merges cells in a table."
        },
        "updateTextStyle": {
          "description": "Updates the text style at the specified range.",
          "$ref": "UpdateTextStyleRequest"
        },
        "deleteParagraphBullets": {
          "$ref": "DeleteParagraphBulletsRequest",
          "description": "Deletes bullets from paragraphs."
        },
        "updateDocumentTabProperties": {
          "$ref": "UpdateDocumentTabPropertiesRequest",
          "description": "Updates the properties of a document tab."
        },
        "deleteContentRange": {
          "description": "Deletes content from the document.",
          "$ref": "DeleteContentRangeRequest"
        },
        "insertPageBreak": {
          "$ref": "InsertPageBreakRequest",
          "description": "Inserts a page break at the specified location."
        },
        "insertRichLink": {
          "description": "Insert a rich link.",
          "$ref": "InsertRichLinkRequest"
        },
        "createParagraphBullets": {
          "$ref": "CreateParagraphBulletsRequest",
          "description": "Creates bullets for paragraphs."
        },
        "insertPerson": {
          "description": "Inserts a person mention.",
          "$ref": "InsertPersonRequest"
        },
        "createHeader": {
          "$ref": "CreateHeaderRequest",
          "description": "Creates a header."
        },
        "insertTableColumn": {
          "$ref": "InsertTableColumnRequest",
          "description": "Inserts an empty column into a table."
        },
        "updateTableRowStyle": {
          "$ref": "UpdateTableRowStyleRequest",
          "description": "Updates the row style in a table."
        },
        "insertTable": {
          "$ref": "InsertTableRequest",
          "description": "Inserts a table at the specified location."
        },
        "replaceAllText": {
          "description": "Replaces all instances of the specified text.",
          "$ref": "ReplaceAllTextRequest"
        },
        "insertText": {
          "$ref": "InsertTextRequest",
          "description": "Inserts text at the specified location."
        },
        "insertDate": {
          "description": "Inserts a date.",
          "$ref": "InsertDateRequest"
        },
        "deleteTableRow": {
          "description": "Deletes a row from a table.",
          "$ref": "DeleteTableRowRequest"
        },
        "updateTableCellStyle": {
          "description": "Updates the style of table cells.",
          "$ref": "UpdateTableCellStyleRequest"
        },
        "deleteHeader": {
          "description": "Deletes a header from the document.",
          "$ref": "DeleteHeaderRequest"
        },
        "createFooter": {
          "description": "Creates a footer.",
          "$ref": "CreateFooterRequest"
        },
        "deleteTableColumn": {
          "description": "Deletes a column from a table.",
          "$ref": "DeleteTableColumnRequest"
        },
        "unmergeTableCells": {
          "$ref": "UnmergeTableCellsRequest",
          "description": "Unmerges cells in a table."
        },
        "insertTableRow": {
          "description": "Inserts an empty row into a table.",
          "$ref": "InsertTableRowRequest"
        },
        "updateNamedStyle": {
          "description": "Updates a named style.",
          "$ref": "UpdateNamedStyleRequest"
        },
        "addDocumentTab": {
          "description": "Adds a document tab.",
          "$ref": "AddDocumentTabRequest"
        },
        "updateTableColumnProperties": {
          "description": "Updates the properties of columns in a table.",
          "$ref": "UpdateTableColumnPropertiesRequest"
        },
        "insertSectionBreak": {
          "$ref": "InsertSectionBreakRequest",
          "description": "Inserts a section break at the specified location."
        },
        "deleteTab": {
          "$ref": "DeleteTabRequest",
          "description": "Deletes a document tab."
        },
        "deletePositionedObject": {
          "$ref": "DeletePositionedObjectRequest",
          "description": "Deletes a positioned object from the document."
        },
        "updateDocumentStyle": {
          "description": "Updates the style of the document.",
          "$ref": "UpdateDocumentStyleRequest"
        }
      },
      "id": "Request",
      "type": "object",
      "description": "A single update to apply to a document."
    },
    "EmbeddedObjectBorderSuggestionState": {
      "description": "A mask that indicates which of the fields on the base EmbeddedObjectBorder have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "colorSuggested": {
          "description": "Indicates if there was a suggested change to color.",
          "type": "boolean"
        },
        "widthSuggested": {
          "description": "Indicates if there was a suggested change to width.",
          "type": "boolean"
        },
        "propertyStateSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to property_state."
        },
        "dashStyleSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to dash_style."
        }
      },
      "type": "object",
      "id": "EmbeddedObjectBorderSuggestionState"
    },
    "CreateHeaderRequest": {
      "type": "object",
      "id": "CreateHeaderRequest",
      "properties": {
        "sectionBreakLocation": {
          "$ref": "Location",
          "description": "The location of the SectionBreak which begins the section this header should belong to. If `section_break_location' is unset or if it refers to the first section break in the document body, the header applies to the DocumentStyle"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "The header/footer type is unspecified.",
            "A default header/footer."
          ],
          "enum": [
            "HEADER_FOOTER_TYPE_UNSPECIFIED",
            "DEFAULT"
          ],
          "description": "The type of header to create."
        }
      },
      "description": "Creates a Header. The new header is applied to the SectionStyle at the location of the SectionBreak if specified, otherwise it is applied to the DocumentStyle. If a header of the specified type already exists, a 400 bad request error is returned."
    },
    "InsertInlineSheetsChartResponse": {
      "description": "The result of inserting an embedded Google Sheets chart.",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The object ID of the inserted chart."
        }
      },
      "type": "object",
      "id": "InsertInlineSheetsChartResponse"
    },
    "Bullet": {
      "id": "Bullet",
      "description": "Describes the bullet of a paragraph.",
      "properties": {
        "textStyle": {
          "description": "The paragraph-specific text style applied to this bullet.",
          "$ref": "TextStyle"
        },
        "listId": {
          "type": "string",
          "description": "The ID of the list this paragraph belongs to."
        },
        "nestingLevel": {
          "type": "integer",
          "format": "int32",
          "description": "The nesting level of this paragraph in the list."
        }
      },
      "type": "object"
    },
    "ParagraphStyleSuggestionState": {
      "type": "object",
      "description": "A mask that indicates which of the fields on the base ParagraphStyle have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "borderRightSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to border_right."
        },
        "indentStartSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to indent_start."
        },
        "namedStyleTypeSuggested": {
          "description": "Indicates if there was a suggested change to named_style_type.",
          "type": "boolean"
        },
        "avoidWidowAndOrphanSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to avoid_widow_and_orphan."
        },
        "lineSpacingSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to line_spacing."
        },
        "borderBottomSuggested": {
          "description": "Indicates if there was a suggested change to border_bottom.",
          "type": "boolean"
        },
        "borderTopSuggested": {
          "description": "Indicates if there was a suggested change to border_top.",
          "type": "boolean"
        },
        "spaceBelowSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to space_below."
        },
        "indentFirstLineSuggested": {
          "description": "Indicates if there was a suggested change to indent_first_line.",
          "type": "boolean"
        },
        "borderBetweenSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to border_between."
        },
        "shadingSuggestionState": {
          "description": "A mask that indicates which of the fields in shading have been changed in this suggestion.",
          "$ref": "ShadingSuggestionState"
        },
        "directionSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to direction."
        },
        "spaceAboveSuggested": {
          "description": "Indicates if there was a suggested change to space_above.",
          "type": "boolean"
        },
        "pageBreakBeforeSuggested": {
          "description": "Indicates if there was a suggested change to page_break_before.",
          "type": "boolean"
        },
        "keepWithNextSuggested": {
          "description": "Indicates if there was a suggested change to keep_with_next.",
          "type": "boolean"
        },
        "headingIdSuggested": {
          "description": "Indicates if there was a suggested change to heading_id.",
          "type": "boolean"
        },
        "keepLinesTogetherSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to keep_lines_together."
        },
        "spacingModeSuggested": {
          "description": "Indicates if there was a suggested change to spacing_mode.",
          "type": "boolean"
        },
        "borderLeftSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to border_left."
        },
        "indentEndSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to indent_end."
        },
        "alignmentSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to alignment."
        }
      },
      "id": "ParagraphStyleSuggestionState"
    },
    "Color": {
      "description": "A solid color.",
      "id": "Color",
      "type": "object",
      "properties": {
        "rgbColor": {
          "$ref": "RgbColor",
          "description": "The RGB color value."
        }
      }
    },
    "TableCellStyleSuggestionState": {
      "type": "object",
      "id": "TableCellStyleSuggestionState",
      "properties": {
        "columnSpanSuggested": {
          "description": "Indicates if there was a suggested change to column_span.",
          "type": "boolean"
        },
        "borderLeftSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to border_left."
        },
        "backgroundColorSuggested": {
          "description": "Indicates if there was a suggested change to background_color.",
          "type": "boolean"
        },
        "borderTopSuggested": {
          "description": "Indicates if there was a suggested change to border_top.",
          "type": "boolean"
        },
        "borderBottomSuggested": {
          "description": "Indicates if there was a suggested change to border_bottom.",
          "type": "boolean"
        },
        "borderRightSuggested": {
          "description": "Indicates if there was a suggested change to border_right.",
          "type": "boolean"
        },
        "rowSpanSuggested": {
          "description": "Indicates if there was a suggested change to row_span.",
          "type": "boolean"
        },
        "paddingRightSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to padding_right."
        },
        "contentAlignmentSuggested": {
          "description": "Indicates if there was a suggested change to content_alignment.",
          "type": "boolean"
        },
        "paddingLeftSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to padding_left."
        },
        "paddingBottomSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to padding_bottom."
        },
        "paddingTopSuggested": {
          "description": "Indicates if there was a suggested change to padding_top.",
          "type": "boolean"
        }
      },
      "description": "A mask that indicates which of the fields on the base TableCellStyle have been changed in this suggestion. For any field set to true, there's a new suggested value."
    },
    "InsertTableRowRequest": {
      "type": "object",
      "properties": {
        "insertBelow": {
          "description": "Whether to insert new row below the reference cell location. - `True`: insert below the cell. - `False`: insert above the cell.",
          "type": "boolean"
        },
        "tableCellLocation": {
          "$ref": "TableCellLocation",
          "description": "The reference table cell location from which rows will be inserted. A new row will be inserted above (or below) the row where the reference cell is. If the reference cell is a merged cell, a new row will be inserted above (or below) the merged cell."
        }
      },
      "description": "Inserts an empty row into a table.",
      "id": "InsertTableRowRequest"
    },
    "CreateNamedRangeRequest": {
      "type": "object",
      "description": "Creates a NamedRange referencing the given range.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the NamedRange. Names do not need to be unique. Names must be at least 1 character and no more than 256 characters, measured in UTF-16 code units."
        },
        "range": {
          "$ref": "Range",
          "description": "The range to apply the name to."
        }
      },
      "id": "CreateNamedRangeRequest"
    },
    "CreateFooterResponse": {
      "type": "object",
      "id": "CreateFooterResponse",
      "properties": {
        "footerId": {
          "description": "The ID of the created footer.",
          "type": "string"
        }
      },
      "description": "The result of creating a footer."
    },
    "BatchUpdateDocumentRequest": {
      "description": "Request message for BatchUpdateDocument.",
      "properties": {
        "requests": {
          "items": {
            "$ref": "Request"
          },
          "type": "array",
          "description": "A list of updates to apply to the document."
        },
        "writeControl": {
          "description": "Provides control over how write requests are executed.",
          "$ref": "WriteControl"
        }
      },
      "id": "BatchUpdateDocumentRequest",
      "type": "object"
    },
    "NestingLevelSuggestionState": {
      "properties": {
        "glyphSymbolSuggested": {
          "description": "Indicates if there was a suggested change to glyph_symbol.",
          "type": "boolean"
        },
        "indentStartSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to indent_start."
        },
        "startNumberSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to start_number."
        },
        "bulletAlignmentSuggested": {
          "description": "Indicates if there was a suggested change to bullet_alignment.",
          "type": "boolean"
        },
        "glyphFormatSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to glyph_format."
        },
        "glyphTypeSuggested": {
          "description": "Indicates if there was a suggested change to glyph_type.",
          "type": "boolean"
        },
        "indentFirstLineSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to indent_first_line."
        },
        "textStyleSuggestionState": {
          "$ref": "TextStyleSuggestionState",
          "description": "A mask that indicates which of the fields in text style have been changed in this suggestion."
        }
      },
      "description": "A mask that indicates which of the fields on the base NestingLevel have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "id": "NestingLevelSuggestionState",
      "type": "object"
    },
    "InsertTableColumnRequest": {
      "type": "object",
      "properties": {
        "tableCellLocation": {
          "description": "The reference table cell location from which columns will be inserted. A new column will be inserted to the left (or right) of the column where the reference cell is. If the reference cell is a merged cell, a new column will be inserted to the left (or right) of the merged cell.",
          "$ref": "TableCellLocation"
        },
        "insertRight": {
          "description": "Whether to insert new column to the right of the reference cell location. - `True`: insert to the right. - `False`: insert to the left.",
          "type": "boolean"
        }
      },
      "description": "Inserts an empty column into a table.",
      "id": "InsertTableColumnRequest"
    },
    "BulletSuggestionState": {
      "description": "A mask that indicates which of the fields on the base Bullet have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "type": "object",
      "id": "BulletSuggestionState",
      "properties": {
        "nestingLevelSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to the nesting_level."
        },
        "textStyleSuggestionState": {
          "$ref": "TextStyleSuggestionState",
          "description": "A mask that indicates which of the fields in text style have been changed in this suggestion."
        },
        "listIdSuggested": {
          "description": "Indicates if there was a suggested change to the list_id.",
          "type": "boolean"
        }
      }
    },
    "UpdateTableCellStyleRequest": {
      "type": "object",
      "properties": {
        "tableStartLocation": {
          "description": "The location where the table starts in the document. When specified, the updates are applied to all the cells in the table.",
          "$ref": "Location"
        },
        "fields": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `tableCellStyle` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the table cell background color, set `fields` to `\"backgroundColor\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset."
        },
        "tableCellStyle": {
          "description": "The style to set on the table cells. When updating borders, if a cell shares a border with an adjacent cell, the corresponding border property of the adjacent cell is updated as well. Borders that are merged and invisible are not updated. Since updating a border shared by adjacent cells in the same request can cause conflicting border updates, border updates are applied in the following order: - `border_right` - `border_left` - `border_bottom` - `border_top`",
          "$ref": "TableCellStyle"
        },
        "tableRange": {
          "$ref": "TableRange",
          "description": "The table range representing the subset of the table to which the updates are applied."
        }
      },
      "id": "UpdateTableCellStyleRequest",
      "description": "Updates the style of a range of table cells."
    },
    "SuggestedNamedStyles": {
      "properties": {
        "namedStyles": {
          "description": "A NamedStyles that only includes the changes made in this suggestion. This can be used along with the named_styles_suggestion_state to see which fields have changed and their new values.",
          "$ref": "NamedStyles"
        },
        "namedStylesSuggestionState": {
          "$ref": "NamedStylesSuggestionState",
          "description": "A mask that indicates which of the fields on the base NamedStyles have been changed in this suggestion."
        }
      },
      "id": "SuggestedNamedStyles",
      "description": "A suggested change to the NamedStyles.",
      "type": "object"
    },
    "InsertDateRequest": {
      "properties": {
        "endOfSegmentLocation": {
          "description": "Inserts the date at the end of the given header, footer or document body.",
          "$ref": "EndOfSegmentLocation"
        },
        "dateElementProperties": {
          "$ref": "DateElementProperties",
          "description": "The properties of the date to insert."
        },
        "location": {
          "$ref": "Location",
          "description": "Inserts the date at a specific index in the document. The date must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between an existing table and its preceding paragraph)."
        }
      },
      "id": "InsertDateRequest",
      "description": "Inserts a date at the specified location.",
      "type": "object"
    },
    "UpdateDocumentTabPropertiesRequest": {
      "description": "Update the properties of a document tab.",
      "properties": {
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `tab_properties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "tabProperties": {
          "$ref": "TabProperties",
          "description": "The tab properties to update."
        }
      },
      "id": "UpdateDocumentTabPropertiesRequest",
      "type": "object"
    },
    "InsertInlineImageResponse": {
      "id": "InsertInlineImageResponse",
      "description": "The result of inserting an inline image.",
      "properties": {
        "objectId": {
          "description": "The ID of the created InlineObject.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Footer": {
      "id": "Footer",
      "type": "object",
      "description": "A document footer.",
      "properties": {
        "content": {
          "type": "array",
          "description": "The contents of the footer. The indexes for a footer's content begin at zero.",
          "items": {
            "$ref": "StructuralElement"
          }
        },
        "footerId": {
          "type": "string",
          "description": "The ID of the footer."
        }
      }
    },
    "DeleteParagraphBulletsRequest": {
      "description": "Deletes bullets from all of the paragraphs that overlap with the given range. The nesting level of each paragraph will be visually preserved by adding indent to the start of the corresponding paragraph.",
      "type": "object",
      "id": "DeleteParagraphBulletsRequest",
      "properties": {
        "range": {
          "description": "The range to delete bullets from.",
          "$ref": "Range"
        }
      }
    },
    "CreateFootnoteRequest": {
      "id": "CreateFootnoteRequest",
      "type": "object",
      "properties": {
        "location": {
          "$ref": "Location",
          "description": "Inserts the footnote reference at a specific index in the document. The footnote reference must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Footnote references cannot be inserted inside an equation, header, footer or footnote. Since footnote references can only be inserted in the body, the segment ID field must be empty."
        },
        "endOfSegmentLocation": {
          "description": "Inserts the footnote reference at the end of the document body. Footnote references cannot be inserted inside a header, footer or footnote. Since footnote references can only be inserted in the body, the segment ID field must be empty.",
          "$ref": "EndOfSegmentLocation"
        }
      },
      "description": "Creates a Footnote segment and inserts a new FootnoteReference to it at the given location. The new Footnote segment will contain a space followed by a newline character."
    },
    "FootnoteReference": {
      "type": "object",
      "id": "FootnoteReference",
      "properties": {
        "footnoteId": {
          "type": "string",
          "description": "The ID of the footnote that contains the content of this footnote reference."
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        },
        "footnoteNumber": {
          "description": "The rendered number of this footnote.",
          "type": "string"
        },
        "suggestedTextStyleChanges": {
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "description": "The suggested text style changes to this FootnoteReference, keyed by suggestion ID.",
          "type": "object"
        },
        "suggestedInsertionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The suggested insertion IDs. A FootnoteReference may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion."
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of this FootnoteReference."
        }
      },
      "description": "A ParagraphElement representing a footnote reference. A footnote reference is the inline content rendered with a number and is used to identify the footnote."
    },
    "NamedRange": {
      "id": "NamedRange",
      "properties": {
        "namedRangeId": {
          "description": "The ID of the named range.",
          "type": "string"
        },
        "ranges": {
          "type": "array",
          "items": {
            "$ref": "Range"
          },
          "description": "The ranges that belong to this named range."
        },
        "name": {
          "description": "The name of the named range.",
          "type": "string"
        }
      },
      "description": "A collection of Ranges with the same named range ID. Named ranges allow developers to associate parts of a document with an arbitrary user-defined label so their contents can be programmatically read or edited later. A document can contain multiple named ranges with the same name, but every named range has a unique ID. A named range is created with a single Range, and content inserted inside a named range generally expands that range. However, certain document changes can cause the range to be split into multiple ranges. Named ranges are not private. All applications and collaborators that have access to the document can see its named ranges.",
      "type": "object"
    },
    "Body": {
      "description": "The document body. The body typically contains the full document contents except for headers, footers, and footnotes.",
      "properties": {
        "content": {
          "type": "array",
          "description": "The contents of the body. The indexes for the body's content begin at zero.",
          "items": {
            "$ref": "StructuralElement"
          }
        }
      },
      "type": "object",
      "id": "Body"
    },
    "Response": {
      "properties": {
        "createHeader": {
          "$ref": "CreateHeaderResponse",
          "description": "The result of creating a header."
        },
        "createFootnote": {
          "description": "The result of creating a footnote.",
          "$ref": "CreateFootnoteResponse"
        },
        "addDocumentTab": {
          "description": "The result of adding a document tab.",
          "$ref": "AddDocumentTabResponse"
        },
        "insertInlineImage": {
          "$ref": "InsertInlineImageResponse",
          "description": "The result of inserting an inline image."
        },
        "replaceAllText": {
          "description": "The result of replacing text.",
          "$ref": "ReplaceAllTextResponse"
        },
        "createNamedRange": {
          "description": "The result of creating a named range.",
          "$ref": "CreateNamedRangeResponse"
        },
        "insertInlineSheetsChart": {
          "description": "The result of inserting an inline Google Sheets chart.",
          "$ref": "InsertInlineSheetsChartResponse"
        },
        "createFooter": {
          "$ref": "CreateFooterResponse",
          "description": "The result of creating a footer."
        }
      },
      "description": "A single response from an update.",
      "type": "object",
      "id": "Response"
    },
    "AddDocumentTabRequest": {
      "description": "Adds a document tab. When a tab is added at a given index, all subsequent tabs' indexes are incremented.",
      "properties": {
        "tabProperties": {
          "$ref": "TabProperties",
          "description": "The properties of the tab to add. All properties are optional."
        }
      },
      "type": "object",
      "id": "AddDocumentTabRequest"
    },
    "NestingLevel": {
      "properties": {
        "bulletAlignment": {
          "enum": [
            "BULLET_ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END"
          ],
          "description": "The alignment of the bullet within the space allotted for rendering the bullet.",
          "type": "string",
          "enumDescriptions": [
            "The bullet alignment is unspecified.",
            "The bullet is aligned to the start of the space allotted for rendering the bullet. Left-aligned for LTR text, right-aligned otherwise.",
            "The bullet is aligned to the center of the space allotted for rendering the bullet.",
            "The bullet is aligned to the end of the space allotted for rendering the bullet. Right-aligned for LTR text, left-aligned otherwise."
          ]
        },
        "startNumber": {
          "description": "The number of the first list item at this nesting level. A value of 0 is treated as a value of 1 for lettered lists and Roman numeral lists. For values of both 0 and 1, lettered and Roman numeral lists will begin at `a` and `i` respectively. This value is ignored for nesting levels with unordered glyphs.",
          "type": "integer",
          "format": "int32"
        },
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The text style of bullets at this level of nesting."
        },
        "glyphFormat": {
          "description": "The format string used by bullets at this level of nesting. The glyph format contains one or more placeholders, and these placeholders are replaced with the appropriate values depending on the glyph_type or glyph_symbol. The placeholders follow the pattern `%[nesting_level]`. Furthermore, placeholders can have prefixes and suffixes. Thus, the glyph format follows the pattern `%[nesting_level]`. Note that the prefix and suffix are optional and can be arbitrary strings. For example, the glyph format `%0.` indicates that the rendered glyph will replace the placeholder with the corresponding glyph for nesting level 0 followed by a period as the suffix. So a list with a glyph type of UPPER_ALPHA and glyph format `%0.` at nesting level 0 will result in a list with rendered glyphs `A.` `B.` `C.` The glyph format can contain placeholders for the current nesting level as well as placeholders for parent nesting levels. For example, a list can have a glyph format of `%0.` at nesting level 0 and a glyph format of `%0.%1.` at nesting level 1. Assuming both nesting levels have DECIMAL glyph types, this would result in a list with rendered glyphs `1.` `2.` ` 2.1.` ` 2.2.` `3.` For nesting levels that are ordered, the string that replaces a placeholder in the glyph format for a particular paragraph depends on the paragraph's order within the list.",
          "type": "string"
        },
        "glyphType": {
          "type": "string",
          "enum": [
            "GLYPH_TYPE_UNSPECIFIED",
            "NONE",
            "DECIMAL",
            "ZERO_DECIMAL",
            "UPPER_ALPHA",
            "ALPHA",
            "UPPER_ROMAN",
            "ROMAN"
          ],
          "enumDescriptions": [
            "The glyph type is unspecified or unsupported.",
            "An empty string.",
            "A number, like `1`, `2`, or `3`.",
            "A number where single digit numbers are prefixed with a zero, like `01`, `02`, or `03`. Numbers with more than one digit are not prefixed with a zero.",
            "An uppercase letter, like `A`, `B`, or `C`.",
            "A lowercase letter, like `a`, `b`, or `c`.",
            "An uppercase Roman numeral, like `I`, `II`, or `III`.",
            "A lowercase Roman numeral, like `i`, `ii`, or `iii`."
          ],
          "description": "The type of glyph used by bullets when paragraphs at this level of nesting is ordered. The glyph type determines the type of glyph used to replace placeholders within the glyph_format when paragraphs at this level of nesting are ordered. For example, if the nesting level is 0, the glyph_format is `%0.` and the glyph type is DECIMAL, then the rendered glyph would replace the placeholder `%0` in the glyph format with a number corresponding to the list item's order within the list."
        },
        "glyphSymbol": {
          "type": "string",
          "description": "A custom glyph symbol used by bullets when paragraphs at this level of nesting is unordered. The glyph symbol replaces placeholders within the glyph_format. For example, if the glyph_symbol is the solid circle corresponding to Unicode U+25cf code point and the glyph_format is `%0`, the rendered glyph would be the solid circle."
        },
        "indentStart": {
          "description": "The amount of indentation for paragraphs at this level of nesting. Applied to the side that corresponds to the start of the text, based on the paragraph's content direction.",
          "$ref": "Dimension"
        },
        "indentFirstLine": {
          "$ref": "Dimension",
          "description": "The amount of indentation for the first line of paragraphs at this level of nesting."
        }
      },
      "type": "object",
      "description": "Contains properties describing the look and feel of a list bullet at a given level of nesting.",
      "id": "NestingLevel"
    },
    "TableCellLocation": {
      "properties": {
        "rowIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The zero-based row index. For example, the second row in the table has a row index of 1."
        },
        "columnIndex": {
          "description": "The zero-based column index. For example, the second column in the table has a column index of 1.",
          "format": "int32",
          "type": "integer"
        },
        "tableStartLocation": {
          "description": "The location where the table starts in the document.",
          "$ref": "Location"
        }
      },
      "description": "Location of a single cell within a table.",
      "id": "TableCellLocation",
      "type": "object"
    },
    "SuggestedTableCellStyle": {
      "properties": {
        "tableCellStyle": {
          "$ref": "TableCellStyle",
          "description": "A TableCellStyle that only includes the changes made in this suggestion. This can be used along with the table_cell_style_suggestion_state to see which fields have changed and their new values."
        },
        "tableCellStyleSuggestionState": {
          "description": "A mask that indicates which of the fields on the base TableCellStyle have been changed in this suggestion.",
          "$ref": "TableCellStyleSuggestionState"
        }
      },
      "type": "object",
      "description": "A suggested change to a TableCellStyle.",
      "id": "SuggestedTableCellStyle"
    },
    "UpdateParagraphStyleRequest": {
      "id": "UpdateParagraphStyleRequest",
      "properties": {
        "paragraphStyle": {
          "description": "The styles to set on the paragraphs. Certain paragraph style changes may cause other changes in order to mirror the behavior of the Docs editor. See the documentation of ParagraphStyle for more information.",
          "$ref": "ParagraphStyle"
        },
        "range": {
          "description": "The range overlapping the paragraphs to style.",
          "$ref": "Range"
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `paragraph_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example, to update the paragraph style's alignment property, set `fields` to `\"alignment\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "description": "Update the styling of all paragraphs that overlap with the given range.",
      "type": "object"
    },
    "CropProperties": {
      "description": "The crop properties of an image. The crop rectangle is represented using fractional offsets from the original content's 4 edges. - If the offset is in the interval (0, 1), the corresponding edge of crop rectangle is positioned inside of the image's original bounding rectangle. - If the offset is negative or greater than 1, the corresponding edge of crop rectangle is positioned outside of the image's original bounding rectangle. - If all offsets and rotation angles are 0, the image is not cropped.",
      "properties": {
        "angle": {
          "format": "float",
          "description": "The clockwise rotation angle of the crop rectangle around its center, in radians. Rotation is applied after the offsets.",
          "type": "number"
        },
        "offsetLeft": {
          "type": "number",
          "format": "float",
          "description": "The offset specifies how far inwards the left edge of the crop rectangle is from the left edge of the original content as a fraction of the original content's width."
        },
        "offsetTop": {
          "description": "The offset specifies how far inwards the top edge of the crop rectangle is from the top edge of the original content as a fraction of the original content's height.",
          "type": "number",
          "format": "float"
        },
        "offsetRight": {
          "description": "The offset specifies how far inwards the right edge of the crop rectangle is from the right edge of the original content as a fraction of the original content's width.",
          "format": "float",
          "type": "number"
        },
        "offsetBottom": {
          "type": "number",
          "description": "The offset specifies how far inwards the bottom edge of the crop rectangle is from the bottom edge of the original content as a fraction of the original content's height.",
          "format": "float"
        }
      },
      "id": "CropProperties",
      "type": "object"
    },
    "UpdateTextStyleRequest": {
      "properties": {
        "textStyle": {
          "$ref": "TextStyle",
          "description": "The styles to set on the text. If the value for a particular style matches that of the parent, that style will be set to inherit. Certain text style changes may cause other changes in order to to mirror the behavior of the Docs editor. See the documentation of TextStyle for more information."
        },
        "range": {
          "description": "The range of text to style. The range may be extended to include adjacent newlines. If the range fully contains a paragraph belonging to a list, the paragraph's bullet is also updated with the matching text style. Ranges cannot be inserted inside a relative UpdateTextStyleRequest.",
          "$ref": "Range"
        },
        "fields": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `text_style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example, to update the text style to bold, set `fields` to `\"bold\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset."
        }
      },
      "description": "Update the styling of text.",
      "id": "UpdateTextStyleRequest",
      "type": "object"
    },
    "RichLinkProperties": {
      "type": "object",
      "id": "RichLinkProperties",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of the RichLink as displayed in the link. This title matches the title of the linked resource at the time of the insertion or last update of the link. This field is always present."
        },
        "mimeType": {
          "type": "string",
          "description": "The [MIME type](https://developers.google.com/drive/api/v3/mime-types) of the RichLink, if there's one (for example, when it's a file in Drive)."
        },
        "uri": {
          "description": "The URI to the RichLink. This is always present.",
          "type": "string"
        }
      },
      "description": "Properties specific to a RichLink."
    },
    "NamedStylesSuggestionState": {
      "properties": {
        "stylesSuggestionStates": {
          "type": "array",
          "items": {
            "$ref": "NamedStyleSuggestionState"
          },
          "description": "A mask that indicates which of the fields on the corresponding NamedStyle in styles have been changed in this suggestion. The order of these named style suggestion states matches the order of the corresponding named style within the named styles suggestion."
        }
      },
      "description": "The suggestion state of a NamedStyles message.",
      "type": "object",
      "id": "NamedStylesSuggestionState"
    },
    "AddDocumentTabResponse": {
      "properties": {
        "tabProperties": {
          "description": "The properties of the newly added tab.",
          "$ref": "TabProperties"
        }
      },
      "description": "The result of adding a document tab.",
      "type": "object",
      "id": "AddDocumentTabResponse"
    },
    "ListPropertiesSuggestionState": {
      "id": "ListPropertiesSuggestionState",
      "properties": {
        "nestingLevelsSuggestionStates": {
          "type": "array",
          "items": {
            "$ref": "NestingLevelSuggestionState"
          },
          "description": "A mask that indicates which of the fields on the corresponding NestingLevel in nesting_levels have been changed in this suggestion. The nesting level suggestion states are returned in ascending order of the nesting level with the least nested returned first."
        }
      },
      "description": "A mask that indicates which of the fields on the base ListProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "type": "object"
    },
    "SectionStyle": {
      "properties": {
        "marginHeader": {
          "$ref": "Dimension",
          "description": "The header margin of the section. If unset, the value defaults to margin_header from DocumentStyle. If updated, use_custom_header_footer_margins is set to true on DocumentStyle. The value of use_custom_header_footer_margins on DocumentStyle indicates if a header margin is being respected for this section. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        },
        "marginRight": {
          "description": "The right page margin of the section. If unset, the value defaults to margin_right from DocumentStyle. Updating the right margin causes columns in this section to resize. Since the margin affects column width, it's applied before column properties. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "$ref": "Dimension"
        },
        "pageNumberStart": {
          "format": "int32",
          "type": "integer",
          "description": "The page number from which to start counting the number of pages for this section. If unset, page numbering continues from the previous section. If the value is unset in the first SectionBreak, refer to DocumentStyle's page_number_start. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        },
        "sectionType": {
          "enumDescriptions": [
            "The section type is unspecified.",
            "The section starts immediately after the last paragraph of the previous section.",
            "The section starts on the next page."
          ],
          "description": "Output only. The type of section.",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "CONTINUOUS",
            "NEXT_PAGE"
          ],
          "type": "string"
        },
        "marginLeft": {
          "description": "The left page margin of the section. If unset, the value defaults to margin_left from DocumentStyle. Updating the left margin causes columns in this section to resize. Since the margin affects column width, it's applied before column properties. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "$ref": "Dimension"
        },
        "flipPageOrientation": {
          "type": "boolean",
          "description": "Optional. Indicates whether to flip the dimensions of DocumentStyle's page_size for this section, which allows changing the page orientation between portrait and landscape. If unset, the value inherits from DocumentStyle's flip_page_orientation. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        },
        "columnSeparatorStyle": {
          "enumDescriptions": [
            "An unspecified column separator style.",
            "No column separator lines between columns.",
            "Renders a column separator line between each column."
          ],
          "enum": [
            "COLUMN_SEPARATOR_STYLE_UNSPECIFIED",
            "NONE",
            "BETWEEN_EACH_COLUMN"
          ],
          "type": "string",
          "description": "The style of column separators. This style can be set even when there's one column in the section. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        },
        "marginBottom": {
          "$ref": "Dimension",
          "description": "The bottom page margin of the section. If unset, the value defaults to margin_bottom from DocumentStyle. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        },
        "marginTop": {
          "description": "The top page margin of the section. If unset, the value defaults to margin_top from DocumentStyle. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "$ref": "Dimension"
        },
        "defaultHeaderId": {
          "type": "string",
          "description": "The ID of the default header. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's default_header_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        },
        "useFirstPageHeaderFooter": {
          "description": "Indicates whether to use the first page header / footer IDs for the first page of the section. If unset, it inherits from DocumentStyle's use_first_page_header_footer for the first section. If the value is unset for subsequent sectors, it should be interpreted as false. If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "type": "boolean"
        },
        "columnProperties": {
          "description": "The section's columns properties. If empty, the section contains one column with the default properties in the Docs editor. A section can be updated to have no more than 3 columns. When updating this property, setting a concrete value is required. Unsetting this property will result in a 400 bad request error.",
          "type": "array",
          "items": {
            "$ref": "SectionColumnProperties"
          }
        },
        "firstPageFooterId": {
          "type": "string",
          "description": "The ID of the footer used only for the first page of the section. If use_first_page_header_footer is true, this value is used for the footer on the first page of the section. If it's false, the footer on the first page of the section uses the default_footer_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's first_page_footer_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        },
        "defaultFooterId": {
          "description": "The ID of the default footer. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's default_footer_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "string"
        },
        "evenPageHeaderId": {
          "type": "string",
          "description": "The ID of the header used only for even pages. If the value of DocumentStyle's use_even_page_header_footer is true, this value is used for the headers on even pages in the section. If it is false, the headers on even pages use the default_header_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's even_page_header_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only."
        },
        "firstPageHeaderId": {
          "description": "The ID of the header used only for the first page of the section. If use_first_page_header_footer is true, this value is used for the header on the first page of the section. If it's false, the header on the first page of the section uses the default_header_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's first_page_header_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "string"
        },
        "evenPageFooterId": {
          "description": "The ID of the footer used only for even pages. If the value of DocumentStyle's use_even_page_header_footer is true, this value is used for the footers on even pages in the section. If it is false, the footers on even pages use the default_footer_id. If unset, the value inherits from the previous SectionBreak's SectionStyle. If the value is unset in the first SectionBreak, it inherits from DocumentStyle's even_page_footer_id. If DocumentMode is PAGELESS, this property will not be rendered. This property is read-only.",
          "type": "string"
        },
        "contentDirection": {
          "enum": [
            "CONTENT_DIRECTION_UNSPECIFIED",
            "LEFT_TO_RIGHT",
            "RIGHT_TO_LEFT"
          ],
          "type": "string",
          "description": "The content direction of this section. If unset, the value defaults to LEFT_TO_RIGHT. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error.",
          "enumDescriptions": [
            "The content direction is unspecified.",
            "The content goes from left to right.",
            "The content goes from right to left."
          ]
        },
        "marginFooter": {
          "$ref": "Dimension",
          "description": "The footer margin of the section. If unset, the value defaults to margin_footer from DocumentStyle. If updated, use_custom_header_footer_margins is set to true on DocumentStyle. The value of use_custom_header_footer_margins on DocumentStyle indicates if a footer margin is being respected for this section If DocumentMode is PAGELESS, this property will not be rendered. When updating this property, setting a concrete value is required. Unsetting this property results in a 400 bad request error."
        }
      },
      "description": "The styling that applies to a section.",
      "type": "object",
      "id": "SectionStyle"
    },
    "InlineObjectElement": {
      "id": "InlineObjectElement",
      "properties": {
        "inlineObjectId": {
          "type": "string",
          "description": "The ID of the InlineObject this element contains."
        },
        "suggestedInsertionIds": {
          "description": "The suggested insertion IDs. An InlineObjectElement may have multiple insertion IDs if it's a nested suggested change. If empty, then this is not a suggested insertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "textStyle": {
          "description": "The text style of this InlineObjectElement. Similar to text content, like text runs and footnote references, the text style of an inline object element can affect content layout as well as the styling of text inserted next to it.",
          "$ref": "TextStyle"
        },
        "suggestedTextStyleChanges": {
          "description": "The suggested text style changes to this InlineObject, keyed by suggestion ID.",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "type": "object"
        },
        "suggestedDeletionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The suggested deletion IDs. If empty, then there are no suggested deletions of this content."
        }
      },
      "type": "object",
      "description": "A ParagraphElement that contains an InlineObject."
    },
    "BookmarkLink": {
      "description": "A reference to a bookmark in this document.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID of a bookmark in this document.",
          "type": "string"
        },
        "tabId": {
          "description": "The ID of the tab containing this bookmark.",
          "type": "string"
        }
      },
      "id": "BookmarkLink"
    },
    "NamedStyles": {
      "properties": {
        "styles": {
          "items": {
            "$ref": "NamedStyle"
          },
          "description": "The named styles. There's an entry for each of the possible named style types.",
          "type": "array"
        }
      },
      "id": "NamedStyles",
      "description": "The named styles. Paragraphs in the document can inherit their TextStyle and ParagraphStyle from these named styles.",
      "type": "object"
    },
    "Person": {
      "properties": {
        "suggestedDeletionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "IDs for suggestions that remove this person link from the document. A Person might have multiple deletion IDs if, for example, multiple users suggest deleting it. If empty, then this person link isn't suggested for deletion."
        },
        "suggestedTextStyleChanges": {
          "type": "object",
          "additionalProperties": {
            "$ref": "SuggestedTextStyle"
          },
          "description": "The suggested text style changes to this Person, keyed by suggestion ID."
        },
        "textStyle": {
          "description": "The text style of this Person.",
          "$ref": "TextStyle"
        },
        "personProperties": {
          "description": "Output only. The properties of this Person. This field is always present.",
          "readOnly": true,
          "$ref": "PersonProperties"
        },
        "personId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique ID of this link."
        },
        "suggestedInsertionIds": {
          "description": "IDs for suggestions that insert this person link into the document. A Person might have multiple insertion IDs if it's a nested suggested change (a suggestion within a suggestion made by a different user, for example). If empty, then this person link isn't a suggested insertion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "A person or email address mentioned in a document. These mentions behave as a single, immutable element containing the person's name or email address.",
      "id": "Person"
    },
    "Background": {
      "description": "Represents the background of a document.",
      "properties": {
        "color": {
          "description": "The background color.",
          "$ref": "OptionalColor"
        }
      },
      "type": "object",
      "id": "Background"
    },
    "InsertInlineImageRequest": {
      "id": "InsertInlineImageRequest",
      "description": "Inserts an InlineObject containing an image at the given location.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "The image URI. The image is fetched once at insertion time and a copy is stored for display inside the document. Images must be less than 50MB in size, cannot exceed 25 megapixels, and must be in one of PNG, JPEG, or GIF format. The provided URI must be publicly accessible and at most 2 kB in length. The URI itself is saved with the image, and exposed via the ImageProperties.content_uri field.",
          "type": "string"
        },
        "objectSize": {
          "$ref": "Size",
          "description": "The size that the image should appear as in the document. This property is optional and the final size of the image in the document is determined by the following rules: * If neither width nor height is specified, then a default size of the image is calculated based on its resolution. * If one dimension is specified then the other dimension is calculated to preserve the aspect ratio of the image. * If both width and height are specified, the image is scaled to fit within the provided dimensions while maintaining its aspect ratio."
        },
        "endOfSegmentLocation": {
          "description": "Inserts the text at the end of a header, footer or the document body. Inline images cannot be inserted inside a footnote.",
          "$ref": "EndOfSegmentLocation"
        },
        "location": {
          "description": "Inserts the image at a specific index in the document. The image must be inserted inside the bounds of an existing Paragraph. For instance, it cannot be inserted at a table's start index (i.e. between the table and its preceding paragraph). Inline images cannot be inserted inside a footnote or equation.",
          "$ref": "Location"
        }
      }
    },
    "TabStop": {
      "description": "A tab stop within a paragraph.",
      "id": "TabStop",
      "properties": {
        "offset": {
          "description": "The offset between this tab stop and the start margin.",
          "$ref": "Dimension"
        },
        "alignment": {
          "type": "string",
          "description": "The alignment of this tab stop. If unset, the value defaults to START.",
          "enumDescriptions": [
            "The tab stop alignment is unspecified.",
            "The tab stop is aligned to the start of the line. This is the default.",
            "The tab stop is aligned to the center of the line.",
            "The tab stop is aligned to the end of the line."
          ],
          "enum": [
            "TAB_STOP_ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END"
          ]
        }
      },
      "type": "object"
    },
    "Link": {
      "description": "A reference to another portion of a document or an external URL resource.",
      "properties": {
        "bookmarkId": {
          "description": "The ID of a bookmark in this document. Legacy field: Instead, set includeTabsContent to `true` and use Link.bookmark for read and write operations. This field is only returned when includeTabsContent is set to `false` in documents containing a single tab and links to a bookmark within the singular tab. Otherwise, Link.bookmark is returned. If this field is used in a write request, the bookmark is considered to be from the tab ID specified in the request. If a tab ID is not specified in the request, it is considered to be from the first tab in the document.",
          "type": "string"
        },
        "bookmark": {
          "description": "A bookmark in this document. In documents containing a single tab, links to bookmarks within the singular tab continue to return Link.bookmarkId when the includeTabsContent parameter is set to `false` or unset. Otherwise, this field is returned.",
          "$ref": "BookmarkLink"
        },
        "tabId": {
          "description": "The ID of a tab in this document.",
          "type": "string"
        },
        "heading": {
          "$ref": "HeadingLink",
          "description": "A heading in this document. In documents containing a single tab, links to headings within the singular tab continue to return Link.headingId when the includeTabsContent parameter is set to `false` or unset. Otherwise, this field is returned."
        },
        "url": {
          "description": "An external URL.",
          "type": "string"
        },
        "headingId": {
          "description": "The ID of a heading in this document. Legacy field: Instead, set includeTabsContent to `true` and use Link.heading for read and write operations. This field is only returned when includeTabsContent is set to `false` in documents containing a single tab and links to a heading within the singular tab. Otherwise, Link.heading is returned. If this field is used in a write request, the heading is considered to be from the tab ID specified in the request. If a tab ID is not specified in the request, it is considered to be from the first tab in the document.",
          "type": "string"
        }
      },
      "id": "Link",
      "type": "object"
    },
    "TableRowStyleSuggestionState": {
      "id": "TableRowStyleSuggestionState",
      "description": "A mask that indicates which of the fields on the base TableRowStyle have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "minRowHeightSuggested": {
          "description": "Indicates if there was a suggested change to min_row_height.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "SuggestedDateElementProperties": {
      "id": "SuggestedDateElementProperties",
      "properties": {
        "dateElementPropertiesSuggestionState": {
          "$ref": "DateElementPropertiesSuggestionState",
          "description": "A mask that indicates which of the fields on the base DateElementProperties have been changed in this suggestion."
        },
        "dateElementProperties": {
          "description": "DateElementProperties that only includes the changes made in this suggestion. This can be used along with the date_element_properties_suggestion_state to see which fields have changed and their new values.",
          "$ref": "DateElementProperties"
        }
      },
      "type": "object",
      "description": "A suggested change to a DateElementProperties."
    },
    "Dimension": {
      "type": "object",
      "id": "Dimension",
      "description": "A magnitude in a single direction in the specified units.",
      "properties": {
        "magnitude": {
          "format": "double",
          "description": "The magnitude.",
          "type": "number"
        },
        "unit": {
          "enumDescriptions": [
            "The units are unknown.",
            "A point, 1/72 of an inch."
          ],
          "enum": [
            "UNIT_UNSPECIFIED",
            "PT"
          ],
          "type": "string",
          "description": "The units for magnitude."
        }
      }
    },
    "DocumentStyleSuggestionState": {
      "description": "A mask that indicates which of the fields on the base DocumentStyle have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "properties": {
        "defaultFooterIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to default_footer_id."
        },
        "pageSizeSuggestionState": {
          "description": "A mask that indicates which of the fields in size have been changed in this suggestion.",
          "$ref": "SizeSuggestionState"
        },
        "evenPageHeaderIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to even_page_header_id."
        },
        "marginLeftSuggested": {
          "description": "Indicates if there was a suggested change to margin_left.",
          "type": "boolean"
        },
        "useEvenPageHeaderFooterSuggested": {
          "description": "Indicates if there was a suggested change to use_even_page_header_footer.",
          "type": "boolean"
        },
        "marginFooterSuggested": {
          "description": "Indicates if there was a suggested change to margin_footer.",
          "type": "boolean"
        },
        "pageNumberStartSuggested": {
          "description": "Indicates if there was a suggested change to page_number_start.",
          "type": "boolean"
        },
        "marginRightSuggested": {
          "description": "Indicates if there was a suggested change to margin_right.",
          "type": "boolean"
        },
        "marginTopSuggested": {
          "description": "Indicates if there was a suggested change to margin_top.",
          "type": "boolean"
        },
        "marginHeaderSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_header."
        },
        "evenPageFooterIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to even_page_footer_id."
        },
        "defaultHeaderIdSuggested": {
          "description": "Indicates if there was a suggested change to default_header_id.",
          "type": "boolean"
        },
        "useCustomHeaderFooterMarginsSuggested": {
          "description": "Indicates if there was a suggested change to use_custom_header_footer_margins.",
          "type": "boolean"
        },
        "backgroundSuggestionState": {
          "$ref": "BackgroundSuggestionState",
          "description": "A mask that indicates which of the fields in background have been changed in this suggestion."
        },
        "useFirstPageHeaderFooterSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to use_first_page_header_footer."
        },
        "firstPageHeaderIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to first_page_header_id."
        },
        "firstPageFooterIdSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to first_page_footer_id."
        },
        "flipPageOrientationSuggested": {
          "description": "Optional. Indicates if there was a suggested change to flip_page_orientation.",
          "type": "boolean"
        },
        "marginBottomSuggested": {
          "type": "boolean",
          "description": "Indicates if there was a suggested change to margin_bottom."
        }
      },
      "id": "DocumentStyleSuggestionState",
      "type": "object"
    },
    "OptionalColor": {
      "type": "object",
      "description": "A color that can either be fully opaque or fully transparent.",
      "properties": {
        "color": {
          "description": "If set, this will be used as an opaque color. If unset, this represents a transparent color.",
          "$ref": "Color"
        }
      },
      "id": "OptionalColor"
    },
    "EmbeddedDrawingPropertiesSuggestionState": {
      "type": "object",
      "properties": {},
      "description": "A mask that indicates which of the fields on the base EmbeddedDrawingProperties have been changed in this suggestion. For any field set to true, there's a new suggested value.",
      "id": "EmbeddedDrawingPropertiesSuggestionState"
    },
    "ParagraphElement": {
      "type": "object",
      "description": "A ParagraphElement describes content within a Paragraph.",
      "id": "ParagraphElement",
      "properties": {
        "footnoteReference": {
          "$ref": "FootnoteReference",
          "description": "A footnote reference paragraph element."
        },
        "textRun": {
          "description": "A text run paragraph element.",
          "$ref": "TextRun"
        },
        "inlineObjectElement": {
          "description": "An inline object paragraph element.",
          "$ref": "InlineObjectElement"
        },
        "person": {
          "description": "A paragraph element that links to a person or email address.",
          "$ref": "Person"
        },
        "autoText": {
          "$ref": "AutoText",
          "description": "An auto text paragraph element."
        },
        "horizontalRule": {
          "description": "A horizontal rule paragraph element.",
          "$ref": "HorizontalRule"
        },
        "endIndex": {
          "format": "int32",
          "description": "The zero-base end index of this paragraph element, exclusive, in UTF-16 code units.",
          "type": "integer"
        },
        "equation": {
          "description": "An equation paragraph element.",
          "$ref": "Equation"
        },
        "pageBreak": {
          "description": "A page break paragraph element.",
          "$ref": "PageBreak"
        },
        "startIndex": {
          "type": "integer",
          "description": "The zero-based start index of this paragraph element, in UTF-16 code units.",
          "format": "int32"
        },
        "richLink": {
          "description": "A paragraph element that links to a Google resource (such as a file in Google Drive, a YouTube video, or a Calendar event.)",
          "$ref": "RichLink"
        },
        "columnBreak": {
          "description": "A column break paragraph element.",
          "$ref": "ColumnBreak"
        },
        "dateElement": {
          "description": "A paragraph element that represents a date.",
          "$ref": "DateElement"
        }
      }
    },
    "TableCellStyle": {
      "type": "object",
      "properties": {
        "borderRight": {
          "$ref": "TableCellBorder",
          "description": "The right border of the cell."
        },
        "backgroundColor": {
          "description": "The background color of the cell.",
          "$ref": "OptionalColor"
        },
        "borderTop": {
          "description": "The top border of the cell.",
          "$ref": "TableCellBorder"
        },
        "paddingRight": {
          "$ref": "Dimension",
          "description": "The right padding of the cell."
        },
        "columnSpan": {
          "description": "The column span of the cell. This property is read-only.",
          "type": "integer",
          "format": "int32"
        },
        "borderLeft": {
          "description": "The left border of the cell.",
          "$ref": "TableCellBorder"
        },
        "borderBottom": {
          "$ref": "TableCellBorder",
          "description": "The bottom border of the cell."
        },
        "paddingLeft": {
          "$ref": "Dimension",
          "description": "The left padding of the cell."
        },
        "rowSpan": {
          "type": "integer",
          "description": "The row span of the cell. This property is read-only.",
          "format": "int32"
        },
        "paddingBottom": {
          "description": "The bottom padding of the cell.",
          "$ref": "Dimension"
        },
        "paddingTop": {
          "description": "The top padding of the cell.",
          "$ref": "Dimension"
        },
        "contentAlignment": {
          "enum": [
            "CONTENT_ALIGNMENT_UNSPECIFIED",
            "CONTENT_ALIGNMENT_UNSUPPORTED",
            "TOP",
            "MIDDLE",
            "BOTTOM"
          ],
          "description": "The alignment of the content in the table cell. The default alignment matches the alignment for newly created table cells in the Docs editor.",
          "type": "string",
          "enumDescriptions": [
            "An unspecified content alignment. The content alignment is inherited from the parent if one exists.",
            "An unsupported content alignment.",
            "An alignment that aligns the content to the top of the content holder. Corresponds to ECMA-376 ST_TextAnchoringType 't'.",
            "An alignment that aligns the content to the middle of the content holder. Corresponds to ECMA-376 ST_TextAnchoringType 'ctr'.",
            "An alignment that aligns the content to the bottom of the content holder. Corresponds to ECMA-376 ST_TextAnchoringType 'b'."
          ]
        }
      },
      "id": "TableCellStyle",
      "description": "The style of a TableCell. Inherited table cell styles are represented as unset fields in this message. A table cell style can inherit from the table's style."
    },
    "EmbeddedDrawingProperties": {
      "type": "object",
      "properties": {},
      "id": "EmbeddedDrawingProperties",
      "description": "The properties of an embedded drawing and used to differentiate the object type. An embedded drawing is one that's created and edited within a document. Note that extensive details are not supported."
    },
    "EmbeddedObject": {
      "properties": {
        "size": {
          "description": "The visible size of the image after cropping.",
          "$ref": "Size"
        },
        "marginBottom": {
          "$ref": "Dimension",
          "description": "The bottom margin of the embedded object."
        },
        "marginRight": {
          "$ref": "Dimension",
          "description": "The right margin of the embedded object."
        },
        "embeddedDrawingProperties": {
          "$ref": "EmbeddedDrawingProperties",
          "description": "The properties of an embedded drawing."
        },
        "embeddedObjectBorder": {
          "$ref": "EmbeddedObjectBorder",
          "description": "The border of the embedded object."
        },
        "description": {
          "description": "The description of the embedded object. The `title` and `description` are both combined to display alt text.",
          "type": "string"
        },
        "marginTop": {
          "description": "The top margin of the embedded object.",
          "$ref": "Dimension"
        },
        "linkedContentReference": {
          "description": "A reference to the external linked source content. For example, it contains a reference to the source Google Sheets chart when the embedded object is a linked chart. If unset, then the embedded object is not linked.",
          "$ref": "LinkedContentReference"
        },
        "imageProperties": {
          "description": "The properties of an image.",
          "$ref": "ImageProperties"
        },
        "title": {
          "description": "The title of the embedded object. The `title` and `description` are both combined to display alt text.",
          "type": "string"
        },
        "marginLeft": {
          "description": "The left margin of the embedded object.",
          "$ref": "Dimension"
        }
      },
      "type": "object",
      "description": "An embedded object in the document.",
      "id": "EmbeddedObject"
    },
    "ReplaceImageRequest": {
      "id": "ReplaceImageRequest",
      "description": "Replaces an existing image with a new image. Replacing an image removes some image effects from the existing image in order to mirror the behavior of the Docs editor.",
      "properties": {
        "imageReplaceMethod": {
          "enum": [
            "IMAGE_REPLACE_METHOD_UNSPECIFIED",
            "CENTER_CROP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified image replace method. This value must not be used.",
            "Scales and centers the image to fill the bounds of the original image. The image may be cropped in order to fill the original image's bounds. The rendered size of the image will be the same as the original image."
          ],
          "description": "The replacement method."
        },
        "uri": {
          "description": "The URI of the new image. The image is fetched once at insertion time and a copy is stored for display inside the document. Images must be less than 50MB, cannot exceed 25 megapixels, and must be in PNG, JPEG, or GIF format. The provided URI can't surpass 2 KB in length. The URI is saved with the image, and exposed through the ImageProperties.source_uri field.",
          "type": "string"
        },
        "tabId": {
          "description": "The tab that the image to be replaced is in. When omitted, the request is applied to the first tab. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the request applies to the singular tab. In a document containing multiple tabs: - If provided, the request applies to the specified tab. - If omitted, the request applies to the first tab in the document.",
          "type": "string"
        },
        "imageObjectId": {
          "type": "string",
          "description": "The ID of the existing image that will be replaced. The ID can be retrieved from the response of a get request."
        }
      },
      "type": "object"
    },
    "DeleteNamedRangeRequest": {
      "type": "object",
      "description": "Deletes a NamedRange.",
      "properties": {
        "name": {
          "description": "The name of the range(s) to delete. All named ranges with the given name will be deleted.",
          "type": "string"
        },
        "namedRangeId": {
          "description": "The ID of the named range to delete.",
          "type": "string"
        },
        "tabsCriteria": {
          "$ref": "TabsCriteria",
          "description": "Optional. The criteria used to specify which tab(s) the range deletion should occur in. When omitted, the range deletion is applied to all tabs. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the range deletion applies to the singular tab. In a document containing multiple tabs: - If provided, the range deletion applies to the specified tabs. - If not provided, the range deletion applies to all tabs."
        }
      },
      "id": "DeleteNamedRangeRequest"
    },
    "UnmergeTableCellsRequest": {
      "type": "object",
      "id": "UnmergeTableCellsRequest",
      "description": "Unmerges cells in a Table.",
      "properties": {
        "tableRange": {
          "description": "The table range specifying which cells of the table to unmerge. All merged cells in this range will be unmerged, and cells that are already unmerged will not be affected. If the range has no merged cells, the request will do nothing. If there is text in any of the merged cells, the text will remain in the \"head\" cell of the resulting block of unmerged cells. The \"head\" cell is the upper-left cell when the content direction is from left to right, and the upper-right otherwise.",
          "$ref": "TableRange"
        }
      }
    },
    "PersonProperties": {
      "id": "PersonProperties",
      "description": "Properties specific to a linked Person.",
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email address linked to this Person. This field is always present."
        },
        "name": {
          "description": "The name of the person if it's displayed in the link text instead of the person's email address.",
          "type": "string"
        }
      }
    },
    "ReplaceAllTextRequest": {
      "description": "Replaces all instances of text matching a criteria with replace text.",
      "properties": {
        "replaceText": {
          "type": "string",
          "description": "The text that will replace the matched text."
        },
        "containsText": {
          "description": "Finds text in the document matching this substring.",
          "$ref": "SubstringMatchCriteria"
        },
        "tabsCriteria": {
          "description": "Optional. The criteria used to specify in which tabs the replacement occurs. When omitted, the replacement applies to all tabs. In a document containing a single tab: - If provided, must match the singular tab's ID. - If omitted, the replacement applies to the singular tab. In a document containing multiple tabs: - If provided, the replacement applies to the specified tabs. - If omitted, the replacement applies to all tabs.",
          "$ref": "TabsCriteria"
        }
      },
      "type": "object",
      "id": "ReplaceAllTextRequest"
    },
    "EmbeddedObjectBorder": {
      "id": "EmbeddedObjectBorder",
      "type": "object",
      "properties": {
        "color": {
          "description": "The color of the border.",
          "$ref": "OptionalColor"
        },
        "propertyState": {
          "description": "The property state of the border property.",
          "enum": [
            "RENDERED",
            "NOT_RENDERED"
          ],
          "type": "string",
          "enumDescriptions": [
            "If a property's state is RENDERED, then the element has the corresponding property when rendered in the document. This is the default value.",
            "If a property's state is NOT_RENDERED, then the element does not have the corresponding property when rendered in the document."
          ]
        },
        "width": {
          "$ref": "Dimension",
          "description": "The width of the border."
        },
        "dashStyle": {
          "enum": [
            "DASH_STYLE_UNSPECIFIED",
            "SOLID",
            "DOT",
            "DASH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified dash style.",
            "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'. This is the default dash style.",
            "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
            "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'."
          ],
          "description": "The dash style of the border."
        }
      },
      "description": "A border around an EmbeddedObject."
    },
    "PositionedObjectPositioningSuggestionState": {
      "type": "object",
      "id": "PositionedObjectPositioningSuggestionState",
      "properties": {
        "topOffsetSuggested": {
          "description": "Indicates if there was a suggested change to top_offset.",
          "type": "boolean"
        },
        "layoutSuggested": {
          "description": "Indicates if there was a suggested change to layout.",
          "type": "boolean"
[...]
