{
  "id": "documentai:v1beta3",
  "canonicalName": "Document",
  "title": "Cloud Document AI API",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "version_module": true,
  "servicePath": "",
  "rootUrl": "https://documentai.googleapis.com/",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "schemas": {
    "GoogleCloudDocumentaiV1beta3ProcessorVersion": {
      "id": "GoogleCloudDocumentaiV1beta3ProcessorVersion",
      "description": "A processor version is an implementation of a processor. Each processor can have multiple versions, pretrained by Google internally or uptrained by the customer. A processor can only have one default version at a time. Its document-processing behavior is defined by that version.",
      "properties": {
        "documentSchema": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentSchema",
          "description": "Output only. The schema of the processor version. Describes the output.",
          "readOnly": true
        },
        "deprecationInfo": {
          "description": "Output only. If set, information about the eventual deprecation of this version.",
          "readOnly": true,
          "$ref": "GoogleCloudDocumentaiV1beta3ProcessorVersionDeprecationInfo"
        },
        "googleManaged": {
          "readOnly": true,
          "description": "Output only. Denotes that this `ProcessorVersion` is managed by Google.",
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. The time the processor version was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "modelType": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "MODEL_TYPE_GENERATIVE",
            "MODEL_TYPE_CUSTOM"
          ],
          "description": "Output only. The model type of this processor version.",
          "enumDescriptions": [
            "The processor version has unspecified model type.",
            "The processor version has generative model type.",
            "The processor version has custom model type."
          ]
        },
        "latestEvaluation": {
          "readOnly": true,
          "description": "Output only. The most recently invoked evaluation for the processor version.",
          "$ref": "GoogleCloudDocumentaiV1beta3EvaluationReference"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the processor version."
        },
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "genAiModelInfo": {
          "description": "Output only. Information about Generative AI model-based processor versions.",
          "readOnly": true,
          "$ref": "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfo"
        },
        "kmsKeyName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The KMS key name used for encryption."
        },
        "name": {
          "description": "Identifier. The resource name of the processor version. Format: `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processor_version}`",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the processor version.",
          "enumDescriptions": [
            "The processor version is in an unspecified state.",
            "The processor version is deployed and can be used for processing.",
            "The processor version is being deployed.",
            "The processor version is not deployed and cannot be used for processing.",
            "The processor version is being undeployed.",
            "The processor version is being created.",
            "The processor version is being deleted.",
            "The processor version failed and is in an indeterminate state.",
            "The processor version is being imported."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "DEPLOYED",
            "DEPLOYING",
            "UNDEPLOYED",
            "UNDEPLOYING",
            "CREATING",
            "DELETING",
            "FAILED",
            "IMPORTING"
          ],
          "readOnly": true,
          "type": "string"
        },
        "kmsKeyVersionName": {
          "readOnly": true,
          "description": "Output only. The KMS key version with which data is encrypted.",
          "type": "string"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3SampleDocumentsResponse": {
      "type": "object",
      "description": "Response of the sample documents operation.",
      "properties": {
        "sampleTestStatus": {
          "description": "The status of sampling documents in test split.",
          "$ref": "GoogleRpcStatus"
        },
        "sampleTrainingStatus": {
          "description": "The status of sampling documents in training split.",
          "$ref": "GoogleRpcStatus"
        },
        "selectedDocuments": {
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3SampleDocumentsResponseSelectedDocument"
          },
          "type": "array",
          "description": "The result of the sampling process."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3SampleDocumentsResponse"
    },
    "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadata": {
      "type": "object",
      "description": "Metadata of the batch export documents operation.",
      "properties": {
        "splitExportStats": {
          "description": "The list of statistics for each dataset split type.",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataSplitExportStat"
          },
          "type": "array"
        },
        "individualExportStatuses": {
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataIndividualExportStatus"
          },
          "type": "array",
          "description": "The list of response details of each document."
        },
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadata"
    },
    "GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionMetadata",
      "description": "Metadata of the EvaluateProcessorVersion method.",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3BatchDeleteDocumentsResponse": {
      "description": "Response of the delete documents operation.",
      "properties": {},
      "id": "GoogleCloudDocumentaiUiv1beta3BatchDeleteDocumentsResponse",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentStyle": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentStyle",
      "description": "Annotation for common text style attributes. This adheres to CSS conventions as much as possible.",
      "properties": {
        "fontWeight": {
          "type": "string",
          "description": "[Font weight](https://www.w3schools.com/cssref/pr_font_weight.asp). Possible values are `normal`, `bold`, `bolder`, and `lighter`."
        },
        "fontFamily": {
          "description": "Font family such as `Arial`, `Times New Roman`. https://www.w3schools.com/cssref/pr_font_font-family.asp",
          "type": "string"
        },
        "textStyle": {
          "description": "[Text style](https://www.w3schools.com/cssref/pr_font_font-style.asp). Possible values are `normal`, `italic`, and `oblique`.",
          "type": "string"
        },
        "fontSize": {
          "description": "Font size.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentStyleFontSize"
        },
        "textDecoration": {
          "description": "[Text decoration](https://www.w3schools.com/cssref/pr_text_text-decoration.asp). Follows CSS standard. ",
          "type": "string"
        },
        "textAnchor": {
          "description": "Text anchor indexing into the Document.text.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentTextAnchor"
        },
        "color": {
          "description": "Text color.",
          "$ref": "GoogleTypeColor"
        },
        "backgroundColor": {
          "description": "Text background color.",
          "$ref": "GoogleTypeColor"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageTokenDetectedBreak": {
      "type": "object",
      "description": "Detected break at the end of a Token.",
      "properties": {
        "type": {
          "description": "Detected break type.",
          "enumDescriptions": [
            "Unspecified break type.",
            "A single whitespace.",
            "A wider whitespace.",
            "A hyphen that indicates that a token has been split across lines."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "SPACE",
            "WIDE_SPACE",
            "HYPHEN"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageTokenDetectedBreak"
    },
    "GoogleCloudDocumentaiV1beta3DatasetSchema": {
      "description": "Dataset Schema.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Dataset schema resource name. Format: `projects/{project}/locations/{location}/processors/{processor}/dataset/datasetSchema`"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "documentSchema": {
          "description": "Optional. Schema of the dataset.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentSchema"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DatasetSchema",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3HumanReviewStatus": {
      "type": "object",
      "description": "The status of human review on a processed document.",
      "properties": {
        "stateMessage": {
          "type": "string",
          "description": "A message providing more details about the human review state."
        },
        "state": {
          "type": "string",
          "description": "The state of human review on the processing request.",
          "enumDescriptions": [
            "Human review state is unspecified. Most likely due to an internal error.",
            "Human review is skipped for the document. This can happen because human review isn't enabled on the processor or the processing request has been set to skip this document.",
            "Human review validation is triggered and passed, so no review is needed.",
            "Human review validation is triggered and the document is under review.",
            "Some error happened during triggering human review, see the state_message for details."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "SKIPPED",
            "VALIDATION_PASSED",
            "IN_PROGRESS",
            "ERROR"
          ]
        },
        "humanReviewOperation": {
          "type": "string",
          "description": "The name of the operation triggered by the processed document. This field is populated only when the state is `HUMAN_REVIEW_IN_PROGRESS`. It has the same response type and metadata as the long-running operation returned by ReviewDocument."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3HumanReviewStatus"
    },
    "GoogleCloudDocumentaiV1beta3TrainProcessorVersionRequestCustomDocumentExtractionOptions": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3TrainProcessorVersionRequestCustomDocumentExtractionOptions",
      "description": "Options to control the training of the Custom Document Extraction (CDE) Processor.",
      "properties": {
        "trainingMethod": {
          "type": "string",
          "description": "Optional. Training method to use for CDE training.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "TRAINING_METHOD_UNSPECIFIED",
            "MODEL_BASED",
            "TEMPLATE_BASED"
          ]
        }
      }
    },
    "GoogleCloudDocumentaiV1DeployProcessorVersionMetadata": {
      "type": "object",
      "description": "The long-running operation metadata for the DeployProcessorVersion method.",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiV1DeployProcessorVersionMetadata"
    },
    "GoogleCloudDocumentaiV1beta3DocumentTextAnchorTextSegment": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentTextAnchorTextSegment",
      "description": "A text segment in the Document.text. The indices may be out of bounds which indicate that the text extends into another document shard for large sharded documents. See ShardInfo.text_offset",
      "properties": {
        "startIndex": {
          "type": "string",
          "description": "TextSegment start UTF-8 char index in the Document.text.",
          "format": "int64"
        },
        "endIndex": {
          "type": "string",
          "description": "TextSegment half open end UTF-8 char index in the Document.text.",
          "format": "int64"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutPageSpan": {
      "type": "object",
      "description": "Represents where the block starts and ends in the document.",
      "properties": {
        "pageStart": {
          "description": "Page where block starts in the document.",
          "format": "int32",
          "type": "integer"
        },
        "pageEnd": {
          "type": "integer",
          "format": "int32",
          "description": "Page where block ends in the document."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutPageSpan"
    },
    "GoogleCloudDocumentaiV1beta3DeployProcessorVersionMetadata": {
      "id": "GoogleCloudDocumentaiV1beta3DeployProcessorVersionMetadata",
      "description": "The long-running operation metadata for the DeployProcessorVersion method.",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3SchemaEntityType": {
      "type": "object",
      "description": "EntityType is the wrapper of a label of the corresponding model with detailed attributes and limitations for entity-based processors. Multiple types can also compose a dependency tree to represent nested types.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Name of the type. It must satisfy the following constraints: 1. Must be unique within the set of same level types (with case-insensitive match). 2. Maximum 64 characters. 3. Must start with a letter. 4. Allowed characters: ASCII letters [a-zA-Z], ASCII digits [0-9], or one of the following punctuation characters: * underscore '_' (recommended) * hyphen '-' (allowed, not recommended) * colon ':' (allowed, not recommended) NOTE: Whitespace characters are not allowed. 5. Cannot end with a punctuation character. 6. Cannot contain the following restricted strings: \"google\", \"DocumentAI\" (case-insensitive match). 7. A slash character '/' is reserved as a separator in flattened representations of nested entity types (e.g., \"line_item/amount\") in which case each part (e.g., \"line_item\", \"amount\") must comply with the rules defined above. We recommend using the snake case (\"snake_case\") in entity type names."
        },
        "baseType": {
          "type": "string"
        },
        "properties": {
          "description": "Describing the nested structure of an entity. An EntityType may consist of several other EntityTypes. For example, in a document there can be an EntityType `ID`, which consists of EntityType `name` and `address`, with corresponding attributes, such as TEXT for both types and ONCE for occurrence types.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3SchemaEntityType"
          }
        },
        "occurrenceType": {
          "type": "string",
          "description": "Occurrence type limits the number of times an entity type appears in the document.",
          "enumDescriptions": [
            "Unspecified occurrence type.",
            "The entity type will appear zero times or once.",
            "The entity type will appear zero or multiple times.",
            "The entity type will only appear exactly once.",
            "The entity type will appear once or more times."
          ],
          "enum": [
            "OCCURRENCE_TYPE_UNSPECIFIED",
            "OPTIONAL_ONCE",
            "OPTIONAL_MULTIPLE",
            "REQUIRED_ONCE",
            "REQUIRED_MULTIPLE"
          ]
        },
        "source": {
          "description": "Source of this entity type.",
          "enumDescriptions": [
            "Unspecified source.",
            "The entity type is in the predefined schema of a pretrained version of a processor.",
            "The entity type is added by the users either: - during an uptraining of an existing processor, or - during the process of creating a customized processor."
          ],
          "enum": [
            "SOURCE_UNSPECIFIED",
            "PREDEFINED",
            "USER_INPUT"
          ],
          "type": "string"
        },
        "enumValues": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "If specified, lists all the possible values for this entity."
        },
        "hide": {
          "type": "boolean",
          "description": "If the entity type is hidden in the schema. This provides the functionality to temporally \"disable\" an entity without deleting it."
        },
        "description": {
          "description": "Description of the entity type.",
          "type": "string"
        },
        "method": {
          "type": "string",
          "description": "Specifies how the entity's value is obtained.",
          "enumDescriptions": [
            "Unspecified method. It defaults to `EXTRACT`.",
            "The entity's value is directly extracted as-is from the document text.",
            "The entity's value is derived through inference and is not necessarily an exact text extraction from the document.",
            "Attempts to extract the position and value as-is from the document text. If the value cannot be grounded in the text, it falls back to derivation through inference, for both position and value. Note: The inference fallback is currently only supported for boolean entities."
          ],
          "enum": [
            "METHOD_UNSPECIFIED",
            "EXTRACT",
            "DERIVE",
            "RELAXED_EXTRACT"
          ]
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3SchemaEntityType"
    },
    "GoogleCloudDocumentaiV1beta3CommonOperationMetadata": {
      "type": "object",
      "description": "The common metadata for long running operations.",
      "properties": {
        "stateMessage": {
          "type": "string",
          "description": "A message providing more details about the current state of processing."
        },
        "createTime": {
          "type": "string",
          "description": "The creation time of the operation.",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "The last update time of the operation.",
          "format": "google-datetime",
          "type": "string"
        },
        "resource": {
          "description": "A related resource to this operation.",
          "type": "string"
        },
        "state": {
          "description": "The state of the operation.",
          "enumDescriptions": [
            "Unspecified state.",
            "Operation is still running.",
            "Operation is being cancelled.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation is cancelled."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "CANCELLING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
    },
    "GoogleCloudDocumentaiUiv1beta3ExportProcessorVersionMetadata": {
      "description": "Metadata message associated with the ExportProcessorVersion operation.",
      "properties": {
        "commonMetadata": {
          "description": "The common metadata about the operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3ExportProcessorVersionMetadata",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3FieldTierMetadata": {
      "description": "Metadata for the field tier of a property.",
      "properties": {
        "tierLevel": {
          "description": "Integer that indicates the tier of a property. e.g. Invoice has entities that are classified as tier 1 which is the most important, while tier 2 and tier 3 less so. This attribute can be used to filter schema attributes before running eval. e.g. compute F1 score for only tier 1 entities. If not present this attribute should be inferred as 1.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3FieldTierMetadata",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DeleteProcessorMetadata": {
      "type": "object",
      "description": "The long-running operation metadata for the DeleteProcessor method.",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiV1DeleteProcessorMetadata"
    },
    "GoogleCloudDocumentaiV1beta3DocumentSchemaMetadata": {
      "type": "object",
      "description": "Metadata for global schema behavior.",
      "properties": {
        "documentSplitter": {
          "description": "If true, a `document` entity type can be applied to subdocument (splitting). Otherwise, it can only be applied to the entire document (classification).",
          "type": "boolean"
        },
        "prefixedNamingOnProperties": {
          "type": "boolean",
          "description": "If set, all the nested entities must be prefixed with the parents."
        },
        "skipNamingValidation": {
          "type": "boolean",
          "description": "If set, this will skip the naming format validation in the schema. So the string values in `DocumentSchema.EntityType.name` and `DocumentSchema.EntityType.Property.name` will not be checked."
        },
        "documentAllowMultipleLabels": {
          "type": "boolean",
          "description": "If true, on a given page, there can be multiple `document` annotations covering it."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentSchemaMetadata"
    },
    "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutTableCell": {
      "description": "Represents a cell in a table row.",
      "properties": {
        "colSpan": {
          "type": "integer",
          "format": "int32",
          "description": "How many columns this cell spans."
        },
        "blocks": {
          "description": "A table cell is a list of blocks. Repeated blocks support further hierarchies and nested blocks.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlock"
          }
        },
        "rowSpan": {
          "type": "integer",
          "description": "How many rows this cell spans.",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutTableCell",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3DeployProcessorVersionMetadata": {
      "type": "object",
      "description": "The long-running operation metadata for the DeployProcessorVersion method.",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3DeployProcessorVersionMetadata"
    },
    "GoogleCloudDocumentaiUiv1beta3SchemaInferenceMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3SchemaInferenceMetadata",
      "description": "Metadata for schema inference. Only used on dataset.schema for schema inference, can be safely ignored elsewhere.",
      "properties": {
        "inferred": {
          "type": "boolean",
          "description": "True if is inferred by schema inference."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3TrainProcessorVersionMetadata": {
      "description": "The metadata that represents a processor version being created.",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        },
        "trainingDatasetValidation": {
          "description": "The training dataset validation information.",
          "$ref": "GoogleCloudDocumentaiV1beta3TrainProcessorVersionMetadataDatasetValidation"
        },
        "testDatasetValidation": {
          "description": "The test dataset validation information.",
          "$ref": "GoogleCloudDocumentaiV1beta3TrainProcessorVersionMetadataDatasetValidation"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3TrainProcessorVersionMetadata",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3ProcessOptionsLayoutConfig": {
      "description": "Serving config for layout parser processor.",
      "properties": {
        "enableImageExtraction": {
          "type": "boolean",
          "description": "Optional. Whether to extract images in layout parser response."
        },
        "chunkingConfig": {
          "description": "Optional. Config for chunking in layout parser processor.",
          "$ref": "GoogleCloudDocumentaiV1beta3ProcessOptionsLayoutConfigChunkingConfig"
        },
        "enableTableSplit": {
          "description": "Optional. Whether to split table.",
          "type": "boolean"
        },
        "enableTableAnnotation": {
          "description": "Optional. Whether to include table annotations in layout parser response.",
          "type": "boolean"
        },
        "enableLlmLayoutParsing": {
          "description": "Optional. Whether to refine PDF layout using LLM.",
          "type": "boolean"
        },
        "returnBoundingBoxes": {
          "type": "boolean",
          "description": "Optional. Whether to include bounding boxes in layout parser processor response."
        },
        "enableImageAnnotation": {
          "description": "Optional. Whether to include image annotations in layout parser response.",
          "type": "boolean"
        },
        "returnImages": {
          "type": "boolean",
          "description": "Optional. Whether to include images in layout parser processor response."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3ProcessOptionsLayoutConfig",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadataDatasetResyncStatus": {
      "description": "Resync status against inconsistency types on the dataset level.",
      "properties": {
        "datasetInconsistencyType": {
          "type": "string",
          "description": "The type of the inconsistency of the dataset.",
          "enumDescriptions": [
            "Default value.",
            "The marker file under the dataset folder is not found."
          ],
          "enum": [
            "DATASET_INCONSISTENCY_TYPE_UNSPECIFIED",
            "DATASET_INCONSISTENCY_TYPE_NO_STORAGE_MARKER"
          ]
        },
        "status": {
          "description": "The status of resyncing the dataset with regards to the detected inconsistency. Empty if ResyncDatasetRequest.validate_only is `true`.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadataDatasetResyncStatus",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutListBlock": {
      "type": "object",
      "description": "Represents a list type block.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Type of the list_entries (if exist). Available options are `ordered` and `unordered`."
        },
        "listEntries": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutListEntry"
          },
          "type": "array",
          "description": "List entries that constitute a list block."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlockLayoutListBlock"
    },
    "GoogleCloudDocumentaiUiv1beta3UpdateHumanReviewConfigMetadata": {
      "type": "object",
      "description": "The long-running operation metadata for updating the human review configuration.",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3UpdateHumanReviewConfigMetadata"
    },
    "GoogleCloudDocumentaiV1beta3TrainProcessorVersionRequestFoundationModelTuningOptions": {
      "type": "object",
      "description": "Options to control foundation model tuning of the processor.",
      "properties": {
        "previousFineTunedProcessorVersionName": {
          "description": "Optional. Resource name of a previously fine tuned version ID to copy the overwritten configs from. The base_processor_version should be newer than the base processor version used to fine tune this provided processor version. Format: `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`.",
          "type": "string"
        },
        "trainSteps": {
          "type": "integer",
          "description": "Optional. The number of steps to run for model tuning. Valid values are between 1 and 400. If not provided, recommended steps will be used.",
          "format": "int32"
        },
        "learningRateMultiplier": {
          "type": "number",
          "description": "Optional. The multiplier to apply to the recommended learning rate. Valid values are between 0.1 and 10. If not provided, recommended learning rate will be used.",
          "format": "float"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3TrainProcessorVersionRequestFoundationModelTuningOptions"
    },
    "GoogleCloudDocumentaiV1beta3RevisionRef": {
      "id": "GoogleCloudDocumentaiV1beta3RevisionRef",
      "description": "The revision reference specifies which revision on the document to read.",
      "properties": {
        "revisionCase": {
          "type": "string",
          "description": "Reads the revision by the predefined case.",
          "enumDescriptions": [
            "Unspecified case, fall back to read the `LATEST_HUMAN_REVIEW`.",
            "The latest revision made by a human.",
            "The latest revision based on timestamp.",
            "The first (OCR) revision."
          ],
          "enum": [
            "REVISION_CASE_UNSPECIFIED",
            "LATEST_HUMAN_REVIEW",
            "LATEST_TIMESTAMP",
            "BASE_OCR_REVISION"
          ]
        },
        "revisionId": {
          "type": "string",
          "description": "Reads the revision given by the id."
        },
        "latestProcessorVersion": {
          "description": "Reads the revision generated by the processor version. The format takes the full resource name of processor version. `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataIndividualImportStatus": {
      "id": "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataIndividualImportStatus",
      "description": "The status of each individual document in the import process.",
      "properties": {
        "inputGcsSource": {
          "type": "string",
          "description": "The source Cloud Storage URI of the document."
        },
        "status": {
          "description": "The status of the importing of the document.",
          "$ref": "GoogleRpcStatus"
        },
        "outputDocumentId": {
          "description": "The document ID of imported document if it was successful, otherwise empty.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentId"
        }
      },
      "type": "object"
    },
    "GoogleTypeDateTime": {
      "id": "GoogleTypeDateTime",
      "description": "Represents civil time (or occasionally physical time). This type can represent a civil time in one of a few possible ways: * When utc_offset is set and time_zone is unset: a civil time on a calendar day with a particular offset from UTC. * When time_zone is set and utc_offset is unset: a civil time on a calendar day in a particular time zone. * When neither time_zone nor utc_offset is set: a civil time on a calendar day in local time. The date is relative to the Proleptic Gregorian Calendar. If year, month, or day are 0, the DateTime is considered not to have a specific year, month, or day respectively. This type may also be used to represent a physical time if all the date and time fields are set and either case of the `time_offset` oneof is set. Consider using `Timestamp` message for physical time instead. If your use case also would like to store the user's timezone, that can be done in another field. This type is more flexible than some applications may want. Make sure to document and validate your application's limitations.",
      "properties": {
        "nanos": {
          "type": "integer",
          "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
          "format": "int32"
        },
        "timeZone": {
          "description": "Time zone.",
          "$ref": "GoogleTypeTimeZone"
        },
        "day": {
          "format": "int32",
          "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
          "type": "integer"
        },
        "seconds": {
          "format": "int32",
          "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer"
        },
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year."
        },
        "month": {
          "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
          "format": "int32",
          "type": "integer"
        },
        "hours": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        },
        "minutes": {
          "type": "integer",
          "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.",
          "format": "int32"
        },
        "utcOffset": {
          "type": "string",
          "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3SetDefaultProcessorVersionMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3SetDefaultProcessorVersionMetadata",
      "description": "The long-running operation metadata for the SetDefaultProcessorVersion method.",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3SetDefaultProcessorVersionResponse": {
      "type": "object",
      "description": "Response message for the SetDefaultProcessorVersion method.",
      "properties": {},
      "id": "GoogleCloudDocumentaiV1beta3SetDefaultProcessorVersionResponse"
    },
    "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfo": {
      "type": "object",
      "description": "Information about Generative AI model-based processor versions.",
      "properties": {
        "foundationGenAiModelInfo": {
          "description": "Information for a pretrained Google-managed foundation model.",
          "$ref": "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfoFoundationGenAiModelInfo"
        },
        "customGenAiModelInfo": {
          "description": "Information for a custom Generative AI model created by the user.",
          "$ref": "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfoCustomGenAiModelInfo"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfo"
    },
    "GoogleCloudDocumentaiV1beta3GcsDocument": {
      "id": "GoogleCloudDocumentaiV1beta3GcsDocument",
      "description": "Specifies a document stored on Cloud Storage.",
      "properties": {
        "mimeType": {
          "description": "An IANA MIME type (RFC6838) of the content.",
          "type": "string"
        },
        "gcsUri": {
          "description": "The Cloud Storage object uri.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleTypeDate": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        }
      },
      "id": "GoogleTypeDate",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3ProcessorVersionGenAiModelInfoFoundationGenAiModelInfo": {
      "id": "GoogleCloudDocumentaiUiv1beta3ProcessorVersionGenAiModelInfoFoundationGenAiModelInfo",
      "description": "Information for a pretrained Google-managed foundation model.",
      "properties": {
        "finetuningAllowed": {
          "description": "Whether fine tuning is allowed for this base processor version.",
          "type": "boolean"
        },
        "minTrainLabeledDocuments": {
          "description": "The minimum number of labeled documents in the training dataset required for fine tuning.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3DisableProcessorResponse": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3DisableProcessorResponse",
      "description": "Response message for the DisableProcessor method. Intentionally empty proto for adding fields in future.",
      "properties": {}
    },
    "GoogleCloudDocumentaiV1beta3GenerateSchemaVersionResponse": {
      "type": "object",
      "description": "Response message for GenerateSchemaVersion.",
      "properties": {
        "schemaVersion": {
          "description": "The schema version generated by the model.",
          "$ref": "GoogleCloudDocumentaiV1beta3SchemaVersion"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3GenerateSchemaVersionResponse"
    },
    "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkImageChunkField": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentChunkedDocumentChunkImageChunkField",
      "description": "The image chunk field in the chunk.",
      "properties": {
        "annotations": {
          "description": "Annotation of the image chunk field.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentAnnotations"
        },
        "blobAssetId": {
          "type": "string",
          "description": "Optional. Asset ID of the inline image. If set, find the image content in the blob_assets field."
        },
        "gcsUri": {
          "description": "Optional. Google Cloud Storage URI of the image.",
          "type": "string"
        },
        "dataUri": {
          "type": "string",
          "description": "Optional. Data URI of the image. It is composed of four parts: a prefix (data:), a MIME type indicating the type of data, an optional base64 token if non-textual, and the data itself: data:,"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3Dataset": {
      "type": "object",
      "description": "A singleton resource under a Processor which configures a collection of documents.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Dataset resource name. Format: `projects/{project}/locations/{location}/processors/{processor}/dataset`"
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "gcsManagedConfig": {
          "description": "Optional. User-managed Cloud Storage dataset configuration. Use this configuration if the dataset documents are stored under a user-managed Cloud Storage location.",
          "$ref": "GoogleCloudDocumentaiV1beta3DatasetGCSManagedConfig"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "unmanagedDatasetConfig": {
          "description": "Optional. Unmanaged dataset configuration. Use this configuration if the dataset documents are managed by the document service internally (not user-managed).",
          "$ref": "GoogleCloudDocumentaiV1beta3DatasetUnmanagedDatasetConfig"
        },
        "state": {
          "type": "string",
          "description": "Required. State of the dataset. Ignored when updating dataset.",
          "enumDescriptions": [
            "Default unspecified enum, should not be used.",
            "Dataset has not been initialized.",
            "Dataset is being initialized.",
            "Dataset has been initialized."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "UNINITIALIZED",
            "INITIALIZING",
            "INITIALIZED"
          ]
        },
        "documentWarehouseConfig": {
          "deprecated": true,
          "$ref": "GoogleCloudDocumentaiV1beta3DatasetDocumentWarehouseConfig",
          "description": "Optional. Deprecated. Warehouse-based dataset configuration is not supported."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3Dataset"
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFormValidation": {
      "type": "object",
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFormValidation",
      "properties": {
        "leftOperand": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFormValidationOperation"
        },
        "validationOperator": {
          "description": "The relational operator to be applied to the operands.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "OPERATION_TYPE_EQ",
            "OPERATION_TYPE_NE",
            "OPERATION_TYPE_LT",
            "OPERATION_TYPE_LE",
            "OPERATION_TYPE_GT",
            "OPERATION_TYPE_GE"
          ],
          "type": "string"
        },
        "rightOperand": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFormValidationOperation"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3ReviewDocumentRequest": {
      "id": "GoogleCloudDocumentaiV1beta3ReviewDocumentRequest",
      "description": "Request message for the ReviewDocument method.",
      "properties": {
        "priority": {
          "description": "The priority of the human review task.",
          "enumDescriptions": [
            "The default priority level.",
            "The urgent priority level. The labeling manager should allocate labeler resource to the urgent task queue to respect this priority level."
          ],
          "enum": [
            "DEFAULT",
            "URGENT"
          ],
          "type": "string"
        },
        "inlineDocument": {
          "description": "An inline document proto.",
          "$ref": "GoogleCloudDocumentaiV1beta3Document"
        },
        "document": {
          "deprecated": true,
          "$ref": "GoogleCloudDocumentaiV1beta3Document",
          "description": "The document that needs human review."
        },
        "documentSchema": {
          "description": "The document schema of the human review task.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentSchema"
        },
        "enableSchemaValidation": {
          "type": "boolean",
          "description": "Whether the validation should be performed on the ad-hoc review request."
        }
      },
      "type": "object"
    },
    "GoogleTypeTimeZone": {
      "type": "object",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "properties": {
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "id": "GoogleTypeTimeZone"
    },
    "GoogleCloudDocumentaiV1beta3DocumentBlobAsset": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentBlobAsset",
      "description": "Represents a blob asset. It's used to store the content of the inline blob in this document, for example, image bytes, such that it can be referenced by other fields in the document via asset ID.",
      "properties": {
        "content": {
          "format": "byte",
          "description": "Optional. The content of the blob asset, for example, image bytes.",
          "type": "string"
        },
        "mimeType": {
          "description": "The mime type of the blob asset. An IANA published [media type (MIME type)](https://www.iana.org/assignments/media-types/media-types.xhtml).",
          "type": "string"
        },
        "assetId": {
          "type": "string",
          "description": "Optional. The ID of the blob asset."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadataIndividualImportStatus": {
      "type": "object",
      "description": "The status of each individual document in the import process.",
      "properties": {
        "outputGcsDestination": {
          "type": "string",
          "description": "The output_gcs_destination of the processed document if it was successful, otherwise empty."
        },
        "outputDocumentId": {
          "description": "The document ID of imported document if it was successful, otherwise empty.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentId"
        },
        "status": {
          "description": "The status of the importing of the document.",
          "$ref": "GoogleRpcStatus"
        },
        "inputGcsSource": {
          "description": "The source Cloud Storage URI of the document.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadataIndividualImportStatus"
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageImageQualityScoresDetectedDefect": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageImageQualityScoresDetectedDefect",
      "description": "Image Quality Defects",
      "properties": {
        "confidence": {
          "format": "float",
          "description": "Confidence of detected defect. Range `[0, 1]` where `1` indicates strong confidence that the defect exists.",
          "type": "number"
        },
        "type": {
          "description": "Name of the defect type. Supported values are: - `quality/defect_blurry` - `quality/defect_noisy` - `quality/defect_dark` - `quality/defect_faint` - `quality/defect_text_too_small` - `quality/defect_document_cutoff` - `quality/defect_text_cutoff` - `quality/defect_glare`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInput": {
      "type": "object",
      "description": "Definition of the validation rules. Those are the input to the validator logic and they are used to validate a document. Next ID: 3",
      "properties": {
        "validationRules": {
          "type": "array",
          "items": {
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRule"
          }
        }
      },
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInput"
    },
    "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadata",
      "description": "Metadata of the import document operation.",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        },
        "individualImportStatuses": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataIndividualImportStatus"
          },
          "type": "array",
          "description": "The list of response details of each document."
        },
        "totalDocumentCount": {
          "type": "integer",
          "description": "Total number of the documents that are qualified for importing.",
          "format": "int32"
        },
        "importConfigValidationResults": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataImportConfigValidationResult"
          },
          "type": "array",
          "description": "Validation statuses of the batch documents import config."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3ImportProcessorVersionMetadata": {
      "type": "object",
      "description": "The long-running operation metadata for the ImportProcessorVersion method.",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata for the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3ImportProcessorVersionMetadata"
    },
    "GoogleCloudDocumentaiV1beta3DocumentOutputConfigGcsOutputConfig": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentOutputConfigGcsOutputConfig",
      "description": "The configuration used when outputting documents.",
      "properties": {
        "gcsUri": {
          "description": "The Cloud Storage uri (a directory) of the output.",
          "type": "string"
        },
        "fieldMask": {
          "format": "google-fieldmask",
          "description": "Specifies which fields to include in the output documents. Only supports top level document and pages field so it must be in the form of `{document_field_name}` or `pages.{page_field_name}`.",
          "type": "string"
        },
        "shardingConfig": {
          "description": "Specifies the sharding config for the output document.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentOutputConfigGcsOutputConfigShardingConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3SetDefaultProcessorVersionResponse": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3SetDefaultProcessorVersionResponse",
      "description": "Response message for the SetDefaultProcessorVersion method.",
      "properties": {}
    },
    "GoogleTypePostalAddress": {
      "id": "GoogleTypePostalAddress",
      "description": "Represents a postal address, such as for postal delivery or payments addresses. With a postal address, a postal service can deliver items to a premise, P.O. box, or similar. A postal address is not intended to model geographical locations like roads, towns, or mountains. In typical usage, an address would be created by user input or from importing existing data, depending on the type of process. Advice on address input or editing: - Use an internationalization-ready address widget such as https://github.com/google/libaddressinput. - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, see: https://support.google.com/business/answer/6397478.",
      "properties": {
        "addressLines": {
          "description": "Unstructured address lines describing the lower levels of an address. Because values in `address_lines` do not have type information and may sometimes contain multiple values in a single field (for example, \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country or region of the address. In places where this can vary (for example, Japan), `address_language` is used to make it explicit (for example, \"ja\" for large-to-small ordering and \"ja-Latn\" or \"en\" for small-to-large). In this way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a `region_code` with all remaining information placed in the `address_lines`. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a `region_code` and `address_lines` and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "organization": {
          "type": "string",
          "description": "Optional. The name of the organization at the address."
        },
        "postalCode": {
          "description": "Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (for example, state or zip code validation in the United States).",
          "type": "string"
        },
        "administrativeArea": {
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. For Spain, this is the province and not the autonomous community (for example, \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. For example, in Switzerland, this should be left unpopulated.",
          "type": "string"
        },
        "revision": {
          "description": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions.",
          "format": "int32",
          "type": "integer"
        },
        "regionCode": {
          "description": "Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See https://cldr.unicode.org/ and https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland.",
          "type": "string"
        },
        "locality": {
          "description": "Optional. Generally refers to the city or town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave `locality` empty and use `address_lines`.",
          "type": "string"
        },
        "sublocality": {
          "type": "string",
          "description": "Optional. Sublocality of the address. For example, this can be a neighborhood, borough, or district."
        },
        "recipients": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain \"care of\" information."
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\"."
        },
        "sortingCode": {
          "type": "string",
          "description": "Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like \"CEDEX\", optionally followed by a number (for example, \"CEDEX 7\"), or just a number alone, representing the \"sector code\" (Jamaica), \"delivery area indicator\" (Malawi) or \"post office indicator\" (Côte d'Ivoire)."
        }
      },
      "type": "object"
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleAlignmentRule": {
      "type": "object",
      "description": "A rule for checking field alignment. Horizontal alignment checks if fields are on the same row by comparing y-coordinates of bounding box centers, while vertical alignment checks if fields are on the same column by comparing x-coordinates of bounding box centers.",
      "properties": {
        "alignmentType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "ALIGNMENT_TYPE_UNSPECIFIED",
            "ALIGNMENT_TYPE_HORIZONTAL",
            "ALIGNMENT_TYPE_VERTICAL"
          ]
        },
        "tolerance": {
          "type": "number",
          "format": "float",
          "description": "The tolerance to use when comparing coordinates."
        }
      },
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleAlignmentRule"
    },
    "GoogleCloudDocumentaiV1beta3DatasetGCSManagedConfig": {
      "description": "Configuration specific to the Cloud Storage-based implementation.",
      "properties": {
        "gcsPrefix": {
          "description": "Required. The Cloud Storage URI (a directory) where the documents belonging to the dataset must be stored.",
          "$ref": "GoogleCloudDocumentaiV1beta3GcsPrefix"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DatasetGCSManagedConfig",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentSchemaEntityTypeEnumValues": {
      "description": "Defines the a list of enum values.",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The individual values that this enum values type can include."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentSchemaEntityTypeEnumValues",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3ImportDocumentsRequest": {
      "properties": {
        "batchDocumentsImportConfigs": {
          "description": "Required. The Cloud Storage uri containing raw documents that must be imported.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3ImportDocumentsRequestBatchDocumentsImportConfig"
          }
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3ImportDocumentsRequest",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentDocumentLayout": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayout",
      "description": "Represents the parsed layout of a document as a collection of blocks that the document is divided into.",
      "properties": {
        "blocks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentDocumentLayoutDocumentLayoutBlock"
          },
          "description": "List of blocks in the document."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentSchema": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentSchema",
      "description": "The schema defines the output of the processed document by a processor.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name to show users."
        },
        "description": {
          "type": "string",
          "description": "Description of the schema."
        },
        "metadata": {
          "description": "Metadata of the schema.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentSchemaMetadata"
        },
        "documentPrompt": {
          "type": "string",
          "description": "Optional. Document-level prompt provided by the user. This custom text is injected into the AI model's prompt to provide extra, document-wide guidance for processing."
        },
        "entityTypes": {
          "description": "Entity types of the schema.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentSchemaEntityType"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3BatchUpdateDocumentsResponse": {
      "type": "object",
      "description": "Response of the batch update documents operation.",
      "properties": {},
      "id": "GoogleCloudDocumentaiUiv1beta3BatchUpdateDocumentsResponse"
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleChildAlignmentRule": {
      "type": "object",
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleChildAlignmentRule",
      "description": "A rule that aligns specified child fields with a parent field.",
      "properties": {
        "childFields": {
          "items": {
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField"
          },
          "type": "array",
          "description": "The child fields to be aligned within the parent field."
        },
        "parentField": {
          "description": "The full path of the parent field.",
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField"
        },
        "alignmentRule": {
          "description": "The alignment rule to apply to the child fields.",
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleAlignmentRule"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3ResyncDatasetResponse": {
      "id": "GoogleCloudDocumentaiUiv1beta3ResyncDatasetResponse",
      "description": "The response proto of ResyncDataset method.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3DocumentSchema": {
      "id": "GoogleCloudDocumentaiUiv1beta3DocumentSchema",
      "description": "The schema defines the output of the processed document by a processor.",
      "properties": {
        "displayName": {
          "description": "Display name to show users.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the schema."
        },
        "metadata": {
          "description": "Metadata of the schema.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentSchemaMetadata"
        },
        "documentPrompt": {
          "type": "string",
          "description": "Optional. Document-level prompt provided by the user. This custom text is injected into the AI model's prompt to provide extra, document-wide guidance for processing."
        },
        "entityTypes": {
          "description": "Entity types of the schema.",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentSchemaEntityType"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3EnableProcessorResponse": {
      "id": "GoogleCloudDocumentaiUiv1beta3EnableProcessorResponse",
      "description": "Response message for the EnableProcessor method. Intentionally empty proto for adding fields in future.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudDocumentaiV1BatchProcessMetadataIndividualProcessStatus": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1BatchProcessMetadataIndividualProcessStatus",
      "description": "The status of a each individual document in the batch process.",
      "properties": {
        "outputGcsDestination": {
          "type": "string",
          "description": "The Cloud Storage output destination (in the request as DocumentOutputConfig.GcsOutputConfig.gcs_uri) of the processed document if it was successful, otherwise empty."
        },
        "inputGcsSource": {
          "description": "The source of the document, same as the input_gcs_source field in the request when the batch process started.",
          "type": "string"
        },
        "humanReviewStatus": {
          "description": "The status of human review on the processed document.",
          "$ref": "GoogleCloudDocumentaiV1HumanReviewStatus"
        },
        "status": {
          "description": "The status processing the document.",
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "GoogleProtobufEmpty"
    },
    "GoogleCloudDocumentaiV1beta3EvaluateProcessorVersionRequest": {
      "id": "GoogleCloudDocumentaiV1beta3EvaluateProcessorVersionRequest",
      "description": "Evaluates the given ProcessorVersion against the supplied documents.",
      "properties": {
        "evaluationDocuments": {
          "description": "Optional. The documents used in the evaluation. If unspecified, use the processor's dataset as evaluation input.",
          "$ref": "GoogleCloudDocumentaiV1beta3BatchDocumentsInputConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3ProcessorVersionGenAiModelInfo": {
      "id": "GoogleCloudDocumentaiUiv1beta3ProcessorVersionGenAiModelInfo",
      "description": "Information about Generative AI model-based processor versions.",
      "properties": {
        "foundationGenAiModelInfo": {
          "description": "Information for a pretrained Google-managed foundation model.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3ProcessorVersionGenAiModelInfoFoundationGenAiModelInfo"
        },
        "customGenAiModelInfo": {
          "description": "Information for a custom Generative AI model created by the user.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3ProcessorVersionGenAiModelInfoCustomGenAiModelInfo"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentTextAnchor": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DocumentTextAnchor",
      "description": "Text reference indexing into the Document.text.",
      "properties": {
        "content": {
          "type": "string",
          "description": "Contains the content of the text span so that users do not have to look it up in the text_segments. It is always populated for formFields."
        },
        "textSegments": {
          "description": "The text segments from the Document.text.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentTextAnchorTextSegment"
          }
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3SetDefaultProcessorVersionMetadata": {
      "type": "object",
      "description": "The long-running operation metadata for the SetDefaultProcessorVersion method.",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3SetDefaultProcessorVersionMetadata"
    },
    "GoogleCloudDocumentaiV1beta3GcsDocuments": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3GcsDocuments",
      "description": "Specifies a set of documents on Cloud Storage.",
      "properties": {
        "documents": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3GcsDocument"
          },
          "type": "array",
          "description": "The list of documents."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3EvaluationCounters": {
      "type": "object",
      "description": "Evaluation counters for the documents that were used.",
      "properties": {
        "evaluatedDocumentsCount": {
          "type": "integer",
          "format": "int32",
          "description": "How many documents were used in the evaluation."
        },
        "inputDocumentsCount": {
          "format": "int32",
          "description": "How many documents were sent for evaluation.",
          "type": "integer"
        },
        "invalidDocumentsCount": {
          "format": "int32",
          "description": "How many documents were not included in the evaluation as they didn't pass validation.",
          "type": "integer"
        },
        "failedDocumentsCount": {
          "type": "integer",
          "description": "How many documents were not included in the evaluation as Document AI failed to process them.",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3EvaluationCounters"
    },
    "GoogleCloudDocumentaiV1beta3ProcessorVersionDeprecationInfo": {
      "id": "GoogleCloudDocumentaiV1beta3ProcessorVersionDeprecationInfo",
      "description": "Information about the upcoming deprecation of this processor version.",
      "properties": {
        "deprecationTime": {
          "type": "string",
          "description": "The time at which this processor version will be deprecated.",
          "format": "google-datetime"
        },
        "replacementProcessorVersion": {
          "type": "string",
          "description": "If set, the processor version that will be used as a replacement."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3ProcessorType": {
      "type": "object",
      "description": "A processor type is responsible for performing a certain document understanding task on a certain type of document.",
      "properties": {
        "availableLocations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3ProcessorTypeLocationInfo"
          },
          "description": "The locations in which this processor is available."
        },
        "category": {
          "type": "string",
          "description": "The processor category, used by UI to group processor types."
        },
        "allowCreation": {
          "description": "Whether the processor type allows creation. If true, users can create a processor of this processor type. Otherwise, users need to request access.",
          "type": "boolean"
        },
        "type": {
          "type": "string",
          "description": "The processor type, such as: `OCR_PROCESSOR`, `INVOICE_PROCESSOR`."
        },
        "launchStage": {
          "description": "Launch stage of the processor type",
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don't have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the \"Deprecation Policy\" section of our [Terms of Service](https://cloud.google.com/terms/) and the [Google Cloud Platform Subject to the Deprecation Policy](https://cloud.google.com/terms/deprecation) documentation."
          ],
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ],
          "type": "string"
        },
        "sampleDocumentUris": {
          "description": "A set of Cloud Storage URIs of sample documents for this processor.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "The resource name of the processor type. Format: `projects/{project}/processorTypes/{processor_type}`"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3ProcessorType"
    },
    "GoogleCloudDocumentaiV1beta3BatchProcessMetadataIndividualProcessStatus": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3BatchProcessMetadataIndividualProcessStatus",
      "description": "The status of a each individual document in the batch process.",
      "properties": {
        "outputGcsDestination": {
          "type": "string",
          "description": "The Cloud Storage output destination (in the request as DocumentOutputConfig.GcsOutputConfig.gcs_uri) of the processed document if it was successful, otherwise empty."
        },
        "inputGcsSource": {
          "description": "The source of the document, same as the input_gcs_source field in the request when the batch process started.",
          "type": "string"
        },
        "humanReviewStatus": {
          "description": "The status of human review on the processed document.",
          "$ref": "GoogleCloudDocumentaiV1beta3HumanReviewStatus"
        },
        "status": {
          "description": "The status processing the document.",
          "$ref": "GoogleRpcStatus"
        },
        "humanReviewOperation": {
          "description": "The name of the operation triggered by the processed document. If the human review process isn't triggered, this field will be empty. It has the same response type and metadata as the long-running operation returned by the ReviewDocument method.",
          "deprecated": true,
          "type": "string"
        }
      }
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleEntityAlignmentRule": {
      "type": "object",
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleEntityAlignmentRule",
      "description": "A rule that aligns specified fields with each other.",
      "properties": {
        "fields": {
          "description": "The fields to be aligned.",
          "items": {
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField"
          },
          "type": "array"
        },
        "alignmentRule": {
          "description": "The alignment rule to apply to the fields.",
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleAlignmentRule"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3ProcessorVersionGenAiModelInfoCustomGenAiModelInfo": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3ProcessorVersionGenAiModelInfoCustomGenAiModelInfo",
      "description": "Information for a custom Generative AI model created by the user. These are created with `Create New Version` in either the `Call foundation model` or `Fine tuning` tabs.",
      "properties": {
        "customModelType": {
          "type": "string",
          "description": "The type of custom model created by the user.",
          "enumDescriptions": [
            "The model type is unspecified.",
            "The model is a versioned foundation model.",
            "The model is a finetuned foundation model."
          ],
          "enum": [
            "CUSTOM_MODEL_TYPE_UNSPECIFIED",
            "VERSIONED_FOUNDATION",
            "FINE_TUNED"
          ]
        },
        "baseProcessorVersionId": {
          "description": "The base processor version ID for the custom model.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageDetectedBarcode": {
      "description": "A detected barcode.",
      "properties": {
        "layout": {
          "description": "Layout for DetectedBarcode.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageLayout"
        },
        "barcode": {
          "description": "Detailed barcode information of the DetectedBarcode.",
          "$ref": "GoogleCloudDocumentaiV1beta3Barcode"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageDetectedBarcode",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DeleteProcessorVersionMetadata": {
      "id": "GoogleCloudDocumentaiV1beta3DeleteProcessorVersionMetadata",
      "description": "The long-running operation metadata for the DeleteProcessorVersion method.",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentPageDetectedLanguage": {
      "type": "object",
      "description": "Detected language for a structural component.",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "The [BCP-47 language code](https://www.unicode.org/reports/tr35/#Unicode_locale_identifier), such as `en-US` or `sr-Latn`."
        },
        "confidence": {
          "type": "number",
          "description": "Confidence of detected language. Range `[0, 1]`.",
          "format": "float"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentPageDetectedLanguage"
    },
    "GoogleCloudDocumentaiV1beta3ListDocumentsResponse": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3ListDocumentsResponse",
      "properties": {
        "documentMetadata": {
          "description": "Document metadata corresponding to the listed documents.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentMetadata"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as ListDocumentsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "description": "Total count of documents queried.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3SchemaGenerationHistory": {
      "type": "object",
      "description": "The history of schema generation iterations.",
      "properties": {
        "iterations": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3SchemaGenerationIteration"
          },
          "type": "array",
          "description": "Required. Previous prompt-answers in a chronological order."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3SchemaGenerationHistory"
    },
    "GoogleCloudDocumentaiV1beta3EvaluationMultiConfidenceMetrics": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3EvaluationMultiConfidenceMetrics",
      "description": "Metrics across multiple confidence levels.",
      "properties": {
        "confidenceLevelMetricsExact": {
          "description": "Metrics across confidence levels with only exact matching.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3EvaluationConfidenceLevelMetrics"
          }
        },
        "estimatedCalibrationError": {
          "type": "number",
          "description": "The Estimated Calibration Error (ECE) of the confidence of the predicted entities.",
          "format": "float"
        },
        "estimatedCalibrationErrorExact": {
          "type": "number",
          "description": "The ECE for the predicted entities with fuzzy matching disabled, i.e., exact matching only.",
          "format": "float"
        },
        "confidenceLevelMetrics": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3EvaluationConfidenceLevelMetrics"
          },
          "type": "array",
          "description": "Metrics across confidence levels with fuzzy matching enabled."
        },
        "auprcExact": {
          "format": "float",
          "description": "The AUPRC for metrics with fuzzy matching disabled, i.e., exact matching only.",
          "type": "number"
        },
        "metricsType": {
          "description": "The metrics type for the label.",
          "enumDescriptions": [
            "The metrics type is unspecified. By default, metrics without a particular specification are for leaf entity types (i.e., top-level entity types without child types, or child types which are not parent types themselves).",
            "Indicates whether metrics for this particular label type represent an aggregate of metrics for other types instead of being based on actual TP/FP/FN values for the label type. Metrics for parent (i.e., non-leaf) entity types are an aggregate of metrics for their children."
          ],
          "enum": [
            "METRICS_TYPE_UNSPECIFIED",
            "AGGREGATE"
          ],
          "type": "string"
        },
        "auprc": {
          "type": "number",
          "description": "The calculated area under the precision recall curve (AUPRC), computed by integrating over all confidence thresholds.",
          "format": "float"
        }
      }
    },
    "GoogleCloudDocumentaiV1TrainProcessorVersionMetadataDatasetValidation": {
      "id": "GoogleCloudDocumentaiV1TrainProcessorVersionMetadataDatasetValidation",
      "description": "The dataset validation information. This includes any and all errors with documents and the dataset.",
      "properties": {
        "documentErrorCount": {
          "type": "integer",
          "description": "The total number of document errors.",
          "format": "int32"
        },
        "documentErrors": {
          "description": "Error information pertaining to specific documents. A maximum of 10 document errors will be returned. Any document with errors will not be used throughout training.",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "type": "array"
        },
        "datasetErrorCount": {
          "type": "integer",
          "description": "The total number of dataset errors.",
          "format": "int32"
        },
        "datasetErrors": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Error information for the dataset as a whole. A maximum of 10 dataset errors will be returned. A single dataset error is terminal for training."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentAnnotations": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentAnnotations",
      "description": "Represents the annotation of a block or a chunk.",
      "properties": {
        "description": {
          "description": "The description of the content with this annotation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DatasetUnmanagedDatasetConfig": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DatasetUnmanagedDatasetConfig",
      "description": "Configuration specific to an unmanaged dataset.",
      "properties": {}
    },
    "GoogleLongrunningOperation": {
      "type": "object",
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3ImportDocumentsRequestBatchDocumentsImportConfig": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3ImportDocumentsRequestBatchDocumentsImportConfig",
      "description": "Config for importing documents. Each batch can have its own dataset split type.",
      "properties": {
        "datasetSplit": {
          "description": "Target dataset split where the documents must be stored.",
          "enumDescriptions": [
            "Default value if the enum is not set.",
            "Identifies the train documents.",
            "Identifies the test documents.",
            "Identifies the unassigned documents."
          ],
          "enum": [
            "DATASET_SPLIT_TYPE_UNSPECIFIED",
            "DATASET_SPLIT_TRAIN",
            "DATASET_SPLIT_TEST",
            "DATASET_SPLIT_UNASSIGNED"
          ],
          "type": "string"
        },
        "batchInputConfig": {
          "description": "The common config to specify a set of documents used as input.",
          "$ref": "GoogleCloudDocumentaiV1beta3BatchDocumentsInputConfig"
        },
        "documentType": {
          "description": "Optional. If set, determines the type of the documents to be imported in this batch. It can be used to auto-label the documents with a single entity of the provided type. This field can only be used with a classifier or splitter processor. Providing this field is mutually exclusive with `entities` and `auto_labeling_config`.",
          "type": "string"
        },
        "autoSplitConfig": {
          "description": "If set, documents will be automatically split into training and test split category with the specified ratio.",
          "$ref": "GoogleCloudDocumentaiV1beta3ImportDocumentsRequestBatchDocumentsImportConfigAutoSplitConfig"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentEntity": {
      "description": "An entity that could be a phrase in the text or a property that belongs to the document. It is a known entity type, such as a person, an organization, or location.",
      "properties": {
        "normalizedValue": {
          "description": "Optional. Normalized entity value. Absent if the extracted value could not be converted or the type (for example, address) is not supported for certain parsers. This field is also only populated for certain supported document types.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentEntityNormalizedValue"
        },
        "confidence": {
          "description": "Optional. Confidence of detected Schema entity. Range `[0, 1]`.",
          "format": "float",
          "type": "number"
        },
        "mentionId": {
          "type": "string",
          "description": "Optional. Deprecated. Use `id` field instead."
        },
        "redacted": {
          "type": "boolean",
          "description": "Optional. Whether the entity will be redacted for de-identification purposes."
        },
        "pageAnchor": {
          "description": "Optional. Represents the provenance of this entity wrt. the location on the page where it was found.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentPageAnchor"
        },
        "id": {
          "type": "string",
          "description": "Optional. Canonical id. This will be a unique value in the entity list for this document."
        },
        "method": {
          "type": "string",
          "description": "Optional. Specifies how the entity's value is obtained.",
          "enumDescriptions": [
            "When the method is not specified, it should be treated as `EXTRACT`.",
            "The entity's value is directly extracted as-is from the document text.",
            "The entity's value is derived through inference and is not necessarily an exact text extraction from the document."
          ],
          "enum": [
            "METHOD_UNSPECIFIED",
            "EXTRACT",
            "DERIVE"
          ]
        },
        "type": {
          "type": "string",
          "description": "Required. Entity type from a schema, for example, `Address`."
        },
        "textAnchor": {
          "description": "Optional. Provenance of the entity. Text anchor indexing into the Document.text.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentTextAnchor"
        },
        "mentionText": {
          "description": "Optional. Text value of the entity, for example, `1600 Amphitheatre Pkwy`.",
          "type": "string"
        },
        "provenance": {
          "description": "Optional. The history of this annotation.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentProvenance"
        },
        "properties": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3DocumentEntity"
          },
          "description": "Optional. Entities can be nested to form a hierarchical data structure representing the content in the document."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentEntity",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3ImportProcessorVersionResponse": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3ImportProcessorVersionResponse",
      "description": "The response message for the ImportProcessorVersion method.",
      "properties": {
        "processorVersion": {
          "type": "string",
          "description": "The destination processor version name."
        }
      }
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFieldOccurrences": {
      "type": "object",
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFieldOccurrences",
      "properties": {
        "field": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField"
        },
        "maxOccurrences": {
          "type": "integer",
          "format": "uint32"
        },
        "minOccurrences": {
          "type": "integer",
          "description": "Min and max occurrences of the field. If not set, there is limit set. The defined interval is a closed-closed interval, i.e. [min, max].",
          "format": "uint32"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3UndeployProcessorVersionMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3UndeployProcessorVersionMetadata",
      "description": "The long-running operation metadata for the UndeployProcessorVersion method.",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3ListSchemasResponse": {
      "type": "object",
      "description": "Response message for ListSchemas.",
      "properties": {
        "schemas": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3NextSchema"
          },
          "type": "array",
          "description": "The list of Schemas."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Points to the next Schema, otherwise empty."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3ListSchemasResponse"
    },
    "GoogleCloudDocumentaiV1TrainProcessorVersionMetadata": {
      "type": "object",
      "description": "The metadata that represents a processor version being created.",
      "properties": {
        "testDatasetValidation": {
          "description": "The test dataset validation information.",
          "$ref": "GoogleCloudDocumentaiV1TrainProcessorVersionMetadataDatasetValidation"
        },
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata"
        },
        "trainingDatasetValidation": {
          "description": "The training dataset validation information.",
          "$ref": "GoogleCloudDocumentaiV1TrainProcessorVersionMetadataDatasetValidation"
        }
      },
[...]
