{
  "version_module": true,
  "kind": "discovery#restDescription",
  "servicePath": "",
  "batchPath": "batch",
  "description": "Service to parse structured information from unstructured or semi-structured documents using state-of-the-art Google AI such as natural language, computer vision, translation, and AutoML.",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "Cloud Document AI API",
  "id": "documentai:v1",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    }
  },
  "baseUrl": "https://documentai.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://documentai.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "name": "documentai",
  "resources": {
    "projects": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "id": "documentai.projects.operations.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource."
                }
              },
              "flatPath": "v1/projects/{projectsId}/operations/{operationsId}"
            }
          }
        },
        "locations": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "description": "Gets information about a location.",
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "parameterOrder": [
                "name"
              ],
              "id": "documentai.projects.locations.get",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudLocationLocation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "id": "documentai.projects.locations.list",
              "response": {
                "$ref": "GoogleCloudLocationListLocationsResponse"
              },
              "parameters": {
                "extraLocationTypes": {
                  "type": "string",
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}/locations"
            },
            "fetchProcessorTypes": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The location of processor types to list. Format: `projects/{project}/locations/{location}`.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleCloudDocumentaiV1FetchProcessorTypesResponse"
              },
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:fetchProcessorTypes",
              "id": "documentai.projects.locations.fetchProcessorTypes",
              "description": "Fetches processor types. Note that we don't use ListProcessorTypes here, because it isn't paginated.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}:fetchProcessorTypes"
            }
          },
          "resources": {
            "processorTypes": {
              "methods": {
                "list": {
                  "id": "documentai.projects.locations.processorTypes.list",
                  "path": "v1/{+parent}/processorTypes",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The location of processor types to list. Format: `projects/{project}/locations/{location}`."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Used to retrieve the next page of results, empty if at the end of the list."
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of processor types to return. If unspecified, at most `100` processor types will be returned. The maximum value is `500`. Values above `500` will be coerced to `500`."
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processorTypes",
                  "description": "Lists the processor types that exist.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1ListProcessorTypesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processorTypes/{processorTypesId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processorTypes/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The processor type resource name."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1ProcessorType"
                  },
                  "id": "documentai.projects.locations.processorTypes.get",
                  "description": "Gets a processor type detail."
                }
              }
            },
            "processors": {
              "methods": {
                "disable": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                      "description": "Required. The processor resource name to be disabled.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1DisableProcessorRequest"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "documentai.projects.locations.processors.disable",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}:disable",
                  "path": "v1/{+name}:disable",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Disables a processor"
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The processor resource name to be deleted."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}",
                  "path": "v1/{+name}",
                  "description": "Deletes the processor, unloads all deployed model artifacts if it was enabled and then deletes all artifacts associated with this processor.",
                  "id": "documentai.projects.locations.processors.delete"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1ListProcessorsResponse"
                  },
                  "id": "documentai.projects.locations.processors.list",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent (project and location) which owns this collection of Processors. Format: `projects/{project}/locations/{location}`",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "We will return the processors sorted by creation time. The page token will point to the next processor.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of processors to return. If unspecified, at most `50` processors will be returned. The maximum value is `100`. Values above `100` will be coerced to `100`.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "description": "Lists all processors which belong to this project.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors",
                  "path": "v1/{+parent}/processors"
                },
                "setDefaultProcessorVersion": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+processor}:setDefaultProcessorVersion",
                  "id": "documentai.projects.locations.processors.setDefaultProcessorVersion",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}:setDefaultProcessorVersion",
                  "description": "Set the default (active) version of a Processor that will be used in ProcessDocument and BatchProcessDocuments.",
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1SetDefaultProcessorVersionRequest"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "processor": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                      "description": "Required. The resource name of the Processor to change default version.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "processor"
                  ]
                },
                "enable": {
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1EnableProcessorRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}:enable",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The processor resource name to be enabled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$"
                    }
                  },
                  "description": "Enables a processor",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:enable",
                  "id": "documentai.projects.locations.processors.enable"
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent (project and location) under which to create the processor. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1Processor"
                  },
                  "path": "v1/{+parent}/processors",
                  "id": "documentai.projects.locations.processors.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1Processor"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors",
                  "description": "Creates a processor from the ProcessorType provided. The processor will be at `ENABLED` state by default after its creation. Note that this method requires the `documentai.processors.create` permission on the project, which is highly privileged. A user or service account with this permission can create new processors that can interact with any gcs bucket in your project."
                },
                "process": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1ProcessResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1ProcessRequest"
                  },
                  "description": "Processes a single document.",
                  "path": "v1/{+name}:process",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}:process",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of the Processor or ProcessorVersion to use for processing. If a Processor is specified, the server will use its default version. Format: `projects/{project}/locations/{location}/processors/{processor}`, or `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$"
                    }
                  },
                  "id": "documentai.projects.locations.processors.process"
                },
                "batchProcess": {
                  "description": "LRO endpoint to batch process many documents. The output is written to Cloud Storage as JSON in the [Document] format.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}:batchProcess",
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1BatchProcessRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name of Processor or ProcessorVersion. Format: `projects/{project}/locations/{location}/processors/{processor}`, or `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$"
                    }
                  },
                  "path": "v1/{+name}:batchProcess",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "documentai.projects.locations.processors.batchProcess"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "documentai.projects.locations.processors.get",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The processor resource name.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Gets a processor detail.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1Processor"
                  }
                }
              },
              "resources": {
                "processorVersions": {
                  "resources": {
                    "evaluations": {
                      "methods": {
                        "list": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GoogleCloudDocumentaiV1ListEvaluationsResponse"
                          },
                          "id": "documentai.projects.locations.processors.processorVersions.evaluations.list",
                          "path": "v1/{+parent}/evaluations",
                          "description": "Retrieves a set of evaluations for a given processor version.",
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                              "description": "Required. The resource name of the ProcessorVersion to list evaluations for. `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`"
                            },
                            "pageToken": {
                              "description": "A page token, received from a previous `ListEvaluations` call. Provide this to retrieve the subsequent page.",
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "description": "The standard list page size. If unspecified, at most `5` evaluations are returned. The maximum value is `100`. Values above `100` are coerced to `100`.",
                              "format": "int32",
                              "type": "integer",
                              "location": "query"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}/evaluations",
                          "httpMethod": "GET"
                        },
                        "get": {
                          "description": "Retrieves a specific evaluation.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}/evaluations/{evaluationsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1/{+name}",
                          "response": {
                            "$ref": "GoogleCloudDocumentaiV1Evaluation"
                          },
                          "httpMethod": "GET",
                          "id": "documentai.projects.locations.processors.processorVersions.evaluations.get",
                          "parameters": {
                            "name": {
                              "description": "Required. The resource name of the Evaluation to get. `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}/evaluations/{evaluation}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+/evaluations/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  },
                  "methods": {
                    "undeploy": {
                      "id": "documentai.projects.locations.processors.processorVersions.undeploy",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}:undeploy",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                          "type": "string",
                          "description": "Required. The processor version resource name to be undeployed."
                        }
                      },
                      "httpMethod": "POST",
                      "description": "Undeploys the processor version.",
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1UndeployProcessorVersionRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v1/{+name}:undeploy",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "train": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions:train",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/processorVersions:train",
                      "id": "documentai.projects.locations.processors.processorVersions.train",
                      "description": "Trains a new processor version. Operation metadata is returned as TrainProcessorVersionMetadata.",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1TrainProcessorVersionRequest"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent (project, location and processor) to create the new version for. Format: `projects/{project}/locations/{location}/processors/{processor}`."
                        }
                      }
                    },
                    "deploy": {
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1DeployProcessorVersionRequest"
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "httpMethod": "POST",
                      "description": "Deploys the processor version.",
                      "parameters": {
                        "name": {
                          "description": "Required. The processor version resource name to be deployed.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "id": "documentai.projects.locations.processors.processorVersions.deploy",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}:deploy",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}:deploy"
                    },
                    "process": {
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}:process",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                          "description": "Required. The resource name of the Processor or ProcessorVersion to use for processing. If a Processor is specified, the server will use its default version. Format: `projects/{project}/locations/{location}/processors/{processor}`, or `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}:process",
                      "id": "documentai.projects.locations.processors.processorVersions.process",
                      "description": "Processes a single document.",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1ProcessRequest"
                      },
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1ProcessResponse"
                      }
                    },
                    "get": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1ProcessorVersion"
                      },
                      "description": "Gets a processor version detail.",
                      "id": "documentai.projects.locations.processors.processorVersions.get",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                          "type": "string",
                          "description": "Required. The processor resource name.",
                          "location": "path",
                          "required": true
                        }
                      }
                    },
                    "batchProcess": {
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1BatchProcessRequest"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The resource name of Processor or ProcessorVersion. Format: `projects/{project}/locations/{location}/processors/{processor}`, or `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}:batchProcess",
                      "httpMethod": "POST",
                      "id": "documentai.projects.locations.processors.processorVersions.batchProcess",
                      "path": "v1/{+name}:batchProcess",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "LRO endpoint to batch process many documents. The output is written to Cloud Storage as JSON in the [Document] format."
                    },
                    "delete": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}",
                      "path": "v1/{+name}",
                      "id": "documentai.projects.locations.processors.processorVersions.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes the processor version, all artifacts under the processor version will be deleted.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                          "type": "string",
                          "description": "Required. The processor version resource name to be deleted.",
                          "location": "path",
                          "required": true
                        }
                      }
                    },
                    "evaluateProcessorVersion": {
                      "id": "documentai.projects.locations.processors.processorVersions.evaluateProcessorVersion",
                      "parameters": {
                        "processorVersion": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The resource name of the ProcessorVersion to evaluate. `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "processorVersion"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}:evaluateProcessorVersion",
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1EvaluateProcessorVersionRequest"
                      },
                      "description": "Evaluates a ProcessorVersion against annotated documents, producing an Evaluation.",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v1/{+processorVersion}:evaluateProcessorVersion"
                    },
                    "list": {
                      "description": "Lists all versions of a processor.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions",
                      "id": "documentai.projects.locations.processors.processorVersions.list",
                      "path": "v1/{+parent}/processorVersions",
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1ListProcessorVersionsResponse"
                      },
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The maximum number of processor versions to return. If unspecified, at most `10` processor versions will be returned. The maximum value is `20`. Values above `20` will be coerced to `20`.",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "We will return the processor versions sorted by creation time. The page token will point to the next processor version.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. The parent (project, location and processor) to list all versions. Format: `projects/{project}/locations/{location}/processors/{processor}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "humanReviewConfig": {
                  "methods": {
                    "reviewDocument": {
                      "path": "v1/{+humanReviewConfig}:reviewDocument",
                      "description": "Send a document for Human Review. The input document should be processed by the specified processor.",
                      "deprecated": true,
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/humanReviewConfig:reviewDocument",
                      "parameterOrder": [
                        "humanReviewConfig"
                      ],
                      "id": "documentai.projects.locations.processors.humanReviewConfig.reviewDocument",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1ReviewDocumentRequest"
                      },
                      "parameters": {
                        "humanReviewConfig": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/humanReviewConfig$",
                          "description": "Required. The resource name of the HumanReviewConfig that the document will be reviewed with.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      }
                    }
                  },
                  "deprecated": true
                }
              }
            },
            "operations": {
              "methods": {
                "cancel": {
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "httpMethod": "POST",
                  "id": "documentai.projects.locations.operations.cancel",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "path": "v1/{+name}:cancel"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "documentai.projects.locations.operations.get",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1/{+name}"
                },
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "documentai.projects.locations.operations.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "The standard list page size.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations$",
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    }
                  },
                  "path": "v1/{+name}",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                }
              }
            },
            "schemas": {
              "methods": {
                "create": {
                  "path": "v1/{+parent}/schemas",
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1NextSchema"
                  },
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1NextSchema"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent (project and location) under which to create the Schema. Format: `projects/{project}/locations/{location}`",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "documentai.projects.locations.schemas.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a schema.",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemas"
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates a schema. Editable fields are: - `display_name` - `labels`",
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1NextSchema"
                  },
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1NextSchema"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}",
                  "path": "v1/{+name}",
                  "id": "documentai.projects.locations.schemas.patch",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Identifier. The resource name of the Schema. Format: `projects/{project}/locations/{location}/schemas/{schema}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+$",
                      "type": "string"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Optional. The update mask to apply to the resource. **Note:** Only the following fields can be updated: - `display_name` - `labels`"
                    }
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemas",
                  "description": "Lists Schemas.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of schema groups to return. If unspecified, at most `10` Schema will be returned. The maximum value is `20`. Values above `20` will be coerced to `20`."
                    },
                    "pageToken": {
                      "description": "Optional. Returns the schema groups sorted by creation time. The page token will point to the next Schema.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Format: `projects/{project}/locations/{location}`",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "documentai.projects.locations.schemas.list",
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1ListSchemasResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/schemas"
                },
                "get": {
                  "id": "documentai.projects.locations.schemas.get",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the Schema to get. Format: `projects/{project}/locations/{location}/schemas/{schema}`",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1NextSchema"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets a schema."
                },
                "delete": {
                  "parameters": {
                    "force": {
                      "location": "query",
                      "description": "Optional. If set to true, any child resources of this Schema will also be deleted. (Otherwise, the request will only work if the Schema has no child resources.)",
                      "type": "boolean"
                    },
                    "name": {
                      "description": "Required. The name of the Schema to be deleted. Format: `projects/{project}/locations/{location}/schemas/{schema}`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}",
                  "id": "documentai.projects.locations.schemas.delete",
                  "description": "Deletes a schema."
                }
              },
              "resources": {
                "schemaVersions": {
                  "methods": {
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/schemaVersions",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1SchemaVersion"
                      },
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1SchemaVersion"
                      },
                      "description": "Creates a schema version.",
                      "id": "documentai.projects.locations.schemas.schemaVersions.create",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+$",
                          "description": "Required. The parent (project and location) under which to create the SchemaVersion. Format: `projects/{project}/locations/{location}/schemas/{schema}`",
                          "location": "path",
                          "required": true
                        }
                      },
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}/schemaVersions"
                    },
                    "list": {
                      "path": "v1/{+parent}/schemaVersions",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}/schemaVersions",
                      "description": "Lists SchemaVersions.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1ListSchemaVersionsResponse"
                      },
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Returns the SchemaVersion sorted by creation time. The page token will point to the next SchemaVersion."
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of SchemaVersion to return. If unspecified, at most `10` SchemaVersion will be returned. The maximum value is `20`. Values above `20` will be coerced to `20`.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. Format: `projects/{project}/locations/{location}/schemas/{schema}`",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "id": "documentai.projects.locations.schemas.schemaVersions.list",
                      "httpMethod": "GET"
                    },
                    "patch": {
                      "parameters": {
                        "updateMask": {
                          "description": "Optional. The update mask to apply to the resource. **Note:** Only the following fields can be updated: - `display_name` - `labels`",
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+/schemaVersions/[^/]+$",
                          "description": "Identifier. The resource name of the SchemaVersion. Format: `projects/{project}/locations/{location}/schemas/{schema}/schemaVersions/{schema_version}`",
                          "location": "path",
                          "required": true
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}/schemaVersions/{schemaVersionsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "PATCH",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1SchemaVersion"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "documentai.projects.locations.schemas.schemaVersions.patch",
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1SchemaVersion"
                      },
                      "description": "Updates a schema version. Editable fields are: - `display_name` - `labels`"
                    },
                    "get": {
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1SchemaVersion"
                      },
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "documentai.projects.locations.schemas.schemaVersions.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+/schemaVersions/[^/]+$",
                          "description": "Required. The name of the SchemaVersion to get. Format: `projects/{project}/locations/{location}/schemas/{schema}/schemaVersions/{schema_version}`",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}/schemaVersions/{schemaVersionsId}",
                      "description": "Gets a schema version."
                    },
                    "generate": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}/schemaVersions:generate",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1GenerateSchemaVersionRequest"
                      },
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent (project, location and schema) under which to generate the SchemaVersion. Format: `projects/{project}/locations/{location}/schemas/{schema}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/schemaVersions:generate",
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1GenerateSchemaVersionResponse"
                      },
                      "description": "Generates a schema version.",
                      "id": "documentai.projects.locations.schemas.schemaVersions.generate"
                    },
                    "delete": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}/schemaVersions/{schemaVersionsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+/schemaVersions/[^/]+$",
                          "description": "Required. The name of the SchemaVersion to delete. Format: `projects/{project}/locations/{location}/schemas/{schema}/schemaVersions/{schema_version}`",
                          "location": "path",
                          "required": true
                        }
                      },
                      "id": "documentai.projects.locations.schemas.schemaVersions.delete",
                      "description": "Deletes a schema version.",
                      "httpMethod": "DELETE",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "operations": {
      "methods": {
        "delete": {
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "id": "documentai.operations.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "DELETE",
          "path": "v1/{+name}",
          "flatPath": "v1/operations/{operationsId}",
          "parameters": {
            "name": {
              "pattern": "^operations/.*$",
              "description": "The name of the operation resource to be deleted.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
          "parameterOrder": [
            "name"
          ]
        }
      }
    }
  },
  "basePath": "",
  "version": "v1",
  "ownerDomain": "google.com",
  "schemas": {
    "GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionResponse": {
      "id": "GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionResponse",
      "type": "object",
      "properties": {
        "evaluation": {
          "type": "string",
          "description": "The resource name of the created evaluation."
        }
      },
      "description": "Response of the EvaluateProcessorVersion method."
    },
    "GoogleCloudDocumentaiV1OcrConfigHints": {
      "description": "Hints for OCR Engine",
      "type": "object",
      "properties": {
        "languageHints": {
          "description": "List of BCP-47 language codes to use for OCR. In most cases, not specifying it yields the best results since it enables automatic language detection. For languages based on the Latin alphabet, setting hints is not needed. In rare cases, when the language of the text in the image is known, setting a hint will help get better results (although it will be a significant hindrance if the hint is wrong).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDocumentaiV1OcrConfigHints"
    },
    "GoogleCloudDocumentaiUiv1beta3SchemaEditabilityMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3SchemaEditabilityMetadata",
      "type": "object",
      "properties": {
        "processorVersions": {
          "items": {
            "type": "string"
          },
          "description": "Full resource name of processor versions that contain this label. e.g. `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`",
          "type": "array"
        },
        "editable": {
          "type": "boolean",
          "description": "Explicit flag that controls whether the label is editable."
        }
      },
      "description": "Metadata that specifies whether a label is editable and reasons why. These fields are read-only. Changing these fields has no impact on the backend."
    },
    "GoogleCloudDocumentaiV1BatchProcessMetadata": {
      "description": "The long-running operation metadata for BatchProcessDocuments.",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "The creation time of the operation.",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The last update time of the operation."
        },
        "individualProcessStatuses": {
          "description": "The list of response details of each document.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1BatchProcessMetadataIndividualProcessStatus"
          }
        },
        "state": {
          "description": "The state of the current batch processing.",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Request operation is waiting for scheduling.",
            "Request is being processed.",
            "The batch processing completed successfully.",
            "The batch processing was being cancelled.",
            "The batch processing was cancelled.",
            "The batch processing has failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "WAITING",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLING",
            "CANCELLED",
            "FAILED"
          ],
          "type": "string"
        },
        "stateMessage": {
          "description": "A message providing more details about the current state of processing. For example, the error message if the operation is failed.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1BatchProcessMetadata"
    },
    "GoogleCloudDocumentaiV1beta3DisableProcessorMetadata": {
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DisableProcessorMetadata",
      "description": "The long-running operation metadata for the DisableProcessor method.",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3SchemaEntityType": {
      "description": "EntityType is the wrapper of a label of the corresponding model with detailed attributes and limitations for entity-based processors. Multiple types can also compose a dependency tree to represent nested types.",
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3SchemaEntityType",
      "properties": {
        "enumValues": {
          "items": {
            "type": "string"
          },
          "description": "If specified, lists all the possible values for this entity.",
          "type": "array"
        },
        "source": {
          "enum": [
            "SOURCE_UNSPECIFIED",
            "PREDEFINED",
            "USER_INPUT"
          ],
          "enumDescriptions": [
            "Unspecified source.",
            "The entity type is in the predefined schema of a pretrained version of a processor.",
            "The entity type is added by the users either: - during an uptraining of an existing processor, or - during the process of creating a customized processor."
          ],
          "type": "string",
          "description": "Source of this entity type."
        },
        "occurrenceType": {
          "enumDescriptions": [
            "Unspecified occurrence type.",
            "The entity type will appear zero times or once.",
            "The entity type will appear zero or multiple times.",
            "The entity type will only appear exactly once.",
            "The entity type will appear once or more times."
          ],
          "enum": [
            "OCCURRENCE_TYPE_UNSPECIFIED",
            "OPTIONAL_ONCE",
            "OPTIONAL_MULTIPLE",
            "REQUIRED_ONCE",
            "REQUIRED_MULTIPLE"
          ],
          "description": "Occurrence type limits the number of times an entity type appears in the document.",
          "type": "string"
        },
        "hide": {
          "type": "boolean",
          "description": "If the entity type is hidden in the schema. This provides the functionality to temporally \"disable\" an entity without deleting it."
        },
        "method": {
          "enumDescriptions": [
            "Unspecified method. It defaults to `EXTRACT`.",
            "The entity's value is directly extracted as-is from the document text.",
            "The entity's value is derived through inference and is not necessarily an exact text extraction from the document.",
            "Attempts to extract the position and value as-is from the document text. If the value cannot be grounded in the text, it falls back to derivation through inference, for both position and value. Note: The inference fallback is currently only supported for boolean entities."
          ],
          "description": "Specifies how the entity's value is obtained.",
          "type": "string",
          "enum": [
            "METHOD_UNSPECIFIED",
            "EXTRACT",
            "DERIVE",
            "RELAXED_EXTRACT"
          ]
        },
        "type": {
          "description": "Name of the type. It must satisfy the following constraints: 1. Must be unique within the set of same level types (with case-insensitive match). 2. Maximum 64 characters. 3. Must start with a letter. 4. Allowed characters: ASCII letters [a-zA-Z], ASCII digits [0-9], or one of the following punctuation characters: * underscore '_' (recommended) * hyphen '-' (allowed, not recommended) * colon ':' (allowed, not recommended) NOTE: Whitespace characters are not allowed. 5. Cannot end with a punctuation character. 6. Cannot contain the following restricted strings: \"google\", \"DocumentAI\" (case-insensitive match). 7. A slash character '/' is reserved as a separator in flattened representations of nested entity types (e.g., \"line_item/amount\") in which case each part (e.g., \"line_item\", \"amount\") must comply with the rules defined above. We recommend using the snake case (\"snake_case\") in entity type names.",
          "type": "string"
        },
        "description": {
          "description": "Description of the entity type.",
          "type": "string"
        },
        "properties": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3SchemaEntityType"
          },
          "description": "Describing the nested structure of an entity. An EntityType may consist of several other EntityTypes. For example, in a document there can be an EntityType `ID`, which consists of EntityType `name` and `address`, with corresponding attributes, such as TEXT for both types and ONCE for occurrence types."
        },
        "baseType": {
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3EvaluationReference": {
      "type": "object",
      "description": "Gives a short summary of an evaluation, and links to the evaluation itself.",
      "id": "GoogleCloudDocumentaiV1beta3EvaluationReference",
      "properties": {
        "evaluation": {
          "type": "string",
          "description": "The resource name of the evaluation."
        },
        "aggregateMetricsExact": {
          "$ref": "GoogleCloudDocumentaiV1beta3EvaluationMetrics",
          "description": "An aggregate of the statistics for the evaluation with fuzzy matching off."
        },
        "aggregateMetrics": {
          "description": "An aggregate of the statistics for the evaluation with fuzzy matching on.",
          "$ref": "GoogleCloudDocumentaiV1beta3EvaluationMetrics"
        },
        "operation": {
          "type": "string",
          "description": "The resource name of the Long Running Operation for the evaluation."
        }
      }
    },
    "GoogleCloudDocumentaiV1EvaluationReference": {
      "type": "object",
      "properties": {
        "operation": {
          "description": "The resource name of the Long Running Operation for the evaluation.",
          "type": "string"
        },
        "aggregateMetrics": {
          "description": "An aggregate of the statistics for the evaluation with fuzzy matching on.",
          "$ref": "GoogleCloudDocumentaiV1EvaluationMetrics"
        },
        "evaluation": {
          "type": "string",
          "description": "The resource name of the evaluation."
        },
        "aggregateMetricsExact": {
          "$ref": "GoogleCloudDocumentaiV1EvaluationMetrics",
          "description": "An aggregate of the statistics for the evaluation with fuzzy matching off."
        }
      },
      "description": "Gives a short summary of an evaluation, and links to the evaluation itself.",
      "id": "GoogleCloudDocumentaiV1EvaluationReference"
    },
    "GoogleCloudDocumentaiUiv1beta3UndeployProcessorVersionMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3UndeployProcessorVersionMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "description": "The long-running operation metadata for the UndeployProcessorVersion method."
    },
    "GoogleCloudDocumentaiV1beta3FieldExtractionMetadata": {
      "id": "GoogleCloudDocumentaiV1beta3FieldExtractionMetadata",
      "type": "object",
      "properties": {
        "summaryOptions": {
          "$ref": "GoogleCloudDocumentaiV1beta3SummaryOptions",
          "description": "Summary options config."
        }
      },
      "description": "Metadata for how this field value is extracted."
    },
    "GoogleCloudDocumentaiUiv1beta3ImportDocumentsResponse": {
      "properties": {},
      "id": "GoogleCloudDocumentaiUiv1beta3ImportDocumentsResponse",
      "description": "Response of the import document operation.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentOutputConfigGcsOutputConfig": {
      "properties": {
        "gcsUri": {
          "type": "string",
          "description": "The Cloud Storage uri (a directory) of the output."
        },
        "shardingConfig": {
          "description": "Specifies the sharding config for the output document.",
          "$ref": "GoogleCloudDocumentaiV1DocumentOutputConfigGcsOutputConfigShardingConfig"
        },
        "fieldMask": {
          "description": "Specifies which fields to include in the output documents. Only supports top level document and pages field so it must be in the form of `{document_field_name}` or `pages.{page_field_name}`.",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentOutputConfigGcsOutputConfig",
      "description": "The configuration used when outputting documents."
    },
    "GoogleCloudDocumentaiUiv1beta3FieldTierMetadata": {
      "description": "Metadata for the field tier of a property.",
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3FieldTierMetadata",
      "properties": {
        "tierLevel": {
          "description": "Integer that indicates the tier of a property. e.g. Invoice has entities that are classified as tier 1 which is the most important, while tier 2 and tier 3 less so. This attribute can be used to filter schema attributes before running eval. e.g. compute F1 score for only tier 1 entities. If not present this attribute should be inferred as 1.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3BatchDeleteDocumentsResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDocumentaiUiv1beta3BatchDeleteDocumentsResponse",
      "description": "Response of the delete documents operation."
    },
    "GoogleCloudDocumentaiV1ProcessOptionsLayoutConfig": {
      "type": "object",
      "properties": {
        "chunkingConfig": {
          "$ref": "GoogleCloudDocumentaiV1ProcessOptionsLayoutConfigChunkingConfig",
          "description": "Optional. Config for chunking in layout parser processor."
        },
        "returnImages": {
          "description": "Optional. Whether to include images in layout parser processor response.",
          "type": "boolean"
        },
        "enableImageAnnotation": {
          "description": "Optional. Whether to include image annotations in layout parser response.",
          "type": "boolean"
        },
        "enableTableAnnotation": {
          "description": "Optional. Whether to include table annotations in layout parser response.",
          "type": "boolean"
        },
        "returnBoundingBoxes": {
          "description": "Optional. Whether to include bounding boxes in layout parser processor response.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDocumentaiV1ProcessOptionsLayoutConfig",
      "description": "Serving config for layout parser processor."
    },
    "GoogleCloudDocumentaiV1beta3DocumentIdGCSManagedDocumentId": {
      "description": "Identifies a document uniquely within the scope of a dataset in the user-managed Cloud Storage option.",
      "id": "GoogleCloudDocumentaiV1beta3DocumentIdGCSManagedDocumentId",
      "type": "object",
      "properties": {
        "cwDocId": {
          "description": "ID of the document (indexed) managed by Content Warehouse.",
          "deprecated": true,
          "type": "string"
        },
        "gcsUri": {
          "description": "Required. The Cloud Storage URI where the actual document is stored.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentPageAnchorPageRef": {
      "description": "Represents a weak reference to a page element within a document.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentPageAnchorPageRef",
      "properties": {
        "layoutId": {
          "type": "string",
          "deprecated": true,
          "description": "Optional. Deprecated. Use PageRef.bounding_poly instead."
        },
        "page": {
          "format": "int64",
          "description": "Required. Index into the Document.pages element, for example using `Document.pages` to locate the related page element. This field is skipped when its value is the default `0`. See https://developers.google.com/protocol-buffers/docs/proto3#json.",
          "type": "string"
        },
        "layoutType": {
          "enum": [
            "LAYOUT_TYPE_UNSPECIFIED",
            "BLOCK",
            "PARAGRAPH",
            "LINE",
            "TOKEN",
            "VISUAL_ELEMENT",
            "TABLE",
            "FORM_FIELD"
          ],
          "enumDescriptions": [
            "Layout Unspecified.",
            "References a Page.blocks element.",
            "References a Page.paragraphs element.",
            "References a Page.lines element.",
            "References a Page.tokens element.",
            "References a Page.visual_elements element.",
            "Refrrences a Page.tables element.",
            "References a Page.form_fields element."
          ],
          "description": "Optional. The type of the layout element that is being referenced if any.",
          "type": "string"
        },
        "boundingPoly": {
          "$ref": "GoogleCloudDocumentaiV1BoundingPoly",
          "description": "Optional. Identifies the bounding polygon of a layout element on the page. If `layout_type` is set, the bounding polygon must be exactly the same to the layout element it's referring to."
        },
        "confidence": {
          "format": "float",
          "description": "Optional. Confidence of detected page element, if applicable. Range `[0, 1]`.",
          "type": "number"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3EnableProcessorResponse": {
      "properties": {},
      "type": "object",
      "description": "Response message for the EnableProcessor method. Intentionally empty proto for adding fields in future.",
      "id": "GoogleCloudDocumentaiV1beta3EnableProcessorResponse"
    },
    "GoogleCloudDocumentaiV1beta3DatasetUnmanagedDatasetConfig": {
      "properties": {},
      "type": "object",
      "description": "Configuration specific to an unmanaged dataset.",
      "id": "GoogleCloudDocumentaiV1beta3DatasetUnmanagedDatasetConfig"
    },
    "GoogleCloudDocumentaiV1beta3ReviewDocumentOperationMetadata": {
      "description": "The long-running operation metadata for the ReviewDocument method.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3ReviewDocumentOperationMetadata",
      "properties": {
        "stateMessage": {
          "description": "A message providing more details about the current state of processing. For example, the error message if the operation is failed.",
          "type": "string"
        },
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        },
        "questionId": {
          "type": "string",
          "description": "The Crowd Compute question ID."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The creation time of the operation.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The last update time of the operation."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Operation is still running.",
            "Operation is being cancelled.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation is cancelled."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "CANCELLING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "description": "Used only when Operation.done is false."
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "type": "object",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableCell": {
      "type": "object",
      "description": "Represents a cell in a table row.",
      "properties": {
        "colSpan": {
          "description": "How many columns this cell spans.",
          "type": "integer",
          "format": "int32"
        },
        "blocks": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlock"
          },
          "type": "array",
          "description": "A table cell is a list of blocks. Repeated blocks support further hierarchies and nested blocks."
        },
        "rowSpan": {
          "type": "integer",
          "description": "How many rows this cell spans.",
          "format": "int32"
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableCell"
    },
    "GoogleCloudDocumentaiV1DocumentOutputConfigGcsOutputConfigShardingConfig": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentOutputConfigGcsOutputConfigShardingConfig",
      "description": "The sharding config for the output document.",
      "properties": {
        "pagesPerShard": {
          "type": "integer",
          "description": "The number of pages per shard.",
          "format": "int32"
        },
        "pagesOverlap": {
          "format": "int32",
          "description": "The number of overlapping pages between consecutive shards.",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDocumentaiV1EvaluationConfidenceLevelMetrics": {
      "id": "GoogleCloudDocumentaiV1EvaluationConfidenceLevelMetrics",
      "properties": {
        "metrics": {
          "description": "The metrics at the specific confidence level.",
          "$ref": "GoogleCloudDocumentaiV1EvaluationMetrics"
        },
        "confidenceLevel": {
          "description": "The confidence level.",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "description": "Evaluations metrics, at a specific confidence level."
    },
    "GoogleCloudDocumentaiV1ProcessorVersionGenAiModelInfoCustomGenAiModelInfo": {
      "type": "object",
      "properties": {
        "baseProcessorVersionId": {
          "description": "The base processor version ID for the custom model.",
          "type": "string"
        },
        "customModelType": {
          "enumDescriptions": [
            "The model type is unspecified.",
            "The model is a versioned foundation model.",
            "The model is a finetuned foundation model."
          ],
          "enum": [
            "CUSTOM_MODEL_TYPE_UNSPECIFIED",
            "VERSIONED_FOUNDATION",
            "FINE_TUNED"
          ],
          "type": "string",
          "description": "The type of custom model created by the user."
        }
      },
      "description": "Information for a custom Generative AI model created by the user. These are created with `Create New Version` in either the `Call foundation model` or `Fine tuning` tabs.",
      "id": "GoogleCloudDocumentaiV1ProcessorVersionGenAiModelInfoCustomGenAiModelInfo"
    },
    "GoogleCloudDocumentaiV1BatchProcessMetadataIndividualProcessStatus": {
      "properties": {
        "humanReviewStatus": {
          "$ref": "GoogleCloudDocumentaiV1HumanReviewStatus",
          "description": "The status of human review on the processed document."
        },
        "outputGcsDestination": {
          "type": "string",
          "description": "The Cloud Storage output destination (in the request as DocumentOutputConfig.GcsOutputConfig.gcs_uri) of the processed document if it was successful, otherwise empty."
        },
        "inputGcsSource": {
          "description": "The source of the document, same as the input_gcs_source field in the request when the batch process started.",
          "type": "string"
        },
        "status": {
          "description": "The status processing the document.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "id": "GoogleCloudDocumentaiV1BatchProcessMetadataIndividualProcessStatus",
      "description": "The status of a each individual document in the batch process.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3EvaluateProcessorVersionMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3EvaluateProcessorVersionMetadata",
      "description": "Metadata of the EvaluateProcessorVersion method.",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionMetadata": {
      "description": "Metadata of the EvaluateProcessorVersion method.",
      "id": "GoogleCloudDocumentaiUiv1beta3EvaluateProcessorVersionMetadata",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "type": "object"
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFieldOccurrences": {
      "properties": {
        "field": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField"
        },
        "minOccurrences": {
          "description": "Min and max occurrences of the field. If not set, there is limit set. The defined interval is a closed-closed interval, i.e. [min, max].",
          "type": "integer",
          "format": "uint32"
        },
        "maxOccurrences": {
          "type": "integer",
          "format": "uint32"
        }
      },
      "type": "object",
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFieldOccurrences"
    },
    "GoogleCloudDocumentaiV1beta3DeployProcessorVersionMetadata": {
      "type": "object",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DeployProcessorVersionMetadata",
      "description": "The long-running operation metadata for the DeployProcessorVersion method."
    },
    "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataImportConfigValidationResult": {
      "id": "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataImportConfigValidationResult",
      "properties": {
        "status": {
          "description": "The validation status of import config.",
          "$ref": "GoogleRpcStatus"
        },
        "inputGcsSource": {
          "type": "string",
          "description": "The source Cloud Storage URI specified in the import config."
        }
      },
      "type": "object",
      "description": "The validation status of each import config. Status is set to an error if there are no documents to import in the `import_config`, or `OK` if the operation will try to proceed with at least one document."
    },
    "GoogleCloudDocumentaiV1beta3EvaluateProcessorVersionResponse": {
      "type": "object",
      "description": "Response of the EvaluateProcessorVersion method.",
      "properties": {
        "evaluation": {
          "type": "string",
          "description": "The resource name of the created evaluation."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3EvaluateProcessorVersionResponse"
    },
    "GoogleCloudDocumentaiV1beta3DeleteProcessorVersionMetadata": {
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "description": "The long-running operation metadata for the DeleteProcessorVersion method.",
      "id": "GoogleCloudDocumentaiV1beta3DeleteProcessorVersionMetadata",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentPageTableTableRow": {
      "description": "A row of table cells.",
      "properties": {
        "cells": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageTableTableCell"
          },
[...]
