{
  "ownerName": "Google",
  "rootUrl": "https://documentai.googleapis.com/",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "ownerDomain": "google.com",
  "description": "Service to parse structured information from unstructured or semi-structured documents using state-of-the-art Google AI such as natural language, computer vision, translation, and AutoML.",
  "documentationLink": "https://cloud.google.com/document-ai/docs/",
  "id": "documentai:v1",
  "servicePath": "",
  "batchPath": "batch",
  "protocol": "rest",
  "endpoints": [
    {
      "location": "us",
      "endpointUrl": "https://documentai.us.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://documentai.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    },
    {
      "endpointUrl": "https://documentai.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "endpointUrl": "https://documentai.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast1"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://documentai.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://documentai.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast1"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://documentai.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://documentai.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "mtlsRootUrl": "https://documentai.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "operations": {
      "methods": {
        "delete": {
          "id": "documentai.operations.delete",
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "pattern": "^operations/.*$",
              "location": "path",
              "required": true,
              "description": "The name of the operation resource to be deleted.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
          "flatPath": "v1/operations/{operationsId}",
          "path": "v1/{+name}",
          "response": {
            "$ref": "GoogleProtobufEmpty"
          }
        }
      }
    },
    "projects": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "id": "documentai.projects.operations.get",
              "flatPath": "v1/projects/{projectsId}/operations/{operationsId}",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "The name of the operation resource.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "locations": {
          "methods": {
            "list": {
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer",
                  "format": "int32"
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage."
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "path": "v1/{+name}/locations",
              "response": {
                "$ref": "GoogleCloudLocationListLocationsResponse"
              },
              "flatPath": "v1/projects/{projectsId}/locations",
              "id": "documentai.projects.locations.list",
              "httpMethod": "GET"
            },
            "get": {
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudLocationLocation"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets information about a location.",
              "id": "documentai.projects.locations.get",
              "httpMethod": "GET"
            },
            "fetchProcessorTypes": {
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:fetchProcessorTypes",
              "path": "v1/{+parent}:fetchProcessorTypes",
              "response": {
                "$ref": "GoogleCloudDocumentaiV1FetchProcessorTypesResponse"
              },
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "description": "Required. The location of processor types to list. Format: `projects/{project}/locations/{location}`.",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Fetches processor types. Note that we don't use ListProcessorTypes here, because it isn't paginated.",
              "id": "documentai.projects.locations.fetchProcessorTypes",
              "httpMethod": "GET"
            }
          },
          "resources": {
            "schemas": {
              "methods": {
                "create": {
                  "httpMethod": "POST",
                  "id": "documentai.projects.locations.schemas.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemas",
                  "path": "v1/{+parent}/schemas",
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1NextSchema"
                  },
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1NextSchema"
                  },
                  "description": "Creates a schema.",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent (project and location) under which to create the Schema. Format: `projects/{project}/locations/{location}`"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "id": "documentai.projects.locations.schemas.delete",
                  "description": "Deletes a schema.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the Schema to be deleted. Format: `projects/{project}/locations/{location}/schemas/{schema}`"
                    },
                    "force": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If set to true, any child resources of this Schema will also be deleted. (Otherwise, the request will only work if the Schema has no child resources.)"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}"
                },
                "list": {
                  "httpMethod": "GET",
                  "id": "documentai.projects.locations.schemas.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemas",
                  "path": "v1/{+parent}/schemas",
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1ListSchemasResponse"
                  },
                  "description": "Lists Schemas.",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. Format: `projects/{project}/locations/{location}`",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of schema groups to return. If unspecified, at most `10` Schema will be returned. The maximum value is `20`. Values above `20` will be coerced to `20`.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. Returns the schema groups sorted by creation time. The page token will point to the next Schema.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "description": "Identifier. The resource name of the Schema. Format: `projects/{project}/locations/{location}/schemas/{schema}`",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+$"
                    },
                    "updateMask": {
                      "description": "Optional. The update mask to apply to the resource. **Note:** Only the following fields can be updated: - `display_name` - `labels`",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1NextSchema"
                  },
                  "description": "Updates a schema. Editable fields are: - `display_name` - `labels`",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1NextSchema"
                  },
                  "id": "documentai.projects.locations.schemas.patch",
                  "httpMethod": "PATCH"
                },
                "get": {
                  "id": "documentai.projects.locations.schemas.get",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1NextSchema"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the Schema to get. Format: `projects/{project}/locations/{location}/schemas/{schema}`",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets a schema."
                }
              },
              "resources": {
                "schemaVersions": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+/schemaVersions/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the SchemaVersion to get. Format: `projects/{project}/locations/{location}/schemas/{schema}/schemaVersions/{schema_version}`",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets a schema version.",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1SchemaVersion"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}/schemaVersions/{schemaVersionsId}",
                      "id": "documentai.projects.locations.schemas.schemaVersions.get",
                      "httpMethod": "GET"
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "id": "documentai.projects.locations.schemas.schemaVersions.patch",
                      "description": "Updates a schema version. Editable fields are: - `display_name` - `labels`",
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1SchemaVersion"
                      },
                      "parameters": {
                        "name": {
                          "description": "Identifier. The resource name of the SchemaVersion. Format: `projects/{project}/locations/{location}/schemas/{schema}/schemaVersions/{schema_version}`",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+/schemaVersions/[^/]+$"
                        },
                        "updateMask": {
                          "description": "Optional. The update mask to apply to the resource. **Note:** Only the following fields can be updated: - `display_name` - `labels`",
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1SchemaVersion"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}/schemaVersions/{schemaVersionsId}"
                    },
                    "generate": {
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent (project, location and schema) under which to generate the SchemaVersion. Format: `projects/{project}/locations/{location}/schemas/{schema}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Generates a schema version.",
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1GenerateSchemaVersionRequest"
                      },
                      "path": "v1/{+parent}/schemaVersions:generate",
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1GenerateSchemaVersionResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}/schemaVersions:generate",
                      "id": "documentai.projects.locations.schemas.schemaVersions.generate",
                      "httpMethod": "POST"
                    },
                    "delete": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}/schemaVersions/{schemaVersionsId}",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "Deletes a schema version.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+/schemaVersions/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the SchemaVersion to delete. Format: `projects/{project}/locations/{location}/schemas/{schema}/schemaVersions/{schema_version}`",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE",
                      "id": "documentai.projects.locations.schemas.schemaVersions.delete"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "id": "documentai.projects.locations.schemas.schemaVersions.list",
                      "description": "Lists SchemaVersions.",
                      "parameters": {
                        "parent": {
                          "description": "Required. Format: `projects/{project}/locations/{location}/schemas/{schema}`",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+$"
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of SchemaVersion to return. If unspecified, at most `10` SchemaVersion will be returned. The maximum value is `20`. Values above `20` will be coerced to `20`.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "Optional. Returns the SchemaVersion sorted by creation time. The page token will point to the next SchemaVersion.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/schemaVersions",
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1ListSchemaVersionsResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}/schemaVersions"
                    },
                    "create": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}/schemaVersions",
                      "path": "v1/{+parent}/schemaVersions",
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1SchemaVersion"
                      },
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1SchemaVersion"
                      },
                      "description": "Creates a schema version.",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent (project and location) under which to create the SchemaVersion. Format: `projects/{project}/locations/{location}/schemas/{schema}`",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "id": "documentai.projects.locations.schemas.schemaVersions.create"
                    }
                  }
                }
              }
            },
            "processorTypes": {
              "methods": {
                "get": {
                  "description": "Gets a processor type detail.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The processor type resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processorTypes/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processorTypes/{processorTypesId}",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1ProcessorType"
                  },
                  "httpMethod": "GET",
                  "id": "documentai.projects.locations.processorTypes.get"
                },
                "list": {
                  "httpMethod": "GET",
                  "id": "documentai.projects.locations.processorTypes.list",
                  "description": "Lists the processor types that exist.",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The location of processor types to list. Format: `projects/{project}/locations/{location}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of processor types to return. If unspecified, at most `100` processor types will be returned. The maximum value is `500`. Values above `500` will be coerced to `500`."
                    },
                    "pageToken": {
                      "description": "Used to retrieve the next page of results, empty if at the end of the list.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/processorTypes",
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1ListProcessorTypesResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processorTypes"
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "id": "documentai.projects.locations.operations.get",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "cancel": {
                  "httpMethod": "POST",
                  "id": "documentai.projects.locations.operations.cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "path": "v1/{+name}:cancel",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameters": {
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations$",
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "The standard list page size.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "documentai.projects.locations.operations.list"
                }
              }
            },
            "processors": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "id": "documentai.projects.locations.processors.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors",
                  "path": "v1/{+parent}/processors",
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1ListProcessorsResponse"
                  },
                  "description": "Lists all processors which belong to this project.",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent (project and location) which owns this collection of Processors. Format: `projects/{project}/locations/{location}`",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "The maximum number of processors to return. If unspecified, at most `50` processors will be returned. The maximum value is `100`. Values above `100` will be coerced to `100`.",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "We will return the processors sorted by creation time. The page token will point to the next processor.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "id": "documentai.projects.locations.processors.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1Processor"
                  },
                  "description": "Gets a processor detail.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                      "description": "Required. The processor resource name.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "enable": {
                  "id": "documentai.projects.locations.processors.enable",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                      "type": "string",
                      "description": "Required. The processor resource name to be enabled.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Enables a processor",
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1EnableProcessorRequest"
                  },
                  "path": "v1/{+name}:enable",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}:enable"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "id": "documentai.projects.locations.processors.delete",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}",
                  "description": "Deletes the processor, unloads all deployed model artifacts if it was enabled and then deletes all artifacts associated with this processor.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The processor resource name to be deleted.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "process": {
                  "id": "documentai.projects.locations.processors.process",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the Processor or ProcessorVersion to use for processing. If a Processor is specified, the server will use its default version. Format: `projects/{project}/locations/{location}/processors/{processor}`, or `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1ProcessRequest"
                  },
                  "description": "Processes a single document.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}:process",
                  "path": "v1/{+name}:process",
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1ProcessResponse"
                  }
                },
                "batchProcess": {
                  "id": "documentai.projects.locations.processors.batchProcess",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of Processor or ProcessorVersion. Format: `projects/{project}/locations/{location}/processors/{processor}`, or `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "LRO endpoint to batch process many documents. The output is written to Cloud Storage as JSON in the [Document] format.",
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1BatchProcessRequest"
                  },
                  "path": "v1/{+name}:batchProcess",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}:batchProcess"
                },
                "create": {
                  "id": "documentai.projects.locations.processors.create",
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/processors",
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1Processor"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent (project and location) under which to create the processor. Format: `projects/{project}/locations/{location}`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a processor from the ProcessorType provided. The processor will be at `ENABLED` state by default after its creation. Note that this method requires the `documentai.processors.create` permission on the project, which is highly privileged. A user or service account with this permission can create new processors that can interact with any gcs bucket in your project.",
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1Processor"
                  }
                },
                "setDefaultProcessorVersion": {
                  "httpMethod": "POST",
                  "id": "documentai.projects.locations.processors.setDefaultProcessorVersion",
                  "path": "v1/{+processor}:setDefaultProcessorVersion",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}:setDefaultProcessorVersion",
                  "description": "Set the default (active) version of a Processor that will be used in ProcessDocument and BatchProcessDocuments.",
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1SetDefaultProcessorVersionRequest"
                  },
                  "parameters": {
                    "processor": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of the Processor to change default version.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "processor"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "disable": {
                  "httpMethod": "POST",
                  "id": "documentai.projects.locations.processors.disable",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}:disable",
                  "path": "v1/{+name}:disable",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1DisableProcessorRequest"
                  },
                  "description": "Disables a processor",
                  "parameters": {
                    "name": {
                      "description": "Required. The processor resource name to be disabled.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              },
              "resources": {
                "humanReviewConfig": {
                  "deprecated": true,
                  "methods": {
                    "reviewDocument": {
                      "deprecated": true,
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/humanReviewConfig:reviewDocument",
                      "path": "v1/{+humanReviewConfig}:reviewDocument",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1ReviewDocumentRequest"
                      },
                      "description": "Send a document for Human Review. The input document should be processed by the specified processor.",
                      "parameters": {
                        "humanReviewConfig": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/humanReviewConfig$",
                          "description": "Required. The resource name of the HumanReviewConfig that the document will be reviewed with.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "humanReviewConfig"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "id": "documentai.projects.locations.processors.humanReviewConfig.reviewDocument"
                    }
                  }
                },
                "processorVersions": {
                  "methods": {
                    "train": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions:train",
                      "path": "v1/{+parent}/processorVersions:train",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent (project, location and processor) to create the new version for. Format: `projects/{project}/locations/{location}/processors/{processor}`."
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1TrainProcessorVersionRequest"
                      },
                      "description": "Trains a new processor version. Operation metadata is returned as TrainProcessorVersionMetadata.",
                      "id": "documentai.projects.locations.processors.processorVersions.train",
                      "httpMethod": "POST"
                    },
                    "get": {
                      "httpMethod": "GET",
                      "id": "documentai.projects.locations.processors.processorVersions.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1ProcessorVersion"
                      },
                      "description": "Gets a processor version detail.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                          "description": "Required. The processor resource name.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "undeploy": {
                      "id": "documentai.projects.locations.processors.processorVersions.undeploy",
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The processor version resource name to be undeployed."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Undeploys the processor version.",
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1UndeployProcessorVersionRequest"
                      },
                      "path": "v1/{+name}:undeploy",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}:undeploy"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "id": "documentai.projects.locations.processors.processorVersions.list",
                      "description": "Lists all versions of a processor.",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. The parent (project, location and processor) to list all versions. Format: `projects/{project}/locations/{location}/processors/{processor}`",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "The maximum number of processor versions to return. If unspecified, at most `10` processor versions will be returned. The maximum value is `20`. Values above `20` will be coerced to `20`."
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "We will return the processor versions sorted by creation time. The page token will point to the next processor version.",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/processorVersions",
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1ListProcessorVersionsResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions"
                    },
                    "batchProcess": {
                      "id": "documentai.projects.locations.processors.processorVersions.batchProcess",
                      "httpMethod": "POST",
                      "path": "v1/{+name}:batchProcess",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}:batchProcess",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                          "type": "string",
                          "description": "Required. The resource name of Processor or ProcessorVersion. Format: `projects/{project}/locations/{location}/processors/{processor}`, or `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "LRO endpoint to batch process many documents. The output is written to Cloud Storage as JSON in the [Document] format.",
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1BatchProcessRequest"
                      }
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "id": "documentai.projects.locations.processors.processorVersions.delete",
                      "description": "Deletes the processor version, all artifacts under the processor version will be deleted.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                          "type": "string",
                          "description": "Required. The processor version resource name to be deleted.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    },
                    "process": {
                      "description": "Processes a single document.",
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1ProcessRequest"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource name of the Processor or ProcessorVersion to use for processing. If a Processor is specified, the server will use its default version. Format: `projects/{project}/locations/{location}/processors/{processor}`, or `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}:process",
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1ProcessResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}:process",
                      "httpMethod": "POST",
                      "id": "documentai.projects.locations.processors.processorVersions.process"
                    },
                    "deploy": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}:deploy",
                      "path": "v1/{+name}:deploy",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1DeployProcessorVersionRequest"
                      },
                      "description": "Deploys the processor version.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                          "type": "string",
                          "description": "Required. The processor version resource name to be deployed.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "id": "documentai.projects.locations.processors.processorVersions.deploy"
                    },
                    "evaluateProcessorVersion": {
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1EvaluateProcessorVersionRequest"
                      },
                      "description": "Evaluates a ProcessorVersion against annotated documents, producing an Evaluation.",
                      "parameters": {
                        "processorVersion": {
                          "type": "string",
                          "description": "Required. The resource name of the ProcessorVersion to evaluate. `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "processorVersion"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}:evaluateProcessorVersion",
                      "path": "v1/{+processorVersion}:evaluateProcessorVersion",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "httpMethod": "POST",
                      "id": "documentai.projects.locations.processors.processorVersions.evaluateProcessorVersion"
                    }
                  },
                  "resources": {
                    "evaluations": {
                      "methods": {
                        "get": {
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+/evaluations/[^/]+$",
                              "type": "string",
                              "description": "Required. The resource name of the Evaluation to get. `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}/evaluations/{evaluation}`",
                              "location": "path",
                              "required": true
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Retrieves a specific evaluation.",
                          "path": "v1/{+name}",
                          "response": {
                            "$ref": "GoogleCloudDocumentaiV1Evaluation"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}/evaluations/{evaluationsId}",
                          "id": "documentai.projects.locations.processors.processorVersions.evaluations.get",
                          "httpMethod": "GET"
                        },
                        "list": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}/evaluations",
                          "path": "v1/{+parent}/evaluations",
                          "response": {
                            "$ref": "GoogleCloudDocumentaiV1ListEvaluationsResponse"
                          },
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "Required. The resource name of the ProcessorVersion to list evaluations for. `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$"
                            },
                            "pageSize": {
                              "description": "The standard list page size. If unspecified, at most `5` evaluations are returned. The maximum value is `100`. Values above `100` are coerced to `100`.",
                              "location": "query",
                              "format": "int32",
                              "type": "integer"
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "A page token, received from a previous `ListEvaluations` call. Provide this to retrieve the subsequent page.",
                              "location": "query"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Retrieves a set of evaluations for a given processor version.",
                          "id": "documentai.projects.locations.processors.processorVersions.evaluations.list",
                          "httpMethod": "GET"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "canonicalName": "Document",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "revision": "20260812",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "name": "documentai",
  "schemas": {
    "GoogleCloudDocumentaiUiv1beta3CreateLabelerPoolOperationMetadata": {
      "description": "The long-running operation metadata for the CreateLabelerPool method.",
      "id": "GoogleCloudDocumentaiUiv1beta3CreateLabelerPoolOperationMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3DeleteProcessorVersionMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3DeleteProcessorVersionMetadata",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "description": "The long-running operation metadata for the DeleteProcessorVersion method."
    },
    "GoogleCloudDocumentaiV1DocumentPageAnchorPageRef": {
      "description": "Represents a weak reference to a page element within a document.",
      "id": "GoogleCloudDocumentaiV1DocumentPageAnchorPageRef",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Optional. Confidence of detected page element, if applicable. Range `[0, 1]`."
        },
        "layoutType": {
          "type": "string",
          "enum": [
            "LAYOUT_TYPE_UNSPECIFIED",
            "BLOCK",
            "PARAGRAPH",
            "LINE",
            "TOKEN",
            "VISUAL_ELEMENT",
            "TABLE",
            "FORM_FIELD"
          ],
          "description": "Optional. The type of the layout element that is being referenced if any.",
          "enumDescriptions": [
            "Layout Unspecified.",
            "References a Page.blocks element.",
            "References a Page.paragraphs element.",
            "References a Page.lines element.",
            "References a Page.tokens element.",
            "References a Page.visual_elements element.",
            "Refrrences a Page.tables element.",
            "References a Page.form_fields element."
          ]
        },
        "layoutId": {
          "deprecated": true,
          "description": "Optional. Deprecated. Use PageRef.bounding_poly instead.",
          "type": "string"
        },
        "boundingPoly": {
          "$ref": "GoogleCloudDocumentaiV1BoundingPoly",
          "description": "Optional. Identifies the bounding polygon of a layout element on the page. If `layout_type` is set, the bounding polygon must be exactly the same to the layout element it's referring to."
        },
        "page": {
          "description": "Required. Index into the Document.pages element, for example using `Document.pages` to locate the related page element. This field is skipped when its value is the default `0`. See https://developers.google.com/protocol-buffers/docs/proto3#json.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1EnableProcessorMetadata": {
      "description": "The long-running operation metadata for the EnableProcessor method.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1EnableProcessorMetadata",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentPageImageQualityScores": {
      "description": "Image quality scores for the page image.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentPageImageQualityScores",
      "properties": {
        "detectedDefects": {
          "description": "A list of detected defects.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageImageQualityScoresDetectedDefect"
          },
          "type": "array"
        },
        "qualityScore": {
          "format": "float",
          "type": "number",
          "description": "The overall quality score. Range `[0, 1]` where `1` is perfect quality."
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "type": "object",
      "id": "GoogleLongrunningListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "GoogleCloudDocumentaiV1OcrConfigPremiumFeatures": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1OcrConfigPremiumFeatures",
      "properties": {
        "enableSelectionMarkDetection": {
          "description": "Turn on selection mark detector in OCR engine. Only available in OCR 2.0 (and later) processors.",
          "type": "boolean"
        },
        "computeStyleInfo": {
          "type": "boolean",
          "description": "Turn on font identification model and return font style information."
        },
        "enableMathOcr": {
          "type": "boolean",
          "description": "Turn on the model that can extract LaTeX math formulas."
        }
      },
      "description": "Configurations for premium OCR features."
    },
    "GoogleCloudDocumentaiUiv1beta3DocumentSchema": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3DocumentSchema",
      "properties": {
        "entityTypes": {
          "description": "Entity types of the schema.",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentSchemaEntityType"
          },
          "type": "array"
        },
        "metadata": {
          "description": "Metadata of the schema.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentSchemaMetadata"
        },
        "documentPrompt": {
          "description": "Optional. Document-level prompt provided by the user. This custom text is injected into the AI model's prompt to provide extra, document-wide guidance for processing.",
          "type": "string"
        },
        "description": {
          "description": "Description of the schema.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Display name to show users."
        }
      },
      "description": "The schema defines the output of the processed document by a processor."
    },
    "GoogleCloudDocumentaiUiv1beta3BatchUpdateDocumentsMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3BatchUpdateDocumentsMetadata",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        },
        "individualBatchUpdateStatuses": {
          "type": "array",
          "description": "The list of response details of each document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3BatchUpdateDocumentsMetadataIndividualBatchUpdateStatus"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsMetadataIndividualAutoLabelStatus": {
      "description": "The status of individual documents in the auto-labeling process.",
      "id": "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsMetadataIndividualAutoLabelStatus",
      "properties": {
        "documentId": {
          "description": "The document ID of the auto-labeled document. This will replace the gcs_uri.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentId"
        },
        "status": {
          "description": "The status of the document auto-labeling.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1ProcessOptionsIndividualPageSelector": {
      "description": "A list of individual page numbers.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1ProcessOptionsIndividualPageSelector",
      "properties": {
        "pages": {
          "type": "array",
          "description": "Optional. Indices of the pages (starting from 1).",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsResponse": {
      "id": "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsResponse",
      "properties": {},
      "type": "object",
      "description": "Response of the delete documents operation."
    },
    "GoogleCloudDocumentaiV1SchemaVersion": {
      "id": "GoogleCloudDocumentaiV1SchemaVersion",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Optional. The {{gcp_name_short}} labels for the SchemaVersion.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string",
          "description": "Required. The user-defined name of the SchemaVersion."
        },
        "schema": {
          "$ref": "GoogleCloudDocumentaiV1DocumentSchema",
          "description": "Required. The schema of the SchemaVersion."
        },
        "name": {
          "description": "Identifier. The resource name of the SchemaVersion. Format: `projects/{project}/locations/{location}/schemas/{schema}/schemaVersions/{schema_version}`",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the SchemaVersion was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "SchemaVersion is a version of the Schema which is created in SchemaGroup."
    },
    "GoogleCloudDocumentaiV1GcsDocuments": {
      "description": "Specifies a set of documents on Cloud Storage.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1GcsDocuments",
      "properties": {
        "documents": {
          "type": "array",
          "description": "The list of documents.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1GcsDocument"
          }
        }
      }
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFieldRegex": {
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFieldRegex",
      "properties": {
        "pattern": {
          "type": "string",
          "description": "Python regex to validate the field values."
        },
        "field": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataImportConfigValidationResult": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataImportConfigValidationResult",
      "properties": {
        "inputGcsSource": {
          "description": "The source Cloud Storage URI specified in the import config.",
          "type": "string"
        },
        "status": {
          "description": "The validation status of import config.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "description": "The validation status of each import config. Status is set to an error if there are no documents to import in the `import_config`, or `OK` if the operation will try to proceed with at least one document."
    },
    "GoogleCloudDocumentaiV1OcrConfig": {
      "id": "GoogleCloudDocumentaiV1OcrConfig",
      "properties": {
        "advancedOcrOptions": {
          "description": "A list of advanced OCR options to further fine-tune OCR behavior. Current valid values are: - `legacy_layout`: a heuristics layout detection algorithm, which serves as an alternative to the current ML-based layout detection algorithm. Customers can choose the best suitable layout algorithm based on their situation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "disableCharacterBoxesDetection": {
          "type": "boolean",
          "description": "Turn off character box detector in OCR engine. Character box detection is enabled by default in OCR 2.0 (and later) processors."
        },
        "enableImageQualityScores": {
          "description": "Enables intelligent document quality scores after OCR. Can help with diagnosing why OCR responses are of poor quality for a given input. Adds additional latency comparable to regular OCR to the process call.",
          "type": "boolean"
        },
        "hints": {
          "$ref": "GoogleCloudDocumentaiV1OcrConfigHints",
          "description": "Hints for the OCR model."
        },
        "enableNativePdfParsing": {
          "description": "Enables special handling for PDFs with existing text information. Results in better text extraction quality in such PDF inputs.",
          "type": "boolean"
        },
        "computeStyleInfo": {
          "type": "boolean",
          "deprecated": true,
          "description": "Turn on font identification model and return font style information. Deprecated, use PremiumFeatures.compute_style_info instead."
        },
        "enableSymbol": {
          "description": "Includes symbol level OCR information if set to true.",
          "type": "boolean"
        },
        "premiumFeatures": {
          "$ref": "GoogleCloudDocumentaiV1OcrConfigPremiumFeatures",
          "description": "Configurations for premium OCR features."
        }
      },
      "type": "object",
      "description": "Config for Document OCR."
    },
    "GoogleCloudDocumentaiUiv1beta3UpdateDatasetOperationMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3UpdateDatasetOperationMetadata",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3BatchUpdateDocumentsResponse": {
      "id": "GoogleCloudDocumentaiUiv1beta3BatchUpdateDocumentsResponse",
      "properties": {},
      "type": "object",
      "description": "Response of the batch update documents operation."
    },
    "GoogleCloudDocumentaiUiv1beta3EvaluationReference": {
      "description": "Gives a short summary of an evaluation, and links to the evaluation itself.",
      "id": "GoogleCloudDocumentaiUiv1beta3EvaluationReference",
      "properties": {
        "evaluation": {
          "description": "The resource name of the evaluation.",
          "type": "string"
        },
        "operation": {
          "type": "string",
          "description": "The resource name of the Long Running Operation for the evaluation."
        },
        "aggregateMetricsExact": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3EvaluationMetrics",
          "description": "An aggregate of the statistics for the evaluation with fuzzy matching off."
        },
        "aggregateMetrics": {
          "description": "An aggregate of the statistics for the evaluation with fuzzy matching on.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3EvaluationMetrics"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DeleteProcessorVersionMetadata": {
      "description": "The long-running operation metadata for the DeleteProcessorVersion method.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DeleteProcessorVersionMetadata",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      }
    },
    "GoogleCloudDocumentaiV1BatchProcessRequest": {
      "description": "Request message for BatchProcessDocuments.",
      "id": "GoogleCloudDocumentaiV1BatchProcessRequest",
      "properties": {
        "inputDocuments": {
          "$ref": "GoogleCloudDocumentaiV1BatchDocumentsInputConfig",
          "description": "The input documents for the BatchProcessDocuments method."
        },
        "skipHumanReview": {
          "type": "boolean",
          "description": "Whether human review should be skipped for this request. Default to `false`.",
          "deprecated": true
        },
        "labels": {
          "description": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints) and can only contain lowercase letters, numeric characters, underscores, and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "processOptions": {
          "description": "Inference-time options for the process API",
          "$ref": "GoogleCloudDocumentaiV1ProcessOptions"
        },
        "documentOutputConfig": {
          "description": "The output configuration for the BatchProcessDocuments method.",
          "$ref": "GoogleCloudDocumentaiV1DocumentOutputConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3EnableProcessorResponse": {
      "description": "Response message for the EnableProcessor method. Intentionally empty proto for adding fields in future.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3EnableProcessorResponse",
      "properties": {}
    },
    "GoogleCloudDocumentaiV1beta3DeleteProcessorMetadata": {
      "description": "The long-running operation metadata for the DeleteProcessor method.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DeleteProcessorMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        }
      }
    },
    "GoogleCloudDocumentaiV1EvaluateProcessorVersionRequest": {
      "id": "GoogleCloudDocumentaiV1EvaluateProcessorVersionRequest",
      "properties": {
        "evaluationDocuments": {
          "$ref": "GoogleCloudDocumentaiV1BatchDocumentsInputConfig",
          "description": "Optional. The documents used in the evaluation. If unspecified, use the processor's dataset as evaluation input."
        }
      },
      "type": "object",
      "description": "Evaluates the given ProcessorVersion against the supplied documents."
    },
    "GoogleCloudDocumentaiV1DocumentPageFormField": {
      "description": "A form field detected on the page.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentPageFormField",
      "properties": {
        "fieldValue": {
          "description": "Layout for the FormField value.",
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout"
        },
        "valueType": {
          "type": "string",
          "description": "If the value is non-textual, this field represents the type. Current valid values are: - blank (this indicates the `field_value` is normal text) - `unfilled_checkbox` - `filled_checkbox`"
        },
        "valueDetectedLanguages": {
          "type": "array",
          "description": "A list of detected languages for value together with confidence.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          }
        },
        "correctedKeyText": {
          "type": "string",
          "description": "Created for Labeling UI to export key text. If corrections were made to the text identified by the `field_name.text_anchor`, this field will contain the correction."
        },
        "nameDetectedLanguages": {
          "description": "A list of detected languages for name together with confidence.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          },
          "type": "array"
        },
        "provenance": {
          "$ref": "GoogleCloudDocumentaiV1DocumentProvenance",
          "description": "The history of this annotation."
        },
        "fieldName": {
          "description": "Layout for the FormField name. For example, `Address`, `Email`, `Grand total`, `Phone number`, etc.",
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout"
        },
        "correctedValueText": {
          "description": "Created for Labeling UI to export value text. If corrections were made to the text identified by the `field_value.text_anchor`, this field will contain the correction.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1ProcessorVersionGenAiModelInfoFoundationGenAiModelInfo": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1ProcessorVersionGenAiModelInfoFoundationGenAiModelInfo",
      "properties": {
        "finetuningAllowed": {
          "type": "boolean",
          "description": "Whether fine tuning is allowed for this base processor version."
        },
        "minTrainLabeledDocuments": {
          "description": "The minimum number of labeled documents in the training dataset required for fine tuning.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Information for a pretrained Google-managed foundation model."
    },
    "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfo": {
      "description": "Information about Generative AI model-based processor versions.",
      "id": "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfo",
      "properties": {
        "customGenAiModelInfo": {
          "$ref": "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfoCustomGenAiModelInfo",
          "description": "Information for a custom Generative AI model created by the user."
        },
        "foundationGenAiModelInfo": {
          "description": "Information for a pretrained Google-managed foundation model.",
          "$ref": "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfoFoundationGenAiModelInfo"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3SchemaEditabilityMetadata": {
      "description": "Metadata that specifies whether a label is editable and reasons why. These fields are read-only. Changing these fields has no impact on the backend.",
      "id": "GoogleCloudDocumentaiUiv1beta3SchemaEditabilityMetadata",
      "properties": {
        "editable": {
          "type": "boolean",
          "description": "Explicit flag that controls whether the label is editable."
        },
        "processorVersions": {
          "type": "array",
          "description": "Full resource name of processor versions that contain this label. e.g. `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1Documents": {
      "description": "A set of inline documents.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1Documents",
      "properties": {
        "documents": {
          "description": "The list of documents.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1Document"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3DocumentSchemaEntityTypeProperty": {
      "description": "Defines properties that can be part of the entity type.",
      "id": "GoogleCloudDocumentaiUiv1beta3DocumentSchemaEntityTypeProperty",
      "properties": {
        "description": {
          "description": "The description of the property. Could be used to provide more information about the property for model calls.",
          "type": "string"
        },
        "method": {
          "type": "string",
          "enum": [
            "METHOD_UNSPECIFIED",
            "EXTRACT",
            "DERIVE",
            "RELAXED_EXTRACT"
          ],
          "description": "Specifies how the entity's value is obtained.",
          "enumDescriptions": [
            "Unspecified method. It defaults to `EXTRACT`.",
            "The entity's value is directly extracted as-is from the document text.",
            "The entity's value is derived through inference and is not necessarily an exact text extraction from the document.",
            "Attempts to extract the position and value as-is from the document text. If the value cannot be grounded in the text, it falls back to derivation through inference, for both position and value. Note: The inference fallback is currently only supported for boolean entities."
          ]
        },
        "displayName": {
          "type": "string",
          "description": "User defined name for the property."
        },
        "name": {
          "type": "string",
          "description": "The name of the property. Follows the same guidelines as the EntityType name."
        },
        "occurrenceType": {
          "description": "Occurrence type limits the number of instances an entity type appears in the document.",
          "enumDescriptions": [
            "Unspecified occurrence type.",
            "There will be zero or one instance of this entity type. The same entity instance may be mentioned multiple times.",
            "The entity type will appear zero or multiple times.",
            "The entity type will only appear exactly once. The same entity instance may be mentioned multiple times.",
            "The entity type will appear once or more times."
          ],
          "type": "string",
          "enum": [
            "OCCURRENCE_TYPE_UNSPECIFIED",
            "OPTIONAL_ONCE",
            "OPTIONAL_MULTIPLE",
            "REQUIRED_ONCE",
            "REQUIRED_MULTIPLE"
          ]
        },
        "propertyMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3PropertyMetadata",
          "description": "Any additional metadata about the property can be added here."
        },
        "valueType": {
          "type": "string",
          "description": "A reference to the value type of the property. This type is subject to the same conventions as the `Entity.base_types` field."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadata": {
      "description": "Metadata of the batch export documents operation.",
      "id": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadata",
      "properties": {
        "splitExportStats": {
          "type": "array",
          "description": "The list of statistics for each dataset split type.",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataSplitExportStat"
          }
        },
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        },
        "individualExportStatuses": {
          "type": "array",
          "description": "The list of response details of each document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataIndividualExportStatus"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutPageSpan": {
      "description": "Represents where the block starts and ends in the document.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutPageSpan",
      "properties": {
        "pageStart": {
          "description": "Page where block starts in the document.",
          "format": "int32",
          "type": "integer"
        },
        "pageEnd": {
          "description": "Page where block ends in the document.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentOutputConfigGcsOutputConfig": {
[...]
