{
  "ownerName": "Google",
  "mtlsRootUrl": "https://documentai.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "revision": "20260915",
  "version_module": true,
  "name": "documentai",
  "canonicalName": "Document",
  "version": "v1",
  "batchPath": "batch",
  "title": "Cloud Document AI API",
  "schemas": {
    "GoogleCloudDocumentaiV1beta3EvaluationMetrics": {
      "description": "Evaluation metrics, either in aggregate or about a specific entity.",
      "properties": {
        "truePositivesCount": {
          "format": "int32",
          "description": "The amount of true positives.",
          "type": "integer"
        },
        "totalDocumentsCount": {
          "description": "The amount of documents that had an occurrence of this label.",
          "type": "integer",
          "format": "int32"
        },
        "falsePositivesCount": {
          "format": "int32",
          "type": "integer",
          "description": "The amount of false positives."
        },
        "predictedOccurrencesCount": {
          "description": "The amount of occurrences in predicted documents.",
          "format": "int32",
          "type": "integer"
        },
        "groundTruthOccurrencesCount": {
          "description": "The amount of occurrences in ground truth documents.",
          "format": "int32",
          "type": "integer"
        },
        "precision": {
          "format": "float",
          "type": "number",
          "description": "The calculated precision."
        },
        "f1Score": {
          "description": "The calculated F1 score.",
          "type": "number",
          "format": "float"
        },
        "groundTruthDocumentCount": {
          "description": "The amount of documents with a ground truth occurrence.",
          "format": "int32",
          "type": "integer"
        },
        "predictedDocumentCount": {
          "description": "The amount of documents with a predicted occurrence.",
          "type": "integer",
          "format": "int32"
        },
        "recall": {
          "type": "number",
          "description": "The calculated recall.",
          "format": "float"
        },
        "falseNegativesCount": {
          "format": "int32",
          "description": "The amount of false negatives.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3EvaluationMetrics"
    },
    "GoogleCloudDocumentaiUiv1beta3DocumentSchemaEntityTypeProperty": {
      "properties": {
        "valueType": {
          "type": "string",
          "description": "A reference to the value type of the property. This type is subject to the same conventions as the `Entity.base_types` field."
        },
        "occurrenceType": {
          "enumDescriptions": [
            "Unspecified occurrence type.",
            "There will be zero or one instance of this entity type. The same entity instance may be mentioned multiple times.",
            "The entity type will appear zero or multiple times.",
            "The entity type will only appear exactly once. The same entity instance may be mentioned multiple times.",
            "The entity type will appear once or more times."
          ],
          "enum": [
            "OCCURRENCE_TYPE_UNSPECIFIED",
            "OPTIONAL_ONCE",
            "OPTIONAL_MULTIPLE",
            "REQUIRED_ONCE",
            "REQUIRED_MULTIPLE"
          ],
          "description": "Occurrence type limits the number of instances an entity type appears in the document.",
          "type": "string"
        },
        "description": {
          "description": "The description of the property. Could be used to provide more information about the property for model calls.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "User defined name for the property."
        },
        "name": {
          "type": "string",
          "description": "The name of the property. Follows the same guidelines as the EntityType name."
        },
        "method": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified method. It defaults to `EXTRACT`.",
            "The entity's value is directly extracted as-is from the document text.",
            "The entity's value is derived through inference and is not necessarily an exact text extraction from the document.",
            "Attempts to extract the position and value as-is from the document text. If the value cannot be grounded in the text, it falls back to derivation through inference, for both position and value. Note: The inference fallback is currently only supported for boolean entities."
          ],
          "enum": [
            "METHOD_UNSPECIFIED",
            "EXTRACT",
            "DERIVE",
            "RELAXED_EXTRACT"
          ],
          "description": "Specifies how the entity's value is obtained."
        },
        "propertyMetadata": {
          "description": "Any additional metadata about the property can be added here.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3PropertyMetadata"
        }
      },
      "type": "object",
      "description": "Defines properties that can be part of the entity type.",
      "id": "GoogleCloudDocumentaiUiv1beta3DocumentSchemaEntityTypeProperty"
    },
    "GoogleCloudDocumentaiUiv1beta3ImportProcessorVersionResponse": {
      "description": "The response message for the ImportProcessorVersion method.",
      "properties": {
        "processorVersion": {
          "description": "The destination processor version name.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3ImportProcessorVersionResponse",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1RawDocument": {
      "type": "object",
      "description": "Payload message of raw document content (bytes).",
      "properties": {
        "displayName": {
          "description": "The display name of the document, it supports all Unicode characters except the following: `*`, `?`, `[`, `]`, `%`, `{`, `}`,`'`, `\\\"`, `,` `~`, `=` and `:` are reserved. If not specified, a default ID is generated.",
          "type": "string"
        },
        "content": {
          "format": "byte",
          "description": "Inline document content.",
          "type": "string"
        },
        "mimeType": {
          "description": "An IANA MIME type (RFC6838) indicating the nature and format of the content.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1RawDocument"
    },
    "GoogleCloudDocumentaiUiv1beta3PropertyMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3PropertyMetadata",
      "type": "object",
      "properties": {
        "fieldTierMetadata": {
          "description": "Field tier metadata on the property",
          "$ref": "GoogleCloudDocumentaiUiv1beta3FieldTierMetadata"
        },
        "humanReviewLabelingMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3HumanReviewLabelingMetadata",
          "description": "Human review labeling config on the property."
        },
        "fieldExtractionMetadata": {
          "description": "Field extraction metadata on the property.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3FieldExtractionMetadata"
        },
        "humanReviewMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3HumanReviewValidationMetadata",
          "description": "Human review validation config on the property."
        },
        "schemaEditabilityMetadata": {
          "description": "Schema editability metadata on the property.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3SchemaEditabilityMetadata"
        },
        "schemaInferenceMetadata": {
          "description": "Schema inference metadata on the property.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3SchemaInferenceMetadata"
        },
        "inactive": {
          "description": "Whether the property should be considered as \"inactive\".",
          "type": "boolean"
        }
      },
      "description": "Metadata about a property."
    },
    "GoogleCloudDocumentaiV1beta3DatasetUnmanagedDatasetConfig": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3DatasetUnmanagedDatasetConfig",
      "description": "Configuration specific to an unmanaged dataset.",
      "properties": {}
    },
    "GoogleCloudDocumentaiV1DocumentEntityRelation": {
      "description": "Relationship between Entities.",
      "id": "GoogleCloudDocumentaiV1DocumentEntityRelation",
      "type": "object",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "Object entity id."
        },
        "subjectId": {
          "description": "Subject entity id.",
          "type": "string"
        },
        "relation": {
          "type": "string",
          "description": "Relationship description."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfoFoundationGenAiModelInfo": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfoFoundationGenAiModelInfo",
      "properties": {
        "minTrainLabeledDocuments": {
          "description": "The minimum number of labeled documents in the training dataset required for fine tuning.",
          "format": "int32",
          "type": "integer"
        },
        "finetuningAllowed": {
          "type": "boolean",
          "description": "Whether fine tuning is allowed for this base processor version."
        }
      },
      "description": "Information for a pretrained Google-managed foundation model."
    },
    "GoogleCloudDocumentaiV1DeployProcessorVersionResponse": {
      "properties": {},
      "type": "object",
      "description": "Response message for the DeployProcessorVersion method.",
      "id": "GoogleCloudDocumentaiV1DeployProcessorVersionResponse"
    },
    "GoogleCloudDocumentaiUiv1beta3ProcessorVersionDeprecationInfo": {
      "properties": {
        "deprecationTime": {
          "format": "google-datetime",
          "description": "The time at which this processor version will be deprecated.",
          "type": "string"
        },
        "replacementProcessorVersion": {
          "type": "string",
          "description": "If set, the processor version that will be used as a replacement."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3ProcessorVersionDeprecationInfo",
      "type": "object",
      "description": "Information about the upcoming deprecation of this processor version."
    },
    "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutImageBlock": {
      "description": "Represents an image type block.",
      "type": "object",
      "properties": {
        "gcsUri": {
          "type": "string",
          "description": "Optional. Google Cloud Storage URI of the image."
        },
        "imageText": {
          "description": "Text extracted from the image using OCR or alt text describing the image.",
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "Mime type of the image. An IANA published [media type (MIME type)] (https://www.iana.org/assignments/media-types/media-types.xhtml)."
        },
        "blobAssetId": {
          "description": "Optional. Asset ID of the inline image. If set, find the image content in the blob_assets field.",
          "type": "string"
        },
        "dataUri": {
          "description": "Optional. Data URI of the image. It is composed of four parts: a prefix (data:), a MIME type indicating the type of data, an optional base64 token if non-textual, and the data itself: data:,",
          "type": "string"
        },
        "annotations": {
          "description": "Annotation of the image block.",
          "$ref": "GoogleCloudDocumentaiV1DocumentAnnotations"
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutImageBlock"
    },
    "GoogleCloudDocumentaiUiv1beta3ProcessorVersionAlias": {
      "id": "GoogleCloudDocumentaiUiv1beta3ProcessorVersionAlias",
      "description": "Contains the alias and the aliased resource name of processor version.",
      "properties": {
        "alias": {
          "type": "string",
          "description": "The alias in the form of `processor_version` resource name."
        },
        "processorVersion": {
          "type": "string",
          "description": "The resource name of aliased processor version."
        }
      },
      "type": "object"
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleAlignmentRule": {
      "type": "object",
      "properties": {
        "tolerance": {
          "description": "The tolerance to use when comparing coordinates.",
          "type": "number",
          "format": "float"
        },
        "alignmentType": {
          "type": "string",
          "enum": [
            "ALIGNMENT_TYPE_UNSPECIFIED",
            "ALIGNMENT_TYPE_HORIZONTAL",
            "ALIGNMENT_TYPE_VERTICAL"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "description": "A rule for checking field alignment. Horizontal alignment checks if fields are on the same row by comparing y-coordinates of bounding box centers, while vertical alignment checks if fields are on the same column by comparing x-coordinates of bounding box centers.",
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleAlignmentRule"
    },
    "GoogleCloudDocumentaiV1GcsDocument": {
      "type": "object",
      "description": "Specifies a document stored on Cloud Storage.",
      "properties": {
        "gcsUri": {
          "type": "string",
          "description": "The Cloud Storage object uri."
        },
        "mimeType": {
          "description": "An IANA MIME type (RFC6838) of the content.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1GcsDocument"
    },
    "GoogleCloudDocumentaiV1EvaluationMetrics": {
      "id": "GoogleCloudDocumentaiV1EvaluationMetrics",
      "type": "object",
      "description": "Evaluation metrics, either in aggregate or about a specific entity.",
      "properties": {
        "precision": {
          "format": "float",
          "description": "The calculated precision.",
          "type": "number"
        },
        "groundTruthOccurrencesCount": {
          "format": "int32",
          "type": "integer",
          "description": "The amount of occurrences in ground truth documents."
        },
        "truePositivesCount": {
          "type": "integer",
          "description": "The amount of true positives.",
          "format": "int32"
        },
        "falseNegativesCount": {
          "description": "The amount of false negatives.",
          "format": "int32",
          "type": "integer"
        },
        "recall": {
          "format": "float",
          "description": "The calculated recall.",
          "type": "number"
        },
        "predictedOccurrencesCount": {
          "description": "The amount of occurrences in predicted documents.",
          "format": "int32",
          "type": "integer"
        },
        "groundTruthDocumentCount": {
          "description": "The amount of documents with a ground truth occurrence.",
          "format": "int32",
          "type": "integer"
        },
        "f1Score": {
          "format": "float",
          "type": "number",
          "description": "The calculated F1 score."
        },
        "predictedDocumentCount": {
          "description": "The amount of documents with a predicted occurrence.",
          "type": "integer",
          "format": "int32"
        },
        "totalDocumentsCount": {
          "format": "int32",
          "type": "integer",
          "description": "The amount of documents that had an occurrence of this label."
        },
        "falsePositivesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The amount of false positives."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3ExportProcessorVersionMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3ExportProcessorVersionMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The common metadata about the operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "description": "Metadata message associated with the ExportProcessorVersion operation."
    },
    "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsMetadata",
      "description": "Metadata of the auto-labeling documents operation.",
      "properties": {
        "totalDocumentCount": {
          "description": "Total number of the auto-labeling documents.",
          "type": "integer",
          "format": "int32"
        },
        "individualAutoLabelStatuses": {
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3AutoLabelDocumentsMetadataIndividualAutoLabelStatus"
          },
          "description": "The list of individual auto-labeling statuses of the dataset documents.",
          "type": "array"
        },
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3BatchUpdateDocumentsMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3BatchUpdateDocumentsMetadata",
      "properties": {
        "individualBatchUpdateStatuses": {
          "description": "The list of response details of each document.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3BatchUpdateDocumentsMetadataIndividualBatchUpdateStatus"
          }
        },
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      }
    },
    "GoogleCloudDocumentaiV1TrainProcessorVersionRequestCustomDocumentExtractionOptions": {
      "id": "GoogleCloudDocumentaiV1TrainProcessorVersionRequestCustomDocumentExtractionOptions",
      "description": "Options to control the training of the Custom Document Extraction (CDE) Processor.",
      "properties": {
        "trainingMethod": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "TRAINING_METHOD_UNSPECIFIED",
            "MODEL_BASED",
            "TEMPLATE_BASED"
          ],
          "description": "Optional. Training method to use for CDE training.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3DocumentIdUnmanagedDocumentId": {
      "properties": {
        "docId": {
          "type": "string",
          "description": "Required. The ID of the document."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3DocumentIdUnmanagedDocumentId",
      "description": "Identifies a document uniquely within the scope of a dataset in unmanaged option.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1Vertex": {
      "properties": {
        "y": {
          "format": "int32",
          "type": "integer",
          "description": "Y coordinate (starts from the top of the image)."
        },
        "x": {
          "format": "int32",
          "description": "X coordinate.",
          "type": "integer"
        }
      },
      "description": "A vertex represents a 2D point in the image. NOTE: the vertex coordinates are in the same scale as the original image.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1Vertex"
    },
    "GoogleCloudDocumentaiV1HumanReviewStatus": {
      "id": "GoogleCloudDocumentaiV1HumanReviewStatus",
      "properties": {
        "humanReviewOperation": {
          "description": "The name of the operation triggered by the processed document. This field is populated only when the state is `HUMAN_REVIEW_IN_PROGRESS`. It has the same response type and metadata as the long-running operation returned by ReviewDocument.",
          "type": "string"
        },
        "state": {
          "description": "The state of human review on the processing request.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "SKIPPED",
            "VALIDATION_PASSED",
            "IN_PROGRESS",
            "ERROR"
          ],
          "enumDescriptions": [
            "Human review state is unspecified. Most likely due to an internal error.",
            "Human review is skipped for the document. This can happen because human review isn't enabled on the processor or the processing request has been set to skip this document.",
            "Human review validation is triggered and passed, so no review is needed.",
            "Human review validation is triggered and the document is under review.",
            "Some error happened during triggering human review, see the state_message for details."
          ]
        },
        "stateMessage": {
          "description": "A message providing more details about the human review state.",
          "type": "string"
        }
      },
      "description": "The status of human review on a processed document.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableBlock": {
      "type": "object",
      "description": "Represents a table type block.",
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableBlock",
      "properties": {
        "caption": {
          "description": "Table caption/title.",
          "type": "string"
        },
        "headerRows": {
          "description": "Header rows at the top of the table.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableRow"
          }
        },
        "bodyRows": {
          "type": "array",
          "description": "Body rows containing main table content.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableRow"
          }
        },
        "annotations": {
          "description": "Annotation of the table block.",
          "$ref": "GoogleCloudDocumentaiV1DocumentAnnotations"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3EnableProcessorMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3EnableProcessorMetadata",
      "type": "object",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      },
      "description": "The long-running operation metadata for the EnableProcessor method."
    },
    "GoogleTypeDate": {
      "type": "object",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleTypeDate",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageHeader": {
      "description": "Represents the page header associated with the chunk.",
      "properties": {
        "pageSpan": {
          "description": "Page span of the header.",
          "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageSpan"
        },
        "text": {
          "type": "string",
          "description": "Header in text format."
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageHeader",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkTableChunkField": {
      "id": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkTableChunkField",
      "properties": {
        "annotations": {
          "description": "Annotation of the table chunk field.",
          "$ref": "GoogleCloudDocumentaiV1DocumentAnnotations"
        }
      },
      "description": "The table chunk field in the chunk.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1OcrConfigPremiumFeatures": {
      "properties": {
        "computeStyleInfo": {
          "description": "Turn on font identification model and return font style information.",
          "type": "boolean"
        },
        "enableSelectionMarkDetection": {
          "description": "Turn on selection mark detector in OCR engine. Only available in OCR 2.0 (and later) processors.",
          "type": "boolean"
        },
        "enableMathOcr": {
          "description": "Turn on the model that can extract LaTeX math formulas.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1OcrConfigPremiumFeatures",
      "description": "Configurations for premium OCR features."
    },
    "GoogleCloudDocumentaiUiv1beta3FieldExtractionMetadata": {
      "type": "object",
      "properties": {
        "entityQuery": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3FieldExtractionMetadataEntityQuery",
          "description": "Entity query config."
        },
        "summaryOptions": {
          "description": "Summary options config.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3SummaryOptions"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3FieldExtractionMetadata",
      "description": "Metadata for how this field value is extracted."
    },
    "GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadataDatasetResyncStatus": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3ResyncDatasetMetadataDatasetResyncStatus",
      "description": "Resync status against inconsistency types on the dataset level.",
      "properties": {
        "datasetInconsistencyType": {
          "enum": [
            "DATASET_INCONSISTENCY_TYPE_UNSPECIFIED",
            "DATASET_INCONSISTENCY_TYPE_NO_STORAGE_MARKER"
          ],
          "description": "The type of the inconsistency of the dataset.",
          "enumDescriptions": [
            "Default value.",
            "The marker file under the dataset folder is not found."
          ],
          "type": "string"
        },
        "status": {
          "$ref": "GoogleRpcStatus",
          "description": "The status of resyncing the dataset with regards to the detected inconsistency. Empty if ResyncDatasetRequest.validate_only is `true`."
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentPageTokenStyleInfo": {
      "properties": {
        "underlined": {
          "description": "Whether the text is underlined.",
          "type": "boolean"
        },
        "bold": {
          "description": "Whether the text is bold (equivalent to font_weight is at least `700`).",
          "type": "boolean"
        },
        "strikeout": {
          "type": "boolean",
          "description": "Whether the text is strikethrough. This feature is not supported yet."
        },
        "subscript": {
          "type": "boolean",
          "description": "Whether the text is a subscript. This feature is not supported yet."
        },
        "letterSpacing": {
          "format": "double",
          "description": "Letter spacing in points.",
          "type": "number"
        },
        "superscript": {
          "description": "Whether the text is a superscript. This feature is not supported yet.",
          "type": "boolean"
        },
        "fontSize": {
          "format": "int32",
          "type": "integer",
          "description": "Font size in points (`1` point is `¹⁄₇₂` inches)."
        },
        "pixelFontSize": {
          "description": "Font size in pixels, equal to _unrounded font_size_ * _resolution_ ÷ `72.0`.",
          "type": "number",
          "format": "double"
        },
        "fontType": {
          "description": "Name or style of the font.",
          "type": "string"
        },
        "smallcaps": {
          "type": "boolean",
          "description": "Whether the text is in small caps. This feature is not supported yet."
        },
        "fontWeight": {
          "format": "int32",
          "type": "integer",
          "description": "TrueType weight on a scale `100` (thin) to `1000` (ultra-heavy). Normal is `400`, bold is `700`."
        },
        "backgroundColor": {
          "description": "Color of the background.",
          "$ref": "GoogleTypeColor"
        },
        "textColor": {
          "description": "Color of the text.",
          "$ref": "GoogleTypeColor"
        },
        "italic": {
          "type": "boolean",
          "description": "Whether the text is italic."
        },
        "handwritten": {
          "description": "Whether the text is handwritten.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentPageTokenStyleInfo",
      "description": "Font and other text style attributes."
    },
    "GoogleCloudDocumentaiUiv1beta3DisableProcessorMetadata": {
      "description": "The long-running operation metadata for the DisableProcessor method.",
      "id": "GoogleCloudDocumentaiUiv1beta3DisableProcessorMetadata",
      "type": "object",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        }
      }
    },
    "GoogleCloudDocumentaiV1ProcessorTypeLocationInfo": {
      "id": "GoogleCloudDocumentaiV1ProcessorTypeLocationInfo",
      "type": "object",
      "description": "The location information about where the processor is available.",
      "properties": {
        "locationId": {
          "type": "string",
          "description": "The location ID. For supported locations, refer to [regional and multi-regional support](/document-ai/docs/regions)."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3DocumentId": {
      "id": "GoogleCloudDocumentaiV1beta3DocumentId",
      "properties": {
        "unmanagedDocId": {
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentIdUnmanagedDocumentId",
          "description": "A document ID within unmanaged dataset."
        },
        "gcsManagedDocId": {
          "description": "A document ID within user-managed Cloud Storage.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentIdGCSManagedDocumentId"
        },
        "revisionRef": {
          "description": "Points to a specific revision of the document if set.",
          "$ref": "GoogleCloudDocumentaiV1beta3RevisionRef"
        }
      },
      "description": "Document Identifier.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3ReviewDocumentOperationMetadata": {
      "id": "GoogleCloudDocumentaiV1beta3ReviewDocumentOperationMetadata",
      "description": "The long-running operation metadata for the ReviewDocument method.",
      "type": "object",
      "properties": {
        "stateMessage": {
          "type": "string",
          "description": "A message providing more details about the current state of processing. For example, the error message if the operation is failed."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "CANCELLING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Operation is still running.",
            "Operation is being cancelled.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation is cancelled."
          ],
          "description": "Used only when Operation.done is false.",
          "type": "string"
        },
        "updateTime": {
          "description": "The last update time of the operation.",
          "format": "google-datetime",
          "type": "string"
        },
        "questionId": {
          "type": "string",
          "description": "The Crowd Compute question ID."
        },
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The creation time of the operation."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3DocumentSchemaEntityTypeEnumValues": {
      "description": "Defines the a list of enum values.",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The individual values that this enum values type can include."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3DocumentSchemaEntityTypeEnumValues",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadata": {
      "type": "object",
      "properties": {
        "splitExportStats": {
          "description": "The list of statistics for each dataset split type.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataSplitExportStat"
          }
        },
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata"
        },
        "individualExportStatuses": {
          "type": "array",
          "description": "The list of response details of each document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadataIndividualExportStatus"
          }
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3ExportDocumentsMetadata",
      "description": "Metadata of the batch export documents operation."
    },
    "GoogleTypeMoney": {
      "properties": {
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer",
          "format": "int32"
        },
        "units": {
          "type": "string",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "GoogleTypeMoney",
      "description": "Represents an amount of money with its currency type."
    },
    "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataImportConfigValidationResult": {
      "id": "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataImportConfigValidationResult",
      "properties": {
        "inputGcsSource": {
          "type": "string",
          "description": "The source Cloud Storage URI specified in the import config."
        },
        "status": {
          "description": "The validation status of import config.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "description": "The validation status of each import config. Status is set to an error if there are no documents to import in the `import_config`, or `OK` if the operation will try to proceed with at least one document.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1ListSchemasResponse": {
      "id": "GoogleCloudDocumentaiV1ListSchemasResponse",
      "description": "Response message for ListSchemas.",
      "type": "object",
      "properties": {
        "schemas": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1NextSchema"
          },
          "type": "array",
          "description": "The list of Schemas."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Points to the next Schema, otherwise empty."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3TrainProcessorVersionMetadata": {
      "description": "The metadata that represents a processor version being created.",
      "id": "GoogleCloudDocumentaiV1beta3TrainProcessorVersionMetadata",
      "properties": {
        "trainingDatasetValidation": {
          "description": "The training dataset validation information.",
          "$ref": "GoogleCloudDocumentaiV1beta3TrainProcessorVersionMetadataDatasetValidation"
        },
        "testDatasetValidation": {
          "description": "The test dataset validation information.",
          "$ref": "GoogleCloudDocumentaiV1beta3TrainProcessorVersionMetadataDatasetValidation"
        },
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadataImportConfigValidationResult": {
      "properties": {
        "inputGcsSource": {
          "type": "string",
          "description": "The source Cloud Storage URI specified in the import config."
        },
        "status": {
          "description": "The validation status of import config.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3ImportDocumentsMetadataImportConfigValidationResult",
      "type": "object",
      "description": "The validation status of each import config. Status is set to an error if there are no documents to import in the `import_config`, or `OK` if the operation will try to proceed with at least one document."
    },
    "GoogleCloudDocumentaiV1beta3ProcessorVersionAlias": {
      "properties": {
        "processorVersion": {
          "type": "string",
          "description": "The resource name of aliased processor version."
        },
        "alias": {
          "description": "The alias in the form of `processor_version` resource name.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3ProcessorVersionAlias",
      "type": "object",
      "description": "Contains the alias and the aliased resource name of processor version."
    },
    "GoogleCloudDocumentaiUiv1beta3DocumentSchema": {
      "properties": {
        "metadata": {
          "description": "Metadata of the schema.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentSchemaMetadata"
        },
        "displayName": {
          "type": "string",
          "description": "Display name to show users."
        },
        "description": {
          "type": "string",
          "description": "Description of the schema."
        },
        "entityTypes": {
          "description": "Entity types of the schema.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentSchemaEntityType"
          }
        },
        "documentPrompt": {
          "description": "Optional. Document-level prompt provided by the user. This custom text is injected into the AI model's prompt to provide extra, document-wide guidance for processing.",
          "type": "string"
        }
      },
      "description": "The schema defines the output of the processed document by a processor.",
      "id": "GoogleCloudDocumentaiUiv1beta3DocumentSchema",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListEntry": {
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListEntry",
      "type": "object",
      "description": "Represents an entry in the list.",
      "properties": {
        "blocks": {
          "type": "array",
          "description": "A list entry is a list of blocks. Repeated blocks support further hierarchies and nested blocks.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlock"
          }
        }
      }
    },
    "GoogleCloudDocumentaiV1GenerateSchemaVersionResponse": {
      "type": "object",
      "properties": {
        "schemaVersion": {
          "$ref": "GoogleCloudDocumentaiV1SchemaVersion",
          "description": "The schema version generated by the model."
        }
      },
      "id": "GoogleCloudDocumentaiV1GenerateSchemaVersionResponse",
      "description": "Response message for GenerateSchemaVersion."
    },
    "GoogleCloudDocumentaiV1BatchDocumentsInputConfig": {
      "id": "GoogleCloudDocumentaiV1BatchDocumentsInputConfig",
      "type": "object",
      "description": "The common config to specify a set of documents used as input.",
      "properties": {
        "gcsDocuments": {
          "$ref": "GoogleCloudDocumentaiV1GcsDocuments",
          "description": "The set of documents individually specified on Cloud Storage."
        },
        "gcsPrefix": {
          "description": "The set of documents that match the specified Cloud Storage `gcs_prefix`.",
          "$ref": "GoogleCloudDocumentaiV1GcsPrefix"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3HumanReviewValidationMetadata": {
      "description": "Metadata for Human Review config.",
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3HumanReviewValidationMetadata",
      "properties": {
        "confidenceThreshold": {
          "description": "The confidence threshold if human review validation is enabled.",
          "type": "number",
          "format": "float"
        },
        "enableValidation": {
          "type": "boolean",
          "description": "Whether to enable human review validation."
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentRevisionHumanReview": {
      "type": "object",
      "description": "Human Review information of the document.",
      "properties": {
        "state": {
          "type": "string",
          "description": "Human review state. For example, `requested`, `succeeded`, `rejected`."
        },
        "stateMessage": {
          "type": "string",
          "description": "A message providing more details about the current state of processing. For example, the rejection reason when the state is `rejected`."
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentRevisionHumanReview"
    },
    "GoogleCloudDocumentaiV1beta3ProcessorVersion": {
      "id": "GoogleCloudDocumentaiV1beta3ProcessorVersion",
      "description": "A processor version is an implementation of a processor. Each processor can have multiple versions, pretrained by Google internally or uptrained by the customer. A processor can only have one default version at a time. Its document-processing behavior is defined by that version.",
      "properties": {
        "modelType": {
          "description": "Output only. The model type of this processor version.",
          "type": "string",
          "enumDescriptions": [
            "The processor version has unspecified model type.",
            "The processor version has generative model type.",
            "The processor version has custom model type."
          ],
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "MODEL_TYPE_GENERATIVE",
            "MODEL_TYPE_CUSTOM"
          ],
          "readOnly": true
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "displayName": {
          "description": "The display name of the processor version.",
          "type": "string"
        },
        "documentSchema": {
          "description": "Output only. The schema of the processor version. Describes the output.",
          "readOnly": true,
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentSchema"
        },
        "googleManaged": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Denotes that this `ProcessorVersion` is managed by Google."
        },
        "deprecationInfo": {
          "$ref": "GoogleCloudDocumentaiV1beta3ProcessorVersionDeprecationInfo",
          "readOnly": true,
          "description": "Output only. If set, information about the eventual deprecation of this version."
        },
        "kmsKeyVersionName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The KMS key version with which data is encrypted."
        },
        "genAiModelInfo": {
          "readOnly": true,
          "description": "Output only. Information about Generative AI model-based processor versions.",
          "$ref": "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfo"
        },
        "latestEvaluation": {
          "readOnly": true,
          "description": "Output only. The most recently invoked evaluation for the processor version.",
          "$ref": "GoogleCloudDocumentaiV1beta3EvaluationReference"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the processor version was created.",
          "readOnly": true
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Output only. The KMS key name used for encryption.",
          "readOnly": true
        },
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The processor version is in an unspecified state.",
            "The processor version is deployed and can be used for processing.",
            "The processor version is being deployed.",
            "The processor version is not deployed and cannot be used for processing.",
            "The processor version is being undeployed.",
            "The processor version is being created.",
            "The processor version is being deleted.",
            "The processor version failed and is in an indeterminate state.",
            "The processor version is being imported."
          ],
          "readOnly": true,
          "description": "Output only. The state of the processor version.",
          "enum": [
            "STATE_UNSPECIFIED",
            "DEPLOYED",
            "DEPLOYING",
            "UNDEPLOYED",
            "UNDEPLOYING",
            "CREATING",
            "DELETING",
            "FAILED",
            "IMPORTING"
          ]
        },
        "name": {
          "description": "Identifier. The resource name of the processor version. Format: `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processor_version}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1EvaluationConfidenceLevelMetrics": {
      "description": "Evaluations metrics, at a specific confidence level.",
      "properties": {
        "metrics": {
          "$ref": "GoogleCloudDocumentaiV1EvaluationMetrics",
          "description": "The metrics at the specific confidence level."
        },
        "confidenceLevel": {
          "description": "The confidence level.",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1EvaluationConfidenceLevelMetrics"
    },
    "GoogleCloudDocumentaiV1BatchProcessResponse": {
      "description": "Response message for BatchProcessDocuments.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudDocumentaiV1BatchProcessResponse"
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFormValidationOperation": {
      "properties": {
        "constants": {
          "items": {
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleConstant"
          },
          "type": "array",
          "description": "A list of constants to be used as operands."
        },
        "fields": {
          "type": "array",
          "items": {
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField"
          },
          "description": "A list of fields to be used as operands."
        },
        "operationType": {
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "OPERATION_TYPE_SUM",
            "OPERATION_TYPE_SUB",
            "OPERATION_TYPE_MUL",
            "OPERATION_TYPE_DIV",
            "OPERATION_TYPE_MAX",
            "OPERATION_TYPE_MIN",
            "OPERATION_TYPE_ABS",
            "OPERATION_TYPE_UNIQUE",
            "OPERATION_TYPE_COUNT"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The operation type to be applied to all the operands.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFormValidationOperation"
          },
          "description": "A list of recursive operations to be used as operands.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFormValidationOperation"
    },
    "GoogleCloudDocumentaiV1DocumentBlobAsset": {
      "description": "Represents a blob asset. It's used to store the content of the inline blob in this document, for example, image bytes, such that it can be referenced by other fields in the document via asset ID.",
      "properties": {
        "mimeType": {
          "description": "The mime type of the blob asset. An IANA published [media type (MIME type)](https://www.iana.org/assignments/media-types/media-types.xhtml).",
          "type": "string"
        },
        "content": {
          "format": "byte",
          "type": "string",
          "description": "Optional. The content of the blob asset, for example, image bytes."
        },
        "assetId": {
          "description": "Optional. The ID of the blob asset.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentBlobAsset",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3TrainProcessorVersionResponse": {
      "properties": {
        "processorVersion": {
          "description": "The resource name of the processor version produced by training.",
          "type": "string"
        }
      },
      "description": "The response for TrainProcessorVersion.",
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3TrainProcessorVersionResponse"
    },
    "GoogleCloudDocumentaiV1BatchProcessRequest": {
      "id": "GoogleCloudDocumentaiV1BatchProcessRequest",
      "properties": {
        "inputDocuments": {
          "description": "The input documents for the BatchProcessDocuments method.",
          "$ref": "GoogleCloudDocumentaiV1BatchDocumentsInputConfig"
        },
        "skipHumanReview": {
          "type": "boolean",
          "deprecated": true,
          "description": "Whether human review should be skipped for this request. Default to `false`."
        },
        "processOptions": {
          "description": "Inference-time options for the process API",
          "$ref": "GoogleCloudDocumentaiV1ProcessOptions"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints) and can only contain lowercase letters, numeric characters, underscores, and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter."
        },
        "documentOutputConfig": {
          "$ref": "GoogleCloudDocumentaiV1DocumentOutputConfig",
          "description": "The output configuration for the BatchProcessDocuments method."
        }
      },
      "description": "Request message for BatchProcessDocuments.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlock": {
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlock",
      "description": "Represents a block. A block could be one of the various types (text, table, list) supported.",
      "type": "object",
      "properties": {
        "blockId": {
          "description": "ID of the block.",
          "type": "string"
        },
        "textBlock": {
          "description": "Block consisting of text content.",
          "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTextBlock"
        },
        "tableBlock": {
          "description": "Block consisting of table content/structure.",
          "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableBlock"
        },
        "imageBlock": {
          "description": "Block consisting of image content.",
          "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutImageBlock"
        },
        "boundingBox": {
          "$ref": "GoogleCloudDocumentaiV1BoundingPoly",
          "description": "Identifies the bounding box for the block."
        },
        "pageSpan": {
          "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutPageSpan",
          "description": "Page span of the block."
        },
        "listBlock": {
          "description": "Block consisting of list content/structure.",
          "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutListBlock"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3CreateLabelerPoolOperationMetadata": {
      "type": "object",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3CreateLabelerPoolOperationMetadata",
      "description": "The long-running operation metadata for the CreateLabelerPool method."
    },
    "GoogleCloudDocumentaiV1RawDocuments": {
      "properties": {
        "documents": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1RawDocument"
          },
          "description": "Specifies raw document content and mime type.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1RawDocuments",
      "description": "Specifies a set of raw documents."
    },
    "GoogleCloudDocumentaiV1ListProcessorVersionsResponse": {
      "type": "object",
      "description": "Response message for the ListProcessorVersions method.",
      "properties": {
        "nextPageToken": {
          "description": "Points to the next processor, otherwise empty.",
          "type": "string"
        },
        "processorVersions": {
          "description": "The list of processors.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1ProcessorVersion"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudDocumentaiV1ListProcessorVersionsResponse"
    },
    "GoogleCloudDocumentaiUiv1beta3Processor": {
      "id": "GoogleCloudDocumentaiUiv1beta3Processor",
      "description": "The first-class citizen for Document AI. Each processor defines how to extract structural information from a document.",
      "properties": {
        "createTime": {
          "description": "Output only. The time the processor was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "description": "Output only. The state of the processor.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "ENABLING",
            "DISABLING",
            "CREATING",
            "FAILED",
            "DELETING"
          ],
          "enumDescriptions": [
            "The processor is in an unspecified state.",
            "The processor is enabled, i.e., has an enabled version which can currently serve processing requests and all the feature dependencies have been successfully initialized.",
            "The processor is disabled.",
            "The processor is being enabled, will become `ENABLED` if successful.",
            "The processor is being disabled, will become `DISABLED` if successful.",
            "The processor is being created, will become either `ENABLED` (for successful creation) or `FAILED` (for failed ones). Once a processor is in this state, it can then be used for document processing, but the feature dependencies of the processor might not be fully created yet.",
            "The processor failed during creation or initialization of feature dependencies. The user should delete the processor and recreate one as all the functionalities of the processor are disabled.",
            "The processor is being deleted, will be removed if successful."
          ]
        },
        "activeSchemaVersion": {
          "type": "string",
          "description": "Optional. SchemaVersion used by the Processor. It is the same as Processor's DatasetSchema.schema_version Format is `projects/{project}/locations/{location}/schemas/{schema}/schemaVersions/{schema_version}."
        },
        "processEndpoint": {
          "description": "Output only. Immutable. The http endpoint that can be called to invoke processing.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the processor."
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "defaultProcessorVersion": {
          "type": "string",
          "description": "The default processor version."
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "processorVersionAliases": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The processor version aliases.",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3ProcessorVersionAlias"
          }
        },
        "type": {
          "type": "string",
          "description": "The processor type, such as: `OCR_PROCESSOR`, `INVOICE_PROCESSOR`. To get a list of processor types, see FetchProcessorTypes."
        },
        "kmsKeyName": {
          "type": "string",
          "description": "The [KMS key](https://cloud.google.com/security-key-management) used for encryption and decryption in CMEK scenarios."
        },
        "name": {
          "type": "string",
          "description": "Output only. Immutable. The resource name of the processor. Format: `projects/{project}/locations/{location}/processors/{processor}`",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunk": {
      "id": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunk",
      "description": "Represents a chunk.",
      "properties": {
        "content": {
          "type": "string",
          "description": "Text content of the chunk."
        },
        "sourceBlockIds": {
          "type": "array",
          "description": "Unused.",
          "items": {
            "type": "string"
          }
        },
        "pageHeaders": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageHeader"
          },
          "type": "array",
          "description": "Page headers associated with the chunk."
        },
        "pageFooters": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageFooter"
          },
          "description": "Page footers associated with the chunk.",
          "type": "array"
        },
        "chunkId": {
          "description": "ID of the chunk.",
          "type": "string"
        },
        "chunkFields": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkField"
          },
          "description": "Chunk fields inside this chunk.",
          "type": "array"
        },
        "pageSpan": {
          "description": "Page span of the chunk.",
          "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageSpan"
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DisableProcessorResponse": {
      "description": "Response message for the DisableProcessor method. Intentionally empty proto for adding fields in future.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudDocumentaiV1DisableProcessorResponse"
    },
    "GoogleCloudDocumentaiV1ProcessorVersion": {
      "description": "A processor version is an implementation of a processor. Each processor can have multiple versions, pretrained by Google internally or uptrained by the customer. A processor can only have one default version at a time. Its document-processing behavior is defined by that version.",
      "properties": {
        "googleManaged": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Denotes that this `ProcessorVersion` is managed by Google."
        },
        "deprecationInfo": {
          "$ref": "GoogleCloudDocumentaiV1ProcessorVersionDeprecationInfo",
          "description": "Output only. If set, information about the eventual deprecation of this version.",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "DEPLOYED",
            "DEPLOYING",
            "UNDEPLOYED",
            "UNDEPLOYING",
            "CREATING",
            "DELETING",
            "FAILED",
            "IMPORTING"
          ],
          "description": "Output only. The state of the processor version.",
          "enumDescriptions": [
            "The processor version is in an unspecified state.",
            "The processor version is deployed and can be used for processing.",
            "The processor version is being deployed.",
            "The processor version is not deployed and cannot be used for processing.",
            "The processor version is being undeployed.",
            "The processor version is being created.",
            "The processor version is being deleted.",
            "The processor version failed and is in an indeterminate state.",
            "The processor version is being imported."
          ],
          "type": "string",
          "readOnly": true
        },
        "kmsKeyName": {
          "description": "Output only. The KMS key name used for encryption.",
          "readOnly": true,
          "type": "string"
        },
        "genAiModelInfo": {
          "description": "Output only. Information about Generative AI model-based processor versions.",
          "$ref": "GoogleCloudDocumentaiV1ProcessorVersionGenAiModelInfo",
          "readOnly": true
        },
        "kmsKeyVersionName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The KMS key version with which data is encrypted."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the processor version was created.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the processor version."
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "latestEvaluation": {
          "description": "Output only. The most recently invoked evaluation for the processor version.",
          "$ref": "GoogleCloudDocumentaiV1EvaluationReference",
          "readOnly": true
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "documentSchema": {
          "readOnly": true,
          "description": "Output only. The schema of the processor version. Describes the output.",
          "$ref": "GoogleCloudDocumentaiV1DocumentSchema"
        },
        "name": {
          "description": "Identifier. The resource name of the processor version. Format: `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processor_version}`",
          "type": "string"
        },
        "modelType": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The processor version has unspecified model type.",
            "The processor version has generative model type.",
            "The processor version has custom model type."
          ],
          "description": "Output only. The model type of this processor version.",
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "MODEL_TYPE_GENERATIVE",
            "MODEL_TYPE_CUSTOM"
          ]
        }
      },
      "id": "GoogleCloudDocumentaiV1ProcessorVersion",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3Dataset": {
      "description": "A singleton resource under a Processor which configures a collection of documents.",
      "id": "GoogleCloudDocumentaiV1beta3Dataset",
      "type": "object",
      "properties": {
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "UNINITIALIZED",
            "INITIALIZING",
            "INITIALIZED"
          ],
          "description": "Required. State of the dataset. Ignored when updating dataset.",
          "enumDescriptions": [
            "Default unspecified enum, should not be used.",
            "Dataset has not been initialized.",
            "Dataset is being initialized.",
            "Dataset has been initialized."
          ],
          "type": "string"
        },
        "unmanagedDatasetConfig": {
          "description": "Optional. Unmanaged dataset configuration. Use this configuration if the dataset documents are managed by the document service internally (not user-managed).",
          "$ref": "GoogleCloudDocumentaiV1beta3DatasetUnmanagedDatasetConfig"
        },
        "documentWarehouseConfig": {
          "deprecated": true,
          "$ref": "GoogleCloudDocumentaiV1beta3DatasetDocumentWarehouseConfig",
          "description": "Optional. Deprecated. Warehouse-based dataset configuration is not supported."
        },
        "gcsManagedConfig": {
          "$ref": "GoogleCloudDocumentaiV1beta3DatasetGCSManagedConfig",
          "description": "Optional. User-managed Cloud Storage dataset configuration. Use this configuration if the dataset documents are stored under a user-managed Cloud Storage location."
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "name": {
          "description": "Dataset resource name. Format: `projects/{project}/locations/{location}/processors/{processor}/dataset`",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableCell": {
      "id": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlockLayoutTableCell",
      "type": "object",
      "description": "Represents a cell in a table row.",
      "properties": {
        "blocks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentDocumentLayoutDocumentLayoutBlock"
          },
          "description": "A table cell is a list of blocks. Repeated blocks support further hierarchies and nested blocks."
        },
        "rowSpan": {
          "format": "int32",
          "type": "integer",
          "description": "How many rows this cell spans."
        },
        "colSpan": {
          "type": "integer",
          "description": "How many columns this cell spans.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3DocumentSchemaEntityType": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "User defined name for the type.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of the entity type. Could be used to provide more information about the entity type for model calls."
        },
        "baseTypes": {
          "description": "The entity type that this type is derived from. For now, one and only one should be set.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "entityTypeMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3EntityTypeMetadata",
          "description": "Metadata for the entity type."
        },
        "properties": {
          "description": "Description the nested structure, or composition of an entity.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentSchemaEntityTypeProperty"
          }
        },
        "name": {
          "type": "string",
          "description": "Name of the type. It must be unique within the schema file and cannot be a \"Common Type\". The following naming conventions are used: - Use `snake_casing`. - Name matching is case-sensitive. - Maximum 64 characters. - Must start with a letter. - Allowed characters: ASCII letters `[a-z0-9_-]`. (For backward compatibility, internal infrastructure and tooling can handle any ASCII character.) - The `/` is sometimes used to denote a property of a type. For example, `line_item/amount`. This convention is deprecated, but will still be honored for backward compatibility."
        },
        "enumValues": {
          "description": "If specified, lists all the possible values for this entity. This should not be more than a handful of values. If the number of values is >10 or could change frequently, use the `EntityType.value_ontology` field and specify a list of all possible values in a value ontology file.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3DocumentSchemaEntityTypeEnumValues"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3DocumentSchemaEntityType",
      "description": "EntityType is the wrapper of a label of the corresponding model with detailed attributes and limitations for entity-based processors. Multiple types can also compose a dependency tree to represent nested types."
    },
    "GoogleCloudDocumentaiV1DocumentOutputConfig": {
      "type": "object",
      "properties": {
        "gcsOutputConfig": {
          "$ref": "GoogleCloudDocumentaiV1DocumentOutputConfigGcsOutputConfig",
          "description": "Output config to write the results to Cloud Storage."
        }
      },
      "description": "Config that controls the output of documents. All documents will be written as a JSON file.",
      "id": "GoogleCloudDocumentaiV1DocumentOutputConfig"
    },
    "GoogleCloudDocumentaiV1OcrConfigHints": {
      "type": "object",
      "description": "Hints for OCR Engine",
      "properties": {
        "languageHints": {
          "description": "List of BCP-47 language codes to use for OCR. In most cases, not specifying it yields the best results since it enables automatic language detection. For languages based on the Latin alphabet, setting hints is not needed. In rare cases, when the language of the text in the image is known, setting a hint will help get better results (although it will be a significant hindrance if the hint is wrong).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudDocumentaiV1OcrConfigHints"
    },
    "GoogleCloudDocumentaiV1BatchProcessMetadataIndividualProcessStatus": {
      "type": "object",
      "properties": {
        "outputGcsDestination": {
          "type": "string",
          "description": "The Cloud Storage output destination (in the request as DocumentOutputConfig.GcsOutputConfig.gcs_uri) of the processed document if it was successful, otherwise empty."
        },
        "inputGcsSource": {
          "type": "string",
          "description": "The source of the document, same as the input_gcs_source field in the request when the batch process started."
        },
        "status": {
          "description": "The status processing the document.",
          "$ref": "GoogleRpcStatus"
        },
        "humanReviewStatus": {
          "description": "The status of human review on the processed document.",
          "$ref": "GoogleCloudDocumentaiV1HumanReviewStatus"
        }
      },
      "description": "The status of a each individual document in the batch process.",
      "id": "GoogleCloudDocumentaiV1BatchProcessMetadataIndividualProcessStatus"
    },
    "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataIndividualImportStatus": {
      "properties": {
        "inputGcsSource": {
          "description": "The source Cloud Storage URI of the document.",
          "type": "string"
        },
        "outputDocumentId": {
          "description": "The document ID of imported document if it was successful, otherwise empty.",
          "$ref": "GoogleCloudDocumentaiV1beta3DocumentId"
        },
        "status": {
          "description": "The status of the importing of the document.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3ImportDocumentsMetadataIndividualImportStatus",
      "description": "The status of each individual document in the import process.",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1EvaluationMultiConfidenceMetrics": {
      "id": "GoogleCloudDocumentaiV1EvaluationMultiConfidenceMetrics",
      "type": "object",
      "properties": {
        "auprc": {
          "format": "float",
          "type": "number",
          "description": "The calculated area under the precision recall curve (AUPRC), computed by integrating over all confidence thresholds."
        },
        "auprcExact": {
          "format": "float",
          "type": "number",
          "description": "The AUPRC for metrics with fuzzy matching disabled, i.e., exact matching only."
        },
        "estimatedCalibrationErrorExact": {
          "format": "float",
          "type": "number",
          "description": "The ECE for the predicted entities with fuzzy matching disabled, i.e., exact matching only."
        },
        "confidenceLevelMetrics": {
          "type": "array",
          "description": "Metrics across confidence levels with fuzzy matching enabled.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1EvaluationConfidenceLevelMetrics"
          }
        },
        "confidenceLevelMetricsExact": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1EvaluationConfidenceLevelMetrics"
          },
          "description": "Metrics across confidence levels with only exact matching."
        },
        "metricsType": {
          "enumDescriptions": [
            "The metrics type is unspecified. By default, metrics without a particular specification are for leaf entity types (i.e., top-level entity types without child types, or child types which are not parent types themselves).",
            "Indicates whether metrics for this particular label type represent an aggregate of metrics for other types instead of being based on actual TP/FP/FN values for the label type. Metrics for parent (i.e., non-leaf) entity types are an aggregate of metrics for their children."
          ],
          "type": "string",
          "description": "The metrics type for the label.",
          "enum": [
            "METRICS_TYPE_UNSPECIFIED",
            "AGGREGATE"
          ]
        },
        "estimatedCalibrationError": {
          "format": "float",
          "description": "The Estimated Calibration Error (ECE) of the confidence of the predicted entities.",
          "type": "number"
        }
      },
      "description": "Metrics across multiple confidence levels."
    },
    "GoogleCloudDocumentaiV1DocumentPage": {
      "id": "GoogleCloudDocumentaiV1DocumentPage",
      "description": "A page in a Document.",
      "type": "object",
      "properties": {
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence.",
          "type": "array"
        },
        "formFields": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageFormField"
          },
          "description": "A list of visually detected form fields on the page.",
          "type": "array"
        },
        "paragraphs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageParagraph"
          },
          "description": "A list of visually detected text paragraphs on the page. A collection of lines that a human would perceive as a paragraph."
        },
        "detectedBarcodes": {
          "type": "array",
          "description": "A list of detected barcodes.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedBarcode"
          }
        },
        "provenance": {
          "description": "The history of this page.",
          "deprecated": true,
          "$ref": "GoogleCloudDocumentaiV1DocumentProvenance"
        },
        "blocks": {
          "description": "A list of visually detected text blocks on the page. A block has a set of lines (collected into paragraphs) that have a common line-spacing and orientation.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageBlock"
          },
          "type": "array"
        },
        "tokens": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageToken"
          },
          "type": "array",
          "description": "A list of visually detected tokens on the page."
        },
        "imageQualityScores": {
          "description": "Image quality scores.",
          "$ref": "GoogleCloudDocumentaiV1DocumentPageImageQualityScores"
        },
        "transforms": {
          "description": "Transformation matrices that were applied to the original document image to produce Page.image.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageMatrix"
          },
          "type": "array"
        },
        "visualElements": {
          "description": "A list of detected non-text visual elements, for example, checkbox, signature etc. on the page.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageVisualElement"
          }
        },
        "tables": {
          "type": "array",
          "description": "A list of visually detected tables on the page.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageTable"
          }
        },
        "lines": {
          "description": "A list of visually detected text lines on the page. A collection of tokens that a human would perceive as a line.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageLine"
          }
        },
        "pageNumber": {
          "format": "int32",
          "type": "integer",
          "description": "1-based index for current Page in a parent Document. Useful when a page is taken out of a Document for individual processing."
        },
        "image": {
          "$ref": "GoogleCloudDocumentaiV1DocumentPageImage",
          "description": "Rendered image for this page. This image is preprocessed to remove any skew, rotation, and distortions such that the annotation bounding boxes can be upright and axis-aligned."
        },
        "dimension": {
          "$ref": "GoogleCloudDocumentaiV1DocumentPageDimension",
          "description": "Physical dimension of the page."
        },
        "layout": {
          "description": "Layout for the page.",
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout"
        },
        "symbols": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageSymbol"
          },
          "description": "A list of visually detected symbols on the page."
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsMetadata",
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        },
        "totalDocumentCount": {
          "format": "int32",
          "description": "Total number of documents deleting from dataset.",
          "type": "integer"
        },
        "individualBatchDeleteStatuses": {
          "description": "The list of response details of each document.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1beta3BatchDeleteDocumentsMetadataIndividualBatchDeleteStatus"
          },
          "type": "array"
        },
        "errorDocumentCount": {
          "description": "Total number of documents that failed to be deleted in storage.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage": {
      "id": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage",
      "type": "object",
      "description": "Detected language for a structural component.",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Confidence of detected language. Range `[0, 1]`."
        },
        "languageCode": {
          "type": "string",
          "description": "The [BCP-47 language code](https://www.unicode.org/reports/tr35/#Unicode_locale_identifier), such as `en-US` or `sr-Latn`."
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3DocumentSchemaMetadata": {
      "id": "GoogleCloudDocumentaiUiv1beta3DocumentSchemaMetadata",
      "properties": {
        "documentAllowMultipleLabels": {
          "description": "If true, on a given page, there can be multiple `document` annotations covering it.",
          "type": "boolean"
        },
        "prefixedNamingOnProperties": {
          "type": "boolean",
          "description": "If set, all the nested entities must be prefixed with the parents."
        },
        "skipNamingValidation": {
          "type": "boolean",
          "description": "If set, this will skip the naming format validation in the schema. So the string values in `DocumentSchema.EntityType.name` and `DocumentSchema.EntityType.Property.name` will not be checked."
        },
        "documentSplitter": {
          "description": "If true, a `document` entity type can be applied to subdocument (splitting). Otherwise, it can only be applied to the entire document (classification).",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Metadata for global schema behavior."
    },
    "GoogleCloudDocumentaiV1DocumentSchemaMetadata": {
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentSchemaMetadata",
      "properties": {
        "documentAllowMultipleLabels": {
          "description": "If true, on a given page, there can be multiple `document` annotations covering it.",
          "type": "boolean"
        },
        "prefixedNamingOnProperties": {
          "type": "boolean",
          "description": "If set, all the nested entities must be prefixed with the parents."
        },
        "skipNamingValidation": {
          "description": "If set, this will skip the naming format validation in the schema. So the string values in `DocumentSchema.EntityType.name` and `DocumentSchema.EntityType.Property.name` will not be checked.",
          "type": "boolean"
        },
        "documentSplitter": {
          "type": "boolean",
          "description": "If true, a `document` entity type can be applied to subdocument (splitting). Otherwise, it can only be applied to the entire document (classification)."
        }
      },
      "description": "Metadata for global schema behavior."
    },
    "GoogleCloudDocumentaiV1Evaluation": {
      "description": "An evaluation of a ProcessorVersion's performance.",
      "id": "GoogleCloudDocumentaiV1Evaluation",
      "properties": {
        "entityMetrics": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDocumentaiV1EvaluationMultiConfidenceMetrics"
          },
          "description": "Metrics across confidence levels, for different entities."
        },
        "kmsKeyName": {
          "description": "The KMS key name used for encryption.",
          "type": "string"
        },
        "allEntitiesMetrics": {
          "$ref": "GoogleCloudDocumentaiV1EvaluationMultiConfidenceMetrics",
          "description": "Metrics for all the entities in aggregate."
        },
        "kmsKeyVersionName": {
          "description": "The KMS key version with which data is encrypted.",
          "type": "string"
        },
        "documentCounters": {
          "$ref": "GoogleCloudDocumentaiV1EvaluationCounters",
          "description": "Counters for the documents used in the evaluation."
        },
        "createTime": {
          "description": "The time that the evaluation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the evaluation. Format: `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processor_version}/evaluations/{evaluation}`",
          "type": "string"
        },
        "revisions": {
          "description": "Contains all revisions of the evaluation, excluding the latest one.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1EvaluationEvaluationRevision"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3DeleteLabelerPoolOperationMetadata": {
      "description": "The long-running operation metadata for DeleteLabelerPool.",
      "id": "GoogleCloudDocumentaiUiv1beta3DeleteLabelerPoolOperationMetadata",
      "properties": {
        "commonMetadata": {
          "$ref": "GoogleCloudDocumentaiUiv1beta3CommonOperationMetadata",
          "description": "The basic metadata of the long-running operation."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentPageLayout": {
      "description": "Visual element describing a layout unit on a page.",
      "properties": {
        "orientation": {
          "enum": [
            "ORIENTATION_UNSPECIFIED",
            "PAGE_UP",
            "PAGE_RIGHT",
            "PAGE_DOWN",
            "PAGE_LEFT"
          ],
          "enumDescriptions": [
            "Unspecified orientation.",
            "Orientation is aligned with page up.",
            "Orientation is aligned with page right. Turn the head 90 degrees clockwise from upright to read.",
            "Orientation is aligned with page down. Turn the head 180 degrees from upright to read.",
            "Orientation is aligned with page left. Turn the head 90 degrees counterclockwise from upright to read."
          ],
          "description": "Detected orientation for the Layout.",
          "type": "string"
        },
        "confidence": {
          "description": "Confidence of the current Layout within context of the object this layout is for. For example, confidence can be for a single token, a table, a visual element, etc. depending on context. Range `[0, 1]`.",
          "format": "float",
          "type": "number"
        },
        "textAnchor": {
          "description": "Text anchor indexing into the Document.text.",
          "$ref": "GoogleCloudDocumentaiV1DocumentTextAnchor"
        },
        "boundingPoly": {
          "description": "The bounding polygon for the Layout.",
          "$ref": "GoogleCloudDocumentaiV1BoundingPoly"
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1DocumentPageLayout"
    },
    "GoogleCloudDocumentaiV1ProcessorVersionGenAiModelInfoCustomGenAiModelInfo": {
      "properties": {
        "customModelType": {
          "enum": [
            "CUSTOM_MODEL_TYPE_UNSPECIFIED",
            "VERSIONED_FOUNDATION",
            "FINE_TUNED"
          ],
          "type": "string",
          "description": "The type of custom model created by the user.",
          "enumDescriptions": [
            "The model type is unspecified.",
            "The model is a versioned foundation model.",
            "The model is a finetuned foundation model."
          ]
        },
        "baseProcessorVersionId": {
          "type": "string",
          "description": "The base processor version ID for the custom model."
        }
      },
      "type": "object",
      "id": "GoogleCloudDocumentaiV1ProcessorVersionGenAiModelInfoCustomGenAiModelInfo",
      "description": "Information for a custom Generative AI model created by the user. These are created with `Create New Version` in either the `Call foundation model` or `Fine tuning` tabs."
    },
    "GoogleCloudDocumentaiV1SetDefaultProcessorVersionRequest": {
      "description": "Request message for the SetDefaultProcessorVersion method.",
      "properties": {
        "defaultProcessorVersion": {
          "type": "string",
          "description": "Required. The resource name of child ProcessorVersion to use as default. Format: `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{version}`"
        }
      },
      "id": "GoogleCloudDocumentaiV1SetDefaultProcessorVersionRequest",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentEntityValidationOutputValidationResult": {
      "id": "GoogleCloudDocumentaiV1DocumentEntityValidationOutputValidationResult",
      "description": "Validation result for a single validation rule.",
      "type": "object",
      "properties": {
        "ruleDescription": {
          "description": "The description of the validation rule.",
          "type": "string"
        },
        "ruleName": {
          "description": "The display name of the validation rule.",
          "type": "string"
        },
        "validationDetails": {
          "type": "string",
          "description": "The detailed information of the running the validation process using the entity from the document based on the validation rule."
        },
        "rule": {
          "type": "string",
          "description": "Optional. The name of the rule resource that is used for validation. Format: `projects/{project}/locations/{location}/rules/{rule}`"
        },
        "validationResultType": {
          "enum": [
            "VALIDATION_RESULT_TYPE_UNSPECIFIED",
            "VALIDATION_RESULT_TYPE_VALID",
            "VALIDATION_RESULT_TYPE_INVALID",
            "VALIDATION_RESULT_TYPE_SKIPPED",
            "VALIDATION_RESULT_TYPE_NOT_APPLICABLE"
          ],
          "enumDescriptions": [
            "The validation result type is unspecified.",
            "The validation is valid.",
            "The validation is invalid.",
            "The validation is skipped.",
            "The validation is not applicable."
          ],
          "description": "The result of the validation rule.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3SummaryOptions": {
      "type": "object",
      "id": "GoogleCloudDocumentaiUiv1beta3SummaryOptions",
      "properties": {
        "length": {
          "description": "How long the summary should be.",
          "enum": [
            "LENGTH_UNSPECIFIED",
            "BRIEF",
            "MODERATE",
            "COMPREHENSIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default.",
            "A brief summary of one or two sentences.",
            "A paragraph-length summary.",
            "The longest option available."
          ]
        },
        "format": {
          "description": "The format the summary should be in.",
          "type": "string",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "PARAGRAPH",
            "BULLETS"
          ],
          "enumDescriptions": [
            "Default.",
            "Format the output in paragraphs.",
            "Format the output in bullets."
          ]
        }
      },
      "description": "Metadata for document summarization."
    },
    "GoogleCloudDocumentaiV1Barcode": {
      "description": "Encodes the detailed information of a barcode.",
      "type": "object",
      "properties": {
        "format": {
          "type": "string",
          "description": "Format of a barcode. The supported formats are: - `CODE_128`: Code 128 type. - `CODE_39`: Code 39 type. - `CODE_93`: Code 93 type. - `CODABAR`: Codabar type. - `DATA_MATRIX`: 2D Data Matrix type. - `ITF`: ITF type. - `EAN_13`: EAN-13 type. - `EAN_8`: EAN-8 type. - `QR_CODE`: 2D QR code type. - `UPC_A`: UPC-A type. - `UPC_E`: UPC-E type. - `PDF417`: PDF417 type. - `AZTEC`: 2D Aztec code type. - `DATABAR`: GS1 DataBar code type."
        },
        "rawValue": {
          "type": "string",
          "description": "Raw value encoded in the barcode. For example: `'MEBKM:TITLE:Google;URL:https://www.google.com;;'`."
        },
        "valueFormat": {
          "description": "Value format describes the format of the value that a barcode encodes. The supported formats are: - `CONTACT_INFO`: Contact information. - `EMAIL`: Email address. - `ISBN`: ISBN identifier. - `PHONE`: Phone number. - `PRODUCT`: Product. - `SMS`: SMS message. - `TEXT`: Text string. - `URL`: URL address. - `WIFI`: Wifi information. - `GEO`: Geo-localization. - `CALENDAR_EVENT`: Calendar event. - `DRIVER_LICENSE`: Driver's license.",
          "type": "string"
        }
      },
      "id": "GoogleCloudDocumentaiV1Barcode"
    },
    "GoogleCloudDocumentaiV1ProcessorVersionAlias": {
      "id": "GoogleCloudDocumentaiV1ProcessorVersionAlias",
      "description": "Contains the alias and the aliased resource name of processor version.",
      "properties": {
        "processorVersion": {
          "description": "The resource name of aliased processor version.",
          "type": "string"
        },
        "alias": {
          "type": "string",
          "description": "The alias in the form of `processor_version` resource name."
        }
      },
      "type": "object"
    },
    "GoogleCloudDocumentaiV1DocumentPageTable": {
      "id": "GoogleCloudDocumentaiV1DocumentPageTable",
      "type": "object",
      "description": "A table representation similar to HTML table structure.",
      "properties": {
        "layout": {
          "$ref": "GoogleCloudDocumentaiV1DocumentPageLayout",
          "description": "Layout for Table."
        },
        "bodyRows": {
          "description": "Body rows of the table.",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageTableTableRow"
          },
          "type": "array"
        },
        "headerRows": {
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageTableTableRow"
          },
          "description": "Header rows of the table.",
          "type": "array"
        },
        "provenance": {
          "$ref": "GoogleCloudDocumentaiV1DocumentProvenance",
          "deprecated": true,
          "description": "The history of this table."
        },
        "detectedLanguages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence."
        }
      }
    },
    "GoogleCloudDocumentaiV1ProcessOptionsLayoutConfig": {
      "description": "Serving config for layout parser processor.",
      "properties": {
        "returnBoundingBoxes": {
          "description": "Optional. Whether to include bounding boxes in layout parser processor response.",
          "type": "boolean"
        },
        "enableImageAnnotation": {
          "description": "Optional. Whether to include image annotations in layout parser response.",
          "type": "boolean"
        },
        "enableTableAnnotation": {
          "description": "Optional. Whether to include table annotations in layout parser response.",
          "type": "boolean"
        },
        "chunkingConfig": {
          "$ref": "GoogleCloudDocumentaiV1ProcessOptionsLayoutConfigChunkingConfig",
          "description": "Optional. Config for chunking in layout parser processor."
        },
        "returnImages": {
          "description": "Optional. Whether to include images in layout parser processor response.",
          "type": "boolean"
[...]
