{
  "name": "documentai",
  "description": "Service to parse structured information from unstructured or semi-structured documents using state-of-the-art Google AI such as natural language, computer vision, translation, and AutoML.",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "canonicalName": "Document",
  "discoveryVersion": "v1",
  "version": "v1",
  "basePath": "",
  "ownerName": "Google",
  "resources": {
    "operations": {
      "methods": {
        "delete": {
          "flatPath": "v1/operations/{operationsId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "name"
          ],
          "id": "documentai.operations.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/{+name}",
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
          "parameters": {
            "name": {
              "description": "The name of the operation resource to be deleted.",
              "location": "path",
              "type": "string",
              "pattern": "^operations/.*$",
              "required": true
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "flatPath": "v1/projects/{projectsId}/operations/{operationsId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "id": "documentai.projects.operations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true
                }
              }
            }
          }
        },
        "locations": {
          "methods": {
            "fetchProcessorTypes": {
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "description": "Required. The location of processor types to list. Format: `projects/{project}/locations/{location}`.",
                  "location": "path"
                }
              },
              "description": "Fetches processor types. Note that we don't use ListProcessorTypes here, because it isn't paginated.",
              "path": "v1/{+parent}:fetchProcessorTypes",
              "response": {
                "$ref": "GoogleCloudDocumentaiV1FetchProcessorTypesResponse"
              },
              "id": "documentai.projects.locations.fetchProcessorTypes",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:fetchProcessorTypes",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ]
            },
            "list": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "type": "string",
                  "repeated": true
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query"
                }
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "response": {
                "$ref": "GoogleCloudLocationListLocationsResponse"
              },
              "path": "v1/{+name}/locations",
              "id": "documentai.projects.locations.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "id": "documentai.projects.locations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudLocationLocation"
              },
              "path": "v1/{+name}",
              "description": "Gets information about a location.",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Resource name for the location.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET"
            }
          },
          "resources": {
            "processors": {
              "methods": {
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "We will return the processors sorted by creation time. The page token will point to the next processor.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of processors to return. If unspecified, at most `50` processors will be returned. The maximum value is `100`. Values above `100` will be coerced to `100`.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent (project and location) which owns this collection of Processors. Format: `projects/{project}/locations/{location}`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "description": "Lists all processors which belong to this project.",
                  "path": "v1/{+parent}/processors",
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1ListProcessorsResponse"
                  },
                  "id": "documentai.projects.locations.processors.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1Processor"
                  },
                  "path": "v1/{+parent}/processors",
                  "id": "documentai.projects.locations.processors.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent (project and location) under which to create the processor. Format: `projects/{project}/locations/{location}`",
                      "location": "path"
                    }
                  },
                  "description": "Creates a processor from the ProcessorType provided. The processor will be at `ENABLED` state by default after its creation. Note that this method requires the `documentai.processors.create` permission on the project, which is highly privileged. A user or service account with this permission can create new processors that can interact with any gcs bucket in your project.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1Processor"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors",
                  "httpMethod": "POST"
                },
                "batchProcess": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}:batchProcess",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1BatchProcessRequest"
                  },
                  "description": "LRO endpoint to batch process many documents. The output is written to Cloud Storage as JSON in the [Document] format.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of Processor or ProcessorVersion. Format: `projects/{project}/locations/{location}/processors/{processor}`, or `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                      "required": true
                    }
                  },
                  "id": "documentai.projects.locations.processors.batchProcess",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:batchProcess",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "enable": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}:enable",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1EnableProcessorRequest"
                  },
                  "id": "documentai.projects.locations.processors.enable",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:enable",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Enables a processor",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The processor resource name to be enabled.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                      "required": true
                    }
                  }
                },
                "setDefaultProcessorVersion": {
                  "description": "Set the default (active) version of a Processor that will be used in ProcessDocument and BatchProcessDocuments.",
                  "parameters": {
                    "processor": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                      "description": "Required. The resource name of the Processor to change default version.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "documentai.projects.locations.processors.setDefaultProcessorVersion",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+processor}:setDefaultProcessorVersion",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}:setDefaultProcessorVersion",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "processor"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1SetDefaultProcessorVersionRequest"
                  }
                },
                "disable": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The processor resource name to be disabled.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$"
                    }
                  },
                  "description": "Disables a processor",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}:disable",
                  "id": "documentai.projects.locations.processors.disable",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1DisableProcessorRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}:disable",
                  "httpMethod": "POST"
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1Processor"
                  },
                  "path": "v1/{+name}",
                  "id": "documentai.projects.locations.processors.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                      "type": "string",
                      "description": "Required. The processor resource name.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Gets a processor detail.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}",
                  "httpMethod": "GET"
                },
                "delete": {
                  "description": "Deletes the processor, unloads all deployed model artifacts if it was enabled and then deletes all artifacts associated with this processor.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The processor resource name to be deleted.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$"
                    }
                  },
                  "id": "documentai.projects.locations.processors.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}",
                  "httpMethod": "DELETE"
                },
                "process": {
                  "path": "v1/{+name}:process",
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1ProcessResponse"
                  },
                  "id": "documentai.projects.locations.processors.process",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the Processor or ProcessorVersion to use for processing. If a Processor is specified, the server will use its default version. Format: `projects/{project}/locations/{location}/processors/{processor}`, or `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                      "required": true
                    }
                  },
                  "description": "Processes a single document.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}:process",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1ProcessRequest"
                  }
                }
              },
              "resources": {
                "processorVersions": {
                  "resources": {
                    "evaluations": {
                      "methods": {
                        "get": {
                          "parameters": {
                            "name": {
                              "description": "Required. The resource name of the Evaluation to get. `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}/evaluations/{evaluation}`",
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+/evaluations/[^/]+$",
                              "required": true
                            }
                          },
                          "description": "Retrieves a specific evaluation.",
                          "path": "v1/{+name}",
                          "response": {
                            "$ref": "GoogleCloudDocumentaiV1Evaluation"
                          },
                          "id": "documentai.projects.locations.processors.processorVersions.evaluations.get",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}/evaluations/{evaluationsId}",
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "list": {
                          "parameters": {
                            "parent": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                              "type": "string",
                              "description": "Required. The resource name of the ProcessorVersion to list evaluations for. `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`",
                              "location": "path"
                            },
                            "pageSize": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The standard list page size. If unspecified, at most `5` evaluations are returned. The maximum value is `100`. Values above `100` are coerced to `100`.",
                              "location": "query"
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "A page token, received from a previous `ListEvaluations` call. Provide this to retrieve the subsequent page.",
                              "location": "query"
                            }
                          },
                          "description": "Retrieves a set of evaluations for a given processor version.",
                          "response": {
                            "$ref": "GoogleCloudDocumentaiV1ListEvaluationsResponse"
                          },
                          "path": "v1/{+parent}/evaluations",
                          "id": "documentai.projects.locations.processors.processorVersions.evaluations.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}/evaluations",
                          "httpMethod": "GET"
                        }
                      }
                    }
                  },
                  "methods": {
                    "process": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                          "type": "string",
                          "description": "Required. The resource name of the Processor or ProcessorVersion to use for processing. If a Processor is specified, the server will use its default version. Format: `projects/{project}/locations/{location}/processors/{processor}`, or `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`",
                          "location": "path",
                          "required": true
                        }
                      },
                      "description": "Processes a single document.",
                      "path": "v1/{+name}:process",
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1ProcessResponse"
                      },
                      "id": "documentai.projects.locations.processors.processorVersions.process",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}:process",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1ProcessRequest"
                      }
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}",
                      "httpMethod": "GET",
                      "id": "documentai.projects.locations.processors.processorVersions.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1ProcessorVersion"
                      },
                      "path": "v1/{+name}",
                      "description": "Gets a processor version detail.",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The processor resource name.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$"
                        }
                      }
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}",
                      "httpMethod": "DELETE",
                      "description": "Deletes the processor version, all artifacts under the processor version will be deleted.",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The processor version resource name to be deleted.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$"
                        }
                      },
                      "id": "documentai.projects.locations.processors.processorVersions.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v1/{+name}"
                    },
                    "deploy": {
                      "id": "documentai.projects.locations.processors.processorVersions.deploy",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}:deploy",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "Deploys the processor version.",
                      "parameters": {
                        "name": {
                          "description": "Required. The processor version resource name to be deployed.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                          "required": true
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}:deploy",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1DeployProcessorVersionRequest"
                      }
                    },
                    "train": {
                      "id": "documentai.projects.locations.processors.processorVersions.train",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/processorVersions:train",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "description": "Trains a new processor version. Operation metadata is returned as TrainProcessorVersionMetadata.",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent (project, location and processor) to create the new version for. Format: `projects/{project}/locations/{location}/processors/{processor}`.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                          "required": true
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions:train",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1TrainProcessorVersionRequest"
                      }
                    },
                    "batchProcess": {
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1BatchProcessRequest"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}:batchProcess",
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The resource name of Processor or ProcessorVersion. Format: `projects/{project}/locations/{location}/processors/{processor}`, or `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                          "required": true
                        }
                      },
                      "description": "LRO endpoint to batch process many documents. The output is written to Cloud Storage as JSON in the [Document] format.",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v1/{+name}:batchProcess",
                      "id": "documentai.projects.locations.processors.processorVersions.batchProcess",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "undeploy": {
                      "id": "documentai.projects.locations.processors.processorVersions.undeploy",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v1/{+name}:undeploy",
                      "description": "Undeploys the processor version.",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                          "type": "string",
                          "description": "Required. The processor version resource name to be undeployed.",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1UndeployProcessorVersionRequest"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}:undeploy",
                      "httpMethod": "POST"
                    },
                    "list": {
                      "description": "Lists all versions of a processor.",
                      "parameters": {
                        "pageToken": {
                          "description": "We will return the processor versions sorted by creation time. The page token will point to the next processor version.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The parent (project, location and processor) to list all versions. Format: `projects/{project}/locations/{location}/processors/{processor}`",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+$",
                          "required": true
                        },
                        "pageSize": {
                          "description": "The maximum number of processor versions to return. If unspecified, at most `10` processor versions will be returned. The maximum value is `20`. Values above `20` will be coerced to `20`.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "id": "documentai.projects.locations.processors.processorVersions.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1ListProcessorVersionsResponse"
                      },
                      "path": "v1/{+parent}/processorVersions",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions",
                      "httpMethod": "GET"
                    },
                    "evaluateProcessorVersion": {
                      "parameterOrder": [
                        "processorVersion"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1EvaluateProcessorVersionRequest"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/processorVersions/{processorVersionsId}:evaluateProcessorVersion",
                      "httpMethod": "POST",
                      "description": "Evaluates a ProcessorVersion against annotated documents, producing an Evaluation.",
                      "parameters": {
                        "processorVersion": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/processorVersions/[^/]+$",
                          "type": "string",
                          "description": "Required. The resource name of the ProcessorVersion to evaluate. `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processorVersion}`",
                          "location": "path",
                          "required": true
                        }
                      },
                      "id": "documentai.projects.locations.processors.processorVersions.evaluateProcessorVersion",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v1/{+processorVersion}:evaluateProcessorVersion"
                    }
                  }
                },
                "humanReviewConfig": {
                  "deprecated": true,
                  "methods": {
                    "reviewDocument": {
                      "description": "Send a document for Human Review. The input document should be processed by the specified processor.",
                      "parameters": {
                        "humanReviewConfig": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/processors/[^/]+/humanReviewConfig$",
                          "type": "string",
                          "description": "Required. The resource name of the HumanReviewConfig that the document will be reviewed with.",
                          "location": "path"
                        }
                      },
                      "deprecated": true,
                      "id": "documentai.projects.locations.processors.humanReviewConfig.reviewDocument",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+humanReviewConfig}:reviewDocument",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processors/{processorsId}/humanReviewConfig:reviewDocument",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "humanReviewConfig"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1ReviewDocumentRequest"
                      }
                    }
                  }
                }
              }
            },
            "processorTypes": {
              "methods": {
                "get": {
                  "description": "Gets a processor type detail.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The processor type resource name.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/processorTypes/[^/]+$"
                    }
                  },
                  "id": "documentai.projects.locations.processorTypes.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1ProcessorType"
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processorTypes/{processorTypesId}",
                  "httpMethod": "GET"
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "description": "Used to retrieve the next page of results, empty if at the end of the list.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The location of processor types to list. Format: `projects/{project}/locations/{location}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "pageSize": {
                      "description": "The maximum number of processor types to return. If unspecified, at most `100` processor types will be returned. The maximum value is `500`. Values above `500` will be coerced to `500`.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "description": "Lists the processor types that exist.",
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1ListProcessorTypesResponse"
                  },
                  "path": "v1/{+parent}/processorTypes",
                  "id": "documentai.projects.locations.processorTypes.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/processorTypes",
                  "httpMethod": "GET"
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "parameters": {
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations$",
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "location": "path"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "path": "v1/{+name}",
                  "id": "documentai.projects.locations.operations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET"
                },
                "cancel": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "id": "documentai.projects.locations.operations.cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v1/{+name}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path"
                    }
                  }
                },
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "documentai.projects.locations.operations.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET"
                }
              }
            },
            "schemas": {
              "resources": {
                "schemaVersions": {
                  "methods": {
                    "create": {
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1SchemaVersion"
                      },
                      "path": "v1/{+parent}/schemaVersions",
                      "id": "documentai.projects.locations.schemas.schemaVersions.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+$",
                          "type": "string",
                          "description": "Required. The parent (project and location) under which to create the SchemaVersion. Format: `projects/{project}/locations/{location}/schemas/{schema}`",
                          "location": "path",
                          "required": true
                        }
                      },
                      "description": "Creates a schema version.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1SchemaVersion"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}/schemaVersions",
                      "httpMethod": "POST"
                    },
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}/schemaVersions",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "documentai.projects.locations.schemas.schemaVersions.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/schemaVersions",
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1ListSchemaVersionsResponse"
                      },
                      "description": "Lists SchemaVersions.",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. The maximum number of SchemaVersion to return. If unspecified, at most `10` SchemaVersion will be returned. The maximum value is `20`. Values above `20` will be coerced to `20`.",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+$",
                          "description": "Required. Format: `projects/{project}/locations/{location}/schemas/{schema}`",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. Returns the SchemaVersion sorted by creation time. The page token will point to the next SchemaVersion.",
                          "location": "query"
                        }
                      }
                    },
                    "patch": {
                      "id": "documentai.projects.locations.schemas.schemaVersions.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1SchemaVersion"
                      },
                      "path": "v1/{+name}",
                      "description": "Updates a schema version. Editable fields are: - `display_name` - `labels`",
                      "parameters": {
                        "updateMask": {
                          "description": "Optional. The update mask to apply to the resource. **Note:** Only the following fields can be updated: - `display_name` - `labels`",
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+/schemaVersions/[^/]+$",
                          "type": "string",
                          "description": "Identifier. The resource name of the SchemaVersion. Format: `projects/{project}/locations/{location}/schemas/{schema}/schemaVersions/{schema_version}`",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1SchemaVersion"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}/schemaVersions/{schemaVersionsId}",
                      "httpMethod": "PATCH"
                    },
                    "delete": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}/schemaVersions/{schemaVersionsId}",
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the SchemaVersion to delete. Format: `projects/{project}/locations/{location}/schemas/{schema}/schemaVersions/{schema_version}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+/schemaVersions/[^/]+$"
                        }
                      },
                      "description": "Deletes a schema version.",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "documentai.projects.locations.schemas.schemaVersions.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "id": "documentai.projects.locations.schemas.schemaVersions.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1SchemaVersion"
                      },
                      "description": "Gets a schema version.",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The name of the SchemaVersion to get. Format: `projects/{project}/locations/{location}/schemas/{schema}/schemaVersions/{schema_version}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+/schemaVersions/[^/]+$",
                          "required": true
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}/schemaVersions/{schemaVersionsId}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "generate": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}/schemaVersions:generate",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudDocumentaiV1GenerateSchemaVersionRequest"
                      },
                      "id": "documentai.projects.locations.schemas.schemaVersions.generate",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/schemaVersions:generate",
                      "response": {
                        "$ref": "GoogleCloudDocumentaiV1GenerateSchemaVersionResponse"
                      },
                      "description": "Generates a schema version.",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+$",
                          "type": "string",
                          "description": "Required. The parent (project, location and schema) under which to generate the SchemaVersion. Format: `projects/{project}/locations/{location}/schemas/{schema}`",
                          "location": "path",
                          "required": true
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1NextSchema"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}",
                  "httpMethod": "PATCH",
                  "description": "Updates a schema. Editable fields are: - `display_name` - `labels`",
                  "parameters": {
                    "name": {
                      "description": "Identifier. The resource name of the Schema. Format: `projects/{project}/locations/{location}/schemas/{schema}`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+$",
                      "required": true
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Optional. The update mask to apply to the resource. **Note:** Only the following fields can be updated: - `display_name` - `labels`",
                      "location": "query"
                    }
                  },
                  "id": "documentai.projects.locations.schemas.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1NextSchema"
                  },
                  "path": "v1/{+name}"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the Schema to be deleted. Format: `projects/{project}/locations/{location}/schemas/{schema}`",
                      "location": "path",
                      "required": true
                    },
                    "force": {
                      "description": "Optional. If set to true, any child resources of this Schema will also be deleted. (Otherwise, the request will only work if the Schema has no child resources.)",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "description": "Deletes a schema.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}",
                  "id": "documentai.projects.locations.schemas.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemas/{schemasId}",
                  "httpMethod": "GET",
                  "id": "documentai.projects.locations.schemas.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1NextSchema"
                  },
                  "path": "v1/{+name}",
                  "description": "Gets a schema.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/schemas/[^/]+$",
                      "description": "Required. The name of the Schema to get. Format: `projects/{project}/locations/{location}/schemas/{schema}`",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "create": {
                  "id": "documentai.projects.locations.schemas.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1NextSchema"
                  },
                  "path": "v1/{+parent}/schemas",
                  "description": "Creates a schema.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent (project and location) under which to create the Schema. Format: `projects/{project}/locations/{location}`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDocumentaiV1NextSchema"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemas",
                  "httpMethod": "POST"
                },
                "list": {
                  "description": "Lists Schemas.",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. Returns the schema groups sorted by creation time. The page token will point to the next Schema.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Format: `projects/{project}/locations/{location}`",
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of schema groups to return. If unspecified, at most `10` Schema will be returned. The maximum value is `20`. Values above `20` will be coerced to `20`.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "id": "documentai.projects.locations.schemas.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDocumentaiV1ListSchemasResponse"
                  },
                  "path": "v1/{+parent}/schemas",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schemas",
                  "httpMethod": "GET"
                }
              }
            }
          }
        }
      }
    }
  },
  "servicePath": "",
  "version_module": true,
  "endpoints": [
    {
      "endpointUrl": "https://documentai.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://documentai.eu.rep.googleapis.com/",
      "location": "eu",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://documentai.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://documentai.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://documentai.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://documentai.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://documentai.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://documentai.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    }
  ],
  "protocol": "rest",
  "ownerDomain": "google.com",
  "schemas": {
    "GoogleCloudDocumentaiV1Evaluation": {
      "properties": {
        "allEntitiesMetrics": {
          "description": "Metrics for all the entities in aggregate.",
          "$ref": "GoogleCloudDocumentaiV1EvaluationMultiConfidenceMetrics"
        },
        "kmsKeyVersionName": {
          "type": "string",
          "description": "The KMS key version with which data is encrypted."
        },
        "createTime": {
          "description": "The time that the evaluation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "entityMetrics": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudDocumentaiV1EvaluationMultiConfidenceMetrics"
          },
          "description": "Metrics across confidence levels, for different entities."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the evaluation. Format: `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processor_version}/evaluations/{evaluation}`"
        },
        "documentCounters": {
          "description": "Counters for the documents used in the evaluation.",
          "$ref": "GoogleCloudDocumentaiV1EvaluationCounters"
        },
        "revisions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1EvaluationEvaluationRevision"
          },
          "description": "Contains all revisions of the evaluation, excluding the latest one."
        },
        "kmsKeyName": {
          "type": "string",
          "description": "The KMS key name used for encryption."
        }
      },
      "description": "An evaluation of a ProcessorVersion's performance.",
      "id": "GoogleCloudDocumentaiV1Evaluation",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3FieldExtractionMetadata": {
      "id": "GoogleCloudDocumentaiV1beta3FieldExtractionMetadata",
      "type": "object",
      "description": "Metadata for how this field value is extracted.",
      "properties": {
        "summaryOptions": {
          "description": "Summary options config.",
          "$ref": "GoogleCloudDocumentaiV1beta3SummaryOptions"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfo": {
      "description": "Information about Generative AI model-based processor versions.",
      "id": "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfo",
      "type": "object",
      "properties": {
        "foundationGenAiModelInfo": {
          "description": "Information for a pretrained Google-managed foundation model.",
          "$ref": "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfoFoundationGenAiModelInfo"
        },
        "customGenAiModelInfo": {
          "description": "Information for a custom Generative AI model created by the user.",
          "$ref": "GoogleCloudDocumentaiV1beta3ProcessorVersionGenAiModelInfoCustomGenAiModelInfo"
        }
      }
    },
    "GoogleCloudDocumentaiV1beta3EvaluationReference": {
      "description": "Gives a short summary of an evaluation, and links to the evaluation itself.",
      "id": "GoogleCloudDocumentaiV1beta3EvaluationReference",
      "type": "object",
      "properties": {
        "aggregateMetrics": {
          "description": "An aggregate of the statistics for the evaluation with fuzzy matching on.",
          "$ref": "GoogleCloudDocumentaiV1beta3EvaluationMetrics"
        },
        "operation": {
          "type": "string",
          "description": "The resource name of the Long Running Operation for the evaluation."
        },
        "evaluation": {
          "type": "string",
          "description": "The resource name of the evaluation."
        },
        "aggregateMetricsExact": {
          "description": "An aggregate of the statistics for the evaluation with fuzzy matching off.",
          "$ref": "GoogleCloudDocumentaiV1beta3EvaluationMetrics"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3DocumentSchemaEntityTypeProperty": {
      "properties": {
        "propertyMetadata": {
          "description": "Any additional metadata about the property can be added here.",
          "$ref": "GoogleCloudDocumentaiUiv1beta3PropertyMetadata"
        },
        "name": {
          "type": "string",
          "description": "The name of the property. Follows the same guidelines as the EntityType name."
        },
        "description": {
          "type": "string",
          "description": "The description of the property. Could be used to provide more information about the property for model calls."
        },
        "method": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified method. It defaults to `EXTRACT`.",
            "The entity's value is directly extracted as-is from the document text.",
            "The entity's value is derived through inference and is not necessarily an exact text extraction from the document.",
            "Attempts to extract the position and value as-is from the document text. If the value cannot be grounded in the text, it falls back to derivation through inference, for both position and value. Note: The inference fallback is currently only supported for boolean entities."
          ],
          "description": "Specifies how the entity's value is obtained.",
          "enum": [
            "METHOD_UNSPECIFIED",
            "EXTRACT",
            "DERIVE",
            "RELAXED_EXTRACT"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "User defined name for the property."
        },
        "occurrenceType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified occurrence type.",
            "There will be zero or one instance of this entity type. The same entity instance may be mentioned multiple times.",
            "The entity type will appear zero or multiple times.",
            "The entity type will only appear exactly once. The same entity instance may be mentioned multiple times.",
            "The entity type will appear once or more times."
          ],
          "description": "Occurrence type limits the number of instances an entity type appears in the document.",
          "enum": [
            "OCCURRENCE_TYPE_UNSPECIFIED",
            "OPTIONAL_ONCE",
            "OPTIONAL_MULTIPLE",
            "REQUIRED_ONCE",
            "REQUIRED_MULTIPLE"
          ]
        },
        "valueType": {
          "type": "string",
          "description": "A reference to the value type of the property. This type is subject to the same conventions as the `Entity.base_types` field."
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3DocumentSchemaEntityTypeProperty",
      "type": "object",
      "description": "Defines properties that can be part of the entity type."
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFieldOccurrences": {
      "properties": {
        "field": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleField"
        },
        "minOccurrences": {
          "description": "Min and max occurrences of the field. If not set, there is limit set. The defined interval is a closed-closed interval, i.e. [min, max].",
          "type": "integer",
          "format": "uint32"
        },
        "maxOccurrences": {
          "type": "integer",
          "format": "uint32"
        }
      },
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFieldOccurrences",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1beta3DocumentIdGCSManagedDocumentId": {
      "properties": {
        "cwDocId": {
          "type": "string",
          "description": "ID of the document (indexed) managed by Content Warehouse.",
          "deprecated": true
        },
        "gcsUri": {
          "type": "string",
          "description": "Required. The Cloud Storage URI where the actual document is stored."
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3DocumentIdGCSManagedDocumentId",
      "type": "object",
      "description": "Identifies a document uniquely within the scope of a dataset in the user-managed Cloud Storage option."
    },
    "GoogleCloudDocumentaiV1DocumentPageMatrix": {
      "properties": {
        "data": {
          "description": "The matrix data.",
          "type": "string",
          "format": "byte"
        },
        "rows": {
          "type": "integer",
          "format": "int32",
          "description": "Number of rows in the matrix."
        },
        "cols": {
          "type": "integer",
          "format": "int32",
          "description": "Number of columns in the matrix."
        },
        "type": {
          "type": "integer",
          "format": "int32",
          "description": "This encodes information about what data type the matrix uses. For example, 0 (CV_8U) is an unsigned 8-bit image. For the full list of OpenCV primitive data types, please refer to https://docs.opencv.org/4.3.0/d1/d1b/group__core__hal__interface.html"
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentPageMatrix",
      "type": "object",
      "description": "Representation for transformation matrix, intended to be compatible and used with OpenCV format for image manipulation."
    },
    "GoogleCloudDocumentaiV1beta3TrainProcessorVersionMetadataDatasetValidation": {
      "properties": {
        "datasetErrorCount": {
          "description": "The total number of dataset errors.",
          "type": "integer",
          "format": "int32"
        },
        "documentErrors": {
          "description": "Error information pertaining to specific documents. A maximum of 10 document errors will be returned. Any document with errors will not be used throughout training.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "datasetErrors": {
          "description": "Error information for the dataset as a whole. A maximum of 10 dataset errors will be returned. A single dataset error is terminal for training.",
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "documentErrorCount": {
          "description": "The total number of document errors.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "The dataset validation information. This includes any and all errors with documents and the dataset.",
      "id": "GoogleCloudDocumentaiV1beta3TrainProcessorVersionMetadataDatasetValidation",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1ProcessorVersion": {
      "description": "A processor version is an implementation of a processor. Each processor can have multiple versions, pretrained by Google internally or uptrained by the customer. A processor can only have one default version at a time. Its document-processing behavior is defined by that version.",
      "id": "GoogleCloudDocumentaiV1ProcessorVersion",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the processor version."
        },
        "googleManaged": {
          "type": "boolean",
          "description": "Output only. Denotes that this `ProcessorVersion` is managed by Google.",
          "readOnly": true
        },
        "satisfiesPzi": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        },
        "modelType": {
          "readOnly": true,
          "description": "Output only. The model type of this processor version.",
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "MODEL_TYPE_GENERATIVE",
            "MODEL_TYPE_CUSTOM"
          ],
          "type": "string",
          "enumDescriptions": [
            "The processor version has unspecified model type.",
            "The processor version has generative model type.",
            "The processor version has custom model type."
          ]
        },
        "kmsKeyName": {
          "description": "Output only. The KMS key name used for encryption.",
          "readOnly": true,
          "type": "string"
        },
        "deprecationInfo": {
          "description": "Output only. If set, information about the eventual deprecation of this version.",
          "readOnly": true,
          "$ref": "GoogleCloudDocumentaiV1ProcessorVersionDeprecationInfo"
        },
        "kmsKeyVersionName": {
          "type": "string",
          "description": "Output only. The KMS key version with which data is encrypted.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the processor version. Format: `projects/{project}/locations/{location}/processors/{processor}/processorVersions/{processor_version}`"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        },
        "documentSchema": {
          "description": "Output only. The schema of the processor version. Describes the output.",
          "readOnly": true,
          "$ref": "GoogleCloudDocumentaiV1DocumentSchema"
        },
        "createTime": {
          "description": "Output only. The time the processor version was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "genAiModelInfo": {
          "description": "Output only. Information about Generative AI model-based processor versions.",
          "readOnly": true,
          "$ref": "GoogleCloudDocumentaiV1ProcessorVersionGenAiModelInfo"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The state of the processor version.",
          "enum": [
            "STATE_UNSPECIFIED",
            "DEPLOYED",
            "DEPLOYING",
            "UNDEPLOYED",
            "UNDEPLOYING",
            "CREATING",
            "DELETING",
            "FAILED",
            "IMPORTING"
          ],
          "type": "string",
          "enumDescriptions": [
            "The processor version is in an unspecified state.",
            "The processor version is deployed and can be used for processing.",
            "The processor version is being deployed.",
            "The processor version is not deployed and cannot be used for processing.",
            "The processor version is being undeployed.",
            "The processor version is being created.",
            "The processor version is being deleted.",
            "The processor version failed and is in an indeterminate state.",
            "The processor version is being imported."
          ]
        },
        "latestEvaluation": {
          "description": "Output only. The most recently invoked evaluation for the processor version.",
          "readOnly": true,
          "$ref": "GoogleCloudDocumentaiV1EvaluationReference"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3ProcessorVersionGenAiModelInfoFoundationGenAiModelInfo": {
      "description": "Information for a pretrained Google-managed foundation model.",
      "id": "GoogleCloudDocumentaiUiv1beta3ProcessorVersionGenAiModelInfoFoundationGenAiModelInfo",
      "type": "object",
      "properties": {
        "minTrainLabeledDocuments": {
          "description": "The minimum number of labeled documents in the training dataset required for fine tuning.",
          "type": "integer",
          "format": "int32"
        },
        "finetuningAllowed": {
          "type": "boolean",
          "description": "Whether fine tuning is allowed for this base processor version."
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentTextAnchor": {
      "description": "Text reference indexing into the Document.text.",
      "id": "GoogleCloudDocumentaiV1DocumentTextAnchor",
      "type": "object",
      "properties": {
        "content": {
          "type": "string",
          "description": "Contains the content of the text span so that users do not have to look it up in the text_segments. It is always populated for formFields."
        },
        "textSegments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentTextAnchorTextSegment"
          },
          "description": "The text segments from the Document.text."
        }
      }
    },
    "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage": {
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "The [BCP-47 language code](https://www.unicode.org/reports/tr35/#Unicode_locale_identifier), such as `en-US` or `sr-Latn`."
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Confidence of detected language. Range `[0, 1]`."
        }
      },
      "id": "GoogleCloudDocumentaiV1DocumentPageDetectedLanguage",
      "type": "object",
      "description": "Detected language for a structural component."
    },
    "GoogleCloudDocumentaiUiv1beta3SetDefaultProcessorVersionResponse": {
      "description": "Response message for the SetDefaultProcessorVersion method.",
      "id": "GoogleCloudDocumentaiUiv1beta3SetDefaultProcessorVersionResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudDocumentaiV1DocumentEntitiesRevision": {
      "properties": {
        "revisionId": {
          "description": "The revision id.",
          "type": "string"
        },
        "entities": {
          "description": "The entities in this revision.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDocumentaiV1DocumentEntity"
          }
        },
        "entityValidationOutput": {
          "description": "The entity validation output for this revision.",
          "$ref": "GoogleCloudDocumentaiV1DocumentEntityValidationOutput"
        },
        "provenance": {
          "description": "Optional. The history of this revision.",
          "$ref": "GoogleCloudDocumentaiV1DocumentProvenance"
        }
      },
      "description": "Entity revision.",
      "id": "GoogleCloudDocumentaiV1DocumentEntitiesRevision",
      "type": "object"
    },
    "GoogleCloudDocumentaiUiv1beta3HumanReviewValidationMetadata": {
      "properties": {
        "confidenceThreshold": {
          "type": "number",
          "format": "float",
          "description": "The confidence threshold if human review validation is enabled."
        },
        "enableValidation": {
          "description": "Whether to enable human review validation.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudDocumentaiUiv1beta3HumanReviewValidationMetadata",
      "type": "object",
      "description": "Metadata for Human Review config."
    },
    "GoogleCloudDocumentaiV1beta3UndeployProcessorVersionMetadata": {
      "properties": {
        "commonMetadata": {
          "description": "The basic metadata of the long-running operation.",
          "$ref": "GoogleCloudDocumentaiV1beta3CommonOperationMetadata"
        }
      },
      "id": "GoogleCloudDocumentaiV1beta3UndeployProcessorVersionMetadata",
      "type": "object",
      "description": "The long-running operation metadata for the UndeployProcessorVersion method."
    },
    "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageFooter": {
      "properties": {
        "text": {
          "description": "Footer in text format.",
          "type": "string"
        },
        "pageSpan": {
          "description": "Page span of the footer.",
          "$ref": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageSpan"
        }
      },
      "description": "Represents the page footer associated with the chunk.",
      "id": "GoogleCloudDocumentaiV1DocumentChunkedDocumentChunkChunkPageFooter",
      "type": "object"
    },
    "GoogleCloudDocumentaiV1ProcessorTypeLocationInfo": {
      "id": "GoogleCloudDocumentaiV1ProcessorTypeLocationInfo",
      "type": "object",
      "description": "The location information about where the processor is available.",
      "properties": {
        "locationId": {
          "description": "The location ID. For supported locations, refer to [regional and multi-regional support](/document-ai/docs/regions).",
          "type": "string"
        }
      }
    },
    "GoogleTypeColor": {
      "properties": {
        "green": {
          "type": "number",
          "format": "float",
          "description": "The amount of green in the color as a value in the interval [0, 1]."
        },
        "blue": {
          "description": "The amount of blue in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        },
        "red": {
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        },
        "alpha": {
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0).",
          "type": "number",
          "format": "float"
        }
      },
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
      "id": "GoogleTypeColor",
      "type": "object"
    },
    "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRule": {
      "description": "Next ID: 9",
      "id": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRule",
      "type": "object",
      "properties": {
        "ruleId": {
          "description": "Unique identifier of the rule. Optional.",
          "type": "string"
        },
        "fieldOccurrences": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFieldOccurrences"
        },
        "fieldRegex": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFieldRegex"
        },
        "childAlignmentRule": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleChildAlignmentRule"
        },
        "name": {
          "description": "Name of the validation rule.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the validation rule. This has no use but for documentation."
        },
        "entityAlignmentRule": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleEntityAlignmentRule"
        },
        "formValidation": {
          "$ref": "CloudAiDocumentaiLabHifiaToolsValidationValidatorInputValidationRuleFormValidation"
        }
      }
    },
    "GoogleCloudDocumentaiV1GenerateSchemaVersionResponse": {
      "properties": {
        "schemaVersion": {
          "description": "The schema version generated by the model.",
          "$ref": "GoogleCloudDocumentaiV1SchemaVersion"
        }
      },
      "id": "GoogleCloudDocumentaiV1GenerateSchemaVersionResponse",
      "type": "object",
      "description": "Response message for GenerateSchemaVersion."
    },
    "GoogleCloudDocumentaiV1ReviewDocumentResponse": {
      "id": "GoogleCloudDocumentaiV1ReviewDocumentResponse",
      "type": "object",
      "description": "Response message for the ReviewDocument method.",
      "properties": {
        "gcsDestination": {
          "type": "string",
          "description": "The Cloud Storage uri for the human reviewed document if the review is succeeded."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The review operation is rejected by the reviewer.",
            "The review operation is succeeded."
          ],
          "description": "The state of the review operation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "REJECTED",
            "SUCCEEDED"
          ]
        },
        "rejectionReason": {
          "description": "The reason why the review is rejected by reviewer.",
          "type": "string"
        }
      }
    },
    "GoogleCloudDocumentaiUiv1beta3ExportProcessorVersionResponse": {
      "properties": {
        "gcsUri": {
          "type": "string",
          "description": "The Cloud Storage URI containing the output artifacts."
        }
      },
      "description": "Response message associated with the ExportProcessorVersion operation.",
      "id": "GoogleCloudDocumentaiUiv1beta3ExportProcessorVersionResponse",
      "type": "object"
    },
    "GoogleLongrunningListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "GoogleLongrunningListOperationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
[...]
