{
  "version": "v2",
  "baseUrl": "https://doubleclickbidmanager.googleapis.com/v2/",
  "discoveryVersion": "v1",
  "resources": {
    "queries": {
      "resources": {
        "reports": {
          "methods": {
            "get": {
              "flatPath": "queries/{queryId}/reports/{reportId}",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ],
              "description": "Retrieves a report.",
              "id": "doubleclickbidmanager.queries.reports.get",
              "path": "queries/{queryId}/reports/{reportId}",
              "parameters": {
                "reportId": {
                  "required": true,
                  "format": "int64",
                  "description": "Required. The ID of the query to retrieve.",
                  "location": "path",
                  "type": "string"
                },
                "queryId": {
                  "description": "Required. The ID of the query that generated the report.",
                  "type": "string",
                  "location": "path",
                  "format": "int64",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "Report"
              },
              "parameterOrder": [
                "queryId",
                "reportId"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ],
              "parameterOrder": [
                "queryId"
              ],
              "response": {
                "$ref": "ListReportsResponse"
              },
              "path": "queries/{queryId}/reports",
              "httpMethod": "GET",
              "id": "doubleclickbidmanager.queries.reports.list",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A token identifying which page of results the server should return. Typically, this is the value of nextPageToken returned from the previous call to the `queries.reports.list` method. If unspecified, the first page of results is returned.",
                  "location": "query"
                },
                "orderBy": {
                  "description": "Field to sort the list by. Accepts the following values: * `key.reportId` (default) The default sorting order is ascending. To specify descending order for a field, add the suffix `desc` to the field name. For example, `key.reportId desc`.",
                  "type": "string",
                  "location": "query"
                },
                "queryId": {
                  "required": true,
                  "description": "Required. The ID of the query that generated the reports.",
                  "format": "int64",
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Maximum number of results per page. Must be between `1` and `100`. Defaults to `100` if unspecified.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              },
              "description": "Lists reports generated by the provided query.",
              "flatPath": "queries/{queryId}/reports"
            }
          }
        }
      },
      "methods": {
        "delete": {
          "path": "queries/{queryId}",
          "flatPath": "queries/{queryId}",
          "id": "doubleclickbidmanager.queries.delete",
          "description": "Deletes an existing query as well as its generated reports.",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "parameterOrder": [
            "queryId"
          ],
          "parameters": {
            "queryId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "Required. The ID of the query to delete."
            }
          }
        },
        "list": {
          "description": "Lists queries created by the current user.",
          "id": "doubleclickbidmanager.queries.list",
          "flatPath": "queries",
          "parameters": {
            "orderBy": {
              "description": "Field to sort the list by. Accepts the following values: * `queryId` (default) * `metadata.title` The default sorting order is ascending. To specify descending order for a field, add the suffix `desc` to the field name. For example, `queryId desc`.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Maximum number of results per page. Must be between `1` and `100`. Defaults to `100` if unspecified."
            },
            "pageToken": {
              "description": "A token identifying which page of results the server should return. Typically, this is the value of nextPageToken, returned from the previous call to the `queries.list` method. If unspecified, the first page of results is returned.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "queries",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "ListQueriesResponse"
          }
        },
        "create": {
          "parameters": {},
          "path": "queries",
          "response": {
            "$ref": "Query"
          },
          "description": "Creates a new query.",
          "request": {
            "$ref": "Query"
          },
          "id": "doubleclickbidmanager.queries.create",
          "flatPath": "queries",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "httpMethod": "POST",
          "parameterOrder": []
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "queryId"
          ],
          "flatPath": "queries/{queryId}",
          "path": "queries/{queryId}",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "id": "doubleclickbidmanager.queries.get",
          "parameters": {
            "queryId": {
              "description": "Required. The ID of the query to retrieve.",
              "required": true,
              "format": "int64",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Retrieves a query.",
          "response": {
            "$ref": "Query"
          }
        },
        "run": {
          "path": "queries/{queryId}:run",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "response": {
            "$ref": "Report"
          },
          "id": "doubleclickbidmanager.queries.run",
          "request": {
            "$ref": "RunQueryRequest"
          },
          "parameters": {
            "synchronous": {
              "description": "Whether the query should be run synchronously. When `true`, the request won't return until the resulting report has finished running. This parameter is `false` by default. Setting this parameter to `true` is **not recommended**.",
              "type": "boolean",
              "location": "query"
            },
            "queryId": {
              "description": "Required. The ID of the query to run.",
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "queries/{queryId}:run",
          "parameterOrder": [
            "queryId"
          ],
          "description": "Runs an existing query to generate a report."
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclickbidmanager": {
          "description": "View and manage your reports in DoubleClick Bid Manager"
        }
      }
    }
  },
  "schemas": {
    "RunQueryRequest": {
      "description": "Details specifying how to run a query.",
      "id": "RunQueryRequest",
      "type": "object",
      "properties": {
        "dataRange": {
          "$ref": "DataRange",
          "description": "The date range used by the query to generate the report. If unspecified, the query's original data_range is used."
        }
      }
    },
    "ReportStatus": {
      "description": "The status of a report.",
      "id": "ReportStatus",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Default value when state is not specified or is unknown in this version.",
            "The report is queued to run.",
            "The report is currently running.",
            "The report has finished running successfully.",
            "The report has finished running in failure."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "RUNNING",
            "DONE",
            "FAILED"
          ],
          "description": "Output only. The state of the report generation.",
          "readOnly": true
        },
        "format": {
          "type": "string",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ],
          "description": "The format of the generated report file.",
          "enumDescriptions": [
            "Default value when format is not specified or is unknown in this version.",
            "CSV.",
            "Excel."
          ]
        },
        "finishTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp of when report generation finished successfully or in failure. This field will not be set unless state is `DONE` or `FAILED`."
        }
      }
    },
    "Options": {
      "properties": {
        "includeOnlyTargetedUserLists": {
          "description": "Whether to include data for audience lists specifically targeted by filtered line items or insertion orders. Requires the use of `FILTER_INSERTION_ORDER` or `FILTER_LINE_ITEM` filters.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "Options",
      "description": "Report parameter options."
    },
    "FilterPair": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The identifying value to filter by, such as a relevant resource ID."
        },
        "type": {
          "description": "The type of value to filter by. Defined by a [Filter](/bid-manager/reference/rest/v2/filters-metrics#filters) value.",
          "type": "string"
        }
      },
      "description": "Represents a single filter rule.",
      "id": "FilterPair"
    },
    "Date": {
      "id": "Date",
      "type": "object",
      "properties": {
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        },
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "DataRange": {
      "type": "object",
      "properties": {
        "range": {
          "type": "string",
          "enum": [
            "RANGE_UNSPECIFIED",
            "CUSTOM_DATES",
            "CURRENT_DAY",
            "PREVIOUS_DAY",
            "WEEK_TO_DATE",
            "MONTH_TO_DATE",
            "QUARTER_TO_DATE",
            "YEAR_TO_DATE",
            "PREVIOUS_WEEK",
            "PREVIOUS_MONTH",
            "PREVIOUS_QUARTER",
            "PREVIOUS_YEAR",
            "LAST_7_DAYS",
            "LAST_30_DAYS",
            "LAST_90_DAYS",
            "LAST_365_DAYS",
            "ALL_TIME",
            "LAST_14_DAYS",
            "LAST_60_DAYS"
          ],
          "enumDescriptions": [
            "Default value when range is not specified or is unknown in this version.",
            "Custom date range.",
            "Current day.",
            "Previous day.",
            "All days, including the current day, since the most recent Sunday.",
            "All days, including the current day, since the start of the current month.",
            "All days, including the current day, since the start of the current quarter.",
            "All days, including the current day, since the start of the current calendar year.",
            "The previous completed week, beginning from Sunday.",
            "The previous completed calendar month.",
            "The previous completed quarter.",
            "The previous completed calendar year.",
            "The previous 7 days, excluding the current day.",
            "The previous 30 days, excluding the current day.",
            "The previous 90 days, excluding the current day.",
            "The previous 365 days, excluding the current day.",
            "All time for which data is available, excluding the current day.",
            "The previous 14 days, excluding the current day.",
            "The previous 60 days, excluding the current day."
          ],
          "description": "The preset date range to be reported on. If `CUSTOM_DATES` is assigned to this field, fields custom_start_date and custom_end_date must be set to specify the custom date range."
        },
        "customEndDate": {
          "$ref": "Date",
          "description": "If `CUSTOM_DATES` is assigned to range, this field specifies the end date for the date range that is reported on. This field is required if using `CUSTOM_DATES` range and will be ignored otherwise."
        },
        "customStartDate": {
          "description": "If `CUSTOM_DATES` is assigned to range, this field specifies the starting date for the date range that is reported on. This field is required if using `CUSTOM_DATES` range and will be ignored otherwise.",
          "$ref": "Date"
        }
      },
      "description": "The date range to be reported on.",
      "id": "DataRange"
    },
    "ListReportsResponse": {
      "type": "object",
      "id": "ListReportsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `queries.reports.list` method to retrieve the next page of results.",
          "type": "string"
        },
        "reports": {
          "type": "array",
          "items": {
            "$ref": "Report"
          },
          "description": "The list of reports. This field will be absent if empty."
        }
      }
    },
    "QueryMetadata": {
      "description": "The metadata of the query.",
      "id": "QueryMetadata",
      "type": "object",
      "properties": {
        "dataRange": {
          "description": "The date range the report generated by the query will report on. This date range will be defined by the time zone as used by the advertiser.",
          "$ref": "DataRange"
        },
        "shareEmailAddress": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of additional email addresses with which to share the query. If send_notification is `true`, these email addresses will receive a notification when a report generated by the query is ready. If these email addresses are connected to Display & Video 360 users, the query will be available to them in the Display & Video 360 interface."
        },
        "title": {
          "type": "string",
          "description": "The display name of the query. This value will be used in the file name of reports generated by the query."
        },
        "sendNotification": {
          "description": "Whether an email notification is sent to the query creator when a report generated by the query is ready. This value is `false` by default.",
          "type": "boolean"
        },
        "format": {
          "type": "string",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ],
          "enumDescriptions": [
            "Default value when format is not specified or is unknown in this version.",
            "CSV.",
            "Excel."
          ],
          "description": "The format of the report generated by the query."
        }
      }
    },
    "Query": {
      "description": "A single query used to generate a report.",
      "type": "object",
      "properties": {
        "schedule": {
          "$ref": "QuerySchedule",
          "description": "When and how often the query is scheduled to run. If the frequency field is set to `ONE_TIME`, the query will only run when queries.run is called."
        },
        "queryId": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The unique ID of the query.",
          "type": "string"
        },
        "params": {
          "description": "The parameters of the report generated by the query.",
          "$ref": "Parameters"
        },
        "metadata": {
          "$ref": "QueryMetadata",
          "description": "The metadata of the query."
        }
      },
      "id": "Query"
    },
    "ListQueriesResponse": {
      "properties": {
        "queries": {
          "description": "The list of queries. This field will be absent if empty.",
          "items": {
            "$ref": "Query"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `queries.list` method to retrieve the next page of results."
        }
      },
      "type": "object",
      "id": "ListQueriesResponse"
    },
    "ReportKey": {
      "description": "Identifying information of a report.",
      "id": "ReportKey",
      "type": "object",
      "properties": {
        "queryId": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique ID of the query that generated the report."
        },
        "reportId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique ID of the report.",
          "format": "int64"
        }
      }
    },
    "QuerySchedule": {
      "type": "object",
      "properties": {
        "endDate": {
          "description": "The date on which to end the scheduled runs. This field is required if frequency is not set to `ONE_TIME`. Otherwise, it will be ignored.",
          "$ref": "Date"
        },
        "nextRunTimezoneCode": {
          "type": "string",
          "description": "The canonical code for the timezone the query schedule is based on. Scheduled runs are usually conducted in the morning of a given day. Defaults to `America/New_York`."
        },
        "startDate": {
          "$ref": "Date",
          "description": "The date on which to begin the scheduled runs. This field is required if frequency is not set to `ONE_TIME`. Otherwise, it will be ignored."
        },
        "frequency": {
          "enumDescriptions": [
            "Default value when frequency is not specified or is unknown in this version.",
            "Only when the query is run manually.",
            "Once a day.",
            "Once a week.",
            "Twice a month.",
            "Once a month.",
            "Once a quarter.",
            "Once a year."
          ],
          "type": "string",
          "enum": [
            "FREQUENCY_UNSPECIFIED",
            "ONE_TIME",
            "DAILY",
            "WEEKLY",
            "SEMI_MONTHLY",
            "MONTHLY",
            "QUARTERLY",
            "YEARLY"
          ],
          "description": "How frequently to run the query. If set to `ONE_TIME`, the query will only be run when queries.run is called."
        }
      },
      "id": "QuerySchedule",
      "description": "Settings on when and how frequently to run a query."
    },
    "Report": {
      "type": "object",
      "id": "Report",
      "description": "A single report generated by its parent report.",
      "properties": {
        "metadata": {
          "description": "The metadata of the report.",
          "$ref": "ReportMetadata"
        },
        "params": {
          "$ref": "Parameters",
          "description": "The parameters of the report."
        },
        "key": {
          "description": "The key information identifying the report.",
          "$ref": "ReportKey"
        }
      }
    },
    "Parameters": {
      "type": "object",
      "id": "Parameters",
      "description": "Parameters of a generated report.",
      "properties": {
        "filters": {
          "type": "array",
          "description": "Filters to limit the scope of reported data.",
          "items": {
            "$ref": "FilterPair"
          }
        },
        "groupBys": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Dimensions by which to segment and group the data. Defined by [Filter](/bid-manager/reference/rest/v2/filters-metrics#filters) values."
        },
        "type": {
          "enumDescriptions": [
            "Default value when report type is not specified or is unknown in this version.",
            "Standard report.",
            "Inventory Availability report.",
            "Audience Composition report.",
            "Floodlight report.",
            "YouTube report.",
            "GRP report.",
            "YouTube Programmatic Guaranteed report.",
            "Reach report.",
            "Unique Reach Audience report.",
            "Full Path report.",
            "Path Attribution report."
          ],
          "description": "The type of the report. The type of the report determines the dimesions, filters, and metrics that can be used.",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true
          ],
          "type": "string",
          "enum": [
            "REPORT_TYPE_UNSPECIFIED",
            "STANDARD",
            "INVENTORY_AVAILABILITY",
            "AUDIENCE_COMPOSITION",
            "FLOODLIGHT",
            "YOUTUBE",
            "GRP",
            "YOUTUBE_PROGRAMMATIC_GUARANTEED",
            "REACH",
            "UNIQUE_REACH_AUDIENCE",
            "FULL_PATH",
            "PATH_ATTRIBUTION"
          ]
        },
        "options": {
          "$ref": "Options",
          "description": "Additional report parameter options."
        },
        "metrics": {
          "items": {
            "type": "string"
          },
          "description": "Metrics to define the data populating the report. Defined by [Metric](/bid-manager/reference/rest/v2/filters-metrics#metrics) values.",
          "type": "array"
        }
      }
    },
    "ReportMetadata": {
      "id": "ReportMetadata",
      "properties": {
        "googleCloudStoragePath": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The location of the generated report file in Google Cloud Storage. This field will be absent if status.state is not `DONE`."
        },
        "reportDataStartDate": {
          "description": "The start date of the report data date range.",
          "$ref": "Date"
        },
        "status": {
          "$ref": "ReportStatus",
          "description": "The status of the report."
        },
        "reportDataEndDate": {
          "description": "The end date of the report data date range.",
          "$ref": "Date"
        }
      },
      "description": "The metadata of a report.",
      "type": "object"
    }
  },
  "canonicalName": "DoubleClick Bid Manager",
  "mtlsRootUrl": "https://doubleclickbidmanager.mtls.googleapis.com/",
  "protocol": "rest",
  "servicePath": "v2/",
  "basePath": "/v2/",
  "rootUrl": "https://doubleclickbidmanager.googleapis.com/",
  "description": "DoubleClick Bid Manager API allows users to manage and create campaigns and reports.",
  "title": "DoubleClick Bid Manager API",
  "ownerName": "Google",
  "name": "doubleclickbidmanager",
  "id": "doubleclickbidmanager:v2",
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "kind": "discovery#restDescription",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerDomain": "google.com",
  "revision": "20260923",
  "documentationLink": "https://developers.google.com/bid-manager/",
  "batchPath": "batch"
}