{
  "basePath": "/v2/",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "version": "v2",
  "revision": "20260916",
  "baseUrl": "https://doubleclickbidmanager.googleapis.com/v2/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "doubleclickbidmanager",
  "documentationLink": "https://developers.google.com/bid-manager/",
  "canonicalName": "DoubleClick Bid Manager",
  "discoveryVersion": "v1",
  "description": "DoubleClick Bid Manager API allows users to manage and create campaigns and reports.",
  "title": "DoubleClick Bid Manager API",
  "resources": {
    "queries": {
      "resources": {
        "reports": {
          "methods": {
            "get": {
              "parameterOrder": [
                "queryId",
                "reportId"
              ],
              "parameters": {
                "reportId": {
                  "format": "int64",
                  "location": "path",
                  "description": "Required. The ID of the query to retrieve.",
                  "type": "string",
                  "required": true
                },
                "queryId": {
                  "location": "path",
                  "type": "string",
                  "format": "int64",
                  "required": true,
                  "description": "Required. The ID of the query that generated the report."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ],
              "path": "queries/{queryId}/reports/{reportId}",
              "id": "doubleclickbidmanager.queries.reports.get",
              "description": "Retrieves a report.",
              "flatPath": "queries/{queryId}/reports/{reportId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "Report"
              }
            },
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ],
              "path": "queries/{queryId}/reports",
              "id": "doubleclickbidmanager.queries.reports.list",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A token identifying which page of results the server should return. Typically, this is the value of nextPageToken returned from the previous call to the `queries.reports.list` method. If unspecified, the first page of results is returned."
                },
                "queryId": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The ID of the query that generated the reports.",
                  "location": "path",
                  "format": "int64"
                },
                "pageSize": {
                  "description": "Maximum number of results per page. Must be between `1` and `100`. Defaults to `100` if unspecified.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Field to sort the list by. Accepts the following values: * `key.reportId` (default) The default sorting order is ascending. To specify descending order for a field, add the suffix `desc` to the field name. For example, `key.reportId desc`."
                }
              },
              "description": "Lists reports generated by the provided query.",
              "flatPath": "queries/{queryId}/reports",
              "response": {
                "$ref": "ListReportsResponse"
              },
              "parameterOrder": [
                "queryId"
              ]
            }
          }
        }
      },
      "methods": {
        "create": {
          "flatPath": "queries",
          "response": {
            "$ref": "Query"
          },
          "path": "queries",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "httpMethod": "POST",
          "parameterOrder": [],
          "description": "Creates a new query.",
          "request": {
            "$ref": "Query"
          },
          "id": "doubleclickbidmanager.queries.create",
          "parameters": {}
        },
        "list": {
          "path": "queries",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "id": "doubleclickbidmanager.queries.list",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "A token identifying which page of results the server should return. Typically, this is the value of nextPageToken, returned from the previous call to the `queries.list` method. If unspecified, the first page of results is returned.",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "description": "Maximum number of results per page. Must be between `1` and `100`. Defaults to `100` if unspecified.",
              "location": "query",
              "type": "integer"
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "Field to sort the list by. Accepts the following values: * `queryId` (default) * `metadata.title` The default sorting order is ascending. To specify descending order for a field, add the suffix `desc` to the field name. For example, `queryId desc`."
            }
          },
          "parameterOrder": [],
          "description": "Lists queries created by the current user.",
          "response": {
            "$ref": "ListQueriesResponse"
          },
          "flatPath": "queries"
        },
        "get": {
          "path": "queries/{queryId}",
          "response": {
            "$ref": "Query"
          },
          "flatPath": "queries/{queryId}",
          "id": "doubleclickbidmanager.queries.get",
          "parameterOrder": [
            "queryId"
          ],
          "parameters": {
            "queryId": {
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "Required. The ID of the query to retrieve."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "description": "Retrieves a query.",
          "httpMethod": "GET"
        },
        "run": {
          "flatPath": "queries/{queryId}:run",
          "path": "queries/{queryId}:run",
          "response": {
            "$ref": "Report"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "RunQueryRequest"
          },
          "parameterOrder": [
            "queryId"
          ],
          "id": "doubleclickbidmanager.queries.run",
          "description": "Runs an existing query to generate a report.",
          "parameters": {
            "queryId": {
              "required": true,
              "format": "int64",
              "description": "Required. The ID of the query to run.",
              "type": "string",
              "location": "path"
            },
            "synchronous": {
              "description": "Whether the query should be run synchronously. When `true`, the request won't return until the resulting report has finished running. This parameter is `false` by default. Setting this parameter to `true` is **not recommended**.",
              "type": "boolean",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ]
        },
        "delete": {
          "parameters": {
            "queryId": {
              "location": "path",
              "description": "Required. The ID of the query to delete.",
              "type": "string",
              "required": true,
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "httpMethod": "DELETE",
          "path": "queries/{queryId}",
          "description": "Deletes an existing query as well as its generated reports.",
          "id": "doubleclickbidmanager.queries.delete",
          "parameterOrder": [
            "queryId"
          ],
          "flatPath": "queries/{queryId}"
        }
      }
    }
  },
  "batchPath": "batch",
  "rootUrl": "https://doubleclickbidmanager.googleapis.com/",
  "schemas": {
    "QueryMetadata": {
      "properties": {
        "format": {
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ],
          "description": "The format of the report generated by the query.",
          "type": "string",
          "enumDescriptions": [
            "Default value when format is not specified or is unknown in this version.",
            "CSV.",
            "Excel."
          ]
        },
        "sendNotification": {
          "description": "Whether an email notification is sent to the query creator when a report generated by the query is ready. This value is `false` by default.",
          "type": "boolean"
        },
        "title": {
          "description": "The display name of the query. This value will be used in the file name of reports generated by the query.",
          "type": "string"
        },
        "dataRange": {
          "description": "The date range the report generated by the query will report on. This date range will be defined by the time zone as used by the advertiser.",
          "$ref": "DataRange"
        },
        "shareEmailAddress": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of additional email addresses with which to share the query. If send_notification is `true`, these email addresses will receive a notification when a report generated by the query is ready. If these email addresses are connected to Display & Video 360 users, the query will be available to them in the Display & Video 360 interface."
        }
      },
      "id": "QueryMetadata",
      "description": "The metadata of the query.",
      "type": "object"
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date",
      "type": "object",
      "properties": {
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        }
      }
    },
    "Report": {
      "id": "Report",
      "description": "A single report generated by its parent report.",
      "properties": {
        "metadata": {
          "description": "The metadata of the report.",
          "$ref": "ReportMetadata"
        },
        "params": {
          "$ref": "Parameters",
          "description": "The parameters of the report."
        },
        "key": {
          "$ref": "ReportKey",
          "description": "The key information identifying the report."
        }
      },
      "type": "object"
    },
    "Options": {
      "type": "object",
      "properties": {
        "includeOnlyTargetedUserLists": {
          "description": "Whether to include data for audience lists specifically targeted by filtered line items or insertion orders. Requires the use of `FILTER_INSERTION_ORDER` or `FILTER_LINE_ITEM` filters.",
          "type": "boolean"
        }
      },
      "description": "Report parameter options.",
      "id": "Options"
    },
    "Parameters": {
      "id": "Parameters",
      "type": "object",
      "description": "Parameters of a generated report.",
      "properties": {
        "type": {
          "enum": [
            "REPORT_TYPE_UNSPECIFIED",
            "STANDARD",
            "INVENTORY_AVAILABILITY",
            "AUDIENCE_COMPOSITION",
            "FLOODLIGHT",
            "YOUTUBE",
            "GRP",
            "YOUTUBE_PROGRAMMATIC_GUARANTEED",
            "REACH",
            "UNIQUE_REACH_AUDIENCE",
            "FULL_PATH",
            "PATH_ATTRIBUTION"
          ],
          "description": "The type of the report. The type of the report determines the dimesions, filters, and metrics that can be used.",
          "type": "string",
          "enumDescriptions": [
            "Default value when report type is not specified or is unknown in this version.",
            "Standard report.",
            "Inventory Availability report.",
            "Audience Composition report.",
            "Floodlight report.",
            "YouTube report.",
            "GRP report.",
            "YouTube Programmatic Guaranteed report.",
            "Reach report.",
            "Unique Reach Audience report.",
            "Full Path report.",
            "Path Attribution report."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true
          ]
        },
        "metrics": {
          "type": "array",
          "description": "Metrics to define the data populating the report. Defined by [Metric](/bid-manager/reference/rest/v2/filters-metrics#metrics) values.",
          "items": {
            "type": "string"
          }
        },
        "filters": {
          "description": "Filters to limit the scope of reported data.",
          "type": "array",
          "items": {
            "$ref": "FilterPair"
          }
        },
        "groupBys": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Dimensions by which to segment and group the data. Defined by [Filter](/bid-manager/reference/rest/v2/filters-metrics#filters) values."
        },
        "options": {
          "description": "Additional report parameter options.",
          "$ref": "Options"
        }
      }
    },
    "RunQueryRequest": {
      "id": "RunQueryRequest",
      "type": "object",
      "description": "Details specifying how to run a query.",
      "properties": {
        "dataRange": {
          "$ref": "DataRange",
          "description": "The date range used by the query to generate the report. If unspecified, the query's original data_range is used."
        }
      }
    },
    "ReportKey": {
      "type": "object",
      "id": "ReportKey",
      "description": "Identifying information of a report.",
      "properties": {
        "reportId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique ID of the report.",
          "format": "int64"
        },
        "queryId": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The unique ID of the query that generated the report.",
          "readOnly": true
        }
      }
    },
    "DataRange": {
      "description": "The date range to be reported on.",
      "properties": {
        "customEndDate": {
          "$ref": "Date",
          "description": "If `CUSTOM_DATES` is assigned to range, this field specifies the end date for the date range that is reported on. This field is required if using `CUSTOM_DATES` range and will be ignored otherwise."
        },
        "customStartDate": {
          "$ref": "Date",
          "description": "If `CUSTOM_DATES` is assigned to range, this field specifies the starting date for the date range that is reported on. This field is required if using `CUSTOM_DATES` range and will be ignored otherwise."
        },
        "range": {
          "enumDescriptions": [
            "Default value when range is not specified or is unknown in this version.",
            "Custom date range.",
            "Current day.",
            "Previous day.",
            "All days, including the current day, since the most recent Sunday.",
            "All days, including the current day, since the start of the current month.",
            "All days, including the current day, since the start of the current quarter.",
            "All days, including the current day, since the start of the current calendar year.",
            "The previous completed week, beginning from Sunday.",
            "The previous completed calendar month.",
            "The previous completed quarter.",
            "The previous completed calendar year.",
            "The previous 7 days, excluding the current day.",
            "The previous 30 days, excluding the current day.",
            "The previous 90 days, excluding the current day.",
            "The previous 365 days, excluding the current day.",
            "All time for which data is available, excluding the current day.",
            "The previous 14 days, excluding the current day.",
            "The previous 60 days, excluding the current day."
          ],
          "enum": [
            "RANGE_UNSPECIFIED",
            "CUSTOM_DATES",
            "CURRENT_DAY",
            "PREVIOUS_DAY",
            "WEEK_TO_DATE",
            "MONTH_TO_DATE",
            "QUARTER_TO_DATE",
            "YEAR_TO_DATE",
            "PREVIOUS_WEEK",
            "PREVIOUS_MONTH",
            "PREVIOUS_QUARTER",
            "PREVIOUS_YEAR",
            "LAST_7_DAYS",
            "LAST_30_DAYS",
            "LAST_90_DAYS",
            "LAST_365_DAYS",
            "ALL_TIME",
            "LAST_14_DAYS",
            "LAST_60_DAYS"
          ],
          "type": "string",
          "description": "The preset date range to be reported on. If `CUSTOM_DATES` is assigned to this field, fields custom_start_date and custom_end_date must be set to specify the custom date range."
        }
      },
      "type": "object",
      "id": "DataRange"
    },
    "ListQueriesResponse": {
      "type": "object",
      "id": "ListQueriesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `queries.list` method to retrieve the next page of results.",
          "type": "string"
        },
        "queries": {
          "description": "The list of queries. This field will be absent if empty.",
          "items": {
            "$ref": "Query"
          },
          "type": "array"
        }
      }
    },
    "ReportMetadata": {
      "id": "ReportMetadata",
      "description": "The metadata of a report.",
      "properties": {
        "status": {
          "description": "The status of the report.",
          "$ref": "ReportStatus"
        },
        "googleCloudStoragePath": {
          "description": "Output only. The location of the generated report file in Google Cloud Storage. This field will be absent if status.state is not `DONE`.",
          "type": "string",
          "readOnly": true
        },
        "reportDataStartDate": {
          "$ref": "Date",
          "description": "The start date of the report data date range."
        },
        "reportDataEndDate": {
          "description": "The end date of the report data date range.",
          "$ref": "Date"
        }
      },
      "type": "object"
    },
    "QuerySchedule": {
      "type": "object",
      "description": "Settings on when and how frequently to run a query.",
      "properties": {
        "endDate": {
          "description": "The date on which to end the scheduled runs. This field is required if frequency is not set to `ONE_TIME`. Otherwise, it will be ignored.",
          "$ref": "Date"
        },
        "nextRunTimezoneCode": {
          "description": "The canonical code for the timezone the query schedule is based on. Scheduled runs are usually conducted in the morning of a given day. Defaults to `America/New_York`.",
          "type": "string"
        },
        "frequency": {
          "description": "How frequently to run the query. If set to `ONE_TIME`, the query will only be run when queries.run is called.",
          "enum": [
            "FREQUENCY_UNSPECIFIED",
            "ONE_TIME",
            "DAILY",
            "WEEKLY",
            "SEMI_MONTHLY",
            "MONTHLY",
            "QUARTERLY",
            "YEARLY"
          ],
          "enumDescriptions": [
            "Default value when frequency is not specified or is unknown in this version.",
            "Only when the query is run manually.",
            "Once a day.",
            "Once a week.",
            "Twice a month.",
            "Once a month.",
            "Once a quarter.",
            "Once a year."
          ],
          "type": "string"
        },
        "startDate": {
          "description": "The date on which to begin the scheduled runs. This field is required if frequency is not set to `ONE_TIME`. Otherwise, it will be ignored.",
          "$ref": "Date"
        }
      },
      "id": "QuerySchedule"
    },
    "Query": {
      "id": "Query",
      "properties": {
        "queryId": {
          "description": "Output only. The unique ID of the query.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "metadata": {
          "description": "The metadata of the query.",
          "$ref": "QueryMetadata"
        },
        "schedule": {
          "description": "When and how often the query is scheduled to run. If the frequency field is set to `ONE_TIME`, the query will only run when queries.run is called.",
          "$ref": "QuerySchedule"
        },
        "params": {
          "description": "The parameters of the report generated by the query.",
          "$ref": "Parameters"
        }
      },
      "type": "object",
      "description": "A single query used to generate a report."
    },
    "ReportStatus": {
      "description": "The status of a report.",
      "properties": {
        "format": {
          "type": "string",
          "enumDescriptions": [
            "Default value when format is not specified or is unknown in this version.",
            "CSV.",
            "Excel."
          ],
          "description": "The format of the generated report file.",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ]
        },
        "finishTime": {
          "description": "Output only. The timestamp of when report generation finished successfully or in failure. This field will not be set unless state is `DONE` or `FAILED`.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The state of the report generation.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value when state is not specified or is unknown in this version.",
            "The report is queued to run.",
            "The report is currently running.",
            "The report has finished running successfully.",
            "The report has finished running in failure."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "RUNNING",
            "DONE",
            "FAILED"
          ]
        }
      },
      "type": "object",
      "id": "ReportStatus"
    },
    "FilterPair": {
      "properties": {
        "type": {
          "description": "The type of value to filter by. Defined by a [Filter](/bid-manager/reference/rest/v2/filters-metrics#filters) value.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The identifying value to filter by, such as a relevant resource ID."
        }
      },
      "type": "object",
      "id": "FilterPair",
      "description": "Represents a single filter rule."
    },
    "ListReportsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `queries.reports.list` method to retrieve the next page of results.",
          "type": "string"
        },
        "reports": {
          "type": "array",
          "items": {
            "$ref": "Report"
          },
          "description": "The list of reports. This field will be absent if empty."
        }
      },
      "id": "ListReportsResponse"
    }
  },
  "protocol": "rest",
  "servicePath": "v2/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclickbidmanager": {
          "description": "View and manage your reports in DoubleClick Bid Manager"
        }
      }
    }
  },
  "mtlsRootUrl": "https://doubleclickbidmanager.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "id": "doubleclickbidmanager:v2",
  "parameters": {
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    }
  }
}