{
  "documentationLink": "https://developers.google.com/bid-manager/",
  "title": "DoubleClick Bid Manager API",
  "rootUrl": "https://doubleclickbidmanager.googleapis.com/",
  "revision": "20260812",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://doubleclickbidmanager.googleapis.com/v2/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclickbidmanager": {
          "description": "View and manage your reports in DoubleClick Bid Manager"
        }
      }
    }
  },
  "ownerName": "Google",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "discoveryVersion": "v1",
  "name": "doubleclickbidmanager",
  "protocol": "rest",
  "canonicalName": "DoubleClick Bid Manager",
  "id": "doubleclickbidmanager:v2",
  "schemas": {
    "ReportKey": {
      "id": "ReportKey",
      "description": "Identifying information of a report.",
      "type": "object",
      "properties": {
        "reportId": {
          "description": "Output only. The unique ID of the report.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "queryId": {
          "description": "Output only. The unique ID of the query that generated the report.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        }
      }
    },
    "QueryMetadata": {
      "type": "object",
      "properties": {
        "format": {
          "type": "string",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ],
          "description": "The format of the report generated by the query.",
          "enumDescriptions": [
            "Default value when format is not specified or is unknown in this version.",
            "CSV.",
            "Excel."
          ]
        },
        "sendNotification": {
          "description": "Whether an email notification is sent to the query creator when a report generated by the query is ready. This value is `false` by default.",
          "type": "boolean"
        },
        "shareEmailAddress": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of additional email addresses with which to share the query. If send_notification is `true`, these email addresses will receive a notification when a report generated by the query is ready. If these email addresses are connected to Display & Video 360 users, the query will be available to them in the Display & Video 360 interface."
        },
        "title": {
          "description": "The display name of the query. This value will be used in the file name of reports generated by the query.",
          "type": "string"
        },
        "dataRange": {
          "$ref": "DataRange",
          "description": "The date range the report generated by the query will report on. This date range will be defined by the time zone as used by the advertiser."
        }
      },
      "id": "QueryMetadata",
      "description": "The metadata of the query."
    },
    "Parameters": {
      "properties": {
        "filters": {
          "description": "Filters to limit the scope of reported data.",
          "type": "array",
          "items": {
            "$ref": "FilterPair"
          }
        },
        "metrics": {
          "description": "Metrics to define the data populating the report. Defined by [Metric](/bid-manager/reference/rest/v2/filters-metrics#metrics) values.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "groupBys": {
          "description": "Dimensions by which to segment and group the data. Defined by [Filter](/bid-manager/reference/rest/v2/filters-metrics#filters) values.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "description": "The type of the report. The type of the report determines the dimesions, filters, and metrics that can be used.",
          "enumDescriptions": [
            "Default value when report type is not specified or is unknown in this version.",
            "Standard report.",
            "Inventory Availability report.",
            "Audience Composition report.",
            "Floodlight report.",
            "YouTube report.",
            "GRP report.",
            "YouTube Programmatic Guaranteed report.",
            "Reach report.",
            "Unique Reach Audience report.",
            "Full Path report.",
            "Path Attribution report."
          ],
          "enum": [
            "REPORT_TYPE_UNSPECIFIED",
            "STANDARD",
            "INVENTORY_AVAILABILITY",
            "AUDIENCE_COMPOSITION",
            "FLOODLIGHT",
            "YOUTUBE",
            "GRP",
            "YOUTUBE_PROGRAMMATIC_GUARANTEED",
            "REACH",
            "UNIQUE_REACH_AUDIENCE",
            "FULL_PATH",
            "PATH_ATTRIBUTION"
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true
          ]
        },
        "options": {
          "description": "Additional report parameter options.",
          "$ref": "Options"
        }
      },
      "type": "object",
      "id": "Parameters",
      "description": "Parameters of a generated report."
    },
    "FilterPair": {
      "id": "FilterPair",
      "description": "Represents a single filter rule.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of value to filter by. Defined by a [Filter](/bid-manager/reference/rest/v2/filters-metrics#filters) value.",
          "type": "string"
        },
        "value": {
          "description": "The identifying value to filter by, such as a relevant resource ID.",
          "type": "string"
        }
      }
    },
    "Report": {
      "type": "object",
      "properties": {
        "key": {
          "$ref": "ReportKey",
          "description": "The key information identifying the report."
        },
        "params": {
          "$ref": "Parameters",
          "description": "The parameters of the report."
        },
        "metadata": {
          "$ref": "ReportMetadata",
          "description": "The metadata of the report."
        }
      },
      "id": "Report",
      "description": "A single report generated by its parent report."
    },
    "Options": {
      "type": "object",
      "properties": {
        "includeOnlyTargetedUserLists": {
          "description": "Whether to include data for audience lists specifically targeted by filtered line items or insertion orders. Requires the use of `FILTER_INSERTION_ORDER` or `FILTER_LINE_ITEM` filters.",
          "type": "boolean"
        }
      },
      "id": "Options",
      "description": "Report parameter options."
    },
    "RunQueryRequest": {
      "id": "RunQueryRequest",
      "description": "Details specifying how to run a query.",
      "properties": {
        "dataRange": {
          "$ref": "DataRange",
          "description": "The date range used by the query to generate the report. If unspecified, the query's original data_range is used."
        }
      },
      "type": "object"
    },
    "DataRange": {
      "id": "DataRange",
      "description": "The date range to be reported on.",
      "properties": {
        "customEndDate": {
          "description": "If `CUSTOM_DATES` is assigned to range, this field specifies the end date for the date range that is reported on. This field is required if using `CUSTOM_DATES` range and will be ignored otherwise.",
          "$ref": "Date"
        },
        "range": {
          "description": "The preset date range to be reported on. If `CUSTOM_DATES` is assigned to this field, fields custom_start_date and custom_end_date must be set to specify the custom date range.",
          "enumDescriptions": [
            "Default value when range is not specified or is unknown in this version.",
            "Custom date range.",
            "Current day.",
            "Previous day.",
            "All days, including the current day, since the most recent Sunday.",
            "All days, including the current day, since the start of the current month.",
            "All days, including the current day, since the start of the current quarter.",
            "All days, including the current day, since the start of the current calendar year.",
            "The previous completed week, beginning from Sunday.",
            "The previous completed calendar month.",
            "The previous completed quarter.",
            "The previous completed calendar year.",
            "The previous 7 days, excluding the current day.",
            "The previous 30 days, excluding the current day.",
            "The previous 90 days, excluding the current day.",
            "The previous 365 days, excluding the current day.",
            "All time for which data is available, excluding the current day.",
            "The previous 14 days, excluding the current day.",
            "The previous 60 days, excluding the current day."
          ],
          "type": "string",
          "enum": [
            "RANGE_UNSPECIFIED",
            "CUSTOM_DATES",
            "CURRENT_DAY",
            "PREVIOUS_DAY",
            "WEEK_TO_DATE",
            "MONTH_TO_DATE",
            "QUARTER_TO_DATE",
            "YEAR_TO_DATE",
            "PREVIOUS_WEEK",
            "PREVIOUS_MONTH",
            "PREVIOUS_QUARTER",
            "PREVIOUS_YEAR",
            "LAST_7_DAYS",
            "LAST_30_DAYS",
            "LAST_90_DAYS",
            "LAST_365_DAYS",
            "ALL_TIME",
            "LAST_14_DAYS",
            "LAST_60_DAYS"
          ]
        },
        "customStartDate": {
          "$ref": "Date",
          "description": "If `CUSTOM_DATES` is assigned to range, this field specifies the starting date for the date range that is reported on. This field is required if using `CUSTOM_DATES` range and will be ignored otherwise."
        }
      },
      "type": "object"
    },
    "ReportMetadata": {
      "type": "object",
      "properties": {
        "reportDataEndDate": {
          "description": "The end date of the report data date range.",
          "$ref": "Date"
        },
        "status": {
          "$ref": "ReportStatus",
          "description": "The status of the report."
        },
        "googleCloudStoragePath": {
          "type": "string",
          "description": "Output only. The location of the generated report file in Google Cloud Storage. This field will be absent if status.state is not `DONE`.",
          "readOnly": true
        },
        "reportDataStartDate": {
          "description": "The start date of the report data date range.",
          "$ref": "Date"
        }
      },
      "id": "ReportMetadata",
      "description": "The metadata of a report."
    },
    "Query": {
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "QueryMetadata",
          "description": "The metadata of the query."
        },
        "schedule": {
          "$ref": "QuerySchedule",
          "description": "When and how often the query is scheduled to run. If the frequency field is set to `ONE_TIME`, the query will only run when queries.run is called."
        },
        "queryId": {
          "description": "Output only. The unique ID of the query.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "params": {
          "$ref": "Parameters",
          "description": "The parameters of the report generated by the query."
        }
      },
      "id": "Query",
      "description": "A single query used to generate a report."
    },
    "QuerySchedule": {
      "type": "object",
      "properties": {
        "startDate": {
          "description": "The date on which to begin the scheduled runs. This field is required if frequency is not set to `ONE_TIME`. Otherwise, it will be ignored.",
          "$ref": "Date"
        },
        "nextRunTimezoneCode": {
          "description": "The canonical code for the timezone the query schedule is based on. Scheduled runs are usually conducted in the morning of a given day. Defaults to `America/New_York`.",
          "type": "string"
        },
        "endDate": {
          "description": "The date on which to end the scheduled runs. This field is required if frequency is not set to `ONE_TIME`. Otherwise, it will be ignored.",
          "$ref": "Date"
        },
        "frequency": {
          "description": "How frequently to run the query. If set to `ONE_TIME`, the query will only be run when queries.run is called.",
          "enumDescriptions": [
            "Default value when frequency is not specified or is unknown in this version.",
            "Only when the query is run manually.",
            "Once a day.",
            "Once a week.",
            "Twice a month.",
            "Once a month.",
            "Once a quarter.",
            "Once a year."
          ],
          "type": "string",
          "enum": [
            "FREQUENCY_UNSPECIFIED",
            "ONE_TIME",
            "DAILY",
            "WEEKLY",
            "SEMI_MONTHLY",
            "MONTHLY",
            "QUARTERLY",
            "YEARLY"
          ]
        }
      },
      "id": "QuerySchedule",
      "description": "Settings on when and how frequently to run a query."
    },
    "ListQueriesResponse": {
      "properties": {
        "queries": {
          "type": "array",
          "items": {
            "$ref": "Query"
          },
          "description": "The list of queries. This field will be absent if empty."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `queries.list` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListQueriesResponse"
    },
    "ReportStatus": {
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. The state of the report generation.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value when state is not specified or is unknown in this version.",
            "The report is queued to run.",
            "The report is currently running.",
            "The report has finished running successfully.",
            "The report has finished running in failure."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "RUNNING",
            "DONE",
            "FAILED"
          ]
        },
        "format": {
          "type": "string",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ],
          "description": "The format of the generated report file.",
          "enumDescriptions": [
            "Default value when format is not specified or is unknown in this version.",
            "CSV.",
            "Excel."
          ]
        },
        "finishTime": {
          "description": "Output only. The timestamp of when report generation finished successfully or in failure. This field will not be set unless state is `DONE` or `FAILED`.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "ReportStatus",
      "description": "The status of a report."
    },
    "Date": {
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "properties": {
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        },
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        }
      }
    },
    "ListReportsResponse": {
      "properties": {
        "reports": {
          "description": "The list of reports. This field will be absent if empty.",
          "type": "array",
          "items": {
            "$ref": "Report"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `queries.reports.list` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListReportsResponse"
    }
  },
  "basePath": "/v2/",
  "version": "v2",
  "servicePath": "v2/",
  "resources": {
    "queries": {
      "methods": {
        "get": {
          "parameters": {
            "queryId": {
              "location": "path",
              "required": true,
              "description": "Required. The ID of the query to retrieve.",
              "format": "int64",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "path": "queries/{queryId}",
          "id": "doubleclickbidmanager.queries.get",
          "flatPath": "queries/{queryId}",
          "response": {
            "$ref": "Query"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "description": "Retrieves a query.",
          "parameterOrder": [
            "queryId"
          ]
        },
        "run": {
          "description": "Runs an existing query to generate a report.",
          "parameterOrder": [
            "queryId"
          ],
          "response": {
            "$ref": "Report"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "id": "doubleclickbidmanager.queries.run",
          "flatPath": "queries/{queryId}:run",
          "parameters": {
            "queryId": {
              "description": "Required. The ID of the query to run.",
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string"
            },
            "synchronous": {
              "location": "query",
              "description": "Whether the query should be run synchronously. When `true`, the request won't return until the resulting report has finished running. This parameter is `false` by default. Setting this parameter to `true` is **not recommended**.",
              "type": "boolean"
            }
          },
          "httpMethod": "POST",
          "path": "queries/{queryId}:run",
          "request": {
            "$ref": "RunQueryRequest"
          }
        },
        "list": {
          "path": "queries",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "A token identifying which page of results the server should return. Typically, this is the value of nextPageToken, returned from the previous call to the `queries.list` method. If unspecified, the first page of results is returned.",
              "type": "string"
            },
            "pageSize": {
              "description": "Maximum number of results per page. Must be between `1` and `100`. Defaults to `100` if unspecified.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "orderBy": {
              "description": "Field to sort the list by. Accepts the following values: * `queryId` (default) * `metadata.title` The default sorting order is ascending. To specify descending order for a field, add the suffix `desc` to the field name. For example, `queryId desc`.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "queries",
          "id": "doubleclickbidmanager.queries.list",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "response": {
            "$ref": "ListQueriesResponse"
          },
          "parameterOrder": [],
          "description": "Lists queries created by the current user."
        },
        "create": {
          "id": "doubleclickbidmanager.queries.create",
          "flatPath": "queries",
          "parameters": {},
          "httpMethod": "POST",
          "path": "queries",
          "request": {
            "$ref": "Query"
          },
          "description": "Creates a new query.",
          "parameterOrder": [],
          "response": {
            "$ref": "Query"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ]
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameters": {
            "queryId": {
              "description": "Required. The ID of the query to delete.",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "path": "queries/{queryId}",
          "flatPath": "queries/{queryId}",
          "parameterOrder": [
            "queryId"
          ],
          "id": "doubleclickbidmanager.queries.delete",
          "description": "Deletes an existing query as well as its generated reports."
        }
      },
      "resources": {
        "reports": {
          "methods": {
            "get": {
              "flatPath": "queries/{queryId}/reports/{reportId}",
              "id": "doubleclickbidmanager.queries.reports.get",
              "path": "queries/{queryId}/reports/{reportId}",
              "httpMethod": "GET",
              "parameters": {
                "reportId": {
                  "format": "int64",
                  "type": "string",
                  "description": "Required. The ID of the query to retrieve.",
                  "location": "path",
                  "required": true
                },
                "queryId": {
                  "type": "string",
                  "format": "int64",
                  "description": "Required. The ID of the query that generated the report.",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "queryId",
                "reportId"
              ],
              "description": "Retrieves a report.",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ],
              "response": {
                "$ref": "Report"
              }
            },
            "list": {
              "path": "queries/{queryId}/reports",
              "parameters": {
                "queryId": {
                  "description": "Required. The ID of the query that generated the reports.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": "int64"
                },
                "pageSize": {
                  "description": "Maximum number of results per page. Must be between `1` and `100`. Defaults to `100` if unspecified.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Field to sort the list by. Accepts the following values: * `key.reportId` (default) The default sorting order is ascending. To specify descending order for a field, add the suffix `desc` to the field name. For example, `key.reportId desc`.",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A token identifying which page of results the server should return. Typically, this is the value of nextPageToken returned from the previous call to the `queries.reports.list` method. If unspecified, the first page of results is returned.",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "id": "doubleclickbidmanager.queries.reports.list",
              "flatPath": "queries/{queryId}/reports",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ],
              "response": {
                "$ref": "ListReportsResponse"
              },
              "description": "Lists reports generated by the provided query.",
              "parameterOrder": [
                "queryId"
              ]
            }
          }
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://doubleclickbidmanager.mtls.googleapis.com/",
  "description": "DoubleClick Bid Manager API allows users to manage and create campaigns and reports."
}