{
  "rootUrl": "https://doubleclickbidmanager.googleapis.com/",
  "parameters": {
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "title": "DoubleClick Bid Manager API",
  "canonicalName": "DoubleClick Bid Manager",
  "servicePath": "v2/",
  "kind": "discovery#restDescription",
  "revision": "20260916",
  "schemas": {
    "Options": {
      "type": "object",
      "properties": {
        "includeOnlyTargetedUserLists": {
          "description": "Whether to include data for audience lists specifically targeted by filtered line items or insertion orders. Requires the use of `FILTER_INSERTION_ORDER` or `FILTER_LINE_ITEM` filters.",
          "type": "boolean"
        }
      },
      "description": "Report parameter options.",
      "id": "Options"
    },
    "DataRange": {
      "description": "The date range to be reported on.",
      "id": "DataRange",
      "type": "object",
      "properties": {
        "customEndDate": {
          "description": "If `CUSTOM_DATES` is assigned to range, this field specifies the end date for the date range that is reported on. This field is required if using `CUSTOM_DATES` range and will be ignored otherwise.",
          "$ref": "Date"
        },
        "customStartDate": {
          "$ref": "Date",
          "description": "If `CUSTOM_DATES` is assigned to range, this field specifies the starting date for the date range that is reported on. This field is required if using `CUSTOM_DATES` range and will be ignored otherwise."
        },
        "range": {
          "type": "string",
          "enum": [
            "RANGE_UNSPECIFIED",
            "CUSTOM_DATES",
            "CURRENT_DAY",
            "PREVIOUS_DAY",
            "WEEK_TO_DATE",
            "MONTH_TO_DATE",
            "QUARTER_TO_DATE",
            "YEAR_TO_DATE",
            "PREVIOUS_WEEK",
            "PREVIOUS_MONTH",
            "PREVIOUS_QUARTER",
            "PREVIOUS_YEAR",
            "LAST_7_DAYS",
            "LAST_30_DAYS",
            "LAST_90_DAYS",
            "LAST_365_DAYS",
            "ALL_TIME",
            "LAST_14_DAYS",
            "LAST_60_DAYS"
          ],
          "enumDescriptions": [
            "Default value when range is not specified or is unknown in this version.",
            "Custom date range.",
            "Current day.",
            "Previous day.",
            "All days, including the current day, since the most recent Sunday.",
            "All days, including the current day, since the start of the current month.",
            "All days, including the current day, since the start of the current quarter.",
            "All days, including the current day, since the start of the current calendar year.",
            "The previous completed week, beginning from Sunday.",
            "The previous completed calendar month.",
            "The previous completed quarter.",
            "The previous completed calendar year.",
            "The previous 7 days, excluding the current day.",
            "The previous 30 days, excluding the current day.",
            "The previous 90 days, excluding the current day.",
            "The previous 365 days, excluding the current day.",
            "All time for which data is available, excluding the current day.",
            "The previous 14 days, excluding the current day.",
            "The previous 60 days, excluding the current day."
          ],
          "description": "The preset date range to be reported on. If `CUSTOM_DATES` is assigned to this field, fields custom_start_date and custom_end_date must be set to specify the custom date range."
        }
      }
    },
    "ReportKey": {
      "id": "ReportKey",
      "type": "object",
      "description": "Identifying information of a report.",
      "properties": {
        "reportId": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique ID of the report."
        },
        "queryId": {
          "description": "Output only. The unique ID of the query that generated the report.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        }
      }
    },
    "QueryMetadata": {
      "id": "QueryMetadata",
      "description": "The metadata of the query.",
      "type": "object",
      "properties": {
        "title": {
          "description": "The display name of the query. This value will be used in the file name of reports generated by the query.",
          "type": "string"
        },
        "shareEmailAddress": {
          "items": {
            "type": "string"
          },
          "description": "List of additional email addresses with which to share the query. If send_notification is `true`, these email addresses will receive a notification when a report generated by the query is ready. If these email addresses are connected to Display & Video 360 users, the query will be available to them in the Display & Video 360 interface.",
          "type": "array"
        },
        "format": {
          "enumDescriptions": [
            "Default value when format is not specified or is unknown in this version.",
            "CSV.",
            "Excel."
          ],
          "description": "The format of the report generated by the query.",
          "type": "string",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ]
        },
        "dataRange": {
          "description": "The date range the report generated by the query will report on. This date range will be defined by the time zone as used by the advertiser.",
          "$ref": "DataRange"
        },
        "sendNotification": {
          "description": "Whether an email notification is sent to the query creator when a report generated by the query is ready. This value is `false` by default.",
          "type": "boolean"
        }
      }
    },
    "Report": {
      "type": "object",
      "id": "Report",
      "properties": {
        "key": {
          "$ref": "ReportKey",
          "description": "The key information identifying the report."
        },
        "metadata": {
          "description": "The metadata of the report.",
          "$ref": "ReportMetadata"
        },
        "params": {
          "description": "The parameters of the report.",
          "$ref": "Parameters"
        }
      },
      "description": "A single report generated by its parent report."
    },
    "ReportMetadata": {
      "type": "object",
      "description": "The metadata of a report.",
      "properties": {
        "reportDataEndDate": {
          "description": "The end date of the report data date range.",
          "$ref": "Date"
        },
        "reportDataStartDate": {
          "$ref": "Date",
          "description": "The start date of the report data date range."
        },
        "status": {
          "description": "The status of the report.",
          "$ref": "ReportStatus"
        },
        "googleCloudStoragePath": {
          "readOnly": true,
          "description": "Output only. The location of the generated report file in Google Cloud Storage. This field will be absent if status.state is not `DONE`.",
          "type": "string"
        }
      },
      "id": "ReportMetadata"
    },
    "Query": {
      "id": "Query",
      "type": "object",
      "description": "A single query used to generate a report.",
      "properties": {
        "queryId": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The unique ID of the query."
        },
        "metadata": {
          "description": "The metadata of the query.",
          "$ref": "QueryMetadata"
        },
        "schedule": {
          "description": "When and how often the query is scheduled to run. If the frequency field is set to `ONE_TIME`, the query will only run when queries.run is called.",
          "$ref": "QuerySchedule"
        },
        "params": {
          "description": "The parameters of the report generated by the query.",
          "$ref": "Parameters"
        }
      }
    },
    "FilterPair": {
      "id": "FilterPair",
      "properties": {
        "value": {
          "type": "string",
          "description": "The identifying value to filter by, such as a relevant resource ID."
        },
        "type": {
          "description": "The type of value to filter by. Defined by a [Filter](/bid-manager/reference/rest/v2/filters-metrics#filters) value.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a single filter rule."
    },
    "QuerySchedule": {
      "properties": {
        "nextRunTimezoneCode": {
          "description": "The canonical code for the timezone the query schedule is based on. Scheduled runs are usually conducted in the morning of a given day. Defaults to `America/New_York`.",
          "type": "string"
        },
        "startDate": {
          "$ref": "Date",
          "description": "The date on which to begin the scheduled runs. This field is required if frequency is not set to `ONE_TIME`. Otherwise, it will be ignored."
        },
        "endDate": {
          "$ref": "Date",
          "description": "The date on which to end the scheduled runs. This field is required if frequency is not set to `ONE_TIME`. Otherwise, it will be ignored."
        },
        "frequency": {
          "enumDescriptions": [
            "Default value when frequency is not specified or is unknown in this version.",
            "Only when the query is run manually.",
            "Once a day.",
            "Once a week.",
            "Twice a month.",
            "Once a month.",
            "Once a quarter.",
            "Once a year."
          ],
          "type": "string",
          "description": "How frequently to run the query. If set to `ONE_TIME`, the query will only be run when queries.run is called.",
          "enum": [
            "FREQUENCY_UNSPECIFIED",
            "ONE_TIME",
            "DAILY",
            "WEEKLY",
            "SEMI_MONTHLY",
            "MONTHLY",
            "QUARTERLY",
            "YEARLY"
          ]
        }
      },
      "id": "QuerySchedule",
      "description": "Settings on when and how frequently to run a query.",
      "type": "object"
    },
    "Parameters": {
      "type": "object",
      "id": "Parameters",
      "properties": {
        "groupBys": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Dimensions by which to segment and group the data. Defined by [Filter](/bid-manager/reference/rest/v2/filters-metrics#filters) values."
        },
        "filters": {
          "description": "Filters to limit the scope of reported data.",
          "type": "array",
          "items": {
            "$ref": "FilterPair"
          }
        },
        "options": {
          "$ref": "Options",
          "description": "Additional report parameter options."
        },
        "type": {
          "enum": [
            "REPORT_TYPE_UNSPECIFIED",
            "STANDARD",
            "INVENTORY_AVAILABILITY",
            "AUDIENCE_COMPOSITION",
            "FLOODLIGHT",
            "YOUTUBE",
            "GRP",
            "YOUTUBE_PROGRAMMATIC_GUARANTEED",
            "REACH",
            "UNIQUE_REACH_AUDIENCE",
            "FULL_PATH",
            "PATH_ATTRIBUTION"
          ],
          "description": "The type of the report. The type of the report determines the dimesions, filters, and metrics that can be used.",
          "enumDescriptions": [
            "Default value when report type is not specified or is unknown in this version.",
            "Standard report.",
            "Inventory Availability report.",
            "Audience Composition report.",
            "Floodlight report.",
            "YouTube report.",
            "GRP report.",
            "YouTube Programmatic Guaranteed report.",
            "Reach report.",
            "Unique Reach Audience report.",
            "Full Path report.",
            "Path Attribution report."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true
          ],
          "type": "string"
        },
        "metrics": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Metrics to define the data populating the report. Defined by [Metric](/bid-manager/reference/rest/v2/filters-metrics#metrics) values."
        }
      },
      "description": "Parameters of a generated report."
    },
    "ListReportsResponse": {
      "type": "object",
      "id": "ListReportsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `queries.reports.list` method to retrieve the next page of results.",
          "type": "string"
        },
        "reports": {
          "description": "The list of reports. This field will be absent if empty.",
          "type": "array",
          "items": {
            "$ref": "Report"
          }
        }
      }
    },
    "RunQueryRequest": {
      "type": "object",
      "properties": {
        "dataRange": {
          "$ref": "DataRange",
          "description": "The date range used by the query to generate the report. If unspecified, the query's original data_range is used."
        }
      },
      "id": "RunQueryRequest",
      "description": "Details specifying how to run a query."
    },
    "ListQueriesResponse": {
      "id": "ListQueriesResponse",
      "type": "object",
      "properties": {
        "queries": {
          "description": "The list of queries. This field will be absent if empty.",
          "type": "array",
          "items": {
            "$ref": "Query"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `queries.list` method to retrieve the next page of results.",
          "type": "string"
        }
      }
    },
    "ReportStatus": {
      "description": "The status of a report.",
      "id": "ReportStatus",
      "properties": {
        "state": {
          "description": "Output only. The state of the report generation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "RUNNING",
            "DONE",
            "FAILED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value when state is not specified or is unknown in this version.",
            "The report is queued to run.",
            "The report is currently running.",
            "The report has finished running successfully.",
            "The report has finished running in failure."
          ]
        },
        "finishTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp of when report generation finished successfully or in failure. This field will not be set unless state is `DONE` or `FAILED`.",
          "readOnly": true
        },
        "format": {
          "enumDescriptions": [
            "Default value when format is not specified or is unknown in this version.",
            "CSV.",
            "Excel."
          ],
          "description": "The format of the generated report file.",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "Date": {
      "properties": {
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        }
      },
      "id": "Date",
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    }
  },
  "protocol": "rest",
  "batchPath": "batch",
  "version": "v2",
  "baseUrl": "https://doubleclickbidmanager.googleapis.com/v2/",
  "name": "doubleclickbidmanager",
  "resources": {
    "queries": {
      "resources": {
        "reports": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ],
              "parameterOrder": [
                "queryId",
                "reportId"
              ],
              "response": {
                "$ref": "Report"
              },
              "httpMethod": "GET",
              "description": "Retrieves a report.",
              "parameters": {
                "reportId": {
                  "required": true,
                  "format": "int64",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The ID of the query to retrieve."
                },
                "queryId": {
                  "type": "string",
                  "format": "int64",
                  "required": true,
                  "description": "Required. The ID of the query that generated the report.",
                  "location": "path"
                }
              },
              "id": "doubleclickbidmanager.queries.reports.get",
              "flatPath": "queries/{queryId}/reports/{reportId}",
              "path": "queries/{queryId}/reports/{reportId}"
            },
            "list": {
              "id": "doubleclickbidmanager.queries.reports.list",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "Maximum number of results per page. Must be between `1` and `100`. Defaults to `100` if unspecified.",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A token identifying which page of results the server should return. Typically, this is the value of nextPageToken returned from the previous call to the `queries.reports.list` method. If unspecified, the first page of results is returned."
                },
                "orderBy": {
                  "location": "query",
                  "description": "Field to sort the list by. Accepts the following values: * `key.reportId` (default) The default sorting order is ascending. To specify descending order for a field, add the suffix `desc` to the field name. For example, `key.reportId desc`.",
                  "type": "string"
                },
                "queryId": {
                  "location": "path",
                  "description": "Required. The ID of the query that generated the reports.",
                  "type": "string",
                  "format": "int64",
                  "required": true
                }
              },
              "response": {
                "$ref": "ListReportsResponse"
              },
              "description": "Lists reports generated by the provided query.",
              "parameterOrder": [
                "queryId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ],
              "httpMethod": "GET",
              "flatPath": "queries/{queryId}/reports",
              "path": "queries/{queryId}/reports"
            }
          }
        }
      },
      "methods": {
        "create": {
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "Query"
          },
          "flatPath": "queries",
          "id": "doubleclickbidmanager.queries.create",
          "httpMethod": "POST",
          "path": "queries",
          "description": "Creates a new query.",
          "request": {
            "$ref": "Query"
          }
        },
        "list": {
          "id": "doubleclickbidmanager.queries.list",
          "response": {
            "$ref": "ListQueriesResponse"
          },
          "parameters": {
            "pageToken": {
              "description": "A token identifying which page of results the server should return. Typically, this is the value of nextPageToken, returned from the previous call to the `queries.list` method. If unspecified, the first page of results is returned.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "description": "Maximum number of results per page. Must be between `1` and `100`. Defaults to `100` if unspecified.",
              "type": "integer",
              "format": "int32"
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "Field to sort the list by. Accepts the following values: * `queryId` (default) * `metadata.title` The default sorting order is ascending. To specify descending order for a field, add the suffix `desc` to the field name. For example, `queryId desc`."
            }
          },
          "flatPath": "queries",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "httpMethod": "GET",
          "parameterOrder": [],
          "path": "queries",
          "description": "Lists queries created by the current user."
        },
        "get": {
          "description": "Retrieves a query.",
          "path": "queries/{queryId}",
          "parameters": {
            "queryId": {
              "description": "Required. The ID of the query to retrieve.",
              "type": "string",
              "required": true,
              "location": "path",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "flatPath": "queries/{queryId}",
          "parameterOrder": [
            "queryId"
          ],
          "id": "doubleclickbidmanager.queries.get",
          "response": {
            "$ref": "Query"
          },
          "httpMethod": "GET"
        },
        "delete": {
          "parameters": {
            "queryId": {
              "description": "Required. The ID of the query to delete.",
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true
            }
          },
          "id": "doubleclickbidmanager.queries.delete",
          "description": "Deletes an existing query as well as its generated reports.",
          "flatPath": "queries/{queryId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "queryId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "path": "queries/{queryId}"
        },
        "run": {
          "parameters": {
            "synchronous": {
              "type": "boolean",
              "location": "query",
              "description": "Whether the query should be run synchronously. When `true`, the request won't return until the resulting report has finished running. This parameter is `false` by default. Setting this parameter to `true` is **not recommended**."
            },
            "queryId": {
              "location": "path",
              "description": "Required. The ID of the query to run.",
              "format": "int64",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "queryId"
          ],
          "flatPath": "queries/{queryId}:run",
          "request": {
            "$ref": "RunQueryRequest"
          },
          "id": "doubleclickbidmanager.queries.run",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "description": "Runs an existing query to generate a report.",
          "path": "queries/{queryId}:run",
          "response": {
            "$ref": "Report"
          },
          "httpMethod": "POST"
        }
      }
    }
  },
  "description": "DoubleClick Bid Manager API allows users to manage and create campaigns and reports.",
  "basePath": "/v2/",
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/bid-manager/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "id": "doubleclickbidmanager:v2",
  "mtlsRootUrl": "https://doubleclickbidmanager.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclickbidmanager": {
          "description": "View and manage your reports in DoubleClick Bid Manager"
        }
      }
    }
  }
}