{
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "canonicalName": "Doubleclicksearch",
  "mtlsRootUrl": "https://doubleclicksearch.mtls.googleapis.com/",
  "ownerName": "Google",
  "resources": {
    "savedColumns": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "parameters": {
            "agencyId": {
              "description": "DS ID of the agency.",
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path"
            },
            "advertiserId": {
              "type": "string",
              "description": "DS ID of the advertiser.",
              "required": true,
              "format": "int64",
              "location": "path"
            }
          },
          "id": "doubleclicksearch.savedColumns.list",
          "httpMethod": "GET",
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "description": "Retrieve the list of saved columns for a specified advertiser.",
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "response": {
            "$ref": "SavedColumnList"
          }
        }
      }
    },
    "conversion": {
      "methods": {
        "get": {
          "response": {
            "$ref": "ConversionList"
          },
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "parameterOrder": [
            "agencyId",
            "advertiserId",
            "engineAccountId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "id": "doubleclicksearch.conversion.get",
          "httpMethod": "GET",
          "parameters": {
            "adId": {
              "description": "Numeric ID of the ad.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "rowCount": {
              "type": "integer",
              "maximum": "1000",
              "required": true,
              "description": "The number of conversions to return per call.",
              "location": "query",
              "format": "int32",
              "minimum": "1"
            },
            "startDate": {
              "type": "integer",
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "maximum": "99991231",
              "required": true,
              "format": "int32",
              "location": "query",
              "minimum": "20091101"
            },
            "campaignId": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Numeric ID of the campaign."
            },
            "criterionId": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Numeric ID of the criterion."
            },
            "adGroupId": {
              "description": "Numeric ID of the ad group.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "customerId": {
              "description": "Customer ID of a client account in the new Search Ads 360 experience.",
              "location": "query",
              "type": "string"
            },
            "startRow": {
              "format": "uint32",
              "location": "query",
              "description": "The 0-based starting index for retrieving conversions results.",
              "required": true,
              "type": "integer"
            },
            "agencyId": {
              "type": "string",
              "required": true,
              "description": "Numeric ID of the agency.",
              "location": "path",
              "format": "int64"
            },
            "engineAccountId": {
              "format": "int64",
              "location": "path",
              "description": "Numeric ID of the engine account.",
              "required": true,
              "type": "string"
            },
            "advertiserId": {
              "type": "string",
              "description": "Numeric ID of the advertiser.",
              "required": true,
              "format": "int64",
              "location": "path"
            },
            "endDate": {
              "type": "integer",
              "maximum": "99991231",
              "required": true,
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "location": "query",
              "format": "int32",
              "minimum": "20091101"
            }
          },
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "getByCustomerId": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "parameters": {
            "campaignId": {
              "format": "int64",
              "location": "query",
              "type": "string",
              "description": "Numeric ID of the campaign."
            },
            "adId": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Numeric ID of the ad."
            },
            "rowCount": {
              "type": "integer",
              "description": "The number of conversions to return per call.",
              "maximum": "1000",
              "required": true,
              "format": "int32",
              "location": "query",
              "minimum": "1"
            },
            "startDate": {
              "location": "query",
              "format": "int32",
              "minimum": "20091101",
              "type": "integer",
              "maximum": "99991231",
              "required": true,
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd."
            },
            "customerId": {
              "location": "path",
              "type": "string",
              "description": "Customer ID of a client account in the new Search Ads 360 experience.",
              "required": true
            },
            "adGroupId": {
              "format": "int64",
              "location": "query",
              "type": "string",
              "description": "Numeric ID of the ad group."
            },
            "criterionId": {
              "description": "Numeric ID of the criterion.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "startRow": {
              "description": "The 0-based starting index for retrieving conversions results.",
              "required": true,
              "type": "integer",
              "format": "uint32",
              "location": "query"
            },
            "advertiserId": {
              "description": "Numeric ID of the advertiser.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "endDate": {
              "format": "int32",
              "location": "query",
              "minimum": "20091101",
              "type": "integer",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "maximum": "99991231",
              "required": true
            },
            "agencyId": {
              "format": "int64",
              "location": "query",
              "type": "string",
              "description": "Numeric ID of the agency."
            },
            "engineAccountId": {
              "description": "Numeric ID of the engine account.",
              "location": "query",
              "type": "string",
              "format": "int64"
            }
          },
          "flatPath": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "response": {
            "$ref": "ConversionList"
          },
          "id": "doubleclicksearch.conversion.getByCustomerId",
          "httpMethod": "GET",
          "parameterOrder": [
            "customerId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account."
        },
        "updateAvailability": {
          "flatPath": "doubleclicksearch/v2/conversion/updateAvailability",
          "response": {
            "$ref": "UpdateAvailabilityResponse"
          },
          "id": "doubleclicksearch.conversion.updateAvailability",
          "httpMethod": "POST",
          "request": {
            "$ref": "UpdateAvailabilityRequest"
          },
          "parameterOrder": [],
          "description": "Updates the availabilities of a batch of floodlight activities in DoubleClick Search.",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameters": {},
          "path": "doubleclicksearch/v2/conversion/updateAvailability"
        },
        "insert": {
          "response": {
            "$ref": "ConversionList"
          },
          "flatPath": "doubleclicksearch/v2/conversion",
          "parameterOrder": [],
          "description": "Inserts a batch of new conversions into DoubleClick Search.",
          "id": "doubleclicksearch.conversion.insert",
          "httpMethod": "POST",
          "request": {
            "$ref": "ConversionList"
          },
          "path": "doubleclicksearch/v2/conversion",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "update": {
          "parameters": {},
          "path": "doubleclicksearch/v2/conversion",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "ConversionList"
          },
          "flatPath": "doubleclicksearch/v2/conversion",
          "parameterOrder": [],
          "description": "Updates a batch of conversions in DoubleClick Search.",
          "id": "doubleclicksearch.conversion.update",
          "httpMethod": "PUT",
          "request": {
            "$ref": "ConversionList"
          }
        }
      }
    },
    "reports": {
      "methods": {
        "generate": {
          "parameters": {},
          "path": "doubleclicksearch/v2/reports/generate",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "Report"
          },
          "flatPath": "doubleclicksearch/v2/reports/generate",
          "parameterOrder": [],
          "description": "Generates and returns a report immediately.",
          "id": "doubleclicksearch.reports.generate",
          "httpMethod": "POST",
          "request": {
            "$ref": "ReportRequest"
          }
        },
        "get": {
          "parameterOrder": [
            "reportId"
          ],
          "description": "Polls for the status of a report request.",
          "id": "doubleclicksearch.reports.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "Report"
          },
          "flatPath": "doubleclicksearch/v2/reports/{reportId}",
          "parameters": {
            "reportId": {
              "description": "ID of the report request being polled.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "path": "doubleclicksearch/v2/reports/{reportId}",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "getFile": {
          "flatPath": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "parameterOrder": [
            "reportId",
            "reportFragment"
          ],
          "description": "Downloads a report file encoded in UTF-8.",
          "useMediaDownloadService": true,
          "id": "doubleclicksearch.reports.getFile",
          "httpMethod": "GET",
          "parameters": {
            "reportId": {
              "description": "ID of the report.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "reportFragment": {
              "minimum": "0",
              "location": "path",
              "format": "int32",
              "required": true,
              "description": "The index of the report fragment to download.",
              "type": "integer"
            }
          },
          "path": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "supportsMediaDownload": true
        },
        "request": {
          "response": {
            "$ref": "Report"
          },
          "flatPath": "doubleclicksearch/v2/reports",
          "parameterOrder": [],
          "description": "Inserts a report request into the reporting system.",
          "id": "doubleclicksearch.reports.request",
          "httpMethod": "POST",
          "request": {
            "$ref": "ReportRequest"
          },
          "parameters": {},
          "path": "doubleclicksearch/v2/reports",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "getIdMappingFile": {
          "parameters": {
            "agencyId": {
              "description": "Legacy SA360 agency ID.",
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path"
            },
            "advertiserId": {
              "description": "Legacy SA360 advertiser ID.",
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path"
            }
          },
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "supportsMediaDownload": true,
          "response": {
            "$ref": "IdMappingFile"
          },
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "description": "Downloads a csv file(encoded in UTF-8) that contains ID mappings between legacy SA360 and new SA360. The file includes all children entities of the given advertiser(e.g. engine accounts, campaigns, ad groups, etc.) that exist in both legacy SA360 and new SA360.",
          "useMediaDownloadService": true,
          "id": "doubleclicksearch.reports.getIdMappingFile",
          "httpMethod": "GET"
        }
      }
    }
  },
  "description": "The Search Ads 360 API allows developers to automate uploading conversions and downloading reports from Search Ads 360.",
  "documentationLink": "https://developers.google.com/search-ads",
  "servicePath": "",
  "title": "Search Ads 360 API",
  "kind": "discovery#restDescription",
  "baseUrl": "https://doubleclicksearch.googleapis.com/",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "doubleclicksearch",
  "id": "doubleclicksearch:v2",
  "version": "v2",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "alt": {
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "schemas": {
    "Availability": {
      "id": "Availability",
      "type": "object",
      "properties": {
        "segmentationId": {
          "type": "string",
          "format": "int64",
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID)."
        },
        "segmentationType": {
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "description": "The segmentation type that this availability is for (its default value is `FLOODLIGHT`).",
          "type": "string"
        },
        "availabilityTimestamp": {
          "description": "The time by which all conversions have been uploaded, in epoch millis UTC.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "format": "int64",
          "type": "string"
        },
        "advertiserId": {
          "description": "DS advertiser ID.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "format": "int64",
          "type": "string"
        },
        "segmentationName": {
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name).",
          "type": "string"
        },
        "customerId": {
          "type": "string",
          "description": "Customer ID of a client account in the new Search Ads 360 experience."
        },
        "agencyId": {
          "format": "int64",
          "type": "string",
          "description": "DS agency ID.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        }
      },
      "description": "A message containing availability data relevant to DoubleClick Search."
    },
    "Conversion": {
      "id": "Conversion",
      "type": "object",
      "properties": {
        "floodlightOrderId": {
          "description": "The Floodlight order ID provided by the advertiser for the conversion.",
          "type": "string"
        },
        "inventoryAccountId": {
          "description": "ID that DS generates and uses to uniquely identify the inventory account that contains the product.",
          "type": "string",
          "format": "int64"
        },
        "storeId": {
          "description": "The ID of the local store for which the product was advertised. Applicable only when the channel is \"`local`\".",
          "type": "string"
        },
        "conversionTimestamp": {
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "description": "The time at which the conversion took place, in epoch millis UTC."
        },
        "attributionModel": {
          "type": "string",
          "description": "Available to advertisers only after contacting DoubleClick Search customer support."
        },
        "segmentationName": {
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name).",
          "type": "string"
        },
        "customerId": {
          "type": "string",
          "description": "Customer ID of a client account in the new Search Ads 360 experience."
        },
        "productCountry": {
          "type": "string",
          "description": "The country registered for the Merchant Center feed that contains the product. Use an ISO 3166 code to specify a country."
        },
        "currencyCode": {
          "description": "The currency code for the conversion's revenue. Should be in ISO 4217 alphabetic (3-char) format.",
          "type": "string"
        },
        "adUserDataConsent": {
          "description": "Represents consent for core platform services (CPS) preferences in settings. No default value. Acceptable values are: GRANTED: The desired consent status is to grant. Read the CPS preferences from GTE settings. DENIED: The desired consent status is to deny; CPS list is empty.",
          "enum": [
            "UNKNOWN",
            "GRANTED",
            "DENIED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ],
          "type": "string"
        },
        "customMetric": {
          "type": "array",
          "items": {
            "$ref": "CustomMetric"
          },
          "description": "Custom metrics for the conversion."
        },
        "advertiserId": {
          "description": "DS advertiser ID.",
          "type": "string",
          "format": "int64"
        },
        "revenueMicros": {
          "description": "The revenue amount of this `TRANSACTION` conversion, in micros (value multiplied by 1000000, no decimal). For example, to specify a revenue value of \"10\" enter \"10000000\" (10 million) in your request.",
          "type": "string"
        },
        "agencyId": {
          "type": "string",
          "format": "int64",
          "description": "DS agency ID."
        },
        "customDimension": {
          "type": "array",
          "description": "Custom dimensions for the conversion, which can be used to filter data in a report.",
          "items": {
            "$ref": "CustomDimension"
          }
        },
        "quantityMillis": {
          "format": "int64",
          "type": "string",
          "description": "The quantity of this conversion, in millis."
        },
        "campaignId": {
          "type": "string",
          "format": "int64",
          "description": "DS campaign ID."
        },
        "conversionId": {
          "description": "For offline conversions, advertisers provide this ID. Advertisers can specify any ID that is meaningful to them. Each conversion in a request must specify a unique ID, and the combination of ID and timestamp must be unique amongst all conversions within the advertiser. For online conversions, DS copies the `dsConversionId` or `floodlightOrderId` into this property depending on the advertiser's Floodlight instructions.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "type": "string"
        },
        "conversionModifiedTimestamp": {
          "description": "The time at which the conversion was last modified, in epoch millis UTC.",
          "type": "string",
          "format": "int64"
        },
        "deviceType": {
          "type": "string",
          "description": "The type of device on which the conversion occurred."
        },
        "segmentationId": {
          "type": "string",
          "format": "int64",
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID)."
        },
        "clickId": {
          "type": "string",
          "description": "DS click ID for the conversion."
        },
        "state": {
          "description": "The state of the conversion, that is, either `ACTIVE` or `REMOVED`. Note: state DELETED is deprecated.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of the conversion, that is, either `ACTION` or `TRANSACTION`. An `ACTION` conversion is an action by the user that has no monetarily quantifiable value, while a `TRANSACTION` conversion is an action that does have a monetarily quantifiable value. Examples are email list signups (`ACTION`) versus ecommerce purchases (`TRANSACTION`)."
        },
        "criterionId": {
          "description": "DS criterion (keyword) ID.",
          "format": "int64",
          "type": "string"
        },
        "countMillis": {
          "description": "Available to advertisers only after contacting DoubleClick Search customer support.",
          "format": "int64",
          "type": "string"
        },
        "productLanguage": {
          "type": "string",
          "description": "The language registered for the Merchant Center feed that contains the product. Use an ISO 639 code to specify a language."
        },
        "engineAccountId": {
          "description": "DS engine account ID.",
          "format": "int64",
          "type": "string"
        },
        "adId": {
          "format": "int64",
          "type": "string",
          "description": "DS ad ID."
        },
        "segmentationType": {
          "type": "string",
          "description": "The segmentation type of this conversion (for example, `FLOODLIGHT`).",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          }
        },
        "channel": {
          "type": "string",
          "description": "Sales channel for the product. Acceptable values are: - \"`local`\": a physical store - \"`online`\": an online store "
        },
        "adGroupId": {
          "description": "DS ad group ID.",
          "type": "string",
          "format": "int64"
        },
        "productGroupId": {
          "format": "int64",
          "type": "string",
          "description": "DS product group ID."
        },
        "dsConversionId": {
          "format": "int64",
          "type": "string",
          "description": "ID that DoubleClick Search generates for each conversion."
        },
        "productId": {
          "type": "string",
          "description": "The product ID (SKU)."
        }
      },
      "description": "A conversion containing data relevant to DoubleClick Search. Common DS3 API conversion fields: Id Range [1 - 2800]. Next Id to use: 33"
    },
    "UpdateAvailabilityRequest": {
      "id": "UpdateAvailabilityRequest",
      "type": "object",
      "description": "The request to update availability.",
      "properties": {
        "availabilities": {
          "type": "array",
          "description": "The availabilities being requested.",
          "items": {
            "$ref": "Availability"
          }
        }
      }
    },
    "Report": {
      "properties": {
        "files": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "description": "Use this url to download the report file."
              },
              "byteCount": {
                "type": "string",
                "format": "int64",
                "description": "The size of this report file in bytes."
              }
            }
          },
          "description": "Asynchronous report only. Contains a list of generated report files once the report has successfully completed."
        },
        "kind": {
          "description": "Identifies this as a Report resource. Value: the fixed string `doubleclicksearch#report`.",
          "type": "string"
        },
        "statisticsCurrencyCode": {
          "description": "The currency code of all monetary values produced in the report, including values that are set by users (e.g., keyword bid settings) and metrics (e.g., cost and revenue). The currency code of a report is determined by the `statisticsCurrency` field of the report request.",
          "type": "string"
        },
        "id": {
          "description": "Asynchronous report only. Id of the report.",
          "type": "string"
        },
        "request": {
          "description": "The request that created the report. Optional fields not specified in the original request are filled with default values.",
          "$ref": "ReportRequest"
        },
        "statisticsTimeZone": {
          "description": "If all statistics of the report are sourced from the same time zone, this would be it. Otherwise the field is unset.",
          "type": "string"
        },
        "rowCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of report rows generated by the report, not including headers."
        },
        "isReportReady": {
          "description": "Asynchronous report only. True if and only if the report has completed successfully and the report files are ready to be downloaded.",
          "type": "boolean"
        },
        "rows": {
          "type": "array",
          "description": "Synchronous report only. Generated report rows.",
          "items": {
            "$ref": "ReportRow"
          }
        }
      },
      "description": "A DoubleClick Search report. This object contains the report request, some report metadata such as currency code, and the generated report rows or report files.",
      "id": "Report",
      "type": "object"
    },
    "ConversionList": {
      "id": "ConversionList",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies this as a ConversionList resource. Value: the fixed string doubleclicksearch#conversionList.",
          "type": "string"
        },
        "conversion": {
          "items": {
            "$ref": "Conversion"
          },
          "description": "The conversions being requested.",
          "type": "array"
        }
      },
      "description": "A list of conversions."
    },
    "IdMappingFile": {
      "description": "File returned to https://developers.google.com/search-ads/v2/reference/reports/getIdMappingFile.",
      "properties": {},
      "id": "IdMappingFile",
      "type": "object"
    },
    "SavedColumn": {
      "properties": {
        "savedColumnName": {
          "type": "string",
          "description": "The name of the saved column."
        },
        "kind": {
          "description": "Identifies this as a SavedColumn resource. Value: the fixed string doubleclicksearch#savedColumn.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of data this saved column will produce."
        }
      },
      "description": "A saved column",
      "id": "SavedColumn",
      "type": "object"
    },
    "CustomDimension": {
      "id": "CustomDimension",
      "type": "object",
      "properties": {
        "name": {
          "description": "Custom dimension name.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Custom dimension value."
        }
      },
      "description": "A message containing the custom dimension."
    },
    "ReportRequest": {
      "id": "ReportRequest",
      "type": "object",
      "description": "A request object used to create a DoubleClick Search report.",
      "properties": {
        "reportScope": {
          "description": "The reportScope is a set of IDs that are used to determine which subset of entities will be returned in the report. The full lineage of IDs from the lowest scoped level desired up through agency is required.",
          "properties": {
            "agencyId": {
              "type": "string",
              "format": "int64",
              "description": "DS agency ID."
            },
            "engineAccountId": {
              "type": "string",
              "format": "int64",
              "description": "DS engine account ID."
            },
            "advertiserId": {
              "description": "DS advertiser ID.",
              "type": "string",
              "format": "int64"
            },
            "adGroupId": {
              "type": "string",
              "format": "int64",
              "description": "DS ad group ID."
            },
            "keywordId": {
              "description": "DS keyword ID.",
              "format": "int64",
              "type": "string"
            },
            "adId": {
              "description": "DS ad ID.",
              "format": "int64",
              "type": "string"
            },
            "campaignId": {
              "description": "DS campaign ID.",
              "type": "string",
              "format": "int64"
            }
          },
          "type": "object"
        },
        "startRow": {
          "format": "int32",
          "type": "integer",
          "description": "Synchronous report only. Zero-based index of the first row to return. Acceptable values are `0` to `50000`, inclusive. Defaults to `0`.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          }
        },
        "timeRange": {
          "description": "If metrics are requested in a report, this argument will be used to restrict the metrics to a specific time range.",
          "properties": {
            "endDate": {
              "description": "Inclusive date in YYYY-MM-DD format.",
              "type": "string"
            },
            "changedMetricsSinceTimestamp": {
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed metrics reports work.",
              "type": "string"
            },
            "changedAttributesSinceTimestamp": {
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed attribute reports work.",
              "type": "string"
            },
            "startDate": {
              "type": "string",
              "description": "Inclusive date in YYYY-MM-DD format."
            }
          },
          "type": "object"
        },
        "columns": {
          "items": {
            "$ref": "ReportApiColumnSpec"
          },
          "description": "The columns to include in the report. This includes both DoubleClick Search columns and saved columns. For DoubleClick Search columns, only the `columnName` parameter is required. For saved columns only the `savedColumnName` parameter is required. Both `columnName` and `savedColumnName` cannot be set in the same stanza.\\ The maximum number of columns per request is 300.",
          "type": "array"
        },
        "downloadFormat": {
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "description": "Format that the report should be returned in. Currently `csv` or `tsv` is supported.",
          "type": "string"
        },
        "maxRowsPerFile": {
          "description": "Asynchronous report only. The maximum number of rows per report file. A large report is split into many files based on this field. Acceptable values are `1000000` to `100000000`, inclusive.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "format": "int32",
          "type": "integer"
        },
        "statisticsCurrency": {
          "type": "string",
          "description": "Specifies the currency in which monetary will be returned. Possible values are: `usd`, `agency` (valid if the report is scoped to agency or lower), `advertiser` (valid if the report is scoped to * advertiser or lower), or `account` (valid if the report is scoped to engine account or lower).",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          }
        },
        "filters": {
          "items": {
            "type": "object",
            "properties": {
              "column": {
                "$ref": "ReportApiColumnSpec",
                "description": "Column to perform the filter on. This can be a DoubleClick Search column or a saved column."
              },
              "operator": {
                "description": "Operator to use in the filter. See the filter reference for a list of available operators.",
                "type": "string"
              },
              "values": {
                "type": "array",
                "items": {
                  "type": "any"
                },
                "description": "A list of values to filter the column value against.\\ The maximum number of filter values per request is 300."
              }
            }
          },
          "description": "A list of filters to be applied to the report.\\ The maximum number of filters per request is 300.",
          "type": "array"
        },
        "verifySingleTimeZone": {
          "description": "If `true`, the report would only be created if all the requested stat data are sourced from a single timezone. Defaults to `false`.",
          "type": "boolean"
        },
        "orderBy": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "sortOrder": {
                "type": "string",
                "description": "The sort direction, which is either `ascending` or `descending`."
              },
              "column": {
                "$ref": "ReportApiColumnSpec",
                "description": "Column to perform the sort on. This can be a DoubleClick Search-defined column or a saved column."
              }
            }
          },
          "description": "Synchronous report only. A list of columns and directions defining sorting to be performed on the report rows.\\ The maximum number of orderings per request is 300."
        },
        "includeDeletedEntities": {
          "description": "Determines if removed entities should be included in the report. Defaults to `false`. Deprecated, please use `includeRemovedEntities` instead.",
          "type": "boolean"
        },
        "rowCount": {
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "description": "Synchronous report only. The maximum number of rows to return; additional rows are dropped. Acceptable values are `0` to `10000`, inclusive. Defaults to `10000`.",
          "type": "integer",
          "format": "int32"
        },
        "includeRemovedEntities": {
          "description": "Determines if removed entities should be included in the report. Defaults to `false`.",
          "type": "boolean"
        },
        "reportType": {
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          },
          "description": "Determines the type of rows that are returned in the report. For example, if you specify `reportType: keyword`, each row in the report will contain data about a keyword. See the [Types of Reports](/search-ads/v2/report-types/) reference for the columns that are available for each type.",
          "type": "string"
        }
      }
    },
    "ReportApiColumnSpec": {
      "properties": {
        "endDate": {
          "type": "string",
          "description": "Inclusive day in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `startDate`."
        },
        "customDimensionName": {
          "type": "string",
          "description": "Segments a report by a custom dimension. The report must be scoped to an advertiser or lower, and the custom dimension must already be set up in DoubleClick Search. The custom dimension name, which appears in DoubleClick Search, is case sensitive.\\ If used in a conversion report, returns the value of the specified custom dimension for the given conversion, if set. This column does not segment the conversion report."
        },
        "customMetricName": {
          "description": "Name of a custom metric to include in the report. The report must be scoped to an advertiser or lower, and the custom metric must already be set up in DoubleClick Search. The custom metric name, which appears in DoubleClick Search, is case sensitive.",
          "type": "string"
        },
        "groupByColumn": {
          "type": "boolean",
          "description": "Synchronous report only. Set to `true` to group by this column. Defaults to `false`."
        },
        "productReportPerspective": {
          "type": "string",
          "description": "Returns metrics only for a specific type of product activity. Accepted values are: - \"`sold`\": returns metrics only for products that were sold - \"`advertised`\": returns metrics only for products that were advertised in a Shopping campaign, and that might or might not have been sold "
        },
        "columnName": {
          "description": "Name of a DoubleClick Search column to include in the report.",
          "type": "string"
        },
        "platformSource": {
          "description": "The platform that is used to provide data for the custom dimension. Acceptable values are \"floodlight\".",
          "type": "string"
        },
        "headerText": {
          "type": "string",
          "description": "Text used to identify this column in the report output; defaults to `columnName` or `savedColumnName` when not specified. This can be used to prevent collisions between DoubleClick Search columns and saved columns with the same name."
        },
        "savedColumnName": {
          "description": "Name of a saved column to include in the report. The report must be scoped at advertiser or lower, and this saved column must already be created in the DoubleClick Search UI.",
          "type": "string"
        },
        "startDate": {
          "description": "Inclusive date in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `endDate`.",
          "type": "string"
        }
      },
      "description": "A request object used to create a DoubleClick Search report.",
      "id": "ReportApiColumnSpec",
      "type": "object"
    },
    "SavedColumnList": {
      "description": "A list of saved columns. Advertisers create saved columns to report on Floodlight activities, Google Analytics goals, or custom KPIs. To request reports with saved columns, you'll need the saved column names that are available from this list.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies this as a SavedColumnList resource. Value: the fixed string doubleclicksearch#savedColumnList."
        },
        "items": {
          "type": "array",
          "description": "The saved columns being requested.",
          "items": {
            "$ref": "SavedColumn"
          }
        }
      },
      "id": "SavedColumnList",
      "type": "object"
    },
    "CustomMetric": {
      "id": "CustomMetric",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Custom metric name."
        },
        "value": {
          "format": "double",
          "type": "number",
          "description": "Custom metric numeric value."
        }
      },
      "description": "A message containing the custom metric."
    },
    "UpdateAvailabilityResponse": {
      "id": "UpdateAvailabilityResponse",
      "type": "object",
      "properties": {
        "availabilities": {
          "type": "array",
          "items": {
            "$ref": "Availability"
          },
          "description": "The availabilities being returned."
        }
      },
      "description": "The response to a update availability request."
    },
    "ReportRow": {
      "id": "ReportRow",
      "type": "object",
      "description": "A row in a DoubleClick Search report.",
      "additionalProperties": {
        "type": "any",
        "description": "Indicates the columns that are represented in this row. That is, each key corresponds to a column with a non-empty cell in this row."
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclicksearch": {
          "description": "View and manage your advertising data in DoubleClick Search"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "basePath": "",
  "rootUrl": "https://doubleclicksearch.googleapis.com/",
  "revision": "20260707"
}