{
  "documentationLink": "https://developers.google.com/search-ads",
  "basePath": "",
  "canonicalName": "Doubleclicksearch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclicksearch": {
          "description": "View and manage your advertising data in DoubleClick Search"
        }
      }
    }
  },
  "revision": "20260916",
  "baseUrl": "https://doubleclicksearch.googleapis.com/",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "The Search Ads 360 API allows developers to automate uploading conversions and downloading reports from Search Ads 360.",
  "protocol": "rest",
  "schemas": {
    "ReportApiColumnSpec": {
      "description": "A request object used to create a DoubleClick Search report.",
      "properties": {
        "groupByColumn": {
          "description": "Synchronous report only. Set to `true` to group by this column. Defaults to `false`.",
          "type": "boolean"
        },
        "endDate": {
          "type": "string",
          "description": "Inclusive day in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `startDate`."
        },
        "platformSource": {
          "description": "The platform that is used to provide data for the custom dimension. Acceptable values are \"floodlight\".",
          "type": "string"
        },
        "startDate": {
          "type": "string",
          "description": "Inclusive date in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `endDate`."
        },
        "customDimensionName": {
          "type": "string",
          "description": "Segments a report by a custom dimension. The report must be scoped to an advertiser or lower, and the custom dimension must already be set up in DoubleClick Search. The custom dimension name, which appears in DoubleClick Search, is case sensitive.\\ If used in a conversion report, returns the value of the specified custom dimension for the given conversion, if set. This column does not segment the conversion report."
        },
        "savedColumnName": {
          "type": "string",
          "description": "Name of a saved column to include in the report. The report must be scoped at advertiser or lower, and this saved column must already be created in the DoubleClick Search UI."
        },
        "columnName": {
          "type": "string",
          "description": "Name of a DoubleClick Search column to include in the report."
        },
        "headerText": {
          "type": "string",
          "description": "Text used to identify this column in the report output; defaults to `columnName` or `savedColumnName` when not specified. This can be used to prevent collisions between DoubleClick Search columns and saved columns with the same name."
        },
        "productReportPerspective": {
          "type": "string",
          "description": "Returns metrics only for a specific type of product activity. Accepted values are: - \"`sold`\": returns metrics only for products that were sold - \"`advertised`\": returns metrics only for products that were advertised in a Shopping campaign, and that might or might not have been sold "
        },
        "customMetricName": {
          "type": "string",
          "description": "Name of a custom metric to include in the report. The report must be scoped to an advertiser or lower, and the custom metric must already be set up in DoubleClick Search. The custom metric name, which appears in DoubleClick Search, is case sensitive."
        }
      },
      "id": "ReportApiColumnSpec",
      "type": "object"
    },
    "Report": {
      "type": "object",
      "id": "Report",
      "description": "A DoubleClick Search report. This object contains the report request, some report metadata such as currency code, and the generated report rows or report files.",
      "properties": {
        "rowCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of report rows generated by the report, not including headers."
        },
        "statisticsCurrencyCode": {
          "description": "The currency code of all monetary values produced in the report, including values that are set by users (e.g., keyword bid settings) and metrics (e.g., cost and revenue). The currency code of a report is determined by the `statisticsCurrency` field of the report request.",
          "type": "string"
        },
        "id": {
          "description": "Asynchronous report only. Id of the report.",
          "type": "string"
        },
        "request": {
          "$ref": "ReportRequest",
          "description": "The request that created the report. Optional fields not specified in the original request are filled with default values."
        },
        "files": {
          "items": {
            "type": "object",
            "properties": {
              "url": {
                "description": "Use this url to download the report file.",
                "type": "string"
              },
              "byteCount": {
                "type": "string",
                "format": "int64",
                "description": "The size of this report file in bytes."
              }
            }
          },
          "description": "Asynchronous report only. Contains a list of generated report files once the report has successfully completed.",
          "type": "array"
        },
        "isReportReady": {
          "type": "boolean",
          "description": "Asynchronous report only. True if and only if the report has completed successfully and the report files are ready to be downloaded."
        },
        "statisticsTimeZone": {
          "type": "string",
          "description": "If all statistics of the report are sourced from the same time zone, this would be it. Otherwise the field is unset."
        },
        "kind": {
          "description": "Identifies this as a Report resource. Value: the fixed string `doubleclicksearch#report`.",
          "type": "string"
        },
        "rows": {
          "items": {
            "$ref": "ReportRow"
          },
          "description": "Synchronous report only. Generated report rows.",
          "type": "array"
        }
      }
    },
    "ReportRequest": {
      "description": "A request object used to create a DoubleClick Search report.",
      "properties": {
        "maxRowsPerFile": {
          "type": "integer",
          "description": "Asynchronous report only. The maximum number of rows per report file. A large report is split into many files based on this field. Acceptable values are `1000000` to `100000000`, inclusive.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "format": "int32"
        },
        "rowCount": {
          "description": "Synchronous report only. The maximum number of rows to return; additional rows are dropped. Acceptable values are `0` to `10000`, inclusive. Defaults to `10000`.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "type": "integer",
          "format": "int32"
        },
        "statisticsCurrency": {
          "description": "Specifies the currency in which monetary will be returned. Possible values are: `usd`, `agency` (valid if the report is scoped to agency or lower), `advertiser` (valid if the report is scoped to * advertiser or lower), or `account` (valid if the report is scoped to engine account or lower).",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "string"
        },
        "includeRemovedEntities": {
          "description": "Determines if removed entities should be included in the report. Defaults to `false`.",
          "type": "boolean"
        },
        "filters": {
          "items": {
            "type": "object",
            "properties": {
              "column": {
                "$ref": "ReportApiColumnSpec",
                "description": "Column to perform the filter on. This can be a DoubleClick Search column or a saved column."
              },
              "values": {
                "description": "A list of values to filter the column value against.\\ The maximum number of filter values per request is 300.",
                "type": "array",
                "items": {
                  "type": "any"
                }
              },
              "operator": {
                "type": "string",
                "description": "Operator to use in the filter. See the filter reference for a list of available operators."
              }
            }
          },
          "type": "array",
          "description": "A list of filters to be applied to the report.\\ The maximum number of filters per request is 300."
        },
        "downloadFormat": {
          "type": "string",
          "description": "Format that the report should be returned in. Currently `csv` or `tsv` is supported.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          }
        },
        "reportScope": {
          "description": "The reportScope is a set of IDs that are used to determine which subset of entities will be returned in the report. The full lineage of IDs from the lowest scoped level desired up through agency is required.",
          "properties": {
            "campaignId": {
              "type": "string",
              "description": "DS campaign ID.",
              "format": "int64"
            },
            "keywordId": {
              "format": "int64",
              "type": "string",
              "description": "DS keyword ID."
            },
            "agencyId": {
              "type": "string",
              "description": "DS agency ID.",
              "format": "int64"
            },
            "adGroupId": {
              "type": "string",
              "format": "int64",
              "description": "DS ad group ID."
            },
            "adId": {
              "type": "string",
              "description": "DS ad ID.",
              "format": "int64"
            },
            "advertiserId": {
              "description": "DS advertiser ID.",
              "type": "string",
              "format": "int64"
            },
            "engineAccountId": {
              "type": "string",
              "description": "DS engine account ID.",
              "format": "int64"
            }
          },
          "type": "object"
        },
        "orderBy": {
          "type": "array",
          "description": "Synchronous report only. A list of columns and directions defining sorting to be performed on the report rows.\\ The maximum number of orderings per request is 300.",
          "items": {
            "type": "object",
            "properties": {
              "column": {
                "description": "Column to perform the sort on. This can be a DoubleClick Search-defined column or a saved column.",
                "$ref": "ReportApiColumnSpec"
              },
              "sortOrder": {
                "type": "string",
                "description": "The sort direction, which is either `ascending` or `descending`."
              }
            }
          }
        },
        "startRow": {
          "type": "integer",
          "description": "Synchronous report only. Zero-based index of the first row to return. Acceptable values are `0` to `50000`, inclusive. Defaults to `0`.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "format": "int32"
        },
        "includeDeletedEntities": {
          "description": "Determines if removed entities should be included in the report. Defaults to `false`. Deprecated, please use `includeRemovedEntities` instead.",
          "type": "boolean"
        },
        "timeRange": {
          "description": "If metrics are requested in a report, this argument will be used to restrict the metrics to a specific time range.",
          "properties": {
            "changedMetricsSinceTimestamp": {
              "type": "string",
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed metrics reports work."
            },
            "changedAttributesSinceTimestamp": {
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed attribute reports work.",
              "type": "string"
            },
            "startDate": {
              "type": "string",
              "description": "Inclusive date in YYYY-MM-DD format."
            },
            "endDate": {
              "type": "string",
              "description": "Inclusive date in YYYY-MM-DD format."
            }
          },
          "type": "object"
        },
        "reportType": {
          "type": "string",
          "description": "Determines the type of rows that are returned in the report. For example, if you specify `reportType: keyword`, each row in the report will contain data about a keyword. See the [Types of Reports](/search-ads/v2/report-types/) reference for the columns that are available for each type.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          }
        },
        "columns": {
          "description": "The columns to include in the report. This includes both DoubleClick Search columns and saved columns. For DoubleClick Search columns, only the `columnName` parameter is required. For saved columns only the `savedColumnName` parameter is required. Both `columnName` and `savedColumnName` cannot be set in the same stanza.\\ The maximum number of columns per request is 300.",
          "type": "array",
          "items": {
            "$ref": "ReportApiColumnSpec"
          }
        },
        "verifySingleTimeZone": {
          "type": "boolean",
          "description": "If `true`, the report would only be created if all the requested stat data are sourced from a single timezone. Defaults to `false`."
        }
      },
      "type": "object",
      "id": "ReportRequest"
    },
    "UpdateAvailabilityRequest": {
      "type": "object",
      "id": "UpdateAvailabilityRequest",
      "properties": {
        "availabilities": {
          "type": "array",
          "items": {
            "$ref": "Availability"
          },
          "description": "The availabilities being requested."
        }
      },
      "description": "The request to update availability."
    },
    "Availability": {
      "type": "object",
      "description": "A message containing availability data relevant to DoubleClick Search.",
      "id": "Availability",
      "properties": {
        "segmentationName": {
          "type": "string",
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name)."
        },
        "advertiserId": {
          "format": "int64",
          "type": "string",
          "description": "DS advertiser ID.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        },
        "customerId": {
          "type": "string",
          "description": "Customer ID of a client account in the new Search Ads 360 experience."
        },
        "segmentationType": {
          "type": "string",
          "description": "The segmentation type that this availability is for (its default value is `FLOODLIGHT`).",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        },
        "segmentationId": {
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).",
          "type": "string",
          "format": "int64"
        },
        "availabilityTimestamp": {
          "type": "string",
          "format": "int64",
          "description": "The time by which all conversions have been uploaded, in epoch millis UTC.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        },
        "agencyId": {
          "format": "int64",
          "description": "DS agency ID.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "type": "string"
        }
      }
    },
    "SavedColumn": {
      "properties": {
        "type": {
          "description": "The type of data this saved column will produce.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies this as a SavedColumn resource. Value: the fixed string doubleclicksearch#savedColumn."
        },
        "savedColumnName": {
          "description": "The name of the saved column.",
          "type": "string"
        }
      },
      "description": "A saved column",
      "id": "SavedColumn",
      "type": "object"
    },
    "CustomDimension": {
      "type": "object",
      "description": "A message containing the custom dimension.",
      "properties": {
        "name": {
          "description": "Custom dimension name.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Custom dimension value."
        }
      },
      "id": "CustomDimension"
    },
    "UpdateAvailabilityResponse": {
      "type": "object",
      "properties": {
        "availabilities": {
          "items": {
            "$ref": "Availability"
          },
          "type": "array",
          "description": "The availabilities being returned."
        }
      },
      "description": "The response to a update availability request.",
      "id": "UpdateAvailabilityResponse"
    },
    "CustomMetric": {
      "id": "CustomMetric",
      "properties": {
        "name": {
          "type": "string",
          "description": "Custom metric name."
        },
        "value": {
          "description": "Custom metric numeric value.",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "description": "A message containing the custom metric."
    },
    "ConversionList": {
      "description": "A list of conversions.",
      "properties": {
        "kind": {
          "description": "Identifies this as a ConversionList resource. Value: the fixed string doubleclicksearch#conversionList.",
          "type": "string"
        },
        "conversion": {
          "description": "The conversions being requested.",
          "type": "array",
          "items": {
            "$ref": "Conversion"
          }
        }
      },
      "type": "object",
      "id": "ConversionList"
    },
    "SavedColumnList": {
      "properties": {
        "items": {
          "type": "array",
          "description": "The saved columns being requested.",
          "items": {
            "$ref": "SavedColumn"
          }
        },
        "kind": {
          "description": "Identifies this as a SavedColumnList resource. Value: the fixed string doubleclicksearch#savedColumnList.",
          "type": "string"
        }
      },
      "id": "SavedColumnList",
      "type": "object",
      "description": "A list of saved columns. Advertisers create saved columns to report on Floodlight activities, Google Analytics goals, or custom KPIs. To request reports with saved columns, you'll need the saved column names that are available from this list."
    },
    "IdMappingFile": {
      "type": "object",
      "id": "IdMappingFile",
      "description": "File returned to https://developers.google.com/search-ads/v2/reference/reports/getIdMappingFile.",
      "properties": {}
    },
    "ReportRow": {
      "description": "A row in a DoubleClick Search report.",
      "id": "ReportRow",
      "additionalProperties": {
        "type": "any",
        "description": "Indicates the columns that are represented in this row. That is, each key corresponds to a column with a non-empty cell in this row."
      },
      "type": "object"
    },
    "Conversion": {
      "id": "Conversion",
      "type": "object",
      "properties": {
        "criterionId": {
          "format": "int64",
          "description": "DS criterion (keyword) ID.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "The state of the conversion, that is, either `ACTIVE` or `REMOVED`. Note: state DELETED is deprecated."
        },
        "segmentationId": {
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).",
          "format": "int64",
          "type": "string"
        },
        "agencyId": {
          "description": "DS agency ID.",
          "type": "string",
          "format": "int64"
        },
        "type": {
          "type": "string",
          "description": "The type of the conversion, that is, either `ACTION` or `TRANSACTION`. An `ACTION` conversion is an action by the user that has no monetarily quantifiable value, while a `TRANSACTION` conversion is an action that does have a monetarily quantifiable value. Examples are email list signups (`ACTION`) versus ecommerce purchases (`TRANSACTION`)."
        },
        "segmentationName": {
          "type": "string",
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name)."
        },
        "deviceType": {
          "description": "The type of device on which the conversion occurred.",
          "type": "string"
        },
        "countMillis": {
          "description": "Available to advertisers only after contacting DoubleClick Search customer support.",
          "format": "int64",
          "type": "string"
        },
        "adGroupId": {
          "type": "string",
          "format": "int64",
          "description": "DS ad group ID."
        },
        "productId": {
          "description": "The product ID (SKU).",
          "type": "string"
        },
        "customerId": {
          "type": "string",
          "description": "Customer ID of a client account in the new Search Ads 360 experience."
        },
        "advertiserId": {
          "format": "int64",
          "type": "string",
          "description": "DS advertiser ID."
        },
        "inventoryAccountId": {
          "type": "string",
          "description": "ID that DS generates and uses to uniquely identify the inventory account that contains the product.",
          "format": "int64"
        },
        "quantityMillis": {
          "description": "The quantity of this conversion, in millis.",
          "format": "int64",
          "type": "string"
        },
        "conversionId": {
          "description": "For offline conversions, advertisers provide this ID. Advertisers can specify any ID that is meaningful to them. Each conversion in a request must specify a unique ID, and the combination of ID and timestamp must be unique amongst all conversions within the advertiser. For online conversions, DS copies the `dsConversionId` or `floodlightOrderId` into this property depending on the advertiser's Floodlight instructions.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "type": "string"
        },
        "adId": {
          "description": "DS ad ID.",
          "format": "int64",
          "type": "string"
        },
        "campaignId": {
          "format": "int64",
          "description": "DS campaign ID.",
          "type": "string"
        },
        "customMetric": {
          "items": {
            "$ref": "CustomMetric"
          },
          "description": "Custom metrics for the conversion.",
          "type": "array"
        },
        "segmentationType": {
          "description": "The segmentation type of this conversion (for example, `FLOODLIGHT`).",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "type": "string"
        },
        "attributionModel": {
          "type": "string",
          "description": "Available to advertisers only after contacting DoubleClick Search customer support."
        },
        "storeId": {
          "type": "string",
          "description": "The ID of the local store for which the product was advertised. Applicable only when the channel is \"`local`\"."
        },
        "channel": {
          "description": "Sales channel for the product. Acceptable values are: - \"`local`\": a physical store - \"`online`\": an online store ",
          "type": "string"
        },
        "productLanguage": {
          "type": "string",
          "description": "The language registered for the Merchant Center feed that contains the product. Use an ISO 639 code to specify a language."
        },
        "floodlightOrderId": {
          "description": "The Floodlight order ID provided by the advertiser for the conversion.",
          "type": "string"
        },
        "productGroupId": {
          "description": "DS product group ID.",
          "type": "string",
          "format": "int64"
        },
        "customDimension": {
          "type": "array",
          "items": {
            "$ref": "CustomDimension"
          },
          "description": "Custom dimensions for the conversion, which can be used to filter data in a report."
        },
        "productCountry": {
          "type": "string",
          "description": "The country registered for the Merchant Center feed that contains the product. Use an ISO 3166 code to specify a country."
        },
        "clickId": {
          "description": "DS click ID for the conversion.",
          "type": "string"
        },
        "dsConversionId": {
          "type": "string",
          "format": "int64",
          "description": "ID that DoubleClick Search generates for each conversion."
        },
        "adUserDataConsent": {
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "GRANTED",
            "DENIED"
          ],
          "description": "Represents consent for core platform services (CPS) preferences in settings. No default value. Acceptable values are: GRANTED: The desired consent status is to grant. Read the CPS preferences from GTE settings. DENIED: The desired consent status is to deny; CPS list is empty."
        },
        "conversionModifiedTimestamp": {
          "description": "The time at which the conversion was last modified, in epoch millis UTC.",
          "type": "string",
          "format": "int64"
        },
        "currencyCode": {
          "type": "string",
          "description": "The currency code for the conversion's revenue. Should be in ISO 4217 alphabetic (3-char) format."
        },
        "revenueMicros": {
          "type": "string",
          "description": "The revenue amount of this `TRANSACTION` conversion, in micros (value multiplied by 1000000, no decimal). For example, to specify a revenue value of \"10\" enter \"10000000\" (10 million) in your request."
        },
        "engineAccountId": {
          "type": "string",
          "format": "int64",
          "description": "DS engine account ID."
        },
        "conversionTimestamp": {
          "description": "The time at which the conversion took place, in epoch millis UTC.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "type": "string"
        }
      },
      "description": "A conversion containing data relevant to DoubleClick Search. Common DS3 API conversion fields: Id Range [1 - 2800]. Next Id to use: 33"
    }
  },
  "servicePath": "",
  "name": "doubleclicksearch",
  "mtlsRootUrl": "https://doubleclicksearch.mtls.googleapis.com/",
  "resources": {
    "savedColumns": {
      "methods": {
        "list": {
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "id": "doubleclicksearch.savedColumns.list",
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "SavedColumnList"
          },
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "description": "Retrieve the list of saved columns for a specified advertiser.",
          "parameters": {
            "advertiserId": {
              "description": "DS ID of the advertiser.",
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true
            },
            "agencyId": {
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "DS ID of the agency."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        }
      }
    },
    "reports": {
      "methods": {
        "getIdMappingFile": {
          "response": {
            "$ref": "IdMappingFile"
          },
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "parameters": {
            "advertiserId": {
              "type": "string",
              "description": "Legacy SA360 advertiser ID.",
              "format": "int64",
              "location": "path",
              "required": true
            },
            "agencyId": {
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Legacy SA360 agency ID."
            }
          },
          "supportsMediaDownload": true,
          "id": "doubleclicksearch.reports.getIdMappingFile",
          "description": "Downloads a csv file(encoded in UTF-8) that contains ID mappings between legacy SA360 and new SA360. The file includes all children entities of the given advertiser(e.g. engine accounts, campaigns, ad groups, etc.) that exist in both legacy SA360 and new SA360.",
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "useMediaDownloadService": true,
          "httpMethod": "GET"
        },
        "getFile": {
          "id": "doubleclicksearch.reports.getFile",
          "httpMethod": "GET",
          "path": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "description": "Downloads a report file encoded in UTF-8.",
          "useMediaDownloadService": true,
          "flatPath": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "parameters": {
            "reportFragment": {
              "location": "path",
              "required": true,
              "format": "int32",
              "description": "The index of the report fragment to download.",
              "minimum": "0",
              "type": "integer"
            },
            "reportId": {
              "required": true,
              "location": "path",
              "description": "ID of the report.",
              "type": "string"
            }
          },
          "supportsMediaDownload": true,
          "parameterOrder": [
            "reportId",
            "reportFragment"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "request": {
          "id": "doubleclicksearch.reports.request",
          "path": "doubleclicksearch/v2/reports",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "POST",
          "parameterOrder": [],
          "flatPath": "doubleclicksearch/v2/reports",
          "request": {
            "$ref": "ReportRequest"
          },
          "response": {
            "$ref": "Report"
          },
          "parameters": {},
          "description": "Inserts a report request into the reporting system."
        },
        "generate": {
          "id": "doubleclicksearch.reports.generate",
          "response": {
            "$ref": "Report"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "ReportRequest"
          },
          "flatPath": "doubleclicksearch/v2/reports/generate",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameters": {},
          "parameterOrder": [],
          "description": "Generates and returns a report immediately.",
          "path": "doubleclicksearch/v2/reports/generate"
        },
        "get": {
          "flatPath": "doubleclicksearch/v2/reports/{reportId}",
          "description": "Polls for the status of a report request.",
          "parameters": {
            "reportId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "ID of the report request being polled."
            }
          },
          "response": {
            "$ref": "Report"
          },
          "parameterOrder": [
            "reportId"
          ],
          "path": "doubleclicksearch/v2/reports/{reportId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "doubleclicksearch.reports.get"
        }
      }
    },
    "conversion": {
      "methods": {
        "getByCustomerId": {
          "response": {
            "$ref": "ConversionList"
          },
          "id": "doubleclicksearch.conversion.getByCustomerId",
          "parameters": {
            "startRow": {
              "type": "integer",
              "required": true,
              "location": "query",
              "description": "The 0-based starting index for retrieving conversions results.",
              "format": "uint32"
            },
            "criterionId": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "Numeric ID of the criterion."
            },
            "customerId": {
              "type": "string",
              "required": true,
              "description": "Customer ID of a client account in the new Search Ads 360 experience.",
              "location": "path"
            },
            "startDate": {
              "minimum": "20091101",
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "type": "integer",
              "maximum": "99991231",
              "required": true,
              "format": "int32",
              "location": "query"
            },
            "campaignId": {
              "format": "int64",
              "location": "query",
              "description": "Numeric ID of the campaign.",
              "type": "string"
            },
            "endDate": {
              "required": true,
              "location": "query",
              "type": "integer",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "minimum": "20091101",
              "format": "int32",
              "maximum": "99991231"
            },
            "agencyId": {
              "location": "query",
              "description": "Numeric ID of the agency.",
              "format": "int64",
              "type": "string"
            },
            "adId": {
              "format": "int64",
              "description": "Numeric ID of the ad.",
              "location": "query",
              "type": "string"
            },
            "rowCount": {
              "maximum": "1000",
              "description": "The number of conversions to return per call.",
              "format": "int32",
              "type": "integer",
              "minimum": "1",
              "location": "query",
              "required": true
            },
            "advertiserId": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "Numeric ID of the advertiser."
            },
            "engineAccountId": {
              "format": "int64",
              "description": "Numeric ID of the engine account.",
              "location": "query",
              "type": "string"
            },
            "adGroupId": {
              "format": "int64",
              "description": "Numeric ID of the ad group.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "path": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "parameterOrder": [
            "customerId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "httpMethod": "GET"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameters": {},
          "response": {
            "$ref": "ConversionList"
          },
          "flatPath": "doubleclicksearch/v2/conversion",
          "description": "Updates a batch of conversions in DoubleClick Search.",
          "parameterOrder": [],
          "path": "doubleclicksearch/v2/conversion",
          "httpMethod": "PUT",
          "id": "doubleclicksearch.conversion.update",
          "request": {
            "$ref": "ConversionList"
          }
        },
        "updateAvailability": {
          "path": "doubleclicksearch/v2/conversion/updateAvailability",
          "request": {
            "$ref": "UpdateAvailabilityRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "UpdateAvailabilityResponse"
          },
          "id": "doubleclicksearch.conversion.updateAvailability",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "doubleclicksearch/v2/conversion/updateAvailability",
          "description": "Updates the availabilities of a batch of floodlight activities in DoubleClick Search.",
          "parameters": {}
        },
        "get": {
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "httpMethod": "GET",
          "id": "doubleclicksearch.conversion.get",
          "response": {
            "$ref": "ConversionList"
          },
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [
            "agencyId",
            "advertiserId",
            "engineAccountId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "parameters": {
            "startDate": {
              "format": "int32",
              "required": true,
              "location": "query",
              "minimum": "20091101",
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "maximum": "99991231",
              "type": "integer"
            },
            "endDate": {
              "maximum": "99991231",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "type": "integer",
              "minimum": "20091101",
              "location": "query",
              "required": true,
              "format": "int32"
            },
            "criterionId": {
              "type": "string",
              "description": "Numeric ID of the criterion.",
              "location": "query",
              "format": "int64"
            },
            "startRow": {
              "required": true,
              "format": "uint32",
              "description": "The 0-based starting index for retrieving conversions results.",
              "location": "query",
              "type": "integer"
            },
            "campaignId": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Numeric ID of the campaign."
            },
            "adId": {
              "description": "Numeric ID of the ad.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "advertiserId": {
              "format": "int64",
              "type": "string",
              "location": "path",
              "description": "Numeric ID of the advertiser.",
              "required": true
            },
            "engineAccountId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "Numeric ID of the engine account.",
              "type": "string"
            },
            "adGroupId": {
              "description": "Numeric ID of the ad group.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "rowCount": {
              "required": true,
              "location": "query",
              "minimum": "1",
              "format": "int32",
              "type": "integer",
              "maximum": "1000",
              "description": "The number of conversions to return per call."
            },
            "customerId": {
              "location": "query",
              "type": "string",
              "description": "Customer ID of a client account in the new Search Ads 360 experience."
            },
            "agencyId": {
              "description": "Numeric ID of the agency.",
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        },
        "insert": {
          "response": {
            "$ref": "ConversionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "doubleclicksearch.conversion.insert",
          "flatPath": "doubleclicksearch/v2/conversion",
          "httpMethod": "POST",
          "parameterOrder": [],
          "path": "doubleclicksearch/v2/conversion",
          "parameters": {},
          "description": "Inserts a batch of new conversions into DoubleClick Search.",
          "request": {
            "$ref": "ConversionList"
          }
        }
      }
    }
  },
  "title": "Search Ads 360 API",
  "kind": "discovery#restDescription",
  "version": "v2",
  "rootUrl": "https://doubleclicksearch.googleapis.com/",
  "batchPath": "batch",
  "id": "doubleclicksearch:v2",
  "ownerName": "Google",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    }
  },
  "ownerDomain": "google.com"
}