{
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclicksearch": {
          "description": "View and manage your advertising data in DoubleClick Search"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "servicePath": "",
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    }
  },
  "id": "doubleclicksearch:v2",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/search-ads",
  "protocol": "rest",
  "mtlsRootUrl": "https://doubleclicksearch.mtls.googleapis.com/",
  "baseUrl": "https://doubleclicksearch.googleapis.com/",
  "ownerName": "Google",
  "revision": "20260922",
  "canonicalName": "Doubleclicksearch",
  "resources": {
    "conversion": {
      "methods": {
        "get": {
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "httpMethod": "GET",
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "doubleclicksearch.conversion.get",
          "parameterOrder": [
            "agencyId",
            "advertiserId",
            "engineAccountId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "parameters": {
            "engineAccountId": {
              "format": "int64",
              "location": "path",
              "required": true,
              "description": "Numeric ID of the engine account.",
              "type": "string"
            },
            "agencyId": {
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "Numeric ID of the agency."
            },
            "endDate": {
              "minimum": "20091101",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "maximum": "99991231",
              "type": "integer",
              "format": "int32",
              "location": "query",
              "required": true
            },
            "adId": {
              "type": "string",
              "description": "Numeric ID of the ad.",
              "format": "int64",
              "location": "query"
            },
            "startRow": {
              "location": "query",
              "required": true,
              "type": "integer",
              "description": "The 0-based starting index for retrieving conversions results.",
              "format": "uint32"
            },
            "startDate": {
              "location": "query",
              "required": true,
              "maximum": "99991231",
              "type": "integer",
              "minimum": "20091101",
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "format": "int32"
            },
            "campaignId": {
              "format": "int64",
              "location": "query",
              "description": "Numeric ID of the campaign.",
              "type": "string"
            },
            "adGroupId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Numeric ID of the ad group."
            },
            "rowCount": {
              "type": "integer",
              "location": "query",
              "required": true,
              "maximum": "1000",
              "minimum": "1",
              "description": "The number of conversions to return per call.",
              "format": "int32"
            },
            "criterionId": {
              "format": "int64",
              "description": "Numeric ID of the criterion.",
              "location": "query",
              "type": "string"
            },
            "customerId": {
              "type": "string",
              "description": "Customer ID of a client account in the new Search Ads 360 experience.",
              "location": "query"
            },
            "advertiserId": {
              "description": "Numeric ID of the advertiser.",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "response": {
            "$ref": "ConversionList"
          }
        },
        "update": {
          "id": "doubleclicksearch.conversion.update",
          "httpMethod": "PUT",
          "parameterOrder": [],
          "response": {
            "$ref": "ConversionList"
          },
          "request": {
            "$ref": "ConversionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameters": {},
          "path": "doubleclicksearch/v2/conversion",
          "flatPath": "doubleclicksearch/v2/conversion",
          "description": "Updates a batch of conversions in DoubleClick Search."
        },
        "getByCustomerId": {
          "parameters": {
            "criterionId": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Numeric ID of the criterion."
            },
            "agencyId": {
              "description": "Numeric ID of the agency.",
              "format": "int64",
              "type": "string",
              "location": "query"
            },
            "adId": {
              "description": "Numeric ID of the ad.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "campaignId": {
              "format": "int64",
              "type": "string",
              "description": "Numeric ID of the campaign.",
              "location": "query"
            },
            "startRow": {
              "type": "integer",
              "location": "query",
              "required": true,
              "format": "uint32",
              "description": "The 0-based starting index for retrieving conversions results."
            },
            "customerId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Customer ID of a client account in the new Search Ads 360 experience."
            },
            "advertiserId": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Numeric ID of the advertiser."
            },
            "endDate": {
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "format": "int32",
              "maximum": "99991231",
              "minimum": "20091101",
              "location": "query",
              "required": true,
              "type": "integer"
            },
            "engineAccountId": {
              "description": "Numeric ID of the engine account.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "adGroupId": {
              "location": "query",
              "description": "Numeric ID of the ad group.",
              "format": "int64",
              "type": "string"
            },
            "startDate": {
              "minimum": "20091101",
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "maximum": "99991231",
              "location": "query",
              "required": true,
              "format": "int32",
              "type": "integer"
            },
            "rowCount": {
              "format": "int32",
              "description": "The number of conversions to return per call.",
              "type": "integer",
              "maximum": "1000",
              "location": "query",
              "required": true,
              "minimum": "1"
            }
          },
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "path": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "response": {
            "$ref": "ConversionList"
          },
          "parameterOrder": [
            "customerId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "httpMethod": "GET",
          "id": "doubleclicksearch.conversion.getByCustomerId"
        },
        "updateAvailability": {
          "response": {
            "$ref": "UpdateAvailabilityResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Updates the availabilities of a batch of floodlight activities in DoubleClick Search.",
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "UpdateAvailabilityRequest"
          },
          "flatPath": "doubleclicksearch/v2/conversion/updateAvailability",
          "httpMethod": "POST",
          "id": "doubleclicksearch.conversion.updateAvailability",
          "path": "doubleclicksearch/v2/conversion/updateAvailability"
        },
        "insert": {
          "flatPath": "doubleclicksearch/v2/conversion",
          "description": "Inserts a batch of new conversions into DoubleClick Search.",
          "id": "doubleclicksearch.conversion.insert",
          "parameters": {},
          "request": {
            "$ref": "ConversionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "doubleclicksearch/v2/conversion",
          "response": {
            "$ref": "ConversionList"
          },
          "parameterOrder": [],
          "httpMethod": "POST"
        }
      }
    },
    "savedColumns": {
      "methods": {
        "list": {
          "response": {
            "$ref": "SavedColumnList"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Retrieve the list of saved columns for a specified advertiser.",
          "id": "doubleclicksearch.savedColumns.list",
          "parameters": {
            "advertiserId": {
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "DS ID of the advertiser."
            },
            "agencyId": {
              "description": "DS ID of the agency.",
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns"
        }
      }
    },
    "reports": {
      "methods": {
        "request": {
          "parameterOrder": [],
          "response": {
            "$ref": "Report"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "request": {
            "$ref": "ReportRequest"
          },
          "path": "doubleclicksearch/v2/reports",
          "id": "doubleclicksearch.reports.request",
          "flatPath": "doubleclicksearch/v2/reports",
          "httpMethod": "POST",
          "description": "Inserts a report request into the reporting system."
        },
        "get": {
          "parameterOrder": [
            "reportId"
          ],
          "response": {
            "$ref": "Report"
          },
          "parameters": {
            "reportId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "ID of the report request being polled."
            }
          },
          "id": "doubleclicksearch.reports.get",
          "httpMethod": "GET",
          "path": "doubleclicksearch/v2/reports/{reportId}",
          "flatPath": "doubleclicksearch/v2/reports/{reportId}",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Polls for the status of a report request."
        },
        "getFile": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "GET",
          "supportsMediaDownload": true,
          "useMediaDownloadService": true,
          "path": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "flatPath": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "parameterOrder": [
            "reportId",
            "reportFragment"
          ],
          "id": "doubleclicksearch.reports.getFile",
          "parameters": {
            "reportId": {
              "location": "path",
              "required": true,
              "description": "ID of the report.",
              "type": "string"
            },
            "reportFragment": {
              "location": "path",
              "required": true,
              "type": "integer",
              "minimum": "0",
              "description": "The index of the report fragment to download.",
              "format": "int32"
            }
          },
          "description": "Downloads a report file encoded in UTF-8."
        },
        "getIdMappingFile": {
          "response": {
            "$ref": "IdMappingFile"
          },
          "httpMethod": "GET",
          "useMediaDownloadService": true,
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "doubleclicksearch.reports.getIdMappingFile",
          "supportsMediaDownload": true,
          "parameters": {
            "advertiserId": {
              "format": "int64",
              "description": "Legacy SA360 advertiser ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "agencyId": {
              "type": "string",
              "description": "Legacy SA360 agency ID.",
              "location": "path",
              "required": true,
              "format": "int64"
            }
          },
          "description": "Downloads a csv file(encoded in UTF-8) that contains ID mappings between legacy SA360 and new SA360. The file includes all children entities of the given advertiser(e.g. engine accounts, campaigns, ad groups, etc.) that exist in both legacy SA360 and new SA360.",
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping"
        },
        "generate": {
          "path": "doubleclicksearch/v2/reports/generate",
          "parameters": {},
          "response": {
            "$ref": "Report"
          },
          "parameterOrder": [],
          "description": "Generates and returns a report immediately.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "doubleclicksearch.reports.generate",
          "request": {
            "$ref": "ReportRequest"
          },
          "flatPath": "doubleclicksearch/v2/reports/generate"
        }
      }
    }
  },
  "title": "Search Ads 360 API",
  "description": "The Search Ads 360 API allows developers to automate uploading conversions and downloading reports from Search Ads 360.",
  "name": "doubleclicksearch",
  "ownerDomain": "google.com",
  "schemas": {
    "CustomMetric": {
      "description": "A message containing the custom metric.",
      "type": "object",
      "id": "CustomMetric",
      "properties": {
        "value": {
          "description": "Custom metric numeric value.",
          "type": "number",
          "format": "double"
        },
        "name": {
          "description": "Custom metric name.",
          "type": "string"
        }
      }
    },
    "SavedColumn": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies this as a SavedColumn resource. Value: the fixed string doubleclicksearch#savedColumn.",
          "type": "string"
        },
        "savedColumnName": {
          "type": "string",
          "description": "The name of the saved column."
        },
        "type": {
          "description": "The type of data this saved column will produce.",
          "type": "string"
        }
      },
      "id": "SavedColumn",
      "description": "A saved column"
    },
    "ReportRequest": {
      "description": "A request object used to create a DoubleClick Search report.",
      "properties": {
        "filters": {
          "items": {
            "properties": {
              "values": {
                "items": {
                  "type": "any"
                },
                "type": "array",
                "description": "A list of values to filter the column value against.\\ The maximum number of filter values per request is 300."
              },
              "operator": {
                "type": "string",
                "description": "Operator to use in the filter. See the filter reference for a list of available operators."
              },
              "column": {
                "description": "Column to perform the filter on. This can be a DoubleClick Search column or a saved column.",
                "$ref": "ReportApiColumnSpec"
              }
            },
            "type": "object"
          },
          "description": "A list of filters to be applied to the report.\\ The maximum number of filters per request is 300.",
          "type": "array"
        },
        "rowCount": {
          "type": "integer",
          "format": "int32",
          "description": "Synchronous report only. The maximum number of rows to return; additional rows are dropped. Acceptable values are `0` to `10000`, inclusive. Defaults to `10000`.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          }
        },
        "orderBy": {
          "description": "Synchronous report only. A list of columns and directions defining sorting to be performed on the report rows.\\ The maximum number of orderings per request is 300.",
          "items": {
            "type": "object",
            "properties": {
              "sortOrder": {
                "type": "string",
                "description": "The sort direction, which is either `ascending` or `descending`."
              },
              "column": {
                "$ref": "ReportApiColumnSpec",
                "description": "Column to perform the sort on. This can be a DoubleClick Search-defined column or a saved column."
              }
            }
          },
          "type": "array"
        },
        "maxRowsPerFile": {
          "description": "Asynchronous report only. The maximum number of rows per report file. A large report is split into many files based on this field. Acceptable values are `1000000` to `100000000`, inclusive.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "integer",
          "format": "int32"
        },
        "reportType": {
          "type": "string",
          "description": "Determines the type of rows that are returned in the report. For example, if you specify `reportType: keyword`, each row in the report will contain data about a keyword. See the [Types of Reports](/search-ads/v2/report-types/) reference for the columns that are available for each type.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          }
        },
        "statisticsCurrency": {
          "type": "string",
          "description": "Specifies the currency in which monetary will be returned. Possible values are: `usd`, `agency` (valid if the report is scoped to agency or lower), `advertiser` (valid if the report is scoped to * advertiser or lower), or `account` (valid if the report is scoped to engine account or lower).",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          }
        },
        "columns": {
          "type": "array",
          "items": {
            "$ref": "ReportApiColumnSpec"
          },
          "description": "The columns to include in the report. This includes both DoubleClick Search columns and saved columns. For DoubleClick Search columns, only the `columnName` parameter is required. For saved columns only the `savedColumnName` parameter is required. Both `columnName` and `savedColumnName` cannot be set in the same stanza.\\ The maximum number of columns per request is 300."
        },
        "verifySingleTimeZone": {
          "description": "If `true`, the report would only be created if all the requested stat data are sourced from a single timezone. Defaults to `false`.",
          "type": "boolean"
        },
        "timeRange": {
          "properties": {
            "startDate": {
              "type": "string",
              "description": "Inclusive date in YYYY-MM-DD format."
            },
            "changedAttributesSinceTimestamp": {
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed attribute reports work.",
              "type": "string"
            },
            "changedMetricsSinceTimestamp": {
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed metrics reports work.",
              "type": "string"
            },
            "endDate": {
              "description": "Inclusive date in YYYY-MM-DD format.",
              "type": "string"
            }
          },
          "type": "object",
          "description": "If metrics are requested in a report, this argument will be used to restrict the metrics to a specific time range."
        },
        "reportScope": {
          "type": "object",
          "description": "The reportScope is a set of IDs that are used to determine which subset of entities will be returned in the report. The full lineage of IDs from the lowest scoped level desired up through agency is required.",
          "properties": {
            "agencyId": {
              "format": "int64",
              "type": "string",
              "description": "DS agency ID."
            },
            "adGroupId": {
              "description": "DS ad group ID.",
              "type": "string",
              "format": "int64"
            },
            "engineAccountId": {
              "type": "string",
              "format": "int64",
              "description": "DS engine account ID."
            },
            "advertiserId": {
              "type": "string",
              "description": "DS advertiser ID.",
              "format": "int64"
            },
            "keywordId": {
              "format": "int64",
              "type": "string",
              "description": "DS keyword ID."
            },
            "adId": {
              "format": "int64",
              "description": "DS ad ID.",
              "type": "string"
            },
            "campaignId": {
              "type": "string",
              "format": "int64",
              "description": "DS campaign ID."
            }
          }
        },
        "includeDeletedEntities": {
          "description": "Determines if removed entities should be included in the report. Defaults to `false`. Deprecated, please use `includeRemovedEntities` instead.",
          "type": "boolean"
        },
        "downloadFormat": {
          "description": "Format that the report should be returned in. Currently `csv` or `tsv` is supported.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "string"
        },
        "startRow": {
          "type": "integer",
          "description": "Synchronous report only. Zero-based index of the first row to return. Acceptable values are `0` to `50000`, inclusive. Defaults to `0`.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "format": "int32"
        },
        "includeRemovedEntities": {
          "description": "Determines if removed entities should be included in the report. Defaults to `false`.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "ReportRequest"
    },
    "IdMappingFile": {
      "id": "IdMappingFile",
      "properties": {},
      "description": "File returned to https://developers.google.com/search-ads/v2/reference/reports/getIdMappingFile.",
      "type": "object"
    },
    "ConversionList": {
      "type": "object",
      "description": "A list of conversions.",
      "id": "ConversionList",
      "properties": {
        "kind": {
          "description": "Identifies this as a ConversionList resource. Value: the fixed string doubleclicksearch#conversionList.",
          "type": "string"
        },
        "conversion": {
          "items": {
            "$ref": "Conversion"
          },
          "type": "array",
          "description": "The conversions being requested."
        }
      }
    },
    "Report": {
      "type": "object",
      "description": "A DoubleClick Search report. This object contains the report request, some report metadata such as currency code, and the generated report rows or report files.",
      "properties": {
        "files": {
          "items": {
            "properties": {
              "url": {
                "description": "Use this url to download the report file.",
                "type": "string"
              },
              "byteCount": {
                "type": "string",
                "format": "int64",
                "description": "The size of this report file in bytes."
              }
            },
            "type": "object"
          },
          "type": "array",
          "description": "Asynchronous report only. Contains a list of generated report files once the report has successfully completed."
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "ReportRow"
          },
          "description": "Synchronous report only. Generated report rows."
        },
        "kind": {
          "description": "Identifies this as a Report resource. Value: the fixed string `doubleclicksearch#report`.",
          "type": "string"
        },
        "isReportReady": {
          "type": "boolean",
          "description": "Asynchronous report only. True if and only if the report has completed successfully and the report files are ready to be downloaded."
        },
        "rowCount": {
          "description": "The number of report rows generated by the report, not including headers.",
          "type": "integer",
          "format": "int32"
        },
        "request": {
          "$ref": "ReportRequest",
          "description": "The request that created the report. Optional fields not specified in the original request are filled with default values."
        },
        "statisticsCurrencyCode": {
          "type": "string",
          "description": "The currency code of all monetary values produced in the report, including values that are set by users (e.g., keyword bid settings) and metrics (e.g., cost and revenue). The currency code of a report is determined by the `statisticsCurrency` field of the report request."
        },
        "id": {
          "type": "string",
          "description": "Asynchronous report only. Id of the report."
        },
        "statisticsTimeZone": {
          "type": "string",
          "description": "If all statistics of the report are sourced from the same time zone, this would be it. Otherwise the field is unset."
        }
      },
      "id": "Report"
    },
    "UpdateAvailabilityResponse": {
      "properties": {
        "availabilities": {
          "type": "array",
          "description": "The availabilities being returned.",
          "items": {
            "$ref": "Availability"
          }
        }
      },
      "id": "UpdateAvailabilityResponse",
      "description": "The response to a update availability request.",
      "type": "object"
    },
    "Availability": {
      "description": "A message containing availability data relevant to DoubleClick Search.",
      "properties": {
        "agencyId": {
          "description": "DS agency ID.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "format": "int64",
          "type": "string"
        },
        "segmentationName": {
          "type": "string",
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name)."
        },
        "advertiserId": {
          "format": "int64",
          "type": "string",
          "description": "DS advertiser ID.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        },
        "segmentationType": {
          "type": "string",
          "description": "The segmentation type that this availability is for (its default value is `FLOODLIGHT`).",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        },
        "segmentationId": {
          "format": "int64",
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).",
          "type": "string"
        },
        "customerId": {
          "description": "Customer ID of a client account in the new Search Ads 360 experience.",
          "type": "string"
        },
        "availabilityTimestamp": {
          "format": "int64",
          "description": "The time by which all conversions have been uploaded, in epoch millis UTC.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "type": "string"
        }
      },
      "id": "Availability",
      "type": "object"
    },
    "ReportApiColumnSpec": {
      "description": "A request object used to create a DoubleClick Search report.",
      "properties": {
        "platformSource": {
          "description": "The platform that is used to provide data for the custom dimension. Acceptable values are \"floodlight\".",
          "type": "string"
        },
        "productReportPerspective": {
          "description": "Returns metrics only for a specific type of product activity. Accepted values are: - \"`sold`\": returns metrics only for products that were sold - \"`advertised`\": returns metrics only for products that were advertised in a Shopping campaign, and that might or might not have been sold ",
          "type": "string"
        },
        "headerText": {
          "type": "string",
          "description": "Text used to identify this column in the report output; defaults to `columnName` or `savedColumnName` when not specified. This can be used to prevent collisions between DoubleClick Search columns and saved columns with the same name."
        },
        "savedColumnName": {
          "type": "string",
          "description": "Name of a saved column to include in the report. The report must be scoped at advertiser or lower, and this saved column must already be created in the DoubleClick Search UI."
        },
        "groupByColumn": {
          "type": "boolean",
          "description": "Synchronous report only. Set to `true` to group by this column. Defaults to `false`."
        },
        "endDate": {
          "type": "string",
          "description": "Inclusive day in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `startDate`."
        },
        "columnName": {
          "description": "Name of a DoubleClick Search column to include in the report.",
          "type": "string"
        },
        "startDate": {
          "type": "string",
          "description": "Inclusive date in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `endDate`."
        },
        "customMetricName": {
          "type": "string",
          "description": "Name of a custom metric to include in the report. The report must be scoped to an advertiser or lower, and the custom metric must already be set up in DoubleClick Search. The custom metric name, which appears in DoubleClick Search, is case sensitive."
        },
        "customDimensionName": {
          "description": "Segments a report by a custom dimension. The report must be scoped to an advertiser or lower, and the custom dimension must already be set up in DoubleClick Search. The custom dimension name, which appears in DoubleClick Search, is case sensitive.\\ If used in a conversion report, returns the value of the specified custom dimension for the given conversion, if set. This column does not segment the conversion report.",
          "type": "string"
        }
      },
      "id": "ReportApiColumnSpec",
      "type": "object"
    },
    "CustomDimension": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Custom dimension name."
        },
        "value": {
          "description": "Custom dimension value.",
          "type": "string"
        }
      },
      "description": "A message containing the custom dimension.",
      "type": "object",
      "id": "CustomDimension"
    },
    "ReportRow": {
      "type": "object",
      "additionalProperties": {
        "type": "any",
        "description": "Indicates the columns that are represented in this row. That is, each key corresponds to a column with a non-empty cell in this row."
      },
      "id": "ReportRow",
      "description": "A row in a DoubleClick Search report."
    },
    "SavedColumnList": {
      "description": "A list of saved columns. Advertisers create saved columns to report on Floodlight activities, Google Analytics goals, or custom KPIs. To request reports with saved columns, you'll need the saved column names that are available from this list.",
      "type": "object",
      "id": "SavedColumnList",
      "properties": {
        "items": {
          "description": "The saved columns being requested.",
          "type": "array",
          "items": {
            "$ref": "SavedColumn"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies this as a SavedColumnList resource. Value: the fixed string doubleclicksearch#savedColumnList."
        }
      }
    },
    "UpdateAvailabilityRequest": {
      "type": "object",
      "description": "The request to update availability.",
      "id": "UpdateAvailabilityRequest",
      "properties": {
        "availabilities": {
          "description": "The availabilities being requested.",
          "type": "array",
          "items": {
            "$ref": "Availability"
          }
        }
      }
    },
    "Conversion": {
      "id": "Conversion",
      "description": "A conversion containing data relevant to DoubleClick Search. Common DS3 API conversion fields: Id Range [1 - 2800]. Next Id to use: 33",
      "properties": {
        "revenueMicros": {
          "type": "string",
          "description": "The revenue amount of this `TRANSACTION` conversion, in micros (value multiplied by 1000000, no decimal). For example, to specify a revenue value of \"10\" enter \"10000000\" (10 million) in your request."
        },
        "campaignId": {
          "description": "DS campaign ID.",
          "type": "string",
          "format": "int64"
        },
        "customMetric": {
          "type": "array",
          "items": {
            "$ref": "CustomMetric"
          },
          "description": "Custom metrics for the conversion."
        },
        "dsConversionId": {
          "type": "string",
          "description": "ID that DoubleClick Search generates for each conversion.",
          "format": "int64"
        },
        "segmentationType": {
          "type": "string",
          "description": "The segmentation type of this conversion (for example, `FLOODLIGHT`).",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          }
        },
        "advertiserId": {
          "type": "string",
          "description": "DS advertiser ID.",
          "format": "int64"
        },
        "adId": {
          "format": "int64",
          "description": "DS ad ID.",
          "type": "string"
        },
        "customerId": {
          "description": "Customer ID of a client account in the new Search Ads 360 experience.",
          "type": "string"
        },
        "attributionModel": {
          "description": "Available to advertisers only after contacting DoubleClick Search customer support.",
          "type": "string"
        },
        "criterionId": {
          "format": "int64",
          "type": "string",
          "description": "DS criterion (keyword) ID."
        },
        "deviceType": {
          "description": "The type of device on which the conversion occurred.",
          "type": "string"
        },
        "segmentationId": {
          "format": "int64",
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).",
          "type": "string"
        },
        "productCountry": {
          "description": "The country registered for the Merchant Center feed that contains the product. Use an ISO 3166 code to specify a country.",
          "type": "string"
        },
        "quantityMillis": {
          "format": "int64",
          "description": "The quantity of this conversion, in millis.",
          "type": "string"
        },
        "agencyId": {
          "type": "string",
          "format": "int64",
          "description": "DS agency ID."
        },
        "customDimension": {
          "type": "array",
          "description": "Custom dimensions for the conversion, which can be used to filter data in a report.",
          "items": {
            "$ref": "CustomDimension"
          }
        },
        "conversionTimestamp": {
          "description": "The time at which the conversion took place, in epoch millis UTC.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "type": "string"
        },
        "productLanguage": {
          "description": "The language registered for the Merchant Center feed that contains the product. Use an ISO 639 code to specify a language.",
          "type": "string"
        },
        "floodlightOrderId": {
          "type": "string",
          "description": "The Floodlight order ID provided by the advertiser for the conversion."
        },
        "clickId": {
          "description": "DS click ID for the conversion.",
          "type": "string"
        },
        "productId": {
          "description": "The product ID (SKU).",
          "type": "string"
        },
        "conversionId": {
          "description": "For offline conversions, advertisers provide this ID. Advertisers can specify any ID that is meaningful to them. Each conversion in a request must specify a unique ID, and the combination of ID and timestamp must be unique amongst all conversions within the advertiser. For online conversions, DS copies the `dsConversionId` or `floodlightOrderId` into this property depending on the advertiser's Floodlight instructions.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "type": "string"
        },
        "conversionModifiedTimestamp": {
          "format": "int64",
          "description": "The time at which the conversion was last modified, in epoch millis UTC.",
          "type": "string"
        },
        "productGroupId": {
          "description": "DS product group ID.",
          "format": "int64",
          "type": "string"
        },
        "segmentationName": {
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name).",
          "type": "string"
        },
        "storeId": {
          "description": "The ID of the local store for which the product was advertised. Applicable only when the channel is \"`local`\".",
          "type": "string"
        },
        "countMillis": {
          "type": "string",
          "description": "Available to advertisers only after contacting DoubleClick Search customer support.",
          "format": "int64"
        },
        "adGroupId": {
          "type": "string",
          "format": "int64",
          "description": "DS ad group ID."
        },
        "adUserDataConsent": {
          "description": "Represents consent for core platform services (CPS) preferences in settings. No default value. Acceptable values are: GRANTED: The desired consent status is to grant. Read the CPS preferences from GTE settings. DENIED: The desired consent status is to deny; CPS list is empty.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "GRANTED",
            "DENIED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ]
        },
        "state": {
          "type": "string",
          "description": "The state of the conversion, that is, either `ACTIVE` or `REMOVED`. Note: state DELETED is deprecated."
        },
        "type": {
          "type": "string",
          "description": "The type of the conversion, that is, either `ACTION` or `TRANSACTION`. An `ACTION` conversion is an action by the user that has no monetarily quantifiable value, while a `TRANSACTION` conversion is an action that does have a monetarily quantifiable value. Examples are email list signups (`ACTION`) versus ecommerce purchases (`TRANSACTION`)."
        },
        "inventoryAccountId": {
          "description": "ID that DS generates and uses to uniquely identify the inventory account that contains the product.",
          "type": "string",
          "format": "int64"
        },
        "engineAccountId": {
          "type": "string",
          "description": "DS engine account ID.",
          "format": "int64"
        },
        "currencyCode": {
          "description": "The currency code for the conversion's revenue. Should be in ISO 4217 alphabetic (3-char) format.",
          "type": "string"
        },
        "channel": {
          "description": "Sales channel for the product. Acceptable values are: - \"`local`\": a physical store - \"`online`\": an online store ",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "rootUrl": "https://doubleclicksearch.googleapis.com/",
  "version": "v2"
}