{
  "name": "doubleclicksearch",
  "documentationLink": "https://developers.google.com/search-ads",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclicksearch": {
          "description": "View and manage your advertising data in DoubleClick Search"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "baseUrl": "https://doubleclicksearch.googleapis.com/",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "doubleclicksearch:v2",
  "batchPath": "batch",
  "schemas": {
    "Conversion": {
      "properties": {
        "segmentationType": {
          "description": "The segmentation type of this conversion (for example, `FLOODLIGHT`).",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "type": "string"
        },
        "inventoryAccountId": {
          "description": "ID that DS generates and uses to uniquely identify the inventory account that contains the product.",
          "format": "int64",
          "type": "string"
        },
        "conversionId": {
          "description": "For offline conversions, advertisers provide this ID. Advertisers can specify any ID that is meaningful to them. Each conversion in a request must specify a unique ID, and the combination of ID and timestamp must be unique amongst all conversions within the advertiser. For online conversions, DS copies the `dsConversionId` or `floodlightOrderId` into this property depending on the advertiser's Floodlight instructions.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "type": "string"
        },
        "advertiserId": {
          "format": "int64",
          "type": "string",
          "description": "DS advertiser ID."
        },
        "segmentationId": {
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).",
          "format": "int64",
          "type": "string"
        },
        "quantityMillis": {
          "type": "string",
          "format": "int64",
          "description": "The quantity of this conversion, in millis."
        },
        "conversionTimestamp": {
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "type": "string",
          "description": "The time at which the conversion took place, in epoch millis UTC."
        },
        "floodlightOrderId": {
          "description": "The Floodlight order ID provided by the advertiser for the conversion.",
          "type": "string"
        },
        "engineAccountId": {
          "description": "DS engine account ID.",
          "type": "string",
          "format": "int64"
        },
        "customDimension": {
          "description": "Custom dimensions for the conversion, which can be used to filter data in a report.",
          "type": "array",
          "items": {
            "$ref": "CustomDimension"
          }
        },
        "customerId": {
          "type": "string",
          "description": "Customer ID of a client account in the new Search Ads 360 experience."
        },
        "productLanguage": {
          "type": "string",
          "description": "The language registered for the Merchant Center feed that contains the product. Use an ISO 639 code to specify a language."
        },
        "revenueMicros": {
          "description": "The revenue amount of this `TRANSACTION` conversion, in micros (value multiplied by 1000000, no decimal). For example, to specify a revenue value of \"10\" enter \"10000000\" (10 million) in your request.",
          "type": "string"
        },
        "conversionModifiedTimestamp": {
          "type": "string",
          "format": "int64",
          "description": "The time at which the conversion was last modified, in epoch millis UTC."
        },
        "productId": {
          "type": "string",
          "description": "The product ID (SKU)."
        },
        "deviceType": {
          "description": "The type of device on which the conversion occurred.",
          "type": "string"
        },
        "adGroupId": {
          "description": "DS ad group ID.",
          "format": "int64",
          "type": "string"
        },
        "adId": {
          "description": "DS ad ID.",
          "format": "int64",
          "type": "string"
        },
        "state": {
          "description": "The state of the conversion, that is, either `ACTIVE` or `REMOVED`. Note: state DELETED is deprecated.",
          "type": "string"
        },
        "type": {
          "description": "The type of the conversion, that is, either `ACTION` or `TRANSACTION`. An `ACTION` conversion is an action by the user that has no monetarily quantifiable value, while a `TRANSACTION` conversion is an action that does have a monetarily quantifiable value. Examples are email list signups (`ACTION`) versus ecommerce purchases (`TRANSACTION`).",
          "type": "string"
        },
        "clickId": {
          "description": "DS click ID for the conversion.",
          "type": "string"
        },
        "channel": {
          "description": "Sales channel for the product. Acceptable values are: - \"`local`\": a physical store - \"`online`\": an online store ",
          "type": "string"
        },
        "dsConversionId": {
          "description": "ID that DoubleClick Search generates for each conversion.",
          "format": "int64",
          "type": "string"
        },
        "productCountry": {
          "description": "The country registered for the Merchant Center feed that contains the product. Use an ISO 3166 code to specify a country.",
          "type": "string"
        },
        "attributionModel": {
          "type": "string",
          "description": "Available to advertisers only after contacting DoubleClick Search customer support."
        },
        "currencyCode": {
          "description": "The currency code for the conversion's revenue. Should be in ISO 4217 alphabetic (3-char) format.",
          "type": "string"
        },
        "campaignId": {
          "type": "string",
          "format": "int64",
          "description": "DS campaign ID."
        },
        "countMillis": {
          "description": "Available to advertisers only after contacting DoubleClick Search customer support.",
          "format": "int64",
          "type": "string"
        },
        "customMetric": {
          "items": {
            "$ref": "CustomMetric"
          },
          "type": "array",
          "description": "Custom metrics for the conversion."
        },
        "segmentationName": {
          "type": "string",
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name)."
        },
        "adUserDataConsent": {
          "type": "string",
          "description": "Represents consent for core platform services (CPS) preferences in settings. No default value. Acceptable values are: GRANTED: The desired consent status is to grant. Read the CPS preferences from GTE settings. DENIED: The desired consent status is to deny; CPS list is empty.",
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ],
          "enum": [
            "UNKNOWN",
            "GRANTED",
            "DENIED"
          ]
        },
        "agencyId": {
          "description": "DS agency ID.",
          "type": "string",
          "format": "int64"
        },
        "storeId": {
          "type": "string",
          "description": "The ID of the local store for which the product was advertised. Applicable only when the channel is \"`local`\"."
        },
        "criterionId": {
          "description": "DS criterion (keyword) ID.",
          "format": "int64",
          "type": "string"
        },
        "productGroupId": {
          "format": "int64",
          "type": "string",
          "description": "DS product group ID."
        }
      },
      "id": "Conversion",
      "type": "object",
      "description": "A conversion containing data relevant to DoubleClick Search. Common DS3 API conversion fields: Id Range [1 - 2800]. Next Id to use: 33"
    },
    "ConversionList": {
      "description": "A list of conversions.",
      "properties": {
        "kind": {
          "description": "Identifies this as a ConversionList resource. Value: the fixed string doubleclicksearch#conversionList.",
          "type": "string"
        },
        "conversion": {
          "description": "The conversions being requested.",
          "type": "array",
          "items": {
            "$ref": "Conversion"
          }
        }
      },
      "id": "ConversionList",
      "type": "object"
    },
    "IdMappingFile": {
      "description": "File returned to https://developers.google.com/search-ads/v2/reference/reports/getIdMappingFile.",
      "id": "IdMappingFile",
      "type": "object",
      "properties": {}
    },
    "CustomDimension": {
      "description": "A message containing the custom dimension.",
      "properties": {
        "value": {
          "description": "Custom dimension value.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Custom dimension name."
        }
      },
      "id": "CustomDimension",
      "type": "object"
    },
    "UpdateAvailabilityResponse": {
      "properties": {
        "availabilities": {
          "items": {
            "$ref": "Availability"
          },
          "type": "array",
          "description": "The availabilities being returned."
        }
      },
      "id": "UpdateAvailabilityResponse",
      "type": "object",
      "description": "The response to a update availability request."
    },
    "Report": {
      "id": "Report",
      "type": "object",
      "properties": {
        "request": {
          "description": "The request that created the report. Optional fields not specified in the original request are filled with default values.",
          "$ref": "ReportRequest"
        },
        "rowCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of report rows generated by the report, not including headers."
        },
        "kind": {
          "description": "Identifies this as a Report resource. Value: the fixed string `doubleclicksearch#report`.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Asynchronous report only. Id of the report."
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "ReportRow"
          },
          "description": "Synchronous report only. Generated report rows."
        },
        "files": {
          "type": "array",
          "items": {
            "properties": {
              "url": {
                "type": "string",
                "description": "Use this url to download the report file."
              },
              "byteCount": {
                "format": "int64",
                "type": "string",
                "description": "The size of this report file in bytes."
              }
            },
            "type": "object"
          },
          "description": "Asynchronous report only. Contains a list of generated report files once the report has successfully completed."
        },
        "isReportReady": {
          "type": "boolean",
          "description": "Asynchronous report only. True if and only if the report has completed successfully and the report files are ready to be downloaded."
        },
        "statisticsCurrencyCode": {
          "description": "The currency code of all monetary values produced in the report, including values that are set by users (e.g., keyword bid settings) and metrics (e.g., cost and revenue). The currency code of a report is determined by the `statisticsCurrency` field of the report request.",
          "type": "string"
        },
        "statisticsTimeZone": {
          "type": "string",
          "description": "If all statistics of the report are sourced from the same time zone, this would be it. Otherwise the field is unset."
        }
      },
      "description": "A DoubleClick Search report. This object contains the report request, some report metadata such as currency code, and the generated report rows or report files."
    },
    "ReportApiColumnSpec": {
      "id": "ReportApiColumnSpec",
      "type": "object",
      "properties": {
        "headerText": {
          "type": "string",
          "description": "Text used to identify this column in the report output; defaults to `columnName` or `savedColumnName` when not specified. This can be used to prevent collisions between DoubleClick Search columns and saved columns with the same name."
        },
        "startDate": {
          "type": "string",
          "description": "Inclusive date in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `endDate`."
        },
        "groupByColumn": {
          "type": "boolean",
          "description": "Synchronous report only. Set to `true` to group by this column. Defaults to `false`."
        },
        "savedColumnName": {
          "type": "string",
          "description": "Name of a saved column to include in the report. The report must be scoped at advertiser or lower, and this saved column must already be created in the DoubleClick Search UI."
        },
        "platformSource": {
          "type": "string",
          "description": "The platform that is used to provide data for the custom dimension. Acceptable values are \"floodlight\"."
        },
        "customMetricName": {
          "type": "string",
          "description": "Name of a custom metric to include in the report. The report must be scoped to an advertiser or lower, and the custom metric must already be set up in DoubleClick Search. The custom metric name, which appears in DoubleClick Search, is case sensitive."
        },
        "endDate": {
          "type": "string",
          "description": "Inclusive day in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `startDate`."
        },
        "columnName": {
          "description": "Name of a DoubleClick Search column to include in the report.",
          "type": "string"
        },
        "customDimensionName": {
          "type": "string",
          "description": "Segments a report by a custom dimension. The report must be scoped to an advertiser or lower, and the custom dimension must already be set up in DoubleClick Search. The custom dimension name, which appears in DoubleClick Search, is case sensitive.\\ If used in a conversion report, returns the value of the specified custom dimension for the given conversion, if set. This column does not segment the conversion report."
        },
        "productReportPerspective": {
          "description": "Returns metrics only for a specific type of product activity. Accepted values are: - \"`sold`\": returns metrics only for products that were sold - \"`advertised`\": returns metrics only for products that were advertised in a Shopping campaign, and that might or might not have been sold ",
          "type": "string"
        }
      },
      "description": "A request object used to create a DoubleClick Search report."
    },
    "ReportRow": {
      "id": "ReportRow",
      "type": "object",
      "description": "A row in a DoubleClick Search report.",
      "additionalProperties": {
        "description": "Indicates the columns that are represented in this row. That is, each key corresponds to a column with a non-empty cell in this row.",
        "type": "any"
      }
    },
    "ReportRequest": {
      "description": "A request object used to create a DoubleClick Search report.",
      "id": "ReportRequest",
      "type": "object",
      "properties": {
        "reportScope": {
          "type": "object",
          "properties": {
            "agencyId": {
              "description": "DS agency ID.",
              "format": "int64",
              "type": "string"
            },
            "advertiserId": {
              "description": "DS advertiser ID.",
              "type": "string",
              "format": "int64"
            },
            "engineAccountId": {
              "description": "DS engine account ID.",
              "type": "string",
              "format": "int64"
            },
            "keywordId": {
              "format": "int64",
              "type": "string",
              "description": "DS keyword ID."
            },
            "adGroupId": {
              "description": "DS ad group ID.",
              "type": "string",
              "format": "int64"
            },
            "campaignId": {
              "type": "string",
              "format": "int64",
              "description": "DS campaign ID."
            },
            "adId": {
              "description": "DS ad ID.",
              "format": "int64",
              "type": "string"
            }
          },
          "description": "The reportScope is a set of IDs that are used to determine which subset of entities will be returned in the report. The full lineage of IDs from the lowest scoped level desired up through agency is required."
        },
        "statisticsCurrency": {
          "description": "Specifies the currency in which monetary will be returned. Possible values are: `usd`, `agency` (valid if the report is scoped to agency or lower), `advertiser` (valid if the report is scoped to * advertiser or lower), or `account` (valid if the report is scoped to engine account or lower).",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "string"
        },
        "filters": {
          "description": "A list of filters to be applied to the report.\\ The maximum number of filters per request is 300.",
          "type": "array",
          "items": {
            "properties": {
              "operator": {
                "type": "string",
                "description": "Operator to use in the filter. See the filter reference for a list of available operators."
              },
              "column": {
                "$ref": "ReportApiColumnSpec",
                "description": "Column to perform the filter on. This can be a DoubleClick Search column or a saved column."
              },
              "values": {
                "description": "A list of values to filter the column value against.\\ The maximum number of filter values per request is 300.",
                "items": {
                  "type": "any"
                },
                "type": "array"
              }
            },
            "type": "object"
          }
        },
        "timeRange": {
          "description": "If metrics are requested in a report, this argument will be used to restrict the metrics to a specific time range.",
          "type": "object",
          "properties": {
            "changedMetricsSinceTimestamp": {
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed metrics reports work.",
              "type": "string"
            },
            "changedAttributesSinceTimestamp": {
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed attribute reports work.",
              "type": "string"
            },
            "startDate": {
              "type": "string",
              "description": "Inclusive date in YYYY-MM-DD format."
            },
            "endDate": {
              "type": "string",
              "description": "Inclusive date in YYYY-MM-DD format."
            }
          }
        },
        "reportType": {
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "string",
          "description": "Determines the type of rows that are returned in the report. For example, if you specify `reportType: keyword`, each row in the report will contain data about a keyword. See the [Types of Reports](/search-ads/v2/report-types/) reference for the columns that are available for each type."
        },
        "columns": {
          "items": {
            "$ref": "ReportApiColumnSpec"
          },
          "type": "array",
          "description": "The columns to include in the report. This includes both DoubleClick Search columns and saved columns. For DoubleClick Search columns, only the `columnName` parameter is required. For saved columns only the `savedColumnName` parameter is required. Both `columnName` and `savedColumnName` cannot be set in the same stanza.\\ The maximum number of columns per request is 300."
        },
        "orderBy": {
          "description": "Synchronous report only. A list of columns and directions defining sorting to be performed on the report rows.\\ The maximum number of orderings per request is 300.",
          "type": "array",
          "items": {
            "properties": {
              "column": {
                "description": "Column to perform the sort on. This can be a DoubleClick Search-defined column or a saved column.",
                "$ref": "ReportApiColumnSpec"
              },
              "sortOrder": {
                "type": "string",
                "description": "The sort direction, which is either `ascending` or `descending`."
              }
            },
            "type": "object"
          }
        },
        "includeRemovedEntities": {
          "type": "boolean",
          "description": "Determines if removed entities should be included in the report. Defaults to `false`."
        },
        "verifySingleTimeZone": {
          "description": "If `true`, the report would only be created if all the requested stat data are sourced from a single timezone. Defaults to `false`.",
          "type": "boolean"
        },
        "startRow": {
          "description": "Synchronous report only. Zero-based index of the first row to return. Acceptable values are `0` to `50000`, inclusive. Defaults to `0`.",
          "format": "int32",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "type": "integer"
        },
        "rowCount": {
          "description": "Synchronous report only. The maximum number of rows to return; additional rows are dropped. Acceptable values are `0` to `10000`, inclusive. Defaults to `10000`.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "type": "integer",
          "format": "int32"
        },
        "includeDeletedEntities": {
          "type": "boolean",
          "description": "Determines if removed entities should be included in the report. Defaults to `false`. Deprecated, please use `includeRemovedEntities` instead."
        },
        "downloadFormat": {
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "string",
          "description": "Format that the report should be returned in. Currently `csv` or `tsv` is supported."
        },
        "maxRowsPerFile": {
          "description": "Asynchronous report only. The maximum number of rows per report file. A large report is split into many files based on this field. Acceptable values are `1000000` to `100000000`, inclusive.",
          "format": "int32",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "integer"
        }
      }
    },
    "SavedColumnList": {
      "description": "A list of saved columns. Advertisers create saved columns to report on Floodlight activities, Google Analytics goals, or custom KPIs. To request reports with saved columns, you'll need the saved column names that are available from this list.",
      "id": "SavedColumnList",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies this as a SavedColumnList resource. Value: the fixed string doubleclicksearch#savedColumnList."
        },
        "items": {
          "description": "The saved columns being requested.",
          "type": "array",
          "items": {
            "$ref": "SavedColumn"
          }
        }
      }
    },
    "CustomMetric": {
      "description": "A message containing the custom metric.",
      "id": "CustomMetric",
      "type": "object",
      "properties": {
        "value": {
          "format": "double",
          "type": "number",
          "description": "Custom metric numeric value."
        },
        "name": {
          "description": "Custom metric name.",
          "type": "string"
        }
      }
    },
    "Availability": {
      "description": "A message containing availability data relevant to DoubleClick Search.",
      "properties": {
        "advertiserId": {
          "format": "int64",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "type": "string",
          "description": "DS advertiser ID."
        },
        "segmentationId": {
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).",
          "type": "string",
          "format": "int64"
        },
        "agencyId": {
          "format": "int64",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "type": "string",
          "description": "DS agency ID."
        },
        "availabilityTimestamp": {
          "description": "The time by which all conversions have been uploaded, in epoch millis UTC.",
          "format": "int64",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "type": "string"
        },
        "segmentationType": {
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "type": "string",
          "description": "The segmentation type that this availability is for (its default value is `FLOODLIGHT`)."
        },
        "segmentationName": {
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name).",
          "type": "string"
        },
        "customerId": {
          "type": "string",
          "description": "Customer ID of a client account in the new Search Ads 360 experience."
        }
      },
      "id": "Availability",
      "type": "object"
    },
    "UpdateAvailabilityRequest": {
      "id": "UpdateAvailabilityRequest",
      "type": "object",
      "properties": {
        "availabilities": {
          "items": {
            "$ref": "Availability"
          },
          "type": "array",
          "description": "The availabilities being requested."
        }
      },
      "description": "The request to update availability."
    },
    "SavedColumn": {
      "description": "A saved column",
      "properties": {
        "savedColumnName": {
          "type": "string",
          "description": "The name of the saved column."
        },
        "kind": {
          "type": "string",
          "description": "Identifies this as a SavedColumn resource. Value: the fixed string doubleclicksearch#savedColumn."
        },
        "type": {
          "type": "string",
          "description": "The type of data this saved column will produce."
        }
      },
      "id": "SavedColumn",
      "type": "object"
    }
  },
  "ownerDomain": "google.com",
  "version": "v2",
  "rootUrl": "https://doubleclicksearch.googleapis.com/",
  "servicePath": "",
  "resources": {
    "savedColumns": {
      "methods": {
        "list": {
          "id": "doubleclicksearch.savedColumns.list",
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "description": "Retrieve the list of saved columns for a specified advertiser.",
          "response": {
            "$ref": "SavedColumnList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "parameters": {
            "agencyId": {
              "location": "path",
              "description": "DS ID of the agency.",
              "type": "string",
              "required": true,
              "format": "int64"
            },
            "advertiserId": {
              "description": "DS ID of the advertiser.",
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string"
            }
          },
          "httpMethod": "GET"
        }
      }
    },
    "reports": {
      "methods": {
        "getFile": {
          "id": "doubleclicksearch.reports.getFile",
          "useMediaDownloadService": true,
          "parameterOrder": [
            "reportId",
            "reportFragment"
          ],
          "description": "Downloads a report file encoded in UTF-8.",
          "path": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "flatPath": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "parameters": {
            "reportFragment": {
              "required": true,
              "format": "int32",
              "minimum": "0",
              "type": "integer",
              "description": "The index of the report fragment to download.",
              "location": "path"
            },
            "reportId": {
              "required": true,
              "type": "string",
              "description": "ID of the report.",
              "location": "path"
            }
          },
          "supportsMediaDownload": true,
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "GET"
        },
        "request": {
          "id": "doubleclicksearch.reports.request",
          "parameterOrder": [],
          "description": "Inserts a report request into the reporting system.",
          "request": {
            "$ref": "ReportRequest"
          },
          "response": {
            "$ref": "Report"
          },
          "path": "doubleclicksearch/v2/reports",
          "flatPath": "doubleclicksearch/v2/reports",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "POST"
        },
        "getIdMappingFile": {
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "parameters": {
            "advertiserId": {
              "required": true,
              "format": "int64",
              "type": "string",
              "description": "Legacy SA360 advertiser ID.",
              "location": "path"
            },
            "agencyId": {
              "required": true,
              "format": "int64",
              "type": "string",
              "description": "Legacy SA360 agency ID.",
              "location": "path"
            }
          },
          "supportsMediaDownload": true,
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "GET",
          "id": "doubleclicksearch.reports.getIdMappingFile",
          "useMediaDownloadService": true,
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "description": "Downloads a csv file(encoded in UTF-8) that contains ID mappings between legacy SA360 and new SA360. The file includes all children entities of the given advertiser(e.g. engine accounts, campaigns, ad groups, etc.) that exist in both legacy SA360 and new SA360.",
          "response": {
            "$ref": "IdMappingFile"
          }
        },
        "generate": {
          "parameterOrder": [],
          "description": "Generates and returns a report immediately.",
          "id": "doubleclicksearch.reports.generate",
          "response": {
            "$ref": "Report"
          },
          "request": {
            "$ref": "ReportRequest"
          },
          "httpMethod": "POST",
          "path": "doubleclicksearch/v2/reports/generate",
          "flatPath": "doubleclicksearch/v2/reports/generate",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "path": "doubleclicksearch/v2/reports/{reportId}",
          "flatPath": "doubleclicksearch/v2/reports/{reportId}",
          "parameters": {
            "reportId": {
              "description": "ID of the report request being polled.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [
            "reportId"
          ],
          "description": "Polls for the status of a report request.",
          "id": "doubleclicksearch.reports.get",
          "response": {
            "$ref": "Report"
          }
        }
      }
    },
    "conversion": {
      "methods": {
        "insert": {
          "id": "doubleclicksearch.conversion.insert",
          "parameterOrder": [],
          "description": "Inserts a batch of new conversions into DoubleClick Search.",
          "request": {
            "$ref": "ConversionList"
          },
          "response": {
            "$ref": "ConversionList"
          },
          "path": "doubleclicksearch/v2/conversion",
          "flatPath": "doubleclicksearch/v2/conversion",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "POST"
        },
        "getByCustomerId": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "flatPath": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "parameters": {
            "advertiserId": {
              "description": "Numeric ID of the advertiser.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "rowCount": {
              "description": "The number of conversions to return per call.",
              "location": "query",
              "maximum": "1000",
              "required": true,
              "format": "int32",
              "minimum": "1",
              "type": "integer"
            },
            "agencyId": {
              "format": "int64",
              "type": "string",
              "description": "Numeric ID of the agency.",
              "location": "query"
            },
            "endDate": {
              "location": "query",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "minimum": "20091101",
              "type": "integer",
              "maximum": "99991231",
              "required": true,
              "format": "int32"
            },
            "engineAccountId": {
              "format": "int64",
              "type": "string",
              "description": "Numeric ID of the engine account.",
              "location": "query"
            },
            "adId": {
              "location": "query",
              "description": "Numeric ID of the ad.",
              "type": "string",
              "format": "int64"
            },
            "campaignId": {
              "format": "int64",
              "type": "string",
              "description": "Numeric ID of the campaign.",
              "location": "query"
            },
            "startRow": {
              "required": true,
              "format": "uint32",
              "type": "integer",
              "description": "The 0-based starting index for retrieving conversions results.",
              "location": "query"
            },
            "adGroupId": {
              "format": "int64",
              "type": "string",
              "description": "Numeric ID of the ad group.",
              "location": "query"
            },
            "criterionId": {
              "location": "query",
              "description": "Numeric ID of the criterion.",
              "type": "string",
              "format": "int64"
            },
            "startDate": {
              "minimum": "20091101",
              "type": "integer",
              "maximum": "99991231",
              "required": true,
              "format": "int32",
              "location": "query",
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd."
            },
            "customerId": {
              "required": true,
              "type": "string",
              "description": "Customer ID of a client account in the new Search Ads 360 experience.",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "ConversionList"
          },
          "id": "doubleclicksearch.conversion.getByCustomerId",
          "parameterOrder": [
            "customerId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account."
        },
        "update": {
          "id": "doubleclicksearch.conversion.update",
          "parameterOrder": [],
          "description": "Updates a batch of conversions in DoubleClick Search.",
          "request": {
            "$ref": "ConversionList"
          },
          "response": {
            "$ref": "ConversionList"
          },
          "path": "doubleclicksearch/v2/conversion",
          "flatPath": "doubleclicksearch/v2/conversion",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "PUT"
        },
        "updateAvailability": {
          "request": {
            "$ref": "UpdateAvailabilityRequest"
          },
          "response": {
            "$ref": "UpdateAvailabilityResponse"
          },
          "id": "doubleclicksearch.conversion.updateAvailability",
          "parameterOrder": [],
          "description": "Updates the availabilities of a batch of floodlight activities in DoubleClick Search.",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "doubleclicksearch/v2/conversion/updateAvailability",
          "flatPath": "doubleclicksearch/v2/conversion/updateAvailability",
          "parameters": {},
          "httpMethod": "POST"
        },
        "get": {
          "response": {
            "$ref": "ConversionList"
          },
          "id": "doubleclicksearch.conversion.get",
          "parameterOrder": [
            "agencyId",
            "advertiserId",
            "engineAccountId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "parameters": {
            "adId": {
              "description": "Numeric ID of the ad.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "campaignId": {
              "description": "Numeric ID of the campaign.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "startRow": {
              "required": true,
              "format": "uint32",
              "type": "integer",
              "description": "The 0-based starting index for retrieving conversions results.",
              "location": "query"
            },
            "adGroupId": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "Numeric ID of the ad group."
            },
            "criterionId": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "Numeric ID of the criterion."
            },
            "startDate": {
              "maximum": "99991231",
              "required": true,
              "format": "int32",
              "minimum": "20091101",
              "type": "integer",
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "location": "query"
            },
            "customerId": {
              "type": "string",
              "location": "query",
              "description": "Customer ID of a client account in the new Search Ads 360 experience."
            },
            "agencyId": {
              "location": "path",
              "description": "Numeric ID of the agency.",
              "type": "string",
              "required": true,
              "format": "int64"
            },
            "engineAccountId": {
              "required": true,
              "format": "int64",
              "type": "string",
              "description": "Numeric ID of the engine account.",
              "location": "path"
            },
            "endDate": {
              "maximum": "99991231",
              "required": true,
              "format": "int32",
              "minimum": "20091101",
              "type": "integer",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "location": "query"
            },
            "advertiserId": {
              "location": "path",
              "description": "Numeric ID of the advertiser.",
              "type": "string",
              "required": true,
              "format": "int64"
            },
            "rowCount": {
              "minimum": "1",
              "type": "integer",
              "maximum": "1000",
              "required": true,
              "format": "int32",
              "location": "query",
              "description": "The number of conversions to return per call."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "GET"
        }
      }
    }
  },
  "description": "The Search Ads 360 API allows developers to automate uploading conversions and downloading reports from Search Ads 360.",
  "revision": "20260803",
  "parameters": {
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    }
  },
  "ownerName": "Google",
  "canonicalName": "Doubleclicksearch",
  "basePath": "",
  "title": "Search Ads 360 API",
  "mtlsRootUrl": "https://doubleclicksearch.mtls.googleapis.com/"
}