{
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Search Ads 360 API",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://doubleclicksearch.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclicksearch": {
          "description": "View and manage your advertising data in DoubleClick Search"
        }
      }
    }
  },
  "basePath": "",
  "rootUrl": "https://doubleclicksearch.googleapis.com/",
  "version": "v2",
  "protocol": "rest",
  "baseUrl": "https://doubleclicksearch.googleapis.com/",
  "discoveryVersion": "v1",
  "canonicalName": "Doubleclicksearch",
  "batchPath": "batch",
  "id": "doubleclicksearch:v2",
  "ownerName": "Google",
  "schemas": {
    "ConversionList": {
      "description": "A list of conversions.",
      "type": "object",
      "id": "ConversionList",
      "properties": {
        "kind": {
          "description": "Identifies this as a ConversionList resource. Value: the fixed string doubleclicksearch#conversionList.",
          "type": "string"
        },
        "conversion": {
          "type": "array",
          "items": {
            "$ref": "Conversion"
          },
          "description": "The conversions being requested."
        }
      }
    },
    "Conversion": {
      "properties": {
        "customMetric": {
          "type": "array",
          "description": "Custom metrics for the conversion.",
          "items": {
            "$ref": "CustomMetric"
          }
        },
        "campaignId": {
          "type": "string",
          "description": "DS campaign ID.",
          "format": "int64"
        },
        "clickId": {
          "description": "DS click ID for the conversion.",
          "type": "string"
        },
        "inventoryAccountId": {
          "description": "ID that DS generates and uses to uniquely identify the inventory account that contains the product.",
          "type": "string",
          "format": "int64"
        },
        "productCountry": {
          "description": "The country registered for the Merchant Center feed that contains the product. Use an ISO 3166 code to specify a country.",
          "type": "string"
        },
        "advertiserId": {
          "type": "string",
          "description": "DS advertiser ID.",
          "format": "int64"
        },
        "conversionTimestamp": {
          "description": "The time at which the conversion took place, in epoch millis UTC.",
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          }
        },
        "segmentationId": {
          "format": "int64",
          "type": "string",
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID)."
        },
        "productLanguage": {
          "type": "string",
          "description": "The language registered for the Merchant Center feed that contains the product. Use an ISO 639 code to specify a language."
        },
        "agencyId": {
          "type": "string",
          "description": "DS agency ID.",
          "format": "int64"
        },
        "attributionModel": {
          "type": "string",
          "description": "Available to advertisers only after contacting DoubleClick Search customer support."
        },
        "engineAccountId": {
          "description": "DS engine account ID.",
          "type": "string",
          "format": "int64"
        },
        "type": {
          "type": "string",
          "description": "The type of the conversion, that is, either `ACTION` or `TRANSACTION`. An `ACTION` conversion is an action by the user that has no monetarily quantifiable value, while a `TRANSACTION` conversion is an action that does have a monetarily quantifiable value. Examples are email list signups (`ACTION`) versus ecommerce purchases (`TRANSACTION`)."
        },
        "conversionModifiedTimestamp": {
          "format": "int64",
          "type": "string",
          "description": "The time at which the conversion was last modified, in epoch millis UTC."
        },
        "criterionId": {
          "description": "DS criterion (keyword) ID.",
          "type": "string",
          "format": "int64"
        },
        "dsConversionId": {
          "type": "string",
          "description": "ID that DoubleClick Search generates for each conversion.",
          "format": "int64"
        },
        "quantityMillis": {
          "type": "string",
          "format": "int64",
          "description": "The quantity of this conversion, in millis."
        },
        "conversionId": {
          "description": "For offline conversions, advertisers provide this ID. Advertisers can specify any ID that is meaningful to them. Each conversion in a request must specify a unique ID, and the combination of ID and timestamp must be unique amongst all conversions within the advertiser. For online conversions, DS copies the `dsConversionId` or `floodlightOrderId` into this property depending on the advertiser's Floodlight instructions.",
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          }
        },
        "adId": {
          "description": "DS ad ID.",
          "type": "string",
          "format": "int64"
        },
        "revenueMicros": {
          "type": "string",
          "description": "The revenue amount of this `TRANSACTION` conversion, in micros (value multiplied by 1000000, no decimal). For example, to specify a revenue value of \"10\" enter \"10000000\" (10 million) in your request."
        },
        "segmentationName": {
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name).",
          "type": "string"
        },
        "adGroupId": {
          "format": "int64",
          "description": "DS ad group ID.",
          "type": "string"
        },
        "floodlightOrderId": {
          "type": "string",
          "description": "The Floodlight order ID provided by the advertiser for the conversion."
        },
        "productGroupId": {
          "description": "DS product group ID.",
          "type": "string",
          "format": "int64"
        },
        "channel": {
          "description": "Sales channel for the product. Acceptable values are: - \"`local`\": a physical store - \"`online`\": an online store ",
          "type": "string"
        },
        "segmentationType": {
          "type": "string",
          "description": "The segmentation type of this conversion (for example, `FLOODLIGHT`).",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          }
        },
        "deviceType": {
          "description": "The type of device on which the conversion occurred.",
          "type": "string"
        },
        "currencyCode": {
          "description": "The currency code for the conversion's revenue. Should be in ISO 4217 alphabetic (3-char) format.",
          "type": "string"
        },
        "state": {
          "description": "The state of the conversion, that is, either `ACTIVE` or `REMOVED`. Note: state DELETED is deprecated.",
          "type": "string"
        },
        "productId": {
          "type": "string",
          "description": "The product ID (SKU)."
        },
        "customerId": {
          "type": "string",
          "description": "Customer ID of a client account in the new Search Ads 360 experience."
        },
        "countMillis": {
          "format": "int64",
          "type": "string",
          "description": "Available to advertisers only after contacting DoubleClick Search customer support."
        },
        "adUserDataConsent": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "GRANTED",
            "DENIED"
          ],
          "description": "Represents consent for core platform services (CPS) preferences in settings. No default value. Acceptable values are: GRANTED: The desired consent status is to grant. Read the CPS preferences from GTE settings. DENIED: The desired consent status is to deny; CPS list is empty.",
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ]
        },
        "customDimension": {
          "items": {
            "$ref": "CustomDimension"
          },
          "description": "Custom dimensions for the conversion, which can be used to filter data in a report.",
          "type": "array"
        },
        "storeId": {
          "type": "string",
          "description": "The ID of the local store for which the product was advertised. Applicable only when the channel is \"`local`\"."
        }
      },
      "id": "Conversion",
      "description": "A conversion containing data relevant to DoubleClick Search. Common DS3 API conversion fields: Id Range [1 - 2800]. Next Id to use: 33",
      "type": "object"
    },
    "SavedColumn": {
      "description": "A saved column",
      "type": "object",
      "id": "SavedColumn",
      "properties": {
        "savedColumnName": {
          "description": "The name of the saved column.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of data this saved column will produce."
        },
        "kind": {
          "description": "Identifies this as a SavedColumn resource. Value: the fixed string doubleclicksearch#savedColumn.",
          "type": "string"
        }
      }
    },
    "CustomDimension": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Custom dimension name."
        },
        "value": {
          "type": "string",
          "description": "Custom dimension value."
        }
      },
      "description": "A message containing the custom dimension.",
      "type": "object",
      "id": "CustomDimension"
    },
    "UpdateAvailabilityRequest": {
      "properties": {
        "availabilities": {
          "description": "The availabilities being requested.",
          "items": {
            "$ref": "Availability"
          },
          "type": "array"
        }
      },
      "description": "The request to update availability.",
      "type": "object",
      "id": "UpdateAvailabilityRequest"
    },
    "SavedColumnList": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies this as a SavedColumnList resource. Value: the fixed string doubleclicksearch#savedColumnList.",
          "type": "string"
        },
        "items": {
          "description": "The saved columns being requested.",
          "type": "array",
          "items": {
            "$ref": "SavedColumn"
          }
        }
      },
      "description": "A list of saved columns. Advertisers create saved columns to report on Floodlight activities, Google Analytics goals, or custom KPIs. To request reports with saved columns, you'll need the saved column names that are available from this list.",
      "id": "SavedColumnList"
    },
    "IdMappingFile": {
      "properties": {},
      "description": "File returned to https://developers.google.com/search-ads/v2/reference/reports/getIdMappingFile.",
      "id": "IdMappingFile",
      "type": "object"
    },
    "CustomMetric": {
      "properties": {
        "name": {
          "description": "Custom metric name.",
          "type": "string"
        },
        "value": {
          "description": "Custom metric numeric value.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "id": "CustomMetric",
      "description": "A message containing the custom metric."
    },
    "Report": {
      "description": "A DoubleClick Search report. This object contains the report request, some report metadata such as currency code, and the generated report rows or report files.",
      "id": "Report",
      "type": "object",
      "properties": {
        "isReportReady": {
          "type": "boolean",
          "description": "Asynchronous report only. True if and only if the report has completed successfully and the report files are ready to be downloaded."
        },
        "id": {
          "description": "Asynchronous report only. Id of the report.",
          "type": "string"
        },
        "request": {
          "description": "The request that created the report. Optional fields not specified in the original request are filled with default values.",
          "$ref": "ReportRequest"
        },
        "statisticsCurrencyCode": {
          "description": "The currency code of all monetary values produced in the report, including values that are set by users (e.g., keyword bid settings) and metrics (e.g., cost and revenue). The currency code of a report is determined by the `statisticsCurrency` field of the report request.",
          "type": "string"
        },
        "statisticsTimeZone": {
          "description": "If all statistics of the report are sourced from the same time zone, this would be it. Otherwise the field is unset.",
          "type": "string"
        },
        "rowCount": {
          "description": "The number of report rows generated by the report, not including headers.",
          "type": "integer",
          "format": "int32"
        },
        "files": {
          "type": "array",
          "description": "Asynchronous report only. Contains a list of generated report files once the report has successfully completed.",
          "items": {
            "properties": {
              "byteCount": {
                "format": "int64",
                "description": "The size of this report file in bytes.",
                "type": "string"
              },
              "url": {
                "type": "string",
                "description": "Use this url to download the report file."
              }
            },
            "type": "object"
          }
        },
        "kind": {
          "description": "Identifies this as a Report resource. Value: the fixed string `doubleclicksearch#report`.",
          "type": "string"
        },
        "rows": {
          "description": "Synchronous report only. Generated report rows.",
          "type": "array",
          "items": {
            "$ref": "ReportRow"
          }
        }
      }
    },
    "Availability": {
      "id": "Availability",
      "description": "A message containing availability data relevant to DoubleClick Search.",
      "type": "object",
      "properties": {
        "segmentationType": {
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "type": "string",
          "description": "The segmentation type that this availability is for (its default value is `FLOODLIGHT`)."
        },
        "segmentationName": {
          "type": "string",
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name)."
        },
        "customerId": {
          "description": "Customer ID of a client account in the new Search Ads 360 experience.",
          "type": "string"
        },
        "agencyId": {
          "format": "int64",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "type": "string",
          "description": "DS agency ID."
        },
        "segmentationId": {
          "format": "int64",
          "type": "string",
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID)."
        },
        "advertiserId": {
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "type": "string",
          "description": "DS advertiser ID.",
          "format": "int64"
        },
        "availabilityTimestamp": {
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "format": "int64",
          "type": "string",
          "description": "The time by which all conversions have been uploaded, in epoch millis UTC."
        }
      }
    },
    "ReportRequest": {
      "type": "object",
      "id": "ReportRequest",
      "properties": {
        "reportScope": {
          "description": "The reportScope is a set of IDs that are used to determine which subset of entities will be returned in the report. The full lineage of IDs from the lowest scoped level desired up through agency is required.",
          "properties": {
            "adGroupId": {
              "type": "string",
              "format": "int64",
              "description": "DS ad group ID."
            },
            "keywordId": {
              "format": "int64",
              "type": "string",
              "description": "DS keyword ID."
            },
            "engineAccountId": {
              "format": "int64",
              "type": "string",
              "description": "DS engine account ID."
            },
            "agencyId": {
              "description": "DS agency ID.",
              "format": "int64",
              "type": "string"
            },
            "adId": {
              "type": "string",
              "description": "DS ad ID.",
              "format": "int64"
            },
            "advertiserId": {
              "format": "int64",
              "description": "DS advertiser ID.",
              "type": "string"
            },
            "campaignId": {
              "format": "int64",
              "type": "string",
              "description": "DS campaign ID."
            }
          },
          "type": "object"
        },
        "rowCount": {
          "description": "Synchronous report only. The maximum number of rows to return; additional rows are dropped. Acceptable values are `0` to `10000`, inclusive. Defaults to `10000`.",
          "format": "int32",
          "type": "integer",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          }
        },
        "includeDeletedEntities": {
          "description": "Determines if removed entities should be included in the report. Defaults to `false`. Deprecated, please use `includeRemovedEntities` instead.",
          "type": "boolean"
        },
        "verifySingleTimeZone": {
          "type": "boolean",
          "description": "If `true`, the report would only be created if all the requested stat data are sourced from a single timezone. Defaults to `false`."
        },
        "filters": {
          "type": "array",
          "description": "A list of filters to be applied to the report.\\ The maximum number of filters per request is 300.",
          "items": {
            "properties": {
              "column": {
                "description": "Column to perform the filter on. This can be a DoubleClick Search column or a saved column.",
                "$ref": "ReportApiColumnSpec"
              },
              "values": {
                "description": "A list of values to filter the column value against.\\ The maximum number of filter values per request is 300.",
                "items": {
                  "type": "any"
                },
                "type": "array"
              },
              "operator": {
                "type": "string",
                "description": "Operator to use in the filter. See the filter reference for a list of available operators."
              }
            },
            "type": "object"
          }
        },
        "includeRemovedEntities": {
          "description": "Determines if removed entities should be included in the report. Defaults to `false`.",
          "type": "boolean"
        },
        "downloadFormat": {
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "description": "Format that the report should be returned in. Currently `csv` or `tsv` is supported."
        },
        "timeRange": {
          "description": "If metrics are requested in a report, this argument will be used to restrict the metrics to a specific time range.",
          "type": "object",
          "properties": {
            "endDate": {
              "description": "Inclusive date in YYYY-MM-DD format.",
              "type": "string"
            },
            "changedAttributesSinceTimestamp": {
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed attribute reports work.",
              "type": "string"
            },
            "startDate": {
              "description": "Inclusive date in YYYY-MM-DD format.",
              "type": "string"
            },
            "changedMetricsSinceTimestamp": {
              "type": "string",
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed metrics reports work."
            }
          }
        },
        "orderBy": {
          "type": "array",
          "description": "Synchronous report only. A list of columns and directions defining sorting to be performed on the report rows.\\ The maximum number of orderings per request is 300.",
          "items": {
            "properties": {
              "column": {
                "$ref": "ReportApiColumnSpec",
                "description": "Column to perform the sort on. This can be a DoubleClick Search-defined column or a saved column."
              },
              "sortOrder": {
                "description": "The sort direction, which is either `ascending` or `descending`.",
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "maxRowsPerFile": {
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "format": "int32",
          "description": "Asynchronous report only. The maximum number of rows per report file. A large report is split into many files based on this field. Acceptable values are `1000000` to `100000000`, inclusive.",
          "type": "integer"
        },
        "reportType": {
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          },
          "description": "Determines the type of rows that are returned in the report. For example, if you specify `reportType: keyword`, each row in the report will contain data about a keyword. See the [Types of Reports](/search-ads/v2/report-types/) reference for the columns that are available for each type.",
          "type": "string"
        },
        "columns": {
          "items": {
            "$ref": "ReportApiColumnSpec"
          },
          "description": "The columns to include in the report. This includes both DoubleClick Search columns and saved columns. For DoubleClick Search columns, only the `columnName` parameter is required. For saved columns only the `savedColumnName` parameter is required. Both `columnName` and `savedColumnName` cannot be set in the same stanza.\\ The maximum number of columns per request is 300.",
          "type": "array"
        },
        "startRow": {
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "format": "int32",
          "type": "integer",
          "description": "Synchronous report only. Zero-based index of the first row to return. Acceptable values are `0` to `50000`, inclusive. Defaults to `0`."
        },
        "statisticsCurrency": {
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          },
          "description": "Specifies the currency in which monetary will be returned. Possible values are: `usd`, `agency` (valid if the report is scoped to agency or lower), `advertiser` (valid if the report is scoped to * advertiser or lower), or `account` (valid if the report is scoped to engine account or lower).",
          "type": "string"
        }
      },
      "description": "A request object used to create a DoubleClick Search report."
    },
    "ReportRow": {
      "id": "ReportRow",
      "type": "object",
      "additionalProperties": {
        "type": "any",
        "description": "Indicates the columns that are represented in this row. That is, each key corresponds to a column with a non-empty cell in this row."
      },
      "description": "A row in a DoubleClick Search report."
    },
    "ReportApiColumnSpec": {
      "id": "ReportApiColumnSpec",
      "type": "object",
      "description": "A request object used to create a DoubleClick Search report.",
      "properties": {
        "endDate": {
          "description": "Inclusive day in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `startDate`.",
          "type": "string"
        },
        "startDate": {
          "description": "Inclusive date in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `endDate`.",
          "type": "string"
        },
        "columnName": {
          "description": "Name of a DoubleClick Search column to include in the report.",
          "type": "string"
        },
        "customDimensionName": {
          "type": "string",
          "description": "Segments a report by a custom dimension. The report must be scoped to an advertiser or lower, and the custom dimension must already be set up in DoubleClick Search. The custom dimension name, which appears in DoubleClick Search, is case sensitive.\\ If used in a conversion report, returns the value of the specified custom dimension for the given conversion, if set. This column does not segment the conversion report."
        },
        "groupByColumn": {
          "type": "boolean",
          "description": "Synchronous report only. Set to `true` to group by this column. Defaults to `false`."
        },
        "customMetricName": {
          "description": "Name of a custom metric to include in the report. The report must be scoped to an advertiser or lower, and the custom metric must already be set up in DoubleClick Search. The custom metric name, which appears in DoubleClick Search, is case sensitive.",
          "type": "string"
        },
        "savedColumnName": {
          "description": "Name of a saved column to include in the report. The report must be scoped at advertiser or lower, and this saved column must already be created in the DoubleClick Search UI.",
          "type": "string"
        },
        "platformSource": {
          "description": "The platform that is used to provide data for the custom dimension. Acceptable values are \"floodlight\".",
          "type": "string"
        },
        "productReportPerspective": {
          "description": "Returns metrics only for a specific type of product activity. Accepted values are: - \"`sold`\": returns metrics only for products that were sold - \"`advertised`\": returns metrics only for products that were advertised in a Shopping campaign, and that might or might not have been sold ",
          "type": "string"
        },
        "headerText": {
          "description": "Text used to identify this column in the report output; defaults to `columnName` or `savedColumnName` when not specified. This can be used to prevent collisions between DoubleClick Search columns and saved columns with the same name.",
          "type": "string"
        }
      }
    },
    "UpdateAvailabilityResponse": {
      "type": "object",
      "properties": {
        "availabilities": {
          "items": {
            "$ref": "Availability"
          },
          "description": "The availabilities being returned.",
          "type": "array"
        }
      },
      "description": "The response to a update availability request.",
      "id": "UpdateAvailabilityResponse"
    }
  },
  "documentationLink": "https://developers.google.com/search-ads",
  "revision": "20260923",
  "resources": {
    "conversion": {
      "methods": {
        "get": {
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "httpMethod": "GET",
          "id": "doubleclicksearch.conversion.get",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameters": {
            "adId": {
              "type": "string",
              "description": "Numeric ID of the ad.",
              "format": "int64",
              "location": "query"
            },
            "adGroupId": {
              "type": "string",
              "description": "Numeric ID of the ad group.",
              "location": "query",
              "format": "int64"
            },
            "endDate": {
              "format": "int32",
              "maximum": "99991231",
              "required": true,
              "minimum": "20091101",
              "type": "integer",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "location": "query"
            },
            "criterionId": {
              "format": "int64",
              "type": "string",
              "description": "Numeric ID of the criterion.",
              "location": "query"
            },
            "agencyId": {
              "type": "string",
              "required": true,
              "location": "path",
              "format": "int64",
              "description": "Numeric ID of the agency."
            },
            "engineAccountId": {
              "location": "path",
              "type": "string",
              "description": "Numeric ID of the engine account.",
              "required": true,
              "format": "int64"
            },
            "startRow": {
              "description": "The 0-based starting index for retrieving conversions results.",
              "format": "uint32",
              "location": "query",
              "required": true,
              "type": "integer"
            },
            "campaignId": {
              "format": "int64",
              "location": "query",
              "description": "Numeric ID of the campaign.",
              "type": "string"
            },
            "startDate": {
              "type": "integer",
              "format": "int32",
              "minimum": "20091101",
              "required": true,
              "maximum": "99991231",
              "location": "query",
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd."
            },
            "advertiserId": {
              "location": "path",
              "description": "Numeric ID of the advertiser.",
              "required": true,
              "format": "int64",
              "type": "string"
            },
            "customerId": {
              "type": "string",
              "description": "Customer ID of a client account in the new Search Ads 360 experience.",
              "location": "query"
            },
            "rowCount": {
              "maximum": "1000",
              "format": "int32",
              "location": "query",
              "minimum": "1",
              "required": true,
              "type": "integer",
              "description": "The number of conversions to return per call."
            }
          },
          "parameterOrder": [
            "agencyId",
            "advertiserId",
            "engineAccountId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "response": {
            "$ref": "ConversionList"
          }
        },
        "update": {
          "path": "doubleclicksearch/v2/conversion",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "doubleclicksearch/v2/conversion",
          "request": {
            "$ref": "ConversionList"
          },
          "parameterOrder": [],
          "parameters": {},
          "httpMethod": "PUT",
          "response": {
            "$ref": "ConversionList"
          },
          "id": "doubleclicksearch.conversion.update",
          "description": "Updates a batch of conversions in DoubleClick Search."
        },
        "getByCustomerId": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "doubleclicksearch.conversion.getByCustomerId",
          "response": {
            "$ref": "ConversionList"
          },
          "httpMethod": "GET",
          "parameters": {
            "rowCount": {
              "required": true,
              "type": "integer",
              "maximum": "1000",
              "description": "The number of conversions to return per call.",
              "location": "query",
              "minimum": "1",
              "format": "int32"
            },
            "advertiserId": {
              "description": "Numeric ID of the advertiser.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "customerId": {
              "required": true,
              "description": "Customer ID of a client account in the new Search Ads 360 experience.",
              "type": "string",
              "location": "path"
            },
            "campaignId": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Numeric ID of the campaign."
            },
            "adGroupId": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "Numeric ID of the ad group."
            },
            "startRow": {
              "required": true,
              "type": "integer",
              "description": "The 0-based starting index for retrieving conversions results.",
              "format": "uint32",
              "location": "query"
            },
            "criterionId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Numeric ID of the criterion."
            },
            "agencyId": {
              "type": "string",
              "location": "query",
              "description": "Numeric ID of the agency.",
              "format": "int64"
            },
            "adId": {
              "format": "int64",
              "description": "Numeric ID of the ad.",
              "type": "string",
              "location": "query"
            },
            "engineAccountId": {
              "description": "Numeric ID of the engine account.",
              "format": "int64",
              "type": "string",
              "location": "query"
            },
            "endDate": {
              "format": "int32",
              "required": true,
              "maximum": "99991231",
              "location": "query",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "type": "integer",
              "minimum": "20091101"
            },
            "startDate": {
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "minimum": "20091101",
              "type": "integer",
              "format": "int32",
              "location": "query",
              "maximum": "99991231",
              "required": true
            }
          },
          "flatPath": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "path": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "parameterOrder": [
            "customerId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ]
        },
        "insert": {
          "request": {
            "$ref": "ConversionList"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "ConversionList"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Inserts a batch of new conversions into DoubleClick Search.",
          "flatPath": "doubleclicksearch/v2/conversion",
          "id": "doubleclicksearch.conversion.insert",
          "path": "doubleclicksearch/v2/conversion"
        },
        "updateAvailability": {
          "id": "doubleclicksearch.conversion.updateAvailability",
          "description": "Updates the availabilities of a batch of floodlight activities in DoubleClick Search.",
          "response": {
            "$ref": "UpdateAvailabilityResponse"
          },
          "request": {
            "$ref": "UpdateAvailabilityRequest"
          },
          "flatPath": "doubleclicksearch/v2/conversion/updateAvailability",
          "path": "doubleclicksearch/v2/conversion/updateAvailability",
          "parameters": {},
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        }
      }
    },
    "savedColumns": {
      "methods": {
        "list": {
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "response": {
            "$ref": "SavedColumnList"
          },
          "parameters": {
            "agencyId": {
              "location": "path",
              "format": "int64",
              "description": "DS ID of the agency.",
              "type": "string",
              "required": true
            },
            "advertiserId": {
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "DS ID of the advertiser."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "doubleclicksearch.savedColumns.list",
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "description": "Retrieve the list of saved columns for a specified advertiser.",
          "httpMethod": "GET",
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns"
        }
      }
    },
    "reports": {
      "methods": {
        "getFile": {
          "path": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "parameters": {
            "reportId": {
              "description": "ID of the report.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "reportFragment": {
              "description": "The index of the report fragment to download.",
              "minimum": "0",
              "type": "integer",
              "location": "path",
              "format": "int32",
              "required": true
            }
          },
          "useMediaDownloadService": true,
          "supportsMediaDownload": true,
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "description": "Downloads a report file encoded in UTF-8.",
          "parameterOrder": [
            "reportId",
            "reportFragment"
          ],
          "id": "doubleclicksearch.reports.getFile"
        },
        "generate": {
          "description": "Generates and returns a report immediately.",
          "id": "doubleclicksearch.reports.generate",
          "parameterOrder": [],
          "parameters": {},
          "httpMethod": "POST",
          "flatPath": "doubleclicksearch/v2/reports/generate",
          "response": {
            "$ref": "Report"
          },
          "request": {
            "$ref": "ReportRequest"
          },
          "path": "doubleclicksearch/v2/reports/generate",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "getIdMappingFile": {
          "id": "doubleclicksearch.reports.getIdMappingFile",
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "IdMappingFile"
          },
          "httpMethod": "GET",
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "parameters": {
            "advertiserId": {
              "required": true,
              "type": "string",
              "description": "Legacy SA360 advertiser ID.",
              "format": "int64",
              "location": "path"
            },
            "agencyId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "Legacy SA360 agency ID."
            }
          },
          "description": "Downloads a csv file(encoded in UTF-8) that contains ID mappings between legacy SA360 and new SA360. The file includes all children entities of the given advertiser(e.g. engine accounts, campaigns, ad groups, etc.) that exist in both legacy SA360 and new SA360.",
          "useMediaDownloadService": true,
          "supportsMediaDownload": true,
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping"
        },
        "request": {
          "flatPath": "doubleclicksearch/v2/reports",
          "path": "doubleclicksearch/v2/reports",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [],
          "httpMethod": "POST",
          "request": {
            "$ref": "ReportRequest"
          },
          "parameters": {},
          "response": {
            "$ref": "Report"
          },
          "id": "doubleclicksearch.reports.request",
          "description": "Inserts a report request into the reporting system."
        },
        "get": {
          "response": {
            "$ref": "Report"
          },
          "id": "doubleclicksearch.reports.get",
          "parameters": {
            "reportId": {
              "location": "path",
              "description": "ID of the report request being polled.",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "reportId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "doubleclicksearch/v2/reports/{reportId}",
          "description": "Polls for the status of a report request.",
          "flatPath": "doubleclicksearch/v2/reports/{reportId}"
        }
      }
    }
  },
  "name": "doubleclicksearch",
  "ownerDomain": "google.com",
  "description": "The Search Ads 360 API allows developers to automate uploading conversions and downloading reports from Search Ads 360.",
  "parameters": {
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    }
  }
}