{
  "documentationLink": "https://developers.google.com/search-ads",
  "canonicalName": "Doubleclicksearch",
  "title": "Search Ads 360 API",
  "id": "doubleclicksearch:v2",
  "kind": "discovery#restDescription",
  "basePath": "",
  "protocol": "rest",
  "ownerName": "Google",
  "rootUrl": "https://doubleclicksearch.googleapis.com/",
  "discoveryVersion": "v1",
  "version": "v2",
  "revision": "20260825",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclicksearch": {
          "description": "View and manage your advertising data in DoubleClick Search"
        }
      }
    }
  },
  "description": "The Search Ads 360 API allows developers to automate uploading conversions and downloading reports from Search Ads 360.",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "mtlsRootUrl": "https://doubleclicksearch.mtls.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "schemas": {
    "UpdateAvailabilityResponse": {
      "properties": {
        "availabilities": {
          "type": "array",
          "description": "The availabilities being returned.",
          "items": {
            "$ref": "Availability"
          }
        }
      },
      "description": "The response to a update availability request.",
      "id": "UpdateAvailabilityResponse",
      "type": "object"
    },
    "Report": {
      "description": "A DoubleClick Search report. This object contains the report request, some report metadata such as currency code, and the generated report rows or report files.",
      "id": "Report",
      "type": "object",
      "properties": {
        "request": {
          "description": "The request that created the report. Optional fields not specified in the original request are filled with default values.",
          "$ref": "ReportRequest"
        },
        "statisticsTimeZone": {
          "type": "string",
          "description": "If all statistics of the report are sourced from the same time zone, this would be it. Otherwise the field is unset."
        },
        "statisticsCurrencyCode": {
          "type": "string",
          "description": "The currency code of all monetary values produced in the report, including values that are set by users (e.g., keyword bid settings) and metrics (e.g., cost and revenue). The currency code of a report is determined by the `statisticsCurrency` field of the report request."
        },
        "kind": {
          "description": "Identifies this as a Report resource. Value: the fixed string `doubleclicksearch#report`.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Asynchronous report only. Id of the report."
        },
        "files": {
          "description": "Asynchronous report only. Contains a list of generated report files once the report has successfully completed.",
          "items": {
            "properties": {
              "url": {
                "type": "string",
                "description": "Use this url to download the report file."
              },
              "byteCount": {
                "type": "string",
                "format": "int64",
                "description": "The size of this report file in bytes."
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "rows": {
          "description": "Synchronous report only. Generated report rows.",
          "items": {
            "$ref": "ReportRow"
          },
          "type": "array"
        },
        "isReportReady": {
          "description": "Asynchronous report only. True if and only if the report has completed successfully and the report files are ready to be downloaded.",
          "type": "boolean"
        },
        "rowCount": {
          "description": "The number of report rows generated by the report, not including headers.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "SavedColumn": {
      "id": "SavedColumn",
      "properties": {
        "type": {
          "description": "The type of data this saved column will produce.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies this as a SavedColumn resource. Value: the fixed string doubleclicksearch#savedColumn.",
          "type": "string"
        },
        "savedColumnName": {
          "description": "The name of the saved column.",
          "type": "string"
        }
      },
      "description": "A saved column",
      "type": "object"
    },
    "UpdateAvailabilityRequest": {
      "id": "UpdateAvailabilityRequest",
      "properties": {
        "availabilities": {
          "items": {
            "$ref": "Availability"
          },
          "description": "The availabilities being requested.",
          "type": "array"
        }
      },
      "description": "The request to update availability.",
      "type": "object"
    },
    "CustomDimension": {
      "type": "object",
      "properties": {
        "value": {
          "description": "Custom dimension value.",
          "type": "string"
        },
        "name": {
          "description": "Custom dimension name.",
          "type": "string"
        }
      },
      "description": "A message containing the custom dimension.",
      "id": "CustomDimension"
    },
    "ReportRow": {
      "id": "ReportRow",
      "type": "object",
      "additionalProperties": {
        "type": "any",
        "description": "Indicates the columns that are represented in this row. That is, each key corresponds to a column with a non-empty cell in this row."
      },
      "description": "A row in a DoubleClick Search report."
    },
    "ConversionList": {
      "properties": {
        "conversion": {
          "type": "array",
          "description": "The conversions being requested.",
          "items": {
            "$ref": "Conversion"
          }
        },
        "kind": {
          "description": "Identifies this as a ConversionList resource. Value: the fixed string doubleclicksearch#conversionList.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A list of conversions.",
      "id": "ConversionList"
    },
    "CustomMetric": {
      "description": "A message containing the custom metric.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Custom metric name.",
          "type": "string"
        },
        "value": {
          "type": "number",
          "description": "Custom metric numeric value.",
          "format": "double"
        }
      },
      "id": "CustomMetric"
    },
    "Availability": {
      "description": "A message containing availability data relevant to DoubleClick Search.",
      "type": "object",
      "properties": {
        "advertiserId": {
          "description": "DS advertiser ID.",
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "format": "int64"
        },
        "segmentationId": {
          "format": "int64",
          "type": "string",
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID)."
        },
        "agencyId": {
          "type": "string",
          "description": "DS agency ID.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "format": "int64"
        },
        "segmentationType": {
          "description": "The segmentation type that this availability is for (its default value is `FLOODLIGHT`).",
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        },
        "availabilityTimestamp": {
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "format": "int64",
          "type": "string",
          "description": "The time by which all conversions have been uploaded, in epoch millis UTC."
        },
        "segmentationName": {
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name).",
          "type": "string"
        },
        "customerId": {
          "type": "string",
          "description": "Customer ID of a client account in the new Search Ads 360 experience."
        }
      },
      "id": "Availability"
    },
    "IdMappingFile": {
      "description": "File returned to https://developers.google.com/search-ads/v2/reference/reports/getIdMappingFile.",
      "id": "IdMappingFile",
      "type": "object",
      "properties": {}
    },
    "ReportRequest": {
      "properties": {
        "orderBy": {
          "type": "array",
          "description": "Synchronous report only. A list of columns and directions defining sorting to be performed on the report rows.\\ The maximum number of orderings per request is 300.",
          "items": {
            "properties": {
              "sortOrder": {
                "description": "The sort direction, which is either `ascending` or `descending`.",
                "type": "string"
              },
              "column": {
                "$ref": "ReportApiColumnSpec",
                "description": "Column to perform the sort on. This can be a DoubleClick Search-defined column or a saved column."
              }
            },
            "type": "object"
          }
        },
        "statisticsCurrency": {
          "description": "Specifies the currency in which monetary will be returned. Possible values are: `usd`, `agency` (valid if the report is scoped to agency or lower), `advertiser` (valid if the report is scoped to * advertiser or lower), or `account` (valid if the report is scoped to engine account or lower).",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "string"
        },
        "maxRowsPerFile": {
          "description": "Asynchronous report only. The maximum number of rows per report file. A large report is split into many files based on this field. Acceptable values are `1000000` to `100000000`, inclusive.",
          "format": "int32",
          "type": "integer",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          }
        },
        "filters": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "operator": {
                "type": "string",
                "description": "Operator to use in the filter. See the filter reference for a list of available operators."
              },
              "column": {
                "$ref": "ReportApiColumnSpec",
                "description": "Column to perform the filter on. This can be a DoubleClick Search column or a saved column."
              },
              "values": {
                "description": "A list of values to filter the column value against.\\ The maximum number of filter values per request is 300.",
                "type": "array",
                "items": {
                  "type": "any"
                }
              }
            }
          },
          "description": "A list of filters to be applied to the report.\\ The maximum number of filters per request is 300."
        },
        "reportScope": {
          "type": "object",
          "description": "The reportScope is a set of IDs that are used to determine which subset of entities will be returned in the report. The full lineage of IDs from the lowest scoped level desired up through agency is required.",
          "properties": {
            "adGroupId": {
              "description": "DS ad group ID.",
              "type": "string",
              "format": "int64"
            },
            "campaignId": {
              "description": "DS campaign ID.",
              "type": "string",
              "format": "int64"
            },
            "engineAccountId": {
              "type": "string",
              "format": "int64",
              "description": "DS engine account ID."
            },
            "adId": {
              "format": "int64",
              "description": "DS ad ID.",
              "type": "string"
            },
            "keywordId": {
              "type": "string",
              "format": "int64",
              "description": "DS keyword ID."
            },
            "agencyId": {
              "type": "string",
              "format": "int64",
              "description": "DS agency ID."
            },
            "advertiserId": {
              "description": "DS advertiser ID.",
              "type": "string",
              "format": "int64"
            }
          }
        },
        "startRow": {
          "description": "Synchronous report only. Zero-based index of the first row to return. Acceptable values are `0` to `50000`, inclusive. Defaults to `0`.",
          "type": "integer",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "format": "int32"
        },
        "downloadFormat": {
          "type": "string",
          "description": "Format that the report should be returned in. Currently `csv` or `tsv` is supported.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          }
        },
        "rowCount": {
          "format": "int32",
          "description": "Synchronous report only. The maximum number of rows to return; additional rows are dropped. Acceptable values are `0` to `10000`, inclusive. Defaults to `10000`.",
          "type": "integer",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          }
        },
        "includeDeletedEntities": {
          "type": "boolean",
          "description": "Determines if removed entities should be included in the report. Defaults to `false`. Deprecated, please use `includeRemovedEntities` instead."
        },
        "verifySingleTimeZone": {
          "description": "If `true`, the report would only be created if all the requested stat data are sourced from a single timezone. Defaults to `false`.",
          "type": "boolean"
        },
        "includeRemovedEntities": {
          "description": "Determines if removed entities should be included in the report. Defaults to `false`.",
          "type": "boolean"
        },
        "columns": {
          "items": {
            "$ref": "ReportApiColumnSpec"
          },
          "type": "array",
          "description": "The columns to include in the report. This includes both DoubleClick Search columns and saved columns. For DoubleClick Search columns, only the `columnName` parameter is required. For saved columns only the `savedColumnName` parameter is required. Both `columnName` and `savedColumnName` cannot be set in the same stanza.\\ The maximum number of columns per request is 300."
        },
        "timeRange": {
          "properties": {
            "startDate": {
              "type": "string",
              "description": "Inclusive date in YYYY-MM-DD format."
            },
            "endDate": {
              "description": "Inclusive date in YYYY-MM-DD format.",
              "type": "string"
            },
            "changedMetricsSinceTimestamp": {
              "type": "string",
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed metrics reports work."
            },
            "changedAttributesSinceTimestamp": {
              "type": "string",
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed attribute reports work."
            }
          },
          "description": "If metrics are requested in a report, this argument will be used to restrict the metrics to a specific time range.",
          "type": "object"
        },
        "reportType": {
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "string",
          "description": "Determines the type of rows that are returned in the report. For example, if you specify `reportType: keyword`, each row in the report will contain data about a keyword. See the [Types of Reports](/search-ads/v2/report-types/) reference for the columns that are available for each type."
        }
      },
      "description": "A request object used to create a DoubleClick Search report.",
      "id": "ReportRequest",
      "type": "object"
    },
    "SavedColumnList": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies this as a SavedColumnList resource. Value: the fixed string doubleclicksearch#savedColumnList."
        },
        "items": {
          "items": {
            "$ref": "SavedColumn"
          },
          "description": "The saved columns being requested.",
          "type": "array"
        }
      },
      "description": "A list of saved columns. Advertisers create saved columns to report on Floodlight activities, Google Analytics goals, or custom KPIs. To request reports with saved columns, you'll need the saved column names that are available from this list.",
      "type": "object",
      "id": "SavedColumnList"
    },
    "Conversion": {
      "type": "object",
      "properties": {
        "customMetric": {
          "items": {
            "$ref": "CustomMetric"
          },
          "type": "array",
          "description": "Custom metrics for the conversion."
        },
        "floodlightOrderId": {
          "description": "The Floodlight order ID provided by the advertiser for the conversion.",
          "type": "string"
        },
        "quantityMillis": {
          "type": "string",
          "format": "int64",
          "description": "The quantity of this conversion, in millis."
        },
        "state": {
          "description": "The state of the conversion, that is, either `ACTIVE` or `REMOVED`. Note: state DELETED is deprecated.",
          "type": "string"
        },
        "adGroupId": {
          "type": "string",
          "description": "DS ad group ID.",
          "format": "int64"
        },
        "attributionModel": {
          "type": "string",
          "description": "Available to advertisers only after contacting DoubleClick Search customer support."
        },
        "currencyCode": {
          "description": "The currency code for the conversion's revenue. Should be in ISO 4217 alphabetic (3-char) format.",
          "type": "string"
        },
        "segmentationType": {
          "description": "The segmentation type of this conversion (for example, `FLOODLIGHT`).",
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          }
        },
        "inventoryAccountId": {
          "format": "int64",
          "description": "ID that DS generates and uses to uniquely identify the inventory account that contains the product.",
          "type": "string"
        },
        "agencyId": {
          "description": "DS agency ID.",
          "type": "string",
          "format": "int64"
        },
        "productLanguage": {
          "description": "The language registered for the Merchant Center feed that contains the product. Use an ISO 639 code to specify a language.",
          "type": "string"
        },
        "productGroupId": {
          "description": "DS product group ID.",
          "type": "string",
          "format": "int64"
        },
        "conversionTimestamp": {
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "type": "string",
          "description": "The time at which the conversion took place, in epoch millis UTC."
        },
        "customerId": {
          "description": "Customer ID of a client account in the new Search Ads 360 experience.",
          "type": "string"
        },
        "productId": {
          "type": "string",
          "description": "The product ID (SKU)."
        },
        "adUserDataConsent": {
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ],
          "enum": [
            "UNKNOWN",
            "GRANTED",
            "DENIED"
          ],
          "type": "string",
          "description": "Represents consent for core platform services (CPS) preferences in settings. No default value. Acceptable values are: GRANTED: The desired consent status is to grant. Read the CPS preferences from GTE settings. DENIED: The desired consent status is to deny; CPS list is empty."
        },
        "advertiserId": {
          "type": "string",
          "format": "int64",
          "description": "DS advertiser ID."
        },
        "channel": {
          "type": "string",
          "description": "Sales channel for the product. Acceptable values are: - \"`local`\": a physical store - \"`online`\": an online store "
        },
        "campaignId": {
          "format": "int64",
          "description": "DS campaign ID.",
          "type": "string"
        },
        "clickId": {
          "description": "DS click ID for the conversion.",
          "type": "string"
        },
        "storeId": {
          "description": "The ID of the local store for which the product was advertised. Applicable only when the channel is \"`local`\".",
          "type": "string"
        },
        "engineAccountId": {
          "type": "string",
          "format": "int64",
          "description": "DS engine account ID."
        },
        "revenueMicros": {
          "description": "The revenue amount of this `TRANSACTION` conversion, in micros (value multiplied by 1000000, no decimal). For example, to specify a revenue value of \"10\" enter \"10000000\" (10 million) in your request.",
          "type": "string"
        },
        "adId": {
          "description": "DS ad ID.",
          "format": "int64",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of the conversion, that is, either `ACTION` or `TRANSACTION`. An `ACTION` conversion is an action by the user that has no monetarily quantifiable value, while a `TRANSACTION` conversion is an action that does have a monetarily quantifiable value. Examples are email list signups (`ACTION`) versus ecommerce purchases (`TRANSACTION`)."
        },
        "criterionId": {
          "type": "string",
          "description": "DS criterion (keyword) ID.",
          "format": "int64"
        },
        "deviceType": {
          "type": "string",
          "description": "The type of device on which the conversion occurred."
        },
        "dsConversionId": {
          "format": "int64",
          "type": "string",
          "description": "ID that DoubleClick Search generates for each conversion."
        },
        "countMillis": {
          "description": "Available to advertisers only after contacting DoubleClick Search customer support.",
          "type": "string",
          "format": "int64"
        },
        "customDimension": {
          "items": {
            "$ref": "CustomDimension"
          },
          "type": "array",
          "description": "Custom dimensions for the conversion, which can be used to filter data in a report."
        },
        "segmentationId": {
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).",
          "type": "string",
          "format": "int64"
        },
        "segmentationName": {
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name).",
          "type": "string"
        },
        "conversionModifiedTimestamp": {
          "description": "The time at which the conversion was last modified, in epoch millis UTC.",
          "format": "int64",
          "type": "string"
        },
        "conversionId": {
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "description": "For offline conversions, advertisers provide this ID. Advertisers can specify any ID that is meaningful to them. Each conversion in a request must specify a unique ID, and the combination of ID and timestamp must be unique amongst all conversions within the advertiser. For online conversions, DS copies the `dsConversionId` or `floodlightOrderId` into this property depending on the advertiser's Floodlight instructions."
        },
        "productCountry": {
          "type": "string",
          "description": "The country registered for the Merchant Center feed that contains the product. Use an ISO 3166 code to specify a country."
        }
      },
      "description": "A conversion containing data relevant to DoubleClick Search. Common DS3 API conversion fields: Id Range [1 - 2800]. Next Id to use: 33",
      "id": "Conversion"
    },
    "ReportApiColumnSpec": {
      "type": "object",
      "properties": {
        "headerText": {
          "description": "Text used to identify this column in the report output; defaults to `columnName` or `savedColumnName` when not specified. This can be used to prevent collisions between DoubleClick Search columns and saved columns with the same name.",
          "type": "string"
        },
        "savedColumnName": {
          "type": "string",
          "description": "Name of a saved column to include in the report. The report must be scoped at advertiser or lower, and this saved column must already be created in the DoubleClick Search UI."
        },
        "endDate": {
          "type": "string",
          "description": "Inclusive day in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `startDate`."
        },
        "productReportPerspective": {
          "description": "Returns metrics only for a specific type of product activity. Accepted values are: - \"`sold`\": returns metrics only for products that were sold - \"`advertised`\": returns metrics only for products that were advertised in a Shopping campaign, and that might or might not have been sold ",
          "type": "string"
        },
        "startDate": {
          "type": "string",
          "description": "Inclusive date in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `endDate`."
        },
        "columnName": {
          "description": "Name of a DoubleClick Search column to include in the report.",
          "type": "string"
        },
        "customMetricName": {
          "type": "string",
          "description": "Name of a custom metric to include in the report. The report must be scoped to an advertiser or lower, and the custom metric must already be set up in DoubleClick Search. The custom metric name, which appears in DoubleClick Search, is case sensitive."
        },
        "platformSource": {
          "type": "string",
          "description": "The platform that is used to provide data for the custom dimension. Acceptable values are \"floodlight\"."
        },
        "customDimensionName": {
          "type": "string",
          "description": "Segments a report by a custom dimension. The report must be scoped to an advertiser or lower, and the custom dimension must already be set up in DoubleClick Search. The custom dimension name, which appears in DoubleClick Search, is case sensitive.\\ If used in a conversion report, returns the value of the specified custom dimension for the given conversion, if set. This column does not segment the conversion report."
        },
        "groupByColumn": {
          "description": "Synchronous report only. Set to `true` to group by this column. Defaults to `false`.",
          "type": "boolean"
        }
      },
      "id": "ReportApiColumnSpec",
      "description": "A request object used to create a DoubleClick Search report."
    }
  },
  "resources": {
    "reports": {
      "methods": {
        "getIdMappingFile": {
          "httpMethod": "GET",
          "supportsMediaDownload": true,
          "parameters": {
            "agencyId": {
              "type": "string",
              "description": "Legacy SA360 agency ID.",
              "required": true,
              "location": "path",
              "format": "int64"
            },
            "advertiserId": {
              "required": true,
              "format": "int64",
              "type": "string",
              "location": "path",
              "description": "Legacy SA360 advertiser ID."
            }
          },
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "response": {
            "$ref": "IdMappingFile"
          },
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Downloads a csv file(encoded in UTF-8) that contains ID mappings between legacy SA360 and new SA360. The file includes all children entities of the given advertiser(e.g. engine accounts, campaigns, ad groups, etc.) that exist in both legacy SA360 and new SA360.",
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "id": "doubleclicksearch.reports.getIdMappingFile",
          "useMediaDownloadService": true
        },
        "getFile": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "description": "Downloads a report file encoded in UTF-8.",
          "flatPath": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "useMediaDownloadService": true,
          "supportsMediaDownload": true,
          "httpMethod": "GET",
          "parameterOrder": [
            "reportId",
            "reportFragment"
          ],
          "parameters": {
            "reportId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "ID of the report."
            },
            "reportFragment": {
              "format": "int32",
              "location": "path",
              "description": "The index of the report fragment to download.",
              "required": true,
              "minimum": "0",
              "type": "integer"
            }
          },
          "id": "doubleclicksearch.reports.getFile"
        },
        "request": {
          "request": {
            "$ref": "ReportRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "doubleclicksearch.reports.request",
          "parameters": {},
          "description": "Inserts a report request into the reporting system.",
          "httpMethod": "POST",
          "parameterOrder": [],
          "flatPath": "doubleclicksearch/v2/reports",
          "path": "doubleclicksearch/v2/reports",
          "response": {
            "$ref": "Report"
          }
        },
        "generate": {
          "request": {
            "$ref": "ReportRequest"
          },
          "flatPath": "doubleclicksearch/v2/reports/generate",
          "id": "doubleclicksearch.reports.generate",
          "description": "Generates and returns a report immediately.",
          "response": {
            "$ref": "Report"
          },
          "parameters": {},
          "parameterOrder": [],
          "httpMethod": "POST",
          "path": "doubleclicksearch/v2/reports/generate",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "get": {
          "path": "doubleclicksearch/v2/reports/{reportId}",
          "flatPath": "doubleclicksearch/v2/reports/{reportId}",
          "id": "doubleclicksearch.reports.get",
          "parameterOrder": [
            "reportId"
          ],
          "parameters": {
            "reportId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "ID of the report request being polled."
            }
          },
          "response": {
            "$ref": "Report"
          },
          "httpMethod": "GET",
          "description": "Polls for the status of a report request.",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        }
      }
    },
    "conversion": {
      "methods": {
        "get": {
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "id": "doubleclicksearch.conversion.get",
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "response": {
            "$ref": "ConversionList"
          },
          "parameterOrder": [
            "agencyId",
            "advertiserId",
            "engineAccountId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameters": {
            "campaignId": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "Numeric ID of the campaign."
            },
            "agencyId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Numeric ID of the agency.",
              "format": "int64"
            },
            "endDate": {
              "required": true,
              "location": "query",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "minimum": "20091101",
              "maximum": "99991231",
              "format": "int32",
              "type": "integer"
            },
            "customerId": {
              "location": "query",
              "type": "string",
              "description": "Customer ID of a client account in the new Search Ads 360 experience."
            },
            "rowCount": {
              "required": true,
              "type": "integer",
              "format": "int32",
              "location": "query",
              "maximum": "1000",
              "minimum": "1",
              "description": "The number of conversions to return per call."
            },
            "advertiserId": {
              "description": "Numeric ID of the advertiser.",
              "type": "string",
              "required": true,
              "location": "path",
              "format": "int64"
            },
            "adGroupId": {
              "description": "Numeric ID of the ad group.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "criterionId": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Numeric ID of the criterion."
            },
            "startDate": {
              "maximum": "99991231",
              "format": "int32",
              "minimum": "20091101",
              "required": true,
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "location": "query",
              "type": "integer"
            },
            "adId": {
              "description": "Numeric ID of the ad.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "startRow": {
              "location": "query",
              "format": "uint32",
              "description": "The 0-based starting index for retrieving conversions results.",
              "type": "integer",
              "required": true
            },
            "engineAccountId": {
              "type": "string",
              "format": "int64",
              "description": "Numeric ID of the engine account.",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion"
        },
        "insert": {
          "httpMethod": "POST",
          "parameters": {},
          "flatPath": "doubleclicksearch/v2/conversion",
          "path": "doubleclicksearch/v2/conversion",
          "id": "doubleclicksearch.conversion.insert",
          "description": "Inserts a batch of new conversions into DoubleClick Search.",
          "response": {
            "$ref": "ConversionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [],
          "request": {
            "$ref": "ConversionList"
          }
        },
        "update": {
          "description": "Updates a batch of conversions in DoubleClick Search.",
          "httpMethod": "PUT",
          "request": {
            "$ref": "ConversionList"
          },
          "response": {
            "$ref": "ConversionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameters": {},
          "parameterOrder": [],
          "path": "doubleclicksearch/v2/conversion",
          "flatPath": "doubleclicksearch/v2/conversion",
          "id": "doubleclicksearch.conversion.update"
        },
        "getByCustomerId": {
          "flatPath": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "httpMethod": "GET",
          "path": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "response": {
            "$ref": "ConversionList"
          },
          "parameters": {
            "agencyId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Numeric ID of the agency."
            },
            "campaignId": {
              "description": "Numeric ID of the campaign.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "advertiserId": {
              "location": "query",
              "type": "string",
              "description": "Numeric ID of the advertiser.",
              "format": "int64"
            },
            "criterionId": {
              "format": "int64",
              "location": "query",
              "type": "string",
              "description": "Numeric ID of the criterion."
            },
            "customerId": {
              "required": true,
              "description": "Customer ID of a client account in the new Search Ads 360 experience.",
              "type": "string",
              "location": "path"
            },
            "endDate": {
              "type": "integer",
              "minimum": "20091101",
              "location": "query",
              "maximum": "99991231",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "required": true,
              "format": "int32"
            },
            "rowCount": {
              "format": "int32",
              "required": true,
              "maximum": "1000",
              "type": "integer",
              "minimum": "1",
              "location": "query",
              "description": "The number of conversions to return per call."
            },
            "startDate": {
              "required": true,
              "type": "integer",
              "location": "query",
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "format": "int32",
              "minimum": "20091101",
              "maximum": "99991231"
            },
            "startRow": {
              "description": "The 0-based starting index for retrieving conversions results.",
              "type": "integer",
              "location": "query",
              "required": true,
              "format": "uint32"
            },
            "adGroupId": {
              "description": "Numeric ID of the ad group.",
              "format": "int64",
              "type": "string",
              "location": "query"
            },
            "adId": {
              "description": "Numeric ID of the ad.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "engineAccountId": {
              "description": "Numeric ID of the engine account.",
              "format": "int64",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "id": "doubleclicksearch.conversion.getByCustomerId",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [
            "customerId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ]
        },
        "updateAvailability": {
          "flatPath": "doubleclicksearch/v2/conversion/updateAvailability",
          "parameterOrder": [],
          "response": {
            "$ref": "UpdateAvailabilityResponse"
          },
          "description": "Updates the availabilities of a batch of floodlight activities in DoubleClick Search.",
          "id": "doubleclicksearch.conversion.updateAvailability",
          "httpMethod": "POST",
          "path": "doubleclicksearch/v2/conversion/updateAvailability",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameters": {},
          "request": {
            "$ref": "UpdateAvailabilityRequest"
          }
        }
      }
    },
    "savedColumns": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "doubleclicksearch.savedColumns.list",
          "description": "Retrieve the list of saved columns for a specified advertiser.",
          "response": {
            "$ref": "SavedColumnList"
          },
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "parameters": {
            "agencyId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "DS ID of the agency.",
              "required": true
            },
            "advertiserId": {
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "DS ID of the advertiser.",
              "location": "path"
            }
          },
          "httpMethod": "GET"
        }
      }
    }
  },
  "servicePath": "",
  "baseUrl": "https://doubleclicksearch.googleapis.com/",
  "name": "doubleclicksearch",
  "batchPath": "batch",
  "ownerDomain": "google.com"
}