{
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "basePath": "",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://doubleclicksearch.mtls.googleapis.com/",
  "id": "doubleclicksearch:v2",
  "rootUrl": "https://doubleclicksearch.googleapis.com/",
  "discoveryVersion": "v1",
  "canonicalName": "Doubleclicksearch",
  "description": "The Search Ads 360 API allows developers to automate uploading conversions and downloading reports from Search Ads 360.",
  "ownerDomain": "google.com",
  "servicePath": "",
  "documentationLink": "https://developers.google.com/search-ads",
  "name": "doubleclicksearch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclicksearch": {
          "description": "View and manage your advertising data in DoubleClick Search"
        }
      }
    }
  },
  "schemas": {
    "CustomMetric": {
      "id": "CustomMetric",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Custom metric name."
        },
        "value": {
          "description": "Custom metric numeric value.",
          "format": "double",
          "type": "number"
        }
      },
      "description": "A message containing the custom metric."
    },
    "SavedColumn": {
      "id": "SavedColumn",
      "type": "object",
      "properties": {
        "savedColumnName": {
          "type": "string",
          "description": "The name of the saved column."
        },
        "kind": {
          "type": "string",
          "description": "Identifies this as a SavedColumn resource. Value: the fixed string doubleclicksearch#savedColumn."
        },
        "type": {
          "type": "string",
          "description": "The type of data this saved column will produce."
        }
      },
      "description": "A saved column"
    },
    "ReportRequest": {
      "id": "ReportRequest",
      "description": "A request object used to create a DoubleClick Search report.",
      "type": "object",
      "properties": {
        "orderBy": {
          "items": {
            "type": "object",
            "properties": {
              "sortOrder": {
                "description": "The sort direction, which is either `ascending` or `descending`.",
                "type": "string"
              },
              "column": {
                "description": "Column to perform the sort on. This can be a DoubleClick Search-defined column or a saved column.",
                "$ref": "ReportApiColumnSpec"
              }
            }
          },
          "description": "Synchronous report only. A list of columns and directions defining sorting to be performed on the report rows.\\ The maximum number of orderings per request is 300.",
          "type": "array"
        },
        "statisticsCurrency": {
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "string",
          "description": "Specifies the currency in which monetary will be returned. Possible values are: `usd`, `agency` (valid if the report is scoped to agency or lower), `advertiser` (valid if the report is scoped to * advertiser or lower), or `account` (valid if the report is scoped to engine account or lower)."
        },
        "downloadFormat": {
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "description": "Format that the report should be returned in. Currently `csv` or `tsv` is supported.",
          "type": "string"
        },
        "reportScope": {
          "type": "object",
          "properties": {
            "advertiserId": {
              "description": "DS advertiser ID.",
              "format": "int64",
              "type": "string"
            },
            "agencyId": {
              "type": "string",
              "description": "DS agency ID.",
              "format": "int64"
            },
            "engineAccountId": {
              "type": "string",
              "description": "DS engine account ID.",
              "format": "int64"
            },
            "keywordId": {
              "description": "DS keyword ID.",
              "format": "int64",
              "type": "string"
            },
            "adId": {
              "type": "string",
              "description": "DS ad ID.",
              "format": "int64"
            },
            "adGroupId": {
              "description": "DS ad group ID.",
              "format": "int64",
              "type": "string"
            },
            "campaignId": {
              "type": "string",
              "description": "DS campaign ID.",
              "format": "int64"
            }
          },
          "description": "The reportScope is a set of IDs that are used to determine which subset of entities will be returned in the report. The full lineage of IDs from the lowest scoped level desired up through agency is required."
        },
        "startRow": {
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "description": "Synchronous report only. Zero-based index of the first row to return. Acceptable values are `0` to `50000`, inclusive. Defaults to `0`.",
          "format": "int32",
          "type": "integer"
        },
        "rowCount": {
          "type": "integer",
          "description": "Synchronous report only. The maximum number of rows to return; additional rows are dropped. Acceptable values are `0` to `10000`, inclusive. Defaults to `10000`.",
          "format": "int32",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          }
        },
        "filters": {
          "items": {
            "type": "object",
            "properties": {
              "column": {
                "description": "Column to perform the filter on. This can be a DoubleClick Search column or a saved column.",
                "$ref": "ReportApiColumnSpec"
              },
              "operator": {
                "description": "Operator to use in the filter. See the filter reference for a list of available operators.",
                "type": "string"
              },
              "values": {
                "items": {
                  "type": "any"
                },
                "description": "A list of values to filter the column value against.\\ The maximum number of filter values per request is 300.",
                "type": "array"
              }
            }
          },
          "type": "array",
          "description": "A list of filters to be applied to the report.\\ The maximum number of filters per request is 300."
        },
        "includeRemovedEntities": {
          "description": "Determines if removed entities should be included in the report. Defaults to `false`.",
          "type": "boolean"
        },
        "verifySingleTimeZone": {
          "description": "If `true`, the report would only be created if all the requested stat data are sourced from a single timezone. Defaults to `false`.",
          "type": "boolean"
        },
        "columns": {
          "description": "The columns to include in the report. This includes both DoubleClick Search columns and saved columns. For DoubleClick Search columns, only the `columnName` parameter is required. For saved columns only the `savedColumnName` parameter is required. Both `columnName` and `savedColumnName` cannot be set in the same stanza.\\ The maximum number of columns per request is 300.",
          "type": "array",
          "items": {
            "$ref": "ReportApiColumnSpec"
          }
        },
        "includeDeletedEntities": {
          "type": "boolean",
          "description": "Determines if removed entities should be included in the report. Defaults to `false`. Deprecated, please use `includeRemovedEntities` instead."
        },
        "timeRange": {
          "type": "object",
          "properties": {
            "changedAttributesSinceTimestamp": {
              "type": "string",
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed attribute reports work."
            },
            "endDate": {
              "description": "Inclusive date in YYYY-MM-DD format.",
              "type": "string"
            },
            "startDate": {
              "type": "string",
              "description": "Inclusive date in YYYY-MM-DD format."
            },
            "changedMetricsSinceTimestamp": {
              "type": "string",
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed metrics reports work."
            }
          },
          "description": "If metrics are requested in a report, this argument will be used to restrict the metrics to a specific time range."
        },
        "maxRowsPerFile": {
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "description": "Asynchronous report only. The maximum number of rows per report file. A large report is split into many files based on this field. Acceptable values are `1000000` to `100000000`, inclusive.",
          "format": "int32",
          "type": "integer"
        },
        "reportType": {
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          },
          "description": "Determines the type of rows that are returned in the report. For example, if you specify `reportType: keyword`, each row in the report will contain data about a keyword. See the [Types of Reports](/search-ads/v2/report-types/) reference for the columns that are available for each type.",
          "type": "string"
        }
      }
    },
    "IdMappingFile": {
      "id": "IdMappingFile",
      "description": "File returned to https://developers.google.com/search-ads/v2/reference/reports/getIdMappingFile.",
      "type": "object",
      "properties": {}
    },
    "ConversionList": {
      "type": "object",
      "properties": {
        "conversion": {
          "description": "The conversions being requested.",
          "type": "array",
          "items": {
            "$ref": "Conversion"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies this as a ConversionList resource. Value: the fixed string doubleclicksearch#conversionList."
        }
      },
      "description": "A list of conversions.",
      "id": "ConversionList"
    },
    "ReportApiColumnSpec": {
      "type": "object",
      "properties": {
        "headerText": {
          "description": "Text used to identify this column in the report output; defaults to `columnName` or `savedColumnName` when not specified. This can be used to prevent collisions between DoubleClick Search columns and saved columns with the same name.",
          "type": "string"
        },
        "customMetricName": {
          "description": "Name of a custom metric to include in the report. The report must be scoped to an advertiser or lower, and the custom metric must already be set up in DoubleClick Search. The custom metric name, which appears in DoubleClick Search, is case sensitive.",
          "type": "string"
        },
        "startDate": {
          "description": "Inclusive date in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `endDate`.",
          "type": "string"
        },
        "savedColumnName": {
          "type": "string",
          "description": "Name of a saved column to include in the report. The report must be scoped at advertiser or lower, and this saved column must already be created in the DoubleClick Search UI."
        },
        "customDimensionName": {
          "type": "string",
          "description": "Segments a report by a custom dimension. The report must be scoped to an advertiser or lower, and the custom dimension must already be set up in DoubleClick Search. The custom dimension name, which appears in DoubleClick Search, is case sensitive.\\ If used in a conversion report, returns the value of the specified custom dimension for the given conversion, if set. This column does not segment the conversion report."
        },
        "platformSource": {
          "description": "The platform that is used to provide data for the custom dimension. Acceptable values are \"floodlight\".",
          "type": "string"
        },
        "columnName": {
          "description": "Name of a DoubleClick Search column to include in the report.",
          "type": "string"
        },
        "endDate": {
          "description": "Inclusive day in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `startDate`.",
          "type": "string"
        },
        "groupByColumn": {
          "type": "boolean",
          "description": "Synchronous report only. Set to `true` to group by this column. Defaults to `false`."
        },
        "productReportPerspective": {
          "type": "string",
          "description": "Returns metrics only for a specific type of product activity. Accepted values are: - \"`sold`\": returns metrics only for products that were sold - \"`advertised`\": returns metrics only for products that were advertised in a Shopping campaign, and that might or might not have been sold "
        }
      },
      "description": "A request object used to create a DoubleClick Search report.",
      "id": "ReportApiColumnSpec"
    },
    "CustomDimension": {
      "id": "CustomDimension",
      "type": "object",
      "properties": {
        "name": {
          "description": "Custom dimension name.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Custom dimension value."
        }
      },
      "description": "A message containing the custom dimension."
    },
    "Availability": {
      "type": "object",
      "properties": {
        "advertiserId": {
          "description": "DS advertiser ID.",
          "format": "int64",
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        },
        "agencyId": {
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "description": "DS agency ID.",
          "format": "int64",
          "type": "string"
        },
        "segmentationId": {
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).",
          "format": "int64",
          "type": "string"
        },
        "customerId": {
          "type": "string",
          "description": "Customer ID of a client account in the new Search Ads 360 experience."
        },
        "segmentationType": {
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "description": "The segmentation type that this availability is for (its default value is `FLOODLIGHT`).",
          "type": "string"
        },
        "segmentationName": {
          "type": "string",
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name)."
        },
        "availabilityTimestamp": {
          "type": "string",
          "description": "The time by which all conversions have been uploaded, in epoch millis UTC.",
          "format": "int64",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        }
      },
      "description": "A message containing availability data relevant to DoubleClick Search.",
      "id": "Availability"
    },
    "SavedColumnList": {
      "id": "SavedColumnList",
      "description": "A list of saved columns. Advertisers create saved columns to report on Floodlight activities, Google Analytics goals, or custom KPIs. To request reports with saved columns, you'll need the saved column names that are available from this list.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies this as a SavedColumnList resource. Value: the fixed string doubleclicksearch#savedColumnList.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "The saved columns being requested.",
          "items": {
            "$ref": "SavedColumn"
          }
        }
      }
    },
    "UpdateAvailabilityResponse": {
      "id": "UpdateAvailabilityResponse",
      "description": "The response to a update availability request.",
      "type": "object",
      "properties": {
        "availabilities": {
          "items": {
            "$ref": "Availability"
          },
          "description": "The availabilities being returned.",
          "type": "array"
        }
      }
    },
    "Conversion": {
      "description": "A conversion containing data relevant to DoubleClick Search. Common DS3 API conversion fields: Id Range [1 - 2800]. Next Id to use: 33",
      "type": "object",
      "properties": {
        "segmentationType": {
          "description": "The segmentation type of this conversion (for example, `FLOODLIGHT`).",
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          }
        },
        "productId": {
          "type": "string",
          "description": "The product ID (SKU)."
        },
        "inventoryAccountId": {
          "type": "string",
          "description": "ID that DS generates and uses to uniquely identify the inventory account that contains the product.",
          "format": "int64"
        },
        "storeId": {
          "type": "string",
          "description": "The ID of the local store for which the product was advertised. Applicable only when the channel is \"`local`\"."
        },
        "channel": {
          "description": "Sales channel for the product. Acceptable values are: - \"`local`\": a physical store - \"`online`\": an online store ",
          "type": "string"
        },
        "currencyCode": {
          "description": "The currency code for the conversion's revenue. Should be in ISO 4217 alphabetic (3-char) format.",
          "type": "string"
        },
        "conversionTimestamp": {
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "type": "string",
          "description": "The time at which the conversion took place, in epoch millis UTC."
        },
        "segmentationId": {
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).",
          "format": "int64",
          "type": "string"
        },
        "dsConversionId": {
          "type": "string",
          "description": "ID that DoubleClick Search generates for each conversion.",
          "format": "int64"
        },
        "type": {
          "type": "string",
          "description": "The type of the conversion, that is, either `ACTION` or `TRANSACTION`. An `ACTION` conversion is an action by the user that has no monetarily quantifiable value, while a `TRANSACTION` conversion is an action that does have a monetarily quantifiable value. Examples are email list signups (`ACTION`) versus ecommerce purchases (`TRANSACTION`)."
        },
        "productGroupId": {
          "description": "DS product group ID.",
          "format": "int64",
          "type": "string"
        },
        "customerId": {
          "type": "string",
          "description": "Customer ID of a client account in the new Search Ads 360 experience."
        },
        "adGroupId": {
          "description": "DS ad group ID.",
          "format": "int64",
          "type": "string"
        },
        "clickId": {
          "description": "DS click ID for the conversion.",
          "type": "string"
        },
        "productLanguage": {
          "description": "The language registered for the Merchant Center feed that contains the product. Use an ISO 639 code to specify a language.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "The state of the conversion, that is, either `ACTIVE` or `REMOVED`. Note: state DELETED is deprecated."
        },
        "countMillis": {
          "description": "Available to advertisers only after contacting DoubleClick Search customer support.",
          "format": "int64",
          "type": "string"
        },
        "floodlightOrderId": {
          "description": "The Floodlight order ID provided by the advertiser for the conversion.",
          "type": "string"
        },
        "quantityMillis": {
          "type": "string",
          "description": "The quantity of this conversion, in millis.",
          "format": "int64"
        },
        "adUserDataConsent": {
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ],
          "description": "Represents consent for core platform services (CPS) preferences in settings. No default value. Acceptable values are: GRANTED: The desired consent status is to grant. Read the CPS preferences from GTE settings. DENIED: The desired consent status is to deny; CPS list is empty.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "GRANTED",
            "DENIED"
          ]
        },
        "engineAccountId": {
          "description": "DS engine account ID.",
          "format": "int64",
          "type": "string"
        },
        "adId": {
          "description": "DS ad ID.",
          "format": "int64",
          "type": "string"
        },
        "customMetric": {
          "description": "Custom metrics for the conversion.",
          "type": "array",
          "items": {
            "$ref": "CustomMetric"
          }
        },
        "conversionModifiedTimestamp": {
          "description": "The time at which the conversion was last modified, in epoch millis UTC.",
          "format": "int64",
          "type": "string"
        },
        "customDimension": {
          "type": "array",
          "description": "Custom dimensions for the conversion, which can be used to filter data in a report.",
          "items": {
            "$ref": "CustomDimension"
          }
        },
        "attributionModel": {
          "description": "Available to advertisers only after contacting DoubleClick Search customer support.",
          "type": "string"
        },
        "criterionId": {
          "description": "DS criterion (keyword) ID.",
          "format": "int64",
          "type": "string"
        },
        "productCountry": {
          "type": "string",
          "description": "The country registered for the Merchant Center feed that contains the product. Use an ISO 3166 code to specify a country."
        },
        "conversionId": {
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "type": "string",
          "description": "For offline conversions, advertisers provide this ID. Advertisers can specify any ID that is meaningful to them. Each conversion in a request must specify a unique ID, and the combination of ID and timestamp must be unique amongst all conversions within the advertiser. For online conversions, DS copies the `dsConversionId` or `floodlightOrderId` into this property depending on the advertiser's Floodlight instructions."
        },
        "campaignId": {
          "description": "DS campaign ID.",
          "format": "int64",
          "type": "string"
        },
        "advertiserId": {
          "description": "DS advertiser ID.",
          "format": "int64",
          "type": "string"
        },
        "agencyId": {
          "description": "DS agency ID.",
          "format": "int64",
          "type": "string"
        },
        "segmentationName": {
          "type": "string",
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name)."
        },
        "revenueMicros": {
          "type": "string",
          "description": "The revenue amount of this `TRANSACTION` conversion, in micros (value multiplied by 1000000, no decimal). For example, to specify a revenue value of \"10\" enter \"10000000\" (10 million) in your request."
        },
        "deviceType": {
          "type": "string",
          "description": "The type of device on which the conversion occurred."
        }
      },
      "id": "Conversion"
    },
    "UpdateAvailabilityRequest": {
      "type": "object",
      "properties": {
        "availabilities": {
          "items": {
            "$ref": "Availability"
          },
          "description": "The availabilities being requested.",
          "type": "array"
        }
      },
      "description": "The request to update availability.",
      "id": "UpdateAvailabilityRequest"
    },
    "ReportRow": {
      "type": "object",
      "description": "A row in a DoubleClick Search report.",
      "additionalProperties": {
        "type": "any",
        "description": "Indicates the columns that are represented in this row. That is, each key corresponds to a column with a non-empty cell in this row."
      },
      "id": "ReportRow"
    },
    "Report": {
      "description": "A DoubleClick Search report. This object contains the report request, some report metadata such as currency code, and the generated report rows or report files.",
      "type": "object",
      "properties": {
        "request": {
          "description": "The request that created the report. Optional fields not specified in the original request are filled with default values.",
          "$ref": "ReportRequest"
        },
        "files": {
          "description": "Asynchronous report only. Contains a list of generated report files once the report has successfully completed.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "byteCount": {
                "description": "The size of this report file in bytes.",
                "format": "int64",
                "type": "string"
              },
              "url": {
                "description": "Use this url to download the report file.",
                "type": "string"
              }
            }
          }
        },
        "isReportReady": {
          "type": "boolean",
          "description": "Asynchronous report only. True if and only if the report has completed successfully and the report files are ready to be downloaded."
        },
        "statisticsCurrencyCode": {
          "description": "The currency code of all monetary values produced in the report, including values that are set by users (e.g., keyword bid settings) and metrics (e.g., cost and revenue). The currency code of a report is determined by the `statisticsCurrency` field of the report request.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Asynchronous report only. Id of the report."
        },
        "rowCount": {
          "type": "integer",
          "description": "The number of report rows generated by the report, not including headers.",
          "format": "int32"
        },
        "statisticsTimeZone": {
          "description": "If all statistics of the report are sourced from the same time zone, this would be it. Otherwise the field is unset.",
          "type": "string"
        },
        "rows": {
          "description": "Synchronous report only. Generated report rows.",
          "type": "array",
          "items": {
            "$ref": "ReportRow"
          }
        },
        "kind": {
          "description": "Identifies this as a Report resource. Value: the fixed string `doubleclicksearch#report`.",
          "type": "string"
        }
      },
      "id": "Report"
    }
  },
  "protocol": "rest",
  "title": "Search Ads 360 API",
  "batchPath": "batch",
  "baseUrl": "https://doubleclicksearch.googleapis.com/",
  "revision": "20260803",
  "version": "v2",
  "resources": {
    "savedColumns": {
      "methods": {
        "list": {
          "id": "doubleclicksearch.savedColumns.list",
          "httpMethod": "GET",
          "parameters": {
            "advertiserId": {
              "description": "DS ID of the advertiser.",
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "agencyId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "DS ID of the agency.",
              "format": "int64"
            }
          },
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "response": {
            "$ref": "SavedColumnList"
          },
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "description": "Retrieve the list of saved columns for a specified advertiser."
        }
      }
    },
    "reports": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "reportId": {
              "required": true,
              "type": "string",
              "description": "ID of the report request being polled.",
              "location": "path"
            }
          },
          "path": "doubleclicksearch/v2/reports/{reportId}",
          "id": "doubleclicksearch.reports.get",
          "description": "Polls for the status of a report request.",
          "parameterOrder": [
            "reportId"
          ],
          "flatPath": "doubleclicksearch/v2/reports/{reportId}",
          "response": {
            "$ref": "Report"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "getFile": {
          "flatPath": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "useMediaDownloadService": true,
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "supportsMediaDownload": true,
          "description": "Downloads a report file encoded in UTF-8.",
          "parameterOrder": [
            "reportId",
            "reportFragment"
          ],
          "id": "doubleclicksearch.reports.getFile",
          "httpMethod": "GET",
          "parameters": {
            "reportId": {
              "description": "ID of the report.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "reportFragment": {
              "type": "integer",
              "description": "The index of the report fragment to download.",
              "format": "int32",
              "required": true,
              "minimum": "0",
              "location": "path"
            }
          },
          "path": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}"
        },
        "getIdMappingFile": {
          "id": "doubleclicksearch.reports.getIdMappingFile",
          "httpMethod": "GET",
          "parameters": {
            "advertiserId": {
              "type": "string",
              "description": "Legacy SA360 advertiser ID.",
              "format": "int64",
              "location": "path",
              "required": true
            },
            "agencyId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Legacy SA360 agency ID.",
              "format": "int64"
            }
          },
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "useMediaDownloadService": true,
          "response": {
            "$ref": "IdMappingFile"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "supportsMediaDownload": true,
          "description": "Downloads a csv file(encoded in UTF-8) that contains ID mappings between legacy SA360 and new SA360. The file includes all children entities of the given advertiser(e.g. engine accounts, campaigns, ad groups, etc.) that exist in both legacy SA360 and new SA360.",
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ]
        },
        "generate": {
          "id": "doubleclicksearch.reports.generate",
          "path": "doubleclicksearch/v2/reports/generate",
          "httpMethod": "POST",
          "parameters": {},
          "request": {
            "$ref": "ReportRequest"
          },
          "flatPath": "doubleclicksearch/v2/reports/generate",
          "response": {
            "$ref": "Report"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Generates and returns a report immediately.",
          "parameterOrder": []
        },
        "request": {
          "id": "doubleclicksearch.reports.request",
          "httpMethod": "POST",
          "parameters": {},
          "path": "doubleclicksearch/v2/reports",
          "flatPath": "doubleclicksearch/v2/reports",
          "response": {
            "$ref": "Report"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "request": {
            "$ref": "ReportRequest"
          },
          "description": "Inserts a report request into the reporting system.",
          "parameterOrder": []
        }
      }
    },
    "conversion": {
      "methods": {
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "doubleclicksearch/v2/conversion",
          "response": {
            "$ref": "ConversionList"
          },
          "request": {
            "$ref": "ConversionList"
          },
          "parameterOrder": [],
          "description": "Updates a batch of conversions in DoubleClick Search.",
          "id": "doubleclicksearch.conversion.update",
          "httpMethod": "PUT",
          "parameters": {},
          "path": "doubleclicksearch/v2/conversion"
        },
        "updateAvailability": {
          "path": "doubleclicksearch/v2/conversion/updateAvailability",
          "httpMethod": "POST",
          "parameters": {},
          "id": "doubleclicksearch.conversion.updateAvailability",
          "parameterOrder": [],
          "description": "Updates the availabilities of a batch of floodlight activities in DoubleClick Search.",
          "request": {
            "$ref": "UpdateAvailabilityRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "doubleclicksearch/v2/conversion/updateAvailability",
          "response": {
            "$ref": "UpdateAvailabilityResponse"
          }
        },
        "get": {
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "parameterOrder": [
            "agencyId",
            "advertiserId",
            "engineAccountId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "response": {
            "$ref": "ConversionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "GET",
          "parameters": {
            "criterionId": {
              "type": "string",
              "description": "Numeric ID of the criterion.",
              "location": "query",
              "format": "int64"
            },
            "campaignId": {
              "description": "Numeric ID of the campaign.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "startDate": {
              "type": "integer",
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "format": "int32",
              "maximum": "99991231",
              "minimum": "20091101",
              "location": "query",
              "required": true
            },
            "engineAccountId": {
              "description": "Numeric ID of the engine account.",
              "format": "int64",
              "type": "string",
              "location": "path",
              "required": true
            },
            "customerId": {
              "type": "string",
              "description": "Customer ID of a client account in the new Search Ads 360 experience.",
              "location": "query"
            },
            "advertiserId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Numeric ID of the advertiser.",
              "format": "int64"
            },
            "agencyId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Numeric ID of the agency.",
              "format": "int64"
            },
            "adGroupId": {
              "description": "Numeric ID of the ad group.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "adId": {
              "type": "string",
              "description": "Numeric ID of the ad.",
              "location": "query",
              "format": "int64"
            },
            "endDate": {
              "location": "query",
              "minimum": "20091101",
              "required": true,
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "format": "int32",
              "type": "integer",
              "maximum": "99991231"
            },
            "startRow": {
              "required": true,
              "location": "query",
              "description": "The 0-based starting index for retrieving conversions results.",
              "format": "uint32",
              "type": "integer"
            },
            "rowCount": {
              "description": "The number of conversions to return per call.",
              "format": "int32",
              "type": "integer",
              "maximum": "1000",
              "location": "query",
              "minimum": "1",
              "required": true
            }
          },
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "id": "doubleclicksearch.conversion.get"
        },
        "getByCustomerId": {
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "parameterOrder": [
            "customerId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "flatPath": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "response": {
            "$ref": "ConversionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "httpMethod": "GET",
          "parameters": {
            "advertiserId": {
              "type": "string",
              "description": "Numeric ID of the advertiser.",
              "location": "query",
              "format": "int64"
            },
            "agencyId": {
              "description": "Numeric ID of the agency.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "customerId": {
              "type": "string",
              "description": "Customer ID of a client account in the new Search Ads 360 experience.",
              "location": "path",
              "required": true
            },
            "engineAccountId": {
              "description": "Numeric ID of the engine account.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "adId": {
              "type": "string",
              "description": "Numeric ID of the ad.",
              "location": "query",
              "format": "int64"
            },
            "endDate": {
              "minimum": "20091101",
              "location": "query",
              "required": true,
              "type": "integer",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "format": "int32",
              "maximum": "99991231"
            },
            "startRow": {
              "required": true,
              "location": "query",
              "type": "integer",
              "description": "The 0-based starting index for retrieving conversions results.",
              "format": "uint32"
            },
            "rowCount": {
              "maximum": "1000",
              "type": "integer",
              "description": "The number of conversions to return per call.",
              "format": "int32",
              "required": true,
              "minimum": "1",
              "location": "query"
            },
            "adGroupId": {
              "description": "Numeric ID of the ad group.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "criterionId": {
              "description": "Numeric ID of the criterion.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "campaignId": {
              "type": "string",
              "description": "Numeric ID of the campaign.",
              "location": "query",
              "format": "int64"
            },
            "startDate": {
              "maximum": "99991231",
              "type": "integer",
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "format": "int32",
              "required": true,
              "minimum": "20091101",
              "location": "query"
            }
          },
          "id": "doubleclicksearch.conversion.getByCustomerId"
        },
        "insert": {
          "request": {
            "$ref": "ConversionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "doubleclicksearch/v2/conversion",
          "response": {
            "$ref": "ConversionList"
          },
          "parameterOrder": [],
          "description": "Inserts a batch of new conversions into DoubleClick Search.",
          "id": "doubleclicksearch.conversion.insert",
          "path": "doubleclicksearch/v2/conversion",
          "httpMethod": "POST",
          "parameters": {}
        }
      }
    }
  },
  "ownerName": "Google"
}