{
  "kind": "discovery#restDescription",
  "canonicalName": "Doubleclicksearch",
  "baseUrl": "https://doubleclicksearch.googleapis.com/",
  "mtlsRootUrl": "https://doubleclicksearch.mtls.googleapis.com/",
  "id": "doubleclicksearch:v2",
  "ownerDomain": "google.com",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclicksearch": {
          "description": "View and manage your advertising data in DoubleClick Search"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "parameters": {
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    }
  },
  "version": "v2",
  "description": "The Search Ads 360 API allows developers to automate uploading conversions and downloading reports from Search Ads 360.",
  "ownerName": "Google",
  "protocol": "rest",
  "resources": {
    "conversion": {
      "methods": {
        "get": {
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "parameterOrder": [
            "agencyId",
            "advertiserId",
            "engineAccountId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "response": {
            "$ref": "ConversionList"
          },
          "id": "doubleclicksearch.conversion.get",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "parameters": {
            "criterionId": {
              "type": "string",
              "format": "int64",
              "description": "Numeric ID of the criterion.",
              "location": "query"
            },
            "customerId": {
              "description": "Customer ID of a client account in the new Search Ads 360 experience.",
              "location": "query",
              "type": "string"
            },
            "engineAccountId": {
              "type": "string",
              "description": "Numeric ID of the engine account.",
              "location": "path",
              "required": true,
              "format": "int64"
            },
            "rowCount": {
              "description": "The number of conversions to return per call.",
              "maximum": "1000",
              "location": "query",
              "minimum": "1",
              "required": true,
              "format": "int32",
              "type": "integer"
            },
            "adGroupId": {
              "description": "Numeric ID of the ad group.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "adId": {
              "description": "Numeric ID of the ad.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "endDate": {
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "maximum": "99991231",
              "location": "query",
              "minimum": "20091101",
              "required": true,
              "format": "int32",
              "type": "integer"
            },
            "agencyId": {
              "type": "string",
              "description": "Numeric ID of the agency.",
              "location": "path",
              "required": true,
              "format": "int64"
            },
            "campaignId": {
              "description": "Numeric ID of the campaign.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "startRow": {
              "type": "integer",
              "required": true,
              "format": "uint32",
              "description": "The 0-based starting index for retrieving conversions results.",
              "location": "query"
            },
            "startDate": {
              "type": "integer",
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "maximum": "99991231",
              "location": "query",
              "minimum": "20091101",
              "required": true,
              "format": "int32"
            },
            "advertiserId": {
              "description": "Numeric ID of the advertiser.",
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string"
            }
          },
          "httpMethod": "GET"
        },
        "updateAvailability": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "doubleclicksearch.conversion.updateAvailability",
          "flatPath": "doubleclicksearch/v2/conversion/updateAvailability",
          "parameterOrder": [],
          "response": {
            "$ref": "UpdateAvailabilityResponse"
          },
          "request": {
            "$ref": "UpdateAvailabilityRequest"
          },
          "httpMethod": "POST",
          "path": "doubleclicksearch/v2/conversion/updateAvailability",
          "parameters": {},
          "description": "Updates the availabilities of a batch of floodlight activities in DoubleClick Search."
        },
        "getByCustomerId": {
          "id": "doubleclicksearch.conversion.getByCustomerId",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [
            "customerId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "response": {
            "$ref": "ConversionList"
          },
          "flatPath": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "httpMethod": "GET",
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "path": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "parameters": {
            "advertiserId": {
              "type": "string",
              "format": "int64",
              "description": "Numeric ID of the advertiser.",
              "location": "query"
            },
            "startDate": {
              "minimum": "20091101",
              "required": true,
              "format": "int32",
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "maximum": "99991231",
              "location": "query",
              "type": "integer"
            },
            "agencyId": {
              "description": "Numeric ID of the agency.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "campaignId": {
              "type": "string",
              "format": "int64",
              "description": "Numeric ID of the campaign.",
              "location": "query"
            },
            "startRow": {
              "type": "integer",
              "required": true,
              "format": "uint32",
              "description": "The 0-based starting index for retrieving conversions results.",
              "location": "query"
            },
            "adGroupId": {
              "description": "Numeric ID of the ad group.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "adId": {
              "type": "string",
              "format": "int64",
              "description": "Numeric ID of the ad.",
              "location": "query"
            },
            "endDate": {
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "maximum": "99991231",
              "location": "query",
              "minimum": "20091101",
              "required": true,
              "format": "int32",
              "type": "integer"
            },
            "rowCount": {
              "type": "integer",
              "description": "The number of conversions to return per call.",
              "maximum": "1000",
              "location": "query",
              "minimum": "1",
              "required": true,
              "format": "int32"
            },
            "engineAccountId": {
              "type": "string",
              "format": "int64",
              "description": "Numeric ID of the engine account.",
              "location": "query"
            },
            "customerId": {
              "description": "Customer ID of a client account in the new Search Ads 360 experience.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "criterionId": {
              "type": "string",
              "format": "int64",
              "description": "Numeric ID of the criterion.",
              "location": "query"
            }
          }
        },
        "insert": {
          "flatPath": "doubleclicksearch/v2/conversion",
          "parameterOrder": [],
          "response": {
            "$ref": "ConversionList"
          },
          "id": "doubleclicksearch.conversion.insert",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Inserts a batch of new conversions into DoubleClick Search.",
          "path": "doubleclicksearch/v2/conversion",
          "parameters": {},
          "httpMethod": "POST",
          "request": {
            "$ref": "ConversionList"
          }
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "doubleclicksearch.conversion.update",
          "flatPath": "doubleclicksearch/v2/conversion",
          "parameterOrder": [],
          "response": {
            "$ref": "ConversionList"
          },
          "request": {
            "$ref": "ConversionList"
          },
          "httpMethod": "PUT",
          "path": "doubleclicksearch/v2/conversion",
          "parameters": {},
          "description": "Updates a batch of conversions in DoubleClick Search."
        }
      }
    },
    "savedColumns": {
      "methods": {
        "list": {
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "parameters": {
            "advertiserId": {
              "type": "string",
              "description": "DS ID of the advertiser.",
              "location": "path",
              "required": true,
              "format": "int64"
            },
            "agencyId": {
              "type": "string",
              "description": "DS ID of the agency.",
              "location": "path",
              "required": true,
              "format": "int64"
            }
          },
          "description": "Retrieve the list of saved columns for a specified advertiser.",
          "httpMethod": "GET",
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "response": {
            "$ref": "SavedColumnList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "doubleclicksearch.savedColumns.list"
        }
      }
    },
    "reports": {
      "methods": {
        "request": {
          "path": "doubleclicksearch/v2/reports",
          "parameters": {},
          "description": "Inserts a report request into the reporting system.",
          "request": {
            "$ref": "ReportRequest"
          },
          "httpMethod": "POST",
          "flatPath": "doubleclicksearch/v2/reports",
          "parameterOrder": [],
          "response": {
            "$ref": "Report"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "doubleclicksearch.reports.request"
        },
        "generate": {
          "parameterOrder": [],
          "response": {
            "$ref": "Report"
          },
          "flatPath": "doubleclicksearch/v2/reports/generate",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "doubleclicksearch.reports.generate",
          "path": "doubleclicksearch/v2/reports/generate",
          "parameters": {},
          "description": "Generates and returns a report immediately.",
          "request": {
            "$ref": "ReportRequest"
          },
          "httpMethod": "POST"
        },
        "get": {
          "path": "doubleclicksearch/v2/reports/{reportId}",
          "parameters": {
            "reportId": {
              "description": "ID of the report request being polled.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Polls for the status of a report request.",
          "httpMethod": "GET",
          "flatPath": "doubleclicksearch/v2/reports/{reportId}",
          "parameterOrder": [
            "reportId"
          ],
          "response": {
            "$ref": "Report"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "doubleclicksearch.reports.get"
        },
        "getFile": {
          "id": "doubleclicksearch.reports.getFile",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "parameterOrder": [
            "reportId",
            "reportFragment"
          ],
          "useMediaDownloadService": true,
          "httpMethod": "GET",
          "description": "Downloads a report file encoded in UTF-8.",
          "path": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "parameters": {
            "reportFragment": {
              "minimum": "0",
              "required": true,
              "format": "int32",
              "description": "The index of the report fragment to download.",
              "location": "path",
              "type": "integer"
            },
            "reportId": {
              "required": true,
              "type": "string",
              "description": "ID of the report.",
              "location": "path"
            }
          },
          "supportsMediaDownload": true
        },
        "getIdMappingFile": {
          "description": "Downloads a csv file(encoded in UTF-8) that contains ID mappings between legacy SA360 and new SA360. The file includes all children entities of the given advertiser(e.g. engine accounts, campaigns, ad groups, etc.) that exist in both legacy SA360 and new SA360.",
          "supportsMediaDownload": true,
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "parameters": {
            "advertiserId": {
              "required": true,
              "format": "int64",
              "description": "Legacy SA360 advertiser ID.",
              "location": "path",
              "type": "string"
            },
            "agencyId": {
              "type": "string",
              "description": "Legacy SA360 agency ID.",
              "location": "path",
              "required": true,
              "format": "int64"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "useMediaDownloadService": true,
          "response": {
            "$ref": "IdMappingFile"
          },
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "id": "doubleclicksearch.reports.getIdMappingFile",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        }
      }
    }
  },
  "title": "Search Ads 360 API",
  "servicePath": "",
  "revision": "20260810",
  "name": "doubleclicksearch",
  "schemas": {
    "UpdateAvailabilityRequest": {
      "properties": {
        "availabilities": {
          "items": {
            "$ref": "Availability"
          },
          "description": "The availabilities being requested.",
          "type": "array"
        }
      },
      "id": "UpdateAvailabilityRequest",
      "type": "object",
      "description": "The request to update availability."
    },
    "IdMappingFile": {
      "properties": {},
      "id": "IdMappingFile",
      "type": "object",
      "description": "File returned to https://developers.google.com/search-ads/v2/reference/reports/getIdMappingFile."
    },
    "SavedColumn": {
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of data this saved column will produce."
        },
        "savedColumnName": {
          "description": "The name of the saved column.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies this as a SavedColumn resource. Value: the fixed string doubleclicksearch#savedColumn."
        }
      },
      "description": "A saved column",
      "id": "SavedColumn",
      "type": "object"
    },
    "ReportRow": {
      "id": "ReportRow",
      "type": "object",
      "description": "A row in a DoubleClick Search report.",
      "additionalProperties": {
        "type": "any",
        "description": "Indicates the columns that are represented in this row. That is, each key corresponds to a column with a non-empty cell in this row."
      }
    },
    "ReportRequest": {
      "properties": {
        "timeRange": {
          "properties": {
            "changedMetricsSinceTimestamp": {
              "type": "string",
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed metrics reports work."
            },
            "changedAttributesSinceTimestamp": {
              "type": "string",
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed attribute reports work."
            },
            "startDate": {
              "type": "string",
              "description": "Inclusive date in YYYY-MM-DD format."
            },
            "endDate": {
              "type": "string",
              "description": "Inclusive date in YYYY-MM-DD format."
            }
          },
          "type": "object",
          "description": "If metrics are requested in a report, this argument will be used to restrict the metrics to a specific time range."
        },
        "orderBy": {
          "description": "Synchronous report only. A list of columns and directions defining sorting to be performed on the report rows.\\ The maximum number of orderings per request is 300.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "column": {
                "$ref": "ReportApiColumnSpec",
                "description": "Column to perform the sort on. This can be a DoubleClick Search-defined column or a saved column."
              },
              "sortOrder": {
                "description": "The sort direction, which is either `ascending` or `descending`.",
                "type": "string"
              }
            }
          }
        },
        "downloadFormat": {
          "description": "Format that the report should be returned in. Currently `csv` or `tsv` is supported.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "string"
        },
        "includeDeletedEntities": {
          "type": "boolean",
          "description": "Determines if removed entities should be included in the report. Defaults to `false`. Deprecated, please use `includeRemovedEntities` instead."
        },
        "verifySingleTimeZone": {
          "description": "If `true`, the report would only be created if all the requested stat data are sourced from a single timezone. Defaults to `false`.",
          "type": "boolean"
        },
        "maxRowsPerFile": {
          "description": "Asynchronous report only. The maximum number of rows per report file. A large report is split into many files based on this field. Acceptable values are `1000000` to `100000000`, inclusive.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "integer",
          "format": "int32"
        },
        "reportType": {
          "description": "Determines the type of rows that are returned in the report. For example, if you specify `reportType: keyword`, each row in the report will contain data about a keyword. See the [Types of Reports](/search-ads/v2/report-types/) reference for the columns that are available for each type.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "string"
        },
        "columns": {
          "description": "The columns to include in the report. This includes both DoubleClick Search columns and saved columns. For DoubleClick Search columns, only the `columnName` parameter is required. For saved columns only the `savedColumnName` parameter is required. Both `columnName` and `savedColumnName` cannot be set in the same stanza.\\ The maximum number of columns per request is 300.",
          "type": "array",
          "items": {
            "$ref": "ReportApiColumnSpec"
          }
        },
        "reportScope": {
          "properties": {
            "agencyId": {
              "description": "DS agency ID.",
              "type": "string",
              "format": "int64"
            },
            "campaignId": {
              "type": "string",
              "format": "int64",
              "description": "DS campaign ID."
            },
            "advertiserId": {
              "description": "DS advertiser ID.",
              "type": "string",
              "format": "int64"
            },
            "adGroupId": {
              "description": "DS ad group ID.",
              "type": "string",
              "format": "int64"
            },
            "adId": {
              "description": "DS ad ID.",
              "type": "string",
              "format": "int64"
            },
            "engineAccountId": {
              "type": "string",
              "format": "int64",
              "description": "DS engine account ID."
            },
            "keywordId": {
              "type": "string",
              "format": "int64",
              "description": "DS keyword ID."
            }
          },
          "type": "object",
          "description": "The reportScope is a set of IDs that are used to determine which subset of entities will be returned in the report. The full lineage of IDs from the lowest scoped level desired up through agency is required."
        },
        "startRow": {
          "description": "Synchronous report only. Zero-based index of the first row to return. Acceptable values are `0` to `50000`, inclusive. Defaults to `0`.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "type": "integer",
          "format": "int32"
        },
        "includeRemovedEntities": {
          "description": "Determines if removed entities should be included in the report. Defaults to `false`.",
          "type": "boolean"
        },
        "statisticsCurrency": {
          "type": "string",
          "description": "Specifies the currency in which monetary will be returned. Possible values are: `usd`, `agency` (valid if the report is scoped to agency or lower), `advertiser` (valid if the report is scoped to * advertiser or lower), or `account` (valid if the report is scoped to engine account or lower).",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          }
        },
        "rowCount": {
          "description": "Synchronous report only. The maximum number of rows to return; additional rows are dropped. Acceptable values are `0` to `10000`, inclusive. Defaults to `10000`.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "type": "integer",
          "format": "int32"
        },
        "filters": {
          "description": "A list of filters to be applied to the report.\\ The maximum number of filters per request is 300.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "operator": {
                "description": "Operator to use in the filter. See the filter reference for a list of available operators.",
                "type": "string"
              },
              "values": {
                "description": "A list of values to filter the column value against.\\ The maximum number of filter values per request is 300.",
                "type": "array",
                "items": {
                  "type": "any"
                }
              },
              "column": {
                "description": "Column to perform the filter on. This can be a DoubleClick Search column or a saved column.",
                "$ref": "ReportApiColumnSpec"
              }
            }
          }
        }
      },
      "id": "ReportRequest",
      "type": "object",
      "description": "A request object used to create a DoubleClick Search report."
    },
    "Report": {
      "properties": {
        "rows": {
          "type": "array",
          "description": "Synchronous report only. Generated report rows.",
          "items": {
            "$ref": "ReportRow"
          }
        },
        "rowCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of report rows generated by the report, not including headers."
        },
        "files": {
          "type": "array",
          "description": "Asynchronous report only. Contains a list of generated report files once the report has successfully completed.",
          "items": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "description": "Use this url to download the report file."
              },
              "byteCount": {
                "type": "string",
                "format": "int64",
                "description": "The size of this report file in bytes."
              }
            }
          }
        },
        "kind": {
          "description": "Identifies this as a Report resource. Value: the fixed string `doubleclicksearch#report`.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Asynchronous report only. Id of the report."
        },
        "statisticsTimeZone": {
          "description": "If all statistics of the report are sourced from the same time zone, this would be it. Otherwise the field is unset.",
          "type": "string"
        },
        "request": {
          "$ref": "ReportRequest",
          "description": "The request that created the report. Optional fields not specified in the original request are filled with default values."
        },
        "statisticsCurrencyCode": {
          "type": "string",
          "description": "The currency code of all monetary values produced in the report, including values that are set by users (e.g., keyword bid settings) and metrics (e.g., cost and revenue). The currency code of a report is determined by the `statisticsCurrency` field of the report request."
        },
        "isReportReady": {
          "description": "Asynchronous report only. True if and only if the report has completed successfully and the report files are ready to be downloaded.",
          "type": "boolean"
        }
      },
      "description": "A DoubleClick Search report. This object contains the report request, some report metadata such as currency code, and the generated report rows or report files.",
      "id": "Report",
      "type": "object"
    },
    "CustomDimension": {
      "properties": {
        "value": {
          "description": "Custom dimension value.",
          "type": "string"
        },
        "name": {
          "description": "Custom dimension name.",
          "type": "string"
        }
      },
      "description": "A message containing the custom dimension.",
      "id": "CustomDimension",
      "type": "object"
    },
    "CustomMetric": {
      "description": "A message containing the custom metric.",
      "id": "CustomMetric",
      "type": "object",
      "properties": {
        "name": {
          "description": "Custom metric name.",
          "type": "string"
        },
        "value": {
          "description": "Custom metric numeric value.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "Conversion": {
      "properties": {
        "channel": {
          "type": "string",
          "description": "Sales channel for the product. Acceptable values are: - \"`local`\": a physical store - \"`online`\": an online store "
        },
        "segmentationId": {
          "type": "string",
          "format": "int64",
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID)."
        },
        "clickId": {
          "description": "DS click ID for the conversion.",
          "type": "string"
        },
        "productGroupId": {
          "type": "string",
          "format": "int64",
          "description": "DS product group ID."
        },
        "dsConversionId": {
          "type": "string",
          "format": "int64",
          "description": "ID that DoubleClick Search generates for each conversion."
        },
        "productLanguage": {
          "description": "The language registered for the Merchant Center feed that contains the product. Use an ISO 639 code to specify a language.",
          "type": "string"
        },
        "customDimension": {
          "items": {
            "$ref": "CustomDimension"
          },
          "type": "array",
          "description": "Custom dimensions for the conversion, which can be used to filter data in a report."
        },
        "storeId": {
          "description": "The ID of the local store for which the product was advertised. Applicable only when the channel is \"`local`\".",
          "type": "string"
        },
        "type": {
          "description": "The type of the conversion, that is, either `ACTION` or `TRANSACTION`. An `ACTION` conversion is an action by the user that has no monetarily quantifiable value, while a `TRANSACTION` conversion is an action that does have a monetarily quantifiable value. Examples are email list signups (`ACTION`) versus ecommerce purchases (`TRANSACTION`).",
          "type": "string"
        },
        "customerId": {
          "type": "string",
          "description": "Customer ID of a client account in the new Search Ads 360 experience."
        },
        "adId": {
          "type": "string",
          "format": "int64",
          "description": "DS ad ID."
        },
        "conversionModifiedTimestamp": {
          "description": "The time at which the conversion was last modified, in epoch millis UTC.",
          "type": "string",
          "format": "int64"
        },
        "productId": {
          "description": "The product ID (SKU).",
          "type": "string"
        },
        "adUserDataConsent": {
          "description": "Represents consent for core platform services (CPS) preferences in settings. No default value. Acceptable values are: GRANTED: The desired consent status is to grant. Read the CPS preferences from GTE settings. DENIED: The desired consent status is to deny; CPS list is empty.",
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "GRANTED",
            "DENIED"
          ]
        },
        "countMillis": {
          "type": "string",
          "format": "int64",
          "description": "Available to advertisers only after contacting DoubleClick Search customer support."
        },
        "criterionId": {
          "description": "DS criterion (keyword) ID.",
          "type": "string",
          "format": "int64"
        },
        "adGroupId": {
          "type": "string",
          "format": "int64",
          "description": "DS ad group ID."
        },
        "segmentationType": {
          "type": "string",
          "description": "The segmentation type of this conversion (for example, `FLOODLIGHT`).",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          }
        },
        "engineAccountId": {
          "type": "string",
          "format": "int64",
          "description": "DS engine account ID."
        },
        "productCountry": {
          "type": "string",
          "description": "The country registered for the Merchant Center feed that contains the product. Use an ISO 3166 code to specify a country."
        },
        "agencyId": {
          "type": "string",
          "format": "int64",
          "description": "DS agency ID."
        },
        "advertiserId": {
          "description": "DS advertiser ID.",
          "type": "string",
          "format": "int64"
        },
        "state": {
          "description": "The state of the conversion, that is, either `ACTIVE` or `REMOVED`. Note: state DELETED is deprecated.",
          "type": "string"
        },
        "quantityMillis": {
          "type": "string",
          "format": "int64",
          "description": "The quantity of this conversion, in millis."
        },
        "currencyCode": {
          "type": "string",
          "description": "The currency code for the conversion's revenue. Should be in ISO 4217 alphabetic (3-char) format."
        },
        "conversionTimestamp": {
          "type": "string",
          "description": "The time at which the conversion took place, in epoch millis UTC.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          }
        },
        "campaignId": {
          "type": "string",
          "format": "int64",
          "description": "DS campaign ID."
        },
        "segmentationName": {
          "type": "string",
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name)."
        },
        "deviceType": {
          "type": "string",
          "description": "The type of device on which the conversion occurred."
        },
        "attributionModel": {
          "type": "string",
          "description": "Available to advertisers only after contacting DoubleClick Search customer support."
        },
        "conversionId": {
          "type": "string",
          "description": "For offline conversions, advertisers provide this ID. Advertisers can specify any ID that is meaningful to them. Each conversion in a request must specify a unique ID, and the combination of ID and timestamp must be unique amongst all conversions within the advertiser. For online conversions, DS copies the `dsConversionId` or `floodlightOrderId` into this property depending on the advertiser's Floodlight instructions.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          }
        },
        "inventoryAccountId": {
          "description": "ID that DS generates and uses to uniquely identify the inventory account that contains the product.",
          "type": "string",
          "format": "int64"
        },
        "floodlightOrderId": {
          "description": "The Floodlight order ID provided by the advertiser for the conversion.",
          "type": "string"
        },
        "revenueMicros": {
          "type": "string",
          "description": "The revenue amount of this `TRANSACTION` conversion, in micros (value multiplied by 1000000, no decimal). For example, to specify a revenue value of \"10\" enter \"10000000\" (10 million) in your request."
        },
        "customMetric": {
          "items": {
            "$ref": "CustomMetric"
          },
          "type": "array",
          "description": "Custom metrics for the conversion."
        }
      },
      "description": "A conversion containing data relevant to DoubleClick Search. Common DS3 API conversion fields: Id Range [1 - 2800]. Next Id to use: 33",
      "id": "Conversion",
      "type": "object"
    },
    "UpdateAvailabilityResponse": {
      "description": "The response to a update availability request.",
      "id": "UpdateAvailabilityResponse",
      "type": "object",
      "properties": {
        "availabilities": {
          "items": {
            "$ref": "Availability"
          },
          "description": "The availabilities being returned.",
          "type": "array"
        }
      }
    },
    "ConversionList": {
      "properties": {
        "conversion": {
          "type": "array",
          "description": "The conversions being requested.",
          "items": {
            "$ref": "Conversion"
          }
        },
        "kind": {
          "description": "Identifies this as a ConversionList resource. Value: the fixed string doubleclicksearch#conversionList.",
          "type": "string"
        }
      },
      "description": "A list of conversions.",
      "id": "ConversionList",
      "type": "object"
    },
    "ReportApiColumnSpec": {
      "id": "ReportApiColumnSpec",
      "type": "object",
      "description": "A request object used to create a DoubleClick Search report.",
      "properties": {
        "headerText": {
          "type": "string",
          "description": "Text used to identify this column in the report output; defaults to `columnName` or `savedColumnName` when not specified. This can be used to prevent collisions between DoubleClick Search columns and saved columns with the same name."
        },
        "customDimensionName": {
          "type": "string",
          "description": "Segments a report by a custom dimension. The report must be scoped to an advertiser or lower, and the custom dimension must already be set up in DoubleClick Search. The custom dimension name, which appears in DoubleClick Search, is case sensitive.\\ If used in a conversion report, returns the value of the specified custom dimension for the given conversion, if set. This column does not segment the conversion report."
        },
        "endDate": {
          "type": "string",
          "description": "Inclusive day in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `startDate`."
        },
        "platformSource": {
          "description": "The platform that is used to provide data for the custom dimension. Acceptable values are \"floodlight\".",
          "type": "string"
        },
        "productReportPerspective": {
          "description": "Returns metrics only for a specific type of product activity. Accepted values are: - \"`sold`\": returns metrics only for products that were sold - \"`advertised`\": returns metrics only for products that were advertised in a Shopping campaign, and that might or might not have been sold ",
          "type": "string"
        },
        "savedColumnName": {
          "type": "string",
          "description": "Name of a saved column to include in the report. The report must be scoped at advertiser or lower, and this saved column must already be created in the DoubleClick Search UI."
        },
        "customMetricName": {
          "type": "string",
          "description": "Name of a custom metric to include in the report. The report must be scoped to an advertiser or lower, and the custom metric must already be set up in DoubleClick Search. The custom metric name, which appears in DoubleClick Search, is case sensitive."
        },
        "columnName": {
          "type": "string",
          "description": "Name of a DoubleClick Search column to include in the report."
        },
        "startDate": {
          "type": "string",
          "description": "Inclusive date in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `endDate`."
        },
        "groupByColumn": {
          "type": "boolean",
          "description": "Synchronous report only. Set to `true` to group by this column. Defaults to `false`."
        }
      }
    },
    "SavedColumnList": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies this as a SavedColumnList resource. Value: the fixed string doubleclicksearch#savedColumnList."
        },
        "items": {
          "items": {
            "$ref": "SavedColumn"
          },
          "type": "array",
          "description": "The saved columns being requested."
        }
      },
      "description": "A list of saved columns. Advertisers create saved columns to report on Floodlight activities, Google Analytics goals, or custom KPIs. To request reports with saved columns, you'll need the saved column names that are available from this list.",
      "id": "SavedColumnList",
      "type": "object"
    },
    "Availability": {
      "properties": {
        "availabilityTimestamp": {
          "type": "string",
          "format": "int64",
          "description": "The time by which all conversions have been uploaded, in epoch millis UTC.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        },
        "agencyId": {
          "type": "string",
          "format": "int64",
          "description": "DS agency ID.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        },
        "segmentationId": {
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).",
          "type": "string",
          "format": "int64"
        },
        "segmentationName": {
          "type": "string",
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name)."
        },
        "customerId": {
          "description": "Customer ID of a client account in the new Search Ads 360 experience.",
          "type": "string"
        },
        "advertiserId": {
          "type": "string",
          "format": "int64",
          "description": "DS advertiser ID.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        },
        "segmentationType": {
          "description": "The segmentation type that this availability is for (its default value is `FLOODLIGHT`).",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "type": "string"
        }
      },
      "description": "A message containing availability data relevant to DoubleClick Search.",
      "id": "Availability",
      "type": "object"
    }
  },
  "rootUrl": "https://doubleclicksearch.googleapis.com/",
  "batchPath": "batch",
  "documentationLink": "https://developers.google.com/search-ads"
}