{
  "servicePath": "",
  "batchPath": "batch",
  "revision": "20260826",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "baseUrl": "https://doubleclicksearch.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclicksearch": {
          "description": "View and manage your advertising data in DoubleClick Search"
        }
      }
    }
  },
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/search-ads",
  "title": "Search Ads 360 API",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "description": "The Search Ads 360 API allows developers to automate uploading conversions and downloading reports from Search Ads 360.",
  "rootUrl": "https://doubleclicksearch.googleapis.com/",
  "resources": {
    "savedColumns": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "SavedColumnList"
          },
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "description": "Retrieve the list of saved columns for a specified advertiser.",
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "httpMethod": "GET",
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "id": "doubleclicksearch.savedColumns.list",
          "parameters": {
            "advertiserId": {
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "DS ID of the advertiser."
            },
            "agencyId": {
              "type": "string",
              "required": true,
              "description": "DS ID of the agency.",
              "location": "path",
              "format": "int64"
            }
          }
        }
      }
    },
    "conversion": {
      "methods": {
        "getByCustomerId": {
          "parameterOrder": [
            "customerId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "response": {
            "$ref": "ConversionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "flatPath": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "parameters": {
            "rowCount": {
              "type": "integer",
              "maximum": "1000",
              "minimum": "1",
              "format": "int32",
              "location": "query",
              "description": "The number of conversions to return per call.",
              "required": true
            },
            "campaignId": {
              "description": "Numeric ID of the campaign.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "engineAccountId": {
              "format": "int64",
              "location": "query",
              "description": "Numeric ID of the engine account.",
              "type": "string"
            },
            "criterionId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Numeric ID of the criterion."
            },
            "adGroupId": {
              "type": "string",
              "description": "Numeric ID of the ad group.",
              "location": "query",
              "format": "int64"
            },
            "startRow": {
              "format": "uint32",
              "description": "The 0-based starting index for retrieving conversions results.",
              "type": "integer",
              "required": true,
              "location": "query"
            },
            "agencyId": {
              "type": "string",
              "format": "int64",
              "description": "Numeric ID of the agency.",
              "location": "query"
            },
            "customerId": {
              "location": "path",
              "description": "Customer ID of a client account in the new Search Ads 360 experience.",
              "type": "string",
              "required": true
            },
            "startDate": {
              "maximum": "99991231",
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "type": "integer",
              "minimum": "20091101",
              "location": "query",
              "format": "int32",
              "required": true
            },
            "adId": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "Numeric ID of the ad."
            },
            "advertiserId": {
              "location": "query",
              "description": "Numeric ID of the advertiser.",
              "format": "int64",
              "type": "string"
            },
            "endDate": {
              "maximum": "99991231",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "format": "int32",
              "minimum": "20091101",
              "type": "integer",
              "location": "query",
              "required": true
            }
          },
          "id": "doubleclicksearch.conversion.getByCustomerId",
          "httpMethod": "GET",
          "path": "doubleclicksearch/v2/customer/{customerId}/conversion"
        },
        "updateAvailability": {
          "parameterOrder": [],
          "request": {
            "$ref": "UpdateAvailabilityRequest"
          },
          "flatPath": "doubleclicksearch/v2/conversion/updateAvailability",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameters": {},
          "response": {
            "$ref": "UpdateAvailabilityResponse"
          },
          "description": "Updates the availabilities of a batch of floodlight activities in DoubleClick Search.",
          "httpMethod": "POST",
          "path": "doubleclicksearch/v2/conversion/updateAvailability",
          "id": "doubleclicksearch.conversion.updateAvailability"
        },
        "update": {
          "parameterOrder": [],
          "flatPath": "doubleclicksearch/v2/conversion",
          "request": {
            "$ref": "ConversionList"
          },
          "id": "doubleclicksearch.conversion.update",
          "parameters": {},
          "response": {
            "$ref": "ConversionList"
          },
          "description": "Updates a batch of conversions in DoubleClick Search.",
          "path": "doubleclicksearch/v2/conversion",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "PUT"
        },
        "get": {
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "id": "doubleclicksearch.conversion.get",
          "parameterOrder": [
            "agencyId",
            "advertiserId",
            "engineAccountId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "response": {
            "$ref": "ConversionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "GET",
          "parameters": {
            "endDate": {
              "location": "query",
              "maximum": "99991231",
              "minimum": "20091101",
              "required": true,
              "format": "int32",
              "type": "integer",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd."
            },
            "startDate": {
              "maximum": "99991231",
              "required": true,
              "type": "integer",
              "minimum": "20091101",
              "location": "query",
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "format": "int32"
            },
            "customerId": {
              "type": "string",
              "description": "Customer ID of a client account in the new Search Ads 360 experience.",
              "location": "query"
            },
            "agencyId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "Numeric ID of the agency."
            },
            "adId": {
              "type": "string",
              "format": "int64",
              "description": "Numeric ID of the ad.",
              "location": "query"
            },
            "advertiserId": {
              "format": "int64",
              "type": "string",
              "location": "path",
              "description": "Numeric ID of the advertiser.",
              "required": true
            },
            "campaignId": {
              "type": "string",
              "description": "Numeric ID of the campaign.",
              "format": "int64",
              "location": "query"
            },
            "criterionId": {
              "description": "Numeric ID of the criterion.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "rowCount": {
              "location": "query",
              "description": "The number of conversions to return per call.",
              "maximum": "1000",
              "minimum": "1",
              "required": true,
              "type": "integer",
              "format": "int32"
            },
            "startRow": {
              "required": true,
              "type": "integer",
              "location": "query",
              "format": "uint32",
              "description": "The 0-based starting index for retrieving conversions results."
            },
            "engineAccountId": {
              "location": "path",
              "required": true,
              "description": "Numeric ID of the engine account.",
              "format": "int64",
              "type": "string"
            },
            "adGroupId": {
              "type": "string",
              "location": "query",
              "description": "Numeric ID of the ad group.",
              "format": "int64"
            }
          },
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion"
        },
        "insert": {
          "flatPath": "doubleclicksearch/v2/conversion",
          "request": {
            "$ref": "ConversionList"
          },
          "httpMethod": "POST",
          "id": "doubleclicksearch.conversion.insert",
          "description": "Inserts a batch of new conversions into DoubleClick Search.",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "ConversionList"
          },
          "parameterOrder": [],
          "path": "doubleclicksearch/v2/conversion"
        }
      }
    },
    "reports": {
      "methods": {
        "get": {
          "parameters": {
            "reportId": {
              "description": "ID of the report request being polled.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "reportId"
          ],
          "id": "doubleclicksearch.reports.get",
          "flatPath": "doubleclicksearch/v2/reports/{reportId}",
          "httpMethod": "GET",
          "path": "doubleclicksearch/v2/reports/{reportId}",
          "response": {
            "$ref": "Report"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Polls for the status of a report request."
        },
        "request": {
          "request": {
            "$ref": "ReportRequest"
          },
          "path": "doubleclicksearch/v2/reports",
          "id": "doubleclicksearch.reports.request",
          "flatPath": "doubleclicksearch/v2/reports",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Inserts a report request into the reporting system.",
          "parameterOrder": [],
          "parameters": {},
          "response": {
            "$ref": "Report"
          }
        },
        "getIdMappingFile": {
          "id": "doubleclicksearch.reports.getIdMappingFile",
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "useMediaDownloadService": true,
          "description": "Downloads a csv file(encoded in UTF-8) that contains ID mappings between legacy SA360 and new SA360. The file includes all children entities of the given advertiser(e.g. engine accounts, campaigns, ad groups, etc.) that exist in both legacy SA360 and new SA360.",
          "parameters": {
            "agencyId": {
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "Legacy SA360 agency ID."
            },
            "advertiserId": {
              "required": true,
              "description": "Legacy SA360 advertiser ID.",
              "location": "path",
              "format": "int64",
              "type": "string"
            }
          },
          "supportsMediaDownload": true,
          "httpMethod": "GET",
          "response": {
            "$ref": "IdMappingFile"
          }
        },
        "getFile": {
          "httpMethod": "GET",
          "path": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "id": "doubleclicksearch.reports.getFile",
          "flatPath": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameters": {
            "reportId": {
              "type": "string",
              "description": "ID of the report.",
              "location": "path",
              "required": true
            },
            "reportFragment": {
              "format": "int32",
              "required": true,
              "description": "The index of the report fragment to download.",
              "location": "path",
              "type": "integer",
              "minimum": "0"
            }
          },
          "description": "Downloads a report file encoded in UTF-8.",
          "parameterOrder": [
            "reportId",
            "reportFragment"
          ],
          "supportsMediaDownload": true,
          "useMediaDownloadService": true
        },
        "generate": {
          "parameters": {},
          "request": {
            "$ref": "ReportRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "Report"
          },
          "path": "doubleclicksearch/v2/reports/generate",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Generates and returns a report immediately.",
          "parameterOrder": [],
          "flatPath": "doubleclicksearch/v2/reports/generate",
          "id": "doubleclicksearch.reports.generate"
        }
      }
    }
  },
  "version": "v2",
  "canonicalName": "Doubleclicksearch",
  "schemas": {
    "SavedColumn": {
      "properties": {
        "kind": {
          "description": "Identifies this as a SavedColumn resource. Value: the fixed string doubleclicksearch#savedColumn.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of data this saved column will produce."
        },
        "savedColumnName": {
          "description": "The name of the saved column.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A saved column",
      "id": "SavedColumn"
    },
    "SavedColumnList": {
      "description": "A list of saved columns. Advertisers create saved columns to report on Floodlight activities, Google Analytics goals, or custom KPIs. To request reports with saved columns, you'll need the saved column names that are available from this list.",
      "id": "SavedColumnList",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies this as a SavedColumnList resource. Value: the fixed string doubleclicksearch#savedColumnList."
        },
        "items": {
          "type": "array",
          "description": "The saved columns being requested.",
          "items": {
            "$ref": "SavedColumn"
          }
        }
      }
    },
    "ReportApiColumnSpec": {
      "id": "ReportApiColumnSpec",
      "properties": {
        "headerText": {
          "description": "Text used to identify this column in the report output; defaults to `columnName` or `savedColumnName` when not specified. This can be used to prevent collisions between DoubleClick Search columns and saved columns with the same name.",
          "type": "string"
        },
        "startDate": {
          "type": "string",
          "description": "Inclusive date in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `endDate`."
        },
        "productReportPerspective": {
          "description": "Returns metrics only for a specific type of product activity. Accepted values are: - \"`sold`\": returns metrics only for products that were sold - \"`advertised`\": returns metrics only for products that were advertised in a Shopping campaign, and that might or might not have been sold ",
          "type": "string"
        },
        "customMetricName": {
          "description": "Name of a custom metric to include in the report. The report must be scoped to an advertiser or lower, and the custom metric must already be set up in DoubleClick Search. The custom metric name, which appears in DoubleClick Search, is case sensitive.",
          "type": "string"
        },
        "endDate": {
          "type": "string",
          "description": "Inclusive day in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `startDate`."
        },
        "savedColumnName": {
          "type": "string",
          "description": "Name of a saved column to include in the report. The report must be scoped at advertiser or lower, and this saved column must already be created in the DoubleClick Search UI."
        },
        "groupByColumn": {
          "type": "boolean",
          "description": "Synchronous report only. Set to `true` to group by this column. Defaults to `false`."
        },
        "platformSource": {
          "type": "string",
          "description": "The platform that is used to provide data for the custom dimension. Acceptable values are \"floodlight\"."
        },
        "customDimensionName": {
          "description": "Segments a report by a custom dimension. The report must be scoped to an advertiser or lower, and the custom dimension must already be set up in DoubleClick Search. The custom dimension name, which appears in DoubleClick Search, is case sensitive.\\ If used in a conversion report, returns the value of the specified custom dimension for the given conversion, if set. This column does not segment the conversion report.",
          "type": "string"
        },
        "columnName": {
          "description": "Name of a DoubleClick Search column to include in the report.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A request object used to create a DoubleClick Search report."
    },
    "ReportRow": {
      "id": "ReportRow",
      "type": "object",
      "description": "A row in a DoubleClick Search report.",
      "additionalProperties": {
        "description": "Indicates the columns that are represented in this row. That is, each key corresponds to a column with a non-empty cell in this row.",
        "type": "any"
      }
    },
    "UpdateAvailabilityResponse": {
      "properties": {
        "availabilities": {
          "type": "array",
          "description": "The availabilities being returned.",
          "items": {
            "$ref": "Availability"
          }
        }
      },
      "description": "The response to a update availability request.",
      "type": "object",
      "id": "UpdateAvailabilityResponse"
    },
    "ConversionList": {
      "id": "ConversionList",
      "properties": {
        "kind": {
          "description": "Identifies this as a ConversionList resource. Value: the fixed string doubleclicksearch#conversionList.",
          "type": "string"
        },
        "conversion": {
          "items": {
            "$ref": "Conversion"
          },
          "type": "array",
          "description": "The conversions being requested."
        }
      },
      "description": "A list of conversions.",
      "type": "object"
    },
    "CustomMetric": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Custom metric name."
        },
        "value": {
          "type": "number",
          "format": "double",
          "description": "Custom metric numeric value."
        }
      },
      "description": "A message containing the custom metric.",
      "id": "CustomMetric"
    },
    "Conversion": {
      "type": "object",
      "properties": {
        "deviceType": {
          "type": "string",
          "description": "The type of device on which the conversion occurred."
        },
        "quantityMillis": {
          "type": "string",
          "format": "int64",
          "description": "The quantity of this conversion, in millis."
        },
        "clickId": {
          "description": "DS click ID for the conversion.",
          "type": "string"
        },
        "productId": {
          "description": "The product ID (SKU).",
          "type": "string"
        },
        "customMetric": {
          "items": {
            "$ref": "CustomMetric"
          },
          "description": "Custom metrics for the conversion.",
          "type": "array"
        },
        "customDimension": {
          "type": "array",
          "items": {
            "$ref": "CustomDimension"
          },
          "description": "Custom dimensions for the conversion, which can be used to filter data in a report."
        },
        "campaignId": {
          "format": "int64",
          "description": "DS campaign ID.",
          "type": "string"
        },
        "channel": {
          "type": "string",
          "description": "Sales channel for the product. Acceptable values are: - \"`local`\": a physical store - \"`online`\": an online store "
        },
        "segmentationName": {
          "type": "string",
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name)."
        },
        "revenueMicros": {
          "type": "string",
          "description": "The revenue amount of this `TRANSACTION` conversion, in micros (value multiplied by 1000000, no decimal). For example, to specify a revenue value of \"10\" enter \"10000000\" (10 million) in your request."
        },
        "floodlightOrderId": {
          "description": "The Floodlight order ID provided by the advertiser for the conversion.",
          "type": "string"
        },
        "productGroupId": {
          "description": "DS product group ID.",
          "format": "int64",
          "type": "string"
        },
        "productCountry": {
          "description": "The country registered for the Merchant Center feed that contains the product. Use an ISO 3166 code to specify a country.",
          "type": "string"
        },
        "countMillis": {
          "format": "int64",
          "type": "string",
          "description": "Available to advertisers only after contacting DoubleClick Search customer support."
        },
        "adId": {
          "description": "DS ad ID.",
          "type": "string",
          "format": "int64"
        },
        "segmentationType": {
          "description": "The segmentation type of this conversion (for example, `FLOODLIGHT`).",
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          }
        },
        "conversionId": {
          "type": "string",
          "description": "For offline conversions, advertisers provide this ID. Advertisers can specify any ID that is meaningful to them. Each conversion in a request must specify a unique ID, and the combination of ID and timestamp must be unique amongst all conversions within the advertiser. For online conversions, DS copies the `dsConversionId` or `floodlightOrderId` into this property depending on the advertiser's Floodlight instructions.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          }
        },
        "adUserDataConsent": {
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ],
          "type": "string",
          "description": "Represents consent for core platform services (CPS) preferences in settings. No default value. Acceptable values are: GRANTED: The desired consent status is to grant. Read the CPS preferences from GTE settings. DENIED: The desired consent status is to deny; CPS list is empty.",
          "enum": [
            "UNKNOWN",
            "GRANTED",
            "DENIED"
          ]
        },
        "type": {
          "type": "string",
          "description": "The type of the conversion, that is, either `ACTION` or `TRANSACTION`. An `ACTION` conversion is an action by the user that has no monetarily quantifiable value, while a `TRANSACTION` conversion is an action that does have a monetarily quantifiable value. Examples are email list signups (`ACTION`) versus ecommerce purchases (`TRANSACTION`)."
        },
        "inventoryAccountId": {
          "description": "ID that DS generates and uses to uniquely identify the inventory account that contains the product.",
          "type": "string",
          "format": "int64"
        },
        "customerId": {
          "description": "Customer ID of a client account in the new Search Ads 360 experience.",
          "type": "string"
        },
        "currencyCode": {
          "description": "The currency code for the conversion's revenue. Should be in ISO 4217 alphabetic (3-char) format.",
          "type": "string"
        },
        "adGroupId": {
          "description": "DS ad group ID.",
          "format": "int64",
          "type": "string"
        },
        "storeId": {
          "description": "The ID of the local store for which the product was advertised. Applicable only when the channel is \"`local`\".",
          "type": "string"
        },
        "conversionTimestamp": {
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "type": "string",
          "description": "The time at which the conversion took place, in epoch millis UTC."
        },
        "advertiserId": {
          "type": "string",
          "format": "int64",
          "description": "DS advertiser ID."
        },
        "segmentationId": {
          "format": "int64",
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).",
          "type": "string"
        },
        "agencyId": {
          "format": "int64",
          "type": "string",
          "description": "DS agency ID."
        },
        "attributionModel": {
          "type": "string",
          "description": "Available to advertisers only after contacting DoubleClick Search customer support."
        },
        "dsConversionId": {
          "description": "ID that DoubleClick Search generates for each conversion.",
          "format": "int64",
          "type": "string"
        },
        "conversionModifiedTimestamp": {
          "description": "The time at which the conversion was last modified, in epoch millis UTC.",
          "type": "string",
          "format": "int64"
        },
        "engineAccountId": {
          "type": "string",
          "format": "int64",
          "description": "DS engine account ID."
        },
        "productLanguage": {
          "type": "string",
          "description": "The language registered for the Merchant Center feed that contains the product. Use an ISO 639 code to specify a language."
        },
        "criterionId": {
          "format": "int64",
          "type": "string",
          "description": "DS criterion (keyword) ID."
        },
        "state": {
          "description": "The state of the conversion, that is, either `ACTIVE` or `REMOVED`. Note: state DELETED is deprecated.",
          "type": "string"
        }
      },
      "description": "A conversion containing data relevant to DoubleClick Search. Common DS3 API conversion fields: Id Range [1 - 2800]. Next Id to use: 33",
      "id": "Conversion"
    },
    "UpdateAvailabilityRequest": {
      "description": "The request to update availability.",
      "id": "UpdateAvailabilityRequest",
      "properties": {
        "availabilities": {
          "description": "The availabilities being requested.",
          "items": {
            "$ref": "Availability"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CustomDimension": {
      "type": "object",
      "id": "CustomDimension",
      "properties": {
        "value": {
          "description": "Custom dimension value.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Custom dimension name."
        }
      },
      "description": "A message containing the custom dimension."
    },
    "Report": {
      "description": "A DoubleClick Search report. This object contains the report request, some report metadata such as currency code, and the generated report rows or report files.",
      "id": "Report",
      "type": "object",
      "properties": {
        "rowCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of report rows generated by the report, not including headers."
        },
        "statisticsTimeZone": {
          "description": "If all statistics of the report are sourced from the same time zone, this would be it. Otherwise the field is unset.",
          "type": "string"
        },
        "statisticsCurrencyCode": {
          "description": "The currency code of all monetary values produced in the report, including values that are set by users (e.g., keyword bid settings) and metrics (e.g., cost and revenue). The currency code of a report is determined by the `statisticsCurrency` field of the report request.",
          "type": "string"
        },
        "id": {
          "description": "Asynchronous report only. Id of the report.",
          "type": "string"
        },
        "isReportReady": {
          "description": "Asynchronous report only. True if and only if the report has completed successfully and the report files are ready to be downloaded.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "Identifies this as a Report resource. Value: the fixed string `doubleclicksearch#report`."
        },
        "files": {
          "description": "Asynchronous report only. Contains a list of generated report files once the report has successfully completed.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "description": "Use this url to download the report file."
              },
              "byteCount": {
                "type": "string",
                "format": "int64",
                "description": "The size of this report file in bytes."
              }
            }
          }
        },
        "request": {
          "description": "The request that created the report. Optional fields not specified in the original request are filled with default values.",
          "$ref": "ReportRequest"
        },
        "rows": {
          "description": "Synchronous report only. Generated report rows.",
          "items": {
            "$ref": "ReportRow"
          },
          "type": "array"
        }
      }
    },
    "Availability": {
      "type": "object",
      "id": "Availability",
      "properties": {
        "customerId": {
          "description": "Customer ID of a client account in the new Search Ads 360 experience.",
          "type": "string"
        },
        "segmentationId": {
          "format": "int64",
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).",
          "type": "string"
        },
        "segmentationName": {
          "type": "string",
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name)."
        },
        "agencyId": {
          "format": "int64",
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "description": "DS agency ID."
        },
        "advertiserId": {
          "type": "string",
          "format": "int64",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "description": "DS advertiser ID."
        },
        "availabilityTimestamp": {
          "type": "string",
          "format": "int64",
          "description": "The time by which all conversions have been uploaded, in epoch millis UTC.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        },
        "segmentationType": {
          "description": "The segmentation type that this availability is for (its default value is `FLOODLIGHT`).",
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        }
      },
      "description": "A message containing availability data relevant to DoubleClick Search."
    },
    "IdMappingFile": {
      "type": "object",
      "id": "IdMappingFile",
      "description": "File returned to https://developers.google.com/search-ads/v2/reference/reports/getIdMappingFile.",
      "properties": {}
    },
    "ReportRequest": {
      "properties": {
        "orderBy": {
          "items": {
            "properties": {
              "column": {
                "description": "Column to perform the sort on. This can be a DoubleClick Search-defined column or a saved column.",
                "$ref": "ReportApiColumnSpec"
              },
              "sortOrder": {
                "description": "The sort direction, which is either `ascending` or `descending`.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "description": "Synchronous report only. A list of columns and directions defining sorting to be performed on the report rows.\\ The maximum number of orderings per request is 300.",
          "type": "array"
        },
        "statisticsCurrency": {
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "string",
          "description": "Specifies the currency in which monetary will be returned. Possible values are: `usd`, `agency` (valid if the report is scoped to agency or lower), `advertiser` (valid if the report is scoped to * advertiser or lower), or `account` (valid if the report is scoped to engine account or lower)."
        },
        "startRow": {
          "format": "int32",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "type": "integer",
          "description": "Synchronous report only. Zero-based index of the first row to return. Acceptable values are `0` to `50000`, inclusive. Defaults to `0`."
        },
        "downloadFormat": {
          "description": "Format that the report should be returned in. Currently `csv` or `tsv` is supported.",
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          }
        },
        "reportScope": {
          "type": "object",
          "properties": {
            "keywordId": {
              "type": "string",
              "description": "DS keyword ID.",
              "format": "int64"
            },
            "adGroupId": {
              "description": "DS ad group ID.",
              "type": "string",
              "format": "int64"
            },
            "engineAccountId": {
              "format": "int64",
              "type": "string",
              "description": "DS engine account ID."
            },
            "adId": {
              "type": "string",
              "description": "DS ad ID.",
              "format": "int64"
            },
            "agencyId": {
              "type": "string",
              "format": "int64",
              "description": "DS agency ID."
            },
            "advertiserId": {
              "description": "DS advertiser ID.",
              "format": "int64",
              "type": "string"
            },
            "campaignId": {
              "type": "string",
              "description": "DS campaign ID.",
              "format": "int64"
            }
          },
          "description": "The reportScope is a set of IDs that are used to determine which subset of entities will be returned in the report. The full lineage of IDs from the lowest scoped level desired up through agency is required."
        },
        "maxRowsPerFile": {
          "type": "integer",
          "format": "int32",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "description": "Asynchronous report only. The maximum number of rows per report file. A large report is split into many files based on this field. Acceptable values are `1000000` to `100000000`, inclusive."
        },
        "filters": {
          "description": "A list of filters to be applied to the report.\\ The maximum number of filters per request is 300.",
          "type": "array",
          "items": {
            "properties": {
              "operator": {
                "description": "Operator to use in the filter. See the filter reference for a list of available operators.",
                "type": "string"
              },
              "values": {
                "type": "array",
                "items": {
                  "type": "any"
                },
                "description": "A list of values to filter the column value against.\\ The maximum number of filter values per request is 300."
              },
              "column": {
                "description": "Column to perform the filter on. This can be a DoubleClick Search column or a saved column.",
                "$ref": "ReportApiColumnSpec"
              }
            },
            "type": "object"
          }
        },
        "rowCount": {
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "type": "integer",
          "format": "int32",
          "description": "Synchronous report only. The maximum number of rows to return; additional rows are dropped. Acceptable values are `0` to `10000`, inclusive. Defaults to `10000`."
        },
        "verifySingleTimeZone": {
          "type": "boolean",
          "description": "If `true`, the report would only be created if all the requested stat data are sourced from a single timezone. Defaults to `false`."
        },
        "columns": {
          "description": "The columns to include in the report. This includes both DoubleClick Search columns and saved columns. For DoubleClick Search columns, only the `columnName` parameter is required. For saved columns only the `savedColumnName` parameter is required. Both `columnName` and `savedColumnName` cannot be set in the same stanza.\\ The maximum number of columns per request is 300.",
          "type": "array",
          "items": {
            "$ref": "ReportApiColumnSpec"
          }
        },
        "reportType": {
          "description": "Determines the type of rows that are returned in the report. For example, if you specify `reportType: keyword`, each row in the report will contain data about a keyword. See the [Types of Reports](/search-ads/v2/report-types/) reference for the columns that are available for each type.",
          "type": "string",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          }
        },
        "includeRemovedEntities": {
          "type": "boolean",
          "description": "Determines if removed entities should be included in the report. Defaults to `false`."
        },
        "timeRange": {
          "type": "object",
          "description": "If metrics are requested in a report, this argument will be used to restrict the metrics to a specific time range.",
          "properties": {
            "changedMetricsSinceTimestamp": {
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed metrics reports work.",
              "type": "string"
            },
            "startDate": {
              "description": "Inclusive date in YYYY-MM-DD format.",
              "type": "string"
            },
            "endDate": {
              "description": "Inclusive date in YYYY-MM-DD format.",
              "type": "string"
            },
            "changedAttributesSinceTimestamp": {
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed attribute reports work.",
              "type": "string"
            }
          }
        },
        "includeDeletedEntities": {
          "description": "Determines if removed entities should be included in the report. Defaults to `false`. Deprecated, please use `includeRemovedEntities` instead.",
          "type": "boolean"
        }
      },
      "id": "ReportRequest",
      "description": "A request object used to create a DoubleClick Search report.",
      "type": "object"
    }
  },
  "mtlsRootUrl": "https://doubleclicksearch.mtls.googleapis.com/",
  "id": "doubleclicksearch:v2",
  "name": "doubleclicksearch",
  "basePath": ""
}