{
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "canonicalName": "Doubleclicksearch",
  "revision": "20260908",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclicksearch": {
          "description": "View and manage your advertising data in DoubleClick Search"
        }
      }
    }
  },
  "rootUrl": "https://doubleclicksearch.googleapis.com/",
  "mtlsRootUrl": "https://doubleclicksearch.mtls.googleapis.com/",
  "servicePath": "",
  "batchPath": "batch",
  "id": "doubleclicksearch:v2",
  "baseUrl": "https://doubleclicksearch.googleapis.com/",
  "version": "v2",
  "documentationLink": "https://developers.google.com/search-ads",
  "resources": {
    "savedColumns": {
      "methods": {
        "list": {
          "id": "doubleclicksearch.savedColumns.list",
          "httpMethod": "GET",
          "parameters": {
            "advertiserId": {
              "type": "string",
              "description": "DS ID of the advertiser.",
              "required": true,
              "format": "int64",
              "location": "path"
            },
            "agencyId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "DS ID of the agency.",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "SavedColumnList"
          },
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "description": "Retrieve the list of saved columns for a specified advertiser.",
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns"
        }
      }
    },
    "reports": {
      "methods": {
        "getFile": {
          "path": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "supportsMediaDownload": true,
          "parameters": {
            "reportId": {
              "type": "string",
              "description": "ID of the report.",
              "required": true,
              "location": "path"
            },
            "reportFragment": {
              "minimum": "0",
              "description": "The index of the report fragment to download.",
              "format": "int32",
              "location": "path",
              "type": "integer",
              "required": true
            }
          },
          "id": "doubleclicksearch.reports.getFile",
          "useMediaDownloadService": true,
          "httpMethod": "GET",
          "flatPath": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [
            "reportId",
            "reportFragment"
          ],
          "description": "Downloads a report file encoded in UTF-8."
        },
        "get": {
          "parameters": {
            "reportId": {
              "description": "ID of the report request being polled.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [
            "reportId"
          ],
          "httpMethod": "GET",
          "flatPath": "doubleclicksearch/v2/reports/{reportId}",
          "path": "doubleclicksearch/v2/reports/{reportId}",
          "response": {
            "$ref": "Report"
          },
          "description": "Polls for the status of a report request.",
          "id": "doubleclicksearch.reports.get"
        },
        "request": {
          "httpMethod": "POST",
          "parameters": {},
          "response": {
            "$ref": "Report"
          },
          "parameterOrder": [],
          "description": "Inserts a report request into the reporting system.",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "doubleclicksearch/v2/reports",
          "id": "doubleclicksearch.reports.request",
          "path": "doubleclicksearch/v2/reports",
          "request": {
            "$ref": "ReportRequest"
          }
        },
        "getIdMappingFile": {
          "response": {
            "$ref": "IdMappingFile"
          },
          "id": "doubleclicksearch.reports.getIdMappingFile",
          "description": "Downloads a csv file(encoded in UTF-8) that contains ID mappings between legacy SA360 and new SA360. The file includes all children entities of the given advertiser(e.g. engine accounts, campaigns, ad groups, etc.) that exist in both legacy SA360 and new SA360.",
          "useMediaDownloadService": true,
          "supportsMediaDownload": true,
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "parameters": {
            "advertiserId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Legacy SA360 advertiser ID.",
              "format": "int64"
            },
            "agencyId": {
              "description": "Legacy SA360 agency ID.",
              "format": "int64",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "generate": {
          "response": {
            "$ref": "Report"
          },
          "path": "doubleclicksearch/v2/reports/generate",
          "request": {
            "$ref": "ReportRequest"
          },
          "parameters": {},
          "description": "Generates and returns a report immediately.",
          "httpMethod": "POST",
          "flatPath": "doubleclicksearch/v2/reports/generate",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "doubleclicksearch.reports.generate",
          "parameterOrder": []
        }
      }
    },
    "conversion": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "ConversionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "doubleclicksearch/v2/conversion",
          "response": {
            "$ref": "ConversionList"
          },
          "description": "Inserts a batch of new conversions into DoubleClick Search.",
          "parameters": {},
          "httpMethod": "POST",
          "flatPath": "doubleclicksearch/v2/conversion",
          "parameterOrder": [],
          "id": "doubleclicksearch.conversion.insert"
        },
        "update": {
          "id": "doubleclicksearch.conversion.update",
          "request": {
            "$ref": "ConversionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "ConversionList"
          },
          "parameterOrder": [],
          "description": "Updates a batch of conversions in DoubleClick Search.",
          "parameters": {},
          "httpMethod": "PUT",
          "path": "doubleclicksearch/v2/conversion",
          "flatPath": "doubleclicksearch/v2/conversion"
        },
        "get": {
          "parameters": {
            "startDate": {
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "maximum": "99991231",
              "format": "int32",
              "location": "query",
              "required": true,
              "minimum": "20091101",
              "type": "integer"
            },
            "campaignId": {
              "description": "Numeric ID of the campaign.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "adId": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "Numeric ID of the ad."
            },
            "endDate": {
              "type": "integer",
              "format": "int32",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "maximum": "99991231",
              "location": "query",
              "required": true,
              "minimum": "20091101"
            },
            "adGroupId": {
              "location": "query",
              "description": "Numeric ID of the ad group.",
              "format": "int64",
              "type": "string"
            },
            "agencyId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "Numeric ID of the agency.",
              "type": "string"
            },
            "rowCount": {
              "description": "The number of conversions to return per call.",
              "location": "query",
              "required": true,
              "format": "int32",
              "maximum": "1000",
              "type": "integer",
              "minimum": "1"
            },
            "engineAccountId": {
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Numeric ID of the engine account."
            },
            "advertiserId": {
              "description": "Numeric ID of the advertiser.",
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true
            },
            "criterionId": {
              "description": "Numeric ID of the criterion.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "customerId": {
              "description": "Customer ID of a client account in the new Search Ads 360 experience.",
              "type": "string",
              "location": "query"
            },
            "startRow": {
              "format": "uint32",
              "description": "The 0-based starting index for retrieving conversions results.",
              "type": "integer",
              "location": "query",
              "required": true
            }
          },
          "response": {
            "$ref": "ConversionList"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "parameterOrder": [
            "agencyId",
            "advertiserId",
            "engineAccountId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "id": "doubleclicksearch.conversion.get",
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account."
        },
        "updateAvailability": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "request": {
            "$ref": "UpdateAvailabilityRequest"
          },
          "path": "doubleclicksearch/v2/conversion/updateAvailability",
          "response": {
            "$ref": "UpdateAvailabilityResponse"
          },
          "description": "Updates the availabilities of a batch of floodlight activities in DoubleClick Search.",
          "parameters": {},
          "httpMethod": "POST",
          "id": "doubleclicksearch.conversion.updateAvailability",
          "parameterOrder": [],
          "flatPath": "doubleclicksearch/v2/conversion/updateAvailability"
        },
        "getByCustomerId": {
          "response": {
            "$ref": "ConversionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "path": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "httpMethod": "GET",
          "parameterOrder": [
            "customerId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "parameters": {
            "engineAccountId": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "Numeric ID of the engine account."
            },
            "campaignId": {
              "location": "query",
              "format": "int64",
              "description": "Numeric ID of the campaign.",
              "type": "string"
            },
            "adId": {
              "type": "string",
              "format": "int64",
              "description": "Numeric ID of the ad.",
              "location": "query"
            },
            "rowCount": {
              "minimum": "1",
              "description": "The number of conversions to return per call.",
              "maximum": "1000",
              "location": "query",
              "format": "int32",
              "required": true,
              "type": "integer"
            },
            "endDate": {
              "format": "int32",
              "location": "query",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "required": true,
              "maximum": "99991231",
              "type": "integer",
              "minimum": "20091101"
            },
            "agencyId": {
              "description": "Numeric ID of the agency.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "startDate": {
              "location": "query",
              "required": true,
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "format": "int32",
              "maximum": "99991231",
              "type": "integer",
              "minimum": "20091101"
            },
            "advertiserId": {
              "type": "string",
              "description": "Numeric ID of the advertiser.",
              "format": "int64",
              "location": "query"
            },
            "criterionId": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "Numeric ID of the criterion."
            },
            "customerId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Customer ID of a client account in the new Search Ads 360 experience."
            },
            "adGroupId": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "Numeric ID of the ad group."
            },
            "startRow": {
              "required": true,
              "description": "The 0-based starting index for retrieving conversions results.",
              "location": "query",
              "format": "uint32",
              "type": "integer"
            }
          },
          "flatPath": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "id": "doubleclicksearch.conversion.getByCustomerId"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "name": "doubleclicksearch",
  "description": "The Search Ads 360 API allows developers to automate uploading conversions and downloading reports from Search Ads 360.",
  "basePath": "",
  "protocol": "rest",
  "schemas": {
    "Report": {
      "type": "object",
      "properties": {
        "rows": {
          "type": "array",
          "description": "Synchronous report only. Generated report rows.",
          "items": {
            "$ref": "ReportRow"
          }
        },
        "statisticsCurrencyCode": {
          "description": "The currency code of all monetary values produced in the report, including values that are set by users (e.g., keyword bid settings) and metrics (e.g., cost and revenue). The currency code of a report is determined by the `statisticsCurrency` field of the report request.",
          "type": "string"
        },
        "rowCount": {
          "format": "int32",
          "description": "The number of report rows generated by the report, not including headers.",
          "type": "integer"
        },
        "isReportReady": {
          "type": "boolean",
          "description": "Asynchronous report only. True if and only if the report has completed successfully and the report files are ready to be downloaded."
        },
        "id": {
          "type": "string",
          "description": "Asynchronous report only. Id of the report."
        },
        "request": {
          "description": "The request that created the report. Optional fields not specified in the original request are filled with default values.",
          "$ref": "ReportRequest"
        },
        "files": {
          "items": {
            "type": "object",
            "properties": {
              "url": {
                "description": "Use this url to download the report file.",
                "type": "string"
              },
              "byteCount": {
                "type": "string",
                "description": "The size of this report file in bytes.",
                "format": "int64"
              }
            }
          },
          "type": "array",
          "description": "Asynchronous report only. Contains a list of generated report files once the report has successfully completed."
        },
        "kind": {
          "description": "Identifies this as a Report resource. Value: the fixed string `doubleclicksearch#report`.",
          "type": "string"
        },
        "statisticsTimeZone": {
          "description": "If all statistics of the report are sourced from the same time zone, this would be it. Otherwise the field is unset.",
          "type": "string"
        }
      },
      "description": "A DoubleClick Search report. This object contains the report request, some report metadata such as currency code, and the generated report rows or report files.",
      "id": "Report"
    },
    "SavedColumn": {
      "description": "A saved column",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of data this saved column will produce."
        },
        "kind": {
          "description": "Identifies this as a SavedColumn resource. Value: the fixed string doubleclicksearch#savedColumn.",
          "type": "string"
        },
        "savedColumnName": {
          "type": "string",
          "description": "The name of the saved column."
        }
      },
      "id": "SavedColumn"
    },
    "ReportApiColumnSpec": {
      "type": "object",
      "properties": {
        "groupByColumn": {
          "type": "boolean",
          "description": "Synchronous report only. Set to `true` to group by this column. Defaults to `false`."
        },
        "savedColumnName": {
          "description": "Name of a saved column to include in the report. The report must be scoped at advertiser or lower, and this saved column must already be created in the DoubleClick Search UI.",
          "type": "string"
        },
        "productReportPerspective": {
          "description": "Returns metrics only for a specific type of product activity. Accepted values are: - \"`sold`\": returns metrics only for products that were sold - \"`advertised`\": returns metrics only for products that were advertised in a Shopping campaign, and that might or might not have been sold ",
          "type": "string"
        },
        "headerText": {
          "type": "string",
          "description": "Text used to identify this column in the report output; defaults to `columnName` or `savedColumnName` when not specified. This can be used to prevent collisions between DoubleClick Search columns and saved columns with the same name."
        },
        "customDimensionName": {
          "type": "string",
          "description": "Segments a report by a custom dimension. The report must be scoped to an advertiser or lower, and the custom dimension must already be set up in DoubleClick Search. The custom dimension name, which appears in DoubleClick Search, is case sensitive.\\ If used in a conversion report, returns the value of the specified custom dimension for the given conversion, if set. This column does not segment the conversion report."
        },
        "customMetricName": {
          "type": "string",
          "description": "Name of a custom metric to include in the report. The report must be scoped to an advertiser or lower, and the custom metric must already be set up in DoubleClick Search. The custom metric name, which appears in DoubleClick Search, is case sensitive."
        },
        "endDate": {
          "type": "string",
          "description": "Inclusive day in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `startDate`."
        },
        "startDate": {
          "type": "string",
          "description": "Inclusive date in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `endDate`."
        },
        "columnName": {
          "description": "Name of a DoubleClick Search column to include in the report.",
          "type": "string"
        },
        "platformSource": {
          "description": "The platform that is used to provide data for the custom dimension. Acceptable values are \"floodlight\".",
          "type": "string"
        }
      },
      "id": "ReportApiColumnSpec",
      "description": "A request object used to create a DoubleClick Search report."
    },
    "ReportRow": {
      "id": "ReportRow",
      "description": "A row in a DoubleClick Search report.",
      "type": "object",
      "additionalProperties": {
        "description": "Indicates the columns that are represented in this row. That is, each key corresponds to a column with a non-empty cell in this row.",
        "type": "any"
      }
    },
    "Conversion": {
      "properties": {
        "productGroupId": {
          "type": "string",
          "description": "DS product group ID.",
          "format": "int64"
        },
        "customMetric": {
          "items": {
            "$ref": "CustomMetric"
          },
          "type": "array",
          "description": "Custom metrics for the conversion."
        },
        "advertiserId": {
          "format": "int64",
          "type": "string",
          "description": "DS advertiser ID."
        },
        "adId": {
          "description": "DS ad ID.",
          "type": "string",
          "format": "int64"
        },
        "type": {
          "description": "The type of the conversion, that is, either `ACTION` or `TRANSACTION`. An `ACTION` conversion is an action by the user that has no monetarily quantifiable value, while a `TRANSACTION` conversion is an action that does have a monetarily quantifiable value. Examples are email list signups (`ACTION`) versus ecommerce purchases (`TRANSACTION`).",
          "type": "string"
        },
        "conversionId": {
          "type": "string",
          "description": "For offline conversions, advertisers provide this ID. Advertisers can specify any ID that is meaningful to them. Each conversion in a request must specify a unique ID, and the combination of ID and timestamp must be unique amongst all conversions within the advertiser. For online conversions, DS copies the `dsConversionId` or `floodlightOrderId` into this property depending on the advertiser's Floodlight instructions.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          }
        },
        "customerId": {
          "type": "string",
          "description": "Customer ID of a client account in the new Search Ads 360 experience."
        },
        "attributionModel": {
          "description": "Available to advertisers only after contacting DoubleClick Search customer support.",
          "type": "string"
        },
        "productId": {
          "type": "string",
          "description": "The product ID (SKU)."
        },
        "campaignId": {
          "format": "int64",
          "type": "string",
          "description": "DS campaign ID."
        },
        "storeId": {
          "description": "The ID of the local store for which the product was advertised. Applicable only when the channel is \"`local`\".",
          "type": "string"
        },
        "customDimension": {
          "type": "array",
          "description": "Custom dimensions for the conversion, which can be used to filter data in a report.",
          "items": {
            "$ref": "CustomDimension"
          }
        },
        "clickId": {
          "type": "string",
          "description": "DS click ID for the conversion."
        },
        "floodlightOrderId": {
          "description": "The Floodlight order ID provided by the advertiser for the conversion.",
          "type": "string"
        },
        "channel": {
          "description": "Sales channel for the product. Acceptable values are: - \"`local`\": a physical store - \"`online`\": an online store ",
          "type": "string"
        },
        "currencyCode": {
          "description": "The currency code for the conversion's revenue. Should be in ISO 4217 alphabetic (3-char) format.",
          "type": "string"
        },
        "agencyId": {
          "format": "int64",
          "type": "string",
          "description": "DS agency ID."
        },
        "productCountry": {
          "type": "string",
          "description": "The country registered for the Merchant Center feed that contains the product. Use an ISO 3166 code to specify a country."
        },
        "adUserDataConsent": {
          "type": "string",
          "description": "Represents consent for core platform services (CPS) preferences in settings. No default value. Acceptable values are: GRANTED: The desired consent status is to grant. Read the CPS preferences from GTE settings. DENIED: The desired consent status is to deny; CPS list is empty.",
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ],
          "enum": [
            "UNKNOWN",
            "GRANTED",
            "DENIED"
          ]
        },
        "deviceType": {
          "description": "The type of device on which the conversion occurred.",
          "type": "string"
        },
        "inventoryAccountId": {
          "description": "ID that DS generates and uses to uniquely identify the inventory account that contains the product.",
          "type": "string",
          "format": "int64"
        },
        "segmentationId": {
          "type": "string",
          "format": "int64",
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID)."
        },
        "productLanguage": {
          "type": "string",
          "description": "The language registered for the Merchant Center feed that contains the product. Use an ISO 639 code to specify a language."
        },
        "state": {
          "description": "The state of the conversion, that is, either `ACTIVE` or `REMOVED`. Note: state DELETED is deprecated.",
          "type": "string"
        },
        "revenueMicros": {
          "description": "The revenue amount of this `TRANSACTION` conversion, in micros (value multiplied by 1000000, no decimal). For example, to specify a revenue value of \"10\" enter \"10000000\" (10 million) in your request.",
          "type": "string"
        },
        "segmentationType": {
          "type": "string",
          "description": "The segmentation type of this conversion (for example, `FLOODLIGHT`).",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          }
        },
        "adGroupId": {
          "type": "string",
          "description": "DS ad group ID.",
          "format": "int64"
        },
        "criterionId": {
          "format": "int64",
          "description": "DS criterion (keyword) ID.",
          "type": "string"
        },
        "countMillis": {
          "type": "string",
          "description": "Available to advertisers only after contacting DoubleClick Search customer support.",
          "format": "int64"
        },
        "engineAccountId": {
          "type": "string",
          "description": "DS engine account ID.",
          "format": "int64"
        },
        "conversionModifiedTimestamp": {
          "format": "int64",
          "description": "The time at which the conversion was last modified, in epoch millis UTC.",
          "type": "string"
        },
        "segmentationName": {
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name).",
          "type": "string"
        },
        "conversionTimestamp": {
          "type": "string",
          "description": "The time at which the conversion took place, in epoch millis UTC.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          }
        },
        "quantityMillis": {
          "type": "string",
          "description": "The quantity of this conversion, in millis.",
          "format": "int64"
        },
        "dsConversionId": {
          "description": "ID that DoubleClick Search generates for each conversion.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Conversion",
      "description": "A conversion containing data relevant to DoubleClick Search. Common DS3 API conversion fields: Id Range [1 - 2800]. Next Id to use: 33"
    },
    "CustomMetric": {
      "description": "A message containing the custom metric.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Custom metric name."
        },
        "value": {
          "type": "number",
          "format": "double",
          "description": "Custom metric numeric value."
        }
      },
      "type": "object",
      "id": "CustomMetric"
    },
    "Availability": {
      "type": "object",
      "properties": {
        "advertiserId": {
          "type": "string",
          "description": "DS advertiser ID.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "format": "int64"
        },
        "customerId": {
          "description": "Customer ID of a client account in the new Search Ads 360 experience.",
          "type": "string"
        },
        "segmentationType": {
          "type": "string",
          "description": "The segmentation type that this availability is for (its default value is `FLOODLIGHT`).",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        },
        "segmentationName": {
          "type": "string",
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name)."
        },
        "availabilityTimestamp": {
          "format": "int64",
          "type": "string",
          "description": "The time by which all conversions have been uploaded, in epoch millis UTC.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        },
        "segmentationId": {
          "format": "int64",
          "type": "string",
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID)."
        },
        "agencyId": {
          "format": "int64",
          "type": "string",
          "description": "DS agency ID.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        }
      },
      "description": "A message containing availability data relevant to DoubleClick Search.",
      "id": "Availability"
    },
    "ConversionList": {
      "id": "ConversionList",
      "properties": {
        "kind": {
          "description": "Identifies this as a ConversionList resource. Value: the fixed string doubleclicksearch#conversionList.",
          "type": "string"
        },
        "conversion": {
          "description": "The conversions being requested.",
          "type": "array",
          "items": {
            "$ref": "Conversion"
          }
        }
      },
      "type": "object",
      "description": "A list of conversions."
    },
    "UpdateAvailabilityResponse": {
      "id": "UpdateAvailabilityResponse",
      "type": "object",
      "description": "The response to a update availability request.",
      "properties": {
        "availabilities": {
          "items": {
            "$ref": "Availability"
          },
          "description": "The availabilities being returned.",
          "type": "array"
        }
      }
    },
    "ReportRequest": {
      "type": "object",
      "id": "ReportRequest",
      "description": "A request object used to create a DoubleClick Search report.",
      "properties": {
        "orderBy": {
          "description": "Synchronous report only. A list of columns and directions defining sorting to be performed on the report rows.\\ The maximum number of orderings per request is 300.",
          "items": {
            "properties": {
              "sortOrder": {
                "type": "string",
                "description": "The sort direction, which is either `ascending` or `descending`."
              },
              "column": {
                "description": "Column to perform the sort on. This can be a DoubleClick Search-defined column or a saved column.",
                "$ref": "ReportApiColumnSpec"
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "reportType": {
          "description": "Determines the type of rows that are returned in the report. For example, if you specify `reportType: keyword`, each row in the report will contain data about a keyword. See the [Types of Reports](/search-ads/v2/report-types/) reference for the columns that are available for each type.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "string"
        },
        "filters": {
          "description": "A list of filters to be applied to the report.\\ The maximum number of filters per request is 300.",
          "items": {
            "type": "object",
            "properties": {
              "column": {
                "description": "Column to perform the filter on. This can be a DoubleClick Search column or a saved column.",
                "$ref": "ReportApiColumnSpec"
              },
              "operator": {
                "description": "Operator to use in the filter. See the filter reference for a list of available operators.",
                "type": "string"
              },
              "values": {
                "description": "A list of values to filter the column value against.\\ The maximum number of filter values per request is 300.",
                "items": {
                  "type": "any"
                },
                "type": "array"
              }
            }
          },
          "type": "array"
        },
        "reportScope": {
          "description": "The reportScope is a set of IDs that are used to determine which subset of entities will be returned in the report. The full lineage of IDs from the lowest scoped level desired up through agency is required.",
          "type": "object",
          "properties": {
            "engineAccountId": {
              "format": "int64",
              "description": "DS engine account ID.",
              "type": "string"
            },
            "adGroupId": {
              "description": "DS ad group ID.",
              "type": "string",
              "format": "int64"
            },
            "campaignId": {
              "description": "DS campaign ID.",
              "format": "int64",
              "type": "string"
            },
            "advertiserId": {
              "format": "int64",
              "type": "string",
              "description": "DS advertiser ID."
            },
            "keywordId": {
              "format": "int64",
              "type": "string",
              "description": "DS keyword ID."
            },
            "agencyId": {
              "format": "int64",
              "type": "string",
              "description": "DS agency ID."
            },
            "adId": {
              "description": "DS ad ID.",
              "type": "string",
              "format": "int64"
            }
          }
        },
        "downloadFormat": {
          "type": "string",
          "description": "Format that the report should be returned in. Currently `csv` or `tsv` is supported.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          }
        },
        "statisticsCurrency": {
          "description": "Specifies the currency in which monetary will be returned. Possible values are: `usd`, `agency` (valid if the report is scoped to agency or lower), `advertiser` (valid if the report is scoped to * advertiser or lower), or `account` (valid if the report is scoped to engine account or lower).",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "string"
        },
        "includeDeletedEntities": {
          "description": "Determines if removed entities should be included in the report. Defaults to `false`. Deprecated, please use `includeRemovedEntities` instead.",
          "type": "boolean"
        },
        "includeRemovedEntities": {
          "type": "boolean",
          "description": "Determines if removed entities should be included in the report. Defaults to `false`."
        },
        "verifySingleTimeZone": {
          "description": "If `true`, the report would only be created if all the requested stat data are sourced from a single timezone. Defaults to `false`.",
          "type": "boolean"
        },
        "rowCount": {
          "type": "integer",
          "description": "Synchronous report only. The maximum number of rows to return; additional rows are dropped. Acceptable values are `0` to `10000`, inclusive. Defaults to `10000`.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "format": "int32"
        },
        "columns": {
          "items": {
            "$ref": "ReportApiColumnSpec"
          },
          "type": "array",
          "description": "The columns to include in the report. This includes both DoubleClick Search columns and saved columns. For DoubleClick Search columns, only the `columnName` parameter is required. For saved columns only the `savedColumnName` parameter is required. Both `columnName` and `savedColumnName` cannot be set in the same stanza.\\ The maximum number of columns per request is 300."
        },
        "startRow": {
          "description": "Synchronous report only. Zero-based index of the first row to return. Acceptable values are `0` to `50000`, inclusive. Defaults to `0`.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "format": "int32",
          "type": "integer"
        },
        "maxRowsPerFile": {
          "description": "Asynchronous report only. The maximum number of rows per report file. A large report is split into many files based on this field. Acceptable values are `1000000` to `100000000`, inclusive.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "format": "int32",
          "type": "integer"
        },
        "timeRange": {
          "description": "If metrics are requested in a report, this argument will be used to restrict the metrics to a specific time range.",
          "type": "object",
          "properties": {
            "endDate": {
              "description": "Inclusive date in YYYY-MM-DD format.",
              "type": "string"
            },
            "startDate": {
              "description": "Inclusive date in YYYY-MM-DD format.",
              "type": "string"
            },
            "changedMetricsSinceTimestamp": {
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed metrics reports work.",
              "type": "string"
            },
            "changedAttributesSinceTimestamp": {
              "type": "string",
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed attribute reports work."
            }
          }
        }
      }
    },
    "SavedColumnList": {
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "SavedColumn"
          },
          "type": "array",
          "description": "The saved columns being requested."
        },
        "kind": {
          "description": "Identifies this as a SavedColumnList resource. Value: the fixed string doubleclicksearch#savedColumnList.",
          "type": "string"
        }
      },
      "id": "SavedColumnList",
      "description": "A list of saved columns. Advertisers create saved columns to report on Floodlight activities, Google Analytics goals, or custom KPIs. To request reports with saved columns, you'll need the saved column names that are available from this list."
    },
    "CustomDimension": {
      "type": "object",
      "id": "CustomDimension",
      "description": "A message containing the custom dimension.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Custom dimension name."
        },
        "value": {
          "type": "string",
          "description": "Custom dimension value."
        }
      }
    },
    "UpdateAvailabilityRequest": {
      "id": "UpdateAvailabilityRequest",
      "description": "The request to update availability.",
      "type": "object",
      "properties": {
        "availabilities": {
          "items": {
            "$ref": "Availability"
          },
          "type": "array",
          "description": "The availabilities being requested."
        }
      }
    },
    "IdMappingFile": {
      "properties": {},
      "id": "IdMappingFile",
      "type": "object",
      "description": "File returned to https://developers.google.com/search-ads/v2/reference/reports/getIdMappingFile."
    }
  },
  "title": "Search Ads 360 API"
}