{
  "description": "DoubleClick Bid Manager API allows users to manage and create campaigns and reports.",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "doubleclickbidmanager",
  "protocol": "rest",
  "canonicalName": "DoubleClick Bid Manager",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "servicePath": "v2/",
  "mtlsRootUrl": "https://doubleclickbidmanager.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "rootUrl": "https://doubleclickbidmanager.googleapis.com/",
  "parameters": {
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "id": "doubleclickbidmanager:v2",
  "schemas": {
    "Report": {
      "description": "A single report generated by its parent report.",
      "type": "object",
      "properties": {
        "key": {
          "description": "The key information identifying the report.",
          "$ref": "ReportKey"
        },
        "params": {
          "$ref": "Parameters",
          "description": "The parameters of the report."
        },
        "metadata": {
          "$ref": "ReportMetadata",
          "description": "The metadata of the report."
        }
      },
      "id": "Report"
    },
    "Query": {
      "id": "Query",
      "type": "object",
      "description": "A single query used to generate a report.",
      "properties": {
        "schedule": {
          "description": "When and how often the query is scheduled to run. If the frequency field is set to `ONE_TIME`, the query will only run when queries.run is called.",
          "$ref": "QuerySchedule"
        },
        "metadata": {
          "description": "The metadata of the query.",
          "$ref": "QueryMetadata"
        },
        "params": {
          "$ref": "Parameters",
          "description": "The parameters of the report generated by the query."
        },
        "queryId": {
          "description": "Output only. The unique ID of the query.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Parameters": {
      "description": "Parameters of a generated report.",
      "properties": {
        "metrics": {
          "type": "array",
          "description": "Metrics to define the data populating the report. Defined by [Metric](/bid-manager/reference/rest/v2/filters-metrics#metrics) values.",
          "items": {
            "type": "string"
          }
        },
        "filters": {
          "type": "array",
          "items": {
            "$ref": "FilterPair"
          },
          "description": "Filters to limit the scope of reported data."
        },
        "options": {
          "$ref": "Options",
          "description": "Additional report parameter options."
        },
        "groupBys": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Dimensions by which to segment and group the data. Defined by [Filter](/bid-manager/reference/rest/v2/filters-metrics#filters) values."
        },
        "type": {
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true
          ],
          "enum": [
            "REPORT_TYPE_UNSPECIFIED",
            "STANDARD",
            "INVENTORY_AVAILABILITY",
            "AUDIENCE_COMPOSITION",
            "FLOODLIGHT",
            "YOUTUBE",
            "GRP",
            "YOUTUBE_PROGRAMMATIC_GUARANTEED",
            "REACH",
            "UNIQUE_REACH_AUDIENCE",
            "FULL_PATH",
            "PATH_ATTRIBUTION"
          ],
          "enumDescriptions": [
            "Default value when report type is not specified or is unknown in this version.",
            "Standard report.",
            "Inventory Availability report.",
            "Audience Composition report.",
            "Floodlight report.",
            "YouTube report.",
            "GRP report.",
            "YouTube Programmatic Guaranteed report.",
            "Reach report.",
            "Unique Reach Audience report.",
            "Full Path report.",
            "Path Attribution report."
          ],
          "description": "The type of the report. The type of the report determines the dimesions, filters, and metrics that can be used.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Parameters"
    },
    "QueryMetadata": {
      "properties": {
        "sendNotification": {
          "description": "Whether an email notification is sent to the query creator when a report generated by the query is ready. This value is `false` by default.",
          "type": "boolean"
        },
        "shareEmailAddress": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of additional email addresses with which to share the query. If send_notification is `true`, these email addresses will receive a notification when a report generated by the query is ready. If these email addresses are connected to Display & Video 360 users, the query will be available to them in the Display & Video 360 interface."
        },
        "format": {
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ],
          "enumDescriptions": [
            "Default value when format is not specified or is unknown in this version.",
            "CSV.",
            "Excel."
          ],
          "type": "string",
          "description": "The format of the report generated by the query."
        },
        "title": {
          "description": "The display name of the query. This value will be used in the file name of reports generated by the query.",
          "type": "string"
        },
        "dataRange": {
          "$ref": "DataRange",
          "description": "The date range the report generated by the query will report on. This date range will be defined by the time zone as used by the advertiser."
        }
      },
      "id": "QueryMetadata",
      "description": "The metadata of the query.",
      "type": "object"
    },
    "Options": {
      "properties": {
        "includeOnlyTargetedUserLists": {
          "description": "Whether to include data for audience lists specifically targeted by filtered line items or insertion orders. Requires the use of `FILTER_INSERTION_ORDER` or `FILTER_LINE_ITEM` filters.",
          "type": "boolean"
        }
      },
      "description": "Report parameter options.",
      "type": "object",
      "id": "Options"
    },
    "RunQueryRequest": {
      "id": "RunQueryRequest",
      "description": "Details specifying how to run a query.",
      "type": "object",
      "properties": {
        "dataRange": {
          "description": "The date range used by the query to generate the report. If unspecified, the query's original data_range is used.",
          "$ref": "DataRange"
        }
      }
    },
    "FilterPair": {
      "properties": {
        "value": {
          "description": "The identifying value to filter by, such as a relevant resource ID.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of value to filter by. Defined by a [Filter](/bid-manager/reference/rest/v2/filters-metrics#filters) value."
        }
      },
      "type": "object",
      "description": "Represents a single filter rule.",
      "id": "FilterPair"
    },
    "Date": {
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Date"
    },
    "ListQueriesResponse": {
      "type": "object",
      "properties": {
        "queries": {
          "items": {
            "$ref": "Query"
          },
          "description": "The list of queries. This field will be absent if empty.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `queries.list` method to retrieve the next page of results."
        }
      },
      "id": "ListQueriesResponse"
    },
    "ListReportsResponse": {
      "id": "ListReportsResponse",
      "type": "object",
      "properties": {
        "reports": {
          "items": {
            "$ref": "Report"
          },
          "description": "The list of reports. This field will be absent if empty.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `queries.reports.list` method to retrieve the next page of results."
        }
      }
    },
    "QuerySchedule": {
      "type": "object",
      "id": "QuerySchedule",
      "properties": {
        "startDate": {
          "description": "The date on which to begin the scheduled runs. This field is required if frequency is not set to `ONE_TIME`. Otherwise, it will be ignored.",
          "$ref": "Date"
        },
        "endDate": {
          "$ref": "Date",
          "description": "The date on which to end the scheduled runs. This field is required if frequency is not set to `ONE_TIME`. Otherwise, it will be ignored."
        },
        "frequency": {
          "description": "How frequently to run the query. If set to `ONE_TIME`, the query will only be run when queries.run is called.",
          "type": "string",
          "enum": [
            "FREQUENCY_UNSPECIFIED",
            "ONE_TIME",
            "DAILY",
            "WEEKLY",
            "SEMI_MONTHLY",
            "MONTHLY",
            "QUARTERLY",
            "YEARLY"
          ],
          "enumDescriptions": [
            "Default value when frequency is not specified or is unknown in this version.",
            "Only when the query is run manually.",
            "Once a day.",
            "Once a week.",
            "Twice a month.",
            "Once a month.",
            "Once a quarter.",
            "Once a year."
          ]
        },
        "nextRunTimezoneCode": {
          "type": "string",
          "description": "The canonical code for the timezone the query schedule is based on. Scheduled runs are usually conducted in the morning of a given day. Defaults to `America/New_York`."
        }
      },
      "description": "Settings on when and how frequently to run a query."
    },
    "DataRange": {
      "id": "DataRange",
      "properties": {
        "customStartDate": {
          "$ref": "Date",
          "description": "If `CUSTOM_DATES` is assigned to range, this field specifies the starting date for the date range that is reported on. This field is required if using `CUSTOM_DATES` range and will be ignored otherwise."
        },
        "customEndDate": {
          "description": "If `CUSTOM_DATES` is assigned to range, this field specifies the end date for the date range that is reported on. This field is required if using `CUSTOM_DATES` range and will be ignored otherwise.",
          "$ref": "Date"
        },
        "range": {
          "enum": [
            "RANGE_UNSPECIFIED",
            "CUSTOM_DATES",
            "CURRENT_DAY",
            "PREVIOUS_DAY",
            "WEEK_TO_DATE",
            "MONTH_TO_DATE",
            "QUARTER_TO_DATE",
            "YEAR_TO_DATE",
            "PREVIOUS_WEEK",
            "PREVIOUS_MONTH",
            "PREVIOUS_QUARTER",
            "PREVIOUS_YEAR",
            "LAST_7_DAYS",
            "LAST_30_DAYS",
            "LAST_90_DAYS",
            "LAST_365_DAYS",
            "ALL_TIME",
            "LAST_14_DAYS",
            "LAST_60_DAYS"
          ],
          "description": "The preset date range to be reported on. If `CUSTOM_DATES` is assigned to this field, fields custom_start_date and custom_end_date must be set to specify the custom date range.",
          "enumDescriptions": [
            "Default value when range is not specified or is unknown in this version.",
            "Custom date range.",
            "Current day.",
            "Previous day.",
            "All days, including the current day, since the most recent Sunday.",
            "All days, including the current day, since the start of the current month.",
            "All days, including the current day, since the start of the current quarter.",
            "All days, including the current day, since the start of the current calendar year.",
            "The previous completed week, beginning from Sunday.",
            "The previous completed calendar month.",
            "The previous completed quarter.",
            "The previous completed calendar year.",
            "The previous 7 days, excluding the current day.",
            "The previous 30 days, excluding the current day.",
            "The previous 90 days, excluding the current day.",
            "The previous 365 days, excluding the current day.",
            "All time for which data is available, excluding the current day.",
            "The previous 14 days, excluding the current day.",
            "The previous 60 days, excluding the current day."
          ],
          "type": "string"
        }
      },
      "description": "The date range to be reported on.",
      "type": "object"
    },
    "ReportStatus": {
      "id": "ReportStatus",
      "type": "object",
      "properties": {
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "RUNNING",
            "DONE",
            "FAILED"
          ],
          "description": "Output only. The state of the report generation.",
          "type": "string",
          "enumDescriptions": [
            "Default value when state is not specified or is unknown in this version.",
            "The report is queued to run.",
            "The report is currently running.",
            "The report has finished running successfully.",
            "The report has finished running in failure."
          ]
        },
        "finishTime": {
          "type": "string",
          "description": "Output only. The timestamp of when report generation finished successfully or in failure. This field will not be set unless state is `DONE` or `FAILED`.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "format": {
          "enumDescriptions": [
            "Default value when format is not specified or is unknown in this version.",
            "CSV.",
            "Excel."
          ],
          "description": "The format of the generated report file.",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ],
          "type": "string"
        }
      },
      "description": "The status of a report."
    },
    "ReportKey": {
      "description": "Identifying information of a report.",
      "properties": {
        "reportId": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The unique ID of the report.",
          "type": "string"
        },
        "queryId": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The unique ID of the query that generated the report.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "ReportKey"
    },
    "ReportMetadata": {
      "type": "object",
      "id": "ReportMetadata",
      "properties": {
        "status": {
          "description": "The status of the report.",
          "$ref": "ReportStatus"
        },
        "reportDataEndDate": {
          "description": "The end date of the report data date range.",
          "$ref": "Date"
        },
        "googleCloudStoragePath": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The location of the generated report file in Google Cloud Storage. This field will be absent if status.state is not `DONE`."
        },
        "reportDataStartDate": {
          "description": "The start date of the report data date range.",
          "$ref": "Date"
        }
      },
      "description": "The metadata of a report."
    }
  },
  "revision": "20260916",
  "resources": {
    "queries": {
      "resources": {
        "reports": {
          "methods": {
            "list": {
              "id": "doubleclickbidmanager.queries.reports.list",
              "path": "queries/{queryId}/reports",
              "httpMethod": "GET",
              "flatPath": "queries/{queryId}/reports",
              "response": {
                "$ref": "ListReportsResponse"
              },
              "description": "Lists reports generated by the provided query.",
              "parameterOrder": [
                "queryId"
              ],
              "parameters": {
                "pageSize": {
                  "description": "Maximum number of results per page. Must be between `1` and `100`. Defaults to `100` if unspecified.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Field to sort the list by. Accepts the following values: * `key.reportId` (default) The default sorting order is ascending. To specify descending order for a field, add the suffix `desc` to the field name. For example, `key.reportId desc`."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A token identifying which page of results the server should return. Typically, this is the value of nextPageToken returned from the previous call to the `queries.reports.list` method. If unspecified, the first page of results is returned."
                },
                "queryId": {
                  "description": "Required. The ID of the query that generated the reports.",
                  "required": true,
                  "type": "string",
                  "format": "int64",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ]
            },
            "get": {
              "description": "Retrieves a report.",
              "parameterOrder": [
                "queryId",
                "reportId"
              ],
              "flatPath": "queries/{queryId}/reports/{reportId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "Report"
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ],
              "path": "queries/{queryId}/reports/{reportId}",
              "parameters": {
                "reportId": {
                  "required": true,
                  "description": "Required. The ID of the query to retrieve.",
                  "type": "string",
                  "location": "path",
                  "format": "int64"
                },
                "queryId": {
                  "required": true,
                  "format": "int64",
                  "description": "Required. The ID of the query that generated the report.",
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "doubleclickbidmanager.queries.reports.get"
            }
          }
        }
      },
      "methods": {
        "list": {
          "flatPath": "queries",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "A token identifying which page of results the server should return. Typically, this is the value of nextPageToken, returned from the previous call to the `queries.list` method. If unspecified, the first page of results is returned.",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Maximum number of results per page. Must be between `1` and `100`. Defaults to `100` if unspecified."
            },
            "orderBy": {
              "type": "string",
              "description": "Field to sort the list by. Accepts the following values: * `queryId` (default) * `metadata.title` The default sorting order is ascending. To specify descending order for a field, add the suffix `desc` to the field name. For example, `queryId desc`.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "ListQueriesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "parameterOrder": [],
          "id": "doubleclickbidmanager.queries.list",
          "httpMethod": "GET",
          "description": "Lists queries created by the current user.",
          "path": "queries"
        },
        "delete": {
          "flatPath": "queries/{queryId}",
          "description": "Deletes an existing query as well as its generated reports.",
          "path": "queries/{queryId}",
          "parameterOrder": [
            "queryId"
          ],
          "id": "doubleclickbidmanager.queries.delete",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "queryId": {
              "description": "Required. The ID of the query to delete.",
              "required": true,
              "format": "int64",
              "type": "string",
              "location": "path"
            }
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "response": {
            "$ref": "Query"
          },
          "id": "doubleclickbidmanager.queries.get",
          "flatPath": "queries/{queryId}",
          "parameters": {
            "queryId": {
              "required": true,
              "format": "int64",
              "type": "string",
              "location": "path",
              "description": "Required. The ID of the query to retrieve."
            }
          },
          "description": "Retrieves a query.",
          "parameterOrder": [
            "queryId"
          ],
          "path": "queries/{queryId}",
          "httpMethod": "GET"
        },
        "run": {
          "request": {
            "$ref": "RunQueryRequest"
          },
          "parameters": {
            "queryId": {
              "description": "Required. The ID of the query to run.",
              "location": "path",
              "type": "string",
              "format": "int64",
              "required": true
            },
            "synchronous": {
              "location": "query",
              "type": "boolean",
              "description": "Whether the query should be run synchronously. When `true`, the request won't return until the resulting report has finished running. This parameter is `false` by default. Setting this parameter to `true` is **not recommended**."
            }
          },
          "id": "doubleclickbidmanager.queries.run",
          "description": "Runs an existing query to generate a report.",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "httpMethod": "POST",
          "path": "queries/{queryId}:run",
          "parameterOrder": [
            "queryId"
          ],
          "response": {
            "$ref": "Report"
          },
          "flatPath": "queries/{queryId}:run"
        },
        "create": {
          "parameterOrder": [],
          "request": {
            "$ref": "Query"
          },
          "flatPath": "queries",
          "response": {
            "$ref": "Query"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "id": "doubleclickbidmanager.queries.create",
          "description": "Creates a new query.",
          "httpMethod": "POST",
          "path": "queries"
        }
      }
    }
  },
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclickbidmanager": {
          "description": "View and manage your reports in DoubleClick Bid Manager"
        }
      }
    }
  },
  "basePath": "/v2/",
  "documentationLink": "https://developers.google.com/bid-manager/",
  "version": "v2",
  "title": "DoubleClick Bid Manager API",
  "baseUrl": "https://doubleclickbidmanager.googleapis.com/v2/"
}