{
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "resources": {
    "queries": {
      "methods": {
        "run": {
          "path": "queries/{queryId}:run",
          "parameters": {
            "synchronous": {
              "type": "boolean",
              "description": "Whether the query should be run synchronously. When `true`, the request won't return until the resulting report has finished running. This parameter is `false` by default. Setting this parameter to `true` is **not recommended**.",
              "location": "query"
            },
            "queryId": {
              "type": "string",
              "description": "Required. The ID of the query to run.",
              "location": "path",
              "format": "int64",
              "required": true
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "RunQueryRequest"
          },
          "description": "Runs an existing query to generate a report.",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "parameterOrder": [
            "queryId"
          ],
          "id": "doubleclickbidmanager.queries.run",
          "response": {
            "$ref": "Report"
          },
          "flatPath": "queries/{queryId}:run"
        },
        "get": {
          "parameters": {
            "queryId": {
              "location": "path",
              "required": true,
              "description": "Required. The ID of the query to retrieve.",
              "format": "int64",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "description": "Retrieves a query.",
          "id": "doubleclickbidmanager.queries.get",
          "response": {
            "$ref": "Query"
          },
          "parameterOrder": [
            "queryId"
          ],
          "path": "queries/{queryId}",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "flatPath": "queries/{queryId}"
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "ListQueriesResponse"
          },
          "flatPath": "queries",
          "parameters": {
            "pageToken": {
              "description": "A token identifying which page of results the server should return. Typically, this is the value of nextPageToken, returned from the previous call to the `queries.list` method. If unspecified, the first page of results is returned.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "description": "Maximum number of results per page. Must be between `1` and `100`. Defaults to `100` if unspecified.",
              "format": "int32",
              "type": "integer"
            },
            "orderBy": {
              "type": "string",
              "description": "Field to sort the list by. Accepts the following values: * `queryId` (default) * `metadata.title` The default sorting order is ascending. To specify descending order for a field, add the suffix `desc` to the field name. For example, `queryId desc`.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "path": "queries",
          "parameterOrder": [],
          "id": "doubleclickbidmanager.queries.list",
          "description": "Lists queries created by the current user."
        },
        "delete": {
          "id": "doubleclickbidmanager.queries.delete",
          "description": "Deletes an existing query as well as its generated reports.",
          "flatPath": "queries/{queryId}",
          "parameters": {
            "queryId": {
              "required": true,
              "format": "int64",
              "location": "path",
              "type": "string",
              "description": "Required. The ID of the query to delete."
            }
          },
          "parameterOrder": [
            "queryId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "path": "queries/{queryId}",
          "httpMethod": "DELETE"
        },
        "create": {
          "parameterOrder": [],
          "httpMethod": "POST",
          "id": "doubleclickbidmanager.queries.create",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "path": "queries",
          "description": "Creates a new query.",
          "response": {
            "$ref": "Query"
          },
          "flatPath": "queries",
          "request": {
            "$ref": "Query"
          }
        }
      },
      "resources": {
        "reports": {
          "methods": {
            "list": {
              "id": "doubleclickbidmanager.queries.reports.list",
              "description": "Lists reports generated by the provided query.",
              "parameterOrder": [
                "queryId"
              ],
              "response": {
                "$ref": "ListReportsResponse"
              },
              "flatPath": "queries/{queryId}/reports",
              "path": "queries/{queryId}/reports",
              "parameters": {
                "queryId": {
                  "location": "path",
                  "format": "int64",
                  "description": "Required. The ID of the query that generated the reports.",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "description": "Maximum number of results per page. Must be between `1` and `100`. Defaults to `100` if unspecified.",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A token identifying which page of results the server should return. Typically, this is the value of nextPageToken returned from the previous call to the `queries.reports.list` method. If unspecified, the first page of results is returned.",
                  "type": "string",
                  "location": "query"
                },
                "orderBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Field to sort the list by. Accepts the following values: * `key.reportId` (default) The default sorting order is ascending. To specify descending order for a field, add the suffix `desc` to the field name. For example, `key.reportId desc`."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ],
              "httpMethod": "GET"
            },
            "get": {
              "flatPath": "queries/{queryId}/reports/{reportId}",
              "response": {
                "$ref": "Report"
              },
              "parameters": {
                "reportId": {
                  "description": "Required. The ID of the query to retrieve.",
                  "format": "int64",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "queryId": {
                  "format": "int64",
                  "description": "Required. The ID of the query that generated the report.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "queries/{queryId}/reports/{reportId}",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ],
              "description": "Retrieves a report.",
              "httpMethod": "GET",
              "id": "doubleclickbidmanager.queries.reports.get",
              "parameterOrder": [
                "queryId",
                "reportId"
              ]
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/bid-manager/",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    }
  },
  "mtlsRootUrl": "https://doubleclickbidmanager.mtls.googleapis.com/",
  "revision": "20260819",
  "name": "doubleclickbidmanager",
  "description": "DoubleClick Bid Manager API allows users to manage and create campaigns and reports.",
  "baseUrl": "https://doubleclickbidmanager.googleapis.com/v2/",
  "title": "DoubleClick Bid Manager API",
  "ownerName": "Google",
  "canonicalName": "DoubleClick Bid Manager",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclickbidmanager": {
          "description": "View and manage your reports in DoubleClick Bid Manager"
        }
      }
    }
  },
  "version": "v2",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "protocol": "rest",
  "schemas": {
    "Query": {
      "properties": {
        "params": {
          "description": "The parameters of the report generated by the query.",
          "$ref": "Parameters"
        },
        "schedule": {
          "description": "When and how often the query is scheduled to run. If the frequency field is set to `ONE_TIME`, the query will only run when queries.run is called.",
          "$ref": "QuerySchedule"
        },
        "queryId": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique ID of the query."
        },
        "metadata": {
          "$ref": "QueryMetadata",
          "description": "The metadata of the query."
        }
      },
      "id": "Query",
      "type": "object",
      "description": "A single query used to generate a report."
    },
    "ListQueriesResponse": {
      "id": "ListQueriesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `queries.list` method to retrieve the next page of results.",
          "type": "string"
        },
        "queries": {
          "description": "The list of queries. This field will be absent if empty.",
          "type": "array",
          "items": {
            "$ref": "Query"
          }
        }
      }
    },
    "DataRange": {
      "properties": {
        "customStartDate": {
          "$ref": "Date",
          "description": "If `CUSTOM_DATES` is assigned to range, this field specifies the starting date for the date range that is reported on. This field is required if using `CUSTOM_DATES` range and will be ignored otherwise."
        },
        "range": {
          "enumDescriptions": [
            "Default value when range is not specified or is unknown in this version.",
            "Custom date range.",
            "Current day.",
            "Previous day.",
            "All days, including the current day, since the most recent Sunday.",
            "All days, including the current day, since the start of the current month.",
            "All days, including the current day, since the start of the current quarter.",
            "All days, including the current day, since the start of the current calendar year.",
            "The previous completed week, beginning from Sunday.",
            "The previous completed calendar month.",
            "The previous completed quarter.",
            "The previous completed calendar year.",
            "The previous 7 days, excluding the current day.",
            "The previous 30 days, excluding the current day.",
            "The previous 90 days, excluding the current day.",
            "The previous 365 days, excluding the current day.",
            "All time for which data is available, excluding the current day.",
            "The previous 14 days, excluding the current day.",
            "The previous 60 days, excluding the current day."
          ],
          "type": "string",
          "enum": [
            "RANGE_UNSPECIFIED",
            "CUSTOM_DATES",
            "CURRENT_DAY",
            "PREVIOUS_DAY",
            "WEEK_TO_DATE",
            "MONTH_TO_DATE",
            "QUARTER_TO_DATE",
            "YEAR_TO_DATE",
            "PREVIOUS_WEEK",
            "PREVIOUS_MONTH",
            "PREVIOUS_QUARTER",
            "PREVIOUS_YEAR",
            "LAST_7_DAYS",
            "LAST_30_DAYS",
            "LAST_90_DAYS",
            "LAST_365_DAYS",
            "ALL_TIME",
            "LAST_14_DAYS",
            "LAST_60_DAYS"
          ],
          "description": "The preset date range to be reported on. If `CUSTOM_DATES` is assigned to this field, fields custom_start_date and custom_end_date must be set to specify the custom date range."
        },
        "customEndDate": {
          "description": "If `CUSTOM_DATES` is assigned to range, this field specifies the end date for the date range that is reported on. This field is required if using `CUSTOM_DATES` range and will be ignored otherwise.",
          "$ref": "Date"
        }
      },
      "type": "object",
      "id": "DataRange",
      "description": "The date range to be reported on."
    },
    "RunQueryRequest": {
      "id": "RunQueryRequest",
      "description": "Details specifying how to run a query.",
      "type": "object",
      "properties": {
        "dataRange": {
          "$ref": "DataRange",
          "description": "The date range used by the query to generate the report. If unspecified, the query's original data_range is used."
        }
      }
    },
    "ReportKey": {
      "description": "Identifying information of a report.",
      "id": "ReportKey",
      "properties": {
        "queryId": {
          "description": "Output only. The unique ID of the query that generated the report.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "reportId": {
          "description": "Output only. The unique ID of the report.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FilterPair": {
      "properties": {
        "type": {
          "description": "The type of value to filter by. Defined by a [Filter](/bid-manager/reference/rest/v2/filters-metrics#filters) value.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The identifying value to filter by, such as a relevant resource ID."
        }
      },
      "id": "FilterPair",
      "description": "Represents a single filter rule.",
      "type": "object"
    },
    "Parameters": {
      "description": "Parameters of a generated report.",
      "id": "Parameters",
      "type": "object",
      "properties": {
        "filters": {
          "items": {
            "$ref": "FilterPair"
          },
          "description": "Filters to limit the scope of reported data.",
          "type": "array"
        },
        "groupBys": {
          "description": "Dimensions by which to segment and group the data. Defined by [Filter](/bid-manager/reference/rest/v2/filters-metrics#filters) values.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "metrics": {
          "items": {
            "type": "string"
          },
          "description": "Metrics to define the data populating the report. Defined by [Metric](/bid-manager/reference/rest/v2/filters-metrics#metrics) values.",
          "type": "array"
        },
        "options": {
          "$ref": "Options",
          "description": "Additional report parameter options."
        },
        "type": {
          "description": "The type of the report. The type of the report determines the dimesions, filters, and metrics that can be used.",
          "enum": [
            "REPORT_TYPE_UNSPECIFIED",
            "STANDARD",
            "INVENTORY_AVAILABILITY",
            "AUDIENCE_COMPOSITION",
            "FLOODLIGHT",
            "YOUTUBE",
            "GRP",
            "YOUTUBE_PROGRAMMATIC_GUARANTEED",
            "REACH",
            "UNIQUE_REACH_AUDIENCE",
            "FULL_PATH",
            "PATH_ATTRIBUTION"
          ],
          "enumDescriptions": [
            "Default value when report type is not specified or is unknown in this version.",
            "Standard report.",
            "Inventory Availability report.",
            "Audience Composition report.",
            "Floodlight report.",
            "YouTube report.",
            "GRP report.",
            "YouTube Programmatic Guaranteed report.",
            "Reach report.",
            "Unique Reach Audience report.",
            "Full Path report.",
            "Path Attribution report."
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true
          ]
        }
      }
    },
    "Options": {
      "description": "Report parameter options.",
      "type": "object",
      "properties": {
        "includeOnlyTargetedUserLists": {
          "description": "Whether to include data for audience lists specifically targeted by filtered line items or insertion orders. Requires the use of `FILTER_INSERTION_ORDER` or `FILTER_LINE_ITEM` filters.",
          "type": "boolean"
        }
      },
      "id": "Options"
    },
    "QueryMetadata": {
      "properties": {
        "shareEmailAddress": {
          "description": "List of additional email addresses with which to share the query. If send_notification is `true`, these email addresses will receive a notification when a report generated by the query is ready. If these email addresses are connected to Display & Video 360 users, the query will be available to them in the Display & Video 360 interface.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "format": {
          "description": "The format of the report generated by the query.",
          "enumDescriptions": [
            "Default value when format is not specified or is unknown in this version.",
            "CSV.",
            "Excel."
          ],
          "type": "string",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ]
        },
        "sendNotification": {
          "description": "Whether an email notification is sent to the query creator when a report generated by the query is ready. This value is `false` by default.",
          "type": "boolean"
        },
        "dataRange": {
          "description": "The date range the report generated by the query will report on. This date range will be defined by the time zone as used by the advertiser.",
          "$ref": "DataRange"
        },
        "title": {
          "type": "string",
          "description": "The display name of the query. This value will be used in the file name of reports generated by the query."
        }
      },
      "type": "object",
      "id": "QueryMetadata",
      "description": "The metadata of the query."
    },
    "ListReportsResponse": {
      "id": "ListReportsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `queries.reports.list` method to retrieve the next page of results.",
          "type": "string"
        },
        "reports": {
          "type": "array",
          "description": "The list of reports. This field will be absent if empty.",
          "items": {
            "$ref": "Report"
          }
        }
      },
      "type": "object"
    },
    "Date": {
      "id": "Date",
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        },
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        }
      }
    },
    "QuerySchedule": {
      "type": "object",
      "description": "Settings on when and how frequently to run a query.",
      "properties": {
        "frequency": {
          "enumDescriptions": [
            "Default value when frequency is not specified or is unknown in this version.",
            "Only when the query is run manually.",
            "Once a day.",
            "Once a week.",
            "Twice a month.",
            "Once a month.",
            "Once a quarter.",
            "Once a year."
          ],
          "type": "string",
          "enum": [
            "FREQUENCY_UNSPECIFIED",
            "ONE_TIME",
            "DAILY",
            "WEEKLY",
            "SEMI_MONTHLY",
            "MONTHLY",
            "QUARTERLY",
            "YEARLY"
          ],
          "description": "How frequently to run the query. If set to `ONE_TIME`, the query will only be run when queries.run is called."
        },
        "endDate": {
          "$ref": "Date",
          "description": "The date on which to end the scheduled runs. This field is required if frequency is not set to `ONE_TIME`. Otherwise, it will be ignored."
        },
        "startDate": {
          "description": "The date on which to begin the scheduled runs. This field is required if frequency is not set to `ONE_TIME`. Otherwise, it will be ignored.",
          "$ref": "Date"
        },
        "nextRunTimezoneCode": {
          "description": "The canonical code for the timezone the query schedule is based on. Scheduled runs are usually conducted in the morning of a given day. Defaults to `America/New_York`.",
          "type": "string"
        }
      },
      "id": "QuerySchedule"
    },
    "ReportMetadata": {
      "type": "object",
      "id": "ReportMetadata",
      "description": "The metadata of a report.",
      "properties": {
        "reportDataEndDate": {
          "description": "The end date of the report data date range.",
          "$ref": "Date"
        },
        "status": {
          "$ref": "ReportStatus",
          "description": "The status of the report."
        },
        "googleCloudStoragePath": {
          "description": "Output only. The location of the generated report file in Google Cloud Storage. This field will be absent if status.state is not `DONE`.",
          "readOnly": true,
          "type": "string"
        },
        "reportDataStartDate": {
          "$ref": "Date",
          "description": "The start date of the report data date range."
        }
      }
    },
    "Report": {
      "properties": {
        "key": {
          "$ref": "ReportKey",
          "description": "The key information identifying the report."
        },
        "params": {
          "$ref": "Parameters",
          "description": "The parameters of the report."
        },
        "metadata": {
          "description": "The metadata of the report.",
          "$ref": "ReportMetadata"
        }
      },
      "id": "Report",
      "type": "object",
      "description": "A single report generated by its parent report."
    },
    "ReportStatus": {
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "RUNNING",
            "DONE",
            "FAILED"
          ],
          "type": "string",
          "description": "Output only. The state of the report generation.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value when state is not specified or is unknown in this version.",
            "The report is queued to run.",
            "The report is currently running.",
            "The report has finished running successfully.",
            "The report has finished running in failure."
          ]
        },
        "format": {
          "description": "The format of the generated report file.",
          "type": "string",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ],
          "enumDescriptions": [
            "Default value when format is not specified or is unknown in this version.",
            "CSV.",
            "Excel."
          ]
        },
        "finishTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp of when report generation finished successfully or in failure. This field will not be set unless state is `DONE` or `FAILED`.",
          "format": "google-datetime"
        }
      },
      "description": "The status of a report.",
      "id": "ReportStatus"
    }
  },
  "id": "doubleclickbidmanager:v2",
  "servicePath": "v2/",
  "rootUrl": "https://doubleclickbidmanager.googleapis.com/",
  "basePath": "/v2/",
  "batchPath": "batch"
}