{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclicksearch": {
          "description": "View and manage your advertising data in DoubleClick Search"
        }
      }
    }
  },
  "revision": "20260707",
  "servicePath": "",
  "documentationLink": "https://developers.google.com/search-ads",
  "batchPath": "batch",
  "rootUrl": "https://doubleclicksearch.googleapis.com/",
  "title": "Search Ads 360 API",
  "discoveryVersion": "v1",
  "version": "v2",
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerName": "Google",
  "canonicalName": "Doubleclicksearch",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "description": "The Search Ads 360 API allows developers to automate uploading conversions and downloading reports from Search Ads 360.",
  "basePath": "",
  "id": "doubleclicksearch:v2",
  "baseUrl": "https://doubleclicksearch.googleapis.com/",
  "mtlsRootUrl": "https://doubleclicksearch.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "resources": {
    "conversion": {
      "methods": {
        "insert": {
          "response": {
            "$ref": "ConversionList"
          },
          "request": {
            "$ref": "ConversionList"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [],
          "id": "doubleclicksearch.conversion.insert",
          "path": "doubleclicksearch/v2/conversion",
          "flatPath": "doubleclicksearch/v2/conversion",
          "parameters": {},
          "description": "Inserts a batch of new conversions into DoubleClick Search."
        },
        "get": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [
            "agencyId",
            "advertiserId",
            "engineAccountId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "id": "doubleclicksearch.conversion.get",
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "parameters": {
            "advertiserId": {
              "type": "string",
              "description": "Numeric ID of the advertiser.",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "agencyId": {
              "required": true,
              "description": "Numeric ID of the agency.",
              "location": "path",
              "format": "int64",
              "type": "string"
            },
            "criterionId": {
              "description": "Numeric ID of the criterion.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "engineAccountId": {
              "type": "string",
              "description": "Numeric ID of the engine account.",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "adGroupId": {
              "type": "string",
              "description": "Numeric ID of the ad group.",
              "location": "query",
              "format": "int64"
            },
            "rowCount": {
              "required": true,
              "minimum": "1",
              "maximum": "1000",
              "type": "integer",
              "description": "The number of conversions to return per call.",
              "location": "query",
              "format": "int32"
            },
            "startRow": {
              "required": true,
              "description": "The 0-based starting index for retrieving conversions results.",
              "location": "query",
              "format": "uint32",
              "type": "integer"
            },
            "campaignId": {
              "type": "string",
              "description": "Numeric ID of the campaign.",
              "location": "query",
              "format": "int64"
            },
            "endDate": {
              "minimum": "20091101",
              "required": true,
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "location": "query",
              "format": "int32",
              "type": "integer",
              "maximum": "99991231"
            },
            "adId": {
              "description": "Numeric ID of the ad.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "customerId": {
              "type": "string",
              "description": "Customer ID of a client account in the new Search Ads 360 experience.",
              "location": "query"
            },
            "startDate": {
              "required": true,
              "minimum": "20091101",
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "location": "query",
              "format": "int32",
              "maximum": "99991231",
              "type": "integer"
            }
          },
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "response": {
            "$ref": "ConversionList"
          }
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "PUT",
          "request": {
            "$ref": "ConversionList"
          },
          "flatPath": "doubleclicksearch/v2/conversion",
          "parameters": {},
          "description": "Updates a batch of conversions in DoubleClick Search.",
          "path": "doubleclicksearch/v2/conversion",
          "id": "doubleclicksearch.conversion.update",
          "parameterOrder": [],
          "response": {
            "$ref": "ConversionList"
          }
        },
        "getByCustomerId": {
          "id": "doubleclicksearch.conversion.getByCustomerId",
          "parameterOrder": [
            "customerId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "flatPath": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "parameters": {
            "adId": {
              "type": "string",
              "description": "Numeric ID of the ad.",
              "location": "query",
              "format": "int64"
            },
            "endDate": {
              "required": true,
              "minimum": "20091101",
              "maximum": "99991231",
              "type": "integer",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "location": "query",
              "format": "int32"
            },
            "campaignId": {
              "type": "string",
              "description": "Numeric ID of the campaign.",
              "location": "query",
              "format": "int64"
            },
            "startDate": {
              "required": true,
              "minimum": "20091101",
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "location": "query",
              "format": "int32",
              "maximum": "99991231",
              "type": "integer"
            },
            "customerId": {
              "description": "Customer ID of a client account in the new Search Ads 360 experience.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "engineAccountId": {
              "description": "Numeric ID of the engine account.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "agencyId": {
              "description": "Numeric ID of the agency.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "criterionId": {
              "type": "string",
              "description": "Numeric ID of the criterion.",
              "location": "query",
              "format": "int64"
            },
            "advertiserId": {
              "type": "string",
              "description": "Numeric ID of the advertiser.",
              "location": "query",
              "format": "int64"
            },
            "startRow": {
              "required": true,
              "type": "integer",
              "description": "The 0-based starting index for retrieving conversions results.",
              "location": "query",
              "format": "uint32"
            },
            "rowCount": {
              "required": true,
              "minimum": "1",
              "description": "The number of conversions to return per call.",
              "location": "query",
              "format": "int32",
              "maximum": "1000",
              "type": "integer"
            },
            "adGroupId": {
              "description": "Numeric ID of the ad group.",
              "location": "query",
              "format": "int64",
              "type": "string"
            }
          },
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "path": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "ConversionList"
          }
        },
        "updateAvailability": {
          "response": {
            "$ref": "UpdateAvailabilityResponse"
          },
          "path": "doubleclicksearch/v2/conversion/updateAvailability",
          "flatPath": "doubleclicksearch/v2/conversion/updateAvailability",
          "parameters": {},
          "description": "Updates the availabilities of a batch of floodlight activities in DoubleClick Search.",
          "parameterOrder": [],
          "id": "doubleclicksearch.conversion.updateAvailability",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "request": {
            "$ref": "UpdateAvailabilityRequest"
          },
          "httpMethod": "POST"
        }
      }
    },
    "savedColumns": {
      "methods": {
        "list": {
          "response": {
            "$ref": "SavedColumnList"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "doubleclicksearch.savedColumns.list",
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "parameters": {
            "agencyId": {
              "type": "string",
              "description": "DS ID of the agency.",
              "location": "path",
              "format": "int64",
              "required": true
            },
            "advertiserId": {
              "type": "string",
              "description": "DS ID of the advertiser.",
              "location": "path",
              "format": "int64",
              "required": true
            }
          },
          "description": "Retrieve the list of saved columns for a specified advertiser.",
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns"
        }
      }
    },
    "reports": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Report"
          },
          "parameterOrder": [
            "reportId"
          ],
          "id": "doubleclicksearch.reports.get",
          "path": "doubleclicksearch/v2/reports/{reportId}",
          "flatPath": "doubleclicksearch/v2/reports/{reportId}",
          "parameters": {
            "reportId": {
              "type": "string",
              "required": true,
              "description": "ID of the report request being polled.",
              "location": "path"
            }
          },
          "description": "Polls for the status of a report request.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "request": {
          "id": "doubleclicksearch.reports.request",
          "parameterOrder": [],
          "flatPath": "doubleclicksearch/v2/reports",
          "parameters": {},
          "description": "Inserts a report request into the reporting system.",
          "path": "doubleclicksearch/v2/reports",
          "httpMethod": "POST",
          "request": {
            "$ref": "ReportRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "Report"
          }
        },
        "getFile": {
          "httpMethod": "GET",
          "useMediaDownloadService": true,
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "doubleclicksearch.reports.getFile",
          "parameterOrder": [
            "reportId",
            "reportFragment"
          ],
          "flatPath": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "parameters": {
            "reportFragment": {
              "minimum": "0",
              "required": true,
              "description": "The index of the report fragment to download.",
              "location": "path",
              "format": "int32",
              "type": "integer"
            },
            "reportId": {
              "required": true,
              "type": "string",
              "description": "ID of the report.",
              "location": "path"
            }
          },
          "description": "Downloads a report file encoded in UTF-8.",
          "path": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "supportsMediaDownload": true
        },
        "generate": {
          "response": {
            "$ref": "Report"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "request": {
            "$ref": "ReportRequest"
          },
          "httpMethod": "POST",
          "path": "doubleclicksearch/v2/reports/generate",
          "flatPath": "doubleclicksearch/v2/reports/generate",
          "parameters": {},
          "description": "Generates and returns a report immediately.",
          "parameterOrder": [],
          "id": "doubleclicksearch.reports.generate"
        },
        "getIdMappingFile": {
          "httpMethod": "GET",
          "useMediaDownloadService": true,
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "id": "doubleclicksearch.reports.getIdMappingFile",
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "parameters": {
            "agencyId": {
              "required": true,
              "type": "string",
              "description": "Legacy SA360 agency ID.",
              "location": "path",
              "format": "int64"
            },
            "advertiserId": {
              "description": "Legacy SA360 advertiser ID.",
              "location": "path",
              "format": "int64",
              "type": "string",
              "required": true
            }
          },
          "description": "Downloads a csv file(encoded in UTF-8) that contains ID mappings between legacy SA360 and new SA360. The file includes all children entities of the given advertiser(e.g. engine accounts, campaigns, ad groups, etc.) that exist in both legacy SA360 and new SA360.",
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "response": {
            "$ref": "IdMappingFile"
          },
          "supportsMediaDownload": true
        }
      }
    }
  },
  "schemas": {
    "SavedColumn": {
      "description": "A saved column",
      "properties": {
        "savedColumnName": {
          "type": "string",
          "description": "The name of the saved column."
        },
        "kind": {
          "type": "string",
          "description": "Identifies this as a SavedColumn resource. Value: the fixed string doubleclicksearch#savedColumn."
        },
        "type": {
          "type": "string",
          "description": "The type of data this saved column will produce."
        }
      },
      "type": "object",
      "id": "SavedColumn"
    },
    "Conversion": {
      "description": "A conversion containing data relevant to DoubleClick Search. Common DS3 API conversion fields: Id Range [1 - 2800]. Next Id to use: 33",
      "properties": {
        "floodlightOrderId": {
          "type": "string",
          "description": "The Floodlight order ID provided by the advertiser for the conversion."
        },
        "dsConversionId": {
          "type": "string",
          "description": "ID that DoubleClick Search generates for each conversion.",
          "format": "int64"
        },
        "type": {
          "type": "string",
          "description": "The type of the conversion, that is, either `ACTION` or `TRANSACTION`. An `ACTION` conversion is an action by the user that has no monetarily quantifiable value, while a `TRANSACTION` conversion is an action that does have a monetarily quantifiable value. Examples are email list signups (`ACTION`) versus ecommerce purchases (`TRANSACTION`)."
        },
        "revenueMicros": {
          "type": "string",
          "description": "The revenue amount of this `TRANSACTION` conversion, in micros (value multiplied by 1000000, no decimal). For example, to specify a revenue value of \"10\" enter \"10000000\" (10 million) in your request."
        },
        "engineAccountId": {
          "description": "DS engine account ID.",
          "format": "int64",
          "type": "string"
        },
        "segmentationName": {
          "type": "string",
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name)."
        },
        "segmentationId": {
          "type": "string",
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).",
          "format": "int64"
        },
        "criterionId": {
          "description": "DS criterion (keyword) ID.",
          "format": "int64",
          "type": "string"
        },
        "channel": {
          "type": "string",
          "description": "Sales channel for the product. Acceptable values are: - \"`local`\": a physical store - \"`online`\": an online store "
        },
        "conversionTimestamp": {
          "type": "string",
          "description": "The time at which the conversion took place, in epoch millis UTC.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          }
        },
        "adUserDataConsent": {
          "enum": [
            "UNKNOWN",
            "GRANTED",
            "DENIED"
          ],
          "type": "string",
          "description": "Represents consent for core platform services (CPS) preferences in settings. No default value. Acceptable values are: GRANTED: The desired consent status is to grant. Read the CPS preferences from GTE settings. DENIED: The desired consent status is to deny; CPS list is empty.",
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ]
        },
        "customDimension": {
          "type": "array",
          "items": {
            "$ref": "CustomDimension"
          },
          "description": "Custom dimensions for the conversion, which can be used to filter data in a report."
        },
        "productLanguage": {
          "type": "string",
          "description": "The language registered for the Merchant Center feed that contains the product. Use an ISO 639 code to specify a language."
        },
        "productId": {
          "type": "string",
          "description": "The product ID (SKU)."
        },
        "storeId": {
          "description": "The ID of the local store for which the product was advertised. Applicable only when the channel is \"`local`\".",
          "type": "string"
        },
        "agencyId": {
          "description": "DS agency ID.",
          "format": "int64",
          "type": "string"
        },
        "adGroupId": {
          "description": "DS ad group ID.",
          "format": "int64",
          "type": "string"
        },
        "attributionModel": {
          "description": "Available to advertisers only after contacting DoubleClick Search customer support.",
          "type": "string"
        },
        "deviceType": {
          "type": "string",
          "description": "The type of device on which the conversion occurred."
        },
        "state": {
          "description": "The state of the conversion, that is, either `ACTIVE` or `REMOVED`. Note: state DELETED is deprecated.",
          "type": "string"
        },
        "productCountry": {
          "type": "string",
          "description": "The country registered for the Merchant Center feed that contains the product. Use an ISO 3166 code to specify a country."
        },
        "adId": {
          "type": "string",
          "description": "DS ad ID.",
          "format": "int64"
        },
        "inventoryAccountId": {
          "description": "ID that DS generates and uses to uniquely identify the inventory account that contains the product.",
          "format": "int64",
          "type": "string"
        },
        "countMillis": {
          "description": "Available to advertisers only after contacting DoubleClick Search customer support.",
          "format": "int64",
          "type": "string"
        },
        "conversionModifiedTimestamp": {
          "description": "The time at which the conversion was last modified, in epoch millis UTC.",
          "format": "int64",
          "type": "string"
        },
        "advertiserId": {
          "type": "string",
          "description": "DS advertiser ID.",
          "format": "int64"
        },
        "productGroupId": {
          "type": "string",
          "description": "DS product group ID.",
          "format": "int64"
        },
        "conversionId": {
          "type": "string",
          "description": "For offline conversions, advertisers provide this ID. Advertisers can specify any ID that is meaningful to them. Each conversion in a request must specify a unique ID, and the combination of ID and timestamp must be unique amongst all conversions within the advertiser. For online conversions, DS copies the `dsConversionId` or `floodlightOrderId` into this property depending on the advertiser's Floodlight instructions.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          }
        },
        "quantityMillis": {
          "description": "The quantity of this conversion, in millis.",
          "format": "int64",
          "type": "string"
        },
        "clickId": {
          "description": "DS click ID for the conversion.",
          "type": "string"
        },
        "campaignId": {
          "type": "string",
          "description": "DS campaign ID.",
          "format": "int64"
        },
        "segmentationType": {
          "type": "string",
          "description": "The segmentation type of this conversion (for example, `FLOODLIGHT`).",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          }
        },
        "currencyCode": {
          "description": "The currency code for the conversion's revenue. Should be in ISO 4217 alphabetic (3-char) format.",
          "type": "string"
        },
        "customerId": {
          "type": "string",
          "description": "Customer ID of a client account in the new Search Ads 360 experience."
        },
        "customMetric": {
          "type": "array",
          "description": "Custom metrics for the conversion.",
          "items": {
            "$ref": "CustomMetric"
          }
        }
      },
      "id": "Conversion",
      "type": "object"
    },
    "UpdateAvailabilityResponse": {
      "id": "UpdateAvailabilityResponse",
      "type": "object",
      "description": "The response to a update availability request.",
      "properties": {
        "availabilities": {
          "type": "array",
          "items": {
            "$ref": "Availability"
          },
          "description": "The availabilities being returned."
        }
      }
    },
    "Report": {
      "description": "A DoubleClick Search report. This object contains the report request, some report metadata such as currency code, and the generated report rows or report files.",
      "properties": {
        "rows": {
          "type": "array",
          "description": "Synchronous report only. Generated report rows.",
          "items": {
            "$ref": "ReportRow"
          }
        },
        "files": {
          "items": {
            "type": "object",
            "properties": {
              "url": {
                "description": "Use this url to download the report file.",
                "type": "string"
              },
              "byteCount": {
                "description": "The size of this report file in bytes.",
                "format": "int64",
                "type": "string"
              }
            }
          },
          "description": "Asynchronous report only. Contains a list of generated report files once the report has successfully completed.",
          "type": "array"
        },
        "isReportReady": {
          "description": "Asynchronous report only. True if and only if the report has completed successfully and the report files are ready to be downloaded.",
          "type": "boolean"
        },
        "statisticsTimeZone": {
          "description": "If all statistics of the report are sourced from the same time zone, this would be it. Otherwise the field is unset.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies this as a Report resource. Value: the fixed string `doubleclicksearch#report`.",
          "type": "string"
        },
        "rowCount": {
          "description": "The number of report rows generated by the report, not including headers.",
          "format": "int32",
          "type": "integer"
        },
        "statisticsCurrencyCode": {
          "type": "string",
          "description": "The currency code of all monetary values produced in the report, including values that are set by users (e.g., keyword bid settings) and metrics (e.g., cost and revenue). The currency code of a report is determined by the `statisticsCurrency` field of the report request."
        },
        "request": {
          "description": "The request that created the report. Optional fields not specified in the original request are filled with default values.",
          "$ref": "ReportRequest"
        },
        "id": {
          "description": "Asynchronous report only. Id of the report.",
          "type": "string"
        }
      },
      "id": "Report",
      "type": "object"
    },
    "UpdateAvailabilityRequest": {
      "description": "The request to update availability.",
      "properties": {
        "availabilities": {
          "description": "The availabilities being requested.",
          "items": {
            "$ref": "Availability"
          },
          "type": "array"
        }
      },
      "id": "UpdateAvailabilityRequest",
      "type": "object"
    },
    "IdMappingFile": {
      "description": "File returned to https://developers.google.com/search-ads/v2/reference/reports/getIdMappingFile.",
      "properties": {},
      "type": "object",
      "id": "IdMappingFile"
    },
    "CustomDimension": {
      "description": "A message containing the custom dimension.",
      "properties": {
        "value": {
          "description": "Custom dimension value.",
          "type": "string"
        },
        "name": {
          "description": "Custom dimension name.",
          "type": "string"
        }
      },
      "id": "CustomDimension",
      "type": "object"
    },
    "ReportRow": {
      "description": "A row in a DoubleClick Search report.",
      "id": "ReportRow",
      "type": "object",
      "additionalProperties": {
        "description": "Indicates the columns that are represented in this row. That is, each key corresponds to a column with a non-empty cell in this row.",
        "type": "any"
      }
    },
    "SavedColumnList": {
      "description": "A list of saved columns. Advertisers create saved columns to report on Floodlight activities, Google Analytics goals, or custom KPIs. To request reports with saved columns, you'll need the saved column names that are available from this list.",
      "properties": {
        "items": {
          "description": "The saved columns being requested.",
          "items": {
            "$ref": "SavedColumn"
          },
          "type": "array"
        },
        "kind": {
          "description": "Identifies this as a SavedColumnList resource. Value: the fixed string doubleclicksearch#savedColumnList.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SavedColumnList"
    },
    "ConversionList": {
      "type": "object",
      "id": "ConversionList",
      "description": "A list of conversions.",
      "properties": {
        "conversion": {
          "type": "array",
          "items": {
            "$ref": "Conversion"
          },
          "description": "The conversions being requested."
        },
        "kind": {
          "description": "Identifies this as a ConversionList resource. Value: the fixed string doubleclicksearch#conversionList.",
          "type": "string"
        }
      }
    },
    "Availability": {
      "type": "object",
      "id": "Availability",
      "description": "A message containing availability data relevant to DoubleClick Search.",
      "properties": {
        "availabilityTimestamp": {
          "description": "The time by which all conversions have been uploaded, in epoch millis UTC.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "format": "int64",
          "type": "string"
        },
        "agencyId": {
          "type": "string",
          "description": "DS agency ID.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "format": "int64"
        },
        "segmentationId": {
          "type": "string",
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).",
          "format": "int64"
        },
        "advertiserId": {
          "description": "DS advertiser ID.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "format": "int64",
          "type": "string"
        },
        "segmentationType": {
          "description": "The segmentation type that this availability is for (its default value is `FLOODLIGHT`).",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "type": "string"
        },
        "segmentationName": {
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name).",
          "type": "string"
        },
        "customerId": {
          "description": "Customer ID of a client account in the new Search Ads 360 experience.",
          "type": "string"
        }
      }
    },
    "ReportRequest": {
      "type": "object",
      "id": "ReportRequest",
      "description": "A request object used to create a DoubleClick Search report.",
      "properties": {
        "filters": {
          "description": "A list of filters to be applied to the report.\\ The maximum number of filters per request is 300.",
          "items": {
            "type": "object",
            "properties": {
              "column": {
                "description": "Column to perform the filter on. This can be a DoubleClick Search column or a saved column.",
                "$ref": "ReportApiColumnSpec"
              },
              "operator": {
                "type": "string",
                "description": "Operator to use in the filter. See the filter reference for a list of available operators."
              },
              "values": {
                "type": "array",
                "items": {
                  "type": "any"
                },
                "description": "A list of values to filter the column value against.\\ The maximum number of filter values per request is 300."
              }
            }
          },
          "type": "array"
        },
        "includeDeletedEntities": {
          "description": "Determines if removed entities should be included in the report. Defaults to `false`. Deprecated, please use `includeRemovedEntities` instead.",
          "type": "boolean"
        },
        "reportType": {
          "description": "Determines the type of rows that are returned in the report. For example, if you specify `reportType: keyword`, each row in the report will contain data about a keyword. See the [Types of Reports](/search-ads/v2/report-types/) reference for the columns that are available for each type.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "string"
        },
        "downloadFormat": {
          "type": "string",
          "description": "Format that the report should be returned in. Currently `csv` or `tsv` is supported.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          }
        },
        "maxRowsPerFile": {
          "type": "integer",
          "description": "Asynchronous report only. The maximum number of rows per report file. A large report is split into many files based on this field. Acceptable values are `1000000` to `100000000`, inclusive.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "format": "int32"
        },
        "timeRange": {
          "type": "object",
          "description": "If metrics are requested in a report, this argument will be used to restrict the metrics to a specific time range.",
          "properties": {
            "changedAttributesSinceTimestamp": {
              "type": "string",
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed attribute reports work."
            },
            "endDate": {
              "description": "Inclusive date in YYYY-MM-DD format.",
              "type": "string"
            },
            "startDate": {
              "description": "Inclusive date in YYYY-MM-DD format.",
              "type": "string"
            },
            "changedMetricsSinceTimestamp": {
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed metrics reports work.",
              "type": "string"
            }
          }
        },
        "orderBy": {
          "type": "array",
          "items": {
            "properties": {
              "column": {
                "description": "Column to perform the sort on. This can be a DoubleClick Search-defined column or a saved column.",
                "$ref": "ReportApiColumnSpec"
              },
              "sortOrder": {
                "description": "The sort direction, which is either `ascending` or `descending`.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "description": "Synchronous report only. A list of columns and directions defining sorting to be performed on the report rows.\\ The maximum number of orderings per request is 300."
        },
        "statisticsCurrency": {
          "type": "string",
          "description": "Specifies the currency in which monetary will be returned. Possible values are: `usd`, `agency` (valid if the report is scoped to agency or lower), `advertiser` (valid if the report is scoped to * advertiser or lower), or `account` (valid if the report is scoped to engine account or lower).",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          }
        },
        "columns": {
          "description": "The columns to include in the report. This includes both DoubleClick Search columns and saved columns. For DoubleClick Search columns, only the `columnName` parameter is required. For saved columns only the `savedColumnName` parameter is required. Both `columnName` and `savedColumnName` cannot be set in the same stanza.\\ The maximum number of columns per request is 300.",
          "items": {
            "$ref": "ReportApiColumnSpec"
          },
          "type": "array"
        },
        "startRow": {
          "type": "integer",
          "description": "Synchronous report only. Zero-based index of the first row to return. Acceptable values are `0` to `50000`, inclusive. Defaults to `0`.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "format": "int32"
        },
        "rowCount": {
          "description": "Synchronous report only. The maximum number of rows to return; additional rows are dropped. Acceptable values are `0` to `10000`, inclusive. Defaults to `10000`.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "format": "int32",
          "type": "integer"
        },
        "reportScope": {
          "type": "object",
          "description": "The reportScope is a set of IDs that are used to determine which subset of entities will be returned in the report. The full lineage of IDs from the lowest scoped level desired up through agency is required.",
          "properties": {
            "adGroupId": {
              "description": "DS ad group ID.",
              "format": "int64",
              "type": "string"
            },
            "keywordId": {
              "description": "DS keyword ID.",
              "format": "int64",
              "type": "string"
            },
            "engineAccountId": {
              "description": "DS engine account ID.",
              "format": "int64",
              "type": "string"
            },
            "adId": {
              "description": "DS ad ID.",
              "format": "int64",
              "type": "string"
            },
            "advertiserId": {
              "type": "string",
              "description": "DS advertiser ID.",
              "format": "int64"
            },
            "campaignId": {
              "description": "DS campaign ID.",
              "format": "int64",
              "type": "string"
            },
            "agencyId": {
              "type": "string",
              "description": "DS agency ID.",
              "format": "int64"
            }
          }
        },
        "verifySingleTimeZone": {
          "description": "If `true`, the report would only be created if all the requested stat data are sourced from a single timezone. Defaults to `false`.",
          "type": "boolean"
        },
        "includeRemovedEntities": {
          "description": "Determines if removed entities should be included in the report. Defaults to `false`.",
          "type": "boolean"
        }
      }
    },
    "CustomMetric": {
      "type": "object",
      "id": "CustomMetric",
      "description": "A message containing the custom metric.",
      "properties": {
        "value": {
          "description": "Custom metric numeric value.",
          "format": "double",
          "type": "number"
        },
        "name": {
          "type": "string",
          "description": "Custom metric name."
        }
      }
    },
    "ReportApiColumnSpec": {
      "id": "ReportApiColumnSpec",
      "type": "object",
      "description": "A request object used to create a DoubleClick Search report.",
      "properties": {
        "savedColumnName": {
          "description": "Name of a saved column to include in the report. The report must be scoped at advertiser or lower, and this saved column must already be created in the DoubleClick Search UI.",
          "type": "string"
        },
        "columnName": {
          "description": "Name of a DoubleClick Search column to include in the report.",
          "type": "string"
        },
        "productReportPerspective": {
          "description": "Returns metrics only for a specific type of product activity. Accepted values are: - \"`sold`\": returns metrics only for products that were sold - \"`advertised`\": returns metrics only for products that were advertised in a Shopping campaign, and that might or might not have been sold ",
          "type": "string"
        },
        "customDimensionName": {
          "description": "Segments a report by a custom dimension. The report must be scoped to an advertiser or lower, and the custom dimension must already be set up in DoubleClick Search. The custom dimension name, which appears in DoubleClick Search, is case sensitive.\\ If used in a conversion report, returns the value of the specified custom dimension for the given conversion, if set. This column does not segment the conversion report.",
          "type": "string"
        },
        "headerText": {
          "type": "string",
          "description": "Text used to identify this column in the report output; defaults to `columnName` or `savedColumnName` when not specified. This can be used to prevent collisions between DoubleClick Search columns and saved columns with the same name."
        },
        "groupByColumn": {
          "description": "Synchronous report only. Set to `true` to group by this column. Defaults to `false`.",
          "type": "boolean"
        },
        "endDate": {
          "type": "string",
          "description": "Inclusive day in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `startDate`."
        },
        "platformSource": {
          "description": "The platform that is used to provide data for the custom dimension. Acceptable values are \"floodlight\".",
          "type": "string"
        },
        "customMetricName": {
          "type": "string",
          "description": "Name of a custom metric to include in the report. The report must be scoped to an advertiser or lower, and the custom metric must already be set up in DoubleClick Search. The custom metric name, which appears in DoubleClick Search, is case sensitive."
        },
        "startDate": {
          "description": "Inclusive date in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `endDate`.",
          "type": "string"
        }
      }
    }
  },
  "name": "doubleclicksearch",
  "kind": "discovery#restDescription"
}