{
  "id": "doubleclickbidmanager:v2",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclickbidmanager": {
          "description": "View and manage your reports in DoubleClick Bid Manager"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/bid-manager/",
  "protocol": "rest",
  "servicePath": "v2/",
  "description": "DoubleClick Bid Manager API allows users to manage and create campaigns and reports.",
  "mtlsRootUrl": "https://doubleclickbidmanager.mtls.googleapis.com/",
  "title": "DoubleClick Bid Manager API",
  "kind": "discovery#restDescription",
  "name": "doubleclickbidmanager",
  "schemas": {
    "Parameters": {
      "id": "Parameters",
      "type": "object",
      "properties": {
        "metrics": {
          "type": "array",
          "description": "Metrics to define the data populating the report. Defined by [Metric](/bid-manager/reference/rest/v2/filters-metrics#metrics) values.",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "enum": [
            "REPORT_TYPE_UNSPECIFIED",
            "STANDARD",
            "INVENTORY_AVAILABILITY",
            "AUDIENCE_COMPOSITION",
            "FLOODLIGHT",
            "YOUTUBE",
            "GRP",
            "YOUTUBE_PROGRAMMATIC_GUARANTEED",
            "REACH",
            "UNIQUE_REACH_AUDIENCE",
            "FULL_PATH",
            "PATH_ATTRIBUTION"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true
          ],
          "type": "string",
          "description": "The type of the report. The type of the report determines the dimesions, filters, and metrics that can be used.",
          "enumDescriptions": [
            "Default value when report type is not specified or is unknown in this version.",
            "Standard report.",
            "Inventory Availability report.",
            "Audience Composition report.",
            "Floodlight report.",
            "YouTube report.",
            "GRP report.",
            "YouTube Programmatic Guaranteed report.",
            "Reach report.",
            "Unique Reach Audience report.",
            "Full Path report.",
            "Path Attribution report."
          ]
        },
        "filters": {
          "type": "array",
          "description": "Filters to limit the scope of reported data.",
          "items": {
            "$ref": "FilterPair"
          }
        },
        "groupBys": {
          "type": "array",
          "description": "Dimensions by which to segment and group the data. Defined by [Filter](/bid-manager/reference/rest/v2/filters-metrics#filters) values.",
          "items": {
            "type": "string"
          }
        },
        "options": {
          "description": "Additional report parameter options.",
          "$ref": "Options"
        }
      },
      "description": "Parameters of a generated report."
    },
    "ListQueriesResponse": {
      "id": "ListQueriesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `queries.list` method to retrieve the next page of results.",
          "type": "string"
        },
        "queries": {
          "description": "The list of queries. This field will be absent if empty.",
          "items": {
            "$ref": "Query"
          },
          "type": "array"
        }
      }
    },
    "ReportMetadata": {
      "id": "ReportMetadata",
      "type": "object",
      "properties": {
        "status": {
          "description": "The status of the report.",
          "$ref": "ReportStatus"
        },
        "reportDataStartDate": {
          "description": "The start date of the report data date range.",
          "$ref": "Date"
        },
        "reportDataEndDate": {
          "$ref": "Date",
          "description": "The end date of the report data date range."
        },
        "googleCloudStoragePath": {
          "description": "Output only. The location of the generated report file in Google Cloud Storage. This field will be absent if status.state is not `DONE`.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "The metadata of a report."
    },
    "ReportKey": {
      "id": "ReportKey",
      "type": "object",
      "properties": {
        "queryId": {
          "type": "string",
          "description": "Output only. The unique ID of the query that generated the report.",
          "readOnly": true,
          "format": "int64"
        },
        "reportId": {
          "type": "string",
          "description": "Output only. The unique ID of the report.",
          "readOnly": true,
          "format": "int64"
        }
      },
      "description": "Identifying information of a report."
    },
    "Date": {
      "id": "Date",
      "type": "object",
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "ReportStatus": {
      "id": "ReportStatus",
      "type": "object",
      "properties": {
        "finishTime": {
          "type": "string",
          "description": "Output only. The timestamp of when report generation finished successfully or in failure. This field will not be set unless state is `DONE` or `FAILED`.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. The state of the report generation.",
          "enumDescriptions": [
            "Default value when state is not specified or is unknown in this version.",
            "The report is queued to run.",
            "The report is currently running.",
            "The report has finished running successfully.",
            "The report has finished running in failure."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "RUNNING",
            "DONE",
            "FAILED"
          ]
        },
        "format": {
          "description": "The format of the generated report file.",
          "enumDescriptions": [
            "Default value when format is not specified or is unknown in this version.",
            "CSV.",
            "Excel."
          ],
          "type": "string",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ]
        }
      },
      "description": "The status of a report."
    },
    "DataRange": {
      "id": "DataRange",
      "type": "object",
      "properties": {
        "customEndDate": {
          "$ref": "Date",
          "description": "If `CUSTOM_DATES` is assigned to range, this field specifies the end date for the date range that is reported on. This field is required if using `CUSTOM_DATES` range and will be ignored otherwise."
        },
        "range": {
          "enum": [
            "RANGE_UNSPECIFIED",
            "CUSTOM_DATES",
            "CURRENT_DAY",
            "PREVIOUS_DAY",
            "WEEK_TO_DATE",
            "MONTH_TO_DATE",
            "QUARTER_TO_DATE",
            "YEAR_TO_DATE",
            "PREVIOUS_WEEK",
            "PREVIOUS_MONTH",
            "PREVIOUS_QUARTER",
            "PREVIOUS_YEAR",
            "LAST_7_DAYS",
            "LAST_30_DAYS",
            "LAST_90_DAYS",
            "LAST_365_DAYS",
            "ALL_TIME",
            "LAST_14_DAYS",
            "LAST_60_DAYS"
          ],
          "type": "string",
          "description": "The preset date range to be reported on. If `CUSTOM_DATES` is assigned to this field, fields custom_start_date and custom_end_date must be set to specify the custom date range.",
          "enumDescriptions": [
            "Default value when range is not specified or is unknown in this version.",
            "Custom date range.",
            "Current day.",
            "Previous day.",
            "All days, including the current day, since the most recent Sunday.",
            "All days, including the current day, since the start of the current month.",
            "All days, including the current day, since the start of the current quarter.",
            "All days, including the current day, since the start of the current calendar year.",
            "The previous completed week, beginning from Sunday.",
            "The previous completed calendar month.",
            "The previous completed quarter.",
            "The previous completed calendar year.",
            "The previous 7 days, excluding the current day.",
            "The previous 30 days, excluding the current day.",
            "The previous 90 days, excluding the current day.",
            "The previous 365 days, excluding the current day.",
            "All time for which data is available, excluding the current day.",
            "The previous 14 days, excluding the current day.",
            "The previous 60 days, excluding the current day."
          ]
        },
        "customStartDate": {
          "$ref": "Date",
          "description": "If `CUSTOM_DATES` is assigned to range, this field specifies the starting date for the date range that is reported on. This field is required if using `CUSTOM_DATES` range and will be ignored otherwise."
        }
      },
      "description": "The date range to be reported on."
    },
    "FilterPair": {
      "description": "Represents a single filter rule.",
      "id": "FilterPair",
      "type": "object",
      "properties": {
        "value": {
          "description": "The identifying value to filter by, such as a relevant resource ID.",
          "type": "string"
        },
        "type": {
          "description": "The type of value to filter by. Defined by a [Filter](/bid-manager/reference/rest/v2/filters-metrics#filters) value.",
          "type": "string"
        }
      }
    },
    "Report": {
      "description": "A single report generated by its parent report.",
      "id": "Report",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "ReportMetadata",
          "description": "The metadata of the report."
        },
        "params": {
          "description": "The parameters of the report.",
          "$ref": "Parameters"
        },
        "key": {
          "$ref": "ReportKey",
          "description": "The key information identifying the report."
        }
      }
    },
    "QuerySchedule": {
      "id": "QuerySchedule",
      "type": "object",
      "properties": {
        "startDate": {
          "description": "The date on which to begin the scheduled runs. This field is required if frequency is not set to `ONE_TIME`. Otherwise, it will be ignored.",
          "$ref": "Date"
        },
        "endDate": {
          "$ref": "Date",
          "description": "The date on which to end the scheduled runs. This field is required if frequency is not set to `ONE_TIME`. Otherwise, it will be ignored."
        },
        "frequency": {
          "type": "string",
          "enum": [
            "FREQUENCY_UNSPECIFIED",
            "ONE_TIME",
            "DAILY",
            "WEEKLY",
            "SEMI_MONTHLY",
            "MONTHLY",
            "QUARTERLY",
            "YEARLY"
          ],
          "description": "How frequently to run the query. If set to `ONE_TIME`, the query will only be run when queries.run is called.",
          "enumDescriptions": [
            "Default value when frequency is not specified or is unknown in this version.",
            "Only when the query is run manually.",
            "Once a day.",
            "Once a week.",
            "Twice a month.",
            "Once a month.",
            "Once a quarter.",
            "Once a year."
          ]
        },
        "nextRunTimezoneCode": {
          "description": "The canonical code for the timezone the query schedule is based on. Scheduled runs are usually conducted in the morning of a given day. Defaults to `America/New_York`.",
          "type": "string"
        }
      },
      "description": "Settings on when and how frequently to run a query."
    },
    "ListReportsResponse": {
      "id": "ListReportsResponse",
      "type": "object",
      "properties": {
        "reports": {
          "type": "array",
          "description": "The list of reports. This field will be absent if empty.",
          "items": {
            "$ref": "Report"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the page_token field in the subsequent call to `queries.reports.list` method to retrieve the next page of results.",
          "type": "string"
        }
      }
    },
    "QueryMetadata": {
      "id": "QueryMetadata",
      "type": "object",
      "properties": {
        "title": {
          "description": "The display name of the query. This value will be used in the file name of reports generated by the query.",
          "type": "string"
        },
        "sendNotification": {
          "description": "Whether an email notification is sent to the query creator when a report generated by the query is ready. This value is `false` by default.",
          "type": "boolean"
        },
        "shareEmailAddress": {
          "type": "array",
          "description": "List of additional email addresses with which to share the query. If send_notification is `true`, these email addresses will receive a notification when a report generated by the query is ready. If these email addresses are connected to Display & Video 360 users, the query will be available to them in the Display & Video 360 interface.",
          "items": {
            "type": "string"
          }
        },
        "format": {
          "description": "The format of the report generated by the query.",
          "enumDescriptions": [
            "Default value when format is not specified or is unknown in this version.",
            "CSV.",
            "Excel."
          ],
          "enum": [
            "FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ],
          "type": "string"
        },
        "dataRange": {
          "description": "The date range the report generated by the query will report on. This date range will be defined by the time zone as used by the advertiser.",
          "$ref": "DataRange"
        }
      },
      "description": "The metadata of the query."
    },
    "Query": {
      "description": "A single query used to generate a report.",
      "id": "Query",
      "type": "object",
      "properties": {
        "queryId": {
          "type": "string",
          "description": "Output only. The unique ID of the query.",
          "readOnly": true,
          "format": "int64"
        },
        "params": {
          "description": "The parameters of the report generated by the query.",
          "$ref": "Parameters"
        },
        "metadata": {
          "$ref": "QueryMetadata",
          "description": "The metadata of the query."
        },
        "schedule": {
          "$ref": "QuerySchedule",
          "description": "When and how often the query is scheduled to run. If the frequency field is set to `ONE_TIME`, the query will only run when queries.run is called."
        }
      }
    },
    "RunQueryRequest": {
      "description": "Details specifying how to run a query.",
      "id": "RunQueryRequest",
      "type": "object",
      "properties": {
        "dataRange": {
          "description": "The date range used by the query to generate the report. If unspecified, the query's original data_range is used.",
          "$ref": "DataRange"
        }
      }
    },
    "Options": {
      "description": "Report parameter options.",
      "id": "Options",
      "type": "object",
      "properties": {
        "includeOnlyTargetedUserLists": {
          "description": "Whether to include data for audience lists specifically targeted by filtered line items or insertion orders. Requires the use of `FILTER_INSERTION_ORDER` or `FILTER_LINE_ITEM` filters.",
          "type": "boolean"
        }
      }
    }
  },
  "baseUrl": "https://doubleclickbidmanager.googleapis.com/v2/",
  "ownerName": "Google",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerDomain": "google.com",
  "basePath": "/v2/",
  "rootUrl": "https://doubleclickbidmanager.googleapis.com/",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "version": "v2",
  "canonicalName": "DoubleClick Bid Manager",
  "batchPath": "batch",
  "resources": {
    "queries": {
      "resources": {
        "reports": {
          "methods": {
            "list": {
              "parameterOrder": [
                "queryId"
              ],
              "response": {
                "$ref": "ListReportsResponse"
              },
              "description": "Lists reports generated by the provided query.",
              "path": "queries/{queryId}/reports",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "Maximum number of results per page. Must be between `1` and `100`. Defaults to `100` if unspecified.",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A token identifying which page of results the server should return. Typically, this is the value of nextPageToken returned from the previous call to the `queries.reports.list` method. If unspecified, the first page of results is returned.",
                  "location": "query"
                },
                "orderBy": {
                  "description": "Field to sort the list by. Accepts the following values: * `key.reportId` (default) The default sorting order is ascending. To specify descending order for a field, add the suffix `desc` to the field name. For example, `key.reportId desc`.",
                  "location": "query",
                  "type": "string"
                },
                "queryId": {
                  "description": "Required. The ID of the query that generated the reports.",
                  "format": "int64",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ],
              "id": "doubleclickbidmanager.queries.reports.list",
              "flatPath": "queries/{queryId}/reports"
            },
            "get": {
              "id": "doubleclickbidmanager.queries.reports.get",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclickbidmanager"
              ],
              "httpMethod": "GET",
              "parameters": {
                "queryId": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The ID of the query that generated the report.",
                  "format": "int64",
                  "location": "path"
                },
                "reportId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The ID of the query to retrieve.",
                  "format": "int64"
                }
              },
              "path": "queries/{queryId}/reports/{reportId}",
              "response": {
                "$ref": "Report"
              },
              "description": "Retrieves a report.",
              "parameterOrder": [
                "queryId",
                "reportId"
              ],
              "flatPath": "queries/{queryId}/reports/{reportId}"
            }
          }
        }
      },
      "methods": {
        "get": {
          "flatPath": "queries/{queryId}",
          "parameterOrder": [
            "queryId"
          ],
          "response": {
            "$ref": "Query"
          },
          "description": "Retrieves a query.",
          "path": "queries/{queryId}",
          "httpMethod": "GET",
          "parameters": {
            "queryId": {
              "required": true,
              "type": "string",
              "description": "Required. The ID of the query to retrieve.",
              "format": "int64",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "id": "doubleclickbidmanager.queries.get"
        },
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "id": "doubleclickbidmanager.queries.create",
          "httpMethod": "POST",
          "parameters": {},
          "path": "queries",
          "request": {
            "$ref": "Query"
          },
          "parameterOrder": [],
          "response": {
            "$ref": "Query"
          },
          "description": "Creates a new query.",
          "flatPath": "queries"
        },
        "delete": {
          "path": "queries/{queryId}",
          "parameterOrder": [
            "queryId"
          ],
          "flatPath": "queries/{queryId}",
          "description": "Deletes an existing query as well as its generated reports.",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "id": "doubleclickbidmanager.queries.delete",
          "httpMethod": "DELETE",
          "parameters": {
            "queryId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The ID of the query to delete.",
              "format": "int64"
            }
          }
        },
        "list": {
          "parameterOrder": [],
          "response": {
            "$ref": "ListQueriesResponse"
          },
          "description": "Lists queries created by the current user.",
          "path": "queries",
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "description": "Maximum number of results per page. Must be between `1` and `100`. Defaults to `100` if unspecified.",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "description": "A token identifying which page of results the server should return. Typically, this is the value of nextPageToken, returned from the previous call to the `queries.list` method. If unspecified, the first page of results is returned.",
              "location": "query"
            },
            "orderBy": {
              "type": "string",
              "description": "Field to sort the list by. Accepts the following values: * `queryId` (default) * `metadata.title` The default sorting order is ascending. To specify descending order for a field, add the suffix `desc` to the field name. For example, `queryId desc`.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "id": "doubleclickbidmanager.queries.list",
          "flatPath": "queries"
        },
        "run": {
          "httpMethod": "POST",
          "parameters": {
            "queryId": {
              "location": "path",
              "description": "Required. The ID of the query to run.",
              "format": "int64",
              "required": true,
              "type": "string"
            },
            "synchronous": {
              "type": "boolean",
              "description": "Whether the query should be run synchronously. When `true`, the request won't return until the resulting report has finished running. This parameter is `false` by default. Setting this parameter to `true` is **not recommended**.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclickbidmanager"
          ],
          "id": "doubleclickbidmanager.queries.run",
          "parameterOrder": [
            "queryId"
          ],
          "response": {
            "$ref": "Report"
          },
          "description": "Runs an existing query to generate a report.",
          "path": "queries/{queryId}:run",
          "request": {
            "$ref": "RunQueryRequest"
          },
          "flatPath": "queries/{queryId}:run"
        }
      }
    }
  },
  "revision": "20260729"
}