{
  "description": "The Search Ads 360 API allows developers to automate uploading conversions and downloading reports from Search Ads 360.",
  "protocol": "rest",
  "mtlsRootUrl": "https://doubleclicksearch.mtls.googleapis.com/",
  "revision": "20260901",
  "discoveryVersion": "v1",
  "version": "v2",
  "ownerDomain": "google.com",
  "rootUrl": "https://doubleclicksearch.googleapis.com/",
  "servicePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "documentationLink": "https://developers.google.com/search-ads",
  "schemas": {
    "ReportApiColumnSpec": {
      "properties": {
        "customMetricName": {
          "type": "string",
          "description": "Name of a custom metric to include in the report. The report must be scoped to an advertiser or lower, and the custom metric must already be set up in DoubleClick Search. The custom metric name, which appears in DoubleClick Search, is case sensitive."
        },
        "groupByColumn": {
          "type": "boolean",
          "description": "Synchronous report only. Set to `true` to group by this column. Defaults to `false`."
        },
        "endDate": {
          "description": "Inclusive day in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `startDate`.",
          "type": "string"
        },
        "savedColumnName": {
          "type": "string",
          "description": "Name of a saved column to include in the report. The report must be scoped at advertiser or lower, and this saved column must already be created in the DoubleClick Search UI."
        },
        "productReportPerspective": {
          "description": "Returns metrics only for a specific type of product activity. Accepted values are: - \"`sold`\": returns metrics only for products that were sold - \"`advertised`\": returns metrics only for products that were advertised in a Shopping campaign, and that might or might not have been sold ",
          "type": "string"
        },
        "platformSource": {
          "description": "The platform that is used to provide data for the custom dimension. Acceptable values are \"floodlight\".",
          "type": "string"
        },
        "columnName": {
          "description": "Name of a DoubleClick Search column to include in the report.",
          "type": "string"
        },
        "customDimensionName": {
          "type": "string",
          "description": "Segments a report by a custom dimension. The report must be scoped to an advertiser or lower, and the custom dimension must already be set up in DoubleClick Search. The custom dimension name, which appears in DoubleClick Search, is case sensitive.\\ If used in a conversion report, returns the value of the specified custom dimension for the given conversion, if set. This column does not segment the conversion report."
        },
        "startDate": {
          "type": "string",
          "description": "Inclusive date in YYYY-MM-DD format. When provided, this overrides the overall time range of the report for this column only. Must be provided together with `endDate`."
        },
        "headerText": {
          "description": "Text used to identify this column in the report output; defaults to `columnName` or `savedColumnName` when not specified. This can be used to prevent collisions between DoubleClick Search columns and saved columns with the same name.",
          "type": "string"
        }
      },
      "description": "A request object used to create a DoubleClick Search report.",
      "id": "ReportApiColumnSpec",
      "type": "object"
    },
    "Report": {
      "type": "object",
      "properties": {
        "rowCount": {
          "description": "The number of report rows generated by the report, not including headers.",
          "type": "integer",
          "format": "int32"
        },
        "statisticsTimeZone": {
          "type": "string",
          "description": "If all statistics of the report are sourced from the same time zone, this would be it. Otherwise the field is unset."
        },
        "request": {
          "$ref": "ReportRequest",
          "description": "The request that created the report. Optional fields not specified in the original request are filled with default values."
        },
        "isReportReady": {
          "type": "boolean",
          "description": "Asynchronous report only. True if and only if the report has completed successfully and the report files are ready to be downloaded."
        },
        "kind": {
          "description": "Identifies this as a Report resource. Value: the fixed string `doubleclicksearch#report`.",
          "type": "string"
        },
        "statisticsCurrencyCode": {
          "type": "string",
          "description": "The currency code of all monetary values produced in the report, including values that are set by users (e.g., keyword bid settings) and metrics (e.g., cost and revenue). The currency code of a report is determined by the `statisticsCurrency` field of the report request."
        },
        "id": {
          "description": "Asynchronous report only. Id of the report.",
          "type": "string"
        },
        "files": {
          "type": "array",
          "items": {
            "properties": {
              "url": {
                "description": "Use this url to download the report file.",
                "type": "string"
              },
              "byteCount": {
                "type": "string",
                "description": "The size of this report file in bytes.",
                "format": "int64"
              }
            },
            "type": "object"
          },
          "description": "Asynchronous report only. Contains a list of generated report files once the report has successfully completed."
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "ReportRow"
          },
          "description": "Synchronous report only. Generated report rows."
        }
      },
      "id": "Report",
      "description": "A DoubleClick Search report. This object contains the report request, some report metadata such as currency code, and the generated report rows or report files."
    },
    "UpdateAvailabilityResponse": {
      "type": "object",
      "id": "UpdateAvailabilityResponse",
      "description": "The response to a update availability request.",
      "properties": {
        "availabilities": {
          "items": {
            "$ref": "Availability"
          },
          "type": "array",
          "description": "The availabilities being returned."
        }
      }
    },
    "UpdateAvailabilityRequest": {
      "type": "object",
      "id": "UpdateAvailabilityRequest",
      "properties": {
        "availabilities": {
          "type": "array",
          "items": {
            "$ref": "Availability"
          },
          "description": "The availabilities being requested."
        }
      },
      "description": "The request to update availability."
    },
    "ReportRequest": {
      "description": "A request object used to create a DoubleClick Search report.",
      "type": "object",
      "id": "ReportRequest",
      "properties": {
        "maxRowsPerFile": {
          "description": "Asynchronous report only. The maximum number of rows per report file. A large report is split into many files based on this field. Acceptable values are `1000000` to `100000000`, inclusive.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "format": "int32",
          "type": "integer"
        },
        "timeRange": {
          "description": "If metrics are requested in a report, this argument will be used to restrict the metrics to a specific time range.",
          "type": "object",
          "properties": {
            "startDate": {
              "description": "Inclusive date in YYYY-MM-DD format.",
              "type": "string"
            },
            "endDate": {
              "type": "string",
              "description": "Inclusive date in YYYY-MM-DD format."
            },
            "changedMetricsSinceTimestamp": {
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed metrics reports work.",
              "type": "string"
            },
            "changedAttributesSinceTimestamp": {
              "description": "Inclusive UTC timestamp in RFC format, e.g., `2013-07-16T10:16:23.555Z`. See additional references on how changed attribute reports work.",
              "type": "string"
            }
          }
        },
        "statisticsCurrency": {
          "description": "Specifies the currency in which monetary will be returned. Possible values are: `usd`, `agency` (valid if the report is scoped to agency or lower), `advertiser` (valid if the report is scoped to * advertiser or lower), or `account` (valid if the report is scoped to engine account or lower).",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "string"
        },
        "includeDeletedEntities": {
          "type": "boolean",
          "description": "Determines if removed entities should be included in the report. Defaults to `false`. Deprecated, please use `includeRemovedEntities` instead."
        },
        "includeRemovedEntities": {
          "description": "Determines if removed entities should be included in the report. Defaults to `false`.",
          "type": "boolean"
        },
        "reportScope": {
          "properties": {
            "campaignId": {
              "description": "DS campaign ID.",
              "format": "int64",
              "type": "string"
            },
            "advertiserId": {
              "format": "int64",
              "description": "DS advertiser ID.",
              "type": "string"
            },
            "adId": {
              "type": "string",
              "description": "DS ad ID.",
              "format": "int64"
            },
            "adGroupId": {
              "format": "int64",
              "type": "string",
              "description": "DS ad group ID."
            },
            "engineAccountId": {
              "description": "DS engine account ID.",
              "format": "int64",
              "type": "string"
            },
            "keywordId": {
              "format": "int64",
              "description": "DS keyword ID.",
              "type": "string"
            },
            "agencyId": {
              "format": "int64",
              "description": "DS agency ID.",
              "type": "string"
            }
          },
          "type": "object",
          "description": "The reportScope is a set of IDs that are used to determine which subset of entities will be returned in the report. The full lineage of IDs from the lowest scoped level desired up through agency is required."
        },
        "rowCount": {
          "type": "integer",
          "description": "Synchronous report only. The maximum number of rows to return; additional rows are dropped. Acceptable values are `0` to `10000`, inclusive. Defaults to `10000`.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "format": "int32"
        },
        "reportType": {
          "type": "string",
          "description": "Determines the type of rows that are returned in the report. For example, if you specify `reportType: keyword`, each row in the report will contain data about a keyword. See the [Types of Reports](/search-ads/v2/report-types/) reference for the columns that are available for each type.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate",
              "doubleclicksearch.reports.request"
            ]
          }
        },
        "orderBy": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "column": {
                "description": "Column to perform the sort on. This can be a DoubleClick Search-defined column or a saved column.",
                "$ref": "ReportApiColumnSpec"
              },
              "sortOrder": {
                "description": "The sort direction, which is either `ascending` or `descending`.",
                "type": "string"
              }
            }
          },
          "description": "Synchronous report only. A list of columns and directions defining sorting to be performed on the report rows.\\ The maximum number of orderings per request is 300."
        },
        "startRow": {
          "description": "Synchronous report only. Zero-based index of the first row to return. Acceptable values are `0` to `50000`, inclusive. Defaults to `0`.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.generate"
            ]
          },
          "type": "integer",
          "format": "int32"
        },
        "verifySingleTimeZone": {
          "description": "If `true`, the report would only be created if all the requested stat data are sourced from a single timezone. Defaults to `false`.",
          "type": "boolean"
        },
        "downloadFormat": {
          "description": "Format that the report should be returned in. Currently `csv` or `tsv` is supported.",
          "annotations": {
            "required": [
              "doubleclicksearch.reports.request"
            ]
          },
          "type": "string"
        },
        "columns": {
          "description": "The columns to include in the report. This includes both DoubleClick Search columns and saved columns. For DoubleClick Search columns, only the `columnName` parameter is required. For saved columns only the `savedColumnName` parameter is required. Both `columnName` and `savedColumnName` cannot be set in the same stanza.\\ The maximum number of columns per request is 300.",
          "type": "array",
          "items": {
            "$ref": "ReportApiColumnSpec"
          }
        },
        "filters": {
          "items": {
            "type": "object",
            "properties": {
              "values": {
                "type": "array",
                "description": "A list of values to filter the column value against.\\ The maximum number of filter values per request is 300.",
                "items": {
                  "type": "any"
                }
              },
              "column": {
                "description": "Column to perform the filter on. This can be a DoubleClick Search column or a saved column.",
                "$ref": "ReportApiColumnSpec"
              },
              "operator": {
                "type": "string",
                "description": "Operator to use in the filter. See the filter reference for a list of available operators."
              }
            }
          },
          "description": "A list of filters to be applied to the report.\\ The maximum number of filters per request is 300.",
          "type": "array"
        }
      }
    },
    "ReportRow": {
      "type": "object",
      "description": "A row in a DoubleClick Search report.",
      "id": "ReportRow",
      "additionalProperties": {
        "type": "any",
        "description": "Indicates the columns that are represented in this row. That is, each key corresponds to a column with a non-empty cell in this row."
      }
    },
    "SavedColumnList": {
      "type": "object",
      "description": "A list of saved columns. Advertisers create saved columns to report on Floodlight activities, Google Analytics goals, or custom KPIs. To request reports with saved columns, you'll need the saved column names that are available from this list.",
      "properties": {
        "kind": {
          "description": "Identifies this as a SavedColumnList resource. Value: the fixed string doubleclicksearch#savedColumnList.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "SavedColumn"
          },
          "description": "The saved columns being requested."
        }
      },
      "id": "SavedColumnList"
    },
    "ConversionList": {
      "description": "A list of conversions.",
      "type": "object",
      "id": "ConversionList",
      "properties": {
        "conversion": {
          "description": "The conversions being requested.",
          "items": {
            "$ref": "Conversion"
          },
          "type": "array"
        },
        "kind": {
          "description": "Identifies this as a ConversionList resource. Value: the fixed string doubleclicksearch#conversionList.",
          "type": "string"
        }
      }
    },
    "CustomDimension": {
      "id": "CustomDimension",
      "type": "object",
      "properties": {
        "name": {
          "description": "Custom dimension name.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Custom dimension value."
        }
      },
      "description": "A message containing the custom dimension."
    },
    "IdMappingFile": {
      "type": "object",
      "properties": {},
      "id": "IdMappingFile",
      "description": "File returned to https://developers.google.com/search-ads/v2/reference/reports/getIdMappingFile."
    },
    "Availability": {
      "description": "A message containing availability data relevant to DoubleClick Search.",
      "id": "Availability",
      "properties": {
        "availabilityTimestamp": {
          "description": "The time by which all conversions have been uploaded, in epoch millis UTC.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "type": "string",
          "format": "int64"
        },
        "segmentationId": {
          "type": "string",
          "format": "int64",
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID)."
        },
        "customerId": {
          "description": "Customer ID of a client account in the new Search Ads 360 experience.",
          "type": "string"
        },
        "advertiserId": {
          "type": "string",
          "description": "DS advertiser ID.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "format": "int64"
        },
        "segmentationType": {
          "type": "string",
          "description": "The segmentation type that this availability is for (its default value is `FLOODLIGHT`).",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          }
        },
        "segmentationName": {
          "type": "string",
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name)."
        },
        "agencyId": {
          "type": "string",
          "description": "DS agency ID.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.updateAvailability"
            ]
          },
          "format": "int64"
        }
      },
      "type": "object"
    },
    "SavedColumn": {
      "type": "object",
      "properties": {
        "savedColumnName": {
          "description": "The name of the saved column.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies this as a SavedColumn resource. Value: the fixed string doubleclicksearch#savedColumn.",
          "type": "string"
        },
        "type": {
          "description": "The type of data this saved column will produce.",
          "type": "string"
        }
      },
      "id": "SavedColumn",
      "description": "A saved column"
    },
    "CustomMetric": {
      "id": "CustomMetric",
      "description": "A message containing the custom metric.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Custom metric name.",
          "type": "string"
        },
        "value": {
          "type": "number",
          "description": "Custom metric numeric value.",
          "format": "double"
        }
      }
    },
    "Conversion": {
      "type": "object",
      "id": "Conversion",
      "description": "A conversion containing data relevant to DoubleClick Search. Common DS3 API conversion fields: Id Range [1 - 2800]. Next Id to use: 33",
      "properties": {
        "adId": {
          "format": "int64",
          "description": "DS ad ID.",
          "type": "string"
        },
        "productId": {
          "type": "string",
          "description": "The product ID (SKU)."
        },
        "criterionId": {
          "type": "string",
          "description": "DS criterion (keyword) ID.",
          "format": "int64"
        },
        "customerId": {
          "type": "string",
          "description": "Customer ID of a client account in the new Search Ads 360 experience."
        },
        "conversionModifiedTimestamp": {
          "format": "int64",
          "type": "string",
          "description": "The time at which the conversion was last modified, in epoch millis UTC."
        },
        "revenueMicros": {
          "description": "The revenue amount of this `TRANSACTION` conversion, in micros (value multiplied by 1000000, no decimal). For example, to specify a revenue value of \"10\" enter \"10000000\" (10 million) in your request.",
          "type": "string"
        },
        "advertiserId": {
          "format": "int64",
          "type": "string",
          "description": "DS advertiser ID."
        },
        "productGroupId": {
          "format": "int64",
          "description": "DS product group ID.",
          "type": "string"
        },
        "attributionModel": {
          "description": "Available to advertisers only after contacting DoubleClick Search customer support.",
          "type": "string"
        },
        "segmentationType": {
          "description": "The segmentation type of this conversion (for example, `FLOODLIGHT`).",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "type": "string"
        },
        "conversionId": {
          "type": "string",
          "description": "For offline conversions, advertisers provide this ID. Advertisers can specify any ID that is meaningful to them. Each conversion in a request must specify a unique ID, and the combination of ID and timestamp must be unique amongst all conversions within the advertiser. For online conversions, DS copies the `dsConversionId` or `floodlightOrderId` into this property depending on the advertiser's Floodlight instructions.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          }
        },
        "floodlightOrderId": {
          "description": "The Floodlight order ID provided by the advertiser for the conversion.",
          "type": "string"
        },
        "channel": {
          "type": "string",
          "description": "Sales channel for the product. Acceptable values are: - \"`local`\": a physical store - \"`online`\": an online store "
        },
        "campaignId": {
          "description": "DS campaign ID.",
          "type": "string",
          "format": "int64"
        },
        "adGroupId": {
          "type": "string",
          "description": "DS ad group ID.",
          "format": "int64"
        },
        "adUserDataConsent": {
          "enum": [
            "UNKNOWN",
            "GRANTED",
            "DENIED"
          ],
          "description": "Represents consent for core platform services (CPS) preferences in settings. No default value. Acceptable values are: GRANTED: The desired consent status is to grant. Read the CPS preferences from GTE settings. DENIED: The desired consent status is to deny; CPS list is empty.",
          "enumDescriptions": [
            "Not specified.",
            "Granted.",
            "Denied."
          ],
          "type": "string"
        },
        "type": {
          "description": "The type of the conversion, that is, either `ACTION` or `TRANSACTION`. An `ACTION` conversion is an action by the user that has no monetarily quantifiable value, while a `TRANSACTION` conversion is an action that does have a monetarily quantifiable value. Examples are email list signups (`ACTION`) versus ecommerce purchases (`TRANSACTION`).",
          "type": "string"
        },
        "state": {
          "description": "The state of the conversion, that is, either `ACTIVE` or `REMOVED`. Note: state DELETED is deprecated.",
          "type": "string"
        },
        "conversionTimestamp": {
          "description": "The time at which the conversion took place, in epoch millis UTC.",
          "annotations": {
            "required": [
              "doubleclicksearch.conversion.insert"
            ]
          },
          "type": "string"
        },
        "currencyCode": {
          "type": "string",
          "description": "The currency code for the conversion's revenue. Should be in ISO 4217 alphabetic (3-char) format."
        },
        "productCountry": {
          "description": "The country registered for the Merchant Center feed that contains the product. Use an ISO 3166 code to specify a country.",
          "type": "string"
        },
        "quantityMillis": {
          "format": "int64",
          "description": "The quantity of this conversion, in millis.",
          "type": "string"
        },
        "clickId": {
          "type": "string",
          "description": "DS click ID for the conversion."
        },
        "storeId": {
          "description": "The ID of the local store for which the product was advertised. Applicable only when the channel is \"`local`\".",
          "type": "string"
        },
        "deviceType": {
          "type": "string",
          "description": "The type of device on which the conversion occurred."
        },
        "customDimension": {
          "items": {
            "$ref": "CustomDimension"
          },
          "type": "array",
          "description": "Custom dimensions for the conversion, which can be used to filter data in a report."
        },
        "inventoryAccountId": {
          "format": "int64",
          "description": "ID that DS generates and uses to uniquely identify the inventory account that contains the product.",
          "type": "string"
        },
        "customMetric": {
          "items": {
            "$ref": "CustomMetric"
          },
          "type": "array",
          "description": "Custom metrics for the conversion."
        },
        "dsConversionId": {
          "format": "int64",
          "description": "ID that DoubleClick Search generates for each conversion.",
          "type": "string"
        },
        "segmentationName": {
          "type": "string",
          "description": "The friendly segmentation identifier (for example, DoubleClick Search Floodlight activity name)."
        },
        "engineAccountId": {
          "format": "int64",
          "type": "string",
          "description": "DS engine account ID."
        },
        "countMillis": {
          "format": "int64",
          "type": "string",
          "description": "Available to advertisers only after contacting DoubleClick Search customer support."
        },
        "segmentationId": {
          "description": "The numeric segmentation identifier (for example, DoubleClick Search Floodlight activity ID).",
          "format": "int64",
          "type": "string"
        },
        "productLanguage": {
          "description": "The language registered for the Merchant Center feed that contains the product. Use an ISO 639 code to specify a language.",
          "type": "string"
        },
        "agencyId": {
          "description": "DS agency ID.",
          "type": "string",
          "format": "int64"
        }
      }
    }
  },
  "name": "doubleclicksearch",
  "parameters": {
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/doubleclicksearch": {
          "description": "View and manage your advertising data in DoubleClick Search"
        }
      }
    }
  },
  "baseUrl": "https://doubleclicksearch.googleapis.com/",
  "kind": "discovery#restDescription",
  "resources": {
    "reports": {
      "methods": {
        "get": {
          "parameters": {
            "reportId": {
              "required": true,
              "description": "ID of the report request being polled.",
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "Report"
          },
          "httpMethod": "GET",
          "flatPath": "doubleclicksearch/v2/reports/{reportId}",
          "description": "Polls for the status of a report request.",
          "id": "doubleclicksearch.reports.get",
          "parameterOrder": [
            "reportId"
          ],
          "path": "doubleclicksearch/v2/reports/{reportId}"
        },
        "generate": {
          "description": "Generates and returns a report immediately.",
          "flatPath": "doubleclicksearch/v2/reports/generate",
          "response": {
            "$ref": "Report"
          },
          "parameterOrder": [],
          "path": "doubleclicksearch/v2/reports/generate",
          "id": "doubleclicksearch.reports.generate",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "ReportRequest"
          },
          "parameters": {}
        },
        "getIdMappingFile": {
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "supportsMediaDownload": true,
          "id": "doubleclicksearch.reports.getIdMappingFile",
          "response": {
            "$ref": "IdMappingFile"
          },
          "description": "Downloads a csv file(encoded in UTF-8) that contains ID mappings between legacy SA360 and new SA360. The file includes all children entities of the given advertiser(e.g. engine accounts, campaigns, ad groups, etc.) that exist in both legacy SA360 and new SA360.",
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/idmapping",
          "useMediaDownloadService": true,
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "GET",
          "parameters": {
            "agencyId": {
              "format": "int64",
              "location": "path",
              "description": "Legacy SA360 agency ID.",
              "required": true,
              "type": "string"
            },
            "advertiserId": {
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "Legacy SA360 advertiser ID.",
              "required": true
            }
          },
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ]
        },
        "getFile": {
          "parameterOrder": [
            "reportId",
            "reportFragment"
          ],
          "parameters": {
            "reportId": {
              "location": "path",
              "type": "string",
              "description": "ID of the report.",
              "required": true
            },
            "reportFragment": {
              "format": "int32",
              "minimum": "0",
              "required": true,
              "location": "path",
              "type": "integer",
              "description": "The index of the report fragment to download."
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "supportsMediaDownload": true,
          "description": "Downloads a report file encoded in UTF-8.",
          "useMediaDownloadService": true,
          "flatPath": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "path": "doubleclicksearch/v2/reports/{reportId}/files/{reportFragment}",
          "id": "doubleclicksearch.reports.getFile"
        },
        "request": {
          "response": {
            "$ref": "Report"
          },
          "path": "doubleclicksearch/v2/reports",
          "description": "Inserts a report request into the reporting system.",
          "flatPath": "doubleclicksearch/v2/reports",
          "parameters": {},
          "id": "doubleclicksearch.reports.request",
          "httpMethod": "POST",
          "request": {
            "$ref": "ReportRequest"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        }
      }
    },
    "conversion": {
      "methods": {
        "insert": {
          "response": {
            "$ref": "ConversionList"
          },
          "parameters": {},
          "httpMethod": "POST",
          "description": "Inserts a batch of new conversions into DoubleClick Search.",
          "parameterOrder": [],
          "flatPath": "doubleclicksearch/v2/conversion",
          "path": "doubleclicksearch/v2/conversion",
          "request": {
            "$ref": "ConversionList"
          },
          "id": "doubleclicksearch.conversion.insert",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ]
        },
        "updateAvailability": {
          "path": "doubleclicksearch/v2/conversion/updateAvailability",
          "description": "Updates the availabilities of a batch of floodlight activities in DoubleClick Search.",
          "id": "doubleclicksearch.conversion.updateAvailability",
          "parameterOrder": [],
          "flatPath": "doubleclicksearch/v2/conversion/updateAvailability",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "response": {
            "$ref": "UpdateAvailabilityResponse"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "UpdateAvailabilityRequest"
          },
          "parameters": {}
        },
        "get": {
          "id": "doubleclicksearch.conversion.get",
          "response": {
            "$ref": "ConversionList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameterOrder": [
            "agencyId",
            "advertiserId",
            "engineAccountId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "httpMethod": "GET",
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion",
          "parameters": {
            "engineAccountId": {
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "Numeric ID of the engine account."
            },
            "customerId": {
              "location": "query",
              "type": "string",
              "description": "Customer ID of a client account in the new Search Ads 360 experience."
            },
            "startRow": {
              "required": true,
              "location": "query",
              "description": "The 0-based starting index for retrieving conversions results.",
              "format": "uint32",
              "type": "integer"
            },
            "agencyId": {
              "location": "path",
              "description": "Numeric ID of the agency.",
              "type": "string",
              "required": true,
              "format": "int64"
            },
            "campaignId": {
              "format": "int64",
              "location": "query",
              "type": "string",
              "description": "Numeric ID of the campaign."
            },
            "advertiserId": {
              "description": "Numeric ID of the advertiser.",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64"
            },
            "rowCount": {
              "format": "int32",
              "required": true,
              "location": "query",
              "type": "integer",
              "minimum": "1",
              "maximum": "1000",
              "description": "The number of conversions to return per call."
            },
            "adGroupId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Numeric ID of the ad group."
            },
            "endDate": {
              "type": "integer",
              "required": true,
              "format": "int32",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "location": "query",
              "minimum": "20091101",
              "maximum": "99991231"
            },
            "adId": {
              "description": "Numeric ID of the ad.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "criterionId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Numeric ID of the criterion."
            },
            "startDate": {
              "format": "int32",
              "minimum": "20091101",
              "location": "query",
              "maximum": "99991231",
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "required": true,
              "type": "integer"
            }
          }
        },
        "getByCustomerId": {
          "description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
          "response": {
            "$ref": "ConversionList"
          },
          "id": "doubleclicksearch.conversion.getByCustomerId",
          "parameterOrder": [
            "customerId",
            "endDate",
            "rowCount",
            "startDate",
            "startRow"
          ],
          "path": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "doubleclicksearch/v2/customer/{customerId}/conversion",
          "parameters": {
            "adGroupId": {
              "description": "Numeric ID of the ad group.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "customerId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Customer ID of a client account in the new Search Ads 360 experience."
            },
            "rowCount": {
              "location": "query",
              "minimum": "1",
              "required": true,
              "maximum": "1000",
              "format": "int32",
              "description": "The number of conversions to return per call.",
              "type": "integer"
            },
            "agencyId": {
              "description": "Numeric ID of the agency.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "endDate": {
              "location": "query",
              "description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "type": "integer",
              "required": true,
              "maximum": "99991231",
              "minimum": "20091101",
              "format": "int32"
            },
            "startRow": {
              "location": "query",
              "type": "integer",
              "required": true,
              "description": "The 0-based starting index for retrieving conversions results.",
              "format": "uint32"
            },
            "campaignId": {
              "description": "Numeric ID of the campaign.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "startDate": {
              "maximum": "99991231",
              "minimum": "20091101",
              "format": "int32",
              "description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
              "type": "integer",
              "location": "query",
              "required": true
            },
            "criterionId": {
              "description": "Numeric ID of the criterion.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "engineAccountId": {
              "location": "query",
              "format": "int64",
              "description": "Numeric ID of the engine account.",
              "type": "string"
            },
            "advertiserId": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Numeric ID of the advertiser."
            },
            "adId": {
              "format": "int64",
              "description": "Numeric ID of the ad.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET"
        },
        "update": {
          "path": "doubleclicksearch/v2/conversion",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "httpMethod": "PUT",
          "parameters": {},
          "parameterOrder": [],
          "id": "doubleclicksearch.conversion.update",
          "response": {
            "$ref": "ConversionList"
          },
          "description": "Updates a batch of conversions in DoubleClick Search.",
          "request": {
            "$ref": "ConversionList"
          },
          "flatPath": "doubleclicksearch/v2/conversion"
        }
      }
    },
    "savedColumns": {
      "methods": {
        "list": {
          "flatPath": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "response": {
            "$ref": "SavedColumnList"
          },
          "id": "doubleclicksearch.savedColumns.list",
          "path": "doubleclicksearch/v2/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "description": "Retrieve the list of saved columns for a specified advertiser.",
          "httpMethod": "GET",
          "parameterOrder": [
            "agencyId",
            "advertiserId"
          ],
          "parameters": {
            "advertiserId": {
              "format": "int64",
              "location": "path",
              "description": "DS ID of the advertiser.",
              "type": "string",
              "required": true
            },
            "agencyId": {
              "type": "string",
              "required": true,
              "location": "path",
              "format": "int64",
              "description": "DS ID of the agency."
            }
          }
        }
      }
    }
  },
  "title": "Search Ads 360 API",
  "canonicalName": "Doubleclicksearch",
  "id": "doubleclicksearch:v2",
  "batchPath": "batch",
  "basePath": ""
}