{
  "name": "drivelabels",
  "servicePath": "",
  "title": "Drive Labels API",
  "rootUrl": "https://drivelabels.googleapis.com/",
  "discoveryVersion": "v1",
  "basePath": "",
  "kind": "discovery#restDescription",
  "revision": "20260611",
  "canonicalName": "Drive Labels",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://developers.google.com/workspace/drive/labels",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "version_module": true,
  "description": "An API for managing Drive Labels",
  "resources": {
    "limits": {
      "methods": {
        "getLabel": {
          "parameterOrder": [],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "id": "drivelabels.limits.getLabel",
          "path": "v2beta/limits/label",
          "flatPath": "v2beta/limits/label",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelLimits"
          },
          "description": "Get the constraints on the structure of a label; such as, the maximum number of fields allowed and maximum length of the label title.",
          "parameters": {
            "name": {
              "description": "Required. Label revision resource name must be: \"limits/label\".",
              "location": "query",
              "type": "string"
            }
          }
        }
      }
    },
    "users": {
      "methods": {
        "getCapabilities": {
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. The resource name of the user. Only \"users/me/capabilities\" is supported.",
              "pattern": "^users/[^/]+/capabilities$"
            },
            "customer": {
              "description": "The customer to scope this request to. For example: `customers/abcd1234`. If unset, it will return settings within the current customer.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Gets the user capabilities.",
          "flatPath": "v2beta/users/{usersId}/capabilities",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaUserCapabilities"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "httpMethod": "GET",
          "path": "v2beta/{+name}",
          "id": "drivelabels.users.getCapabilities",
          "parameterOrder": [
            "name"
          ]
        }
      }
    },
    "labels": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "id": "drivelabels.labels.list",
          "path": "v2beta/labels",
          "parameterOrder": [],
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token of the page to return."
            },
            "useAdminAccess": {
              "description": "Set to `true` in order to use the user's admin credentials. This will return all labels within the customer.",
              "location": "query",
              "type": "boolean"
            },
            "pageSize": {
              "description": "Maximum number of labels to return per page. Default: 50. Max: 200.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "view": {
              "type": "string",
              "description": "When specified, only certain fields belonging to the indicated view are returned.",
              "enumDescriptions": [
                "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
                "All possible fields."
              ],
              "enum": [
                "LABEL_VIEW_BASIC",
                "LABEL_VIEW_FULL"
              ],
              "location": "query"
            },
            "minimumRole": {
              "description": "Specifies the level of access the user must have on the returned labels. The minimum role a user must have on a label. Defaults to `READER`.",
              "enumDescriptions": [
                "Unknown role.",
                "A reader can read the label and associated metadata applied to Drive items.",
                "An applier can write associated metadata on Drive items in which they also have write access to. Implies `READER`.",
                "An organizer can pin this label in shared drives they manage and add new appliers to the label.",
                "Editors can make any update including deleting the label which also deletes the associated Drive item metadata. Implies `APPLIER`."
              ],
              "enum": [
                "LABEL_ROLE_UNSPECIFIED",
                "READER",
                "APPLIER",
                "ORGANIZER",
                "EDITOR"
              ],
              "location": "query",
              "type": "string"
            },
            "customer": {
              "description": "The customer to scope this list request to. For example: `customers/abcd1234`. If unset, will return all labels within the current customer.",
              "location": "query",
              "type": "string"
            },
            "publishedOnly": {
              "description": "Whether to include only published labels in the results. * When `true`, only the current published label revisions are returned. Disabled labels are included. Returned label resource names reference the published revision (`labels/{id}/{revision_id}`). * When `false`, the current label revisions are returned, which might not be published. Returned label resource names don't reference a specific revision (`labels/{id}`).",
              "location": "query",
              "type": "boolean"
            },
            "languageCode": {
              "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language are used.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "v2beta/labels",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaListLabelsResponse"
          },
          "description": "List labels. For more information, see [Search for labels](https://developers.google.com/workspace/drive/labels/guides/search-label)."
        },
        "get": {
          "flatPath": "v2beta/labels/{labelsId}",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "description": "Get a label by its resource name. For more information, see [Search for labels](https://developers.google.com/workspace/drive/labels/guides/search-label). Resource name may be any of: * `labels/{id}` - See `labels/{id}@latest` * `labels/{id}@latest` - Gets the latest revision of the label. * `labels/{id}@published` - Gets the current published revision of the label. * `labels/{id}@{revision_id}` - Gets the label at the specified revision ID.",
          "parameters": {
            "view": {
              "location": "query",
              "description": "When specified, only certain fields belonging to the indicated view are returned.",
              "enumDescriptions": [
                "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
                "All possible fields."
              ],
              "enum": [
                "LABEL_VIEW_BASIC",
                "LABEL_VIEW_FULL"
              ],
              "type": "string"
            },
            "useAdminAccess": {
              "location": "query",
              "type": "boolean",
              "description": "Set to `true` in order to use the user's admin credentials. The server verifies that the user is an admin for the label before allowing access."
            },
            "languageCode": {
              "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language are used.",
              "location": "query",
              "type": "string"
            },
            "name": {
              "required": true,
              "type": "string",
              "description": "Required. Label resource name. May be any of: * `labels/{id}` (equivalent to labels/{id}@latest) * `labels/{id}@latest` * `labels/{id}@published` * `labels/{id}@{revision_id}`",
              "pattern": "^labels/[^/]+$",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "id": "drivelabels.labels.get",
          "path": "v2beta/{+name}"
        },
        "updateLabelEnabledAppSettings": {
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaUpdateLabelEnabledAppSettingsRequest"
          },
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. The resource name of the label to update. The resource name of the label to update.",
              "pattern": "^labels/[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "v2beta/labels/{labelsId}:updateLabelEnabledAppSettings",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "description": "Updates a label's `EnabledAppSettings`. Enabling a label in a Google Workspace app allows it to be used in that app. This change isn't revisioned, doesn't require publishing, and takes effect immediately.",
          "httpMethod": "POST",
          "id": "drivelabels.labels.updateLabelEnabledAppSettings",
          "path": "v2beta/{+name}:updateLabelEnabledAppSettings",
          "parameterOrder": [
            "name"
          ]
        },
        "delta": {
          "id": "drivelabels.labels.delta",
          "path": "v2beta/{+name}:delta",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. The resource name of the label to update.",
              "pattern": "^labels/[^/]+$"
            }
          },
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequest"
          },
          "flatPath": "v2beta/labels/{labelsId}:delta",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponse"
          },
          "description": "Updates a single label by applying a set of update requests resulting in a new draft revision. For more information, see [Update a label](https://developers.google.com/workspace/drive/labels/guides/update-label). The batch update is all-or-nothing: If any of the update requests are invalid, no changes are applied. The resulting draft revision must be published before the changes may be used with Drive items."
        },
        "updateLabelCopyMode": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "id": "drivelabels.labels.updateLabelCopyMode",
          "path": "v2beta/{+name}:updateLabelCopyMode",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaUpdateLabelCopyModeRequest"
          },
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^labels/[^/]+$",
              "description": "Required. The resource name of the label to update.",
              "location": "path"
            }
          },
          "flatPath": "v2beta/labels/{labelsId}:updateLabelCopyMode",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "description": "Updates a label's `CopyMode`. Changes to this policy aren't revisioned, don't require publishing, and take effect immediately."
        },
        "updatePermissions": {
          "path": "v2beta/{+parent}/permissions",
          "id": "drivelabels.labels.updatePermissions",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "httpMethod": "PATCH",
          "parameterOrder": [
            "parent"
          ],
          "parameters": {
            "parent": {
              "description": "Required. The parent label resource name.",
              "pattern": "^labels/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "useAdminAccess": {
              "location": "query",
              "type": "boolean",
              "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
            }
          },
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
          },
          "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
          "flatPath": "v2beta/labels/{labelsId}/permissions",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
          }
        },
        "disable": {
          "description": "Disable a published label. For more information, see [Disable, enable, and delete a label](https://developers.google.com/workspace/drive/labels/guides/disable-delete-label). Disabling a label will result in a new disabled published revision based on the current published revision. If there's a draft revision, a new disabled draft revision will be created based on the latest draft revision. Older draft revisions will be deleted. Once disabled, a label may be deleted with `DeleteLabel`.",
          "flatPath": "v2beta/labels/{labelsId}:disable",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaDisableLabelRequest"
          },
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^labels/[^/]+$",
              "description": "Required. Label resource name.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "httpMethod": "POST",
          "path": "v2beta/{+name}:disable",
          "id": "drivelabels.labels.disable"
        },
        "publish": {
          "path": "v2beta/{+name}:publish",
          "id": "drivelabels.labels.publish",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^labels/[^/]+$",
              "description": "Required. Label resource name.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaPublishLabelRequest"
          },
          "description": "Publish all draft changes to the label. Once published, the label may not return to its draft state. For more information, see [Create and publish a label](https://developers.google.com/workspace/drive/labels/guides/create-label). Publishing a label will result in a new published revision. All previous draft revisions will be deleted. Previous published revisions will be kept but are subject to automated deletion as needed. For more information, see [Label lifecycle](https://developers.google.com/workspace/drive/labels/guides/label-lifecycle). Once published, some changes are no longer permitted. Generally, any change that would invalidate or cause new restrictions on existing metadata related to the label will be rejected. For example, the following changes to a label will be rejected after the label is published: * The label cannot be directly deleted. It must be disabled first, then deleted. * `Field.FieldType` cannot be changed. * Changes to field validation options cannot reject something that was previously accepted. * Reducing the maximum entries.",
          "flatPath": "v2beta/labels/{labelsId}:publish",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          }
        },
        "create": {
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "parameters": {
            "useAdminAccess": {
              "description": "Set to `true` in order to use the user's admin privileges. The server will verify the user is an admin before allowing access.",
              "location": "query",
              "type": "boolean"
            },
            "languageCode": {
              "location": "query",
              "type": "string",
              "description": "The BCP-47 language code to use for evaluating localized field labels in response. When not specified, values in the default configured language will be used."
            }
          },
          "flatPath": "v2beta/labels",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "description": "Creates a label. For more information, see [Create and publish a label](https://developers.google.com/workspace/drive/labels/guides/create-label).",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "id": "drivelabels.labels.create",
          "path": "v2beta/labels",
          "parameterOrder": []
        },
        "enable": {
          "description": "Enable a disabled label and restore it to its published state. For more information, see [Disable, enable, and delete a label](https://developers.google.com/workspace/drive/labels/guides/disable-delete-label). This will result in a new published revision based on the current disabled published revision. If there's an existing disabled draft revision, a new revision will be created based on that draft and will be enabled.",
          "flatPath": "v2beta/labels/{labelsId}:enable",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. Label resource name.",
              "pattern": "^labels/[^/]+$"
            }
          },
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaEnableLabelRequest"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v2beta/{+name}:enable",
          "id": "drivelabels.labels.enable",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "httpMethod": "POST"
        },
        "delete": {
          "flatPath": "v2beta/labels/{labelsId}",
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "description": "Permanently deletes a label and related metadata on Drive items. For more information, see [Disable, enable, and delete a label](https://developers.google.com/workspace/drive/labels/guides/disable-delete-label). Once deleted, the label and related Drive item metadata will be deleted. Only draft labels and disabled labels may be deleted.",
          "parameters": {
            "name": {
              "description": "Required. Label resource name.",
              "pattern": "^labels/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "writeControl.requiredRevisionId": {
              "description": "The revision ID of the label that the write request will be applied to. If this isn't the latest revision of the label, the request will not be processed and will return a 400 Bad Request error.",
              "location": "query",
              "type": "string"
            },
            "useAdminAccess": {
              "location": "query",
              "type": "boolean",
              "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "drivelabels.labels.delete",
          "path": "v2beta/{+name}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ]
        }
      },
      "resources": {
        "locks": {
          "methods": {
            "list": {
              "description": "Lists the label locks on a label.",
              "flatPath": "v2beta/labels/{labelsId}/locks",
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2betaListLabelLocksResponse"
              },
              "parameters": {
                "pageToken": {
                  "description": "The token of the page to return.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Maximum number of locks to return per page. Default: 100. Max: 200.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^labels/[^/]+$",
                  "description": "Required. Label on which locks are applied. Format: `labels/{label}`.",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v2beta/{+parent}/locks",
              "id": "drivelabels.labels.locks.list",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                "https://www.googleapis.com/auth/drive.labels",
                "https://www.googleapis.com/auth/drive.labels.readonly"
              ],
              "httpMethod": "GET"
            }
          }
        },
        "permissions": {
          "methods": {
            "delete": {
              "parameters": {
                "name": {
                  "pattern": "^labels/[^/]+/permissions/[^/]+$",
                  "description": "Required. Label permission resource name.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "useAdminAccess": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
                }
              },
              "flatPath": "v2beta/labels/{labelsId}/permissions/{permissionsId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes a label's permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "id": "drivelabels.labels.permissions.delete",
              "path": "v2beta/{+name}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The parent label resource name on the label permission is created. Format: `labels/{label}`.",
                  "pattern": "^labels/[^/]+$"
                },
                "useAdminAccess": {
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "flatPath": "v2beta/labels/{labelsId}/permissions",
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "httpMethod": "POST",
              "path": "v2beta/{+parent}/permissions",
              "id": "drivelabels.labels.permissions.create",
              "parameterOrder": [
                "parent"
              ]
            },
            "batchUpdate": {
              "flatPath": "v2beta/labels/{labelsId}/permissions:batchUpdate",
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsResponse"
              },
              "description": "Updates label permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^labels/[^/]+$",
                  "description": "Required. The parent label resource name shared by all permissions being updated. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field."
                }
              },
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "drivelabels.labels.permissions.batchUpdate",
              "path": "v2beta/{+parent}/permissions:batchUpdate",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ]
            },
            "batchDelete": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v2beta/{+parent}/permissions:batchDelete",
              "id": "drivelabels.labels.permissions.batchDelete",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "httpMethod": "POST",
              "description": "Deletes label permissions. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "flatPath": "v2beta/labels/{labelsId}/permissions:batchDelete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The parent label resource name shared by all permissions being deleted. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
                  "pattern": "^labels/[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2betaBatchDeleteLabelPermissionsRequest"
              }
            },
            "list": {
              "path": "v2beta/{+parent}/permissions",
              "id": "drivelabels.labels.permissions.list",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                "https://www.googleapis.com/auth/drive.labels",
                "https://www.googleapis.com/auth/drive.labels.readonly"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageToken": {
                  "description": "The token of the page to return.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Maximum number of permissions to return per page. Default: 50. Max: 200.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "useAdminAccess": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
                },
                "parent": {
                  "location": "path",
                  "description": "Required. The parent label resource name on which label permissions are listed. Format: `labels/{label}`.",
                  "pattern": "^labels/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Lists a label's permissions.",
              "flatPath": "v2beta/labels/{labelsId}/permissions",
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2betaListLabelPermissionsResponse"
              }
            }
          }
        },
        "revisions": {
          "methods": {
            "updatePermissions": {
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
              },
              "parameters": {
                "parent": {
                  "pattern": "^labels/[^/]+/revisions/[^/]+$",
                  "description": "Required. The parent label resource name.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "useAdminAccess": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
                }
              },
              "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/permissions",
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
              },
              "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "id": "drivelabels.labels.revisions.updatePermissions",
              "path": "v2beta/{+parent}/permissions",
              "parameterOrder": [
                "parent"
              ]
            }
          },
          "resources": {
            "permissions": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
                  "id": "drivelabels.labels.revisions.permissions.create",
                  "path": "v2beta/{+parent}/permissions",
                  "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/permissions",
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
                  },
                  "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
                  "request": {
                    "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
                  },
                  "parameters": {
                    "useAdminAccess": {
                      "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "parent": {
                      "description": "Required. The parent label resource name on the label permission is created. Format: `labels/{label}`.",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "batchUpdate": {
                  "path": "v2beta/{+parent}/permissions:batchUpdate",
                  "id": "drivelabels.labels.revisions.permissions.batchUpdate",
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent label resource name shared by all permissions being updated. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest"
                  },
                  "description": "Updates label permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
                  "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/permissions:batchUpdate",
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsResponse"
                  }
                },
                "batchDelete": {
                  "description": "Deletes label permissions. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
                  "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/permissions:batchDelete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "request": {
                    "$ref": "GoogleAppsDriveLabelsV2betaBatchDeleteLabelPermissionsRequest"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent label resource name shared by all permissions being deleted. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
                  "httpMethod": "POST",
                  "path": "v2beta/{+parent}/permissions:batchDelete",
                  "id": "drivelabels.labels.revisions.permissions.batchDelete"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "description": "Required. Label permission resource name.",
                      "pattern": "^labels/[^/]+/revisions/[^/]+/permissions/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "useAdminAccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
                    }
                  },
                  "description": "Deletes a label's permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
                  "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/permissions/{permissionsId}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v2beta/{+name}",
                  "id": "drivelabels.labels.revisions.permissions.delete",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/permissions",
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2betaListLabelPermissionsResponse"
                  },
                  "description": "Lists a label's permissions.",
                  "parameters": {
                    "pageSize": {
                      "description": "Maximum number of permissions to return per page. Default: 50. Max: 200.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The token of the page to return."
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent label resource name on which label permissions are listed. Format: `labels/{label}`.",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$"
                    },
                    "useAdminAccess": {
                      "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                    "https://www.googleapis.com/auth/drive.labels",
                    "https://www.googleapis.com/auth/drive.labels.readonly"
                  ],
                  "id": "drivelabels.labels.revisions.permissions.list",
                  "path": "v2beta/{+parent}/permissions"
                }
              }
            },
            "locks": {
              "methods": {
                "list": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "description": "Required. Label on which locks are applied. Format: `labels/{label}`.",
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "The token of the page to return.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Maximum number of locks to return per page. Default: 100. Max: 200.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "description": "Lists the label locks on a label.",
                  "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/locks",
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2betaListLabelLocksResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                    "https://www.googleapis.com/auth/drive.labels",
                    "https://www.googleapis.com/auth/drive.labels.readonly"
                  ],
                  "httpMethod": "GET",
                  "path": "v2beta/{+parent}/locks",
                  "id": "drivelabels.labels.revisions.locks.list",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "batchPath": "batch",
  "id": "drivelabels:v2beta",
  "schemas": {
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateFieldResponse": {
      "description": "Response following field create.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateFieldResponse",
      "type": "object",
      "properties": {
        "id": {
          "description": "The field of the created field. When left blank in a create request, a key will be autogenerated and can be identified here.",
          "type": "string"
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "The priority of the created field. The priority may change from what was specified to assure contiguous priorities between fields (1-n)."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteSelectionChoiceRequest": {
      "properties": {
        "id": {
          "description": "Required. Choice to delete.",
          "type": "string"
        },
        "fieldId": {
          "type": "string",
          "description": "Required. The selection field from which a choice will be deleted."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteSelectionChoiceRequest",
      "type": "object",
      "description": "Request to delete a choice."
    },
    "GoogleAppsDriveLabelsV2betaFieldDateOptions": {
      "description": "Options for the date field type.",
      "id": "GoogleAppsDriveLabelsV2betaFieldDateOptions",
      "type": "object",
      "properties": {
        "dateFormatType": {
          "description": "Localized date formatting option. Field values are rendered in this format according to their locale.",
          "enumDescriptions": [
            "Date format unspecified.",
            "Includes full month name. For example, January 12, 1999 (MMMM d, y)",
            "Short, numeric, representation. For example, 12/13/99 (M/d/yy)"
          ],
          "enum": [
            "DATE_FORMAT_UNSPECIFIED",
            "LONG_DATE",
            "SHORT_DATE"
          ],
          "type": "string"
        },
        "dateFormat": {
          "type": "string",
          "description": "Output only. ICU date format.",
          "readOnly": true
        },
        "minValue": {
          "description": "Output only. Minimum valid value (year, month, day).",
          "readOnly": true,
          "$ref": "GoogleTypeDate"
        },
        "maxValue": {
          "description": "Output only. Maximum valid value (year, month, day).",
          "readOnly": true,
          "$ref": "GoogleTypeDate"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaUserLimits": {
      "description": "Limits for Field.Type.USER.",
      "id": "GoogleAppsDriveLabelsV2betaUserLimits",
      "type": "object",
      "properties": {
        "listLimits": {
          "description": "Limits for list-variant of a field type.",
          "$ref": "GoogleAppsDriveLabelsV2betaListLimits"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeleteLabelPermissionRequest": {
      "description": "Deletes a label permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
      "id": "GoogleAppsDriveLabelsV2betaDeleteLabelPermissionRequest",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Label permission resource name.",
          "type": "string"
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldIntegerOptions": {
      "description": "Options for the Integer field type.",
      "properties": {
        "minValue": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The minimum valid value for the integer field.",
          "readOnly": true
        },
        "maxValue": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The maximum valid value for the integer field.",
          "readOnly": true
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldIntegerOptions",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableFieldRequest": {
      "description": "Request to enable the field.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableFieldRequest",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. ID of the field to enable."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLabelLockCapabilities": {
      "description": "A description of a user's capabilities on a label lock.",
      "properties": {
        "canViewPolicy": {
          "description": "True if the user is authorized to view the policy.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLabelLockCapabilities",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaBadgeColors": {
      "properties": {
        "soloColor": {
          "description": "Output only. Color that can be used for text without a background.",
          "readOnly": true,
          "$ref": "GoogleTypeColor"
        },
        "backgroundColor": {
          "description": "Output only. Badge background that pairs with the foreground.",
          "readOnly": true,
          "$ref": "GoogleTypeColor"
        },
        "foregroundColor": {
          "description": "Output only. Badge foreground that pairs with the background.",
          "readOnly": true,
          "$ref": "GoogleTypeColor"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaBadgeColors",
      "type": "object",
      "description": "The color derived from BadgeConfig and changed to the closest recommended supported color."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteFieldRequest": {
      "description": "Request to delete the field.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteFieldRequest",
      "type": "object",
      "properties": {
        "id": {
          "description": "Required. ID of the field to delete.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldSchemaCapabilities": {
      "properties": {
        "canDisable": {
          "description": "Whether the user can disable this field. The user must have permission and this field must not already be disabled.",
          "type": "boolean"
        },
        "canUpdate": {
          "type": "boolean",
          "description": "Whether the user can change this field."
        },
        "canDelete": {
          "description": "Whether the user can delete this field. The user must have permission and the field must be deprecated.",
          "type": "boolean"
        },
        "canEnable": {
          "type": "boolean",
          "description": "Whether the user can enable this field. The user must have permission and this field must be disabled."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldSchemaCapabilities",
      "type": "object",
      "description": "The capabilities related to this field when editing the field."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableSelectionChoiceRequest": {
      "description": "Request to disable a choice.",
      "properties": {
        "id": {
          "description": "Required. Choice to disable.",
          "type": "string"
        },
        "fieldId": {
          "type": "string",
          "description": "Required. The selection field in which a choice will be disabled."
        },
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "disabledPolicy": {
          "description": "Required. The disabled policy to update.",
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableSelectionChoiceRequest",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaLabelAppliedLabelPolicy": {
      "properties": {
        "copyMode": {
          "description": "Indicates how the applied label and field values should be copied when a Drive item is copied.",
          "enumDescriptions": [
            "Copy mode unspecified.",
            "The applied label and field values aren't copied by default when the Drive item it's applied to is copied.",
            "The applied label and field values are always copied when the Drive item it's applied to is copied. Only admins can use this mode.",
            "The applied label and field values are copied if the label is appliable by the user making the copy."
          ],
          "enum": [
            "COPY_MODE_UNSPECIFIED",
            "DO_NOT_COPY",
            "ALWAYS_COPY",
            "COPY_APPLIABLE"
          ],
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLabelAppliedLabelPolicy",
      "type": "object",
      "description": "Behavior of this label when it's applied to Drive items."
    },
    "GoogleAppsDriveLabelsV2betaLabelLimits": {
      "description": "Label constraints governing the structure of a label; such as, the maximum number of fields allowed and maximum length of the label title.",
      "id": "GoogleAppsDriveLabelsV2betaLabelLimits",
      "type": "object",
      "properties": {
        "maxTitleLength": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of characters allowed for the title."
        },
        "maxFields": {
          "description": "The maximum number of fields allowed within the label.",
          "format": "int32",
          "type": "integer"
        },
        "maxDeletedFields": {
          "description": "The maximum number of published fields that can be deleted.",
          "format": "int32",
          "type": "integer"
        },
        "fieldLimits": {
          "description": "The limits for fields.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldLimits"
        },
        "name": {
          "description": "Resource name.",
          "type": "string"
        },
        "maxDescriptionLength": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of characters allowed for the description."
        },
        "maxDraftRevisions": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of draft revisions that will be kept before deleting old drafts."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceSchemaCapabilities": {
      "properties": {
        "canDisable": {
          "type": "boolean",
          "description": "Whether the user can disable this choice."
        },
        "canDelete": {
          "type": "boolean",
          "description": "Whether the user can delete this choice."
        },
        "canEnable": {
          "description": "Whether the user can enable this choice.",
          "type": "boolean"
        },
        "canUpdate": {
          "type": "boolean",
          "description": "Whether the user can update this choice."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceSchemaCapabilities",
      "type": "object",
      "description": "The capabilities related to this choice when editing the choice."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateSelectionChoiceResponse": {
      "description": "Response following selection choice create.",
      "properties": {
        "fieldId": {
          "description": "The server-generated ID of the field.",
          "type": "string"
        },
        "id": {
          "description": "The server-generated ID of the created choice within the field.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateSelectionChoiceResponse",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaLabel": {
      "properties": {
        "id": {
          "description": "Output only. Globally unique identifier of this label. ID makes up part of the label `name`, but unlike `name`, ID is consistent between revisions. Matches the regex: `([a-zA-Z0-9])+`.",
          "readOnly": true,
          "type": "string"
        },
        "lockStatus": {
          "description": "Output only. The `LockStatus` of this label.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLockStatus"
        },
        "displayHints": {
          "description": "Output only. UI display hints for rendering the label.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLabelDisplayHints"
        },
        "labelType": {
          "description": "Required. The type of label.",
          "enumDescriptions": [
            "Unknown label type.",
            "Shared labels may be shared with users to apply to Drive items.",
            "Admin-owned label. Only creatable and editable by admins. Supports some additional admin-only features.",
            "A label owned by an internal Google application rather than a customer. These labels are read-only."
          ],
          "enum": [
            "LABEL_TYPE_UNSPECIFIED",
            "SHARED",
            "ADMIN",
            "GOOGLE_APP"
          ],
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time this label was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the label. Will be in the form of either: `labels/{id}` or `labels/{id}@{revision_id}` depending on the request. See `id` and `revision_id` below.",
          "readOnly": true
        },
        "revisionCreator": {
          "description": "Output only. The user who created this label revision.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "disableTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this label was disabled. This value has no meaning when the label isn't disabled.",
          "readOnly": true
        },
        "schemaCapabilities": {
          "description": "Output only. The capabilities the user has on this label.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLabelSchemaCapabilities"
        },
        "appliedLabelPolicy": {
          "description": "Output only. Behavior of this label when it's applied to Drive items.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLabelAppliedLabelPolicy"
        },
        "revisionCreateTime": {
          "description": "Output only. The time this label revision was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "publishTime": {
          "description": "Output only. The time this label was published. This value has no meaning when the label isn't published.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "customer": {
          "type": "string",
          "description": "Output only. The customer this label belongs to. For example: `customers/123abc789`.",
          "readOnly": true
        },
        "appliedCapabilities": {
          "description": "Output only. The capabilities related to this label on applied metadata.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLabelAppliedCapabilities"
        },
        "revisionId": {
          "description": "Output only. Revision ID of the label. Revision ID might be part of the label `name` depending on the request issued. A new revision is created whenever revisioned properties of a label are changed. Matches the regex: `([a-zA-Z0-9])+`.",
          "readOnly": true,
          "type": "string"
        },
        "properties": {
          "description": "Required. The basic properties of the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelProperties"
        },
        "fields": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaField"
          },
          "description": "List of fields in descending priority order."
        },
        "enabledAppSettings": {
          "description": "Optional. The `EnabledAppSettings` for this Label.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettings"
        },
        "learnMoreUri": {
          "description": "Custom URL to present to users to allow them to learn more about this label and how it should be used.",
          "type": "string"
        },
        "creator": {
          "description": "Output only. The user who created this label.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "lifecycle": {
          "description": "Output only. The lifecycle state of the label including whether it's published, deprecated, and has draft changes.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycle"
        },
        "disabler": {
          "description": "Output only. The user who disabled this label. This value has no meaning when the label isn't disabled.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "publisher": {
          "description": "Output only. The user who published this label. This value has no meaning when the label isn't published.>>",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLabel",
      "type": "object",
      "description": "A label defines a taxonomy that can be applied to Drive items in order to organize and search across items. Labels can be simple strings, or can contain fields that describe additional metadata that can be further used to organize and search Drive items."
    },
    "GoogleAppsDriveLabelsV2betaUserInfo": {
      "id": "GoogleAppsDriveLabelsV2betaUserInfo",
      "type": "object",
      "properties": {
        "person": {
          "description": "The identifier for this user that can be used with the [People API](https://developers.google.com/people) to get more information. For example, `people/12345678`.",
          "type": "string"
        }
      },
      "description": "Information about a user."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteSelectionChoiceResponse": {
      "properties": {},
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteSelectionChoiceResponse",
      "type": "object",
      "description": "Response following choice delete."
    },
    "GoogleAppsDriveLabelsV2betaLabelPermission": {
      "properties": {
        "audience": {
          "description": "Audience to grant a role to. The magic value of `audiences/default` may be used to apply the role to the default audience in the context of the organization that owns the label.",
          "type": "string"
        },
        "name": {
          "description": "Resource name of this permission.",
          "type": "string"
        },
        "person": {
          "description": "Person resource name.",
          "type": "string"
        },
        "role": {
          "type": "string",
          "description": "The role the principal should have.",
          "enumDescriptions": [
            "Unknown role.",
            "A reader can read the label and associated metadata applied to Drive items.",
            "An applier can write associated metadata on Drive items in which they also have write access to. Implies `READER`.",
            "An organizer can pin this label in shared drives they manage and add new appliers to the label.",
            "Editors can make any update including deleting the label which also deletes the associated Drive item metadata. Implies `APPLIER`."
          ],
          "enum": [
            "LABEL_ROLE_UNSPECIFIED",
            "READER",
            "APPLIER",
            "ORGANIZER",
            "EDITOR"
          ]
        },
        "group": {
          "type": "string",
          "description": "Group resource name."
        },
        "email": {
          "description": "Specifies the email address for a user or group principal. Not populated for audience principals. User and group permissions may only be inserted using an email address. On update requests, if email address is specified, no principal should be specified.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLabelPermission",
      "type": "object",
      "description": "The permission that applies to a principal (user, group, audience) on a label."
    },
    "GoogleAppsDriveLabelsV2betaLongTextLimits": {
      "description": "Limits for long text field type.",
      "properties": {
        "minLength": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum length allowed for a long text field type."
        },
        "maxLength": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum length allowed for a long text field type."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLongTextLimits",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableSelectionChoiceResponse": {
      "description": "Response following choice disable.",
      "properties": {},
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableSelectionChoiceResponse",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaLabelDisplayHints": {
      "description": "The UI display hints for rendering the label.",
      "id": "GoogleAppsDriveLabelsV2betaLabelDisplayHints",
      "type": "object",
      "properties": {
        "hiddenInSearch": {
          "description": "This label should be hidden in the search menu when searching for Drive items.",
          "type": "boolean"
        },
        "shownInApply": {
          "description": "This label should be shown in the apply menu when applying values to a Drive item.",
          "type": "boolean"
        },
        "disabled": {
          "description": "Whether the label should be shown in the UI as disabled.",
          "type": "boolean"
        },
        "priority": {
          "type": "string",
          "format": "int64",
          "description": "The order to display labels in a list."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLabelLock": {
      "properties": {
        "deleteTime": {
          "description": "Output only. A timestamp indicating when this label lock was scheduled for deletion. Present only if this label lock is in the `DELETING` state.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "fieldId": {
          "description": "The ID of the field that should be locked. Empty if the whole label should be locked.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time this label lock was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "creator": {
          "description": "Output only. The user whose credentials were used to create the label lock. Not present if no user was responsible for creating the label lock.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "choiceId": {
          "description": "The ID of the selection field choice that should be locked. If present, `field_id` must also be present.",
          "type": "string"
        },
        "state": {
          "description": "Output only. This label lock's state.",
          "enumDescriptions": [
            "Unknown state.",
            "The label lock is active and is being enforced by the server.",
            "The label lock is being deleted. The label lock will continue to be enforced by the server until it has been fully removed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETING"
          ],
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name of this label lock.",
          "readOnly": true,
          "type": "string"
        },
        "capabilities": {
          "description": "Output only. The user's capabilities on this label lock.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLabelLockCapabilities"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLabelLock",
      "type": "object",
      "description": "A lock that can be applied to a label, field, or choice."
    },
    "GoogleAppsDriveLabelsV2betaListLimits": {
      "description": "Limits for list-variant of a field type.",
      "properties": {
        "maxEntries": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of values allowed for the field type."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaListLimits",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaUpdateLabelCopyModeRequest": {
      "description": "Request to update the `CopyMode` of the given label. Changes to this policy aren't revisioned, don't require publishing, and take effect immediately. \\",
      "id": "GoogleAppsDriveLabelsV2betaUpdateLabelCopyModeRequest",
      "type": "object",
      "properties": {
        "copyMode": {
          "type": "string",
          "description": "Required. Indicates how the applied label and field values should be copied when a Drive item is copied.",
          "enumDescriptions": [
            "Copy mode unspecified.",
            "The applied label and field values aren't copied by default when the Drive item it's applied to is copied.",
            "The applied label and field values are always copied when the Drive item it's applied to is copied. Only admins can use this mode.",
            "The applied label and field values are copied if the label is appliable by the user making the copy."
          ],
          "enum": [
            "COPY_MODE_UNSPECIFIED",
            "DO_NOT_COPY",
            "ALWAYS_COPY",
            "COPY_APPLIABLE"
          ]
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used."
        },
        "view": {
          "description": "When specified, only certain fields belonging to the indicated view will be returned.",
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ],
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ],
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldListOptions": {
      "description": "Options for a multi-valued variant of an associated field type.",
      "properties": {
        "maxEntries": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of entries permitted."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldListOptions",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateFieldRequest": {
      "properties": {
        "field": {
          "description": "Required. Field to create.",
          "$ref": "GoogleAppsDriveLabelsV2betaField"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateFieldRequest",
      "type": "object",
      "description": "Request to create a field within a label."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableSelectionChoiceRequest": {
      "description": "Request to enable a choice.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. Choice to enable."
        },
        "fieldId": {
          "description": "Required. The selection field in which a choice will be enabled.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableSelectionChoiceRequest",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseResponse",
      "type": "object",
      "properties": {
        "createSelectionChoice": {
          "description": "Creates a selection list option to add to a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateSelectionChoiceResponse"
        },
        "updateSelectionChoiceProperties": {
          "description": "Updates a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse"
        },
        "enableSelectionChoice": {
          "description": "Enables a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableSelectionChoiceResponse"
        },
        "disableSelectionChoice": {
          "description": "Disables a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableSelectionChoiceResponse"
        },
        "createField": {
          "description": "Creates a field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateFieldResponse"
        },
        "updateField": {
          "description": "Updates basic properties of a field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldPropertiesResponse"
        },
        "enableField": {
          "description": "Enables field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableFieldResponse"
        },
        "deleteField": {
          "description": "Deletes a field from the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteFieldResponse"
        },
        "deleteSelectionChoice": {
          "description": "Deletes a choice from a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteSelectionChoiceResponse"
        },
        "updateFieldType": {
          "description": "Updates field type and/or type options.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldTypeResponse"
        },
        "updateLabel": {
          "description": "Updates basic properties of a label.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateLabelPropertiesResponse"
        },
        "disableField": {
          "description": "Disables field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableFieldResponse"
        }
      },
      "description": "A single response from an update."
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties": {
      "description": "Basic properties of the choice.",
      "properties": {
        "insertBeforeChoice": {
          "type": "string",
          "description": "Input only. Insert or move this choice before the indicated choice. If empty, the choice is placed at the end of the list."
        },
        "description": {
          "type": "string",
          "description": "The description of this label."
        },
        "displayName": {
          "description": "Required. The display text to show in the UI identifying this field.",
          "type": "string"
        },
        "badgeConfig": {
          "description": "The badge configuration for this choice. When set, the label that owns this choice is considered a \"badged label\".",
          "$ref": "GoogleAppsDriveLabelsV2betaBadgeConfig"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequest": {
      "properties": {
        "writeControl": {
          "description": "Provides control over how write requests are executed.",
          "$ref": "GoogleAppsDriveLabelsV2betaWriteControl"
        },
        "view": {
          "type": "string",
          "description": "When specified, only certain fields belonging to the indicated view will be returned.",
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ],
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ]
        },
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels when `include_label_in_response` is `true`.",
          "type": "string"
        },
        "requests": {
          "description": "A list of updates to apply to the label. Requests will be applied in the order they are specified.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestRequest"
          }
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequest",
      "type": "object",
      "description": "The set of requests for updating aspects of a label. If any request isn't valid, no requests will be applied."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateLabelPropertiesRequest": {
      "description": "Updates basic properties of a label.",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `label_properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
        },
        "properties": {
          "description": "Required. Label properties to update.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelProperties"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateLabelPropertiesRequest",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaLifecycle": {
      "description": "The lifecycle state of an object, such as label, field, or choice. For more information, see [Label lifecycle](https://developers.google.com/workspace/drive/labels/guides/label-lifecycle). The lifecycle enforces the following transitions: * `UNPUBLISHED_DRAFT` (starting state) * `UNPUBLISHED_DRAFT` -> `PUBLISHED` * `UNPUBLISHED_DRAFT` -> (Deleted) * `PUBLISHED` -> `DISABLED` * `DISABLED` -> `PUBLISHED` * `DISABLED` -> (Deleted) The published and disabled states have some distinct characteristics: * `Published`: Some kinds of changes might be made to an object in this state, in which case `has_unpublished_changes` will be true. Also, some kinds of changes aren't permitted. Generally, any change that would invalidate or cause new restrictions on existing metadata related to the label are rejected. * `Disabled`: When disabled, the configured `DisabledPolicy` takes effect.",
      "properties": {
        "hasUnpublishedChanges": {
          "description": "Output only. Whether the object associated with this lifecycle has unpublished changes.",
          "readOnly": true,
          "type": "boolean"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The state of the object associated with this lifecycle.",
          "enumDescriptions": [
            "Unknown State.",
            "The initial state of an object. Once published, the object can never return to this state. Once an object is published, certain kinds of changes are no longer permitted.",
            "The object has been published. The object might have unpublished draft changes as indicated by `has_unpublished_changes`.",
            "The object has been published and has since been disabled. The object might have unpublished draft changes as indicated by `has_unpublished_changes`.",
            "The object has been deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "UNPUBLISHED_DRAFT",
            "PUBLISHED",
            "DISABLED",
            "DELETED"
          ]
        },
        "disabledPolicy": {
          "description": "The policy that governs how to show a disabled label, field, or selection choice.",
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLifecycle",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaField": {
      "id": "GoogleAppsDriveLabelsV2betaField",
      "type": "object",
      "properties": {
        "selectionOptions": {
          "description": "Selection field options.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptions"
        },
        "queryKey": {
          "type": "string",
          "description": "Output only. The key to use when constructing Drive search queries to find files based on values defined for this field on files. For example, \"`{query_key}` > 2001-01-01\".",
          "readOnly": true
        },
        "schemaCapabilities": {
          "description": "Output only. The capabilities this user has when editing this field.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSchemaCapabilities"
        },
        "disableTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this field was disabled. This value has no meaning when the field is not disabled.",
          "readOnly": true
        },
        "textOptions": {
          "description": "Text field options.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldTextOptions"
        },
        "appliedCapabilities": {
          "description": "Output only. The capabilities this user has on this field and its value when the label is applied on Drive items.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaFieldAppliedCapabilities"
        },
        "displayHints": {
          "description": "Output only. UI display hints for rendering a field.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaFieldDisplayHints"
        },
        "userOptions": {
          "description": "User field options.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldUserOptions"
        },
        "id": {
          "description": "Output only. The key of a field, unique within a label or library. This value is autogenerated. Matches the regex: `([a-zA-Z0-9])+`.",
          "readOnly": true,
          "type": "string"
        },
        "lockStatus": {
          "description": "Output only. The `LockStatus` of this field.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLockStatus"
        },
        "dateOptions": {
          "description": "Date field options.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldDateOptions"
        },
        "createTime": {
          "description": "Output only. The time this field was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this field was updated.",
          "readOnly": true
        },
        "publisher": {
          "description": "Output only. The user who published this field. This value has no meaning when the field is not published.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "disabler": {
          "description": "Output only. The user who disabled this field. This value has no meaning when the field is not disabled.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "integerOptions": {
          "description": "Integer field options.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldIntegerOptions"
        },
        "properties": {
          "description": "The basic properties of the field.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldProperties"
        },
        "lifecycle": {
          "description": "Output only. The lifecycle of this field.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycle"
        },
        "updater": {
          "description": "Output only. The user who modified this field.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "creator": {
          "description": "Output only. The user who created this field.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        }
      },
      "description": "Defines a field that has a display name, data type, and other configuration options. This field defines the kind of metadata that may be set on a Drive item."
    },
    "GoogleAppsDriveLabelsV2betaFieldTextOptions": {
      "description": "Options for the Text field type.",
      "properties": {
        "minLength": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The minimum valid length of values for the text field.",
          "readOnly": true
        },
        "maxLength": {
          "description": "Output only. The maximum valid length of values for the text field.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldTextOptions",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestRequest": {
      "description": "A single kind of update to apply to a label.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestRequest",
      "type": "object",
      "properties": {
        "createSelectionChoice": {
          "description": "Create a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateSelectionChoiceRequest"
        },
        "enableSelectionChoice": {
          "description": "Enable a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableSelectionChoiceRequest"
        },
        "disableSelectionChoice": {
          "description": "Disable a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableSelectionChoiceRequest"
        },
        "updateSelectionChoiceProperties": {
          "description": "Update a choice property within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest"
        },
        "deleteSelectionChoice": {
          "description": "Delete a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteSelectionChoiceRequest"
        },
        "updateFieldType": {
          "description": "Update field type and/or type options.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldTypeRequest"
        },
        "createField": {
          "description": "Creates a field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateFieldRequest"
        },
        "updateField": {
          "description": "Updates basic properties of a field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldPropertiesRequest"
        },
        "enableField": {
          "description": "Enables the field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableFieldRequest"
        },
        "deleteField": {
          "description": "Deletes a field from the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteFieldRequest"
        },
        "disableField": {
          "description": "Disables the field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableFieldRequest"
        },
        "updateLabel": {
          "description": "Updates the label properties.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateLabelPropertiesRequest"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy": {
      "description": "The policy that governs how to treat a disabled label, field, or selection choice in different contexts.",
      "id": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy",
      "type": "object",
      "properties": {
        "hideInSearch": {
          "type": "boolean",
          "description": "Whether to hide this disabled object in the search menu for Drive items. * When `false`, the object is generally shown in the UI as disabled but it appears in the search results when searching for Drive items. * When `true`, the object is generally hidden in the UI when searching for Drive items."
        },
        "showInApply": {
          "description": "Whether to show this disabled object in the apply menu on Drive items. * When `true`, the object is generally shown in the UI as disabled and is unselectable. * When `false`, the object is generally hidden in the UI.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLabelSchemaCapabilities": {
      "id": "GoogleAppsDriveLabelsV2betaLabelSchemaCapabilities",
      "type": "object",
      "properties": {
        "canDisable": {
          "type": "boolean",
          "description": "Whether the user can disable this label. The user must have permission and this label must not already be disabled."
        },
        "canDelete": {
          "type": "boolean",
          "description": "Whether the user can delete this label. The user must have permission and the label must be disabled."
        },
        "canEnable": {
          "type": "boolean",
          "description": "Whether the user can enable this label. The user must have permission and this label must be disabled."
        },
        "canUpdate": {
          "description": "Whether the user can change this label.",
          "type": "boolean"
        }
      },
      "description": "The capabilities related to this label when editing the label."
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice": {
      "description": "Selection field choice.",
      "properties": {
        "createTime": {
          "description": "Output only. The time this choice was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The time this choice was updated last.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "displayHints": {
          "description": "Output only. UI display hints for rendering a choice.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceDisplayHints"
        },
        "id": {
          "type": "string",
          "description": "The unique value of the choice. This ID is autogenerated. Matches the regex: `([a-zA-Z0-9_])+`."
        },
        "lockStatus": {
          "description": "Output only. The `LockStatus` of this choice.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLockStatus"
        },
        "appliedCapabilities": {
          "description": "Output only. The capabilities related to this choice on applied metadata.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceAppliedCapabilities"
        },
        "publishTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this choice was published. This value has no meaning when the choice is not published.",
          "readOnly": true
        },
        "schemaCapabilities": {
          "description": "Output only. The capabilities related to this option when editing the option.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceSchemaCapabilities"
        },
        "disableTime": {
          "description": "Output only. The time this choice was disabled. This value has no meaning when the choice is not disabled.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "lifecycle": {
          "description": "Output only. Lifecycle of the choice.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycle"
        },
        "updater": {
          "description": "Output only. The user who updated this choice last.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "creator": {
          "description": "Output only. The user who created this choice.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "properties": {
          "description": "Basic properties of the choice.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties"
        },
        "publisher": {
          "description": "Output only. The user who published this choice. This value has no meaning when the choice is not published.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "disabler": {
          "description": "Output only. The user who disabled this choice. This value has no meaning when the option is not disabled.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaListLabelsResponse": {
      "id": "GoogleAppsDriveLabelsV2betaListLabelsResponse",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Labels.",
[...]
