{
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "documentationLink": "https://developers.google.com/workspace/drive/activity/",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "revision": "20260922",
  "title": "Drive Activity API",
  "resources": {
    "activity": {
      "methods": {
        "query": {
          "response": {
            "$ref": "QueryDriveActivityResponse"
          },
          "request": {
            "$ref": "QueryDriveActivityRequest"
          },
          "description": "Query past activity in Google Drive.",
          "parameterOrder": [],
          "parameters": {},
          "path": "v2/activity:query",
          "flatPath": "v2/activity:query",
          "id": "driveactivity.activity.query",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive.activity",
            "https://www.googleapis.com/auth/drive.activity.readonly"
          ]
        }
      }
    }
  },
  "id": "driveactivity:v2",
  "rootUrl": "https://driveactivity.googleapis.com/",
  "canonicalName": "Drive Activity",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.activity.readonly": {
          "description": "View the activity record of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.activity": {
          "description": "View and add to the activity record of files in your Google Drive"
        }
      }
    }
  },
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "version_module": true,
  "name": "driveactivity",
  "fullyEncodeReservedExpansion": true,
  "description": "Provides a historical view of activity in Google Drive.",
  "mtlsRootUrl": "https://driveactivity.mtls.googleapis.com/",
  "version": "v2",
  "servicePath": "",
  "baseUrl": "https://driveactivity.googleapis.com/",
  "schemas": {
    "Legacy": {
      "type": "object",
      "description": "A strategy that consolidates activities using the grouping rules from the legacy V1 Activity API. Similar actions occurring within a window of time can be grouped across multiple targets (such as moving a set of files at once) or multiple actors (such as several users editing the same item). Grouping rules for this strategy are specific to each type of action.",
      "properties": {},
      "id": "Legacy"
    },
    "TeamDrive": {
      "description": "This item is deprecated; please see `Drive` instead.",
      "type": "object",
      "id": "TeamDrive",
      "deprecated": true,
      "properties": {
        "name": {
          "description": "This field is deprecated; please see `Drive.name` instead.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "This field is deprecated; please see `Drive.title` instead."
        },
        "root": {
          "description": "This field is deprecated; please see `Drive.root` instead.",
          "$ref": "DriveItem"
        }
      }
    },
    "DriveFolder": {
      "description": "A Drive item which is a folder.",
      "id": "DriveFolder",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "The folder type is unknown.",
            "The folder is the root of a user's MyDrive.",
            "The folder is the root of a shared drive.",
            "The folder is a standard, non-root, folder."
          ],
          "description": "The type of Drive folder.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "SHARED_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ]
        }
      }
    },
    "User": {
      "description": "Information about an end user.",
      "type": "object",
      "id": "User",
      "properties": {
        "knownUser": {
          "description": "A known user.",
          "$ref": "KnownUser"
        },
        "deletedUser": {
          "$ref": "DeletedUser",
          "description": "A user whose account has since been deleted."
        },
        "unknownUser": {
          "description": "A user about whom nothing is currently known.",
          "$ref": "UnknownUser"
        }
      }
    },
    "UserList": {
      "type": "object",
      "description": "Wrapper for UserList Field value.",
      "id": "UserList",
      "properties": {
        "values": {
          "items": {
            "$ref": "SingleUser"
          },
          "type": "array",
          "description": "User values."
        }
      }
    },
    "Impersonation": {
      "description": "Information about an impersonation, where an admin acts on behalf of an end user. Information about the acting admin is not currently available.",
      "id": "Impersonation",
      "type": "object",
      "properties": {
        "impersonatedUser": {
          "description": "The impersonated user.",
          "$ref": "User"
        }
      }
    },
    "Create": {
      "properties": {
        "new": {
          "description": "If present, indicates the object was newly created (e.g. as a blank document), not derived from a Drive object or external object.",
          "$ref": "New"
        },
        "upload": {
          "description": "If present, indicates the object originated externally and was uploaded to Drive.",
          "$ref": "Upload"
        },
        "copy": {
          "description": "If present, indicates the object was created by copying an existing Drive object.",
          "$ref": "Copy"
        }
      },
      "id": "Create",
      "type": "object",
      "description": "An object was created."
    },
    "RestrictionChange": {
      "description": "Information about restriction policy changes to a feature.",
      "type": "object",
      "properties": {
        "feature": {
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false
          ],
          "description": "The feature which had a change in restriction policy.",
          "enumDescriptions": [
            "The feature which changed restriction settings was not available.",
            "When restricted, this prevents items from being shared outside the domain.",
            "When restricted, this prevents direct sharing of individual items.",
            "Deprecated: Use READERS_CAN_DOWNLOAD instead.",
            "When restricted, this prevents use of Drive File Stream.",
            "When restricted, this limits sharing of folders to managers only.",
            "When restricted, this prevents actions like copy, download, and print for readers. Replaces ITEM_DUPLICATION.",
            "When restricted, this prevents actions like copy, download, and print for writers."
          ],
          "enum": [
            "FEATURE_UNSPECIFIED",
            "SHARING_OUTSIDE_DOMAIN",
            "DIRECT_SHARING",
            "ITEM_DUPLICATION",
            "DRIVE_FILE_STREAM",
            "FILE_ORGANIZER_CAN_SHARE_FOLDERS",
            "READERS_CAN_DOWNLOAD",
            "WRITERS_CAN_DOWNLOAD"
          ]
        },
        "newRestriction": {
          "description": "The restriction in place after the change.",
          "enumDescriptions": [
            "The type of restriction is not available.",
            "The feature is available without restriction.",
            "The use of this feature is fully restricted."
          ],
          "type": "string",
          "enum": [
            "RESTRICTION_UNSPECIFIED",
            "UNRESTRICTED",
            "FULLY_RESTRICTED"
          ]
        }
      },
      "id": "RestrictionChange"
    },
    "NoConsolidation": {
      "description": "A strategy that does no consolidation of individual activities.",
      "type": "object",
      "id": "NoConsolidation",
      "properties": {}
    },
    "Copy": {
      "properties": {
        "originalObject": {
          "description": "The original object.",
          "$ref": "TargetReference"
        }
      },
      "type": "object",
      "id": "Copy",
      "description": "An object was created by copying an existing object."
    },
    "Assignment": {
      "type": "object",
      "description": "A comment with an assignment.",
      "properties": {
        "subtype": {
          "enumDescriptions": [
            "Subtype not available.",
            "An assignment was added.",
            "An assignment was deleted.",
            "An assignment reply was added.",
            "An assignment reply was deleted.",
            "An assignment was resolved.",
            "A resolved assignment was reopened.",
            "An assignment was reassigned."
          ],
          "description": "The sub-type of this event.",
          "type": "string",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED",
            "REASSIGNED"
          ]
        },
        "assignedUser": {
          "description": "The user to whom the comment was assigned.",
          "$ref": "User"
        }
      },
      "id": "Assignment"
    },
    "DriveFile": {
      "type": "object",
      "description": "A Drive item which is a file.",
      "properties": {},
      "id": "DriveFile"
    },
    "Delete": {
      "type": "object",
      "id": "Delete",
      "description": "An object was deleted.",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TRASH",
            "PERMANENT_DELETE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Deletion type is not available.",
            "An object was put into the trash.",
            "An object was deleted permanently."
          ],
          "description": "The type of delete action taken."
        }
      }
    },
    "File": {
      "id": "File",
      "type": "object",
      "deprecated": true,
      "description": "This item is deprecated; please see `DriveFile` instead.",
      "properties": {}
    },
    "ActionDetail": {
      "properties": {
        "restore": {
          "$ref": "Restore",
          "description": "A deleted object was restored."
        },
        "settingsChange": {
          "description": "Settings were changed.",
          "$ref": "SettingsChange"
        },
        "appliedLabelChange": {
          "description": "Label was changed.",
          "$ref": "AppliedLabelChange"
        },
        "dlpChange": {
          "description": "A change happened in data leak prevention status.",
          "$ref": "DataLeakPreventionChange"
        },
        "reference": {
          "$ref": "ApplicationReference",
          "description": "An object was referenced in an application outside of Drive/Docs."
        },
        "edit": {
          "description": "An object was edited.",
          "$ref": "Edit"
        },
        "permissionChange": {
          "description": "The permission on an object was changed.",
          "$ref": "PermissionChange"
        },
        "rename": {
          "$ref": "Rename",
          "description": "An object was renamed."
        },
        "create": {
          "description": "An object was created.",
          "$ref": "Create"
        },
        "delete": {
          "description": "An object was deleted.",
          "$ref": "Delete"
        },
        "move": {
          "description": "An object was moved.",
          "$ref": "Move"
        },
        "comment": {
          "description": "A change about comments was made.",
          "$ref": "Comment"
        }
      },
      "description": "Data describing the type and additional information of an action.",
      "id": "ActionDetail",
      "type": "object"
    },
    "FieldValue": {
      "description": "Contains a value of a Field.",
      "properties": {
        "integer": {
          "$ref": "Integer",
          "description": "Integer Field value."
        },
        "selection": {
          "$ref": "Selection",
          "description": "Selection Field value."
        },
        "text": {
          "description": "Text Field value.",
          "$ref": "Text"
        },
        "textList": {
          "$ref": "TextList",
          "description": "Text List Field value."
        },
        "selectionList": {
          "description": "Selection List Field value.",
          "$ref": "SelectionList"
        },
        "user": {
          "description": "User Field value.",
          "$ref": "SingleUser"
        },
        "userList": {
          "description": "User List Field value.",
          "$ref": "UserList"
        },
        "date": {
          "description": "Date Field value.",
          "$ref": "Date"
        }
      },
      "id": "FieldValue",
      "type": "object"
    },
    "DataLeakPreventionChange": {
      "description": "A change in the object's data leak prevention status.",
      "type": "object",
      "id": "DataLeakPreventionChange",
      "properties": {
        "type": {
          "description": "The type of Data Leak Prevention (DLP) change.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "FLAGGED",
            "CLEARED"
          ],
          "type": "string",
          "enumDescriptions": [
            "An update to the DLP state that is neither FLAGGED or CLEARED.",
            "Document has been flagged as containing sensitive content.",
            "Document is no longer flagged as containing sensitive content."
          ]
        }
      }
    },
    "ConsolidationStrategy": {
      "id": "ConsolidationStrategy",
      "properties": {
        "legacy": {
          "description": "The individual activities are consolidated using the legacy strategy.",
          "$ref": "Legacy"
        },
        "none": {
          "$ref": "NoConsolidation",
          "description": "The individual activities are not consolidated."
        }
      },
      "description": "How the individual activities are consolidated. If a set of activities is related they can be consolidated into one combined activity, such as one actor performing the same action on multiple targets, or multiple actors performing the same action on a single target. The strategy defines the rules for which activities are related.",
      "type": "object"
    },
    "AnonymousUser": {
      "description": "Empty message representing an anonymous user or indicating the authenticated user should be anonymized.",
      "id": "AnonymousUser",
      "properties": {},
      "type": "object"
    },
    "Rename": {
      "id": "Rename",
      "properties": {
        "newTitle": {
          "type": "string",
          "description": "The new title of the drive object."
        },
        "oldTitle": {
          "description": "The previous title of the drive object.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An object was renamed."
    },
    "Domain": {
      "type": "object",
      "id": "Domain",
      "properties": {
        "name": {
          "description": "The name of the domain, e.g. `google.com`.",
          "type": "string"
        },
        "legacyId": {
          "description": "An opaque string used to identify this domain.",
          "type": "string"
        }
      },
      "description": "Information about a domain."
    },
    "QueryDriveActivityResponse": {
      "type": "object",
      "id": "QueryDriveActivityResponse",
      "description": "Response message for querying Drive activity.",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "activities": {
          "type": "array",
          "description": "List of activity requested.",
          "items": {
            "$ref": "DriveActivity"
          }
        }
      }
    },
    "DriveActivity": {
      "id": "DriveActivity",
      "description": "A single Drive activity comprising one or more Actions by one or more Actors on one or more Targets. Some Action groupings occur spontaneously, such as moving an item into a shared folder triggering a permission change. Other groupings of related Actions, such as multiple Actors editing one item or moving multiple files into a new folder, are controlled by the selection of a ConsolidationStrategy in the QueryDriveActivityRequest.",
      "properties": {
        "targets": {
          "description": "All Google Drive objects this activity is about (e.g. file, folder, drive). This represents the state of the target immediately after the actions occurred.",
          "items": {
            "$ref": "Target"
          },
          "type": "array"
        },
        "timeRange": {
          "$ref": "TimeRange",
          "description": "The activity occurred over this time range."
        },
        "actions": {
          "description": "Details on all actions in this activity.",
          "type": "array",
          "items": {
            "$ref": "Action"
          }
        },
        "timestamp": {
          "description": "The activity occurred at this specific time.",
          "type": "string",
          "format": "google-datetime"
        },
        "actors": {
          "items": {
            "$ref": "Actor"
          },
          "type": "array",
          "description": "All actor(s) responsible for the activity."
        },
        "primaryActionDetail": {
          "description": "Key information about the primary action for this activity. This is either representative, or the most important, of all actions in the activity, according to the ConsolidationStrategy in the request.",
          "$ref": "ActionDetail"
        }
      },
      "type": "object"
    },
    "Folder": {
      "description": "This item is deprecated; please see `DriveFolder` instead.",
      "deprecated": true,
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "TEAM_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ],
          "description": "This field is deprecated; please see `DriveFolder.type` instead.",
          "enumDescriptions": [
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead."
          ]
        }
      },
      "type": "object",
      "id": "Folder"
    },
    "TeamDriveReference": {
      "type": "object",
      "description": "This item is deprecated; please see `DriveReference` instead.",
      "deprecated": true,
      "id": "TeamDriveReference",
      "properties": {
        "name": {
          "description": "This field is deprecated; please see `DriveReference.name` instead.",
          "type": "string"
        },
        "title": {
          "description": "This field is deprecated; please see `DriveReference.title` instead.",
          "type": "string"
        }
      }
    },
    "DriveItemReference": {
      "description": "A lightweight reference to a Drive item, such as a file or folder.",
      "id": "DriveItemReference",
      "properties": {
        "driveFolder": {
          "$ref": "DriveFolder",
          "description": "The Drive item is a folder. Includes information about the type of folder."
        },
        "driveFile": {
          "description": "The Drive item is a file.",
          "$ref": "DriveFile"
        },
        "name": {
          "type": "string",
          "description": "The target Drive item. The format is `items/ITEM_ID`."
        },
        "file": {
          "deprecated": true,
          "$ref": "File",
          "description": "This field is deprecated; please use the `driveFile` field instead."
        },
        "folder": {
          "$ref": "Folder",
          "description": "This field is deprecated; please use the `driveFolder` field instead.",
          "deprecated": true
        },
        "title": {
          "description": "The title of the Drive item.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ApplicationReference": {
      "id": "ApplicationReference",
      "description": "Activity in applications other than Drive.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The reference type corresponding to this event.",
          "enum": [
            "UNSPECIFIED_REFERENCE_TYPE",
            "LINK",
            "DISCUSS"
          ],
          "enumDescriptions": [
            "The type is not available.",
            "The links of one or more Drive items were posted.",
            "Comments were made regarding a Drive item."
          ],
          "type": "string"
        }
      }
    },
    "Edit": {
      "type": "object",
      "id": "Edit",
      "properties": {},
      "description": "An empty message indicating an object was edited."
    },
    "Text": {
      "id": "Text",
      "description": "Wrapper for Text Field value.",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value of Text Field."
        }
      }
    },
    "Administrator": {
      "properties": {},
      "type": "object",
      "id": "Administrator",
      "description": "Empty message representing an administrator."
    },
    "QueryDriveActivityRequest": {
      "id": "QueryDriveActivityRequest",
      "type": "object",
      "properties": {
        "ancestorName": {
          "description": "Return activities for this Drive folder, plus all children and descendants. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "pageToken": {
          "description": "The token identifies which page of results to return. Set this to the next_page_token value returned from a previous query to obtain the following page of results. If not set, the first page of results is returned.",
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum number of activities desired in the response; the server attempts to return at least this quantity. The server may also return fewer activities if it has a partial response ready before the request times out. If not set, a default value is used."
        },
        "consolidationStrategy": {
          "description": "Details on how to consolidate related actions that make up the activity. If not set, then related actions aren't consolidated.",
          "$ref": "ConsolidationStrategy"
        },
        "filter": {
          "type": "string",
          "description": "The filtering for items returned from this query request. The format of the filter string is a sequence of expressions, joined by an optional \"AND\", where each expression is of the form \"field operator value\". Supported fields: - `time`: Uses numerical operators on date values either in terms of milliseconds since Jan 1, 1970 or in RFC 3339 format. Examples: - `time > 1452409200000 AND time <= 1492812924310` - `time >= \"2016-01-10T01:02:03-05:00\"` - `detail.action_detail_case`: Uses the \"has\" operator (:) and either a singular value or a list of allowed action types enclosed in parentheses, separated by a space. To exclude a result from the response, prepend a hyphen (`-`) to the beginning of the filter string. Examples: - `detail.action_detail_case:RENAME` - `detail.action_detail_case:(CREATE RESTORE)` - `-detail.action_detail_case:MOVE` "
        },
        "itemName": {
          "description": "Return activities for this Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        }
      },
      "description": "The request message for querying Drive activity."
    },
    "Upload": {
      "id": "Upload",
      "type": "object",
      "properties": {},
      "description": "An object was uploaded into Drive."
    },
    "PermissionChange": {
      "type": "object",
      "description": "A change of the permission setting on an item.",
      "id": "PermissionChange",
      "properties": {
        "addedPermissions": {
          "items": {
            "$ref": "Permission"
          },
          "description": "The set of permissions added by this change.",
          "type": "array"
        },
        "removedPermissions": {
          "type": "array",
          "items": {
            "$ref": "Permission"
          },
          "description": "The set of permissions removed by this change."
        }
      }
    },
    "KnownUser": {
      "id": "KnownUser",
      "properties": {
        "personName": {
          "description": "The identifier for this user that can be used with the People API to get more information. The format is `people/ACCOUNT_ID`. See https://developers.google.com/people/.",
          "type": "string"
        },
        "isCurrentUser": {
          "description": "True if this is the user making the request.",
          "type": "boolean"
        }
      },
      "description": "A known user.",
      "type": "object"
    },
    "Date": {
      "type": "object",
      "description": "Wrapper for Date Field value.",
      "properties": {
        "value": {
          "description": "Date value.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Date"
    },
    "Group": {
      "id": "Group",
      "properties": {
        "email": {
          "description": "The email address of the group.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the group."
        }
      },
      "type": "object",
      "description": "Information about a group."
    },
    "Anyone": {
      "type": "object",
      "id": "Anyone",
      "description": "Represents any user (including a logged out user).",
      "properties": {}
    },
    "Actor": {
      "type": "object",
      "properties": {
        "administrator": {
          "$ref": "Administrator",
          "description": "An administrator."
        },
        "system": {
          "description": "A non-user actor (i.e. system triggered).",
          "$ref": "SystemEvent"
        },
        "impersonation": {
          "description": "An account acting on behalf of another.",
          "$ref": "Impersonation"
        },
        "anonymous": {
          "$ref": "AnonymousUser",
          "description": "An anonymous user."
        },
        "user": {
          "description": "An end user.",
          "$ref": "User"
        }
      },
      "id": "Actor",
      "description": "The actor of a Drive activity."
    },
    "DriveItem": {
      "properties": {
        "name": {
          "description": "The target Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "file": {
          "description": "This field is deprecated; please use the `driveFile` field instead.",
          "deprecated": true,
          "$ref": "File"
        },
        "driveFolder": {
          "$ref": "DriveFolder",
          "description": "The Drive item is a folder. Includes information about the type of folder."
        },
        "title": {
          "description": "The title of the Drive item.",
          "type": "string"
        },
        "driveFile": {
          "description": "The Drive item is a file.",
          "$ref": "DriveFile"
        },
        "owner": {
          "$ref": "Owner",
          "description": "Information about the owner of this Drive item."
        },
        "folder": {
          "$ref": "Folder",
          "deprecated": true,
          "description": "This field is deprecated; please use the `driveFolder` field instead."
        },
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the Drive item. See https://developers.google.com/workspace/drive/v3/web/mime-types."
        }
      },
      "type": "object",
      "description": "A Drive item, such as a file or folder.",
      "id": "DriveItem"
    },
    "Move": {
      "properties": {
        "addedParents": {
          "description": "The added parent object(s).",
          "items": {
            "$ref": "TargetReference"
          },
          "type": "array"
        },
        "removedParents": {
          "items": {
            "$ref": "TargetReference"
          },
          "type": "array",
          "description": "The removed parent object(s)."
        }
      },
      "description": "An object was moved.",
      "type": "object",
      "id": "Move"
    },
    "Comment": {
      "description": "A change about comments on an object.",
      "id": "Comment",
      "type": "object",
      "properties": {
        "post": {
          "description": "A change on a regular posted comment.",
          "$ref": "Post"
        },
        "suggestion": {
          "$ref": "Suggestion",
          "description": "A change on a suggestion."
        },
        "assignment": {
          "description": "A change on an assignment.",
          "$ref": "Assignment"
        },
        "mentionedUsers": {
          "description": "Users who are mentioned in this comment.",
          "items": {
            "$ref": "User"
          },
          "type": "array"
        }
      }
    },
    "Suggestion": {
      "properties": {
        "subtype": {
          "enumDescriptions": [
            "Subtype not available.",
            "A suggestion was added.",
            "A suggestion was deleted.",
            "A suggestion reply was added.",
            "A suggestion reply was deleted.",
            "A suggestion was accepted.",
            "A suggestion was rejected.",
            "An accepted suggestion was deleted.",
            "A rejected suggestion was deleted."
          ],
          "type": "string",
          "description": "The sub-type of this event.",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "ACCEPTED",
            "REJECTED",
            "ACCEPT_DELETED",
            "REJECT_DELETED"
          ]
        }
      },
      "type": "object",
      "description": "A suggestion.",
      "id": "Suggestion"
    },
    "UnknownUser": {
      "properties": {},
      "description": "A user about whom nothing is currently known.",
      "id": "UnknownUser",
      "type": "object"
    },
    "FileComment": {
      "properties": {
        "legacyCommentId": {
          "type": "string",
          "description": "The comment in the discussion thread. This identifier is an opaque string compatible with the Drive API; see https://developers.google.com/workspace/drive/v3/reference/comments/get"
        },
        "parent": {
          "description": "The Drive item containing this comment.",
          "$ref": "DriveItem"
        },
        "linkToDiscussion": {
          "description": "The link to the discussion thread containing this comment, for example, `https://docs.google.com/DOCUMENT_ID/edit?disco=THREAD_ID`.",
          "type": "string"
        },
        "legacyDiscussionId": {
          "type": "string",
          "description": "The discussion thread to which the comment was added. This identifier is an opaque string compatible with the Drive API and references the first comment in a discussion; see https://developers.google.com/workspace/drive/v3/reference/comments/get"
        }
      },
      "id": "FileComment",
      "type": "object",
      "description": "A comment on a file."
    },
    "Owner": {
      "type": "object",
      "properties": {
        "teamDrive": {
          "deprecated": true,
          "description": "This field is deprecated; please use the `drive` field instead.",
          "$ref": "TeamDriveReference"
        },
        "domain": {
          "$ref": "Domain",
          "description": "The domain of the Drive item owner."
        },
        "user": {
          "description": "The user that owns the Drive item.",
          "$ref": "User"
        },
        "drive": {
          "$ref": "DriveReference",
          "description": "The drive that owns the item."
        }
      },
      "description": "Information about the owner of a Drive item.",
      "id": "Owner"
    },
    "DriveReference": {
      "id": "DriveReference",
      "description": "A lightweight reference to a shared drive.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the shared drive."
        }
      }
    },
    "Selection": {
      "properties": {
        "displayName": {
          "description": "Selection value as human-readable display string.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Selection value as Field Choice ID."
        }
      },
      "type": "object",
      "id": "Selection",
      "description": "Wrapper for Selection Field value as combined value/display_name pair for selected choice."
    },
    "Target": {
      "id": "Target",
      "description": "Information about the target of activity. For more information on how activity history is shared with users, see [Activity history visibility](https://developers.google.com/workspace/drive/activity/v2#activityhistory).",
      "properties": {
        "driveItem": {
          "description": "The target is a Drive item.",
          "$ref": "DriveItem"
        },
        "fileComment": {
          "$ref": "FileComment",
          "description": "The target is a comment on a Drive file."
        },
        "teamDrive": {
          "$ref": "TeamDrive",
          "deprecated": true,
          "description": "This field is deprecated; please use the `drive` field instead."
        },
        "drive": {
          "$ref": "Drive",
          "description": "The target is a shared drive."
        }
      },
      "type": "object"
    },
    "Post": {
      "id": "Post",
      "type": "object",
      "description": "A regular posted comment.",
      "properties": {
        "subtype": {
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED"
          ],
          "enumDescriptions": [
            "Subtype not available.",
            "A post was added.",
            "A post was deleted.",
            "A reply was added.",
            "A reply was deleted.",
            "A posted comment was resolved.",
            "A posted comment was reopened."
          ],
          "type": "string",
          "description": "The sub-type of this event."
        }
      }
    },
    "SystemEvent": {
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER_DELETION",
            "TRASH_AUTO_PURGE"
          ],
          "enumDescriptions": [
            "The event type is unspecified.",
            "The event is a consequence of a user account being deleted.",
            "The event is due to the system automatically purging trash."
          ],
          "description": "The type of the system event that may triggered activity.",
          "type": "string"
        }
      },
      "id": "SystemEvent",
      "description": "Event triggered by system operations instead of end users."
    },
    "Drive": {
      "id": "Drive",
      "properties": {
        "root": {
          "description": "The root of this shared drive.",
          "$ref": "DriveItem"
        },
        "title": {
          "type": "string",
          "description": "The title of the shared drive."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name."
        }
      },
      "description": "Information about a shared drive.",
      "type": "object"
    },
    "DeletedUser": {
      "description": "A user whose account has since been deleted.",
      "id": "DeletedUser",
      "type": "object",
      "properties": {}
    },
    "Permission": {
      "properties": {
        "anyone": {
          "$ref": "Anyone",
          "description": "If set, this permission applies to anyone, even logged out users."
        },
        "role": {
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "ORGANIZER",
            "FILE_ORGANIZER",
            "EDITOR",
            "COMMENTER",
            "VIEWER",
            "PUBLISHED_VIEWER"
          ],
          "description": "Indicates the [Google Drive permissions role](https://developers.google.com/workspace/drive/web/manage-sharing#roles). The role determines a user's ability to read, write, and comment on items.",
          "enumDescriptions": [
            "The role is not available.",
            "A role granting full access.",
            "A role granting the ability to manage people and settings.",
            "A role granting the ability to contribute and manage content.",
            "A role granting the ability to contribute content. This role is sometimes also known as \"writer\".",
            "A role granting the ability to view and comment on content.",
            "A role granting the ability to view content. This role is sometimes also known as \"reader\".",
            "A role granting the ability to view content only after it has been published to the web. This role is sometimes also known as \"published reader\". See https://support.google.com/sites/answer/6372880 for more information."
          ]
        },
        "allowDiscovery": {
          "type": "boolean",
          "description": "If true, the item can be discovered (e.g. in the user's \"Shared with me\" collection) without needing a link to the item."
        },
        "user": {
          "$ref": "User",
          "description": "The user to whom this permission applies."
        },
        "domain": {
          "$ref": "Domain",
          "description": "The domain to whom this permission applies."
        },
        "group": {
          "description": "The group to whom this permission applies.",
          "$ref": "Group"
        }
      },
      "description": "The permission setting of an object.",
      "type": "object",
      "id": "Permission"
    },
    "Restore": {
      "id": "Restore",
      "properties": {
        "type": {
          "enumDescriptions": [
            "The type is not available.",
            "An object was restored from the trash."
          ],
          "description": "The type of restore action taken.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "UNTRASH"
          ]
        }
      },
      "type": "object",
      "description": "A deleted object was restored."
    },
    "TextList": {
      "type": "object",
      "properties": {
        "values": {
          "description": "Text values.",
          "items": {
            "$ref": "Text"
          },
          "type": "array"
        }
      },
      "id": "TextList",
      "description": "Wrapper for Text List Field value."
    },
    "SettingsChange": {
      "id": "SettingsChange",
      "description": "Information about settings changes.",
      "type": "object",
      "properties": {
        "restrictionChanges": {
          "description": "The set of changes made to restrictions.",
          "items": {
            "$ref": "RestrictionChange"
          },
          "type": "array"
        }
      }
    },
    "SelectionList": {
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "Selection"
          },
          "description": "Selection values."
        }
      },
      "type": "object",
      "id": "SelectionList",
      "description": "Wrapper for SelectionList Field value."
    },
    "AppliedLabelChange": {
      "properties": {
        "changes": {
          "type": "array",
          "description": "Changes that were made to the Label on the Target.",
          "items": {
            "$ref": "AppliedLabelChangeDetail"
          }
        }
      },
      "type": "object",
      "id": "AppliedLabelChange",
      "description": "Label changes that were made on the Target."
    },
    "Integer": {
      "properties": {
        "value": {
          "description": "Integer value.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "Integer",
      "description": "Wrapper for Integer Field value."
    },
    "TimeRange": {
      "id": "TimeRange",
      "description": "Information about time ranges.",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "The start of the time range.",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "The end of the time range.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "TargetReference": {
      "description": "A lightweight reference to the target of activity.",
      "id": "TargetReference",
      "type": "object",
      "properties": {
        "driveItem": {
          "description": "The target is a Drive item.",
          "$ref": "DriveItemReference"
        },
        "teamDrive": {
          "deprecated": true,
          "description": "This field is deprecated; please use the `drive` field instead.",
          "$ref": "TeamDriveReference"
        },
        "drive": {
          "description": "The target is a shared drive.",
          "$ref": "DriveReference"
        }
      }
    },
    "New": {
      "type": "object",
      "id": "New",
      "description": "An object was created from scratch.",
      "properties": {}
    },
    "AppliedLabelChangeDetail": {
      "properties": {
        "fieldChanges": {
          "type": "array",
          "description": "Field Changes. Only present if `types` contains `LABEL_FIELD_VALUE_CHANGED`.",
          "items": {
            "$ref": "FieldValueChange"
          }
        },
        "title": {
          "description": "The human-readable title of the label that changed.",
          "type": "string"
        },
        "label": {
          "type": "string",
          "description": "The Label name representing the Label that changed. This name always contains the revision of the Label that was used when this Action occurred. The format is `labels/id@revision`."
        },
        "types": {
          "description": "The types of changes made to the Label on the Target.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The type of change to this Label is not available.",
              "The identified Label was added to the Target.",
              "The identified Label was removed from the Target.",
              "Field values were changed on the Target.",
              "The Label was applied as a side-effect of Drive item creation."
            ],
            "enum": [
              "TYPE_UNSPECIFIED",
              "LABEL_ADDED",
              "LABEL_REMOVED",
              "LABEL_FIELD_VALUE_CHANGED",
              "LABEL_APPLIED_BY_ITEM_CREATE"
            ]
          },
          "type": "array"
        }
      },
      "id": "AppliedLabelChangeDetail",
      "description": "A change made to a Label on the Target.",
      "type": "object"
    },
    "SingleUser": {
      "properties": {
        "value": {
          "description": "User value as email.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SingleUser",
      "description": "Wrapper for User Field value."
    },
    "FieldValueChange": {
      "description": "Change to a Field value.",
      "type": "object",
      "id": "FieldValueChange",
      "properties": {
        "displayName": {
          "description": "The human-readable display name for this field.",
          "type": "string"
        },
        "oldValue": {
          "$ref": "FieldValue",
          "description": "The value that was previously set on the field. If not present, the field was newly set. At least one of {old_value|new_value} is always set."
        },
        "fieldId": {
          "description": "The ID of this field. Field IDs are unique within a Label.",
          "type": "string"
        },
        "newValue": {
          "description": "The value that is now set on the field. If not present, the field was cleared. At least one of {old_value|new_value} is always set.",
          "$ref": "FieldValue"
        }
      }
    },
    "Action": {
      "description": "Information about the action.",
      "type": "object",
      "id": "Action",
      "properties": {
        "timestamp": {
          "description": "The action occurred at this specific time.",
          "type": "string",
          "format": "google-datetime"
        },
        "detail": {
          "description": "The type and detailed information about the action.",
          "$ref": "ActionDetail"
        },
        "target": {
          "description": "The target this action affects (or empty if affecting all targets). This represents the state of the target immediately after this action occurred.",
          "$ref": "Target"
        },
        "timeRange": {
          "$ref": "TimeRange",
          "description": "The action occurred over this time range."
        },
        "actor": {
          "description": "The actor responsible for this action (or empty if all actors are responsible).",
          "$ref": "Actor"
        }
      }
    }
  },
  "ownerName": "Google"
}