{
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "baseUrl": "https://www.googleapis.com/drive/v3/",
  "id": "drive:v3",
  "batchPath": "batch/drive/v3",
  "protocol": "rest",
  "servicePath": "drive/v3/",
  "documentationLink": "https://developers.google.com/workspace/drive/",
  "name": "drive",
  "basePath": "/drive/v3/",
  "rootUrl": "https://www.googleapis.com/",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "description": "The Google Drive API allows clients to access resources from Google Drive.",
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "title": "Google Drive API",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "resources": {
    "approvals": {
      "methods": {
        "reassign": {
          "id": "drive.approvals.reassign",
          "flatPath": "files/{fileId}/approvals/{approvalId}:reassign",
          "parameters": {
            "fileId": {
              "type": "string",
              "description": "Required. The ID of the file that the approval is on.",
              "location": "path",
              "required": true
            },
            "approvalId": {
              "description": "Required. The ID of the approval to reassign.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "path": "files/{fileId}/approvals/{approvalId}:reassign",
          "httpMethod": "POST",
          "description": "Reassigns the reviewers on an approval. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals). Adds or replaces reviewers in the ReviewerResponse of the approval. This can be called by any user with the `writer` permission on the file while the approval Status is `IN_PROGRESS` and the Response for the reviewer being reassigned is `NO_RESPONSE`. A user with the `reader` permission can only reassign an approval that's assigned to themselves. Removing a reviewer isn't allowed.",
          "request": {
            "$ref": "ReassignApprovalRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "response": {
            "$ref": "Approval"
          },
          "parameterOrder": [
            "fileId",
            "approvalId"
          ]
        },
        "approve": {
          "parameterOrder": [
            "fileId",
            "approvalId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "response": {
            "$ref": "Approval"
          },
          "description": "Approves an approval. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals). This is used to update the ReviewerResponse of the requesting user with a Response of `APPROVED`. If this is the last required reviewer response, this also completes the approval and sets the approval Status to `APPROVED`.",
          "request": {
            "$ref": "ApproveApprovalRequest"
          },
          "parameters": {
            "approvalId": {
              "required": true,
              "description": "Required. The ID of the approval to approve.",
              "location": "path",
              "type": "string"
            },
            "fileId": {
              "required": true,
              "type": "string",
              "description": "Required. The ID of the file that the approval is on.",
              "location": "path"
            }
          },
          "path": "files/{fileId}/approvals/{approvalId}:approve",
          "httpMethod": "POST",
          "flatPath": "files/{fileId}/approvals/{approvalId}:approve",
          "id": "drive.approvals.approve"
        },
        "decline": {
          "parameterOrder": [
            "fileId",
            "approvalId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "response": {
            "$ref": "Approval"
          },
          "description": "Declines an approval. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals). This is used to update the ReviewerResponse of the requesting user with a Response of `DECLINED`. This also completes the approval and sets the approval Status to `DECLINED`.",
          "request": {
            "$ref": "DeclineApprovalRequest"
          },
          "parameters": {
            "fileId": {
              "required": true,
              "description": "Required. The ID of the file that the approval is on.",
              "location": "path",
              "type": "string"
            },
            "approvalId": {
              "type": "string",
              "description": "Required. The ID of the approval to decline.",
              "location": "path",
              "required": true
            }
          },
          "path": "files/{fileId}/approvals/{approvalId}:decline",
          "httpMethod": "POST",
          "flatPath": "files/{fileId}/approvals/{approvalId}:decline",
          "id": "drive.approvals.decline"
        },
        "get": {
          "path": "files/{fileId}/approvals/{approvalId}",
          "httpMethod": "GET",
          "parameters": {
            "approvalId": {
              "type": "string",
              "description": "Required. The ID of the approval.",
              "location": "path",
              "required": true
            },
            "fileId": {
              "type": "string",
              "description": "Required. The ID of the file that the approval is on.",
              "location": "path",
              "required": true
            }
          },
          "description": "Gets an approval by ID. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals).",
          "id": "drive.approvals.get",
          "flatPath": "files/{fileId}/approvals/{approvalId}",
          "parameterOrder": [
            "fileId",
            "approvalId"
          ],
          "response": {
            "$ref": "Approval"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "start": {
          "description": "Starts an approval on a file. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals).",
          "request": {
            "$ref": "StartApprovalRequest"
          },
          "parameters": {
            "fileId": {
              "required": true,
              "type": "string",
              "description": "Required. The ID of the file that the approval is created on.",
              "location": "path"
            }
          },
          "path": "files/{fileId}/approvals:start",
          "httpMethod": "POST",
          "flatPath": "files/{fileId}/approvals:start",
          "id": "drive.approvals.start",
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "response": {
            "$ref": "Approval"
          }
        },
        "comment": {
          "response": {
            "$ref": "Approval"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "parameterOrder": [
            "fileId",
            "approvalId"
          ],
          "flatPath": "files/{fileId}/approvals/{approvalId}:comment",
          "id": "drive.approvals.comment",
          "request": {
            "$ref": "CommentApprovalRequest"
          },
          "description": "Comments on an approval. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals). This sends a notification to both the initiator and the reviewers. Additionally, a message is also added to the approval activity log.",
          "path": "files/{fileId}/approvals/{approvalId}:comment",
          "httpMethod": "POST",
          "parameters": {
            "approvalId": {
              "type": "string",
              "description": "Required. The ID of the approval to comment on.",
              "location": "path",
              "required": true
            },
            "fileId": {
              "description": "Required. The ID of the file that the approval is on.",
              "location": "path",
              "type": "string",
              "required": true
            }
          }
        },
        "cancel": {
          "flatPath": "files/{fileId}/approvals/{approvalId}:cancel",
          "id": "drive.approvals.cancel",
          "request": {
            "$ref": "CancelApprovalRequest"
          },
          "description": "Cancels an approval. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals). Updates the approval Status to `CANCELLED`. This can be called by any user with the `writer` permission on the file while the approval Status is `IN_PROGRESS`.",
          "path": "files/{fileId}/approvals/{approvalId}:cancel",
          "httpMethod": "POST",
          "parameters": {
            "approvalId": {
              "type": "string",
              "description": "Required. The ID of the approval to cancel.",
              "location": "path",
              "required": true
            },
            "fileId": {
              "required": true,
              "description": "Required. The ID of the file that the approval is on.",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Approval"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "parameterOrder": [
            "fileId",
            "approvalId"
          ]
        },
        "list": {
          "parameters": {
            "fileId": {
              "required": true,
              "description": "Required. The ID of the file that the approval is on.",
              "location": "path",
              "type": "string"
            },
            "pageSize": {
              "description": "The maximum number of approvals to return. When not set, at most 100 approvals are returned.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
              "location": "query"
            }
          },
          "path": "files/{fileId}/approvals",
          "httpMethod": "GET",
          "description": "Lists the approvals on a file. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals).",
          "id": "drive.approvals.list",
          "flatPath": "files/{fileId}/approvals",
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "ApprovalList"
          }
        }
      }
    },
    "about": {
      "methods": {
        "get": {
          "parameters": {},
          "path": "about",
          "httpMethod": "GET",
          "description": "Gets information about the user, the user's Drive, and system capabilities. For more information, see [Return user info](https://developers.google.com/workspace/drive/api/guides/user-info). Required: The `fields` parameter must be set. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter).",
          "id": "drive.about.get",
          "flatPath": "about",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "About"
          }
        }
      }
    },
    "apps": {
      "methods": {
        "list": {
          "response": {
            "$ref": "AppList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.apps.readonly"
          ],
          "parameterOrder": [],
          "id": "drive.apps.list",
          "flatPath": "apps",
          "path": "apps",
          "httpMethod": "GET",
          "parameters": {
            "languageCode": {
              "type": "string",
              "description": "A language or locale code, as defined by BCP 47, with some extensions from Unicode's LDML format (http://www.unicode.org/reports/tr35/).",
              "location": "query"
            },
            "appFilterExtensions": {
              "description": "A comma-separated list of file extensions to limit returned results. All results within the given app query scope which can open any of the given file extensions are included in the response. If `appFilterMimeTypes` are provided as well, the result is a union of the two resulting app lists.",
              "location": "query",
              "type": "string",
              "default": ""
            },
            "appFilterMimeTypes": {
              "default": "",
              "type": "string",
              "description": "A comma-separated list of file extensions to limit returned results. All results within the given app query scope which can open any of the given MIME types will be included in the response. If `appFilterExtensions` are provided as well, the result is a union of the two resulting app lists.",
              "location": "query"
            }
          },
          "description": "Lists a user's installed apps. For more information, see [Return user info](https://developers.google.com/workspace/drive/api/guides/user-info)."
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "App"
          },
          "parameterOrder": [
            "appId"
          ],
          "flatPath": "apps/{appId}",
          "id": "drive.apps.get",
          "description": "Gets a specific app. For more information, see [Return user info](https://developers.google.com/workspace/drive/api/guides/user-info).",
          "parameters": {
            "appId": {
              "description": "The ID of the app.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "path": "apps/{appId}",
          "httpMethod": "GET"
        }
      }
    },
    "teamdrives": {
      "methods": {
        "create": {
          "parameterOrder": [
            "requestId"
          ],
          "response": {
            "$ref": "TeamDrive"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "path": "teamdrives",
          "httpMethod": "POST",
          "parameters": {
            "requestId": {
              "required": true,
              "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a Team Drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same Team Drive. If the Team Drive already exists a 409 error will be returned.",
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "TeamDrive"
          },
          "description": "Deprecated: Use `drives.create` instead.",
          "id": "drive.teamdrives.create",
          "flatPath": "teamdrives"
        },
        "get": {
          "parameterOrder": [
            "teamDriveId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "TeamDrive"
          },
          "parameters": {
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "teamDriveId": {
              "description": "The ID of the Team Drive",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "path": "teamdrives/{teamDriveId}",
          "httpMethod": "GET",
          "description": "Deprecated: Use `drives.get` instead.",
          "id": "drive.teamdrives.get",
          "flatPath": "teamdrives/{teamDriveId}"
        },
        "delete": {
          "flatPath": "teamdrives/{teamDriveId}",
          "id": "drive.teamdrives.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "description": "Deprecated: Use `drives.delete` instead.",
          "parameters": {
            "teamDriveId": {
              "description": "The ID of the Team Drive",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "path": "teamdrives/{teamDriveId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "teamDriveId"
          ]
        },
        "list": {
          "parameterOrder": [],
          "response": {
            "$ref": "TeamDriveList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "teamdrives",
          "httpMethod": "GET",
          "parameters": {
            "useDomainAdminAccess": {
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then all Team Drives of the domain in which the requester is an administrator are returned.",
              "location": "query",
              "default": "false"
            },
            "pageSize": {
              "description": "Maximum number of Team Drives to return.",
              "minimum": "1",
              "location": "query",
              "format": "int32",
              "type": "integer",
              "maximum": "100",
              "default": "10"
            },
            "pageToken": {
              "description": "Page token for Team Drives.",
              "location": "query",
              "type": "string"
            },
            "q": {
              "type": "string",
              "description": "Query string for searching Team Drives.",
              "location": "query"
            }
          },
          "description": "Deprecated: Use `drives.list` instead.",
          "id": "drive.teamdrives.list",
          "flatPath": "teamdrives"
        },
        "update": {
          "description": "Deprecated: Use `drives.update` instead.",
          "request": {
            "$ref": "TeamDrive"
          },
          "parameters": {
            "teamDriveId": {
              "type": "string",
              "description": "The ID of the Team Drive",
              "location": "path",
              "required": true
            },
            "useDomainAdminAccess": {
              "default": "false",
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs.",
              "location": "query"
            }
          },
          "path": "teamdrives/{teamDriveId}",
          "httpMethod": "PATCH",
          "flatPath": "teamdrives/{teamDriveId}",
          "id": "drive.teamdrives.update",
          "parameterOrder": [
            "teamDriveId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "response": {
            "$ref": "TeamDrive"
          }
        }
      }
    },
    "replies": {
      "methods": {
        "update": {
          "id": "drive.replies.update",
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "parameters": {
            "commentId": {
              "type": "string",
              "description": "The ID of the comment.",
              "location": "path",
              "required": true
            },
            "replyId": {
              "type": "string",
              "description": "The ID of the reply.",
              "location": "path",
              "required": true
            },
            "fileId": {
              "type": "string",
              "description": "The ID of the file.",
              "location": "path",
              "required": true
            }
          },
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "httpMethod": "PATCH",
          "description": "Updates a reply with patch semantics. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).",
          "request": {
            "$ref": "Reply"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "response": {
            "$ref": "Reply"
          },
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ]
        },
        "list": {
          "flatPath": "files/{fileId}/comments/{commentId}/replies",
          "id": "drive.replies.list",
          "description": "Lists a comment's replies. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).",
          "parameters": {
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "location": "path",
              "type": "string"
            },
            "includeDeleted": {
              "type": "boolean",
              "description": "Whether to include deleted replies. Deleted replies don't include their original content.",
              "location": "query",
              "default": "false"
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.",
              "location": "query",
              "type": "string"
            },
            "commentId": {
              "required": true,
              "type": "string",
              "description": "The ID of the comment.",
              "location": "path"
            },
            "pageSize": {
              "maximum": "100",
              "default": "20",
              "type": "integer",
              "description": "The maximum number of replies to return per page.",
              "minimum": "1",
              "location": "query",
              "format": "int32"
            }
          },
          "path": "files/{fileId}/comments/{commentId}/replies",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "ReplyList"
          },
          "parameterOrder": [
            "fileId",
            "commentId"
          ]
        },
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "response": {
            "$ref": "Reply"
          },
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}/replies",
          "id": "drive.replies.create",
          "description": "Creates a reply to a comment. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).",
          "request": {
            "$ref": "Reply"
          },
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "commentId": {
              "description": "The ID of the comment.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "path": "files/{fileId}/comments/{commentId}/replies",
          "httpMethod": "POST"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "Reply"
          },
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "id": "drive.replies.get",
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "parameters": {
            "fileId": {
              "required": true,
              "type": "string",
              "description": "The ID of the file.",
              "location": "path"
            },
            "includeDeleted": {
              "default": "false",
              "description": "Whether to return deleted replies. Deleted replies don't include their original content.",
              "location": "query",
              "type": "boolean"
            },
            "replyId": {
              "type": "string",
              "description": "The ID of the reply.",
              "location": "path",
              "required": true
            },
            "commentId": {
              "description": "The ID of the comment.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "httpMethod": "GET",
          "description": "Gets a reply by ID. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments)."
        },
        "delete": {
          "id": "drive.replies.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "parameters": {
            "replyId": {
              "type": "string",
              "description": "The ID of the reply.",
              "location": "path",
              "required": true
            },
            "fileId": {
              "required": true,
              "type": "string",
              "description": "The ID of the file.",
              "location": "path"
            },
            "commentId": {
              "description": "The ID of the comment.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "description": "Deletes a reply. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments)."
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "id": "drive.operations.get",
          "flatPath": "operations/{name}",
          "parameters": {
            "name": {
              "required": true,
              "description": "The name of the operation resource.",
              "location": "path",
              "type": "string"
            }
          },
          "path": "operations/{name}",
          "httpMethod": "GET",
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "name"
          ]
        }
      }
    },
    "channels": {
      "methods": {
        "stop": {
          "parameters": {},
          "path": "channels/stop",
          "httpMethod": "POST",
          "description": "Stops watching resources through this channel. For more information, see [Notifications for resource changes](https://developers.google.com/workspace/drive/api/guides/push).",
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "id": "drive.channels.stop",
          "flatPath": "channels/stop",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        }
      }
    },
    "files": {
      "methods": {
        "download": {
          "id": "drive.files.download",
          "flatPath": "files/{fileId}/download",
          "parameters": {
            "fileId": {
              "required": true,
              "type": "string",
              "description": "Required. The ID of the file to download.",
              "location": "path"
            },
            "mimeType": {
              "description": "Optional. The MIME type the file should be downloaded as. This field can only be set when downloading Google Workspace documents. For a list of supported MIME types, see [Export MIME types for Google Workspace documents](/workspace/drive/api/guides/ref-export-formats). If not set, a Google Workspace document is downloaded with a default MIME type. The default MIME type might change in the future.",
              "location": "query",
              "type": "string"
            },
            "revisionId": {
              "description": "Optional. The revision ID of the file to download. This field can only be set when downloading blob files, Google Docs, and Google Sheets. Returns `INVALID_ARGUMENT` if downloading a specific revision on the file is unsupported.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "files/{fileId}/download",
          "httpMethod": "POST",
          "description": "Downloads the content of a file. For more information, see [Download and export files](https://developers.google.com/workspace/drive/api/guides/manage-downloads). Operations are valid for 24 hours from the time of creation.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "fileId"
          ]
        },
        "modifyLabels": {
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "response": {
            "$ref": "ModifyLabelsResponse"
          },
          "description": "Modifies the set of labels applied to a file. For more information, see [Set a label field on a file](https://developers.google.com/workspace/drive/api/guides/set-label). Returns a list of the labels that were added or modified.",
          "request": {
            "$ref": "ModifyLabelsRequest"
          },
          "parameters": {
            "fileId": {
              "required": true,
              "description": "The ID of the file to which the labels belong.",
              "location": "path",
              "type": "string"
            }
          },
          "path": "files/{fileId}/modifyLabels",
          "httpMethod": "POST",
          "flatPath": "files/{fileId}/modifyLabels",
          "id": "drive.files.modifyLabels"
        },
        "delete": {
          "flatPath": "files/{fileId}",
          "id": "drive.files.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "description": "Permanently deletes a file owned by the user without moving it to the trash. For more information, see [Trash or delete files and folders](https://developers.google.com/workspace/drive/api/guides/delete). If the file belongs to a shared drive, the user must be an `organizer` on the parent folder. If the target is a folder, all descendants owned by the user are also deleted.",
          "path": "files/{fileId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "supportsTeamDrives": {
              "default": "false",
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query"
            },
            "enforceSingleParent": {
              "default": "false",
              "deprecated": true,
              "description": "Deprecated: If an item isn't in a shared drive and its last parent is deleted but the item itself isn't, the item will be placed under its owner's root.",
              "location": "query",
              "type": "boolean"
            },
            "supportsAllDrives": {
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "default": "false"
            }
          }
        },
        "watch": {
          "response": {
            "$ref": "Channel"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "fileId"
          ],
          "id": "drive.files.watch",
          "flatPath": "files/{fileId}/watch",
          "path": "files/{fileId}/watch",
          "httpMethod": "POST",
          "parameters": {
            "includePermissionsForView": {
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query"
            },
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "location": "path",
              "type": "string"
            },
            "supportsAllDrives": {
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean"
            },
            "includeLabels": {
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query"
            },
            "acknowledgeAbuse": {
              "type": "boolean",
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.",
              "location": "query",
              "default": "false"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "type": "boolean",
              "default": "false",
              "deprecated": true
            }
          },
          "supportsSubscription": true,
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "description": "Subscribes to changes to a file. For more information, see [Notifications for resource changes](https://developers.google.com/workspace/drive/api/guides/push)."
        },
        "list": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "FileList"
          },
          "description": " Lists the user's files. For more information, see [Search for files and folders](https://developers.google.com/workspace/drive/api/guides/search-files). This method accepts the `q` parameter, which is a search query combining one or more search terms. This method returns *all* files by default, including trashed files. If you don't want trashed files to appear in the list, use the `trashed=false` query parameter to remove trashed files from the results.",
          "parameters": {
            "pageSize": {
              "maximum": "1000",
              "default": "100",
              "description": "The maximum number of files to return per page. Pages may be partial or empty even before reaching the end of the file list. If unspecified, at most 100 files are returned for shared drives, and the entire list of files for non-shared drives. The maximum value is 100; values above 100 are changed to 100.",
              "minimum": "1",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "supportsTeamDrives": {
              "default": "false",
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query"
            },
            "includeTeamDriveItems": {
              "default": "false",
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "location": "query"
            },
            "supportsAllDrives": {
              "default": "false",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            },
            "driveId": {
              "description": "ID of the shared drive to search.",
              "location": "query",
              "type": "string"
            },
            "orderBy": {
              "type": "string",
              "description": "A comma-separated list of sort keys. Valid keys are: * `createdTime`: When the file was created. Avoid using this key for queries on large item collections as it might result in timeouts or other issues. For time-related sorting on large item collections, use `modifiedTime desc` instead. * `folder`: The folder ID. This field is sorted using alphabetical ordering. * `modifiedByMeTime`: The last time the file was modified by the user. * `modifiedTime`: The last time the file was modified by anyone. * `name`: The name of the file. This field is sorted using alphabetical ordering, so 1, 12, 2, 22. * `name_natural`: The name of the file. This field is sorted using natural sort ordering, so 1, 2, 12, 22. * `quotaBytesUsed`: The number of storage quota bytes used by the file. * `recency`: The most recent timestamp from the file's date-time fields. * `sharedWithMeTime`: When the file was shared with the user, if applicable. * `starred`: Whether the user has starred the file. * `viewedByMeTime`: The last time the file was viewed by the user. Each key sorts ascending by default, but can be reversed with the `desc` modifier. Example usage: `?orderBy=folder,modifiedTime desc,name`.",
              "location": "query"
            },
            "corpora": {
              "description": "Specifies a collection of items (files or documents) to which the query applies. Supported items include: * `user` * `domain` * `drive` * `allDrives` Prefer `user` or `drive` to `allDrives` for efficiency. By default, corpora is set to `user`. However, this can change depending on the filter set through the `q` parameter. For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization).",
              "location": "query",
              "type": "string"
            },
            "corpus": {
              "type": "string",
              "description": "Deprecated: The source of files to list. Use `corpora` instead.",
              "location": "query",
              "enumDescriptions": [
                "Files shared to the user's domain.",
                "Files owned by or shared to the user."
              ],
              "deprecated": true,
              "enum": [
                "domain",
                "user"
              ]
            },
            "includeItemsFromAllDrives": {
              "type": "boolean",
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "location": "query",
              "default": "false"
            },
            "teamDriveId": {
              "description": "Deprecated: Use `driveId` instead.",
              "location": "query",
              "type": "string",
              "deprecated": true
            },
            "spaces": {
              "default": "drive",
              "type": "string",
              "description": "A comma-separated list of spaces to query within the corpora. Supported values are `drive` and `appDataFolder`. For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization).",
              "location": "query"
            },
            "includePermissionsForView": {
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.",
              "location": "query"
            },
            "q": {
              "type": "string",
              "description": "A query for filtering the file results. For supported syntax, see [Search for files and folders](/workspace/drive/api/guides/search-files).",
              "location": "query"
            }
          },
          "path": "files",
          "httpMethod": "GET",
          "flatPath": "files",
          "id": "drive.files.list"
        },
        "get": {
          "path": "files/{fileId}",
          "httpMethod": "GET",
          "parameters": {
            "acknowledgeAbuse": {
              "type": "boolean",
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.",
              "location": "query",
              "default": "false"
            },
            "supportsTeamDrives": {
              "default": "false",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "type": "boolean"
            },
            "supportsAllDrives": {
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean"
            },
            "includeLabels": {
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query"
            },
            "includePermissionsForView": {
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query"
            },
            "fileId": {
              "required": true,
              "type": "string",
              "description": "The ID of the file.",
              "location": "path"
            }
          },
          "supportsSubscription": true,
          "supportsMediaDownload": true,
          "useMediaDownloadService": true,
          "description": " Gets a file's metadata or content by ID. For more information, see [Search for files and folders](https://developers.google.com/workspace/drive/api/guides/search-files). If you provide the URL parameter `alt=media`, then the response includes the file contents in the response body. Downloading content with `alt=media` only works if the file is stored in Drive. To download Google Docs, Sheets, and Slides use [`files.export`](https://developers.google.com/workspace/drive/api/reference/rest/v3/files/export) instead. For more information, see [Download and export files](https://developers.google.com/workspace/drive/api/guides/manage-downloads).",
          "id": "drive.files.get",
          "flatPath": "files/{fileId}",
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "File"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "listLabels": {
          "response": {
            "$ref": "LabelList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "fileId"
          ],
          "id": "drive.files.listLabels",
          "flatPath": "files/{fileId}/listLabels",
          "path": "files/{fileId}/listLabels",
          "httpMethod": "GET",
          "parameters": {
            "fileId": {
              "description": "The ID for the file.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "maximum": "100",
              "default": "100",
              "type": "integer",
              "description": "The maximum number of labels to return per page. When not set, defaults to 100.",
              "minimum": "1",
              "location": "query",
              "format": "int32"
            }
          },
          "description": "Lists the labels on a file. For more information, see [List labels on a file](https://developers.google.com/workspace/drive/api/guides/list-labels)."
        },
        "export": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "fileId",
            "mimeType"
          ],
          "id": "drive.files.export",
          "flatPath": "files/{fileId}/export",
          "path": "files/{fileId}/export",
          "httpMethod": "GET",
          "parameters": {
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "location": "path",
              "type": "string"
            },
            "mimeType": {
              "required": true,
              "description": "Required. The MIME type of the format requested for this export. For a list of supported MIME types, see [Export MIME types for Google Workspace documents](/workspace/drive/api/guides/ref-export-formats).",
              "location": "query",
              "type": "string"
            }
          },
          "supportsMediaDownload": true,
          "useMediaDownloadService": true,
          "description": "Exports a Google Workspace document to the requested MIME type and returns exported byte content. For more information, see [Download and export files](https://developers.google.com/workspace/drive/api/guides/manage-downloads). Note that the exported content is limited to 10 MB."
        },
        "create": {
          "flatPath": "files",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "maxSize": "5497558138880",
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/drive/v3/files"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/drive/v3/files"
              }
            }
          },
          "id": "drive.files.create",
          "request": {
            "$ref": "File"
          },
          "supportsMediaUpload": true,
          "description": " Creates a file. For more information, see [Create and manage files](https://developers.google.com/workspace/drive/api/guides/create-file). This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:* `*/*` (Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information, see [Google Workspace and Google Drive supported MIME types](https://developers.google.com/workspace/drive/api/guides/mime-types).) For more information on uploading files, see [Upload file data](https://developers.google.com/workspace/drive/api/guides/manage-uploads). Apps creating shortcuts with the `create` method must specify the MIME type `application/vnd.google-apps.shortcut`. Apps should specify a file extension in the `name` property when inserting files with the API. For example, an operation to insert a JPEG file should specify something like `\"name\": \"cat.jpg\"` in the metadata. Subsequent `GET` requests include the read-only `fileExtension` property populated with the extension originally specified in the `name` property. When a Google Drive user requests to download a file, or when the file is downloaded through the sync client, Drive builds a full filename (with extension) based on the name. In cases where the extension is missing, Drive attempts to determine the extension based on the file's MIME type.",
          "path": "files",
          "httpMethod": "POST",
          "parameters": {
            "keepRevisionForever": {
              "description": "Whether to set the `keepForever` field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "ignoreDefaultVisibility": {
              "description": "Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "includePermissionsForView": {
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query"
            },
            "supportsAllDrives": {
              "default": "false",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            },
            "ocrLanguage": {
              "description": "A language hint for OCR processing during image import (ISO 639-1 code).",
              "location": "query",
              "type": "string"
            },
            "enforceSingleParent": {
              "default": "false",
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Creating files in multiple folders is no longer supported.",
              "location": "query"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "default": "false",
              "deprecated": true
            },
            "useContentAsIndexableText": {
              "type": "boolean",
              "description": "Whether to use the uploaded content as indexable text.",
              "location": "query",
              "default": "false"
            }
          },
          "response": {
            "$ref": "File"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": []
        },
        "emptyTrash": {
          "path": "files/trash",
          "httpMethod": "DELETE",
          "parameterOrder": [],
          "parameters": {
            "enforceSingleParent": {
              "default": "false",
              "deprecated": true,
              "description": "Deprecated: If an item isn't in a shared drive and its last parent is deleted but the item itself isn't, the item will be placed under its owner's root.",
              "location": "query",
              "type": "boolean"
            },
            "driveId": {
              "description": "If set, empties the trash of the provided shared drive.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Permanently deletes all of the user's trashed files. For more information, see [Trash or delete files and folders](https://developers.google.com/workspace/drive/api/guides/delete).",
          "id": "drive.files.emptyTrash",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "flatPath": "files/trash"
        },
        "copy": {
          "id": "drive.files.copy",
          "flatPath": "files/{fileId}/copy",
          "parameters": {
            "keepRevisionForever": {
              "default": "false",
              "type": "boolean",
              "description": "Whether to set the `keepForever` field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions.",
              "location": "query"
            },
            "includePermissionsForView": {
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query"
            },
            "ignoreDefaultVisibility": {
              "default": "false",
              "description": "Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders.",
              "location": "query",
              "type": "boolean"
            },
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "location": "path",
              "type": "string"
            },
            "ocrLanguage": {
              "description": "A language hint for OCR processing during image import (ISO 639-1 code).",
              "location": "query",
              "type": "string"
            },
            "supportsAllDrives": {
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean"
            },
            "includeLabels": {
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query"
            },
            "enforceSingleParent": {
              "default": "false",
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Copying files into multiple folders is no longer supported. Use shortcuts instead.",
              "location": "query"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "type": "boolean",
              "default": "false",
              "deprecated": true
            }
          },
          "path": "files/{fileId}/copy",
          "httpMethod": "POST",
          "description": "Creates a copy of a file and applies any requested updates with patch semantics. For more information, see [Create and manage files](https://developers.google.com/workspace/drive/api/guides/create-file).",
          "request": {
            "$ref": "File"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.photos.readonly"
          ],
          "response": {
            "$ref": "File"
          },
          "parameterOrder": [
            "fileId"
          ]
        },
        "generateIds": {
          "response": {
            "$ref": "GeneratedIds"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [],
          "id": "drive.files.generateIds",
          "flatPath": "files/generateIds",
          "path": "files/generateIds",
          "httpMethod": "GET",
          "parameters": {
            "space": {
              "type": "string",
              "description": "The space in which the IDs can be used to create files. Supported values are `drive` and `appDataFolder`. (Default: `drive`.) For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization).",
              "location": "query",
              "default": "drive"
            },
            "type": {
              "default": "files",
              "type": "string",
              "description": "The type of items which the IDs can be used for. Supported values are `files` and `shortcuts`. Note that `shortcuts` are only supported in the `drive` `space`. (Default: `files`.) For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization).",
              "location": "query"
            },
            "count": {
              "type": "integer",
              "description": "The number of IDs to return.",
              "minimum": "1",
              "location": "query",
              "format": "int32",
              "default": "10",
              "maximum": "1000"
            }
          },
          "description": "Generates a set of file IDs which can be provided in create or copy requests. For more information, see [Create and manage files](https://developers.google.com/workspace/drive/api/guides/create-file)."
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.scripts"
          ],
          "response": {
            "$ref": "File"
          },
          "parameterOrder": [
            "fileId"
          ],
          "id": "drive.files.update",
          "mediaUpload": {
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/drive/v3/files/{fileId}",
                "multipart": true
              },
              "simple": {
                "multipart": true,
                "path": "/upload/drive/v3/files/{fileId}"
              }
            },
            "accept": [
              "*/*"
            ],
            "maxSize": "5497558138880"
          },
          "flatPath": "files/{fileId}",
          "parameters": {
            "enforceSingleParent": {
              "type": "boolean",
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use shortcuts instead.",
              "location": "query",
              "default": "false",
              "deprecated": true
            },
            "supportsTeamDrives": {
              "default": "false",
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query"
            },
            "addParents": {
              "description": "A comma-separated list of parent IDs to add.",
              "location": "query",
              "type": "string"
            },
            "supportsAllDrives": {
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "default": "false"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            },
            "ocrLanguage": {
              "description": "A language hint for OCR processing during image import (ISO 639-1 code).",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "type": "string",
              "description": "The ID of the file.",
              "location": "path",
              "required": true
            },
            "removeParents": {
              "type": "string",
              "description": "A comma-separated list of parent IDs to remove.",
              "location": "query"
            },
            "useContentAsIndexableText": {
              "default": "false",
              "description": "Whether to use the uploaded content as indexable text.",
              "location": "query",
              "type": "boolean"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "keepRevisionForever": {
              "default": "false",
              "type": "boolean",
              "description": "Whether to set the `keepForever` field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions.",
              "location": "query"
            }
          },
          "path": "files/{fileId}",
          "httpMethod": "PATCH",
          "supportsMediaUpload": true,
          "description": " Updates a file's metadata, content, or both. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might be changed automatically, such as `modifiedDate`. This method supports patch semantics. This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:* `*/*` (Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information, see [Google Workspace and Google Drive supported MIME types](https://developers.google.com/workspace/drive/api/guides/mime-types).) For more information on uploading files, see [Upload file data](https://developers.google.com/workspace/drive/api/guides/manage-uploads).",
          "request": {
            "$ref": "File"
          }
        },
        "generateCseToken": {
          "description": "Generates a CSE token which can be used to create or update CSE files.",
          "path": "files/generateCseToken",
          "httpMethod": "GET",
          "parameters": {
            "fileId": {
              "type": "string",
              "description": "The ID of the file for which the JWT should be generated. If not provided, an id will be generated.",
              "location": "query"
            },
            "parent": {
              "description": "The ID of the expected parent of the file. Used when generating a JWT for a new CSE file. If specified, the parent will be fetched, and if the parent is a shared drive item, the shared drive's policy will be used to determine the KACLS that should be used. It is invalid to specify both file_id and parent in a single request.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "files/generateCseToken",
          "id": "drive.files.generateCseToken",
          "parameterOrder": [],
          "response": {
            "$ref": "GenerateCseTokenResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        }
      }
    },
    "permissions": {
      "methods": {
        "list": {
          "flatPath": "files/{fileId}/permissions",
          "id": "drive.permissions.list",
          "description": "Lists a file's or shared drive's permissions. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing).",
          "parameters": {
            "useDomainAdminAccess": {
              "type": "boolean",
              "description": "Issue the request as a domain administrator. If set to `true`, and if the following additional conditions are met, the requester is granted access: 1. The file ID parameter refers to a shared drive. 2. The requester is an administrator of the domain to which the shared drive belongs. For more information, see [Manage shared drives as domain administrators](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives#manage-administrators).",
              "location": "query",
              "default": "false"
            },
            "fileId": {
              "description": "The ID of the file or shared drive.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.",
              "location": "query",
              "type": "string"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "supportsAllDrives": {
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean"
            },
            "pageSize": {
              "type": "integer",
              "description": "The maximum number of permissions to return per page. When not set for files in a shared drive, at most 100 results will be returned. When not set for files that are not in a shared drive, the entire list will be returned.",
              "minimum": "1",
              "location": "query",
              "format": "int32",
              "maximum": "100"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "type": "boolean",
              "default": "false",
              "deprecated": true
            }
          },
          "path": "files/{fileId}/permissions",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "PermissionList"
          },
          "parameterOrder": [
            "fileId"
          ]
        },
        "update": {
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "response": {
            "$ref": "Permission"
          },
          "parameters": {
            "permissionId": {
              "type": "string",
              "description": "The ID of the permission.",
              "location": "path",
              "required": true
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "default": "false",
              "deprecated": true
            },
            "transferOwnership": {
              "type": "boolean",
              "description": "Whether to transfer ownership to the specified user and downgrade the current owner to a writer. This parameter is required as an acknowledgement of the side effect. For more information, see [Transfer file ownership](https://developers.google.com//workspace/drive/api/guides/transfer-file).",
              "location": "query",
              "default": "false"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "fileId": {
              "description": "The ID of the file or shared drive.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "enforceExpansiveAccess": {
              "type": "boolean",
              "description": "Deprecated: All requests use the expansive access rules.",
              "location": "query",
              "default": "false",
              "deprecated": true
            },
            "useDomainAdminAccess": {
              "type": "boolean",
              "description": "Issue the request as a domain administrator. If set to `true`, and if the following additional conditions are met, the requester is granted access: 1. The file ID parameter refers to a shared drive. 2. The requester is an administrator of the domain to which the shared drive belongs. For more information, see [Manage shared drives as domain administrators](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives#manage-administrators).",
              "location": "query",
              "default": "false"
            },
            "removeExpiration": {
              "default": "false",
              "description": "Whether to remove the expiration date.",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "files/{fileId}/permissions/{permissionId}",
          "httpMethod": "PATCH",
          "description": "Updates a permission with patch semantics. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing). **Warning:** Concurrent permissions operations on the same file aren't supported; only the last update is applied.",
          "request": {
            "$ref": "Permission"
          },
          "id": "drive.permissions.update",
          "flatPath": "files/{fileId}/permissions/{permissionId}"
        },
        "delete": {
          "description": "Deletes a permission. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing). **Warning:** Concurrent permissions operations on the same file aren't supported; only the last update is applied.",
          "path": "files/{fileId}/permissions/{permissionId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "parameters": {
            "fileId": {
              "description": "The ID of the file or shared drive.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "enforceExpansiveAccess": {
              "description": "Deprecated: All requests use the expansive access rules.",
              "location": "query",
              "type": "boolean",
              "default": "false",
              "deprecated": true
            },
            "useDomainAdminAccess": {
              "default": "false",
              "description": "Issue the request as a domain administrator. If set to `true`, and if the following additional conditions are met, the requester is granted access: 1. The file ID parameter refers to a shared drive. 2. The requester is an administrator of the domain to which the shared drive belongs. For more information, see [Manage shared drives as domain administrators](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives#manage-administrators).",
              "location": "query",
              "type": "boolean"
            },
            "permissionId": {
              "required": true,
              "description": "The ID of the permission.",
              "location": "path",
              "type": "string"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "default": "false",
              "deprecated": true
            },
            "supportsAllDrives": {
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "default": "false"
            }
          },
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "id": "drive.permissions.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "create": {
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "response": {
            "$ref": "Permission"
          },
          "description": "Creates a permission for a file or shared drive. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing). **Warning:** Concurrent permissions operations on the same file aren't supported; only the last update is applied.",
          "request": {
            "$ref": "Permission"
          },
          "parameters": {
            "enforceSingleParent": {
              "description": "Deprecated: See `moveToNewOwnersRoot` for details.",
              "location": "query",
              "type": "boolean",
              "default": "false",
              "deprecated": true
            },
            "supportsTeamDrives": {
              "default": "false",
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query"
            },
            "transferOwnership": {
              "description": "Whether to transfer ownership to the specified user and downgrade the current owner to a writer. This parameter is required as an acknowledgement of the side effect. For more information, see [Transfer file ownership](https://developers.google.com/workspace/drive/api/guides/transfer-file).",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "supportsAllDrives": {
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "default": "false"
            },
            "fileId": {
              "description": "The ID of the file or shared drive.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "moveToNewOwnersRoot": {
              "description": "This parameter only takes effect if the item isn't in a shared drive and the request is attempting to transfer the ownership of the item. If set to `true`, the item is moved to the new owner's My Drive root folder and all prior parents removed. If set to `false`, parents aren't changed.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "sendNotificationEmail": {
              "description": "Whether to send a notification email when sharing to users or groups. This defaults to `true` for users and groups, and is not allowed for other requests. It must not be disabled for ownership transfers.",
              "location": "query",
              "type": "boolean"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "description": "Issue the request as a domain administrator. If set to `true`, and if the following additional conditions are met, the requester is granted access: 1. The file ID parameter refers to a shared drive. 2. The requester is an administrator of the domain to which the shared drive belongs. For more information, see [Manage shared drives as domain administrators](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives#manage-administrators).",
              "location": "query",
              "type": "boolean"
            },
            "emailMessage": {
              "description": "A plain text custom message to include in the notification email.",
              "location": "query",
              "type": "string"
            },
            "enforceExpansiveAccess": {
              "type": "boolean",
              "description": "Deprecated: All requests use the expansive access rules.",
              "location": "query",
              "default": "false",
              "deprecated": true
            }
          },
          "path": "files/{fileId}/permissions",
          "httpMethod": "POST",
          "flatPath": "files/{fileId}/permissions",
          "id": "drive.permissions.create"
        },
        "get": {
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "Permission"
          },
          "parameters": {
            "supportsAllDrives": {
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean"
            },
            "permissionId": {
              "required": true,
              "type": "string",
              "description": "The ID of the permission.",
              "location": "path"
            },
            "supportsTeamDrives": {
              "default": "false",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "type": "boolean"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "type": "boolean",
              "description": "Issue the request as a domain administrator. If set to `true`, and if the following additional conditions are met, the requester is granted access: 1. The file ID parameter refers to a shared drive. 2. The requester is an administrator of the domain to which the shared drive belongs. For more information, see [Manage shared drives as domain administrators](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives#manage-administrators).",
              "location": "query"
            },
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "path": "files/{fileId}/permissions/{permissionId}",
          "httpMethod": "GET",
          "description": "Gets a permission by ID. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing).",
          "id": "drive.permissions.get",
          "flatPath": "files/{fileId}/permissions/{permissionId}"
        }
      }
    },
    "revisions": {
      "methods": {
        "delete": {
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "id": "drive.revisions.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "description": "Permanently deletes a file version. You can only delete revisions for files with binary content in Google Drive, like images or videos. Revisions for other files, like Google Docs or Sheets, and the last remaining file version can't be deleted. For more information, see [Manage file revisions](https://developers.google.com/drive/api/guides/manage-revisions).",
          "path": "files/{fileId}/revisions/{revisionId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "parameters": {
            "fileId": {
              "required": true,
              "type": "string",
              "description": "The ID of the file.",
              "location": "path"
            },
            "revisionId": {
              "type": "string",
              "description": "The ID of the revision.",
              "location": "path",
              "required": true
            }
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "RevisionList"
          },
          "parameterOrder": [
            "fileId"
          ],
          "flatPath": "files/{fileId}/revisions",
          "id": "drive.revisions.list",
          "description": "Lists a file's revisions. For more information, see [Manage file revisions](https://developers.google.com/workspace/drive/api/guides/manage-revisions). **Important:** The list of revisions returned by this method might be incomplete for files with a large revision history, including frequently edited Google Docs, Sheets, and Slides. Older revisions might be omitted from the response, meaning the first revision returned may not be the oldest existing revision. The revision history visible in the Workspace editor user interface might be more complete than the list returned by the API.",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "pageSize": {
              "default": "200",
              "maximum": "1000",
              "description": "The maximum number of revisions to return per page.",
              "minimum": "1",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "files/{fileId}/revisions",
          "httpMethod": "GET"
        },
        "get": {
          "id": "drive.revisions.get",
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "path": "files/{fileId}/revisions/{revisionId}",
          "httpMethod": "GET",
          "parameters": {
            "revisionId": {
              "required": true,
              "description": "The ID of the revision.",
              "location": "path",
              "type": "string"
            },
            "fileId": {
              "type": "string",
              "description": "The ID of the file.",
              "location": "path",
              "required": true
            },
            "acknowledgeAbuse": {
              "default": "false",
              "type": "boolean",
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.",
              "location": "query"
            }
          },
          "supportsMediaDownload": true,
          "useMediaDownloadService": true,
          "description": "Gets a revision's metadata or content by ID. For more information, see [Manage file revisions](https://developers.google.com/workspace/drive/api/guides/manage-revisions).",
          "response": {
            "$ref": "Revision"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "fileId",
            "revisionId"
          ]
        },
        "update": {
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "response": {
            "$ref": "Revision"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "request": {
            "$ref": "Revision"
          },
          "description": "Updates a revision with patch semantics. For more information, see [Manage file revisions](https://developers.google.com/workspace/drive/api/guides/manage-revisions).",
          "path": "files/{fileId}/revisions/{revisionId}",
          "httpMethod": "PATCH",
          "parameters": {
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "location": "path",
              "type": "string"
            },
            "revisionId": {
              "required": true,
              "description": "The ID of the revision.",
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "id": "drive.revisions.update"
        }
      }
    },
    "changes": {
      "methods": {
        "watch": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "Channel"
          },
          "parameterOrder": [
            "pageToken"
          ],
          "flatPath": "changes/watch",
          "id": "drive.changes.watch",
          "description": "Subscribes to changes for a user. For more information, see [Notifications for resource changes](https://developers.google.com/workspace/drive/api/guides/push).",
          "supportsSubscription": true,
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "parameters": {
            "includeItemsFromAllDrives": {
              "default": "false",
              "type": "boolean",
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "location": "query"
            },
            "restrictToMyDrive": {
              "default": "false",
[...]
