{
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "version": "v2",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/workspace/drive/labels",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.admin.labels.readonly": {
          "description": "See all Google Drive labels and label-related admin policies in your organization"
        },
        "https://www.googleapis.com/auth/drive.admin.labels": {
          "description": "See, edit, create, and delete all Google Drive labels in your organization, and see your organization's label-related admin policies"
        },
        "https://www.googleapis.com/auth/drive.labels": {
          "description": "See, edit, create, and delete your Google Drive labels"
        },
        "https://www.googleapis.com/auth/drive.labels.readonly": {
          "description": "See your Google Drive labels"
        }
      }
    }
  },
  "rootUrl": "https://drivelabels.googleapis.com/",
  "version_module": true,
  "description": "An API for managing Drive Labels",
  "discoveryVersion": "v1",
  "baseUrl": "https://drivelabels.googleapis.com/",
  "revision": "20260823",
  "schemas": {
    "GoogleAppsDriveLabelsV2PublishLabelRequest": {
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used."
        },
        "writeControl": {
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins.",
          "$ref": "GoogleAppsDriveLabelsV2WriteControl"
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Request to publish a label.",
      "id": "GoogleAppsDriveLabelsV2PublishLabelRequest"
    },
    "GoogleAppsDriveLabelsV2FieldAppliedCapabilities": {
      "description": "The capabilities related to this field on applied metadata.",
      "properties": {
        "canWrite": {
          "type": "boolean",
          "description": "Whether the user can set this field on Drive items."
        },
        "canSearch": {
          "description": "Whether the user can search for Drive items referencing this field.",
          "type": "boolean"
        },
        "canRead": {
          "description": "Whether the user can read related applied metadata on items.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2FieldAppliedCapabilities",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2UserLimits": {
      "type": "object",
      "properties": {
        "listLimits": {
          "$ref": "GoogleAppsDriveLabelsV2ListLimits",
          "description": "Limits for list-variant of a field type."
        }
      },
      "description": "Limits for Field.Type.USER.",
      "id": "GoogleAppsDriveLabelsV2UserLimits"
    },
    "GoogleAppsDriveLabelsV2FieldLimits": {
      "id": "GoogleAppsDriveLabelsV2FieldLimits",
      "properties": {
        "maxDisplayNameLength": {
          "description": "Limits for field title.",
          "format": "int32",
          "type": "integer"
        },
        "maxDescriptionLength": {
          "description": "Limits for field description, also called help text.",
          "format": "int32",
          "type": "integer"
        },
        "textLimits": {
          "description": "The relevant limits for the specified Field.Type. Text field limits.",
          "$ref": "GoogleAppsDriveLabelsV2TextLimits"
        },
        "selectionLimits": {
          "$ref": "GoogleAppsDriveLabelsV2SelectionLimits",
          "description": "Selection field limits."
        },
        "maxIdLength": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum length for the id."
        },
        "longTextLimits": {
          "$ref": "GoogleAppsDriveLabelsV2LongTextLimits",
          "description": "Long text field limits."
        },
        "userLimits": {
          "description": "User field limits.",
          "$ref": "GoogleAppsDriveLabelsV2UserLimits"
        },
        "integerLimits": {
          "description": "Integer field limits.",
          "$ref": "GoogleAppsDriveLabelsV2IntegerLimits"
        },
        "dateLimits": {
          "$ref": "GoogleAppsDriveLabelsV2DateLimits",
          "description": "Date field limits."
        }
      },
      "type": "object",
      "description": "Field constants governing the structure of a field; such as, the maximum title length, minimum and maximum field values or length, etc."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableSelectionChoiceResponse": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableSelectionChoiceResponse",
      "properties": {},
      "description": "Response following choice disable.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldUserOptions": {
      "type": "object",
      "properties": {
        "listOptions": {
          "description": "When specified, indicates that this field supports a list of values. Once the field is published, this cannot be changed.",
          "$ref": "GoogleAppsDriveLabelsV2FieldListOptions"
        }
      },
      "description": "Options for the user field type.",
      "id": "GoogleAppsDriveLabelsV2FieldUserOptions"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateFieldResponse": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateFieldResponse",
      "type": "object",
      "properties": {
        "priority": {
          "description": "The priority of the created field. The priority may change from what was specified to assure contiguous priorities between fields (1-n).",
          "format": "int32",
          "type": "integer"
        },
        "id": {
          "type": "string",
          "description": "The field of the created field. When left blank in a create request, a key will be autogenerated and can be identified here."
        }
      },
      "description": "Response following field create."
    },
    "GoogleAppsDriveLabelsV2LabelLockCapabilities": {
      "properties": {
        "canViewPolicy": {
          "description": "True if the user is authorized to view the policy.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2LabelLockCapabilities",
      "description": "A description of a user's capabilities on a label lock.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2SelectionLimits": {
      "id": "GoogleAppsDriveLabelsV2SelectionLimits",
      "description": "Limits for selection field type.",
      "type": "object",
      "properties": {
        "maxChoices": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of choices."
        },
        "maxDeletedChoices": {
          "description": "Maximum number of deleted choices.",
          "format": "int32",
          "type": "integer"
        },
        "maxDisplayNameLength": {
          "format": "int32",
          "description": "Maximum length for display name.",
          "type": "integer"
        },
        "listLimits": {
          "$ref": "GoogleAppsDriveLabelsV2ListLimits",
          "description": "Limits for list-variant of a field type."
        },
        "maxIdLength": {
          "description": "Maximum ID length for a selection option.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2UpdateLabelPermissionRequest": {
      "id": "GoogleAppsDriveLabelsV2UpdateLabelPermissionRequest",
      "description": "Updates a label permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The parent label resource name."
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "labelPermission": {
          "$ref": "GoogleAppsDriveLabelsV2LabelPermission",
          "description": "Required. The permission to create or update on the label."
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteFieldRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteFieldRequest",
      "description": "Request to delete the field.",
      "properties": {
        "id": {
          "description": "Required. ID of the field to delete.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableFieldRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableFieldRequest",
      "type": "object",
      "description": "Request to enable the field.",
      "properties": {
        "id": {
          "description": "Required. ID of the field to enable.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceSchemaCapabilities": {
      "properties": {
        "canEnable": {
          "description": "Whether the user can enable this choice.",
          "type": "boolean"
        },
        "canDelete": {
          "description": "Whether the user can delete this choice.",
          "type": "boolean"
        },
        "canDisable": {
          "type": "boolean",
          "description": "Whether the user can disable this choice."
        },
        "canUpdate": {
          "description": "Whether the user can update this choice.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceSchemaCapabilities",
      "description": "The capabilities related to this choice when editing the choice.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2ListLabelPermissionsResponse": {
      "description": "Response for listing the permissions on a label.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2ListLabelPermissionsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token of the next page in the response."
        },
        "labelPermissions": {
          "description": "Label permissions.",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
          },
          "type": "array"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseResponse": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseResponse",
      "type": "object",
      "description": "A single response from an update.",
      "properties": {
        "deleteSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteSelectionChoiceResponse",
          "description": "Deletes a choice from a selection field."
        },
        "updateField": {
          "description": "Updates basic properties of a field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldPropertiesResponse"
        },
        "enableField": {
          "description": "Enables field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableFieldResponse"
        },
        "updateLabel": {
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateLabelPropertiesResponse",
          "description": "Updates basic properties of a label."
        },
        "createSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateSelectionChoiceResponse",
          "description": "Creates a selection list option to add to a selection field."
        },
        "updateFieldType": {
          "description": "Updates field type and/or type options.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldTypeResponse"
        },
        "disableField": {
          "description": "Disables field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableFieldResponse"
        },
        "disableSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableSelectionChoiceResponse",
          "description": "Disables a choice within a selection field."
        },
        "createField": {
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateFieldResponse",
          "description": "Creates a field."
        },
        "updateSelectionChoiceProperties": {
          "description": "Updates a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse"
        },
        "enableSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableSelectionChoiceResponse",
          "description": "Enables a choice within a selection field."
        },
        "deleteField": {
          "description": "Deletes a field from the label.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteFieldResponse"
        }
      }
    },
    "GoogleAppsDriveLabelsV2BadgeConfig": {
      "description": "Badge status of the label.",
      "properties": {
        "priorityOverride": {
          "type": "string",
          "format": "int64",
          "description": "Override the default global priority of this badge. When set to 0, the default priority heuristic is used."
        },
        "color": {
          "description": "The color of the badge. When not specified, no badge is rendered. The background, foreground, and solo (light and dark mode) colors set here are changed in the Drive UI into the closest recommended supported color.",
          "$ref": "GoogleTypeColor"
        }
      },
      "id": "GoogleAppsDriveLabelsV2BadgeConfig",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptions": {
      "type": "object",
      "properties": {
        "listOptions": {
          "description": "When specified, indicates this field supports a list of values. Once the field is published, this cannot be changed.",
          "$ref": "GoogleAppsDriveLabelsV2FieldListOptions"
        },
        "choices": {
          "description": "The options available for this selection field. The list order is consistent, and modified with `insert_before_choice`.",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoice"
          },
          "type": "array"
        }
      },
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptions",
      "description": "Options for the selection field type."
    },
    "GoogleAppsDriveLabelsV2LabelLock": {
      "description": "A lock that can be applied to a label, field, or choice.",
      "id": "GoogleAppsDriveLabelsV2LabelLock",
      "type": "object",
      "properties": {
        "choiceId": {
          "description": "The ID of the selection field choice that should be locked. If present, `field_id` must also be present.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of this label lock.",
          "readOnly": true
        },
        "fieldId": {
          "description": "The ID of the field that should be locked. Empty if the whole label should be locked.",
          "type": "string"
        },
        "capabilities": {
          "description": "Output only. The user's capabilities on this label lock.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2LabelLockCapabilities"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unknown state.",
            "The label lock is active and is being enforced by the server.",
            "The label lock is being deleted. The label lock will continue to be enforced by the server until it has been fully removed."
          ],
          "readOnly": true,
          "description": "Output only. This label lock's state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETING"
          ]
        },
        "deleteTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. A timestamp indicating when this label lock was scheduled for deletion. Present only if this label lock is in the `DELETING` state."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time this label lock was created.",
          "format": "google-datetime"
        },
        "creator": {
          "readOnly": true,
          "description": "Output only. The user whose credentials were used to create the label lock. Not present if no user was responsible for creating the label lock.",
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableSelectionChoiceResponse": {
      "description": "Response following choice enable.",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableSelectionChoiceResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2DisableLabelRequest": {
      "properties": {
        "disabledPolicy": {
          "$ref": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy",
          "description": "Disabled policy to use."
        },
        "writeControl": {
          "$ref": "GoogleAppsDriveLabelsV2WriteControl",
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins."
        },
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "description": "Request to deprecate a published label.",
      "id": "GoogleAppsDriveLabelsV2DisableLabelRequest",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest",
      "properties": {
        "id": {
          "description": "Required. The choice to update.",
          "type": "string"
        },
        "fieldId": {
          "type": "string",
          "description": "Required. The selection field to update."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string"
        },
        "properties": {
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceProperties",
          "description": "Required. The choice properties to update."
        }
      },
      "description": "Request to update a choice property.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoice": {
      "properties": {
        "properties": {
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceProperties",
          "description": "Basic properties of the choice."
        },
        "displayHints": {
          "readOnly": true,
          "description": "Output only. UI display hints for rendering a choice.",
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceDisplayHints"
        },
        "publishTime": {
          "description": "Output only. The time this choice was published. This value has no meaning when the choice is not published.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "disableTime": {
          "description": "Output only. The time this choice was disabled. This value has no meaning when the choice is not disabled.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "publisher": {
          "description": "Output only. The user who published this choice. This value has no meaning when the choice is not published.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        },
        "schemaCapabilities": {
          "description": "Output only. The capabilities related to this option when editing the option.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceSchemaCapabilities"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time this choice was updated last.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time this choice was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "creator": {
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "readOnly": true,
          "description": "Output only. The user who created this choice."
        },
        "id": {
          "description": "The unique value of the choice. This ID is autogenerated. Matches the regex: `([a-zA-Z0-9_])+`.",
          "type": "string"
        },
        "lockStatus": {
          "readOnly": true,
          "description": "Output only. The `LockStatus` of this choice.",
          "$ref": "GoogleAppsDriveLabelsV2LockStatus"
        },
        "disabler": {
          "description": "Output only. The user who disabled this choice. This value has no meaning when the option is not disabled.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        },
        "lifecycle": {
          "description": "Output only. Lifecycle of the choice.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2Lifecycle"
        },
        "appliedCapabilities": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceAppliedCapabilities",
          "description": "Output only. The capabilities related to this choice on applied metadata."
        },
        "updater": {
          "description": "Output only. The user who updated this choice last.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        }
      },
      "description": "Selection field choice.",
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoice",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2LabelEnabledAppSettingsEnabledApp": {
      "id": "GoogleAppsDriveLabelsV2LabelEnabledAppSettingsEnabledApp",
      "type": "object",
      "description": "An app where the label can be used.",
      "properties": {
        "app": {
          "enum": [
            "APP_UNSPECIFIED",
            "DRIVE",
            "GMAIL"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Drive",
            "Gmail"
          ],
          "description": "Optional. The name of the app.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateFieldRequest": {
      "properties": {
        "field": {
          "description": "Required. Field to create.",
          "$ref": "GoogleAppsDriveLabelsV2Field"
        }
      },
      "description": "Request to create a field within a label.",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateFieldRequest",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2LongTextLimits": {
      "properties": {
        "minLength": {
          "format": "int32",
          "description": "Minimum length allowed for a long text field type.",
          "type": "integer"
        },
        "maxLength": {
          "type": "integer",
          "description": "Maximum length allowed for a long text field type.",
          "format": "int32"
        }
      },
      "id": "GoogleAppsDriveLabelsV2LongTextLimits",
      "type": "object",
      "description": "Limits for long text field type."
    },
    "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy": {
      "id": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy",
      "description": "The policy that governs how to treat a disabled label, field, or selection choice in different contexts.",
      "properties": {
        "hideInSearch": {
          "type": "boolean",
          "description": "Whether to hide this disabled object in the search menu for Drive items. * When `false`, the object is generally shown in the UI as disabled but it appears in the search results when searching for Drive items. * When `true`, the object is generally hidden in the UI when searching for Drive items."
        },
        "showInApply": {
          "description": "Whether to show this disabled object in the apply menu on Drive items. * When `true`, the object is generally shown in the UI as disabled and is unselectable. * When `false`, the object is generally hidden in the UI.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateSelectionChoiceResponse": {
      "description": "Response following selection choice create.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The server-generated ID of the created choice within the field."
        },
        "fieldId": {
          "type": "string",
          "description": "The server-generated ID of the field."
        }
      },
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateSelectionChoiceResponse"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldTypeRequest": {
      "type": "object",
      "description": "Request to change the type of a field.",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldTypeRequest",
      "properties": {
        "id": {
          "description": "Required. The field to update.",
          "type": "string"
        },
        "textOptions": {
          "$ref": "GoogleAppsDriveLabelsV2FieldTextOptions",
          "description": "Update field to Text."
        },
        "dateOptions": {
          "description": "Update field to Date.",
          "$ref": "GoogleAppsDriveLabelsV2FieldDateOptions"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root of `type_options` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string"
        },
        "integerOptions": {
          "description": "Update field to Integer.",
          "$ref": "GoogleAppsDriveLabelsV2FieldIntegerOptions"
        },
        "userOptions": {
          "$ref": "GoogleAppsDriveLabelsV2FieldUserOptions",
          "description": "Update field to User."
        },
        "selectionOptions": {
          "description": "Update field to Selection.",
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptions"
        }
      }
    },
    "GoogleAppsDriveLabelsV2FieldDisplayHints": {
      "properties": {
        "required": {
          "type": "boolean",
          "description": "Whether the field should be shown as required in the UI."
        },
        "hiddenInSearch": {
          "description": "This field should be hidden in the search menu when searching for Drive items.",
          "type": "boolean"
        },
        "disabled": {
          "description": "Whether the field should be shown in the UI as disabled.",
          "type": "boolean"
        },
        "shownInApply": {
          "description": "This field should be shown in the apply menu when applying values to a Drive item.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2FieldDisplayHints",
      "description": "UI display hints for rendering a field."
    },
    "GoogleAppsDriveLabelsV2UpdateLabelCopyModeRequest": {
      "properties": {
        "view": {
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ],
          "type": "string",
          "description": "When specified, only certain fields belonging to the indicated view will be returned.",
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ]
        },
        "copyMode": {
          "description": "Required. Indicates how the applied label and field values should be copied when a Drive item is copied.",
          "enumDescriptions": [
            "Copy mode unspecified.",
            "The applied label and field values aren't copied by default when the Drive item it's applied to is copied.",
            "The applied label and field values are always copied when the Drive item it's applied to is copied. Only admins can use this mode.",
            "The applied label and field values are copied if the label is appliable by the user making the copy."
          ],
          "enum": [
            "COPY_MODE_UNSPECIFIED",
            "DO_NOT_COPY",
            "ALWAYS_COPY",
            "COPY_APPLIABLE"
          ],
          "type": "string"
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2UpdateLabelCopyModeRequest",
      "description": "Request to update the `CopyMode` of the given label. Changes to this policy aren't revisioned, don't require publishing, and take effect immediately. \\"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequest": {
      "type": "object",
      "properties": {
        "view": {
          "type": "string",
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ],
          "description": "When specified, only certain fields belonging to the indicated view will be returned.",
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ]
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        },
        "writeControl": {
          "$ref": "GoogleAppsDriveLabelsV2WriteControl",
          "description": "Provides control over how write requests are executed."
        },
        "requests": {
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestRequest"
          },
          "description": "A list of updates to apply to the label. Requests will be applied in the order they are specified.",
          "type": "array"
        },
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels when `include_label_in_response` is `true`.",
          "type": "string"
        }
      },
      "description": "The set of requests for updating aspects of a label. If any request isn't valid, no requests will be applied.",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequest"
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceProperties": {
      "properties": {
        "description": {
          "description": "The description of this label.",
          "type": "string"
        },
        "badgeConfig": {
          "description": "The badge configuration for this choice. When set, the label that owns this choice is considered a \"badged label\".",
          "$ref": "GoogleAppsDriveLabelsV2BadgeConfig"
        },
        "insertBeforeChoice": {
          "type": "string",
          "description": "Input only. Insert or move this choice before the indicated choice. If empty, the choice is placed at the end of the list."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display text to show in the UI identifying this field."
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceProperties",
      "description": "Basic properties of the choice."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableFieldRequest": {
      "properties": {
        "id": {
          "description": "Required. Key of the field to disable.",
          "type": "string"
        },
        "updateMask": {
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "format": "google-fieldmask"
        },
        "disabledPolicy": {
          "$ref": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy",
          "description": "Required. Field disabled policy."
        }
      },
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableFieldRequest",
      "description": "Request to disable the field.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2LabelProperties": {
      "type": "object",
      "description": "Basic properties of the label.",
      "properties": {
        "title": {
          "description": "Required. Title of the label.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of the label."
        }
      },
      "id": "GoogleAppsDriveLabelsV2LabelProperties"
    },
    "GoogleTypeDate": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleTypeDate"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteSelectionChoiceResponse": {
      "properties": {},
      "description": "Response following choice delete.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteSelectionChoiceResponse"
    },
    "GoogleAppsDriveLabelsV2Label": {
      "id": "GoogleAppsDriveLabelsV2Label",
      "description": "A label defines a taxonomy that can be applied to Drive items in order to organize and search across items. Labels can be simple strings, or can contain fields that describe additional metadata that can be further used to organize and search Drive items.",
      "properties": {
        "disabler": {
          "description": "Output only. The user who disabled this label. This value has no meaning when the label isn't disabled.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        },
        "id": {
          "readOnly": true,
          "description": "Output only. Globally unique identifier of this label. ID makes up part of the label `name`, but unlike `name`, ID is consistent between revisions. Matches the regex: `([a-zA-Z0-9])+`.",
          "type": "string"
        },
        "publisher": {
          "description": "Output only. The user who published this label. This value has no meaning when the label isn't published.>>",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        },
        "displayHints": {
          "$ref": "GoogleAppsDriveLabelsV2LabelDisplayHints",
          "description": "Output only. UI display hints for rendering the label.",
          "readOnly": true
        },
        "appliedLabelPolicy": {
          "description": "Output only. Behavior of this label when it's applied to Drive items.",
          "$ref": "GoogleAppsDriveLabelsV2LabelAppliedLabelPolicy",
          "readOnly": true
        },
        "fields": {
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2Field"
          },
          "type": "array",
          "description": "List of fields in descending priority order."
        },
        "revisionCreator": {
          "description": "Output only. The user who created this label revision.",
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "readOnly": true
        },
        "properties": {
          "description": "Required. The basic properties of the label.",
          "$ref": "GoogleAppsDriveLabelsV2LabelProperties"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the label. Will be in the form of either: `labels/{id}` or `labels/{id}@{revision_id}` depending on the request. See `id` and `revision_id` below.",
          "type": "string"
        },
        "labelType": {
          "type": "string",
          "description": "Required. The type of label.",
          "enumDescriptions": [
            "Unknown label type.",
            "Shared labels may be shared with users to apply to Drive items.",
            "Admin-owned label. Only creatable and editable by admins. Supports some additional admin-only features.",
            "A label owned by an internal Google application rather than a customer. These labels are read-only."
          ],
          "enum": [
            "LABEL_TYPE_UNSPECIFIED",
            "SHARED",
            "ADMIN",
            "GOOGLE_APP"
          ]
        },
        "revisionCreateTime": {
          "readOnly": true,
          "description": "Output only. The time this label revision was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "creator": {
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "description": "Output only. The user who created this label.",
          "readOnly": true
        },
        "lifecycle": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2Lifecycle",
          "description": "Output only. The lifecycle state of the label including whether it's published, deprecated, and has draft changes."
        },
        "enabledAppSettings": {
          "description": "Optional. The `EnabledAppSettings` for this Label.",
          "$ref": "GoogleAppsDriveLabelsV2LabelEnabledAppSettings"
        },
        "lockStatus": {
          "description": "Output only. The `LockStatus` of this label.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2LockStatus"
        },
        "publishTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time this label was published. This value has no meaning when the label isn't published.",
          "format": "google-datetime"
        },
        "disableTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time this label was disabled. This value has no meaning when the label isn't disabled.",
          "type": "string"
        },
        "learnMoreUri": {
          "type": "string",
          "description": "Custom URL to present to users to allow them to learn more about this label and how it should be used."
        },
        "revisionId": {
          "description": "Output only. Revision ID of the label. Revision ID might be part of the label `name` depending on the request issued. A new revision is created whenever revisioned properties of a label are changed. Matches the regex: `([a-zA-Z0-9])+`.",
          "type": "string",
          "readOnly": true
        },
        "schemaCapabilities": {
          "description": "Output only. The capabilities the user has on this label.",
          "$ref": "GoogleAppsDriveLabelsV2LabelSchemaCapabilities",
          "readOnly": true
        },
        "customer": {
          "description": "Output only. The customer this label belongs to. For example: `customers/123abc789`.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time this label was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "appliedCapabilities": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2LabelAppliedCapabilities",
          "description": "Output only. The capabilities related to this label on applied metadata."
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateLabelPropertiesRequest": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateLabelPropertiesRequest",
      "description": "Updates basic properties of a label.",
      "properties": {
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `label_properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "properties": {
          "description": "Required. Label properties to update.",
          "$ref": "GoogleAppsDriveLabelsV2LabelProperties"
        }
      }
    },
    "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsRequest": {
      "id": "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsRequest",
      "description": "Updates one or more label permissions.",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2UpdateLabelPermissionRequest"
          },
          "description": "Required. The request message specifying the resources to update."
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access. If this is set, the `use_admin_access` field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2WriteControl": {
      "properties": {
        "requiredRevisionId": {
          "type": "string",
          "description": "The revision ID of the label that the write request will be applied to. If this isn't the latest revision of the label, the request will not be processed and will return a 400 Bad Request error."
        }
      },
      "type": "object",
      "description": "Provides control over how write requests are executed. When not specified, the last write wins.",
      "id": "GoogleAppsDriveLabelsV2WriteControl"
    },
    "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsResponse": {
      "properties": {
        "permissions": {
          "description": "Required. Permissions updated.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
          }
        }
      },
      "description": "Response for updating one or more label permissions.",
      "id": "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsResponse",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2ListLabelLocksResponse": {
      "properties": {
        "labelLocks": {
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2LabelLock"
          },
          "type": "array",
          "description": "Label locks."
        },
        "nextPageToken": {
          "description": "The token of the next page in the response.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response to a `ListLabelLocksRequest`.",
      "id": "GoogleAppsDriveLabelsV2ListLabelLocksResponse"
    },
    "GoogleAppsDriveLabelsV2DeleteLabelPermissionRequest": {
      "id": "GoogleAppsDriveLabelsV2DeleteLabelPermissionRequest",
      "properties": {
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Required. Label permission resource name."
        }
      },
      "type": "object",
      "description": "Deletes a label permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponse": {
      "description": "Response for label update.",
      "properties": {
        "updatedLabel": {
          "description": "The label after updates were applied. This is only set if `include_label_in_response` is `true` and there were no errors.",
          "$ref": "GoogleAppsDriveLabelsV2Label"
        },
        "responses": {
          "description": "The reply of the updates. This maps 1:1 with the updates, although responses to some requests may be empty.",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseResponse"
          },
          "type": "array"
        }
      },
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponse",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2ListLimits": {
      "id": "GoogleAppsDriveLabelsV2ListLimits",
      "properties": {
        "maxEntries": {
          "description": "Maximum number of values allowed for the field type.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Limits for list-variant of a field type."
    },
    "GoogleAppsDriveLabelsV2LockStatus": {
      "properties": {
        "locked": {
          "description": "Output only. Indicates whether this label component is the (direct) target of a label lock. A label component can be implicitly locked even if it's not the direct target of a label lock, in which case this field is set to false.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Contains information about whether a label component should be considered locked.",
      "id": "GoogleAppsDriveLabelsV2LockStatus"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteFieldResponse": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteFieldResponse",
      "description": "Response following field delete.",
      "properties": {},
      "type": "object"
    },
    "GoogleTypeColor": {
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
      "id": "GoogleTypeColor",
      "properties": {
        "blue": {
          "type": "number",
          "format": "float",
          "description": "The amount of blue in the color as a value in the interval [0, 1]."
        },
        "red": {
          "type": "number",
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "format": "float"
        },
        "green": {
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        },
        "alpha": {
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0).",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldIntegerOptions": {
      "type": "object",
      "properties": {
        "minValue": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The minimum valid value for the integer field."
        },
        "maxValue": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The maximum valid value for the integer field.",
          "readOnly": true
        }
      },
      "description": "Options for the Integer field type.",
      "id": "GoogleAppsDriveLabelsV2FieldIntegerOptions"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse": {
      "description": "Response following update to selection choice properties.",
      "properties": {
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "The priority of the updated choice. The priority may change from what was specified to assure contiguous priorities between choices (1-n)."
        }
      },
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2LabelEnabledAppSettings": {
      "id": "GoogleAppsDriveLabelsV2LabelEnabledAppSettings",
      "description": "Describes the Google Workspace apps in which the label can be used.",
      "properties": {
        "enabledApps": {
          "description": "Optional. The list of apps where the label can be used.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2LabelEnabledAppSettingsEnabledApp"
          }
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldTypeResponse": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldTypeResponse",
      "type": "object",
      "properties": {},
      "description": "Response following update to field type."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableSelectionChoiceRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableSelectionChoiceRequest",
      "description": "Request to disable a choice.",
      "properties": {
        "fieldId": {
          "description": "Required. The selection field in which a choice will be disabled.",
          "type": "string"
        },
        "disabledPolicy": {
          "description": "Required. The disabled policy to update.",
          "$ref": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
        },
        "id": {
          "description": "Required. Choice to disable.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2TextLimits": {
      "description": "Limits for text field type.",
      "type": "object",
      "properties": {
        "minLength": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum length allowed for a text field type."
        },
        "maxLength": {
          "format": "int32",
          "description": "Maximum length allowed for a text field type.",
          "type": "integer"
        }
      },
      "id": "GoogleAppsDriveLabelsV2TextLimits"
    },
    "GoogleAppsDriveLabelsV2FieldDateOptions": {
      "type": "object",
      "description": "Options for the date field type.",
      "id": "GoogleAppsDriveLabelsV2FieldDateOptions",
      "properties": {
        "dateFormatType": {
          "description": "Localized date formatting option. Field values are rendered in this format according to their locale.",
          "type": "string",
          "enum": [
            "DATE_FORMAT_UNSPECIFIED",
            "LONG_DATE",
            "SHORT_DATE"
          ],
          "enumDescriptions": [
            "Date format unspecified.",
            "Includes full month name. For example, January 12, 1999 (MMMM d, y)",
            "Short, numeric, representation. For example, 12/13/99 (M/d/yy)"
          ]
        },
        "minValue": {
          "readOnly": true,
          "description": "Output only. Minimum valid value (year, month, day).",
          "$ref": "GoogleTypeDate"
        },
        "maxValue": {
          "readOnly": true,
          "$ref": "GoogleTypeDate",
          "description": "Output only. Maximum valid value (year, month, day)."
        },
        "dateFormat": {
          "description": "Output only. ICU date format.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestRequest",
      "properties": {
        "enableSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableSelectionChoiceRequest",
          "description": "Enable a choice within a selection field."
        },
        "updateFieldType": {
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldTypeRequest",
          "description": "Update field type and/or type options."
        },
        "updateLabel": {
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateLabelPropertiesRequest",
          "description": "Updates the label properties."
        },
        "disableField": {
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableFieldRequest",
          "description": "Disables the field."
        },
        "updateField": {
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldPropertiesRequest",
          "description": "Updates basic properties of a field."
        },
        "enableField": {
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableFieldRequest",
          "description": "Enables the field."
        },
        "disableSelectionChoice": {
          "description": "Disable a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableSelectionChoiceRequest"
        },
        "deleteField": {
          "description": "Deletes a field from the label.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteFieldRequest"
        },
        "createSelectionChoice": {
          "description": "Create a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateSelectionChoiceRequest"
        },
        "updateSelectionChoiceProperties": {
          "description": "Update a choice property within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest"
        },
        "createField": {
          "description": "Creates a field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateFieldRequest"
        },
        "deleteSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteSelectionChoiceRequest",
          "description": "Delete a choice within a selection field."
        }
      },
      "type": "object",
      "description": "A single kind of update to apply to a label."
    },
    "GoogleAppsDriveLabelsV2LabelAppliedCapabilities": {
      "id": "GoogleAppsDriveLabelsV2LabelAppliedCapabilities",
      "description": "The capabilities a user has on this label's applied metadata.",
      "type": "object",
      "properties": {
        "canRead": {
          "type": "boolean",
          "description": "Whether the user can read applied metadata related to this label."
        },
        "canApply": {
          "description": "Whether the user can apply this label to items.",
          "type": "boolean"
        },
        "canRemove": {
          "type": "boolean",
          "description": "Whether the user can remove this label from items."
        }
      }
    },
    "GoogleAppsDriveLabelsV2UserCapabilities": {
      "id": "GoogleAppsDriveLabelsV2UserCapabilities",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name for the user capabilities."
        },
        "canCreateSharedLabels": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the user is allowed to create shared labels."
        },
        "canAdministrateLabels": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the user is an administrator for the shared labels feature."
        },
        "canCreateAdminLabels": {
          "type": "boolean",
          "description": "Output only. Whether the user is allowed to create admin labels.",
          "readOnly": true
        },
        "canAccessLabelManager": {
          "type": "boolean",
          "description": "Output only. Whether the user is allowed access to the label manager.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "The capabilities of a user."
    },
    "GoogleAppsDriveLabelsV2EnableLabelRequest": {
      "description": "Request to enable a label.",
      "properties": {
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        },
        "writeControl": {
          "$ref": "GoogleAppsDriveLabelsV2WriteControl",
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins."
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2EnableLabelRequest"
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceAppliedCapabilities": {
      "description": "The capabilities related to this choice on applied metadata.",
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceAppliedCapabilities",
      "properties": {
        "canRead": {
          "description": "Whether the user can read related applied metadata on items.",
          "type": "boolean"
        },
        "canSearch": {
          "description": "Whether the user can use this choice in search queries.",
          "type": "boolean"
        },
        "canSelect": {
          "description": "Whether the user can select this choice on an item.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableFieldResponse": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableFieldResponse",
      "properties": {},
      "description": "Response following field enable.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2ListLabelsResponse": {
      "id": "GoogleAppsDriveLabelsV2ListLabelsResponse",
      "description": "Response for listing labels.",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Labels.",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token of the next page in the response."
        }
      }
    },
    "GoogleAppsDriveLabelsV2LabelDisplayHints": {
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Whether the label should be shown in the UI as disabled."
        },
        "shownInApply": {
          "type": "boolean",
          "description": "This label should be shown in the apply menu when applying values to a Drive item."
        },
        "priority": {
          "type": "string",
          "format": "int64",
          "description": "The order to display labels in a list."
        },
        "hiddenInSearch": {
          "description": "This label should be hidden in the search menu when searching for Drive items.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2LabelDisplayHints",
      "type": "object",
      "description": "The UI display hints for rendering the label."
    },
    "GoogleAppsDriveLabelsV2Field": {
      "type": "object",
      "description": "Defines a field that has a display name, data type, and other configuration options. This field defines the kind of metadata that may be set on a Drive item.",
      "properties": {
        "queryKey": {
          "type": "string",
          "description": "Output only. The key to use when constructing Drive search queries to find files based on values defined for this field on files. For example, \"`{query_key}` > 2001-01-01\".",
          "readOnly": true
        },
        "id": {
          "description": "Output only. The key of a field, unique within a label or library. This value is autogenerated. Matches the regex: `([a-zA-Z0-9])+`.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time this field was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "updater": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "description": "Output only. The user who modified this field."
        },
        "lifecycle": {
          "$ref": "GoogleAppsDriveLabelsV2Lifecycle",
          "description": "Output only. The lifecycle of this field.",
          "readOnly": true
        },
        "integerOptions": {
          "description": "Integer field options.",
          "$ref": "GoogleAppsDriveLabelsV2FieldIntegerOptions"
        },
        "selectionOptions": {
          "description": "Selection field options.",
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptions"
        },
        "lockStatus": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2LockStatus",
          "description": "Output only. The `LockStatus` of this field."
        },
        "appliedCapabilities": {
          "$ref": "GoogleAppsDriveLabelsV2FieldAppliedCapabilities",
          "readOnly": true,
          "description": "Output only. The capabilities this user has on this field and its value when the label is applied on Drive items."
        },
        "schemaCapabilities": {
          "$ref": "GoogleAppsDriveLabelsV2FieldSchemaCapabilities",
          "readOnly": true,
          "description": "Output only. The capabilities this user has when editing this field."
        },
        "creator": {
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "readOnly": true,
          "description": "Output only. The user who created this field."
        },
        "properties": {
          "$ref": "GoogleAppsDriveLabelsV2FieldProperties",
          "description": "The basic properties of the field."
        },
        "disableTime": {
          "format": "google-datetime",
          "description": "Output only. The time this field was disabled. This value has no meaning when the field is not disabled.",
          "type": "string",
          "readOnly": true
        },
        "publisher": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "description": "Output only. The user who published this field. This value has no meaning when the field is not published."
        },
        "textOptions": {
          "$ref": "GoogleAppsDriveLabelsV2FieldTextOptions",
          "description": "Text field options."
        },
        "dateOptions": {
          "$ref": "GoogleAppsDriveLabelsV2FieldDateOptions",
          "description": "Date field options."
        },
        "displayHints": {
          "description": "Output only. UI display hints for rendering a field.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2FieldDisplayHints"
        },
        "userOptions": {
          "description": "User field options.",
          "$ref": "GoogleAppsDriveLabelsV2FieldUserOptions"
        },
        "disabler": {
          "readOnly": true,
          "description": "Output only. The user who disabled this field. This value has no meaning when the field is not disabled.",
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        },
        "updateTime": {
          "description": "Output only. The time this field was updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleAppsDriveLabelsV2Field"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateLabelPropertiesResponse": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateLabelPropertiesResponse",
      "properties": {},
      "description": "Response following update to label properties.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldTextOptions": {
      "id": "GoogleAppsDriveLabelsV2FieldTextOptions",
      "properties": {
        "minLength": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The minimum valid length of values for the text field."
        },
        "maxLength": {
          "description": "Output only. The maximum valid length of values for the text field.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Options for the Text field type."
    },
    "GoogleAppsDriveLabelsV2Lifecycle": {
      "id": "GoogleAppsDriveLabelsV2Lifecycle",
      "properties": {
        "disabledPolicy": {
          "$ref": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy",
          "description": "The policy that governs how to show a disabled label, field, or selection choice."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "UNPUBLISHED_DRAFT",
            "PUBLISHED",
            "DISABLED",
            "DELETED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unknown State.",
            "The initial state of an object. Once published, the object can never return to this state. Once an object is published, certain kinds of changes are no longer permitted.",
            "The object has been published. The object might have unpublished draft changes as indicated by `has_unpublished_changes`.",
            "The object has been published and has since been disabled. The object might have unpublished draft changes as indicated by `has_unpublished_changes`.",
            "The object has been deleted."
          ],
          "type": "string",
          "description": "Output only. The state of the object associated with this lifecycle."
        },
        "hasUnpublishedChanges": {
          "description": "Output only. Whether the object associated with this lifecycle has unpublished changes.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "description": "The lifecycle state of an object, such as label, field, or choice. For more information, see [Label lifecycle](https://developers.google.com/workspace/drive/labels/guides/label-lifecycle). The lifecycle enforces the following transitions: * `UNPUBLISHED_DRAFT` (starting state) * `UNPUBLISHED_DRAFT` -> `PUBLISHED` * `UNPUBLISHED_DRAFT` -> (Deleted) * `PUBLISHED` -> `DISABLED` * `DISABLED` -> `PUBLISHED` * `DISABLED` -> (Deleted) The published and disabled states have some distinct characteristics: * `Published`: Some kinds of changes might be made to an object in this state, in which case `has_unpublished_changes` will be true. Also, some kinds of changes aren't permitted. Generally, any change that would invalidate or cause new restrictions on existing metadata related to the label are rejected. * `Disabled`: When disabled, the configured `DisabledPolicy` takes effect.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteSelectionChoiceRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteSelectionChoiceRequest",
      "type": "object",
      "description": "Request to delete a choice.",
      "properties": {
        "fieldId": {
          "type": "string",
          "description": "Required. The selection field from which a choice will be deleted."
        },
        "id": {
          "description": "Required. Choice to delete.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2IntegerLimits": {
      "description": "Limits for integer field type.",
      "properties": {
        "minValue": {
          "description": "Minimum value for an integer field type.",
          "type": "string",
          "format": "int64"
        },
        "maxValue": {
          "format": "int64",
          "description": "Maximum value for an integer field type.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2IntegerLimits",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableFieldResponse": {
      "type": "object",
      "description": "Response following field disable.",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableFieldResponse",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2FieldSchemaCapabilities": {
      "properties": {
        "canEnable": {
          "description": "Whether the user can enable this field. The user must have permission and this field must be disabled.",
          "type": "boolean"
        },
        "canUpdate": {
          "description": "Whether the user can change this field.",
          "type": "boolean"
        },
        "canDisable": {
          "type": "boolean",
          "description": "Whether the user can disable this field. The user must have permission and this field must not already be disabled."
        },
        "canDelete": {
          "description": "Whether the user can delete this field. The user must have permission and the field must be deprecated.",
          "type": "boolean"
        }
      },
      "description": "The capabilities related to this field when editing the field.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2FieldSchemaCapabilities"
    },
    "GoogleAppsDriveLabelsV2LabelAppliedLabelPolicy": {
      "type": "object",
      "description": "Behavior of this label when it's applied to Drive items.",
      "id": "GoogleAppsDriveLabelsV2LabelAppliedLabelPolicy",
      "properties": {
        "copyMode": {
          "enum": [
            "COPY_MODE_UNSPECIFIED",
            "DO_NOT_COPY",
            "ALWAYS_COPY",
            "COPY_APPLIABLE"
          ],
          "description": "Indicates how the applied label and field values should be copied when a Drive item is copied.",
          "type": "string",
          "enumDescriptions": [
            "Copy mode unspecified.",
            "The applied label and field values aren't copied by default when the Drive item it's applied to is copied.",
            "The applied label and field values are always copied when the Drive item it's applied to is copied. Only admins can use this mode.",
            "The applied label and field values are copied if the label is appliable by the user making the copy."
          ]
        }
      }
    },
    "GoogleAppsDriveLabelsV2BatchDeleteLabelPermissionsRequest": {
      "type": "object",
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2DeleteLabelPermissionRequest"
          },
          "description": "Required. The request message specifying the resources to update.",
          "type": "array"
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access. If this is set, the `use_admin_access` field in the `DeleteLabelPermissionRequest` messages must either be empty or match this field.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2BatchDeleteLabelPermissionsRequest",
      "description": "Deletes one or more label permissions."
    },
    "GoogleAppsDriveLabelsV2LabelLimits": {
      "properties": {
        "maxFields": {
          "description": "The maximum number of fields allowed within the label.",
          "format": "int32",
          "type": "integer"
        },
        "maxDeletedFields": {
          "type": "integer",
          "description": "The maximum number of published fields that can be deleted.",
          "format": "int32"
        },
        "fieldLimits": {
          "description": "The limits for fields.",
          "$ref": "GoogleAppsDriveLabelsV2FieldLimits"
        },
        "maxDescriptionLength": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of characters allowed for the description."
        },
        "maxDraftRevisions": {
          "description": "The maximum number of draft revisions that will be kept before deleting old drafts.",
          "format": "int32",
          "type": "integer"
        },
        "maxTitleLength": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of characters allowed for the title."
        },
        "name": {
          "description": "Resource name.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Label constraints governing the structure of a label; such as, the maximum number of fields allowed and maximum length of the label title.",
      "id": "GoogleAppsDriveLabelsV2LabelLimits"
    },
    "GoogleAppsDriveLabelsV2UserInfo": {
      "id": "GoogleAppsDriveLabelsV2UserInfo",
      "properties": {
        "person": {
          "description": "The identifier for this user that can be used with the [People API](https://developers.google.com/people) to get more information. For example, `people/12345678`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Information about a user."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableSelectionChoiceRequest": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableSelectionChoiceRequest",
      "description": "Request to enable a choice.",
      "properties": {
        "fieldId": {
          "description": "Required. The selection field in which a choice will be enabled.",
          "type": "string"
        },
        "id": {
          "description": "Required. Choice to enable.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2BadgeColors": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2BadgeColors",
      "properties": {
        "backgroundColor": {
          "readOnly": true,
          "$ref": "GoogleTypeColor",
          "description": "Output only. Badge background that pairs with the foreground."
        },
        "foregroundColor": {
          "readOnly": true,
          "description": "Output only. Badge foreground that pairs with the background.",
          "$ref": "GoogleTypeColor"
        },
        "soloColor": {
          "description": "Output only. Color that can be used for text without a background.",
          "$ref": "GoogleTypeColor",
          "readOnly": true
        }
      },
      "description": "The color derived from BadgeConfig and changed to the closest recommended supported color."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldPropertiesResponse": {
      "description": "Response following update to field properties.",
      "properties": {
        "priority": {
          "type": "integer",
          "description": "The priority of the updated field. The priority may change from what was specified to assure contiguous priorities between fields (1-n).",
          "format": "int32"
        }
      },
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldPropertiesResponse",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldListOptions": {
      "properties": {
        "maxEntries": {
          "description": "Maximum number of entries permitted.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Options for a multi-valued variant of an associated field type.",
      "id": "GoogleAppsDriveLabelsV2FieldListOptions",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldProperties": {
      "properties": {
        "displayName": {
          "description": "Required. The display text to show in the UI identifying this field.",
          "type": "string"
        },
        "required": {
          "description": "Whether the field should be marked as required.",
          "type": "boolean"
        },
        "insertBeforeField": {
          "description": "Input only. Insert or move this field before the indicated field. If empty, the field is placed at the end of the list.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2FieldProperties",
      "description": "The basic properties of the field.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldPropertiesRequest": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. The field to update."
        },
        "updateMask": {
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "format": "google-fieldmask"
        },
        "properties": {
          "$ref": "GoogleAppsDriveLabelsV2FieldProperties",
          "description": "Required. Basic field properties."
        }
      },
      "description": "Request to update field properties.",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldPropertiesRequest"
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceDisplayHints": {
      "type": "object",
      "description": "UI display hints for rendering an option.",
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceDisplayHints",
      "properties": {
        "badgeColors": {
          "$ref": "GoogleAppsDriveLabelsV2BadgeColors",
          "description": "The colors to use for the badge. Changed to Google Material colors based on the chosen `properties.badge_config.color`."
        },
        "badgePriority": {
          "description": "The priority of this badge. Used to compare and sort between multiple badges. A lower number means the badge should be shown first. When a badging configuration is not present, this will be 0. Otherwise, this will be set to `BadgeConfig.priority_override` or the default heuristic which prefers creation date of the label, and field and option priority.",
          "type": "string",
          "format": "int64"
        },
        "shownInApply": {
          "type": "boolean",
          "description": "This option should be shown in the apply menu when applying values to a Drive item."
        },
        "hiddenInSearch": {
          "type": "boolean",
          "description": "This option should be hidden in the search menu when searching for Drive items."
        },
        "disabled": {
          "description": "Whether the option should be shown in the UI as disabled.",
          "type": "boolean"
        },
        "darkBadgeColors": {
          "description": "The dark-mode color to use for the badge. Changed to Google Material colors based on the chosen `properties.badge_config.color`.",
          "$ref": "GoogleAppsDriveLabelsV2BadgeColors"
        }
      }
    },
    "GoogleAppsDriveLabelsV2UpdateLabelEnabledAppSettingsRequest": {
      "description": "Request to update the `EnabledAppSettings` of the given label. This change is not revisioned, doesn't require publishing, and takes effect immediately. \\",
      "id": "GoogleAppsDriveLabelsV2UpdateLabelEnabledAppSettingsRequest",
      "properties": {
        "view": {
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ],
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ],
          "description": "Optional. When specified, only certain fields belonging to the indicated view will be returned.",
          "type": "string"
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Optional. Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used."
        },
        "enabledAppSettings": {
          "description": "Required. The new `EnabledAppSettings` value for the label.",
          "$ref": "GoogleAppsDriveLabelsV2LabelEnabledAppSettings"
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DateLimits": {
      "type": "object",
      "properties": {
        "minValue": {
          "$ref": "GoogleTypeDate",
          "description": "Minimum value for the date field type."
        },
        "maxValue": {
          "$ref": "GoogleTypeDate",
          "description": "Maximum value for the date field type."
        }
      },
      "id": "GoogleAppsDriveLabelsV2DateLimits",
      "description": "Limits for date field type."
    },
    "GoogleAppsDriveLabelsV2LabelPermission": {
      "description": "The permission that applies to a principal (user, group, audience) on a label.",
      "properties": {
        "group": {
          "description": "Group resource name.",
          "type": "string"
        },
        "email": {
          "description": "Specifies the email address for a user or group principal. Not populated for audience principals. User and group permissions may only be inserted using an email address. On update requests, if email address is specified, no principal should be specified.",
          "type": "string"
        },
        "person": {
          "type": "string",
          "description": "Person resource name."
        },
        "name": {
          "description": "Resource name of this permission.",
          "type": "string"
        },
        "role": {
          "type": "string",
          "description": "The role the principal should have.",
          "enumDescriptions": [
            "Unknown role.",
            "A reader can read the label and associated metadata applied to Drive items.",
            "An applier can write associated metadata on Drive items in which they also have write access to. Implies `READER`.",
            "An organizer can pin this label in shared drives they manage and add new appliers to the label.",
            "Editors can make any update including deleting the label which also deletes the associated Drive item metadata. Implies `APPLIER`."
          ],
          "enum": [
            "LABEL_ROLE_UNSPECIFIED",
            "READER",
            "APPLIER",
            "ORGANIZER",
            "EDITOR"
          ]
        },
        "audience": {
          "description": "Audience to grant a role to. The magic value of `audiences/default` may be used to apply the role to the default audience in the context of the organization that owns the label.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2LabelPermission"
    },
    "GoogleAppsDriveLabelsV2LabelSchemaCapabilities": {
      "id": "GoogleAppsDriveLabelsV2LabelSchemaCapabilities",
      "description": "The capabilities related to this label when editing the label.",
      "properties": {
        "canDelete": {
          "type": "boolean",
          "description": "Whether the user can delete this label. The user must have permission and the label must be disabled."
        },
        "canUpdate": {
          "type": "boolean",
          "description": "Whether the user can change this label."
        },
        "canEnable": {
          "description": "Whether the user can enable this label. The user must have permission and this label must be disabled.",
          "type": "boolean"
        },
        "canDisable": {
          "type": "boolean",
          "description": "Whether the user can disable this label. The user must have permission and this label must not already be disabled."
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateSelectionChoiceRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateSelectionChoiceRequest",
      "properties": {
        "fieldId": {
          "description": "Required. The selection field in which a choice will be created.",
          "type": "string"
        },
        "choice": {
          "description": "Required. The choice to create.",
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoice"
        }
      },
      "description": "Request to create a selection choice.",
      "type": "object"
    }
  },
  "resources": {
    "labels": {
      "methods": {
        "disable": {
          "description": "Disable a published label. For more information, see [Disable, enable, and delete a label](https://developers.google.com/workspace/drive/labels/guides/disable-delete-label). Disabling a label will result in a new disabled published revision based on the current published revision. If there's a draft revision, a new disabled draft revision will be created based on the latest draft revision. Older draft revisions will be deleted. Once disabled, a label may be deleted with `DeleteLabel`.",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "path": "v2/{+name}:disable",
          "id": "drivelabels.labels.disable",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^labels/[^/]+$",
              "description": "Required. Label resource name.",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2DisableLabelRequest"
          },
          "flatPath": "v2/labels/{labelsId}:disable"
        },
        "create": {
          "description": "Creates a label. For more information, see [Create and publish a label](https://developers.google.com/workspace/drive/labels/guides/create-label).",
          "parameters": {
            "useAdminAccess": {
              "description": "Set to `true` in order to use the user's admin privileges. The server will verify the user is an admin before allowing access.",
              "type": "boolean",
              "location": "query"
            },
            "languageCode": {
              "type": "string",
              "description": "The BCP-47 language code to use for evaluating localized field labels in response. When not specified, values in the default configured language will be used.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "flatPath": "v2/labels",
          "parameterOrder": [],
          "httpMethod": "POST",
          "id": "drivelabels.labels.create",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "path": "v2/labels"
        },
        "delta": {
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponse"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "description": "Updates a single label by applying a set of update requests resulting in a new draft revision. For more information, see [Update a label](https://developers.google.com/workspace/drive/labels/guides/update-label). The batch update is all-or-nothing: If any of the update requests are invalid, no changes are applied. The resulting draft revision must be published before the changes may be used with Drive items.",
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. The resource name of the label to update.",
              "required": true,
              "type": "string",
              "pattern": "^labels/[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "id": "drivelabels.labels.delta",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequest"
          },
          "flatPath": "v2/labels/{labelsId}:delta",
          "path": "v2/{+name}:delta"
        },
        "get": {
          "parameters": {
            "languageCode": {
              "location": "query",
              "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language are used.",
              "type": "string"
            },
            "useAdminAccess": {
              "type": "boolean",
              "location": "query",
              "description": "Set to `true` in order to use the user's admin credentials. The server verifies that the user is an admin for the label before allowing access."
            },
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^labels/[^/]+$",
[...]
