{
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "name": "driveactivity",
  "version": "v2",
  "description": "Provides a historical view of activity in Google Drive.",
  "schemas": {
    "Date": {
      "id": "Date",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "format": "google-datetime",
          "description": "Date value."
        }
      },
      "description": "Wrapper for Date Field value."
    },
    "Upload": {
      "id": "Upload",
      "type": "object",
      "description": "An object was uploaded into Drive.",
      "properties": {}
    },
    "TeamDrive": {
      "id": "TeamDrive",
      "deprecated": true,
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "This field is deprecated; please see `Drive.name` instead."
        },
        "root": {
          "$ref": "DriveItem",
          "description": "This field is deprecated; please see `Drive.root` instead."
        },
        "title": {
          "description": "This field is deprecated; please see `Drive.title` instead.",
          "type": "string"
        }
      },
      "description": "This item is deprecated; please see `Drive` instead."
    },
    "DriveActivity": {
      "type": "object",
      "id": "DriveActivity",
      "properties": {
        "timeRange": {
          "$ref": "TimeRange",
          "description": "The activity occurred over this time range."
        },
        "targets": {
          "items": {
            "$ref": "Target"
          },
          "description": "All Google Drive objects this activity is about (e.g. file, folder, drive). This represents the state of the target immediately after the actions occurred.",
          "type": "array"
        },
        "actors": {
          "description": "All actor(s) responsible for the activity.",
          "type": "array",
          "items": {
            "$ref": "Actor"
          }
        },
        "primaryActionDetail": {
          "description": "Key information about the primary action for this activity. This is either representative, or the most important, of all actions in the activity, according to the ConsolidationStrategy in the request.",
          "$ref": "ActionDetail"
        },
        "timestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "The activity occurred at this specific time."
        },
        "actions": {
          "type": "array",
          "description": "Details on all actions in this activity.",
          "items": {
            "$ref": "Action"
          }
        }
      },
      "description": "A single Drive activity comprising one or more Actions by one or more Actors on one or more Targets. Some Action groupings occur spontaneously, such as moving an item into a shared folder triggering a permission change. Other groupings of related Actions, such as multiple Actors editing one item or moving multiple files into a new folder, are controlled by the selection of a ConsolidationStrategy in the QueryDriveActivityRequest."
    },
    "TargetReference": {
      "type": "object",
      "id": "TargetReference",
      "description": "A lightweight reference to the target of activity.",
      "properties": {
        "driveItem": {
          "description": "The target is a Drive item.",
          "$ref": "DriveItemReference"
        },
        "teamDrive": {
          "deprecated": true,
          "description": "This field is deprecated; please use the `drive` field instead.",
          "$ref": "TeamDriveReference"
        },
        "drive": {
          "$ref": "DriveReference",
          "description": "The target is a shared drive."
        }
      }
    },
    "Owner": {
      "id": "Owner",
      "type": "object",
      "properties": {
        "teamDrive": {
          "$ref": "TeamDriveReference",
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true
        },
        "domain": {
          "description": "The domain of the Drive item owner.",
          "$ref": "Domain"
        },
        "drive": {
          "$ref": "DriveReference",
          "description": "The drive that owns the item."
        },
        "user": {
          "description": "The user that owns the Drive item.",
          "$ref": "User"
        }
      },
      "description": "Information about the owner of a Drive item."
    },
    "FieldValueChange": {
      "type": "object",
      "description": "Change to a Field value.",
      "properties": {
        "fieldId": {
          "description": "The ID of this field. Field IDs are unique within a Label.",
          "type": "string"
        },
        "oldValue": {
          "description": "The value that was previously set on the field. If not present, the field was newly set. At least one of {old_value|new_value} is always set.",
          "$ref": "FieldValue"
        },
        "newValue": {
          "description": "The value that is now set on the field. If not present, the field was cleared. At least one of {old_value|new_value} is always set.",
          "$ref": "FieldValue"
        },
        "displayName": {
          "description": "The human-readable display name for this field.",
          "type": "string"
        }
      },
      "id": "FieldValueChange"
    },
    "SelectionList": {
      "properties": {
        "values": {
          "description": "Selection values.",
          "type": "array",
          "items": {
            "$ref": "Selection"
          }
        }
      },
      "type": "object",
      "description": "Wrapper for SelectionList Field value.",
      "id": "SelectionList"
    },
    "DriveItemReference": {
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of the Drive item."
        },
        "name": {
          "description": "The target Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "folder": {
          "$ref": "Folder",
          "deprecated": true,
          "description": "This field is deprecated; please use the `driveFolder` field instead."
        },
        "file": {
          "description": "This field is deprecated; please use the `driveFile` field instead.",
          "deprecated": true,
          "$ref": "File"
        },
        "driveFolder": {
          "description": "The Drive item is a folder. Includes information about the type of folder.",
          "$ref": "DriveFolder"
        },
        "driveFile": {
          "description": "The Drive item is a file.",
          "$ref": "DriveFile"
        }
      },
      "type": "object",
      "description": "A lightweight reference to a Drive item, such as a file or folder.",
      "id": "DriveItemReference"
    },
    "User": {
      "type": "object",
      "properties": {
        "unknownUser": {
          "description": "A user about whom nothing is currently known.",
          "$ref": "UnknownUser"
        },
        "deletedUser": {
          "$ref": "DeletedUser",
          "description": "A user whose account has since been deleted."
        },
        "knownUser": {
          "description": "A known user.",
          "$ref": "KnownUser"
        }
      },
      "description": "Information about an end user.",
      "id": "User"
    },
    "Rename": {
      "id": "Rename",
      "type": "object",
      "properties": {
        "oldTitle": {
          "description": "The previous title of the drive object.",
          "type": "string"
        },
        "newTitle": {
          "type": "string",
          "description": "The new title of the drive object."
        }
      },
      "description": "An object was renamed."
    },
    "ApplicationReference": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "The type is not available.",
            "The links of one or more Drive items were posted.",
            "Comments were made regarding a Drive item."
          ],
          "description": "The reference type corresponding to this event.",
          "enum": [
            "UNSPECIFIED_REFERENCE_TYPE",
            "LINK",
            "DISCUSS"
          ],
          "type": "string"
        }
      },
      "id": "ApplicationReference",
      "type": "object",
      "description": "Activity in applications other than Drive."
    },
    "Legacy": {
      "properties": {},
      "type": "object",
      "description": "A strategy that consolidates activities using the grouping rules from the legacy V1 Activity API. Similar actions occurring within a window of time can be grouped across multiple targets (such as moving a set of files at once) or multiple actors (such as several users editing the same item). Grouping rules for this strategy are specific to each type of action.",
      "id": "Legacy"
    },
    "Folder": {
      "description": "This item is deprecated; please see `DriveFolder` instead.",
      "id": "Folder",
      "properties": {
        "type": {
          "description": "This field is deprecated; please see `DriveFolder.type` instead.",
          "enumDescriptions": [
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "TEAM_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "deprecated": true
    },
    "Post": {
      "type": "object",
      "properties": {
        "subtype": {
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED"
          ],
          "enumDescriptions": [
            "Subtype not available.",
            "A post was added.",
            "A post was deleted.",
            "A reply was added.",
            "A reply was deleted.",
            "A posted comment was resolved.",
            "A posted comment was reopened."
          ],
          "description": "The sub-type of this event.",
          "type": "string"
        }
      },
      "description": "A regular posted comment.",
      "id": "Post"
    },
    "TeamDriveReference": {
      "id": "TeamDriveReference",
      "properties": {
        "title": {
          "description": "This field is deprecated; please see `DriveReference.title` instead.",
          "type": "string"
        },
        "name": {
          "description": "This field is deprecated; please see `DriveReference.name` instead.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "This item is deprecated; please see `DriveReference` instead.",
      "deprecated": true
    },
    "ConsolidationStrategy": {
      "description": "How the individual activities are consolidated. If a set of activities is related they can be consolidated into one combined activity, such as one actor performing the same action on multiple targets, or multiple actors performing the same action on a single target. The strategy defines the rules for which activities are related.",
      "id": "ConsolidationStrategy",
      "properties": {
        "none": {
          "description": "The individual activities are not consolidated.",
          "$ref": "NoConsolidation"
        },
        "legacy": {
          "$ref": "Legacy",
          "description": "The individual activities are consolidated using the legacy strategy."
        }
      },
      "type": "object"
    },
    "Administrator": {
      "properties": {},
      "id": "Administrator",
      "description": "Empty message representing an administrator.",
      "type": "object"
    },
    "Suggestion": {
      "description": "A suggestion.",
      "id": "Suggestion",
      "properties": {
        "subtype": {
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "ACCEPTED",
            "REJECTED",
            "ACCEPT_DELETED",
            "REJECT_DELETED"
          ],
          "enumDescriptions": [
            "Subtype not available.",
            "A suggestion was added.",
            "A suggestion was deleted.",
            "A suggestion reply was added.",
            "A suggestion reply was deleted.",
            "A suggestion was accepted.",
            "A suggestion was rejected.",
            "An accepted suggestion was deleted.",
            "A rejected suggestion was deleted."
          ],
          "type": "string",
          "description": "The sub-type of this event."
        }
      },
      "type": "object"
    },
    "Delete": {
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Deletion type is not available.",
            "An object was put into the trash.",
            "An object was deleted permanently."
          ],
          "description": "The type of delete action taken.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TRASH",
            "PERMANENT_DELETE"
          ]
        }
      },
      "description": "An object was deleted.",
      "type": "object",
      "id": "Delete"
    },
    "Domain": {
      "type": "object",
      "id": "Domain",
      "properties": {
        "legacyId": {
          "description": "An opaque string used to identify this domain.",
          "type": "string"
        },
        "name": {
          "description": "The name of the domain, e.g. `google.com`.",
          "type": "string"
        }
      },
      "description": "Information about a domain."
    },
    "Actor": {
      "type": "object",
      "id": "Actor",
      "properties": {
        "impersonation": {
          "description": "An account acting on behalf of another.",
          "$ref": "Impersonation"
        },
        "administrator": {
          "$ref": "Administrator",
          "description": "An administrator."
        },
        "user": {
          "description": "An end user.",
          "$ref": "User"
        },
        "system": {
          "$ref": "SystemEvent",
          "description": "A non-user actor (i.e. system triggered)."
        },
        "anonymous": {
          "description": "An anonymous user.",
          "$ref": "AnonymousUser"
        }
      },
      "description": "The actor of a Drive activity."
    },
    "Selection": {
      "description": "Wrapper for Selection Field value as combined value/display_name pair for selected choice.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Selection value as Field Choice ID.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Selection value as human-readable display string."
        }
      },
      "id": "Selection"
    },
    "Text": {
      "type": "object",
      "description": "Wrapper for Text Field value.",
      "id": "Text",
      "properties": {
        "value": {
          "description": "Value of Text Field.",
          "type": "string"
        }
      }
    },
    "File": {
      "id": "File",
      "description": "This item is deprecated; please see `DriveFile` instead.",
      "type": "object",
      "deprecated": true,
      "properties": {}
    },
    "AppliedLabelChange": {
      "properties": {
        "changes": {
          "type": "array",
          "description": "Changes that were made to the Label on the Target.",
          "items": {
            "$ref": "AppliedLabelChangeDetail"
          }
        }
      },
      "id": "AppliedLabelChange",
      "type": "object",
      "description": "Label changes that were made on the Target."
    },
    "QueryDriveActivityRequest": {
      "id": "QueryDriveActivityRequest",
      "properties": {
        "pageSize": {
          "description": "The minimum number of activities desired in the response; the server attempts to return at least this quantity. The server may also return fewer activities if it has a partial response ready before the request times out. If not set, a default value is used.",
          "type": "integer",
          "format": "int32"
        },
        "pageToken": {
          "description": "The token identifies which page of results to return. Set this to the next_page_token value returned from a previous query to obtain the following page of results. If not set, the first page of results is returned.",
          "type": "string"
        },
        "ancestorName": {
          "type": "string",
          "description": "Return activities for this Drive folder, plus all children and descendants. The format is `items/ITEM_ID`."
        },
        "consolidationStrategy": {
          "description": "Details on how to consolidate related actions that make up the activity. If not set, then related actions aren't consolidated.",
          "$ref": "ConsolidationStrategy"
        },
        "itemName": {
          "description": "Return activities for this Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "The filtering for items returned from this query request. The format of the filter string is a sequence of expressions, joined by an optional \"AND\", where each expression is of the form \"field operator value\". Supported fields: - `time`: Uses numerical operators on date values either in terms of milliseconds since Jan 1, 1970 or in RFC 3339 format. Examples: - `time > 1452409200000 AND time <= 1492812924310` - `time >= \"2016-01-10T01:02:03-05:00\"` - `detail.action_detail_case`: Uses the \"has\" operator (:) and either a singular value or a list of allowed action types enclosed in parentheses, separated by a space. To exclude a result from the response, prepend a hyphen (`-`) to the beginning of the filter string. Examples: - `detail.action_detail_case:RENAME` - `detail.action_detail_case:(CREATE RESTORE)` - `-detail.action_detail_case:MOVE` "
        }
      },
      "type": "object",
      "description": "The request message for querying Drive activity."
    },
    "ActionDetail": {
      "type": "object",
      "id": "ActionDetail",
      "description": "Data describing the type and additional information of an action.",
      "properties": {
        "delete": {
          "description": "An object was deleted.",
          "$ref": "Delete"
        },
        "comment": {
          "description": "A change about comments was made.",
          "$ref": "Comment"
        },
        "move": {
          "description": "An object was moved.",
          "$ref": "Move"
        },
        "settingsChange": {
          "$ref": "SettingsChange",
          "description": "Settings were changed."
        },
        "create": {
          "$ref": "Create",
          "description": "An object was created."
        },
        "permissionChange": {
          "description": "The permission on an object was changed.",
          "$ref": "PermissionChange"
        },
        "edit": {
          "description": "An object was edited.",
          "$ref": "Edit"
        },
        "appliedLabelChange": {
          "description": "Label was changed.",
          "$ref": "AppliedLabelChange"
        },
        "dlpChange": {
          "$ref": "DataLeakPreventionChange",
          "description": "A change happened in data leak prevention status."
        },
        "restore": {
          "description": "A deleted object was restored.",
          "$ref": "Restore"
        },
        "reference": {
          "description": "An object was referenced in an application outside of Drive/Docs.",
          "$ref": "ApplicationReference"
        },
        "rename": {
          "description": "An object was renamed.",
          "$ref": "Rename"
        }
      }
    },
    "DataLeakPreventionChange": {
      "properties": {
        "type": {
          "description": "The type of Data Leak Prevention (DLP) change.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "FLAGGED",
            "CLEARED"
          ],
          "type": "string",
          "enumDescriptions": [
            "An update to the DLP state that is neither FLAGGED or CLEARED.",
            "Document has been flagged as containing sensitive content.",
            "Document is no longer flagged as containing sensitive content."
          ]
        }
      },
      "id": "DataLeakPreventionChange",
      "description": "A change in the object's data leak prevention status.",
      "type": "object"
    },
    "Assignment": {
      "description": "A comment with an assignment.",
      "type": "object",
      "properties": {
        "subtype": {
          "enumDescriptions": [
            "Subtype not available.",
            "An assignment was added.",
            "An assignment was deleted.",
            "An assignment reply was added.",
            "An assignment reply was deleted.",
            "An assignment was resolved.",
            "A resolved assignment was reopened.",
            "An assignment was reassigned."
          ],
          "type": "string",
          "description": "The sub-type of this event.",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED",
            "REASSIGNED"
          ]
        },
        "assignedUser": {
          "$ref": "User",
          "description": "The user to whom the comment was assigned."
        }
      },
      "id": "Assignment"
    },
    "New": {
      "id": "New",
      "type": "object",
      "description": "An object was created from scratch.",
      "properties": {}
    },
    "TimeRange": {
      "description": "Information about time ranges.",
      "id": "TimeRange",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The start of the time range."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The end of the time range.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DriveFolder": {
      "type": "object",
      "id": "DriveFolder",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "SHARED_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ],
          "description": "The type of Drive folder.",
          "enumDescriptions": [
            "The folder type is unknown.",
            "The folder is the root of a user's MyDrive.",
            "The folder is the root of a shared drive.",
            "The folder is a standard, non-root, folder."
          ],
          "type": "string"
        }
      },
      "description": "A Drive item which is a folder."
    },
    "SystemEvent": {
      "id": "SystemEvent",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER_DELETION",
            "TRASH_AUTO_PURGE"
          ],
          "description": "The type of the system event that may triggered activity.",
          "enumDescriptions": [
            "The event type is unspecified.",
            "The event is a consequence of a user account being deleted.",
            "The event is due to the system automatically purging trash."
          ],
          "type": "string"
        }
      },
      "description": "Event triggered by system operations instead of end users.",
      "type": "object"
    },
    "Copy": {
      "id": "Copy",
      "properties": {
        "originalObject": {
          "$ref": "TargetReference",
          "description": "The original object."
        }
      },
      "type": "object",
      "description": "An object was created by copying an existing object."
    },
    "DriveFile": {
      "properties": {},
      "description": "A Drive item which is a file.",
      "id": "DriveFile",
      "type": "object"
    },
    "RestrictionChange": {
      "properties": {
        "feature": {
          "enumDescriptions": [
            "The feature which changed restriction settings was not available.",
            "When restricted, this prevents items from being shared outside the domain.",
            "When restricted, this prevents direct sharing of individual items.",
            "Deprecated: Use READERS_CAN_DOWNLOAD instead.",
            "When restricted, this prevents use of Drive File Stream.",
            "When restricted, this limits sharing of folders to managers only.",
            "When restricted, this prevents actions like copy, download, and print for readers. Replaces ITEM_DUPLICATION.",
            "When restricted, this prevents actions like copy, download, and print for writers."
          ],
          "description": "The feature which had a change in restriction policy.",
          "type": "string",
          "enum": [
            "FEATURE_UNSPECIFIED",
            "SHARING_OUTSIDE_DOMAIN",
            "DIRECT_SHARING",
            "ITEM_DUPLICATION",
            "DRIVE_FILE_STREAM",
            "FILE_ORGANIZER_CAN_SHARE_FOLDERS",
            "READERS_CAN_DOWNLOAD",
            "WRITERS_CAN_DOWNLOAD"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false
          ]
        },
        "newRestriction": {
          "description": "The restriction in place after the change.",
          "enumDescriptions": [
            "The type of restriction is not available.",
            "The feature is available without restriction.",
            "The use of this feature is fully restricted."
          ],
          "enum": [
            "RESTRICTION_UNSPECIFIED",
            "UNRESTRICTED",
            "FULLY_RESTRICTED"
          ],
          "type": "string"
        }
      },
      "description": "Information about restriction policy changes to a feature.",
      "type": "object",
      "id": "RestrictionChange"
    },
    "TextList": {
      "id": "TextList",
      "type": "object",
      "description": "Wrapper for Text List Field value.",
      "properties": {
        "values": {
          "items": {
            "$ref": "Text"
          },
          "description": "Text values.",
          "type": "array"
        }
      }
    },
    "Restore": {
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of restore action taken.",
          "enumDescriptions": [
            "The type is not available.",
            "An object was restored from the trash."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "UNTRASH"
          ]
        }
      },
      "id": "Restore",
      "type": "object",
      "description": "A deleted object was restored."
    },
    "Move": {
      "description": "An object was moved.",
      "properties": {
        "removedParents": {
          "items": {
            "$ref": "TargetReference"
          },
          "type": "array",
          "description": "The removed parent object(s)."
        },
        "addedParents": {
          "description": "The added parent object(s).",
          "type": "array",
          "items": {
            "$ref": "TargetReference"
          }
        }
      },
      "type": "object",
      "id": "Move"
    },
    "QueryDriveActivityResponse": {
      "description": "Response message for querying Drive activity.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "activities": {
          "items": {
            "$ref": "DriveActivity"
          },
          "description": "List of activity requested.",
          "type": "array"
        }
      },
      "id": "QueryDriveActivityResponse"
    },
    "Action": {
      "id": "Action",
      "properties": {
        "detail": {
          "description": "The type and detailed information about the action.",
          "$ref": "ActionDetail"
        },
        "actor": {
          "$ref": "Actor",
          "description": "The actor responsible for this action (or empty if all actors are responsible)."
        },
        "timestamp": {
          "type": "string",
          "description": "The action occurred at this specific time.",
          "format": "google-datetime"
        },
        "timeRange": {
          "$ref": "TimeRange",
          "description": "The action occurred over this time range."
        },
        "target": {
          "description": "The target this action affects (or empty if affecting all targets). This represents the state of the target immediately after this action occurred.",
          "$ref": "Target"
        }
      },
      "type": "object",
      "description": "Information about the action."
    },
    "UserList": {
      "properties": {
        "values": {
          "description": "User values.",
          "type": "array",
          "items": {
            "$ref": "SingleUser"
          }
        }
      },
      "description": "Wrapper for UserList Field value.",
      "type": "object",
      "id": "UserList"
    },
    "Impersonation": {
      "properties": {
        "impersonatedUser": {
          "description": "The impersonated user.",
          "$ref": "User"
        }
      },
      "type": "object",
      "id": "Impersonation",
      "description": "Information about an impersonation, where an admin acts on behalf of an end user. Information about the acting admin is not currently available."
    },
    "NoConsolidation": {
      "type": "object",
      "description": "A strategy that does no consolidation of individual activities.",
      "properties": {},
      "id": "NoConsolidation"
    },
    "DriveReference": {
      "properties": {
        "title": {
          "description": "The title of the shared drive.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name."
        }
      },
      "id": "DriveReference",
      "type": "object",
      "description": "A lightweight reference to a shared drive."
    },
    "Group": {
      "type": "object",
      "id": "Group",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email address of the group."
        },
        "title": {
          "type": "string",
          "description": "The title of the group."
        }
      },
      "description": "Information about a group."
    },
    "UnknownUser": {
      "type": "object",
      "properties": {},
      "id": "UnknownUser",
      "description": "A user about whom nothing is currently known."
    },
    "DeletedUser": {
      "type": "object",
      "properties": {},
      "description": "A user whose account has since been deleted.",
      "id": "DeletedUser"
    },
    "AnonymousUser": {
      "id": "AnonymousUser",
      "properties": {},
      "description": "Empty message representing an anonymous user or indicating the authenticated user should be anonymized.",
      "type": "object"
    },
    "SingleUser": {
      "properties": {
        "value": {
          "type": "string",
          "description": "User value as email."
        }
      },
      "type": "object",
      "description": "Wrapper for User Field value.",
      "id": "SingleUser"
    },
    "Target": {
      "id": "Target",
      "description": "Information about the target of activity. For more information on how activity history is shared with users, see [Activity history visibility](https://developers.google.com/workspace/drive/activity/v2#activityhistory).",
      "type": "object",
      "properties": {
        "driveItem": {
          "description": "The target is a Drive item.",
          "$ref": "DriveItem"
        },
        "teamDrive": {
          "deprecated": true,
          "description": "This field is deprecated; please use the `drive` field instead.",
          "$ref": "TeamDrive"
        },
        "drive": {
          "$ref": "Drive",
          "description": "The target is a shared drive."
        },
        "fileComment": {
          "$ref": "FileComment",
          "description": "The target is a comment on a Drive file."
        }
      }
    },
    "FileComment": {
      "type": "object",
      "id": "FileComment",
      "description": "A comment on a file.",
      "properties": {
        "parent": {
          "$ref": "DriveItem",
          "description": "The Drive item containing this comment."
        },
        "linkToDiscussion": {
          "type": "string",
          "description": "The link to the discussion thread containing this comment, for example, `https://docs.google.com/DOCUMENT_ID/edit?disco=THREAD_ID`."
        },
        "legacyCommentId": {
          "description": "The comment in the discussion thread. This identifier is an opaque string compatible with the Drive API; see https://developers.google.com/workspace/drive/v3/reference/comments/get",
          "type": "string"
        },
        "legacyDiscussionId": {
          "description": "The discussion thread to which the comment was added. This identifier is an opaque string compatible with the Drive API and references the first comment in a discussion; see https://developers.google.com/workspace/drive/v3/reference/comments/get",
          "type": "string"
        }
      }
    },
    "Edit": {
      "description": "An empty message indicating an object was edited.",
      "type": "object",
      "id": "Edit",
      "properties": {}
    },
    "SettingsChange": {
      "type": "object",
      "properties": {
        "restrictionChanges": {
          "items": {
            "$ref": "RestrictionChange"
          },
          "description": "The set of changes made to restrictions.",
          "type": "array"
        }
      },
      "description": "Information about settings changes.",
      "id": "SettingsChange"
    },
    "FieldValue": {
      "properties": {
        "text": {
          "description": "Text Field value.",
          "$ref": "Text"
        },
        "textList": {
          "$ref": "TextList",
          "description": "Text List Field value."
        },
        "date": {
          "$ref": "Date",
          "description": "Date Field value."
        },
        "selectionList": {
          "description": "Selection List Field value.",
          "$ref": "SelectionList"
        },
        "userList": {
          "description": "User List Field value.",
          "$ref": "UserList"
        },
        "selection": {
          "$ref": "Selection",
          "description": "Selection Field value."
        },
        "integer": {
          "description": "Integer Field value.",
          "$ref": "Integer"
        },
        "user": {
          "$ref": "SingleUser",
          "description": "User Field value."
        }
      },
      "description": "Contains a value of a Field.",
      "id": "FieldValue",
      "type": "object"
    },
    "Drive": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name."
        },
        "title": {
          "description": "The title of the shared drive.",
          "type": "string"
        },
        "root": {
          "description": "The root of this shared drive.",
          "$ref": "DriveItem"
        }
      },
      "id": "Drive",
      "description": "Information about a shared drive."
    },
    "AppliedLabelChangeDetail": {
      "type": "object",
      "id": "AppliedLabelChangeDetail",
      "properties": {
        "fieldChanges": {
          "type": "array",
          "description": "Field Changes. Only present if `types` contains `LABEL_FIELD_VALUE_CHANGED`.",
          "items": {
            "$ref": "FieldValueChange"
          }
        },
        "label": {
          "description": "The Label name representing the Label that changed. This name always contains the revision of the Label that was used when this Action occurred. The format is `labels/id@revision`.",
          "type": "string"
        },
        "title": {
          "description": "The human-readable title of the label that changed.",
          "type": "string"
        },
        "types": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The type of change to this Label is not available.",
              "The identified Label was added to the Target.",
              "The identified Label was removed from the Target.",
              "Field values were changed on the Target.",
              "The Label was applied as a side-effect of Drive item creation."
            ],
            "enum": [
              "TYPE_UNSPECIFIED",
              "LABEL_ADDED",
              "LABEL_REMOVED",
              "LABEL_FIELD_VALUE_CHANGED",
              "LABEL_APPLIED_BY_ITEM_CREATE"
            ]
          },
          "description": "The types of changes made to the Label on the Target."
        }
      },
      "description": "A change made to a Label on the Target."
    },
    "Comment": {
      "type": "object",
      "description": "A change about comments on an object.",
      "properties": {
        "post": {
          "description": "A change on a regular posted comment.",
          "$ref": "Post"
        },
        "mentionedUsers": {
          "type": "array",
          "items": {
            "$ref": "User"
          },
          "description": "Users who are mentioned in this comment."
        },
        "assignment": {
          "description": "A change on an assignment.",
          "$ref": "Assignment"
        },
        "suggestion": {
          "description": "A change on a suggestion.",
          "$ref": "Suggestion"
        }
      },
      "id": "Comment"
    },
    "DriveItem": {
      "description": "A Drive item, such as a file or folder.",
      "properties": {
        "driveFile": {
          "$ref": "DriveFile",
          "description": "The Drive item is a file."
        },
        "owner": {
          "$ref": "Owner",
          "description": "Information about the owner of this Drive item."
        },
        "folder": {
          "description": "This field is deprecated; please use the `driveFolder` field instead.",
          "deprecated": true,
          "$ref": "Folder"
        },
        "mimeType": {
          "description": "The MIME type of the Drive item. See https://developers.google.com/workspace/drive/v3/web/mime-types.",
          "type": "string"
        },
        "title": {
          "description": "The title of the Drive item.",
          "type": "string"
        },
        "file": {
          "description": "This field is deprecated; please use the `driveFile` field instead.",
          "$ref": "File",
          "deprecated": true
        },
        "name": {
          "description": "The target Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "driveFolder": {
          "description": "The Drive item is a folder. Includes information about the type of folder.",
          "$ref": "DriveFolder"
        }
      },
      "id": "DriveItem",
      "type": "object"
    },
    "Permission": {
      "properties": {
        "anyone": {
          "$ref": "Anyone",
          "description": "If set, this permission applies to anyone, even logged out users."
        },
        "allowDiscovery": {
          "description": "If true, the item can be discovered (e.g. in the user's \"Shared with me\" collection) without needing a link to the item.",
          "type": "boolean"
        },
        "domain": {
          "description": "The domain to whom this permission applies.",
          "$ref": "Domain"
        },
        "role": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "ORGANIZER",
            "FILE_ORGANIZER",
            "EDITOR",
            "COMMENTER",
            "VIEWER",
            "PUBLISHED_VIEWER"
          ],
          "enumDescriptions": [
            "The role is not available.",
            "A role granting full access.",
            "A role granting the ability to manage people and settings.",
            "A role granting the ability to contribute and manage content.",
            "A role granting the ability to contribute content. This role is sometimes also known as \"writer\".",
            "A role granting the ability to view and comment on content.",
            "A role granting the ability to view content. This role is sometimes also known as \"reader\".",
            "A role granting the ability to view content only after it has been published to the web. This role is sometimes also known as \"published reader\". See https://support.google.com/sites/answer/6372880 for more information."
          ],
          "description": "Indicates the [Google Drive permissions role](https://developers.google.com/workspace/drive/web/manage-sharing#roles). The role determines a user's ability to read, write, and comment on items.",
          "type": "string"
        },
        "user": {
          "$ref": "User",
          "description": "The user to whom this permission applies."
        },
        "group": {
          "$ref": "Group",
          "description": "The group to whom this permission applies."
        }
      },
      "description": "The permission setting of an object.",
      "type": "object",
      "id": "Permission"
    },
    "Integer": {
      "id": "Integer",
      "type": "object",
      "description": "Wrapper for Integer Field value.",
      "properties": {
        "value": {
          "description": "Integer value.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "Create": {
      "id": "Create",
      "type": "object",
      "description": "An object was created.",
      "properties": {
        "copy": {
          "$ref": "Copy",
          "description": "If present, indicates the object was created by copying an existing Drive object."
        },
        "upload": {
          "$ref": "Upload",
          "description": "If present, indicates the object originated externally and was uploaded to Drive."
        },
        "new": {
          "description": "If present, indicates the object was newly created (e.g. as a blank document), not derived from a Drive object or external object.",
          "$ref": "New"
        }
      }
    },
    "PermissionChange": {
      "description": "A change of the permission setting on an item.",
      "id": "PermissionChange",
      "type": "object",
      "properties": {
        "addedPermissions": {
          "type": "array",
          "description": "The set of permissions added by this change.",
          "items": {
            "$ref": "Permission"
          }
        },
        "removedPermissions": {
          "type": "array",
          "description": "The set of permissions removed by this change.",
          "items": {
            "$ref": "Permission"
          }
        }
      }
    },
    "KnownUser": {
      "description": "A known user.",
      "id": "KnownUser",
      "type": "object",
      "properties": {
        "personName": {
          "description": "The identifier for this user that can be used with the People API to get more information. The format is `people/ACCOUNT_ID`. See https://developers.google.com/people/.",
          "type": "string"
        },
        "isCurrentUser": {
          "description": "True if this is the user making the request.",
          "type": "boolean"
        }
      }
    },
    "Anyone": {
      "description": "Represents any user (including a logged out user).",
      "type": "object",
      "properties": {},
      "id": "Anyone"
    }
  },
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://driveactivity.mtls.googleapis.com/",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "id": "driveactivity:v2",
  "rootUrl": "https://driveactivity.googleapis.com/",
  "baseUrl": "https://driveactivity.googleapis.com/",
  "protocol": "rest",
  "title": "Drive Activity API",
  "revision": "20260831",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.activity": {
          "description": "View and add to the activity record of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.activity.readonly": {
          "description": "View the activity record of files in your Google Drive"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/workspace/drive/activity/",
  "resources": {
    "activity": {
      "methods": {
        "query": {
          "httpMethod": "POST",
          "parameters": {},
          "description": "Query past activity in Google Drive.",
          "request": {
            "$ref": "QueryDriveActivityRequest"
          },
          "parameterOrder": [],
          "id": "driveactivity.activity.query",
          "scopes": [
            "https://www.googleapis.com/auth/drive.activity",
            "https://www.googleapis.com/auth/drive.activity.readonly"
          ],
          "path": "v2/activity:query",
          "response": {
            "$ref": "QueryDriveActivityResponse"
          },
          "flatPath": "v2/activity:query"
        }
      }
    }
  },
  "canonicalName": "Drive Activity"
}