{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.metadata": {
          "description": "View and manage metadata of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.meet.readonly": {
          "description": "See and download your Google Drive files that were created or edited by Google Meet."
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/drive.scripts": {
          "description": "Modify your Google Apps Script scripts' behavior"
        },
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "See, create, and delete its own configuration data in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.metadata.readonly": {
          "description": "See information about your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.apps.readonly": {
          "description": "View your Google Drive apps"
        },
        "https://www.googleapis.com/auth/drive.photos.readonly": {
          "description": "View the photos, videos and albums in your Google Photos"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/workspace/drive/",
  "servicePath": "drive/v3/",
  "protocol": "rest",
  "name": "drive",
  "revision": "20260904",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "drive:v3",
  "description": "The Google Drive API allows clients to access resources from Google Drive.",
  "discoveryVersion": "v1",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    }
  },
  "ownerName": "Google",
  "rootUrl": "https://www.googleapis.com/",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "version": "v3",
  "resources": {
    "approvals": {
      "methods": {
        "cancel": {
          "parameterOrder": [
            "fileId",
            "approvalId"
          ],
          "request": {
            "$ref": "CancelApprovalRequest"
          },
          "httpMethod": "POST",
          "description": "Cancels an approval. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals). Updates the approval Status to `CANCELLED`. This can be called by any user with the `writer` permission on the file while the approval Status is `IN_PROGRESS`.",
          "id": "drive.approvals.cancel",
          "response": {
            "$ref": "Approval"
          },
          "flatPath": "files/{fileId}/approvals/{approvalId}:cancel",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "parameters": {
            "approvalId": {
              "required": true,
              "description": "Required. The ID of the approval to cancel.",
              "type": "string",
              "location": "path"
            },
            "fileId": {
              "required": true,
              "description": "Required. The ID of the file that the approval is on.",
              "location": "path",
              "type": "string"
            }
          },
          "path": "files/{fileId}/approvals/{approvalId}:cancel"
        },
        "get": {
          "response": {
            "$ref": "Approval"
          },
          "flatPath": "files/{fileId}/approvals/{approvalId}",
          "id": "drive.approvals.get",
          "parameters": {
            "fileId": {
              "type": "string",
              "location": "path",
              "description": "Required. The ID of the file that the approval is on.",
              "required": true
            },
            "approvalId": {
              "required": true,
              "description": "Required. The ID of the approval.",
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "path": "files/{fileId}/approvals/{approvalId}",
          "description": "Gets an approval by ID. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals).",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "fileId",
            "approvalId"
          ]
        },
        "approve": {
          "path": "files/{fileId}/approvals/{approvalId}:approve",
          "description": "Approves an approval. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals). This is used to update the ReviewerResponse of the requesting user with a Response of `APPROVED`. If this is the last required reviewer response, this also completes the approval and sets the approval Status to `APPROVED`.",
          "response": {
            "$ref": "Approval"
          },
          "parameterOrder": [
            "fileId",
            "approvalId"
          ],
          "flatPath": "files/{fileId}/approvals/{approvalId}:approve",
          "parameters": {
            "approvalId": {
              "description": "Required. The ID of the approval to approve.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "fileId": {
              "type": "string",
              "required": true,
              "description": "Required. The ID of the file that the approval is on.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "ApproveApprovalRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "id": "drive.approvals.approve"
        },
        "list": {
          "description": "Lists the approvals on a file. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals). By default, this method returns a minimal response that may not include the items array. To retrieve approval details, you must explicitly specify the fields you want using the `fields` query parameter. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter).",
          "httpMethod": "GET",
          "path": "files/{fileId}/approvals",
          "parameterOrder": [
            "fileId"
          ],
          "flatPath": "files/{fileId}/approvals",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "description": "The maximum number of approvals to return. When not set, at most 100 approvals are returned.",
              "location": "query",
              "format": "int32"
            },
            "fileId": {
              "description": "Required. The ID of the file that the approval is on.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "ApprovalList"
          },
          "id": "drive.approvals.list"
        },
        "reassign": {
          "parameters": {
            "fileId": {
              "description": "Required. The ID of the file that the approval is on.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "approvalId": {
              "location": "path",
              "description": "Required. The ID of the approval to reassign.",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "files/{fileId}/approvals/{approvalId}:reassign",
          "path": "files/{fileId}/approvals/{approvalId}:reassign",
          "response": {
            "$ref": "Approval"
          },
          "parameterOrder": [
            "fileId",
            "approvalId"
          ],
          "request": {
            "$ref": "ReassignApprovalRequest"
          },
          "id": "drive.approvals.reassign",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "description": "Reassigns the reviewers on an approval. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals). Adds or replaces reviewers in the ReviewerResponse of the approval. This can be called by any user with the `writer` permission on the file while the approval Status is `IN_PROGRESS` and the Response for the reviewer being reassigned is `NO_RESPONSE`. A user with the `reader` permission can only reassign an approval that's assigned to themselves. Removing a reviewer isn't allowed.",
          "httpMethod": "POST"
        },
        "decline": {
          "httpMethod": "POST",
          "path": "files/{fileId}/approvals/{approvalId}:decline",
          "parameterOrder": [
            "fileId",
            "approvalId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "description": "Declines an approval. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals). This is used to update the ReviewerResponse of the requesting user with a Response of `DECLINED`. This also completes the approval and sets the approval Status to `DECLINED`.",
          "flatPath": "files/{fileId}/approvals/{approvalId}:decline",
          "id": "drive.approvals.decline",
          "request": {
            "$ref": "DeclineApprovalRequest"
          },
          "parameters": {
            "fileId": {
              "location": "path",
              "description": "Required. The ID of the file that the approval is on.",
              "type": "string",
              "required": true
            },
            "approvalId": {
              "required": true,
              "description": "Required. The ID of the approval to decline.",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Approval"
          }
        },
        "comment": {
          "httpMethod": "POST",
          "parameterOrder": [
            "fileId",
            "approvalId"
          ],
          "id": "drive.approvals.comment",
          "description": "Comments on an approval. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals). This sends a notification to both the initiator and the reviewers. Additionally, a message is also added to the approval activity log.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "response": {
            "$ref": "Approval"
          },
          "path": "files/{fileId}/approvals/{approvalId}:comment",
          "flatPath": "files/{fileId}/approvals/{approvalId}:comment",
          "request": {
            "$ref": "CommentApprovalRequest"
          },
          "parameters": {
            "fileId": {
              "type": "string",
              "location": "path",
              "description": "Required. The ID of the file that the approval is on.",
              "required": true
            },
            "approvalId": {
              "description": "Required. The ID of the approval to comment on.",
              "location": "path",
              "type": "string",
              "required": true
            }
          }
        },
        "start": {
          "id": "drive.approvals.start",
          "httpMethod": "POST",
          "description": "Starts an approval on a file. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals).",
          "path": "files/{fileId}/approvals:start",
          "flatPath": "files/{fileId}/approvals:start",
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "request": {
            "$ref": "StartApprovalRequest"
          },
          "parameters": {
            "fileId": {
              "type": "string",
              "location": "path",
              "description": "Required. The ID of the file that the approval is created on.",
              "required": true
            }
          },
          "response": {
            "$ref": "Approval"
          }
        }
      }
    },
    "permissions": {
      "methods": {
        "create": {
          "response": {
            "$ref": "Permission"
          },
          "parameters": {
            "supportsAllDrives": {
              "type": "boolean",
              "location": "query",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "transferOwnership": {
              "default": "false",
              "type": "boolean",
              "description": "Whether to transfer ownership to the specified user and downgrade the current owner to a writer. This parameter is required as an acknowledgement of the side effect. For more information, see [Transfer file ownership](https://developers.google.com/workspace/drive/api/guides/transfer-file).",
              "location": "query"
            },
            "emailMessage": {
              "description": "A plain text custom message to include in the notification email.",
              "type": "string",
              "location": "query"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "location": "query",
              "deprecated": true,
              "type": "boolean"
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the file or shared drive.",
              "required": true
            },
            "enforceSingleParent": {
              "location": "query",
              "description": "Deprecated: See `moveToNewOwnersRoot` for details.",
              "default": "false",
              "type": "boolean",
              "deprecated": true
            },
            "moveToNewOwnersRoot": {
              "description": "This parameter only takes effect if the item isn't in a shared drive and the request is attempting to transfer the ownership of the item. If set to `true`, the item is moved to the new owner's My Drive root folder and all prior parents removed. If set to `false`, parents aren't changed.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "useDomainAdminAccess": {
              "location": "query",
              "description": "Issue the request as a domain administrator. If set to `true`, and if the following additional conditions are met, the requester is granted access: 1. The file ID parameter refers to a shared drive. 2. The requester is an administrator of the domain to which the shared drive belongs. For more information, see [Manage shared drives as domain administrators](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives#manage-administrators).",
              "default": "false",
              "type": "boolean"
            },
            "sendNotificationEmail": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to send a notification email when sharing to users or groups. This defaults to `true` for users and groups, and is not allowed for other requests. It must not be disabled for ownership transfers."
            },
            "enforceExpansiveAccess": {
              "default": "false",
              "deprecated": true,
              "description": "Deprecated: All requests use the expansive access rules.",
              "location": "query",
              "type": "boolean"
            }
          },
          "flatPath": "files/{fileId}/permissions",
          "id": "drive.permissions.create",
          "parameterOrder": [
            "fileId"
          ],
          "request": {
            "$ref": "Permission"
          },
          "description": "Creates a permission for a file or shared drive. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing). **Warning:** Concurrent permissions operations on the same file aren't supported; only the last update is applied.",
          "path": "files/{fileId}/permissions",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "get": {
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.permissions.get",
          "httpMethod": "GET",
          "path": "files/{fileId}/permissions/{permissionId}",
          "parameters": {
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "type": "string",
              "required": true
            },
            "permissionId": {
              "description": "The ID of the permission.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "supportsAllDrives": {
              "default": "false",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "deprecated": true,
              "location": "query"
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator. If set to `true`, and if the following additional conditions are met, the requester is granted access: 1. The file ID parameter refers to a shared drive. 2. The requester is an administrator of the domain to which the shared drive belongs. For more information, see [Manage shared drives as domain administrators](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives#manage-administrators).",
              "location": "query",
              "type": "boolean",
              "default": "false"
            }
          },
          "response": {
            "$ref": "Permission"
          },
          "description": "Gets a permission by ID. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing).",
          "flatPath": "files/{fileId}/permissions/{permissionId}"
        },
        "list": {
          "path": "files/{fileId}/permissions",
          "httpMethod": "GET",
          "description": "Lists a file's or shared drive's permissions. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing).",
          "flatPath": "files/{fileId}/permissions",
          "parameters": {
            "supportsAllDrives": {
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean"
            },
            "pageSize": {
              "maximum": "100",
              "format": "int32",
              "minimum": "1",
              "description": "The maximum number of permissions to return. The service may return fewer than this value. If unspecified, at most 100 permissions will be returned for shared drives, and the entire list of permissions for non-shared drives. The maximum value is 100; values above 100 will be coerced to 100.",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.",
              "location": "query",
              "type": "string"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "includePermissionsForView": {
              "type": "string",
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "useDomainAdminAccess": {
              "default": "false",
              "type": "boolean",
              "description": "Issue the request as a domain administrator. If set to `true`, and if the following additional conditions are met, the requester is granted access: 1. The file ID parameter refers to a shared drive. 2. The requester is an administrator of the domain to which the shared drive belongs. For more information, see [Manage shared drives as domain administrators](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives#manage-administrators).",
              "location": "query"
            },
            "fileId": {
              "type": "string",
              "description": "The ID of the file or shared drive.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "PermissionList"
          },
          "id": "drive.permissions.list"
        },
        "delete": {
          "httpMethod": "DELETE",
          "description": "Deletes a permission. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing). **Warning:** Concurrent permissions operations on the same file aren't supported; only the last update is applied.",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "path": "files/{fileId}/permissions/{permissionId}",
          "id": "drive.permissions.delete",
          "parameters": {
            "permissionId": {
              "description": "The ID of the permission.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "fileId": {
              "type": "string",
              "description": "The ID of the file or shared drive.",
              "required": true,
              "location": "path"
            },
            "useDomainAdminAccess": {
              "location": "query",
              "description": "Issue the request as a domain administrator. If set to `true`, and if the following additional conditions are met, the requester is granted access: 1. The file ID parameter refers to a shared drive. 2. The requester is an administrator of the domain to which the shared drive belongs. For more information, see [Manage shared drives as domain administrators](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives#manage-administrators).",
              "type": "boolean",
              "default": "false"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "enforceExpansiveAccess": {
              "deprecated": true,
              "description": "Deprecated: All requests use the expansive access rules.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "location": "query",
              "default": "false",
              "deprecated": true
            }
          }
        },
        "update": {
          "response": {
            "$ref": "Permission"
          },
          "parameters": {
            "transferOwnership": {
              "default": "false",
              "type": "boolean",
              "description": "Whether to transfer ownership to the specified user and downgrade the current owner to a writer. This parameter is required as an acknowledgement of the side effect. For more information, see [Transfer file ownership](https://developers.google.com//workspace/drive/api/guides/transfer-file).",
              "location": "query"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "description": "Issue the request as a domain administrator. If set to `true`, and if the following additional conditions are met, the requester is granted access: 1. The file ID parameter refers to a shared drive. 2. The requester is an administrator of the domain to which the shared drive belongs. For more information, see [Manage shared drives as domain administrators](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives#manage-administrators).",
              "type": "boolean",
              "location": "query"
            },
            "enforceExpansiveAccess": {
              "location": "query",
              "type": "boolean",
              "description": "Deprecated: All requests use the expansive access rules.",
              "deprecated": true,
              "default": "false"
            },
            "permissionId": {
              "type": "string",
              "required": true,
              "description": "The ID of the permission.",
              "location": "path"
            },
            "supportsAllDrives": {
              "default": "false",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query"
            },
            "fileId": {
              "description": "The ID of the file or shared drive.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "default": "false"
            },
            "removeExpiration": {
              "location": "query",
              "description": "Whether to remove the expiration date.",
              "default": "false",
              "type": "boolean"
            }
          },
          "request": {
            "$ref": "Permission"
          },
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "description": "Updates a permission with patch semantics. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing). **Warning:** Concurrent permissions operations on the same file aren't supported; only the last update is applied.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.permissions.update",
          "path": "files/{fileId}/permissions/{permissionId}",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ]
        }
      }
    },
    "accessproposals": {
      "methods": {
        "list": {
          "flatPath": "files/{fileId}/accessproposals",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. The continuation token on the list of access requests."
            },
            "fileId": {
              "required": true,
              "type": "string",
              "description": "Required. The ID of the item the request is on.",
              "location": "path"
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Optional. The number of results per page."
            }
          },
          "id": "drive.accessproposals.list",
          "response": {
            "$ref": "ListAccessProposalsResponse"
          },
          "parameterOrder": [
            "fileId"
          ],
          "httpMethod": "GET",
          "description": "List the access proposals on a file. For more information, see [Manage pending access proposals](https://developers.google.com/workspace/drive/api/guides/pending-access). Note: Only approvers are able to list access proposals on a file. If the user isn't an approver, a 403 error is returned.",
          "path": "files/{fileId}/accessproposals",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "fileId",
            "proposalId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.accessproposals.get",
          "description": "Retrieves an access proposal by ID. For more information, see [Manage pending access proposals](https://developers.google.com/workspace/drive/api/guides/pending-access).",
          "response": {
            "$ref": "AccessProposal"
          },
          "path": "files/{fileId}/accessproposals/{proposalId}",
          "flatPath": "files/{fileId}/accessproposals/{proposalId}",
          "parameters": {
            "proposalId": {
              "location": "path",
              "description": "Required. The ID of the access proposal to resolve.",
              "type": "string",
              "required": true
            },
            "fileId": {
              "location": "path",
              "description": "Required. The ID of the item the request is on.",
              "required": true,
              "type": "string"
            }
          }
        },
        "resolve": {
          "parameterOrder": [
            "fileId",
            "proposalId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.accessproposals.resolve",
          "flatPath": "files/{fileId}/accessproposals/{proposalId}:resolve",
          "parameters": {
            "fileId": {
              "type": "string",
              "required": true,
              "description": "Required. The ID of the item the request is on.",
              "location": "path"
            },
            "proposalId": {
              "type": "string",
              "description": "Required. The ID of the access proposal to resolve.",
              "required": true,
              "location": "path"
            }
          },
          "path": "files/{fileId}/accessproposals/{proposalId}:resolve",
          "description": "Approves or denies an access proposal. For more information, see [Manage pending access proposals](https://developers.google.com/workspace/drive/api/guides/pending-access).",
          "httpMethod": "POST",
          "request": {
            "$ref": "ResolveAccessProposalRequest"
          }
        }
      }
    },
    "drives": {
      "methods": {
        "update": {
          "parameters": {
            "useDomainAdminAccess": {
              "location": "query",
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "type": "boolean"
            },
            "driveId": {
              "description": "The ID of the shared drive.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "request": {
            "$ref": "Drive"
          },
          "path": "drives/{driveId}",
          "parameterOrder": [
            "driveId"
          ],
          "description": "Updates the metadata for a shared drive. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).",
          "id": "drive.drives.update",
          "flatPath": "drives/{driveId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "response": {
            "$ref": "Drive"
          },
          "httpMethod": "PATCH"
        },
        "unhide": {
          "flatPath": "drives/{driveId}/unhide",
          "description": "Restores a shared drive to the default view. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).",
          "parameters": {
            "driveId": {
              "description": "The ID of the shared drive.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "id": "drive.drives.unhide",
          "response": {
            "$ref": "Drive"
          },
          "path": "drives/{driveId}/unhide",
          "parameterOrder": [
            "driveId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        },
        "hide": {
          "path": "drives/{driveId}/hide",
          "description": "Hides a shared drive from the default view. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).",
          "parameterOrder": [
            "driveId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "id": "drive.drives.hide",
          "parameters": {
            "driveId": {
              "required": true,
              "description": "The ID of the shared drive.",
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "drives/{driveId}/hide",
          "response": {
            "$ref": "Drive"
          }
        },
        "create": {
          "path": "drives",
          "parameterOrder": [
            "requestId"
          ],
          "parameters": {
            "requestId": {
              "type": "string",
              "required": true,
              "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a shared drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same shared drive. If the shared drive already exists a 409 error will be returned.",
              "location": "query"
            }
          },
          "flatPath": "drives",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "Drive"
          },
          "response": {
            "$ref": "Drive"
          },
          "id": "drive.drives.create",
          "description": "Creates a shared drive. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives)."
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Gets a shared drive's metadata by ID. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).",
          "parameters": {
            "useDomainAdminAccess": {
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "default": "false",
              "location": "query"
            },
            "driveId": {
              "required": true,
              "description": "The ID of the shared drive.",
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "drives/{driveId}",
          "parameterOrder": [
            "driveId"
          ],
          "id": "drive.drives.get",
          "httpMethod": "GET",
          "path": "drives/{driveId}",
          "response": {
            "$ref": "Drive"
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": " Lists the user's shared drives. This method accepts the `q` parameter, which is a search query combining one or more search terms. For more information, see the [Search for shared drives](https://developers.google.com/workspace/drive/api/guides/search-shareddrives) guide.",
          "id": "drive.drives.list",
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "default": "10",
              "minimum": "1",
              "maximum": "100",
              "type": "integer",
              "description": "The maximum number of shared drives to return. The service may return fewer than this value. If unspecified, at most 10 shared drives will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "description": "Page token for shared drives.",
              "location": "query",
              "type": "string"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then all shared drives of the domain in which the requester is an administrator are returned.",
              "type": "boolean",
              "location": "query"
            },
            "q": {
              "description": "Query string for searching shared drives.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "drives",
          "path": "drives",
          "response": {
            "$ref": "DriveList"
          }
        },
        "delete": {
          "parameterOrder": [
            "driveId"
          ],
          "path": "drives/{driveId}",
          "flatPath": "drives/{driveId}",
          "httpMethod": "DELETE",
          "description": "Permanently deletes a shared drive for which the user is an `organizer`. The shared drive cannot contain any untrashed items. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).",
          "parameters": {
            "driveId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the shared drive.",
              "required": true
            },
            "useDomainAdminAccess": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs."
            },
            "allowItemDeletion": {
              "location": "query",
              "description": "Whether any items inside the shared drive should also be deleted. This option is only supported when `useDomainAdminAccess` is also set to `true`.",
              "type": "boolean",
              "default": "false"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "id": "drive.drives.delete"
        }
      }
    },
    "files": {
      "methods": {
        "export": {
          "flatPath": "files/{fileId}/export",
          "description": "Exports a Google Workspace document to the requested MIME type and returns exported byte content. For more information, see [Download and export files](https://developers.google.com/workspace/drive/api/guides/manage-downloads). Note that the exported content is limited to 10 MB.",
          "httpMethod": "GET",
          "supportsMediaDownload": true,
          "useMediaDownloadService": true,
          "id": "drive.files.export",
          "path": "files/{fileId}/export",
          "parameters": {
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "type": "string",
              "location": "path"
            },
            "mimeType": {
              "required": true,
              "type": "string",
              "location": "query",
              "description": "Required. The MIME type of the format requested for this export. For a list of supported MIME types, see [Export MIME types for Google Workspace documents](/workspace/drive/api/guides/ref-export-formats)."
            }
          },
          "parameterOrder": [
            "fileId",
            "mimeType"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "generateIds": {
          "path": "files/generateIds",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "httpMethod": "GET",
          "parameters": {
            "space": {
              "description": "The space in which the IDs can be used to create files. Supported values are `drive` and `appDataFolder`. (Default: `drive`.) For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization).",
              "type": "string",
              "location": "query",
              "default": "drive"
            },
            "count": {
              "minimum": "1",
              "default": "10",
              "maximum": "1000",
              "type": "integer",
              "description": "The number of IDs to return.",
              "format": "int32",
              "location": "query"
            },
            "type": {
              "location": "query",
              "description": "The type of items which the IDs can be used for. Supported values are `files` and `shortcuts`. Note that `shortcuts` are only supported in the `drive` `space`. (Default: `files`.) For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization).",
              "type": "string",
              "default": "files"
            }
          },
          "parameterOrder": [],
          "description": "Generates a set of file IDs which can be provided in create or copy requests. For more information, see [Create and manage files](https://developers.google.com/workspace/drive/api/guides/create-file).",
          "flatPath": "files/generateIds",
          "id": "drive.files.generateIds",
          "response": {
            "$ref": "GeneratedIds"
          }
        },
        "get": {
          "id": "drive.files.get",
          "useMediaDownloadService": true,
          "httpMethod": "GET",
          "response": {
            "$ref": "File"
          },
          "flatPath": "files/{fileId}",
          "description": " Gets a file's metadata or content by ID. For more information, see [Search for files and folders](https://developers.google.com/workspace/drive/api/guides/search-files). If you provide the URL parameter `alt=media`, then the response includes the file contents in the response body. Downloading content with `alt=media` only works if the file is stored in Drive. To download Google Docs, Sheets, and Slides use [`files.export`](https://developers.google.com/workspace/drive/api/reference/rest/v3/files/export) instead. For more information, see [Download and export files](https://developers.google.com/workspace/drive/api/guides/manage-downloads).",
          "parameterOrder": [
            "fileId"
          ],
          "path": "files/{fileId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "supportsMediaDownload": true,
          "parameters": {
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string",
              "location": "query"
            },
            "supportsAllDrives": {
              "location": "query",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "default": "false"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string",
              "location": "query"
            },
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "acknowledgeAbuse": {
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            }
          },
          "supportsSubscription": true
        },
        "download": {
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "mimeType": {
              "location": "query",
              "description": "Optional. The MIME type the file should be downloaded as. This field can only be set when downloading Google Workspace documents. For a list of supported MIME types, see [Export MIME types for Google Workspace documents](/workspace/drive/api/guides/ref-export-formats). If not set, a Google Workspace document is downloaded with a default MIME type. The default MIME type might change in the future.",
              "type": "string"
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The ID of the file to download."
            },
            "revisionId": {
              "location": "query",
              "description": "Optional. The revision ID of the file to download. This field can only be set when downloading blob files, Google Docs, and Google Sheets. Returns `INVALID_ARGUMENT` if downloading a specific revision on the file is unsupported.",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "path": "files/{fileId}/download",
          "description": "Downloads the content of a file. For more information, see [Download and export files](https://developers.google.com/workspace/drive/api/guides/manage-downloads). Operations are valid for 24 hours from the time of creation.",
          "response": {
            "$ref": "Operation"
          },
          "id": "drive.files.download",
          "flatPath": "files/{fileId}/download"
        },
        "update": {
          "flatPath": "files/{fileId}",
          "supportsMediaUpload": true,
          "parameterOrder": [
            "fileId"
          ],
          "id": "drive.files.update",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.scripts"
          ],
          "response": {
            "$ref": "File"
          },
          "request": {
            "$ref": "File"
          },
          "parameters": {
            "useContentAsIndexableText": {
              "location": "query",
              "description": "Whether to use the uploaded content as indexable text.",
              "type": "boolean",
              "default": "false"
            },
            "removeParents": {
              "description": "A comma-separated list of parent IDs to remove.",
              "location": "query",
              "type": "string"
            },
            "enforceSingleParent": {
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use shortcuts instead.",
              "default": "false",
              "location": "query",
              "type": "boolean",
              "deprecated": true
            },
            "keepRevisionForever": {
              "type": "boolean",
              "description": "Whether to set the `keepForever` field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions.",
              "default": "false",
              "location": "query"
            },
            "ocrLanguage": {
              "location": "query",
              "description": "A language hint for OCR processing during image import (ISO 639-1 code).",
              "type": "string"
            },
            "includeLabels": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "default": "false",
              "deprecated": true,
              "location": "query"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string",
              "location": "query"
            },
            "fileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the file."
            },
            "addParents": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of parent IDs to add."
            },
            "supportsAllDrives": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            }
          },
          "path": "files/{fileId}",
          "httpMethod": "PATCH",
          "description": " Updates a file's metadata, content, or both. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might be changed automatically, such as `modifiedDate`. This method supports patch semantics. This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:* `*/*` (Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information, see [Google Workspace and Google Drive supported MIME types](https://developers.google.com/workspace/drive/api/guides/mime-types).) For more information on uploading files, see [Upload file data](https://developers.google.com/workspace/drive/api/guides/manage-uploads).",
          "mediaUpload": {
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/drive/v3/files/{fileId}",
                "multipart": true
              },
              "simple": {
                "path": "/upload/drive/v3/files/{fileId}",
                "multipart": true
              }
            },
            "maxSize": "5497558138880",
            "accept": [
              "*/*"
            ]
          }
        },
        "emptyTrash": {
          "parameters": {
            "enforceSingleParent": {
              "description": "Deprecated: If an item isn't in a shared drive and its last parent is deleted but the item itself isn't, the item will be placed under its owner's root.",
              "location": "query",
              "type": "boolean",
              "deprecated": true,
              "default": "false"
            },
            "driveId": {
              "location": "query",
              "type": "string",
              "description": "If set, empties the trash of the provided shared drive."
            }
          },
          "flatPath": "files/trash",
          "description": "Permanently deletes all of the user's trashed files. For more information, see [Trash or delete files and folders](https://developers.google.com/workspace/drive/api/guides/delete).",
          "id": "drive.files.emptyTrash",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "parameterOrder": [],
          "httpMethod": "DELETE",
          "path": "files/trash"
        },
        "generateCseToken": {
          "parameterOrder": [],
          "parameters": {
            "fileId": {
              "type": "string",
              "description": "The ID of the file for which the JWT should be generated. If not provided, an id will be generated.",
              "location": "query"
            },
            "parent": {
              "description": "The ID of the expected parent of the file. Used when generating a JWT for a new CSE file. If specified, the parent will be fetched, and if the parent is a shared drive item, the shared drive's policy will be used to determine the KACLS that should be used. It is invalid to specify both file_id and parent in a single request.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GenerateCseTokenResponse"
          },
          "id": "drive.files.generateCseToken",
          "path": "files/generateCseToken",
          "flatPath": "files/generateCseToken",
          "description": "Generates a CSE token which can be used to create or update CSE files.",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "httpMethod": "GET"
        },
        "listLabels": {
          "path": "files/{fileId}/listLabels",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "fileId"
          ],
          "httpMethod": "GET",
          "flatPath": "files/{fileId}/listLabels",
          "parameters": {
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "maximum": "100",
              "minimum": "1",
              "default": "100",
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "The maximum number of labels to return per page. When not set, defaults to 100."
            },
            "fileId": {
              "required": true,
              "type": "string",
              "description": "The ID for the file.",
              "location": "path"
            }
          },
          "id": "drive.files.listLabels",
          "response": {
            "$ref": "LabelList"
          },
          "description": "Lists the labels on a file. For more information, see [List labels on a file](https://developers.google.com/workspace/drive/api/guides/list-labels)."
        },
        "modifyLabels": {
          "request": {
            "$ref": "ModifyLabelsRequest"
          },
          "flatPath": "files/{fileId}/modifyLabels",
          "description": "Modifies the set of labels applied to a file. For more information, see [Set a label field on a file](https://developers.google.com/workspace/drive/api/guides/set-label). Returns a list of the labels that were added or modified.",
          "id": "drive.files.modifyLabels",
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "ModifyLabelsResponse"
          },
          "parameters": {
            "fileId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the file to which the labels belong."
            }
          },
          "path": "files/{fileId}/modifyLabels",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "httpMethod": "POST"
        },
        "delete": {
          "id": "drive.files.delete",
          "description": "Permanently deletes a file owned by the user without moving it to the trash. For more information, see [Trash or delete files and folders](https://developers.google.com/workspace/drive/api/guides/delete). If the file belongs to a shared drive, the user must be an `organizer` on the parent folder. If the target is a folder, all descendants owned by the user are also deleted.",
          "parameters": {
            "supportsTeamDrives": {
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "type": "boolean"
            },
            "enforceSingleParent": {
              "deprecated": true,
              "location": "query",
              "description": "Deprecated: If an item isn't in a shared drive and its last parent is deleted but the item itself isn't, the item will be placed under its owner's root.",
              "default": "false",
              "type": "boolean"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "fileId": {
              "type": "string",
              "description": "The ID of the file.",
              "required": true,
              "location": "path"
            }
          },
          "path": "files/{fileId}",
          "flatPath": "files/{fileId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "copy": {
          "parameterOrder": [
            "fileId"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "File"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.photos.readonly"
          ],
          "response": {
            "$ref": "File"
          },
          "description": "Creates a copy of a file and applies any requested updates with patch semantics. For more information, see [Create and manage files](https://developers.google.com/workspace/drive/api/guides/create-file).",
          "id": "drive.files.copy",
          "path": "files/{fileId}/copy",
          "flatPath": "files/{fileId}/copy",
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the file."
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "default": "false"
            },
            "includePermissionsForView": {
              "type": "string",
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "supportsAllDrives": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "ignoreDefaultVisibility": {
              "description": "Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "includeLabels": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "copyComments": {
              "description": "Whether to copy the comments associated with the file.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "ocrLanguage": {
              "description": "A language hint for OCR processing during image import (ISO 639-1 code).",
              "type": "string",
              "location": "query"
            },
            "enforceSingleParent": {
              "description": "Deprecated: Copying files into multiple folders is no longer supported. Use shortcuts instead.",
              "location": "query",
              "default": "false",
              "deprecated": true,
              "type": "boolean"
            },
            "keepRevisionForever": {
              "type": "boolean",
              "location": "query",
              "default": "false",
              "description": "Whether to set the `keepForever` field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions."
            }
          }
        },
        "watch": {
          "flatPath": "files/{fileId}/watch",
          "httpMethod": "POST",
          "description": "Subscribes to changes to a file. For more information, see [Notifications for resource changes](https://developers.google.com/workspace/drive/api/guides/push).",
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "Channel"
          },
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "supportsSubscription": true,
          "id": "drive.files.watch",
          "parameters": {
            "acknowledgeAbuse": {
              "default": "false",
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.",
              "location": "query",
              "type": "boolean"
            },
            "fileId": {
              "type": "string",
              "required": true,
              "description": "The ID of the file.",
              "location": "path"
            },
            "supportsTeamDrives": {
              "location": "query",
              "deprecated": true,
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            },
            "includePermissionsForView": {
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            }
          },
          "path": "files/{fileId}/watch"
        },
        "create": {
          "path": "files",
          "id": "drive.files.create",
          "httpMethod": "POST",
          "request": {
            "$ref": "File"
          },
          "parameterOrder": [],
          "supportsMediaUpload": true,
          "response": {
            "$ref": "File"
          },
          "description": " Creates a file. For more information, see [Create and manage files](https://developers.google.com/workspace/drive/api/guides/create-file). This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:* `*/*` (Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information, see [Google Workspace and Google Drive supported MIME types](https://developers.google.com/workspace/drive/api/guides/mime-types).) For more information on uploading files, see [Upload file data](https://developers.google.com/workspace/drive/api/guides/manage-uploads). Apps creating shortcuts with the `create` method must specify the MIME type `application/vnd.google-apps.shortcut`. Apps should specify a file extension in the `name` property when inserting files with the API. For example, an operation to insert a JPEG file should specify something like `\"name\": \"cat.jpg\"` in the metadata. Subsequent `GET` requests include the read-only `fileExtension` property populated with the extension originally specified in the `name` property. When a Google Drive user requests to download a file, or when the file is downloaded through the sync client, Drive builds a full filename (with extension) based on the name. In cases where the extension is missing, Drive attempts to determine the extension based on the file's MIME type.",
          "parameters": {
            "enforceSingleParent": {
              "location": "query",
              "description": "Deprecated: Creating files in multiple folders is no longer supported.",
              "type": "boolean",
              "deprecated": true,
              "default": "false"
            },
            "keepRevisionForever": {
              "default": "false",
              "location": "query",
              "description": "Whether to set the `keepForever` field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions.",
              "type": "boolean"
            },
            "supportsAllDrives": {
              "location": "query",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false"
            },
            "includePermissionsForView": {
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false"
            },
            "ignoreDefaultVisibility": {
              "description": "Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "useContentAsIndexableText": {
              "location": "query",
              "description": "Whether to use the uploaded content as indexable text.",
              "type": "boolean",
              "default": "false"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string",
              "location": "query"
            },
            "ocrLanguage": {
              "type": "string",
              "description": "A language hint for OCR processing during image import (ISO 639-1 code).",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "maxSize": "5497558138880",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/drive/v3/files"
              },
              "resumable": {
                "path": "/resumable/upload/drive/v3/files",
                "multipart": true
              }
            }
          }
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "FileList"
          },
          "path": "files",
          "flatPath": "files",
          "id": "drive.files.list",
          "description": " Lists the user's files. For more information, see [Search for files and folders](https://developers.google.com/workspace/drive/api/guides/search-files). This method accepts the `q` parameter, which is a search query combining one or more search terms. This method returns *all* files by default, including trashed files. If you don't want trashed files to appear in the list, use the `trashed=false` query parameter to remove trashed files from the results.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "corpus": {
              "deprecated": true,
              "description": "Deprecated: The source of files to list. Use `corpora` instead.",
              "enum": [
                "domain",
                "user"
              ],
              "enumDescriptions": [
                "Files shared to the user's domain.",
                "Files owned by or shared to the user."
              ],
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "maximum": "1000",
              "location": "query",
              "description": "The maximum number of files to return. The service may return fewer than this value. If unspecified, at most 100 files will be returned for shared drives, and the entire list of files for non-shared drives. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "minimum": "1",
              "default": "100"
            },
            "includeTeamDriveItems": {
              "deprecated": true,
              "default": "false",
              "location": "query",
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "type": "boolean"
            },
            "orderBy": {
              "description": "A comma-separated list of sort keys. Valid keys are: * `createdTime`: When the file was created. Avoid using this key for queries on large item collections as it might result in timeouts or other issues. For time-related sorting on large item collections, use `modifiedTime desc` instead. * `folder`: The folder ID. This field is sorted using alphabetical ordering. * `modifiedByMeTime`: The last time the file was modified by the user. * `modifiedTime`: The last time the file was modified by anyone. * `name`: The name of the file. This field is sorted using alphabetical ordering, so 1, 12, 2, 22. * `name_natural`: The name of the file. This field is sorted using natural sort ordering, so 1, 2, 12, 22. * `quotaBytesUsed`: The number of storage quota bytes used by the file. * `recency`: The most recent timestamp from the file's date-time fields. * `sharedWithMeTime`: When the file was shared with the user, if applicable. * `starred`: Whether the user has starred the file. * `viewedByMeTime`: The last time the file was viewed by the user. Each key sorts ascending by default, but can be reversed with the `desc` modifier. Example usage: `?orderBy=folder,modifiedTime desc,name`.",
              "location": "query",
              "type": "string"
            },
            "supportsAllDrives": {
              "location": "query",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false"
            },
            "teamDriveId": {
              "location": "query",
              "description": "Deprecated: Use `driveId` instead.",
              "deprecated": true,
              "type": "string"
            },
            "includeItemsFromAllDrives": {
              "default": "false",
              "type": "boolean",
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "location": "query"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string",
              "location": "query"
            },
            "driveId": {
              "type": "string",
              "location": "query",
              "description": "ID of the shared drive to search."
            },
            "corpora": {
              "type": "string",
              "description": "Specifies a collection of items (files or documents) to which the query applies. Supported items include: * `user` * `domain` * `drive` * `allDrives` Prefer `user` or `drive` to `allDrives` for efficiency. By default, corpora is set to `user`. However, this can change depending on the filter set through the `q` parameter. For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization).",
              "location": "query"
            },
            "includeLabels": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response."
            },
            "q": {
              "description": "A query for filtering the file results. For supported syntax, see [Search for files and folders](/workspace/drive/api/guides/search-files).",
              "type": "string",
              "location": "query"
            },
            "spaces": {
              "location": "query",
              "type": "string",
              "default": "drive",
              "description": "A comma-separated list of spaces to query within the corpora. Supported values are `drive` and `appDataFolder`. For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization)."
            }
          }
        }
      }
    },
    "comments": {
      "methods": {
        "delete": {
          "id": "drive.comments.delete",
          "parameters": {
            "commentId": {
              "required": true,
              "description": "The ID of the comment.",
              "location": "path",
              "type": "string"
            },
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/{fileId}/comments/{commentId}",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "description": "Deletes a comment. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).",
          "flatPath": "files/{fileId}/comments/{commentId}",
          "httpMethod": "DELETE"
        },
        "get": {
          "path": "files/{fileId}/comments/{commentId}",
          "flatPath": "files/{fileId}/comments/{commentId}",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "response": {
            "$ref": "Comment"
          },
          "httpMethod": "GET",
          "parameters": {
            "commentId": {
              "required": true,
              "description": "The ID of the comment.",
              "type": "string",
              "location": "path"
            },
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "includeDeleted": {
              "description": "Whether to return deleted comments. Deleted comments will not include their original content.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            }
          },
          "id": "drive.comments.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Gets a comment by ID. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments). Required: The `fields` parameter must be set. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter)."
        },
        "create": {
          "response": {
            "$ref": "Comment"
          },
          "flatPath": "files/{fileId}/comments",
          "parameters": {
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the file."
            }
          },
          "request": {
            "$ref": "Comment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "httpMethod": "POST",
          "id": "drive.comments.create",
          "description": "Creates a comment on a file. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments). Required: The `fields` parameter must be set. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter).",
          "path": "files/{fileId}/comments",
          "parameterOrder": [
            "fileId"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "id": "drive.comments.list",
          "response": {
            "$ref": "CommentList"
          },
          "path": "files/{fileId}/comments",
          "flatPath": "files/{fileId}/comments",
          "description": "Lists a file's comments. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments). Required: The `fields` parameter must be set. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter).",
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "pageSize": {
              "maximum": "100",
              "minimum": "1",
              "default": "20",
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "The maximum number of comments to return. The service may return fewer than this value. If unspecified, at most 20 comments will be returned. The maximum value is 100; values above 100 will be coerced to 100."
            },
            "startModifiedTime": {
              "description": "The minimum value of 'modifiedTime' for the result comments (RFC 3339 date-time).",
              "location": "query",
              "type": "string"
            },
            "includeDeleted": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to include deleted comments. Deleted comments will not include their original content.",
              "default": "false"
            },
            "fileId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the file."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "update": {
          "description": "Updates a comment with patch semantics. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments). Required: The `fields` parameter must be set. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter).",
          "parameters": {
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "type": "string",
              "required": true
            },
            "commentId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the comment."
            }
          },
          "id": "drive.comments.update",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "request": {
            "$ref": "Comment"
          },
          "response": {
            "$ref": "Comment"
          },
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "httpMethod": "PATCH",
          "flatPath": "files/{fileId}/comments/{commentId}",
          "path": "files/{fileId}/comments/{commentId}"
        }
      }
    },
    "about": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Gets information about the user, the user's Drive, and system capabilities. For more information, see [Return user info](https://developers.google.com/workspace/drive/api/guides/user-info). Required: The `fields` parameter must be set. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter).",
          "parameters": {},
          "response": {
            "$ref": "About"
          },
          "path": "about",
          "id": "drive.about.get",
          "flatPath": "about",
          "parameterOrder": []
        }
      }
    },
    "apps": {
      "methods": {
        "list": {
          "flatPath": "apps",
          "parameters": {
            "languageCode": {
              "location": "query",
              "description": "A language or locale code, as defined by BCP 47, with some extensions from Unicode's LDML format (http://www.unicode.org/reports/tr35/).",
              "type": "string"
            },
            "appFilterMimeTypes": {
              "default": "",
              "description": "A comma-separated list of file extensions to limit returned results. All results within the given app query scope which can open any of the given MIME types will be included in the response. If `appFilterExtensions` are provided as well, the result is a union of the two resulting app lists.",
              "location": "query",
              "type": "string"
            },
            "appFilterExtensions": {
              "description": "A comma-separated list of file extensions to limit returned results. All results within the given app query scope which can open any of the given file extensions are included in the response. If `appFilterMimeTypes` are provided as well, the result is a union of the two resulting app lists.",
              "location": "query",
              "default": "",
              "type": "string"
            }
          },
          "response": {
            "$ref": "AppList"
          },
          "parameterOrder": [],
          "id": "drive.apps.list",
          "description": "Lists a user's installed apps. For more information, see [Return user info](https://developers.google.com/workspace/drive/api/guides/user-info).",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive.apps.readonly"
          ],
          "path": "apps"
        },
        "get": {
          "parameters": {
            "appId": {
              "description": "The ID of the app.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Gets a specific app. For more information, see [Return user info](https://developers.google.com/workspace/drive/api/guides/user-info).",
          "flatPath": "apps/{appId}",
          "parameterOrder": [
            "appId"
          ],
          "id": "drive.apps.get",
          "path": "apps/{appId}",
          "response": {
            "$ref": "App"
          },
          "httpMethod": "GET"
        }
      }
    },
    "teamdrives": {
      "methods": {
        "create": {
          "flatPath": "teamdrives",
          "parameters": {
            "requestId": {
              "location": "query",
              "type": "string",
              "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a Team Drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same Team Drive. If the Team Drive already exists a 409 error will be returned.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "response": {
            "$ref": "TeamDrive"
          },
[...]
