{
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "baseUrl": "https://www.googleapis.com/drive/v2/",
  "kind": "discovery#restDescription",
  "batchPath": "batch/drive/v2",
  "parameters": {
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "version": "v2",
  "protocol": "rest",
  "resources": {
    "permissions": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Permission"
          },
          "id": "drive.permissions.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "description": "Gets a permission by ID.",
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "httpMethod": "GET",
          "path": "files/{fileId}/permissions/{permissionId}",
          "parameters": {
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "default": "false",
              "deprecated": true,
              "location": "query"
            },
            "permissionId": {
              "required": true,
              "location": "path",
              "description": "The ID for the permission.",
              "type": "string"
            },
            "useDomainAdminAccess": {
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "type": "boolean",
              "default": "false"
            },
            "supportsAllDrives": {
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "default": "false"
            },
            "fileId": {
              "location": "path",
              "description": "The ID for the file or shared drive.",
              "type": "string",
              "required": true
            }
          }
        },
        "insert": {
          "parameterOrder": [
            "fileId"
          ],
          "description": "Inserts a permission for a file or shared drive. **Warning:** Concurrent permissions operations on the same file are not supported; only the last update is applied.",
          "flatPath": "files/{fileId}/permissions",
          "httpMethod": "POST",
          "path": "files/{fileId}/permissions",
          "parameters": {
            "enforceSingleParent": {
              "deprecated": true,
              "default": "false",
              "location": "query",
              "description": "Deprecated: See `moveToNewOwnersRoot` for details.",
              "type": "boolean"
            },
            "enforceExpansiveAccess": {
              "default": "false",
              "deprecated": true,
              "location": "query",
              "description": "Deprecated: All requests use the expansive access rules.",
              "type": "boolean"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "type": "boolean",
              "location": "query"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "default": "false"
            },
            "emailMessage": {
              "location": "query",
              "description": "A plain text custom message to include in notification emails.",
              "type": "string"
            },
            "fileId": {
              "required": true,
              "location": "path",
              "description": "The ID for the file or shared drive.",
              "type": "string"
            },
            "moveToNewOwnersRoot": {
              "location": "query",
              "description": "This parameter will only take effect if the item is not in a shared drive and the request is attempting to transfer the ownership of the item. If set to `true`, the item will be moved to the new owner's My Drive root folder and all prior parents removed. If set to `false`, parents are not changed.",
              "type": "boolean",
              "default": "false"
            },
            "supportsAllDrives": {
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "location": "query"
            },
            "sendNotificationEmails": {
              "location": "query",
              "description": "Whether to send notification emails when sharing to users or groups. This parameter is ignored and an email is sent if the `role` is `owner`.",
              "type": "boolean",
              "default": "true"
            }
          },
          "request": {
            "$ref": "Permission"
          },
          "response": {
            "$ref": "Permission"
          },
          "id": "drive.permissions.insert",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "list": {
          "parameters": {
            "maxResults": {
              "minimum": "1",
              "description": "The maximum number of permissions to return per page. When not set for files in a shared drive, at most 100 results will be returned. When not set for files that are not in a shared drive, the entire list will be returned.",
              "type": "integer",
              "format": "int32",
              "location": "query",
              "maximum": "100"
            },
            "useDomainAdminAccess": {
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "type": "boolean",
              "default": "false"
            },
            "supportsAllDrives": {
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "default": "false"
            },
            "includePermissionsForView": {
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string"
            },
            "fileId": {
              "location": "path",
              "description": "The ID for the file or shared drive.",
              "type": "string",
              "required": true
            },
            "supportsTeamDrives": {
              "location": "query",
              "default": "false",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean"
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "files/{fileId}/permissions",
          "flatPath": "files/{fileId}/permissions",
          "httpMethod": "GET",
          "parameterOrder": [
            "fileId"
          ],
          "description": "Lists a file's or shared drive's permissions.",
          "id": "drive.permissions.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "PermissionList"
          }
        },
        "update": {
          "request": {
            "$ref": "Permission"
          },
          "response": {
            "$ref": "Permission"
          },
          "id": "drive.permissions.update",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "httpMethod": "PUT",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "description": "Updates a permission. **Warning:** Concurrent permissions operations on the same file are not supported; only the last update is applied.",
          "parameters": {
            "removeExpiration": {
              "location": "query",
              "description": "Whether to remove the expiration date.",
              "type": "boolean",
              "default": "false"
            },
            "supportsAllDrives": {
              "default": "false",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean"
            },
            "fileId": {
              "location": "path",
              "description": "The ID for the file or shared drive.",
              "type": "string",
              "required": true
            },
            "useDomainAdminAccess": {
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "type": "boolean",
              "location": "query"
            },
            "permissionId": {
              "location": "path",
              "description": "The ID for the permission.",
              "type": "string",
              "required": true
            },
            "enforceExpansiveAccess": {
              "location": "query",
              "default": "false",
              "deprecated": true,
              "description": "Deprecated: All requests use the expansive access rules.",
              "type": "boolean"
            },
            "supportsTeamDrives": {
              "default": "false",
              "deprecated": true,
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean"
            },
            "transferOwnership": {
              "location": "query",
              "description": "Whether changing a role to `owner` downgrades the current owners to writers. Does nothing if the specified role is not `owner`.",
              "type": "boolean",
              "default": "false"
            }
          },
          "path": "files/{fileId}/permissions/{permissionId}"
        },
        "delete": {
          "id": "drive.permissions.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameters": {
            "enforceExpansiveAccess": {
              "description": "Deprecated: All requests use the expansive access rules.",
              "type": "boolean",
              "deprecated": true,
              "default": "false",
              "location": "query"
            },
            "permissionId": {
              "required": true,
              "location": "path",
              "description": "The ID for the permission.",
              "type": "string"
            },
            "supportsTeamDrives": {
              "location": "query",
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean"
            },
            "fileId": {
              "location": "path",
              "description": "The ID for the file or shared drive.",
              "type": "string",
              "required": true
            },
            "supportsAllDrives": {
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "default": "false"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "type": "boolean"
            }
          },
          "path": "files/{fileId}/permissions/{permissionId}",
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "description": "Deletes a permission from a file or shared drive. **Warning:** Concurrent permissions operations on the same file are not supported; only the last update is applied."
        },
        "getIdForEmail": {
          "parameters": {
            "email": {
              "required": true,
              "location": "path",
              "description": "The email address for which to return a permission ID",
              "type": "string"
            }
          },
          "path": "permissionIds/{email}",
          "flatPath": "permissionIds/{email}",
          "httpMethod": "GET",
          "parameterOrder": [
            "email"
          ],
          "description": "Returns the permission ID for an email address.",
          "id": "drive.permissions.getIdForEmail",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "PermissionId"
          }
        },
        "patch": {
          "request": {
            "$ref": "Permission"
          },
          "response": {
            "$ref": "Permission"
          },
          "id": "drive.permissions.patch",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "description": "Updates a permission using patch semantics. **Warning:** Concurrent permissions operations on the same file are not supported; only the last update is applied.",
          "parameters": {
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "default": "false"
            },
            "transferOwnership": {
              "default": "false",
              "description": "Whether changing a role to `owner` downgrades the current owners to writers. Does nothing if the specified role is not `owner`.",
              "type": "boolean",
              "location": "query"
            },
            "enforceExpansiveAccess": {
              "description": "Deprecated: All requests use the expansive access rules.",
              "type": "boolean",
              "deprecated": true,
              "default": "false",
              "location": "query"
            },
            "permissionId": {
              "required": true,
              "description": "The ID for the permission.",
              "type": "string",
              "location": "path"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "type": "boolean"
            },
            "fileId": {
              "location": "path",
              "description": "The ID for the file or shared drive.",
              "type": "string",
              "required": true
            },
            "removeExpiration": {
              "default": "false",
              "location": "query",
              "description": "Whether to remove the expiration date.",
              "type": "boolean"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            }
          },
          "path": "files/{fileId}/permissions/{permissionId}"
        }
      }
    },
    "properties": {
      "methods": {
        "list": {
          "parameters": {
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "type": "string",
              "required": true
            }
          },
          "path": "files/{fileId}/properties",
          "flatPath": "files/{fileId}/properties",
          "httpMethod": "GET",
          "parameterOrder": [
            "fileId"
          ],
          "description": "Lists a file's properties.",
          "id": "drive.properties.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "PropertyList"
          }
        },
        "update": {
          "id": "drive.properties.update",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "request": {
            "$ref": "Property"
          },
          "response": {
            "$ref": "Property"
          },
          "parameters": {
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "type": "string",
              "location": "path"
            },
            "propertyKey": {
              "location": "path",
              "description": "The key of the property.",
              "type": "string",
              "required": true
            },
            "visibility": {
              "description": "The visibility of the property. Allowed values are PRIVATE and PUBLIC. (Default: PRIVATE)",
              "type": "string",
              "location": "query",
              "default": "private"
            }
          },
          "path": "files/{fileId}/properties/{propertyKey}",
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "httpMethod": "PUT",
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "description": "Updates a property."
        },
        "insert": {
          "path": "files/{fileId}/properties",
          "parameters": {
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "fileId"
          ],
          "description": "Adds a property to a file, or updates it if it already exists.",
          "flatPath": "files/{fileId}/properties",
          "httpMethod": "POST",
          "id": "drive.properties.insert",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "request": {
            "$ref": "Property"
          },
          "response": {
            "$ref": "Property"
          }
        },
        "get": {
          "path": "files/{fileId}/properties/{propertyKey}",
          "parameters": {
            "visibility": {
              "description": "The visibility of the property.",
              "type": "string",
              "location": "query",
              "default": "private"
            },
            "fileId": {
              "required": true,
              "location": "path",
              "description": "The ID of the file.",
              "type": "string"
            },
            "propertyKey": {
              "location": "path",
              "description": "The key of the property.",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "description": "Gets a property by its key.",
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "httpMethod": "GET",
          "id": "drive.properties.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "Property"
          }
        },
        "patch": {
          "request": {
            "$ref": "Property"
          },
          "response": {
            "$ref": "Property"
          },
          "id": "drive.properties.patch",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "description": "Updates a property.",
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "httpMethod": "PATCH",
          "path": "files/{fileId}/properties/{propertyKey}",
          "parameters": {
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "type": "string",
              "required": true
            },
            "propertyKey": {
              "required": true,
              "location": "path",
              "description": "The key of the property.",
              "type": "string"
            },
            "visibility": {
              "location": "query",
              "description": "The visibility of the property. Allowed values are PRIVATE and PUBLIC. (Default: PRIVATE)",
              "type": "string",
              "default": "private"
            }
          }
        },
        "delete": {
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "description": "Deletes a property.",
          "parameters": {
            "visibility": {
              "default": "private",
              "location": "query",
              "description": "The visibility of the property.",
              "type": "string"
            },
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "type": "string",
              "required": true
            },
            "propertyKey": {
              "required": true,
              "location": "path",
              "description": "The key of the property.",
              "type": "string"
            }
          },
          "path": "files/{fileId}/properties/{propertyKey}",
          "id": "drive.properties.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ]
        }
      }
    },
    "about": {
      "methods": {
        "get": {
          "id": "drive.about.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "About"
          },
          "parameters": {
            "includeSubscribed": {
              "location": "query",
              "description": "Whether to count changes outside the My Drive hierarchy. When set to false, changes to files such as those in the Application Data folder or shared files which have not been added to My Drive will be omitted from the `maxChangeIdCount`.",
              "type": "boolean",
              "default": "true"
            },
            "maxChangeIdCount": {
              "location": "query",
              "default": "1",
              "description": "Maximum number of remaining change IDs to count",
              "type": "string",
              "format": "int64"
            },
            "startChangeId": {
              "description": "Change ID to start counting from when calculating number of remaining change IDs",
              "type": "string",
              "format": "int64",
              "location": "query"
            }
          },
          "path": "about",
          "flatPath": "about",
          "httpMethod": "GET",
          "parameterOrder": [],
          "description": "Gets the information about the current user along with Drive API settings"
        }
      }
    },
    "parents": {
      "methods": {
        "get": {
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "parentId": {
              "required": true,
              "description": "The ID of the parent.",
              "type": "string",
              "location": "path"
            }
          },
          "path": "files/{fileId}/parents/{parentId}",
          "flatPath": "files/{fileId}/parents/{parentId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "fileId",
            "parentId"
          ],
          "description": "Gets a specific parent reference.",
          "id": "drive.parents.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "ParentReference"
          }
        },
        "delete": {
          "parameters": {
            "parentId": {
              "description": "The ID of the parent.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "type": "string",
              "location": "path"
            },
            "enforceSingleParent": {
              "location": "query",
              "default": "false",
              "deprecated": true,
              "description": "Deprecated: If an item is not in a shared drive and its last parent is removed, the item is placed under its owner's root.",
              "type": "boolean"
            }
          },
          "path": "files/{fileId}/parents/{parentId}",
          "flatPath": "files/{fileId}/parents/{parentId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "fileId",
            "parentId"
          ],
          "description": "Removes a parent from a file.",
          "id": "drive.parents.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "insert": {
          "request": {
            "$ref": "ParentReference"
          },
          "response": {
            "$ref": "ParentReference"
          },
          "id": "drive.parents.insert",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/parents",
          "httpMethod": "POST",
          "parameterOrder": [
            "fileId"
          ],
          "description": "Adds a parent folder for a file.",
          "parameters": {
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "location": "query",
              "default": "false",
              "deprecated": true
            },
            "supportsAllDrives": {
              "default": "false",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean"
            },
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "type": "string",
              "location": "path"
            },
            "enforceSingleParent": {
              "location": "query",
              "default": "false",
              "deprecated": true,
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead.",
              "type": "boolean"
            }
          },
          "path": "files/{fileId}/parents"
        },
        "list": {
          "id": "drive.parents.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "ParentList"
          },
          "parameters": {
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "type": "string",
              "required": true
            }
          },
          "path": "files/{fileId}/parents",
          "flatPath": "files/{fileId}/parents",
          "httpMethod": "GET",
          "parameterOrder": [
            "fileId"
          ],
          "description": "Lists a file's parents."
        }
      }
    },
    "drives": {
      "methods": {
        "unhide": {
          "id": "drive.drives.unhide",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "response": {
            "$ref": "Drive"
          },
          "parameters": {
            "driveId": {
              "description": "The ID of the shared drive.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "drives/{driveId}/unhide",
          "flatPath": "drives/{driveId}/unhide",
          "httpMethod": "POST",
          "parameterOrder": [
            "driveId"
          ],
          "description": "Restores a shared drive to the default view."
        },
        "delete": {
          "flatPath": "drives/{driveId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "driveId"
          ],
          "description": "Permanently deletes a shared drive for which the user is an `organizer`. The shared drive cannot contain any untrashed items.",
          "parameters": {
            "useDomainAdminAccess": {
              "default": "false",
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "type": "boolean"
            },
            "driveId": {
              "location": "path",
              "description": "The ID of the shared drive.",
              "type": "string",
              "required": true
            },
            "allowItemDeletion": {
              "description": "Whether any items inside the shared drive should also be deleted. This option is only supported when `useDomainAdminAccess` is also set to `true`.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            }
          },
          "path": "drives/{driveId}",
          "id": "drive.drives.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        },
        "hide": {
          "id": "drive.drives.hide",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "response": {
            "$ref": "Drive"
          },
          "parameters": {
            "driveId": {
              "location": "path",
              "description": "The ID of the shared drive.",
              "type": "string",
              "required": true
            }
          },
          "path": "drives/{driveId}/hide",
          "flatPath": "drives/{driveId}/hide",
          "httpMethod": "POST",
          "parameterOrder": [
            "driveId"
          ],
          "description": "Hides a shared drive from the default view."
        },
        "list": {
          "flatPath": "drives",
          "httpMethod": "GET",
          "parameterOrder": [],
          "description": " Lists the user's shared drives. This method accepts the `q` parameter, which is a search query combining one or more search terms. For more information, see the [Search for shared drives](https://developers.google.com/workspace/drive/api/guides/search-shareddrives) guide.",
          "parameters": {
            "pageToken": {
              "description": "Page token for shared drives.",
              "type": "string",
              "location": "query"
            },
            "q": {
              "description": "Query string for searching shared drives.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "minimum": "1",
              "description": "Maximum number of shared drives to return per page.",
              "type": "integer",
              "format": "int32",
              "default": "10",
              "location": "query",
              "maximum": "100"
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then all shared drives of the domain in which the requester is an administrator are returned.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            }
          },
          "path": "drives",
          "response": {
            "$ref": "DriveList"
          },
          "id": "drive.drives.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "update": {
          "path": "drives/{driveId}",
          "parameters": {
            "driveId": {
              "required": true,
              "description": "The ID of the shared drive.",
              "type": "string",
              "location": "path"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "type": "boolean",
              "location": "query"
            }
          },
          "parameterOrder": [
            "driveId"
          ],
          "description": "Updates the metadata for a shared drive.",
          "flatPath": "drives/{driveId}",
          "httpMethod": "PUT",
          "id": "drive.drives.update",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "request": {
            "$ref": "Drive"
          },
          "response": {
            "$ref": "Drive"
          }
        },
        "insert": {
          "id": "drive.drives.insert",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "request": {
            "$ref": "Drive"
          },
          "response": {
            "$ref": "Drive"
          },
          "path": "drives",
          "parameters": {
            "requestId": {
              "required": true,
              "location": "query",
              "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a shared drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same shared drive. If the shared drive already exists a 409 error will be returned.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "requestId"
          ],
          "description": "Creates a new shared drive.",
          "flatPath": "drives",
          "httpMethod": "POST"
        },
        "get": {
          "parameterOrder": [
            "driveId"
          ],
          "description": "Gets a shared drive's metadata by ID.",
          "flatPath": "drives/{driveId}",
          "httpMethod": "GET",
          "path": "drives/{driveId}",
          "parameters": {
            "driveId": {
              "description": "The ID of the shared drive.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "useDomainAdminAccess": {
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "type": "boolean",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Drive"
          },
          "id": "drive.drives.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        }
      }
    },
    "children": {
      "methods": {
        "list": {
          "path": "files/{folderId}/children",
          "parameters": {
            "maxResults": {
              "location": "query",
              "default": "100",
              "description": "Maximum number of children to return.",
              "type": "integer",
              "format": "int32",
              "minimum": "0"
            },
            "orderBy": {
              "description": "A comma-separated list of sort keys. Valid keys are `createdDate`, `folder`, `lastViewedByMeDate`, `modifiedByMeDate`, `modifiedDate`, `quotaBytesUsed`, `recency`, `sharedWithMeDate`, `starred`, and `title`. Each key sorts ascending by default, but may be reversed with the `desc` modifier. Example usage: ?orderBy=folder,modifiedDate desc,title. Please note that there is a current limitation for users with approximately one million files in which the requested sort order is ignored.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "Page token for children.",
              "type": "string"
            },
            "folderId": {
              "location": "path",
              "description": "The ID of the folder.",
              "type": "string",
              "required": true
            },
            "q": {
              "location": "query",
              "description": "Query string for searching children.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "folderId"
          ],
          "description": "Lists a folder's children.",
          "flatPath": "files/{folderId}/children",
          "httpMethod": "GET",
          "id": "drive.children.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "ChildList"
          }
        },
        "get": {
          "parameters": {
            "folderId": {
              "required": true,
              "description": "The ID of the folder.",
              "type": "string",
              "location": "path"
            },
            "childId": {
              "required": true,
              "description": "The ID of the child.",
              "type": "string",
              "location": "path"
            }
          },
          "path": "files/{folderId}/children/{childId}",
          "flatPath": "files/{folderId}/children/{childId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "folderId",
            "childId"
          ],
          "description": "Gets a specific child reference.",
          "id": "drive.children.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "ChildReference"
          }
        },
        "delete": {
          "id": "drive.children.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/{folderId}/children/{childId}",
          "parameters": {
            "folderId": {
              "description": "The ID of the folder.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "childId": {
              "description": "The ID of the child.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "enforceSingleParent": {
              "description": "Deprecated: If an item is not in a shared drive and its last parent is removed, the item is placed under its owner's root.",
              "type": "boolean",
              "location": "query",
              "default": "false",
              "deprecated": true
            }
          },
          "parameterOrder": [
            "folderId",
            "childId"
          ],
          "description": "Removes a child from a folder.",
          "flatPath": "files/{folderId}/children/{childId}",
          "httpMethod": "DELETE"
        },
        "insert": {
          "id": "drive.children.insert",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "request": {
            "$ref": "ChildReference"
          },
          "response": {
            "$ref": "ChildReference"
          },
          "parameters": {
            "enforceSingleParent": {
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead.",
              "type": "boolean",
              "location": "query",
              "default": "false",
              "deprecated": true
            },
            "supportsAllDrives": {
              "default": "false",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean"
            },
            "folderId": {
              "location": "path",
              "description": "The ID of the folder.",
              "type": "string",
              "required": true
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "deprecated": true,
              "default": "false",
              "location": "query"
            }
          },
          "path": "files/{folderId}/children",
          "flatPath": "files/{folderId}/children",
          "httpMethod": "POST",
          "parameterOrder": [
            "folderId"
          ],
          "description": "Inserts a file into a folder."
        }
      }
    },
    "replies": {
      "methods": {
        "get": {
          "id": "drive.replies.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "CommentReply"
          },
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "parameters": {
            "commentId": {
              "location": "path",
              "description": "The ID of the comment.",
              "type": "string",
              "required": true
            },
            "includeDeleted": {
              "default": "false",
              "location": "query",
              "description": "If set, this will succeed when retrieving a deleted reply.",
              "type": "boolean"
            },
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "type": "string",
              "required": true
            },
            "replyId": {
              "required": true,
              "location": "path",
              "description": "The ID of the reply.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "description": "Gets a reply.",
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "httpMethod": "GET"
        },
        "insert": {
          "request": {
            "$ref": "CommentReply"
          },
          "response": {
            "$ref": "CommentReply"
          },
          "id": "drive.replies.insert",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}/replies",
          "httpMethod": "POST",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "description": "Creates a new reply to the given comment.",
          "parameters": {
            "commentId": {
              "location": "path",
              "description": "The ID of the comment.",
              "type": "string",
              "required": true
            },
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "type": "string",
              "required": true
            }
          },
          "path": "files/{fileId}/comments/{commentId}/replies"
        },
        "list": {
          "response": {
            "$ref": "CommentReplyList"
          },
          "id": "drive.replies.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "description": "Lists all of the replies to a comment.",
          "flatPath": "files/{fileId}/comments/{commentId}/replies",
          "httpMethod": "GET",
          "path": "files/{fileId}/comments/{commentId}/replies",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "maxResults": {
              "minimum": "0",
              "description": "The maximum number of replies to include in the response, used for paging.",
              "type": "integer",
              "format": "int32",
              "default": "20",
              "location": "query",
              "maximum": "100"
            },
            "commentId": {
              "description": "The ID of the comment.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "includeDeleted": {
              "default": "false",
              "description": "If set, all replies, including deleted replies (with content stripped) will be returned.",
              "type": "boolean",
              "location": "query"
            },
            "pageToken": {
              "description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response.",
              "type": "string",
              "location": "query"
            }
          }
        },
        "update": {
          "parameters": {
            "commentId": {
              "location": "path",
              "description": "The ID of the comment.",
              "type": "string",
              "required": true
            },
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "type": "string",
              "required": true
            },
            "replyId": {
              "location": "path",
              "description": "The ID of the reply.",
              "type": "string",
              "required": true
            }
          },
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "httpMethod": "PUT",
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "description": "Updates an existing reply.",
          "id": "drive.replies.update",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "request": {
            "$ref": "CommentReply"
          },
          "response": {
            "$ref": "CommentReply"
          }
        },
        "delete": {
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "description": "Deletes a reply.",
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "httpMethod": "DELETE",
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "parameters": {
            "replyId": {
              "required": true,
              "location": "path",
              "description": "The ID of the reply.",
              "type": "string"
            },
            "commentId": {
              "required": true,
              "location": "path",
              "description": "The ID of the comment.",
              "type": "string"
            },
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "type": "string",
              "required": true
            }
          },
          "id": "drive.replies.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "patch": {
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "description": "Updates an existing reply.",
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "httpMethod": "PATCH",
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "parameters": {
            "replyId": {
              "required": true,
              "description": "The ID of the reply.",
              "type": "string",
              "location": "path"
            },
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "type": "string",
              "location": "path"
            },
            "commentId": {
              "description": "The ID of the comment.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "CommentReply"
          },
          "response": {
            "$ref": "CommentReply"
          },
          "id": "drive.replies.patch",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        }
      }
    },
    "channels": {
      "methods": {
        "stop": {
          "parameters": {},
          "path": "channels/stop",
          "flatPath": "channels/stop",
          "httpMethod": "POST",
          "parameterOrder": [],
          "description": "Stops watching resources through this channel.",
          "id": "drive.channels.stop",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          }
        }
      }
    },
    "teamdrives": {
      "methods": {
        "delete": {
          "parameters": {
            "teamDriveId": {
              "required": true,
              "description": "The ID of the Team Drive",
              "type": "string",
              "location": "path"
            }
          },
          "path": "teamdrives/{teamDriveId}",
          "flatPath": "teamdrives/{teamDriveId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "teamDriveId"
          ],
          "description": "Deprecated: Use `drives.delete` instead.",
          "id": "drive.teamdrives.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        },
        "get": {
          "id": "drive.teamdrives.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "TeamDrive"
          },
          "path": "teamdrives/{teamDriveId}",
          "parameters": {
            "useDomainAdminAccess": {
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs.",
              "type": "boolean",
              "default": "false"
            },
            "teamDriveId": {
              "location": "path",
              "description": "The ID of the Team Drive",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "teamDriveId"
          ],
          "description": "Deprecated: Use `drives.get` instead.",
          "flatPath": "teamdrives/{teamDriveId}",
          "httpMethod": "GET"
        },
        "insert": {
          "request": {
            "$ref": "TeamDrive"
          },
          "response": {
            "$ref": "TeamDrive"
          },
          "id": "drive.teamdrives.insert",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "parameterOrder": [
            "requestId"
          ],
          "description": "Deprecated: Use `drives.insert` instead.",
          "flatPath": "teamdrives",
          "httpMethod": "POST",
          "path": "teamdrives",
          "parameters": {
            "requestId": {
              "required": true,
              "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a Team Drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same Team Drive. If the Team Drive already exists a 409 error will be returned.",
              "type": "string",
              "location": "query"
            }
          }
        },
        "list": {
          "id": "drive.teamdrives.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "TeamDriveList"
          },
          "parameters": {
            "pageToken": {
              "description": "Page token for Team Drives.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "description": "Maximum number of Team Drives to return.",
              "type": "integer",
              "format": "int32",
              "minimum": "1",
              "location": "query",
              "maximum": "100",
              "default": "10"
            },
            "useDomainAdminAccess": {
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then all Team Drives of the domain in which the requester is an administrator are returned.",
              "type": "boolean",
              "default": "false"
            },
            "q": {
              "location": "query",
              "description": "Query string for searching Team Drives.",
              "type": "string"
            }
          },
          "path": "teamdrives",
          "flatPath": "teamdrives",
          "httpMethod": "GET",
          "parameterOrder": [],
          "description": "Deprecated: Use `drives.list` instead."
        },
        "update": {
          "flatPath": "teamdrives/{teamDriveId}",
          "httpMethod": "PUT",
          "parameterOrder": [
            "teamDriveId"
          ],
          "description": "Deprecated: Use `drives.update` instead.",
          "parameters": {
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "teamDriveId": {
              "required": true,
              "location": "path",
              "description": "The ID of the Team Drive",
              "type": "string"
            }
          },
          "path": "teamdrives/{teamDriveId}",
          "request": {
            "$ref": "TeamDrive"
          },
          "response": {
            "$ref": "TeamDrive"
          },
          "id": "drive.teamdrives.update",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        }
      }
    },
    "changes": {
      "methods": {
        "list": {
          "parameters": {
            "includeSubscribed": {
              "location": "query",
              "description": "Whether to include changes outside the My Drive hierarchy in the result. When set to false, changes to files such as those in the Application Data folder or shared files which have not been added to My Drive will be omitted from the result.",
              "type": "boolean",
              "default": "true"
            },
            "spaces": {
              "location": "query",
              "description": "A comma-separated list of spaces to query. Supported values are `drive`, `appDataFolder` and `photos`.",
              "type": "string"
            },
            "teamDriveId": {
              "description": "Deprecated: Use `driveId` instead.",
              "type": "string",
              "location": "query",
              "deprecated": true
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string",
              "location": "query"
            },
            "driveId": {
              "location": "query",
              "description": "The shared drive from which changes will be returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier.",
              "type": "string"
            },
            "includeItemsFromAllDrives": {
              "default": "false",
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "type": "boolean",
              "location": "query"
            },
            "includeTeamDriveItems": {
              "deprecated": true,
              "default": "false",
              "location": "query",
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "type": "boolean"
            },
            "includeCorpusRemovals": {
              "default": "false",
              "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.",
              "type": "boolean",
              "location": "query"
            },
            "supportsTeamDrives": {
              "location": "query",
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean"
            },
            "supportsAllDrives": {
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "location": "query"
            },
            "includeDeleted": {
              "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.",
              "type": "boolean",
              "location": "query",
              "default": "true"
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response or to the response from the getStartPageToken method.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "description": "Maximum number of changes to return.",
              "type": "integer",
              "format": "int32",
              "minimum": "1",
              "location": "query",
              "default": "100"
            },
            "startChangeId": {
              "deprecated": true,
              "location": "query",
              "description": "Deprecated: Use `pageToken` instead.",
              "type": "string",
              "format": "int64"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "changes",
          "flatPath": "changes",
          "httpMethod": "GET",
          "parameterOrder": [],
          "description": "Lists the changes for a user or shared drive.",
          "supportsSubscription": true,
          "id": "drive.changes.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "ChangeList"
          }
        },
        "get": {
          "response": {
            "$ref": "Change"
          },
          "id": "drive.changes.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "changeId"
          ],
          "description": "Deprecated: Use `changes.getStartPageToken` and `changes.list` to retrieve recent changes.",
          "flatPath": "changes/{changeId}",
          "httpMethod": "GET",
          "path": "changes/{changeId}",
          "parameters": {
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "deprecated": true,
              "default": "false",
              "location": "query"
            },
            "changeId": {
              "required": true,
              "description": "The ID of the change.",
              "type": "string",
              "location": "path"
            },
            "driveId": {
              "description": "The shared drive from which the change will be returned.",
              "type": "string",
              "location": "query"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "teamDriveId": {
              "description": "Deprecated: Use `driveId` instead.",
              "type": "string",
              "location": "query",
              "deprecated": true
            }
          }
        },
        "getStartPageToken": {
          "parameterOrder": [],
          "description": "Gets the starting pageToken for listing future changes.",
          "flatPath": "changes/startPageToken",
          "httpMethod": "GET",
          "path": "changes/startPageToken",
          "parameters": {
            "supportsAllDrives": {
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "location": "query"
            },
            "teamDriveId": {
              "description": "Deprecated: Use `driveId` instead.",
              "type": "string",
              "location": "query",
              "deprecated": true
            },
            "driveId": {
              "description": "The ID of the shared drive for which the starting pageToken for listing future changes from that shared drive will be returned.",
              "type": "string",
              "location": "query"
            },
            "supportsTeamDrives": {
              "default": "false",
              "deprecated": true,
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean"
            }
          },
          "response": {
            "$ref": "StartPageToken"
          },
          "id": "drive.changes.getStartPageToken",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "watch": {
          "parameters": {
            "includePermissionsForView": {
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string"
            },
            "teamDriveId": {
              "deprecated": true,
              "location": "query",
              "description": "Deprecated: Use `driveId` instead.",
              "type": "string"
            },
            "includeItemsFromAllDrives": {
              "default": "false",
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "type": "boolean",
              "location": "query"
            },
            "driveId": {
              "description": "The shared drive from which changes will be returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier.",
              "type": "string",
              "location": "query"
            },
            "includeSubscribed": {
              "default": "true",
              "location": "query",
              "description": "Whether to include changes outside the My Drive hierarchy in the result. When set to false, changes to files such as those in the Application Data folder or shared files which have not been added to My Drive will be omitted from the result.",
              "type": "boolean"
            },
            "spaces": {
              "location": "query",
              "description": "A comma-separated list of spaces to query. Supported values are `drive`, `appDataFolder` and `photos`.",
              "type": "string"
            },
            "supportsAllDrives": {
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "default": "false"
            },
            "includeCorpusRemovals": {
              "default": "false",
              "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.",
              "type": "boolean",
              "location": "query"
            },
            "includeTeamDriveItems": {
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "type": "boolean",
              "location": "query",
              "default": "false",
              "deprecated": true
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "default": "false",
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean"
            },
            "includeDeleted": {
              "default": "true",
              "location": "query",
              "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.",
              "type": "boolean"
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response or to the response from the getStartPageToken method.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "default": "100",
              "description": "Maximum number of changes to return.",
              "type": "integer",
              "format": "int32",
              "minimum": "1"
            },
            "startChangeId": {
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: Use `pageToken` instead.",
              "type": "string",
              "format": "int64"
            },
            "includeLabels": {
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string"
            }
          },
          "path": "changes/watch",
          "flatPath": "changes/watch",
          "httpMethod": "POST",
          "parameterOrder": [],
          "description": "Subscribe to changes for a user.",
          "supportsSubscription": true,
          "id": "drive.changes.watch",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "response": {
            "$ref": "Channel"
          }
        }
      }
    },
    "comments": {
      "methods": {
        "list": {
          "id": "drive.comments.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "CommentList"
          },
          "path": "files/{fileId}/comments",
          "parameters": {
            "updatedMin": {
              "description": "Only discussions that were updated after this timestamp will be returned. Formatted as an RFC 3339 timestamp.",
              "type": "string",
              "location": "query"
            },
            "includeDeleted": {
              "default": "false",
              "location": "query",
              "description": "If set, all comments and replies, including deleted comments and replies (with content stripped) will be returned.",
              "type": "boolean"
            },
            "pageToken": {
              "description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "default": "20",
              "maximum": "100",
              "location": "query",
              "minimum": "0",
              "description": "The maximum number of discussions to include in the response, used for paging.",
              "type": "integer",
              "format": "int32"
            },
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "fileId"
          ],
          "description": "Lists a file's comments.",
          "flatPath": "files/{fileId}/comments",
          "httpMethod": "GET"
        },
        "update": {
          "request": {
            "$ref": "Comment"
          },
          "response": {
            "$ref": "Comment"
          },
          "id": "drive.comments.update",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}",
          "httpMethod": "PUT",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "description": "Updates an existing comment.",
          "parameters": {
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "type": "string",
              "required": true
            },
            "commentId": {
              "location": "path",
              "description": "The ID of the comment.",
              "type": "string",
              "required": true
            }
          },
          "path": "files/{fileId}/comments/{commentId}"
        },
        "insert": {
          "request": {
            "$ref": "Comment"
          },
          "response": {
            "$ref": "Comment"
          },
          "id": "drive.comments.insert",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [
            "fileId"
          ],
          "description": "Creates a new comment on the given file.",
          "flatPath": "files/{fileId}/comments",
          "httpMethod": "POST",
          "path": "files/{fileId}/comments",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        },
        "get": {
          "id": "drive.comments.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "Comment"
          },
          "path": "files/{fileId}/comments/{commentId}",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "commentId": {
              "description": "The ID of the comment.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "includeDeleted": {
              "location": "query",
              "description": "If set, this will succeed when retrieving a deleted comment, and will include any deleted replies.",
              "type": "boolean",
              "default": "false"
            }
          },
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "description": "Gets a comment by ID.",
          "flatPath": "files/{fileId}/comments/{commentId}",
          "httpMethod": "GET"
        },
        "patch": {
          "request": {
            "$ref": "Comment"
          },
          "response": {
            "$ref": "Comment"
          },
          "id": "drive.comments.patch",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "description": "Updates an existing comment.",
          "flatPath": "files/{fileId}/comments/{commentId}",
          "httpMethod": "PATCH",
          "path": "files/{fileId}/comments/{commentId}",
          "parameters": {
            "commentId": {
              "location": "path",
              "description": "The ID of the comment.",
              "type": "string",
              "required": true
            },
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "type": "string",
              "required": true
            }
          }
        },
        "delete": {
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "description": "Deletes a comment.",
          "flatPath": "files/{fileId}/comments/{commentId}",
          "httpMethod": "DELETE",
          "path": "files/{fileId}/comments/{commentId}",
          "parameters": {
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "type": "string",
              "location": "path"
            },
            "commentId": {
              "description": "The ID of the comment.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "drive.comments.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        }
      }
    },
    "apps": {
      "methods": {
        "get": {
          "parameterOrder": [
            "appId"
          ],
          "description": "Gets a specific app.",
          "flatPath": "apps/{appId}",
          "httpMethod": "GET",
          "path": "apps/{appId}",
          "parameters": {
            "appId": {
              "location": "path",
              "description": "The ID of the app.",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "App"
          },
          "id": "drive.apps.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "list": {
          "response": {
            "$ref": "AppList"
          },
          "id": "drive.apps.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive.apps.readonly"
          ],
          "parameterOrder": [],
          "description": "Lists a user's installed apps.",
          "flatPath": "apps",
          "httpMethod": "GET",
          "path": "apps",
          "parameters": {
            "appFilterExtensions": {
              "description": "A comma-separated list of file extensions for open with filtering. All apps within the given app query scope which can open any of the given file extensions will be included in the response. If `appFilterMimeTypes` are provided as well, the result is a union of the two resulting app lists.",
              "type": "string",
              "location": "query",
              "default": ""
            },
            "languageCode": {
              "location": "query",
              "description": "A language or locale code, as defined by BCP 47, with some extensions from Unicode's LDML format (http://www.unicode.org/reports/tr35/).",
              "type": "string"
            },
            "appFilterMimeTypes": {
              "default": "",
              "location": "query",
              "description": "A comma-separated list of MIME types for open with filtering. All apps within the given app query scope which can open any of the given MIME types will be included in the response. If `appFilterExtensions` are provided as well, the result is a union of the two resulting app lists.",
              "type": "string"
            }
          }
        }
      }
    },
    "revisions": {
      "methods": {
        "delete": {
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "description": "Permanently deletes a file version. You can only delete revisions for files with binary content, like images or videos. Revisions for other files, like Google Docs or Sheets, and the last remaining file version can't be deleted.",
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "httpMethod": "DELETE",
          "path": "files/{fileId}/revisions/{revisionId}",
          "parameters": {
            "revisionId": {
              "location": "path",
              "description": "The ID of the revision.",
              "type": "string",
              "required": true
            },
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "type": "string",
              "required": true
            }
          },
          "id": "drive.revisions.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "patch": {
          "id": "drive.revisions.patch",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "request": {
            "$ref": "Revision"
          },
          "response": {
            "$ref": "Revision"
          },
          "path": "files/{fileId}/revisions/{revisionId}",
          "parameters": {
            "fileId": {
              "required": true,
              "location": "path",
              "description": "The ID for the file.",
              "type": "string"
            },
            "revisionId": {
              "description": "The ID for the revision.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "description": "Updates a revision.",
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "httpMethod": "PATCH"
        },
        "get": {
          "id": "drive.revisions.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "Revision"
          },
          "parameters": {
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "type": "string",
              "location": "path"
            },
            "revisionId": {
              "description": "The ID of the revision.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "files/{fileId}/revisions/{revisionId}",
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "description": "Gets a specific revision."
        },
        "list": {
          "id": "drive.revisions.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "RevisionList"
          },
          "parameters": {
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "type": "string",
              "location": "path"
            },
            "pageToken": {
              "location": "query",
              "description": "Page token for revisions. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response.",
              "type": "string"
            },
            "maxResults": {
              "minimum": "1",
              "description": "Maximum number of revisions to return.",
              "type": "integer",
              "format": "int32",
              "default": "200",
              "location": "query",
              "maximum": "1000"
            }
          },
          "path": "files/{fileId}/revisions",
          "flatPath": "files/{fileId}/revisions",
          "httpMethod": "GET",
          "parameterOrder": [
            "fileId"
          ],
          "description": "Lists a file's revisions. **Important:** The list of revisions returned by this method might be incomplete for files with a large revision history, including frequently edited Google Docs, Sheets, and Slides. Older revisions might be omitted from the response, meaning the first revision returned may not be the oldest existing revision. The revision history visible in the Workspace editor user interface might be more complete than the list returned by the API."
        },
        "update": {
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "httpMethod": "PUT",
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "description": "Updates a revision.",
          "parameters": {
            "revisionId": {
              "required": true,
              "location": "path",
              "description": "The ID for the revision.",
              "type": "string"
            },
            "fileId": {
              "required": true,
              "location": "path",
              "description": "The ID for the file.",
              "type": "string"
            }
          },
          "path": "files/{fileId}/revisions/{revisionId}",
          "request": {
            "$ref": "Revision"
          },
          "response": {
            "$ref": "Revision"
          },
          "id": "drive.revisions.update",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ]
        }
      }
    },
    "files": {
      "methods": {
        "emptyTrash": {
          "id": "drive.files.emptyTrash",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "flatPath": "files/trash",
          "httpMethod": "DELETE",
          "parameterOrder": [],
          "description": "Permanently deletes all of the user's trashed files.",
          "parameters": {
            "enforceSingleParent": {
              "deprecated": true,
              "default": "false",
              "location": "query",
              "description": "Deprecated: If an item is not in a shared drive and its last parent is deleted but the item itself is not, the item is placed under its owner's root.",
              "type": "boolean"
            },
            "driveId": {
              "description": "If set, empties the trash of the provided shared drive.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "files/trash"
        },
        "generateIds": {
[...]
