{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "drive:v2",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "servicePath": "drive/v2/",
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "rootUrl": "https://www.googleapis.com/",
  "resources": {
    "permissions": {
      "methods": {
        "list": {
          "flatPath": "files/{fileId}/permissions",
          "description": "Lists a file's or shared drive's permissions.",
          "id": "drive.permissions.list",
          "response": {
            "$ref": "PermissionList"
          },
          "httpMethod": "GET",
          "path": "files/{fileId}/permissions",
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "supportsTeamDrives": {
              "type": "boolean",
              "location": "query",
              "default": "false",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "maxResults": {
              "format": "int32",
              "maximum": "100",
              "minimum": "1",
              "type": "integer",
              "location": "query",
              "description": "The maximum number of permissions to return per page. When not set for files in a shared drive, at most 100 results will be returned. When not set for files that are not in a shared drive, the entire list will be returned."
            },
            "includePermissionsForView": {
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.",
              "type": "string"
            },
            "fileId": {
              "location": "path",
              "description": "The ID for the file or shared drive.",
              "required": true,
              "type": "string"
            },
            "supportsAllDrives": {
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "default": "false"
            },
            "useDomainAdminAccess": {
              "location": "query",
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "type": "boolean"
            }
          }
        },
        "get": {
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "path": "files/{fileId}/permissions/{permissionId}",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "response": {
            "$ref": "Permission"
          },
          "httpMethod": "GET",
          "description": "Gets a permission by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.permissions.get",
          "parameters": {
            "permissionId": {
              "type": "string",
              "location": "path",
              "description": "The ID for the permission.",
              "required": true
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "description": "The ID for the file or shared drive.",
              "required": true
            },
            "supportsTeamDrives": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true
            },
            "supportsAllDrives": {
              "location": "query",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean"
            },
            "useDomainAdminAccess": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs."
            }
          }
        },
        "patch": {
          "response": {
            "$ref": "Permission"
          },
          "description": "Updates a permission using patch semantics. **Warning:** Concurrent permission modifications (such as update or delete) on the same file, folder, or shared drive aren't supported across any users or clients; only the last update is applied.",
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "path": "files/{fileId}/permissions/{permissionId}",
          "request": {
            "$ref": "Permission"
          },
          "parameters": {
            "removeExpiration": {
              "type": "boolean",
              "default": "false",
              "description": "Whether to remove the expiration date.",
              "location": "query"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "deprecated": true,
              "default": "false",
              "location": "query"
            },
            "fileId": {
              "description": "The ID for the file or shared drive.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "permissionId": {
              "location": "path",
              "required": true,
              "description": "The ID for the permission.",
              "type": "string"
            },
            "supportsAllDrives": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "useDomainAdminAccess": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs."
            },
            "transferOwnership": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Whether changing a role to `owner` downgrades the current owners to writers. Does nothing if the specified role is not `owner`."
            },
            "enforceExpansiveAccess": {
              "location": "query",
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: All requests use the expansive access rules.",
              "type": "boolean"
            }
          },
          "id": "drive.permissions.patch",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "getIdForEmail": {
          "parameterOrder": [
            "email"
          ],
          "id": "drive.permissions.getIdForEmail",
          "description": "Returns the permission ID for an email address.",
          "httpMethod": "GET",
          "path": "permissionIds/{email}",
          "flatPath": "permissionIds/{email}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "email": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The email address for which to return a permission ID"
            }
          },
          "response": {
            "$ref": "PermissionId"
          }
        },
        "update": {
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "path": "files/{fileId}/permissions/{permissionId}",
          "id": "drive.permissions.update",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameters": {
            "supportsAllDrives": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "supportsTeamDrives": {
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "deprecated": true,
              "type": "boolean"
            },
            "transferOwnership": {
              "type": "boolean",
              "location": "query",
              "default": "false",
              "description": "Whether changing a role to `owner` downgrades the current owners to writers. Does nothing if the specified role is not `owner`."
            },
            "fileId": {
              "type": "string",
              "location": "path",
              "description": "The ID for the file or shared drive.",
              "required": true
            },
            "permissionId": {
              "description": "The ID for the permission.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "useDomainAdminAccess": {
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "location": "query",
              "default": "false"
            },
            "enforceExpansiveAccess": {
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: All requests use the expansive access rules.",
              "location": "query",
              "deprecated": true
            },
            "removeExpiration": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Whether to remove the expiration date."
            }
          },
          "response": {
            "$ref": "Permission"
          },
          "description": "Updates a permission. **Warning:** Concurrent permission modifications (such as update or delete) on the same file, folder, or shared drive aren't supported across any users or clients; only the last update is applied.",
          "httpMethod": "PUT",
          "request": {
            "$ref": "Permission"
          },
          "flatPath": "files/{fileId}/permissions/{permissionId}"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "httpMethod": "DELETE",
          "path": "files/{fileId}/permissions/{permissionId}",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "id": "drive.permissions.delete",
          "description": "Deletes a permission from a file or shared drive. **Warning:** Concurrent permission modifications (such as update or delete) on the same file, folder, or shared drive aren't supported across any users or clients; only the last update is applied.",
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "parameters": {
            "permissionId": {
              "location": "path",
              "type": "string",
              "description": "The ID for the permission.",
              "required": true
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "fileId": {
              "type": "string",
              "location": "path",
              "description": "The ID for the file or shared drive.",
              "required": true
            },
            "supportsAllDrives": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "enforceExpansiveAccess": {
              "deprecated": true,
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Deprecated: All requests use the expansive access rules."
            },
            "supportsTeamDrives": {
              "default": "false",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "type": "boolean"
            }
          }
        },
        "insert": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameters": {
            "useDomainAdminAccess": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs."
            },
            "enforceExpansiveAccess": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Deprecated: All requests use the expansive access rules.",
              "deprecated": true
            },
            "enforceSingleParent": {
              "default": "false",
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: See `moveToNewOwnersRoot` for details.",
              "type": "boolean"
            },
            "sendNotificationEmails": {
              "type": "boolean",
              "description": "Whether to send notification emails when sharing to users or groups. This parameter is ignored and an email is sent if the `role` is `owner`.",
              "location": "query",
              "default": "true"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "default": "false"
            },
            "emailMessage": {
              "type": "string",
              "location": "query",
              "description": "A plain text custom message to include in notification emails."
            },
            "moveToNewOwnersRoot": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "This parameter will only take effect if the item is not in a shared drive and the request is attempting to transfer the ownership of the item. If set to `true`, the item will be moved to the new owner's My Drive root folder and all prior parents removed. If set to `false`, parents are not changed."
            },
            "supportsAllDrives": {
              "type": "boolean",
              "location": "query",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "fileId": {
              "description": "The ID for the file or shared drive.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "Permission"
          },
          "description": "Inserts a permission for a file or shared drive. **Warning:** Concurrent permission modifications (such as update or delete) on the same file, folder, or shared drive aren't supported across any users or clients; only the last update is applied.",
          "id": "drive.permissions.insert",
          "request": {
            "$ref": "Permission"
          },
          "flatPath": "files/{fileId}/permissions",
          "parameterOrder": [
            "fileId"
          ],
          "path": "files/{fileId}/permissions"
        }
      }
    },
    "parents": {
      "methods": {
        "list": {
          "path": "files/{fileId}/parents",
          "description": "Lists a file's parents.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "ParentList"
          },
          "id": "drive.parents.list",
          "flatPath": "files/{fileId}/parents",
          "parameters": {
            "fileId": {
              "type": "string",
              "required": true,
              "description": "The ID of the file.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "fileId"
          ]
        },
        "insert": {
          "parameters": {
            "supportsAllDrives": {
              "type": "boolean",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "default": "false"
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the file.",
              "required": true
            },
            "enforceSingleParent": {
              "default": "false",
              "type": "boolean",
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead.",
              "deprecated": true,
              "location": "query"
            }
          },
          "response": {
            "$ref": "ParentReference"
          },
          "httpMethod": "POST",
          "flatPath": "files/{fileId}/parents",
          "id": "drive.parents.insert",
          "request": {
            "$ref": "ParentReference"
          },
          "path": "files/{fileId}/parents",
          "description": "Adds a parent folder for a file.",
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "get": {
          "parameters": {
            "parentId": {
              "location": "path",
              "description": "The ID of the parent.",
              "type": "string",
              "required": true
            },
            "fileId": {
              "type": "string",
              "required": true,
              "description": "The ID of the file.",
              "location": "path"
            }
          },
          "id": "drive.parents.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET",
          "flatPath": "files/{fileId}/parents/{parentId}",
          "parameterOrder": [
            "fileId",
            "parentId"
          ],
          "response": {
            "$ref": "ParentReference"
          },
          "description": "Gets a specific parent reference.",
          "path": "files/{fileId}/parents/{parentId}"
        },
        "delete": {
          "flatPath": "files/{fileId}/parents/{parentId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.parents.delete",
          "description": "Removes a parent from a file.",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "parentId": {
              "required": true,
              "type": "string",
              "description": "The ID of the parent.",
              "location": "path"
            },
            "enforceSingleParent": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "deprecated": true,
              "description": "Deprecated: If an item is not in a shared drive and its last parent is removed, the item is placed under its owner's root."
            }
          },
          "parameterOrder": [
            "fileId",
            "parentId"
          ],
          "httpMethod": "DELETE",
          "path": "files/{fileId}/parents/{parentId}"
        }
      }
    },
    "teamdrives": {
      "methods": {
        "update": {
          "parameters": {
            "teamDriveId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the Team Drive"
            },
            "useDomainAdminAccess": {
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs.",
              "type": "boolean",
              "default": "false"
            }
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "TeamDrive"
          },
          "request": {
            "$ref": "TeamDrive"
          },
          "id": "drive.teamdrives.update",
          "description": "Deprecated: Use `drives.update` instead.",
          "flatPath": "teamdrives/{teamDriveId}",
          "path": "teamdrives/{teamDriveId}",
          "parameterOrder": [
            "teamDriveId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        },
        "insert": {
          "description": "Deprecated: Use `drives.insert` instead.",
          "response": {
            "$ref": "TeamDrive"
          },
          "id": "drive.teamdrives.insert",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "path": "teamdrives",
          "request": {
            "$ref": "TeamDrive"
          },
          "flatPath": "teamdrives",
          "parameterOrder": [
            "requestId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "requestId": {
              "type": "string",
              "location": "query",
              "required": true,
              "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a Team Drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same Team Drive. If the Team Drive already exists a 409 error will be returned."
            }
          }
        },
        "list": {
          "response": {
            "$ref": "TeamDriveList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Deprecated: Use `drives.list` instead.",
          "flatPath": "teamdrives",
          "id": "drive.teamdrives.list",
          "httpMethod": "GET",
          "path": "teamdrives",
          "parameters": {
            "maxResults": {
              "location": "query",
              "default": "10",
              "format": "int32",
              "type": "integer",
              "description": "Maximum number of Team Drives to return.",
              "minimum": "1",
              "maximum": "100"
            },
            "useDomainAdminAccess": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then all Team Drives of the domain in which the requester is an administrator are returned."
            },
            "pageToken": {
              "type": "string",
              "description": "Page token for Team Drives.",
              "location": "query"
            },
            "q": {
              "description": "Query string for searching Team Drives.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": []
        },
        "get": {
          "parameterOrder": [
            "teamDriveId"
          ],
          "path": "teamdrives/{teamDriveId}",
          "id": "drive.teamdrives.get",
          "description": "Deprecated: Use `drives.get` instead.",
          "parameters": {
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "teamDriveId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the Team Drive"
            }
          },
          "flatPath": "teamdrives/{teamDriveId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "TeamDrive"
          }
        },
        "delete": {
          "flatPath": "teamdrives/{teamDriveId}",
          "id": "drive.teamdrives.delete",
          "parameters": {
            "teamDriveId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the Team Drive"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "path": "teamdrives/{teamDriveId}",
          "parameterOrder": [
            "teamDriveId"
          ],
          "description": "Deprecated: Use `drives.delete` instead.",
          "httpMethod": "DELETE"
        }
      }
    },
    "revisions": {
      "methods": {
        "patch": {
          "parameters": {
            "fileId": {
              "required": true,
              "type": "string",
              "description": "The ID for the file.",
              "location": "path"
            },
            "revisionId": {
              "required": true,
              "type": "string",
              "description": "The ID for the revision.",
              "location": "path"
            }
          },
          "path": "files/{fileId}/revisions/{revisionId}",
          "description": "Updates a revision.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "httpMethod": "PATCH",
          "id": "drive.revisions.patch",
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "request": {
            "$ref": "Revision"
          },
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "response": {
            "$ref": "Revision"
          }
        },
        "get": {
          "httpMethod": "GET",
          "description": "Gets a specific revision.",
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "response": {
            "$ref": "Revision"
          },
          "parameters": {
            "revisionId": {
              "location": "path",
              "description": "The ID of the revision.",
              "type": "string",
              "required": true
            },
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "path": "files/{fileId}/revisions/{revisionId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.revisions.get"
        },
        "delete": {
          "httpMethod": "DELETE",
          "description": "Permanently deletes a file version. You can only delete revisions for files with binary content, like images or videos. Revisions for other files, like Google Docs or Sheets, and the last remaining file version can't be deleted.",
          "path": "files/{fileId}/revisions/{revisionId}",
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "id": "drive.revisions.delete",
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "parameters": {
            "revisionId": {
              "description": "The ID of the revision.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "update": {
          "request": {
            "$ref": "Revision"
          },
          "parameters": {
            "fileId": {
              "required": true,
              "description": "The ID for the file.",
              "type": "string",
              "location": "path"
            },
            "revisionId": {
              "description": "The ID for the revision.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "response": {
            "$ref": "Revision"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/{fileId}/revisions/{revisionId}",
          "description": "Updates a revision.",
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "id": "drive.revisions.update"
        },
        "list": {
          "parameterOrder": [
            "fileId"
          ],
          "httpMethod": "GET",
          "id": "drive.revisions.list",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Page token for revisions. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response.",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "minimum": "1",
              "maximum": "1000",
              "description": "Maximum number of revisions to return.",
              "format": "int32",
              "default": "200",
              "type": "integer"
            },
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "files/{fileId}/revisions",
          "response": {
            "$ref": "RevisionList"
          },
          "description": "Lists a file's revisions. **Important:** The list of revisions returned by this method might be incomplete for files with a large revision history, including frequently edited Google Docs, Sheets, and Slides. Older revisions might be omitted from the response, meaning the first revision returned may not be the oldest existing revision. The revision history visible in the Workspace editor user interface might be more complete than the list returned by the API.",
          "flatPath": "files/{fileId}/revisions"
        }
      }
    },
    "properties": {
      "methods": {
        "insert": {
          "parameters": {
            "fileId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the file.",
              "required": true
            }
          },
          "httpMethod": "POST",
          "description": "Adds a property to a file, or updates it if it already exists.",
          "path": "files/{fileId}/properties",
          "id": "drive.properties.insert",
          "flatPath": "files/{fileId}/properties",
          "request": {
            "$ref": "Property"
          },
          "response": {
            "$ref": "Property"
          },
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ]
        },
        "get": {
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "description": "Gets a property by its key.",
          "response": {
            "$ref": "Property"
          },
          "path": "files/{fileId}/properties/{propertyKey}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.properties.get",
          "parameters": {
            "fileId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the file.",
              "required": true
            },
            "propertyKey": {
              "required": true,
              "type": "string",
              "description": "The key of the property.",
              "location": "path"
            },
            "visibility": {
              "location": "query",
              "default": "private",
              "type": "string",
              "description": "The visibility of the property."
            }
          }
        },
        "delete": {
          "parameters": {
            "propertyKey": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The key of the property."
            },
            "visibility": {
              "location": "query",
              "default": "private",
              "type": "string",
              "description": "The visibility of the property."
            },
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID of the file.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "path": "files/{fileId}/properties/{propertyKey}",
          "description": "Deletes a property.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "id": "drive.properties.delete",
          "httpMethod": "DELETE"
        },
        "list": {
          "response": {
            "$ref": "PropertyList"
          },
          "path": "files/{fileId}/properties",
          "httpMethod": "GET",
          "parameters": {
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "fileId"
          ],
          "flatPath": "files/{fileId}/properties",
          "id": "drive.properties.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Lists a file's properties."
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "request": {
            "$ref": "Property"
          },
          "id": "drive.properties.update",
          "description": "Updates a property.",
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "path": "files/{fileId}/properties/{propertyKey}",
          "httpMethod": "PUT",
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "parameters": {
            "visibility": {
              "description": "The visibility of the property. Allowed values are PRIVATE and PUBLIC. (Default: PRIVATE)",
              "type": "string",
              "location": "query",
              "default": "private"
            },
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "type": "string",
              "location": "path"
            },
            "propertyKey": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The key of the property."
            }
          },
          "response": {
            "$ref": "Property"
          }
        },
        "patch": {
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "response": {
            "$ref": "Property"
          },
          "parameters": {
            "visibility": {
              "type": "string",
              "location": "query",
              "default": "private",
              "description": "The visibility of the property. Allowed values are PRIVATE and PUBLIC. (Default: PRIVATE)"
            },
            "propertyKey": {
              "required": true,
              "description": "The key of the property.",
              "type": "string",
              "location": "path"
            },
            "fileId": {
              "type": "string",
              "description": "The ID of the file.",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "description": "Updates a property.",
          "id": "drive.properties.patch",
          "path": "files/{fileId}/properties/{propertyKey}",
          "request": {
            "$ref": "Property"
          }
        }
      }
    },
    "changes": {
      "methods": {
        "getStartPageToken": {
          "parameters": {
            "teamDriveId": {
              "description": "Deprecated: Use `driveId` instead.",
              "deprecated": true,
              "location": "query",
              "type": "string"
            },
            "driveId": {
              "description": "The ID of the shared drive for which the starting pageToken for listing future changes from that shared drive will be returned.",
              "location": "query",
              "type": "string"
            },
            "supportsAllDrives": {
              "location": "query",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "default": "false",
              "deprecated": true
            }
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "path": "changes/startPageToken",
          "description": "Gets the starting pageToken for listing future changes.",
          "id": "drive.changes.getStartPageToken",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "StartPageToken"
          },
          "flatPath": "changes/startPageToken"
        },
        "get": {
          "httpMethod": "GET",
          "path": "changes/{changeId}",
          "id": "drive.changes.get",
          "parameters": {
            "supportsAllDrives": {
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "default": "false"
            },
            "teamDriveId": {
              "type": "string",
              "deprecated": true,
              "description": "Deprecated: Use `driveId` instead.",
              "location": "query"
            },
            "driveId": {
              "location": "query",
              "type": "string",
              "description": "The shared drive from which the change will be returned."
            },
            "supportsTeamDrives": {
              "location": "query",
              "deprecated": true,
              "default": "false",
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "changeId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the change.",
              "required": true
            }
          },
          "parameterOrder": [
            "changeId"
          ],
          "description": "Deprecated: Use `changes.getStartPageToken` and `changes.list` to retrieve recent changes.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "Change"
          },
          "flatPath": "changes/{changeId}"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "changes",
          "supportsSubscription": true,
          "parameterOrder": [],
          "parameters": {
            "supportsAllDrives": {
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean"
            },
            "includeSubscribed": {
              "type": "boolean",
              "default": "true",
              "location": "query",
              "description": "Whether to include changes outside the My Drive hierarchy in the result. When set to false, changes to files such as those in the Application Data folder or shared files which have not been added to My Drive will be omitted from the result."
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "default": "100",
              "type": "integer",
              "description": "Maximum number of changes to return.",
              "minimum": "1"
            },
            "pageToken": {
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response or to the response from the getStartPageToken method.",
              "location": "query"
            },
            "includeTeamDriveItems": {
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "default": "false",
              "deprecated": true,
              "type": "boolean",
              "location": "query"
            },
            "supportsTeamDrives": {
              "location": "query",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "deprecated": true
            },
            "includeCorpusRemovals": {
              "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string",
              "location": "query"
            },
            "driveId": {
              "description": "The shared drive from which changes will be returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier.",
              "location": "query",
              "type": "string"
            },
            "teamDriveId": {
              "type": "string",
              "location": "query",
              "description": "Deprecated: Use `driveId` instead.",
              "deprecated": true
            },
            "includeDeleted": {
              "location": "query",
              "type": "boolean",
              "default": "true",
              "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access."
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string",
              "location": "query"
            },
            "includeItemsFromAllDrives": {
              "location": "query",
              "type": "boolean",
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "default": "false"
            },
            "startChangeId": {
              "deprecated": true,
              "format": "int64",
              "type": "string",
              "description": "Deprecated: Use `pageToken` instead.",
              "location": "query"
            },
            "spaces": {
              "location": "query",
              "description": "A comma-separated list of spaces to query. Supported values are `drive`, `appDataFolder` and `photos`.",
              "type": "string"
            }
          },
          "description": "Lists the changes for a user or shared drive.",
          "response": {
            "$ref": "ChangeList"
          },
          "id": "drive.changes.list",
          "flatPath": "changes",
          "httpMethod": "GET"
        },
        "watch": {
          "supportsSubscription": true,
          "description": "Subscribe to changes for a user.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "id": "drive.changes.watch",
          "parameters": {
            "maxResults": {
              "minimum": "1",
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Maximum number of changes to return.",
              "default": "100"
            },
            "includePermissionsForView": {
              "location": "query",
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "driveId": {
              "description": "The shared drive from which changes will be returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier.",
              "location": "query",
              "type": "string"
            },
            "includeDeleted": {
              "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.",
              "default": "true",
              "type": "boolean",
              "location": "query"
            },
            "includeTeamDriveItems": {
              "location": "query",
              "type": "boolean",
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "deprecated": true,
              "default": "false"
            },
            "includeItemsFromAllDrives": {
              "default": "false",
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "type": "boolean",
              "location": "query"
            },
            "includeCorpusRemovals": {
              "type": "boolean",
              "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.",
              "location": "query",
              "default": "false"
            },
            "startChangeId": {
              "location": "query",
              "type": "string",
              "deprecated": true,
              "description": "Deprecated: Use `pageToken` instead.",
              "format": "int64"
            },
            "spaces": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of spaces to query. Supported values are `drive`, `appDataFolder` and `photos`."
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "teamDriveId": {
              "location": "query",
              "type": "string",
              "deprecated": true,
              "description": "Deprecated: Use `driveId` instead."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response or to the response from the getStartPageToken method."
            },
            "includeLabels": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "includeSubscribed": {
              "default": "true",
              "location": "query",
              "type": "boolean",
              "description": "Whether to include changes outside the My Drive hierarchy in the result. When set to false, changes to files such as those in the Application Data folder or shared files which have not been added to My Drive will be omitted from the result."
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            }
          },
          "response": {
            "$ref": "Channel"
          },
          "path": "changes/watch",
          "flatPath": "changes/watch",
          "httpMethod": "POST"
        }
      }
    },
    "files": {
      "methods": {
        "copy": {
          "flatPath": "files/{fileId}/copy",
          "description": "Creates a copy of the specified file.",
          "request": {
            "$ref": "File"
          },
          "id": "drive.files.copy",
          "response": {
            "$ref": "File"
          },
          "parameters": {
            "timedTextTrackName": {
              "description": "The timed text track name.",
              "type": "string",
              "location": "query"
            },
            "includePermissionsForView": {
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string"
            },
            "supportsTeamDrives": {
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "type": "boolean",
              "deprecated": true
            },
            "fileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the file to copy."
            },
            "ocrLanguage": {
              "type": "string",
              "location": "query",
              "description": "If `ocr` is true, hints at the language to use. Valid values are BCP 47 codes."
            },
            "includeLabels": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "visibility": {
              "type": "string",
              "description": "The visibility of the new file. Permissions are still inherited from parent folders. This parameter is only relevant when the source is not a Google Doc file and when `convert=false`.",
              "location": "query",
              "default": "DEFAULT",
              "enum": [
                "DEFAULT",
                "PRIVATE"
              ],
              "enumDescriptions": [
                "The visibility of the new file is determined by the user's default visibility or sharing policies.",
                "The user's default visibility or sharing policies are ignored, and the new file is only visible to the owner and any users with permissions inherited from the parent folder."
              ]
            },
            "timedTextLanguage": {
              "type": "string",
              "location": "query",
              "description": "The language of the timed text."
            },
            "enforceSingleParent": {
              "location": "query",
              "default": "false",
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Copying files into multiple folders is no longer supported. Use shortcuts instead."
            },
            "ocr": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads."
            },
            "supportsAllDrives": {
              "type": "boolean",
              "location": "query",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "convert": {
              "default": "false",
              "description": "Whether to convert this file to the corresponding Docs Editors format.",
              "location": "query",
              "type": "boolean"
            },
            "pinned": {
              "default": "false",
              "description": "Whether to pin the head revision of the new copy. A file can have a maximum of 200 pinned revisions.",
              "location": "query",
              "type": "boolean"
            }
          },
          "parameterOrder": [
            "fileId"
          ],
          "path": "files/{fileId}/copy",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.photos.readonly"
          ]
        },
        "get": {
          "path": "files/{fileId}",
          "description": " Gets a file's metadata or content by ID. If you provide the URL parameter `alt=media`, then the response includes the file contents in the response body. Downloading content with `alt=media` only works if the file is stored in Drive. To download Google Docs, Sheets, and Slides use [`files.export`](https://developers.google.com/workspace/drive/api/reference/rest/v2/files/export) instead. For more information, see [Download & export files](https://developers.google.com/workspace/drive/api/guides/manage-downloads).",
          "response": {
            "$ref": "File"
          },
          "parameterOrder": [
            "fileId"
          ],
          "supportsSubscription": true,
          "flatPath": "files/{fileId}",
          "useMediaDownloadService": true,
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "supportsMediaDownload": true,
          "id": "drive.files.get",
          "parameters": {
            "acknowledgeAbuse": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides."
            },
            "supportsAllDrives": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "revisionId": {
              "description": "Specifies the Revision ID that should be downloaded. Ignored unless alt=media is specified.",
              "type": "string",
              "location": "query"
            },
            "includePermissionsForView": {
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query"
            },
            "fileId": {
              "description": "The ID for the file in question.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "projection": {
              "location": "query",
              "type": "string",
              "description": "Deprecated: This parameter has no function.",
              "enum": [
                "BASIC",
                "FULL"
              ],
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ],
              "deprecated": true
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "includeLabels": {
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string"
            },
            "updateViewedDate": {
              "deprecated": true,
              "description": "Deprecated: Use `files.update` with `modifiedDateBehavior=noChange, updateViewedDate=true` and an empty request body.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            }
          }
        },
        "emptyTrash": {
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "parameters": {
            "enforceSingleParent": {
              "location": "query",
              "deprecated": true,
              "default": "false",
              "type": "boolean",
              "description": "Deprecated: If an item is not in a shared drive and its last parent is deleted but the item itself is not, the item is placed under its owner's root."
            },
            "driveId": {
              "description": "If set, empties the trash of the provided shared drive.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "files/trash",
          "parameterOrder": [],
          "httpMethod": "DELETE",
          "flatPath": "files/trash",
          "id": "drive.files.emptyTrash",
          "description": "Permanently deletes all of the user's trashed files."
        },
        "generateCseToken": {
          "id": "drive.files.generateCseToken",
          "httpMethod": "GET",
          "flatPath": "files/generateCseToken",
          "description": "Generates a CSE token which can be used to create or update CSE files.",
          "parameterOrder": [],
          "response": {
            "$ref": "GenerateCseTokenResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "parameters": {
            "fileId": {
              "description": "The ID of the file for which the JWT should be generated. If not provided, an id will be generated.",
              "location": "query",
              "type": "string"
            },
            "parent": {
              "location": "query",
              "type": "string",
              "description": "The ID of the expected parent of the file. Used when generating a JWT for a new CSE file. If specified, the parent will be fetched, and if the parent is a shared drive item, the shared drive's policy will be used to determine the KACLS that should be used. It is invalid to specify both file_id and parent in a single request."
            }
          },
          "path": "files/generateCseToken"
        },
        "delete": {
          "description": "Permanently deletes a file owned by the user without moving it to the trash. If the file belongs to a shared drive, the user must be an `organizer` on the parent folder. If the target is a folder, all descendants owned by the user are also deleted.",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "fileId"
          ],
          "flatPath": "files/{fileId}",
          "path": "files/{fileId}",
          "id": "drive.files.delete",
          "parameters": {
            "enforceSingleParent": {
              "location": "query",
              "description": "Deprecated: If an item is not in a shared drive and its last parent is deleted but the item itself is not, the item is placed under its owner's root.",
              "type": "boolean",
              "default": "false",
              "deprecated": true
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "location": "query"
            },
            "fileId": {
              "description": "The ID of the file to delete.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "supportsAllDrives": {
              "location": "query",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "trash": {
          "parameterOrder": [
            "fileId"
          ],
          "path": "files/{fileId}/trash",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "httpMethod": "POST",
          "description": "Moves a file to the trash. The currently authenticated user must own the file or be at least a `fileOrganizer` on the parent for shared drive files.",
          "parameters": {
            "supportsAllDrives": {
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "default": "false"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string",
              "location": "query"
            },
            "supportsTeamDrives": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "fileId": {
              "location": "path",
              "description": "The ID of the file to trash.",
              "type": "string",
              "required": true
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "drive.files.trash",
          "response": {
            "$ref": "File"
          },
          "flatPath": "files/{fileId}/trash"
        },
        "untrash": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "fileId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the file to untrash.",
              "required": true
            },
            "supportsAllDrives": {
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "location": "query"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "type": "boolean",
              "location": "query",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "includePermissionsForView": {
              "type": "string",
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "includeLabels": {
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string"
            }
          },
          "flatPath": "files/{fileId}/untrash",
          "id": "drive.files.untrash",
          "response": {
            "$ref": "File"
          },
          "path": "files/{fileId}/untrash",
          "description": "Restores a file from the trash. The currently authenticated user must own the file or be at least a `fileOrganizer` on the parent for shared drive files."
        },
        "export": {
          "path": "files/{fileId}/export",
          "parameterOrder": [
            "fileId",
            "mimeType"
          ],
          "useMediaDownloadService": true,
          "supportsMediaDownload": true,
          "description": "Exports a Google Workspace document to the requested MIME type and returns exported byte content. Note that the exported content is limited to 10MB.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/export",
          "id": "drive.files.export",
          "httpMethod": "GET",
          "parameters": {
            "mimeType": {
              "description": "Required. The MIME type of the format requested for this export.",
              "type": "string",
              "location": "query",
              "required": true
            },
            "fileId": {
              "required": true,
              "type": "string",
              "description": "The ID of the file.",
              "location": "path"
            }
          }
        },
        "listLabels": {
          "id": "drive.files.listLabels",
          "response": {
            "$ref": "LabelList"
          },
          "parameterOrder": [
            "fileId"
          ],
          "description": "Lists the labels on a file.",
          "flatPath": "files/{fileId}/listLabels",
          "parameters": {
            "maxResults": {
              "format": "int32",
              "minimum": "1",
              "description": "The maximum number of labels to return per page. When not set, defaults to 100.",
              "maximum": "100",
              "location": "query",
              "default": "100",
              "type": "integer"
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "description": "The ID for the file.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "files/{fileId}/listLabels",
          "httpMethod": "GET"
        },
        "list": {
          "description": " Lists the user's files. For more information, see [Search for files and folders](https://developers.google.com/workspace/drive/api/guides/search-files). This method accepts the `q` parameter, which is a search query combining one or more search terms. This method returns *all* files by default, including trashed files. If you don't want trashed files to appear in the list, use the `trashed=false` query parameter to remove trashed files from the results.",
          "id": "drive.files.list",
          "parameterOrder": [],
          "parameters": {
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "The maximum number of files to return per page. Partial or empty result pages are possible even before the end of the files list has been reached.",
              "default": "100",
              "minimum": "0",
              "location": "query"
            },
            "pageToken": {
              "description": "Page token for files.",
              "location": "query",
              "type": "string"
            },
            "driveId": {
              "location": "query",
              "description": "ID of the shared drive to search.",
              "type": "string"
            },
            "corpus": {
              "enumDescriptions": [
                "The items that the user has accessed.",
                "Items shared to the user's domain."
              ],
              "type": "string",
              "enum": [
                "DEFAULT",
                "DOMAIN"
              ],
              "description": "Deprecated: The body of items (files/documents) to which the query applies. Use `corpora` instead.",
              "deprecated": true,
              "location": "query"
            },
            "supportsTeamDrives": {
              "default": "false",
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "corpora": {
              "location": "query",
              "type": "string",
              "description": "Bodies of items (files/documents) to which the query applies. Supported bodies are `default`, `domain`, `drive` and `allDrives`. Prefer `default` or `drive` to `allDrives` for efficiency."
            },
            "q": {
              "type": "string",
              "location": "query",
              "description": "Query string for searching files."
            },
            "orderBy": {
              "description": "A comma-separated list of sort keys. Valid keys are: * `createdDate`: When the file was created. * `folder`: The folder ID. This field is sorted using alphabetical ordering. * `lastViewedByMeDate`: The last time the file was viewed by the user. * `modifiedByMeDate`: The last time the file was modified by the user. * `modifiedDate`: The last time the file was modified by anyone. * `quotaBytesUsed`: The number of storage quota bytes used by the file. * `recency`: The most recent timestamp from the file's date-time fields. * `sharedWithMeDate`: When the file was shared with the user, if applicable. * `starred`: Whether the user has starred the file. * `title`: The title of the file. This field is sorted using alphabetical ordering, so 1, 12, 2, 22. * `title_natural`: The title of the file. This field is sorted using natural sort ordering, so 1, 2, 12, 22. Each key sorts ascending by default, but can be reversed with the 'desc' modifier. Example usage: `?orderBy=folder,modifiedDate desc,title`. Note that there's a current limitation for users with approximately one million files in which the requested sort order is ignored.",
              "location": "query",
              "type": "string"
            },
            "includePermissionsForView": {
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query"
            },
            "includeItemsFromAllDrives": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Whether both My Drive and shared drive items should be included in results."
            },
            "includeLabels": {
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query"
            },
            "includeTeamDriveItems": {
              "deprecated": true,
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead."
            },
            "supportsAllDrives": {
              "location": "query",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean"
            },
            "projection": {
              "type": "string",
              "enum": [
                "BASIC",
                "FULL"
              ],
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ],
              "deprecated": true,
              "description": "Deprecated: This parameter has no function.",
              "location": "query"
            },
            "spaces": {
              "location": "query",
              "description": "A comma-separated list of spaces to query. Supported values are `drive`, and `appDataFolder`.",
              "type": "string"
            },
            "teamDriveId": {
              "type": "string",
              "deprecated": true,
              "description": "Deprecated: Use `driveId` instead.",
              "location": "query"
            }
          },
          "flatPath": "files",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "files",
          "httpMethod": "GET",
          "response": {
            "$ref": "FileList"
          }
        },
        "generateIds": {
          "description": "Generates a set of file IDs which can be provided in insert or copy requests.",
          "parameters": {
            "space": {
              "location": "query",
              "type": "string",
              "description": "The space in which the IDs can be used to create new files. Supported values are `drive` and `appDataFolder`. (Default: `drive`)",
              "default": "drive"
            },
            "maxResults": {
              "format": "int32",
              "description": "Maximum number of IDs to return.",
              "minimum": "1",
              "type": "integer",
              "maximum": "1000",
              "default": "10",
              "location": "query"
            },
            "type": {
              "location": "query",
              "default": "files",
              "description": "The type of items which the IDs can be used for. Supported values are `files` and `shortcuts`. Note that `shortcuts` are only supported in the `drive` `space`. (Default: `files`)",
              "type": "string"
            }
          },
          "id": "drive.files.generateIds",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/generateIds",
          "response": {
            "$ref": "GeneratedIds"
          },
          "flatPath": "files/generateIds",
          "parameterOrder": []
        },
        "touch": {
          "path": "files/{fileId}/touch",
          "description": "Set the file's updated time to the current server time.",
          "id": "drive.files.touch",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "flatPath": "files/{fileId}/touch",
          "parameters": {
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "supportsTeamDrives": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "type": "string",
              "required": true,
              "description": "The ID of the file to update.",
              "location": "path"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            }
          },
          "parameterOrder": [
            "fileId"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "File"
          }
        },
        "update": {
          "mediaUpload": {
            "maxSize": "5497558138880",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/drive/v2/files/{fileId}"
              },
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/drive/v2/files/{fileId}"
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "httpMethod": "PUT",
          "request": {
            "$ref": "File"
          },
          "id": "drive.files.update",
          "flatPath": "files/{fileId}",
          "parameters": {
            "supportsTeamDrives": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true
            },
            "ocrLanguage": {
              "description": "If ocr is true, hints at the language to use. Valid values are BCP 47 codes.",
              "type": "string",
              "location": "query"
            },
            "newRevision": {
              "description": "Whether a blob upload should create a new revision. If false, the blob data in the current head revision is replaced. If true or not set, a new blob is created as head revision, and previous unpinned revisions are preserved for a short period of time. Pinned revisions are stored indefinitely, using additional storage quota, up to a maximum of 200 revisions. For details on how revisions are retained, see the [Drive Help Center](https://support.google.com/drive/answer/2409045).",
              "type": "boolean",
              "location": "query",
              "default": "true"
            },
            "useContentAsIndexableText": {
              "default": "false",
              "description": "Whether to use the content as indexable text.",
              "location": "query",
              "type": "boolean"
            },
            "timedTextTrackName": {
              "description": "The timed text track name.",
              "type": "string",
              "location": "query"
            },
            "removeParents": {
              "description": "Comma-separated list of parent IDs to remove.",
              "location": "query",
              "type": "string"
            },
            "ocr": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
              "default": "false"
            },
            "includeLabels": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "fileId": {
              "type": "string",
              "required": true,
              "description": "The ID of the file to update.",
              "location": "path"
            },
            "addParents": {
              "description": "Comma-separated list of parent IDs to add.",
              "type": "string",
              "location": "query"
            },
            "supportsAllDrives": {
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean"
            },
            "pinned": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether to pin the new revision. A file can have a maximum of 200 pinned revisions."
            },
            "updateViewedDate": {
              "location": "query",
              "type": "boolean",
              "default": "true",
              "description": "Whether to update the view date after successfully updating the file."
            },
            "modifiedDateBehavior": {
              "location": "query",
              "type": "string",
              "description": "Determines the behavior in which `modifiedDate` is updated. This overrides `setModifiedDate`.",
              "enumDescriptions": [
                "Set `modifiedDate` to the value provided in the body of the request. No change if no value was provided.",
                "Set `modifiedDate` to the value provided in the body of the request depending on other contents of the update.",
                "Set modifiedDate to the value provided in the body of the request, or to the current time if no value was provided.",
                "Maintain the previous value of `modifiedDate`.",
                "Set `modifiedDate` to the current time.",
                "Set `modifiedDate` to the current time depending on contents of the update."
              ],
              "enum": [
                "fromBody",
                "fromBodyIfNeeded",
                "fromBodyOrNow",
                "noChange",
                "now",
                "nowIfNeeded"
              ]
            },
            "includePermissionsForView": {
              "location": "query",
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "convert": {
              "description": "Deprecated: This parameter has no function.",
              "default": "false",
              "type": "boolean",
              "deprecated": true,
              "location": "query"
            },
            "enforceSingleParent": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "deprecated": true,
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead."
            },
            "timedTextLanguage": {
              "type": "string",
              "location": "query",
              "description": "The language of the timed text."
            },
            "setModifiedDate": {
              "location": "query",
              "default": "false",
              "description": "Whether to set the modified date using the value supplied in the request body. Setting this field to `true` is equivalent to `modifiedDateBehavior=fromBodyOrNow`, and `false` is equivalent to `modifiedDateBehavior=now`. To prevent any changes to the modified date set `modifiedDateBehavior=noChange`.",
              "type": "boolean"
            }
          },
          "supportsMediaUpload": true,
          "response": {
            "$ref": "File"
          },
          "description": " Updates a file's metadata, content, or both. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might be changed automatically, such as `modifiedDate`. This method supports patch semantics. This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:* `*/*` (Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information, see [Google Workspace and Google Drive supported MIME types](https://developers.google.com/workspace/drive/api/guides/mime-types).) For more information on uploading files, see [Upload file data](https://developers.google.com/workspace/drive/api/guides/manage-uploads).",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.scripts"
          ],
          "parameterOrder": [
            "fileId"
          ],
          "path": "files/{fileId}"
        },
        "watch": {
          "parameters": {
            "includePermissionsForView": {
              "location": "query",
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "projection": {
              "location": "query",
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ],
              "type": "string",
              "enum": [
                "BASIC",
                "FULL"
              ],
              "description": "Deprecated: This parameter has no function.",
              "deprecated": true
            },
            "supportsTeamDrives": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "deprecated": true,
[...]
