{
  "resources": {
    "activity": {
      "methods": {
        "query": {
          "parameters": {},
          "description": "Query past activity in Google Drive.",
          "response": {
            "$ref": "QueryDriveActivityResponse"
          },
          "id": "driveactivity.activity.query",
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "QueryDriveActivityRequest"
          },
          "path": "v2/activity:query",
          "scopes": [
            "https://www.googleapis.com/auth/drive.activity",
            "https://www.googleapis.com/auth/drive.activity.readonly"
          ],
          "flatPath": "v2/activity:query"
        }
      }
    }
  },
  "batchPath": "batch",
  "mtlsRootUrl": "https://driveactivity.mtls.googleapis.com/",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "servicePath": "",
  "ownerDomain": "google.com",
  "documentationLink": "https://developers.google.com/workspace/drive/activity/",
  "title": "Drive Activity API",
  "id": "driveactivity:v2",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.activity": {
          "description": "View and add to the activity record of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.activity.readonly": {
          "description": "View the activity record of files in your Google Drive"
        }
      }
    }
  },
  "rootUrl": "https://driveactivity.googleapis.com/",
  "canonicalName": "Drive Activity",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "description": "Provides a historical view of activity in Google Drive.",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "driveactivity",
  "revision": "20260628",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://driveactivity.googleapis.com/",
  "version": "v2",
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  },
  "version_module": true,
  "schemas": {
    "SettingsChange": {
      "id": "SettingsChange",
      "type": "object",
      "description": "Information about settings changes.",
      "properties": {
        "restrictionChanges": {
          "type": "array",
          "items": {
            "$ref": "RestrictionChange"
          },
          "description": "The set of changes made to restrictions."
        }
      }
    },
    "User": {
      "description": "Information about an end user.",
      "properties": {
        "deletedUser": {
          "$ref": "DeletedUser",
          "description": "A user whose account has since been deleted."
        },
        "knownUser": {
          "$ref": "KnownUser",
          "description": "A known user."
        },
        "unknownUser": {
          "$ref": "UnknownUser",
          "description": "A user about whom nothing is currently known."
        }
      },
      "id": "User",
      "type": "object"
    },
    "Upload": {
      "description": "An object was uploaded into Drive.",
      "properties": {},
      "id": "Upload",
      "type": "object"
    },
    "FileComment": {
      "properties": {
        "parent": {
          "$ref": "DriveItem",
          "description": "The Drive item containing this comment."
        },
        "legacyCommentId": {
          "type": "string",
          "description": "The comment in the discussion thread. This identifier is an opaque string compatible with the Drive API; see https://developers.google.com/workspace/drive/v3/reference/comments/get"
        },
        "legacyDiscussionId": {
          "type": "string",
          "description": "The discussion thread to which the comment was added. This identifier is an opaque string compatible with the Drive API and references the first comment in a discussion; see https://developers.google.com/workspace/drive/v3/reference/comments/get"
        },
        "linkToDiscussion": {
          "description": "The link to the discussion thread containing this comment, for example, `https://docs.google.com/DOCUMENT_ID/edit?disco=THREAD_ID`.",
          "type": "string"
        }
      },
      "description": "A comment on a file.",
      "type": "object",
      "id": "FileComment"
    },
    "Administrator": {
      "id": "Administrator",
      "type": "object",
      "description": "Empty message representing an administrator.",
      "properties": {}
    },
    "Selection": {
      "properties": {
        "displayName": {
          "description": "Selection value as human-readable display string.",
          "type": "string"
        },
        "value": {
          "description": "Selection value as Field Choice ID.",
          "type": "string"
        }
      },
      "description": "Wrapper for Selection Field value as combined value/display_name pair for selected choice.",
      "type": "object",
      "id": "Selection"
    },
    "Suggestion": {
      "id": "Suggestion",
      "type": "object",
      "description": "A suggestion.",
      "properties": {
        "subtype": {
          "type": "string",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "ACCEPTED",
            "REJECTED",
            "ACCEPT_DELETED",
            "REJECT_DELETED"
          ],
          "enumDescriptions": [
            "Subtype not available.",
            "A suggestion was added.",
            "A suggestion was deleted.",
            "A suggestion reply was added.",
            "A suggestion reply was deleted.",
            "A suggestion was accepted.",
            "A suggestion was rejected.",
            "An accepted suggestion was deleted.",
            "A rejected suggestion was deleted."
          ],
          "description": "The sub-type of this event."
        }
      }
    },
    "Rename": {
      "description": "An object was renamed.",
      "properties": {
        "oldTitle": {
          "type": "string",
          "description": "The previous title of the drive object."
        },
        "newTitle": {
          "description": "The new title of the drive object.",
          "type": "string"
        }
      },
      "id": "Rename",
      "type": "object"
    },
    "TargetReference": {
      "type": "object",
      "id": "TargetReference",
      "properties": {
        "drive": {
          "$ref": "DriveReference",
          "description": "The target is a shared drive."
        },
        "driveItem": {
          "description": "The target is a Drive item.",
          "$ref": "DriveItemReference"
        },
        "teamDrive": {
          "$ref": "TeamDriveReference",
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true
        }
      },
      "description": "A lightweight reference to the target of activity."
    },
    "ApplicationReference": {
      "description": "Activity in applications other than Drive.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "The type is not available.",
            "The links of one or more Drive items were posted.",
            "Comments were made regarding a Drive item."
          ],
          "description": "The reference type corresponding to this event.",
          "type": "string",
          "enum": [
            "UNSPECIFIED_REFERENCE_TYPE",
            "LINK",
            "DISCUSS"
          ]
        }
      },
      "id": "ApplicationReference",
      "type": "object"
    },
    "UserList": {
      "properties": {
        "values": {
          "description": "User values.",
          "type": "array",
          "items": {
            "$ref": "SingleUser"
          }
        }
      },
      "description": "Wrapper for UserList Field value.",
      "type": "object",
      "id": "UserList"
    },
    "QueryDriveActivityRequest": {
      "type": "object",
      "id": "QueryDriveActivityRequest",
      "properties": {
        "ancestorName": {
          "description": "Return activities for this Drive folder, plus all children and descendants. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "consolidationStrategy": {
          "$ref": "ConsolidationStrategy",
          "description": "Details on how to consolidate related actions that make up the activity. If not set, then related actions aren't consolidated."
        },
        "pageToken": {
          "type": "string",
          "description": "The token identifies which page of results to return. Set this to the next_page_token value returned from a previous query to obtain the following page of results. If not set, the first page of results is returned."
        },
        "filter": {
          "type": "string",
          "description": "The filtering for items returned from this query request. The format of the filter string is a sequence of expressions, joined by an optional \"AND\", where each expression is of the form \"field operator value\". Supported fields: - `time`: Uses numerical operators on date values either in terms of milliseconds since Jan 1, 1970 or in RFC 3339 format. Examples: - `time > 1452409200000 AND time <= 1492812924310` - `time >= \"2016-01-10T01:02:03-05:00\"` - `detail.action_detail_case`: Uses the \"has\" operator (:) and either a singular value or a list of allowed action types enclosed in parentheses, separated by a space. To exclude a result from the response, prepend a hyphen (`-`) to the beginning of the filter string. Examples: - `detail.action_detail_case:RENAME` - `detail.action_detail_case:(CREATE RESTORE)` - `-detail.action_detail_case:MOVE` "
        },
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum number of activities desired in the response; the server attempts to return at least this quantity. The server may also return fewer activities if it has a partial response ready before the request times out. If not set, a default value is used."
        },
        "itemName": {
          "type": "string",
          "description": "Return activities for this Drive item. The format is `items/ITEM_ID`."
        }
      },
      "description": "The request message for querying Drive activity."
    },
    "Date": {
      "description": "Wrapper for Date Field value.",
      "properties": {
        "value": {
          "description": "Date value.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Date",
      "type": "object"
    },
    "TeamDriveReference": {
      "properties": {
        "title": {
          "type": "string",
          "description": "This field is deprecated; please see `DriveReference.title` instead."
        },
        "name": {
          "type": "string",
          "description": "This field is deprecated; please see `DriveReference.name` instead."
        }
      },
      "deprecated": true,
      "type": "object",
      "id": "TeamDriveReference",
      "description": "This item is deprecated; please see `DriveReference` instead."
    },
    "Delete": {
      "id": "Delete",
      "type": "object",
      "description": "An object was deleted.",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TRASH",
            "PERMANENT_DELETE"
          ],
          "description": "The type of delete action taken.",
          "enumDescriptions": [
            "Deletion type is not available.",
            "An object was put into the trash.",
            "An object was deleted permanently."
          ]
        }
      }
    },
    "Copy": {
      "type": "object",
      "id": "Copy",
      "properties": {
        "originalObject": {
          "description": "The original object.",
          "$ref": "TargetReference"
        }
      },
      "description": "An object was created by copying an existing object."
    },
    "SystemEvent": {
      "type": "object",
      "id": "SystemEvent",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER_DELETION",
            "TRASH_AUTO_PURGE"
          ],
          "description": "The type of the system event that may triggered activity.",
          "enumDescriptions": [
            "The event type is unspecified.",
            "The event is a consequence of a user account being deleted.",
            "The event is due to the system automatically purging trash."
          ]
        }
      },
      "description": "Event triggered by system operations instead of end users."
    },
    "DriveReference": {
      "id": "DriveReference",
      "type": "object",
      "description": "A lightweight reference to a shared drive.",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of the shared drive."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name."
        }
      }
    },
    "SelectionList": {
      "type": "object",
      "id": "SelectionList",
      "properties": {
        "values": {
          "description": "Selection values.",
          "items": {
            "$ref": "Selection"
          },
          "type": "array"
        }
      },
      "description": "Wrapper for SelectionList Field value."
    },
    "Drive": {
      "description": "Information about a shared drive.",
      "properties": {
        "name": {
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the shared drive."
        },
        "root": {
          "$ref": "DriveItem",
          "description": "The root of this shared drive."
        }
      },
      "id": "Drive",
      "type": "object"
    },
    "Comment": {
      "id": "Comment",
      "type": "object",
      "description": "A change about comments on an object.",
      "properties": {
        "assignment": {
          "description": "A change on an assignment.",
          "$ref": "Assignment"
        },
        "post": {
          "$ref": "Post",
          "description": "A change on a regular posted comment."
        },
        "mentionedUsers": {
          "description": "Users who are mentioned in this comment.",
          "items": {
            "$ref": "User"
          },
          "type": "array"
        },
        "suggestion": {
          "$ref": "Suggestion",
          "description": "A change on a suggestion."
        }
      }
    },
    "Anyone": {
      "type": "object",
      "id": "Anyone",
      "properties": {},
      "description": "Represents any user (including a logged out user)."
    },
    "Folder": {
      "description": "This item is deprecated; please see `DriveFolder` instead.",
      "type": "object",
      "id": "Folder",
      "properties": {
        "type": {
          "description": "This field is deprecated; please see `DriveFolder.type` instead.",
          "enumDescriptions": [
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "TEAM_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ]
        }
      },
      "deprecated": true
    },
    "UnknownUser": {
      "type": "object",
      "id": "UnknownUser",
      "properties": {},
      "description": "A user about whom nothing is currently known."
    },
    "SingleUser": {
      "description": "Wrapper for User Field value.",
      "properties": {
        "value": {
          "type": "string",
          "description": "User value as email."
        }
      },
      "id": "SingleUser",
      "type": "object"
    },
    "DriveActivity": {
      "type": "object",
      "id": "DriveActivity",
      "properties": {
        "actions": {
          "items": {
            "$ref": "Action"
          },
          "type": "array",
          "description": "Details on all actions in this activity."
        },
        "timestamp": {
          "description": "The activity occurred at this specific time.",
          "type": "string",
          "format": "google-datetime"
        },
        "timeRange": {
          "description": "The activity occurred over this time range.",
          "$ref": "TimeRange"
        },
        "targets": {
          "description": "All Google Drive objects this activity is about (e.g. file, folder, drive). This represents the state of the target immediately after the actions occurred.",
          "items": {
            "$ref": "Target"
          },
          "type": "array"
        },
        "actors": {
          "description": "All actor(s) responsible for the activity.",
          "type": "array",
          "items": {
            "$ref": "Actor"
          }
        },
        "primaryActionDetail": {
          "$ref": "ActionDetail",
          "description": "Key information about the primary action for this activity. This is either representative, or the most important, of all actions in the activity, according to the ConsolidationStrategy in the request."
        }
      },
      "description": "A single Drive activity comprising one or more Actions by one or more Actors on one or more Targets. Some Action groupings occur spontaneously, such as moving an item into a shared folder triggering a permission change. Other groupings of related Actions, such as multiple Actors editing one item or moving multiple files into a new folder, are controlled by the selection of a ConsolidationStrategy in the QueryDriveActivityRequest."
    },
    "Restore": {
      "type": "object",
      "id": "Restore",
      "properties": {
        "type": {
          "enumDescriptions": [
            "The type is not available.",
            "An object was restored from the trash."
          ],
          "description": "The type of restore action taken.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "UNTRASH"
          ]
        }
      },
      "description": "A deleted object was restored."
    },
    "TimeRange": {
      "id": "TimeRange",
      "type": "object",
      "description": "Information about time ranges.",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The end of the time range."
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The start of the time range."
        }
      }
    },
    "DriveItemReference": {
      "type": "object",
      "id": "DriveItemReference",
      "properties": {
        "driveFile": {
          "$ref": "DriveFile",
          "description": "The Drive item is a file."
        },
        "driveFolder": {
          "description": "The Drive item is a folder. Includes information about the type of folder.",
          "$ref": "DriveFolder"
        },
        "file": {
          "$ref": "File",
          "description": "This field is deprecated; please use the `driveFile` field instead.",
          "deprecated": true
        },
        "name": {
          "description": "The target Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "title": {
          "description": "The title of the Drive item.",
          "type": "string"
        },
        "folder": {
          "$ref": "Folder",
          "description": "This field is deprecated; please use the `driveFolder` field instead.",
          "deprecated": true
        }
      },
      "description": "A lightweight reference to a Drive item, such as a file or folder."
    },
    "QueryDriveActivityResponse": {
      "description": "Response message for querying Drive activity.",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "activities": {
          "type": "array",
          "items": {
            "$ref": "DriveActivity"
          },
          "description": "List of activity requested."
        }
      },
      "id": "QueryDriveActivityResponse",
      "type": "object"
    },
    "New": {
      "description": "An object was created from scratch.",
      "properties": {},
      "id": "New",
      "type": "object"
    },
    "DataLeakPreventionChange": {
      "type": "object",
      "id": "DataLeakPreventionChange",
      "properties": {
        "type": {
          "enumDescriptions": [
            "An update to the DLP state that is neither FLAGGED or CLEARED.",
            "Document has been flagged as containing sensitive content.",
            "Document is no longer flagged as containing sensitive content."
          ],
          "description": "The type of Data Leak Prevention (DLP) change.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "FLAGGED",
            "CLEARED"
          ]
        }
      },
      "description": "A change in the object's data leak prevention status."
    },
    "Action": {
      "id": "Action",
      "type": "object",
      "description": "Information about the action.",
      "properties": {
        "actor": {
          "description": "The actor responsible for this action (or empty if all actors are responsible).",
          "$ref": "Actor"
        },
        "target": {
          "$ref": "Target",
          "description": "The target this action affects (or empty if affecting all targets). This represents the state of the target immediately after this action occurred."
        },
        "detail": {
          "$ref": "ActionDetail",
          "description": "The type and detailed information about the action."
        },
        "timestamp": {
          "description": "The action occurred at this specific time.",
          "type": "string",
          "format": "google-datetime"
        },
        "timeRange": {
          "description": "The action occurred over this time range.",
          "$ref": "TimeRange"
        }
      }
    },
    "AppliedLabelChange": {
      "description": "Label changes that were made on the Target.",
      "properties": {
        "changes": {
          "items": {
            "$ref": "AppliedLabelChangeDetail"
          },
          "type": "array",
          "description": "Changes that were made to the Label on the Target."
        }
      },
      "id": "AppliedLabelChange",
      "type": "object"
    },
    "Group": {
      "id": "Group",
      "type": "object",
      "description": "Information about a group.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email address of the group."
        },
        "title": {
          "type": "string",
          "description": "The title of the group."
        }
      }
    },
    "Integer": {
      "id": "Integer",
      "type": "object",
      "description": "Wrapper for Integer Field value.",
      "properties": {
        "value": {
          "type": "string",
          "format": "int64",
          "description": "Integer value."
        }
      }
    },
    "Create": {
      "properties": {
        "new": {
          "$ref": "New",
          "description": "If present, indicates the object was newly created (e.g. as a blank document), not derived from a Drive object or external object."
        },
        "copy": {
          "description": "If present, indicates the object was created by copying an existing Drive object.",
          "$ref": "Copy"
        },
        "upload": {
          "$ref": "Upload",
          "description": "If present, indicates the object originated externally and was uploaded to Drive."
        }
      },
      "description": "An object was created.",
      "type": "object",
      "id": "Create"
    },
    "DriveFolder": {
      "description": "A Drive item which is a folder.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "The folder type is unknown.",
            "The folder is the root of a user's MyDrive.",
            "The folder is the root of a shared drive.",
            "The folder is a standard, non-root, folder."
          ],
          "description": "The type of Drive folder.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "SHARED_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ]
        }
      },
      "id": "DriveFolder",
      "type": "object"
    },
    "Assignment": {
      "type": "object",
      "id": "Assignment",
      "properties": {
        "subtype": {
          "type": "string",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED",
            "REASSIGNED"
          ],
          "enumDescriptions": [
            "Subtype not available.",
            "An assignment was added.",
            "An assignment was deleted.",
            "An assignment reply was added.",
            "An assignment reply was deleted.",
            "An assignment was resolved.",
            "A resolved assignment was reopened.",
            "An assignment was reassigned."
          ],
          "description": "The sub-type of this event."
        },
        "assignedUser": {
          "description": "The user to whom the comment was assigned.",
          "$ref": "User"
        }
      },
      "description": "A comment with an assignment."
    },
    "Owner": {
      "description": "Information about the owner of a Drive item.",
      "properties": {
        "teamDrive": {
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true,
          "$ref": "TeamDriveReference"
        },
        "user": {
          "$ref": "User",
          "description": "The user that owns the Drive item."
        },
        "drive": {
          "$ref": "DriveReference",
          "description": "The drive that owns the item."
        },
        "domain": {
          "$ref": "Domain",
          "description": "The domain of the Drive item owner."
        }
      },
      "id": "Owner",
      "type": "object"
    },
    "Edit": {
      "description": "An empty message indicating an object was edited.",
      "properties": {},
      "id": "Edit",
      "type": "object"
    },
    "Legacy": {
      "properties": {},
      "description": "A strategy that consolidates activities using the grouping rules from the legacy V1 Activity API. Similar actions occurring within a window of time can be grouped across multiple targets (such as moving a set of files at once) or multiple actors (such as several users editing the same item). Grouping rules for this strategy are specific to each type of action.",
      "type": "object",
      "id": "Legacy"
    },
    "FieldValueChange": {
      "description": "Change to a Field value.",
      "properties": {
        "fieldId": {
          "type": "string",
          "description": "The ID of this field. Field IDs are unique within a Label."
        },
        "newValue": {
          "$ref": "FieldValue",
          "description": "The value that is now set on the field. If not present, the field was cleared. At least one of {old_value|new_value} is always set."
        },
        "oldValue": {
          "description": "The value that was previously set on the field. If not present, the field was newly set. At least one of {old_value|new_value} is always set.",
          "$ref": "FieldValue"
        },
        "displayName": {
          "description": "The human-readable display name for this field.",
          "type": "string"
        }
      },
      "id": "FieldValueChange",
      "type": "object"
    },
    "NoConsolidation": {
      "description": "A strategy that does no consolidation of individual activities.",
      "properties": {},
      "id": "NoConsolidation",
      "type": "object"
    },
    "TeamDrive": {
      "id": "TeamDrive",
      "type": "object",
      "description": "This item is deprecated; please see `Drive` instead.",
      "deprecated": true,
      "properties": {
        "title": {
          "description": "This field is deprecated; please see `Drive.title` instead.",
          "type": "string"
        },
        "name": {
          "description": "This field is deprecated; please see `Drive.name` instead.",
          "type": "string"
        },
        "root": {
          "$ref": "DriveItem",
          "description": "This field is deprecated; please see `Drive.root` instead."
        }
      }
    },
    "RestrictionChange": {
      "type": "object",
      "id": "RestrictionChange",
      "properties": {
        "newRestriction": {
          "type": "string",
          "enum": [
            "RESTRICTION_UNSPECIFIED",
            "UNRESTRICTED",
            "FULLY_RESTRICTED"
          ],
          "enumDescriptions": [
            "The type of restriction is not available.",
            "The feature is available without restriction.",
            "The use of this feature is fully restricted."
          ],
          "description": "The restriction in place after the change."
        },
        "feature": {
          "type": "string",
          "enum": [
            "FEATURE_UNSPECIFIED",
            "SHARING_OUTSIDE_DOMAIN",
            "DIRECT_SHARING",
            "ITEM_DUPLICATION",
            "DRIVE_FILE_STREAM",
            "FILE_ORGANIZER_CAN_SHARE_FOLDERS",
            "READERS_CAN_DOWNLOAD",
            "WRITERS_CAN_DOWNLOAD"
          ],
          "enumDescriptions": [
            "The feature which changed restriction settings was not available.",
            "When restricted, this prevents items from being shared outside the domain.",
            "When restricted, this prevents direct sharing of individual items.",
            "Deprecated: Use READERS_CAN_DOWNLOAD instead.",
            "When restricted, this prevents use of Drive File Stream.",
            "When restricted, this limits sharing of folders to managers only.",
            "When restricted, this prevents actions like copy, download, and print for readers. Replaces ITEM_DUPLICATION.",
            "When restricted, this prevents actions like copy, download, and print for writers."
          ],
          "description": "The feature which had a change in restriction policy.",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false
          ]
        }
      },
      "description": "Information about restriction policy changes to a feature."
    },
    "DriveItem": {
      "description": "A Drive item, such as a file or folder.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The target Drive item. The format is `items/ITEM_ID`."
        },
        "title": {
          "type": "string",
          "description": "The title of the Drive item."
        },
        "folder": {
          "description": "This field is deprecated; please use the `driveFolder` field instead.",
          "deprecated": true,
          "$ref": "Folder"
        },
        "owner": {
          "$ref": "Owner",
          "description": "Information about the owner of this Drive item."
        },
        "file": {
          "$ref": "File",
          "description": "This field is deprecated; please use the `driveFile` field instead.",
          "deprecated": true
        },
        "driveFile": {
          "$ref": "DriveFile",
          "description": "The Drive item is a file."
        },
        "driveFolder": {
          "description": "The Drive item is a folder. Includes information about the type of folder.",
          "$ref": "DriveFolder"
        },
        "mimeType": {
          "description": "The MIME type of the Drive item. See https://developers.google.com/workspace/drive/v3/web/mime-types.",
          "type": "string"
        }
      },
      "id": "DriveItem",
      "type": "object"
    },
    "AppliedLabelChangeDetail": {
      "id": "AppliedLabelChangeDetail",
      "type": "object",
      "description": "A change made to a Label on the Target.",
      "properties": {
        "label": {
          "description": "The Label name representing the Label that changed. This name always contains the revision of the Label that was used when this Action occurred. The format is `labels/id@revision`.",
          "type": "string"
        },
        "types": {
          "description": "The types of changes made to the Label on the Target.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "TYPE_UNSPECIFIED",
              "LABEL_ADDED",
              "LABEL_REMOVED",
              "LABEL_FIELD_VALUE_CHANGED",
              "LABEL_APPLIED_BY_ITEM_CREATE"
            ],
            "enumDescriptions": [
              "The type of change to this Label is not available.",
              "The identified Label was added to the Target.",
              "The identified Label was removed from the Target.",
              "Field values were changed on the Target.",
              "The Label was applied as a side-effect of Drive item creation."
            ]
          }
        },
        "fieldChanges": {
          "items": {
            "$ref": "FieldValueChange"
          },
          "type": "array",
          "description": "Field Changes. Only present if `types` contains `LABEL_FIELD_VALUE_CHANGED`."
        },
        "title": {
          "description": "The human-readable title of the label that changed.",
          "type": "string"
        }
      }
    },
    "File": {
      "type": "object",
      "id": "File",
      "description": "This item is deprecated; please see `DriveFile` instead.",
      "properties": {},
      "deprecated": true
    },
    "Domain": {
      "description": "Information about a domain.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the domain, e.g. `google.com`."
        },
        "legacyId": {
          "description": "An opaque string used to identify this domain.",
          "type": "string"
        }
      },
      "id": "Domain",
      "type": "object"
    },
    "AnonymousUser": {
      "description": "Empty message representing an anonymous user or indicating the authenticated user should be anonymized.",
      "properties": {},
      "id": "AnonymousUser",
      "type": "object"
    },
    "DriveFile": {
      "description": "A Drive item which is a file.",
      "properties": {},
      "id": "DriveFile",
      "type": "object"
    },
    "ConsolidationStrategy": {
      "properties": {
        "none": {
          "description": "The individual activities are not consolidated.",
          "$ref": "NoConsolidation"
        },
        "legacy": {
          "description": "The individual activities are consolidated using the legacy strategy.",
          "$ref": "Legacy"
        }
      },
      "description": "How the individual activities are consolidated. If a set of activities is related they can be consolidated into one combined activity, such as one actor performing the same action on multiple targets, or multiple actors performing the same action on a single target. The strategy defines the rules for which activities are related.",
      "type": "object",
      "id": "ConsolidationStrategy"
    },
    "DeletedUser": {
      "description": "A user whose account has since been deleted.",
      "properties": {},
      "id": "DeletedUser",
      "type": "object"
    },
    "PermissionChange": {
      "type": "object",
      "id": "PermissionChange",
      "properties": {
        "removedPermissions": {
          "description": "The set of permissions removed by this change.",
          "items": {
            "$ref": "Permission"
          },
          "type": "array"
        },
        "addedPermissions": {
          "type": "array",
          "items": {
            "$ref": "Permission"
          },
          "description": "The set of permissions added by this change."
        }
      },
      "description": "A change of the permission setting on an item."
    },
    "Post": {
      "type": "object",
      "id": "Post",
      "properties": {
        "subtype": {
          "type": "string",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED"
          ],
          "description": "The sub-type of this event.",
          "enumDescriptions": [
            "Subtype not available.",
            "A post was added.",
            "A post was deleted.",
            "A reply was added.",
            "A reply was deleted.",
            "A posted comment was resolved.",
            "A posted comment was reopened."
          ]
        }
      },
      "description": "A regular posted comment."
    },
    "FieldValue": {
      "id": "FieldValue",
      "type": "object",
      "description": "Contains a value of a Field.",
      "properties": {
        "selectionList": {
          "description": "Selection List Field value.",
          "$ref": "SelectionList"
        },
        "text": {
          "description": "Text Field value.",
          "$ref": "Text"
        },
        "userList": {
          "$ref": "UserList",
          "description": "User List Field value."
        },
        "date": {
          "description": "Date Field value.",
          "$ref": "Date"
        },
        "selection": {
          "description": "Selection Field value.",
          "$ref": "Selection"
        },
        "integer": {
          "$ref": "Integer",
          "description": "Integer Field value."
        },
        "textList": {
          "description": "Text List Field value.",
          "$ref": "TextList"
        },
        "user": {
          "$ref": "SingleUser",
          "description": "User Field value."
        }
      }
    },
    "Target": {
      "properties": {
        "driveItem": {
          "description": "The target is a Drive item.",
          "$ref": "DriveItem"
        },
        "teamDrive": {
          "$ref": "TeamDrive",
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true
        },
        "drive": {
          "description": "The target is a shared drive.",
          "$ref": "Drive"
        },
        "fileComment": {
          "description": "The target is a comment on a Drive file.",
          "$ref": "FileComment"
        }
      },
      "description": "Information about the target of activity. For more information on how activity history is shared with users, see [Activity history visibility](https://developers.google.com/workspace/drive/activity/v2#activityhistory).",
      "type": "object",
      "id": "Target"
    },
    "Actor": {
      "id": "Actor",
      "type": "object",
      "description": "The actor of a Drive activity.",
      "properties": {
        "user": {
          "$ref": "User",
          "description": "An end user."
        },
        "administrator": {
          "$ref": "Administrator",
          "description": "An administrator."
        },
        "impersonation": {
          "$ref": "Impersonation",
          "description": "An account acting on behalf of another."
        },
        "system": {
          "description": "A non-user actor (i.e. system triggered).",
          "$ref": "SystemEvent"
        },
        "anonymous": {
          "$ref": "AnonymousUser",
          "description": "An anonymous user."
        }
      }
    },
    "Move": {
      "description": "An object was moved.",
      "properties": {
        "addedParents": {
          "description": "The added parent object(s).",
          "type": "array",
          "items": {
            "$ref": "TargetReference"
          }
        },
        "removedParents": {
          "type": "array",
          "items": {
            "$ref": "TargetReference"
          },
          "description": "The removed parent object(s)."
        }
      },
      "id": "Move",
      "type": "object"
    },
    "KnownUser": {
      "type": "object",
      "id": "KnownUser",
      "properties": {
        "personName": {
          "description": "The identifier for this user that can be used with the People API to get more information. The format is `people/ACCOUNT_ID`. See https://developers.google.com/people/.",
          "type": "string"
        },
        "isCurrentUser": {
          "description": "True if this is the user making the request.",
          "type": "boolean"
        }
      },
      "description": "A known user."
    },
    "Permission": {
      "type": "object",
      "id": "Permission",
      "properties": {
        "anyone": {
          "description": "If set, this permission applies to anyone, even logged out users.",
          "$ref": "Anyone"
        },
        "user": {
          "$ref": "User",
          "description": "The user to whom this permission applies."
        },
        "role": {
          "enumDescriptions": [
            "The role is not available.",
            "A role granting full access.",
            "A role granting the ability to manage people and settings.",
            "A role granting the ability to contribute and manage content.",
            "A role granting the ability to contribute content. This role is sometimes also known as \"writer\".",
            "A role granting the ability to view and comment on content.",
            "A role granting the ability to view content. This role is sometimes also known as \"reader\".",
            "A role granting the ability to view content only after it has been published to the web. This role is sometimes also known as \"published reader\". See https://support.google.com/sites/answer/6372880 for more information."
          ],
          "description": "Indicates the [Google Drive permissions role](https://developers.google.com/workspace/drive/web/manage-sharing#roles). The role determines a user's ability to read, write, and comment on items.",
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "ORGANIZER",
            "FILE_ORGANIZER",
            "EDITOR",
            "COMMENTER",
            "VIEWER",
            "PUBLISHED_VIEWER"
          ]
        },
        "domain": {
          "$ref": "Domain",
          "description": "The domain to whom this permission applies."
        },
        "allowDiscovery": {
          "type": "boolean",
          "description": "If true, the item can be discovered (e.g. in the user's \"Shared with me\" collection) without needing a link to the item."
        },
        "group": {
          "description": "The group to whom this permission applies.",
          "$ref": "Group"
        }
      },
      "description": "The permission setting of an object."
    },
    "Impersonation": {
      "description": "Information about an impersonation, where an admin acts on behalf of an end user. Information about the acting admin is not currently available.",
      "properties": {
        "impersonatedUser": {
          "$ref": "User",
          "description": "The impersonated user."
        }
      },
      "id": "Impersonation",
      "type": "object"
    },
    "Text": {
      "properties": {
        "value": {
          "description": "Value of Text Field.",
          "type": "string"
        }
      },
      "description": "Wrapper for Text Field value.",
      "type": "object",
      "id": "Text"
    },
    "ActionDetail": {
      "properties": {
        "comment": {
          "description": "A change about comments was made.",
          "$ref": "Comment"
        },
        "appliedLabelChange": {
          "description": "Label was changed.",
          "$ref": "AppliedLabelChange"
        },
        "move": {
          "$ref": "Move",
          "description": "An object was moved."
        },
        "delete": {
          "description": "An object was deleted.",
          "$ref": "Delete"
        },
        "permissionChange": {
          "$ref": "PermissionChange",
          "description": "The permission on an object was changed."
        },
        "edit": {
          "description": "An object was edited.",
          "$ref": "Edit"
        },
        "reference": {
          "$ref": "ApplicationReference",
          "description": "An object was referenced in an application outside of Drive/Docs."
        },
        "create": {
          "description": "An object was created.",
          "$ref": "Create"
        },
        "rename": {
          "description": "An object was renamed.",
          "$ref": "Rename"
        },
        "settingsChange": {
          "$ref": "SettingsChange",
          "description": "Settings were changed."
        },
        "restore": {
          "$ref": "Restore",
          "description": "A deleted object was restored."
        },
        "dlpChange": {
          "$ref": "DataLeakPreventionChange",
          "description": "A change happened in data leak prevention status."
        }
      },
      "description": "Data describing the type and additional information of an action.",
      "type": "object",
      "id": "ActionDetail"
    },
    "TextList": {
      "description": "Wrapper for Text List Field value.",
      "properties": {
        "values": {
          "description": "Text values.",
          "items": {
            "$ref": "Text"
          },
          "type": "array"
        }
      },
      "id": "TextList",
      "type": "object"
    }
  }
}