{
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/workspace/drive/",
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "description": "The Google Drive API allows clients to access resources from Google Drive.",
  "version": "v3",
  "discoveryVersion": "v1",
  "basePath": "/drive/v3/",
  "rootUrl": "https://www.googleapis.com/",
  "batchPath": "batch/drive/v3",
  "title": "Google Drive API",
  "baseUrl": "https://www.googleapis.com/drive/v3/",
  "parameters": {
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "ownerDomain": "google.com",
  "revision": "20260615",
  "resources": {
    "apps": {
      "methods": {
        "list": {
          "parameterOrder": [],
          "id": "drive.apps.list",
          "path": "apps",
          "scopes": [
            "https://www.googleapis.com/auth/drive.apps.readonly"
          ],
          "flatPath": "apps",
          "httpMethod": "GET",
          "response": {
            "$ref": "AppList"
          },
          "description": "Lists a user's installed apps. For more information, see [Return user info](https://developers.google.com/workspace/drive/api/guides/user-info).",
          "parameters": {
            "appFilterMimeTypes": {
              "default": "",
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of file extensions to limit returned results. All results within the given app query scope which can open any of the given MIME types will be included in the response. If `appFilterExtensions` are provided as well, the result is a union of the two resulting app lists."
            },
            "appFilterExtensions": {
              "default": "",
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of file extensions to limit returned results. All results within the given app query scope which can open any of the given file extensions are included in the response. If `appFilterMimeTypes` are provided as well, the result is a union of the two resulting app lists."
            },
            "languageCode": {
              "location": "query",
              "type": "string",
              "description": "A language or locale code, as defined by BCP 47, with some extensions from Unicode's LDML format (http://www.unicode.org/reports/tr35/)."
            }
          }
        },
        "get": {
          "path": "apps/{appId}",
          "id": "drive.apps.get",
          "parameterOrder": [
            "appId"
          ],
          "parameters": {
            "appId": {
              "description": "The ID of the app.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "apps/{appId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "App"
          },
          "description": "Gets a specific app. For more information, see [Return user info](https://developers.google.com/workspace/drive/api/guides/user-info).",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        }
      }
    },
    "files": {
      "methods": {
        "get": {
          "supportsSubscription": true,
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "File"
          },
          "description": " Gets a file's metadata or content by ID. For more information, see [Search for files and folders](https://developers.google.com/workspace/drive/api/guides/search-files). If you provide the URL parameter `alt=media`, then the response includes the file contents in the response body. Downloading content with `alt=media` only works if the file is stored in Drive. To download Google Docs, Sheets, and Slides use [`files.export`](https://developers.google.com/workspace/drive/api/reference/rest/v3/files/export) instead. For more information, see [Download and export files](https://developers.google.com/workspace/drive/api/guides/manage-downloads).",
          "parameters": {
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the file."
            },
            "acknowledgeAbuse": {
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            },
            "supportsTeamDrives": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true
            }
          },
          "useMediaDownloadService": true,
          "supportsMediaDownload": true,
          "parameterOrder": [
            "fileId"
          ],
          "id": "drive.files.get",
          "path": "files/{fileId}"
        },
        "modifyLabels": {
          "flatPath": "files/{fileId}/modifyLabels",
          "httpMethod": "POST",
          "response": {
            "$ref": "ModifyLabelsResponse"
          },
          "description": "Modifies the set of labels applied to a file. For more information, see [Set a label field on a file](https://developers.google.com/workspace/drive/api/guides/set-label). Returns a list of the labels that were added or modified.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "parameters": {
            "fileId": {
              "description": "The ID of the file to which the labels belong.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "ModifyLabelsRequest"
          },
          "path": "files/{fileId}/modifyLabels",
          "id": "drive.files.modifyLabels",
          "parameterOrder": [
            "fileId"
          ]
        },
        "generateCseToken": {
          "path": "files/generateCseToken",
          "id": "drive.files.generateCseToken",
          "parameterOrder": [],
          "parameters": {
            "fileId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the file for which the JWT should be generated. If not provided, an id will be generated."
            },
            "parent": {
              "description": "The ID of the expected parent of the file. Used when generating a JWT for a new CSE file. If specified, the parent will be fetched, and if the parent is a shared drive item, the shared drive's policy will be used to determine the KACLS that should be used. It is invalid to specify both file_id and parent in a single request.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "files/generateCseToken",
          "httpMethod": "GET",
          "response": {
            "$ref": "GenerateCseTokenResponse"
          },
          "description": "Generates a CSE token which can be used to create or update CSE files.",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        },
        "listLabels": {
          "path": "files/{fileId}/listLabels",
          "parameterOrder": [
            "fileId"
          ],
          "id": "drive.files.listLabels",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/listLabels",
          "httpMethod": "GET",
          "response": {
            "$ref": "LabelList"
          },
          "description": "Lists the labels on a file. For more information, see [List labels on a file](https://developers.google.com/workspace/drive/api/guides/list-labels).",
          "parameters": {
            "fileId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID for the file."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response."
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "default": "100",
              "maximum": "100",
              "type": "integer",
              "description": "The maximum number of labels to return per page. When not set, defaults to 100.",
              "minimum": "1"
            }
          }
        },
        "copy": {
          "request": {
            "$ref": "File"
          },
          "parameters": {
            "supportsTeamDrives": {
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "location": "query"
            },
            "ocrLanguage": {
              "location": "query",
              "type": "string",
              "description": "A language hint for OCR processing during image import (ISO 639-1 code)."
            },
            "supportsAllDrives": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "ignoreDefaultVisibility": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders."
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            },
            "enforceSingleParent": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Deprecated: Copying files into multiple folders is no longer supported. Use shortcuts instead.",
              "deprecated": true
            },
            "fileId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the file."
            },
            "keepRevisionForever": {
              "description": "Whether to set the `keepForever` field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.photos.readonly"
          ],
          "flatPath": "files/{fileId}/copy",
          "httpMethod": "POST",
          "response": {
            "$ref": "File"
          },
          "description": "Creates a copy of a file and applies any requested updates with patch semantics. For more information, see [Create and manage files](https://developers.google.com/workspace/drive/api/guides/create-file).",
          "path": "files/{fileId}/copy",
          "parameterOrder": [
            "fileId"
          ],
          "id": "drive.files.copy"
        },
        "delete": {
          "path": "files/{fileId}",
          "parameters": {
            "enforceSingleParent": {
              "location": "query",
              "description": "Deprecated: If an item isn't in a shared drive and its last parent is deleted but the item itself isn't, the item will be placed under its owner's root.",
              "deprecated": true,
              "default": "false",
              "type": "boolean"
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the file."
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "supportsAllDrives": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            }
          },
          "parameterOrder": [
            "fileId"
          ],
          "id": "drive.files.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}",
          "httpMethod": "DELETE",
          "description": "Permanently deletes a file owned by the user without moving it to the trash. For more information, see [Trash or delete files and folders](https://developers.google.com/workspace/drive/api/guides/delete). If the file belongs to a shared drive, the user must be an `organizer` on the parent folder. If the target is a folder, all descendants owned by the user are also deleted."
        },
        "create": {
          "path": "files",
          "supportsMediaUpload": true,
          "parameterOrder": [],
          "id": "drive.files.create",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files",
          "httpMethod": "POST",
          "response": {
            "$ref": "File"
          },
          "description": " Creates a file. For more information, see [Create and manage files](https://developers.google.com/workspace/drive/api/guides/create-file). This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:* `*/*` (Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information, see [Google Workspace and Google Drive supported MIME types](https://developers.google.com/workspace/drive/api/guides/mime-types).) For more information on uploading files, see [Upload file data](https://developers.google.com/workspace/drive/api/guides/manage-uploads). Apps creating shortcuts with the `create` method must specify the MIME type `application/vnd.google-apps.shortcut`. Apps should specify a file extension in the `name` property when inserting files with the API. For example, an operation to insert a JPEG file should specify something like `\"name\": \"cat.jpg\"` in the metadata. Subsequent `GET` requests include the read-only `fileExtension` property populated with the extension originally specified in the `name` property. When a Google Drive user requests to download a file, or when the file is downloaded through the sync client, Drive builds a full filename (with extension) based on the name. In cases where the extension is missing, Drive attempts to determine the extension based on the file's MIME type.",
          "request": {
            "$ref": "File"
          },
          "parameters": {
            "ocrLanguage": {
              "location": "query",
              "type": "string",
              "description": "A language hint for OCR processing during image import (ISO 639-1 code)."
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "ignoreDefaultVisibility": {
              "description": "Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "includeLabels": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "keepRevisionForever": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether to set the `keepForever` field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions."
            },
            "useContentAsIndexableText": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether to use the uploaded content as indexable text."
            },
            "enforceSingleParent": {
              "location": "query",
              "description": "Deprecated: Creating files in multiple folders is no longer supported.",
              "deprecated": true,
              "type": "boolean",
              "default": "false"
            }
          },
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "maxSize": "5497558138880",
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/drive/v3/files"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/drive/v3/files"
              }
            }
          }
        },
        "update": {
          "parameters": {
            "supportsTeamDrives": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true
            },
            "addParents": {
              "description": "A comma-separated list of parent IDs to add.",
              "location": "query",
              "type": "string"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            },
            "ocrLanguage": {
              "description": "A language hint for OCR processing during image import (ISO 639-1 code).",
              "location": "query",
              "type": "string"
            },
            "supportsAllDrives": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "includePermissionsForView": {
              "location": "query",
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "enforceSingleParent": {
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use shortcuts instead.",
              "deprecated": true,
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "keepRevisionForever": {
              "description": "Whether to set the `keepForever` field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "useContentAsIndexableText": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether to use the uploaded content as indexable text."
            },
            "removeParents": {
              "description": "A comma-separated list of parent IDs to remove.",
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "File"
          },
          "mediaUpload": {
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/drive/v3/files/{fileId}"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/drive/v3/files/{fileId}"
              }
            },
            "accept": [
              "*/*"
            ],
            "maxSize": "5497558138880"
          },
          "flatPath": "files/{fileId}",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "File"
          },
          "description": " Updates a file's metadata, content, or both. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might be changed automatically, such as `modifiedDate`. This method supports patch semantics. This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:* `*/*` (Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information, see [Google Workspace and Google Drive supported MIME types](https://developers.google.com/workspace/drive/api/guides/mime-types).) For more information on uploading files, see [Upload file data](https://developers.google.com/workspace/drive/api/guides/manage-uploads).",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.scripts"
          ],
          "supportsMediaUpload": true,
          "path": "files/{fileId}",
          "id": "drive.files.update",
          "parameterOrder": [
            "fileId"
          ]
        },
        "emptyTrash": {
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "flatPath": "files/trash",
          "httpMethod": "DELETE",
          "description": "Permanently deletes all of the user's trashed files. For more information, see [Trash or delete files and folders](https://developers.google.com/workspace/drive/api/guides/delete).",
          "path": "files/trash",
          "parameters": {
            "enforceSingleParent": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Deprecated: If an item isn't in a shared drive and its last parent is deleted but the item itself isn't, the item will be placed under its owner's root.",
              "deprecated": true
            },
            "driveId": {
              "location": "query",
              "type": "string",
              "description": "If set, empties the trash of the provided shared drive."
            }
          },
          "parameterOrder": [],
          "id": "drive.files.emptyTrash"
        },
        "export": {
          "useMediaDownloadService": true,
          "supportsMediaDownload": true,
          "id": "drive.files.export",
          "parameterOrder": [
            "fileId",
            "mimeType"
          ],
          "path": "files/{fileId}/export",
          "flatPath": "files/{fileId}/export",
          "httpMethod": "GET",
          "description": "Exports a Google Workspace document to the requested MIME type and returns exported byte content. For more information, see [Download and export files](https://developers.google.com/workspace/drive/api/guides/manage-downloads). Note that the exported content is limited to 10 MB.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "fileId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the file."
            },
            "mimeType": {
              "description": "Required. The MIME type of the format requested for this export. For a list of supported MIME types, see [Export MIME types for Google Workspace documents](/workspace/drive/api/guides/ref-export-formats).",
              "location": "query",
              "type": "string",
              "required": true
            }
          }
        },
        "watch": {
          "path": "files/{fileId}/watch",
          "id": "drive.files.watch",
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "includePermissionsForView": {
              "location": "query",
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "acknowledgeAbuse": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides."
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            },
            "supportsTeamDrives": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true
            }
          },
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "flatPath": "files/{fileId}/watch",
          "httpMethod": "POST",
          "response": {
            "$ref": "Channel"
          },
          "description": "Subscribes to changes to a file. For more information, see [Notifications for resource changes](https://developers.google.com/workspace/drive/api/guides/push).",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "supportsSubscription": true
        },
        "download": {
          "flatPath": "files/{fileId}/download",
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "description": "Downloads the content of a file. For more information, see [Download and export files](https://developers.google.com/workspace/drive/api/guides/manage-downloads). Operations are valid for 24 hours from the time of creation.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "fileId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The ID of the file to download."
            },
            "revisionId": {
              "description": "Optional. The revision ID of the file to download. This field can only be set when downloading blob files, Google Docs, and Google Sheets. Returns `INVALID_ARGUMENT` if downloading a specific revision on the file is unsupported.",
              "location": "query",
              "type": "string"
            },
            "mimeType": {
              "location": "query",
              "type": "string",
              "description": "Optional. The MIME type the file should be downloaded as. This field can only be set when downloading Google Workspace documents. For a list of supported MIME types, see [Export MIME types for Google Workspace documents](/workspace/drive/api/guides/ref-export-formats). If not set, a Google Workspace document is downloaded with a default MIME type. The default MIME type might change in the future."
            }
          },
          "path": "files/{fileId}/download",
          "id": "drive.files.download",
          "parameterOrder": [
            "fileId"
          ]
        },
        "list": {
          "path": "files",
          "id": "drive.files.list",
          "parameterOrder": [],
          "parameters": {
            "teamDriveId": {
              "description": "Deprecated: Use `driveId` instead.",
              "deprecated": true,
              "location": "query",
              "type": "string"
            },
            "driveId": {
              "description": "ID of the shared drive to search.",
              "location": "query",
              "type": "string"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "includeLabels": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "includeTeamDriveItems": {
              "location": "query",
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "deprecated": true,
              "type": "boolean",
              "default": "false"
            },
            "q": {
              "description": "A query for filtering the file results. For supported syntax, see [Search for files and folders](/workspace/drive/api/guides/search-files).",
              "location": "query",
              "type": "string"
            },
            "includeItemsFromAllDrives": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether both My Drive and shared drive items should be included in results."
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.",
              "location": "query",
              "type": "string"
            },
            "supportsTeamDrives": {
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "type": "boolean",
              "default": "false"
            },
            "corpora": {
              "description": "Specifies a collection of items (files or documents) to which the query applies. Supported items include: * `user` * `domain` * `drive` * `allDrives` Prefer `user` or `drive` to `allDrives` for efficiency. By default, corpora is set to `user`. However, this can change depending on the filter set through the `q` parameter. For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization).",
              "location": "query",
              "type": "string"
            },
            "corpus": {
              "location": "query",
              "description": "Deprecated: The source of files to list. Use `corpora` instead.",
              "deprecated": true,
              "enum": [
                "domain",
                "user"
              ],
              "type": "string",
              "enumDescriptions": [
                "Files shared to the user's domain.",
                "Files owned by or shared to the user."
              ]
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "default": "100",
              "maximum": "1000",
              "type": "integer",
              "description": "The maximum number of files to return per page. Pages may be partial or empty even before reaching the end of the file list. If unspecified, at most 100 files are returned for shared drives, and the entire list of files for non-shared drives. The maximum value is 100; values above 100 are changed to 100.",
              "minimum": "1"
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of sort keys. Valid keys are: * `createdTime`: When the file was created. Avoid using this key for queries on large item collections as it might result in timeouts or other issues. For time-related sorting on large item collections, use `modifiedTime desc` instead. * `folder`: The folder ID. This field is sorted using alphabetical ordering. * `modifiedByMeTime`: The last time the file was modified by the user. * `modifiedTime`: The last time the file was modified by anyone. * `name`: The name of the file. This field is sorted using alphabetical ordering, so 1, 12, 2, 22. * `name_natural`: The name of the file. This field is sorted using natural sort ordering, so 1, 2, 12, 22. * `quotaBytesUsed`: The number of storage quota bytes used by the file. * `recency`: The most recent timestamp from the file's date-time fields. * `sharedWithMeTime`: When the file was shared with the user, if applicable. * `starred`: Whether the user has starred the file. * `viewedByMeTime`: The last time the file was viewed by the user. Each key sorts ascending by default, but can be reversed with the `desc` modifier. Example usage: `?orderBy=folder,modifiedTime desc,name`."
            },
            "spaces": {
              "description": "A comma-separated list of spaces to query within the corpora. Supported values are `drive` and `appDataFolder`. For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization).",
              "location": "query",
              "type": "string",
              "default": "drive"
            }
          },
          "flatPath": "files",
          "httpMethod": "GET",
          "response": {
            "$ref": "FileList"
          },
          "description": " Lists the user's files. For more information, see [Search for files and folders](https://developers.google.com/workspace/drive/api/guides/search-files). This method accepts the `q` parameter, which is a search query combining one or more search terms. This method returns *all* files by default, including trashed files. If you don't want trashed files to appear in the list, use the `trashed=false` query parameter to remove trashed files from the results.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "generateIds": {
          "path": "files/generateIds",
          "parameterOrder": [],
          "id": "drive.files.generateIds",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/generateIds",
          "httpMethod": "GET",
          "response": {
            "$ref": "GeneratedIds"
          },
          "description": "Generates a set of file IDs which can be provided in create or copy requests. For more information, see [Create and manage files](https://developers.google.com/workspace/drive/api/guides/create-file).",
          "parameters": {
            "count": {
              "format": "int32",
              "location": "query",
              "description": "The number of IDs to return.",
              "minimum": "1",
              "default": "10",
              "maximum": "1000",
              "type": "integer"
            },
            "type": {
              "description": "The type of items which the IDs can be used for. Supported values are `files` and `shortcuts`. Note that `shortcuts` are only supported in the `drive` `space`. (Default: `files`.) For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization).",
              "default": "files",
              "location": "query",
              "type": "string"
            },
            "space": {
              "description": "The space in which the IDs can be used to create files. Supported values are `drive` and `appDataFolder`. (Default: `drive`.) For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization).",
              "default": "drive",
              "location": "query",
              "type": "string"
            }
          }
        }
      }
    },
    "teamdrives": {
      "methods": {
        "create": {
          "path": "teamdrives",
          "id": "drive.teamdrives.create",
          "parameterOrder": [
            "requestId"
          ],
          "parameters": {
            "requestId": {
              "location": "query",
              "type": "string",
              "required": true,
              "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a Team Drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same Team Drive. If the Team Drive already exists a 409 error will be returned."
            }
          },
          "request": {
            "$ref": "TeamDrive"
          },
          "flatPath": "teamdrives",
          "httpMethod": "POST",
          "response": {
            "$ref": "TeamDrive"
          },
          "description": "Deprecated: Use `drives.create` instead.",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "flatPath": "teamdrives/{teamDriveId}",
          "httpMethod": "DELETE",
          "description": "Deprecated: Use `drives.delete` instead.",
          "parameterOrder": [
            "teamDriveId"
          ],
          "id": "drive.teamdrives.delete",
          "path": "teamdrives/{teamDriveId}",
          "parameters": {
            "teamDriveId": {
              "description": "The ID of the Team Drive",
              "required": true,
              "location": "path",
              "type": "string"
            }
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "teamdrives/{teamDriveId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "TeamDrive"
          },
          "description": "Deprecated: Use `drives.get` instead.",
          "parameters": {
            "teamDriveId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the Team Drive"
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "teamdrives/{teamDriveId}",
          "parameterOrder": [
            "teamDriveId"
          ],
          "id": "drive.teamdrives.get"
        },
        "list": {
          "parameterOrder": [],
          "id": "drive.teamdrives.list",
          "path": "teamdrives",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "teamdrives",
          "httpMethod": "GET",
          "response": {
            "$ref": "TeamDriveList"
          },
          "description": "Deprecated: Use `drives.list` instead.",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token for Team Drives."
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then all Team Drives of the domain in which the requester is an administrator are returned.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "pageSize": {
              "description": "Maximum number of Team Drives to return.",
              "minimum": "1",
              "maximum": "100",
              "type": "integer",
              "default": "10",
              "format": "int32",
              "location": "query"
            },
            "q": {
              "description": "Query string for searching Team Drives.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "update": {
          "request": {
            "$ref": "TeamDrive"
          },
          "parameters": {
            "teamDriveId": {
              "description": "The ID of the Team Drive",
              "location": "path",
              "type": "string",
              "required": true
            },
            "useDomainAdminAccess": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "flatPath": "teamdrives/{teamDriveId}",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "TeamDrive"
          },
          "description": "Deprecated: Use `drives.update` instead.",
          "parameterOrder": [
            "teamDriveId"
          ],
          "id": "drive.teamdrives.update",
          "path": "teamdrives/{teamDriveId}"
        }
      }
    },
    "channels": {
      "methods": {
        "stop": {
          "path": "channels/stop",
          "parameterOrder": [],
          "id": "drive.channels.stop",
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "channels/stop",
          "httpMethod": "POST",
          "description": "Stops watching resources through this channel. For more information, see [Notifications for resource changes](https://developers.google.com/workspace/drive/api/guides/push)."
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "parameters": {
            "name": {
              "description": "The name of the operation resource.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "operations/{name}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Operation"
          },
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "operations/{name}",
          "id": "drive.operations.get",
          "parameterOrder": [
            "name"
          ]
        }
      }
    },
    "revisions": {
      "methods": {
        "delete": {
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "httpMethod": "DELETE",
          "description": "Permanently deletes a file version. You can only delete revisions for files with binary content in Google Drive, like images or videos. Revisions for other files, like Google Docs or Sheets, and the last remaining file version can't be deleted. For more information, see [Manage file revisions](https://developers.google.com/drive/api/guides/manage-revisions).",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "revisionId": {
              "description": "The ID of the revision.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "path": "files/{fileId}/revisions/{revisionId}",
          "id": "drive.revisions.delete",
          "parameterOrder": [
            "fileId",
            "revisionId"
          ]
        },
        "list": {
          "path": "files/{fileId}/revisions",
          "parameterOrder": [
            "fileId"
          ],
          "id": "drive.revisions.list",
          "parameters": {
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the file."
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "format": "int32",
              "location": "query",
              "description": "The maximum number of revisions to return per page.",
              "minimum": "1",
              "maximum": "1000",
              "type": "integer",
              "default": "200"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/revisions",
          "httpMethod": "GET",
          "response": {
            "$ref": "RevisionList"
          },
          "description": "Lists a file's revisions. For more information, see [Manage file revisions](https://developers.google.com/workspace/drive/api/guides/manage-revisions). **Important:** The list of revisions returned by this method might be incomplete for files with a large revision history, including frequently edited Google Docs, Sheets, and Slides. Older revisions might be omitted from the response, meaning the first revision returned may not be the oldest existing revision. The revision history visible in the Workspace editor user interface might be more complete than the list returned by the API."
        },
        "get": {
          "parameters": {
            "fileId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the file."
            },
            "acknowledgeAbuse": {
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "revisionId": {
              "description": "The ID of the revision.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Revision"
          },
          "description": "Gets a revision's metadata or content by ID. For more information, see [Manage file revisions](https://developers.google.com/workspace/drive/api/guides/manage-revisions).",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "files/{fileId}/revisions/{revisionId}",
          "id": "drive.revisions.get",
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "supportsMediaDownload": true,
          "useMediaDownloadService": true
        },
        "update": {
          "path": "files/{fileId}/revisions/{revisionId}",
          "id": "drive.revisions.update",
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Revision"
          },
          "description": "Updates a revision with patch semantics. For more information, see [Manage file revisions](https://developers.google.com/workspace/drive/api/guides/manage-revisions).",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameters": {
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the file."
            },
            "revisionId": {
              "description": "The ID of the revision.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "request": {
            "$ref": "Revision"
          }
        }
      }
    },
    "drives": {
      "methods": {
        "get": {
          "flatPath": "drives/{driveId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Drive"
          },
          "description": "Gets a shared drive's metadata by ID. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "driveId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the shared drive."
            }
          },
          "id": "drive.drives.get",
          "parameterOrder": [
            "driveId"
          ],
          "path": "drives/{driveId}"
        },
        "hide": {
          "parameterOrder": [
            "driveId"
          ],
          "id": "drive.drives.hide",
          "path": "drives/{driveId}/hide",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "flatPath": "drives/{driveId}/hide",
          "httpMethod": "POST",
          "response": {
            "$ref": "Drive"
          },
          "description": "Hides a shared drive from the default view. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).",
          "parameters": {
            "driveId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the shared drive."
            }
          }
        },
        "delete": {
          "id": "drive.drives.delete",
          "parameterOrder": [
            "driveId"
          ],
          "parameters": {
            "useDomainAdminAccess": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs."
            },
            "allowItemDeletion": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Whether any items inside the shared drive should also be deleted. This option is only supported when `useDomainAdminAccess` is also set to `true`."
            },
            "driveId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the shared drive."
            }
          },
          "path": "drives/{driveId}",
          "flatPath": "drives/{driveId}",
          "httpMethod": "DELETE",
          "description": "Permanently deletes a shared drive for which the user is an `organizer`. The shared drive cannot contain any untrashed items. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        },
        "create": {
          "request": {
            "$ref": "Drive"
          },
          "parameters": {
            "requestId": {
              "required": true,
              "location": "query",
              "type": "string",
              "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a shared drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same shared drive. If the shared drive already exists a 409 error will be returned."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "flatPath": "drives",
          "httpMethod": "POST",
          "response": {
            "$ref": "Drive"
          },
          "description": "Creates a shared drive. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).",
          "parameterOrder": [
            "requestId"
          ],
          "id": "drive.drives.create",
          "path": "drives"
        },
        "update": {
          "flatPath": "drives/{driveId}",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Drive"
          },
          "description": "Updates the metadata for a shared drive. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "parameters": {
            "useDomainAdminAccess": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs."
            },
            "driveId": {
              "description": "The ID of the shared drive.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "Drive"
          },
          "path": "drives/{driveId}",
          "id": "drive.drives.update",
          "parameterOrder": [
            "driveId"
          ]
        },
        "list": {
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token for shared drives."
            },
            "useDomainAdminAccess": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then all shared drives of the domain in which the requester is an administrator are returned."
            },
            "pageSize": {
              "format": "int32",
              "location": "query",
              "description": "Maximum number of shared drives to return per page.",
              "minimum": "1",
              "default": "10",
              "maximum": "100",
              "type": "integer"
            },
            "q": {
              "location": "query",
              "type": "string",
              "description": "Query string for searching shared drives."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "drives",
          "httpMethod": "GET",
          "response": {
            "$ref": "DriveList"
          },
          "description": " Lists the user's shared drives. This method accepts the `q` parameter, which is a search query combining one or more search terms. For more information, see the [Search for shared drives](https://developers.google.com/workspace/drive/api/guides/search-shareddrives) guide.",
          "parameterOrder": [],
          "id": "drive.drives.list",
          "path": "drives"
        },
        "unhide": {
          "id": "drive.drives.unhide",
          "parameterOrder": [
            "driveId"
          ],
          "path": "drives/{driveId}/unhide",
          "parameters": {
            "driveId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the shared drive."
            }
          },
          "flatPath": "drives/{driveId}/unhide",
          "httpMethod": "POST",
          "response": {
            "$ref": "Drive"
          },
          "description": "Restores a shared drive to the default view. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        }
      }
    },
    "approvals": {
      "methods": {
        "get": {
          "path": "files/{fileId}/approvals/{approvalId}",
          "id": "drive.approvals.get",
          "parameterOrder": [
            "fileId",
            "approvalId"
          ],
          "flatPath": "files/{fileId}/approvals/{approvalId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Approval"
          },
          "description": "Gets an approval by ID. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals).",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "fileId": {
              "description": "Required. The ID of the file that the approval is on.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "approvalId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The ID of the approval."
            }
          }
        },
        "comment": {
          "path": "files/{fileId}/approvals/{approvalId}:comment",
          "parameterOrder": [
            "fileId",
            "approvalId"
          ],
          "id": "drive.approvals.comment",
          "request": {
            "$ref": "CommentApprovalRequest"
          },
          "parameters": {
            "fileId": {
              "description": "Required. The ID of the file that the approval is on.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "approvalId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The ID of the approval to comment on."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "flatPath": "files/{fileId}/approvals/{approvalId}:comment",
          "httpMethod": "POST",
          "response": {
            "$ref": "Approval"
          },
          "description": "Comments on an approval. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals). This sends a notification to both the initiator and the reviewers. Additionally, a message is also added to the approval activity log."
        },
        "cancel": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "flatPath": "files/{fileId}/approvals/{approvalId}:cancel",
          "httpMethod": "POST",
          "response": {
            "$ref": "Approval"
          },
          "description": "Cancels an approval. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals). Updates the approval Status to `CANCELLED`. This can be called by any user with the `writer` permission on the file while the approval Status is `IN_PROGRESS`.",
          "request": {
            "$ref": "CancelApprovalRequest"
          },
          "parameters": {
            "fileId": {
              "description": "Required. The ID of the file that the approval is on.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "approvalId": {
              "description": "Required. The ID of the approval to cancel.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "path": "files/{fileId}/approvals/{approvalId}:cancel",
          "parameterOrder": [
            "fileId",
            "approvalId"
          ],
          "id": "drive.approvals.cancel"
        },
        "start": {
          "path": "files/{fileId}/approvals:start",
          "parameterOrder": [
            "fileId"
          ],
          "id": "drive.approvals.start",
          "request": {
            "$ref": "StartApprovalRequest"
          },
          "parameters": {
            "fileId": {
              "description": "Required. The ID of the file that the approval is created on.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "flatPath": "files/{fileId}/approvals:start",
          "httpMethod": "POST",
          "response": {
            "$ref": "Approval"
          },
          "description": "Starts an approval on a file. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals)."
        },
        "list": {
          "path": "files/{fileId}/approvals",
          "parameterOrder": [
            "fileId"
          ],
          "id": "drive.approvals.list",
          "parameters": {
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The ID of the file that the approval is on."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response."
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of approvals to return. When not set, at most 100 approvals are returned.",
              "format": "int32"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/approvals",
          "httpMethod": "GET",
          "response": {
            "$ref": "ApprovalList"
          },
          "description": "Lists the approvals on a file. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals)."
        },
        "reassign": {
          "id": "drive.approvals.reassign",
          "parameterOrder": [
            "fileId",
            "approvalId"
          ],
          "path": "files/{fileId}/approvals/{approvalId}:reassign",
          "flatPath": "files/{fileId}/approvals/{approvalId}:reassign",
          "httpMethod": "POST",
          "response": {
            "$ref": "Approval"
          },
          "description": "Reassigns the reviewers on an approval. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals). Adds or replaces reviewers in the ReviewerResponse of the approval. This can be called by any user with the `writer` permission on the file while the approval Status is `IN_PROGRESS` and the Response for the reviewer being reassigned is `NO_RESPONSE`. A user with the `reader` permission can only reassign an approval that's assigned to themselves. Removing a reviewer isn't allowed.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "parameters": {
            "fileId": {
              "description": "Required. The ID of the file that the approval is on.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "approvalId": {
              "description": "Required. The ID of the approval to reassign.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "request": {
            "$ref": "ReassignApprovalRequest"
          }
        },
        "approve": {
          "flatPath": "files/{fileId}/approvals/{approvalId}:approve",
          "httpMethod": "POST",
          "response": {
            "$ref": "Approval"
          },
          "description": "Approves an approval. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals). This is used to update the ReviewerResponse of the requesting user with a Response of `APPROVED`. If this is the last required reviewer response, this also completes the approval and sets the approval Status to `APPROVED`.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "parameters": {
            "fileId": {
              "description": "Required. The ID of the file that the approval is on.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "approvalId": {
              "description": "Required. The ID of the approval to approve.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "request": {
            "$ref": "ApproveApprovalRequest"
          },
          "path": "files/{fileId}/approvals/{approvalId}:approve",
          "id": "drive.approvals.approve",
          "parameterOrder": [
            "fileId",
            "approvalId"
          ]
        },
        "decline": {
          "request": {
            "$ref": "DeclineApprovalRequest"
          },
          "parameters": {
            "fileId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The ID of the file that the approval is on."
            },
            "approvalId": {
              "description": "Required. The ID of the approval to decline.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "flatPath": "files/{fileId}/approvals/{approvalId}:decline",
          "httpMethod": "POST",
          "response": {
            "$ref": "Approval"
          },
          "description": "Declines an approval. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals). This is used to update the ReviewerResponse of the requesting user with a Response of `DECLINED`. This also completes the approval and sets the approval Status to `DECLINED`.",
          "parameterOrder": [
            "fileId",
            "approvalId"
          ],
          "id": "drive.approvals.decline",
          "path": "files/{fileId}/approvals/{approvalId}:decline"
        }
      }
    },
    "replies": {
      "methods": {
        "create": {
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "id": "drive.replies.create",
          "path": "files/{fileId}/comments/{commentId}/replies",
          "request": {
            "$ref": "Reply"
          },
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "commentId": {
              "description": "The ID of the comment.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}/replies",
          "httpMethod": "POST",
          "response": {
            "$ref": "Reply"
          },
          "description": "Creates a reply to a comment. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments)."
        },
        "delete": {
          "parameters": {
            "fileId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the file."
            },
            "commentId": {
              "description": "The ID of the comment.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "replyId": {
              "description": "The ID of the reply.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "id": "drive.replies.delete",
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "httpMethod": "DELETE",
          "description": "Deletes a reply. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "get": {
          "parameters": {
            "fileId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the file."
            },
            "commentId": {
              "description": "The ID of the comment.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "replyId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the reply."
            },
            "includeDeleted": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Whether to return deleted replies. Deleted replies don't include their original content."
            }
          },
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Reply"
          },
          "description": "Gets a reply by ID. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "id": "drive.replies.get",
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}/replies",
          "httpMethod": "GET",
          "response": {
            "$ref": "ReplyList"
          },
          "description": "Lists a comment's replies. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "location": "query",
              "description": "The maximum number of replies to return per page.",
              "minimum": "1",
              "maximum": "100",
              "type": "integer",
              "default": "20"
            },
            "commentId": {
              "description": "The ID of the comment.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the file."
            },
            "includeDeleted": {
              "description": "Whether to include deleted replies. Deleted replies don't include their original content.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "files/{fileId}/comments/{commentId}/replies",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "id": "drive.replies.list"
        },
        "update": {
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "id": "drive.replies.update",
          "request": {
            "$ref": "Reply"
          },
          "parameters": {
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the file."
            },
            "commentId": {
              "description": "The ID of the comment.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "replyId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the reply."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Reply"
          },
          "description": "Updates a reply with patch semantics. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments)."
        }
      }
    },
    "comments": {
      "methods": {
        "create": {
          "path": "files/{fileId}/comments",
          "parameterOrder": [
            "fileId"
          ],
          "id": "drive.comments.create",
          "request": {
            "$ref": "Comment"
          },
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/comments",
          "httpMethod": "POST",
          "response": {
            "$ref": "Comment"
          },
          "description": "Creates a comment on a file. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments). Required: The `fields` parameter must be set. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter)."
        },
        "get": {
          "parameters": {
            "includeDeleted": {
              "description": "Whether to return deleted comments. Deleted comments will not include their original content.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "commentId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the comment."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Comment"
          },
          "description": "Gets a comment by ID. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments). Required: The `fields` parameter must be set. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter).",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "id": "drive.comments.get",
          "path": "files/{fileId}/comments/{commentId}"
        },
        "delete": {
          "flatPath": "files/{fileId}/comments/{commentId}",
          "httpMethod": "DELETE",
          "description": "Deletes a comment. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.comments.delete",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "parameters": {
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the file."
            },
            "commentId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the comment."
            }
          },
          "path": "files/{fileId}/comments/{commentId}"
        },
        "update": {
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "commentId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the comment."
            }
          },
          "request": {
            "$ref": "Comment"
          },
          "flatPath": "files/{fileId}/comments/{commentId}",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Comment"
          },
          "description": "Updates a comment with patch semantics. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments). Required: The `fields` parameter must be set. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter).",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.comments.update",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "path": "files/{fileId}/comments/{commentId}"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/comments",
          "httpMethod": "GET",
          "response": {
            "$ref": "CommentList"
          },
          "description": "Lists a file's comments. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments). Required: The `fields` parameter must be set. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter).",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response."
            },
            "startModifiedTime": {
              "location": "query",
              "type": "string",
              "description": "The minimum value of 'modifiedTime' for the result comments (RFC 3339 date-time)."
            },
            "pageSize": {
              "description": "The maximum number of comments to return per page.",
              "minimum": "1",
              "maximum": "100",
              "type": "integer",
              "default": "20",
              "format": "int32",
              "location": "query"
            },
            "includeDeleted": {
              "description": "Whether to include deleted comments. Deleted comments will not include their original content.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "fileId"
          ],
          "id": "drive.comments.list",
          "path": "files/{fileId}/comments"
        }
      }
    },
    "about": {
      "methods": {
        "get": {
          "path": "about",
          "id": "drive.about.get",
          "parameterOrder": [],
          "flatPath": "about",
          "httpMethod": "GET",
          "response": {
            "$ref": "About"
          },
          "description": "Gets information about the user, the user's Drive, and system capabilities. For more information, see [Return user info](https://developers.google.com/workspace/drive/api/guides/user-info). Required: The `fields` parameter must be set. To return the exact fields you need, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter).",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {}
        }
      }
    },
    "accessproposals": {
      "methods": {
        "get": {
          "id": "drive.accessproposals.get",
          "parameterOrder": [
            "fileId",
            "proposalId"
          ],
          "path": "files/{fileId}/accessproposals/{proposalId}",
          "flatPath": "files/{fileId}/accessproposals/{proposalId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "AccessProposal"
          },
          "description": "Retrieves an access proposal by ID. For more information, see [Manage pending access proposals](https://developers.google.com/workspace/drive/api/guides/pending-access).",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The ID of the item the request is on."
            },
            "proposalId": {
              "description": "Required. The ID of the access proposal to resolve.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          }
        },
        "list": {
          "id": "drive.accessproposals.list",
          "parameterOrder": [
            "fileId"
          ],
          "path": "files/{fileId}/accessproposals",
          "parameters": {
            "fileId": {
              "description": "Required. The ID of the item the request is on.",
              "required": true,
              "location": "path",
              "type": "string"
            },
[...]
