{
  "ownerName": "Google",
  "id": "drivelabels:v2",
  "ownerDomain": "google.com",
  "description": "An API for managing Drive Labels",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "canonicalName": "Drive Labels",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://drivelabels.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.admin.labels": {
          "description": "See, edit, create, and delete all Google Drive labels in your organization, and see your organization's label-related admin policies"
        },
        "https://www.googleapis.com/auth/drive.labels": {
          "description": "See, edit, create, and delete your Google Drive labels"
        },
        "https://www.googleapis.com/auth/drive.admin.labels.readonly": {
          "description": "See all Google Drive labels and label-related admin policies in your organization"
        },
        "https://www.googleapis.com/auth/drive.labels.readonly": {
          "description": "See your Google Drive labels"
        }
      }
    }
  },
  "rootUrl": "https://drivelabels.googleapis.com/",
  "revision": "20260630",
  "documentationLink": "https://developers.google.com/workspace/drive/labels",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "name": "drivelabels",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "version_module": true,
  "schemas": {
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequest": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequest",
      "properties": {
        "writeControl": {
          "description": "Provides control over how write requests are executed.",
          "$ref": "GoogleAppsDriveLabelsV2WriteControl"
        },
        "view": {
          "description": "When specified, only certain fields belonging to the indicated view will be returned.",
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ],
          "type": "string",
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ]
        },
        "requests": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestRequest"
          },
          "description": "A list of updates to apply to the label. Requests will be applied in the order they are specified."
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code to use for evaluating localized field labels when `include_label_in_response` is `true`."
        }
      },
      "description": "The set of requests for updating aspects of a label. If any request isn't valid, no requests will be applied."
    },
    "GoogleAppsDriveLabelsV2TextLimits": {
      "description": "Limits for text field type.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2TextLimits",
      "properties": {
        "maxLength": {
          "type": "integer",
          "description": "Maximum length allowed for a text field type.",
          "format": "int32"
        },
        "minLength": {
          "type": "integer",
          "description": "Minimum length allowed for a text field type.",
          "format": "int32"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateFieldRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateFieldRequest",
      "properties": {
        "field": {
          "description": "Required. Field to create.",
          "$ref": "GoogleAppsDriveLabelsV2Field"
        }
      },
      "type": "object",
      "description": "Request to create a field within a label."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateLabelPropertiesResponse": {
      "description": "Response following update to label properties.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateLabelPropertiesResponse",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableFieldResponse": {
      "description": "Response following field enable.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableFieldResponse",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldPropertiesRequest": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldPropertiesRequest",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "format": "google-fieldmask"
        },
        "id": {
          "description": "Required. The field to update.",
          "type": "string"
        },
        "properties": {
          "description": "Required. Basic field properties.",
          "$ref": "GoogleAppsDriveLabelsV2FieldProperties"
        }
      },
      "description": "Request to update field properties."
    },
    "GoogleAppsDriveLabelsV2LabelEnabledAppSettings": {
      "id": "GoogleAppsDriveLabelsV2LabelEnabledAppSettings",
      "properties": {
        "enabledApps": {
          "description": "Optional. The list of apps where the label can be used.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2LabelEnabledAppSettingsEnabledApp"
          }
        }
      },
      "type": "object",
      "description": "Describes the Google Workspace apps in which the label can be used."
    },
    "GoogleAppsDriveLabelsV2DateLimits": {
      "description": "Limits for date field type.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DateLimits",
      "properties": {
        "minValue": {
          "description": "Minimum value for the date field type.",
          "$ref": "GoogleTypeDate"
        },
        "maxValue": {
          "description": "Maximum value for the date field type.",
          "$ref": "GoogleTypeDate"
        }
      }
    },
    "GoogleAppsDriveLabelsV2WriteControl": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2WriteControl",
      "properties": {
        "requiredRevisionId": {
          "description": "The revision ID of the label that the write request will be applied to. If this isn't the latest revision of the label, the request will not be processed and will return a 400 Bad Request error.",
          "type": "string"
        }
      },
      "description": "Provides control over how write requests are executed. When not specified, the last write wins."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseResponse": {
      "description": "A single response from an update.",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseResponse",
      "properties": {
        "updateLabel": {
          "description": "Updates basic properties of a label.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateLabelPropertiesResponse"
        },
        "disableField": {
          "description": "Disables field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableFieldResponse"
        },
        "deleteField": {
          "description": "Deletes a field from the label.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteFieldResponse"
        },
        "enableField": {
          "description": "Enables field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableFieldResponse"
        },
        "updateSelectionChoiceProperties": {
          "description": "Updates a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse"
        },
        "createSelectionChoice": {
          "description": "Creates a selection list option to add to a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateSelectionChoiceResponse"
        },
        "enableSelectionChoice": {
          "description": "Enables a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableSelectionChoiceResponse"
        },
        "disableSelectionChoice": {
          "description": "Disables a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableSelectionChoiceResponse"
        },
        "updateField": {
          "description": "Updates basic properties of a field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldPropertiesResponse"
        },
        "deleteSelectionChoice": {
          "description": "Deletes a choice from a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteSelectionChoiceResponse"
        },
        "createField": {
          "description": "Creates a field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateFieldResponse"
        },
        "updateFieldType": {
          "description": "Updates field type and/or type options.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldTypeResponse"
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2UpdateLabelEnabledAppSettingsRequest": {
      "description": "Request to update the `EnabledAppSettings` of the given label. This change is not revisioned, doesn't require publishing, and takes effect immediately. \\",
      "id": "GoogleAppsDriveLabelsV2UpdateLabelEnabledAppSettingsRequest",
      "properties": {
        "view": {
          "type": "string",
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ],
          "description": "Optional. When specified, only certain fields belonging to the indicated view will be returned.",
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ]
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used."
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Optional. Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        },
        "enabledAppSettings": {
          "description": "Required. The new `EnabledAppSettings` value for the label.",
          "$ref": "GoogleAppsDriveLabelsV2LabelEnabledAppSettings"
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateLabelPropertiesRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateLabelPropertiesRequest",
      "properties": {
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `label_properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "properties": {
          "description": "Required. Label properties to update.",
          "$ref": "GoogleAppsDriveLabelsV2LabelProperties"
        }
      },
      "type": "object",
      "description": "Updates basic properties of a label."
    },
    "GoogleAppsDriveLabelsV2LabelLock": {
      "description": "A lock that can be applied to a label, field, or choice.",
      "id": "GoogleAppsDriveLabelsV2LabelLock",
      "properties": {
        "deleteTime": {
          "type": "string",
          "description": "Output only. A timestamp indicating when this label lock was scheduled for deletion. Present only if this label lock is in the `DELETING` state.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of this label lock.",
          "readOnly": true
        },
        "capabilities": {
          "$ref": "GoogleAppsDriveLabelsV2LabelLockCapabilities",
          "description": "Output only. The user's capabilities on this label lock.",
          "readOnly": true
        },
        "fieldId": {
          "description": "The ID of the field that should be locked. Empty if the whole label should be locked.",
          "type": "string"
        },
        "choiceId": {
          "type": "string",
          "description": "The ID of the selection field choice that should be locked. If present, `field_id` must also be present."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time this label lock was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "Unknown state.",
            "The label lock is active and is being enforced by the server.",
            "The label lock is being deleted. The label lock will continue to be enforced by the server until it has been fully removed."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETING"
          ],
          "description": "Output only. This label lock's state.",
          "readOnly": true
        },
        "creator": {
          "description": "Output only. The user whose credentials were used to create the label lock. Not present if no user was responsible for creating the label lock.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldListOptions": {
      "description": "Options for a multi-valued variant of an associated field type.",
      "id": "GoogleAppsDriveLabelsV2FieldListOptions",
      "properties": {
        "maxEntries": {
          "description": "Maximum number of entries permitted.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldDisplayHints": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2FieldDisplayHints",
      "properties": {
        "required": {
          "description": "Whether the field should be shown as required in the UI.",
          "type": "boolean"
        },
        "disabled": {
          "description": "Whether the field should be shown in the UI as disabled.",
          "type": "boolean"
        },
        "hiddenInSearch": {
          "description": "This field should be hidden in the search menu when searching for Drive items.",
          "type": "boolean"
        },
        "shownInApply": {
          "description": "This field should be shown in the apply menu when applying values to a Drive item.",
          "type": "boolean"
        }
      },
      "description": "UI display hints for rendering a field."
    },
    "GoogleAppsDriveLabelsV2FieldProperties": {
      "description": "The basic properties of the field.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2FieldProperties",
      "properties": {
        "insertBeforeField": {
          "type": "string",
          "description": "Input only. Insert or move this field before the indicated field. If empty, the field is placed at the end of the list."
        },
        "displayName": {
          "description": "Required. The display text to show in the UI identifying this field.",
          "type": "string"
        },
        "required": {
          "type": "boolean",
          "description": "Whether the field should be marked as required."
        }
      }
    },
    "GoogleTypeDate": {
      "type": "object",
      "id": "GoogleTypeDate",
      "properties": {
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsResponse": {
      "id": "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsResponse",
      "properties": {
        "permissions": {
          "description": "Required. Permissions updated.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
          }
        }
      },
      "type": "object",
      "description": "Response for updating one or more label permissions."
    },
    "GoogleAppsDriveLabelsV2IntegerLimits": {
      "description": "Limits for integer field type.",
      "id": "GoogleAppsDriveLabelsV2IntegerLimits",
      "properties": {
        "maxValue": {
          "type": "string",
          "description": "Maximum value for an integer field type.",
          "format": "int64"
        },
        "minValue": {
          "description": "Minimum value for an integer field type.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DisableLabelRequest": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DisableLabelRequest",
      "properties": {
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "writeControl": {
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins.",
          "$ref": "GoogleAppsDriveLabelsV2WriteControl"
        },
        "disabledPolicy": {
          "description": "Disabled policy to use.",
          "$ref": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy"
        }
      },
      "description": "Request to deprecate a published label."
    },
    "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy": {
      "id": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy",
      "properties": {
        "hideInSearch": {
          "description": "Whether to hide this disabled object in the search menu for Drive items. * When `false`, the object is generally shown in the UI as disabled but it appears in the search results when searching for Drive items. * When `true`, the object is generally hidden in the UI when searching for Drive items.",
          "type": "boolean"
        },
        "showInApply": {
          "type": "boolean",
          "description": "Whether to show this disabled object in the apply menu on Drive items. * When `true`, the object is generally shown in the UI as disabled and is unselectable. * When `false`, the object is generally hidden in the UI."
        }
      },
      "type": "object",
      "description": "The policy that governs how to treat a disabled label, field, or selection choice in different contexts."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse",
      "properties": {
        "priority": {
          "description": "The priority of the updated choice. The priority may change from what was specified to assure contiguous priorities between choices (1-n).",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Response following update to selection choice properties."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteSelectionChoiceRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteSelectionChoiceRequest",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. Choice to delete."
        },
        "fieldId": {
          "type": "string",
          "description": "Required. The selection field from which a choice will be deleted."
        }
      },
      "type": "object",
      "description": "Request to delete a choice."
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleAppsDriveLabelsV2LabelPermission": {
      "description": "The permission that applies to a principal (user, group, audience) on a label.",
      "id": "GoogleAppsDriveLabelsV2LabelPermission",
      "properties": {
        "email": {
          "description": "Specifies the email address for a user or group principal. Not populated for audience principals. User and group permissions may only be inserted using an email address. On update requests, if email address is specified, no principal should be specified.",
          "type": "string"
        },
        "audience": {
          "description": "Audience to grant a role to. The magic value of `audiences/default` may be used to apply the role to the default audience in the context of the organization that owns the label.",
          "type": "string"
        },
        "role": {
          "type": "string",
          "enum": [
            "LABEL_ROLE_UNSPECIFIED",
            "READER",
            "APPLIER",
            "ORGANIZER",
            "EDITOR"
          ],
          "description": "The role the principal should have.",
          "enumDescriptions": [
            "Unknown role.",
            "A reader can read the label and associated metadata applied to Drive items.",
            "An applier can write associated metadata on Drive items in which they also have write access to. Implies `READER`.",
            "An organizer can pin this label in shared drives they manage and add new appliers to the label.",
            "Editors can make any update including deleting the label which also deletes the associated Drive item metadata. Implies `APPLIER`."
          ]
        },
        "group": {
          "type": "string",
          "description": "Group resource name."
        },
        "person": {
          "type": "string",
          "description": "Person resource name."
        },
        "name": {
          "description": "Resource name of this permission.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleTypeColor": {
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
      "id": "GoogleTypeColor",
      "properties": {
        "red": {
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "format": "float",
          "type": "number"
        },
        "blue": {
          "type": "number",
          "description": "The amount of blue in the color as a value in the interval [0, 1].",
          "format": "float"
        },
        "alpha": {
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0).",
          "format": "float",
          "type": "number"
        },
        "green": {
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableFieldRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableFieldRequest",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. Key of the field to disable."
        },
        "disabledPolicy": {
          "description": "Required. Field disabled policy.",
          "$ref": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy"
        },
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request to disable the field."
    },
    "GoogleAppsDriveLabelsV2LabelLimits": {
      "description": "Label constraints governing the structure of a label; such as, the maximum number of fields allowed and maximum length of the label title.",
      "id": "GoogleAppsDriveLabelsV2LabelLimits",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name."
        },
        "maxDeletedFields": {
          "type": "integer",
          "description": "The maximum number of published fields that can be deleted.",
          "format": "int32"
        },
        "maxDraftRevisions": {
          "type": "integer",
          "description": "The maximum number of draft revisions that will be kept before deleting old drafts.",
          "format": "int32"
        },
        "maxTitleLength": {
          "description": "The maximum number of characters allowed for the title.",
          "format": "int32",
          "type": "integer"
        },
        "fieldLimits": {
          "description": "The limits for fields.",
          "$ref": "GoogleAppsDriveLabelsV2FieldLimits"
        },
        "maxDescriptionLength": {
          "type": "integer",
          "description": "The maximum number of characters allowed for the description.",
          "format": "int32"
        },
        "maxFields": {
          "type": "integer",
          "description": "The maximum number of fields allowed within the label.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2UserLimits": {
      "id": "GoogleAppsDriveLabelsV2UserLimits",
      "properties": {
        "listLimits": {
          "description": "Limits for list-variant of a field type.",
          "$ref": "GoogleAppsDriveLabelsV2ListLimits"
        }
      },
      "type": "object",
      "description": "Limits for Field.Type.USER."
    },
    "GoogleAppsDriveLabelsV2BatchDeleteLabelPermissionsRequest": {
      "id": "GoogleAppsDriveLabelsV2BatchDeleteLabelPermissionsRequest",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2DeleteLabelPermissionRequest"
          },
          "description": "Required. The request message specifying the resources to update."
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access. If this is set, the `use_admin_access` field in the `DeleteLabelPermissionRequest` messages must either be empty or match this field."
        }
      },
      "type": "object",
      "description": "Deletes one or more label permissions."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateFieldResponse": {
      "description": "Response following field create.",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateFieldResponse",
      "properties": {
        "id": {
          "type": "string",
          "description": "The field of the created field. When left blank in a create request, a key will be autogenerated and can be identified here."
        },
        "priority": {
          "description": "The priority of the created field. The priority may change from what was specified to assure contiguous priorities between fields (1-n).",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2ListLabelPermissionsResponse": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2ListLabelPermissionsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The token of the next page in the response.",
          "type": "string"
        },
        "labelPermissions": {
          "description": "Label permissions.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
          }
        }
      },
      "description": "Response for listing the permissions on a label."
    },
    "GoogleAppsDriveLabelsV2UpdateLabelPermissionRequest": {
      "id": "GoogleAppsDriveLabelsV2UpdateLabelPermissionRequest",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The parent label resource name."
        },
        "labelPermission": {
          "description": "Required. The permission to create or update on the label.",
          "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        }
      },
      "type": "object",
      "description": "Updates a label permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing."
    },
    "GoogleAppsDriveLabelsV2LabelAppliedLabelPolicy": {
      "description": "Behavior of this label when it's applied to Drive items.",
      "id": "GoogleAppsDriveLabelsV2LabelAppliedLabelPolicy",
      "properties": {
        "copyMode": {
          "type": "string",
          "enum": [
            "COPY_MODE_UNSPECIFIED",
            "DO_NOT_COPY",
            "ALWAYS_COPY",
            "COPY_APPLIABLE"
          ],
          "description": "Indicates how the applied label and field values should be copied when a Drive item is copied.",
          "enumDescriptions": [
            "Copy mode unspecified.",
            "The applied label and field values aren't copied by default when the Drive item it's applied to is copied.",
            "The applied label and field values are always copied when the Drive item it's applied to is copied. Only admins can use this mode.",
            "The applied label and field values are copied if the label is appliable by the user making the copy."
          ]
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeleteLabelPermissionRequest": {
      "description": "Deletes a label permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
      "id": "GoogleAppsDriveLabelsV2DeleteLabelPermissionRequest",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Label permission resource name."
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2UserCapabilities": {
      "description": "The capabilities of a user.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2UserCapabilities",
      "properties": {
        "canCreateAdminLabels": {
          "type": "boolean",
          "description": "Output only. Whether the user is allowed to create admin labels.",
          "readOnly": true
        },
        "canAdministrateLabels": {
          "description": "Output only. Whether the user is an administrator for the shared labels feature.",
          "readOnly": true,
          "type": "boolean"
        },
        "canAccessLabelManager": {
          "type": "boolean",
          "description": "Output only. Whether the user is allowed access to the label manager.",
          "readOnly": true
        },
        "canCreateSharedLabels": {
          "description": "Output only. Whether the user is allowed to create shared labels.",
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "description": "Output only. Resource name for the user capabilities.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2FieldLimits": {
      "description": "Field constants governing the structure of a field; such as, the maximum title length, minimum and maximum field values or length, etc.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2FieldLimits",
      "properties": {
        "maxDisplayNameLength": {
          "description": "Limits for field title.",
          "format": "int32",
          "type": "integer"
        },
        "maxDescriptionLength": {
          "type": "integer",
          "description": "Limits for field description, also called help text.",
          "format": "int32"
        },
        "selectionLimits": {
          "description": "Selection field limits.",
          "$ref": "GoogleAppsDriveLabelsV2SelectionLimits"
        },
        "maxIdLength": {
          "description": "Maximum length for the id.",
          "format": "int32",
          "type": "integer"
        },
        "integerLimits": {
          "description": "Integer field limits.",
          "$ref": "GoogleAppsDriveLabelsV2IntegerLimits"
        },
        "textLimits": {
          "description": "The relevant limits for the specified Field.Type. Text field limits.",
          "$ref": "GoogleAppsDriveLabelsV2TextLimits"
        },
        "userLimits": {
          "description": "User field limits.",
          "$ref": "GoogleAppsDriveLabelsV2UserLimits"
        },
        "longTextLimits": {
          "description": "Long text field limits.",
          "$ref": "GoogleAppsDriveLabelsV2LongTextLimits"
        },
        "dateLimits": {
          "description": "Date field limits.",
          "$ref": "GoogleAppsDriveLabelsV2DateLimits"
        }
      }
    },
    "GoogleAppsDriveLabelsV2FieldUserOptions": {
      "description": "Options for the user field type.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2FieldUserOptions",
      "properties": {
        "listOptions": {
          "description": "When specified, indicates that this field supports a list of values. Once the field is published, this cannot be changed.",
          "$ref": "GoogleAppsDriveLabelsV2FieldListOptions"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableSelectionChoiceRequest": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableSelectionChoiceRequest",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "format": "google-fieldmask"
        },
        "fieldId": {
          "description": "Required. The selection field in which a choice will be disabled.",
          "type": "string"
        },
        "disabledPolicy": {
          "description": "Required. The disabled policy to update.",
          "$ref": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy"
        },
        "id": {
          "description": "Required. Choice to disable.",
          "type": "string"
        }
      },
      "description": "Request to disable a choice."
    },
    "GoogleAppsDriveLabelsV2LabelDisplayHints": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2LabelDisplayHints",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Whether the label should be shown in the UI as disabled."
        },
        "priority": {
          "type": "string",
          "description": "The order to display labels in a list.",
          "format": "int64"
        },
        "shownInApply": {
          "description": "This label should be shown in the apply menu when applying values to a Drive item.",
          "type": "boolean"
        },
        "hiddenInSearch": {
          "description": "This label should be hidden in the search menu when searching for Drive items.",
          "type": "boolean"
        }
      },
      "description": "The UI display hints for rendering the label."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableSelectionChoiceResponse": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableSelectionChoiceResponse",
      "properties": {},
      "description": "Response following choice disable."
    },
    "GoogleAppsDriveLabelsV2Label": {
      "description": "A label defines a taxonomy that can be applied to Drive items in order to organize and search across items. Labels can be simple strings, or can contain fields that describe additional metadata that can be further used to organize and search Drive items.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2Label",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. The time this label was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "revisionId": {
          "description": "Output only. Revision ID of the label. Revision ID might be part of the label `name` depending on the request issued. A new revision is created whenever revisioned properties of a label are changed. Matches the regex: `([a-zA-Z0-9])+`.",
          "readOnly": true,
          "type": "string"
        },
        "publishTime": {
          "type": "string",
          "description": "Output only. The time this label was published. This value has no meaning when the label isn't published.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "publisher": {
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "description": "Output only. The user who published this label. This value has no meaning when the label isn't published.>>",
          "readOnly": true
        },
        "fields": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2Field"
          },
          "description": "List of fields in descending priority order."
        },
        "appliedLabelPolicy": {
          "$ref": "GoogleAppsDriveLabelsV2LabelAppliedLabelPolicy",
          "description": "Output only. Behavior of this label when it's applied to Drive items.",
          "readOnly": true
        },
        "enabledAppSettings": {
          "description": "Optional. The `EnabledAppSettings` for this Label.",
          "$ref": "GoogleAppsDriveLabelsV2LabelEnabledAppSettings"
        },
        "properties": {
          "description": "Required. The basic properties of the label.",
          "$ref": "GoogleAppsDriveLabelsV2LabelProperties"
        },
        "displayHints": {
          "description": "Output only. UI display hints for rendering the label.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2LabelDisplayHints"
        },
        "revisionCreator": {
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "description": "Output only. The user who created this label revision.",
          "readOnly": true
        },
        "lockStatus": {
          "description": "Output only. The `LockStatus` of this label.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2LockStatus"
        },
        "disableTime": {
          "description": "Output only. The time this label was disabled. This value has no meaning when the label isn't disabled.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "disabler": {
          "description": "Output only. The user who disabled this label. This value has no meaning when the label isn't disabled.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        },
        "customer": {
          "description": "Output only. The customer this label belongs to. For example: `customers/123abc789`.",
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "description": "Output only. Globally unique identifier of this label. ID makes up part of the label `name`, but unlike `name`, ID is consistent between revisions. Matches the regex: `([a-zA-Z0-9])+`.",
          "readOnly": true,
          "type": "string"
        },
        "revisionCreateTime": {
          "description": "Output only. The time this label revision was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "schemaCapabilities": {
          "description": "Output only. The capabilities the user has on this label.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2LabelSchemaCapabilities"
        },
        "creator": {
          "description": "Output only. The user who created this label.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the label. Will be in the form of either: `labels/{id}` or `labels/{id}@{revision_id}` depending on the request. See `id` and `revision_id` below.",
          "readOnly": true
        },
        "learnMoreUri": {
          "type": "string",
          "description": "Custom URL to present to users to allow them to learn more about this label and how it should be used."
        },
        "lifecycle": {
          "description": "Output only. The lifecycle state of the label including whether it's published, deprecated, and has draft changes.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2Lifecycle"
        },
        "labelType": {
          "type": "string",
          "enum": [
            "LABEL_TYPE_UNSPECIFIED",
            "SHARED",
            "ADMIN",
            "GOOGLE_APP"
          ],
          "description": "Required. The type of label.",
          "enumDescriptions": [
            "Unknown label type.",
            "Shared labels may be shared with users to apply to Drive items.",
            "Admin-owned label. Only creatable and editable by admins. Supports some additional admin-only features.",
            "A label owned by an internal Google application rather than a customer. These labels are read-only."
          ]
        },
        "appliedCapabilities": {
          "$ref": "GoogleAppsDriveLabelsV2LabelAppliedCapabilities",
          "description": "Output only. The capabilities related to this label on applied metadata.",
          "readOnly": true
        }
      }
    },
    "GoogleAppsDriveLabelsV2EnableLabelRequest": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2EnableLabelRequest",
      "properties": {
        "writeControl": {
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins.",
          "$ref": "GoogleAppsDriveLabelsV2WriteControl"
        },
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        }
      },
      "description": "Request to enable a label."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableFieldRequest": {
      "description": "Request to enable the field.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableFieldRequest",
      "properties": {
        "id": {
          "description": "Required. ID of the field to enable.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2BadgeColors": {
      "id": "GoogleAppsDriveLabelsV2BadgeColors",
      "properties": {
        "foregroundColor": {
          "description": "Output only. Badge foreground that pairs with the background.",
          "readOnly": true,
          "$ref": "GoogleTypeColor"
        },
        "soloColor": {
          "description": "Output only. Color that can be used for text without a background.",
          "readOnly": true,
          "$ref": "GoogleTypeColor"
        },
        "backgroundColor": {
          "$ref": "GoogleTypeColor",
          "description": "Output only. Badge background that pairs with the foreground.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "The color derived from BadgeConfig and changed to the closest recommended supported color."
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoice": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoice",
      "properties": {
        "appliedCapabilities": {
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceAppliedCapabilities",
          "description": "Output only. The capabilities related to this choice on applied metadata.",
          "readOnly": true
        },
        "creator": {
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "description": "Output only. The user who created this choice.",
          "readOnly": true
        },
        "lifecycle": {
          "description": "Output only. Lifecycle of the choice.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2Lifecycle"
        },
        "id": {
          "description": "The unique value of the choice. This ID is autogenerated. Matches the regex: `([a-zA-Z0-9_])+`.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time this choice was updated last.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "schemaCapabilities": {
          "description": "Output only. The capabilities related to this option when editing the option.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceSchemaCapabilities"
        },
        "disabler": {
          "description": "Output only. The user who disabled this choice. This value has no meaning when the option is not disabled.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        },
        "updater": {
          "description": "Output only. The user who updated this choice last.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        },
        "lockStatus": {
          "description": "Output only. The `LockStatus` of this choice.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2LockStatus"
        },
        "disableTime": {
          "type": "string",
          "description": "Output only. The time this choice was disabled. This value has no meaning when the choice is not disabled.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "properties": {
          "description": "Basic properties of the choice.",
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceProperties"
        },
        "displayHints": {
          "description": "Output only. UI display hints for rendering a choice.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceDisplayHints"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time this choice was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "publishTime": {
          "type": "string",
          "description": "Output only. The time this choice was published. This value has no meaning when the choice is not published.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "publisher": {
          "description": "Output only. The user who published this choice. This value has no meaning when the choice is not published.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        }
      },
      "description": "Selection field choice."
    },
    "GoogleAppsDriveLabelsV2FieldAppliedCapabilities": {
      "description": "The capabilities related to this field on applied metadata.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2FieldAppliedCapabilities",
      "properties": {
        "canWrite": {
          "description": "Whether the user can set this field on Drive items.",
          "type": "boolean"
        },
        "canRead": {
          "description": "Whether the user can read related applied metadata on items.",
          "type": "boolean"
        },
        "canSearch": {
          "description": "Whether the user can search for Drive items referencing this field.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2LabelSchemaCapabilities": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2LabelSchemaCapabilities",
      "properties": {
        "canDelete": {
          "description": "Whether the user can delete this label. The user must have permission and the label must be disabled.",
          "type": "boolean"
        },
        "canDisable": {
          "type": "boolean",
          "description": "Whether the user can disable this label. The user must have permission and this label must not already be disabled."
        },
        "canEnable": {
          "type": "boolean",
          "description": "Whether the user can enable this label. The user must have permission and this label must be disabled."
        },
        "canUpdate": {
          "type": "boolean",
          "description": "Whether the user can change this label."
        }
      },
      "description": "The capabilities related to this label when editing the label."
    },
    "GoogleAppsDriveLabelsV2LabelEnabledAppSettingsEnabledApp": {
      "description": "An app where the label can be used.",
      "id": "GoogleAppsDriveLabelsV2LabelEnabledAppSettingsEnabledApp",
      "properties": {
        "app": {
          "description": "Optional. The name of the app.",
          "enumDescriptions": [
            "Unspecified",
            "Drive",
            "Gmail"
          ],
          "type": "string",
          "enum": [
            "APP_UNSPECIFIED",
            "DRIVE",
            "GMAIL"
          ]
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2ListLimits": {
      "id": "GoogleAppsDriveLabelsV2ListLimits",
      "properties": {
        "maxEntries": {
          "description": "Maximum number of values allowed for the field type.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Limits for list-variant of a field type."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateSelectionChoiceResponse": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateSelectionChoiceResponse",
      "properties": {
        "fieldId": {
          "type": "string",
          "description": "The server-generated ID of the field."
        },
        "id": {
          "description": "The server-generated ID of the created choice within the field.",
          "type": "string"
        }
      },
      "description": "Response following selection choice create."
    },
    "GoogleAppsDriveLabelsV2Field": {
      "description": "Defines a field that has a display name, data type, and other configuration options. This field defines the kind of metadata that may be set on a Drive item.",
      "id": "GoogleAppsDriveLabelsV2Field",
      "properties": {
        "disableTime": {
          "description": "Output only. The time this field was disabled. This value has no meaning when the field is not disabled.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "userOptions": {
          "description": "User field options.",
          "$ref": "GoogleAppsDriveLabelsV2FieldUserOptions"
        },
        "dateOptions": {
          "description": "Date field options.",
          "$ref": "GoogleAppsDriveLabelsV2FieldDateOptions"
        },
        "lockStatus": {
          "$ref": "GoogleAppsDriveLabelsV2LockStatus",
          "description": "Output only. The `LockStatus` of this field.",
          "readOnly": true
        },
        "properties": {
          "description": "The basic properties of the field.",
          "$ref": "GoogleAppsDriveLabelsV2FieldProperties"
        },
        "displayHints": {
          "description": "Output only. UI display hints for rendering a field.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2FieldDisplayHints"
        },
        "queryKey": {
          "description": "Output only. The key to use when constructing Drive search queries to find files based on values defined for this field on files. For example, \"`{query_key}` > 2001-01-01\".",
          "readOnly": true,
          "type": "string"
        },
        "publisher": {
          "description": "Output only. The user who published this field. This value has no meaning when the field is not published.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        },
        "textOptions": {
          "description": "Text field options.",
          "$ref": "GoogleAppsDriveLabelsV2FieldTextOptions"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time this field was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "appliedCapabilities": {
          "$ref": "GoogleAppsDriveLabelsV2FieldAppliedCapabilities",
          "description": "Output only. The capabilities this user has on this field and its value when the label is applied on Drive items.",
          "readOnly": true
        },
        "integerOptions": {
          "description": "Integer field options.",
          "$ref": "GoogleAppsDriveLabelsV2FieldIntegerOptions"
        },
        "lifecycle": {
          "description": "Output only. The lifecycle of this field.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2Lifecycle"
        },
        "creator": {
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "description": "Output only. The user who created this field.",
          "readOnly": true
        },
        "schemaCapabilities": {
          "$ref": "GoogleAppsDriveLabelsV2FieldSchemaCapabilities",
          "description": "Output only. The capabilities this user has when editing this field.",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "Output only. The key of a field, unique within a label or library. This value is autogenerated. Matches the regex: `([a-zA-Z0-9])+`.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The time this field was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "selectionOptions": {
          "description": "Selection field options.",
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptions"
        },
        "updater": {
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "description": "Output only. The user who modified this field.",
          "readOnly": true
        },
        "disabler": {
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "description": "Output only. The user who disabled this field. This value has no meaning when the field is not disabled.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldSchemaCapabilities": {
      "description": "The capabilities related to this field when editing the field.",
      "id": "GoogleAppsDriveLabelsV2FieldSchemaCapabilities",
      "properties": {
        "canUpdate": {
          "type": "boolean",
          "description": "Whether the user can change this field."
        },
        "canDelete": {
          "type": "boolean",
          "description": "Whether the user can delete this field. The user must have permission and the field must be deprecated."
        },
        "canDisable": {
          "description": "Whether the user can disable this field. The user must have permission and this field must not already be disabled.",
          "type": "boolean"
        },
        "canEnable": {
          "description": "Whether the user can enable this field. The user must have permission and this field must be disabled.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableFieldResponse": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableFieldResponse",
      "properties": {},
      "description": "Response following field disable."
    },
    "GoogleAppsDriveLabelsV2LabelLockCapabilities": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2LabelLockCapabilities",
      "properties": {
        "canViewPolicy": {
          "type": "boolean",
          "description": "True if the user is authorized to view the policy."
        }
      },
      "description": "A description of a user's capabilities on a label lock."
    },
    "GoogleAppsDriveLabelsV2UserInfo": {
      "description": "Information about a user.",
      "id": "GoogleAppsDriveLabelsV2UserInfo",
      "properties": {
        "person": {
          "description": "The identifier for this user that can be used with the [People API](https://developers.google.com/people) to get more information. For example, `people/12345678`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2BadgeConfig": {
      "id": "GoogleAppsDriveLabelsV2BadgeConfig",
      "properties": {
        "priorityOverride": {
          "type": "string",
          "description": "Override the default global priority of this badge. When set to 0, the default priority heuristic is used.",
          "format": "int64"
        },
        "color": {
          "description": "The color of the badge. When not specified, no badge is rendered. The background, foreground, and solo (light and dark mode) colors set here are changed in the Drive UI into the closest recommended supported color.",
          "$ref": "GoogleTypeColor"
        }
      },
      "type": "object",
      "description": "Badge status of the label."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateSelectionChoiceRequest": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateSelectionChoiceRequest",
      "properties": {
        "choice": {
          "description": "Required. The choice to create.",
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoice"
        },
        "fieldId": {
          "description": "Required. The selection field in which a choice will be created.",
          "type": "string"
        }
      },
      "description": "Request to create a selection choice."
    },
    "GoogleAppsDriveLabelsV2FieldDateOptions": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2FieldDateOptions",
      "properties": {
        "maxValue": {
          "description": "Output only. Maximum valid value (year, month, day).",
          "readOnly": true,
          "$ref": "GoogleTypeDate"
        },
        "dateFormatType": {
          "description": "Localized date formatting option. Field values are rendered in this format according to their locale.",
          "enumDescriptions": [
            "Date format unspecified.",
            "Includes full month name. For example, January 12, 1999 (MMMM d, y)",
            "Short, numeric, representation. For example, 12/13/99 (M/d/yy)"
          ],
          "type": "string",
          "enum": [
            "DATE_FORMAT_UNSPECIFIED",
            "LONG_DATE",
            "SHORT_DATE"
          ]
        },
        "minValue": {
          "$ref": "GoogleTypeDate",
          "description": "Output only. Minimum valid value (year, month, day).",
          "readOnly": true
        },
        "dateFormat": {
          "type": "string",
          "description": "Output only. ICU date format.",
          "readOnly": true
        }
      },
      "description": "Options for the date field type."
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceProperties": {
      "description": "Basic properties of the choice.",
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceProperties",
      "properties": {
        "displayName": {
          "description": "Required. The display text to show in the UI identifying this field.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of this label."
        },
        "badgeConfig": {
          "description": "The badge configuration for this choice. When set, the label that owns this choice is considered a \"badged label\".",
          "$ref": "GoogleAppsDriveLabelsV2BadgeConfig"
        },
        "insertBeforeChoice": {
          "description": "Input only. Insert or move this choice before the indicated choice. If empty, the choice is placed at the end of the list.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2SelectionLimits": {
      "description": "Limits for selection field type.",
      "id": "GoogleAppsDriveLabelsV2SelectionLimits",
      "properties": {
        "listLimits": {
          "description": "Limits for list-variant of a field type.",
          "$ref": "GoogleAppsDriveLabelsV2ListLimits"
        },
        "maxDisplayNameLength": {
          "description": "Maximum length for display name.",
          "format": "int32",
          "type": "integer"
        },
        "maxIdLength": {
          "type": "integer",
          "description": "Maximum ID length for a selection option.",
          "format": "int32"
        },
        "maxChoices": {
          "description": "Maximum number of choices.",
          "format": "int32",
          "type": "integer"
        },
        "maxDeletedChoices": {
          "description": "Maximum number of deleted choices.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsRequest": {
      "description": "Updates one or more label permissions.",
      "id": "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsRequest",
      "properties": {
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access. If this is set, the `use_admin_access` field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field."
        },
        "requests": {
          "description": "Required. The request message specifying the resources to update.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2UpdateLabelPermissionRequest"
          }
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceSchemaCapabilities": {
      "description": "The capabilities related to this choice when editing the choice.",
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceSchemaCapabilities",
      "properties": {
        "canDisable": {
          "description": "Whether the user can disable this choice.",
          "type": "boolean"
        },
        "canEnable": {
          "description": "Whether the user can enable this choice.",
          "type": "boolean"
        },
        "canDelete": {
          "type": "boolean",
          "description": "Whether the user can delete this choice."
        },
        "canUpdate": {
          "type": "boolean",
          "description": "Whether the user can update this choice."
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteFieldResponse": {
      "description": "Response following field delete.",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteFieldResponse",
      "properties": {},
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2UpdateLabelCopyModeRequest": {
      "description": "Request to update the `CopyMode` of the given label. Changes to this policy aren't revisioned, don't require publishing, and take effect immediately. \\",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2UpdateLabelCopyModeRequest",
      "properties": {
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        },
        "view": {
          "description": "When specified, only certain fields belonging to the indicated view will be returned.",
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ],
          "type": "string",
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ]
        },
        "copyMode": {
          "description": "Required. Indicates how the applied label and field values should be copied when a Drive item is copied.",
          "enumDescriptions": [
            "Copy mode unspecified.",
            "The applied label and field values aren't copied by default when the Drive item it's applied to is copied.",
            "The applied label and field values are always copied when the Drive item it's applied to is copied. Only admins can use this mode.",
            "The applied label and field values are copied if the label is appliable by the user making the copy."
          ],
          "type": "string",
          "enum": [
            "COPY_MODE_UNSPECIFIED",
            "DO_NOT_COPY",
            "ALWAYS_COPY",
            "COPY_APPLIABLE"
          ]
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2ListLabelLocksResponse": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2ListLabelLocksResponse",
      "properties": {
        "labelLocks": {
          "description": "Label locks.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2LabelLock"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token of the next page in the response."
        }
      },
      "description": "The response to a `ListLabelLocksRequest`."
    },
    "GoogleAppsDriveLabelsV2LabelProperties": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2LabelProperties",
      "properties": {
        "title": {
          "type": "string",
          "description": "Required. Title of the label."
        },
        "description": {
          "description": "The description of the label.",
          "type": "string"
        }
      },
      "description": "Basic properties of the label."
    },
    "GoogleAppsDriveLabelsV2ListLabelsResponse": {
      "description": "Response for listing labels.",
      "id": "GoogleAppsDriveLabelsV2ListLabelsResponse",
      "properties": {
        "labels": {
          "description": "Labels.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token of the next page in the response."
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "format": "google-fieldmask"
        },
        "fieldId": {
          "type": "string",
          "description": "Required. The selection field to update."
        },
        "id": {
          "type": "string",
          "description": "Required. The choice to update."
        },
        "properties": {
          "description": "Required. The choice properties to update.",
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceProperties"
        }
      },
      "description": "Request to update a choice property."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponse": {
      "description": "Response for label update.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponse",
      "properties": {
        "responses": {
          "description": "The reply of the updates. This maps 1:1 with the updates, although responses to some requests may be empty.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseResponse"
          }
        },
        "updatedLabel": {
          "description": "The label after updates were applied. This is only set if `include_label_in_response` is `true` and there were no errors.",
          "$ref": "GoogleAppsDriveLabelsV2Label"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestRequest": {
      "description": "A single kind of update to apply to a label.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestRequest",
      "properties": {
        "updateFieldType": {
          "description": "Update field type and/or type options.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldTypeRequest"
        },
        "createField": {
          "description": "Creates a field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateFieldRequest"
        },
        "deleteSelectionChoice": {
          "description": "Delete a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteSelectionChoiceRequest"
        },
        "updateField": {
          "description": "Updates basic properties of a field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldPropertiesRequest"
        },
        "createSelectionChoice": {
          "description": "Create a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateSelectionChoiceRequest"
        },
        "enableSelectionChoice": {
          "description": "Enable a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableSelectionChoiceRequest"
        },
        "disableSelectionChoice": {
          "description": "Disable a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableSelectionChoiceRequest"
        },
        "updateSelectionChoiceProperties": {
          "description": "Update a choice property within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest"
        },
        "enableField": {
          "description": "Enables the field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableFieldRequest"
        },
        "deleteField": {
          "description": "Deletes a field from the label.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteFieldRequest"
        },
        "disableField": {
          "description": "Disables the field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableFieldRequest"
        },
        "updateLabel": {
          "description": "Updates the label properties.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateLabelPropertiesRequest"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteFieldRequest": {
      "description": "Request to delete the field.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteFieldRequest",
      "properties": {
        "id": {
          "description": "Required. ID of the field to delete.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldPropertiesResponse": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldPropertiesResponse",
      "properties": {
        "priority": {
          "description": "The priority of the updated field. The priority may change from what was specified to assure contiguous priorities between fields (1-n).",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Response following update to field properties."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableSelectionChoiceResponse": {
      "description": "Response following choice enable.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableSelectionChoiceResponse",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptions": {
      "description": "Options for the selection field type.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptions",
      "properties": {
        "listOptions": {
          "description": "When specified, indicates this field supports a list of values. Once the field is published, this cannot be changed.",
          "$ref": "GoogleAppsDriveLabelsV2FieldListOptions"
        },
        "choices": {
          "description": "The options available for this selection field. The list order is consistent, and modified with `insert_before_choice`.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoice"
          }
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteSelectionChoiceResponse": {
      "description": "Response following choice delete.",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteSelectionChoiceResponse",
      "properties": {},
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2LockStatus": {
      "description": "Contains information about whether a label component should be considered locked.",
      "id": "GoogleAppsDriveLabelsV2LockStatus",
      "properties": {
        "locked": {
          "type": "boolean",
          "description": "Output only. Indicates whether this label component is the (direct) target of a label lock. A label component can be implicitly locked even if it's not the direct target of a label lock, in which case this field is set to false.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceAppliedCapabilities": {
      "description": "The capabilities related to this choice on applied metadata.",
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceAppliedCapabilities",
      "properties": {
        "canSearch": {
          "description": "Whether the user can use this choice in search queries.",
          "type": "boolean"
        },
        "canSelect": {
          "type": "boolean",
          "description": "Whether the user can select this choice on an item."
        },
        "canRead": {
          "description": "Whether the user can read related applied metadata on items.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldTypeRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldTypeRequest",
      "properties": {
        "integerOptions": {
          "description": "Update field to Integer.",
          "$ref": "GoogleAppsDriveLabelsV2FieldIntegerOptions"
        },
        "selectionOptions": {
          "description": "Update field to Selection.",
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptions"
        },
        "updateMask": {
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root of `type_options` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "format": "google-fieldmask"
        },
        "textOptions": {
          "description": "Update field to Text.",
          "$ref": "GoogleAppsDriveLabelsV2FieldTextOptions"
        },
        "userOptions": {
          "description": "Update field to User.",
          "$ref": "GoogleAppsDriveLabelsV2FieldUserOptions"
        },
        "dateOptions": {
          "description": "Update field to Date.",
          "$ref": "GoogleAppsDriveLabelsV2FieldDateOptions"
        },
        "id": {
          "description": "Required. The field to update.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request to change the type of a field."
    },
    "GoogleAppsDriveLabelsV2Lifecycle": {
      "description": "The lifecycle state of an object, such as label, field, or choice. For more information, see [Label lifecycle](https://developers.google.com/workspace/drive/labels/guides/label-lifecycle). The lifecycle enforces the following transitions: * `UNPUBLISHED_DRAFT` (starting state) * `UNPUBLISHED_DRAFT` -> `PUBLISHED` * `UNPUBLISHED_DRAFT` -> (Deleted) * `PUBLISHED` -> `DISABLED` * `DISABLED` -> `PUBLISHED` * `DISABLED` -> (Deleted) The published and disabled states have some distinct characteristics: * `Published`: Some kinds of changes might be made to an object in this state, in which case `has_unpublished_changes` will be true. Also, some kinds of changes aren't permitted. Generally, any change that would invalidate or cause new restrictions on existing metadata related to the label are rejected. * `Disabled`: When disabled, the configured `DisabledPolicy` takes effect.",
      "id": "GoogleAppsDriveLabelsV2Lifecycle",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Unknown State.",
            "The initial state of an object. Once published, the object can never return to this state. Once an object is published, certain kinds of changes are no longer permitted.",
            "The object has been published. The object might have unpublished draft changes as indicated by `has_unpublished_changes`.",
            "The object has been published and has since been disabled. The object might have unpublished draft changes as indicated by `has_unpublished_changes`.",
            "The object has been deleted."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNPUBLISHED_DRAFT",
            "PUBLISHED",
            "DISABLED",
            "DELETED"
          ],
          "description": "Output only. The state of the object associated with this lifecycle.",
          "readOnly": true
        },
        "hasUnpublishedChanges": {
          "description": "Output only. Whether the object associated with this lifecycle has unpublished changes.",
          "readOnly": true,
          "type": "boolean"
        },
        "disabledPolicy": {
          "description": "The policy that governs how to show a disabled label, field, or selection choice.",
          "$ref": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy"
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableSelectionChoiceRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableSelectionChoiceRequest",
      "properties": {
        "fieldId": {
          "description": "Required. The selection field in which a choice will be enabled.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Required. Choice to enable."
        }
      },
      "type": "object",
      "description": "Request to enable a choice."
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceDisplayHints": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceDisplayHints",
      "properties": {
        "hiddenInSearch": {
          "description": "This option should be hidden in the search menu when searching for Drive items.",
          "type": "boolean"
        },
        "darkBadgeColors": {
          "description": "The dark-mode color to use for the badge. Changed to Google Material colors based on the chosen `properties.badge_config.color`.",
          "$ref": "GoogleAppsDriveLabelsV2BadgeColors"
        },
        "badgePriority": {
          "type": "string",
          "description": "The priority of this badge. Used to compare and sort between multiple badges. A lower number means the badge should be shown first. When a badging configuration is not present, this will be 0. Otherwise, this will be set to `BadgeConfig.priority_override` or the default heuristic which prefers creation date of the label, and field and option priority.",
          "format": "int64"
        },
        "shownInApply": {
          "type": "boolean",
          "description": "This option should be shown in the apply menu when applying values to a Drive item."
        },
        "badgeColors": {
          "description": "The colors to use for the badge. Changed to Google Material colors based on the chosen `properties.badge_config.color`.",
          "$ref": "GoogleAppsDriveLabelsV2BadgeColors"
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether the option should be shown in the UI as disabled."
        }
      },
      "description": "UI display hints for rendering an option."
    },
    "GoogleAppsDriveLabelsV2FieldTextOptions": {
      "id": "GoogleAppsDriveLabelsV2FieldTextOptions",
      "properties": {
        "minLength": {
          "type": "integer",
          "description": "Output only. The minimum valid length of values for the text field.",
          "readOnly": true,
          "format": "int32"
        },
        "maxLength": {
          "type": "integer",
          "description": "Output only. The maximum valid length of values for the text field.",
          "readOnly": true,
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Options for the Text field type."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldTypeResponse": {
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldTypeResponse",
      "properties": {},
      "description": "Response following update to field type."
    },
    "GoogleAppsDriveLabelsV2LabelAppliedCapabilities": {
      "id": "GoogleAppsDriveLabelsV2LabelAppliedCapabilities",
      "properties": {
        "canRead": {
          "description": "Whether the user can read applied metadata related to this label.",
          "type": "boolean"
        },
        "canApply": {
          "type": "boolean",
          "description": "Whether the user can apply this label to items."
        },
        "canRemove": {
          "description": "Whether the user can remove this label from items.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "The capabilities a user has on this label's applied metadata."
    },
    "GoogleAppsDriveLabelsV2LongTextLimits": {
      "id": "GoogleAppsDriveLabelsV2LongTextLimits",
      "properties": {
        "minLength": {
          "description": "Minimum length allowed for a long text field type.",
          "format": "int32",
          "type": "integer"
        },
        "maxLength": {
          "type": "integer",
          "description": "Maximum length allowed for a long text field type.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Limits for long text field type."
    },
    "GoogleAppsDriveLabelsV2FieldIntegerOptions": {
      "id": "GoogleAppsDriveLabelsV2FieldIntegerOptions",
      "properties": {
        "minValue": {
          "type": "string",
          "description": "Output only. The minimum valid value for the integer field.",
          "readOnly": true,
          "format": "int64"
        },
        "maxValue": {
          "description": "Output only. The maximum valid value for the integer field.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Options for the Integer field type."
    },
    "GoogleAppsDriveLabelsV2PublishLabelRequest": {
      "id": "GoogleAppsDriveLabelsV2PublishLabelRequest",
      "properties": {
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        },
        "writeControl": {
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins.",
          "$ref": "GoogleAppsDriveLabelsV2WriteControl"
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used."
        }
      },
      "type": "object",
      "description": "Request to publish a label."
    }
  },
  "baseUrl": "https://drivelabels.googleapis.com/",
  "basePath": "",
  "resources": {
    "labels": {
      "resources": {
        "revisions": {
          "methods": {
            "updatePermissions": {
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v2/{+parent}/permissions",
              "httpMethod": "PATCH",
              "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/permissions",
              "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "id": "drivelabels.labels.revisions.updatePermissions",
              "parameters": {
                "parent": {
                  "pattern": "^labels/[^/]+/revisions/[^/]+$",
                  "description": "Required. The parent label resource name.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "useAdminAccess": {
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ]
            }
          },
          "resources": {
            "permissions": {
              "methods": {
                "batchUpdate": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsResponse"
                  },
                  "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/permissions:batchUpdate",
                  "path": "v2/{+parent}/permissions:batchUpdate",
                  "httpMethod": "POST",
                  "description": "Updates label permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent label resource name shared by all permissions being updated. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
                      "location": "path",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
                  "id": "drivelabels.labels.revisions.permissions.batchUpdate"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^labels/[^/]+/revisions/[^/]+/permissions/.*$",
                      "required": true,
                      "type": "string",
                      "description": "Required. Label permission resource name.",
                      "location": "path"
                    },
                    "useAdminAccess": {
                      "type": "boolean",
                      "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
[...]
