{
  "version": "v2",
  "title": "Drive Activity API",
  "basePath": "",
  "batchPath": "batch",
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "ownerDomain": "google.com",
  "id": "driveactivity:v2",
  "servicePath": "",
  "name": "driveactivity",
  "revision": "20260823",
  "rootUrl": "https://driveactivity.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version_module": true,
  "baseUrl": "https://driveactivity.googleapis.com/",
  "mtlsRootUrl": "https://driveactivity.mtls.googleapis.com/",
  "resources": {
    "activity": {
      "methods": {
        "query": {
          "response": {
            "$ref": "QueryDriveActivityResponse"
          },
          "id": "driveactivity.activity.query",
          "parameterOrder": [],
          "flatPath": "v2/activity:query",
          "description": "Query past activity in Google Drive.",
          "parameters": {},
          "path": "v2/activity:query",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive.activity",
            "https://www.googleapis.com/auth/drive.activity.readonly"
          ],
          "request": {
            "$ref": "QueryDriveActivityRequest"
          }
        }
      }
    }
  },
  "description": "Provides a historical view of activity in Google Drive.",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/workspace/drive/activity/",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "schemas": {
    "Administrator": {
      "description": "Empty message representing an administrator.",
      "properties": {},
      "type": "object",
      "id": "Administrator"
    },
    "Text": {
      "id": "Text",
      "properties": {
        "value": {
          "description": "Value of Text Field.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Wrapper for Text Field value."
    },
    "DriveItem": {
      "id": "DriveItem",
      "description": "A Drive item, such as a file or folder.",
      "type": "object",
      "properties": {
        "owner": {
          "description": "Information about the owner of this Drive item.",
          "$ref": "Owner"
        },
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the Drive item. See https://developers.google.com/workspace/drive/v3/web/mime-types."
        },
        "driveFolder": {
          "$ref": "DriveFolder",
          "description": "The Drive item is a folder. Includes information about the type of folder."
        },
        "driveFile": {
          "description": "The Drive item is a file.",
          "$ref": "DriveFile"
        },
        "title": {
          "description": "The title of the Drive item.",
          "type": "string"
        },
        "folder": {
          "description": "This field is deprecated; please use the `driveFolder` field instead.",
          "deprecated": true,
          "$ref": "Folder"
        },
        "name": {
          "description": "The target Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "file": {
          "description": "This field is deprecated; please use the `driveFile` field instead.",
          "deprecated": true,
          "$ref": "File"
        }
      }
    },
    "Move": {
      "properties": {
        "addedParents": {
          "description": "The added parent object(s).",
          "items": {
            "$ref": "TargetReference"
          },
          "type": "array"
        },
        "removedParents": {
          "type": "array",
          "items": {
            "$ref": "TargetReference"
          },
          "description": "The removed parent object(s)."
        }
      },
      "description": "An object was moved.",
      "type": "object",
      "id": "Move"
    },
    "AnonymousUser": {
      "description": "Empty message representing an anonymous user or indicating the authenticated user should be anonymized.",
      "id": "AnonymousUser",
      "properties": {},
      "type": "object"
    },
    "FieldValue": {
      "description": "Contains a value of a Field.",
      "type": "object",
      "id": "FieldValue",
      "properties": {
        "user": {
          "description": "User Field value.",
          "$ref": "SingleUser"
        },
        "userList": {
          "$ref": "UserList",
          "description": "User List Field value."
        },
        "text": {
          "$ref": "Text",
          "description": "Text Field value."
        },
        "selectionList": {
          "$ref": "SelectionList",
          "description": "Selection List Field value."
        },
        "selection": {
          "description": "Selection Field value.",
          "$ref": "Selection"
        },
        "textList": {
          "$ref": "TextList",
          "description": "Text List Field value."
        },
        "integer": {
          "$ref": "Integer",
          "description": "Integer Field value."
        },
        "date": {
          "description": "Date Field value.",
          "$ref": "Date"
        }
      }
    },
    "FieldValueChange": {
      "id": "FieldValueChange",
      "properties": {
        "oldValue": {
          "$ref": "FieldValue",
          "description": "The value that was previously set on the field. If not present, the field was newly set. At least one of {old_value|new_value} is always set."
        },
        "newValue": {
          "description": "The value that is now set on the field. If not present, the field was cleared. At least one of {old_value|new_value} is always set.",
          "$ref": "FieldValue"
        },
        "fieldId": {
          "description": "The ID of this field. Field IDs are unique within a Label.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The human-readable display name for this field."
        }
      },
      "description": "Change to a Field value.",
      "type": "object"
    },
    "Target": {
      "description": "Information about the target of activity. For more information on how activity history is shared with users, see [Activity history visibility](https://developers.google.com/workspace/drive/activity/v2#activityhistory).",
      "type": "object",
      "id": "Target",
      "properties": {
        "fileComment": {
          "description": "The target is a comment on a Drive file.",
          "$ref": "FileComment"
        },
        "drive": {
          "$ref": "Drive",
          "description": "The target is a shared drive."
        },
        "teamDrive": {
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true,
          "$ref": "TeamDrive"
        },
        "driveItem": {
          "description": "The target is a Drive item.",
          "$ref": "DriveItem"
        }
      }
    },
    "TimeRange": {
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The start of the time range."
        },
        "endTime": {
          "type": "string",
          "description": "The end of the time range.",
          "format": "google-datetime"
        }
      },
      "id": "TimeRange",
      "description": "Information about time ranges."
    },
    "Copy": {
      "id": "Copy",
      "type": "object",
      "description": "An object was created by copying an existing object.",
      "properties": {
        "originalObject": {
          "description": "The original object.",
          "$ref": "TargetReference"
        }
      }
    },
    "Assignment": {
      "description": "A comment with an assignment.",
      "id": "Assignment",
      "type": "object",
      "properties": {
        "assignedUser": {
          "$ref": "User",
          "description": "The user to whom the comment was assigned."
        },
        "subtype": {
          "enumDescriptions": [
            "Subtype not available.",
            "An assignment was added.",
            "An assignment was deleted.",
            "An assignment reply was added.",
            "An assignment reply was deleted.",
            "An assignment was resolved.",
            "A resolved assignment was reopened.",
            "An assignment was reassigned."
          ],
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED",
            "REASSIGNED"
          ],
          "description": "The sub-type of this event.",
          "type": "string"
        }
      }
    },
    "DriveFile": {
      "id": "DriveFile",
      "properties": {},
      "description": "A Drive item which is a file.",
      "type": "object"
    },
    "NoConsolidation": {
      "id": "NoConsolidation",
      "properties": {},
      "type": "object",
      "description": "A strategy that does no consolidation of individual activities."
    },
    "Group": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email address of the group."
        },
        "title": {
          "description": "The title of the group.",
          "type": "string"
        }
      },
      "id": "Group",
      "description": "Information about a group."
    },
    "DriveActivity": {
      "properties": {
        "targets": {
          "type": "array",
          "items": {
            "$ref": "Target"
          },
          "description": "All Google Drive objects this activity is about (e.g. file, folder, drive). This represents the state of the target immediately after the actions occurred."
        },
        "primaryActionDetail": {
          "description": "Key information about the primary action for this activity. This is either representative, or the most important, of all actions in the activity, according to the ConsolidationStrategy in the request.",
          "$ref": "ActionDetail"
        },
        "actors": {
          "description": "All actor(s) responsible for the activity.",
          "items": {
            "$ref": "Actor"
          },
          "type": "array"
        },
        "actions": {
          "items": {
            "$ref": "Action"
          },
          "type": "array",
          "description": "Details on all actions in this activity."
        },
        "timestamp": {
          "format": "google-datetime",
          "description": "The activity occurred at this specific time.",
          "type": "string"
        },
        "timeRange": {
          "$ref": "TimeRange",
          "description": "The activity occurred over this time range."
        }
      },
      "type": "object",
      "id": "DriveActivity",
      "description": "A single Drive activity comprising one or more Actions by one or more Actors on one or more Targets. Some Action groupings occur spontaneously, such as moving an item into a shared folder triggering a permission change. Other groupings of related Actions, such as multiple Actors editing one item or moving multiple files into a new folder, are controlled by the selection of a ConsolidationStrategy in the QueryDriveActivityRequest."
    },
    "File": {
      "id": "File",
      "properties": {},
      "description": "This item is deprecated; please see `DriveFile` instead.",
      "type": "object",
      "deprecated": true
    },
    "TextList": {
      "description": "Wrapper for Text List Field value.",
      "properties": {
        "values": {
          "items": {
            "$ref": "Text"
          },
          "description": "Text values.",
          "type": "array"
        }
      },
      "id": "TextList",
      "type": "object"
    },
    "QueryDriveActivityResponse": {
      "id": "QueryDriveActivityResponse",
      "type": "object",
      "description": "Response message for querying Drive activity.",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "activities": {
          "items": {
            "$ref": "DriveActivity"
          },
          "type": "array",
          "description": "List of activity requested."
        }
      }
    },
    "TeamDrive": {
      "description": "This item is deprecated; please see `Drive` instead.",
      "id": "TeamDrive",
      "type": "object",
      "properties": {
        "title": {
          "description": "This field is deprecated; please see `Drive.title` instead.",
          "type": "string"
        },
        "name": {
          "description": "This field is deprecated; please see `Drive.name` instead.",
          "type": "string"
        },
        "root": {
          "description": "This field is deprecated; please see `Drive.root` instead.",
          "$ref": "DriveItem"
        }
      },
      "deprecated": true
    },
    "ActionDetail": {
      "properties": {
        "reference": {
          "description": "An object was referenced in an application outside of Drive/Docs.",
          "$ref": "ApplicationReference"
        },
        "appliedLabelChange": {
          "description": "Label was changed.",
          "$ref": "AppliedLabelChange"
        },
        "dlpChange": {
          "description": "A change happened in data leak prevention status.",
          "$ref": "DataLeakPreventionChange"
        },
        "rename": {
          "$ref": "Rename",
          "description": "An object was renamed."
        },
        "edit": {
          "$ref": "Edit",
          "description": "An object was edited."
        },
        "comment": {
          "$ref": "Comment",
          "description": "A change about comments was made."
        },
        "delete": {
          "description": "An object was deleted.",
          "$ref": "Delete"
        },
        "move": {
          "description": "An object was moved.",
          "$ref": "Move"
        },
        "settingsChange": {
          "$ref": "SettingsChange",
          "description": "Settings were changed."
        },
        "restore": {
          "$ref": "Restore",
          "description": "A deleted object was restored."
        },
        "permissionChange": {
          "description": "The permission on an object was changed.",
          "$ref": "PermissionChange"
        },
        "create": {
          "$ref": "Create",
          "description": "An object was created."
        }
      },
      "id": "ActionDetail",
      "type": "object",
      "description": "Data describing the type and additional information of an action."
    },
    "ApplicationReference": {
      "id": "ApplicationReference",
      "description": "Activity in applications other than Drive.",
      "properties": {
        "type": {
          "enum": [
            "UNSPECIFIED_REFERENCE_TYPE",
            "LINK",
            "DISCUSS"
          ],
          "enumDescriptions": [
            "The type is not available.",
            "The links of one or more Drive items were posted.",
            "Comments were made regarding a Drive item."
          ],
          "description": "The reference type corresponding to this event.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TeamDriveReference": {
      "properties": {
        "name": {
          "type": "string",
          "description": "This field is deprecated; please see `DriveReference.name` instead."
        },
        "title": {
          "type": "string",
          "description": "This field is deprecated; please see `DriveReference.title` instead."
        }
      },
      "description": "This item is deprecated; please see `DriveReference` instead.",
      "id": "TeamDriveReference",
      "deprecated": true,
      "type": "object"
    },
    "Drive": {
      "id": "Drive",
      "properties": {
        "root": {
          "$ref": "DriveItem",
          "description": "The root of this shared drive."
        },
        "title": {
          "type": "string",
          "description": "The title of the shared drive."
        },
        "name": {
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name.",
          "type": "string"
        }
      },
      "description": "Information about a shared drive.",
      "type": "object"
    },
    "Upload": {
      "id": "Upload",
      "properties": {},
      "description": "An object was uploaded into Drive.",
      "type": "object"
    },
    "Integer": {
      "description": "Wrapper for Integer Field value.",
      "type": "object",
      "id": "Integer",
      "properties": {
        "value": {
          "format": "int64",
          "type": "string",
          "description": "Integer value."
        }
      }
    },
    "Action": {
      "properties": {
        "actor": {
          "$ref": "Actor",
          "description": "The actor responsible for this action (or empty if all actors are responsible)."
        },
        "detail": {
          "description": "The type and detailed information about the action.",
          "$ref": "ActionDetail"
        },
        "target": {
          "description": "The target this action affects (or empty if affecting all targets). This represents the state of the target immediately after this action occurred.",
          "$ref": "Target"
        },
        "timestamp": {
          "description": "The action occurred at this specific time.",
          "format": "google-datetime",
          "type": "string"
        },
        "timeRange": {
          "$ref": "TimeRange",
          "description": "The action occurred over this time range."
        }
      },
      "description": "Information about the action.",
      "type": "object",
      "id": "Action"
    },
    "Suggestion": {
      "properties": {
        "subtype": {
          "description": "The sub-type of this event.",
          "type": "string",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "ACCEPTED",
            "REJECTED",
            "ACCEPT_DELETED",
            "REJECT_DELETED"
          ],
          "enumDescriptions": [
            "Subtype not available.",
            "A suggestion was added.",
            "A suggestion was deleted.",
            "A suggestion reply was added.",
            "A suggestion reply was deleted.",
            "A suggestion was accepted.",
            "A suggestion was rejected.",
            "An accepted suggestion was deleted.",
            "A rejected suggestion was deleted."
          ]
        }
      },
      "description": "A suggestion.",
      "type": "object",
      "id": "Suggestion"
    },
    "AppliedLabelChange": {
      "properties": {
        "changes": {
          "description": "Changes that were made to the Label on the Target.",
          "type": "array",
          "items": {
            "$ref": "AppliedLabelChangeDetail"
          }
        }
      },
      "type": "object",
      "id": "AppliedLabelChange",
      "description": "Label changes that were made on the Target."
    },
    "AppliedLabelChangeDetail": {
      "type": "object",
      "properties": {
        "fieldChanges": {
          "items": {
            "$ref": "FieldValueChange"
          },
          "description": "Field Changes. Only present if `types` contains `LABEL_FIELD_VALUE_CHANGED`.",
          "type": "array"
        },
        "label": {
          "type": "string",
          "description": "The Label name representing the Label that changed. This name always contains the revision of the Label that was used when this Action occurred. The format is `labels/id@revision`."
        },
        "types": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The type of change to this Label is not available.",
              "The identified Label was added to the Target.",
              "The identified Label was removed from the Target.",
              "Field values were changed on the Target.",
              "The Label was applied as a side-effect of Drive item creation."
            ],
            "enum": [
              "TYPE_UNSPECIFIED",
              "LABEL_ADDED",
              "LABEL_REMOVED",
              "LABEL_FIELD_VALUE_CHANGED",
              "LABEL_APPLIED_BY_ITEM_CREATE"
            ]
          },
          "description": "The types of changes made to the Label on the Target."
        },
        "title": {
          "description": "The human-readable title of the label that changed.",
          "type": "string"
        }
      },
      "id": "AppliedLabelChangeDetail",
      "description": "A change made to a Label on the Target."
    },
    "SettingsChange": {
      "description": "Information about settings changes.",
      "type": "object",
      "properties": {
        "restrictionChanges": {
          "type": "array",
          "items": {
            "$ref": "RestrictionChange"
          },
          "description": "The set of changes made to restrictions."
        }
      },
      "id": "SettingsChange"
    },
    "Legacy": {
      "properties": {},
      "description": "A strategy that consolidates activities using the grouping rules from the legacy V1 Activity API. Similar actions occurring within a window of time can be grouped across multiple targets (such as moving a set of files at once) or multiple actors (such as several users editing the same item). Grouping rules for this strategy are specific to each type of action.",
      "type": "object",
      "id": "Legacy"
    },
    "Comment": {
      "id": "Comment",
      "description": "A change about comments on an object.",
      "type": "object",
      "properties": {
        "post": {
          "description": "A change on a regular posted comment.",
          "$ref": "Post"
        },
        "assignment": {
          "description": "A change on an assignment.",
          "$ref": "Assignment"
        },
        "suggestion": {
          "description": "A change on a suggestion.",
          "$ref": "Suggestion"
        },
        "mentionedUsers": {
          "description": "Users who are mentioned in this comment.",
          "items": {
            "$ref": "User"
          },
          "type": "array"
        }
      }
    },
    "Permission": {
      "type": "object",
      "properties": {
        "domain": {
          "$ref": "Domain",
          "description": "The domain to whom this permission applies."
        },
        "anyone": {
          "description": "If set, this permission applies to anyone, even logged out users.",
          "$ref": "Anyone"
        },
        "role": {
          "type": "string",
          "enumDescriptions": [
            "The role is not available.",
            "A role granting full access.",
            "A role granting the ability to manage people and settings.",
            "A role granting the ability to contribute and manage content.",
            "A role granting the ability to contribute content. This role is sometimes also known as \"writer\".",
            "A role granting the ability to view and comment on content.",
            "A role granting the ability to view content. This role is sometimes also known as \"reader\".",
            "A role granting the ability to view content only after it has been published to the web. This role is sometimes also known as \"published reader\". See https://support.google.com/sites/answer/6372880 for more information."
          ],
          "description": "Indicates the [Google Drive permissions role](https://developers.google.com/workspace/drive/web/manage-sharing#roles). The role determines a user's ability to read, write, and comment on items.",
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "ORGANIZER",
            "FILE_ORGANIZER",
            "EDITOR",
            "COMMENTER",
            "VIEWER",
            "PUBLISHED_VIEWER"
          ]
        },
        "user": {
          "$ref": "User",
          "description": "The user to whom this permission applies."
        },
        "allowDiscovery": {
          "type": "boolean",
          "description": "If true, the item can be discovered (e.g. in the user's \"Shared with me\" collection) without needing a link to the item."
        },
        "group": {
          "$ref": "Group",
          "description": "The group to whom this permission applies."
        }
      },
      "id": "Permission",
      "description": "The permission setting of an object."
    },
    "UserList": {
      "type": "object",
      "description": "Wrapper for UserList Field value.",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "SingleUser"
          },
          "description": "User values."
        }
      },
      "id": "UserList"
    },
    "Selection": {
      "properties": {
        "displayName": {
          "description": "Selection value as human-readable display string.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Selection value as Field Choice ID."
        }
      },
      "description": "Wrapper for Selection Field value as combined value/display_name pair for selected choice.",
      "type": "object",
      "id": "Selection"
    },
    "Impersonation": {
      "type": "object",
      "id": "Impersonation",
      "description": "Information about an impersonation, where an admin acts on behalf of an end user. Information about the acting admin is not currently available.",
      "properties": {
        "impersonatedUser": {
          "$ref": "User",
          "description": "The impersonated user."
        }
      }
    },
    "Folder": {
      "description": "This item is deprecated; please see `DriveFolder` instead.",
      "type": "object",
      "deprecated": true,
      "id": "Folder",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "TEAM_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ],
          "description": "This field is deprecated; please see `DriveFolder.type` instead.",
          "type": "string",
          "enumDescriptions": [
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead."
          ]
        }
      }
    },
    "Delete": {
      "id": "Delete",
      "description": "An object was deleted.",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TRASH",
            "PERMANENT_DELETE"
          ],
          "enumDescriptions": [
            "Deletion type is not available.",
            "An object was put into the trash.",
            "An object was deleted permanently."
          ],
          "description": "The type of delete action taken.",
          "type": "string"
        }
      }
    },
    "Owner": {
      "id": "Owner",
      "type": "object",
      "description": "Information about the owner of a Drive item.",
      "properties": {
        "user": {
          "description": "The user that owns the Drive item.",
          "$ref": "User"
        },
        "domain": {
          "description": "The domain of the Drive item owner.",
          "$ref": "Domain"
        },
        "drive": {
          "description": "The drive that owns the item.",
          "$ref": "DriveReference"
        },
        "teamDrive": {
          "description": "This field is deprecated; please use the `drive` field instead.",
          "$ref": "TeamDriveReference",
          "deprecated": true
        }
      }
    },
    "Date": {
      "description": "Wrapper for Date Field value.",
      "id": "Date",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "format": "google-datetime",
          "description": "Date value."
        }
      }
    },
    "Domain": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the domain, e.g. `google.com`.",
          "type": "string"
        },
        "legacyId": {
          "description": "An opaque string used to identify this domain.",
          "type": "string"
        }
      },
      "id": "Domain",
      "description": "Information about a domain."
    },
    "Edit": {
      "description": "An empty message indicating an object was edited.",
      "type": "object",
      "id": "Edit",
      "properties": {}
    },
    "TargetReference": {
      "description": "A lightweight reference to the target of activity.",
      "id": "TargetReference",
      "type": "object",
      "properties": {
        "drive": {
          "description": "The target is a shared drive.",
          "$ref": "DriveReference"
        },
        "driveItem": {
          "description": "The target is a Drive item.",
          "$ref": "DriveItemReference"
        },
        "teamDrive": {
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true,
          "$ref": "TeamDriveReference"
        }
      }
    },
    "ConsolidationStrategy": {
      "description": "How the individual activities are consolidated. If a set of activities is related they can be consolidated into one combined activity, such as one actor performing the same action on multiple targets, or multiple actors performing the same action on a single target. The strategy defines the rules for which activities are related.",
      "id": "ConsolidationStrategy",
      "properties": {
        "none": {
          "description": "The individual activities are not consolidated.",
          "$ref": "NoConsolidation"
        },
        "legacy": {
          "$ref": "Legacy",
          "description": "The individual activities are consolidated using the legacy strategy."
        }
      },
      "type": "object"
    },
    "KnownUser": {
      "id": "KnownUser",
      "description": "A known user.",
      "properties": {
        "personName": {
          "type": "string",
          "description": "The identifier for this user that can be used with the People API to get more information. The format is `people/ACCOUNT_ID`. See https://developers.google.com/people/."
        },
        "isCurrentUser": {
          "type": "boolean",
          "description": "True if this is the user making the request."
        }
      },
      "type": "object"
    },
    "DriveReference": {
      "id": "DriveReference",
      "description": "A lightweight reference to a shared drive.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name.",
          "type": "string"
        },
        "title": {
          "description": "The title of the shared drive.",
          "type": "string"
        }
      }
    },
    "DataLeakPreventionChange": {
      "id": "DataLeakPreventionChange",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "An update to the DLP state that is neither FLAGGED or CLEARED.",
            "Document has been flagged as containing sensitive content.",
            "Document is no longer flagged as containing sensitive content."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "FLAGGED",
            "CLEARED"
          ],
          "description": "The type of Data Leak Prevention (DLP) change."
        }
      },
      "type": "object",
      "description": "A change in the object's data leak prevention status."
    },
    "Anyone": {
      "id": "Anyone",
      "properties": {},
      "type": "object",
      "description": "Represents any user (including a logged out user)."
    },
    "RestrictionChange": {
      "id": "RestrictionChange",
      "properties": {
        "newRestriction": {
          "type": "string",
          "enumDescriptions": [
            "The type of restriction is not available.",
            "The feature is available without restriction.",
            "The use of this feature is fully restricted."
          ],
          "description": "The restriction in place after the change.",
          "enum": [
            "RESTRICTION_UNSPECIFIED",
            "UNRESTRICTED",
            "FULLY_RESTRICTED"
          ]
        },
        "feature": {
          "enumDescriptions": [
            "The feature which changed restriction settings was not available.",
            "When restricted, this prevents items from being shared outside the domain.",
            "When restricted, this prevents direct sharing of individual items.",
            "Deprecated: Use READERS_CAN_DOWNLOAD instead.",
            "When restricted, this prevents use of Drive File Stream.",
            "When restricted, this limits sharing of folders to managers only.",
            "When restricted, this prevents actions like copy, download, and print for readers. Replaces ITEM_DUPLICATION.",
            "When restricted, this prevents actions like copy, download, and print for writers."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enum": [
            "FEATURE_UNSPECIFIED",
            "SHARING_OUTSIDE_DOMAIN",
            "DIRECT_SHARING",
            "ITEM_DUPLICATION",
            "DRIVE_FILE_STREAM",
            "FILE_ORGANIZER_CAN_SHARE_FOLDERS",
            "READERS_CAN_DOWNLOAD",
            "WRITERS_CAN_DOWNLOAD"
          ],
          "description": "The feature which had a change in restriction policy."
        }
      },
      "type": "object",
      "description": "Information about restriction policy changes to a feature."
    },
    "FileComment": {
      "type": "object",
      "description": "A comment on a file.",
      "properties": {
        "legacyDiscussionId": {
          "type": "string",
          "description": "The discussion thread to which the comment was added. This identifier is an opaque string compatible with the Drive API and references the first comment in a discussion; see https://developers.google.com/workspace/drive/v3/reference/comments/get"
        },
        "legacyCommentId": {
          "type": "string",
          "description": "The comment in the discussion thread. This identifier is an opaque string compatible with the Drive API; see https://developers.google.com/workspace/drive/v3/reference/comments/get"
        },
        "parent": {
          "description": "The Drive item containing this comment.",
          "$ref": "DriveItem"
        },
        "linkToDiscussion": {
          "type": "string",
          "description": "The link to the discussion thread containing this comment, for example, `https://docs.google.com/DOCUMENT_ID/edit?disco=THREAD_ID`."
        }
      },
      "id": "FileComment"
    },
    "Post": {
      "description": "A regular posted comment.",
      "id": "Post",
      "type": "object",
      "properties": {
        "subtype": {
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED"
          ],
          "description": "The sub-type of this event.",
          "type": "string",
          "enumDescriptions": [
            "Subtype not available.",
            "A post was added.",
            "A post was deleted.",
            "A reply was added.",
            "A reply was deleted.",
            "A posted comment was resolved.",
            "A posted comment was reopened."
          ]
        }
      }
    },
    "New": {
      "properties": {},
      "description": "An object was created from scratch.",
      "type": "object",
      "id": "New"
    },
    "SystemEvent": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of the system event that may triggered activity.",
          "enumDescriptions": [
            "The event type is unspecified.",
            "The event is a consequence of a user account being deleted.",
            "The event is due to the system automatically purging trash."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER_DELETION",
            "TRASH_AUTO_PURGE"
          ]
        }
      },
      "id": "SystemEvent",
      "description": "Event triggered by system operations instead of end users."
    },
    "User": {
      "type": "object",
      "description": "Information about an end user.",
      "properties": {
        "deletedUser": {
          "description": "A user whose account has since been deleted.",
          "$ref": "DeletedUser"
        },
        "unknownUser": {
          "$ref": "UnknownUser",
          "description": "A user about whom nothing is currently known."
        },
        "knownUser": {
          "$ref": "KnownUser",
          "description": "A known user."
        }
      },
      "id": "User"
    },
    "SingleUser": {
      "id": "SingleUser",
      "type": "object",
      "description": "Wrapper for User Field value.",
      "properties": {
        "value": {
          "type": "string",
          "description": "User value as email."
        }
      }
    },
    "QueryDriveActivityRequest": {
      "id": "QueryDriveActivityRequest",
      "properties": {
        "pageToken": {
          "type": "string",
          "description": "The token identifies which page of results to return. Set this to the next_page_token value returned from a previous query to obtain the following page of results. If not set, the first page of results is returned."
        },
        "itemName": {
          "description": "Return activities for this Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "ancestorName": {
          "description": "Return activities for this Drive folder, plus all children and descendants. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "description": "The minimum number of activities desired in the response; the server attempts to return at least this quantity. The server may also return fewer activities if it has a partial response ready before the request times out. If not set, a default value is used.",
          "type": "integer"
        },
        "consolidationStrategy": {
          "$ref": "ConsolidationStrategy",
          "description": "Details on how to consolidate related actions that make up the activity. If not set, then related actions aren't consolidated."
        },
        "filter": {
          "description": "The filtering for items returned from this query request. The format of the filter string is a sequence of expressions, joined by an optional \"AND\", where each expression is of the form \"field operator value\". Supported fields: - `time`: Uses numerical operators on date values either in terms of milliseconds since Jan 1, 1970 or in RFC 3339 format. Examples: - `time > 1452409200000 AND time <= 1492812924310` - `time >= \"2016-01-10T01:02:03-05:00\"` - `detail.action_detail_case`: Uses the \"has\" operator (:) and either a singular value or a list of allowed action types enclosed in parentheses, separated by a space. To exclude a result from the response, prepend a hyphen (`-`) to the beginning of the filter string. Examples: - `detail.action_detail_case:RENAME` - `detail.action_detail_case:(CREATE RESTORE)` - `-detail.action_detail_case:MOVE` ",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The request message for querying Drive activity."
    },
    "Restore": {
      "type": "object",
      "description": "A deleted object was restored.",
      "properties": {
        "type": {
          "description": "The type of restore action taken.",
          "type": "string",
          "enumDescriptions": [
            "The type is not available.",
            "An object was restored from the trash."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "UNTRASH"
          ]
        }
      },
      "id": "Restore"
    },
    "DriveFolder": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of Drive folder.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "SHARED_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ],
          "enumDescriptions": [
            "The folder type is unknown.",
            "The folder is the root of a user's MyDrive.",
            "The folder is the root of a shared drive.",
            "The folder is a standard, non-root, folder."
          ]
        }
      },
      "description": "A Drive item which is a folder.",
      "id": "DriveFolder"
    },
    "Rename": {
      "description": "An object was renamed.",
      "properties": {
        "oldTitle": {
          "type": "string",
          "description": "The previous title of the drive object."
        },
        "newTitle": {
          "description": "The new title of the drive object.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Rename"
    },
    "Actor": {
      "id": "Actor",
      "properties": {
        "anonymous": {
          "description": "An anonymous user.",
          "$ref": "AnonymousUser"
        },
        "system": {
          "$ref": "SystemEvent",
          "description": "A non-user actor (i.e. system triggered)."
        },
        "impersonation": {
          "$ref": "Impersonation",
          "description": "An account acting on behalf of another."
        },
        "administrator": {
          "$ref": "Administrator",
          "description": "An administrator."
        },
        "user": {
          "description": "An end user.",
          "$ref": "User"
        }
      },
      "type": "object",
      "description": "The actor of a Drive activity."
    },
    "UnknownUser": {
      "description": "A user about whom nothing is currently known.",
      "properties": {},
      "type": "object",
      "id": "UnknownUser"
    },
    "SelectionList": {
      "description": "Wrapper for SelectionList Field value.",
      "id": "SelectionList",
      "type": "object",
      "properties": {
        "values": {
          "items": {
            "$ref": "Selection"
          },
          "type": "array",
          "description": "Selection values."
        }
      }
    },
    "Create": {
      "description": "An object was created.",
      "type": "object",
      "properties": {
        "new": {
          "description": "If present, indicates the object was newly created (e.g. as a blank document), not derived from a Drive object or external object.",
          "$ref": "New"
        },
        "copy": {
          "$ref": "Copy",
          "description": "If present, indicates the object was created by copying an existing Drive object."
        },
        "upload": {
          "$ref": "Upload",
          "description": "If present, indicates the object originated externally and was uploaded to Drive."
        }
      },
      "id": "Create"
    },
    "DeletedUser": {
      "type": "object",
      "id": "DeletedUser",
      "properties": {},
      "description": "A user whose account has since been deleted."
    },
    "DriveItemReference": {
      "id": "DriveItemReference",
      "type": "object",
      "properties": {
        "driveFolder": {
          "$ref": "DriveFolder",
          "description": "The Drive item is a folder. Includes information about the type of folder."
        },
        "name": {
          "type": "string",
          "description": "The target Drive item. The format is `items/ITEM_ID`."
        },
        "file": {
          "$ref": "File",
          "deprecated": true,
          "description": "This field is deprecated; please use the `driveFile` field instead."
        },
        "driveFile": {
          "description": "The Drive item is a file.",
          "$ref": "DriveFile"
        },
        "folder": {
          "description": "This field is deprecated; please use the `driveFolder` field instead.",
          "$ref": "Folder",
          "deprecated": true
        },
        "title": {
          "description": "The title of the Drive item.",
          "type": "string"
        }
      },
      "description": "A lightweight reference to a Drive item, such as a file or folder."
    },
    "PermissionChange": {
      "properties": {
        "addedPermissions": {
          "type": "array",
          "items": {
            "$ref": "Permission"
          },
          "description": "The set of permissions added by this change."
        },
        "removedPermissions": {
          "description": "The set of permissions removed by this change.",
          "items": {
            "$ref": "Permission"
          },
          "type": "array"
        }
      },
      "id": "PermissionChange",
      "description": "A change of the permission setting on an item.",
      "type": "object"
    }
  },
  "canonicalName": "Drive Activity",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.activity.readonly": {
          "description": "View the activity record of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.activity": {
          "description": "View and add to the activity record of files in your Google Drive"
        }
      }
    }
  }
}