{
  "version": "v2beta",
  "title": "Drive Labels API",
  "id": "drivelabels:v2beta",
  "protocol": "rest",
  "canonicalName": "Drive Labels",
  "basePath": "",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.admin.labels.readonly": {
          "description": "See all Google Drive labels and label-related admin policies in your organization"
        },
        "https://www.googleapis.com/auth/drive.labels.readonly": {
          "description": "See your Google Drive labels"
        },
        "https://www.googleapis.com/auth/drive.labels": {
          "description": "See, edit, create, and delete your Google Drive labels"
        },
        "https://www.googleapis.com/auth/drive.admin.labels": {
          "description": "See, edit, create, and delete all Google Drive labels in your organization, and see your organization's label-related admin policies"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://drivelabels.googleapis.com/",
  "mtlsRootUrl": "https://drivelabels.mtls.googleapis.com/",
  "resources": {
    "limits": {
      "methods": {
        "getLabel": {
          "id": "drivelabels.limits.getLabel",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelLimits"
          },
          "httpMethod": "GET",
          "flatPath": "v2beta/limits/label",
          "parameters": {
            "name": {
              "description": "Required. Label revision resource name must be: \"limits/label\".",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "description": "Get the constraints on the structure of a label; such as, the maximum number of fields allowed and maximum length of the label title.",
          "path": "v2beta/limits/label"
        }
      }
    },
    "labels": {
      "methods": {
        "publish": {
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaPublishLabelRequest"
          },
          "id": "drivelabels.labels.publish",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "httpMethod": "POST",
          "flatPath": "v2beta/labels/{labelsId}:publish",
          "parameters": {
            "name": {
              "description": "Required. Label resource name.",
              "pattern": "^labels/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "path": "v2beta/{+name}:publish",
          "description": "Publish all draft changes to the label. Once published, the label may not return to its draft state. For more information, see [Create and publish a label](https://developers.google.com/workspace/drive/labels/guides/create-label). Publishing a label will result in a new published revision. All previous draft revisions will be deleted. Previous published revisions will be kept but are subject to automated deletion as needed. For more information, see [Label lifecycle](https://developers.google.com/workspace/drive/labels/guides/label-lifecycle). Once published, some changes are no longer permitted. Generally, any change that would invalidate or cause new restrictions on existing metadata related to the label will be rejected. For example, the following changes to a label will be rejected after the label is published: * The label cannot be directly deleted. It must be disabled first, then deleted. * `Field.FieldType` cannot be changed. * Changes to field validation options cannot reject something that was previously accepted. * Reducing the maximum entries."
        },
        "enable": {
          "parameterOrder": [
            "name"
          ],
          "id": "drivelabels.labels.enable",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaEnableLabelRequest"
          },
          "description": "Enable a disabled label and restore it to its published state. For more information, see [Disable, enable, and delete a label](https://developers.google.com/workspace/drive/labels/guides/disable-delete-label). This will result in a new published revision based on the current disabled published revision. If there's an existing disabled draft revision, a new revision will be created based on that draft and will be enabled.",
          "path": "v2beta/{+name}:enable",
          "flatPath": "v2beta/labels/{labelsId}:enable",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^labels/[^/]+$",
              "description": "Required. Label resource name."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          }
        },
        "updatePermissions": {
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
          },
          "id": "drivelabels.labels.updatePermissions",
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
          },
          "httpMethod": "PATCH",
          "flatPath": "v2beta/labels/{labelsId}/permissions",
          "parameters": {
            "parent": {
              "description": "Required. The parent label resource name.",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^labels/[^/]+$"
            },
            "useAdminAccess": {
              "location": "query",
              "type": "boolean",
              "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
          "path": "v2beta/{+parent}/permissions"
        },
        "list": {
          "parameterOrder": [],
          "id": "drivelabels.labels.list",
          "flatPath": "v2beta/labels",
          "parameters": {
            "minimumRole": {
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Unknown role.",
                "A reader can read the label and associated metadata applied to Drive items.",
                "An applier can write associated metadata on Drive items in which they also have write access to. Implies `READER`.",
                "An organizer can pin this label in shared drives they manage and add new appliers to the label.",
                "Editors can make any update including deleting the label which also deletes the associated Drive item metadata. Implies `APPLIER`."
              ],
              "enum": [
                "LABEL_ROLE_UNSPECIFIED",
                "READER",
                "APPLIER",
                "ORGANIZER",
                "EDITOR"
              ],
              "description": "Specifies the level of access the user must have on the returned labels. The minimum role a user must have on a label. Defaults to `READER`."
            },
            "publishedOnly": {
              "description": "Whether to include only published labels in the results. * When `true`, only the current published label revisions are returned. Disabled labels are included. Returned label resource names reference the published revision (`labels/{id}/{revision_id}`). * When `false`, the current label revisions are returned, which might not be published. Returned label resource names don't reference a specific revision (`labels/{id}`).",
              "type": "boolean",
              "location": "query"
            },
            "useAdminAccess": {
              "description": "Set to `true` in order to use the user's admin credentials. This will return all labels within the customer.",
              "type": "boolean",
              "location": "query"
            },
            "languageCode": {
              "location": "query",
              "type": "string",
              "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language are used."
            },
            "pageSize": {
              "location": "query",
              "description": "Maximum number of labels to return per page. Default: 50. Max: 200.",
              "format": "int32",
              "type": "integer"
            },
            "view": {
              "description": "When specified, only certain fields belonging to the indicated view are returned.",
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
                "All possible fields."
              ],
              "enum": [
                "LABEL_VIEW_BASIC",
                "LABEL_VIEW_FULL"
              ]
            },
            "customer": {
              "location": "query",
              "description": "The customer to scope this list request to. For example: `customers/abcd1234`. If unset, will return all labels within the current customer.",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "The token of the page to return.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "description": "List labels. For more information, see [Search for labels](https://developers.google.com/workspace/drive/labels/guides/search-label).",
          "path": "v2beta/labels",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaListLabelsResponse"
          },
          "httpMethod": "GET"
        },
        "get": {
          "id": "drivelabels.labels.get",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "path": "v2beta/{+name}",
          "description": "Get a label by its resource name. For more information, see [Search for labels](https://developers.google.com/workspace/drive/labels/guides/search-label). Resource name may be any of: * `labels/{id}` - See `labels/{id}@latest` * `labels/{id}@latest` - Gets the latest revision of the label. * `labels/{id}@published` - Gets the current published revision of the label. * `labels/{id}@{revision_id}` - Gets the label at the specified revision ID.",
          "flatPath": "v2beta/labels/{labelsId}",
          "parameters": {
            "languageCode": {
              "location": "query",
              "type": "string",
              "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language are used."
            },
            "name": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^labels/[^/]+$",
              "description": "Required. Label resource name. May be any of: * `labels/{id}` (equivalent to labels/{id}@latest) * `labels/{id}@latest` * `labels/{id}@published` * `labels/{id}@{revision_id}`"
            },
            "useAdminAccess": {
              "description": "Set to `true` in order to use the user's admin credentials. The server verifies that the user is an admin for the label before allowing access.",
              "type": "boolean",
              "location": "query"
            },
            "view": {
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
                "All possible fields."
              ],
              "enum": [
                "LABEL_VIEW_BASIC",
                "LABEL_VIEW_FULL"
              ],
              "description": "When specified, only certain fields belonging to the indicated view are returned."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ]
        },
        "disable": {
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaDisableLabelRequest"
          },
          "id": "drivelabels.labels.disable",
          "flatPath": "v2beta/labels/{labelsId}:disable",
          "parameters": {
            "name": {
              "description": "Required. Label resource name.",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^labels/[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "description": "Disable a published label. For more information, see [Disable, enable, and delete a label](https://developers.google.com/workspace/drive/labels/guides/disable-delete-label). Disabling a label will result in a new disabled published revision based on the current published revision. If there's a draft revision, a new disabled draft revision will be created based on the latest draft revision. Older draft revisions will be deleted. Once disabled, a label may be deleted with `DeleteLabel`.",
          "path": "v2beta/{+name}:disable",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "httpMethod": "POST"
        },
        "updateLabelEnabledAppSettings": {
          "path": "v2beta/{+name}:updateLabelEnabledAppSettings",
          "description": "Updates a label's `EnabledAppSettings`. Enabling a label in a Google Workspace app allows it to be used in that app. This change isn't revisioned, doesn't require publishing, and takes effect immediately.",
          "flatPath": "v2beta/labels/{labelsId}:updateLabelEnabledAppSettings",
          "parameters": {
            "name": {
              "description": "Required. The resource name of the label to update. The resource name of the label to update.",
              "location": "path",
              "pattern": "^labels/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "parameterOrder": [
            "name"
          ],
          "id": "drivelabels.labels.updateLabelEnabledAppSettings",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaUpdateLabelEnabledAppSettingsRequest"
          }
        },
        "delta": {
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequest"
          },
          "id": "drivelabels.labels.delta",
          "flatPath": "v2beta/labels/{labelsId}:delta",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^labels/[^/]+$",
              "location": "path",
              "description": "Required. The resource name of the label to update."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "path": "v2beta/{+name}:delta",
          "description": "Updates a single label by applying a set of update requests resulting in a new draft revision. For more information, see [Update a label](https://developers.google.com/workspace/drive/labels/guides/update-label). The batch update is all-or-nothing: If any of the update requests are invalid, no changes are applied. The resulting draft revision must be published before the changes may be used with Drive items.",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponse"
          },
          "httpMethod": "POST"
        },
        "create": {
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "httpMethod": "POST",
          "flatPath": "v2beta/labels",
          "parameters": {
            "languageCode": {
              "type": "string",
              "description": "The BCP-47 language code to use for evaluating localized field labels in response. When not specified, values in the default configured language will be used.",
              "location": "query"
            },
            "useAdminAccess": {
              "location": "query",
              "type": "boolean",
              "description": "Set to `true` in order to use the user's admin privileges. The server will verify the user is an admin before allowing access."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "path": "v2beta/labels",
          "description": "Creates a label. For more information, see [Create and publish a label](https://developers.google.com/workspace/drive/labels/guides/create-label).",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "id": "drivelabels.labels.create",
          "parameterOrder": []
        },
        "updateLabelCopyMode": {
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaUpdateLabelCopyModeRequest"
          },
          "id": "drivelabels.labels.updateLabelCopyMode",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "httpMethod": "POST",
          "flatPath": "v2beta/labels/{labelsId}:updateLabelCopyMode",
          "parameters": {
            "name": {
              "pattern": "^labels/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The resource name of the label to update."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "description": "Updates a label's `CopyMode`. Changes to this policy aren't revisioned, don't require publishing, and take effect immediately.",
          "path": "v2beta/{+name}:updateLabelCopyMode"
        },
        "delete": {
          "id": "drivelabels.labels.delete",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "DELETE",
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "path": "v2beta/{+name}",
          "description": "Permanently deletes a label and related metadata on Drive items. For more information, see [Disable, enable, and delete a label](https://developers.google.com/workspace/drive/labels/guides/disable-delete-label). Once deleted, the label and related Drive item metadata will be deleted. Only draft labels and disabled labels may be deleted.",
          "flatPath": "v2beta/labels/{labelsId}",
          "parameters": {
            "name": {
              "description": "Required. Label resource name.",
              "required": true,
              "type": "string",
              "pattern": "^labels/[^/]+$",
              "location": "path"
            },
            "useAdminAccess": {
              "type": "boolean",
              "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
              "location": "query"
            },
            "writeControl.requiredRevisionId": {
              "description": "The revision ID of the label that the write request will be applied to. If this isn't the latest revision of the label, the request will not be processed and will return a 400 Bad Request error.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ]
        }
      },
      "resources": {
        "locks": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "id": "drivelabels.labels.locks.list",
              "flatPath": "v2beta/labels/{labelsId}/locks",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Maximum number of locks to return per page. Default: 100. Max: 200.",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The token of the page to return.",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. Label on which locks are applied. Format: `labels/{label}`.",
                  "required": true,
                  "type": "string",
                  "pattern": "^labels/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                "https://www.googleapis.com/auth/drive.labels",
                "https://www.googleapis.com/auth/drive.labels.readonly"
              ],
              "path": "v2beta/{+parent}/locks",
              "description": "Lists the label locks on a label.",
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2betaListLabelLocksResponse"
              },
              "httpMethod": "GET"
            }
          }
        },
        "permissions": {
          "methods": {
            "create": {
              "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "path": "v2beta/{+parent}/permissions",
              "flatPath": "v2beta/labels/{labelsId}/permissions",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^labels/[^/]+$",
                  "description": "Required. The parent label resource name on the label permission is created. Format: `labels/{label}`."
                },
                "useAdminAccess": {
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                  "type": "boolean",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "drivelabels.labels.permissions.create",
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
              }
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "id": "drivelabels.labels.permissions.delete",
              "path": "v2beta/{+name}",
              "description": "Deletes a label's permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "flatPath": "v2beta/labels/{labelsId}/permissions/{permissionsId}",
              "parameters": {
                "name": {
                  "description": "Required. Label permission resource name.",
                  "location": "path",
                  "pattern": "^labels/[^/]+/permissions/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "useAdminAccess": {
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                  "type": "boolean",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "batchUpdate": {
              "id": "drivelabels.labels.permissions.batchUpdate",
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsResponse"
              },
              "description": "Updates label permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "path": "v2beta/{+parent}/permissions:batchUpdate",
              "flatPath": "v2beta/labels/{labelsId}/permissions:batchUpdate",
              "parameters": {
                "parent": {
                  "description": "Required. The parent label resource name shared by all permissions being updated. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
                  "pattern": "^labels/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ]
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "id": "drivelabels.labels.permissions.list",
              "path": "v2beta/{+parent}/permissions",
              "description": "Lists a label's permissions.",
              "flatPath": "v2beta/labels/{labelsId}/permissions",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Maximum number of permissions to return per page. Default: 50. Max: 200.",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The token of the page to return.",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^labels/[^/]+$",
                  "location": "path",
                  "description": "Required. The parent label resource name on which label permissions are listed. Format: `labels/{label}`."
                },
                "useAdminAccess": {
                  "location": "query",
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                  "type": "boolean"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                "https://www.googleapis.com/auth/drive.labels",
                "https://www.googleapis.com/auth/drive.labels.readonly"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2betaListLabelPermissionsResponse"
              }
            },
            "batchDelete": {
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v2beta/{+parent}/permissions:batchDelete",
              "description": "Deletes label permissions. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "flatPath": "v2beta/labels/{labelsId}/permissions:batchDelete",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^labels/[^/]+$",
                  "location": "path",
                  "description": "Required. The parent label resource name shared by all permissions being deleted. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "id": "drivelabels.labels.permissions.batchDelete",
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2betaBatchDeleteLabelPermissionsRequest"
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "revisions": {
          "methods": {
            "updatePermissions": {
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
              },
              "id": "drivelabels.labels.revisions.updatePermissions",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
              },
              "httpMethod": "PATCH",
              "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/permissions",
              "parameters": {
                "parent": {
                  "description": "Required. The parent label resource name.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^labels/[^/]+/revisions/[^/]+$"
                },
                "useAdminAccess": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "path": "v2beta/{+parent}/permissions"
            }
          },
          "resources": {
            "permissions": {
              "methods": {
                "batchUpdate": {
                  "description": "Updates label permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
                  "path": "v2beta/{+parent}/permissions:batchUpdate",
                  "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/permissions:batchUpdate",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent label resource name shared by all permissions being updated. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
                      "required": true,
                      "type": "string",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "drivelabels.labels.revisions.permissions.batchUpdate",
                  "request": {
                    "$ref": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest"
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2betaListLabelPermissionsResponse"
                  },
                  "description": "Lists a label's permissions.",
                  "path": "v2beta/{+parent}/permissions",
                  "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/permissions",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The token of the page to return."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Maximum number of permissions to return per page. Default: 50. Max: 200.",
                      "format": "int32"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "description": "Required. The parent label resource name on which label permissions are listed. Format: `labels/{label}`."
                    },
                    "useAdminAccess": {
                      "location": "query",
                      "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                      "type": "boolean"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                    "https://www.googleapis.com/auth/drive.labels",
                    "https://www.googleapis.com/auth/drive.labels.readonly"
                  ],
                  "id": "drivelabels.labels.revisions.permissions.list",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "batchDelete": {
                  "path": "v2beta/{+parent}/permissions:batchDelete",
                  "description": "Deletes label permissions. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
                  "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/permissions:batchDelete",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent label resource name shared by all permissions being deleted. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "drivelabels.labels.revisions.permissions.batchDelete",
                  "request": {
                    "$ref": "GoogleAppsDriveLabelsV2betaBatchDeleteLabelPermissionsRequest"
                  }
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
                  },
                  "id": "drivelabels.labels.revisions.permissions.create",
                  "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/permissions",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent label resource name on the label permission is created. Format: `labels/{label}`."
                    },
                    "useAdminAccess": {
                      "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
                  "path": "v2beta/{+parent}/permissions",
                  "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
                  },
                  "httpMethod": "POST"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "drivelabels.labels.revisions.permissions.delete",
                  "description": "Deletes a label's permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
                  "path": "v2beta/{+name}",
                  "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/permissions/{permissionsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^labels/[^/]+/revisions/[^/]+/permissions/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Label permission resource name."
                    },
                    "useAdminAccess": {
                      "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                }
              }
            },
            "locks": {
              "methods": {
                "list": {
                  "path": "v2beta/{+parent}/locks",
                  "description": "Lists the label locks on a label.",
                  "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/locks",
                  "parameters": {
                    "parent": {
                      "description": "Required. Label on which locks are applied. Format: `labels/{label}`.",
                      "location": "path",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Maximum number of locks to return per page. Default: 100. Max: 200.",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "The token of the page to return.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                    "https://www.googleapis.com/auth/drive.labels",
                    "https://www.googleapis.com/auth/drive.labels.readonly"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2betaListLabelLocksResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "drivelabels.labels.revisions.locks.list"
                }
              }
            }
          }
        }
      }
    },
    "users": {
      "methods": {
        "getCapabilities": {
          "id": "drivelabels.users.getCapabilities",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaUserCapabilities"
          },
          "description": "Gets the user capabilities.",
          "path": "v2beta/{+name}",
          "flatPath": "v2beta/users/{usersId}/capabilities",
          "parameters": {
            "customer": {
              "location": "query",
              "type": "string",
              "description": "The customer to scope this request to. For example: `customers/abcd1234`. If unset, it will return settings within the current customer."
            },
            "name": {
              "description": "Required. The resource name of the user. Only \"users/me/capabilities\" is supported.",
              "pattern": "^users/[^/]+/capabilities$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ]
        }
      }
    }
  },
  "name": "drivelabels",
  "schemas": {
    "GoogleAppsDriveLabelsV2betaFieldTextOptions": {
      "id": "GoogleAppsDriveLabelsV2betaFieldTextOptions",
      "type": "object",
      "description": "Options for the Text field type.",
      "properties": {
        "minLength": {
          "description": "Output only. The minimum valid length of values for the text field.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "maxLength": {
          "type": "integer",
          "description": "Output only. The maximum valid length of values for the text field.",
          "format": "int32",
          "readOnly": true
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldIntegerOptions": {
      "properties": {
        "maxValue": {
          "description": "Output only. The maximum valid value for the integer field.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "minValue": {
          "readOnly": true,
          "description": "Output only. The minimum valid value for the integer field.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldIntegerOptions",
      "type": "object",
      "description": "Options for the Integer field type."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteSelectionChoiceRequest": {
      "description": "Request to delete a choice.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteSelectionChoiceRequest",
      "type": "object",
      "properties": {
        "fieldId": {
          "description": "Required. The selection field from which a choice will be deleted.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Required. Choice to delete."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLabelPermission": {
      "properties": {
        "name": {
          "description": "Resource name of this permission.",
          "type": "string"
        },
        "role": {
          "type": "string",
          "enumDescriptions": [
            "Unknown role.",
            "A reader can read the label and associated metadata applied to Drive items.",
            "An applier can write associated metadata on Drive items in which they also have write access to. Implies `READER`.",
            "An organizer can pin this label in shared drives they manage and add new appliers to the label.",
            "Editors can make any update including deleting the label which also deletes the associated Drive item metadata. Implies `APPLIER`."
          ],
          "description": "The role the principal should have.",
          "enum": [
            "LABEL_ROLE_UNSPECIFIED",
            "READER",
            "APPLIER",
            "ORGANIZER",
            "EDITOR"
          ]
        },
        "audience": {
          "description": "Audience to grant a role to. The magic value of `audiences/default` may be used to apply the role to the default audience in the context of the organization that owns the label.",
          "type": "string"
        },
        "group": {
          "description": "Group resource name.",
          "type": "string"
        },
        "email": {
          "description": "Specifies the email address for a user or group principal. Not populated for audience principals. User and group permissions may only be inserted using an email address. On update requests, if email address is specified, no principal should be specified.",
          "type": "string"
        },
        "person": {
          "type": "string",
          "description": "Person resource name."
        }
      },
      "description": "The permission that applies to a principal (user, group, audience) on a label.",
      "id": "GoogleAppsDriveLabelsV2betaLabelPermission",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2betaLabel": {
      "properties": {
        "customer": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The customer this label belongs to. For example: `customers/123abc789`."
        },
        "enabledAppSettings": {
          "$ref": "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettings",
          "description": "Optional. The `EnabledAppSettings` for this Label."
        },
        "revisionId": {
          "type": "string",
          "description": "Output only. Revision ID of the label. Revision ID might be part of the label `name` depending on the request issued. A new revision is created whenever revisioned properties of a label are changed. Matches the regex: `([a-zA-Z0-9])+`.",
          "readOnly": true
        },
        "creator": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "description": "Output only. The user who created this label."
        },
        "revisionCreateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time this label revision was created.",
          "format": "google-datetime"
        },
        "lifecycle": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycle",
          "description": "Output only. The lifecycle state of the label including whether it's published, deprecated, and has draft changes."
        },
        "createTime": {
          "description": "Output only. The time this label was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "disabler": {
          "description": "Output only. The user who disabled this label. This value has no meaning when the label isn't disabled.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "fields": {
          "description": "List of fields in descending priority order.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaField"
          }
        },
        "lockStatus": {
          "description": "Output only. The `LockStatus` of this label.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLockStatus"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the label. Will be in the form of either: `labels/{id}` or `labels/{id}@{revision_id}` depending on the request. See `id` and `revision_id` below."
        },
        "id": {
          "type": "string",
          "description": "Output only. Globally unique identifier of this label. ID makes up part of the label `name`, but unlike `name`, ID is consistent between revisions. Matches the regex: `([a-zA-Z0-9])+`.",
          "readOnly": true
        },
        "revisionCreator": {
          "description": "Output only. The user who created this label revision.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "publishTime": {
          "readOnly": true,
          "description": "Output only. The time this label was published. This value has no meaning when the label isn't published.",
          "format": "google-datetime",
          "type": "string"
        },
        "appliedLabelPolicy": {
          "description": "Output only. Behavior of this label when it's applied to Drive items.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLabelAppliedLabelPolicy"
        },
        "appliedCapabilities": {
          "description": "Output only. The capabilities related to this label on applied metadata.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLabelAppliedCapabilities"
        },
        "labelType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown label type.",
            "Shared labels may be shared with users to apply to Drive items.",
            "Admin-owned label. Only creatable and editable by admins. Supports some additional admin-only features.",
            "A label owned by an internal Google application rather than a customer. These labels are read-only."
          ],
          "description": "Required. The type of label.",
          "enum": [
            "LABEL_TYPE_UNSPECIFIED",
            "SHARED",
            "ADMIN",
            "GOOGLE_APP"
          ]
        },
        "properties": {
          "description": "Required. The basic properties of the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelProperties"
        },
        "disableTime": {
          "description": "Output only. The time this label was disabled. This value has no meaning when the label isn't disabled.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "schemaCapabilities": {
          "description": "Output only. The capabilities the user has on this label.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLabelSchemaCapabilities"
        },
        "publisher": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "description": "Output only. The user who published this label. This value has no meaning when the label isn't published.>>"
        },
        "displayHints": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLabelDisplayHints",
          "description": "Output only. UI display hints for rendering the label."
        },
        "learnMoreUri": {
          "description": "Custom URL to present to users to allow them to learn more about this label and how it should be used.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLabel",
      "type": "object",
      "description": "A label defines a taxonomy that can be applied to Drive items in order to organize and search across items. Labels can be simple strings, or can contain fields that describe additional metadata that can be further used to organize and search Drive items."
    },
    "GoogleAppsDriveLabelsV2betaLongTextLimits": {
      "id": "GoogleAppsDriveLabelsV2betaLongTextLimits",
      "type": "object",
      "description": "Limits for long text field type.",
      "properties": {
        "minLength": {
          "description": "Minimum length allowed for a long text field type.",
          "format": "int32",
          "type": "integer"
        },
        "maxLength": {
          "type": "integer",
          "description": "Maximum length allowed for a long text field type.",
          "format": "int32"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableFieldRequest": {
      "properties": {
        "id": {
          "description": "Required. ID of the field to enable.",
          "type": "string"
        }
      },
      "description": "Request to enable the field.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableFieldRequest",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableFieldResponse": {
      "properties": {},
      "description": "Response following field disable.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableFieldResponse",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaSelectionLimits": {
      "id": "GoogleAppsDriveLabelsV2betaSelectionLimits",
      "type": "object",
      "description": "Limits for selection field type.",
      "properties": {
        "maxDisplayNameLength": {
          "description": "Maximum length for display name.",
          "format": "int32",
          "type": "integer"
        },
        "maxDeletedChoices": {
          "type": "integer",
          "description": "Maximum number of deleted choices.",
          "format": "int32"
        },
        "maxChoices": {
          "description": "Maximum number of choices.",
          "format": "int32",
          "type": "integer"
        },
        "listLimits": {
          "$ref": "GoogleAppsDriveLabelsV2betaListLimits",
          "description": "Limits for list-variant of a field type."
        },
        "maxIdLength": {
          "description": "Maximum ID length for a selection option.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteFieldResponse": {
      "description": "Response following field delete.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteFieldResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateSelectionChoiceResponse": {
      "properties": {
        "fieldId": {
          "description": "The server-generated ID of the field.",
          "type": "string"
        },
        "id": {
          "description": "The server-generated ID of the created choice within the field.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateSelectionChoiceResponse",
      "type": "object",
      "description": "Response following selection choice create."
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceDisplayHints": {
      "properties": {
        "hiddenInSearch": {
          "type": "boolean",
          "description": "This option should be hidden in the search menu when searching for Drive items."
        },
        "badgePriority": {
          "type": "string",
          "description": "The priority of this badge. Used to compare and sort between multiple badges. A lower number means the badge should be shown first. When a badging configuration is not present, this will be 0. Otherwise, this will be set to `BadgeConfig.priority_override` or the default heuristic which prefers creation date of the label, and field and option priority.",
          "format": "int64"
        },
        "disabled": {
          "description": "Whether the option should be shown in the UI as disabled.",
          "type": "boolean"
        },
        "darkBadgeColors": {
          "$ref": "GoogleAppsDriveLabelsV2betaBadgeColors",
          "description": "The dark-mode color to use for the badge. Changed to Google Material colors based on the chosen `properties.badge_config.color`."
        },
        "shownInApply": {
          "type": "boolean",
          "description": "This option should be shown in the apply menu when applying values to a Drive item."
        },
        "badgeColors": {
          "$ref": "GoogleAppsDriveLabelsV2betaBadgeColors",
          "description": "The colors to use for the badge. Changed to Google Material colors based on the chosen `properties.badge_config.color`."
        }
      },
      "description": "UI display hints for rendering an option.",
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceDisplayHints",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaLabelLockCapabilities": {
      "properties": {
        "canViewPolicy": {
          "description": "True if the user is authorized to view the policy.",
          "type": "boolean"
        }
      },
      "description": "A description of a user's capabilities on a label lock.",
      "id": "GoogleAppsDriveLabelsV2betaLabelLockCapabilities",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableFieldRequest": {
      "properties": {
        "disabledPolicy": {
          "description": "Required. Field disabled policy.",
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy"
        },
        "id": {
          "type": "string",
          "description": "Required. Key of the field to disable."
        },
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableFieldRequest",
      "type": "object",
      "description": "Request to disable the field."
    },
    "GoogleAppsDriveLabelsV2betaPublishLabelRequest": {
      "description": "Request to publish a label.",
      "id": "GoogleAppsDriveLabelsV2betaPublishLabelRequest",
      "type": "object",
      "properties": {
        "writeControl": {
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins.",
          "$ref": "GoogleAppsDriveLabelsV2betaWriteControl"
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used."
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldTypeRequest": {
      "properties": {
        "textOptions": {
          "description": "Update field to Text.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldTextOptions"
        },
        "userOptions": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldUserOptions",
          "description": "Update field to User."
        },
        "updateMask": {
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root of `type_options` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "format": "google-fieldmask"
        },
        "selectionOptions": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptions",
          "description": "Update field to Selection."
        },
        "id": {
          "description": "Required. The field to update.",
          "type": "string"
        },
        "integerOptions": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldIntegerOptions",
          "description": "Update field to Integer."
        },
        "dateOptions": {
          "description": "Update field to Date.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldDateOptions"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldTypeRequest",
      "type": "object",
      "description": "Request to change the type of a field."
    },
    "GoogleAppsDriveLabelsV2betaListLabelLocksResponse": {
      "id": "GoogleAppsDriveLabelsV2betaListLabelLocksResponse",
      "type": "object",
      "description": "The response to a `ListLabelLocksRequest`.",
      "properties": {
        "labelLocks": {
          "description": "Label locks.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelLock"
          }
        },
        "nextPageToken": {
          "description": "The token of the next page in the response.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLabelProperties": {
      "id": "GoogleAppsDriveLabelsV2betaLabelProperties",
      "type": "object",
      "description": "Basic properties of the label.",
      "properties": {
        "description": {
          "description": "The description of the label.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Required. Title of the label."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateFieldRequest": {
      "properties": {
        "field": {
          "$ref": "GoogleAppsDriveLabelsV2betaField",
          "description": "Required. Field to create."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateFieldRequest",
      "type": "object",
      "description": "Request to create a field within a label."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateSelectionChoiceRequest": {
      "properties": {
        "fieldId": {
          "type": "string",
          "description": "Required. The selection field in which a choice will be created."
        },
        "choice": {
          "description": "Required. The choice to create.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateSelectionChoiceRequest",
      "type": "object",
      "description": "Request to create a selection choice."
    },
    "GoogleAppsDriveLabelsV2betaFieldDisplayHints": {
      "description": "UI display hints for rendering a field.",
      "id": "GoogleAppsDriveLabelsV2betaFieldDisplayHints",
      "type": "object",
      "properties": {
        "required": {
          "description": "Whether the field should be shown as required in the UI.",
          "type": "boolean"
        },
        "hiddenInSearch": {
          "type": "boolean",
          "description": "This field should be hidden in the search menu when searching for Drive items."
        },
        "shownInApply": {
          "type": "boolean",
          "description": "This field should be shown in the apply menu when applying values to a Drive item."
        },
        "disabled": {
          "description": "Whether the field should be shown in the UI as disabled.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceAppliedCapabilities": {
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceAppliedCapabilities",
      "type": "object",
      "description": "The capabilities related to this choice on applied metadata.",
      "properties": {
        "canRead": {
          "description": "Whether the user can read related applied metadata on items.",
          "type": "boolean"
        },
        "canSearch": {
          "type": "boolean",
          "description": "Whether the user can use this choice in search queries."
        },
        "canSelect": {
          "type": "boolean",
          "description": "Whether the user can select this choice on an item."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteFieldRequest": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. ID of the field to delete."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteFieldRequest",
      "type": "object",
      "description": "Request to delete the field."
    },
    "GoogleAppsDriveLabelsV2betaFieldUserOptions": {
      "id": "GoogleAppsDriveLabelsV2betaFieldUserOptions",
      "type": "object",
      "description": "Options for the user field type.",
      "properties": {
        "listOptions": {
          "description": "When specified, indicates that this field supports a list of values. Once the field is published, this cannot be changed.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldListOptions"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaIntegerLimits": {
      "description": "Limits for integer field type.",
      "id": "GoogleAppsDriveLabelsV2betaIntegerLimits",
      "type": "object",
      "properties": {
        "minValue": {
          "type": "string",
          "description": "Minimum value for an integer field type.",
          "format": "int64"
        },
        "maxValue": {
          "type": "string",
          "description": "Maximum value for an integer field type.",
          "format": "int64"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaUserCapabilities": {
      "properties": {
        "canCreateSharedLabels": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the user is allowed to create shared labels."
        },
        "canAdministrateLabels": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the user is an administrator for the shared labels feature."
        },
        "canCreateAdminLabels": {
          "readOnly": true,
          "description": "Output only. Whether the user is allowed to create admin labels.",
          "type": "boolean"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name for the user capabilities.",
          "type": "string"
        },
        "canAccessLabelManager": {
          "type": "boolean",
          "description": "Output only. Whether the user is allowed access to the label manager.",
          "readOnly": true
        }
      },
      "description": "The capabilities of a user.",
      "id": "GoogleAppsDriveLabelsV2betaUserCapabilities",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseResponse": {
      "description": "A single response from an update.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseResponse",
      "type": "object",
      "properties": {
        "disableSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableSelectionChoiceResponse",
          "description": "Disables a choice within a selection field."
        },
        "enableSelectionChoice": {
          "description": "Enables a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableSelectionChoiceResponse"
        },
        "updateField": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldPropertiesResponse",
          "description": "Updates basic properties of a field."
        },
        "deleteField": {
          "description": "Deletes a field from the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteFieldResponse"
        },
        "createSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateSelectionChoiceResponse",
          "description": "Creates a selection list option to add to a selection field."
        },
        "disableField": {
          "description": "Disables field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableFieldResponse"
        },
        "deleteSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteSelectionChoiceResponse",
          "description": "Deletes a choice from a selection field."
        },
        "createField": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateFieldResponse",
          "description": "Creates a field."
        },
        "enableField": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableFieldResponse",
          "description": "Enables field."
        },
        "updateSelectionChoiceProperties": {
          "description": "Updates a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse"
        },
        "updateLabel": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateLabelPropertiesResponse",
          "description": "Updates basic properties of a label."
        },
        "updateFieldType": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldTypeResponse",
          "description": "Updates field type and/or type options."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldPropertiesResponse": {
      "description": "Response following update to field properties.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldPropertiesResponse",
      "type": "object",
      "properties": {
        "priority": {
          "type": "integer",
          "description": "The priority of the updated field. The priority may change from what was specified to assure contiguous priorities between fields (1-n).",
          "format": "int32"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaUpdateLabelPermissionRequest": {
      "properties": {
        "parent": {
          "description": "Required. The parent label resource name.",
          "type": "string"
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        },
        "labelPermission": {
          "description": "Required. The permission to create or update on the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaUpdateLabelPermissionRequest",
      "type": "object",
      "description": "Updates a label permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing."
    },
    "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest": {
      "description": "Updates one or more label permissions.",
      "id": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest",
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaUpdateLabelPermissionRequest"
          },
          "description": "Required. The request message specifying the resources to update."
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access. If this is set, the `use_admin_access` field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLabelAppliedLabelPolicy": {
      "id": "GoogleAppsDriveLabelsV2betaLabelAppliedLabelPolicy",
      "type": "object",
      "description": "Behavior of this label when it's applied to Drive items.",
      "properties": {
        "copyMode": {
          "description": "Indicates how the applied label and field values should be copied when a Drive item is copied.",
          "enum": [
            "COPY_MODE_UNSPECIFIED",
            "DO_NOT_COPY",
            "ALWAYS_COPY",
            "COPY_APPLIABLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Copy mode unspecified.",
            "The applied label and field values aren't copied by default when the Drive item it's applied to is copied.",
            "The applied label and field values are always copied when the Drive item it's applied to is copied. Only admins can use this mode.",
            "The applied label and field values are copied if the label is appliable by the user making the copy."
          ]
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLabelAppliedCapabilities": {
      "id": "GoogleAppsDriveLabelsV2betaLabelAppliedCapabilities",
      "type": "object",
      "description": "The capabilities a user has on this label's applied metadata.",
      "properties": {
        "canRead": {
          "type": "boolean",
          "description": "Whether the user can read applied metadata related to this label."
        },
        "canApply": {
          "description": "Whether the user can apply this label to items.",
          "type": "boolean"
        },
        "canRemove": {
          "type": "boolean",
          "description": "Whether the user can remove this label from items."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse": {
      "properties": {
        "priority": {
          "description": "The priority of the updated choice. The priority may change from what was specified to assure contiguous priorities between choices (1-n).",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse",
      "type": "object",
      "description": "Response following update to selection choice properties."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableSelectionChoiceResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableSelectionChoiceResponse",
      "type": "object",
      "description": "Response following choice enable.",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableSelectionChoiceRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableSelectionChoiceRequest",
      "type": "object",
      "description": "Request to enable a choice.",
      "properties": {
        "fieldId": {
          "type": "string",
          "description": "Required. The selection field in which a choice will be enabled."
        },
        "id": {
          "description": "Required. Choice to enable.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteSelectionChoiceResponse": {
      "properties": {},
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteSelectionChoiceResponse",
      "type": "object",
      "description": "Response following choice delete."
    },
    "GoogleAppsDriveLabelsV2betaTextLimits": {
      "description": "Limits for text field type.",
      "id": "GoogleAppsDriveLabelsV2betaTextLimits",
      "type": "object",
      "properties": {
        "minLength": {
          "description": "Minimum length allowed for a text field type.",
          "format": "int32",
          "type": "integer"
        },
        "maxLength": {
          "description": "Maximum length allowed for a text field type.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestRequest",
      "type": "object",
      "description": "A single kind of update to apply to a label.",
      "properties": {
        "enableSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableSelectionChoiceRequest",
          "description": "Enable a choice within a selection field."
        },
        "createSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateSelectionChoiceRequest",
          "description": "Create a choice within a selection field."
        },
        "updateField": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldPropertiesRequest",
          "description": "Updates basic properties of a field."
        },
        "deleteField": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteFieldRequest",
          "description": "Deletes a field from the label."
        },
        "disableSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableSelectionChoiceRequest",
          "description": "Disable a choice within a selection field."
        },
        "updateLabel": {
          "description": "Updates the label properties.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateLabelPropertiesRequest"
        },
        "updateFieldType": {
          "description": "Update field type and/or type options.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldTypeRequest"
        },
        "createField": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateFieldRequest",
          "description": "Creates a field."
        },
        "enableField": {
          "description": "Enables the field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableFieldRequest"
        },
        "disableField": {
          "description": "Disables the field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableFieldRequest"
        },
        "deleteSelectionChoice": {
          "description": "Delete a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteSelectionChoiceRequest"
        },
        "updateSelectionChoiceProperties": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest",
          "description": "Update a choice property within a selection field."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateLabelPropertiesRequest": {
      "description": "Updates basic properties of a label.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateLabelPropertiesRequest",
      "type": "object",
      "properties": {
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `label_properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "properties": {
          "$ref": "GoogleAppsDriveLabelsV2betaLabelProperties",
          "description": "Required. Label properties to update."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateFieldResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateFieldResponse",
      "type": "object",
      "description": "Response following field create.",
      "properties": {
        "priority": {
          "type": "integer",
          "description": "The priority of the created field. The priority may change from what was specified to assure contiguous priorities between fields (1-n).",
          "format": "int32"
        },
        "id": {
          "description": "The field of the created field. When left blank in a create request, a key will be autogenerated and can be identified here.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceSchemaCapabilities": {
      "properties": {
        "canEnable": {
          "description": "Whether the user can enable this choice.",
          "type": "boolean"
        },
        "canUpdate": {
          "description": "Whether the user can update this choice.",
          "type": "boolean"
        },
        "canDelete": {
          "type": "boolean",
          "description": "Whether the user can delete this choice."
        },
        "canDisable": {
          "type": "boolean",
          "description": "Whether the user can disable this choice."
        }
      },
      "description": "The capabilities related to this choice when editing the choice.",
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceSchemaCapabilities",
      "type": "object"
    },
    "GoogleTypeColor": {
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
      "id": "GoogleTypeColor",
      "type": "object",
      "properties": {
        "green": {
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "format": "float",
          "type": "number"
        },
        "alpha": {
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0).",
          "format": "float",
          "type": "number"
        },
        "red": {
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "format": "float",
          "type": "number"
        },
        "blue": {
          "type": "number",
          "description": "The amount of blue in the color as a value in the interval [0, 1].",
          "format": "float"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableSelectionChoiceRequest": {
      "properties": {
        "disabledPolicy": {
          "description": "Required. The disabled policy to update.",
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy"
        },
        "fieldId": {
          "description": "Required. The selection field in which a choice will be disabled.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Required. Choice to disable."
        },
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableSelectionChoiceRequest",
      "type": "object",
      "description": "Request to disable a choice."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldPropertiesRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldPropertiesRequest",
      "type": "object",
      "description": "Request to update field properties.",
      "properties": {
        "id": {
          "description": "Required. The field to update.",
          "type": "string"
        },
        "updateMask": {
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "format": "google-fieldmask"
        },
        "properties": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldProperties",
          "description": "Required. Basic field properties."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaUserLimits": {
      "properties": {
        "listLimits": {
          "description": "Limits for list-variant of a field type.",
          "$ref": "GoogleAppsDriveLabelsV2betaListLimits"
        }
      },
      "description": "Limits for Field.Type.USER.",
      "id": "GoogleAppsDriveLabelsV2betaUserLimits",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy": {
      "id": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy",
      "type": "object",
      "description": "The policy that governs how to treat a disabled label, field, or selection choice in different contexts.",
      "properties": {
        "showInApply": {
          "type": "boolean",
          "description": "Whether to show this disabled object in the apply menu on Drive items. * When `true`, the object is generally shown in the UI as disabled and is unselectable. * When `false`, the object is generally hidden in the UI."
        },
        "hideInSearch": {
          "description": "Whether to hide this disabled object in the search menu for Drive items. * When `false`, the object is generally shown in the UI as disabled but it appears in the search results when searching for Drive items. * When `true`, the object is generally hidden in the UI when searching for Drive items.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDisableLabelRequest": {
      "properties": {
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "writeControl": {
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins.",
          "$ref": "GoogleAppsDriveLabelsV2betaWriteControl"
        },
        "disabledPolicy": {
          "description": "Disabled policy to use.",
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy"
        },
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDisableLabelRequest",
      "type": "object",
      "description": "Request to deprecate a published label."
    },
    "GoogleAppsDriveLabelsV2betaEnableLabelRequest": {
      "properties": {
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "writeControl": {
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins.",
          "$ref": "GoogleAppsDriveLabelsV2betaWriteControl"
        },
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        }
      },
      "description": "Request to enable a label.",
      "id": "GoogleAppsDriveLabelsV2betaEnableLabelRequest",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaBadgeConfig": {
      "id": "GoogleAppsDriveLabelsV2betaBadgeConfig",
      "type": "object",
      "description": "Badge status of the label.",
      "properties": {
        "color": {
          "description": "The color of the badge. When not specified, no badge is rendered. The background, foreground, and solo (light and dark mode) colors set here are changed in the Drive UI into the closest recommended supported color.",
          "$ref": "GoogleTypeColor"
        },
        "priorityOverride": {
          "description": "Override the default global priority of this badge. When set to 0, the default priority heuristic is used.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLabelLock": {
      "properties": {
        "creator": {
          "description": "Output only. The user whose credentials were used to create the label lock. Not present if no user was responsible for creating the label lock.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "fieldId": {
          "type": "string",
          "description": "The ID of the field that should be locked. Empty if the whole label should be locked."
        },
        "choiceId": {
          "type": "string",
          "description": "The ID of the selection field choice that should be locked. If present, `field_id` must also be present."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unknown state.",
            "The label lock is active and is being enforced by the server.",
            "The label lock is being deleted. The label lock will continue to be enforced by the server until it has been fully removed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETING"
          ],
          "readOnly": true,
          "description": "Output only. This label lock's state."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of this label lock.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time this label lock was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "capabilities": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLabelLockCapabilities",
          "description": "Output only. The user's capabilities on this label lock."
        },
        "deleteTime": {
          "readOnly": true,
          "description": "Output only. A timestamp indicating when this label lock was scheduled for deletion. Present only if this label lock is in the `DELETING` state.",
          "format": "google-datetime",
          "type": "string"
        }
[...]
