{
  "id": "drivelabels:v2",
  "version": "v2",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "description": "An API for managing Drive Labels",
  "name": "drivelabels",
  "mtlsRootUrl": "https://drivelabels.mtls.googleapis.com/",
  "version_module": true,
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "default": "json"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "documentationLink": "https://developers.google.com/workspace/drive/labels",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://drivelabels.googleapis.com/",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "canonicalName": "Drive Labels",
  "title": "Drive Labels API",
  "batchPath": "batch",
  "resources": {
    "labels": {
      "methods": {
        "publish": {
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "description": "Publish all draft changes to the label. Once published, the label may not return to its draft state. For more information, see [Create and publish a label](https://developers.google.com/workspace/drive/labels/guides/create-label). Publishing a label will result in a new published revision. All previous draft revisions will be deleted. Previous published revisions will be kept but are subject to automated deletion as needed. For more information, see [Label lifecycle](https://developers.google.com/workspace/drive/labels/guides/label-lifecycle). Once published, some changes are no longer permitted. Generally, any change that would invalidate or cause new restrictions on existing metadata related to the label will be rejected. For example, the following changes to a label will be rejected after the label is published: * The label cannot be directly deleted. It must be disabled first, then deleted. * `Field.FieldType` cannot be changed. * Changes to field validation options cannot reject something that was previously accepted. * Reducing the maximum entries.",
          "flatPath": "v2/labels/{labelsId}:publish",
          "parameterOrder": [
            "name"
          ],
          "path": "v2/{+name}:publish",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "description": "Required. Label resource name.",
              "pattern": "^labels/[^/]+$",
              "required": true
            }
          },
          "id": "drivelabels.labels.publish",
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2PublishLabelRequest"
          }
        },
        "updatePermissions": {
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
          },
          "path": "v2/{+parent}/permissions",
          "parameters": {
            "useAdminAccess": {
              "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
              "location": "query",
              "type": "boolean"
            },
            "parent": {
              "pattern": "^labels/[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The parent label resource name."
            }
          },
          "id": "drivelabels.labels.updatePermissions",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
          "flatPath": "v2/labels/{labelsId}/permissions",
          "parameterOrder": [
            "parent"
          ]
        },
        "create": {
          "parameterOrder": [],
          "flatPath": "v2/labels",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "description": "Creates a label. For more information, see [Create and publish a label](https://developers.google.com/workspace/drive/labels/guides/create-label).",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "httpMethod": "POST",
          "id": "drivelabels.labels.create",
          "path": "v2/labels",
          "parameters": {
            "useAdminAccess": {
              "description": "Set to `true` in order to use the user's admin privileges. The server will verify the user is an admin before allowing access.",
              "location": "query",
              "type": "boolean"
            },
            "languageCode": {
              "location": "query",
              "type": "string",
              "description": "The BCP-47 language code to use for evaluating localized field labels in response. When not specified, values in the default configured language will be used."
            }
          },
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          }
        },
        "updateLabelEnabledAppSettings": {
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2UpdateLabelEnabledAppSettingsRequest"
          },
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "httpMethod": "POST",
          "id": "drivelabels.labels.updateLabelEnabledAppSettings",
          "path": "v2/{+name}:updateLabelEnabledAppSettings",
          "parameters": {
            "name": {
              "description": "Required. The resource name of the label to update. The resource name of the label to update.",
              "location": "path",
              "type": "string",
              "pattern": "^labels/[^/]+$",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2/labels/{labelsId}:updateLabelEnabledAppSettings",
          "description": "Updates a label's `EnabledAppSettings`. Enabling a label in a Google Workspace app allows it to be used in that app. This change isn't revisioned, doesn't require publishing, and takes effect immediately."
        },
        "disable": {
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "path": "v2/{+name}:disable",
          "parameters": {
            "name": {
              "pattern": "^labels/[^/]+$",
              "required": true,
              "description": "Required. Label resource name.",
              "location": "path",
              "type": "string"
            }
          },
          "id": "drivelabels.labels.disable",
          "flatPath": "v2/labels/{labelsId}:disable",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "description": "Disable a published label. For more information, see [Disable, enable, and delete a label](https://developers.google.com/workspace/drive/labels/guides/disable-delete-label). Disabling a label will result in a new disabled published revision based on the current published revision. If there's a draft revision, a new disabled draft revision will be created based on the latest draft revision. Older draft revisions will be deleted. Once disabled, a label may be deleted with `DeleteLabel`.",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2DisableLabelRequest"
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "description": "Get a label by its resource name. For more information, see [Search for labels](https://developers.google.com/workspace/drive/labels/guides/search-label). Resource name may be any of: * `labels/{id}` - See `labels/{id}@latest` * `labels/{id}@latest` - Gets the latest revision of the label. * `labels/{id}@published` - Gets the current published revision of the label. * `labels/{id}@{revision_id}` - Gets the label at the specified revision ID.",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2/labels/{labelsId}",
          "id": "drivelabels.labels.get",
          "path": "v2/{+name}",
          "parameters": {
            "useAdminAccess": {
              "location": "query",
              "type": "boolean",
              "description": "Set to `true` in order to use the user's admin credentials. The server verifies that the user is an admin for the label before allowing access."
            },
            "languageCode": {
              "location": "query",
              "type": "string",
              "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language are used."
            },
            "name": {
              "description": "Required. Label resource name. May be any of: * `labels/{id}` (equivalent to labels/{id}@latest) * `labels/{id}@latest` * `labels/{id}@published` * `labels/{id}@{revision_id}`",
              "location": "path",
              "type": "string",
              "pattern": "^labels/[^/]+$",
              "required": true
            },
            "view": {
              "enumDescriptions": [
                "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
                "All possible fields."
              ],
              "enum": [
                "LABEL_VIEW_BASIC",
                "LABEL_VIEW_FULL"
              ],
              "description": "When specified, only certain fields belonging to the indicated view are returned.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "httpMethod": "GET"
        },
        "updateLabelCopyMode": {
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2/labels/{labelsId}:updateLabelCopyMode",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "description": "Updates a label's `CopyMode`. Changes to this policy aren't revisioned, don't require publishing, and take effect immediately.",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "httpMethod": "POST",
          "id": "drivelabels.labels.updateLabelCopyMode",
          "path": "v2/{+name}:updateLabelCopyMode",
          "parameters": {
            "name": {
              "pattern": "^labels/[^/]+$",
              "required": true,
              "description": "Required. The resource name of the label to update.",
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2UpdateLabelCopyModeRequest"
          }
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "description": "Permanently deletes a label and related metadata on Drive items. For more information, see [Disable, enable, and delete a label](https://developers.google.com/workspace/drive/labels/guides/disable-delete-label). Once deleted, the label and related Drive item metadata will be deleted. Only draft labels and disabled labels may be deleted.",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2/labels/{labelsId}",
          "id": "drivelabels.labels.delete",
          "path": "v2/{+name}",
          "parameters": {
            "useAdminAccess": {
              "location": "query",
              "type": "boolean",
              "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
            },
            "name": {
              "pattern": "^labels/[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Label resource name."
            },
            "writeControl.requiredRevisionId": {
              "description": "The revision ID of the label that the write request will be applied to. If this isn't the latest revision of the label, the request will not be processed and will return a 400 Bad Request error.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "httpMethod": "DELETE"
        },
        "list": {
          "flatPath": "v2/labels",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "description": "List labels. For more information, see [Search for labels](https://developers.google.com/workspace/drive/labels/guides/search-label).",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2ListLabelsResponse"
          },
          "path": "v2/labels",
          "parameters": {
            "minimumRole": {
              "enumDescriptions": [
                "Unknown role.",
                "A reader can read the label and associated metadata applied to Drive items.",
                "An applier can write associated metadata on Drive items in which they also have write access to. Implies `READER`.",
                "An organizer can pin this label in shared drives they manage and add new appliers to the label.",
                "Editors can make any update including deleting the label which also deletes the associated Drive item metadata. Implies `APPLIER`."
              ],
              "enum": [
                "LABEL_ROLE_UNSPECIFIED",
                "READER",
                "APPLIER",
                "ORGANIZER",
                "EDITOR"
              ],
              "location": "query",
              "type": "string",
              "description": "Specifies the level of access the user must have on the returned labels. The minimum role a user must have on a label. Defaults to `READER`."
            },
            "publishedOnly": {
              "description": "Whether to include only published labels in the results. * When `true`, only the current published label revisions are returned. Disabled labels are included. Returned label resource names reference the published revision (`labels/{id}/{revision_id}`). * When `false`, the current label revisions are returned, which might not be published. Returned label resource names don't reference a specific revision (`labels/{id}`).",
              "location": "query",
              "type": "boolean"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of labels to return per page. Default: 50. Max: 200."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token of the page to return."
            },
            "useAdminAccess": {
              "location": "query",
              "type": "boolean",
              "description": "Set to `true` in order to use the user's admin credentials. This will return all labels within the customer."
            },
            "customer": {
              "description": "The customer to scope this list request to. For example: `customers/abcd1234`. If unset, will return all labels within the current customer.",
              "location": "query",
              "type": "string"
            },
            "languageCode": {
              "location": "query",
              "type": "string",
              "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language are used."
            },
            "view": {
              "description": "When specified, only certain fields belonging to the indicated view are returned.",
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
                "All possible fields."
              ],
              "enum": [
                "LABEL_VIEW_BASIC",
                "LABEL_VIEW_FULL"
              ]
            }
          },
          "id": "drivelabels.labels.list"
        },
        "delta": {
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequest"
          },
          "flatPath": "v2/labels/{labelsId}:delta",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "description": "Updates a single label by applying a set of update requests resulting in a new draft revision. For more information, see [Update a label](https://developers.google.com/workspace/drive/labels/guides/update-label). The batch update is all-or-nothing: If any of the update requests are invalid, no changes are applied. The resulting draft revision must be published before the changes may be used with Drive items.",
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponse"
          },
          "path": "v2/{+name}:delta",
          "parameters": {
            "name": {
              "description": "Required. The resource name of the label to update.",
              "location": "path",
              "type": "string",
              "pattern": "^labels/[^/]+$",
              "required": true
            }
          },
          "id": "drivelabels.labels.delta"
        },
        "enable": {
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2EnableLabelRequest"
          },
          "path": "v2/{+name}:enable",
          "parameters": {
            "name": {
              "description": "Required. Label resource name.",
              "location": "path",
              "type": "string",
              "pattern": "^labels/[^/]+$",
              "required": true
            }
          },
          "id": "drivelabels.labels.enable",
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "description": "Enable a disabled label and restore it to its published state. For more information, see [Disable, enable, and delete a label](https://developers.google.com/workspace/drive/labels/guides/disable-delete-label). This will result in a new published revision based on the current disabled published revision. If there's an existing disabled draft revision, a new revision will be created based on that draft and will be enabled.",
          "flatPath": "v2/labels/{labelsId}:enable",
          "parameterOrder": [
            "name"
          ]
        }
      },
      "resources": {
        "permissions": {
          "methods": {
            "batchDelete": {
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2BatchDeleteLabelPermissionsRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/labels/{labelsId}/permissions:batchDelete",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "description": "Deletes label permissions. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "POST",
              "id": "drivelabels.labels.permissions.batchDelete",
              "path": "v2/{+parent}/permissions:batchDelete",
              "parameters": {
                "parent": {
                  "description": "Required. The parent label resource name shared by all permissions being deleted. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^labels/[^/]+$",
                  "required": true
                }
              }
            },
            "list": {
              "flatPath": "v2/labels/{labelsId}/permissions",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                "https://www.googleapis.com/auth/drive.labels",
                "https://www.googleapis.com/auth/drive.labels.readonly"
              ],
              "description": "Lists a label's permissions.",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2ListLabelPermissionsResponse"
              },
              "path": "v2/{+parent}/permissions",
              "parameters": {
                "useAdminAccess": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The parent label resource name on which label permissions are listed. Format: `labels/{label}`.",
                  "pattern": "^labels/[^/]+$",
                  "required": true
                },
                "pageSize": {
                  "description": "Maximum number of permissions to return per page. Default: 50. Max: 200.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "The token of the page to return.",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "drivelabels.labels.permissions.list"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/labels/{labelsId}/permissions",
              "id": "drivelabels.labels.permissions.create",
              "path": "v2/{+parent}/permissions",
              "parameters": {
                "useAdminAccess": {
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                  "location": "query",
                  "type": "boolean"
                },
                "parent": {
                  "pattern": "^labels/[^/]+$",
                  "required": true,
                  "description": "Required. The parent label resource name on the label permission is created. Format: `labels/{label}`.",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
              }
            },
            "delete": {
              "flatPath": "v2/labels/{labelsId}/permissions/{permissionsId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "description": "Deletes a label's permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v2/{+name}",
              "parameters": {
                "useAdminAccess": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
                },
                "name": {
                  "pattern": "^labels/[^/]+/permissions/.*$",
                  "required": true,
                  "description": "Required. Label permission resource name.",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "drivelabels.labels.permissions.delete"
            },
            "batchUpdate": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/labels/{labelsId}/permissions:batchUpdate",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "description": "Updates label permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsResponse"
              },
              "httpMethod": "POST",
              "id": "drivelabels.labels.permissions.batchUpdate",
              "path": "v2/{+parent}/permissions:batchUpdate",
              "parameters": {
                "parent": {
                  "pattern": "^labels/[^/]+$",
                  "required": true,
                  "description": "Required. The parent label resource name shared by all permissions being updated. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
                  "location": "path",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsRequest"
              }
            }
          }
        },
        "revisions": {
          "methods": {
            "updatePermissions": {
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
              },
              "path": "v2/{+parent}/permissions",
              "parameters": {
                "useAdminAccess": {
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                  "location": "query",
                  "type": "boolean"
                },
                "parent": {
                  "pattern": "^labels/[^/]+/revisions/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The parent label resource name."
                }
              },
              "id": "drivelabels.labels.revisions.updatePermissions",
              "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/permissions",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
              }
            }
          },
          "resources": {
            "permissions": {
              "methods": {
                "batchDelete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
                  "description": "Deletes label permissions. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/permissions:batchDelete",
                  "id": "drivelabels.labels.revisions.permissions.batchDelete",
                  "path": "v2/{+parent}/permissions:batchDelete",
                  "parameters": {
                    "parent": {
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "required": true,
                      "description": "Required. The parent label resource name shared by all permissions being deleted. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleAppsDriveLabelsV2BatchDeleteLabelPermissionsRequest"
                  }
                },
                "list": {
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2ListLabelPermissionsResponse"
                  },
                  "httpMethod": "GET",
                  "id": "drivelabels.labels.revisions.permissions.list",
                  "path": "v2/{+parent}/permissions",
                  "parameters": {
                    "useAdminAccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent label resource name on which label permissions are listed. Format: `labels/{label}`.",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "required": true
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Maximum number of permissions to return per page. Default: 50. Max: 200."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The token of the page to return."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/permissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                    "https://www.googleapis.com/auth/drive.labels",
                    "https://www.googleapis.com/auth/drive.labels.readonly"
                  ],
                  "description": "Lists a label's permissions."
                },
                "create": {
                  "request": {
                    "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/permissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
                  "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
                  },
                  "httpMethod": "POST",
                  "id": "drivelabels.labels.revisions.permissions.create",
                  "path": "v2/{+parent}/permissions",
                  "parameters": {
                    "useAdminAccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
                    },
                    "parent": {
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent label resource name on the label permission is created. Format: `labels/{label}`."
                    }
                  }
                },
                "batchUpdate": {
                  "request": {
                    "$ref": "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/permissions:batchUpdate",
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
                  "description": "Updates label permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsResponse"
                  },
                  "httpMethod": "POST",
                  "id": "drivelabels.labels.revisions.permissions.batchUpdate",
                  "path": "v2/{+parent}/permissions:batchUpdate",
                  "parameters": {
                    "parent": {
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "required": true,
                      "description": "Required. The parent label resource name shared by all permissions being updated. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v2/{+name}",
                  "parameters": {
                    "useAdminAccess": {
                      "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Label permission resource name.",
                      "pattern": "^labels/[^/]+/revisions/[^/]+/permissions/.*$",
                      "required": true
                    }
                  },
                  "id": "drivelabels.labels.revisions.permissions.delete",
                  "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/permissions/{permissionsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
                  "description": "Deletes a label's permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing."
                }
              }
            },
            "locks": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2ListLabelLocksResponse"
                  },
                  "path": "v2/{+parent}/locks",
                  "parameters": {
                    "parent": {
                      "description": "Required. Label on which locks are applied. Format: `labels/{label}`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "required": true
                    },
                    "pageSize": {
                      "description": "Maximum number of locks to return per page. Default: 100. Max: 200.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The token of the page to return."
                    }
                  },
                  "id": "drivelabels.labels.revisions.locks.list",
                  "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/locks",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                    "https://www.googleapis.com/auth/drive.labels",
                    "https://www.googleapis.com/auth/drive.labels.readonly"
                  ],
                  "description": "Lists the label locks on a label."
                }
              }
            }
          }
        },
        "locks": {
          "methods": {
            "list": {
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2ListLabelLocksResponse"
              },
              "httpMethod": "GET",
              "id": "drivelabels.labels.locks.list",
              "path": "v2/{+parent}/locks",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Label on which locks are applied. Format: `labels/{label}`.",
                  "pattern": "^labels/[^/]+$",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of locks to return per page. Default: 100. Max: 200."
                },
                "pageToken": {
                  "description": "The token of the page to return.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/labels/{labelsId}/locks",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                "https://www.googleapis.com/auth/drive.labels",
                "https://www.googleapis.com/auth/drive.labels.readonly"
              ],
              "description": "Lists the label locks on a label."
            }
          }
        }
      }
    },
    "users": {
      "methods": {
        "getCapabilities": {
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "description": "Gets the user capabilities.",
          "flatPath": "v2/users/{usersId}/capabilities",
          "parameterOrder": [
            "name"
          ],
          "path": "v2/{+name}",
          "parameters": {
            "name": {
              "pattern": "^users/[^/]+/capabilities$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The resource name of the user. Only \"users/me/capabilities\" is supported."
            },
            "customer": {
              "description": "The customer to scope this request to. For example: `customers/abcd1234`. If unset, it will return settings within the current customer.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "drivelabels.users.getCapabilities",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2UserCapabilities"
          }
        }
      }
    },
    "limits": {
      "methods": {
        "getLabel": {
          "id": "drivelabels.limits.getLabel",
          "path": "v2/limits/label",
          "parameters": {
            "name": {
              "description": "Required. Label revision resource name must be: \"limits/label\".",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2LabelLimits"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "description": "Get the constraints on the structure of a label; such as, the maximum number of fields allowed and maximum length of the label title.",
          "parameterOrder": [],
          "flatPath": "v2/limits/label"
        }
      }
    }
  },
  "schemas": {
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceAppliedCapabilities": {
      "type": "object",
      "properties": {
        "canRead": {
          "description": "Whether the user can read related applied metadata on items.",
          "type": "boolean"
        },
        "canSearch": {
          "description": "Whether the user can use this choice in search queries.",
          "type": "boolean"
        },
        "canSelect": {
          "description": "Whether the user can select this choice on an item.",
          "type": "boolean"
        }
      },
      "description": "The capabilities related to this choice on applied metadata.",
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceAppliedCapabilities"
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptions": {
      "type": "object",
      "properties": {
        "listOptions": {
          "description": "When specified, indicates this field supports a list of values. Once the field is published, this cannot be changed.",
          "$ref": "GoogleAppsDriveLabelsV2FieldListOptions"
        },
        "choices": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoice"
          },
          "description": "The options available for this selection field. The list order is consistent, and modified with `insert_before_choice`."
        }
      },
      "description": "Options for the selection field type.",
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptions"
    },
    "GoogleAppsDriveLabelsV2LabelAppliedLabelPolicy": {
      "type": "object",
      "properties": {
        "copyMode": {
          "description": "Indicates how the applied label and field values should be copied when a Drive item is copied.",
          "type": "string",
          "enumDescriptions": [
            "Copy mode unspecified.",
            "The applied label and field values aren't copied by default when the Drive item it's applied to is copied.",
            "The applied label and field values are always copied when the Drive item it's applied to is copied. Only admins can use this mode.",
            "The applied label and field values are copied if the label is appliable by the user making the copy."
          ],
          "enum": [
            "COPY_MODE_UNSPECIFIED",
            "DO_NOT_COPY",
            "ALWAYS_COPY",
            "COPY_APPLIABLE"
          ]
        }
      },
      "id": "GoogleAppsDriveLabelsV2LabelAppliedLabelPolicy",
      "description": "Behavior of this label when it's applied to Drive items."
    },
    "GoogleAppsDriveLabelsV2LongTextLimits": {
      "id": "GoogleAppsDriveLabelsV2LongTextLimits",
      "description": "Limits for long text field type.",
      "type": "object",
      "properties": {
        "maxLength": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum length allowed for a long text field type."
        },
        "minLength": {
          "description": "Minimum length allowed for a long text field type.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleAppsDriveLabelsV2ListLabelPermissionsResponse": {
      "id": "GoogleAppsDriveLabelsV2ListLabelPermissionsResponse",
      "description": "Response for listing the permissions on a label.",
      "type": "object",
      "properties": {
        "labelPermissions": {
          "description": "Label permissions.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
          }
        },
        "nextPageToken": {
          "description": "The token of the next page in the response.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2LockStatus": {
      "id": "GoogleAppsDriveLabelsV2LockStatus",
      "description": "Contains information about whether a label component should be considered locked.",
      "type": "object",
      "properties": {
        "locked": {
          "type": "boolean",
          "description": "Output only. Indicates whether this label component is the (direct) target of a label lock. A label component can be implicitly locked even if it's not the direct target of a label lock, in which case this field is set to false.",
          "readOnly": true
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableFieldRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableFieldRequest",
      "description": "Request to enable the field.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Required. ID of the field to enable.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2BadgeColors": {
      "type": "object",
      "properties": {
        "soloColor": {
          "description": "Output only. Color that can be used for text without a background.",
          "readOnly": true,
          "$ref": "GoogleTypeColor"
        },
        "backgroundColor": {
          "description": "Output only. Badge background that pairs with the foreground.",
          "readOnly": true,
          "$ref": "GoogleTypeColor"
        },
        "foregroundColor": {
          "description": "Output only. Badge foreground that pairs with the background.",
          "readOnly": true,
          "$ref": "GoogleTypeColor"
        }
      },
      "description": "The color derived from BadgeConfig and changed to the closest recommended supported color.",
      "id": "GoogleAppsDriveLabelsV2BadgeColors"
    },
    "GoogleAppsDriveLabelsV2UpdateLabelPermissionRequest": {
      "type": "object",
      "properties": {
        "parent": {
          "description": "Required. The parent label resource name.",
          "type": "string"
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "labelPermission": {
          "description": "Required. The permission to create or update on the label.",
          "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
        }
      },
      "description": "Updates a label permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
      "id": "GoogleAppsDriveLabelsV2UpdateLabelPermissionRequest"
    },
    "GoogleAppsDriveLabelsV2LabelSchemaCapabilities": {
      "description": "The capabilities related to this label when editing the label.",
      "id": "GoogleAppsDriveLabelsV2LabelSchemaCapabilities",
      "type": "object",
      "properties": {
        "canUpdate": {
          "description": "Whether the user can change this label.",
          "type": "boolean"
        },
        "canDelete": {
          "description": "Whether the user can delete this label. The user must have permission and the label must be disabled.",
          "type": "boolean"
        },
        "canDisable": {
          "description": "Whether the user can disable this label. The user must have permission and this label must not already be disabled.",
          "type": "boolean"
        },
        "canEnable": {
          "description": "Whether the user can enable this label. The user must have permission and this label must be disabled.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceSchemaCapabilities": {
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceSchemaCapabilities",
      "description": "The capabilities related to this choice when editing the choice.",
      "type": "object",
      "properties": {
        "canUpdate": {
          "description": "Whether the user can update this choice.",
          "type": "boolean"
        },
        "canDelete": {
          "description": "Whether the user can delete this choice.",
          "type": "boolean"
        },
        "canDisable": {
          "description": "Whether the user can disable this choice.",
          "type": "boolean"
        },
        "canEnable": {
          "description": "Whether the user can enable this choice.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DisableLabelRequest": {
      "type": "object",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        },
        "writeControl": {
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins.",
          "$ref": "GoogleAppsDriveLabelsV2WriteControl"
        },
        "disabledPolicy": {
          "description": "Disabled policy to use.",
          "$ref": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy"
        }
      },
      "description": "Request to deprecate a published label.",
      "id": "GoogleAppsDriveLabelsV2DisableLabelRequest"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateLabelPropertiesRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateLabelPropertiesRequest",
      "description": "Updates basic properties of a label.",
      "type": "object",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `label_properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
        },
        "properties": {
          "description": "Required. Label properties to update.",
          "$ref": "GoogleAppsDriveLabelsV2LabelProperties"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteSelectionChoiceResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteSelectionChoiceResponse",
      "description": "Response following choice delete."
    },
    "GoogleAppsDriveLabelsV2FieldUserOptions": {
      "type": "object",
      "properties": {
        "listOptions": {
          "description": "When specified, indicates that this field supports a list of values. Once the field is published, this cannot be changed.",
          "$ref": "GoogleAppsDriveLabelsV2FieldListOptions"
        }
      },
      "description": "Options for the user field type.",
      "id": "GoogleAppsDriveLabelsV2FieldUserOptions"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldTypeRequest": {
      "type": "object",
      "properties": {
        "dateOptions": {
          "description": "Update field to Date.",
          "$ref": "GoogleAppsDriveLabelsV2FieldDateOptions"
        },
        "integerOptions": {
          "description": "Update field to Integer.",
          "$ref": "GoogleAppsDriveLabelsV2FieldIntegerOptions"
        },
        "id": {
          "description": "Required. The field to update.",
          "type": "string"
        },
        "selectionOptions": {
          "description": "Update field to Selection.",
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptions"
        },
        "userOptions": {
          "description": "Update field to User.",
          "$ref": "GoogleAppsDriveLabelsV2FieldUserOptions"
        },
        "textOptions": {
          "description": "Update field to Text.",
          "$ref": "GoogleAppsDriveLabelsV2FieldTextOptions"
        },
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root of `type_options` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "description": "Request to change the type of a field.",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldTypeRequest"
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceDisplayHints": {
      "description": "UI display hints for rendering an option.",
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceDisplayHints",
      "type": "object",
      "properties": {
        "badgePriority": {
          "type": "string",
          "format": "int64",
          "description": "The priority of this badge. Used to compare and sort between multiple badges. A lower number means the badge should be shown first. When a badging configuration is not present, this will be 0. Otherwise, this will be set to `BadgeConfig.priority_override` or the default heuristic which prefers creation date of the label, and field and option priority."
        },
        "hiddenInSearch": {
          "description": "This option should be hidden in the search menu when searching for Drive items.",
          "type": "boolean"
        },
        "disabled": {
          "description": "Whether the option should be shown in the UI as disabled.",
          "type": "boolean"
        },
        "shownInApply": {
          "description": "This option should be shown in the apply menu when applying values to a Drive item.",
          "type": "boolean"
        },
        "badgeColors": {
          "description": "The colors to use for the badge. Changed to Google Material colors based on the chosen `properties.badge_config.color`.",
          "$ref": "GoogleAppsDriveLabelsV2BadgeColors"
        },
        "darkBadgeColors": {
          "description": "The dark-mode color to use for the badge. Changed to Google Material colors based on the chosen `properties.badge_config.color`.",
          "$ref": "GoogleAppsDriveLabelsV2BadgeColors"
        }
      }
    },
    "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy": {
      "type": "object",
      "properties": {
        "hideInSearch": {
          "description": "Whether to hide this disabled object in the search menu for Drive items. * When `false`, the object is generally shown in the UI as disabled but it appears in the search results when searching for Drive items. * When `true`, the object is generally hidden in the UI when searching for Drive items.",
          "type": "boolean"
        },
        "showInApply": {
          "description": "Whether to show this disabled object in the apply menu on Drive items. * When `true`, the object is generally shown in the UI as disabled and is unselectable. * When `false`, the object is generally hidden in the UI.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy",
      "description": "The policy that governs how to treat a disabled label, field, or selection choice in different contexts."
    },
    "GoogleAppsDriveLabelsV2FieldLimits": {
      "id": "GoogleAppsDriveLabelsV2FieldLimits",
      "description": "Field constants governing the structure of a field; such as, the maximum title length, minimum and maximum field values or length, etc.",
      "type": "object",
      "properties": {
        "maxDescriptionLength": {
          "type": "integer",
          "format": "int32",
          "description": "Limits for field description, also called help text."
        },
        "textLimits": {
          "description": "The relevant limits for the specified Field.Type. Text field limits.",
          "$ref": "GoogleAppsDriveLabelsV2TextLimits"
        },
        "selectionLimits": {
          "description": "Selection field limits.",
          "$ref": "GoogleAppsDriveLabelsV2SelectionLimits"
        },
        "maxIdLength": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum length for the id."
        },
        "userLimits": {
          "description": "User field limits.",
          "$ref": "GoogleAppsDriveLabelsV2UserLimits"
        },
        "maxDisplayNameLength": {
          "description": "Limits for field title.",
          "type": "integer",
          "format": "int32"
        },
        "integerLimits": {
          "description": "Integer field limits.",
          "$ref": "GoogleAppsDriveLabelsV2IntegerLimits"
        },
        "longTextLimits": {
          "description": "Long text field limits.",
          "$ref": "GoogleAppsDriveLabelsV2LongTextLimits"
        },
        "dateLimits": {
          "description": "Date field limits.",
          "$ref": "GoogleAppsDriveLabelsV2DateLimits"
        }
      }
    },
    "GoogleAppsDriveLabelsV2LabelDisplayHints": {
      "type": "object",
      "properties": {
        "hiddenInSearch": {
          "description": "This label should be hidden in the search menu when searching for Drive items.",
          "type": "boolean"
        },
        "priority": {
          "description": "The order to display labels in a list.",
          "format": "int64",
          "type": "string"
        },
        "disabled": {
          "description": "Whether the label should be shown in the UI as disabled.",
          "type": "boolean"
        },
        "shownInApply": {
          "description": "This label should be shown in the apply menu when applying values to a Drive item.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2LabelDisplayHints",
      "description": "The UI display hints for rendering the label."
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceProperties": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Required. The display text to show in the UI identifying this field.",
          "type": "string"
        },
        "description": {
          "description": "The description of this label.",
          "type": "string"
        },
        "badgeConfig": {
          "description": "The badge configuration for this choice. When set, the label that owns this choice is considered a \"badged label\".",
          "$ref": "GoogleAppsDriveLabelsV2BadgeConfig"
        },
        "insertBeforeChoice": {
          "description": "Input only. Insert or move this choice before the indicated choice. If empty, the choice is placed at the end of the list.",
          "type": "string"
        }
      },
      "description": "Basic properties of the choice.",
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceProperties"
    },
    "GoogleAppsDriveLabelsV2FieldTextOptions": {
      "description": "Options for the Text field type.",
      "id": "GoogleAppsDriveLabelsV2FieldTextOptions",
      "type": "object",
      "properties": {
        "minLength": {
          "description": "Output only. The minimum valid length of values for the text field.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "maxLength": {
          "description": "Output only. The maximum valid length of values for the text field.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteFieldResponse": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteFieldResponse",
      "description": "Response following field delete.",
      "type": "object",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2DateLimits": {
      "type": "object",
      "properties": {
        "maxValue": {
          "description": "Maximum value for the date field type.",
          "$ref": "GoogleTypeDate"
        },
        "minValue": {
          "description": "Minimum value for the date field type.",
          "$ref": "GoogleTypeDate"
        }
      },
      "description": "Limits for date field type.",
      "id": "GoogleAppsDriveLabelsV2DateLimits"
    },
    "GoogleAppsDriveLabelsV2PublishLabelRequest": {
      "type": "object",
      "properties": {
        "writeControl": {
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins.",
          "$ref": "GoogleAppsDriveLabelsV2WriteControl"
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        }
      },
      "description": "Request to publish a label.",
      "id": "GoogleAppsDriveLabelsV2PublishLabelRequest"
    },
    "GoogleAppsDriveLabelsV2FieldListOptions": {
      "description": "Options for a multi-valued variant of an associated field type.",
      "id": "GoogleAppsDriveLabelsV2FieldListOptions",
      "type": "object",
      "properties": {
        "maxEntries": {
          "description": "Maximum number of entries permitted.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleAppsDriveLabelsV2FieldProperties": {
      "id": "GoogleAppsDriveLabelsV2FieldProperties",
      "description": "The basic properties of the field.",
      "type": "object",
      "properties": {
        "required": {
          "description": "Whether the field should be marked as required.",
          "type": "boolean"
        },
        "displayName": {
          "description": "Required. The display text to show in the UI identifying this field.",
          "type": "string"
        },
        "insertBeforeField": {
          "description": "Input only. Insert or move this field before the indicated field. If empty, the field is placed at the end of the list.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2EnableLabelRequest": {
      "id": "GoogleAppsDriveLabelsV2EnableLabelRequest",
      "description": "Request to enable a label.",
      "type": "object",
      "properties": {
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        },
        "writeControl": {
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins.",
          "$ref": "GoogleAppsDriveLabelsV2WriteControl"
        }
      }
    },
    "GoogleAppsDriveLabelsV2BadgeConfig": {
      "type": "object",
      "properties": {
        "color": {
          "description": "The color of the badge. When not specified, no badge is rendered. The background, foreground, and solo (light and dark mode) colors set here are changed in the Drive UI into the closest recommended supported color.",
          "$ref": "GoogleTypeColor"
        },
        "priorityOverride": {
          "description": "Override the default global priority of this badge. When set to 0, the default priority heuristic is used.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Badge status of the label.",
      "id": "GoogleAppsDriveLabelsV2BadgeConfig"
    },
    "GoogleAppsDriveLabelsV2UpdateLabelCopyModeRequest": {
      "description": "Request to update the `CopyMode` of the given label. Changes to this policy aren't revisioned, don't require publishing, and take effect immediately. \\",
      "id": "GoogleAppsDriveLabelsV2UpdateLabelCopyModeRequest",
      "type": "object",
      "properties": {
        "copyMode": {
          "type": "string",
          "enumDescriptions": [
            "Copy mode unspecified.",
            "The applied label and field values aren't copied by default when the Drive item it's applied to is copied.",
            "The applied label and field values are always copied when the Drive item it's applied to is copied. Only admins can use this mode.",
            "The applied label and field values are copied if the label is appliable by the user making the copy."
          ],
          "enum": [
            "COPY_MODE_UNSPECIFIED",
            "DO_NOT_COPY",
            "ALWAYS_COPY",
            "COPY_APPLIABLE"
          ],
          "description": "Required. Indicates how the applied label and field values should be copied when a Drive item is copied."
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        },
        "view": {
          "type": "string",
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ],
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ],
          "description": "When specified, only certain fields belonging to the indicated view will be returned."
        }
      }
    },
    "GoogleAppsDriveLabelsV2UpdateLabelEnabledAppSettingsRequest": {
      "type": "object",
      "properties": {
        "enabledAppSettings": {
          "description": "Required. The new `EnabledAppSettings` value for the label.",
          "$ref": "GoogleAppsDriveLabelsV2LabelEnabledAppSettings"
        },
        "view": {
          "description": "Optional. When specified, only certain fields belonging to the indicated view will be returned.",
          "type": "string",
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ],
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ]
        },
        "useAdminAccess": {
          "description": "Optional. Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "languageCode": {
          "description": "Optional. The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        }
      },
      "description": "Request to update the `EnabledAppSettings` of the given label. This change is not revisioned, doesn't require publishing, and takes effect immediately. \\",
      "id": "GoogleAppsDriveLabelsV2UpdateLabelEnabledAppSettingsRequest"
    },
    "GoogleAppsDriveLabelsV2LabelProperties": {
      "id": "GoogleAppsDriveLabelsV2LabelProperties",
      "description": "Basic properties of the label.",
      "type": "object",
      "properties": {
        "title": {
          "description": "Required. Title of the label.",
          "type": "string"
        },
        "description": {
          "description": "The description of the label.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2Lifecycle": {
      "type": "object",
      "properties": {
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Unknown State.",
            "The initial state of an object. Once published, the object can never return to this state. Once an object is published, certain kinds of changes are no longer permitted.",
            "The object has been published. The object might have unpublished draft changes as indicated by `has_unpublished_changes`.",
            "The object has been published and has since been disabled. The object might have unpublished draft changes as indicated by `has_unpublished_changes`.",
            "The object has been deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "UNPUBLISHED_DRAFT",
            "PUBLISHED",
            "DISABLED",
            "DELETED"
          ],
          "description": "Output only. The state of the object associated with this lifecycle.",
          "type": "string"
        },
        "disabledPolicy": {
          "description": "The policy that governs how to show a disabled label, field, or selection choice.",
          "$ref": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy"
        },
        "hasUnpublishedChanges": {
          "type": "boolean",
          "description": "Output only. Whether the object associated with this lifecycle has unpublished changes.",
          "readOnly": true
        }
      },
      "id": "GoogleAppsDriveLabelsV2Lifecycle",
      "description": "The lifecycle state of an object, such as label, field, or choice. For more information, see [Label lifecycle](https://developers.google.com/workspace/drive/labels/guides/label-lifecycle). The lifecycle enforces the following transitions: * `UNPUBLISHED_DRAFT` (starting state) * `UNPUBLISHED_DRAFT` -> `PUBLISHED` * `UNPUBLISHED_DRAFT` -> (Deleted) * `PUBLISHED` -> `DISABLED` * `DISABLED` -> `PUBLISHED` * `DISABLED` -> (Deleted) The published and disabled states have some distinct characteristics: * `Published`: Some kinds of changes might be made to an object in this state, in which case `has_unpublished_changes` will be true. Also, some kinds of changes aren't permitted. Generally, any change that would invalidate or cause new restrictions on existing metadata related to the label are rejected. * `Disabled`: When disabled, the configured `DisabledPolicy` takes effect."
    },
    "GoogleAppsDriveLabelsV2LabelAppliedCapabilities": {
      "id": "GoogleAppsDriveLabelsV2LabelAppliedCapabilities",
      "description": "The capabilities a user has on this label's applied metadata.",
      "type": "object",
      "properties": {
        "canRead": {
          "description": "Whether the user can read applied metadata related to this label.",
          "type": "boolean"
        },
        "canApply": {
          "description": "Whether the user can apply this label to items.",
          "type": "boolean"
        },
        "canRemove": {
          "description": "Whether the user can remove this label from items.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2FieldAppliedCapabilities": {
      "description": "The capabilities related to this field on applied metadata.",
      "id": "GoogleAppsDriveLabelsV2FieldAppliedCapabilities",
      "type": "object",
      "properties": {
        "canSearch": {
          "description": "Whether the user can search for Drive items referencing this field.",
          "type": "boolean"
        },
        "canWrite": {
          "description": "Whether the user can set this field on Drive items.",
          "type": "boolean"
        },
        "canRead": {
          "description": "Whether the user can read related applied metadata on items.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2LabelLimits": {
      "type": "object",
      "properties": {
        "maxDraftRevisions": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of draft revisions that will be kept before deleting old drafts."
        },
        "maxTitleLength": {
          "description": "The maximum number of characters allowed for the title.",
          "format": "int32",
          "type": "integer"
        },
        "maxDescriptionLength": {
          "description": "The maximum number of characters allowed for the description.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "Resource name.",
          "type": "string"
        },
        "maxFields": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of fields allowed within the label."
        },
        "fieldLimits": {
          "description": "The limits for fields.",
          "$ref": "GoogleAppsDriveLabelsV2FieldLimits"
        },
        "maxDeletedFields": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of published fields that can be deleted."
        }
      },
      "id": "GoogleAppsDriveLabelsV2LabelLimits",
      "description": "Label constraints governing the structure of a label; such as, the maximum number of fields allowed and maximum length of the label title."
    },
    "GoogleAppsDriveLabelsV2ListLabelLocksResponse": {
      "type": "object",
      "properties": {
        "labelLocks": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2LabelLock"
          },
          "description": "Label locks."
        },
        "nextPageToken": {
          "description": "The token of the next page in the response.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2ListLabelLocksResponse",
      "description": "The response to a `ListLabelLocksRequest`."
    },
    "GoogleAppsDriveLabelsV2FieldDateOptions": {
      "type": "object",
      "properties": {
        "minValue": {
          "description": "Output only. Minimum valid value (year, month, day).",
          "readOnly": true,
          "$ref": "GoogleTypeDate"
        },
        "dateFormatType": {
          "type": "string",
          "enumDescriptions": [
            "Date format unspecified.",
            "Includes full month name. For example, January 12, 1999 (MMMM d, y)",
            "Short, numeric, representation. For example, 12/13/99 (M/d/yy)"
          ],
          "enum": [
            "DATE_FORMAT_UNSPECIFIED",
            "LONG_DATE",
            "SHORT_DATE"
          ],
          "description": "Localized date formatting option. Field values are rendered in this format according to their locale."
        },
        "dateFormat": {
          "description": "Output only. ICU date format.",
          "readOnly": true,
          "type": "string"
        },
        "maxValue": {
          "description": "Output only. Maximum valid value (year, month, day).",
          "readOnly": true,
          "$ref": "GoogleTypeDate"
        }
      },
      "id": "GoogleAppsDriveLabelsV2FieldDateOptions",
      "description": "Options for the date field type."
    },
    "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsResponse": {
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
          },
          "description": "Required. Permissions updated."
        }
      },
      "description": "Response for updating one or more label permissions.",
      "id": "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsResponse"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateLabelPropertiesResponse": {
      "type": "object",
      "properties": {},
      "description": "Response following update to label properties.",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateLabelPropertiesResponse"
    },
    "GoogleAppsDriveLabelsV2LabelPermission": {
      "description": "The permission that applies to a principal (user, group, audience) on a label.",
      "id": "GoogleAppsDriveLabelsV2LabelPermission",
      "type": "object",
      "properties": {
        "audience": {
          "description": "Audience to grant a role to. The magic value of `audiences/default` may be used to apply the role to the default audience in the context of the organization that owns the label.",
          "type": "string"
        },
        "group": {
          "description": "Group resource name.",
          "type": "string"
        },
        "name": {
          "description": "Resource name of this permission.",
          "type": "string"
        },
        "email": {
          "description": "Specifies the email address for a user or group principal. Not populated for audience principals. User and group permissions may only be inserted using an email address. On update requests, if email address is specified, no principal should be specified.",
          "type": "string"
        },
        "role": {
          "type": "string",
          "enumDescriptions": [
            "Unknown role.",
            "A reader can read the label and associated metadata applied to Drive items.",
            "An applier can write associated metadata on Drive items in which they also have write access to. Implies `READER`.",
            "An organizer can pin this label in shared drives they manage and add new appliers to the label.",
            "Editors can make any update including deleting the label which also deletes the associated Drive item metadata. Implies `APPLIER`."
          ],
          "enum": [
            "LABEL_ROLE_UNSPECIFIED",
            "READER",
            "APPLIER",
            "ORGANIZER",
            "EDITOR"
          ],
          "description": "The role the principal should have."
        },
        "person": {
          "description": "Person resource name.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2IntegerLimits": {
      "id": "GoogleAppsDriveLabelsV2IntegerLimits",
      "description": "Limits for integer field type.",
      "type": "object",
      "properties": {
        "maxValue": {
          "description": "Maximum value for an integer field type.",
          "format": "int64",
          "type": "string"
        },
        "minValue": {
          "description": "Minimum value for an integer field type.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleAppsDriveLabelsV2BatchDeleteLabelPermissionsRequest": {
      "type": "object",
      "properties": {
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access. If this is set, the `use_admin_access` field in the `DeleteLabelPermissionRequest` messages must either be empty or match this field.",
          "type": "boolean"
        },
        "requests": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2DeleteLabelPermissionRequest"
          },
          "description": "Required. The request message specifying the resources to update."
        }
      },
      "description": "Deletes one or more label permissions.",
      "id": "GoogleAppsDriveLabelsV2BatchDeleteLabelPermissionsRequest"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableSelectionChoiceRequest": {
      "type": "object",
      "properties": {
        "fieldId": {
          "description": "Required. The selection field in which a choice will be disabled.",
          "type": "string"
        },
        "id": {
          "description": "Required. Choice to disable.",
          "type": "string"
        },
        "disabledPolicy": {
          "description": "Required. The disabled policy to update.",
          "$ref": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
        }
      },
      "description": "Request to disable a choice.",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableSelectionChoiceRequest"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteSelectionChoiceRequest": {
      "type": "object",
      "properties": {
        "fieldId": {
          "description": "Required. The selection field from which a choice will be deleted.",
          "type": "string"
        },
        "id": {
          "description": "Required. Choice to delete.",
          "type": "string"
        }
      },
      "description": "Request to delete a choice.",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteSelectionChoiceRequest"
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseResponse": {
      "type": "object",
      "properties": {
        "updateField": {
          "description": "Updates basic properties of a field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldPropertiesResponse"
        },
        "deleteField": {
          "description": "Deletes a field from the label.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteFieldResponse"
        },
        "disableField": {
          "description": "Disables field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableFieldResponse"
        },
        "enableSelectionChoice": {
          "description": "Enables a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableSelectionChoiceResponse"
        },
        "updateFieldType": {
          "description": "Updates field type and/or type options.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldTypeResponse"
        },
        "disableSelectionChoice": {
          "description": "Disables a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableSelectionChoiceResponse"
        },
        "createSelectionChoice": {
          "description": "Creates a selection list option to add to a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateSelectionChoiceResponse"
        },
        "updateLabel": {
          "description": "Updates basic properties of a label.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateLabelPropertiesResponse"
        },
        "createField": {
          "description": "Creates a field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateFieldResponse"
        },
        "enableField": {
          "description": "Enables field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableFieldResponse"
        },
        "deleteSelectionChoice": {
          "description": "Deletes a choice from a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteSelectionChoiceResponse"
        },
        "updateSelectionChoiceProperties": {
          "description": "Updates a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse"
        }
      },
      "description": "A single response from an update.",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseResponse"
    },
    "GoogleAppsDriveLabelsV2UserCapabilities": {
      "id": "GoogleAppsDriveLabelsV2UserCapabilities",
      "description": "The capabilities of a user.",
      "type": "object",
      "properties": {
        "canAccessLabelManager": {
          "type": "boolean",
          "description": "Output only. Whether the user is allowed access to the label manager.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name for the user capabilities.",
          "readOnly": true
        },
        "canAdministrateLabels": {
          "description": "Output only. Whether the user is an administrator for the shared labels feature.",
          "readOnly": true,
          "type": "boolean"
        },
        "canCreateAdminLabels": {
          "type": "boolean",
          "description": "Output only. Whether the user is allowed to create admin labels.",
          "readOnly": true
        },
        "canCreateSharedLabels": {
          "type": "boolean",
          "description": "Output only. Whether the user is allowed to create shared labels.",
          "readOnly": true
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableFieldResponse": {
      "description": "Response following field enable.",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableFieldResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableSelectionChoiceResponse": {
      "description": "Response following choice disable.",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableSelectionChoiceResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoice": {
      "type": "object",
      "properties": {
        "schemaCapabilities": {
          "description": "Output only. The capabilities related to this option when editing the option.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceSchemaCapabilities"
        },
        "lockStatus": {
          "description": "Output only. The `LockStatus` of this choice.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2LockStatus"
        },
        "id": {
          "description": "The unique value of the choice. This ID is autogenerated. Matches the regex: `([a-zA-Z0-9_])+`.",
          "type": "string"
        },
        "lifecycle": {
          "description": "Output only. Lifecycle of the choice.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2Lifecycle"
        },
        "appliedCapabilities": {
          "description": "Output only. The capabilities related to this choice on applied metadata.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceAppliedCapabilities"
        },
        "updater": {
          "description": "Output only. The user who updated this choice last.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        },
        "properties": {
          "description": "Basic properties of the choice.",
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceProperties"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this choice was created.",
          "readOnly": true
        },
        "disabler": {
          "description": "Output only. The user who disabled this choice. This value has no meaning when the option is not disabled.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        },
        "publishTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this choice was published. This value has no meaning when the choice is not published.",
          "readOnly": true
        },
        "displayHints": {
          "description": "Output only. UI display hints for rendering a choice.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceDisplayHints"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this choice was updated last.",
          "readOnly": true
        },
        "publisher": {
          "description": "Output only. The user who published this choice. This value has no meaning when the choice is not published.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        },
        "disableTime": {
          "description": "Output only. The time this choice was disabled. This value has no meaning when the choice is not disabled.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "creator": {
          "description": "Output only. The user who created this choice.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        }
      },
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoice",
      "description": "Selection field choice."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableSelectionChoiceResponse": {
      "description": "Response following choice enable.",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableSelectionChoiceResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2LabelLock": {
      "id": "GoogleAppsDriveLabelsV2LabelLock",
      "description": "A lock that can be applied to a label, field, or choice.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of this label lock.",
          "readOnly": true,
          "type": "string"
        },
        "fieldId": {
          "description": "The ID of the field that should be locked. Empty if the whole label should be locked.",
          "type": "string"
        },
        "choiceId": {
          "description": "The ID of the selection field choice that should be locked. If present, `field_id` must also be present.",
          "type": "string"
        },
        "capabilities": {
          "description": "Output only. The user's capabilities on this label lock.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2LabelLockCapabilities"
        },
        "createTime": {
          "description": "Output only. The time this label lock was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "deleteTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. A timestamp indicating when this label lock was scheduled for deletion. Present only if this label lock is in the `DELETING` state.",
          "readOnly": true
        },
        "state": {
          "description": "Output only. This label lock's state.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unknown state.",
            "The label lock is active and is being enforced by the server.",
            "The label lock is being deleted. The label lock will continue to be enforced by the server until it has been fully removed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETING"
          ]
        },
        "creator": {
          "description": "Output only. The user whose credentials were used to create the label lock. Not present if no user was responsible for creating the label lock.",
          "readOnly": true,
[...]
