{
  "title": "Drive Activity API",
  "version": "v2",
  "resources": {
    "activity": {
      "methods": {
        "query": {
          "response": {
            "$ref": "QueryDriveActivityResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.activity",
            "https://www.googleapis.com/auth/drive.activity.readonly"
          ],
          "description": "Query past activity in Google Drive.",
          "httpMethod": "POST",
          "path": "v2/activity:query",
          "request": {
            "$ref": "QueryDriveActivityRequest"
          },
          "parameterOrder": [],
          "parameters": {},
          "id": "driveactivity.activity.query",
          "flatPath": "v2/activity:query"
        }
      }
    }
  },
  "canonicalName": "Drive Activity",
  "discoveryVersion": "v1",
  "rootUrl": "https://driveactivity.googleapis.com/",
  "id": "driveactivity:v2",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.activity": {
          "description": "View and add to the activity record of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.activity.readonly": {
          "description": "View the activity record of files in your Google Drive"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "revision": "20260908",
  "mtlsRootUrl": "https://driveactivity.mtls.googleapis.com/",
  "batchPath": "batch",
  "name": "driveactivity",
  "documentationLink": "https://developers.google.com/workspace/drive/activity/",
  "description": "Provides a historical view of activity in Google Drive.",
  "protocol": "rest",
  "schemas": {
    "Text": {
      "properties": {
        "value": {
          "description": "Value of Text Field.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Wrapper for Text Field value.",
      "id": "Text"
    },
    "SelectionList": {
      "description": "Wrapper for SelectionList Field value.",
      "type": "object",
      "properties": {
        "values": {
          "items": {
            "$ref": "Selection"
          },
          "type": "array",
          "description": "Selection values."
        }
      },
      "id": "SelectionList"
    },
    "Move": {
      "type": "object",
      "description": "An object was moved.",
      "properties": {
        "removedParents": {
          "description": "The removed parent object(s).",
          "type": "array",
          "items": {
            "$ref": "TargetReference"
          }
        },
        "addedParents": {
          "description": "The added parent object(s).",
          "items": {
            "$ref": "TargetReference"
          },
          "type": "array"
        }
      },
      "id": "Move"
    },
    "ConsolidationStrategy": {
      "id": "ConsolidationStrategy",
      "description": "How the individual activities are consolidated. If a set of activities is related they can be consolidated into one combined activity, such as one actor performing the same action on multiple targets, or multiple actors performing the same action on a single target. The strategy defines the rules for which activities are related.",
      "type": "object",
      "properties": {
        "none": {
          "$ref": "NoConsolidation",
          "description": "The individual activities are not consolidated."
        },
        "legacy": {
          "$ref": "Legacy",
          "description": "The individual activities are consolidated using the legacy strategy."
        }
      }
    },
    "AppliedLabelChange": {
      "type": "object",
      "properties": {
        "changes": {
          "items": {
            "$ref": "AppliedLabelChangeDetail"
          },
          "type": "array",
          "description": "Changes that were made to the Label on the Target."
        }
      },
      "description": "Label changes that were made on the Target.",
      "id": "AppliedLabelChange"
    },
    "DriveReference": {
      "properties": {
        "name": {
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name.",
          "type": "string"
        },
        "title": {
          "description": "The title of the shared drive.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DriveReference",
      "description": "A lightweight reference to a shared drive."
    },
    "TargetReference": {
      "description": "A lightweight reference to the target of activity.",
      "type": "object",
      "properties": {
        "teamDrive": {
          "$ref": "TeamDriveReference",
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true
        },
        "driveItem": {
          "description": "The target is a Drive item.",
          "$ref": "DriveItemReference"
        },
        "drive": {
          "$ref": "DriveReference",
          "description": "The target is a shared drive."
        }
      },
      "id": "TargetReference"
    },
    "DriveItemReference": {
      "properties": {
        "name": {
          "description": "The target Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "driveFile": {
          "description": "The Drive item is a file.",
          "$ref": "DriveFile"
        },
        "folder": {
          "$ref": "Folder",
          "deprecated": true,
          "description": "This field is deprecated; please use the `driveFolder` field instead."
        },
        "title": {
          "type": "string",
          "description": "The title of the Drive item."
        },
        "driveFolder": {
          "description": "The Drive item is a folder. Includes information about the type of folder.",
          "$ref": "DriveFolder"
        },
        "file": {
          "deprecated": true,
          "$ref": "File",
          "description": "This field is deprecated; please use the `driveFile` field instead."
        }
      },
      "id": "DriveItemReference",
      "description": "A lightweight reference to a Drive item, such as a file or folder.",
      "type": "object"
    },
    "TextList": {
      "description": "Wrapper for Text List Field value.",
      "properties": {
        "values": {
          "description": "Text values.",
          "type": "array",
          "items": {
            "$ref": "Text"
          }
        }
      },
      "id": "TextList",
      "type": "object"
    },
    "Post": {
      "id": "Post",
      "properties": {
        "subtype": {
          "type": "string",
          "description": "The sub-type of this event.",
          "enumDescriptions": [
            "Subtype not available.",
            "A post was added.",
            "A post was deleted.",
            "A reply was added.",
            "A reply was deleted.",
            "A posted comment was resolved.",
            "A posted comment was reopened."
          ],
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED"
          ]
        }
      },
      "type": "object",
      "description": "A regular posted comment."
    },
    "Upload": {
      "type": "object",
      "id": "Upload",
      "properties": {},
      "description": "An object was uploaded into Drive."
    },
    "SingleUser": {
      "type": "object",
      "properties": {
        "value": {
          "description": "User value as email.",
          "type": "string"
        }
      },
      "description": "Wrapper for User Field value.",
      "id": "SingleUser"
    },
    "Domain": {
      "type": "object",
      "id": "Domain",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the domain, e.g. `google.com`."
        },
        "legacyId": {
          "description": "An opaque string used to identify this domain.",
          "type": "string"
        }
      },
      "description": "Information about a domain."
    },
    "ActionDetail": {
      "type": "object",
      "id": "ActionDetail",
      "description": "Data describing the type and additional information of an action.",
      "properties": {
        "permissionChange": {
          "$ref": "PermissionChange",
          "description": "The permission on an object was changed."
        },
        "restore": {
          "description": "A deleted object was restored.",
          "$ref": "Restore"
        },
        "rename": {
          "$ref": "Rename",
          "description": "An object was renamed."
        },
        "appliedLabelChange": {
          "$ref": "AppliedLabelChange",
          "description": "Label was changed."
        },
        "settingsChange": {
          "$ref": "SettingsChange",
          "description": "Settings were changed."
        },
        "dlpChange": {
          "$ref": "DataLeakPreventionChange",
          "description": "A change happened in data leak prevention status."
        },
        "reference": {
          "description": "An object was referenced in an application outside of Drive/Docs.",
          "$ref": "ApplicationReference"
        },
        "move": {
          "$ref": "Move",
          "description": "An object was moved."
        },
        "create": {
          "description": "An object was created.",
          "$ref": "Create"
        },
        "edit": {
          "$ref": "Edit",
          "description": "An object was edited."
        },
        "delete": {
          "description": "An object was deleted.",
          "$ref": "Delete"
        },
        "comment": {
          "description": "A change about comments was made.",
          "$ref": "Comment"
        }
      }
    },
    "Copy": {
      "id": "Copy",
      "properties": {
        "originalObject": {
          "description": "The original object.",
          "$ref": "TargetReference"
        }
      },
      "description": "An object was created by copying an existing object.",
      "type": "object"
    },
    "Restore": {
      "type": "object",
      "id": "Restore",
      "description": "A deleted object was restored.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of restore action taken.",
          "enumDescriptions": [
            "The type is not available.",
            "An object was restored from the trash."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "UNTRASH"
          ]
        }
      }
    },
    "Permission": {
      "type": "object",
      "id": "Permission",
      "description": "The permission setting of an object.",
      "properties": {
        "group": {
          "$ref": "Group",
          "description": "The group to whom this permission applies."
        },
        "anyone": {
          "$ref": "Anyone",
          "description": "If set, this permission applies to anyone, even logged out users."
        },
        "allowDiscovery": {
          "description": "If true, the item can be discovered (e.g. in the user's \"Shared with me\" collection) without needing a link to the item.",
          "type": "boolean"
        },
        "user": {
          "$ref": "User",
          "description": "The user to whom this permission applies."
        },
        "role": {
          "type": "string",
          "description": "Indicates the [Google Drive permissions role](https://developers.google.com/workspace/drive/web/manage-sharing#roles). The role determines a user's ability to read, write, and comment on items.",
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "ORGANIZER",
            "FILE_ORGANIZER",
            "EDITOR",
            "COMMENTER",
            "VIEWER",
            "PUBLISHED_VIEWER"
          ],
          "enumDescriptions": [
            "The role is not available.",
            "A role granting full access.",
            "A role granting the ability to manage people and settings.",
            "A role granting the ability to contribute and manage content.",
            "A role granting the ability to contribute content. This role is sometimes also known as \"writer\".",
            "A role granting the ability to view and comment on content.",
            "A role granting the ability to view content. This role is sometimes also known as \"reader\".",
            "A role granting the ability to view content only after it has been published to the web. This role is sometimes also known as \"published reader\". See https://support.google.com/sites/answer/6372880 for more information."
          ]
        },
        "domain": {
          "$ref": "Domain",
          "description": "The domain to whom this permission applies."
        }
      }
    },
    "Rename": {
      "type": "object",
      "description": "An object was renamed.",
      "properties": {
        "oldTitle": {
          "type": "string",
          "description": "The previous title of the drive object."
        },
        "newTitle": {
          "description": "The new title of the drive object.",
          "type": "string"
        }
      },
      "id": "Rename"
    },
    "DriveActivity": {
      "id": "DriveActivity",
      "type": "object",
      "properties": {
        "timestamp": {
          "type": "string",
          "description": "The activity occurred at this specific time.",
          "format": "google-datetime"
        },
        "actors": {
          "description": "All actor(s) responsible for the activity.",
          "items": {
            "$ref": "Actor"
          },
          "type": "array"
        },
        "primaryActionDetail": {
          "description": "Key information about the primary action for this activity. This is either representative, or the most important, of all actions in the activity, according to the ConsolidationStrategy in the request.",
          "$ref": "ActionDetail"
        },
        "actions": {
          "items": {
            "$ref": "Action"
          },
          "type": "array",
          "description": "Details on all actions in this activity."
        },
        "targets": {
          "description": "All Google Drive objects this activity is about (e.g. file, folder, drive). This represents the state of the target immediately after the actions occurred.",
          "type": "array",
          "items": {
            "$ref": "Target"
          }
        },
        "timeRange": {
          "description": "The activity occurred over this time range.",
          "$ref": "TimeRange"
        }
      },
      "description": "A single Drive activity comprising one or more Actions by one or more Actors on one or more Targets. Some Action groupings occur spontaneously, such as moving an item into a shared folder triggering a permission change. Other groupings of related Actions, such as multiple Actors editing one item or moving multiple files into a new folder, are controlled by the selection of a ConsolidationStrategy in the QueryDriveActivityRequest."
    },
    "TimeRange": {
      "id": "TimeRange",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "The start of the time range.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The end of the time range."
        }
      },
      "description": "Information about time ranges.",
      "type": "object"
    },
    "TeamDrive": {
      "description": "This item is deprecated; please see `Drive` instead.",
      "properties": {
        "title": {
          "description": "This field is deprecated; please see `Drive.title` instead.",
          "type": "string"
        },
        "root": {
          "$ref": "DriveItem",
          "description": "This field is deprecated; please see `Drive.root` instead."
        },
        "name": {
          "type": "string",
          "description": "This field is deprecated; please see `Drive.name` instead."
        }
      },
      "id": "TeamDrive",
      "deprecated": true,
      "type": "object"
    },
    "FileComment": {
      "description": "A comment on a file.",
      "type": "object",
      "properties": {
        "legacyCommentId": {
          "type": "string",
          "description": "The comment in the discussion thread. This identifier is an opaque string compatible with the Drive API; see https://developers.google.com/workspace/drive/v3/reference/comments/get"
        },
        "legacyDiscussionId": {
          "description": "The discussion thread to which the comment was added. This identifier is an opaque string compatible with the Drive API and references the first comment in a discussion; see https://developers.google.com/workspace/drive/v3/reference/comments/get",
          "type": "string"
        },
        "linkToDiscussion": {
          "description": "The link to the discussion thread containing this comment, for example, `https://docs.google.com/DOCUMENT_ID/edit?disco=THREAD_ID`.",
          "type": "string"
        },
        "parent": {
          "description": "The Drive item containing this comment.",
          "$ref": "DriveItem"
        }
      },
      "id": "FileComment"
    },
    "FieldValue": {
      "properties": {
        "userList": {
          "description": "User List Field value.",
          "$ref": "UserList"
        },
        "integer": {
          "$ref": "Integer",
          "description": "Integer Field value."
        },
        "text": {
          "$ref": "Text",
          "description": "Text Field value."
        },
        "selection": {
          "description": "Selection Field value.",
          "$ref": "Selection"
        },
        "user": {
          "description": "User Field value.",
          "$ref": "SingleUser"
        },
        "date": {
          "description": "Date Field value.",
          "$ref": "Date"
        },
        "selectionList": {
          "$ref": "SelectionList",
          "description": "Selection List Field value."
        },
        "textList": {
          "$ref": "TextList",
          "description": "Text List Field value."
        }
      },
      "type": "object",
      "description": "Contains a value of a Field.",
      "id": "FieldValue"
    },
    "UnknownUser": {
      "type": "object",
      "description": "A user about whom nothing is currently known.",
      "properties": {},
      "id": "UnknownUser"
    },
    "QueryDriveActivityResponse": {
      "type": "object",
      "properties": {
        "activities": {
          "items": {
            "$ref": "DriveActivity"
          },
          "type": "array",
          "description": "List of activity requested."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "description": "Response message for querying Drive activity.",
      "id": "QueryDriveActivityResponse"
    },
    "Administrator": {
      "id": "Administrator",
      "properties": {},
      "type": "object",
      "description": "Empty message representing an administrator."
    },
    "SystemEvent": {
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of the system event that may triggered activity.",
          "enumDescriptions": [
            "The event type is unspecified.",
            "The event is a consequence of a user account being deleted.",
            "The event is due to the system automatically purging trash."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER_DELETION",
            "TRASH_AUTO_PURGE"
          ]
        }
      },
      "description": "Event triggered by system operations instead of end users.",
      "type": "object",
      "id": "SystemEvent"
    },
    "Anyone": {
      "id": "Anyone",
      "description": "Represents any user (including a logged out user).",
      "type": "object",
      "properties": {}
    },
    "Date": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Date value.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "Date",
      "description": "Wrapper for Date Field value."
    },
    "Integer": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Integer value.",
          "format": "int64"
        }
      },
      "description": "Wrapper for Integer Field value.",
      "id": "Integer",
      "type": "object"
    },
    "NoConsolidation": {
      "description": "A strategy that does no consolidation of individual activities.",
      "properties": {},
      "type": "object",
      "id": "NoConsolidation"
    },
    "Selection": {
      "id": "Selection",
      "description": "Wrapper for Selection Field value as combined value/display_name pair for selected choice.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Selection value as Field Choice ID.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Selection value as human-readable display string."
        }
      }
    },
    "FieldValueChange": {
      "type": "object",
      "id": "FieldValueChange",
      "properties": {
        "displayName": {
          "description": "The human-readable display name for this field.",
          "type": "string"
        },
        "newValue": {
          "description": "The value that is now set on the field. If not present, the field was cleared. At least one of {old_value|new_value} is always set.",
          "$ref": "FieldValue"
        },
        "oldValue": {
          "$ref": "FieldValue",
          "description": "The value that was previously set on the field. If not present, the field was newly set. At least one of {old_value|new_value} is always set."
        },
        "fieldId": {
          "description": "The ID of this field. Field IDs are unique within a Label.",
          "type": "string"
        }
      },
      "description": "Change to a Field value."
    },
    "AppliedLabelChangeDetail": {
      "properties": {
        "fieldChanges": {
          "type": "array",
          "items": {
            "$ref": "FieldValueChange"
          },
          "description": "Field Changes. Only present if `types` contains `LABEL_FIELD_VALUE_CHANGED`."
        },
        "types": {
          "items": {
            "enumDescriptions": [
              "The type of change to this Label is not available.",
              "The identified Label was added to the Target.",
              "The identified Label was removed from the Target.",
              "Field values were changed on the Target.",
              "The Label was applied as a side-effect of Drive item creation."
            ],
            "enum": [
              "TYPE_UNSPECIFIED",
              "LABEL_ADDED",
              "LABEL_REMOVED",
              "LABEL_FIELD_VALUE_CHANGED",
              "LABEL_APPLIED_BY_ITEM_CREATE"
            ],
            "type": "string"
          },
          "description": "The types of changes made to the Label on the Target.",
          "type": "array"
        },
        "label": {
          "type": "string",
          "description": "The Label name representing the Label that changed. This name always contains the revision of the Label that was used when this Action occurred. The format is `labels/id@revision`."
        },
        "title": {
          "type": "string",
          "description": "The human-readable title of the label that changed."
        }
      },
      "id": "AppliedLabelChangeDetail",
      "description": "A change made to a Label on the Target.",
      "type": "object"
    },
    "Assignment": {
      "id": "Assignment",
      "type": "object",
      "properties": {
        "assignedUser": {
          "$ref": "User",
          "description": "The user to whom the comment was assigned."
        },
        "subtype": {
          "type": "string",
          "enumDescriptions": [
            "Subtype not available.",
            "An assignment was added.",
            "An assignment was deleted.",
            "An assignment reply was added.",
            "An assignment reply was deleted.",
            "An assignment was resolved.",
            "A resolved assignment was reopened.",
            "An assignment was reassigned."
          ],
          "description": "The sub-type of this event.",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED",
            "REASSIGNED"
          ]
        }
      },
      "description": "A comment with an assignment."
    },
    "QueryDriveActivityRequest": {
      "description": "The request message for querying Drive activity.",
      "id": "QueryDriveActivityRequest",
      "properties": {
        "itemName": {
          "description": "Return activities for this Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "filter": {
          "description": "The filtering for items returned from this query request. The format of the filter string is a sequence of expressions, joined by an optional \"AND\", where each expression is of the form \"field operator value\". Supported fields: - `time`: Uses numerical operators on date values either in terms of milliseconds since Jan 1, 1970 or in RFC 3339 format. Examples: - `time > 1452409200000 AND time <= 1492812924310` - `time >= \"2016-01-10T01:02:03-05:00\"` - `detail.action_detail_case`: Uses the \"has\" operator (:) and either a singular value or a list of allowed action types enclosed in parentheses, separated by a space. To exclude a result from the response, prepend a hyphen (`-`) to the beginning of the filter string. Examples: - `detail.action_detail_case:RENAME` - `detail.action_detail_case:(CREATE RESTORE)` - `-detail.action_detail_case:MOVE` ",
          "type": "string"
        },
        "pageSize": {
          "description": "The minimum number of activities desired in the response; the server attempts to return at least this quantity. The server may also return fewer activities if it has a partial response ready before the request times out. If not set, a default value is used.",
          "type": "integer",
          "format": "int32"
        },
        "consolidationStrategy": {
          "$ref": "ConsolidationStrategy",
          "description": "Details on how to consolidate related actions that make up the activity. If not set, then related actions aren't consolidated."
        },
        "ancestorName": {
          "description": "Return activities for this Drive folder, plus all children and descendants. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "pageToken": {
          "type": "string",
          "description": "The token identifies which page of results to return. Set this to the next_page_token value returned from a previous query to obtain the following page of results. If not set, the first page of results is returned."
        }
      },
      "type": "object"
    },
    "UserList": {
      "description": "Wrapper for UserList Field value.",
      "properties": {
        "values": {
          "items": {
            "$ref": "SingleUser"
          },
          "description": "User values.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "UserList"
    },
    "AnonymousUser": {
      "description": "Empty message representing an anonymous user or indicating the authenticated user should be anonymized.",
      "id": "AnonymousUser",
      "properties": {},
      "type": "object"
    },
    "Legacy": {
      "type": "object",
      "description": "A strategy that consolidates activities using the grouping rules from the legacy V1 Activity API. Similar actions occurring within a window of time can be grouped across multiple targets (such as moving a set of files at once) or multiple actors (such as several users editing the same item). Grouping rules for this strategy are specific to each type of action.",
      "properties": {},
      "id": "Legacy"
    },
    "Suggestion": {
      "description": "A suggestion.",
      "id": "Suggestion",
      "type": "object",
      "properties": {
        "subtype": {
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "ACCEPTED",
            "REJECTED",
            "ACCEPT_DELETED",
            "REJECT_DELETED"
          ],
          "enumDescriptions": [
            "Subtype not available.",
            "A suggestion was added.",
            "A suggestion was deleted.",
            "A suggestion reply was added.",
            "A suggestion reply was deleted.",
            "A suggestion was accepted.",
            "A suggestion was rejected.",
            "An accepted suggestion was deleted.",
            "A rejected suggestion was deleted."
          ],
          "description": "The sub-type of this event.",
          "type": "string"
        }
      }
    },
    "Edit": {
      "id": "Edit",
      "description": "An empty message indicating an object was edited.",
      "properties": {},
      "type": "object"
    },
    "Impersonation": {
      "description": "Information about an impersonation, where an admin acts on behalf of an end user. Information about the acting admin is not currently available.",
      "id": "Impersonation",
      "type": "object",
      "properties": {
        "impersonatedUser": {
          "$ref": "User",
          "description": "The impersonated user."
        }
      }
    },
    "Folder": {
      "properties": {
        "type": {
          "type": "string",
          "description": "This field is deprecated; please see `DriveFolder.type` instead.",
          "enumDescriptions": [
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "TEAM_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ]
        }
      },
      "description": "This item is deprecated; please see `DriveFolder` instead.",
      "deprecated": true,
      "id": "Folder",
      "type": "object"
    },
    "Group": {
      "properties": {
        "email": {
          "description": "The email address of the group.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the group."
        }
      },
      "id": "Group",
      "type": "object",
      "description": "Information about a group."
    },
    "Actor": {
      "id": "Actor",
      "description": "The actor of a Drive activity.",
      "properties": {
        "administrator": {
          "$ref": "Administrator",
          "description": "An administrator."
        },
        "user": {
          "description": "An end user.",
          "$ref": "User"
        },
        "system": {
          "$ref": "SystemEvent",
          "description": "A non-user actor (i.e. system triggered)."
        },
        "impersonation": {
          "description": "An account acting on behalf of another.",
          "$ref": "Impersonation"
        },
        "anonymous": {
          "description": "An anonymous user.",
          "$ref": "AnonymousUser"
        }
      },
      "type": "object"
    },
    "Comment": {
      "id": "Comment",
      "properties": {
        "mentionedUsers": {
          "items": {
            "$ref": "User"
          },
          "type": "array",
          "description": "Users who are mentioned in this comment."
        },
        "suggestion": {
          "description": "A change on a suggestion.",
          "$ref": "Suggestion"
        },
        "assignment": {
          "$ref": "Assignment",
          "description": "A change on an assignment."
        },
        "post": {
          "$ref": "Post",
          "description": "A change on a regular posted comment."
        }
      },
      "type": "object",
      "description": "A change about comments on an object."
    },
    "ApplicationReference": {
      "description": "Activity in applications other than Drive.",
      "properties": {
        "type": {
          "enum": [
            "UNSPECIFIED_REFERENCE_TYPE",
            "LINK",
            "DISCUSS"
          ],
          "enumDescriptions": [
            "The type is not available.",
            "The links of one or more Drive items were posted.",
            "Comments were made regarding a Drive item."
          ],
          "description": "The reference type corresponding to this event.",
          "type": "string"
        }
      },
      "id": "ApplicationReference",
      "type": "object"
    },
    "DriveFile": {
      "description": "A Drive item which is a file.",
      "id": "DriveFile",
      "properties": {},
      "type": "object"
    },
    "Action": {
      "description": "Information about the action.",
      "properties": {
        "actor": {
          "$ref": "Actor",
          "description": "The actor responsible for this action (or empty if all actors are responsible)."
        },
        "timestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "The action occurred at this specific time."
        },
        "target": {
          "description": "The target this action affects (or empty if affecting all targets). This represents the state of the target immediately after this action occurred.",
          "$ref": "Target"
        },
        "detail": {
          "description": "The type and detailed information about the action.",
          "$ref": "ActionDetail"
        },
        "timeRange": {
          "$ref": "TimeRange",
          "description": "The action occurred over this time range."
        }
      },
      "type": "object",
      "id": "Action"
    },
    "User": {
      "description": "Information about an end user.",
      "id": "User",
      "properties": {
        "knownUser": {
          "description": "A known user.",
          "$ref": "KnownUser"
        },
        "deletedUser": {
          "description": "A user whose account has since been deleted.",
          "$ref": "DeletedUser"
        },
        "unknownUser": {
          "description": "A user about whom nothing is currently known.",
          "$ref": "UnknownUser"
        }
      },
      "type": "object"
    },
    "Delete": {
      "description": "An object was deleted.",
      "id": "Delete",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Deletion type is not available.",
            "An object was put into the trash.",
            "An object was deleted permanently."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TRASH",
            "PERMANENT_DELETE"
          ],
          "type": "string",
          "description": "The type of delete action taken."
        }
      },
      "type": "object"
    },
    "DataLeakPreventionChange": {
      "properties": {
        "type": {
          "description": "The type of Data Leak Prevention (DLP) change.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "FLAGGED",
            "CLEARED"
          ],
          "enumDescriptions": [
            "An update to the DLP state that is neither FLAGGED or CLEARED.",
            "Document has been flagged as containing sensitive content.",
            "Document is no longer flagged as containing sensitive content."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "A change in the object's data leak prevention status.",
      "id": "DataLeakPreventionChange"
    },
    "TeamDriveReference": {
      "description": "This item is deprecated; please see `DriveReference` instead.",
      "id": "TeamDriveReference",
      "deprecated": true,
      "type": "object",
      "properties": {
        "name": {
          "description": "This field is deprecated; please see `DriveReference.name` instead.",
          "type": "string"
        },
        "title": {
          "description": "This field is deprecated; please see `DriveReference.title` instead.",
          "type": "string"
        }
      }
    },
    "Create": {
      "id": "Create",
      "description": "An object was created.",
      "properties": {
        "upload": {
          "description": "If present, indicates the object originated externally and was uploaded to Drive.",
          "$ref": "Upload"
        },
        "copy": {
          "$ref": "Copy",
          "description": "If present, indicates the object was created by copying an existing Drive object."
        },
        "new": {
          "description": "If present, indicates the object was newly created (e.g. as a blank document), not derived from a Drive object or external object.",
          "$ref": "New"
        }
      },
      "type": "object"
    },
    "New": {
      "description": "An object was created from scratch.",
      "properties": {},
      "type": "object",
      "id": "New"
    },
    "Owner": {
      "properties": {
        "drive": {
          "$ref": "DriveReference",
          "description": "The drive that owns the item."
        },
        "teamDrive": {
          "$ref": "TeamDriveReference",
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true
        },
        "user": {
          "$ref": "User",
          "description": "The user that owns the Drive item."
        },
        "domain": {
          "description": "The domain of the Drive item owner.",
          "$ref": "Domain"
        }
      },
      "description": "Information about the owner of a Drive item.",
      "type": "object",
      "id": "Owner"
    },
    "DeletedUser": {
      "description": "A user whose account has since been deleted.",
      "id": "DeletedUser",
      "properties": {},
      "type": "object"
    },
    "RestrictionChange": {
      "type": "object",
      "properties": {
        "feature": {
          "type": "string",
          "enumDescriptions": [
            "The feature which changed restriction settings was not available.",
            "When restricted, this prevents items from being shared outside the domain.",
            "When restricted, this prevents direct sharing of individual items.",
            "Deprecated: Use READERS_CAN_DOWNLOAD instead.",
            "When restricted, this prevents use of Drive File Stream.",
            "When restricted, this limits sharing of folders to managers only.",
            "When restricted, this prevents actions like copy, download, and print for readers. Replaces ITEM_DUPLICATION.",
            "When restricted, this prevents actions like copy, download, and print for writers."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false
          ],
          "description": "The feature which had a change in restriction policy.",
          "enum": [
            "FEATURE_UNSPECIFIED",
            "SHARING_OUTSIDE_DOMAIN",
            "DIRECT_SHARING",
            "ITEM_DUPLICATION",
            "DRIVE_FILE_STREAM",
            "FILE_ORGANIZER_CAN_SHARE_FOLDERS",
            "READERS_CAN_DOWNLOAD",
            "WRITERS_CAN_DOWNLOAD"
          ]
        },
        "newRestriction": {
          "enum": [
            "RESTRICTION_UNSPECIFIED",
            "UNRESTRICTED",
            "FULLY_RESTRICTED"
          ],
          "description": "The restriction in place after the change.",
          "enumDescriptions": [
            "The type of restriction is not available.",
            "The feature is available without restriction.",
            "The use of this feature is fully restricted."
          ],
          "type": "string"
        }
      },
      "id": "RestrictionChange",
      "description": "Information about restriction policy changes to a feature."
    },
    "Target": {
      "properties": {
        "drive": {
          "description": "The target is a shared drive.",
          "$ref": "Drive"
        },
        "fileComment": {
          "description": "The target is a comment on a Drive file.",
          "$ref": "FileComment"
        },
        "driveItem": {
          "$ref": "DriveItem",
          "description": "The target is a Drive item."
        },
        "teamDrive": {
          "$ref": "TeamDrive",
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true
        }
      },
      "description": "Information about the target of activity. For more information on how activity history is shared with users, see [Activity history visibility](https://developers.google.com/workspace/drive/activity/v2#activityhistory).",
      "id": "Target",
      "type": "object"
    },
    "DriveItem": {
      "type": "object",
      "description": "A Drive item, such as a file or folder.",
      "properties": {
        "owner": {
          "description": "Information about the owner of this Drive item.",
          "$ref": "Owner"
        },
        "name": {
          "type": "string",
          "description": "The target Drive item. The format is `items/ITEM_ID`."
        },
        "title": {
          "description": "The title of the Drive item.",
          "type": "string"
        },
        "file": {
          "deprecated": true,
          "$ref": "File",
          "description": "This field is deprecated; please use the `driveFile` field instead."
        },
        "driveFile": {
          "$ref": "DriveFile",
          "description": "The Drive item is a file."
        },
        "driveFolder": {
          "description": "The Drive item is a folder. Includes information about the type of folder.",
          "$ref": "DriveFolder"
        },
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the Drive item. See https://developers.google.com/workspace/drive/v3/web/mime-types."
        },
        "folder": {
          "description": "This field is deprecated; please use the `driveFolder` field instead.",
          "$ref": "Folder",
          "deprecated": true
        }
      },
      "id": "DriveItem"
    },
    "PermissionChange": {
      "type": "object",
      "id": "PermissionChange",
      "properties": {
        "removedPermissions": {
          "items": {
            "$ref": "Permission"
          },
          "description": "The set of permissions removed by this change.",
          "type": "array"
        },
        "addedPermissions": {
          "type": "array",
          "items": {
            "$ref": "Permission"
          },
          "description": "The set of permissions added by this change."
        }
      },
      "description": "A change of the permission setting on an item."
    },
    "SettingsChange": {
      "id": "SettingsChange",
      "type": "object",
      "description": "Information about settings changes.",
      "properties": {
        "restrictionChanges": {
          "type": "array",
          "items": {
            "$ref": "RestrictionChange"
          },
          "description": "The set of changes made to restrictions."
        }
      }
    },
    "DriveFolder": {
      "description": "A Drive item which is a folder.",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "SHARED_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ],
          "enumDescriptions": [
            "The folder type is unknown.",
            "The folder is the root of a user's MyDrive.",
            "The folder is the root of a shared drive.",
            "The folder is a standard, non-root, folder."
          ],
          "description": "The type of Drive folder.",
          "type": "string"
        }
      },
      "id": "DriveFolder"
    },
    "Drive": {
      "description": "Information about a shared drive.",
      "properties": {
        "title": {
          "description": "The title of the shared drive.",
          "type": "string"
        },
        "root": {
          "description": "The root of this shared drive.",
          "$ref": "DriveItem"
        },
        "name": {
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Drive"
    },
    "File": {
      "properties": {},
      "type": "object",
      "deprecated": true,
      "id": "File",
      "description": "This item is deprecated; please see `DriveFile` instead."
    },
    "KnownUser": {
      "properties": {
        "personName": {
          "description": "The identifier for this user that can be used with the People API to get more information. The format is `people/ACCOUNT_ID`. See https://developers.google.com/people/.",
          "type": "string"
        },
        "isCurrentUser": {
          "type": "boolean",
          "description": "True if this is the user making the request."
        }
      },
      "description": "A known user.",
      "type": "object",
      "id": "KnownUser"
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "baseUrl": "https://driveactivity.googleapis.com/",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "basePath": ""
}