{
  "servicePath": "drive/v2/",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "name": "drive",
  "ownerName": "Google",
  "baseUrl": "https://www.googleapis.com/drive/v2/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.apps.readonly": {
          "description": "View your Google Drive apps"
        },
        "https://www.googleapis.com/auth/drive.scripts": {
          "description": "Modify your Google Apps Script scripts' behavior"
        },
        "https://www.googleapis.com/auth/drive.metadata": {
          "description": "View and manage metadata of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/drive.photos.readonly": {
          "description": "View the photos, videos and albums in your Google Photos"
        },
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "See, create, and delete its own configuration data in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.meet.readonly": {
          "description": "See and download your Google Drive files that were created or edited by Google Meet."
        },
        "https://www.googleapis.com/auth/drive.metadata.readonly": {
          "description": "See information about your Google Drive files"
        }
      }
    }
  },
  "batchPath": "batch/drive/v2",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "revision": "20260713",
  "basePath": "/drive/v2/",
  "rootUrl": "https://www.googleapis.com/",
  "documentationLink": "https://developers.google.com/workspace/drive/",
  "version": "v2",
  "resources": {
    "drives": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "request": {
            "$ref": "Drive"
          },
          "flatPath": "drives",
          "response": {
            "$ref": "Drive"
          },
          "path": "drives",
          "description": "Creates a new shared drive.",
          "parameterOrder": [
            "requestId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "id": "drive.drives.insert",
          "parameters": {
            "requestId": {
              "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a shared drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same shared drive. If the shared drive already exists a 409 error will be returned.",
              "type": "string",
              "location": "query",
              "required": true
            }
          }
        },
        "list": {
          "parameters": {
            "pageToken": {
              "description": "Page token for shared drives.",
              "type": "string",
              "location": "query"
            },
            "q": {
              "location": "query",
              "description": "Query string for searching shared drives.",
              "type": "string"
            },
            "maxResults": {
              "minimum": "1",
              "maximum": "100",
              "default": "10",
              "format": "int32",
              "description": "Maximum number of shared drives to return per page.",
              "type": "integer",
              "location": "query"
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then all shared drives of the domain in which the requester is an administrator are returned.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            }
          },
          "id": "drive.drives.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [],
          "description": " Lists the user's shared drives. This method accepts the `q` parameter, which is a search query combining one or more search terms. For more information, see the [Search for shared drives](https://developers.google.com/workspace/drive/api/guides/search-shareddrives) guide.",
          "path": "drives",
          "response": {
            "$ref": "DriveList"
          },
          "flatPath": "drives",
          "httpMethod": "GET"
        },
        "unhide": {
          "id": "drive.drives.unhide",
          "parameters": {
            "driveId": {
              "description": "The ID of the shared drive.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "parameterOrder": [
            "driveId"
          ],
          "path": "drives/{driveId}/unhide",
          "description": "Restores a shared drive to the default view.",
          "flatPath": "drives/{driveId}/unhide",
          "response": {
            "$ref": "Drive"
          },
          "httpMethod": "POST"
        },
        "get": {
          "id": "drive.drives.get",
          "parameters": {
            "driveId": {
              "location": "path",
              "required": true,
              "description": "The ID of the shared drive.",
              "type": "string"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "type": "boolean",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "driveId"
          ],
          "path": "drives/{driveId}",
          "description": "Gets a shared drive's metadata by ID.",
          "flatPath": "drives/{driveId}",
          "response": {
            "$ref": "Drive"
          },
          "httpMethod": "GET"
        },
        "delete": {
          "description": "Permanently deletes a shared drive for which the user is an `organizer`. The shared drive cannot contain any untrashed items.",
          "path": "drives/{driveId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "driveId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "flatPath": "drives/{driveId}",
          "parameters": {
            "driveId": {
              "location": "path",
              "required": true,
              "description": "The ID of the shared drive.",
              "type": "string"
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "allowItemDeletion": {
              "location": "query",
              "description": "Whether any items inside the shared drive should also be deleted. This option is only supported when `useDomainAdminAccess` is also set to `true`.",
              "type": "boolean",
              "default": "false"
            }
          },
          "id": "drive.drives.delete"
        },
        "hide": {
          "httpMethod": "POST",
          "response": {
            "$ref": "Drive"
          },
          "flatPath": "drives/{driveId}/hide",
          "parameterOrder": [
            "driveId"
          ],
          "description": "Hides a shared drive from the default view.",
          "path": "drives/{driveId}/hide",
          "parameters": {
            "driveId": {
              "description": "The ID of the shared drive.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "drive.drives.hide",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        },
        "update": {
          "description": "Updates the metadata for a shared drive.",
          "path": "drives/{driveId}",
          "parameterOrder": [
            "driveId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "parameters": {
            "driveId": {
              "location": "path",
              "required": true,
              "description": "The ID of the shared drive.",
              "type": "string"
            },
            "useDomainAdminAccess": {
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "type": "boolean",
              "default": "false"
            }
          },
          "id": "drive.drives.update",
          "httpMethod": "PUT",
          "request": {
            "$ref": "Drive"
          },
          "response": {
            "$ref": "Drive"
          },
          "flatPath": "drives/{driveId}"
        }
      }
    },
    "teamdrives": {
      "methods": {
        "list": {
          "description": "Deprecated: Use `drives.list` instead.",
          "path": "teamdrives",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "maxResults": {
              "default": "10",
              "format": "int32",
              "description": "Maximum number of Team Drives to return.",
              "type": "integer",
              "location": "query",
              "minimum": "1",
              "maximum": "100"
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then all Team Drives of the domain in which the requester is an administrator are returned.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "q": {
              "description": "Query string for searching Team Drives.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "description": "Page token for Team Drives.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "drive.teamdrives.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "TeamDriveList"
          },
          "flatPath": "teamdrives"
        },
        "insert": {
          "request": {
            "$ref": "TeamDrive"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "TeamDrive"
          },
          "flatPath": "teamdrives",
          "parameterOrder": [
            "requestId"
          ],
          "description": "Deprecated: Use `drives.insert` instead.",
          "path": "teamdrives",
          "parameters": {
            "requestId": {
              "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a Team Drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same Team Drive. If the Team Drive already exists a 409 error will be returned.",
              "type": "string",
              "location": "query",
              "required": true
            }
          },
          "id": "drive.teamdrives.insert",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        },
        "delete": {
          "path": "teamdrives/{teamDriveId}",
          "httpMethod": "DELETE",
          "description": "Deprecated: Use `drives.delete` instead.",
          "parameterOrder": [
            "teamDriveId"
          ],
          "flatPath": "teamdrives/{teamDriveId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "id": "drive.teamdrives.delete",
          "parameters": {
            "teamDriveId": {
              "description": "The ID of the Team Drive",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        },
        "update": {
          "response": {
            "$ref": "TeamDrive"
          },
          "flatPath": "teamdrives/{teamDriveId}",
          "request": {
            "$ref": "TeamDrive"
          },
          "httpMethod": "PUT",
          "parameters": {
            "useDomainAdminAccess": {
              "default": "false",
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs.",
              "type": "boolean"
            },
            "teamDriveId": {
              "description": "The ID of the Team Drive",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "drive.teamdrives.update",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "parameterOrder": [
            "teamDriveId"
          ],
          "description": "Deprecated: Use `drives.update` instead.",
          "path": "teamdrives/{teamDriveId}"
        },
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "TeamDrive"
          },
          "flatPath": "teamdrives/{teamDriveId}",
          "description": "Deprecated: Use `drives.get` instead.",
          "path": "teamdrives/{teamDriveId}",
          "parameterOrder": [
            "teamDriveId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "teamDriveId": {
              "description": "The ID of the Team Drive",
              "type": "string",
              "location": "path",
              "required": true
            },
            "useDomainAdminAccess": {
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs.",
              "type": "boolean",
              "location": "query"
            }
          },
          "id": "drive.teamdrives.get"
        }
      }
    },
    "parents": {
      "methods": {
        "delete": {
          "flatPath": "files/{fileId}/parents/{parentId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.parents.delete",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "parentId": {
              "location": "path",
              "required": true,
              "description": "The ID of the parent.",
              "type": "string"
            },
            "enforceSingleParent": {
              "description": "Deprecated: If an item is not in a shared drive and its last parent is removed, the item is placed under its owner's root.",
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "default": "false"
            }
          },
          "path": "files/{fileId}/parents/{parentId}",
          "httpMethod": "DELETE",
          "description": "Removes a parent from a file.",
          "parameterOrder": [
            "fileId",
            "parentId"
          ]
        },
        "get": {
          "parameterOrder": [
            "fileId",
            "parentId"
          ],
          "description": "Gets a specific parent reference.",
          "path": "files/{fileId}/parents/{parentId}",
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID of the file.",
              "type": "string"
            },
            "parentId": {
              "location": "path",
              "required": true,
              "description": "The ID of the parent.",
              "type": "string"
            }
          },
          "id": "drive.parents.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "ParentReference"
          },
          "flatPath": "files/{fileId}/parents/{parentId}"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.parents.list",
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID of the file.",
              "type": "string"
            }
          },
          "path": "files/{fileId}/parents",
          "description": "Lists a file's parents.",
          "parameterOrder": [
            "fileId"
          ],
          "flatPath": "files/{fileId}/parents",
          "response": {
            "$ref": "ParentList"
          },
          "httpMethod": "GET"
        },
        "insert": {
          "response": {
            "$ref": "ParentReference"
          },
          "flatPath": "files/{fileId}/parents",
          "request": {
            "$ref": "ParentReference"
          },
          "httpMethod": "POST",
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID of the file.",
              "type": "string"
            },
            "supportsTeamDrives": {
              "default": "false",
              "deprecated": true,
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean"
            },
            "enforceSingleParent": {
              "location": "query",
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead.",
              "type": "boolean",
              "default": "false",
              "deprecated": true
            },
            "supportsAllDrives": {
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "default": "false"
            }
          },
          "id": "drive.parents.insert",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [
            "fileId"
          ],
          "description": "Adds a parent folder for a file.",
          "path": "files/{fileId}/parents"
        }
      }
    },
    "permissions": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "Permission"
          },
          "httpMethod": "POST",
          "flatPath": "files/{fileId}/permissions",
          "response": {
            "$ref": "Permission"
          },
          "parameterOrder": [
            "fileId"
          ],
          "path": "files/{fileId}/permissions",
          "description": "Inserts a permission for a file or shared drive. **Warning:** Concurrent permissions operations on the same file are not supported; only the last update is applied.",
          "id": "drive.permissions.insert",
          "parameters": {
            "enforceExpansiveAccess": {
              "description": "Deprecated: All requests use the expansive access rules.",
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "default": "false"
            },
            "emailMessage": {
              "location": "query",
              "description": "A plain text custom message to include in notification emails.",
              "type": "string"
            },
            "sendNotificationEmails": {
              "default": "true",
              "location": "query",
              "description": "Whether to send notification emails when sharing to users or groups. This parameter is ignored and an email is sent if the `role` is `owner`.",
              "type": "boolean"
            },
            "enforceSingleParent": {
              "default": "false",
              "deprecated": true,
              "location": "query",
              "description": "Deprecated: See `moveToNewOwnersRoot` for details.",
              "type": "boolean"
            },
            "supportsAllDrives": {
              "default": "false",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "location": "query"
            },
            "moveToNewOwnersRoot": {
              "default": "false",
              "location": "query",
              "description": "This parameter will only take effect if the item is not in a shared drive and the request is attempting to transfer the ownership of the item. If set to `true`, the item will be moved to the new owner's My Drive root folder and all prior parents removed. If set to `false`, parents are not changed.",
              "type": "boolean"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "type": "boolean"
            },
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID for the file or shared drive.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "getIdForEmail": {
          "httpMethod": "GET",
          "flatPath": "permissionIds/{email}",
          "response": {
            "$ref": "PermissionId"
          },
          "parameterOrder": [
            "email"
          ],
          "path": "permissionIds/{email}",
          "description": "Returns the permission ID for an email address.",
          "id": "drive.permissions.getIdForEmail",
          "parameters": {
            "email": {
              "location": "path",
              "required": true,
              "description": "The email address for which to return a permission ID",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "list": {
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID for the file or shared drive.",
              "type": "string"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "type": "boolean"
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.",
              "type": "string",
              "location": "query"
            },
            "supportsTeamDrives": {
              "default": "false",
              "deprecated": true,
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string",
              "location": "query"
            },
            "supportsAllDrives": {
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "location": "query"
            },
            "maxResults": {
              "minimum": "1",
              "maximum": "100",
              "format": "int32",
              "description": "The maximum number of permissions to return per page. When not set for files in a shared drive, at most 100 results will be returned. When not set for files that are not in a shared drive, the entire list will be returned.",
              "type": "integer",
              "location": "query"
            }
          },
          "id": "drive.permissions.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "fileId"
          ],
          "description": "Lists a file's or shared drive's permissions.",
          "path": "files/{fileId}/permissions",
          "response": {
            "$ref": "PermissionList"
          },
          "flatPath": "files/{fileId}/permissions",
          "httpMethod": "GET"
        },
        "patch": {
          "description": "Updates a permission using patch semantics. **Warning:** Concurrent permissions operations on the same file are not supported; only the last update is applied.",
          "path": "files/{fileId}/permissions/{permissionId}",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameters": {
            "transferOwnership": {
              "description": "Whether changing a role to `owner` downgrades the current owners to writers. Does nothing if the specified role is not `owner`.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "supportsAllDrives": {
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "default": "false"
            },
            "enforceExpansiveAccess": {
              "default": "false",
              "deprecated": true,
              "location": "query",
              "description": "Deprecated: All requests use the expansive access rules.",
              "type": "boolean"
            },
            "permissionId": {
              "description": "The ID for the permission.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "supportsTeamDrives": {
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "default": "false",
              "deprecated": true
            },
            "useDomainAdminAccess": {
              "default": "false",
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "type": "boolean"
            },
            "fileId": {
              "description": "The ID for the file or shared drive.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "removeExpiration": {
              "location": "query",
              "description": "Whether to remove the expiration date.",
              "type": "boolean",
              "default": "false"
            }
          },
          "id": "drive.permissions.patch",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Permission"
          },
          "response": {
            "$ref": "Permission"
          },
          "flatPath": "files/{fileId}/permissions/{permissionId}"
        },
        "get": {
          "description": "Gets a permission by ID.",
          "path": "files/{fileId}/permissions/{permissionId}",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "useDomainAdminAccess": {
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "type": "boolean",
              "default": "false"
            },
            "fileId": {
              "description": "The ID for the file or shared drive.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "supportsAllDrives": {
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "location": "query"
            },
            "permissionId": {
              "location": "path",
              "required": true,
              "description": "The ID for the permission.",
              "type": "string"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "location": "query"
            }
          },
          "id": "drive.permissions.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "Permission"
          },
          "flatPath": "files/{fileId}/permissions/{permissionId}"
        },
        "delete": {
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.permissions.delete",
          "parameters": {
            "supportsAllDrives": {
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "location": "query"
            },
            "enforceExpansiveAccess": {
              "description": "Deprecated: All requests use the expansive access rules.",
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "default": "false"
            },
            "permissionId": {
              "location": "path",
              "required": true,
              "description": "The ID for the permission.",
              "type": "string"
            },
            "supportsTeamDrives": {
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "default": "false",
              "deprecated": true
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "fileId": {
              "description": "The ID for the file or shared drive.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "files/{fileId}/permissions/{permissionId}",
          "httpMethod": "DELETE",
          "description": "Deletes a permission from a file or shared drive. **Warning:** Concurrent permissions operations on the same file are not supported; only the last update is applied.",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ]
        },
        "update": {
          "path": "files/{fileId}/permissions/{permissionId}",
          "description": "Updates a permission. **Warning:** Concurrent permissions operations on the same file are not supported; only the last update is applied.",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.permissions.update",
          "parameters": {
            "fileId": {
              "description": "The ID for the file or shared drive.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "removeExpiration": {
              "description": "Whether to remove the expiration date.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "useDomainAdminAccess": {
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "type": "boolean",
              "default": "false"
            },
            "permissionId": {
              "location": "path",
              "required": true,
              "description": "The ID for the permission.",
              "type": "string"
            },
            "supportsTeamDrives": {
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "default": "false",
              "deprecated": true
            },
            "supportsAllDrives": {
              "default": "false",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean"
            },
            "enforceExpansiveAccess": {
              "default": "false",
              "deprecated": true,
              "location": "query",
              "description": "Deprecated: All requests use the expansive access rules.",
              "type": "boolean"
            },
            "transferOwnership": {
              "location": "query",
              "description": "Whether changing a role to `owner` downgrades the current owners to writers. Does nothing if the specified role is not `owner`.",
              "type": "boolean",
              "default": "false"
            }
          },
          "httpMethod": "PUT",
          "request": {
            "$ref": "Permission"
          },
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "response": {
            "$ref": "Permission"
          }
        }
      }
    },
    "apps": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "appId": {
              "description": "The ID of the app.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "drive.apps.get",
          "description": "Gets a specific app.",
          "path": "apps/{appId}",
          "parameterOrder": [
            "appId"
          ],
          "response": {
            "$ref": "App"
          },
          "flatPath": "apps/{appId}",
          "httpMethod": "GET"
        },
        "list": {
          "httpMethod": "GET",
          "flatPath": "apps",
          "response": {
            "$ref": "AppList"
          },
          "parameterOrder": [],
          "path": "apps",
          "description": "Lists a user's installed apps.",
          "id": "drive.apps.list",
          "parameters": {
            "appFilterExtensions": {
              "default": "",
              "location": "query",
              "description": "A comma-separated list of file extensions for open with filtering. All apps within the given app query scope which can open any of the given file extensions will be included in the response. If `appFilterMimeTypes` are provided as well, the result is a union of the two resulting app lists.",
              "type": "string"
            },
            "languageCode": {
              "location": "query",
              "description": "A language or locale code, as defined by BCP 47, with some extensions from Unicode's LDML format (http://www.unicode.org/reports/tr35/).",
              "type": "string"
            },
            "appFilterMimeTypes": {
              "location": "query",
              "description": "A comma-separated list of MIME types for open with filtering. All apps within the given app query scope which can open any of the given MIME types will be included in the response. If `appFilterExtensions` are provided as well, the result is a union of the two resulting app lists.",
              "type": "string",
              "default": ""
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.apps.readonly"
          ]
        }
      }
    },
    "comments": {
      "methods": {
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}",
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID of the file.",
              "type": "string"
            },
            "commentId": {
              "location": "path",
              "required": true,
              "description": "The ID of the comment.",
              "type": "string"
            }
          },
          "id": "drive.comments.delete",
          "description": "Deletes a comment.",
          "path": "files/{fileId}/comments/{commentId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "fileId",
            "commentId"
          ]
        },
        "update": {
          "id": "drive.comments.update",
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID of the file.",
              "type": "string"
            },
            "commentId": {
              "location": "path",
              "required": true,
              "description": "The ID of the comment.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "path": "files/{fileId}/comments/{commentId}",
          "description": "Updates an existing comment.",
          "flatPath": "files/{fileId}/comments/{commentId}",
          "response": {
            "$ref": "Comment"
          },
          "request": {
            "$ref": "Comment"
          },
          "httpMethod": "PUT"
        },
        "get": {
          "httpMethod": "GET",
          "flatPath": "files/{fileId}/comments/{commentId}",
          "response": {
            "$ref": "Comment"
          },
          "path": "files/{fileId}/comments/{commentId}",
          "description": "Gets a comment by ID.",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.comments.get",
          "parameters": {
            "commentId": {
              "location": "path",
              "required": true,
              "description": "The ID of the comment.",
              "type": "string"
            },
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID of the file.",
              "type": "string"
            },
            "includeDeleted": {
              "description": "If set, this will succeed when retrieving a deleted comment, and will include any deleted replies.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            }
          }
        },
        "list": {
          "flatPath": "files/{fileId}/comments",
          "response": {
            "$ref": "CommentList"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.comments.list",
          "parameters": {
            "includeDeleted": {
              "default": "false",
              "description": "If set, all comments and replies, including deleted comments and replies (with content stripped) will be returned.",
              "type": "boolean",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response.",
              "type": "string"
            },
            "maxResults": {
              "minimum": "0",
              "maximum": "100",
              "default": "20",
              "format": "int32",
              "description": "The maximum number of discussions to include in the response, used for paging.",
              "type": "integer",
              "location": "query"
            },
            "fileId": {
              "description": "The ID of the file.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "updatedMin": {
              "location": "query",
              "description": "Only discussions that were updated after this timestamp will be returned. Formatted as an RFC 3339 timestamp.",
              "type": "string"
            }
          },
          "path": "files/{fileId}/comments",
          "description": "Lists a file's comments.",
          "parameterOrder": [
            "fileId"
          ]
        },
        "patch": {
          "path": "files/{fileId}/comments/{commentId}",
          "description": "Updates an existing comment.",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.comments.patch",
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID of the file.",
              "type": "string"
            },
            "commentId": {
              "location": "path",
              "required": true,
              "description": "The ID of the comment.",
              "type": "string"
            }
          },
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Comment"
          },
          "flatPath": "files/{fileId}/comments/{commentId}",
          "response": {
            "$ref": "Comment"
          }
        },
        "insert": {
          "response": {
            "$ref": "Comment"
          },
          "flatPath": "files/{fileId}/comments",
          "request": {
            "$ref": "Comment"
          },
          "httpMethod": "POST",
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID of the file.",
              "type": "string"
            }
          },
          "id": "drive.comments.insert",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [
            "fileId"
          ],
          "description": "Creates a new comment on the given file.",
          "path": "files/{fileId}/comments"
        }
      }
    },
    "properties": {
      "methods": {
        "insert": {
          "path": "files/{fileId}/properties",
          "description": "Adds a property to a file, or updates it if it already exists.",
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "id": "drive.properties.insert",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "Property"
          },
          "flatPath": "files/{fileId}/properties",
          "response": {
            "$ref": "Property"
          }
        },
        "list": {
          "path": "files/{fileId}/properties",
          "description": "Lists a file's properties.",
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.properties.list",
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID of the file.",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "flatPath": "files/{fileId}/properties",
          "response": {
            "$ref": "PropertyList"
          }
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "id": "drive.properties.patch",
          "parameters": {
            "propertyKey": {
              "location": "path",
              "required": true,
              "description": "The key of the property.",
              "type": "string"
            },
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID of the file.",
              "type": "string"
            },
            "visibility": {
              "default": "private",
              "description": "The visibility of the property. Allowed values are PRIVATE and PUBLIC. (Default: PRIVATE)",
              "type": "string",
              "location": "query"
            }
          },
          "path": "files/{fileId}/properties/{propertyKey}",
          "description": "Updates a property.",
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "response": {
            "$ref": "Property"
          },
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Property"
          }
        },
        "delete": {
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "description": "Deletes a property.",
          "path": "files/{fileId}/properties/{propertyKey}",
          "httpMethod": "DELETE",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "visibility": {
              "location": "query",
              "description": "The visibility of the property.",
              "type": "string",
              "default": "private"
            },
            "propertyKey": {
              "location": "path",
              "required": true,
              "description": "The key of the property.",
              "type": "string"
            }
          },
          "id": "drive.properties.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "flatPath": "files/{fileId}/properties/{propertyKey}"
        },
        "update": {
          "request": {
            "$ref": "Property"
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "Property"
          },
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "description": "Updates a property.",
          "path": "files/{fileId}/properties/{propertyKey}",
          "parameters": {
            "propertyKey": {
              "description": "The key of the property.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "fileId": {
              "description": "The ID of the file.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "visibility": {
              "default": "private",
              "description": "The visibility of the property. Allowed values are PRIVATE and PUBLIC. (Default: PRIVATE)",
              "type": "string",
              "location": "query"
            }
          },
          "id": "drive.properties.update",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ]
        },
        "get": {
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "response": {
            "$ref": "Property"
          },
          "httpMethod": "GET",
          "id": "drive.properties.get",
          "parameters": {
            "propertyKey": {
              "description": "The key of the property.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID of the file.",
              "type": "string"
            },
            "visibility": {
              "default": "private",
              "location": "query",
              "description": "The visibility of the property.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "path": "files/{fileId}/properties/{propertyKey}",
          "description": "Gets a property by its key."
        }
      }
    },
    "revisions": {
      "methods": {
        "list": {
          "parameterOrder": [
            "fileId"
          ],
          "description": "Lists a file's revisions. **Important:** The list of revisions returned by this method might be incomplete for files with a large revision history, including frequently edited Google Docs, Sheets, and Slides. Older revisions might be omitted from the response, meaning the first revision returned may not be the oldest existing revision. The revision history visible in the Workspace editor user interface might be more complete than the list returned by the API.",
          "path": "files/{fileId}/revisions",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "pageToken": {
              "description": "Page token for revisions. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "minimum": "1",
              "maximum": "1000",
              "default": "200",
              "format": "int32",
              "location": "query",
              "description": "Maximum number of revisions to return.",
              "type": "integer"
            }
          },
          "id": "drive.revisions.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "RevisionList"
          },
          "flatPath": "files/{fileId}/revisions"
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameters": {
            "revisionId": {
              "description": "The ID for the revision.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "fileId": {
              "description": "The ID for the file.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "drive.revisions.patch",
          "description": "Updates a revision.",
          "path": "files/{fileId}/revisions/{revisionId}",
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "response": {
            "$ref": "Revision"
          },
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Revision"
          }
        },
        "get": {
          "httpMethod": "GET",
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "response": {
            "$ref": "Revision"
          },
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "path": "files/{fileId}/revisions/{revisionId}",
          "description": "Gets a specific revision.",
          "id": "drive.revisions.get",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "revisionId": {
              "location": "path",
              "required": true,
              "description": "The ID of the revision.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "delete": {
          "id": "drive.revisions.delete",
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID of the file.",
              "type": "string"
            },
            "revisionId": {
              "description": "The ID of the revision.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "path": "files/{fileId}/revisions/{revisionId}",
          "httpMethod": "DELETE",
          "description": "Permanently deletes a file version. You can only delete revisions for files with binary content, like images or videos. Revisions for other files, like Google Docs or Sheets, and the last remaining file version can't be deleted."
        },
        "update": {
          "httpMethod": "PUT",
          "request": {
            "$ref": "Revision"
          },
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "response": {
            "$ref": "Revision"
          },
          "path": "files/{fileId}/revisions/{revisionId}",
          "description": "Updates a revision.",
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.revisions.update",
          "parameters": {
            "revisionId": {
              "description": "The ID for the revision.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID for the file.",
              "type": "string"
            }
          }
        }
      }
    },
    "changes": {
      "methods": {
        "watch": {
          "flatPath": "changes/watch",
          "supportsSubscription": true,
          "response": {
            "$ref": "Channel"
          },
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "httpMethod": "POST",
          "id": "drive.changes.watch",
          "parameters": {
            "includeCorpusRemovals": {
              "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "includeTeamDriveItems": {
              "location": "query",
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "type": "boolean",
              "default": "false",
              "deprecated": true
            },
            "driveId": {
              "location": "query",
              "description": "The shared drive from which changes will be returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier.",
              "type": "string"
            },
            "includeDeleted": {
              "default": "true",
              "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.",
              "type": "boolean",
              "location": "query"
            },
            "includeItemsFromAllDrives": {
              "default": "false",
              "location": "query",
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "type": "boolean"
            },
            "includeSubscribed": {
              "description": "Whether to include changes outside the My Drive hierarchy in the result. When set to false, changes to files such as those in the Application Data folder or shared files which have not been added to My Drive will be omitted from the result.",
              "type": "boolean",
              "location": "query",
              "default": "true"
            },
            "includeLabels": {
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string"
            },
            "teamDriveId": {
              "description": "Deprecated: Use `driveId` instead.",
              "type": "string",
              "location": "query",
              "deprecated": true
            },
            "maxResults": {
              "description": "Maximum number of changes to return.",
              "type": "integer",
              "location": "query",
              "default": "100",
              "format": "int32",
              "minimum": "1"
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response or to the response from the getStartPageToken method.",
              "type": "string",
              "location": "query"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "default": "false"
            },
            "spaces": {
              "location": "query",
              "description": "A comma-separated list of spaces to query. Supported values are `drive`, `appDataFolder` and `photos`.",
              "type": "string"
            },
            "startChangeId": {
              "description": "Deprecated: Use `pageToken` instead.",
              "type": "string",
              "location": "query",
              "deprecated": true,
              "format": "int64"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [],
          "path": "changes/watch",
          "description": "Subscribe to changes for a user."
        },
        "getStartPageToken": {
          "flatPath": "changes/startPageToken",
          "response": {
            "$ref": "StartPageToken"
          },
          "httpMethod": "GET",
          "id": "drive.changes.getStartPageToken",
          "parameters": {
            "supportsAllDrives": {
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "location": "query"
            },
            "driveId": {
              "description": "The ID of the shared drive for which the starting pageToken for listing future changes from that shared drive will be returned.",
              "type": "string",
              "location": "query"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "default": "false"
            },
            "teamDriveId": {
              "description": "Deprecated: Use `driveId` instead.",
              "type": "string",
              "location": "query",
              "deprecated": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [],
          "path": "changes/startPageToken",
          "description": "Gets the starting pageToken for listing future changes."
        },
        "get": {
          "httpMethod": "GET",
          "flatPath": "changes/{changeId}",
          "response": {
            "$ref": "Change"
          },
          "parameterOrder": [
            "changeId"
          ],
          "path": "changes/{changeId}",
          "description": "Deprecated: Use `changes.getStartPageToken` and `changes.list` to retrieve recent changes.",
          "id": "drive.changes.get",
          "parameters": {
            "supportsAllDrives": {
              "default": "false",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean"
            },
            "driveId": {
              "location": "query",
              "description": "The shared drive from which the change will be returned.",
              "type": "string"
            },
            "supportsTeamDrives": {
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "default": "false",
              "deprecated": true
            },
            "teamDriveId": {
              "deprecated": true,
              "description": "Deprecated: Use `driveId` instead.",
              "type": "string",
              "location": "query"
            },
            "changeId": {
              "description": "The ID of the change.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "flatPath": "changes",
          "supportsSubscription": true,
          "response": {
            "$ref": "ChangeList"
          },
          "path": "changes",
          "description": "Lists the changes for a user or shared drive.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.changes.list",
          "parameters": {
            "includeDeleted": {
              "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.",
              "type": "boolean",
              "location": "query",
              "default": "true"
            },
            "includeItemsFromAllDrives": {
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "driveId": {
              "description": "The shared drive from which changes will be returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier.",
              "type": "string",
              "location": "query"
            },
            "includeTeamDriveItems": {
              "location": "query",
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "type": "boolean",
              "default": "false",
              "deprecated": true
            },
            "supportsAllDrives": {
              "default": "false",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean"
            },
            "includeCorpusRemovals": {
              "default": "false",
              "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.",
              "type": "boolean",
              "location": "query"
            },
            "includePermissionsForView": {
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string"
            },
            "startChangeId": {
              "deprecated": true,
              "format": "int64",
              "description": "Deprecated: Use `pageToken` instead.",
              "type": "string",
              "location": "query"
            },
            "spaces": {
              "location": "query",
              "description": "A comma-separated list of spaces to query. Supported values are `drive`, `appDataFolder` and `photos`.",
              "type": "string"
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response or to the response from the getStartPageToken method.",
              "type": "string",
              "location": "query"
            },
            "supportsTeamDrives": {
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "default": "false",
              "deprecated": true
            },
            "maxResults": {
              "minimum": "1",
              "description": "Maximum number of changes to return.",
              "type": "integer",
              "location": "query",
              "default": "100",
              "format": "int32"
            },
            "teamDriveId": {
              "location": "query",
              "description": "Deprecated: Use `driveId` instead.",
              "type": "string",
              "deprecated": true
            },
            "includeSubscribed": {
              "description": "Whether to include changes outside the My Drive hierarchy in the result. When set to false, changes to files such as those in the Application Data folder or shared files which have not been added to My Drive will be omitted from the result.",
              "type": "boolean",
              "location": "query",
              "default": "true"
            },
            "includeLabels": {
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string"
            }
          }
        }
      }
    },
    "channels": {
      "methods": {
        "stop": {
          "id": "drive.channels.stop",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [],
          "path": "channels/stop",
          "description": "Stops watching resources through this channel.",
          "flatPath": "channels/stop",
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "httpMethod": "POST"
        }
      }
    },
    "files": {
      "methods": {
        "listLabels": {
          "httpMethod": "GET",
          "flatPath": "files/{fileId}/listLabels",
          "response": {
            "$ref": "LabelList"
          },
          "path": "files/{fileId}/listLabels",
          "description": "Lists the labels on a file.",
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.files.listLabels",
          "parameters": {
            "maxResults": {
              "default": "100",
              "format": "int32",
              "description": "The maximum number of labels to return per page. When not set, defaults to 100.",
              "type": "integer",
              "location": "query",
              "minimum": "1",
              "maximum": "100"
            },
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID for the file.",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.",
              "type": "string"
            }
          }
        },
        "generateCseToken": {
          "httpMethod": "GET",
          "flatPath": "files/generateCseToken",
          "response": {
            "$ref": "GenerateCseTokenResponse"
          },
          "path": "files/generateCseToken",
          "description": "Generates a CSE token which can be used to create or update CSE files.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "id": "drive.files.generateCseToken",
          "parameters": {
            "fileId": {
              "location": "query",
              "description": "The ID of the file for which the JWT should be generated. If not provided, an id will be generated.",
              "type": "string"
            },
            "parent": {
              "location": "query",
              "description": "The ID of the expected parent of the file. Used when generating a JWT for a new CSE file. If specified, the parent will be fetched, and if the parent is a shared drive item, the shared drive's policy will be used to determine the KACLS that should be used. It is invalid to specify both file_id and parent in a single request.",
              "type": "string"
            }
          }
        },
        "watch": {
          "parameterOrder": [
            "fileId"
          ],
          "description": "Subscribes to changes to a file.",
          "path": "files/{fileId}/watch",
          "parameters": {
            "supportsAllDrives": {
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "location": "query"
            },
            "acknowledgeAbuse": {
              "location": "query",
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.",
              "type": "boolean",
              "default": "false"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "location": "query"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string",
              "location": "query"
            },
            "fileId": {
              "description": "The ID for the file in question.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "updateViewedDate": {
              "description": "Deprecated: Use files.update with modifiedDateBehavior=noChange, updateViewedDate=true and an empty request body.",
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "default": "false"
            },
            "revisionId": {
              "description": "Specifies the Revision ID that should be downloaded. Ignored unless alt=media is specified.",
              "type": "string",
              "location": "query"
            },
            "includePermissionsForView": {
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string"
            },
            "projection": {
              "location": "query",
              "description": "Deprecated: This parameter has no function.",
              "type": "string",
              "deprecated": true,
              "enum": [
                "BASIC",
                "FULL"
              ],
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ]
            }
          },
          "id": "drive.files.watch",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "Channel"
          },
          "flatPath": "files/{fileId}/watch",
          "supportsSubscription": true
        },
        "list": {
          "parameterOrder": [],
          "description": " Lists the user's files. For more information, see [Search for files and folders](https://developers.google.com/workspace/drive/api/guides/search-files). This method accepts the `q` parameter, which is a search query combining one or more search terms. This method returns *all* files by default, including trashed files. If you don't want trashed files to appear in the list, use the `trashed=false` query parameter to remove trashed files from the results.",
          "path": "files",
          "parameters": {
            "includePermissionsForView": {
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string"
            },
            "projection": {
              "location": "query",
              "description": "Deprecated: This parameter has no function.",
              "type": "string",
              "deprecated": true,
              "enum": [
                "BASIC",
                "FULL"
              ],
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ]
            },
            "spaces": {
              "location": "query",
              "description": "A comma-separated list of spaces to query. Supported values are `drive`, and `appDataFolder`.",
              "type": "string"
            },
            "corpus": {
              "description": "Deprecated: The body of items (files/documents) to which the query applies. Use `corpora` instead.",
              "type": "string",
              "location": "query",
              "deprecated": true,
              "enum": [
                "DEFAULT",
                "DOMAIN"
              ],
              "enumDescriptions": [
                "The items that the user has accessed.",
                "Items shared to the user's domain."
              ]
            },
            "maxResults": {
              "description": "The maximum number of files to return per page. Partial or empty result pages are possible even before the end of the files list has been reached.",
              "type": "integer",
              "location": "query",
              "default": "100",
              "format": "int32",
              "minimum": "0"
            },
            "pageToken": {
              "description": "Page token for files.",
              "type": "string",
              "location": "query"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "default": "false"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string",
              "location": "query"
            },
            "teamDriveId": {
              "description": "Deprecated: Use `driveId` instead.",
              "type": "string",
              "location": "query",
              "deprecated": true
            },
            "driveId": {
              "description": "ID of the shared drive to search.",
              "type": "string",
              "location": "query"
            },
            "includeItemsFromAllDrives": {
              "default": "false",
              "location": "query",
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "type": "boolean"
            },
            "orderBy": {
              "description": "A comma-separated list of sort keys. Valid keys are: * `createdDate`: When the file was created. * `folder`: The folder ID. This field is sorted using alphabetical ordering. * `lastViewedByMeDate`: The last time the file was viewed by the user. * `modifiedByMeDate`: The last time the file was modified by the user. * `modifiedDate`: The last time the file was modified by anyone. * `quotaBytesUsed`: The number of storage quota bytes used by the file. * `recency`: The most recent timestamp from the file's date-time fields. * `sharedWithMeDate`: When the file was shared with the user, if applicable. * `starred`: Whether the user has starred the file. * `title`: The title of the file. This field is sorted using alphabetical ordering, so 1, 12, 2, 22. * `title_natural`: The title of the file. This field is sorted using natural sort ordering, so 1, 2, 12, 22. Each key sorts ascending by default, but can be reversed with the 'desc' modifier. Example usage: `?orderBy=folder,modifiedDate desc,title`. Note that there's a current limitation for users with approximately one million files in which the requested sort order is ignored.",
              "type": "string",
              "location": "query"
            },
            "q": {
              "description": "Query string for searching files.",
              "type": "string",
              "location": "query"
            },
            "includeTeamDriveItems": {
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "default": "false"
            },
            "corpora": {
              "description": "Bodies of items (files/documents) to which the query applies. Supported bodies are `default`, `domain`, `drive` and `allDrives`. Prefer `default` or `drive` to `allDrives` for efficiency.",
              "type": "string",
              "location": "query"
            },
            "supportsAllDrives": {
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "default": "false"
            }
          },
          "id": "drive.files.list",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "FileList"
          },
          "flatPath": "files"
        },
        "emptyTrash": {
          "flatPath": "files/trash",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "id": "drive.files.emptyTrash",
          "parameters": {
            "enforceSingleParent": {
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: If an item is not in a shared drive and its last parent is deleted but the item itself is not, the item is placed under its owner's root.",
              "type": "boolean",
              "location": "query"
            },
            "driveId": {
              "description": "If set, empties the trash of the provided shared drive.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "files/trash",
          "httpMethod": "DELETE",
          "description": "Permanently deletes all of the user's trashed files.",
          "parameterOrder": []
        },
        "get": {
          "response": {
            "$ref": "File"
          },
          "flatPath": "files/{fileId}",
          "supportsSubscription": true,
          "supportsMediaDownload": true,
          "httpMethod": "GET",
          "parameters": {
            "revisionId": {
              "location": "query",
              "description": "Specifies the Revision ID that should be downloaded. Ignored unless alt=media is specified.",
              "type": "string"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string",
              "location": "query"
            },
            "projection": {
              "description": "Deprecated: This parameter has no function.",
              "type": "string",
              "location": "query",
              "deprecated": true,
              "enum": [
                "BASIC",
                "FULL"
              ],
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ]
            },
            "includeLabels": {
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string"
            },
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID for the file in question.",
              "type": "string"
            },
            "updateViewedDate": {
              "location": "query",
              "description": "Deprecated: Use `files.update` with `modifiedDateBehavior=noChange, updateViewedDate=true` and an empty request body.",
              "type": "boolean",
              "default": "false",
              "deprecated": true
            },
            "acknowledgeAbuse": {
              "default": "false",
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.",
              "type": "boolean",
              "location": "query"
            },
            "supportsAllDrives": {
              "default": "false",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "location": "query"
            }
          },
          "id": "drive.files.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "fileId"
          ],
          "useMediaDownloadService": true,
[...]
