{
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "name": "drivelabels",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "mtlsRootUrl": "https://drivelabels.mtls.googleapis.com/",
  "rootUrl": "https://drivelabels.googleapis.com/",
  "servicePath": "",
  "documentationLink": "https://developers.google.com/workspace/drive/labels",
  "description": "An API for managing Drive Labels",
  "baseUrl": "https://drivelabels.googleapis.com/",
  "title": "Drive Labels API",
  "version_module": true,
  "resources": {
    "users": {
      "methods": {
        "getCapabilities": {
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaUserCapabilities"
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Gets the user capabilities.",
          "path": "v2beta/{+name}",
          "flatPath": "v2beta/users/{usersId}/capabilities",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "id": "drivelabels.users.getCapabilities",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The resource name of the user. Only \"users/me/capabilities\" is supported.",
              "pattern": "^users/[^/]+/capabilities$",
              "location": "path",
              "required": true
            },
            "customer": {
              "location": "query",
              "type": "string",
              "description": "The customer to scope this request to. For example: `customers/abcd1234`. If unset, it will return settings within the current customer."
            }
          }
        }
      }
    },
    "labels": {
      "methods": {
        "delete": {
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "httpMethod": "DELETE",
          "parameterOrder": [
            "name"
          ],
          "path": "v2beta/{+name}",
          "flatPath": "v2beta/labels/{labelsId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "description": "Permanently deletes a label and related metadata on Drive items. For more information, see [Disable, enable, and delete a label](https://developers.google.com/workspace/drive/labels/guides/disable-delete-label). Once deleted, the label and related Drive item metadata will be deleted. Only draft labels and disabled labels may be deleted.",
          "id": "drivelabels.labels.delete",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. Label resource name.",
              "pattern": "^labels/[^/]+$",
              "location": "path",
              "required": true
            },
            "useAdminAccess": {
              "type": "boolean",
              "location": "query",
              "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
            },
            "writeControl.requiredRevisionId": {
              "description": "The revision ID of the label that the write request will be applied to. If this isn't the latest revision of the label, the request will not be processed and will return a 400 Bad Request error.",
              "type": "string",
              "location": "query"
            }
          }
        },
        "updateLabelCopyMode": {
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Updates a label's `CopyMode`. Changes to this policy aren't revisioned, don't require publishing, and take effect immediately.",
          "path": "v2beta/{+name}:updateLabelCopyMode",
          "flatPath": "v2beta/labels/{labelsId}:updateLabelCopyMode",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaUpdateLabelCopyModeRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "id": "drivelabels.labels.updateLabelCopyMode",
          "parameters": {
            "name": {
              "description": "Required. The resource name of the label to update.",
              "pattern": "^labels/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        },
        "publish": {
          "id": "drivelabels.labels.publish",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. Label resource name.",
              "pattern": "^labels/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "description": "Publish all draft changes to the label. Once published, the label may not return to its draft state. For more information, see [Create and publish a label](https://developers.google.com/workspace/drive/labels/guides/create-label). Publishing a label will result in a new published revision. All previous draft revisions will be deleted. Previous published revisions will be kept but are subject to automated deletion as needed. For more information, see [Label lifecycle](https://developers.google.com/workspace/drive/labels/guides/label-lifecycle). Once published, some changes are no longer permitted. Generally, any change that would invalidate or cause new restrictions on existing metadata related to the label will be rejected. For example, the following changes to a label will be rejected after the label is published: * The label cannot be directly deleted. It must be disabled first, then deleted. * `Field.FieldType` cannot be changed. * Changes to field validation options cannot reject something that was previously accepted. * Reducing the maximum entries.",
          "path": "v2beta/{+name}:publish",
          "flatPath": "v2beta/labels/{labelsId}:publish",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaPublishLabelRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "httpMethod": "POST"
        },
        "list": {
          "id": "drivelabels.labels.list",
          "parameters": {
            "minimumRole": {
              "enumDescriptions": [
                "Unknown role.",
                "A reader can read the label and associated metadata applied to Drive items.",
                "An applier can write associated metadata on Drive items in which they also have write access to. Implies `READER`.",
                "An organizer can pin this label in shared drives they manage and add new appliers to the label.",
                "Editors can make any update including deleting the label which also deletes the associated Drive item metadata. Implies `APPLIER`."
              ],
              "location": "query",
              "description": "Specifies the level of access the user must have on the returned labels. The minimum role a user must have on a label. Defaults to `READER`.",
              "enum": [
                "LABEL_ROLE_UNSPECIFIED",
                "READER",
                "APPLIER",
                "ORGANIZER",
                "EDITOR"
              ],
              "type": "string"
            },
            "customer": {
              "type": "string",
              "location": "query",
              "description": "The customer to scope this list request to. For example: `customers/abcd1234`. If unset, will return all labels within the current customer."
            },
            "languageCode": {
              "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language are used.",
              "location": "query",
              "type": "string"
            },
            "publishedOnly": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to include only published labels in the results. * When `true`, only the current published label revisions are returned. Disabled labels are included. Returned label resource names reference the published revision (`labels/{id}/{revision_id}`). * When `false`, the current label revisions are returned, which might not be published. Returned label resource names don't reference a specific revision (`labels/{id}`)."
            },
            "useAdminAccess": {
              "type": "boolean",
              "location": "query",
              "description": "Set to `true` in order to use the user's admin credentials. This will return all labels within the customer."
            },
            "pageSize": {
              "description": "Maximum number of labels to return per page. Default: 50. Max: 200.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "description": "The token of the page to return.",
              "location": "query",
              "type": "string"
            },
            "view": {
              "enumDescriptions": [
                "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
                "All possible fields."
              ],
              "location": "query",
              "description": "When specified, only certain fields belonging to the indicated view are returned.",
              "enum": [
                "LABEL_VIEW_BASIC",
                "LABEL_VIEW_FULL"
              ],
              "type": "string"
            }
          },
          "description": "List labels. For more information, see [Search for labels](https://developers.google.com/workspace/drive/labels/guides/search-label).",
          "path": "v2beta/labels",
          "flatPath": "v2beta/labels",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaListLabelsResponse"
          },
          "httpMethod": "GET"
        },
        "create": {
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "httpMethod": "POST",
          "id": "drivelabels.labels.create",
          "parameters": {
            "useAdminAccess": {
              "location": "query",
              "type": "boolean",
              "description": "Set to `true` in order to use the user's admin privileges. The server will verify the user is an admin before allowing access."
            },
            "languageCode": {
              "type": "string",
              "location": "query",
              "description": "The BCP-47 language code to use for evaluating localized field labels in response. When not specified, values in the default configured language will be used."
            }
          },
          "path": "v2beta/labels",
          "flatPath": "v2beta/labels",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "description": "Creates a label. For more information, see [Create and publish a label](https://developers.google.com/workspace/drive/labels/guides/create-label)."
        },
        "delta": {
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponse"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "path": "v2beta/{+name}:delta",
          "flatPath": "v2beta/labels/{labelsId}:delta",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "description": "Updates a single label by applying a set of update requests resulting in a new draft revision. For more information, see [Update a label](https://developers.google.com/workspace/drive/labels/guides/update-label). The batch update is all-or-nothing: If any of the update requests are invalid, no changes are applied. The resulting draft revision must be published before the changes may be used with Drive items.",
          "id": "drivelabels.labels.delta",
          "parameters": {
            "name": {
              "description": "Required. The resource name of the label to update.",
              "pattern": "^labels/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        },
        "disable": {
          "description": "Disable a published label. For more information, see [Disable, enable, and delete a label](https://developers.google.com/workspace/drive/labels/guides/disable-delete-label). Disabling a label will result in a new disabled published revision based on the current published revision. If there's a draft revision, a new disabled draft revision will be created based on the latest draft revision. Older draft revisions will be deleted. Once disabled, a label may be deleted with `DeleteLabel`.",
          "path": "v2beta/{+name}:disable",
          "flatPath": "v2beta/labels/{labelsId}:disable",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaDisableLabelRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "id": "drivelabels.labels.disable",
          "parameters": {
            "name": {
              "description": "Required. Label resource name.",
              "pattern": "^labels/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ]
        },
        "updatePermissions": {
          "parameterOrder": [
            "parent"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
          },
          "id": "drivelabels.labels.updatePermissions",
          "parameters": {
            "parent": {
              "description": "Required. The parent label resource name.",
              "pattern": "^labels/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true
            },
            "useAdminAccess": {
              "type": "boolean",
              "location": "query",
              "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
            }
          },
          "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
          "path": "v2beta/{+parent}/permissions",
          "flatPath": "v2beta/labels/{labelsId}/permissions",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ]
        },
        "updateLabelEnabledAppSettings": {
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "description": "Updates a label's `EnabledAppSettings`. Enabling a label in a Google Workspace app allows it to be used in that app. This change isn't revisioned, doesn't require publishing, and takes effect immediately.",
          "path": "v2beta/{+name}:updateLabelEnabledAppSettings",
          "flatPath": "v2beta/labels/{labelsId}:updateLabelEnabledAppSettings",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaUpdateLabelEnabledAppSettingsRequest"
          },
          "id": "drivelabels.labels.updateLabelEnabledAppSettings",
          "parameters": {
            "name": {
              "description": "Required. The resource name of the label to update. The resource name of the label to update.",
              "pattern": "^labels/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        },
        "enable": {
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "id": "drivelabels.labels.enable",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Label resource name.",
              "pattern": "^labels/[^/]+$"
            }
          },
          "description": "Enable a disabled label and restore it to its published state. For more information, see [Disable, enable, and delete a label](https://developers.google.com/workspace/drive/labels/guides/disable-delete-label). This will result in a new published revision based on the current disabled published revision. If there's an existing disabled draft revision, a new revision will be created based on that draft and will be enabled.",
          "path": "v2beta/{+name}:enable",
          "flatPath": "v2beta/labels/{labelsId}:enable",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaEnableLabelRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v2beta/{+name}",
          "flatPath": "v2beta/labels/{labelsId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "description": "Get a label by its resource name. For more information, see [Search for labels](https://developers.google.com/workspace/drive/labels/guides/search-label). Resource name may be any of: * `labels/{id}` - See `labels/{id}@latest` * `labels/{id}@latest` - Gets the latest revision of the label. * `labels/{id}@published` - Gets the current published revision of the label. * `labels/{id}@{revision_id}` - Gets the label at the specified revision ID.",
          "id": "drivelabels.labels.get",
          "parameters": {
            "languageCode": {
              "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language are used.",
              "type": "string",
              "location": "query"
            },
            "name": {
              "location": "path",
              "required": true,
              "description": "Required. Label resource name. May be any of: * `labels/{id}` (equivalent to labels/{id}@latest) * `labels/{id}@latest` * `labels/{id}@published` * `labels/{id}@{revision_id}`",
              "pattern": "^labels/[^/]+$",
              "type": "string"
            },
            "useAdminAccess": {
              "location": "query",
              "type": "boolean",
              "description": "Set to `true` in order to use the user's admin credentials. The server verifies that the user is an admin for the label before allowing access."
            },
            "view": {
              "enumDescriptions": [
                "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
                "All possible fields."
              ],
              "location": "query",
              "enum": [
                "LABEL_VIEW_BASIC",
                "LABEL_VIEW_FULL"
              ],
              "description": "When specified, only certain fields belonging to the indicated view are returned.",
              "type": "string"
            }
          }
        }
      },
      "resources": {
        "permissions": {
          "methods": {
            "batchUpdate": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsResponse"
              },
              "httpMethod": "POST",
              "id": "drivelabels.labels.permissions.batchUpdate",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent label resource name shared by all permissions being updated. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
                  "pattern": "^labels/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v2beta/{+parent}/permissions:batchUpdate",
              "flatPath": "v2beta/labels/{labelsId}/permissions:batchUpdate",
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "description": "Updates label permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing."
            },
            "delete": {
              "description": "Deletes a label's permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "path": "v2beta/{+name}",
              "flatPath": "v2beta/labels/{labelsId}/permissions/{permissionsId}",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "id": "drivelabels.labels.permissions.delete",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Label permission resource name.",
                  "pattern": "^labels/[^/]+/permissions/.*$"
                },
                "useAdminAccess": {
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2betaListLabelPermissionsResponse"
              },
              "id": "drivelabels.labels.permissions.list",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent label resource name on which label permissions are listed. Format: `labels/{label}`.",
                  "pattern": "^labels/[^/]+$"
                },
                "useAdminAccess": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Maximum number of permissions to return per page. Default: 50. Max: 200."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The token of the page to return."
                }
              },
              "path": "v2beta/{+parent}/permissions",
              "flatPath": "v2beta/labels/{labelsId}/permissions",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                "https://www.googleapis.com/auth/drive.labels",
                "https://www.googleapis.com/auth/drive.labels.readonly"
              ],
              "description": "Lists a label's permissions."
            },
            "create": {
              "id": "drivelabels.labels.permissions.create",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent label resource name on the label permission is created. Format: `labels/{label}`.",
                  "pattern": "^labels/[^/]+$"
                },
                "useAdminAccess": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
                }
              },
              "path": "v2beta/{+parent}/permissions",
              "flatPath": "v2beta/labels/{labelsId}/permissions",
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
              }
            },
            "batchDelete": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "drivelabels.labels.permissions.batchDelete",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent label resource name shared by all permissions being deleted. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
                  "pattern": "^labels/[^/]+$"
                }
              },
              "path": "v2beta/{+parent}/permissions:batchDelete",
              "flatPath": "v2beta/labels/{labelsId}/permissions:batchDelete",
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2betaBatchDeleteLabelPermissionsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "description": "Deletes label permissions. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing."
            }
          }
        },
        "revisions": {
          "methods": {
            "updatePermissions": {
              "id": "drivelabels.labels.revisions.updatePermissions",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The parent label resource name.",
                  "pattern": "^labels/[^/]+/revisions/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "useAdminAccess": {
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "path": "v2beta/{+parent}/permissions",
              "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/permissions",
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
              }
            }
          },
          "resources": {
            "permissions": {
              "methods": {
                "batchUpdate": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsResponse"
                  },
                  "id": "drivelabels.labels.revisions.permissions.batchUpdate",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent label resource name shared by all permissions being updated. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Updates label permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
                  "path": "v2beta/{+parent}/permissions:batchUpdate",
                  "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/permissions:batchUpdate",
                  "request": {
                    "$ref": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ]
                },
                "list": {
                  "id": "drivelabels.labels.revisions.permissions.list",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent label resource name on which label permissions are listed. Format: `labels/{label}`.",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "type": "string"
                    },
                    "useAdminAccess": {
                      "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Maximum number of permissions to return per page. Default: 50. Max: 200."
                    },
                    "pageToken": {
                      "description": "The token of the page to return.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v2beta/{+parent}/permissions",
                  "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/permissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                    "https://www.googleapis.com/auth/drive.labels",
                    "https://www.googleapis.com/auth/drive.labels.readonly"
                  ],
                  "description": "Lists a label's permissions.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2betaListLabelPermissionsResponse"
                  },
                  "httpMethod": "GET"
                },
                "create": {
                  "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
                  "path": "v2beta/{+parent}/permissions",
                  "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/permissions",
                  "request": {
                    "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
                  "id": "drivelabels.labels.revisions.permissions.create",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent label resource name on the label permission is created. Format: `labels/{label}`.",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "type": "string"
                    },
                    "useAdminAccess": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
                    }
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "id": "drivelabels.labels.revisions.permissions.delete",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Label permission resource name.",
                      "pattern": "^labels/[^/]+/revisions/[^/]+/permissions/.*$",
                      "location": "path",
                      "required": true
                    },
                    "useAdminAccess": {
                      "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "path": "v2beta/{+name}",
                  "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/permissions/{permissionsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
                  "description": "Deletes a label's permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE"
                },
                "batchDelete": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "drivelabels.labels.revisions.permissions.batchDelete",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent label resource name shared by all permissions being deleted. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$"
                    }
                  },
                  "description": "Deletes label permissions. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
                  "path": "v2beta/{+parent}/permissions:batchDelete",
                  "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/permissions:batchDelete",
                  "request": {
                    "$ref": "GoogleAppsDriveLabelsV2betaBatchDeleteLabelPermissionsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ]
                }
              }
            },
            "locks": {
              "methods": {
                "list": {
                  "id": "drivelabels.labels.revisions.locks.list",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Label on which locks are applied. Format: `labels/{label}`.",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$"
                    },
                    "pageSize": {
                      "description": "Maximum number of locks to return per page. Default: 100. Max: 200.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The token of the page to return."
                    }
                  },
                  "path": "v2beta/{+parent}/locks",
                  "flatPath": "v2beta/labels/{labelsId}/revisions/{revisionsId}/locks",
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                    "https://www.googleapis.com/auth/drive.labels",
                    "https://www.googleapis.com/auth/drive.labels.readonly"
                  ],
                  "description": "Lists the label locks on a label.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2betaListLabelLocksResponse"
                  },
                  "httpMethod": "GET"
                }
              }
            }
          }
        },
        "locks": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2betaListLabelLocksResponse"
              },
              "id": "drivelabels.labels.locks.list",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Maximum number of locks to return per page. Default: 100. Max: 200."
                },
                "pageToken": {
                  "description": "The token of the page to return.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Label on which locks are applied. Format: `labels/{label}`.",
                  "pattern": "^labels/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v2beta/{+parent}/locks",
              "flatPath": "v2beta/labels/{labelsId}/locks",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                "https://www.googleapis.com/auth/drive.labels",
                "https://www.googleapis.com/auth/drive.labels.readonly"
              ],
              "description": "Lists the label locks on a label."
            }
          }
        }
      }
    },
    "limits": {
      "methods": {
        "getLabel": {
          "path": "v2beta/limits/label",
          "flatPath": "v2beta/limits/label",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "description": "Get the constraints on the structure of a label; such as, the maximum number of fields allowed and maximum length of the label title.",
          "id": "drivelabels.limits.getLabel",
          "parameters": {
            "name": {
              "location": "query",
              "type": "string",
              "description": "Required. Label revision resource name must be: \"limits/label\"."
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelLimits"
          },
          "parameterOrder": []
        }
      }
    }
  },
  "ownerName": "Google",
  "schemas": {
    "GoogleAppsDriveLabelsV2betaBadgeConfig": {
      "id": "GoogleAppsDriveLabelsV2betaBadgeConfig",
      "type": "object",
      "properties": {
        "priorityOverride": {
          "description": "Override the default global priority of this badge. When set to 0, the default priority heuristic is used.",
          "format": "int64",
          "type": "string"
        },
        "color": {
          "description": "The color of the badge. When not specified, no badge is rendered. The background, foreground, and solo (light and dark mode) colors set here are changed in the Drive UI into the closest recommended supported color.",
          "$ref": "GoogleTypeColor"
        }
      },
      "description": "Badge status of the label."
    },
    "GoogleAppsDriveLabelsV2betaFieldLimits": {
      "description": "Field constants governing the structure of a field; such as, the maximum title length, minimum and maximum field values or length, etc.",
      "properties": {
        "integerLimits": {
          "description": "Integer field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaIntegerLimits"
        },
        "maxIdLength": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum length for the id."
        },
        "maxDisplayNameLength": {
          "format": "int32",
          "type": "integer",
          "description": "Limits for field title."
        },
        "dateLimits": {
          "description": "Date field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaDateLimits"
        },
        "userLimits": {
          "description": "User field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserLimits"
        },
        "maxDescriptionLength": {
          "format": "int32",
          "type": "integer",
          "description": "Limits for field description, also called help text."
        },
        "textLimits": {
          "description": "The relevant limits for the specified Field.Type. Text field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaTextLimits"
        },
        "selectionLimits": {
          "description": "Selection field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaSelectionLimits"
        },
        "longTextLimits": {
          "description": "Long text field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaLongTextLimits"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldLimits",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaUpdateLabelPermissionRequest": {
      "properties": {
        "labelPermission": {
          "description": "Required. The permission to create or update on the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent label resource name."
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaUpdateLabelPermissionRequest",
      "type": "object",
      "description": "Updates a label permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteSelectionChoiceRequest": {
      "description": "Request to delete a choice.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteSelectionChoiceRequest",
      "type": "object",
      "properties": {
        "id": {
          "description": "Required. Choice to delete.",
          "type": "string"
        },
        "fieldId": {
          "type": "string",
          "description": "Required. The selection field from which a choice will be deleted."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLabelPermission": {
      "id": "GoogleAppsDriveLabelsV2betaLabelPermission",
      "type": "object",
      "properties": {
        "role": {
          "type": "string",
          "description": "The role the principal should have.",
          "enumDescriptions": [
            "Unknown role.",
            "A reader can read the label and associated metadata applied to Drive items.",
            "An applier can write associated metadata on Drive items in which they also have write access to. Implies `READER`.",
            "An organizer can pin this label in shared drives they manage and add new appliers to the label.",
            "Editors can make any update including deleting the label which also deletes the associated Drive item metadata. Implies `APPLIER`."
          ],
          "enum": [
            "LABEL_ROLE_UNSPECIFIED",
            "READER",
            "APPLIER",
            "ORGANIZER",
            "EDITOR"
          ]
        },
        "person": {
          "type": "string",
          "description": "Person resource name."
        },
        "group": {
          "type": "string",
          "description": "Group resource name."
        },
        "audience": {
          "type": "string",
          "description": "Audience to grant a role to. The magic value of `audiences/default` may be used to apply the role to the default audience in the context of the organization that owns the label."
        },
        "email": {
          "description": "Specifies the email address for a user or group principal. Not populated for audience principals. User and group permissions may only be inserted using an email address. On update requests, if email address is specified, no principal should be specified.",
          "type": "string"
        },
        "name": {
          "description": "Resource name of this permission.",
          "type": "string"
        }
      },
      "description": "The permission that applies to a principal (user, group, audience) on a label."
    },
    "GoogleAppsDriveLabelsV2betaUserInfo": {
      "properties": {
        "person": {
          "type": "string",
          "description": "The identifier for this user that can be used with the [People API](https://developers.google.com/people) to get more information. For example, `people/12345678`."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaUserInfo",
      "type": "object",
      "description": "Information about a user."
    },
    "GoogleAppsDriveLabelsV2betaDateLimits": {
      "description": "Limits for date field type.",
      "id": "GoogleAppsDriveLabelsV2betaDateLimits",
      "type": "object",
      "properties": {
        "minValue": {
          "description": "Minimum value for the date field type.",
          "$ref": "GoogleTypeDate"
        },
        "maxValue": {
          "description": "Maximum value for the date field type.",
          "$ref": "GoogleTypeDate"
        }
      }
    },
    "GoogleTypeDate": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "GoogleTypeDate",
      "type": "object",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaTextLimits": {
      "description": "Limits for text field type.",
      "properties": {
        "minLength": {
          "description": "Minimum length allowed for a text field type.",
          "type": "integer",
          "format": "int32"
        },
        "maxLength": {
          "description": "Maximum length allowed for a text field type.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaTextLimits",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaUserCapabilities": {
      "description": "The capabilities of a user.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Resource name for the user capabilities.",
          "readOnly": true
        },
        "canAccessLabelManager": {
          "description": "Output only. Whether the user is allowed access to the label manager.",
          "readOnly": true,
          "type": "boolean"
        },
        "canAdministrateLabels": {
          "description": "Output only. Whether the user is an administrator for the shared labels feature.",
          "readOnly": true,
          "type": "boolean"
        },
        "canCreateSharedLabels": {
          "type": "boolean",
          "description": "Output only. Whether the user is allowed to create shared labels.",
          "readOnly": true
        },
        "canCreateAdminLabels": {
          "description": "Output only. Whether the user is allowed to create admin labels.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaUserCapabilities",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaLabelProperties": {
      "id": "GoogleAppsDriveLabelsV2betaLabelProperties",
      "type": "object",
      "properties": {
        "title": {
          "description": "Required. Title of the label.",
          "type": "string"
        },
        "description": {
          "description": "The description of the label.",
          "type": "string"
        }
      },
      "description": "Basic properties of the label."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableSelectionChoiceResponse": {
      "description": "Response following choice enable.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableSelectionChoiceResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2betaLifecycle": {
      "properties": {
        "hasUnpublishedChanges": {
          "type": "boolean",
          "description": "Output only. Whether the object associated with this lifecycle has unpublished changes.",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Unknown State.",
            "The initial state of an object. Once published, the object can never return to this state. Once an object is published, certain kinds of changes are no longer permitted.",
            "The object has been published. The object might have unpublished draft changes as indicated by `has_unpublished_changes`.",
            "The object has been published and has since been disabled. The object might have unpublished draft changes as indicated by `has_unpublished_changes`.",
            "The object has been deleted."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNPUBLISHED_DRAFT",
            "PUBLISHED",
            "DISABLED",
            "DELETED"
          ],
          "description": "Output only. The state of the object associated with this lifecycle.",
          "readOnly": true
        },
        "disabledPolicy": {
          "description": "The policy that governs how to show a disabled label, field, or selection choice.",
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLifecycle",
      "type": "object",
      "description": "The lifecycle state of an object, such as label, field, or choice. For more information, see [Label lifecycle](https://developers.google.com/workspace/drive/labels/guides/label-lifecycle). The lifecycle enforces the following transitions: * `UNPUBLISHED_DRAFT` (starting state) * `UNPUBLISHED_DRAFT` -> `PUBLISHED` * `UNPUBLISHED_DRAFT` -> (Deleted) * `PUBLISHED` -> `DISABLED` * `DISABLED` -> `PUBLISHED` * `DISABLED` -> (Deleted) The published and disabled states have some distinct characteristics: * `Published`: Some kinds of changes might be made to an object in this state, in which case `has_unpublished_changes` will be true. Also, some kinds of changes aren't permitted. Generally, any change that would invalidate or cause new restrictions on existing metadata related to the label are rejected. * `Disabled`: When disabled, the configured `DisabledPolicy` takes effect."
    },
    "GoogleAppsDriveLabelsV2betaFieldDisplayHints": {
      "id": "GoogleAppsDriveLabelsV2betaFieldDisplayHints",
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Whether the field should be shown in the UI as disabled.",
          "type": "boolean"
        },
        "hiddenInSearch": {
          "description": "This field should be hidden in the search menu when searching for Drive items.",
          "type": "boolean"
        },
        "required": {
          "description": "Whether the field should be shown as required in the UI.",
          "type": "boolean"
        },
        "shownInApply": {
          "type": "boolean",
          "description": "This field should be shown in the apply menu when applying values to a Drive item."
        }
      },
      "description": "UI display hints for rendering a field."
    },
    "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest": {
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaUpdateLabelPermissionRequest"
          },
          "description": "Required. The request message specifying the resources to update."
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access. If this is set, the `use_admin_access` field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest",
      "type": "object",
      "description": "Updates one or more label permissions."
    },
    "GoogleAppsDriveLabelsV2betaFieldAppliedCapabilities": {
      "properties": {
        "canRead": {
          "description": "Whether the user can read related applied metadata on items.",
          "type": "boolean"
        },
        "canSearch": {
          "type": "boolean",
          "description": "Whether the user can search for Drive items referencing this field."
        },
        "canWrite": {
          "type": "boolean",
          "description": "Whether the user can set this field on Drive items."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldAppliedCapabilities",
      "type": "object",
      "description": "The capabilities related to this field on applied metadata."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableSelectionChoiceRequest": {
      "description": "Request to disable a choice.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableSelectionChoiceRequest",
      "type": "object",
      "properties": {
        "fieldId": {
          "description": "Required. The selection field in which a choice will be disabled.",
          "type": "string"
        },
        "disabledPolicy": {
          "description": "Required. The disabled policy to update.",
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy"
        },
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "id": {
          "description": "Required. Choice to disable.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseResponse": {
      "description": "A single response from an update.",
      "properties": {
        "updateField": {
          "description": "Updates basic properties of a field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldPropertiesResponse"
        },
        "updateSelectionChoiceProperties": {
          "description": "Updates a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse"
        },
        "createSelectionChoice": {
          "description": "Creates a selection list option to add to a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateSelectionChoiceResponse"
        },
        "enableField": {
          "description": "Enables field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableFieldResponse"
        },
        "enableSelectionChoice": {
          "description": "Enables a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableSelectionChoiceResponse"
        },
        "updateLabel": {
          "description": "Updates basic properties of a label.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateLabelPropertiesResponse"
        },
        "updateFieldType": {
          "description": "Updates field type and/or type options.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldTypeResponse"
        },
        "disableField": {
          "description": "Disables field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableFieldResponse"
        },
        "createField": {
          "description": "Creates a field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateFieldResponse"
        },
        "deleteField": {
          "description": "Deletes a field from the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteFieldResponse"
        },
        "disableSelectionChoice": {
          "description": "Disables a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableSelectionChoiceResponse"
        },
        "deleteSelectionChoice": {
          "description": "Deletes a choice from a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteSelectionChoiceResponse"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseResponse",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateLabelPropertiesRequest": {
      "properties": {
        "properties": {
          "description": "Required. Label properties to update.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelProperties"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `label_properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateLabelPropertiesRequest",
      "type": "object",
      "description": "Updates basic properties of a label."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateSelectionChoiceRequest": {
      "description": "Request to create a selection choice.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateSelectionChoiceRequest",
      "type": "object",
      "properties": {
        "fieldId": {
          "type": "string",
          "description": "Required. The selection field in which a choice will be created."
        },
        "choice": {
          "description": "Required. The choice to create.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLabelLimits": {
      "description": "Label constraints governing the structure of a label; such as, the maximum number of fields allowed and maximum length of the label title.",
      "properties": {
        "maxDeletedFields": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of published fields that can be deleted."
        },
        "fieldLimits": {
          "description": "The limits for fields.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldLimits"
        },
        "name": {
          "type": "string",
          "description": "Resource name."
        },
        "maxFields": {
          "description": "The maximum number of fields allowed within the label.",
          "type": "integer",
          "format": "int32"
        },
        "maxDraftRevisions": {
          "description": "The maximum number of draft revisions that will be kept before deleting old drafts.",
          "format": "int32",
          "type": "integer"
        },
        "maxTitleLength": {
          "description": "The maximum number of characters allowed for the title.",
          "type": "integer",
          "format": "int32"
        },
        "maxDescriptionLength": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of characters allowed for the description."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLabelLimits",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaListLabelLocksResponse": {
      "description": "The response to a `ListLabelLocksRequest`.",
      "id": "GoogleAppsDriveLabelsV2betaListLabelLocksResponse",
      "type": "object",
      "properties": {
        "labelLocks": {
          "description": "Label locks.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelLock"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token of the next page in the response."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLabelLock": {
      "id": "GoogleAppsDriveLabelsV2betaLabelLock",
      "type": "object",
      "properties": {
        "creator": {
          "description": "Output only. The user whose credentials were used to create the label lock. Not present if no user was responsible for creating the label lock.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "deleteTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. A timestamp indicating when this label lock was scheduled for deletion. Present only if this label lock is in the `DELETING` state.",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Unknown state.",
            "The label lock is active and is being enforced by the server.",
            "The label lock is being deleted. The label lock will continue to be enforced by the server until it has been fully removed."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETING"
          ],
          "description": "Output only. This label lock's state.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Resource name of this label lock.",
          "readOnly": true,
          "type": "string"
        },
        "fieldId": {
          "type": "string",
          "description": "The ID of the field that should be locked. Empty if the whole label should be locked."
        },
        "createTime": {
          "description": "Output only. The time this label lock was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "choiceId": {
          "description": "The ID of the selection field choice that should be locked. If present, `field_id` must also be present.",
          "type": "string"
        },
        "capabilities": {
          "description": "Output only. The user's capabilities on this label lock.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLabelLockCapabilities"
        }
      },
      "description": "A lock that can be applied to a label, field, or choice."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldTypeRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldTypeRequest",
      "type": "object",
      "properties": {
        "integerOptions": {
          "description": "Update field to Integer.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldIntegerOptions"
        },
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root of `type_options` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "id": {
          "description": "Required. The field to update.",
          "type": "string"
        },
        "userOptions": {
          "description": "Update field to User.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldUserOptions"
        },
        "dateOptions": {
          "description": "Update field to Date.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldDateOptions"
        },
        "textOptions": {
          "description": "Update field to Text.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldTextOptions"
        },
        "selectionOptions": {
          "description": "Update field to Selection.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptions"
        }
      },
      "description": "Request to change the type of a field."
    },
    "GoogleAppsDriveLabelsV2betaFieldListOptions": {
      "id": "GoogleAppsDriveLabelsV2betaFieldListOptions",
      "type": "object",
      "properties": {
        "maxEntries": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of entries permitted."
        }
      },
      "description": "Options for a multi-valued variant of an associated field type."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest": {
      "properties": {
        "fieldId": {
          "type": "string",
          "description": "Required. The selection field to update."
        },
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "id": {
          "description": "Required. The choice to update.",
          "type": "string"
        },
        "properties": {
          "description": "Required. The choice properties to update.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest",
      "type": "object",
      "description": "Request to update a choice property."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteSelectionChoiceResponse": {
      "description": "Response following choice delete.",
      "properties": {},
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteSelectionChoiceResponse",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsResponse": {
      "description": "Response for updating one or more label permissions.",
      "id": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "Required. Permissions updated.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
          }
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateFieldResponse": {
      "description": "Response following field create.",
      "properties": {
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "The priority of the created field. The priority may change from what was specified to assure contiguous priorities between fields (1-n)."
        },
        "id": {
          "type": "string",
          "description": "The field of the created field. When left blank in a create request, a key will be autogenerated and can be identified here."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateFieldResponse",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteFieldRequest": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. ID of the field to delete."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteFieldRequest",
      "type": "object",
      "description": "Request to delete the field."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateLabelPropertiesResponse": {
      "description": "Response following update to label properties.",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateLabelPropertiesResponse",
      "type": "object",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2betaListLabelPermissionsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token of the next page in the response."
        },
        "labelPermissions": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
          },
          "description": "Label permissions."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaListLabelPermissionsResponse",
      "type": "object",
      "description": "Response for listing the permissions on a label."
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaLabelLockCapabilities": {
      "id": "GoogleAppsDriveLabelsV2betaLabelLockCapabilities",
      "type": "object",
      "properties": {
        "canViewPolicy": {
          "type": "boolean",
          "description": "True if the user is authorized to view the policy."
        }
      },
      "description": "A description of a user's capabilities on a label lock."
    },
    "GoogleAppsDriveLabelsV2betaLabelDisplayHints": {
      "id": "GoogleAppsDriveLabelsV2betaLabelDisplayHints",
      "type": "object",
      "properties": {
        "hiddenInSearch": {
          "description": "This label should be hidden in the search menu when searching for Drive items.",
          "type": "boolean"
        },
        "shownInApply": {
          "type": "boolean",
          "description": "This label should be shown in the apply menu when applying values to a Drive item."
        },
        "disabled": {
          "description": "Whether the label should be shown in the UI as disabled.",
          "type": "boolean"
        },
        "priority": {
          "description": "The order to display labels in a list.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "The UI display hints for rendering the label."
    },
    "GoogleAppsDriveLabelsV2betaUpdateLabelCopyModeRequest": {
      "description": "Request to update the `CopyMode` of the given label. Changes to this policy aren't revisioned, don't require publishing, and take effect immediately. \\",
      "id": "GoogleAppsDriveLabelsV2betaUpdateLabelCopyModeRequest",
      "type": "object",
      "properties": {
        "copyMode": {
          "type": "string",
          "description": "Required. Indicates how the applied label and field values should be copied when a Drive item is copied.",
          "enumDescriptions": [
            "Copy mode unspecified.",
            "The applied label and field values aren't copied by default when the Drive item it's applied to is copied.",
            "The applied label and field values are always copied when the Drive item it's applied to is copied. Only admins can use this mode.",
            "The applied label and field values are copied if the label is appliable by the user making the copy."
          ],
          "enum": [
            "COPY_MODE_UNSPECIFIED",
            "DO_NOT_COPY",
            "ALWAYS_COPY",
            "COPY_APPLIABLE"
          ]
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used."
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "view": {
          "description": "When specified, only certain fields belonging to the indicated view will be returned.",
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ],
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ],
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateSelectionChoiceResponse": {
      "properties": {
        "id": {
          "description": "The server-generated ID of the created choice within the field.",
          "type": "string"
        },
        "fieldId": {
          "description": "The server-generated ID of the field.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateSelectionChoiceResponse",
      "type": "object",
      "description": "Response following selection choice create."
    },
    "GoogleAppsDriveLabelsV2betaLabelSchemaCapabilities": {
      "description": "The capabilities related to this label when editing the label.",
      "id": "GoogleAppsDriveLabelsV2betaLabelSchemaCapabilities",
      "type": "object",
      "properties": {
        "canDelete": {
          "description": "Whether the user can delete this label. The user must have permission and the label must be disabled.",
          "type": "boolean"
        },
        "canDisable": {
          "description": "Whether the user can disable this label. The user must have permission and this label must not already be disabled.",
          "type": "boolean"
        },
        "canEnable": {
          "description": "Whether the user can enable this label. The user must have permission and this label must be disabled.",
          "type": "boolean"
        },
        "canUpdate": {
          "description": "Whether the user can change this label.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestRequest",
      "type": "object",
      "properties": {
        "deleteSelectionChoice": {
          "description": "Delete a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteSelectionChoiceRequest"
        },
        "deleteField": {
          "description": "Deletes a field from the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteFieldRequest"
        },
        "disableSelectionChoice": {
          "description": "Disable a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableSelectionChoiceRequest"
        },
        "createField": {
          "description": "Creates a field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateFieldRequest"
        },
        "disableField": {
          "description": "Disables the field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableFieldRequest"
        },
        "updateFieldType": {
          "description": "Update field type and/or type options.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldTypeRequest"
        },
        "updateLabel": {
          "description": "Updates the label properties.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateLabelPropertiesRequest"
        },
        "enableSelectionChoice": {
          "description": "Enable a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableSelectionChoiceRequest"
        },
        "enableField": {
          "description": "Enables the field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableFieldRequest"
        },
        "createSelectionChoice": {
          "description": "Create a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateSelectionChoiceRequest"
        },
        "updateSelectionChoiceProperties": {
          "description": "Update a choice property within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest"
        },
        "updateField": {
          "description": "Updates basic properties of a field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldPropertiesRequest"
        }
      },
      "description": "A single kind of update to apply to a label."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldPropertiesRequest": {
      "properties": {
        "properties": {
          "description": "Required. Basic field properties.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldProperties"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
        },
        "id": {
          "type": "string",
          "description": "Required. The field to update."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldPropertiesRequest",
      "type": "object",
      "description": "Request to update field properties."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableSelectionChoiceRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableSelectionChoiceRequest",
      "type": "object",
      "properties": {
        "fieldId": {
          "type": "string",
          "description": "Required. The selection field in which a choice will be enabled."
        },
        "id": {
          "type": "string",
          "description": "Required. Choice to enable."
        }
      },
      "description": "Request to enable a choice."
    },
    "GoogleAppsDriveLabelsV2betaFieldProperties": {
      "description": "The basic properties of the field.",
      "id": "GoogleAppsDriveLabelsV2betaFieldProperties",
      "type": "object",
      "properties": {
        "required": {
          "description": "Whether the field should be marked as required.",
          "type": "boolean"
        },
        "displayName": {
          "description": "Required. The display text to show in the UI identifying this field.",
          "type": "string"
        },
        "insertBeforeField": {
          "type": "string",
          "description": "Input only. Insert or move this field before the indicated field. If empty, the field is placed at the end of the list."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldSchemaCapabilities": {
      "description": "The capabilities related to this field when editing the field.",
      "id": "GoogleAppsDriveLabelsV2betaFieldSchemaCapabilities",
      "type": "object",
      "properties": {
        "canDelete": {
          "type": "boolean",
          "description": "Whether the user can delete this field. The user must have permission and the field must be deprecated."
        },
        "canDisable": {
          "description": "Whether the user can disable this field. The user must have permission and this field must not already be disabled.",
          "type": "boolean"
        },
        "canEnable": {
          "type": "boolean",
          "description": "Whether the user can enable this field. The user must have permission and this field must be disabled."
        },
        "canUpdate": {
          "type": "boolean",
          "description": "Whether the user can change this field."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldDateOptions": {
      "id": "GoogleAppsDriveLabelsV2betaFieldDateOptions",
      "type": "object",
      "properties": {
        "dateFormatType": {
          "type": "string",
          "enumDescriptions": [
            "Date format unspecified.",
            "Includes full month name. For example, January 12, 1999 (MMMM d, y)",
            "Short, numeric, representation. For example, 12/13/99 (M/d/yy)"
          ],
          "enum": [
            "DATE_FORMAT_UNSPECIFIED",
            "LONG_DATE",
            "SHORT_DATE"
          ],
          "description": "Localized date formatting option. Field values are rendered in this format according to their locale."
        },
        "dateFormat": {
          "type": "string",
          "description": "Output only. ICU date format.",
          "readOnly": true
        },
        "minValue": {
          "description": "Output only. Minimum valid value (year, month, day).",
          "readOnly": true,
          "$ref": "GoogleTypeDate"
        },
        "maxValue": {
          "description": "Output only. Maximum valid value (year, month, day).",
          "readOnly": true,
          "$ref": "GoogleTypeDate"
        }
      },
      "description": "Options for the date field type."
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceAppliedCapabilities": {
      "description": "The capabilities related to this choice on applied metadata.",
      "properties": {
        "canRead": {
          "type": "boolean",
          "description": "Whether the user can read related applied metadata on items."
        },
        "canSearch": {
          "description": "Whether the user can use this choice in search queries.",
          "type": "boolean"
        },
        "canSelect": {
          "description": "Whether the user can select this choice on an item.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceAppliedCapabilities",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponse": {
      "properties": {
        "updatedLabel": {
          "description": "The label after updates were applied. This is only set if `include_label_in_response` is `true` and there were no errors.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabel"
        },
        "responses": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseResponse"
          },
          "description": "The reply of the updates. This maps 1:1 with the updates, although responses to some requests may be empty."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponse",
      "type": "object",
      "description": "Response for label update."
    },
    "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettings": {
      "description": "Describes the Google Workspace apps in which the label can be used.",
      "properties": {
        "enabledApps": {
          "description": "Optional. The list of apps where the label can be used.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettingsEnabledApp"
          }
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettings",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaFieldTextOptions": {
      "description": "Options for the Text field type.",
      "id": "GoogleAppsDriveLabelsV2betaFieldTextOptions",
      "type": "object",
      "properties": {
        "minLength": {
          "description": "Output only. The minimum valid length of values for the text field.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "maxLength": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The maximum valid length of values for the text field.",
          "readOnly": true
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettingsEnabledApp": {
      "properties": {
        "app": {
          "enumDescriptions": [
            "Unspecified",
            "Drive",
            "Gmail"
          ],
          "enum": [
            "APP_UNSPECIFIED",
            "DRIVE",
            "GMAIL"
          ],
          "description": "Optional. The name of the app.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettingsEnabledApp",
      "type": "object",
      "description": "An app where the label can be used."
    },
    "GoogleAppsDriveLabelsV2betaListLabelsResponse": {
      "properties": {
        "labels": {
          "description": "Labels.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token of the next page in the response."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaListLabelsResponse",
      "type": "object",
      "description": "Response for listing labels."
    },
    "GoogleAppsDriveLabelsV2betaField": {
      "properties": {
        "textOptions": {
          "description": "Text field options.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldTextOptions"
        },
        "queryKey": {
          "type": "string",
          "description": "Output only. The key to use when constructing Drive search queries to find files based on values defined for this field on files. For example, \"`{query_key}` > 2001-01-01\".",
          "readOnly": true
        },
        "lockStatus": {
          "description": "Output only. The `LockStatus` of this field.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLockStatus"
        },
        "dateOptions": {
          "description": "Date field options.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldDateOptions"
        },
        "schemaCapabilities": {
          "description": "Output only. The capabilities this user has when editing this field.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSchemaCapabilities"
        },
        "selectionOptions": {
          "description": "Selection field options.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptions"
        },
        "updater": {
          "description": "Output only. The user who modified this field.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "displayHints": {
          "description": "Output only. UI display hints for rendering a field.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaFieldDisplayHints"
        },
        "creator": {
          "description": "Output only. The user who created this field.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "lifecycle": {
          "description": "Output only. The lifecycle of this field.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycle"
        },
        "publisher": {
          "description": "Output only. The user who published this field. This value has no meaning when the field is not published.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "userOptions": {
          "description": "User field options.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldUserOptions"
        },
        "updateTime": {
          "description": "Output only. The time this field was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "disableTime": {
          "description": "Output only. The time this field was disabled. This value has no meaning when the field is not disabled.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "properties": {
          "description": "The basic properties of the field.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldProperties"
        },
        "integerOptions": {
          "description": "Integer field options.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldIntegerOptions"
        },
        "id": {
          "description": "Output only. The key of a field, unique within a label or library. This value is autogenerated. Matches the regex: `([a-zA-Z0-9])+`.",
          "readOnly": true,
          "type": "string"
        },
        "appliedCapabilities": {
          "description": "Output only. The capabilities this user has on this field and its value when the label is applied on Drive items.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaFieldAppliedCapabilities"
        },
        "disabler": {
          "description": "Output only. The user who disabled this field. This value has no meaning when the field is not disabled.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "createTime": {
          "description": "Output only. The time this field was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaField",
      "type": "object",
      "description": "Defines a field that has a display name, data type, and other configuration options. This field defines the kind of metadata that may be set on a Drive item."
    },
    "GoogleAppsDriveLabelsV2betaIntegerLimits": {
      "id": "GoogleAppsDriveLabelsV2betaIntegerLimits",
      "type": "object",
      "properties": {
        "minValue": {
          "description": "Minimum value for an integer field type.",
          "type": "string",
          "format": "int64"
        },
        "maxValue": {
          "type": "string",
          "format": "int64",
          "description": "Maximum value for an integer field type."
        }
      },
      "description": "Limits for integer field type."
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableSelectionChoiceResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableSelectionChoiceResponse",
      "type": "object",
      "properties": {},
      "description": "Response following choice disable."
    },
    "GoogleAppsDriveLabelsV2betaLabelAppliedLabelPolicy": {
      "description": "Behavior of this label when it's applied to Drive items.",
      "properties": {
        "copyMode": {
          "type": "string",
          "description": "Indicates how the applied label and field values should be copied when a Drive item is copied.",
          "enumDescriptions": [
            "Copy mode unspecified.",
            "The applied label and field values aren't copied by default when the Drive item it's applied to is copied.",
            "The applied label and field values are always copied when the Drive item it's applied to is copied. Only admins can use this mode.",
[...]
