{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260617",
  "description": "An API for managing Drive Labels",
  "basePath": "",
  "canonicalName": "Drive Labels",
  "rootUrl": "https://drivelabels.googleapis.com/",
  "title": "Drive Labels API",
  "documentationLink": "https://developers.google.com/workspace/drive/labels",
  "protocol": "rest",
  "ownerName": "Google",
  "baseUrl": "https://drivelabels.googleapis.com/",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://drivelabels.mtls.googleapis.com/",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.labels": {
          "description": "See, edit, create, and delete your Google Drive labels"
        },
        "https://www.googleapis.com/auth/drive.admin.labels.readonly": {
          "description": "See all Google Drive labels and label-related admin policies in your organization"
        },
        "https://www.googleapis.com/auth/drive.labels.readonly": {
          "description": "See your Google Drive labels"
        },
        "https://www.googleapis.com/auth/drive.admin.labels": {
          "description": "See, edit, create, and delete all Google Drive labels in your organization, and see your organization's label-related admin policies"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "servicePath": "",
  "schemas": {
    "GoogleAppsDriveLabelsV2betaFieldTextOptions": {
      "id": "GoogleAppsDriveLabelsV2betaFieldTextOptions",
      "type": "object",
      "description": "Options for the Text field type.",
      "properties": {
        "minLength": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The minimum valid length of values for the text field."
        },
        "maxLength": {
          "readOnly": true,
          "description": "Output only. The maximum valid length of values for the text field.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponse",
      "type": "object",
      "description": "Response for label update.",
      "properties": {
        "responses": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseResponse"
          },
          "description": "The reply of the updates. This maps 1:1 with the updates, although responses to some requests may be empty."
        },
        "updatedLabel": {
          "description": "The label after updates were applied. This is only set if `include_label_in_response` is `true` and there were no errors.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabel"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaBatchDeleteLabelPermissionsRequest": {
      "description": "Deletes one or more label permissions.",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaDeleteLabelPermissionRequest"
          },
          "description": "Required. The request message specifying the resources to update."
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access. If this is set, the `use_admin_access` field in the `DeleteLabelPermissionRequest` messages must either be empty or match this field."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaBatchDeleteLabelPermissionsRequest",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaLabelLock": {
      "id": "GoogleAppsDriveLabelsV2betaLabelLock",
      "type": "object",
      "description": "A lock that can be applied to a label, field, or choice.",
      "properties": {
        "capabilities": {
          "description": "Output only. The user's capabilities on this label lock.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelLockCapabilities",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Unknown state.",
            "The label lock is active and is being enforced by the server.",
            "The label lock is being deleted. The label lock will continue to be enforced by the server until it has been fully removed."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. This label lock's state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETING"
          ]
        },
        "createTime": {
          "description": "Output only. The time this label lock was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "fieldId": {
          "description": "The ID of the field that should be locked. Empty if the whole label should be locked.",
          "type": "string"
        },
        "choiceId": {
          "type": "string",
          "description": "The ID of the selection field choice that should be locked. If present, `field_id` must also be present."
        },
        "creator": {
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "readOnly": true,
          "description": "Output only. The user whose credentials were used to create the label lock. Not present if no user was responsible for creating the label lock."
        },
        "deleteTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. A timestamp indicating when this label lock was scheduled for deletion. Present only if this label lock is in the `DELETING` state."
        },
        "name": {
          "description": "Output only. Resource name of this label lock.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest": {
      "id": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest",
      "type": "object",
      "description": "Updates one or more label permissions.",
      "properties": {
        "requests": {
          "description": "Required. The request message specifying the resources to update.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaUpdateLabelPermissionRequest"
          }
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access. If this is set, the `use_admin_access` field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceAppliedCapabilities": {
      "description": "The capabilities related to this choice on applied metadata.",
      "properties": {
        "canSelect": {
          "description": "Whether the user can select this choice on an item.",
          "type": "boolean"
        },
        "canSearch": {
          "type": "boolean",
          "description": "Whether the user can use this choice in search queries."
        },
        "canRead": {
          "description": "Whether the user can read related applied metadata on items.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceAppliedCapabilities",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestRequest": {
      "description": "A single kind of update to apply to a label.",
      "properties": {
        "enableSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableSelectionChoiceRequest",
          "description": "Enable a choice within a selection field."
        },
        "disableField": {
          "description": "Disables the field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableFieldRequest"
        },
        "updateSelectionChoiceProperties": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest",
          "description": "Update a choice property within a selection field."
        },
        "updateField": {
          "description": "Updates basic properties of a field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldPropertiesRequest"
        },
        "createSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateSelectionChoiceRequest",
          "description": "Create a choice within a selection field."
        },
        "deleteSelectionChoice": {
          "description": "Delete a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteSelectionChoiceRequest"
        },
        "updateLabel": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateLabelPropertiesRequest",
          "description": "Updates the label properties."
        },
        "deleteField": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteFieldRequest",
          "description": "Deletes a field from the label."
        },
        "createField": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateFieldRequest",
          "description": "Creates a field."
        },
        "updateFieldType": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldTypeRequest",
          "description": "Update field type and/or type options."
        },
        "enableField": {
          "description": "Enables the field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableFieldRequest"
        },
        "disableSelectionChoice": {
          "description": "Disable a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableSelectionChoiceRequest"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestRequest",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaListLabelLocksResponse": {
      "id": "GoogleAppsDriveLabelsV2betaListLabelLocksResponse",
      "type": "object",
      "description": "The response to a `ListLabelLocksRequest`.",
      "properties": {
        "labelLocks": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelLock"
          },
          "description": "Label locks."
        },
        "nextPageToken": {
          "description": "The token of the next page in the response.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldDisplayHints": {
      "description": "UI display hints for rendering a field.",
      "properties": {
        "required": {
          "description": "Whether the field should be shown as required in the UI.",
          "type": "boolean"
        },
        "disabled": {
          "description": "Whether the field should be shown in the UI as disabled.",
          "type": "boolean"
        },
        "hiddenInSearch": {
          "type": "boolean",
          "description": "This field should be hidden in the search menu when searching for Drive items."
        },
        "shownInApply": {
          "description": "This field should be shown in the apply menu when applying values to a Drive item.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldDisplayHints",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaLabelAppliedLabelPolicy": {
      "id": "GoogleAppsDriveLabelsV2betaLabelAppliedLabelPolicy",
      "type": "object",
      "description": "Behavior of this label when it's applied to Drive items.",
      "properties": {
        "copyMode": {
          "enum": [
            "COPY_MODE_UNSPECIFIED",
            "DO_NOT_COPY",
            "ALWAYS_COPY",
            "COPY_APPLIABLE"
          ],
          "type": "string",
          "description": "Indicates how the applied label and field values should be copied when a Drive item is copied.",
          "enumDescriptions": [
            "Copy mode unspecified.",
            "The applied label and field values aren't copied by default when the Drive item it's applied to is copied.",
            "The applied label and field values are always copied when the Drive item it's applied to is copied. Only admins can use this mode.",
            "The applied label and field values are copied if the label is appliable by the user making the copy."
          ]
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaUserInfo": {
      "id": "GoogleAppsDriveLabelsV2betaUserInfo",
      "type": "object",
      "description": "Information about a user.",
      "properties": {
        "person": {
          "description": "The identifier for this user that can be used with the [People API](https://developers.google.com/people) to get more information. For example, `people/12345678`.",
          "type": "string"
        }
      }
    },
    "GoogleTypeColor": {
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
      "properties": {
        "red": {
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        },
        "green": {
          "type": "number",
          "format": "float",
          "description": "The amount of green in the color as a value in the interval [0, 1]."
        },
        "blue": {
          "description": "The amount of blue in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        },
        "alpha": {
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0).",
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleTypeColor",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest",
      "type": "object",
      "description": "Request to update a choice property.",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
        },
        "properties": {
          "description": "Required. The choice properties to update.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties"
        },
        "id": {
          "description": "Required. The choice to update.",
          "type": "string"
        },
        "fieldId": {
          "type": "string",
          "description": "Required. The selection field to update."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldTypeResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldTypeResponse",
      "type": "object",
      "description": "Response following update to field type.",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2betaBadgeConfig": {
      "id": "GoogleAppsDriveLabelsV2betaBadgeConfig",
      "type": "object",
      "description": "Badge status of the label.",
      "properties": {
        "priorityOverride": {
          "description": "Override the default global priority of this badge. When set to 0, the default priority heuristic is used.",
          "type": "string",
          "format": "int64"
        },
        "color": {
          "$ref": "GoogleTypeColor",
          "description": "The color of the badge. When not specified, no badge is rendered. The background, foreground, and solo (light and dark mode) colors set here are changed in the Drive UI into the closest recommended supported color."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteSelectionChoiceRequest": {
      "description": "Request to delete a choice.",
      "properties": {
        "fieldId": {
          "description": "Required. The selection field from which a choice will be deleted.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Required. Choice to delete."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteSelectionChoiceRequest",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateFieldResponse": {
      "description": "Response following field create.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The field of the created field. When left blank in a create request, a key will be autogenerated and can be identified here."
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "The priority of the created field. The priority may change from what was specified to assure contiguous priorities between fields (1-n)."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateFieldResponse",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteSelectionChoiceResponse": {
      "description": "Response following choice delete.",
      "properties": {},
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteSelectionChoiceResponse",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableFieldResponse": {
      "description": "Response following field disable.",
      "properties": {},
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableFieldResponse",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateSelectionChoiceResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateSelectionChoiceResponse",
      "type": "object",
      "description": "Response following selection choice create.",
      "properties": {
        "fieldId": {
          "type": "string",
          "description": "The server-generated ID of the field."
        },
        "id": {
          "description": "The server-generated ID of the created choice within the field.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaUserLimits": {
      "description": "Limits for Field.Type.USER.",
      "properties": {
        "listLimits": {
          "$ref": "GoogleAppsDriveLabelsV2betaListLimits",
          "description": "Limits for list-variant of a field type."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaUserLimits",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaPublishLabelRequest": {
      "description": "Request to publish a label.",
      "properties": {
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        },
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        },
        "writeControl": {
          "$ref": "GoogleAppsDriveLabelsV2betaWriteControl",
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaPublishLabelRequest",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldTypeRequest": {
      "description": "Request to change the type of a field.",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root of `type_options` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
        },
        "dateOptions": {
          "description": "Update field to Date.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldDateOptions"
        },
        "selectionOptions": {
          "description": "Update field to Selection.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptions"
        },
        "textOptions": {
          "description": "Update field to Text.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldTextOptions"
        },
        "integerOptions": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldIntegerOptions",
          "description": "Update field to Integer."
        },
        "userOptions": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldUserOptions",
          "description": "Update field to User."
        },
        "id": {
          "type": "string",
          "description": "Required. The field to update."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldTypeRequest",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeleteLabelPermissionRequest": {
      "description": "Deletes a label permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Label permission resource name."
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeleteLabelPermissionRequest",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaListLabelPermissionsResponse": {
      "description": "Response for listing the permissions on a label.",
      "properties": {
        "labelPermissions": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
          },
          "description": "Label permissions."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token of the next page in the response."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaListLabelPermissionsResponse",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateLabelPropertiesResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateLabelPropertiesResponse",
      "type": "object",
      "description": "Response following update to label properties.",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy": {
      "id": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy",
      "type": "object",
      "description": "The policy that governs how to treat a disabled label, field, or selection choice in different contexts.",
      "properties": {
        "hideInSearch": {
          "type": "boolean",
          "description": "Whether to hide this disabled object in the search menu for Drive items. * When `false`, the object is generally shown in the UI as disabled but it appears in the search results when searching for Drive items. * When `true`, the object is generally hidden in the UI when searching for Drive items."
        },
        "showInApply": {
          "type": "boolean",
          "description": "Whether to show this disabled object in the apply menu on Drive items. * When `true`, the object is generally shown in the UI as disabled and is unselectable. * When `false`, the object is generally hidden in the UI."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldProperties": {
      "description": "The basic properties of the field.",
      "properties": {
        "required": {
          "description": "Whether the field should be marked as required.",
          "type": "boolean"
        },
        "insertBeforeField": {
          "type": "string",
          "description": "Input only. Insert or move this field before the indicated field. If empty, the field is placed at the end of the list."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display text to show in the UI identifying this field."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldProperties",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaFieldDateOptions": {
      "id": "GoogleAppsDriveLabelsV2betaFieldDateOptions",
      "type": "object",
      "description": "Options for the date field type.",
      "properties": {
        "dateFormatType": {
          "type": "string",
          "description": "Localized date formatting option. Field values are rendered in this format according to their locale.",
          "enumDescriptions": [
            "Date format unspecified.",
            "Includes full month name. For example, January 12, 1999 (MMMM d, y)",
            "Short, numeric, representation. For example, 12/13/99 (M/d/yy)"
          ],
          "enum": [
            "DATE_FORMAT_UNSPECIFIED",
            "LONG_DATE",
            "SHORT_DATE"
          ]
        },
        "dateFormat": {
          "description": "Output only. ICU date format.",
          "type": "string",
          "readOnly": true
        },
        "maxValue": {
          "description": "Output only. Maximum valid value (year, month, day).",
          "$ref": "GoogleTypeDate",
          "readOnly": true
        },
        "minValue": {
          "readOnly": true,
          "$ref": "GoogleTypeDate",
          "description": "Output only. Minimum valid value (year, month, day)."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLabelPermission": {
      "description": "The permission that applies to a principal (user, group, audience) on a label.",
      "properties": {
        "email": {
          "description": "Specifies the email address for a user or group principal. Not populated for audience principals. User and group permissions may only be inserted using an email address. On update requests, if email address is specified, no principal should be specified.",
          "type": "string"
        },
        "group": {
          "description": "Group resource name.",
          "type": "string"
        },
        "role": {
          "enum": [
            "LABEL_ROLE_UNSPECIFIED",
            "READER",
            "APPLIER",
            "ORGANIZER",
            "EDITOR"
          ],
          "type": "string",
          "description": "The role the principal should have.",
          "enumDescriptions": [
            "Unknown role.",
            "A reader can read the label and associated metadata applied to Drive items.",
            "An applier can write associated metadata on Drive items in which they also have write access to. Implies `READER`.",
            "An organizer can pin this label in shared drives they manage and add new appliers to the label.",
            "Editors can make any update including deleting the label which also deletes the associated Drive item metadata. Implies `APPLIER`."
          ]
        },
        "person": {
          "description": "Person resource name.",
          "type": "string"
        },
        "audience": {
          "type": "string",
          "description": "Audience to grant a role to. The magic value of `audiences/default` may be used to apply the role to the default audience in the context of the organization that owns the label."
        },
        "name": {
          "description": "Resource name of this permission.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLabelPermission",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaLifecycle": {
      "description": "The lifecycle state of an object, such as label, field, or choice. For more information, see [Label lifecycle](https://developers.google.com/workspace/drive/labels/guides/label-lifecycle). The lifecycle enforces the following transitions: * `UNPUBLISHED_DRAFT` (starting state) * `UNPUBLISHED_DRAFT` -> `PUBLISHED` * `UNPUBLISHED_DRAFT` -> (Deleted) * `PUBLISHED` -> `DISABLED` * `DISABLED` -> `PUBLISHED` * `DISABLED` -> (Deleted) The published and disabled states have some distinct characteristics: * `Published`: Some kinds of changes might be made to an object in this state, in which case `has_unpublished_changes` will be true. Also, some kinds of changes aren't permitted. Generally, any change that would invalidate or cause new restrictions on existing metadata related to the label are rejected. * `Disabled`: When disabled, the configured `DisabledPolicy` takes effect.",
      "properties": {
        "hasUnpublishedChanges": {
          "description": "Output only. Whether the object associated with this lifecycle has unpublished changes.",
          "type": "boolean",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The state of the object associated with this lifecycle.",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNPUBLISHED_DRAFT",
            "PUBLISHED",
            "DISABLED",
            "DELETED"
          ],
          "enumDescriptions": [
            "Unknown State.",
            "The initial state of an object. Once published, the object can never return to this state. Once an object is published, certain kinds of changes are no longer permitted.",
            "The object has been published. The object might have unpublished draft changes as indicated by `has_unpublished_changes`.",
            "The object has been published and has since been disabled. The object might have unpublished draft changes as indicated by `has_unpublished_changes`.",
            "The object has been deleted."
          ],
          "type": "string",
          "readOnly": true
        },
        "disabledPolicy": {
          "description": "The policy that governs how to show a disabled label, field, or selection choice.",
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLifecycle",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaUpdateLabelPermissionRequest": {
      "description": "Updates a label permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
      "properties": {
        "parent": {
          "description": "Required. The parent label resource name.",
          "type": "string"
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        },
        "labelPermission": {
          "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission",
          "description": "Required. The permission to create or update on the label."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaUpdateLabelPermissionRequest",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaTextLimits": {
      "id": "GoogleAppsDriveLabelsV2betaTextLimits",
      "type": "object",
      "description": "Limits for text field type.",
      "properties": {
        "minLength": {
          "description": "Minimum length allowed for a text field type.",
          "type": "integer",
          "format": "int32"
        },
        "maxLength": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum length allowed for a text field type."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaUserCapabilities": {
      "id": "GoogleAppsDriveLabelsV2betaUserCapabilities",
      "type": "object",
      "description": "The capabilities of a user.",
      "properties": {
        "canAccessLabelManager": {
          "description": "Output only. Whether the user is allowed access to the label manager.",
          "type": "boolean",
          "readOnly": true
        },
        "canAdministrateLabels": {
          "description": "Output only. Whether the user is an administrator for the shared labels feature.",
          "type": "boolean",
          "readOnly": true
        },
        "canCreateSharedLabels": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the user is allowed to create shared labels."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name for the user capabilities.",
          "type": "string"
        },
        "canCreateAdminLabels": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the user is allowed to create admin labels."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties": {
      "description": "Basic properties of the choice.",
      "properties": {
        "displayName": {
          "description": "Required. The display text to show in the UI identifying this field.",
          "type": "string"
        },
        "insertBeforeChoice": {
          "description": "Input only. Insert or move this choice before the indicated choice. If empty, the choice is placed at the end of the list.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of this label."
        },
        "badgeConfig": {
          "description": "The badge configuration for this choice. When set, the label that owns this choice is considered a \"badged label\".",
          "$ref": "GoogleAppsDriveLabelsV2betaBadgeConfig"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaBadgeColors": {
      "description": "The color derived from BadgeConfig and changed to the closest recommended supported color.",
      "properties": {
        "soloColor": {
          "$ref": "GoogleTypeColor",
          "readOnly": true,
          "description": "Output only. Color that can be used for text without a background."
        },
        "foregroundColor": {
          "description": "Output only. Badge foreground that pairs with the background.",
          "$ref": "GoogleTypeColor",
          "readOnly": true
        },
        "backgroundColor": {
          "readOnly": true,
          "$ref": "GoogleTypeColor",
          "description": "Output only. Badge background that pairs with the foreground."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaBadgeColors",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaUpdateLabelCopyModeRequest": {
      "id": "GoogleAppsDriveLabelsV2betaUpdateLabelCopyModeRequest",
      "type": "object",
      "description": "Request to update the `CopyMode` of the given label. Changes to this policy aren't revisioned, don't require publishing, and take effect immediately. \\",
      "properties": {
        "view": {
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ],
          "description": "When specified, only certain fields belonging to the indicated view will be returned.",
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ],
          "type": "string"
        },
        "copyMode": {
          "type": "string",
          "description": "Required. Indicates how the applied label and field values should be copied when a Drive item is copied.",
          "enumDescriptions": [
            "Copy mode unspecified.",
            "The applied label and field values aren't copied by default when the Drive item it's applied to is copied.",
            "The applied label and field values are always copied when the Drive item it's applied to is copied. Only admins can use this mode.",
            "The applied label and field values are copied if the label is appliable by the user making the copy."
          ],
          "enum": [
            "COPY_MODE_UNSPECIFIED",
            "DO_NOT_COPY",
            "ALWAYS_COPY",
            "COPY_APPLIABLE"
          ]
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableFieldRequest": {
      "description": "Request to enable the field.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. ID of the field to enable."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableFieldRequest",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaUpdateLabelEnabledAppSettingsRequest": {
      "description": "Request to update the `EnabledAppSettings` of the given label. This change is not revisioned, doesn't require publishing, and takes effect immediately. \\",
      "properties": {
        "useAdminAccess": {
          "type": "boolean",
          "description": "Optional. Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        },
        "languageCode": {
          "description": "Optional. The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        },
        "enabledAppSettings": {
          "$ref": "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettings",
          "description": "Required. The new `EnabledAppSettings` value for the label."
        },
        "view": {
          "description": "Optional. When specified, only certain fields belonging to the indicated view will be returned.",
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ],
          "type": "string",
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ]
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaUpdateLabelEnabledAppSettingsRequest",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequest",
      "type": "object",
      "description": "The set of requests for updating aspects of a label. If any request isn't valid, no requests will be applied.",
      "properties": {
        "view": {
          "description": "When specified, only certain fields belonging to the indicated view will be returned.",
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ],
          "type": "string",
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ]
        },
        "requests": {
          "description": "A list of updates to apply to the label. Requests will be applied in the order they are specified.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestRequest"
          }
        },
        "writeControl": {
          "description": "Provides control over how write requests are executed.",
          "$ref": "GoogleAppsDriveLabelsV2betaWriteControl"
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code to use for evaluating localized field labels when `include_label_in_response` is `true`."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaField": {
      "id": "GoogleAppsDriveLabelsV2betaField",
      "type": "object",
      "description": "Defines a field that has a display name, data type, and other configuration options. This field defines the kind of metadata that may be set on a Drive item.",
      "properties": {
        "appliedCapabilities": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldAppliedCapabilities",
          "readOnly": true,
          "description": "Output only. The capabilities this user has on this field and its value when the label is applied on Drive items."
        },
        "creator": {
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "readOnly": true,
          "description": "Output only. The user who created this field."
        },
        "disableTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this field was disabled. This value has no meaning when the field is not disabled.",
          "readOnly": true
        },
        "updater": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "description": "Output only. The user who modified this field."
        },
        "queryKey": {
          "type": "string",
          "description": "Output only. The key to use when constructing Drive search queries to find files based on values defined for this field on files. For example, \"`{query_key}` > 2001-01-01\".",
          "readOnly": true
        },
        "displayHints": {
          "description": "Output only. UI display hints for rendering a field.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldDisplayHints",
          "readOnly": true
        },
        "properties": {
          "description": "The basic properties of the field.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldProperties"
        },
        "textOptions": {
          "description": "Text field options.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldTextOptions"
        },
        "publisher": {
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "readOnly": true,
          "description": "Output only. The user who published this field. This value has no meaning when the field is not published."
        },
        "integerOptions": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldIntegerOptions",
          "description": "Integer field options."
        },
        "lockStatus": {
          "description": "Output only. The `LockStatus` of this field.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLockStatus"
        },
        "schemaCapabilities": {
          "description": "Output only. The capabilities this user has when editing this field.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSchemaCapabilities",
          "readOnly": true
        },
        "dateOptions": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldDateOptions",
          "description": "Date field options."
        },
        "disabler": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "description": "Output only. The user who disabled this field. This value has no meaning when the field is not disabled."
        },
        "createTime": {
          "description": "Output only. The time this field was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "userOptions": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldUserOptions",
          "description": "User field options."
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The key of a field, unique within a label or library. This value is autogenerated. Matches the regex: `([a-zA-Z0-9])+`."
        },
        "lifecycle": {
          "description": "Output only. The lifecycle of this field.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycle"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this field was updated.",
          "readOnly": true
        },
        "selectionOptions": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptions",
          "description": "Selection field options."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptions": {
      "description": "Options for the selection field type.",
      "properties": {
        "listOptions": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldListOptions",
          "description": "When specified, indicates this field supports a list of values. Once the field is published, this cannot be changed."
        },
        "choices": {
          "description": "The options available for this selection field. The list order is consistent, and modified with `insert_before_choice`.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice"
          }
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptions",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaListLimits": {
      "id": "GoogleAppsDriveLabelsV2betaListLimits",
      "type": "object",
      "description": "Limits for list-variant of a field type.",
      "properties": {
        "maxEntries": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of values allowed for the field type."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteFieldRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteFieldRequest",
      "type": "object",
      "description": "Request to delete the field.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. ID of the field to delete."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteFieldResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteFieldResponse",
      "type": "object",
      "description": "Response following field delete.",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2betaLabelLimits": {
      "id": "GoogleAppsDriveLabelsV2betaLabelLimits",
      "type": "object",
      "description": "Label constraints governing the structure of a label; such as, the maximum number of fields allowed and maximum length of the label title.",
      "properties": {
        "maxTitleLength": {
          "description": "The maximum number of characters allowed for the title.",
          "type": "integer",
          "format": "int32"
        },
        "maxDescriptionLength": {
          "description": "The maximum number of characters allowed for the description.",
          "type": "integer",
          "format": "int32"
        },
        "maxDeletedFields": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of published fields that can be deleted."
        },
        "maxFields": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of fields allowed within the label."
        },
        "maxDraftRevisions": {
          "description": "The maximum number of draft revisions that will be kept before deleting old drafts.",
          "type": "integer",
          "format": "int32"
        },
        "fieldLimits": {
          "$ref": "GoogleAppsDriveLabelsV2betaFieldLimits",
          "description": "The limits for fields."
        },
        "name": {
          "type": "string",
          "description": "Resource name."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateSelectionChoiceRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateSelectionChoiceRequest",
      "type": "object",
      "description": "Request to create a selection choice.",
      "properties": {
        "fieldId": {
          "description": "Required. The selection field in which a choice will be created.",
          "type": "string"
        },
        "choice": {
          "description": "Required. The choice to create.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldIntegerOptions": {
      "description": "Options for the Integer field type.",
      "properties": {
        "maxValue": {
          "description": "Output only. The maximum valid value for the integer field.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "minValue": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The minimum valid value for the integer field.",
          "readOnly": true
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldIntegerOptions",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse": {
      "description": "Response following update to selection choice properties.",
      "properties": {
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "The priority of the updated choice. The priority may change from what was specified to assure contiguous priorities between choices (1-n)."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateLabelPropertiesRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateLabelPropertiesRequest",
      "type": "object",
      "description": "Updates basic properties of a label.",
      "properties": {
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `label_properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "properties": {
          "description": "Required. Label properties to update.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelProperties"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldPropertiesRequest": {
      "description": "Request to update field properties.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. The field to update."
        },
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "properties": {
          "description": "Required. Basic field properties.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldProperties"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldPropertiesRequest",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableSelectionChoiceResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableSelectionChoiceResponse",
      "type": "object",
      "description": "Response following choice enable.",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2betaDisableLabelRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDisableLabelRequest",
      "type": "object",
      "description": "Request to deprecate a published label.",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
        },
        "writeControl": {
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins.",
          "$ref": "GoogleAppsDriveLabelsV2betaWriteControl"
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        },
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        },
        "disabledPolicy": {
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy",
          "description": "Disabled policy to use."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaEnableLabelRequest": {
      "description": "Request to enable a label.",
      "properties": {
        "writeControl": {
          "$ref": "GoogleAppsDriveLabelsV2betaWriteControl",
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins."
        },
        "useAdminAccess": {
          "type": "boolean",
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
        },
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaEnableLabelRequest",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaLabelDisplayHints": {
      "description": "The UI display hints for rendering the label.",
      "properties": {
        "priority": {
          "type": "string",
          "format": "int64",
          "description": "The order to display labels in a list."
        },
        "disabled": {
          "description": "Whether the label should be shown in the UI as disabled.",
          "type": "boolean"
        },
        "hiddenInSearch": {
          "type": "boolean",
          "description": "This label should be hidden in the search menu when searching for Drive items."
        },
        "shownInApply": {
          "description": "This label should be shown in the apply menu when applying values to a Drive item.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLabelDisplayHints",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaFieldUserOptions": {
      "description": "Options for the user field type.",
      "properties": {
        "listOptions": {
          "description": "When specified, indicates that this field supports a list of values. Once the field is published, this cannot be changed.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldListOptions"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldUserOptions",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaLabelAppliedCapabilities": {
      "id": "GoogleAppsDriveLabelsV2betaLabelAppliedCapabilities",
      "type": "object",
      "description": "The capabilities a user has on this label's applied metadata.",
      "properties": {
        "canRemove": {
          "description": "Whether the user can remove this label from items.",
          "type": "boolean"
        },
        "canRead": {
          "type": "boolean",
          "description": "Whether the user can read applied metadata related to this label."
        },
        "canApply": {
          "description": "Whether the user can apply this label to items.",
          "type": "boolean"
        }
      }
    },
    "GoogleTypeDate": {
      "id": "GoogleTypeDate",
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceSchemaCapabilities": {
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceSchemaCapabilities",
      "type": "object",
      "description": "The capabilities related to this choice when editing the choice.",
      "properties": {
        "canEnable": {
          "type": "boolean",
          "description": "Whether the user can enable this choice."
        },
        "canUpdate": {
          "description": "Whether the user can update this choice.",
          "type": "boolean"
        },
        "canDelete": {
          "type": "boolean",
          "description": "Whether the user can delete this choice."
        },
        "canDisable": {
          "type": "boolean",
          "description": "Whether the user can disable this choice."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaListLabelsResponse": {
      "id": "GoogleAppsDriveLabelsV2betaListLabelsResponse",
      "type": "object",
      "description": "Response for listing labels.",
      "properties": {
        "nextPageToken": {
          "description": "The token of the next page in the response.",
          "type": "string"
        },
        "labels": {
          "description": "Labels.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          }
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaSelectionLimits": {
      "id": "GoogleAppsDriveLabelsV2betaSelectionLimits",
      "type": "object",
      "description": "Limits for selection field type.",
      "properties": {
        "listLimits": {
          "$ref": "GoogleAppsDriveLabelsV2betaListLimits",
          "description": "Limits for list-variant of a field type."
        },
        "maxIdLength": {
          "description": "Maximum ID length for a selection option.",
          "type": "integer",
          "format": "int32"
        },
        "maxDisplayNameLength": {
          "description": "Maximum length for display name.",
          "type": "integer",
          "format": "int32"
        },
        "maxChoices": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of choices."
        },
        "maxDeletedChoices": {
          "description": "Maximum number of deleted choices.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableFieldResponse": {
      "description": "Response following field enable.",
      "properties": {},
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableFieldResponse",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsResponse": {
      "id": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsResponse",
      "type": "object",
      "description": "Response for updating one or more label permissions.",
      "properties": {
        "permissions": {
          "description": "Required. Permissions updated.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
          }
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableSelectionChoiceRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableSelectionChoiceRequest",
      "type": "object",
      "description": "Request to enable a choice.",
      "properties": {
        "fieldId": {
          "description": "Required. The selection field in which a choice will be enabled.",
          "type": "string"
        },
        "id": {
          "description": "Required. Choice to enable.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaWriteControl": {
      "id": "GoogleAppsDriveLabelsV2betaWriteControl",
      "type": "object",
      "description": "Provides control over how write requests are executed. When not specified, the last write wins.",
      "properties": {
        "requiredRevisionId": {
          "description": "The revision ID of the label that the write request will be applied to. If this isn't the latest revision of the label, the request will not be processed and will return a 400 Bad Request error.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableFieldRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableFieldRequest",
      "type": "object",
      "description": "Request to disable the field.",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
        },
        "id": {
          "type": "string",
          "description": "Required. Key of the field to disable."
        },
        "disabledPolicy": {
          "description": "Required. Field disabled policy.",
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldPropertiesResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldPropertiesResponse",
      "type": "object",
      "description": "Response following update to field properties.",
      "properties": {
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "The priority of the updated field. The priority may change from what was specified to assure contiguous priorities between fields (1-n)."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLabelLockCapabilities": {
      "id": "GoogleAppsDriveLabelsV2betaLabelLockCapabilities",
      "type": "object",
      "description": "A description of a user's capabilities on a label lock.",
      "properties": {
        "canViewPolicy": {
          "description": "True if the user is authorized to view the policy.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateFieldRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateFieldRequest",
      "type": "object",
      "description": "Request to create a field within a label.",
      "properties": {
        "field": {
          "description": "Required. Field to create.",
          "$ref": "GoogleAppsDriveLabelsV2betaField"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseResponse",
      "type": "object",
      "description": "A single response from an update.",
      "properties": {
        "updateField": {
          "description": "Updates basic properties of a field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldPropertiesResponse"
        },
        "createSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateSelectionChoiceResponse",
          "description": "Creates a selection list option to add to a selection field."
        },
        "updateSelectionChoiceProperties": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse",
          "description": "Updates a choice within a selection field."
        },
        "disableField": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableFieldResponse",
          "description": "Disables field."
        },
        "enableSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableSelectionChoiceResponse",
          "description": "Enables a choice within a selection field."
        },
        "enableField": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableFieldResponse",
          "description": "Enables field."
        },
        "disableSelectionChoice": {
          "description": "Disables a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableSelectionChoiceResponse"
        },
        "updateFieldType": {
          "description": "Updates field type and/or type options.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldTypeResponse"
        },
        "createField": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateFieldResponse",
          "description": "Creates a field."
        },
        "deleteField": {
          "description": "Deletes a field from the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteFieldResponse"
        },
        "updateLabel": {
          "description": "Updates basic properties of a label.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateLabelPropertiesResponse"
        },
        "deleteSelectionChoice": {
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteSelectionChoiceResponse",
          "description": "Deletes a choice from a selection field."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettings": {
      "id": "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettings",
      "type": "object",
      "description": "Describes the Google Workspace apps in which the label can be used.",
      "properties": {
        "enabledApps": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettingsEnabledApp"
          },
          "description": "Optional. The list of apps where the label can be used."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLockStatus": {
      "description": "Contains information about whether a label component should be considered locked.",
      "properties": {
        "locked": {
          "readOnly": true,
          "description": "Output only. Indicates whether this label component is the (direct) target of a label lock. A label component can be implicitly locked even if it's not the direct target of a label lock, in which case this field is set to false.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLockStatus",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettingsEnabledApp": {
      "id": "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettingsEnabledApp",
      "type": "object",
      "description": "An app where the label can be used.",
      "properties": {
        "app": {
          "enum": [
            "APP_UNSPECIFIED",
            "DRIVE",
            "GMAIL"
          ],
          "description": "Optional. The name of the app.",
          "enumDescriptions": [
            "Unspecified",
            "Drive",
            "Gmail"
          ],
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldSchemaCapabilities": {
      "description": "The capabilities related to this field when editing the field.",
      "properties": {
        "canEnable": {
          "description": "Whether the user can enable this field. The user must have permission and this field must be disabled.",
          "type": "boolean"
        },
        "canDisable": {
          "description": "Whether the user can disable this field. The user must have permission and this field must not already be disabled.",
          "type": "boolean"
        },
        "canUpdate": {
          "description": "Whether the user can change this field.",
          "type": "boolean"
        },
        "canDelete": {
          "description": "Whether the user can delete this field. The user must have permission and the field must be deprecated.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldSchemaCapabilities",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaFieldLimits": {
      "description": "Field constants governing the structure of a field; such as, the maximum title length, minimum and maximum field values or length, etc.",
      "properties": {
        "maxDescriptionLength": {
          "description": "Limits for field description, also called help text.",
          "type": "integer",
          "format": "int32"
        },
        "integerLimits": {
          "$ref": "GoogleAppsDriveLabelsV2betaIntegerLimits",
          "description": "Integer field limits."
        },
        "maxDisplayNameLength": {
          "description": "Limits for field title.",
          "type": "integer",
          "format": "int32"
        },
        "userLimits": {
          "description": "User field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserLimits"
        },
        "selectionLimits": {
          "description": "Selection field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaSelectionLimits"
        },
        "textLimits": {
          "description": "The relevant limits for the specified Field.Type. Text field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaTextLimits"
        },
        "longTextLimits": {
          "$ref": "GoogleAppsDriveLabelsV2betaLongTextLimits",
          "description": "Long text field limits."
        },
        "maxIdLength": {
          "description": "Maximum length for the id.",
          "type": "integer",
          "format": "int32"
        },
        "dateLimits": {
          "description": "Date field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaDateLimits"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldLimits",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaIntegerLimits": {
      "description": "Limits for integer field type.",
      "properties": {
        "minValue": {
          "description": "Minimum value for an integer field type.",
          "type": "string",
          "format": "int64"
        },
        "maxValue": {
          "description": "Maximum value for an integer field type.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaIntegerLimits",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaLabelSchemaCapabilities": {
      "id": "GoogleAppsDriveLabelsV2betaLabelSchemaCapabilities",
      "type": "object",
      "description": "The capabilities related to this label when editing the label.",
      "properties": {
        "canUpdate": {
          "type": "boolean",
          "description": "Whether the user can change this label."
        },
        "canDelete": {
          "description": "Whether the user can delete this label. The user must have permission and the label must be disabled.",
          "type": "boolean"
        },
        "canDisable": {
          "type": "boolean",
          "description": "Whether the user can disable this label. The user must have permission and this label must not already be disabled."
        },
        "canEnable": {
          "type": "boolean",
          "description": "Whether the user can enable this label. The user must have permission and this label must be disabled."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDateLimits": {
      "id": "GoogleAppsDriveLabelsV2betaDateLimits",
      "type": "object",
      "description": "Limits for date field type.",
      "properties": {
        "minValue": {
          "$ref": "GoogleTypeDate",
          "description": "Minimum value for the date field type."
        },
        "maxValue": {
          "description": "Maximum value for the date field type.",
          "$ref": "GoogleTypeDate"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableSelectionChoiceRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableSelectionChoiceRequest",
      "type": "object",
      "description": "Request to disable a choice.",
      "properties": {
        "fieldId": {
          "type": "string",
          "description": "Required. The selection field in which a choice will be disabled."
        },
        "disabledPolicy": {
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy",
          "description": "Required. The disabled policy to update."
        },
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "id": {
          "type": "string",
          "description": "Required. Choice to disable."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice": {
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice",
      "type": "object",
      "description": "Selection field choice.",
      "properties": {
        "appliedCapabilities": {
          "description": "Output only. The capabilities related to this choice on applied metadata.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceAppliedCapabilities",
          "readOnly": true
        },
        "creator": {
          "description": "Output only. The user who created this choice.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "readOnly": true
        },
        "disableTime": {
          "readOnly": true,
          "description": "Output only. The time this choice was disabled. This value has no meaning when the choice is not disabled.",
          "type": "string",
          "format": "google-datetime"
        },
        "updater": {
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "readOnly": true,
          "description": "Output only. The user who updated this choice last."
        },
        "properties": {
          "description": "Basic properties of the choice.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties"
        },
        "publishTime": {
          "readOnly": true,
          "description": "Output only. The time this choice was published. This value has no meaning when the choice is not published.",
          "type": "string",
          "format": "google-datetime"
        },
        "displayHints": {
          "description": "Output only. UI display hints for rendering a choice.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceDisplayHints"
        },
        "publisher": {
          "description": "Output only. The user who published this choice. This value has no meaning when the choice is not published.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "lockStatus": {
          "description": "Output only. The `LockStatus` of this choice.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLockStatus"
        },
        "schemaCapabilities": {
          "description": "Output only. The capabilities related to this option when editing the option.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceSchemaCapabilities",
          "readOnly": true
        },
        "id": {
          "description": "The unique value of the choice. This ID is autogenerated. Matches the regex: `([a-zA-Z0-9_])+`.",
          "type": "string"
        },
        "disabler": {
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "readOnly": true,
          "description": "Output only. The user who disabled this choice. This value has no meaning when the option is not disabled."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this choice was created."
        },
        "lifecycle": {
          "description": "Output only. Lifecycle of the choice.",
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycle",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this choice was updated last.",
          "readOnly": true
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableSelectionChoiceResponse": {
      "description": "Response following choice disable.",
      "properties": {},
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableSelectionChoiceResponse",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2betaFieldListOptions": {
      "description": "Options for a multi-valued variant of an associated field type.",
      "properties": {
        "maxEntries": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of entries permitted."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldListOptions",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaLabel": {
      "description": "A label defines a taxonomy that can be applied to Drive items in order to organize and search across items. Labels can be simple strings, or can contain fields that describe additional metadata that can be further used to organize and search Drive items.",
      "properties": {
        "learnMoreUri": {
          "type": "string",
          "description": "Custom URL to present to users to allow them to learn more about this label and how it should be used."
        },
        "creator": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "description": "Output only. The user who created this label."
        },
        "disableTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this label was disabled. This value has no meaning when the label isn't disabled."
        },
        "appliedCapabilities": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLabelAppliedCapabilities",
          "description": "Output only. The capabilities related to this label on applied metadata."
        },
        "revisionCreator": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "description": "Output only. The user who created this label revision."
        },
        "enabledAppSettings": {
          "description": "Optional. The `EnabledAppSettings` for this Label.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettings"
        },
        "publisher": {
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "readOnly": true,
          "description": "Output only. The user who published this label. This value has no meaning when the label isn't published.>>"
        },
        "revisionCreateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this label revision was created.",
          "readOnly": true
        },
        "publishTime": {
          "description": "Output only. The time this label was published. This value has no meaning when the label isn't published.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "properties": {
          "$ref": "GoogleAppsDriveLabelsV2betaLabelProperties",
          "description": "Required. The basic properties of the label."
        },
        "displayHints": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLabelDisplayHints",
          "description": "Output only. UI display hints for rendering the label."
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Globally unique identifier of this label. ID makes up part of the label `name`, but unlike `name`, ID is consistent between revisions. Matches the regex: `([a-zA-Z0-9])+`."
        },
        "labelType": {
          "enum": [
            "LABEL_TYPE_UNSPECIFIED",
            "SHARED",
            "ADMIN",
            "GOOGLE_APP"
          ],
          "type": "string",
          "description": "Required. The type of label.",
          "enumDescriptions": [
            "Unknown label type.",
            "Shared labels may be shared with users to apply to Drive items.",
            "Admin-owned label. Only creatable and editable by admins. Supports some additional admin-only features.",
            "A label owned by an internal Google application rather than a customer. These labels are read-only."
          ]
        },
        "createTime": {
          "description": "Output only. The time this label was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "disabler": {
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "readOnly": true,
          "description": "Output only. The user who disabled this label. This value has no meaning when the label isn't disabled."
        },
        "fields": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaField"
          },
          "description": "List of fields in descending priority order."
        },
        "schemaCapabilities": {
          "description": "Output only. The capabilities the user has on this label.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelSchemaCapabilities",
          "readOnly": true
        },
        "appliedLabelPolicy": {
          "description": "Output only. Behavior of this label when it's applied to Drive items.",
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLabelAppliedLabelPolicy"
        },
        "lockStatus": {
          "readOnly": true,
          "$ref": "GoogleAppsDriveLabelsV2betaLockStatus",
          "description": "Output only. The `LockStatus` of this label."
        },
        "revisionId": {
          "readOnly": true,
          "description": "Output only. Revision ID of the label. Revision ID might be part of the label `name` depending on the request issued. A new revision is created whenever revisioned properties of a label are changed. Matches the regex: `([a-zA-Z0-9])+`.",
          "type": "string"
        },
        "customer": {
          "type": "string",
          "description": "Output only. The customer this label belongs to. For example: `customers/123abc789`.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the label. Will be in the form of either: `labels/{id}` or `labels/{id}@{revision_id}` depending on the request. See `id` and `revision_id` below.",
          "type": "string"
        },
        "lifecycle": {
          "description": "Output only. The lifecycle state of the label including whether it's published, deprecated, and has draft changes.",
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycle",
          "readOnly": true
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLabel",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaFieldAppliedCapabilities": {
      "description": "The capabilities related to this field on applied metadata.",
      "properties": {
        "canSearch": {
          "description": "Whether the user can search for Drive items referencing this field.",
          "type": "boolean"
        },
        "canWrite": {
          "description": "Whether the user can set this field on Drive items.",
          "type": "boolean"
        },
        "canRead": {
          "description": "Whether the user can read related applied metadata on items.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldAppliedCapabilities",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaLabelProperties": {
      "description": "Basic properties of the label.",
      "properties": {
        "title": {
          "description": "Required. Title of the label.",
          "type": "string"
        },
        "description": {
          "description": "The description of the label.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLabelProperties",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaLongTextLimits": {
      "id": "GoogleAppsDriveLabelsV2betaLongTextLimits",
      "type": "object",
      "description": "Limits for long text field type.",
      "properties": {
        "maxLength": {
          "description": "Maximum length allowed for a long text field type.",
          "type": "integer",
          "format": "int32"
        },
        "minLength": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum length allowed for a long text field type."
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceDisplayHints": {
      "description": "UI display hints for rendering an option.",
      "properties": {
        "shownInApply": {
          "type": "boolean",
          "description": "This option should be shown in the apply menu when applying values to a Drive item."
        },
        "badgeColors": {
          "description": "The colors to use for the badge. Changed to Google Material colors based on the chosen `properties.badge_config.color`.",
          "$ref": "GoogleAppsDriveLabelsV2betaBadgeColors"
        },
        "badgePriority": {
          "description": "The priority of this badge. Used to compare and sort between multiple badges. A lower number means the badge should be shown first. When a badging configuration is not present, this will be 0. Otherwise, this will be set to `BadgeConfig.priority_override` or the default heuristic which prefers creation date of the label, and field and option priority.",
          "type": "string",
          "format": "int64"
        },
        "darkBadgeColors": {
          "description": "The dark-mode color to use for the badge. Changed to Google Material colors based on the chosen `properties.badge_config.color`.",
          "$ref": "GoogleAppsDriveLabelsV2betaBadgeColors"
        },
        "disabled": {
          "type": "boolean",
          "description": "Whether the option should be shown in the UI as disabled."
        },
        "hiddenInSearch": {
          "type": "boolean",
          "description": "This option should be hidden in the search menu when searching for Drive items."
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceDisplayHints",
      "type": "object"
    }
  },
  "id": "drivelabels:v2beta",
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "version_module": true,
  "resources": {
    "users": {
      "methods": {
        "getCapabilities": {
          "parameters": {
            "customer": {
              "location": "query",
              "type": "string",
              "description": "The customer to scope this request to. For example: `customers/abcd1234`. If unset, it will return settings within the current customer."
            },
            "name": {
              "pattern": "^users/[^/]+/capabilities$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The resource name of the user. Only \"users/me/capabilities\" is supported."
            }
          },
          "id": "drivelabels.users.getCapabilities",
          "path": "v2beta/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "flatPath": "v2beta/users/{usersId}/capabilities",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaUserCapabilities"
          },
          "description": "Gets the user capabilities.",
          "parameterOrder": [
            "name"
          ]
        }
      }
    },
    "limits": {
      "methods": {
        "getLabel": {
          "path": "v2beta/limits/label",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "id": "drivelabels.limits.getLabel",
          "parameters": {
            "name": {
              "location": "query",
              "type": "string",
              "description": "Required. Label revision resource name must be: \"limits/label\"."
            }
          },
          "parameterOrder": [],
          "description": "Get the constraints on the structure of a label; such as, the maximum number of fields allowed and maximum length of the label title.",
          "flatPath": "v2beta/limits/label",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelLimits"
          }
        }
      }
    },
    "labels": {
      "methods": {
        "list": {
          "path": "v2beta/labels",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "id": "drivelabels.labels.list",
          "parameters": {
            "publishedOnly": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to include only published labels in the results. * When `true`, only the current published label revisions are returned. Disabled labels are included. Returned label resource names reference the published revision (`labels/{id}/{revision_id}`). * When `false`, the current label revisions are returned, which might not be published. Returned label resource names don't reference a specific revision (`labels/{id}`)."
            },
            "useAdminAccess": {
              "location": "query",
[...]
