{
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://drivelabels.mtls.googleapis.com/",
  "version": "v2beta",
  "protocol": "rest",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "schemas": {
    "GoogleAppsDriveLabelsV2betaFieldProperties": {
      "properties": {
        "insertBeforeField": {
          "description": "Input only. Insert or move this field before the indicated field. If empty, the field is placed at the end of the list.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display text to show in the UI identifying this field.",
          "type": "string"
        },
        "required": {
          "description": "Whether the field should be marked as required.",
          "type": "boolean"
        }
      },
      "description": "The basic properties of the field.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaFieldProperties"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldTypeRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldTypeRequest",
      "description": "Request to change the type of a field.",
      "type": "object",
      "properties": {
        "dateOptions": {
          "description": "Update field to Date.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldDateOptions"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root of `type_options` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string"
        },
        "selectionOptions": {
          "description": "Update field to Selection.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptions"
        },
        "userOptions": {
          "description": "Update field to User.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldUserOptions"
        },
        "integerOptions": {
          "description": "Update field to Integer.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldIntegerOptions"
        },
        "textOptions": {
          "description": "Update field to Text.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldTextOptions"
        },
        "id": {
          "description": "Required. The field to update.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldAppliedCapabilities": {
      "properties": {
        "canWrite": {
          "description": "Whether the user can set this field on Drive items.",
          "type": "boolean"
        },
        "canRead": {
          "description": "Whether the user can read related applied metadata on items.",
          "type": "boolean"
        },
        "canSearch": {
          "description": "Whether the user can search for Drive items referencing this field.",
          "type": "boolean"
        }
      },
      "description": "The capabilities related to this field on applied metadata.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaFieldAppliedCapabilities"
    },
    "GoogleAppsDriveLabelsV2betaField": {
      "id": "GoogleAppsDriveLabelsV2betaField",
      "description": "Defines a field that has a display name, data type, and other configuration options. This field defines the kind of metadata that may be set on a Drive item.",
      "type": "object",
      "properties": {
        "dateOptions": {
          "description": "Date field options.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldDateOptions"
        },
        "queryKey": {
          "readOnly": true,
          "description": "Output only. The key to use when constructing Drive search queries to find files based on values defined for this field on files. For example, \"`{query_key}` > 2001-01-01\".",
          "type": "string"
        },
        "creator": {
          "readOnly": true,
          "description": "Output only. The user who created this field.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "properties": {
          "description": "The basic properties of the field.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldProperties"
        },
        "updater": {
          "description": "Output only. The user who modified this field.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "readOnly": true
        },
        "disabler": {
          "readOnly": true,
          "description": "Output only. The user who disabled this field. This value has no meaning when the field is not disabled.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "userOptions": {
          "description": "User field options.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldUserOptions"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time this field was created.",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "readOnly": true,
          "description": "Output only. The key of a field, unique within a label or library. This value is autogenerated. Matches the regex: `([a-zA-Z0-9])+`.",
          "type": "string"
        },
        "publisher": {
          "readOnly": true,
          "description": "Output only. The user who published this field. This value has no meaning when the field is not published.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "displayHints": {
          "readOnly": true,
          "description": "Output only. UI display hints for rendering a field.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldDisplayHints"
        },
        "updateTime": {
          "description": "Output only. The time this field was updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "selectionOptions": {
          "description": "Selection field options.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptions"
        },
        "schemaCapabilities": {
          "readOnly": true,
          "description": "Output only. The capabilities this user has when editing this field.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSchemaCapabilities"
        },
        "disableTime": {
          "format": "google-datetime",
          "description": "Output only. The time this field was disabled. This value has no meaning when the field is not disabled.",
          "type": "string",
          "readOnly": true
        },
        "integerOptions": {
          "description": "Integer field options.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldIntegerOptions"
        },
        "lockStatus": {
          "description": "Output only. The `LockStatus` of this field.",
          "$ref": "GoogleAppsDriveLabelsV2betaLockStatus",
          "readOnly": true
        },
        "appliedCapabilities": {
          "description": "Output only. The capabilities this user has on this field and its value when the label is applied on Drive items.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldAppliedCapabilities",
          "readOnly": true
        },
        "lifecycle": {
          "description": "Output only. The lifecycle of this field.",
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycle",
          "readOnly": true
        },
        "textOptions": {
          "description": "Text field options.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldTextOptions"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldTextOptions": {
      "id": "GoogleAppsDriveLabelsV2betaFieldTextOptions",
      "properties": {
        "maxLength": {
          "description": "Output only. The maximum valid length of values for the text field.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "minLength": {
          "format": "int32",
          "description": "Output only. The minimum valid length of values for the text field.",
          "type": "integer",
          "readOnly": true
        }
      },
      "description": "Options for the Text field type.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteFieldResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteFieldResponse",
      "description": "Response following field delete.",
      "type": "object",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2betaFieldIntegerOptions": {
      "description": "Options for the Integer field type.",
      "type": "object",
      "properties": {
        "minValue": {
          "format": "int64",
          "description": "Output only. The minimum valid value for the integer field.",
          "type": "string",
          "readOnly": true
        },
        "maxValue": {
          "format": "int64",
          "description": "Output only. The maximum valid value for the integer field.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldIntegerOptions"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableSelectionChoiceResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableSelectionChoiceResponse",
      "description": "Response following choice enable.",
      "type": "object",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequest",
      "description": "The set of requests for updating aspects of a label. If any request isn't valid, no requests will be applied.",
      "type": "object",
      "properties": {
        "writeControl": {
          "description": "Provides control over how write requests are executed.",
          "$ref": "GoogleAppsDriveLabelsV2betaWriteControl"
        },
        "requests": {
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestRequest"
          },
          "description": "A list of updates to apply to the label. Requests will be applied in the order they are specified.",
          "type": "array"
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels when `include_label_in_response` is `true`.",
          "type": "string"
        },
        "view": {
          "description": "When specified, only certain fields belonging to the indicated view will be returned.",
          "type": "string",
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ],
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ]
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldListOptions": {
      "id": "GoogleAppsDriveLabelsV2betaFieldListOptions",
      "description": "Options for a multi-valued variant of an associated field type.",
      "type": "object",
      "properties": {
        "maxEntries": {
          "format": "int32",
          "description": "Maximum number of entries permitted.",
          "type": "integer"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaTextLimits": {
      "id": "GoogleAppsDriveLabelsV2betaTextLimits",
      "properties": {
        "minLength": {
          "description": "Minimum length allowed for a text field type.",
          "type": "integer",
          "format": "int32"
        },
        "maxLength": {
          "format": "int32",
          "description": "Maximum length allowed for a text field type.",
          "type": "integer"
        }
      },
      "description": "Limits for text field type.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptions": {
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptions",
      "properties": {
        "listOptions": {
          "description": "When specified, indicates this field supports a list of values. Once the field is published, this cannot be changed.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldListOptions"
        },
        "choices": {
          "description": "The options available for this selection field. The list order is consistent, and modified with `insert_before_choice`.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice"
          }
        }
      },
      "description": "Options for the selection field type.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettings": {
      "description": "Describes the Google Workspace apps in which the label can be used.",
      "type": "object",
      "properties": {
        "enabledApps": {
          "description": "Optional. The list of apps where the label can be used.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettingsEnabledApp"
          }
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettings"
    },
    "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsResponse": {
      "id": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsResponse",
      "properties": {
        "permissions": {
          "description": "Required. Permissions updated.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
          }
        }
      },
      "description": "Response for updating one or more label permissions.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaUserLimits": {
      "id": "GoogleAppsDriveLabelsV2betaUserLimits",
      "description": "Limits for Field.Type.USER.",
      "type": "object",
      "properties": {
        "listLimits": {
          "description": "Limits for list-variant of a field type.",
          "$ref": "GoogleAppsDriveLabelsV2betaListLimits"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldDateOptions": {
      "id": "GoogleAppsDriveLabelsV2betaFieldDateOptions",
      "description": "Options for the date field type.",
      "type": "object",
      "properties": {
        "dateFormat": {
          "readOnly": true,
          "description": "Output only. ICU date format.",
          "type": "string"
        },
        "maxValue": {
          "description": "Output only. Maximum valid value (year, month, day).",
          "$ref": "GoogleTypeDate",
          "readOnly": true
        },
        "dateFormatType": {
          "description": "Localized date formatting option. Field values are rendered in this format according to their locale.",
          "type": "string",
          "enumDescriptions": [
            "Date format unspecified.",
            "Includes full month name. For example, January 12, 1999 (MMMM d, y)",
            "Short, numeric, representation. For example, 12/13/99 (M/d/yy)"
          ],
          "enum": [
            "DATE_FORMAT_UNSPECIFIED",
            "LONG_DATE",
            "SHORT_DATE"
          ]
        },
        "minValue": {
          "readOnly": true,
          "description": "Output only. Minimum valid value (year, month, day).",
          "$ref": "GoogleTypeDate"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateFieldRequest": {
      "properties": {
        "field": {
          "description": "Required. Field to create.",
          "$ref": "GoogleAppsDriveLabelsV2betaField"
        }
      },
      "description": "Request to create a field within a label.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateFieldRequest"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteSelectionChoiceResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteSelectionChoiceResponse",
      "properties": {},
      "description": "Response following choice delete.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaListLabelLocksResponse": {
      "id": "GoogleAppsDriveLabelsV2betaListLabelLocksResponse",
      "properties": {
        "labelLocks": {
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelLock"
          },
          "description": "Label locks.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token of the next page in the response.",
          "type": "string"
        }
      },
      "description": "The response to a `ListLabelLocksRequest`.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaLabelProperties": {
      "id": "GoogleAppsDriveLabelsV2betaLabelProperties",
      "properties": {
        "description": {
          "description": "The description of the label.",
          "type": "string"
        },
        "title": {
          "description": "Required. Title of the label.",
          "type": "string"
        }
      },
      "description": "Basic properties of the label.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaFieldLimits": {
      "id": "GoogleAppsDriveLabelsV2betaFieldLimits",
      "properties": {
        "longTextLimits": {
          "description": "Long text field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaLongTextLimits"
        },
        "selectionLimits": {
          "description": "Selection field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaSelectionLimits"
        },
        "dateLimits": {
          "description": "Date field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaDateLimits"
        },
        "textLimits": {
          "description": "The relevant limits for the specified Field.Type. Text field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaTextLimits"
        },
        "integerLimits": {
          "description": "Integer field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaIntegerLimits"
        },
        "userLimits": {
          "description": "User field limits.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserLimits"
        },
        "maxDescriptionLength": {
          "format": "int32",
          "description": "Limits for field description, also called help text.",
          "type": "integer"
        },
        "maxDisplayNameLength": {
          "format": "int32",
          "description": "Limits for field title.",
          "type": "integer"
        },
        "maxIdLength": {
          "description": "Maximum length for the id.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Field constants governing the structure of a field; such as, the maximum title length, minimum and maximum field values or length, etc.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice": {
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice",
      "description": "Selection field choice.",
      "type": "object",
      "properties": {
        "lifecycle": {
          "readOnly": true,
          "description": "Output only. Lifecycle of the choice.",
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycle"
        },
        "schemaCapabilities": {
          "readOnly": true,
          "description": "Output only. The capabilities related to this option when editing the option.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceSchemaCapabilities"
        },
        "disableTime": {
          "description": "Output only. The time this choice was disabled. This value has no meaning when the choice is not disabled.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "displayHints": {
          "readOnly": true,
          "description": "Output only. UI display hints for rendering a choice.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceDisplayHints"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time this choice was updated last.",
          "type": "string",
          "format": "google-datetime"
        },
        "appliedCapabilities": {
          "description": "Output only. The capabilities related to this choice on applied metadata.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceAppliedCapabilities",
          "readOnly": true
        },
        "lockStatus": {
          "readOnly": true,
          "description": "Output only. The `LockStatus` of this choice.",
          "$ref": "GoogleAppsDriveLabelsV2betaLockStatus"
        },
        "updater": {
          "description": "Output only. The user who updated this choice last.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "readOnly": true
        },
        "disabler": {
          "description": "Output only. The user who disabled this choice. This value has no meaning when the option is not disabled.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "readOnly": true
        },
        "id": {
          "description": "The unique value of the choice. This ID is autogenerated. Matches the regex: `([a-zA-Z0-9_])+`.",
          "type": "string"
        },
        "publisher": {
          "description": "Output only. The user who published this choice. This value has no meaning when the choice is not published.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time this choice was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "creator": {
          "description": "Output only. The user who created this choice.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "readOnly": true
        },
        "publishTime": {
          "format": "google-datetime",
          "description": "Output only. The time this choice was published. This value has no meaning when the choice is not published.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "description": "Basic properties of the choice.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestRequest",
      "description": "A single kind of update to apply to a label.",
      "type": "object",
      "properties": {
        "updateSelectionChoiceProperties": {
          "description": "Update a choice property within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest"
        },
        "disableSelectionChoice": {
          "description": "Disable a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableSelectionChoiceRequest"
        },
        "enableField": {
          "description": "Enables the field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableFieldRequest"
        },
        "enableSelectionChoice": {
          "description": "Enable a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableSelectionChoiceRequest"
        },
        "updateLabel": {
          "description": "Updates the label properties.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateLabelPropertiesRequest"
        },
        "updateFieldType": {
          "description": "Update field type and/or type options.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldTypeRequest"
        },
        "createField": {
          "description": "Creates a field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateFieldRequest"
        },
        "disableField": {
          "description": "Disables the field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableFieldRequest"
        },
        "deleteField": {
          "description": "Deletes a field from the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteFieldRequest"
        },
        "deleteSelectionChoice": {
          "description": "Delete a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteSelectionChoiceRequest"
        },
        "updateField": {
          "description": "Updates basic properties of a field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldPropertiesRequest"
        },
        "createSelectionChoice": {
          "description": "Create a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateSelectionChoiceRequest"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaUserCapabilities": {
      "id": "GoogleAppsDriveLabelsV2betaUserCapabilities",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name for the user capabilities.",
          "type": "string"
        },
        "canCreateSharedLabels": {
          "description": "Output only. Whether the user is allowed to create shared labels.",
          "type": "boolean",
          "readOnly": true
        },
        "canCreateAdminLabels": {
          "readOnly": true,
          "description": "Output only. Whether the user is allowed to create admin labels.",
          "type": "boolean"
        },
        "canAccessLabelManager": {
          "readOnly": true,
          "description": "Output only. Whether the user is allowed access to the label manager.",
          "type": "boolean"
        },
        "canAdministrateLabels": {
          "readOnly": true,
          "description": "Output only. Whether the user is an administrator for the shared labels feature.",
          "type": "boolean"
        }
      },
      "description": "The capabilities of a user.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaLabel": {
      "id": "GoogleAppsDriveLabelsV2betaLabel",
      "description": "A label defines a taxonomy that can be applied to Drive items in order to organize and search across items. Labels can be simple strings, or can contain fields that describe additional metadata that can be further used to organize and search Drive items.",
      "type": "object",
      "properties": {
        "fields": {
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaField"
          },
          "description": "List of fields in descending priority order.",
          "type": "array"
        },
        "id": {
          "description": "Output only. Globally unique identifier of this label. ID makes up part of the label `name`, but unlike `name`, ID is consistent between revisions. Matches the regex: `([a-zA-Z0-9])+`.",
          "type": "string",
          "readOnly": true
        },
        "publisher": {
          "description": "Output only. The user who published this label. This value has no meaning when the label isn't published.>>",
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "readOnly": true
        },
        "customer": {
          "readOnly": true,
          "description": "Output only. The customer this label belongs to. For example: `customers/123abc789`.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time this label was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "disabler": {
          "readOnly": true,
          "description": "Output only. The user who disabled this label. This value has no meaning when the label isn't disabled.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo"
        },
        "appliedLabelPolicy": {
          "description": "Output only. Behavior of this label when it's applied to Drive items.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelAppliedLabelPolicy",
          "readOnly": true
        },
        "labelType": {
          "enum": [
            "LABEL_TYPE_UNSPECIFIED",
            "SHARED",
            "ADMIN",
            "GOOGLE_APP"
          ],
          "description": "Required. The type of label.",
          "type": "string",
          "enumDescriptions": [
            "Unknown label type.",
            "Shared labels may be shared with users to apply to Drive items.",
            "Admin-owned label. Only creatable and editable by admins. Supports some additional admin-only features.",
            "A label owned by an internal Google application rather than a customer. These labels are read-only."
          ]
        },
        "publishTime": {
          "readOnly": true,
          "description": "Output only. The time this label was published. This value has no meaning when the label isn't published.",
          "type": "string",
          "format": "google-datetime"
        },
        "properties": {
          "description": "Required. The basic properties of the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelProperties"
        },
        "creator": {
          "description": "Output only. The user who created this label.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Resource name of the label. Will be in the form of either: `labels/{id}` or `labels/{id}@{revision_id}` depending on the request. See `id` and `revision_id` below.",
          "type": "string",
          "readOnly": true
        },
        "revisionId": {
          "description": "Output only. Revision ID of the label. Revision ID might be part of the label `name` depending on the request issued. A new revision is created whenever revisioned properties of a label are changed. Matches the regex: `([a-zA-Z0-9])+`.",
          "type": "string",
          "readOnly": true
        },
        "lifecycle": {
          "description": "Output only. The lifecycle state of the label including whether it's published, deprecated, and has draft changes.",
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycle",
          "readOnly": true
        },
        "revisionCreateTime": {
          "format": "google-datetime",
          "description": "Output only. The time this label revision was created.",
          "type": "string",
          "readOnly": true
        },
        "enabledAppSettings": {
          "description": "Optional. The `EnabledAppSettings` for this Label.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettings"
        },
        "revisionCreator": {
          "description": "Output only. The user who created this label revision.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "readOnly": true
        },
        "appliedCapabilities": {
          "readOnly": true,
          "description": "Output only. The capabilities related to this label on applied metadata.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelAppliedCapabilities"
        },
        "learnMoreUri": {
          "description": "Custom URL to present to users to allow them to learn more about this label and how it should be used.",
          "type": "string"
        },
        "lockStatus": {
          "readOnly": true,
          "description": "Output only. The `LockStatus` of this label.",
          "$ref": "GoogleAppsDriveLabelsV2betaLockStatus"
        },
        "disableTime": {
          "readOnly": true,
          "description": "Output only. The time this label was disabled. This value has no meaning when the label isn't disabled.",
          "type": "string",
          "format": "google-datetime"
        },
        "schemaCapabilities": {
          "description": "Output only. The capabilities the user has on this label.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelSchemaCapabilities",
          "readOnly": true
        },
        "displayHints": {
          "description": "Output only. UI display hints for rendering the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelDisplayHints",
          "readOnly": true
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLabelSchemaCapabilities": {
      "properties": {
        "canUpdate": {
          "description": "Whether the user can change this label.",
          "type": "boolean"
        },
        "canDelete": {
          "description": "Whether the user can delete this label. The user must have permission and the label must be disabled.",
          "type": "boolean"
        },
        "canEnable": {
          "description": "Whether the user can enable this label. The user must have permission and this label must be disabled.",
          "type": "boolean"
        },
        "canDisable": {
          "description": "Whether the user can disable this label. The user must have permission and this label must not already be disabled.",
          "type": "boolean"
        }
      },
      "description": "The capabilities related to this label when editing the label.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaLabelSchemaCapabilities"
    },
    "GoogleAppsDriveLabelsV2betaFieldUserOptions": {
      "id": "GoogleAppsDriveLabelsV2betaFieldUserOptions",
      "properties": {
        "listOptions": {
          "description": "When specified, indicates that this field supports a list of values. Once the field is published, this cannot be changed.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldListOptions"
        }
      },
      "description": "Options for the user field type.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaLabelLock": {
      "properties": {
        "deleteTime": {
          "description": "Output only. A timestamp indicating when this label lock was scheduled for deletion. Present only if this label lock is in the `DELETING` state.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "creator": {
          "description": "Output only. The user whose credentials were used to create the label lock. Not present if no user was responsible for creating the label lock.",
          "$ref": "GoogleAppsDriveLabelsV2betaUserInfo",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Resource name of this label lock.",
          "type": "string",
          "readOnly": true
        },
        "fieldId": {
          "description": "The ID of the field that should be locked. Empty if the whole label should be locked.",
          "type": "string"
        },
        "capabilities": {
          "description": "Output only. The user's capabilities on this label lock.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelLockCapabilities",
          "readOnly": true
        },
        "choiceId": {
          "description": "The ID of the selection field choice that should be locked. If present, `field_id` must also be present.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time this label lock was created.",
          "type": "string"
        },
        "state": {
          "description": "Output only. This label lock's state.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unknown state.",
            "The label lock is active and is being enforced by the server.",
            "The label lock is being deleted. The label lock will continue to be enforced by the server until it has been fully removed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETING"
          ]
        }
      },
      "description": "A lock that can be applied to a label, field, or choice.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaLabelLock"
    },
    "GoogleAppsDriveLabelsV2betaDisableLabelRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDisableLabelRequest",
      "properties": {
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        },
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "writeControl": {
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins.",
          "$ref": "GoogleAppsDriveLabelsV2betaWriteControl"
        },
        "disabledPolicy": {
          "description": "Disabled policy to use.",
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy"
        }
      },
      "description": "Request to deprecate a published label.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaLockStatus": {
      "properties": {
        "locked": {
          "readOnly": true,
          "description": "Output only. Indicates whether this label component is the (direct) target of a label lock. A label component can be implicitly locked even if it's not the direct target of a label lock, in which case this field is set to false.",
          "type": "boolean"
        }
      },
      "description": "Contains information about whether a label component should be considered locked.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaLockStatus"
    },
    "GoogleAppsDriveLabelsV2betaLabelLimits": {
      "description": "Label constraints governing the structure of a label; such as, the maximum number of fields allowed and maximum length of the label title.",
      "type": "object",
      "properties": {
        "fieldLimits": {
          "description": "The limits for fields.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldLimits"
        },
        "name": {
          "description": "Resource name.",
          "type": "string"
        },
        "maxDraftRevisions": {
          "description": "The maximum number of draft revisions that will be kept before deleting old drafts.",
          "type": "integer",
          "format": "int32"
        },
        "maxTitleLength": {
          "description": "The maximum number of characters allowed for the title.",
          "type": "integer",
          "format": "int32"
        },
        "maxDescriptionLength": {
          "description": "The maximum number of characters allowed for the description.",
          "type": "integer",
          "format": "int32"
        },
        "maxDeletedFields": {
          "description": "The maximum number of published fields that can be deleted.",
          "type": "integer",
          "format": "int32"
        },
        "maxFields": {
          "description": "The maximum number of fields allowed within the label.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLabelLimits"
    },
    "GoogleAppsDriveLabelsV2betaUpdateLabelPermissionRequest": {
      "properties": {
        "parent": {
          "description": "Required. The parent label resource name.",
          "type": "string"
        },
        "labelPermission": {
          "description": "Required. The permission to create or update on the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        }
      },
      "description": "Updates a label permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaUpdateLabelPermissionRequest"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableSelectionChoiceRequest": {
      "properties": {
        "id": {
          "description": "Required. Choice to disable.",
          "type": "string"
        },
        "disabledPolicy": {
          "description": "Required. The disabled policy to update.",
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy"
        },
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "fieldId": {
          "description": "Required. The selection field in which a choice will be disabled.",
          "type": "string"
        }
      },
      "description": "Request to disable a choice.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableSelectionChoiceRequest"
    },
    "GoogleAppsDriveLabelsV2betaDeleteLabelPermissionRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeleteLabelPermissionRequest",
      "properties": {
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "name": {
          "description": "Required. Label permission resource name.",
          "type": "string"
        }
      },
      "description": "Deletes a label permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
      "type": "object"
    },
    "GoogleTypeColor": {
      "id": "GoogleTypeColor",
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
      "type": "object",
      "properties": {
        "red": {
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        },
        "alpha": {
          "format": "float",
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0).",
          "type": "number"
        },
        "green": {
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        },
        "blue": {
          "description": "The amount of blue in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy": {
      "id": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy",
      "properties": {
        "hideInSearch": {
          "description": "Whether to hide this disabled object in the search menu for Drive items. * When `false`, the object is generally shown in the UI as disabled but it appears in the search results when searching for Drive items. * When `true`, the object is generally hidden in the UI when searching for Drive items.",
          "type": "boolean"
        },
        "showInApply": {
          "description": "Whether to show this disabled object in the apply menu on Drive items. * When `true`, the object is generally shown in the UI as disabled and is unselectable. * When `false`, the object is generally hidden in the UI.",
          "type": "boolean"
        }
      },
      "description": "The policy that governs how to treat a disabled label, field, or selection choice in different contexts.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateLabelPropertiesResponse": {
      "description": "Response following update to label properties.",
      "type": "object",
      "properties": {},
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateLabelPropertiesResponse"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableFieldRequest": {
      "properties": {
        "id": {
          "description": "Required. ID of the field to enable.",
          "type": "string"
        }
      },
      "description": "Request to enable the field.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableFieldRequest"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponse": {
      "description": "Response for label update.",
      "type": "object",
      "properties": {
        "responses": {
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseResponse"
          },
          "description": "The reply of the updates. This maps 1:1 with the updates, although responses to some requests may be empty.",
          "type": "array"
        },
        "updatedLabel": {
          "description": "The label after updates were applied. This is only set if `include_label_in_response` is `true` and there were no errors.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabel"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponse"
    },
    "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest": {
      "description": "Updates one or more label permissions.",
      "type": "object",
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaUpdateLabelPermissionRequest"
          },
          "description": "Required. The request message specifying the resources to update.",
          "type": "array"
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access. If this is set, the `use_admin_access` field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaBatchUpdateLabelPermissionsRequest"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableFieldRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDisableFieldRequest",
      "properties": {
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "id": {
          "description": "Required. Key of the field to disable.",
          "type": "string"
        },
        "disabledPolicy": {
          "description": "Required. Field disabled policy.",
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy"
        }
      },
      "description": "Request to disable the field.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse",
      "description": "Response following update to selection choice properties.",
      "type": "object",
      "properties": {
        "priority": {
          "description": "The priority of the updated choice. The priority may change from what was specified to assure contiguous priorities between choices (1-n).",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaUpdateLabelCopyModeRequest": {
      "id": "GoogleAppsDriveLabelsV2betaUpdateLabelCopyModeRequest",
      "properties": {
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        },
        "copyMode": {
          "description": "Required. Indicates how the applied label and field values should be copied when a Drive item is copied.",
          "type": "string",
          "enumDescriptions": [
            "Copy mode unspecified.",
            "The applied label and field values aren't copied by default when the Drive item it's applied to is copied.",
            "The applied label and field values are always copied when the Drive item it's applied to is copied. Only admins can use this mode.",
            "The applied label and field values are copied if the label is appliable by the user making the copy."
          ],
          "enum": [
            "COPY_MODE_UNSPECIFIED",
            "DO_NOT_COPY",
            "ALWAYS_COPY",
            "COPY_APPLIABLE"
          ]
        },
        "view": {
          "description": "When specified, only certain fields belonging to the indicated view will be returned.",
          "type": "string",
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ],
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ]
        }
      },
      "description": "Request to update the `CopyMode` of the given label. Changes to this policy aren't revisioned, don't require publishing, and take effect immediately. \\",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaLifecycle": {
      "id": "GoogleAppsDriveLabelsV2betaLifecycle",
      "properties": {
        "state": {
          "readOnly": true,
          "description": "Output only. The state of the object associated with this lifecycle.",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNPUBLISHED_DRAFT",
            "PUBLISHED",
            "DISABLED",
            "DELETED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown State.",
            "The initial state of an object. Once published, the object can never return to this state. Once an object is published, certain kinds of changes are no longer permitted.",
            "The object has been published. The object might have unpublished draft changes as indicated by `has_unpublished_changes`.",
            "The object has been published and has since been disabled. The object might have unpublished draft changes as indicated by `has_unpublished_changes`.",
            "The object has been deleted."
          ]
        },
        "hasUnpublishedChanges": {
          "description": "Output only. Whether the object associated with this lifecycle has unpublished changes.",
          "type": "boolean",
          "readOnly": true
        },
        "disabledPolicy": {
          "description": "The policy that governs how to show a disabled label, field, or selection choice.",
          "$ref": "GoogleAppsDriveLabelsV2betaLifecycleDisabledPolicy"
        }
      },
      "description": "The lifecycle state of an object, such as label, field, or choice. For more information, see [Label lifecycle](https://developers.google.com/workspace/drive/labels/guides/label-lifecycle). The lifecycle enforces the following transitions: * `UNPUBLISHED_DRAFT` (starting state) * `UNPUBLISHED_DRAFT` -> `PUBLISHED` * `UNPUBLISHED_DRAFT` -> (Deleted) * `PUBLISHED` -> `DISABLED` * `DISABLED` -> `PUBLISHED` * `DISABLED` -> (Deleted) The published and disabled states have some distinct characteristics: * `Published`: Some kinds of changes might be made to an object in this state, in which case `has_unpublished_changes` will be true. Also, some kinds of changes aren't permitted. Generally, any change that would invalidate or cause new restrictions on existing metadata related to the label are rejected. * `Disabled`: When disabled, the configured `DisabledPolicy` takes effect.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaLabelAppliedLabelPolicy": {
      "description": "Behavior of this label when it's applied to Drive items.",
      "type": "object",
      "properties": {
        "copyMode": {
          "enum": [
            "COPY_MODE_UNSPECIFIED",
            "DO_NOT_COPY",
            "ALWAYS_COPY",
            "COPY_APPLIABLE"
          ],
          "description": "Indicates how the applied label and field values should be copied when a Drive item is copied.",
          "type": "string",
          "enumDescriptions": [
            "Copy mode unspecified.",
            "The applied label and field values aren't copied by default when the Drive item it's applied to is copied.",
            "The applied label and field values are always copied when the Drive item it's applied to is copied. Only admins can use this mode.",
            "The applied label and field values are copied if the label is appliable by the user making the copy."
          ]
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaLabelAppliedLabelPolicy"
    },
    "GoogleAppsDriveLabelsV2betaUserInfo": {
      "properties": {
        "person": {
          "description": "The identifier for this user that can be used with the [People API](https://developers.google.com/people) to get more information. For example, `people/12345678`.",
          "type": "string"
        }
      },
      "description": "Information about a user.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaUserInfo"
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceSchemaCapabilities": {
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceSchemaCapabilities",
      "description": "The capabilities related to this choice when editing the choice.",
      "type": "object",
      "properties": {
        "canDisable": {
          "description": "Whether the user can disable this choice.",
          "type": "boolean"
        },
        "canDelete": {
          "description": "Whether the user can delete this choice.",
          "type": "boolean"
        },
        "canEnable": {
          "description": "Whether the user can enable this choice.",
          "type": "boolean"
        },
        "canUpdate": {
          "description": "Whether the user can update this choice.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaUpdateLabelEnabledAppSettingsRequest": {
      "id": "GoogleAppsDriveLabelsV2betaUpdateLabelEnabledAppSettingsRequest",
      "description": "Request to update the `EnabledAppSettings` of the given label. This change is not revisioned, doesn't require publishing, and takes effect immediately. \\",
      "type": "object",
      "properties": {
        "enabledAppSettings": {
          "description": "Required. The new `EnabledAppSettings` value for the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettings"
        },
        "useAdminAccess": {
          "description": "Optional. Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "languageCode": {
          "description": "Optional. The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        },
        "view": {
          "description": "Optional. When specified, only certain fields belonging to the indicated view will be returned.",
          "type": "string",
          "enumDescriptions": [
            "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
            "All possible fields."
          ],
          "enum": [
            "LABEL_VIEW_BASIC",
            "LABEL_VIEW_FULL"
          ]
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldSchemaCapabilities": {
      "id": "GoogleAppsDriveLabelsV2betaFieldSchemaCapabilities",
      "properties": {
        "canUpdate": {
          "description": "Whether the user can change this field.",
          "type": "boolean"
        },
        "canDelete": {
          "description": "Whether the user can delete this field. The user must have permission and the field must be deprecated.",
          "type": "boolean"
        },
        "canEnable": {
          "description": "Whether the user can enable this field. The user must have permission and this field must be disabled.",
          "type": "boolean"
        },
        "canDisable": {
          "description": "Whether the user can disable this field. The user must have permission and this field must not already be disabled.",
          "type": "boolean"
        }
      },
      "description": "The capabilities related to this field when editing the field.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDateLimits": {
      "id": "GoogleAppsDriveLabelsV2betaDateLimits",
      "description": "Limits for date field type.",
      "type": "object",
      "properties": {
        "minValue": {
          "description": "Minimum value for the date field type.",
          "$ref": "GoogleTypeDate"
        },
        "maxValue": {
          "description": "Maximum value for the date field type.",
          "$ref": "GoogleTypeDate"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldTypeResponse": {
      "description": "Response following update to field type.",
      "type": "object",
      "properties": {},
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldTypeResponse"
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceAppliedCapabilities": {
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceAppliedCapabilities",
      "properties": {
        "canSelect": {
          "description": "Whether the user can select this choice on an item.",
          "type": "boolean"
        },
        "canRead": {
          "description": "Whether the user can read related applied metadata on items.",
          "type": "boolean"
        },
        "canSearch": {
          "description": "Whether the user can use this choice in search queries.",
          "type": "boolean"
        }
      },
      "description": "The capabilities related to this choice on applied metadata.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaListLabelPermissionsResponse": {
      "id": "GoogleAppsDriveLabelsV2betaListLabelPermissionsResponse",
      "properties": {
        "labelPermissions": {
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
          },
          "description": "Label permissions.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token of the next page in the response.",
          "type": "string"
        }
      },
      "description": "Response for listing the permissions on a label.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest": {
      "description": "Request to update a choice property.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Required. The choice to update.",
          "type": "string"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string"
        },
        "fieldId": {
          "description": "Required. The selection field to update.",
          "type": "string"
        },
        "properties": {
          "description": "Required. The choice properties to update.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest"
    },
    "GoogleAppsDriveLabelsV2betaLabelPermission": {
      "id": "GoogleAppsDriveLabelsV2betaLabelPermission",
      "description": "The permission that applies to a principal (user, group, audience) on a label.",
      "type": "object",
      "properties": {
        "email": {
          "description": "Specifies the email address for a user or group principal. Not populated for audience principals. User and group permissions may only be inserted using an email address. On update requests, if email address is specified, no principal should be specified.",
          "type": "string"
        },
        "group": {
          "description": "Group resource name.",
          "type": "string"
        },
        "name": {
          "description": "Resource name of this permission.",
          "type": "string"
        },
        "role": {
          "enum": [
            "LABEL_ROLE_UNSPECIFIED",
            "READER",
            "APPLIER",
            "ORGANIZER",
            "EDITOR"
          ],
          "description": "The role the principal should have.",
          "type": "string",
          "enumDescriptions": [
            "Unknown role.",
            "A reader can read the label and associated metadata applied to Drive items.",
            "An applier can write associated metadata on Drive items in which they also have write access to. Implies `READER`.",
            "An organizer can pin this label in shared drives they manage and add new appliers to the label.",
            "Editors can make any update including deleting the label which also deletes the associated Drive item metadata. Implies `APPLIER`."
          ]
        },
        "person": {
          "description": "Person resource name.",
          "type": "string"
        },
        "audience": {
          "description": "Audience to grant a role to. The magic value of `audiences/default` may be used to apply the role to the default audience in the context of the organization that owns the label.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaBadgeColors": {
      "description": "The color derived from BadgeConfig and changed to the closest recommended supported color.",
      "type": "object",
      "properties": {
        "backgroundColor": {
          "readOnly": true,
          "description": "Output only. Badge background that pairs with the foreground.",
          "$ref": "GoogleTypeColor"
        },
        "foregroundColor": {
          "readOnly": true,
          "description": "Output only. Badge foreground that pairs with the background.",
          "$ref": "GoogleTypeColor"
        },
        "soloColor": {
          "description": "Output only. Color that can be used for text without a background.",
          "$ref": "GoogleTypeColor",
          "readOnly": true
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaBadgeColors"
    },
    "GoogleTypeDate": {
      "id": "GoogleTypeDate",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "properties": {
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        },
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        },
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaBatchDeleteLabelPermissionsRequest": {
      "properties": {
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access. If this is set, the `use_admin_access` field in the `DeleteLabelPermissionRequest` messages must either be empty or match this field.",
          "type": "boolean"
        },
        "requests": {
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaDeleteLabelPermissionRequest"
          },
          "description": "Required. The request message specifying the resources to update.",
          "type": "array"
        }
      },
      "description": "Deletes one or more label permissions.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaBatchDeleteLabelPermissionsRequest"
    },
    "GoogleAppsDriveLabelsV2betaListLabelsResponse": {
      "properties": {
        "labels": {
          "description": "Labels.",
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          }
        },
        "nextPageToken": {
          "description": "The token of the next page in the response.",
          "type": "string"
        }
      },
      "description": "Response for listing labels.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaListLabelsResponse"
    },
    "GoogleAppsDriveLabelsV2betaPublishLabelRequest": {
      "id": "GoogleAppsDriveLabelsV2betaPublishLabelRequest",
      "description": "Request to publish a label.",
      "type": "object",
      "properties": {
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "writeControl": {
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins.",
          "$ref": "GoogleAppsDriveLabelsV2betaWriteControl"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableSelectionChoiceRequest": {
      "description": "Request to enable a choice.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Required. Choice to enable.",
          "type": "string"
        },
        "fieldId": {
          "description": "Required. The selection field in which a choice will be enabled.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestEnableSelectionChoiceRequest"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseResponse",
      "properties": {
        "disableSelectionChoice": {
          "description": "Disables a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableSelectionChoiceResponse"
        },
        "updateSelectionChoiceProperties": {
          "description": "Updates a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse"
        },
        "enableField": {
          "description": "Enables field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableFieldResponse"
        },
        "enableSelectionChoice": {
          "description": "Enables a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableSelectionChoiceResponse"
        },
        "updateLabel": {
          "description": "Updates basic properties of a label.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateLabelPropertiesResponse"
        },
        "createField": {
          "description": "Creates a field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateFieldResponse"
        },
        "updateFieldType": {
          "description": "Updates field type and/or type options.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldTypeResponse"
        },
        "disableField": {
          "description": "Disables field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableFieldResponse"
        },
        "updateField": {
          "description": "Updates basic properties of a field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldPropertiesResponse"
        },
        "deleteField": {
          "description": "Deletes a field from the label.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteFieldResponse"
        },
        "deleteSelectionChoice": {
          "description": "Deletes a choice from a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDeleteSelectionChoiceResponse"
        },
        "createSelectionChoice": {
          "description": "Creates a selection list option to add to a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateSelectionChoiceResponse"
        }
      },
      "description": "A single response from an update.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaLabelDisplayHints": {
      "id": "GoogleAppsDriveLabelsV2betaLabelDisplayHints",
      "properties": {
        "disabled": {
          "description": "Whether the label should be shown in the UI as disabled.",
          "type": "boolean"
        },
        "hiddenInSearch": {
          "description": "This label should be hidden in the search menu when searching for Drive items.",
          "type": "boolean"
        },
        "shownInApply": {
          "description": "This label should be shown in the apply menu when applying values to a Drive item.",
          "type": "boolean"
        },
        "priority": {
          "description": "The order to display labels in a list.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "The UI display hints for rendering the label.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaListLimits": {
      "id": "GoogleAppsDriveLabelsV2betaListLimits",
      "description": "Limits for list-variant of a field type.",
      "type": "object",
      "properties": {
        "maxEntries": {
          "description": "Maximum number of values allowed for the field type.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteSelectionChoiceRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteSelectionChoiceRequest",
      "description": "Request to delete a choice.",
      "type": "object",
      "properties": {
        "fieldId": {
          "description": "Required. The selection field from which a choice will be deleted.",
          "type": "string"
        },
        "id": {
          "description": "Required. Choice to delete.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateSelectionChoiceRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestCreateSelectionChoiceRequest",
      "description": "Request to create a selection choice.",
      "type": "object",
      "properties": {
        "fieldId": {
          "description": "Required. The selection field in which a choice will be created.",
          "type": "string"
        },
        "choice": {
          "description": "Required. The choice to create.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoice"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettingsEnabledApp": {
      "properties": {
        "app": {
          "description": "Optional. The name of the app.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Drive",
            "Gmail"
          ],
          "enum": [
            "APP_UNSPECIFIED",
            "DRIVE",
            "GMAIL"
          ]
        }
      },
      "description": "An app where the label can be used.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaLabelEnabledAppSettingsEnabledApp"
    },
    "GoogleAppsDriveLabelsV2betaLabelLockCapabilities": {
      "id": "GoogleAppsDriveLabelsV2betaLabelLockCapabilities",
      "properties": {
        "canViewPolicy": {
          "description": "True if the user is authorized to view the policy.",
          "type": "boolean"
        }
      },
      "description": "A description of a user's capabilities on a label lock.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableFieldResponse": {
      "properties": {},
      "description": "Response following field enable.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseEnableFieldResponse"
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteFieldRequest": {
      "properties": {
        "id": {
          "description": "Required. ID of the field to delete.",
          "type": "string"
        }
      },
      "description": "Request to delete the field.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestDeleteFieldRequest"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateLabelPropertiesRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateLabelPropertiesRequest",
      "description": "Updates basic properties of a label.",
      "type": "object",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `label_properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string"
        },
        "properties": {
          "description": "Required. Label properties to update.",
          "$ref": "GoogleAppsDriveLabelsV2betaLabelProperties"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaBadgeConfig": {
      "properties": {
        "color": {
          "description": "The color of the badge. When not specified, no badge is rendered. The background, foreground, and solo (light and dark mode) colors set here are changed in the Drive UI into the closest recommended supported color.",
          "$ref": "GoogleTypeColor"
        },
        "priorityOverride": {
          "description": "Override the default global priority of this badge. When set to 0, the default priority heuristic is used.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Badge status of the label.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaBadgeConfig"
    },
    "GoogleAppsDriveLabelsV2betaFieldDisplayHints": {
      "description": "UI display hints for rendering a field.",
      "type": "object",
      "properties": {
        "hiddenInSearch": {
          "description": "This field should be hidden in the search menu when searching for Drive items.",
          "type": "boolean"
        },
        "shownInApply": {
          "description": "This field should be shown in the apply menu when applying values to a Drive item.",
          "type": "boolean"
        },
        "required": {
          "description": "Whether the field should be shown as required in the UI.",
          "type": "boolean"
        },
        "disabled": {
          "description": "Whether the field should be shown in the UI as disabled.",
          "type": "boolean"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaFieldDisplayHints"
    },
    "GoogleAppsDriveLabelsV2betaSelectionLimits": {
      "description": "Limits for selection field type.",
      "type": "object",
      "properties": {
        "maxDeletedChoices": {
          "description": "Maximum number of deleted choices.",
          "type": "integer",
          "format": "int32"
        },
        "maxIdLength": {
          "format": "int32",
          "description": "Maximum ID length for a selection option.",
          "type": "integer"
        },
        "maxDisplayNameLength": {
          "description": "Maximum length for display name.",
          "type": "integer",
          "format": "int32"
        },
        "maxChoices": {
          "format": "int32",
          "description": "Maximum number of choices.",
          "type": "integer"
        },
        "listLimits": {
          "description": "Limits for list-variant of a field type.",
          "$ref": "GoogleAppsDriveLabelsV2betaListLimits"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaSelectionLimits"
    },
    "GoogleAppsDriveLabelsV2betaIntegerLimits": {
      "id": "GoogleAppsDriveLabelsV2betaIntegerLimits",
      "properties": {
        "minValue": {
          "format": "int64",
          "description": "Minimum value for an integer field type.",
          "type": "string"
        },
        "maxValue": {
          "description": "Maximum value for an integer field type.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Limits for integer field type.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableFieldResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableFieldResponse",
      "description": "Response following field disable.",
      "type": "object",
      "properties": {}
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldPropertiesRequest": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelRequestUpdateFieldPropertiesRequest",
      "description": "Request to update field properties.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Required. Basic field properties.",
          "$ref": "GoogleAppsDriveLabelsV2betaFieldProperties"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string"
        },
        "id": {
          "description": "Required. The field to update.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableSelectionChoiceResponse": {
      "properties": {},
      "description": "Response following choice disable.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseDisableSelectionChoiceResponse"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateFieldResponse": {
      "properties": {
        "priority": {
          "format": "int32",
          "description": "The priority of the created field. The priority may change from what was specified to assure contiguous priorities between fields (1-n).",
          "type": "integer"
        },
        "id": {
          "description": "The field of the created field. When left blank in a create request, a key will be autogenerated and can be identified here.",
          "type": "string"
        }
      },
      "description": "Response following field create.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateFieldResponse"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateSelectionChoiceResponse": {
      "description": "Response following selection choice create.",
      "type": "object",
      "properties": {
        "fieldId": {
          "description": "The server-generated ID of the field.",
          "type": "string"
        },
        "id": {
          "description": "The server-generated ID of the created choice within the field.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseCreateSelectionChoiceResponse"
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties": {
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceProperties",
      "properties": {
        "displayName": {
          "description": "Required. The display text to show in the UI identifying this field.",
          "type": "string"
        },
        "insertBeforeChoice": {
          "description": "Input only. Insert or move this choice before the indicated choice. If empty, the choice is placed at the end of the list.",
          "type": "string"
        },
        "badgeConfig": {
          "description": "The badge configuration for this choice. When set, the label that owns this choice is considered a \"badged label\".",
          "$ref": "GoogleAppsDriveLabelsV2betaBadgeConfig"
        },
        "description": {
          "description": "The description of this label.",
          "type": "string"
        }
      },
      "description": "Basic properties of the choice.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaEnableLabelRequest": {
      "description": "Request to enable a label.",
      "type": "object",
      "properties": {
        "languageCode": {
          "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language will be used.",
          "type": "string"
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "writeControl": {
          "description": "Provides control over how write requests are executed. Defaults to unset, which means the last write wins.",
          "$ref": "GoogleAppsDriveLabelsV2betaWriteControl"
        }
      },
      "id": "GoogleAppsDriveLabelsV2betaEnableLabelRequest"
    },
    "GoogleAppsDriveLabelsV2betaLabelAppliedCapabilities": {
      "id": "GoogleAppsDriveLabelsV2betaLabelAppliedCapabilities",
      "description": "The capabilities a user has on this label's applied metadata.",
      "type": "object",
      "properties": {
        "canRemove": {
          "description": "Whether the user can remove this label from items.",
          "type": "boolean"
        },
        "canApply": {
          "description": "Whether the user can apply this label to items.",
          "type": "boolean"
        },
        "canRead": {
          "description": "Whether the user can read applied metadata related to this label.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaLongTextLimits": {
      "id": "GoogleAppsDriveLabelsV2betaLongTextLimits",
      "properties": {
        "minLength": {
          "format": "int32",
          "description": "Minimum length allowed for a long text field type.",
          "type": "integer"
        },
        "maxLength": {
          "format": "int32",
          "description": "Maximum length allowed for a long text field type.",
          "type": "integer"
        }
      },
      "description": "Limits for long text field type.",
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2betaWriteControl": {
      "id": "GoogleAppsDriveLabelsV2betaWriteControl",
      "description": "Provides control over how write requests are executed. When not specified, the last write wins.",
      "type": "object",
      "properties": {
        "requiredRevisionId": {
          "description": "The revision ID of the label that the write request will be applied to. If this isn't the latest revision of the label, the request will not be processed and will return a 400 Bad Request error.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceDisplayHints": {
      "properties": {
        "shownInApply": {
          "description": "This option should be shown in the apply menu when applying values to a Drive item.",
          "type": "boolean"
        },
        "badgePriority": {
          "format": "int64",
          "description": "The priority of this badge. Used to compare and sort between multiple badges. A lower number means the badge should be shown first. When a badging configuration is not present, this will be 0. Otherwise, this will be set to `BadgeConfig.priority_override` or the default heuristic which prefers creation date of the label, and field and option priority.",
          "type": "string"
        },
        "disabled": {
          "description": "Whether the option should be shown in the UI as disabled.",
          "type": "boolean"
        },
        "badgeColors": {
          "description": "The colors to use for the badge. Changed to Google Material colors based on the chosen `properties.badge_config.color`.",
          "$ref": "GoogleAppsDriveLabelsV2betaBadgeColors"
        },
        "hiddenInSearch": {
          "description": "This option should be hidden in the search menu when searching for Drive items.",
          "type": "boolean"
        },
        "darkBadgeColors": {
          "description": "The dark-mode color to use for the badge. Changed to Google Material colors based on the chosen `properties.badge_config.color`.",
          "$ref": "GoogleAppsDriveLabelsV2betaBadgeColors"
        }
      },
      "description": "UI display hints for rendering an option.",
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2betaFieldSelectionOptionsChoiceDisplayHints"
    },
    "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldPropertiesResponse": {
      "id": "GoogleAppsDriveLabelsV2betaDeltaUpdateLabelResponseUpdateFieldPropertiesResponse",
      "properties": {
        "priority": {
          "description": "The priority of the updated field. The priority may change from what was specified to assure contiguous priorities between fields (1-n).",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Response following update to field properties.",
      "type": "object"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "rootUrl": "https://drivelabels.googleapis.com/",
  "description": "An API for managing Drive Labels",
  "baseUrl": "https://drivelabels.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.admin.labels": {
          "description": "See, edit, create, and delete all Google Drive labels in your organization, and see your organization's label-related admin policies"
        },
        "https://www.googleapis.com/auth/drive.labels.readonly": {
          "description": "See your Google Drive labels"
        },
        "https://www.googleapis.com/auth/drive.admin.labels.readonly": {
          "description": "See all Google Drive labels and label-related admin policies in your organization"
        },
        "https://www.googleapis.com/auth/drive.labels": {
          "description": "See, edit, create, and delete your Google Drive labels"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/workspace/drive/labels",
  "basePath": "",
  "resources": {
    "users": {
      "methods": {
        "getCapabilities": {
          "flatPath": "v2beta/users/{usersId}/capabilities",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "path": "v2beta/{+name}",
          "description": "Gets the user capabilities.",
          "parameters": {
            "customer": {
              "location": "query",
              "description": "The customer to scope this request to. For example: `customers/abcd1234`. If unset, it will return settings within the current customer.",
              "type": "string"
            },
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^users/[^/]+/capabilities$",
              "description": "Required. The resource name of the user. Only \"users/me/capabilities\" is supported."
            }
          },
          "id": "drivelabels.users.getCapabilities",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaUserCapabilities"
          }
        }
      }
    },
    "labels": {
      "methods": {
        "publish": {
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabel"
          },
          "path": "v2beta/{+name}:publish",
          "description": "Publish all draft changes to the label. Once published, the label may not return to its draft state. For more information, see [Create and publish a label](https://developers.google.com/workspace/drive/labels/guides/create-label). Publishing a label will result in a new published revision. All previous draft revisions will be deleted. Previous published revisions will be kept but are subject to automated deletion as needed. For more information, see [Label lifecycle](https://developers.google.com/workspace/drive/labels/guides/label-lifecycle). Once published, some changes are no longer permitted. Generally, any change that would invalidate or cause new restrictions on existing metadata related to the label will be rejected. For example, the following changes to a label will be rejected after the label is published: * The label cannot be directly deleted. It must be disabled first, then deleted. * `Field.FieldType` cannot be changed. * Changes to field validation options cannot reject something that was previously accepted. * Reducing the maximum entries.",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. Label resource name.",
              "pattern": "^labels/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "id": "drivelabels.labels.publish",
          "flatPath": "v2beta/labels/{labelsId}:publish",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaPublishLabelRequest"
          }
        },
        "updatePermissions": {
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
          },
          "flatPath": "v2beta/labels/{labelsId}/permissions",
          "parameterOrder": [
            "parent"
          ],
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2betaLabelPermission"
          },
          "httpMethod": "PATCH",
          "scopes": [
[...]
