{
  "revision": "20260809",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.activity.readonly": {
          "description": "View the activity record of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.activity": {
          "description": "View and add to the activity record of files in your Google Drive"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "id": "driveactivity:v2",
  "name": "driveactivity",
  "canonicalName": "Drive Activity",
  "discoveryVersion": "v1",
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    }
  },
  "title": "Drive Activity API",
  "description": "Provides a historical view of activity in Google Drive.",
  "mtlsRootUrl": "https://driveactivity.mtls.googleapis.com/",
  "rootUrl": "https://driveactivity.googleapis.com/",
  "version": "v2",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "servicePath": "",
  "documentationLink": "https://developers.google.com/workspace/drive/activity/",
  "ownerName": "Google",
  "basePath": "",
  "kind": "discovery#restDescription",
  "resources": {
    "activity": {
      "methods": {
        "query": {
          "id": "driveactivity.activity.query",
          "path": "v2/activity:query",
          "httpMethod": "POST",
          "response": {
            "$ref": "QueryDriveActivityResponse"
          },
          "parameters": {},
          "description": "Query past activity in Google Drive.",
          "scopes": [
            "https://www.googleapis.com/auth/drive.activity",
            "https://www.googleapis.com/auth/drive.activity.readonly"
          ],
          "parameterOrder": [],
          "flatPath": "v2/activity:query",
          "request": {
            "$ref": "QueryDriveActivityRequest"
          }
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "DeletedUser": {
      "description": "A user whose account has since been deleted.",
      "id": "DeletedUser",
      "properties": {},
      "type": "object"
    },
    "Group": {
      "description": "Information about a group.",
      "id": "Group",
      "properties": {
        "email": {
          "description": "The email address of the group.",
          "type": "string"
        },
        "title": {
          "description": "The title of the group.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Delete": {
      "description": "An object was deleted.",
      "id": "Delete",
      "properties": {
        "type": {
          "description": "The type of delete action taken.",
          "enumDescriptions": [
            "Deletion type is not available.",
            "An object was put into the trash.",
            "An object was deleted permanently."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TRASH",
            "PERMANENT_DELETE"
          ]
        }
      },
      "type": "object"
    },
    "TeamDrive": {
      "deprecated": true,
      "type": "object",
      "id": "TeamDrive",
      "properties": {
        "name": {
          "description": "This field is deprecated; please see `Drive.name` instead.",
          "type": "string"
        },
        "title": {
          "description": "This field is deprecated; please see `Drive.title` instead.",
          "type": "string"
        },
        "root": {
          "description": "This field is deprecated; please see `Drive.root` instead.",
          "$ref": "DriveItem"
        }
      },
      "description": "This item is deprecated; please see `Drive` instead."
    },
    "Selection": {
      "description": "Wrapper for Selection Field value as combined value/display_name pair for selected choice.",
      "type": "object",
      "id": "Selection",
      "properties": {
        "displayName": {
          "description": "Selection value as human-readable display string.",
          "type": "string"
        },
        "value": {
          "description": "Selection value as Field Choice ID.",
          "type": "string"
        }
      }
    },
    "DriveFile": {
      "description": "A Drive item which is a file.",
      "id": "DriveFile",
      "properties": {},
      "type": "object"
    },
    "TextList": {
      "id": "TextList",
      "properties": {
        "values": {
          "description": "Text values.",
          "type": "array",
          "items": {
            "$ref": "Text"
          }
        }
      },
      "type": "object",
      "description": "Wrapper for Text List Field value."
    },
    "UserList": {
      "id": "UserList",
      "properties": {
        "values": {
          "description": "User values.",
          "type": "array",
          "items": {
            "$ref": "SingleUser"
          }
        }
      },
      "type": "object",
      "description": "Wrapper for UserList Field value."
    },
    "DriveItem": {
      "type": "object",
      "id": "DriveItem",
      "properties": {
        "driveFile": {
          "$ref": "DriveFile",
          "description": "The Drive item is a file."
        },
        "name": {
          "description": "The target Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "folder": {
          "description": "This field is deprecated; please use the `driveFolder` field instead.",
          "$ref": "Folder",
          "deprecated": true
        },
        "owner": {
          "description": "Information about the owner of this Drive item.",
          "$ref": "Owner"
        },
        "driveFolder": {
          "description": "The Drive item is a folder. Includes information about the type of folder.",
          "$ref": "DriveFolder"
        },
        "file": {
          "$ref": "File",
          "description": "This field is deprecated; please use the `driveFile` field instead.",
          "deprecated": true
        },
        "title": {
          "description": "The title of the Drive item.",
          "type": "string"
        },
        "mimeType": {
          "description": "The MIME type of the Drive item. See https://developers.google.com/workspace/drive/v3/web/mime-types.",
          "type": "string"
        }
      },
      "description": "A Drive item, such as a file or folder."
    },
    "DriveFolder": {
      "type": "object",
      "id": "DriveFolder",
      "properties": {
        "type": {
          "description": "The type of Drive folder.",
          "enumDescriptions": [
            "The folder type is unknown.",
            "The folder is the root of a user's MyDrive.",
            "The folder is the root of a shared drive.",
            "The folder is a standard, non-root, folder."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "SHARED_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ]
        }
      },
      "description": "A Drive item which is a folder."
    },
    "Drive": {
      "description": "Information about a shared drive.",
      "id": "Drive",
      "properties": {
        "name": {
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name.",
          "type": "string"
        },
        "title": {
          "description": "The title of the shared drive.",
          "type": "string"
        },
        "root": {
          "description": "The root of this shared drive.",
          "$ref": "DriveItem"
        }
      },
      "type": "object"
    },
    "File": {
      "description": "This item is deprecated; please see `DriveFile` instead.",
      "type": "object",
      "id": "File",
      "properties": {},
      "deprecated": true
    },
    "Comment": {
      "description": "A change about comments on an object.",
      "type": "object",
      "id": "Comment",
      "properties": {
        "assignment": {
          "description": "A change on an assignment.",
          "$ref": "Assignment"
        },
        "suggestion": {
          "$ref": "Suggestion",
          "description": "A change on a suggestion."
        },
        "post": {
          "description": "A change on a regular posted comment.",
          "$ref": "Post"
        },
        "mentionedUsers": {
          "type": "array",
          "items": {
            "$ref": "User"
          },
          "description": "Users who are mentioned in this comment."
        }
      }
    },
    "AppliedLabelChange": {
      "description": "Label changes that were made on the Target.",
      "id": "AppliedLabelChange",
      "properties": {
        "changes": {
          "description": "Changes that were made to the Label on the Target.",
          "items": {
            "$ref": "AppliedLabelChangeDetail"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Administrator": {
      "id": "Administrator",
      "properties": {},
      "type": "object",
      "description": "Empty message representing an administrator."
    },
    "DataLeakPreventionChange": {
      "id": "DataLeakPreventionChange",
      "properties": {
        "type": {
          "description": "The type of Data Leak Prevention (DLP) change.",
          "enumDescriptions": [
            "An update to the DLP state that is neither FLAGGED or CLEARED.",
            "Document has been flagged as containing sensitive content.",
            "Document is no longer flagged as containing sensitive content."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "FLAGGED",
            "CLEARED"
          ]
        }
      },
      "type": "object",
      "description": "A change in the object's data leak prevention status."
    },
    "SettingsChange": {
      "description": "Information about settings changes.",
      "id": "SettingsChange",
      "properties": {
        "restrictionChanges": {
          "type": "array",
          "items": {
            "$ref": "RestrictionChange"
          },
          "description": "The set of changes made to restrictions."
        }
      },
      "type": "object"
    },
    "SingleUser": {
      "id": "SingleUser",
      "properties": {
        "value": {
          "description": "User value as email.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Wrapper for User Field value."
    },
    "Create": {
      "description": "An object was created.",
      "id": "Create",
      "properties": {
        "new": {
          "description": "If present, indicates the object was newly created (e.g. as a blank document), not derived from a Drive object or external object.",
          "$ref": "New"
        },
        "copy": {
          "description": "If present, indicates the object was created by copying an existing Drive object.",
          "$ref": "Copy"
        },
        "upload": {
          "description": "If present, indicates the object originated externally and was uploaded to Drive.",
          "$ref": "Upload"
        }
      },
      "type": "object"
    },
    "Permission": {
      "description": "The permission setting of an object.",
      "type": "object",
      "id": "Permission",
      "properties": {
        "group": {
          "$ref": "Group",
          "description": "The group to whom this permission applies."
        },
        "domain": {
          "description": "The domain to whom this permission applies.",
          "$ref": "Domain"
        },
        "anyone": {
          "description": "If set, this permission applies to anyone, even logged out users.",
          "$ref": "Anyone"
        },
        "role": {
          "description": "Indicates the [Google Drive permissions role](https://developers.google.com/workspace/drive/web/manage-sharing#roles). The role determines a user's ability to read, write, and comment on items.",
          "enumDescriptions": [
            "The role is not available.",
            "A role granting full access.",
            "A role granting the ability to manage people and settings.",
            "A role granting the ability to contribute and manage content.",
            "A role granting the ability to contribute content. This role is sometimes also known as \"writer\".",
            "A role granting the ability to view and comment on content.",
            "A role granting the ability to view content. This role is sometimes also known as \"reader\".",
            "A role granting the ability to view content only after it has been published to the web. This role is sometimes also known as \"published reader\". See https://support.google.com/sites/answer/6372880 for more information."
          ],
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "ORGANIZER",
            "FILE_ORGANIZER",
            "EDITOR",
            "COMMENTER",
            "VIEWER",
            "PUBLISHED_VIEWER"
          ]
        },
        "user": {
          "$ref": "User",
          "description": "The user to whom this permission applies."
        },
        "allowDiscovery": {
          "description": "If true, the item can be discovered (e.g. in the user's \"Shared with me\" collection) without needing a link to the item.",
          "type": "boolean"
        }
      }
    },
    "Actor": {
      "description": "The actor of a Drive activity.",
      "id": "Actor",
      "properties": {
        "impersonation": {
          "description": "An account acting on behalf of another.",
          "$ref": "Impersonation"
        },
        "user": {
          "description": "An end user.",
          "$ref": "User"
        },
        "system": {
          "description": "A non-user actor (i.e. system triggered).",
          "$ref": "SystemEvent"
        },
        "anonymous": {
          "description": "An anonymous user.",
          "$ref": "AnonymousUser"
        },
        "administrator": {
          "$ref": "Administrator",
          "description": "An administrator."
        }
      },
      "type": "object"
    },
    "DriveItemReference": {
      "description": "A lightweight reference to a Drive item, such as a file or folder.",
      "type": "object",
      "id": "DriveItemReference",
      "properties": {
        "driveFile": {
          "$ref": "DriveFile",
          "description": "The Drive item is a file."
        },
        "name": {
          "description": "The target Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "folder": {
          "deprecated": true,
          "description": "This field is deprecated; please use the `driveFolder` field instead.",
          "$ref": "Folder"
        },
        "driveFolder": {
          "description": "The Drive item is a folder. Includes information about the type of folder.",
          "$ref": "DriveFolder"
        },
        "file": {
          "deprecated": true,
          "description": "This field is deprecated; please use the `driveFile` field instead.",
          "$ref": "File"
        },
        "title": {
          "description": "The title of the Drive item.",
          "type": "string"
        }
      }
    },
    "KnownUser": {
      "description": "A known user.",
      "id": "KnownUser",
      "properties": {
        "personName": {
          "description": "The identifier for this user that can be used with the People API to get more information. The format is `people/ACCOUNT_ID`. See https://developers.google.com/people/.",
          "type": "string"
        },
        "isCurrentUser": {
          "description": "True if this is the user making the request.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "Legacy": {
      "description": "A strategy that consolidates activities using the grouping rules from the legacy V1 Activity API. Similar actions occurring within a window of time can be grouped across multiple targets (such as moving a set of files at once) or multiple actors (such as several users editing the same item). Grouping rules for this strategy are specific to each type of action.",
      "type": "object",
      "id": "Legacy",
      "properties": {}
    },
    "Integer": {
      "description": "Wrapper for Integer Field value.",
      "id": "Integer",
      "properties": {
        "value": {
          "type": "string",
          "description": "Integer value.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "SystemEvent": {
      "type": "object",
      "id": "SystemEvent",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER_DELETION",
            "TRASH_AUTO_PURGE"
          ],
          "description": "The type of the system event that may triggered activity.",
          "enumDescriptions": [
            "The event type is unspecified.",
            "The event is a consequence of a user account being deleted.",
            "The event is due to the system automatically purging trash."
          ]
        }
      },
      "description": "Event triggered by system operations instead of end users."
    },
    "FileComment": {
      "type": "object",
      "id": "FileComment",
      "properties": {
        "linkToDiscussion": {
          "description": "The link to the discussion thread containing this comment, for example, `https://docs.google.com/DOCUMENT_ID/edit?disco=THREAD_ID`.",
          "type": "string"
        },
        "legacyCommentId": {
          "description": "The comment in the discussion thread. This identifier is an opaque string compatible with the Drive API; see https://developers.google.com/workspace/drive/v3/reference/comments/get",
          "type": "string"
        },
        "legacyDiscussionId": {
          "description": "The discussion thread to which the comment was added. This identifier is an opaque string compatible with the Drive API and references the first comment in a discussion; see https://developers.google.com/workspace/drive/v3/reference/comments/get",
          "type": "string"
        },
        "parent": {
          "$ref": "DriveItem",
          "description": "The Drive item containing this comment."
        }
      },
      "description": "A comment on a file."
    },
    "Copy": {
      "id": "Copy",
      "properties": {
        "originalObject": {
          "description": "The original object.",
          "$ref": "TargetReference"
        }
      },
      "type": "object",
      "description": "An object was created by copying an existing object."
    },
    "PermissionChange": {
      "type": "object",
      "id": "PermissionChange",
      "properties": {
        "addedPermissions": {
          "description": "The set of permissions added by this change.",
          "items": {
            "$ref": "Permission"
          },
          "type": "array"
        },
        "removedPermissions": {
          "items": {
            "$ref": "Permission"
          },
          "type": "array",
          "description": "The set of permissions removed by this change."
        }
      },
      "description": "A change of the permission setting on an item."
    },
    "FieldValue": {
      "type": "object",
      "id": "FieldValue",
      "properties": {
        "integer": {
          "description": "Integer Field value.",
          "$ref": "Integer"
        },
        "text": {
          "$ref": "Text",
          "description": "Text Field value."
        },
        "textList": {
          "$ref": "TextList",
          "description": "Text List Field value."
        },
        "date": {
          "description": "Date Field value.",
          "$ref": "Date"
        },
        "selection": {
          "$ref": "Selection",
          "description": "Selection Field value."
        },
        "user": {
          "$ref": "SingleUser",
          "description": "User Field value."
        },
        "selectionList": {
          "$ref": "SelectionList",
          "description": "Selection List Field value."
        },
        "userList": {
          "description": "User List Field value.",
          "$ref": "UserList"
        }
      },
      "description": "Contains a value of a Field."
    },
    "User": {
      "id": "User",
      "properties": {
        "knownUser": {
          "description": "A known user.",
          "$ref": "KnownUser"
        },
        "deletedUser": {
          "description": "A user whose account has since been deleted.",
          "$ref": "DeletedUser"
        },
        "unknownUser": {
          "description": "A user about whom nothing is currently known.",
          "$ref": "UnknownUser"
        }
      },
      "type": "object",
      "description": "Information about an end user."
    },
    "Post": {
      "type": "object",
      "id": "Post",
      "properties": {
        "subtype": {
          "description": "The sub-type of this event.",
          "enumDescriptions": [
            "Subtype not available.",
            "A post was added.",
            "A post was deleted.",
            "A reply was added.",
            "A reply was deleted.",
            "A posted comment was resolved.",
            "A posted comment was reopened."
          ],
          "type": "string",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED"
          ]
        }
      },
      "description": "A regular posted comment."
    },
    "ActionDetail": {
      "type": "object",
      "id": "ActionDetail",
      "properties": {
        "settingsChange": {
          "description": "Settings were changed.",
          "$ref": "SettingsChange"
        },
        "dlpChange": {
          "description": "A change happened in data leak prevention status.",
          "$ref": "DataLeakPreventionChange"
        },
        "delete": {
          "$ref": "Delete",
          "description": "An object was deleted."
        },
        "comment": {
          "$ref": "Comment",
          "description": "A change about comments was made."
        },
        "reference": {
          "description": "An object was referenced in an application outside of Drive/Docs.",
          "$ref": "ApplicationReference"
        },
        "create": {
          "$ref": "Create",
          "description": "An object was created."
        },
        "move": {
          "description": "An object was moved.",
          "$ref": "Move"
        },
        "edit": {
          "description": "An object was edited.",
          "$ref": "Edit"
        },
        "appliedLabelChange": {
          "$ref": "AppliedLabelChange",
          "description": "Label was changed."
        },
        "rename": {
          "description": "An object was renamed.",
          "$ref": "Rename"
        },
        "restore": {
          "description": "A deleted object was restored.",
          "$ref": "Restore"
        },
        "permissionChange": {
          "$ref": "PermissionChange",
          "description": "The permission on an object was changed."
        }
      },
      "description": "Data describing the type and additional information of an action."
    },
    "ConsolidationStrategy": {
      "id": "ConsolidationStrategy",
      "properties": {
        "legacy": {
          "description": "The individual activities are consolidated using the legacy strategy.",
          "$ref": "Legacy"
        },
        "none": {
          "$ref": "NoConsolidation",
          "description": "The individual activities are not consolidated."
        }
      },
      "type": "object",
      "description": "How the individual activities are consolidated. If a set of activities is related they can be consolidated into one combined activity, such as one actor performing the same action on multiple targets, or multiple actors performing the same action on a single target. The strategy defines the rules for which activities are related."
    },
    "Upload": {
      "type": "object",
      "id": "Upload",
      "properties": {},
      "description": "An object was uploaded into Drive."
    },
    "QueryDriveActivityResponse": {
      "id": "QueryDriveActivityResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "activities": {
          "description": "List of activity requested.",
          "type": "array",
          "items": {
            "$ref": "DriveActivity"
          }
        }
      },
      "type": "object",
      "description": "Response message for querying Drive activity."
    },
    "DriveReference": {
      "description": "A lightweight reference to a shared drive.",
      "type": "object",
      "id": "DriveReference",
      "properties": {
        "name": {
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name.",
          "type": "string"
        },
        "title": {
          "description": "The title of the shared drive.",
          "type": "string"
        }
      }
    },
    "TeamDriveReference": {
      "type": "object",
      "id": "TeamDriveReference",
      "properties": {
        "name": {
          "description": "This field is deprecated; please see `DriveReference.name` instead.",
          "type": "string"
        },
        "title": {
          "description": "This field is deprecated; please see `DriveReference.title` instead.",
          "type": "string"
        }
      },
      "description": "This item is deprecated; please see `DriveReference` instead.",
      "deprecated": true
    },
    "Folder": {
      "deprecated": true,
      "id": "Folder",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "TEAM_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ],
          "description": "This field is deprecated; please see `DriveFolder.type` instead.",
          "enumDescriptions": [
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead."
          ]
        }
      },
      "type": "object",
      "description": "This item is deprecated; please see `DriveFolder` instead."
    },
    "Suggestion": {
      "description": "A suggestion.",
      "type": "object",
      "id": "Suggestion",
      "properties": {
        "subtype": {
          "type": "string",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "ACCEPTED",
            "REJECTED",
            "ACCEPT_DELETED",
            "REJECT_DELETED"
          ],
          "description": "The sub-type of this event.",
          "enumDescriptions": [
            "Subtype not available.",
            "A suggestion was added.",
            "A suggestion was deleted.",
            "A suggestion reply was added.",
            "A suggestion reply was deleted.",
            "A suggestion was accepted.",
            "A suggestion was rejected.",
            "An accepted suggestion was deleted.",
            "A rejected suggestion was deleted."
          ]
        }
      }
    },
    "Action": {
      "type": "object",
      "id": "Action",
      "properties": {
        "actor": {
          "description": "The actor responsible for this action (or empty if all actors are responsible).",
          "$ref": "Actor"
        },
        "detail": {
          "description": "The type and detailed information about the action.",
          "$ref": "ActionDetail"
        },
        "timeRange": {
          "description": "The action occurred over this time range.",
          "$ref": "TimeRange"
        },
        "timestamp": {
          "description": "The action occurred at this specific time.",
          "format": "google-datetime",
          "type": "string"
        },
        "target": {
          "description": "The target this action affects (or empty if affecting all targets). This represents the state of the target immediately after this action occurred.",
          "$ref": "Target"
        }
      },
      "description": "Information about the action."
    },
    "AppliedLabelChangeDetail": {
      "id": "AppliedLabelChangeDetail",
      "properties": {
        "label": {
          "description": "The Label name representing the Label that changed. This name always contains the revision of the Label that was used when this Action occurred. The format is `labels/id@revision`.",
          "type": "string"
        },
        "types": {
          "items": {
            "type": "string",
            "enum": [
              "TYPE_UNSPECIFIED",
              "LABEL_ADDED",
              "LABEL_REMOVED",
              "LABEL_FIELD_VALUE_CHANGED",
              "LABEL_APPLIED_BY_ITEM_CREATE"
            ],
            "enumDescriptions": [
              "The type of change to this Label is not available.",
              "The identified Label was added to the Target.",
              "The identified Label was removed from the Target.",
              "Field values were changed on the Target.",
              "The Label was applied as a side-effect of Drive item creation."
            ]
          },
          "type": "array",
          "description": "The types of changes made to the Label on the Target."
        },
        "title": {
          "description": "The human-readable title of the label that changed.",
          "type": "string"
        },
        "fieldChanges": {
          "type": "array",
          "items": {
            "$ref": "FieldValueChange"
          },
          "description": "Field Changes. Only present if `types` contains `LABEL_FIELD_VALUE_CHANGED`."
        }
      },
      "type": "object",
      "description": "A change made to a Label on the Target."
    },
    "Text": {
      "description": "Wrapper for Text Field value.",
      "type": "object",
      "id": "Text",
      "properties": {
        "value": {
          "description": "Value of Text Field.",
          "type": "string"
        }
      }
    },
    "Target": {
      "type": "object",
      "id": "Target",
      "properties": {
        "fileComment": {
          "$ref": "FileComment",
          "description": "The target is a comment on a Drive file."
        },
        "driveItem": {
          "$ref": "DriveItem",
          "description": "The target is a Drive item."
        },
        "drive": {
          "description": "The target is a shared drive.",
          "$ref": "Drive"
        },
        "teamDrive": {
          "$ref": "TeamDrive",
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true
        }
      },
      "description": "Information about the target of activity. For more information on how activity history is shared with users, see [Activity history visibility](https://developers.google.com/workspace/drive/activity/v2#activityhistory)."
    },
    "QueryDriveActivityRequest": {
      "description": "The request message for querying Drive activity.",
      "type": "object",
      "id": "QueryDriveActivityRequest",
      "properties": {
        "pageToken": {
          "description": "The token identifies which page of results to return. Set this to the next_page_token value returned from a previous query to obtain the following page of results. If not set, the first page of results is returned.",
          "type": "string"
        },
        "pageSize": {
          "description": "The minimum number of activities desired in the response; the server attempts to return at least this quantity. The server may also return fewer activities if it has a partial response ready before the request times out. If not set, a default value is used.",
          "format": "int32",
          "type": "integer"
        },
        "consolidationStrategy": {
          "$ref": "ConsolidationStrategy",
          "description": "Details on how to consolidate related actions that make up the activity. If not set, then related actions aren't consolidated."
        },
        "itemName": {
          "description": "Return activities for this Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "ancestorName": {
          "description": "Return activities for this Drive folder, plus all children and descendants. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "filter": {
          "description": "The filtering for items returned from this query request. The format of the filter string is a sequence of expressions, joined by an optional \"AND\", where each expression is of the form \"field operator value\". Supported fields: - `time`: Uses numerical operators on date values either in terms of milliseconds since Jan 1, 1970 or in RFC 3339 format. Examples: - `time > 1452409200000 AND time <= 1492812924310` - `time >= \"2016-01-10T01:02:03-05:00\"` - `detail.action_detail_case`: Uses the \"has\" operator (:) and either a singular value or a list of allowed action types enclosed in parentheses, separated by a space. To exclude a result from the response, prepend a hyphen (`-`) to the beginning of the filter string. Examples: - `detail.action_detail_case:RENAME` - `detail.action_detail_case:(CREATE RESTORE)` - `-detail.action_detail_case:MOVE` ",
          "type": "string"
        }
      }
    },
    "TargetReference": {
      "id": "TargetReference",
      "properties": {
        "driveItem": {
          "description": "The target is a Drive item.",
          "$ref": "DriveItemReference"
        },
        "drive": {
          "description": "The target is a shared drive.",
          "$ref": "DriveReference"
        },
        "teamDrive": {
          "description": "This field is deprecated; please use the `drive` field instead.",
          "$ref": "TeamDriveReference",
          "deprecated": true
        }
      },
      "type": "object",
      "description": "A lightweight reference to the target of activity."
    },
    "ApplicationReference": {
      "id": "ApplicationReference",
      "properties": {
        "type": {
          "description": "The reference type corresponding to this event.",
          "enumDescriptions": [
            "The type is not available.",
            "The links of one or more Drive items were posted.",
            "Comments were made regarding a Drive item."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED_REFERENCE_TYPE",
            "LINK",
            "DISCUSS"
          ]
        }
      },
      "type": "object",
      "description": "Activity in applications other than Drive."
    },
    "TimeRange": {
      "id": "TimeRange",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "The start of the time range.",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "description": "The end of the time range.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Information about time ranges."
    },
    "Anyone": {
      "type": "object",
      "id": "Anyone",
      "properties": {},
      "description": "Represents any user (including a logged out user)."
    },
    "Domain": {
      "description": "Information about a domain.",
      "id": "Domain",
      "properties": {
        "name": {
          "description": "The name of the domain, e.g. `google.com`.",
          "type": "string"
        },
        "legacyId": {
          "description": "An opaque string used to identify this domain.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Impersonation": {
      "type": "object",
      "id": "Impersonation",
      "properties": {
        "impersonatedUser": {
          "$ref": "User",
          "description": "The impersonated user."
        }
      },
      "description": "Information about an impersonation, where an admin acts on behalf of an end user. Information about the acting admin is not currently available."
    },
    "AnonymousUser": {
      "id": "AnonymousUser",
      "properties": {},
      "type": "object",
      "description": "Empty message representing an anonymous user or indicating the authenticated user should be anonymized."
    },
    "UnknownUser": {
      "description": "A user about whom nothing is currently known.",
      "type": "object",
      "id": "UnknownUser",
      "properties": {}
    },
    "Edit": {
      "type": "object",
      "id": "Edit",
      "properties": {},
      "description": "An empty message indicating an object was edited."
    },
    "Date": {
      "description": "Wrapper for Date Field value.",
      "id": "Date",
      "properties": {
        "value": {
          "description": "Date value.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Owner": {
      "description": "Information about the owner of a Drive item.",
      "type": "object",
      "id": "Owner",
      "properties": {
        "user": {
          "description": "The user that owns the Drive item.",
          "$ref": "User"
        },
        "domain": {
          "description": "The domain of the Drive item owner.",
          "$ref": "Domain"
        },
        "drive": {
          "description": "The drive that owns the item.",
          "$ref": "DriveReference"
        },
        "teamDrive": {
          "deprecated": true,
          "description": "This field is deprecated; please use the `drive` field instead.",
          "$ref": "TeamDriveReference"
        }
      }
    },
    "Assignment": {
      "id": "Assignment",
      "properties": {
        "subtype": {
          "description": "The sub-type of this event.",
          "enumDescriptions": [
            "Subtype not available.",
            "An assignment was added.",
            "An assignment was deleted.",
            "An assignment reply was added.",
            "An assignment reply was deleted.",
            "An assignment was resolved.",
            "A resolved assignment was reopened.",
            "An assignment was reassigned."
          ],
          "type": "string",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED",
            "REASSIGNED"
          ]
        },
        "assignedUser": {
          "description": "The user to whom the comment was assigned.",
          "$ref": "User"
        }
      },
      "type": "object",
      "description": "A comment with an assignment."
    },
    "RestrictionChange": {
      "type": "object",
      "id": "RestrictionChange",
      "properties": {
        "feature": {
          "description": "The feature which had a change in restriction policy.",
          "enumDescriptions": [
            "The feature which changed restriction settings was not available.",
            "When restricted, this prevents items from being shared outside the domain.",
            "When restricted, this prevents direct sharing of individual items.",
            "Deprecated: Use READERS_CAN_DOWNLOAD instead.",
            "When restricted, this prevents use of Drive File Stream.",
            "When restricted, this limits sharing of folders to managers only.",
            "When restricted, this prevents actions like copy, download, and print for readers. Replaces ITEM_DUPLICATION.",
            "When restricted, this prevents actions like copy, download, and print for writers."
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "FEATURE_UNSPECIFIED",
            "SHARING_OUTSIDE_DOMAIN",
            "DIRECT_SHARING",
            "ITEM_DUPLICATION",
            "DRIVE_FILE_STREAM",
            "FILE_ORGANIZER_CAN_SHARE_FOLDERS",
            "READERS_CAN_DOWNLOAD",
            "WRITERS_CAN_DOWNLOAD"
          ]
        },
        "newRestriction": {
          "description": "The restriction in place after the change.",
          "enumDescriptions": [
            "The type of restriction is not available.",
            "The feature is available without restriction.",
            "The use of this feature is fully restricted."
          ],
          "type": "string",
          "enum": [
            "RESTRICTION_UNSPECIFIED",
            "UNRESTRICTED",
            "FULLY_RESTRICTED"
          ]
        }
      },
      "description": "Information about restriction policy changes to a feature."
    },
    "New": {
      "description": "An object was created from scratch.",
      "id": "New",
      "properties": {},
      "type": "object"
    },
    "SelectionList": {
      "type": "object",
      "id": "SelectionList",
      "properties": {
        "values": {
          "items": {
            "$ref": "Selection"
          },
          "type": "array",
          "description": "Selection values."
        }
      },
      "description": "Wrapper for SelectionList Field value."
    },
    "NoConsolidation": {
      "type": "object",
      "id": "NoConsolidation",
      "properties": {},
      "description": "A strategy that does no consolidation of individual activities."
    },
    "FieldValueChange": {
      "type": "object",
      "id": "FieldValueChange",
      "properties": {
        "newValue": {
          "description": "The value that is now set on the field. If not present, the field was cleared. At least one of {old_value|new_value} is always set.",
          "$ref": "FieldValue"
        },
        "fieldId": {
          "description": "The ID of this field. Field IDs are unique within a Label.",
          "type": "string"
        },
        "displayName": {
          "description": "The human-readable display name for this field.",
          "type": "string"
        },
        "oldValue": {
          "$ref": "FieldValue",
          "description": "The value that was previously set on the field. If not present, the field was newly set. At least one of {old_value|new_value} is always set."
        }
      },
      "description": "Change to a Field value."
    },
    "Move": {
      "description": "An object was moved.",
      "id": "Move",
      "properties": {
        "addedParents": {
          "description": "The added parent object(s).",
          "type": "array",
          "items": {
            "$ref": "TargetReference"
          }
        },
        "removedParents": {
          "description": "The removed parent object(s).",
          "type": "array",
          "items": {
            "$ref": "TargetReference"
          }
        }
      },
      "type": "object"
    },
    "Restore": {
      "type": "object",
      "id": "Restore",
      "properties": {
        "type": {
          "description": "The type of restore action taken.",
          "enumDescriptions": [
            "The type is not available.",
            "An object was restored from the trash."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "UNTRASH"
          ]
        }
      },
      "description": "A deleted object was restored."
    },
    "DriveActivity": {
      "type": "object",
      "id": "DriveActivity",
      "properties": {
        "primaryActionDetail": {
          "description": "Key information about the primary action for this activity. This is either representative, or the most important, of all actions in the activity, according to the ConsolidationStrategy in the request.",
          "$ref": "ActionDetail"
        },
        "actions": {
          "description": "Details on all actions in this activity.",
          "items": {
            "$ref": "Action"
          },
          "type": "array"
        },
        "actors": {
          "description": "All actor(s) responsible for the activity.",
          "items": {
            "$ref": "Actor"
          },
          "type": "array"
        },
        "timestamp": {
          "description": "The activity occurred at this specific time.",
          "format": "google-datetime",
          "type": "string"
        },
        "targets": {
          "items": {
            "$ref": "Target"
          },
          "type": "array",
          "description": "All Google Drive objects this activity is about (e.g. file, folder, drive). This represents the state of the target immediately after the actions occurred."
        },
        "timeRange": {
          "description": "The activity occurred over this time range.",
          "$ref": "TimeRange"
        }
      },
      "description": "A single Drive activity comprising one or more Actions by one or more Actors on one or more Targets. Some Action groupings occur spontaneously, such as moving an item into a shared folder triggering a permission change. Other groupings of related Actions, such as multiple Actors editing one item or moving multiple files into a new folder, are controlled by the selection of a ConsolidationStrategy in the QueryDriveActivityRequest."
    },
    "Rename": {
      "description": "An object was renamed.",
      "id": "Rename",
      "properties": {
        "newTitle": {
          "description": "The new title of the drive object.",
          "type": "string"
        },
        "oldTitle": {
          "description": "The previous title of the drive object.",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "version_module": true,
  "protocol": "rest",
  "baseUrl": "https://driveactivity.googleapis.com/"
}