{
  "ownerName": "Google",
  "rootUrl": "https://driveactivity.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://driveactivity.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "Provides a historical view of activity in Google Drive.",
  "ownerDomain": "google.com",
  "revision": "20260707",
  "version": "v2",
  "documentationLink": "https://developers.google.com/workspace/drive/activity/",
  "name": "driveactivity",
  "kind": "discovery#restDescription",
  "title": "Drive Activity API",
  "servicePath": "",
  "discoveryVersion": "v1",
  "id": "driveactivity:v2",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.activity": {
          "description": "View and add to the activity record of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.activity.readonly": {
          "description": "View the activity record of files in your Google Drive"
        }
      }
    }
  },
  "baseUrl": "https://driveactivity.googleapis.com/",
  "basePath": "",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "resources": {
    "activity": {
      "methods": {
        "query": {
          "parameters": {},
          "request": {
            "$ref": "QueryDriveActivityRequest"
          },
          "response": {
            "$ref": "QueryDriveActivityResponse"
          },
          "flatPath": "v2/activity:query",
          "httpMethod": "POST",
          "parameterOrder": [],
          "path": "v2/activity:query",
          "scopes": [
            "https://www.googleapis.com/auth/drive.activity",
            "https://www.googleapis.com/auth/drive.activity.readonly"
          ],
          "description": "Query past activity in Google Drive.",
          "id": "driveactivity.activity.query"
        }
      }
    }
  },
  "protocol": "rest",
  "canonicalName": "Drive Activity",
  "schemas": {
    "Actor": {
      "type": "object",
      "properties": {
        "user": {
          "$ref": "User",
          "description": "An end user."
        },
        "system": {
          "$ref": "SystemEvent",
          "description": "A non-user actor (i.e. system triggered)."
        },
        "impersonation": {
          "$ref": "Impersonation",
          "description": "An account acting on behalf of another."
        },
        "administrator": {
          "$ref": "Administrator",
          "description": "An administrator."
        },
        "anonymous": {
          "$ref": "AnonymousUser",
          "description": "An anonymous user."
        }
      },
      "id": "Actor",
      "description": "The actor of a Drive activity."
    },
    "Comment": {
      "description": "A change about comments on an object.",
      "id": "Comment",
      "properties": {
        "suggestion": {
          "$ref": "Suggestion",
          "description": "A change on a suggestion."
        },
        "post": {
          "$ref": "Post",
          "description": "A change on a regular posted comment."
        },
        "assignment": {
          "description": "A change on an assignment.",
          "$ref": "Assignment"
        },
        "mentionedUsers": {
          "description": "Users who are mentioned in this comment.",
          "type": "array",
          "items": {
            "$ref": "User"
          }
        }
      },
      "type": "object"
    },
    "Legacy": {
      "properties": {},
      "type": "object",
      "description": "A strategy that consolidates activities using the grouping rules from the legacy V1 Activity API. Similar actions occurring within a window of time can be grouped across multiple targets (such as moving a set of files at once) or multiple actors (such as several users editing the same item). Grouping rules for this strategy are specific to each type of action.",
      "id": "Legacy"
    },
    "Edit": {
      "type": "object",
      "properties": {},
      "id": "Edit",
      "description": "An empty message indicating an object was edited."
    },
    "SystemEvent": {
      "id": "SystemEvent",
      "description": "Event triggered by system operations instead of end users.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of the system event that may triggered activity.",
          "enumDescriptions": [
            "The event type is unspecified.",
            "The event is a consequence of a user account being deleted.",
            "The event is due to the system automatically purging trash."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER_DELETION",
            "TRASH_AUTO_PURGE"
          ]
        }
      }
    },
    "SingleUser": {
      "id": "SingleUser",
      "description": "Wrapper for User Field value.",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "User value as email."
        }
      }
    },
    "Anyone": {
      "type": "object",
      "properties": {},
      "id": "Anyone",
      "description": "Represents any user (including a logged out user)."
    },
    "Target": {
      "type": "object",
      "properties": {
        "drive": {
          "description": "The target is a shared drive.",
          "$ref": "Drive"
        },
        "teamDrive": {
          "deprecated": true,
          "$ref": "TeamDrive",
          "description": "This field is deprecated; please use the `drive` field instead."
        },
        "driveItem": {
          "$ref": "DriveItem",
          "description": "The target is a Drive item."
        },
        "fileComment": {
          "description": "The target is a comment on a Drive file.",
          "$ref": "FileComment"
        }
      },
      "id": "Target",
      "description": "Information about the target of activity. For more information on how activity history is shared with users, see [Activity history visibility](https://developers.google.com/workspace/drive/activity/v2#activityhistory)."
    },
    "FieldValueChange": {
      "description": "Change to a Field value.",
      "id": "FieldValueChange",
      "properties": {
        "fieldId": {
          "description": "The ID of this field. Field IDs are unique within a Label.",
          "type": "string"
        },
        "oldValue": {
          "$ref": "FieldValue",
          "description": "The value that was previously set on the field. If not present, the field was newly set. At least one of {old_value|new_value} is always set."
        },
        "newValue": {
          "description": "The value that is now set on the field. If not present, the field was cleared. At least one of {old_value|new_value} is always set.",
          "$ref": "FieldValue"
        },
        "displayName": {
          "description": "The human-readable display name for this field.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DriveReference": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the shared drive."
        }
      },
      "id": "DriveReference",
      "description": "A lightweight reference to a shared drive."
    },
    "Rename": {
      "type": "object",
      "properties": {
        "oldTitle": {
          "description": "The previous title of the drive object.",
          "type": "string"
        },
        "newTitle": {
          "description": "The new title of the drive object.",
          "type": "string"
        }
      },
      "id": "Rename",
      "description": "An object was renamed."
    },
    "DeletedUser": {
      "id": "DeletedUser",
      "description": "A user whose account has since been deleted.",
      "type": "object",
      "properties": {}
    },
    "DriveItem": {
      "id": "DriveItem",
      "description": "A Drive item, such as a file or folder.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The target Drive item. The format is `items/ITEM_ID`."
        },
        "folder": {
          "deprecated": true,
          "$ref": "Folder",
          "description": "This field is deprecated; please use the `driveFolder` field instead."
        },
        "driveFolder": {
          "description": "The Drive item is a folder. Includes information about the type of folder.",
          "$ref": "DriveFolder"
        },
        "file": {
          "description": "This field is deprecated; please use the `driveFile` field instead.",
          "$ref": "File",
          "deprecated": true
        },
        "mimeType": {
          "description": "The MIME type of the Drive item. See https://developers.google.com/workspace/drive/v3/web/mime-types.",
          "type": "string"
        },
        "owner": {
          "$ref": "Owner",
          "description": "Information about the owner of this Drive item."
        },
        "title": {
          "type": "string",
          "description": "The title of the Drive item."
        },
        "driveFile": {
          "description": "The Drive item is a file.",
          "$ref": "DriveFile"
        }
      }
    },
    "Suggestion": {
      "id": "Suggestion",
      "description": "A suggestion.",
      "type": "object",
      "properties": {
        "subtype": {
          "description": "The sub-type of this event.",
          "enumDescriptions": [
            "Subtype not available.",
            "A suggestion was added.",
            "A suggestion was deleted.",
            "A suggestion reply was added.",
            "A suggestion reply was deleted.",
            "A suggestion was accepted.",
            "A suggestion was rejected.",
            "An accepted suggestion was deleted.",
            "A rejected suggestion was deleted."
          ],
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "ACCEPTED",
            "REJECTED",
            "ACCEPT_DELETED",
            "REJECT_DELETED"
          ],
          "type": "string"
        }
      }
    },
    "DataLeakPreventionChange": {
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "FLAGGED",
            "CLEARED"
          ],
          "description": "The type of Data Leak Prevention (DLP) change.",
          "enumDescriptions": [
            "An update to the DLP state that is neither FLAGGED or CLEARED.",
            "Document has been flagged as containing sensitive content.",
            "Document is no longer flagged as containing sensitive content."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "A change in the object's data leak prevention status.",
      "id": "DataLeakPreventionChange"
    },
    "RestrictionChange": {
      "id": "RestrictionChange",
      "description": "Information about restriction policy changes to a feature.",
      "type": "object",
      "properties": {
        "feature": {
          "type": "string",
          "description": "The feature which had a change in restriction policy.",
          "enumDescriptions": [
            "The feature which changed restriction settings was not available.",
            "When restricted, this prevents items from being shared outside the domain.",
            "When restricted, this prevents direct sharing of individual items.",
            "Deprecated: Use READERS_CAN_DOWNLOAD instead.",
            "When restricted, this prevents use of Drive File Stream.",
            "When restricted, this limits sharing of folders to managers only.",
            "When restricted, this prevents actions like copy, download, and print for readers. Replaces ITEM_DUPLICATION.",
            "When restricted, this prevents actions like copy, download, and print for writers."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "FEATURE_UNSPECIFIED",
            "SHARING_OUTSIDE_DOMAIN",
            "DIRECT_SHARING",
            "ITEM_DUPLICATION",
            "DRIVE_FILE_STREAM",
            "FILE_ORGANIZER_CAN_SHARE_FOLDERS",
            "READERS_CAN_DOWNLOAD",
            "WRITERS_CAN_DOWNLOAD"
          ]
        },
        "newRestriction": {
          "enum": [
            "RESTRICTION_UNSPECIFIED",
            "UNRESTRICTED",
            "FULLY_RESTRICTED"
          ],
          "description": "The restriction in place after the change.",
          "enumDescriptions": [
            "The type of restriction is not available.",
            "The feature is available without restriction.",
            "The use of this feature is fully restricted."
          ],
          "type": "string"
        }
      }
    },
    "UnknownUser": {
      "type": "object",
      "properties": {},
      "id": "UnknownUser",
      "description": "A user about whom nothing is currently known."
    },
    "DriveActivity": {
      "id": "DriveActivity",
      "description": "A single Drive activity comprising one or more Actions by one or more Actors on one or more Targets. Some Action groupings occur spontaneously, such as moving an item into a shared folder triggering a permission change. Other groupings of related Actions, such as multiple Actors editing one item or moving multiple files into a new folder, are controlled by the selection of a ConsolidationStrategy in the QueryDriveActivityRequest.",
      "type": "object",
      "properties": {
        "actors": {
          "description": "All actor(s) responsible for the activity.",
          "type": "array",
          "items": {
            "$ref": "Actor"
          }
        },
        "targets": {
          "description": "All Google Drive objects this activity is about (e.g. file, folder, drive). This represents the state of the target immediately after the actions occurred.",
          "type": "array",
          "items": {
            "$ref": "Target"
          }
        },
        "timeRange": {
          "$ref": "TimeRange",
          "description": "The activity occurred over this time range."
        },
        "primaryActionDetail": {
          "$ref": "ActionDetail",
          "description": "Key information about the primary action for this activity. This is either representative, or the most important, of all actions in the activity, according to the ConsolidationStrategy in the request."
        },
        "timestamp": {
          "description": "The activity occurred at this specific time.",
          "format": "google-datetime",
          "type": "string"
        },
        "actions": {
          "description": "Details on all actions in this activity.",
          "type": "array",
          "items": {
            "$ref": "Action"
          }
        }
      }
    },
    "Action": {
      "type": "object",
      "properties": {
        "detail": {
          "description": "The type and detailed information about the action.",
          "$ref": "ActionDetail"
        },
        "target": {
          "description": "The target this action affects (or empty if affecting all targets). This represents the state of the target immediately after this action occurred.",
          "$ref": "Target"
        },
        "timestamp": {
          "description": "The action occurred at this specific time.",
          "format": "google-datetime",
          "type": "string"
        },
        "timeRange": {
          "description": "The action occurred over this time range.",
          "$ref": "TimeRange"
        },
        "actor": {
          "description": "The actor responsible for this action (or empty if all actors are responsible).",
          "$ref": "Actor"
        }
      },
      "id": "Action",
      "description": "Information about the action."
    },
    "Owner": {
      "properties": {
        "domain": {
          "description": "The domain of the Drive item owner.",
          "$ref": "Domain"
        },
        "user": {
          "description": "The user that owns the Drive item.",
          "$ref": "User"
        },
        "drive": {
          "$ref": "DriveReference",
          "description": "The drive that owns the item."
        },
        "teamDrive": {
          "description": "This field is deprecated; please use the `drive` field instead.",
          "$ref": "TeamDriveReference",
          "deprecated": true
        }
      },
      "type": "object",
      "description": "Information about the owner of a Drive item.",
      "id": "Owner"
    },
    "DriveItemReference": {
      "description": "A lightweight reference to a Drive item, such as a file or folder.",
      "id": "DriveItemReference",
      "properties": {
        "name": {
          "type": "string",
          "description": "The target Drive item. The format is `items/ITEM_ID`."
        },
        "file": {
          "description": "This field is deprecated; please use the `driveFile` field instead.",
          "$ref": "File",
          "deprecated": true
        },
        "folder": {
          "$ref": "Folder",
          "deprecated": true,
          "description": "This field is deprecated; please use the `driveFolder` field instead."
        },
        "driveFolder": {
          "description": "The Drive item is a folder. Includes information about the type of folder.",
          "$ref": "DriveFolder"
        },
        "title": {
          "type": "string",
          "description": "The title of the Drive item."
        },
        "driveFile": {
          "$ref": "DriveFile",
          "description": "The Drive item is a file."
        }
      },
      "type": "object"
    },
    "Drive": {
      "properties": {
        "title": {
          "description": "The title of the shared drive.",
          "type": "string"
        },
        "root": {
          "$ref": "DriveItem",
          "description": "The root of this shared drive."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name."
        }
      },
      "type": "object",
      "description": "Information about a shared drive.",
      "id": "Drive"
    },
    "DriveFolder": {
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of Drive folder.",
          "enumDescriptions": [
            "The folder type is unknown.",
            "The folder is the root of a user's MyDrive.",
            "The folder is the root of a shared drive.",
            "The folder is a standard, non-root, folder."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "SHARED_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ]
        }
      },
      "type": "object",
      "description": "A Drive item which is a folder.",
      "id": "DriveFolder"
    },
    "Text": {
      "description": "Wrapper for Text Field value.",
      "id": "Text",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value of Text Field."
        }
      },
      "type": "object"
    },
    "AppliedLabelChange": {
      "id": "AppliedLabelChange",
      "description": "Label changes that were made on the Target.",
      "type": "object",
      "properties": {
        "changes": {
          "description": "Changes that were made to the Label on the Target.",
          "type": "array",
          "items": {
            "$ref": "AppliedLabelChangeDetail"
          }
        }
      }
    },
    "Post": {
      "type": "object",
      "properties": {
        "subtype": {
          "type": "string",
          "description": "The sub-type of this event.",
          "enumDescriptions": [
            "Subtype not available.",
            "A post was added.",
            "A post was deleted.",
            "A reply was added.",
            "A reply was deleted.",
            "A posted comment was resolved.",
            "A posted comment was reopened."
          ],
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED"
          ]
        }
      },
      "id": "Post",
      "description": "A regular posted comment."
    },
    "AppliedLabelChangeDetail": {
      "properties": {
        "label": {
          "type": "string",
          "description": "The Label name representing the Label that changed. This name always contains the revision of the Label that was used when this Action occurred. The format is `labels/id@revision`."
        },
        "fieldChanges": {
          "description": "Field Changes. Only present if `types` contains `LABEL_FIELD_VALUE_CHANGED`.",
          "type": "array",
          "items": {
            "$ref": "FieldValueChange"
          }
        },
        "title": {
          "description": "The human-readable title of the label that changed.",
          "type": "string"
        },
        "types": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The type of change to this Label is not available.",
              "The identified Label was added to the Target.",
              "The identified Label was removed from the Target.",
              "Field values were changed on the Target.",
              "The Label was applied as a side-effect of Drive item creation."
            ],
            "enum": [
              "TYPE_UNSPECIFIED",
              "LABEL_ADDED",
              "LABEL_REMOVED",
              "LABEL_FIELD_VALUE_CHANGED",
              "LABEL_APPLIED_BY_ITEM_CREATE"
            ]
          },
          "description": "The types of changes made to the Label on the Target."
        }
      },
      "type": "object",
      "description": "A change made to a Label on the Target.",
      "id": "AppliedLabelChangeDetail"
    },
    "Domain": {
      "description": "Information about a domain.",
      "id": "Domain",
      "properties": {
        "name": {
          "description": "The name of the domain, e.g. `google.com`.",
          "type": "string"
        },
        "legacyId": {
          "description": "An opaque string used to identify this domain.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SettingsChange": {
      "type": "object",
      "properties": {
        "restrictionChanges": {
          "description": "The set of changes made to restrictions.",
          "type": "array",
          "items": {
            "$ref": "RestrictionChange"
          }
        }
      },
      "id": "SettingsChange",
      "description": "Information about settings changes."
    },
    "Administrator": {
      "type": "object",
      "properties": {},
      "id": "Administrator",
      "description": "Empty message representing an administrator."
    },
    "TargetReference": {
      "id": "TargetReference",
      "description": "A lightweight reference to the target of activity.",
      "type": "object",
      "properties": {
        "driveItem": {
          "description": "The target is a Drive item.",
          "$ref": "DriveItemReference"
        },
        "drive": {
          "$ref": "DriveReference",
          "description": "The target is a shared drive."
        },
        "teamDrive": {
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true,
          "$ref": "TeamDriveReference"
        }
      }
    },
    "Integer": {
      "type": "object",
      "properties": {
        "value": {
          "format": "int64",
          "description": "Integer value.",
          "type": "string"
        }
      },
      "id": "Integer",
      "description": "Wrapper for Integer Field value."
    },
    "Delete": {
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TRASH",
            "PERMANENT_DELETE"
          ],
          "description": "The type of delete action taken.",
          "enumDescriptions": [
            "Deletion type is not available.",
            "An object was put into the trash.",
            "An object was deleted permanently."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "An object was deleted.",
      "id": "Delete"
    },
    "New": {
      "id": "New",
      "description": "An object was created from scratch.",
      "type": "object",
      "properties": {}
    },
    "DriveFile": {
      "description": "A Drive item which is a file.",
      "id": "DriveFile",
      "properties": {},
      "type": "object"
    },
    "TextList": {
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "Text"
          },
          "description": "Text values."
        }
      },
      "type": "object",
      "description": "Wrapper for Text List Field value.",
      "id": "TextList"
    },
    "Date": {
      "description": "Wrapper for Date Field value.",
      "id": "Date",
      "properties": {
        "value": {
          "type": "string",
          "description": "Date value.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "Assignment": {
      "id": "Assignment",
      "description": "A comment with an assignment.",
      "type": "object",
      "properties": {
        "subtype": {
          "type": "string",
          "description": "The sub-type of this event.",
          "enumDescriptions": [
            "Subtype not available.",
            "An assignment was added.",
            "An assignment was deleted.",
            "An assignment reply was added.",
            "An assignment reply was deleted.",
            "An assignment was resolved.",
            "A resolved assignment was reopened.",
            "An assignment was reassigned."
          ],
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED",
            "REASSIGNED"
          ]
        },
        "assignedUser": {
          "$ref": "User",
          "description": "The user to whom the comment was assigned."
        }
      }
    },
    "SelectionList": {
      "type": "object",
      "properties": {
        "values": {
          "description": "Selection values.",
          "type": "array",
          "items": {
            "$ref": "Selection"
          }
        }
      },
      "id": "SelectionList",
      "description": "Wrapper for SelectionList Field value."
    },
    "QueryDriveActivityRequest": {
      "type": "object",
      "properties": {
        "filter": {
          "description": "The filtering for items returned from this query request. The format of the filter string is a sequence of expressions, joined by an optional \"AND\", where each expression is of the form \"field operator value\". Supported fields: - `time`: Uses numerical operators on date values either in terms of milliseconds since Jan 1, 1970 or in RFC 3339 format. Examples: - `time > 1452409200000 AND time <= 1492812924310` - `time >= \"2016-01-10T01:02:03-05:00\"` - `detail.action_detail_case`: Uses the \"has\" operator (:) and either a singular value or a list of allowed action types enclosed in parentheses, separated by a space. To exclude a result from the response, prepend a hyphen (`-`) to the beginning of the filter string. Examples: - `detail.action_detail_case:RENAME` - `detail.action_detail_case:(CREATE RESTORE)` - `-detail.action_detail_case:MOVE` ",
          "type": "string"
        },
        "ancestorName": {
          "description": "Return activities for this Drive folder, plus all children and descendants. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "pageToken": {
          "type": "string",
          "description": "The token identifies which page of results to return. Set this to the next_page_token value returned from a previous query to obtain the following page of results. If not set, the first page of results is returned."
        },
        "pageSize": {
          "description": "The minimum number of activities desired in the response; the server attempts to return at least this quantity. The server may also return fewer activities if it has a partial response ready before the request times out. If not set, a default value is used.",
          "format": "int32",
          "type": "integer"
        },
        "itemName": {
          "description": "Return activities for this Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "consolidationStrategy": {
          "$ref": "ConsolidationStrategy",
          "description": "Details on how to consolidate related actions that make up the activity. If not set, then related actions aren't consolidated."
        }
      },
      "id": "QueryDriveActivityRequest",
      "description": "The request message for querying Drive activity."
    },
    "User": {
      "type": "object",
      "properties": {
        "deletedUser": {
          "$ref": "DeletedUser",
          "description": "A user whose account has since been deleted."
        },
        "unknownUser": {
          "$ref": "UnknownUser",
          "description": "A user about whom nothing is currently known."
        },
        "knownUser": {
          "$ref": "KnownUser",
          "description": "A known user."
        }
      },
      "id": "User",
      "description": "Information about an end user."
    },
    "Upload": {
      "properties": {},
      "type": "object",
      "description": "An object was uploaded into Drive.",
      "id": "Upload"
    },
    "UserList": {
      "description": "Wrapper for UserList Field value.",
      "id": "UserList",
      "properties": {
        "values": {
          "description": "User values.",
          "type": "array",
          "items": {
            "$ref": "SingleUser"
          }
        }
      },
      "type": "object"
    },
    "ActionDetail": {
      "properties": {
        "rename": {
          "description": "An object was renamed.",
          "$ref": "Rename"
        },
        "restore": {
          "description": "A deleted object was restored.",
          "$ref": "Restore"
        },
        "delete": {
          "$ref": "Delete",
          "description": "An object was deleted."
        },
        "permissionChange": {
          "$ref": "PermissionChange",
          "description": "The permission on an object was changed."
        },
        "appliedLabelChange": {
          "$ref": "AppliedLabelChange",
          "description": "Label was changed."
        },
        "settingsChange": {
          "description": "Settings were changed.",
          "$ref": "SettingsChange"
        },
        "edit": {
          "description": "An object was edited.",
          "$ref": "Edit"
        },
        "comment": {
          "$ref": "Comment",
          "description": "A change about comments was made."
        },
        "reference": {
          "$ref": "ApplicationReference",
          "description": "An object was referenced in an application outside of Drive/Docs."
        },
        "create": {
          "$ref": "Create",
          "description": "An object was created."
        },
        "move": {
          "$ref": "Move",
          "description": "An object was moved."
        },
        "dlpChange": {
          "description": "A change happened in data leak prevention status.",
          "$ref": "DataLeakPreventionChange"
        }
      },
      "type": "object",
      "description": "Data describing the type and additional information of an action.",
      "id": "ActionDetail"
    },
    "Folder": {
      "id": "Folder",
      "description": "This item is deprecated; please see `DriveFolder` instead.",
      "deprecated": true,
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "This field is deprecated; please see `DriveFolder.type` instead.",
          "enumDescriptions": [
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "TEAM_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ]
        }
      }
    },
    "Restore": {
      "description": "A deleted object was restored.",
      "id": "Restore",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "UNTRASH"
          ],
          "description": "The type of restore action taken.",
          "enumDescriptions": [
            "The type is not available.",
            "An object was restored from the trash."
          ]
        }
      },
      "type": "object"
    },
    "Impersonation": {
      "description": "Information about an impersonation, where an admin acts on behalf of an end user. Information about the acting admin is not currently available.",
      "id": "Impersonation",
      "properties": {
        "impersonatedUser": {
          "$ref": "User",
          "description": "The impersonated user."
        }
      },
      "type": "object"
    },
    "Create": {
      "id": "Create",
      "description": "An object was created.",
      "type": "object",
      "properties": {
        "upload": {
          "description": "If present, indicates the object originated externally and was uploaded to Drive.",
          "$ref": "Upload"
        },
        "new": {
          "description": "If present, indicates the object was newly created (e.g. as a blank document), not derived from a Drive object or external object.",
          "$ref": "New"
        },
        "copy": {
          "description": "If present, indicates the object was created by copying an existing Drive object.",
          "$ref": "Copy"
        }
      }
    },
    "Selection": {
      "description": "Wrapper for Selection Field value as combined value/display_name pair for selected choice.",
      "id": "Selection",
      "properties": {
        "value": {
          "type": "string",
          "description": "Selection value as Field Choice ID."
        },
        "displayName": {
          "description": "Selection value as human-readable display string.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Move": {
      "properties": {
        "addedParents": {
          "type": "array",
          "items": {
            "$ref": "TargetReference"
          },
          "description": "The added parent object(s)."
        },
        "removedParents": {
          "type": "array",
          "items": {
            "$ref": "TargetReference"
          },
          "description": "The removed parent object(s)."
        }
      },
      "type": "object",
      "description": "An object was moved.",
      "id": "Move"
    },
    "TeamDrive": {
      "id": "TeamDrive",
      "description": "This item is deprecated; please see `Drive` instead.",
      "deprecated": true,
      "type": "object",
      "properties": {
        "name": {
          "description": "This field is deprecated; please see `Drive.name` instead.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "This field is deprecated; please see `Drive.title` instead."
        },
        "root": {
          "$ref": "DriveItem",
          "description": "This field is deprecated; please see `Drive.root` instead."
        }
      }
    },
    "FieldValue": {
      "type": "object",
      "properties": {
        "textList": {
          "$ref": "TextList",
          "description": "Text List Field value."
        },
        "selectionList": {
          "$ref": "SelectionList",
          "description": "Selection List Field value."
        },
        "integer": {
          "$ref": "Integer",
          "description": "Integer Field value."
        },
        "user": {
          "$ref": "SingleUser",
          "description": "User Field value."
        },
        "selection": {
          "$ref": "Selection",
          "description": "Selection Field value."
        },
        "date": {
          "description": "Date Field value.",
          "$ref": "Date"
        },
        "userList": {
          "description": "User List Field value.",
          "$ref": "UserList"
        },
        "text": {
          "$ref": "Text",
          "description": "Text Field value."
        }
      },
      "id": "FieldValue",
      "description": "Contains a value of a Field."
    },
    "QueryDriveActivityResponse": {
      "type": "object",
      "properties": {
        "activities": {
          "type": "array",
          "items": {
            "$ref": "DriveActivity"
          },
          "description": "List of activity requested."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "id": "QueryDriveActivityResponse",
      "description": "Response message for querying Drive activity."
    },
    "TeamDriveReference": {
      "properties": {
        "name": {
          "type": "string",
          "description": "This field is deprecated; please see `DriveReference.name` instead."
        },
        "title": {
          "type": "string",
          "description": "This field is deprecated; please see `DriveReference.title` instead."
        }
      },
      "type": "object",
      "deprecated": true,
      "description": "This item is deprecated; please see `DriveReference` instead.",
      "id": "TeamDriveReference"
    },
    "AnonymousUser": {
      "description": "Empty message representing an anonymous user or indicating the authenticated user should be anonymized.",
      "id": "AnonymousUser",
      "properties": {},
      "type": "object"
    },
    "PermissionChange": {
      "type": "object",
      "properties": {
        "addedPermissions": {
          "description": "The set of permissions added by this change.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        },
        "removedPermissions": {
          "description": "The set of permissions removed by this change.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        }
      },
      "id": "PermissionChange",
      "description": "A change of the permission setting on an item."
    },
    "Group": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email address of the group."
        },
        "title": {
          "description": "The title of the group.",
          "type": "string"
        }
      },
      "id": "Group",
      "description": "Information about a group."
    },
    "TimeRange": {
      "id": "TimeRange",
      "description": "Information about time ranges.",
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "The start of the time range.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "The end of the time range.",
          "format": "google-datetime"
        }
      }
    },
    "ConsolidationStrategy": {
      "id": "ConsolidationStrategy",
      "description": "How the individual activities are consolidated. If a set of activities is related they can be consolidated into one combined activity, such as one actor performing the same action on multiple targets, or multiple actors performing the same action on a single target. The strategy defines the rules for which activities are related.",
      "type": "object",
      "properties": {
        "legacy": {
          "$ref": "Legacy",
          "description": "The individual activities are consolidated using the legacy strategy."
        },
        "none": {
          "description": "The individual activities are not consolidated.",
          "$ref": "NoConsolidation"
        }
      }
    },
    "KnownUser": {
      "id": "KnownUser",
      "description": "A known user.",
      "type": "object",
      "properties": {
        "personName": {
          "type": "string",
          "description": "The identifier for this user that can be used with the People API to get more information. The format is `people/ACCOUNT_ID`. See https://developers.google.com/people/."
        },
        "isCurrentUser": {
          "description": "True if this is the user making the request.",
          "type": "boolean"
        }
      }
    },
    "ApplicationReference": {
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "UNSPECIFIED_REFERENCE_TYPE",
            "LINK",
            "DISCUSS"
          ],
          "description": "The reference type corresponding to this event.",
          "enumDescriptions": [
            "The type is not available.",
            "The links of one or more Drive items were posted.",
            "Comments were made regarding a Drive item."
          ]
        }
      },
      "type": "object",
      "description": "Activity in applications other than Drive.",
      "id": "ApplicationReference"
    },
    "Permission": {
      "type": "object",
      "properties": {
        "role": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "ORGANIZER",
            "FILE_ORGANIZER",
            "EDITOR",
            "COMMENTER",
            "VIEWER",
            "PUBLISHED_VIEWER"
          ],
          "description": "Indicates the [Google Drive permissions role](https://developers.google.com/workspace/drive/web/manage-sharing#roles). The role determines a user's ability to read, write, and comment on items.",
          "enumDescriptions": [
            "The role is not available.",
            "A role granting full access.",
            "A role granting the ability to manage people and settings.",
            "A role granting the ability to contribute and manage content.",
            "A role granting the ability to contribute content. This role is sometimes also known as \"writer\".",
            "A role granting the ability to view and comment on content.",
            "A role granting the ability to view content. This role is sometimes also known as \"reader\".",
            "A role granting the ability to view content only after it has been published to the web. This role is sometimes also known as \"published reader\". See https://support.google.com/sites/answer/6372880 for more information."
          ],
          "type": "string"
        },
        "anyone": {
          "description": "If set, this permission applies to anyone, even logged out users.",
          "$ref": "Anyone"
        },
        "domain": {
          "$ref": "Domain",
          "description": "The domain to whom this permission applies."
        },
        "user": {
          "$ref": "User",
          "description": "The user to whom this permission applies."
        },
        "group": {
          "description": "The group to whom this permission applies.",
          "$ref": "Group"
        },
        "allowDiscovery": {
          "type": "boolean",
          "description": "If true, the item can be discovered (e.g. in the user's \"Shared with me\" collection) without needing a link to the item."
        }
      },
      "id": "Permission",
      "description": "The permission setting of an object."
    },
    "Copy": {
      "type": "object",
      "properties": {
        "originalObject": {
          "description": "The original object.",
          "$ref": "TargetReference"
        }
      },
      "id": "Copy",
      "description": "An object was created by copying an existing object."
    },
    "FileComment": {
      "description": "A comment on a file.",
      "id": "FileComment",
      "properties": {
        "linkToDiscussion": {
          "type": "string",
          "description": "The link to the discussion thread containing this comment, for example, `https://docs.google.com/DOCUMENT_ID/edit?disco=THREAD_ID`."
        },
        "parent": {
          "description": "The Drive item containing this comment.",
          "$ref": "DriveItem"
        },
        "legacyDiscussionId": {
          "type": "string",
          "description": "The discussion thread to which the comment was added. This identifier is an opaque string compatible with the Drive API and references the first comment in a discussion; see https://developers.google.com/workspace/drive/v3/reference/comments/get"
        },
        "legacyCommentId": {
          "description": "The comment in the discussion thread. This identifier is an opaque string compatible with the Drive API; see https://developers.google.com/workspace/drive/v3/reference/comments/get",
          "type": "string"
        }
      },
      "type": "object"
    },
    "File": {
      "deprecated": true,
      "description": "This item is deprecated; please see `DriveFile` instead.",
      "id": "File",
      "properties": {},
      "type": "object"
    },
    "NoConsolidation": {
      "id": "NoConsolidation",
      "description": "A strategy that does no consolidation of individual activities.",
      "type": "object",
      "properties": {}
    }
  },
  "version_module": true
}