{
  "rootUrl": "https://www.googleapis.com/",
  "servicePath": "drive/v2/",
  "batchPath": "batch/drive/v2",
  "kind": "discovery#restDescription",
  "baseUrl": "https://www.googleapis.com/drive/v2/",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.metadata": {
          "description": "View and manage metadata of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.scripts": {
          "description": "Modify your Google Apps Script scripts' behavior"
        },
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "See, create, and delete its own configuration data in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.apps.readonly": {
          "description": "View your Google Drive apps"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.metadata.readonly": {
          "description": "See information about your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.photos.readonly": {
          "description": "View the photos, videos and albums in your Google Photos"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/drive.meet.readonly": {
          "description": "See and download your Google Drive files that were created or edited by Google Meet."
        }
      }
    }
  },
  "ownerName": "Google",
  "description": "The Google Drive API allows clients to access resources from Google Drive.",
  "protocol": "rest",
  "revision": "20260701",
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "basePath": "/drive/v2/",
  "version": "v2",
  "title": "Google Drive API",
  "schemas": {
    "FileList": {
      "type": "object",
      "id": "FileList",
      "description": "A list of files.",
      "properties": {
        "incompleteSearch": {
          "type": "boolean",
          "description": "Whether the search process was incomplete. If true, then some search results may be missing, since all documents were not searched. This may occur when searching multiple drives with the \"allDrives\" corpora, but all corpora could not be searched. When this happens, it is suggested that clients narrow their query by choosing a different corpus such as \"default\" or \"drive\"."
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The page token for the next page of files. This will be absent if the end of the files list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "A link back to this list."
        },
        "kind": {
          "type": "string",
          "description": "This is always `drive#fileList`.",
          "default": "drive#fileList"
        },
        "nextLink": {
          "type": "string",
          "description": "A link to the next page of files."
        },
        "items": {
          "items": {
            "$ref": "File"
          },
          "description": "The list of files. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array"
        }
      }
    },
    "App": {
      "id": "App",
      "description": "The apps resource provides a list of the apps that a user has installed, with information about each app's supported MIME types, file extensions, and other details. Some resource methods (such as `apps.get`) require an `appId`. Use the `apps.list` method to retrieve the ID for an installed application.",
      "type": "object",
      "properties": {
        "authorized": {
          "type": "boolean",
          "description": "Whether the app is authorized to access data on the user's Drive."
        },
        "createInFolderTemplate": {
          "description": "The template url to create a new file with this app in a given folder. The template will contain {folderId} to be replaced by the folder to create the new file in.",
          "type": "string"
        },
        "shortDescription": {
          "type": "string",
          "description": "A short description of the app."
        },
        "objectType": {
          "type": "string",
          "description": "The type of object this app creates (e.g. Chart). If empty, the app name should be used instead."
        },
        "supportsCreate": {
          "description": "Whether this app supports creating new objects.",
          "type": "boolean"
        },
        "createUrl": {
          "description": "The url to create a new file with this app.",
          "type": "string"
        },
        "hasDriveWideScope": {
          "type": "boolean",
          "description": "Whether the app has drive-wide scope. An app with drive-wide scope can access all files in the user's drive."
        },
        "installed": {
          "description": "Whether the app is installed.",
          "type": "boolean"
        },
        "primaryFileExtensions": {
          "type": "array",
          "description": "The list of primary file extensions.",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "default": "drive#app",
          "type": "string",
          "description": "This is always `drive#app`."
        },
        "longDescription": {
          "type": "string",
          "description": "A long description of the app."
        },
        "id": {
          "type": "string",
          "description": "The ID of the app."
        },
        "supportsMultiOpen": {
          "description": "Whether this app supports opening more than one file.",
          "type": "boolean"
        },
        "icons": {
          "items": {
            "type": "object",
            "properties": {
              "category": {
                "type": "string",
                "description": "Category of the icon. Allowed values are: * `application` - icon for the application * `document` - icon for a file associated with the app * `documentShared` - icon for a shared file associated with the app"
              },
              "size": {
                "type": "integer",
                "description": "Size of the icon. Represented as the maximum of the width and height.",
                "format": "int32"
              },
              "iconUrl": {
                "description": "URL for the icon.",
                "type": "string"
              }
            }
          },
          "type": "array",
          "description": "The various icons for the app."
        },
        "productId": {
          "description": "The ID of the product listing for this app.",
          "type": "string"
        },
        "openUrlTemplate": {
          "description": "The template url for opening files with this app. The template will contain `{ids}` and/or `{exportIds}` to be replaced by the actual file ids. See Open Files for the full documentation.",
          "type": "string"
        },
        "supportsOfflineCreate": {
          "description": "Whether this app supports creating new files when offline.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The name of the app."
        },
        "primaryMimeTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of primary mime types."
        },
        "productUrl": {
          "description": "A link to the product listing for this app.",
          "type": "string"
        },
        "secondaryMimeTypes": {
          "items": {
            "type": "string"
          },
          "description": "The list of secondary mime types.",
          "type": "array"
        },
        "useByDefault": {
          "description": "Whether the app is selected as the default handler for the types it supports.",
          "type": "boolean"
        },
        "secondaryFileExtensions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of secondary file extensions."
        },
        "supportsImport": {
          "type": "boolean",
          "description": "Whether this app supports importing from Docs Editors."
        }
      }
    },
    "Change": {
      "id": "Change",
      "description": "Representation of a change to a file or shared drive.",
      "type": "object",
      "properties": {
        "drive": {
          "description": "The updated state of the shared drive. Present if the changeType is drive, the user is still a member of the shared drive, and the shared drive has not been deleted.",
          "$ref": "Drive"
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "The ID of the change."
        },
        "changeType": {
          "description": "The type of the change. Possible values are `file` and `drive`.",
          "type": "string"
        },
        "teamDriveId": {
          "description": "Deprecated: Use `driveId` instead.",
          "deprecated": true,
          "type": "string"
        },
        "file": {
          "$ref": "File",
          "description": "The updated state of the file. Present if the type is file and the file has not been removed from this list of changes."
        },
        "teamDrive": {
          "description": "Deprecated: Use `drive` instead.",
          "deprecated": true,
          "$ref": "TeamDrive"
        },
        "selfLink": {
          "type": "string",
          "description": "A link back to this change."
        },
        "driveId": {
          "description": "The ID of the shared drive associated with this change.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Deprecated: Use `changeType` instead.",
          "deprecated": true
        },
        "deleted": {
          "type": "boolean",
          "description": "Whether the file or shared drive has been removed from this list of changes, for example by deletion or loss of access."
        },
        "kind": {
          "default": "drive#change",
          "type": "string",
          "description": "This is always `drive#change`."
        },
        "modificationDate": {
          "description": "The time of this modification.",
          "type": "string",
          "format": "date-time"
        },
        "fileId": {
          "description": "The ID of the file associated with this change.",
          "type": "string"
        }
      }
    },
    "ModifyLabelsResponse": {
      "type": "object",
      "id": "ModifyLabelsResponse",
      "description": "Response to a ModifyLabels request. This contains only those labels which were added or updated by the request.",
      "properties": {
        "modifiedLabels": {
          "description": "The list of labels which were added or updated by the request.",
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        },
        "kind": {
          "type": "string",
          "description": "This is always `drive#modifyLabelsResponse`",
          "default": "drive#modifyLabelsResponse"
        }
      }
    },
    "LabelList": {
      "id": "LabelList",
      "description": "A list of labels applied to a file.",
      "type": "object",
      "properties": {
        "kind": {
          "default": "drive#labelList",
          "description": "This is always `drive#labelList`",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Label"
          },
          "description": "The list of labels.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of labels. This field will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
        }
      }
    },
    "GenerateCseTokenResponse": {
      "id": "GenerateCseTokenResponse",
      "description": "JWT and associated metadata used to generate CSE files.",
      "type": "object",
      "properties": {
        "jwt": {
          "description": "The signed JSON Web Token (JWT) for the file.",
          "type": "string"
        },
        "currentKaclsName": {
          "type": "string",
          "description": "Name of the KACLs that the returned KACLs ID points to."
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#generateCseTokenResponse\"`.",
          "type": "string"
        },
        "currentKaclsId": {
          "format": "int64",
          "type": "string",
          "description": "The current Key ACL Service (KACLS) ID associated with the JWT."
        },
        "fileId": {
          "type": "string",
          "description": "The fileId for which the JWT was generated."
        }
      }
    },
    "Label": {
      "properties": {
        "id": {
          "description": "The ID of the label.",
          "type": "string"
        },
        "revisionId": {
          "description": "The revision ID of the label.",
          "type": "string"
        },
        "kind": {
          "default": "drive#label",
          "description": "This is always `drive#label`",
          "type": "string"
        },
        "fields": {
          "type": "object",
          "description": "A map of the fields on the label, keyed by the field's ID.",
          "additionalProperties": {
            "$ref": "LabelField"
          }
        }
      },
      "type": "object",
      "id": "Label",
      "description": "Representation of a label and label fields."
    },
    "AppList": {
      "id": "AppList",
      "description": "A list of third-party applications which the user has installed or given access to Google Drive.",
      "type": "object",
      "properties": {
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "defaultAppIds": {
          "description": "List of app IDs that the user has specified to use by default. The list is in reverse-priority order (lowest to highest).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "items": {
          "items": {
            "$ref": "App"
          },
          "type": "array",
          "description": "The list of apps."
        },
        "kind": {
          "type": "string",
          "description": "This is always `drive#appList`.",
          "default": "drive#appList"
        }
      }
    },
    "ParentReference": {
      "id": "ParentReference",
      "description": "A reference to a file's parent. A file can only have one parent folder; specifying multiple parents isn't supported. Some resource methods (such as `parents.get`) require a `parentId`. Use the `parents.list` method to retrieve the ID for a parent.",
      "type": "object",
      "properties": {
        "isRoot": {
          "description": "Output only. Whether or not the parent is the root folder.",
          "type": "boolean"
        },
        "kind": {
          "description": "Output only. This is always `drive#parentReference`.",
          "type": "string",
          "default": "drive#parentReference"
        },
        "parentLink": {
          "type": "string",
          "description": "Output only. A link to the parent."
        },
        "selfLink": {
          "description": "Output only. A link back to this reference.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID of the parent.",
          "annotations": {
            "required": [
              "drive.parents.insert"
            ]
          }
        }
      }
    },
    "PermissionId": {
      "properties": {
        "kind": {
          "default": "drive#permissionId",
          "description": "This is always `drive#permissionId`.",
          "type": "string"
        },
        "id": {
          "description": "The permission ID.",
          "type": "string"
        }
      },
      "id": "PermissionId",
      "description": "An ID for a user or group as seen in Permission items.",
      "type": "object"
    },
    "ChildList": {
      "id": "ChildList",
      "description": "A list of children of a file.",
      "type": "object",
      "properties": {
        "kind": {
          "default": "drive#childList",
          "type": "string",
          "description": "This is always `drive#childList`."
        },
        "items": {
          "type": "array",
          "description": "The list of children. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "ChildReference"
          }
        },
        "nextLink": {
          "description": "A link to the next page of children.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The page token for the next page of children. This will be absent if the end of the children list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the list."
        }
      }
    },
    "CommentReplyList": {
      "properties": {
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The page token for the next page of replies. This will be absent if the end of the replies list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `drive#commentReplyList`.",
          "default": "drive#commentReplyList"
        },
        "items": {
          "description": "The list of replies. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "CommentReply"
          }
        },
        "nextLink": {
          "description": "A link to the next page of replies.",
          "type": "string"
        }
      },
      "id": "CommentReplyList",
      "description": "A list of replies to a comment on a file in Google Drive.",
      "type": "object"
    },
    "StartPageToken": {
      "id": "StartPageToken",
      "type": "object",
      "properties": {
        "kind": {
          "default": "drive#startPageToken",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#startPageToken\"`.",
          "type": "string"
        },
        "startPageToken": {
          "type": "string",
          "description": "The starting page token for listing changes."
        }
      }
    },
    "ParentList": {
      "properties": {
        "kind": {
          "description": "This is always `drive#parentList`.",
          "type": "string",
          "default": "drive#parentList"
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the list."
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "The list of parents.",
          "items": {
            "$ref": "ParentReference"
          }
        }
      },
      "type": "object",
      "id": "ParentList",
      "description": "A list of a file's parents."
    },
    "DriveList": {
      "properties": {
        "nextPageToken": {
          "description": "The page token for the next page of shared drives. This will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Drive"
          },
          "description": "The list of shared drives. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array"
        },
        "kind": {
          "description": "This is always `drive#driveList`",
          "type": "string",
          "default": "drive#driveList"
        }
      },
      "id": "DriveList",
      "description": "A list of shared drives.",
      "type": "object"
    },
    "LabelFieldModification": {
      "id": "LabelFieldModification",
      "description": "A modification to a label's field.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always `drive#labelFieldModification`.",
          "type": "string",
          "default": "drive#labelFieldModification"
        },
        "setSelectionValues": {
          "items": {
            "type": "string"
          },
          "description": "Replaces a `selection` field with these new values.",
          "type": "array"
        },
        "setDateValues": {
          "items": {
            "format": "date",
            "type": "string"
          },
          "description": "Replaces the value of a dateString Field with these new values. The string must be in the RFC 3339 full-date format: YYYY-MM-DD.",
          "type": "array"
        },
        "setIntegerValues": {
          "description": "Replaces the value of an `integer` field with these new values.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "unsetValues": {
          "type": "boolean",
          "description": "Unsets the values for this field."
        },
        "setUserValues": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Replaces a `user` field with these new values. The values must be valid email addresses."
        },
        "fieldId": {
          "description": "The ID of the field to be modified.",
          "type": "string"
        },
        "setTextValues": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Sets the value of a `text` field."
        }
      }
    },
    "ModifyLabelsRequest": {
      "properties": {
        "labelModifications": {
          "type": "array",
          "description": "The list of modifications to apply to the labels on the file.",
          "items": {
            "$ref": "LabelModification"
          }
        },
        "kind": {
          "default": "drive#modifyLabelsRequest",
          "type": "string",
          "description": "This is always `drive#modifyLabelsRequest`."
        }
      },
      "type": "object",
      "id": "ModifyLabelsRequest",
      "description": "A request to modify the set of labels on a file. This request may contain many modifications that will either all succeed or all fail atomically."
    },
    "CommentReply": {
      "id": "CommentReply",
      "description": "A reply to a comment on a file in Google Drive.",
      "type": "object",
      "properties": {
        "content": {
          "annotations": {
            "required": [
              "drive.replies.patch",
              "drive.replies.update"
            ]
          },
          "type": "string",
          "description": "The plain text content used to create this reply. This is not HTML safe and should only be used as a starting point to make edits to a reply's content. This field is required on inserts if no verb is specified (resolve/reopen)."
        },
        "modifiedDate": {
          "format": "date-time",
          "description": "The date when this reply was last modified.",
          "type": "string"
        },
        "replyId": {
          "description": "The ID of the reply.",
          "type": "string"
        },
        "deleted": {
          "description": "Whether this reply has been deleted. If a reply has been deleted the content will be cleared and this will only represent a reply that once existed.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "This is always drive#commentReply.",
          "default": "drive#commentReply"
        },
        "createdDate": {
          "description": "The date when this reply was first created.",
          "type": "string",
          "format": "date-time"
        },
        "author": {
          "$ref": "User",
          "description": "The user who wrote this reply."
        },
        "htmlContent": {
          "type": "string",
          "description": "HTML formatted content for this reply."
        },
        "verb": {
          "type": "string",
          "description": "The action this reply performed to the parent comment. When creating a new reply this is the action to be perform tSo the parent comment. Possible values are: * `resolve` - To resolve a comment. * `reopen` - To reopen (un-resolve) a comment."
        }
      }
    },
    "CommentList": {
      "id": "CommentList",
      "description": "A list of comments on a file in Google Drive.",
      "type": "object",
      "properties": {
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The page token for the next page of comments. This will be absent if the end of the comments list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "nextLink": {
          "description": "A link to the next page of comments.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "The list of comments. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "Comment"
          }
        },
        "kind": {
          "default": "drive#commentList",
          "type": "string",
          "description": "This is always drive#commentList."
        }
      }
    },
    "GeneratedIds": {
      "id": "GeneratedIds",
      "description": "A list of generated IDs which can be provided in insert requests",
      "type": "object",
      "properties": {
        "kind": {
          "default": "drive#generatedIds",
          "type": "string",
          "description": "This is always `drive#generatedIds`"
        },
        "ids": {
          "items": {
            "type": "string"
          },
          "description": "The IDs generated for the requesting user in the specified space.",
          "type": "array"
        },
        "space": {
          "type": "string",
          "description": "The type of file that can be created with these IDs."
        }
      }
    },
    "PermissionList": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of permissions. This field will be absent if the end of the permissions list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
        },
        "selfLink": {
          "type": "string",
          "description": "A link back to this list."
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `drive#permissionList`.",
          "type": "string",
          "default": "drive#permissionList"
        },
        "items": {
          "description": "The list of permissions.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        }
      },
      "type": "object",
      "id": "PermissionList",
      "description": "A list of permissions associated with a file."
    },
    "Permission": {
      "id": "Permission",
      "description": "A permission for a file. A permission grants a user, group, domain, or the world access to a file or a folder hierarchy. Some resource methods (such as `permissions.update`) require a `permissionId`. Use the `permissions.list` method to retrieve the ID for a file, folder, or shared drive.",
      "type": "object",
      "properties": {
        "emailAddress": {
          "type": "string",
          "description": "Output only. The email address of the user or group this permission refers to. This is an output-only field which is present when the permission type is `user` or `group`."
        },
        "name": {
          "type": "string",
          "description": "Output only. The name for this permission."
        },
        "additionalRoles": {
          "type": "array",
          "description": "Additional roles for this user. Only `commenter` is currently allowed, though more may be supported in the future.",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "type": "string",
          "description": "The ID of the user this permission refers to, and identical to the `permissionId` in the About and Files resources. When making a `drive.permissions.insert` request, exactly one of the `id` or `value` fields must be specified unless the permission type is `anyone`, in which case both `id` and `value` are ignored."
        },
        "view": {
          "description": "Indicates the view for this permission. Only populated for permissions that belong to a view. published and metadata are the only supported values. - published: The permission's role is published_reader. - metadata: The item is only visible to the metadata view because the item has limited access and the scope has at least read access to the parent. Note: The metadata view is currently only supported on folders. ",
          "type": "string"
        },
        "teamDrivePermissionDetails": {
          "items": {
            "properties": {
              "teamDrivePermissionType": {
                "description": "Output only. Deprecated: Use `permissionDetails/permissionType` instead.",
                "deprecated": true,
                "type": "string"
              },
              "additionalRoles": {
                "items": {
                  "type": "string"
                },
                "description": "Output only. Deprecated: Use `permissionDetails/additionalRoles` instead.",
                "deprecated": true,
                "type": "array"
              },
              "inherited": {
                "type": "boolean",
                "description": "Output only. Deprecated: Use `permissionDetails/inherited` instead.",
                "deprecated": true
              },
              "role": {
                "type": "string",
                "description": "Output only. Deprecated: Use `permissionDetails/role` instead.",
                "deprecated": true
              },
              "inheritedFrom": {
                "description": "Output only. Deprecated: Use `permissionDetails/inheritedFrom` instead.",
                "deprecated": true,
                "type": "string"
              }
            },
            "type": "object"
          },
          "deprecated": true,
          "readOnly": true,
          "type": "array",
          "description": "Output only. Deprecated: Use `permissionDetails` instead."
        },
        "value": {
          "type": "string",
          "description": "The email address or domain name for the entity. This is used during inserts and is not populated in responses. When making a `drive.permissions.insert` request, exactly one of the `id` or `value` fields must be specified unless the permission type is `anyone`, in which case both `id` and `value` are ignored."
        },
        "expirationDate": {
          "format": "date-time",
          "type": "string",
          "description": "The time at which this permission will expire (RFC 3339 date-time). Expiration dates have the following restrictions: - They can only be set on user and group permissions - The date must be in the future - The date cannot be more than a year in the future - The date can only be set on drive.permissions.update or drive.permissions.patch requests"
        },
        "selfLink": {
          "type": "string",
          "description": "Output only. A link back to this permission."
        },
        "inheritedPermissionsDisabled": {
          "description": "When true, only organizers, owners, and users with permissions added directly on the item can access it.",
          "type": "boolean"
        },
        "pendingOwner": {
          "description": "Whether the account associated with this permission is a pending owner. Only populated for `user` type permissions for files that are not in a shared drive.",
          "type": "boolean"
        },
        "authKey": {
          "description": "Output only. Deprecated.",
          "deprecated": true,
          "type": "string"
        },
        "role": {
          "type": "string",
          "description": "The primary role for this user. While new values may be supported in the future, the following are currently allowed: * `owner` * `organizer` * `fileOrganizer` * `writer` * `reader`",
          "annotations": {
            "required": [
              "drive.permissions.insert"
            ]
          }
        },
        "domain": {
          "description": "Output only. The domain name of the entity this permission refers to. This is an output-only field which is present when the permission type is `user`, `group` or `domain`.",
          "type": "string"
        },
        "type": {
          "annotations": {
            "required": [
              "drive.permissions.insert"
            ]
          },
          "type": "string",
          "description": "The account type. Allowed values are: * `user` * `group` * `domain` * `anyone`"
        },
        "deleted": {
          "type": "boolean",
          "description": "Output only. Whether the account associated with this permission has been deleted. This field only pertains to user and group permissions."
        },
        "kind": {
          "default": "drive#permission",
          "type": "string",
          "description": "Output only. This is always `drive#permission`."
        },
        "permissionDetails": {
          "type": "array",
          "description": "Output only. Details of whether the permissions on this item are inherited or directly on this item.",
          "readOnly": true,
          "items": {
            "properties": {
              "additionalRoles": {
                "items": {
                  "type": "string"
                },
                "description": "Output only. Additional roles for this user. Only `commenter` is currently possible, though more may be supported in the future.",
                "type": "array"
              },
              "inherited": {
                "description": "Output only. Whether this permission is inherited. This field is always populated.",
                "type": "boolean"
              },
              "role": {
                "description": "Output only. The primary role for this user. While new values may be added in the future, the following are currently possible: * `organizer` * `fileOrganizer` * `writer` * `reader`",
                "type": "string"
              },
              "inheritedFrom": {
                "description": "Output only. The ID of the item from which this permission is inherited. This is only populated for items in shared drives.",
                "type": "string"
              },
              "permissionType": {
                "description": "Output only. The permission type for this user. While new values may be added in future, the following are currently possible: * `file` * `member`",
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "withLink": {
          "description": "Whether the link is required for this permission.",
          "type": "boolean"
        },
        "photoLink": {
          "type": "string",
          "description": "Output only. A link to the profile photo, if available."
        },
        "etag": {
          "description": "Output only. The ETag of the permission.",
          "type": "string"
        }
      }
    },
    "Revision": {
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "Output only. The MIME type of the revision."
        },
        "downloadUrl": {
          "description": "Output only. Short term download URL for the file. This will only be populated on files with content stored in Drive.",
          "type": "string"
        },
        "pinned": {
          "type": "boolean",
          "description": "Whether this revision is pinned to prevent automatic purging. If not set, the revision is automatically purged 30 days after newer content is uploaded. This field can only be modified on files with content stored in Drive, excluding Docs Editors files. Revisions can also be pinned when they are created through the drive.files.insert/update/copy by using the pinned query parameter. Pinned revisions are stored indefinitely using additional storage quota, up to a maximum of 200 revisions."
        },
        "kind": {
          "default": "drive#revision",
          "description": "Output only. This is always `drive#revision`.",
          "type": "string"
        },
        "etag": {
          "description": "Output only. The ETag of the revision.",
          "type": "string"
        },
        "publishAuto": {
          "type": "boolean",
          "description": "Whether subsequent revisions will be automatically republished. This is only populated and can only be modified for Docs Editors files."
        },
        "id": {
          "description": "Output only. The ID of the revision.",
          "type": "string"
        },
        "modifiedDate": {
          "type": "string",
          "description": "Last time this revision was modified (formatted RFC 3339 timestamp).",
          "format": "date-time"
        },
        "lastModifyingUserName": {
          "description": "Output only. Name of the last user to modify this revision.",
          "type": "string"
        },
        "originalFilename": {
          "type": "string",
          "description": "Output only. The original filename when this revision was created. This will only be populated on files with content stored in Drive."
        },
        "lastModifyingUser": {
          "$ref": "User",
          "description": "Output only. The last user to modify this revision. This field is only populated when the last modification was performed by a signed-in user."
        },
        "published": {
          "type": "boolean",
          "description": "Whether this revision is published. This is only populated and can only be modified for Docs Editors files."
        },
        "fileSize": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The size of the revision in bytes. This will only be populated on files with content stored in Drive."
        },
        "publishedLink": {
          "description": "Output only. A link to the published revision. This is only populated for Docs Editors files.",
          "type": "string"
        },
        "exportLinks": {
          "description": "Output only. Links for exporting Docs Editors files to specific formats.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "md5Checksum": {
          "type": "string",
          "description": "Output only. An MD5 checksum for the content of this revision. This will only be populated on files with content stored in Drive."
        },
        "publishedOutsideDomain": {
          "type": "boolean",
          "description": "Whether this revision is published outside the domain. This is only populated and can only be modified for Docs Editors files."
        },
        "selfLink": {
          "type": "string",
          "description": "Output only. A link back to this revision."
        }
      },
      "id": "Revision",
      "description": "A revision of a file. Some resource methods (such as `revisions.update`) require a `revisionId`. Use the `revisions.list` method to retrieve the ID for a revision.",
      "type": "object"
    },
    "About": {
      "properties": {
        "quotaBytesTotal": {
          "description": "The total number of quota bytes. This is only relevant when quotaType is LIMITED.",
          "type": "string",
          "format": "int64"
        },
        "quotaBytesUsedAggregate": {
          "description": "The number of quota bytes used by all Google apps (Drive, Picasa, etc.).",
          "type": "string",
          "format": "int64"
        },
        "domainSharingPolicy": {
          "description": "Deprecated: Does not granularly represent allowlisted domains or Trust Rules. The domain sharing policy for the current user. Possible values are: * `allowed` * `allowedWithWarning` * `incomingOnly` * `disallowed` Note that if the user is enrolled in Trust Rules, `disallowed` will always be returned. If sharing is restricted to allowlisted domains, either `incomingOnly` or `allowedWithWarning` will be returned, depending on whether receiving files from outside the allowlisted domains is permitted.",
          "deprecated": true,
          "type": "string"
        },
        "remainingChangeIds": {
          "description": "The number of remaining change ids, limited to no more than 2500.",
          "type": "string",
          "format": "int64"
        },
        "exportFormats": {
          "description": "The allowable export formats.",
          "type": "array",
          "items": {
            "properties": {
              "targets": {
                "items": {
                  "type": "string"
                },
                "type": "array",
                "description": "The possible content types to convert to."
              },
              "source": {
                "description": "The content type to convert from.",
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "permissionId": {
          "description": "The current user's ID as visible in the permissions collection.",
          "type": "string"
        },
        "canCreateTeamDrives": {
          "type": "boolean",
          "description": "Deprecated: Use `canCreateDrives` instead.",
          "deprecated": true
        },
        "rootFolderId": {
          "type": "string",
          "description": "The id of the root folder."
        },
        "quotaBytesUsed": {
          "format": "int64",
          "description": "The number of quota bytes used by Google Drive.",
          "type": "string"
        },
        "largestChangeId": {
          "description": "The largest change id.",
          "type": "string",
          "format": "int64"
        },
        "features": {
          "type": "array",
          "description": "List of additional features enabled on this account.",
          "items": {
            "properties": {
              "featureName": {
                "type": "string",
                "description": "The name of the feature."
              },
              "featureRate": {
                "format": "double",
                "description": "The request limit rate for this feature, in queries per second.",
                "type": "number"
              }
            },
            "type": "object"
          }
        },
        "languageCode": {
          "description": "The user's language or locale code, as defined by BCP 47, with some extensions from Unicode's LDML format (http://www.unicode.org/reports/tr35/).",
          "type": "string"
        },
        "selfLink": {
          "description": "A link back to this item.",
          "type": "string"
        },
        "user": {
          "$ref": "User",
          "description": "The authenticated user."
        },
        "driveThemes": {
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "description": "The ID of the theme.",
                "type": "string"
              },
              "backgroundImageLink": {
                "description": "A link to this theme's background image.",
                "type": "string"
              },
              "colorRgb": {
                "type": "string",
                "description": "The color of this theme as an RGB hex string."
              }
            }
          },
          "description": "A list of themes that are supported for shared drives.",
          "type": "array"
        },
        "teamDriveThemes": {
          "type": "array",
          "description": "Deprecated: Use `driveThemes` instead.",
          "deprecated": true,
          "items": {
            "type": "object",
            "properties": {
              "colorRgb": {
                "type": "string",
                "description": "Deprecated: Use `driveThemes/colorRgb` instead.",
                "deprecated": true
              },
              "id": {
                "type": "string",
                "description": "Deprecated: Use `driveThemes/id` instead.",
                "deprecated": true
              },
              "backgroundImageLink": {
                "type": "string",
                "description": "Deprecated: Use `driveThemes/backgroundImageLink` instead.",
                "deprecated": true
              }
            }
          }
        },
        "additionalRoleInfo": {
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "The content type that this additional role info applies to."
              },
              "roleSets": {
                "type": "array",
                "description": "The supported additional roles per primary role.",
                "items": {
                  "type": "object",
                  "properties": {
                    "primaryRole": {
                      "description": "A primary permission role.",
                      "type": "string"
                    },
                    "additionalRoles": {
                      "type": "array",
                      "description": "The supported additional roles with the primary role.",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "type": "array",
          "description": "Information about supported additional roles per file type. The most specific type takes precedence."
        },
        "folderColorPalette": {
          "type": "array",
          "description": "The palette of allowable folder colors as RGB hex strings.",
          "items": {
            "type": "string"
          }
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the item."
        },
        "kind": {
          "type": "string",
          "description": "This is always `drive#about`.",
          "default": "drive#about"
        },
        "maxUploadSizes": {
          "description": "List of max upload sizes for each file type. The most specific type takes precedence.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "description": "The file type.",
                "type": "string"
              },
              "size": {
                "format": "int64",
                "type": "string",
                "description": "The max upload size for this type."
              }
            }
          }
        },
        "importFormats": {
          "items": {
            "properties": {
              "targets": {
                "type": "array",
                "description": "The possible content types to convert to.",
                "items": {
                  "type": "string"
                }
              },
              "source": {
                "type": "string",
                "description": "The imported file's content type to convert from."
              }
            },
            "type": "object"
          },
          "description": "The allowable import formats.",
          "type": "array"
        },
        "isCurrentAppInstalled": {
          "description": "A boolean indicating whether the authenticated app is installed by the authenticated user.",
          "type": "boolean"
        },
        "canCreateDrives": {
          "type": "boolean",
          "description": "Whether the user can create shared drives."
        },
        "name": {
          "description": "The name of the current user.",
          "type": "string"
        },
        "quotaBytesUsedInTrash": {
          "type": "string",
          "description": "The number of quota bytes used by trashed items.",
          "format": "int64"
        },
        "quotaType": {
          "description": "The type of the user's storage quota. Possible values are: * `LIMITED` * `UNLIMITED`",
          "type": "string"
        },
        "quotaBytesByService": {
          "items": {
            "type": "object",
            "properties": {
              "serviceName": {
                "description": "The service's name, e.g. DRIVE, GMAIL, or PHOTOS.",
                "type": "string"
              },
              "bytesUsed": {
                "format": "int64",
                "type": "string",
                "description": "The storage quota bytes used by the service."
              }
            }
          },
          "type": "array",
          "description": "The amount of storage quota used by different Google services."
        }
      },
      "type": "object",
      "id": "About",
      "description": "An item with user information and settings."
    },
    "ChangeList": {
      "properties": {
        "kind": {
          "description": "This is always `drive#changeList`.",
          "type": "string",
          "default": "drive#changeList"
        },
        "items": {
          "items": {
            "$ref": "Change"
          },
          "type": "array",
          "description": "The list of changes. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched."
        },
        "nextLink": {
          "type": "string",
          "description": "A link to the next page of changes."
        },
        "largestChangeId": {
          "format": "int64",
          "type": "string",
          "description": "The current largest change ID."
        },
        "nextPageToken": {
          "description": "The page token for the next page of changes. This will be absent if the end of the changes list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "newStartPageToken": {
          "description": "The starting page token for future changes. This will be present only if the end of the current changes list has been reached.",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "A link back to this list."
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ChangeList",
      "description": "A list of changes for a user."
    },
    "TeamDrive": {
      "id": "TeamDrive",
      "description": "Deprecated: Use the `drive` collection instead.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID of this Team Drive which is also the ID of the top level folder of this Team Drive.",
          "type": "string"
        },
        "backgroundImageLink": {
          "type": "string",
          "description": "A short-lived link to this Team Drive's background image."
        },
        "themeId": {
          "description": "The ID of the theme from which the background image and color will be set. The set of possible `teamDriveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.teamdrives.insert` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`.",
          "type": "string"
        },
        "name": {
          "annotations": {
            "required": [
              "drive.teamdrives.insert"
            ]
          },
          "type": "string",
          "description": "The name of this Team Drive."
        },
        "backgroundImageFile": {
          "properties": {
            "id": {
              "description": "The ID of an image file in Drive to use for the background image.",
              "type": "string"
            },
            "yCoordinate": {
              "format": "float",
              "type": "number",
              "description": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image."
            },
            "xCoordinate": {
              "type": "number",
              "description": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image.",
              "format": "float"
            },
            "width": {
              "type": "number",
              "description": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high.",
              "format": "float"
            }
          },
          "type": "object",
          "description": "An image file and cropping parameters from which a background image for this Team Drive is set. This is a write only field; it can only be set on `drive.teamdrives.update` requests that don't set `themeId`. When specified, all fields of the `backgroundImageFile` must be set."
        },
        "colorRgb": {
          "description": "The color of this Team Drive as an RGB hex string. It can only be set on a `drive.teamdrives.update` request that does not set `themeId`.",
          "type": "string"
        },
        "capabilities": {
          "properties": {
            "canChangeTeamDriveBackground": {
              "type": "boolean",
              "description": "Whether the current user can change the background of this Team Drive."
            },
            "canAddChildren": {
              "description": "Whether the current user can add children to folders in this Team Drive.",
              "type": "boolean"
            },
            "canManageMembers": {
              "type": "boolean",
              "description": "Whether the current user can add members to this Team Drive or remove them or change their role."
            },
            "canComment": {
              "description": "Whether the current user can comment on files in this Team Drive.",
              "type": "boolean"
            },
            "canCopy": {
              "type": "boolean",
              "description": "Whether the current user can copy files in this Team Drive."
            },
            "canDeleteTeamDrive": {
              "type": "boolean",
              "description": "Whether the current user can delete this Team Drive. Attempting to delete the Team Drive may still fail if there are untrashed items inside the Team Drive."
            },
            "canReadRevisions": {
              "description": "Whether the current user can read the revisions resource of files in this Team Drive.",
              "type": "boolean"
            },
            "canRenameTeamDrive": {
              "description": "Whether the current user can rename this Team Drive.",
              "type": "boolean"
            },
            "canRename": {
              "type": "boolean",
              "description": "Whether the current user can rename files or folders in this Team Drive."
            },
            "canChangeSharingFoldersRequiresOrganizerPermissionRestriction": {
              "description": "Whether the current user can change the `sharingFoldersRequiresOrganizerPermission` restriction of this Team Drive.",
              "type": "boolean"
            },
            "canDeleteChildren": {
              "description": "Whether the current user can delete children from folders in this Team Drive.",
              "type": "boolean"
            },
            "canChangeCopyRequiresWriterPermissionRestriction": {
              "description": "Whether the current user can change the `copyRequiresWriterPermission` restriction of this Team Drive.",
              "type": "boolean"
            },
            "canEdit": {
              "description": "Whether the current user can edit files in this Team Drive",
              "type": "boolean"
            },
            "canShare": {
              "type": "boolean",
              "description": "Whether the current user can share files or folders in this Team Drive."
            },
            "canResetTeamDriveRestrictions": {
              "description": "Whether the current user can reset the Team Drive restrictions to defaults.",
              "type": "boolean"
            },
            "canRemoveChildren": {
              "description": "Deprecated: Use `canDeleteChildren` or `canTrashChildren` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canTrashChildren": {
              "type": "boolean",
              "description": "Whether the current user can trash children from folders in this Team Drive."
            },
            "canDownload": {
              "description": "Whether the current user can download files in this Team Drive.",
              "type": "boolean"
            },
            "canListChildren": {
              "description": "Whether the current user can list the children of folders in this Team Drive.",
              "type": "boolean"
            },
            "canChangeDomainUsersOnlyRestriction": {
              "type": "boolean",
              "description": "Whether the current user can change the `domainUsersOnly` restriction of this Team Drive."
            },
            "canChangeTeamMembersOnlyRestriction": {
              "description": "Whether the current user can change the `teamMembersOnly` restriction of this Team Drive.",
              "type": "boolean"
            }
          },
          "description": "Capabilities the current user has on this Team Drive.",
          "type": "object"
        },
        "orgUnitId": {
          "type": "string",
          "description": "The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`."
        },
        "kind": {
          "description": "This is always `drive#teamDrive`",
          "type": "string",
          "default": "drive#teamDrive"
        },
        "createdDate": {
          "format": "date-time",
          "type": "string",
          "description": "The time at which the Team Drive was created (RFC 3339 date-time)."
        },
        "restrictions": {
          "properties": {
            "teamMembersOnly": {
              "description": "Whether access to items inside this Team Drive is restricted to members of this Team Drive.",
              "type": "boolean"
            },
            "sharingFoldersRequiresOrganizerPermission": {
              "type": "boolean",
              "description": "If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders."
            },
            "copyRequiresWriterPermission": {
              "type": "boolean",
              "description": "Whether the options to copy, print, or download files inside this Team Drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this Team Drive."
            },
            "domainUsersOnly": {
              "description": "Whether access to this Team Drive and items inside this Team Drive is restricted to users of the domain to which this Team Drive belongs. This restriction may be overridden by other sharing policies controlled outside of this Team Drive.",
              "type": "boolean"
            },
            "adminManagedRestrictions": {
              "description": "Whether administrative privileges on this Team Drive are required to modify restrictions.",
              "type": "boolean"
            }
          },
          "type": "object",
          "description": "A set of restrictions that apply to this Team Drive or items inside this Team Drive."
        }
      }
    },
    "RevisionList": {
      "type": "object",
      "id": "RevisionList",
      "description": "A list of revisions of a file.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `drive#revisionList`.",
          "default": "drive#revisionList"
        },
        "items": {
          "items": {
            "$ref": "Revision"
          },
          "type": "array",
          "description": "The list of revisions. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched."
        },
        "nextPageToken": {
          "description": "The page token for the next page of revisions. This field will be absent if the end of the revisions list has been reached. If the token is rejected for any reason, it should be discarded and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the list."
        }
      }
    },
    "Drive": {
      "id": "Drive",
      "description": "Representation of a shared drive. Some resource methods (such as `drives.update`) require a `driveId`. Use the `drives.list` method to retrieve the ID for a shared drive.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Output only. The ID of this shared drive which is also the ID of the top level folder of this shared drive.",
          "type": "string"
        },
        "hidden": {
          "description": "Whether the shared drive is hidden from default view.",
          "type": "boolean"
        },
        "backgroundImageLink": {
          "type": "string",
          "description": "Output only. A short-lived link to this shared drive's background image."
        },
        "themeId": {
          "description": "The ID of the theme from which the background image and color will be set. The set of possible `driveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.drives.insert` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of this shared drive.",
          "annotations": {
            "required": [
              "drive.drives.insert"
            ]
          }
        },
        "backgroundImageFile": {
          "properties": {
            "xCoordinate": {
              "format": "float",
              "description": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image.",
              "type": "number"
            },
            "width": {
              "type": "number",
              "description": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high.",
              "format": "float"
            },
            "id": {
              "description": "The ID of an image file in Google Drive to use for the background image.",
              "type": "string"
            },
            "yCoordinate": {
              "type": "number",
              "description": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image.",
              "format": "float"
            }
          },
          "type": "object",
          "description": "An image file and cropping parameters from which a background image for this shared drive is set. This is a write only field; it can only be set on `drive.drives.update` requests that don't set `themeId`. When specified, all fields of the `backgroundImageFile` must be set."
        },
        "colorRgb": {
          "type": "string",
          "description": "The color of this shared drive as an RGB hex string. It can only be set on a `drive.drives.update` request that does not set `themeId`."
        },
        "capabilities": {
          "description": "Output only. Capabilities the current user has on this shared drive.",
          "type": "object",
          "properties": {
            "canDeleteDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can delete this shared drive. Attempting to delete the shared drive may still fail if there are untrashed items inside the shared drive."
            },
            "canEdit": {
              "type": "boolean",
              "description": "Output only. Whether the current user can edit files in this shared drive"
            },
            "canShare": {
              "type": "boolean",
              "description": "Output only. Whether the current user can share files or folders in this shared drive."
            },
            "canChangeSharingFoldersRequiresOrganizerPermissionRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the `sharingFoldersRequiresOrganizerPermission` restriction of this shared drive."
            },
            "canDeleteChildren": {
              "description": "Output only. Whether the current user can delete children from folders in this shared drive.",
              "type": "boolean"
            },
            "canChangeCopyRequiresWriterPermissionRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this shared drive."
            },
            "canResetDriveRestrictions": {
              "description": "Output only. Whether the current user can reset the shared drive restrictions to defaults.",
              "type": "boolean"
            },
            "canDownload": {
              "description": "Output only. Whether the current user can download files in this shared drive.",
              "type": "boolean"
            },
            "canListChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can list the children of folders in this shared drive."
            },
            "canChangeDomainUsersOnlyRestriction": {
              "description": "Output only. Whether the current user can change the `domainUsersOnly` restriction of this shared drive.",
              "type": "boolean"
            },
            "canTrashChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can trash children from folders in this shared drive."
            },
            "canChangeDriveMembersOnlyRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the `driveMembersOnly` restriction of this shared drive."
            },
            "canReadRevisions": {
              "type": "boolean",
              "description": "Output only. Whether the current user can read the revisions resource of files in this shared drive."
            },
            "canRename": {
              "type": "boolean",
              "description": "Output only. Whether the current user can rename files or folders in this shared drive."
            },
            "canManageMembers": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add members to this shared drive or remove them or change their role."
            },
            "canAddChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add children to folders in this shared drive."
            },
            "canRenameDrive": {
              "description": "Output only. Whether the current user can rename this shared drive.",
              "type": "boolean"
            },
            "canChangeDriveBackground": {
              "description": "Output only. Whether the current user can change the background of this shared drive.",
              "type": "boolean"
            },
            "canComment": {
              "description": "Output only. Whether the current user can comment on files in this shared drive.",
              "type": "boolean"
            },
            "canCopy": {
              "description": "Output only. Whether the current user can copy files in this shared drive.",
              "type": "boolean"
            }
          }
        },
        "orgUnitId": {
          "description": "Output only. The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Output only. This is always `drive#drive`",
          "default": "drive#drive"
        },
        "createdDate": {
          "format": "date-time",
          "type": "string",
          "description": "The time at which the shared drive was created (RFC 3339 date-time)."
        },
        "restrictions": {
          "description": "A set of restrictions that apply to this shared drive or items inside this shared drive.",
          "type": "object",
          "properties": {
            "domainUsersOnly": {
              "description": "Whether access to this shared drive and items inside this shared drive is restricted to users of the domain to which this shared drive belongs. This restriction may be overridden by other sharing policies controlled outside of this shared drive.",
              "type": "boolean"
            },
            "adminManagedRestrictions": {
              "type": "boolean",
              "description": "Whether administrative privileges on this shared drive are required to modify restrictions."
            },
            "driveMembersOnly": {
              "type": "boolean",
              "description": "Whether access to items inside this shared drive is restricted to its members."
            },
            "copyRequiresWriterPermission": {
              "type": "boolean",
              "description": "Whether the options to copy, print, or download files inside this shared drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this shared drive."
            },
            "sharingFoldersRequiresOrganizerPermission": {
              "description": "If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders.",
              "type": "boolean"
            }
          }
        }
      }
    },
    "DecryptionMetadata": {
      "properties": {
        "kaclsId": {
          "format": "int64",
          "description": "The ID of the KACLS (Key ACL Service) used to encrypt the file.",
          "type": "string"
        },
        "keyFormat": {
          "type": "string",
          "description": "Key format for the unwrapped key. Must be `tinkAesGcmKey`."
        },
        "aes256GcmChunkSize": {
          "description": "Chunk size used if content was encrypted with the AES 256 GCM Cipher. Possible values are: - default - small ",
          "type": "string"
        },
        "kaclsName": {
          "type": "string",
          "description": "The name of the KACLS (Key ACL Service) used to encrypt the file."
        },
        "jwt": {
          "type": "string",
          "description": "The signed JSON Web Token (JWT) which can be used to authorize the requesting user with the Key ACL Service (KACLS). The JWT asserts that the requesting user has at least read permissions on the file."
        },
        "encryptionResourceKeyHash": {
          "type": "string",
          "description": "The URL-safe Base64 encoded HMAC-SHA256 digest of the resource metadata with its DEK (Data Encryption Key); see https://developers.google.com/workspace/cse/reference"
        },
        "wrappedKey": {
          "type": "string",
          "description": "The URL-safe Base64 encoded wrapped key used to encrypt the contents of the file."
        }
      },
      "type": "object",
      "id": "DecryptionMetadata",
      "description": "Representation of the CSE DecryptionMetadata."
    },
    "File": {
      "type": "object",
      "id": "File",
      "description": "The metadata for a file. Some resource methods (such as `files.update`) require a `fileId`. Use the `files.list` method to retrieve the ID for a file.",
      "properties": {
        "kind": {
          "description": "Output only. The type of file. This is always `drive#file`.",
          "type": "string",
          "default": "drive#file"
        },
        "etag": {
          "description": "Output only. ETag of the file.",
          "type": "string"
        },
        "labelInfo": {
          "description": "Output only. An overview of the labels on the file.",
          "type": "object",
          "properties": {
            "labels": {
              "description": "Output only. The set of labels on the file as requested by the label IDs in the `includeLabels` parameter. By default, no labels are returned.",
              "type": "array",
              "items": {
                "$ref": "Label"
              }
            }
          }
        },
        "sha256Checksum": {
          "type": "string",
          "description": "Output only. The SHA256 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files."
        },
        "trashedDate": {
          "format": "date-time",
          "type": "string",
          "description": "The time that the item was trashed (formatted RFC 3339 timestamp). Only populated for items in shared drives."
        },
        "sharingUser": {
          "$ref": "User",
          "description": "Output only. User that shared the item with the current user, if available."
        },
        "isAppAuthorized": {
          "type": "boolean",
          "description": "Output only. Whether the file was created or opened by the requesting app."
        },
        "createdDate": {
          "description": "Create time for this file (formatted RFC 3339 timestamp).",
          "type": "string",
          "format": "date-time"
        },
        "exportLinks": {
          "description": "Output only. Links for exporting Docs Editors files to specific formats.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true
        },
        "md5Checksum": {
          "type": "string",
          "description": "Output only. An MD5 checksum for the content of this file. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files."
        },
        "fileSize": {
          "description": "Output only. Size in bytes of blobs and first party editor files. Won't be populated for files that have no size, like shortcuts and folders.",
          "type": "string",
          "format": "int64"
        },
        "userPermission": {
          "$ref": "Permission",
          "description": "Output only. The permissions for the authenticated user on this file."
        },
        "alternateLink": {
          "type": "string",
          "description": "Output only. A link for opening the file in a relevant Google editor or viewer."
        },
        "defaultOpenWithLink": {
          "type": "string",
          "description": "Output only. A link to open this file with the user's default app for this file. Only populated when the drive.apps.readonly scope is used."
        },
        "iconLink": {
          "description": "Output only. A link to the file's icon.",
          "type": "string"
        },
        "teamDriveId": {
          "type": "string",
          "description": "Output only. Deprecated: Use `driveId` instead.",
          "deprecated": true
        },
        "clientEncryptionDetails": {
          "$ref": "ClientEncryptionDetails",
          "description": "Client Side Encryption related details. Contains details about the encryption state of the file and details regarding the encryption mechanism that clients need to use when decrypting the contents of this item. This will only be present on files and not on folders or shortcuts."
        },
        "lastModifyingUser": {
          "description": "Output only. The last user to modify this file. This field is only populated when the last modification was performed by a signed-in user.",
          "$ref": "User"
        },
        "originalFilename": {
          "type": "string",
          "description": "The original filename of the uploaded content if available, or else the original value of the `title` field. This is only available for files with binary content in Google Drive."
        },
        "ownerNames": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Name(s) of the owner(s) of this file. Not populated for items in shared drives.",
          "type": "array"
        },
        "trashingUser": {
          "description": "Output only. If the file has been explicitly trashed, the user who trashed it. Only populated for items in shared drives.",
          "$ref": "User"
        },
        "permissionIds": {
          "type": "array",
          "description": "Output only. List of permission IDs for users with access to this file.",
          "items": {
            "type": "string"
          }
        },
        "headRevisionId": {
          "description": "Output only. The ID of the file's head revision. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "linkShareMetadata": {
          "properties": {
            "securityUpdateEnabled": {
              "description": "Output only. Whether the security update is enabled for this file.",
              "type": "boolean"
            },
            "securityUpdateEligible": {
              "description": "Output only. Whether the file is eligible for security update.",
              "type": "boolean"
            }
          },
          "description": "Contains details about the link URLs that clients are using to refer to this item.",
          "type": "object"
        },
        "copyable": {
          "description": "Output only. Deprecated: Use `capabilities/canCopy` instead.",
          "deprecated": true,
          "type": "boolean"
        },
        "labels": {
          "properties": {
            "viewed": {
              "type": "boolean",
              "description": "Whether this file has been viewed by this user."
            },
            "restricted": {
              "description": "Output only. Deprecated: Use `copyRequiresWriterPermission` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "hidden": {
              "description": "Output only. Deprecated.",
              "deprecated": true,
              "type": "boolean"
            },
            "modified": {
              "type": "boolean",
              "description": "Output only. Whether the file has been modified by this user."
            },
            "starred": {
              "description": "Whether this file is starred by the user.",
              "type": "boolean"
            },
            "trashed": {
              "type": "boolean",
              "description": "Whether this file has been trashed. This label applies to all users accessing the file; however, only owners are allowed to see and untrash files."
            }
          },
          "type": "object",
          "description": "A group of labels for the file."
        },
        "sharedWithMeDate": {
          "type": "string",
          "description": "Time at which this file was shared with the user (formatted RFC 3339 timestamp).",
          "format": "date-time"
        },
        "description": {
          "type": "string",
          "description": "A short description of the file."
        },
        "shareable": {
          "type": "boolean",
          "description": "Output only. Deprecated: Use `capabilities/canShare` instead.",
          "deprecated": true
        },
        "driveId": {
          "type": "string",
          "description": "Output only. ID of the shared drive the file resides in. Only populated for items in shared drives."
        },
        "fullFileExtension": {
          "type": "string",
          "description": "Output only. The full file extension; extracted from the title. May contain multiple concatenated extensions, such as \"tar.gz\". Removing an extension from the title does not clear this field; however, changing the extension on the title does update this field. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files."
        },
        "webContentLink": {
          "description": "Output only. A link for downloading the content of the file in a browser using cookie based authentication. In cases where the content is shared publicly, the content can be downloaded without any credentials.",
          "type": "string"
        },
        "writersCanShare": {
          "type": "boolean",
          "description": "Whether writers can share the document with other users. Not populated for items in shared drives."
        },
        "title": {
          "description": "The title of this file. Note that for immutable items such as the top level folders of shared drives, My Drive root folder, and Application Data folder the title is constant.",
          "type": "string"
        },
        "version": {
          "format": "int64",
          "description": "Output only. A monotonically increasing version number for the file. This reflects every change made to the file on the server, even those not visible to the requesting user.",
          "type": "string"
        },
        "hasAugmentedPermissions": {
          "type": "boolean",
          "description": "Output only. Whether there are permissions directly on this file. This field is only populated for items in shared drives."
        },
        "sha1Checksum": {
          "type": "string",
          "description": "Output only. The SHA1 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files."
        },
        "permissions": {
          "type": "array",
          "description": "Output only. The list of permissions for users with access to this file. Not populated for items in shared drives.",
          "items": {
            "$ref": "Permission"
          }
        },
        "folderColorRgb": {
          "description": "Folder color as an RGB hex string if the file is a folder or a shortcut to a folder. The list of supported colors is available in the folderColorPalette field of the About resource. If an unsupported color is specified, it will be changed to the closest color in the palette.",
          "type": "string"
        },
        "capabilities": {
          "type": "object",
          "description": "Output only. Capabilities the current user has on this file. Each capability corresponds to a fine-grained action that a user may take.",
          "properties": {
            "canDelete": {
              "description": "Output only. Whether the current user can delete this file.",
              "type": "boolean"
            },
            "canEdit": {
              "type": "boolean",
              "description": "Output only. Whether the current user can edit this file. Other factors may limit the type of changes a user can make to a file. For example, see `canChangeCopyRequiresWriterPermission` or `canModifyContent`."
            },
            "canAddFolderFromAnotherDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add a folder from another drive (different shared drive or My Drive) to this folder. This is false when the item is not a folder. Only populated for items in shared drives."
            },
            "canMoveItemIntoTeamDrive": {
              "description": "Output only. Deprecated: Use `canMoveItemOutOfDrive` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canDeleteChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can delete children of this folder. This is false when the item is not a folder. Only populated for items in shared drives."
            },
            "canReadTeamDrive": {
              "type": "boolean",
              "description": "Output only. Deprecated: Use `canReadDrive` instead.",
              "deprecated": true
            },
            "canMoveItemOutOfTeamDrive": {
              "description": "Output only. Deprecated: Use `canMoveItemOutOfDrive` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canDownload": {
              "description": "Output only. Whether the current user can download this file.",
              "type": "boolean"
            },
            "canMoveChildrenOutOfDrive": {
              "description": "Output only. Whether the current user can move children of this folder outside of the shared drive. This is false when the item is not a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canMoveItemWithinDrive": {
              "description": "Output only. Whether the current user can move this item within this drive. Note that a request to change the parent of the item may still fail depending on the new parent that is being added and the parent that is being removed.",
              "type": "boolean"
            },
            "canMoveItemWithinTeamDrive": {
              "type": "boolean",
              "description": "Output only. Deprecated: Use `canMoveItemWithinDrive` instead.",
              "deprecated": true
            },
            "canAddMyDriveParent": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add a parent for the item without removing an existing parent in the same request. Not populated for shared drive files."
            },
            "canReadDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can read the shared drive to which this file belongs. Only populated for items in shared drives."
            },
            "canRemoveMyDriveParent": {
              "type": "boolean",
              "description": "Output only. Whether the current user can remove a parent from the item without adding another parent in the same request. Not populated for shared drive files."
            },
            "canEnableInheritedPermissions": {
              "readOnly": true,
              "description": "Output only. Whether a user can re-enable inherited permissions.",
              "type": "boolean"
            },
            "canRename": {
              "description": "Output only. Whether the current user can rename this file.",
              "type": "boolean"
            },
            "canMoveItemOutOfDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can move this item outside of this drive by changing its parent. Note that a request to change the parent of the item may still fail depending on the new parent that is being added."
            },
            "canAddChildren": {
              "description": "Output only. Whether the current user can add children to this folder. This is always false when the item is not a folder.",
              "type": "boolean"
            },
            "canComment": {
              "description": "Output only. Whether the current user can comment on this file.",
              "type": "boolean"
            },
            "canShare": {
              "description": "Output only. Whether the current user can modify the sharing settings for this file.",
              "type": "boolean"
            },
            "canChangeSecurityUpdateEnabled": {
              "description": "Output only. Whether the current user can change the securityUpdateEnabled field on link share metadata.",
              "type": "boolean"
            },
            "canReadLabels": {
              "description": "Output only. Whether the current user can read the labels on the file.",
              "type": "boolean"
            },
            "canRemoveContentRestriction": {
              "description": "Output only. Whether there is a content restriction on the file that can be removed by the current user.",
              "type": "boolean"
            },
            "canUntrash": {
              "type": "boolean",
              "description": "Output only. Whether the current user can restore this file from trash."
            },
            "canListChildren": {
              "description": "Output only. Whether the current user can list the children of this folder. This is always false when the item is not a folder.",
              "type": "boolean"
            },
            "canRemoveChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can remove children from this folder. This is always false when the item is not a folder. For a folder in a shared drive, use `canDeleteChildren` or `canTrashChildren` instead."
            },
            "canChangeCopyRequiresWriterPermission": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this file."
            },
            "canTrashChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can trash children of this folder. This is false when the item is not a folder. Only populated for items in shared drives."
            },
            "canMoveChildrenWithinDrive": {
              "description": "Output only. Whether the current user can move children of this folder within this drive. This is false when the item is not a folder. Note that a request to move the child may still fail depending on the current user's access to the child and to the destination folder.",
              "type": "boolean"
            },
            "canTrash": {
              "description": "Output only. Whether the current user can move this file to trash.",
              "type": "boolean"
            },
            "canMoveTeamDriveItem": {
              "description": "Output only. Deprecated: Use `canMoveItemWithinDrive` or `canMoveItemOutOfDrive` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canModifyContentRestriction": {
              "description": "Deprecated: Output only. Use one of `canModifyEditorContentRestriction`, `canModifyOwnerContentRestriction` or `canRemoveContentRestriction`.",
              "deprecated": true,
              "type": "boolean"
            },
            "canMoveChildrenOutOfTeamDrive": {
              "type": "boolean",
              "description": "Output only. Deprecated: Use `canMoveChildrenOutOfDrive` instead.",
              "deprecated": true
            },
            "canModifyOwnerContentRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add or modify content restrictions which are owner restricted."
            },
            "canReadRevisions": {
              "type": "boolean",
              "description": "Output only. Whether the current user can read the revisions resource of this file. For a shared drive item, whether revisions of non-folder descendants of this item, or this item itself if it is not a folder, can be read."
            },
            "canChangeRestrictedDownload": {
              "description": "Output only. Deprecated.",
              "deprecated": true,
              "type": "boolean"
            },
            "canModifyContent": {
              "type": "boolean",
              "description": "Output only. Whether the current user can modify the content of this file."
            },
            "canAcceptOwnership": {
              "description": "Output only. Whether the current user is the pending owner of the file. Not populated for shared drive files.",
              "type": "boolean"
            },
            "canModifyLabels": {
              "type": "boolean",
              "description": "Output only. Whether the current user can modify the labels on the file."
            },
            "canDisableInheritedPermissions": {
              "description": "Output only. Whether a user can disable inherited permissions.",
              "type": "boolean",
              "readOnly": true
            },
[...]
