{
  "servicePath": "drive/v3/",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "description": "The Google Drive API allows clients to access resources from Google Drive.",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "drive:v3",
  "baseUrl": "https://www.googleapis.com/drive/v3/",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/drive.scripts": {
          "description": "Modify your Google Apps Script scripts' behavior"
        },
        "https://www.googleapis.com/auth/drive.metadata": {
          "description": "View and manage metadata of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.photos.readonly": {
          "description": "View the photos, videos and albums in your Google Photos"
        },
        "https://www.googleapis.com/auth/drive.meet.readonly": {
          "description": "See and download your Google Drive files that were created or edited by Google Meet."
        },
        "https://www.googleapis.com/auth/drive.apps.readonly": {
          "description": "View your Google Drive apps"
        },
        "https://www.googleapis.com/auth/drive.metadata.readonly": {
          "description": "See information about your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "See, create, and delete its own configuration data in your Google Drive"
        }
      }
    }
  },
  "revision": "20260805",
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/workspace/drive/",
  "schemas": {
    "ModifyLabelsResponse": {
      "description": "Response to a `ModifyLabels` request. This contains only those labels which were added or updated by the request.",
      "type": "object",
      "properties": {
        "modifiedLabels": {
          "description": "The list of labels which were added or updated by the request.",
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        },
        "kind": {
          "description": "This is always `\"drive#modifyLabelsResponse\"`.",
          "type": "string"
        }
      },
      "id": "ModifyLabelsResponse"
    },
    "ApproveApprovalRequest": {
      "properties": {
        "message": {
          "description": "Optional. A message to accompany the reviewer response on the approval. This message is included in notifications for the action and in the approval activity log.",
          "type": "string"
        }
      },
      "description": "Request for approving an approval as a reviewer.",
      "type": "object",
      "id": "ApproveApprovalRequest"
    },
    "DriveList": {
      "properties": {
        "nextPageToken": {
          "description": "The page token for the next page of shared drives. This will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        },
        "drives": {
          "description": "The list of shared drives. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "Drive"
          }
        },
        "kind": {
          "default": "drive#driveList",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#driveList\"`.",
          "type": "string"
        }
      },
      "description": "A list of shared drives.",
      "type": "object",
      "id": "DriveList"
    },
    "ReassignApprovalRequest": {
      "description": "Request for reassigning an approval. Reviewers can be added or replaced, but not removed.",
      "type": "object",
      "properties": {
        "message": {
          "description": "Optional. A message to send to the new reviewers. This message is included in notifications for the action and in the approval activity log.",
          "type": "string"
        },
        "addReviewers": {
          "description": "Optional. The list of reviewers to add.",
          "type": "array",
          "items": {
            "$ref": "AddReviewer"
          }
        },
        "replaceReviewers": {
          "items": {
            "$ref": "ReplaceReviewer"
          },
          "description": "Optional. The list of reviewer replacements.",
          "type": "array"
        }
      },
      "id": "ReassignApprovalRequest"
    },
    "Status": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status"
    },
    "LabelField": {
      "id": "LabelField",
      "properties": {
        "valueType": {
          "description": "The field type. While new values may be supported in the future, the following are currently allowed: * `dateString` * `integer` * `selection` * `text` * `user`",
          "type": "string"
        },
        "id": {
          "description": "The identifier of this label field.",
          "type": "string"
        },
        "selection": {
          "items": {
            "type": "string"
          },
          "description": "Only present if `valueType` is `selection`",
          "type": "array"
        },
        "dateString": {
          "description": "Only present if valueType is dateString. RFC 3339 formatted date: YYYY-MM-DD.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "date"
          }
        },
        "integer": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Only present if `valueType` is `integer`.",
          "type": "array"
        },
        "user": {
          "description": "Only present if `valueType` is `user`.",
          "type": "array",
          "items": {
            "$ref": "User"
          }
        },
        "kind": {
          "description": "This is always drive#labelField.",
          "type": "string"
        },
        "text": {
          "description": "Only present if `valueType` is `text`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Representation of field, which is a typed key-value pair.",
      "type": "object"
    },
    "File": {
      "properties": {
        "starred": {
          "description": "Whether the user has starred the file.",
          "type": "boolean"
        },
        "videoMediaMetadata": {
          "properties": {
            "height": {
              "description": "Output only. The height of the video in pixels.",
              "type": "integer",
              "format": "int32"
            },
            "durationMillis": {
              "format": "int64",
              "description": "Output only. The duration of the video in milliseconds.",
              "type": "string"
            },
            "width": {
              "description": "Output only. The width of the video in pixels.",
              "type": "integer",
              "format": "int32"
            }
          },
          "description": "Output only. Additional metadata about video media. This may not be available immediately upon upload.",
          "type": "object"
        },
        "sha1Checksum": {
          "description": "Output only. The SHA1 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it's not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "shortcutDetails": {
          "properties": {
            "targetMimeType": {
              "description": "Output only. The MIME type of the file that this shortcut points to. The value of this field is a snapshot of the target's MIME type, captured when the shortcut is created.",
              "type": "string"
            },
            "targetId": {
              "description": "The ID of the file that this shortcut points to. Can only be set on `files.create` requests.",
              "type": "string"
            },
            "targetResourceKey": {
              "description": "Output only. The `resourceKey` for the target file.",
              "type": "string"
            }
          },
          "description": "Information about a shortcut file.",
          "type": "object"
        },
        "viewersCanCopyContent": {
          "deprecated": true,
          "description": "Deprecated: Use `copyRequiresWriterPermission` instead.",
          "type": "boolean"
        },
        "id": {
          "description": "The ID of the file.",
          "type": "string"
        },
        "appProperties": {
          "description": "A collection of arbitrary key-value pairs which are private to the requesting app.\nEntries with null values are cleared in update and copy requests. These properties can only be retrieved using an authenticated request. An authenticated request uses an access token obtained with a OAuth 2 client ID. You cannot use an API key to retrieve private properties.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "viewedByMeTime": {
          "description": "The last time the file was viewed by the user (RFC 3339 date-time).",
          "type": "string",
          "format": "date-time"
        },
        "viewedByMe": {
          "description": "Output only. Whether the file has been viewed by this user.",
          "type": "boolean"
        },
        "spaces": {
          "description": "Output only. The list of spaces which contain the file. The currently supported values are `drive`, `appDataFolder`, and `photos`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "iconLink": {
          "description": "Output only. A static, unauthenticated link to the file's icon.",
          "type": "string"
        },
        "modifiedByMe": {
          "description": "Output only. Whether the file has been modified by this user.",
          "type": "boolean"
        },
        "name": {
          "description": "The name of the file. This isn't necessarily unique within a folder. Note that for immutable items such as the top-level folders of shared drives, the My Drive root folder, and the Application Data folder, the name is constant.",
          "type": "string"
        },
        "writersCanShare": {
          "description": "Whether users with only `writer` permission can modify the file's permissions. Not populated for items in shared drives.",
          "type": "boolean"
        },
        "modifiedTime": {
          "description": "he last time the file was modified by anyone (RFC 3339 date-time). Note that setting modifiedTime will also update modifiedByMeTime for the user.",
          "type": "string",
          "format": "date-time"
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#file\"`.",
          "type": "string",
          "default": "drive#file"
        },
        "owners": {
          "description": "Output only. The owner of this file. Only certain legacy files may have more than one owner. This field isn't populated for items in shared drives.",
          "type": "array",
          "items": {
            "$ref": "User"
          }
        },
        "originalFilename": {
          "description": "The original filename of the uploaded content if available, or else the original value of the `name` field. This is only available for files with binary content in Google Drive.",
          "type": "string"
        },
        "createdTime": {
          "format": "date-time",
          "description": "The time at which the file was created (RFC 3339 date-time).",
          "type": "string"
        },
        "inheritedPermissionsDisabled": {
          "description": "Whether this file has inherited permissions disabled. Inherited permissions are enabled by default.",
          "type": "boolean"
        },
        "thumbnailLink": {
          "description": "Output only. A short-lived link to the file's thumbnail, if available. Typically lasts on the order of hours. Not intended for direct usage on web applications due to [Cross-Origin Resource Sharing (CORS)](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) policies. Consider using a proxy server. Only populated when the requesting app can access the file's content. If the file isn't shared publicly, the URL returned in `files.thumbnailLink` must be fetched using a credentialed request.",
          "type": "string"
        },
        "sharingUser": {
          "$ref": "User",
          "description": "Output only. The user who shared the file with the requesting user, if applicable."
        },
        "isAppAuthorized": {
          "description": "Output only. Whether the file was created or opened by the requesting app.",
          "type": "boolean"
        },
        "fullFileExtension": {
          "description": "Output only. The full file extension extracted from the `name` field. May contain multiple concatenated extensions, such as \"tar.gz\". This is only available for files with binary content in Google Drive. This is automatically updated when the `name` field changes, however it's not cleared if the new name doesn't contain a valid extension.",
          "type": "string"
        },
        "driveId": {
          "description": "Output only. ID of the shared drive the file resides in. Only populated for items in shared drives.",
          "type": "string"
        },
        "description": {
          "description": "A short description of the file.",
          "type": "string"
        },
        "modifiedByMeTime": {
          "format": "date-time",
          "description": "The last time the file was modified by the user (RFC 3339 date-time).",
          "type": "string"
        },
        "shared": {
          "description": "Output only. Whether the file has been shared. Not populated for items in shared drives.",
          "type": "boolean"
        },
        "trashed": {
          "description": "Whether the file has been trashed, either explicitly or from a trashed parent folder. Only the owner may trash a file, but other users can still access the file in the owner's trash until it's permanently deleted.",
          "type": "boolean"
        },
        "permissionIds": {
          "items": {
            "type": "string"
          },
          "description": "Output only. List of permission IDs for users with access to this file.",
          "type": "array"
        },
        "contentHints": {
          "properties": {
            "indexableText": {
              "description": "Text to be indexed for the file to improve fullText queries. This is limited to 128 KB in length and may contain HTML elements.",
              "type": "string"
            },
            "thumbnail": {
              "properties": {
                "image": {
                  "format": "byte",
                  "description": "The thumbnail data encoded with URL-safe Base64 ([RFC 4648 section 5](https://datatracker.ietf.org/doc/html/rfc4648#section-5)).",
                  "type": "string"
                },
                "mimeType": {
                  "description": "The MIME type of the thumbnail.",
                  "type": "string"
                }
              },
              "description": "A thumbnail for the file. This will only be used if Google Drive cannot generate a standard thumbnail.",
              "type": "object"
            }
          },
          "description": "Additional information about the content of the file. These fields are never populated in responses.",
          "type": "object"
        },
        "size": {
          "description": "Output only. Size in bytes of blobs and Google Workspace editor files. Won't be populated for files that have no size, like shortcuts and folders.",
          "type": "string",
          "format": "int64"
        },
        "parents": {
          "description": "The ID of the parent folder containing the file. A file can only have one parent folder; specifying multiple parents isn't supported. If not specified as part of a create request, the file is placed directly in the user's My Drive folder. If not specified as part of a copy request, the file inherits any discoverable parent of the source file. Update requests must use the `addParents` and `removeParents` parameters to modify the parents list.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "hasThumbnail": {
          "description": "Output only. Whether this file has a thumbnail. This doesn't indicate whether the requesting app has access to the thumbnail. To check access, look for the presence of the thumbnailLink field.",
          "type": "boolean"
        },
        "folderColorRgb": {
          "description": "The color for a folder or a shortcut to a folder as an RGB hex string. The supported colors are published in the `folderColorPalette` field of the [`about`](/workspace/drive/api/reference/rest/v3/about) resource. If an unsupported color is specified, the closest color in the palette is used instead.",
          "type": "string"
        },
        "version": {
          "format": "int64",
          "description": "Output only. A monotonically increasing version number for the file. This reflects every change made to the file on the server, even those not visible to the user.",
          "type": "string"
        },
        "capabilities": {
          "properties": {
            "canReadRevisions": {
              "description": "Output only. Whether the current user can read the revisions resource of this file. For a shared drive item, whether revisions of non-folder descendants of this item, or this item if it's not a folder, can be read.",
              "type": "boolean"
            },
            "canComment": {
              "description": "Output only. Whether the current user can comment on this file.",
              "type": "boolean"
            },
            "canStartApproval": {
              "description": "Whether the current user can start an approval on the file.",
              "type": "boolean"
            },
            "canReadTeamDrive": {
              "description": "Deprecated: Output only. Use `canReadDrive` instead.",
              "type": "boolean",
              "deprecated": true
            },
            "canAcceptOwnership": {
              "description": "Output only. Whether the current user is the pending owner of the file. Not populated for shared drive files.",
              "type": "boolean"
            },
            "canModifyLabels": {
              "description": "Output only. Whether the current user can modify the labels on the file.",
              "type": "boolean"
            },
            "canDelete": {
              "description": "Output only. Whether the current user can delete this file.",
              "type": "boolean"
            },
            "canTrashChildren": {
              "description": "Output only. Whether the current user can trash children of this folder. This is `false` when the item isn't a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canReadLabels": {
              "description": "Output only. Whether the current user can read the labels on the file.",
              "type": "boolean"
            },
            "canReadDrive": {
              "description": "Output only. Whether the current user can read the shared drive to which this file belongs. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canDeleteChildren": {
              "description": "Output only. Whether the current user can delete children of this folder. This is `false` when the item isn't a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canChangeSecurityUpdateEnabled": {
              "description": "Output only. Whether the current user can change the `securityUpdateEnabled` field on link share metadata.",
              "type": "boolean"
            },
            "canEdit": {
              "description": "Output only. Whether the current user can edit this file. Other factors may limit the type of changes a user can make to a file. For example, see `canChangeCopyRequiresWriterPermission` or `canModifyContent`.",
              "type": "boolean"
            },
            "canCopy": {
              "description": "Output only. Whether the current user can copy this file. For an item in a shared drive, whether the current user can copy non-folder descendants of this item, or this item if it's not a folder.",
              "type": "boolean"
            },
            "canMoveItemWithinDrive": {
              "description": "Output only. Whether the current user can move this item within this drive. Note that a request to change the parent of the item may still fail depending on the new parent that's being added and the parent that is being removed.",
              "type": "boolean"
            },
            "canRemoveMyDriveParent": {
              "description": "Output only. Whether the current user can remove a parent from the item without adding another parent in the same request. Not populated for shared drive files.",
              "type": "boolean"
            },
            "canModifyOwnerContentRestriction": {
              "description": "Output only. Whether the current user can add or modify content restrictions which are owner restricted.",
              "type": "boolean"
            },
            "canAddMyDriveParent": {
              "description": "Output only. Whether the current user can add a parent for the item without removing an existing parent in the same request. Not populated for shared drive files.",
              "type": "boolean"
            },
            "canMoveItemWithinTeamDrive": {
              "deprecated": true,
              "description": "Deprecated: Output only. Use `canMoveItemWithinDrive` instead.",
              "type": "boolean"
            },
            "canMoveTeamDriveItem": {
              "deprecated": true,
              "description": "Deprecated: Output only. Use `canMoveItemWithinDrive` or `canMoveItemOutOfDrive` instead.",
              "type": "boolean"
            },
            "canListChildren": {
              "description": "Output only. Whether the current user can list the children of this folder. This is always `false` when the item isn't a folder.",
              "type": "boolean"
            },
            "canRemoveChildren": {
              "description": "Output only. Whether the current user can remove children from this folder. This is always `false` when the item isn't a folder. For a folder in a shared drive, use `canDeleteChildren` or `canTrashChildren` instead.",
              "type": "boolean"
            },
            "canEnableInheritedPermissions": {
              "description": "Whether a user can re-enable inherited permissions.",
              "type": "boolean"
            },
            "canMoveItemIntoTeamDrive": {
              "description": "Deprecated: Output only. Use `canMoveItemOutOfDrive` instead.",
              "type": "boolean",
              "deprecated": true
            },
            "canModifyContent": {
              "description": "Output only. Whether the current user can modify the content of this file.",
              "type": "boolean"
            },
            "canDisableInheritedPermissions": {
              "description": "Whether a user can disable inherited permissions.",
              "type": "boolean"
            },
            "canModifyEditorContentRestriction": {
              "description": "Output only. Whether the current user can add or modify content restrictions on the file which are editor restricted.",
              "type": "boolean"
            },
            "canMoveItemOutOfTeamDrive": {
              "description": "Deprecated: Output only. Use `canMoveItemOutOfDrive` instead.",
              "type": "boolean",
              "deprecated": true
            },
            "canDownload": {
              "description": "Output only. Whether the current user can download this file.",
              "type": "boolean"
            },
            "canMoveChildrenOutOfTeamDrive": {
              "description": "Deprecated: Output only. Use `canMoveChildrenOutOfDrive` instead.",
              "type": "boolean",
              "deprecated": true
            },
            "canChangeCopyRequiresWriterPermission": {
              "description": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this file.",
              "type": "boolean"
            },
            "canTrash": {
              "description": "Output only. Whether the current user can move this file to trash.",
              "type": "boolean"
            },
            "canAccessViaGenAi": {
              "description": "Whether the current user can access this file via Gen AI features. For more information, see [Drive MCP file eligibility](https://developers.google.com/workspace/drive/api/guides/drive-mcp-server-file-eligibility).",
              "type": "boolean"
            },
            "canMoveItemOutOfDrive": {
              "description": "Output only. Whether the current user can move this item outside of this drive by changing its parent. Note that a request to change the parent of the item may still fail depending on the new parent that's being added.",
              "type": "boolean"
            },
            "canUntrash": {
              "description": "Output only. Whether the current user can restore this file from trash.",
              "type": "boolean"
            },
            "canMoveChildrenOutOfDrive": {
              "description": "Output only. Whether the current user can move children of this folder outside of the shared drive. This is `false` when the item isn't a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canShare": {
              "description": "Output only. Whether the current user can modify the sharing settings for this file.",
              "type": "boolean"
            },
            "canRemoveContentRestriction": {
              "description": "Output only. Whether there's a content restriction on the file that can be removed by the current user.",
              "type": "boolean"
            },
            "canAddChildren": {
              "description": "Output only. Whether the current user can add children to this folder. This is always `false` when the item isn't a folder.",
              "type": "boolean"
            },
            "canChangeItemDownloadRestriction": {
              "description": "Output only. Whether the current user can change the owner or organizer-applied download restrictions of the file.",
              "type": "boolean"
            },
            "canChangeViewersCanCopyContent": {
              "deprecated": true,
              "description": "Deprecated: Output only.",
              "type": "boolean"
            },
            "canAddFolderFromAnotherDrive": {
              "description": "Output only. Whether the current user can add a folder from another drive (different shared drive or My Drive) to this folder. This is `false` when the item isn't a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canMoveChildrenWithinDrive": {
              "description": "Output only. Whether the current user can move children of this folder within this drive. This is `false` when the item isn't a folder. Note that a request to move the child may still fail depending on the current user's access to the child and to the destination folder.",
              "type": "boolean"
            },
            "canModifyContentRestriction": {
              "deprecated": true,
              "description": "Deprecated: Output only. Use one of `canModifyEditorContentRestriction`, `canModifyOwnerContentRestriction`, or `canRemoveContentRestriction`.",
              "type": "boolean"
            },
            "canRename": {
              "description": "Output only. Whether the current user can rename this file.",
              "type": "boolean"
            },
            "canMoveChildrenWithinTeamDrive": {
              "deprecated": true,
              "description": "Deprecated: Output only. Use `canMoveChildrenWithinDrive` instead.",
              "type": "boolean"
            }
          },
          "description": "Output only. Capabilities the current user has on this file. Each capability corresponds to a fine-grained action that a user may take. For more information, see [Understand file capabilities](https://developers.google.com/workspace/drive/api/guides/manage-sharing#capabilities).",
          "type": "object"
        },
        "fileExtension": {
          "description": "Output only. The final component of `fullFileExtension`. This is only available for files with binary content in Google Drive.",
          "type": "string"
        },
        "properties": {
          "description": "A collection of arbitrary key-value pairs which are visible to all apps.\nEntries with null values are cleared in update and copy requests.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "explicitlyTrashed": {
          "description": "Output only. Whether the file has been explicitly trashed, as opposed to recursively trashed from a parent folder.",
          "type": "boolean"
        },
        "webViewLink": {
          "description": "Output only. A link for opening the file in a relevant Google editor or viewer in a browser.",
          "type": "string"
        },
        "lastModifyingUser": {
          "$ref": "User",
          "description": "Output only. The last user to modify the file. This field is only populated when the last modification was performed by a signed-in user."
        },
        "webContentLink": {
          "description": "Output only. A link for downloading the content of the file in a browser. This is only available for files with binary content in Google Drive.",
          "type": "string"
        },
        "contentRestrictions": {
          "description": "Restrictions for accessing the content of the file. Only populated if such a restriction exists.",
          "type": "array",
          "items": {
            "$ref": "ContentRestriction"
          }
        },
        "md5Checksum": {
          "description": "Output only. The MD5 checksum for the content of the file. This is only applicable to files with binary content in Google Drive.",
          "type": "string"
        },
        "copyRequiresWriterPermission": {
          "description": "Whether the options to copy, print, or download this file should be disabled for readers and commenters.",
          "type": "boolean"
        },
        "permissions": {
          "description": "Output only. The full list of permissions for the file. This is only available if the requesting user can share the file. Not populated for items in shared drives.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        },
        "mimeType": {
          "description": "The MIME type of the file. Google Drive attempts to automatically detect an appropriate value from uploaded content, if no value is provided. The value cannot be changed unless a new revision is uploaded. If a file is created with a Google Doc MIME type, the uploaded content is imported, if possible. The supported import formats are published in the [`about`](/workspace/drive/api/reference/rest/v3/about) resource.",
          "type": "string"
        },
        "hasAugmentedPermissions": {
          "description": "Output only. Whether there are permissions directly on this file. This field is only populated for items in shared drives.",
          "type": "boolean"
        },
        "exportLinks": {
          "readOnly": true,
          "description": "Output only. Links for exporting Docs Editors files to specific formats.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "sharedWithMeTime": {
          "format": "date-time",
          "description": "The time at which the file was shared with the user, if applicable (RFC 3339 date-time).",
          "type": "string"
        },
        "clientEncryptionDetails": {
          "description": "Client Side Encryption related details. Contains details about the encryption state of the file and details regarding the encryption mechanism that clients need to use when decrypting the contents of this item. This will only be present on files and not on folders or shortcuts.",
          "$ref": "ClientEncryptionDetails"
        },
        "labelInfo": {
          "description": "Label information on the file.",
          "type": "object",
          "properties": {
            "labels": {
              "items": {
                "$ref": "Label"
              },
              "description": "Output only. The set of labels on the file as requested by the label IDs in the `includeLabels` parameter. By default, no labels are returned.",
              "type": "array"
            }
          }
        },
        "downloadRestrictions": {
          "description": "Download restrictions applied on the file.",
          "$ref": "DownloadRestrictionsMetadata"
        },
        "ownedByMe": {
          "description": "Output only. Whether the user owns the file. Not populated for items in shared drives.",
          "type": "boolean"
        },
        "sha256Checksum": {
          "description": "Output only. The SHA256 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it's not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "trashingUser": {
          "$ref": "User",
          "description": "Output only. If the file has been explicitly trashed, the user who trashed it. Only populated for items in shared drives."
        },
        "resourceKey": {
          "description": "Output only. A key needed to access the item via a shared link.",
          "type": "string"
        },
        "teamDriveId": {
          "deprecated": true,
          "description": "Deprecated: Output only. Use `driveId` instead.",
          "type": "string"
        },
        "quotaBytesUsed": {
          "format": "int64",
          "description": "Output only. The number of storage quota bytes used by the file. This includes the head revision as well as previous revisions with `keepForever` enabled.",
          "type": "string"
        },
        "imageMediaMetadata": {
          "properties": {
            "rotation": {
              "description": "Output only. The number of clockwise 90 degree rotations applied from the image's original orientation.",
              "type": "integer",
              "format": "int32"
            },
            "height": {
              "format": "int32",
              "description": "Output only. The height of the image in pixels.",
              "type": "integer"
            },
            "exposureBias": {
              "format": "float",
              "description": "Output only. The exposure bias of the photo (APEX value).",
              "type": "number"
            },
            "aperture": {
              "description": "Output only. The aperture used to create the photo (f-number).",
              "type": "number",
              "format": "float"
            },
            "meteringMode": {
              "description": "Output only. The metering mode used to create the photo.",
              "type": "string"
            },
            "sensor": {
              "description": "Output only. The type of sensor used to create the photo.",
              "type": "string"
            },
            "cameraModel": {
              "description": "Output only. The model of the camera used to create the photo.",
              "type": "string"
            },
            "time": {
              "description": "Output only. The date and time the photo was taken (EXIF DateTime).",
              "type": "string"
            },
            "width": {
              "format": "int32",
              "description": "Output only. The width of the image in pixels.",
              "type": "integer"
            },
            "location": {
              "properties": {
                "longitude": {
                  "format": "double",
                  "description": "Output only. The longitude stored in the image.",
                  "type": "number"
                },
                "altitude": {
                  "description": "Output only. The altitude stored in the image.",
                  "type": "number",
                  "format": "double"
                },
                "latitude": {
                  "format": "double",
                  "description": "Output only. The latitude stored in the image.",
                  "type": "number"
                }
              },
              "description": "Output only. Geographic location information stored in the image.",
              "type": "object"
            },
            "cameraMake": {
              "description": "Output only. The make of the camera used to create the photo.",
              "type": "string"
            },
            "flashUsed": {
              "description": "Output only. Whether a flash was used to create the photo.",
              "type": "boolean"
            },
            "subjectDistance": {
              "description": "Output only. The distance to the subject of the photo, in meters.",
              "type": "integer",
              "format": "int32"
            },
            "whiteBalance": {
              "description": "Output only. The white balance mode used to create the photo.",
              "type": "string"
            },
            "exposureMode": {
              "description": "Output only. The exposure mode used to create the photo.",
              "type": "string"
            },
            "focalLength": {
              "description": "Output only. The focal length used to create the photo, in millimeters.",
              "type": "number",
              "format": "float"
            },
            "exposureTime": {
              "format": "float",
              "description": "Output only. The length of the exposure, in seconds.",
              "type": "number"
            },
            "isoSpeed": {
              "description": "Output only. The ISO speed used to create the photo.",
              "type": "integer",
              "format": "int32"
            },
            "maxApertureValue": {
              "description": "Output only. The smallest f-number of the lens at the focal length used to create the photo (APEX value).",
              "type": "number",
              "format": "float"
            },
            "lens": {
              "description": "Output only. The lens used to create the photo.",
              "type": "string"
            },
            "colorSpace": {
              "description": "Output only. The color space of the photo.",
              "type": "string"
            }
          },
          "description": "Output only. Additional metadata about image media, if available.",
          "type": "object"
        },
        "linkShareMetadata": {
          "description": "Contains details about the link URLs that clients are using to refer to this item.",
          "type": "object",
          "properties": {
            "securityUpdateEligible": {
              "description": "Output only. Whether the file is eligible for security update.",
              "type": "boolean"
            },
            "securityUpdateEnabled": {
              "description": "Output only. Whether the security update is enabled for this file.",
              "type": "boolean"
            }
          }
        },
        "thumbnailVersion": {
          "description": "Output only. The thumbnail version for use in thumbnail cache invalidation.",
          "type": "string",
          "format": "int64"
        },
        "trashedTime": {
          "description": "The time that the item was trashed (RFC 3339 date-time). Only populated for items in shared drives.",
          "type": "string",
          "format": "date-time"
        },
        "headRevisionId": {
          "description": "Output only. The ID of the file's head revision. This is currently only available for files with binary content in Google Drive.",
          "type": "string"
        }
      },
      "description": "The metadata for a file. Some resource methods (such as `files.update`) require a `fileId`. Use the `files.list` method to retrieve the ID for a file.",
      "type": "object",
      "id": "File"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "id": "Operation"
    },
    "Label": {
      "description": "Representation of label and label fields.",
      "type": "object",
      "properties": {
        "fields": {
          "description": "A map of the fields on the label, keyed by the field's ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "LabelField"
          }
        },
        "id": {
          "description": "The ID of the label.",
          "type": "string"
        },
        "revisionId": {
          "description": "The revision ID of the label.",
          "type": "string"
        },
        "kind": {
          "description": "This is always drive#label",
          "type": "string"
        }
      },
      "id": "Label"
    },
    "CommentApprovalRequest": {
      "properties": {
        "message": {
          "description": "Required. A message to comment on the approval. This message is included in notifications for the action and in the approval activity log.",
          "type": "string"
        }
      },
      "description": "Request for commenting on an approval.",
      "type": "object",
      "id": "CommentApprovalRequest"
    },
    "StartApprovalRequest": {
      "id": "StartApprovalRequest",
      "properties": {
        "fileContentChangeBehavior": {
          "description": "Optional. The behavior of the approval when the file content changes.",
          "type": "string",
          "enumDescriptions": [
            "The behavior is unspecified.",
            "Any ReviewerResponse with a Response of APPROVED will be reset to NO_DECISION when the file content changes while the approval has a Status of IN_PROGRESS. When the approval has a Status of APPROVED and RESET_APPROVAL is selected, the file is locked.",
            "No action is taken when the file content changes."
          ],
          "enum": [
            "FILE_CONTENT_CHANGE_BEHAVIOR_UNSPECIFIED",
            "RESET_APPROVAL",
            "NO_APPROVAL_ACTION"
          ]
        },
        "message": {
          "description": "Optional. A message to send to reviewers when notifying them of the approval request.",
          "type": "string"
        },
        "lockFile": {
          "description": "Optional. Whether to lock the file when starting the approval.",
          "type": "boolean"
        },
        "dueTime": {
          "format": "google-datetime",
          "description": "Optional. The time that the approval is due.",
          "type": "string"
        },
        "reviewerEmails": {
          "description": "Required. The emails of the users who are set to review the approval.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Allows creating an approval on a file.",
      "type": "object"
    },
    "ApprovalList": {
      "description": "The response of an approvals list request.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The page token for the next page of approvals. This is absent if the end of the approvals list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "kind": {
          "description": "This is always drive#approvalList",
          "type": "string"
        },
        "items": {
          "description": "The list of approvals. If `nextPageToken` is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "Approval"
          }
        }
      },
      "id": "ApprovalList"
    },
    "Channel": {
      "description": "A notification channel used to watch for resource changes.",
      "type": "object",
      "properties": {
        "expiration": {
          "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
          "type": "string",
          "format": "int64"
        },
        "address": {
          "description": "The address where notifications are delivered for this channel.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies this as a notification channel used to watch for changes to a resource, which is `api#channel`.",
          "type": "string",
          "default": "api#channel"
        },
        "resourceUri": {
          "description": "A version-specific identifier for the watched resource.",
          "type": "string"
        },
        "payload": {
          "description": "A Boolean value to indicate whether payload is wanted. Optional.",
          "type": "boolean"
        },
        "id": {
          "description": "A UUID or similar unique string that identifies this channel.",
          "type": "string"
        },
        "params": {
          "description": "Additional parameters controlling delivery channel behavior. Optional.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "token": {
          "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.",
          "type": "string"
        },
        "resourceId": {
          "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions.",
          "type": "string"
        },
        "type": {
          "description": "The type of delivery mechanism used for this channel. Valid values are \"web_hook\" or \"webhook\".",
          "type": "string"
        }
      },
      "id": "Channel"
    },
    "PermissionList": {
      "id": "PermissionList",
      "properties": {
        "nextPageToken": {
          "description": "The page token for the next page of permissions. This field will be absent if the end of the permissions list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        },
        "permissions": {
          "description": "The list of permissions. If `nextPageToken` is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        },
        "kind": {
          "default": "drive#permissionList",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#permissionList\"`.",
          "type": "string"
        }
      },
      "description": "A list of permissions for a file.",
      "type": "object"
    },
    "Reply": {
      "id": "Reply",
      "properties": {
        "createdTime": {
          "format": "date-time",
          "description": "The time at which the reply was created (RFC 3339 date-time).",
          "type": "string"
        },
        "deleted": {
          "description": "Output only. Whether the reply has been deleted. A deleted reply has no content.",
          "type": "boolean"
        },
        "htmlContent": {
          "description": "Output only. The content of the reply with HTML formatting.",
          "type": "string"
        },
        "content": {
          "description": "The plain text content of the reply. This field is used for setting the content, while `htmlContent` should be displayed. This field is required by the `create` method if no `action` value is specified.",
          "type": "string",
          "annotations": {
            "required": [
              "drive.replies.update"
            ]
          }
        },
        "id": {
          "description": "Output only. The ID of the reply.",
          "type": "string"
        },
        "action": {
          "description": "The action the reply performed to the parent comment. The supported values are: * `resolve` * `reopen`",
          "type": "string"
        },
        "mentionedEmailAddresses": {
          "description": "Output only. A list of email addresses for users mentioned in this comment. If no users are mentioned, the list is empty.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "modifiedTime": {
          "description": "The last time the reply was modified (RFC 3339 date-time).",
          "type": "string",
          "format": "date-time"
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#reply\"`.",
          "type": "string",
          "default": "drive#reply"
        },
        "author": {
          "description": "Output only. The author of the reply. The author's email address and permission ID won't be populated.",
          "$ref": "User"
        },
        "assigneeEmailAddress": {
          "description": "Output only. The email address of the user assigned to this comment. If no user is assigned, the field is unset.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A reply to a comment on a file. Some resource methods (such as `replies.update`) require a `replyId`. Use the `replies.list` method to retrieve the ID for a reply.",
      "type": "object"
    },
    "AppIcons": {
      "id": "AppIcons",
      "type": "object",
      "properties": {
        "category": {
          "description": "Category of the icon. Allowed values are: * `application` - The icon for the application. * `document` - The icon for a file associated with the app. * `documentShared` - The icon for a shared file associated with the app.",
          "type": "string"
        },
        "size": {
          "description": "Size of the icon. Represented as the maximum of the width and height.",
          "type": "integer",
          "format": "int32"
        },
        "iconUrl": {
          "description": "URL for the icon.",
          "type": "string"
        }
      }
    },
    "DownloadRestrictionsMetadata": {
      "properties": {
        "itemDownloadRestriction": {
          "description": "The download restriction of the file applied directly by the owner or organizer. This doesn't take into account shared drive settings or DLP rules.",
          "$ref": "DownloadRestriction"
        },
        "effectiveDownloadRestrictionWithContext": {
          "$ref": "DownloadRestriction",
          "description": "Output only. The effective download restriction applied to this file. This considers all restriction settings and DLP rules."
        }
      },
      "description": "Download restrictions applied to the file.",
      "type": "object",
      "id": "DownloadRestrictionsMetadata"
    },
    "AppList": {
      "properties": {
        "items": {
          "description": "The list of apps.",
          "type": "array",
          "items": {
            "$ref": "App"
          }
        },
        "defaultAppIds": {
          "description": "The list of app IDs that the user has specified to use by default. The list is in reverse-priority order (lowest to highest).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "default": "drive#appList",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string \"drive#appList\".",
          "type": "string"
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        }
      },
      "description": "A list of third-party applications which the user has installed or given access to Google Drive.",
      "type": "object",
      "id": "AppList"
    },
    "CommentList": {
      "properties": {
        "nextPageToken": {
          "description": "The page token for the next page of comments. This will be absent if the end of the comments list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        },
        "comments": {
          "description": "The list of comments. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "Comment"
          }
        },
        "kind": {
          "default": "drive#commentList",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#commentList\"`.",
          "type": "string"
        }
      },
      "description": "A list of comments on a file.",
      "type": "object",
      "id": "CommentList"
    },
    "FileList": {
      "properties": {
        "incompleteSearch": {
          "description": "Whether the search process was incomplete. If true, then some search results might be missing, since all documents were not searched. This can occur when searching multiple drives with the `allDrives` corpora, but all corpora couldn't be searched. When this happens, it's suggested that clients narrow their query by choosing a different corpus such as `user` or `drive`.",
          "type": "boolean"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#fileList\"`.",
          "type": "string",
          "default": "drive#fileList"
        },
        "nextPageToken": {
          "description": "The page token for the next page of files. This will be absent if the end of the files list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        },
        "files": {
          "items": {
            "$ref": "File"
          },
          "description": "The list of files. If `nextPageToken` is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array"
        }
      },
      "description": "A list of files.",
      "type": "object",
      "id": "FileList"
    },
    "Revision": {
      "id": "Revision",
      "description": "The metadata for a revision to a file. Some resource methods (such as `revisions.update`) require a `revisionId`. Use the `revisions.list` method to retrieve the ID for a revision.",
      "type": "object",
      "properties": {
        "modifiedTime": {
          "description": "The last time the revision was modified (RFC 3339 date-time).",
          "type": "string",
          "format": "date-time"
        },
        "publishedOutsideDomain": {
          "description": "Whether this revision is published outside the domain. This is only applicable to Docs Editors files.",
          "type": "boolean"
        },
        "kind": {
          "default": "drive#revision",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#revision\"`.",
          "type": "string"
        },
        "originalFilename": {
          "description": "Output only. The original filename used to create this revision. This is only applicable to files with binary content in Drive.",
          "type": "string"
        },
        "mimeType": {
          "description": "Output only. The MIME type of the revision.",
          "type": "string"
        },
        "publishedLink": {
          "description": "Output only. A link to the published revision. This is only populated for Docs Editors files.",
          "type": "string"
        },
        "size": {
          "description": "Output only. The size of the revision's content in bytes. This is only applicable to files with binary content in Drive.",
          "type": "string",
          "format": "int64"
        },
        "exportLinks": {
          "description": "Output only. Links for exporting Docs Editors files to specific formats.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "id": {
          "description": "Output only. The ID of the revision.",
          "type": "string"
        },
        "keepForever": {
          "description": "Whether to keep this revision forever, even if it is no longer the head revision. If not set, the revision will be automatically purged 30 days after newer content is uploaded. This can be set on a maximum of 200 revisions for a file. This field is only applicable to files with binary content in Drive.",
          "type": "boolean"
        },
        "published": {
          "description": "Whether this revision is published. This is only applicable to Docs Editors files.",
          "type": "boolean"
        },
        "md5Checksum": {
          "description": "Output only. The MD5 checksum of the revision's content. This is only applicable to files with binary content in Drive.",
          "type": "string"
        },
        "publishAuto": {
          "description": "Whether subsequent revisions will be automatically republished. This is only applicable to Docs Editors files.",
          "type": "boolean"
        },
        "lastModifyingUser": {
          "$ref": "User",
          "description": "Output only. The last user to modify this revision. This field is only populated when the last modification was performed by a signed-in user."
        }
      }
    },
    "TeamDriveList": {
      "id": "TeamDriveList",
      "description": "A list of Team Drives.",
      "type": "object",
      "properties": {
        "teamDrives": {
          "description": "The list of Team Drives. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "TeamDrive"
          }
        },
        "nextPageToken": {
          "description": "The page token for the next page of Team Drives. This will be absent if the end of the Team Drives list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#teamDriveList\"`.",
          "type": "string",
          "default": "drive#teamDriveList"
        }
      }
    },
    "ReplaceReviewer": {
      "id": "ReplaceReviewer",
      "description": "Representation of a reviewer replacement.",
      "type": "object",
      "properties": {
        "addedReviewerEmail": {
          "description": "Required. The email of the reviewer to add.",
          "type": "string"
        },
        "removedReviewerEmail": {
          "description": "Required. The email of the reviewer to remove.",
          "type": "string"
        }
      }
    },
    "ChangeList": {
      "id": "ChangeList",
      "properties": {
        "changes": {
          "items": {
            "$ref": "Change"
          },
          "description": "The list of changes. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#changeList\"`.",
          "type": "string",
          "default": "drive#changeList"
        },
        "nextPageToken": {
          "description": "The page token for the next page of changes. This will be absent if the end of the changes list has been reached. The page token doesn't expire.",
          "type": "string"
        },
        "newStartPageToken": {
          "description": "The starting page token for future changes. This will be present only if the end of the current changes list has been reached. The page token doesn't expire.",
          "type": "string"
        }
      },
      "description": "A list of changes for a user.",
      "type": "object"
    },
    "ClientEncryptionDetails": {
      "properties": {
        "decryptionMetadata": {
          "$ref": "DecryptionMetadata",
          "description": "The metadata used for client-side operations."
        },
        "encryptionState": {
          "description": "The encryption state of the file. The values expected here are: - encrypted - unencrypted ",
          "type": "string"
        }
      },
      "description": "Details about the client-side encryption applied to the file.",
      "type": "object",
      "id": "ClientEncryptionDetails"
    },
    "DeclineApprovalRequest": {
      "properties": {
        "message": {
          "description": "Optional. A message to accompany the reviewer response on the approval. This message is included in notifications for the action and in the approval activity log.",
          "type": "string"
        }
      },
      "description": "Request for declining an approval as a reviewer.",
      "type": "object",
      "id": "DeclineApprovalRequest"
    },
    "AccessProposal": {
      "description": "Manage outstanding access proposals on a file.",
      "type": "object",
      "properties": {
        "requesterEmailAddress": {
          "description": "The email address of the requesting user.",
          "type": "string"
        },
        "proposalId": {
          "description": "The ID of the access proposal.",
          "type": "string"
        },
        "rolesAndViews": {
          "items": {
            "$ref": "AccessProposalRoleAndView"
          },
          "description": "A wrapper for the role and view of an access proposal. For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles).",
          "type": "array"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The creation time.",
          "type": "string"
        },
        "recipientEmailAddress": {
          "description": "The email address of the user that will receive permissions, if accepted.",
          "type": "string"
        },
        "requestMessage": {
          "description": "The message that the requester added to the proposal.",
          "type": "string"
        },
        "fileId": {
          "description": "The file ID that the proposal for access is on.",
          "type": "string"
        }
      },
      "id": "AccessProposal"
    },
    "Comment": {
      "properties": {
        "replies": {
          "items": {
            "$ref": "Reply"
          },
          "description": "Output only. The full list of replies to the comment in chronological order.",
          "type": "array"
        },
        "modifiedTime": {
          "description": "The last time the comment or any of its replies was modified (RFC 3339 date-time).",
          "type": "string",
          "format": "date-time"
        },
        "kind": {
          "default": "drive#comment",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#comment\"`.",
          "type": "string"
        },
        "author": {
          "description": "Output only. The author of the comment. The author's email address and permission ID will not be populated.",
          "$ref": "User"
        },
        "resolved": {
          "description": "Output only. Whether the comment has been resolved by one of its replies.",
          "type": "boolean"
        },
        "htmlContent": {
          "description": "Output only. The content of the comment with HTML formatting.",
          "type": "string"
        },
        "deleted": {
          "description": "Output only. Whether the comment has been deleted. A deleted comment has no content.",
          "type": "boolean"
        },
        "id": {
          "description": "Output only. The ID of the comment.",
          "type": "string"
        },
        "content": {
          "annotations": {
            "required": [
              "drive.comments.create",
              "drive.comments.update"
            ]
          },
          "description": "The plain text content of the comment. This field is used for setting the content, while `htmlContent` should be displayed.",
          "type": "string"
        },
        "anchor": {
          "description": "A region of the document represented as a JSON string. For details on defining anchor properties, refer to [Manage comments and replies](https://developers.google.com/workspace/drive/api/v3/manage-comments).",
          "type": "string"
        },
        "createdTime": {
          "description": "The time at which the comment was created (RFC 3339 date-time).",
          "type": "string",
          "format": "date-time"
        },
        "quotedFileContent": {
          "properties": {
            "value": {
              "description": "The quoted content itself. This is interpreted as plain text if set through the API.",
              "type": "string"
            },
            "mimeType": {
              "description": "The MIME type of the quoted content.",
              "type": "string"
            }
          },
          "description": "The file content to which the comment refers, typically within the anchor region. For a text file, for example, this would be the text at the location of the comment.",
          "type": "object"
        },
        "assigneeEmailAddress": {
          "readOnly": true,
          "description": "Output only. The email address of the user assigned to this comment. If no user is assigned, the field is unset.",
          "type": "string"
        },
        "mentionedEmailAddresses": {
          "description": "Output only. A list of email addresses for users mentioned in this comment. If no users are mentioned, the list is empty.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A comment on a file. Some resource methods (such as `comments.update`) require a `commentId`. Use the `comments.list` method to retrieve the ID for a comment in a file.",
      "type": "object",
      "id": "Comment"
    },
    "GeneratedIds": {
      "description": "A list of generated file IDs which can be provided in create requests.",
      "type": "object",
      "properties": {
        "ids": {
          "items": {
            "type": "string"
          },
          "description": "The IDs generated for the requesting user in the specified space.",
          "type": "array"
        },
        "space": {
          "description": "The type of file that can be created with these IDs.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#generatedIds\"`.",
          "type": "string",
          "default": "drive#generatedIds"
        }
      },
      "id": "GeneratedIds"
    },
    "AddReviewer": {
      "id": "AddReviewer",
      "properties": {
        "addedReviewerEmail": {
          "description": "Required. The email of the reviewer to add.",
          "type": "string"
        }
      },
      "description": "Representation of a reviewer addition.",
      "type": "object"
    },
    "ReviewerResponse": {
      "description": "A response on an approval made by a specific reviewer.",
      "type": "object",
      "properties": {
        "reviewer": {
          "description": "The user that's responsible for this response.",
          "$ref": "User"
        },
        "response": {
          "description": "A reviewer’s response for the approval.",
          "type": "string",
          "enumDescriptions": [
            "The response was set to an unrecognized value.",
            "The reviewer hasn't responded.",
            "The reviewer has approved the item.",
            "The reviewer has declined the item."
          ],
          "enum": [
            "RESPONSE_UNSPECIFIED",
            "NO_RESPONSE",
            "APPROVED",
            "DECLINED"
          ]
        },
        "kind": {
          "description": "This is always drive#reviewerResponse.",
          "type": "string"
        }
      },
      "id": "ReviewerResponse"
    },
    "LabelModification": {
      "properties": {
        "labelId": {
          "description": "The ID of the label to modify.",
          "type": "string",
          "annotations": {
            "required": [
              "drive.files.modifyLabels"
            ]
          }
        },
        "fieldModifications": {
          "description": "The list of modifications to this label's fields.",
          "type": "array",
          "items": {
            "$ref": "LabelFieldModification"
          }
        },
        "removeLabel": {
          "description": "If true, the label will be removed from the file.",
          "type": "boolean"
        },
        "kind": {
          "description": "This is always `\"drive#labelModification\"`.",
          "type": "string"
        }
      },
      "description": "A modification to a label on a file. A `LabelModification` can be used to apply a label to a file, update an existing label on a file, or remove a label from a file.",
      "type": "object",
      "id": "LabelModification"
    },
    "AccessProposalRoleAndView": {
      "id": "AccessProposalRoleAndView",
      "properties": {
        "role": {
          "description": "The role that was proposed by the requester. The supported values are: * `writer` * `commenter` * `reader`",
          "type": "string"
        },
        "view": {
          "description": "Indicates the view for this access proposal. Only populated for proposals that belong to a view. Only `published` is supported.",
          "type": "string"
        }
      },
      "description": "A wrapper for the role and view of an access proposal. For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles).",
      "type": "object"
    },
    "StartPageToken": {
      "type": "object",
      "properties": {
        "startPageToken": {
          "description": "The starting page token for listing future changes. The page token doesn't expire.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#startPageToken\"`.",
          "type": "string",
          "default": "drive#startPageToken"
        }
      },
      "id": "StartPageToken"
    },
    "DownloadRestriction": {
      "id": "DownloadRestriction",
      "properties": {
        "restrictedForReaders": {
          "description": "Whether download and copy is restricted for readers.",
          "type": "boolean"
        },
        "restrictedForWriters": {
          "description": "Whether download and copy is restricted for writers. If true, download is also restricted for readers.",
          "type": "boolean"
        }
      },
      "description": "A restriction for copy and download of the file.",
      "type": "object"
    },
    "RevisionList": {
      "properties": {
        "nextPageToken": {
          "description": "The page token for the next page of revisions. This will be absent if the end of the revisions list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#revisionList\"`.",
          "type": "string",
          "default": "drive#revisionList"
        },
        "revisions": {
          "description": "The list of revisions. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "Revision"
          }
        }
      },
      "description": "A list of revisions of a file.",
      "type": "object",
      "id": "RevisionList"
    },
    "DecryptionMetadata": {
      "properties": {
        "kaclsName": {
          "description": "The name of the KACLS (Key ACL Service) used to encrypt the file.",
          "type": "string"
        },
        "keyFormat": {
          "description": "Key format for the unwrapped key. Must be `tinkAesGcmKey`.",
          "type": "string"
        },
        "kaclsId": {
          "description": "The ID of the KACLS (Key ACL Service) used to encrypt the file.",
          "type": "string",
          "format": "int64"
        },
        "encryptionResourceKeyHash": {
          "description": "The URL-safe Base64 encoded HMAC-SHA256 digest of the resource metadata with its DEK (Data Encryption Key); see https://developers.google.com/workspace/cse/reference",
          "type": "string"
        },
        "wrappedKey": {
          "description": "The URL-safe Base64 encoded wrapped key used to encrypt the contents of the file.",
          "type": "string"
        },
        "jwt": {
          "description": "The signed JSON Web Token (JWT) which can be used to authorize the requesting user with the Key ACL Service (KACLS). The JWT asserts that the requesting user has at least read permissions on the file.",
          "type": "string"
        },
        "aes256GcmChunkSize": {
          "description": "Chunk size used if content was encrypted with the AES 256 GCM Cipher. Possible values are: - default - small ",
          "type": "string"
        }
      },
      "description": "Representation of the CSE DecryptionMetadata.",
      "type": "object",
      "id": "DecryptionMetadata"
    },
    "Change": {
      "description": "A change to a file or shared drive.",
      "type": "object",
      "properties": {
        "teamDriveId": {
          "deprecated": true,
          "description": "Deprecated: Use `driveId` instead.",
          "type": "string"
        },
        "changeType": {
          "description": "The type of the change. Possible values are `file` and `drive`.",
          "type": "string"
        },
        "removed": {
          "description": "Whether the file or shared drive has been removed from this list of changes, for example by deletion or loss of access.",
          "type": "boolean"
        },
        "kind": {
          "default": "drive#change",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#change\"`.",
          "type": "string"
        },
        "driveId": {
          "description": "The ID of the shared drive associated with this change.",
          "type": "string"
        },
        "type": {
          "deprecated": true,
          "description": "Deprecated: Use `changeType` instead.",
          "type": "string"
        },
        "fileId": {
          "description": "The ID of the file which has changed.",
          "type": "string"
        },
        "teamDrive": {
          "deprecated": true,
          "$ref": "TeamDrive",
          "description": "Deprecated: Use `drive` instead."
        },
        "time": {
          "format": "date-time",
          "description": "The time of this change (RFC 3339 date-time).",
          "type": "string"
        },
        "drive": {
          "$ref": "Drive",
          "description": "The updated state of the shared drive. Present if the changeType is drive, the user is still a member of the shared drive, and the shared drive has not been deleted."
        },
        "file": {
          "description": "The updated state of the file. Present if the type is file and the file has not been removed from this list of changes.",
          "$ref": "File"
        }
      },
      "id": "Change"
    },
    "LabelFieldModification": {
      "description": "A modification to a label's field.",
      "type": "object",
      "properties": {
        "setIntegerValues": {
          "description": "Replaces the value of an `integer` field with these new values.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "fieldId": {
          "description": "The ID of the field to be modified.",
          "type": "string"
        },
        "setDateValues": {
          "items": {
            "format": "date",
            "type": "string"
          },
          "description": "Replaces the value of a dateString Field with these new values. The string must be in the RFC 3339 full-date format: YYYY-MM-DD.",
          "type": "array"
        },
        "setTextValues": {
          "items": {
            "type": "string"
          },
          "description": "Sets the value of a `text` field.",
          "type": "array"
        },
        "unsetValues": {
          "description": "Unsets the values for this field.",
          "type": "boolean"
        },
        "kind": {
          "description": "This is always `\"drive#labelFieldModification\"`.",
          "type": "string"
        },
        "setSelectionValues": {
          "description": "Replaces a `selection` field with these new values.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "setUserValues": {
          "description": "Replaces a `user` field with these new values. The values must be a valid email addresses.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "LabelFieldModification"
    },
    "Approval": {
      "properties": {
        "approvalId": {
          "description": "The approval ID.",
          "type": "string"
        },
        "modifyTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The most recent time the approval was modified.",
          "type": "string"
        },
        "dueTime": {
          "description": "The time that the approval is due.",
          "type": "string",
          "format": "google-datetime"
        },
        "completeTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the approval was completed.",
          "type": "string"
        },
        "fileContentChangeBehavior": {
          "enum": [
            "FILE_CONTENT_CHANGE_BEHAVIOR_UNSPECIFIED",
            "RESET_APPROVAL",
            "NO_APPROVAL_ACTION"
          ],
          "readOnly": true,
          "description": "Output only. The behavior of the approval when the file content changes.",
          "type": "string",
          "enumDescriptions": [
            "The behavior is unspecified.",
            "Any ReviewerResponse with a Response of APPROVED will be reset to NO_DECISION when the file content changes while the approval has a Status of IN_PROGRESS. When the approval has a Status of APPROVED and RESET_APPROVAL is selected, the file is locked.",
            "No action is taken when the file content changes."
          ]
        },
        "targetFileId": {
          "description": "Target file id of the approval.",
          "type": "string"
        },
        "kind": {
          "description": "This is always drive#approval.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the approval was created.",
          "type": "string"
        },
        "reviewerResponses": {
          "items": {
            "$ref": "ReviewerResponse"
          },
          "description": "The responses made on the approval by reviewers.",
          "type": "array"
        },
        "status": {
          "description": "Output only. The status of the approval at the time this resource was requested.",
          "type": "string",
          "enumDescriptions": [
            "The approval status has not been set or was set to an invalid value.",
            "The approval process has started and not finished.",
            "The approval process is finished and the target was approved.",
            "The approval process was cancelled before it finished.",
            "The approval process is finished and the target was declined."
          ],
          "readOnly": true,
          "enum": [
            "STATUS_UNSPECIFIED",
            "IN_PROGRESS",
            "APPROVED",
            "CANCELLED",
            "DECLINED"
          ]
        },
        "initiator": {
          "$ref": "User",
          "description": "The user that requested the approval."
        }
      },
      "description": "Metadata for an approval. An approval is a review or approve process for a Drive item.",
      "type": "object",
      "id": "Approval"
    },
    "ContentRestriction": {
      "id": "ContentRestriction",
      "properties": {
        "systemRestricted": {
          "description": "Output only. Whether the content restriction was applied by the system, for example due to an esignature. Users cannot modify or remove system restricted content restrictions.",
          "type": "boolean"
        },
        "restrictingUser": {
          "description": "Output only. The user who set the content restriction. Only populated if `readOnly=true`.",
          "$ref": "User"
        },
        "reason": {
          "description": "Reason for why the content of the file is restricted. This is only mutable on requests that also set `readOnly=true`.",
          "type": "string"
        },
        "type": {
          "description": "Output only. The type of the content restriction. Currently the only possible value is `globalContentRestriction`.",
          "type": "string"
        },
        "ownerRestricted": {
          "description": "Whether the content restriction can only be modified or removed by a user who owns the file. For files in shared drives, any user with `organizer` capabilities can modify or remove this content restriction.",
          "type": "boolean"
        },
        "readOnly": {
          "description": "Whether the content of the file is read-only. If a file is read-only, a new revision of the file may not be added, comments may not be added or modified, and the title of the file may not be modified.",
          "type": "boolean"
        },
        "restrictionTime": {
          "description": "The time at which the content restriction was set (formatted RFC 3339 timestamp). Only populated if readOnly is true.",
          "type": "string",
          "format": "date-time"
        }
      },
      "description": "A restriction for accessing the content of the file.",
      "type": "object"
    },
    "GenerateCseTokenResponse": {
      "id": "GenerateCseTokenResponse",
      "properties": {
        "jwt": {
          "description": "The signed JSON Web Token (JWT) for the file.",
          "type": "string"
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#generateCseTokenResponse\"`.",
          "type": "string"
        },
        "fileId": {
          "description": "The fileId for which the JWT was generated.",
          "type": "string"
        },
        "currentKaclsId": {
          "description": "The current Key ACL Service (KACLS) ID associated with the JWT.",
          "type": "string",
          "format": "int64"
        },
        "currentKaclsName": {
          "description": "Name of the KACLs that the returned KACLs ID points to.",
          "type": "string"
        }
      },
      "description": "JWT and associated metadata used to generate CSE files.",
      "type": "object"
    },
    "App": {
      "description": "The `apps` resource provides a list of apps that a user has installed, with information about each app's supported MIME types, file extensions, and other details. Some resource methods (such as `apps.get`) require an `appId`. Use the `apps.list` method to retrieve the ID for an installed application.",
      "type": "object",
      "properties": {
        "supportsImport": {
          "description": "Whether this app supports importing from Google Docs.",
          "type": "boolean"
        },
        "secondaryFileExtensions": {
          "description": "The list of secondary file extensions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "icons": {
          "description": "The various icons for the app.",
          "type": "array",
          "items": {
            "$ref": "AppIcons"
          }
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string \"drive#app\".",
          "type": "string",
          "default": "drive#app"
        },
        "installed": {
          "description": "Whether the app is installed.",
          "type": "boolean"
        },
        "productUrl": {
          "description": "A link to the product listing for this app.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the app.",
          "type": "string"
        },
        "supportsCreate": {
          "description": "Whether this app supports creating objects.",
          "type": "boolean"
        },
        "useByDefault": {
          "description": "Whether the app is selected as the default handler for the types it supports.",
          "type": "boolean"
        },
        "productId": {
          "description": "The ID of the product listing for this app.",
          "type": "string"
        },
        "shortDescription": {
          "description": "A short description of the app.",
          "type": "string"
        },
        "supportsOfflineCreate": {
          "description": "Whether this app supports creating files when offline.",
          "type": "boolean"
        },
        "objectType": {
          "description": "The type of object this app creates such as a Chart. If empty, the app name should be used instead.",
          "type": "string"
        },
        "longDescription": {
          "description": "A long description of the app.",
          "type": "string"
        },
        "secondaryMimeTypes": {
          "items": {
            "type": "string"
          },
          "description": "The list of secondary MIME types.",
          "type": "array"
        },
        "authorized": {
          "description": "Whether the app is authorized to access data on the user's Drive.",
          "type": "boolean"
        },
        "openUrlTemplate": {
          "description": "The template URL for opening files with this app. The template contains {ids} or {exportIds} to be replaced by the actual file IDs. For more information, see Open Files for the full documentation.",
          "type": "string"
        },
        "primaryMimeTypes": {
          "description": "The list of primary MIME types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "primaryFileExtensions": {
          "items": {
            "type": "string"
          },
          "description": "The list of primary file extensions.",
          "type": "array"
        },
        "supportsMultiOpen": {
          "description": "Whether this app supports opening more than one file.",
          "type": "boolean"
        },
        "createUrl": {
          "description": "The URL to create a file with this app.",
          "type": "string"
        },
        "createInFolderTemplate": {
          "description": "The template URL to create a file with this app in a given folder. The template contains the {folderId} to be replaced by the folder ID house the new file.",
          "type": "string"
        },
        "name": {
          "description": "The name of the app.",
          "type": "string"
        },
        "hasDriveWideScope": {
          "description": "Whether the app has Drive-wide scope. An app with Drive-wide scope can access all files in the user's Drive.",
          "type": "boolean"
        }
      },
      "id": "App"
    },
    "Permission": {
      "id": "Permission",
      "description": "A permission for a file. A permission grants a user, group, domain, or the world access to a file or a folder hierarchy. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing). By default, permission requests only return a subset of fields. Permission `kind`, `ID`, `type`, and `role` are always returned. To retrieve specific fields, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter). Some resource methods (such as `permissions.update`) require a `permissionId`. Use the `permissions.list` method to retrieve the ID for a file, folder, or shared drive.",
      "type": "object",
      "properties": {
        "photoLink": {
          "description": "Output only. A link to the user's profile photo, if available.",
          "type": "string"
        },
        "role": {
          "annotations": {
            "required": [
              "drive.permissions.create"
            ]
          },
          "description": "The role granted by this permission. Supported values include: * `owner` * `organizer` * `fileOrganizer` * `writer` * `commenter` * `reader` For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles).",
          "type": "string"
        },
        "displayName": {
          "description": "Output only. The \"pretty\" name of the value of the permission. The following is a list of examples for each type of permission: * `user` - User's full name, as defined for their Google Account, such as \"Dana A.\" * `group` - Name of the Google Group, such as \"The Company Administrators.\" * `domain` - String domain name, such as \"cymbalgroup.com.\" * `anyone` - No `displayName` is present.",
          "type": "string"
        },
        "expirationTime": {
          "format": "date-time",
          "description": "The time at which this permission will expire (RFC 3339 date-time). Expiration times have the following restrictions: - They can only be set on user and group permissions - The time must be in the future - The time cannot be more than a year in the future",
          "type": "string"
        },
        "allowFileDiscovery": {
          "description": "Whether the permission allows the file to be discovered through search. This is only applicable for permissions of type `domain` or `anyone`.",
          "type": "boolean"
        },
        "permissionDetails": {
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "permissionType": {
                "description": "Output only. The permission type for this user. Supported values include: * `file` * `member`",
                "type": "string"
              },
              "inheritedFrom": {
                "description": "Output only. The ID of the item from which this permission is inherited. This is only populated for items in shared drives.",
                "type": "string",
                "readOnly": true
              },
              "inherited": {
                "description": "Output only. Whether this permission is inherited. This field is always populated. This is an output-only field.",
                "type": "boolean"
              },
              "role": {
                "description": "Output only. The primary role for this user. Supported values include: * `owner` * `organizer` * `fileOrganizer` * `writer` * `commenter` * `reader` For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles).",
                "type": "string"
              }
            }
          },
          "description": "Output only. Details of whether the permissions on this item are inherited or are directly on this item.",
          "type": "array"
        },
        "domain": {
          "description": "Output only. The domain to which this permission refers.",
          "type": "string",
          "readOnly": true
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#permission\"`.",
          "type": "string",
          "default": "drive#permission"
        },
        "teamDrivePermissionDetails": {
          "readOnly": true,
          "deprecated": true,
          "description": "Output only. Deprecated: Output only. Use `permissionDetails` instead.",
          "type": "array",
          "items": {
            "properties": {
              "teamDrivePermissionType": {
                "description": "Deprecated: Output only. Use `permissionDetails/permissionType` instead.",
                "type": "string",
                "deprecated": true
              },
              "role": {
                "deprecated": true,
                "description": "Deprecated: Output only. Use `permissionDetails/role` instead.",
                "type": "string"
              },
[...]
