{
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://driveactivity.mtls.googleapis.com/",
  "canonicalName": "Drive Activity",
  "title": "Drive Activity API",
  "version": "v2",
  "documentationLink": "https://developers.google.com/workspace/drive/activity/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.activity": {
          "description": "View and add to the activity record of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.activity.readonly": {
          "description": "View the activity record of files in your Google Drive"
        }
      }
    }
  },
  "id": "driveactivity:v2",
  "resources": {
    "activity": {
      "methods": {
        "query": {
          "request": {
            "$ref": "QueryDriveActivityRequest"
          },
          "httpMethod": "POST",
          "path": "v2/activity:query",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/drive.activity",
            "https://www.googleapis.com/auth/drive.activity.readonly"
          ],
          "description": "Query past activity in Google Drive.",
          "parameters": {},
          "flatPath": "v2/activity:query",
          "response": {
            "$ref": "QueryDriveActivityResponse"
          },
          "id": "driveactivity.activity.query"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "basePath": "",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "ownerName": "Google",
  "protocol": "rest",
  "name": "driveactivity",
  "rootUrl": "https://driveactivity.googleapis.com/",
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    }
  },
  "schemas": {
    "SingleUser": {
      "properties": {
        "value": {
          "type": "string",
          "description": "User value as email."
        }
      },
      "id": "SingleUser",
      "description": "Wrapper for User Field value.",
      "type": "object"
    },
    "TeamDriveReference": {
      "deprecated": true,
      "description": "This item is deprecated; please see `DriveReference` instead.",
      "type": "object",
      "properties": {
        "title": {
          "description": "This field is deprecated; please see `DriveReference.title` instead.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "This field is deprecated; please see `DriveReference.name` instead."
        }
      },
      "id": "TeamDriveReference"
    },
    "Delete": {
      "type": "object",
      "id": "Delete",
      "description": "An object was deleted.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Deletion type is not available.",
            "An object was put into the trash.",
            "An object was deleted permanently."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TRASH",
            "PERMANENT_DELETE"
          ],
          "description": "The type of delete action taken.",
          "type": "string"
        }
      }
    },
    "DataLeakPreventionChange": {
      "description": "A change in the object's data leak prevention status.",
      "id": "DataLeakPreventionChange",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "An update to the DLP state that is neither FLAGGED or CLEARED.",
            "Document has been flagged as containing sensitive content.",
            "Document is no longer flagged as containing sensitive content."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "FLAGGED",
            "CLEARED"
          ],
          "description": "The type of Data Leak Prevention (DLP) change."
        }
      }
    },
    "Integer": {
      "type": "object",
      "properties": {
        "value": {
          "description": "Integer value.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "Integer",
      "description": "Wrapper for Integer Field value."
    },
    "Assignment": {
      "properties": {
        "subtype": {
          "enumDescriptions": [
            "Subtype not available.",
            "An assignment was added.",
            "An assignment was deleted.",
            "An assignment reply was added.",
            "An assignment reply was deleted.",
            "An assignment was resolved.",
            "A resolved assignment was reopened.",
            "An assignment was reassigned."
          ],
          "type": "string",
          "description": "The sub-type of this event.",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED",
            "REASSIGNED"
          ]
        },
        "assignedUser": {
          "$ref": "User",
          "description": "The user to whom the comment was assigned."
        }
      },
      "id": "Assignment",
      "description": "A comment with an assignment.",
      "type": "object"
    },
    "Actor": {
      "type": "object",
      "description": "The actor of a Drive activity.",
      "id": "Actor",
      "properties": {
        "user": {
          "$ref": "User",
          "description": "An end user."
        },
        "impersonation": {
          "$ref": "Impersonation",
          "description": "An account acting on behalf of another."
        },
        "anonymous": {
          "$ref": "AnonymousUser",
          "description": "An anonymous user."
        },
        "administrator": {
          "description": "An administrator.",
          "$ref": "Administrator"
        },
        "system": {
          "description": "A non-user actor (i.e. system triggered).",
          "$ref": "SystemEvent"
        }
      }
    },
    "Legacy": {
      "description": "A strategy that consolidates activities using the grouping rules from the legacy V1 Activity API. Similar actions occurring within a window of time can be grouped across multiple targets (such as moving a set of files at once) or multiple actors (such as several users editing the same item). Grouping rules for this strategy are specific to each type of action.",
      "properties": {},
      "type": "object",
      "id": "Legacy"
    },
    "Action": {
      "description": "Information about the action.",
      "properties": {
        "timestamp": {
          "type": "string",
          "description": "The action occurred at this specific time.",
          "format": "google-datetime"
        },
        "detail": {
          "description": "The type and detailed information about the action.",
          "$ref": "ActionDetail"
        },
        "target": {
          "description": "The target this action affects (or empty if affecting all targets). This represents the state of the target immediately after this action occurred.",
          "$ref": "Target"
        },
        "timeRange": {
          "description": "The action occurred over this time range.",
          "$ref": "TimeRange"
        },
        "actor": {
          "description": "The actor responsible for this action (or empty if all actors are responsible).",
          "$ref": "Actor"
        }
      },
      "id": "Action",
      "type": "object"
    },
    "AppliedLabelChange": {
      "type": "object",
      "id": "AppliedLabelChange",
      "properties": {
        "changes": {
          "description": "Changes that were made to the Label on the Target.",
          "items": {
            "$ref": "AppliedLabelChangeDetail"
          },
          "type": "array"
        }
      },
      "description": "Label changes that were made on the Target."
    },
    "QueryDriveActivityRequest": {
      "id": "QueryDriveActivityRequest",
      "description": "The request message for querying Drive activity.",
      "type": "object",
      "properties": {
        "pageToken": {
          "type": "string",
          "description": "The token identifies which page of results to return. Set this to the next_page_token value returned from a previous query to obtain the following page of results. If not set, the first page of results is returned."
        },
        "filter": {
          "description": "The filtering for items returned from this query request. The format of the filter string is a sequence of expressions, joined by an optional \"AND\", where each expression is of the form \"field operator value\". Supported fields: - `time`: Uses numerical operators on date values either in terms of milliseconds since Jan 1, 1970 or in RFC 3339 format. Examples: - `time > 1452409200000 AND time <= 1492812924310` - `time >= \"2016-01-10T01:02:03-05:00\"` - `detail.action_detail_case`: Uses the \"has\" operator (:) and either a singular value or a list of allowed action types enclosed in parentheses, separated by a space. To exclude a result from the response, prepend a hyphen (`-`) to the beginning of the filter string. Examples: - `detail.action_detail_case:RENAME` - `detail.action_detail_case:(CREATE RESTORE)` - `-detail.action_detail_case:MOVE` ",
          "type": "string"
        },
        "pageSize": {
          "description": "The minimum number of activities desired in the response; the server attempts to return at least this quantity. The server may also return fewer activities if it has a partial response ready before the request times out. If not set, a default value is used.",
          "type": "integer",
          "format": "int32"
        },
        "consolidationStrategy": {
          "description": "Details on how to consolidate related actions that make up the activity. If not set, then related actions aren't consolidated.",
          "$ref": "ConsolidationStrategy"
        },
        "itemName": {
          "description": "Return activities for this Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "ancestorName": {
          "description": "Return activities for this Drive folder, plus all children and descendants. The format is `items/ITEM_ID`.",
          "type": "string"
        }
      }
    },
    "Restore": {
      "description": "A deleted object was restored.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "The type is not available.",
            "An object was restored from the trash."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "UNTRASH"
          ],
          "description": "The type of restore action taken."
        }
      },
      "id": "Restore"
    },
    "TimeRange": {
      "id": "TimeRange",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "The start of the time range.",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The end of the time range."
        }
      },
      "type": "object",
      "description": "Information about time ranges."
    },
    "Text": {
      "description": "Wrapper for Text Field value.",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value of Text Field."
        }
      },
      "id": "Text"
    },
    "Rename": {
      "id": "Rename",
      "description": "An object was renamed.",
      "properties": {
        "oldTitle": {
          "description": "The previous title of the drive object.",
          "type": "string"
        },
        "newTitle": {
          "type": "string",
          "description": "The new title of the drive object."
        }
      },
      "type": "object"
    },
    "User": {
      "description": "Information about an end user.",
      "type": "object",
      "properties": {
        "deletedUser": {
          "description": "A user whose account has since been deleted.",
          "$ref": "DeletedUser"
        },
        "unknownUser": {
          "$ref": "UnknownUser",
          "description": "A user about whom nothing is currently known."
        },
        "knownUser": {
          "$ref": "KnownUser",
          "description": "A known user."
        }
      },
      "id": "User"
    },
    "Anyone": {
      "type": "object",
      "properties": {},
      "id": "Anyone",
      "description": "Represents any user (including a logged out user)."
    },
    "File": {
      "description": "This item is deprecated; please see `DriveFile` instead.",
      "deprecated": true,
      "id": "File",
      "properties": {},
      "type": "object"
    },
    "NoConsolidation": {
      "type": "object",
      "properties": {},
      "id": "NoConsolidation",
      "description": "A strategy that does no consolidation of individual activities."
    },
    "TeamDrive": {
      "deprecated": true,
      "type": "object",
      "description": "This item is deprecated; please see `Drive` instead.",
      "id": "TeamDrive",
      "properties": {
        "title": {
          "description": "This field is deprecated; please see `Drive.title` instead.",
          "type": "string"
        },
        "root": {
          "description": "This field is deprecated; please see `Drive.root` instead.",
          "$ref": "DriveItem"
        },
        "name": {
          "type": "string",
          "description": "This field is deprecated; please see `Drive.name` instead."
        }
      }
    },
    "TargetReference": {
      "id": "TargetReference",
      "properties": {
        "driveItem": {
          "$ref": "DriveItemReference",
          "description": "The target is a Drive item."
        },
        "teamDrive": {
          "$ref": "TeamDriveReference",
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true
        },
        "drive": {
          "description": "The target is a shared drive.",
          "$ref": "DriveReference"
        }
      },
      "description": "A lightweight reference to the target of activity.",
      "type": "object"
    },
    "TextList": {
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "description": "Text values.",
          "items": {
            "$ref": "Text"
          }
        }
      },
      "id": "TextList",
      "description": "Wrapper for Text List Field value."
    },
    "DriveActivity": {
      "properties": {
        "primaryActionDetail": {
          "description": "Key information about the primary action for this activity. This is either representative, or the most important, of all actions in the activity, according to the ConsolidationStrategy in the request.",
          "$ref": "ActionDetail"
        },
        "timeRange": {
          "description": "The activity occurred over this time range.",
          "$ref": "TimeRange"
        },
        "actors": {
          "description": "All actor(s) responsible for the activity.",
          "type": "array",
          "items": {
            "$ref": "Actor"
          }
        },
        "actions": {
          "items": {
            "$ref": "Action"
          },
          "description": "Details on all actions in this activity.",
          "type": "array"
        },
        "targets": {
          "description": "All Google Drive objects this activity is about (e.g. file, folder, drive). This represents the state of the target immediately after the actions occurred.",
          "type": "array",
          "items": {
            "$ref": "Target"
          }
        },
        "timestamp": {
          "format": "google-datetime",
          "description": "The activity occurred at this specific time.",
          "type": "string"
        }
      },
      "description": "A single Drive activity comprising one or more Actions by one or more Actors on one or more Targets. Some Action groupings occur spontaneously, such as moving an item into a shared folder triggering a permission change. Other groupings of related Actions, such as multiple Actors editing one item or moving multiple files into a new folder, are controlled by the selection of a ConsolidationStrategy in the QueryDriveActivityRequest.",
      "id": "DriveActivity",
      "type": "object"
    },
    "FileComment": {
      "type": "object",
      "description": "A comment on a file.",
      "properties": {
        "legacyCommentId": {
          "description": "The comment in the discussion thread. This identifier is an opaque string compatible with the Drive API; see https://developers.google.com/workspace/drive/v3/reference/comments/get",
          "type": "string"
        },
        "linkToDiscussion": {
          "description": "The link to the discussion thread containing this comment, for example, `https://docs.google.com/DOCUMENT_ID/edit?disco=THREAD_ID`.",
          "type": "string"
        },
        "parent": {
          "$ref": "DriveItem",
          "description": "The Drive item containing this comment."
        },
        "legacyDiscussionId": {
          "description": "The discussion thread to which the comment was added. This identifier is an opaque string compatible with the Drive API and references the first comment in a discussion; see https://developers.google.com/workspace/drive/v3/reference/comments/get",
          "type": "string"
        }
      },
      "id": "FileComment"
    },
    "Upload": {
      "type": "object",
      "description": "An object was uploaded into Drive.",
      "id": "Upload",
      "properties": {}
    },
    "RestrictionChange": {
      "type": "object",
      "description": "Information about restriction policy changes to a feature.",
      "id": "RestrictionChange",
      "properties": {
        "feature": {
          "enum": [
            "FEATURE_UNSPECIFIED",
            "SHARING_OUTSIDE_DOMAIN",
            "DIRECT_SHARING",
            "ITEM_DUPLICATION",
            "DRIVE_FILE_STREAM",
            "FILE_ORGANIZER_CAN_SHARE_FOLDERS",
            "READERS_CAN_DOWNLOAD",
            "WRITERS_CAN_DOWNLOAD"
          ],
          "enumDescriptions": [
            "The feature which changed restriction settings was not available.",
            "When restricted, this prevents items from being shared outside the domain.",
            "When restricted, this prevents direct sharing of individual items.",
            "Deprecated: Use READERS_CAN_DOWNLOAD instead.",
            "When restricted, this prevents use of Drive File Stream.",
            "When restricted, this limits sharing of folders to managers only.",
            "When restricted, this prevents actions like copy, download, and print for readers. Replaces ITEM_DUPLICATION.",
            "When restricted, this prevents actions like copy, download, and print for writers."
          ],
          "description": "The feature which had a change in restriction policy.",
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false
          ]
        },
        "newRestriction": {
          "enum": [
            "RESTRICTION_UNSPECIFIED",
            "UNRESTRICTED",
            "FULLY_RESTRICTED"
          ],
          "enumDescriptions": [
            "The type of restriction is not available.",
            "The feature is available without restriction.",
            "The use of this feature is fully restricted."
          ],
          "type": "string",
          "description": "The restriction in place after the change."
        }
      }
    },
    "DriveItemReference": {
      "type": "object",
      "description": "A lightweight reference to a Drive item, such as a file or folder.",
      "properties": {
        "folder": {
          "$ref": "Folder",
          "deprecated": true,
          "description": "This field is deprecated; please use the `driveFolder` field instead."
        },
        "name": {
          "type": "string",
          "description": "The target Drive item. The format is `items/ITEM_ID`."
        },
        "title": {
          "description": "The title of the Drive item.",
          "type": "string"
        },
        "driveFolder": {
          "$ref": "DriveFolder",
          "description": "The Drive item is a folder. Includes information about the type of folder."
        },
        "file": {
          "deprecated": true,
          "description": "This field is deprecated; please use the `driveFile` field instead.",
          "$ref": "File"
        },
        "driveFile": {
          "description": "The Drive item is a file.",
          "$ref": "DriveFile"
        }
      },
      "id": "DriveItemReference"
    },
    "Edit": {
      "properties": {},
      "description": "An empty message indicating an object was edited.",
      "id": "Edit",
      "type": "object"
    },
    "Administrator": {
      "type": "object",
      "id": "Administrator",
      "description": "Empty message representing an administrator.",
      "properties": {}
    },
    "SystemEvent": {
      "id": "SystemEvent",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER_DELETION",
            "TRASH_AUTO_PURGE"
          ],
          "type": "string",
          "description": "The type of the system event that may triggered activity.",
          "enumDescriptions": [
            "The event type is unspecified.",
            "The event is a consequence of a user account being deleted.",
            "The event is due to the system automatically purging trash."
          ]
        }
      },
      "description": "Event triggered by system operations instead of end users."
    },
    "Copy": {
      "properties": {
        "originalObject": {
          "description": "The original object.",
          "$ref": "TargetReference"
        }
      },
      "type": "object",
      "description": "An object was created by copying an existing object.",
      "id": "Copy"
    },
    "KnownUser": {
      "description": "A known user.",
      "id": "KnownUser",
      "properties": {
        "personName": {
          "description": "The identifier for this user that can be used with the People API to get more information. The format is `people/ACCOUNT_ID`. See https://developers.google.com/people/.",
          "type": "string"
        },
        "isCurrentUser": {
          "type": "boolean",
          "description": "True if this is the user making the request."
        }
      },
      "type": "object"
    },
    "FieldValue": {
      "type": "object",
      "properties": {
        "selectionList": {
          "description": "Selection List Field value.",
          "$ref": "SelectionList"
        },
        "textList": {
          "description": "Text List Field value.",
          "$ref": "TextList"
        },
        "userList": {
          "description": "User List Field value.",
          "$ref": "UserList"
        },
        "date": {
          "description": "Date Field value.",
          "$ref": "Date"
        },
        "integer": {
          "$ref": "Integer",
          "description": "Integer Field value."
        },
        "text": {
          "description": "Text Field value.",
          "$ref": "Text"
        },
        "selection": {
          "description": "Selection Field value.",
          "$ref": "Selection"
        },
        "user": {
          "description": "User Field value.",
          "$ref": "SingleUser"
        }
      },
      "id": "FieldValue",
      "description": "Contains a value of a Field."
    },
    "New": {
      "id": "New",
      "description": "An object was created from scratch.",
      "type": "object",
      "properties": {}
    },
    "DriveFile": {
      "description": "A Drive item which is a file.",
      "id": "DriveFile",
      "type": "object",
      "properties": {}
    },
    "AnonymousUser": {
      "properties": {},
      "description": "Empty message representing an anonymous user or indicating the authenticated user should be anonymized.",
      "id": "AnonymousUser",
      "type": "object"
    },
    "Create": {
      "type": "object",
      "description": "An object was created.",
      "id": "Create",
      "properties": {
        "upload": {
          "$ref": "Upload",
          "description": "If present, indicates the object originated externally and was uploaded to Drive."
        },
        "new": {
          "$ref": "New",
          "description": "If present, indicates the object was newly created (e.g. as a blank document), not derived from a Drive object or external object."
        },
        "copy": {
          "description": "If present, indicates the object was created by copying an existing Drive object.",
          "$ref": "Copy"
        }
      }
    },
    "ApplicationReference": {
      "id": "ApplicationReference",
      "type": "object",
      "properties": {
        "type": {
          "description": "The reference type corresponding to this event.",
          "enumDescriptions": [
            "The type is not available.",
            "The links of one or more Drive items were posted.",
            "Comments were made regarding a Drive item."
          ],
          "enum": [
            "UNSPECIFIED_REFERENCE_TYPE",
            "LINK",
            "DISCUSS"
          ],
          "type": "string"
        }
      },
      "description": "Activity in applications other than Drive."
    },
    "Post": {
      "description": "A regular posted comment.",
      "properties": {
        "subtype": {
          "type": "string",
          "description": "The sub-type of this event.",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED"
          ],
          "enumDescriptions": [
            "Subtype not available.",
            "A post was added.",
            "A post was deleted.",
            "A reply was added.",
            "A reply was deleted.",
            "A posted comment was resolved.",
            "A posted comment was reopened."
          ]
        }
      },
      "type": "object",
      "id": "Post"
    },
    "Selection": {
      "id": "Selection",
      "description": "Wrapper for Selection Field value as combined value/display_name pair for selected choice.",
      "properties": {
        "value": {
          "description": "Selection value as Field Choice ID.",
          "type": "string"
        },
        "displayName": {
          "description": "Selection value as human-readable display string.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Impersonation": {
      "id": "Impersonation",
      "description": "Information about an impersonation, where an admin acts on behalf of an end user. Information about the acting admin is not currently available.",
      "type": "object",
      "properties": {
        "impersonatedUser": {
          "$ref": "User",
          "description": "The impersonated user."
        }
      }
    },
    "PermissionChange": {
      "type": "object",
      "description": "A change of the permission setting on an item.",
      "id": "PermissionChange",
      "properties": {
        "addedPermissions": {
          "description": "The set of permissions added by this change.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        },
        "removedPermissions": {
          "description": "The set of permissions removed by this change.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        }
      }
    },
    "UserList": {
      "type": "object",
      "id": "UserList",
      "description": "Wrapper for UserList Field value.",
      "properties": {
        "values": {
          "description": "User values.",
          "type": "array",
          "items": {
            "$ref": "SingleUser"
          }
        }
      }
    },
    "FieldValueChange": {
      "description": "Change to a Field value.",
      "properties": {
        "fieldId": {
          "type": "string",
          "description": "The ID of this field. Field IDs are unique within a Label."
        },
        "displayName": {
          "description": "The human-readable display name for this field.",
          "type": "string"
        },
        "oldValue": {
          "$ref": "FieldValue",
          "description": "The value that was previously set on the field. If not present, the field was newly set. At least one of {old_value|new_value} is always set."
        },
        "newValue": {
          "description": "The value that is now set on the field. If not present, the field was cleared. At least one of {old_value|new_value} is always set.",
          "$ref": "FieldValue"
        }
      },
      "id": "FieldValueChange",
      "type": "object"
    },
    "DriveItem": {
      "type": "object",
      "description": "A Drive item, such as a file or folder.",
      "id": "DriveItem",
      "properties": {
        "driveFile": {
          "description": "The Drive item is a file.",
          "$ref": "DriveFile"
        },
        "owner": {
          "description": "Information about the owner of this Drive item.",
          "$ref": "Owner"
        },
        "folder": {
          "description": "This field is deprecated; please use the `driveFolder` field instead.",
          "deprecated": true,
          "$ref": "Folder"
        },
        "driveFolder": {
          "description": "The Drive item is a folder. Includes information about the type of folder.",
          "$ref": "DriveFolder"
        },
        "title": {
          "type": "string",
          "description": "The title of the Drive item."
        },
        "name": {
          "description": "The target Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "file": {
          "description": "This field is deprecated; please use the `driveFile` field instead.",
          "deprecated": true,
          "$ref": "File"
        },
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the Drive item. See https://developers.google.com/workspace/drive/v3/web/mime-types."
        }
      }
    },
    "Permission": {
      "id": "Permission",
      "description": "The permission setting of an object.",
      "type": "object",
      "properties": {
        "user": {
          "$ref": "User",
          "description": "The user to whom this permission applies."
        },
        "anyone": {
          "$ref": "Anyone",
          "description": "If set, this permission applies to anyone, even logged out users."
        },
        "allowDiscovery": {
          "description": "If true, the item can be discovered (e.g. in the user's \"Shared with me\" collection) without needing a link to the item.",
          "type": "boolean"
        },
        "role": {
          "type": "string",
          "enumDescriptions": [
            "The role is not available.",
            "A role granting full access.",
            "A role granting the ability to manage people and settings.",
            "A role granting the ability to contribute and manage content.",
            "A role granting the ability to contribute content. This role is sometimes also known as \"writer\".",
            "A role granting the ability to view and comment on content.",
            "A role granting the ability to view content. This role is sometimes also known as \"reader\".",
            "A role granting the ability to view content only after it has been published to the web. This role is sometimes also known as \"published reader\". See https://support.google.com/sites/answer/6372880 for more information."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "ORGANIZER",
            "FILE_ORGANIZER",
            "EDITOR",
            "COMMENTER",
            "VIEWER",
            "PUBLISHED_VIEWER"
          ],
          "description": "Indicates the [Google Drive permissions role](https://developers.google.com/workspace/drive/web/manage-sharing#roles). The role determines a user's ability to read, write, and comment on items."
        },
        "group": {
          "$ref": "Group",
          "description": "The group to whom this permission applies."
        },
        "domain": {
          "$ref": "Domain",
          "description": "The domain to whom this permission applies."
        }
      }
    },
    "ActionDetail": {
      "properties": {
        "edit": {
          "description": "An object was edited.",
          "$ref": "Edit"
        },
        "comment": {
          "description": "A change about comments was made.",
          "$ref": "Comment"
        },
        "settingsChange": {
          "description": "Settings were changed.",
          "$ref": "SettingsChange"
        },
        "delete": {
          "$ref": "Delete",
          "description": "An object was deleted."
        },
        "appliedLabelChange": {
          "description": "Label was changed.",
          "$ref": "AppliedLabelChange"
        },
        "rename": {
          "description": "An object was renamed.",
          "$ref": "Rename"
        },
        "restore": {
          "$ref": "Restore",
          "description": "A deleted object was restored."
        },
        "permissionChange": {
          "$ref": "PermissionChange",
          "description": "The permission on an object was changed."
        },
        "reference": {
          "description": "An object was referenced in an application outside of Drive/Docs.",
          "$ref": "ApplicationReference"
        },
        "create": {
          "description": "An object was created.",
          "$ref": "Create"
        },
        "dlpChange": {
          "description": "A change happened in data leak prevention status.",
          "$ref": "DataLeakPreventionChange"
        },
        "move": {
          "$ref": "Move",
          "description": "An object was moved."
        }
      },
      "id": "ActionDetail",
      "type": "object",
      "description": "Data describing the type and additional information of an action."
    },
    "ConsolidationStrategy": {
      "description": "How the individual activities are consolidated. If a set of activities is related they can be consolidated into one combined activity, such as one actor performing the same action on multiple targets, or multiple actors performing the same action on a single target. The strategy defines the rules for which activities are related.",
      "properties": {
        "legacy": {
          "$ref": "Legacy",
          "description": "The individual activities are consolidated using the legacy strategy."
        },
        "none": {
          "$ref": "NoConsolidation",
          "description": "The individual activities are not consolidated."
        }
      },
      "type": "object",
      "id": "ConsolidationStrategy"
    },
    "Drive": {
      "type": "object",
      "id": "Drive",
      "properties": {
        "root": {
          "$ref": "DriveItem",
          "description": "The root of this shared drive."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name."
        },
        "title": {
          "description": "The title of the shared drive.",
          "type": "string"
        }
      },
      "description": "Information about a shared drive."
    },
    "Owner": {
      "description": "Information about the owner of a Drive item.",
      "id": "Owner",
      "properties": {
        "domain": {
          "description": "The domain of the Drive item owner.",
          "$ref": "Domain"
        },
        "teamDrive": {
          "deprecated": true,
          "description": "This field is deprecated; please use the `drive` field instead.",
          "$ref": "TeamDriveReference"
        },
        "drive": {
          "$ref": "DriveReference",
          "description": "The drive that owns the item."
        },
        "user": {
          "description": "The user that owns the Drive item.",
          "$ref": "User"
        }
      },
      "type": "object"
    },
    "DriveFolder": {
      "properties": {
        "type": {
          "description": "The type of Drive folder.",
          "type": "string",
          "enumDescriptions": [
            "The folder type is unknown.",
            "The folder is the root of a user's MyDrive.",
            "The folder is the root of a shared drive.",
            "The folder is a standard, non-root, folder."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "SHARED_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ]
        }
      },
      "id": "DriveFolder",
      "description": "A Drive item which is a folder.",
      "type": "object"
    },
    "Target": {
      "type": "object",
      "properties": {
        "fileComment": {
          "description": "The target is a comment on a Drive file.",
          "$ref": "FileComment"
        },
        "teamDrive": {
          "deprecated": true,
          "$ref": "TeamDrive",
          "description": "This field is deprecated; please use the `drive` field instead."
        },
        "drive": {
          "description": "The target is a shared drive.",
          "$ref": "Drive"
        },
        "driveItem": {
          "$ref": "DriveItem",
          "description": "The target is a Drive item."
        }
      },
      "description": "Information about the target of activity. For more information on how activity history is shared with users, see [Activity history visibility](https://developers.google.com/workspace/drive/activity/v2#activityhistory).",
      "id": "Target"
    },
    "DeletedUser": {
      "type": "object",
      "properties": {},
      "id": "DeletedUser",
      "description": "A user whose account has since been deleted."
    },
    "QueryDriveActivityResponse": {
      "properties": {
        "activities": {
          "items": {
            "$ref": "DriveActivity"
          },
          "description": "List of activity requested.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "description": "Response message for querying Drive activity.",
      "type": "object",
      "id": "QueryDriveActivityResponse"
    },
    "SettingsChange": {
      "properties": {
        "restrictionChanges": {
          "type": "array",
          "items": {
            "$ref": "RestrictionChange"
          },
          "description": "The set of changes made to restrictions."
        }
      },
      "description": "Information about settings changes.",
      "type": "object",
      "id": "SettingsChange"
    },
    "DriveReference": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name."
        },
        "title": {
          "description": "The title of the shared drive.",
          "type": "string"
        }
      },
      "description": "A lightweight reference to a shared drive.",
      "type": "object",
      "id": "DriveReference"
    },
    "Move": {
      "description": "An object was moved.",
      "type": "object",
      "id": "Move",
      "properties": {
        "addedParents": {
          "description": "The added parent object(s).",
          "type": "array",
          "items": {
            "$ref": "TargetReference"
          }
        },
        "removedParents": {
          "items": {
            "$ref": "TargetReference"
          },
          "type": "array",
          "description": "The removed parent object(s)."
        }
      }
    },
    "SelectionList": {
      "properties": {
        "values": {
          "items": {
            "$ref": "Selection"
          },
          "description": "Selection values.",
          "type": "array"
        }
      },
      "description": "Wrapper for SelectionList Field value.",
      "type": "object",
      "id": "SelectionList"
    },
    "Domain": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the domain, e.g. `google.com`."
        },
        "legacyId": {
          "type": "string",
          "description": "An opaque string used to identify this domain."
        }
      },
      "description": "Information about a domain.",
      "id": "Domain"
    },
    "AppliedLabelChangeDetail": {
      "type": "object",
      "id": "AppliedLabelChangeDetail",
      "properties": {
        "label": {
          "description": "The Label name representing the Label that changed. This name always contains the revision of the Label that was used when this Action occurred. The format is `labels/id@revision`.",
          "type": "string"
        },
        "title": {
          "description": "The human-readable title of the label that changed.",
          "type": "string"
        },
        "fieldChanges": {
          "type": "array",
          "description": "Field Changes. Only present if `types` contains `LABEL_FIELD_VALUE_CHANGED`.",
          "items": {
            "$ref": "FieldValueChange"
          }
        },
        "types": {
          "items": {
            "enum": [
              "TYPE_UNSPECIFIED",
              "LABEL_ADDED",
              "LABEL_REMOVED",
              "LABEL_FIELD_VALUE_CHANGED",
              "LABEL_APPLIED_BY_ITEM_CREATE"
            ],
            "type": "string",
            "enumDescriptions": [
              "The type of change to this Label is not available.",
              "The identified Label was added to the Target.",
              "The identified Label was removed from the Target.",
              "Field values were changed on the Target.",
              "The Label was applied as a side-effect of Drive item creation."
            ]
          },
          "type": "array",
          "description": "The types of changes made to the Label on the Target."
        }
      },
      "description": "A change made to a Label on the Target."
    },
    "Group": {
      "id": "Group",
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email address of the group."
        },
        "title": {
          "description": "The title of the group.",
          "type": "string"
        }
      },
      "description": "Information about a group."
    },
    "Suggestion": {
      "id": "Suggestion",
      "type": "object",
      "description": "A suggestion.",
      "properties": {
        "subtype": {
          "description": "The sub-type of this event.",
          "type": "string",
          "enumDescriptions": [
            "Subtype not available.",
            "A suggestion was added.",
            "A suggestion was deleted.",
            "A suggestion reply was added.",
            "A suggestion reply was deleted.",
            "A suggestion was accepted.",
            "A suggestion was rejected.",
            "An accepted suggestion was deleted.",
            "A rejected suggestion was deleted."
          ],
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "ACCEPTED",
            "REJECTED",
            "ACCEPT_DELETED",
            "REJECT_DELETED"
          ]
        }
      }
    },
    "Date": {
      "description": "Wrapper for Date Field value.",
      "properties": {
        "value": {
          "format": "google-datetime",
          "description": "Date value.",
          "type": "string"
        }
      },
      "id": "Date",
      "type": "object"
    },
    "UnknownUser": {
      "properties": {},
      "id": "UnknownUser",
      "description": "A user about whom nothing is currently known.",
      "type": "object"
    },
    "Comment": {
      "id": "Comment",
      "properties": {
        "post": {
          "description": "A change on a regular posted comment.",
          "$ref": "Post"
        },
        "mentionedUsers": {
          "items": {
            "$ref": "User"
          },
          "type": "array",
          "description": "Users who are mentioned in this comment."
        },
        "assignment": {
          "description": "A change on an assignment.",
          "$ref": "Assignment"
        },
        "suggestion": {
          "$ref": "Suggestion",
          "description": "A change on a suggestion."
        }
      },
      "type": "object",
      "description": "A change about comments on an object."
    },
    "Folder": {
      "id": "Folder",
      "deprecated": true,
      "description": "This item is deprecated; please see `DriveFolder` instead.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "TEAM_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ],
          "description": "This field is deprecated; please see `DriveFolder.type` instead.",
          "enumDescriptions": [
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead."
          ]
        }
      }
    }
  },
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260908",
  "description": "Provides a historical view of activity in Google Drive.",
  "baseUrl": "https://driveactivity.googleapis.com/",
  "servicePath": ""
}