{
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "schemas": {
    "Property": {
      "description": "A key-value pair attached to a file that is either public or private to an application. The following limits apply to file properties: * Maximum of 100 properties total per file * Maximum of 30 private properties per app * Maximum of 30 public properties * Maximum of 124 bytes size limit on (key + value) string in UTF-8 encoding for a single property Some resource methods (such as `properties.update`) require a `propertyKey`. Use the `properties.list` method to retrieve the key for a property.",
      "type": "object",
      "properties": {
        "etag": {
          "description": "Output only. ETag of the property.",
          "type": "string"
        },
        "key": {
          "annotations": {
            "required": [
              "drive.properties.insert"
            ]
          },
          "description": "The key of this property.",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. The link back to this property.",
          "type": "string"
        },
        "visibility": {
          "description": "The visibility of this property. Allowed values are PRIVATE (default) and PUBLIC. Private properties can only be retrieved using an authenticated request. An authenticated request uses an access token obtained with a OAuth 2 client ID. You cannot use an API key to retrieve private properties.",
          "type": "string"
        },
        "value": {
          "description": "The value of this property.",
          "type": "string"
        },
        "kind": {
          "description": "Output only. This is always `drive#property`.",
          "type": "string",
          "default": "drive#property"
        }
      },
      "id": "Property"
    },
    "CommentList": {
      "properties": {
        "kind": {
          "default": "drive#commentList",
          "description": "This is always drive#commentList.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Comment"
          },
          "description": "The list of comments. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array"
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "nextLink": {
          "description": "A link to the next page of comments.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The page token for the next page of comments. This will be absent if the end of the comments list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        }
      },
      "description": "A list of comments on a file in Google Drive.",
      "type": "object",
      "id": "CommentList"
    },
    "LabelModification": {
      "description": "A modification to a label on a file. A LabelModification can be used to apply a label to a file, update an existing label on a file, or remove a label from a file.",
      "type": "object",
      "properties": {
        "labelId": {
          "annotations": {
            "required": [
              "drive.files.modifyLabels"
            ]
          },
          "description": "The ID of the label to modify.",
          "type": "string"
        },
        "fieldModifications": {
          "items": {
            "$ref": "LabelFieldModification"
          },
          "description": "The list of modifications to this label's fields.",
          "type": "array"
        },
        "removeLabel": {
          "description": "If true, the label will be removed from the file.",
          "type": "boolean"
        },
        "kind": {
          "default": "drive#labelModification",
          "description": "This is always `drive#labelModification`.",
          "type": "string"
        }
      },
      "id": "LabelModification"
    },
    "ClientEncryptionDetails": {
      "id": "ClientEncryptionDetails",
      "description": "Details about the client-side encryption applied to the file.",
      "type": "object",
      "properties": {
        "encryptionState": {
          "description": "The encryption state of the file. The values expected here are: - encrypted - unencrypted ",
          "type": "string"
        },
        "decryptionMetadata": {
          "description": "The metadata used for client-side operations.",
          "$ref": "DecryptionMetadata"
        }
      }
    },
    "Drive": {
      "id": "Drive",
      "properties": {
        "name": {
          "annotations": {
            "required": [
              "drive.drives.insert"
            ]
          },
          "description": "The name of this shared drive.",
          "type": "string"
        },
        "themeId": {
          "description": "The ID of the theme from which the background image and color will be set. The set of possible `driveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.drives.insert` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`.",
          "type": "string"
        },
        "orgUnitId": {
          "description": "Output only. The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`.",
          "type": "string"
        },
        "id": {
          "description": "Output only. The ID of this shared drive which is also the ID of the top level folder of this shared drive.",
          "type": "string"
        },
        "restrictions": {
          "properties": {
            "domainUsersOnly": {
              "description": "Whether access to this shared drive and items inside this shared drive is restricted to users of the domain to which this shared drive belongs. This restriction may be overridden by other sharing policies controlled outside of this shared drive.",
              "type": "boolean"
            },
            "driveMembersOnly": {
              "description": "Whether access to items inside this shared drive is restricted to its members.",
              "type": "boolean"
            },
            "copyRequiresWriterPermission": {
              "description": "Whether the options to copy, print, or download files inside this shared drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this shared drive.",
              "type": "boolean"
            },
            "sharingFoldersRequiresOrganizerPermission": {
              "description": "If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders.",
              "type": "boolean"
            },
            "adminManagedRestrictions": {
              "description": "Whether administrative privileges on this shared drive are required to modify restrictions.",
              "type": "boolean"
            }
          },
          "description": "A set of restrictions that apply to this shared drive or items inside this shared drive.",
          "type": "object"
        },
        "kind": {
          "description": "Output only. This is always `drive#drive`",
          "type": "string",
          "default": "drive#drive"
        },
        "backgroundImageFile": {
          "properties": {
            "yCoordinate": {
              "format": "float",
              "description": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image.",
              "type": "number"
            },
            "id": {
              "description": "The ID of an image file in Google Drive to use for the background image.",
              "type": "string"
            },
            "xCoordinate": {
              "description": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image.",
              "type": "number",
              "format": "float"
            },
            "width": {
              "format": "float",
              "description": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high.",
              "type": "number"
            }
          },
          "description": "An image file and cropping parameters from which a background image for this shared drive is set. This is a write only field; it can only be set on `drive.drives.update` requests that don't set `themeId`. When specified, all fields of the `backgroundImageFile` must be set.",
          "type": "object"
        },
        "backgroundImageLink": {
          "description": "Output only. A short-lived link to this shared drive's background image.",
          "type": "string"
        },
        "createdDate": {
          "description": "The time at which the shared drive was created (RFC 3339 date-time).",
          "type": "string",
          "format": "date-time"
        },
        "colorRgb": {
          "description": "The color of this shared drive as an RGB hex string. It can only be set on a `drive.drives.update` request that does not set `themeId`.",
          "type": "string"
        },
        "hidden": {
          "description": "Whether the shared drive is hidden from default view.",
          "type": "boolean"
        },
        "capabilities": {
          "properties": {
            "canDownload": {
              "description": "Output only. Whether the current user can download files in this shared drive.",
              "type": "boolean"
            },
            "canRename": {
              "description": "Output only. Whether the current user can rename files or folders in this shared drive.",
              "type": "boolean"
            },
            "canChangeDriveBackground": {
              "description": "Output only. Whether the current user can change the background of this shared drive.",
              "type": "boolean"
            },
            "canComment": {
              "description": "Output only. Whether the current user can comment on files in this shared drive.",
              "type": "boolean"
            },
            "canChangeDriveMembersOnlyRestriction": {
              "description": "Output only. Whether the current user can change the `driveMembersOnly` restriction of this shared drive.",
              "type": "boolean"
            },
            "canChangeDomainUsersOnlyRestriction": {
              "description": "Output only. Whether the current user can change the `domainUsersOnly` restriction of this shared drive.",
              "type": "boolean"
            },
            "canAddChildren": {
              "description": "Output only. Whether the current user can add children to folders in this shared drive.",
              "type": "boolean"
            },
            "canDeleteDrive": {
              "description": "Output only. Whether the current user can delete this shared drive. Attempting to delete the shared drive may still fail if there are untrashed items inside the shared drive.",
              "type": "boolean"
            },
            "canDeleteChildren": {
              "description": "Output only. Whether the current user can delete children from folders in this shared drive.",
              "type": "boolean"
            },
            "canTrashChildren": {
              "description": "Output only. Whether the current user can trash children from folders in this shared drive.",
              "type": "boolean"
            },
            "canListChildren": {
              "description": "Output only. Whether the current user can list the children of folders in this shared drive.",
              "type": "boolean"
            },
            "canChangeSharingFoldersRequiresOrganizerPermissionRestriction": {
              "description": "Output only. Whether the current user can change the `sharingFoldersRequiresOrganizerPermission` restriction of this shared drive.",
              "type": "boolean"
            },
            "canManageMembers": {
              "description": "Output only. Whether the current user can add members to this shared drive or remove them or change their role.",
              "type": "boolean"
            },
            "canRenameDrive": {
              "description": "Output only. Whether the current user can rename this shared drive.",
              "type": "boolean"
            },
            "canChangeCopyRequiresWriterPermissionRestriction": {
              "description": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this shared drive.",
              "type": "boolean"
            },
            "canReadRevisions": {
              "description": "Output only. Whether the current user can read the revisions resource of files in this shared drive.",
              "type": "boolean"
            },
            "canResetDriveRestrictions": {
              "description": "Output only. Whether the current user can reset the shared drive restrictions to defaults.",
              "type": "boolean"
            },
            "canCopy": {
              "description": "Output only. Whether the current user can copy files in this shared drive.",
              "type": "boolean"
            },
            "canShare": {
              "description": "Output only. Whether the current user can share files or folders in this shared drive.",
              "type": "boolean"
            },
            "canEdit": {
              "description": "Output only. Whether the current user can edit files in this shared drive",
              "type": "boolean"
            }
          },
          "description": "Output only. Capabilities the current user has on this shared drive.",
          "type": "object"
        }
      },
      "description": "Representation of a shared drive. Some resource methods (such as `drives.update`) require a `driveId`. Use the `drives.list` method to retrieve the ID for a shared drive.",
      "type": "object"
    },
    "File": {
      "properties": {
        "fileExtension": {
          "description": "Output only. The final component of `fullFileExtension` with trailing text that does not appear to be part of the extension removed. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "indexableText": {
          "description": "Indexable text attributes for the file (can only be written)",
          "type": "object",
          "properties": {
            "text": {
              "description": "The text to be indexed for this file.",
              "type": "string"
            }
          }
        },
        "permissions": {
          "items": {
            "$ref": "Permission"
          },
          "description": "Output only. The list of permissions for users with access to this file. Not populated for items in shared drives.",
          "type": "array"
        },
        "modifiedDate": {
          "format": "date-time",
          "description": "Last time this file was modified by anyone (formatted RFC 3339 timestamp). This is only mutable on update when the setModifiedDate parameter is set.",
          "type": "string"
        },
        "shortcutDetails": {
          "description": "Shortcut file details. Only populated for shortcut files, which have the mimeType field set to `application/vnd.google-apps.shortcut`. Can only be set on `files.insert` requests.",
          "type": "object",
          "properties": {
            "targetId": {
              "description": "The ID of the file that this shortcut points to. Can only be set on `files.insert` requests.",
              "type": "string"
            },
            "targetMimeType": {
              "description": "Output only. The MIME type of the file that this shortcut points to. The value of this field is a snapshot of the target's MIME type, captured when the shortcut is created.",
              "type": "string"
            },
            "targetResourceKey": {
              "description": "Output only. The ResourceKey for the target file.",
              "type": "string"
            }
          }
        },
        "title": {
          "description": "The title of this file. Note that for immutable items such as the top level folders of shared drives, My Drive root folder, and Application Data folder the title is constant.",
          "type": "string"
        },
        "originalFilename": {
          "description": "The original filename of the uploaded content if available, or else the original value of the `title` field. This is only available for files with binary content in Google Drive.",
          "type": "string"
        },
        "mimeType": {
          "description": "The MIME type of the file. This is only mutable on update when uploading new content. This field can be left blank, and the mimetype will be determined from the uploaded content's MIME type.",
          "type": "string"
        },
        "inheritedPermissionsDisabled": {
          "description": "Whether this file has inherited permissions disabled. Inherited permissions are enabled by default.",
          "type": "boolean"
        },
        "teamDriveId": {
          "deprecated": true,
          "description": "Output only. Deprecated: Use `driveId` instead.",
          "type": "string"
        },
        "sha1Checksum": {
          "description": "Output only. The SHA1 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "canComment": {
          "description": "Output only. Deprecated: Use `capabilities/canComment` instead.",
          "type": "boolean",
          "deprecated": true
        },
        "etag": {
          "description": "Output only. ETag of the file.",
          "type": "string"
        },
        "thumbnailVersion": {
          "format": "int64",
          "description": "Output only. The thumbnail version for use in thumbnail cache invalidation.",
          "type": "string"
        },
        "imageMediaMetadata": {
          "description": "Output only. Metadata about image media. This will only be present for image types, and its contents will depend on what can be parsed from the image content.",
          "type": "object",
          "properties": {
            "location": {
              "properties": {
                "longitude": {
                  "format": "double",
                  "description": "Output only. The longitude stored in the image.",
                  "type": "number"
                },
                "latitude": {
                  "description": "Output only. The latitude stored in the image.",
                  "type": "number",
                  "format": "double"
                },
                "altitude": {
                  "description": "Output only. The altitude stored in the image.",
                  "type": "number",
                  "format": "double"
                }
              },
              "description": "Output only. Geographic location information stored in the image.",
              "type": "object"
            },
            "exposureMode": {
              "description": "Output only. The exposure mode used to create the photo.",
              "type": "string"
            },
            "cameraModel": {
              "description": "Output only. The model of the camera used to create the photo.",
              "type": "string"
            },
            "exposureTime": {
              "description": "Output only. The length of the exposure, in seconds.",
              "type": "number",
              "format": "float"
            },
            "width": {
              "format": "int32",
              "description": "Output only. The width of the image in pixels.",
              "type": "integer"
            },
            "height": {
              "format": "int32",
              "description": "Output only. The height of the image in pixels.",
              "type": "integer"
            },
            "focalLength": {
              "format": "float",
              "description": "Output only. The focal length used to create the photo, in millimeters.",
              "type": "number"
            },
            "rotation": {
              "description": "Output only. The number of clockwise 90 degree rotations applied from the image's original orientation.",
              "type": "integer",
              "format": "int32"
            },
            "aperture": {
              "description": "Output only. The aperture used to create the photo (f-number).",
              "type": "number",
              "format": "float"
            },
            "colorSpace": {
              "description": "Output only. The color space of the photo.",
              "type": "string"
            },
            "maxApertureValue": {
              "format": "float",
              "description": "Output only. The smallest f-number of the lens at the focal length used to create the photo (APEX value).",
              "type": "number"
            },
            "isoSpeed": {
              "format": "int32",
              "description": "Output only. The ISO speed used to create the photo.",
              "type": "integer"
            },
            "meteringMode": {
              "description": "Output only. The metering mode used to create the photo.",
              "type": "string"
            },
            "exposureBias": {
              "format": "float",
              "description": "Output only. The exposure bias of the photo (APEX value).",
              "type": "number"
            },
            "date": {
              "description": "Output only. The date and time the photo was taken (EXIF format timestamp).",
              "type": "string"
            },
            "lens": {
              "description": "Output only. The lens used to create the photo.",
              "type": "string"
            },
            "whiteBalance": {
              "description": "Output only. The white balance mode used to create the photo.",
              "type": "string"
            },
            "sensor": {
              "description": "Output only. The type of sensor used to create the photo.",
              "type": "string"
            },
            "cameraMake": {
              "description": "Output only. The make of the camera used to create the photo.",
              "type": "string"
            },
            "subjectDistance": {
              "description": "Output only. The distance to the subject of the photo, in meters.",
              "type": "integer",
              "format": "int32"
            },
            "flashUsed": {
              "description": "Output only. Whether a flash was used to create the photo.",
              "type": "boolean"
            }
          }
        },
        "sha256Checksum": {
          "description": "Output only. The SHA256 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "shareable": {
          "deprecated": true,
          "description": "Output only. Deprecated: Use `capabilities/canShare` instead.",
          "type": "boolean"
        },
        "markedViewedByMeDate": {
          "format": "date-time",
          "description": "Deprecated.",
          "type": "string"
        },
        "writersCanShare": {
          "description": "Whether writers can share the document with other users. Not populated for items in shared drives.",
          "type": "boolean"
        },
        "thumbnailLink": {
          "description": "Output only. A short-lived link to the file's thumbnail, if available. Typically lasts on the order of hours. Not intended for direct usage on web applications due to [Cross-Origin Resource Sharing (CORS)](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS), consider using a proxy server. Only populated when the requesting app can access the file's content. If the file isn't shared publicly, the URL returned in `Files.thumbnailLink` must be fetched using a credentialed request.",
          "type": "string"
        },
        "thumbnail": {
          "description": "A thumbnail for the file. This will only be used if a standard thumbnail cannot be generated.",
          "type": "object",
          "properties": {
            "mimeType": {
              "description": "The MIME type of the thumbnail.",
              "type": "string"
            },
            "image": {
              "format": "byte",
              "description": "The URL-safe Base64 encoded bytes of the thumbnail image. It should conform to RFC 4648 section 5.",
              "type": "string"
            }
          }
        },
        "id": {
          "description": "The ID of the file.",
          "type": "string"
        },
        "version": {
          "description": "Output only. A monotonically increasing version number for the file. This reflects every change made to the file on the server, even those not visible to the requesting user.",
          "type": "string",
          "format": "int64"
        },
        "openWithLinks": {
          "description": "Output only. A map of the id of each of the user's apps to a link to open this file with that app. Only populated when the drive.apps.readonly scope is used.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "spaces": {
          "description": "Output only. The list of spaces which contain the file. Supported values are `drive`, `appDataFolder` and `photos`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "modifiedByMeDate": {
          "description": "Last time this file was modified by the user (formatted RFC 3339 timestamp). Note that setting modifiedDate will also update the modifiedByMe date for the user which set the date.",
          "type": "string",
          "format": "date-time"
        },
        "md5Checksum": {
          "description": "Output only. An MD5 checksum for the content of this file. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "sharingUser": {
          "description": "Output only. User that shared the item with the current user, if available.",
          "$ref": "User"
        },
        "lastModifyingUserName": {
          "description": "Output only. Name of the last user to modify this file.",
          "type": "string"
        },
        "fileSize": {
          "format": "int64",
          "description": "Output only. Size in bytes of blobs and first party editor files. Won't be populated for files that have no size, like shortcuts and folders.",
          "type": "string"
        },
        "userPermission": {
          "$ref": "Permission",
          "description": "Output only. The permissions for the authenticated user on this file."
        },
        "folderColorRgb": {
          "description": "Folder color as an RGB hex string if the file is a folder or a shortcut to a folder. The list of supported colors is available in the folderColorPalette field of the About resource. If an unsupported color is specified, it will be changed to the closest color in the palette.",
          "type": "string"
        },
        "trashedDate": {
          "format": "date-time",
          "description": "The time that the item was trashed (formatted RFC 3339 timestamp). Only populated for items in shared drives.",
          "type": "string"
        },
        "lastModifyingUser": {
          "$ref": "User",
          "description": "Output only. The last user to modify this file. This field is only populated when the last modification was performed by a signed-in user."
        },
        "webContentLink": {
          "description": "Output only. A link for downloading the content of the file in a browser using cookie based authentication. In cases where the content is shared publicly, the content can be downloaded without any credentials.",
          "type": "string"
        },
        "fullFileExtension": {
          "description": "Output only. The full file extension; extracted from the title. May contain multiple concatenated extensions, such as \"tar.gz\". Removing an extension from the title does not clear this field; however, changing the extension on the title does update this field. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "appDataContents": {
          "description": "Output only. Whether this file is in the Application Data folder.",
          "type": "boolean"
        },
        "shared": {
          "description": "Output only. Whether the file has been shared. Not populated for items in shared drives.",
          "type": "boolean"
        },
        "copyRequiresWriterPermission": {
          "description": "Whether the options to copy, print, or download this file, should be disabled for readers and commenters.",
          "type": "boolean"
        },
        "ownerNames": {
          "description": "Output only. Name(s) of the owner(s) of this file. Not populated for items in shared drives.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "canReadRevisions": {
          "description": "Output only. Deprecated: Use `capabilities/canReadRevisions` instead.",
          "type": "boolean",
          "deprecated": true
        },
        "downloadUrl": {
          "description": "Output only. Short lived download URL for the file. This field is only populated for files with content stored in Google Drive; it is not populated for Google Docs or shortcut files.",
          "type": "string"
        },
        "ownedByMe": {
          "description": "Output only. Whether the file is owned by the current user. Not populated for items in shared drives.",
          "type": "boolean"
        },
        "videoMediaMetadata": {
          "properties": {
            "durationMillis": {
              "description": "Output only. The duration of the video in milliseconds.",
              "type": "string",
              "format": "int64"
            },
            "width": {
              "description": "Output only. The width of the video in pixels.",
              "type": "integer",
              "format": "int32"
            },
            "height": {
              "format": "int32",
              "description": "Output only. The height of the video in pixels.",
              "type": "integer"
            }
          },
          "description": "Output only. Metadata about video media. This will only be present for video types.",
          "type": "object"
        },
        "kind": {
          "description": "Output only. The type of file. This is always `drive#file`.",
          "type": "string",
          "default": "drive#file"
        },
        "alternateLink": {
          "description": "Output only. A link for opening the file in a relevant Google editor or viewer.",
          "type": "string"
        },
        "description": {
          "description": "A short description of the file.",
          "type": "string"
        },
        "owners": {
          "description": "Output only. The owner of this file. Only certain legacy files may have more than one owner. This field isn't populated for items in shared drives.",
          "type": "array",
          "items": {
            "$ref": "User"
          }
        },
        "properties": {
          "items": {
            "$ref": "Property"
          },
          "description": "The list of properties.",
          "type": "array"
        },
        "hasThumbnail": {
          "description": "Output only. Whether this file has a thumbnail. This does not indicate whether the requesting app has access to the thumbnail. To check access, look for the presence of the thumbnailLink field.",
          "type": "boolean"
        },
        "sharedWithMeDate": {
          "format": "date-time",
          "description": "Time at which this file was shared with the user (formatted RFC 3339 timestamp).",
          "type": "string"
        },
        "lastViewedByMeDate": {
          "description": "Last time this file was viewed by the user (formatted RFC 3339 timestamp).",
          "type": "string",
          "format": "date-time"
        },
        "isAppAuthorized": {
          "description": "Output only. Whether the file was created or opened by the requesting app.",
          "type": "boolean"
        },
        "createdDate": {
          "format": "date-time",
          "description": "Create time for this file (formatted RFC 3339 timestamp).",
          "type": "string"
        },
        "webViewLink": {
          "description": "Output only. A link only available on public folders for viewing their static web assets (HTML, CSS, JS, etc) via Google Drive's Website Hosting.",
          "type": "string"
        },
        "trashingUser": {
          "description": "Output only. If the file has been explicitly trashed, the user who trashed it. Only populated for items in shared drives.",
          "$ref": "User"
        },
        "contentRestrictions": {
          "description": "Restrictions for accessing the content of the file. Only populated if such a restriction exists.",
          "type": "array",
          "items": {
            "$ref": "ContentRestriction"
          }
        },
        "linkShareMetadata": {
          "properties": {
            "securityUpdateEligible": {
              "description": "Output only. Whether the file is eligible for security update.",
              "type": "boolean"
            },
            "securityUpdateEnabled": {
              "description": "Output only. Whether the security update is enabled for this file.",
              "type": "boolean"
            }
          },
          "description": "Contains details about the link URLs that clients are using to refer to this item.",
          "type": "object"
        },
        "clientEncryptionDetails": {
          "$ref": "ClientEncryptionDetails",
          "description": "Client Side Encryption related details. Contains details about the encryption state of the file and details regarding the encryption mechanism that clients need to use when decrypting the contents of this item. This will only be present on files and not on folders or shortcuts."
        },
        "selfLink": {
          "description": "Output only. A link back to this file.",
          "type": "string"
        },
        "labelInfo": {
          "properties": {
            "labels": {
              "description": "Output only. The set of labels on the file as requested by the label IDs in the `includeLabels` parameter. By default, no labels are returned.",
              "type": "array",
              "items": {
                "$ref": "Label"
              }
            }
          },
          "description": "Output only. An overview of the labels on the file.",
          "type": "object"
        },
        "driveId": {
          "description": "Output only. ID of the shared drive the file resides in. Only populated for items in shared drives.",
          "type": "string"
        },
        "quotaBytesUsed": {
          "description": "Output only. The number of quota bytes used by this file.",
          "type": "string",
          "format": "int64"
        },
        "resourceKey": {
          "description": "Output only. A key needed to access the item via a shared link.",
          "type": "string"
        },
        "iconLink": {
          "description": "Output only. A link to the file's icon.",
          "type": "string"
        },
        "exportLinks": {
          "description": "Output only. Links for exporting Docs Editors files to specific formats.",
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          }
        },
        "headRevisionId": {
          "description": "Output only. The ID of the file's head revision. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "defaultOpenWithLink": {
          "description": "Output only. A link to open this file with the user's default app for this file. Only populated when the drive.apps.readonly scope is used.",
          "type": "string"
        },
        "capabilities": {
          "properties": {
            "canTrashChildren": {
              "description": "Output only. Whether the current user can trash children of this folder. This is false when the item is not a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canMoveChildrenOutOfTeamDrive": {
              "description": "Output only. Deprecated: Use `canMoveChildrenOutOfDrive` instead.",
              "type": "boolean",
              "deprecated": true
            },
            "canDisableInheritedPermissions": {
              "readOnly": true,
              "description": "Output only. Whether a user can disable inherited permissions.",
              "type": "boolean"
            },
            "canListChildren": {
              "description": "Output only. Whether the current user can list the children of this folder. This is always false when the item is not a folder.",
              "type": "boolean"
            },
            "canUntrash": {
              "description": "Output only. Whether the current user can restore this file from trash.",
              "type": "boolean"
            },
            "canRemoveContentRestriction": {
              "description": "Output only. Whether there is a content restriction on the file that can be removed by the current user.",
              "type": "boolean"
            },
            "canMoveChildrenWithinTeamDrive": {
              "deprecated": true,
              "description": "Output only. Deprecated: Use `canMoveChildrenWithinDrive` instead.",
              "type": "boolean"
            },
            "canComment": {
              "description": "Output only. Whether the current user can comment on this file.",
              "type": "boolean"
            },
            "canMoveTeamDriveItem": {
              "description": "Output only. Deprecated: Use `canMoveItemWithinDrive` or `canMoveItemOutOfDrive` instead.",
              "type": "boolean",
              "deprecated": true
            },
            "canDownload": {
              "description": "Output only. Whether the current user can download this file.",
              "type": "boolean"
            },
            "canRemoveChildren": {
              "description": "Output only. Whether the current user can remove children from this folder. This is always false when the item is not a folder. For a folder in a shared drive, use `canDeleteChildren` or `canTrashChildren` instead.",
              "type": "boolean"
            },
            "canEdit": {
              "description": "Output only. Whether the current user can edit this file. Other factors may limit the type of changes a user can make to a file. For example, see `canChangeCopyRequiresWriterPermission` or `canModifyContent`.",
              "type": "boolean"
            },
            "canChangeRestrictedDownload": {
              "deprecated": true,
              "description": "Output only. Deprecated.",
              "type": "boolean"
            },
            "canMoveItemIntoTeamDrive": {
              "description": "Output only. Deprecated: Use `canMoveItemOutOfDrive` instead.",
              "type": "boolean",
              "deprecated": true
            },
            "canChangeCopyRequiresWriterPermission": {
              "description": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this file.",
              "type": "boolean"
            },
            "canAcceptOwnership": {
              "description": "Output only. Whether the current user is the pending owner of the file. Not populated for shared drive files.",
              "type": "boolean"
            },
            "canReadRevisions": {
              "description": "Output only. Whether the current user can read the revisions resource of this file. For a shared drive item, whether revisions of non-folder descendants of this item, or this item itself if it is not a folder, can be read.",
              "type": "boolean"
            },
            "canTrash": {
              "description": "Output only. Whether the current user can move this file to trash.",
              "type": "boolean"
            },
            "canMoveItemOutOfTeamDrive": {
              "deprecated": true,
              "description": "Output only. Deprecated: Use `canMoveItemOutOfDrive` instead.",
              "type": "boolean"
            },
            "canReadLabels": {
              "description": "Output only. Whether the current user can read the labels on the file.",
              "type": "boolean"
            },
            "canDeleteChildren": {
              "description": "Output only. Whether the current user can delete children of this folder. This is false when the item is not a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canModifyContent": {
              "description": "Output only. Whether the current user can modify the content of this file.",
              "type": "boolean"
            },
            "canReadTeamDrive": {
              "deprecated": true,
              "description": "Output only. Deprecated: Use `canReadDrive` instead.",
              "type": "boolean"
            },
            "canReadDrive": {
              "description": "Output only. Whether the current user can read the shared drive to which this file belongs. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canAddChildren": {
              "description": "Output only. Whether the current user can add children to this folder. This is always false when the item is not a folder.",
              "type": "boolean"
            },
            "canMoveItemWithinDrive": {
              "description": "Output only. Whether the current user can move this item within this drive. Note that a request to change the parent of the item may still fail depending on the new parent that is being added and the parent that is being removed.",
              "type": "boolean"
            },
            "canMoveChildrenWithinDrive": {
              "description": "Output only. Whether the current user can move children of this folder within this drive. This is false when the item is not a folder. Note that a request to move the child may still fail depending on the current user's access to the child and to the destination folder.",
              "type": "boolean"
            },
            "canAddMyDriveParent": {
              "description": "Output only. Whether the current user can add a parent for the item without removing an existing parent in the same request. Not populated for shared drive files.",
              "type": "boolean"
            },
            "canRename": {
              "description": "Output only. Whether the current user can rename this file.",
              "type": "boolean"
            },
            "canModifyContentRestriction": {
              "deprecated": true,
              "description": "Deprecated: Output only. Use one of `canModifyEditorContentRestriction`, `canModifyOwnerContentRestriction` or `canRemoveContentRestriction`.",
              "type": "boolean"
            },
            "canMoveItemWithinTeamDrive": {
              "description": "Output only. Deprecated: Use `canMoveItemWithinDrive` instead.",
              "type": "boolean",
              "deprecated": true
            },
            "canModifyLabels": {
              "description": "Output only. Whether the current user can modify the labels on the file.",
              "type": "boolean"
            },
            "canMoveChildrenOutOfDrive": {
              "description": "Output only. Whether the current user can move children of this folder outside of the shared drive. This is false when the item is not a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canAddFolderFromAnotherDrive": {
              "description": "Output only. Whether the current user can add a folder from another drive (different shared drive or My Drive) to this folder. This is false when the item is not a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canModifyEditorContentRestriction": {
              "description": "Output only. Whether the current user can add or modify content restrictions on the file which are editor restricted.",
              "type": "boolean"
            },
            "canEnableInheritedPermissions": {
              "description": "Output only. Whether a user can re-enable inherited permissions.",
              "type": "boolean",
              "readOnly": true
            },
            "canMoveItemOutOfDrive": {
              "description": "Output only. Whether the current user can move this item outside of this drive by changing its parent. Note that a request to change the parent of the item may still fail depending on the new parent that is being added.",
              "type": "boolean"
            },
            "canRemoveMyDriveParent": {
              "description": "Output only. Whether the current user can remove a parent from the item without adding another parent in the same request. Not populated for shared drive files.",
              "type": "boolean"
            },
            "canShare": {
              "description": "Output only. Whether the current user can modify the sharing settings for this file.",
              "type": "boolean"
            },
            "canCopy": {
              "description": "Output only. Whether the current user can copy this file. For an item in a shared drive, whether the current user can copy non-folder descendants of this item, or this item itself if it is not a folder.",
              "type": "boolean"
            },
            "canDelete": {
              "description": "Output only. Whether the current user can delete this file.",
              "type": "boolean"
            },
            "canChangeSecurityUpdateEnabled": {
              "description": "Output only. Whether the current user can change the securityUpdateEnabled field on link share metadata.",
              "type": "boolean"
            },
            "canModifyOwnerContentRestriction": {
              "description": "Output only. Whether the current user can add or modify content restrictions which are owner restricted.",
              "type": "boolean"
            }
          },
          "description": "Output only. Capabilities the current user has on this file. Each capability corresponds to a fine-grained action that a user may take.",
          "type": "object"
        },
        "hasAugmentedPermissions": {
          "description": "Output only. Whether there are permissions directly on this file. This field is only populated for items in shared drives.",
          "type": "boolean"
        },
        "labels": {
          "description": "A group of labels for the file.",
          "type": "object",
          "properties": {
            "hidden": {
              "deprecated": true,
              "description": "Output only. Deprecated.",
              "type": "boolean"
            },
            "trashed": {
              "description": "Whether this file has been trashed. This label applies to all users accessing the file; however, only owners are allowed to see and untrash files.",
              "type": "boolean"
            },
            "viewed": {
              "description": "Whether this file has been viewed by this user.",
              "type": "boolean"
            },
            "restricted": {
              "description": "Output only. Deprecated: Use `copyRequiresWriterPermission` instead.",
              "type": "boolean",
              "deprecated": true
            },
            "starred": {
              "description": "Whether this file is starred by the user.",
              "type": "boolean"
            },
            "modified": {
              "description": "Output only. Whether the file has been modified by this user.",
              "type": "boolean"
            }
          }
        },
        "parents": {
          "items": {
            "$ref": "ParentReference"
          },
          "description": "The ID of the parent folder containing the file. A file can only have one parent folder; specifying multiple parents isn't supported. If not specified as part of an insert request, the file is placed directly in the user's My Drive folder. If not specified as part of a copy request, the file inherits any discoverable parent of the source file. Update requests must use the `addParents` and `removeParents` parameters to modify the parents list.",
          "type": "array"
        },
        "editable": {
          "description": "Output only. Deprecated: Use `capabilities/canEdit` instead.",
          "type": "boolean",
          "deprecated": true
        },
        "embedLink": {
          "description": "Output only. A link for embedding the file.",
          "type": "string"
        },
        "permissionIds": {
          "description": "Output only. List of permission IDs for users with access to this file.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "copyable": {
          "deprecated": true,
          "description": "Output only. Deprecated: Use `capabilities/canCopy` instead.",
          "type": "boolean"
        },
        "explicitlyTrashed": {
          "description": "Output only. Whether this file has been explicitly trashed, as opposed to recursively trashed.",
          "type": "boolean"
        }
      },
      "description": "The metadata for a file. Some resource methods (such as `files.update`) require a `fileId`. Use the `files.list` method to retrieve the ID for a file.",
      "type": "object",
      "id": "File"
    },
    "ParentReference": {
      "id": "ParentReference",
      "properties": {
        "selfLink": {
          "description": "Output only. A link back to this reference.",
          "type": "string"
        },
        "id": {
          "annotations": {
            "required": [
              "drive.parents.insert"
            ]
          },
          "description": "The ID of the parent.",
          "type": "string"
        },
        "parentLink": {
          "description": "Output only. A link to the parent.",
          "type": "string"
        },
        "isRoot": {
          "description": "Output only. Whether or not the parent is the root folder.",
          "type": "boolean"
        },
        "kind": {
          "default": "drive#parentReference",
          "description": "Output only. This is always `drive#parentReference`.",
          "type": "string"
        }
      },
      "description": "A reference to a file's parent. A file can only have one parent folder; specifying multiple parents isn't supported. Some resource methods (such as `parents.get`) require a `parentId`. Use the `parents.list` method to retrieve the ID for a parent.",
      "type": "object"
    },
    "Channel": {
      "properties": {
        "expiration": {
          "format": "int64",
          "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
          "type": "string"
        },
        "type": {
          "description": "The type of delivery mechanism used for this channel. Valid values are \"web_hook\" or \"webhook\".",
          "type": "string"
        },
        "address": {
          "description": "The address where notifications are delivered for this channel.",
          "type": "string"
        },
        "resourceId": {
          "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions.",
          "type": "string"
        },
        "payload": {
          "description": "A Boolean value to indicate whether payload is wanted. Optional.",
          "type": "boolean"
        },
        "resourceUri": {
          "description": "A version-specific identifier for the watched resource.",
          "type": "string"
        },
        "params": {
          "description": "Additional parameters controlling delivery channel behavior. Optional.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "id": {
          "description": "A UUID or similar unique string that identifies this channel.",
          "type": "string"
        },
        "kind": {
          "default": "api#channel",
          "description": "Identifies this as a notification channel used to watch for changes to a resource, which is `api#channel`.",
          "type": "string"
        },
        "token": {
          "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.",
          "type": "string"
        }
      },
      "description": "A notification channel used to watch for resource changes.",
      "type": "object",
      "id": "Channel"
    },
    "TeamDriveList": {
      "properties": {
        "kind": {
          "description": "This is always `drive#teamDriveList`",
          "type": "string",
          "default": "drive#teamDriveList"
        },
        "nextPageToken": {
          "description": "The page token for the next page of Team Drives.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "TeamDrive"
          },
          "description": "The list of Team Drives.",
          "type": "array"
        }
      },
      "description": "A list of Team Drives.",
      "type": "object",
      "id": "TeamDriveList"
    },
    "ContentRestriction": {
      "id": "ContentRestriction",
      "description": "A restriction for accessing the content of the file.",
      "type": "object",
      "properties": {
        "reason": {
          "description": "Reason for why the content of the file is restricted. This is only mutable on requests that also set `readOnly=true`.",
          "type": "string"
        },
        "type": {
          "description": "Output only. The type of the content restriction. Currently the only possible value is `globalContentRestriction`.",
          "type": "string"
        },
        "restrictingUser": {
          "$ref": "User",
          "description": "Output only. The user who set the content restriction. Only populated if `readOnly` is true."
        },
        "restrictionDate": {
          "format": "date-time",
          "description": "The time at which the content restriction was set (formatted RFC 3339 timestamp). Only populated if readOnly is true.",
          "type": "string"
        },
        "readOnly": {
          "description": "Whether the content of the file is read-only. If a file is read-only, a new revision of the file may not be added, comments may not be added or modified, and the title of the file may not be modified.",
          "type": "boolean"
        },
        "ownerRestricted": {
          "description": "Whether the content restriction can only be modified or removed by a user who owns the file. For files in shared drives, any user with `organizer` capabilities can modify or remove this content restriction.",
          "type": "boolean"
        },
        "systemRestricted": {
          "description": "Output only. Whether the content restriction was applied by the system, for example due to an esignature. Users cannot modify or remove system restricted content restrictions.",
          "type": "boolean"
        }
      }
    },
    "LabelList": {
      "id": "LabelList",
      "properties": {
        "items": {
          "description": "The list of labels.",
          "type": "array",
          "items": {
            "$ref": "Label"
          }
        },
        "kind": {
          "description": "This is always `drive#labelList`",
          "type": "string",
          "default": "drive#labelList"
        },
        "nextPageToken": {
          "description": "The page token for the next page of labels. This field will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        }
      },
      "description": "A list of labels applied to a file.",
      "type": "object"
    },
    "Permission": {
      "properties": {
        "type": {
          "description": "The account type. Allowed values are: * `user` * `group` * `domain` * `anyone`",
          "type": "string",
          "annotations": {
            "required": [
              "drive.permissions.insert"
            ]
          }
        },
        "inheritedPermissionsDisabled": {
          "description": "When true, only organizers, owners, and users with permissions added directly on the item can access it.",
          "type": "boolean"
        },
        "authKey": {
          "description": "Output only. Deprecated.",
          "type": "string",
          "deprecated": true
        },
        "domain": {
          "description": "Output only. The domain name of the entity this permission refers to. This is an output-only field which is present when the permission type is `user`, `group` or `domain`.",
          "type": "string"
        },
        "view": {
          "description": "Indicates the view for this permission. Only populated for permissions that belong to a view. published and metadata are the only supported values. - published: The permission's role is published_reader. - metadata: The item is only visible to the metadata view because the item has limited access and the scope has at least read access to the parent. Note: The metadata view is currently only supported on folders. ",
          "type": "string"
        },
        "additionalRoles": {
          "description": "Additional roles for this user. Only `commenter` is currently allowed, though more may be supported in the future.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "photoLink": {
          "description": "Output only. A link to the profile photo, if available.",
          "type": "string"
        },
        "etag": {
          "description": "Output only. The ETag of the permission.",
          "type": "string"
        },
        "value": {
          "description": "The email address or domain name for the entity. This is used during inserts and is not populated in responses. When making a `drive.permissions.insert` request, exactly one of the `id` or `value` fields must be specified unless the permission type is `anyone`, in which case both `id` and `value` are ignored.",
          "type": "string"
        },
        "withLink": {
          "description": "Whether the link is required for this permission.",
          "type": "boolean"
        },
        "deleted": {
          "description": "Output only. Whether the account associated with this permission has been deleted. This field only pertains to user and group permissions.",
          "type": "boolean"
        },
        "expirationDate": {
          "format": "date-time",
          "description": "The time at which this permission will expire (RFC 3339 date-time). Expiration dates have the following restrictions: - They can only be set on user and group permissions - The date must be in the future - The date cannot be more than a year in the future - The date can only be set on drive.permissions.update or drive.permissions.patch requests",
          "type": "string"
        },
        "permissionDetails": {
          "readOnly": true,
          "description": "Output only. Details of whether the permissions on this item are inherited or directly on this item.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "additionalRoles": {
                "items": {
                  "type": "string"
                },
                "description": "Output only. Additional roles for this user. Only `commenter` is currently possible, though more may be supported in the future.",
                "type": "array"
              },
              "role": {
                "description": "Output only. The primary role for this user. While new values may be added in the future, the following are currently possible: * `organizer` * `fileOrganizer` * `writer` * `reader`",
                "type": "string"
              },
              "inherited": {
                "description": "Output only. Whether this permission is inherited. This field is always populated.",
                "type": "boolean"
              },
              "permissionType": {
                "description": "Output only. The permission type for this user. While new values may be added in future, the following are currently possible: * `file` * `member`",
                "type": "string"
              },
              "inheritedFrom": {
                "description": "Output only. The ID of the item from which this permission is inherited. This is only populated for items in shared drives.",
                "type": "string"
              }
            }
          }
        },
        "name": {
          "description": "Output only. The name for this permission.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the user this permission refers to, and identical to the `permissionId` in the About and Files resources. When making a `drive.permissions.insert` request, exactly one of the `id` or `value` fields must be specified unless the permission type is `anyone`, in which case both `id` and `value` are ignored.",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. A link back to this permission.",
          "type": "string"
        },
        "teamDrivePermissionDetails": {
          "description": "Output only. Deprecated: Use `permissionDetails` instead.",
          "readOnly": true,
          "type": "array",
          "deprecated": true,
          "items": {
            "properties": {
              "inherited": {
                "description": "Output only. Deprecated: Use `permissionDetails/inherited` instead.",
                "type": "boolean",
                "deprecated": true
              },
              "teamDrivePermissionType": {
                "deprecated": true,
                "description": "Output only. Deprecated: Use `permissionDetails/permissionType` instead.",
                "type": "string"
              },
              "inheritedFrom": {
                "description": "Output only. Deprecated: Use `permissionDetails/inheritedFrom` instead.",
                "type": "string",
                "deprecated": true
              },
              "additionalRoles": {
                "items": {
                  "type": "string"
                },
                "description": "Output only. Deprecated: Use `permissionDetails/additionalRoles` instead.",
                "type": "array",
                "deprecated": true
              },
              "role": {
                "description": "Output only. Deprecated: Use `permissionDetails/role` instead.",
                "type": "string",
                "deprecated": true
              }
            },
            "type": "object"
          }
        },
        "kind": {
          "description": "Output only. This is always `drive#permission`.",
          "type": "string",
          "default": "drive#permission"
        },
        "pendingOwner": {
          "description": "Whether the account associated with this permission is a pending owner. Only populated for `user` type permissions for files that are not in a shared drive.",
          "type": "boolean"
        },
        "role": {
          "annotations": {
            "required": [
              "drive.permissions.insert"
            ]
          },
          "description": "The primary role for this user. While new values may be supported in the future, the following are currently allowed: * `owner` * `organizer` * `fileOrganizer` * `writer` * `reader`",
          "type": "string"
        },
        "emailAddress": {
          "description": "Output only. The email address of the user or group this permission refers to. This is an output-only field which is present when the permission type is `user` or `group`.",
          "type": "string"
        }
      },
      "description": "A permission for a file. A permission grants a user, group, domain, or the world access to a file or a folder hierarchy. Some resource methods (such as `permissions.update`) require a `permissionId`. Use the `permissions.list` method to retrieve the ID for a file, folder, or shared drive.",
      "type": "object",
      "id": "Permission"
    },
    "ModifyLabelsResponse": {
      "id": "ModifyLabelsResponse",
      "description": "Response to a ModifyLabels request. This contains only those labels which were added or updated by the request.",
      "type": "object",
      "properties": {
        "kind": {
          "default": "drive#modifyLabelsResponse",
          "description": "This is always `drive#modifyLabelsResponse`",
          "type": "string"
        },
        "modifiedLabels": {
          "items": {
            "$ref": "Label"
          },
          "description": "The list of labels which were added or updated by the request.",
          "type": "array"
        }
      }
    },
    "FileList": {
      "id": "FileList",
      "properties": {
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "nextLink": {
          "description": "A link to the next page of files.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "File"
          },
          "description": "The list of files. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The page token for the next page of files. This will be absent if the end of the files list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "incompleteSearch": {
          "description": "Whether the search process was incomplete. If true, then some search results may be missing, since all documents were not searched. This may occur when searching multiple drives with the \"allDrives\" corpora, but all corpora could not be searched. When this happens, it is suggested that clients narrow their query by choosing a different corpus such as \"default\" or \"drive\".",
          "type": "boolean"
        },
        "kind": {
          "description": "This is always `drive#fileList`.",
          "type": "string",
          "default": "drive#fileList"
        }
      },
      "description": "A list of files.",
      "type": "object"
    },
    "Revision": {
      "description": "A revision of a file. Some resource methods (such as `revisions.update`) require a `revisionId`. Use the `revisions.list` method to retrieve the ID for a revision.",
      "type": "object",
      "properties": {
        "lastModifyingUser": {
          "$ref": "User",
          "description": "Output only. The last user to modify this revision. This field is only populated when the last modification was performed by a signed-in user."
        },
        "etag": {
          "description": "Output only. The ETag of the revision.",
          "type": "string"
        },
        "fileSize": {
          "description": "Output only. The size of the revision in bytes. This will only be populated on files with content stored in Drive.",
          "type": "string",
          "format": "int64"
        },
        "publishAuto": {
          "description": "Whether subsequent revisions will be automatically republished. This is only populated and can only be modified for Docs Editors files.",
          "type": "boolean"
        },
        "mimeType": {
          "description": "Output only. The MIME type of the revision.",
          "type": "string"
        },
        "exportLinks": {
          "description": "Output only. Links for exporting Docs Editors files to specific formats.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "pinned": {
          "description": "Whether this revision is pinned to prevent automatic purging. If not set, the revision is automatically purged 30 days after newer content is uploaded. This field can only be modified on files with content stored in Drive, excluding Docs Editors files. Revisions can also be pinned when they are created through the drive.files.insert/update/copy by using the pinned query parameter. Pinned revisions are stored indefinitely using additional storage quota, up to a maximum of 200 revisions.",
          "type": "boolean"
        },
        "lastModifyingUserName": {
          "description": "Output only. Name of the last user to modify this revision.",
          "type": "string"
        },
        "originalFilename": {
          "description": "Output only. The original filename when this revision was created. This will only be populated on files with content stored in Drive.",
          "type": "string"
        },
        "kind": {
          "description": "Output only. This is always `drive#revision`.",
          "type": "string",
          "default": "drive#revision"
        },
        "md5Checksum": {
          "description": "Output only. An MD5 checksum for the content of this revision. This will only be populated on files with content stored in Drive.",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. A link back to this revision.",
          "type": "string"
        },
        "id": {
          "description": "Output only. The ID of the revision.",
          "type": "string"
        },
        "downloadUrl": {
          "description": "Output only. Short term download URL for the file. This will only be populated on files with content stored in Drive.",
          "type": "string"
        },
        "publishedLink": {
          "description": "Output only. A link to the published revision. This is only populated for Docs Editors files.",
          "type": "string"
        },
        "modifiedDate": {
          "format": "date-time",
          "description": "Last time this revision was modified (formatted RFC 3339 timestamp).",
          "type": "string"
        },
        "publishedOutsideDomain": {
          "description": "Whether this revision is published outside the domain. This is only populated and can only be modified for Docs Editors files.",
          "type": "boolean"
        },
        "published": {
          "description": "Whether this revision is published. This is only populated and can only be modified for Docs Editors files.",
          "type": "boolean"
        }
      },
      "id": "Revision"
    },
    "Change": {
      "properties": {
        "teamDrive": {
          "deprecated": true,
          "$ref": "TeamDrive",
          "description": "Deprecated: Use `drive` instead."
        },
        "id": {
          "format": "int64",
          "description": "The ID of the change.",
          "type": "string"
        },
        "selfLink": {
          "description": "A link back to this change.",
          "type": "string"
        },
        "driveId": {
          "description": "The ID of the shared drive associated with this change.",
          "type": "string"
        },
        "kind": {
          "default": "drive#change",
          "description": "This is always `drive#change`.",
          "type": "string"
        },
        "type": {
          "description": "Deprecated: Use `changeType` instead.",
          "type": "string",
          "deprecated": true
        },
        "teamDriveId": {
          "deprecated": true,
          "description": "Deprecated: Use `driveId` instead.",
          "type": "string"
        },
        "changeType": {
          "description": "The type of the change. Possible values are `file` and `drive`.",
          "type": "string"
        },
        "file": {
          "description": "The updated state of the file. Present if the type is file and the file has not been removed from this list of changes.",
          "$ref": "File"
        },
        "deleted": {
          "description": "Whether the file or shared drive has been removed from this list of changes, for example by deletion or loss of access.",
          "type": "boolean"
        },
        "modificationDate": {
          "format": "date-time",
          "description": "The time of this modification.",
          "type": "string"
        },
        "fileId": {
          "description": "The ID of the file associated with this change.",
          "type": "string"
        },
        "drive": {
          "description": "The updated state of the shared drive. Present if the changeType is drive, the user is still a member of the shared drive, and the shared drive has not been deleted.",
          "$ref": "Drive"
        }
      },
      "description": "Representation of a change to a file or shared drive.",
      "type": "object",
      "id": "Change"
    },
    "DecryptionMetadata": {
      "properties": {
        "keyFormat": {
          "description": "Key format for the unwrapped key. Must be `tinkAesGcmKey`.",
          "type": "string"
        },
        "kaclsName": {
          "description": "The name of the KACLS (Key ACL Service) used to encrypt the file.",
          "type": "string"
        },
        "wrappedKey": {
          "description": "The URL-safe Base64 encoded wrapped key used to encrypt the contents of the file.",
          "type": "string"
        },
        "jwt": {
          "description": "The signed JSON Web Token (JWT) which can be used to authorize the requesting user with the Key ACL Service (KACLS). The JWT asserts that the requesting user has at least read permissions on the file.",
          "type": "string"
        },
        "encryptionResourceKeyHash": {
          "description": "The URL-safe Base64 encoded HMAC-SHA256 digest of the resource metadata with its DEK (Data Encryption Key); see https://developers.google.com/workspace/cse/reference",
          "type": "string"
        },
        "kaclsId": {
          "format": "int64",
          "description": "The ID of the KACLS (Key ACL Service) used to encrypt the file.",
          "type": "string"
        },
        "aes256GcmChunkSize": {
          "description": "Chunk size used if content was encrypted with the AES 256 GCM Cipher. Possible values are: - default - small ",
          "type": "string"
        }
      },
      "description": "Representation of the CSE DecryptionMetadata.",
      "type": "object",
      "id": "DecryptionMetadata"
    },
    "LabelFieldModification": {
      "description": "A modification to a label's field.",
      "type": "object",
      "properties": {
        "fieldId": {
          "description": "The ID of the field to be modified.",
          "type": "string"
        },
        "setIntegerValues": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Replaces the value of an `integer` field with these new values.",
          "type": "array"
        },
        "unsetValues": {
          "description": "Unsets the values for this field.",
          "type": "boolean"
        },
        "setDateValues": {
          "description": "Replaces the value of a dateString Field with these new values. The string must be in the RFC 3339 full-date format: YYYY-MM-DD.",
          "type": "array",
          "items": {
            "format": "date",
            "type": "string"
          }
        },
        "setTextValues": {
          "items": {
            "type": "string"
          },
          "description": "Sets the value of a `text` field.",
          "type": "array"
        },
        "setSelectionValues": {
          "description": "Replaces a `selection` field with these new values.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "setUserValues": {
          "description": "Replaces a `user` field with these new values. The values must be valid email addresses.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "description": "This is always `drive#labelFieldModification`.",
          "type": "string",
          "default": "drive#labelFieldModification"
        }
      },
      "id": "LabelFieldModification"
    },
    "User": {
      "description": "Information about a Drive user.",
      "type": "object",
      "properties": {
        "isAuthenticatedUser": {
          "description": "Output only. Whether this user is the same as the authenticated user for whom the request was made.",
          "type": "boolean",
          "readOnly": true
        },
        "permissionId": {
          "description": "Output only. The user's ID as visible in Permission resources.",
          "type": "string",
          "readOnly": true
        },
        "picture": {
          "description": "Output only. The user's profile picture.",
          "type": "object",
          "readOnly": true,
          "properties": {
            "url": {
              "description": "Output only. A URL that points to a profile picture of this user.",
              "type": "string",
              "readOnly": true
            }
          }
        },
        "emailAddress": {
          "description": "Output only. The email address of the user. This may not be present in certain contexts if the user has not made their email address visible to the requester.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. A plain text displayable name for this user.",
          "type": "string",
          "readOnly": true
        },
        "kind": {
          "readOnly": true,
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `drive#user`.",
          "type": "string",
          "default": "drive#user"
        }
      },
      "id": "User"
    },
    "StartPageToken": {
      "type": "object",
      "properties": {
        "kind": {
          "default": "drive#startPageToken",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#startPageToken\"`.",
          "type": "string"
        },
        "startPageToken": {
          "description": "The starting page token for listing changes.",
          "type": "string"
        }
      },
      "id": "StartPageToken"
    },
    "ModifyLabelsRequest": {
      "id": "ModifyLabelsRequest",
      "description": "A request to modify the set of labels on a file. This request may contain many modifications that will either all succeed or all fail atomically.",
      "type": "object",
      "properties": {
        "labelModifications": {
          "description": "The list of modifications to apply to the labels on the file.",
          "type": "array",
          "items": {
            "$ref": "LabelModification"
          }
        },
        "kind": {
          "default": "drive#modifyLabelsRequest",
          "description": "This is always `drive#modifyLabelsRequest`.",
          "type": "string"
        }
      }
    },
    "GenerateCseTokenResponse": {
      "description": "JWT and associated metadata used to generate CSE files.",
      "type": "object",
      "properties": {
        "currentKaclsName": {
          "description": "Name of the KACLs that the returned KACLs ID points to.",
          "type": "string"
        },
        "jwt": {
          "description": "The signed JSON Web Token (JWT) for the file.",
          "type": "string"
        },
        "currentKaclsId": {
          "format": "int64",
          "description": "The current Key ACL Service (KACLS) ID associated with the JWT.",
          "type": "string"
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#generateCseTokenResponse\"`.",
          "type": "string"
        },
        "fileId": {
          "description": "The fileId for which the JWT was generated.",
          "type": "string"
        }
      },
      "id": "GenerateCseTokenResponse"
    },
    "CommentReplyList": {
      "description": "A list of replies to a comment on a file in Google Drive.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always `drive#commentReplyList`.",
          "type": "string",
          "default": "drive#commentReplyList"
        },
        "items": {
          "description": "The list of replies. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array",
          "items": {
            "$ref": "CommentReply"
          }
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "nextLink": {
          "description": "A link to the next page of replies.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The page token for the next page of replies. This will be absent if the end of the replies list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        }
      },
      "id": "CommentReplyList"
    },
    "App": {
      "id": "App",
      "description": "The apps resource provides a list of the apps that a user has installed, with information about each app's supported MIME types, file extensions, and other details. Some resource methods (such as `apps.get`) require an `appId`. Use the `apps.list` method to retrieve the ID for an installed application.",
      "type": "object",
      "properties": {
        "authorized": {
          "description": "Whether the app is authorized to access data on the user's Drive.",
          "type": "boolean"
        },
        "openUrlTemplate": {
          "description": "The template url for opening files with this app. The template will contain `{ids}` and/or `{exportIds}` to be replaced by the actual file ids. See Open Files for the full documentation.",
          "type": "string"
        },
        "secondaryMimeTypes": {
          "items": {
            "type": "string"
          },
          "description": "The list of secondary mime types.",
          "type": "array"
        },
        "supportsMultiOpen": {
          "description": "Whether this app supports opening more than one file.",
          "type": "boolean"
        },
        "productId": {
          "description": "The ID of the product listing for this app.",
          "type": "string"
        },
        "hasDriveWideScope": {
          "description": "Whether the app has drive-wide scope. An app with drive-wide scope can access all files in the user's drive.",
          "type": "boolean"
        },
        "supportsOfflineCreate": {
          "description": "Whether this app supports creating new files when offline.",
          "type": "boolean"
        },
        "useByDefault": {
          "description": "Whether the app is selected as the default handler for the types it supports.",
          "type": "boolean"
        },
        "secondaryFileExtensions": {
          "description": "The list of secondary file extensions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "shortDescription": {
          "description": "A short description of the app.",
          "type": "string"
        },
        "primaryMimeTypes": {
          "description": "The list of primary mime types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "primaryFileExtensions": {
          "items": {
            "type": "string"
          },
          "description": "The list of primary file extensions.",
          "type": "array"
        },
        "createInFolderTemplate": {
          "description": "The template url to create a new file with this app in a given folder. The template will contain {folderId} to be replaced by the folder to create the new file in.",
          "type": "string"
        },
        "supportsCreate": {
          "description": "Whether this app supports creating new objects.",
          "type": "boolean"
        },
        "id": {
          "description": "The ID of the app.",
          "type": "string"
        },
        "name": {
          "description": "The name of the app.",
          "type": "string"
        },
        "objectType": {
          "description": "The type of object this app creates (e.g. Chart). If empty, the app name should be used instead.",
          "type": "string"
        },
        "createUrl": {
          "description": "The url to create a new file with this app.",
          "type": "string"
        },
        "supportsImport": {
          "description": "Whether this app supports importing from Docs Editors.",
          "type": "boolean"
        },
        "longDescription": {
          "description": "A long description of the app.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `drive#app`.",
          "type": "string",
          "default": "drive#app"
        },
        "productUrl": {
          "description": "A link to the product listing for this app.",
          "type": "string"
        },
        "installed": {
          "description": "Whether the app is installed.",
          "type": "boolean"
        },
        "icons": {
          "description": "The various icons for the app.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "size": {
                "description": "Size of the icon. Represented as the maximum of the width and height.",
                "type": "integer",
                "format": "int32"
              },
              "category": {
                "description": "Category of the icon. Allowed values are: * `application` - icon for the application * `document` - icon for a file associated with the app * `documentShared` - icon for a shared file associated with the app",
                "type": "string"
              },
              "iconUrl": {
                "description": "URL for the icon.",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "PermissionList": {
      "id": "PermissionList",
      "description": "A list of permissions associated with a file.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always `drive#permissionList`.",
          "type": "string",
          "default": "drive#permissionList"
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "items": {
          "description": "The list of permissions.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        },
        "nextPageToken": {
          "description": "The page token for the next page of permissions. This field will be absent if the end of the permissions list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        }
      }
    },
    "ParentList": {
      "id": "ParentList",
      "description": "A list of a file's parents.",
      "type": "object",
      "properties": {
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "ParentReference"
          },
          "description": "The list of parents.",
          "type": "array"
        },
        "etag": {
          "description": "The ETag of the list.",
          "type": "string"
        },
        "kind": {
          "default": "drive#parentList",
          "description": "This is always `drive#parentList`.",
          "type": "string"
        }
      }
    },
    "About": {
      "description": "An item with user information and settings.",
      "type": "object",
      "properties": {
        "quotaBytesUsed": {
          "description": "The number of quota bytes used by Google Drive.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "The name of the current user.",
          "type": "string"
        },
        "selfLink": {
          "description": "A link back to this item.",
          "type": "string"
        },
        "quotaBytesUsedAggregate": {
          "description": "The number of quota bytes used by all Google apps (Drive, Picasa, etc.).",
          "type": "string",
          "format": "int64"
        },
        "domainSharingPolicy": {
          "description": "Deprecated: Does not granularly represent allowlisted domains or Trust Rules. The domain sharing policy for the current user. Possible values are: * `allowed` * `allowedWithWarning` * `incomingOnly` * `disallowed` Note that if the user is enrolled in Trust Rules, `disallowed` will always be returned. If sharing is restricted to allowlisted domains, either `incomingOnly` or `allowedWithWarning` will be returned, depending on whether receiving files from outside the allowlisted domains is permitted.",
          "type": "string",
          "deprecated": true
        },
        "quotaBytesByService": {
          "items": {
            "properties": {
              "serviceName": {
                "description": "The service's name, e.g. DRIVE, GMAIL, or PHOTOS.",
                "type": "string"
              },
              "bytesUsed": {
                "format": "int64",
                "description": "The storage quota bytes used by the service.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "description": "The amount of storage quota used by different Google services.",
          "type": "array"
        },
        "folderColorPalette": {
          "description": "The palette of allowable folder colors as RGB hex strings.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "rootFolderId": {
          "description": "The id of the root folder.",
          "type": "string"
        },
        "maxUploadSizes": {
          "items": {
            "properties": {
              "type": {
                "description": "The file type.",
                "type": "string"
              },
              "size": {
                "description": "The max upload size for this type.",
                "type": "string",
                "format": "int64"
              }
            },
            "type": "object"
          },
          "description": "List of max upload sizes for each file type. The most specific type takes precedence.",
          "type": "array"
        },
        "canCreateDrives": {
          "description": "Whether the user can create shared drives.",
          "type": "boolean"
        },
        "languageCode": {
          "description": "The user's language or locale code, as defined by BCP 47, with some extensions from Unicode's LDML format (http://www.unicode.org/reports/tr35/).",
          "type": "string"
        },
        "quotaBytesUsedInTrash": {
          "description": "The number of quota bytes used by trashed items.",
          "type": "string",
          "format": "int64"
        },
        "largestChangeId": {
          "format": "int64",
          "description": "The largest change id.",
          "type": "string"
        },
        "permissionId": {
          "description": "The current user's ID as visible in the permissions collection.",
          "type": "string"
        },
        "quotaBytesTotal": {
          "format": "int64",
          "description": "The total number of quota bytes. This is only relevant when quotaType is LIMITED.",
          "type": "string"
        },
        "remainingChangeIds": {
          "format": "int64",
          "description": "The number of remaining change ids, limited to no more than 2500.",
          "type": "string"
        },
        "importFormats": {
          "items": {
            "properties": {
              "source": {
                "description": "The imported file's content type to convert from.",
                "type": "string"
              },
              "targets": {
                "items": {
                  "type": "string"
                },
                "description": "The possible content types to convert to.",
                "type": "array"
              }
            },
            "type": "object"
          },
          "description": "The allowable import formats.",
          "type": "array"
        },
        "teamDriveThemes": {
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "description": "Deprecated: Use `driveThemes/id` instead.",
                "type": "string",
                "deprecated": true
              },
              "colorRgb": {
                "description": "Deprecated: Use `driveThemes/colorRgb` instead.",
                "type": "string",
                "deprecated": true
              },
              "backgroundImageLink": {
                "description": "Deprecated: Use `driveThemes/backgroundImageLink` instead.",
                "type": "string",
                "deprecated": true
              }
            }
          },
          "deprecated": true,
          "description": "Deprecated: Use `driveThemes` instead.",
          "type": "array"
        },
        "kind": {
          "default": "drive#about",
          "description": "This is always `drive#about`.",
          "type": "string"
        },
        "additionalRoleInfo": {
          "description": "Information about supported additional roles per file type. The most specific type takes precedence.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "type": {
[...]
