{
  "rootUrl": "https://driveactivity.googleapis.com/",
  "basePath": "",
  "discoveryVersion": "v1",
  "baseUrl": "https://driveactivity.googleapis.com/",
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "documentationLink": "https://developers.google.com/workspace/drive/activity/",
  "revision": "20260823",
  "version": "v2",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.activity.readonly": {
          "description": "View the activity record of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.activity": {
          "description": "View and add to the activity record of files in your Google Drive"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "name": "driveactivity",
  "resources": {
    "activity": {
      "methods": {
        "query": {
          "parameters": {},
          "id": "driveactivity.activity.query",
          "path": "v2/activity:query",
          "response": {
            "$ref": "QueryDriveActivityResponse"
          },
          "request": {
            "$ref": "QueryDriveActivityRequest"
          },
          "flatPath": "v2/activity:query",
          "scopes": [
            "https://www.googleapis.com/auth/drive.activity",
            "https://www.googleapis.com/auth/drive.activity.readonly"
          ],
          "parameterOrder": [],
          "description": "Query past activity in Google Drive.",
          "httpMethod": "POST"
        }
      }
    }
  },
  "batchPath": "batch",
  "mtlsRootUrl": "https://driveactivity.mtls.googleapis.com/",
  "id": "driveactivity:v2",
  "description": "Provides a historical view of activity in Google Drive.",
  "title": "Drive Activity API",
  "protocol": "rest",
  "canonicalName": "Drive Activity",
  "schemas": {
    "SingleUser": {
      "properties": {
        "value": {
          "description": "User value as email.",
          "type": "string"
        }
      },
      "id": "SingleUser",
      "type": "object",
      "description": "Wrapper for User Field value."
    },
    "KnownUser": {
      "type": "object",
      "id": "KnownUser",
      "properties": {
        "personName": {
          "type": "string",
          "description": "The identifier for this user that can be used with the People API to get more information. The format is `people/ACCOUNT_ID`. See https://developers.google.com/people/."
        },
        "isCurrentUser": {
          "type": "boolean",
          "description": "True if this is the user making the request."
        }
      },
      "description": "A known user."
    },
    "TeamDriveReference": {
      "description": "This item is deprecated; please see `DriveReference` instead.",
      "type": "object",
      "deprecated": true,
      "properties": {
        "name": {
          "type": "string",
          "description": "This field is deprecated; please see `DriveReference.name` instead."
        },
        "title": {
          "description": "This field is deprecated; please see `DriveReference.title` instead.",
          "type": "string"
        }
      },
      "id": "TeamDriveReference"
    },
    "ActionDetail": {
      "type": "object",
      "id": "ActionDetail",
      "description": "Data describing the type and additional information of an action.",
      "properties": {
        "permissionChange": {
          "description": "The permission on an object was changed.",
          "$ref": "PermissionChange"
        },
        "edit": {
          "$ref": "Edit",
          "description": "An object was edited."
        },
        "move": {
          "description": "An object was moved.",
          "$ref": "Move"
        },
        "rename": {
          "description": "An object was renamed.",
          "$ref": "Rename"
        },
        "delete": {
          "description": "An object was deleted.",
          "$ref": "Delete"
        },
        "comment": {
          "description": "A change about comments was made.",
          "$ref": "Comment"
        },
        "dlpChange": {
          "$ref": "DataLeakPreventionChange",
          "description": "A change happened in data leak prevention status."
        },
        "restore": {
          "$ref": "Restore",
          "description": "A deleted object was restored."
        },
        "appliedLabelChange": {
          "$ref": "AppliedLabelChange",
          "description": "Label was changed."
        },
        "settingsChange": {
          "description": "Settings were changed.",
          "$ref": "SettingsChange"
        },
        "create": {
          "$ref": "Create",
          "description": "An object was created."
        },
        "reference": {
          "description": "An object was referenced in an application outside of Drive/Docs.",
          "$ref": "ApplicationReference"
        }
      }
    },
    "Legacy": {
      "id": "Legacy",
      "properties": {},
      "type": "object",
      "description": "A strategy that consolidates activities using the grouping rules from the legacy V1 Activity API. Similar actions occurring within a window of time can be grouped across multiple targets (such as moving a set of files at once) or multiple actors (such as several users editing the same item). Grouping rules for this strategy are specific to each type of action."
    },
    "DataLeakPreventionChange": {
      "description": "A change in the object's data leak prevention status.",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "An update to the DLP state that is neither FLAGGED or CLEARED.",
            "Document has been flagged as containing sensitive content.",
            "Document is no longer flagged as containing sensitive content."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "FLAGGED",
            "CLEARED"
          ],
          "type": "string",
          "description": "The type of Data Leak Prevention (DLP) change."
        }
      },
      "id": "DataLeakPreventionChange"
    },
    "Actor": {
      "properties": {
        "anonymous": {
          "description": "An anonymous user.",
          "$ref": "AnonymousUser"
        },
        "impersonation": {
          "$ref": "Impersonation",
          "description": "An account acting on behalf of another."
        },
        "administrator": {
          "$ref": "Administrator",
          "description": "An administrator."
        },
        "user": {
          "$ref": "User",
          "description": "An end user."
        },
        "system": {
          "description": "A non-user actor (i.e. system triggered).",
          "$ref": "SystemEvent"
        }
      },
      "description": "The actor of a Drive activity.",
      "id": "Actor",
      "type": "object"
    },
    "Folder": {
      "description": "This item is deprecated; please see `DriveFolder` instead.",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "TEAM_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ],
          "description": "This field is deprecated; please see `DriveFolder.type` instead.",
          "enumDescriptions": [
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead."
          ],
          "type": "string"
        }
      },
      "id": "Folder",
      "deprecated": true,
      "type": "object"
    },
    "Delete": {
      "description": "An object was deleted.",
      "type": "object",
      "id": "Delete",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TRASH",
            "PERMANENT_DELETE"
          ],
          "description": "The type of delete action taken.",
          "type": "string",
          "enumDescriptions": [
            "Deletion type is not available.",
            "An object was put into the trash.",
            "An object was deleted permanently."
          ]
        }
      }
    },
    "AppliedLabelChange": {
      "type": "object",
      "description": "Label changes that were made on the Target.",
      "id": "AppliedLabelChange",
      "properties": {
        "changes": {
          "description": "Changes that were made to the Label on the Target.",
          "items": {
            "$ref": "AppliedLabelChangeDetail"
          },
          "type": "array"
        }
      }
    },
    "FileComment": {
      "description": "A comment on a file.",
      "id": "FileComment",
      "type": "object",
      "properties": {
        "parent": {
          "description": "The Drive item containing this comment.",
          "$ref": "DriveItem"
        },
        "legacyDiscussionId": {
          "type": "string",
          "description": "The discussion thread to which the comment was added. This identifier is an opaque string compatible with the Drive API and references the first comment in a discussion; see https://developers.google.com/workspace/drive/v3/reference/comments/get"
        },
        "legacyCommentId": {
          "description": "The comment in the discussion thread. This identifier is an opaque string compatible with the Drive API; see https://developers.google.com/workspace/drive/v3/reference/comments/get",
          "type": "string"
        },
        "linkToDiscussion": {
          "description": "The link to the discussion thread containing this comment, for example, `https://docs.google.com/DOCUMENT_ID/edit?disco=THREAD_ID`.",
          "type": "string"
        }
      }
    },
    "QueryDriveActivityResponse": {
      "id": "QueryDriveActivityResponse",
      "properties": {
        "activities": {
          "description": "List of activity requested.",
          "type": "array",
          "items": {
            "$ref": "DriveActivity"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for querying Drive activity."
    },
    "Upload": {
      "id": "Upload",
      "description": "An object was uploaded into Drive.",
      "type": "object",
      "properties": {}
    },
    "New": {
      "properties": {},
      "description": "An object was created from scratch.",
      "id": "New",
      "type": "object"
    },
    "SystemEvent": {
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER_DELETION",
            "TRASH_AUTO_PURGE"
          ],
          "enumDescriptions": [
            "The event type is unspecified.",
            "The event is a consequence of a user account being deleted.",
            "The event is due to the system automatically purging trash."
          ],
          "description": "The type of the system event that may triggered activity.",
          "type": "string"
        }
      },
      "id": "SystemEvent",
      "type": "object",
      "description": "Event triggered by system operations instead of end users."
    },
    "Action": {
      "properties": {
        "target": {
          "description": "The target this action affects (or empty if affecting all targets). This represents the state of the target immediately after this action occurred.",
          "$ref": "Target"
        },
        "detail": {
          "$ref": "ActionDetail",
          "description": "The type and detailed information about the action."
        },
        "actor": {
          "$ref": "Actor",
          "description": "The actor responsible for this action (or empty if all actors are responsible)."
        },
        "timestamp": {
          "description": "The action occurred at this specific time.",
          "type": "string",
          "format": "google-datetime"
        },
        "timeRange": {
          "description": "The action occurred over this time range.",
          "$ref": "TimeRange"
        }
      },
      "description": "Information about the action.",
      "type": "object",
      "id": "Action"
    },
    "SelectionList": {
      "type": "object",
      "properties": {
        "values": {
          "items": {
            "$ref": "Selection"
          },
          "type": "array",
          "description": "Selection values."
        }
      },
      "id": "SelectionList",
      "description": "Wrapper for SelectionList Field value."
    },
    "Comment": {
      "description": "A change about comments on an object.",
      "type": "object",
      "id": "Comment",
      "properties": {
        "mentionedUsers": {
          "description": "Users who are mentioned in this comment.",
          "type": "array",
          "items": {
            "$ref": "User"
          }
        },
        "assignment": {
          "$ref": "Assignment",
          "description": "A change on an assignment."
        },
        "suggestion": {
          "description": "A change on a suggestion.",
          "$ref": "Suggestion"
        },
        "post": {
          "description": "A change on a regular posted comment.",
          "$ref": "Post"
        }
      }
    },
    "Text": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Value of Text Field."
        }
      },
      "id": "Text",
      "description": "Wrapper for Text Field value.",
      "type": "object"
    },
    "NoConsolidation": {
      "properties": {},
      "type": "object",
      "description": "A strategy that does no consolidation of individual activities.",
      "id": "NoConsolidation"
    },
    "FieldValueChange": {
      "type": "object",
      "properties": {
        "newValue": {
          "description": "The value that is now set on the field. If not present, the field was cleared. At least one of {old_value|new_value} is always set.",
          "$ref": "FieldValue"
        },
        "oldValue": {
          "$ref": "FieldValue",
          "description": "The value that was previously set on the field. If not present, the field was newly set. At least one of {old_value|new_value} is always set."
        },
        "displayName": {
          "type": "string",
          "description": "The human-readable display name for this field."
        },
        "fieldId": {
          "type": "string",
          "description": "The ID of this field. Field IDs are unique within a Label."
        }
      },
      "description": "Change to a Field value.",
      "id": "FieldValueChange"
    },
    "ConsolidationStrategy": {
      "type": "object",
      "id": "ConsolidationStrategy",
      "description": "How the individual activities are consolidated. If a set of activities is related they can be consolidated into one combined activity, such as one actor performing the same action on multiple targets, or multiple actors performing the same action on a single target. The strategy defines the rules for which activities are related.",
      "properties": {
        "none": {
          "$ref": "NoConsolidation",
          "description": "The individual activities are not consolidated."
        },
        "legacy": {
          "$ref": "Legacy",
          "description": "The individual activities are consolidated using the legacy strategy."
        }
      }
    },
    "Move": {
      "type": "object",
      "properties": {
        "addedParents": {
          "description": "The added parent object(s).",
          "items": {
            "$ref": "TargetReference"
          },
          "type": "array"
        },
        "removedParents": {
          "type": "array",
          "description": "The removed parent object(s).",
          "items": {
            "$ref": "TargetReference"
          }
        }
      },
      "id": "Move",
      "description": "An object was moved."
    },
    "Copy": {
      "id": "Copy",
      "properties": {
        "originalObject": {
          "description": "The original object.",
          "$ref": "TargetReference"
        }
      },
      "description": "An object was created by copying an existing object.",
      "type": "object"
    },
    "UnknownUser": {
      "id": "UnknownUser",
      "description": "A user about whom nothing is currently known.",
      "type": "object",
      "properties": {}
    },
    "DriveFolder": {
      "type": "object",
      "description": "A Drive item which is a folder.",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "SHARED_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ],
          "enumDescriptions": [
            "The folder type is unknown.",
            "The folder is the root of a user's MyDrive.",
            "The folder is the root of a shared drive.",
            "The folder is a standard, non-root, folder."
          ],
          "description": "The type of Drive folder.",
          "type": "string"
        }
      },
      "id": "DriveFolder"
    },
    "Integer": {
      "description": "Wrapper for Integer Field value.",
      "type": "object",
      "properties": {
        "value": {
          "format": "int64",
          "description": "Integer value.",
          "type": "string"
        }
      },
      "id": "Integer"
    },
    "DeletedUser": {
      "id": "DeletedUser",
      "description": "A user whose account has since been deleted.",
      "properties": {},
      "type": "object"
    },
    "File": {
      "properties": {},
      "type": "object",
      "id": "File",
      "deprecated": true,
      "description": "This item is deprecated; please see `DriveFile` instead."
    },
    "Target": {
      "type": "object",
      "id": "Target",
      "description": "Information about the target of activity. For more information on how activity history is shared with users, see [Activity history visibility](https://developers.google.com/workspace/drive/activity/v2#activityhistory).",
      "properties": {
        "fileComment": {
          "description": "The target is a comment on a Drive file.",
          "$ref": "FileComment"
        },
        "driveItem": {
          "description": "The target is a Drive item.",
          "$ref": "DriveItem"
        },
        "drive": {
          "description": "The target is a shared drive.",
          "$ref": "Drive"
        },
        "teamDrive": {
          "deprecated": true,
          "$ref": "TeamDrive",
          "description": "This field is deprecated; please use the `drive` field instead."
        }
      }
    },
    "SettingsChange": {
      "type": "object",
      "description": "Information about settings changes.",
      "properties": {
        "restrictionChanges": {
          "description": "The set of changes made to restrictions.",
          "type": "array",
          "items": {
            "$ref": "RestrictionChange"
          }
        }
      },
      "id": "SettingsChange"
    },
    "TimeRange": {
      "type": "object",
      "description": "Information about time ranges.",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "The start of the time range.",
          "type": "string"
        },
        "endTime": {
          "description": "The end of the time range.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "TimeRange"
    },
    "Drive": {
      "id": "Drive",
      "type": "object",
      "description": "Information about a shared drive.",
      "properties": {
        "name": {
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name.",
          "type": "string"
        },
        "root": {
          "description": "The root of this shared drive.",
          "$ref": "DriveItem"
        },
        "title": {
          "description": "The title of the shared drive.",
          "type": "string"
        }
      }
    },
    "AnonymousUser": {
      "description": "Empty message representing an anonymous user or indicating the authenticated user should be anonymized.",
      "id": "AnonymousUser",
      "properties": {},
      "type": "object"
    },
    "DriveReference": {
      "properties": {
        "title": {
          "description": "The title of the shared drive.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name.",
          "type": "string"
        }
      },
      "id": "DriveReference",
      "description": "A lightweight reference to a shared drive.",
      "type": "object"
    },
    "DriveItem": {
      "id": "DriveItem",
      "type": "object",
      "properties": {
        "mimeType": {
          "description": "The MIME type of the Drive item. See https://developers.google.com/workspace/drive/v3/web/mime-types.",
          "type": "string"
        },
        "driveFile": {
          "description": "The Drive item is a file.",
          "$ref": "DriveFile"
        },
        "title": {
          "type": "string",
          "description": "The title of the Drive item."
        },
        "driveFolder": {
          "description": "The Drive item is a folder. Includes information about the type of folder.",
          "$ref": "DriveFolder"
        },
        "folder": {
          "deprecated": true,
          "description": "This field is deprecated; please use the `driveFolder` field instead.",
          "$ref": "Folder"
        },
        "owner": {
          "description": "Information about the owner of this Drive item.",
          "$ref": "Owner"
        },
        "name": {
          "description": "The target Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "file": {
          "description": "This field is deprecated; please use the `driveFile` field instead.",
          "deprecated": true,
          "$ref": "File"
        }
      },
      "description": "A Drive item, such as a file or folder."
    },
    "UserList": {
      "type": "object",
      "properties": {
        "values": {
          "description": "User values.",
          "type": "array",
          "items": {
            "$ref": "SingleUser"
          }
        }
      },
      "description": "Wrapper for UserList Field value.",
      "id": "UserList"
    },
    "Suggestion": {
      "id": "Suggestion",
      "description": "A suggestion.",
      "type": "object",
      "properties": {
        "subtype": {
          "enumDescriptions": [
            "Subtype not available.",
            "A suggestion was added.",
            "A suggestion was deleted.",
            "A suggestion reply was added.",
            "A suggestion reply was deleted.",
            "A suggestion was accepted.",
            "A suggestion was rejected.",
            "An accepted suggestion was deleted.",
            "A rejected suggestion was deleted."
          ],
          "type": "string",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "ACCEPTED",
            "REJECTED",
            "ACCEPT_DELETED",
            "REJECT_DELETED"
          ],
          "description": "The sub-type of this event."
        }
      }
    },
    "Administrator": {
      "description": "Empty message representing an administrator.",
      "properties": {},
      "id": "Administrator",
      "type": "object"
    },
    "TeamDrive": {
      "id": "TeamDrive",
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "This field is deprecated; please see `Drive.title` instead."
        },
        "name": {
          "type": "string",
          "description": "This field is deprecated; please see `Drive.name` instead."
        },
        "root": {
          "description": "This field is deprecated; please see `Drive.root` instead.",
          "$ref": "DriveItem"
        }
      },
      "description": "This item is deprecated; please see `Drive` instead.",
      "deprecated": true
    },
    "DriveItemReference": {
      "properties": {
        "driveFile": {
          "description": "The Drive item is a file.",
          "$ref": "DriveFile"
        },
        "folder": {
          "$ref": "Folder",
          "description": "This field is deprecated; please use the `driveFolder` field instead.",
          "deprecated": true
        },
        "title": {
          "description": "The title of the Drive item.",
          "type": "string"
        },
        "driveFolder": {
          "$ref": "DriveFolder",
          "description": "The Drive item is a folder. Includes information about the type of folder."
        },
        "name": {
          "type": "string",
          "description": "The target Drive item. The format is `items/ITEM_ID`."
        },
        "file": {
          "description": "This field is deprecated; please use the `driveFile` field instead.",
          "$ref": "File",
          "deprecated": true
        }
      },
      "description": "A lightweight reference to a Drive item, such as a file or folder.",
      "id": "DriveItemReference",
      "type": "object"
    },
    "PermissionChange": {
      "description": "A change of the permission setting on an item.",
      "id": "PermissionChange",
      "properties": {
        "addedPermissions": {
          "items": {
            "$ref": "Permission"
          },
          "description": "The set of permissions added by this change.",
          "type": "array"
        },
        "removedPermissions": {
          "items": {
            "$ref": "Permission"
          },
          "description": "The set of permissions removed by this change.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "Owner": {
      "type": "object",
      "properties": {
        "domain": {
          "description": "The domain of the Drive item owner.",
          "$ref": "Domain"
        },
        "user": {
          "description": "The user that owns the Drive item.",
          "$ref": "User"
        },
        "drive": {
          "description": "The drive that owns the item.",
          "$ref": "DriveReference"
        },
        "teamDrive": {
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true,
          "$ref": "TeamDriveReference"
        }
      },
      "id": "Owner",
      "description": "Information about the owner of a Drive item."
    },
    "Rename": {
      "properties": {
        "oldTitle": {
          "type": "string",
          "description": "The previous title of the drive object."
        },
        "newTitle": {
          "description": "The new title of the drive object.",
          "type": "string"
        }
      },
      "description": "An object was renamed.",
      "id": "Rename",
      "type": "object"
    },
    "DriveFile": {
      "description": "A Drive item which is a file.",
      "id": "DriveFile",
      "properties": {},
      "type": "object"
    },
    "DriveActivity": {
      "id": "DriveActivity",
      "type": "object",
      "properties": {
        "targets": {
          "items": {
            "$ref": "Target"
          },
          "description": "All Google Drive objects this activity is about (e.g. file, folder, drive). This represents the state of the target immediately after the actions occurred.",
          "type": "array"
        },
        "actions": {
          "type": "array",
          "items": {
            "$ref": "Action"
          },
          "description": "Details on all actions in this activity."
        },
        "timestamp": {
          "description": "The activity occurred at this specific time.",
          "type": "string",
          "format": "google-datetime"
        },
        "timeRange": {
          "$ref": "TimeRange",
          "description": "The activity occurred over this time range."
        },
        "actors": {
          "description": "All actor(s) responsible for the activity.",
          "type": "array",
          "items": {
            "$ref": "Actor"
          }
        },
        "primaryActionDetail": {
          "$ref": "ActionDetail",
          "description": "Key information about the primary action for this activity. This is either representative, or the most important, of all actions in the activity, according to the ConsolidationStrategy in the request."
        }
      },
      "description": "A single Drive activity comprising one or more Actions by one or more Actors on one or more Targets. Some Action groupings occur spontaneously, such as moving an item into a shared folder triggering a permission change. Other groupings of related Actions, such as multiple Actors editing one item or moving multiple files into a new folder, are controlled by the selection of a ConsolidationStrategy in the QueryDriveActivityRequest."
    },
    "Permission": {
      "id": "Permission",
      "description": "The permission setting of an object.",
      "properties": {
        "group": {
          "description": "The group to whom this permission applies.",
          "$ref": "Group"
        },
        "role": {
          "description": "Indicates the [Google Drive permissions role](https://developers.google.com/workspace/drive/web/manage-sharing#roles). The role determines a user's ability to read, write, and comment on items.",
          "enumDescriptions": [
            "The role is not available.",
            "A role granting full access.",
            "A role granting the ability to manage people and settings.",
            "A role granting the ability to contribute and manage content.",
            "A role granting the ability to contribute content. This role is sometimes also known as \"writer\".",
            "A role granting the ability to view and comment on content.",
            "A role granting the ability to view content. This role is sometimes also known as \"reader\".",
            "A role granting the ability to view content only after it has been published to the web. This role is sometimes also known as \"published reader\". See https://support.google.com/sites/answer/6372880 for more information."
          ],
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "ORGANIZER",
            "FILE_ORGANIZER",
            "EDITOR",
            "COMMENTER",
            "VIEWER",
            "PUBLISHED_VIEWER"
          ]
        },
        "allowDiscovery": {
          "type": "boolean",
          "description": "If true, the item can be discovered (e.g. in the user's \"Shared with me\" collection) without needing a link to the item."
        },
        "anyone": {
          "$ref": "Anyone",
          "description": "If set, this permission applies to anyone, even logged out users."
        },
        "user": {
          "description": "The user to whom this permission applies.",
          "$ref": "User"
        },
        "domain": {
          "description": "The domain to whom this permission applies.",
          "$ref": "Domain"
        }
      },
      "type": "object"
    },
    "Create": {
      "type": "object",
      "id": "Create",
      "properties": {
        "new": {
          "description": "If present, indicates the object was newly created (e.g. as a blank document), not derived from a Drive object or external object.",
          "$ref": "New"
        },
        "copy": {
          "$ref": "Copy",
          "description": "If present, indicates the object was created by copying an existing Drive object."
        },
        "upload": {
          "description": "If present, indicates the object originated externally and was uploaded to Drive.",
          "$ref": "Upload"
        }
      },
      "description": "An object was created."
    },
    "Anyone": {
      "properties": {},
      "id": "Anyone",
      "type": "object",
      "description": "Represents any user (including a logged out user)."
    },
    "Date": {
      "description": "Wrapper for Date Field value.",
      "id": "Date",
      "type": "object",
      "properties": {
        "value": {
          "format": "google-datetime",
          "description": "Date value.",
          "type": "string"
        }
      }
    },
    "TextList": {
      "description": "Wrapper for Text List Field value.",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "Text"
          },
          "description": "Text values."
        }
      },
      "id": "TextList"
    },
    "Edit": {
      "description": "An empty message indicating an object was edited.",
      "properties": {},
      "id": "Edit",
      "type": "object"
    },
    "ApplicationReference": {
      "properties": {
        "type": {
          "description": "The reference type corresponding to this event.",
          "enum": [
            "UNSPECIFIED_REFERENCE_TYPE",
            "LINK",
            "DISCUSS"
          ],
          "type": "string",
          "enumDescriptions": [
            "The type is not available.",
            "The links of one or more Drive items were posted.",
            "Comments were made regarding a Drive item."
          ]
        }
      },
      "id": "ApplicationReference",
      "description": "Activity in applications other than Drive.",
      "type": "object"
    },
    "FieldValue": {
      "description": "Contains a value of a Field.",
      "type": "object",
      "id": "FieldValue",
      "properties": {
        "selectionList": {
          "description": "Selection List Field value.",
          "$ref": "SelectionList"
        },
        "selection": {
          "$ref": "Selection",
          "description": "Selection Field value."
        },
        "user": {
          "$ref": "SingleUser",
          "description": "User Field value."
        },
        "text": {
          "description": "Text Field value.",
          "$ref": "Text"
        },
        "userList": {
          "$ref": "UserList",
          "description": "User List Field value."
        },
        "date": {
          "$ref": "Date",
          "description": "Date Field value."
        },
        "integer": {
          "description": "Integer Field value.",
          "$ref": "Integer"
        },
        "textList": {
          "description": "Text List Field value.",
          "$ref": "TextList"
        }
      }
    },
    "Selection": {
      "id": "Selection",
      "type": "object",
      "description": "Wrapper for Selection Field value as combined value/display_name pair for selected choice.",
      "properties": {
        "value": {
          "description": "Selection value as Field Choice ID.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Selection value as human-readable display string."
        }
      }
    },
    "Group": {
      "id": "Group",
      "properties": {
        "email": {
          "description": "The email address of the group.",
          "type": "string"
        },
        "title": {
          "description": "The title of the group.",
          "type": "string"
        }
      },
      "description": "Information about a group.",
      "type": "object"
    },
    "Impersonation": {
      "properties": {
        "impersonatedUser": {
          "description": "The impersonated user.",
          "$ref": "User"
        }
      },
      "id": "Impersonation",
      "type": "object",
      "description": "Information about an impersonation, where an admin acts on behalf of an end user. Information about the acting admin is not currently available."
    },
    "Assignment": {
      "type": "object",
      "id": "Assignment",
      "properties": {
        "subtype": {
          "description": "The sub-type of this event.",
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED",
            "REASSIGNED"
          ],
          "enumDescriptions": [
            "Subtype not available.",
            "An assignment was added.",
            "An assignment was deleted.",
            "An assignment reply was added.",
            "An assignment reply was deleted.",
            "An assignment was resolved.",
            "A resolved assignment was reopened.",
            "An assignment was reassigned."
          ],
          "type": "string"
        },
        "assignedUser": {
          "$ref": "User",
          "description": "The user to whom the comment was assigned."
        }
      },
      "description": "A comment with an assignment."
    },
    "Domain": {
      "id": "Domain",
      "description": "Information about a domain.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the domain, e.g. `google.com`.",
          "type": "string"
        },
        "legacyId": {
          "type": "string",
          "description": "An opaque string used to identify this domain."
        }
      }
    },
    "Post": {
      "id": "Post",
      "description": "A regular posted comment.",
      "properties": {
        "subtype": {
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED"
          ],
          "enumDescriptions": [
            "Subtype not available.",
            "A post was added.",
            "A post was deleted.",
            "A reply was added.",
            "A reply was deleted.",
            "A posted comment was resolved.",
            "A posted comment was reopened."
          ],
          "type": "string",
          "description": "The sub-type of this event."
        }
      },
      "type": "object"
    },
    "TargetReference": {
      "description": "A lightweight reference to the target of activity.",
      "id": "TargetReference",
      "type": "object",
      "properties": {
        "teamDrive": {
          "$ref": "TeamDriveReference",
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true
        },
        "drive": {
          "description": "The target is a shared drive.",
          "$ref": "DriveReference"
        },
        "driveItem": {
          "description": "The target is a Drive item.",
          "$ref": "DriveItemReference"
        }
      }
    },
    "AppliedLabelChangeDetail": {
      "id": "AppliedLabelChangeDetail",
      "description": "A change made to a Label on the Target.",
      "type": "object",
      "properties": {
        "fieldChanges": {
          "items": {
            "$ref": "FieldValueChange"
          },
          "type": "array",
          "description": "Field Changes. Only present if `types` contains `LABEL_FIELD_VALUE_CHANGED`."
        },
        "label": {
          "description": "The Label name representing the Label that changed. This name always contains the revision of the Label that was used when this Action occurred. The format is `labels/id@revision`.",
          "type": "string"
        },
        "types": {
          "description": "The types of changes made to the Label on the Target.",
          "items": {
            "enumDescriptions": [
              "The type of change to this Label is not available.",
              "The identified Label was added to the Target.",
              "The identified Label was removed from the Target.",
              "Field values were changed on the Target.",
              "The Label was applied as a side-effect of Drive item creation."
            ],
            "enum": [
              "TYPE_UNSPECIFIED",
              "LABEL_ADDED",
              "LABEL_REMOVED",
              "LABEL_FIELD_VALUE_CHANGED",
              "LABEL_APPLIED_BY_ITEM_CREATE"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "title": {
          "description": "The human-readable title of the label that changed.",
          "type": "string"
        }
      }
    },
    "RestrictionChange": {
      "properties": {
        "feature": {
          "description": "The feature which had a change in restriction policy.",
          "enum": [
            "FEATURE_UNSPECIFIED",
            "SHARING_OUTSIDE_DOMAIN",
            "DIRECT_SHARING",
            "ITEM_DUPLICATION",
            "DRIVE_FILE_STREAM",
            "FILE_ORGANIZER_CAN_SHARE_FOLDERS",
            "READERS_CAN_DOWNLOAD",
            "WRITERS_CAN_DOWNLOAD"
          ],
          "type": "string",
          "enumDescriptions": [
            "The feature which changed restriction settings was not available.",
            "When restricted, this prevents items from being shared outside the domain.",
            "When restricted, this prevents direct sharing of individual items.",
            "Deprecated: Use READERS_CAN_DOWNLOAD instead.",
            "When restricted, this prevents use of Drive File Stream.",
            "When restricted, this limits sharing of folders to managers only.",
            "When restricted, this prevents actions like copy, download, and print for readers. Replaces ITEM_DUPLICATION.",
            "When restricted, this prevents actions like copy, download, and print for writers."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false
          ]
        },
        "newRestriction": {
          "enum": [
            "RESTRICTION_UNSPECIFIED",
            "UNRESTRICTED",
            "FULLY_RESTRICTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The type of restriction is not available.",
            "The feature is available without restriction.",
            "The use of this feature is fully restricted."
          ],
          "description": "The restriction in place after the change."
        }
      },
      "id": "RestrictionChange",
      "description": "Information about restriction policy changes to a feature.",
      "type": "object"
    },
    "User": {
      "type": "object",
      "description": "Information about an end user.",
      "properties": {
        "knownUser": {
          "description": "A known user.",
          "$ref": "KnownUser"
        },
        "unknownUser": {
          "$ref": "UnknownUser",
          "description": "A user about whom nothing is currently known."
        },
        "deletedUser": {
          "description": "A user whose account has since been deleted.",
          "$ref": "DeletedUser"
        }
      },
      "id": "User"
    },
    "QueryDriveActivityRequest": {
      "properties": {
        "filter": {
          "type": "string",
          "description": "The filtering for items returned from this query request. The format of the filter string is a sequence of expressions, joined by an optional \"AND\", where each expression is of the form \"field operator value\". Supported fields: - `time`: Uses numerical operators on date values either in terms of milliseconds since Jan 1, 1970 or in RFC 3339 format. Examples: - `time > 1452409200000 AND time <= 1492812924310` - `time >= \"2016-01-10T01:02:03-05:00\"` - `detail.action_detail_case`: Uses the \"has\" operator (:) and either a singular value or a list of allowed action types enclosed in parentheses, separated by a space. To exclude a result from the response, prepend a hyphen (`-`) to the beginning of the filter string. Examples: - `detail.action_detail_case:RENAME` - `detail.action_detail_case:(CREATE RESTORE)` - `-detail.action_detail_case:MOVE` "
        },
        "consolidationStrategy": {
          "description": "Details on how to consolidate related actions that make up the activity. If not set, then related actions aren't consolidated.",
          "$ref": "ConsolidationStrategy"
        },
        "pageToken": {
          "description": "The token identifies which page of results to return. Set this to the next_page_token value returned from a previous query to obtain the following page of results. If not set, the first page of results is returned.",
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "description": "The minimum number of activities desired in the response; the server attempts to return at least this quantity. The server may also return fewer activities if it has a partial response ready before the request times out. If not set, a default value is used.",
          "format": "int32"
        },
        "ancestorName": {
          "description": "Return activities for this Drive folder, plus all children and descendants. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "itemName": {
          "type": "string",
          "description": "Return activities for this Drive item. The format is `items/ITEM_ID`."
        }
      },
      "description": "The request message for querying Drive activity.",
      "type": "object",
      "id": "QueryDriveActivityRequest"
    },
    "Restore": {
      "description": "A deleted object was restored.",
      "type": "object",
      "id": "Restore",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "UNTRASH"
          ],
          "description": "The type of restore action taken.",
          "enumDescriptions": [
            "The type is not available.",
            "An object was restored from the trash."
          ],
          "type": "string"
        }
      }
    }
  },
  "version_module": true,
  "kind": "discovery#restDescription"
}