{
  "id": "drivelabels:v2",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Drive Labels",
  "parameters": {
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.admin.labels.readonly": {
          "description": "See all Google Drive labels and label-related admin policies in your organization"
        },
        "https://www.googleapis.com/auth/drive.labels": {
          "description": "See, edit, create, and delete your Google Drive labels"
        },
        "https://www.googleapis.com/auth/drive.labels.readonly": {
          "description": "See your Google Drive labels"
        },
        "https://www.googleapis.com/auth/drive.admin.labels": {
          "description": "See, edit, create, and delete all Google Drive labels in your organization, and see your organization's label-related admin policies"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://drivelabels.mtls.googleapis.com/",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "resources": {
    "users": {
      "methods": {
        "getCapabilities": {
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2UserCapabilities"
          },
          "id": "drivelabels.users.getCapabilities",
          "description": "Gets the user capabilities.",
          "flatPath": "v2/users/{usersId}/capabilities",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. The resource name of the user. Only \"users/me/capabilities\" is supported.",
              "location": "path",
              "required": true,
              "pattern": "^users/[^/]+/capabilities$",
              "type": "string"
            },
            "customer": {
              "location": "query",
              "type": "string",
              "description": "The customer to scope this request to. For example: `customers/abcd1234`. If unset, it will return settings within the current customer."
            }
          },
          "path": "v2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ]
        }
      }
    },
    "limits": {
      "methods": {
        "getLabel": {
          "id": "drivelabels.limits.getLabel",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2LabelLimits"
          },
          "description": "Get the constraints on the structure of a label; such as, the maximum number of fields allowed and maximum length of the label title.",
          "parameters": {
            "name": {
              "location": "query",
              "type": "string",
              "description": "Required. Label revision resource name must be: \"limits/label\"."
            }
          },
          "flatPath": "v2/limits/label",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "path": "v2/limits/label"
        }
      }
    },
    "labels": {
      "methods": {
        "delta": {
          "flatPath": "v2/labels/{labelsId}:delta",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^labels/[^/]+$",
              "type": "string",
              "description": "Required. The resource name of the label to update.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "path": "v2/{+name}:delta",
          "id": "drivelabels.labels.delta",
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponse"
          },
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequest"
          },
          "description": "Updates a single label by applying a set of update requests resulting in a new draft revision. For more information, see [Update a label](https://developers.google.com/workspace/drive/labels/guides/update-label). The batch update is all-or-nothing: If any of the update requests are invalid, no changes are applied. The resulting draft revision must be published before the changes may be used with Drive items."
        },
        "get": {
          "id": "drivelabels.labels.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "description": "Get a label by its resource name. For more information, see [Search for labels](https://developers.google.com/workspace/drive/labels/guides/search-label). Resource name may be any of: * `labels/{id}` - See `labels/{id}@latest` * `labels/{id}@latest` - Gets the latest revision of the label. * `labels/{id}@published` - Gets the current published revision of the label. * `labels/{id}@{revision_id}` - Gets the label at the specified revision ID.",
          "flatPath": "v2/labels/{labelsId}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "languageCode": {
              "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language are used.",
              "location": "query",
              "type": "string"
            },
            "view": {
              "location": "query",
              "description": "When specified, only certain fields belonging to the indicated view are returned.",
              "enumDescriptions": [
                "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
                "All possible fields."
              ],
              "type": "string",
              "enum": [
                "LABEL_VIEW_BASIC",
                "LABEL_VIEW_FULL"
              ]
            },
            "useAdminAccess": {
              "location": "query",
              "type": "boolean",
              "description": "Set to `true` in order to use the user's admin credentials. The server verifies that the user is an admin for the label before allowing access."
            },
            "name": {
              "description": "Required. Label resource name. May be any of: * `labels/{id}` (equivalent to labels/{id}@latest) * `labels/{id}@latest` * `labels/{id}@published` * `labels/{id}@{revision_id}`",
              "location": "path",
              "required": true,
              "pattern": "^labels/[^/]+$",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "path": "v2/{+name}"
        },
        "delete": {
          "flatPath": "v2/labels/{labelsId}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^labels/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. Label resource name."
            },
            "useAdminAccess": {
              "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
              "location": "query",
              "type": "boolean"
            },
            "writeControl.requiredRevisionId": {
              "location": "query",
              "type": "string",
              "description": "The revision ID of the label that the write request will be applied to. If this isn't the latest revision of the label, the request will not be processed and will return a 400 Bad Request error."
            }
          },
          "path": "v2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "httpMethod": "DELETE",
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "id": "drivelabels.labels.delete",
          "description": "Permanently deletes a label and related metadata on Drive items. For more information, see [Disable, enable, and delete a label](https://developers.google.com/workspace/drive/labels/guides/disable-delete-label). Once deleted, the label and related Drive item metadata will be deleted. Only draft labels and disabled labels may be deleted."
        },
        "disable": {
          "description": "Disable a published label. For more information, see [Disable, enable, and delete a label](https://developers.google.com/workspace/drive/labels/guides/disable-delete-label). Disabling a label will result in a new disabled published revision based on the current published revision. If there's a draft revision, a new disabled draft revision will be created based on the latest draft revision. Older draft revisions will be deleted. Once disabled, a label may be deleted with `DeleteLabel`.",
          "id": "drivelabels.labels.disable",
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2DisableLabelRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "path": "v2/{+name}:disable",
          "flatPath": "v2/labels/{labelsId}:disable",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^labels/[^/]+$",
              "type": "string",
              "description": "Required. Label resource name.",
              "required": true,
              "location": "path"
            }
          }
        },
        "updateLabelCopyMode": {
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "id": "drivelabels.labels.updateLabelCopyMode",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2UpdateLabelCopyModeRequest"
          },
          "description": "Updates a label's `CopyMode`. Changes to this policy aren't revisioned, don't require publishing, and take effect immediately.",
          "flatPath": "v2/labels/{labelsId}:updateLabelCopyMode",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^labels/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. The resource name of the label to update."
            }
          },
          "path": "v2/{+name}:updateLabelCopyMode",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ]
        },
        "list": {
          "path": "v2/labels",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.admin.labels.readonly",
            "https://www.googleapis.com/auth/drive.labels",
            "https://www.googleapis.com/auth/drive.labels.readonly"
          ],
          "flatPath": "v2/labels",
          "parameterOrder": [],
          "parameters": {
            "useAdminAccess": {
              "description": "Set to `true` in order to use the user's admin credentials. This will return all labels within the customer.",
              "location": "query",
              "type": "boolean"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of labels to return per page. Default: 50. Max: 200."
            },
            "publishedOnly": {
              "description": "Whether to include only published labels in the results. * When `true`, only the current published label revisions are returned. Disabled labels are included. Returned label resource names reference the published revision (`labels/{id}/{revision_id}`). * When `false`, the current label revisions are returned, which might not be published. Returned label resource names don't reference a specific revision (`labels/{id}`).",
              "location": "query",
              "type": "boolean"
            },
            "customer": {
              "location": "query",
              "type": "string",
              "description": "The customer to scope this list request to. For example: `customers/abcd1234`. If unset, will return all labels within the current customer."
            },
            "languageCode": {
              "description": "The BCP-47 language code to use for evaluating localized field labels. When not specified, values in the default configured language are used.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The token of the page to return.",
              "location": "query",
              "type": "string"
            },
            "view": {
              "location": "query",
              "description": "When specified, only certain fields belonging to the indicated view are returned.",
              "enumDescriptions": [
                "Implies the field mask: `name,id,revision_id,label_type,properties.*`",
                "All possible fields."
              ],
              "type": "string",
              "enum": [
                "LABEL_VIEW_BASIC",
                "LABEL_VIEW_FULL"
              ]
            },
            "minimumRole": {
              "enum": [
                "LABEL_ROLE_UNSPECIFIED",
                "READER",
                "APPLIER",
                "ORGANIZER",
                "EDITOR"
              ],
              "type": "string",
              "enumDescriptions": [
                "Unknown role.",
                "A reader can read the label and associated metadata applied to Drive items.",
                "An applier can write associated metadata on Drive items in which they also have write access to. Implies `READER`.",
                "An organizer can pin this label in shared drives they manage and add new appliers to the label.",
                "Editors can make any update including deleting the label which also deletes the associated Drive item metadata. Implies `APPLIER`."
              ],
              "description": "Specifies the level of access the user must have on the returned labels. The minimum role a user must have on a label. Defaults to `READER`.",
              "location": "query"
            }
          },
          "description": "List labels. For more information, see [Search for labels](https://developers.google.com/workspace/drive/labels/guides/search-label).",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2ListLabelsResponse"
          },
          "id": "drivelabels.labels.list"
        },
        "enable": {
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2EnableLabelRequest"
          },
          "id": "drivelabels.labels.enable",
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "description": "Enable a disabled label and restore it to its published state. For more information, see [Disable, enable, and delete a label](https://developers.google.com/workspace/drive/labels/guides/disable-delete-label). This will result in a new published revision based on the current disabled published revision. If there's an existing disabled draft revision, a new revision will be created based on that draft and will be enabled.",
          "parameters": {
            "name": {
              "description": "Required. Label resource name.",
              "location": "path",
              "required": true,
              "pattern": "^labels/[^/]+$",
              "type": "string"
            }
          },
          "flatPath": "v2/labels/{labelsId}:enable",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "path": "v2/{+name}:enable"
        },
        "create": {
          "parameters": {
            "languageCode": {
              "location": "query",
              "type": "string",
              "description": "The BCP-47 language code to use for evaluating localized field labels in response. When not specified, values in the default configured language will be used."
            },
            "useAdminAccess": {
              "description": "Set to `true` in order to use the user's admin privileges. The server will verify the user is an admin before allowing access.",
              "location": "query",
              "type": "boolean"
            }
          },
          "flatPath": "v2/labels",
          "parameterOrder": [],
          "path": "v2/labels",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "id": "drivelabels.labels.create",
          "description": "Creates a label. For more information, see [Create and publish a label](https://developers.google.com/workspace/drive/labels/guides/create-label)."
        },
        "updateLabelEnabledAppSettings": {
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "id": "drivelabels.labels.updateLabelEnabledAppSettings",
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2UpdateLabelEnabledAppSettingsRequest"
          },
          "description": "Updates a label's `EnabledAppSettings`. Enabling a label in a Google Workspace app allows it to be used in that app. This change isn't revisioned, doesn't require publishing, and takes effect immediately.",
          "flatPath": "v2/labels/{labelsId}:updateLabelEnabledAppSettings",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "description": "Required. The resource name of the label to update. The resource name of the label to update.",
              "type": "string",
              "pattern": "^labels/[^/]+$"
            }
          },
          "path": "v2/{+name}:updateLabelEnabledAppSettings"
        },
        "publish": {
          "flatPath": "v2/labels/{labelsId}:publish",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. Label resource name.",
              "location": "path",
              "required": true,
              "pattern": "^labels/[^/]+$",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ],
          "path": "v2/{+name}:publish",
          "id": "drivelabels.labels.publish",
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          },
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2PublishLabelRequest"
          },
          "description": "Publish all draft changes to the label. Once published, the label may not return to its draft state. For more information, see [Create and publish a label](https://developers.google.com/workspace/drive/labels/guides/create-label). Publishing a label will result in a new published revision. All previous draft revisions will be deleted. Previous published revisions will be kept but are subject to automated deletion as needed. For more information, see [Label lifecycle](https://developers.google.com/workspace/drive/labels/guides/label-lifecycle). Once published, some changes are no longer permitted. Generally, any change that would invalidate or cause new restrictions on existing metadata related to the label will be rejected. For example, the following changes to a label will be rejected after the label is published: * The label cannot be directly deleted. It must be disabled first, then deleted. * `Field.FieldType` cannot be changed. * Changes to field validation options cannot reject something that was previously accepted. * Reducing the maximum entries."
        },
        "updatePermissions": {
          "request": {
            "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
          },
          "id": "drivelabels.labels.updatePermissions",
          "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
          "parameters": {
            "parent": {
              "pattern": "^labels/[^/]+$",
              "type": "string",
              "description": "Required. The parent label resource name.",
              "location": "path",
              "required": true
            },
            "useAdminAccess": {
              "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
              "location": "query",
              "type": "boolean"
            }
          },
          "flatPath": "v2/labels/{labelsId}/permissions",
          "parameterOrder": [
            "parent"
          ],
          "path": "v2/{+parent}/permissions",
          "scopes": [
            "https://www.googleapis.com/auth/drive.admin.labels",
            "https://www.googleapis.com/auth/drive.labels"
          ]
        }
      },
      "resources": {
        "revisions": {
          "methods": {
            "updatePermissions": {
              "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
              },
              "id": "drivelabels.labels.revisions.updatePermissions",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "path": "v2/{+parent}/permissions",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The parent label resource name.",
                  "type": "string",
                  "pattern": "^labels/[^/]+/revisions/[^/]+$"
                },
                "useAdminAccess": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
                }
              },
              "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/permissions",
              "parameterOrder": [
                "parent"
              ]
            }
          },
          "resources": {
            "permissions": {
              "methods": {
                "list": {
                  "id": "drivelabels.labels.revisions.permissions.list",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2ListLabelPermissionsResponse"
                  },
                  "description": "Lists a label's permissions.",
                  "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/permissions",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent label resource name on which label permissions are listed. Format: `labels/{label}`."
                    },
                    "useAdminAccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
                    },
                    "pageSize": {
                      "description": "Maximum number of permissions to return per page. Default: 50. Max: 200.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The token of the page to return."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                    "https://www.googleapis.com/auth/drive.labels",
                    "https://www.googleapis.com/auth/drive.labels.readonly"
                  ],
                  "path": "v2/{+parent}/permissions"
                },
                "create": {
                  "path": "v2/{+parent}/permissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent label resource name on the label permission is created. Format: `labels/{label}`.",
                      "type": "string",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$"
                    },
                    "useAdminAccess": {
                      "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/permissions",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
                  "request": {
                    "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
                  },
                  "id": "drivelabels.labels.revisions.permissions.create"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "drivelabels.labels.revisions.permissions.delete",
                  "description": "Deletes a label's permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
                  "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/permissions/{permissionsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^labels/[^/]+/revisions/[^/]+/permissions/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. Label permission resource name."
                    },
                    "useAdminAccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
                    }
                  },
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ]
                },
                "batchUpdate": {
                  "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/permissions:batchUpdate",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent label resource name shared by all permissions being updated. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
                  "path": "v2/{+parent}/permissions:batchUpdate",
                  "id": "drivelabels.labels.revisions.permissions.batchUpdate",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsResponse"
                  },
                  "request": {
                    "$ref": "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsRequest"
                  },
                  "description": "Updates label permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing."
                },
                "batchDelete": {
                  "request": {
                    "$ref": "GoogleAppsDriveLabelsV2BatchDeleteLabelPermissionsRequest"
                  },
                  "id": "drivelabels.labels.revisions.permissions.batchDelete",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Deletes label permissions. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
                  "parameters": {
                    "parent": {
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent label resource name shared by all permissions being deleted. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/permissions:batchDelete",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.labels"
                  ],
                  "path": "v2/{+parent}/permissions:batchDelete"
                }
              }
            },
            "locks": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleAppsDriveLabelsV2ListLabelLocksResponse"
                  },
                  "id": "drivelabels.labels.revisions.locks.list",
                  "description": "Lists the label locks on a label.",
                  "flatPath": "v2/labels/{labelsId}/revisions/{revisionsId}/locks",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The token of the page to return."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Maximum number of locks to return per page. Default: 100. Max: 200."
                    },
                    "parent": {
                      "description": "Required. Label on which locks are applied. Format: `labels/{label}`.",
                      "required": true,
                      "location": "path",
                      "pattern": "^labels/[^/]+/revisions/[^/]+$",
                      "type": "string"
                    }
                  },
                  "path": "v2/{+parent}/locks",
                  "scopes": [
                    "https://www.googleapis.com/auth/drive.admin.labels",
                    "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                    "https://www.googleapis.com/auth/drive.labels",
                    "https://www.googleapis.com/auth/drive.labels.readonly"
                  ]
                }
              }
            }
          }
        },
        "permissions": {
          "methods": {
            "list": {
              "id": "drivelabels.labels.permissions.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2ListLabelPermissionsResponse"
              },
              "description": "Lists a label's permissions.",
              "parameters": {
                "pageToken": {
                  "description": "The token of the page to return.",
                  "location": "query",
                  "type": "string"
                },
                "useAdminAccess": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access."
                },
                "pageSize": {
                  "description": "Maximum number of permissions to return per page. Default: 50. Max: 200.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "description": "Required. The parent label resource name on which label permissions are listed. Format: `labels/{label}`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^labels/[^/]+$",
                  "type": "string"
                }
              },
              "flatPath": "v2/labels/{labelsId}/permissions",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                "https://www.googleapis.com/auth/drive.labels",
                "https://www.googleapis.com/auth/drive.labels.readonly"
              ],
              "path": "v2/{+parent}/permissions"
            },
            "create": {
              "flatPath": "v2/labels/{labelsId}/permissions",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The parent label resource name on the label permission is created. Format: `labels/{label}`.",
                  "type": "string",
                  "pattern": "^labels/[^/]+$"
                },
                "useAdminAccess": {
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "path": "v2/{+parent}/permissions",
              "id": "drivelabels.labels.permissions.create",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
              },
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
              },
              "description": "Updates a label's permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing."
            },
            "delete": {
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "parameters": {
                "name": {
                  "pattern": "^labels/[^/]+/permissions/[^/]+$",
                  "type": "string",
                  "description": "Required. Label permission resource name.",
                  "location": "path",
                  "required": true
                },
                "useAdminAccess": {
                  "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "flatPath": "v2/labels/{labelsId}/permissions/{permissionsId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a label's permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing.",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "drivelabels.labels.permissions.delete"
            },
            "batchUpdate": {
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The parent label resource name shared by all permissions being updated. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
                  "type": "string",
                  "pattern": "^labels/[^/]+$"
                }
              },
              "flatPath": "v2/labels/{labelsId}/permissions:batchUpdate",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "path": "v2/{+parent}/permissions:batchUpdate",
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsRequest"
              },
              "id": "drivelabels.labels.permissions.batchUpdate",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsResponse"
              },
              "description": "Updates label permissions. If a permission for the indicated principal doesn't exist, a label permission is created, otherwise the existing permission is updated. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing."
            },
            "batchDelete": {
              "parameters": {
                "parent": {
                  "pattern": "^labels/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent label resource name shared by all permissions being deleted. Format: `labels/{label}`. If this is set, the parent field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v2/labels/{labelsId}/permissions:batchDelete",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.labels"
              ],
              "path": "v2/{+parent}/permissions:batchDelete",
              "request": {
                "$ref": "GoogleAppsDriveLabelsV2BatchDeleteLabelPermissionsRequest"
              },
              "id": "drivelabels.labels.permissions.batchDelete",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes label permissions. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing."
            }
          }
        },
        "locks": {
          "methods": {
            "list": {
              "path": "v2/{+parent}/locks",
              "scopes": [
                "https://www.googleapis.com/auth/drive.admin.labels",
                "https://www.googleapis.com/auth/drive.admin.labels.readonly",
                "https://www.googleapis.com/auth/drive.labels",
                "https://www.googleapis.com/auth/drive.labels.readonly"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. Label on which locks are applied. Format: `labels/{label}`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^labels/[^/]+$",
                  "type": "string"
                },
                "pageToken": {
                  "description": "The token of the page to return.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Maximum number of locks to return per page. Default: 100. Max: 200.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "flatPath": "v2/labels/{labelsId}/locks",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists the label locks on a label.",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleAppsDriveLabelsV2ListLabelLocksResponse"
              },
              "id": "drivelabels.labels.locks.list"
            }
          }
        }
      }
    }
  },
  "protocol": "rest",
  "name": "drivelabels",
  "title": "Drive Labels API",
  "version_module": true,
  "basePath": "",
  "kind": "discovery#restDescription",
  "baseUrl": "https://drivelabels.googleapis.com/",
  "servicePath": "",
  "documentationLink": "https://developers.google.com/workspace/drive/labels",
  "schemas": {
    "GoogleAppsDriveLabelsV2FieldAppliedCapabilities": {
      "id": "GoogleAppsDriveLabelsV2FieldAppliedCapabilities",
      "description": "The capabilities related to this field on applied metadata.",
      "properties": {
        "canWrite": {
          "description": "Whether the user can set this field on Drive items.",
          "type": "boolean"
        },
        "canSearch": {
          "description": "Whether the user can search for Drive items referencing this field.",
          "type": "boolean"
        },
        "canRead": {
          "description": "Whether the user can read related applied metadata on items.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2FieldUserOptions": {
      "type": "object",
      "properties": {
        "listOptions": {
          "description": "When specified, indicates that this field supports a list of values. Once the field is published, this cannot be changed.",
          "$ref": "GoogleAppsDriveLabelsV2FieldListOptions"
        }
      },
      "id": "GoogleAppsDriveLabelsV2FieldUserOptions",
      "description": "Options for the user field type."
    },
    "GoogleAppsDriveLabelsV2FieldProperties": {
      "id": "GoogleAppsDriveLabelsV2FieldProperties",
      "description": "The basic properties of the field.",
      "type": "object",
      "properties": {
        "required": {
          "description": "Whether the field should be marked as required.",
          "type": "boolean"
        },
        "displayName": {
          "description": "Required. The display text to show in the UI identifying this field.",
          "type": "string"
        },
        "insertBeforeField": {
          "description": "Input only. Insert or move this field before the indicated field. If empty, the field is placed at the end of the list.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldTypeRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldTypeRequest",
      "description": "Request to change the type of a field.",
      "properties": {
        "integerOptions": {
          "description": "Update field to Integer.",
          "$ref": "GoogleAppsDriveLabelsV2FieldIntegerOptions"
        },
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root of `type_options` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "id": {
          "description": "Required. The field to update.",
          "type": "string"
        },
        "textOptions": {
          "description": "Update field to Text.",
          "$ref": "GoogleAppsDriveLabelsV2FieldTextOptions"
        },
        "dateOptions": {
          "description": "Update field to Date.",
          "$ref": "GoogleAppsDriveLabelsV2FieldDateOptions"
        },
        "userOptions": {
          "description": "Update field to User.",
          "$ref": "GoogleAppsDriveLabelsV2FieldUserOptions"
        },
        "selectionOptions": {
          "description": "Update field to Selection.",
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptions"
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2SelectionLimits": {
      "properties": {
        "maxDisplayNameLength": {
          "description": "Maximum length for display name.",
          "type": "integer",
          "format": "int32"
        },
        "maxDeletedChoices": {
          "description": "Maximum number of deleted choices.",
          "type": "integer",
          "format": "int32"
        },
        "maxChoices": {
          "description": "Maximum number of choices.",
          "type": "integer",
          "format": "int32"
        },
        "listLimits": {
          "description": "Limits for list-variant of a field type.",
          "$ref": "GoogleAppsDriveLabelsV2ListLimits"
        },
        "maxIdLength": {
          "description": "Maximum ID length for a selection option.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2SelectionLimits",
      "description": "Limits for selection field type."
    },
    "GoogleAppsDriveLabelsV2ListLabelsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The token of the next page in the response.",
          "type": "string"
        },
        "labels": {
          "type": "array",
          "description": "Labels.",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2Label"
          }
        }
      },
      "id": "GoogleAppsDriveLabelsV2ListLabelsResponse",
      "description": "Response for listing labels."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteSelectionChoiceRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDeleteSelectionChoiceRequest",
      "description": "Request to delete a choice.",
      "type": "object",
      "properties": {
        "fieldId": {
          "description": "Required. The selection field from which a choice will be deleted.",
          "type": "string"
        },
        "id": {
          "description": "Required. Choice to delete.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateSelectionChoiceResponse": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateSelectionChoiceResponse",
      "description": "Response following selection choice create.",
      "type": "object",
      "properties": {
        "fieldId": {
          "description": "The server-generated ID of the field.",
          "type": "string"
        },
        "id": {
          "description": "The server-generated ID of the created choice within the field.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2FieldListOptions": {
      "type": "object",
      "properties": {
        "maxEntries": {
          "description": "Maximum number of entries permitted.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleAppsDriveLabelsV2FieldListOptions",
      "description": "Options for a multi-valued variant of an associated field type."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableSelectionChoiceRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableSelectionChoiceRequest",
      "description": "Request to disable a choice.",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
        },
        "fieldId": {
          "description": "Required. The selection field in which a choice will be disabled.",
          "type": "string"
        },
        "id": {
          "description": "Required. Choice to disable.",
          "type": "string"
        },
        "disabledPolicy": {
          "description": "Required. The disabled policy to update.",
          "$ref": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy"
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2LabelAppliedLabelPolicy": {
      "properties": {
        "copyMode": {
          "enumDescriptions": [
            "Copy mode unspecified.",
            "The applied label and field values aren't copied by default when the Drive item it's applied to is copied.",
            "The applied label and field values are always copied when the Drive item it's applied to is copied. Only admins can use this mode.",
            "The applied label and field values are copied if the label is appliable by the user making the copy."
          ],
          "enum": [
            "COPY_MODE_UNSPECIFIED",
            "DO_NOT_COPY",
            "ALWAYS_COPY",
            "COPY_APPLIABLE"
          ],
          "description": "Indicates how the applied label and field values should be copied when a Drive item is copied.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2LabelAppliedLabelPolicy",
      "description": "Behavior of this label when it's applied to Drive items."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableFieldRequest": {
      "type": "object",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `disabled_policy` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
        },
        "id": {
          "description": "Required. Key of the field to disable.",
          "type": "string"
        },
        "disabledPolicy": {
          "description": "Required. Field disabled policy.",
          "$ref": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy"
        }
      },
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestDisableFieldRequest",
      "description": "Request to disable the field."
    },
    "GoogleAppsDriveLabelsV2ListLabelLocksResponse": {
      "type": "object",
      "properties": {
        "labelLocks": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2LabelLock"
          },
          "description": "Label locks."
        },
        "nextPageToken": {
          "description": "The token of the next page in the response.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2ListLabelLocksResponse",
      "description": "The response to a `ListLabelLocksRequest`."
    },
    "GoogleAppsDriveLabelsV2LabelSchemaCapabilities": {
      "id": "GoogleAppsDriveLabelsV2LabelSchemaCapabilities",
      "description": "The capabilities related to this label when editing the label.",
      "type": "object",
      "properties": {
        "canDisable": {
          "description": "Whether the user can disable this label. The user must have permission and this label must not already be disabled.",
          "type": "boolean"
        },
        "canEnable": {
          "description": "Whether the user can enable this label. The user must have permission and this label must be disabled.",
          "type": "boolean"
        },
        "canDelete": {
          "description": "Whether the user can delete this label. The user must have permission and the label must be disabled.",
          "type": "boolean"
        },
        "canUpdate": {
          "description": "Whether the user can change this label.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2FieldSchemaCapabilities": {
      "properties": {
        "canEnable": {
          "description": "Whether the user can enable this field. The user must have permission and this field must be disabled.",
          "type": "boolean"
        },
        "canDisable": {
          "description": "Whether the user can disable this field. The user must have permission and this field must not already be disabled.",
          "type": "boolean"
        },
        "canUpdate": {
          "description": "Whether the user can change this field.",
          "type": "boolean"
        },
        "canDelete": {
          "description": "Whether the user can delete this field. The user must have permission and the field must be deprecated.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2FieldSchemaCapabilities",
      "description": "The capabilities related to this field when editing the field."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateSelectionChoicePropertiesRequest",
      "description": "Request to update a choice property.",
      "type": "object",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field."
        },
        "fieldId": {
          "description": "Required. The selection field to update.",
          "type": "string"
        },
        "id": {
          "description": "Required. The choice to update.",
          "type": "string"
        },
        "properties": {
          "description": "Required. The choice properties to update.",
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceProperties"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableFieldResponse": {
      "properties": {},
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableFieldResponse",
      "description": "Response following field disable."
    },
    "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsResponse": {
      "id": "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsResponse",
      "description": "Response for updating one or more label permissions.",
      "properties": {
        "permissions": {
          "description": "Required. Permissions updated.",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2UserCapabilities": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Resource name for the user capabilities.",
          "readOnly": true
        },
        "canAccessLabelManager": {
          "readOnly": true,
          "description": "Output only. Whether the user is allowed access to the label manager.",
          "type": "boolean"
        },
        "canAdministrateLabels": {
          "type": "boolean",
          "description": "Output only. Whether the user is an administrator for the shared labels feature.",
          "readOnly": true
        },
        "canCreateAdminLabels": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the user is allowed to create admin labels."
        },
        "canCreateSharedLabels": {
          "type": "boolean",
          "description": "Output only. Whether the user is allowed to create shared labels.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2UserCapabilities",
      "description": "The capabilities of a user."
    },
    "GoogleAppsDriveLabelsV2WriteControl": {
      "properties": {
        "requiredRevisionId": {
          "description": "The revision ID of the label that the write request will be applied to. If this isn't the latest revision of the label, the request will not be processed and will return a 400 Bad Request error.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2WriteControl",
      "description": "Provides control over how write requests are executed. When not specified, the last write wins."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateSelectionChoiceRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateSelectionChoiceRequest",
      "description": "Request to create a selection choice.",
      "properties": {
        "fieldId": {
          "description": "Required. The selection field in which a choice will be created.",
          "type": "string"
        },
        "choice": {
          "description": "Required. The choice to create.",
          "$ref": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoice"
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2ListLabelPermissionsResponse": {
      "id": "GoogleAppsDriveLabelsV2ListLabelPermissionsResponse",
      "description": "Response for listing the permissions on a label.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The token of the next page in the response.",
          "type": "string"
        },
        "labelPermissions": {
          "description": "Label permissions.",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
          },
          "type": "array"
        }
      }
    },
    "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsRequest": {
      "properties": {
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access. If this is set, the `use_admin_access` field in the `UpdateLabelPermissionRequest` messages must either be empty or match this field.",
          "type": "boolean"
        },
        "requests": {
          "type": "array",
          "description": "Required. The request message specifying the resources to update.",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2UpdateLabelPermissionRequest"
          }
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2BatchUpdateLabelPermissionsRequest",
      "description": "Updates one or more label permissions."
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceSchemaCapabilities": {
      "properties": {
        "canDisable": {
          "description": "Whether the user can disable this choice.",
          "type": "boolean"
        },
        "canEnable": {
          "description": "Whether the user can enable this choice.",
          "type": "boolean"
        },
        "canDelete": {
          "description": "Whether the user can delete this choice.",
          "type": "boolean"
        },
        "canUpdate": {
          "description": "Whether the user can update this choice.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceSchemaCapabilities",
      "description": "The capabilities related to this choice when editing the choice."
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2Label": {
      "id": "GoogleAppsDriveLabelsV2Label",
      "description": "A label defines a taxonomy that can be applied to Drive items in order to organize and search across items. Labels can be simple strings, or can contain fields that describe additional metadata that can be further used to organize and search Drive items.",
      "type": "object",
      "properties": {
        "revisionCreateTime": {
          "description": "Output only. The time this label revision was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "appliedLabelPolicy": {
          "description": "Output only. Behavior of this label when it's applied to Drive items.",
          "$ref": "GoogleAppsDriveLabelsV2LabelAppliedLabelPolicy",
          "readOnly": true
        },
        "enabledAppSettings": {
          "description": "Optional. The `EnabledAppSettings` for this Label.",
          "$ref": "GoogleAppsDriveLabelsV2LabelEnabledAppSettings"
        },
        "creator": {
          "readOnly": true,
          "description": "Output only. The user who created this label.",
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        },
        "schemaCapabilities": {
          "readOnly": true,
          "description": "Output only. The capabilities the user has on this label.",
          "$ref": "GoogleAppsDriveLabelsV2LabelSchemaCapabilities"
        },
        "properties": {
          "description": "Required. The basic properties of the label.",
          "$ref": "GoogleAppsDriveLabelsV2LabelProperties"
        },
        "appliedCapabilities": {
          "description": "Output only. The capabilities related to this label on applied metadata.",
          "$ref": "GoogleAppsDriveLabelsV2LabelAppliedCapabilities",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the label. Will be in the form of either: `labels/{id}` or `labels/{id}@{revision_id}` depending on the request. See `id` and `revision_id` below.",
          "type": "string"
        },
        "lifecycle": {
          "description": "Output only. The lifecycle state of the label including whether it's published, deprecated, and has draft changes.",
          "$ref": "GoogleAppsDriveLabelsV2Lifecycle",
          "readOnly": true
        },
        "lockStatus": {
          "description": "Output only. The `LockStatus` of this label.",
          "$ref": "GoogleAppsDriveLabelsV2LockStatus",
          "readOnly": true
        },
        "customer": {
          "readOnly": true,
          "description": "Output only. The customer this label belongs to. For example: `customers/123abc789`.",
          "type": "string"
        },
        "id": {
          "description": "Output only. Globally unique identifier of this label. ID makes up part of the label `name`, but unlike `name`, ID is consistent between revisions. Matches the regex: `([a-zA-Z0-9])+`.",
          "readOnly": true,
          "type": "string"
        },
        "disabler": {
          "readOnly": true,
          "description": "Output only. The user who disabled this label. This value has no meaning when the label isn't disabled.",
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        },
        "disableTime": {
          "readOnly": true,
          "description": "Output only. The time this label was disabled. This value has no meaning when the label isn't disabled.",
          "type": "string",
          "format": "google-datetime"
        },
        "publishTime": {
          "readOnly": true,
          "description": "Output only. The time this label was published. This value has no meaning when the label isn't published.",
          "type": "string",
          "format": "google-datetime"
        },
        "labelType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown label type.",
            "Shared labels may be shared with users to apply to Drive items.",
            "Admin-owned label. Only creatable and editable by admins. Supports some additional admin-only features.",
            "A label owned by an internal Google application rather than a customer. These labels are read-only."
          ],
          "enum": [
            "LABEL_TYPE_UNSPECIFIED",
            "SHARED",
            "ADMIN",
            "GOOGLE_APP"
          ],
          "description": "Required. The type of label."
        },
        "displayHints": {
          "readOnly": true,
          "description": "Output only. UI display hints for rendering the label.",
          "$ref": "GoogleAppsDriveLabelsV2LabelDisplayHints"
        },
        "learnMoreUri": {
          "description": "Custom URL to present to users to allow them to learn more about this label and how it should be used.",
          "type": "string"
        },
        "fields": {
          "type": "array",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2Field"
          },
          "description": "List of fields in descending priority order."
        },
        "revisionCreator": {
          "readOnly": true,
          "description": "Output only. The user who created this label revision.",
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        },
        "revisionId": {
          "description": "Output only. Revision ID of the label. Revision ID might be part of the label `name` depending on the request issued. A new revision is created whenever revisioned properties of a label are changed. Matches the regex: `([a-zA-Z0-9])+`.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time this label was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "publisher": {
          "readOnly": true,
          "description": "Output only. The user who published this label. This value has no meaning when the label isn't published.>>",
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponse": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponse",
      "description": "Response for label update.",
      "properties": {
        "updatedLabel": {
          "description": "The label after updates were applied. This is only set if `include_label_in_response` is `true` and there were no errors.",
          "$ref": "GoogleAppsDriveLabelsV2Label"
        },
        "responses": {
          "description": "The reply of the updates. This maps 1:1 with the updates, although responses to some requests may be empty.",
          "items": {
            "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseResponse"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2LongTextLimits": {
      "id": "GoogleAppsDriveLabelsV2LongTextLimits",
      "description": "Limits for long text field type.",
      "type": "object",
      "properties": {
        "minLength": {
          "description": "Minimum length allowed for a long text field type.",
          "type": "integer",
          "format": "int32"
        },
        "maxLength": {
          "description": "Maximum length allowed for a long text field type.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldPropertiesRequest": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestUpdateFieldPropertiesRequest",
      "description": "Request to update field properties.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Required. Basic field properties.",
          "$ref": "GoogleAppsDriveLabelsV2FieldProperties"
        },
        "updateMask": {
          "description": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `*` can be used as a short-hand for updating every field.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "id": {
          "description": "Required. The field to update.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2FieldTextOptions": {
      "id": "GoogleAppsDriveLabelsV2FieldTextOptions",
      "description": "Options for the Text field type.",
      "properties": {
        "minLength": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The minimum valid length of values for the text field.",
          "readOnly": true
        },
        "maxLength": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The maximum valid length of values for the text field.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2ListLimits": {
      "type": "object",
      "properties": {
        "maxEntries": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of values allowed for the field type."
        }
      },
      "id": "GoogleAppsDriveLabelsV2ListLimits",
      "description": "Limits for list-variant of a field type."
    },
    "GoogleAppsDriveLabelsV2LabelDisplayHints": {
      "properties": {
        "hiddenInSearch": {
          "description": "This label should be hidden in the search menu when searching for Drive items.",
          "type": "boolean"
        },
        "disabled": {
          "description": "Whether the label should be shown in the UI as disabled.",
          "type": "boolean"
        },
        "shownInApply": {
          "description": "This label should be shown in the apply menu when applying values to a Drive item.",
          "type": "boolean"
        },
        "priority": {
          "type": "string",
          "format": "int64",
          "description": "The order to display labels in a list."
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2LabelDisplayHints",
      "description": "The UI display hints for rendering the label."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteSelectionChoiceResponse": {
      "properties": {},
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteSelectionChoiceResponse",
      "description": "Response following choice delete."
    },
    "GoogleAppsDriveLabelsV2LabelAppliedCapabilities": {
      "id": "GoogleAppsDriveLabelsV2LabelAppliedCapabilities",
      "description": "The capabilities a user has on this label's applied metadata.",
      "type": "object",
      "properties": {
        "canApply": {
          "description": "Whether the user can apply this label to items.",
          "type": "boolean"
        },
        "canRemove": {
          "description": "Whether the user can remove this label from items.",
          "type": "boolean"
        },
        "canRead": {
          "description": "Whether the user can read applied metadata related to this label.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2UserLimits": {
      "type": "object",
      "properties": {
        "listLimits": {
          "description": "Limits for list-variant of a field type.",
          "$ref": "GoogleAppsDriveLabelsV2ListLimits"
        }
      },
      "id": "GoogleAppsDriveLabelsV2UserLimits",
      "description": "Limits for Field.Type.USER."
    },
    "GoogleAppsDriveLabelsV2Lifecycle": {
      "properties": {
        "disabledPolicy": {
          "description": "The policy that governs how to show a disabled label, field, or selection choice.",
          "$ref": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy"
        },
        "hasUnpublishedChanges": {
          "readOnly": true,
          "description": "Output only. Whether the object associated with this lifecycle has unpublished changes.",
          "type": "boolean"
        },
        "state": {
          "description": "Output only. The state of the object associated with this lifecycle.",
          "enumDescriptions": [
            "Unknown State.",
            "The initial state of an object. Once published, the object can never return to this state. Once an object is published, certain kinds of changes are no longer permitted.",
            "The object has been published. The object might have unpublished draft changes as indicated by `has_unpublished_changes`.",
            "The object has been published and has since been disabled. The object might have unpublished draft changes as indicated by `has_unpublished_changes`.",
            "The object has been deleted."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "UNPUBLISHED_DRAFT",
            "PUBLISHED",
            "DISABLED",
            "DELETED"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2Lifecycle",
      "description": "The lifecycle state of an object, such as label, field, or choice. For more information, see [Label lifecycle](https://developers.google.com/workspace/drive/labels/guides/label-lifecycle). The lifecycle enforces the following transitions: * `UNPUBLISHED_DRAFT` (starting state) * `UNPUBLISHED_DRAFT` -> `PUBLISHED` * `UNPUBLISHED_DRAFT` -> (Deleted) * `PUBLISHED` -> `DISABLED` * `DISABLED` -> `PUBLISHED` * `DISABLED` -> (Deleted) The published and disabled states have some distinct characteristics: * `Published`: Some kinds of changes might be made to an object in this state, in which case `has_unpublished_changes` will be true. Also, some kinds of changes aren't permitted. Generally, any change that would invalidate or cause new restrictions on existing metadata related to the label are rejected. * `Disabled`: When disabled, the configured `DisabledPolicy` takes effect."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateLabelPropertiesResponse": {
      "properties": {},
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateLabelPropertiesResponse",
      "description": "Response following update to label properties."
    },
    "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy": {
      "properties": {
        "hideInSearch": {
          "description": "Whether to hide this disabled object in the search menu for Drive items. * When `false`, the object is generally shown in the UI as disabled but it appears in the search results when searching for Drive items. * When `true`, the object is generally hidden in the UI when searching for Drive items.",
          "type": "boolean"
        },
        "showInApply": {
          "description": "Whether to show this disabled object in the apply menu on Drive items. * When `true`, the object is generally shown in the UI as disabled and is unselectable. * When `false`, the object is generally hidden in the UI.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2LifecycleDisabledPolicy",
      "description": "The policy that governs how to treat a disabled label, field, or selection choice in different contexts."
    },
    "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceDisplayHints": {
      "properties": {
        "disabled": {
          "description": "Whether the option should be shown in the UI as disabled.",
          "type": "boolean"
        },
        "shownInApply": {
          "description": "This option should be shown in the apply menu when applying values to a Drive item.",
          "type": "boolean"
        },
        "badgeColors": {
          "description": "The colors to use for the badge. Changed to Google Material colors based on the chosen `properties.badge_config.color`.",
          "$ref": "GoogleAppsDriveLabelsV2BadgeColors"
        },
        "badgePriority": {
          "description": "The priority of this badge. Used to compare and sort between multiple badges. A lower number means the badge should be shown first. When a badging configuration is not present, this will be 0. Otherwise, this will be set to `BadgeConfig.priority_override` or the default heuristic which prefers creation date of the label, and field and option priority.",
          "type": "string",
          "format": "int64"
        },
        "hiddenInSearch": {
          "description": "This option should be hidden in the search menu when searching for Drive items.",
          "type": "boolean"
        },
        "darkBadgeColors": {
          "description": "The dark-mode color to use for the badge. Changed to Google Material colors based on the chosen `properties.badge_config.color`.",
          "$ref": "GoogleAppsDriveLabelsV2BadgeColors"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2FieldSelectionOptionsChoiceDisplayHints",
      "description": "UI display hints for rendering an option."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldPropertiesResponse": {
      "type": "object",
      "properties": {
        "priority": {
          "description": "The priority of the updated field. The priority may change from what was specified to assure contiguous priorities between fields (1-n).",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldPropertiesResponse",
      "description": "Response following update to field properties."
    },
    "GoogleAppsDriveLabelsV2LabelLock": {
      "properties": {
        "name": {
          "description": "Output only. Resource name of this label lock.",
          "readOnly": true,
          "type": "string"
        },
        "choiceId": {
          "description": "The ID of the selection field choice that should be locked. If present, `field_id` must also be present.",
          "type": "string"
        },
        "creator": {
          "description": "Output only. The user whose credentials were used to create the label lock. Not present if no user was responsible for creating the label lock.",
          "$ref": "GoogleAppsDriveLabelsV2UserInfo",
          "readOnly": true
        },
        "fieldId": {
          "description": "The ID of the field that should be locked. Empty if the whole label should be locked.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this label lock was created.",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Unknown state.",
            "The label lock is active and is being enforced by the server.",
            "The label lock is being deleted. The label lock will continue to be enforced by the server until it has been fully removed."
          ],
          "description": "Output only. This label lock's state.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETING"
          ]
        },
        "deleteTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. A timestamp indicating when this label lock was scheduled for deletion. Present only if this label lock is in the `DELETING` state.",
          "readOnly": true
        },
        "capabilities": {
          "description": "Output only. The user's capabilities on this label lock.",
          "$ref": "GoogleAppsDriveLabelsV2LabelLockCapabilities",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2LabelLock",
      "description": "A lock that can be applied to a label, field, or choice."
    },
    "GoogleAppsDriveLabelsV2LabelLimits": {
      "id": "GoogleAppsDriveLabelsV2LabelLimits",
      "description": "Label constraints governing the structure of a label; such as, the maximum number of fields allowed and maximum length of the label title.",
      "type": "object",
      "properties": {
        "fieldLimits": {
          "description": "The limits for fields.",
          "$ref": "GoogleAppsDriveLabelsV2FieldLimits"
        },
        "maxDescriptionLength": {
          "description": "The maximum number of characters allowed for the description.",
          "type": "integer",
          "format": "int32"
        },
        "maxDraftRevisions": {
          "description": "The maximum number of draft revisions that will be kept before deleting old drafts.",
          "type": "integer",
          "format": "int32"
        },
        "maxDeletedFields": {
          "description": "The maximum number of published fields that can be deleted.",
          "type": "integer",
          "format": "int32"
        },
        "maxTitleLength": {
          "description": "The maximum number of characters allowed for the title.",
          "type": "integer",
          "format": "int32"
        },
        "maxFields": {
          "description": "The maximum number of fields allowed within the label.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "Resource name.",
          "type": "string"
        }
      }
    },
    "GoogleAppsDriveLabelsV2FieldIntegerOptions": {
      "properties": {
        "minValue": {
          "readOnly": true,
          "description": "Output only. The minimum valid value for the integer field.",
          "type": "string",
          "format": "int64"
        },
        "maxValue": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The maximum valid value for the integer field.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2FieldIntegerOptions",
      "description": "Options for the Integer field type."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableSelectionChoiceRequest": {
      "type": "object",
      "properties": {
        "fieldId": {
          "description": "Required. The selection field in which a choice will be enabled.",
          "type": "string"
        },
        "id": {
          "description": "Required. Choice to enable.",
          "type": "string"
        }
      },
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestEnableSelectionChoiceRequest",
      "description": "Request to enable a choice."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseResponse": {
      "properties": {
        "createField": {
          "description": "Creates a field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateFieldResponse"
        },
        "updateFieldType": {
          "description": "Updates field type and/or type options.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldTypeResponse"
        },
        "updateField": {
          "description": "Updates basic properties of a field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateFieldPropertiesResponse"
        },
        "disableSelectionChoice": {
          "description": "Disables a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableSelectionChoiceResponse"
        },
        "updateSelectionChoiceProperties": {
          "description": "Updates a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse"
        },
        "disableField": {
          "description": "Disables field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDisableFieldResponse"
        },
        "enableField": {
          "description": "Enables field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableFieldResponse"
        },
        "enableSelectionChoice": {
          "description": "Enables a choice within a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableSelectionChoiceResponse"
        },
        "updateLabel": {
          "description": "Updates basic properties of a label.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateLabelPropertiesResponse"
        },
        "deleteField": {
          "description": "Deletes a field from the label.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteFieldResponse"
        },
        "createSelectionChoice": {
          "description": "Creates a selection list option to add to a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseCreateSelectionChoiceResponse"
        },
        "deleteSelectionChoice": {
          "description": "Deletes a choice from a selection field.",
          "$ref": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseDeleteSelectionChoiceResponse"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseResponse",
      "description": "A single response from an update."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableFieldResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseEnableFieldResponse",
      "description": "Response following field enable."
    },
    "GoogleAppsDriveLabelsV2UpdateLabelPermissionRequest": {
      "properties": {
        "labelPermission": {
          "description": "Required. The permission to create or update on the label.",
          "$ref": "GoogleAppsDriveLabelsV2LabelPermission"
        },
        "useAdminAccess": {
          "description": "Set to `true` in order to use the user's admin credentials. The server will verify the user is an admin for the label before allowing access.",
          "type": "boolean"
        },
        "parent": {
          "description": "Required. The parent label resource name.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2UpdateLabelPermissionRequest",
      "description": "Updates a label permission. Permissions affect the label resource as a whole, aren't revisioned, and don't require publishing."
    },
    "GoogleAppsDriveLabelsV2LabelLockCapabilities": {
      "id": "GoogleAppsDriveLabelsV2LabelLockCapabilities",
      "description": "A description of a user's capabilities on a label lock.",
      "type": "object",
      "properties": {
        "canViewPolicy": {
          "description": "True if the user is authorized to view the policy.",
          "type": "boolean"
        }
      }
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateFieldRequest": {
      "type": "object",
      "properties": {
        "field": {
          "description": "Required. Field to create.",
          "$ref": "GoogleAppsDriveLabelsV2Field"
        }
      },
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelRequestCreateFieldRequest",
      "description": "Request to create a field within a label."
    },
    "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse": {
      "id": "GoogleAppsDriveLabelsV2DeltaUpdateLabelResponseUpdateSelectionChoicePropertiesResponse",
      "description": "Response following update to selection choice properties.",
      "properties": {
        "priority": {
          "description": "The priority of the updated choice. The priority may change from what was specified to assure contiguous priorities between choices (1-n).",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleAppsDriveLabelsV2LabelPermission": {
      "properties": {
        "role": {
          "type": "string",
          "description": "The role the principal should have.",
          "enumDescriptions": [
            "Unknown role.",
            "A reader can read the label and associated metadata applied to Drive items.",
            "An applier can write associated metadata on Drive items in which they also have write access to. Implies `READER`.",
            "An organizer can pin this label in shared drives they manage and add new appliers to the label.",
            "Editors can make any update including deleting the label which also deletes the associated Drive item metadata. Implies `APPLIER`."
          ],
          "enum": [
            "LABEL_ROLE_UNSPECIFIED",
            "READER",
            "APPLIER",
            "ORGANIZER",
            "EDITOR"
          ]
        },
        "person": {
          "description": "Person resource name.",
          "type": "string"
        },
        "group": {
          "description": "Group resource name.",
          "type": "string"
        },
        "name": {
          "description": "Resource name of this permission.",
          "type": "string"
        },
        "email": {
          "description": "Specifies the email address for a user or group principal. Not populated for audience principals. User and group permissions may only be inserted using an email address. On update requests, if email address is specified, no principal should be specified.",
          "type": "string"
        },
        "audience": {
          "description": "Audience to grant a role to. The magic value of `audiences/default` may be used to apply the role to the default audience in the context of the organization that owns the label.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAppsDriveLabelsV2LabelPermission",
      "description": "The permission that applies to a principal (user, group, audience) on a label."
    },
    "GoogleAppsDriveLabelsV2Field": {
      "id": "GoogleAppsDriveLabelsV2Field",
      "description": "Defines a field that has a display name, data type, and other configuration options. This field defines the kind of metadata that may be set on a Drive item.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Output only. The key of a field, unique within a label or library. This value is autogenerated. Matches the regex: `([a-zA-Z0-9])+`.",
          "readOnly": true,
          "type": "string"
        },
        "disabler": {
          "readOnly": true,
          "description": "Output only. The user who disabled this field. This value has no meaning when the field is not disabled.",
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        },
        "disableTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this field was disabled. This value has no meaning when the field is not disabled.",
          "readOnly": true
        },
        "dateOptions": {
          "description": "Date field options.",
          "$ref": "GoogleAppsDriveLabelsV2FieldDateOptions"
        },
        "displayHints": {
          "description": "Output only. UI display hints for rendering a field.",
          "$ref": "GoogleAppsDriveLabelsV2FieldDisplayHints",
          "readOnly": true
        },
        "queryKey": {
          "description": "Output only. The key to use when constructing Drive search queries to find files based on values defined for this field on files. For example, \"`{query_key}` > 2001-01-01\".",
          "readOnly": true,
          "type": "string"
        },
        "integerOptions": {
          "description": "Integer field options.",
          "$ref": "GoogleAppsDriveLabelsV2FieldIntegerOptions"
        },
        "userOptions": {
          "description": "User field options.",
          "$ref": "GoogleAppsDriveLabelsV2FieldUserOptions"
        },
        "publisher": {
          "readOnly": true,
          "description": "Output only. The user who published this field. This value has no meaning when the field is not published.",
          "$ref": "GoogleAppsDriveLabelsV2UserInfo"
        },
        "createTime": {
[...]
