{
  "canonicalName": "Drive Activity",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive.activity.readonly": {
          "description": "View the activity record of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.activity": {
          "description": "View and add to the activity record of files in your Google Drive"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://driveactivity.googleapis.com/",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "version_module": true,
  "id": "driveactivity:v2",
  "schemas": {
    "Administrator": {
      "properties": {},
      "type": "object",
      "id": "Administrator",
      "description": "Empty message representing an administrator."
    },
    "Selection": {
      "id": "Selection",
      "description": "Wrapper for Selection Field value as combined value/display_name pair for selected choice.",
      "properties": {
        "displayName": {
          "description": "Selection value as human-readable display string.",
          "type": "string"
        },
        "value": {
          "description": "Selection value as Field Choice ID.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Post": {
      "type": "object",
      "properties": {
        "subtype": {
          "type": "string",
          "description": "The sub-type of this event.",
          "enumDescriptions": [
            "Subtype not available.",
            "A post was added.",
            "A post was deleted.",
            "A reply was added.",
            "A reply was deleted.",
            "A posted comment was resolved.",
            "A posted comment was reopened."
          ],
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED"
          ]
        }
      },
      "id": "Post",
      "description": "A regular posted comment."
    },
    "DriveItem": {
      "type": "object",
      "properties": {
        "driveFile": {
          "description": "The Drive item is a file.",
          "$ref": "DriveFile"
        },
        "name": {
          "description": "The target Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "title": {
          "description": "The title of the Drive item.",
          "type": "string"
        },
        "file": {
          "description": "This field is deprecated; please use the `driveFile` field instead.",
          "deprecated": true,
          "$ref": "File"
        },
        "owner": {
          "description": "Information about the owner of this Drive item.",
          "$ref": "Owner"
        },
        "folder": {
          "description": "This field is deprecated; please use the `driveFolder` field instead.",
          "deprecated": true,
          "$ref": "Folder"
        },
        "driveFolder": {
          "description": "The Drive item is a folder. Includes information about the type of folder.",
          "$ref": "DriveFolder"
        },
        "mimeType": {
          "description": "The MIME type of the Drive item. See https://developers.google.com/workspace/drive/v3/web/mime-types.",
          "type": "string"
        }
      },
      "id": "DriveItem",
      "description": "A Drive item, such as a file or folder."
    },
    "FieldValueChange": {
      "id": "FieldValueChange",
      "description": "Change to a Field value.",
      "properties": {
        "oldValue": {
          "description": "The value that was previously set on the field. If not present, the field was newly set. At least one of {old_value|new_value} is always set.",
          "$ref": "FieldValue"
        },
        "newValue": {
          "description": "The value that is now set on the field. If not present, the field was cleared. At least one of {old_value|new_value} is always set.",
          "$ref": "FieldValue"
        },
        "displayName": {
          "description": "The human-readable display name for this field.",
          "type": "string"
        },
        "fieldId": {
          "description": "The ID of this field. Field IDs are unique within a Label.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "New": {
      "properties": {},
      "type": "object",
      "id": "New",
      "description": "An object was created from scratch."
    },
    "DriveItemReference": {
      "type": "object",
      "properties": {
        "folder": {
          "description": "This field is deprecated; please use the `driveFolder` field instead.",
          "deprecated": true,
          "$ref": "Folder"
        },
        "driveFolder": {
          "description": "The Drive item is a folder. Includes information about the type of folder.",
          "$ref": "DriveFolder"
        },
        "driveFile": {
          "description": "The Drive item is a file.",
          "$ref": "DriveFile"
        },
        "name": {
          "description": "The target Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "title": {
          "description": "The title of the Drive item.",
          "type": "string"
        },
        "file": {
          "$ref": "File",
          "description": "This field is deprecated; please use the `driveFile` field instead.",
          "deprecated": true
        }
      },
      "id": "DriveItemReference",
      "description": "A lightweight reference to a Drive item, such as a file or folder."
    },
    "TeamDriveReference": {
      "type": "object",
      "properties": {
        "name": {
          "description": "This field is deprecated; please see `DriveReference.name` instead.",
          "type": "string"
        },
        "title": {
          "description": "This field is deprecated; please see `DriveReference.title` instead.",
          "type": "string"
        }
      },
      "deprecated": true,
      "id": "TeamDriveReference",
      "description": "This item is deprecated; please see `DriveReference` instead."
    },
    "DriveFolder": {
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "SHARED_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ],
          "description": "The type of Drive folder.",
          "enumDescriptions": [
            "The folder type is unknown.",
            "The folder is the root of a user's MyDrive.",
            "The folder is the root of a shared drive.",
            "The folder is a standard, non-root, folder."
          ],
          "type": "string"
        }
      },
      "id": "DriveFolder",
      "description": "A Drive item which is a folder."
    },
    "Rename": {
      "id": "Rename",
      "description": "An object was renamed.",
      "type": "object",
      "properties": {
        "oldTitle": {
          "description": "The previous title of the drive object.",
          "type": "string"
        },
        "newTitle": {
          "description": "The new title of the drive object.",
          "type": "string"
        }
      }
    },
    "Restore": {
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of restore action taken.",
          "enumDescriptions": [
            "The type is not available.",
            "An object was restored from the trash."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "UNTRASH"
          ]
        }
      },
      "type": "object",
      "id": "Restore",
      "description": "A deleted object was restored."
    },
    "Integer": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "format": "int64",
          "description": "Integer value."
        }
      },
      "id": "Integer",
      "description": "Wrapper for Integer Field value."
    },
    "Comment": {
      "id": "Comment",
      "description": "A change about comments on an object.",
      "type": "object",
      "properties": {
        "assignment": {
          "description": "A change on an assignment.",
          "$ref": "Assignment"
        },
        "mentionedUsers": {
          "type": "array",
          "description": "Users who are mentioned in this comment.",
          "items": {
            "$ref": "User"
          }
        },
        "post": {
          "description": "A change on a regular posted comment.",
          "$ref": "Post"
        },
        "suggestion": {
          "description": "A change on a suggestion.",
          "$ref": "Suggestion"
        }
      }
    },
    "DeletedUser": {
      "id": "DeletedUser",
      "description": "A user whose account has since been deleted.",
      "type": "object",
      "properties": {}
    },
    "QueryDriveActivityResponse": {
      "properties": {
        "activities": {
          "description": "List of activity requested.",
          "items": {
            "$ref": "DriveActivity"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "QueryDriveActivityResponse",
      "description": "Response message for querying Drive activity."
    },
    "Group": {
      "properties": {
        "email": {
          "description": "The email address of the group.",
          "type": "string"
        },
        "title": {
          "description": "The title of the group.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Group",
      "description": "Information about a group."
    },
    "SettingsChange": {
      "properties": {
        "restrictionChanges": {
          "type": "array",
          "description": "The set of changes made to restrictions.",
          "items": {
            "$ref": "RestrictionChange"
          }
        }
      },
      "type": "object",
      "id": "SettingsChange",
      "description": "Information about settings changes."
    },
    "Edit": {
      "type": "object",
      "properties": {},
      "id": "Edit",
      "description": "An empty message indicating an object was edited."
    },
    "Permission": {
      "id": "Permission",
      "description": "The permission setting of an object.",
      "type": "object",
      "properties": {
        "user": {
          "description": "The user to whom this permission applies.",
          "$ref": "User"
        },
        "domain": {
          "description": "The domain to whom this permission applies.",
          "$ref": "Domain"
        },
        "anyone": {
          "description": "If set, this permission applies to anyone, even logged out users.",
          "$ref": "Anyone"
        },
        "role": {
          "description": "Indicates the [Google Drive permissions role](https://developers.google.com/workspace/drive/web/manage-sharing#roles). The role determines a user's ability to read, write, and comment on items.",
          "enumDescriptions": [
            "The role is not available.",
            "A role granting full access.",
            "A role granting the ability to manage people and settings.",
            "A role granting the ability to contribute and manage content.",
            "A role granting the ability to contribute content. This role is sometimes also known as \"writer\".",
            "A role granting the ability to view and comment on content.",
            "A role granting the ability to view content. This role is sometimes also known as \"reader\".",
            "A role granting the ability to view content only after it has been published to the web. This role is sometimes also known as \"published reader\". See https://support.google.com/sites/answer/6372880 for more information."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "ORGANIZER",
            "FILE_ORGANIZER",
            "EDITOR",
            "COMMENTER",
            "VIEWER",
            "PUBLISHED_VIEWER"
          ],
          "type": "string"
        },
        "group": {
          "description": "The group to whom this permission applies.",
          "$ref": "Group"
        },
        "allowDiscovery": {
          "description": "If true, the item can be discovered (e.g. in the user's \"Shared with me\" collection) without needing a link to the item.",
          "type": "boolean"
        }
      }
    },
    "ConsolidationStrategy": {
      "type": "object",
      "properties": {
        "legacy": {
          "description": "The individual activities are consolidated using the legacy strategy.",
          "$ref": "Legacy"
        },
        "none": {
          "description": "The individual activities are not consolidated.",
          "$ref": "NoConsolidation"
        }
      },
      "id": "ConsolidationStrategy",
      "description": "How the individual activities are consolidated. If a set of activities is related they can be consolidated into one combined activity, such as one actor performing the same action on multiple targets, or multiple actors performing the same action on a single target. The strategy defines the rules for which activities are related."
    },
    "DriveFile": {
      "id": "DriveFile",
      "description": "A Drive item which is a file.",
      "properties": {},
      "type": "object"
    },
    "ActionDetail": {
      "type": "object",
      "properties": {
        "create": {
          "description": "An object was created.",
          "$ref": "Create"
        },
        "permissionChange": {
          "description": "The permission on an object was changed.",
          "$ref": "PermissionChange"
        },
        "dlpChange": {
          "description": "A change happened in data leak prevention status.",
          "$ref": "DataLeakPreventionChange"
        },
        "rename": {
          "description": "An object was renamed.",
          "$ref": "Rename"
        },
        "comment": {
          "description": "A change about comments was made.",
          "$ref": "Comment"
        },
        "move": {
          "description": "An object was moved.",
          "$ref": "Move"
        },
        "restore": {
          "description": "A deleted object was restored.",
          "$ref": "Restore"
        },
        "delete": {
          "description": "An object was deleted.",
          "$ref": "Delete"
        },
        "settingsChange": {
          "description": "Settings were changed.",
          "$ref": "SettingsChange"
        },
        "reference": {
          "description": "An object was referenced in an application outside of Drive/Docs.",
          "$ref": "ApplicationReference"
        },
        "appliedLabelChange": {
          "description": "Label was changed.",
          "$ref": "AppliedLabelChange"
        },
        "edit": {
          "description": "An object was edited.",
          "$ref": "Edit"
        }
      },
      "id": "ActionDetail",
      "description": "Data describing the type and additional information of an action."
    },
    "Drive": {
      "properties": {
        "root": {
          "description": "The root of this shared drive.",
          "$ref": "DriveItem"
        },
        "name": {
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name.",
          "type": "string"
        },
        "title": {
          "description": "The title of the shared drive.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Drive",
      "description": "Information about a shared drive."
    },
    "Anyone": {
      "properties": {},
      "type": "object",
      "id": "Anyone",
      "description": "Represents any user (including a logged out user)."
    },
    "RestrictionChange": {
      "properties": {
        "newRestriction": {
          "type": "string",
          "enum": [
            "RESTRICTION_UNSPECIFIED",
            "UNRESTRICTED",
            "FULLY_RESTRICTED"
          ],
          "description": "The restriction in place after the change.",
          "enumDescriptions": [
            "The type of restriction is not available.",
            "The feature is available without restriction.",
            "The use of this feature is fully restricted."
          ]
        },
        "feature": {
          "type": "string",
          "enumDescriptions": [
            "The feature which changed restriction settings was not available.",
            "When restricted, this prevents items from being shared outside the domain.",
            "When restricted, this prevents direct sharing of individual items.",
            "Deprecated: Use READERS_CAN_DOWNLOAD instead.",
            "When restricted, this prevents use of Drive File Stream.",
            "When restricted, this limits sharing of folders to managers only.",
            "When restricted, this prevents actions like copy, download, and print for readers. Replaces ITEM_DUPLICATION.",
            "When restricted, this prevents actions like copy, download, and print for writers."
          ],
          "enum": [
            "FEATURE_UNSPECIFIED",
            "SHARING_OUTSIDE_DOMAIN",
            "DIRECT_SHARING",
            "ITEM_DUPLICATION",
            "DRIVE_FILE_STREAM",
            "FILE_ORGANIZER_CAN_SHARE_FOLDERS",
            "READERS_CAN_DOWNLOAD",
            "WRITERS_CAN_DOWNLOAD"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false
          ],
          "description": "The feature which had a change in restriction policy."
        }
      },
      "type": "object",
      "id": "RestrictionChange",
      "description": "Information about restriction policy changes to a feature."
    },
    "FileComment": {
      "id": "FileComment",
      "description": "A comment on a file.",
      "type": "object",
      "properties": {
        "legacyCommentId": {
          "description": "The comment in the discussion thread. This identifier is an opaque string compatible with the Drive API; see https://developers.google.com/workspace/drive/v3/reference/comments/get",
          "type": "string"
        },
        "legacyDiscussionId": {
          "description": "The discussion thread to which the comment was added. This identifier is an opaque string compatible with the Drive API and references the first comment in a discussion; see https://developers.google.com/workspace/drive/v3/reference/comments/get",
          "type": "string"
        },
        "linkToDiscussion": {
          "description": "The link to the discussion thread containing this comment, for example, `https://docs.google.com/DOCUMENT_ID/edit?disco=THREAD_ID`.",
          "type": "string"
        },
        "parent": {
          "description": "The Drive item containing this comment.",
          "$ref": "DriveItem"
        }
      }
    },
    "Assignment": {
      "id": "Assignment",
      "description": "A comment with an assignment.",
      "type": "object",
      "properties": {
        "subtype": {
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "RESOLVED",
            "REOPENED",
            "REASSIGNED"
          ],
          "description": "The sub-type of this event.",
          "enumDescriptions": [
            "Subtype not available.",
            "An assignment was added.",
            "An assignment was deleted.",
            "An assignment reply was added.",
            "An assignment reply was deleted.",
            "An assignment was resolved.",
            "A resolved assignment was reopened.",
            "An assignment was reassigned."
          ],
          "type": "string"
        },
        "assignedUser": {
          "description": "The user to whom the comment was assigned.",
          "$ref": "User"
        }
      }
    },
    "SelectionList": {
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "description": "Selection values.",
          "items": {
            "$ref": "Selection"
          }
        }
      },
      "id": "SelectionList",
      "description": "Wrapper for SelectionList Field value."
    },
    "Create": {
      "properties": {
        "upload": {
          "description": "If present, indicates the object originated externally and was uploaded to Drive.",
          "$ref": "Upload"
        },
        "new": {
          "description": "If present, indicates the object was newly created (e.g. as a blank document), not derived from a Drive object or external object.",
          "$ref": "New"
        },
        "copy": {
          "description": "If present, indicates the object was created by copying an existing Drive object.",
          "$ref": "Copy"
        }
      },
      "type": "object",
      "id": "Create",
      "description": "An object was created."
    },
    "TeamDrive": {
      "deprecated": true,
      "type": "object",
      "properties": {
        "root": {
          "description": "This field is deprecated; please see `Drive.root` instead.",
          "$ref": "DriveItem"
        },
        "name": {
          "description": "This field is deprecated; please see `Drive.name` instead.",
          "type": "string"
        },
        "title": {
          "description": "This field is deprecated; please see `Drive.title` instead.",
          "type": "string"
        }
      },
      "id": "TeamDrive",
      "description": "This item is deprecated; please see `Drive` instead."
    },
    "KnownUser": {
      "properties": {
        "isCurrentUser": {
          "description": "True if this is the user making the request.",
          "type": "boolean"
        },
        "personName": {
          "description": "The identifier for this user that can be used with the People API to get more information. The format is `people/ACCOUNT_ID`. See https://developers.google.com/people/.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "KnownUser",
      "description": "A known user."
    },
    "UserList": {
      "properties": {
        "values": {
          "items": {
            "$ref": "SingleUser"
          },
          "description": "User values.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "UserList",
      "description": "Wrapper for UserList Field value."
    },
    "Domain": {
      "id": "Domain",
      "description": "Information about a domain.",
      "properties": {
        "legacyId": {
          "description": "An opaque string used to identify this domain.",
          "type": "string"
        },
        "name": {
          "description": "The name of the domain, e.g. `google.com`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "File": {
      "id": "File",
      "description": "This item is deprecated; please see `DriveFile` instead.",
      "properties": {},
      "type": "object",
      "deprecated": true
    },
    "UnknownUser": {
      "type": "object",
      "properties": {},
      "id": "UnknownUser",
      "description": "A user about whom nothing is currently known."
    },
    "NoConsolidation": {
      "properties": {},
      "type": "object",
      "id": "NoConsolidation",
      "description": "A strategy that does no consolidation of individual activities."
    },
    "Text": {
      "id": "Text",
      "description": "Wrapper for Text Field value.",
      "properties": {
        "value": {
          "description": "Value of Text Field.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AnonymousUser": {
      "type": "object",
      "properties": {},
      "id": "AnonymousUser",
      "description": "Empty message representing an anonymous user or indicating the authenticated user should be anonymized."
    },
    "Copy": {
      "id": "Copy",
      "description": "An object was created by copying an existing object.",
      "type": "object",
      "properties": {
        "originalObject": {
          "description": "The original object.",
          "$ref": "TargetReference"
        }
      }
    },
    "DriveActivity": {
      "id": "DriveActivity",
      "description": "A single Drive activity comprising one or more Actions by one or more Actors on one or more Targets. Some Action groupings occur spontaneously, such as moving an item into a shared folder triggering a permission change. Other groupings of related Actions, such as multiple Actors editing one item or moving multiple files into a new folder, are controlled by the selection of a ConsolidationStrategy in the QueryDriveActivityRequest.",
      "type": "object",
      "properties": {
        "primaryActionDetail": {
          "description": "Key information about the primary action for this activity. This is either representative, or the most important, of all actions in the activity, according to the ConsolidationStrategy in the request.",
          "$ref": "ActionDetail"
        },
        "targets": {
          "type": "array",
          "items": {
            "$ref": "Target"
          },
          "description": "All Google Drive objects this activity is about (e.g. file, folder, drive). This represents the state of the target immediately after the actions occurred."
        },
        "timestamp": {
          "description": "The activity occurred at this specific time.",
          "format": "google-datetime",
          "type": "string"
        },
        "actors": {
          "items": {
            "$ref": "Actor"
          },
          "description": "All actor(s) responsible for the activity.",
          "type": "array"
        },
        "timeRange": {
          "description": "The activity occurred over this time range.",
          "$ref": "TimeRange"
        },
        "actions": {
          "type": "array",
          "items": {
            "$ref": "Action"
          },
          "description": "Details on all actions in this activity."
        }
      }
    },
    "DataLeakPreventionChange": {
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "FLAGGED",
            "CLEARED"
          ],
          "description": "The type of Data Leak Prevention (DLP) change.",
          "enumDescriptions": [
            "An update to the DLP state that is neither FLAGGED or CLEARED.",
            "Document has been flagged as containing sensitive content.",
            "Document is no longer flagged as containing sensitive content."
          ]
        }
      },
      "type": "object",
      "id": "DataLeakPreventionChange",
      "description": "A change in the object's data leak prevention status."
    },
    "User": {
      "id": "User",
      "description": "Information about an end user.",
      "type": "object",
      "properties": {
        "deletedUser": {
          "description": "A user whose account has since been deleted.",
          "$ref": "DeletedUser"
        },
        "knownUser": {
          "description": "A known user.",
          "$ref": "KnownUser"
        },
        "unknownUser": {
          "description": "A user about whom nothing is currently known.",
          "$ref": "UnknownUser"
        }
      }
    },
    "Owner": {
      "id": "Owner",
      "description": "Information about the owner of a Drive item.",
      "type": "object",
      "properties": {
        "user": {
          "description": "The user that owns the Drive item.",
          "$ref": "User"
        },
        "teamDrive": {
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true,
          "$ref": "TeamDriveReference"
        },
        "drive": {
          "description": "The drive that owns the item.",
          "$ref": "DriveReference"
        },
        "domain": {
          "description": "The domain of the Drive item owner.",
          "$ref": "Domain"
        }
      }
    },
    "PermissionChange": {
      "properties": {
        "removedPermissions": {
          "items": {
            "$ref": "Permission"
          },
          "description": "The set of permissions removed by this change.",
          "type": "array"
        },
        "addedPermissions": {
          "description": "The set of permissions added by this change.",
          "items": {
            "$ref": "Permission"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "PermissionChange",
      "description": "A change of the permission setting on an item."
    },
    "Upload": {
      "type": "object",
      "properties": {},
      "id": "Upload",
      "description": "An object was uploaded into Drive."
    },
    "Delete": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of delete action taken.",
          "enumDescriptions": [
            "Deletion type is not available.",
            "An object was put into the trash.",
            "An object was deleted permanently."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TRASH",
            "PERMANENT_DELETE"
          ]
        }
      },
      "id": "Delete",
      "description": "An object was deleted."
    },
    "Date": {
      "id": "Date",
      "description": "Wrapper for Date Field value.",
      "properties": {
        "value": {
          "description": "Date value.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "TargetReference": {
      "properties": {
        "driveItem": {
          "description": "The target is a Drive item.",
          "$ref": "DriveItemReference"
        },
        "teamDrive": {
          "$ref": "TeamDriveReference",
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true
        },
        "drive": {
          "description": "The target is a shared drive.",
          "$ref": "DriveReference"
        }
      },
      "type": "object",
      "id": "TargetReference",
      "description": "A lightweight reference to the target of activity."
    },
    "AppliedLabelChange": {
      "type": "object",
      "properties": {
        "changes": {
          "type": "array",
          "items": {
            "$ref": "AppliedLabelChangeDetail"
          },
          "description": "Changes that were made to the Label on the Target."
        }
      },
      "id": "AppliedLabelChange",
      "description": "Label changes that were made on the Target."
    },
    "QueryDriveActivityRequest": {
      "id": "QueryDriveActivityRequest",
      "description": "The request message for querying Drive activity.",
      "properties": {
        "consolidationStrategy": {
          "description": "Details on how to consolidate related actions that make up the activity. If not set, then related actions aren't consolidated.",
          "$ref": "ConsolidationStrategy"
        },
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "The minimum number of activities desired in the response; the server attempts to return at least this quantity. The server may also return fewer activities if it has a partial response ready before the request times out. If not set, a default value is used."
        },
        "filter": {
          "description": "The filtering for items returned from this query request. The format of the filter string is a sequence of expressions, joined by an optional \"AND\", where each expression is of the form \"field operator value\". Supported fields: - `time`: Uses numerical operators on date values either in terms of milliseconds since Jan 1, 1970 or in RFC 3339 format. Examples: - `time > 1452409200000 AND time <= 1492812924310` - `time >= \"2016-01-10T01:02:03-05:00\"` - `detail.action_detail_case`: Uses the \"has\" operator (:) and either a singular value or a list of allowed action types enclosed in parentheses, separated by a space. To exclude a result from the response, prepend a hyphen (`-`) to the beginning of the filter string. Examples: - `detail.action_detail_case:RENAME` - `detail.action_detail_case:(CREATE RESTORE)` - `-detail.action_detail_case:MOVE` ",
          "type": "string"
        },
        "itemName": {
          "description": "Return activities for this Drive item. The format is `items/ITEM_ID`.",
          "type": "string"
        },
        "pageToken": {
          "description": "The token identifies which page of results to return. Set this to the next_page_token value returned from a previous query to obtain the following page of results. If not set, the first page of results is returned.",
          "type": "string"
        },
        "ancestorName": {
          "description": "Return activities for this Drive folder, plus all children and descendants. The format is `items/ITEM_ID`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SingleUser": {
      "properties": {
        "value": {
          "description": "User value as email.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SingleUser",
      "description": "Wrapper for User Field value."
    },
    "TextList": {
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "Text"
          },
          "description": "Text values."
        }
      },
      "id": "TextList",
      "description": "Wrapper for Text List Field value."
    },
    "Action": {
      "id": "Action",
      "description": "Information about the action.",
      "type": "object",
      "properties": {
        "detail": {
          "description": "The type and detailed information about the action.",
          "$ref": "ActionDetail"
        },
        "target": {
          "description": "The target this action affects (or empty if affecting all targets). This represents the state of the target immediately after this action occurred.",
          "$ref": "Target"
        },
        "timeRange": {
          "description": "The action occurred over this time range.",
          "$ref": "TimeRange"
        },
        "timestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "The action occurred at this specific time."
        },
        "actor": {
          "description": "The actor responsible for this action (or empty if all actors are responsible).",
          "$ref": "Actor"
        }
      }
    },
    "Target": {
      "type": "object",
      "properties": {
        "drive": {
          "description": "The target is a shared drive.",
          "$ref": "Drive"
        },
        "fileComment": {
          "description": "The target is a comment on a Drive file.",
          "$ref": "FileComment"
        },
        "driveItem": {
          "description": "The target is a Drive item.",
          "$ref": "DriveItem"
        },
        "teamDrive": {
          "$ref": "TeamDrive",
          "description": "This field is deprecated; please use the `drive` field instead.",
          "deprecated": true
        }
      },
      "id": "Target",
      "description": "Information about the target of activity. For more information on how activity history is shared with users, see [Activity history visibility](https://developers.google.com/workspace/drive/activity/v2#activityhistory)."
    },
    "SystemEvent": {
      "id": "SystemEvent",
      "description": "Event triggered by system operations instead of end users.",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER_DELETION",
            "TRASH_AUTO_PURGE"
          ],
          "description": "The type of the system event that may triggered activity.",
          "enumDescriptions": [
            "The event type is unspecified.",
            "The event is a consequence of a user account being deleted.",
            "The event is due to the system automatically purging trash."
          ],
          "type": "string"
        }
      }
    },
    "TimeRange": {
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The end of the time range."
        },
        "startTime": {
          "description": "The start of the time range.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "TimeRange",
      "description": "Information about time ranges."
    },
    "ApplicationReference": {
      "id": "ApplicationReference",
      "description": "Activity in applications other than Drive.",
      "properties": {
        "type": {
          "description": "The reference type corresponding to this event.",
          "enumDescriptions": [
            "The type is not available.",
            "The links of one or more Drive items were posted.",
            "Comments were made regarding a Drive item."
          ],
          "enum": [
            "UNSPECIFIED_REFERENCE_TYPE",
            "LINK",
            "DISCUSS"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "Impersonation": {
      "properties": {
        "impersonatedUser": {
          "description": "The impersonated user.",
          "$ref": "User"
        }
      },
      "type": "object",
      "id": "Impersonation",
      "description": "Information about an impersonation, where an admin acts on behalf of an end user. Information about the acting admin is not currently available."
    },
    "Move": {
      "type": "object",
      "properties": {
        "addedParents": {
          "description": "The added parent object(s).",
          "items": {
            "$ref": "TargetReference"
          },
          "type": "array"
        },
        "removedParents": {
          "type": "array",
          "items": {
            "$ref": "TargetReference"
          },
          "description": "The removed parent object(s)."
        }
      },
      "id": "Move",
      "description": "An object was moved."
    },
    "Suggestion": {
      "type": "object",
      "properties": {
        "subtype": {
          "enum": [
            "SUBTYPE_UNSPECIFIED",
            "ADDED",
            "DELETED",
            "REPLY_ADDED",
            "REPLY_DELETED",
            "ACCEPTED",
            "REJECTED",
            "ACCEPT_DELETED",
            "REJECT_DELETED"
          ],
          "description": "The sub-type of this event.",
          "enumDescriptions": [
            "Subtype not available.",
            "A suggestion was added.",
            "A suggestion was deleted.",
            "A suggestion reply was added.",
            "A suggestion reply was deleted.",
            "A suggestion was accepted.",
            "A suggestion was rejected.",
            "An accepted suggestion was deleted.",
            "A rejected suggestion was deleted."
          ],
          "type": "string"
        }
      },
      "id": "Suggestion",
      "description": "A suggestion."
    },
    "Legacy": {
      "properties": {},
      "type": "object",
      "id": "Legacy",
      "description": "A strategy that consolidates activities using the grouping rules from the legacy V1 Activity API. Similar actions occurring within a window of time can be grouped across multiple targets (such as moving a set of files at once) or multiple actors (such as several users editing the same item). Grouping rules for this strategy are specific to each type of action."
    },
    "AppliedLabelChangeDetail": {
      "id": "AppliedLabelChangeDetail",
      "description": "A change made to a Label on the Target.",
      "properties": {
        "label": {
          "description": "The Label name representing the Label that changed. This name always contains the revision of the Label that was used when this Action occurred. The format is `labels/id@revision`.",
          "type": "string"
        },
        "types": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The type of change to this Label is not available.",
              "The identified Label was added to the Target.",
              "The identified Label was removed from the Target.",
              "Field values were changed on the Target.",
              "The Label was applied as a side-effect of Drive item creation."
            ],
            "enum": [
              "TYPE_UNSPECIFIED",
              "LABEL_ADDED",
              "LABEL_REMOVED",
              "LABEL_FIELD_VALUE_CHANGED",
              "LABEL_APPLIED_BY_ITEM_CREATE"
            ]
          },
          "description": "The types of changes made to the Label on the Target.",
          "type": "array"
        },
        "fieldChanges": {
          "type": "array",
          "items": {
            "$ref": "FieldValueChange"
          },
          "description": "Field Changes. Only present if `types` contains `LABEL_FIELD_VALUE_CHANGED`."
        },
        "title": {
          "description": "The human-readable title of the label that changed.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FieldValue": {
      "type": "object",
      "properties": {
        "textList": {
          "description": "Text List Field value.",
          "$ref": "TextList"
        },
        "userList": {
          "description": "User List Field value.",
          "$ref": "UserList"
        },
        "selection": {
          "description": "Selection Field value.",
          "$ref": "Selection"
        },
        "user": {
          "description": "User Field value.",
          "$ref": "SingleUser"
        },
        "date": {
          "description": "Date Field value.",
          "$ref": "Date"
        },
        "selectionList": {
          "description": "Selection List Field value.",
          "$ref": "SelectionList"
        },
        "text": {
          "description": "Text Field value.",
          "$ref": "Text"
        },
        "integer": {
          "description": "Integer Field value.",
          "$ref": "Integer"
        }
      },
      "id": "FieldValue",
      "description": "Contains a value of a Field."
    },
    "Folder": {
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MY_DRIVE_ROOT",
            "TEAM_DRIVE_ROOT",
            "STANDARD_FOLDER"
          ],
          "description": "This field is deprecated; please see `DriveFolder.type` instead.",
          "enumDescriptions": [
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead.",
            "This item is deprecated; please see `DriveFolder.Type` instead."
          ]
        }
      },
      "type": "object",
      "deprecated": true,
      "id": "Folder",
      "description": "This item is deprecated; please see `DriveFolder` instead."
    },
    "Actor": {
      "id": "Actor",
      "description": "The actor of a Drive activity.",
      "type": "object",
      "properties": {
        "anonymous": {
          "description": "An anonymous user.",
          "$ref": "AnonymousUser"
        },
        "user": {
          "description": "An end user.",
          "$ref": "User"
        },
        "system": {
          "description": "A non-user actor (i.e. system triggered).",
          "$ref": "SystemEvent"
        },
        "impersonation": {
          "description": "An account acting on behalf of another.",
          "$ref": "Impersonation"
        },
        "administrator": {
          "description": "An administrator.",
          "$ref": "Administrator"
        }
      }
    },
    "DriveReference": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the shared drive. The format is `COLLECTION_ID/DRIVE_ID`. Clients should not assume a specific collection ID for this resource name.",
          "type": "string"
        },
        "title": {
          "description": "The title of the shared drive.",
          "type": "string"
        }
      },
      "id": "DriveReference",
      "description": "A lightweight reference to a shared drive."
    }
  },
  "servicePath": "",
  "mtlsRootUrl": "https://driveactivity.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "resources": {
    "activity": {
      "methods": {
        "query": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/drive.activity",
            "https://www.googleapis.com/auth/drive.activity.readonly"
          ],
          "id": "driveactivity.activity.query",
          "description": "Query past activity in Google Drive.",
          "parameters": {},
          "parameterOrder": [],
          "response": {
            "$ref": "QueryDriveActivityResponse"
          },
          "path": "v2/activity:query",
          "request": {
            "$ref": "QueryDriveActivityRequest"
          },
          "flatPath": "v2/activity:query"
        }
      }
    }
  },
  "title": "Drive Activity API",
  "version": "v2",
  "documentationLink": "https://developers.google.com/workspace/drive/activity/",
  "description": "Provides a historical view of activity in Google Drive.",
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "basePath": "",
  "revision": "20260721",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://driveactivity.googleapis.com/",
  "name": "driveactivity"
}