{
  "parameters": {
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    }
  },
  "id": "drive:v3",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "schemas": {
    "Reply": {
      "id": "Reply",
      "properties": {
        "modifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "The last time the reply was modified (RFC 3339 date-time)."
        },
        "createdTime": {
          "description": "The time at which the reply was created (RFC 3339 date-time).",
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "type": "string",
          "description": "Output only. The ID of the reply."
        },
        "action": {
          "description": "The action the reply performed to the parent comment. The supported values are: * `resolve` * `reopen`",
          "type": "string"
        },
        "mentionedEmailAddresses": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. A list of email addresses for users mentioned in this comment. If no users are mentioned, the list is empty.",
          "type": "array"
        },
        "content": {
          "type": "string",
          "description": "The plain text content of the reply. This field is used for setting the content, while `htmlContent` should be displayed. This field is required by the `create` method if no `action` value is specified.",
          "annotations": {
            "required": [
              "drive.replies.update"
            ]
          }
        },
        "author": {
          "description": "Output only. The author of the reply. The author's email address and permission ID won't be populated.",
          "$ref": "User"
        },
        "deleted": {
          "type": "boolean",
          "description": "Output only. Whether the reply has been deleted. A deleted reply has no content."
        },
        "assigneeEmailAddress": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The email address of the user assigned to this comment. If no user is assigned, the field is unset."
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#reply\"`.",
          "type": "string",
          "default": "drive#reply"
        },
        "htmlContent": {
          "type": "string",
          "description": "Output only. The content of the reply with HTML formatting."
        }
      },
      "type": "object",
      "description": "A reply to a comment on a file. Some resource methods (such as `replies.update`) require a `replyId`. Use the `replies.list` method to retrieve the ID for a reply."
    },
    "ResolveAccessProposalRequest": {
      "id": "ResolveAccessProposalRequest",
      "type": "object",
      "properties": {
        "view": {
          "type": "string",
          "description": "Optional. Indicates the view for this access proposal. This should only be set when the proposal belongs to a view. Only `published` is supported."
        },
        "sendNotification": {
          "description": "Optional. Whether to send an email to the requester when the access proposal is denied or accepted.",
          "type": "boolean"
        },
        "action": {
          "enum": [
            "ACTION_UNSPECIFIED",
            "ACCEPT",
            "DENY"
          ],
          "description": "Required. The action to take on the access proposal.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified action",
            "The user accepts the access proposal. Note: If this action is used, the `role` field must have at least one value.",
            "The user denies the access proposal."
          ]
        },
        "role": {
          "type": "array",
          "description": "Optional. The roles that the approver has allowed, if any. For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles). Note: This field is required for the `ACCEPT` action.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request message for resolving an AccessProposal on a file."
    },
    "LabelModification": {
      "description": "A modification to a label on a file. A `LabelModification` can be used to apply a label to a file, update an existing label on a file, or remove a label from a file.",
      "id": "LabelModification",
      "properties": {
        "removeLabel": {
          "description": "If true, the label will be removed from the file.",
          "type": "boolean"
        },
        "labelId": {
          "description": "The ID of the label to modify.",
          "type": "string",
          "annotations": {
            "required": [
              "drive.files.modifyLabels"
            ]
          }
        },
        "kind": {
          "type": "string",
          "description": "This is always `\"drive#labelModification\"`."
        },
        "fieldModifications": {
          "items": {
            "$ref": "LabelFieldModification"
          },
          "description": "The list of modifications to this label's fields.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "DriveList": {
      "properties": {
        "drives": {
          "type": "array",
          "items": {
            "$ref": "Drive"
          },
          "description": "The list of shared drives. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#driveList\"`.",
          "default": "drive#driveList"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of shared drives. This will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ."
        }
      },
      "description": "A list of shared drives.",
      "type": "object",
      "id": "DriveList"
    },
    "Status": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object"
    },
    "ClientEncryptionDetails": {
      "description": "Details about the client-side encryption applied to the file.",
      "properties": {
        "encryptionState": {
          "type": "string",
          "description": "The encryption state of the file. The values expected here are: - encrypted - unencrypted "
        },
        "decryptionMetadata": {
          "description": "The metadata used for client-side operations.",
          "$ref": "DecryptionMetadata"
        }
      },
      "id": "ClientEncryptionDetails",
      "type": "object"
    },
    "AppIcons": {
      "type": "object",
      "properties": {
        "size": {
          "description": "Size of the icon. Represented as the maximum of the width and height.",
          "format": "int32",
          "type": "integer"
        },
        "category": {
          "description": "Category of the icon. Allowed values are: * `application` - The icon for the application. * `document` - The icon for a file associated with the app. * `documentShared` - The icon for a shared file associated with the app.",
          "type": "string"
        },
        "iconUrl": {
          "type": "string",
          "description": "URL for the icon."
        }
      },
      "id": "AppIcons"
    },
    "Permission": {
      "id": "Permission",
      "description": "A permission for a file. A permission grants a user, group, domain, or the world access to a file or a folder hierarchy. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing). By default, permission requests only return a subset of fields. Permission `kind`, `ID`, `type`, and `role` are always returned. To retrieve specific fields, see [Return specific fields](https://developers.google.com/workspace/drive/api/guides/fields-parameter). Some resource methods (such as `permissions.update`) require a `permissionId`. Use the `permissions.list` method to retrieve the ID for a file, folder, or shared drive.",
      "properties": {
        "emailAddress": {
          "description": "Output only. The email address of the user or group to which this permission refers.",
          "readOnly": true,
          "type": "string"
        },
        "allowFileDiscovery": {
          "description": "Whether the permission allows the file to be discovered through search. This is only applicable for permissions of type `domain` or `anyone`.",
          "type": "boolean"
        },
        "id": {
          "description": "Output only. The ID of this permission. This is a unique identifier for the grantee, and is published in the [User resource](https://developers.google.com/workspace/drive/api/reference/rest/v3/User) as `permissionId`. IDs should be treated as opaque values.",
          "type": "string"
        },
        "deleted": {
          "description": "Output only. Whether the account associated with this permission has been deleted. This field only pertains to permissions of type `user` or `group`.",
          "type": "boolean"
        },
        "kind": {
          "default": "drive#permission",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#permission\"`.",
          "type": "string"
        },
        "pendingOwner": {
          "type": "boolean",
          "description": "Whether the account associated with this permission is a pending owner. Only populated for permissions of type `user` for files that aren't in a shared drive."
        },
        "photoLink": {
          "type": "string",
          "description": "Output only. A link to the user's profile photo, if available."
        },
        "type": {
          "description": "The type of the grantee. Supported values include: * `user` * `group` * `domain` * `anyone` When creating a permission, if `type` is `user` or `group`, you must provide an `emailAddress` for the user or group. If `type` is `domain`, you must provide a `domain`. If `type` is `anyone`, no extra information is required.",
          "type": "string",
          "annotations": {
            "required": [
              "drive.permissions.create"
            ]
          }
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The \"pretty\" name of the value of the permission. The following is a list of examples for each type of permission: * `user` - User's full name, as defined for their Google Account, such as \"Dana A.\" * `group` - Name of the Google Group, such as \"The Company Administrators.\" * `domain` - String domain name, such as \"cymbalgroup.com.\" * `anyone` - No `displayName` is present."
        },
        "role": {
          "type": "string",
          "description": "The role granted by this permission. Supported values include: * `owner` * `organizer` * `fileOrganizer` * `writer` * `commenter` * `reader` For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles).",
          "annotations": {
            "required": [
              "drive.permissions.create"
            ]
          }
        },
        "permissionDetails": {
          "type": "array",
          "description": "Output only. Details of whether the permissions on this item are inherited or are directly on this item.",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "inheritedFrom": {
                "type": "string",
                "description": "Output only. The ID of the item from which this permission is inherited. This is only populated for items in shared drives.",
                "readOnly": true
              },
              "role": {
                "description": "Output only. The primary role for this user. Supported values include: * `owner` * `organizer` * `fileOrganizer` * `writer` * `commenter` * `reader` For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles).",
                "type": "string"
              },
              "inherited": {
                "type": "boolean",
                "description": "Output only. Whether this permission is inherited. This field is always populated. This is an output-only field."
              },
              "permissionType": {
                "description": "Output only. The permission type for this user. Supported values include: * `file` * `member`",
                "type": "string"
              }
            }
          }
        },
        "expirationTime": {
          "description": "The time at which this permission will expire (RFC 3339 date-time). Expiration times have the following restrictions: - They can only be set on user and group permissions - The time must be in the future - The time cannot be more than a year in the future",
          "type": "string",
          "format": "date-time"
        },
        "teamDrivePermissionDetails": {
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "role": {
                "description": "Deprecated: Output only. Use `permissionDetails/role` instead.",
                "deprecated": true,
                "type": "string"
              },
              "inherited": {
                "type": "boolean",
                "deprecated": true,
                "description": "Deprecated: Output only. Use `permissionDetails/inherited` instead."
              },
              "inheritedFrom": {
                "description": "Deprecated: Output only. Use `permissionDetails/inheritedFrom` instead.",
                "deprecated": true,
                "type": "string"
              },
              "teamDrivePermissionType": {
                "deprecated": true,
                "type": "string",
                "description": "Deprecated: Output only. Use `permissionDetails/permissionType` instead."
              }
            }
          },
          "deprecated": true,
          "description": "Output only. Deprecated: Output only. Use `permissionDetails` instead.",
          "type": "array"
        },
        "inheritedPermissionsDisabled": {
          "type": "boolean",
          "description": "When `true`, only organizers, owners, and users with permissions added directly on the item can access it."
        },
        "view": {
          "description": "Indicates the view for this permission. Only populated for permissions that belong to a view. The only supported values are `published` and `metadata`: * `published`: The permission's role is `publishedReader`. * `metadata`: The item is only visible to the `metadata` view because the item has limited access and the scope has at least read access to the parent. The `metadata` view is only supported on folders. For more information, see [Views](https://developers.google.com/workspace/drive/api/guides/ref-roles#views).",
          "type": "string"
        },
        "domain": {
          "description": "Output only. The domain to which this permission refers.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "File": {
      "id": "File",
      "description": "The metadata for a file. Some resource methods (such as `files.update`) require a `fileId`. Use the `files.list` method to retrieve the ID for a file.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the file. This isn't necessarily unique within a folder. Note that for immutable items such as the top-level folders of shared drives, the My Drive root folder, and the Application Data folder, the name is constant.",
          "type": "string"
        },
        "labelInfo": {
          "description": "Label information on the file.",
          "properties": {
            "labels": {
              "type": "array",
              "items": {
                "$ref": "Label"
              },
              "description": "Output only. The set of labels on the file as requested by the label IDs in the `includeLabels` parameter. By default, no labels are returned."
            }
          },
          "type": "object"
        },
        "downloadRestrictions": {
          "$ref": "DownloadRestrictionsMetadata",
          "description": "Download restrictions applied on the file."
        },
        "copyRequiresWriterPermission": {
          "type": "boolean",
          "description": "Whether the options to copy, print, or download this file should be disabled for readers and commenters."
        },
        "sha1Checksum": {
          "description": "Output only. The SHA1 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it's not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "contentRestrictions": {
          "description": "Restrictions for accessing the content of the file. Only populated if such a restriction exists.",
          "type": "array",
          "items": {
            "$ref": "ContentRestriction"
          }
        },
        "sharingUser": {
          "description": "Output only. The user who shared the file with the requesting user, if applicable.",
          "$ref": "User"
        },
        "imageMediaMetadata": {
          "properties": {
            "lens": {
              "type": "string",
              "description": "Output only. The lens used to create the photo."
            },
            "cameraModel": {
              "type": "string",
              "description": "Output only. The model of the camera used to create the photo."
            },
            "maxApertureValue": {
              "type": "number",
              "format": "float",
              "description": "Output only. The smallest f-number of the lens at the focal length used to create the photo (APEX value)."
            },
            "aperture": {
              "format": "float",
              "type": "number",
              "description": "Output only. The aperture used to create the photo (f-number)."
            },
            "time": {
              "type": "string",
              "description": "Output only. The date and time the photo was taken (EXIF DateTime)."
            },
            "sensor": {
              "description": "Output only. The type of sensor used to create the photo.",
              "type": "string"
            },
            "focalLength": {
              "format": "float",
              "type": "number",
              "description": "Output only. The focal length used to create the photo, in millimeters."
            },
            "subjectDistance": {
              "description": "Output only. The distance to the subject of the photo, in meters.",
              "format": "int32",
              "type": "integer"
            },
            "width": {
              "format": "int32",
              "type": "integer",
              "description": "Output only. The width of the image in pixels."
            },
            "colorSpace": {
              "description": "Output only. The color space of the photo.",
              "type": "string"
            },
            "meteringMode": {
              "description": "Output only. The metering mode used to create the photo.",
              "type": "string"
            },
            "cameraMake": {
              "type": "string",
              "description": "Output only. The make of the camera used to create the photo."
            },
            "whiteBalance": {
              "description": "Output only. The white balance mode used to create the photo.",
              "type": "string"
            },
            "exposureTime": {
              "type": "number",
              "format": "float",
              "description": "Output only. The length of the exposure, in seconds."
            },
            "exposureMode": {
              "description": "Output only. The exposure mode used to create the photo.",
              "type": "string"
            },
            "location": {
              "type": "object",
              "properties": {
                "altitude": {
                  "description": "Output only. The altitude stored in the image.",
                  "type": "number",
                  "format": "double"
                },
                "longitude": {
                  "format": "double",
                  "description": "Output only. The longitude stored in the image.",
                  "type": "number"
                },
                "latitude": {
                  "type": "number",
                  "description": "Output only. The latitude stored in the image.",
                  "format": "double"
                }
              },
              "description": "Output only. Geographic location information stored in the image."
            },
            "rotation": {
              "description": "Output only. The number of clockwise 90 degree rotations applied from the image's original orientation.",
              "type": "integer",
              "format": "int32"
            },
            "exposureBias": {
              "description": "Output only. The exposure bias of the photo (APEX value).",
              "format": "float",
              "type": "number"
            },
            "flashUsed": {
              "description": "Output only. Whether a flash was used to create the photo.",
              "type": "boolean"
            },
            "height": {
              "type": "integer",
              "description": "Output only. The height of the image in pixels.",
              "format": "int32"
            },
            "isoSpeed": {
              "description": "Output only. The ISO speed used to create the photo.",
              "format": "int32",
              "type": "integer"
            }
          },
          "description": "Output only. Additional metadata about image media, if available.",
          "type": "object"
        },
        "trashedTime": {
          "type": "string",
          "format": "date-time",
          "description": "The time that the item was trashed (RFC 3339 date-time). Only populated for items in shared drives."
        },
        "description": {
          "type": "string",
          "description": "A short description of the file."
        },
        "isAppAuthorized": {
          "description": "Output only. Whether the file was created or opened by the requesting app.",
          "type": "boolean"
        },
        "resourceKey": {
          "type": "string",
          "description": "Output only. A key needed to access the item via a shared link."
        },
        "folderColorRgb": {
          "description": "The color for a folder or a shortcut to a folder as an RGB hex string. The supported colors are published in the `folderColorPalette` field of the [`about`](/workspace/drive/api/reference/rest/v3/about) resource. If an unsupported color is specified, the closest color in the palette is used instead.",
          "type": "string"
        },
        "capabilities": {
          "properties": {
            "canMoveTeamDriveItem": {
              "type": "boolean",
              "deprecated": true,
              "description": "Deprecated: Output only. Use `canMoveItemWithinDrive` or `canMoveItemOutOfDrive` instead."
            },
            "canChangeCopyRequiresWriterPermission": {
              "description": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this file.",
              "type": "boolean"
            },
            "canReadRevisions": {
              "type": "boolean",
              "description": "Output only. Whether the current user can read the revisions resource of this file. For a shared drive item, whether revisions of non-folder descendants of this item, or this item if it's not a folder, can be read."
            },
            "canAddMyDriveParent": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add a parent for the item without removing an existing parent in the same request. Not populated for shared drive files."
            },
            "canMoveChildrenOutOfDrive": {
              "description": "Output only. Whether the current user can move children of this folder outside of the shared drive. This is `false` when the item isn't a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canModifyEditorContentRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add or modify content restrictions on the file which are editor restricted."
            },
            "canModifyOwnerContentRestriction": {
              "description": "Output only. Whether the current user can add or modify content restrictions which are owner restricted.",
              "type": "boolean"
            },
            "canRemoveChildren": {
              "description": "Output only. Whether the current user can remove children from this folder. This is always `false` when the item isn't a folder. For a folder in a shared drive, use `canDeleteChildren` or `canTrashChildren` instead.",
              "type": "boolean"
            },
            "canChangeItemDownloadRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the owner or organizer-applied download restrictions of the file."
            },
            "canMoveChildrenWithinDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can move children of this folder within this drive. This is `false` when the item isn't a folder. Note that a request to move the child may still fail depending on the current user's access to the child and to the destination folder."
            },
            "canChangeSecurityUpdateEnabled": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the `securityUpdateEnabled` field on link share metadata."
            },
            "canDisableInheritedPermissions": {
              "description": "Whether a user can disable inherited permissions.",
              "type": "boolean"
            },
            "canRemoveMyDriveParent": {
              "description": "Output only. Whether the current user can remove a parent from the item without adding another parent in the same request. Not populated for shared drive files.",
              "type": "boolean"
            },
            "canTrashChildren": {
              "description": "Output only. Whether the current user can trash children of this folder. This is `false` when the item isn't a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canReadDrive": {
              "description": "Output only. Whether the current user can read the shared drive to which this file belongs. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canShare": {
              "description": "Output only. Whether the current user can modify the sharing settings for this file.",
              "type": "boolean"
            },
            "canModifyContentRestriction": {
              "type": "boolean",
              "description": "Deprecated: Output only. Use one of `canModifyEditorContentRestriction`, `canModifyOwnerContentRestriction`, or `canRemoveContentRestriction`.",
              "deprecated": true
            },
            "canEnableInheritedPermissions": {
              "type": "boolean",
              "description": "Whether a user can re-enable inherited permissions."
            },
            "canMoveItemOutOfDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can move this item outside of this drive by changing its parent. Note that a request to change the parent of the item may still fail depending on the new parent that's being added."
            },
            "canListChildren": {
              "description": "Output only. Whether the current user can list the children of this folder. This is always `false` when the item isn't a folder.",
              "type": "boolean"
            },
            "canMoveItemWithinDrive": {
              "description": "Output only. Whether the current user can move this item within this drive. Note that a request to change the parent of the item may still fail depending on the new parent that's being added and the parent that is being removed.",
              "type": "boolean"
            },
            "canRemoveContentRestriction": {
              "description": "Output only. Whether there's a content restriction on the file that can be removed by the current user.",
              "type": "boolean"
            },
            "canTrash": {
              "description": "Output only. Whether the current user can move this file to trash.",
              "type": "boolean"
            },
            "canStartApproval": {
              "description": "Whether the current user can start an approval on the file.",
              "type": "boolean"
            },
            "canAddChildren": {
              "description": "Output only. Whether the current user can add children to this folder. This is always `false` when the item isn't a folder.",
              "type": "boolean"
            },
            "canChangeViewersCanCopyContent": {
              "type": "boolean",
              "description": "Deprecated: Output only.",
              "deprecated": true
            },
            "canAcceptOwnership": {
              "type": "boolean",
              "description": "Output only. Whether the current user is the pending owner of the file. Not populated for shared drive files."
            },
            "canModifyContent": {
              "type": "boolean",
              "description": "Output only. Whether the current user can modify the content of this file."
            },
            "canComment": {
              "description": "Output only. Whether the current user can comment on this file.",
              "type": "boolean"
            },
            "canRename": {
              "description": "Output only. Whether the current user can rename this file.",
              "type": "boolean"
            },
            "canModifyLabels": {
              "description": "Output only. Whether the current user can modify the labels on the file.",
              "type": "boolean"
            },
            "canDownload": {
              "type": "boolean",
              "description": "Output only. Whether the current user can download this file."
            },
            "canDelete": {
              "description": "Output only. Whether the current user can delete this file.",
              "type": "boolean"
            },
            "canReadLabels": {
              "description": "Output only. Whether the current user can read the labels on the file.",
              "type": "boolean"
            },
            "canMoveChildrenWithinTeamDrive": {
              "description": "Deprecated: Output only. Use `canMoveChildrenWithinDrive` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canReadTeamDrive": {
              "description": "Deprecated: Output only. Use `canReadDrive` instead.",
              "type": "boolean",
              "deprecated": true
            },
            "canAddFolderFromAnotherDrive": {
              "description": "Output only. Whether the current user can add a folder from another drive (different shared drive or My Drive) to this folder. This is `false` when the item isn't a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canDeleteChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can delete children of this folder. This is `false` when the item isn't a folder. Only populated for items in shared drives."
            },
            "canMoveItemIntoTeamDrive": {
              "description": "Deprecated: Output only. Use `canMoveItemOutOfDrive` instead.",
              "type": "boolean",
              "deprecated": true
            },
            "canCopy": {
              "description": "Output only. Whether the current user can copy this file. For an item in a shared drive, whether the current user can copy non-folder descendants of this item, or this item if it's not a folder.",
              "type": "boolean"
            },
            "canUntrash": {
              "type": "boolean",
              "description": "Output only. Whether the current user can restore this file from trash."
            },
            "canMoveChildrenOutOfTeamDrive": {
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Output only. Use `canMoveChildrenOutOfDrive` instead."
            },
            "canAccessViaGenAi": {
              "type": "boolean",
              "description": "Whether the current user can access this file via Gen AI features. For more information, see [Drive MCP file eligibility](https://developers.google.com/workspace/drive/api/guides/drive-mcp-server-file-eligibility)."
            },
            "canEdit": {
              "description": "Output only. Whether the current user can edit this file. Other factors may limit the type of changes a user can make to a file. For example, see `canChangeCopyRequiresWriterPermission` or `canModifyContent`.",
              "type": "boolean"
            },
            "canMoveItemWithinTeamDrive": {
              "type": "boolean",
              "description": "Deprecated: Output only. Use `canMoveItemWithinDrive` instead.",
              "deprecated": true
            },
            "canMoveItemOutOfTeamDrive": {
              "type": "boolean",
              "description": "Deprecated: Output only. Use `canMoveItemOutOfDrive` instead.",
              "deprecated": true
            }
          },
          "type": "object",
          "description": "Output only. Capabilities the current user has on this file. Each capability corresponds to a fine-grained action that a user may take. For more information, see [Understand file capabilities](https://developers.google.com/workspace/drive/api/guides/manage-sharing#capabilities)."
        },
        "inheritedPermissionsDisabled": {
          "type": "boolean",
          "description": "Whether this file has inherited permissions disabled. Inherited permissions are enabled by default."
        },
        "sharedWithMeTime": {
          "description": "The time at which the file was shared with the user, if applicable (RFC 3339 date-time).",
          "format": "date-time",
          "type": "string"
        },
        "fileExtension": {
          "type": "string",
          "description": "Output only. The final component of `fullFileExtension`. This is only available for files with binary content in Google Drive."
        },
        "starred": {
          "description": "Whether the user has starred the file.",
          "type": "boolean"
        },
        "teamDriveId": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated: Output only. Use `driveId` instead."
        },
        "ownedByMe": {
          "type": "boolean",
          "description": "Output only. Whether the user owns the file. Not populated for items in shared drives."
        },
        "headRevisionId": {
          "description": "Output only. The ID of the file's head revision. This is currently only available for files with binary content in Google Drive.",
          "type": "string"
        },
        "linkShareMetadata": {
          "properties": {
            "securityUpdateEligible": {
              "type": "boolean",
              "description": "Output only. Whether the file is eligible for security update."
            },
            "securityUpdateEnabled": {
              "description": "Output only. Whether the security update is enabled for this file.",
              "type": "boolean"
            }
          },
          "description": "Contains details about the link URLs that clients are using to refer to this item.",
          "type": "object"
        },
        "clientEncryptionDetails": {
          "$ref": "ClientEncryptionDetails",
          "description": "Client Side Encryption related details. Contains details about the encryption state of the file and details regarding the encryption mechanism that clients need to use when decrypting the contents of this item. This will only be present on files and not on folders or shortcuts."
        },
        "permissionIds": {
          "items": {
            "type": "string"
          },
          "description": "Output only. List of permission IDs for users with access to this file.",
          "type": "array"
        },
        "fullFileExtension": {
          "description": "Output only. The full file extension extracted from the `name` field. May contain multiple concatenated extensions, such as \"tar.gz\". This is only available for files with binary content in Google Drive. This is automatically updated when the `name` field changes, however it's not cleared if the new name doesn't contain a valid extension.",
          "type": "string"
        },
        "modifiedByMeTime": {
          "description": "The last time the file was modified by the user (RFC 3339 date-time).",
          "format": "date-time",
          "type": "string"
        },
        "modifiedByMe": {
          "description": "Output only. Whether the file has been modified by this user.",
          "type": "boolean"
        },
        "iconLink": {
          "description": "Output only. A static, unauthenticated link to the file's icon.",
          "type": "string"
        },
        "trashed": {
          "type": "boolean",
          "description": "Whether the file has been trashed, either explicitly or from a trashed parent folder. Only the owner may trash a file, but other users can still access the file in the owner's trash until it's permanently deleted."
        },
        "lastModifyingUser": {
          "description": "Output only. The last user to modify the file. This field is only populated when the last modification was performed by a signed-in user.",
          "$ref": "User"
        },
        "webViewLink": {
          "type": "string",
          "description": "Output only. A link for opening the file in a relevant Google editor or viewer in a browser."
        },
        "permissions": {
          "description": "Output only. The full list of permissions for the file. This is only available if the requesting user can share the file. Not populated for items in shared drives.",
          "items": {
            "$ref": "Permission"
          },
          "type": "array"
        },
        "shared": {
          "type": "boolean",
          "description": "Output only. Whether the file has been shared. Not populated for items in shared drives."
        },
        "shortcutDetails": {
          "description": "Information about a shortcut file.",
          "type": "object",
          "properties": {
            "targetId": {
              "description": "The ID of the file that this shortcut points to. Can only be set on `files.create` requests.",
              "type": "string"
            },
            "targetResourceKey": {
              "type": "string",
              "description": "Output only. The `resourceKey` for the target file."
            },
            "targetMimeType": {
              "type": "string",
              "description": "Output only. The MIME type of the file that this shortcut points to. The value of this field is a snapshot of the target's MIME type, captured when the shortcut is created."
            }
          }
        },
        "viewedByMeTime": {
          "type": "string",
          "description": "The last time the file was viewed by the user (RFC 3339 date-time).",
          "format": "date-time"
        },
        "explicitlyTrashed": {
          "type": "boolean",
          "description": "Output only. Whether the file has been explicitly trashed, as opposed to recursively trashed from a parent folder."
        },
        "writersCanShare": {
          "description": "Whether users with only `writer` permission can modify the file's permissions. Not populated for items in shared drives.",
          "type": "boolean"
        },
        "viewedByMe": {
          "description": "Output only. Whether the file has been viewed by this user.",
          "type": "boolean"
        },
        "quotaBytesUsed": {
          "description": "Output only. The number of storage quota bytes used by the file. This includes the head revision as well as previous revisions with `keepForever` enabled.",
          "type": "string",
          "format": "int64"
        },
        "videoMediaMetadata": {
          "properties": {
            "height": {
              "format": "int32",
              "description": "Output only. The height of the video in pixels.",
              "type": "integer"
            },
            "durationMillis": {
              "type": "string",
              "format": "int64",
              "description": "Output only. The duration of the video in milliseconds."
            },
            "width": {
              "description": "Output only. The width of the video in pixels.",
              "type": "integer",
              "format": "int32"
            }
          },
          "description": "Output only. Additional metadata about video media. This may not be available immediately upon upload.",
          "type": "object"
        },
        "viewersCanCopyContent": {
          "description": "Deprecated: Use `copyRequiresWriterPermission` instead.",
          "type": "boolean",
          "deprecated": true
        },
        "thumbnailLink": {
          "description": "Output only. A short-lived link to the file's thumbnail, if available. Typically lasts on the order of hours. Not intended for direct usage on web applications due to [Cross-Origin Resource Sharing (CORS)](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) policies. Consider using a proxy server. Only populated when the requesting app can access the file's content. If the file isn't shared publicly, the URL returned in `files.thumbnailLink` must be fetched using a credentialed request.",
          "type": "string"
        },
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A collection of arbitrary key-value pairs which are visible to all apps.\nEntries with null values are cleared in update and copy requests."
        },
        "modifiedTime": {
          "format": "date-time",
          "description": "he last time the file was modified by anyone (RFC 3339 date-time). Note that setting modifiedTime will also update modifiedByMeTime for the user.",
          "type": "string"
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#file\"`.",
          "default": "drive#file",
          "type": "string"
        },
        "sha256Checksum": {
          "description": "Output only. The SHA256 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it's not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "webContentLink": {
          "type": "string",
          "description": "Output only. A link for downloading the content of the file in a browser. This is only available for files with binary content in Google Drive."
        },
        "hasAugmentedPermissions": {
          "description": "Output only. Whether there are permissions directly on this file. This field is only populated for items in shared drives.",
          "type": "boolean"
        },
        "createdTime": {
          "description": "The time at which the file was created (RFC 3339 date-time).",
          "type": "string",
          "format": "date-time"
        },
        "version": {
          "type": "string",
          "description": "Output only. A monotonically increasing version number for the file. This reflects every change made to the file on the server, even those not visible to the user.",
          "format": "int64"
        },
        "md5Checksum": {
          "description": "Output only. The MD5 checksum for the content of the file. This is only applicable to files with binary content in Google Drive.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the file.",
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the file. Google Drive attempts to automatically detect an appropriate value from uploaded content, if no value is provided. The value cannot be changed unless a new revision is uploaded. If a file is created with a Google Doc MIME type, the uploaded content is imported, if possible. The supported import formats are published in the [`about`](/workspace/drive/api/reference/rest/v3/about) resource."
        },
        "parents": {
          "description": "The ID of the parent folder containing the file. A file can only have one parent folder; specifying multiple parents isn't supported. If not specified as part of a create request, the file is placed directly in the user's My Drive folder. If not specified as part of a copy request, the file inherits any discoverable parent of the source file. Update requests must use the `addParents` and `removeParents` parameters to modify the parents list.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "appProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A collection of arbitrary key-value pairs which are private to the requesting app.\nEntries with null values are cleared in update and copy requests. These properties can only be retrieved using an authenticated request. An authenticated request uses an access token obtained with a OAuth 2 client ID. You cannot use an API key to retrieve private properties."
        },
        "contentHints": {
          "properties": {
            "thumbnail": {
              "type": "object",
              "description": "A thumbnail for the file. This will only be used if Google Drive cannot generate a standard thumbnail.",
              "properties": {
                "image": {
                  "description": "The thumbnail data encoded with URL-safe Base64 ([RFC 4648 section 5](https://datatracker.ietf.org/doc/html/rfc4648#section-5)).",
                  "format": "byte",
                  "type": "string"
                },
                "mimeType": {
                  "description": "The MIME type of the thumbnail.",
                  "type": "string"
                }
              }
            },
            "indexableText": {
              "description": "Text to be indexed for the file to improve fullText queries. This is limited to 128 KB in length and may contain HTML elements.",
              "type": "string"
            }
          },
          "description": "Additional information about the content of the file. These fields are never populated in responses.",
          "type": "object"
        },
        "trashingUser": {
          "$ref": "User",
          "description": "Output only. If the file has been explicitly trashed, the user who trashed it. Only populated for items in shared drives."
        },
        "driveId": {
          "description": "Output only. ID of the shared drive the file resides in. Only populated for items in shared drives.",
          "type": "string"
        },
        "originalFilename": {
          "description": "The original filename of the uploaded content if available, or else the original value of the `name` field. This is only available for files with binary content in Google Drive.",
          "type": "string"
        },
        "owners": {
          "type": "array",
          "items": {
            "$ref": "User"
          },
          "description": "Output only. The owner of this file. Only certain legacy files may have more than one owner. This field isn't populated for items in shared drives."
        },
        "spaces": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of spaces which contain the file. The currently supported values are `drive`, `appDataFolder`, and `photos`.",
          "type": "array"
        },
        "size": {
          "description": "Output only. Size in bytes of blobs and Google Workspace editor files. Won't be populated for files that have no size, like shortcuts and folders.",
          "format": "int64",
          "type": "string"
        },
        "hasThumbnail": {
          "type": "boolean",
          "description": "Output only. Whether this file has a thumbnail. This doesn't indicate whether the requesting app has access to the thumbnail. To check access, look for the presence of the thumbnailLink field."
        },
        "exportLinks": {
          "description": "Output only. Links for exporting Docs Editors files to specific formats.",
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          }
        },
        "thumbnailVersion": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The thumbnail version for use in thumbnail cache invalidation."
        }
      }
    },
    "ReviewerResponse": {
      "type": "object",
      "properties": {
        "response": {
          "enum": [
            "RESPONSE_UNSPECIFIED",
            "NO_RESPONSE",
            "APPROVED",
            "DECLINED"
          ],
          "enumDescriptions": [
            "The response was set to an unrecognized value.",
            "The reviewer hasn't responded.",
            "The reviewer has approved the item.",
            "The reviewer has declined the item."
          ],
          "type": "string",
          "description": "A reviewer’s response for the approval."
        },
        "kind": {
          "description": "This is always drive#reviewerResponse.",
          "type": "string"
        },
        "reviewer": {
          "description": "The user that's responsible for this response.",
          "$ref": "User"
        }
      },
      "id": "ReviewerResponse",
      "description": "A response on an approval made by a specific reviewer."
    },
    "App": {
      "id": "App",
      "description": "The `apps` resource provides a list of apps that a user has installed, with information about each app's supported MIME types, file extensions, and other details. Some resource methods (such as `apps.get`) require an `appId`. Use the `apps.list` method to retrieve the ID for an installed application.",
      "type": "object",
      "properties": {
        "createInFolderTemplate": {
          "type": "string",
          "description": "The template URL to create a file with this app in a given folder. The template contains the {folderId} to be replaced by the folder ID house the new file."
        },
        "productUrl": {
          "type": "string",
          "description": "A link to the product listing for this app."
        },
        "useByDefault": {
          "type": "boolean",
          "description": "Whether the app is selected as the default handler for the types it supports."
        },
        "secondaryFileExtensions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of secondary file extensions."
        },
        "hasDriveWideScope": {
          "type": "boolean",
          "description": "Whether the app has Drive-wide scope. An app with Drive-wide scope can access all files in the user's Drive."
        },
        "supportsOfflineCreate": {
          "description": "Whether this app supports creating files when offline.",
          "type": "boolean"
        },
        "openUrlTemplate": {
          "description": "The template URL for opening files with this app. The template contains {ids} or {exportIds} to be replaced by the actual file IDs. For more information, see Open Files for the full documentation.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string \"drive#app\".",
          "default": "drive#app"
        },
        "icons": {
          "type": "array",
          "description": "The various icons for the app.",
          "items": {
            "$ref": "AppIcons"
          }
        },
        "authorized": {
          "description": "Whether the app is authorized to access data on the user's Drive.",
          "type": "boolean"
        },
        "supportsMultiOpen": {
          "type": "boolean",
          "description": "Whether this app supports opening more than one file."
        },
        "supportsCreate": {
          "description": "Whether this app supports creating objects.",
          "type": "boolean"
        },
        "id": {
          "description": "The ID of the app.",
          "type": "string"
        },
        "shortDescription": {
          "description": "A short description of the app.",
          "type": "string"
        },
        "productId": {
          "description": "The ID of the product listing for this app.",
          "type": "string"
        },
        "primaryFileExtensions": {
          "items": {
            "type": "string"
          },
          "description": "The list of primary file extensions.",
          "type": "array"
        },
        "name": {
          "description": "The name of the app.",
          "type": "string"
        },
        "longDescription": {
          "description": "A long description of the app.",
          "type": "string"
        },
        "objectType": {
          "description": "The type of object this app creates such as a Chart. If empty, the app name should be used instead.",
          "type": "string"
        },
        "installed": {
          "type": "boolean",
          "description": "Whether the app is installed."
        },
        "createUrl": {
          "type": "string",
          "description": "The URL to create a file with this app."
        },
        "primaryMimeTypes": {
          "description": "The list of primary MIME types.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "secondaryMimeTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of secondary MIME types."
        },
        "supportsImport": {
          "type": "boolean",
          "description": "Whether this app supports importing from Google Docs."
        }
      }
    },
    "Revision": {
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "Output only. The MIME type of the revision."
        },
        "originalFilename": {
          "description": "Output only. The original filename used to create this revision. This is only applicable to files with binary content in Drive.",
          "type": "string"
        },
        "modifiedTime": {
          "format": "date-time",
          "type": "string",
          "description": "The last time the revision was modified (RFC 3339 date-time)."
        },
        "md5Checksum": {
          "description": "Output only. The MD5 checksum of the revision's content. This is only applicable to files with binary content in Drive.",
          "type": "string"
        },
        "published": {
          "type": "boolean",
          "description": "Whether this revision is published. This is only applicable to Docs Editors files."
        },
        "exportLinks": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. Links for exporting Docs Editors files to specific formats."
        },
        "lastModifyingUser": {
          "description": "Output only. The last user to modify this revision. This field is only populated when the last modification was performed by a signed-in user.",
          "$ref": "User"
        },
        "keepForever": {
          "description": "Whether to keep this revision forever, even if it is no longer the head revision. If not set, the revision will be automatically purged 30 days after newer content is uploaded. This can be set on a maximum of 200 revisions for a file. This field is only applicable to files with binary content in Drive.",
          "type": "boolean"
        },
        "id": {
          "description": "Output only. The ID of the revision.",
          "type": "string"
        },
        "size": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The size of the revision's content in bytes. This is only applicable to files with binary content in Drive."
        },
        "publishedLink": {
          "description": "Output only. A link to the published revision. This is only populated for Docs Editors files.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#revision\"`.",
          "default": "drive#revision"
        },
        "publishedOutsideDomain": {
          "type": "boolean",
          "description": "Whether this revision is published outside the domain. This is only applicable to Docs Editors files."
        },
        "publishAuto": {
          "type": "boolean",
          "description": "Whether subsequent revisions will be automatically republished. This is only applicable to Docs Editors files."
        }
      },
      "type": "object",
      "id": "Revision",
      "description": "The metadata for a revision to a file. Some resource methods (such as `revisions.update`) require a `revisionId`. Use the `revisions.list` method to retrieve the ID for a revision."
    },
    "ApproveApprovalRequest": {
      "description": "Request for approving an approval as a reviewer.",
      "type": "object",
      "id": "ApproveApprovalRequest",
      "properties": {
        "message": {
          "type": "string",
          "description": "Optional. A message to accompany the reviewer response on the approval. This message is included in notifications for the action and in the approval activity log."
        }
      }
    },
    "AccessProposalRoleAndView": {
      "type": "object",
      "description": "A wrapper for the role and view of an access proposal. For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles).",
      "properties": {
        "role": {
          "description": "The role that was proposed by the requester. The supported values are: * `writer` * `commenter` * `reader`",
          "type": "string"
        },
        "view": {
          "type": "string",
          "description": "Indicates the view for this access proposal. Only populated for proposals that belong to a view. Only `published` is supported."
        }
      },
      "id": "AccessProposalRoleAndView"
    },
    "CommentApprovalRequest": {
      "id": "CommentApprovalRequest",
      "properties": {
        "message": {
          "type": "string",
          "description": "Required. A message to comment on the approval. This message is included in notifications for the action and in the approval activity log."
        }
      },
      "type": "object",
      "description": "Request for commenting on an approval."
    },
    "StartPageToken": {
      "id": "StartPageToken",
      "type": "object",
      "properties": {
        "kind": {
          "default": "drive#startPageToken",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#startPageToken\"`.",
          "type": "string"
        },
        "startPageToken": {
          "description": "The starting page token for listing future changes. The page token doesn't expire.",
          "type": "string"
        }
      }
    },
    "AppList": {
      "properties": {
        "selfLink": {
          "type": "string",
          "description": "A link back to this list."
        },
        "items": {
          "items": {
            "$ref": "App"
          },
          "description": "The list of apps.",
          "type": "array"
        },
        "defaultAppIds": {
          "description": "The list of app IDs that the user has specified to use by default. The list is in reverse-priority order (lowest to highest).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "type": "string",
          "default": "drive#appList",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string \"drive#appList\"."
        }
      },
      "id": "AppList",
      "description": "A list of third-party applications which the user has installed or given access to Google Drive.",
      "type": "object"
    },
    "AccessProposal": {
      "properties": {
        "proposalId": {
          "description": "The ID of the access proposal.",
          "type": "string"
        },
        "requesterEmailAddress": {
          "type": "string",
          "description": "The email address of the requesting user."
        },
        "requestMessage": {
          "type": "string",
          "description": "The message that the requester added to the proposal."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The creation time.",
          "type": "string"
        },
        "recipientEmailAddress": {
          "description": "The email address of the user that will receive permissions, if accepted.",
          "type": "string"
        },
        "fileId": {
          "type": "string",
          "description": "The file ID that the proposal for access is on."
        },
        "rolesAndViews": {
          "description": "A wrapper for the role and view of an access proposal. For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles).",
          "type": "array",
          "items": {
            "$ref": "AccessProposalRoleAndView"
          }
        }
      },
      "description": "Manage outstanding access proposals on a file.",
      "type": "object",
      "id": "AccessProposal"
    },
    "Label": {
      "id": "Label",
      "type": "object",
      "properties": {
        "revisionId": {
          "type": "string",
          "description": "The revision ID of the label."
        },
        "kind": {
          "description": "This is always drive#label",
          "type": "string"
        },
        "fields": {
          "additionalProperties": {
            "$ref": "LabelField"
          },
          "type": "object",
          "description": "A map of the fields on the label, keyed by the field's ID."
        },
        "id": {
          "type": "string",
          "description": "The ID of the label."
        }
      },
      "description": "Representation of label and label fields."
    },
    "ContentRestriction": {
      "properties": {
        "reason": {
          "description": "Reason for why the content of the file is restricted. This is only mutable on requests that also set `readOnly=true`.",
          "type": "string"
        },
        "type": {
          "description": "Output only. The type of the content restriction. Currently the only possible value is `globalContentRestriction`.",
          "type": "string"
        },
        "restrictingUser": {
          "description": "Output only. The user who set the content restriction. Only populated if `readOnly=true`.",
          "$ref": "User"
        },
        "systemRestricted": {
          "type": "boolean",
          "description": "Output only. Whether the content restriction was applied by the system, for example due to an esignature. Users cannot modify or remove system restricted content restrictions."
        },
        "readOnly": {
          "description": "Whether the content of the file is read-only. If a file is read-only, a new revision of the file may not be added, comments may not be added or modified, and the title of the file may not be modified.",
          "type": "boolean"
        },
        "restrictionTime": {
          "description": "The time at which the content restriction was set (formatted RFC 3339 timestamp). Only populated if readOnly is true.",
          "format": "date-time",
          "type": "string"
        },
        "ownerRestricted": {
          "description": "Whether the content restriction can only be modified or removed by a user who owns the file. For files in shared drives, any user with `organizer` capabilities can modify or remove this content restriction.",
          "type": "boolean"
        }
      },
      "description": "A restriction for accessing the content of the file.",
      "id": "ContentRestriction",
      "type": "object"
    },
    "LabelFieldModification": {
      "id": "LabelFieldModification",
      "properties": {
        "setTextValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Sets the value of a `text` field."
        },
        "unsetValues": {
          "description": "Unsets the values for this field.",
          "type": "boolean"
        },
        "setDateValues": {
          "items": {
            "type": "string",
            "format": "date"
          },
          "description": "Replaces the value of a dateString Field with these new values. The string must be in the RFC 3339 full-date format: YYYY-MM-DD.",
          "type": "array"
        },
        "setSelectionValues": {
          "type": "array",
          "description": "Replaces a `selection` field with these new values.",
          "items": {
            "type": "string"
          }
        },
        "setUserValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Replaces a `user` field with these new values. The values must be a valid email addresses."
        },
        "fieldId": {
          "type": "string",
          "description": "The ID of the field to be modified."
        },
        "kind": {
          "type": "string",
          "description": "This is always `\"drive#labelFieldModification\"`."
        },
        "setIntegerValues": {
          "type": "array",
          "description": "Replaces the value of an `integer` field with these new values.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "A modification to a label's field."
    },
    "ReplyList": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of replies. This will be absent if the end of the replies list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#replyList\"`.",
          "default": "drive#replyList",
          "type": "string"
        },
        "replies": {
          "items": {
            "$ref": "Reply"
          },
          "description": "The list of replies. If `nextPageToken` is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "A list of replies to a comment on a file.",
      "id": "ReplyList"
    },
    "CommentList": {
      "id": "CommentList",
      "properties": {
        "nextPageToken": {
          "description": "The page token for the next page of comments. This will be absent if the end of the comments list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ.",
          "type": "string"
        },
        "comments": {
          "items": {
            "$ref": "Comment"
          },
          "description": "The list of comments. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#commentList\"`.",
          "default": "drive#commentList"
        }
      },
      "description": "A list of comments on a file.",
      "type": "object"
    },
    "Channel": {
      "id": "Channel",
      "type": "object",
      "description": "A notification channel used to watch for resource changes.",
      "properties": {
        "address": {
          "description": "The address where notifications are delivered for this channel.",
          "type": "string"
        },
        "payload": {
          "description": "A Boolean value to indicate whether payload is wanted. Optional.",
          "type": "boolean"
        },
        "resourceId": {
          "type": "string",
          "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions."
        },
        "expiration": {
          "format": "int64",
          "type": "string",
          "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional."
        },
        "params": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Additional parameters controlling delivery channel behavior. Optional."
        },
        "type": {
          "type": "string",
          "description": "The type of delivery mechanism used for this channel. Valid values are \"web_hook\" or \"webhook\"."
        },
        "token": {
          "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.",
          "type": "string"
        },
        "kind": {
          "default": "api#channel",
          "type": "string",
          "description": "Identifies this as a notification channel used to watch for changes to a resource, which is `api#channel`."
        },
        "id": {
          "type": "string",
          "description": "A UUID or similar unique string that identifies this channel."
        },
        "resourceUri": {
          "type": "string",
          "description": "A version-specific identifier for the watched resource."
        }
      }
    },
    "Drive": {
      "description": "Representation of a shared drive. Some resource methods (such as `drives.update`) require a `driveId`. Use the `drives.list` method to retrieve the ID for a shared drive.",
      "type": "object",
      "properties": {
        "restrictions": {
          "description": "A set of restrictions that apply to this shared drive or items inside this shared drive. Note that restrictions can't be set when creating a shared drive. To add a restriction, first create a shared drive and then use `drives.update` to add restrictions.",
          "properties": {
            "driveMembersOnly": {
              "type": "boolean",
              "description": "Whether access to items inside this shared drive is restricted to its members."
            },
            "downloadRestriction": {
              "$ref": "DownloadRestriction",
              "description": "Download restrictions applied by shared drive managers."
            },
            "adminManagedRestrictions": {
              "description": "Whether administrative privileges on this shared drive are required to modify restrictions.",
              "type": "boolean"
            },
            "sharingFoldersRequiresOrganizerPermission": {
              "type": "boolean",
              "description": "If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders."
            },
            "domainUsersOnly": {
              "type": "boolean",
              "description": "Whether access to this shared drive and items inside this shared drive is restricted to users of the domain to which this shared drive belongs. This restriction may be overridden by other sharing policies controlled outside of this shared drive."
            },
            "copyRequiresWriterPermission": {
              "description": "Whether the options to copy, print, or download files inside this shared drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this shared drive.",
              "type": "boolean"
            }
          },
          "type": "object"
        },
        "kind": {
          "default": "drive#drive",
          "type": "string",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#drive\"`."
        },
        "id": {
          "description": "Output only. The ID of this shared drive which is also the ID of the top level folder of this shared drive.",
          "type": "string"
        },
        "orgUnitId": {
          "type": "string",
          "description": "Output only. The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`."
        },
        "backgroundImageLink": {
          "type": "string",
          "description": "Output only. A short-lived link to this shared drive's background image."
        },
        "hidden": {
          "description": "Whether the shared drive is hidden from default view.",
          "type": "boolean"
        },
        "colorRgb": {
          "description": "The color of this shared drive as an RGB hex string. It can only be set on a `drive.drives.update` request that does not set `themeId`.",
          "type": "string"
        },
        "backgroundImageFile": {
          "description": "An image file and cropping parameters from which a background image for this shared drive is set. This is a write only field; it can only be set on `drive.drives.update` requests that don't set `themeId`. When specified, all fields of the `backgroundImageFile` must be set.",
          "properties": {
            "width": {
              "type": "number",
              "format": "float",
              "description": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high."
            },
            "id": {
              "description": "The ID of an image file in Google Drive to use for the background image.",
              "type": "string"
            },
            "xCoordinate": {
              "type": "number",
              "format": "float",
              "description": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image."
            },
            "yCoordinate": {
              "description": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image.",
              "type": "number",
              "format": "float"
            }
          },
          "type": "object"
        },
        "name": {
          "description": "The name of this shared drive.",
          "type": "string"
        },
        "themeId": {
          "description": "The ID of the theme from which the background image and color will be set. The set of possible `driveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.drives.create` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`.",
          "type": "string"
        },
        "createdTime": {
          "format": "date-time",
          "type": "string",
          "description": "The time at which the shared drive was created (RFC 3339 date-time)."
        },
        "capabilities": {
          "type": "object",
          "properties": {
            "canCopy": {
              "description": "Output only. Whether the current user can copy files in this shared drive.",
              "type": "boolean"
            },
            "canChangeCopyRequiresWriterPermissionRestriction": {
              "description": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this shared drive.",
              "type": "boolean"
            },
            "canManageMembers": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add members to this shared drive or remove them or change their role."
            },
            "canChangeDownloadRestriction": {
              "description": "Output only. Whether the current user can change organizer-applied download restrictions of this shared drive.",
              "type": "boolean"
            },
            "canEdit": {
              "type": "boolean",
              "description": "Output only. Whether the current user can edit files in this shared drive"
            },
            "canRenameDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can rename this shared drive."
            },
            "canReadRevisions": {
              "type": "boolean",
              "description": "Output only. Whether the current user can read the revisions resource of files in this shared drive."
            },
            "canChangeSharingFoldersRequiresOrganizerPermissionRestriction": {
              "description": "Output only. Whether the current user can change the `sharingFoldersRequiresOrganizerPermission` restriction of this shared drive.",
              "type": "boolean"
            },
            "canDownload": {
              "type": "boolean",
              "description": "Output only. Whether the current user can download files in this shared drive."
            },
            "canDeleteDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can delete this shared drive. Attempting to delete the shared drive may still fail if there are untrashed items inside the shared drive."
            },
            "canChangeDriveBackground": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the background of this shared drive."
            },
            "canResetDriveRestrictions": {
              "description": "Output only. Whether the current user can reset the shared drive restrictions to defaults.",
              "type": "boolean"
            },
            "canComment": {
              "description": "Output only. Whether the current user can comment on files in this shared drive.",
              "type": "boolean"
            },
            "canShare": {
              "description": "Output only. Whether the current user can share files or folders in this shared drive.",
              "type": "boolean"
            },
            "canChangeDriveMembersOnlyRestriction": {
              "description": "Output only. Whether the current user can change the `driveMembersOnly` restriction of this shared drive.",
              "type": "boolean"
            },
            "canChangeDomainUsersOnlyRestriction": {
              "description": "Output only. Whether the current user can change the `domainUsersOnly` restriction of this shared drive.",
              "type": "boolean"
            },
            "canDeleteChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can delete children from folders in this shared drive."
            },
            "canTrashChildren": {
              "description": "Output only. Whether the current user can trash children from folders in this shared drive.",
              "type": "boolean"
            },
            "canAddChildren": {
              "description": "Output only. Whether the current user can add children to folders in this shared drive.",
              "type": "boolean"
            },
            "canListChildren": {
              "description": "Output only. Whether the current user can list the children of folders in this shared drive.",
              "type": "boolean"
            },
            "canRename": {
              "description": "Output only. Whether the current user can rename files or folders in this shared drive.",
              "type": "boolean"
            }
          },
          "description": "Output only. Capabilities the current user has on this shared drive."
        }
      },
      "id": "Drive"
    },
    "GeneratedIds": {
      "id": "GeneratedIds",
      "properties": {
        "ids": {
          "items": {
            "type": "string"
          },
          "description": "The IDs generated for the requesting user in the specified space.",
          "type": "array"
        },
        "kind": {
          "default": "drive#generatedIds",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#generatedIds\"`."
        },
        "space": {
          "description": "The type of file that can be created with these IDs.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A list of generated file IDs which can be provided in create requests."
    },
    "GenerateCseTokenResponse": {
      "properties": {
        "currentKaclsName": {
          "description": "Name of the KACLs that the returned KACLs ID points to.",
          "type": "string"
        },
        "currentKaclsId": {
          "type": "string",
          "description": "The current Key ACL Service (KACLS) ID associated with the JWT.",
          "format": "int64"
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#generateCseTokenResponse\"`.",
          "type": "string"
        },
        "jwt": {
          "type": "string",
          "description": "The signed JSON Web Token (JWT) for the file."
        },
        "fileId": {
          "description": "The fileId for which the JWT was generated.",
          "type": "string"
        }
      },
      "id": "GenerateCseTokenResponse",
      "description": "JWT and associated metadata used to generate CSE files.",
      "type": "object"
    },
    "TeamDrive": {
      "id": "TeamDrive",
      "type": "object",
      "description": "Deprecated: use the drive collection instead. Next ID: 33",
      "properties": {
        "createdTime": {
          "format": "date-time",
          "type": "string",
          "description": "The time at which the Team Drive was created (RFC 3339 date-time)."
        },
        "colorRgb": {
          "description": "The color of this Team Drive as an RGB hex string. It can only be set on a `drive.teamdrives.update` request that does not set `themeId`.",
          "type": "string"
        },
        "backgroundImageLink": {
          "type": "string",
          "description": "A short-lived link to this Team Drive's background image."
        },
        "capabilities": {
          "properties": {
            "canDeleteChildren": {
              "description": "Whether the current user can delete children from folders in this Team Drive.",
              "type": "boolean"
            },
            "canDeleteTeamDrive": {
              "type": "boolean",
              "description": "Whether the current user can delete this Team Drive. Attempting to delete the Team Drive may still fail if there are untrashed items inside the Team Drive."
            },
            "canShare": {
              "type": "boolean",
              "description": "Whether the current user can share files or folders in this Team Drive."
            },
            "canTrashChildren": {
              "type": "boolean",
              "description": "Whether the current user can trash children from folders in this Team Drive."
            },
            "canResetTeamDriveRestrictions": {
              "description": "Whether the current user can reset the Team Drive restrictions to defaults.",
              "type": "boolean"
            },
            "canChangeDownloadRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change organizer-applied download restrictions of this shared drive.",
              "readOnly": true
            },
            "canChangeSharingFoldersRequiresOrganizerPermissionRestriction": {
              "description": "Whether the current user can change the `sharingFoldersRequiresOrganizerPermission` restriction of this Team Drive.",
              "type": "boolean"
            },
            "canChangeTeamDriveBackground": {
              "type": "boolean",
              "description": "Whether the current user can change the background of this Team Drive."
            },
            "canChangeTeamMembersOnlyRestriction": {
              "type": "boolean",
              "description": "Whether the current user can change the `teamMembersOnly` restriction of this Team Drive."
            },
            "canReadRevisions": {
              "description": "Whether the current user can read the revisions resource of files in this Team Drive.",
              "type": "boolean"
            },
            "canRenameTeamDrive": {
              "type": "boolean",
              "description": "Whether the current user can rename this Team Drive."
            },
            "canEdit": {
              "type": "boolean",
              "description": "Whether the current user can edit files in this Team Drive"
            },
            "canAddChildren": {
              "type": "boolean",
              "description": "Whether the current user can add children to folders in this Team Drive."
            },
            "canChangeDomainUsersOnlyRestriction": {
              "type": "boolean",
              "description": "Whether the current user can change the `domainUsersOnly` restriction of this Team Drive."
            },
            "canDownload": {
              "description": "Whether the current user can download files in this Team Drive.",
              "type": "boolean"
            },
            "canCopy": {
              "description": "Whether the current user can copy files in this Team Drive.",
              "type": "boolean"
            },
            "canManageMembers": {
              "type": "boolean",
              "description": "Whether the current user can add members to this Team Drive or remove them or change their role."
            },
            "canListChildren": {
              "type": "boolean",
              "description": "Whether the current user can list the children of folders in this Team Drive."
            },
            "canRename": {
              "type": "boolean",
              "description": "Whether the current user can rename files or folders in this Team Drive."
            },
            "canChangeCopyRequiresWriterPermissionRestriction": {
              "description": "Whether the current user can change the `copyRequiresWriterPermission` restriction of this Team Drive.",
              "type": "boolean"
            },
            "canRemoveChildren": {
              "type": "boolean",
              "description": "Deprecated: Use `canDeleteChildren` or `canTrashChildren` instead.",
              "deprecated": true
            },
            "canComment": {
              "type": "boolean",
              "description": "Whether the current user can comment on files in this Team Drive."
            }
          },
          "description": "Capabilities the current user has on this Team Drive.",
          "type": "object"
        },
        "kind": {
          "type": "string",
          "default": "drive#teamDrive",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#teamDrive\"`."
        },
        "restrictions": {
          "properties": {
            "adminManagedRestrictions": {
              "description": "Whether administrative privileges on this Team Drive are required to modify restrictions.",
              "type": "boolean"
            },
            "copyRequiresWriterPermission": {
              "type": "boolean",
              "description": "Whether the options to copy, print, or download files inside this Team Drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this Team Drive."
            },
            "sharingFoldersRequiresOrganizerPermission": {
              "description": "If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders.",
              "type": "boolean"
            },
            "downloadRestriction": {
              "description": "Download restrictions applied by shared drive managers.",
              "$ref": "DownloadRestriction"
            },
            "domainUsersOnly": {
              "description": "Whether access to this Team Drive and items inside this Team Drive is restricted to users of the domain to which this Team Drive belongs. This restriction may be overridden by other sharing policies controlled outside of this Team Drive.",
              "type": "boolean"
            },
            "teamMembersOnly": {
              "type": "boolean",
              "description": "Whether access to items inside this Team Drive is restricted to members of this Team Drive."
            }
          },
          "description": "A set of restrictions that apply to this Team Drive or items inside this Team Drive.",
          "type": "object"
        },
        "orgUnitId": {
          "type": "string",
          "description": "The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`."
        },
        "id": {
          "type": "string",
          "description": "The ID of this Team Drive which is also the ID of the top level folder of this Team Drive."
        },
        "backgroundImageFile": {
          "properties": {
            "xCoordinate": {
              "type": "number",
              "format": "float",
              "description": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image."
            },
            "id": {
              "type": "string",
              "description": "The ID of an image file in Drive to use for the background image."
            },
            "width": {
              "description": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high.",
              "format": "float",
              "type": "number"
            },
            "yCoordinate": {
              "type": "number",
              "description": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image.",
              "format": "float"
            }
          },
          "type": "object",
          "description": "The background image file for a Team Drive."
        },
        "name": {
          "description": "The name of this Team Drive.",
          "type": "string"
        },
        "themeId": {
          "description": "The ID of the theme from which the background image and color will be set. The set of possible `teamDriveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.teamdrives.create` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "properties": {
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
[...]
