{
  "baseUrl": "https://www.googleapis.com/drive/v2/",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    }
  },
  "protocol": "rest",
  "version": "v2",
  "discoveryVersion": "v1",
  "revision": "20260805",
  "documentationLink": "https://developers.google.com/workspace/drive/",
  "schemas": {
    "CommentReply": {
      "description": "A reply to a comment on a file in Google Drive.",
      "properties": {
        "htmlContent": {
          "description": "HTML formatted content for this reply.",
          "type": "string"
        },
        "content": {
          "type": "string",
          "description": "The plain text content used to create this reply. This is not HTML safe and should only be used as a starting point to make edits to a reply's content. This field is required on inserts if no verb is specified (resolve/reopen).",
          "annotations": {
            "required": [
              "drive.replies.patch",
              "drive.replies.update"
            ]
          }
        },
        "modifiedDate": {
          "format": "date-time",
          "type": "string",
          "description": "The date when this reply was last modified."
        },
        "verb": {
          "type": "string",
          "description": "The action this reply performed to the parent comment. When creating a new reply this is the action to be perform tSo the parent comment. Possible values are: * `resolve` - To resolve a comment. * `reopen` - To reopen (un-resolve) a comment."
        },
        "kind": {
          "description": "This is always drive#commentReply.",
          "default": "drive#commentReply",
          "type": "string"
        },
        "createdDate": {
          "description": "The date when this reply was first created.",
          "type": "string",
          "format": "date-time"
        },
        "author": {
          "description": "The user who wrote this reply.",
          "$ref": "User"
        },
        "deleted": {
          "type": "boolean",
          "description": "Whether this reply has been deleted. If a reply has been deleted the content will be cleared and this will only represent a reply that once existed."
        },
        "replyId": {
          "type": "string",
          "description": "The ID of the reply."
        }
      },
      "type": "object",
      "id": "CommentReply"
    },
    "LabelModification": {
      "id": "LabelModification",
      "type": "object",
      "description": "A modification to a label on a file. A LabelModification can be used to apply a label to a file, update an existing label on a file, or remove a label from a file.",
      "properties": {
        "labelId": {
          "type": "string",
          "description": "The ID of the label to modify.",
          "annotations": {
            "required": [
              "drive.files.modifyLabels"
            ]
          }
        },
        "removeLabel": {
          "type": "boolean",
          "description": "If true, the label will be removed from the file."
        },
        "fieldModifications": {
          "description": "The list of modifications to this label's fields.",
          "items": {
            "$ref": "LabelFieldModification"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "This is always `drive#labelModification`.",
          "default": "drive#labelModification"
        }
      }
    },
    "Label": {
      "id": "Label",
      "description": "Representation of a label and label fields.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `drive#label`",
          "default": "drive#label"
        },
        "id": {
          "description": "The ID of the label.",
          "type": "string"
        },
        "revisionId": {
          "type": "string",
          "description": "The revision ID of the label."
        },
        "fields": {
          "additionalProperties": {
            "$ref": "LabelField"
          },
          "type": "object",
          "description": "A map of the fields on the label, keyed by the field's ID."
        }
      },
      "type": "object"
    },
    "ModifyLabelsResponse": {
      "id": "ModifyLabelsResponse",
      "description": "Response to a ModifyLabels request. This contains only those labels which were added or updated by the request.",
      "properties": {
        "modifiedLabels": {
          "type": "array",
          "description": "The list of labels which were added or updated by the request.",
          "items": {
            "$ref": "Label"
          }
        },
        "kind": {
          "description": "This is always `drive#modifyLabelsResponse`",
          "default": "drive#modifyLabelsResponse",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ChangeList": {
      "id": "ChangeList",
      "description": "A list of changes for a user.",
      "properties": {
        "nextPageToken": {
          "description": "The page token for the next page of changes. This will be absent if the end of the changes list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `drive#changeList`.",
          "default": "drive#changeList"
        },
        "largestChangeId": {
          "type": "string",
          "description": "The current largest change ID.",
          "format": "int64"
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the list."
        },
        "newStartPageToken": {
          "type": "string",
          "description": "The starting page token for future changes. This will be present only if the end of the current changes list has been reached."
        },
        "items": {
          "description": "The list of changes. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "Change"
          },
          "type": "array"
        },
        "selfLink": {
          "type": "string",
          "description": "A link back to this list."
        },
        "nextLink": {
          "type": "string",
          "description": "A link to the next page of changes."
        }
      },
      "type": "object"
    },
    "Channel": {
      "type": "object",
      "description": "A notification channel used to watch for resource changes.",
      "properties": {
        "payload": {
          "type": "boolean",
          "description": "A Boolean value to indicate whether payload is wanted. Optional."
        },
        "expiration": {
          "format": "int64",
          "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies this as a notification channel used to watch for changes to a resource, which is `api#channel`.",
          "default": "api#channel"
        },
        "id": {
          "description": "A UUID or similar unique string that identifies this channel.",
          "type": "string"
        },
        "resourceId": {
          "type": "string",
          "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions."
        },
        "token": {
          "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.",
          "type": "string"
        },
        "resourceUri": {
          "type": "string",
          "description": "A version-specific identifier for the watched resource."
        },
        "type": {
          "description": "The type of delivery mechanism used for this channel. Valid values are \"web_hook\" or \"webhook\".",
          "type": "string"
        },
        "address": {
          "description": "The address where notifications are delivered for this channel.",
          "type": "string"
        },
        "params": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional parameters controlling delivery channel behavior. Optional.",
          "type": "object"
        }
      },
      "id": "Channel"
    },
    "ChildReference": {
      "id": "ChildReference",
      "description": "A reference to a folder's child. Some resource methods (such as `children.get`) require a `childId`. Use the `children.list` method to retrieve the ID of the child.",
      "properties": {
        "selfLink": {
          "description": "Output only. A link back to this reference.",
          "type": "string"
        },
        "kind": {
          "description": "Output only. This is always `drive#childReference`.",
          "default": "drive#childReference",
          "type": "string"
        },
        "childLink": {
          "description": "Output only. A link to the child.",
          "type": "string"
        },
        "id": {
          "description": "The ID of the child.",
          "annotations": {
            "required": [
              "drive.children.insert"
            ]
          },
          "type": "string"
        }
      },
      "type": "object"
    },
    "Comment": {
      "description": "A comment on a file in Google Drive.",
      "properties": {
        "modifiedDate": {
          "type": "string",
          "description": "The date when this comment or any of its replies were last modified.",
          "format": "date-time"
        },
        "fileTitle": {
          "type": "string",
          "description": "The title of the file which this comment is addressing."
        },
        "status": {
          "description": "The status of this comment. Status can be changed by posting a reply to a comment with the desired status. Possible values are: * `open` - The comment is still open. * `resolved` - The comment has been resolved by one of its replies.",
          "type": "string"
        },
        "deleted": {
          "type": "boolean",
          "description": "Whether this comment has been deleted. If a comment has been deleted the content will be cleared and this will only represent a comment that once existed."
        },
        "kind": {
          "description": "This is always drive#comment.",
          "default": "drive#comment",
          "type": "string"
        },
        "fileId": {
          "type": "string",
          "description": "The file which this comment is addressing."
        },
        "anchor": {
          "description": "A region of the document represented as a JSON string. For details on defining anchor properties, refer to [Manage comments and replies](https://developers.google.com/workspace/drive/api/v3/manage-comments).",
          "type": "string"
        },
        "replies": {
          "type": "array",
          "description": "Replies to this post.",
          "items": {
            "$ref": "CommentReply"
          }
        },
        "htmlContent": {
          "description": "HTML formatted content for this comment.",
          "type": "string"
        },
        "content": {
          "description": "The plain text content used to create this comment. This is not HTML safe and should only be used as a starting point to make edits to a comment's content.",
          "annotations": {
            "required": [
              "drive.comments.insert",
              "drive.comments.patch",
              "drive.comments.update"
            ]
          },
          "type": "string"
        },
        "author": {
          "description": "The user who wrote this comment.",
          "$ref": "User"
        },
        "selfLink": {
          "type": "string",
          "description": "A link back to this comment."
        },
        "createdDate": {
          "format": "date-time",
          "description": "The date when this comment was first created.",
          "type": "string"
        },
        "commentId": {
          "description": "The ID of the comment.",
          "type": "string"
        },
        "context": {
          "type": "object",
          "description": "Context of a file which is being commented on.",
          "properties": {
            "type": {
              "type": "string",
              "description": "The MIME type of the context snippet."
            },
            "value": {
              "type": "string",
              "description": "Data representation of the segment of the file being commented on. In the case of a text file for example, this would be the actual text that the comment is about."
            }
          }
        }
      },
      "type": "object",
      "id": "Comment"
    },
    "File": {
      "id": "File",
      "type": "object",
      "description": "The metadata for a file. Some resource methods (such as `files.update`) require a `fileId`. Use the `files.list` method to retrieve the ID for a file.",
      "properties": {
        "isAppAuthorized": {
          "type": "boolean",
          "description": "Output only. Whether the file was created or opened by the requesting app."
        },
        "thumbnail": {
          "type": "object",
          "description": "A thumbnail for the file. This will only be used if a standard thumbnail cannot be generated.",
          "properties": {
            "image": {
              "description": "The URL-safe Base64 encoded bytes of the thumbnail image. It should conform to RFC 4648 section 5.",
              "type": "string",
              "format": "byte"
            },
            "mimeType": {
              "description": "The MIME type of the thumbnail.",
              "type": "string"
            }
          }
        },
        "sharedWithMeDate": {
          "format": "date-time",
          "type": "string",
          "description": "Time at which this file was shared with the user (formatted RFC 3339 timestamp)."
        },
        "alternateLink": {
          "type": "string",
          "description": "Output only. A link for opening the file in a relevant Google editor or viewer."
        },
        "trashedDate": {
          "format": "date-time",
          "type": "string",
          "description": "The time that the item was trashed (formatted RFC 3339 timestamp). Only populated for items in shared drives."
        },
        "fileExtension": {
          "type": "string",
          "description": "Output only. The final component of `fullFileExtension` with trailing text that does not appear to be part of the extension removed. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files."
        },
        "exportLinks": {
          "description": "Output only. Links for exporting Docs Editors files to specific formats.",
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          }
        },
        "webViewLink": {
          "type": "string",
          "description": "Output only. A link only available on public folders for viewing their static web assets (HTML, CSS, JS, etc) via Google Drive's Website Hosting."
        },
        "hasThumbnail": {
          "type": "boolean",
          "description": "Output only. Whether this file has a thumbnail. This does not indicate whether the requesting app has access to the thumbnail. To check access, look for the presence of the thumbnailLink field."
        },
        "downloadUrl": {
          "type": "string",
          "description": "Output only. Short lived download URL for the file. This field is only populated for files with content stored in Google Drive; it is not populated for Google Docs or shortcut files."
        },
        "resourceKey": {
          "type": "string",
          "description": "Output only. A key needed to access the item via a shared link."
        },
        "iconLink": {
          "description": "Output only. A link to the file's icon.",
          "type": "string"
        },
        "labels": {
          "description": "A group of labels for the file.",
          "properties": {
            "starred": {
              "description": "Whether this file is starred by the user.",
              "type": "boolean"
            },
            "trashed": {
              "description": "Whether this file has been trashed. This label applies to all users accessing the file; however, only owners are allowed to see and untrash files.",
              "type": "boolean"
            },
            "restricted": {
              "description": "Output only. Deprecated: Use `copyRequiresWriterPermission` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "modified": {
              "type": "boolean",
              "description": "Output only. Whether the file has been modified by this user."
            },
            "hidden": {
              "deprecated": true,
              "type": "boolean",
              "description": "Output only. Deprecated."
            },
            "viewed": {
              "description": "Whether this file has been viewed by this user.",
              "type": "boolean"
            }
          },
          "type": "object"
        },
        "teamDriveId": {
          "description": "Output only. Deprecated: Use `driveId` instead.",
          "deprecated": true,
          "type": "string"
        },
        "id": {
          "description": "The ID of the file.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Output only. The type of file. This is always `drive#file`.",
          "default": "drive#file"
        },
        "fileSize": {
          "description": "Output only. Size in bytes of blobs and first party editor files. Won't be populated for files that have no size, like shortcuts and folders.",
          "type": "string",
          "format": "int64"
        },
        "fullFileExtension": {
          "type": "string",
          "description": "Output only. The full file extension; extracted from the title. May contain multiple concatenated extensions, such as \"tar.gz\". Removing an extension from the title does not clear this field; however, changing the extension on the title does update this field. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files."
        },
        "canComment": {
          "deprecated": true,
          "type": "boolean",
          "description": "Output only. Deprecated: Use `capabilities/canComment` instead."
        },
        "quotaBytesUsed": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The number of quota bytes used by this file."
        },
        "driveId": {
          "description": "Output only. ID of the shared drive the file resides in. Only populated for items in shared drives.",
          "type": "string"
        },
        "shortcutDetails": {
          "type": "object",
          "description": "Shortcut file details. Only populated for shortcut files, which have the mimeType field set to `application/vnd.google-apps.shortcut`. Can only be set on `files.insert` requests.",
          "properties": {
            "targetResourceKey": {
              "description": "Output only. The ResourceKey for the target file.",
              "type": "string"
            },
            "targetId": {
              "description": "The ID of the file that this shortcut points to. Can only be set on `files.insert` requests.",
              "type": "string"
            },
            "targetMimeType": {
              "description": "Output only. The MIME type of the file that this shortcut points to. The value of this field is a snapshot of the target's MIME type, captured when the shortcut is created.",
              "type": "string"
            }
          }
        },
        "inheritedPermissionsDisabled": {
          "description": "Whether this file has inherited permissions disabled. Inherited permissions are enabled by default.",
          "type": "boolean"
        },
        "canReadRevisions": {
          "deprecated": true,
          "type": "boolean",
          "description": "Output only. Deprecated: Use `capabilities/canReadRevisions` instead."
        },
        "sha256Checksum": {
          "description": "Output only. The SHA256 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "ownedByMe": {
          "description": "Output only. Whether the file is owned by the current user. Not populated for items in shared drives.",
          "type": "boolean"
        },
        "labelInfo": {
          "type": "object",
          "description": "Output only. An overview of the labels on the file.",
          "properties": {
            "labels": {
              "type": "array",
              "description": "Output only. The set of labels on the file as requested by the label IDs in the `includeLabels` parameter. By default, no labels are returned.",
              "items": {
                "$ref": "Label"
              }
            }
          }
        },
        "createdDate": {
          "type": "string",
          "description": "Create time for this file (formatted RFC 3339 timestamp).",
          "format": "date-time"
        },
        "openWithLinks": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Output only. A map of the id of each of the user's apps to a link to open this file with that app. Only populated when the drive.apps.readonly scope is used."
        },
        "headRevisionId": {
          "type": "string",
          "description": "Output only. The ID of the file's head revision. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files."
        },
        "lastModifyingUserName": {
          "description": "Output only. Name of the last user to modify this file.",
          "type": "string"
        },
        "videoMediaMetadata": {
          "type": "object",
          "description": "Output only. Metadata about video media. This will only be present for video types.",
          "properties": {
            "durationMillis": {
              "format": "int64",
              "type": "string",
              "description": "Output only. The duration of the video in milliseconds."
            },
            "height": {
              "type": "integer",
              "description": "Output only. The height of the video in pixels.",
              "format": "int32"
            },
            "width": {
              "type": "integer",
              "description": "Output only. The width of the video in pixels.",
              "format": "int32"
            }
          }
        },
        "thumbnailVersion": {
          "type": "string",
          "description": "Output only. The thumbnail version for use in thumbnail cache invalidation.",
          "format": "int64"
        },
        "folderColorRgb": {
          "type": "string",
          "description": "Folder color as an RGB hex string if the file is a folder or a shortcut to a folder. The list of supported colors is available in the folderColorPalette field of the About resource. If an unsupported color is specified, it will be changed to the closest color in the palette."
        },
        "explicitlyTrashed": {
          "type": "boolean",
          "description": "Output only. Whether this file has been explicitly trashed, as opposed to recursively trashed."
        },
        "properties": {
          "type": "array",
          "description": "The list of properties.",
          "items": {
            "$ref": "Property"
          }
        },
        "writersCanShare": {
          "type": "boolean",
          "description": "Whether writers can share the document with other users. Not populated for items in shared drives."
        },
        "markedViewedByMeDate": {
          "format": "date-time",
          "type": "string",
          "description": "Deprecated."
        },
        "selfLink": {
          "type": "string",
          "description": "Output only. A link back to this file."
        },
        "lastModifyingUser": {
          "$ref": "User",
          "description": "Output only. The last user to modify this file. This field is only populated when the last modification was performed by a signed-in user."
        },
        "appDataContents": {
          "type": "boolean",
          "description": "Output only. Whether this file is in the Application Data folder."
        },
        "modifiedByMeDate": {
          "format": "date-time",
          "description": "Last time this file was modified by the user (formatted RFC 3339 timestamp). Note that setting modifiedDate will also update the modifiedByMe date for the user which set the date.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of this file. Note that for immutable items such as the top level folders of shared drives, My Drive root folder, and Application Data folder the title is constant."
        },
        "permissionIds": {
          "type": "array",
          "description": "Output only. List of permission IDs for users with access to this file.",
          "items": {
            "type": "string"
          }
        },
        "indexableText": {
          "type": "object",
          "description": "Indexable text attributes for the file (can only be written)",
          "properties": {
            "text": {
              "description": "The text to be indexed for this file.",
              "type": "string"
            }
          }
        },
        "ownerNames": {
          "description": "Output only. Name(s) of the owner(s) of this file. Not populated for items in shared drives.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "webContentLink": {
          "type": "string",
          "description": "Output only. A link for downloading the content of the file in a browser using cookie based authentication. In cases where the content is shared publicly, the content can be downloaded without any credentials."
        },
        "clientEncryptionDetails": {
          "$ref": "ClientEncryptionDetails",
          "description": "Client Side Encryption related details. Contains details about the encryption state of the file and details regarding the encryption mechanism that clients need to use when decrypting the contents of this item. This will only be present on files and not on folders or shortcuts."
        },
        "sharingUser": {
          "$ref": "User",
          "description": "Output only. User that shared the item with the current user, if available."
        },
        "description": {
          "description": "A short description of the file.",
          "type": "string"
        },
        "contentRestrictions": {
          "description": "Restrictions for accessing the content of the file. Only populated if such a restriction exists.",
          "items": {
            "$ref": "ContentRestriction"
          },
          "type": "array"
        },
        "defaultOpenWithLink": {
          "description": "Output only. A link to open this file with the user's default app for this file. Only populated when the drive.apps.readonly scope is used.",
          "type": "string"
        },
        "thumbnailLink": {
          "description": "Output only. A short-lived link to the file's thumbnail, if available. Typically lasts on the order of hours. Not intended for direct usage on web applications due to [Cross-Origin Resource Sharing (CORS)](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS), consider using a proxy server. Only populated when the requesting app can access the file's content. If the file isn't shared publicly, the URL returned in `Files.thumbnailLink` must be fetched using a credentialed request.",
          "type": "string"
        },
        "copyable": {
          "description": "Output only. Deprecated: Use `capabilities/canCopy` instead.",
          "deprecated": true,
          "type": "boolean"
        },
        "imageMediaMetadata": {
          "description": "Output only. Metadata about image media. This will only be present for image types, and its contents will depend on what can be parsed from the image content.",
          "properties": {
            "colorSpace": {
              "description": "Output only. The color space of the photo.",
              "type": "string"
            },
            "flashUsed": {
              "description": "Output only. Whether a flash was used to create the photo.",
              "type": "boolean"
            },
            "sensor": {
              "type": "string",
              "description": "Output only. The type of sensor used to create the photo."
            },
            "rotation": {
              "description": "Output only. The number of clockwise 90 degree rotations applied from the image's original orientation.",
              "type": "integer",
              "format": "int32"
            },
            "height": {
              "format": "int32",
              "description": "Output only. The height of the image in pixels.",
              "type": "integer"
            },
            "focalLength": {
              "format": "float",
              "description": "Output only. The focal length used to create the photo, in millimeters.",
              "type": "number"
            },
            "exposureTime": {
              "format": "float",
              "type": "number",
              "description": "Output only. The length of the exposure, in seconds."
            },
            "maxApertureValue": {
              "format": "float",
              "type": "number",
              "description": "Output only. The smallest f-number of the lens at the focal length used to create the photo (APEX value)."
            },
            "subjectDistance": {
              "type": "integer",
              "description": "Output only. The distance to the subject of the photo, in meters.",
              "format": "int32"
            },
            "lens": {
              "type": "string",
              "description": "Output only. The lens used to create the photo."
            },
            "isoSpeed": {
              "format": "int32",
              "type": "integer",
              "description": "Output only. The ISO speed used to create the photo."
            },
            "location": {
              "description": "Output only. Geographic location information stored in the image.",
              "properties": {
                "longitude": {
                  "format": "double",
                  "description": "Output only. The longitude stored in the image.",
                  "type": "number"
                },
                "altitude": {
                  "type": "number",
                  "description": "Output only. The altitude stored in the image.",
                  "format": "double"
                },
                "latitude": {
                  "format": "double",
                  "type": "number",
                  "description": "Output only. The latitude stored in the image."
                }
              },
              "type": "object"
            },
            "width": {
              "format": "int32",
              "type": "integer",
              "description": "Output only. The width of the image in pixels."
            },
            "date": {
              "description": "Output only. The date and time the photo was taken (EXIF format timestamp).",
              "type": "string"
            },
            "aperture": {
              "description": "Output only. The aperture used to create the photo (f-number).",
              "type": "number",
              "format": "float"
            },
            "exposureBias": {
              "format": "float",
              "description": "Output only. The exposure bias of the photo (APEX value).",
              "type": "number"
            },
            "exposureMode": {
              "type": "string",
              "description": "Output only. The exposure mode used to create the photo."
            },
            "meteringMode": {
              "type": "string",
              "description": "Output only. The metering mode used to create the photo."
            },
            "whiteBalance": {
              "type": "string",
              "description": "Output only. The white balance mode used to create the photo."
            },
            "cameraModel": {
              "description": "Output only. The model of the camera used to create the photo.",
              "type": "string"
            },
            "cameraMake": {
              "description": "Output only. The make of the camera used to create the photo.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "version": {
          "format": "int64",
          "description": "Output only. A monotonically increasing version number for the file. This reflects every change made to the file on the server, even those not visible to the requesting user.",
          "type": "string"
        },
        "copyRequiresWriterPermission": {
          "type": "boolean",
          "description": "Whether the options to copy, print, or download this file, should be disabled for readers and commenters."
        },
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the file. This is only mutable on update when uploading new content. This field can be left blank, and the mimetype will be determined from the uploaded content's MIME type."
        },
        "owners": {
          "description": "Output only. The owner of this file. Only certain legacy files may have more than one owner. This field isn't populated for items in shared drives.",
          "items": {
            "$ref": "User"
          },
          "type": "array"
        },
        "parents": {
          "description": "The ID of the parent folder containing the file. A file can only have one parent folder; specifying multiple parents isn't supported. If not specified as part of an insert request, the file is placed directly in the user's My Drive folder. If not specified as part of a copy request, the file inherits any discoverable parent of the source file. Update requests must use the `addParents` and `removeParents` parameters to modify the parents list.",
          "items": {
            "$ref": "ParentReference"
          },
          "type": "array"
        },
        "originalFilename": {
          "type": "string",
          "description": "The original filename of the uploaded content if available, or else the original value of the `title` field. This is only available for files with binary content in Google Drive."
        },
        "linkShareMetadata": {
          "type": "object",
          "description": "Contains details about the link URLs that clients are using to refer to this item.",
          "properties": {
            "securityUpdateEligible": {
              "type": "boolean",
              "description": "Output only. Whether the file is eligible for security update."
            },
            "securityUpdateEnabled": {
              "description": "Output only. Whether the security update is enabled for this file.",
              "type": "boolean"
            }
          }
        },
        "sha1Checksum": {
          "description": "Output only. The SHA1 checksum associated with this file, if available. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files.",
          "type": "string"
        },
        "userPermission": {
          "description": "Output only. The permissions for the authenticated user on this file.",
          "$ref": "Permission"
        },
        "hasAugmentedPermissions": {
          "description": "Output only. Whether there are permissions directly on this file. This field is only populated for items in shared drives.",
          "type": "boolean"
        },
        "spaces": {
          "type": "array",
          "description": "Output only. The list of spaces which contain the file. Supported values are `drive`, `appDataFolder` and `photos`.",
          "items": {
            "type": "string"
          }
        },
        "shareable": {
          "description": "Output only. Deprecated: Use `capabilities/canShare` instead.",
          "deprecated": true,
          "type": "boolean"
        },
        "trashingUser": {
          "description": "Output only. If the file has been explicitly trashed, the user who trashed it. Only populated for items in shared drives.",
          "$ref": "User"
        },
        "editable": {
          "description": "Output only. Deprecated: Use `capabilities/canEdit` instead.",
          "deprecated": true,
          "type": "boolean"
        },
        "embedLink": {
          "type": "string",
          "description": "Output only. A link for embedding the file."
        },
        "permissions": {
          "type": "array",
          "description": "Output only. The list of permissions for users with access to this file. Not populated for items in shared drives.",
          "items": {
            "$ref": "Permission"
          }
        },
        "capabilities": {
          "type": "object",
          "description": "Output only. Capabilities the current user has on this file. Each capability corresponds to a fine-grained action that a user may take.",
          "properties": {
            "canReadLabels": {
              "description": "Output only. Whether the current user can read the labels on the file.",
              "type": "boolean"
            },
            "canRemoveMyDriveParent": {
              "description": "Output only. Whether the current user can remove a parent from the item without adding another parent in the same request. Not populated for shared drive files.",
              "type": "boolean"
            },
            "canRemoveContentRestriction": {
              "type": "boolean",
              "description": "Output only. Whether there is a content restriction on the file that can be removed by the current user."
            },
            "canComment": {
              "type": "boolean",
              "description": "Output only. Whether the current user can comment on this file."
            },
            "canUntrash": {
              "description": "Output only. Whether the current user can restore this file from trash.",
              "type": "boolean"
            },
            "canRename": {
              "description": "Output only. Whether the current user can rename this file.",
              "type": "boolean"
            },
            "canMoveItemOutOfTeamDrive": {
              "description": "Output only. Deprecated: Use `canMoveItemOutOfDrive` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canMoveChildrenWithinTeamDrive": {
              "description": "Output only. Deprecated: Use `canMoveChildrenWithinDrive` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canModifyContentRestriction": {
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Output only. Use one of `canModifyEditorContentRestriction`, `canModifyOwnerContentRestriction` or `canRemoveContentRestriction`."
            },
            "canChangeSecurityUpdateEnabled": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the securityUpdateEnabled field on link share metadata."
            },
            "canAcceptOwnership": {
              "type": "boolean",
              "description": "Output only. Whether the current user is the pending owner of the file. Not populated for shared drive files."
            },
            "canMoveItemIntoTeamDrive": {
              "deprecated": true,
              "type": "boolean",
              "description": "Output only. Deprecated: Use `canMoveItemOutOfDrive` instead."
            },
            "canAddChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add children to this folder. This is always false when the item is not a folder."
            },
            "canAddFolderFromAnotherDrive": {
              "description": "Output only. Whether the current user can add a folder from another drive (different shared drive or My Drive) to this folder. This is false when the item is not a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canModifyOwnerContentRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add or modify content restrictions which are owner restricted."
            },
            "canEnableInheritedPermissions": {
              "type": "boolean",
              "description": "Output only. Whether a user can re-enable inherited permissions.",
              "readOnly": true
            },
            "canTrashChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can trash children of this folder. This is false when the item is not a folder. Only populated for items in shared drives."
            },
            "canMoveChildrenWithinDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can move children of this folder within this drive. This is false when the item is not a folder. Note that a request to move the child may still fail depending on the current user's access to the child and to the destination folder."
            },
            "canChangeRestrictedDownload": {
              "description": "Output only. Deprecated.",
              "deprecated": true,
              "type": "boolean"
            },
            "canMoveTeamDriveItem": {
              "deprecated": true,
              "type": "boolean",
              "description": "Output only. Deprecated: Use `canMoveItemWithinDrive` or `canMoveItemOutOfDrive` instead."
            },
            "canTrash": {
              "type": "boolean",
              "description": "Output only. Whether the current user can move this file to trash."
            },
            "canMoveItemWithinTeamDrive": {
              "deprecated": true,
              "type": "boolean",
              "description": "Output only. Deprecated: Use `canMoveItemWithinDrive` instead."
            },
            "canShare": {
              "description": "Output only. Whether the current user can modify the sharing settings for this file.",
              "type": "boolean"
            },
            "canModifyContent": {
              "description": "Output only. Whether the current user can modify the content of this file.",
              "type": "boolean"
            },
            "canMoveItemWithinDrive": {
              "description": "Output only. Whether the current user can move this item within this drive. Note that a request to change the parent of the item may still fail depending on the new parent that is being added and the parent that is being removed.",
              "type": "boolean"
            },
            "canModifyEditorContentRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add or modify content restrictions on the file which are editor restricted."
            },
            "canDelete": {
              "description": "Output only. Whether the current user can delete this file.",
              "type": "boolean"
            },
            "canDownload": {
              "description": "Output only. Whether the current user can download this file.",
              "type": "boolean"
            },
            "canDisableInheritedPermissions": {
              "readOnly": true,
              "type": "boolean",
              "description": "Output only. Whether a user can disable inherited permissions."
            },
            "canAddMyDriveParent": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add a parent for the item without removing an existing parent in the same request. Not populated for shared drive files."
            },
            "canDeleteChildren": {
              "description": "Output only. Whether the current user can delete children of this folder. This is false when the item is not a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canReadTeamDrive": {
              "description": "Output only. Deprecated: Use `canReadDrive` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canMoveChildrenOutOfTeamDrive": {
              "description": "Output only. Deprecated: Use `canMoveChildrenOutOfDrive` instead.",
              "deprecated": true,
              "type": "boolean"
            },
            "canReadDrive": {
              "description": "Output only. Whether the current user can read the shared drive to which this file belongs. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canChangeCopyRequiresWriterPermission": {
              "description": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this file.",
              "type": "boolean"
            },
            "canMoveItemOutOfDrive": {
              "type": "boolean",
              "description": "Output only. Whether the current user can move this item outside of this drive by changing its parent. Note that a request to change the parent of the item may still fail depending on the new parent that is being added."
            },
            "canModifyLabels": {
              "type": "boolean",
              "description": "Output only. Whether the current user can modify the labels on the file."
            },
            "canReadRevisions": {
              "type": "boolean",
              "description": "Output only. Whether the current user can read the revisions resource of this file. For a shared drive item, whether revisions of non-folder descendants of this item, or this item itself if it is not a folder, can be read."
            },
            "canCopy": {
              "type": "boolean",
              "description": "Output only. Whether the current user can copy this file. For an item in a shared drive, whether the current user can copy non-folder descendants of this item, or this item itself if it is not a folder."
            },
            "canRemoveChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can remove children from this folder. This is always false when the item is not a folder. For a folder in a shared drive, use `canDeleteChildren` or `canTrashChildren` instead."
            },
            "canMoveChildrenOutOfDrive": {
              "description": "Output only. Whether the current user can move children of this folder outside of the shared drive. This is false when the item is not a folder. Only populated for items in shared drives.",
              "type": "boolean"
            },
            "canEdit": {
              "type": "boolean",
              "description": "Output only. Whether the current user can edit this file. Other factors may limit the type of changes a user can make to a file. For example, see `canChangeCopyRequiresWriterPermission` or `canModifyContent`."
            },
            "canListChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can list the children of this folder. This is always false when the item is not a folder."
            }
          }
        },
        "md5Checksum": {
          "type": "string",
          "description": "Output only. An MD5 checksum for the content of this file. This field is only populated for files with content stored in Google Drive; it is not populated for Docs Editors or shortcut files."
        },
        "lastViewedByMeDate": {
          "format": "date-time",
          "type": "string",
          "description": "Last time this file was viewed by the user (formatted RFC 3339 timestamp)."
        },
        "shared": {
          "description": "Output only. Whether the file has been shared. Not populated for items in shared drives.",
          "type": "boolean"
        },
        "modifiedDate": {
          "description": "Last time this file was modified by anyone (formatted RFC 3339 timestamp). This is only mutable on update when the setModifiedDate parameter is set.",
          "type": "string",
          "format": "date-time"
        },
        "etag": {
          "description": "Output only. ETag of the file.",
          "type": "string"
        }
      }
    },
    "Permission": {
      "id": "Permission",
      "description": "A permission for a file. A permission grants a user, group, domain, or the world access to a file or a folder hierarchy. Some resource methods (such as `permissions.update`) require a `permissionId`. Use the `permissions.list` method to retrieve the ID for a file, folder, or shared drive.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The name for this permission."
        },
        "teamDrivePermissionDetails": {
          "readOnly": true,
          "description": "Output only. Deprecated: Use `permissionDetails` instead.",
          "deprecated": true,
          "type": "array",
          "items": {
            "properties": {
              "role": {
                "description": "Output only. Deprecated: Use `permissionDetails/role` instead.",
                "deprecated": true,
                "type": "string"
              },
              "inherited": {
                "deprecated": true,
                "type": "boolean",
                "description": "Output only. Deprecated: Use `permissionDetails/inherited` instead."
              },
              "inheritedFrom": {
                "description": "Output only. Deprecated: Use `permissionDetails/inheritedFrom` instead.",
                "deprecated": true,
                "type": "string"
              },
              "teamDrivePermissionType": {
                "deprecated": true,
                "type": "string",
                "description": "Output only. Deprecated: Use `permissionDetails/permissionType` instead."
              },
              "additionalRoles": {
                "description": "Output only. Deprecated: Use `permissionDetails/additionalRoles` instead.",
                "items": {
                  "type": "string"
                },
                "deprecated": true,
                "type": "array"
              }
            },
            "type": "object"
          }
        },
        "etag": {
          "type": "string",
          "description": "Output only. The ETag of the permission."
        },
        "expirationDate": {
          "type": "string",
          "description": "The time at which this permission will expire (RFC 3339 date-time). Expiration dates have the following restrictions: - They can only be set on user and group permissions - The date must be in the future - The date cannot be more than a year in the future - The date can only be set on drive.permissions.update or drive.permissions.patch requests",
          "format": "date-time"
        },
        "id": {
          "description": "The ID of the user this permission refers to, and identical to the `permissionId` in the About and Files resources. When making a `drive.permissions.insert` request, exactly one of the `id` or `value` fields must be specified unless the permission type is `anyone`, in which case both `id` and `value` are ignored.",
          "type": "string"
        },
        "withLink": {
          "description": "Whether the link is required for this permission.",
          "type": "boolean"
        },
        "view": {
          "description": "Indicates the view for this permission. Only populated for permissions that belong to a view. published and metadata are the only supported values. - published: The permission's role is published_reader. - metadata: The item is only visible to the metadata view because the item has limited access and the scope has at least read access to the parent. Note: The metadata view is currently only supported on folders. ",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Output only. This is always `drive#permission`.",
          "default": "drive#permission"
        },
        "domain": {
          "type": "string",
          "description": "Output only. The domain name of the entity this permission refers to. This is an output-only field which is present when the permission type is `user`, `group` or `domain`."
        },
        "permissionDetails": {
          "type": "array",
          "description": "Output only. Details of whether the permissions on this item are inherited or directly on this item.",
          "items": {
            "type": "object",
            "properties": {
              "permissionType": {
                "type": "string",
                "description": "Output only. The permission type for this user. While new values may be added in future, the following are currently possible: * `file` * `member`"
              },
              "role": {
                "description": "Output only. The primary role for this user. While new values may be added in the future, the following are currently possible: * `organizer` * `fileOrganizer` * `writer` * `reader`",
                "type": "string"
              },
              "inherited": {
                "type": "boolean",
                "description": "Output only. Whether this permission is inherited. This field is always populated."
              },
              "additionalRoles": {
                "description": "Output only. Additional roles for this user. Only `commenter` is currently possible, though more may be supported in the future.",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "inheritedFrom": {
                "description": "Output only. The ID of the item from which this permission is inherited. This is only populated for items in shared drives.",
                "type": "string"
              }
            }
          },
          "readOnly": true
        },
        "authKey": {
          "deprecated": true,
          "type": "string",
          "description": "Output only. Deprecated."
        },
        "deleted": {
          "description": "Output only. Whether the account associated with this permission has been deleted. This field only pertains to user and group permissions.",
          "type": "boolean"
        },
        "emailAddress": {
          "type": "string",
          "description": "Output only. The email address of the user or group this permission refers to. This is an output-only field which is present when the permission type is `user` or `group`."
        },
        "role": {
          "type": "string",
          "description": "The primary role for this user. While new values may be supported in the future, the following are currently allowed: * `owner` * `organizer` * `fileOrganizer` * `writer` * `reader`",
          "annotations": {
            "required": [
              "drive.permissions.insert"
            ]
          }
        },
        "pendingOwner": {
          "description": "Whether the account associated with this permission is a pending owner. Only populated for `user` type permissions for files that are not in a shared drive.",
          "type": "boolean"
        },
        "type": {
          "description": "The account type. Allowed values are: * `user` * `group` * `domain` * `anyone`",
          "annotations": {
            "required": [
              "drive.permissions.insert"
            ]
          },
          "type": "string"
        },
        "additionalRoles": {
          "type": "array",
          "description": "Additional roles for this user. Only `commenter` is currently allowed, though more may be supported in the future.",
          "items": {
            "type": "string"
          }
        },
        "photoLink": {
          "type": "string",
          "description": "Output only. A link to the profile photo, if available."
        },
        "inheritedPermissionsDisabled": {
          "type": "boolean",
          "description": "When true, only organizers, owners, and users with permissions added directly on the item can access it."
        },
        "value": {
          "description": "The email address or domain name for the entity. This is used during inserts and is not populated in responses. When making a `drive.permissions.insert` request, exactly one of the `id` or `value` fields must be specified unless the permission type is `anyone`, in which case both `id` and `value` are ignored.",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "Output only. A link back to this permission."
        }
      },
      "type": "object"
    },
    "PermissionList": {
      "id": "PermissionList",
      "description": "A list of permissions associated with a file.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The page token for the next page of permissions. This field will be absent if the end of the permissions list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results."
        },
        "kind": {
          "type": "string",
          "description": "This is always `drive#permissionList`.",
          "default": "drive#permissionList"
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "The list of permissions.",
          "items": {
            "$ref": "Permission"
          }
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the list."
        }
      },
      "type": "object"
    },
    "LabelField": {
      "id": "LabelField",
      "type": "object",
      "description": "Representation of field, which is a typed key-value pair.",
      "properties": {
        "dateString": {
          "description": "Only present if valueType is dateString. RFC 3339 formatted date: YYYY-MM-DD.",
          "items": {
            "format": "date",
            "type": "string"
          },
          "type": "array"
        },
        "selection": {
          "type": "array",
          "description": "Only present if `valueType` is `selection`",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "type": "string",
          "description": "The identifier of this label field."
        },
        "kind": {
          "description": "This is always `drive#labelField`.",
          "default": "drive#labelField",
          "type": "string"
        },
        "integer": {
          "type": "array",
          "description": "Only present if `valueType` is `integer`.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "valueType": {
          "description": "The field type. While new values may be supported in the future, the following are currently allowed: * `dateString` * `integer` * `selection` * `text` * `user`",
          "type": "string"
        },
        "text": {
          "description": "Only present if `valueType` is `text`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "user": {
          "type": "array",
          "description": "Only present if `valueType` is `user`.",
          "items": {
            "$ref": "User"
          }
        }
      }
    },
    "TeamDrive": {
      "type": "object",
      "description": "Deprecated: Use the `drive` collection instead.",
      "properties": {
        "name": {
          "description": "The name of this Team Drive.",
          "annotations": {
            "required": [
              "drive.teamdrives.insert"
            ]
          },
          "type": "string"
        },
        "orgUnitId": {
          "description": "The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`.",
          "type": "string"
        },
        "backgroundImageLink": {
          "type": "string",
          "description": "A short-lived link to this Team Drive's background image."
        },
        "capabilities": {
          "type": "object",
          "description": "Capabilities the current user has on this Team Drive.",
          "properties": {
            "canDeleteChildren": {
              "type": "boolean",
              "description": "Whether the current user can delete children from folders in this Team Drive."
            },
            "canRename": {
              "type": "boolean",
              "description": "Whether the current user can rename files or folders in this Team Drive."
            },
            "canResetTeamDriveRestrictions": {
              "type": "boolean",
              "description": "Whether the current user can reset the Team Drive restrictions to defaults."
            },
            "canChangeSharingFoldersRequiresOrganizerPermissionRestriction": {
              "description": "Whether the current user can change the `sharingFoldersRequiresOrganizerPermission` restriction of this Team Drive.",
              "type": "boolean"
            },
            "canChangeCopyRequiresWriterPermissionRestriction": {
              "type": "boolean",
              "description": "Whether the current user can change the `copyRequiresWriterPermission` restriction of this Team Drive."
            },
            "canComment": {
              "description": "Whether the current user can comment on files in this Team Drive.",
              "type": "boolean"
            },
            "canDownload": {
              "description": "Whether the current user can download files in this Team Drive.",
              "type": "boolean"
            },
            "canChangeTeamDriveBackground": {
              "type": "boolean",
              "description": "Whether the current user can change the background of this Team Drive."
            },
            "canChangeDomainUsersOnlyRestriction": {
              "type": "boolean",
              "description": "Whether the current user can change the `domainUsersOnly` restriction of this Team Drive."
            },
            "canReadRevisions": {
              "description": "Whether the current user can read the revisions resource of files in this Team Drive.",
              "type": "boolean"
            },
            "canEdit": {
              "type": "boolean",
              "description": "Whether the current user can edit files in this Team Drive"
            },
            "canListChildren": {
              "type": "boolean",
              "description": "Whether the current user can list the children of folders in this Team Drive."
            },
            "canCopy": {
              "description": "Whether the current user can copy files in this Team Drive.",
              "type": "boolean"
            },
            "canRemoveChildren": {
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Use `canDeleteChildren` or `canTrashChildren` instead."
            },
            "canRenameTeamDrive": {
              "type": "boolean",
              "description": "Whether the current user can rename this Team Drive."
            },
            "canShare": {
              "description": "Whether the current user can share files or folders in this Team Drive.",
              "type": "boolean"
            },
            "canManageMembers": {
              "type": "boolean",
              "description": "Whether the current user can add members to this Team Drive or remove them or change their role."
            },
            "canAddChildren": {
              "type": "boolean",
              "description": "Whether the current user can add children to folders in this Team Drive."
            },
            "canChangeTeamMembersOnlyRestriction": {
              "description": "Whether the current user can change the `teamMembersOnly` restriction of this Team Drive.",
              "type": "boolean"
            },
            "canDeleteTeamDrive": {
              "description": "Whether the current user can delete this Team Drive. Attempting to delete the Team Drive may still fail if there are untrashed items inside the Team Drive.",
              "type": "boolean"
            },
            "canTrashChildren": {
              "type": "boolean",
              "description": "Whether the current user can trash children from folders in this Team Drive."
            }
          }
        },
        "colorRgb": {
          "description": "The color of this Team Drive as an RGB hex string. It can only be set on a `drive.teamdrives.update` request that does not set `themeId`.",
          "type": "string"
        },
        "themeId": {
          "description": "The ID of the theme from which the background image and color will be set. The set of possible `teamDriveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.teamdrives.insert` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`.",
          "type": "string"
        },
        "createdDate": {
          "format": "date-time",
          "type": "string",
          "description": "The time at which the Team Drive was created (RFC 3339 date-time)."
        },
        "restrictions": {
          "description": "A set of restrictions that apply to this Team Drive or items inside this Team Drive.",
          "properties": {
            "copyRequiresWriterPermission": {
              "description": "Whether the options to copy, print, or download files inside this Team Drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this Team Drive.",
              "type": "boolean"
            },
            "sharingFoldersRequiresOrganizerPermission": {
              "type": "boolean",
              "description": "If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders."
            },
            "adminManagedRestrictions": {
              "type": "boolean",
              "description": "Whether administrative privileges on this Team Drive are required to modify restrictions."
            },
            "domainUsersOnly": {
              "type": "boolean",
              "description": "Whether access to this Team Drive and items inside this Team Drive is restricted to users of the domain to which this Team Drive belongs. This restriction may be overridden by other sharing policies controlled outside of this Team Drive."
            },
            "teamMembersOnly": {
              "type": "boolean",
              "description": "Whether access to items inside this Team Drive is restricted to members of this Team Drive."
            }
          },
          "type": "object"
        },
        "kind": {
          "description": "This is always `drive#teamDrive`",
          "default": "drive#teamDrive",
          "type": "string"
        },
        "backgroundImageFile": {
          "type": "object",
          "description": "An image file and cropping parameters from which a background image for this Team Drive is set. This is a write only field; it can only be set on `drive.teamdrives.update` requests that don't set `themeId`. When specified, all fields of the `backgroundImageFile` must be set.",
          "properties": {
            "width": {
              "type": "number",
              "description": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high.",
              "format": "float"
            },
            "id": {
              "description": "The ID of an image file in Drive to use for the background image.",
              "type": "string"
            },
            "yCoordinate": {
              "format": "float",
              "type": "number",
              "description": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image."
            },
            "xCoordinate": {
              "format": "float",
              "type": "number",
              "description": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image."
            }
          }
        },
        "id": {
          "description": "The ID of this Team Drive which is also the ID of the top level folder of this Team Drive.",
          "type": "string"
        }
      },
      "id": "TeamDrive"
    },
    "ModifyLabelsRequest": {
      "id": "ModifyLabelsRequest",
      "description": "A request to modify the set of labels on a file. This request may contain many modifications that will either all succeed or all fail atomically.",
      "properties": {
        "labelModifications": {
          "description": "The list of modifications to apply to the labels on the file.",
          "items": {
            "$ref": "LabelModification"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "This is always `drive#modifyLabelsRequest`.",
          "default": "drive#modifyLabelsRequest"
        }
      },
      "type": "object"
    },
    "LabelList": {
      "type": "object",
      "description": "A list of labels applied to a file.",
      "properties": {
        "items": {
          "type": "array",
          "description": "The list of labels.",
          "items": {
            "$ref": "Label"
          }
        },
        "nextPageToken": {
          "description": "The page token for the next page of labels. This field will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `drive#labelList`",
          "default": "drive#labelList"
        }
      },
      "id": "LabelList"
    },
    "TeamDriveList": {
      "id": "TeamDriveList",
      "type": "object",
      "description": "A list of Team Drives.",
      "properties": {
        "nextPageToken": {
          "description": "The page token for the next page of Team Drives.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `drive#teamDriveList`",
          "default": "drive#teamDriveList"
        },
        "items": {
          "type": "array",
          "description": "The list of Team Drives.",
          "items": {
            "$ref": "TeamDrive"
          }
        }
      }
    },
    "DriveList": {
      "type": "object",
      "description": "A list of shared drives.",
      "properties": {
        "nextPageToken": {
          "description": "The page token for the next page of shared drives. This will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `drive#driveList`",
          "default": "drive#driveList"
        },
        "items": {
          "type": "array",
          "description": "The list of shared drives. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "Drive"
          }
        }
      },
      "id": "DriveList"
    },
    "GeneratedIds": {
      "description": "A list of generated IDs which can be provided in insert requests",
      "properties": {
        "ids": {
          "description": "The IDs generated for the requesting user in the specified space.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "space": {
          "description": "The type of file that can be created with these IDs.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `drive#generatedIds`",
          "default": "drive#generatedIds"
        }
      },
      "type": "object",
      "id": "GeneratedIds"
    },
    "CommentReplyList": {
      "description": "A list of replies to a comment on a file in Google Drive.",
      "properties": {
        "items": {
          "description": "The list of replies. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "CommentReply"
          },
          "type": "array"
        },
        "nextLink": {
          "description": "A link to the next page of replies.",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "A link back to this list."
        },
        "kind": {
          "type": "string",
          "description": "This is always `drive#commentReplyList`.",
          "default": "drive#commentReplyList"
        },
        "nextPageToken": {
          "description": "The page token for the next page of replies. This will be absent if the end of the replies list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CommentReplyList"
    },
    "FileList": {
      "type": "object",
      "description": "A list of files.",
      "properties": {
        "incompleteSearch": {
          "description": "Whether the search process was incomplete. If true, then some search results may be missing, since all documents were not searched. This may occur when searching multiple drives with the \"allDrives\" corpora, but all corpora could not be searched. When this happens, it is suggested that clients narrow their query by choosing a different corpus such as \"default\" or \"drive\".",
          "type": "boolean"
        },
        "nextPageToken": {
          "description": "The page token for the next page of files. This will be absent if the end of the files list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `drive#fileList`.",
          "default": "drive#fileList",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the list."
        },
        "items": {
          "description": "The list of files. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.",
          "items": {
            "$ref": "File"
          },
          "type": "array"
        },
        "selfLink": {
          "description": "A link back to this list.",
          "type": "string"
        },
        "nextLink": {
          "type": "string",
          "description": "A link to the next page of files."
        }
      },
      "id": "FileList"
    },
    "StartPageToken": {
      "type": "object",
      "properties": {
        "startPageToken": {
          "type": "string",
          "description": "The starting page token for listing changes."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"drive#startPageToken\"`.",
          "default": "drive#startPageToken",
          "type": "string"
        }
      },
      "id": "StartPageToken"
    },
    "Drive": {
      "id": "Drive",
      "description": "Representation of a shared drive. Some resource methods (such as `drives.update`) require a `driveId`. Use the `drives.list` method to retrieve the ID for a shared drive.",
      "properties": {
        "backgroundImageLink": {
          "description": "Output only. A short-lived link to this shared drive's background image.",
          "type": "string"
        },
        "capabilities": {
          "description": "Output only. Capabilities the current user has on this shared drive.",
          "properties": {
            "canChangeDomainUsersOnlyRestriction": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the `domainUsersOnly` restriction of this shared drive."
            },
            "canChangeDriveMembersOnlyRestriction": {
              "description": "Output only. Whether the current user can change the `driveMembersOnly` restriction of this shared drive.",
              "type": "boolean"
            },
            "canReadRevisions": {
              "description": "Output only. Whether the current user can read the revisions resource of files in this shared drive.",
              "type": "boolean"
            },
            "canCopy": {
              "type": "boolean",
              "description": "Output only. Whether the current user can copy files in this shared drive."
            },
            "canShare": {
              "description": "Output only. Whether the current user can share files or folders in this shared drive.",
              "type": "boolean"
            },
            "canEdit": {
              "description": "Output only. Whether the current user can edit files in this shared drive",
              "type": "boolean"
            },
            "canListChildren": {
              "description": "Output only. Whether the current user can list the children of folders in this shared drive.",
              "type": "boolean"
            },
            "canDeleteDrive": {
              "description": "Output only. Whether the current user can delete this shared drive. Attempting to delete the shared drive may still fail if there are untrashed items inside the shared drive.",
              "type": "boolean"
            },
            "canManageMembers": {
              "description": "Output only. Whether the current user can add members to this shared drive or remove them or change their role.",
              "type": "boolean"
            },
            "canAddChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can add children to folders in this shared drive."
            },
            "canResetDriveRestrictions": {
              "description": "Output only. Whether the current user can reset the shared drive restrictions to defaults.",
              "type": "boolean"
            },
            "canTrashChildren": {
              "type": "boolean",
              "description": "Output only. Whether the current user can trash children from folders in this shared drive."
            },
            "canDeleteChildren": {
              "description": "Output only. Whether the current user can delete children from folders in this shared drive.",
              "type": "boolean"
            },
            "canRename": {
              "description": "Output only. Whether the current user can rename files or folders in this shared drive.",
              "type": "boolean"
            },
            "canRenameDrive": {
              "description": "Output only. Whether the current user can rename this shared drive.",
              "type": "boolean"
            },
            "canChangeDriveBackground": {
              "type": "boolean",
              "description": "Output only. Whether the current user can change the background of this shared drive."
            },
            "canChangeCopyRequiresWriterPermissionRestriction": {
              "description": "Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this shared drive.",
              "type": "boolean"
            },
            "canChangeSharingFoldersRequiresOrganizerPermissionRestriction": {
              "description": "Output only. Whether the current user can change the `sharingFoldersRequiresOrganizerPermission` restriction of this shared drive.",
              "type": "boolean"
            },
            "canComment": {
              "description": "Output only. Whether the current user can comment on files in this shared drive.",
              "type": "boolean"
            },
            "canDownload": {
              "description": "Output only. Whether the current user can download files in this shared drive.",
              "type": "boolean"
            }
          },
          "type": "object"
        },
        "hidden": {
          "type": "boolean",
          "description": "Whether the shared drive is hidden from default view."
        },
        "name": {
          "description": "The name of this shared drive.",
          "annotations": {
            "required": [
              "drive.drives.insert"
            ]
          },
          "type": "string"
        },
        "orgUnitId": {
          "type": "string",
          "description": "Output only. The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`."
        },
        "restrictions": {
          "type": "object",
          "description": "A set of restrictions that apply to this shared drive or items inside this shared drive.",
          "properties": {
            "copyRequiresWriterPermission": {
              "type": "boolean",
              "description": "Whether the options to copy, print, or download files inside this shared drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this shared drive."
            },
            "sharingFoldersRequiresOrganizerPermission": {
              "description": "If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders.",
              "type": "boolean"
            },
            "driveMembersOnly": {
              "type": "boolean",
              "description": "Whether access to items inside this shared drive is restricted to its members."
            },
            "adminManagedRestrictions": {
              "type": "boolean",
              "description": "Whether administrative privileges on this shared drive are required to modify restrictions."
            },
            "domainUsersOnly": {
              "type": "boolean",
              "description": "Whether access to this shared drive and items inside this shared drive is restricted to users of the domain to which this shared drive belongs. This restriction may be overridden by other sharing policies controlled outside of this shared drive."
            }
          }
        },
        "kind": {
          "type": "string",
          "description": "Output only. This is always `drive#drive`",
          "default": "drive#drive"
        },
        "backgroundImageFile": {
          "type": "object",
          "description": "An image file and cropping parameters from which a background image for this shared drive is set. This is a write only field; it can only be set on `drive.drives.update` requests that don't set `themeId`. When specified, all fields of the `backgroundImageFile` must be set.",
          "properties": {
            "width": {
              "type": "number",
              "description": "The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high.",
              "format": "float"
            },
            "id": {
              "description": "The ID of an image file in Google Drive to use for the background image.",
              "type": "string"
            },
            "yCoordinate": {
              "type": "number",
              "description": "The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image.",
              "format": "float"
            },
            "xCoordinate": {
              "format": "float",
              "description": "The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image.",
              "type": "number"
            }
          }
        },
        "id": {
          "description": "Output only. The ID of this shared drive which is also the ID of the top level folder of this shared drive.",
          "type": "string"
        },
        "colorRgb": {
          "description": "The color of this shared drive as an RGB hex string. It can only be set on a `drive.drives.update` request that does not set `themeId`.",
          "type": "string"
        },
        "themeId": {
          "description": "The ID of the theme from which the background image and color will be set. The set of possible `driveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.drives.insert` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`.",
          "type": "string"
        },
        "createdDate": {
          "format": "date-time",
          "type": "string",
          "description": "The time at which the shared drive was created (RFC 3339 date-time)."
        }
      },
      "type": "object"
    },
    "ClientEncryptionDetails": {
      "type": "object",
      "description": "Details about the client-side encryption applied to the file.",
      "properties": {
        "encryptionState": {
          "type": "string",
          "description": "The encryption state of the file. The values expected here are: - encrypted - unencrypted "
        },
        "decryptionMetadata": {
          "description": "The metadata used for client-side operations.",
          "$ref": "DecryptionMetadata"
        }
      },
      "id": "ClientEncryptionDetails"
    },
    "App": {
      "id": "App",
      "description": "The apps resource provides a list of the apps that a user has installed, with information about each app's supported MIME types, file extensions, and other details. Some resource methods (such as `apps.get`) require an `appId`. Use the `apps.list` method to retrieve the ID for an installed application.",
      "properties": {
        "createInFolderTemplate": {
          "type": "string",
          "description": "The template url to create a new file with this app in a given folder. The template will contain {folderId} to be replaced by the folder to create the new file in."
        },
        "supportsCreate": {
          "type": "boolean",
          "description": "Whether this app supports creating new objects."
        },
        "openUrlTemplate": {
          "description": "The template url for opening files with this app. The template will contain `{ids}` and/or `{exportIds}` to be replaced by the actual file ids. See Open Files for the full documentation.",
          "type": "string"
        },
        "supportsOfflineCreate": {
          "type": "boolean",
          "description": "Whether this app supports creating new files when offline."
        },
        "primaryMimeTypes": {
          "type": "array",
          "description": "The list of primary mime types.",
          "items": {
            "type": "string"
          }
        },
        "primaryFileExtensions": {
          "description": "The list of primary file extensions.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "installed": {
          "description": "Whether the app is installed.",
          "type": "boolean"
        },
        "createUrl": {
          "type": "string",
          "description": "The url to create a new file with this app."
        },
        "objectType": {
          "description": "The type of object this app creates (e.g. Chart). If empty, the app name should be used instead.",
          "type": "string"
        },
        "productUrl": {
          "type": "string",
          "description": "A link to the product listing for this app."
        },
        "secondaryMimeTypes": {
          "type": "array",
          "description": "The list of secondary mime types.",
          "items": {
            "type": "string"
          }
        },
        "longDescription": {
          "type": "string",
          "description": "A long description of the app."
        },
        "icons": {
          "description": "The various icons for the app.",
          "items": {
            "properties": {
              "size": {
                "type": "integer",
                "description": "Size of the icon. Represented as the maximum of the width and height.",
                "format": "int32"
              },
              "category": {
                "type": "string",
                "description": "Category of the icon. Allowed values are: * `application` - icon for the application * `document` - icon for a file associated with the app * `documentShared` - icon for a shared file associated with the app"
              },
              "iconUrl": {
                "description": "URL for the icon.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "This is always `drive#app`.",
          "default": "drive#app"
        },
        "hasDriveWideScope": {
          "type": "boolean",
          "description": "Whether the app has drive-wide scope. An app with drive-wide scope can access all files in the user's drive."
        },
        "id": {
          "type": "string",
          "description": "The ID of the app."
        },
        "authorized": {
          "type": "boolean",
          "description": "Whether the app is authorized to access data on the user's Drive."
        },
        "productId": {
          "description": "The ID of the product listing for this app.",
          "type": "string"
        },
        "supportsImport": {
          "type": "boolean",
          "description": "Whether this app supports importing from Docs Editors."
        },
        "secondaryFileExtensions": {
          "type": "array",
          "description": "The list of secondary file extensions.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "The name of the app.",
          "type": "string"
        },
        "useByDefault": {
          "description": "Whether the app is selected as the default handler for the types it supports.",
          "type": "boolean"
        },
        "shortDescription": {
          "description": "A short description of the app.",
          "type": "string"
        },
        "supportsMultiOpen": {
          "type": "boolean",
          "description": "Whether this app supports opening more than one file."
        }
      },
      "type": "object"
    },
    "GenerateCseTokenResponse": {
      "id": "GenerateCseTokenResponse",
      "description": "JWT and associated metadata used to generate CSE files.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#generateCseTokenResponse\"`."
        },
        "currentKaclsId": {
          "description": "The current Key ACL Service (KACLS) ID associated with the JWT.",
          "type": "string",
          "format": "int64"
        },
        "currentKaclsName": {
          "description": "Name of the KACLs that the returned KACLs ID points to.",
          "type": "string"
        },
        "fileId": {
          "type": "string",
          "description": "The fileId for which the JWT was generated."
        },
        "jwt": {
          "type": "string",
          "description": "The signed JSON Web Token (JWT) for the file."
        }
      },
      "type": "object"
    },
    "PermissionId": {
      "id": "PermissionId",
      "description": "An ID for a user or group as seen in Permission items.",
      "properties": {
        "kind": {
          "description": "This is always `drive#permissionId`.",
          "default": "drive#permissionId",
          "type": "string"
        },
        "id": {
          "description": "The permission ID.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ContentRestriction": {
      "id": "ContentRestriction",
      "type": "object",
      "description": "A restriction for accessing the content of the file.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Output only. The type of the content restriction. Currently the only possible value is `globalContentRestriction`."
        },
        "reason": {
          "type": "string",
          "description": "Reason for why the content of the file is restricted. This is only mutable on requests that also set `readOnly=true`."
        },
        "restrictingUser": {
          "description": "Output only. The user who set the content restriction. Only populated if `readOnly` is true.",
          "$ref": "User"
        },
        "restrictionDate": {
          "description": "The time at which the content restriction was set (formatted RFC 3339 timestamp). Only populated if readOnly is true.",
          "type": "string",
          "format": "date-time"
        },
        "ownerRestricted": {
          "description": "Whether the content restriction can only be modified or removed by a user who owns the file. For files in shared drives, any user with `organizer` capabilities can modify or remove this content restriction.",
          "type": "boolean"
        },
        "readOnly": {
          "description": "Whether the content of the file is read-only. If a file is read-only, a new revision of the file may not be added, comments may not be added or modified, and the title of the file may not be modified.",
          "type": "boolean"
        },
[...]
