{
  "title": "Google Drive API",
  "name": "drive",
  "protocol": "rest",
  "revision": "20260901",
  "discoveryVersion": "v1",
  "basePath": "/drive/v2/",
  "documentationLink": "https://developers.google.com/workspace/drive/",
  "resources": {
    "changes": {
      "methods": {
        "getStartPageToken": {
          "response": {
            "$ref": "StartPageToken"
          },
          "httpMethod": "GET",
          "id": "drive.changes.getStartPageToken",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "supportsTeamDrives": {
              "deprecated": true,
              "location": "query",
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false"
            },
            "supportsAllDrives": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "teamDriveId": {
              "deprecated": true,
              "description": "Deprecated: Use `driveId` instead.",
              "location": "query",
              "type": "string"
            },
            "driveId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the shared drive for which the starting pageToken for listing future changes from that shared drive will be returned."
            }
          },
          "flatPath": "changes/startPageToken",
          "path": "changes/startPageToken",
          "parameterOrder": [],
          "description": "Gets the starting pageToken for listing future changes."
        },
        "list": {
          "path": "changes",
          "description": "Lists the changes for a user or shared drive.",
          "supportsSubscription": true,
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "changes",
          "parameters": {
            "includeCorpusRemovals": {
              "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "spaces": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of spaces to query. Supported values are `drive`, `appDataFolder` and `photos`."
            },
            "includePermissionsForView": {
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string"
            },
            "includeTeamDriveItems": {
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "deprecated": true,
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response or to the response from the getStartPageToken method."
            },
            "startChangeId": {
              "location": "query",
              "format": "int64",
              "description": "Deprecated: Use `pageToken` instead.",
              "type": "string",
              "deprecated": true
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "deprecated": true,
              "location": "query",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "teamDriveId": {
              "deprecated": true,
              "type": "string",
              "location": "query",
              "description": "Deprecated: Use `driveId` instead."
            },
            "driveId": {
              "description": "The shared drive from which changes will be returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier.",
              "type": "string",
              "location": "query"
            },
            "includeDeleted": {
              "location": "query",
              "default": "true",
              "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.",
              "type": "boolean"
            },
            "includeLabels": {
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query"
            },
            "maxResults": {
              "default": "100",
              "description": "Maximum number of changes to return.",
              "type": "integer",
              "format": "int32",
              "location": "query",
              "minimum": "1"
            },
            "includeSubscribed": {
              "description": "Whether to include changes outside the My Drive hierarchy in the result. When set to false, changes to files such as those in the Application Data folder or shared files which have not been added to My Drive will be omitted from the result.",
              "default": "true",
              "location": "query",
              "type": "boolean"
            },
            "includeItemsFromAllDrives": {
              "type": "boolean",
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "default": "false",
              "location": "query"
            },
            "supportsAllDrives": {
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "default": "false"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "ChangeList"
          },
          "id": "drive.changes.list"
        },
        "watch": {
          "description": "Subscribe to changes for a user.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "supportsSubscription": true,
          "parameterOrder": [],
          "path": "changes/watch",
          "httpMethod": "POST",
          "response": {
            "$ref": "Channel"
          },
          "id": "drive.changes.watch",
          "flatPath": "changes/watch",
          "parameters": {
            "includeDeleted": {
              "type": "boolean",
              "location": "query",
              "default": "true",
              "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access."
            },
            "spaces": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of spaces to query. Supported values are `drive`, `appDataFolder` and `photos`."
            },
            "includeItemsFromAllDrives": {
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "includeSubscribed": {
              "type": "boolean",
              "default": "true",
              "location": "query",
              "description": "Whether to include changes outside the My Drive hierarchy in the result. When set to false, changes to files such as those in the Application Data folder or shared files which have not been added to My Drive will be omitted from the result."
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "startChangeId": {
              "deprecated": true,
              "type": "string",
              "description": "Deprecated: Use `pageToken` instead.",
              "format": "int64",
              "location": "query"
            },
            "teamDriveId": {
              "location": "query",
              "type": "string",
              "deprecated": true,
              "description": "Deprecated: Use `driveId` instead."
            },
            "driveId": {
              "type": "string",
              "location": "query",
              "description": "The shared drive from which changes will be returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier."
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string",
              "location": "query"
            },
            "includeCorpusRemovals": {
              "type": "boolean",
              "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.",
              "default": "false",
              "location": "query"
            },
            "includeTeamDriveItems": {
              "deprecated": true,
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead."
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "location": "query",
              "type": "boolean",
              "deprecated": true
            },
            "includePermissionsForView": {
              "type": "string",
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "maxResults": {
              "description": "Maximum number of changes to return.",
              "minimum": "1",
              "type": "integer",
              "location": "query",
              "default": "100",
              "format": "int32"
            },
            "pageToken": {
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response or to the response from the getStartPageToken method.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.changes.get",
          "flatPath": "changes/{changeId}",
          "path": "changes/{changeId}",
          "response": {
            "$ref": "Change"
          },
          "parameterOrder": [
            "changeId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "teamDriveId": {
              "location": "query",
              "description": "Deprecated: Use `driveId` instead.",
              "deprecated": true,
              "type": "string"
            },
            "supportsTeamDrives": {
              "location": "query",
              "deprecated": true,
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "supportsAllDrives": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "driveId": {
              "location": "query",
              "description": "The shared drive from which the change will be returned.",
              "type": "string"
            },
            "changeId": {
              "required": true,
              "description": "The ID of the change.",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Deprecated: Use `changes.getStartPageToken` and `changes.list` to retrieve recent changes."
        }
      }
    },
    "parents": {
      "methods": {
        "delete": {
          "id": "drive.parents.delete",
          "parameterOrder": [
            "fileId",
            "parentId"
          ],
          "parameters": {
            "parentId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the parent."
            },
            "enforceSingleParent": {
              "location": "query",
              "type": "boolean",
              "description": "Deprecated: If an item is not in a shared drive and its last parent is removed, the item is placed under its owner's root.",
              "default": "false",
              "deprecated": true
            },
            "fileId": {
              "description": "The ID of the file.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "description": "Removes a parent from a file.",
          "flatPath": "files/{fileId}/parents/{parentId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "httpMethod": "DELETE",
          "path": "files/{fileId}/parents/{parentId}"
        },
        "list": {
          "id": "drive.parents.list",
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID of the file.",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "description": "Lists a file's parents.",
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "files/{fileId}/parents",
          "flatPath": "files/{fileId}/parents",
          "response": {
            "$ref": "ParentList"
          }
        },
        "insert": {
          "path": "files/{fileId}/parents",
          "response": {
            "$ref": "ParentReference"
          },
          "flatPath": "files/{fileId}/parents",
          "id": "drive.parents.insert",
          "httpMethod": "POST",
          "parameters": {
            "supportsAllDrives": {
              "default": "false",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query"
            },
            "enforceSingleParent": {
              "type": "boolean",
              "deprecated": true,
              "default": "false",
              "location": "query",
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead."
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "fileId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the file."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [
            "fileId"
          ],
          "description": "Adds a parent folder for a file.",
          "request": {
            "$ref": "ParentReference"
          }
        },
        "get": {
          "description": "Gets a specific parent reference.",
          "parameterOrder": [
            "fileId",
            "parentId"
          ],
          "httpMethod": "GET",
          "id": "drive.parents.get",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "ParentReference"
          },
          "flatPath": "files/{fileId}/parents/{parentId}",
          "path": "files/{fileId}/parents/{parentId}",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "parentId": {
              "type": "string",
              "required": true,
              "description": "The ID of the parent.",
              "location": "path"
            }
          }
        }
      }
    },
    "apps": {
      "methods": {
        "get": {
          "response": {
            "$ref": "App"
          },
          "parameters": {
            "appId": {
              "description": "The ID of the app.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "appId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.apps.get",
          "flatPath": "apps/{appId}",
          "httpMethod": "GET",
          "path": "apps/{appId}",
          "description": "Gets a specific app."
        },
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/drive.apps.readonly"
          ],
          "description": "Lists a user's installed apps.",
          "parameters": {
            "languageCode": {
              "type": "string",
              "location": "query",
              "description": "A language or locale code, as defined by BCP 47, with some extensions from Unicode's LDML format (http://www.unicode.org/reports/tr35/)."
            },
            "appFilterExtensions": {
              "type": "string",
              "location": "query",
              "default": "",
              "description": "A comma-separated list of file extensions for open with filtering. All apps within the given app query scope which can open any of the given file extensions will be included in the response. If `appFilterMimeTypes` are provided as well, the result is a union of the two resulting app lists."
            },
            "appFilterMimeTypes": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of MIME types for open with filtering. All apps within the given app query scope which can open any of the given MIME types will be included in the response. If `appFilterExtensions` are provided as well, the result is a union of the two resulting app lists.",
              "default": ""
            }
          },
          "path": "apps",
          "flatPath": "apps",
          "response": {
            "$ref": "AppList"
          },
          "id": "drive.apps.list"
        }
      }
    },
    "properties": {
      "methods": {
        "list": {
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the file."
            }
          },
          "description": "Lists a file's properties.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "files/{fileId}/properties",
          "flatPath": "files/{fileId}/properties",
          "response": {
            "$ref": "PropertyList"
          },
          "parameterOrder": [
            "fileId"
          ],
          "httpMethod": "GET",
          "id": "drive.properties.list"
        },
        "update": {
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "path": "files/{fileId}/properties/{propertyKey}",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID of the file.",
              "type": "string"
            },
            "propertyKey": {
              "description": "The key of the property.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "visibility": {
              "description": "The visibility of the property. Allowed values are PRIVATE and PUBLIC. (Default: PRIVATE)",
              "location": "query",
              "type": "string",
              "default": "private"
            }
          },
          "id": "drive.properties.update",
          "response": {
            "$ref": "Property"
          },
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "request": {
            "$ref": "Property"
          },
          "description": "Updates a property."
        },
        "insert": {
          "httpMethod": "POST",
          "id": "drive.properties.insert",
          "parameters": {
            "fileId": {
              "location": "path",
              "required": true,
              "description": "The ID of the file.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "fileId"
          ],
          "description": "Adds a property to a file, or updates it if it already exists.",
          "path": "files/{fileId}/properties",
          "flatPath": "files/{fileId}/properties",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "request": {
            "$ref": "Property"
          },
          "response": {
            "$ref": "Property"
          }
        },
        "get": {
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "description": "Gets a property by its key.",
          "id": "drive.properties.get",
          "path": "files/{fileId}/properties/{propertyKey}",
          "response": {
            "$ref": "Property"
          },
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "httpMethod": "GET",
          "parameters": {
            "propertyKey": {
              "required": true,
              "description": "The key of the property.",
              "type": "string",
              "location": "path"
            },
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "required": true,
              "type": "string"
            },
            "visibility": {
              "description": "The visibility of the property.",
              "type": "string",
              "default": "private",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "delete": {
          "id": "drive.properties.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "httpMethod": "DELETE",
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "visibility": {
              "type": "string",
              "default": "private",
              "description": "The visibility of the property.",
              "location": "query"
            },
            "propertyKey": {
              "type": "string",
              "description": "The key of the property.",
              "location": "path",
              "required": true
            }
          },
          "description": "Deletes a property.",
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "path": "files/{fileId}/properties/{propertyKey}"
        },
        "patch": {
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "response": {
            "$ref": "Property"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "request": {
            "$ref": "Property"
          },
          "parameters": {
            "visibility": {
              "description": "The visibility of the property. Allowed values are PRIVATE and PUBLIC. (Default: PRIVATE)",
              "type": "string",
              "default": "private",
              "location": "query"
            },
            "propertyKey": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The key of the property."
            },
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "files/{fileId}/properties/{propertyKey}",
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "id": "drive.properties.patch",
          "httpMethod": "PATCH",
          "description": "Updates a property."
        }
      }
    },
    "files": {
      "methods": {
        "get": {
          "path": "files/{fileId}",
          "parameterOrder": [
            "fileId"
          ],
          "description": " Gets a file's metadata or content by ID. If you provide the URL parameter `alt=media`, then the response includes the file contents in the response body. Downloading content with `alt=media` only works if the file is stored in Drive. To download Google Docs, Sheets, and Slides use [`files.export`](https://developers.google.com/workspace/drive/api/reference/rest/v2/files/export) instead. For more information, see [Download & export files](https://developers.google.com/workspace/drive/api/guides/manage-downloads).",
          "supportsMediaDownload": true,
          "useMediaDownloadService": true,
          "id": "drive.files.get",
          "parameters": {
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "acknowledgeAbuse": {
              "default": "false",
              "type": "boolean",
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.",
              "location": "query"
            },
            "includeLabels": {
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "revisionId": {
              "description": "Specifies the Revision ID that should be downloaded. Ignored unless alt=media is specified.",
              "location": "query",
              "type": "string"
            },
            "updateViewedDate": {
              "location": "query",
              "description": "Deprecated: Use `files.update` with `modifiedDateBehavior=noChange, updateViewedDate=true` and an empty request body.",
              "default": "false",
              "type": "boolean",
              "deprecated": true
            },
            "fileId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID for the file in question."
            },
            "projection": {
              "enum": [
                "BASIC",
                "FULL"
              ],
              "deprecated": true,
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ],
              "description": "Deprecated: This parameter has no function.",
              "location": "query",
              "type": "string"
            },
            "includePermissionsForView": {
              "location": "query",
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            }
          },
          "response": {
            "$ref": "File"
          },
          "flatPath": "files/{fileId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "supportsSubscription": true,
          "httpMethod": "GET"
        },
        "untrash": {
          "description": "Restores a file from the trash. The currently authenticated user must own the file or be at least a `fileOrganizer` on the parent for shared drive files.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.files.untrash",
          "response": {
            "$ref": "File"
          },
          "parameters": {
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string",
              "location": "query"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query",
              "type": "string"
            },
            "supportsAllDrives": {
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "default": "false"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "location": "query"
            },
            "fileId": {
              "location": "path",
              "description": "The ID of the file to untrash.",
              "type": "string",
              "required": true
            }
          },
          "path": "files/{fileId}/untrash",
          "httpMethod": "POST",
          "parameterOrder": [
            "fileId"
          ],
          "flatPath": "files/{fileId}/untrash"
        },
        "patch": {
          "path": "files/{fileId}",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "File"
          },
          "parameters": {
            "enforceSingleParent": {
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead.",
              "default": "false",
              "type": "boolean",
              "location": "query",
              "deprecated": true
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "type": "boolean",
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query"
            },
            "removeParents": {
              "location": "query",
              "description": "Comma-separated list of parent IDs to remove.",
              "type": "string"
            },
            "timedTextTrackName": {
              "description": "The timed text track name.",
              "location": "query",
              "type": "string"
            },
            "ocrLanguage": {
              "description": "If ocr is true, hints at the language to use. Valid values are BCP 47 codes.",
              "location": "query",
              "type": "string"
            },
            "modifiedDateBehavior": {
              "enum": [
                "fromBody",
                "fromBodyIfNeeded",
                "fromBodyOrNow",
                "noChange",
                "now",
                "nowIfNeeded"
              ],
              "location": "query",
              "enumDescriptions": [
                "Set `modifiedDate` to the value provided in the body of the request. No change if no value was provided.",
                "Set `modifiedDate` to the value provided in the body of the request depending on other contents of the update.",
                "Set modifiedDate to the value provided in the body of the request, or to the current time if no value was provided.",
                "Maintain the previous value of `modifiedDate`.",
                "Set `modifiedDate` to the current time.",
                "Set `modifiedDate` to the current time depending on contents of the update."
              ],
              "type": "string",
              "description": "Determines the behavior in which `modifiedDate` is updated. This overrides `setModifiedDate`."
            },
            "pinned": {
              "default": "false",
              "description": "Whether to pin the new revision. A file can have a maximum of 200 pinned revisions. Note that this field is ignored if there is no payload in the request.",
              "type": "boolean",
              "location": "query"
            },
            "addParents": {
              "description": "Comma-separated list of parent IDs to add.",
              "location": "query",
              "type": "string"
            },
            "includeLabels": {
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query"
            },
            "setModifiedDate": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to set the modified date using the value supplied in the request body. Setting this field to `true` is equivalent to `modifiedDateBehavior=fromBodyOrNow`, and `false` is equivalent to `modifiedDateBehavior=now`. To prevent any changes to the modified date set `modifiedDateBehavior=noChange`.",
              "default": "false"
            },
            "timedTextLanguage": {
              "location": "query",
              "type": "string",
              "description": "The language of the timed text."
            },
            "updateViewedDate": {
              "description": "Whether to update the view date after successfully updating the file.",
              "type": "boolean",
              "default": "true",
              "location": "query"
            },
            "supportsAllDrives": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "newRevision": {
              "default": "true",
              "description": "Whether a blob upload should create a new revision. If false, the blob data in the current head revision is replaced. If true or not set, a new blob is created as head revision, and previous unpinned revisions are preserved for a short period of time. Pinned revisions are stored indefinitely, using additional storage quota, up to a maximum of 200 revisions. For details on how revisions are retained, see the [Drive Help Center](https://support.google.com/drive/answer/2409045). Note that this field is ignored if there is no payload in the request.",
              "type": "boolean",
              "location": "query"
            },
            "useContentAsIndexableText": {
              "description": "Whether to use the content as indexable text.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "fileId": {
              "description": "The ID of the file to update.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "includePermissionsForView": {
              "location": "query",
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "ocr": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads."
            },
            "convert": {
              "description": "Deprecated: This parameter has no function.",
              "location": "query",
              "default": "false",
              "deprecated": true,
              "type": "boolean"
            }
          },
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "File"
          },
          "description": "Updates a file's metadata and/or content. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might change automatically, such as modifiedDate. This method supports patch semantics.",
          "id": "drive.files.patch",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.scripts"
          ],
          "flatPath": "files/{fileId}"
        },
        "emptyTrash": {
          "path": "files/trash",
          "flatPath": "files/trash",
          "httpMethod": "DELETE",
          "parameters": {
            "enforceSingleParent": {
              "type": "boolean",
              "deprecated": true,
              "description": "Deprecated: If an item is not in a shared drive and its last parent is deleted but the item itself is not, the item is placed under its owner's root.",
              "location": "query",
              "default": "false"
            },
            "driveId": {
              "description": "If set, empties the trash of the provided shared drive.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "id": "drive.files.emptyTrash",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "description": "Permanently deletes all of the user's trashed files."
        },
        "update": {
          "httpMethod": "PUT",
          "request": {
            "$ref": "File"
          },
          "id": "drive.files.update",
          "parameters": {
            "convert": {
              "description": "Deprecated: This parameter has no function.",
              "default": "false",
              "type": "boolean",
              "location": "query",
              "deprecated": true
            },
            "addParents": {
              "type": "string",
              "location": "query",
              "description": "Comma-separated list of parent IDs to add."
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string",
              "location": "query"
            },
            "modifiedDateBehavior": {
              "enumDescriptions": [
                "Set `modifiedDate` to the value provided in the body of the request. No change if no value was provided.",
                "Set `modifiedDate` to the value provided in the body of the request depending on other contents of the update.",
                "Set modifiedDate to the value provided in the body of the request, or to the current time if no value was provided.",
                "Maintain the previous value of `modifiedDate`.",
                "Set `modifiedDate` to the current time.",
                "Set `modifiedDate` to the current time depending on contents of the update."
              ],
              "description": "Determines the behavior in which `modifiedDate` is updated. This overrides `setModifiedDate`.",
              "enum": [
                "fromBody",
                "fromBodyIfNeeded",
                "fromBodyOrNow",
                "noChange",
                "now",
                "nowIfNeeded"
              ],
              "type": "string",
              "location": "query"
            },
            "setModifiedDate": {
              "description": "Whether to set the modified date using the value supplied in the request body. Setting this field to `true` is equivalent to `modifiedDateBehavior=fromBodyOrNow`, and `false` is equivalent to `modifiedDateBehavior=now`. To prevent any changes to the modified date set `modifiedDateBehavior=noChange`.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "ocrLanguage": {
              "type": "string",
              "location": "query",
              "description": "If ocr is true, hints at the language to use. Valid values are BCP 47 codes."
            },
            "ocr": {
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "fileId": {
              "type": "string",
              "required": true,
              "description": "The ID of the file to update.",
              "location": "path"
            },
            "supportsAllDrives": {
              "location": "query",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean"
            },
            "useContentAsIndexableText": {
              "description": "Whether to use the content as indexable text.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "includePermissionsForView": {
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query"
            },
            "supportsTeamDrives": {
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "default": "false"
            },
            "removeParents": {
              "description": "Comma-separated list of parent IDs to remove.",
              "location": "query",
              "type": "string"
            },
            "newRevision": {
              "description": "Whether a blob upload should create a new revision. If false, the blob data in the current head revision is replaced. If true or not set, a new blob is created as head revision, and previous unpinned revisions are preserved for a short period of time. Pinned revisions are stored indefinitely, using additional storage quota, up to a maximum of 200 revisions. For details on how revisions are retained, see the [Drive Help Center](https://support.google.com/drive/answer/2409045).",
              "location": "query",
              "type": "boolean",
              "default": "true"
            },
            "updateViewedDate": {
              "default": "true",
              "type": "boolean",
              "description": "Whether to update the view date after successfully updating the file.",
              "location": "query"
            },
            "pinned": {
              "description": "Whether to pin the new revision. A file can have a maximum of 200 pinned revisions.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "enforceSingleParent": {
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead.",
              "default": "false",
              "type": "boolean",
              "deprecated": true,
              "location": "query"
            },
            "timedTextLanguage": {
              "location": "query",
              "description": "The language of the timed text.",
              "type": "string"
            },
            "timedTextTrackName": {
              "location": "query",
              "description": "The timed text track name.",
              "type": "string"
            }
          },
          "path": "files/{fileId}",
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.scripts"
          ],
          "response": {
            "$ref": "File"
          },
          "flatPath": "files/{fileId}",
          "mediaUpload": {
            "maxSize": "5497558138880",
            "accept": [
              "*/*"
            ],
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/drive/v2/files/{fileId}"
              },
              "simple": {
                "path": "/upload/drive/v2/files/{fileId}",
                "multipart": true
              }
            }
          },
          "supportsMediaUpload": true,
          "description": " Updates a file's metadata, content, or both. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might be changed automatically, such as `modifiedDate`. This method supports patch semantics. This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:* `*/*` (Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information, see [Google Workspace and Google Drive supported MIME types](https://developers.google.com/workspace/drive/api/guides/mime-types).) For more information on uploading files, see [Upload file data](https://developers.google.com/workspace/drive/api/guides/manage-uploads)."
        },
        "generateIds": {
          "httpMethod": "GET",
          "flatPath": "files/generateIds",
          "parameterOrder": [],
          "response": {
            "$ref": "GeneratedIds"
          },
          "path": "files/generateIds",
          "parameters": {
            "type": {
              "type": "string",
              "default": "files",
              "location": "query",
              "description": "The type of items which the IDs can be used for. Supported values are `files` and `shortcuts`. Note that `shortcuts` are only supported in the `drive` `space`. (Default: `files`)"
            },
            "space": {
              "description": "The space in which the IDs can be used to create new files. Supported values are `drive` and `appDataFolder`. (Default: `drive`)",
              "default": "drive",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "minimum": "1",
              "description": "Maximum number of IDs to return.",
              "format": "int32",
              "type": "integer",
              "default": "10",
              "maximum": "1000"
            }
          },
          "description": "Generates a set of file IDs which can be provided in insert or copy requests.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.files.generateIds"
        },
        "copy": {
          "description": "Creates a copy of the specified file.",
          "request": {
            "$ref": "File"
          },
          "parameters": {
            "supportsAllDrives": {
              "type": "boolean",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false"
            },
            "supportsTeamDrives": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "includePermissionsForView": {
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string"
            },
            "includeLabels": {
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string"
            },
            "ocr": {
              "default": "false",
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
              "type": "boolean",
              "location": "query"
            },
            "timedTextTrackName": {
              "description": "The timed text track name.",
              "location": "query",
              "type": "string"
            },
            "timedTextLanguage": {
              "type": "string",
              "location": "query",
              "description": "The language of the timed text."
            },
            "pinned": {
              "default": "false",
              "description": "Whether to pin the head revision of the new copy. A file can have a maximum of 200 pinned revisions.",
              "type": "boolean",
              "location": "query"
            },
            "visibility": {
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "The visibility of the new file is determined by the user's default visibility or sharing policies.",
                "The user's default visibility or sharing policies are ignored, and the new file is only visible to the owner and any users with permissions inherited from the parent folder."
              ],
              "default": "DEFAULT",
              "enum": [
                "DEFAULT",
                "PRIVATE"
              ],
              "description": "The visibility of the new file. Permissions are still inherited from parent folders. This parameter is only relevant when the source is not a Google Doc file and when `convert=false`."
            },
            "ocrLanguage": {
              "location": "query",
              "type": "string",
              "description": "If `ocr` is true, hints at the language to use. Valid values are BCP 47 codes."
            },
            "enforceSingleParent": {
              "description": "Deprecated: Copying files into multiple folders is no longer supported. Use shortcuts instead.",
              "deprecated": true,
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "convert": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Whether to convert this file to the corresponding Docs Editors format."
            },
            "fileId": {
              "required": true,
              "location": "path",
              "description": "The ID of the file to copy.",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "id": "drive.files.copy",
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "File"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.photos.readonly"
          ],
          "path": "files/{fileId}/copy",
          "flatPath": "files/{fileId}/copy"
        },
        "insert": {
          "httpMethod": "POST",
          "path": "files",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "request": {
            "$ref": "File"
          },
          "description": " Inserts a new file. This method supports an */upload* URI and accepts uploaded media with the following characteristics: - *Maximum file size:* 5,120 GB - *Accepted Media MIME types:*`*/*` Note: Specify a valid MIME type, rather than the literal `*/*` value. The literal `*/*` is only used to indicate that any valid MIME type can be uploaded. For more information on uploading files, see [Upload file data](https://developers.google.com/workspace/drive/api/guides/manage-uploads). Apps creating shortcuts with `files.insert` must specify the MIME type `application/vnd.google-apps.shortcut`. Apps should specify a file extension in the `title` property when inserting files with the API. For example, an operation to insert a JPEG file should specify something like `\"title\": \"cat.jpg\"` in the metadata. Subsequent `GET` requests include the read-only `fileExtension` property populated with the extension originally specified in the `title` property. When a Google Drive user requests to download a file, or when the file is downloaded through the sync client, Drive builds a full filename (with extension) based on the title. In cases where the extension is missing, Drive attempts to determine the extension based on the file's MIME type.",
          "mediaUpload": {
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/drive/v2/files"
              },
              "simple": {
                "path": "/upload/drive/v2/files",
                "multipart": true
              }
            },
            "accept": [
              "*/*"
            ],
            "maxSize": "5497558138880"
          },
          "parameters": {
            "visibility": {
              "description": "The visibility of the new file. Permissions are still inherited from parent folders. This parameter is only relevant when `convert=false`.",
              "enum": [
                "DEFAULT",
                "PRIVATE"
              ],
              "default": "DEFAULT",
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "The visibility of the new file is determined by the user's default visibility or sharing policies.",
                "The user's default visibility or sharing policies are ignored, and the new file is only visible to the owner and any users with permissions inherited from the parent folder."
              ]
            },
            "ocrLanguage": {
              "description": "If ocr is true, hints at the language to use. Valid values are BCP 47 codes.",
              "location": "query",
              "type": "string"
            },
            "timedTextTrackName": {
              "description": "The timed text track name.",
              "type": "string",
              "location": "query"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "timedTextLanguage": {
              "description": "The language of the timed text.",
              "location": "query",
              "type": "string"
            },
            "includeLabels": {
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "location": "query"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "ocr": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
              "default": "false"
            },
            "convert": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Whether to convert this file to the corresponding Docs Editors format."
            },
            "pinned": {
              "type": "boolean",
              "description": "Whether to pin the head revision of the uploaded file. A file can have a maximum of 200 pinned revisions.",
              "default": "false",
              "location": "query"
            },
            "includePermissionsForView": {
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string"
            },
            "useContentAsIndexableText": {
              "type": "boolean",
              "description": "Whether to use the content as indexable text.",
              "location": "query",
              "default": "false"
            },
            "enforceSingleParent": {
              "deprecated": true,
              "description": "Deprecated: Creating files in multiple folders is no longer supported.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            }
          },
          "flatPath": "files",
          "parameterOrder": [],
          "response": {
            "$ref": "File"
          },
          "id": "drive.files.insert",
          "supportsMediaUpload": true
        },
        "export": {
          "id": "drive.files.export",
          "parameterOrder": [
            "fileId",
            "mimeType"
          ],
          "description": "Exports a Google Workspace document to the requested MIME type and returns exported byte content. Note that the exported content is limited to 10MB.",
          "parameters": {
            "mimeType": {
              "required": true,
              "type": "string",
              "location": "query",
              "description": "Required. The MIME type of the format requested for this export."
            },
            "fileId": {
              "type": "string",
              "description": "The ID of the file.",
              "location": "path",
              "required": true
            }
          },
          "supportsMediaDownload": true,
          "httpMethod": "GET",
          "useMediaDownloadService": true,
          "flatPath": "files/{fileId}/export",
          "path": "files/{fileId}/export",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "watch": {
          "id": "drive.files.watch",
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/watch",
          "description": "Subscribes to changes to a file.",
          "response": {
            "$ref": "Channel"
          },
          "path": "files/{fileId}/watch",
          "request": {
            "parameterName": "resource",
            "$ref": "Channel"
          },
          "httpMethod": "POST",
          "supportsSubscription": true,
          "parameters": {
            "revisionId": {
              "location": "query",
              "type": "string",
              "description": "Specifies the Revision ID that should be downloaded. Ignored unless alt=media is specified."
            },
            "acknowledgeAbuse": {
              "default": "false",
              "location": "query",
              "description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.",
              "type": "boolean"
            },
            "includeLabels": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "supportsAllDrives": {
              "default": "false",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query"
            },
            "includePermissionsForView": {
              "location": "query",
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "location": "query"
            },
            "projection": {
              "deprecated": true,
              "enum": [
                "BASIC",
                "FULL"
              ],
              "location": "query",
              "description": "Deprecated: This parameter has no function.",
              "type": "string",
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ]
            },
            "updateViewedDate": {
              "location": "query",
              "default": "false",
              "deprecated": true,
              "description": "Deprecated: Use files.update with modifiedDateBehavior=noChange, updateViewedDate=true and an empty request body.",
              "type": "boolean"
            },
            "fileId": {
              "required": true,
              "description": "The ID for the file in question.",
              "location": "path",
              "type": "string"
            }
          }
        },
        "list": {
          "parameterOrder": [],
          "path": "files",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameters": {
            "includeLabels": {
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.",
              "type": "string",
              "location": "query"
            },
            "teamDriveId": {
              "description": "Deprecated: Use `driveId` instead.",
              "location": "query",
              "deprecated": true,
              "type": "string"
            },
            "corpus": {
              "type": "string",
              "description": "Deprecated: The body of items (files/documents) to which the query applies. Use `corpora` instead.",
              "location": "query",
              "deprecated": true,
              "enum": [
                "DEFAULT",
                "DOMAIN"
              ],
              "enumDescriptions": [
                "The items that the user has accessed.",
                "Items shared to the user's domain."
              ]
            },
            "q": {
              "location": "query",
              "type": "string",
              "description": "Query string for searching files."
            },
            "includePermissionsForView": {
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string"
            },
            "orderBy": {
              "description": "A comma-separated list of sort keys. Valid keys are: * `createdDate`: When the file was created. * `folder`: The folder ID. This field is sorted using alphabetical ordering. * `lastViewedByMeDate`: The last time the file was viewed by the user. * `modifiedByMeDate`: The last time the file was modified by the user. * `modifiedDate`: The last time the file was modified by anyone. * `quotaBytesUsed`: The number of storage quota bytes used by the file. * `recency`: The most recent timestamp from the file's date-time fields. * `sharedWithMeDate`: When the file was shared with the user, if applicable. * `starred`: Whether the user has starred the file. * `title`: The title of the file. This field is sorted using alphabetical ordering, so 1, 12, 2, 22. * `title_natural`: The title of the file. This field is sorted using natural sort ordering, so 1, 2, 12, 22. Each key sorts ascending by default, but can be reversed with the 'desc' modifier. Example usage: `?orderBy=folder,modifiedDate desc,title`. Note that there's a current limitation for users with approximately one million files in which the requested sort order is ignored.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token for files."
            },
            "driveId": {
              "description": "ID of the shared drive to search.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "minimum": "0",
              "format": "int32",
              "default": "100",
              "type": "integer",
              "description": "The maximum number of files to return per page. Partial or empty result pages are possible even before the end of the files list has been reached."
            },
            "spaces": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of spaces to query. Supported values are `drive`, and `appDataFolder`."
            },
            "corpora": {
              "type": "string",
              "description": "Bodies of items (files/documents) to which the query applies. Supported bodies are `default`, `domain`, `drive` and `allDrives`. Prefer `default` or `drive` to `allDrives` for efficiency.",
              "location": "query"
            },
            "includeItemsFromAllDrives": {
              "default": "false",
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "type": "boolean",
              "location": "query"
            },
            "supportsTeamDrives": {
              "default": "false",
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "deprecated": true
            },
            "supportsAllDrives": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "includeTeamDriveItems": {
              "default": "false",
              "deprecated": true,
              "location": "query",
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "type": "boolean"
            },
            "projection": {
              "enumDescriptions": [
                "Deprecated.",
                "Deprecated."
              ],
              "location": "query",
              "enum": [
                "BASIC",
                "FULL"
              ],
              "description": "Deprecated: This parameter has no function.",
              "type": "string",
              "deprecated": true
            }
          },
          "flatPath": "files",
          "description": " Lists the user's files. For more information, see [Search for files and folders](https://developers.google.com/workspace/drive/api/guides/search-files). This method accepts the `q` parameter, which is a search query combining one or more search terms. This method returns *all* files by default, including trashed files. If you don't want trashed files to appear in the list, use the `trashed=false` query parameter to remove trashed files from the results.",
          "id": "drive.files.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "FileList"
          }
        },
        "touch": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "description": "Set the file's updated time to the current server time.",
          "id": "drive.files.touch",
          "httpMethod": "POST",
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "File"
          },
          "path": "files/{fileId}/touch",
          "parameters": {
            "supportsTeamDrives": {
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "default": "false",
              "deprecated": true
            },
            "fileId": {
              "type": "string",
              "description": "The ID of the file to update.",
              "required": true,
              "location": "path"
            },
            "includeLabels": {
              "type": "string",
              "location": "query",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "supportsAllDrives": {
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "default": "false"
            },
            "includePermissionsForView": {
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "type": "string"
            }
          },
          "flatPath": "files/{fileId}/touch"
        },
        "listLabels": {
          "parameters": {
            "maxResults": {
              "default": "100",
              "description": "The maximum number of labels to return per page. When not set, defaults to 100.",
              "maximum": "100",
              "format": "int32",
              "location": "query",
              "type": "integer",
              "minimum": "1"
            },
            "fileId": {
              "description": "The ID for the file.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "pageToken": {
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.",
              "type": "string"
            }
          },
          "id": "drive.files.listLabels",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Lists the labels on a file.",
          "parameterOrder": [
            "fileId"
          ],
          "flatPath": "files/{fileId}/listLabels",
          "path": "files/{fileId}/listLabels",
          "response": {
            "$ref": "LabelList"
          }
        },
        "trash": {
          "description": "Moves a file to the trash. The currently authenticated user must own the file or be at least a `fileOrganizer` on the parent for shared drive files.",
          "httpMethod": "POST",
          "flatPath": "files/{fileId}/trash",
          "response": {
            "$ref": "File"
          },
          "id": "drive.files.trash",
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "supportsTeamDrives": {
              "type": "boolean",
              "deprecated": true,
              "default": "false",
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "includeLabels": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "supportsAllDrives": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "type": "string",
              "description": "The ID of the file to trash.",
              "required": true,
              "location": "path"
            }
          },
          "path": "files/{fileId}/trash",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "generateCseToken": {
          "httpMethod": "GET",
          "path": "files/generateCseToken",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "id": "drive.files.generateCseToken",
          "parameterOrder": [],
          "description": "Generates a CSE token which can be used to create or update CSE files.",
          "parameters": {
            "fileId": {
              "description": "The ID of the file for which the JWT should be generated. If not provided, an id will be generated.",
              "type": "string",
              "location": "query"
            },
            "parent": {
              "location": "query",
              "description": "The ID of the expected parent of the file. Used when generating a JWT for a new CSE file. If specified, the parent will be fetched, and if the parent is a shared drive item, the shared drive's policy will be used to determine the KACLS that should be used. It is invalid to specify both file_id and parent in a single request.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GenerateCseTokenResponse"
          },
          "flatPath": "files/generateCseToken"
        },
        "delete": {
          "parameters": {
            "fileId": {
              "description": "The ID of the file to delete.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "enforceSingleParent": {
              "location": "query",
              "description": "Deprecated: If an item is not in a shared drive and its last parent is deleted but the item itself is not, the item is placed under its owner's root.",
              "type": "boolean",
              "deprecated": true,
              "default": "false"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            }
          },
          "flatPath": "files/{fileId}",
          "id": "drive.files.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/{fileId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "fileId"
          ],
          "description": "Permanently deletes a file owned by the user without moving it to the trash. If the file belongs to a shared drive, the user must be an `organizer` on the parent folder. If the target is a folder, all descendants owned by the user are also deleted."
        },
        "modifyLabels": {
          "parameters": {
            "fileId": {
              "description": "The ID of the file to which the labels belong.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "path": "files/{fileId}/modifyLabels",
          "httpMethod": "POST",
          "parameterOrder": [
            "fileId"
          ],
          "id": "drive.files.modifyLabels",
          "request": {
            "$ref": "ModifyLabelsRequest"
          },
          "response": {
            "$ref": "ModifyLabelsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "flatPath": "files/{fileId}/modifyLabels",
          "description": "Modifies the set of labels applied to a file. Returns a list of the labels that were added or modified."
        }
      }
    },
    "permissions": {
      "methods": {
        "get": {
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "path": "files/{fileId}/permissions/{permissionId}",
          "description": "Gets a permission by ID.",
          "response": {
            "$ref": "Permission"
          },
          "httpMethod": "GET",
          "id": "drive.permissions.get",
          "parameters": {
            "permissionId": {
              "description": "The ID for the permission.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "location": "query"
            },
            "supportsAllDrives": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID for the file or shared drive."
            },
            "supportsTeamDrives": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true
            }
          },
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "delete": {
          "id": "drive.permissions.delete",
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "parameters": {
            "permissionId": {
              "required": true,
              "location": "path",
              "description": "The ID for the permission.",
              "type": "string"
            },
            "enforceExpansiveAccess": {
              "location": "query",
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: All requests use the expansive access rules.",
              "type": "boolean"
            },
            "supportsTeamDrives": {
              "default": "false",
              "deprecated": true,
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean"
            },
            "fileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID for the file or shared drive."
            },
            "useDomainAdminAccess": {
              "type": "boolean",
              "location": "query",
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs."
            },
            "supportsAllDrives": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            }
          },
          "description": "Deletes a permission from a file or shared drive. **Warning:** Concurrent permissions operations on the same file are not supported; only the last update is applied.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "httpMethod": "DELETE",
          "path": "files/{fileId}/permissions/{permissionId}"
        },
        "list": {
          "parameters": {
            "supportsTeamDrives": {
              "default": "false",
              "deprecated": true,
              "location": "query",
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "includePermissionsForView": {
              "type": "string",
              "location": "query",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "fileId": {
              "description": "The ID for the file or shared drive.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs."
            },
            "supportsAllDrives": {
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "type": "boolean"
            },
            "maxResults": {
              "location": "query",
              "minimum": "1",
              "format": "int32",
              "type": "integer",
              "description": "The maximum number of permissions to return per page. When not set for files in a shared drive, at most 100 results will be returned. When not set for files that are not in a shared drive, the entire list will be returned.",
              "maximum": "100"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response."
            }
          },
          "httpMethod": "GET",
          "path": "files/{fileId}/permissions",
          "parameterOrder": [
            "fileId"
          ],
          "response": {
            "$ref": "PermissionList"
          },
          "description": "Lists a file's or shared drive's permissions.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.permissions.list",
          "flatPath": "files/{fileId}/permissions"
        },
        "update": {
          "httpMethod": "PUT",
          "response": {
            "$ref": "Permission"
          },
          "parameters": {
            "removeExpiration": {
              "description": "Whether to remove the expiration date.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "deprecated": true,
              "default": "false"
            },
            "fileId": {
              "location": "path",
              "description": "The ID for the file or shared drive.",
              "required": true,
              "type": "string"
            },
            "useDomainAdminAccess": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs."
            },
            "supportsAllDrives": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            },
            "permissionId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID for the permission."
            },
            "transferOwnership": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Whether changing a role to `owner` downgrades the current owners to writers. Does nothing if the specified role is not `owner`."
            },
            "enforceExpansiveAccess": {
              "deprecated": true,
              "location": "query",
              "description": "Deprecated: All requests use the expansive access rules.",
              "default": "false",
              "type": "boolean"
            }
          },
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "request": {
            "$ref": "Permission"
          },
          "id": "drive.permissions.update",
          "description": "Updates a permission. **Warning:** Concurrent permissions operations on the same file are not supported; only the last update is applied.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/{fileId}/permissions/{permissionId}",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ]
        },
        "getIdForEmail": {
          "description": "Returns the permission ID for an email address.",
          "flatPath": "permissionIds/{email}",
          "httpMethod": "GET",
          "path": "permissionIds/{email}",
          "parameters": {
            "email": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The email address for which to return a permission ID"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "PermissionId"
          },
[...]
