{
  "servicePath": "drive/v2/",
  "documentationLink": "https://developers.google.com/workspace/drive/",
  "name": "drive",
  "version": "v2",
  "discoveryVersion": "v1",
  "batchPath": "batch/drive/v2",
  "revision": "20260819",
  "baseUrl": "https://www.googleapis.com/drive/v2/",
  "description": "The Google Drive API allows clients to access resources from Google Drive.",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "drive:v2",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "basePath": "/drive/v2/",
  "resources": {
    "comments": {
      "methods": {
        "patch": {
          "description": "Updates an existing comment.",
          "path": "files/{fileId}/comments/{commentId}",
          "httpMethod": "PATCH",
          "parameters": {
            "commentId": {
              "type": "string",
              "required": true,
              "description": "The ID of the comment.",
              "location": "path"
            },
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "drive.comments.patch",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "request": {
            "$ref": "Comment"
          },
          "response": {
            "$ref": "Comment"
          }
        },
        "insert": {
          "parameterOrder": [
            "fileId"
          ],
          "description": "Creates a new comment on the given file.",
          "response": {
            "$ref": "Comment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "flatPath": "files/{fileId}/comments",
          "request": {
            "$ref": "Comment"
          },
          "id": "drive.comments.insert",
          "httpMethod": "POST",
          "parameters": {
            "fileId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the file."
            }
          },
          "path": "files/{fileId}/comments"
        },
        "update": {
          "flatPath": "files/{fileId}/comments/{commentId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "request": {
            "$ref": "Comment"
          },
          "response": {
            "$ref": "Comment"
          },
          "httpMethod": "PUT",
          "parameters": {
            "commentId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the comment."
            },
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "id": "drive.comments.update",
          "path": "files/{fileId}/comments/{commentId}",
          "description": "Updates an existing comment.",
          "parameterOrder": [
            "fileId",
            "commentId"
          ]
        },
        "list": {
          "id": "drive.comments.list",
          "response": {
            "$ref": "CommentList"
          },
          "parameterOrder": [
            "fileId"
          ],
          "flatPath": "files/{fileId}/comments",
          "httpMethod": "GET",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "maxResults": {
              "format": "int32",
              "minimum": "0",
              "description": "The maximum number of discussions to include in the response, used for paging.",
              "location": "query",
              "default": "20",
              "maximum": "100",
              "type": "integer"
            },
            "includeDeleted": {
              "description": "If set, all comments and replies, including deleted comments and replies (with content stripped) will be returned.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response."
            },
            "updatedMin": {
              "description": "Only discussions that were updated after this timestamp will be returned. Formatted as an RFC 3339 timestamp.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Lists a file's comments.",
          "path": "files/{fileId}/comments"
        },
        "delete": {
          "flatPath": "files/{fileId}/comments/{commentId}",
          "description": "Deletes a comment.",
          "id": "drive.comments.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/{fileId}/comments/{commentId}",
          "httpMethod": "DELETE",
          "parameters": {
            "fileId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the file.",
              "required": true
            },
            "commentId": {
              "description": "The ID of the comment.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "fileId",
            "commentId"
          ]
        },
        "get": {
          "id": "drive.comments.get",
          "httpMethod": "GET",
          "parameters": {
            "includeDeleted": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "If set, this will succeed when retrieving a deleted comment, and will include any deleted replies."
            },
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "commentId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the comment.",
              "required": true
            }
          },
          "flatPath": "files/{fileId}/comments/{commentId}",
          "path": "files/{fileId}/comments/{commentId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "Comment"
          },
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "description": "Gets a comment by ID."
        }
      }
    },
    "apps": {
      "methods": {
        "list": {
          "description": "Lists a user's installed apps.",
          "httpMethod": "GET",
          "parameters": {
            "appFilterExtensions": {
              "location": "query",
              "type": "string",
              "default": "",
              "description": "A comma-separated list of file extensions for open with filtering. All apps within the given app query scope which can open any of the given file extensions will be included in the response. If `appFilterMimeTypes` are provided as well, the result is a union of the two resulting app lists."
            },
            "appFilterMimeTypes": {
              "type": "string",
              "description": "A comma-separated list of MIME types for open with filtering. All apps within the given app query scope which can open any of the given MIME types will be included in the response. If `appFilterExtensions` are provided as well, the result is a union of the two resulting app lists.",
              "default": "",
              "location": "query"
            },
            "languageCode": {
              "type": "string",
              "location": "query",
              "description": "A language or locale code, as defined by BCP 47, with some extensions from Unicode's LDML format (http://www.unicode.org/reports/tr35/)."
            }
          },
          "response": {
            "$ref": "AppList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.apps.readonly"
          ],
          "parameterOrder": [],
          "flatPath": "apps",
          "id": "drive.apps.list",
          "path": "apps"
        },
        "get": {
          "response": {
            "$ref": "App"
          },
          "parameterOrder": [
            "appId"
          ],
          "description": "Gets a specific app.",
          "httpMethod": "GET",
          "parameters": {
            "appId": {
              "type": "string",
              "required": true,
              "description": "The ID of the app.",
              "location": "path"
            }
          },
          "flatPath": "apps/{appId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "apps/{appId}",
          "id": "drive.apps.get"
        }
      }
    },
    "children": {
      "methods": {
        "get": {
          "id": "drive.children.get",
          "description": "Gets a specific child reference.",
          "flatPath": "files/{folderId}/children/{childId}",
          "httpMethod": "GET",
          "parameters": {
            "folderId": {
              "type": "string",
              "description": "The ID of the folder.",
              "location": "path",
              "required": true
            },
            "childId": {
              "description": "The ID of the child.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "path": "files/{folderId}/children/{childId}",
          "response": {
            "$ref": "ChildReference"
          },
          "parameterOrder": [
            "folderId",
            "childId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "list": {
          "parameterOrder": [
            "folderId"
          ],
          "path": "files/{folderId}/children",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.children.list",
          "httpMethod": "GET",
          "parameters": {
            "orderBy": {
              "location": "query",
              "description": "A comma-separated list of sort keys. Valid keys are `createdDate`, `folder`, `lastViewedByMeDate`, `modifiedByMeDate`, `modifiedDate`, `quotaBytesUsed`, `recency`, `sharedWithMeDate`, `starred`, and `title`. Each key sorts ascending by default, but may be reversed with the `desc` modifier. Example usage: ?orderBy=folder,modifiedDate desc,title. Please note that there is a current limitation for users with approximately one million files in which the requested sort order is ignored.",
              "type": "string"
            },
            "folderId": {
              "description": "The ID of the folder.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "maxResults": {
              "default": "100",
              "type": "integer",
              "description": "Maximum number of children to return.",
              "location": "query",
              "minimum": "0",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Page token for children."
            },
            "q": {
              "location": "query",
              "description": "Query string for searching children.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "ChildList"
          },
          "flatPath": "files/{folderId}/children",
          "description": "Lists a folder's children."
        },
        "delete": {
          "id": "drive.children.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/{folderId}/children/{childId}",
          "httpMethod": "DELETE",
          "parameters": {
            "folderId": {
              "location": "path",
              "description": "The ID of the folder.",
              "required": true,
              "type": "string"
            },
            "enforceSingleParent": {
              "description": "Deprecated: If an item is not in a shared drive and its last parent is removed, the item is placed under its owner's root.",
              "deprecated": true,
              "default": "false",
              "type": "boolean",
              "location": "query"
            },
            "childId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the child."
            }
          },
          "flatPath": "files/{folderId}/children/{childId}",
          "description": "Removes a child from a folder.",
          "parameterOrder": [
            "folderId",
            "childId"
          ]
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [
            "folderId"
          ],
          "response": {
            "$ref": "ChildReference"
          },
          "httpMethod": "POST",
          "parameters": {
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "folderId": {
              "description": "The ID of the folder.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "enforceSingleParent": {
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead.",
              "type": "boolean",
              "deprecated": true,
              "default": "false",
              "location": "query"
            },
            "supportsAllDrives": {
              "type": "boolean",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false"
            }
          },
          "description": "Inserts a file into a folder.",
          "flatPath": "files/{folderId}/children",
          "path": "files/{folderId}/children",
          "request": {
            "$ref": "ChildReference"
          },
          "id": "drive.children.insert"
        }
      }
    },
    "revisions": {
      "methods": {
        "delete": {
          "id": "drive.revisions.delete",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "description": "Permanently deletes a file version. You can only delete revisions for files with binary content, like images or videos. Revisions for other files, like Google Docs or Sheets, and the last remaining file version can't be deleted.",
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "httpMethod": "DELETE",
          "parameters": {
            "revisionId": {
              "location": "path",
              "description": "The ID of the revision.",
              "type": "string",
              "required": true
            },
            "fileId": {
              "type": "string",
              "required": true,
              "description": "The ID of the file.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "path": "files/{fileId}/revisions/{revisionId}"
        },
        "update": {
          "id": "drive.revisions.update",
          "description": "Updates a revision.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "response": {
            "$ref": "Revision"
          },
          "httpMethod": "PUT",
          "parameters": {
            "fileId": {
              "description": "The ID for the file.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "revisionId": {
              "required": true,
              "description": "The ID for the revision.",
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "Revision"
          },
          "path": "files/{fileId}/revisions/{revisionId}",
          "flatPath": "files/{fileId}/revisions/{revisionId}"
        },
        "patch": {
          "id": "drive.revisions.patch",
          "response": {
            "$ref": "Revision"
          },
          "request": {
            "$ref": "Revision"
          },
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/{fileId}/revisions/{revisionId}",
          "httpMethod": "PATCH",
          "parameters": {
            "fileId": {
              "required": true,
              "description": "The ID for the file.",
              "location": "path",
              "type": "string"
            },
            "revisionId": {
              "required": true,
              "description": "The ID for the revision.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Updates a revision."
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/revisions/{revisionId}",
          "httpMethod": "GET",
          "parameters": {
            "revisionId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the revision.",
              "required": true
            },
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "description": "Gets a specific revision.",
          "path": "files/{fileId}/revisions/{revisionId}",
          "response": {
            "$ref": "Revision"
          },
          "parameterOrder": [
            "fileId",
            "revisionId"
          ],
          "id": "drive.revisions.get"
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Page token for revisions. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response.",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "minimum": "1",
              "description": "Maximum number of revisions to return.",
              "location": "query",
              "default": "200",
              "maximum": "1000",
              "format": "int32"
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the file.",
              "required": true
            }
          },
          "parameterOrder": [
            "fileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "RevisionList"
          },
          "id": "drive.revisions.list",
          "path": "files/{fileId}/revisions",
          "flatPath": "files/{fileId}/revisions",
          "description": "Lists a file's revisions. **Important:** The list of revisions returned by this method might be incomplete for files with a large revision history, including frequently edited Google Docs, Sheets, and Slides. Older revisions might be omitted from the response, meaning the first revision returned may not be the oldest existing revision. The revision history visible in the Workspace editor user interface might be more complete than the list returned by the API."
        }
      }
    },
    "replies": {
      "methods": {
        "patch": {
          "id": "drive.replies.patch",
          "request": {
            "$ref": "CommentReply"
          },
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "description": "Updates an existing reply.",
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "response": {
            "$ref": "CommentReply"
          },
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "httpMethod": "PATCH",
          "parameters": {
            "commentId": {
              "description": "The ID of the comment.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "replyId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the reply."
            },
            "fileId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the file."
            }
          }
        },
        "delete": {
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "description": "Deletes a reply.",
          "httpMethod": "DELETE",
          "parameters": {
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "location": "path",
              "type": "string"
            },
            "commentId": {
              "description": "The ID of the comment.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "replyId": {
              "required": true,
              "location": "path",
              "description": "The ID of the reply.",
              "type": "string"
            }
          },
          "id": "drive.replies.delete"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": "Lists all of the replies to a comment.",
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "id": "drive.replies.list",
          "httpMethod": "GET",
          "parameters": {
            "commentId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the comment.",
              "required": true
            },
            "fileId": {
              "type": "string",
              "description": "The ID of the file.",
              "location": "path",
              "required": true
            },
            "pageToken": {
              "location": "query",
              "description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response.",
              "type": "string"
            },
            "maxResults": {
              "minimum": "0",
              "default": "20",
              "maximum": "100",
              "format": "int32",
              "description": "The maximum number of replies to include in the response, used for paging.",
              "location": "query",
              "type": "integer"
            },
            "includeDeleted": {
              "default": "false",
              "location": "query",
              "description": "If set, all replies, including deleted replies (with content stripped) will be returned.",
              "type": "boolean"
            }
          },
          "response": {
            "$ref": "CommentReplyList"
          },
          "path": "files/{fileId}/comments/{commentId}/replies",
          "flatPath": "files/{fileId}/comments/{commentId}/replies"
        },
        "insert": {
          "request": {
            "$ref": "CommentReply"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "parameterOrder": [
            "fileId",
            "commentId"
          ],
          "description": "Creates a new reply to the given comment.",
          "response": {
            "$ref": "CommentReply"
          },
          "flatPath": "files/{fileId}/comments/{commentId}/replies",
          "path": "files/{fileId}/comments/{commentId}/replies",
          "httpMethod": "POST",
          "parameters": {
            "commentId": {
              "location": "path",
              "description": "The ID of the comment.",
              "type": "string",
              "required": true
            },
            "fileId": {
              "description": "The ID of the file.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "drive.replies.insert"
        },
        "update": {
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "httpMethod": "PUT",
          "parameters": {
            "commentId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the comment."
            },
            "replyId": {
              "type": "string",
              "required": true,
              "description": "The ID of the reply.",
              "location": "path"
            },
            "fileId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the file."
            }
          },
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "request": {
            "$ref": "CommentReply"
          },
          "response": {
            "$ref": "CommentReply"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "description": "Updates an existing reply.",
          "id": "drive.replies.update"
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "commentId": {
              "required": true,
              "location": "path",
              "description": "The ID of the comment.",
              "type": "string"
            },
            "fileId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the file."
            },
            "replyId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the reply."
            },
            "includeDeleted": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "If set, this will succeed when retrieving a deleted reply."
            }
          },
          "description": "Gets a reply.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.replies.get",
          "parameterOrder": [
            "fileId",
            "commentId",
            "replyId"
          ],
          "flatPath": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "path": "files/{fileId}/comments/{commentId}/replies/{replyId}",
          "response": {
            "$ref": "CommentReply"
          }
        }
      }
    },
    "parents": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "fileId": {
              "required": true,
              "description": "The ID of the file.",
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "ParentList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "files/{fileId}/parents",
          "flatPath": "files/{fileId}/parents",
          "description": "Lists a file's parents.",
          "parameterOrder": [
            "fileId"
          ],
          "id": "drive.parents.list"
        },
        "delete": {
          "flatPath": "files/{fileId}/parents/{parentId}",
          "parameterOrder": [
            "fileId",
            "parentId"
          ],
          "id": "drive.parents.delete",
          "description": "Removes a parent from a file.",
          "path": "files/{fileId}/parents/{parentId}",
          "httpMethod": "DELETE",
          "parameters": {
            "enforceSingleParent": {
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: If an item is not in a shared drive and its last parent is removed, the item is placed under its owner's root."
            },
            "parentId": {
              "required": true,
              "description": "The ID of the parent.",
              "type": "string",
              "location": "path"
            },
            "fileId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the file.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "get": {
          "path": "files/{fileId}/parents/{parentId}",
          "description": "Gets a specific parent reference.",
          "id": "drive.parents.get",
          "parameterOrder": [
            "fileId",
            "parentId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "files/{fileId}/parents/{parentId}",
          "response": {
            "$ref": "ParentReference"
          },
          "httpMethod": "GET",
          "parameters": {
            "fileId": {
              "description": "The ID of the file.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "parentId": {
              "type": "string",
              "required": true,
              "description": "The ID of the parent.",
              "location": "path"
            }
          }
        },
        "insert": {
          "id": "drive.parents.insert",
          "request": {
            "$ref": "ParentReference"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "httpMethod": "POST",
          "parameters": {
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "type": "string",
              "required": true
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "enforceSingleParent": {
              "default": "false",
              "deprecated": true,
              "description": "Deprecated: Adding files to multiple folders is no longer supported. Use `shortcuts` instead.",
              "location": "query",
              "type": "boolean"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "location": "query"
            }
          },
          "path": "files/{fileId}/parents",
          "response": {
            "$ref": "ParentReference"
          },
          "parameterOrder": [
            "fileId"
          ],
          "description": "Adds a parent folder for a file.",
          "flatPath": "files/{fileId}/parents"
        }
      }
    },
    "properties": {
      "methods": {
        "patch": {
          "id": "drive.properties.patch",
          "httpMethod": "PATCH",
          "parameters": {
            "propertyKey": {
              "description": "The key of the property.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "visibility": {
              "type": "string",
              "default": "private",
              "description": "The visibility of the property. Allowed values are PRIVATE and PUBLIC. (Default: PRIVATE)",
              "location": "query"
            },
            "fileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the file."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "response": {
            "$ref": "Property"
          },
          "description": "Updates a property.",
          "request": {
            "$ref": "Property"
          },
          "path": "files/{fileId}/properties/{propertyKey}"
        },
        "list": {
          "flatPath": "files/{fileId}/properties",
          "path": "files/{fileId}/properties",
          "response": {
            "$ref": "PropertyList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.properties.list",
          "parameterOrder": [
            "fileId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "fileId": {
              "required": true,
              "type": "string",
              "description": "The ID of the file.",
              "location": "path"
            }
          },
          "description": "Lists a file's properties."
        },
        "insert": {
          "path": "files/{fileId}/properties",
          "request": {
            "$ref": "Property"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "httpMethod": "POST",
          "parameters": {
            "fileId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the file."
            }
          },
          "response": {
            "$ref": "Property"
          },
          "flatPath": "files/{fileId}/properties",
          "id": "drive.properties.insert",
          "description": "Adds a property to a file, or updates it if it already exists.",
          "parameterOrder": [
            "fileId"
          ]
        },
        "update": {
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "description": "Updates a property.",
          "request": {
            "$ref": "Property"
          },
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "id": "drive.properties.update",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "fileId": {
              "type": "string",
              "description": "The ID of the file.",
              "required": true,
              "location": "path"
            },
            "propertyKey": {
              "description": "The key of the property.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "visibility": {
              "location": "query",
              "description": "The visibility of the property. Allowed values are PRIVATE and PUBLIC. (Default: PRIVATE)",
              "type": "string",
              "default": "private"
            }
          },
          "response": {
            "$ref": "Property"
          },
          "path": "files/{fileId}/properties/{propertyKey}"
        },
        "get": {
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "response": {
            "$ref": "Property"
          },
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "path": "files/{fileId}/properties/{propertyKey}",
          "httpMethod": "GET",
          "parameters": {
            "fileId": {
              "location": "path",
              "description": "The ID of the file.",
              "required": true,
              "type": "string"
            },
            "propertyKey": {
              "location": "path",
              "type": "string",
              "description": "The key of the property.",
              "required": true
            },
            "visibility": {
              "description": "The visibility of the property.",
              "default": "private",
              "type": "string",
              "location": "query"
            }
          },
          "id": "drive.properties.get",
          "description": "Gets a property by its key.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "delete": {
          "flatPath": "files/{fileId}/properties/{propertyKey}",
          "httpMethod": "DELETE",
          "parameters": {
            "propertyKey": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The key of the property."
            },
            "visibility": {
              "description": "The visibility of the property.",
              "location": "query",
              "default": "private",
              "type": "string"
            },
            "fileId": {
              "type": "string",
              "required": true,
              "description": "The ID of the file.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "fileId",
            "propertyKey"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata"
          ],
          "description": "Deletes a property.",
          "path": "files/{fileId}/properties/{propertyKey}",
          "id": "drive.properties.delete"
        }
      }
    },
    "permissions": {
      "methods": {
        "list": {
          "path": "files/{fileId}/permissions",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "parameterOrder": [
            "fileId"
          ],
          "description": "Lists a file's or shared drive's permissions.",
          "flatPath": "files/{fileId}/permissions",
          "httpMethod": "GET",
          "parameters": {
            "supportsTeamDrives": {
              "default": "false",
              "location": "query",
              "type": "boolean",
              "deprecated": true,
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response."
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "fileId": {
              "type": "string",
              "location": "path",
              "description": "The ID for the file or shared drive.",
              "required": true
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "minimum": "1",
              "maximum": "100",
              "description": "The maximum number of permissions to return per page. When not set for files in a shared drive, at most 100 results will be returned. When not set for files that are not in a shared drive, the entire list will be returned.",
              "format": "int32"
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            }
          },
          "id": "drive.permissions.list",
          "response": {
            "$ref": "PermissionList"
          }
        },
        "getIdForEmail": {
          "id": "drive.permissions.getIdForEmail",
          "description": "Returns the permission ID for an email address.",
          "httpMethod": "GET",
          "parameters": {
            "email": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The email address for which to return a permission ID"
            }
          },
          "path": "permissionIds/{email}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "flatPath": "permissionIds/{email}",
          "response": {
            "$ref": "PermissionId"
          },
          "parameterOrder": [
            "email"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "permissionId": {
              "type": "string",
              "required": true,
              "description": "The ID for the permission.",
              "location": "path"
            },
            "useDomainAdminAccess": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs."
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false",
              "location": "query",
              "type": "boolean",
              "deprecated": true
            },
            "fileId": {
              "required": true,
              "description": "The ID for the file or shared drive.",
              "type": "string",
              "location": "path"
            },
            "supportsAllDrives": {
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "default": "false"
            }
          },
          "description": "Gets a permission by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "path": "files/{fileId}/permissions/{permissionId}",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "id": "drive.permissions.get",
          "response": {
            "$ref": "Permission"
          }
        },
        "patch": {
          "response": {
            "$ref": "Permission"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "fileId": {
              "description": "The ID for the file or shared drive.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "enforceExpansiveAccess": {
              "deprecated": true,
              "description": "Deprecated: All requests use the expansive access rules.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "permissionId": {
              "required": true,
              "description": "The ID for the permission.",
              "location": "path",
              "type": "string"
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "transferOwnership": {
              "default": "false",
              "description": "Whether changing a role to `owner` downgrades the current owners to writers. Does nothing if the specified role is not `owner`.",
              "location": "query",
              "type": "boolean"
            },
            "removeExpiration": {
              "description": "Whether to remove the expiration date.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            }
          },
          "request": {
            "$ref": "Permission"
          },
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "id": "drive.permissions.patch",
          "description": "Updates a permission using patch semantics. **Warning:** Concurrent permissions operations on the same file are not supported; only the last update is applied.",
          "path": "files/{fileId}/permissions/{permissionId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ]
        },
        "insert": {
          "response": {
            "$ref": "Permission"
          },
          "flatPath": "files/{fileId}/permissions",
          "parameterOrder": [
            "fileId"
          ],
          "request": {
            "$ref": "Permission"
          },
          "description": "Inserts a permission for a file or shared drive. **Warning:** Concurrent permissions operations on the same file are not supported; only the last update is applied.",
          "httpMethod": "POST",
          "parameters": {
            "enforceExpansiveAccess": {
              "description": "Deprecated: All requests use the expansive access rules.",
              "deprecated": true,
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "enforceSingleParent": {
              "default": "false",
              "location": "query",
              "description": "Deprecated: See `moveToNewOwnersRoot` for details.",
              "deprecated": true,
              "type": "boolean"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs."
            },
            "sendNotificationEmails": {
              "default": "true",
              "description": "Whether to send notification emails when sharing to users or groups. This parameter is ignored and an email is sent if the `role` is `owner`.",
              "type": "boolean",
              "location": "query"
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "type": "boolean",
              "default": "false",
              "deprecated": true,
              "location": "query"
            },
            "emailMessage": {
              "location": "query",
              "description": "A plain text custom message to include in notification emails.",
              "type": "string"
            },
            "moveToNewOwnersRoot": {
              "type": "boolean",
              "description": "This parameter will only take effect if the item is not in a shared drive and the request is attempting to transfer the ownership of the item. If set to `true`, the item will be moved to the new owner's My Drive root folder and all prior parents removed. If set to `false`, parents are not changed.",
              "default": "false",
              "location": "query"
            },
            "fileId": {
              "description": "The ID for the file or shared drive.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "supportsAllDrives": {
              "type": "boolean",
              "default": "false",
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives."
            }
          },
          "path": "files/{fileId}/permissions",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "id": "drive.permissions.insert"
        },
        "update": {
          "httpMethod": "PUT",
          "parameters": {
            "permissionId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID for the permission."
            },
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "removeExpiration": {
              "type": "boolean",
              "default": "false",
              "description": "Whether to remove the expiration date.",
              "location": "query"
            },
            "fileId": {
              "location": "path",
              "description": "The ID for the file or shared drive.",
              "required": true,
              "type": "string"
            },
            "enforceExpansiveAccess": {
              "description": "Deprecated: All requests use the expansive access rules.",
              "default": "false",
              "deprecated": true,
              "location": "query",
              "type": "boolean"
            },
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "supportsAllDrives": {
              "location": "query",
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean"
            },
            "transferOwnership": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Whether changing a role to `owner` downgrades the current owners to writers. Does nothing if the specified role is not `owner`."
            }
          },
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "request": {
            "$ref": "Permission"
          },
          "id": "drive.permissions.update",
          "description": "Updates a permission. **Warning:** Concurrent permissions operations on the same file are not supported; only the last update is applied.",
          "response": {
            "$ref": "Permission"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/{fileId}/permissions/{permissionId}"
        },
        "delete": {
          "description": "Deletes a permission from a file or shared drive. **Warning:** Concurrent permissions operations on the same file are not supported; only the last update is applied.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file"
          ],
          "path": "files/{fileId}/permissions/{permissionId}",
          "flatPath": "files/{fileId}/permissions/{permissionId}",
          "id": "drive.permissions.delete",
          "parameterOrder": [
            "fileId",
            "permissionId"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "supportsAllDrives": {
              "location": "query",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "default": "false"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "location": "query",
              "type": "boolean"
            },
            "useDomainAdminAccess": {
              "type": "boolean",
              "location": "query",
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if the file ID parameter refers to a shared drive and the requester is an administrator of the domain to which the shared drive belongs."
            },
            "enforceExpansiveAccess": {
              "description": "Deprecated: All requests use the expansive access rules.",
              "deprecated": true,
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "permissionId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID for the permission."
            },
            "fileId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID for the file or shared drive."
            }
          }
        }
      }
    },
    "drives": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.drives.get",
          "httpMethod": "GET",
          "parameters": {
            "useDomainAdminAccess": {
              "type": "boolean",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "default": "false",
              "location": "query"
            },
            "driveId": {
              "location": "path",
              "required": true,
              "description": "The ID of the shared drive.",
              "type": "string"
            }
          },
          "flatPath": "drives/{driveId}",
          "description": "Gets a shared drive's metadata by ID.",
          "path": "drives/{driveId}",
          "parameterOrder": [
            "driveId"
          ],
          "response": {
            "$ref": "Drive"
          }
        },
        "unhide": {
          "id": "drive.drives.unhide",
          "description": "Restores a shared drive to the default view.",
          "path": "drives/{driveId}/unhide",
          "parameterOrder": [
            "driveId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "driveId": {
              "location": "path",
              "description": "The ID of the shared drive.",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "Drive"
          },
          "flatPath": "drives/{driveId}/unhide",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "description": " Lists the user's shared drives. This method accepts the `q` parameter, which is a search query combining one or more search terms. For more information, see the [Search for shared drives](https://developers.google.com/workspace/drive/api/guides/search-shareddrives) guide.",
          "id": "drive.drives.list",
          "parameterOrder": [],
          "response": {
            "$ref": "DriveList"
          },
          "path": "drives",
          "flatPath": "drives",
          "httpMethod": "GET",
          "parameters": {
            "q": {
              "type": "string",
              "description": "Query string for searching shared drives.",
              "location": "query"
            },
            "useDomainAdminAccess": {
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then all shared drives of the domain in which the requester is an administrator are returned.",
              "type": "boolean",
              "default": "false"
            },
            "maxResults": {
              "default": "10",
              "maximum": "100",
              "description": "Maximum number of shared drives to return per page.",
              "type": "integer",
              "location": "query",
              "minimum": "1",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Page token for shared drives."
            }
          }
        },
        "insert": {
          "description": "Creates a new shared drive.",
          "id": "drive.drives.insert",
          "flatPath": "drives",
          "parameterOrder": [
            "requestId"
          ],
          "response": {
            "$ref": "Drive"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "path": "drives",
          "request": {
            "$ref": "Drive"
          },
          "httpMethod": "POST",
          "parameters": {
            "requestId": {
              "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a shared drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same shared drive. If the shared drive already exists a 409 error will be returned.",
              "location": "query",
              "type": "string",
              "required": true
            }
          }
        },
        "update": {
          "request": {
            "$ref": "Drive"
          },
          "response": {
            "$ref": "Drive"
          },
          "path": "drives/{driveId}",
          "httpMethod": "PUT",
          "parameters": {
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "default": "false",
              "location": "query",
              "type": "boolean"
            },
            "driveId": {
              "description": "The ID of the shared drive.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "drives/{driveId}",
          "parameterOrder": [
            "driveId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "description": "Updates the metadata for a shared drive.",
          "id": "drive.drives.update"
        },
        "hide": {
          "flatPath": "drives/{driveId}/hide",
          "path": "drives/{driveId}/hide",
          "response": {
            "$ref": "Drive"
          },
          "id": "drive.drives.hide",
          "parameterOrder": [
            "driveId"
          ],
          "description": "Hides a shared drive from the default view.",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "httpMethod": "POST",
          "parameters": {
            "driveId": {
              "required": true,
              "type": "string",
              "description": "The ID of the shared drive.",
              "location": "path"
            }
          }
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "driveId": {
              "location": "path",
              "description": "The ID of the shared drive.",
              "required": true,
              "type": "string"
            },
            "useDomainAdminAccess": {
              "location": "query",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.",
              "default": "false",
              "type": "boolean"
            },
            "allowItemDeletion": {
              "location": "query",
              "default": "false",
              "type": "boolean",
              "description": "Whether any items inside the shared drive should also be deleted. This option is only supported when `useDomainAdminAccess` is also set to `true`."
            }
          },
          "id": "drive.drives.delete",
          "parameterOrder": [
            "driveId"
          ],
          "path": "drives/{driveId}",
          "flatPath": "drives/{driveId}",
          "description": "Permanently deletes a shared drive for which the user is an `organizer`. The shared drive cannot contain any untrashed items."
        }
      }
    },
    "channels": {
      "methods": {
        "stop": {
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "id": "drive.channels.stop",
          "httpMethod": "POST",
          "parameters": {},
          "description": "Stops watching resources through this channel.",
          "flatPath": "channels/stop",
          "path": "channels/stop",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        }
      }
    },
    "teamdrives": {
      "methods": {
        "get": {
          "parameterOrder": [
            "teamDriveId"
          ],
          "description": "Deprecated: Use `drives.get` instead.",
          "response": {
            "$ref": "TeamDrive"
          },
          "flatPath": "teamdrives/{teamDriveId}",
          "id": "drive.teamdrives.get",
          "path": "teamdrives/{teamDriveId}",
          "httpMethod": "GET",
          "parameters": {
            "useDomainAdminAccess": {
              "location": "query",
              "type": "boolean",
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs."
            },
            "teamDriveId": {
              "required": true,
              "description": "The ID of the Team Drive",
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "list": {
          "path": "teamdrives",
          "httpMethod": "GET",
          "parameters": {
            "q": {
              "description": "Query string for searching Team Drives.",
              "location": "query",
              "type": "string"
            },
            "useDomainAdminAccess": {
              "default": "false",
              "description": "Issue the request as a domain administrator; if set to true, then all Team Drives of the domain in which the requester is an administrator are returned.",
              "location": "query",
              "type": "boolean"
            },
            "maxResults": {
              "description": "Maximum number of Team Drives to return.",
              "minimum": "1",
              "format": "int32",
              "type": "integer",
              "default": "10",
              "maximum": "100",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "Page token for Team Drives.",
              "type": "string"
            }
          },
          "id": "drive.teamdrives.list",
          "description": "Deprecated: Use `drives.list` instead.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "TeamDriveList"
          },
          "parameterOrder": [],
          "flatPath": "teamdrives"
        },
        "delete": {
          "id": "drive.teamdrives.delete",
          "flatPath": "teamdrives/{teamDriveId}",
          "parameterOrder": [
            "teamDriveId"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "teamDriveId": {
              "type": "string",
              "required": true,
              "description": "The ID of the Team Drive",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "description": "Deprecated: Use `drives.delete` instead.",
          "path": "teamdrives/{teamDriveId}"
        },
        "insert": {
          "description": "Deprecated: Use `drives.insert` instead.",
          "response": {
            "$ref": "TeamDrive"
          },
          "id": "drive.teamdrives.insert",
          "flatPath": "teamdrives",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "httpMethod": "POST",
          "parameters": {
            "requestId": {
              "location": "query",
              "type": "string",
              "required": true,
              "description": "Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a Team Drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same Team Drive. If the Team Drive already exists a 409 error will be returned."
            }
          },
          "parameterOrder": [
            "requestId"
          ],
          "path": "teamdrives",
          "request": {
            "$ref": "TeamDrive"
          }
        },
        "update": {
          "request": {
            "$ref": "TeamDrive"
          },
          "description": "Deprecated: Use `drives.update` instead.",
          "path": "teamdrives/{teamDriveId}",
          "parameterOrder": [
            "teamDriveId"
          ],
          "response": {
            "$ref": "TeamDrive"
          },
          "httpMethod": "PUT",
          "parameters": {
            "useDomainAdminAccess": {
              "description": "Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "teamDriveId": {
              "required": true,
              "description": "The ID of the Team Drive",
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "teamdrives/{teamDriveId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ],
          "id": "drive.teamdrives.update"
        }
      }
    },
    "about": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "About"
          },
          "flatPath": "about",
          "description": "Gets the information about the current user along with Drive API settings",
          "parameterOrder": [],
          "id": "drive.about.get",
          "httpMethod": "GET",
          "parameters": {
            "maxChangeIdCount": {
              "default": "1",
              "type": "string",
              "description": "Maximum number of remaining change IDs to count",
              "location": "query",
              "format": "int64"
            },
            "startChangeId": {
              "location": "query",
              "description": "Change ID to start counting from when calculating number of remaining change IDs",
              "type": "string",
              "format": "int64"
            },
            "includeSubscribed": {
              "location": "query",
              "description": "Whether to count changes outside the My Drive hierarchy. When set to false, changes to files such as those in the Application Data folder or shared files which have not been added to My Drive will be omitted from the `maxChangeIdCount`.",
              "default": "true",
              "type": "boolean"
            }
          },
          "path": "about"
        }
      }
    },
    "changes": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "startChangeId": {
              "description": "Deprecated: Use `pageToken` instead.",
              "type": "string",
              "format": "int64",
              "location": "query",
              "deprecated": true
            },
            "driveId": {
              "type": "string",
              "location": "query",
              "description": "The shared drive from which changes will be returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier."
            },
            "supportsAllDrives": {
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false",
              "location": "query"
            },
            "includeTeamDriveItems": {
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead.",
              "default": "false",
              "deprecated": true,
              "location": "query",
              "type": "boolean"
            },
            "includeLabels": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "includePermissionsForView": {
              "location": "query",
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response or to the response from the getStartPageToken method."
            },
            "teamDriveId": {
              "deprecated": true,
              "description": "Deprecated: Use `driveId` instead.",
              "location": "query",
              "type": "string"
            },
            "includeDeleted": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.",
              "default": "true"
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "default": "100",
              "minimum": "1",
              "location": "query",
              "description": "Maximum number of changes to return."
            },
            "supportsTeamDrives": {
              "type": "boolean",
              "location": "query",
              "deprecated": true,
              "default": "false",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            },
            "includeSubscribed": {
              "type": "boolean",
              "default": "true",
              "description": "Whether to include changes outside the My Drive hierarchy in the result. When set to false, changes to files such as those in the Application Data folder or shared files which have not been added to My Drive will be omitted from the result.",
              "location": "query"
            },
            "spaces": {
              "type": "string",
              "description": "A comma-separated list of spaces to query. Supported values are `drive`, `appDataFolder` and `photos`.",
              "location": "query"
            },
            "includeCorpusRemovals": {
              "default": "false",
              "location": "query",
              "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.",
              "type": "boolean"
            },
            "includeItemsFromAllDrives": {
              "location": "query",
              "default": "false",
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "type": "boolean"
            }
          },
          "parameterOrder": [],
          "id": "drive.changes.list",
          "supportsSubscription": true,
          "path": "changes",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "response": {
            "$ref": "ChangeList"
          },
          "description": "Lists the changes for a user or shared drive.",
          "flatPath": "changes"
        },
        "get": {
          "parameterOrder": [
            "changeId"
          ],
          "flatPath": "changes/{changeId}",
          "description": "Deprecated: Use `changes.getStartPageToken` and `changes.list` to retrieve recent changes.",
          "id": "drive.changes.get",
          "httpMethod": "GET",
          "parameters": {
            "changeId": {
              "description": "The ID of the change.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "teamDriveId": {
              "description": "Deprecated: Use `driveId` instead.",
              "deprecated": true,
              "type": "string",
              "location": "query"
            },
            "driveId": {
              "location": "query",
              "type": "string",
              "description": "The shared drive from which the change will be returned."
            },
            "supportsAllDrives": {
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "default": "false",
              "type": "boolean",
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead."
            }
          },
          "response": {
            "$ref": "Change"
          },
          "path": "changes/{changeId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "getStartPageToken": {
          "flatPath": "changes/startPageToken",
          "description": "Gets the starting pageToken for listing future changes.",
          "response": {
            "$ref": "StartPageToken"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "id": "drive.changes.getStartPageToken",
          "httpMethod": "GET",
          "parameters": {
            "supportsTeamDrives": {
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "deprecated": true,
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "teamDriveId": {
              "description": "Deprecated: Use `driveId` instead.",
              "location": "query",
              "type": "string",
              "deprecated": true
            },
            "supportsAllDrives": {
              "location": "query",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false"
            },
            "driveId": {
              "description": "The ID of the shared drive for which the starting pageToken for listing future changes from that shared drive will be returned.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "path": "changes/startPageToken"
        },
        "watch": {
          "id": "drive.changes.watch",
          "description": "Subscribe to changes for a user.",
          "flatPath": "changes/watch",
          "parameterOrder": [],
          "path": "changes/watch",
          "request": {
            "$ref": "Channel",
            "parameterName": "resource"
          },
          "response": {
            "$ref": "Channel"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "POST",
          "parameters": {
            "teamDriveId": {
              "location": "query",
              "type": "string",
              "deprecated": true,
              "description": "Deprecated: Use `driveId` instead."
            },
            "maxResults": {
              "format": "int32",
              "default": "100",
              "type": "integer",
              "minimum": "1",
              "location": "query",
              "description": "Maximum number of changes to return."
            },
            "spaces": {
              "location": "query",
              "description": "A comma-separated list of spaces to query. Supported values are `drive`, `appDataFolder` and `photos`.",
              "type": "string"
            },
            "includeTeamDriveItems": {
              "deprecated": true,
              "default": "false",
              "location": "query",
              "type": "boolean",
              "description": "Deprecated: Use `includeItemsFromAllDrives` instead."
            },
            "supportsTeamDrives": {
              "deprecated": true,
              "type": "boolean",
              "location": "query",
              "description": "Deprecated: Use `supportsAllDrives` instead.",
              "default": "false"
            },
            "supportsAllDrives": {
              "location": "query",
              "type": "boolean",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "default": "false"
            },
            "includeItemsFromAllDrives": {
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "includeLabels": {
              "location": "query",
              "type": "string",
              "description": "A comma-separated list of IDs of labels to include in the `labelInfo` part of the response."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response or to the response from the getStartPageToken method."
            },
            "includeCorpusRemovals": {
              "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "includeSubscribed": {
              "description": "Whether to include changes outside the My Drive hierarchy in the result. When set to false, changes to files such as those in the Application Data folder or shared files which have not been added to My Drive will be omitted from the result.",
              "location": "query",
              "default": "true",
              "type": "boolean"
            },
            "includePermissionsForView": {
              "type": "string",
              "description": "Specifies which additional view's permissions to include in the response. Only `published` is supported.",
              "location": "query"
            },
            "driveId": {
              "location": "query",
              "description": "The shared drive from which changes will be returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier.",
              "type": "string"
            },
            "startChangeId": {
              "type": "string",
              "format": "int64",
              "deprecated": true,
              "description": "Deprecated: Use `pageToken` instead.",
              "location": "query"
            },
            "includeDeleted": {
              "location": "query",
              "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.",
              "default": "true",
              "type": "boolean"
            }
          },
          "supportsSubscription": true
        }
      }
    },
    "files": {
      "methods": {
        "export": {
          "supportsMediaDownload": true,
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.meet.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ],
          "httpMethod": "GET",
          "parameters": {
            "mimeType": {
              "location": "query",
              "type": "string",
[...]
