{
  "rootUrl": "https://essentialcontacts.googleapis.com/",
  "title": "Essential Contacts API",
  "description": "",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "canonicalName": "Essentialcontacts",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "organizations": {
      "resources": {
        "contacts": {
          "methods": {
            "get": {
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "id": "essentialcontacts.organizations.contacts.get",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/contacts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the contact to retrieve. Format: organizations/{organization}/contacts/{contact}, folders/{folder}/contacts/{contact} or projects/{project}/contacts/{contact} (where {project} is the project number)"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/contacts/{contactsId}",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a single contact."
            },
            "compute": {
              "description": "Lists all contacts for the resource that are subscribed to the specified notification categories, including contacts inherited from any parent resources.",
              "parameters": {
                "pageToken": {
                  "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters should be identical to those in the previous call.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of `next_page_token` in the response indicates that more results might be available. If not specified, the default page_size is 100."
                },
                "notificationCategories": {
                  "description": "The categories of notifications to compute contacts for. If ALL is included in this list, contacts subscribed to any notification category will be returned.",
                  "location": "query",
                  "enum": [
                    "NOTIFICATION_CATEGORY_UNSPECIFIED",
                    "ALL",
                    "SUSPENSION",
                    "SECURITY",
                    "TECHNICAL",
                    "BILLING",
                    "LEGAL",
                    "PRODUCT_UPDATES",
                    "TECHNICAL_INCIDENTS"
                  ],
                  "repeated": true,
                  "type": "string",
                  "enumDescriptions": [
                    "Notification category is unrecognized or unspecified.",
                    "All notifications related to the resource, including notifications pertaining to categories added in the future.",
                    "Notifications related to imminent account suspension.",
                    "Notifications related to security/privacy incidents, notifications, and vulnerabilities.",
                    "Notifications related to technical events and issues such as outages, errors, or bugs.",
                    "Notifications related to billing and payments notifications, price updates, errors, or credits.",
                    "Notifications related to enforcement actions, regulatory compliance, or government notices.",
                    "Notifications related to new versions, product terms updates, or deprecations.",
                    "Child category of TECHNICAL. If assigned, technical incident notifications will go to these contacts instead of TECHNICAL."
                  ]
                },
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the resource to compute contacts for. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "essentialcontacts.organizations.contacts.compute",
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1ComputeContactsResponse"
              },
              "path": "v1/{+parent}/contacts:compute",
              "httpMethod": "GET",
              "flatPath": "v1/organizations/{organizationsId}/contacts:compute"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/contacts",
              "path": "v1/{+parent}/contacts",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1ListContactsResponse"
              },
              "description": "Lists the contacts that have been set on a resource.",
              "id": "essentialcontacts.organizations.contacts.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageToken": {
                  "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters should be identical to those in the previous call.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The parent resource name. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+$"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of `next_page_token` in the response indicates that more results might be available. If not specified, the default page_size is 100.",
                  "location": "query"
                }
              }
            },
            "delete": {
              "parameters": {
                "name": {
                  "description": "Required. The name of the contact to delete. Format: organizations/{organization}/contacts/{contact}, folders/{folder}/contacts/{contact} or projects/{project}/contacts/{contact} (where {project} is the project number)",
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/contacts/[^/]+$",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes a contact.",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "essentialcontacts.organizations.contacts.delete",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/contacts/{contactsId}"
            },
            "sendTestMessage": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "resource"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1SendTestMessageRequest"
              },
              "path": "v1/{+resource}/contacts:sendTestMessage",
              "flatPath": "v1/organizations/{organizationsId}/contacts:sendTestMessage",
              "parameters": {
                "resource": {
                  "type": "string",
                  "description": "Required. The name of the resource to send the test message for. All contacts must either be set directly on this resource or inherited from another resource that is an ancestor of this one. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true
                }
              },
              "description": "Allows a contact admin to send a test message to contact to verify that it has been configured correctly.",
              "id": "essentialcontacts.organizations.contacts.sendTestMessage"
            },
            "patch": {
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "essentialcontacts.organizations.contacts.patch",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Optional. The update mask applied to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "description": "Output only. The identifier for the contact. Format: {resource_type}/{resource_id}/contacts/{contact_id}",
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+/contacts/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "path": "v1/{+name}",
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "flatPath": "v1/organizations/{organizationsId}/contacts/{contactsId}",
              "description": "Updates a contact. Note: A contact's email address cannot be changed."
            },
            "create": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "essentialcontacts.organizations.contacts.create",
              "path": "v1/{+parent}/contacts",
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "description": "Adds a new contact for a resource.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The resource to save this contact for. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/contacts",
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "contacts": {
          "methods": {
            "list": {
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent resource name. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters should be identical to those in the previous call."
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of `next_page_token` in the response indicates that more results might be available. If not specified, the default page_size is 100.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "essentialcontacts.projects.contacts.list",
              "description": "Lists the contacts that have been set on a resource.",
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/contacts",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/contacts",
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1ListContactsResponse"
              }
            },
            "compute": {
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters should be identical to those in the previous call.",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of `next_page_token` in the response indicates that more results might be available. If not specified, the default page_size is 100.",
                  "type": "integer"
                },
                "notificationCategories": {
                  "enum": [
                    "NOTIFICATION_CATEGORY_UNSPECIFIED",
                    "ALL",
                    "SUSPENSION",
                    "SECURITY",
                    "TECHNICAL",
                    "BILLING",
                    "LEGAL",
                    "PRODUCT_UPDATES",
                    "TECHNICAL_INCIDENTS"
                  ],
                  "description": "The categories of notifications to compute contacts for. If ALL is included in this list, contacts subscribed to any notification category will be returned.",
                  "type": "string",
                  "location": "query",
                  "enumDescriptions": [
                    "Notification category is unrecognized or unspecified.",
                    "All notifications related to the resource, including notifications pertaining to categories added in the future.",
                    "Notifications related to imminent account suspension.",
                    "Notifications related to security/privacy incidents, notifications, and vulnerabilities.",
                    "Notifications related to technical events and issues such as outages, errors, or bugs.",
                    "Notifications related to billing and payments notifications, price updates, errors, or credits.",
                    "Notifications related to enforcement actions, regulatory compliance, or government notices.",
                    "Notifications related to new versions, product terms updates, or deprecations.",
                    "Child category of TECHNICAL. If assigned, technical incident notifications will go to these contacts instead of TECHNICAL."
                  ],
                  "repeated": true
                },
                "parent": {
                  "description": "Required. The name of the resource to compute contacts for. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                }
              },
              "id": "essentialcontacts.projects.contacts.compute",
              "path": "v1/{+parent}/contacts:compute",
              "flatPath": "v1/projects/{projectsId}/contacts:compute",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1ComputeContactsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists all contacts for the resource that are subscribed to the specified notification categories, including contacts inherited from any parent resources.",
              "httpMethod": "GET"
            },
            "delete": {
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "essentialcontacts.projects.contacts.delete",
              "description": "Deletes a contact.",
              "flatPath": "v1/projects/{projectsId}/contacts/{contactsId}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/contacts/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the contact to delete. Format: organizations/{organization}/contacts/{contact}, folders/{folder}/contacts/{contact} or projects/{project}/contacts/{contact} (where {project} is the project number)",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "create": {
              "id": "essentialcontacts.projects.contacts.create",
              "path": "v1/{+parent}/contacts",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The resource to save this contact for. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "type": "string"
                }
              },
              "description": "Adds a new contact for a resource.",
              "flatPath": "v1/projects/{projectsId}/contacts"
            },
            "sendTestMessage": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "essentialcontacts.projects.contacts.sendTestMessage",
              "httpMethod": "POST",
              "parameterOrder": [
                "resource"
              ],
              "description": "Allows a contact admin to send a test message to contact to verify that it has been configured correctly.",
              "flatPath": "v1/projects/{projectsId}/contacts:sendTestMessage",
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1SendTestMessageRequest"
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1/{+resource}/contacts:sendTestMessage",
              "parameters": {
                "resource": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the resource to send the test message for. All contacts must either be set directly on this resource or inherited from another resource that is an ancestor of this one. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)"
                }
              }
            },
            "get": {
              "flatPath": "v1/projects/{projectsId}/contacts/{contactsId}",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/contacts/[^/]+$",
                  "description": "Required. The name of the contact to retrieve. Format: organizations/{organization}/contacts/{contact}, folders/{folder}/contacts/{contact} or projects/{project}/contacts/{contact} (where {project} is the project number)",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets a single contact.",
              "id": "essentialcontacts.projects.contacts.get",
              "httpMethod": "GET",
              "path": "v1/{+name}"
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a contact. Note: A contact's email address cannot be changed.",
              "parameters": {
                "updateMask": {
                  "description": "Optional. The update mask applied to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Output only. The identifier for the contact. Format: {resource_type}/{resource_id}/contacts/{contact_id}",
                  "required": true,
                  "pattern": "^projects/[^/]+/contacts/[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "id": "essentialcontacts.projects.contacts.patch",
              "httpMethod": "PATCH",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/contacts/{contactsId}"
            }
          }
        }
      }
    },
    "folders": {
      "resources": {
        "contacts": {
          "methods": {
            "list": {
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^folders/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent resource name. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of `next_page_token` in the response indicates that more results might be available. If not specified, the default page_size is 100.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters should be identical to those in the previous call.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "essentialcontacts.folders.contacts.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1ListContactsResponse"
              },
              "path": "v1/{+parent}/contacts",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists the contacts that have been set on a resource.",
              "flatPath": "v1/folders/{foldersId}/contacts"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "id": "essentialcontacts.folders.contacts.get",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/folders/{foldersId}/contacts/{contactsId}",
              "description": "Gets a single contact.",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the contact to retrieve. Format: organizations/{organization}/contacts/{contact}, folders/{folder}/contacts/{contact} or projects/{project}/contacts/{contact} (where {project} is the project number)",
                  "required": true,
                  "type": "string",
                  "pattern": "^folders/[^/]+/contacts/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              }
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "httpMethod": "PATCH",
              "flatPath": "v1/folders/{foldersId}/contacts/{contactsId}",
              "id": "essentialcontacts.folders.contacts.patch",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^folders/[^/]+/contacts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Output only. The identifier for the contact. Format: {resource_type}/{resource_id}/contacts/{contact_id}"
                },
                "updateMask": {
                  "location": "query",
                  "description": "Optional. The update mask applied to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "description": "Updates a contact. Note: A contact's email address cannot be changed.",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              }
            },
            "compute": {
              "id": "essentialcontacts.folders.contacts.compute",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "description": "Lists all contacts for the resource that are subscribed to the specified notification categories, including contacts inherited from any parent resources.",
              "path": "v1/{+parent}/contacts:compute",
              "flatPath": "v1/folders/{foldersId}/contacts:compute",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageToken": {
                  "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters should be identical to those in the previous call.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of `next_page_token` in the response indicates that more results might be available. If not specified, the default page_size is 100.",
                  "format": "int32",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. The name of the resource to compute contacts for. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "required": true,
                  "type": "string",
                  "pattern": "^folders/[^/]+$"
                },
                "notificationCategories": {
                  "repeated": true,
                  "type": "string",
                  "location": "query",
                  "description": "The categories of notifications to compute contacts for. If ALL is included in this list, contacts subscribed to any notification category will be returned.",
                  "enumDescriptions": [
                    "Notification category is unrecognized or unspecified.",
                    "All notifications related to the resource, including notifications pertaining to categories added in the future.",
                    "Notifications related to imminent account suspension.",
                    "Notifications related to security/privacy incidents, notifications, and vulnerabilities.",
                    "Notifications related to technical events and issues such as outages, errors, or bugs.",
                    "Notifications related to billing and payments notifications, price updates, errors, or credits.",
                    "Notifications related to enforcement actions, regulatory compliance, or government notices.",
                    "Notifications related to new versions, product terms updates, or deprecations.",
                    "Child category of TECHNICAL. If assigned, technical incident notifications will go to these contacts instead of TECHNICAL."
                  ],
                  "enum": [
                    "NOTIFICATION_CATEGORY_UNSPECIFIED",
                    "ALL",
                    "SUSPENSION",
                    "SECURITY",
                    "TECHNICAL",
                    "BILLING",
                    "LEGAL",
                    "PRODUCT_UPDATES",
                    "TECHNICAL_INCIDENTS"
                  ]
                }
              },
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1ComputeContactsResponse"
              }
            },
            "sendTestMessage": {
              "httpMethod": "POST",
              "id": "essentialcontacts.folders.contacts.sendTestMessage",
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1SendTestMessageRequest"
              },
              "description": "Allows a contact admin to send a test message to contact to verify that it has been configured correctly.",
              "flatPath": "v1/folders/{foldersId}/contacts:sendTestMessage",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "resource": {
                  "required": true,
                  "description": "Required. The name of the resource to send the test message for. All contacts must either be set directly on this resource or inherited from another resource that is an ancestor of this one. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "location": "path",
                  "pattern": "^folders/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "path": "v1/{+resource}/contacts:sendTestMessage",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "delete": {
              "flatPath": "v1/folders/{foldersId}/contacts/{contactsId}",
              "description": "Deletes a contact.",
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "essentialcontacts.folders.contacts.delete",
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/contacts/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the contact to delete. Format: organizations/{organization}/contacts/{contact}, folders/{folder}/contacts/{contact} or projects/{project}/contacts/{contact} (where {project} is the project number)",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "id": "essentialcontacts.folders.contacts.create",
              "path": "v1/{+parent}/contacts",
              "flatPath": "v1/folders/{foldersId}/contacts",
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "description": "Adds a new contact for a resource.",
              "parameters": {
                "parent": {
                  "description": "Required. The resource to save this contact for. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^folders/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST"
            }
          }
        }
      }
    }
  },
  "batchPath": "batch",
  "mtlsRootUrl": "https://essentialcontacts.mtls.googleapis.com/",
  "name": "essentialcontacts",
  "ownerName": "Google",
  "schemas": {
    "GoogleCloudEssentialcontactsV1ListContactsResponse": {
      "properties": {
        "contacts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudEssentialcontactsV1Contact"
          },
          "description": "The contacts for the specified resource."
        },
        "nextPageToken": {
          "description": "If there are more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token` and the rest of the parameters the same as the original request.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for the ListContacts method.",
      "id": "GoogleCloudEssentialcontactsV1ListContactsResponse"
    },
    "GoogleCloudEssentialcontactsV1Contact": {
      "description": "A contact that will receive notifications from Google Cloud.",
      "type": "object",
      "id": "GoogleCloudEssentialcontactsV1Contact",
      "properties": {
        "notificationCategorySubscriptions": {
          "items": {
            "enum": [
              "NOTIFICATION_CATEGORY_UNSPECIFIED",
              "ALL",
              "SUSPENSION",
              "SECURITY",
              "TECHNICAL",
              "BILLING",
              "LEGAL",
              "PRODUCT_UPDATES",
              "TECHNICAL_INCIDENTS"
            ],
            "enumDescriptions": [
              "Notification category is unrecognized or unspecified.",
              "All notifications related to the resource, including notifications pertaining to categories added in the future.",
              "Notifications related to imminent account suspension.",
              "Notifications related to security/privacy incidents, notifications, and vulnerabilities.",
              "Notifications related to technical events and issues such as outages, errors, or bugs.",
              "Notifications related to billing and payments notifications, price updates, errors, or credits.",
              "Notifications related to enforcement actions, regulatory compliance, or government notices.",
              "Notifications related to new versions, product terms updates, or deprecations.",
              "Child category of TECHNICAL. If assigned, technical incident notifications will go to these contacts instead of TECHNICAL."
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Required. The categories of notifications that the contact will receive communications for."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The identifier for the contact. Format: {resource_type}/{resource_id}/contacts/{contact_id}",
          "type": "string"
        },
        "email": {
          "description": "Required. The email address to send notifications to. The email address does not need to be a Google Account.",
          "type": "string"
        },
        "validateTime": {
          "readOnly": true,
          "description": "Output only. The last time the validation_state was updated, either manually or automatically. A contact is considered stale if its validation state was updated more than 1 year ago.",
          "format": "google-datetime",
          "type": "string"
        },
        "languageTag": {
          "description": "Required. The preferred language for notifications, as a ISO 639-1 language code. See [Supported languages](https://cloud.google.com/resource-manager/docs/managing-notification-contacts#supported-languages) for a list of supported languages.",
          "type": "string"
        },
        "validationState": {
          "enumDescriptions": [
            "The validation state is unknown or unspecified.",
            "The contact is marked as valid. This is usually done manually by the contact admin. All new contacts begin in the valid state.",
            "The contact is considered invalid. This may become the state if the contact's email is found to be unreachable."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The validity of the contact. A contact is considered valid if it is the correct recipient for notifications for a particular resource.",
          "enum": [
            "VALIDATION_STATE_UNSPECIFIED",
            "VALID",
            "INVALID"
          ]
        }
      }
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "GoogleCloudEssentialcontactsV1SendTestMessageRequest": {
      "id": "GoogleCloudEssentialcontactsV1SendTestMessageRequest",
      "description": "Request message for the SendTestMessage method.",
      "type": "object",
      "properties": {
        "contacts": {
          "type": "array",
          "description": "Required. The list of names of the contacts to send a test message to. Format: organizations/{organization}/contacts/{contact}, folders/{folder}/contacts/{contact} or projects/{project}/contacts/{contact} (where {project} is the project number)",
          "items": {
            "type": "string"
          }
        },
        "notificationCategory": {
          "type": "string",
          "enumDescriptions": [
            "Notification category is unrecognized or unspecified.",
            "All notifications related to the resource, including notifications pertaining to categories added in the future.",
            "Notifications related to imminent account suspension.",
            "Notifications related to security/privacy incidents, notifications, and vulnerabilities.",
            "Notifications related to technical events and issues such as outages, errors, or bugs.",
            "Notifications related to billing and payments notifications, price updates, errors, or credits.",
            "Notifications related to enforcement actions, regulatory compliance, or government notices.",
            "Notifications related to new versions, product terms updates, or deprecations.",
            "Child category of TECHNICAL. If assigned, technical incident notifications will go to these contacts instead of TECHNICAL."
          ],
          "enum": [
            "NOTIFICATION_CATEGORY_UNSPECIFIED",
            "ALL",
            "SUSPENSION",
            "SECURITY",
            "TECHNICAL",
            "BILLING",
            "LEGAL",
            "PRODUCT_UPDATES",
            "TECHNICAL_INCIDENTS"
          ],
          "description": "Required. The notification category to send the test message for. All contacts must be subscribed to this category."
        }
      }
    },
    "GoogleCloudEssentialcontactsV1ComputeContactsResponse": {
      "type": "object",
      "description": "Response message for the ComputeContacts method.",
      "id": "GoogleCloudEssentialcontactsV1ComputeContactsResponse",
      "properties": {
        "contacts": {
          "items": {
            "$ref": "GoogleCloudEssentialcontactsV1Contact"
          },
          "type": "array",
          "description": "All contacts for the resource that are subscribed to the specified notification categories, including contacts inherited from any parent resources."
        },
        "nextPageToken": {
          "description": "If there are more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token` and the rest of the parameters the same as the original request.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "id": "essentialcontacts:v1",
  "baseUrl": "https://essentialcontacts.googleapis.com/",
  "version_module": true,
  "documentationLink": "https://cloud.google.com/essentialcontacts/docs/",
  "version": "v1",
  "revision": "20260910",
  "protocol": "rest"
}