{
  "batchPath": "batch",
  "version": "v1",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "name": "essentialcontacts",
  "id": "essentialcontacts:v1",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Essentialcontacts",
  "rootUrl": "https://essentialcontacts.googleapis.com/",
  "documentationLink": "https://cloud.google.com/essentialcontacts/docs/",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "resources": {
    "organizations": {
      "resources": {
        "contacts": {
          "methods": {
            "patch": {
              "id": "essentialcontacts.organizations.contacts.patch",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "updateMask": {
                  "description": "Optional. The update mask applied to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "description": "Output only. The identifier for the contact. Format: {resource_type}/{resource_id}/contacts/{contact_id}",
                  "required": true,
                  "pattern": "^organizations/[^/]+/contacts/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "description": "Updates a contact. Note: A contact's email address cannot be changed.",
              "flatPath": "v1/organizations/{organizationsId}/contacts/{contactsId}",
              "parameterOrder": [
                "name"
              ]
            },
            "compute": {
              "id": "essentialcontacts.organizations.contacts.compute",
              "httpMethod": "GET",
              "path": "v1/{+parent}/contacts:compute",
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1ComputeContactsResponse"
              },
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of `next_page_token` in the response indicates that more results might be available. If not specified, the default page_size is 100.",
                  "type": "integer",
                  "location": "query"
                },
                "notificationCategories": {
                  "repeated": true,
                  "enumDescriptions": [
                    "Notification category is unrecognized or unspecified.",
                    "All notifications related to the resource, including notifications pertaining to categories added in the future.",
                    "Notifications related to imminent account suspension.",
                    "Notifications related to security/privacy incidents, notifications, and vulnerabilities.",
                    "Notifications related to technical events and issues such as outages, errors, or bugs.",
                    "Notifications related to billing and payments notifications, price updates, errors, or credits.",
                    "Notifications related to enforcement actions, regulatory compliance, or government notices.",
                    "Notifications related to new versions, product terms updates, or deprecations.",
                    "Child category of TECHNICAL. If assigned, technical incident notifications will go to these contacts instead of TECHNICAL."
                  ],
                  "enum": [
                    "NOTIFICATION_CATEGORY_UNSPECIFIED",
                    "ALL",
                    "SUSPENSION",
                    "SECURITY",
                    "TECHNICAL",
                    "BILLING",
                    "LEGAL",
                    "PRODUCT_UPDATES",
                    "TECHNICAL_INCIDENTS"
                  ],
                  "description": "The categories of notifications to compute contacts for. If ALL is included in this list, contacts subscribed to any notification category will be returned.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the resource to compute contacts for. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters should be identical to those in the previous call."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists all contacts for the resource that are subscribed to the specified notification categories, including contacts inherited from any parent resources.",
              "flatPath": "v1/organizations/{organizationsId}/contacts:compute",
              "parameterOrder": [
                "parent"
              ]
            },
            "sendTestMessage": {
              "path": "v1/{+resource}/contacts:sendTestMessage",
              "description": "Allows a contact admin to send a test message to contact to verify that it has been configured correctly.",
              "httpMethod": "POST",
              "parameters": {
                "resource": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. The name of the resource to send the test message for. All contacts must either be set directly on this resource or inherited from another resource that is an ancestor of this one. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v1/organizations/{organizationsId}/contacts:sendTestMessage",
              "id": "essentialcontacts.organizations.contacts.sendTestMessage",
              "parameterOrder": [
                "resource"
              ],
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1SendTestMessageRequest"
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/contacts/[^/]+$",
                  "description": "Required. The name of the contact to retrieve. Format: organizations/{organization}/contacts/{contact}, folders/{folder}/contacts/{contact} or projects/{project}/contacts/{contact} (where {project} is the project number)",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/contacts/{contactsId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a single contact.",
              "id": "essentialcontacts.organizations.contacts.get",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              }
            },
            "delete": {
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the contact to delete. Format: organizations/{organization}/contacts/{contact}, folders/{folder}/contacts/{contact} or projects/{project}/contacts/{contact} (where {project} is the project number)",
                  "pattern": "^organizations/[^/]+/contacts/[^/]+$",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/contacts/{contactsId}",
              "httpMethod": "DELETE",
              "id": "essentialcontacts.organizations.contacts.delete",
              "description": "Deletes a contact.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/organizations/{organizationsId}/contacts",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists the contacts that have been set on a resource.",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1ListContactsResponse"
              },
              "path": "v1/{+parent}/contacts",
              "id": "essentialcontacts.organizations.contacts.list",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of `next_page_token` in the response indicates that more results might be available. If not specified, the default page_size is 100."
                },
                "parent": {
                  "required": true,
                  "description": "Required. The parent resource name. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters should be identical to those in the previous call."
                }
              }
            },
            "create": {
              "id": "essentialcontacts.organizations.contacts.create",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The resource to save this contact for. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+$"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/contacts",
              "path": "v1/{+parent}/contacts",
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "httpMethod": "POST",
              "description": "Adds a new contact for a resource."
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "contacts": {
          "methods": {
            "delete": {
              "id": "essentialcontacts.projects.contacts.delete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the contact to delete. Format: organizations/{organization}/contacts/{contact}, folders/{folder}/contacts/{contact} or projects/{project}/contacts/{contact} (where {project} is the project number)",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/contacts/[^/]+$"
                }
              },
              "description": "Deletes a contact.",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/contacts/{contactsId}",
              "httpMethod": "DELETE"
            },
            "list": {
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1ListContactsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists the contacts that have been set on a resource.",
              "path": "v1/{+parent}/contacts",
              "parameterOrder": [
                "parent"
              ],
              "id": "essentialcontacts.projects.contacts.list",
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of `next_page_token` in the response indicates that more results might be available. If not specified, the default page_size is 100.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent resource name. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "pageToken": {
                  "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters should be identical to those in the previous call.",
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/contacts"
            },
            "patch": {
              "flatPath": "v1/projects/{projectsId}/contacts/{contactsId}",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "description": "Output only. The identifier for the contact. Format: {resource_type}/{resource_id}/contacts/{contact_id}",
                  "type": "string",
                  "pattern": "^projects/[^/]+/contacts/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "description": "Optional. The update mask applied to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "essentialcontacts.projects.contacts.patch",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "description": "Updates a contact. Note: A contact's email address cannot be changed."
            },
            "create": {
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/contacts",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "Required. The resource to save this contact for. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "type": "string",
                  "required": true
                }
              },
              "id": "essentialcontacts.projects.contacts.create",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "description": "Adds a new contact for a resource.",
              "flatPath": "v1/projects/{projectsId}/contacts"
            },
            "sendTestMessage": {
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1SendTestMessageRequest"
              },
              "path": "v1/{+resource}/contacts:sendTestMessage",
              "parameterOrder": [
                "resource"
              ],
              "flatPath": "v1/projects/{projectsId}/contacts:sendTestMessage",
              "description": "Allows a contact admin to send a test message to contact to verify that it has been configured correctly.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "id": "essentialcontacts.projects.contacts.sendTestMessage",
              "parameters": {
                "resource": {
                  "location": "path",
                  "description": "Required. The name of the resource to send the test message for. All contacts must either be set directly on this resource or inherited from another resource that is an ancestor of this one. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                }
              }
            },
            "compute": {
              "flatPath": "v1/projects/{projectsId}/contacts:compute",
              "parameters": {
                "pageToken": {
                  "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters should be identical to those in the previous call.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "description": "Required. The name of the resource to compute contacts for. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "notificationCategories": {
                  "repeated": true,
                  "type": "string",
                  "enumDescriptions": [
                    "Notification category is unrecognized or unspecified.",
                    "All notifications related to the resource, including notifications pertaining to categories added in the future.",
                    "Notifications related to imminent account suspension.",
                    "Notifications related to security/privacy incidents, notifications, and vulnerabilities.",
                    "Notifications related to technical events and issues such as outages, errors, or bugs.",
                    "Notifications related to billing and payments notifications, price updates, errors, or credits.",
                    "Notifications related to enforcement actions, regulatory compliance, or government notices.",
                    "Notifications related to new versions, product terms updates, or deprecations.",
                    "Child category of TECHNICAL. If assigned, technical incident notifications will go to these contacts instead of TECHNICAL."
                  ],
                  "enum": [
                    "NOTIFICATION_CATEGORY_UNSPECIFIED",
                    "ALL",
                    "SUSPENSION",
                    "SECURITY",
                    "TECHNICAL",
                    "BILLING",
                    "LEGAL",
                    "PRODUCT_UPDATES",
                    "TECHNICAL_INCIDENTS"
                  ],
                  "location": "query",
                  "description": "The categories of notifications to compute contacts for. If ALL is included in this list, contacts subscribed to any notification category will be returned."
                },
                "pageSize": {
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of `next_page_token` in the response indicates that more results might be available. If not specified, the default page_size is 100.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "id": "essentialcontacts.projects.contacts.compute",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists all contacts for the resource that are subscribed to the specified notification categories, including contacts inherited from any parent resources.",
              "path": "v1/{+parent}/contacts:compute",
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1ComputeContactsResponse"
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/contacts/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the contact to retrieve. Format: organizations/{organization}/contacts/{contact}, folders/{folder}/contacts/{contact} or projects/{project}/contacts/{contact} (where {project} is the project number)",
                  "location": "path"
                }
              },
              "flatPath": "v1/projects/{projectsId}/contacts/{contactsId}",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "description": "Gets a single contact.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "essentialcontacts.projects.contacts.get",
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              }
            }
          }
        }
      }
    },
    "folders": {
      "resources": {
        "contacts": {
          "methods": {
            "sendTestMessage": {
              "parameterOrder": [
                "resource"
              ],
              "id": "essentialcontacts.folders.contacts.sendTestMessage",
              "flatPath": "v1/folders/{foldersId}/contacts:sendTestMessage",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1SendTestMessageRequest"
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1/{+resource}/contacts:sendTestMessage",
              "description": "Allows a contact admin to send a test message to contact to verify that it has been configured correctly.",
              "httpMethod": "POST",
              "parameters": {
                "resource": {
                  "type": "string",
                  "pattern": "^folders/[^/]+$",
                  "description": "Required. The name of the resource to send the test message for. All contacts must either be set directly on this resource or inherited from another resource that is an ancestor of this one. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "location": "path",
                  "required": true
                }
              }
            },
            "create": {
              "id": "essentialcontacts.folders.contacts.create",
              "description": "Adds a new contact for a resource.",
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/contacts",
              "parameters": {
                "parent": {
                  "pattern": "^folders/[^/]+$",
                  "required": true,
                  "description": "Required. The resource to save this contact for. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1/folders/{foldersId}/contacts",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              }
            },
            "list": {
              "id": "essentialcontacts.folders.contacts.list",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/contacts",
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1ListContactsResponse"
              },
              "flatPath": "v1/folders/{foldersId}/contacts",
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of `next_page_token` in the response indicates that more results might be available. If not specified, the default page_size is 100.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters should be identical to those in the previous call.",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The parent resource name. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "required": true,
                  "location": "path",
                  "pattern": "^folders/[^/]+$"
                }
              },
              "description": "Lists the contacts that have been set on a resource.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "id": "essentialcontacts.folders.contacts.delete",
              "description": "Deletes a contact.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^folders/[^/]+/contacts/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the contact to delete. Format: organizations/{organization}/contacts/{contact}, folders/{folder}/contacts/{contact} or projects/{project}/contacts/{contact} (where {project} is the project number)"
                }
              },
              "path": "v1/{+name}",
              "flatPath": "v1/folders/{foldersId}/contacts/{contactsId}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "compute": {
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1ComputeContactsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageToken": {
                  "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters should be identical to those in the previous call.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^folders/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the resource to compute contacts for. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)"
                },
                "notificationCategories": {
                  "enumDescriptions": [
                    "Notification category is unrecognized or unspecified.",
                    "All notifications related to the resource, including notifications pertaining to categories added in the future.",
                    "Notifications related to imminent account suspension.",
                    "Notifications related to security/privacy incidents, notifications, and vulnerabilities.",
                    "Notifications related to technical events and issues such as outages, errors, or bugs.",
                    "Notifications related to billing and payments notifications, price updates, errors, or credits.",
                    "Notifications related to enforcement actions, regulatory compliance, or government notices.",
                    "Notifications related to new versions, product terms updates, or deprecations.",
                    "Child category of TECHNICAL. If assigned, technical incident notifications will go to these contacts instead of TECHNICAL."
                  ],
                  "repeated": true,
                  "enum": [
                    "NOTIFICATION_CATEGORY_UNSPECIFIED",
                    "ALL",
                    "SUSPENSION",
                    "SECURITY",
                    "TECHNICAL",
                    "BILLING",
                    "LEGAL",
                    "PRODUCT_UPDATES",
                    "TECHNICAL_INCIDENTS"
                  ],
                  "description": "The categories of notifications to compute contacts for. If ALL is included in this list, contacts subscribed to any notification category will be returned.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of `next_page_token` in the response indicates that more results might be available. If not specified, the default page_size is 100."
                }
              },
              "path": "v1/{+parent}/contacts:compute",
              "httpMethod": "GET",
              "id": "essentialcontacts.folders.contacts.compute",
              "flatPath": "v1/folders/{foldersId}/contacts:compute",
              "description": "Lists all contacts for the resource that are subscribed to the specified notification categories, including contacts inherited from any parent resources."
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets a single contact.",
              "flatPath": "v1/folders/{foldersId}/contacts/{contactsId}",
              "parameterOrder": [
                "name"
              ],
              "id": "essentialcontacts.folders.contacts.get",
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^folders/[^/]+/contacts/[^/]+$",
                  "description": "Required. The name of the contact to retrieve. Format: organizations/{organization}/contacts/{contact}, folders/{folder}/contacts/{contact} or projects/{project}/contacts/{contact} (where {project} is the project number)",
                  "location": "path"
                }
              }
            },
            "patch": {
              "description": "Updates a contact. Note: A contact's email address cannot be changed.",
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "id": "essentialcontacts.folders.contacts.patch",
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "flatPath": "v1/folders/{foldersId}/contacts/{contactsId}",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^folders/[^/]+/contacts/[^/]+$",
                  "required": true,
                  "description": "Output only. The identifier for the contact. Format: {resource_type}/{resource_id}/contacts/{contact_id}",
                  "location": "path"
                },
                "updateMask": {
                  "description": "Optional. The update mask applied to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "mtlsRootUrl": "https://essentialcontacts.mtls.googleapis.com/",
  "baseUrl": "https://essentialcontacts.googleapis.com/",
  "version_module": true,
  "revision": "20260901",
  "schemas": {
    "GoogleProtobufEmpty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "GoogleProtobufEmpty"
    },
    "GoogleCloudEssentialcontactsV1ComputeContactsResponse": {
      "id": "GoogleCloudEssentialcontactsV1ComputeContactsResponse",
      "properties": {
        "contacts": {
          "type": "array",
          "description": "All contacts for the resource that are subscribed to the specified notification categories, including contacts inherited from any parent resources.",
          "items": {
            "$ref": "GoogleCloudEssentialcontactsV1Contact"
          }
        },
        "nextPageToken": {
          "description": "If there are more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token` and the rest of the parameters the same as the original request.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for the ComputeContacts method."
    },
    "GoogleCloudEssentialcontactsV1SendTestMessageRequest": {
      "type": "object",
      "properties": {
        "contacts": {
          "type": "array",
          "description": "Required. The list of names of the contacts to send a test message to. Format: organizations/{organization}/contacts/{contact}, folders/{folder}/contacts/{contact} or projects/{project}/contacts/{contact} (where {project} is the project number)",
          "items": {
            "type": "string"
          }
        },
        "notificationCategory": {
          "type": "string",
          "description": "Required. The notification category to send the test message for. All contacts must be subscribed to this category.",
          "enumDescriptions": [
            "Notification category is unrecognized or unspecified.",
            "All notifications related to the resource, including notifications pertaining to categories added in the future.",
            "Notifications related to imminent account suspension.",
            "Notifications related to security/privacy incidents, notifications, and vulnerabilities.",
            "Notifications related to technical events and issues such as outages, errors, or bugs.",
            "Notifications related to billing and payments notifications, price updates, errors, or credits.",
            "Notifications related to enforcement actions, regulatory compliance, or government notices.",
            "Notifications related to new versions, product terms updates, or deprecations.",
            "Child category of TECHNICAL. If assigned, technical incident notifications will go to these contacts instead of TECHNICAL."
          ],
          "enum": [
            "NOTIFICATION_CATEGORY_UNSPECIFIED",
            "ALL",
            "SUSPENSION",
            "SECURITY",
            "TECHNICAL",
            "BILLING",
            "LEGAL",
            "PRODUCT_UPDATES",
            "TECHNICAL_INCIDENTS"
          ]
        }
      },
      "description": "Request message for the SendTestMessage method.",
      "id": "GoogleCloudEssentialcontactsV1SendTestMessageRequest"
    },
    "GoogleCloudEssentialcontactsV1Contact": {
      "type": "object",
      "id": "GoogleCloudEssentialcontactsV1Contact",
      "description": "A contact that will receive notifications from Google Cloud.",
      "properties": {
        "notificationCategorySubscriptions": {
          "items": {
            "enumDescriptions": [
              "Notification category is unrecognized or unspecified.",
              "All notifications related to the resource, including notifications pertaining to categories added in the future.",
              "Notifications related to imminent account suspension.",
              "Notifications related to security/privacy incidents, notifications, and vulnerabilities.",
              "Notifications related to technical events and issues such as outages, errors, or bugs.",
              "Notifications related to billing and payments notifications, price updates, errors, or credits.",
              "Notifications related to enforcement actions, regulatory compliance, or government notices.",
              "Notifications related to new versions, product terms updates, or deprecations.",
              "Child category of TECHNICAL. If assigned, technical incident notifications will go to these contacts instead of TECHNICAL."
            ],
            "type": "string",
            "enum": [
              "NOTIFICATION_CATEGORY_UNSPECIFIED",
              "ALL",
              "SUSPENSION",
              "SECURITY",
              "TECHNICAL",
              "BILLING",
              "LEGAL",
              "PRODUCT_UPDATES",
              "TECHNICAL_INCIDENTS"
            ]
          },
          "type": "array",
          "description": "Required. The categories of notifications that the contact will receive communications for."
        },
        "name": {
          "description": "Output only. The identifier for the contact. Format: {resource_type}/{resource_id}/contacts/{contact_id}",
          "type": "string",
          "readOnly": true
        },
        "validationState": {
          "type": "string",
          "enum": [
            "VALIDATION_STATE_UNSPECIFIED",
            "VALID",
            "INVALID"
          ],
          "readOnly": true,
          "description": "Output only. The validity of the contact. A contact is considered valid if it is the correct recipient for notifications for a particular resource.",
          "enumDescriptions": [
            "The validation state is unknown or unspecified.",
            "The contact is marked as valid. This is usually done manually by the contact admin. All new contacts begin in the valid state.",
            "The contact is considered invalid. This may become the state if the contact's email is found to be unreachable."
          ]
        },
        "email": {
          "description": "Required. The email address to send notifications to. The email address does not need to be a Google Account.",
          "type": "string"
        },
        "languageTag": {
          "type": "string",
          "description": "Required. The preferred language for notifications, as a ISO 639-1 language code. See [Supported languages](https://cloud.google.com/resource-manager/docs/managing-notification-contacts#supported-languages) for a list of supported languages."
        },
        "validateTime": {
          "description": "Output only. The last time the validation_state was updated, either manually or automatically. A contact is considered stale if its validation state was updated more than 1 year ago.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "GoogleCloudEssentialcontactsV1ListContactsResponse": {
      "description": "Response message for the ListContacts method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "If there are more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token` and the rest of the parameters the same as the original request.",
          "type": "string"
        },
        "contacts": {
          "items": {
            "$ref": "GoogleCloudEssentialcontactsV1Contact"
          },
          "type": "array",
          "description": "The contacts for the specified resource."
        }
      },
      "id": "GoogleCloudEssentialcontactsV1ListContactsResponse"
    }
  },
  "description": "",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "servicePath": "",
  "title": "Essential Contacts API"
}