{
  "id": "essentialcontacts:v1",
  "discoveryVersion": "v1",
  "name": "essentialcontacts",
  "baseUrl": "https://essentialcontacts.googleapis.com/",
  "kind": "discovery#restDescription",
  "version_module": true,
  "ownerDomain": "google.com",
  "description": "",
  "revision": "20260924",
  "servicePath": "",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "Essential Contacts API",
  "documentationLink": "https://cloud.google.com/essentialcontacts/docs/",
  "protocol": "rest",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "type": "string",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    }
  },
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Essentialcontacts",
  "batchPath": "batch",
  "ownerName": "Google",
  "mtlsRootUrl": "https://essentialcontacts.mtls.googleapis.com/",
  "rootUrl": "https://essentialcontacts.googleapis.com/",
  "version": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "GoogleCloudEssentialcontactsV1ComputeContactsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "If there are more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token` and the rest of the parameters the same as the original request.",
          "type": "string"
        },
        "contacts": {
          "items": {
            "$ref": "GoogleCloudEssentialcontactsV1Contact"
          },
          "description": "All contacts for the resource that are subscribed to the specified notification categories, including contacts inherited from any parent resources.",
          "type": "array"
        }
      },
      "description": "Response message for the ComputeContacts method.",
      "id": "GoogleCloudEssentialcontactsV1ComputeContactsResponse",
      "type": "object"
    },
    "GoogleCloudEssentialcontactsV1SendTestMessageRequest": {
      "properties": {
        "contacts": {
          "type": "array",
          "description": "Required. The list of names of the contacts to send a test message to. Format: organizations/{organization}/contacts/{contact}, folders/{folder}/contacts/{contact} or projects/{project}/contacts/{contact} (where {project} is the project number)",
          "items": {
            "type": "string"
          }
        },
        "notificationCategory": {
          "enum": [
            "NOTIFICATION_CATEGORY_UNSPECIFIED",
            "ALL",
            "SUSPENSION",
            "SECURITY",
            "TECHNICAL",
            "BILLING",
            "LEGAL",
            "PRODUCT_UPDATES",
            "TECHNICAL_INCIDENTS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Notification category is unrecognized or unspecified.",
            "All notifications related to the resource, including notifications pertaining to categories added in the future.",
            "Notifications related to imminent account suspension.",
            "Notifications related to security/privacy incidents, notifications, and vulnerabilities.",
            "Notifications related to technical events and issues such as outages, errors, or bugs.",
            "Notifications related to billing and payments notifications, price updates, errors, or credits.",
            "Notifications related to enforcement actions, regulatory compliance, or government notices.",
            "Notifications related to new versions, product terms updates, or deprecations.",
            "Child category of TECHNICAL. If assigned, technical incident notifications will go to these contacts instead of TECHNICAL."
          ],
          "description": "Required. The notification category to send the test message for. All contacts must be subscribed to this category."
        }
      },
      "type": "object",
      "id": "GoogleCloudEssentialcontactsV1SendTestMessageRequest",
      "description": "Request message for the SendTestMessage method."
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty",
      "type": "object"
    },
    "GoogleCloudEssentialcontactsV1Contact": {
      "properties": {
        "notificationCategorySubscriptions": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Notification category is unrecognized or unspecified.",
              "All notifications related to the resource, including notifications pertaining to categories added in the future.",
              "Notifications related to imminent account suspension.",
              "Notifications related to security/privacy incidents, notifications, and vulnerabilities.",
              "Notifications related to technical events and issues such as outages, errors, or bugs.",
              "Notifications related to billing and payments notifications, price updates, errors, or credits.",
              "Notifications related to enforcement actions, regulatory compliance, or government notices.",
              "Notifications related to new versions, product terms updates, or deprecations.",
              "Child category of TECHNICAL. If assigned, technical incident notifications will go to these contacts instead of TECHNICAL."
            ],
            "enum": [
              "NOTIFICATION_CATEGORY_UNSPECIFIED",
              "ALL",
              "SUSPENSION",
              "SECURITY",
              "TECHNICAL",
              "BILLING",
              "LEGAL",
              "PRODUCT_UPDATES",
              "TECHNICAL_INCIDENTS"
            ]
          },
          "type": "array",
          "description": "Required. The categories of notifications that the contact will receive communications for."
        },
        "validateTime": {
          "format": "google-datetime",
          "description": "Output only. The last time the validation_state was updated, either manually or automatically. A contact is considered stale if its validation state was updated more than 1 year ago.",
          "readOnly": true,
          "type": "string"
        },
        "validationState": {
          "enumDescriptions": [
            "The validation state is unknown or unspecified.",
            "The contact is marked as valid. This is usually done manually by the contact admin. All new contacts begin in the valid state.",
            "The contact is considered invalid. This may become the state if the contact's email is found to be unreachable."
          ],
          "enum": [
            "VALIDATION_STATE_UNSPECIFIED",
            "VALID",
            "INVALID"
          ],
          "type": "string",
          "description": "Output only. The validity of the contact. A contact is considered valid if it is the correct recipient for notifications for a particular resource.",
          "readOnly": true
        },
        "email": {
          "description": "Required. The email address to send notifications to. The email address does not need to be a Google Account.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The identifier for the contact. Format: {resource_type}/{resource_id}/contacts/{contact_id}"
        },
        "languageTag": {
          "type": "string",
          "description": "Required. The preferred language for notifications, as a ISO 639-1 language code. See [Supported languages](https://cloud.google.com/resource-manager/docs/managing-notification-contacts#supported-languages) for a list of supported languages."
        }
      },
      "type": "object",
      "id": "GoogleCloudEssentialcontactsV1Contact",
      "description": "A contact that will receive notifications from Google Cloud."
    },
    "GoogleCloudEssentialcontactsV1ListContactsResponse": {
      "id": "GoogleCloudEssentialcontactsV1ListContactsResponse",
      "description": "Response message for the ListContacts method.",
      "properties": {
        "contacts": {
          "description": "The contacts for the specified resource.",
          "items": {
            "$ref": "GoogleCloudEssentialcontactsV1Contact"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "If there are more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token` and the rest of the parameters the same as the original request.",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "contacts": {
          "methods": {
            "patch": {
              "path": "v1/{+name}",
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "description": "Updates a contact. Note: A contact's email address cannot be changed.",
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Output only. The identifier for the contact. Format: {resource_type}/{resource_id}/contacts/{contact_id}",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/contacts/[^/]+$"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Optional. The update mask applied to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "essentialcontacts.projects.contacts.patch",
              "flatPath": "v1/projects/{projectsId}/contacts/{contactsId}",
              "httpMethod": "PATCH"
            },
            "create": {
              "path": "v1/{+parent}/contacts",
              "id": "essentialcontacts.projects.contacts.create",
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/contacts",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "description": "Adds a new contact for a resource.",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource to save this contact for. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)"
                }
              },
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "description": "Deletes a contact.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "essentialcontacts.projects.contacts.delete",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the contact to delete. Format: organizations/{organization}/contacts/{contact}, folders/{folder}/contacts/{contact} or projects/{project}/contacts/{contact} (where {project} is the project number)",
                  "pattern": "^projects/[^/]+/contacts/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/contacts/{contactsId}"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/contacts",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of `next_page_token` in the response indicates that more results might be available. If not specified, the default page_size is 100.",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The parent resource name. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters should be identical to those in the previous call.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1ListContactsResponse"
              },
              "description": "Lists the contacts that have been set on a resource.",
              "id": "essentialcontacts.projects.contacts.list",
              "path": "v1/{+parent}/contacts"
            },
            "sendTestMessage": {
              "httpMethod": "POST",
              "parameterOrder": [
                "resource"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Allows a contact admin to send a test message to contact to verify that it has been configured correctly.",
              "parameters": {
                "resource": {
                  "description": "Required. The name of the resource to send the test message for. All contacts must either be set directly on this resource or inherited from another resource that is an ancestor of this one. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/contacts:sendTestMessage",
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1SendTestMessageRequest"
              },
              "id": "essentialcontacts.projects.contacts.sendTestMessage",
              "path": "v1/{+resource}/contacts:sendTestMessage"
            },
            "get": {
              "parameters": {
                "name": {
                  "description": "Required. The name of the contact to retrieve. Format: organizations/{organization}/contacts/{contact}, folders/{folder}/contacts/{contact} or projects/{project}/contacts/{contact} (where {project} is the project number)",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/contacts/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "essentialcontacts.projects.contacts.get",
              "flatPath": "v1/projects/{projectsId}/contacts/{contactsId}",
              "httpMethod": "GET",
              "description": "Gets a single contact.",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              }
            },
            "compute": {
              "flatPath": "v1/projects/{projectsId}/contacts:compute",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters should be identical to those in the previous call.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of `next_page_token` in the response indicates that more results might be available. If not specified, the default page_size is 100.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "notificationCategories": {
                  "location": "query",
                  "repeated": true,
                  "type": "string",
                  "enumDescriptions": [
                    "Notification category is unrecognized or unspecified.",
                    "All notifications related to the resource, including notifications pertaining to categories added in the future.",
                    "Notifications related to imminent account suspension.",
                    "Notifications related to security/privacy incidents, notifications, and vulnerabilities.",
                    "Notifications related to technical events and issues such as outages, errors, or bugs.",
                    "Notifications related to billing and payments notifications, price updates, errors, or credits.",
                    "Notifications related to enforcement actions, regulatory compliance, or government notices.",
                    "Notifications related to new versions, product terms updates, or deprecations.",
                    "Child category of TECHNICAL. If assigned, technical incident notifications will go to these contacts instead of TECHNICAL."
                  ],
                  "description": "The categories of notifications to compute contacts for. If ALL is included in this list, contacts subscribed to any notification category will be returned.",
                  "enum": [
                    "NOTIFICATION_CATEGORY_UNSPECIFIED",
                    "ALL",
                    "SUSPENSION",
                    "SECURITY",
                    "TECHNICAL",
                    "BILLING",
                    "LEGAL",
                    "PRODUCT_UPDATES",
                    "TECHNICAL_INCIDENTS"
                  ]
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the resource to compute contacts for. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)"
                }
              },
              "id": "essentialcontacts.projects.contacts.compute",
              "path": "v1/{+parent}/contacts:compute",
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1ComputeContactsResponse"
              },
              "httpMethod": "GET",
              "description": "Lists all contacts for the resource that are subscribed to the specified notification categories, including contacts inherited from any parent resources.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ]
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "contacts": {
          "methods": {
            "sendTestMessage": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1/{+resource}/contacts:sendTestMessage",
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1SendTestMessageRequest"
              },
              "id": "essentialcontacts.organizations.contacts.sendTestMessage",
              "parameterOrder": [
                "resource"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/organizations/{organizationsId}/contacts:sendTestMessage",
              "description": "Allows a contact admin to send a test message to contact to verify that it has been configured correctly.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "resource": {
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the resource to send the test message for. All contacts must either be set directly on this resource or inherited from another resource that is an ancestor of this one. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)"
                }
              }
            },
            "compute": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/contacts:compute",
              "id": "essentialcontacts.organizations.contacts.compute",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1ComputeContactsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "notificationCategories": {
                  "enumDescriptions": [
                    "Notification category is unrecognized or unspecified.",
                    "All notifications related to the resource, including notifications pertaining to categories added in the future.",
                    "Notifications related to imminent account suspension.",
                    "Notifications related to security/privacy incidents, notifications, and vulnerabilities.",
                    "Notifications related to technical events and issues such as outages, errors, or bugs.",
                    "Notifications related to billing and payments notifications, price updates, errors, or credits.",
                    "Notifications related to enforcement actions, regulatory compliance, or government notices.",
                    "Notifications related to new versions, product terms updates, or deprecations.",
                    "Child category of TECHNICAL. If assigned, technical incident notifications will go to these contacts instead of TECHNICAL."
                  ],
                  "location": "query",
                  "repeated": true,
                  "type": "string",
                  "description": "The categories of notifications to compute contacts for. If ALL is included in this list, contacts subscribed to any notification category will be returned.",
                  "enum": [
                    "NOTIFICATION_CATEGORY_UNSPECIFIED",
                    "ALL",
                    "SUSPENSION",
                    "SECURITY",
                    "TECHNICAL",
                    "BILLING",
                    "LEGAL",
                    "PRODUCT_UPDATES",
                    "TECHNICAL_INCIDENTS"
                  ]
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of `next_page_token` in the response indicates that more results might be available. If not specified, the default page_size is 100.",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters should be identical to those in the previous call.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. The name of the resource to compute contacts for. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Lists all contacts for the resource that are subscribed to the specified notification categories, including contacts inherited from any parent resources.",
              "flatPath": "v1/organizations/{organizationsId}/contacts:compute"
            },
            "get": {
              "parameters": {
                "name": {
                  "description": "Required. The name of the contact to retrieve. Format: organizations/{organization}/contacts/{contact}, folders/{folder}/contacts/{contact} or projects/{project}/contacts/{contact} (where {project} is the project number)",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/contacts/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/contacts/{contactsId}",
              "id": "essentialcontacts.organizations.contacts.get",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "description": "Gets a single contact.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes a contact.",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/contacts/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the contact to delete. Format: organizations/{organization}/contacts/{contact}, folders/{folder}/contacts/{contact} or projects/{project}/contacts/{contact} (where {project} is the project number)",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "essentialcontacts.organizations.contacts.delete",
              "flatPath": "v1/organizations/{organizationsId}/contacts/{contactsId}"
            },
            "patch": {
              "id": "essentialcontacts.organizations.contacts.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/contacts/{contactsId}",
              "parameters": {
                "updateMask": {
                  "description": "Optional. The update mask applied to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Output only. The identifier for the contact. Format: {resource_type}/{resource_id}/contacts/{contact_id}",
                  "pattern": "^organizations/[^/]+/contacts/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "description": "Updates a contact. Note: A contact's email address cannot be changed.",
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "httpMethod": "PATCH"
            },
            "create": {
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "flatPath": "v1/organizations/{organizationsId}/contacts",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "description": "Required. The resource to save this contact for. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)"
                }
              },
              "path": "v1/{+parent}/contacts",
              "id": "essentialcontacts.organizations.contacts.create",
              "description": "Adds a new contact for a resource.",
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              }
            },
            "list": {
              "path": "v1/{+parent}/contacts",
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1ListContactsResponse"
              },
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of `next_page_token` in the response indicates that more results might be available. If not specified, the default page_size is 100.",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "description": "Required. The parent resource name. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters should be identical to those in the previous call."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists the contacts that have been set on a resource.",
              "flatPath": "v1/organizations/{organizationsId}/contacts",
              "id": "essentialcontacts.organizations.contacts.list",
              "httpMethod": "GET"
            }
          }
        }
      }
    },
    "folders": {
      "resources": {
        "contacts": {
          "methods": {
            "get": {
              "flatPath": "v1/folders/{foldersId}/contacts/{contactsId}",
              "id": "essentialcontacts.folders.contacts.get",
              "httpMethod": "GET",
              "description": "Gets a single contact.",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the contact to retrieve. Format: organizations/{organization}/contacts/{contact}, folders/{folder}/contacts/{contact} or projects/{project}/contacts/{contact} (where {project} is the project number)",
                  "type": "string",
                  "pattern": "^folders/[^/]+/contacts/[^/]+$"
                }
              }
            },
            "delete": {
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a contact.",
              "flatPath": "v1/folders/{foldersId}/contacts/{contactsId}",
              "id": "essentialcontacts.folders.contacts.delete",
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/contacts/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the contact to delete. Format: organizations/{organization}/contacts/{contact}, folders/{folder}/contacts/{contact} or projects/{project}/contacts/{contact} (where {project} is the project number)",
                  "location": "path"
                }
              }
            },
            "compute": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists all contacts for the resource that are subscribed to the specified notification categories, including contacts inherited from any parent resources.",
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1ComputeContactsResponse"
              },
              "httpMethod": "GET",
              "path": "v1/{+parent}/contacts:compute",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/folders/{foldersId}/contacts:compute",
              "parameters": {
                "notificationCategories": {
                  "enumDescriptions": [
                    "Notification category is unrecognized or unspecified.",
                    "All notifications related to the resource, including notifications pertaining to categories added in the future.",
                    "Notifications related to imminent account suspension.",
                    "Notifications related to security/privacy incidents, notifications, and vulnerabilities.",
                    "Notifications related to technical events and issues such as outages, errors, or bugs.",
                    "Notifications related to billing and payments notifications, price updates, errors, or credits.",
                    "Notifications related to enforcement actions, regulatory compliance, or government notices.",
                    "Notifications related to new versions, product terms updates, or deprecations.",
                    "Child category of TECHNICAL. If assigned, technical incident notifications will go to these contacts instead of TECHNICAL."
                  ],
                  "location": "query",
                  "repeated": true,
                  "enum": [
                    "NOTIFICATION_CATEGORY_UNSPECIFIED",
                    "ALL",
                    "SUSPENSION",
                    "SECURITY",
                    "TECHNICAL",
                    "BILLING",
                    "LEGAL",
                    "PRODUCT_UPDATES",
                    "TECHNICAL_INCIDENTS"
                  ],
                  "description": "The categories of notifications to compute contacts for. If ALL is included in this list, contacts subscribed to any notification category will be returned.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of `next_page_token` in the response indicates that more results might be available. If not specified, the default page_size is 100.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "required": true,
                  "description": "Required. The name of the resource to compute contacts for. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "pattern": "^folders/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters should be identical to those in the previous call."
                }
              },
              "id": "essentialcontacts.folders.contacts.compute"
            },
            "sendTestMessage": {
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1SendTestMessageRequest"
              },
              "flatPath": "v1/folders/{foldersId}/contacts:sendTestMessage",
              "parameterOrder": [
                "resource"
              ],
              "parameters": {
                "resource": {
                  "pattern": "^folders/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the resource to send the test message for. All contacts must either be set directly on this resource or inherited from another resource that is an ancestor of this one. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "type": "string"
                }
              },
              "description": "Allows a contact admin to send a test message to contact to verify that it has been configured correctly.",
              "id": "essentialcontacts.folders.contacts.sendTestMessage",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1/{+resource}/contacts:sendTestMessage",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "create": {
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^folders/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource to save this contact for. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)"
                }
              },
              "flatPath": "v1/folders/{foldersId}/contacts",
              "id": "essentialcontacts.folders.contacts.create",
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "httpMethod": "POST",
              "description": "Adds a new contact for a resource.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "path": "v1/{+parent}/contacts",
              "parameterOrder": [
                "parent"
              ]
            },
            "patch": {
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "id": "essentialcontacts.folders.contacts.patch",
              "description": "Updates a contact. Note: A contact's email address cannot be changed.",
              "request": {
                "$ref": "GoogleCloudEssentialcontactsV1Contact"
              },
              "path": "v1/{+name}",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The update mask applied to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^folders/[^/]+/contacts/[^/]+$",
                  "description": "Output only. The identifier for the contact. Format: {resource_type}/{resource_id}/contacts/{contact_id}"
                }
              },
              "flatPath": "v1/folders/{foldersId}/contacts/{contactsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "response": {
                "$ref": "GoogleCloudEssentialcontactsV1ListContactsResponse"
              },
              "id": "essentialcontacts.folders.contacts.list",
              "path": "v1/{+parent}/contacts",
              "httpMethod": "GET",
              "description": "Lists the contacts that have been set on a resource.",
              "flatPath": "v1/folders/{foldersId}/contacts",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum number of results to return from this request. Non-positive values are ignored. The presence of `next_page_token` in the response indicates that more results might be available. If not specified, the default page_size is 100.",
                  "format": "int32"
                },
                "parent": {
                  "description": "Required. The parent resource name. Format: organizations/{organization}, folders/{folder} or projects/{project} (where {project} is the project number)",
                  "pattern": "^folders/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. If present, retrieves the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of other method parameters should be identical to those in the previous call."
                }
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        }
      }
    }
  }
}