{
  "discoveryVersion": "v1",
  "rootUrl": "https://factchecktools.googleapis.com/",
  "resources": {
    "claims": {
      "methods": {
        "imageSearch": {
          "httpMethod": "GET",
          "flatPath": "v1alpha1/claims:imageSearch",
          "parameterOrder": [],
          "description": "Search through fact-checked claims using an image as the query.",
          "id": "factchecktools.claims.imageSearch",
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponse"
          },
          "parameters": {
            "pageToken": {
              "description": "Optional. The pagination token. You may provide the `next_page_token` returned from a previous List request, if any, in order to get the next page. All other fields must have the same values as in the previous request.",
              "location": "query",
              "type": "string"
            },
            "languageCode": {
              "type": "string",
              "description": "Optional. The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". Can be used to restrict results by language, though we do not currently consider the region.",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "description": "Optional. The pagination size. We will return up to that many results. Defaults to 10 if not set.",
              "location": "query",
              "format": "int32"
            },
            "offset": {
              "type": "integer",
              "description": "Optional. An integer that specifies the current offset (that is, starting result location) in search results. This field is only considered if `page_token` is unset. For example, 0 means to return results starting from the first matching result, and 10 means to return from the 11th result.",
              "location": "query",
              "format": "int32"
            },
            "imageUri": {
              "type": "string",
              "description": "Required. The URI of the source image. This must be a publicly-accessible image HTTP/HTTPS URL. When fetching images from HTTP/HTTPS URLs, Google cannot guarantee that the request will be completed. Your request may fail if the specified host denies the request (e.g. due to request throttling or DOS prevention), or if Google throttles requests to the site for abuse prevention. You should not depend on externally-hosted images for production applications.",
              "location": "query"
            }
          },
          "path": "v1alpha1/claims:imageSearch"
        },
        "search": {
          "path": "v1alpha1/claims:search",
          "parameters": {
            "maxAgeDays": {
              "type": "integer",
              "description": "The maximum age of the returned search results, in days. Age is determined by either claim date or review date, whichever is newer.",
              "location": "query",
              "format": "int32"
            },
            "query": {
              "description": "Textual query string. Required unless `review_publisher_site_filter` is specified.",
              "location": "query",
              "type": "string"
            },
            "languageCode": {
              "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". Can be used to restrict results by language, though we do not currently consider the region.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "The pagination token. You may provide the `next_page_token` returned from a previous List request, if any, in order to get the next page. All other fields must have the same values as in the previous request.",
              "location": "query"
            },
            "reviewPublisherSiteFilter": {
              "description": "The review publisher site to filter results by, e.g. nytimes.com.",
              "location": "query",
              "type": "string"
            },
            "offset": {
              "description": "An integer that specifies the current offset (that is, starting result location) in search results. This field is only considered if `page_token` is unset. For example, 0 means to return results starting from the first matching result, and 10 means to return from the 11th result.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "pageSize": {
              "type": "integer",
              "description": "The pagination size. We will return up to that many results. Defaults to 10 if not set.",
              "location": "query",
              "format": "int32"
            }
          },
          "id": "factchecktools.claims.search",
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimSearchResponse"
          },
          "description": "Search through fact-checked claims.",
          "parameterOrder": [],
          "flatPath": "v1alpha1/claims:search",
          "httpMethod": "GET"
        }
      }
    },
    "pages": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1alpha1/pages/{pagesId}",
          "description": "Get all `ClaimReview` markup on a page.",
          "parameters": {
            "name": {
              "pattern": "^pages/[^/]+$",
              "type": "string",
              "description": "The name of the resource to get, in the form of `pages/{page_id}`.",
              "location": "path",
              "required": true
            }
          },
          "id": "factchecktools.pages.get",
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "path": "v1alpha1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ]
        },
        "update": {
          "id": "factchecktools.pages.update",
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ],
          "path": "v1alpha1/{+name}",
          "description": "Update for all `ClaimReview` markup on a page Note that this is a full update. To retain the existing `ClaimReview` markup on a page, first perform a Get operation, then modify the returned markup, and finally call Update with the entire `ClaimReview` markup as the body.",
          "request": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "parameters": {
            "name": {
              "pattern": "^pages/[^/]+$",
              "type": "string",
              "description": "The name of this `ClaimReview` markup page resource, in the form of `pages/{page_id}`. Except for update requests, this field is output-only and should not be set by the user.",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "PUT",
          "flatPath": "v1alpha1/pages/{pagesId}",
          "parameterOrder": [
            "name"
          ]
        },
        "delete": {
          "parameters": {
            "name": {
              "type": "string",
              "description": "The name of the resource to delete, in the form of `pages/{page_id}`.",
              "pattern": "^pages/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "description": "Delete all `ClaimReview` markup on a page.",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1alpha1/pages/{pagesId}",
          "httpMethod": "DELETE",
          "path": "v1alpha1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ],
          "id": "factchecktools.pages.delete",
          "response": {
            "$ref": "GoogleProtobufEmpty"
          }
        },
        "create": {
          "id": "factchecktools.pages.create",
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "path": "v1alpha1/pages",
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ],
          "request": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "description": "Create `ClaimReview` markup on a page.",
          "parameters": {},
          "httpMethod": "POST",
          "parameterOrder": [],
          "flatPath": "v1alpha1/pages"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ],
          "path": "v1alpha1/pages",
          "id": "factchecktools.pages.list",
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ListClaimReviewMarkupPagesResponse"
          },
          "parameters": {
            "url": {
              "description": "The URL from which to get `ClaimReview` markup. There will be at most one result. If markup is associated with a more canonical version of the URL provided, we will return that URL instead. Cannot be specified along with an organization.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "The pagination token. You may provide the `next_page_token` returned from a previous List request, if any, in order to get the next page. All other fields must have the same values as in the previous request.",
              "location": "query"
            },
            "organization": {
              "type": "string",
              "description": "The organization for which we want to fetch markups for. For instance, \"site.com\". Cannot be specified along with an URL.",
              "location": "query"
            },
            "offset": {
              "type": "integer",
              "description": "An integer that specifies the current offset (that is, starting result location) in search results. This field is only considered if `page_token` is unset, and if the request is not for a specific URL. For example, 0 means to return results starting from the first matching result, and 10 means to return from the 11th result.",
              "location": "query",
              "format": "int32"
            },
            "pageSize": {
              "description": "The pagination size. We will return up to that many results. Defaults to 10 if not set. Has no effect if a URL is requested.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            }
          },
          "description": "List the `ClaimReview` markup pages for a specific URL or for an organization.",
          "flatPath": "v1alpha1/pages",
          "parameterOrder": [],
          "httpMethod": "GET"
        }
      }
    }
  },
  "name": "factchecktools",
  "version_module": true,
  "ownerDomain": "google.com",
  "servicePath": "",
  "id": "factchecktools:v1alpha1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Fact Check Tools API",
  "batchPath": "batch",
  "version": "v1alpha1",
  "mtlsRootUrl": "https://factchecktools.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/factchecktools": {
          "description": "Read, create, update, and delete your ClaimReview data."
        }
      }
    }
  },
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "description": "",
  "basePath": "",
  "baseUrl": "https://factchecktools.googleapis.com/",
  "revision": "20260712",
  "canonicalName": "Fact Check Tools",
  "ownerName": "Google",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/fact-check/tools/api/",
  "schemas": {
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1Publisher": {
      "description": "Information about the publisher.",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1Publisher",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of this publisher. For instance, \"Awesome Fact Checks\".",
          "type": "string"
        },
        "site": {
          "description": "Host-level site name, without the protocol or \"www\" prefix. For instance, \"awesomefactchecks.com\". This value of this field is based purely on the claim review URL.",
          "type": "string"
        }
      }
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewAuthor": {
      "description": "Information about the claim review author.",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewAuthor",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the organization that is publishing the fact check. Corresponds to `ClaimReview.author.name`.",
          "type": "string"
        },
        "imageUrl": {
          "type": "string",
          "description": "Corresponds to `ClaimReview.author.image`."
        }
      }
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimRating": {
      "description": "Information about the claim rating.",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimRating",
      "type": "object",
      "properties": {
        "textualRating": {
          "description": "The truthfulness rating as a human-readible short word or phrase. Corresponds to `ClaimReview.reviewRating.alternateName`.",
          "type": "string"
        },
        "ratingValue": {
          "description": "A numeric rating of this claim, in the range worstRating — bestRating inclusive. Corresponds to `ClaimReview.reviewRating.ratingValue`.",
          "format": "int32",
          "type": "integer"
        },
        "worstRating": {
          "type": "integer",
          "description": "For numeric ratings, the worst value possible in the scale from worst to best. Corresponds to `ClaimReview.reviewRating.worstRating`.",
          "format": "int32"
        },
        "ratingExplanation": {
          "type": "string",
          "description": "Corresponds to `ClaimReview.reviewRating.ratingExplanation`."
        },
        "bestRating": {
          "type": "integer",
          "description": "For numeric ratings, the best value possible in the scale from worst to best. Corresponds to `ClaimReview.reviewRating.bestRating`.",
          "format": "int32"
        },
        "imageUrl": {
          "type": "string",
          "description": "Corresponds to `ClaimReview.reviewRating.image`."
        }
      }
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkup": {
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkup",
      "type": "object",
      "properties": {
        "claimFirstAppearance": {
          "type": "string",
          "description": "A link to a work in which this claim first appears. Corresponds to `ClaimReview.itemReviewed[@type=Claim].firstAppearance.url`."
        },
        "claimAppearances": {
          "type": "array",
          "description": "A list of links to works in which this claim appears, aside from the one specified in `claim_first_appearance`. Corresponds to `ClaimReview.itemReviewed[@type=Claim].appearance.url`.",
          "items": {
            "type": "string"
          }
        },
        "claimLocation": {
          "description": "The location where this claim was made. Corresponds to `ClaimReview.itemReviewed.name`.",
          "type": "string"
        },
        "rating": {
          "description": "Info about the rating of this claim review.",
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimRating"
        },
        "url": {
          "type": "string",
          "description": "This field is optional, and will default to the page URL. We provide this field to allow you the override the default value, but the only permitted override is the page URL plus an optional anchor link (\"page jump\"). Corresponds to `ClaimReview.url`"
        },
        "claimReviewed": {
          "description": "A short summary of the claim being evaluated. Corresponds to `ClaimReview.claimReviewed`.",
          "type": "string"
        },
        "claimDate": {
          "type": "string",
          "description": "The date when the claim was made or entered public discourse. Corresponds to `ClaimReview.itemReviewed.datePublished`."
        },
        "claimAuthor": {
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimAuthor",
          "description": "Info about the author of this claim."
        }
      },
      "description": "Fields for an individual `ClaimReview` element. Except for sub-messages that group fields together, each of these fields correspond those in https://schema.org/ClaimReview. We list the precise mapping for each field."
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ListClaimReviewMarkupPagesResponse": {
      "description": "Response from listing `ClaimReview` markup.",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ListClaimReviewMarkupPagesResponse",
      "type": "object",
      "properties": {
        "claimReviewMarkupPages": {
          "type": "array",
          "description": "The result list of pages of `ClaimReview` markup.",
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next pagination token in the Search response. It should be used as the `page_token` for the following request. An empty value means no more results."
        }
      }
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1Claim": {
      "description": "Information about the claim.",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1Claim",
      "type": "object",
      "properties": {
        "claimReview": {
          "description": "One or more reviews of this claim (namely, a fact-checking article).",
          "type": "array",
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReview"
          }
        },
        "claimant": {
          "type": "string",
          "description": "A person or organization stating the claim. For instance, \"John Doe\"."
        },
        "text": {
          "type": "string",
          "description": "The claim text. For instance, \"Crime has doubled in the last 2 years.\""
        },
        "claimDate": {
          "type": "string",
          "description": "The date that the claim was made.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimSearchResponse": {
      "description": "Response from searching fact-checked claims.",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimSearchResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The next pagination token in the Search response. It should be used as the `page_token` for the following request. An empty value means no more results.",
          "type": "string"
        },
        "claims": {
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1Claim"
          },
          "type": "array",
          "description": "The list of claims and all of their associated information."
        }
      }
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimAuthor": {
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimAuthor",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "A person or organization stating the claim. For instance, \"John Doe\". Corresponds to `ClaimReview.itemReviewed.author.name`."
        },
        "sameAs": {
          "type": "string",
          "description": "Corresponds to `ClaimReview.itemReviewed.author.sameAs`."
        },
        "jobTitle": {
          "description": "Corresponds to `ClaimReview.itemReviewed.author.jobTitle`.",
          "type": "string"
        },
        "imageUrl": {
          "type": "string",
          "description": "Corresponds to `ClaimReview.itemReviewed.author.image`."
        }
      },
      "description": "Information about the claim author."
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReview": {
      "description": "Information about a claim review.",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReview",
      "type": "object",
      "properties": {
        "reviewDate": {
          "type": "string",
          "description": "The date the claim was reviewed.",
          "format": "google-datetime"
        },
        "textualRating": {
          "type": "string",
          "description": "Textual rating. For instance, \"Mostly false\"."
        },
        "title": {
          "type": "string",
          "description": "The title of this claim review, if it can be determined."
        },
        "publisher": {
          "description": "The publisher of this claim review.",
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1Publisher"
        },
        "url": {
          "type": "string",
          "description": "The URL of this claim review."
        },
        "languageCode": {
          "type": "string",
          "description": "The language this review was written in. For instance, \"en\" or \"de\"."
        }
      }
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponse": {
      "description": "Response from searching fact-checked claims by image.",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponse",
      "type": "object",
      "properties": {
        "results": {
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponseResult"
          },
          "description": "The list of claims and all of their associated information.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next pagination token in the Search response. It should be used as the `page_token` for the following request. An empty value means no more results."
        }
      }
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponseResult": {
      "description": "A claim and its associated information.",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponseResult",
      "type": "object",
      "properties": {
        "claim": {
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1Claim",
          "description": "A claim which matched the query."
        }
      }
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage": {
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage",
      "type": "object",
      "properties": {
        "pageUrl": {
          "type": "string",
          "description": "The URL of the page associated with this `ClaimReview` markup. While every individual `ClaimReview` has its own URL field, semantically this is a page-level field, and each `ClaimReview` on this page will use this value unless individually overridden. Corresponds to `ClaimReview.url`"
        },
        "versionId": {
          "type": "string",
          "description": "The version ID for this markup. Except for update requests, this field is output-only and should not be set by the user."
        },
        "name": {
          "type": "string",
          "description": "The name of this `ClaimReview` markup page resource, in the form of `pages/{page_id}`. Except for update requests, this field is output-only and should not be set by the user."
        },
        "claimReviewMarkups": {
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkup"
          },
          "type": "array",
          "description": "A list of individual claim reviews for this page. Each item in the list corresponds to one `ClaimReview` element."
        },
        "publishDate": {
          "description": "The date when the fact check was published. Similar to the URL, semantically this is a page-level field, and each `ClaimReview` on this page will contain the same value. Corresponds to `ClaimReview.datePublished`",
          "type": "string"
        },
        "claimReviewAuthor": {
          "description": "Info about the author of this claim review. Similar to the above, semantically these are page-level fields, and each `ClaimReview` on this page will contain the same values.",
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewAuthor"
        }
      },
      "description": "Holds one or more instances of `ClaimReview` markup for a webpage."
    }
  }
}