{
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/factchecktools": {
          "description": "Read, create, update, and delete your ClaimReview data."
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/fact-check/tools/api/",
  "discoveryVersion": "v1",
  "rootUrl": "https://factchecktools.googleapis.com/",
  "basePath": "",
  "servicePath": "",
  "baseUrl": "https://factchecktools.googleapis.com/",
  "ownerDomain": "google.com",
  "id": "factchecktools:v1alpha1",
  "protocol": "rest",
  "title": "Fact Check Tools API",
  "name": "factchecktools",
  "description": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReview": {
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReview",
      "properties": {
        "languageCode": {
          "description": "The language this review was written in. For instance, \"en\" or \"de\".",
          "type": "string"
        },
        "textualRating": {
          "type": "string",
          "description": "Textual rating. For instance, \"Mostly false\"."
        },
        "url": {
          "description": "The URL of this claim review.",
          "type": "string"
        },
        "publisher": {
          "description": "The publisher of this claim review.",
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1Publisher"
        },
        "title": {
          "description": "The title of this claim review, if it can be determined.",
          "type": "string"
        },
        "reviewDate": {
          "format": "google-datetime",
          "type": "string",
          "description": "The date the claim was reviewed."
        }
      },
      "type": "object",
      "description": "Information about a claim review."
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimAuthor": {
      "properties": {
        "name": {
          "type": "string",
          "description": "A person or organization stating the claim. For instance, \"John Doe\". Corresponds to `ClaimReview.itemReviewed.author.name`."
        },
        "jobTitle": {
          "description": "Corresponds to `ClaimReview.itemReviewed.author.jobTitle`.",
          "type": "string"
        },
        "sameAs": {
          "type": "string",
          "description": "Corresponds to `ClaimReview.itemReviewed.author.sameAs`."
        },
        "imageUrl": {
          "description": "Corresponds to `ClaimReview.itemReviewed.author.image`.",
          "type": "string"
        }
      },
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimAuthor",
      "description": "Information about the claim author.",
      "type": "object"
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponseResult": {
      "properties": {
        "claim": {
          "description": "A claim which matched the query.",
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1Claim"
        }
      },
      "type": "object",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponseResult",
      "description": "A claim and its associated information."
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1Claim": {
      "properties": {
        "claimDate": {
          "type": "string",
          "format": "google-datetime",
          "description": "The date that the claim was made."
        },
        "claimReview": {
          "description": "One or more reviews of this claim (namely, a fact-checking article).",
          "type": "array",
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReview"
          }
        },
        "claimant": {
          "description": "A person or organization stating the claim. For instance, \"John Doe\".",
          "type": "string"
        },
        "text": {
          "description": "The claim text. For instance, \"Crime has doubled in the last 2 years.\"",
          "type": "string"
        }
      },
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1Claim",
      "description": "Information about the claim.",
      "type": "object"
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkup": {
      "description": "Fields for an individual `ClaimReview` element. Except for sub-messages that group fields together, each of these fields correspond those in https://schema.org/ClaimReview. We list the precise mapping for each field.",
      "type": "object",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkup",
      "properties": {
        "rating": {
          "description": "Info about the rating of this claim review.",
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimRating"
        },
        "claimReviewed": {
          "description": "A short summary of the claim being evaluated. Corresponds to `ClaimReview.claimReviewed`.",
          "type": "string"
        },
        "claimAppearances": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of links to works in which this claim appears, aside from the one specified in `claim_first_appearance`. Corresponds to `ClaimReview.itemReviewed[@type=Claim].appearance.url`."
        },
        "claimDate": {
          "description": "The date when the claim was made or entered public discourse. Corresponds to `ClaimReview.itemReviewed.datePublished`.",
          "type": "string"
        },
        "claimAuthor": {
          "description": "Info about the author of this claim.",
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimAuthor"
        },
        "claimFirstAppearance": {
          "description": "A link to a work in which this claim first appears. Corresponds to `ClaimReview.itemReviewed[@type=Claim].firstAppearance.url`.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "This field is optional, and will default to the page URL. We provide this field to allow you the override the default value, but the only permitted override is the page URL plus an optional anchor link (\"page jump\"). Corresponds to `ClaimReview.url`"
        },
        "claimLocation": {
          "description": "The location where this claim was made. Corresponds to `ClaimReview.itemReviewed.name`.",
          "type": "string"
        }
      }
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ListClaimReviewMarkupPagesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The next pagination token in the Search response. It should be used as the `page_token` for the following request. An empty value means no more results."
        },
        "claimReviewMarkupPages": {
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "description": "The result list of pages of `ClaimReview` markup.",
          "type": "array"
        }
      },
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ListClaimReviewMarkupPagesResponse",
      "description": "Response from listing `ClaimReview` markup.",
      "type": "object"
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage": {
      "properties": {
        "claimReviewMarkups": {
          "type": "array",
          "description": "A list of individual claim reviews for this page. Each item in the list corresponds to one `ClaimReview` element.",
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkup"
          }
        },
        "publishDate": {
          "type": "string",
          "description": "The date when the fact check was published. Similar to the URL, semantically this is a page-level field, and each `ClaimReview` on this page will contain the same value. Corresponds to `ClaimReview.datePublished`"
        },
        "claimReviewAuthor": {
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewAuthor",
          "description": "Info about the author of this claim review. Similar to the above, semantically these are page-level fields, and each `ClaimReview` on this page will contain the same values."
        },
        "pageUrl": {
          "description": "The URL of the page associated with this `ClaimReview` markup. While every individual `ClaimReview` has its own URL field, semantically this is a page-level field, and each `ClaimReview` on this page will use this value unless individually overridden. Corresponds to `ClaimReview.url`",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of this `ClaimReview` markup page resource, in the form of `pages/{page_id}`. Except for update requests, this field is output-only and should not be set by the user."
        },
        "versionId": {
          "description": "The version ID for this markup. Except for update requests, this field is output-only and should not be set by the user.",
          "type": "string"
        }
      },
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage",
      "type": "object",
      "description": "Holds one or more instances of `ClaimReview` markup for a webpage."
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1Publisher": {
      "type": "object",
      "properties": {
        "site": {
          "description": "Host-level site name, without the protocol or \"www\" prefix. For instance, \"awesomefactchecks.com\". This value of this field is based purely on the claim review URL.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of this publisher. For instance, \"Awesome Fact Checks\"."
        }
      },
      "description": "Information about the publisher.",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1Publisher"
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponse": {
      "type": "object",
      "description": "Response from searching fact-checked claims by image.",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponse",
      "properties": {
        "results": {
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponseResult"
          },
          "description": "The list of claims and all of their associated information.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The next pagination token in the Search response. It should be used as the `page_token` for the following request. An empty value means no more results.",
          "type": "string"
        }
      }
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimSearchResponse": {
      "description": "Response from searching fact-checked claims.",
      "properties": {
        "claims": {
          "description": "The list of claims and all of their associated information.",
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1Claim"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next pagination token in the Search response. It should be used as the `page_token` for the following request. An empty value means no more results."
        }
      },
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimSearchResponse",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimRating": {
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimRating",
      "type": "object",
      "properties": {
        "textualRating": {
          "description": "The truthfulness rating as a human-readible short word or phrase. Corresponds to `ClaimReview.reviewRating.alternateName`.",
          "type": "string"
        },
        "ratingValue": {
          "description": "A numeric rating of this claim, in the range worstRating — bestRating inclusive. Corresponds to `ClaimReview.reviewRating.ratingValue`.",
          "type": "integer",
          "format": "int32"
        },
        "worstRating": {
          "description": "For numeric ratings, the worst value possible in the scale from worst to best. Corresponds to `ClaimReview.reviewRating.worstRating`.",
          "format": "int32",
          "type": "integer"
        },
        "ratingExplanation": {
          "type": "string",
          "description": "Corresponds to `ClaimReview.reviewRating.ratingExplanation`."
        },
        "imageUrl": {
          "type": "string",
          "description": "Corresponds to `ClaimReview.reviewRating.image`."
        },
        "bestRating": {
          "description": "For numeric ratings, the best value possible in the scale from worst to best. Corresponds to `ClaimReview.reviewRating.bestRating`.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Information about the claim rating."
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewAuthor": {
      "type": "object",
      "description": "Information about the claim review author.",
      "properties": {
        "imageUrl": {
          "description": "Corresponds to `ClaimReview.author.image`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the organization that is publishing the fact check. Corresponds to `ClaimReview.author.name`."
        }
      },
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewAuthor"
    }
  },
  "revision": "20260830",
  "batchPath": "batch",
  "canonicalName": "Fact Check Tools",
  "mtlsRootUrl": "https://factchecktools.mtls.googleapis.com/",
  "version_module": true,
  "resources": {
    "claims": {
      "methods": {
        "search": {
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimSearchResponse"
          },
          "parameters": {
            "query": {
              "type": "string",
              "location": "query",
              "description": "Textual query string. Required unless `review_publisher_site_filter` is specified."
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "The pagination size. We will return up to that many results. Defaults to 10 if not set."
            },
            "languageCode": {
              "location": "query",
              "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". Can be used to restrict results by language, though we do not currently consider the region.",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "The pagination token. You may provide the `next_page_token` returned from a previous List request, if any, in order to get the next page. All other fields must have the same values as in the previous request.",
              "location": "query"
            },
            "maxAgeDays": {
              "format": "int32",
              "type": "integer",
              "description": "The maximum age of the returned search results, in days. Age is determined by either claim date or review date, whichever is newer.",
              "location": "query"
            },
            "reviewPublisherSiteFilter": {
              "type": "string",
              "location": "query",
              "description": "The review publisher site to filter results by, e.g. nytimes.com."
            },
            "offset": {
              "location": "query",
              "description": "An integer that specifies the current offset (that is, starting result location) in search results. This field is only considered if `page_token` is unset. For example, 0 means to return results starting from the first matching result, and 10 means to return from the 11th result.",
              "format": "int32",
              "type": "integer"
            }
          },
          "path": "v1alpha1/claims:search",
          "parameterOrder": [],
          "httpMethod": "GET",
          "id": "factchecktools.claims.search",
          "flatPath": "v1alpha1/claims:search",
          "description": "Search through fact-checked claims."
        },
        "imageSearch": {
          "httpMethod": "GET",
          "flatPath": "v1alpha1/claims:imageSearch",
          "description": "Search through fact-checked claims using an image as the query.",
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponse"
          },
          "id": "factchecktools.claims.imageSearch",
          "parameterOrder": [],
          "path": "v1alpha1/claims:imageSearch",
          "parameters": {
            "pageSize": {
              "location": "query",
              "description": "Optional. The pagination size. We will return up to that many results. Defaults to 10 if not set.",
              "type": "integer",
              "format": "int32"
            },
            "imageUri": {
              "location": "query",
              "type": "string",
              "description": "Required. The URI of the source image. This must be a publicly-accessible image HTTP/HTTPS URL. When fetching images from HTTP/HTTPS URLs, Google cannot guarantee that the request will be completed. Your request may fail if the specified host denies the request (e.g. due to request throttling or DOS prevention), or if Google throttles requests to the site for abuse prevention. You should not depend on externally-hosted images for production applications."
            },
            "languageCode": {
              "location": "query",
              "type": "string",
              "description": "Optional. The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". Can be used to restrict results by language, though we do not currently consider the region."
            },
            "offset": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. An integer that specifies the current offset (that is, starting result location) in search results. This field is only considered if `page_token` is unset. For example, 0 means to return results starting from the first matching result, and 10 means to return from the 11th result.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. The pagination token. You may provide the `next_page_token` returned from a previous List request, if any, in order to get the next page. All other fields must have the same values as in the previous request.",
              "location": "query"
            }
          }
        }
      }
    },
    "pages": {
      "methods": {
        "get": {
          "flatPath": "v1alpha1/pages/{pagesId}",
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ],
          "path": "v1alpha1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "id": "factchecktools.pages.get",
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^pages/[^/]+$",
              "description": "The name of the resource to get, in the form of `pages/{page_id}`."
            }
          },
          "description": "Get all `ClaimReview` markup on a page."
        },
        "list": {
          "description": "List the `ClaimReview` markup pages for a specific URL or for an organization.",
          "flatPath": "v1alpha1/pages",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ListClaimReviewMarkupPagesResponse"
          },
          "parameterOrder": [],
          "path": "v1alpha1/pages",
          "id": "factchecktools.pages.list",
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ],
          "parameters": {
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "The pagination size. We will return up to that many results. Defaults to 10 if not set. Has no effect if a URL is requested."
            },
            "offset": {
              "format": "int32",
              "type": "integer",
              "description": "An integer that specifies the current offset (that is, starting result location) in search results. This field is only considered if `page_token` is unset, and if the request is not for a specific URL. For example, 0 means to return results starting from the first matching result, and 10 means to return from the 11th result.",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The pagination token. You may provide the `next_page_token` returned from a previous List request, if any, in order to get the next page. All other fields must have the same values as in the previous request."
            },
            "organization": {
              "location": "query",
              "type": "string",
              "description": "The organization for which we want to fetch markups for. For instance, \"site.com\". Cannot be specified along with an URL."
            },
            "url": {
              "description": "The URL from which to get `ClaimReview` markup. There will be at most one result. If markup is associated with a more canonical version of the URL provided, we will return that URL instead. Cannot be specified along with an organization.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "delete": {
          "id": "factchecktools.pages.delete",
          "path": "v1alpha1/{+name}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^pages/[^/]+$",
              "location": "path",
              "description": "The name of the resource to delete, in the form of `pages/{page_id}`."
            }
          },
          "flatPath": "v1alpha1/pages/{pagesId}",
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "description": "Delete all `ClaimReview` markup on a page."
        },
        "create": {
          "parameterOrder": [],
          "description": "Create `ClaimReview` markup on a page.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ],
          "id": "factchecktools.pages.create",
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "parameters": {},
          "request": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "path": "v1alpha1/pages",
          "flatPath": "v1alpha1/pages"
        },
        "update": {
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "name"
          ],
          "id": "factchecktools.pages.update",
          "description": "Update for all `ClaimReview` markup on a page Note that this is a full update. To retain the existing `ClaimReview` markup on a page, first perform a Get operation, then modify the returned markup, and finally call Update with the entire `ClaimReview` markup as the body.",
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ],
          "flatPath": "v1alpha1/pages/{pagesId}",
          "request": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "path": "v1alpha1/{+name}",
          "parameters": {
            "name": {
              "description": "The name of this `ClaimReview` markup page resource, in the form of `pages/{page_id}`. Except for update requests, this field is output-only and should not be set by the user.",
              "location": "path",
              "required": true,
              "pattern": "^pages/[^/]+$",
              "type": "string"
            }
          }
        }
      }
    }
  },
  "version": "v1alpha1"
}