{
  "title": "Fact Check Tools API",
  "servicePath": "",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "protocol": "rest",
  "mtlsRootUrl": "https://factchecktools.mtls.googleapis.com/",
  "description": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://factchecktools.googleapis.com/",
  "documentationLink": "https://developers.google.com/fact-check/tools/api/",
  "schemas": {
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkup": {
      "properties": {
        "claimReviewed": {
          "description": "A short summary of the claim being evaluated. Corresponds to `ClaimReview.claimReviewed`.",
          "type": "string"
        },
        "claimAuthor": {
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimAuthor",
          "description": "Info about the author of this claim."
        },
        "claimFirstAppearance": {
          "type": "string",
          "description": "A link to a work in which this claim first appears. Corresponds to `ClaimReview.itemReviewed[@type=Claim].firstAppearance.url`."
        },
        "claimLocation": {
          "description": "The location where this claim was made. Corresponds to `ClaimReview.itemReviewed.name`.",
          "type": "string"
        },
        "claimDate": {
          "description": "The date when the claim was made or entered public discourse. Corresponds to `ClaimReview.itemReviewed.datePublished`.",
          "type": "string"
        },
        "claimAppearances": {
          "items": {
            "type": "string"
          },
          "description": "A list of links to works in which this claim appears, aside from the one specified in `claim_first_appearance`. Corresponds to `ClaimReview.itemReviewed[@type=Claim].appearance.url`.",
          "type": "array"
        },
        "url": {
          "description": "This field is optional, and will default to the page URL. We provide this field to allow you the override the default value, but the only permitted override is the page URL plus an optional anchor link (\"page jump\"). Corresponds to `ClaimReview.url`",
          "type": "string"
        },
        "rating": {
          "description": "Info about the rating of this claim review.",
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimRating"
        }
      },
      "description": "Fields for an individual `ClaimReview` element. Except for sub-messages that group fields together, each of these fields correspond those in https://schema.org/ClaimReview. We list the precise mapping for each field.",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkup",
      "type": "object"
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage": {
      "type": "object",
      "description": "Holds one or more instances of `ClaimReview` markup for a webpage.",
      "properties": {
        "claimReviewMarkups": {
          "description": "A list of individual claim reviews for this page. Each item in the list corresponds to one `ClaimReview` element.",
          "type": "array",
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkup"
          }
        },
        "publishDate": {
          "type": "string",
          "description": "The date when the fact check was published. Similar to the URL, semantically this is a page-level field, and each `ClaimReview` on this page will contain the same value. Corresponds to `ClaimReview.datePublished`"
        },
        "name": {
          "description": "The name of this `ClaimReview` markup page resource, in the form of `pages/{page_id}`. Except for update requests, this field is output-only and should not be set by the user.",
          "type": "string"
        },
        "pageUrl": {
          "description": "The URL of the page associated with this `ClaimReview` markup. While every individual `ClaimReview` has its own URL field, semantically this is a page-level field, and each `ClaimReview` on this page will use this value unless individually overridden. Corresponds to `ClaimReview.url`",
          "type": "string"
        },
        "versionId": {
          "type": "string",
          "description": "The version ID for this markup. Except for update requests, this field is output-only and should not be set by the user."
        },
        "claimReviewAuthor": {
          "description": "Info about the author of this claim review. Similar to the above, semantically these are page-level fields, and each `ClaimReview` on this page will contain the same values.",
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewAuthor"
        }
      },
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ListClaimReviewMarkupPagesResponse": {
      "description": "Response from listing `ClaimReview` markup.",
      "properties": {
        "claimReviewMarkupPages": {
          "description": "The result list of pages of `ClaimReview` markup.",
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The next pagination token in the Search response. It should be used as the `page_token` for the following request. An empty value means no more results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ListClaimReviewMarkupPagesResponse"
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty"
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewAuthor": {
      "properties": {
        "imageUrl": {
          "description": "Corresponds to `ClaimReview.author.image`.",
          "type": "string"
        },
        "name": {
          "description": "Name of the organization that is publishing the fact check. Corresponds to `ClaimReview.author.name`.",
          "type": "string"
        }
      },
      "description": "Information about the claim review author.",
      "type": "object",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewAuthor"
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1Claim": {
      "type": "object",
      "properties": {
        "claimant": {
          "type": "string",
          "description": "A person or organization stating the claim. For instance, \"John Doe\"."
        },
        "text": {
          "description": "The claim text. For instance, \"Crime has doubled in the last 2 years.\"",
          "type": "string"
        },
        "claimReview": {
          "description": "One or more reviews of this claim (namely, a fact-checking article).",
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReview"
          },
          "type": "array"
        },
        "claimDate": {
          "format": "google-datetime",
          "description": "The date that the claim was made.",
          "type": "string"
        }
      },
      "description": "Information about the claim.",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1Claim"
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponseResult": {
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponseResult",
      "description": "A claim and its associated information.",
      "type": "object",
      "properties": {
        "claim": {
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1Claim",
          "description": "A claim which matched the query."
        }
      }
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimSearchResponse": {
      "type": "object",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimSearchResponse",
      "properties": {
        "claims": {
          "description": "The list of claims and all of their associated information.",
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1Claim"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The next pagination token in the Search response. It should be used as the `page_token` for the following request. An empty value means no more results.",
          "type": "string"
        }
      },
      "description": "Response from searching fact-checked claims."
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponse": {
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponse",
      "description": "Response from searching fact-checked claims by image.",
      "type": "object",
      "properties": {
        "results": {
          "items": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponseResult"
          },
          "description": "The list of claims and all of their associated information.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The next pagination token in the Search response. It should be used as the `page_token` for the following request. An empty value means no more results.",
          "type": "string"
        }
      }
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1Publisher": {
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1Publisher",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of this publisher. For instance, \"Awesome Fact Checks\".",
          "type": "string"
        },
        "site": {
          "type": "string",
          "description": "Host-level site name, without the protocol or \"www\" prefix. For instance, \"awesomefactchecks.com\". This value of this field is based purely on the claim review URL."
        }
      },
      "description": "Information about the publisher."
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimAuthor": {
      "description": "Information about the claim author.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "A person or organization stating the claim. For instance, \"John Doe\". Corresponds to `ClaimReview.itemReviewed.author.name`."
        },
        "sameAs": {
          "type": "string",
          "description": "Corresponds to `ClaimReview.itemReviewed.author.sameAs`."
        },
        "jobTitle": {
          "description": "Corresponds to `ClaimReview.itemReviewed.author.jobTitle`.",
          "type": "string"
        },
        "imageUrl": {
          "type": "string",
          "description": "Corresponds to `ClaimReview.itemReviewed.author.image`."
        }
      },
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimAuthor"
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimRating": {
      "type": "object",
      "properties": {
        "bestRating": {
          "description": "For numeric ratings, the best value possible in the scale from worst to best. Corresponds to `ClaimReview.reviewRating.bestRating`.",
          "type": "integer",
          "format": "int32"
        },
        "textualRating": {
          "type": "string",
          "description": "The truthfulness rating as a human-readible short word or phrase. Corresponds to `ClaimReview.reviewRating.alternateName`."
        },
        "ratingExplanation": {
          "description": "Corresponds to `ClaimReview.reviewRating.ratingExplanation`.",
          "type": "string"
        },
        "ratingValue": {
          "type": "integer",
          "description": "A numeric rating of this claim, in the range worstRating — bestRating inclusive. Corresponds to `ClaimReview.reviewRating.ratingValue`.",
          "format": "int32"
        },
        "worstRating": {
          "type": "integer",
          "format": "int32",
          "description": "For numeric ratings, the worst value possible in the scale from worst to best. Corresponds to `ClaimReview.reviewRating.worstRating`."
        },
        "imageUrl": {
          "description": "Corresponds to `ClaimReview.reviewRating.image`.",
          "type": "string"
        }
      },
      "description": "Information about the claim rating.",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimRating"
    },
    "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReview": {
      "description": "Information about a claim review.",
      "id": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReview",
      "properties": {
        "textualRating": {
          "description": "Textual rating. For instance, \"Mostly false\".",
          "type": "string"
        },
        "reviewDate": {
          "description": "The date the claim was reviewed.",
          "type": "string",
          "format": "google-datetime"
        },
        "title": {
          "description": "The title of this claim review, if it can be determined.",
          "type": "string"
        },
        "languageCode": {
          "description": "The language this review was written in. For instance, \"en\" or \"de\".",
          "type": "string"
        },
        "publisher": {
          "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1Publisher",
          "description": "The publisher of this claim review."
        },
        "url": {
          "type": "string",
          "description": "The URL of this claim review."
        }
      },
      "type": "object"
    }
  },
  "parameters": {
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "ownerName": "Google",
  "name": "factchecktools",
  "rootUrl": "https://factchecktools.googleapis.com/",
  "basePath": "",
  "revision": "20260906",
  "id": "factchecktools:v1alpha1",
  "kind": "discovery#restDescription",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/factchecktools": {
          "description": "Read, create, update, and delete your ClaimReview data."
        }
      }
    }
  },
  "resources": {
    "claims": {
      "methods": {
        "search": {
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimSearchResponse"
          },
          "parameters": {
            "languageCode": {
              "type": "string",
              "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". Can be used to restrict results by language, though we do not currently consider the region.",
              "location": "query"
            },
            "reviewPublisherSiteFilter": {
              "location": "query",
              "description": "The review publisher site to filter results by, e.g. nytimes.com.",
              "type": "string"
            },
            "pageToken": {
              "description": "The pagination token. You may provide the `next_page_token` returned from a previous List request, if any, in order to get the next page. All other fields must have the same values as in the previous request.",
              "type": "string",
              "location": "query"
            },
            "offset": {
              "format": "int32",
              "location": "query",
              "description": "An integer that specifies the current offset (that is, starting result location) in search results. This field is only considered if `page_token` is unset. For example, 0 means to return results starting from the first matching result, and 10 means to return from the 11th result.",
              "type": "integer"
            },
            "maxAgeDays": {
              "type": "integer",
              "description": "The maximum age of the returned search results, in days. Age is determined by either claim date or review date, whichever is newer.",
              "format": "int32",
              "location": "query"
            },
            "query": {
              "description": "Textual query string. Required unless `review_publisher_site_filter` is specified.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "description": "The pagination size. We will return up to that many results. Defaults to 10 if not set.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            }
          },
          "description": "Search through fact-checked claims.",
          "id": "factchecktools.claims.search",
          "httpMethod": "GET",
          "flatPath": "v1alpha1/claims:search",
          "path": "v1alpha1/claims:search",
          "parameterOrder": []
        },
        "imageSearch": {
          "id": "factchecktools.claims.imageSearch",
          "path": "v1alpha1/claims:imageSearch",
          "parameters": {
            "imageUri": {
              "type": "string",
              "description": "Required. The URI of the source image. This must be a publicly-accessible image HTTP/HTTPS URL. When fetching images from HTTP/HTTPS URLs, Google cannot guarantee that the request will be completed. Your request may fail if the specified host denies the request (e.g. due to request throttling or DOS prevention), or if Google throttles requests to the site for abuse prevention. You should not depend on externally-hosted images for production applications.",
              "location": "query"
            },
            "offset": {
              "format": "int32",
              "description": "Optional. An integer that specifies the current offset (that is, starting result location) in search results. This field is only considered if `page_token` is unset. For example, 0 means to return results starting from the first matching result, and 10 means to return from the 11th result.",
              "location": "query",
              "type": "integer"
            },
            "languageCode": {
              "type": "string",
              "location": "query",
              "description": "Optional. The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". Can be used to restrict results by language, though we do not currently consider the region."
            },
            "pageToken": {
              "description": "Optional. The pagination token. You may provide the `next_page_token` returned from a previous List request, if any, in order to get the next page. All other fields must have the same values as in the previous request.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "Optional. The pagination size. We will return up to that many results. Defaults to 10 if not set.",
              "format": "int32"
            }
          },
          "flatPath": "v1alpha1/claims:imageSearch",
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1FactCheckedClaimImageSearchResponse"
          },
          "description": "Search through fact-checked claims using an image as the query."
        }
      }
    },
    "pages": {
      "methods": {
        "create": {
          "description": "Create `ClaimReview` markup on a page.",
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ],
          "flatPath": "v1alpha1/pages",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "parameterOrder": [],
          "id": "factchecktools.pages.create",
          "parameters": {},
          "path": "v1alpha1/pages",
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          }
        },
        "list": {
          "id": "factchecktools.pages.list",
          "parameters": {
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "The pagination size. We will return up to that many results. Defaults to 10 if not set. Has no effect if a URL is requested."
            },
            "pageToken": {
              "type": "string",
              "description": "The pagination token. You may provide the `next_page_token` returned from a previous List request, if any, in order to get the next page. All other fields must have the same values as in the previous request.",
              "location": "query"
            },
            "organization": {
              "description": "The organization for which we want to fetch markups for. For instance, \"site.com\". Cannot be specified along with an URL.",
              "location": "query",
              "type": "string"
            },
            "url": {
              "type": "string",
              "description": "The URL from which to get `ClaimReview` markup. There will be at most one result. If markup is associated with a more canonical version of the URL provided, we will return that URL instead. Cannot be specified along with an organization.",
              "location": "query"
            },
            "offset": {
              "description": "An integer that specifies the current offset (that is, starting result location) in search results. This field is only considered if `page_token` is unset, and if the request is not for a specific URL. For example, 0 means to return results starting from the first matching result, and 10 means to return from the 11th result.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "description": "List the `ClaimReview` markup pages for a specific URL or for an organization.",
          "flatPath": "v1alpha1/pages",
          "httpMethod": "GET",
          "path": "v1alpha1/pages",
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ListClaimReviewMarkupPagesResponse"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ]
        },
        "get": {
          "parameters": {
            "name": {
              "description": "The name of the resource to get, in the form of `pages/{page_id}`.",
              "pattern": "^pages/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v1alpha1/pages/{pagesId}",
          "httpMethod": "GET",
          "id": "factchecktools.pages.get",
          "path": "v1alpha1/{+name}",
          "description": "Get all `ClaimReview` markup on a page.",
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ],
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "update": {
          "description": "Update for all `ClaimReview` markup on a page Note that this is a full update. To retain the existing `ClaimReview` markup on a page, first perform a Get operation, then modify the returned markup, and finally call Update with the entire `ClaimReview` markup as the body.",
          "response": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "flatPath": "v1alpha1/pages/{pagesId}",
          "parameterOrder": [
            "name"
          ],
          "id": "factchecktools.pages.update",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The name of this `ClaimReview` markup page resource, in the form of `pages/{page_id}`. Except for update requests, this field is output-only and should not be set by the user.",
              "pattern": "^pages/[^/]+$"
            }
          },
          "path": "v1alpha1/{+name}",
          "request": {
            "$ref": "GoogleFactcheckingFactchecktoolsV1alpha1ClaimReviewMarkupPage"
          },
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ],
          "httpMethod": "PUT"
        },
        "delete": {
          "flatPath": "v1alpha1/pages/{pagesId}",
          "description": "Delete all `ClaimReview` markup on a page.",
          "parameterOrder": [
            "name"
          ],
          "id": "factchecktools.pages.delete",
          "path": "v1alpha1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/factchecktools"
          ],
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "pattern": "^pages/[^/]+$",
              "description": "The name of the resource to delete, in the form of `pages/{page_id}`.",
              "type": "string"
            }
          }
        }
      }
    }
  },
  "canonicalName": "Fact Check Tools",
  "ownerDomain": "google.com",
  "version": "v1alpha1"
}