{
  "title": "Firebase Crashlytics API",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "documentationLink": "https://firebase.google.com/docs/crashlytics",
  "basePath": "",
  "id": "firebasecrashlytics:v1alpha",
  "baseUrl": "https://firebasecrashlytics.googleapis.com/",
  "ownerDomain": "google.com",
  "name": "firebasecrashlytics",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://firebasecrashlytics.googleapis.com/",
  "revision": "20260828",
  "protocol": "rest",
  "description": "This service provides an API for mobile app developers to request deletion of user's crash reports.",
  "version_module": true,
  "resources": {
    "projects": {
      "resources": {
        "apps": {
          "resources": {
            "users": {
              "methods": {
                "deleteCrashReports": {
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/users/{usersId}/crashReports",
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/users/[^/]+/crashReports$",
                      "description": "Required. Resource name for user reports, in the format: projects/ PROJECT_IDENTIFIER/apps/APP_ID/users/USER_ID/crashReports - PROJECT_IDENTIFIER: The Firebase project's project number (recommended) or its project ID. Learn more about using project identifiers in Google's [AIP 2510 standard](https://google.aip.dev/cloud/2510). - APP_ID: The globally unique, Firebase-assigned identifier for the Firebase App. This is not your package name or bundle ID. Learn how to [find your app ID](https://firebase.google.com/support/faq/#find-app-id). - USER_ID: The user ID set using the Crashlytics SDK. Learn how to [set user identifiers](https://firebase.google.com/docs/crashlytics/customize-crash-reports#set-user-ids)."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebasecrashlytics.projects.apps.users.deleteCrashReports",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "DeleteUserCrashReportsResponse"
                  },
                  "description": "Enqueues a request to permanently remove crash reports associated with the specified user. All reports belonging to the specified user will be deleted typically within 24 hours of receiving the crash report."
                }
              }
            },
            "events": {
              "methods": {
                "list": {
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/events",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "ListEventsResponse"
                  },
                  "description": "List the events for an issue matching filter criteria, sorted in descending order by timestamp.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "path": "v1alpha/{+parent}/events",
                  "parameters": {
                    "filter.device.formFactors": {
                      "enumDescriptions": [
                        "Unknown.",
                        "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
                        "Includes tablets and larger foldables.",
                        "Includes desktops, laptops, Chromebooks, etc.",
                        "Includes televisions and set-tops.",
                        "Includes both watches and other wearables."
                      ],
                      "location": "query",
                      "enum": [
                        "FORM_FACTOR_UNSPECIFIED",
                        "PHONE",
                        "TABLET",
                        "DESKTOP",
                        "TV",
                        "WATCH"
                      ],
                      "type": "string",
                      "repeated": true,
                      "description": "Only counts events from devices with the given form factor (e.g. phone or tablet)."
                    },
                    "readMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Optional. The list of Event fields to include in the response. If omitted, the full event is returned."
                    },
                    "filter.issue.id": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Only counts events in the given issue ID. This field matches [Issue.id]."
                    },
                    "filter.browser.displayNames": {
                      "repeated": true,
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Only count events from the given browser. This string matches Browser.display_name. Format: \"name (display_version)\" e.g. \"Chrome (123)\", or just \"name\" for all possible versions, e.g. simply \"Chrome\"."
                    },
                    "filter.operatingSystem.displayNames": {
                      "type": "string",
                      "repeated": true,
                      "location": "query",
                      "description": "Only counts events in the given operating system and version. This string matches OperatingSystem.display_name. Format: \"osName (osVersion)\" e.g. \"Android (11)\". or just \"osName\" for all versions, e.g. simply \"iPadOS\"."
                    },
                    "filter.issue.signals": {
                      "repeated": true,
                      "enumDescriptions": [
                        "Default.",
                        "Indicates an issue that is impacting end users early in the app session.",
                        "Indicates newly detected issues.",
                        "Indicates previously closed issues which have been detected again.",
                        "Indicates issues impacting some end users multiple times."
                      ],
                      "enum": [
                        "SIGNAL_UNSPECIFIED",
                        "SIGNAL_EARLY",
                        "SIGNAL_FRESH",
                        "SIGNAL_REGRESSED",
                        "SIGNAL_REPETITIVE"
                      ],
                      "location": "query",
                      "description": "Optional. Only returns issues currently marked with the given signals. This field matches [Issue.signals.signal].",
                      "type": "string"
                    },
                    "filter.issue.content": {
                      "description": "Optional. A space separated list of filter terms matched against the contents of the issue. Contents include the title and the stack trace. Matches must begin at alphanumeric tokens, i.e., 'util.Sorted' matches 'java.util.SortedSet' but not 'myutil.SortedArray'. The filter matches if all filter terms match. All non-alphanumeric characters are ignored for matching. Filtering is assumed to be prefix-search and order-independent unless phrases are surrounded by \"\". Any terms contained in quotes are searched using exact-match (given filter term \"foo\", we will not return \"foobar\"), and must appear in the order given exactly. To get order-dependence but prefix-search, use a * within the quotes (\"abc foo*\" will match \"abc foobar\", but not \"foo abc\" \"abcd foobar\", or \"abc xyz foobar\").",
                      "type": "string",
                      "location": "query"
                    },
                    "filter.issue.errorTypes": {
                      "type": "string",
                      "description": "Optional. Only counts events of the given error types. This field matches [Issue.error_type].",
                      "enum": [
                        "ERROR_TYPE_UNSPECIFIED",
                        "FATAL",
                        "NON_FATAL",
                        "ANR"
                      ],
                      "enumDescriptions": [
                        "Unknown.",
                        "Fatal crash event.",
                        "Non-fatal event, such as a caught Java exception or NSError on iOS.",
                        "Application not responding error, Android only."
                      ],
                      "location": "query",
                      "repeated": true
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous calls.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter.issue.variantId": {
                      "description": "Optional. Only counts events for the given issue variant ID. This field matches [IssueVariant.id].",
                      "type": "string",
                      "location": "query"
                    },
                    "filter.interval.endTime": {
                      "type": "string",
                      "format": "google-datetime",
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                      "location": "query"
                    },
                    "filter.interval.startTime": {
                      "location": "query",
                      "format": "google-datetime",
                      "type": "string",
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The maximum number of events per page. If omitted, defaults to 10.",
                      "format": "int32"
                    },
                    "filter.issue.state": {
                      "description": "Optional. Deprecated: Prefer `states` field. Only includes events for issues with the given issue state. Only available for `topIssues` reports.",
                      "location": "query",
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "type": "string",
                      "deprecated": true,
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ]
                    },
                    "filter.device.displayNames": {
                      "type": "string",
                      "location": "query",
                      "description": "Only counts events from the given Device model. This string matches Device.display_name. Format: \"manufacturer (model)\" e.g. \"Google (Pixel 6)\", or just \"manufacturer\" for all possible models, e.g. simply \"Google\". Note that a device's marketing_name field can not be used for filtering.",
                      "repeated": true
                    },
                    "filter.issue.states": {
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "description": "Optional. Only includes events for issues with the given issue states. Only available for `topIssues` reports.",
                      "location": "query",
                      "type": "string",
                      "repeated": true,
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ]
                    },
                    "parent": {
                      "description": "Required. The Firebase application. Format: \"projects/{project}/apps/{app_id}\".",
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "filter.version.displayNames": {
                      "description": "Only counts events in the given app version. This string matches Version.display_name. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\".",
                      "type": "string",
                      "repeated": true,
                      "location": "query"
                    }
                  },
                  "id": "firebasecrashlytics.projects.apps.events.list"
                },
                "batchGet": {
                  "path": "v1alpha/{+parent}/events:batchGet",
                  "response": {
                    "$ref": "BatchGetEventsResponse"
                  },
                  "id": "firebasecrashlytics.projects.apps.events.batchGet",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/events:batchGet",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The firebase application. Format: \"projects/{project}/apps/{app_id}\".",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+$"
                    },
                    "names": {
                      "location": "query",
                      "repeated": true,
                      "description": "Required. The resource names of the desired events. A maximum of 100 events can be retrieved in a batch. Format: \"projects/{project}/apps/{app_id}/events/{event_id}\". The app_id and event_id are required, but project may be \"-\" to conserve space in long URIs.",
                      "type": "string"
                    },
                    "readMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Optional. The list of Event fields to include in the response. If omitted, the full event is returned.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Fetch a batch of up to 100 events by name.",
                  "httpMethod": "GET"
                }
              }
            },
            "reports": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/apps/[^/]+/reports/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The report name. Format: \"projects/{project}/apps/{app_id}/reports/{report}\".",
                      "type": "string"
                    },
                    "filter.version.displayNames": {
                      "type": "string",
                      "location": "query",
                      "repeated": true,
                      "description": "Only counts events in the given app version. This string matches Version.display_name. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\"."
                    },
                    "filter.issue.state": {
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "type": "string",
                      "description": "Optional. Deprecated: Prefer `states` field. Only includes events for issues with the given issue state. Only available for `topIssues` reports.",
                      "location": "query",
                      "deprecated": true,
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ]
                    },
                    "filter.issue.states": {
                      "type": "string",
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "location": "query",
                      "repeated": true,
                      "description": "Optional. Only includes events for issues with the given issue states. Only available for `topIssues` reports.",
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ]
                    },
                    "filter.device.formFactors": {
                      "location": "query",
                      "description": "Only counts events from devices with the given form factor (e.g. phone or tablet).",
                      "type": "string",
                      "enum": [
                        "FORM_FACTOR_UNSPECIFIED",
                        "PHONE",
                        "TABLET",
                        "DESKTOP",
                        "TV",
                        "WATCH"
                      ],
                      "enumDescriptions": [
                        "Unknown.",
                        "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
                        "Includes tablets and larger foldables.",
                        "Includes desktops, laptops, Chromebooks, etc.",
                        "Includes televisions and set-tops.",
                        "Includes both watches and other wearables."
                      ],
                      "repeated": true
                    },
                    "filter.issue.signals": {
                      "enumDescriptions": [
                        "Default.",
                        "Indicates an issue that is impacting end users early in the app session.",
                        "Indicates newly detected issues.",
                        "Indicates previously closed issues which have been detected again.",
                        "Indicates issues impacting some end users multiple times."
                      ],
                      "repeated": true,
                      "description": "Optional. Only returns issues currently marked with the given signals. This field matches [Issue.signals.signal].",
                      "type": "string",
                      "enum": [
                        "SIGNAL_UNSPECIFIED",
                        "SIGNAL_EARLY",
                        "SIGNAL_FRESH",
                        "SIGNAL_REGRESSED",
                        "SIGNAL_REPETITIVE"
                      ],
                      "location": "query"
                    },
                    "filter.issue.content": {
                      "location": "query",
                      "description": "Optional. A space separated list of filter terms matched against the contents of the issue. Contents include the title and the stack trace. Matches must begin at alphanumeric tokens, i.e., 'util.Sorted' matches 'java.util.SortedSet' but not 'myutil.SortedArray'. The filter matches if all filter terms match. All non-alphanumeric characters are ignored for matching. Filtering is assumed to be prefix-search and order-independent unless phrases are surrounded by \"\". Any terms contained in quotes are searched using exact-match (given filter term \"foo\", we will not return \"foobar\"), and must appear in the order given exactly. To get order-dependence but prefix-search, use a * within the quotes (\"abc foo*\" will match \"abc foobar\", but not \"foo abc\" \"abcd foobar\", or \"abc xyz foobar\").",
                      "type": "string"
                    },
                    "filter.operatingSystem.displayNames": {
                      "description": "Only counts events in the given operating system and version. This string matches OperatingSystem.display_name. Format: \"osName (osVersion)\" e.g. \"Android (11)\". or just \"osName\" for all versions, e.g. simply \"iPadOS\".",
                      "type": "string",
                      "repeated": true,
                      "location": "query"
                    },
                    "granularity": {
                      "enumDescriptions": [
                        "Unknown.",
                        "Returns a single interval for the requested time range.",
                        "Hour.",
                        "Day."
                      ],
                      "description": "Optional. The report response will contain one data point per time grain. If omitted, the report will contain a single data point for the complete interval.",
                      "location": "query",
                      "enum": [
                        "TIME_GRANULARITY_UNSPECIFIED",
                        "TIME_GRANULARITY_NONE",
                        "TIME_GRANULARITY_HOUR",
                        "TIME_GRANULARITY_DAY"
                      ],
                      "type": "string"
                    },
                    "filter.issue.variantId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Only counts events for the given issue variant ID. This field matches [IssueVariant.id]."
                    },
                    "filter.issue.errorTypes": {
                      "location": "query",
                      "enumDescriptions": [
                        "Unknown.",
                        "Fatal crash event.",
                        "Non-fatal event, such as a caught Java exception or NSError on iOS.",
                        "Application not responding error, Android only."
                      ],
                      "type": "string",
                      "enum": [
                        "ERROR_TYPE_UNSPECIFIED",
                        "FATAL",
                        "NON_FATAL",
                        "ANR"
                      ],
                      "repeated": true,
                      "description": "Optional. Only counts events of the given error types. This field matches [Issue.error_type]."
                    },
                    "filter.interval.endTime": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                      "format": "google-datetime"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of result groups to return. If omitted, defaults to 25.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous call. The page token is only valid for the exact same set of filters, which must also be sent in subsequent requests. This token is valid for 10 minutes after the first request."
                    },
                    "filter.browser.displayNames": {
                      "repeated": true,
                      "description": "Optional. Only count events from the given browser. This string matches Browser.display_name. Format: \"name (display_version)\" e.g. \"Chrome (123)\", or just \"name\" for all possible versions, e.g. simply \"Chrome\".",
                      "location": "query",
                      "type": "string"
                    },
                    "filter.issue.id": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Only counts events in the given issue ID. This field matches [Issue.id]."
                    },
                    "filter.device.displayNames": {
                      "repeated": true,
                      "location": "query",
                      "type": "string",
                      "description": "Only counts events from the given Device model. This string matches Device.display_name. Format: \"manufacturer (model)\" e.g. \"Google (Pixel 6)\", or just \"manufacturer\" for all possible models, e.g. simply \"Google\". Note that a device's marketing_name field can not be used for filtering."
                    },
                    "filter.interval.startTime": {
                      "format": "google-datetime",
                      "location": "query",
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/reports/{reportsId}",
                  "id": "firebasecrashlytics.projects.apps.reports.get",
                  "response": {
                    "$ref": "Report"
                  },
                  "httpMethod": "GET",
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Get a report with its computed results."
                },
                "list": {
                  "id": "firebasecrashlytics.projects.apps.reports.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/reports",
                  "parameters": {
                    "parent": {
                      "description": "Required. The firebase application. Format: \"projects/{project}/apps/{app_id}\".",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "ListReportsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "List all of the available reports.",
                  "path": "v1alpha/{+parent}/reports"
                }
              }
            },
            "issues": {
              "resources": {
                "notes": {
                  "methods": {
                    "create": {
                      "response": {
                        "$ref": "Note"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "Note"
                      },
                      "path": "v1alpha/{+parent}/notes",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                          "type": "string",
                          "description": "Required. The parent resource where this note will be created. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                          "location": "path",
                          "required": true
                        }
                      },
                      "id": "firebasecrashlytics.projects.apps.issues.notes.create",
                      "description": "Create a new note for an issue.",
                      "httpMethod": "POST"
                    },
                    "list": {
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The issue the notes belongs to. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A page token, received from a previous calls."
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of notes per page. If omitted, defaults to 10.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        }
                      },
                      "path": "v1alpha/{+parent}/notes",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "response": {
                        "$ref": "ListNotesResponse"
                      },
                      "httpMethod": "GET",
                      "description": "List all notes for a certain issue, sorted in descending order by timestamp.",
                      "id": "firebasecrashlytics.projects.apps.issues.notes.list",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "id": "firebasecrashlytics.projects.apps.issues.notes.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+/notes/[^/]+$",
                          "description": "Required. The name of the note to delete. Format: projects/{project}/apps/{app}/issues/{issue}/notes/{note}.",
                          "type": "string"
                        }
                      },
                      "path": "v1alpha/{+name}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes/{notesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "description": "Delete a note by its name."
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "description": "Retrieve an issue.",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}",
                  "id": "firebasecrashlytics.projects.apps.issues.get",
                  "path": "v1alpha/{+name}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the issue to retrieve. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Issue"
                  }
                },
                "patch": {
                  "path": "v1alpha/{+name}",
                  "request": {
                    "$ref": "Issue"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Issue"
                  },
                  "id": "firebasecrashlytics.projects.apps.issues.patch",
                  "parameters": {
                    "name": {
                      "description": "Required. Output only. Immutable. Identifier. The name of the issue resource. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The list of Issue fields to update. Currently only \"state\" is mutable."
                    }
                  },
                  "description": "Change the state of an issue."
                },
                "batchUpdate": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "BatchUpdateIssuesResponse"
                  },
                  "request": {
                    "$ref": "BatchUpdateIssuesRequest"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues:batchUpdate",
                  "id": "firebasecrashlytics.projects.apps.issues.batchUpdate",
                  "path": "v1alpha/{+parent}/issues:batchUpdate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "POST",
                  "description": "Change the state of a group of issues. This method is not atomic, so partial failures can occur. In the event of a partial failure, the request will fail and you will need to call `GetIssue` to see which issues were not updated.",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "description": "Required. The parent resource shared by all issues being updated. Format: projects/{project}/apps/{app}. If this is set, the parent field in the UpdateIssueRequest messages must either be empty or match this field.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "servicePath": "",
  "kind": "discovery#restDescription",
  "version": "v1alpha",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    }
  },
  "mtlsRootUrl": "https://firebasecrashlytics.mtls.googleapis.com/",
  "canonicalName": "Firebase Crashlytics",
  "schemas": {
    "UpdateIssueRequest": {
      "type": "object",
      "properties": {
        "issue": {
          "description": "Required. The issue to update. The issue's `name` field is used to identify the issue to update. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
          "$ref": "Issue"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Optional. The list of Issue fields to update. Currently only \"state\" is mutable."
        }
      },
      "description": "Request message for the UpdateIssue method.",
      "id": "UpdateIssueRequest"
    },
    "BatchGetEventsResponse": {
      "id": "BatchGetEventsResponse",
      "type": "object",
      "properties": {
        "events": {
          "description": "The list of retrieved events.",
          "type": "array",
          "items": {
            "$ref": "Event"
          }
        }
      },
      "description": "Response message for the BatchGetEvents method."
    },
    "IssueVariant": {
      "type": "object",
      "properties": {
        "sampleEvent": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name for a sample event in this variant."
        },
        "id": {
          "description": "Output only. Immutable. Distinct identifier for the variant.",
          "readOnly": true,
          "type": "string"
        },
        "uri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Provides a link to the variant on the Firebase console. When this variant is obtained as part of a Report, then the link will be configured with the same time interval and filters as the request."
        }
      },
      "id": "IssueVariant",
      "description": "A variant is a subgroup of an issue where all events have very similar stack traces. Issues may contain one or more variants."
    },
    "ListEventsResponse": {
      "type": "object",
      "id": "ListEventsResponse",
      "description": "Response message for the ListEvents method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token to retrieve the next page of events. The next page will have earlier or later events depending on the request's ordering. If this field is not present, there are no subsequent events."
        },
        "events": {
          "type": "array",
          "items": {
            "$ref": "Event"
          },
          "description": "Returns one element per event, in descending order the by event timestamp."
        }
      }
    },
    "BatchUpdateIssuesRequest": {
      "type": "object",
      "id": "BatchUpdateIssuesRequest",
      "description": "Request message for the BatchUpdateIssues method.",
      "properties": {
        "updateMask": {
          "description": "Optional. The list of Issue fields to update. If this is set, the update_mask field in the UpdateIssueRequest messages must either be empty or match this field.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "requests": {
          "items": {
            "$ref": "UpdateIssueRequest"
          },
          "type": "array",
          "description": "Required. The request message specifying the resources to update. A maximum of 100 issues can be modified in a batch."
        }
      }
    },
    "BatchUpdateIssuesResponse": {
      "properties": {
        "issues": {
          "type": "array",
          "items": {
            "$ref": "Issue"
          },
          "description": "Issues updated in the same order as in BatchUpdateIssuesRequest."
        }
      },
      "id": "BatchUpdateIssuesResponse",
      "description": "Response message for the BatchUpdateIssues method.",
      "type": "object"
    },
    "Log": {
      "type": "object",
      "id": "Log",
      "description": "Developer-provided log lines recorded during the session.",
      "properties": {
        "logTime": {
          "description": "Device timestamp when the line was logged.",
          "format": "google-datetime",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "Log message."
        }
      }
    },
    "Event": {
      "description": "The message describing a single Crashlytics event. Related to BigQuery export schema, which can be found at [Export Crashlytics data to BigQuery](https://firebase.google.com/docs/crashlytics/bigquery-export#dataset-schema-crashlytics)",
      "id": "Event",
      "type": "object",
      "properties": {
        "routePath": {
          "description": "Output only. Web only. The route path of the web application when the event occurred, excluding query parameters and fragment.",
          "readOnly": true,
          "type": "string"
        },
        "logs": {
          "description": "Log messages recorded by the developer during the session.",
          "type": "array",
          "items": {
            "$ref": "Log"
          }
        },
        "bundleOrPackage": {
          "description": "The bundle name for iOS apps or the package name of Android apps. Format: \"com.mycompany.myapp\".",
          "type": "string"
        },
        "user": {
          "$ref": "User",
          "description": "End user identifiers for the device owner."
        },
        "installationUuid": {
          "type": "string",
          "description": "Unique identifier for the device-app installation. This field is used to compute the unique number of impacted users."
        },
        "crashlyticsSdkVersion": {
          "description": "Crashlytics SDK version.",
          "type": "string"
        },
        "breadcrumbs": {
          "type": "array",
          "items": {
            "$ref": "Breadcrumb"
          },
          "description": "Analytics events recorded by the analytics SDK during the session."
        },
        "deviceOrientation": {
          "type": "string",
          "description": "Device orientation at the time of the crash (portrait or landscape)."
        },
        "browser": {
          "description": "Browser and version.",
          "$ref": "Browser"
        },
        "sessionId": {
          "description": "Unique identifier for the Firebase session.",
          "type": "string"
        },
        "blameFrame": {
          "description": "The stack trace frame blamed by Crashlytics processing. May not be present in future analyzer.",
          "$ref": "Frame"
        },
        "storage": {
          "description": "Mobile device disk/flash usage.",
          "$ref": "Storage"
        },
        "buildStamp": {
          "type": "string",
          "description": "Metadata provided by the app's build system, including version control repository info."
        },
        "threads": {
          "description": "Application threads present at the time the event was recorded. Each contains a stacktrace. One thread will be blamed for the error.",
          "type": "array",
          "items": {
            "$ref": "Thread"
          }
        },
        "appOrientation": {
          "description": "App orientation at the time of the crash (portrait or landscape).",
          "type": "string"
        },
        "platform": {
          "description": "ANDROID, IOS, or WEB.",
          "type": "string"
        },
        "eventTime": {
          "format": "google-datetime",
          "description": "Device timestamp that the event was recorded.",
          "type": "string"
        },
        "eventId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. The unique event identifier is assigned during processing."
        },
        "receivedTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Server timestamp that the event was received by Crashlytics."
        },
        "issue": {
          "$ref": "Issue",
          "description": "Details for the [Issue] assigned to this [Event]."
        },
        "customKeys": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Custom keys set by the developer during the session."
        },
        "version": {
          "$ref": "Version",
          "description": "Mobile application version."
        },
        "device": {
          "description": "Mobile device metadata.",
          "$ref": "Device"
        },
        "exceptions": {
          "type": "array",
          "items": {
            "$ref": "Exception"
          },
          "description": "Android and web only. Exceptions that occurred during this event. Nested exceptions are presented in reverse chronological order, so that the last record is the first exception thrown."
        },
        "issueSubtitle": {
          "description": "The subtitle of the issue in which the event was grouped. This is usually a symbol or an exception message.",
          "type": "string"
        },
        "issueTitle": {
          "type": "string",
          "description": "The title of the issue in which the event was grouped. This is usually a source file or method name."
        },
        "name": {
          "description": "Required. Output only. Immutable. Identifier. The name of the event resource. Format: \"projects/{project}/apps/{app_id}/events/{event}\".",
          "readOnly": true,
          "type": "string"
        },
        "errors": {
          "items": {
            "$ref": "Error"
          },
          "type": "array",
          "description": "Apple only. A non-fatal error captured by the iOS SDK and its stacktrace."
        },
        "operatingSystem": {
          "$ref": "OperatingSystem",
          "description": "Operating system and version."
        },
        "issueVariant": {
          "$ref": "IssueVariant",
          "description": "Details for the [IssueVariant] assigned to this [Event]."
        },
        "processState": {
          "type": "string",
          "description": "The state of the app process at the time of the event."
        },
        "memory": {
          "description": "Mobile device memory usage.",
          "$ref": "Memory"
        }
      }
    },
    "ReportGroup": {
      "description": "A group of results in an EventReport. In any report, the group_parent field is strictly the same type for all of the groups in any collection.",
      "properties": {
        "webMetricsGroup": {
          "description": "Web metrics group.",
          "$ref": "WebMetricsGroup"
        },
        "subgroups": {
          "type": "array",
          "items": {
            "$ref": "ReportGroup"
          },
          "description": "When applicable, this field contains additional nested groupings. For example, events can be grouped by operating system and by operating system version."
        },
        "version": {
          "$ref": "Version",
          "description": "Version metrics group."
        },
        "browser": {
          "$ref": "Browser",
          "description": "Browser metrics group."
        },
        "issue": {
          "$ref": "Issue",
          "description": "Issue metrics group."
        },
        "variant": {
          "description": "Issue variant metrics group.",
          "$ref": "IssueVariant"
        },
        "operatingSystem": {
          "$ref": "OperatingSystem",
          "description": "Operating system metrics group."
        },
        "metrics": {
          "type": "array",
          "description": "Scalar metrics will contain a single object covering the entire interval, while time-dimensioned graphs will contain one per time grain.",
          "items": {
            "$ref": "IntervalMetrics"
          }
        },
        "device": {
          "$ref": "Device",
          "description": "Device metrics group."
        }
      },
      "id": "ReportGroup",
      "type": "object"
    },
    "ListReportsResponse": {
      "id": "ListReportsResponse",
      "type": "object",
      "properties": {
        "reports": {
          "description": "The report objects returned will contain their names and usage instructions, but include no results. Use the `GetReport` method to run the report and obtain the paged results.",
          "type": "array",
          "items": {
            "$ref": "Report"
          }
        }
      },
      "description": "Response method for the ListReports method. The response will always include all of the available reports."
    },
    "Frame": {
      "properties": {
        "column": {
          "type": "string",
          "description": "The column on the line.",
          "format": "int64"
        },
        "offset": {
          "type": "string",
          "format": "int64",
          "description": "The byte offset into the binary image that contains the code. Present for native frames."
        },
        "file": {
          "description": "The name of the source file in which the frame is found.",
          "type": "string"
        },
        "library": {
          "description": "The display name of the library that includes the frame.",
          "type": "string"
        },
        "symbol": {
          "description": "The frame symbol after it has been deobfuscated or symbolicated. The raw symbol from the device if it could not be hydrated.",
          "type": "string"
        },
        "blamed": {
          "description": "True when the Crashlytics analysis has determined that this frame is likely to be the cause of the error.",
          "type": "boolean"
        },
        "address": {
          "format": "int64",
          "type": "string",
          "description": "The address in the binary image which contains the code. Present for native frames."
        },
        "line": {
          "type": "string",
          "format": "int64",
          "description": "The line number in the file of the frame."
        },
        "owner": {
          "type": "string",
          "description": "One of DEVELOPER, VENDOR, RUNTIME, PLATFORM, or SYSTEM."
        }
      },
      "id": "Frame",
      "type": "object",
      "description": "A frame in a stacktrace."
    },
    "IntervalMetrics": {
      "id": "IntervalMetrics",
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "The start of the interval covered by the computation.",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "The end of the interval covered by the computation.",
          "format": "google-datetime",
          "type": "string"
        },
        "impactedUsersCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of distinct users in the set of events."
        },
        "eventsCount": {
          "format": "int64",
          "type": "string",
          "description": "The total count of events in the interval."
        },
        "sessionsCount": {
          "type": "string",
          "description": "The number of distinct sessions in the set of events.",
          "format": "int64"
        }
      },
      "description": "A set of computed metric values for a time interval"
    },
    "Error": {
      "type": "object",
      "description": "A non-fatal error and its stacktrace, only from Apple apps.",
      "properties": {
        "frames": {
          "items": {
            "$ref": "Frame"
          },
          "description": "The frames in the error's stacktrace.",
          "type": "array"
        },
        "queue": {
          "type": "string",
          "description": "The queue on which the thread was running."
        },
        "title": {
          "type": "string",
          "description": "The title of the error."
        },
        "code": {
          "type": "string",
          "description": "Error code associated with the app's custom logged NSError.",
          "format": "int64"
        },
        "blamed": {
          "type": "boolean",
          "description": "True when the Crashlytics analysis has determined that the stacktrace in this error is where the fault occurred."
        },
        "subtitle": {
          "description": "The subtitle of the error.",
          "type": "string"
        }
      },
      "id": "Error"
    },
    "Note": {
      "type": "object",
      "properties": {
        "body": {
          "type": "string",
          "description": "Immutable. The body of the note."
        },
        "author": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The email of the author of the note."
        },
        "name": {
          "description": "Output only. Identifier. Format: \"projects/{project}/apps/app/issues/{issue}/notes/{note}\".",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Time when the note was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "id": "Note",
      "description": "Developer notes for an issue."
    },
    "IssueSignals": {
      "description": "Distinctive characteristics assigned by the Crashlytics analyzer.",
      "type": "object",
      "properties": {
        "signal": {
          "enum": [
            "SIGNAL_UNSPECIFIED",
            "SIGNAL_EARLY",
            "SIGNAL_FRESH",
            "SIGNAL_REGRESSED",
            "SIGNAL_REPETITIVE"
          ],
          "enumDescriptions": [
            "Default.",
            "Indicates an issue that is impacting end users early in the app session.",
            "Indicates newly detected issues.",
            "Indicates previously closed issues which have been detected again.",
            "Indicates issues impacting some end users multiple times."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The signal name."
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Supporting detail information."
        }
      },
      "id": "IssueSignals"
    },
    "Exception": {
      "description": "A Java or Javascript exception and its stacktrace. Only from Android or web apps.",
      "id": "Exception",
      "type": "object",
      "properties": {
        "exceptionMessage": {
          "description": "A message associated with the exception.",
          "type": "string"
        },
        "nested": {
          "type": "boolean",
          "description": "True for all but the last-thrown exception (i.e. the first record)."
        },
        "subtitle": {
          "type": "string",
          "description": "The subtitle of the exception."
        },
        "frames": {
          "description": "The frames in the exception's stacktrace.",
          "items": {
            "$ref": "Frame"
          },
          "type": "array"
        },
        "blamed": {
          "type": "boolean",
          "description": "True when the Crashlytics analysis has determined that this thread is where the fault occurred."
        },
        "type": {
          "description": "The exception type e.g. java.lang.IllegalStateException.",
          "type": "string"
        },
        "title": {
          "description": "The title of the exception.",
          "type": "string"
        }
      }
    },
    "ListNotesResponse": {
      "description": "Response message for the ListNotes method.",
      "type": "object",
      "id": "ListNotesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token to retrieve the next page of notes. If this field is not present, there are no subsequent notes."
        },
        "notes": {
          "items": {
            "$ref": "Note"
          },
          "type": "array",
          "description": "Returns notes ordered descending by the timestamp."
        }
      }
    },
    "Version": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Compound readable string containing both display and build versions. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\". This string can be used for filtering with the VersionFilter.display_name field."
        },
        "buildVersion": {
          "type": "string",
          "description": "Mobile only. One display_version can have many build_version. On Android, strictly the same as \"version code\". On iOS, strictly the same as \"build number\" or CFBundleVersion."
        },
        "tracks": {
          "description": "Indicates releases which have artifacts that are currently available in the Play Store to the target audience of the track. Versions may be available in multiple tracks.",
          "type": "array",
          "items": {
            "$ref": "PlayTrack"
          }
        },
        "displayVersion": {
          "description": "Readable version string, e.g. \"1.2.3\". On Android, strictly the same as \"version name\". On iOS, strictly the same as \"version number\" or CFBundleShortVersionString.",
          "type": "string"
        }
      },
      "id": "Version",
      "description": "Application software version.",
      "type": "object"
    },
    "Memory": {
      "properties": {
        "used": {
          "description": "Bytes in use.",
          "format": "int64",
          "type": "string"
        },
        "free": {
          "description": "Bytes free.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "Memory",
      "type": "object",
      "description": "Mobile device memory usage."
    },
    "User": {
      "type": "object",
      "description": "Developer-provided end user identifiers.",
      "properties": {
        "id": {
          "description": "User id if provided by the app developer.",
          "type": "string"
        }
      },
      "id": "User"
    },
    "Report": {
      "id": "Report",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the report. Format: \"projects/{project}/apps/{app_id}/reports/{report}\".",
          "type": "string"
        },
        "totalSize": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The total number of groups retrievable by the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A page token used to retrieve additional report groups. If this field is not present, there are no subsequent pages available to retrieve.",
          "readOnly": true
        },
        "usage": {
          "type": "string",
          "description": "Usage instructions for the report with a description of the result metrics. This field contains a description of the underlying query and describes the expected response data with any known caveats. This string can be displayed in the UI of any integration that offers comprehensive access to all Crashlytics reports."
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The displayable title of the report."
        },
        "groups": {
          "description": "Aggregate event statistics in the report will be grouped by a dimension, such as by issue or by version. The response contains one element per group, and all ReportGroup messages will have the same parent field.",
          "type": "array",
          "items": {
            "$ref": "ReportGroup"
          }
        }
      },
      "description": "Response message for the GetReport method. A report consists of the results of a query over an application's events. The events may be filtered by various criteria defined in the filters proto. The result will consist of a number of paginated groups, of a type relevant to the report such as issues or device models."
    },
    "WebMetricsGroup": {
      "id": "WebMetricsGroup",
      "properties": {
        "id": {
          "description": "The id of the web metrics group",
          "type": "string"
        }
      },
      "description": "Represents a grouping for metrics specific to web applications.",
      "type": "object"
    },
    "PlayTrack": {
      "type": "object",
      "description": "Describes a release track in the Play Developer Console.",
      "id": "PlayTrack",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unknown.",
            "Production.",
            "Internal testing.",
            "Open testing.",
            "Closed testing.",
            "Early access."
          ],
          "type": "string",
          "enum": [
            "TRACK_TYPE_UNSPECIFIED",
            "TRACK_TYPE_PROD",
            "TRACK_TYPE_INTERNAL",
            "TRACK_TYPE_OPEN_TESTING",
            "TRACK_TYPE_CLOSED_TESTING",
            "TRACK_TYPE_EARLY_ACCESS"
          ],
          "description": "The type of track (prod, internal, etc...)."
        },
        "title": {
          "type": "string",
          "description": "User-generated or auto-generated name of the track. PROD and INTERNAL track types always have auto-generated names, e.g. \"prod\" and \"internal\" respectively. Tracks of type EARLY_ACCESS always have a user-generated name. Other track types do not have any guarantees, might have user-generated or auto-generated names."
        }
      }
    },
    "Thread": {
      "properties": {
        "crashAddress": {
          "type": "string",
          "format": "int64",
          "description": "The address of the signal that caused the application to crash. Only present on crashed native threads."
        },
        "queue": {
          "type": "string",
          "description": "The queue on which the thread was running."
        },
        "name": {
          "type": "string",
          "description": "The name of the thread."
        },
        "signalCode": {
          "type": "string",
          "description": "The code of the signal that caused the app to crash. Only present on crashed native threads."
        },
        "signal": {
          "type": "string",
          "description": "The name of the signal that caused the app to crash. Only present on crashed native threads."
        },
        "crashed": {
          "description": "True when the thread has crashed.",
          "type": "boolean"
        },
        "sysThreadId": {
          "type": "string",
          "format": "int64",
          "description": "The system id of the thread, only available for ANR threads."
        },
        "threadId": {
          "type": "string",
          "description": "The id of the thread, only available for ANR threads.",
          "format": "int64"
        },
        "blamed": {
          "type": "boolean",
          "description": "True when the Crashlytics analysis has determined that the stacktrace in this thread is where the fault occurred."
        },
        "frames": {
          "description": "The frames in the thread's stacktrace.",
          "type": "array",
          "items": {
            "$ref": "Frame"
          }
        },
        "subtitle": {
          "description": "The subtitle of the thread.",
          "type": "string"
        },
        "title": {
          "description": "The title of the thread.",
          "type": "string"
        },
        "threadState": {
          "description": "Output only. The state of the thread at the time the ANR occurred.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Thread state unspecified.",
            "Thread was terminated.",
            "Thread was runnable.",
            "Thread was waiting with a timeout.",
            "Thread was blocked.",
            "Thread was waiting.",
            "Thread was started, yet to run anything.",
            "The thread was native and we could not heuristically determine that it was was waiting, so assume it's runnable.",
            "We heuristically determined that the thread is waiting."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "THREAD_STATE_TERMINATED",
            "THREAD_STATE_RUNNABLE",
            "THREAD_STATE_TIMED_WAITING",
            "THREAD_STATE_BLOCKED",
            "THREAD_STATE_WAITING",
            "THREAD_STATE_NEW",
            "THREAD_STATE_NATIVE_RUNNABLE",
            "THREAD_STATE_NATIVE_WAITING"
          ]
        }
      },
      "type": "object",
      "description": "An application thread.",
      "id": "Thread"
    },
    "Storage": {
      "description": "Mobile device disk/flash usage. Not reported for all devices.",
      "properties": {
        "used": {
          "format": "int64",
          "type": "string",
          "description": "Bytes used."
        },
        "free": {
          "description": "Bytes free.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "Storage",
      "type": "object"
    },
    "DeleteUserCrashReportsResponse": {
      "type": "object",
      "id": "DeleteUserCrashReportsResponse",
      "properties": {
        "targetCompleteTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Target time to complete the delete crash reports operation."
        }
      },
      "description": "Response message for the DeleteUserCrashReports method. All crash reports associated with the specified user will be deleted typically within 24 hours of receiving the crash report."
    },
    "Issue": {
      "description": "An issue describes a set of similar events that have been analyzed by Crashlytics and grouped together. All events within an issue will be of the same error_type: crash, non-fatal exception or ANR. All events within an issue will contain similar stack traces in their blamed thread.",
      "properties": {
        "lastSeenVersion": {
          "type": "string",
          "description": "Output only. The most recent app display_version in which this issue was seen, populated for mobile issues only.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Required. Output only. Immutable. Identifier. The name of the issue resource. Format: \"projects/{project}/apps/{app}/issues/{issue}\"."
        },
        "errorType": {
          "readOnly": true,
          "description": "Output only. Immutable. Indicates whether this issue is a crash, non-fatal exception, or ANR.",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "FATAL",
            "NON_FATAL",
            "ANR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Fatal crash event.",
            "Non-fatal event, such as a caught Java exception or NSError on iOS.",
            "Application not responding error, Android only."
          ]
        },
        "subtitle": {
          "readOnly": true,
          "description": "Output only. Immutable. Caption subtitle. This is usually a symbol or an exception message.",
          "type": "string"
        },
        "title": {
          "readOnly": true,
          "description": "Output only. Immutable. Caption title. This is usually a source file or method name.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unknown.",
            "Ongoing issue.",
            "Issue resolved.",
            "Issue muted. No alerts will be fired for this issue."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "OPEN",
            "CLOSED",
            "MUTED"
          ],
          "type": "string",
          "description": "Output only. Indicates whether this issue is open, closed or muted. For details on how issue states change without user actions, see [Regressed Issues](https://firebase.google.com/docs/crashlytics/troubleshooting?platform=ios#regressed-issues)."
        },
        "firstSeenVersion": {
          "readOnly": true,
          "description": "Output only. Immutable. The first app display_version in which this issue was seen, populated for mobile issues only.",
          "type": "string"
        },
        "sampleEvent": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name for a sample event in this issue."
        },
        "stateUpdateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which the issue state was last changed.",
          "readOnly": true
        },
        "uri": {
          "readOnly": true,
          "description": "Output only. Provides a link to the Issue on the Firebase console. When this Issue is obtained as part of a Report, then the link will be configured with the same time interval and filters as the request.",
          "type": "string"
        },
        "variants": {
          "description": "Output only. Immutable. The top 12 variants (subgroups) within the issue. Variants group events within an issue that are very similar. A single result implies that the variant is the same as the parent issue. This field will be empty when multiple issues are requested. Request a single issue to list variants.",
          "items": {
            "$ref": "IssueVariant"
          },
          "readOnly": true,
          "type": "array"
        },
        "firstSeenTime": {
          "description": "Output only. Immutable. The first time this issue was seen.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "notesCount": {
          "readOnly": true,
          "description": "Output only. The number of notes attached to an issue.",
          "type": "string",
          "format": "int64"
        },
        "signals": {
          "type": "array",
          "items": {
            "$ref": "IssueSignals"
          },
          "readOnly": true,
          "description": "Output only. Immutable. Distinctive characteristics assigned by the Crashlytics analyzer."
        },
        "lastSeenTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The most recent time this issue was seen.",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "Output only. Immutable. Unique identifier for the issue.",
          "readOnly": true
        }
      },
      "id": "Issue",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "FirebaseSessionEvent": {
      "description": "Sessions recorded by the Firebase App Quality Sessions SDK.",
      "type": "object",
      "properties": {
        "operatingSystem": {
          "description": "Operating system and version.",
          "$ref": "OperatingSystem"
        },
        "firstSessionId": {
          "type": "string",
          "description": "The identifier of the first session since the last cold start. This id and the session_id will be the same for app launches."
        },
        "device": {
          "$ref": "Device",
          "description": "Mobile device metadata."
        },
        "eventType": {
          "enum": [
            "SESSION_EVENT_TYPE_UNKNOWN",
            "SESSION_START"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Application session started."
          ],
          "type": "string",
          "description": "Session event type. The SDK only supports SESSION_START events at this time."
        },
        "sessionId": {
          "description": "Unique identifier for the Firebase session.",
          "type": "string"
        },
        "firebaseInstallationId": {
          "description": "Uniquely identifies a device with Firebase apps installed.",
          "type": "string"
        },
        "version": {
          "description": "Mobile application version numbers.",
          "$ref": "Version"
        },
        "eventTime": {
          "format": "google-datetime",
          "description": "The start timestamp for the session event.",
          "type": "string"
        },
        "sessionIndex": {
          "type": "integer",
          "description": "Indicates the number of sessions since the last cold start.",
          "format": "int32"
        }
      },
      "id": "FirebaseSessionEvent"
    },
    "Breadcrumb": {
      "type": "object",
      "id": "Breadcrumb",
      "description": "Analytics events recorded during the session.",
      "properties": {
        "eventTime": {
          "format": "google-datetime",
          "description": "Device timestamp for the event.",
          "type": "string"
        },
        "params": {
          "description": "Event parameters.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "title": {
          "type": "string",
          "description": "Analytic event name."
        }
      }
    },
    "OperatingSystem": {
      "description": "Mobile device operating system metadata.",
      "type": "object",
      "properties": {
        "os": {
          "description": "Operating system name.",
          "type": "string"
        },
        "displayVersion": {
          "description": "Operating system display version number.",
          "type": "string"
        },
        "displayName": {
          "description": "Name and version number. Formatted to be suitable for passing to OperatingSystemFilter.",
          "type": "string"
        },
        "modificationState": {
          "description": "Indicates if the OS has been modified or \"jailbroken\".",
          "type": "string"
        },
        "deviceType": {
          "description": "The device category (mobile, tablet, desktop).",
          "type": "string"
        },
        "type": {
          "description": "The OS type on Apple platforms (iOS, iPadOS, etc.).",
          "type": "string"
        }
      },
      "id": "OperatingSystem"
    },
    "Browser": {
      "description": "Web browser metadata.",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Browser name and version number. Formatted to be suitable for passing to BrowserFilter."
        },
        "browser": {
          "type": "string",
          "description": "Browser name."
        },
        "displayVersion": {
          "type": "string",
          "description": "Browser display version number."
        }
      },
      "id": "Browser"
    },
    "Device": {
      "description": "Mobile device metadata.",
      "properties": {
        "companyName": {
          "type": "string",
          "description": "An invariant name of the manufacturer that submitted this product in its most recognizable public form, e.g. \"Google\"."
        },
        "model": {
          "description": "The model name which is consistent with android.os.Build.MODEL, e.g. (\"SPH-L710\", \"GT-I9300\").",
          "type": "string"
        },
        "formFactor": {
          "enum": [
            "FORM_FACTOR_UNSPECIFIED",
            "PHONE",
            "TABLET",
            "DESKTOP",
            "TV",
            "WATCH"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
            "Includes tablets and larger foldables.",
            "Includes desktops, laptops, Chromebooks, etc.",
            "Includes televisions and set-tops.",
            "Includes both watches and other wearables."
          ],
          "description": "See FormFactor message.",
          "type": "string"
        },
        "architecture": {
          "description": "Device processor architecture.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Full device name, suitable for passing to DeviceFilter. Format: \"manufacturer (model)\"."
        },
        "marketingName": {
          "type": "string",
          "description": "Marketing name, most recognizable public form, e.g. \"Pixel 6\"."
        },
        "manufacturer": {
          "description": "Device brand name which is consistent with android.os.Build.BRAND.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Device"
    }
  },
  "batchPath": "batch"
}