{
  "canonicalName": "Firebase Crashlytics",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "rootUrl": "https://firebasecrashlytics.googleapis.com/",
  "description": "This service provides an API for mobile app developers to request deletion of user's crash reports.",
  "schemas": {
    "ListReportsResponse": {
      "type": "object",
      "properties": {
        "reports": {
          "type": "array",
          "description": "The report objects returned will contain their names and usage instructions, but include no results. Use the `GetReport` method to run the report and obtain the paged results.",
          "items": {
            "$ref": "Report"
          }
        }
      },
      "description": "Response method for the ListReports method. The response will always include all of the available reports.",
      "id": "ListReportsResponse"
    },
    "ListEventsResponse": {
      "properties": {
        "events": {
          "description": "Returns one element per event, in descending order the by event timestamp.",
          "items": {
            "$ref": "Event"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A pagination token to retrieve the next page of events. The next page will have earlier or later events depending on the request's ordering. If this field is not present, there are no subsequent events.",
          "type": "string"
        }
      },
      "description": "Response message for the ListEvents method.",
      "type": "object",
      "id": "ListEventsResponse"
    },
    "BatchUpdateIssuesRequest": {
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. The request message specifying the resources to update. A maximum of 100 issues can be modified in a batch.",
          "items": {
            "$ref": "UpdateIssueRequest"
          }
        },
        "updateMask": {
          "type": "string",
          "description": "Optional. The list of Issue fields to update. If this is set, the update_mask field in the UpdateIssueRequest messages must either be empty or match this field.",
          "format": "google-fieldmask"
        }
      },
      "description": "Request message for the BatchUpdateIssues method.",
      "id": "BatchUpdateIssuesRequest"
    },
    "IntervalMetrics": {
      "description": "A set of computed metric values for a time interval",
      "type": "object",
      "id": "IntervalMetrics",
      "properties": {
        "impactedUsersCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of distinct users in the set of events."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The start of the interval covered by the computation.",
          "type": "string"
        },
        "sessionsCount": {
          "description": "The number of distinct sessions in the set of events.",
          "type": "string",
          "format": "int64"
        },
        "eventsCount": {
          "description": "The total count of events in the interval.",
          "type": "string",
          "format": "int64"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The end of the interval covered by the computation."
        }
      }
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty"
    },
    "BatchGetEventsResponse": {
      "type": "object",
      "properties": {
        "events": {
          "type": "array",
          "items": {
            "$ref": "Event"
          },
          "description": "The list of retrieved events."
        }
      },
      "id": "BatchGetEventsResponse",
      "description": "Response message for the BatchGetEvents method."
    },
    "Note": {
      "type": "object",
      "id": "Note",
      "description": "Developer notes for an issue.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Identifier. Format: \"projects/{project}/apps/app/issues/{issue}/notes/{note}\".",
          "readOnly": true
        },
        "author": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The email of the author of the note."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when the note was created."
        },
        "body": {
          "description": "Immutable. The body of the note.",
          "type": "string"
        }
      }
    },
    "Storage": {
      "properties": {
        "used": {
          "type": "string",
          "description": "Bytes used.",
          "format": "int64"
        },
        "free": {
          "format": "int64",
          "type": "string",
          "description": "Bytes free."
        }
      },
      "id": "Storage",
      "description": "Mobile device disk/flash usage. Not reported for all devices.",
      "type": "object"
    },
    "UpdateIssueRequest": {
      "description": "Request message for the UpdateIssue method.",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "Optional. The list of Issue fields to update. Currently only \"state\" is mutable.",
          "format": "google-fieldmask"
        },
        "issue": {
          "description": "Required. The issue to update. The issue's `name` field is used to identify the issue to update. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
          "$ref": "Issue"
        }
      },
      "id": "UpdateIssueRequest",
      "type": "object"
    },
    "Device": {
      "properties": {
        "companyName": {
          "description": "An invariant name of the manufacturer that submitted this product in its most recognizable public form, e.g. \"Google\".",
          "type": "string"
        },
        "marketingName": {
          "type": "string",
          "description": "Marketing name, most recognizable public form, e.g. \"Pixel 6\"."
        },
        "model": {
          "type": "string",
          "description": "The model name which is consistent with android.os.Build.MODEL, e.g. (\"SPH-L710\", \"GT-I9300\")."
        },
        "formFactor": {
          "type": "string",
          "enum": [
            "FORM_FACTOR_UNSPECIFIED",
            "PHONE",
            "TABLET",
            "DESKTOP",
            "TV",
            "WATCH"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
            "Includes tablets and larger foldables.",
            "Includes desktops, laptops, Chromebooks, etc.",
            "Includes televisions and set-tops.",
            "Includes both watches and other wearables."
          ],
          "description": "See FormFactor message."
        },
        "displayName": {
          "description": "Full device name, suitable for passing to DeviceFilter. Format: \"manufacturer (model)\".",
          "type": "string"
        },
        "manufacturer": {
          "description": "Device brand name which is consistent with android.os.Build.BRAND.",
          "type": "string"
        },
        "architecture": {
          "type": "string",
          "description": "Device processor architecture."
        }
      },
      "type": "object",
      "description": "Mobile device metadata.",
      "id": "Device"
    },
    "PlayTrack": {
      "properties": {
        "title": {
          "description": "User-generated or auto-generated name of the track. PROD and INTERNAL track types always have auto-generated names, e.g. \"prod\" and \"internal\" respectively. Tracks of type EARLY_ACCESS always have a user-generated name. Other track types do not have any guarantees, might have user-generated or auto-generated names.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Unknown.",
            "Production.",
            "Internal testing.",
            "Open testing.",
            "Closed testing.",
            "Early access."
          ],
          "enum": [
            "TRACK_TYPE_UNSPECIFIED",
            "TRACK_TYPE_PROD",
            "TRACK_TYPE_INTERNAL",
            "TRACK_TYPE_OPEN_TESTING",
            "TRACK_TYPE_CLOSED_TESTING",
            "TRACK_TYPE_EARLY_ACCESS"
          ],
          "description": "The type of track (prod, internal, etc...).",
          "type": "string"
        }
      },
      "description": "Describes a release track in the Play Developer Console.",
      "type": "object",
      "id": "PlayTrack"
    },
    "Report": {
      "properties": {
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A page token used to retrieve additional report groups. If this field is not present, there are no subsequent pages available to retrieve.",
          "type": "string"
        },
        "usage": {
          "type": "string",
          "description": "Usage instructions for the report with a description of the result metrics. This field contains a description of the underlying query and describes the expected response data with any known caveats. This string can be displayed in the UI of any integration that offers comprehensive access to all Crashlytics reports."
        },
        "name": {
          "type": "string",
          "description": "The name of the report. Format: \"projects/{project}/apps/{app_id}/reports/{report}\"."
        },
        "groups": {
          "items": {
            "$ref": "ReportGroup"
          },
          "description": "Aggregate event statistics in the report will be grouped by a dimension, such as by issue or by version. The response contains one element per group, and all ReportGroup messages will have the same parent field.",
          "type": "array"
        },
        "displayName": {
          "description": "Output only. The displayable title of the report.",
          "type": "string",
          "readOnly": true
        },
        "totalSize": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The total number of groups retrievable by the request.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Response message for the GetReport method. A report consists of the results of a query over an application's events. The events may be filtered by various criteria defined in the filters proto. The result will consist of a number of paginated groups, of a type relevant to the report such as issues or device models.",
      "id": "Report"
    },
    "Exception": {
      "type": "object",
      "id": "Exception",
      "description": "A Java or Javascript exception and its stacktrace. Only from Android or web apps.",
      "properties": {
        "exceptionMessage": {
          "type": "string",
          "description": "A message associated with the exception."
        },
        "subtitle": {
          "description": "The subtitle of the exception.",
          "type": "string"
        },
        "blamed": {
          "description": "True when the Crashlytics analysis has determined that this thread is where the fault occurred.",
          "type": "boolean"
        },
        "frames": {
          "type": "array",
          "description": "The frames in the exception's stacktrace.",
          "items": {
            "$ref": "Frame"
          }
        },
        "nested": {
          "description": "True for all but the last-thrown exception (i.e. the first record).",
          "type": "boolean"
        },
        "type": {
          "description": "The exception type e.g. java.lang.IllegalStateException.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the exception."
        }
      }
    },
    "User": {
      "description": "Developer-provided end user identifiers.",
      "id": "User",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "User id if provided by the app developer."
        }
      }
    },
    "ReportGroup": {
      "properties": {
        "variant": {
          "$ref": "IssueVariant",
          "description": "Issue variant metrics group."
        },
        "subgroups": {
          "items": {
            "$ref": "ReportGroup"
          },
          "description": "When applicable, this field contains additional nested groupings. For example, events can be grouped by operating system and by operating system version.",
          "type": "array"
        },
        "browser": {
          "description": "Browser metrics group.",
          "$ref": "Browser"
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "IntervalMetrics"
          },
          "description": "Scalar metrics will contain a single object covering the entire interval, while time-dimensioned graphs will contain one per time grain."
        },
        "operatingSystem": {
          "$ref": "OperatingSystem",
          "description": "Operating system metrics group."
        },
        "webMetricsGroup": {
          "description": "Web metrics group.",
          "$ref": "WebMetricsGroup"
        },
        "version": {
          "description": "Version metrics group.",
          "$ref": "Version"
        },
        "device": {
          "description": "Device metrics group.",
          "$ref": "Device"
        },
        "issue": {
          "description": "Issue metrics group.",
          "$ref": "Issue"
        }
      },
      "type": "object",
      "id": "ReportGroup",
      "description": "A group of results in an EventReport. In any report, the group_parent field is strictly the same type for all of the groups in any collection."
    },
    "Memory": {
      "description": "Mobile device memory usage.",
      "type": "object",
      "id": "Memory",
      "properties": {
        "used": {
          "format": "int64",
          "description": "Bytes in use.",
          "type": "string"
        },
        "free": {
          "format": "int64",
          "description": "Bytes free.",
          "type": "string"
        }
      }
    },
    "Event": {
      "properties": {
        "operatingSystem": {
          "$ref": "OperatingSystem",
          "description": "Operating system and version."
        },
        "blameFrame": {
          "description": "The stack trace frame blamed by Crashlytics processing. May not be present in future analyzer.",
          "$ref": "Frame"
        },
        "issueSubtitle": {
          "type": "string",
          "description": "The subtitle of the issue in which the event was grouped. This is usually a symbol or an exception message."
        },
        "breadcrumbs": {
          "items": {
            "$ref": "Breadcrumb"
          },
          "type": "array",
          "description": "Analytics events recorded by the analytics SDK during the session."
        },
        "sessionId": {
          "description": "Unique identifier for the Firebase session.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Required. Output only. Immutable. Identifier. The name of the event resource. Format: \"projects/{project}/apps/{app_id}/events/{event}\".",
          "type": "string"
        },
        "logs": {
          "type": "array",
          "description": "Log messages recorded by the developer during the session.",
          "items": {
            "$ref": "Log"
          }
        },
        "issue": {
          "description": "Details for the [Issue] assigned to this [Event].",
          "$ref": "Issue"
        },
        "installationUuid": {
          "description": "Unique identifier for the device-app installation. This field is used to compute the unique number of impacted users.",
          "type": "string"
        },
        "threads": {
          "items": {
            "$ref": "Thread"
          },
          "description": "Application threads present at the time the event was recorded. Each contains a stacktrace. One thread will be blamed for the error.",
          "type": "array"
        },
        "buildStamp": {
          "description": "Metadata provided by the app's build system, including version control repository info.",
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Device timestamp that the event was recorded."
        },
        "version": {
          "description": "Mobile application version.",
          "$ref": "Version"
        },
        "receivedTime": {
          "format": "google-datetime",
          "description": "Server timestamp that the event was received by Crashlytics.",
          "type": "string"
        },
        "eventId": {
          "description": "Output only. Immutable. The unique event identifier is assigned during processing.",
          "type": "string",
          "readOnly": true
        },
        "routePath": {
          "type": "string",
          "description": "Output only. Web only. The route path of the web application when the event occurred, excluding query parameters and fragment.",
          "readOnly": true
        },
        "platform": {
          "type": "string",
          "description": "ANDROID, IOS, or WEB."
        },
        "issueTitle": {
          "type": "string",
          "description": "The title of the issue in which the event was grouped. This is usually a source file or method name."
        },
        "issueVariant": {
          "description": "Details for the [IssueVariant] assigned to this [Event].",
          "$ref": "IssueVariant"
        },
        "exceptions": {
          "type": "array",
          "description": "Android and web only. Exceptions that occurred during this event. Nested exceptions are presented in reverse chronological order, so that the last record is the first exception thrown.",
          "items": {
            "$ref": "Exception"
          }
        },
        "deviceOrientation": {
          "type": "string",
          "description": "Device orientation at the time of the crash (portrait or landscape)."
        },
        "memory": {
          "description": "Mobile device memory usage.",
          "$ref": "Memory"
        },
        "errors": {
          "description": "Apple only. A non-fatal error captured by the iOS SDK and its stacktrace.",
          "type": "array",
          "items": {
            "$ref": "Error"
          }
        },
        "storage": {
          "description": "Mobile device disk/flash usage.",
          "$ref": "Storage"
        },
        "customKeys": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Custom keys set by the developer during the session."
        },
        "device": {
          "$ref": "Device",
          "description": "Mobile device metadata."
        },
        "appOrientation": {
          "type": "string",
          "description": "App orientation at the time of the crash (portrait or landscape)."
        },
        "browser": {
          "description": "Browser and version.",
          "$ref": "Browser"
        },
        "processState": {
          "type": "string",
          "description": "The state of the app process at the time of the event."
        },
        "crashlyticsSdkVersion": {
          "description": "Crashlytics SDK version.",
          "type": "string"
        },
        "user": {
          "$ref": "User",
          "description": "End user identifiers for the device owner."
        },
        "bundleOrPackage": {
          "type": "string",
          "description": "The bundle name for iOS apps or the package name of Android apps. Format: \"com.mycompany.myapp\"."
        }
      },
      "type": "object",
      "description": "The message describing a single Crashlytics event. Related to BigQuery export schema, which can be found at [Export Crashlytics data to BigQuery](https://firebase.google.com/docs/crashlytics/bigquery-export#dataset-schema-crashlytics)",
      "id": "Event"
    },
    "ListNotesResponse": {
      "type": "object",
      "description": "Response message for the ListNotes method.",
      "properties": {
        "notes": {
          "description": "Returns notes ordered descending by the timestamp.",
          "items": {
            "$ref": "Note"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token to retrieve the next page of notes. If this field is not present, there are no subsequent notes."
        }
      },
      "id": "ListNotesResponse"
    },
    "Browser": {
      "description": "Web browser metadata.",
      "type": "object",
      "properties": {
        "browser": {
          "type": "string",
          "description": "Browser name."
        },
        "displayVersion": {
          "description": "Browser display version number.",
          "type": "string"
        },
        "displayName": {
          "description": "Browser name and version number. Formatted to be suitable for passing to BrowserFilter.",
          "type": "string"
        }
      },
      "id": "Browser"
    },
    "Breadcrumb": {
      "type": "object",
      "properties": {
        "eventTime": {
          "type": "string",
          "description": "Device timestamp for the event.",
          "format": "google-datetime"
        },
        "title": {
          "type": "string",
          "description": "Analytic event name."
        },
        "params": {
          "description": "Event parameters.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Analytics events recorded during the session.",
      "id": "Breadcrumb"
    },
    "IssueSignals": {
      "properties": {
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Supporting detail information."
        },
        "signal": {
          "enumDescriptions": [
            "Default.",
            "Indicates an issue that is impacting end users early in the app session.",
            "Indicates newly detected issues.",
            "Indicates previously closed issues which have been detected again.",
            "Indicates issues impacting some end users multiple times."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The signal name.",
          "enum": [
            "SIGNAL_UNSPECIFIED",
            "SIGNAL_EARLY",
            "SIGNAL_FRESH",
            "SIGNAL_REGRESSED",
            "SIGNAL_REPETITIVE"
          ]
        }
      },
      "id": "IssueSignals",
      "type": "object",
      "description": "Distinctive characteristics assigned by the Crashlytics analyzer."
    },
    "WebMetricsGroup": {
      "properties": {
        "id": {
          "description": "The id of the web metrics group",
          "type": "string"
        }
      },
      "id": "WebMetricsGroup",
      "type": "object",
      "description": "Represents a grouping for metrics specific to web applications."
    },
    "Log": {
      "id": "Log",
      "properties": {
        "logTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Device timestamp when the line was logged."
        },
        "message": {
          "description": "Log message.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Developer-provided log lines recorded during the session."
    },
    "Issue": {
      "description": "An issue describes a set of similar events that have been analyzed by Crashlytics and grouped together. All events within an issue will be of the same error_type: crash, non-fatal exception or ANR. All events within an issue will contain similar stack traces in their blamed thread.",
      "type": "object",
      "properties": {
        "errorType": {
          "enumDescriptions": [
            "Unknown.",
            "Fatal crash event.",
            "Non-fatal event, such as a caught Java exception or NSError on iOS.",
            "Application not responding error, Android only."
          ],
          "type": "string",
          "description": "Output only. Immutable. Indicates whether this issue is a crash, non-fatal exception, or ANR.",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "FATAL",
            "NON_FATAL",
            "ANR"
          ],
          "readOnly": true
        },
        "signals": {
          "description": "Output only. Immutable. Distinctive characteristics assigned by the Crashlytics analyzer.",
          "items": {
            "$ref": "IssueSignals"
          },
          "readOnly": true,
          "type": "array"
        },
        "title": {
          "type": "string",
          "description": "Output only. Immutable. Caption title. This is usually a source file or method name.",
          "readOnly": true
        },
        "notesCount": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The number of notes attached to an issue.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Required. Output only. Immutable. Identifier. The name of the issue resource. Format: \"projects/{project}/apps/{app}/issues/{issue}\"."
        },
        "firstSeenVersion": {
          "type": "string",
          "description": "Output only. Immutable. The first app display_version in which this issue was seen, populated for mobile issues only.",
          "readOnly": true
        },
        "variants": {
          "readOnly": true,
          "items": {
            "$ref": "IssueVariant"
          },
          "type": "array",
          "description": "Output only. Immutable. The top 12 variants (subgroups) within the issue. Variants group events within an issue that are very similar. A single result implies that the variant is the same as the parent issue. This field will be empty when multiple issues are requested. Request a single issue to list variants."
        },
        "lastSeenVersion": {
          "description": "Output only. The most recent app display_version in which this issue was seen, populated for mobile issues only.",
          "readOnly": true,
          "type": "string"
        },
        "firstSeenTime": {
          "format": "google-datetime",
          "description": "Output only. Immutable. The first time this issue was seen.",
          "readOnly": true,
          "type": "string"
        },
        "uri": {
          "description": "Output only. Provides a link to the Issue on the Firebase console. When this Issue is obtained as part of a Report, then the link will be configured with the same time interval and filters as the request.",
          "type": "string",
          "readOnly": true
        },
        "stateUpdateTime": {
          "readOnly": true,
          "description": "Output only. The time at which the issue state was last changed.",
          "type": "string",
          "format": "google-datetime"
        },
        "sampleEvent": {
          "readOnly": true,
          "description": "Output only. The resource name for a sample event in this issue.",
          "type": "string"
        },
        "subtitle": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. Caption subtitle. This is usually a symbol or an exception message."
        },
        "state": {
          "description": "Output only. Indicates whether this issue is open, closed or muted. For details on how issue states change without user actions, see [Regressed Issues](https://firebase.google.com/docs/crashlytics/troubleshooting?platform=ios#regressed-issues).",
          "readOnly": true,
          "enumDescriptions": [
            "Unknown.",
            "Ongoing issue.",
            "Issue resolved.",
            "Issue muted. No alerts will be fired for this issue."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "OPEN",
            "CLOSED",
            "MUTED"
          ],
          "type": "string"
        },
        "lastSeenTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The most recent time this issue was seen."
        },
        "id": {
          "type": "string",
          "description": "Output only. Immutable. Unique identifier for the issue.",
          "readOnly": true
        }
      },
      "id": "Issue"
    },
    "DeleteUserCrashReportsResponse": {
      "id": "DeleteUserCrashReportsResponse",
      "properties": {
        "targetCompleteTime": {
          "format": "google-datetime",
          "description": "Target time to complete the delete crash reports operation.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for the DeleteUserCrashReports method. All crash reports associated with the specified user will be deleted typically within 24 hours of receiving the crash report."
    },
    "Frame": {
      "description": "A frame in a stacktrace.",
      "id": "Frame",
      "properties": {
        "symbol": {
          "description": "The frame symbol after it has been deobfuscated or symbolicated. The raw symbol from the device if it could not be hydrated.",
          "type": "string"
        },
        "offset": {
          "type": "string",
          "format": "int64",
          "description": "The byte offset into the binary image that contains the code. Present for native frames."
        },
        "line": {
          "description": "The line number in the file of the frame.",
          "type": "string",
          "format": "int64"
        },
        "file": {
          "description": "The name of the source file in which the frame is found.",
          "type": "string"
        },
        "library": {
          "description": "The display name of the library that includes the frame.",
          "type": "string"
        },
        "address": {
          "format": "int64",
          "type": "string",
          "description": "The address in the binary image which contains the code. Present for native frames."
        },
        "blamed": {
          "type": "boolean",
          "description": "True when the Crashlytics analysis has determined that this frame is likely to be the cause of the error."
        },
        "owner": {
          "description": "One of DEVELOPER, VENDOR, RUNTIME, PLATFORM, or SYSTEM.",
          "type": "string"
        },
        "column": {
          "description": "The column on the line.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "Thread": {
      "description": "An application thread.",
      "type": "object",
      "id": "Thread",
      "properties": {
        "frames": {
          "type": "array",
          "description": "The frames in the thread's stacktrace.",
          "items": {
            "$ref": "Frame"
          }
        },
        "signalCode": {
          "type": "string",
          "description": "The code of the signal that caused the app to crash. Only present on crashed native threads."
        },
        "sysThreadId": {
          "description": "The system id of the thread, only available for ANR threads.",
          "format": "int64",
          "type": "string"
        },
        "threadId": {
          "type": "string",
          "description": "The id of the thread, only available for ANR threads.",
          "format": "int64"
        },
        "crashAddress": {
          "description": "The address of the signal that caused the application to crash. Only present on crashed native threads.",
          "type": "string",
          "format": "int64"
        },
        "subtitle": {
          "description": "The subtitle of the thread.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the thread."
        },
        "crashed": {
          "description": "True when the thread has crashed.",
          "type": "boolean"
        },
        "blamed": {
          "description": "True when the Crashlytics analysis has determined that the stacktrace in this thread is where the fault occurred.",
          "type": "boolean"
        },
        "signal": {
          "type": "string",
          "description": "The name of the signal that caused the app to crash. Only present on crashed native threads."
        },
        "name": {
          "type": "string",
          "description": "The name of the thread."
        },
        "queue": {
          "description": "The queue on which the thread was running.",
          "type": "string"
        },
        "threadState": {
          "description": "Output only. The state of the thread at the time the ANR occurred.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "THREAD_STATE_TERMINATED",
            "THREAD_STATE_RUNNABLE",
            "THREAD_STATE_TIMED_WAITING",
            "THREAD_STATE_BLOCKED",
            "THREAD_STATE_WAITING",
            "THREAD_STATE_NEW",
            "THREAD_STATE_NATIVE_RUNNABLE",
            "THREAD_STATE_NATIVE_WAITING"
          ],
          "enumDescriptions": [
            "Thread state unspecified.",
            "Thread was terminated.",
            "Thread was runnable.",
            "Thread was waiting with a timeout.",
            "Thread was blocked.",
            "Thread was waiting.",
            "Thread was started, yet to run anything.",
            "The thread was native and we could not heuristically determine that it was was waiting, so assume it's runnable.",
            "We heuristically determined that the thread is waiting."
          ],
          "type": "string"
        }
      }
    },
    "Error": {
      "properties": {
        "queue": {
          "description": "The queue on which the thread was running.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the error."
        },
        "code": {
          "format": "int64",
          "description": "Error code associated with the app's custom logged NSError.",
          "type": "string"
        },
        "subtitle": {
          "description": "The subtitle of the error.",
          "type": "string"
        },
        "blamed": {
          "type": "boolean",
          "description": "True when the Crashlytics analysis has determined that the stacktrace in this error is where the fault occurred."
        },
        "frames": {
          "type": "array",
          "items": {
            "$ref": "Frame"
          },
          "description": "The frames in the error's stacktrace."
        }
      },
      "description": "A non-fatal error and its stacktrace, only from Apple apps.",
      "id": "Error",
      "type": "object"
    },
    "Version": {
      "type": "object",
      "properties": {
        "displayVersion": {
          "type": "string",
          "description": "Readable version string, e.g. \"1.2.3\". On Android, strictly the same as \"version name\". On iOS, strictly the same as \"version number\" or CFBundleShortVersionString."
        },
        "tracks": {
          "type": "array",
          "description": "Indicates releases which have artifacts that are currently available in the Play Store to the target audience of the track. Versions may be available in multiple tracks.",
          "items": {
            "$ref": "PlayTrack"
          }
        },
        "displayName": {
          "description": "Compound readable string containing both display and build versions. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\". This string can be used for filtering with the VersionFilter.display_name field.",
          "type": "string"
        },
        "buildVersion": {
          "type": "string",
          "description": "Mobile only. One display_version can have many build_version. On Android, strictly the same as \"version code\". On iOS, strictly the same as \"build number\" or CFBundleVersion."
        }
      },
      "description": "Application software version.",
      "id": "Version"
    },
    "OperatingSystem": {
      "description": "Mobile device operating system metadata.",
      "type": "object",
      "id": "OperatingSystem",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Name and version number. Formatted to be suitable for passing to OperatingSystemFilter."
        },
        "type": {
          "description": "The OS type on Apple platforms (iOS, iPadOS, etc.).",
          "type": "string"
        },
        "deviceType": {
          "description": "The device category (mobile, tablet, desktop).",
          "type": "string"
        },
        "modificationState": {
          "type": "string",
          "description": "Indicates if the OS has been modified or \"jailbroken\"."
        },
        "displayVersion": {
          "type": "string",
          "description": "Operating system display version number."
        },
        "os": {
          "description": "Operating system name.",
          "type": "string"
        }
      }
    },
    "BatchUpdateIssuesResponse": {
      "description": "Response message for the BatchUpdateIssues method.",
      "type": "object",
      "properties": {
        "issues": {
          "items": {
            "$ref": "Issue"
          },
          "description": "Issues updated in the same order as in BatchUpdateIssuesRequest.",
          "type": "array"
        }
      },
      "id": "BatchUpdateIssuesResponse"
    },
    "FirebaseSessionEvent": {
      "id": "FirebaseSessionEvent",
      "description": "Sessions recorded by the Firebase App Quality Sessions SDK.",
      "type": "object",
      "properties": {
        "firebaseInstallationId": {
          "description": "Uniquely identifies a device with Firebase apps installed.",
          "type": "string"
        },
        "version": {
          "description": "Mobile application version numbers.",
          "$ref": "Version"
        },
        "device": {
          "$ref": "Device",
          "description": "Mobile device metadata."
        },
        "eventTime": {
          "description": "The start timestamp for the session event.",
          "type": "string",
          "format": "google-datetime"
        },
        "sessionId": {
          "description": "Unique identifier for the Firebase session.",
          "type": "string"
        },
        "operatingSystem": {
          "description": "Operating system and version.",
          "$ref": "OperatingSystem"
        },
        "eventType": {
          "description": "Session event type. The SDK only supports SESSION_START events at this time.",
          "enumDescriptions": [
            "Unknown.",
            "Application session started."
          ],
          "type": "string",
          "enum": [
            "SESSION_EVENT_TYPE_UNKNOWN",
            "SESSION_START"
          ]
        },
        "sessionIndex": {
          "format": "int32",
          "description": "Indicates the number of sessions since the last cold start.",
          "type": "integer"
        },
        "firstSessionId": {
          "type": "string",
          "description": "The identifier of the first session since the last cold start. This id and the session_id will be the same for app launches."
        }
      }
    },
    "IssueVariant": {
      "type": "object",
      "description": "A variant is a subgroup of an issue where all events have very similar stack traces. Issues may contain one or more variants.",
      "id": "IssueVariant",
      "properties": {
        "id": {
          "description": "Output only. Immutable. Distinct identifier for the variant.",
          "readOnly": true,
          "type": "string"
        },
        "sampleEvent": {
          "type": "string",
          "description": "Output only. The resource name for a sample event in this variant.",
          "readOnly": true
        },
        "uri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Provides a link to the variant on the Firebase console. When this variant is obtained as part of a Report, then the link will be configured with the same time interval and filters as the request."
        }
      }
    }
  },
  "id": "firebasecrashlytics:v1alpha",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "revision": "20260828",
  "title": "Firebase Crashlytics API",
  "resources": {
    "projects": {
      "resources": {
        "apps": {
          "resources": {
            "reports": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "Report"
                  },
                  "id": "firebasecrashlytics.projects.apps.reports.get",
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "granularity": {
                      "type": "string",
                      "description": "Optional. The report response will contain one data point per time grain. If omitted, the report will contain a single data point for the complete interval.",
                      "enum": [
                        "TIME_GRANULARITY_UNSPECIFIED",
                        "TIME_GRANULARITY_NONE",
                        "TIME_GRANULARITY_HOUR",
                        "TIME_GRANULARITY_DAY"
                      ],
                      "location": "query",
                      "enumDescriptions": [
                        "Unknown.",
                        "Returns a single interval for the requested time range.",
                        "Hour.",
                        "Day."
                      ]
                    },
                    "filter.issue.id": {
                      "location": "query",
                      "description": "Optional. Only counts events in the given issue ID. This field matches [Issue.id].",
                      "type": "string"
                    },
                    "filter.issue.variantId": {
                      "description": "Optional. Only counts events for the given issue variant ID. This field matches [IssueVariant.id].",
                      "location": "query",
                      "type": "string"
                    },
                    "filter.issue.signals": {
                      "description": "Optional. Only returns issues currently marked with the given signals. This field matches [Issue.signals.signal].",
                      "type": "string",
                      "repeated": true,
                      "enumDescriptions": [
                        "Default.",
                        "Indicates an issue that is impacting end users early in the app session.",
                        "Indicates newly detected issues.",
                        "Indicates previously closed issues which have been detected again.",
                        "Indicates issues impacting some end users multiple times."
                      ],
                      "location": "query",
                      "enum": [
                        "SIGNAL_UNSPECIFIED",
                        "SIGNAL_EARLY",
                        "SIGNAL_FRESH",
                        "SIGNAL_REGRESSED",
                        "SIGNAL_REPETITIVE"
                      ]
                    },
                    "filter.issue.state": {
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "deprecated": true,
                      "location": "query",
                      "type": "string",
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "description": "Optional. Deprecated: Prefer `states` field. Only includes events for issues with the given issue state. Only available for `topIssues` reports."
                    },
                    "filter.device.displayNames": {
                      "type": "string",
                      "description": "Only counts events from the given Device model. This string matches Device.display_name. Format: \"manufacturer (model)\" e.g. \"Google (Pixel 6)\", or just \"manufacturer\" for all possible models, e.g. simply \"Google\". Note that a device's marketing_name field can not be used for filtering.",
                      "location": "query",
                      "repeated": true
                    },
                    "filter.version.displayNames": {
                      "description": "Only counts events in the given app version. This string matches Version.display_name. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\".",
                      "type": "string",
                      "location": "query",
                      "repeated": true
                    },
                    "filter.device.formFactors": {
                      "enum": [
                        "FORM_FACTOR_UNSPECIFIED",
                        "PHONE",
                        "TABLET",
                        "DESKTOP",
                        "TV",
                        "WATCH"
                      ],
                      "location": "query",
                      "repeated": true,
                      "type": "string",
                      "enumDescriptions": [
                        "Unknown.",
                        "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
                        "Includes tablets and larger foldables.",
                        "Includes desktops, laptops, Chromebooks, etc.",
                        "Includes televisions and set-tops.",
                        "Includes both watches and other wearables."
                      ],
                      "description": "Only counts events from devices with the given form factor (e.g. phone or tablet)."
                    },
                    "filter.interval.endTime": {
                      "location": "query",
                      "type": "string",
                      "format": "google-datetime",
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
                    },
                    "filter.interval.startTime": {
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                      "location": "query",
                      "type": "string",
                      "format": "google-datetime"
                    },
                    "filter.issue.content": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A space separated list of filter terms matched against the contents of the issue. Contents include the title and the stack trace. Matches must begin at alphanumeric tokens, i.e., 'util.Sorted' matches 'java.util.SortedSet' but not 'myutil.SortedArray'. The filter matches if all filter terms match. All non-alphanumeric characters are ignored for matching. Filtering is assumed to be prefix-search and order-independent unless phrases are surrounded by \"\". Any terms contained in quotes are searched using exact-match (given filter term \"foo\", we will not return \"foobar\"), and must appear in the order given exactly. To get order-dependence but prefix-search, use a * within the quotes (\"abc foo*\" will match \"abc foobar\", but not \"foo abc\" \"abcd foobar\", or \"abc xyz foobar\")."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of result groups to return. If omitted, defaults to 25."
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous call. The page token is only valid for the exact same set of filters, which must also be sent in subsequent requests. This token is valid for 10 minutes after the first request.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "description": "Required. The report name. Format: \"projects/{project}/apps/{app_id}/reports/{report}\".",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/reports/[^/]+$",
                      "location": "path"
                    },
                    "filter.operatingSystem.displayNames": {
                      "repeated": true,
                      "description": "Only counts events in the given operating system and version. This string matches OperatingSystem.display_name. Format: \"osName (osVersion)\" e.g. \"Android (11)\". or just \"osName\" for all versions, e.g. simply \"iPadOS\".",
                      "type": "string",
                      "location": "query"
                    },
                    "filter.browser.displayNames": {
                      "description": "Optional. Only count events from the given browser. This string matches Browser.display_name. Format: \"name (display_version)\" e.g. \"Chrome (123)\", or just \"name\" for all possible versions, e.g. simply \"Chrome\".",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "filter.issue.errorTypes": {
                      "enum": [
                        "ERROR_TYPE_UNSPECIFIED",
                        "FATAL",
                        "NON_FATAL",
                        "ANR"
                      ],
                      "repeated": true,
                      "type": "string",
                      "enumDescriptions": [
                        "Unknown.",
                        "Fatal crash event.",
                        "Non-fatal event, such as a caught Java exception or NSError on iOS.",
                        "Application not responding error, Android only."
                      ],
                      "location": "query",
                      "description": "Optional. Only counts events of the given error types. This field matches [Issue.error_type]."
                    },
                    "filter.issue.states": {
                      "location": "query",
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "repeated": true,
                      "description": "Optional. Only includes events for issues with the given issue states. Only available for `topIssues` reports.",
                      "type": "string",
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ]
                    }
                  },
                  "description": "Get a report with its computed results.",
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/reports/{reportsId}"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1alpha/{+parent}/reports",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "description": "Required. The firebase application. Format: \"projects/{project}/apps/{app_id}\"."
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/reports",
                  "response": {
                    "$ref": "ListReportsResponse"
                  },
                  "id": "firebasecrashlytics.projects.apps.reports.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "List all of the available reports."
                }
              }
            },
            "events": {
              "methods": {
                "list": {
                  "description": "List the events for an issue matching filter criteria, sorted in descending order by timestamp.",
                  "path": "v1alpha/{+parent}/events",
                  "response": {
                    "$ref": "ListEventsResponse"
                  },
                  "id": "firebasecrashlytics.projects.apps.events.list",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/events",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "filter.version.displayNames": {
                      "description": "Only counts events in the given app version. This string matches Version.display_name. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\".",
                      "repeated": true,
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "description": "Required. The Firebase application. Format: \"projects/{project}/apps/{app_id}\".",
                      "location": "path",
                      "required": true
                    },
                    "filter.issue.state": {
                      "type": "string",
                      "location": "query",
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "description": "Optional. Deprecated: Prefer `states` field. Only includes events for issues with the given issue state. Only available for `topIssues` reports.",
                      "deprecated": true,
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ]
                    },
                    "filter.device.displayNames": {
                      "location": "query",
                      "type": "string",
                      "repeated": true,
                      "description": "Only counts events from the given Device model. This string matches Device.display_name. Format: \"manufacturer (model)\" e.g. \"Google (Pixel 6)\", or just \"manufacturer\" for all possible models, e.g. simply \"Google\". Note that a device's marketing_name field can not be used for filtering."
                    },
                    "filter.issue.errorTypes": {
                      "enumDescriptions": [
                        "Unknown.",
                        "Fatal crash event.",
                        "Non-fatal event, such as a caught Java exception or NSError on iOS.",
                        "Application not responding error, Android only."
                      ],
                      "repeated": true,
                      "enum": [
                        "ERROR_TYPE_UNSPECIFIED",
                        "FATAL",
                        "NON_FATAL",
                        "ANR"
                      ],
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Only counts events of the given error types. This field matches [Issue.error_type]."
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous calls.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter.operatingSystem.displayNames": {
                      "location": "query",
                      "description": "Only counts events in the given operating system and version. This string matches OperatingSystem.display_name. Format: \"osName (osVersion)\" e.g. \"Android (11)\". or just \"osName\" for all versions, e.g. simply \"iPadOS\".",
                      "type": "string",
                      "repeated": true
                    },
                    "filter.interval.endTime": {
                      "format": "google-datetime",
                      "type": "string",
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                      "location": "query"
                    },
                    "readMask": {
                      "description": "Optional. The list of Event fields to include in the response. If omitted, the full event is returned.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "filter.interval.startTime": {
                      "location": "query",
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                      "format": "google-datetime",
                      "type": "string"
                    },
                    "filter.issue.signals": {
                      "enum": [
                        "SIGNAL_UNSPECIFIED",
                        "SIGNAL_EARLY",
                        "SIGNAL_FRESH",
                        "SIGNAL_REGRESSED",
                        "SIGNAL_REPETITIVE"
                      ],
                      "location": "query",
                      "enumDescriptions": [
                        "Default.",
                        "Indicates an issue that is impacting end users early in the app session.",
                        "Indicates newly detected issues.",
                        "Indicates previously closed issues which have been detected again.",
                        "Indicates issues impacting some end users multiple times."
                      ],
                      "repeated": true,
                      "description": "Optional. Only returns issues currently marked with the given signals. This field matches [Issue.signals.signal].",
                      "type": "string"
                    },
                    "filter.browser.displayNames": {
                      "location": "query",
                      "repeated": true,
                      "description": "Optional. Only count events from the given browser. This string matches Browser.display_name. Format: \"name (display_version)\" e.g. \"Chrome (123)\", or just \"name\" for all possible versions, e.g. simply \"Chrome\".",
                      "type": "string"
                    },
                    "filter.issue.content": {
                      "description": "Optional. A space separated list of filter terms matched against the contents of the issue. Contents include the title and the stack trace. Matches must begin at alphanumeric tokens, i.e., 'util.Sorted' matches 'java.util.SortedSet' but not 'myutil.SortedArray'. The filter matches if all filter terms match. All non-alphanumeric characters are ignored for matching. Filtering is assumed to be prefix-search and order-independent unless phrases are surrounded by \"\". Any terms contained in quotes are searched using exact-match (given filter term \"foo\", we will not return \"foobar\"), and must appear in the order given exactly. To get order-dependence but prefix-search, use a * within the quotes (\"abc foo*\" will match \"abc foobar\", but not \"foo abc\" \"abcd foobar\", or \"abc xyz foobar\").",
                      "location": "query",
                      "type": "string"
                    },
                    "filter.issue.states": {
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "location": "query",
                      "type": "string",
                      "repeated": true,
                      "description": "Optional. Only includes events for issues with the given issue states. Only available for `topIssues` reports."
                    },
                    "filter.issue.variantId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Only counts events for the given issue variant ID. This field matches [IssueVariant.id]."
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of events per page. If omitted, defaults to 10.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "filter.issue.id": {
                      "location": "query",
                      "description": "Optional. Only counts events in the given issue ID. This field matches [Issue.id].",
                      "type": "string"
                    },
                    "filter.device.formFactors": {
                      "location": "query",
                      "repeated": true,
                      "type": "string",
                      "enumDescriptions": [
                        "Unknown.",
                        "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
                        "Includes tablets and larger foldables.",
                        "Includes desktops, laptops, Chromebooks, etc.",
                        "Includes televisions and set-tops.",
                        "Includes both watches and other wearables."
                      ],
                      "description": "Only counts events from devices with the given form factor (e.g. phone or tablet).",
                      "enum": [
                        "FORM_FACTOR_UNSPECIFIED",
                        "PHONE",
                        "TABLET",
                        "DESKTOP",
                        "TV",
                        "WATCH"
                      ]
                    }
                  },
                  "httpMethod": "GET"
                },
                "batchGet": {
                  "response": {
                    "$ref": "BatchGetEventsResponse"
                  },
                  "id": "firebasecrashlytics.projects.apps.events.batchGet",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The firebase application. Format: \"projects/{project}/apps/{app_id}\"."
                    },
                    "names": {
                      "type": "string",
                      "description": "Required. The resource names of the desired events. A maximum of 100 events can be retrieved in a batch. Format: \"projects/{project}/apps/{app_id}/events/{event_id}\". The app_id and event_id are required, but project may be \"-\" to conserve space in long URIs.",
                      "location": "query",
                      "repeated": true
                    },
                    "readMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The list of Event fields to include in the response. If omitted, the full event is returned."
                    }
                  },
                  "description": "Fetch a batch of up to 100 events by name.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/events:batchGet",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/events:batchGet"
                }
              }
            },
            "users": {
              "methods": {
                "deleteCrashReports": {
                  "description": "Enqueues a request to permanently remove crash reports associated with the specified user. All reports belonging to the specified user will be deleted typically within 24 hours of receiving the crash report.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "DeleteUserCrashReportsResponse"
                  },
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/users/[^/]+/crashReports$",
                      "location": "path",
                      "description": "Required. Resource name for user reports, in the format: projects/ PROJECT_IDENTIFIER/apps/APP_ID/users/USER_ID/crashReports - PROJECT_IDENTIFIER: The Firebase project's project number (recommended) or its project ID. Learn more about using project identifiers in Google's [AIP 2510 standard](https://google.aip.dev/cloud/2510). - APP_ID: The globally unique, Firebase-assigned identifier for the Firebase App. This is not your package name or bundle ID. Learn how to [find your app ID](https://firebase.google.com/support/faq/#find-app-id). - USER_ID: The user ID set using the Crashlytics SDK. Learn how to [set user identifiers](https://firebase.google.com/docs/crashlytics/customize-crash-reports#set-user-ids).",
                      "required": true
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/users/{usersId}/crashReports",
                  "id": "firebasecrashlytics.projects.apps.users.deleteCrashReports",
                  "path": "v1alpha/{+name}"
                }
              }
            },
            "issues": {
              "resources": {
                "notes": {
                  "methods": {
                    "create": {
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes",
                      "id": "firebasecrashlytics.projects.apps.issues.notes.create",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent resource where this note will be created. Format: \"projects/{project}/apps/{app}/issues/{issue}\"."
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "Note"
                      },
                      "description": "Create a new note for an issue.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "response": {
                        "$ref": "Note"
                      },
                      "path": "v1alpha/{+parent}/notes"
                    },
                    "delete": {
                      "response": {
                        "$ref": "Empty"
                      },
                      "id": "firebasecrashlytics.projects.apps.issues.notes.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes/{notesId}",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+/notes/[^/]+$",
                          "description": "Required. The name of the note to delete. Format: projects/{project}/apps/{app}/issues/{issue}/notes/{note}."
                        }
                      },
                      "description": "Delete a note by its name.",
                      "path": "v1alpha/{+name}"
                    },
                    "list": {
                      "response": {
                        "$ref": "ListNotesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "description": "List all notes for a certain issue, sorted in descending order by timestamp.",
                      "path": "v1alpha/{+parent}/notes",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "description": "Optional. The maximum number of notes per page. If omitted, defaults to 10.",
                          "type": "integer"
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. The issue the notes belongs to. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A page token, received from a previous calls.",
                          "location": "query"
                        }
                      },
                      "id": "firebasecrashlytics.projects.apps.issues.notes.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes"
                    }
                  }
                }
              },
              "methods": {
                "batchUpdate": {
                  "id": "firebasecrashlytics.projects.apps.issues.batchUpdate",
                  "request": {
                    "$ref": "BatchUpdateIssuesRequest"
                  },
                  "response": {
                    "$ref": "BatchUpdateIssuesResponse"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource shared by all issues being updated. Format: projects/{project}/apps/{app}. If this is set, the parent field in the UpdateIssueRequest messages must either be empty or match this field.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues:batchUpdate",
                  "description": "Change the state of a group of issues. This method is not atomic, so partial failures can occur. In the event of a partial failure, the request will fail and you will need to call `GetIssue` to see which issues were not updated.",
                  "path": "v1alpha/{+parent}/issues:batchUpdate",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "response": {
                    "$ref": "Issue"
                  },
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Change the state of an issue.",
                  "id": "firebasecrashlytics.projects.apps.issues.patch",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Optional. The list of Issue fields to update. Currently only \"state\" is mutable."
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                      "description": "Required. Output only. Immutable. Identifier. The name of the issue resource. Format: \"projects/{project}/apps/{app}/issues/{issue}\"."
                    }
                  },
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Issue"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the issue to retrieve. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}",
                  "response": {
                    "$ref": "Issue"
                  },
                  "id": "firebasecrashlytics.projects.apps.issues.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Retrieve an issue."
                }
              }
            }
          }
        }
      }
    }
  },
  "name": "firebasecrashlytics",
  "protocol": "rest",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "basePath": "",
  "mtlsRootUrl": "https://firebasecrashlytics.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://firebase.google.com/docs/crashlytics",
  "ownerName": "Google",
  "version": "v1alpha",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "servicePath": "",
  "baseUrl": "https://firebasecrashlytics.googleapis.com/"
}