{
  "id": "firebaseapphosting:v1",
  "documentationLink": "https://firebase.google.com/docs/app-hosting",
  "protocol": "rest",
  "rootUrl": "https://firebaseapphosting.googleapis.com/",
  "ownerName": "Google",
  "basePath": "",
  "discoveryVersion": "v1",
  "version": "v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "id": "firebaseapphosting.projects.locations.list",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable."
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer"
                },
                "extraLocationTypes": {
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}/locations",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              }
            },
            "get": {
              "path": "v1/{+name}",
              "description": "Gets information about a location.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "id": "firebaseapphosting.projects.locations.get",
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebaseapphosting.projects.locations.operations.list",
                  "parameters": {
                    "pageSize": {
                      "description": "The standard list page size.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    }
                  }
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "firebaseapphosting.projects.locations.operations.get",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "cancel": {
                  "id": "firebaseapphosting.projects.locations.operations.cancel",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "id": "firebaseapphosting.projects.locations.operations.delete",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource to be deleted."
                    }
                  }
                }
              }
            },
            "backends": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "description": "Deletes a single backend.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebaseapphosting.projects.locations.backends.delete",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+$",
                      "location": "path",
                      "description": "Required. Name of the resource in the format: `projects/{project}/locations/{locationId}/backends/{backendId}`."
                    },
                    "etag": {
                      "location": "query",
                      "description": "Optional. If the client provided etag is out of date, delete will be returned FAILED_PRECONDITION error.",
                      "type": "string"
                    },
                    "force": {
                      "type": "boolean",
                      "description": "Optional. If set to true, any resources for this backend will also be deleted. Otherwise, any children resources will block deletion.",
                      "location": "query"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. Indicates that the request should be validated, without persisting the request or updating any resources."
                    }
                  }
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "firebaseapphosting.projects.locations.backends.patch",
                  "parameters": {
                    "name": {
                      "description": "Identifier. The resource name of the backend. Format: `projects/{project}/locations/{locationId}/backends/{backendId}`.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+$",
                      "location": "path"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "validateOnly": {
                      "description": "Optional. Indicates that the request should be validated, without persisting the request or updating any resources.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the backend resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "allowMissing": {
                      "location": "query",
                      "description": "Optional. If set to true, and the backend is not found, a new backend will be created.",
                      "type": "boolean"
                    }
                  },
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "Backend"
                  },
                  "description": "Updates the information for a single backend.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "firebaseapphosting.projects.locations.backends.create",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. A parent name of the form `projects/{project}/locations/{locationId}`."
                    },
                    "backendId": {
                      "location": "query",
                      "description": "Required. Id of the backend. Also used as the service ID for Cloud Run, and as part of the default domain name.",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "validateOnly": {
                      "description": "Optional. Indicates that the request should be validated and default values populated, without persisting the request or creating any resources.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/backends",
                  "request": {
                    "$ref": "Backend"
                  },
                  "description": "Creates a new backend in a given project and location."
                },
                "list": {
                  "response": {
                    "$ref": "ListBackendsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/backends",
                  "description": "Lists backends in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firebaseapphosting.projects.locations.backends.list",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token received from the nextPageToken field in the response. Send that page token to receive the subsequent page."
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. A filter to narrow down results to a preferred subset. Learn more about filtering in Google's [AIP 160 standard](https://google.aip.dev/160).",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results. Supported fields are `name` and `createTime`. To specify descending order, append a `desc` suffix.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. A parent name of the form `projects/{project}/locations/{locationId}`."
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum number of results to return. If not set, the service selects a default.",
                      "type": "integer"
                    },
                    "showDeleted": {
                      "location": "query",
                      "description": "Optional. If true, the request returns soft-deleted resources that haven't been fully-deleted yet.",
                      "type": "boolean"
                    }
                  }
                },
                "get": {
                  "response": {
                    "$ref": "Backend"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "description": "Gets information about a backend.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebaseapphosting.projects.locations.backends.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+$",
                      "location": "path",
                      "description": "Required. Name of the resource in the format: `projects/{project}/locations/{locationId}/backends/{backendId}`."
                    }
                  }
                }
              },
              "resources": {
                "builds": {
                  "methods": {
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/builds",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/builds",
                      "description": "Lists builds in a given project, location, and backend.",
                      "id": "firebaseapphosting.projects.locations.backends.builds.list",
                      "parameters": {
                        "orderBy": {
                          "type": "string",
                          "description": "Optional. Hint for how to order the results. Supported fields are `name` and `createTime`. To specify descending order, append a `desc` suffix.",
                          "location": "query"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. A filter to narrow down results to a preferred subset. Learn more about filtering in Google's [AIP 160 standard](https://google.aip.dev/160).",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A page token received from the nextPageToken field in the response. Send that page token to receive the subsequent page.",
                          "location": "query"
                        },
                        "showDeleted": {
                          "type": "boolean",
                          "description": "Optional. If true, the request returns soft-deleted resources that haven't been fully-deleted yet.",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer",
                          "description": "Optional. The maximum number of results to return. If not set, the service selects a default."
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent backend in the form `projects/{project}/locations/{locationId}/backends/{backendId}`."
                        }
                      },
                      "response": {
                        "$ref": "ListBuildsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "id": "firebaseapphosting.projects.locations.backends.builds.get",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+/builds/[^/]+$",
                          "location": "path",
                          "description": "Required. Name of the resource in the format: `projects/{project}/locations/{locationId}/backends/{backendId}/builds/{buildId}`."
                        }
                      },
                      "path": "v1/{+name}",
                      "description": "Gets information about a build.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/builds/{buildsId}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Build"
                      }
                    },
                    "delete": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "description": "Deletes a single build.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/builds/{buildsId}",
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "firebaseapphosting.projects.locations.backends.builds.delete",
                      "parameters": {
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        },
                        "etag": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. If the client provided etag is out of date, delete will be returned FAILED_PRECONDITION error."
                        },
                        "validateOnly": {
                          "location": "query",
                          "description": "Optional. Indicates that the request should be validated and default values populated, without persisting the request or deleting any resources.",
                          "type": "boolean"
                        },
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+/builds/[^/]+$",
                          "location": "path",
                          "description": "Required. Name of the resource in the format: `projects/{project}/locations/{locationId}/backends/{backendId}/builds/{buildId}`."
                        }
                      }
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "firebaseapphosting.projects.locations.backends.builds.create",
                      "parameters": {
                        "buildId": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. Desired ID of the build being created."
                        },
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        },
                        "validateOnly": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. Indicates that the request should be validated and default values populated, without persisting the request or creating any resources."
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent backend in the format: `projects/{project}/locations/{locationId}/backends/{backendId}`."
                        }
                      },
                      "path": "v1/{+parent}/builds",
                      "request": {
                        "$ref": "Build"
                      },
                      "description": "Creates a new build for a backend.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/builds",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                },
                "traffic": {
                  "methods": {
                    "get": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/traffic",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "description": "Gets information about a backend's traffic.",
                      "id": "firebaseapphosting.projects.locations.backends.traffic.get",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the resource in the format: `projects/{project}/locations/{locationId}/backends/{backendId}/traffic`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+/traffic$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Traffic"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "patch": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/traffic",
                      "httpMethod": "PATCH",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "request": {
                        "$ref": "Traffic"
                      },
                      "description": "Updates a backend's traffic.",
                      "id": "firebaseapphosting.projects.locations.backends.traffic.patch",
                      "parameters": {
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        },
                        "validateOnly": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. Indicates that the request should be validated, without persisting the request or updating any resources."
                        },
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the traffic resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                          "type": "string"
                        },
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+/traffic$",
                          "location": "path",
                          "description": "Identifier. The resource name of the backend's traffic. Format: `projects/{project}/locations/{locationId}/backends/{backendId}/traffic`."
                        }
                      }
                    }
                  }
                },
                "domains": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListDomainsResponse"
                      },
                      "id": "firebaseapphosting.projects.locations.backends.domains.list",
                      "parameters": {
                        "showDeleted": {
                          "location": "query",
                          "description": "Optional. If true, the request returns soft-deleted resources that haven't been fully-deleted yet.",
                          "type": "boolean"
                        },
                        "parent": {
                          "description": "Required. The parent backend in the format: `projects/{project}/locations/{locationId}/backends/{backendId}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. The maximum number of results to return. If not set, the service selects a default.",
                          "type": "integer"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A filter to narrow down results to a preferred subset. Learn more about filtering in Google's [AIP 160 standard](https://google.aip.dev/160)."
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Optional. Hint for how to order the results. Supported fields are `name` and `createTime`. To specify descending order, append a `desc` suffix.",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "Optional. A page token received from the nextPageToken field in the response. Send that page token to receive the subsequent page.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "path": "v1/{+parent}/domains",
                      "description": "Lists domains of a backend.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/domains",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "get": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/domains/{domainsId}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "description": "Gets information about a domain.",
                      "id": "firebaseapphosting.projects.locations.backends.domains.get",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+/domains/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. Name of the resource in the format: `projects/{project}/locations/{locationId}/backends/{backendId}/domains/{domainId}`."
                        }
                      },
                      "response": {
                        "$ref": "Domain"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "id": "firebaseapphosting.projects.locations.backends.domains.create",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent backend in the format: `projects/{project}/locations/{locationId}/backends/{backendId}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "requestId": {
                          "location": "query",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string"
                        },
                        "validateOnly": {
                          "description": "Optional. Indicates that the request should be validated and default values populated, without persisting the request or creating any resources.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "domainId": {
                          "location": "query",
                          "description": "Required. Id of the domain to create. Must be a valid domain name.",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/domains",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/domains",
                      "request": {
                        "$ref": "Domain"
                      },
                      "description": "Links a new domain to a backend.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "patch": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "firebaseapphosting.projects.locations.backends.domains.patch",
                      "parameters": {
                        "name": {
                          "description": "Identifier. The resource name of the domain, e.g. `/projects/p/locations/l/backends/b/domains/foo.com`",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+/domains/[^/]+$",
                          "location": "path"
                        },
                        "updateMask": {
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the Domain resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                          "type": "string",
                          "location": "query",
                          "format": "google-fieldmask"
                        },
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        },
                        "validateOnly": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. Indicates that the request should be validated and default values populated, without persisting the request or modifying any resources."
                        },
                        "allowMissing": {
                          "location": "query",
                          "description": "Optional. If set to true, and the domain is not found, a new domain will be created.",
                          "type": "boolean"
                        }
                      },
                      "path": "v1/{+name}",
                      "request": {
                        "$ref": "Domain"
                      },
                      "description": "Updates the information for a single domain.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/domains/{domainsId}",
                      "httpMethod": "PATCH",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "delete": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "description": "Deletes a single domain.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/domains/{domainsId}",
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "firebaseapphosting.projects.locations.backends.domains.delete",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the resource in the format: `projects/{project}/locations/{locationId}/backends/{backendId}/domains/{domainId}`.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+/domains/[^/]+$",
                          "location": "path"
                        },
                        "requestId": {
                          "location": "query",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string"
                        },
                        "etag": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. If the client provided etag is out of date, delete will be returned FAILED_PRECONDITION error."
                        },
                        "validateOnly": {
                          "description": "Optional. Indicates that the request should be validated and default values populated, without persisting the request or deleting any resources.",
                          "type": "boolean",
                          "location": "query"
                        }
                      }
                    }
                  }
                },
                "rollouts": {
                  "methods": {
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/rollouts",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/rollouts",
                      "description": "Lists rollouts for a backend.",
                      "id": "firebaseapphosting.projects.locations.backends.rollouts.list",
                      "parameters": {
                        "orderBy": {
                          "type": "string",
                          "description": "Optional. Hint for how to order the results. Supported fields are `name` and `createTime`. To specify descending order, append a `desc` suffix.",
                          "location": "query"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A filter to narrow down results to a preferred subset. Learn more about filtering in Google's [AIP 160 standard](https://google.aip.dev/160)."
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A page token received from the nextPageToken field in the response. Send that page token to receive the subsequent page.",
                          "location": "query"
                        },
                        "showDeleted": {
                          "type": "boolean",
                          "description": "Optional. If true, the request returns soft-deleted resources that haven't been fully-deleted yet.",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer",
                          "description": "Optional. The maximum number of results to return. If not set, the service selects a default."
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent backend in the format: `projects/{project}/locations/{locationId}/backends/{backendId}`."
                        }
                      },
                      "response": {
                        "$ref": "ListRolloutsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/rollouts/{rolloutsId}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "description": "Gets information about a rollout.",
                      "id": "firebaseapphosting.projects.locations.backends.rollouts.get",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the resource in the format: `projects/{project}/locations/{locationId}/backends/{backendId}/rollouts/{rolloutId}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+/rollouts/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Rollout"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "id": "firebaseapphosting.projects.locations.backends.rollouts.create",
                      "parameters": {
                        "rolloutId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Desired ID of the rollout being created."
                        },
                        "requestId": {
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query"
                        },
                        "validateOnly": {
                          "type": "boolean",
                          "description": "Optional. Indicates that the request should be validated and default values populated, without persisting the request or creating any resources.",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+$",
                          "location": "path",
                          "description": "Required. The parent backend in the format: `projects/{project}/locations/{locationId}/backends/{backendId}`."
                        }
                      },
                      "path": "v1/{+parent}/rollouts",
                      "request": {
                        "$ref": "Rollout"
                      },
                      "description": "Creates a new rollout for a backend.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}/rollouts",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "baseUrl": "https://firebaseapphosting.googleapis.com/",
  "schemas": {
    "ListLocationsResponse": {
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "type": "object"
    },
    "ManagedResource": {
      "type": "object",
      "id": "ManagedResource",
      "description": "An external resource managed by App Hosting on the project.",
      "properties": {
        "runService": {
          "$ref": "RunService",
          "description": "A Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service), managed by App Hosting."
        }
      }
    },
    "Traffic": {
      "type": "object",
      "id": "Traffic",
      "description": "Controls traffic configuration for the backend.",
      "properties": {
        "reconciling": {
          "description": "Output only. A field that, if true, indicates that the system is working to make the backend's `current` match the requested `target` list.",
          "readOnly": true,
          "type": "boolean"
        },
        "rolloutPolicy": {
          "$ref": "RolloutPolicy",
          "description": "A rollout policy specifies how new builds and automatic deployments are created."
        },
        "etag": {
          "type": "string",
          "description": "Output only. Server-computed checksum based on other values; may be sent on update or delete to ensure operation is done on expected resource.",
          "readOnly": true
        },
        "target": {
          "description": "Set to manually control the desired traffic for the backend. This will cause `current` to eventually match this value. The percentages must add up to 100%.",
          "$ref": "TrafficSet"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Unstructured key value map that can be used to organize and categorize objects.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "current": {
          "$ref": "TrafficSet",
          "description": "Output only. Current state of traffic allocation for the backend. When setting `target`, this field may differ for some time until the desired state is reached.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Time at which the backend was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "annotations": {
          "type": "object",
          "description": "Optional. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uid": {
          "description": "Output only. System-assigned, unique identifier.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Time at which the backend was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The resource name of the backend's traffic. Format: `projects/{project}/locations/{locationId}/backends/{backendId}/traffic`.",
          "type": "string"
        }
      }
    },
    "RolloutPolicy": {
      "type": "object",
      "id": "RolloutPolicy",
      "description": "The policy for how automatic builds and rollouts are triggered and rolled out.",
      "properties": {
        "ignoredPaths": {
          "items": {
            "$ref": "Path"
          },
          "type": "array",
          "description": "Optional. A list of file paths patterns to exclude from triggering a rollout. Patterns in this list take precedence over required_paths. **Note**: All paths must be in the ignored_paths in order for the rollout to be skipped. Limited to 100 paths. Example: ``` ignored_paths: { pattern: \"foo/bar/excluded/*\", type: \"GLOB\" } ```"
        },
        "requiredPaths": {
          "type": "array",
          "description": "Optional. A list of file paths patterns that trigger a build and rollout if at least one of the changed files in the commit are present in this list. This field is optional; the rollout policy will default to triggering on all paths if both ignored_paths and required_paths are not populated. Limited to 100 paths. Example: ``` required_paths: { pattern: \"foo/bar/*\", type: \"GLOB\" } ```",
          "items": {
            "$ref": "Path"
          }
        },
        "disabledTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. If `disabled` is set, the time at which the automatic rollouts were disabled.",
          "readOnly": true
        },
        "codebaseBranch": {
          "type": "string",
          "description": "If set, specifies a branch that triggers a new build to be started with this policy. Otherwise, no automatic rollouts will happen."
        },
        "disabled": {
          "description": "Optional. A flag that, if true, prevents automatic rollouts from being created via this RolloutPolicy.",
          "type": "boolean"
        }
      }
    },
    "Redirect": {
      "id": "Redirect",
      "description": "Specifies redirect behavior for a domain.",
      "properties": {
        "status": {
          "type": "string",
          "description": "Optional. The status code to use in a redirect response. Must be a valid HTTP 3XX status code. Defaults to 302 if not present.",
          "format": "int64"
        },
        "uri": {
          "description": "Required. The URI of the redirect's intended destination. This URI will be prepended to the original request path. URI without a scheme are assumed to be HTTPS.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Backend": {
      "id": "Backend",
      "description": "A backend is the primary resource of App Hosting.",
      "properties": {
        "managedResources": {
          "description": "Output only. A list of the resources managed by this backend.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ManagedResource"
          }
        },
        "environment": {
          "description": "Optional. The environment name of the backend, used to load environment variables from environment specific configuration.",
          "type": "string"
        },
        "requestLogsDisabled": {
          "type": "boolean",
          "description": "Optional. A field that, if true, indicates that incoming request logs are disabled for this backend. Incoming request logs are enabled by default."
        },
        "uid": {
          "description": "Output only. System-assigned, unique identifier.",
          "readOnly": true,
          "type": "string"
        },
        "appId": {
          "description": "Optional. The [ID of a Web App](https://firebase.google.com/docs/reference/firebase-management/rest/v1beta1/projects.webApps#WebApp.FIELDS.app_id) associated with the backend.",
          "type": "string"
        },
        "mode": {
          "description": "Optional. Deprecated: Use `environment` instead.",
          "type": "string",
          "deprecated": true
        },
        "serviceAccount": {
          "type": "string",
          "description": "Required. The name of the service account used for Cloud Build and Cloud Run. Should have the role roles/firebaseapphosting.computeRunner or equivalent permissions."
        },
        "displayName": {
          "description": "Optional. Human-readable name. 63 character limit.",
          "type": "string"
        },
        "etag": {
          "description": "Output only. Server-computed checksum based on other values; may be sent on update or delete to ensure operation is done on expected resource.",
          "readOnly": true,
          "type": "string"
        },
        "servingLocality": {
          "enum": [
            "SERVING_LOCALITY_UNSPECIFIED",
            "REGIONAL_STRICT",
            "GLOBAL_ACCESS"
          ],
          "description": "Required. Immutable. Specifies how App Hosting will serve the content for this backend. It will either be contained to a single region (REGIONAL_STRICT) or allowed to use App Hosting's global-replicated serving infrastructure (GLOBAL_ACCESS).",
          "enumDescriptions": [
            "Unspecified. Will return an error if used.",
            "In this mode, App Hosting serves your backend's content from your chosen parent region. App Hosting only maintains data and serving infrastructure in that chosen region and does not replicate your data to other regions.",
            "In this mode, App Hosting serves your backend's content from multiple points-of-presence (POP) across the globe. App Hosting replicates your backend's configuration and cached data to these POPs and uses a global CDN to further decrease response latency. App Hosting-maintained Cloud Resources on your project, such as Cloud Run services, Cloud Build build, and Artifact Registry Images are still confined to your backend's parent region. Responses cached by the CDN may be stored in the POPs for the duration of the cache's TTL."
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the backend. Format: `projects/{project}/locations/{locationId}/backends/{backendId}`."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Time at which the backend was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "uri": {
          "description": "Output only. The primary URI to communicate with the backend.",
          "readOnly": true,
          "type": "string"
        },
        "annotations": {
          "type": "object",
          "description": "Optional. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. Time at which the backend was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "deleteTime": {
          "format": "google-datetime",
          "description": "Output only. Time at which the backend was deleted.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Unstructured key value map that can be used to organize and categorize objects.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "reconciling": {
          "description": "Output only. A field that, if true, indicates that the system is working to make adjustments to the backend during a LRO.",
          "readOnly": true,
          "type": "boolean"
        },
        "codebase": {
          "$ref": "Codebase",
          "description": "Optional. If specified, the connection to an external source repository to watch for event-driven updates to the backend."
        }
      },
      "type": "object"
    },
    "LiveMigrationStep": {
      "id": "LiveMigrationStep",
      "description": "A set of updates including ACME challenges and DNS records that allow App Hosting to create an SSL certificate and establish project ownership for your domain name before you direct traffic to App Hosting servers. Use these updates to facilitate zero downtime migrations to App Hosting from other services. After you've made the recommended updates, check your custom domain's `ownershipState` and `certState`. To avoid downtime, they should be `OWNERSHIP_ACTIVE` and `CERT_ACTIVE`, respectively, before you update your `A` and `AAAA` records.",
      "properties": {
        "issues": {
          "items": {
            "$ref": "Status"
          },
          "description": "Output only. Issues that prevent the current step from completing.",
          "readOnly": true,
          "type": "array"
        },
        "stepState": {
          "enum": [
            "STEP_STATE_UNSPECIFIED",
            "PREPARING",
            "PENDING",
            "INCOMPLETE",
            "PROCESSING",
            "COMPLETE"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the live migration step, indicates whether you should work to complete the step now, in the future, or have already completed it.",
          "enumDescriptions": [
            "The step's state is unspecified. The message is invalid if this is unspecified.",
            "App Hosting doesn't have enough information to construct the step yet. Complete any prior steps and/or resolve this step's issue to proceed.",
            "The step's state is pending. Complete prior steps before working on a `PENDING` step.",
            "The step is incomplete. You should complete any `dnsUpdates` changes to complete it.",
            "You've done your part to update records and present challenges as necessary. App Hosting is now completing background processes to complete the step, e.g. minting an SSL cert for your domain.",
            "The step is complete. You've already made the necessary changes to your domain and/or prior hosting service to advance to the next step. Once all steps are complete, App Hosting is ready to serve secure content on your domain."
          ]
        },
        "dnsUpdates": {
          "type": "array",
          "description": "Output only. DNS updates to facilitate your domain's zero-downtime migration to App Hosting.",
          "readOnly": true,
          "items": {
            "$ref": "DnsUpdates"
          }
        },
        "relevantDomainStates": {
          "type": "array",
          "description": "Output only. One or more states from the `CustomDomainStatus` of the migrating domain that this step is attempting to make ACTIVE. For example, if the step is attempting to mint an SSL certificate, this field will include `CERT_STATE`.",
          "readOnly": true,
          "items": {
            "enumDescriptions": [
              "This message is invalid if this is unspecified.",
              "The custom domain's host state.",
              "The custom domain's ownership state.",
              "The custom domain's certificate state."
            ],
            "type": "string",
            "enum": [
              "CUSTOM_DOMAIN_STATE_UNSPECIFIED",
              "HOST_STATE",
              "OWNERSHIP_STATE",
              "CERT_STATE"
            ]
          }
        }
      },
      "type": "object"
    },
    "Domain": {
      "id": "Domain",
      "description": "A domain name that is associated with a backend.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time at which the domain was last updated.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the domain, e.g. `/projects/p/locations/l/backends/b/domains/foo.com`",
          "type": "string"
        },
        "serve": {
          "description": "Optional. The serving behavior of the domain. If specified, the domain will serve content other than its backend's live content.",
          "$ref": "ServingBehavior"
        },
        "annotations": {
          "description": "Optional. Annotations as key value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time at which the domain was created.",
          "readOnly": true
        },
        "deleteTime": {
          "description": "Output only. Time at which the domain was deleted.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "disabled": {
          "description": "Optional. Whether the domain is disabled. Defaults to false.",
          "type": "boolean"
        },
        "reconciling": {
          "type": "boolean",
          "description": "Output only. A field that, if true, indicates that the build has an ongoing LRO.",
          "readOnly": true
        },
        "uid": {
          "type": "string",
          "description": "Output only. System-assigned, unique identifier.",
          "readOnly": true
        },
        "type": {
          "description": "Output only. The type of the domain.",
          "enumDescriptions": [
            "The type is unspecified (this should not happen).",
            "Default, App Hosting-provided and managed domains. These domains are created automatically with their parent backend and cannot be deleted except by deleting that parent, and cannot be moved to another backend. Default domains can be disabled via the `disabled` field.",
            "Custom, developer-owned domains. Custom Domains allow you to associate a domain you own with your App Hosting backend, and configure that domain to serve your backend's content."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "DEFAULT",
            "CUSTOM"
          ]
        },
        "etag": {
          "description": "Output only. Server-computed checksum based on other values; may be sent on update or delete to ensure operation is done on expected resource.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Mutable human-readable name for the domain. 63 character limit. e.g. `prod domain`.",
          "type": "string"
        },
        "customDomainStatus": {
          "$ref": "CustomDomainStatus",
          "description": "Output only. Represents the state and configuration of a `CUSTOM` type domain. It is only present on Domains of that type.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "EnvironmentVariable": {
      "type": "object",
      "id": "EnvironmentVariable",
      "description": "Environment variables for this build.",
      "properties": {
        "origin": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "ORIGIN_UNSPECIFIED",
            "BACKEND_OVERRIDES",
            "BUILD_CONFIG",
            "APPHOSTING_YAML",
            "FIREBASE_SYSTEM"
          ],
          "description": "Output only. The high-level origin category of the environment variable.",
          "enumDescriptions": [
            "Source is unspecified.",
            "Variable was set on the backend resource (e.g. via API or Console). Represents variables from `Backend.override_env`",
            "Variable was provided specifically for the build upon creation via the `Build.Config.env` field. Only used for pre-built images.",
            "Variable is defined in apphosting.yaml file.",
            "Variable is defined provided by the firebase platform."
          ]
        },
        "secret": {
          "description": "A fully qualified secret version. The value of the secret will be accessed once while building the application and once per cold start of the container at runtime. The service account used by Cloud Build and by Cloud Run must each have the `secretmanager.versions.access` permission on the secret.",
          "type": "string"
        },
        "originFileName": {
          "description": "Output only. Specific detail about the source. For APPHOSTING_YAML origins, this will contain the exact filename, such as \"apphosting.yaml\" or \"apphosting.staging.yaml\".",
          "readOnly": true,
          "type": "string"
        },
        "variable": {
          "type": "string",
          "description": "Required. The name of the environment variable. The environment variables reserved by [Cloud Run](https://docs.cloud.google.com/run/docs/configuring/services/environment-variables#reserved) should not be set. Additionally, variable names cannot start with \"X_FIREBASE_\"."
        },
        "value": {
          "type": "string",
          "description": "A plaintext value. This value is encrypted at rest, but all project readers can view the value when reading your backend configuration."
        },
        "availability": {
          "type": "array",
          "description": "Optional. Where this variable should be made available. If left unspecified, will be available in both BUILD and BACKEND.",
          "items": {
            "enumDescriptions": [
              "The default value, unspecified, which is unused.",
              "This value is available when creating a Build from source code.",
              "This value is available at runtime within Cloud Run."
            ],
            "type": "string",
            "enum": [
              "AVAILABILITY_UNSPECIFIED",
              "BUILD",
              "RUNTIME"
            ]
          }
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of a long-running operation.",
      "properties": {
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "DomainOperationMetadata": {
      "type": "object",
      "id": "DomainOperationMetadata",
      "description": "Represents the metadata of a long-running operation on domains.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "customDomainOperationMetadata": {
          "$ref": "CustomDomainOperationMetadata",
          "description": "Output only. Additional metadata for operations on custom domains.",
          "readOnly": true
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Rollout": {
      "type": "object",
      "id": "Rollout",
      "description": "A single rollout of a build for a backend.",
      "properties": {
        "uid": {
          "description": "Output only. System-assigned, unique identifier.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Output only. Server-computed checksum based on other values; may be sent on update or delete to ensure operation is done on expected resource.",
          "readOnly": true
        },
        "displayName": {
          "description": "Optional. Human-readable name. 63 character limit.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "Output only. A status and (human readable) error message for the rollout, if in a `FAILED` state.",
          "readOnly": true
        },
        "build": {
          "type": "string",
          "description": "Required. Immutable. The name of a build that already exists. It doesn't have to be built; a rollout will wait for a build to be ready before updating traffic."
        },
        "createTime": {
          "description": "Output only. Time at which the rollout was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "annotations": {
          "type": "object",
          "description": "Optional. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Time at which the rollout was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the rollout. Format: `projects/{project}/locations/{locationId}/backends/{backendId}/rollouts/{rolloutId}`.",
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. A field that, if true, indicates that the Rollout currently has an LRO.",
          "readOnly": true,
          "type": "boolean"
        },
        "state": {
          "description": "Output only. The state of the rollout.",
          "enumDescriptions": [
            "The rollout is in an unknown state.",
            "The rollout is waiting for actuation to begin. This may be because it is waiting on another rollout to complete.",
            "The rollout is waiting for the build process to complete, which builds the code and sets up the underlying infrastructure.",
            "The rollout has started and is actively modifying traffic.",
            "The rollout has been paused due to either being manually paused or a PAUSED stage. This should be set while `paused = true`.",
            "The rollout has completed.",
            "The rollout has failed. See error for more information.",
            "The rollout has been cancelled.",
            "The rollout has been skipped."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "PENDING_BUILD",
            "PROGRESSING",
            "PAUSED",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "SKIPPED"
          ]
        },
        "deleteTime": {
          "description": "Output only. Time at which the rollout was deleted.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Unstructured key value map that can be used to organize and categorize objects.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "type": "object"
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "DnsUpdates": {
      "id": "DnsUpdates",
      "description": "A set of DNS record updates that you should make to allow App Hosting to serve secure content in response to requests against your domain. These updates present the current state of your domain's and related subdomains' DNS records when App Hosting last queried them, and the desired set of records that App Hosting needs to see before your custom domain can be fully active.",
      "properties": {
        "desired": {
          "description": "Output only. The set of DNS records App Hosting needs in order to be able to serve secure content on the domain.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "DnsRecordSet"
          }
        },
        "domainName": {
          "description": "Output only. The domain name the DNS updates pertain to.",
          "readOnly": true,
          "type": "string"
        },
        "discovered": {
          "items": {
            "$ref": "DnsRecordSet"
          },
          "type": "array",
          "description": "Output only. The set of DNS records App Hosting discovered when inspecting a domain.",
          "readOnly": true
        },
        "checkTime": {
          "description": "Output only. The last time App Hosting checked your custom domain's DNS records.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "TrafficSplit": {
      "id": "TrafficSplit",
      "description": "The traffic allocation for the backend.",
      "properties": {
        "percent": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The percentage of traffic to send to the build. Currently must be 100% or 0%."
        },
        "build": {
          "type": "string",
          "description": "Required. The build that traffic is being routed to."
        }
      },
      "type": "object"
    },
    "CodebaseSource": {
      "type": "object",
      "id": "CodebaseSource",
      "description": "A codebase source, representing the state of the codebase that the build will be created at.",
      "properties": {
        "uri": {
          "description": "Output only. A URI linking to the codebase on an hosting provider's website. May not be valid if the commit has been rebased or force-pushed out of existence in the linked repository.",
          "readOnly": true,
          "type": "string"
        },
        "repository": {
          "type": "string",
          "description": "Output only. The resource name for the Developer Connect [`gitRepositoryLink`](https://cloud.google.com/developer-connect/docs/api/reference/rest/v1/projects.locations.connections.gitRepositoryLinks) used for this build, in the format: `projects/{project}/locations/{location}/connections/{connection}/gitRepositoryLinks/{repositoryLink}`",
          "readOnly": true
        },
        "author": {
          "description": "Output only. The author contained in the metadata of a version control change.",
          "readOnly": true,
          "$ref": "UserMetadata"
        },
        "branch": {
          "type": "string",
          "description": "The branch in the codebase to build from, using the latest commit."
        },
        "displayName": {
          "description": "Output only. The human-friendly name to use for this Codebase when displaying a build. We use the first eight characters of the SHA-1 hash for GitHub.com.",
          "readOnly": true,
          "type": "string"
        },
        "commitTime": {
          "type": "string",
          "description": "Output only. The time the change was made.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "commitMessage": {
          "description": "Output only. The message of a codebase change.",
          "readOnly": true,
          "type": "string"
        },
        "commit": {
          "type": "string",
          "description": "The commit in the codebase to build from."
        },
        "hash": {
          "description": "Output only. The full SHA-1 hash of a Git commit, if available.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Path": {
      "id": "Path",
      "description": "A file path pattern to match against.",
      "properties": {
        "pattern": {
          "description": "Optional. The pattern to match against.",
          "type": "string"
        },
        "type": {
          "description": "Optional. The type of pattern to match against.",
          "enumDescriptions": [
            "The pattern type is unspecified - this is an invalid value.",
            "RE2 - regular expression (https://github.com/google/re2/wiki/Syntax).",
            "The pattern is a glob.",
            "The pattern is a prefix."
          ],
          "type": "string",
          "enum": [
            "PATTERN_TYPE_UNSPECIFIED",
            "RE2",
            "GLOB",
            "PREFIX"
          ]
        }
      },
      "type": "object"
    },
    "ListBackendsResponse": {
      "type": "object",
      "id": "ListBackendsResponse",
      "description": "Message for response to list backends",
      "properties": {
        "backends": {
          "items": {
            "$ref": "Backend"
          },
          "description": "The list of backends",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying the next page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      }
    },
    "Build": {
      "id": "Build",
      "description": "A single build for a backend, at a specific point codebase reference tag and point in time. Encapsulates several resources, including an Artifact Registry container image, a Cloud Build invocation that built the image, and the Cloud Run revision that uses that image.",
      "properties": {
        "config": {
          "$ref": "Config",
          "description": "Optional. Additional configuration of the service."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Human-readable name. 63 character limit."
        },
        "errors": {
          "items": {
            "$ref": "Error"
          },
          "type": "array",
          "description": "Output only. A list of all errors that occurred during an App Hosting build.",
          "readOnly": true
        },
        "etag": {
          "description": "Output only. Server-computed checksum based on other values; may be sent on update or delete to ensure operation is done on expected resource.",
          "readOnly": true,
          "type": "string"
        },
        "image": {
          "description": "Output only. The Artifact Registry [container image](https://cloud.google.com/artifact-registry/docs/reference/rest/v1/projects.locations.repositories.dockerImages) URI, used by the Cloud Run [`revision`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services.revisions) for this build.",
          "readOnly": true,
          "type": "string"
        },
        "environment": {
          "type": "string",
[...]
