{
  "canonicalName": "Firebase App Distribution",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "id": "firebaseappdistribution:v1alpha",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "documentationLink": "https://firebase.google.com/products/app-distribution",
  "title": "Firebase App Distribution API",
  "mtlsRootUrl": "https://firebaseappdistribution.mtls.googleapis.com/",
  "description": "",
  "version": "v1alpha",
  "name": "firebaseappdistribution",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "methods": {
        "getTestQuota": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1alpha/projects/{projectsId}/testQuota",
          "path": "v1alpha/{+name}",
          "id": "firebaseappdistribution.projects.getTestQuota",
          "httpMethod": "GET",
          "description": "Get information about the quota for `ReleaseTests`.",
          "response": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestQuota"
          },
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the `TestQuota` resource to retrieve. Format: `projects/{project_number}/testQuota`",
              "type": "string",
              "pattern": "^projects/[^/]+/testQuota$",
              "location": "path"
            }
          }
        }
      },
      "resources": {
        "testers": {
          "methods": {
            "getUdids": {
              "parameters": {
                "project": {
                  "description": "The name of the project, which is the parent of testers Format: `projects/{project_number}`",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "mobilesdkAppId": {
                  "description": "Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v1alpha/projects/{projectsId}/testers:udids",
              "id": "firebaseappdistribution.projects.testers.getUdids",
              "description": "Get UDIDs of tester iOS devices in a project",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse"
              },
              "parameterOrder": [
                "project"
              ],
              "path": "v1alpha/{+project}/testers:udids"
            }
          }
        },
        "apps": {
          "methods": {
            "getTestConfig": {
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the `TestConfig` resource to retrieve. Format: `projects/{project_number}/apps/{app}/testConfig`",
                  "location": "path",
                  "pattern": "^projects/[^/]+/apps/[^/]+/testConfig$"
                }
              },
              "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testConfig",
              "path": "v1alpha/{+name}",
              "id": "firebaseappdistribution.projects.apps.getTestConfig",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets configuration for automated tests.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaTestConfig"
              }
            },
            "updateTestConfig": {
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Optional. The list of fields to update.",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "description": "Identifier. The name of the test configuration resource. Format: `projects/{project_number}/apps/{app}/testConfig`",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/apps/[^/]+/testConfig$"
                }
              },
              "description": "Updates automated test configuration.",
              "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testConfig",
              "path": "v1alpha/{+name}",
              "request": {
                "$ref": "GoogleFirebaseAppdistroV1alphaTestConfig"
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "id": "firebaseappdistribution.projects.apps.updateTestConfig",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaTestConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "releases": {
              "resources": {
                "tests": {
                  "methods": {
                    "cancel": {
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaCancelReleaseTestResponse"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the release test resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}`",
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+/tests/[^/]+$",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Abort automated test run on release.",
                      "path": "v1alpha/{+name}:cancel",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests/{testsId}:cancel",
                      "id": "firebaseappdistribution.projects.apps.releases.tests.cancel"
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "List results for automated tests run on release.",
                      "id": "firebaseappdistribution.projects.apps.releases.tests.list",
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the release resource, which is the parent of the tests Format: `projects/{project_number}/apps/{app}/releases/{release}`"
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of tests to return. The service may return fewer than this value.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A page token, received from a previous `ListReleaseTests` call. Provide this to retrieve the subsequent page."
                        },
                        "view": {
                          "description": "Optional. The requested view on the returned ReleaseTests. Defaults to the basic view.",
                          "enum": [
                            "RELEASE_TEST_VIEW_UNSPECIFIED",
                            "RELEASE_TEST_VIEW_BASIC",
                            "RELEASE_TEST_VIEW_FULL"
                          ],
                          "enumDescriptions": [
                            "The default / unset value. The default view depends on the RPC.",
                            "Include basic metadata about the release test and its status, but not the full result details. This is the default value for ListReleaseTests.",
                            "Include everything."
                          ],
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaListReleaseTestsResponse"
                      },
                      "path": "v1alpha/{+parent}/tests"
                    },
                    "create": {
                      "description": "Run automated test(s) on release.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "releaseTestId": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The ID to use for the test, which will become the final component of the test's resource name. This value should be 4-63 characters, and valid characters are /a-z-/. If it is not provided one will be automatically generated."
                        },
                        "parent": {
                          "description": "Required. The name of the release resource, which is the parent of the test Format: `projects/{project_number}/apps/{app}/releases/{release}`",
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "httpMethod": "POST",
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests",
                      "request": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
                      },
                      "id": "firebaseappdistribution.projects.apps.releases.tests.create",
                      "path": "v1alpha/{+parent}/tests",
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
                      }
                    },
                    "get": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
                      },
                      "path": "v1alpha/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "firebaseappdistribution.projects.apps.releases.tests.get",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+/tests/[^/]+$",
                          "location": "path",
                          "description": "Required. The name of the release test resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}`",
                          "type": "string",
                          "required": true
                        }
                      },
                      "description": "Get results for automated test run on release.",
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests/{testsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            },
            "testCases": {
              "methods": {
                "batchDelete": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource of the test cases being deleted. Format: `projects/{project_number}/apps/{app}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "POST",
                  "description": "Deletes multiple test cases.",
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaBatchDeleteTestCasesRequest"
                  },
                  "path": "v1alpha/{+parent}/testCases:batchDelete",
                  "id": "firebaseappdistribution.projects.apps.testCases.batchDelete",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases:batchDelete"
                },
                "clearTestCaseCache": {
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheRequest"
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheResponse"
                  },
                  "description": "Clears cached test runs for a specific test case and device(s).",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "firebaseappdistribution.projects.apps.testCases.clearTestCaseCache",
                  "path": "v1alpha/{+testCase}:clearTestCaseCache",
                  "parameterOrder": [
                    "testCase"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}:clearTestCaseCache",
                  "parameters": {
                    "testCase": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the test case resource for which to clear the cache. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$",
                      "location": "path"
                    }
                  }
                },
                "list": {
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases",
                  "id": "firebaseappdistribution.projects.apps.testCases.list",
                  "path": "v1alpha/{+parent}/testCases",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "List test cases.",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaListTestCasesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListTestCases` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTestCases` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent resource from which to list test cases. Format: `projects/{project_number}/apps/{app}`",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. The maximum number of test cases to return. The service may return fewer than this value. If unspecified, at most 50 test cases will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                },
                "patch": {
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$",
                      "description": "Identifier. The name of the test case resource. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`"
                    },
                    "allowMissing": {
                      "type": "boolean",
                      "description": "Optional. If set to true, and the test case is not found, a new test case will be created.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "PATCH",
                  "description": "Update a test case.",
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}",
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "id": "firebaseappdistribution.projects.apps.testCases.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "description": "Get a test case.",
                  "id": "firebaseappdistribution.projects.apps.testCases.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$",
                      "description": "Required. The name of the test case resource to retrieve. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "batchUpdate": {
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesResponse"
                  },
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesRequest"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent resource of the test cases being updated. Format: `projects/{project_number}/apps/{app}`",
                      "pattern": "^projects/[^/]+/apps/[^/]+$"
                    }
                  },
                  "path": "v1alpha/{+parent}/testCases:batchUpdate",
                  "description": "Updates multiple test cases.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases:batchUpdate",
                  "id": "firebaseappdistribution.projects.apps.testCases.batchUpdate"
                },
                "create": {
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "path": "v1alpha/{+parent}/testCases",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "id": "firebaseappdistribution.projects.apps.testCases.create",
                  "description": "Create a new test case.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "testCaseId": {
                      "description": "Optional. The ID to use for the test case, which will become the final component of the test case's resource name. This value should be 4-63 characters, and valid characters are /a-z-/.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "description": "Required. The parent resource where this test case will be created. Format: `projects/{project_number}/apps/{app}`",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "POST"
                },
                "delete": {
                  "id": "firebaseappdistribution.projects.apps.testCases.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "description": "Delete a test case.",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$",
                      "description": "Required. The name of the test case resource to delete. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "location": "path"
                    }
                  },
                  "httpMethod": "DELETE"
                }
              }
            }
          }
        }
      }
    },
    "apps": {
      "resources": {
        "upload_status": {
          "methods": {
            "get": {
              "parameterOrder": [
                "mobilesdkAppId",
                "uploadToken"
              ],
              "id": "firebaseappdistribution.apps.upload_status.get",
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/upload_status/{uploadToken}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "path": "v1alpha/apps/{mobilesdkAppId}/upload_status/{uploadToken}",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetUploadStatusResponse"
              },
              "description": "GET Binary upload status by token",
              "parameters": {
                "uploadToken": {
                  "description": "Required. The token for the upload",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "mobilesdkAppId": {
                  "type": "string",
                  "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "required": true,
                  "location": "path"
                }
              }
            }
          }
        },
        "releases": {
          "resources": {
            "notes": {
              "methods": {
                "create": {
                  "httpMethod": "POST",
                  "flatPath": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/notes",
                  "id": "firebaseappdistribution.apps.releases.notes.create",
                  "description": "Create release notes on a release.",
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesRequest"
                  },
                  "parameters": {
                    "releaseId": {
                      "location": "path",
                      "description": "Required. Release identifier",
                      "type": "string",
                      "required": true
                    },
                    "mobilesdkAppId": {
                      "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "mobilesdkAppId",
                    "releaseId"
                  ],
                  "path": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/notes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesResponse"
                  }
                }
              }
            }
          },
          "methods": {
            "enable_access": {
              "parameterOrder": [
                "mobilesdkAppId",
                "releaseId"
              ],
              "path": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/enable_access",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseResponse"
              },
              "request": {
                "$ref": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseRequest"
              },
              "description": "Enable access on a release for testers.",
              "id": "firebaseappdistribution.apps.releases.enable_access",
              "parameters": {
                "releaseId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Release identifier"
                },
                "mobilesdkAppId": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "location": "path"
                }
              },
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/enable_access",
              "httpMethod": "POST"
            }
          }
        },
        "release_by_hash": {
          "methods": {
            "get": {
              "path": "v1alpha/apps/{mobilesdkAppId}/release_by_hash/{uploadHash}",
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/release_by_hash/{uploadHash}",
              "parameterOrder": [
                "mobilesdkAppId",
                "uploadHash"
              ],
              "parameters": {
                "uploadHash": {
                  "location": "path",
                  "description": "Required. The hash for the upload",
                  "required": true,
                  "type": "string"
                },
                "mobilesdkAppId": {
                  "type": "string",
                  "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "location": "path",
                  "required": true
                }
              },
              "description": "GET Release by binary upload hash",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "firebaseappdistribution.apps.release_by_hash.get",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetReleaseByUploadHashResponse"
              },
              "httpMethod": "GET"
            }
          }
        },
        "testers": {
          "methods": {
            "getTesterUdids": {
              "httpMethod": "GET",
              "id": "firebaseappdistribution.apps.testers.getTesterUdids",
              "path": "v1alpha/apps/{mobilesdkAppId}/testers:getTesterUdids",
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/testers:getTesterUdids",
              "description": "Get UDIDs of tester iOS devices in a project",
              "parameters": {
                "mobilesdkAppId": {
                  "description": "Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "project": {
                  "description": "The name of the project, which is the parent of testers Format: `projects/{project_number}`",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "mobilesdkAppId"
              ],
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      },
      "methods": {
        "getJwt": {
          "path": "v1alpha/apps/{mobilesdkAppId}/jwt",
          "response": {
            "$ref": "GoogleFirebaseAppdistroV1alphaJwt"
          },
          "description": "Get a JWT token",
          "parameterOrder": [
            "mobilesdkAppId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "firebaseappdistribution.apps.getJwt",
          "parameters": {
            "mobilesdkAppId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289"
            }
          },
          "flatPath": "v1alpha/apps/{mobilesdkAppId}/jwt",
          "httpMethod": "GET"
        },
        "get": {
          "description": "Get the app, if it exists",
          "response": {
            "$ref": "GoogleFirebaseAppdistroV1alphaApp"
          },
          "httpMethod": "GET",
          "id": "firebaseappdistribution.apps.get",
          "path": "v1alpha/apps/{mobilesdkAppId}",
          "parameterOrder": [
            "mobilesdkAppId"
          ],
          "flatPath": "v1alpha/apps/{mobilesdkAppId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "mobilesdkAppId": {
              "description": "Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
              "type": "string",
              "location": "path",
              "required": true
            },
            "appView": {
              "description": "App view. When unset or set to BASIC, returns an App with everything set except for aab_state. When set to FULL, returns an App with aab_state set.",
              "enumDescriptions": [
                "The default / unset value. The API will default to the BASIC view.",
                "Include everything except aab_state.",
                "Include everything."
              ],
              "enum": [
                "APP_VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "location": "query",
              "type": "string"
            }
          }
        }
      }
    }
  },
  "schemas": {
    "GoogleFirebaseAppdistroV1alphaAiInstructions": {
      "type": "object",
      "properties": {
        "steps": {
          "description": "Required. Steps to be accomplished by the AI",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaAiStep"
          }
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaAiInstructions"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteraction": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteraction",
      "description": "An interaction with the device, such as a tap, text entry, wait, etc.",
      "properties": {
        "targetFoldedState": {
          "description": "Output only. The target folded state of the device in a set folded state action. The valid string values are device-dependent, and can be found using `adb shell cmd device_state print-states`.",
          "readOnly": true,
          "type": "string"
        },
        "backAction": {
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionBack",
          "readOnly": true,
          "description": "Output only. A back action."
        },
        "targetOrientation": {
          "enumDescriptions": [
            "Orientation unspecified.",
            "Portrait orientation.",
            "Landscape orientation."
          ],
          "enum": [
            "ORIENTATION_UNSPECIFIED",
            "PORTRAIT",
            "LANDSCAPE"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The target orientation of the device in a set orientation action."
        },
        "wait": {
          "readOnly": true,
          "description": "Output only. A wait action.",
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionWait"
        },
        "textInput": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A text input action, that types some text into whatever field is currently focused, if any. Unlike `enter_text` this action requires that the field be brought into focus first, for example by emitting a tap action before this one."
        },
        "longPress": {
          "description": "Output only. A long press (tap and hold) action.",
          "$ref": "AndroidxCrawlerOutputPoint",
          "readOnly": true
        },
        "dragAndDrop": {
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionDragAndDrop",
          "description": "Output only. A drag and drop action."
        },
        "screenshot": {
          "$ref": "GoogleFirebaseAppdistroV1alphaScreenshot",
          "description": "Output only. The screenshot used in the context of this action. The screen may have changed before the action was actually taken.",
          "readOnly": true
        },
        "swipe": {
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionSwipe",
          "description": "Output only. A swipe action.",
          "readOnly": true
        },
        "enterText": {
          "description": "Output only. A text entry action, that enters text into a particular text field, clearing any existing text in the field. Unlike `text_input` this action does not require any other actions such as a tap to be performed before it can enter the text.",
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionEnterText"
        },
        "keyCode": {
          "description": "Output only. Key code for a key event action.",
          "type": "string",
          "readOnly": true
        },
        "tap": {
          "readOnly": true,
          "description": "Output only. A tap action.",
          "$ref": "AndroidxCrawlerOutputPoint"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaLoginCredentialFieldHints": {
      "id": "GoogleFirebaseAppdistroV1alphaLoginCredentialFieldHints",
      "type": "object",
      "description": "Hints to the crawler for identifying input fields",
      "properties": {
        "usernameResourceName": {
          "type": "string",
          "description": "Required. The Android resource name of the username UI element. For example, in Java: R.string.foo in xml: @string/foo Only the \"foo\" part is needed. Reference doc: https://developer.android.com/guide/topics/resources/accessing-resources.html"
        },
        "passwordResourceName": {
          "type": "string",
          "description": "Required. The Android resource name of the password UI element. For example, in Java: R.string.foo in xml: @string/foo Only the \"foo\" part is needed. Reference doc: https://developer.android.com/guide/topics/resources/accessing-resources.html"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaLoginCredential": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaLoginCredential",
      "properties": {
        "google": {
          "type": "boolean",
          "description": "Optional. Are these credentials for Google?"
        },
        "fieldHints": {
          "description": "Optional. Hints to the crawler for identifying input fields",
          "$ref": "GoogleFirebaseAppdistroV1alphaLoginCredentialFieldHints"
        },
        "username": {
          "type": "string",
          "description": "Optional. Username for automated tests"
        },
        "password": {
          "description": "Optional. Password for automated tests",
          "type": "string"
        }
      },
      "description": "Login credential for automated tests"
    },
    "GoogleFirebaseAppdistroV1ReleaseNotes": {
      "properties": {
        "text": {
          "description": "The text of the release notes.",
          "type": "string"
        }
      },
      "description": "Notes that belong to a release.",
      "id": "GoogleFirebaseAppdistroV1ReleaseNotes",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaUpdateTestCaseRequest": {
      "id": "GoogleFirebaseAppdistroV1alphaUpdateTestCaseRequest",
      "type": "object",
      "description": "The request message for `UpdateTestCase`.",
      "properties": {
        "allowMissing": {
          "description": "Optional. If set to true, and the test case is not found, a new test case will be created.",
          "type": "boolean"
        },
        "testCase": {
          "$ref": "GoogleFirebaseAppdistroV1alphaTestCase",
          "description": "Required. The test case to update. The test case's `name` field is used to identify the test case to update. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`"
        }
      }
    },
    "GoogleFirebaseAppdistroV1Release": {
      "properties": {
        "acceptedInvitationCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Number of testers with accepted invitations.",
          "readOnly": true
        },
        "testState": {
          "readOnly": true,
          "enumDescriptions": [
            "No test state specified",
            "No tests have been requested for this release",
            "One or more device executions are in progress",
            "All device executions passed during the most recent test",
            "Some device executions failed during the most recent test",
            "Some device executions were inconclusive, but none failed, during the most recent test"
          ],
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "NO_TESTS_REQUESTED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "INCONCLUSIVE"
          ],
          "description": "Output only. The overall state of tests run on this release",
          "type": "string"
        },
        "openInvitationCount": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Number of testers who were invited (incl. expired invitations), but did not (yet) accept the invitation."
        },
        "binaryType": {
          "enum": [
            "BINARY_TYPE_UNSPECIFIED",
            "IPA",
            "APK",
            "AAB"
          ],
          "enumDescriptions": [
            "unspecified binary type",
            "iOS App Store package",
            "Android Application package",
            "Android App Bundle"
          ],
          "readOnly": true,
          "description": "Output only. Type of binary.",
          "type": "string"
        },
        "androidPackageRegistrationState": {
          "readOnly": true,
          "enum": [
            "ANDROID_PACKAGE_REGISTRATION_STATE_UNSPECIFIED",
            "REGISTERED",
            "NOT_REGISTERED",
            "REGISTERED_WITH_ANOTHER_CERTIFICATE_FINGERPRINT"
          ],
          "type": "string",
          "description": "Output only. Registration state of the Android package (BinaryType.APK).",
          "enumDescriptions": [
            "Default value.",
            "Package is registered with the release binary's certificate fingerprint.",
            "Package is not registered with any public certificate.",
            "Package is registered with another public certificate fingerprint."
          ]
        },
        "installationCount": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Number of testers who have downloaded this release."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the release was created.",
          "format": "google-datetime"
        },
        "testingUri": {
          "type": "string",
          "description": "Output only. A link to the release in the tester web clip or Android app that lets testers (which were granted access to the app) view release notes and install the app onto their devices.",
          "readOnly": true
        },
        "firebaseConsoleUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A link to the Firebase console displaying a single release."
        },
        "releaseNotes": {
          "description": "Notes about the release.",
          "$ref": "GoogleFirebaseAppdistroV1ReleaseNotes"
        },
        "buildVersion": {
          "readOnly": true,
          "description": "Output only. Build version of the release. For an Android release, the build version is the `versionCode`. For an iOS release, the build version is the `CFBundleVersion`.",
          "type": "string"
        },
        "binaryDownloadUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A signed link (which expires in one hour) to directly download the app binary (IPA/APK/AAB) file."
        },
        "displayVersion": {
          "readOnly": true,
          "description": "Output only. Display version of the release. For an Android release, the display version is the `versionName`. For an iOS release, the display version is the `CFBundleShortVersionString`.",
          "type": "string"
        },
        "feedbackCount": {
          "description": "Output only. Number of feedback reports left by testers.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "updateTime": {
          "description": "Output only. The time the release was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "description": "The name of the release resource. Format: `projects/{project_number}/apps/{app}/releases/{release}`",
          "type": "string"
        },
        "expireTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the release will expire.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleFirebaseAppdistroV1Release",
      "description": "A release of a Firebase app.",
      "type": "object"
    },
    "AndroidxCrawlerOutputPoint": {
      "properties": {
        "yCoordinate": {
          "type": "integer",
          "format": "int32"
        },
        "xCoordinate": {
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "AndroidxCrawlerOutputPoint",
      "description": "Point for describing bounding boxes tap locations Top left is 0,0",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesRequest": {
      "properties": {
        "requests": {
          "description": "Required. The update requests. A maximum number of 1000 test cases can be updated in one batch",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaUpdateTestCaseRequest"
          }
        }
      },
      "type": "object",
      "description": "The request message for `BatchUpdateTestCase`.",
      "id": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesRequest"
    },
    "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesResponse": {
      "properties": {
        "testCases": {
          "type": "array",
          "description": "The updated test cases.",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
          }
        }
      },
      "description": "The response message for `BatchUpdateTestCase`.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesResponse"
    },
    "GoogleFirebaseAppdistroV1alphaAiStepResult": {
      "description": "Captures the results of an AiStep",
      "properties": {
        "goalDetails": {
          "description": "Output only. Details for a goal step.",
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaGoalDetails"
        },
        "step": {
          "description": "Required. The step performed by the AI",
          "$ref": "GoogleFirebaseAppdistroV1alphaAiStep"
        },
        "assertionDetails": {
          "description": "Output only. Details for an assertion step.",
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaAssertionDetails"
        },
        "state": {
          "enum": [
            "STEP_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "TIMED_OUT",
            "GOAL_ACTION_LIMIT_REACHED"
          ],
          "enumDescriptions": [
            "Step state unspecified",
            "The step is in progress",
            "The step has completed successfully",
            "The step has failed",
            "The test timed out during this step",
            "The number of actions needed to reach the goal exceeded its limit"
          ],
          "description": "Output only. The current state of the step",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaAiStepResult"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionWait": {
      "properties": {
        "duration": {
          "type": "string",
          "description": "Output only. The duration of the wait.",
          "format": "google-duration",
          "readOnly": true
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionWait",
      "type": "object",
      "description": "A wait action."
    },
    "GoogleFirebaseAppdistroV1alphaReleaseNotes": {
      "id": "GoogleFirebaseAppdistroV1alphaReleaseNotes",
      "description": "Release notes for a release.",
      "type": "object",
      "properties": {
        "releaseNotes": {
          "type": "string",
          "description": "The actual release notes text from the user."
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionDragAndDrop": {
      "description": "A drag and drop action.",
      "properties": {
        "start": {
          "readOnly": true,
          "description": "Output only. The start point of the drag and drop.",
          "$ref": "AndroidxCrawlerOutputPoint"
        },
        "end": {
          "readOnly": true,
          "description": "Output only. The end point of the drag and drop.",
          "$ref": "AndroidxCrawlerOutputPoint"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionDragAndDrop"
    },
    "GoogleFirebaseAppdistroV1alphaTesterUdid": {
      "id": "GoogleFirebaseAppdistroV1alphaTesterUdid",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the tester's device"
        },
        "platform": {
          "type": "string",
          "description": "The platform of the tester's device"
        },
        "udid": {
          "type": "string",
          "description": "The UDID of the tester's device"
        }
      },
      "description": "The UDIDs of a tester's iOS device"
    },
    "GoogleFirebaseAppdistroV1alphaApp": {
      "description": "An app.",
      "id": "GoogleFirebaseAppdistroV1alphaApp",
      "type": "object",
      "properties": {
        "appId": {
          "description": "Firebase gmp app id",
          "type": "string"
        },
        "platform": {
          "type": "string",
          "description": "iOS or Android"
        },
        "aabCertificate": {
          "description": "App bundle test certificate generated for the app.",
          "$ref": "GoogleFirebaseAppdistroV1alphaAabCertificate"
        },
        "bundleId": {
          "type": "string",
          "description": "Bundle identifier"
        },
        "aabState": {
          "type": "string",
          "enum": [
            "AAB_STATE_UNSPECIFIED",
            "ACTIVE",
            "PLAY_ACCOUNT_NOT_LINKED",
            "NO_APP_WITH_GIVEN_BUNDLE_ID_IN_PLAY_ACCOUNT",
            "APP_NOT_PUBLISHED",
            "AAB_STATE_UNAVAILABLE",
            "PLAY_IAS_TERMS_NOT_ACCEPTED"
          ],
          "description": "App bundle state. Only valid for android apps. The app_view field in the request must be set to FULL in order for this to be populated.",
          "enumDescriptions": [
            "Aab state unspecified",
            "App can receive app bundle uploads",
            "Firebase project is not linked to a Play developer account",
            "There is no app in linked Play developer account with the same bundle id",
            "The app in Play developer account is not in a published state",
            "Play App status is unavailable",
            "Play IAS terms not accepted"
          ]
        },
        "projectNumber": {
          "type": "string",
          "description": "Project number of the Firebase project, for example 300830567303."
        },
        "contactEmail": {
          "type": "string",
          "description": "Developer contact email for testers to reach out to about privacy or support issues."
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaGoalActionDebugInfo": {
      "properties": {
        "jsonUri": {
          "readOnly": true,
          "description": "Output only. Structured data explaining the agent's choice.",
          "type": "string"
        },
        "annotatedScreenshotUri": {
          "description": "Output only. URI of the screenshot with elements labeled which was used by the agent.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaGoalActionDebugInfo",
      "description": "Information to help the customer understand why the agent took this action."
    },
    "GoogleFirebaseAppdistroV1alphaListTestCasesResponse": {
      "properties": {
        "testCases": {
          "description": "The test cases from the specified app.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaListTestCasesResponse",
      "type": "object",
      "description": "The response message for `ListTestCases`."
    },
    "GoogleFirebaseAppdistroV1alphaTestQuota": {
      "properties": {
        "usage": {
          "description": "Output only. Number of `ReleaseTests` run in the current month",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "limit": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Maximum number of `ReleaseTests` allotted for the current month.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The name of the `TestQuota` resource. Format: `projects/{project_number}/testQuota`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaTestQuota",
      "description": "Customer quota information for `ReleaseTests`. Note: This quota only applies to tests with `AiInstructions` and is separate from the quota which might apply to the device time used by any tests."
    },
    "GoogleFirebaseAppdistroV1alphaGoalDetails": {
      "id": "GoogleFirebaseAppdistroV1alphaGoalDetails",
      "type": "object",
      "description": "Details for a goal step.",
      "properties": {
        "goalActions": {
          "description": "Output only. The actions taken by the AI while attempting to accomplish the goal.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaGoalAction"
          },
          "type": "array"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaGetReleaseByUploadHashResponse": {
      "properties": {
        "release": {
          "description": "Release object",
          "$ref": "GoogleFirebaseAppdistroV1alphaRelease"
        }
      },
      "description": "Response object to get the release given a upload hash",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaGetReleaseByUploadHashResponse"
    },
    "GoogleFirebaseAppdistroV1alphaRelease": {
      "properties": {
        "testerCount": {
          "format": "int32",
          "description": "Count of testers added to the release",
          "type": "integer"
        },
        "id": {
          "description": "Release Id",
          "type": "string"
        },
        "displayVersion": {
          "description": "Release version",
          "type": "string"
        },
        "releaseNotesSummary": {
          "type": "string",
          "description": "Release notes summary"
        },
        "openInvitationCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of testers who have open invitations for the release"
        },
        "receivedAt": {
          "type": "string",
          "description": "unused. ",
          "format": "google-datetime",
          "deprecated": true
        },
        "testerWithInstallCount": {
          "type": "integer",
          "description": "Number of testers who have installed the release",
          "format": "int32"
        },
        "distributedAt": {
          "description": "Timestamp when the release was created",
          "type": "string",
          "format": "google-datetime"
        },
        "instanceId": {
          "description": "Instance id of the release",
          "type": "string"
        },
        "lastActivityAt": {
          "description": "Last activity timestamp",
          "format": "google-datetime",
          "type": "string"
        },
        "buildVersion": {
          "description": "Release build version",
          "type": "string"
        }
      },
      "description": "Proto defining a release object",
      "id": "GoogleFirebaseAppdistroV1alphaRelease",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaJwt": {
      "id": "GoogleFirebaseAppdistroV1alphaJwt",
      "description": "A JWT token.",
      "type": "object",
      "properties": {
        "token": {
          "description": "The JWT token (three Base64URL-encoded strings joined by dots).",
          "type": "string"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheResponse": {
      "id": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheResponse",
      "description": "Response empty (google.protobuf.Empty) message for `ClearTestCaseCache`",
      "properties": {},
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceAction": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceAction",
      "properties": {
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A short description of the high level action taken by the AI agent."
        },
        "deviceInteractions": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The interactions made with the device as part of this higher level action taken by the agent, such as taps, text entries, waits, etc.",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteraction"
          }
        }
      },
      "description": "A high level action taken by the AI on the device, potentially involving multiple taps, text entries, waits, etc."
    },
    "GoogleFirebaseAppdistroV1alphaAppCrash": {
      "id": "GoogleFirebaseAppdistroV1alphaAppCrash",
      "description": "An app crash that occurred during an automated test.",
      "properties": {
        "message": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The message associated with the crash."
        },
        "stackTrace": {
          "description": "Output only. The raw stack trace.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaTestConfig": {
      "id": "GoogleFirebaseAppdistroV1alphaTestConfig",
      "type": "object",
      "properties": {
        "testDevices": {
          "type": "array",
          "description": "Optional. Tests will be run on this list of devices",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestDevice"
          }
        },
        "resultsBucket": {
          "type": "string",
          "description": "Optional. The custom Cloud Storage bucket where test results are stored. Format: `projects/{project_number}/buckets/{bucket}` If not provided, the default test lab bucket is used."
        },
        "roboCrawler": {
          "description": "Optional. Configuration for Robo crawler",
          "$ref": "GoogleFirebaseAppdistroV1alphaRoboCrawler"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Display name of the AI driven test. Required if the release test is created with multiple goals."
        },
        "name": {
          "description": "Identifier. The name of the test configuration resource. Format: `projects/{project_number}/apps/{app}/testConfig`",
          "type": "string"
        }
      },
      "description": "Configuration for automated tests"
    },
    "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseRequest": {
      "id": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseRequest",
      "properties": {
        "groupIds": {
          "description": "Optional. A repeated list of group aliases to enable access to a release for Note: This field is misnamed, but can't be changed because we need to maintain compatibility with old build tools",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "displayVersion": {
          "type": "string",
          "description": "Optional. Ignored. Used to be display version of the app release if an instance identifier was provided for the release_id.",
          "deprecated": true
        },
        "buildVersion": {
          "deprecated": true,
          "description": "Optional. Ignored. Used to be build version of the app release if an instance identifier was provided for the release_id.",
          "type": "string"
        },
        "emails": {
          "description": "Optional. An email address which should get access to this release, for example rebeccahe@google.com",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "The request message for `EnableAccessOnRelease`.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseResponse": {
      "id": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseResponse",
      "description": "The response message for `EnableAccessOnRelease`.",
      "type": "object",
      "properties": {}
    },
    "GoogleFirebaseAppdistroV1alphaGetUploadStatusResponse": {
      "type": "object",
      "description": "The response message for `GetUploadStatus`.",
      "properties": {
        "message": {
          "description": "Any additional context for the given upload status (e.g. error message) Meant to be displayed to the client",
          "type": "string"
        },
        "status": {
          "description": "The status of the upload",
          "enumDescriptions": [
            "Status unspecified.",
            "The upload is in progress.",
            "The binary has already been uploaded.",
            "The upload was successful.",
            "The upload failed."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "IN_PROGRESS",
            "ALREADY_UPLOADED",
            "SUCCESS",
            "ERROR"
          ],
          "type": "string"
        },
        "errorCode": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Happens if the Firebase app no longer exists by the time of extraction",
            "",
            "A corresponding Android Developer Console account for this app's Play Console account was not found.",
            "The package was not found in the Android Developer Console."
          ],
          "enum": [
            "ERROR_UNSPECIFIED",
            "INVALID_ZIP",
            "MISSING_PLIST",
            "MISSING_PROFILE",
            "VERSION_TOO_LONG",
            "MISSING_UUIDS",
            "MISSING_RESOURCES",
            "MISSING_MANIFEST",
            "IOS_METADATA_ERROR",
            "ANDROID_METADATA_ERROR",
            "UNSUPPORTED_PLATFORM_TYPE",
            "BUNDLE_ID_MISMATCH",
            "APK_NOT_ZIP_ALIGNED",
            "INVALID_CERTIFICATE",
            "APK_TOO_LARGE",
            "AAB_NOT_PUBLISHED",
            "INVALID_PLIST_DEVICE_FAMILIES",
            "AAB_TOS_NOT_ACCEPTED",
            "APP_NAME_TOO_LONG",
            "AAB_DEVELOPER_ACCOUNT_NOT_LINKED",
            "AAB_NO_APP_WITH_GIVEN_PACKAGE_NAME_IN_ACCOUNT",
            "AAB_UPLOAD_ERROR",
            "APP_NOT_FOUND",
            "AAB_ADHOC_SHARING_KEY_NOT_REGISTERED",
            "AAB_ANDROID_DEVELOPER_CONSOLE_ACCOUNT_NOT_FOUND",
            "AAB_ANDROID_DEVELOPER_CONSOLE_PACKAGE_NOT_FOUND"
          ],
          "description": "The error code associated with (only set on \"FAILURE\")"
        },
        "release": {
          "description": "The release that was created from the upload (only set on \"SUCCESS\")",
          "$ref": "GoogleFirebaseAppdistroV1alphaRelease"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaGetUploadStatusResponse"
    },
    "GoogleFirebaseAppdistroV1alphaAabCertificate": {
      "description": "App bundle test certificate",
      "properties": {
        "certificateHashMd5": {
          "type": "string",
          "description": "MD5 hash of the certificate used to resign the AAB"
        },
        "certificateHashSha1": {
          "type": "string",
          "description": "SHA1 hash of the certificate used to resign the AAB"
        },
        "certificateHashSha256": {
          "description": "SHA256 hash of the certificate used to resign the AAB",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaAabCertificate",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesRequest": {
      "id": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesRequest",
      "description": "The request message for `CreateReleaseNotes`.",
      "properties": {
        "releaseNotes": {
          "$ref": "GoogleFirebaseAppdistroV1alphaReleaseNotes",
          "description": "The actual release notes body from the user"
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1UploadReleaseMetadata": {
      "type": "object",
      "description": "Operation metadata for `UploadRelease`.",
      "id": "GoogleFirebaseAppdistroV1UploadReleaseMetadata",
      "properties": {}
    },
    "GoogleFirebaseAppdistroV1alphaRoboCrawler": {
      "description": "Configuration for Robo crawler",
      "type": "object",
      "properties": {
        "loginCredential": {
          "$ref": "GoogleFirebaseAppdistroV1alphaLoginCredential",
          "description": "Optional. Login credential for automated tests"
        },
        "aiInstructions": {
          "$ref": "GoogleFirebaseAppdistroV1alphaAiInstructions",
          "description": "Optional. Instructions for AI driven test"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaRoboCrawler"
    },
    "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse": {
      "id": "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse",
      "type": "object",
      "properties": {
        "testerUdids": {
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTesterUdid"
          },
          "type": "array",
          "description": "The UDIDs of tester iOS devices in a project"
        }
      },
      "description": "Response containing the UDIDs of tester iOS devices in a project"
    },
    "GoogleFirebaseAppdistroV1alphaAiStep": {
      "id": "GoogleFirebaseAppdistroV1alphaAiStep",
      "description": "A step to be accomplished by the AI",
      "type": "object",
      "properties": {
        "hint": {
          "description": "Optional. Hint text containing suggestions to help the agent accomplish the goal",
          "type": "string"
        },
        "testCase": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The test case that contained this step. Note: The test case may have changed or been deleted since this step was created. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`"
        },
        "successCriteria": {
          "description": "Optional. A visual description of the screen's expected state after the step has been successfully completed. This is referred to as the \"final screen assertion\" in the Firebase console and CLI tools. This field must be provided for the last step in a test case, and is optional for all other steps.",
          "type": "string"
        },
        "assertion": {
          "description": "An assertion to be checked by the AI",
          "type": "string"
        },
        "goal": {
          "type": "string",
          "description": "A goal to be accomplished by the AI"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaScreenshot": {
      "id": "GoogleFirebaseAppdistroV1alphaScreenshot",
      "type": "object",
      "properties": {
        "height": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The height of the screenshot, in pixels.",
          "readOnly": true
        },
        "uri": {
          "description": "Output only. The URI of the screenshot.",
          "type": "string",
          "readOnly": true
        },
        "width": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The width of the screenshot, in pixels.",
          "format": "int32"
        }
      },
      "description": "A device screenshot taken during a test."
    },
    "AndroidxCrawlerOutputRectangle": {
      "type": "object",
      "properties": {
        "top": {
          "type": "integer",
          "format": "int32"
        },
        "left": {
          "format": "int32",
          "type": "integer"
        },
        "right": {
          "type": "integer",
          "format": "int32"
        },
        "bottom": {
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "AndroidxCrawlerOutputRectangle",
      "description": "Rectangle for describing bounding boxes"
    },
    "GoogleFirebaseAppdistroV1alphaRoboStats": {
      "type": "object",
      "description": "Statistics collected during a Robo test.",
      "properties": {
        "crawlDuration": {
          "type": "string",
          "description": "Output only. Duration of crawl.",
          "format": "google-duration",
          "readOnly": true
        },
        "mainActivityCrawlTimedOut": {
          "readOnly": true,
          "description": "Output only. Whether the main activity crawl timed out.",
          "type": "boolean"
        },
        "distinctVisitedScreens": {
          "type": "integer",
          "description": "Output only. Number of distinct screens visited.",
          "format": "int32",
          "readOnly": true
        },
        "actionsPerformed": {
          "description": "Output only. Number of actions that crawler performed.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaRoboStats"
    },
    "GoogleFirebaseAppdistroV1alphaReleaseTest": {
      "id": "GoogleFirebaseAppdistroV1alphaReleaseTest",
      "type": "object",
      "properties": {
        "resultsBucket": {
          "type": "string",
          "description": "Optional. Input only. The custom Cloud Storage bucket where test results are stored. Format: `projects/{project_number}/buckets/{bucket}` If not provided, the default test lab bucket is used."
        },
        "deviceExecutions": {
          "description": "Required. The results of the test on each device.",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaDeviceExecution"
          },
          "type": "array"
        },
        "loginCredential": {
          "description": "Optional. Input only. Login credentials for the test. Input only.",
          "$ref": "GoogleFirebaseAppdistroV1alphaLoginCredential"
        },
        "createTime": {
          "description": "Output only. Timestamp when the test was run.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "The name of the release test resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Display name of the release test. Required if the release test is created with multiple goals."
        },
        "testCase": {
          "type": "string",
          "description": "Optional. The test case that was used to generate this release test. Note: The test case may have changed or been deleted since the release test was created. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`"
        },
        "aiInstructions": {
          "$ref": "GoogleFirebaseAppdistroV1alphaAiInstructions",
          "description": "Optional. Instructions for AI driven test."
        },
        "testState": {
          "readOnly": true,
          "description": "Output only. The state of the release test.",
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "INCONCLUSIVE"
          ],
          "enumDescriptions": [
            "Test state unspecified.",
            "The test is in progress.",
            "The test has passed.",
            "The test has failed.",
            "The test was inconclusive."
          ],
          "type": "string"
        }
      },
      "description": "Instance of an automated test for a release."
    },
    "GoogleFirebaseAppdistroV1alphaCancelReleaseTestResponse": {
      "id": "GoogleFirebaseAppdistroV1alphaCancelReleaseTestResponse",
      "properties": {},
      "description": "The (empty) response message for `CancelReleaseTest`.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaTestCase": {
      "id": "GoogleFirebaseAppdistroV1alphaTestCase",
      "description": "AI test cases",
      "type": "object",
      "properties": {
        "prerequisiteTestCase": {
          "type": "string",
          "description": "Optional. Test case that must be run before this test case."
        },
        "displayName": {
          "description": "Required. Display name of the test case.",
          "type": "string"
        },
        "dependentTestCases": {
          "type": "array",
          "description": "Output only. Other test cases that depend on this test case as a prerequisite.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The name of the test case resource. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "type": "string"
        },
        "aiInstructions": {
          "description": "Optional. Instructions for AI driven test.",
          "$ref": "GoogleFirebaseAppdistroV1alphaAiInstructions"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the test case was created"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaTestDevice": {
      "type": "object",
      "description": "A device on which automated tests can be run.",
      "properties": {
        "model": {
          "description": "Required. The device model.",
          "type": "string"
        },
        "locale": {
          "description": "Optional. The locale of the device (e.g. \"en_US\" for US English) during the test.",
          "type": "string"
        },
        "orientation": {
          "description": "Optional. The orientation of the device during the test.",
          "type": "string"
        },
        "version": {
          "description": "Required. The version of the device (API level on Android).",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaTestDevice"
    },
    "GoogleFirebaseAppdistroV1alphaAssertionDetails": {
      "properties": {
        "explanation": {
          "type": "string",
          "description": "Output only. An explanation justifying the assertion result.",
          "readOnly": true
        },
        "result": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. The result of the assertion."
        },
        "screenshot": {
          "readOnly": true,
          "description": "Output only. The screenshot used in the context of this assertion.",
          "$ref": "GoogleFirebaseAppdistroV1alphaScreenshot"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaAssertionDetails",
      "type": "object",
      "description": "Details for an assertion step."
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionSwipe": {
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionSwipe",
      "type": "object",
      "properties": {
        "end": {
          "description": "Output only. The end point of the swipe.",
          "readOnly": true,
          "$ref": "AndroidxCrawlerOutputPoint"
        },
        "start": {
          "readOnly": true,
          "description": "Output only. The start point of the swipe.",
          "$ref": "AndroidxCrawlerOutputPoint"
        }
      },
      "description": "A swipe action."
    },
    "GoogleFirebaseAppdistroV1alphaListReleaseTestsResponse": {
      "description": "The response message for `ListReleaseTests`.",
      "properties": {
        "nextPageToken": {
          "description": "A short-lived token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "releaseTests": {
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
          },
          "description": "The tests listed.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaListReleaseTestsResponse"
    },
    "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesResponse": {
      "properties": {},
      "id": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesResponse",
      "type": "object",
      "description": "The response message for `CreateReleaseNotes`."
    },
    "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheRequest": {
      "description": "Request message for `ClearTestCaseCache`.",
      "properties": {
        "testDevices": {
          "description": "Optional. The list of devices for which to clear the cache. If not present, clear all of them.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestDevice"
          }
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheRequest"
    },
    "GoogleFirebaseAppdistroV1alphaBatchDeleteTestCasesRequest": {
      "properties": {
        "names": {
          "description": "Required. The name of the test cases to delete. A maximum number of 1000 test cases can be deleted in one batch Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaBatchDeleteTestCasesRequest",
      "description": "The request message for `BatchDeleteTestCase`.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionEnterText": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionEnterText",
      "properties": {
        "elementBounds": {
          "$ref": "AndroidxCrawlerOutputRectangle",
          "description": "Output only. The visible bounds of the element to enter text into.",
          "readOnly": true
        },
        "text": {
          "description": "Output only. The text to enter.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A text entry action, that enters text into a particular text field, clearing any existing text in the field."
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionBack": {
      "properties": {},
      "type": "object",
      "description": "A back action.",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionBack"
    },
    "GoogleFirebaseAppdistroV1UploadReleaseResponse": {
      "id": "GoogleFirebaseAppdistroV1UploadReleaseResponse",
      "description": "Response message for `UploadRelease`.",
      "properties": {
        "release": {
          "description": "Release associated with the uploaded binary.",
          "$ref": "GoogleFirebaseAppdistroV1Release"
        },
        "result": {
          "enumDescriptions": [
            "Upload binary result unspecified",
            "Upload binary resulted in a new release",
            "Upload binary updated an existing release",
            "Upload binary resulted in a no-op. A release with the exact same binary already exists."
          ],
          "enum": [
            "UPLOAD_RELEASE_RESULT_UNSPECIFIED",
            "RELEASE_CREATED",
            "RELEASE_UPDATED",
            "RELEASE_UNMODIFIED"
          ],
          "type": "string",
          "description": "Result of upload release."
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceExecution": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceExecution",
      "properties": {
        "resultsStoragePath": {
          "type": "string",
          "description": "Output only. The path to a directory in Cloud Storage that will eventually contain the results for this execution. For example, gs://bucket/Nexus5-18-en-portrait.",
          "readOnly": true
        },
        "videoUri": {
          "readOnly": true,
          "description": "Output only. A URI to a video of the test run.",
          "type": "string"
        },
        "device": {
          "$ref": "GoogleFirebaseAppdistroV1alphaTestDevice",
          "description": "Required. The device that the test was run on."
        },
        "executionType": {
          "description": "Output only. The type of execution for the test.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Execution type unspecified.",
            "An AI-driven test.",
            "A replay of a previous test run.",
            "A failed replay that was rerun using the AI agent.",
            "A random Robo test."
          ],
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "AI",
            "ACTION_BASED_REPLAY",
            "AI_REPLAY",
            "RANDOM_CRAWL"
          ]
        },
        "screenshotUris": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. A list of screenshot image URIs taken from the Robo crawl. The file names are numbered by the order in which they were taken."
        },
        "finalAiAssertionMissing": {
          "type": "boolean",
          "description": "Output only. Indicates that the test replayed saved actions and concluded without a final AI assertion.",
          "readOnly": true
        },
        "failedReason": {
          "enumDescriptions": [
            "Reason unspecified.",
            "The app crashed during the test.",
            "If an app is not installed and thus no test can be run with the app. This might be caused by trying to run a test on an unsupported platform.",
            "If the app could not be crawled (possibly because the app did not start).",
            "If the device ran out of memory during the test.",
            "At least one AI step failed.",
            "The crawl reached the time limit before the test could be completed."
          ],
          "type": "string",
          "enum": [
            "FAILED_REASON_UNSPECIFIED",
            "CRASHED",
            "NOT_INSTALLED",
            "UNABLE_TO_CRAWL",
            "DEVICE_OUT_OF_MEMORY",
            "FAILED_AI_STEP",
            "TIMED_OUT"
          ],
          "description": "Output only. The reason why the test failed.",
          "readOnly": true
        },
        "roboStats": {
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaRoboStats",
          "description": "Output only. The statistics collected during the Robo test."
        },
        "videoStartTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the video started recording.",
          "type": "string",
          "readOnly": true
        },
        "appCrash": {
          "description": "Output only. An app crash, if any occurred during the test.",
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaAppCrash"
        },
        "aiStepResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaAiStepResult"
          },
          "readOnly": true,
          "description": "Output only. Results of the AI steps if passed in"
        },
        "inconclusiveReason": {
          "type": "string",
          "enumDescriptions": [
            "Reason unspecified.",
            "Not enough quota remained to run the test.",
            "The outcome of the test could not be determined because of a failure in the test running infrastructure.",
            "A required cloud service api is not activated (Google Cloud Testing API or Cloud Tool Results API).",
            "The app was not signed.",
            "A main launcher activity could not be found.",
            "The app declares one or more permissions that are not allowed.",
            "Device administrator applications are not allowed.",
            "APK contains no code. See also https://developer.android.com/guide/topics/manifest/application-element.html#code",
            "APK is built for a preview SDK which is unsupported."
          ],
          "readOnly": true,
          "enum": [
            "INCONCLUSIVE_REASON_UNSPECIFIED",
            "QUOTA_EXCEEDED",
            "INFRASTRUCTURE_FAILURE",
            "SERVICE_NOT_ACTIVATED",
            "NO_SIGNATURE",
            "NO_LAUNCHER_ACTIVITY",
            "FORBIDDEN_PERMISSIONS",
            "DEVICE_ADMIN_RECEIVER",
            "NO_CODE_APK",
            "INVALID_APK_PREVIEW_SDK"
          ],
          "description": "Output only. The reason why the test was inconclusive."
        },
        "state": {
          "enumDescriptions": [
            "Test state unspecified.",
            "The test is in progress.",
            "The test has passed.",
            "The test has failed.",
            "The test was inconclusive."
          ],
          "description": "Output only. The state of the test.",
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "INCONCLUSIVE"
          ],
          "type": "string",
          "readOnly": true
        },
        "originDeviceExecution": {
          "description": "Output only. The device execution from which cached steps were used during this execution. Note: This field is only populated for ACTION_BASED_REPLAY executions. If the original device execution no longer exists, this field will be empty. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}/deviceExecutions/{device_execution}`",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the device execution resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}/deviceExecutions/{device_execution}`"
        },
        "crawlGraphUri": {
          "readOnly": true,
          "description": "Output only. A URI to an image of the Robo crawl graph.",
          "type": "string"
        }
      },
      "description": "The results of running an automated test on a particular device."
    },
    "GoogleFirebaseAppdistroV1alphaTerminalAction": {
      "properties": {
        "reason": {
          "enumDescriptions": [
            "Reason unspecified.",
            "The goal failed to be completed. Note that \"impossible\" is a legacy term and the goal is reported to the customer as having \"failed\".",
            "The goal was completed successfully."
          ],
          "type": "string",
          "enum": [
            "REASON_UNSPECIFIED",
            "GOAL_IMPOSSIBLE",
            "GOAL_COMPLETE"
          ],
          "readOnly": true,
          "description": "Output only. The reason why this goal was ended."
        },
        "screenshot": {
          "description": "Output only. The screenshot used in the context of this terminal action.",
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaScreenshot"
        }
      },
      "type": "object",
      "description": "An action taken by the AI to end the goal.",
      "id": "GoogleFirebaseAppdistroV1alphaTerminalAction"
    },
    "GoogleFirebaseAppdistroV1alphaGoalAction": {
      "id": "GoogleFirebaseAppdistroV1alphaGoalAction",
      "description": "An action taken by the AI agent while attempting to accomplish a goal.",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Output only. The time at which the action started.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "debugInfo": {
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaGoalActionDebugInfo",
          "description": "Output only. Debug information explaining why the agent to the specific action."
        },
        "explanation": {
          "description": "Output only. An explanation justifying why the action was taken.",
          "readOnly": true,
          "type": "string"
        },
        "terminalAction": {
          "$ref": "GoogleFirebaseAppdistroV1alphaTerminalAction",
          "description": "Output only. An action taken by the AI to end the goal.",
          "readOnly": true
        },
        "cachingType": {
          "enum": [
            "CACHING_TYPE_UNSPECIFIED",
            "NO_CACHING",
            "CACHE_AND_MODEL",
            "CACHE_ONLY"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Caching type unspecified.",
            "The model alone was used to determine the action with no caching.",
            "The model used information from a previous successful run to determine the action.",
            "The action was replayed from a previous successful run without model input."
          ],
          "description": "Output only. The type of caching used to determine the action.",
          "type": "string"
        },
        "deviceAction": {
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceAction",
          "readOnly": true,
          "description": "Output only. A high level action taken by the AI on the device."
        }
      },
      "type": "object"
    }
  },
  "parameters": {
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    }
  },
  "rootUrl": "https://firebaseappdistribution.googleapis.com/",
  "baseUrl": "https://firebaseappdistribution.googleapis.com/",
  "version_module": true,
  "revision": "20260831",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "basePath": ""
}