{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "ownerName": "Google",
  "canonicalName": "Firebase Crashlytics",
  "rootUrl": "https://firebasecrashlytics.googleapis.com/",
  "batchPath": "batch",
  "basePath": "",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "id": "firebasecrashlytics:v1alpha",
  "version_module": true,
  "schemas": {
    "ListReportsResponse": {
      "type": "object",
      "id": "ListReportsResponse",
      "description": "Response method for the ListReports method. The response will always include all of the available reports.",
      "properties": {
        "reports": {
          "description": "The report objects returned will contain their names and usage instructions, but include no results. Use the `GetReport` method to run the report and obtain the paged results.",
          "items": {
            "$ref": "Report"
          },
          "type": "array"
        }
      }
    },
    "ListNotesResponse": {
      "description": "Response message for the ListNotes method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token to retrieve the next page of notes. If this field is not present, there are no subsequent notes."
        },
        "notes": {
          "type": "array",
          "items": {
            "$ref": "Note"
          },
          "description": "Returns notes ordered descending by the timestamp."
        }
      },
      "id": "ListNotesResponse",
      "type": "object"
    },
    "Error": {
      "type": "object",
      "id": "Error",
      "description": "A non-fatal error and its stacktrace, only from Apple apps.",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of the error."
        },
        "subtitle": {
          "type": "string",
          "description": "The subtitle of the error."
        },
        "blamed": {
          "description": "True when the Crashlytics analysis has determined that the stacktrace in this error is where the fault occurred.",
          "type": "boolean"
        },
        "queue": {
          "type": "string",
          "description": "The queue on which the thread was running."
        },
        "code": {
          "type": "string",
          "format": "int64",
          "description": "Error code associated with the app's custom logged NSError."
        },
        "frames": {
          "description": "The frames in the error's stacktrace.",
          "type": "array",
          "items": {
            "$ref": "Frame"
          }
        }
      }
    },
    "BatchGetEventsResponse": {
      "description": "Response message for the BatchGetEvents method.",
      "properties": {
        "events": {
          "description": "The list of retrieved events.",
          "type": "array",
          "items": {
            "$ref": "Event"
          }
        }
      },
      "id": "BatchGetEventsResponse",
      "type": "object"
    },
    "Thread": {
      "description": "An application thread.",
      "properties": {
        "signal": {
          "type": "string",
          "description": "The name of the signal that caused the app to crash. Only present on crashed native threads."
        },
        "title": {
          "description": "The title of the thread.",
          "type": "string"
        },
        "signalCode": {
          "type": "string",
          "description": "The code of the signal that caused the app to crash. Only present on crashed native threads."
        },
        "threadState": {
          "description": "Output only. The state of the thread at the time the ANR occurred.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "THREAD_STATE_TERMINATED",
            "THREAD_STATE_RUNNABLE",
            "THREAD_STATE_TIMED_WAITING",
            "THREAD_STATE_BLOCKED",
            "THREAD_STATE_WAITING",
            "THREAD_STATE_NEW",
            "THREAD_STATE_NATIVE_RUNNABLE",
            "THREAD_STATE_NATIVE_WAITING"
          ],
          "enumDescriptions": [
            "Thread state unspecified.",
            "Thread was terminated.",
            "Thread was runnable.",
            "Thread was waiting with a timeout.",
            "Thread was blocked.",
            "Thread was waiting.",
            "Thread was started, yet to run anything.",
            "The thread was native and we could not heuristically determine that it was was waiting, so assume it's runnable.",
            "We heuristically determined that the thread is waiting."
          ],
          "readOnly": true
        },
        "blamed": {
          "description": "True when the Crashlytics analysis has determined that the stacktrace in this thread is where the fault occurred.",
          "type": "boolean"
        },
        "queue": {
          "description": "The queue on which the thread was running.",
          "type": "string"
        },
        "crashAddress": {
          "type": "string",
          "format": "int64",
          "description": "The address of the signal that caused the application to crash. Only present on crashed native threads."
        },
        "subtitle": {
          "type": "string",
          "description": "The subtitle of the thread."
        },
        "threadId": {
          "type": "string",
          "format": "int64",
          "description": "The id of the thread, only available for ANR threads."
        },
        "sysThreadId": {
          "type": "string",
          "format": "int64",
          "description": "The system id of the thread, only available for ANR threads."
        },
        "frames": {
          "description": "The frames in the thread's stacktrace.",
          "items": {
            "$ref": "Frame"
          },
          "type": "array"
        },
        "crashed": {
          "description": "True when the thread has crashed.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The name of the thread."
        }
      },
      "type": "object",
      "id": "Thread"
    },
    "BatchUpdateIssuesRequest": {
      "id": "BatchUpdateIssuesRequest",
      "type": "object",
      "description": "Request message for the BatchUpdateIssues method.",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "UpdateIssueRequest"
          },
          "description": "Required. The request message specifying the resources to update. A maximum of 100 issues can be modified in a batch."
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Optional. The list of Issue fields to update. If this is set, the update_mask field in the UpdateIssueRequest messages must either be empty or match this field."
        }
      }
    },
    "FirebaseSessionEvent": {
      "description": "Sessions recorded by the Firebase App Quality Sessions SDK.",
      "properties": {
        "sessionIndex": {
          "description": "Indicates the number of sessions since the last cold start.",
          "type": "integer",
          "format": "int32"
        },
        "firebaseInstallationId": {
          "type": "string",
          "description": "Uniquely identifies a device with Firebase apps installed."
        },
        "firstSessionId": {
          "type": "string",
          "description": "The identifier of the first session since the last cold start. This id and the session_id will be the same for app launches."
        },
        "version": {
          "$ref": "Version",
          "description": "Mobile application version numbers."
        },
        "device": {
          "description": "Mobile device metadata.",
          "$ref": "Device"
        },
        "operatingSystem": {
          "description": "Operating system and version.",
          "$ref": "OperatingSystem"
        },
        "eventType": {
          "enum": [
            "SESSION_EVENT_TYPE_UNKNOWN",
            "SESSION_START"
          ],
          "description": "Session event type. The SDK only supports SESSION_START events at this time.",
          "enumDescriptions": [
            "Unknown.",
            "Application session started."
          ],
          "type": "string"
        },
        "eventTime": {
          "description": "The start timestamp for the session event.",
          "type": "string",
          "format": "google-datetime"
        },
        "sessionId": {
          "description": "Unique identifier for the Firebase session.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "FirebaseSessionEvent"
    },
    "Event": {
      "description": "The message describing a single Crashlytics event. Related to BigQuery export schema, which can be found at [Export Crashlytics data to BigQuery](https://firebase.google.com/docs/crashlytics/bigquery-export#dataset-schema-crashlytics)",
      "properties": {
        "browser": {
          "$ref": "Browser",
          "description": "Browser and version."
        },
        "threads": {
          "description": "Application threads present at the time the event was recorded. Each contains a stacktrace. One thread will be blamed for the error.",
          "type": "array",
          "items": {
            "$ref": "Thread"
          }
        },
        "processState": {
          "type": "string",
          "description": "The state of the app process at the time of the event."
        },
        "bundleOrPackage": {
          "type": "string",
          "description": "The bundle name for iOS apps or the package name of Android apps. Format: \"com.mycompany.myapp\"."
        },
        "issueTitle": {
          "type": "string",
          "description": "The title of the issue in which the event was grouped. This is usually a source file or method name."
        },
        "exceptions": {
          "description": "Android and web only. Exceptions that occurred during this event. Nested exceptions are presented in reverse chronological order, so that the last record is the first exception thrown.",
          "items": {
            "$ref": "Exception"
          },
          "type": "array"
        },
        "deviceOrientation": {
          "type": "string",
          "description": "Device orientation at the time of the crash (portrait or landscape)."
        },
        "errors": {
          "description": "Apple only. A non-fatal error captured by the iOS SDK and its stacktrace.",
          "items": {
            "$ref": "Error"
          },
          "type": "array"
        },
        "receivedTime": {
          "description": "Server timestamp that the event was received by Crashlytics.",
          "type": "string",
          "format": "google-datetime"
        },
        "user": {
          "description": "End user identifiers for the device owner.",
          "$ref": "User"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Required. Output only. Immutable. Identifier. The name of the event resource. Format: \"projects/{project}/apps/{app_id}/events/{event}\"."
        },
        "storage": {
          "$ref": "Storage",
          "description": "Mobile device disk/flash usage."
        },
        "customKeys": {
          "description": "Custom keys set by the developer during the session.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "version": {
          "description": "Mobile application version.",
          "$ref": "Version"
        },
        "issueSubtitle": {
          "type": "string",
          "description": "The subtitle of the issue in which the event was grouped. This is usually a symbol or an exception message."
        },
        "routePath": {
          "description": "Output only. Web only. The route path of the web application when the event occurred, excluding query parameters and fragment.",
          "type": "string",
          "readOnly": true
        },
        "sessionId": {
          "type": "string",
          "description": "Unique identifier for the Firebase session."
        },
        "installationUuid": {
          "type": "string",
          "description": "Unique identifier for the device-app installation. This field is used to compute the unique number of impacted users."
        },
        "eventId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Immutable. The unique event identifier is assigned during processing."
        },
        "issueVariant": {
          "description": "Details for the [IssueVariant] assigned to this [Event].",
          "$ref": "IssueVariant"
        },
        "memory": {
          "$ref": "Memory",
          "description": "Mobile device memory usage."
        },
        "operatingSystem": {
          "description": "Operating system and version.",
          "$ref": "OperatingSystem"
        },
        "logs": {
          "type": "array",
          "items": {
            "$ref": "Log"
          },
          "description": "Log messages recorded by the developer during the session."
        },
        "eventTime": {
          "description": "Device timestamp that the event was recorded.",
          "type": "string",
          "format": "google-datetime"
        },
        "issue": {
          "description": "Details for the [Issue] assigned to this [Event].",
          "$ref": "Issue"
        },
        "crashlyticsSdkVersion": {
          "description": "Crashlytics SDK version.",
          "type": "string"
        },
        "buildStamp": {
          "type": "string",
          "description": "Metadata provided by the app's build system, including version control repository info."
        },
        "breadcrumbs": {
          "description": "Analytics events recorded by the analytics SDK during the session.",
          "type": "array",
          "items": {
            "$ref": "Breadcrumb"
          }
        },
        "blameFrame": {
          "description": "The stack trace frame blamed by Crashlytics processing. May not be present in future analyzer.",
          "$ref": "Frame"
        },
        "appOrientation": {
          "type": "string",
          "description": "App orientation at the time of the crash (portrait or landscape)."
        },
        "platform": {
          "description": "ANDROID, IOS, or WEB.",
          "type": "string"
        },
        "device": {
          "$ref": "Device",
          "description": "Mobile device metadata."
        }
      },
      "type": "object",
      "id": "Event"
    },
    "User": {
      "description": "Developer-provided end user identifiers.",
      "properties": {
        "id": {
          "type": "string",
          "description": "User id if provided by the app developer."
        }
      },
      "id": "User",
      "type": "object"
    },
    "ListEventsResponse": {
      "type": "object",
      "id": "ListEventsResponse",
      "description": "Response message for the ListEvents method.",
      "properties": {
        "nextPageToken": {
          "description": "A pagination token to retrieve the next page of events. The next page will have earlier or later events depending on the request's ordering. If this field is not present, there are no subsequent events.",
          "type": "string"
        },
        "events": {
          "type": "array",
          "items": {
            "$ref": "Event"
          },
          "description": "Returns one element per event, in descending order the by event timestamp."
        }
      }
    },
    "Storage": {
      "description": "Mobile device disk/flash usage. Not reported for all devices.",
      "properties": {
        "used": {
          "description": "Bytes used.",
          "type": "string",
          "format": "int64"
        },
        "free": {
          "type": "string",
          "format": "int64",
          "description": "Bytes free."
        }
      },
      "id": "Storage",
      "type": "object"
    },
    "Issue": {
      "description": "An issue describes a set of similar events that have been analyzed by Crashlytics and grouped together. All events within an issue will be of the same error_type: crash, non-fatal exception or ANR. All events within an issue will contain similar stack traces in their blamed thread.",
      "properties": {
        "errorType": {
          "description": "Output only. Immutable. Indicates whether this issue is a crash, non-fatal exception, or ANR.",
          "type": "string",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "FATAL",
            "NON_FATAL",
            "ANR"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Fatal crash event.",
            "Non-fatal event, such as a caught Java exception or NSError on iOS.",
            "Application not responding error, Android only."
          ],
          "readOnly": true
        },
        "title": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. Caption title. This is usually a source file or method name."
        },
        "sampleEvent": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name for a sample event in this issue."
        },
        "uri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Provides a link to the Issue on the Firebase console. When this Issue is obtained as part of a Report, then the link will be configured with the same time interval and filters as the request."
        },
        "firstSeenVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Immutable. The first app display_version in which this issue was seen, populated for mobile issues only."
        },
        "firstSeenTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Immutable. The first time this issue was seen."
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. Unique identifier for the issue."
        },
        "state": {
          "type": "string",
          "description": "Output only. Indicates whether this issue is open, closed or muted. For details on how issue states change without user actions, see [Regressed Issues](https://firebase.google.com/docs/crashlytics/troubleshooting?platform=ios#regressed-issues).",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "OPEN",
            "CLOSED",
            "MUTED"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Ongoing issue.",
            "Issue resolved.",
            "Issue muted. No alerts will be fired for this issue."
          ]
        },
        "stateUpdateTime": {
          "description": "Output only. The time at which the issue state was last changed.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "lastSeenVersion": {
          "description": "Output only. The most recent app display_version in which this issue was seen, populated for mobile issues only.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Required. Output only. Immutable. Identifier. The name of the issue resource. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
          "type": "string",
          "readOnly": true
        },
        "notesCount": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The number of notes attached to an issue."
        },
        "subtitle": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. Caption subtitle. This is usually a symbol or an exception message."
        },
        "lastSeenTime": {
          "description": "Output only. The most recent time this issue was seen.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "variants": {
          "readOnly": true,
          "items": {
            "$ref": "IssueVariant"
          },
          "type": "array",
          "description": "Output only. Immutable. The top 12 variants (subgroups) within the issue. Variants group events within an issue that are very similar. A single result implies that the variant is the same as the parent issue. This field will be empty when multiple issues are requested. Request a single issue to list variants."
        },
        "signals": {
          "readOnly": true,
          "items": {
            "$ref": "IssueSignals"
          },
          "type": "array",
          "description": "Output only. Immutable. Distinctive characteristics assigned by the Crashlytics analyzer."
        }
      },
      "id": "Issue",
      "type": "object"
    },
    "Memory": {
      "id": "Memory",
      "type": "object",
      "description": "Mobile device memory usage.",
      "properties": {
        "used": {
          "type": "string",
          "format": "int64",
          "description": "Bytes in use."
        },
        "free": {
          "description": "Bytes free.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "WebMetricsGroup": {
      "description": "Represents a grouping for metrics specific to web applications.",
      "properties": {
        "id": {
          "description": "The id of the web metrics group",
          "type": "string"
        }
      },
      "type": "object",
      "id": "WebMetricsGroup"
    },
    "Exception": {
      "type": "object",
      "id": "Exception",
      "description": "A Java or Javascript exception and its stacktrace. Only from Android or web apps.",
      "properties": {
        "nested": {
          "description": "True for all but the last-thrown exception (i.e. the first record).",
          "type": "boolean"
        },
        "title": {
          "type": "string",
          "description": "The title of the exception."
        },
        "subtitle": {
          "type": "string",
          "description": "The subtitle of the exception."
        },
        "type": {
          "type": "string",
          "description": "The exception type e.g. java.lang.IllegalStateException."
        },
        "exceptionMessage": {
          "type": "string",
          "description": "A message associated with the exception."
        },
        "blamed": {
          "type": "boolean",
          "description": "True when the Crashlytics analysis has determined that this thread is where the fault occurred."
        },
        "frames": {
          "items": {
            "$ref": "Frame"
          },
          "type": "array",
          "description": "The frames in the exception's stacktrace."
        }
      }
    },
    "Browser": {
      "description": "Web browser metadata.",
      "properties": {
        "displayVersion": {
          "description": "Browser display version number.",
          "type": "string"
        },
        "browser": {
          "description": "Browser name.",
          "type": "string"
        },
        "displayName": {
          "description": "Browser name and version number. Formatted to be suitable for passing to BrowserFilter.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Browser"
    },
    "Frame": {
      "id": "Frame",
      "type": "object",
      "description": "A frame in a stacktrace.",
      "properties": {
        "file": {
          "type": "string",
          "description": "The name of the source file in which the frame is found."
        },
        "address": {
          "type": "string",
          "format": "int64",
          "description": "The address in the binary image which contains the code. Present for native frames."
        },
        "symbol": {
          "type": "string",
          "description": "The frame symbol after it has been deobfuscated or symbolicated. The raw symbol from the device if it could not be hydrated."
        },
        "owner": {
          "description": "One of DEVELOPER, VENDOR, RUNTIME, PLATFORM, or SYSTEM.",
          "type": "string"
        },
        "blamed": {
          "description": "True when the Crashlytics analysis has determined that this frame is likely to be the cause of the error.",
          "type": "boolean"
        },
        "offset": {
          "type": "string",
          "format": "int64",
          "description": "The byte offset into the binary image that contains the code. Present for native frames."
        },
        "library": {
          "type": "string",
          "description": "The display name of the library that includes the frame."
        },
        "line": {
          "type": "string",
          "format": "int64",
          "description": "The line number in the file of the frame."
        },
        "column": {
          "type": "string",
          "format": "int64",
          "description": "The column on the line."
        }
      }
    },
    "Log": {
      "type": "object",
      "id": "Log",
      "description": "Developer-provided log lines recorded during the session.",
      "properties": {
        "logTime": {
          "description": "Device timestamp when the line was logged.",
          "type": "string",
          "format": "google-datetime"
        },
        "message": {
          "type": "string",
          "description": "Log message."
        }
      }
    },
    "DeleteUserCrashReportsResponse": {
      "description": "Response message for the DeleteUserCrashReports method. All crash reports associated with the specified user will be deleted typically within 24 hours of receiving the crash report.",
      "properties": {
        "targetCompleteTime": {
          "description": "Target time to complete the delete crash reports operation.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "DeleteUserCrashReportsResponse"
    },
    "Report": {
      "description": "Response message for the GetReport method. A report consists of the results of a query over an application's events. The events may be filtered by various criteria defined in the filters proto. The result will consist of a number of paginated groups, of a type relevant to the report such as issues or device models.",
      "properties": {
        "nextPageToken": {
          "description": "Output only. A page token used to retrieve additional report groups. If this field is not present, there are no subsequent pages available to retrieve.",
          "readOnly": true,
          "type": "string"
        },
        "groups": {
          "description": "Aggregate event statistics in the report will be grouped by a dimension, such as by issue or by version. The response contains one element per group, and all ReportGroup messages will have the same parent field.",
          "type": "array",
          "items": {
            "$ref": "ReportGroup"
          }
        },
        "usage": {
          "type": "string",
          "description": "Usage instructions for the report with a description of the result metrics. This field contains a description of the underlying query and describes the expected response data with any known caveats. This string can be displayed in the UI of any integration that offers comprehensive access to all Crashlytics reports."
        },
        "name": {
          "type": "string",
          "description": "The name of the report. Format: \"projects/{project}/apps/{app_id}/reports/{report}\"."
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The displayable title of the report."
        },
        "totalSize": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The total number of groups retrievable by the request."
        }
      },
      "id": "Report",
      "type": "object"
    },
    "OperatingSystem": {
      "description": "Mobile device operating system metadata.",
      "properties": {
        "displayVersion": {
          "type": "string",
          "description": "Operating system display version number."
        },
        "type": {
          "description": "The OS type on Apple platforms (iOS, iPadOS, etc.).",
          "type": "string"
        },
        "deviceType": {
          "type": "string",
          "description": "The device category (mobile, tablet, desktop)."
        },
        "modificationState": {
          "description": "Indicates if the OS has been modified or \"jailbroken\".",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Name and version number. Formatted to be suitable for passing to OperatingSystemFilter."
        },
        "os": {
          "description": "Operating system name.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OperatingSystem"
    },
    "BatchUpdateIssuesResponse": {
      "id": "BatchUpdateIssuesResponse",
      "type": "object",
      "description": "Response message for the BatchUpdateIssues method.",
      "properties": {
        "issues": {
          "items": {
            "$ref": "Issue"
          },
          "type": "array",
          "description": "Issues updated in the same order as in BatchUpdateIssuesRequest."
        }
      }
    },
    "UpdateIssueRequest": {
      "description": "Request message for the UpdateIssue method.",
      "properties": {
        "issue": {
          "description": "Required. The issue to update. The issue's `name` field is used to identify the issue to update. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
          "$ref": "Issue"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Optional. The list of Issue fields to update. Currently only \"state\" is mutable."
        }
      },
      "type": "object",
      "id": "UpdateIssueRequest"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "Device": {
      "id": "Device",
      "type": "object",
      "description": "Mobile device metadata.",
      "properties": {
        "model": {
          "description": "The model name which is consistent with android.os.Build.MODEL, e.g. (\"SPH-L710\", \"GT-I9300\").",
          "type": "string"
        },
        "displayName": {
          "description": "Full device name, suitable for passing to DeviceFilter. Format: \"manufacturer (model)\".",
          "type": "string"
        },
        "marketingName": {
          "description": "Marketing name, most recognizable public form, e.g. \"Pixel 6\".",
          "type": "string"
        },
        "formFactor": {
          "description": "See FormFactor message.",
          "enumDescriptions": [
            "Unknown.",
            "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
            "Includes tablets and larger foldables.",
            "Includes desktops, laptops, Chromebooks, etc.",
            "Includes televisions and set-tops.",
            "Includes both watches and other wearables."
          ],
          "enum": [
            "FORM_FACTOR_UNSPECIFIED",
            "PHONE",
            "TABLET",
            "DESKTOP",
            "TV",
            "WATCH"
          ],
          "type": "string"
        },
        "manufacturer": {
          "type": "string",
          "description": "Device brand name which is consistent with android.os.Build.BRAND."
        },
        "architecture": {
          "type": "string",
          "description": "Device processor architecture."
        },
        "companyName": {
          "description": "An invariant name of the manufacturer that submitted this product in its most recognizable public form, e.g. \"Google\".",
          "type": "string"
        }
      }
    },
    "ReportGroup": {
      "description": "A group of results in an EventReport. In any report, the group_parent field is strictly the same type for all of the groups in any collection.",
      "properties": {
        "device": {
          "description": "Device metrics group.",
          "$ref": "Device"
        },
        "operatingSystem": {
          "$ref": "OperatingSystem",
          "description": "Operating system metrics group."
        },
        "issue": {
          "description": "Issue metrics group.",
          "$ref": "Issue"
        },
        "metrics": {
          "items": {
            "$ref": "IntervalMetrics"
          },
          "type": "array",
          "description": "Scalar metrics will contain a single object covering the entire interval, while time-dimensioned graphs will contain one per time grain."
        },
        "webMetricsGroup": {
          "description": "Web metrics group.",
          "$ref": "WebMetricsGroup"
        },
        "variant": {
          "$ref": "IssueVariant",
          "description": "Issue variant metrics group."
        },
        "browser": {
          "$ref": "Browser",
          "description": "Browser metrics group."
        },
        "version": {
          "description": "Version metrics group.",
          "$ref": "Version"
        },
        "subgroups": {
          "description": "When applicable, this field contains additional nested groupings. For example, events can be grouped by operating system and by operating system version.",
          "items": {
            "$ref": "ReportGroup"
          },
          "type": "array"
        }
      },
      "id": "ReportGroup",
      "type": "object"
    },
    "IntervalMetrics": {
      "description": "A set of computed metric values for a time interval",
      "properties": {
        "impactedUsersCount": {
          "description": "The number of distinct users in the set of events.",
          "type": "string",
          "format": "int64"
        },
        "sessionsCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of distinct sessions in the set of events."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The end of the interval covered by the computation."
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The start of the interval covered by the computation."
        },
        "eventsCount": {
          "type": "string",
          "format": "int64",
          "description": "The total count of events in the interval."
        }
      },
      "id": "IntervalMetrics",
      "type": "object"
    },
    "IssueVariant": {
      "id": "IssueVariant",
      "type": "object",
      "description": "A variant is a subgroup of an issue where all events have very similar stack traces. Issues may contain one or more variants.",
      "properties": {
        "uri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Provides a link to the variant on the Firebase console. When this variant is obtained as part of a Report, then the link will be configured with the same time interval and filters as the request."
        },
        "sampleEvent": {
          "description": "Output only. The resource name for a sample event in this variant.",
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "description": "Output only. Immutable. Distinct identifier for the variant.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Version": {
      "id": "Version",
      "type": "object",
      "description": "Application software version.",
      "properties": {
        "displayVersion": {
          "description": "Readable version string, e.g. \"1.2.3\". On Android, strictly the same as \"version name\". On iOS, strictly the same as \"version number\" or CFBundleShortVersionString.",
          "type": "string"
        },
        "buildVersion": {
          "type": "string",
          "description": "Mobile only. One display_version can have many build_version. On Android, strictly the same as \"version code\". On iOS, strictly the same as \"build number\" or CFBundleVersion."
        },
        "displayName": {
          "description": "Compound readable string containing both display and build versions. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\". This string can be used for filtering with the VersionFilter.display_name field.",
          "type": "string"
        },
        "tracks": {
          "type": "array",
          "items": {
            "$ref": "PlayTrack"
          },
          "description": "Indicates releases which have artifacts that are currently available in the Play Store to the target audience of the track. Versions may be available in multiple tracks."
        }
      }
    },
    "Breadcrumb": {
      "description": "Analytics events recorded during the session.",
      "properties": {
        "title": {
          "type": "string",
          "description": "Analytic event name."
        },
        "params": {
          "description": "Event parameters.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Device timestamp for the event."
        }
      },
      "type": "object",
      "id": "Breadcrumb"
    },
    "PlayTrack": {
      "description": "Describes a release track in the Play Developer Console.",
      "properties": {
        "title": {
          "description": "User-generated or auto-generated name of the track. PROD and INTERNAL track types always have auto-generated names, e.g. \"prod\" and \"internal\" respectively. Tracks of type EARLY_ACCESS always have a user-generated name. Other track types do not have any guarantees, might have user-generated or auto-generated names.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of track (prod, internal, etc...).",
          "enumDescriptions": [
            "Unknown.",
            "Production.",
            "Internal testing.",
            "Open testing.",
            "Closed testing.",
            "Early access."
          ],
          "enum": [
            "TRACK_TYPE_UNSPECIFIED",
            "TRACK_TYPE_PROD",
            "TRACK_TYPE_INTERNAL",
            "TRACK_TYPE_OPEN_TESTING",
            "TRACK_TYPE_CLOSED_TESTING",
            "TRACK_TYPE_EARLY_ACCESS"
          ]
        }
      },
      "type": "object",
      "id": "PlayTrack"
    },
    "IssueSignals": {
      "type": "object",
      "id": "IssueSignals",
      "description": "Distinctive characteristics assigned by the Crashlytics analyzer.",
      "properties": {
        "signal": {
          "readOnly": true,
          "enumDescriptions": [
            "Default.",
            "Indicates an issue that is impacting end users early in the app session.",
            "Indicates newly detected issues.",
            "Indicates previously closed issues which have been detected again.",
            "Indicates issues impacting some end users multiple times."
          ],
          "enum": [
            "SIGNAL_UNSPECIFIED",
            "SIGNAL_EARLY",
            "SIGNAL_FRESH",
            "SIGNAL_REGRESSED",
            "SIGNAL_REPETITIVE"
          ],
          "type": "string",
          "description": "Output only. The signal name."
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Supporting detail information."
        }
      }
    },
    "Note": {
      "description": "Developer notes for an issue.",
      "properties": {
        "name": {
          "description": "Output only. Identifier. Format: \"projects/{project}/apps/app/issues/{issue}/notes/{note}\".",
          "type": "string",
          "readOnly": true
        },
        "body": {
          "type": "string",
          "description": "Immutable. The body of the note."
        },
        "createTime": {
          "description": "Output only. Time when the note was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "author": {
          "description": "Output only. The email of the author of the note.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "Note"
    }
  },
  "description": "This service provides an API for mobile app developers to request deletion of user's crash reports.",
  "baseUrl": "https://firebasecrashlytics.googleapis.com/",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "name": "firebasecrashlytics",
  "version": "v1alpha",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260805",
  "resources": {
    "projects": {
      "resources": {
        "apps": {
          "resources": {
            "reports": {
              "methods": {
                "list": {
                  "id": "firebasecrashlytics.projects.apps.reports.list",
                  "path": "v1alpha/{+parent}/reports",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The firebase application. Format: \"projects/{project}/apps/{app_id}\".",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "List all of the available reports.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/reports",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "ListReportsResponse"
                  }
                },
                "get": {
                  "description": "Get a report with its computed results.",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous call. The page token is only valid for the exact same set of filters, which must also be sent in subsequent requests. This token is valid for 10 minutes after the first request.",
                      "location": "query"
                    },
                    "filter.issue.variantId": {
                      "description": "Optional. Only counts events for the given issue variant ID. This field matches [IssueVariant.id].",
                      "location": "query",
                      "type": "string"
                    },
                    "filter.interval.startTime": {
                      "location": "query",
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                      "type": "string",
                      "format": "google-datetime"
                    },
                    "filter.issue.states": {
                      "type": "string",
                      "description": "Optional. Only includes events for issues with the given issue states. Only available for `topIssues` reports.",
                      "repeated": true,
                      "location": "query",
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ]
                    },
                    "filter.issue.signals": {
                      "description": "Optional. Only returns issues currently marked with the given signals. This field matches [Issue.signals.signal].",
                      "repeated": true,
                      "type": "string",
                      "location": "query",
                      "enum": [
                        "SIGNAL_UNSPECIFIED",
                        "SIGNAL_EARLY",
                        "SIGNAL_FRESH",
                        "SIGNAL_REGRESSED",
                        "SIGNAL_REPETITIVE"
                      ],
                      "enumDescriptions": [
                        "Default.",
                        "Indicates an issue that is impacting end users early in the app session.",
                        "Indicates newly detected issues.",
                        "Indicates previously closed issues which have been detected again.",
                        "Indicates issues impacting some end users multiple times."
                      ]
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The report name. Format: \"projects/{project}/apps/{app_id}/reports/{report}\".",
                      "pattern": "^projects/[^/]+/apps/[^/]+/reports/[^/]+$",
                      "type": "string"
                    },
                    "filter.device.formFactors": {
                      "enumDescriptions": [
                        "Unknown.",
                        "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
                        "Includes tablets and larger foldables.",
                        "Includes desktops, laptops, Chromebooks, etc.",
                        "Includes televisions and set-tops.",
                        "Includes both watches and other wearables."
                      ],
                      "location": "query",
                      "enum": [
                        "FORM_FACTOR_UNSPECIFIED",
                        "PHONE",
                        "TABLET",
                        "DESKTOP",
                        "TV",
                        "WATCH"
                      ],
                      "description": "Only counts events from devices with the given form factor (e.g. phone or tablet).",
                      "repeated": true,
                      "type": "string"
                    },
                    "filter.version.displayNames": {
                      "type": "string",
                      "description": "Only counts events in the given app version. This string matches Version.display_name. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\".",
                      "repeated": true,
                      "location": "query"
                    },
                    "filter.operatingSystem.displayNames": {
                      "type": "string",
                      "location": "query",
                      "description": "Only counts events in the given operating system and version. This string matches OperatingSystem.display_name. Format: \"osName (osVersion)\" e.g. \"Android (11)\". or just \"osName\" for all versions, e.g. simply \"iPadOS\".",
                      "repeated": true
                    },
                    "filter.issue.errorTypes": {
                      "enumDescriptions": [
                        "Unknown.",
                        "Fatal crash event.",
                        "Non-fatal event, such as a caught Java exception or NSError on iOS.",
                        "Application not responding error, Android only."
                      ],
                      "location": "query",
                      "enum": [
                        "ERROR_TYPE_UNSPECIFIED",
                        "FATAL",
                        "NON_FATAL",
                        "ANR"
                      ],
                      "type": "string",
                      "description": "Optional. Only counts events of the given error types. This field matches [Issue.error_type].",
                      "repeated": true
                    },
                    "filter.issue.id": {
                      "description": "Optional. Only counts events in the given issue ID. This field matches [Issue.id].",
                      "location": "query",
                      "type": "string"
                    },
                    "filter.device.displayNames": {
                      "description": "Only counts events from the given Device model. This string matches Device.display_name. Format: \"manufacturer (model)\" e.g. \"Google (Pixel 6)\", or just \"manufacturer\" for all possible models, e.g. simply \"Google\". Note that a device's marketing_name field can not be used for filtering.",
                      "repeated": true,
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of result groups to return. If omitted, defaults to 25.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter.browser.displayNames": {
                      "type": "string",
                      "description": "Optional. Only count events from the given browser. This string matches Browser.display_name. Format: \"name (display_version)\" e.g. \"Chrome (123)\", or just \"name\" for all possible versions, e.g. simply \"Chrome\".",
                      "repeated": true,
                      "location": "query"
                    },
                    "filter.issue.state": {
                      "location": "query",
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "type": "string",
                      "deprecated": true,
                      "description": "Optional. Deprecated: Prefer `states` field. Only includes events for issues with the given issue state. Only available for `topIssues` reports."
                    },
                    "filter.interval.endTime": {
                      "type": "string",
                      "format": "google-datetime",
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                      "location": "query"
                    },
                    "filter.issue.content": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A space separated list of filter terms matched against the contents of the issue. Contents include the title and the stack trace. Matches must begin at alphanumeric tokens, i.e., 'util.Sorted' matches 'java.util.SortedSet' but not 'myutil.SortedArray'. The filter matches if all filter terms match. All non-alphanumeric characters are ignored for matching. Filtering is assumed to be prefix-search and order-independent unless phrases are surrounded by \"\". Any terms contained in quotes are searched using exact-match (given filter term \"foo\", we will not return \"foobar\"), and must appear in the order given exactly. To get order-dependence but prefix-search, use a * within the quotes (\"abc foo*\" will match \"abc foobar\", but not \"foo abc\" \"abcd foobar\", or \"abc xyz foobar\")."
                    },
                    "granularity": {
                      "location": "query",
                      "enum": [
                        "TIME_GRANULARITY_UNSPECIFIED",
                        "TIME_GRANULARITY_NONE",
                        "TIME_GRANULARITY_HOUR",
                        "TIME_GRANULARITY_DAY"
                      ],
                      "enumDescriptions": [
                        "Unknown.",
                        "Returns a single interval for the requested time range.",
                        "Hour.",
                        "Day."
                      ],
                      "description": "Optional. The report response will contain one data point per time grain. If omitted, the report will contain a single data point for the complete interval.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "id": "firebasecrashlytics.projects.apps.reports.get",
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "Report"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/reports/{reportsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "users": {
              "methods": {
                "deleteCrashReports": {
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name for user reports, in the format: projects/ PROJECT_IDENTIFIER/apps/APP_ID/users/USER_ID/crashReports - PROJECT_IDENTIFIER: The Firebase project's project number (recommended) or its project ID. Learn more about using project identifiers in Google's [AIP 2510 standard](https://google.aip.dev/cloud/2510). - APP_ID: The globally unique, Firebase-assigned identifier for the Firebase App. This is not your package name or bundle ID. Learn how to [find your app ID](https://firebase.google.com/support/faq/#find-app-id). - USER_ID: The user ID set using the Crashlytics SDK. Learn how to [set user identifiers](https://firebase.google.com/docs/crashlytics/customize-crash-reports#set-user-ids).",
                      "pattern": "^projects/[^/]+/apps/[^/]+/users/[^/]+/crashReports$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Enqueues a request to permanently remove crash reports associated with the specified user. All reports belonging to the specified user will be deleted typically within 24 hours of receiving the crash report.",
                  "id": "firebasecrashlytics.projects.apps.users.deleteCrashReports",
                  "path": "v1alpha/{+name}",
                  "httpMethod": "DELETE",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/users/{usersId}/crashReports",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "DeleteUserCrashReportsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "issues": {
              "methods": {
                "patch": {
                  "response": {
                    "$ref": "Issue"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Change the state of an issue.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Output only. Immutable. Identifier. The name of the issue resource. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                      "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "updateMask": {
                      "description": "Optional. The list of Issue fields to update. Currently only \"state\" is mutable.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "request": {
                    "$ref": "Issue"
                  },
                  "httpMethod": "PATCH",
                  "id": "firebasecrashlytics.projects.apps.issues.patch",
                  "path": "v1alpha/{+name}"
                },
                "get": {
                  "response": {
                    "$ref": "Issue"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Retrieve an issue.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the issue to retrieve. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                      "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "id": "firebasecrashlytics.projects.apps.issues.get",
                  "path": "v1alpha/{+name}"
                },
                "batchUpdate": {
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues:batchUpdate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "BatchUpdateIssuesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource shared by all issues being updated. Format: projects/{project}/apps/{app}. If this is set, the parent field in the UpdateIssueRequest messages must either be empty or match this field.",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Change the state of a group of issues. This method is not atomic, so partial failures can occur. In the event of a partial failure, the request will fail and you will need to call `GetIssue` to see which issues were not updated.",
                  "id": "firebasecrashlytics.projects.apps.issues.batchUpdate",
                  "path": "v1alpha/{+parent}/issues:batchUpdate",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "BatchUpdateIssuesRequest"
                  }
                }
              },
              "resources": {
                "notes": {
                  "methods": {
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes/{notesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "id": "firebasecrashlytics.projects.apps.issues.notes.delete",
                      "path": "v1alpha/{+name}",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The name of the note to delete. Format: projects/{project}/apps/{app}/issues/{issue}/notes/{note}.",
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+/notes/[^/]+$"
                        }
                      },
                      "description": "Delete a note by its name."
                    },
                    "list": {
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "response": {
                        "$ref": "ListNotesResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. The maximum number of notes per page. If omitted, defaults to 10.",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The issue the notes belongs to. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A page token, received from a previous calls."
                        }
                      },
                      "description": "List all notes for a certain issue, sorted in descending order by timestamp.",
                      "id": "firebasecrashlytics.projects.apps.issues.notes.list",
                      "path": "v1alpha/{+parent}/notes",
                      "httpMethod": "GET"
                    },
                    "create": {
                      "id": "firebasecrashlytics.projects.apps.issues.notes.create",
                      "path": "v1alpha/{+parent}/notes",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "Note"
                      },
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. The parent resource where this note will be created. Format: \"projects/{project}/apps/{app}/issues/{issue}\".",
                          "pattern": "^projects/[^/]+/apps/[^/]+/issues/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "description": "Create a new note for an issue.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/issues/{issuesId}/notes",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ],
                      "response": {
                        "$ref": "Note"
                      }
                    }
                  }
                }
              }
            },
            "events": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListEventsResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/events",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "GET",
                  "id": "firebasecrashlytics.projects.apps.events.list",
                  "path": "v1alpha/{+parent}/events",
                  "description": "List the events for an issue matching filter criteria, sorted in descending order by timestamp.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The Firebase application. Format: \"projects/{project}/apps/{app_id}\".",
                      "pattern": "^projects/[^/]+/apps/[^/]+$"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous calls.",
                      "location": "query"
                    },
                    "filter.issue.variantId": {
                      "type": "string",
                      "description": "Optional. Only counts events for the given issue variant ID. This field matches [IssueVariant.id].",
                      "location": "query"
                    },
                    "filter.interval.startTime": {
                      "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
                      "location": "query",
                      "type": "string",
                      "format": "google-datetime"
                    },
                    "filter.issue.states": {
                      "type": "string",
                      "description": "Optional. Only includes events for issues with the given issue states. Only available for `topIssues` reports.",
                      "repeated": true,
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "location": "query",
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ]
                    },
                    "filter.issue.signals": {
                      "enumDescriptions": [
                        "Default.",
                        "Indicates an issue that is impacting end users early in the app session.",
                        "Indicates newly detected issues.",
                        "Indicates previously closed issues which have been detected again.",
                        "Indicates issues impacting some end users multiple times."
                      ],
                      "location": "query",
                      "enum": [
                        "SIGNAL_UNSPECIFIED",
                        "SIGNAL_EARLY",
                        "SIGNAL_FRESH",
                        "SIGNAL_REGRESSED",
                        "SIGNAL_REPETITIVE"
                      ],
                      "type": "string",
                      "description": "Optional. Only returns issues currently marked with the given signals. This field matches [Issue.signals.signal].",
                      "repeated": true
                    },
                    "filter.device.formFactors": {
                      "type": "string",
                      "description": "Only counts events from devices with the given form factor (e.g. phone or tablet).",
                      "repeated": true,
                      "enumDescriptions": [
                        "Unknown.",
                        "Includes mobile phones, small foldables and other form factors not fitting the other categories.",
                        "Includes tablets and larger foldables.",
                        "Includes desktops, laptops, Chromebooks, etc.",
                        "Includes televisions and set-tops.",
                        "Includes both watches and other wearables."
                      ],
                      "location": "query",
                      "enum": [
                        "FORM_FACTOR_UNSPECIFIED",
                        "PHONE",
                        "TABLET",
                        "DESKTOP",
                        "TV",
                        "WATCH"
                      ]
                    },
                    "filter.version.displayNames": {
                      "location": "query",
                      "description": "Only counts events in the given app version. This string matches Version.display_name. Format: \"display_version (build_version)\" e.g. \"1.2.3 (456)\".",
                      "repeated": true,
                      "type": "string"
                    },
                    "readMask": {
                      "description": "Optional. The list of Event fields to include in the response. If omitted, the full event is returned.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "filter.operatingSystem.displayNames": {
                      "type": "string",
                      "location": "query",
                      "description": "Only counts events in the given operating system and version. This string matches OperatingSystem.display_name. Format: \"osName (osVersion)\" e.g. \"Android (11)\". or just \"osName\" for all versions, e.g. simply \"iPadOS\".",
                      "repeated": true
                    },
                    "filter.issue.errorTypes": {
                      "description": "Optional. Only counts events of the given error types. This field matches [Issue.error_type].",
                      "repeated": true,
                      "type": "string",
                      "location": "query",
                      "enum": [
                        "ERROR_TYPE_UNSPECIFIED",
                        "FATAL",
                        "NON_FATAL",
                        "ANR"
                      ],
                      "enumDescriptions": [
                        "Unknown.",
                        "Fatal crash event.",
                        "Non-fatal event, such as a caught Java exception or NSError on iOS.",
                        "Application not responding error, Android only."
                      ]
                    },
                    "filter.issue.id": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Only counts events in the given issue ID. This field matches [Issue.id]."
                    },
                    "filter.device.displayNames": {
                      "type": "string",
                      "location": "query",
                      "description": "Only counts events from the given Device model. This string matches Device.display_name. Format: \"manufacturer (model)\" e.g. \"Google (Pixel 6)\", or just \"manufacturer\" for all possible models, e.g. simply \"Google\". Note that a device's marketing_name field can not be used for filtering.",
                      "repeated": true
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of events per page. If omitted, defaults to 10.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter.browser.displayNames": {
                      "description": "Optional. Only count events from the given browser. This string matches Browser.display_name. Format: \"name (display_version)\" e.g. \"Chrome (123)\", or just \"name\" for all possible versions, e.g. simply \"Chrome\".",
                      "repeated": true,
                      "location": "query",
                      "type": "string"
                    },
                    "filter.issue.state": {
                      "location": "query",
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "OPEN",
                        "CLOSED",
                        "MUTED"
                      ],
                      "enumDescriptions": [
                        "Unknown.",
                        "Ongoing issue.",
                        "Issue resolved.",
                        "Issue muted. No alerts will be fired for this issue."
                      ],
                      "type": "string",
                      "deprecated": true,
                      "description": "Optional. Deprecated: Prefer `states` field. Only includes events for issues with the given issue state. Only available for `topIssues` reports."
                    },
                    "filter.interval.endTime": {
                      "type": "string",
                      "format": "google-datetime",
                      "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
                      "location": "query"
                    },
                    "filter.issue.content": {
                      "location": "query",
                      "description": "Optional. A space separated list of filter terms matched against the contents of the issue. Contents include the title and the stack trace. Matches must begin at alphanumeric tokens, i.e., 'util.Sorted' matches 'java.util.SortedSet' but not 'myutil.SortedArray'. The filter matches if all filter terms match. All non-alphanumeric characters are ignored for matching. Filtering is assumed to be prefix-search and order-independent unless phrases are surrounded by \"\". Any terms contained in quotes are searched using exact-match (given filter term \"foo\", we will not return \"foobar\"), and must appear in the order given exactly. To get order-dependence but prefix-search, use a * within the quotes (\"abc foo*\" will match \"abc foobar\", but not \"foo abc\" \"abcd foobar\", or \"abc xyz foobar\").",
                      "type": "string"
                    }
                  }
                },
                "batchGet": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "BatchGetEventsResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/events:batchGet",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "GET",
                  "id": "firebasecrashlytics.projects.apps.events.batchGet",
                  "path": "v1alpha/{+parent}/events:batchGet",
                  "description": "Fetch a batch of up to 100 events by name.",
                  "parameters": {
                    "names": {
                      "location": "query",
                      "description": "Required. The resource names of the desired events. A maximum of 100 events can be retrieved in a batch. Format: \"projects/{project}/apps/{app_id}/events/{event_id}\". The app_id and event_id are required, but project may be \"-\" to conserve space in long URIs.",
                      "repeated": true,
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The firebase application. Format: \"projects/{project}/apps/{app_id}\".",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "readMask": {
                      "location": "query",
                      "description": "Optional. The list of Event fields to include in the response. If omitted, the full event is returned.",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://firebase.google.com/docs/crashlytics",
  "fullyEncodeReservedExpansion": true,
  "title": "Firebase Crashlytics API",
  "mtlsRootUrl": "https://firebasecrashlytics.mtls.googleapis.com/"
}