{
  "description": "Firebase SQL Connect is a relational database service for mobile and web apps that lets you build and scale using a fully-managed PostgreSQL database powered by Cloud SQL. The REST API lets developers manage the connections to their database, change the schema of their database, and query the database.",
  "ownerName": "Google",
  "mtlsRootUrl": "https://firebasedataconnect.mtls.googleapis.com/",
  "canonicalName": "Firebase Data Connect",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    }
  },
  "version_module": true,
  "basePath": "",
  "rootUrl": "https://firebasedataconnect.googleapis.com/",
  "revision": "20260726",
  "name": "firebasedataconnect",
  "id": "firebasedataconnect:v1beta",
  "title": "Firebase SQL Connect API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1beta",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "baseUrl": "https://firebasedataconnect.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "schemas": {
    "ExecuteMutationResponse": {
      "id": "ExecuteMutationResponse",
      "properties": {
        "errors": {
          "description": "Errors of this response.",
          "items": {
            "$ref": "GraphqlError"
          },
          "type": "array"
        },
        "data": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The result of executing the requested operation."
        },
        "extensions": {
          "description": "Additional response information.",
          "$ref": "GraphqlResponseExtensions"
        }
      },
      "type": "object",
      "description": "The ExecuteMutation response from Firebase SQL Connect."
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation. Note: This message is auto-generated by CCFE. CCFE's storage, called Resource Metadata Store (RMS), holds metadata about long-running operations (i.e. OperationMetadata) and resources (i.e. ResourceMetadata). OperationMetadata documents the status of the operation. See [CCFE documentation for sidechannel data](https://g3doc.corp.google.com/cloud/control2/g3doc/dev/codelab_extras/sidechannel.md?cl=head#sidechannel-data) and yaqs/4289526912465764352.",
      "type": "object",
      "id": "OperationMetadata",
      "properties": {
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "HttpGraphql": {
      "type": "object",
      "id": "HttpGraphql",
      "properties": {
        "uri": {
          "description": "Required. The endpoint of the HTTP GraphQL server.",
          "type": "string"
        },
        "timeout": {
          "description": "Optional. Timeout duration for the HTTP request.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "Settings for HTTP GraphQL server webhook."
    },
    "Service": {
      "type": "object",
      "id": "Service",
      "properties": {
        "reconciling": {
          "type": "boolean",
          "description": "Output only. A field that if true, indicates that the system is working update the service.",
          "readOnly": true
        },
        "uid": {
          "type": "string",
          "description": "Output only. System-assigned, unique identifier.",
          "readOnly": true
        },
        "displayName": {
          "description": "Optional. Mutable human-readable name. 63 character limit.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. [AIP-154](https://google.aip.dev/154)",
          "readOnly": true
        },
        "source": {
          "description": "Optional. Input only. The source files for service, schemas, and connectors.",
          "$ref": "Source"
        },
        "name": {
          "description": "Identifier. The relative resource name of the Firebase SQL Connect service, in the format: ``` projects/{project}/locations/{location}/services/{service} ``` Note that the service ID is specific to Firebase SQL Connect and does not correspond to any of the instance IDs of the underlying data source connections.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "schemas": {
          "type": "array",
          "items": {
            "$ref": "Schema"
          },
          "description": "Output only. The list of schemas in this service.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. [Output only] Update time stamp.",
          "readOnly": true
        },
        "connectors": {
          "items": {
            "$ref": "Connector"
          },
          "description": "Output only. The list of connectors in this service.",
          "readOnly": true,
          "type": "array"
        },
        "annotations": {
          "description": "Optional. Stores small amounts of arbitrary data.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. [Output only] Create time stamp.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "A Firebase SQL Connect service."
    },
    "GraphqlRequestExtensions": {
      "description": "GraphqlRequestExtensions contains additional information of `GraphqlRequest`.",
      "type": "object",
      "id": "GraphqlRequestExtensions",
      "properties": {
        "impersonate": {
          "description": "Optional. If set, impersonate a request with given Firebase Auth context and evaluate the auth policies on the operation. If omitted, bypass any defined auth policies.",
          "$ref": "Impersonation"
        }
      }
    },
    "GenerateSchemaRequest": {
      "id": "GenerateSchemaRequest",
      "properties": {
        "prompt": {
          "description": "Required. The natural language description of the data model to generate. Example: \"A blog system with Users, Posts, and Comments. Users can have multiple posts.\"",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for GenerateSchema."
    },
    "GenerateQueryResponse": {
      "description": "Output for streaming generate query requests",
      "id": "GenerateQueryResponse",
      "properties": {
        "part": {
          "description": "Required. The content from the current conversational turn.",
          "$ref": "Part"
        },
        "status": {
          "description": "Essential for providing responsive UI feedback (e.g., a spinner or \"Analyzing schema...\" step).",
          "$ref": "GenerationStatus"
        }
      },
      "type": "object"
    },
    "GraphqlError": {
      "id": "GraphqlError",
      "properties": {
        "extensions": {
          "description": "Additional error information.",
          "$ref": "GraphqlErrorExtensions"
        },
        "path": {
          "items": {
            "type": "any"
          },
          "description": "The result field which could not be populated due to error. Clients can use path to identify whether a null result is intentional or caused by a runtime error. It should be a list of string or index from the root of GraphQL query document.",
          "type": "array"
        },
        "message": {
          "description": "The detailed error message. The message should help developer understand the underlying problem without leaking internal data.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "description": "The source locations where the error occurred. Locations should help developers and toolings identify the source of error quickly. Included in admin endpoints (`ExecuteGraphql`, `ExecuteGraphqlRead`, `IntrospectGraphql`, `ImpersonateQuery`, `ImpersonateMutation`, `UpdateSchema` and `UpdateConnector`) to reference the provided GraphQL GQL document. Omitted in `ExecuteMutation` and `ExecuteQuery` since the caller shouldn't have access access the underlying GQL source.",
          "items": {
            "$ref": "SourceLocation"
          }
        }
      },
      "type": "object",
      "description": "GraphqlError conforms to the GraphQL error spec. https://spec.graphql.org/draft/#sec-Errors Firebase SQL Connect API surfaces `GraphqlError` in various APIs: - Upon compile error, `UpdateSchema` and `UpdateConnector` return Code.Invalid_Argument with a list of `GraphqlError` in error details. - Upon query compile error, `ExecuteGraphql`, `ExecuteGraphqlRead` and `IntrospectGraphql` return Code.OK with a list of `GraphqlError` in response body. - Upon query execution error, `ExecuteGraphql`, `ExecuteGraphqlRead`, `ExecuteMutation`, `ExecuteQuery`, `IntrospectGraphql`, `ImpersonateQuery` and `ImpersonateMutation` all return Code.OK with a list of `GraphqlError` in response body."
    },
    "ListSchemasResponse": {
      "description": "Message for response to listing Schemas. By default, `schemas.source` will not be included in the response. To specify the fields included in the response, the response field mask can be provided by using the query parameter `$fields` or the header `X-Goog-FieldMask`.",
      "type": "object",
      "id": "ListSchemasResponse",
      "properties": {
        "schemas": {
          "type": "array",
          "description": "The list of Schemas.",
          "items": {
            "$ref": "Schema"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Part": {
      "description": "Represents a chunk of content.",
      "type": "object",
      "id": "Part",
      "properties": {
        "textChunk": {
          "description": "Optional. A chunk of text.",
          "$ref": "TextChunk"
        },
        "codeChunk": {
          "description": "Optional. A chunk of code.",
          "$ref": "CodeChunk"
        }
      }
    },
    "GraphqlResponseExtensions": {
      "id": "GraphqlResponseExtensions",
      "properties": {
        "dataConnect": {
          "items": {
            "$ref": "DataConnectProperties"
          },
          "description": "SQL Connect specific GraphQL extension, a list of paths and properties.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "GraphqlResponseExtensions contains additional information of `GraphqlResponse` or `ExecuteQueryResponse`."
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ExecuteQueryRequest": {
      "description": "The ExecuteQuery request to Firebase SQL Connect.",
      "type": "object",
      "id": "ExecuteQueryRequest",
      "properties": {
        "variables": {
          "description": "Optional. Values for GraphQL variables provided in this request.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "operationName": {
          "description": "Required. The name of the GraphQL operation name. Required because all Connector operations must be named. See https://graphql.org/learn/queries/#operation-name.",
          "type": "string"
        }
      }
    },
    "ListConnectorsResponse": {
      "description": "Message for response to listing Connectors. By default, `connectors.source` will not be included in the response. To specify the fields included in the response, the response field mask can be provided by using the query parameter `$fields` or the header `X-Goog-FieldMask`.",
      "type": "object",
      "id": "ListConnectorsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "connectors": {
          "type": "array",
          "items": {
            "$ref": "Connector"
          },
          "description": "The list of Connectors."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GraphqlErrorExtensions": {
      "type": "object",
      "id": "GraphqlErrorExtensions",
      "properties": {
        "debugDetails": {
          "description": "More detailed error message to assist debugging. It contains application business logic that are inappropriate to leak publicly. In the emulator, SQL Connect API always includes it to assist local development and debugging. In the backend, ConnectorService always hides it. GraphqlService without impersonation always include it. GraphqlService with impersonation includes it only if explicitly opted-in with `include_debug_details` in `GraphqlRequestExtensions`.",
          "type": "string"
        },
        "workarounds": {
          "description": "Workarounds provide suggestions to address the compile errors or warnings.",
          "items": {
            "$ref": "Workaround"
          },
          "type": "array"
        },
        "code": {
          "enum": [
            "OK",
            "CANCELLED",
            "UNKNOWN",
            "INVALID_ARGUMENT",
            "DEADLINE_EXCEEDED",
            "NOT_FOUND",
            "ALREADY_EXISTS",
            "PERMISSION_DENIED",
            "UNAUTHENTICATED",
            "RESOURCE_EXHAUSTED",
            "FAILED_PRECONDITION",
            "ABORTED",
            "OUT_OF_RANGE",
            "UNIMPLEMENTED",
            "INTERNAL",
            "UNAVAILABLE",
            "DATA_LOSS"
          ],
          "description": "Maps to canonical gRPC codes. If not specified, it represents `Code.INTERNAL`.",
          "enumDescriptions": [
            "Not an error; returned on success. HTTP Mapping: 200 OK",
            "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request",
            "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error",
            "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request",
            "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout",
            "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found",
            "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict",
            "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden",
            "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized",
            "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests",
            "The operation was rejected because the system is not in a state required for the operation's execution. For example, the directory to be deleted is non-empty, an rmdir operation is applied to a non-directory, etc. Service implementors can use the following guidelines to decide between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`: (a) Use `UNAVAILABLE` if the client can retry just the failing call. (b) Use `ABORTED` if the client should retry at a higher level. For example, when a client-specified test-and-set fails, indicating the client should restart a read-modify-write sequence. (c) Use `FAILED_PRECONDITION` if the client should not retry until the system state has been explicitly fixed. For example, if an \"rmdir\" fails because the directory is non-empty, `FAILED_PRECONDITION` should be returned since the client should not retry unless the files are deleted from the directory. HTTP Mapping: 400 Bad Request",
            "The operation was aborted, typically due to a concurrency issue such as a sequencer check failure or transaction abort. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 409 Conflict",
            "The operation was attempted past the valid range. E.g., seeking or reading past end-of-file. Unlike `INVALID_ARGUMENT`, this error indicates a problem that may be fixed if the system state changes. For example, a 32-bit file system will generate `INVALID_ARGUMENT` if asked to read at an offset that is not in the range [0,2^32-1], but it will generate `OUT_OF_RANGE` if asked to read from an offset past the current file size. There is a fair bit of overlap between `FAILED_PRECONDITION` and `OUT_OF_RANGE`. We recommend using `OUT_OF_RANGE` (the more specific error) when it applies so that callers who are iterating through a space can easily look for an `OUT_OF_RANGE` error to detect when they are done. HTTP Mapping: 400 Bad Request",
            "The operation is not implemented or is not supported/enabled in this service. HTTP Mapping: 501 Not Implemented",
            "Internal errors. This means that some invariants expected by the underlying system have been broken. This error code is reserved for serious errors. HTTP Mapping: 500 Internal Server Error",
            "The service is currently unavailable. This is most likely a transient condition, which can be corrected by retrying with a backoff. Note that it is not always safe to retry non-idempotent operations. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 503 Service Unavailable",
            "Unrecoverable data loss or corruption. HTTP Mapping: 500 Internal Server Error"
          ],
          "type": "string"
        },
        "warningLevel": {
          "type": "string",
          "enum": [
            "WARNING_LEVEL_UNKNOWN",
            "LOG_ONLY",
            "INTERACTIVE_ACK",
            "REQUIRE_ACK",
            "REQUIRE_FORCE"
          ],
          "description": "Warning level describes the severity and required action to suppress this warning when Firebase CLI run into it.",
          "enumDescriptions": [
            "Warning level is not specified.",
            "Display a warning without action needed.",
            "Request a confirmation in interactive deployment flow.",
            "Require an explicit confirmation in all deployment flows.",
            "Require --force in all deployment flows."
          ]
        },
        "file": {
          "description": "The source file name where the error occurred. Included only for `UpdateSchema` and `UpdateConnector`, it corresponds to `File.path` of the provided `Source`.",
          "type": "string"
        }
      },
      "description": "GraphqlErrorExtensions contains additional information of `GraphqlError`."
    },
    "Impersonation": {
      "description": "Impersonation configures the Firebase Auth context to impersonate.",
      "id": "Impersonation",
      "properties": {
        "unauthenticated": {
          "description": "Evaluate the auth policy as an unauthenticated request. Can only be set to true.",
          "type": "boolean"
        },
        "authClaims": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Evaluate the auth policy with a customized JWT auth token. Should follow the Firebase Auth token format. https://firebase.google.com/docs/rules/rules-and-auth For example: a verified user may have auth_claims of {\"sub\": , \"email_verified\": true}"
        },
        "includeDebugDetails": {
          "description": "Optional. If set, include debug details in GraphQL error extensions.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GraphqlResponse": {
      "type": "object",
      "id": "GraphqlResponse",
      "properties": {
        "errors": {
          "description": "Errors of this response. If the data entry in the response is not present, the errors entry must be present. It conforms to https://spec.graphql.org/draft/#sec-Errors .",
          "items": {
            "$ref": "GraphqlError"
          },
          "type": "array"
        },
        "data": {
          "description": "The result of the execution of the requested operation. If an error was raised before execution begins, the data entry should not be present in the result. (a request error: https://spec.graphql.org/draft/#sec-Errors.Request-Errors) If an error was raised during the execution that prevented a valid response, the data entry in the response should be null. (a field error: https://spec.graphql.org/draft/#sec-Errors.Error-Result-Format)",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "extensions": {
          "description": "Additional response information. It conforms to https://spec.graphql.org/draft/#sec-Extensions .",
          "$ref": "GraphqlResponseExtensions"
        }
      },
      "description": "The GraphQL response from Firebase SQL Connect. It strives to match the GraphQL over HTTP spec. Note: Firebase SQL Connect always responds with `Content-Type: application/json`. https://github.com/graphql/graphql-over-http/blob/main/spec/GraphQLOverHTTP.md#body"
    },
    "GenerateSchemaResponse": {
      "id": "GenerateSchemaResponse",
      "properties": {
        "part": {
          "description": "The content from the current conversational turn.",
          "$ref": "Part"
        },
        "status": {
          "description": "Essential for providing responsive UI feedback (e.g., a spinner or \"Analyzing schema...\" step).",
          "$ref": "GenerationStatus"
        }
      },
      "type": "object",
      "description": "Output for streaming generate schema requests"
    },
    "ImpersonateRequest": {
      "type": "object",
      "id": "ImpersonateRequest",
      "properties": {
        "operationName": {
          "description": "Required. The name of the GraphQL operation name. Required because all Connector operations must be named. See https://graphql.org/learn/queries/#operation-name.",
          "type": "string"
        },
        "extensions": {
          "description": "Optional. Additional GraphQL request information.",
          "$ref": "GraphqlRequestExtensions"
        },
        "variables": {
          "description": "Optional. Values for GraphQL variables provided in this request.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "description": "The Impersonate request to Firebase SQL Connect."
    },
    "Datasource": {
      "id": "Datasource",
      "properties": {
        "postgresql": {
          "description": "PostgreSQL configurations.",
          "$ref": "PostgreSql"
        },
        "httpGraphql": {
          "description": "HTTP GraphQL server webhook configurations.",
          "$ref": "HttpGraphql"
        }
      },
      "type": "object",
      "description": "A data source that backs Firebase SQL Connect services."
    },
    "TextChunk": {
      "id": "TextChunk",
      "properties": {
        "text": {
          "description": "Required. The text content string.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A chunk of conversational text."
    },
    "ExecuteQueryResponse": {
      "description": "The ExecuteQuery response from Firebase SQL Connect.",
      "id": "ExecuteQueryResponse",
      "properties": {
        "extensions": {
          "description": "Additional response information.",
          "$ref": "GraphqlResponseExtensions"
        },
        "errors": {
          "type": "array",
          "description": "Errors of this response.",
          "items": {
            "$ref": "GraphqlError"
          }
        },
        "data": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The result of executing the requested operation."
        }
      },
      "type": "object"
    },
    "Source": {
      "type": "object",
      "id": "Source",
      "properties": {
        "files": {
          "type": "array",
          "items": {
            "$ref": "File"
          },
          "description": "Required. The files that comprise the source set."
        }
      },
      "description": "Used to represent a set of source files."
    },
    "File": {
      "type": "object",
      "id": "File",
      "properties": {
        "content": {
          "description": "Required. The file's textual content.",
          "type": "string"
        },
        "path": {
          "description": "Required. The file name including folder path, if applicable. The path should be relative to a local workspace (e.g. dataconnect/(schema|connector)/*.gql) and not an absolute path (e.g. /absolute/path/(schema|connector)/*.gql).",
          "type": "string"
        }
      },
      "description": "Individual files."
    },
    "DataConnectProperties": {
      "type": "object",
      "id": "DataConnectProperties",
      "properties": {
        "entityIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of Entity IDs. Set if the path points to an array of entities. An ID is present for each element of the array at the corresponding index."
        },
        "path": {
          "description": "The path under response.data where the rest of the fields apply. Each element may be a string (field name) or number (array index). The root of response.data is denoted by the empty list `[]`.",
          "items": {
            "type": "any"
          },
          "type": "array"
        },
        "entityId": {
          "description": "A single Entity ID. Set if the path points to a single entity.",
          "type": "string"
        },
        "maxAge": {
          "type": "string",
          "description": "The server-suggested duration before data under path is considered stale.",
          "format": "google-duration"
        }
      },
      "description": "SQL Connect specific properties for a path under response.data."
    },
    "CodeChunk": {
      "id": "CodeChunk",
      "properties": {
        "code": {
          "description": "Required. The code content string.",
          "type": "string"
        },
        "languageCode": {
          "description": "Optional. Specifies the language if we expand support beyond GraphQL (e.g., SQL or JSON) The standard is BCP-47 language code.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A chunk of code."
    },
    "CloudSqlInstance": {
      "type": "object",
      "id": "CloudSqlInstance",
      "properties": {
        "instance": {
          "description": "Required. Name of the CloudSQL instance, in the format: ``` projects/{project}/locations/{location}/instances/{instance} ```",
          "type": "string"
        },
        "edition": {
          "description": "Output only. [Output only] The Cloud SQL instance edition.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified edition.",
            "Enterprise edition.",
            "Enterprise Plus edition.",
            "Developer edition (includes AI Developer edition)."
          ],
          "enum": [
            "EDITION_UNSPECIFIED",
            "EDITION_ENTERPRISE",
            "EDITION_ENTERPRISE_PLUS",
            "EDITION_DEVELOPER"
          ]
        }
      },
      "description": "Settings for CloudSQL instance configuration."
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "id": "CancelOperationRequest",
      "properties": {}
    },
    "PostgreSql": {
      "description": "Settings for PostgreSQL data source.",
      "type": "object",
      "id": "PostgreSql",
      "properties": {
        "schemaMigration": {
          "type": "string",
          "description": "Optional. Configure how to perform automatic PostgreSQL schema migration before deploying the FDC schema. This is an additive-only operation.",
          "enumDescriptions": [
            "Unspecified SQL schema migration.",
            "Waits for the Cloud SQL instance to be provisioned and automatically creates necessary SQL resources (tables, columns, etc.) to match the desired FDC schema. This operation is strictly additive and executes as a Long-Running Operation during provisioning. Rejects migrations on a non-empty existing SQL schema."
          ],
          "enum": [
            "SQL_SCHEMA_MIGRATION_UNSPECIFIED",
            "MIGRATE_COMPATIBLE"
          ]
        },
        "cloudSql": {
          "description": "Cloud SQL configurations.",
          "$ref": "CloudSqlInstance"
        },
        "ephemeral": {
          "description": "Output only. Ephemeral is true if this SQL Connect service is served from temporary in-memory emulation of Postgres. While Cloud SQL is being provisioned, the SQL Connect service provides the ephemeral service to help developers get started. Once the Cloud SQL is provisioned, SQL Connect service will transfer its data on a best-effort basis to the Cloud SQL instance. WARNING: Ephemeral data sources will expire after 24 hour. The data will be lost if they aren't transferred to the Cloud SQL instance. WARNING: When `ephemeral=true`, mutations to the database are not guaranteed to be durably persisted, even if an OK status code is returned. All or parts of the data may be lost or reverted to earlier versions.",
          "readOnly": true,
          "type": "boolean"
        },
        "schema": {
          "description": "Optional. User-configured PostgreSQL schema. Defaults to \"public\" if not specified.",
          "type": "string"
        },
        "unlinked": {
          "type": "boolean",
          "description": "No Postgres data source is linked. If set, don't allow `database` and `schema_validation` to be configured.",
          "deprecated": true
        },
        "database": {
          "description": "Required. Name of the PostgreSQL database.",
          "type": "string"
        },
        "schemaValidation": {
          "enum": [
            "SQL_SCHEMA_VALIDATION_UNSPECIFIED",
            "NONE",
            "STRICT",
            "COMPATIBLE"
          ],
          "description": "Optional. Configure how much PostgreSQL schema validation to perform against the live database before deploying the FDC schema.",
          "enumDescriptions": [
            "Unspecified SQL schema validation. Defaults to STRICT.",
            "Skips SQL schema validation. Deployment succeeds even if the database is pending provisioning, unavailable, or incompatible. Under NONE, newly created services route requests to a temporary ephemeral database (in-memory emulation) so the API can be tested immediately. Ephemeral data expires after 24 hours unless successfully validated or migrated to a linked database.",
            "Connects to the SQL database and validates that the SQL DDL matches the FDC schema exactly. Any discrepancies (extra or missing tables/columns) result in a FAILED_PRECONDITION error with required SQL diffs. Recommended for greenfield projects to ensure full schema consistency.",
            "Connects to the SQL database and validates that it contains all the SQL resources required by the FDC schema. Succeeds even if the database contains additional tables or columns not used by FDC. Suitable when sharing a database with other tools or legacy applications."
          ],
          "type": "string"
        }
      }
    },
    "Schema": {
      "id": "Schema",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. [Output only] Update time stamp.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The relative resource name of the schema, in the format: ``` projects/{project}/locations/{location}/services/{service}/schemas/{schema} ``` Right now, the only supported schema is \"main\".",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. [Output only] Create time stamp.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "annotations": {
          "description": "Optional. Stores small amounts of arbitrary data.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "datasources": {
          "items": {
            "$ref": "Datasource"
          },
          "description": "Required. The data sources linked in the schema.",
          "type": "array"
        },
        "source": {
          "description": "Required. The source files that comprise the application schema.",
          "$ref": "Source"
        },
        "reconciling": {
          "description": "Output only. A field that if true, indicates that the system is working to compile and deploy the schema.",
          "readOnly": true,
          "type": "boolean"
        },
        "uid": {
          "type": "string",
          "description": "Output only. System-assigned, unique identifier.",
          "readOnly": true
        },
        "displayName": {
          "description": "Optional. Mutable human-readable name. 63 character limit.",
          "type": "string"
        },
        "etag": {
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. [AIP-154](https://google.aip.dev/154)",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "The application schema of a Firebase SQL Connect service."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListServicesResponse": {
      "id": "ListServicesResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "services": {
          "type": "array",
          "items": {
            "$ref": "Service"
          },
          "description": "The list of Services."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Message for response to listing Services."
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GenerationStatus": {
      "description": "Represents the progress of the server side generation request.",
      "id": "GenerationStatus",
      "properties": {
        "message": {
          "description": "Output only. A message providing more details about the state.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of generation.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ANALYZING_CODE",
            "GENERATING_CODE",
            "COMPLETED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "The agent is analyzing schema or operations.",
            "The agent is generating code",
            "Generation is complete."
          ]
        }
      },
      "type": "object"
    },
    "Location": {
      "id": "Location",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A resource that represents a Google Cloud location."
    },
    "GraphqlRequest": {
      "id": "GraphqlRequest",
      "properties": {
        "variables": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Values for GraphQL variables provided in this request."
        },
        "operationName": {
          "description": "Optional. The name of the GraphQL operation name. Required only if `query` contains multiple operations. See https://graphql.org/learn/queries/#operation-name.",
          "type": "string"
        },
        "extensions": {
          "description": "Optional. Additional GraphQL request information.",
          "$ref": "GraphqlRequestExtensions"
        },
        "query": {
          "description": "Required. The GraphQL query document source.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The GraphQL request to Firebase SQL Connect. It strives to match the GraphQL over HTTP spec. https://github.com/graphql/graphql-over-http/blob/main/spec/GraphQLOverHTTP.md#post"
    },
    "ExecuteMutationRequest": {
      "type": "object",
      "id": "ExecuteMutationRequest",
      "properties": {
        "operationName": {
          "description": "Required. The name of the GraphQL operation name. Required because all Connector operations must be named. See https://graphql.org/learn/queries/#operation-name.",
          "type": "string"
        },
        "variables": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Values for GraphQL variables provided in this request."
        }
      },
      "description": "The ExecuteMutation request to Firebase SQL Connect."
    },
    "ClientCache": {
      "description": "Client caching settings of a connector.",
      "type": "object",
      "id": "ClientCache",
      "properties": {
        "strictValidationEnabled": {
          "description": "Optional. A field that, if true, enables stricter validation on the connector source code to make sure the operation response shapes are suitable for client-side caching. This can include additional errors and warnings. For example, using the same alias for different fields is disallowed, as it may cause conflicts or confusion with normalized caching. (This field is off by default for compatibility, but enabling it is highly recommended to catch common caching pitfalls.)",
          "type": "boolean"
        },
        "entityIdIncluded": {
          "description": "Optional. A field that, if true, means that responses served by this connector will include entityIds in GraphQL response extensions. This helps the client SDK cache responses in an improved way, known as \"normalized caching\", if caching is enabled on the client. Each entityId is a stable key based on primary key values. Therefore, this field should only be set to true if the primary keys of accessed tables do not contain sensitive information.",
          "type": "boolean"
        }
      }
    },
    "SourceLocation": {
      "id": "SourceLocation",
      "properties": {
        "line": {
          "format": "int32",
          "description": "Line number starting at 1.",
          "type": "integer"
        },
        "column": {
          "type": "integer",
          "description": "Column number starting at 1.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "SourceLocation references a location in a GraphQL source."
    },
    "Connector": {
      "type": "object",
      "id": "Connector",
      "properties": {
        "createTime": {
          "description": "Output only. [Output only] Create time stamp.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Stores small amounts of arbitrary data."
        },
        "updateTime": {
          "description": "Output only. [Output only] Update time stamp.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The relative resource name of the connector, in the format: ``` projects/{project}/locations/{location}/services/{service}/connectors/{connector} ```",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs."
        },
        "source": {
          "description": "Required. The source files that comprise the connector.",
          "$ref": "Source"
        },
        "clientCache": {
          "description": "Optional. The client cache settings of the connector.",
          "$ref": "ClientCache"
        },
        "uid": {
          "description": "Output only. System-assigned, unique identifier.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Mutable human-readable name. 63 character limit.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. [AIP-154](https://google.aip.dev/154)",
          "readOnly": true
        },
        "reconciling": {
          "description": "Output only. A field that if true, indicates that the system is working to compile and deploy the connector.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "description": "Connector consists of a set of operations, i.e. queries and mutations."
    },
    "Workaround": {
      "description": "Workaround provides suggestions to address errors and warnings.",
      "type": "object",
      "id": "Workaround",
      "properties": {
        "replace": {
          "description": "A suggested code snippet to fix the error and warning.",
          "type": "string"
        },
        "description": {
          "description": "Description of this workaround.",
          "type": "string"
        },
        "reason": {
          "description": "Why would this workaround address the error and warning.",
          "type": "string"
        }
      }
    },
    "GenerateQueryRequest": {
      "type": "object",
      "id": "GenerateQueryRequest",
      "properties": {
        "prompt": {
          "description": "Required. The natural language description of the desired query. Example: \"Find all users who signed up in the last 7 days.\"",
          "type": "string"
        },
        "schemas": {
          "type": "array",
          "description": "Optional. The user's locally defined FDC Schema(s). If not defined, the backend will fetch the user's deployed schema.",
          "items": {
            "$ref": "Schema"
          }
        }
      },
      "description": "Request message for GenerateQuery."
    }
  },
  "servicePath": "",
  "protocol": "rest",
  "documentationLink": "https://firebase.google.com/docs/data-connect",
  "kind": "discovery#restDescription",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets information about a location.",
              "response": {
                "$ref": "Location"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location."
                }
              },
              "id": "firebasedataconnect.projects.locations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "path": "v1beta/{+name}/locations",
              "flatPath": "v1beta/projects/{projectsId}/locations",
              "id": "firebasedataconnect.projects.locations.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "type": "string",
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version."
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta/{+name}",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "firebasedataconnect.projects.locations.operations.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "delete": {
                  "id": "firebasedataconnect.projects.locations.operations.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v1beta/{+name}",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                },
                "list": {
                  "httpMethod": "GET",
                  "path": "v1beta/{+name}/operations",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "id": "firebasedataconnect.projects.locations.operations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The standard list page size.",
                      "location": "query",
                      "format": "int32"
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListOperationsResponse"
                  }
                },
                "cancel": {
                  "httpMethod": "POST",
                  "path": "v1beta/{+name}:cancel",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "id": "firebasedataconnect.projects.locations.operations.cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  }
                }
              }
            },
            "services": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "path": "v1beta/{+parent}/services",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/services",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists Services in a given project and location.",
                  "id": "firebasedataconnect.projects.locations.services.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filtering results.",
                      "location": "query"
                    },
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Value of parent.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListServices` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListServices` must match the call that provided the page token.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListServicesResponse"
                  }
                },
                "generateQuery": {
                  "description": "Generates a GraphQL query based on a natural language prompt and the provided schema context. This is a stateless method; the schema is provided per request to support local development states. Streams results with real-time status and output chunks.",
                  "id": "firebasedataconnect.projects.locations.services.generateQuery",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GenerateQueryResponse"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "description": "Required. The resource name of the service in which to generate the query. Format: projects/{project}/locations/{location}/services/{service}",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "path": "v1beta/{+name}:generateQuery",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:generateQuery",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GenerateQueryRequest"
                  }
                },
                "executeGraphql": {
                  "id": "firebasedataconnect.projects.locations.services.executeGraphql",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "description": "Required. The relative resource name of Firebase SQL Connect service, in the format: ``` projects/{project}/locations/{location}/services/{service} ```",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GraphqlResponse"
                  },
                  "description": "Execute any GraphQL query or mutation against the Firebase SQL Connect's generated GraphQL schema. Grants full read and write access to the connected data sources. Note: Use introspection query to explore the generated GraphQL schema.",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GraphqlRequest"
                  },
                  "httpMethod": "POST",
                  "path": "v1beta/{+name}:executeGraphql",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:executeGraphql"
                },
                "introspectGraphql": {
                  "httpMethod": "POST",
                  "path": "v1beta/{+name}:introspectGraphql",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:introspectGraphql",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GraphqlRequest"
                  },
                  "description": "Execute introspection query against the Firebase SQL Connect's generated GraphQL schema. GraphQL introspection query provides metadata such as what tables the schema have, what queries and mutations can be performed on the schema, and so on. Read more at https://graphql.org/learn/introspection. IntrospectGraphql can read schema metadata but cannot read rows from Cloud SQL instance, which can be done via ExecuteGraphqlRead.",
                  "id": "firebasedataconnect.projects.locations.services.introspectGraphql",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The relative resource name of Firebase SQL Connect service, in the format: ``` projects/{project}/locations/{location}/services/{service} ```",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GraphqlResponse"
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta/{+name}",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/services/{servicesId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "description": "Required. The name of the service to retrieve, in the format: ``` projects/{project}/locations/{location}/services/{service} ```",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Service"
                  },
                  "id": "firebasedataconnect.projects.locations.services.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of a single Service."
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta/{+name}",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/services/{servicesId}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "validateOnly": {
                      "description": "Optional. If set, validate the request and preview the Service, but do not actually delete it.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "force": {
                      "description": "Optional. If set to true, any child resources (i.e. Schema, SchemaRevisions, Connectors, and ConnectorRevisions) will also be deleted. Otherwise, the request will only work if the Service has no child resources.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "description": "Required. The name of the service to delete, in the format: ``` projects/{project}/locations/{location}/services/{service} ```",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "etag": {
                      "type": "string",
                      "description": "Optional. The etag of the Service. If this is provided, it must match the server's etag.",
                      "location": "query"
                    },
                    "allowMissing": {
                      "description": "Optional. If true and the Service is not found, the request will succeed but no action will be taken on the server.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "id": "firebasedataconnect.projects.locations.services.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a single Service."
                },
                "generateSchema": {
                  "request": {
                    "$ref": "GenerateSchemaRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta/{+name}:generateSchema",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:generateSchema",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "description": "Required. The resource name of the service in which to generate the schema. Format: projects/{project}/locations/{location}/services/{service}"
                    }
                  },
                  "response": {
                    "$ref": "GenerateSchemaResponse"
                  },
                  "id": "firebasedataconnect.projects.locations.services.generateSchema",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Generates GraphQL schema based on a natural language prompt or data description. This allows users to scaffold new types and tables quickly. Streams results with real-time status and output chunks."
                },
                "patch": {
                  "description": "Updates the parameters of a single Service.",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the Service resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "description": "Identifier. The relative resource name of the Firebase SQL Connect service, in the format: ``` projects/{project}/locations/{location}/services/{service} ``` Note that the service ID is specific to Firebase SQL Connect and does not correspond to any of the instance IDs of the underlying data source connections."
                    },
                    "allowMissing": {
                      "type": "boolean",
                      "description": "Optional. If true and the Service is not found, a new Service will be created. In this case, `update_mask` is ignored.",
                      "location": "query"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "Optional. If set, validate the request and preview the Service, but do not actually update it.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "firebasedataconnect.projects.locations.services.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta/{+name}",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/services/{servicesId}",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "Service"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "executeGraphqlRead": {
                  "path": "v1beta/{+name}:executeGraphqlRead",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:executeGraphqlRead",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GraphqlRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Execute any GraphQL query against the Firebase SQL Connect's generated GraphQL schema. Grants full read to the connected data sources. `ExecuteGraphqlRead` is identical to `ExecuteGraphql` except it only accepts read-only query.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "description": "Required. The relative resource name of Firebase SQL Connect service, in the format: ``` projects/{project}/locations/{location}/services/{service} ```",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GraphqlResponse"
                  },
                  "id": "firebasedataconnect.projects.locations.services.executeGraphqlRead",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "id": "firebasedataconnect.projects.locations.services.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. Value of parent.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "serviceId": {
                      "type": "string",
                      "description": "Required. The ID to use for the service, which will become the final component of the service's resource name.",
                      "location": "query"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "Optional. If set, validate the request and preview the Service, but do not actually create it.",
                      "location": "query"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Creates a new Service in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Service"
                  },
                  "httpMethod": "POST",
                  "path": "v1beta/{+parent}/services",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/services"
                }
              },
              "resources": {
                "connectors": {
                  "methods": {
                    "get": {
                      "description": "Gets details of a single Connector.",
                      "id": "firebasedataconnect.projects.locations.services.connectors.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Connector"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the connector to retrieve, in the format: ``` projects/{project}/locations/{location}/services/{service}/connectors/{connector} ```",
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+/connectors/[^/]+$"
                        }
                      },
                      "httpMethod": "GET",
                      "path": "v1beta/{+name}",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/connectors/{connectorsId}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "path": "v1beta/{+name}",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/connectors/{connectorsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes a single Connector.",
                      "id": "firebasedataconnect.projects.locations.services.connectors.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "force": {
                          "type": "boolean",
                          "description": "Optional. If set to true, any child resources (i.e. ConnectorRevisions) will also be deleted. Otherwise, the request will only work if the Connector has no child resources.",
                          "location": "query"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+/connectors/[^/]+$",
                          "description": "Required. The name of the connector to delete, in the format: ``` projects/{project}/locations/{location}/services/{service}/connectors/{connector} ```",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "etag": {
                          "description": "Optional. The etag of the Connector. If this is provided, it must match the server's etag.",
                          "location": "query",
                          "type": "string"
                        },
                        "allowMissing": {
                          "description": "Optional. If true and the Connector is not found, the request will succeed but no action will be taken on the server.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query",
                          "type": "string"
                        },
                        "validateOnly": {
                          "type": "boolean",
                          "description": "Optional. If set, validate the request and preview the Connector, but do not actually delete it.",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "executeMutation": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The resource name of the connector to find the predefined mutation, in the format: ``` projects/{project}/locations/{location}/services/{service}/connectors/{connector} ```",
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+/connectors/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "ExecuteMutationResponse"
                      },
                      "id": "firebasedataconnect.projects.locations.services.connectors.executeMutation",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Execute a predefined mutation in a Connector.",
                      "request": {
                        "$ref": "ExecuteMutationRequest"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta/{+name}:executeMutation",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/connectors/{connectorsId}:executeMutation",
                      "httpMethod": "POST"
                    },
                    "impersonateQuery": {
                      "id": "firebasedataconnect.projects.locations.services.connectors.impersonateQuery",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GraphqlResponse"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+/connectors/[^/]+$",
                          "description": "Required. The resource name of the connector to find the predefined query/mutation, in the format: ``` projects/{project}/locations/{location}/services/{service}/connectors/{connector} ```"
                        }
                      },
                      "description": "Impersonate a query defined on a Firebase SQL Connect connector. It grants the admin SDK access to queries defined in the given connector. The caller can choose to impersonate a particular Firebase Auth user, or skip @auth completely.",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "ImpersonateRequest"
                      },
                      "httpMethod": "POST",
                      "path": "v1beta/{+name}:impersonateQuery",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/connectors/{connectorsId}:impersonateQuery"
                    },
                    "impersonateMutation": {
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "ImpersonateRequest"
                      },
                      "httpMethod": "POST",
                      "path": "v1beta/{+name}:impersonateMutation",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/connectors/{connectorsId}:impersonateMutation",
                      "id": "firebasedataconnect.projects.locations.services.connectors.impersonateMutation",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the connector to find the predefined query/mutation, in the format: ``` projects/{project}/locations/{location}/services/{service}/connectors/{connector} ```",
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+/connectors/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "GraphqlResponse"
                      },
                      "description": "Impersonate a mutation defined on a Firebase SQL Connect connector. It grants the admin SDK access to mutations defined in the given connector. The caller can choose to impersonate a particular Firebase Auth user, or skip @auth completely."
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta/{+parent}/connectors",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/services/{servicesId}/connectors",
                      "httpMethod": "GET",
                      "parameters": {
                        "filter": {
                          "description": "Optional. Filtering results.",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "description": "Optional. Hint for how to order the results.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. Value of parent.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
[...]
