{
  "description": "Accesses the NoSQL document database built for automatic scaling, high performance, and ease of application development. ",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/datastore": {
          "description": "View and manage your Google Cloud Datastore data"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "revision": "20260610",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/firestore",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "servicePath": "",
  "schemas": {
    "CommitRequest": {
      "type": "object",
      "properties": {
        "writes": {
          "description": "The writes to apply. Always executed atomically and in order.",
          "type": "array",
          "items": {
            "$ref": "Write"
          }
        },
        "transaction": {
          "description": "If set, applies all writes in this transaction, and commits it.",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "The request for Firestore.Commit.",
      "id": "CommitRequest"
    },
    "BitSequence": {
      "properties": {
        "bitmap": {
          "format": "byte",
          "type": "string",
          "description": "The bytes that encode the bit sequence. May have a length of zero."
        },
        "padding": {
          "description": "The number of bits of the last byte in `bitmap` to ignore as \"padding\". If the length of `bitmap` is zero, then this value must be `0`. Otherwise, this value must be between 0 and 7, inclusive.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "BitSequence",
      "description": "A sequence of bits, encoded in a byte array. Each byte in the `bitmap` byte array stores 8 bits of the sequence. The only exception is the last byte, which may store 8 _or fewer_ bits. The `padding` defines the number of bits of the last byte to be ignored as \"padding\". The values of these \"padding\" bits are unspecified and must be ignored. To retrieve the first bit, bit 0, calculate: `(bitmap[0] & 0x01) != 0`. To retrieve the second bit, bit 1, calculate: `(bitmap[0] & 0x02) != 0`. To retrieve the third bit, bit 2, calculate: `(bitmap[0] & 0x04) != 0`. To retrieve the fourth bit, bit 3, calculate: `(bitmap[0] & 0x08) != 0`. To retrieve bit n, calculate: `(bitmap[n / 8] & (0x01 << (n % 8))) != 0`. The \"size\" of a `BitSequence` (the number of bits it contains) is calculated by this formula: `(bitmap.length * 8) - padding`."
    },
    "GoogleFirestoreAdminV1FieldOperationMetadata": {
      "id": "GoogleFirestoreAdminV1FieldOperationMetadata",
      "description": "Metadata for google.longrunning.Operation results from FirestoreAdmin.UpdateField.",
      "properties": {
        "endTime": {
          "description": "The time this operation completed. Will be unset if operation still in progress.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time this operation started."
        },
        "field": {
          "description": "The field resource that this operation is acting on. For example: `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/fields/{field_path}`",
          "type": "string"
        },
        "ttlConfigDelta": {
          "description": "Describes the deltas of TTL configuration.",
          "$ref": "GoogleFirestoreAdminV1TtlConfigDelta"
        },
        "state": {
          "description": "The state of the operation.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ]
        },
        "progressDocuments": {
          "description": "The progress, in documents, of this operation.",
          "$ref": "GoogleFirestoreAdminV1Progress"
        },
        "indexConfigDeltas": {
          "description": "A list of IndexConfigDelta, which describe the intent of this operation.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirestoreAdminV1IndexConfigDelta"
          }
        },
        "progressBytes": {
          "description": "The progress, in bytes, of this operation.",
          "$ref": "GoogleFirestoreAdminV1Progress"
        }
      },
      "type": "object"
    },
    "TransactionOptions": {
      "type": "object",
      "properties": {
        "readWrite": {
          "description": "The transaction can be used for both read and write operations.",
          "$ref": "ReadWrite"
        },
        "readOnly": {
          "description": "The transaction can only be used for read operations.",
          "$ref": "ReadOnly"
        }
      },
      "description": "Options for creating a new transaction.",
      "id": "TransactionOptions"
    },
    "GoogleFirestoreAdminV1Database": {
      "description": "A Cloud Firestore Database.",
      "id": "GoogleFirestoreAdminV1Database",
      "type": "object",
      "properties": {
        "locationId": {
          "description": "Required. The location of the database. Available locations are listed at https://cloud.google.com/firestore/docs/locations.",
          "type": "string"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "databaseEdition": {
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Standard edition. This is the default setting if not specified.",
            "Enterprise edition."
          ],
          "enum": [
            "DATABASE_EDITION_UNSPECIFIED",
            "STANDARD",
            "ENTERPRISE"
          ],
          "description": "Immutable. The edition of the database."
        },
        "realtimeUpdatesMode": {
          "type": "string",
          "enumDescriptions": [
            "The Realtime Updates feature is not specified.",
            "The Realtime Updates feature is enabled by default. This could potentially degrade write performance for the database.",
            "The Realtime Updates feature is disabled by default."
          ],
          "enum": [
            "REALTIME_UPDATES_MODE_UNSPECIFIED",
            "REALTIME_UPDATES_MODE_ENABLED",
            "REALTIME_UPDATES_MODE_DISABLED"
          ],
          "description": "Immutable. The default Realtime Updates mode to use for this database."
        },
        "sourceInfo": {
          "$ref": "GoogleFirestoreAdminV1SourceInfo",
          "description": "Output only. Information about the provenance of this database.",
          "readOnly": true
        },
        "keyPrefix": {
          "description": "Output only. The key_prefix for this database. This key_prefix is used, in combination with the project ID (\"~\") to construct the application ID that is returned from the Cloud Datastore APIs in Google App Engine first generation runtimes. This value may be empty in which case the appid to use for URL-encoded keys is the project_id (eg: foo instead of v~foo).",
          "readOnly": true,
          "type": "string"
        },
        "pointInTimeRecoveryEnablement": {
          "description": "Whether to enable the PITR feature on this database.",
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Reads are supported on selected versions of the data from within the past 7 days: * Reads against any timestamp within the past hour * Reads against 1-minute snapshots beyond 1 hour and within 7 days `version_retention_period` and `earliest_version_time` can be used to determine the supported versions.",
            "Reads are supported on any version of the data from within the past 1 hour."
          ],
          "enum": [
            "POINT_IN_TIME_RECOVERY_ENABLEMENT_UNSPECIFIED",
            "POINT_IN_TIME_RECOVERY_ENABLED",
            "POINT_IN_TIME_RECOVERY_DISABLED"
          ]
        },
        "firestoreDataAccessMode": {
          "type": "string",
          "enumDescriptions": [
            "Not Used.",
            "Accessing the database through the API is allowed.",
            "Accessing the database through the API is disallowed."
          ],
          "enum": [
            "DATA_ACCESS_MODE_UNSPECIFIED",
            "DATA_ACCESS_MODE_ENABLED",
            "DATA_ACCESS_MODE_DISABLED"
          ],
          "description": "Optional. The Firestore API data access mode to use for this database. If not set on write: - the default value is DATA_ACCESS_MODE_DISABLED for Enterprise Edition. - the default value is DATA_ACCESS_MODE_ENABLED for Standard Edition."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp at which this database was created. Databases created before 2016 do not populate create_time.",
          "readOnly": true
        },
        "earliestVersionTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The earliest timestamp at which older versions of the data can be read from the database. See [version_retention_period] above; this field is populated with `now - version_retention_period`. This value is continuously updated, and becomes stale the moment it is queried. If you are using this value to recover data, make sure to account for the time from the moment when the value is queried to the moment when you initiate the recovery.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp at which this database was most recently updated. Note this only includes updates to the database resource and not data contained by the database.",
          "readOnly": true
        },
        "versionRetentionPeriod": {
          "type": "string",
          "format": "google-duration",
          "description": "Output only. The period during which past versions of data are retained in the database. Any read or query can specify a `read_time` within this window, and will read the state of the database at that time. If the PITR feature is enabled, the retention period is 7 days. Otherwise, the retention period is 1 hour.",
          "readOnly": true
        },
        "appEngineIntegrationMode": {
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "If an App Engine application exists in the same region as this database, App Engine configuration will impact this database. This includes disabling of the application & database, as well as disabling writes to the database.",
            "App Engine has no effect on the ability of this database to serve requests. This is the default setting for databases created with the Firestore API."
          ],
          "enum": [
            "APP_ENGINE_INTEGRATION_MODE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "description": "The App Engine integration mode to use for this database."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\""
        },
        "freeTier": {
          "type": "boolean",
          "description": "Output only. Background: Free tier is the ability of a Firestore database to use a small amount of resources every day without being charged. Once usage exceeds the free tier limit further usage is charged. Whether this database can make use of the free tier. Only one database per project can be eligible for the free tier. The first (or next) database that is created in a project without a free tier database will be marked as eligible for the free tier. Databases that are created while there is a free tier database will not be eligible for the free tier.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Firestore Native Mode",
            "Firestore in Datastore Mode."
          ],
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "FIRESTORE_NATIVE",
            "DATASTORE_MODE"
          ],
          "description": "Required. The type of the database. See https://cloud.google.com/datastore/docs/firestore-or-datastore for information about how to choose."
        },
        "deleteTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp at which this database was deleted. Only set if the database has been deleted.",
          "readOnly": true
        },
        "concurrencyMode": {
          "description": "The default concurrency control mode to use for this database. If unspecified in a CreateDatabase request, this will default based on the database edition: Optimistic for Enterprise and Pessimistic for all other databases. While transactions can explicitly specify their own concurrency mode, this setting defines the default behavior when left unspecified. Important: This database-level setting is not respected for Firestore with MongoDB compatibility. All transactions through the MongoDB compatibility layer will use optimistic concurrency control, regardless of this setting.",
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Use optimistic concurrency control by default. This mode is available for Cloud Firestore databases. This is the default setting for Cloud Firestore Enterprise Edition databases.",
            "Use pessimistic concurrency control by default. This mode is available for Cloud Firestore databases. This is the default setting for Cloud Firestore Standard Edition databases.",
            "Use optimistic concurrency control with entity groups by default. This mode is enabled for some databases that were automatically upgraded from Cloud Datastore to Cloud Firestore with Datastore Mode. It is not recommended for any new databases, and not supported for Firestore Native databases."
          ],
          "enum": [
            "CONCURRENCY_MODE_UNSPECIFIED",
            "OPTIMISTIC",
            "PESSIMISTIC",
            "OPTIMISTIC_WITH_ENTITY_GROUPS"
          ]
        },
        "cmekConfig": {
          "description": "Optional. Presence indicates CMEK is enabled for this database.",
          "$ref": "GoogleFirestoreAdminV1CmekConfig"
        },
        "previousId": {
          "type": "string",
          "description": "Output only. The database resource's prior database ID. This field is only populated for deleted databases.",
          "readOnly": true
        },
        "name": {
          "description": "The resource name of the Database. Format: `projects/{project}/databases/{database}`",
          "type": "string"
        },
        "uid": {
          "description": "Output only. The system-generated UUID4 for this Database.",
          "readOnly": true,
          "type": "string"
        },
        "mongodbCompatibleDataAccessMode": {
          "type": "string",
          "enumDescriptions": [
            "Not Used.",
            "Accessing the database through the API is allowed.",
            "Accessing the database through the API is disallowed."
          ],
          "enum": [
            "DATA_ACCESS_MODE_UNSPECIFIED",
            "DATA_ACCESS_MODE_ENABLED",
            "DATA_ACCESS_MODE_DISABLED"
          ],
          "description": "Optional. The MongoDB compatible API data access mode to use for this database. If not set on write, the default value is DATA_ACCESS_MODE_ENABLED for Enterprise Edition. The value is always DATA_ACCESS_MODE_DISABLED for Standard Edition."
        },
        "deleteProtectionState": {
          "type": "string",
          "enumDescriptions": [
            "The default value. Delete protection type is not specified",
            "Delete protection is disabled",
            "Delete protection is enabled"
          ],
          "enum": [
            "DELETE_PROTECTION_STATE_UNSPECIFIED",
            "DELETE_PROTECTION_DISABLED",
            "DELETE_PROTECTION_ENABLED"
          ],
          "description": "State of delete protection for the database."
        }
      }
    },
    "GoogleFirestoreAdminV1DisableUserCredsRequest": {
      "type": "object",
      "properties": {},
      "description": "The request for FirestoreAdmin.DisableUserCreds.",
      "id": "GoogleFirestoreAdminV1DisableUserCredsRequest"
    },
    "Status": {
      "type": "object",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "GoogleFirestoreAdminV1ExportDocumentsMetadata": {
      "type": "object",
      "properties": {
        "collectionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Which collection IDs are being exported."
        },
        "snapshotTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp that corresponds to the version of the database that is being exported. If unspecified, there are no guarantees about the consistency of the documents being exported."
        },
        "progressDocuments": {
          "description": "The progress, in documents, of this operation.",
          "$ref": "GoogleFirestoreAdminV1Progress"
        },
        "progressBytes": {
          "description": "The progress, in bytes, of this operation.",
          "$ref": "GoogleFirestoreAdminV1Progress"
        },
        "namespaceIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Which namespace IDs are being exported."
        },
        "endTime": {
          "description": "The time this operation completed. Will be unset if operation still in progress.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time this operation started."
        },
        "outputUriPrefix": {
          "description": "Where the documents are being exported to.",
          "type": "string"
        },
        "operationState": {
          "description": "The state of the export operation.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ]
        }
      },
      "description": "Metadata for google.longrunning.Operation results from FirestoreAdmin.ExportDocuments.",
      "id": "GoogleFirestoreAdminV1ExportDocumentsMetadata"
    },
    "GoogleFirestoreAdminV1TtlConfigDelta": {
      "type": "object",
      "properties": {
        "changeType": {
          "description": "Specifies how the TTL configuration is changing.",
          "type": "string",
          "enumDescriptions": [
            "The type of change is not specified or known.",
            "The TTL config is being added.",
            "The TTL config is being removed."
          ],
          "enum": [
            "CHANGE_TYPE_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ]
        },
        "expirationOffset": {
          "description": "The offset, relative to the timestamp value in the TTL-enabled field, used determine the document's expiration time.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "Information about a TTL configuration change.",
      "id": "GoogleFirestoreAdminV1TtlConfigDelta"
    },
    "GoogleFirestoreAdminV1Index": {
      "properties": {
        "shardCount": {
          "description": "Optional. The number of shards for the index.",
          "type": "integer",
          "format": "int32"
        },
        "fields": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirestoreAdminV1IndexField"
          },
          "description": "The fields supported by this index. For composite indexes, this requires a minimum of 2 and a maximum of 100 fields. The last field entry is always for the field path `__name__`. If, on creation, `__name__` was not specified as the last field, it will be added automatically with the same direction as that of the last field defined. If the final field in a composite index is not directional, the `__name__` will be ordered ASCENDING (unless explicitly specified). For single field indexes, this will always be exactly one entry with a field path equal to the field path of the associated field."
        },
        "state": {
          "description": "Output only. The serving state of the index.",
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified.",
            "The index is being created. There is an active long-running operation for the index. The index is updated when writing a document. Some index data may exist.",
            "The index is ready to be used. The index is updated when writing a document. The index is fully populated from all stored documents it applies to.",
            "The index was being created, but something went wrong. There is no active long-running operation for the index, and the most recently finished long-running operation failed. The index is not updated when writing a document. Some index data may exist. Use the google.longrunning.Operations API to determine why the operation that last attempted to create this index failed, then re-create the index."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "NEEDS_REPAIR"
          ]
        },
        "apiScope": {
          "type": "string",
          "enumDescriptions": [
            "The index can only be used by the Firestore Native query API. This is the default.",
            "The index can only be used by the Firestore in Datastore Mode query API.",
            "The index can only be used by the MONGODB_COMPATIBLE_API."
          ],
          "enum": [
            "ANY_API",
            "DATASTORE_MODE_API",
            "MONGODB_COMPATIBLE_API"
          ],
          "description": "The API scope supported by this index."
        },
        "name": {
          "description": "Output only. A server defined name for this index. The form of this name for composite indexes will be: `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/indexes/{composite_index_id}` For single field indexes, this field will be empty.",
          "type": "string"
        },
        "density": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified. It will use database default setting. This value is input only.",
            "An index entry will only exist if ALL fields are present in the document. This is both the default and only allowed value for Standard Edition databases (for both Cloud Firestore `ANY_API` and Cloud Datastore `DATASTORE_MODE_API`). Take for example the following document: ``` { \"__name__\": \"...\", \"a\": 1, \"b\": 2, \"c\": 3 } ``` an index on `(a ASC, b ASC, c ASC, __name__ ASC)` will generate an index entry for this document since `a`, 'b', `c`, and `__name__` are all present but an index of `(a ASC, d ASC, __name__ ASC)` will not generate an index entry for this document since `d` is missing. This means that such indexes can only be used to serve a query when the query has either implicit or explicit requirements that all fields from the index are present.",
            "An index entry will exist if ANY field are present in the document. This is used as the definition of a sparse index for Enterprise Edition databases. Take for example the following document: ``` { \"__name__\": \"...\", \"a\": 1, \"b\": 2, \"c\": 3 } ``` an index on `(a ASC, d ASC)` will generate an index entry for this document since `a` is present, and will fill in an `unset` value for `d`. An index on `(d ASC, e ASC)` will not generate any index entry as neither `d` nor `e` are present. An index that contains `__name__` will generate an index entry for all documents since Firestore guarantees that all documents have a `__name__` field.",
            "An index entry will exist regardless of if the fields are present or not. This is the default density for an Enterprise Edition database. The index will store `unset` values for fields that are not present in the document."
          ],
          "enum": [
            "DENSITY_UNSPECIFIED",
            "SPARSE_ALL",
            "SPARSE_ANY",
            "DENSE"
          ],
          "description": "Immutable. The density configuration of the index."
        },
        "queryScope": {
          "type": "string",
          "enumDescriptions": [
            "The query scope is unspecified. Not a valid option.",
            "Indexes with a collection query scope specified allow queries against a collection that is the child of a specific document, specified at query time, and that has the collection ID specified by the index.",
            "Indexes with a collection group query scope specified allow queries against all collections that has the collection ID specified by the index.",
            "Include all the collections's ancestor in the index. Only available for Datastore Mode databases."
          ],
          "enum": [
            "QUERY_SCOPE_UNSPECIFIED",
            "COLLECTION",
            "COLLECTION_GROUP",
            "COLLECTION_RECURSIVE"
          ],
          "description": "Indexes with a collection query scope specified allow queries against a collection that is the child of a specific document, specified at query time, and that has the same collection ID. Indexes with a collection group query scope specified allow queries against all collections descended from a specific document, specified at query time, and that have the same collection ID as this index."
        },
        "unique": {
          "description": "Optional. Whether it is an unique index. Unique index ensures all values for the indexed field(s) are unique across documents.",
          "type": "boolean"
        },
        "multikey": {
          "description": "Optional. Whether the index is multikey. By default, the index is not multikey. For non-multikey indexes, none of the paths in the index definition reach or traverse an array, except via an explicit array index. For multikey indexes, at most one of the paths in the index definition reach or traverse an array, except via an explicit array index. Violations will result in errors. Note this field only applies to index with MONGODB_COMPATIBLE_API ApiScope.",
          "type": "boolean"
        },
        "searchIndexOptions": {
          "description": "Optional. Options for search indexes that are at the index definition level. This field is only currently supported for indexes with MONGODB_COMPATIBLE_API ApiScope.",
          "$ref": "GoogleFirestoreAdminV1SearchIndexOptions"
        }
      },
      "type": "object",
      "id": "GoogleFirestoreAdminV1Index",
      "description": "Cloud Firestore indexes enable simple and complex queries against documents in a database."
    },
    "GoogleFirestoreAdminV1ListIndexesResponse": {
      "type": "object",
      "properties": {
        "indexes": {
          "description": "The requested indexes.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirestoreAdminV1Index"
          }
        },
        "nextPageToken": {
          "description": "A page token that may be used to request another page of results. If blank, this is the last page.",
          "type": "string"
        }
      },
      "description": "The response for FirestoreAdmin.ListIndexes.",
      "id": "GoogleFirestoreAdminV1ListIndexesResponse"
    },
    "BatchGetDocumentsRequest": {
      "description": "The request for Firestore.BatchGetDocuments.",
      "id": "BatchGetDocumentsRequest",
      "type": "object",
      "properties": {
        "transaction": {
          "description": "Reads documents in a transaction.",
          "type": "string",
          "format": "byte"
        },
        "readTime": {
          "description": "Reads documents as they were at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
          "format": "google-datetime",
          "type": "string"
        },
        "documents": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The names of the documents to retrieve. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`. The request will fail if any of the document is not a child resource of the given `database`. Duplicate names will be elided."
        },
        "newTransaction": {
          "description": "Starts a new transaction and reads the documents. Defaults to a read-only transaction. The new transaction ID will be returned as the first response in the stream.",
          "$ref": "TransactionOptions"
        },
        "mask": {
          "description": "The fields to return. If not set, returns all fields. If a document has a field that is not present in this mask, that field will not be returned in the response.",
          "$ref": "DocumentMask"
        }
      }
    },
    "FieldReference": {
      "type": "object",
      "properties": {
        "fieldPath": {
          "description": "A reference to a field in a document. Requires: * MUST be a dot-delimited (`.`) string of segments, where each segment conforms to document field name limitations.",
          "type": "string"
        }
      },
      "description": "A reference to a field in a document, ex: `stats.operations`.",
      "id": "FieldReference"
    },
    "ListenResponse": {
      "properties": {
        "documentChange": {
          "description": "A Document has changed.",
          "$ref": "DocumentChange"
        },
        "documentRemove": {
          "description": "A Document has been removed from a target (because it is no longer relevant to that target).",
          "$ref": "DocumentRemove"
        },
        "filter": {
          "description": "A filter to apply to the set of documents previously returned for the given target. Returned when documents may have been removed from the given target, but the exact documents are unknown.",
          "$ref": "ExistenceFilter"
        },
        "targetChange": {
          "description": "Targets have changed.",
          "$ref": "TargetChange"
        },
        "documentDelete": {
          "description": "A Document has been deleted.",
          "$ref": "DocumentDelete"
        }
      },
      "type": "object",
      "id": "ListenResponse",
      "description": "The response for Firestore.Listen."
    },
    "DocumentRemove": {
      "type": "object",
      "properties": {
        "readTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The read timestamp at which the remove was observed. Greater or equal to the `commit_time` of the change/delete/remove."
        },
        "document": {
          "description": "The resource name of the Document that has gone out of view.",
          "type": "string"
        },
        "removedTargetIds": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "A set of target IDs for targets that previously matched this document."
        }
      },
      "description": "A Document has been removed from the view of the targets. Sent if the document is no longer relevant to a target and is out of view. Can be sent instead of a DocumentDelete or a DocumentChange if the server can not send the new value of the document. Multiple DocumentRemove messages may be returned for the same logical write or delete, if multiple targets are affected.",
      "id": "DocumentRemove"
    },
    "BeginTransactionRequest": {
      "properties": {
        "options": {
          "description": "The options for the transaction. Defaults to a read-write transaction.",
          "$ref": "TransactionOptions"
        }
      },
      "type": "object",
      "id": "BeginTransactionRequest",
      "description": "The request for Firestore.BeginTransaction."
    },
    "GoogleFirestoreAdminV1IndexOperationMetadata": {
      "properties": {
        "startTime": {
          "description": "The time this operation started.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time this operation completed. Will be unset if operation still in progress."
        },
        "index": {
          "description": "The index resource that this operation is acting on. For example: `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/indexes/{index_id}`",
          "type": "string"
        },
        "progressDocuments": {
          "description": "The progress, in documents, of this operation.",
          "$ref": "GoogleFirestoreAdminV1Progress"
        },
        "progressBytes": {
          "description": "The progress, in bytes, of this operation.",
          "$ref": "GoogleFirestoreAdminV1Progress"
        },
        "state": {
          "description": "The state of the operation.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ]
        }
      },
      "type": "object",
      "id": "GoogleFirestoreAdminV1IndexOperationMetadata",
      "description": "Metadata for google.longrunning.Operation results from FirestoreAdmin.CreateIndex."
    },
    "GoogleFirestoreAdminV1IndexField": {
      "description": "A field in an index. The field_path describes which field is indexed, the value_mode describes how the field value is indexed.",
      "id": "GoogleFirestoreAdminV1IndexField",
      "type": "object",
      "properties": {
        "order": {
          "description": "Indicates that this field supports ordering by the specified order or comparing using =, !=, <, <=, >, >=.",
          "type": "string",
          "enumDescriptions": [
            "The ordering is unspecified. Not a valid option.",
            "The field is ordered by ascending field value.",
            "The field is ordered by descending field value."
          ],
          "enum": [
            "ORDER_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ]
        },
        "arrayConfig": {
          "type": "string",
          "enumDescriptions": [
            "The index does not support additional array queries.",
            "The index supports array containment queries."
          ],
          "enum": [
            "ARRAY_CONFIG_UNSPECIFIED",
            "CONTAINS"
          ],
          "description": "Indicates that this field supports operations on `array_value`s."
        },
        "fieldPath": {
          "description": "Can be __name__. For single field indexes, this must match the name of the field or may be omitted.",
          "type": "string"
        },
        "vectorConfig": {
          "description": "Indicates that this field supports nearest neighbor and distance operations on vector.",
          "$ref": "GoogleFirestoreAdminV1VectorConfig"
        },
        "searchConfig": {
          "description": "Indicates that this field supports search operations.",
          "$ref": "GoogleFirestoreAdminV1SearchConfig"
        }
      }
    },
    "ListenRequest": {
      "type": "object",
      "properties": {
        "addTarget": {
          "description": "A target to add to this stream.",
          "$ref": "Target"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels associated with this target change."
        },
        "removeTarget": {
          "format": "int32",
          "type": "integer",
          "description": "The ID of a target to remove from this stream."
        }
      },
      "description": "A request for Firestore.Listen",
      "id": "ListenRequest"
    },
    "BatchWriteRequest": {
      "id": "BatchWriteRequest",
      "description": "The request for Firestore.BatchWrite.",
      "properties": {
        "writes": {
          "type": "array",
          "items": {
            "$ref": "Write"
          },
          "description": "The writes to apply. Method does not apply writes atomically and does not guarantee ordering. Each write succeeds or fails independently. You cannot write to the same document more than once per request."
        },
        "labels": {
          "description": "Labels associated with this batch write.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1SearchConfig": {
      "properties": {
        "geoSpec": {
          "description": "Optional. The specification for building a geo search index for a field.",
          "$ref": "GoogleFirestoreAdminV1SearchGeoSpec"
        },
        "textSpec": {
          "description": "Optional. The specification for building a text search index for a field.",
          "$ref": "GoogleFirestoreAdminV1SearchTextSpec"
        }
      },
      "type": "object",
      "id": "GoogleFirestoreAdminV1SearchConfig",
      "description": "The configuration for how to index a field for search."
    },
    "Cursor": {
      "id": "Cursor",
      "description": "A position in a query result set.",
      "properties": {
        "before": {
          "description": "If the position is just before or just after the given values, relative to the sort order defined by the query.",
          "type": "boolean"
        },
        "values": {
          "type": "array",
          "items": {
            "$ref": "Value"
          },
          "description": "The values that represent a position, in the order they appear in the order by clause of a query. Can contain fewer values than specified in the order by clause."
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1EncryptionConfig": {
      "properties": {
        "useSourceEncryption": {
          "description": "The database will use the same encryption configuration as the source.",
          "$ref": "GoogleFirestoreAdminV1SourceEncryptionOptions"
        },
        "googleDefaultEncryption": {
          "description": "Use Google default encryption.",
          "$ref": "GoogleFirestoreAdminV1GoogleDefaultEncryptionOptions"
        },
        "customerManagedEncryption": {
          "description": "Use Customer Managed Encryption Keys (CMEK) for encryption.",
          "$ref": "GoogleFirestoreAdminV1CustomerManagedEncryptionOptions"
        }
      },
      "type": "object",
      "id": "GoogleFirestoreAdminV1EncryptionConfig",
      "description": "Encryption configuration for a new database being created from another source. The source could be a Backup or a PitrSnapshot."
    },
    "GoogleFirestoreAdminV1BackupSchedule": {
      "description": "A backup schedule for a Cloud Firestore Database. This resource is owned by the database it is backing up, and is deleted along with the database. The actual backups are not though.",
      "id": "GoogleFirestoreAdminV1BackupSchedule",
      "type": "object",
      "properties": {
        "retention": {
          "type": "string",
          "format": "google-duration",
          "description": "At what relative time in the future, compared to its creation time, the backup should be deleted, e.g. keep backups for 7 days. The maximum supported retention period is 14 weeks."
        },
        "weeklyRecurrence": {
          "description": "For a schedule that runs weekly on a specific day.",
          "$ref": "GoogleFirestoreAdminV1WeeklyRecurrence"
        },
        "name": {
          "type": "string",
          "description": "Output only. The unique backup schedule identifier across all locations and databases for the given project. This will be auto-assigned. Format is `projects/{project}/databases/{database}/backupSchedules/{backup_schedule}`",
          "readOnly": true
        },
        "dailyRecurrence": {
          "description": "For a schedule that runs daily.",
          "$ref": "GoogleFirestoreAdminV1DailyRecurrence"
        },
        "createTime": {
          "description": "Output only. The timestamp at which this backup schedule was created and effective since. No backups will be created for this schedule before this time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp at which this backup schedule was most recently updated. When a backup schedule is first created, this is the same as create_time.",
          "readOnly": true
        }
      }
    },
    "Projection": {
      "id": "Projection",
      "description": "The projection of document's fields to return.",
      "properties": {
        "fields": {
          "type": "array",
          "items": {
            "$ref": "FieldReference"
          },
          "description": "The fields to return. If empty, all fields are returned. To only return the name of the document, use `['__name__']`."
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1SearchGeoSpec": {
      "id": "GoogleFirestoreAdminV1SearchGeoSpec",
      "description": "The specification for how to build a geo search index for a field.",
      "properties": {
        "geoJsonIndexingDisabled": {
          "description": "Optional. Disables geoJSON indexing for the field. By default, geoJSON points are indexed.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1ResetUserPasswordRequest": {
      "properties": {},
      "type": "object",
      "id": "GoogleFirestoreAdminV1ResetUserPasswordRequest",
      "description": "The request for FirestoreAdmin.ResetUserPassword."
    },
    "ExistenceFilter": {
      "id": "ExistenceFilter",
      "description": "A digest of all the documents that match a given target.",
      "properties": {
        "targetId": {
          "description": "The target ID to which this filter applies.",
          "type": "integer",
          "format": "int32"
        },
        "unchangedNames": {
          "description": "A bloom filter that, despite its name, contains the UTF-8 byte encodings of the resource names of ALL the documents that match target_id, in the form `projects/{project_id}/databases/{database_id}/documents/{document_path}`. This bloom filter may be omitted at the server's discretion, such as if it is deemed that the client will not make use of it or if it is too computationally expensive to calculate or transmit. Clients must gracefully handle this field being absent by falling back to the logic used before this field existed; that is, re-add the target without a resume token to figure out which documents in the client's cache are out of sync.",
          "$ref": "BloomFilter"
        },
        "count": {
          "format": "int32",
          "type": "integer",
          "description": "The total count of documents that match target_id. If different from the count of documents in the client that match, the client must manually determine which documents no longer match the target. The client can use the `unchanged_names` bloom filter to assist with this determination by testing ALL the document names against the filter; if the document name is NOT in the filter, it means the document no longer matches the target."
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1RestoreDatabaseMetadata": {
      "type": "object",
      "properties": {
        "startTime": {
          "description": "The time the restore was started.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "description": "The time the restore finished, unset for ongoing restores.",
          "format": "google-datetime",
          "type": "string"
        },
        "backup": {
          "description": "The name of the backup restoring from.",
          "type": "string"
        },
        "progressPercentage": {
          "description": "How far along the restore is as an estimated percentage of remaining time.",
          "$ref": "GoogleFirestoreAdminV1Progress"
        },
        "operationState": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "description": "The operation state of the restore."
        },
        "database": {
          "description": "The name of the database being restored to.",
          "type": "string"
        }
      },
      "description": "Metadata for the long-running operation from the RestoreDatabase request.",
      "id": "GoogleFirestoreAdminV1RestoreDatabaseMetadata"
    },
    "QueryTarget": {
      "id": "QueryTarget",
      "description": "A target specified by a query.",
      "properties": {
        "parent": {
          "description": "The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
          "type": "string"
        },
        "structuredQuery": {
          "description": "A structured query.",
          "$ref": "StructuredQuery"
        }
      },
      "type": "object"
    },
    "Pipeline": {
      "type": "object",
      "properties": {
        "stages": {
          "description": "Required. Ordered list of stages to evaluate.",
          "type": "array",
          "items": {
            "$ref": "Stage"
          }
        }
      },
      "description": "A Firestore query represented as an ordered list of operations / stages.",
      "id": "Pipeline"
    },
    "GoogleFirestoreAdminV1CloneDatabaseMetadata": {
      "type": "object",
      "properties": {
        "progressPercentage": {
          "description": "How far along the clone is as an estimated percentage of remaining time.",
          "$ref": "GoogleFirestoreAdminV1Progress"
        },
        "operationState": {
          "description": "The operation state of the clone.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ]
        },
        "database": {
          "description": "The name of the database being cloned to.",
          "type": "string"
        },
        "pitrSnapshot": {
          "description": "The snapshot from which this database was cloned.",
          "$ref": "GoogleFirestoreAdminV1PitrSnapshot"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the clone was started."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the clone finished, unset for ongoing clones."
        }
      },
      "description": "Metadata for the long-running operation from the CloneDatabase request.",
      "id": "GoogleFirestoreAdminV1CloneDatabaseMetadata"
    },
    "GoogleFirestoreAdminV1SourceEncryptionOptions": {
      "id": "GoogleFirestoreAdminV1SourceEncryptionOptions",
      "description": "The configuration options for using the same encryption method as the source.",
      "properties": {},
      "type": "object"
    },
    "ExplainOptions": {
      "description": "Explain options for the query.",
      "id": "ExplainOptions",
      "type": "object",
      "properties": {
        "analyze": {
          "description": "Optional. Whether to execute this query. When false (the default), the query will be planned, returning only metrics from the planning stages. When true, the query will be planned and executed, returning the full query results along with both planning and execution stage metrics.",
          "type": "boolean"
        }
      }
    },
    "BatchWriteResponse": {
      "description": "The response from Firestore.BatchWrite.",
      "id": "BatchWriteResponse",
      "type": "object",
      "properties": {
        "status": {
          "type": "array",
          "items": {
            "$ref": "Status"
          },
          "description": "The status of applying the writes. This i-th write status corresponds to the i-th write in the request."
        },
        "writeResults": {
          "type": "array",
          "items": {
            "$ref": "WriteResult"
          },
          "description": "The result of applying the writes. This i-th write result corresponds to the i-th write in the request."
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "type": "object",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "id": "GoogleLongrunningListOperationsResponse"
    },
    "WriteResult": {
      "description": "The result of applying a write.",
      "id": "WriteResult",
      "type": "object",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The last update time of the document after applying the write. Not set after a `delete`. If the write did not actually change the document, this will be the previous update_time."
        },
        "transformResults": {
          "description": "The results of applying each DocumentTransform.FieldTransform, in the same order.",
          "type": "array",
          "items": {
            "$ref": "Value"
          }
        }
      }
    },
    "WriteRequest": {
      "properties": {
        "streamId": {
          "description": "The ID of the write stream to resume. This may only be set in the first message. When left empty, a new write stream will be created.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels associated with this write request."
        },
        "writes": {
          "type": "array",
          "items": {
            "$ref": "Write"
          },
          "description": "The writes to apply. Always executed atomically and in order. This must be empty on the first request. This may be empty on the last request. This must not be empty on all other requests."
        },
        "streamToken": {
          "format": "byte",
          "type": "string",
          "description": "A stream token that was previously sent by the server. The client should set this field to the token from the most recent WriteResponse it has received. This acknowledges that the client has received responses up to this token. After sending this token, earlier tokens may not be used anymore. The server may close the stream if there are too many unacknowledged responses. Leave this field unset when creating a new stream. To resume a stream at a specific point, set this field and the `stream_id` field. Leave this field unset when creating a new stream."
        }
      },
      "type": "object",
      "id": "WriteRequest",
      "description": "The request for Firestore.Write. The first request creates a stream, or resumes an existing one from a token. When creating a new stream, the server replies with a response containing only an ID and a token, to use in the next request. When resuming a stream, the server first streams any responses later than the given token, then a response containing only an up-to-date token, to use in the next request."
    },
    "Value": {
      "type": "object",
      "properties": {
        "geoPointValue": {
          "description": "A geo point value representing a point on the surface of Earth.",
          "$ref": "LatLng"
        },
        "integerValue": {
          "format": "int64",
          "type": "string",
          "description": "An integer value."
        },
        "doubleValue": {
          "description": "A double value.",
          "type": "number",
          "format": "double"
        },
        "functionValue": {
          "description": "A value that represents an unevaluated expression. **Requires:** * Not allowed to be used when writing documents.",
          "$ref": "Function"
        },
        "booleanValue": {
          "description": "A boolean value.",
          "type": "boolean"
        },
        "mapValue": {
          "description": "A map value.",
          "$ref": "MapValue"
        },
        "timestampValue": {
          "format": "google-datetime",
          "type": "string",
          "description": "A timestamp value. Precise only to microseconds. When stored, any additional precision is rounded down."
        },
        "referenceValue": {
          "description": "A reference to a document. For example: `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
          "type": "string"
        },
        "nullValue": {
          "type": "string",
          "enumDescriptions": [
            "Null value."
          ],
          "enum": [
            "NULL_VALUE"
          ],
          "description": "A null value."
        },
        "bytesValue": {
          "description": "A bytes value. Must not exceed 1 MiB - 89 bytes. Only the first 1,500 bytes are considered by queries.",
          "type": "string",
          "format": "byte"
        },
        "pipelineValue": {
          "description": "A value that represents an unevaluated pipeline. **Requires:** * Not allowed to be used when writing documents.",
          "$ref": "Pipeline"
        },
        "stringValue": {
          "description": "A string value. The string, represented as UTF-8, must not exceed 1 MiB - 89 bytes. Only the first 1,500 bytes of the UTF-8 representation are considered by queries.",
          "type": "string"
        },
        "variableReferenceValue": {
          "description": "Pointer to a variable defined elsewhere in a pipeline. Unlike `field_reference_value` which references a field within a document, this refers to a variable, defined in a separate namespace than the fields of a document.",
          "type": "string"
        },
        "arrayValue": {
          "description": "An array value. Cannot directly contain another array value, though can contain a map which contains another array.",
          "$ref": "ArrayValue"
        },
        "fieldReferenceValue": {
          "description": "Value which references a field. This is considered relative (vs absolute) since it only refers to a field and not a field within a particular document. **Requires:** * Must follow field reference limitations. * Not allowed to be used when writing documents.",
          "type": "string"
        }
      },
      "description": "A message that can hold any of the supported value types.",
      "id": "Value"
    },
    "TargetChange": {
      "properties": {
        "targetIds": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "The target IDs of targets that have changed. If empty, the change applies to all targets. The order of the target IDs is not defined."
        },
        "cause": {
          "description": "The error that resulted in this change, if applicable.",
          "$ref": "Status"
        },
        "targetChangeType": {
          "description": "The type of change that occurred.",
          "type": "string",
          "enumDescriptions": [
            "No change has occurred. Used only to send an updated `resume_token`.",
            "The targets have been added.",
            "The targets have been removed.",
            "The targets reflect all changes committed before the targets were added to the stream. This will be sent after or with a `read_time` that is greater than or equal to the time at which the targets were added. Listeners can wait for this change if read-after-write semantics are desired.",
            "The targets have been reset, and a new initial state for the targets will be returned in subsequent changes. After the initial state is complete, `CURRENT` will be returned even if the target was previously indicated to be `CURRENT`."
          ],
          "enum": [
            "NO_CHANGE",
            "ADD",
            "REMOVE",
            "CURRENT",
            "RESET"
          ]
        },
        "readTime": {
          "description": "The consistent `read_time` for the given `target_ids` (omitted when the target_ids are not at a consistent snapshot). The stream is guaranteed to send a `read_time` with `target_ids` empty whenever the entire stream reaches a new consistent snapshot. ADD, CURRENT, and RESET messages are guaranteed to (eventually) result in a new consistent snapshot (while NO_CHANGE and REMOVE messages are not). For a given stream, `read_time` is guaranteed to be monotonically increasing.",
          "format": "google-datetime",
          "type": "string"
        },
        "resumeToken": {
          "description": "A token that can be used to resume the stream for the given `target_ids`, or all targets if `target_ids` is empty. Not set on every target change.",
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object",
      "id": "TargetChange",
      "description": "Targets being watched have changed."
    },
    "GoogleFirestoreAdminV1ListDatabasesResponse": {
      "properties": {
        "databases": {
          "description": "The databases in the project.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirestoreAdminV1Database"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "In the event that data about individual databases cannot be listed they will be recorded here. An example entry might be: projects/some_project/locations/some_location This can happen if the Cloud Region that the Database resides in is currently unavailable. In this case we can't fetch all the details about the database. You may be able to get a more detailed error message (or possibly fetch the resource) by sending a 'Get' request for the resource or a 'List' request for the specific location."
        }
      },
      "type": "object",
      "id": "GoogleFirestoreAdminV1ListDatabasesResponse",
      "description": "The list of databases for a project."
    },
    "FindNearest": {
      "type": "object",
      "properties": {
        "queryVector": {
          "description": "Required. The query vector that we are searching on. Must be a vector of no more than 2048 dimensions.",
          "$ref": "Value"
        },
        "distanceMeasure": {
          "type": "string",
          "enumDescriptions": [
            "Should not be set.",
            "Measures the EUCLIDEAN distance between the vectors. See [Euclidean](https://en.wikipedia.org/wiki/Euclidean_distance) to learn more. The resulting distance decreases the more similar two vectors are.",
            "COSINE distance compares vectors based on the angle between them, which allows you to measure similarity that isn't based on the vectors magnitude. We recommend using DOT_PRODUCT with unit normalized vectors instead of COSINE distance, which is mathematically equivalent with better performance. See [Cosine Similarity](https://en.wikipedia.org/wiki/Cosine_similarity) to learn more about COSINE similarity and COSINE distance. The resulting COSINE distance decreases the more similar two vectors are.",
            "Similar to cosine but is affected by the magnitude of the vectors. See [Dot Product](https://en.wikipedia.org/wiki/Dot_product) to learn more. The resulting distance increases the more similar two vectors are."
          ],
          "enum": [
            "DISTANCE_MEASURE_UNSPECIFIED",
            "EUCLIDEAN",
            "COSINE",
            "DOT_PRODUCT"
          ],
          "description": "Required. The distance measure to use, required."
        },
        "limit": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The number of nearest neighbors to return. Must be a positive integer of no more than 1000."
        },
        "vectorField": {
          "description": "Required. An indexed vector field to search upon. Only documents which contain vectors whose dimensionality match the query_vector can be returned.",
          "$ref": "FieldReference"
        },
        "distanceResultField": {
          "description": "Optional. Optional name of the field to output the result of the vector distance calculation. Must conform to document field name limitations.",
          "type": "string"
        },
        "distanceThreshold": {
          "format": "double",
          "type": "number",
          "description": "Optional. Option to specify a threshold for which no less similar documents will be returned. The behavior of the specified `distance_measure` will affect the meaning of the distance threshold. Since DOT_PRODUCT distances increase when the vectors are more similar, the comparison is inverted. * For EUCLIDEAN, COSINE: `WHERE distance <= distance_threshold` * For DOT_PRODUCT: `WHERE distance >= distance_threshold`"
        }
      },
      "description": "Nearest Neighbors search config. The ordering provided by FindNearest supersedes the order_by stage. If multiple documents have the same vector distance, the returned document order is not guaranteed to be stable between queries.",
      "id": "FindNearest"
    },
    "GoogleFirestoreAdminV1ExportDocumentsResponse": {
      "description": "Returned in the google.longrunning.Operation response field.",
      "id": "GoogleFirestoreAdminV1ExportDocumentsResponse",
      "type": "object",
      "properties": {
        "outputUriPrefix": {
          "description": "Location of the output files. This can be used to begin an import into Cloud Firestore (this project or another project) after the operation completes successfully.",
          "type": "string"
        }
      }
    },
    "RunAggregationQueryResponse": {
      "description": "The response for Firestore.RunAggregationQuery.",
      "id": "RunAggregationQueryResponse",
      "type": "object",
      "properties": {
        "result": {
          "description": "A single aggregation result. Not present when reporting partial progress.",
          "$ref": "AggregationResult"
        },
        "transaction": {
          "format": "byte",
          "type": "string",
          "description": "The transaction that was started as part of this request. Only present on the first response when the request requested to start a new transaction."
        },
        "explainMetrics": {
          "description": "Query explain metrics. This is only present when the RunAggregationQueryRequest.explain_options is provided, and it is sent only once with the last response in the stream.",
          "$ref": "ExplainMetrics"
        },
        "readTime": {
          "description": "The time at which the aggregate result was computed. This is always monotonically increasing; in this case, the previous AggregationResult in the result stream are guaranteed not to have changed between their `read_time` and this one. If the query returns no results, a response with `read_time` and no `result` will be sent, and this represents the time at which the query was run.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleFirestoreAdminV1ExportDocumentsRequest": {
      "type": "object",
      "properties": {
        "collectionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "IDs of the collection groups to export. Unspecified means all collection groups. Each collection group in this list must be unique."
        },
        "outputUriPrefix": {
          "description": "The output URI. Currently only supports Google Cloud Storage URIs of the form: `gs://BUCKET_NAME[/NAMESPACE_PATH]`, where `BUCKET_NAME` is the name of the Google Cloud Storage bucket and `NAMESPACE_PATH` is an optional Google Cloud Storage namespace path. When choosing a name, be sure to consider Google Cloud Storage naming guidelines: https://cloud.google.com/storage/docs/naming. If the URI is a bucket (without a namespace path), a prefix will be generated based on the start time.",
          "type": "string"
        },
        "snapshotTime": {
          "description": "The timestamp that corresponds to the version of the database to be exported. The timestamp must be in the past, rounded to the minute and not older than earliestVersionTime. If specified, then the exported documents will represent a consistent view of the database at the provided time. Otherwise, there are no guarantees about the consistency of the exported documents.",
          "type": "string",
          "format": "google-datetime"
        },
        "namespaceIds": {
          "description": "An empty list represents all namespaces. This is the preferred usage for databases that don't use namespaces. An empty string element represents the default namespace. This should be used if the database has data in non-default namespaces, but doesn't want to include them. Each namespace in this list must be unique.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The request for FirestoreAdmin.ExportDocuments.",
      "id": "GoogleFirestoreAdminV1ExportDocumentsRequest"
    },
    "GoogleFirestoreAdminV1ListUserCredsResponse": {
      "id": "GoogleFirestoreAdminV1ListUserCredsResponse",
      "description": "The response for FirestoreAdmin.ListUserCreds.",
      "properties": {
        "userCreds": {
          "description": "The user creds for the database.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirestoreAdminV1UserCreds"
          }
        }
      },
      "type": "object"
    },
    "ArrayValue": {
      "id": "ArrayValue",
      "description": "An array value.",
      "properties": {
        "values": {
          "description": "Values in the array.",
          "type": "array",
          "items": {
            "$ref": "Value"
          }
        }
      },
      "type": "object"
    },
    "Filter": {
      "id": "Filter",
      "description": "A filter.",
      "properties": {
        "unaryFilter": {
          "description": "A filter that takes exactly one argument.",
          "$ref": "UnaryFilter"
        },
        "compositeFilter": {
          "description": "A composite filter.",
          "$ref": "CompositeFilter"
        },
        "fieldFilter": {
          "description": "A filter on a document field.",
          "$ref": "FieldFilter"
        }
      },
      "type": "object"
    },
    "StructuredAggregationQuery": {
      "id": "StructuredAggregationQuery",
      "description": "Firestore query for running an aggregation over a StructuredQuery.",
      "properties": {
        "structuredQuery": {
          "description": "Nested structured query.",
          "$ref": "StructuredQuery"
        },
        "aggregations": {
          "description": "Optional. Series of aggregations to apply over the results of the `structured_query`. Requires: * A minimum of one and maximum of five aggregations per query.",
          "type": "array",
          "items": {
            "$ref": "Aggregation"
          }
        }
      },
      "type": "object"
    },
    "FieldTransform": {
      "description": "A transformation of a field of the document.",
      "id": "FieldTransform",
      "type": "object",
      "properties": {
        "setToServerValue": {
          "description": "Sets the field to the given server value.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The time at which the server processed the request, with millisecond precision. If used on multiple fields (same or different documents) in a transaction, all the fields will get the same server timestamp."
          ],
          "enum": [
            "SERVER_VALUE_UNSPECIFIED",
            "REQUEST_TIME"
          ]
        },
        "maximum": {
          "description": "Sets the field to the maximum of its current value and the given value. This must be an integer or a double value. If the field is not an integer or double, or if the field does not yet exist, the transformation will set the field to the given value. If a maximum operation is applied where the field and the input value are of mixed types (that is - one is an integer and one is a double) the field takes on the type of the larger operand. If the operands are equivalent (e.g. 3 and 3.0), the field does not change. 0, 0.0, and -0.0 are all zero. The maximum of a zero stored value and zero input value is always the stored value. The maximum of any numeric value x and NaN is NaN.",
          "$ref": "Value"
        },
        "fieldPath": {
          "description": "The path of the field. See Document.fields for the field path syntax reference.",
          "type": "string"
        },
        "minimum": {
          "description": "Sets the field to the minimum of its current value and the given value. This must be an integer or a double value. If the field is not an integer or double, or if the field does not yet exist, the transformation will set the field to the input value. If a minimum operation is applied where the field and the input value are of mixed types (that is - one is an integer and one is a double) the field takes on the type of the smaller operand. If the operands are equivalent (e.g. 3 and 3.0), the field does not change. 0, 0.0, and -0.0 are all zero. The minimum of a zero stored value and zero input value is always the stored value. The minimum of any numeric value x and NaN is NaN.",
          "$ref": "Value"
        },
        "appendMissingElements": {
          "description": "Append the given elements in order if they are not already present in the current field value. If the field is not an array, or if the field does not yet exist, it is first set to the empty array. Equivalent numbers of different types (e.g. 3L and 3.0) are considered equal when checking if a value is missing. NaN is equal to NaN, and Null is equal to Null. If the input contains multiple equivalent values, only the first will be considered. The corresponding transform_result will be the null value.",
          "$ref": "ArrayValue"
        },
        "removeAllFromArray": {
          "description": "Remove all of the given elements from the array in the field. If the field is not an array, or if the field does not yet exist, it is set to the empty array. Equivalent numbers of the different types (e.g. 3L and 3.0) are considered equal when deciding whether an element should be removed. NaN is equal to NaN, and Null is equal to Null. This will remove all equivalent values if there are duplicates. The corresponding transform_result will be the null value.",
          "$ref": "ArrayValue"
        },
        "increment": {
          "description": "Adds the given value to the field's current value. This must be an integer or a double value. If the field is not an integer or double, or if the field does not yet exist, the transformation will set the field to the given value. If either of the given value or the current field value are doubles, both values will be interpreted as doubles. Double arithmetic and representation of double values follow IEEE 754 semantics. If there is positive/negative integer overflow, the field is resolved to the largest magnitude positive/negative integer.",
          "$ref": "Value"
        }
      }
    },
    "PlanSummary": {
      "properties": {
        "indexesUsed": {
          "description": "The indexes selected for the query. For example: [ {\"query_scope\": \"Collection\", \"properties\": \"(foo ASC, __name__ ASC)\"}, {\"query_scope\": \"Collection\", \"properties\": \"(bar ASC, __name__ ASC)\"} ]",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          }
        }
      },
      "type": "object",
      "id": "PlanSummary",
      "description": "Planning phase information for the query."
    },
    "GoogleFirestoreAdminV1TtlConfig": {
      "type": "object",
      "properties": {
        "expirationOffset": {
          "description": "Optional. The offset, relative to the timestamp value from the TTL-enabled field, used to determine the document's expiration time. `expiration_offset.seconds` must be between 0 and 2,147,483,647 inclusive. Values more precise than seconds are rejected. If unset, defaults to 0, in which case the expiration time is the same as the timestamp value from the TTL-enabled field.",
          "type": "string",
          "format": "google-duration"
        },
        "state": {
          "enumDescriptions": [
            "The state is unspecified or unknown.",
            "The TTL is being applied. There is an active long-running operation to track the change. Newly written documents will have TTLs applied as requested. Requested TTLs on existing documents are still being processed. When TTLs on all existing documents have been processed, the state will move to 'ACTIVE'.",
            "The TTL is active for all documents.",
            "The TTL configuration could not be enabled for all existing documents. Newly written documents will continue to have their TTL applied. The LRO returned when last attempting to enable TTL for this `Field` has failed, and may have more details."
          ],
          "description": "Output only. The state of the TTL configuration.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "NEEDS_REPAIR"
          ],
          "readOnly": true
        }
      },
      "description": "The TTL (time-to-live) configuration for documents that have this `Field` set. A timestamp stored in a TTL-enabled field will be used to determine the expiration time of the document. The expiration time is the sum of the timestamp value and the `expiration_offset`. For Enterprise edition databases, the timestamp value may alternatively be stored in an array value in the TTL-enabled field. An expiration time in the past indicates that the document is eligible for immediate expiration. Using any other data type or leaving the field absent will disable expiration for the individual document.",
      "id": "GoogleFirestoreAdminV1TtlConfig"
    },
    "RollbackRequest": {
      "id": "RollbackRequest",
      "description": "The request for Firestore.Rollback.",
      "properties": {
        "transaction": {
          "format": "byte",
          "type": "string",
          "description": "Required. The transaction to roll back."
        }
      },
      "type": "object"
    },
    "CompositeFilter": {
      "id": "CompositeFilter",
      "description": "A filter that merges multiple other filters using the given operator.",
      "properties": {
        "op": {
          "description": "The operator for combining multiple filters.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "Documents are required to satisfy all of the combined filters.",
            "Documents are required to satisfy at least one of the combined filters."
          ],
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "AND",
            "OR"
          ]
        },
        "filters": {
          "description": "The list of filters to combine. Requires: * At least one filter is present.",
          "type": "array",
          "items": {
            "$ref": "Filter"
          }
        }
      },
      "type": "object"
    },
    "LatLng": {
      "properties": {
        "longitude": {
          "type": "number",
          "format": "double",
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0]."
        },
        "latitude": {
          "format": "double",
          "type": "number",
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0]."
        }
      },
      "type": "object",
      "id": "LatLng",
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges."
    },
    "RunQueryRequest": {
      "id": "RunQueryRequest",
      "description": "The request for Firestore.RunQuery.",
      "properties": {
        "structuredQuery": {
          "description": "A structured query.",
          "$ref": "StructuredQuery"
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Reads documents as they were at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days."
        },
        "newTransaction": {
          "description": "Starts a new transaction and reads the documents. Defaults to a read-only transaction. The new transaction ID will be returned as the first response in the stream.",
          "$ref": "TransactionOptions"
        },
        "transaction": {
          "description": "Run the query within an already active transaction. The value here is the opaque transaction ID to execute the query in.",
          "type": "string",
          "format": "byte"
        },
        "explainOptions": {
          "description": "Optional. Explain options for the query. If set, additional query statistics will be returned. If not, only query results will be returned.",
          "$ref": "ExplainOptions"
        }
      },
      "type": "object"
    },
    "RunAggregationQueryRequest": {
      "id": "RunAggregationQueryRequest",
      "description": "The request for Firestore.RunAggregationQuery.",
      "properties": {
        "transaction": {
          "format": "byte",
          "type": "string",
          "description": "Run the aggregation within an already active transaction. The value here is the opaque transaction ID to execute the query in."
        },
        "explainOptions": {
          "description": "Optional. Explain options for the query. If set, additional query statistics will be returned. If not, only query results will be returned.",
          "$ref": "ExplainOptions"
        },
        "structuredAggregationQuery": {
          "description": "An aggregation query.",
          "$ref": "StructuredAggregationQuery"
        },
        "readTime": {
          "description": "Executes the query at the given timestamp. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
          "type": "string",
          "format": "google-datetime"
        },
        "newTransaction": {
          "description": "Starts a new transaction as part of the query, defaulting to read-only. The new transaction ID will be returned as the first response in the stream.",
          "$ref": "TransactionOptions"
        }
      },
      "type": "object"
    },
    "DocumentsTarget": {
      "id": "DocumentsTarget",
      "description": "A target specified by a set of documents names.",
      "properties": {
        "documents": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The names of the documents to retrieve. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`. The request will fail if any of the document is not a child resource of the given `database`. Duplicate names will be elided."
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1IndexConfigDelta": {
      "description": "Information about an index configuration change.",
      "id": "GoogleFirestoreAdminV1IndexConfigDelta",
      "type": "object",
      "properties": {
        "changeType": {
          "description": "Specifies how the index is changing.",
          "type": "string",
          "enumDescriptions": [
            "The type of change is not specified or known.",
            "The single field index is being added.",
            "The single field index is being removed."
          ],
          "enum": [
            "CHANGE_TYPE_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ]
        },
        "index": {
          "description": "The index being changed.",
          "$ref": "GoogleFirestoreAdminV1Index"
        }
      }
    },
    "AggregationResult": {
      "id": "AggregationResult",
      "description": "The result of a single bucket from a Firestore aggregation query. The keys of `aggregate_fields` are the same for all results in an aggregation query, unlike document queries which can have different fields present for each result.",
      "properties": {
        "aggregateFields": {
          "description": "The result of the aggregation functions, ex: `COUNT(*) AS total_docs`. The key is the alias assigned to the aggregation function on input and the size of this map equals the number of aggregation functions in the query.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Value"
          }
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1VectorConfig": {
      "type": "object",
      "properties": {
        "flat": {
          "description": "Indicates the vector index is a flat index.",
          "$ref": "GoogleFirestoreAdminV1FlatIndex"
        },
        "dimension": {
          "description": "Required. The vector dimension this configuration applies to. The resulting index will only include vectors of this dimension, and can be used for vector search with the same dimension.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "The index configuration to support vector search operations",
      "id": "GoogleFirestoreAdminV1VectorConfig"
    },
    "GoogleFirestoreAdminV1SearchTextIndexSpec": {
      "properties": {
        "matchType": {
          "description": "Required. How to match the text field value.",
          "type": "string",
          "enumDescriptions": [
            "The match type is unspecified. Not a valid option.",
            "Match on any indexed field. This is the only way currently supported for MONGODB_COMPATIBLE_API."
          ],
          "enum": [
            "TEXT_MATCH_TYPE_UNSPECIFIED",
            "MATCH_GLOBALLY"
          ]
        },
        "indexType": {
          "description": "Required. How to index the text field value.",
          "type": "string",
          "enumDescriptions": [
            "The index type is unspecified. Not a valid option.",
            "Field values are tokenized. This is the only way currently supported for MONGODB_COMPATIBLE_API."
          ],
          "enum": [
            "TEXT_INDEX_TYPE_UNSPECIFIED",
            "TOKENIZED"
          ]
        }
      },
      "type": "object",
      "id": "GoogleFirestoreAdminV1SearchTextIndexSpec",
      "description": "Specification of how the field should be indexed for search text indexes."
    },
    "WriteResponse": {
      "type": "object",
      "properties": {
        "streamToken": {
          "description": "A token that represents the position of this response in the stream. This can be used by a client to resume the stream at this point. This field is always set.",
          "type": "string",
          "format": "byte"
        },
        "commitTime": {
          "description": "The time at which the commit occurred. Any read with an equal or greater `read_time` is guaranteed to see the effects of the write.",
          "format": "google-datetime",
          "type": "string"
        },
        "streamId": {
          "description": "The ID of the stream. Only set on the first message, when a new stream was created.",
          "type": "string"
        },
        "writeResults": {
          "description": "The result of applying the writes. This i-th write result corresponds to the i-th write in the request.",
          "type": "array",
          "items": {
            "$ref": "WriteResult"
          }
        }
      },
      "description": "The response for Firestore.Write.",
      "id": "WriteResponse"
    },
    "GoogleFirestoreAdminV1CustomerManagedEncryptionOptions": {
      "description": "The configuration options for using CMEK (Customer Managed Encryption Key) encryption.",
      "id": "GoogleFirestoreAdminV1CustomerManagedEncryptionOptions",
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "description": "Required. Only keys in the same location as the database are allowed to be used for encryption. For Firestore's nam5 multi-region, this corresponds to Cloud KMS multi-region us. For Firestore's eur3 multi-region, this corresponds to Cloud KMS multi-region europe. See https://cloud.google.com/kms/docs/locations. The expected format is `projects/{project_id}/locations/{kms_location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}`.",
          "type": "string"
        }
      }
    },
    "ExecutionStats": {
      "id": "ExecutionStats",
      "description": "Execution statistics for the query.",
      "properties": {
        "debugStats": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Debugging statistics from the execution of the query. Note that the debugging stats are subject to change as Firestore evolves. It could include: { \"indexes_entries_scanned\": \"1000\", \"documents_scanned\": \"20\", \"billing_details\" : { \"documents_billable\": \"20\", \"index_entries_billable\": \"1000\", \"min_query_cost\": \"0\" } }"
        },
        "resultsReturned": {
          "type": "string",
          "format": "int64",
          "description": "Total number of results returned, including documents, projections, aggregation results, keys."
        },
        "executionDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Total time to execute the query in the backend."
        },
        "readOperations": {
          "description": "Total billable read operations.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "PartitionQueryRequest": {
      "description": "The request for Firestore.PartitionQuery.",
      "id": "PartitionQueryRequest",
      "type": "object",
      "properties": {
        "pageToken": {
          "description": "The `next_page_token` value returned from a previous call to PartitionQuery that may be used to get an additional set of results. There are no ordering guarantees between sets of results. Thus, using multiple sets of results will require merging the different result sets. For example, two subsequent calls using a page_token may return: * cursor B, cursor M, cursor Q * cursor A, cursor U, cursor W To obtain a complete result set ordered with respect to the results of the query supplied to PartitionQuery, the results sets should be merged: cursor A, cursor B, cursor M, cursor Q, cursor U, cursor W",
          "type": "string"
        },
        "structuredQuery": {
          "description": "A structured query. Query must specify collection with all descendants and be ordered by name ascending. Other filters, order bys, limits, offsets, and start/end cursors are not supported.",
          "$ref": "StructuredQuery"
        },
        "readTime": {
          "description": "Reads documents as they were at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
          "format": "google-datetime",
          "type": "string"
        },
        "pageSize": {
          "description": "The maximum number of partitions to return in this call, subject to `partition_count`. For example, if `partition_count` = 10 and `page_size` = 8, the first call to PartitionQuery will return up to 8 partitions and a `next_page_token` if more results exist. A second call to PartitionQuery will return up to 2 partitions, to complete the total of 10 specified in `partition_count`.",
          "format": "int32",
          "type": "integer"
        },
        "partitionCount": {
          "type": "string",
          "format": "int64",
          "description": "The desired maximum number of partition points. The partitions may be returned across multiple pages of results. The number must be positive. The actual number of partitions returned may be fewer. For example, this may be set to one fewer than the number of parallel queries to be run, or in running a data pipeline job, one fewer than the number of workers or compute instances available."
        }
      }
    },
    "PartitionQueryResponse": {
      "type": "object",
      "properties": {
        "partitions": {
          "description": "Partition results. Each partition is a split point that can be used by RunQuery as a starting or end point for the query results. The RunQuery requests must be made with the same query supplied to this PartitionQuery request. The partition cursors will be ordered according to same ordering as the results of the query supplied to PartitionQuery. For example, if a PartitionQuery request returns partition cursors A and B, running the following three queries will return the entire result set of the original query: * query, end_at A * query, start_at A, end_at B * query, start_at B An empty result may indicate that the query has too few results to be partitioned, or that the query is not yet supported for partitioning.",
          "type": "array",
          "items": {
            "$ref": "Cursor"
          }
        },
        "nextPageToken": {
          "description": "A page token that may be used to request an additional set of results, up to the number specified by `partition_count` in the PartitionQuery request. If blank, there are no more results.",
          "type": "string"
        }
      },
      "description": "The response for Firestore.PartitionQuery.",
      "id": "PartitionQueryResponse"
    },
    "GoogleFirestoreAdminV1CloneDatabaseRequest": {
      "properties": {
        "pitrSnapshot": {
          "description": "Required. Specification of the PITR data to clone from. The source database must exist. The cloned database will be created in the same location as the source database.",
          "$ref": "GoogleFirestoreAdminV1PitrSnapshot"
        },
        "encryptionConfig": {
          "description": "Optional. Encryption configuration for the cloned database. If this field is not specified, the cloned database will use the same encryption configuration as the source database, namely use_source_encryption.",
          "$ref": "GoogleFirestoreAdminV1EncryptionConfig"
        },
        "databaseId": {
          "description": "Required. The ID to use for the database, which will become the final component of the database's resource name. This database ID must not be associated with an existing database. This value should be 4-63 characters. Valid characters are /a-z-/ with first character a letter and the last a letter or a number. Must not be UUID-like /[0-9a-f]{8}(-[0-9a-f]{4}){3}-[0-9a-f]{12}/. \"(default)\" database ID is also valid if the database is Standard edition.",
          "type": "string"
        },
        "tags": {
[...]
