{
  "revision": "20260814",
  "rootUrl": "https://firebasestorage.googleapis.com/",
  "version": "v1beta",
  "description": "The Cloud Storage for Firebase API enables programmatic management of Cloud Storage buckets for use in Firebase projects",
  "baseUrl": "https://firebasestorage.googleapis.com/",
  "id": "firebasestorage:v1beta",
  "protocol": "rest",
  "mtlsRootUrl": "https://firebasestorage.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "batchPath": "batch",
  "basePath": "",
  "discoveryVersion": "v1",
  "schemas": {
    "Bucket": {
      "id": "Bucket",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the bucket.",
          "readOnly": true
        }
      },
      "description": "A storage bucket and its relation to a parent Firebase project.",
      "type": "object"
    },
    "RemoveFirebaseRequest": {
      "id": "RemoveFirebaseRequest",
      "properties": {},
      "description": "The request used to unlink a Google Cloud Storage bucket from a Firebase project.",
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {}
    },
    "AddFirebaseRequest": {
      "type": "object",
      "id": "AddFirebaseRequest",
      "properties": {},
      "description": "The request used to link a Google Cloud Storage bucket to a Firebase project."
    },
    "ListBucketsResponse": {
      "id": "ListBucketsResponse",
      "properties": {
        "buckets": {
          "description": "The list of linked buckets.",
          "items": {
            "$ref": "Bucket"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "The response returned by `ListBuckets`.",
      "type": "object"
    },
    "DefaultBucket": {
      "description": "Spark tier-eligible Cloud Storage bucket. One per project. This resource exists if the underlying Cloud Storage bucket exists and it is linked to your Firebase project. See https://firebase.google.com/pricing for pricing details.",
      "id": "DefaultBucket",
      "properties": {
        "location": {
          "type": "string",
          "description": "Required. Immutable. Location of the default bucket."
        },
        "storageClass": {
          "description": "Immutable. Storage class of the default bucket. Supported values are available at https://cloud.google.com/storage/docs/storage-classes#classes.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name of the default bucket.",
          "type": "string"
        },
        "bucket": {
          "description": "Output only. Underlying bucket resource.",
          "readOnly": true,
          "$ref": "Bucket"
        }
      },
      "type": "object"
    }
  },
  "canonicalName": "Firebasestorage",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "name": "firebasestorage",
  "documentationLink": "https://firebase.google.com/docs/storage",
  "servicePath": "",
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "title": "Cloud Storage for Firebase API",
  "resources": {
    "projects": {
      "resources": {
        "buckets": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/buckets/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Resource name of the bucket, mirrors the ID of the underlying Google Cloud Storage bucket, `projects/{project_id_or_number}/buckets/{bucket_id}`."
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/buckets/{bucketsId}",
              "description": "Gets a single linked storage bucket.",
              "id": "firebasestorage.projects.buckets.get",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}",
              "response": {
                "$ref": "Bucket"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "addFirebase": {
              "httpMethod": "POST",
              "parameters": {
                "bucket": {
                  "type": "string",
                  "required": true,
                  "description": "Required. Resource name of the bucket, mirrors the ID of the underlying Google Cloud Storage bucket, `projects/{project_id_or_number}/buckets/{bucket_id}`.",
                  "pattern": "^projects/[^/]+/buckets/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/buckets/{bucketsId}:addFirebase",
              "description": "Links a Google Cloud Storage bucket to a Firebase project.",
              "id": "firebasestorage.projects.buckets.addFirebase",
              "parameterOrder": [
                "bucket"
              ],
              "request": {
                "$ref": "AddFirebaseRequest"
              },
              "path": "v1beta/{+bucket}:addFirebase",
              "response": {
                "$ref": "Bucket"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "list": {
              "description": "Lists the linked storage buckets for a project.",
              "id": "firebasestorage.projects.buckets.list",
              "flatPath": "v1beta/projects/{projectsId}/buckets",
              "parameters": {
                "parent": {
                  "description": "Required. Resource name of the parent Firebase project, `projects/{project_id_or_number}`.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                },
                "pageSize": {
                  "description": "The maximum number of buckets to return. If not set, the server will use a reasonable default.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListBuckets` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBuckets` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "ListBucketsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1beta/{+parent}/buckets",
              "parameterOrder": [
                "parent"
              ]
            },
            "removeFirebase": {
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "bucket"
              ],
              "request": {
                "$ref": "RemoveFirebaseRequest"
              },
              "path": "v1beta/{+bucket}:removeFirebase",
              "flatPath": "v1beta/projects/{projectsId}/buckets/{bucketsId}:removeFirebase",
              "description": "Unlinks a linked Google Cloud Storage bucket from a Firebase project.",
              "id": "firebasestorage.projects.buckets.removeFirebase",
              "httpMethod": "POST",
              "parameters": {
                "bucket": {
                  "pattern": "^projects/[^/]+/buckets/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Resource name of the bucket, mirrors the ID of the underlying Google Cloud Storage bucket, `projects/{project_id_or_number}/buckets/{bucket_id}`."
                }
              }
            }
          }
        },
        "defaultBucket": {
          "methods": {
            "create": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The parent resource where the default bucket will be created, `projects/{project_id_or_number}`.",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "description": "Creates a Spark tier-eligible Cloud Storage bucket and links it to your Firebase project. If the default bucket already exists, this method will re-link it to your Firebase project. See https://firebase.google.com/pricing for pricing details.",
              "id": "firebasestorage.projects.defaultBucket.create",
              "flatPath": "v1beta/projects/{projectsId}/defaultBucket",
              "path": "v1beta/{+parent}/defaultBucket",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "DefaultBucket"
              },
              "response": {
                "$ref": "DefaultBucket"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            }
          }
        }
      },
      "methods": {
        "getDefaultBucket": {
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^projects/[^/]+/defaultBucket$",
              "description": "Required. The name of the default bucket to retrieve, `projects/{project_id_or_number}/defaultBucket`.",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "description": "Gets the default bucket.",
          "id": "firebasestorage.projects.getDefaultBucket",
          "flatPath": "v1beta/projects/{projectsId}/defaultBucket",
          "path": "v1beta/{+name}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "DefaultBucket"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ]
        },
        "deleteDefaultBucket": {
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "description": "Required. The name of the default bucket to delete, `projects/{project_id_or_number}/defaultBucket`.",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^projects/[^/]+/defaultBucket$"
            }
          },
          "flatPath": "v1beta/projects/{projectsId}/defaultBucket",
          "description": "Unlinks and deletes the default bucket.",
          "id": "firebasestorage.projects.deleteDefaultBucket",
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta/{+name}",
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ]
        }
      }
    }
  },
  "version_module": true
}