{
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://firestore.mtls.googleapis.com/",
  "schemas": {
    "GoogleFirestoreAdminV1Database": {
      "description": "A Cloud Firestore Database.",
      "properties": {
        "locationId": {
          "description": "Required. The location of the database. Available locations are listed at https://cloud.google.com/firestore/docs/locations.",
          "type": "string"
        },
        "versionRetentionPeriod": {
          "type": "string",
          "description": "Output only. The period during which past versions of data are retained in the database. Any read or query can specify a `read_time` within this window, and will read the state of the database at that time. If the PITR feature is enabled, the retention period is 7 days. Otherwise, the retention period is 1 hour.",
          "readOnly": true,
          "format": "google-duration"
        },
        "keyPrefix": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The key_prefix for this database. This key_prefix is used, in combination with the project ID (\"~\") to construct the application ID that is returned from the Cloud Datastore APIs in Google App Engine first generation runtimes. This value may be empty in which case the appid to use for URL-encoded keys is the project_id (eg: foo instead of v~foo)."
        },
        "updateTime": {
          "description": "Output only. The timestamp at which this database was most recently updated. Note this only includes updates to the database resource and not data contained by the database.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "mongodbCompatibleDataAccessMode": {
          "type": "string",
          "enum": [
            "DATA_ACCESS_MODE_UNSPECIFIED",
            "DATA_ACCESS_MODE_ENABLED",
            "DATA_ACCESS_MODE_DISABLED"
          ],
          "enumDescriptions": [
            "Not Used.",
            "Accessing the database through the API is allowed.",
            "Accessing the database through the API is disallowed."
          ],
          "description": "Optional. The MongoDB compatible API data access mode to use for this database. If not set on write, the default value is DATA_ACCESS_MODE_ENABLED for Enterprise edition. The value is always DATA_ACCESS_MODE_DISABLED for Standard edition."
        },
        "cmekConfig": {
          "$ref": "GoogleFirestoreAdminV1CmekConfig",
          "description": "Optional. Presence indicates CMEK is enabled for this database."
        },
        "uid": {
          "type": "string",
          "description": "Output only. The system-generated UUID4 for this Database.",
          "readOnly": true
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\""
        },
        "firestoreDataAccessMode": {
          "description": "Optional. The Firestore API data access mode to use for this database. If not set on write: - the default value is DATA_ACCESS_MODE_DISABLED for Enterprise edition. - the default value is DATA_ACCESS_MODE_ENABLED for Standard edition.",
          "type": "string",
          "enum": [
            "DATA_ACCESS_MODE_UNSPECIFIED",
            "DATA_ACCESS_MODE_ENABLED",
            "DATA_ACCESS_MODE_DISABLED"
          ],
          "enumDescriptions": [
            "Not Used.",
            "Accessing the database through the API is allowed.",
            "Accessing the database through the API is disallowed."
          ]
        },
        "earliestVersionTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The earliest timestamp at which older versions of the data can be read from the database. See [version_retention_period] above; this field is populated with `now - version_retention_period`. This value is continuously updated, and becomes stale the moment it is queried. If you are using this value to recover data, make sure to account for the time from the moment when the value is queried to the moment when you initiate the recovery.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp at which this database was created. Databases created before 2016 do not populate create_time.",
          "readOnly": true,
          "type": "string"
        },
        "deleteTime": {
          "description": "Output only. The timestamp at which this database was deleted. Only set if the database has been deleted.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "sourceInfo": {
          "readOnly": true,
          "description": "Output only. Information about the provenance of this database.",
          "$ref": "GoogleFirestoreAdminV1SourceInfo"
        },
        "type": {
          "enumDescriptions": [
            "Not used.",
            "Firestore Native Mode",
            "Firestore in Datastore Mode."
          ],
          "type": "string",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "FIRESTORE_NATIVE",
            "DATASTORE_MODE"
          ],
          "description": "Required. The type of the database. See https://cloud.google.com/datastore/docs/firestore-or-datastore for information about how to choose."
        },
        "previousId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The database resource's prior database ID. This field is only populated for deleted databases."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the Database. Format: `projects/{project}/databases/{database}`"
        },
        "realtimeUpdatesMode": {
          "enumDescriptions": [
            "The Realtime Updates feature is not specified.",
            "The Realtime Updates feature is enabled by default. This could potentially degrade write performance for the database.",
            "The Realtime Updates feature is disabled by default."
          ],
          "type": "string",
          "enum": [
            "REALTIME_UPDATES_MODE_UNSPECIFIED",
            "REALTIME_UPDATES_MODE_ENABLED",
            "REALTIME_UPDATES_MODE_DISABLED"
          ],
          "description": "Immutable. The default Realtime Updates mode to use for this database."
        },
        "appEngineIntegrationMode": {
          "description": "The App Engine integration mode to use for this database.",
          "enumDescriptions": [
            "Not used.",
            "If an App Engine application exists in the same region as this database, App Engine configuration will impact this database. This includes disabling of the application & database, as well as disabling writes to the database.",
            "App Engine has no effect on the ability of this database to serve requests. This is the default setting for databases created with the Firestore API."
          ],
          "type": "string",
          "enum": [
            "APP_ENGINE_INTEGRATION_MODE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "pointInTimeRecoveryEnablement": {
          "description": "Whether to enable the PITR feature on this database.",
          "enumDescriptions": [
            "Not used.",
            "Reads are supported on selected versions of the data from within the past 7 days: * Reads against any timestamp within the past hour * Reads against 1-minute snapshots beyond 1 hour and within 7 days `version_retention_period` and `earliest_version_time` can be used to determine the supported versions.",
            "Reads are supported on any version of the data from within the past 1 hour."
          ],
          "type": "string",
          "enum": [
            "POINT_IN_TIME_RECOVERY_ENABLEMENT_UNSPECIFIED",
            "POINT_IN_TIME_RECOVERY_ENABLED",
            "POINT_IN_TIME_RECOVERY_DISABLED"
          ]
        },
        "freeTier": {
          "readOnly": true,
          "description": "Output only. Background: Free tier is the ability of a Firestore database to use a small amount of resources every day without being charged. Once usage exceeds the free tier limit further usage is charged. Whether this database can make use of the free tier. Only one database per project can be eligible for the free tier. The first (or next) database that is created in a project without a free tier database will be marked as eligible for the free tier. Databases that are created while there is a free tier database will not be eligible for the free tier.",
          "type": "boolean"
        },
        "databaseEdition": {
          "type": "string",
          "enum": [
            "DATABASE_EDITION_UNSPECIFIED",
            "STANDARD",
            "ENTERPRISE"
          ],
          "enumDescriptions": [
            "Not used.",
            "Standard edition. This is the default setting if not specified.",
            "Enterprise edition."
          ],
          "description": "Immutable. The edition of the database."
        },
        "deleteProtectionState": {
          "enumDescriptions": [
            "The default value. Delete protection type is not specified",
            "Delete protection is disabled",
            "Delete protection is enabled"
          ],
          "type": "string",
          "enum": [
            "DELETE_PROTECTION_STATE_UNSPECIFIED",
            "DELETE_PROTECTION_DISABLED",
            "DELETE_PROTECTION_ENABLED"
          ],
          "description": "State of delete protection for the database."
        },
        "concurrencyMode": {
          "type": "string",
          "enum": [
            "CONCURRENCY_MODE_UNSPECIFIED",
            "OPTIMISTIC",
            "PESSIMISTIC",
            "OPTIMISTIC_WITH_ENTITY_GROUPS"
          ],
          "description": "The default concurrency control mode to use for this database. If unspecified in a CreateDatabase request, this will default based on the database edition: Optimistic for Enterprise and Pessimistic for all other databases. While transactions can explicitly specify their own concurrency mode, this setting defines the default behavior when left unspecified. Important: This database-level setting is not respected for Firestore with MongoDB compatibility. All transactions through the MongoDB compatibility layer will use optimistic concurrency control, regardless of this setting.",
          "enumDescriptions": [
            "Not used.",
            "Use optimistic concurrency control by default. This mode is available for Cloud Firestore databases. This is the default setting for Cloud Firestore Enterprise edition databases.",
            "Use pessimistic concurrency control by default. This mode is available for Cloud Firestore databases. This is the default setting for Cloud Firestore Standard edition databases.",
            "Use optimistic concurrency control with entity groups by default. This mode is enabled for some databases that were automatically upgraded from Cloud Datastore to Cloud Firestore with Datastore Mode. It is not recommended for any new databases, and not supported for Firestore Native databases."
          ]
        }
      },
      "type": "object",
      "id": "GoogleFirestoreAdminV1Database"
    },
    "ExistenceFilter": {
      "description": "A digest of all the documents that match a given target.",
      "type": "object",
      "properties": {
        "targetId": {
          "format": "int32",
          "description": "The target ID to which this filter applies.",
          "type": "integer"
        },
        "count": {
          "description": "The total count of documents that match target_id. If different from the count of documents in the client that match, the client must manually determine which documents no longer match the target. The client can use the `unchanged_names` bloom filter to assist with this determination by testing ALL the document names against the filter; if the document name is NOT in the filter, it means the document no longer matches the target.",
          "type": "integer",
          "format": "int32"
        },
        "unchangedNames": {
          "description": "A bloom filter that, despite its name, contains the UTF-8 byte encodings of the resource names of ALL the documents that match target_id, in the form `projects/{project_id}/databases/{database_id}/documents/{document_path}`. This bloom filter may be omitted at the server's discretion, such as if it is deemed that the client will not make use of it or if it is too computationally expensive to calculate or transmit. Clients must gracefully handle this field being absent by falling back to the logic used before this field existed; that is, re-add the target without a resume token to figure out which documents in the client's cache are out of sync.",
          "$ref": "BloomFilter"
        }
      },
      "id": "ExistenceFilter"
    },
    "DocumentTransform": {
      "id": "DocumentTransform",
      "type": "object",
      "properties": {
        "document": {
          "description": "The name of the document to transform.",
          "type": "string"
        },
        "fieldTransforms": {
          "items": {
            "$ref": "FieldTransform"
          },
          "description": "The list of transformations to apply to the fields of the document, in order. This must not be empty.",
          "type": "array"
        }
      },
      "description": "A transformation of a document."
    },
    "GoogleFirestoreAdminV1CustomerManagedEncryptionOptions": {
      "id": "GoogleFirestoreAdminV1CustomerManagedEncryptionOptions",
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "Required. Only keys in the same location as the database are allowed to be used for encryption. For Firestore's nam5 multi-region, this corresponds to Cloud KMS multi-region us. For Firestore's eur3 multi-region, this corresponds to Cloud KMS multi-region europe. See https://cloud.google.com/kms/docs/locations. The expected format is `projects/{project_id}/locations/{kms_location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}`."
        }
      },
      "description": "The configuration options for using CMEK (Customer Managed Encryption Key) encryption.",
      "type": "object"
    },
    "Location": {
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "id": "Location"
    },
    "GoogleFirestoreAdminV1ImportDocumentsRequest": {
      "id": "GoogleFirestoreAdminV1ImportDocumentsRequest",
      "type": "object",
      "properties": {
        "inputUriPrefix": {
          "type": "string",
          "description": "Location of the exported files. This must match the output_uri_prefix of an ExportDocumentsResponse from an export that has completed successfully. See: google.firestore.admin.v1.ExportDocumentsResponse.output_uri_prefix."
        },
        "collectionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "IDs of the collection groups to import. Unspecified means all collection groups that were included in the export. Each collection group in this list must be unique."
        },
        "namespaceIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "An empty list represents all namespaces. This is the preferred usage for databases that don't use namespaces. An empty string element represents the default namespace. This should be used if the database has data in non-default namespaces, but doesn't want to include them. Each namespace in this list must be unique."
        }
      },
      "description": "The request for FirestoreAdmin.ImportDocuments."
    },
    "Count": {
      "description": "Count of documents that match the query. The `COUNT(*)` aggregation function operates on the entire document so it does not require a field reference.",
      "properties": {
        "upTo": {
          "format": "int64",
          "description": "Optional. Optional constraint on the maximum number of documents to count. This provides a way to set an upper bound on the number of documents to scan, limiting latency, and cost. Unspecified is interpreted as no bound. High-Level Example: ``` AGGREGATE COUNT_UP_TO(1000) OVER ( SELECT * FROM k ); ``` Requires: * Must be greater than zero when present.",
          "type": "string"
        }
      },
      "id": "Count",
      "type": "object"
    },
    "BloomFilter": {
      "type": "object",
      "id": "BloomFilter",
      "properties": {
        "bits": {
          "description": "The bloom filter data.",
          "$ref": "BitSequence"
        },
        "hashCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of hashes used by the algorithm."
        }
      },
      "description": "A bloom filter (https://en.wikipedia.org/wiki/Bloom_filter). The bloom filter hashes the entries with MD5 and treats the resulting 128-bit hash as 2 distinct 64-bit hash values, interpreted as unsigned integers using 2's complement encoding. These two hash values, named `h1` and `h2`, are then used to compute the `hash_count` hash values using the formula, starting at `i=0`: h(i) = h1 + (i * h2) These resulting values are then taken modulo the number of bits in the bloom filter to get the bits of the bloom filter to test for the given entry."
    },
    "StructuredAggregationQuery": {
      "id": "StructuredAggregationQuery",
      "description": "Firestore query for running an aggregation over a StructuredQuery.",
      "type": "object",
      "properties": {
        "structuredQuery": {
          "$ref": "StructuredQuery",
          "description": "Nested structured query."
        },
        "aggregations": {
          "type": "array",
          "description": "Optional. Series of aggregations to apply over the results of the `structured_query`. Requires: * A minimum of one and maximum of five aggregations per query.",
          "items": {
            "$ref": "Aggregation"
          }
        }
      }
    },
    "ExecutePipelineRequest": {
      "id": "ExecutePipelineRequest",
      "description": "The request for Firestore.ExecutePipeline.",
      "type": "object",
      "properties": {
        "structuredPipeline": {
          "$ref": "StructuredPipeline",
          "description": "A pipelined operation."
        },
        "readTime": {
          "type": "string",
          "description": "Execute the pipeline in a snapshot transaction at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
          "format": "google-datetime"
        },
        "requestOptions": {
          "description": "Optional. The request options for this request.",
          "$ref": "RequestOptions"
        },
        "transaction": {
          "type": "string",
          "format": "byte",
          "description": "Run the query within an already active transaction. The value here is the opaque transaction ID to execute the query in."
        },
        "newTransaction": {
          "description": "Execute the pipeline in a new transaction. The identifier of the newly created transaction will be returned in the first response on the stream. This defaults to a read-only transaction.",
          "$ref": "TransactionOptions"
        },
        "autoCommitTransaction": {
          "type": "boolean",
          "description": "Optional. Automatically commits the transaction after the pipeline has been executed. Only permitted in combination with `transaction` or `new_transaction`."
        }
      }
    },
    "GoogleFirestoreAdminV1IndexOperationMetadata": {
      "description": "Metadata for google.longrunning.Operation results from FirestoreAdmin.CreateIndex.",
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "The time this operation completed. Will be unset if operation still in progress.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time this operation started.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "description": "The state of the operation.",
          "type": "string",
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ]
        },
        "index": {
          "type": "string",
          "description": "The index resource that this operation is acting on. For example: `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/indexes/{index_id}`"
        },
        "progressBytes": {
          "$ref": "GoogleFirestoreAdminV1Progress",
          "description": "The progress, in bytes, of this operation."
        },
        "progressDocuments": {
          "description": "The progress, in documents, of this operation.",
          "$ref": "GoogleFirestoreAdminV1Progress"
        }
      },
      "id": "GoogleFirestoreAdminV1IndexOperationMetadata"
    },
    "GoogleFirestoreAdminV1BackupSchedule": {
      "description": "A backup schedule for a Cloud Firestore Database. This resource is owned by the database it is backing up, and is deleted along with the database. The actual backups are not though.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The timestamp at which this backup schedule was created and effective since. No backups will be created for this schedule before this time.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "dailyRecurrence": {
          "description": "For a schedule that runs daily.",
          "$ref": "GoogleFirestoreAdminV1DailyRecurrence"
        },
        "name": {
          "description": "Output only. The unique backup schedule identifier across all locations and databases for the given project. This will be auto-assigned. Format is `projects/{project}/databases/{database}/backupSchedules/{backup_schedule}`",
          "type": "string",
          "readOnly": true
        },
        "retention": {
          "format": "google-duration",
          "type": "string",
          "description": "At what relative time in the future, compared to its creation time, the backup should be deleted, e.g. keep backups for 7 days. The maximum supported retention period is 14 weeks."
        },
        "weeklyRecurrence": {
          "description": "For a schedule that runs weekly on a specific day.",
          "$ref": "GoogleFirestoreAdminV1WeeklyRecurrence"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp at which this backup schedule was most recently updated. When a backup schedule is first created, this is the same as create_time.",
          "readOnly": true
        }
      },
      "id": "GoogleFirestoreAdminV1BackupSchedule"
    },
    "CollectionSelector": {
      "description": "A selection of a collection, such as `messages as m1`.",
      "properties": {
        "collectionId": {
          "type": "string",
          "description": "The collection ID. When set, selects only collections with this ID."
        },
        "allDescendants": {
          "type": "boolean",
          "description": "When false, selects only collections that are immediate children of the `parent` specified in the containing `RunQueryRequest`. When true, selects all descendant collections."
        }
      },
      "id": "CollectionSelector",
      "type": "object"
    },
    "Projection": {
      "id": "Projection",
      "description": "The projection of document's fields to return.",
      "properties": {
        "fields": {
          "description": "The fields to return. If empty, all fields are returned. To only return the name of the document, use `['__name__']`.",
          "items": {
            "$ref": "FieldReference"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ExplainMetrics": {
      "properties": {
        "executionStats": {
          "$ref": "ExecutionStats",
          "description": "Aggregated stats from the execution of the query. Only present when ExplainOptions.analyze is set to true."
        },
        "planSummary": {
          "$ref": "PlanSummary",
          "description": "Planning phase information for the query."
        }
      },
      "id": "ExplainMetrics",
      "type": "object",
      "description": "Explain metrics for the query."
    },
    "GoogleFirestoreAdminV1WeeklyRecurrence": {
      "type": "object",
      "properties": {
        "day": {
          "description": "The day of week to run. DAY_OF_WEEK_UNSPECIFIED is not allowed.",
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        }
      },
      "description": "Represents a recurring schedule that runs on a specified day of the week. The time zone is UTC.",
      "id": "GoogleFirestoreAdminV1WeeklyRecurrence"
    },
    "GoogleFirestoreAdminV1TtlConfig": {
      "type": "object",
      "description": "The TTL (time-to-live) configuration for documents that have this `Field` set. A timestamp stored in a TTL-enabled field will be used to determine the expiration time of the document. The expiration time is the sum of the timestamp value and the `expiration_offset`. For Enterprise edition databases, the timestamp value may alternatively be stored in an array value in the TTL-enabled field. An expiration time in the past indicates that the document is eligible for immediate expiration. Using any other data type or leaving the field absent will disable expiration for the individual document.",
      "properties": {
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified or unknown.",
            "The TTL is being applied. There is an active long-running operation to track the change. Newly written documents will have TTLs applied as requested. Requested TTLs on existing documents are still being processed. When TTLs on all existing documents have been processed, the state will move to 'ACTIVE'.",
            "The TTL is active for all documents.",
            "The TTL configuration could not be enabled for all existing documents. Newly written documents will continue to have their TTL applied. The LRO returned when last attempting to enable TTL for this `Field` has failed, and may have more details."
          ],
          "description": "Output only. The state of the TTL configuration.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "NEEDS_REPAIR"
          ]
        },
        "expirationOffset": {
          "description": "Optional. The offset, relative to the timestamp value from the TTL-enabled field, used to determine the document's expiration time. `expiration_offset.seconds` must be between 0 and 2,147,483,647 inclusive. Values more precise than seconds are rejected. If unset, defaults to 0, in which case the expiration time is the same as the timestamp value from the TTL-enabled field.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "GoogleFirestoreAdminV1TtlConfig"
    },
    "RunQueryRequest": {
      "properties": {
        "newTransaction": {
          "description": "Starts a new transaction and reads the documents. Defaults to a read-only transaction. The new transaction ID will be returned as the first response in the stream.",
          "$ref": "TransactionOptions"
        },
        "readTime": {
          "type": "string",
          "description": "Reads documents as they were at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
          "format": "google-datetime"
        },
        "explainOptions": {
          "$ref": "ExplainOptions",
          "description": "Optional. Explain options for the query. If set, additional query statistics will be returned. If not, only query results will be returned."
        },
        "structuredQuery": {
          "$ref": "StructuredQuery",
          "description": "A structured query."
        },
        "transaction": {
          "type": "string",
          "format": "byte",
          "description": "Run the query within an already active transaction. The value here is the opaque transaction ID to execute the query in."
        },
        "requestOptions": {
          "$ref": "RequestOptions",
          "description": "Optional. The request options for this request."
        }
      },
      "type": "object",
      "description": "The request for Firestore.RunQuery.",
      "id": "RunQueryRequest"
    },
    "StructuredPipeline": {
      "description": "A Firestore query represented as an ordered list of operations / stages. This is considered the top-level function which plans and executes a query. It is logically equivalent to `query(stages, options)`, but prevents the client from having to build a function wrapper.",
      "type": "object",
      "properties": {
        "options": {
          "additionalProperties": {
            "$ref": "Value"
          },
          "description": "Optional. Optional query-level arguments. ",
          "type": "object"
        },
        "pipeline": {
          "$ref": "Pipeline",
          "description": "Required. The pipeline query to execute."
        }
      },
      "id": "StructuredPipeline"
    },
    "GoogleFirestoreAdminV1IndexField": {
      "properties": {
        "searchConfig": {
          "$ref": "GoogleFirestoreAdminV1SearchConfig",
          "description": "Indicates that this field supports search operations."
        },
        "vectorConfig": {
          "description": "Indicates that this field supports nearest neighbor and distance operations on vector.",
          "$ref": "GoogleFirestoreAdminV1VectorConfig"
        },
        "arrayConfig": {
          "description": "Indicates that this field supports operations on `array_value`s.",
          "type": "string",
          "enum": [
            "ARRAY_CONFIG_UNSPECIFIED",
            "CONTAINS"
          ],
          "enumDescriptions": [
            "The index does not support additional array queries.",
            "The index supports array containment queries."
          ]
        },
        "fieldPath": {
          "type": "string",
          "description": "Can be __name__. For single field indexes, this must match the name of the field or may be omitted."
        },
        "order": {
          "type": "string",
          "enum": [
            "ORDER_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ],
          "enumDescriptions": [
            "The ordering is unspecified. Not a valid option.",
            "The field is ordered by ascending field value.",
            "The field is ordered by descending field value."
          ],
          "description": "Indicates that this field supports ordering by the specified order or comparing using =, !=, <, <=, >, >=."
        }
      },
      "type": "object",
      "id": "GoogleFirestoreAdminV1IndexField",
      "description": "A field in an index. The field_path describes which field is indexed, the value_mode describes how the field value is indexed."
    },
    "Write": {
      "id": "Write",
      "description": "A write on a document.",
      "type": "object",
      "properties": {
        "update": {
          "description": "A document to write.",
          "$ref": "Document"
        },
        "transform": {
          "description": "Applies a transformation to a document.",
          "$ref": "DocumentTransform"
        },
        "updateMask": {
          "$ref": "DocumentMask",
          "description": "The fields to update in this write. This field can be set only when the operation is `update`. If the mask is not set for an `update` and the document exists, any existing data will be overwritten. If the mask is set and the document on the server has fields not covered by the mask, they are left unchanged. Fields referenced in the mask, but not present in the input document, are deleted from the document on the server. The field paths in this mask must not contain a reserved field name."
        },
        "updateTransforms": {
          "items": {
            "$ref": "FieldTransform"
          },
          "description": "The transforms to perform after update. This field can be set only when the operation is `update`. If present, this write is equivalent to performing `update` and `transform` to the same document atomically and in order.",
          "type": "array"
        },
        "delete": {
          "type": "string",
          "description": "A document name to delete. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`."
        },
        "currentDocument": {
          "description": "An optional precondition on the document. The write will fail if this is set and not met by the target document.",
          "$ref": "Precondition"
        }
      }
    },
    "RunQueryResponse": {
      "properties": {
        "document": {
          "$ref": "Document",
          "description": "A query result, not set when reporting partial progress."
        },
        "transaction": {
          "type": "string",
          "format": "byte",
          "description": "The transaction that was started as part of this request. Can only be set in the first response, and only if RunQueryRequest.new_transaction was set in the request. If set, no other fields will be set in this response."
        },
        "skippedResults": {
          "format": "int32",
          "description": "The number of results that have been skipped due to an offset between the last response and the current response.",
          "type": "integer"
        },
        "done": {
          "type": "boolean",
          "description": "If present, Firestore has completely finished the request and no more documents will be returned."
        },
        "explainMetrics": {
          "$ref": "ExplainMetrics",
          "description": "Query explain metrics. This is only present when the RunQueryRequest.explain_options is provided, and it is sent only once with the last response in the stream."
        },
        "readTime": {
          "type": "string",
          "description": "The time at which the document was read. This may be monotonically increasing; in this case, the previous documents in the result stream are guaranteed not to have changed between their `read_time` and this one. If the query returns no results, a response with `read_time` and no `document` will be sent, and this represents the time at which the query was run.",
          "format": "google-datetime"
        }
      },
      "id": "RunQueryResponse",
      "description": "The response for Firestore.RunQuery.",
      "type": "object"
    },
    "CommitResponse": {
      "properties": {
        "commitTime": {
          "description": "The time at which the commit occurred. Any read with an equal or greater `read_time` is guaranteed to see the effects of the commit.",
          "format": "google-datetime",
          "type": "string"
        },
        "writeResults": {
          "type": "array",
          "items": {
            "$ref": "WriteResult"
          },
          "description": "The result of applying the writes. This i-th write result corresponds to the i-th write in the request."
        }
      },
      "id": "CommitResponse",
      "description": "The response for Firestore.Commit.",
      "type": "object"
    },
    "GoogleFirestoreAdminV1UserCreds": {
      "type": "object",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time the user creds were last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. Whether the user creds are enabled or disabled. Defaults to ENABLED on creation.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "The default value. Should not be used.",
            "The user creds are enabled.",
            "The user creds are disabled."
          ]
        },
        "securePassword": {
          "description": "Output only. The plaintext server-generated password for the user creds. Only populated in responses for CreateUserCreds and ResetUserPassword.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the UserCreds. Format: `projects/{project}/databases/{database}/userCreds/{user_creds}`"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the user creds were created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "resourceIdentity": {
          "$ref": "GoogleFirestoreAdminV1ResourceIdentity",
          "description": "Resource Identity descriptor."
        }
      },
      "id": "GoogleFirestoreAdminV1UserCreds",
      "description": "A Cloud Firestore User Creds."
    },
    "WriteResponse": {
      "id": "WriteResponse",
      "type": "object",
      "description": "The response for Firestore.Write.",
      "properties": {
        "streamToken": {
          "description": "A token that represents the position of this response in the stream. This can be used by a client to resume the stream at this point. This field is always set.",
          "format": "byte",
          "type": "string"
        },
        "commitTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the commit occurred. Any read with an equal or greater `read_time` is guaranteed to see the effects of the write."
        },
        "streamId": {
          "type": "string",
          "description": "The ID of the stream. Only set on the first message, when a new stream was created."
        },
        "writeResults": {
          "description": "The result of applying the writes. This i-th write result corresponds to the i-th write in the request.",
          "type": "array",
          "items": {
            "$ref": "WriteResult"
          }
        }
      }
    },
    "ExplainOptions": {
      "description": "Explain options for the query.",
      "id": "ExplainOptions",
      "properties": {
        "analyze": {
          "type": "boolean",
          "description": "Optional. Whether to execute this query. When false (the default), the query will be planned, returning only metrics from the planning stages. When true, the query will be planned and executed, returning the full query results along with both planning and execution stage metrics."
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1SearchIndexOptions": {
      "properties": {
        "textLanguageOverrideFieldPath": {
          "description": "Optional. The field in the document that specifies which language to use for that specific document. For indexes with MONGODB_COMPATIBLE_API ApiScope: if unspecified, the language is taken from the \"language\" field if it exists or from `text_language` if it does not.",
          "type": "string"
        },
        "textLanguage": {
          "type": "string",
          "description": "Optional. The language to use for text search indexes. Used as the default language if not overridden at the document level by specifying the `text_language_override_field`. The language is specified as a BCP 47 language code. For indexes with MONGODB_COMPATIBLE_API ApiScope: If unspecified, the default language is English. For indexes with `ANY_API` ApiScope: If unspecified, the default behavior is autodetect."
        }
      },
      "description": "Options for search indexes at the definition level.",
      "id": "GoogleFirestoreAdminV1SearchIndexOptions",
      "type": "object"
    },
    "DocumentMask": {
      "properties": {
        "fieldPaths": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference."
        }
      },
      "type": "object",
      "description": "A set of field paths on a document. Used to restrict a get or update operation on a document to a subset of its fields. This is different from standard field masks, as this is always scoped to a Document, and takes in account the dynamic nature of Value.",
      "id": "DocumentMask"
    },
    "BatchGetDocumentsRequest": {
      "type": "object",
      "id": "BatchGetDocumentsRequest",
      "properties": {
        "readTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Reads documents as they were at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days."
        },
        "transaction": {
          "format": "byte",
          "description": "Reads documents in a transaction.",
          "type": "string"
        },
        "documents": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The names of the documents to retrieve. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`. The request will fail if any of the document is not a child resource of the given `database`. Duplicate names will be elided."
        },
        "requestOptions": {
          "$ref": "RequestOptions",
          "description": "Optional. The request options for this request."
        },
        "newTransaction": {
          "description": "Starts a new transaction and reads the documents. Defaults to a read-only transaction. The new transaction ID will be returned as the first response in the stream.",
          "$ref": "TransactionOptions"
        },
        "mask": {
          "description": "The fields to return. If not set, returns all fields. If a document has a field that is not present in this mask, that field will not be returned in the response.",
          "$ref": "DocumentMask"
        }
      },
      "description": "The request for Firestore.BatchGetDocuments."
    },
    "GoogleFirestoreAdminV1DatabaseScope": {
      "description": "The change stream is scoped to the entire database. All events in the database are visible to the Change Stream. One Database scope Change Stream is allowed per database.",
      "type": "object",
      "id": "GoogleFirestoreAdminV1DatabaseScope",
      "properties": {}
    },
    "GoogleFirestoreAdminV1SearchTextSpec": {
      "type": "object",
      "properties": {
        "indexSpecs": {
          "type": "array",
          "description": "Required. Specifications for how the field should be indexed. Repeated so that the field can be indexed in multiple ways.",
          "items": {
            "$ref": "GoogleFirestoreAdminV1SearchTextIndexSpec"
          }
        }
      },
      "id": "GoogleFirestoreAdminV1SearchTextSpec",
      "description": "The specification for how to build a text search index for a field."
    },
    "FieldTransform": {
      "id": "FieldTransform",
      "properties": {
        "appendMissingElements": {
          "description": "Append the given elements in order if they are not already present in the current field value. If the field is not an array, or if the field does not yet exist, it is first set to the empty array. Equivalent numbers of different types (e.g. 3L and 3.0) are considered equal when checking if a value is missing. NaN is equal to NaN, and Null is equal to Null. If the input contains multiple equivalent values, only the first will be considered. The corresponding transform_result will be the null value.",
          "$ref": "ArrayValue"
        },
        "setToServerValue": {
          "description": "Sets the field to the given server value.",
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The time at which the server processed the request, with millisecond precision. If used on multiple fields (same or different documents) in a transaction, all the fields will get the same server timestamp."
          ],
          "type": "string",
          "enum": [
            "SERVER_VALUE_UNSPECIFIED",
            "REQUEST_TIME"
          ]
        },
        "fieldPath": {
          "type": "string",
          "description": "The path of the field. See Document.fields for the field path syntax reference."
        },
        "maximum": {
          "$ref": "Value",
          "description": "Sets the field to the maximum of its current value and the given value. This must be an integer or a double value. If the field is not an integer or double, or if the field does not yet exist, the transformation will set the field to the given value. If a maximum operation is applied where the field and the input value are of mixed types (that is - one is an integer and one is a double) the field takes on the type of the larger operand. If the operands are equivalent (e.g. 3 and 3.0), the field does not change. 0, 0.0, and -0.0 are all zero. The maximum of a zero stored value and zero input value is always the stored value. The maximum of any numeric value x and NaN is NaN."
        },
        "minimum": {
          "description": "Sets the field to the minimum of its current value and the given value. This must be an integer or a double value. If the field is not an integer or double, or if the field does not yet exist, the transformation will set the field to the input value. If a minimum operation is applied where the field and the input value are of mixed types (that is - one is an integer and one is a double) the field takes on the type of the smaller operand. If the operands are equivalent (e.g. 3 and 3.0), the field does not change. 0, 0.0, and -0.0 are all zero. The minimum of a zero stored value and zero input value is always the stored value. The minimum of any numeric value x and NaN is NaN.",
          "$ref": "Value"
        },
        "increment": {
          "description": "Adds the given value to the field's current value. This must be an integer or a double value. If the field is not an integer or double, or if the field does not yet exist, the transformation will set the field to the given value. If either of the given value or the current field value are doubles, both values will be interpreted as doubles. Double arithmetic and representation of double values follow IEEE 754 semantics. If there is positive/negative integer overflow, the field is resolved to the largest magnitude positive/negative integer.",
          "$ref": "Value"
        },
        "removeAllFromArray": {
          "description": "Remove all of the given elements from the array in the field. If the field is not an array, or if the field does not yet exist, it is set to the empty array. Equivalent numbers of the different types (e.g. 3L and 3.0) are considered equal when deciding whether an element should be removed. NaN is equal to NaN, and Null is equal to Null. This will remove all equivalent values if there are duplicates. The corresponding transform_result will be the null value.",
          "$ref": "ArrayValue"
        }
      },
      "type": "object",
      "description": "A transformation of a field of the document."
    },
    "GoogleFirestoreAdminV1BulkDeleteDocumentsRequest": {
      "properties": {
        "namespaceIds": {
          "type": "array",
          "description": "Optional. Namespaces to delete. An empty list means all namespaces. This is the recommended usage for databases that don't use namespaces. An empty string element represents the default namespace. This should be used if the database has data in non-default namespaces, but doesn't want to delete from them. Each namespace in this list must be unique.",
          "items": {
            "type": "string"
          }
        },
        "collectionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. IDs of the collection groups to delete. Unspecified means all collection groups. Each collection group in this list must be unique."
        }
      },
      "type": "object",
      "description": "The request for FirestoreAdmin.BulkDeleteDocuments. When both collection_ids and namespace_ids are set, only documents satisfying both conditions will be deleted. Requests with namespace_ids and collection_ids both empty will be rejected. Please use FirestoreAdmin.DeleteDatabase instead.",
      "id": "GoogleFirestoreAdminV1BulkDeleteDocumentsRequest"
    },
    "GoogleFirestoreAdminV1ListBackupSchedulesResponse": {
      "properties": {
        "backupSchedules": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirestoreAdminV1BackupSchedule"
          },
          "description": "List of all backup schedules."
        }
      },
      "description": "The response for FirestoreAdmin.ListBackupSchedules.",
      "type": "object",
      "id": "GoogleFirestoreAdminV1ListBackupSchedulesResponse"
    },
    "RunAggregationQueryRequest": {
      "type": "object",
      "id": "RunAggregationQueryRequest",
      "properties": {
        "requestOptions": {
          "description": "Optional. The request options for the request.",
          "$ref": "RequestOptions"
        },
        "readTime": {
          "description": "Executes the query at the given timestamp. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
          "type": "string",
          "format": "google-datetime"
        },
        "explainOptions": {
          "description": "Optional. Explain options for the query. If set, additional query statistics will be returned. If not, only query results will be returned.",
          "$ref": "ExplainOptions"
        },
        "newTransaction": {
          "description": "Starts a new transaction as part of the query, defaulting to read-only. The new transaction ID will be returned as the first response in the stream.",
          "$ref": "TransactionOptions"
        },
        "structuredAggregationQuery": {
          "description": "An aggregation query.",
          "$ref": "StructuredAggregationQuery"
        },
        "transaction": {
          "description": "Run the aggregation within an already active transaction. The value here is the opaque transaction ID to execute the query in.",
          "format": "byte",
          "type": "string"
        }
      },
      "description": "The request for Firestore.RunAggregationQuery."
    },
    "ExecutePipelineResponse": {
      "id": "ExecutePipelineResponse",
      "description": "The response for Firestore.ExecutePipeline.",
      "properties": {
        "transaction": {
          "type": "string",
          "description": "Newly created transaction identifier. This field is only specified as part of the first response from the server, alongside the `results` field when the original request specified ExecuteRequest.new_transaction.",
          "format": "byte"
        },
        "executionTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the results are valid. This is a (not strictly) monotonically increasing value across multiple responses in the same stream. The API guarantees that all previously returned results are still valid at the latest `execution_time`. This allows the API consumer to treat the query if it ran at the latest `execution_time` returned. If the query returns no results, a response with `execution_time` and no `results` will be sent, and this represents the time at which the operation was run."
        },
        "results": {
          "type": "array",
          "description": "An ordered batch of results returned executing a pipeline. The batch size is variable, and can even be zero for when only a partial progress message is returned. The fields present in the returned documents are only those that were explicitly requested in the pipeline, this includes those like `__name__` and `__update_time__`. This is explicitly a divergence from `Firestore.RunQuery` / `Firestore.GetDocument` RPCs which always return such fields even when they are not specified in the `mask`.",
          "items": {
            "$ref": "Document"
          }
        },
        "explainStats": {
          "$ref": "ExplainStats",
          "description": "Query explain stats. This is present on the **last** response if the request configured explain to run in 'analyze' or 'explain' mode in the pipeline options. If the query does not return any results, a response with `explain_stats` and no `results` will still be sent."
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1Backup": {
      "description": "A Backup of a Cloud Firestore Database. The backup contains all documents and index configurations for the given database at a specific point in time.",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "NOT_AVAILABLE"
          ],
          "description": "Output only. The current state of the backup.",
          "enumDescriptions": [
            "The state is unspecified.",
            "The pending backup is still being created. Operations on the backup will be rejected in this state.",
            "The backup is complete and ready to use.",
            "The backup is not available at this moment."
          ],
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique resource name of the Backup. Format is `projects/{project}/locations/{location}/backups/{backup}`. The location in the name will be the Standard Managed Multi-Region (SMMR) location (e.g. `us`) if the backup was created with an SMMR location, or the Google Managed Multi-Region (GMMR) location (e.g. `nam5`) if the backup was created with a GMMR location."
        },
        "snapshotTime": {
          "description": "Output only. The backup contains an externally consistent copy of the database at this time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "database": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the Firestore database that the backup is from. Format is `projects/{project}/databases/{database}`."
        },
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp at which this backup expires.",
          "readOnly": true
        },
        "stats": {
          "readOnly": true,
          "$ref": "GoogleFirestoreAdminV1Stats",
          "description": "Output only. Statistics about the backup. This data only becomes available after the backup is fully materialized to secondary storage. This field will be empty till then."
        },
        "databaseUid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The system-generated UUID4 for the Firestore database that the backup is from."
        }
      },
      "type": "object",
      "id": "GoogleFirestoreAdminV1Backup"
    },
    "WriteRequest": {
      "description": "The request for Firestore.Write. The first request creates a stream, or resumes an existing one from a token. When creating a new stream, the server replies with a response containing only an ID and a token, to use in the next request. When resuming a stream, the server first streams any responses later than the given token, then a response containing only an up-to-date token, to use in the next request.",
      "type": "object",
      "id": "WriteRequest",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Labels associated with this write request.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "streamToken": {
          "description": "A stream token that was previously sent by the server. The client should set this field to the token from the most recent WriteResponse it has received. This acknowledges that the client has received responses up to this token. After sending this token, earlier tokens may not be used anymore. The server may close the stream if there are too many unacknowledged responses. Leave this field unset when creating a new stream. To resume a stream at a specific point, set this field and the `stream_id` field. Leave this field unset when creating a new stream.",
          "format": "byte",
          "type": "string"
        },
        "requestOptions": {
          "description": "Optional. The request options for the request.",
          "$ref": "RequestOptions"
        },
        "writes": {
          "type": "array",
          "items": {
            "$ref": "Write"
          },
          "description": "The writes to apply. Always executed atomically and in order. This must be empty on the first request. This may be empty on the last request. This must not be empty on all other requests."
        },
        "streamId": {
          "description": "The ID of the write stream to resume. This may only be set in the first message. When left empty, a new write stream will be created.",
          "type": "string"
        }
      }
    },
    "GoogleFirestoreAdminV1VectorConfig": {
      "type": "object",
      "id": "GoogleFirestoreAdminV1VectorConfig",
      "properties": {
        "dimension": {
          "description": "Required. The vector dimension this configuration applies to. The resulting index will only include vectors of this dimension, and can be used for vector search with the same dimension.",
          "format": "int32",
          "type": "integer"
        },
        "flat": {
          "description": "Indicates the vector index is a flat index.",
          "$ref": "GoogleFirestoreAdminV1FlatIndex"
        }
      },
      "description": "The index configuration to support vector search operations"
    },
    "Aggregation": {
      "description": "Defines an aggregation that produces a single result.",
      "id": "Aggregation",
      "type": "object",
      "properties": {
        "sum": {
          "description": "Sum aggregator.",
          "$ref": "Sum"
        },
        "avg": {
          "description": "Average aggregator.",
          "$ref": "Avg"
        },
        "alias": {
          "description": "Optional. Optional name of the field to store the result of the aggregation into. If not provided, Firestore will pick a default name following the format `field_`. For example: ``` AGGREGATE COUNT_UP_TO(1) AS count_up_to_1, COUNT_UP_TO(2), COUNT_UP_TO(3) AS count_up_to_3, COUNT(*) OVER ( ... ); ``` becomes: ``` AGGREGATE COUNT_UP_TO(1) AS count_up_to_1, COUNT_UP_TO(2) AS field_1, COUNT_UP_TO(3) AS count_up_to_3, COUNT(*) AS field_2 OVER ( ... ); ``` Requires: * Must be unique across all aggregation aliases. * Conform to document field name limitations.",
          "type": "string"
        },
        "count": {
          "$ref": "Count",
          "description": "Count aggregator."
        }
      }
    },
    "GoogleFirestoreAdminV1CloneDatabaseMetadata": {
      "description": "Metadata for the long-running operation from the CloneDatabase request.",
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the clone finished, unset for ongoing clones."
        },
        "database": {
          "type": "string",
          "description": "The name of the database being cloned to."
        },
        "progressPercentage": {
          "$ref": "GoogleFirestoreAdminV1Progress",
          "description": "How far along the clone is as an estimated percentage of remaining time."
        },
        "operationState": {
          "type": "string",
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "description": "The operation state of the clone.",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ]
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time the clone was started.",
          "type": "string"
        },
        "pitrSnapshot": {
          "description": "The snapshot from which this database was cloned.",
          "$ref": "GoogleFirestoreAdminV1PitrSnapshot"
        }
      },
      "id": "GoogleFirestoreAdminV1CloneDatabaseMetadata"
    },
    "GoogleFirestoreAdminV1ListFieldsResponse": {
      "id": "GoogleFirestoreAdminV1ListFieldsResponse",
      "properties": {
        "fields": {
          "items": {
            "$ref": "GoogleFirestoreAdminV1Field"
          },
          "description": "The requested fields.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A page token that may be used to request another page of results. If blank, this is the last page.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response for FirestoreAdmin.ListFields."
    },
    "GoogleFirestoreAdminV1DeleteDatabaseMetadata": {
      "id": "GoogleFirestoreAdminV1DeleteDatabaseMetadata",
      "description": "Metadata related to the delete database operation.",
      "properties": {},
      "type": "object"
    },
    "Document": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the document was created. This value increases monotonically when a document is deleted then recreated. It can also be compared to values from other documents and the `read_time` of a query."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the document was last changed. This value is initially set to the `create_time` then increases monotonically with each change to the document. It can also be compared to values from other documents and the `read_time` of a query.",
          "type": "string"
        },
        "fields": {
          "additionalProperties": {
            "$ref": "Value"
          },
          "description": "The document's fields. The map keys represent field names. Field names matching the regular expression `__.*__` are reserved. Reserved field names are forbidden except in certain documented contexts. The field names, represented as UTF-8, must not exceed 1,500 bytes and cannot be empty. Field paths may be used in other contexts to refer to structured fields defined here. For `map_value`, the field path is represented by a dot-delimited (`.`) string of segments. Each segment is either a simple field name (defined below) or a quoted field name. For example, the structured field `\"foo\" : { map_value: { \"x&y\" : { string_value: \"hello\" }}}` would be represented by the field path `` foo.`x&y` ``. A simple field name contains only characters `a` to `z`, `A` to `Z`, `0` to `9`, or `_`, and must not start with `0` to `9`. For example, `foo_bar_17`. A quoted field name starts and ends with `` ` `` and may contain any character. Some characters, including `` ` ``, must be escaped using a `\\`. For example, `` `x&y` `` represents `x&y` and `` `bak\\`tik` `` represents `` bak`tik ``.",
          "type": "object"
        },
        "name": {
          "description": "The resource name of the document, for example `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
          "type": "string"
        }
      },
      "description": "A Firestore document. Must not exceed 1 MiB - 4 bytes.",
      "id": "Document"
    },
    "GoogleFirestoreAdminV1CollectionGroupScope": {
      "id": "GoogleFirestoreAdminV1CollectionGroupScope",
      "type": "object",
      "description": "The change stream is scoped to a collection group. Only events associated with the given collection group are visible to the Change Stream. Only a single change stream can be enabled per collection group.",
      "properties": {
        "collectionGroupId": {
          "type": "string",
          "description": "Required. The collection group name."
        }
      }
    },
    "GoogleFirestoreAdminV1Field": {
      "properties": {
        "indexConfig": {
          "$ref": "GoogleFirestoreAdminV1IndexConfig",
          "description": "The index configuration for this field. If unset, field indexing will revert to the configuration defined by the `ancestor_field`. To explicitly remove all indexes for this field, specify an index config with an empty list of indexes."
        },
        "name": {
          "type": "string",
          "description": "Required. A field name of the form: `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/fields/{field_path}` A field path can be a simple field name, e.g. `address` or a path to fields within `map_value` , e.g. `address.city`, or a special field path. The only valid special field is `*`, which represents any field. Field paths can be quoted using `` ` `` (backtick). The only character that must be escaped within a quoted field path is the backtick character itself, escaped using a backslash. Special characters in field paths that must be quoted include: `*`, `.`, `` ` `` (backtick), `[`, `]`, as well as any ascii symbolic characters. Examples: `` `address.city` `` represents a field named `address.city`, not the map key `city` in the field `address`. `` `*` `` represents a field named `*`, not any field. A special `Field` contains the default indexing settings for all fields. This field's resource name is: `projects/{project_id}/databases/{database_id}/collectionGroups/__default__/fields/*` Indexes defined on this `Field` will be applied to all fields which do not have their own `Field` index configuration."
        },
        "ttlConfig": {
          "$ref": "GoogleFirestoreAdminV1TtlConfig",
          "description": "The TTL configuration for this `Field`. Setting or unsetting this will enable or disable the TTL for documents that have this `Field`."
        }
      },
      "description": "Represents a single field in the database. Fields are grouped by their \"Collection Group\", which represent all collections in the database with the same ID.",
      "id": "GoogleFirestoreAdminV1Field",
      "type": "object"
    },
    "GoogleFirestoreAdminV1Progress": {
      "properties": {
        "estimatedWork": {
          "description": "The amount of work estimated.",
          "type": "string",
          "format": "int64"
        },
        "completedWork": {
          "description": "The amount of work completed.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Describes the progress of the operation. Unit of work is generic and must be interpreted based on where Progress is used.",
      "type": "object",
      "id": "GoogleFirestoreAdminV1Progress"
    },
    "ListenRequest": {
      "type": "object",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels associated with this target change."
        },
        "requestOptions": {
          "description": "Optional. The request options for the request.",
          "$ref": "RequestOptions"
        },
        "removeTarget": {
          "format": "int32",
          "description": "The ID of a target to remove from this stream.",
          "type": "integer"
        },
        "addTarget": {
          "$ref": "Target",
          "description": "A target to add to this stream."
        }
      },
      "id": "ListenRequest",
      "description": "A request for Firestore.Listen"
    },
    "GoogleFirestoreAdminV1RestoreDatabaseMetadata": {
      "properties": {
        "progressPercentage": {
          "$ref": "GoogleFirestoreAdminV1Progress",
          "description": "How far along the restore is as an estimated percentage of remaining time."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time the restore finished, unset for ongoing restores.",
          "type": "string"
        },
        "backup": {
          "description": "The name of the backup restoring from.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "The time the restore was started.",
          "format": "google-datetime"
        },
        "operationState": {
          "type": "string",
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "description": "The operation state of the restore.",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ]
        },
        "database": {
          "type": "string",
          "description": "The name of the database being restored to."
        }
      },
      "type": "object",
      "id": "GoogleFirestoreAdminV1RestoreDatabaseMetadata",
      "description": "Metadata for the long-running operation from the RestoreDatabase request."
    },
    "ListCollectionIdsResponse": {
      "description": "The response from Firestore.ListCollectionIds.",
      "id": "ListCollectionIdsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A page token that may be used to continue the list.",
          "type": "string"
        },
        "collectionIds": {
          "description": "The collection ids.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1SearchConfig": {
      "id": "GoogleFirestoreAdminV1SearchConfig",
      "description": "The configuration for how to index a field for search.",
      "properties": {
        "geoSpec": {
          "$ref": "GoogleFirestoreAdminV1SearchGeoSpec",
          "description": "Optional. The specification for building a geo search index for a field."
        },
        "textSpec": {
          "description": "Optional. The specification for building a text search index for a field.",
          "$ref": "GoogleFirestoreAdminV1SearchTextSpec"
        }
      },
      "type": "object"
    },
    "ListenResponse": {
      "type": "object",
      "id": "ListenResponse",
      "properties": {
        "filter": {
          "description": "A filter to apply to the set of documents previously returned for the given target. Returned when documents may have been removed from the given target, but the exact documents are unknown.",
          "$ref": "ExistenceFilter"
        },
        "documentChange": {
          "description": "A Document has changed.",
          "$ref": "DocumentChange"
        },
        "documentRemove": {
          "$ref": "DocumentRemove",
          "description": "A Document has been removed from a target (because it is no longer relevant to that target)."
        },
        "targetChange": {
          "$ref": "TargetChange",
          "description": "Targets have changed."
        },
        "documentDelete": {
          "description": "A Document has been deleted.",
          "$ref": "DocumentDelete"
        }
      },
      "description": "The response for Firestore.Listen."
    },
    "RequestOptions": {
      "description": "Options for a request.",
      "id": "RequestOptions",
      "type": "object",
      "properties": {
        "requestTags": {
          "description": "Optional. The request tags for the request. Request tags are user-provided strings used for usage monitoring, cost management, and observability. Callers can associate custom application context (such as component, microservice, feature name, or operation type) with database requests. These tags are collected and aggregated in usage and monitoring reports, allowing billable operations and usage metrics to be sliced and analyzed by tag. These tags *only* show up in monitoring and are visible in administrative operations (such as usage reports). They do not affect data storage, query semantics, or request execution. Cardinality and Best Practices: - Request tags are most effective when using a bounded set of distinct values (e.g., fewer than 100 distinct tags across an entire database). Using a large number of distinct tags may result in tags being omitted from top usage dashboards. - Use structured identifiers (for example: `app=cart`, `env=prod`, `service=checkout`) and avoid high-cardinality values such as UUIDs, request IDs, timestamps, user IDs, or document keys. - Do not include sensitive data or personally identifiable information (PII) in request tags, as they show up in administrative monitoring. The tags are processed as follows: - Leading and trailing whitespace is trimmed. - Empty tags (after trimming) are filtered out. - Truncated to a maximum of 510 characters. - Deduplicated within the same request. - Limited to a maximum of 50 tags per request (excess tags are silently discarded).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "DocumentsTarget": {
      "properties": {
        "documents": {
          "description": "The names of the documents to retrieve. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`. The request will fail if any of the document is not a child resource of the given `database`. Duplicate names will be elided.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "DocumentsTarget",
      "description": "A target specified by a set of documents names.",
      "type": "object"
    },
    "GoogleFirestoreAdminV1LocationMetadata": {
      "properties": {},
      "description": "The metadata message for google.cloud.location.Location.metadata.",
      "type": "object",
      "id": "GoogleFirestoreAdminV1LocationMetadata"
    },
    "BeginTransactionRequest": {
      "type": "object",
      "properties": {
        "requestOptions": {
          "description": "Optional. The request options for this request.",
          "$ref": "RequestOptions"
        },
        "options": {
          "$ref": "TransactionOptions",
          "description": "The options for the transaction. Defaults to a read-write transaction."
        }
      },
      "description": "The request for Firestore.BeginTransaction.",
      "id": "BeginTransactionRequest"
    },
    "LatLng": {
      "type": "object",
      "properties": {
        "longitude": {
          "type": "number",
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "format": "double"
        },
        "latitude": {
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "format": "double",
          "type": "number"
        }
      },
      "id": "LatLng",
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges."
    },
    "Order": {
      "type": "object",
      "description": "An order on a field.",
      "properties": {
        "field": {
          "$ref": "FieldReference",
          "description": "The field to order by."
        },
        "direction": {
          "description": "The direction to order by. Defaults to `ASCENDING`.",
          "type": "string",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Ascending.",
            "Descending."
          ]
        }
      },
      "id": "Order"
    },
    "ExplainStats": {
      "properties": {
        "data": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The format depends on the `output_format` options in the request. Currently there are two supported options: `TEXT` and `JSON`. Both supply a `google.protobuf.StringValue`."
        }
      },
      "description": "Pipeline explain stats. Depending on the explain options in the original request, this can contain the optimized plan and / or execution stats.",
      "type": "object",
      "id": "ExplainStats"
    },
    "GoogleFirestoreAdminV1UpdateDatabaseMetadata": {
      "description": "Metadata related to the update database operation.",
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "The time this operation completed. Will be unset if operation still in progress.",
          "format": "google-datetime"
        },
        "state": {
          "description": "The state of the operation.",
          "type": "string",
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ]
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time this operation started.",
          "type": "string"
        }
      },
      "id": "GoogleFirestoreAdminV1UpdateDatabaseMetadata"
    },
    "BatchWriteRequest": {
      "type": "object",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels associated with this batch write."
        },
        "writes": {
          "items": {
            "$ref": "Write"
          },
          "description": "The writes to apply. Method does not apply writes atomically and does not guarantee ordering. Each write succeeds or fails independently. You cannot write to the same document more than once per request.",
          "type": "array"
        },
        "requestOptions": {
          "description": "Optional. The request options for this request.",
          "$ref": "RequestOptions"
        }
      },
      "id": "BatchWriteRequest",
      "description": "The request for Firestore.BatchWrite."
    },
    "GoogleFirestoreAdminV1ExportDocumentsResponse": {
      "type": "object",
      "id": "GoogleFirestoreAdminV1ExportDocumentsResponse",
      "description": "Returned in the google.longrunning.Operation response field.",
      "properties": {
        "outputUriPrefix": {
          "type": "string",
          "description": "Location of the output files. This can be used to begin an import into Cloud Firestore (this project or another project) after the operation completes successfully."
        }
      }
    },
    "GoogleFirestoreAdminV1IndexConfigDelta": {
      "type": "object",
      "id": "GoogleFirestoreAdminV1IndexConfigDelta",
      "description": "Information about an index configuration change.",
      "properties": {
        "index": {
          "description": "The index being changed.",
          "$ref": "GoogleFirestoreAdminV1Index"
        },
        "changeType": {
          "type": "string",
          "enum": [
            "CHANGE_TYPE_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ],
          "enumDescriptions": [
            "The type of change is not specified or known.",
            "The single field index is being added.",
            "The single field index is being removed."
          ],
          "description": "Specifies how the index is changing."
        }
      }
    },
    "ReadWrite": {
      "properties": {
        "retryTransaction": {
          "format": "byte",
          "description": "An optional transaction to retry.",
          "type": "string"
        },
        "concurrencyMode": {
          "description": "Optional. The concurrency control mode to use for this transaction. A database is able to use different concurrency modes for different transactions simultaneously. 3rd party auth requests are only allowed to create optimistic read-write transactions and must specify that here even if the database-level setting is already configured to optimistic.",
          "type": "string",
          "enum": [
            "CONCURRENCY_MODE_UNSPECIFIED",
            "OPTIMISTIC",
            "PESSIMISTIC"
          ],
          "enumDescriptions": [
            "Start the transaction with the database-level default concurrency mode.",
            "Use optimistic concurrency control for the new transaction.",
            "Use pessimistic concurrency control for the new transaction."
          ]
        }
      },
      "id": "ReadWrite",
      "type": "object",
      "description": "Options for a transaction that can be used to read and write documents."
    },
    "ArrayValue": {
      "description": "An array value.",
      "id": "ArrayValue",
      "properties": {
        "values": {
          "description": "Values in the array.",
          "type": "array",
          "items": {
            "$ref": "Value"
          }
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1TtlConfigDelta": {
      "type": "object",
      "description": "Information about a TTL configuration change.",
      "id": "GoogleFirestoreAdminV1TtlConfigDelta",
      "properties": {
        "expirationOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "The offset, relative to the timestamp value in the TTL-enabled field, used determine the document's expiration time."
        },
        "changeType": {
          "description": "Specifies how the TTL configuration is changing.",
          "type": "string",
          "enumDescriptions": [
            "The type of change is not specified or known.",
            "The TTL config is being added.",
            "The TTL config is being removed."
          ],
          "enum": [
            "CHANGE_TYPE_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ]
        }
      }
    },
    "Avg": {
      "id": "Avg",
      "type": "object",
      "description": "Average of the values of the requested field. * Only numeric values will be aggregated. All non-numeric values including `NULL` are skipped. * If the aggregated values contain `NaN`, returns `NaN`. Infinity math follows IEEE-754 standards. * If the aggregated value set is empty, returns `NULL`. * Always returns the result as a double.",
      "properties": {
        "field": {
          "$ref": "FieldReference",
          "description": "The field to aggregate on."
        }
      }
    },
    "GoogleFirestoreAdminV1CmekConfig": {
      "properties": {
        "activeKeyVersion": {
          "description": "Output only. Currently in-use [KMS key versions](https://cloud.google.com/kms/docs/resource-hierarchy#key_versions). During [key rotation](https://cloud.google.com/kms/docs/key-rotation), there can be multiple in-use key versions. The expected format is `projects/{project_id}/locations/{kms_location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}/cryptoKeyVersions/{key_version}`.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "kmsKeyName": {
          "description": "Required. Only keys in the same location as this database are allowed to be used for encryption. For Firestore's nam5 multi-region, this corresponds to Cloud KMS multi-region us. For Firestore's eur3 multi-region, this corresponds to Cloud KMS multi-region europe. See https://cloud.google.com/kms/docs/locations. The expected format is `projects/{project_id}/locations/{kms_location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}`.",
          "type": "string"
        }
      },
      "description": "The CMEK (Customer Managed Encryption Key) configuration for a Firestore database. If not present, the database is secured by the default Google encryption key.",
      "id": "GoogleFirestoreAdminV1CmekConfig",
      "type": "object"
    },
    "GoogleFirestoreAdminV1ListBackupsResponse": {
      "type": "object",
      "id": "GoogleFirestoreAdminV1ListBackupsResponse",
      "properties": {
        "backups": {
          "type": "array",
          "description": "List of all backups for the project.",
          "items": {
            "$ref": "GoogleFirestoreAdminV1Backup"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of locations that existing backups were not able to be fetched from. Instead of failing the entire requests when a single location is unreachable, this response returns a partial result set and list of locations unable to be reached here. The request can be retried against a single location to get a concrete error."
        }
      },
      "description": "The response for FirestoreAdmin.ListBackups."
    },
    "BeginTransactionResponse": {
      "id": "BeginTransactionResponse",
      "description": "The response for Firestore.BeginTransaction.",
      "type": "object",
      "properties": {
        "transaction": {
          "description": "The transaction that was started.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleFirestoreAdminV1DisableUserCredsRequest": {
      "properties": {},
      "id": "GoogleFirestoreAdminV1DisableUserCredsRequest",
      "type": "object",
      "description": "The request for FirestoreAdmin.DisableUserCreds."
    },
    "GoogleFirestoreAdminV1ImportDocumentsMetadata": {
      "id": "GoogleFirestoreAdminV1ImportDocumentsMetadata",
      "properties": {
        "operationState": {
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "description": "The state of the import operation.",
          "type": "string",
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ]
        },
        "inputUriPrefix": {
          "type": "string",
          "description": "The location of the documents being imported."
        },
        "progressDocuments": {
          "description": "The progress, in documents, of this operation.",
          "$ref": "GoogleFirestoreAdminV1Progress"
        },
        "startTime": {
          "type": "string",
          "description": "The time this operation started.",
          "format": "google-datetime"
        },
        "namespaceIds": {
          "description": "Which namespace IDs are being imported.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "progressBytes": {
          "description": "The progress, in bytes, of this operation.",
          "$ref": "GoogleFirestoreAdminV1Progress"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time this operation completed. Will be unset if operation still in progress."
        },
        "collectionIds": {
          "description": "Which collection IDs are being imported.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Metadata for google.longrunning.Operation results from FirestoreAdmin.ImportDocuments."
    },
    "DocumentChange": {
      "id": "DocumentChange",
      "properties": {
        "document": {
          "$ref": "Document",
          "description": "The new state of the Document. If `mask` is set, contains only fields that were updated or added."
        },
        "targetIds": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array",
          "description": "A set of target IDs of targets that match this document."
        },
        "removedTargetIds": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "A set of target IDs for targets that no longer match this document.",
          "type": "array"
        }
      },
      "description": "A Document has changed. May be the result of multiple writes, including deletes, that ultimately resulted in a new value for the Document. Multiple DocumentChange messages may be returned for the same logical change, if multiple targets are affected.",
      "type": "object"
    },
    "GoogleFirestoreAdminV1ListUserCredsResponse": {
      "id": "GoogleFirestoreAdminV1ListUserCredsResponse",
      "properties": {
        "userCreds": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirestoreAdminV1UserCreds"
          },
          "description": "The user creds for the database."
        }
      },
      "description": "The response for FirestoreAdmin.ListUserCreds.",
      "type": "object"
    },
    "MapValue": {
      "properties": {
        "fields": {
          "additionalProperties": {
            "$ref": "Value"
          },
          "description": "The map's fields. The map keys represent field names. Field names matching the regular expression `__.*__` are reserved. Reserved field names are forbidden except in certain documented contexts. The map keys, represented as UTF-8, must not exceed 1,500 bytes and cannot be empty.",
          "type": "object"
        }
      },
      "type": "object",
      "id": "MapValue",
      "description": "A map value."
    },
    "Pipeline": {
      "description": "A Firestore query represented as an ordered list of operations / stages.",
      "id": "Pipeline",
      "properties": {
        "stages": {
          "items": {
            "$ref": "Stage"
          },
          "type": "array",
          "description": "Required. Ordered list of stages to evaluate."
        }
      },
      "type": "object"
    },
    "QueryTarget": {
      "id": "QueryTarget",
      "type": "object",
      "properties": {
        "structuredQuery": {
          "description": "A structured query.",
          "$ref": "StructuredQuery"
        },
        "parent": {
          "description": "The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
          "type": "string"
        }
      },
      "description": "A target specified by a query."
    },
    "GoogleFirestoreAdminV1CloneDatabaseRequest": {
      "id": "GoogleFirestoreAdminV1CloneDatabaseRequest",
      "description": "The request message for FirestoreAdmin.CloneDatabase.",
      "properties": {
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Immutable. Tags to be bound to the cloned database. The tags should be provided in the format of `tagKeys/{tag_key_id} -> tagValues/{tag_value_id}`."
        },
        "pitrSnapshot": {
          "description": "Required. Specification of the PITR data to clone from. The source database must exist. The cloned database will be created in the same location as the source database.",
          "$ref": "GoogleFirestoreAdminV1PitrSnapshot"
        },
        "databaseId": {
          "description": "Required. The ID to use for the database, which will become the final component of the database's resource name. This database ID must not be associated with an existing database. This value should be 4-63 characters. Valid characters are /a-z-/ with first character a letter and the last a letter or a number. Must not be UUID-like /[0-9a-f]{8}(-[0-9a-f]{4}){3}-[0-9a-f]{12}/. \"(default)\" database ID is also valid if the database is Standard edition.",
          "type": "string"
        },
        "encryptionConfig": {
          "description": "Optional. Encryption configuration for the cloned database. If this field is not specified, the cloned database will use the same encryption configuration as the source database, namely use_source_encryption.",
          "$ref": "GoogleFirestoreAdminV1EncryptionConfig"
        }
      },
      "type": "object"
    },
    "GoogleFirestoreAdminV1BackupSource": {
      "id": "GoogleFirestoreAdminV1BackupSource",
[...]
