{
  "basePath": "",
  "version_module": true,
  "discoveryVersion": "v1",
  "id": "firebaseappdistribution:v1alpha",
  "mtlsRootUrl": "https://firebaseappdistribution.mtls.googleapis.com/",
  "name": "firebaseappdistribution",
  "resources": {
    "apps": {
      "methods": {
        "getJwt": {
          "parameterOrder": [
            "mobilesdkAppId"
          ],
          "description": "Get a JWT token",
          "parameters": {
            "mobilesdkAppId": {
              "type": "string",
              "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
              "required": true,
              "location": "path"
            }
          },
          "path": "v1alpha/apps/{mobilesdkAppId}/jwt",
          "response": {
            "$ref": "GoogleFirebaseAppdistroV1alphaJwt"
          },
          "flatPath": "v1alpha/apps/{mobilesdkAppId}/jwt",
          "httpMethod": "GET",
          "id": "firebaseappdistribution.apps.getJwt",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "get": {
          "flatPath": "v1alpha/apps/{mobilesdkAppId}",
          "httpMethod": "GET",
          "path": "v1alpha/apps/{mobilesdkAppId}",
          "response": {
            "$ref": "GoogleFirebaseAppdistroV1alphaApp"
          },
          "id": "firebaseappdistribution.apps.get",
          "parameterOrder": [
            "mobilesdkAppId"
          ],
          "description": "Get the app, if it exists",
          "parameters": {
            "appView": {
              "type": "string",
              "location": "query",
              "description": "App view. When unset or set to BASIC, returns an App with everything set except for aab_state. When set to FULL, returns an App with aab_state set.",
              "enum": [
                "APP_VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "enumDescriptions": [
                "The default / unset value. The API will default to the BASIC view.",
                "Include everything except aab_state.",
                "Include everything."
              ]
            },
            "mobilesdkAppId": {
              "description": "Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      },
      "resources": {
        "releases": {
          "resources": {
            "notes": {
              "methods": {
                "create": {
                  "parameters": {
                    "mobilesdkAppId": {
                      "type": "string",
                      "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                      "required": true,
                      "location": "path"
                    },
                    "releaseId": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. Release identifier",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "mobilesdkAppId",
                    "releaseId"
                  ],
                  "description": "Create release notes on a release.",
                  "id": "firebaseappdistribution.apps.releases.notes.create",
                  "flatPath": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/notes",
                  "httpMethod": "POST",
                  "path": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/notes",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesRequest"
                  }
                }
              }
            }
          },
          "methods": {
            "enable_access": {
              "request": {
                "$ref": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "firebaseappdistribution.apps.releases.enable_access",
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/enable_access",
              "httpMethod": "POST",
              "path": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/enable_access",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseResponse"
              },
              "parameters": {
                "mobilesdkAppId": {
                  "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "releaseId": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Release identifier",
                  "required": true
                }
              },
              "parameterOrder": [
                "mobilesdkAppId",
                "releaseId"
              ],
              "description": "Enable access on a release for testers."
            }
          }
        },
        "release_by_hash": {
          "methods": {
            "get": {
              "parameters": {
                "mobilesdkAppId": {
                  "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "uploadHash": {
                  "description": "Required. The hash for the upload",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "mobilesdkAppId",
                "uploadHash"
              ],
              "description": "GET Release by binary upload hash",
              "id": "firebaseappdistribution.apps.release_by_hash.get",
              "path": "v1alpha/apps/{mobilesdkAppId}/release_by_hash/{uploadHash}",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetReleaseByUploadHashResponse"
              },
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/release_by_hash/{uploadHash}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "upload_status": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "uploadToken": {
                  "description": "Required. The token for the upload",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "mobilesdkAppId": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "required": true
                }
              },
              "parameterOrder": [
                "mobilesdkAppId",
                "uploadToken"
              ],
              "description": "GET Binary upload status by token",
              "id": "firebaseappdistribution.apps.upload_status.get",
              "path": "v1alpha/apps/{mobilesdkAppId}/upload_status/{uploadToken}",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetUploadStatusResponse"
              },
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/upload_status/{uploadToken}",
              "httpMethod": "GET"
            }
          }
        },
        "testers": {
          "methods": {
            "getTesterUdids": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "firebaseappdistribution.apps.testers.getTesterUdids",
              "path": "v1alpha/apps/{mobilesdkAppId}/testers:getTesterUdids",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse"
              },
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/testers:getTesterUdids",
              "httpMethod": "GET",
              "parameters": {
                "project": {
                  "description": "The name of the project, which is the parent of testers Format: `projects/{project_number}`",
                  "location": "query",
                  "type": "string"
                },
                "mobilesdkAppId": {
                  "type": "string",
                  "description": "Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "mobilesdkAppId"
              ],
              "description": "Get UDIDs of tester iOS devices in a project"
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "testers": {
          "methods": {
            "getUdids": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "project": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The name of the project, which is the parent of testers Format: `projects/{project_number}`"
                },
                "mobilesdkAppId": {
                  "description": "Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "project"
              ],
              "description": "Get UDIDs of tester iOS devices in a project",
              "id": "firebaseappdistribution.projects.testers.getUdids",
              "flatPath": "v1alpha/projects/{projectsId}/testers:udids",
              "httpMethod": "GET",
              "path": "v1alpha/{+project}/testers:udids",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse"
              }
            }
          }
        },
        "apps": {
          "methods": {
            "getTestConfig": {
              "path": "v1alpha/{+name}",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaTestConfig"
              },
              "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testConfig",
              "httpMethod": "GET",
              "id": "firebaseappdistribution.projects.apps.getTestConfig",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets configuration for automated tests.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the `TestConfig` resource to retrieve. Format: `projects/{project_number}/apps/{app}/testConfig`",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/apps/[^/]+/testConfig$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "updateTestConfig": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleFirebaseAppdistroV1alphaTestConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Updates automated test configuration.",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Optional. The list of fields to update."
                },
                "name": {
                  "type": "string",
                  "description": "Identifier. The name of the test configuration resource. Format: `projects/{project_number}/apps/{app}/testConfig`",
                  "location": "path",
                  "pattern": "^projects/[^/]+/apps/[^/]+/testConfig$",
                  "required": true
                }
              },
              "path": "v1alpha/{+name}",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaTestConfig"
              },
              "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testConfig",
              "httpMethod": "PATCH",
              "id": "firebaseappdistribution.projects.apps.updateTestConfig"
            }
          },
          "resources": {
            "testCases": {
              "methods": {
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "parameters": {
                    "allowMissing": {
                      "location": "query",
                      "description": "Optional. If set to true, and the test case is not found, a new test case will be created.",
                      "type": "boolean"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Identifier. The name of the test case resource. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Update a test case.",
                  "id": "firebaseappdistribution.projects.apps.testCases.patch",
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}",
                  "httpMethod": "PATCH"
                },
                "batchUpdate": {
                  "id": "firebaseappdistribution.projects.apps.testCases.batchUpdate",
                  "path": "v1alpha/{+parent}/testCases:batchUpdate",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases:batchUpdate",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource of the test cases being updated. Format: `projects/{project_number}/apps/{app}`",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Updates multiple test cases.",
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "id": "firebaseappdistribution.projects.apps.testCases.delete",
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}",
                  "httpMethod": "DELETE",
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$",
                      "description": "Required. The name of the test case resource to delete. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Delete a test case.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "batchDelete": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Deletes multiple test cases.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource of the test cases being deleted. Format: `projects/{project_number}/apps/{app}`",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+parent}/testCases:batchDelete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases:batchDelete",
                  "httpMethod": "POST",
                  "id": "firebaseappdistribution.projects.apps.testCases.batchDelete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaBatchDeleteTestCasesRequest"
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Get a test case.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the test case resource to retrieve. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}",
                  "httpMethod": "GET",
                  "id": "firebaseappdistribution.projects.apps.testCases.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource where this test case will be created. Format: `projects/{project_number}/apps/{app}`",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+$"
                    },
                    "testCaseId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The ID to use for the test case, which will become the final component of the test case's resource name. This value should be 4-63 characters, and valid characters are /a-z-/."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Create a new test case.",
                  "id": "firebaseappdistribution.projects.apps.testCases.create",
                  "path": "v1alpha/{+parent}/testCases",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "List test cases.",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of test cases to return. The service may return fewer than this value. If unspecified, at most 50 test cases will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource from which to list test cases. Format: `projects/{project_number}/apps/{app}`",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+$"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListTestCases` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTestCases` must match the call that provided the page token.",
                      "location": "query"
                    }
                  },
                  "path": "v1alpha/{+parent}/testCases",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaListTestCasesResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases",
                  "httpMethod": "GET",
                  "id": "firebaseappdistribution.projects.apps.testCases.list"
                },
                "clearTestCaseCache": {
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+testCase}:clearTestCaseCache",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}:clearTestCaseCache",
                  "httpMethod": "POST",
                  "id": "firebaseappdistribution.projects.apps.testCases.clearTestCaseCache",
                  "parameterOrder": [
                    "testCase"
                  ],
                  "description": "Clears cached test runs for a specific test case and device(s).",
                  "parameters": {
                    "testCase": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the test case resource for which to clear the cache. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$",
                      "required": true
                    }
                  }
                }
              }
            },
            "releases": {
              "resources": {
                "tests": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha/{+parent}/tests",
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaListReleaseTestsResponse"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests",
                      "httpMethod": "GET",
                      "id": "firebaseappdistribution.projects.apps.releases.tests.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "List results for automated tests run on release.",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. The maximum number of tests to return. The service may return fewer than this value.",
                          "type": "integer"
                        },
                        "view": {
                          "enum": [
                            "RELEASE_TEST_VIEW_UNSPECIFIED",
                            "RELEASE_TEST_VIEW_BASIC",
                            "RELEASE_TEST_VIEW_FULL"
                          ],
                          "enumDescriptions": [
                            "The default / unset value. The default view depends on the RPC.",
                            "Include basic metadata about the release test and its status, but not the full result details. This is the default value for ListReleaseTests.",
                            "Include everything."
                          ],
                          "type": "string",
                          "description": "Optional. The requested view on the returned ReleaseTests. Defaults to the basic view.",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the release resource, which is the parent of the tests Format: `projects/{project_number}/apps/{app}/releases/{release}`"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A page token, received from a previous `ListReleaseTests` call. Provide this to retrieve the subsequent page."
                        }
                      }
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Get results for automated test run on release.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+/tests/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the release test resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}`"
                        }
                      },
                      "path": "v1alpha/{+name}",
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests/{testsId}",
                      "httpMethod": "GET",
                      "id": "firebaseappdistribution.projects.apps.releases.tests.get"
                    },
                    "create": {
                      "path": "v1alpha/{+parent}/tests",
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests",
                      "httpMethod": "POST",
                      "id": "firebaseappdistribution.projects.apps.releases.tests.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Run automated test(s) on release.",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+$",
                          "description": "Required. The name of the release resource, which is the parent of the test Format: `projects/{project_number}/apps/{app}/releases/{release}`",
                          "location": "path",
                          "type": "string"
                        },
                        "releaseTestId": {
                          "description": "Optional. The ID to use for the test, which will become the final component of the test's resource name. This value should be 4-63 characters, and valid characters are /a-z-/. If it is not provided one will be automatically generated.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "cancel": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests/{testsId}:cancel",
                      "httpMethod": "GET",
                      "path": "v1alpha/{+name}:cancel",
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaCancelReleaseTestResponse"
                      },
                      "id": "firebaseappdistribution.projects.apps.releases.tests.cancel",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Abort automated test run on release.",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The name of the release test resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+/tests/[^/]+$",
                          "required": true
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "methods": {
        "getTestQuota": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "description": "Required. The name of the `TestQuota` resource to retrieve. Format: `projects/{project_number}/testQuota`",
              "pattern": "^projects/[^/]+/testQuota$",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Get information about the quota for `ReleaseTests`.",
          "id": "firebaseappdistribution.projects.getTestQuota",
          "flatPath": "v1alpha/projects/{projectsId}/testQuota",
          "httpMethod": "GET",
          "path": "v1alpha/{+name}",
          "response": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestQuota"
          }
        }
      }
    }
  },
  "documentationLink": "https://firebase.google.com/products/app-distribution",
  "revision": "20260713",
  "title": "Firebase App Distribution API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "",
  "schemas": {
    "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheRequest": {
      "description": "Request message for `ClearTestCaseCache`.",
      "properties": {
        "testDevices": {
          "type": "array",
          "description": "Optional. The list of devices for which to clear the cache. If not present, clear all of them.",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestDevice"
          }
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheRequest",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaListTestCasesResponse": {
      "id": "GoogleFirebaseAppdistroV1alphaListTestCasesResponse",
      "type": "object",
      "description": "The response message for `ListTestCases`.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "testCases": {
          "type": "array",
          "description": "The test cases from the specified app.",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
          }
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaGetUploadStatusResponse": {
      "id": "GoogleFirebaseAppdistroV1alphaGetUploadStatusResponse",
      "type": "object",
      "description": "The response message for `GetUploadStatus`.",
      "properties": {
        "release": {
          "description": "The release that was created from the upload (only set on \"SUCCESS\")",
          "$ref": "GoogleFirebaseAppdistroV1alphaRelease"
        },
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "IN_PROGRESS",
            "ALREADY_UPLOADED",
            "SUCCESS",
            "ERROR"
          ],
          "type": "string",
          "description": "The status of the upload",
          "enumDescriptions": [
            "Status unspecified.",
            "The upload is in progress.",
            "The binary has already been uploaded.",
            "The upload was successful.",
            "The upload failed."
          ]
        },
        "message": {
          "description": "Any additional context for the given upload status (e.g. error message) Meant to be displayed to the client",
          "type": "string"
        },
        "errorCode": {
          "description": "The error code associated with (only set on \"FAILURE\")",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Happens if the Firebase app no longer exists by the time of extraction",
            "",
            "A corresponding Android Developer Console account for this app's Play Console account was not found."
          ],
          "enum": [
            "ERROR_UNSPECIFIED",
            "INVALID_ZIP",
            "MISSING_PLIST",
            "MISSING_PROFILE",
            "VERSION_TOO_LONG",
            "MISSING_UUIDS",
            "MISSING_RESOURCES",
            "MISSING_MANIFEST",
            "IOS_METADATA_ERROR",
            "ANDROID_METADATA_ERROR",
            "UNSUPPORTED_PLATFORM_TYPE",
            "BUNDLE_ID_MISMATCH",
            "APK_NOT_ZIP_ALIGNED",
            "INVALID_CERTIFICATE",
            "APK_TOO_LARGE",
            "AAB_NOT_PUBLISHED",
            "INVALID_PLIST_DEVICE_FAMILIES",
            "AAB_TOS_NOT_ACCEPTED",
            "APP_NAME_TOO_LONG",
            "AAB_DEVELOPER_ACCOUNT_NOT_LINKED",
            "AAB_NO_APP_WITH_GIVEN_PACKAGE_NAME_IN_ACCOUNT",
            "AAB_UPLOAD_ERROR",
            "APP_NOT_FOUND",
            "AAB_ADHOC_SHARING_KEY_NOT_REGISTERED",
            "AAB_ANDROID_DEVELOPER_CONSOLE_ACCOUNT_NOT_FOUND"
          ],
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaRoboCrawler": {
      "description": "Configuration for Robo crawler",
      "properties": {
        "loginCredential": {
          "description": "Optional. Login credential for automated tests",
          "$ref": "GoogleFirebaseAppdistroV1alphaLoginCredential"
        },
        "aiInstructions": {
          "description": "Optional. Instructions for AI driven test",
          "$ref": "GoogleFirebaseAppdistroV1alphaAiInstructions"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaRoboCrawler"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionBack": {
      "description": "A back action.",
      "properties": {},
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionBack"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionDragAndDrop": {
      "description": "A drag and drop action.",
      "properties": {
        "start": {
          "readOnly": true,
          "description": "Output only. The start point of the drag and drop.",
          "$ref": "AndroidxCrawlerOutputPoint"
        },
        "end": {
          "description": "Output only. The end point of the drag and drop.",
          "$ref": "AndroidxCrawlerOutputPoint",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionDragAndDrop"
    },
    "GoogleFirebaseAppdistroV1alphaBatchDeleteTestCasesRequest": {
      "description": "The request message for `BatchDeleteTestCase`.",
      "properties": {
        "names": {
          "type": "array",
          "description": "Required. The name of the test cases to delete. A maximum number of 1000 test cases can be deleted in one batch Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaBatchDeleteTestCasesRequest"
    },
    "GoogleFirebaseAppdistroV1alphaUpdateTestCaseRequest": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaUpdateTestCaseRequest",
      "description": "The request message for `UpdateTestCase`.",
      "properties": {
        "allowMissing": {
          "description": "Optional. If set to true, and the test case is not found, a new test case will be created.",
          "type": "boolean"
        },
        "testCase": {
          "description": "Required. The test case to update. The test case's `name` field is used to identify the test case to update. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaGetReleaseByUploadHashResponse": {
      "description": "Response object to get the release given a upload hash",
      "properties": {
        "release": {
          "description": "Release object",
          "$ref": "GoogleFirebaseAppdistroV1alphaRelease"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaGetReleaseByUploadHashResponse"
    },
    "GoogleFirebaseAppdistroV1alphaAiStepResult": {
      "id": "GoogleFirebaseAppdistroV1alphaAiStepResult",
      "type": "object",
      "description": "Captures the results of an AiStep",
      "properties": {
        "step": {
          "description": "Required. The step performed by the AI",
          "$ref": "GoogleFirebaseAppdistroV1alphaAiStep"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The current state of the step",
          "enum": [
            "STEP_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "TIMED_OUT",
            "GOAL_ACTION_LIMIT_REACHED"
          ],
          "enumDescriptions": [
            "Step state unspecified",
            "The step is in progress",
            "The step has completed successfully",
            "The step has failed",
            "The test timed out during this step",
            "The number of actions needed to reach the goal exceeded its limit"
          ]
        },
        "assertionDetails": {
          "readOnly": true,
          "description": "Output only. Details for an assertion step.",
          "$ref": "GoogleFirebaseAppdistroV1alphaAssertionDetails"
        },
        "goalDetails": {
          "description": "Output only. Details for a goal step.",
          "$ref": "GoogleFirebaseAppdistroV1alphaGoalDetails",
          "readOnly": true
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseRequest": {
      "id": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseRequest",
      "type": "object",
      "description": "The request message for `EnableAccessOnRelease`.",
      "properties": {
        "emails": {
          "description": "Optional. An email address which should get access to this release, for example rebeccahe@google.com",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "buildVersion": {
          "description": "Optional. Ignored. Used to be build version of the app release if an instance identifier was provided for the release_id.",
          "deprecated": true,
          "type": "string"
        },
        "displayVersion": {
          "description": "Optional. Ignored. Used to be display version of the app release if an instance identifier was provided for the release_id.",
          "deprecated": true,
          "type": "string"
        },
        "groupIds": {
          "description": "Optional. A repeated list of group aliases to enable access to a release for Note: This field is misnamed, but can't be changed because we need to maintain compatibility with old build tools",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleFirebaseAppdistroV1UploadReleaseResponse": {
      "description": "Response message for `UploadRelease`.",
      "properties": {
        "result": {
          "type": "string",
          "enum": [
            "UPLOAD_RELEASE_RESULT_UNSPECIFIED",
            "RELEASE_CREATED",
            "RELEASE_UPDATED",
            "RELEASE_UNMODIFIED"
          ],
          "description": "Result of upload release.",
          "enumDescriptions": [
            "Upload binary result unspecified",
            "Upload binary resulted in a new release",
            "Upload binary updated an existing release",
            "Upload binary resulted in a no-op. A release with the exact same binary already exists."
          ]
        },
        "release": {
          "description": "Release associated with the uploaded binary.",
          "$ref": "GoogleFirebaseAppdistroV1Release"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1UploadReleaseResponse"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteraction": {
      "description": "An interaction with the device, such as a tap, text entry, wait, etc.",
      "properties": {
        "keyCode": {
          "description": "Output only. Key code for a key event action.",
          "readOnly": true,
          "type": "string"
        },
        "screenshot": {
          "readOnly": true,
          "description": "Output only. The screenshot used in the context of this action. The screen may have changed before the action was actually taken.",
          "$ref": "GoogleFirebaseAppdistroV1alphaScreenshot"
        },
        "targetOrientation": {
          "enumDescriptions": [
            "Orientation unspecified.",
            "Portrait orientation.",
            "Landscape orientation."
          ],
          "enum": [
            "ORIENTATION_UNSPECIFIED",
            "PORTRAIT",
            "LANDSCAPE"
          ],
          "description": "Output only. The target orientation of the device in a set orientation action.",
          "readOnly": true,
          "type": "string"
        },
        "backAction": {
          "readOnly": true,
          "description": "Output only. A back action.",
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionBack"
        },
        "tap": {
          "description": "Output only. A tap action.",
          "$ref": "AndroidxCrawlerOutputPoint",
          "readOnly": true
        },
        "longPress": {
          "readOnly": true,
          "description": "Output only. A long press (tap and hold) action.",
          "$ref": "AndroidxCrawlerOutputPoint"
        },
        "enterText": {
          "description": "Output only. A text entry action, that enters text into a particular text field, clearing any existing text in the field. Unlike `text_input` this action does not require any other actions such as a tap to be performed before it can enter the text.",
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionEnterText",
          "readOnly": true
        },
        "swipe": {
          "description": "Output only. A swipe action.",
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionSwipe",
          "readOnly": true
        },
        "wait": {
          "readOnly": true,
          "description": "Output only. A wait action.",
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionWait"
        },
        "textInput": {
          "description": "Output only. A text input action, that types some text into whatever field is currently focused, if any. Unlike `enter_text` this action requires that the field be brought into focus first, for example by emitting a tap action before this one.",
          "readOnly": true,
          "type": "string"
        },
        "dragAndDrop": {
          "description": "Output only. A drag and drop action.",
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionDragAndDrop",
          "readOnly": true
        },
        "targetFoldedState": {
          "description": "Output only. The target folded state of the device in a set folded state action. The valid string values are device-dependent, and can be found using `adb shell cmd device_state print-states`.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteraction"
    },
    "GoogleFirebaseAppdistroV1alphaAiStep": {
      "description": "A step to be accomplished by the AI",
      "properties": {
        "hint": {
          "description": "Optional. Hint text containing suggestions to help the agent accomplish the goal",
          "type": "string"
        },
        "successCriteria": {
          "description": "Optional. A visual description of the screen's expected state after the step has been successfully completed. This is referred to as the \"final screen assertion\" in the Firebase console and CLI tools. This field must be provided for the last step in a test case, and is optional for all other steps.",
          "type": "string"
        },
        "testCase": {
          "description": "Output only. The test case that contained this step. Note: The test case may have changed or been deleted since this step was created. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "readOnly": true,
          "type": "string"
        },
        "assertion": {
          "description": "An assertion to be checked by the AI",
          "type": "string"
        },
        "goal": {
          "description": "A goal to be accomplished by the AI",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaAiStep"
    },
    "AndroidxCrawlerOutputPoint": {
      "type": "object",
      "id": "AndroidxCrawlerOutputPoint",
      "description": "Point for describing bounding boxes tap locations Top left is 0,0",
      "properties": {
        "xCoordinate": {
          "format": "int32",
          "type": "integer"
        },
        "yCoordinate": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheResponse": {
      "description": "Response empty (google.protobuf.Empty) message for `ClearTestCaseCache`",
      "properties": {},
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheResponse"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceExecution": {
      "id": "GoogleFirebaseAppdistroV1alphaDeviceExecution",
      "type": "object",
      "description": "The results of running an automated test on a particular device.",
      "properties": {
        "videoStartTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which the video started recording.",
          "format": "google-datetime"
        },
        "originDeviceExecution": {
          "description": "Output only. The device execution from which cached steps were used during this execution. Note: This field is only populated for ACTION_BASED_REPLAY executions. If the original device execution no longer exists, this field will be empty. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}/deviceExecutions/{device_execution}`",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Test state unspecified.",
            "The test is in progress.",
            "The test has passed.",
            "The test has failed.",
            "The test was inconclusive."
          ],
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "INCONCLUSIVE"
          ],
          "description": "Output only. The state of the test.",
          "readOnly": true,
          "type": "string"
        },
        "device": {
          "description": "Required. The device that the test was run on.",
          "$ref": "GoogleFirebaseAppdistroV1alphaTestDevice"
        },
        "roboStats": {
          "readOnly": true,
          "description": "Output only. The statistics collected during the Robo test.",
          "$ref": "GoogleFirebaseAppdistroV1alphaRoboStats"
        },
        "crawlGraphUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A URI to an image of the Robo crawl graph."
        },
        "inconclusiveReason": {
          "enum": [
            "INCONCLUSIVE_REASON_UNSPECIFIED",
            "QUOTA_EXCEEDED",
            "INFRASTRUCTURE_FAILURE",
            "SERVICE_NOT_ACTIVATED",
            "NO_SIGNATURE",
            "NO_LAUNCHER_ACTIVITY",
            "FORBIDDEN_PERMISSIONS",
            "DEVICE_ADMIN_RECEIVER",
            "NO_CODE_APK",
            "INVALID_APK_PREVIEW_SDK"
          ],
          "enumDescriptions": [
            "Reason unspecified.",
            "Not enough quota remained to run the test.",
            "The outcome of the test could not be determined because of a failure in the test running infrastructure.",
            "A required cloud service api is not activated (Google Cloud Testing API or Cloud Tool Results API).",
            "The app was not signed.",
            "A main launcher activity could not be found.",
            "The app declares one or more permissions that are not allowed.",
            "Device administrator applications are not allowed.",
            "APK contains no code. See also https://developer.android.com/guide/topics/manifest/application-element.html#code",
            "APK is built for a preview SDK which is unsupported."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The reason why the test was inconclusive."
        },
        "failedReason": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The reason why the test failed.",
          "enum": [
            "FAILED_REASON_UNSPECIFIED",
            "CRASHED",
            "NOT_INSTALLED",
            "UNABLE_TO_CRAWL",
            "DEVICE_OUT_OF_MEMORY",
            "FAILED_AI_STEP",
            "TIMED_OUT"
          ],
          "enumDescriptions": [
            "Reason unspecified.",
            "The app crashed during the test.",
            "If an app is not installed and thus no test can be run with the app. This might be caused by trying to run a test on an unsupported platform.",
            "If the app could not be crawled (possibly because the app did not start).",
            "If the device ran out of memory during the test.",
            "At least one AI step failed.",
            "The crawl reached the time limit before the test could be completed."
          ]
        },
        "videoUri": {
          "description": "Output only. A URI to a video of the test run.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the device execution resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}/deviceExecutions/{device_execution}`",
          "type": "string"
        },
        "aiStepResults": {
          "description": "Output only. Results of the AI steps if passed in",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaAiStepResult"
          },
          "readOnly": true,
          "type": "array"
        },
        "executionType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of execution for the test.",
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "AI",
            "ACTION_BASED_REPLAY",
            "AI_REPLAY",
            "RANDOM_CRAWL"
          ],
          "enumDescriptions": [
            "Execution type unspecified.",
            "An AI-driven test.",
            "A replay of a previous test run.",
            "A failed replay that was rerun using the AI agent.",
            "A random Robo test."
          ]
        },
        "appCrash": {
          "description": "Output only. An app crash, if any occurred during the test.",
          "$ref": "GoogleFirebaseAppdistroV1alphaAppCrash",
          "readOnly": true
        },
        "finalAiAssertionMissing": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates that the test replayed saved actions and concluded without a final AI assertion."
        },
        "resultsStoragePath": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The path to a directory in Cloud Storage that will eventually contain the results for this execution. For example, gs://bucket/Nexus5-18-en-portrait."
        },
        "screenshotUris": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. A list of screenshot image URIs taken from the Robo crawl. The file names are numbered by the order in which they were taken.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaTerminalAction": {
      "description": "An action taken by the AI to end the goal.",
      "properties": {
        "screenshot": {
          "description": "Output only. The screenshot used in the context of this terminal action.",
          "$ref": "GoogleFirebaseAppdistroV1alphaScreenshot",
          "readOnly": true
        },
        "reason": {
          "description": "Output only. The reason why this goal was ended.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Reason unspecified.",
            "The goal failed to be completed. Note that \"impossible\" is a legacy term and the goal is reported to the customer as having \"failed\".",
            "The goal was completed successfully."
          ],
          "enum": [
            "REASON_UNSPECIFIED",
            "GOAL_IMPOSSIBLE",
            "GOAL_COMPLETE"
          ]
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaTerminalAction"
    },
    "GoogleFirebaseAppdistroV1alphaGoalAction": {
      "id": "GoogleFirebaseAppdistroV1alphaGoalAction",
      "type": "object",
      "description": "An action taken by the AI agent while attempting to accomplish a goal.",
      "properties": {
        "explanation": {
          "description": "Output only. An explanation justifying why the action was taken.",
          "readOnly": true,
          "type": "string"
        },
        "terminalAction": {
          "description": "Output only. An action taken by the AI to end the goal.",
          "$ref": "GoogleFirebaseAppdistroV1alphaTerminalAction",
          "readOnly": true
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which the action started.",
          "format": "google-datetime"
        },
        "debugInfo": {
          "readOnly": true,
          "description": "Output only. Debug information explaining why the agent to the specific action.",
          "$ref": "GoogleFirebaseAppdistroV1alphaGoalActionDebugInfo"
        },
        "cachingType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of caching used to determine the action.",
          "enum": [
            "CACHING_TYPE_UNSPECIFIED",
            "NO_CACHING",
            "CACHE_AND_MODEL",
            "CACHE_ONLY"
          ],
          "enumDescriptions": [
            "Caching type unspecified.",
            "The model alone was used to determine the action with no caching.",
            "The model used information from a previous successful run to determine the action.",
            "The action was replayed from a previous successful run without model input."
          ]
        },
        "deviceAction": {
          "readOnly": true,
          "description": "Output only. A high level action taken by the AI on the device.",
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceAction"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaRelease": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaRelease",
      "description": "Proto defining a release object",
      "properties": {
        "openInvitationCount": {
          "description": "Number of testers who have open invitations for the release",
          "format": "int32",
          "type": "integer"
        },
        "displayVersion": {
          "description": "Release version",
          "type": "string"
        },
        "id": {
          "description": "Release Id",
          "type": "string"
        },
        "buildVersion": {
          "description": "Release build version",
          "type": "string"
        },
        "receivedAt": {
          "description": "unused. ",
          "deprecated": true,
          "format": "google-datetime",
          "type": "string"
        },
        "instanceId": {
          "description": "Instance id of the release",
          "type": "string"
        },
        "releaseNotesSummary": {
          "description": "Release notes summary",
          "type": "string"
        },
        "distributedAt": {
          "description": "Timestamp when the release was created",
          "format": "google-datetime",
          "type": "string"
        },
        "lastActivityAt": {
          "description": "Last activity timestamp",
          "format": "google-datetime",
          "type": "string"
        },
        "testerCount": {
          "format": "int32",
          "description": "Count of testers added to the release",
          "type": "integer"
        },
        "testerWithInstallCount": {
          "description": "Number of testers who have installed the release",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaCancelReleaseTestResponse": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaCancelReleaseTestResponse",
      "description": "The (empty) response message for `CancelReleaseTest`.",
      "properties": {}
    },
    "GoogleFirebaseAppdistroV1ReleaseNotes": {
      "id": "GoogleFirebaseAppdistroV1ReleaseNotes",
      "type": "object",
      "description": "Notes that belong to a release.",
      "properties": {
        "text": {
          "description": "The text of the release notes.",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesResponse": {
      "description": "The response message for `BatchUpdateTestCase`.",
      "properties": {
        "testCases": {
          "description": "The updated test cases.",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
          },
          "type": "array"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesResponse",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaTestCase": {
      "id": "GoogleFirebaseAppdistroV1alphaTestCase",
      "type": "object",
      "description": "AI test cases",
      "properties": {
        "dependentTestCases": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Other test cases that depend on this test case as a prerequisite.",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "Required. Display name of the test case.",
          "type": "string"
        },
        "aiInstructions": {
          "description": "Optional. Instructions for AI driven test.",
          "$ref": "GoogleFirebaseAppdistroV1alphaAiInstructions"
        },
        "name": {
          "description": "Identifier. The name of the test case resource. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "type": "string"
        },
        "prerequisiteTestCase": {
          "description": "Optional. Test case that must be run before this test case.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the test case was created",
          "format": "google-datetime"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaLoginCredentialFieldHints": {
      "description": "Hints to the crawler for identifying input fields",
      "properties": {
        "usernameResourceName": {
          "description": "Required. The Android resource name of the username UI element. For example, in Java: R.string.foo in xml: @string/foo Only the \"foo\" part is needed. Reference doc: https://developer.android.com/guide/topics/resources/accessing-resources.html",
          "type": "string"
        },
        "passwordResourceName": {
          "description": "Required. The Android resource name of the password UI element. For example, in Java: R.string.foo in xml: @string/foo Only the \"foo\" part is needed. Reference doc: https://developer.android.com/guide/topics/resources/accessing-resources.html",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaLoginCredentialFieldHints",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesRequest": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesRequest",
      "description": "The request message for `CreateReleaseNotes`.",
      "properties": {
        "releaseNotes": {
          "description": "The actual release notes body from the user",
          "$ref": "GoogleFirebaseAppdistroV1alphaReleaseNotes"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesRequest": {
      "description": "The request message for `BatchUpdateTestCase`.",
      "properties": {
        "requests": {
          "description": "Required. The update requests. A maximum number of 1000 test cases can be updated in one batch",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaUpdateTestCaseRequest"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesRequest"
    },
    "GoogleFirebaseAppdistroV1UploadReleaseMetadata": {
      "description": "Operation metadata for `UploadRelease`.",
      "properties": {},
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1UploadReleaseMetadata"
    },
    "GoogleFirebaseAppdistroV1alphaReleaseTest": {
      "description": "Instance of an automated test for a release.",
      "properties": {
        "deviceExecutions": {
          "type": "array",
          "description": "Required. The results of the test on each device.",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaDeviceExecution"
          }
        },
        "resultsBucket": {
          "description": "Optional. Input only. The custom Cloud Storage bucket where test results are stored. Format: `projects/{project_number}/buckets/{bucket}` If not provided, the default test lab bucket is used.",
          "type": "string"
        },
        "testCase": {
          "description": "Optional. The test case that was used to generate this release test. Note: The test case may have changed or been deleted since the release test was created. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "type": "string"
        },
        "aiInstructions": {
          "description": "Optional. Instructions for AI driven test.",
          "$ref": "GoogleFirebaseAppdistroV1alphaAiInstructions"
        },
        "displayName": {
          "description": "Optional. Display name of the release test. Required if the release test is created with multiple goals.",
          "type": "string"
        },
        "name": {
          "description": "The name of the release test resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}`",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the test was run.",
          "format": "google-datetime"
        },
        "testState": {
          "description": "Output only. The state of the release test.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Test state unspecified.",
            "The test is in progress.",
            "The test has passed.",
            "The test has failed.",
            "The test was inconclusive."
          ],
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "INCONCLUSIVE"
          ]
        },
        "loginCredential": {
          "description": "Optional. Input only. Login credentials for the test. Input only.",
          "$ref": "GoogleFirebaseAppdistroV1alphaLoginCredential"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaReleaseTest"
    },
    "GoogleFirebaseAppdistroV1alphaLoginCredential": {
      "description": "Login credential for automated tests",
      "properties": {
        "username": {
          "description": "Optional. Username for automated tests",
          "type": "string"
        },
        "google": {
          "description": "Optional. Are these credentials for Google?",
          "type": "boolean"
        },
        "password": {
          "description": "Optional. Password for automated tests",
          "type": "string"
        },
        "fieldHints": {
          "description": "Optional. Hints to the crawler for identifying input fields",
          "$ref": "GoogleFirebaseAppdistroV1alphaLoginCredentialFieldHints"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaLoginCredential"
    },
    "GoogleFirebaseAppdistroV1alphaGoalDetails": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaGoalDetails",
      "description": "Details for a goal step.",
      "properties": {
        "goalActions": {
          "description": "Output only. The actions taken by the AI while attempting to accomplish the goal.",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaGoalAction"
          },
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaJwt": {
      "description": "A JWT token.",
      "properties": {
        "token": {
          "description": "The JWT token (three Base64URL-encoded strings joined by dots).",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaJwt",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaTestQuota": {
      "description": "Customer quota information for `ReleaseTests`. Note: This quota only applies to tests with `AiInstructions` and is separate from the quota which might apply to the device time used by any tests.",
      "properties": {
        "name": {
          "description": "Identifier. The name of the `TestQuota` resource. Format: `projects/{project_number}/testQuota`",
          "type": "string"
        },
        "limit": {
          "format": "int64",
          "description": "Output only. Maximum number of `ReleaseTests` allotted for the current month.",
          "readOnly": true,
          "type": "string"
        },
        "usage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Number of `ReleaseTests` run in the current month",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaTestQuota"
    },
    "GoogleFirebaseAppdistroV1alphaScreenshot": {
      "description": "A device screenshot taken during a test.",
      "properties": {
        "width": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The width of the screenshot, in pixels.",
          "format": "int32"
        },
        "uri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URI of the screenshot."
        },
        "height": {
          "description": "Output only. The height of the screenshot, in pixels.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaScreenshot"
    },
    "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseResponse": {
      "description": "The response message for `EnableAccessOnRelease`.",
      "properties": {},
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseResponse"
    },
    "GoogleFirebaseAppdistroV1alphaListReleaseTestsResponse": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaListReleaseTestsResponse",
      "description": "The response message for `ListReleaseTests`.",
      "properties": {
        "releaseTests": {
          "description": "The tests listed.",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A short-lived token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaReleaseNotes": {
      "id": "GoogleFirebaseAppdistroV1alphaReleaseNotes",
      "type": "object",
      "description": "Release notes for a release.",
      "properties": {
        "releaseNotes": {
          "description": "The actual release notes text from the user.",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1Release": {
      "description": "A release of a Firebase app.",
      "properties": {
        "name": {
          "description": "The name of the release resource. Format: `projects/{project_number}/apps/{app}/releases/{release}`",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the release was last updated.",
          "format": "google-datetime"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the release was created."
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Output only. The time the release will expire.",
          "readOnly": true,
          "type": "string"
        },
        "androidPackageRegistrationState": {
          "description": "Output only. Registration state of the Android package (BinaryType.APK).",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Package is registered with the release binary's certificate fingerprint.",
            "Package is not registered with any public certificate.",
            "Package is registered with another public certificate fingerprint."
          ],
          "enum": [
            "ANDROID_PACKAGE_REGISTRATION_STATE_UNSPECIFIED",
            "REGISTERED",
            "NOT_REGISTERED",
            "REGISTERED_WITH_ANOTHER_CERTIFICATE_FINGERPRINT"
          ]
        },
        "binaryDownloadUri": {
          "description": "Output only. A signed link (which expires in one hour) to directly download the app binary (IPA/APK/AAB) file.",
          "readOnly": true,
          "type": "string"
        },
        "displayVersion": {
          "description": "Output only. Display version of the release. For an Android release, the display version is the `versionName`. For an iOS release, the display version is the `CFBundleShortVersionString`.",
          "readOnly": true,
          "type": "string"
        },
        "firebaseConsoleUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A link to the Firebase console displaying a single release."
        },
        "buildVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Build version of the release. For an Android release, the build version is the `versionCode`. For an iOS release, the build version is the `CFBundleVersion`."
        },
        "releaseNotes": {
          "description": "Notes about the release.",
          "$ref": "GoogleFirebaseAppdistroV1ReleaseNotes"
        },
        "testingUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A link to the release in the tester web clip or Android app that lets testers (which were granted access to the app) view release notes and install the app onto their devices."
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1Release"
    },
    "GoogleFirebaseAppdistroV1alphaAabCertificate": {
      "description": "App bundle test certificate",
      "properties": {
        "certificateHashMd5": {
          "description": "MD5 hash of the certificate used to resign the AAB",
          "type": "string"
        },
        "certificateHashSha256": {
          "description": "SHA256 hash of the certificate used to resign the AAB",
          "type": "string"
        },
        "certificateHashSha1": {
          "description": "SHA1 hash of the certificate used to resign the AAB",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaAabCertificate",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaGoalActionDebugInfo": {
      "description": "Information to help the customer understand why the agent took this action.",
      "properties": {
        "annotatedScreenshotUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. URI of the screenshot with elements labeled which was used by the agent."
        },
        "jsonUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Structured data explaining the agent's choice."
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaGoalActionDebugInfo",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionSwipe": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionSwipe",
      "description": "A swipe action.",
      "properties": {
        "start": {
          "readOnly": true,
          "description": "Output only. The start point of the swipe.",
          "$ref": "AndroidxCrawlerOutputPoint"
        },
        "end": {
          "readOnly": true,
          "description": "Output only. The end point of the swipe.",
          "$ref": "AndroidxCrawlerOutputPoint"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaTesterUdid": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaTesterUdid",
      "description": "The UDIDs of a tester's iOS device",
      "properties": {
        "name": {
          "description": "The name of the tester's device",
          "type": "string"
        },
        "udid": {
          "description": "The UDID of the tester's device",
          "type": "string"
        },
        "platform": {
          "description": "The platform of the tester's device",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionEnterText": {
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionEnterText",
      "type": "object",
      "description": "A text entry action, that enters text into a particular text field, clearing any existing text in the field.",
      "properties": {
        "text": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The text to enter."
        },
        "elementBounds": {
          "readOnly": true,
          "description": "Output only. The visible bounds of the element to enter text into.",
          "$ref": "AndroidxCrawlerOutputRectangle"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaApp": {
      "id": "GoogleFirebaseAppdistroV1alphaApp",
      "type": "object",
      "description": "An app.",
      "properties": {
        "bundleId": {
          "description": "Bundle identifier",
          "type": "string"
        },
        "projectNumber": {
          "description": "Project number of the Firebase project, for example 300830567303.",
          "type": "string"
        },
        "aabCertificate": {
          "description": "App bundle test certificate generated for the app.",
          "$ref": "GoogleFirebaseAppdistroV1alphaAabCertificate"
        },
        "platform": {
          "description": "iOS or Android",
          "type": "string"
        },
        "contactEmail": {
          "description": "Developer contact email for testers to reach out to about privacy or support issues.",
          "type": "string"
        },
        "aabState": {
          "enum": [
            "AAB_STATE_UNSPECIFIED",
            "ACTIVE",
            "PLAY_ACCOUNT_NOT_LINKED",
            "NO_APP_WITH_GIVEN_BUNDLE_ID_IN_PLAY_ACCOUNT",
            "APP_NOT_PUBLISHED",
            "AAB_STATE_UNAVAILABLE",
            "PLAY_IAS_TERMS_NOT_ACCEPTED"
          ],
          "type": "string",
          "description": "App bundle state. Only valid for android apps. The app_view field in the request must be set to FULL in order for this to be populated.",
          "enumDescriptions": [
            "Aab state unspecified",
            "App can receive app bundle uploads",
            "Firebase project is not linked to a Play developer account",
            "There is no app in linked Play developer account with the same bundle id",
            "The app in Play developer account is not in a published state",
            "Play App status is unavailable",
            "Play IAS terms not accepted"
          ]
        },
        "appId": {
          "description": "Firebase gmp app id",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaDeviceAction": {
      "description": "A high level action taken by the AI on the device, potentially involving multiple taps, text entries, waits, etc.",
      "properties": {
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A short description of the high level action taken by the AI agent."
        },
        "deviceInteractions": {
          "description": "Output only. The interactions made with the device as part of this higher level action taken by the agent, such as taps, text entries, waits, etc.",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteraction"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceAction"
    },
    "GoogleFirebaseAppdistroV1alphaTestDevice": {
      "description": "A device on which automated tests can be run.",
      "properties": {
        "locale": {
          "description": "Optional. The locale of the device (e.g. \"en_US\" for US English) during the test.",
          "type": "string"
        },
        "model": {
          "description": "Required. The device model.",
          "type": "string"
        },
        "orientation": {
          "description": "Optional. The orientation of the device during the test.",
          "type": "string"
        },
        "version": {
          "description": "Required. The version of the device (API level on Android).",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaTestDevice",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionWait": {
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionWait",
      "type": "object",
      "description": "A wait action.",
      "properties": {
        "duration": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The duration of the wait.",
          "format": "google-duration"
        }
      }
    },
    "AndroidxCrawlerOutputRectangle": {
      "type": "object",
      "id": "AndroidxCrawlerOutputRectangle",
      "description": "Rectangle for describing bounding boxes",
      "properties": {
        "right": {
          "type": "integer",
          "format": "int32"
        },
        "bottom": {
          "type": "integer",
          "format": "int32"
        },
        "left": {
          "type": "integer",
          "format": "int32"
        },
        "top": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaAppCrash": {
      "description": "An app crash that occurred during an automated test.",
      "properties": {
        "message": {
          "description": "Output only. The message associated with the crash.",
          "readOnly": true,
          "type": "string"
        },
        "stackTrace": {
          "description": "Output only. The raw stack trace.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaAppCrash",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse",
      "description": "Response containing the UDIDs of tester iOS devices in a project",
      "properties": {
        "testerUdids": {
          "type": "array",
          "description": "The UDIDs of tester iOS devices in a project",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTesterUdid"
          }
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaRoboStats": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaRoboStats",
      "description": "Statistics collected during a Robo test.",
      "properties": {
        "mainActivityCrawlTimedOut": {
          "description": "Output only. Whether the main activity crawl timed out.",
          "readOnly": true,
          "type": "boolean"
        },
        "distinctVisitedScreens": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of distinct screens visited."
        },
        "crawlDuration": {
          "format": "google-duration",
          "description": "Output only. Duration of crawl.",
          "readOnly": true,
          "type": "string"
        },
        "actionsPerformed": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Number of actions that crawler performed.",
          "format": "int32"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaTestConfig": {
      "description": "Configuration for automated tests",
      "properties": {
        "name": {
          "description": "Identifier. The name of the test configuration resource. Format: `projects/{project_number}/apps/{app}/testConfig`",
          "type": "string"
        },
        "roboCrawler": {
          "description": "Optional. Configuration for Robo crawler",
          "$ref": "GoogleFirebaseAppdistroV1alphaRoboCrawler"
        },
        "testDevices": {
          "type": "array",
          "description": "Optional. Tests will be run on this list of devices",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestDevice"
          }
        },
        "displayName": {
          "description": "Optional. Display name of the AI driven test. Required if the release test is created with multiple goals.",
          "type": "string"
        },
        "resultsBucket": {
          "description": "Optional. The custom Cloud Storage bucket where test results are stored. Format: `projects/{project_number}/buckets/{bucket}` If not provided, the default test lab bucket is used.",
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaTestConfig",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaAssertionDetails": {
      "description": "Details for an assertion step.",
      "properties": {
        "screenshot": {
          "description": "Output only. The screenshot used in the context of this assertion.",
          "$ref": "GoogleFirebaseAppdistroV1alphaScreenshot",
          "readOnly": true
        },
        "result": {
          "description": "Output only. The result of the assertion.",
          "readOnly": true,
          "type": "boolean"
        },
        "explanation": {
          "description": "Output only. An explanation justifying the assertion result.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleFirebaseAppdistroV1alphaAssertionDetails",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaAiInstructions": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaAiInstructions",
      "properties": {
        "steps": {
          "type": "array",
          "description": "Required. Steps to be accomplished by the AI",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaAiStep"
          }
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesResponse": {
      "description": "The response message for `CreateReleaseNotes`.",
      "properties": {},
      "id": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesResponse",
      "type": "object"
    }
  },
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://firebaseappdistribution.googleapis.com/",
  "version": "v1alpha",
  "ownerName": "Google",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "canonicalName": "Firebase App Distribution",
  "rootUrl": "https://firebaseappdistribution.googleapis.com/",
  "protocol": "rest",
  "batchPath": "batch"
}