{
  "protocol": "rest",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "basePath": "",
  "id": "firebaseapphosting:v1beta",
  "name": "firebaseapphosting",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://firebaseapphosting.googleapis.com/",
  "version_module": true,
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "revision": "20260618",
  "baseUrl": "https://firebaseapphosting.googleapis.com/",
  "version": "v1beta",
  "title": "Firebase App Hosting API",
  "batchPath": "batch",
  "schemas": {
    "DnsRecordSet": {
      "id": "DnsRecordSet",
      "properties": {
        "checkError": {
          "$ref": "Status",
          "description": "Output only. An error App Hosting services encountered when querying your domain's DNS records. Note: App Hosting ignores `NXDOMAIN` errors, as those generally just mean that a domain name hasn't been set up yet.",
          "readOnly": true
        },
        "domainName": {
          "readOnly": true,
          "description": "Output only. The domain name the record set pertains to.",
          "type": "string"
        },
        "records": {
          "description": "Output only. Records on the domain.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "DnsRecord"
          }
        }
      },
      "description": "A set of DNS records relevant to the setup and maintenance of a custom domain in App Hosting.",
      "type": "object"
    },
    "UserMetadata": {
      "id": "UserMetadata",
      "properties": {
        "email": {
          "readOnly": true,
          "description": "Output only. The 'email' field in a Git user's git.config, if available.",
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The 'name' field in a Git user's git.config. Required by Git.",
          "type": "string"
        },
        "imageUri": {
          "readOnly": true,
          "description": "Output only. The URI of an image file associated with the user's account in an external source control provider, if available.",
          "type": "string"
        }
      },
      "description": "Version control metadata for a user associated with a resolved codebase. Currently assumes a Git user.",
      "type": "object"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "DnsRecord": {
      "id": "DnsRecord",
      "properties": {
        "domainName": {
          "readOnly": true,
          "description": "Output only. The domain the record pertains to, e.g. `foo.bar.com.`.",
          "type": "string"
        },
        "relevantState": {
          "description": "Output only. An enum that indicates which state(s) this DNS record applies to. Populated for all records with an `ADD` or `REMOVE` required action.",
          "type": "array",
          "readOnly": true,
          "items": {
            "enum": [
              "CUSTOM_DOMAIN_STATE_UNSPECIFIED",
              "HOST_STATE",
              "OWNERSHIP_STATE",
              "CERT_STATE"
            ],
            "type": "string",
            "enumDescriptions": [
              "This message is invalid if this is unspecified.",
              "The custom domain's host state.",
              "The custom domain's ownership state.",
              "The custom domain's certificate state."
            ]
          }
        },
        "type": {
          "enumDescriptions": [
            "The record's type is unspecified. The message is invalid if this is unspecified.",
            "An `A` record, as defined in [RFC 1035](https://tools.ietf.org/html/rfc1035). A records determine which IPv4 addresses a domain directs traffic towards.",
            "A `CNAME` record, as defined in [RFC 1035](https://tools.ietf.org/html/rfc1035). `CNAME` or Canonical Name records map a domain to a different, canonical domain. If a `CNAME` record is present, it should be the only record on the domain.",
            "A `TXT` record, as defined in [RFC 1035](https://tools.ietf.org/html/rfc1035). `TXT` records hold arbitrary text data on a domain. Hosting uses `TXT` records to establish which Firebase Project has permission to act on a domain.",
            "An AAAA record, as defined in [RFC 3596](https://tools.ietf.org/html/rfc3596) AAAA records determine which IPv6 addresses a domain directs traffic towards.",
            "A CAA record, as defined in [RFC 6844](https://tools.ietf.org/html/rfc6844). CAA, or Certificate Authority Authorization, records determine which Certificate Authorities (SSL certificate minting organizations) are authorized to mint a certificate for the domain. App Hosting uses `pki.goog` as its primary CA. CAA records cascade. A CAA record on `foo.com` also applies to `bar.foo.com` unless `bar.foo.com` has its own set of CAA records. CAA records are optional. If a domain and its parents have no CAA records, all CAs are authorized to mint certificates on its behalf. In general, App Hosting only asks you to modify CAA records when doing so is required to unblock SSL cert creation."
          ],
          "readOnly": true,
          "description": "Output only. The record's type, which determines what data the record contains.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "A",
            "CNAME",
            "TXT",
            "AAAA",
            "CAA"
          ]
        },
        "requiredAction": {
          "description": "Output only. An enum that indicates the a required action for this record. Populated when the record is part of a required change in a `DnsUpdates` `discovered` or `desired` record set.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "NONE",
            "ADD",
            "REMOVE"
          ],
          "enumDescriptions": [
            "No action necessary.",
            "Add this record to your DNS records.",
            "Remove this record from your DNS records."
          ]
        },
        "rdata": {
          "description": "Output only. The data of the record. The meaning of the value depends on record type: - A and AAAA: IP addresses for the domain. - CNAME: Another domain to check for records. - TXT: Arbitrary text strings associated with the domain. App Hosting uses TXT records to determine which Firebase projects have permission to act on the domain's behalf. - CAA: The record's flags, tag, and value, e.g. `0 issue \"pki.goog\"`.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A representation of a DNS records for a domain. DNS records are resource records that define how systems and services should behave when handling requests for a domain. For example, when you add `A` records to your domain's DNS records, you're informing other systems (such as your users' web browsers) to contact those IPv4 addresses to retrieve resources relevant to your domain (such as your App Hosting files).",
      "type": "object"
    },
    "RolloutPolicy": {
      "id": "RolloutPolicy",
      "properties": {
        "disabledTime": {
          "readOnly": true,
          "description": "Output only. If `disabled` is set, the time at which the automatic rollouts were disabled.",
          "type": "string",
          "format": "google-datetime"
        },
        "requiredPaths": {
          "items": {
            "$ref": "Path"
          },
          "description": "Optional. A list of file paths patterns that trigger a build and rollout if at least one of the changed files in the commit are present in this list. This field is optional; the rollout policy will default to triggering on all paths if both ignored_paths and required_paths are not populated. Limited to 100 paths. Example: ``` required_paths: { pattern: \"foo/bar/*\", type: \"GLOB\" } ```",
          "type": "array"
        },
        "codebaseBranch": {
          "description": "If set, specifies a branch that triggers a new build to be started with this policy. Otherwise, no automatic rollouts will happen.",
          "type": "string"
        },
        "ignoredPaths": {
          "items": {
            "$ref": "Path"
          },
          "description": "Optional. A list of file paths patterns to exclude from triggering a rollout. Patterns in this list take precedence over required_paths. **Note**: All paths must be in the ignored_paths in order for the rollout to be skipped. Limited to 100 paths. Example: ``` ignored_paths: { pattern: \"foo/bar/excluded/*\", type: \"GLOB\" } ```",
          "type": "array"
        },
        "disabled": {
          "description": "Optional. A flag that, if true, prevents automatic rollouts from being created via this RolloutPolicy.",
          "type": "boolean"
        }
      },
      "description": "The policy for how automatic builds and rollouts are triggered and rolled out.",
      "type": "object"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "properties": {
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime"
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        }
      },
      "description": "Represents the metadata of a long-running operation.",
      "type": "object"
    },
    "ArchiveSource": {
      "id": "ArchiveSource",
      "properties": {
        "rootDirectory": {
          "description": "Optional. The directory relative to the root of the archive to use as the root for the deployed web app. Defaults to use the root of the repository if not provided. If deploying a [monorepo](https://firebase.google.com/docs/app-hosting/monorepos), this should be the directory that contains the `package.json` or `apphosting.yaml` file.",
          "type": "string"
        },
        "author": {
          "description": "Optional. Deprecated: Not used. The author contained in the metadata of a version control change.",
          "deprecated": true,
          "$ref": "SourceUserMetadata"
        },
        "userStorageUri": {
          "description": "URI to an archive in Cloud Storage. The object must be a zipped (.zip) or gzipped archive file (.tar.gz) containing source to deploy.",
          "type": "string"
        },
        "description": {
          "description": "Optional. An optional message that describes the uploaded version of the source code.",
          "type": "string"
        },
        "externalSignedUri": {
          "description": "Signed URL to an archive in a storage bucket.",
          "type": "string"
        }
      },
      "description": "The URI of an storage archive or a signed URL to use as the build source.",
      "type": "object"
    },
    "Traffic": {
      "description": "Controls traffic configuration for the backend.",
      "type": "object",
      "id": "Traffic",
      "properties": {
        "current": {
          "$ref": "TrafficSet",
          "readOnly": true,
          "description": "Output only. Current state of traffic allocation for the backend. When setting `target`, this field may differ for some time until the desired state is reached."
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. A field that, if true, indicates that the system is working to make the backend's `current` match the requested `target` list.",
          "type": "boolean"
        },
        "rolloutPolicy": {
          "description": "A rollout policy specifies how new builds and automatic deployments are created.",
          "$ref": "RolloutPolicy"
        },
        "name": {
          "description": "Identifier. The resource name of the backend's traffic. Format: `projects/{project}/locations/{locationId}/backends/{backendId}/traffic`.",
          "type": "string"
        },
        "etag": {
          "description": "Output only. Server-computed checksum based on other values; may be sent on update or delete to ensure operation is done on expected resource.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "description": "Optional. Unstructured key value map that can be used to organize and categorize objects.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "target": {
          "$ref": "TrafficSet",
          "description": "Set to manually control the desired traffic for the backend. This will cause `current` to eventually match this value. The percentages must add up to 100%."
        },
        "updateTime": {
          "description": "Output only. Time at which the backend was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "annotations": {
          "description": "Optional. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. System-assigned, unique identifier.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time at which the backend was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "LocallyBuiltSource": {
      "id": "LocallyBuiltSource",
      "properties": {
        "runCommand": {
          "description": "Optional. The command to run to start the app. If provided, it will override apphosting's default run commands. See [`Override build and run scripts`](https://firebase.google.com/docs/app-hosting/configure#override-scripts)",
          "type": "string"
        },
        "env": {
          "description": "Optional. Supplied runtime environment variables for a specific build. Provided at Build creation time and immutable afterwards.",
          "type": "array",
          "items": {
            "$ref": "EnvironmentVariable"
          }
        },
        "userStorageUri": {
          "description": "URI to an archive in Cloud Storage. The object must be a gzipped archive file (.tar.gz) containing source to deploy.",
          "type": "string"
        },
        "description": {
          "description": "Optional. An optional message that describes the uploaded version of the source code.",
          "type": "string"
        },
        "runConfig": {
          "$ref": "RunConfig",
          "description": "Optional. Additional configuration of the Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service)."
        },
        "rootDirectory": {
          "description": "Optional. The directory relative to the root of the archive to use as the root for the deployed web app. Defaults to use the root of the repository if not provided. If deploying a [monorepo](https://firebase.google.com/docs/app-hosting/monorepos), this should be the directory that contains the built source of the app.",
          "type": "string"
        }
      },
      "description": "The URI of an storage archive to use as the build source.",
      "type": "object"
    },
    "BackendRuntime": {
      "description": "Runtime is a string that represents the runtime that is used to build the backend. Users can specify one of the following runtimes: nodejs20, nodejs22, nodejs24, nodejs. Runtime \"nodejs\" means that nodejs version will be determined at build time. If not specified or specified with a value that is not in the list above, the default runtime `nodejs` will be used and Automatic Base Image Updates will be disabled.",
      "type": "object",
      "id": "BackendRuntime",
      "properties": {
        "value": {
          "description": "Optional. The value of the runtime.",
          "type": "string"
        }
      }
    },
    "TrafficSplit": {
      "description": "The traffic allocation for the backend.",
      "type": "object",
      "id": "TrafficSplit",
      "properties": {
        "build": {
          "description": "Required. The build that traffic is being routed to.",
          "type": "string"
        },
        "percent": {
          "description": "Required. The percentage of traffic to send to the build. Currently must be 100% or 0%.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Build": {
      "id": "Build",
      "properties": {
        "config": {
          "$ref": "Config",
          "description": "Optional. Additional configuration of the service."
        },
        "errors": {
          "description": "Output only. A list of all errors that occurred during an App Hosting build.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "Error"
          }
        },
        "environment": {
          "description": "Output only. The environment name of the backend when this build was created.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Time at which the build was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "annotations": {
          "description": "Optional. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "errorSource": {
          "enumDescriptions": [
            "Indicates that generic error occurred outside of the Cloud Build or Cloud Run processes, such as a pre-empted or user-canceled App Hosting Build.",
            "Indicates that the build failed during the Cloud Build process, such as a build timeout.",
            "Indicates that the build failed during the Cloud Run process, such as a service creation failure."
          ],
          "deprecated": true,
          "enum": [
            "ERROR_SOURCE_UNSPECIFIED",
            "CLOUD_BUILD",
            "CLOUD_RUN"
          ],
          "description": "Output only. Deprecated: Use `errors` instead. The source of the error for the build, if in a `FAILED` state.",
          "type": "string",
          "readOnly": true
        },
        "uid": {
          "description": "Output only. System-assigned, unique identifier.",
          "type": "string",
          "readOnly": true
        },
        "source": {
          "$ref": "BuildSource",
          "description": "Required. Immutable. The source for the build."
        },
        "labels": {
          "description": "Optional. Unstructured key value map that can be used to organize and categorize objects.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. A field that, if true, indicates that the build has an ongoing LRO.",
          "type": "boolean"
        },
        "image": {
          "description": "Output only. The Artifact Registry [container image](https://cloud.google.com/artifact-registry/docs/reference/rest/v1/projects.locations.repositories.dockerImages) URI, used by the Cloud Run [`revision`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services.revisions) for this build.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the build. Format: `projects/{project}/locations/{locationId}/backends/{backendId}/builds/{buildId}`.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Human-readable name. 63 character limit.",
          "type": "string"
        },
        "etag": {
          "description": "Output only. Server-computed checksum based on other values; may be sent on update or delete to ensure operation is done on expected resource.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Time at which the build was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "error": {
          "description": "Output only. Deprecated: Use `errors` instead. A status and (human readable) error message for the build, if in a `FAILED` state.",
          "readOnly": true,
          "deprecated": true,
          "$ref": "Status"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "BUILDING",
            "BUILT",
            "DEPLOYING",
            "READY",
            "FAILED",
            "SKIPPED",
            "EXPIRED"
          ],
          "description": "Output only. The state of the build.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The build is in an unknown state.",
            "The build is building.",
            "The build has completed and is awaiting the next step. This may move to DEPLOYING once App Hosting starts to set up infrastructure.",
            "The infrastructure for this build is being set up.",
            "The infrastructure for this build is ready. The build may or may not be serving traffic - see `Backend.traffic` for the current state, or `Backend.traffic_statuses` for the desired state.",
            "The build has failed.",
            "The build was skipped.",
            "The build has expired and may not be reused."
          ]
        },
        "deleteTime": {
          "readOnly": true,
          "description": "Output only. Time at which the build was deleted.",
          "type": "string",
          "format": "google-datetime"
        },
        "buildLogsUri": {
          "readOnly": true,
          "description": "Output only. The location of the [Cloud Build logs](https://cloud.google.com/build/docs/view-build-results) for the build process.",
          "type": "string"
        }
      },
      "description": "A single build for a backend, at a specific point codebase reference tag and point in time. Encapsulates several resources, including an Artifact Registry container image, a Cloud Build invocation that built the image, and the Cloud Run revision that uses that image.",
      "type": "object"
    },
    "SupportedRuntime": {
      "description": "Represents a single FAH supported runtime. Although instances of this resource are parented by a project and location, the set of available runtimes may vary across projects and locations, for example, during staged rollouts of new runtime support.",
      "type": "object",
      "id": "SupportedRuntime",
      "properties": {
        "decommissionTime": {
          "readOnly": true,
          "description": "Output only. The time at which this runtime will be decommissioned. After this date, the runtime can no longer be used for new builds.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The resource name of the supported runtime. Format: projects/{project}/locations/{location}/supportedRuntimes/{runtime_id}",
          "type": "string"
        },
        "automaticBaseImageUpdatesSupported": {
          "readOnly": true,
          "description": "Output only. True if Automatic Base Image Updates (ABIU) is supported for this runtime.",
          "type": "boolean"
        },
        "runtimeId": {
          "readOnly": true,
          "description": "Output only. The identifier of the runtime, e.g., \"nodejs22\".",
          "type": "string"
        },
        "deprecateTime": {
          "description": "Output only. The time at which this runtime will effectively be deprecated. After this date, the runtime is still usable but may not receive new features or updates.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "CodebaseSource": {
      "description": "A codebase source, representing the state of the codebase that the build will be created at.",
      "type": "object",
      "id": "CodebaseSource",
      "properties": {
        "branch": {
          "description": "The branch in the codebase to build from, using the latest commit.",
          "type": "string"
        },
        "repository": {
          "description": "Output only. The resource name for the Developer Connect [`gitRepositoryLink`](https://cloud.google.com/developer-connect/docs/api/reference/rest/v1/projects.locations.connections.gitRepositoryLinks) used for this build, in the format: `projects/{project}/locations/{location}/connections/{connection}/gitRepositoryLinks/{repositoryLink}`",
          "type": "string",
          "readOnly": true
        },
        "commitMessage": {
          "description": "Output only. The message of a codebase change.",
          "type": "string",
          "readOnly": true
        },
        "author": {
          "readOnly": true,
          "description": "Output only. The author contained in the metadata of a version control change.",
          "$ref": "UserMetadata"
        },
        "commitTime": {
          "readOnly": true,
          "description": "Output only. The time the change was made.",
          "type": "string",
          "format": "google-datetime"
        },
        "uri": {
          "description": "Output only. A URI linking to the codebase on an hosting provider's website. May not be valid if the commit has been rebased or force-pushed out of existence in the linked repository.",
          "type": "string",
          "readOnly": true
        },
        "commit": {
          "description": "The commit in the codebase to build from.",
          "type": "string"
        },
        "displayName": {
          "description": "Output only. The human-friendly name to use for this Codebase when displaying a build. We use the first eight characters of the SHA-1 hash for GitHub.com.",
          "type": "string",
          "readOnly": true
        },
        "hash": {
          "description": "Output only. The full SHA-1 hash of a Git commit, if available.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "CustomDomainStatus": {
      "id": "CustomDomainStatus",
      "properties": {
        "hostState": {
          "enumDescriptions": [
            "Your custom domain's host state is unspecified. The message is invalid if this is unspecified.",
            "Your custom domain isn't associated with any IP addresses.",
            "Your custom domain can't be reached. App Hosting services' DNS queries to find your domain's IP addresses resulted in errors. See your `CustomDomainStatus`'s `issues` field for more details.",
            "Your domain has only IP addresses that don't ultimately resolve to App Hosting.",
            "Your domain has IP addresses that resolve to both App Hosting and to other services. To ensure consistent results, remove `A` and `AAAA` records related to non-App-Hosting services.",
            "Your domain has IP addresses that resolve to an incorrect instance of the App Hosting Data Plane. App Hosting has multiple data plane instances to ensure high availability. The SSL certificate that App Hosting creates for your domain is only available on its assigned instance. If your domain's IP addresses resolve to an incorrect instance, App Hosting won't be able to serve secure content on it.",
            "All requests against your domain are served by App Hosting, via your domain's assigned shard. If the custom domain's `OwnershipState` is also `OWNERSHIP_ACTIVE`, App Hosting serves its backend's content on requests for the domain."
          ],
          "enum": [
            "HOST_STATE_UNSPECIFIED",
            "HOST_UNHOSTED",
            "HOST_UNREACHABLE",
            "HOST_NON_FAH",
            "HOST_CONFLICT",
            "HOST_WRONG_SHARD",
            "HOST_ACTIVE"
          ],
          "description": "Output only. Tracks whether a custom domain is detected as appropriately directing traffic to App Hosting.",
          "type": "string",
          "readOnly": true
        },
        "issues": {
          "description": "Output only. A list of issues with domain configuration. Allows users to self-correct problems with DNS records.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "Status"
          }
        },
        "certState": {
          "enumDescriptions": [
            "The certificate's state is unspecified. The message is invalid if this is unspecified.",
            "The initial state of every certificate, represents App Hosting's intent to create a certificate before requests to a Certificate Authority are made.",
            "App Hosting is validating whether a domain name's DNS records are in a state that allow certificate creation on its behalf.",
            "The certificate was recently created, and needs time to propagate in App Hosting's load balancers.",
            "The certificate is active, providing secure connections for the domain names it represents.",
            "The certificate is expiring, all domain names on it will be given new certificates.",
            "The certificate has expired. App Hosting can no longer serve secure content on your domain name."
          ],
          "enum": [
            "CERT_STATE_UNSPECIFIED",
            "CERT_PREPARING",
            "CERT_VALIDATING",
            "CERT_PROPAGATING",
            "CERT_ACTIVE",
            "CERT_EXPIRING_SOON",
            "CERT_EXPIRED"
          ],
          "readOnly": true,
          "description": "Output only. Tracks SSL certificate status for the domain.",
          "type": "string"
        },
        "ownershipState": {
          "enumDescriptions": [
            "Your custom domain's ownership state is unspecified. This should never happen.",
            "Your custom domain's domain has no App-Hosting-related ownership records; no backend is authorized to serve on the domain in this Origin shard.",
            "Your custom domain can't be reached. App Hosting services' DNS queries to find your domain's ownership records resulted in errors. See your `CustomDomainStatus`'s `issues` field for more details.",
            "Your custom domain is owned by another App Hosting custom domain. Remove the conflicting records and replace them with records for your current custom domain.",
            "Your custom domain has conflicting `TXT` records that indicate ownership by both your current custom domain one or more others. Remove the extraneous ownership records to grant the current custom domain ownership.",
            "Your custom domain's DNS records are configured correctly. App Hosting will transfer ownership of your domain to this custom domain within 24 hours.",
            "Your custom domain owns its domain."
          ],
          "description": "Output only. Tracks whether the backend is permitted to serve content on the domain, based off the domain's DNS records.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "OWNERSHIP_STATE_UNSPECIFIED",
            "OWNERSHIP_MISSING",
            "OWNERSHIP_UNREACHABLE",
            "OWNERSHIP_MISMATCH",
            "OWNERSHIP_CONFLICT",
            "OWNERSHIP_PENDING",
            "OWNERSHIP_ACTIVE"
          ]
        },
        "requiredDnsUpdates": {
          "description": "Output only. Lists the records that must added or removed to a custom domain's DNS in order to finish setup and start serving content. Field is present during onboarding. Also present after onboarding if one or more of the above states is not *_ACTIVE, indicating the domain's DNS records are in a bad state.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "DnsUpdates"
          }
        }
      },
      "description": "The status of a custom domain's linkage to a backend.",
      "type": "object"
    },
    "Config": {
      "id": "Config",
      "properties": {
        "runConfig": {
          "description": "Optional. Additional configuration of the Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service).",
          "$ref": "RunConfig"
        },
        "env": {
          "description": "Optional. Supplied environment variables for a specific build. Provided at Build creation time and immutable afterwards. This field is only applicable for Builds using a build image - (e.g., ContainerSource or ArchiveSource with locally_built_source) Attempts to set this for other build types will result in an error",
          "type": "array",
          "items": {
            "$ref": "EnvironmentVariable"
          }
        },
        "effectiveEnv": {
          "readOnly": true,
          "items": {
            "$ref": "EnvironmentVariable"
          },
          "description": "Output only. [OUTPUT_ONLY] This field represents all environment variables employed during both the build and runtime. This list reflects the result of merging variables from all sources (Backend.override_env, Build.Config.env, YAML, defaults, system). Each variable includes its `origin`",
          "type": "array"
        }
      },
      "description": "Additional configuration of the backend for this build.",
      "type": "object"
    },
    "DnsUpdates": {
      "description": "A set of DNS record updates that you should make to allow App Hosting to serve secure content in response to requests against your domain. These updates present the current state of your domain's and related subdomains' DNS records when App Hosting last queried them, and the desired set of records that App Hosting needs to see before your custom domain can be fully active.",
      "type": "object",
      "id": "DnsUpdates",
      "properties": {
        "discovered": {
          "description": "Output only. The set of DNS records App Hosting discovered when inspecting a domain.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "DnsRecordSet"
          }
        },
        "domainName": {
          "description": "Output only. The domain name the DNS updates pertain to.",
          "type": "string",
          "readOnly": true
        },
        "desired": {
          "description": "Output only. The set of DNS records App Hosting needs in order to be able to serve secure content on the domain.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "DnsRecordSet"
          }
        },
        "checkTime": {
          "description": "Output only. The last time App Hosting checked your custom domain's DNS records.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "Domain": {
      "id": "Domain",
      "properties": {
        "deleteTime": {
          "readOnly": true,
          "description": "Output only. Time at which the domain was deleted.",
          "type": "string",
          "format": "google-datetime"
        },
        "purgeTime": {
          "description": "Output only. Time at which a soft-deleted domain will be purged, rendering in permanently deleted.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Time at which the domain was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The resource name of the domain, e.g. `/projects/p/locations/l/backends/b/domains/foo.com`",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Mutable human-readable name for the domain. 63 character limit. e.g. `prod domain`.",
          "type": "string"
        },
        "etag": {
          "readOnly": true,
          "description": "Output only. Server-computed checksum based on other values; may be sent on update or delete to ensure operation is done on expected resource.",
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. A field that, if true, indicates that the build has an ongoing LRO.",
          "type": "boolean",
          "readOnly": true
        },
        "serve": {
          "description": "Optional. The serving behavior of the domain. If specified, the domain will serve content other than its backend's live content.",
          "$ref": "ServingBehavior"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs.",
          "type": "object"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. System-assigned, unique identifier.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Time at which the domain was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "annotations": {
          "description": "Optional. Annotations as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "DEFAULT",
            "CUSTOM"
          ],
          "description": "Output only. The type of the domain.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The type is unspecified (this should not happen).",
            "Default, App Hosting-provided and managed domains. These domains are created automatically with their parent backend and cannot be deleted except by deleting that parent, and cannot be moved to another backend. Default domains can be disabled via the `disabled` field.",
            "Custom, developer-owned domains. Custom Domains allow you to associate a domain you own with your App Hosting backend, and configure that domain to serve your backend's content."
          ]
        },
        "disabled": {
          "description": "Optional. Whether the domain is disabled. Defaults to false.",
          "type": "boolean"
        },
        "customDomainStatus": {
          "description": "Output only. Represents the state and configuration of a `CUSTOM` type domain. It is only present on Domains of that type.",
          "readOnly": true,
          "$ref": "CustomDomainStatus"
        }
      },
      "description": "A domain name that is associated with a backend.",
      "type": "object"
    },
    "Error": {
      "description": "The container for the rpc status and source for any errors found during the build process.",
      "type": "object",
      "id": "Error",
      "properties": {
        "errorSource": {
          "enumDescriptions": [
            "Indicates that generic error occurred outside of the Cloud Build or Cloud Run processes, such as a pre-empted or user-canceled App Hosting Build.",
            "Indicates that the build failed during the Cloud Build process, such as a build timeout.",
            "Indicates that the build failed during the Cloud Run process, such as a service creation failure."
          ],
          "description": "Output only. The source of the error for the build, if in a `FAILED` state.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "ERROR_SOURCE_UNSPECIFIED",
            "CLOUD_BUILD",
            "CLOUD_RUN"
          ]
        },
        "error": {
          "$ref": "Status",
          "description": "Output only. A status and (human readable) error message for the build, if in a `FAILED` state.",
          "readOnly": true
        },
        "cloudResource": {
          "readOnly": true,
          "description": "Output only. Resource link",
          "type": "string"
        }
      }
    },
    "DomainOperationMetadata": {
      "description": "Represents the metadata of a long-running operation on domains.",
      "type": "object",
      "id": "DomainOperationMetadata",
      "properties": {
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "customDomainOperationMetadata": {
          "$ref": "CustomDomainOperationMetadata",
          "readOnly": true,
          "description": "Output only. Additional metadata for operations on custom domains."
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "ListRolloutsResponse": {
      "id": "ListRolloutsResponse",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "rollouts": {
          "items": {
            "$ref": "Rollout"
          },
          "description": "The list of rollouts.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying the next page of results the server should return.",
          "type": "string"
        }
      },
      "description": "Message for response to list rollouts.",
      "type": "object"
    },
    "CustomDomainOperationMetadata": {
      "id": "CustomDomainOperationMetadata",
      "properties": {
        "certState": {
          "description": "Output only. The custom domain's `CertState`, which must be `CERT_ACTIVE` for the create operations to complete.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "CERT_STATE_UNSPECIFIED",
            "CERT_PREPARING",
            "CERT_VALIDATING",
            "CERT_PROPAGATING",
            "CERT_ACTIVE",
            "CERT_EXPIRING_SOON",
            "CERT_EXPIRED"
          ],
          "enumDescriptions": [
            "The certificate's state is unspecified. The message is invalid if this is unspecified.",
            "The initial state of every certificate, represents App Hosting's intent to create a certificate before requests to a Certificate Authority are made.",
            "App Hosting is validating whether a domain name's DNS records are in a state that allow certificate creation on its behalf.",
            "The certificate was recently created, and needs time to propagate in App Hosting's load balancers.",
            "The certificate is active, providing secure connections for the domain names it represents.",
            "The certificate is expiring, all domain names on it will be given new certificates.",
            "The certificate has expired. App Hosting can no longer serve secure content on your domain name."
          ]
        },
        "quickSetupUpdates": {
          "readOnly": true,
          "items": {
            "$ref": "DnsUpdates"
          },
          "description": "Output only. A set of DNS record updates to perform, to allow App Hosting to serve secure content on the domain.",
          "type": "array"
        },
        "ownershipState": {
          "enumDescriptions": [
            "Your custom domain's ownership state is unspecified. This should never happen.",
            "Your custom domain's domain has no App-Hosting-related ownership records; no backend is authorized to serve on the domain in this Origin shard.",
            "Your custom domain can't be reached. App Hosting services' DNS queries to find your domain's ownership records resulted in errors. See your `CustomDomainStatus`'s `issues` field for more details.",
            "Your custom domain is owned by another App Hosting custom domain. Remove the conflicting records and replace them with records for your current custom domain.",
            "Your custom domain has conflicting `TXT` records that indicate ownership by both your current custom domain one or more others. Remove the extraneous ownership records to grant the current custom domain ownership.",
            "Your custom domain's DNS records are configured correctly. App Hosting will transfer ownership of your domain to this custom domain within 24 hours.",
            "Your custom domain owns its domain."
          ],
          "enum": [
            "OWNERSHIP_STATE_UNSPECIFIED",
            "OWNERSHIP_MISSING",
            "OWNERSHIP_UNREACHABLE",
            "OWNERSHIP_MISMATCH",
            "OWNERSHIP_CONFLICT",
            "OWNERSHIP_PENDING",
            "OWNERSHIP_ACTIVE"
          ],
          "description": "Output only. The custom domain's `OwnershipState`, which must be `OWNERSHIP_ACTIVE` for the create operations to complete.",
          "type": "string",
          "readOnly": true
        },
        "liveMigrationSteps": {
          "description": "Output only. A list of steps that the user must complete to migrate their domain to App Hosting without downtime.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "LiveMigrationStep"
          }
        },
        "hostState": {
          "enum": [
            "HOST_STATE_UNSPECIFIED",
            "HOST_UNHOSTED",
            "HOST_UNREACHABLE",
            "HOST_NON_FAH",
            "HOST_CONFLICT",
            "HOST_WRONG_SHARD",
            "HOST_ACTIVE"
          ],
          "description": "Output only. The custom domain's `HostState`, which must be `HOST_ACTIVE` for Create operations of the domain name this `CustomDomain` refers toto complete.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Your custom domain's host state is unspecified. The message is invalid if this is unspecified.",
            "Your custom domain isn't associated with any IP addresses.",
            "Your custom domain can't be reached. App Hosting services' DNS queries to find your domain's IP addresses resulted in errors. See your `CustomDomainStatus`'s `issues` field for more details.",
            "Your domain has only IP addresses that don't ultimately resolve to App Hosting.",
            "Your domain has IP addresses that resolve to both App Hosting and to other services. To ensure consistent results, remove `A` and `AAAA` records related to non-App-Hosting services.",
            "Your domain has IP addresses that resolve to an incorrect instance of the App Hosting Data Plane. App Hosting has multiple data plane instances to ensure high availability. The SSL certificate that App Hosting creates for your domain is only available on its assigned instance. If your domain's IP addresses resolve to an incorrect instance, App Hosting won't be able to serve secure content on it.",
            "All requests against your domain are served by App Hosting, via your domain's assigned shard. If the custom domain's `OwnershipState` is also `OWNERSHIP_ACTIVE`, App Hosting serves its backend's content on requests for the domain."
          ]
        },
        "issues": {
          "readOnly": true,
          "items": {
            "$ref": "Status"
          },
          "description": "Output only. A list of issues that are currently preventing the operation from completing. These are generally DNS-related issues encountered when querying a domain's records or attempting to mint an SSL certificate.",
          "type": "array"
        }
      },
      "description": "Additional metadata for operations on custom domains.",
      "type": "object"
    },
    "LiveMigrationStep": {
      "description": "A set of updates including ACME challenges and DNS records that allow App Hosting to create an SSL certificate and establish project ownership for your domain name before you direct traffic to App Hosting servers. Use these updates to facilitate zero downtime migrations to App Hosting from other services. After you've made the recommended updates, check your custom domain's `ownershipState` and `certState`. To avoid downtime, they should be `OWNERSHIP_ACTIVE` and `CERT_ACTIVE`, respectively, before you update your `A` and `AAAA` records.",
      "type": "object",
      "id": "LiveMigrationStep",
      "properties": {
        "stepState": {
          "readOnly": true,
          "description": "Output only. The state of the live migration step, indicates whether you should work to complete the step now, in the future, or have already completed it.",
          "type": "string",
          "enum": [
            "STEP_STATE_UNSPECIFIED",
            "PREPARING",
            "PENDING",
            "INCOMPLETE",
            "PROCESSING",
            "COMPLETE"
          ],
          "enumDescriptions": [
            "The step's state is unspecified. The message is invalid if this is unspecified.",
            "App Hosting doesn't have enough information to construct the step yet. Complete any prior steps and/or resolve this step's issue to proceed.",
            "The step's state is pending. Complete prior steps before working on a `PENDING` step.",
            "The step is incomplete. You should complete any `dnsUpdates` changes to complete it.",
            "You've done your part to update records and present challenges as necessary. App Hosting is now completing background processes to complete the step, e.g. minting an SSL cert for your domain.",
            "The step is complete. You've already made the necessary changes to your domain and/or prior hosting service to advance to the next step. Once all steps are complete, App Hosting is ready to serve secure content on your domain."
          ]
        },
        "relevantDomainStates": {
          "description": "Output only. One or more states from the `CustomDomainStatus` of the migrating domain that this step is attempting to make ACTIVE. For example, if the step is attempting to mint an SSL certificate, this field will include `CERT_STATE`.",
          "type": "array",
          "readOnly": true,
          "items": {
            "enumDescriptions": [
              "This message is invalid if this is unspecified.",
              "The custom domain's host state.",
              "The custom domain's ownership state.",
              "The custom domain's certificate state."
            ],
            "type": "string",
            "enum": [
              "CUSTOM_DOMAIN_STATE_UNSPECIFIED",
              "HOST_STATE",
              "OWNERSHIP_STATE",
              "CERT_STATE"
            ]
          }
        },
        "dnsUpdates": {
          "description": "Output only. DNS updates to facilitate your domain's zero-downtime migration to App Hosting.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "DnsUpdates"
          }
        },
        "issues": {
          "description": "Output only. Issues that prevent the current step from completing.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "Status"
          }
        }
      }
    },
    "RunConfig": {
      "id": "RunConfig",
      "properties": {
        "concurrency": {
          "description": "Optional. Maximum number of requests that each Cloud Run instance can receive. By default, each instance can receive Cloud Run's default of up to 80 requests at the same time. Concurrency can be set to any integer value up to 1000.",
          "type": "integer",
          "format": "int32"
        },
        "cpu": {
          "description": "Optional. Number of CPUs used for each serving instance. By default, cpu defaults to the Cloud Run's default of 1.0. CPU can be set to value 1, 2, 4, 6, or 8 CPUs, and for less than 1 CPU, a value from 0.08 to less than 1.00, in increments of 0.01. If you set a value of less than 1 CPU, you must set concurrency to 1, and CPU will only be allocated during request processing. Increasing CPUs limit may require increase in memory limits: - 4 CPUs: at least 2 GiB - 6 CPUs: at least 4 GiB - 8 CPUs: at least 4 GiB",
          "type": "number",
          "format": "float"
        },
        "memoryMib": {
          "description": "Optional. Amount of memory allocated for each serving instance in MiB. By default, memory defaults to the Cloud Run's default where each instance is allocated 512 MiB of memory. Memory can be set to any integer value between 128 to 32768. Increasing memory limit may require increase in CPUs limits: - Over 4 GiB: at least 2 CPUs - Over 8 GiB: at least 4 CPUs - Over 16 GiB: at least 6 CPUs - Over 24 GiB: at least 8 CPUs",
          "type": "integer",
          "format": "int32"
        },
        "minInstances": {
          "description": "Optional. Number of Cloud Run instances to maintain at minimum for each Cloud Run Service. By default, there are no minimum. Even if the service splits traffic across multiple revisions, the total number of instances for a service will be capped at this value.",
          "type": "integer",
          "format": "int32"
        },
        "maxInstances": {
          "description": "Optional. Number of Cloud Run instances to maintain at maximum for each revision. By default, each Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service) scales out to Cloud Run's default of a maximum of 100 instances. The maximum max_instances limit is based on your quota. See https://cloud.google.com/run/docs/configuring/max-instances#limits.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Configuration applied to the Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service).",
      "type": "object"
    },
    "Codebase": {
      "description": "The connection to an external source repository to watch for event-driven updates to the backend.",
      "type": "object",
      "id": "Codebase",
      "properties": {
        "repository": {
          "description": "Required. The resource name for the Developer Connect [`gitRepositoryLink`](https://cloud.google.com/developer-connect/docs/api/reference/rest/v1/projects.locations.connections.gitRepositoryLinks) connected to this backend, in the format: `projects/{project}/locations/{location}/connections/{connection}/gitRepositoryLinks/{repositoryLink}` The connection for the `gitRepositoryLink` must made be using the Firebase App Hosting GitHub App via the Firebase Console.",
          "type": "string"
        },
        "rootDirectory": {
          "description": "Optional. If `repository` is provided, the directory relative to the root of the repository to use as the root for the deployed web app. Defaults to use the root of the repository if not provided. If deploying a [monorepo](https://firebase.google.com/docs/app-hosting/monorepos), this should be the directory that contains the `package.json` or `apphosting.yaml` file.",
          "type": "string"
        }
      }
    },
    "BuildSource": {
      "description": "The source for the build.",
      "type": "object",
      "id": "BuildSource",
      "properties": {
        "container": {
          "$ref": "ContainerSource",
          "description": "An Artifact Registry container image source."
        },
        "archive": {
          "description": "An archive source.",
          "$ref": "ArchiveSource"
        },
        "codebase": {
          "description": "A codebase source.",
          "$ref": "CodebaseSource"
        },
        "locallyBuilt": {
          "description": "A source that was pre-built locally.",
          "$ref": "LocallyBuiltSource"
        }
      }
    },
    "Status": {
      "id": "Status",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "EnvironmentVariable": {
      "id": "EnvironmentVariable",
      "properties": {
        "origin": {
          "enumDescriptions": [
            "Source is unspecified.",
            "Variable was set on the backend resource (e.g. via API or Console). Represents variables from `Backend.override_env`",
            "Variable was provided specifically for the build upon creation via the `Build.Config.env` field. Only used for pre-built images.",
            "Variable is defined in apphosting.yaml file.",
            "Variable is defined provided by the firebase platform."
          ],
          "readOnly": true,
          "description": "Output only. The high-level origin category of the environment variable.",
          "type": "string",
          "enum": [
            "ORIGIN_UNSPECIFIED",
            "BACKEND_OVERRIDES",
            "BUILD_CONFIG",
            "APPHOSTING_YAML",
            "FIREBASE_SYSTEM"
          ]
        },
        "availability": {
          "description": "Optional. Where this variable should be made available. If left unspecified, will be available in both BUILD and BACKEND.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "The default value, unspecified, which is unused.",
              "This value is available when creating a Build from source code.",
              "This value is available at runtime within Cloud Run."
            ],
            "type": "string",
            "enum": [
              "AVAILABILITY_UNSPECIFIED",
              "BUILD",
              "RUNTIME"
            ]
          }
        },
        "originFileName": {
          "description": "Output only. Specific detail about the source. For APPHOSTING_YAML origins, this will contain the exact filename, such as \"apphosting.yaml\" or \"apphosting.staging.yaml\".",
          "type": "string",
          "readOnly": true
        },
        "secret": {
          "description": "A fully qualified secret version. The value of the secret will be accessed once while building the application and once per cold start of the container at runtime. The service account used by Cloud Build and by Cloud Run must each have the `secretmanager.versions.access` permission on the secret.",
          "type": "string"
        },
        "variable": {
          "description": "Required. The name of the environment variable. The environment variables reserved by [Cloud Run](https://docs.cloud.google.com/run/docs/configuring/services/environment-variables#reserved) should not be set. Additionally, variable names cannot start with \"X_FIREBASE_\".",
          "type": "string"
        },
        "value": {
          "description": "A plaintext value. This value is encrypted at rest, but all project readers can view the value when reading your backend configuration.",
          "type": "string"
        }
      },
      "description": "Environment variables for this build.",
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "Redirect": {
      "id": "Redirect",
      "properties": {
        "uri": {
          "description": "Required. The URI of the redirect's intended destination. This URI will be prepended to the original request path. URI without a scheme are assumed to be HTTPS.",
          "type": "string"
        },
        "status": {
          "description": "Optional. The status code to use in a redirect response. Must be a valid HTTP 3XX status code. Defaults to 302 if not present.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Specifies redirect behavior for a domain.",
      "type": "object"
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "id": "Location",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        }
      }
    },
    "ListBackendsResponse": {
      "id": "ListBackendsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying the next page of results the server should return.",
          "type": "string"
        },
        "backends": {
          "description": "The list of backends",
          "type": "array",
          "items": {
            "$ref": "Backend"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Message for response to list backends",
      "type": "object"
    },
    "ListDomainsResponse": {
      "id": "ListDomainsResponse",
      "properties": {
        "domains": {
          "readOnly": true,
          "items": {
            "$ref": "Domain"
          },
          "description": "Output only. The list of domains.",
          "type": "array"
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token identifying the next page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached.",
          "type": "array"
        }
      },
      "description": "Message for response to list domains.",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "Backend": {
      "id": "Backend",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the backend. Format: `projects/{project}/locations/{locationId}/backends/{backendId}`.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Human-readable name. 63 character limit.",
          "type": "string"
        },
        "etag": {
          "description": "Output only. Server-computed checksum based on other values; may be sent on update or delete to ensure operation is done on expected resource.",
          "type": "string",
          "readOnly": true
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. A field that, if true, indicates that the system is working to make adjustments to the backend during a LRO.",
          "type": "boolean"
        },
        "labels": {
          "description": "Optional. Unstructured key value map that can be used to organize and categorize objects.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "runtime": {
          "description": "Optional. The runtime that the backend will be built on. A default base_image will be chosen for a given runtime.",
          "$ref": "BackendRuntime"
        },
        "servingLocality": {
          "description": "Required. Immutable. Specifies how App Hosting will serve the content for this backend. It will either be contained to a single region (REGIONAL_STRICT) or allowed to use App Hosting's global-replicated serving infrastructure (GLOBAL_ACCESS).",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Will return an error if used.",
            "In this mode, App Hosting serves your backend's content from your chosen parent region. App Hosting only maintains data and serving infrastructure in that chosen region and does not replicate your data to other regions.",
            "In this mode, App Hosting serves your backend's content from multiple points-of-presence (POP) across the globe. App Hosting replicates your backend's configuration and cached data to these POPs and uses a global CDN to further decrease response latency. App Hosting-maintained Cloud Resources on your project, such as Cloud Run services, Cloud Build build, and Artifact Registry Images are still confined to your backend's parent region. Responses cached by the CDN may be stored in the POPs for the duration of the cache's TTL."
          ],
          "enum": [
            "SERVING_LOCALITY_UNSPECIFIED",
            "REGIONAL_STRICT",
            "GLOBAL_ACCESS"
          ]
        },
        "codebase": {
          "$ref": "Codebase",
          "description": "Optional. If specified, the connection to an external source repository to watch for event-driven updates to the backend."
        },
        "serviceAccount": {
          "description": "Required. The name of the service account used for Cloud Build and Cloud Run. Should have the role roles/firebaseapphosting.computeRunner or equivalent permissions.",
          "type": "string"
        },
        "deleteTime": {
          "readOnly": true,
          "description": "Output only. Time at which the backend was deleted.",
          "type": "string",
          "format": "google-datetime"
        },
        "uri": {
          "description": "Output only. The primary URI to communicate with the backend.",
          "type": "string",
          "readOnly": true
        },
        "requestLogsDisabled": {
          "description": "Optional. A field that, if true, indicates that incoming request logs are disabled for this backend. Incoming request logs are enabled by default.",
          "type": "boolean"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Time at which the backend was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "automaticBaseImageUpdatesDisabled": {
          "description": "Optional. automatic_base_image_updates_disabled acts as a way for users to opt out of ABIU.",
          "type": "boolean"
        },
        "managedResources": {
          "readOnly": true,
          "items": {
            "$ref": "ManagedResource"
          },
          "description": "Output only. A list of the resources managed by this backend.",
          "type": "array"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. System-assigned, unique identifier.",
          "type": "string"
        },
        "appId": {
          "description": "Optional. The [ID of a Web App](https://firebase.google.com/docs/reference/firebase-management/rest/v1beta1/projects.webApps#WebApp.FIELDS.app_id) associated with the backend.",
          "type": "string"
        },
        "mode": {
          "description": "Optional. Deprecated: Use `environment` instead.",
          "type": "string",
          "deprecated": true
        },
        "updateTime": {
          "description": "Output only. Time at which the backend was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "annotations": {
          "description": "Optional. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "environment": {
          "description": "Optional. The environment name of the backend, used to load environment variables from environment specific configuration.",
          "type": "string"
        },
        "overrideEnv": {
          "description": "Optional. Override environment variables for this Backend.",
          "type": "array",
          "items": {
            "$ref": "EnvironmentVariable"
          }
        }
      },
      "description": "A backend is the primary resource of App Hosting.",
      "type": "object"
    },
    "ContainerSource": {
      "description": "The URI of an Artifact Registry [container image](https://cloud.google.com/artifact-registry/docs/reference/rest/v1/projects.locations.repositories.dockerImages) to use as the build source.",
      "type": "object",
      "id": "ContainerSource",
      "properties": {
        "image": {
          "description": "Required. A URI representing a container for the backend to use.",
          "type": "string"
        }
      }
    },
    "ListBuildsResponse": {
      "id": "ListBuildsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying the next page of results the server should return.",
          "type": "string"
        },
        "builds": {
          "items": {
            "$ref": "Build"
          },
          "description": "The list of builds.",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "description": "Message for response to list builds.",
      "type": "object"
    },
    "SourceUserMetadata": {
      "description": "Deprecated: Not used. Metadata for the user who started the build.",
      "type": "object",
      "deprecated": true,
      "id": "SourceUserMetadata",
      "properties": {
        "email": {
          "description": "Output only. Deprecated: Not used. The account email linked to the EUC that created the build. May be a service account or other robot account.",
          "type": "string",
          "readOnly": true,
          "deprecated": true
        },
        "displayName": {
          "deprecated": true,
          "readOnly": true,
          "description": "Output only. Deprecated: Not used. The user-chosen displayname. May be empty.",
          "type": "string"
        },
        "imageUri": {
          "deprecated": true,
          "readOnly": true,
          "description": "Output only. Deprecated: Not used. The URI of a profile photo associated with the user who created the build.",
          "type": "string"
        }
      }
    },
    "ManagedResource": {
      "description": "An external resource managed by App Hosting on the project.",
      "type": "object",
      "id": "ManagedResource",
      "properties": {
        "runService": {
          "$ref": "RunService",
          "description": "A Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service), managed by App Hosting."
        }
      }
    },
    "ListSupportedRuntimesResponse": {
      "description": "Response message for a list of supported runtimes.",
      "type": "object",
      "id": "ListSupportedRuntimesResponse",
      "properties": {
        "supportedRuntimes": {
          "description": "The list of supported runtimes.",
          "type": "array",
          "items": {
            "$ref": "SupportedRuntime"
          }
        }
      }
    },
    "ServingBehavior": {
      "description": "Indicates whether App Hosting will serve content on the domain.",
      "type": "object",
      "id": "ServingBehavior",
      "properties": {
        "redirect": {
          "description": "Optional. Redirect behavior for a domain, if provided.",
          "$ref": "Redirect"
        }
      }
    },
    "RunService": {
      "description": "A managed Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service).",
      "type": "object",
      "id": "RunService",
      "properties": {
        "service": {
          "description": "Optional. The name of the Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service), in the format: `projects/{project}/locations/{location}/services/{serviceId}`",
          "type": "string"
        }
      }
    },
    "TrafficSet": {
      "description": "A list of traffic splits that together represent where traffic is being routed.",
      "type": "object",
      "id": "TrafficSet",
      "properties": {
        "splits": {
          "items": {
            "$ref": "TrafficSplit"
          },
          "description": "Required. The list of traffic splits.",
          "type": "array"
        }
      }
    },
    "Rollout": {
      "description": "A single rollout of a build for a backend.",
      "type": "object",
      "id": "Rollout",
      "properties": {
        "build": {
          "description": "Required. Immutable. The name of a build that already exists. It doesn't have to be built; a rollout will wait for a build to be ready before updating traffic.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Time at which the rollout was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects.",
          "type": "object"
        },
        "uid": {
          "description": "Output only. System-assigned, unique identifier.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Time at which the rollout was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "error": {
          "description": "Output only. A status and (human readable) error message for the rollout, if in a `FAILED` state.",
          "readOnly": true,
          "$ref": "Status"
        },
        "state": {
          "enumDescriptions": [
            "The rollout is in an unknown state.",
            "The rollout is waiting for actuation to begin. This may be because it is waiting on another rollout to complete.",
            "The rollout is waiting for the build process to complete, which builds the code and sets up the underlying infrastructure.",
            "The rollout has started and is actively modifying traffic.",
            "The rollout has been paused due to either being manually paused or a PAUSED stage. This should be set while `paused = true`.",
            "The rollout has completed.",
            "The rollout has failed. See error for more information.",
            "The rollout has been cancelled.",
            "The rollout has been skipped."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "PENDING_BUILD",
            "PROGRESSING",
            "PAUSED",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "SKIPPED"
          ],
          "readOnly": true,
          "description": "Output only. The state of the rollout.",
          "type": "string"
        },
        "deleteTime": {
          "description": "Output only. Time at which the rollout was deleted.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "labels": {
          "description": "Optional. Unstructured key value map that can be used to organize and categorize objects.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "reconciling": {
          "description": "Output only. A field that, if true, indicates that the Rollout currently has an LRO.",
          "type": "boolean",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the rollout. Format: `projects/{project}/locations/{locationId}/backends/{backendId}/rollouts/{rolloutId}`.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Human-readable name. 63 character limit.",
          "type": "string"
        },
        "etag": {
          "readOnly": true,
          "description": "Output only. Server-computed checksum based on other values; may be sent on update or delete to ensure operation is done on expected resource.",
          "type": "string"
        }
      }
    },
    "Path": {
      "description": "A file path pattern to match against.",
      "type": "object",
      "id": "Path",
      "properties": {
        "pattern": {
          "description": "Optional. The pattern to match against.",
          "type": "string"
        },
        "type": {
          "enum": [
            "PATTERN_TYPE_UNSPECIFIED",
            "RE2",
            "GLOB",
            "PREFIX"
          ],
          "enumDescriptions": [
            "The pattern type is unspecified - this is an invalid value.",
            "RE2 - regular expression (https://github.com/google/re2/wiki/Syntax).",
            "The pattern is a glob.",
            "The pattern is a prefix."
          ],
          "description": "Optional. The type of pattern to match against.",
          "type": "string"
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "Firebase App Hosting streamlines the development and deployment of dynamic Next.js and Angular applications, offering built-in framework support, GitHub integration, and integration with other Firebase products. You can use this API to intervene in the Firebase App Hosting build process and add custom functionality not supported in our default Console & CLI flows, including triggering builds from external CI/CD workflows or deploying from pre-built container images. ",
  "canonicalName": "Firebase App Hosting",
  "mtlsRootUrl": "https://firebaseapphosting.mtls.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "firebaseapphosting.projects.locations.operations.delete",
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "DELETE"
                },
                "cancel": {
                  "id": "firebaseapphosting.projects.locations.operations.cancel",
                  "path": "v1beta/{+name}:cancel",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "id": "firebaseapphosting.projects.locations.operations.list",
                  "path": "v1beta/{+name}/operations",
                  "parameters": {
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "name": {
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "id": "firebaseapphosting.projects.locations.operations.get",
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                }
              }
            },
            "supportedRuntimes": {
              "methods": {
                "list": {
                  "id": "firebaseapphosting.projects.locations.supportedRuntimes.list",
                  "path": "v1beta/{+parent}/supportedRuntimes",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent, which owns this collection of SupportedRuntime. Format: projects/{project}/locations/{location}",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "pageSize": {
                      "description": "Optional. The suggested number of runtimes to return. This field is ignored. We return all runtimes in a single page regardless of the page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListSupportedRuntimesResponse"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/supportedRuntimes",
                  "description": "Lists the runtimes supported by the backend. The list of runtimes may vary across projects and locations, for example, during staged rollouts of new runtime support.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "backends": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Backend"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets information about a backend.",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}",
                  "httpMethod": "GET",
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+$",
                      "description": "Required. Name of the resource in the format: `projects/{project}/locations/{locationId}/backends/{backendId}`.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "firebaseapphosting.projects.locations.backends.get"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+$",
                      "description": "Required. Name of the resource in the format: `projects/{project}/locations/{locationId}/backends/{backendId}`.",
                      "location": "path",
                      "type": "string"
                    },
                    "etag": {
[...]
