{
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "default": "json"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "ownerName": "Google",
  "revision": "20260630",
  "title": "Firebase App Hosting API",
  "baseUrl": "https://firebaseapphosting.googleapis.com/",
  "canonicalName": "Firebase App Hosting",
  "documentationLink": "https://firebase.google.com/docs/app-hosting",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version_module": true,
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "id": "firebaseapphosting:v1",
  "name": "firebaseapphosting",
  "discoveryVersion": "v1",
  "version": "v1",
  "schemas": {
    "RunService": {
      "id": "RunService",
      "type": "object",
      "properties": {
        "service": {
          "description": "Optional. The name of the Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service), in the format: `projects/{project}/locations/{location}/services/{serviceId}`",
          "type": "string"
        }
      },
      "description": "A managed Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service)."
    },
    "ServingBehavior": {
      "id": "ServingBehavior",
      "type": "object",
      "properties": {
        "redirect": {
          "description": "Optional. Redirect behavior for a domain, if provided.",
          "$ref": "Redirect"
        }
      },
      "description": "Indicates whether App Hosting will serve content on the domain."
    },
    "TrafficSplit": {
      "id": "TrafficSplit",
      "type": "object",
      "properties": {
        "build": {
          "description": "Required. The build that traffic is being routed to.",
          "type": "string"
        },
        "percent": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The percentage of traffic to send to the build. Currently must be 100% or 0%."
        }
      },
      "description": "The traffic allocation for the backend."
    },
    "ContainerSource": {
      "description": "The URI of an Artifact Registry [container image](https://cloud.google.com/artifact-registry/docs/reference/rest/v1/projects.locations.repositories.dockerImages) to use as the build source.",
      "id": "ContainerSource",
      "type": "object",
      "properties": {
        "image": {
          "description": "Required. A URI representing a container for the backend to use.",
          "type": "string"
        }
      }
    },
    "DnsRecord": {
      "description": "A representation of a DNS records for a domain. DNS records are resource records that define how systems and services should behave when handling requests for a domain. For example, when you add `A` records to your domain's DNS records, you're informing other systems (such as your users' web browsers) to contact those IPv4 addresses to retrieve resources relevant to your domain (such as your App Hosting files).",
      "id": "DnsRecord",
      "type": "object",
      "properties": {
        "domainName": {
          "description": "Output only. The domain the record pertains to, e.g. `foo.bar.com.`.",
          "readOnly": true,
          "type": "string"
        },
        "rdata": {
          "description": "Output only. The data of the record. The meaning of the value depends on record type: - A and AAAA: IP addresses for the domain. - CNAME: Another domain to check for records. - TXT: Arbitrary text strings associated with the domain. App Hosting uses TXT records to determine which Firebase projects have permission to act on the domain's behalf. - CAA: The record's flags, tag, and value, e.g. `0 issue \"pki.goog\"`.",
          "readOnly": true,
          "type": "string"
        },
        "requiredAction": {
          "type": "string",
          "description": "Output only. An enum that indicates the a required action for this record. Populated when the record is part of a required change in a `DnsUpdates` `discovered` or `desired` record set.",
          "readOnly": true,
          "enumDescriptions": [
            "No action necessary.",
            "Add this record to your DNS records.",
            "Remove this record from your DNS records."
          ],
          "enum": [
            "NONE",
            "ADD",
            "REMOVE"
          ]
        },
        "relevantState": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. An enum that indicates which state(s) this DNS record applies to. Populated for all records with an `ADD` or `REMOVE` required action.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "This message is invalid if this is unspecified.",
              "The custom domain's host state.",
              "The custom domain's ownership state.",
              "The custom domain's certificate state."
            ],
            "enum": [
              "CUSTOM_DOMAIN_STATE_UNSPECIFIED",
              "HOST_STATE",
              "OWNERSHIP_STATE",
              "CERT_STATE"
            ]
          }
        },
        "type": {
          "readOnly": true,
          "enumDescriptions": [
            "The record's type is unspecified. The message is invalid if this is unspecified.",
            "An `A` record, as defined in [RFC 1035](https://tools.ietf.org/html/rfc1035). A records determine which IPv4 addresses a domain directs traffic towards.",
            "A `CNAME` record, as defined in [RFC 1035](https://tools.ietf.org/html/rfc1035). `CNAME` or Canonical Name records map a domain to a different, canonical domain. If a `CNAME` record is present, it should be the only record on the domain.",
            "A `TXT` record, as defined in [RFC 1035](https://tools.ietf.org/html/rfc1035). `TXT` records hold arbitrary text data on a domain. Hosting uses `TXT` records to establish which Firebase Project has permission to act on a domain.",
            "An AAAA record, as defined in [RFC 3596](https://tools.ietf.org/html/rfc3596) AAAA records determine which IPv6 addresses a domain directs traffic towards.",
            "A CAA record, as defined in [RFC 6844](https://tools.ietf.org/html/rfc6844). CAA, or Certificate Authority Authorization, records determine which Certificate Authorities (SSL certificate minting organizations) are authorized to mint a certificate for the domain. App Hosting uses `pki.goog` as its primary CA. CAA records cascade. A CAA record on `foo.com` also applies to `bar.foo.com` unless `bar.foo.com` has its own set of CAA records. CAA records are optional. If a domain and its parents have no CAA records, all CAs are authorized to mint certificates on its behalf. In general, App Hosting only asks you to modify CAA records when doing so is required to unblock SSL cert creation."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "A",
            "CNAME",
            "TXT",
            "AAAA",
            "CAA"
          ],
          "type": "string",
          "description": "Output only. The record's type, which determines what data the record contains."
        }
      }
    },
    "Codebase": {
      "id": "Codebase",
      "type": "object",
      "properties": {
        "rootDirectory": {
          "description": "Optional. If `repository` is provided, the directory relative to the root of the repository to use as the root for the deployed web app. Defaults to use the root of the repository if not provided. If deploying a [monorepo](https://firebase.google.com/docs/app-hosting/monorepos), this should be the directory that contains the `package.json` or `apphosting.yaml` file.",
          "type": "string"
        },
        "repository": {
          "description": "Required. The resource name for the Developer Connect [`gitRepositoryLink`](https://cloud.google.com/developer-connect/docs/api/reference/rest/v1/projects.locations.connections.gitRepositoryLinks) connected to this backend, in the format: `projects/{project}/locations/{location}/connections/{connection}/gitRepositoryLinks/{repositoryLink}` The connection for the `gitRepositoryLink` must made be using the Firebase App Hosting GitHub App via the Firebase Console.",
          "type": "string"
        }
      },
      "description": "The connection to an external source repository to watch for event-driven updates to the backend."
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      }
    },
    "Backend": {
      "description": "A backend is the primary resource of App Hosting.",
      "id": "Backend",
      "type": "object",
      "properties": {
        "appId": {
          "description": "Optional. The [ID of a Web App](https://firebase.google.com/docs/reference/firebase-management/rest/v1beta1/projects.webApps#WebApp.FIELDS.app_id) associated with the backend.",
          "type": "string"
        },
        "codebase": {
          "$ref": "Codebase",
          "description": "Optional. If specified, the connection to an external source repository to watch for event-driven updates to the backend."
        },
        "mode": {
          "description": "Optional. Deprecated: Use `environment` instead.",
          "deprecated": true,
          "type": "string"
        },
        "uid": {
          "description": "Output only. System-assigned, unique identifier.",
          "readOnly": true,
          "type": "string"
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. A field that, if true, indicates that the system is working to make adjustments to the backend during a LRO."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time at which the backend was created."
        },
        "annotations": {
          "description": "Optional. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "description": "Identifier. The resource name of the backend. Format: `projects/{project}/locations/{locationId}/backends/{backendId}`.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Unstructured key value map that can be used to organize and categorize objects.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time at which the backend was last updated."
        },
        "displayName": {
          "description": "Optional. Human-readable name. 63 character limit.",
          "type": "string"
        },
        "environment": {
          "description": "Optional. The environment name of the backend, used to load environment variables from environment specific configuration.",
          "type": "string"
        },
        "managedResources": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. A list of the resources managed by this backend.",
          "items": {
            "$ref": "ManagedResource"
          }
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-computed checksum based on other values; may be sent on update or delete to ensure operation is done on expected resource."
        },
        "serviceAccount": {
          "description": "Required. The name of the service account used for Cloud Build and Cloud Run. Should have the role roles/firebaseapphosting.computeRunner or equivalent permissions.",
          "type": "string"
        },
        "deleteTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time at which the backend was deleted."
        },
        "servingLocality": {
          "type": "string",
          "description": "Required. Immutable. Specifies how App Hosting will serve the content for this backend. It will either be contained to a single region (REGIONAL_STRICT) or allowed to use App Hosting's global-replicated serving infrastructure (GLOBAL_ACCESS).",
          "enumDescriptions": [
            "Unspecified. Will return an error if used.",
            "In this mode, App Hosting serves your backend's content from your chosen parent region. App Hosting only maintains data and serving infrastructure in that chosen region and does not replicate your data to other regions.",
            "In this mode, App Hosting serves your backend's content from multiple points-of-presence (POP) across the globe. App Hosting replicates your backend's configuration and cached data to these POPs and uses a global CDN to further decrease response latency. App Hosting-maintained Cloud Resources on your project, such as Cloud Run services, Cloud Build build, and Artifact Registry Images are still confined to your backend's parent region. Responses cached by the CDN may be stored in the POPs for the duration of the cache's TTL."
          ],
          "enum": [
            "SERVING_LOCALITY_UNSPECIFIED",
            "REGIONAL_STRICT",
            "GLOBAL_ACCESS"
          ]
        },
        "uri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The primary URI to communicate with the backend."
        },
        "requestLogsDisabled": {
          "description": "Optional. A field that, if true, indicates that incoming request logs are disabled for this backend. Incoming request logs are enabled by default.",
          "type": "boolean"
        }
      }
    },
    "EnvironmentVariable": {
      "id": "EnvironmentVariable",
      "type": "object",
      "properties": {
        "variable": {
          "description": "Required. The name of the environment variable. The environment variables reserved by [Cloud Run](https://docs.cloud.google.com/run/docs/configuring/services/environment-variables#reserved) should not be set. Additionally, variable names cannot start with \"X_FIREBASE_\".",
          "type": "string"
        },
        "originFileName": {
          "description": "Output only. Specific detail about the source. For APPHOSTING_YAML origins, this will contain the exact filename, such as \"apphosting.yaml\" or \"apphosting.staging.yaml\".",
          "readOnly": true,
          "type": "string"
        },
        "availability": {
          "items": {
            "enumDescriptions": [
              "The default value, unspecified, which is unused.",
              "This value is available when creating a Build from source code.",
              "This value is available at runtime within Cloud Run."
            ],
            "enum": [
              "AVAILABILITY_UNSPECIFIED",
              "BUILD",
              "RUNTIME"
            ],
            "type": "string"
          },
          "description": "Optional. Where this variable should be made available. If left unspecified, will be available in both BUILD and BACKEND.",
          "type": "array"
        },
        "secret": {
          "description": "A fully qualified secret version. The value of the secret will be accessed once while building the application and once per cold start of the container at runtime. The service account used by Cloud Build and by Cloud Run must each have the `secretmanager.versions.access` permission on the secret.",
          "type": "string"
        },
        "value": {
          "description": "A plaintext value. This value is encrypted at rest, but all project readers can view the value when reading your backend configuration.",
          "type": "string"
        },
        "origin": {
          "type": "string",
          "description": "Output only. The high-level origin category of the environment variable.",
          "readOnly": true,
          "enumDescriptions": [
            "Source is unspecified.",
            "Variable was set on the backend resource (e.g. via API or Console). Represents variables from `Backend.override_env`",
            "Variable was provided specifically for the build upon creation via the `Build.Config.env` field. Only used for pre-built images.",
            "Variable is defined in apphosting.yaml file.",
            "Variable is defined provided by the firebase platform."
          ],
          "enum": [
            "ORIGIN_UNSPECIFIED",
            "BACKEND_OVERRIDES",
            "BUILD_CONFIG",
            "APPHOSTING_YAML",
            "FIREBASE_SYSTEM"
          ]
        }
      },
      "description": "Environment variables for this build."
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      }
    },
    "Traffic": {
      "description": "Controls traffic configuration for the backend.",
      "id": "Traffic",
      "type": "object",
      "properties": {
        "current": {
          "readOnly": true,
          "$ref": "TrafficSet",
          "description": "Output only. Current state of traffic allocation for the backend. When setting `target`, this field may differ for some time until the desired state is reached."
        },
        "rolloutPolicy": {
          "description": "A rollout policy specifies how new builds and automatic deployments are created.",
          "$ref": "RolloutPolicy"
        },
        "uid": {
          "description": "Output only. System-assigned, unique identifier.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the backend's traffic. Format: `projects/{project}/locations/{locationId}/backends/{backendId}/traffic`.",
          "type": "string"
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. A field that, if true, indicates that the system is working to make the backend's `current` match the requested `target` list."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time at which the backend was created."
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects."
        },
        "etag": {
          "description": "Output only. Server-computed checksum based on other values; may be sent on update or delete to ensure operation is done on expected resource.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Time at which the backend was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "$ref": "TrafficSet",
          "description": "Set to manually control the desired traffic for the backend. This will cause `current` to eventually match this value. The percentages must add up to 100%."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Unstructured key value map that can be used to organize and categorize objects."
        }
      }
    },
    "ListBuildsResponse": {
      "id": "ListBuildsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying the next page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "builds": {
          "items": {
            "$ref": "Build"
          },
          "description": "The list of builds.",
          "type": "array"
        }
      },
      "description": "Message for response to list builds."
    },
    "ListBackendsResponse": {
      "description": "Message for response to list backends",
      "id": "ListBackendsResponse",
      "type": "object",
      "properties": {
        "backends": {
          "items": {
            "$ref": "Backend"
          },
          "description": "The list of backends",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying the next page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ArchiveSource": {
      "description": "The URI of an storage archive or a signed URL to use as the build source.",
      "id": "ArchiveSource",
      "type": "object",
      "properties": {
        "externalSignedUri": {
          "description": "Signed URL to an archive in a storage bucket.",
          "type": "string"
        },
        "userStorageUri": {
          "description": "URI to an archive in Cloud Storage. The object must be a zipped (.zip) or gzipped archive file (.tar.gz) containing source to deploy.",
          "type": "string"
        },
        "rootDirectory": {
          "description": "Optional. The directory relative to the root of the archive to use as the root for the deployed web app. Defaults to use the root of the repository if not provided. If deploying a [monorepo](https://firebase.google.com/docs/app-hosting/monorepos), this should be the directory that contains the `package.json` or `apphosting.yaml` file.",
          "type": "string"
        },
        "author": {
          "deprecated": true,
          "$ref": "SourceUserMetadata",
          "description": "Optional. Deprecated: Not used. The author contained in the metadata of a version control change."
        },
        "description": {
          "description": "Optional. An optional message that describes the uploaded version of the source code.",
          "type": "string"
        }
      }
    },
    "Rollout": {
      "id": "Rollout",
      "type": "object",
      "properties": {
        "deleteTime": {
          "description": "Output only. Time at which the rollout was deleted.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-computed checksum based on other values; may be sent on update or delete to ensure operation is done on expected resource."
        },
        "name": {
          "description": "Identifier. The resource name of the rollout. Format: `projects/{project}/locations/{locationId}/backends/{backendId}/rollouts/{rolloutId}`.",
          "type": "string"
        },
        "error": {
          "description": "Output only. A status and (human readable) error message for the rollout, if in a `FAILED` state.",
          "$ref": "Status",
          "readOnly": true
        },
        "reconciling": {
          "description": "Output only. A field that, if true, indicates that the Rollout currently has an LRO.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. Time at which the rollout was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects."
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. System-assigned, unique identifier."
        },
        "build": {
          "description": "Required. Immutable. The name of a build that already exists. It doesn't have to be built; a rollout will wait for a build to be ready before updating traffic.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Human-readable name. 63 character limit.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The rollout is in an unknown state.",
            "The rollout is waiting for actuation to begin. This may be because it is waiting on another rollout to complete.",
            "The rollout is waiting for the build process to complete, which builds the code and sets up the underlying infrastructure.",
            "The rollout has started and is actively modifying traffic.",
            "The rollout has been paused due to either being manually paused or a PAUSED stage. This should be set while `paused = true`.",
            "The rollout has completed.",
            "The rollout has failed. See error for more information.",
            "The rollout has been cancelled.",
            "The rollout has been skipped."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "PENDING_BUILD",
            "PROGRESSING",
            "PAUSED",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "SKIPPED"
          ],
          "readOnly": true,
          "description": "Output only. The state of the rollout.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time at which the rollout was last updated."
        },
        "labels": {
          "description": "Optional. Unstructured key value map that can be used to organize and categorize objects.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "A single rollout of a build for a backend."
    },
    "RunConfig": {
      "description": "Configuration applied to the Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service).",
      "id": "RunConfig",
      "type": "object",
      "properties": {
        "concurrency": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Maximum number of requests that each Cloud Run instance can receive. By default, each instance can receive Cloud Run's default of up to 80 requests at the same time. Concurrency can be set to any integer value up to 1000."
        },
        "maxInstances": {
          "description": "Optional. Number of Cloud Run instances to maintain at maximum for each revision. By default, each Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service) scales out to Cloud Run's default of a maximum of 100 instances. The maximum max_instances limit is based on your quota. See https://cloud.google.com/run/docs/configuring/max-instances#limits.",
          "format": "int32",
          "type": "integer"
        },
        "minInstances": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Number of Cloud Run instances to maintain at minimum for each Cloud Run Service. By default, there are no minimum. Even if the service splits traffic across multiple revisions, the total number of instances for a service will be capped at this value."
        },
        "cpu": {
          "type": "number",
          "format": "float",
          "description": "Optional. Number of CPUs used for each serving instance. By default, cpu defaults to the Cloud Run's default of 1.0. CPU can be set to value 1, 2, 4, 6, or 8 CPUs, and for less than 1 CPU, a value from 0.08 to less than 1.00, in increments of 0.01. If you set a value of less than 1 CPU, you must set concurrency to 1, and CPU will only be allocated during request processing. Increasing CPUs limit may require increase in memory limits: - 4 CPUs: at least 2 GiB - 6 CPUs: at least 4 GiB - 8 CPUs: at least 4 GiB"
        },
        "memoryMib": {
          "description": "Optional. Amount of memory allocated for each serving instance in MiB. By default, memory defaults to the Cloud Run's default where each instance is allocated 512 MiB of memory. Memory can be set to any integer value between 128 to 32768. Increasing memory limit may require increase in CPUs limits: - Over 4 GiB: at least 2 CPUs - Over 8 GiB: at least 4 CPUs - Over 16 GiB: at least 6 CPUs - Over 24 GiB: at least 8 CPUs",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Domain": {
      "description": "A domain name that is associated with a backend.",
      "id": "Domain",
      "type": "object",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time at which the domain was last updated."
        },
        "displayName": {
          "description": "Optional. Mutable human-readable name for the domain. 63 character limit. e.g. `prod domain`.",
          "type": "string"
        },
        "type": {
          "description": "Output only. The type of the domain.",
          "type": "string",
          "enumDescriptions": [
            "The type is unspecified (this should not happen).",
            "Default, App Hosting-provided and managed domains. These domains are created automatically with their parent backend and cannot be deleted except by deleting that parent, and cannot be moved to another backend. Default domains can be disabled via the `disabled` field.",
            "Custom, developer-owned domains. Custom Domains allow you to associate a domain you own with your App Hosting backend, and configure that domain to serve your backend's content."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "DEFAULT",
            "CUSTOM"
          ],
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Time at which the domain was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. A field that, if true, indicates that the build has an ongoing LRO.",
          "readOnly": true,
          "type": "boolean"
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Annotations as key value pairs."
        },
        "name": {
          "description": "Identifier. The resource name of the domain, e.g. `/projects/p/locations/l/backends/b/domains/foo.com`",
          "type": "string"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. System-assigned, unique identifier."
        },
        "customDomainStatus": {
          "$ref": "CustomDomainStatus",
          "readOnly": true,
          "description": "Output only. Represents the state and configuration of a `CUSTOM` type domain. It is only present on Domains of that type."
        },
        "serve": {
          "description": "Optional. The serving behavior of the domain. If specified, the domain will serve content other than its backend's live content.",
          "$ref": "ServingBehavior"
        },
        "etag": {
          "description": "Output only. Server-computed checksum based on other values; may be sent on update or delete to ensure operation is done on expected resource.",
          "readOnly": true,
          "type": "string"
        },
        "disabled": {
          "description": "Optional. Whether the domain is disabled. Defaults to false.",
          "type": "boolean"
        },
        "deleteTime": {
          "description": "Output only. Time at which the domain was deleted.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "RolloutPolicy": {
      "id": "RolloutPolicy",
      "type": "object",
      "properties": {
        "disabled": {
          "description": "Optional. A flag that, if true, prevents automatic rollouts from being created via this RolloutPolicy.",
          "type": "boolean"
        },
        "codebaseBranch": {
          "description": "If set, specifies a branch that triggers a new build to be started with this policy. Otherwise, no automatic rollouts will happen.",
          "type": "string"
        },
        "requiredPaths": {
          "items": {
            "$ref": "Path"
          },
          "description": "Optional. A list of file paths patterns that trigger a build and rollout if at least one of the changed files in the commit are present in this list. This field is optional; the rollout policy will default to triggering on all paths if both ignored_paths and required_paths are not populated. Limited to 100 paths. Example: ``` required_paths: { pattern: \"foo/bar/*\", type: \"GLOB\" } ```",
          "type": "array"
        },
        "disabledTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. If `disabled` is set, the time at which the automatic rollouts were disabled."
        },
        "ignoredPaths": {
          "description": "Optional. A list of file paths patterns to exclude from triggering a rollout. Patterns in this list take precedence over required_paths. **Note**: All paths must be in the ignored_paths in order for the rollout to be skipped. Limited to 100 paths. Example: ``` ignored_paths: { pattern: \"foo/bar/excluded/*\", type: \"GLOB\" } ```",
          "items": {
            "$ref": "Path"
          },
          "type": "array"
        }
      },
      "description": "The policy for how automatic builds and rollouts are triggered and rolled out."
    },
    "Build": {
      "description": "A single build for a backend, at a specific point codebase reference tag and point in time. Encapsulates several resources, including an Artifact Registry container image, a Cloud Build invocation that built the image, and the Cloud Run revision that uses that image.",
      "id": "Build",
      "type": "object",
      "properties": {
        "image": {
          "description": "Output only. The Artifact Registry [container image](https://cloud.google.com/artifact-registry/docs/reference/rest/v1/projects.locations.repositories.dockerImages) URI, used by the Cloud Run [`revision`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services.revisions) for this build.",
          "readOnly": true,
          "type": "string"
        },
        "source": {
          "description": "Required. Immutable. The source for the build.",
          "$ref": "BuildSource"
        },
        "etag": {
          "description": "Output only. Server-computed checksum based on other values; may be sent on update or delete to ensure operation is done on expected resource.",
          "readOnly": true,
          "type": "string"
        },
        "errors": {
          "items": {
            "$ref": "Error"
          },
          "description": "Output only. A list of all errors that occurred during an App Hosting build.",
          "readOnly": true,
          "type": "array"
        },
        "deleteTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time at which the build was deleted."
        },
        "buildLogsUri": {
          "description": "Output only. The location of the [Cloud Build logs](https://cloud.google.com/build/docs/view-build-results) for the build process.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Unstructured key value map that can be used to organize and categorize objects."
        },
        "config": {
          "$ref": "Config",
          "description": "Optional. Additional configuration of the service."
        },
        "updateTime": {
          "description": "Output only. Time at which the build was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "environment": {
          "description": "Output only. The environment name of the backend when this build was created.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Human-readable name. 63 character limit.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The build is in an unknown state.",
            "The build is building.",
            "The build has completed and is awaiting the next step. This may move to DEPLOYING once App Hosting starts to set up infrastructure.",
            "The infrastructure for this build is being set up.",
            "The infrastructure for this build is ready. The build may or may not be serving traffic - see `Backend.traffic` for the current state, or `Backend.traffic_statuses` for the desired state.",
            "The build has failed.",
            "The build was skipped.",
            "The build has expired and may not be reused."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "BUILDING",
            "BUILT",
            "DEPLOYING",
            "READY",
            "FAILED",
            "SKIPPED",
            "EXPIRED"
          ],
          "type": "string",
          "description": "Output only. The state of the build."
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. A field that, if true, indicates that the build has an ongoing LRO."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time at which the build was created."
        },
        "annotations": {
          "description": "Optional. Unstructured key value map that may be set by external tools to store and arbitrary metadata. They are not queryable and should be preserved when modifying objects.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "description": "Identifier. The resource name of the build. Format: `projects/{project}/locations/{locationId}/backends/{backendId}/builds/{buildId}`.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. System-assigned, unique identifier.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "CustomDomainStatus": {
      "id": "CustomDomainStatus",
      "type": "object",
      "properties": {
        "certState": {
          "type": "string",
          "description": "Output only. Tracks SSL certificate status for the domain.",
          "readOnly": true,
          "enumDescriptions": [
            "The certificate's state is unspecified. The message is invalid if this is unspecified.",
            "The initial state of every certificate, represents App Hosting's intent to create a certificate before requests to a Certificate Authority are made.",
            "App Hosting is validating whether a domain name's DNS records are in a state that allow certificate creation on its behalf.",
            "The certificate was recently created, and needs time to propagate in App Hosting's load balancers.",
            "The certificate is active, providing secure connections for the domain names it represents.",
            "The certificate is expiring, all domain names on it will be given new certificates.",
            "The certificate has expired. App Hosting can no longer serve secure content on your domain name."
          ],
          "enum": [
            "CERT_STATE_UNSPECIFIED",
            "CERT_PREPARING",
            "CERT_VALIDATING",
            "CERT_PROPAGATING",
            "CERT_ACTIVE",
            "CERT_EXPIRING_SOON",
            "CERT_EXPIRED"
          ]
        },
        "hostState": {
          "type": "string",
          "description": "Output only. Tracks whether a custom domain is detected as appropriately directing traffic to App Hosting.",
          "readOnly": true,
          "enumDescriptions": [
            "Your custom domain's host state is unspecified. The message is invalid if this is unspecified.",
            "Your custom domain isn't associated with any IP addresses.",
            "Your custom domain can't be reached. App Hosting services' DNS queries to find your domain's IP addresses resulted in errors. See your `CustomDomainStatus`'s `issues` field for more details.",
            "Your domain has only IP addresses that don't ultimately resolve to App Hosting.",
            "Your domain has IP addresses that resolve to both App Hosting and to other services. To ensure consistent results, remove `A` and `AAAA` records related to non-App-Hosting services.",
            "Your domain has IP addresses that resolve to an incorrect instance of the App Hosting Data Plane. App Hosting has multiple data plane instances to ensure high availability. The SSL certificate that App Hosting creates for your domain is only available on its assigned instance. If your domain's IP addresses resolve to an incorrect instance, App Hosting won't be able to serve secure content on it.",
            "All requests against your domain are served by App Hosting, via your domain's assigned shard. If the custom domain's `OwnershipState` is also `OWNERSHIP_ACTIVE`, App Hosting serves its backend's content on requests for the domain."
          ],
          "enum": [
            "HOST_STATE_UNSPECIFIED",
            "HOST_UNHOSTED",
            "HOST_UNREACHABLE",
            "HOST_NON_FAH",
            "HOST_CONFLICT",
            "HOST_WRONG_SHARD",
            "HOST_ACTIVE"
          ]
        },
        "ownershipState": {
          "type": "string",
          "description": "Output only. Tracks whether the backend is permitted to serve content on the domain, based off the domain's DNS records.",
          "readOnly": true,
          "enumDescriptions": [
            "Your custom domain's ownership state is unspecified. This should never happen.",
            "Your custom domain's domain has no App-Hosting-related ownership records; no backend is authorized to serve on the domain in this Origin shard.",
            "Your custom domain can't be reached. App Hosting services' DNS queries to find your domain's ownership records resulted in errors. See your `CustomDomainStatus`'s `issues` field for more details.",
            "Your custom domain is owned by another App Hosting custom domain. Remove the conflicting records and replace them with records for your current custom domain.",
            "Your custom domain has conflicting `TXT` records that indicate ownership by both your current custom domain one or more others. Remove the extraneous ownership records to grant the current custom domain ownership.",
            "Your custom domain's DNS records are configured correctly. App Hosting will transfer ownership of your domain to this custom domain within 24 hours.",
            "Your custom domain owns its domain."
          ],
          "enum": [
            "OWNERSHIP_STATE_UNSPECIFIED",
            "OWNERSHIP_MISSING",
            "OWNERSHIP_UNREACHABLE",
            "OWNERSHIP_MISMATCH",
            "OWNERSHIP_CONFLICT",
            "OWNERSHIP_PENDING",
            "OWNERSHIP_ACTIVE"
          ]
        },
        "requiredDnsUpdates": {
          "description": "Output only. Lists the records that must added or removed to a custom domain's DNS in order to finish setup and start serving content. Field is present during onboarding. Also present after onboarding if one or more of the above states is not *_ACTIVE, indicating the domain's DNS records are in a bad state.",
          "items": {
            "$ref": "DnsUpdates"
          },
          "readOnly": true,
          "type": "array"
        },
        "issues": {
          "items": {
            "$ref": "Status"
          },
          "description": "Output only. A list of issues with domain configuration. Allows users to self-correct problems with DNS records.",
          "readOnly": true,
          "type": "array"
        }
      },
      "description": "The status of a custom domain's linkage to a backend."
    },
    "CustomDomainOperationMetadata": {
      "id": "CustomDomainOperationMetadata",
      "type": "object",
      "properties": {
        "certState": {
          "readOnly": true,
          "enumDescriptions": [
            "The certificate's state is unspecified. The message is invalid if this is unspecified.",
            "The initial state of every certificate, represents App Hosting's intent to create a certificate before requests to a Certificate Authority are made.",
            "App Hosting is validating whether a domain name's DNS records are in a state that allow certificate creation on its behalf.",
            "The certificate was recently created, and needs time to propagate in App Hosting's load balancers.",
            "The certificate is active, providing secure connections for the domain names it represents.",
            "The certificate is expiring, all domain names on it will be given new certificates.",
            "The certificate has expired. App Hosting can no longer serve secure content on your domain name."
          ],
          "enum": [
            "CERT_STATE_UNSPECIFIED",
            "CERT_PREPARING",
            "CERT_VALIDATING",
            "CERT_PROPAGATING",
            "CERT_ACTIVE",
            "CERT_EXPIRING_SOON",
            "CERT_EXPIRED"
          ],
          "type": "string",
          "description": "Output only. The custom domain's `CertState`, which must be `CERT_ACTIVE` for the create operations to complete."
        },
        "hostState": {
          "description": "Output only. The custom domain's `HostState`, which must be `HOST_ACTIVE` for Create operations of the domain name this `CustomDomain` refers toto complete.",
          "type": "string",
          "enumDescriptions": [
            "Your custom domain's host state is unspecified. The message is invalid if this is unspecified.",
            "Your custom domain isn't associated with any IP addresses.",
            "Your custom domain can't be reached. App Hosting services' DNS queries to find your domain's IP addresses resulted in errors. See your `CustomDomainStatus`'s `issues` field for more details.",
            "Your domain has only IP addresses that don't ultimately resolve to App Hosting.",
            "Your domain has IP addresses that resolve to both App Hosting and to other services. To ensure consistent results, remove `A` and `AAAA` records related to non-App-Hosting services.",
            "Your domain has IP addresses that resolve to an incorrect instance of the App Hosting Data Plane. App Hosting has multiple data plane instances to ensure high availability. The SSL certificate that App Hosting creates for your domain is only available on its assigned instance. If your domain's IP addresses resolve to an incorrect instance, App Hosting won't be able to serve secure content on it.",
            "All requests against your domain are served by App Hosting, via your domain's assigned shard. If the custom domain's `OwnershipState` is also `OWNERSHIP_ACTIVE`, App Hosting serves its backend's content on requests for the domain."
          ],
          "enum": [
            "HOST_STATE_UNSPECIFIED",
            "HOST_UNHOSTED",
            "HOST_UNREACHABLE",
            "HOST_NON_FAH",
            "HOST_CONFLICT",
            "HOST_WRONG_SHARD",
            "HOST_ACTIVE"
          ],
          "readOnly": true
        },
        "liveMigrationSteps": {
          "description": "Output only. A list of steps that the user must complete to migrate their domain to App Hosting without downtime.",
          "items": {
            "$ref": "LiveMigrationStep"
          },
          "readOnly": true,
          "type": "array"
        },
        "issues": {
          "description": "Output only. A list of issues that are currently preventing the operation from completing. These are generally DNS-related issues encountered when querying a domain's records or attempting to mint an SSL certificate.",
          "items": {
            "$ref": "Status"
          },
          "readOnly": true,
          "type": "array"
        },
        "quickSetupUpdates": {
          "items": {
            "$ref": "DnsUpdates"
          },
          "description": "Output only. A set of DNS record updates to perform, to allow App Hosting to serve secure content on the domain.",
          "readOnly": true,
          "type": "array"
        },
        "ownershipState": {
          "type": "string",
          "description": "Output only. The custom domain's `OwnershipState`, which must be `OWNERSHIP_ACTIVE` for the create operations to complete.",
          "readOnly": true,
          "enumDescriptions": [
            "Your custom domain's ownership state is unspecified. This should never happen.",
            "Your custom domain's domain has no App-Hosting-related ownership records; no backend is authorized to serve on the domain in this Origin shard.",
            "Your custom domain can't be reached. App Hosting services' DNS queries to find your domain's ownership records resulted in errors. See your `CustomDomainStatus`'s `issues` field for more details.",
            "Your custom domain is owned by another App Hosting custom domain. Remove the conflicting records and replace them with records for your current custom domain.",
            "Your custom domain has conflicting `TXT` records that indicate ownership by both your current custom domain one or more others. Remove the extraneous ownership records to grant the current custom domain ownership.",
            "Your custom domain's DNS records are configured correctly. App Hosting will transfer ownership of your domain to this custom domain within 24 hours.",
            "Your custom domain owns its domain."
          ],
          "enum": [
            "OWNERSHIP_STATE_UNSPECIFIED",
            "OWNERSHIP_MISSING",
            "OWNERSHIP_UNREACHABLE",
            "OWNERSHIP_MISMATCH",
            "OWNERSHIP_CONFLICT",
            "OWNERSHIP_PENDING",
            "OWNERSHIP_ACTIVE"
          ]
        }
      },
      "description": "Additional metadata for operations on custom domains."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "ManagedResource": {
      "id": "ManagedResource",
      "type": "object",
      "properties": {
        "runService": {
          "description": "A Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service), managed by App Hosting.",
          "$ref": "RunService"
        }
      },
      "description": "An external resource managed by App Hosting on the project."
    },
    "Error": {
      "description": "The container for the rpc status and source for any errors found during the build process.",
      "id": "Error",
      "type": "object",
      "properties": {
        "error": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. A status and (human readable) error message for the build, if in a `FAILED` state."
        },
        "errorSource": {
          "readOnly": true,
          "enumDescriptions": [
            "Indicates that generic error occurred outside of the Cloud Build or Cloud Run processes, such as a pre-empted or user-canceled App Hosting Build.",
            "Indicates that the build failed during the Cloud Build process, such as a build timeout.",
            "Indicates that the build failed during the Cloud Run process, such as a service creation failure."
          ],
          "enum": [
            "ERROR_SOURCE_UNSPECIFIED",
            "CLOUD_BUILD",
            "CLOUD_RUN"
          ],
          "type": "string",
          "description": "Output only. The source of the error for the build, if in a `FAILED` state."
        },
        "cloudResource": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource link"
        }
      }
    },
    "LiveMigrationStep": {
      "id": "LiveMigrationStep",
      "type": "object",
      "properties": {
        "dnsUpdates": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. DNS updates to facilitate your domain's zero-downtime migration to App Hosting.",
          "items": {
            "$ref": "DnsUpdates"
          }
        },
        "relevantDomainStates": {
          "description": "Output only. One or more states from the `CustomDomainStatus` of the migrating domain that this step is attempting to make ACTIVE. For example, if the step is attempting to mint an SSL certificate, this field will include `CERT_STATE`.",
          "items": {
            "enumDescriptions": [
              "This message is invalid if this is unspecified.",
              "The custom domain's host state.",
              "The custom domain's ownership state.",
              "The custom domain's certificate state."
            ],
            "enum": [
              "CUSTOM_DOMAIN_STATE_UNSPECIFIED",
              "HOST_STATE",
              "OWNERSHIP_STATE",
              "CERT_STATE"
            ],
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "stepState": {
          "enumDescriptions": [
            "The step's state is unspecified. The message is invalid if this is unspecified.",
            "App Hosting doesn't have enough information to construct the step yet. Complete any prior steps and/or resolve this step's issue to proceed.",
            "The step's state is pending. Complete prior steps before working on a `PENDING` step.",
            "The step is incomplete. You should complete any `dnsUpdates` changes to complete it.",
            "You've done your part to update records and present challenges as necessary. App Hosting is now completing background processes to complete the step, e.g. minting an SSL cert for your domain.",
            "The step is complete. You've already made the necessary changes to your domain and/or prior hosting service to advance to the next step. Once all steps are complete, App Hosting is ready to serve secure content on your domain."
          ],
          "enum": [
            "STEP_STATE_UNSPECIFIED",
            "PREPARING",
            "PENDING",
            "INCOMPLETE",
            "PROCESSING",
            "COMPLETE"
          ],
          "readOnly": true,
          "description": "Output only. The state of the live migration step, indicates whether you should work to complete the step now, in the future, or have already completed it.",
          "type": "string"
        },
        "issues": {
          "items": {
            "$ref": "Status"
          },
          "description": "Output only. Issues that prevent the current step from completing.",
          "readOnly": true,
          "type": "array"
        }
      },
      "description": "A set of updates including ACME challenges and DNS records that allow App Hosting to create an SSL certificate and establish project ownership for your domain name before you direct traffic to App Hosting servers. Use these updates to facilitate zero downtime migrations to App Hosting from other services. After you've made the recommended updates, check your custom domain's `ownershipState` and `certState`. To avoid downtime, they should be `OWNERSHIP_ACTIVE` and `CERT_ACTIVE`, respectively, before you update your `A` and `AAAA` records."
    },
    "DomainOperationMetadata": {
      "id": "DomainOperationMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running."
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "customDomainOperationMetadata": {
          "readOnly": true,
          "$ref": "CustomDomainOperationMetadata",
          "description": "Output only. Additional metadata for operations on custom domains."
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents the metadata of a long-running operation on domains."
    },
    "UserMetadata": {
      "id": "UserMetadata",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Output only. The 'name' field in a Git user's git.config. Required by Git.",
          "readOnly": true,
          "type": "string"
        },
        "email": {
          "description": "Output only. The 'email' field in a Git user's git.config, if available.",
          "readOnly": true,
          "type": "string"
        },
        "imageUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URI of an image file associated with the user's account in an external source control provider, if available."
        }
      },
      "description": "Version control metadata for a user associated with a resolved codebase. Currently assumes a Git user."
    },
    "DnsUpdates": {
      "description": "A set of DNS record updates that you should make to allow App Hosting to serve secure content in response to requests against your domain. These updates present the current state of your domain's and related subdomains' DNS records when App Hosting last queried them, and the desired set of records that App Hosting needs to see before your custom domain can be fully active.",
      "id": "DnsUpdates",
      "type": "object",
      "properties": {
        "discovered": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "DnsRecordSet"
          },
          "description": "Output only. The set of DNS records App Hosting discovered when inspecting a domain."
        },
        "checkTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The last time App Hosting checked your custom domain's DNS records."
        },
        "domainName": {
          "description": "Output only. The domain name the DNS updates pertain to.",
          "readOnly": true,
          "type": "string"
        },
        "desired": {
          "description": "Output only. The set of DNS records App Hosting needs in order to be able to serve secure content on the domain.",
          "items": {
            "$ref": "DnsRecordSet"
          },
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      }
    },
    "CodebaseSource": {
      "id": "CodebaseSource",
      "type": "object",
      "properties": {
        "branch": {
          "description": "The branch in the codebase to build from, using the latest commit.",
          "type": "string"
        },
        "displayName": {
          "description": "Output only. The human-friendly name to use for this Codebase when displaying a build. We use the first eight characters of the SHA-1 hash for GitHub.com.",
          "readOnly": true,
          "type": "string"
        },
        "repository": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name for the Developer Connect [`gitRepositoryLink`](https://cloud.google.com/developer-connect/docs/api/reference/rest/v1/projects.locations.connections.gitRepositoryLinks) used for this build, in the format: `projects/{project}/locations/{location}/connections/{connection}/gitRepositoryLinks/{repositoryLink}`"
        },
        "author": {
          "$ref": "UserMetadata",
          "readOnly": true,
          "description": "Output only. The author contained in the metadata of a version control change."
        },
        "commitMessage": {
          "description": "Output only. The message of a codebase change.",
          "readOnly": true,
          "type": "string"
        },
        "hash": {
          "description": "Output only. The full SHA-1 hash of a Git commit, if available.",
          "readOnly": true,
          "type": "string"
        },
        "commitTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the change was made."
        },
        "commit": {
          "description": "The commit in the codebase to build from.",
          "type": "string"
        },
        "uri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A URI linking to the codebase on an hosting provider's website. May not be valid if the commit has been rebased or force-pushed out of existence in the linked repository."
        }
      },
      "description": "A codebase source, representing the state of the codebase that the build will be created at."
    },
    "Redirect": {
      "id": "Redirect",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Required. The URI of the redirect's intended destination. This URI will be prepended to the original request path. URI without a scheme are assumed to be HTTPS.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The status code to use in a redirect response. Must be a valid HTTP 3XX status code. Defaults to 302 if not present."
        }
      },
      "description": "Specifies redirect behavior for a domain."
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        }
      },
      "description": "Represents the metadata of a long-running operation."
    },
    "Path": {
      "id": "Path",
      "type": "object",
      "properties": {
        "pattern": {
          "description": "Optional. The pattern to match against.",
          "type": "string"
        },
        "type": {
          "description": "Optional. The type of pattern to match against.",
          "enumDescriptions": [
            "The pattern type is unspecified - this is an invalid value.",
            "RE2 - regular expression (https://github.com/google/re2/wiki/Syntax).",
            "The pattern is a glob.",
            "The pattern is a prefix."
          ],
          "enum": [
            "PATTERN_TYPE_UNSPECIFIED",
            "RE2",
            "GLOB",
            "PREFIX"
          ],
          "type": "string"
        }
      },
      "description": "A file path pattern to match against."
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "BuildSource": {
      "id": "BuildSource",
      "type": "object",
      "properties": {
        "codebase": {
          "description": "A codebase source.",
          "$ref": "CodebaseSource"
        },
        "container": {
          "description": "An Artifact Registry container image source.",
          "$ref": "ContainerSource"
        },
        "archive": {
          "description": "An archive source.",
          "$ref": "ArchiveSource"
        }
      },
      "description": "The source for the build."
    },
    "DnsRecordSet": {
      "id": "DnsRecordSet",
      "type": "object",
      "properties": {
        "checkError": {
          "description": "Output only. An error App Hosting services encountered when querying your domain's DNS records. Note: App Hosting ignores `NXDOMAIN` errors, as those generally just mean that a domain name hasn't been set up yet.",
          "readOnly": true,
          "$ref": "Status"
        },
        "domainName": {
          "description": "Output only. The domain name the record set pertains to.",
          "readOnly": true,
          "type": "string"
        },
        "records": {
          "items": {
            "$ref": "DnsRecord"
          },
          "description": "Output only. Records on the domain.",
          "readOnly": true,
          "type": "array"
        }
      },
      "description": "A set of DNS records relevant to the setup and maintenance of a custom domain in App Hosting."
    },
    "TrafficSet": {
      "id": "TrafficSet",
      "type": "object",
      "properties": {
        "splits": {
          "type": "array",
          "items": {
            "$ref": "TrafficSplit"
          },
          "description": "Required. The list of traffic splits."
        }
      },
      "description": "A list of traffic splits that together represent where traffic is being routed."
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "properties": {},
      "description": "The request message for Operations.CancelOperation."
    },
    "SourceUserMetadata": {
      "id": "SourceUserMetadata",
      "deprecated": true,
      "type": "object",
      "properties": {
        "displayName": {
          "readOnly": true,
          "deprecated": true,
          "type": "string",
          "description": "Output only. Deprecated: Not used. The user-chosen displayname. May be empty."
        },
        "email": {
          "description": "Output only. Deprecated: Not used. The account email linked to the EUC that created the build. May be a service account or other robot account.",
          "readOnly": true,
          "deprecated": true,
          "type": "string"
        },
        "imageUri": {
          "readOnly": true,
          "deprecated": true,
          "type": "string",
          "description": "Output only. Deprecated: Not used. The URI of a profile photo associated with the user who created the build."
        }
      },
      "description": "Deprecated: Not used. Metadata for the user who started the build."
    },
    "ListRolloutsResponse": {
      "id": "ListRolloutsResponse",
      "type": "object",
      "properties": {
        "rollouts": {
          "items": {
            "$ref": "Rollout"
          },
          "description": "The list of rollouts.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying the next page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Message for response to list rollouts."
    },
    "Config": {
      "id": "Config",
      "type": "object",
      "properties": {
        "effectiveEnv": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. [OUTPUT_ONLY] This field represents all environment variables employed during both the build and runtime. This list reflects the result of merging variables from all sources (Backend.override_env, Build.Config.env, YAML, defaults, system). Each variable includes its `origin`",
          "items": {
            "$ref": "EnvironmentVariable"
          }
        },
        "env": {
          "description": "Optional. Supplied environment variables for a specific build. Provided at Build creation time and immutable afterwards. This field is only applicable for Builds using a build image - (e.g., ContainerSource or ArchiveSource with locally_built_source) Attempts to set this for other build types will result in an error",
          "items": {
            "$ref": "EnvironmentVariable"
          },
          "type": "array"
        },
        "runConfig": {
          "$ref": "RunConfig",
          "description": "Optional. Additional configuration of the Cloud Run [`service`](https://cloud.google.com/run/docs/reference/rest/v2/projects.locations.services#resource:-service)."
        }
      },
      "description": "Additional configuration of the backend for this build."
    },
    "ListDomainsResponse": {
      "description": "Message for response to list domains.",
      "id": "ListDomainsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A token identifying the next page of results the server should return."
        },
        "unreachable": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached."
        },
        "domains": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of domains.",
          "items": {
            "$ref": "Domain"
          }
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}/locations",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "id": "firebaseapphosting.projects.locations.list",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "flatPath": "v1/projects/{projectsId}/locations",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable."
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "extraLocationTypes": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                }
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets information about a location.",
              "id": "firebaseapphosting.projects.locations.get",
              "response": {
                "$ref": "Location"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              }
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "firebaseapphosting.projects.locations.operations.delete",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}"
                },
                "list": {
                  "id": "firebaseapphosting.projects.locations.operations.list",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameters": {
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "The standard list page size."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "path": "v1/{+name}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                },
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "firebaseapphosting.projects.locations.operations.get"
                },
                "cancel": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:cancel",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "id": "firebaseapphosting.projects.locations.operations.cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled."
                    }
                  }
                }
              }
            },
            "backends": {
              "methods": {
                "list": {
                  "id": "firebaseapphosting.projects.locations.backends.list",
                  "response": {
                    "$ref": "ListBackendsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. A parent name of the form `projects/{project}/locations/{locationId}`.",
                      "location": "path",
                      "required": true
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Hint for how to order the results. Supported fields are `name` and `createTime`. To specify descending order, append a `desc` suffix."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A filter to narrow down results to a preferred subset. Learn more about filtering in Google's [AIP 160 standard](https://google.aip.dev/160)."
                    },
                    "showDeleted": {
                      "description": "Optional. If true, the request returns soft-deleted resources that haven't been fully-deleted yet.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of results to return. If not set, the service selects a default.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token received from the nextPageToken field in the response. Send that page token to receive the subsequent page."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/backends",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists backends in a given project and location."
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets information about a backend.",
                  "id": "firebaseapphosting.projects.locations.backends.get",
                  "response": {
                    "$ref": "Backend"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backends/{backendsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the resource in the format: `projects/{project}/locations/{locationId}/backends/{backendId}`."
                    }
                  }
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Backend"
                  },
                  "description": "Updates the information for a single backend.",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backends/[^/]+$",
                      "type": "string",
                      "description": "Identifier. The resource name of the backend. Format: `projects/{project}/locations/{locationId}/backends/{backendId}`."
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the backend resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten."
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "allowMissing": {
                      "description": "Optional. If set to true, and the backend is not found, a new backend will be created.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "validateOnly": {
                      "description": "Optional. Indicates that the request should be validated, without persisting the request or updating any resources.",
                      "location": "query",
[...]
