{
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "id": "firebaseappcheck:v1",
  "resources": {
    "jwks": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "description": "Returns a public JWK set as specified by [RFC 7517](https://tools.ietf.org/html/rfc7517) that can be used to verify App Check tokens. Exactly one of the public keys in the returned set will successfully validate any App Check token that is currently valid.",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleFirebaseAppcheckV1PublicJwkSet"
          },
          "parameterOrder": [
            "name"
          ],
          "id": "firebaseappcheck.jwks.get",
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "description": "Required. The relative resource name to the public JWK set. Must always be exactly the string `jwks`.",
              "type": "string",
              "location": "path",
              "pattern": "^jwks$",
              "required": true
            }
          },
          "flatPath": "v1/jwks"
        }
      }
    },
    "projects": {
      "resources": {
        "services": {
          "methods": {
            "batchUpdate": {
              "id": "firebaseappcheck.projects.services.batchUpdate",
              "description": "Atomically updates the specified Service configurations.",
              "flatPath": "v1/projects/{projectsId}/services:batchUpdate",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "path": "v1/{+parent}/services:batchUpdate",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1BatchUpdateServicesRequest"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The parent project name shared by all Service configurations being updated, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being updated must match this field, or the entire batch fails.",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1BatchUpdateServicesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "patch": {
              "id": "firebaseappcheck.projects.services.patch",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/services/{servicesId}",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "Required. A comma-separated list of names of fields in the Service to update. Example: `enforcement_mode`."
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The relative resource name of the service configuration object, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported. Firebase and Google Cloud services: * `identitytoolkit.googleapis.com` (Firebase Authentication) * `firebasedataconnect.googleapis.com` (Firebase SQL Connect) * `firestore.googleapis.com` (Cloud Firestore) * `firebasedatabase.googleapis.com` (Firebase Realtime Database) * `firebasestorage.googleapis.com` (Cloud Storage for Firebase) * `firebaseml.googleapis.com` (Firebase AI Logic) Google Maps Platform services: * `maps-backend.googleapis.com` (Maps JavaScript API) * `places.googleapis.com` (Places API (New)) Other supported Google services: * `oauth2.googleapis.com` (Google Identity for iOS) Note: While all the supported `service_id`s may appear to be subdomains of `googleapis.com`, the `service_id` has no semantic meaning beyond identifying the service to App Check. It is not intended to represent the actual domain to which your apps send traffic, nor is it necessarily the API that should be enabled to use the service. For information on using these Google services, consult their documentation.",
                  "required": true,
                  "pattern": "^projects/[^/]+/services/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Updates the specified Service configuration.",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1Service"
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1Service"
              }
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Token returned from a previous call to ListServices indicating where in the set of Services to resume listing. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to ListServices must match the call that provided the page token; if they do not match, the result is undefined.",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The relative resource name of the parent project for which to list each associated Service, in the format: ``` projects/{project_number} ```",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of Services to return in the response. Only explicitly configured services are returned. The server may return fewer than this at its own discretion. If no value is specified (or too large a value is specified), the server will impose its own limit."
                }
              },
              "flatPath": "v1/projects/{projectsId}/services",
              "description": "Lists all Service configurations for the specified project. Only Services which were explicitly configured using UpdateService or BatchUpdateServices will be returned.",
              "id": "firebaseappcheck.projects.services.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1/{+parent}/services",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1ListServicesResponse"
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/services/[^/]+$",
                  "description": "Required. The relative resource name of the Service to retrieve, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Consult the Service.name field for a list of supported service IDs.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Gets the Service configuration for the specified service name.",
              "id": "firebaseappcheck.projects.services.get",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/services/{servicesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1Service"
              },
              "httpMethod": "GET"
            }
          },
          "resources": {
            "resourcePolicies": {
              "methods": {
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "description": "Updates the specified ResourcePolicy configuration.",
                  "flatPath": "v1/projects/{projectsId}/services/{servicesId}/resourcePolicies/{resourcePoliciesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.services.resourcePolicies.patch",
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1ResourcePolicy"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/services/[^/]+/resourcePolicies/[^/]+$",
                      "required": true,
                      "description": "Required. Identifier. The relative name of the resource policy object, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `oauth2.googleapis.com` (Google Identity for iOS) `resource_policy_id` is a system-generated UID."
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Required. A comma-separated list of names of fields in the ResourcePolicy to update. Example: `enforcement_mode`.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1ResourcePolicy"
                  },
                  "path": "v1/{+name}"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the requested ResourcePolicy configuration.",
                  "flatPath": "v1/projects/{projectsId}/services/{servicesId}/resourcePolicies/{resourcePoliciesId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/services/[^/]+/resourcePolicies/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The relative resource name of the ResourcePolicy to retrieve, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ``` Note that the `service_id` element must be a supported service ID. Consult the ResourcePolicy.name field for a list of supported service IDs.",
                      "location": "path"
                    }
                  },
                  "id": "firebaseappcheck.projects.services.resourcePolicies.get",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1ResourcePolicy"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "create": {
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1ResourcePolicy"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/services/{servicesId}/resourcePolicies",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/resourcePolicies",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Creates the specified ResourcePolicy configuration.",
                  "parameters": {
                    "parent": {
                      "description": "Required. The relative resource name of the parent Service in which the specified ResourcePolicy will be created, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Consult the ResourcePolicy.name field for a list of supported service IDs.",
                      "pattern": "^projects/[^/]+/services/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1ResourcePolicy"
                  },
                  "id": "firebaseappcheck.projects.services.resourcePolicies.create"
                },
                "list": {
                  "path": "v1/{+parent}/resourcePolicies",
                  "flatPath": "v1/projects/{projectsId}/services/{servicesId}/resourcePolicies",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "description": "Token returned from a previous call to ListResourcePolicies indicating where in the set of ResourcePolicy objects to resume listing. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to ListResourcePolicies must match the call that provided the page token; if they do not match, the result is undefined.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Optional. Filters the results by the specified rule. For the exact syntax of this field, please consult the [AIP-160](https://google.aip.dev/160) standard. Currently, since the only fields in the ResourcePolicy resource are the scalar fields `enforcement_mode` and `target_resource`, this method does not support the traversal operator (`.`) or the has operator (`:`). Here are some examples of valid filters: * `enforcement_mode = ENFORCED` * `target_resource = \"//oauth2.googleapis.com/projects/12345/oauthClients/\"` * `enforcement_mode = ENFORCED AND target_resource = \"//oauth2.googleapis.com/projects/12345/oauthClients/\"`",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The relative resource name of the parent Service for which to list each associated ResourcePolicy, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Consult the ResourcePolicy.name field for a list of supported service IDs.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/services/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "description": "The maximum number of ResourcePolicy objects to return in the response. The server may return fewer than this at its own discretion. If no value is specified (or too large a value is specified), the server will impose its own limit.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "description": "Lists all ResourcePolicy configurations for the specified project and service.",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1ListResourcePoliciesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firebaseappcheck.projects.services.resourcePolicies.list"
                },
                "delete": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1/projects/{projectsId}/services/{servicesId}/resourcePolicies/{resourcePoliciesId}",
                  "httpMethod": "DELETE",
                  "description": "Deletes the specified ResourcePolicy configuration.",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "etag": {
                      "description": "The checksum to be validated against the current ResourcePolicy, to ensure the client has an up-to-date value before proceeding. This checksum is computed by the server based on the values of fields in the ResourcePolicy object, and can be obtained from the ResourcePolicy object received from the last CreateResourcePolicy, GetResourcePolicy, ListResourcePolicies, UpdateResourcePolicy, or BatchUpdateResourcePolicies call. This etag is strongly validated as defined by RFC 7232.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/services/[^/]+/resourcePolicies/[^/]+$",
                      "description": "Required. The relative resource name of the ResourcePolicy to delete, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ```"
                    }
                  },
                  "id": "firebaseappcheck.projects.services.resourcePolicies.delete",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "batchUpdate": {
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent service name, in the format ``` projects/{project_number}/services/{service_id} ``` The parent collection in the `name` field of any resource being updated must match this field, or the entire batch fails.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/services/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1BatchUpdateResourcePoliciesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.services.resourcePolicies.batchUpdate",
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1BatchUpdateResourcePoliciesRequest"
                  },
                  "description": "Atomically updates the specified ResourcePolicy configurations.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/services/{servicesId}/resourcePolicies:batchUpdate",
                  "path": "v1/{+parent}/resourcePolicies:batchUpdate"
                }
              }
            }
          }
        },
        "apps": {
          "methods": {
            "exchangeRecaptchaV3Token": {
              "parameterOrder": [
                "app"
              ],
              "parameters": {
                "app": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "required": true,
                  "description": "Required. The relative resource name of the web app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "firebaseappcheck.projects.apps.exchangeRecaptchaV3Token",
              "description": "Validates a [reCAPTCHA v3 response token](https://developers.google.com/recaptcha/docs/v3). If valid, returns an AppCheckToken.",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
              },
              "path": "v1/{+app}:exchangeRecaptchaV3Token",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeRecaptchaV3TokenRequest"
              },
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangeRecaptchaV3Token"
            },
            "generatePlayIntegrityChallenge": {
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1GeneratePlayIntegrityChallengeResponse"
              },
              "path": "v1/{+app}:generatePlayIntegrityChallenge",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1GeneratePlayIntegrityChallengeRequest"
              },
              "id": "firebaseappcheck.projects.apps.generatePlayIntegrityChallenge",
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:generatePlayIntegrityChallenge",
              "description": "Generates a challenge that protects the integrity of an immediately following integrity verdict request to the Play Integrity API. The next call to ExchangePlayIntegrityToken using the resulting integrity token will verify the presence and validity of the challenge. A challenge should not be reused for multiple calls.",
              "parameters": {
                "app": {
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "description": "Required. The relative resource name of the app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "app"
              ]
            },
            "exchangePlayIntegrityToken": {
              "id": "firebaseappcheck.projects.apps.exchangePlayIntegrityToken",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
              },
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangePlayIntegrityTokenRequest"
              },
              "path": "v1/{+app}:exchangePlayIntegrityToken",
              "parameters": {
                "app": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The relative resource name of the Android app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "type": "string"
                }
              },
              "description": "Validates an [integrity verdict response token from Play Integrity](https://developer.android.com/google/play/integrity/verdict#decrypt-verify). If valid, returns an AppCheckToken.",
              "httpMethod": "POST",
              "parameterOrder": [
                "app"
              ],
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangePlayIntegrityToken"
            },
            "exchangeDeviceCheckToken": {
              "description": "Accepts a [`device_token`](https://developer.apple.com/documentation/devicecheck/dcdevice) issued by DeviceCheck, and attempts to validate it with Apple. If valid, returns an AppCheckToken.",
              "parameters": {
                "app": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard."
                }
              },
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
              },
              "id": "firebaseappcheck.projects.apps.exchangeDeviceCheckToken",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeDeviceCheckTokenRequest"
              },
              "parameterOrder": [
                "app"
              ],
              "path": "v1/{+app}:exchangeDeviceCheckToken",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangeDeviceCheckToken"
            },
            "exchangeRecaptchaEnterpriseToken": {
              "parameterOrder": [
                "app"
              ],
              "parameters": {
                "app": {
                  "description": "Required. The relative resource name of the web app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangeRecaptchaEnterpriseToken",
              "id": "firebaseappcheck.projects.apps.exchangeRecaptchaEnterpriseToken",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeRecaptchaEnterpriseTokenRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Validates a [reCAPTCHA Enterprise response token](https://cloud.google.com/recaptcha-enterprise/docs/create-assessment#retrieve_token). If valid, returns an AppCheckToken.",
              "path": "v1/{+app}:exchangeRecaptchaEnterpriseToken",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
              },
              "httpMethod": "POST"
            },
            "exchangeAppAttestAttestation": {
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangeAppAttestAttestation",
              "id": "firebaseappcheck.projects.apps.exchangeAppAttestAttestation",
              "parameterOrder": [
                "app"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeAppAttestAttestationRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeAppAttestAttestationResponse"
              },
              "parameters": {
                "app": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "type": "string",
                  "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard."
                }
              },
              "description": "Accepts an App Attest CBOR attestation and verifies it with Apple using your preconfigured team and bundle IDs. If valid, returns an attestation artifact that can later be exchanged for an AppCheckToken using ExchangeAppAttestAssertion. For convenience and performance, this method's response object will also contain an AppCheckToken (if the verification is successful).",
              "path": "v1/{+app}:exchangeAppAttestAttestation"
            },
            "generateAppAttestChallenge": {
              "parameterOrder": [
                "app"
              ],
              "path": "v1/{+app}:generateAppAttestChallenge",
              "description": "Generates a challenge that protects the integrity of an immediately following call to ExchangeAppAttestAttestation or ExchangeAppAttestAssertion. A challenge should not be reused for multiple calls.",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1GenerateAppAttestChallengeResponse"
              },
              "parameters": {
                "app": {
                  "required": true,
                  "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/apps/[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1GenerateAppAttestChallengeRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:generateAppAttestChallenge",
              "httpMethod": "POST",
              "id": "firebaseappcheck.projects.apps.generateAppAttestChallenge"
            },
            "mintAppCheckToken": {
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1MintAppCheckTokenResponse"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "app"
              ],
              "description": "Mints a new App Check token for the specified Firebase App. This method is intended to be called from a privileged environment where the caller can be authorized via Cloud IAM; for example, using a service account. To call this method, the caller must have the [`firebaseappcheck.googleapis.com/tokens.mint`](https://firebase.google.com/docs/projects/iam/permissions#app-check) permission. Returns a MintAppCheckTokenResponse.",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1MintAppCheckTokenRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:mintAppCheckToken",
              "id": "firebaseappcheck.projects.apps.mintAppCheckToken",
              "parameters": {
                "app": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "type": "string",
                  "description": "Required. The relative resource name of the app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard."
                }
              },
              "path": "v1/{+app}:mintAppCheckToken"
            },
            "exchangeDebugToken": {
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangeDebugToken",
              "path": "v1/{+app}:exchangeDebugToken",
              "parameterOrder": [
                "app"
              ],
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeDebugTokenRequest"
              },
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "firebaseappcheck.projects.apps.exchangeDebugToken",
              "description": "Validates a debug token secret that you have previously created using CreateDebugToken. If valid, returns an AppCheckToken. Note that a restrictive quota is enforced on this method to prevent accidental exposure of the app to abuse.",
              "parameters": {
                "app": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The relative resource name of the app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "pattern": "^projects/[^/]+/apps/[^/]+$"
                }
              }
            },
            "exchangeAppAttestAssertion": {
              "id": "firebaseappcheck.projects.apps.exchangeAppAttestAssertion",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeAppAttestAssertionRequest"
              },
              "parameters": {
                "app": {
                  "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v1/{+app}:exchangeAppAttestAssertion",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
              },
              "description": "Accepts an App Attest assertion and an artifact previously obtained from ExchangeAppAttestAttestation and verifies those with Apple. If valid, returns an AppCheckToken.",
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangeAppAttestAssertion",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "app"
              ]
            },
            "exchangeCustomToken": {
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeCustomTokenRequest"
              },
              "parameterOrder": [
                "app"
              ],
              "parameters": {
                "app": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The relative resource name of the app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/apps/[^/]+$"
                }
              },
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangeCustomToken",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Validates a custom token signed using your project's Admin SDK service account credentials. If valid, returns an AppCheckToken.",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
              },
              "id": "firebaseappcheck.projects.apps.exchangeCustomToken",
              "path": "v1/{+app}:exchangeCustomToken"
            }
          },
          "resources": {
            "debugTokens": {
              "methods": {
                "patch": {
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1DebugToken"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the specified DebugToken. For security reasons, the `token` field cannot be updated, nor will it be populated in the response, but you can revoke the debug token using DeleteDebugToken.",
                  "id": "firebaseappcheck.projects.apps.debugTokens.patch",
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/debugTokens/{debugTokensId}",
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1DebugToken"
                  },
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Required. A comma-separated list of names of fields in the DebugToken to update. Example: `display_name`.",
                      "location": "query"
                    },
                    "name": {
                      "description": "Required. The relative resource name of the debug token, in the format: ``` projects/{project_number}/apps/{app_id}/debugTokens/{debug_token_id} ```",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/debugTokens/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "list": {
                  "id": "firebaseappcheck.projects.apps.debugTokens.list",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1ListDebugTokensResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of DebugTokens to return in the response. Note that an app can have at most 20 debug tokens. The server may return fewer than this at its own discretion. If no value is specified (or too large a value is specified), the server will impose its own limit."
                    },
                    "parent": {
                      "description": "Required. The relative resource name of the parent app for which to list each associated DebugToken, in the format: ``` projects/{project_number}/apps/{app_id} ```",
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Token returned from a previous call to ListDebugTokens indicating where in the set of DebugTokens to resume listing. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to ListDebugTokens must match the call that provided the page token; if they do not match, the result is undefined."
                    }
                  },
                  "path": "v1/{+parent}/debugTokens",
                  "description": "Lists all DebugTokens for the specified app. For security reasons, the `token` field is never populated in the response.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/debugTokens",
                  "httpMethod": "GET"
                },
                "get": {
                  "description": "Gets the specified DebugToken. For security reasons, the `token` field is never populated in the response.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/debugTokens/{debugTokensId}",
                  "parameters": {
                    "name": {
                      "description": "Required. The relative resource name of the debug token, in the format: ``` projects/{project_number}/apps/{app_id}/debugTokens/{debug_token_id} ```",
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+/debugTokens/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebaseappcheck.projects.apps.debugTokens.get",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1DebugToken"
                  },
                  "path": "v1/{+name}"
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/debugTokens",
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/debugTokens",
                  "id": "firebaseappcheck.projects.apps.debugTokens.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1DebugToken"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The relative resource name of the parent app in which the specified DebugToken will be created, in the format: ``` projects/{project_number}/apps/{app_id} ```",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1DebugToken"
                  },
                  "description": "Creates a new DebugToken for the specified app. For security reasons, after the creation operation completes, the `token` field cannot be updated or retrieved, but you can revoke the debug token using DeleteDebugToken. Each app can have a maximum of 20 debug tokens."
                },
                "delete": {
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/apps/[^/]+/debugTokens/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The relative resource name of the DebugToken to delete, in the format: ``` projects/{project_number}/apps/{app_id}/debugTokens/{debug_token_id} ```",
                      "type": "string"
                    },
                    "etag": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The checksum to be validated against the current DebugToken, to ensure the client has an up-to-date value before proceeding. This checksum is computed by the server based on the values of fields in the DebugToken object, and can be obtained from the DebugToken object received from the last CreateDebugToken, GetDebugToken, ListDebugTokens, or UpdateDebugToken call. This etag is strongly validated as defined by RFC 7232."
                    }
                  },
                  "id": "firebaseappcheck.projects.apps.debugTokens.delete",
                  "description": "Deletes the specified DebugToken. A deleted debug token cannot be used to exchange for an App Check token. Use this method when you suspect the secret `token` has been compromised or when you no longer need the debug token.",
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/debugTokens/{debugTokensId}"
                }
              }
            },
            "playIntegrityConfig": {
              "methods": {
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the PlayIntegrityConfig for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange Play Integrity tokens for App Check tokens.",
                  "id": "firebaseappcheck.projects.apps.playIntegrityConfig.patch",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1PlayIntegrityConfig"
                  },
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The relative resource name of the Play Integrity configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/playIntegrityConfig ```",
                      "pattern": "^projects/[^/]+/apps/[^/]+/playIntegrityConfig$"
                    },
                    "updateMask": {
                      "description": "Required. A comma-separated list of names of fields in the PlayIntegrityConfig to update. Example: `token_ttl`.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1PlayIntegrityConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/playIntegrityConfig"
                },
                "batchGet": {
                  "description": "Atomically gets the PlayIntegrityConfigs for the specified list of apps.",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1BatchGetPlayIntegrityConfigsResponse"
                  },
                  "httpMethod": "GET",
                  "id": "firebaseappcheck.projects.apps.playIntegrityConfig.batchGet",
                  "path": "v1/{+parent}/apps/-/playIntegrityConfig:batchGet",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "names": {
                      "type": "string",
                      "repeated": true,
                      "location": "query",
                      "description": "Required. The relative resource names of the PlayIntegrityConfigs to retrieve, in the format ``` projects/{project_number}/apps/{app_id}/playIntegrityConfig ``` A maximum of 100 objects can be retrieved in a batch."
                    },
                    "parent": {
                      "description": "Required. The parent project name shared by all PlayIntegrityConfigs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/apps/-/playIntegrityConfig:batchGet",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the PlayIntegrityConfig for the specified app.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/playIntegrityConfig",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/apps/[^/]+/playIntegrityConfig$",
                      "description": "Required. The relative resource name of the PlayIntegrityConfig, in the format: ``` projects/{project_number}/apps/{app_id}/playIntegrityConfig ```",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1PlayIntegrityConfig"
                  },
                  "id": "firebaseappcheck.projects.apps.playIntegrityConfig.get"
                }
              }
            },
            "appAttestConfig": {
              "methods": {
                "batchGet": {
                  "flatPath": "v1/projects/{projectsId}/apps/-/appAttestConfig:batchGet",
                  "id": "firebaseappcheck.projects.apps.appAttestConfig.batchGet",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent project name shared by all AppAttestConfigs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+$",
                      "type": "string"
                    },
                    "names": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The relative resource names of the AppAttestConfigs to retrieve, in the format ``` projects/{project_number}/apps/{app_id}/appAttestConfig ``` A maximum of 100 objects can be retrieved in a batch.",
                      "repeated": true
                    }
                  },
                  "description": "Atomically gets the AppAttestConfigs for the specified list of apps.",
                  "path": "v1/{+parent}/apps/-/appAttestConfig:batchGet",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1BatchGetAppAttestConfigsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET"
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the AppAttestConfig for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange AppAttest tokens for App Check tokens.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1AppAttestConfig"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/apps/[^/]+/appAttestConfig$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The relative resource name of the App Attest configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/appAttestConfig ```",
                      "location": "path"
                    },
                    "updateMask": {
                      "description": "Required. A comma-separated list of names of fields in the AppAttestConfig to update. Example: `token_ttl`.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "id": "firebaseappcheck.projects.apps.appAttestConfig.patch",
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/appAttestConfig",
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1AppAttestConfig"
                  }
                },
                "get": {
                  "description": "Gets the AppAttestConfig for the specified app.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The relative resource name of the AppAttestConfig, in the format: ``` projects/{project_number}/apps/{app_id}/appAttestConfig ```",
                      "pattern": "^projects/[^/]+/apps/[^/]+/appAttestConfig$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "firebaseappcheck.projects.apps.appAttestConfig.get",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1AppAttestConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/appAttestConfig",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "recaptchaV3Config": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/recaptchaV3Config",
                  "httpMethod": "GET",
                  "description": "Gets the RecaptchaV3Config for the specified app. For security reasons, the `site_secret` field is never populated in the response.",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1RecaptchaV3Config"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/recaptchaV3Config$",
                      "location": "path",
                      "description": "Required. The relative resource name of the RecaptchaV3Config, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaV3Config ```",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.apps.recaptchaV3Config.get"
                },
                "batchGet": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/-/recaptchaV3Config:batchGet",
                  "description": "Atomically gets the RecaptchaV3Configs for the specified list of apps. For security reasons, the `site_secret` field is never populated in the response.",
                  "httpMethod": "GET",
                  "id": "firebaseappcheck.projects.apps.recaptchaV3Config.batchGet",
                  "path": "v1/{+parent}/apps/-/recaptchaV3Config:batchGet",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1BatchGetRecaptchaV3ConfigsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent project name shared by all RecaptchaV3Configs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+$"
                    },
                    "names": {
                      "description": "Required. The relative resource names of the RecaptchaV3Configs to retrieve, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaV3Config ``` A maximum of 100 objects can be retrieved in a batch.",
                      "repeated": true,
                      "type": "string",
                      "location": "query"
                    }
                  }
                },
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/recaptchaV3Config",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/apps/[^/]+/recaptchaV3Config$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The relative resource name of the reCAPTCHA v3 configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaV3Config ```",
                      "location": "path"
                    },
                    "updateMask": {
                      "description": "Required. A comma-separated list of names of fields in the RecaptchaV3Config to update. Example: `site_secret`.",
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Updates the RecaptchaV3Config for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange reCAPTCHA v3 tokens for App Check tokens. For security reasons, the `site_secret` field is never populated in the response.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1RecaptchaV3Config"
                  },
                  "id": "firebaseappcheck.projects.apps.recaptchaV3Config.patch",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1RecaptchaV3Config"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH"
                }
              }
            },
            "deviceCheckConfig": {
              "methods": {
                "get": {
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/deviceCheckConfig",
                  "httpMethod": "GET",
                  "id": "firebaseappcheck.projects.apps.deviceCheckConfig.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1DeviceCheckConfig"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The relative resource name of the DeviceCheckConfig, in the format: ``` projects/{project_number}/apps/{app_id}/deviceCheckConfig ```",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/deviceCheckConfig$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "Gets the DeviceCheckConfig for the specified app. For security reasons, the `private_key` field is never populated in the response."
                },
                "patch": {
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1DeviceCheckConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The relative resource name of the DeviceCheck configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/deviceCheckConfig ```",
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/deviceCheckConfig$"
                    },
                    "updateMask": {
                      "description": "Required. A comma-separated list of names of fields in the DeviceCheckConfig to update. Example: `key_id,private_key`.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/deviceCheckConfig",
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1DeviceCheckConfig"
                  },
                  "id": "firebaseappcheck.projects.apps.deviceCheckConfig.patch",
                  "description": "Updates the DeviceCheckConfig for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange DeviceCheck tokens for App Check tokens. For security reasons, the `private_key` field is never populated in the response."
                },
                "batchGet": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1/{+parent}/apps/-/deviceCheckConfig:batchGet",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1BatchGetDeviceCheckConfigsResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "names": {
                      "location": "query",
                      "description": "Required. The relative resource names of the DeviceCheckConfigs to retrieve, in the format ``` projects/{project_number}/apps/{app_id}/deviceCheckConfig ``` A maximum of 100 objects can be retrieved in a batch.",
                      "repeated": true,
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+$",
                      "required": true,
                      "description": "Required. The parent project name shared by all DeviceCheckConfigs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "firebaseappcheck.projects.apps.deviceCheckConfig.batchGet",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/-/deviceCheckConfig:batchGet",
                  "description": "Atomically gets the DeviceCheckConfigs for the specified list of apps. For security reasons, the `private_key` field is never populated in the response."
                }
              }
            },
            "recaptchaEnterpriseConfig": {
              "methods": {
                "batchGet": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Atomically gets the RecaptchaEnterpriseConfigs for the specified list of apps.",
                  "flatPath": "v1/projects/{projectsId}/apps/-/recaptchaEnterpriseConfig:batchGet",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent project name shared by all RecaptchaEnterpriseConfigs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails.",
                      "pattern": "^projects/[^/]+$"
                    },
                    "names": {
                      "repeated": true,
                      "type": "string",
                      "location": "query",
                      "description": "Required. The relative resource names of the RecaptchaEnterpriseConfigs to retrieve, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaEnterpriseConfig ``` A maximum of 100 objects can be retrieved in a batch."
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1BatchGetRecaptchaEnterpriseConfigsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1/{+parent}/apps/-/recaptchaEnterpriseConfig:batchGet",
                  "id": "firebaseappcheck.projects.apps.recaptchaEnterpriseConfig.batchGet"
                },
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/recaptchaEnterpriseConfig",
                  "id": "firebaseappcheck.projects.apps.recaptchaEnterpriseConfig.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/apps/[^/]+/recaptchaEnterpriseConfig$",
                      "description": "Required. The relative resource name of the reCAPTCHA Enterprise configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaEnterpriseConfig ```",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Required. A comma-separated list of names of fields in the RecaptchaEnterpriseConfig to update. Example: `site_key`."
                    }
                  },
                  "description": "Updates the RecaptchaEnterpriseConfig for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange reCAPTCHA Enterprise tokens for App Check tokens.",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1RecaptchaEnterpriseConfig"
                  },
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1RecaptchaEnterpriseConfig"
                  }
                },
                "get": {
                  "description": "Gets the RecaptchaEnterpriseConfig for the specified app.",
                  "httpMethod": "GET",
                  "id": "firebaseappcheck.projects.apps.recaptchaEnterpriseConfig.get",
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/recaptchaEnterpriseConfig",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/recaptchaEnterpriseConfig$",
                      "required": true,
                      "description": "Required. The relative resource name of the RecaptchaEnterpriseConfig, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaEnterpriseConfig ```",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1RecaptchaEnterpriseConfig"
                  }
                }
              }
            }
          }
        }
      }
    },
    "oauthClients": {
      "methods": {
        "exchangeDebugToken": {
          "response": {
            "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
          },
          "request": {
            "$ref": "GoogleFirebaseAppcheckV1ExchangeDebugTokenRequest"
          },
          "id": "firebaseappcheck.oauthClients.exchangeDebugToken",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "parameterOrder": [
            "app"
          ],
          "flatPath": "v1/oauthClients/{oauthClientsId}:exchangeDebugToken",
          "parameters": {
            "app": {
              "pattern": "^oauthClients/[^/]+$",
              "description": "Required. The relative resource name of the app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Validates a debug token secret that you have previously created using CreateDebugToken. If valid, returns an AppCheckToken. Note that a restrictive quota is enforced on this method to prevent accidental exposure of the app to abuse.",
          "path": "v1/{+app}:exchangeDebugToken"
        },
        "exchangeAppAttestAttestation": {
          "httpMethod": "POST",
          "flatPath": "v1/oauthClients/{oauthClientsId}:exchangeAppAttestAttestation",
          "description": "Accepts an App Attest CBOR attestation and verifies it with Apple using your preconfigured team and bundle IDs. If valid, returns an attestation artifact that can later be exchanged for an AppCheckToken using ExchangeAppAttestAssertion. For convenience and performance, this method's response object will also contain an AppCheckToken (if the verification is successful).",
          "id": "firebaseappcheck.oauthClients.exchangeAppAttestAttestation",
          "parameterOrder": [
            "app"
          ],
          "request": {
            "$ref": "GoogleFirebaseAppcheckV1ExchangeAppAttestAttestationRequest"
          },
          "path": "v1/{+app}:exchangeAppAttestAttestation",
          "response": {
            "$ref": "GoogleFirebaseAppcheckV1ExchangeAppAttestAttestationResponse"
          },
          "parameters": {
            "app": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
              "pattern": "^oauthClients/[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ]
        },
        "generateAppAttestChallenge": {
          "flatPath": "v1/oauthClients/{oauthClientsId}:generateAppAttestChallenge",
          "parameters": {
            "app": {
              "pattern": "^oauthClients/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "path": "v1/{+app}:generateAppAttestChallenge",
          "description": "Generates a challenge that protects the integrity of an immediately following call to ExchangeAppAttestAttestation or ExchangeAppAttestAssertion. A challenge should not be reused for multiple calls.",
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleFirebaseAppcheckV1GenerateAppAttestChallengeResponse"
          },
          "parameterOrder": [
            "app"
          ],
          "id": "firebaseappcheck.oauthClients.generateAppAttestChallenge",
          "request": {
            "$ref": "GoogleFirebaseAppcheckV1GenerateAppAttestChallengeRequest"
          }
        },
        "exchangeAppAttestAssertion": {
          "parameters": {
            "app": {
              "type": "string",
              "location": "path",
              "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
              "required": true,
              "pattern": "^oauthClients/[^/]+$"
            }
          },
          "response": {
            "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
          },
          "parameterOrder": [
            "app"
          ],
          "id": "firebaseappcheck.oauthClients.exchangeAppAttestAssertion",
          "description": "Accepts an App Attest assertion and an artifact previously obtained from ExchangeAppAttestAttestation and verifies those with Apple. If valid, returns an AppCheckToken.",
          "path": "v1/{+app}:exchangeAppAttestAssertion",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "httpMethod": "POST",
          "flatPath": "v1/oauthClients/{oauthClientsId}:exchangeAppAttestAssertion",
          "request": {
            "$ref": "GoogleFirebaseAppcheckV1ExchangeAppAttestAssertionRequest"
          }
        }
      }
    }
  },
  "version": "v1",
  "documentationLink": "https://firebase.google.com/docs/app-check",
  "kind": "discovery#restDescription",
  "baseUrl": "https://firebaseappcheck.googleapis.com/",
  "batchPath": "batch",
  "basePath": "",
  "schemas": {
    "GoogleFirebaseAppcheckV1PlayIntegrityConfigDeviceIntegrity": {
      "description": "A settings object specifying device integrity requirements for Android devices running your app. These settings correspond to requirements on the [**device integrity** field](https://developer.android.com/google/play/integrity/verdicts#device-integrity-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. Warning: There are also [conditional](https://developer.android.com/google/play/integrity/setup#conditional) as well as [optional](https://developer.android.com/google/play/integrity/setup#optional_device_information) responses that you can receive, but requires additional explicit opt-in from you. The App Check API is **not** responsible for any such opt-ins. The default values for these settings work for most apps, and are recommended.",
      "properties": {
        "minDeviceRecognitionLevel": {
          "description": "Specifies the minimum device integrity level in order for the device to be considered valid. Any device with a device recognition verdict lower than this level will be rejected. If this is unspecified, the default level is `NO_INTEGRITY`.",
          "enum": [
            "DEVICE_RECOGNITION_LEVEL_UNSPECIFIED",
            "NO_INTEGRITY",
            "MEETS_BASIC_INTEGRITY",
            "MEETS_DEVICE_INTEGRITY",
            "MEETS_STRONG_INTEGRITY"
          ],
          "enumDescriptions": [
            "Default value. Do not specify this value directly. If this value is detected in a configuration, it will have the same effect as the value `NO_INTEGRITY`.",
            "If this level is set, no explicit device integrity label requirements will be checked. However, because Play Integrity's other features may perform (and require) their own intrinsic device integrity checks, your `app_integrity` and `account_details` settings may still cause some device integrity checks to be performed.",
            "This level corresponds to the `MEETS_BASIC_INTEGRITY` [optional device recognition label](https://developer.android.com/google/play/integrity/verdicts#optional-device-labels). This value represents the most basic level of device integrity, and is the minimum allowed in App Check's standard implementation of Play Integrity. Warning: Because this is an optional response, you **must** first explicitly [opt in your app in the Play Console](https://developer.android.com/google/play/integrity/setup#optional) in order to receive this label. Without this opt-in, **your app may break** for any user whose device is eligible for `MEETS_BASIC_INTEGRITY` but not `MEETS_DEVICE_INTEGRITY`. This API is **not** responsible for any such opt-ins.",
            "This level corresponds to the `MEETS_DEVICE_INTEGRITY` [device recognition verdict](https://developer.android.com/google/play/integrity/verdicts#device-integrity-field). Any app integrated with Play Integrity will automatically be eligible to receive this label without any additional action from you. At this level, devices that have the `MEETS_BASIC_INTEGRITY` label but **not** the `MEETS_DEVICE_INTEGRITY` label will be rejected.",
            "This level corresponds to the `MEETS_STRONG_INTEGRITY` [optional device recognition label](https://developer.android.com/google/play/integrity/verdicts#optional-device-labels). This value represents the highest level of device integrity. At this level, devices that have the `MEETS_BASIC_INTEGRITY` or `MEETS_DEVICE_INTEGRITY` but **not** the `MEETS_STRONG_INTEGRITY` label will be rejected. Warning: Because this is an optional response, you **must** first explicitly [opt in your app in the Play Console](https://developer.android.com/google/play/integrity/setup#optional) in order to receive this label. Without this opt-in, **your app may break** for any user whose device is eligible for `MEETS_STRONG_INTEGRITY`. This API is **not** responsible for any such opt-ins."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1PlayIntegrityConfigDeviceIntegrity"
    },
    "GoogleFirebaseAppcheckV1UpdateResourcePolicyRequest": {
      "properties": {
        "resourcePolicy": {
          "description": "Required. The ResourcePolicy to update. The ResourcePolicy's `name` field is used to identify the ResourcePolicy to be updated, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ``` Note that the `service_id` element must be a supported service ID. Consult the ResourcePolicy.name field for a list of supported service IDs.",
          "$ref": "GoogleFirebaseAppcheckV1ResourcePolicy"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Required. A comma-separated list of names of fields in the ResourcePolicy to update. Example: `enforcement_mode`."
        }
      },
      "type": "object",
      "description": "Request message for the UpdateResourcePolicy method as well as an individual update message for the BatchUpdateResourcePolicies method.",
      "id": "GoogleFirebaseAppcheckV1UpdateResourcePolicyRequest"
    },
    "GoogleFirebaseAppcheckV1ExchangeRecaptchaV3TokenRequest": {
      "id": "GoogleFirebaseAppcheckV1ExchangeRecaptchaV3TokenRequest",
      "properties": {
        "recaptchaV3Token": {
          "description": "Required. The reCAPTCHA token as returned by the [reCAPTCHA v3 JavaScript API](https://developers.google.com/recaptcha/docs/v3).",
          "type": "string"
        },
        "limitedUse": {
          "type": "boolean",
          "description": "Specifies whether this attestation is for use in a *limited use* (`true`) or *session based* (`false`) context. To enable this attestation to be used with the *replay protection* feature, set this to `true`. The default value is `false`."
        }
      },
      "description": "Request message for the ExchangeRecaptchaV3Token method.",
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1ExchangeAppAttestAttestationResponse": {
      "description": "Response message for the ExchangeAppAttestAttestation method.",
      "properties": {
        "artifact": {
          "type": "string",
          "format": "byte",
          "description": "An artifact that can be used in future calls to ExchangeAppAttestAssertion."
        },
        "appCheckToken": {
          "$ref": "GoogleFirebaseAppcheckV1AppCheckToken",
          "description": "Encapsulates an App Check token."
        }
      },
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1ExchangeAppAttestAttestationResponse"
    },
    "GoogleFirebaseAppcheckV1ListDebugTokensResponse": {
      "properties": {
        "debugTokens": {
          "description": "The DebugTokens retrieved.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1DebugToken"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If the result list is too large to fit in a single response, then a token is returned. If the string is empty or omitted, then this response is the last page of results. This token can be used in a subsequent call to ListDebugTokens to find the next group of DebugTokens. Page tokens are short-lived and should not be persisted."
        }
      },
      "id": "GoogleFirebaseAppcheckV1ListDebugTokensResponse",
      "description": "Response message for the ListDebugTokens method.",
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1BatchGetRecaptchaV3ConfigsResponse": {
      "properties": {
        "configs": {
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1RecaptchaV3Config"
          },
          "type": "array",
          "description": "RecaptchaV3Configs retrieved."
        }
      },
      "id": "GoogleFirebaseAppcheckV1BatchGetRecaptchaV3ConfigsResponse",
      "type": "object",
      "description": "Response message for the BatchGetRecaptchaV3Configs method."
    },
    "GoogleFirebaseAppcheckV1GenerateAppAttestChallengeResponse": {
      "id": "GoogleFirebaseAppcheckV1GenerateAppAttestChallengeResponse",
      "type": "object",
      "description": "Response message for the GenerateAppAttestChallenge method.",
      "properties": {
        "challenge": {
          "format": "byte",
          "type": "string",
          "description": "A one-time use challenge for the client to pass to the App Attest API."
        },
        "ttl": {
          "description": "The duration from the time this challenge is minted until its expiration. This field is intended to ease client-side token management, since the client may have clock skew, but is still able to accurately measure a duration.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GoogleFirebaseAppcheckV1BatchUpdateServicesRequest": {
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Optional. A comma-separated list of names of fields in the Services to update. Example: `display_name`. If the `update_mask` field is set in both this request and any of the UpdateServiceRequest messages, they must match or the entire batch fails and no updates will be committed."
        },
        "requests": {
          "description": "Required. The request messages specifying the Services to update. A maximum of 100 objects can be updated in a batch.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1UpdateServiceRequest"
          }
        }
      },
      "description": "Request message for the BatchUpdateServices method.",
      "id": "GoogleFirebaseAppcheckV1BatchUpdateServicesRequest",
      "type": "object"
    },
    "GoogleFirebaseAppcheckV1PlayIntegrityConfig": {
      "id": "GoogleFirebaseAppcheckV1PlayIntegrityConfig",
      "description": "An app's Play Integrity configuration object. This configuration controls certain properties of the `AppCheckToken` returned by ExchangePlayIntegrityToken, such as its ttl. Note that your registered SHA-256 certificate fingerprints are used to validate tokens issued by the Play Integrity API; please register them via the Firebase Console or programmatically via the [Firebase Management Service](https://firebase.google.com/docs/projects/api/reference/rest/v1beta1/projects.androidApps.sha/create).",
      "type": "object",
      "properties": {
        "appIntegrity": {
          "$ref": "GoogleFirebaseAppcheckV1PlayIntegrityConfigAppIntegrity",
          "description": "Specifies application integrity requirements for Android devices running your app. These settings correspond to requirements on the [**application integrity** field](https://developer.android.com/google/play/integrity/verdicts#application-integrity-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. The default values for these settings work for most apps, and are recommended."
        },
        "accountDetails": {
          "$ref": "GoogleFirebaseAppcheckV1PlayIntegrityConfigAccountDetails",
          "description": "Specifies account requirements for Android devices running your app. These settings correspond to requirements on the [**account details** field](https://developer.android.com/google/play/integrity/verdicts#account-details-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. The default values for these settings work for most apps, and are recommended."
        },
        "name": {
          "type": "string",
          "description": "Required. The relative resource name of the Play Integrity configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/playIntegrityConfig ```"
        },
        "tokenTtl": {
          "format": "google-duration",
          "description": "Specifies the duration for which App Check tokens exchanged from Play Integrity tokens will be valid. If unset, a default value of 1 hour is assumed. Must be between 30 minutes and 7 days, inclusive.",
          "type": "string"
        },
        "deviceIntegrity": {
          "$ref": "GoogleFirebaseAppcheckV1PlayIntegrityConfigDeviceIntegrity",
          "description": "Specifies device integrity requirements for Android devices running your app. These settings correspond to requirements on the [**device integrity** field](https://developer.android.com/google/play/integrity/verdicts#device-integrity-field) obtained from the Play Integrity API. See the [default responses table](https://developer.android.com/google/play/integrity/setup#default) for a quick summary. Warning: There are also [conditional](https://developer.android.com/google/play/integrity/setup#conditional) as well as [optional](https://developer.android.com/google/play/integrity/setup#optional_device_information) responses that you can receive, but requires additional explicit opt-in from you. The App Check API is **not** responsible for any such opt-ins. The default values for these settings work for most apps, and are recommended."
        }
      }
    },
    "GoogleFirebaseAppcheckV1LimitedUseConfig": {
      "type": "object",
      "description": "Configuration for a limited-use App Check token.",
      "id": "GoogleFirebaseAppcheckV1LimitedUseConfig",
      "properties": {
        "jti": {
          "type": "string",
          "description": "Optional. Specifies the desired `jti` claim (Section 4.1.7 of RFC 7519) in the returned App Check token. Limited-use App Check tokens with the same `jti` will be counted as the same token for the purposes of replay protection. The size of this field is limited to 500 bytes. If specified, its length must be at least 16 bytes. If this field is omitted or is empty, a randomly generated `jti` claim with length between 16 and 500 bytes (inclusive) will be used in the returned App Check token. Leaving this field empty is only recommended if your custom attestation provider itself is not vulnerable to replay attacks."
        }
      }
    },
    "GoogleFirebaseAppcheckV1DeviceCheckConfig": {
      "type": "object",
      "properties": {
        "privateKeySet": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the `private_key` field was previously set. Since we will never return the `private_key` field, this field is the only way to find out whether it was previously set."
        },
        "keyId": {
          "type": "string",
          "description": "Required. The key identifier of a private key enabled with DeviceCheck, created in your Apple Developer account."
        },
        "privateKey": {
          "description": "Required. Input only. The contents of the private key (`.p8`) file associated with the key specified by `key_id`. For security reasons, this field will never be populated in any response.",
          "type": "string"
        },
        "tokenTtl": {
          "format": "google-duration",
          "description": "Specifies the duration for which App Check tokens exchanged from DeviceCheck tokens will be valid. If unset, a default value of 1 hour is assumed. Must be between 30 minutes and 7 days, inclusive.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The relative resource name of the DeviceCheck configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/deviceCheckConfig ```"
        }
      },
      "id": "GoogleFirebaseAppcheckV1DeviceCheckConfig",
      "description": "An app's DeviceCheck configuration object. This configuration is used by ExchangeDeviceCheckToken to validate device tokens issued to apps by DeviceCheck. It also controls certain properties of the returned `AppCheckToken`, such as its ttl. Note that the Team ID registered with your app is used as part of the validation process. Please register it via the Firebase Console or programmatically via the [Firebase Management Service](https://firebase.google.com/docs/projects/api/reference/rest/v11/projects.iosApps/patch)."
    },
    "GoogleFirebaseAppcheckV1RecaptchaV3Config": {
      "type": "object",
      "id": "GoogleFirebaseAppcheckV1RecaptchaV3Config",
      "description": "An app's reCAPTCHA v3 configuration object. This configuration is used by ExchangeRecaptchaV3Token to validate reCAPTCHA tokens issued to apps by reCAPTCHA v3. It also controls certain properties of the returned `AppCheckToken`, such as its ttl.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The relative resource name of the reCAPTCHA v3 configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaV3Config ```"
        },
        "siteSecret": {
          "type": "string",
          "description": "Required. Input only. The site secret used to identify your service for reCAPTCHA v3 verification. For security reasons, this field will never be populated in any response."
        },
        "minValidScore": {
          "format": "float",
          "type": "number",
[...]
