{
  "parameters": {
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "servicePath": "",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "schemas": {
    "GdataBlobstore2Info": {
      "description": "Information to read/write to blobstore2.",
      "type": "object",
      "id": "GdataBlobstore2Info",
      "properties": {
        "blobGeneration": {
          "format": "int64",
          "description": "The blob generation id.",
          "type": "string"
        },
        "uploadMetadataContainer": {
          "description": "Metadata passed from Blobstore -> Scotty for a new GCS upload. This is a signed, serialized blobstore2.BlobMetadataContainer proto which must never be consumed outside of Bigstore, and is not applicable to non-GCS media uploads.",
          "type": "string",
          "format": "byte"
        },
        "readToken": {
          "description": "The blob read token. Needed to read blobs that have not been replicated. Might not be available until the final call.",
          "type": "string"
        },
        "downloadExternalReadToken": {
          "format": "byte",
          "description": "A serialized External Read Token passed from Bigstore -> Scotty for a GCS download. This field must never be consumed outside of Bigstore, and is not applicable to non-GCS media uploads.",
          "type": "string"
        },
        "blobId": {
          "description": "The blob id, e.g., /blobstore/prod/playground/scotty",
          "type": "string"
        },
        "downloadReadHandle": {
          "description": "Read handle passed from Bigstore -> Scotty for a GCS download. This is a signed, serialized blobstore2.ReadHandle proto which must never be set outside of Bigstore, and is not applicable to non-GCS media downloads.",
          "type": "string",
          "format": "byte"
        },
        "uploadFragmentListCreationInfo": {
          "description": "A serialized Object Fragment List Creation Info passed from Bigstore -> Scotty for a GCS upload. This field must never be consumed outside of Bigstore, and is not applicable to non-GCS media uploads.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleLongrunningCancelOperationRequest": {
      "id": "GoogleLongrunningCancelOperationRequest",
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1UploadReleaseMetadata": {
      "id": "GoogleFirebaseAppdistroV1UploadReleaseMetadata",
      "properties": {},
      "description": "Operation metadata for `UploadRelease`.",
      "type": "object"
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1UploadReleaseRequest": {
      "description": "Request message for `UploadRelease`.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1UploadReleaseRequest",
      "properties": {
        "blob": {
          "description": "Binary to upload",
          "$ref": "GdataMedia"
        }
      }
    },
    "GdataDiffUploadRequest": {
      "id": "GdataDiffUploadRequest",
      "properties": {
        "objectInfo": {
          "description": "The location of the new object. Agents must clone the object located here, as the upload server will delete the contents once a response is received.",
          "$ref": "GdataCompositeMedia"
        },
        "objectVersion": {
          "description": "The object version of the object that is the base version the incoming diff script will be applied to. This field will always be filled in.",
          "type": "string"
        },
        "checksumsInfo": {
          "description": "The location of the checksums for the new object. Agents must clone the object located here, as the upload server will delete the contents once a response is received. For details on the format of the checksums, see http://go/scotty-diff-protocol.",
          "$ref": "GdataCompositeMedia"
        }
      },
      "description": "A Diff upload request. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol.",
      "type": "object"
    },
    "GdataMedia": {
      "id": "GdataMedia",
      "properties": {
        "diffVersionResponse": {
          "description": "Set if reference_type is DIFF_VERSION_RESPONSE.",
          "$ref": "GdataDiffVersionResponse"
        },
        "timestamp": {
          "format": "uint64",
          "description": "Time at which the media data was last updated, in milliseconds since UNIX epoch",
          "type": "string"
        },
        "objectId": {
          "description": "Reference to a TI Blob, set if reference_type is BIGSTORE_REF.",
          "$ref": "GdataObjectId"
        },
        "hashVerified": {
          "description": "For Scotty uploads only. If a user sends a hash code and the backend has requested that Scotty verify the upload against the client hash, Scotty will perform the check on behalf of the backend and will reject it if the hashes don't match. This is set to true if Scotty performed this verification.",
          "type": "boolean"
        },
        "length": {
          "format": "int64",
          "description": "Size of the data, in bytes",
          "type": "string"
        },
        "diffChecksumsResponse": {
          "description": "Set if reference_type is DIFF_CHECKSUMS_RESPONSE.",
          "$ref": "GdataDiffChecksumsResponse"
        },
        "blobRef": {
          "format": "byte",
          "deprecated": true,
          "description": "Blobstore v1 reference, set if reference_type is BLOBSTORE_REF This should be the byte representation of a blobstore.BlobRef. Since Blobstore is deprecating v1, use blobstore2_info instead. For now, any v2 blob will also be represented in this field as v1 BlobRef.",
          "type": "string"
        },
        "sha512Hash": {
          "format": "byte",
          "description": "Scotty-provided SHA512 hash for an upload.",
          "type": "string"
        },
        "hash": {
          "description": "Deprecated, use one of explicit hash type fields instead. These two hash related fields will only be populated on Scotty based media uploads and will contain the content of the hash group in the NotificationRequest: http://cs/#google3/blobstore2/api/scotty/service/proto/upload_listener.proto&q=class:Hash Hex encoded hash value of the uploaded media.",
          "type": "string",
          "deprecated": true
        },
        "diffDownloadResponse": {
          "description": "Set if reference_type is DIFF_DOWNLOAD_RESPONSE.",
          "$ref": "GdataDiffDownloadResponse"
        },
        "path": {
          "description": "Path to the data, set if reference_type is PATH",
          "type": "string"
        },
        "crc32cHash": {
          "format": "uint32",
          "description": "For Scotty Uploads: Scotty-provided hashes for uploads For Scotty Downloads: (WARNING: DO NOT USE WITHOUT PERMISSION FROM THE SCOTTY TEAM.) A Hash provided by the agent to be used to verify the data being downloaded. Currently only supported for inline payloads. Further, only crc32c_hash is currently supported.",
          "type": "integer"
        },
        "contentType": {
          "description": "MIME type of the data",
          "type": "string"
        },
        "token": {
          "description": "A unique fingerprint/version id for the media data",
          "type": "string"
        },
        "compositeMedia": {
          "description": "A composite media composed of one or more media objects, set if reference_type is COMPOSITE_MEDIA. The media length field must be set to the sum of the lengths of all composite media objects. Note: All composite media must have length specified.",
          "type": "array",
          "items": {
            "$ref": "GdataCompositeMedia"
          }
        },
        "algorithm": {
          "description": "Deprecated, use one of explicit hash type fields instead. Algorithm used for calculating the hash. As of 2011/01/21, \"MD5\" is the only possible value for this field. New values may be added at any time.",
          "type": "string",
          "deprecated": true
        },
        "filename": {
          "description": "Original file name",
          "type": "string"
        },
        "md5Hash": {
          "description": "Scotty-provided MD5 hash for an upload.",
          "type": "string",
          "format": "byte"
        },
        "referenceType": {
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "GET_MEDIA",
            "COMPOSITE_MEDIA",
            "BIGSTORE_REF",
            "DIFF_VERSION_RESPONSE",
            "DIFF_CHECKSUMS_RESPONSE",
            "DIFF_DOWNLOAD_RESPONSE",
            "DIFF_UPLOAD_REQUEST",
            "DIFF_UPLOAD_RESPONSE",
            "COSMO_BINARY_REFERENCE",
            "ARBITRARY_BYTES"
          ],
          "description": "Describes what the field reference contains.",
          "type": "string",
          "enumDescriptions": [
            "Reference contains a GFS path or a local path.",
            "Reference points to a blobstore object. This could be either a v1 blob_ref or a v2 blobstore2_info. Clients should check blobstore2_info first, since v1 is being deprecated.",
            "Data is included into this proto buffer",
            "Data should be accessed from the current service using the operation GetMedia.",
            "The content for this media object is stored across multiple partial media objects under the composite_media field.",
            "Reference points to a bigstore object",
            "Indicates the data is stored in diff_version_response.",
            "Indicates the data is stored in diff_checksums_response.",
            "Indicates the data is stored in diff_download_response.",
            "Indicates the data is stored in diff_upload_request.",
            "Indicates the data is stored in diff_upload_response.",
            "Indicates the data is stored in cosmo_binary_reference.",
            "Informs Scotty to generate a response payload with the size specified in the length field. The contents of the payload are generated by Scotty and are undefined. This is useful for testing download speeds between the user and Scotty without involving a real payload source. Note: range is not supported when using arbitrary_bytes."
          ]
        },
        "bigstoreObjectRef": {
          "description": "Use object_id instead.",
          "type": "string",
          "format": "byte",
          "deprecated": true
        },
        "blobstore2Info": {
          "description": "Blobstore v2 info, set if reference_type is BLOBSTORE_REF and it refers to a v2 blob.",
          "$ref": "GdataBlobstore2Info"
        },
        "sha256Hash": {
          "format": "byte",
          "description": "Scotty-provided SHA256 hash for an upload.",
          "type": "string"
        },
        "inline": {
          "description": "Media data, set if reference_type is INLINE",
          "type": "string",
          "format": "byte"
        },
        "isPotentialRetry": {
          "description": "|is_potential_retry| is set false only when Scotty is certain that it has not sent the request before. When a client resumes an upload, this field must be set true in agent calls, because Scotty cannot be certain that it has never sent the request before due to potential failure in the session state persistence.",
          "type": "boolean"
        },
        "diffUploadRequest": {
          "description": "Set if reference_type is DIFF_UPLOAD_REQUEST.",
          "$ref": "GdataDiffUploadRequest"
        },
        "diffUploadResponse": {
          "description": "Set if reference_type is DIFF_UPLOAD_RESPONSE.",
          "$ref": "GdataDiffUploadResponse"
        },
        "contentTypeInfo": {
          "description": "Extended content type information provided for Scotty uploads.",
          "$ref": "GdataContentTypeInfo"
        },
        "sha1Hash": {
          "description": "Scotty-provided SHA1 hash for an upload.",
          "type": "string",
          "format": "byte"
        },
        "mediaId": {
          "format": "byte",
          "description": "Media id to forward to the operation GetMedia. Can be set if reference_type is GET_MEDIA.",
          "type": "string"
        },
        "cosmoBinaryReference": {
          "description": "A binary data reference for a media download. Serves as a technology-agnostic binary reference in some Google infrastructure. This value is a serialized storage_cosmo.BinaryReference proto. Storing it as bytes is a hack to get around the fact that the cosmo proto (as well as others it includes) doesn't support JavaScript. This prevents us from including the actual type of this field.",
          "type": "string",
          "format": "byte"
        },
        "downloadParameters": {
          "description": "Parameters for a media download.",
          "$ref": "GdataDownloadParameters"
        }
      },
      "description": "A reference to data stored on the filesystem, on GFS or in blobstore.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1ListFeedbackReportsResponse": {
      "description": "The response message for `ListFeedbackReports`.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1ListFeedbackReportsResponse",
      "properties": {
        "feedbackReports": {
          "description": "The feedback reports",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1FeedbackReport"
          }
        },
        "nextPageToken": {
          "description": "A short-lived token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1BatchAddTestersResponse": {
      "description": "The Response message for `BatchAddTesters`.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1BatchAddTestersResponse",
      "properties": {
        "testers": {
          "description": "The testers which are created and/or already exist",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1Tester"
          }
        }
      }
    },
    "GoogleFirebaseAppdistroV1Tester": {
      "id": "GoogleFirebaseAppdistroV1Tester",
      "properties": {
        "displayName": {
          "description": "The name of the tester associated with the Google account used to accept the tester invitation.",
          "type": "string"
        },
        "name": {
          "description": "The name of the tester resource. Format: `projects/{project_number}/testers/{email_address}`",
          "type": "string"
        },
        "groups": {
          "description": "The resource names of the groups this tester belongs to.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "lastActivityTime": {
          "description": "Output only. The time the tester was last active. This is the most recent time the tester installed one of the apps. If they've never installed one or if the release no longer exists, this is the time the tester was added to the project.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "description": "A person that can be invited to test apps in a Firebase project.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1BatchJoinGroupRequest": {
      "description": "The request message for `BatchJoinGroup`",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1BatchJoinGroupRequest",
      "properties": {
        "emails": {
          "description": "Required. The emails of the testers to be added to the group. A maximum of 999 and a minimum of 1 tester can be created in a batch.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "createMissingTesters": {
          "description": "Indicates whether to create tester resources based on `emails` if they don't exist yet.",
          "type": "boolean"
        }
      }
    },
    "GoogleFirebaseAppdistroV1DistributeReleaseRequest": {
      "id": "GoogleFirebaseAppdistroV1DistributeReleaseRequest",
      "properties": {
        "groupAliases": {
          "description": "Optional. A list of group aliases (IDs) to be given access to this release. A combined maximum of 999 `testerEmails` and `groupAliases` can be specified in a single request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "testerEmails": {
          "description": "Optional. A list of tester email addresses to be given access to this release. A combined maximum of 999 `testerEmails` and `groupAliases` can be specified in a single request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The request message for `DistributeRelease`.",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "GoogleProtobufEmpty",
      "properties": {}
    },
    "GoogleFirebaseAppdistroV1ListGroupsResponse": {
      "description": "The response message for `ListGroups`.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1ListGroupsResponse",
      "properties": {
        "groups": {
          "description": "The groups listed.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1Group"
          }
        },
        "nextPageToken": {
          "description": "A short-lived token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1Group": {
      "description": "A group which can contain testers. A group can be invited to test apps in a Firebase project.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1Group",
      "properties": {
        "name": {
          "description": "The name of the group resource. Format: `projects/{project_number}/groups/{group_alias}`",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the group.",
          "type": "string"
        },
        "inviteLinkCount": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The number of invite links for this group.",
          "type": "integer"
        },
        "releaseCount": {
          "description": "Output only. The number of releases this group is permitted to access.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "testerCount": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The number of testers who are members of this group.",
          "type": "integer"
        }
      }
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1FeedbackReport": {
      "description": "A feedback report submitted by a tester for a release.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1FeedbackReport",
      "properties": {
        "name": {
          "description": "The name of the feedback report resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/feedbackReports/{feedback_report}`",
          "type": "string"
        },
        "screenshotUri": {
          "description": "Output only. A signed link (which expires in one hour) that lets you directly download the screenshot.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the feedback report was created.",
          "type": "string"
        },
        "tester": {
          "readOnly": true,
          "description": "Output only. The resource name of the tester who submitted the feedback report.",
          "type": "string"
        },
        "text": {
          "readOnly": true,
          "description": "Output only. The text of the feedback report.",
          "type": "string"
        },
        "firebaseConsoleUri": {
          "description": "Output only. A link to the Firebase console displaying the feedback report.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GdataObjectId": {
      "description": "This is a copy of the tech.blob.ObjectId proto, which could not be used directly here due to transitive closure issues with JavaScript support; see http://b/8801763.",
      "type": "object",
      "id": "GdataObjectId",
      "properties": {
        "generation": {
          "format": "int64",
          "description": "Generation of the object. Generations are monotonically increasing across writes, allowing them to be be compared to determine which generation is newer. If this is omitted in a request, then you are requesting the live object. See http://go/bigstore-versions",
          "type": "string"
        },
        "bucketName": {
          "description": "The name of the bucket to which this object belongs.",
          "type": "string"
        },
        "objectName": {
          "description": "The name of the object.",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1BatchLeaveGroupRequest": {
      "id": "GoogleFirebaseAppdistroV1BatchLeaveGroupRequest",
      "properties": {
        "emails": {
          "description": "Required. The email addresses of the testers to be removed from the group. A maximum of 999 and a minimum of 1 testers can be removed in a batch.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request message for `BatchLeaveGroup`",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1BatchDeleteReleasesRequest": {
      "id": "GoogleFirebaseAppdistroV1BatchDeleteReleasesRequest",
      "properties": {
        "names": {
          "description": "Required. The names of the release resources to delete. Format: `projects/{project_number}/apps/{app}/releases/{release}` A maximum of 100 releases can be deleted per request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The request message for `BatchDeleteReleases`.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1BatchRemoveTestersResponse": {
      "description": "The response message for `BatchRemoveTesters`",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1BatchRemoveTestersResponse",
      "properties": {
        "emails": {
          "description": "List of deleted tester emails",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GdataDiffChecksumsResponse": {
      "description": "Backend response for a Diff get checksums response. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol.",
      "type": "object",
      "id": "GdataDiffChecksumsResponse",
      "properties": {
        "objectLocation": {
          "description": "If set, calculate the checksums based on the contents and return them to the caller.",
          "$ref": "GdataCompositeMedia"
        },
        "chunkSizeBytes": {
          "description": "The chunk size of checksums. Must be a multiple of 256KB.",
          "type": "string",
          "format": "int64"
        },
        "objectVersion": {
          "description": "The object version of the object the checksums are being returned for.",
          "type": "string"
        },
        "objectSizeBytes": {
          "format": "int64",
          "description": "The total size of the server object.",
          "type": "string"
        },
        "checksumsLocation": {
          "description": "Exactly one of these fields must be populated. If checksums_location is filled, the server will return the corresponding contents to the user. If object_location is filled, the server will calculate the checksums based on the content there and return that to the user. For details on the format of the checksums, see http://go/scotty-diff-protocol.",
          "$ref": "GdataCompositeMedia"
        }
      }
    },
    "GdataCompositeMedia": {
      "id": "GdataCompositeMedia",
      "properties": {
        "sha1Hash": {
          "format": "byte",
          "description": "SHA-1 hash for the payload.",
          "type": "string"
        },
        "blobRef": {
          "description": "Blobstore v1 reference, set if reference_type is BLOBSTORE_REF This should be the byte representation of a blobstore.BlobRef. Since Blobstore is deprecating v1, use blobstore2_info instead. For now, any v2 blob will also be represented in this field as v1 BlobRef.",
          "type": "string",
          "format": "byte",
          "deprecated": true
        },
        "inline": {
          "description": "Media data, set if reference_type is INLINE",
          "type": "string",
          "format": "byte"
        },
        "length": {
          "description": "Size of the data, in bytes",
          "type": "string",
          "format": "int64"
        },
        "path": {
          "description": "Path to the data, set if reference_type is PATH",
          "type": "string"
        },
        "blobstore2Info": {
          "description": "Blobstore v2 info, set if reference_type is BLOBSTORE_REF and it refers to a v2 blob.",
          "$ref": "GdataBlobstore2Info"
        },
        "cosmoBinaryReference": {
          "description": "A binary data reference for a media download. Serves as a technology-agnostic binary reference in some Google infrastructure. This value is a serialized storage_cosmo.BinaryReference proto. Storing it as bytes is a hack to get around the fact that the cosmo proto (as well as others it includes) doesn't support JavaScript. This prevents us from including the actual type of this field.",
          "type": "string",
          "format": "byte"
        },
        "crc32cHash": {
          "description": "crc32.c hash for the payload.",
          "type": "integer",
          "format": "uint32"
        },
        "objectId": {
          "description": "Reference to a TI Blob, set if reference_type is BIGSTORE_REF.",
          "$ref": "GdataObjectId"
        },
        "referenceType": {
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "BIGSTORE_REF",
            "COSMO_BINARY_REFERENCE"
          ],
          "enumDescriptions": [
            "Reference contains a GFS path or a local path.",
            "Reference points to a blobstore object. This could be either a v1 blob_ref or a v2 blobstore2_info. Clients should check blobstore2_info first, since v1 is being deprecated.",
            "Data is included into this proto buffer",
            "Reference points to a bigstore object",
            "Indicates the data is stored in cosmo_binary_reference."
          ],
          "description": "Describes what the field reference contains.",
          "type": "string"
        },
        "md5Hash": {
          "format": "byte",
          "description": "MD5 hash for the payload.",
          "type": "string"
        }
      },
      "description": "A sequence of media data references representing composite data. Introduced to support Bigstore composite objects. For details, visit http://go/bigstore-composites.",
      "type": "object"
    },
    "GdataDiffVersionResponse": {
      "description": "Backend response for a Diff get version response. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol.",
      "type": "object",
      "id": "GdataDiffVersionResponse",
      "properties": {
        "objectVersion": {
          "description": "The version of the object stored at the server.",
          "type": "string"
        },
        "objectSizeBytes": {
          "description": "The total size of the server object.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleFirebaseAppdistroV1BatchAddTestersRequest": {
      "description": "The Request message for batch adding testers",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1BatchAddTestersRequest",
      "properties": {
        "emails": {
          "description": "Required. The email addresses of the tester resources to create. A maximum of 999 and a minimum of 1 tester can be created in a batch.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleFirebaseAppdistroV1DistributeReleaseResponse": {
      "id": "GoogleFirebaseAppdistroV1DistributeReleaseResponse",
      "properties": {},
      "description": "The response message for `DistributeRelease`.",
      "type": "object"
    },
    "GdataContentTypeInfo": {
      "description": "Detailed Content-Type information from Scotty. The Content-Type of the media will typically be filled in by the header or Scotty's best_guess, but this extended information provides the backend with more information so that it can make a better decision if needed. This is only used on media upload requests from Scotty.",
      "type": "object",
      "id": "GdataContentTypeInfo",
      "properties": {
        "fromFileName": {
          "description": "The content type of the file derived from the file extension of the original file name used by the client.",
          "type": "string"
        },
        "fromBytes": {
          "description": "The content type of the file derived by looking at specific bytes (i.e. \"magic bytes\") of the actual file.",
          "type": "string"
        },
        "fromHeader": {
          "description": "The content type of the file as specified in the request headers, multipart headers, or RUPIO start request.",
          "type": "string"
        },
        "fromUrlPath": {
          "description": "The content type of the file derived from the file extension of the URL path. The URL path is assumed to represent a file name (which is typically only true for agents that are providing a REST API).",
          "type": "string"
        },
        "bestGuess": {
          "description": "Scotty's best guess of what the content type of the file is.",
          "type": "string"
        },
        "fromFusionId": {
          "description": "The content type of the file detected by Fusion ID. go/fusionid",
          "type": "string"
        },
        "fusionIdDetectionMetadata": {
          "description": "Metadata information from Fusion ID detection. Serialized FusionIdDetectionMetadata proto. Only set if from_fusion_id is set.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleFirebaseAppdistroV1UploadReleaseResponse": {
      "description": "Response message for `UploadRelease`.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1UploadReleaseResponse",
      "properties": {
        "result": {
          "enum": [
            "UPLOAD_RELEASE_RESULT_UNSPECIFIED",
            "RELEASE_CREATED",
            "RELEASE_UPDATED",
            "RELEASE_UNMODIFIED"
          ],
          "description": "Result of upload release.",
          "type": "string",
          "enumDescriptions": [
            "Upload binary result unspecified",
            "Upload binary resulted in a new release",
            "Upload binary updated an existing release",
            "Upload binary resulted in a no-op. A release with the exact same binary already exists."
          ]
        },
        "release": {
          "description": "Release associated with the uploaded binary.",
          "$ref": "GoogleFirebaseAppdistroV1Release"
        }
      }
    },
    "GoogleFirebaseAppdistroV1ListReleasesResponse": {
      "description": "The response message for `ListReleases`.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1ListReleasesResponse",
      "properties": {
        "totalSize": {
          "format": "int32",
          "description": "The total number of releases.",
          "type": "integer"
        },
        "releases": {
          "description": "The releases",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1Release"
          }
        },
        "nextPageToken": {
          "description": "A short-lived token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1TestCertificate": {
      "description": "App bundle test certificate",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1TestCertificate",
      "properties": {
        "hashMd5": {
          "description": "Hex string of MD5 hash of the test certificate used to resign the AAB",
          "type": "string"
        },
        "hashSha1": {
          "description": "Hex string of SHA1 hash of the test certificate used to resign the AAB",
          "type": "string"
        },
        "hashSha256": {
          "description": "Hex string of SHA256 hash of the test certificate used to resign the AAB",
          "type": "string"
        }
      }
    },
    "GdataDownloadParameters": {
      "description": "Parameters specific to media downloads.",
      "type": "object",
      "id": "GdataDownloadParameters",
      "properties": {
        "allowGzipCompression": {
          "description": "A boolean to be returned in the response to Scotty. Allows/disallows gzip encoding of the payload content when the server thinks it's advantageous (hence, does not guarantee compression) which allows Scotty to GZip the response to the client.",
          "type": "boolean"
        },
        "ignoreRange": {
          "description": "Determining whether or not Apiary should skip the inclusion of any Content-Range header on its response to Scotty.",
          "type": "boolean"
        }
      }
    },
    "GoogleFirebaseAppdistroV1Release": {
      "description": "A release of a Firebase app.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1Release",
      "properties": {
        "releaseNotes": {
          "description": "Notes about the release.",
          "$ref": "GoogleFirebaseAppdistroV1ReleaseNotes"
        },
        "testingUri": {
          "readOnly": true,
          "description": "Output only. A link to the release in the tester web clip or Android app that lets testers (which were granted access to the app) view release notes and install the app onto their devices.",
          "type": "string"
        },
        "testState": {
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "NO_TESTS_REQUESTED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "INCONCLUSIVE"
          ],
          "description": "Output only. The overall state of tests run on this release",
          "type": "string",
          "enumDescriptions": [
            "No test state specified",
            "No tests have been requested for this release",
            "One or more device executions are in progress",
            "All device executions passed during the most recent test",
            "Some device executions failed during the most recent test",
            "Some device executions were inconclusive, but none failed, during the most recent test"
          ],
          "readOnly": true
        },
        "name": {
          "description": "The name of the release resource. Format: `projects/{project_number}/apps/{app}/releases/{release}`",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time the release was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "binaryDownloadUri": {
          "readOnly": true,
          "description": "Output only. A signed link (which expires in one hour) to directly download the app binary (IPA/APK/AAB) file.",
          "type": "string"
        },
        "binaryType": {
          "enum": [
            "BINARY_TYPE_UNSPECIFIED",
            "IPA",
            "APK",
            "AAB"
          ],
          "readOnly": true,
          "description": "Output only. Type of binary.",
          "type": "string",
          "enumDescriptions": [
            "unspecified binary type",
            "iOS App Store package",
            "Android Application package",
            "Android App Bundle"
          ]
        },
        "buildVersion": {
          "description": "Output only. Build version of the release. For an Android release, the build version is the `versionCode`. For an iOS release, the build version is the `CFBundleVersion`.",
          "type": "string",
          "readOnly": true
        },
        "firebaseConsoleUri": {
          "description": "Output only. A link to the Firebase console displaying a single release.",
          "type": "string",
          "readOnly": true
        },
        "androidPackageRegistrationState": {
          "readOnly": true,
          "description": "Output only. Registration state of the Android package (BinaryType.APK).",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Package is registered with the release binary's certificate fingerprint.",
            "Package is not registered with any public certificate.",
            "Package is registered with another public certificate fingerprint."
          ],
          "enum": [
            "ANDROID_PACKAGE_REGISTRATION_STATE_UNSPECIFIED",
            "REGISTERED",
            "NOT_REGISTERED",
            "REGISTERED_WITH_ANOTHER_CERTIFICATE_FINGERPRINT"
          ]
        },
        "expireTime": {
          "description": "Output only. The time the release will expire.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "acceptedInvitationCount": {
          "description": "Output only. Number of testers with accepted invitations.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "feedbackCount": {
          "description": "Output only. Number of feedback reports left by testers.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "installationCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Number of testers who have downloaded this release.",
          "type": "integer"
        },
        "createTime": {
          "description": "Output only. The time the release was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "displayVersion": {
          "readOnly": true,
          "description": "Output only. Display version of the release. For an Android release, the display version is the `versionName`. For an iOS release, the display version is the `CFBundleShortVersionString`.",
          "type": "string"
        },
        "openInvitationCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Number of testers who were invited (incl. expired invitations), but did not (yet) accept the invitation.",
          "type": "integer"
        }
      }
    },
    "GoogleLongrunningWaitOperationRequest": {
      "description": "The request message for Operations.WaitOperation.",
      "type": "object",
      "id": "GoogleLongrunningWaitOperationRequest",
      "properties": {
        "timeout": {
          "format": "google-duration",
          "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1AabInfo": {
      "description": "Android App Bundle (AAB) information for a Firebase app.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1AabInfo",
      "properties": {
        "integrationState": {
          "description": "App bundle integration state. Only valid for android apps.",
          "type": "string",
          "enumDescriptions": [
            "AAB integration state unspecified.",
            "App can receive app bundle uploads.",
            "Firebase project is not linked to a Play developer account.",
            "There is no app in the linked Play developer account with the same bundle ID.",
            "The app in the Play developer account is not in a published state.",
            "Play App status is unavailable.",
            "Play in-app sharing terms not accepted.",
            "The ad-hoc sharing key has not been generated for this app.",
            "The ad-hoc sharing key is not yet registered in Android Developer Verification for this app.",
            "The linked Play developer account was not found or is not fully set up in Android Developer Console.",
            "The package was not found in the Android Developer Console."
          ],
          "enum": [
            "AAB_INTEGRATION_STATE_UNSPECIFIED",
            "INTEGRATED",
            "PLAY_ACCOUNT_NOT_LINKED",
            "NO_APP_WITH_GIVEN_BUNDLE_ID_IN_PLAY_ACCOUNT",
            "APP_NOT_PUBLISHED",
            "AAB_STATE_UNAVAILABLE",
            "PLAY_IAS_TERMS_NOT_ACCEPTED",
            "ADHOC_SHARING_KEY_NOT_GENERATED",
            "ADHOC_SHARING_KEY_NOT_REGISTERED",
            "PLAY_ANDROID_DEVELOPER_CONSOLE_ACCOUNT_NOT_FOUND",
            "PLAY_ANDROID_DEVELOPER_CONSOLE_PACKAGE_NOT_FOUND"
          ]
        },
        "testCertificate": {
          "description": "App bundle test certificate generated for the app. Set after the first app bundle is uploaded for this app.",
          "$ref": "GoogleFirebaseAppdistroV1TestCertificate"
        },
        "name": {
          "description": "The name of the `AabInfo` resource. Format: `projects/{project_number}/apps/{app}/aabInfo`",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1ListTestersResponse": {
      "description": "The response message for `ListTesters`.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1ListTestersResponse",
      "properties": {
        "testers": {
          "description": "The testers listed.",
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1Tester"
          }
        },
        "nextPageToken": {
          "description": "A short-lived token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GdataDiffDownloadResponse": {
      "description": "Backend response for a Diff download response. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol.",
      "type": "object",
      "id": "GdataDiffDownloadResponse",
      "properties": {
        "objectLocation": {
          "description": "The original object location.",
          "$ref": "GdataCompositeMedia"
        }
      }
    },
    "GoogleFirebaseAppdistroV1ReleaseNotes": {
      "description": "Notes that belong to a release.",
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1ReleaseNotes",
      "properties": {
        "text": {
          "description": "The text of the release notes.",
          "type": "string"
        }
      }
    },
    "GdataDiffUploadResponse": {
      "description": "Backend response for a Diff upload request. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol.",
      "type": "object",
      "id": "GdataDiffUploadResponse",
      "properties": {
        "objectVersion": {
          "description": "The object version of the object at the server. Must be included in the end notification response. The version in the end notification response must correspond to the new version of the object that is now stored at the server, after the upload.",
          "type": "string"
        },
        "originalObject": {
          "description": "The location of the original file for a diff upload request. Must be filled in if responding to an upload start notification.",
          "$ref": "GdataCompositeMedia"
        }
      }
    },
    "GoogleFirebaseAppdistroV1BatchRemoveTestersRequest": {
      "id": "GoogleFirebaseAppdistroV1BatchRemoveTestersRequest",
      "properties": {
        "emails": {
          "description": "Required. The email addresses of the tester resources to removed. A maximum of 999 and a minimum of 1 testers can be deleted in a batch.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The request message for `BatchRemoveTesters`.",
      "type": "object"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "title": "Firebase App Distribution API",
  "id": "firebaseappdistribution:v1",
  "ownerDomain": "google.com",
  "name": "firebaseappdistribution",
  "baseUrl": "https://firebaseappdistribution.googleapis.com/",
  "kind": "discovery#restDescription",
  "description": "",
  "revision": "20260814",
  "documentationLink": "https://firebase.google.com/products/app-distribution",
  "version": "v1",
  "mtlsRootUrl": "https://firebaseappdistribution.mtls.googleapis.com/",
  "batchPath": "batch",
  "resources": {
    "media": {
      "methods": {
        "upload": {
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleFirebaseAppdistroV1UploadReleaseRequest"
          },
          "id": "firebaseappdistribution.media.upload",
          "path": "v1/{+app}/releases:upload",
          "flatPath": "v1/projects/{projectsId}/apps/{appsId}/releases:upload",
          "parameters": {
            "app": {
              "description": "Required. The name of the app resource. Format: `projects/{project_number}/apps/{app}`",
              "type": "string",
              "location": "path",
              "pattern": "^projects/[^/]+/apps/[^/]+$",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Uploads a binary. Uploading a binary can result in a new release being created, an update to an existing release, or a no-op if a release with the same binary already exists.",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "supportsMediaUpload": true,
          "parameterOrder": [
            "app"
          ],
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v1/{+app}/releases:upload"
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "testers": {
          "methods": {
            "batchRemove": {
              "parameterOrder": [
                "project"
              ],
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1BatchRemoveTestersResponse"
              },
              "description": "Batch removes testers. If found, this call deletes testers for the specified emails. Returns all deleted testers.",
              "parameters": {
                "project": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the project resource. Format: `projects/{project_number}`",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "firebaseappdistribution.projects.testers.batchRemove",
              "path": "v1/{+project}/testers:batchRemove",
              "flatPath": "v1/projects/{projectsId}/testers:batchRemove",
              "request": {
                "$ref": "GoogleFirebaseAppdistroV1BatchRemoveTestersRequest"
              },
              "httpMethod": "POST"
            },
            "patch": {
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleFirebaseAppdistroV1Tester"
              },
              "id": "firebaseappdistribution.projects.testers.patch",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/testers/{testersId}",
              "description": "Update a tester. If the testers joins a group they gain access to all releases that the group has access to.",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "description": "Optional. The list of fields to update.",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "location": "path",
                  "description": "The name of the tester resource. Format: `projects/{project_number}/testers/{email_address}`",
                  "type": "string",
                  "pattern": "^projects/[^/]+/testers/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1Tester"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1ListTestersResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "firebaseappdistribution.projects.testers.list",
              "path": "v1/{+parent}/testers",
              "flatPath": "v1/projects/{projectsId}/testers",
              "description": "Lists testers and their resource ids.",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the project resource, which is the parent of the tester resources. Format: `projects/{project_number}`",
                  "type": "string",
                  "required": true
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListTesters` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTesters` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of testers to return. The service may return fewer than this value. The valid range is [1-1000]; If unspecified (0), at most 10 testers are returned. Values above 1000 are coerced to 1000.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. The expression to filter testers listed in the response. To learn more about filtering, refer to [Google's AIP-160 standard](http://aip.dev/160). Supported fields: - `name` - `displayName` - `groups` Example: - `name = \"projects/-/testers/*@example.com\"` - `displayName = \"Joe Sixpack\"` - `groups = \"projects/*/groups/qa-team\"`",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET"
            },
            "batchAdd": {
              "parameterOrder": [
                "project"
              ],
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1BatchAddTestersResponse"
              },
              "parameters": {
                "project": {
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The name of the project resource. Format: `projects/{project_number}`",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Batch adds testers. This call adds testers for the specified emails if they don't already exist. Returns all testers specified in the request, including newly created and previously existing testers. This action is idempotent.",
              "id": "firebaseappdistribution.projects.testers.batchAdd",
              "path": "v1/{+project}/testers:batchAdd",
              "flatPath": "v1/projects/{projectsId}/testers:batchAdd",
              "request": {
                "$ref": "GoogleFirebaseAppdistroV1BatchAddTestersRequest"
              },
              "httpMethod": "POST"
            }
          }
        },
        "apps": {
          "methods": {
            "getAabInfo": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/apps/[^/]+/aabInfo$",
                  "description": "Required. The name of the `AabInfo` resource to retrieve. Format: `projects/{project_number}/apps/{app}/aabInfo`",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets Android App Bundle (AAB) information for a Firebase app.",
              "id": "firebaseappdistribution.projects.apps.getAabInfo",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}/aabInfo",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1AabInfo"
              }
            }
          },
          "resources": {
            "releases": {
              "methods": {
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1Release"
                  },
                  "description": "Updates a release.",
                  "parameters": {
                    "updateMask": {
                      "description": "Optional. The list of fields to update.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+$",
                      "description": "The name of the release resource. Format: `projects/{project_number}/apps/{app}/releases/{release}`",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "firebaseappdistribution.projects.apps.releases.patch",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/releases/{releasesId}",
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1Release"
                  },
                  "httpMethod": "PATCH"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1ListReleasesResponse"
                  },
                  "description": "Lists releases. By default, sorts by `createTime` in descending order.",
                  "parameters": {
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. The fields used to order releases. Supported fields: - `create_time` (or `createTime`) - `update_time` (or `updateTime`) - `expire_time` (or `expireTime`) To specify descending order for a field, append a \"desc\" suffix, for example, `createTime desc`. If this parameter is not set, releases are ordered by `createTime` in descending order.",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. The maximum number of releases to return. The service may return fewer than this value. The valid range is [1-100]; If unspecified (0), at most 25 releases are returned. Values above 100 are coerced to 100.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListReleases` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListReleases` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "description": "Required. The name of the app resource, which is the parent of the release resources. Format: `projects/{project_number}/apps/{app}`",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. The expression to filter releases listed in the response. To learn more about filtering, refer to the [AIP-160 standard](http://aip.dev/160). Supported fields: - Time fields supporting `<`, `<=`, `>` and `>=`; expecting an RFC-3339 formatted string: - `create_time` (or `createTime`) - `update_time` (or `updateTime`) - `expire_time` (or `expireTime`) - Text fields supporting `=`. The compared text can contain a wildcard character (`*`) at the beginning and/or end of the string which also enables case-insensitive matching: - `release_notes.text` (or `releaseNotes.text`) - `display_version` (or `displayVersion`) - `build_version` (or `buildVersion`). Examples: - `createTime <= \"2021-09-08T00:00:00+04:00\"` - `expire_time > \"2021-09-08T00:00:00+04:00\"` - `releaseNotes.text=\"fixes\" AND createTime >= \"2021-09-08T00:00:00.0Z\"` - `releaseNotes.text=\"*v1.0.0-rc*\"` - `(display_version = \"v1.0.0-rc2\" AND `build_version = \"123\") OR release_notes = \"*v1.0.0-rc2 (123)*\"`",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "firebaseappdistribution.projects.apps.releases.list",
                  "path": "v1/{+parent}/releases",
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/releases",
                  "httpMethod": "GET"
                },
                "distribute": {
                  "id": "firebaseappdistribution.projects.apps.releases.distribute",
                  "path": "v1/{+name}:distribute",
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/releases/{releasesId}:distribute",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the release resource to distribute. Format: `projects/{project_number}/apps/{app}/releases/{release}`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Distributes a release to testers. This call does the following: 1. Creates testers for the specified emails, if none exist. 2. Adds the testers and groups to the release. 3. Sends new testers an invitation email. 4. Sends existing testers a new release email. The request will fail with a `INVALID_ARGUMENT` if it contains a group that doesn't exist.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1DistributeReleaseRequest"
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1DistributeReleaseResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "id": "firebaseappdistribution.projects.apps.releases.get",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/releases/{releasesId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+$",
                      "description": "Required. The name of the release resource to retrieve. Format: projects/{project_number}/apps/{app}/releases/{release}",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets a release.",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1Release"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "batchDelete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firebaseappdistribution.projects.apps.releases.batchDelete",
                  "path": "v1/{+parent}/releases:batchDelete",
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/releases:batchDelete",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The name of the app resource, which is the parent of the release resources. Format: `projects/{project_number}/apps/{app}`",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes releases. A maximum of 100 releases can be deleted per request.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1BatchDeleteReleasesRequest"
                  }
                }
              },
              "resources": {
                "operations": {
                  "methods": {
                    "delete": {
                      "id": "firebaseappdistribution.projects.apps.releases.operations.delete",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/operations/{operationsId}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "The name of the operation resource to be deleted.",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+/operations/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "firebaseappdistribution.projects.apps.releases.operations.list",
                      "path": "v1/{+name}/operations",
                      "flatPath": "v1/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/operations",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "description": "The standard list page size.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "name": {
                          "required": true,
                          "description": "The name of the operation's parent resource.",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+$"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "The standard list page token.",
                          "type": "string"
                        },
                        "returnPartialSuccess": {
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "filter": {
                          "location": "query",
                          "description": "The standard list filter.",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "httpMethod": "GET"
                    },
                    "get": {
                      "httpMethod": "GET",
                      "id": "firebaseappdistribution.projects.apps.releases.operations.get",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/operations/{operationsId}",
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "description": "The name of the operation resource.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+/operations/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "wait": {
                      "request": {
                        "$ref": "GoogleLongrunningWaitOperationRequest"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+/operations/[^/]+$",
                          "description": "The name of the operation resource to wait on.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                      "id": "firebaseappdistribution.projects.apps.releases.operations.wait",
                      "path": "v1/{+name}:wait",
                      "flatPath": "v1/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/operations/{operationsId}:wait",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    },
                    "cancel": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameters": {
                        "name": {
                          "description": "The name of the operation resource to be cancelled.",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+/operations/[^/]+$",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                      "id": "firebaseappdistribution.projects.apps.releases.operations.cancel",
                      "path": "v1/{+name}:cancel",
                      "flatPath": "v1/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/operations/{operationsId}:cancel",
                      "request": {
                        "$ref": "GoogleLongrunningCancelOperationRequest"
                      },
                      "httpMethod": "POST"
                    }
                  }
                },
                "feedbackReports": {
                  "methods": {
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1FeedbackReport"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the feedback report to retrieve. Format: projects/{project_number}/apps/{app}/releases/{release}/feedbackReports/{feedback_report}",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+/feedbackReports/[^/]+$",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets a feedback report.",
                      "id": "firebaseappdistribution.projects.apps.releases.feedbackReports.get",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/feedbackReports/{feedbackReportsId}",
                      "httpMethod": "GET"
                    },
                    "delete": {
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "id": "firebaseappdistribution.projects.apps.releases.feedbackReports.delete",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/feedbackReports/{feedbackReportsId}",
                      "description": "Deletes a feedback report.",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the feedback report to delete. Format: projects/{project_number}/apps/{app}/releases/{release}/feedbackReports/{feedback_report}",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+/feedbackReports/[^/]+$",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "parameters": {
                        "parent": {
                          "required": true,
                          "location": "path",
                          "description": "Required. The name of the release resource, which is the parent of the feedback report resources. Format: `projects/{project_number}/apps/{app}/releases/{release}`",
                          "type": "string",
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+$"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Output only. The maximum number of feedback reports to return. The service may return fewer than this value. The valid range is [1-100]; If unspecified (0), at most 25 feedback reports are returned. Values above 100 are coerced to 100.",
                          "type": "integer",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Output only. A page token, received from a previous `ListFeedbackReports` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListFeedbackReports` must match the call that provided the page token.",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists feedback reports. By default, sorts by `createTime` in descending order.",
                      "id": "firebaseappdistribution.projects.apps.releases.feedbackReports.list",
                      "path": "v1/{+parent}/feedbackReports",
                      "flatPath": "v1/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/feedbackReports",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1ListFeedbackReportsResponse"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "groups": {
          "methods": {
            "patch": {
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleFirebaseAppdistroV1Group"
              },
              "id": "firebaseappdistribution.projects.groups.patch",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/groups/{groupsId}",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "description": "Optional. The list of fields to update.",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "required": true,
                  "description": "The name of the group resource. Format: `projects/{project_number}/groups/{group_alias}`",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/groups/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Update a group.",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1Group"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "batchJoin": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "group"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleFirebaseAppdistroV1BatchJoinGroupRequest"
              },
              "id": "firebaseappdistribution.projects.groups.batchJoin",
              "path": "v1/{+group}:batchJoin",
              "flatPath": "v1/projects/{projectsId}/groups/{groupsId}:batchJoin",
              "description": "Batch adds members to a group. The testers will gain access to all releases that the groups have access to.",
              "parameters": {
                "group": {
                  "pattern": "^projects/[^/]+/groups/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the group resource to which testers are added. Format: `projects/{project_number}/groups/{group_alias}`",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1ListGroupsResponse"
              },
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Optional. The maximum number of groups to return. The service may return fewer than this value. The valid range is [1-1000]; If unspecified (0), at most 25 groups are returned. Values above 1000 are coerced to 1000.",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListGroups` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListGroups` must match the call that provided the page token.",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the project resource, which is the parent of the group resources. Format: `projects/{project_number}`",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "List groups.",
              "id": "firebaseappdistribution.projects.groups.list",
              "path": "v1/{+parent}/groups",
              "flatPath": "v1/projects/{projectsId}/groups",
              "httpMethod": "GET"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "DELETE",
              "description": "Delete a group.",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/groups/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the group resource. Format: `projects/{project_number}/groups/{group_alias}`",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "firebaseappdistribution.projects.groups.delete",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/groups/{groupsId}"
            },
            "batchLeave": {
              "parameterOrder": [
                "group"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "request": {
                "$ref": "GoogleFirebaseAppdistroV1BatchLeaveGroupRequest"
              },
              "httpMethod": "POST",
              "description": "Batch removed members from a group. The testers will lose access to all releases that the groups have access to.",
              "parameters": {
                "group": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the group resource from which testers are removed. Format: `projects/{project_number}/groups/{group_alias}`",
                  "type": "string",
                  "pattern": "^projects/[^/]+/groups/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "firebaseappdistribution.projects.groups.batchLeave",
              "path": "v1/{+group}:batchLeave",
              "flatPath": "v1/projects/{projectsId}/groups/{groupsId}:batchLeave"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1Group"
              },
              "httpMethod": "GET",
              "description": "Get a group.",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the group resource to retrieve. Format: `projects/{project_number}/groups/{group_alias}`",
                  "type": "string",
                  "pattern": "^projects/[^/]+/groups/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "firebaseappdistribution.projects.groups.get",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/groups/{groupsId}"
            },
            "create": {
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleFirebaseAppdistroV1Group"
              },
              "id": "firebaseappdistribution.projects.groups.create",
              "path": "v1/{+parent}/groups",
              "flatPath": "v1/projects/{projectsId}/groups",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The name of the project resource, which is the parent of the group resource. Format: `projects/{project_number}`",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "groupId": {
                  "location": "query",
                  "description": "Optional. The \"alias\" to use for the group, which will become the final component of the group's resource name. This value must be unique per project. The field is named `groupId` to comply with AIP guidance for user-specified IDs. This value should be 4-63 characters, and valid characters are `/a-z-/`. If not set, it will be generated based on the display name.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Create a group.",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1Group"
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://firebaseappdistribution.googleapis.com/",
  "canonicalName": "Firebase App Distribution",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerName": "Google",
  "basePath": "",
  "version_module": true
}