{
  "discoveryVersion": "v1",
  "version": "v1",
  "baseUrl": "https://firebaseappcheck.googleapis.com/",
  "resources": {
    "oauthClients": {
      "methods": {
        "exchangeDebugToken": {
          "parameterOrder": [
            "app"
          ],
          "parameters": {
            "app": {
              "location": "path",
              "description": "Required. The relative resource name of the app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
              "pattern": "^oauthClients/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
          },
          "id": "firebaseappcheck.oauthClients.exchangeDebugToken",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "path": "v1/{+app}:exchangeDebugToken",
          "request": {
            "$ref": "GoogleFirebaseAppcheckV1ExchangeDebugTokenRequest"
          },
          "flatPath": "v1/oauthClients/{oauthClientsId}:exchangeDebugToken",
          "httpMethod": "POST",
          "description": "Validates a debug token secret that you have previously created using CreateDebugToken. If valid, returns an AppCheckToken. Note that a restrictive quota is enforced on this method to prevent accidental exposure of the app to abuse."
        },
        "exchangeAppAttestAttestation": {
          "httpMethod": "POST",
          "description": "Accepts an App Attest CBOR attestation and verifies it with Apple using your preconfigured team and bundle IDs. If valid, returns an attestation artifact that can later be exchanged for an AppCheckToken using ExchangeAppAttestAssertion. For convenience and performance, this method's response object will also contain an AppCheckToken (if the verification is successful).",
          "flatPath": "v1/oauthClients/{oauthClientsId}:exchangeAppAttestAttestation",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "path": "v1/{+app}:exchangeAppAttestAttestation",
          "request": {
            "$ref": "GoogleFirebaseAppcheckV1ExchangeAppAttestAttestationRequest"
          },
          "id": "firebaseappcheck.oauthClients.exchangeAppAttestAttestation",
          "parameters": {
            "app": {
              "location": "path",
              "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
              "pattern": "^oauthClients/[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "GoogleFirebaseAppcheckV1ExchangeAppAttestAttestationResponse"
          },
          "parameterOrder": [
            "app"
          ]
        },
        "generateAppAttestChallenge": {
          "id": "firebaseappcheck.oauthClients.generateAppAttestChallenge",
          "path": "v1/{+app}:generateAppAttestChallenge",
          "request": {
            "$ref": "GoogleFirebaseAppcheckV1GenerateAppAttestChallengeRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "flatPath": "v1/oauthClients/{oauthClientsId}:generateAppAttestChallenge",
          "httpMethod": "POST",
          "description": "Generates a challenge that protects the integrity of an immediately following call to ExchangeAppAttestAttestation or ExchangeAppAttestAssertion. A challenge should not be reused for multiple calls.",
          "parameterOrder": [
            "app"
          ],
          "response": {
            "$ref": "GoogleFirebaseAppcheckV1GenerateAppAttestChallengeResponse"
          },
          "parameters": {
            "app": {
              "location": "path",
              "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
              "pattern": "^oauthClients/[^/]+$",
              "type": "string",
              "required": true
            }
          }
        },
        "exchangeAppAttestAssertion": {
          "parameterOrder": [
            "app"
          ],
          "parameters": {
            "app": {
              "location": "path",
              "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
              "pattern": "^oauthClients/[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
          },
          "id": "firebaseappcheck.oauthClients.exchangeAppAttestAssertion",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "path": "v1/{+app}:exchangeAppAttestAssertion",
          "request": {
            "$ref": "GoogleFirebaseAppcheckV1ExchangeAppAttestAssertionRequest"
          },
          "flatPath": "v1/oauthClients/{oauthClientsId}:exchangeAppAttestAssertion",
          "httpMethod": "POST",
          "description": "Accepts an App Attest assertion and an artifact previously obtained from ExchangeAppAttestAttestation and verifies those with Apple. If valid, returns an AppCheckToken."
        }
      }
    },
    "projects": {
      "resources": {
        "services": {
          "methods": {
            "get": {
              "id": "firebaseappcheck.projects.services.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/services/{servicesId}",
              "httpMethod": "GET",
              "description": "Gets the Service configuration for the specified service name.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The relative resource name of the Service to retrieve, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `firebasestorage.googleapis.com` (Cloud Storage for Firebase) * `firebasedatabase.googleapis.com` (Firebase Realtime Database) * `firestore.googleapis.com` (Cloud Firestore) * `oauth2.googleapis.com` (Google Identity for iOS)",
                  "pattern": "^projects/[^/]+/services/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1Service"
              }
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of Services to return in the response. Only explicitly configured services are returned. The server may return fewer than this at its own discretion. If no value is specified (or too large a value is specified), the server will impose its own limit."
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The relative resource name of the parent project for which to list each associated Service, in the format: ``` projects/{project_number} ```",
                  "pattern": "^projects/[^/]+$"
                },
                "pageToken": {
                  "description": "Token returned from a previous call to ListServices indicating where in the set of Services to resume listing. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to ListServices must match the call that provided the page token; if they do not match, the result is undefined.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1ListServicesResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "description": "Lists all Service configurations for the specified project. Only Services which were explicitly configured using UpdateService or BatchUpdateServices will be returned.",
              "flatPath": "v1/projects/{projectsId}/services",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1/{+parent}/services",
              "id": "firebaseappcheck.projects.services.list"
            },
            "patch": {
              "flatPath": "v1/projects/{projectsId}/services/{servicesId}",
              "httpMethod": "PATCH",
              "description": "Updates the specified Service configuration.",
              "id": "firebaseappcheck.projects.services.patch",
              "path": "v1/{+name}",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1Service"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1Service"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The relative resource name of the service configuration object, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `firebasestorage.googleapis.com` (Cloud Storage for Firebase) * `firebasedatabase.googleapis.com` (Firebase Realtime Database) * `firestore.googleapis.com` (Cloud Firestore) * `oauth2.googleapis.com` (Google Identity for iOS)",
                  "pattern": "^projects/[^/]+/services/[^/]+$"
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Required. A comma-separated list of names of fields in the Service to update. Example: `enforcement_mode`."
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "batchUpdate": {
              "path": "v1/{+parent}/services:batchUpdate",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1BatchUpdateServicesRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "id": "firebaseappcheck.projects.services.batchUpdate",
              "httpMethod": "POST",
              "description": "Atomically updates the specified Service configurations.",
              "flatPath": "v1/projects/{projectsId}/services:batchUpdate",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1BatchUpdateServicesResponse"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The parent project name shared by all Service configurations being updated, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being updated must match this field, or the entire batch fails.",
                  "pattern": "^projects/[^/]+$"
                }
              }
            }
          },
          "resources": {
            "resourcePolicies": {
              "methods": {
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/services/{servicesId}/resourcePolicies/{resourcePoliciesId}",
                  "httpMethod": "PATCH",
                  "description": "Updates the specified ResourcePolicy configuration.",
                  "id": "firebaseappcheck.projects.services.resourcePolicies.patch",
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1ResourcePolicy"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1ResourcePolicy"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Identifier. The relative name of the resource policy object, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `oauth2.googleapis.com` (Google Identity for iOS) `resource_policy_id` is a system-generated UID.",
                      "pattern": "^projects/[^/]+/services/[^/]+/resourcePolicies/[^/]+$"
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Required. A comma-separated list of names of fields in the ResourcePolicy to update. Example: `enforcement_mode`."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "batchUpdate": {
                  "httpMethod": "POST",
                  "description": "Atomically updates the specified ResourcePolicy configurations.",
                  "flatPath": "v1/projects/{projectsId}/services/{servicesId}/resourcePolicies:batchUpdate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1/{+parent}/resourcePolicies:batchUpdate",
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1BatchUpdateResourcePoliciesRequest"
                  },
                  "id": "firebaseappcheck.projects.services.resourcePolicies.batchUpdate",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent service name, in the format ``` projects/{project_number}/services/{service_id} ``` The parent collection in the `name` field of any resource being updated must match this field, or the entire batch fails.",
                      "pattern": "^projects/[^/]+/services/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1BatchUpdateResourcePoliciesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The relative resource name of the ResourcePolicy to retrieve, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `oauth2.googleapis.com` (Google Identity for iOS)",
                      "pattern": "^projects/[^/]+/services/[^/]+/resourcePolicies/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1ResourcePolicy"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1/{+name}",
                  "id": "firebaseappcheck.projects.services.resourcePolicies.get",
                  "httpMethod": "GET",
                  "description": "Gets the requested ResourcePolicy configuration.",
                  "flatPath": "v1/projects/{projectsId}/services/{servicesId}/resourcePolicies/{resourcePoliciesId}"
                },
                "list": {
                  "id": "firebaseappcheck.projects.services.resourcePolicies.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1/{+parent}/resourcePolicies",
                  "flatPath": "v1/projects/{projectsId}/services/{servicesId}/resourcePolicies",
                  "httpMethod": "GET",
                  "description": "Lists all ResourcePolicy configurations for the specified project and service.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filters the results by the specified rule. For the exact syntax of this field, please consult the [AIP-160](https://google.aip.dev/160) standard. Currently, since the only fields in the ResourcePolicy resource are the scalar fields `enforcement_mode` and `target_resource`, this method does not support the traversal operator (`.`) or the has operator (`:`). Here are some examples of valid filters: * `enforcement_mode = ENFORCED` * `target_resource = \"//oauth2.googleapis.com/projects/12345/oauthClients/\"` * `enforcement_mode = ENFORCED AND target_resource = \"//oauth2.googleapis.com/projects/12345/oauthClients/\"`"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The relative resource name of the parent Service for which to list each associated ResourcePolicy, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `oauth2.googleapis.com` (Google Identity for iOS)",
                      "pattern": "^projects/[^/]+/services/[^/]+$"
                    },
                    "pageToken": {
                      "description": "Token returned from a previous call to ListResourcePolicies indicating where in the set of ResourcePolicy objects to resume listing. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to ListResourcePolicies must match the call that provided the page token; if they do not match, the result is undefined.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of ResourcePolicy objects to return in the response. The server may return fewer than this at its own discretion. If no value is specified (or too large a value is specified), the server will impose its own limit.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1ListResourcePoliciesResponse"
                  }
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/services/{servicesId}/resourcePolicies",
                  "httpMethod": "POST",
                  "description": "Creates the specified ResourcePolicy configuration.",
                  "id": "firebaseappcheck.projects.services.resourcePolicies.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1/{+parent}/resourcePolicies",
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1ResourcePolicy"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The relative resource name of the parent Service in which the specified ResourcePolicy will be created, in the format: ``` projects/{project_number}/services/{service_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `oauth2.googleapis.com` (Google Identity for iOS)",
                      "pattern": "^projects/[^/]+/services/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1ResourcePolicy"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "id": "firebaseappcheck.projects.services.resourcePolicies.delete",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1/projects/{projectsId}/services/{servicesId}/resourcePolicies/{resourcePoliciesId}",
                  "httpMethod": "DELETE",
                  "description": "Deletes the specified ResourcePolicy configuration.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The relative resource name of the ResourcePolicy to delete, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ```",
                      "pattern": "^projects/[^/]+/services/[^/]+/resourcePolicies/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "etag": {
                      "description": "The checksum to be validated against the current ResourcePolicy, to ensure the client has an up-to-date value before proceeding. This checksum is computed by the server based on the values of fields in the ResourcePolicy object, and can be obtained from the ResourcePolicy object received from the last CreateResourcePolicy, GetResourcePolicy, ListResourcePolicies, UpdateResourcePolicy, or BatchUpdateResourcePolicies call. This etag is strongly validated as defined by RFC 7232.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "apps": {
          "methods": {
            "exchangeDeviceCheckToken": {
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangeDeviceCheckToken",
              "httpMethod": "POST",
              "description": "Accepts a [`device_token`](https://developer.apple.com/documentation/devicecheck/dcdevice) issued by DeviceCheck, and attempts to validate it with Apple. If valid, returns an AppCheckToken.",
              "id": "firebaseappcheck.projects.apps.exchangeDeviceCheckToken",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1/{+app}:exchangeDeviceCheckToken",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeDeviceCheckTokenRequest"
              },
              "parameters": {
                "app": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "pattern": "^projects/[^/]+/apps/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
              },
              "parameterOrder": [
                "app"
              ]
            },
            "exchangeCustomToken": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1/{+app}:exchangeCustomToken",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeCustomTokenRequest"
              },
              "id": "firebaseappcheck.projects.apps.exchangeCustomToken",
              "httpMethod": "POST",
              "description": "Validates a custom token signed using your project's Admin SDK service account credentials. If valid, returns an AppCheckToken.",
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangeCustomToken",
              "parameterOrder": [
                "app"
              ],
              "parameters": {
                "app": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The relative resource name of the app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "pattern": "^projects/[^/]+/apps/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
              }
            },
            "exchangePlayIntegrityToken": {
              "id": "firebaseappcheck.projects.apps.exchangePlayIntegrityToken",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1/{+app}:exchangePlayIntegrityToken",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangePlayIntegrityTokenRequest"
              },
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangePlayIntegrityToken",
              "httpMethod": "POST",
              "description": "Validates an [integrity verdict response token from Play Integrity](https://developer.android.com/google/play/integrity/verdict#decrypt-verify). If valid, returns an AppCheckToken.",
              "parameterOrder": [
                "app"
              ],
              "parameters": {
                "app": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The relative resource name of the Android app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
              }
            },
            "exchangeDebugToken": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1/{+app}:exchangeDebugToken",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeDebugTokenRequest"
              },
              "id": "firebaseappcheck.projects.apps.exchangeDebugToken",
              "httpMethod": "POST",
              "description": "Validates a debug token secret that you have previously created using CreateDebugToken. If valid, returns an AppCheckToken. Note that a restrictive quota is enforced on this method to prevent accidental exposure of the app to abuse.",
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangeDebugToken",
              "parameterOrder": [
                "app"
              ],
              "parameters": {
                "app": {
                  "description": "Required. The relative resource name of the app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
              }
            },
            "exchangeAppAttestAssertion": {
              "parameterOrder": [
                "app"
              ],
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
              },
              "parameters": {
                "app": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "location": "path"
                }
              },
              "id": "firebaseappcheck.projects.apps.exchangeAppAttestAssertion",
              "path": "v1/{+app}:exchangeAppAttestAssertion",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeAppAttestAssertionRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangeAppAttestAssertion",
              "httpMethod": "POST",
              "description": "Accepts an App Attest assertion and an artifact previously obtained from ExchangeAppAttestAttestation and verifies those with Apple. If valid, returns an AppCheckToken."
            },
            "exchangeSafetyNetToken": {
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
              },
              "parameters": {
                "app": {
                  "location": "path",
                  "description": "Required. The relative resource name of the Android app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "app"
              ],
              "deprecated": true,
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangeSafetyNetToken",
              "httpMethod": "POST",
              "description": "Validates a [SafetyNet token](https://developer.android.com/training/safetynet/attestation#request-attestation-step). If valid, returns an AppCheckToken.",
              "id": "firebaseappcheck.projects.apps.exchangeSafetyNetToken",
              "path": "v1/{+app}:exchangeSafetyNetToken",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeSafetyNetTokenRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "exchangeRecaptchaEnterpriseToken": {
              "httpMethod": "POST",
              "description": "Validates a [reCAPTCHA Enterprise response token](https://cloud.google.com/recaptcha-enterprise/docs/create-assessment#retrieve_token). If valid, returns an AppCheckToken.",
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangeRecaptchaEnterpriseToken",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1/{+app}:exchangeRecaptchaEnterpriseToken",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeRecaptchaEnterpriseTokenRequest"
              },
              "id": "firebaseappcheck.projects.apps.exchangeRecaptchaEnterpriseToken",
              "parameters": {
                "app": {
                  "description": "Required. The relative resource name of the web app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
              },
              "parameterOrder": [
                "app"
              ]
            },
            "exchangeAppAttestAttestation": {
              "parameters": {
                "app": {
                  "location": "path",
                  "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeAppAttestAttestationResponse"
              },
              "parameterOrder": [
                "app"
              ],
              "httpMethod": "POST",
              "description": "Accepts an App Attest CBOR attestation and verifies it with Apple using your preconfigured team and bundle IDs. If valid, returns an attestation artifact that can later be exchanged for an AppCheckToken using ExchangeAppAttestAssertion. For convenience and performance, this method's response object will also contain an AppCheckToken (if the verification is successful).",
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangeAppAttestAttestation",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1/{+app}:exchangeAppAttestAttestation",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeAppAttestAttestationRequest"
              },
              "id": "firebaseappcheck.projects.apps.exchangeAppAttestAttestation"
            },
            "generatePlayIntegrityChallenge": {
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:generatePlayIntegrityChallenge",
              "httpMethod": "POST",
              "description": "Generates a challenge that protects the integrity of an immediately following integrity verdict request to the Play Integrity API. The next call to ExchangePlayIntegrityToken using the resulting integrity token will verify the presence and validity of the challenge. A challenge should not be reused for multiple calls.",
              "id": "firebaseappcheck.projects.apps.generatePlayIntegrityChallenge",
              "path": "v1/{+app}:generatePlayIntegrityChallenge",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1GeneratePlayIntegrityChallengeRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1GeneratePlayIntegrityChallengeResponse"
              },
              "parameters": {
                "app": {
                  "description": "Required. The relative resource name of the app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "app"
              ]
            },
            "generateAppAttestChallenge": {
              "parameters": {
                "app": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The relative resource name of the iOS app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1GenerateAppAttestChallengeResponse"
              },
              "parameterOrder": [
                "app"
              ],
              "httpMethod": "POST",
              "description": "Generates a challenge that protects the integrity of an immediately following call to ExchangeAppAttestAttestation or ExchangeAppAttestAssertion. A challenge should not be reused for multiple calls.",
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:generateAppAttestChallenge",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1/{+app}:generateAppAttestChallenge",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1GenerateAppAttestChallengeRequest"
              },
              "id": "firebaseappcheck.projects.apps.generateAppAttestChallenge"
            },
            "exchangeRecaptchaV3Token": {
              "flatPath": "v1/projects/{projectsId}/apps/{appsId}:exchangeRecaptchaV3Token",
              "httpMethod": "POST",
              "description": "Validates a [reCAPTCHA v3 response token](https://developers.google.com/recaptcha/docs/v3). If valid, returns an AppCheckToken.",
              "id": "firebaseappcheck.projects.apps.exchangeRecaptchaV3Token",
              "path": "v1/{+app}:exchangeRecaptchaV3Token",
              "request": {
                "$ref": "GoogleFirebaseAppcheckV1ExchangeRecaptchaV3TokenRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "GoogleFirebaseAppcheckV1AppCheckToken"
              },
              "parameters": {
                "app": {
                  "location": "path",
                  "description": "Required. The relative resource name of the web app, in the format: ``` projects/{project_number}/apps/{app_id} ``` If necessary, the `project_number` element can be replaced with the project ID of the Firebase project. Learn more about using project identifiers in Google's [AIP 2510](https://google.aip.dev/cloud/2510) standard.",
                  "pattern": "^projects/[^/]+/apps/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "app"
              ]
            }
          },
          "resources": {
            "deviceCheckConfig": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.apps.deviceCheckConfig.get",
                  "httpMethod": "GET",
                  "description": "Gets the DeviceCheckConfig for the specified app. For security reasons, the `private_key` field is never populated in the response.",
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/deviceCheckConfig",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1DeviceCheckConfig"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The relative resource name of the DeviceCheckConfig, in the format: ``` projects/{project_number}/apps/{app_id}/deviceCheckConfig ```",
                      "pattern": "^projects/[^/]+/apps/[^/]+/deviceCheckConfig$"
                    }
                  }
                },
                "batchGet": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent project name shared by all DeviceCheckConfigs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails.",
                      "pattern": "^projects/[^/]+$"
                    },
                    "names": {
                      "description": "Required. The relative resource names of the DeviceCheckConfigs to retrieve, in the format ``` projects/{project_number}/apps/{app_id}/deviceCheckConfig ``` A maximum of 100 objects can be retrieved in a batch.",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1BatchGetDeviceCheckConfigsResponse"
                  },
                  "id": "firebaseappcheck.projects.apps.deviceCheckConfig.batchGet",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1/{+parent}/apps/-/deviceCheckConfig:batchGet",
                  "flatPath": "v1/projects/{projectsId}/apps/-/deviceCheckConfig:batchGet",
                  "httpMethod": "GET",
                  "description": "Atomically gets the DeviceCheckConfigs for the specified list of apps. For security reasons, the `private_key` field is never populated in the response."
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "description": "Updates the DeviceCheckConfig for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange DeviceCheck tokens for App Check tokens. For security reasons, the `private_key` field is never populated in the response.",
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/deviceCheckConfig",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1DeviceCheckConfig"
                  },
                  "id": "firebaseappcheck.projects.apps.deviceCheckConfig.patch",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The relative resource name of the DeviceCheck configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/deviceCheckConfig ```",
                      "pattern": "^projects/[^/]+/apps/[^/]+/deviceCheckConfig$",
                      "type": "string",
                      "required": true
                    },
                    "updateMask": {
                      "description": "Required. A comma-separated list of names of fields in the DeviceCheckConfig to update. Example: `key_id,private_key`.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1DeviceCheckConfig"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "recaptchaEnterpriseConfig": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1RecaptchaEnterpriseConfig"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The relative resource name of the RecaptchaEnterpriseConfig, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaEnterpriseConfig ```",
                      "pattern": "^projects/[^/]+/apps/[^/]+/recaptchaEnterpriseConfig$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets the RecaptchaEnterpriseConfig for the specified app.",
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/recaptchaEnterpriseConfig",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.apps.recaptchaEnterpriseConfig.get"
                },
                "batchGet": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1BatchGetRecaptchaEnterpriseConfigsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent project name shared by all RecaptchaEnterpriseConfigs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails.",
                      "pattern": "^projects/[^/]+$",
                      "location": "path"
                    },
                    "names": {
                      "repeated": true,
                      "type": "string",
                      "location": "query",
                      "description": "Required. The relative resource names of the RecaptchaEnterpriseConfigs to retrieve, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaEnterpriseConfig ``` A maximum of 100 objects can be retrieved in a batch."
                    }
                  },
                  "path": "v1/{+parent}/apps/-/recaptchaEnterpriseConfig:batchGet",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.apps.recaptchaEnterpriseConfig.batchGet",
                  "httpMethod": "GET",
                  "description": "Atomically gets the RecaptchaEnterpriseConfigs for the specified list of apps.",
                  "flatPath": "v1/projects/{projectsId}/apps/-/recaptchaEnterpriseConfig:batchGet"
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1RecaptchaEnterpriseConfig"
                  },
                  "id": "firebaseappcheck.projects.apps.recaptchaEnterpriseConfig.patch",
                  "httpMethod": "PATCH",
                  "description": "Updates the RecaptchaEnterpriseConfig for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange reCAPTCHA Enterprise tokens for App Check tokens.",
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/recaptchaEnterpriseConfig",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The relative resource name of the reCAPTCHA Enterprise configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaEnterpriseConfig ```",
                      "pattern": "^projects/[^/]+/apps/[^/]+/recaptchaEnterpriseConfig$",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Required. A comma-separated list of names of fields in the RecaptchaEnterpriseConfig to update. Example: `site_key`.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1RecaptchaEnterpriseConfig"
                  }
                }
              }
            },
            "appAttestConfig": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The relative resource name of the AppAttestConfig, in the format: ``` projects/{project_number}/apps/{app_id}/appAttestConfig ```",
                      "pattern": "^projects/[^/]+/apps/[^/]+/appAttestConfig$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1AppAttestConfig"
                  },
                  "id": "firebaseappcheck.projects.apps.appAttestConfig.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/appAttestConfig",
                  "httpMethod": "GET",
                  "description": "Gets the AppAttestConfig for the specified app."
                },
                "batchGet": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent project name shared by all AppAttestConfigs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails.",
                      "pattern": "^projects/[^/]+$"
                    },
                    "names": {
                      "repeated": true,
                      "type": "string",
                      "location": "query",
                      "description": "Required. The relative resource names of the AppAttestConfigs to retrieve, in the format ``` projects/{project_number}/apps/{app_id}/appAttestConfig ``` A maximum of 100 objects can be retrieved in a batch."
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1BatchGetAppAttestConfigsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/-/appAttestConfig:batchGet",
                  "httpMethod": "GET",
                  "description": "Atomically gets the AppAttestConfigs for the specified list of apps.",
                  "id": "firebaseappcheck.projects.apps.appAttestConfig.batchGet",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1/{+parent}/apps/-/appAttestConfig:batchGet"
                },
                "patch": {
                  "id": "firebaseappcheck.projects.apps.appAttestConfig.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1AppAttestConfig"
                  },
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/appAttestConfig",
                  "httpMethod": "PATCH",
                  "description": "Updates the AppAttestConfig for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange AppAttest tokens for App Check tokens.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The relative resource name of the App Attest configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/appAttestConfig ```",
                      "pattern": "^projects/[^/]+/apps/[^/]+/appAttestConfig$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Required. A comma-separated list of names of fields in the AppAttestConfig to update. Example: `token_ttl`."
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1AppAttestConfig"
                  }
                }
              }
            },
            "recaptchaV3Config": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The relative resource name of the RecaptchaV3Config, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaV3Config ```",
                      "pattern": "^projects/[^/]+/apps/[^/]+/recaptchaV3Config$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1RecaptchaV3Config"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1/{+name}",
                  "id": "firebaseappcheck.projects.apps.recaptchaV3Config.get",
                  "httpMethod": "GET",
                  "description": "Gets the RecaptchaV3Config for the specified app. For security reasons, the `site_secret` field is never populated in the response.",
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/recaptchaV3Config"
                },
                "batchGet": {
                  "httpMethod": "GET",
                  "description": "Atomically gets the RecaptchaV3Configs for the specified list of apps. For security reasons, the `site_secret` field is never populated in the response.",
                  "flatPath": "v1/projects/{projectsId}/apps/-/recaptchaV3Config:batchGet",
                  "path": "v1/{+parent}/apps/-/recaptchaV3Config:batchGet",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.apps.recaptchaV3Config.batchGet",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1BatchGetRecaptchaV3ConfigsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent project name shared by all RecaptchaV3Configs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails.",
                      "pattern": "^projects/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "names": {
                      "repeated": true,
                      "type": "string",
                      "location": "query",
                      "description": "Required. The relative resource names of the RecaptchaV3Configs to retrieve, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaV3Config ``` A maximum of 100 objects can be retrieved in a batch."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1RecaptchaV3Config"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The relative resource name of the reCAPTCHA v3 configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaV3Config ```",
                      "pattern": "^projects/[^/]+/apps/[^/]+/recaptchaV3Config$",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Required. A comma-separated list of names of fields in the RecaptchaV3Config to update. Example: `site_secret`."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "description": "Updates the RecaptchaV3Config for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange reCAPTCHA V3 tokens for App Check tokens. For security reasons, the `site_secret` field is never populated in the response.",
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/recaptchaV3Config",
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1RecaptchaV3Config"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.apps.recaptchaV3Config.patch"
                }
              }
            },
            "safetyNetConfig": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.apps.safetyNetConfig.get",
                  "httpMethod": "GET",
                  "description": "Gets the SafetyNetConfig for the specified app.",
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/safetyNetConfig",
                  "deprecated": true,
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1SafetyNetConfig"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The relative resource name of the SafetyNetConfig, in the format: ``` projects/{project_number}/apps/{app_id}/safetyNetConfig ```",
                      "pattern": "^projects/[^/]+/apps/[^/]+/safetyNetConfig$"
                    }
                  }
                },
                "batchGet": {
                  "id": "firebaseappcheck.projects.apps.safetyNetConfig.batchGet",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1/{+parent}/apps/-/safetyNetConfig:batchGet",
                  "flatPath": "v1/projects/{projectsId}/apps/-/safetyNetConfig:batchGet",
                  "httpMethod": "GET",
                  "description": "Atomically gets the SafetyNetConfigs for the specified list of apps.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "deprecated": true,
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent project name shared by all SafetyNetConfigs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails.",
                      "pattern": "^projects/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "names": {
                      "description": "Required. The relative resource names of the SafetyNetConfigs to retrieve, in the format ``` projects/{project_number}/apps/{app_id}/safetyNetConfig ``` A maximum of 100 objects can be retrieved in a batch.",
                      "repeated": true,
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1BatchGetSafetyNetConfigsResponse"
                  }
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "description": "Updates the SafetyNetConfig for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange SafetyNet tokens for App Check tokens.",
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/safetyNetConfig",
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1SafetyNetConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.apps.safetyNetConfig.patch",
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1SafetyNetConfig"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The relative resource name of the SafetyNet configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/safetyNetConfig ```",
                      "pattern": "^projects/[^/]+/apps/[^/]+/safetyNetConfig$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Required. A comma-separated list of names of fields in the SafetyNetConfig to update. Example: `token_ttl`."
                    }
                  },
                  "deprecated": true,
                  "parameterOrder": [
                    "name"
                  ]
                }
              },
              "deprecated": true
            },
            "playIntegrityConfig": {
              "methods": {
                "get": {
                  "id": "firebaseappcheck.projects.apps.playIntegrityConfig.get",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/playIntegrityConfig",
                  "httpMethod": "GET",
                  "description": "Gets the PlayIntegrityConfig for the specified app.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1PlayIntegrityConfig"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The relative resource name of the PlayIntegrityConfig, in the format: ``` projects/{project_number}/apps/{app_id}/playIntegrityConfig ```",
                      "pattern": "^projects/[^/]+/apps/[^/]+/playIntegrityConfig$",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "batchGet": {
                  "id": "firebaseappcheck.projects.apps.playIntegrityConfig.batchGet",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1/{+parent}/apps/-/playIntegrityConfig:batchGet",
                  "flatPath": "v1/projects/{projectsId}/apps/-/playIntegrityConfig:batchGet",
                  "httpMethod": "GET",
                  "description": "Atomically gets the PlayIntegrityConfigs for the specified list of apps.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent project name shared by all PlayIntegrityConfigs being retrieved, in the format ``` projects/{project_number} ``` The parent collection in the `name` field of any resource being retrieved must match this field, or the entire batch fails.",
                      "pattern": "^projects/[^/]+$"
                    },
                    "names": {
                      "description": "Required. The relative resource names of the PlayIntegrityConfigs to retrieve, in the format ``` projects/{project_number}/apps/{app_id}/playIntegrityConfig ``` A maximum of 100 objects can be retrieved in a batch.",
                      "repeated": true,
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1BatchGetPlayIntegrityConfigsResponse"
                  }
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1PlayIntegrityConfig"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The relative resource name of the Play Integrity configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/playIntegrityConfig ```",
                      "pattern": "^projects/[^/]+/apps/[^/]+/playIntegrityConfig$",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Required. A comma-separated list of names of fields in the PlayIntegrityConfig to update. Example: `token_ttl`.",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1PlayIntegrityConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.apps.playIntegrityConfig.patch",
                  "httpMethod": "PATCH",
                  "description": "Updates the PlayIntegrityConfig for the specified app. While this configuration is incomplete or invalid, the app will be unable to exchange Play Integrity tokens for App Check tokens.",
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/playIntegrityConfig"
                }
              }
            },
            "debugTokens": {
              "methods": {
                "create": {
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1DebugToken"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The relative resource name of the parent app in which the specified DebugToken will be created, in the format: ``` projects/{project_number}/apps/{app_id} ```",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "description": "Creates a new DebugToken for the specified app. For security reasons, after the creation operation completes, the `token` field cannot be updated or retrieved, but you can revoke the debug token using DeleteDebugToken. Each app can have a maximum of 20 debug tokens.",
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/debugTokens",
                  "path": "v1/{+parent}/debugTokens",
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1DebugToken"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.apps.debugTokens.create"
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/debugTokens/{debugTokensId}",
                  "httpMethod": "DELETE",
                  "description": "Deletes the specified DebugToken. A deleted debug token cannot be used to exchange for an App Check token. Use this method when you suspect the secret `token` has been compromised or when you no longer need the debug token.",
                  "id": "firebaseappcheck.projects.apps.debugTokens.delete",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The relative resource name of the DebugToken to delete, in the format: ``` projects/{project_number}/apps/{app_id}/debugTokens/{debug_token_id} ```",
                      "pattern": "^projects/[^/]+/apps/[^/]+/debugTokens/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "etag": {
                      "description": "Optional. The checksum to be validated against the current DebugToken, to ensure the client has an up-to-date value before proceeding. This checksum is computed by the server based on the values of fields in the DebugToken object, and can be obtained from the DebugToken object received from the last CreateDebugToken, GetDebugToken, ListDebugTokens, or UpdateDebugToken call. This etag is strongly validated as defined by RFC 7232.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "patch": {
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1DebugToken"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The relative resource name of the debug token, in the format: ``` projects/{project_number}/apps/{app_id}/debugTokens/{debug_token_id} ```",
                      "pattern": "^projects/[^/]+/apps/[^/]+/debugTokens/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Required. A comma-separated list of names of fields in the DebugToken to update. Example: `display_name`."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/debugTokens/{debugTokensId}",
                  "httpMethod": "PATCH",
                  "description": "Updates the specified DebugToken. For security reasons, the `token` field cannot be updated, nor will it be populated in the response, but you can revoke the debug token using DeleteDebugToken.",
                  "id": "firebaseappcheck.projects.apps.debugTokens.patch",
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "GoogleFirebaseAppcheckV1DebugToken"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "description": "Lists all DebugTokens for the specified app. For security reasons, the `token` field is never populated in the response.",
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/debugTokens",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1/{+parent}/debugTokens",
                  "id": "firebaseappcheck.projects.apps.debugTokens.list",
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of DebugTokens to return in the response. Note that an app can have at most 20 debug tokens. The server may return fewer than this at its own discretion. If no value is specified (or too large a value is specified), the server will impose its own limit.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The relative resource name of the parent app for which to list each associated DebugToken, in the format: ``` projects/{project_number}/apps/{app_id} ```",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "pageToken": {
                      "description": "Token returned from a previous call to ListDebugTokens indicating where in the set of DebugTokens to resume listing. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to ListDebugTokens must match the call that provided the page token; if they do not match, the result is undefined.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1ListDebugTokensResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "GoogleFirebaseAppcheckV1DebugToken"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The relative resource name of the debug token, in the format: ``` projects/{project_number}/apps/{app_id}/debugTokens/{debug_token_id} ```",
                      "pattern": "^projects/[^/]+/apps/[^/]+/debugTokens/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets the specified DebugToken. For security reasons, the `token` field is never populated in the response.",
                  "flatPath": "v1/projects/{projectsId}/apps/{appsId}/debugTokens/{debugTokensId}",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "id": "firebaseappcheck.projects.apps.debugTokens.get"
                }
              }
            }
          }
        }
      }
    },
    "jwks": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "description": "Returns a public JWK set as specified by [RFC 7517](https://tools.ietf.org/html/rfc7517) that can be used to verify App Check tokens. Exactly one of the public keys in the returned set will successfully validate any App Check token that is currently valid.",
          "flatPath": "v1/jwks",
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "id": "firebaseappcheck.jwks.get",
          "response": {
            "$ref": "GoogleFirebaseAppcheckV1PublicJwkSet"
          },
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The relative resource name to the public JWK set. Must always be exactly the string `jwks`.",
              "pattern": "^jwks$"
            }
          },
          "parameterOrder": [
            "name"
          ]
        }
      }
    }
  },
  "revision": "20260620",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/firebase": {
          "description": "View and administer all your Firebase data and settings"
        }
      }
    }
  },
  "schemas": {
    "GoogleFirebaseAppcheckV1ListResourcePoliciesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "If the result list is too large to fit in a single response, then a token is returned. If the string is empty or omitted, then this response is the last page of results. This token can be used in a subsequent call to ListResourcePolicies to find the next group of ResourcePolicy objects. Page tokens are short-lived and should not be persisted.",
          "type": "string"
        },
        "resourcePolicies": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1ResourcePolicy"
          },
          "description": "The ResourcePolicy objects retrieved."
        }
      },
      "id": "GoogleFirebaseAppcheckV1ListResourcePoliciesResponse",
      "type": "object",
      "description": "Response message for the ListResourcePolicies method."
    },
    "GoogleFirebaseAppcheckV1ResourcePolicy": {
      "id": "GoogleFirebaseAppcheckV1ResourcePolicy",
      "type": "object",
      "properties": {
        "targetResource": {
          "type": "string",
          "description": "Required. Service specific name of the resource object to which this policy applies, in the format: * **iOS OAuth clients** (Google Identity for iOS): `//oauth2.googleapis.com/projects/{project_number}/oauthClients/{oauth_client_id}` Note that the resource must belong to the service specified in the `name` and be from the same project as this policy, but the resource is allowed to be missing at the time of creation of this policy; in that case, we make a best-effort attempt at respecting this policy, but it may not have any effect until the resource is fully created."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when this resource policy configuration object was most recently updated.",
          "readOnly": true
        },
        "enforcementMode": {
          "description": "Required. The App Check enforcement mode for this resource. This will override the App Check overall EnforcementMode setting on the service.",
          "enumDescriptions": [
            "The relevant App Check protection is not enforced for the service or resource, nor are App Check metrics collected. Though the relevant App Check protection is not applied, other applicable protections, such as user authorization, are still enforced. An unconfigured protection is in this mode by default.",
            "The relevant App Check protection is not enforced for the service or resource. App Check metrics are collected to help you decide when to turn on enforcement. These metrics will show the portion of traffic that is deemed invalid by the relevant App Check protection, but that traffic will not be rejected until you turn on enforcement. Though the relevant App Check protection is not enforced, other applicable protections, such as user authorization, are still enforced. Some services require certain conditions to be met before they will work with App Check, such as requiring you to upgrade to a specific service tier. Until those requirements are met for a service, this `UNENFORCED` setting will have no effect and App Check will not work with that service.",
            "The relevant App Check protection is enforced for the service or resource. The service or resource will reject any traffic not accompanied by an App Check token that is deemded valid by the relevant protection. There are some exceptions depending on the service; for example, some services will still allow requests bearing the developer's privileged service account credentials without an App Check token. App Check metrics continue to be collected to help you detect issues with your App Check integration and monitor the composition of your callers. While the service is protected by App Check, other applicable protections, such as user authorization, continue to be enforced at the same time. Use caution when choosing to enforce App Check protections. If your users have not updated to a version of your app that meets the requirements of the relevant App Check protection, their app may stop working. App Check metrics can help you decide whether to enforce App Check on your services and resources. If your app has not launched yet, you should enable enforcement as soon as you verify that your App Check implementation is correct, since there are no outdated clients in use. Some services require certain conditions to be met before they will work with App Check, such as requiring you to upgrade to a specific service tier. Until those requirements are met for a service, this `ENFORCED` setting will have no effect and App Check will not work with that service."
          ],
          "type": "string",
          "enum": [
            "OFF",
            "UNENFORCED",
            "ENFORCED"
          ]
        },
        "name": {
          "description": "Required. Identifier. The relative name of the resource policy object, in the format: ``` projects/{project_number}/services/{service_id}/resourcePolicies/{resource_policy_id} ``` Note that the `service_id` element must be a supported service ID. Currently, the following service IDs are supported: * `oauth2.googleapis.com` (Google Identity for iOS) `resource_policy_id` is a system-generated UID.",
          "type": "string"
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. This etag is strongly validated as defined by RFC 7232.",
          "type": "string"
        }
      },
      "description": "App Check enforcement policy for a specific resource of a Google service supported by App Check. Note that this policy will override the service-level configuration."
    },
    "GoogleFirebaseAppcheckV1GeneratePlayIntegrityChallengeResponse": {
      "properties": {
        "challenge": {
          "type": "string",
          "description": "A one-time use [challenge](https://developer.android.com/google/play/integrity/verdict#protect-against-replay-attacks) for the client to pass to the Play Integrity API."
        },
        "ttl": {
          "format": "google-duration",
          "type": "string",
          "description": "The duration from the time this challenge is minted until its expiration. This field is intended to ease client-side token management, since the client may have clock skew, but is still able to accurately measure a duration."
        }
      },
      "id": "GoogleFirebaseAppcheckV1GeneratePlayIntegrityChallengeResponse",
      "type": "object",
      "description": "Response message for the GeneratePlayIntegrityChallenge method."
    },
    "GoogleFirebaseAppcheckV1BatchGetAppAttestConfigsResponse": {
      "properties": {
        "configs": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1AppAttestConfig"
          },
          "description": "AppAttestConfigs retrieved."
        }
      },
      "id": "GoogleFirebaseAppcheckV1BatchGetAppAttestConfigsResponse",
      "type": "object",
      "description": "Response message for the BatchGetAppAttestConfigs method."
    },
    "GoogleFirebaseAppcheckV1BatchGetPlayIntegrityConfigsResponse": {
      "properties": {
        "configs": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppcheckV1PlayIntegrityConfig"
          },
          "description": "PlayIntegrityConfigs retrieved."
        }
      },
      "id": "GoogleFirebaseAppcheckV1BatchGetPlayIntegrityConfigsResponse",
      "type": "object",
      "description": "Response message for the BatchGetPlayIntegrityConfigs method."
    },
    "GoogleFirebaseAppcheckV1RecaptchaV3Config": {
      "description": "An app's reCAPTCHA v3 configuration object. This configuration is used by ExchangeRecaptchaV3Token to validate reCAPTCHA tokens issued to apps by reCAPTCHA v3. It also controls certain properties of the returned `AppCheckToken`, such as its ttl.",
      "id": "GoogleFirebaseAppcheckV1RecaptchaV3Config",
      "type": "object",
      "properties": {
        "tokenTtl": {
          "format": "google-duration",
          "type": "string",
          "description": "Specifies the duration for which App Check tokens exchanged from reCAPTCHA tokens will be valid. If unset, a default value of 1 day is assumed. Must be between 30 minutes and 7 days, inclusive."
        },
        "siteSecret": {
          "description": "Required. Input only. The site secret used to identify your service for reCAPTCHA v3 verification. For security reasons, this field will never be populated in any response.",
          "type": "string"
        },
        "siteSecretSet": {
          "type": "boolean",
          "description": "Output only. Whether the `site_secret` field was previously set. Since we will never return the `site_secret` field, this field is the only way to find out whether it was previously set.",
          "readOnly": true
        },
        "name": {
          "description": "Required. The relative resource name of the reCAPTCHA v3 configuration object, in the format: ``` projects/{project_number}/apps/{app_id}/recaptchaV3Config ```",
          "type": "string"
        },
        "minValidScore": {
          "description": "Specifies a minimum score required for a reCAPTCHA token to be considered valid. If its score is greater than or equal to this value, it will be accepted; otherwise, it will be rejected. The value must be between 0.0 and 1.0. The default value is 0.5.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleFirebaseAppcheckV1PlayIntegrityConfigDeviceIntegrity": {
      "id": "GoogleFirebaseAppcheckV1PlayIntegrityConfigDeviceIntegrity",
      "type": "object",
      "properties": {
        "minDeviceRecognitionLevel": {
          "type": "string",
          "enum": [
            "DEVICE_RECOGNITION_LEVEL_UNSPECIFIED",
            "NO_INTEGRITY",
            "MEETS_BASIC_INTEGRITY",
            "MEETS_DEVICE_INTEGRITY",
            "MEETS_STRONG_INTEGRITY"
          ],
          "description": "Specifies the minimum device integrity level in order for the device to be considered valid. Any device with a device recognition verdict lower than this level will be rejected. If this is unspecified, the default level is `NO_INTEGRITY`.",
          "enumDescriptions": [
            "Default value. Do not specify this value directly. When this default value is detected in a configuration, the `NO_INTEGRITY` default level takes effect.",
            "If this level is set, no explicit device integrity label requirements will be checked. However, because Play Integrity's other features may perform (and require) their own intrinsic device integrity checks, your `app_integrity` and `account_details` settings may still cause some device integrity checks to be performed.",
            "This level corresponds to the `MEETS_BASIC_INTEGRITY` [optional device recognition label](https://developer.android.com/google/play/integrity/verdicts#optional-device-labels). This value represents the most basic level of device integrity, and is the minimum allowed in App Check's standard implementation of Play Integrity. Warning: Because this is an optional response, you **must** first explicitly [opt in your app in the Play Console](https://developer.android.com/google/play/integrity/setup#optional) in order to receive this label. Without this opt-in, **your app may break** for any user whose device is eligible for `MEETS_BASIC_INTEGRITY` but not `MEETS_DEVICE_INTEGRITY`. This API is **not** responsible for any such opt-ins.",
            "This level corresponds to the `MEETS_DEVICE_INTEGRITY` [device recognition verdict](https://developer.android.com/google/play/integrity/verdicts#device-integrity-field). Any app integrated with Play Integrity will automatically be eligible to receive this label without any additional action from you. At this level, devices that have the `MEETS_BASIC_INTEGRITY` label but **not** the `MEETS_DEVICE_INTEGRITY` label will be rejected.",
            "This level corresponds to the `MEETS_STRONG_INTEGRITY` [optional device recognition label](https://developer.android.com/google/play/integrity/verdicts#optional-device-labels). This value represents the highest level of device integrity. At this level, devices that have the `MEETS_BASIC_INTEGRITY` or `MEETS_DEVICE_INTEGRITY` but **not** the `MEETS_STRONG_INTEGRITY` label will be rejected. Warning: Because this is an optional response, you **must** first explicitly [opt in your app in the Play Console](https://developer.android.com/google/play/integrity/setup#optional) in order to receive this label. Without this opt-in, **your app may break** for any user whose device is eligible for `MEETS_STRONG_INTEGRITY`. This API is **not** responsible for any such opt-ins."
          ]
        }
      },
[...]
