{
  "discoveryVersion": "v1",
  "name": "firebasehosting",
  "revision": "20260614",
  "resources": {
    "projects": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "httpMethod": "GET",
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "firebasehosting.projects.operations.get",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true,
                  "description": "The name of the operation resource."
                }
              }
            }
          }
        },
        "sites": {
          "methods": {
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Updates attributes of the specified Hosting Site.",
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Site"
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Site"
              },
              "id": "firebasehosting.projects.sites.patch",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "description": "A set of field names from your Site that you want to update.",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "name": {
                  "description": "Output only. The fully-qualified resource name of the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID PROJECT_IDENTIFIER: the Firebase project's [`ProjectNumber`](https://firebase.google.com/docs/reference/firebase-management/rest/v1beta1/projects#FirebaseProject.FIELDS.project_number) ***(recommended)*** or its [`ProjectId`](https://firebase.google.com/docs/reference/firebase-management/rest/v1beta1/projects#FirebaseProject.FIELDS.project_id). Learn more about using project identifiers in Google's [AIP 2510 standard](https://google.aip.dev/cloud/2510).",
                  "location": "path",
                  "pattern": "^projects/[^/]+/sites/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "getConfig": {
              "httpMethod": "GET",
              "response": {
                "$ref": "SiteConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "firebasehosting.projects.sites.getConfig",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/sites/[^/]+/config$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The site for which to get the SiteConfig, in the format: sites/ site-name/config"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/config",
              "description": "Gets the Hosting metadata for a specific site."
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1beta1/{+parent}/sites",
              "flatPath": "v1beta1/projects/{projectsId}/sites",
              "description": "Creates a new Hosting Site in the specified parent Firebase project. Note that Hosting sites can take several minutes to propagate through Firebase systems.",
              "httpMethod": "POST",
              "request": {
                "$ref": "Site"
              },
              "response": {
                "$ref": "Site"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "firebasehosting.projects.sites.create",
              "parameters": {
                "parent": {
                  "description": "Required. The Firebase project in which to create a Hosting site, in the format: projects/PROJECT_IDENTIFIER Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values.",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "siteId": {
                  "location": "query",
                  "description": "Required. Immutable. A globally unique identifier for the Hosting site. This identifier is used to construct the Firebase-provisioned subdomains for the site, so it must also be a valid domain name label.",
                  "type": "string"
                },
                "validateOnly": {
                  "type": "boolean",
                  "description": "Optional. If set, validates that the site_id is available and that the request would succeed, returning the expected resulting site or error.",
                  "location": "query"
                }
              }
            },
            "updateConfig": {
              "parameters": {
                "name": {
                  "description": "Required. The site for which to update the SiteConfig, in the format: sites/ site-name/config",
                  "type": "string",
                  "pattern": "^projects/[^/]+/sites/[^/]+/config$",
                  "required": true,
                  "location": "path"
                },
                "updateMask": {
                  "description": "A set of field names from your [site configuration](../sites.SiteConfig) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`max_versions`](../sites.SiteConfig.max_versions) will be used.",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "id": "firebasehosting.projects.sites.updateConfig",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SiteConfig"
              },
              "httpMethod": "PATCH",
              "request": {
                "$ref": "SiteConfig"
              },
              "description": "Sets the Hosting metadata for a specific site.",
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/config",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "list": {
              "id": "firebasehosting.projects.sites.list",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A token from a previous call to `ListSites` that tells the server where to resume listing.",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The Firebase project for which to list sites, in the format: projects/PROJECT_IDENTIFIER Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The maximum number of sites to return. The service may return a lower number if fewer sites exist than this maximum number. If unspecified, defaults to 40."
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListSitesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "description": "Lists each Hosting Site associated with the specified parent Firebase project.",
              "path": "v1beta1/{+parent}/sites",
              "flatPath": "v1beta1/projects/{projectsId}/sites"
            },
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/sites/[^/]+$",
                  "required": true,
                  "description": "Required. The fully-qualified resource name for the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values. Since a SITE_ID is a globally unique identifier, you can also use the unique sub-collection resource access pattern, in the format: projects/-/sites/SITE_ID"
                }
              },
              "id": "firebasehosting.projects.sites.get",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Site"
              },
              "httpMethod": "GET",
              "description": "Gets the specified Hosting Site.",
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ]
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Deletes the specified Hosting Site from the specified parent Firebase project.",
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}",
              "id": "firebasehosting.projects.sites.delete",
              "parameters": {
                "name": {
                  "description": "Required. The fully-qualified resource name for the Hosting site, in the format: projects/PROJECT_IDENTIFIER/sites/SITE_ID Refer to the `Site` [`name`](../projects#Site.FIELDS.name) field for details about PROJECT_IDENTIFIER values.",
                  "pattern": "^projects/[^/]+/sites/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              }
            }
          },
          "resources": {
            "versions": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListVersionsResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The site or channel for which to list versions, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID "
                    },
                    "pageSize": {
                      "description": "The maximum number of versions to return. The service may return a lower number if fewer versions exist than this maximum number. If unspecified, defaults to 25. The maximum value is 100; values above 100 will be coerced to 100.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "filter": {
                      "description": "A filter string used to return a subset of versions in the response. The currently supported fields for filtering are: `name`, `status`, and `create_time`. Learn more about filtering in Google's [AIP 160 standard](https://google.aip.dev/160).",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A token from a previous call to `ListVersions` that tells the server where to resume listing.",
                      "location": "query"
                    }
                  },
                  "id": "firebasehosting.projects.sites.versions.list",
                  "description": "Lists the versions that have been created for the specified site. This list includes versions for both the default `live` channel and any active preview channels for the specified site.",
                  "path": "v1beta1/{+parent}/versions",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ]
                },
                "populateFiles": {
                  "id": "firebasehosting.projects.sites.versions.populateFiles",
                  "parameters": {
                    "parent": {
                      "description": "Required. The version to which to add files, in the format: sites/SITE_ID /versions/VERSION_ID",
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "PopulateVersionFilesRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "PopulateVersionFilesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": " Adds content files to the specified version. Each file must be under 2 GB.",
                  "path": "v1beta1/{+parent}:populateFiles",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}:populateFiles"
                },
                "clone": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1beta1/{+parent}/versions:clone",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions:clone",
                  "description": "Creates a new version on the specified target site using the content of the specified version.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CloneVersionRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firebasehosting.projects.sites.versions.clone",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "required": true,
                      "description": "Required. The target site for the cloned version, in the format: sites/ SITE_ID"
                    }
                  }
                },
                "delete": {
                  "id": "firebasehosting.projects.sites.versions.delete",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "required": true,
                      "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID"
                    }
                  },
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}",
                  "description": "Deletes the specified version."
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}",
                  "description": "Get the specified version that has been created for the specified site. This can include versions that were created for the default `live` channel or for any active preview channels for the specified site.",
                  "id": "firebasehosting.projects.sites.versions.get",
                  "parameters": {
                    "name": {
                      "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Version"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "patch": {
                  "id": "firebasehosting.projects.sites.versions.patch",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "The fully-qualified resource name for the version, in the format: sites/ SITE_ID/versions/VERSION_ID This name is provided in the response body when you call [`CreateVersion`](sites.versions/create)."
                    },
                    "updateMask": {
                      "description": "A set of field names from your [version](../sites.versions) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`status`](../sites.versions#Version.FIELDS.status) will be used.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "Version"
                  },
                  "response": {
                    "$ref": "Version"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}",
                  "description": " Updates the specified metadata for the specified version. This method will fail with `FAILED_PRECONDITION` in the event of an invalid state transition. The supported [state](../sites.versions#versionstatus) transitions for a version are from `CREATED` to `FINALIZED`. Use [`DeleteVersion`](delete) to set the status of a version to `DELETED`."
                },
                "create": {
                  "id": "firebasehosting.projects.sites.versions.create",
                  "parameters": {
                    "versionId": {
                      "type": "string",
                      "description": "A unique id for the new version. This is was only specified for legacy version creations, and should be blank.",
                      "deprecated": true,
                      "location": "query"
                    },
                    "sizeBytes": {
                      "format": "int64",
                      "location": "query",
                      "type": "string",
                      "description": "The self-reported size of the version. This value is used for a pre-emptive quota check for legacy version uploads."
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The site in which to create the version, in the format: sites/ SITE_ID"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Version"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Version"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Creates a new version for the specified site.",
                  "path": "v1beta1/{+parent}/versions",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions"
                }
              },
              "resources": {
                "files": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "pageToken": {
                          "description": "A token from a previous call to `ListVersionFiles` that tells the server where to resume listing.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/sites/[^/]+/versions/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. The version for which to list files, in the format: sites/SITE_ID /versions/VERSION_ID"
                        },
                        "status": {
                          "description": " The type of files that should be listed for the specified version.",
                          "enum": [
                            "STATUS_UNSPECIFIED",
                            "EXPECTED",
                            "ACTIVE"
                          ],
                          "enumDescriptions": [
                            "The default status; should not be intentionally used.",
                            "The file has been included in the version and is expected to be uploaded in the near future.",
                            "The file has already been uploaded to Firebase Hosting."
                          ],
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "The maximum number of version files to return. The service may return a lower number if fewer version files exist than this maximum number. If unspecified, defaults to 1000.",
                          "format": "int32",
                          "location": "query"
                        }
                      },
                      "id": "firebasehosting.projects.sites.versions.files.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListVersionFilesResponse"
                      },
                      "httpMethod": "GET",
                      "description": "Lists the remaining files to be uploaded for the specified version.",
                      "path": "v1beta1/{+parent}/files",
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/versions/{versionsId}/files",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ]
                    }
                  }
                }
              }
            },
            "releases": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListReleasesResponse"
                  },
                  "id": "firebasehosting.projects.sites.releases.list",
                  "parameters": {
                    "parent": {
                      "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
                  "path": "v1beta1/{+parent}/releases",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/releases"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "description": "Gets the specified release for a site or channel. When used to get a release for a site, this can get releases for both the default `live` channel and any active preview channels for the specified site.",
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/releases/{releasesId}",
                  "id": "firebasehosting.projects.sites.releases.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+/releases/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The fully-qualified resource name for the Hosting release, in either of the following formats: - sites/SITE_ID/channels/CHANNEL_ID/releases/RELEASE_ID - sites/SITE_ID/releases/RELEASE_ID "
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Release"
                  }
                },
                "create": {
                  "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
                  "path": "v1beta1/{+parent}/releases",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/releases",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID",
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "versionName": {
                      "type": "string",
                      "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`.",
                      "location": "query"
                    }
                  },
                  "id": "firebasehosting.projects.sites.releases.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Release"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Release"
                  }
                }
              }
            },
            "channels": {
              "methods": {
                "get": {
                  "description": "Retrieves information for the specified channel of the specified site.",
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Channel"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID"
                    }
                  },
                  "id": "firebasehosting.projects.sites.channels.get"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}",
                  "description": "Deletes the specified channel of the specified site. The `live` channel cannot be deleted.",
                  "id": "firebasehosting.projects.sites.channels.delete",
                  "parameters": {
                    "name": {
                      "description": "Required. The fully-qualified resource name for the channel, in the format: sites/SITE_ID/channels/CHANNEL_ID",
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "A token from a previous call to `ListChannels` that tells the server where to resume listing.",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The site for which to list channels, in the format: sites/SITE_ID"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of channels to return. The service may return a lower number if fewer channels exist than this maximum number. If unspecified, defaults to 10. The maximum value is 100; values above 100 will be coerced to 100.",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "id": "firebasehosting.projects.sites.channels.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListChannelsResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Lists the channels for the specified site. All sites have a default `live` channel.",
                  "path": "v1beta1/{+parent}/channels",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ]
                },
                "create": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Channel"
                  },
                  "response": {
                    "$ref": "Channel"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "firebasehosting.projects.sites.channels.create",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The site in which to create this channel, in the format: sites/ SITE_ID"
                    },
                    "channelId": {
                      "description": "Required. Immutable. A unique ID within the site that identifies the channel.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1beta1/{+parent}/channels",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels",
                  "description": "Creates a new channel in the specified site."
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}",
                  "description": "Updates information for the specified channel of the specified site. Implicitly creates the channel if it doesn't already exist.",
                  "id": "firebasehosting.projects.sites.channels.patch",
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "A comma-separated list of fields to be updated in this request."
                    },
                    "name": {
                      "description": "The fully-qualified resource name for the channel, in the format: sites/ SITE_ID/channels/CHANNEL_ID",
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "Channel"
                  },
                  "response": {
                    "$ref": "Channel"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              },
              "resources": {
                "releases": {
                  "methods": {
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ],
                      "description": "Gets the specified release for a site or channel. When used to get a release for a site, this can get releases for both the default `live` channel and any active preview channels for the specified site.",
                      "path": "v1beta1/{+name}",
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}/releases/{releasesId}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Release"
                      },
                      "id": "firebasehosting.projects.sites.channels.releases.get",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+/releases/[^/]+$",
                          "required": true,
                          "description": "Required. The fully-qualified resource name for the Hosting release, in either of the following formats: - sites/SITE_ID/channels/CHANNEL_ID/releases/RELEASE_ID - sites/SITE_ID/releases/RELEASE_ID "
                        }
                      }
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Release"
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "Release"
                      },
                      "parameters": {
                        "parent": {
                          "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID",
                          "location": "path",
                          "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "versionName": {
                          "location": "query",
                          "type": "string",
                          "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`."
                        }
                      },
                      "id": "firebasehosting.projects.sites.channels.releases.create",
                      "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
                      "path": "v1beta1/{+parent}/releases",
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}/releases",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/firebase"
                      ]
                    },
                    "list": {
                      "id": "firebasehosting.projects.sites.channels.releases.list",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/sites/[^/]+/channels/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID "
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing.",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListReleasesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ],
                      "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
                      "path": "v1beta1/{+parent}/releases",
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/channels/{channelsId}/releases"
                    }
                  }
                }
              }
            },
            "customDomains": {
              "methods": {
                "patch": {
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "CustomDomain"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebasehosting.projects.sites.customDomains.patch",
                  "parameters": {
                    "allowMissing": {
                      "type": "boolean",
                      "description": "If true, Hosting creates the `CustomDomain` if it doesn't already exist.",
                      "location": "query"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "The set of field names from your `CustomDomain` that you want to update. A field will be overwritten if, and only if, it's in the mask. If you don't provide a mask, Hosting updates the entire `CustomDomain`.",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+/customDomains/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Output only. The fully-qualified name of the `CustomDomain`."
                    },
                    "validateOnly": {
                      "description": "If true, Hosting validates that it's possible to complete your request but doesn't actually create or update the `CustomDomain`.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains/{customDomainsId}",
                  "description": "Updates the specified `CustomDomain`."
                },
                "create": {
                  "id": "firebasehosting.projects.sites.customDomains.create",
                  "parameters": {
                    "validateOnly": {
                      "description": "If true, Hosting validates that it's possible to complete your request but doesn't actually create a new `CustomDomain`.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The custom domain's parent, specifically a Firebase Hosting `Site`."
                    },
                    "customDomainId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The ID of the `CustomDomain`, which is the domain name you'd like to use with Firebase Hosting."
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CustomDomain"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Creates a `CustomDomain`.",
                  "path": "v1beta1/{+parent}/customDomains",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "path": "v1beta1/{+parent}/customDomains",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains",
                  "description": "Lists each `CustomDomain` associated with the specified parent Hosting site. Returns `CustomDomain`s in a consistent, but undefined, order to facilitate pagination.",
                  "id": "firebasehosting.projects.sites.customDomains.list",
                  "parameters": {
                    "showDeleted": {
                      "location": "query",
                      "description": "If true, the request returns soft-deleted `CustomDomain`s that haven't been fully-deleted yet. To restore deleted `CustomDomain`s, make an `UndeleteCustomDomain` request.",
                      "type": "boolean"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The Firebase Hosting `Site` with `CustomDomain` entities you'd like to list."
                    },
                    "pageSize": {
                      "description": "The max number of `CustomDomain` entities to return in a request. Defaults to 10.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A token from a previous call to `ListCustomDomains` that tells the server where to resume listing.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListCustomDomainsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "description": "Gets the specified `CustomDomain`.",
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains/{customDomainsId}",
                  "id": "firebasehosting.projects.sites.customDomains.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+/customDomains/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the `CustomDomain` to get."
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "CustomDomain"
                  }
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Deletes the specified `CustomDomain`.",
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains/{customDomainsId}",
                  "id": "firebasehosting.projects.sites.customDomains.delete",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+/customDomains/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the `CustomDomain` to delete."
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "If true, Hosting validates that it's possible to complete your request but doesn't actually delete the `CustomDomain`.",
                      "location": "query"
                    },
                    "etag": {
                      "description": "A tag that represents the state of the `CustomDomain` as you know it. If present, the supplied tag must match the current value on your `CustomDomain`, or the request fails.",
                      "type": "string",
                      "location": "query"
                    },
                    "allowMissing": {
                      "description": "If true, the request succeeds even if the `CustomDomain` doesn't exist.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "undelete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "path": "v1beta1/{+name}:undelete",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains/{customDomainsId}:undelete",
                  "description": "Undeletes the specified `CustomDomain` if it has been soft-deleted. Hosting retains soft-deleted custom domains for around 30 days before permanently deleting them.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "UndeleteCustomDomainRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "firebasehosting.projects.sites.customDomains.undelete",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+/customDomains/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the `CustomDomain` to delete."
                    }
                  }
                }
              },
              "resources": {
                "operations": {
                  "methods": {
                    "list": {
                      "description": "Lists operations that match the specified filter in the request.",
                      "path": "v1beta1/{+name}/operations",
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains/{customDomainsId}/operations",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/sites/[^/]+/customDomains/[^/]+$",
                          "required": true,
                          "description": "The name of the operation's parent resource."
                        },
                        "returnPartialSuccess": {
                          "location": "query",
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                          "type": "boolean"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "The standard list filter."
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "The standard list page token.",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "The standard list page size.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        }
                      },
                      "id": "firebasehosting.projects.sites.customDomains.operations.list",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "ListOperationsResponse"
                      },
                      "httpMethod": "GET"
                    },
                    "get": {
                      "path": "v1beta1/{+name}",
                      "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/customDomains/{customDomainsId}/operations/{operationsId}",
                      "description": "Gets the latest state of a long-running operation. Use this method to poll the operation result at intervals as recommended by the API service.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only",
                        "https://www.googleapis.com/auth/firebase",
                        "https://www.googleapis.com/auth/firebase.readonly"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/sites/[^/]+/customDomains/[^/]+/operations/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "The name of the operation resource."
                        }
                      },
                      "id": "firebasehosting.projects.sites.customDomains.operations.get"
                    }
                  }
                }
              }
            },
            "domains": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Domain"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Domain"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent to create the domain association for, in the format: sites/site-name",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "firebasehosting.projects.sites.domains.create",
                  "description": "Creates a domain mapping on the specified site.",
                  "path": "v1beta1/{+parent}/domains",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ]
                },
                "update": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "description": "Updates the specified domain mapping, creating the mapping as if it does not exist.",
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}",
                  "id": "firebasehosting.projects.sites.domains.update",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the domain association to update or create, if an association doesn't already exist."
                    }
                  },
                  "httpMethod": "PUT",
                  "request": {
                    "$ref": "Domain"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Domain"
                  }
                },
                "get": {
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}",
                  "description": "Gets a domain mapping on the specified site.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the domain configuration to get."
                    }
                  },
                  "id": "firebasehosting.projects.sites.domains.get",
                  "response": {
                    "$ref": "Domain"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET"
                },
                "delete": {
                  "description": "Deletes the existing domain mapping on the specified site.",
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains/{domainsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/firebase"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/sites/[^/]+/domains/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the domain association to delete."
                    }
                  },
                  "id": "firebasehosting.projects.sites.domains.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE"
                },
                "list": {
                  "path": "v1beta1/{+parent}/domains",
                  "flatPath": "v1beta1/projects/{projectsId}/sites/{sitesId}/domains",
                  "description": "Lists the domains for the specified site.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ],
                  "response": {
                    "$ref": "ListDomainsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/sites/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent for which to list domains, in the format: sites/ site-name"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The page size to return. Defaults to 50.",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The next_page_token from a previous request, if provided.",
                      "location": "query"
                    }
                  },
                  "id": "firebasehosting.projects.sites.domains.list"
                }
              }
            }
          }
        }
      }
    },
    "sites": {
      "methods": {
        "getConfig": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/firebase",
            "https://www.googleapis.com/auth/firebase.readonly"
          ],
          "path": "v1beta1/{+name}",
          "flatPath": "v1beta1/sites/{sitesId}/config",
          "description": "Gets the Hosting metadata for a specific site.",
          "id": "firebasehosting.sites.getConfig",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^sites/[^/]+/config$",
              "required": true,
              "description": "Required. The site for which to get the SiteConfig, in the format: sites/ site-name/config"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "SiteConfig"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "updateConfig": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/firebase"
          ],
          "path": "v1beta1/{+name}",
          "flatPath": "v1beta1/sites/{sitesId}/config",
          "description": "Sets the Hosting metadata for a specific site.",
          "id": "firebasehosting.sites.updateConfig",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^sites/[^/]+/config$",
              "required": true,
              "location": "path",
              "description": "Required. The site for which to update the SiteConfig, in the format: sites/ site-name/config"
            },
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "description": "A set of field names from your [site configuration](../sites.SiteConfig) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`max_versions`](../sites.SiteConfig.max_versions) will be used.",
              "type": "string"
            }
          },
          "httpMethod": "PATCH",
          "request": {
            "$ref": "SiteConfig"
          },
          "response": {
            "$ref": "SiteConfig"
          },
          "parameterOrder": [
            "name"
          ]
        }
      },
      "resources": {
        "domains": {
          "methods": {
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1beta1/{+parent}/domains",
              "flatPath": "v1beta1/sites/{sitesId}/domains",
              "description": "Creates a domain mapping on the specified site.",
              "httpMethod": "POST",
              "request": {
                "$ref": "Domain"
              },
              "response": {
                "$ref": "Domain"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "firebasehosting.sites.domains.create",
              "parameters": {
                "parent": {
                  "description": "Required. The parent to create the domain association for, in the format: sites/site-name",
                  "type": "string",
                  "pattern": "^sites/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "update": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Domain"
              },
              "httpMethod": "PUT",
              "request": {
                "$ref": "Domain"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^sites/[^/]+/domains/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the domain association to update or create, if an association doesn't already exist."
                }
              },
              "id": "firebasehosting.sites.domains.update",
              "description": "Updates the specified domain mapping, creating the mapping as if it does not exist.",
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ]
            },
            "get": {
              "id": "firebasehosting.sites.domains.get",
              "parameters": {
                "name": {
                  "description": "Required. The name of the domain configuration to get.",
                  "type": "string",
                  "pattern": "^sites/[^/]+/domains/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "Domain"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
              "description": "Gets a domain mapping on the specified site."
            },
            "delete": {
              "description": "Deletes the existing domain mapping on the specified site.",
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/sites/{sitesId}/domains/{domainsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^sites/[^/]+/domains/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the domain association to delete."
                }
              },
              "id": "firebasehosting.sites.domains.delete"
            },
            "list": {
              "response": {
                "$ref": "ListDomainsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The next_page_token from a previous request, if provided."
                },
                "parent": {
                  "description": "Required. The parent for which to list domains, in the format: sites/ site-name",
                  "pattern": "^sites/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The page size to return. Defaults to 50."
                }
              },
              "id": "firebasehosting.sites.domains.list",
              "path": "v1beta1/{+parent}/domains",
              "flatPath": "v1beta1/sites/{sitesId}/domains",
              "description": "Lists the domains for the specified site.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ]
            }
          }
        },
        "versions": {
          "methods": {
            "list": {
              "description": "Lists the versions that have been created for the specified site. This list includes versions for both the default `live` channel and any active preview channels for the specified site.",
              "path": "v1beta1/{+parent}/versions",
              "flatPath": "v1beta1/sites/{sitesId}/versions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListVersionsResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A token from a previous call to `ListVersions` that tells the server where to resume listing.",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^sites/[^/]+$",
                  "required": true,
                  "description": "Required. The site or channel for which to list versions, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID "
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of versions to return. The service may return a lower number if fewer versions exist than this maximum number. If unspecified, defaults to 25. The maximum value is 100; values above 100 will be coerced to 100."
                },
                "filter": {
                  "location": "query",
                  "description": "A filter string used to return a subset of versions in the response. The currently supported fields for filtering are: `name`, `status`, and `create_time`. Learn more about filtering in Google's [AIP 160 standard](https://google.aip.dev/160).",
                  "type": "string"
                }
              },
              "id": "firebasehosting.sites.versions.list"
            },
            "populateFiles": {
              "id": "firebasehosting.sites.versions.populateFiles",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "required": true,
                  "description": "Required. The version to which to add files, in the format: sites/SITE_ID /versions/VERSION_ID"
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "PopulateVersionFilesRequest"
              },
              "response": {
                "$ref": "PopulateVersionFilesResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1beta1/{+parent}:populateFiles",
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}:populateFiles",
              "description": " Adds content files to the specified version. Each file must be under 2 GB."
            },
            "clone": {
              "id": "firebasehosting.sites.versions.clone",
              "parameters": {
                "parent": {
                  "description": "Required. The target site for the cloned version, in the format: sites/ SITE_ID",
                  "type": "string",
                  "location": "path",
                  "pattern": "^sites/[^/]+$",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "CloneVersionRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "description": "Creates a new version on the specified target site using the content of the specified version.",
              "path": "v1beta1/{+parent}/versions:clone",
              "flatPath": "v1beta1/sites/{sitesId}/versions:clone"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}",
              "description": "Deletes the specified version.",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "firebasehosting.sites.versions.delete",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "required": true,
                  "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID"
                }
              }
            },
            "get": {
              "id": "firebasehosting.sites.versions.get",
              "parameters": {
                "name": {
                  "description": "Required. The fully-qualified resource name for the version, in the format: sites/SITE_ID/versions/VERSION_ID",
                  "location": "path",
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Version"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "description": "Get the specified version that has been created for the specified site. This can include versions that were created for the default `live` channel or for any active preview channels for the specified site.",
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}"
            },
            "patch": {
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}",
              "description": " Updates the specified metadata for the specified version. This method will fail with `FAILED_PRECONDITION` in the event of an invalid state transition. The supported [state](../sites.versions#versionstatus) transitions for a version are from `CREATED` to `FINALIZED`. Use [`DeleteVersion`](delete) to set the status of a version to `DELETED`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^sites/[^/]+/versions/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "The fully-qualified resource name for the version, in the format: sites/ SITE_ID/versions/VERSION_ID This name is provided in the response body when you call [`CreateVersion`](sites.versions/create)."
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "A set of field names from your [version](../sites.versions) that you want to update. A field will be overwritten if, and only if, it's in the mask. If a mask is not provided then a default mask of only [`status`](../sites.versions#Version.FIELDS.status) will be used.",
                  "type": "string"
                }
              },
              "id": "firebasehosting.sites.versions.patch",
              "response": {
                "$ref": "Version"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Version"
              }
            },
            "create": {
              "path": "v1beta1/{+parent}/versions",
              "flatPath": "v1beta1/sites/{sitesId}/versions",
              "description": "Creates a new version for the specified site.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "response": {
                "$ref": "Version"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "Version"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The site in which to create the version, in the format: sites/ SITE_ID",
                  "type": "string",
                  "location": "path",
                  "pattern": "^sites/[^/]+$",
                  "required": true
                },
                "versionId": {
                  "location": "query",
                  "deprecated": true,
                  "description": "A unique id for the new version. This is was only specified for legacy version creations, and should be blank.",
                  "type": "string"
                },
                "sizeBytes": {
                  "description": "The self-reported size of the version. This value is used for a pre-emptive quota check for legacy version uploads.",
                  "type": "string",
                  "location": "query",
                  "format": "int64"
                }
              },
              "id": "firebasehosting.sites.versions.create"
            }
          },
          "resources": {
            "files": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListVersionFilesResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "A token from a previous call to `ListVersionFiles` that tells the server where to resume listing.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The version for which to list files, in the format: sites/SITE_ID /versions/VERSION_ID",
                      "pattern": "^sites/[^/]+/versions/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "location": "query",
                      "description": " The type of files that should be listed for the specified version.",
                      "enum": [
                        "STATUS_UNSPECIFIED",
                        "EXPECTED",
                        "ACTIVE"
                      ],
                      "enumDescriptions": [
                        "The default status; should not be intentionally used.",
                        "The file has been included in the version and is expected to be uploaded in the near future.",
                        "The file has already been uploaded to Firebase Hosting."
                      ]
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of version files to return. The service may return a lower number if fewer version files exist than this maximum number. If unspecified, defaults to 1000."
                    }
                  },
                  "id": "firebasehosting.sites.versions.files.list",
                  "description": "Lists the remaining files to be uploaded for the specified version.",
                  "path": "v1beta1/{+parent}/files",
                  "flatPath": "v1beta1/sites/{sitesId}/versions/{versionsId}/files",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only",
                    "https://www.googleapis.com/auth/firebase",
                    "https://www.googleapis.com/auth/firebase.readonly"
                  ]
                }
              }
            }
          }
        },
        "releases": {
          "methods": {
            "list": {
              "id": "firebasehosting.sites.releases.list",
              "parameters": {
                "parent": {
                  "description": "Required. The site or channel for which to list releases, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID ",
                  "type": "string",
                  "pattern": "^sites/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "pageSize": {
                  "description": "The maximum number of releases to return. The service may return a lower number if fewer releases exist than this maximum number. If unspecified, defaults to 100.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A token from a previous call to `releases.list` or `channels.releases.list` that tells the server where to resume listing.",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListReleasesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ],
              "description": "Lists the releases that have been created for the specified site or channel. When used to list releases for a site, this list includes releases for both the default `live` channel and any active preview channels for the specified site.",
              "path": "v1beta1/{+parent}/releases",
              "flatPath": "v1beta1/sites/{sitesId}/releases"
            },
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^sites/[^/]+/releases/[^/]+$",
                  "required": true,
                  "description": "Required. The fully-qualified resource name for the Hosting release, in either of the following formats: - sites/SITE_ID/channels/CHANNEL_ID/releases/RELEASE_ID - sites/SITE_ID/releases/RELEASE_ID "
                }
              },
              "id": "firebasehosting.sites.releases.get",
              "response": {
                "$ref": "Release"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/sites/{sitesId}/releases/{releasesId}",
              "description": "Gets the specified release for a site or channel. When used to get a release for a site, this can get releases for both the default `live` channel and any active preview channels for the specified site.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only",
                "https://www.googleapis.com/auth/firebase",
                "https://www.googleapis.com/auth/firebase.readonly"
              ]
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/firebase"
              ],
              "path": "v1beta1/{+parent}/releases",
              "flatPath": "v1beta1/sites/{sitesId}/releases",
              "description": "Creates a new release, which makes the content of the specified version actively display on the appropriate URL(s).",
              "id": "firebasehosting.sites.releases.create",
              "parameters": {
                "versionName": {
                  "location": "query",
                  "description": " The unique identifier for a version, in the format: sites/SITE_ID/versions/ VERSION_ID The SITE_ID in this version identifier must match the SITE_ID in the `parent` parameter. This query parameter must be empty if the `type` field in the request body is `SITE_DISABLE`.",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^sites/[^/]+$",
                  "required": true,
                  "description": "Required. The site or channel to which the release belongs, in either of the following formats: - sites/SITE_ID - sites/SITE_ID/channels/CHANNEL_ID"
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "Release"
              },
              "response": {
                "$ref": "Release"
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "channels": {
          "methods": {
            "patch": {
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Channel"
              },
              "response": {
                "$ref": "Channel"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "firebasehosting.sites.channels.patch",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
[...]
