{
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "basePath": "",
  "title": "Cloud Firestore API",
  "ownerDomain": "google.com",
  "baseUrl": "https://firestore.googleapis.com/",
  "name": "firestore",
  "ownerName": "Google",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32"
                },
                "name": {
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "location": "query",
                  "repeated": true,
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage."
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                }
              },
              "id": "firestore.projects.locations.list",
              "path": "v1/{+name}/locations",
              "httpMethod": "GET",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version."
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "id": "firestore.projects.locations.get",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Location"
              },
              "httpMethod": "GET",
              "description": "Gets information about a location."
            }
          },
          "resources": {
            "backups": {
              "methods": {
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backups/{backupsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "firestore.projects.locations.backups.delete",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/backups/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Name of the backup to delete. format is `projects/{project}/locations/{location}/backups/{backup}`."
                    }
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes a backup."
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backups/{backupsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets information about a backup.",
                  "id": "firestore.projects.locations.backups.get",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backups/[^/]+$",
                      "description": "Required. Name of the backup to fetch. Format is `projects/{project}/locations/{location}/backups/{backup}`.",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1Backup"
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "description": "Lists all the backups.",
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1ListBackupsResponse"
                  },
                  "id": "firestore.projects.locations.backups.list",
                  "path": "v1/{+parent}/backups",
                  "parameters": {
                    "parent": {
                      "description": "Required. The location to list backups from. Format is `projects/{project}/locations/{location}`. Use `{location} = '-'` to list backups from all locations for the given project. This allows listing backups from a single location or from all locations.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "filter": {
                      "description": "An expression that filters the list of returned backups. A filter expression consists of a field name, a comparison operator, and a value for filtering. The value must be a string, a number, or a boolean. The comparison operator must be one of: `<`, `>`, `<=`, `>=`, `!=`, `=`, or `:`. Colon `:` is the contains operator. Filter rules are not case sensitive. The following fields in the Backup are eligible for filtering: * `database_uid` (supports `=` only)",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backups",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          }
        },
        "databases": {
          "methods": {
            "restore": {
              "flatPath": "v1/projects/{projectsId}/databases:restore",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "description": "Creates a new database by restoring from an existing backup. The new database must be in the same cloud region or multi-region location as the existing backup. This behaves similar to FirestoreAdmin.CreateDatabase except instead of creating a new empty database, a new database is created with the database type, index configuration, and documents from an existing backup. The long-running operation can be used to track the progress of the restore, with the Operation's metadata field type being the RestoreDatabaseMetadata. The response type is the Database if the restore was successful. The new database is not readable or writeable until the LRO has completed.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "firestore.projects.databases.restore",
              "path": "v1/{+parent}/databases:restore",
              "request": {
                "$ref": "GoogleFirestoreAdminV1RestoreDatabaseRequest"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The project to restore the database in. Format is `projects/{project_id}`.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                }
              }
            },
            "clone": {
              "httpMethod": "POST",
              "description": "Creates a new database by cloning an existing one. The new database must be in the same cloud region or multi-region location as the existing database. This behaves similar to FirestoreAdmin.CreateDatabase except instead of creating a new empty database, a new database is created with the database type, index configuration, and documents from an existing database. The long-running operation can be used to track the progress of the clone, with the Operation's metadata field type being the CloneDatabaseMetadata. The response type is the Database if the clone was successful. The new database is not readable or writeable until the LRO has completed.",
              "id": "firestore.projects.databases.clone",
              "path": "v1/{+parent}/databases:clone",
              "request": {
                "$ref": "GoogleFirestoreAdminV1CloneDatabaseRequest"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The project to clone the database in. Format is `projects/{project_id}`.",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v1/projects/{projectsId}/databases:clone",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "parameterOrder": [
                "parent"
              ]
            },
            "create": {
              "httpMethod": "POST",
              "description": "Create a database.",
              "id": "firestore.projects.databases.create",
              "path": "v1/{+parent}/databases",
              "request": {
                "$ref": "GoogleFirestoreAdminV1Database"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. A parent name of the form `projects/{project_id}`",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "databaseId": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. The ID to use for the database, which will become the final component of the database's resource name. This value should be 4-63 characters. Valid characters are /a-z-/ with first character a letter and the last a letter or a number. Must not be UUID-like /[0-9a-f]{8}(-[0-9a-f]{4}){3}-[0-9a-f]{12}/. \"(default)\" database ID is also valid if the database is Standard edition."
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v1/projects/{projectsId}/databases",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "parameterOrder": [
                "parent"
              ]
            },
            "exportDocuments": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/databases/[^/]+$",
                  "description": "Required. Database to export. Should be of the form: `projects/{project_id}/databases/{database_id}`.",
                  "required": true
                }
              },
              "id": "firestore.projects.databases.exportDocuments",
              "path": "v1/{+name}:exportDocuments",
              "request": {
                "$ref": "GoogleFirestoreAdminV1ExportDocumentsRequest"
              },
              "httpMethod": "POST",
              "description": "Exports a copy of all or a subset of documents from Google Cloud Firestore to another storage system, such as Google Cloud Storage. Recent updates to documents may not be reflected in the export. The export occurs in the background and its progress can be monitored and managed via the Operation resource that is created. The output of an export may only be used once the associated operation is done. If an export operation is cancelled before completion it may leave partial data behind in Google Cloud Storage. For more details on export behavior and output format, refer to: https://cloud.google.com/firestore/docs/manage-data/export-import",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/databases/{databasesId}:exportDocuments",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ]
            },
            "patch": {
              "httpMethod": "PATCH",
              "description": "Updates a database.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "description": "The resource name of the Database. Format: `projects/{project}/databases/{database}`",
                  "pattern": "^projects/[^/]+/databases/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "updateMask": {
                  "description": "The list of fields to be updated.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "firestore.projects.databases.patch",
              "path": "v1/{+name}",
              "request": {
                "$ref": "GoogleFirestoreAdminV1Database"
              },
              "flatPath": "v1/projects/{projectsId}/databases/{databasesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/databases/{databasesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "id": "firestore.projects.databases.get",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. A name of the form `projects/{project_id}/databases/{database_id}`",
                  "pattern": "^projects/[^/]+/databases/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleFirestoreAdminV1Database"
              },
              "httpMethod": "GET",
              "description": "Gets information about a database."
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/databases",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. A parent name of the form `projects/{project_id}`",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "showDeleted": {
                  "location": "query",
                  "type": "boolean",
                  "description": "If true, also returns deleted resources."
                }
              },
              "id": "firestore.projects.databases.list",
              "path": "v1/{+parent}/databases",
              "response": {
                "$ref": "GoogleFirestoreAdminV1ListDatabasesResponse"
              },
              "httpMethod": "GET",
              "description": "List all the databases in the project."
            },
            "bulkDeleteDocuments": {
              "httpMethod": "POST",
              "description": "Bulk deletes a subset of documents from Google Cloud Firestore. Documents created or updated after the underlying system starts to process the request will not be deleted. The bulk delete occurs in the background and its progress can be monitored and managed via the Operation resource that is created. For more details on bulk delete behavior, refer to: https://cloud.google.com/firestore/docs/manage-data/bulk-delete",
              "parameters": {
                "name": {
                  "description": "Required. Database to operate. Should be of the form: `projects/{project_id}/databases/{database_id}`.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/databases/[^/]+$"
                }
              },
              "id": "firestore.projects.databases.bulkDeleteDocuments",
              "path": "v1/{+name}:bulkDeleteDocuments",
              "request": {
                "$ref": "GoogleFirestoreAdminV1BulkDeleteDocumentsRequest"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v1/projects/{projectsId}/databases/{databasesId}:bulkDeleteDocuments",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "parameters": {
                "name": {
                  "description": "Required. A name of the form `projects/{project_id}/databases/{database_id}`",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/databases/[^/]+$"
                },
                "etag": {
                  "location": "query",
                  "type": "string",
                  "description": "The current etag of the Database. If an etag is provided and does not match the current etag of the database, deletion will be blocked and a FAILED_PRECONDITION error will be returned."
                }
              },
              "id": "firestore.projects.databases.delete",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "DELETE",
              "description": "Deletes a database.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/databases/{databasesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ]
            },
            "importDocuments": {
              "flatPath": "v1/projects/{projectsId}/databases/{databasesId}:importDocuments",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "description": "Imports documents into Google Cloud Firestore. Existing documents with the same name are overwritten. The import occurs in the background and its progress can be monitored and managed via the Operation resource that is created. If an ImportDocuments operation is cancelled, it is possible that a subset of the data has already been imported to Cloud Firestore.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Database to import into. Should be of the form: `projects/{project_id}/databases/{database_id}`.",
                  "pattern": "^projects/[^/]+/databases/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "firestore.projects.databases.importDocuments",
              "path": "v1/{+name}:importDocuments",
              "request": {
                "$ref": "GoogleFirestoreAdminV1ImportDocumentsRequest"
              }
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "parameters": {
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The standard list page size.",
                      "format": "int32"
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "required": true
                    }
                  },
                  "id": "firestore.projects.databases.operations.list",
                  "path": "v1/{+name}/operations",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/databases/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "firestore.projects.databases.operations.get",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+/operations/[^/]+$"
                    }
                  },
                  "id": "firestore.projects.databases.operations.delete",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                },
                "cancel": {
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/operations/{operationsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/databases/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "id": "firestore.projects.databases.operations.cancel",
                  "path": "v1/{+name}:cancel",
                  "request": {
                    "$ref": "GoogleLongrunningCancelOperationRequest"
                  }
                }
              }
            },
            "userCreds": {
              "methods": {
                "enable": {
                  "httpMethod": "POST",
                  "description": "Enables a user creds. No-op if the user creds are already enabled.",
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1UserCreds"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/databases/[^/]+/userCreds/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. A name of the form `projects/{project_id}/databases/{database_id}/userCreds/{user_creds_id}`"
                    }
                  },
                  "id": "firestore.projects.databases.userCreds.enable",
                  "path": "v1/{+name}:enable",
                  "request": {
                    "$ref": "GoogleFirestoreAdminV1EnableUserCredsRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/userCreds/{userCredsId}:enable",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "firestore.projects.databases.userCreds.delete",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. A name of the form `projects/{project_id}/databases/{database_id}/userCreds/{user_creds_id}`",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+/userCreds/[^/]+$"
                    }
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes a user creds.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/userCreds/{userCredsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "create": {
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1UserCreds"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "description": "Required. A parent name of the form `projects/{project_id}/databases/{database_id}`",
                      "required": true
                    },
                    "userCredsId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The ID to use for the user creds, which will become the final component of the user creds's resource name. This value should be 4-63 characters. Valid characters are /a-z-/ with first character a letter and the last a letter or a number. Must not be UUID-like /[0-9a-f]{8}(-[0-9a-f]{4}){3}-[0-9a-f]{12}/."
                    }
                  },
                  "id": "firestore.projects.databases.userCreds.create",
                  "path": "v1/{+parent}/userCreds",
                  "request": {
                    "$ref": "GoogleFirestoreAdminV1UserCreds"
                  },
                  "httpMethod": "POST",
                  "description": "Create a user creds.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/userCreds",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "disable": {
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1UserCreds"
                  },
                  "id": "firestore.projects.databases.userCreds.disable",
                  "path": "v1/{+name}:disable",
                  "request": {
                    "$ref": "GoogleFirestoreAdminV1DisableUserCredsRequest"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. A name of the form `projects/{project_id}/databases/{database_id}/userCreds/{user_creds_id}`",
                      "pattern": "^projects/[^/]+/databases/[^/]+/userCreds/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Disables a user creds. No-op if the user creds are already disabled.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/userCreds/{userCredsId}:disable",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "resetPassword": {
                  "httpMethod": "POST",
                  "description": "Resets the password of a user creds.",
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1UserCreds"
                  },
                  "id": "firestore.projects.databases.userCreds.resetPassword",
                  "path": "v1/{+name}:resetPassword",
                  "request": {
                    "$ref": "GoogleFirestoreAdminV1ResetUserPasswordRequest"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. A name of the form `projects/{project_id}/databases/{database_id}/userCreds/{user_creds_id}`",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+/userCreds/[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/userCreds/{userCredsId}:resetPassword",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/userCreds/{userCredsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. A name of the form `projects/{project_id}/databases/{database_id}/userCreds/{user_creds_id}`",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+/userCreds/[^/]+$"
                    }
                  },
                  "id": "firestore.projects.databases.userCreds.get",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1UserCreds"
                  },
                  "httpMethod": "GET",
                  "description": "Gets a user creds resource. Note that the returned resource does not contain the secret value itself."
                },
                "list": {
                  "httpMethod": "GET",
                  "description": "List all user creds in the database. Note that the returned resource does not contain the secret value itself.",
                  "id": "firestore.projects.databases.userCreds.list",
                  "path": "v1/{+parent}/userCreds",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. A parent database name of the form `projects/{project_id}/databases/{database_id}`"
                    }
                  },
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1ListUserCredsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/userCreds",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "documents": {
              "methods": {
                "runAggregationQuery": {
                  "id": "firestore.projects.databases.documents.runAggregationQuery",
                  "path": "v1/{+parent}:runAggregationQuery",
                  "request": {
                    "$ref": "RunAggregationQueryRequest"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "RunAggregationQueryResponse"
                  },
                  "httpMethod": "POST",
                  "description": "Runs an aggregation query. Rather than producing Document results like Firestore.RunQuery, this API allows running an aggregation to produce a series of AggregationResult server-side. High-Level Example: ``` -- Return the number of documents in table given a filter. SELECT COUNT(*) FROM ( SELECT * FROM k where a = true ); ```",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:runAggregationQuery",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "listCollectionIds": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent document. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom` Use `projects/{project_id}/databases/{database_id}/documents` to list top-level collections.",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "firestore.projects.databases.documents.listCollectionIds",
                  "path": "v1/{+parent}:listCollectionIds",
                  "request": {
                    "$ref": "ListCollectionIdsRequest"
                  },
                  "response": {
                    "$ref": "ListCollectionIdsResponse"
                  },
                  "httpMethod": "POST",
                  "description": "Lists all the collection IDs underneath a document.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:listCollectionIds",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "beginTransaction": {
                  "httpMethod": "POST",
                  "description": "Starts a new transaction.",
                  "response": {
                    "$ref": "BeginTransactionResponse"
                  },
                  "id": "firestore.projects.databases.documents.beginTransaction",
                  "path": "v1/{+database}/documents:beginTransaction",
                  "request": {
                    "$ref": "BeginTransactionRequest"
                  },
                  "parameters": {
                    "database": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:beginTransaction",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "database"
                  ]
                },
                "batchGet": {
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:batchGet",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "database"
                  ],
                  "httpMethod": "POST",
                  "description": "Gets multiple documents. Documents returned by this method are not guaranteed to be returned in the same order that they were requested.",
                  "parameters": {
                    "database": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "required": true
                    }
                  },
                  "id": "firestore.projects.databases.documents.batchGet",
                  "path": "v1/{+database}/documents:batchGet",
                  "request": {
                    "$ref": "BatchGetDocumentsRequest"
                  },
                  "response": {
                    "$ref": "BatchGetDocumentsResponse"
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "id": "firestore.projects.databases.documents.delete",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name of the Document to delete. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`."
                    },
                    "currentDocument.exists": {
                      "description": "When set to `true`, the target document must exist. When set to `false`, the target document must not exist.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "currentDocument.updateTime": {
                      "description": "When set, the target document must exist and have been last updated at that time. Timestamp must be microsecond aligned.",
                      "format": "google-datetime",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes a document."
                },
                "listen": {
                  "httpMethod": "POST",
                  "description": "Listens to changes. This method is only available via gRPC or WebChannel (not REST).",
                  "response": {
                    "$ref": "ListenResponse"
                  },
                  "parameters": {
                    "database": {
                      "required": true,
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "firestore.projects.databases.documents.listen",
                  "path": "v1/{+database}/documents:listen",
                  "request": {
                    "$ref": "ListenRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:listen",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "database"
                  ]
                },
                "commit": {
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:commit",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "database"
                  ],
                  "httpMethod": "POST",
                  "description": "Commits a transaction, while optionally updating documents.",
                  "response": {
                    "$ref": "CommitResponse"
                  },
                  "parameters": {
                    "database": {
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`."
                    }
                  },
                  "id": "firestore.projects.databases.documents.commit",
                  "path": "v1/{+database}/documents:commit",
                  "request": {
                    "$ref": "CommitRequest"
                  }
                },
                "partitionQuery": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:partitionQuery",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "response": {
                    "$ref": "PartitionQueryResponse"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents`. Document resource names are not supported; only database resource names can be specified.",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "firestore.projects.databases.documents.partitionQuery",
                  "path": "v1/{+parent}:partitionQuery",
                  "request": {
                    "$ref": "PartitionQueryRequest"
                  },
                  "httpMethod": "POST",
                  "description": "Partitions a query by returning partition cursors that can be used to run the query in parallel. The returned partition cursors are split points that can be used by RunQuery as starting/end points for the query results."
                },
                "listDocuments": {
                  "parameterOrder": [
                    "parent",
                    "collectionId"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{collectionId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "response": {
                    "$ref": "ListDocumentsResponse"
                  },
                  "parameters": {
                    "orderBy": {
                      "description": "Optional. The optional ordering of the documents to return. For example: `priority desc, __name__ desc`. This mirrors the `ORDER BY` used in Firestore queries but in a string representation. When absent, documents are ordered based on `__name__ ASC`.",
                      "location": "query",
                      "type": "string"
                    },
                    "showMissing": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If the list should show missing documents. A document is missing if it does not exist, but there are sub-documents nested underneath it. When true, such missing documents will be returned with a key but will not have fields, `create_time`, or `update_time` set. Requests with `show_missing` may not specify `where` or `order_by`."
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListDocuments` response. Provide this to retrieve the subsequent page. When paginating, all other parameters (with the exception of `page_size`) must match the values set in the request that generated the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "readTime": {
                      "location": "query",
                      "type": "string",
                      "description": "Perform the read at the provided time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
                      "format": "google-datetime"
                    },
                    "transaction": {
                      "description": "Perform the read as part of an already active transaction.",
                      "format": "byte",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of documents to return in a single response. Firestore may return fewer than this value.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents$",
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "required": true
                    },
                    "recursive": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If the list should recursively include all documents nested under the parent at any level. If the request specifies a `collection_id`, then the list will include all nested documents in the collection under the parent. This is optional, and when not provided, Firestore will only list documents nested immediately under the parent. Requests with `recursive` may not specify `show_missing`."
                    },
                    "collectionId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Optional. The collection ID, relative to `parent`, to list. For example: `chatrooms` or `messages`. This is optional, and when not provided, Firestore will list documents from all collections under the provided `parent`."
                    },
                    "mask.fieldPaths": {
                      "location": "query",
                      "repeated": true,
                      "type": "string",
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference."
                    }
                  },
                  "id": "firestore.projects.databases.documents.listDocuments",
                  "path": "v1/{+parent}/{collectionId}",
                  "httpMethod": "GET",
                  "description": "Lists documents."
                },
                "executePipeline": {
                  "id": "firestore.projects.databases.documents.executePipeline",
                  "path": "v1/{+database}/documents:executePipeline",
                  "request": {
                    "$ref": "ExecutePipelineRequest"
                  },
                  "parameters": {
                    "database": {
                      "required": true,
                      "description": "Required. Database identifier, in the form `projects/{project}/databases/{database}`.",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ExecutePipelineResponse"
                  },
                  "httpMethod": "POST",
                  "description": "Executes a pipeline query.",
                  "parameterOrder": [
                    "database"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:executePipeline",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "createDocument": {
                  "httpMethod": "POST",
                  "description": "Creates a new document.",
                  "response": {
                    "$ref": "Document"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource. For example: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/chatrooms/{chatroom_id}`",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/.*$",
                      "location": "path",
                      "type": "string"
                    },
                    "mask.fieldPaths": {
                      "location": "query",
                      "repeated": true,
                      "type": "string",
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference."
                    },
                    "collectionId": {
                      "required": true,
                      "description": "Required. The collection ID, relative to `parent`, to list. For example: `chatrooms`.",
                      "location": "path",
                      "type": "string"
                    },
                    "documentId": {
                      "location": "query",
                      "type": "string",
                      "description": "The client-assigned document ID to use for this document. Optional. If not specified, an ID will be assigned by the service."
                    }
                  },
                  "id": "firestore.projects.databases.documents.createDocument",
                  "path": "v1/{+parent}/{collectionId}",
                  "request": {
                    "$ref": "Document"
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{collectionId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "parent",
                    "collectionId"
                  ]
                },
                "write": {
                  "parameters": {
                    "database": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`. This is only required in the first message.",
                      "required": true
                    }
                  },
                  "id": "firestore.projects.databases.documents.write",
                  "path": "v1/{+database}/documents:write",
                  "request": {
                    "$ref": "WriteRequest"
                  },
                  "response": {
                    "$ref": "WriteResponse"
                  },
                  "httpMethod": "POST",
                  "description": "Streams batches of document updates and deletes, in order. This method is only available via gRPC or WebChannel (not REST).",
                  "parameterOrder": [
                    "database"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:write",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "get": {
                  "id": "firestore.projects.databases.documents.get",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "description": "Required. The resource name of the Document to get. In the format: `projects/{project_id}/databases/{database_id}/documents/{document_path}`.",
                      "required": true
                    },
                    "mask.fieldPaths": {
                      "location": "query",
                      "repeated": true,
                      "type": "string",
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference."
                    },
                    "readTime": {
                      "description": "Reads the version of the document at the given time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
                      "format": "google-datetime",
                      "location": "query",
                      "type": "string"
                    },
                    "transaction": {
                      "description": "Reads the document in a transaction.",
                      "format": "byte",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Document"
                  },
                  "httpMethod": "GET",
                  "description": "Gets a single document.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}/{collectionId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "parent",
                    "collectionId"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists documents.",
                  "id": "firestore.projects.databases.documents.list",
                  "path": "v1/{+parent}/{collectionId}",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListDocuments` response. Provide this to retrieve the subsequent page. When paginating, all other parameters (with the exception of `page_size`) must match the values set in the request that generated the page token."
                    },
                    "showMissing": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If the list should show missing documents. A document is missing if it does not exist, but there are sub-documents nested underneath it. When true, such missing documents will be returned with a key but will not have fields, `create_time`, or `update_time` set. Requests with `show_missing` may not specify `where` or `order_by`."
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The optional ordering of the documents to return. For example: `priority desc, __name__ desc`. This mirrors the `ORDER BY` used in Firestore queries but in a string representation. When absent, documents are ordered based on `__name__ ASC`."
                    },
                    "mask.fieldPaths": {
                      "location": "query",
                      "repeated": true,
                      "type": "string",
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference."
                    },
                    "collectionId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Optional. The collection ID, relative to `parent`, to list. For example: `chatrooms` or `messages`. This is optional, and when not provided, Firestore will list documents from all collections under the provided `parent`."
                    },
                    "recursive": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If the list should recursively include all documents nested under the parent at any level. If the request specifies a `collection_id`, then the list will include all nested documents in the collection under the parent. This is optional, and when not provided, Firestore will only list documents nested immediately under the parent. Requests with `recursive` may not specify `show_missing`."
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`",
                      "required": true
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of documents to return in a single response. Firestore may return fewer than this value.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "transaction": {
                      "description": "Perform the read as part of an already active transaction.",
                      "format": "byte",
                      "location": "query",
                      "type": "string"
                    },
                    "readTime": {
                      "location": "query",
                      "type": "string",
                      "description": "Perform the read at the provided time. This must be a microsecond precision timestamp within the past one hour, or if Point-in-Time Recovery is enabled, can additionally be a whole minute timestamp within the past 7 days.",
                      "format": "google-datetime"
                    }
                  },
                  "response": {
                    "$ref": "ListDocumentsResponse"
                  }
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "description": "Updates or inserts a document.",
                  "id": "firestore.projects.databases.documents.patch",
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "Document"
                  },
                  "parameters": {
                    "mask.fieldPaths": {
                      "location": "query",
                      "repeated": true,
                      "type": "string",
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference."
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The resource name of the document, for example `projects/{project_id}/databases/{database_id}/documents/{document_path}`."
                    },
                    "updateMask.fieldPaths": {
                      "description": "The list of field paths in the mask. See Document.fields for a field path syntax reference.",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "currentDocument.exists": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, the target document must exist. When set to `false`, the target document must not exist."
                    },
                    "currentDocument.updateTime": {
                      "location": "query",
                      "type": "string",
                      "description": "When set, the target document must exist and have been last updated at that time. Timestamp must be microsecond aligned.",
                      "format": "google-datetime"
                    }
                  },
                  "response": {
                    "$ref": "Document"
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "rollback": {
                  "httpMethod": "POST",
                  "description": "Rolls back a transaction.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "firestore.projects.databases.documents.rollback",
                  "path": "v1/{+database}/documents:rollback",
                  "request": {
                    "$ref": "RollbackRequest"
                  },
                  "parameters": {
                    "database": {
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:rollback",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "database"
                  ]
                },
                "runQuery": {
                  "response": {
                    "$ref": "RunQueryResponse"
                  },
                  "id": "firestore.projects.databases.documents.runQuery",
                  "path": "v1/{+parent}:runQuery",
                  "request": {
                    "$ref": "RunQueryRequest"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/databases/[^/]+/documents/[^/]+/.*$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent resource name. In the format: `projects/{project_id}/databases/{database_id}/documents` or `projects/{project_id}/databases/{database_id}/documents/{document_path}`. For example: `projects/my-project/databases/my-database/documents` or `projects/my-project/databases/my-database/documents/chatrooms/my-chatroom`"
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Runs a query.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents/{documentsId}/{documentsId1}:runQuery",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "batchWrite": {
                  "httpMethod": "POST",
                  "description": "Applies a batch of write operations. The BatchWrite method does not apply the write operations atomically and can apply them out of order. Method does not allow more than one write per document. Each write succeeds or fails independently. See the BatchWriteResponse for the success status of each write. If you require an atomically applied set of writes, use Commit instead.",
                  "parameters": {
                    "database": {
                      "description": "Required. The database name. In the format: `projects/{project_id}/databases/{database_id}`.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+$"
                    }
                  },
                  "id": "firestore.projects.databases.documents.batchWrite",
                  "path": "v1/{+database}/documents:batchWrite",
                  "request": {
                    "$ref": "BatchWriteRequest"
                  },
                  "response": {
                    "$ref": "BatchWriteResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/documents:batchWrite",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "database"
                  ]
                }
              }
            },
            "collectionGroups": {
              "resources": {
                "fields": {
                  "methods": {
                    "patch": {
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "firestore.projects.databases.collectionGroups.fields.patch",
                      "path": "v1/{+name}",
                      "request": {
                        "$ref": "GoogleFirestoreAdminV1Field"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+/fields/[^/]+$",
                          "description": "Required. A field name of the form: `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/fields/{field_path}` A field path can be a simple field name, e.g. `address` or a path to fields within `map_value` , e.g. `address.city`, or a special field path. The only valid special field is `*`, which represents any field. Field paths can be quoted using `` ` `` (backtick). The only character that must be escaped within a quoted field path is the backtick character itself, escaped using a backslash. Special characters in field paths that must be quoted include: `*`, `.`, `` ` `` (backtick), `[`, `]`, as well as any ascii symbolic characters. Examples: `` `address.city` `` represents a field named `address.city`, not the map key `city` in the field `address`. `` `*` `` represents a field named `*`, not any field. A special `Field` contains the default indexing settings for all fields. This field's resource name is: `projects/{project_id}/databases/{database_id}/collectionGroups/__default__/fields/*` Indexes defined on this `Field` will be applied to all fields which do not have their own `Field` index configuration.",
                          "required": true
                        },
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "description": "A mask, relative to the field. If specified, only configuration specified by this field_mask will be updated in the field.",
                          "format": "google-fieldmask"
                        }
                      },
                      "httpMethod": "PATCH",
                      "description": "Updates a field configuration. Currently, field updates apply only to single field index configuration. However, calls to FirestoreAdmin.UpdateField should provide a field mask to avoid changing any configuration that the caller isn't aware of. The field mask should be specified as: `{ paths: \"index_config\" }`. This call returns a google.longrunning.Operation which may be used to track the status of the field update. The metadata for the operation will be the type FieldOperationMetadata. To configure the default field settings for the database, use the special `Field` with resource name: `projects/{project_id}/databases/{database_id}/collectionGroups/__default__/fields/*`.",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/fields/{fieldsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ]
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. A name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/fields/{field_id}`",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+/fields/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "id": "firestore.projects.databases.collectionGroups.fields.get",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "GoogleFirestoreAdminV1Field"
                      },
                      "httpMethod": "GET",
                      "description": "Gets the metadata and configuration for a Field.",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/fields/{fieldsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ]
                    },
                    "list": {
                      "httpMethod": "GET",
                      "description": "Lists the field configuration and metadata for this database. Currently, FirestoreAdmin.ListFields only supports listing fields that have been explicitly overridden. To issue this query, call FirestoreAdmin.ListFields with the filter set to `indexConfig.usesAncestorConfig:false` or `ttlConfig:*`.",
                      "response": {
                        "$ref": "GoogleFirestoreAdminV1ListFieldsResponse"
                      },
                      "parameters": {
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "The filter to apply to list results. Currently, FirestoreAdmin.ListFields only supports listing fields that have been explicitly overridden. To issue this query, call FirestoreAdmin.ListFields with a filter that includes `indexConfig.usesAncestorConfig:false` or `ttlConfig:*`."
                        },
                        "pageToken": {
                          "description": "A page token, returned from a previous call to FirestoreAdmin.ListFields, that may be used to get the next page of results.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+$",
                          "description": "Required. A parent name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}`",
                          "required": true
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "The number of results to return.",
                          "format": "int32"
                        }
                      },
                      "id": "firestore.projects.databases.collectionGroups.fields.list",
                      "path": "v1/{+parent}/fields",
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/fields",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                },
                "indexes": {
                  "methods": {
                    "create": {
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "firestore.projects.databases.collectionGroups.indexes.create",
                      "path": "v1/{+parent}/indexes",
                      "request": {
                        "$ref": "GoogleFirestoreAdminV1Index"
                      },
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "Required. A parent name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}`",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "httpMethod": "POST",
                      "description": "Creates a composite index. This returns a google.longrunning.Operation which may be used to track the status of the creation. The metadata for the operation will be the type IndexOperationMetadata.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/indexes",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ]
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "description": "Deletes a composite index.",
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. A name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/indexes/{index_id}`",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+/indexes/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "id": "firestore.projects.databases.collectionGroups.indexes.delete",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/indexes/{indexesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ],
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "response": {
                        "$ref": "GoogleFirestoreAdminV1ListIndexesResponse"
                      },
                      "id": "firestore.projects.databases.collectionGroups.indexes.list",
                      "path": "v1/{+parent}/indexes",
                      "parameters": {
                        "pageSize": {
                          "description": "The number of results to return.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "parent": {
                          "description": "Required. A parent name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}`",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+$"
                        },
                        "filter": {
                          "description": "The filter to apply to list results.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "A page token, returned from a previous call to FirestoreAdmin.ListIndexes, that may be used to get the next page of results.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "description": "Lists composite indexes.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/indexes",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ]
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "description": "Required. A name of the form `projects/{project_id}/databases/{database_id}/collectionGroups/{collection_id}/indexes/{index_id}`",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/databases/[^/]+/collectionGroups/[^/]+/indexes/[^/]+$"
                        }
                      },
                      "id": "firestore.projects.databases.collectionGroups.indexes.get",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "GoogleFirestoreAdminV1Index"
                      },
                      "httpMethod": "GET",
                      "description": "Gets a composite index.",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/collectionGroups/{collectionGroupsId}/indexes/{indexesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/datastore"
                      ]
                    }
                  }
                }
              }
            },
            "backupSchedules": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1BackupSchedule"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/databases/[^/]+/backupSchedules/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the backup schedule. Format `projects/{project}/databases/{database}/backupSchedules/{backup_schedule}`"
                    }
                  },
                  "id": "firestore.projects.databases.backupSchedules.get",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "description": "Gets information about a backup schedule.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/backupSchedules/{backupSchedulesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/backupSchedules",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "description": "List backup schedules.",
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1ListBackupSchedulesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent database. Format is `projects/{project}/databases/{database}`.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+$"
                    }
                  },
                  "id": "firestore.projects.databases.backupSchedules.list",
                  "path": "v1/{+parent}/backupSchedules"
                },
                "patch": {
                  "response": {
                    "$ref": "GoogleFirestoreAdminV1BackupSchedule"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Output only. The unique backup schedule identifier across all locations and databases for the given project. This will be auto-assigned. Format is `projects/{project}/databases/{database}/backupSchedules/{backup_schedule}`",
                      "pattern": "^projects/[^/]+/databases/[^/]+/backupSchedules/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "The list of fields to be updated.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "firestore.projects.databases.backupSchedules.patch",
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "GoogleFirestoreAdminV1BackupSchedule"
                  },
                  "httpMethod": "PATCH",
                  "description": "Updates a backup schedule.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/backupSchedules/{backupSchedulesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "delete": {
                  "id": "firestore.projects.databases.backupSchedules.delete",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the backup schedule. Format `projects/{project}/databases/{database}/backupSchedules/{backup_schedule}`",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/databases/[^/]+/backupSchedules/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes a backup schedule.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/backupSchedules/{backupSchedulesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ]
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/databases/{databasesId}/backupSchedules",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/datastore"
                  ],
                  "id": "firestore.projects.databases.backupSchedules.create",
                  "path": "v1/{+parent}/backupSchedules",
                  "request": {
                    "$ref": "GoogleFirestoreAdminV1BackupSchedule"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent database. Format `projects/{project}/databases/{database}`",
                      "pattern": "^projects/[^/]+/databases/[^/]+$",
[...]
