{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "baseUrl": "https://firebaseappdistribution.googleapis.com/",
  "id": "firebaseappdistribution:v1alpha",
  "servicePath": "",
  "rootUrl": "https://firebaseappdistribution.googleapis.com/",
  "ownerName": "Google",
  "canonicalName": "Firebase App Distribution",
  "description": "",
  "protocol": "rest",
  "version": "v1alpha",
  "mtlsRootUrl": "https://firebaseappdistribution.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    }
  },
  "batchPath": "batch",
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Firebase App Distribution API",
  "schemas": {
    "GoogleFirebaseAppdistroV1alphaGoalDetails": {
      "description": "Details for a goal step.",
      "id": "GoogleFirebaseAppdistroV1alphaGoalDetails",
      "properties": {
        "goalActions": {
          "description": "Output only. The actions taken by the AI while attempting to accomplish the goal.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaGoalAction"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "AndroidxCrawlerOutputRectangle": {
      "type": "object",
      "description": "Rectangle for describing bounding boxes",
      "id": "AndroidxCrawlerOutputRectangle",
      "properties": {
        "bottom": {
          "type": "integer",
          "format": "int32"
        },
        "left": {
          "type": "integer",
          "format": "int32"
        },
        "right": {
          "type": "integer",
          "format": "int32"
        },
        "top": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesResponse": {
      "description": "The response message for `BatchUpdateTestCase`.",
      "id": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesResponse",
      "properties": {
        "testCases": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
          },
          "description": "The updated test cases."
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1Release": {
      "description": "A release of a Firebase app.",
      "id": "GoogleFirebaseAppdistroV1Release",
      "properties": {
        "testingUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A link to the release in the tester web clip or Android app that lets testers (which were granted access to the app) view release notes and install the app onto their devices."
        },
        "binaryDownloadUri": {
          "description": "Output only. A signed link (which expires in one hour) to directly download the app binary (IPA/APK/AAB) file.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the release resource. Format: `projects/{project_number}/apps/{app}/releases/{release}`",
          "type": "string"
        },
        "displayVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Display version of the release. For an Android release, the display version is the `versionName`. For an iOS release, the display version is the `CFBundleShortVersionString`."
        },
        "expireTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the release will expire.",
          "format": "google-datetime"
        },
        "firebaseConsoleUri": {
          "description": "Output only. A link to the Firebase console displaying a single release.",
          "readOnly": true,
          "type": "string"
        },
        "releaseNotes": {
          "$ref": "GoogleFirebaseAppdistroV1ReleaseNotes",
          "description": "Notes of the release."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the release was created.",
          "format": "google-datetime"
        },
        "buildVersion": {
          "description": "Output only. Build version of the release. For an Android release, the build version is the `versionCode`. For an iOS release, the build version is the `CFBundleVersion`.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the release was last updated.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaRoboCrawler": {
      "id": "GoogleFirebaseAppdistroV1alphaRoboCrawler",
      "properties": {
        "loginCredential": {
          "$ref": "GoogleFirebaseAppdistroV1alphaLoginCredential",
          "description": "Optional. Login credential for automated tests"
        },
        "aiInstructions": {
          "$ref": "GoogleFirebaseAppdistroV1alphaAiInstructions",
          "description": "Optional. Instructions for AI driven test"
        }
      },
      "description": "Configuration for Robo crawler",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionSwipe": {
      "description": "A swipe action.",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionSwipe",
      "properties": {
        "start": {
          "description": "Output only. The start point of the swipe.",
          "readOnly": true,
          "$ref": "AndroidxCrawlerOutputPoint"
        },
        "end": {
          "description": "Output only. The end point of the swipe.",
          "$ref": "AndroidxCrawlerOutputPoint",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaCancelReleaseTestResponse": {
      "id": "GoogleFirebaseAppdistroV1alphaCancelReleaseTestResponse",
      "properties": {},
      "description": "The (empty) response message for `CancelReleaseTest`.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaListReleaseTestsResponse": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaListReleaseTestsResponse",
      "properties": {
        "releaseTests": {
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
          },
          "type": "array",
          "description": "The tests listed."
        },
        "nextPageToken": {
          "description": "A short-lived token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "The response message for `ListReleaseTests`."
    },
    "GoogleFirebaseAppdistroV1alphaJwt": {
      "type": "object",
      "description": "A JWT token.",
      "id": "GoogleFirebaseAppdistroV1alphaJwt",
      "properties": {
        "token": {
          "description": "The JWT token (three Base64URL-encoded strings joined by dots).",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaAiInstructions": {
      "id": "GoogleFirebaseAppdistroV1alphaAiInstructions",
      "properties": {
        "steps": {
          "description": "Required. Steps to be accomplished by the AI",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaAiStep"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1UploadReleaseMetadata": {
      "description": "Operation metadata for `UploadRelease`.",
      "id": "GoogleFirebaseAppdistroV1UploadReleaseMetadata",
      "properties": {},
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionBack": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionBack",
      "properties": {},
      "description": "A back action."
    },
    "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseResponse": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseResponse",
      "properties": {},
      "description": "The response message for `EnableAccessOnRelease`."
    },
    "GoogleFirebaseAppdistroV1alphaAppCrash": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaAppCrash",
      "properties": {
        "message": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The message associated with the crash."
        },
        "stackTrace": {
          "description": "Output only. The raw stack trace.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "An app crash that occurred during an automated test."
    },
    "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseRequest": {
      "description": "The request message for `EnableAccessOnRelease`.",
      "id": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseRequest",
      "properties": {
        "buildVersion": {
          "description": "Optional. Ignored. Used to be build version of the app release if an instance identifier was provided for the release_id.",
          "deprecated": true,
          "type": "string"
        },
        "emails": {
          "description": "Optional. An email address which should get access to this release, for example rebeccahe@google.com",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayVersion": {
          "type": "string",
          "description": "Optional. Ignored. Used to be display version of the app release if an instance identifier was provided for the release_id.",
          "deprecated": true
        },
        "groupIds": {
          "description": "Optional. A repeated list of group aliases to enable access to a release for Note: This field is misnamed, but can't be changed because we need to maintain compatibility with old build tools",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaTestConfig": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaTestConfig",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional. Display name of the AI driven test. Required if the release test is created with multiple goals."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the test configuration resource. Format: `projects/{project_number}/apps/{app}/testConfig`"
        },
        "resultsBucket": {
          "type": "string",
          "description": "Optional. The custom Cloud Storage bucket where test results are stored. Format: `projects/{project_number}/buckets/{bucket}` If not provided, the default test lab bucket is used."
        },
        "roboCrawler": {
          "$ref": "GoogleFirebaseAppdistroV1alphaRoboCrawler",
          "description": "Optional. Configuration for Robo crawler"
        },
        "testDevices": {
          "description": "Optional. Tests will be run on this list of devices",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestDevice"
          },
          "type": "array"
        }
      },
      "description": "Configuration for automated tests"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteraction": {
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteraction",
      "properties": {
        "longPress": {
          "readOnly": true,
          "$ref": "AndroidxCrawlerOutputPoint",
          "description": "Output only. A long press (tap and hold) action."
        },
        "wait": {
          "description": "Output only. A wait action.",
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionWait",
          "readOnly": true
        },
        "dragAndDrop": {
          "description": "Output only. A drag and drop action.",
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionDragAndDrop"
        },
        "swipe": {
          "description": "Output only. A swipe action.",
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionSwipe",
          "readOnly": true
        },
        "backAction": {
          "description": "Output only. A back action.",
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionBack",
          "readOnly": true
        },
        "targetOrientation": {
          "readOnly": true,
          "enum": [
            "ORIENTATION_UNSPECIFIED",
            "PORTRAIT",
            "LANDSCAPE"
          ],
          "type": "string",
          "description": "Output only. The target orientation of the device in a set orientation action.",
          "enumDescriptions": [
            "Orientation unspecified.",
            "Portrait orientation.",
            "Landscape orientation."
          ]
        },
        "tap": {
          "description": "Output only. A tap action.",
          "readOnly": true,
          "$ref": "AndroidxCrawlerOutputPoint"
        },
        "enterText": {
          "description": "Output only. A text entry action, that enters text into a particular text field, clearing any existing text in the field. Unlike `text_input` this action does not require any other actions such as a tap to be performed before it can enter the text.",
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteractionEnterText"
        },
        "keyCode": {
          "description": "Output only. Key code for a key event action.",
          "readOnly": true,
          "type": "string"
        },
        "targetFoldedState": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The target folded state of the device in a set folded state action. The valid string values are device-dependent, and can be found using `adb shell cmd device_state print-states`."
        },
        "screenshot": {
          "$ref": "GoogleFirebaseAppdistroV1alphaScreenshot",
          "readOnly": true,
          "description": "Output only. The screenshot used in the context of this action. The screen may have changed before the action was actually taken."
        },
        "textInput": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A text input action, that types some text into whatever field is currently focused, if any. Unlike `enter_text` this action requires that the field be brought into focus first, for example by emitting a tap action before this one."
        }
      },
      "description": "An interaction with the device, such as a tap, text entry, wait, etc.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaAabCertificate": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaAabCertificate",
      "properties": {
        "certificateHashMd5": {
          "description": "MD5 hash of the certificate used to resign the AAB",
          "type": "string"
        },
        "certificateHashSha1": {
          "type": "string",
          "description": "SHA1 hash of the certificate used to resign the AAB"
        },
        "certificateHashSha256": {
          "type": "string",
          "description": "SHA256 hash of the certificate used to resign the AAB"
        }
      },
      "description": "App bundle test certificate"
    },
    "GoogleFirebaseAppdistroV1alphaRelease": {
      "id": "GoogleFirebaseAppdistroV1alphaRelease",
      "properties": {
        "releaseNotesSummary": {
          "description": "Release notes summary",
          "type": "string"
        },
        "distributedAt": {
          "type": "string",
          "description": "Timestamp when the release was created",
          "format": "google-datetime"
        },
        "lastActivityAt": {
          "description": "Last activity timestamp",
          "format": "google-datetime",
          "type": "string"
        },
        "displayVersion": {
          "description": "Release version",
          "type": "string"
        },
        "testerCount": {
          "type": "integer",
          "description": "Count of testers added to the release",
          "format": "int32"
        },
        "receivedAt": {
          "description": "unused. ",
          "deprecated": true,
          "format": "google-datetime",
          "type": "string"
        },
        "testerWithInstallCount": {
          "type": "integer",
          "description": "Number of testers who have installed the release",
          "format": "int32"
        },
        "id": {
          "description": "Release Id",
          "type": "string"
        },
        "buildVersion": {
          "description": "Release build version",
          "type": "string"
        },
        "openInvitationCount": {
          "type": "integer",
          "description": "Number of testers who have open invitations for the release",
          "format": "int32"
        },
        "instanceId": {
          "description": "Instance id of the release",
          "type": "string"
        }
      },
      "description": "Proto defining a release object",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse": {
      "id": "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse",
      "properties": {
        "testerUdids": {
          "description": "The UDIDs of tester iOS devices in a project",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTesterUdid"
          },
          "type": "array"
        }
      },
      "description": "Response containing the UDIDs of tester iOS devices in a project",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaBatchDeleteTestCasesRequest": {
      "description": "The request message for `BatchDeleteTestCase`.",
      "id": "GoogleFirebaseAppdistroV1alphaBatchDeleteTestCasesRequest",
      "properties": {
        "names": {
          "description": "Required. The name of the test cases to delete. A maximum number of 1000 test cases can be deleted in one batch Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaAiStepResult": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaAiStepResult",
      "properties": {
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STEP_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "TIMED_OUT",
            "GOAL_ACTION_LIMIT_REACHED"
          ],
          "description": "Output only. The current state of the step",
          "enumDescriptions": [
            "Step state unspecified",
            "The step is in progress",
            "The step has completed successfully",
            "The step has failed",
            "The test timed out during this step",
            "The number of actions needed to reach the goal exceeded its limit"
          ]
        },
        "step": {
          "$ref": "GoogleFirebaseAppdistroV1alphaAiStep",
          "description": "Required. The step performed by the AI"
        },
        "assertionDetails": {
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaAssertionDetails",
          "description": "Output only. Details for an assertion step."
        },
        "goalDetails": {
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaGoalDetails",
          "description": "Output only. Details for a goal step."
        }
      },
      "description": "Captures the results of an AiStep"
    },
    "GoogleFirebaseAppdistroV1alphaLoginCredential": {
      "id": "GoogleFirebaseAppdistroV1alphaLoginCredential",
      "properties": {
        "username": {
          "type": "string",
          "description": "Optional. Username for automated tests"
        },
        "password": {
          "type": "string",
          "description": "Optional. Password for automated tests"
        },
        "google": {
          "type": "boolean",
          "description": "Optional. Are these credentials for Google?"
        },
        "fieldHints": {
          "description": "Optional. Hints to the crawler for identifying input fields",
          "$ref": "GoogleFirebaseAppdistroV1alphaLoginCredentialFieldHints"
        }
      },
      "description": "Login credential for automated tests",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaReleaseNotes": {
      "type": "object",
      "description": "Release notes for a release.",
      "id": "GoogleFirebaseAppdistroV1alphaReleaseNotes",
      "properties": {
        "releaseNotes": {
          "type": "string",
          "description": "The actual release notes text from the user."
        }
      }
    },
    "GoogleFirebaseAppdistroV1ReleaseNotes": {
      "id": "GoogleFirebaseAppdistroV1ReleaseNotes",
      "properties": {
        "text": {
          "description": "The text of the release notes.",
          "type": "string"
        }
      },
      "description": "Notes that belong to a release.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaGetUploadStatusResponse": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaGetUploadStatusResponse",
      "properties": {
        "release": {
          "$ref": "GoogleFirebaseAppdistroV1alphaRelease",
          "description": "The release that was created from the upload (only set on \"SUCCESS\")"
        },
        "message": {
          "type": "string",
          "description": "Any additional context for the given upload status (e.g. error message) Meant to be displayed to the client"
        },
        "errorCode": {
          "enum": [
            "ERROR_UNSPECIFIED",
            "INVALID_ZIP",
            "MISSING_PLIST",
            "MISSING_PROFILE",
            "VERSION_TOO_LONG",
            "MISSING_UUIDS",
            "MISSING_RESOURCES",
            "MISSING_MANIFEST",
            "IOS_METADATA_ERROR",
            "ANDROID_METADATA_ERROR",
            "UNSUPPORTED_PLATFORM_TYPE",
            "BUNDLE_ID_MISMATCH",
            "APK_NOT_ZIP_ALIGNED",
            "INVALID_CERTIFICATE",
            "APK_TOO_LARGE",
            "AAB_NOT_PUBLISHED",
            "INVALID_PLIST_DEVICE_FAMILIES",
            "AAB_TOS_NOT_ACCEPTED",
            "APP_NAME_TOO_LONG",
            "AAB_DEVELOPER_ACCOUNT_NOT_LINKED",
            "AAB_NO_APP_WITH_GIVEN_PACKAGE_NAME_IN_ACCOUNT",
            "AAB_UPLOAD_ERROR",
            "APP_NOT_FOUND",
            "AAB_ADHOC_SHARING_KEY_NOT_REGISTERED",
            "AAB_ANDROID_DEVELOPER_CONSOLE_ACCOUNT_NOT_FOUND"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "Happens if the Firebase app no longer exists by the time of extraction",
            "",
            "A corresponding Android Developer Console account for this app's Play Console account was not found."
          ],
          "description": "The error code associated with (only set on \"FAILURE\")"
        },
        "status": {
          "description": "The status of the upload",
          "type": "string",
          "enumDescriptions": [
            "Status unspecified.",
            "The upload is in progress.",
            "The binary has already been uploaded.",
            "The upload was successful.",
            "The upload failed."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "IN_PROGRESS",
            "ALREADY_UPLOADED",
            "SUCCESS",
            "ERROR"
          ]
        }
      },
      "description": "The response message for `GetUploadStatus`."
    },
    "GoogleFirebaseAppdistroV1alphaGoalAction": {
      "id": "GoogleFirebaseAppdistroV1alphaGoalAction",
      "properties": {
        "startTime": {
          "description": "Output only. The time at which the action started.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "explanation": {
          "description": "Output only. An explanation justifying why the action was taken.",
          "readOnly": true,
          "type": "string"
        },
        "debugInfo": {
          "$ref": "GoogleFirebaseAppdistroV1alphaGoalActionDebugInfo",
          "readOnly": true,
          "description": "Output only. Debug information explaining why the agent to the specific action."
        },
        "terminalAction": {
          "description": "Output only. An action taken by the AI to end the goal.",
          "$ref": "GoogleFirebaseAppdistroV1alphaTerminalAction",
          "readOnly": true
        },
        "deviceAction": {
          "description": "Output only. A high level action taken by the AI on the device.",
          "$ref": "GoogleFirebaseAppdistroV1alphaDeviceAction",
          "readOnly": true
        },
        "cachingType": {
          "enumDescriptions": [
            "Caching type unspecified.",
            "The model alone was used to determine the action with no caching.",
            "The model used information from a previous successful run to determine the action.",
            "The action was replayed from a previous successful run without model input."
          ],
          "description": "Output only. The type of caching used to determine the action.",
          "readOnly": true,
          "enum": [
            "CACHING_TYPE_UNSPECIFIED",
            "NO_CACHING",
            "CACHE_AND_MODEL",
            "CACHE_ONLY"
          ],
          "type": "string"
        }
      },
      "description": "An action taken by the AI agent while attempting to accomplish a goal.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1UploadReleaseResponse": {
      "id": "GoogleFirebaseAppdistroV1UploadReleaseResponse",
      "properties": {
        "release": {
          "description": "Release associated with the uploaded binary.",
          "$ref": "GoogleFirebaseAppdistroV1Release"
        },
        "result": {
          "description": "Result of upload release.",
          "type": "string",
          "enumDescriptions": [
            "Upload binary result unspecified",
            "Upload binary resulted in a new release",
            "Upload binary updated an existing release",
            "Upload binary resulted in a no-op. A release with the exact same binary already exists."
          ],
          "enum": [
            "UPLOAD_RELEASE_RESULT_UNSPECIFIED",
            "RELEASE_CREATED",
            "RELEASE_UPDATED",
            "RELEASE_UNMODIFIED"
          ]
        }
      },
      "description": "Response message for `UploadRelease`.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaAiStep": {
      "type": "object",
      "description": "A step to be accomplished by the AI",
      "id": "GoogleFirebaseAppdistroV1alphaAiStep",
      "properties": {
        "testCase": {
          "description": "Output only. The test case that contained this step. Note: The test case may have changed or been deleted since this step was created. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "readOnly": true,
          "type": "string"
        },
        "successCriteria": {
          "type": "string",
          "description": "Optional. A visual description of the screen's expected state after the step has been successfully completed. This is referred to as the \"final screen assertion\" in the Firebase console and CLI tools. This field must be provided for the last step in a test case, and is optional for all other steps."
        },
        "goal": {
          "type": "string",
          "description": "A goal to be accomplished by the AI"
        },
        "hint": {
          "description": "Optional. Hint text containing suggestions to help the agent accomplish the goal",
          "type": "string"
        },
        "assertion": {
          "description": "An assertion to be checked by the AI",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionDragAndDrop": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionDragAndDrop",
      "properties": {
        "end": {
          "$ref": "AndroidxCrawlerOutputPoint",
          "readOnly": true,
          "description": "Output only. The end point of the drag and drop."
        },
        "start": {
          "description": "Output only. The start point of the drag and drop.",
          "$ref": "AndroidxCrawlerOutputPoint",
          "readOnly": true
        }
      },
      "description": "A drag and drop action."
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionEnterText": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionEnterText",
      "properties": {
        "text": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The text to enter."
        },
        "elementBounds": {
          "description": "Output only. The visible bounds of the element to enter text into.",
          "readOnly": true,
          "$ref": "AndroidxCrawlerOutputRectangle"
        }
      },
      "description": "A text entry action, that enters text into a particular text field, clearing any existing text in the field."
    },
    "GoogleFirebaseAppdistroV1alphaLoginCredentialFieldHints": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaLoginCredentialFieldHints",
      "properties": {
        "usernameResourceName": {
          "type": "string",
          "description": "Required. The Android resource name of the username UI element. For example, in Java: R.string.foo in xml: @string/foo Only the \"foo\" part is needed. Reference doc: https://developer.android.com/guide/topics/resources/accessing-resources.html"
        },
        "passwordResourceName": {
          "description": "Required. The Android resource name of the password UI element. For example, in Java: R.string.foo in xml: @string/foo Only the \"foo\" part is needed. Reference doc: https://developer.android.com/guide/topics/resources/accessing-resources.html",
          "type": "string"
        }
      },
      "description": "Hints to the crawler for identifying input fields"
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "id": "GoogleProtobufEmpty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleFirebaseAppdistroV1alphaRoboStats": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaRoboStats",
      "properties": {
        "distinctVisitedScreens": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Number of distinct screens visited.",
          "format": "int32"
        },
        "crawlDuration": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Duration of crawl.",
          "format": "google-duration"
        },
        "actionsPerformed": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Number of actions that crawler performed.",
          "format": "int32"
        },
        "mainActivityCrawlTimedOut": {
          "description": "Output only. Whether the main activity crawl timed out.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "description": "Statistics collected during a Robo test."
    },
    "GoogleFirebaseAppdistroV1alphaGoalActionDebugInfo": {
      "description": "Information to help the customer understand why the agent took this action.",
      "id": "GoogleFirebaseAppdistroV1alphaGoalActionDebugInfo",
      "properties": {
        "annotatedScreenshotUri": {
          "description": "Output only. URI of the screenshot with elements labeled which was used by the agent.",
          "type": "string",
          "readOnly": true
        },
        "jsonUri": {
          "description": "Output only. Structured data explaining the agent's choice.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheResponse": {
      "type": "object",
      "description": "Response empty (google.protobuf.Empty) message for `ClearTestCaseCache`",
      "id": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheResponse",
      "properties": {}
    },
    "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesRequest": {
      "description": "The request message for `CreateReleaseNotes`.",
      "id": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesRequest",
      "properties": {
        "releaseNotes": {
          "description": "The actual release notes body from the user",
          "$ref": "GoogleFirebaseAppdistroV1alphaReleaseNotes"
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaTestQuota": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaTestQuota",
      "properties": {
        "name": {
          "description": "Identifier. The name of the `TestQuota` resource. Format: `projects/{project_number}/testQuota`",
          "type": "string"
        },
        "limit": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Maximum number of `ReleaseTests` allotted for the current month.",
          "format": "int64"
        },
        "usage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Number of `ReleaseTests` run in the current month",
          "format": "int64"
        }
      },
      "description": "Customer quota information for `ReleaseTests`. Note: This quota only applies to tests with `AiInstructions` and is separate from the quota which might apply to the device time used by any tests."
    },
    "AndroidxCrawlerOutputPoint": {
      "type": "object",
      "id": "AndroidxCrawlerOutputPoint",
      "properties": {
        "yCoordinate": {
          "type": "integer",
          "format": "int32"
        },
        "xCoordinate": {
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Point for describing bounding boxes tap locations Top left is 0,0"
    },
    "GoogleFirebaseAppdistroV1alphaTestDevice": {
      "type": "object",
      "description": "A device on which automated tests can be run.",
      "id": "GoogleFirebaseAppdistroV1alphaTestDevice",
      "properties": {
        "locale": {
          "type": "string",
          "description": "Optional. The locale of the device (e.g. \"en_US\" for US English) during the test."
        },
        "model": {
          "description": "Required. The device model.",
          "type": "string"
        },
        "version": {
          "description": "Required. The version of the device (API level on Android).",
          "type": "string"
        },
        "orientation": {
          "description": "Optional. The orientation of the device during the test.",
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesRequest": {
      "description": "The request message for `BatchUpdateTestCase`.",
      "id": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesRequest",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaUpdateTestCaseRequest"
          },
          "description": "Required. The update requests. A maximum number of 1000 test cases can be updated in one batch"
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaAssertionDetails": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaAssertionDetails",
      "properties": {
        "screenshot": {
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaScreenshot",
          "description": "Output only. The screenshot used in the context of this assertion."
        },
        "explanation": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. An explanation justifying the assertion result."
        },
        "result": {
          "description": "Output only. The result of the assertion.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "description": "Details for an assertion step."
    },
    "GoogleFirebaseAppdistroV1alphaUpdateTestCaseRequest": {
      "type": "object",
      "description": "The request message for `UpdateTestCase`.",
      "id": "GoogleFirebaseAppdistroV1alphaUpdateTestCaseRequest",
      "properties": {
        "testCase": {
          "$ref": "GoogleFirebaseAppdistroV1alphaTestCase",
          "description": "Required. The test case to update. The test case's `name` field is used to identify the test case to update. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`"
        },
        "allowMissing": {
          "description": "Optional. If set to true, and the test case is not found, a new test case will be created.",
          "type": "boolean"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaTestCase": {
      "description": "AI test cases",
      "id": "GoogleFirebaseAppdistroV1alphaTestCase",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the test case."
        },
        "dependentTestCases": {
          "description": "Output only. Other test cases that depend on this test case as a prerequisite.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "aiInstructions": {
          "$ref": "GoogleFirebaseAppdistroV1alphaAiInstructions",
          "description": "Optional. Instructions for AI driven test."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when the test case was created",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the test case resource. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`"
        },
        "prerequisiteTestCase": {
          "type": "string",
          "description": "Optional. Test case that must be run before this test case."
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaListTestCasesResponse": {
      "type": "object",
      "description": "The response message for `ListTestCases`.",
      "id": "GoogleFirebaseAppdistroV1alphaListTestCasesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "testCases": {
          "description": "The test cases from the specified app.",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
          },
          "type": "array"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaDeviceAction": {
      "description": "A high level action taken by the AI on the device, potentially involving multiple taps, text entries, waits, etc.",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceAction",
      "properties": {
        "deviceInteractions": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaDeviceInteraction"
          },
          "type": "array",
          "description": "Output only. The interactions made with the device as part of this higher level action taken by the agent, such as taps, text entries, waits, etc."
        },
        "description": {
          "description": "Output only. A short description of the high level action taken by the AI agent.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaApp": {
      "id": "GoogleFirebaseAppdistroV1alphaApp",
      "properties": {
        "aabCertificate": {
          "description": "App bundle test certificate generated for the app.",
          "$ref": "GoogleFirebaseAppdistroV1alphaAabCertificate"
        },
        "contactEmail": {
          "description": "Developer contact email for testers to reach out to about privacy or support issues.",
          "type": "string"
        },
        "projectNumber": {
          "type": "string",
          "description": "Project number of the Firebase project, for example 300830567303."
        },
        "bundleId": {
          "description": "Bundle identifier",
          "type": "string"
        },
        "appId": {
          "description": "Firebase gmp app id",
          "type": "string"
        },
        "platform": {
          "type": "string",
          "description": "iOS or Android"
        },
        "aabState": {
          "type": "string",
          "enumDescriptions": [
            "Aab state unspecified",
            "App can receive app bundle uploads",
            "Firebase project is not linked to a Play developer account",
            "There is no app in linked Play developer account with the same bundle id",
            "The app in Play developer account is not in a published state",
            "Play App status is unavailable",
            "Play IAS terms not accepted"
          ],
          "enum": [
            "AAB_STATE_UNSPECIFIED",
            "ACTIVE",
            "PLAY_ACCOUNT_NOT_LINKED",
            "NO_APP_WITH_GIVEN_BUNDLE_ID_IN_PLAY_ACCOUNT",
            "APP_NOT_PUBLISHED",
            "AAB_STATE_UNAVAILABLE",
            "PLAY_IAS_TERMS_NOT_ACCEPTED"
          ],
          "description": "App bundle state. Only valid for android apps. The app_view field in the request must be set to FULL in order for this to be populated."
        }
      },
      "description": "An app.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaTerminalAction": {
      "type": "object",
      "description": "An action taken by the AI to end the goal.",
      "id": "GoogleFirebaseAppdistroV1alphaTerminalAction",
      "properties": {
        "screenshot": {
          "description": "Output only. The screenshot used in the context of this terminal action.",
          "$ref": "GoogleFirebaseAppdistroV1alphaScreenshot",
          "readOnly": true
        },
        "reason": {
          "enumDescriptions": [
            "Reason unspecified.",
            "The goal failed to be completed. Note that \"impossible\" is a legacy term and the goal is reported to the customer as having \"failed\".",
            "The goal was completed successfully."
          ],
          "description": "Output only. The reason why this goal was ended.",
          "readOnly": true,
          "enum": [
            "REASON_UNSPECIFIED",
            "GOAL_IMPOSSIBLE",
            "GOAL_COMPLETE"
          ],
          "type": "string"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheRequest": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheRequest",
      "properties": {
        "testDevices": {
          "description": "Optional. The list of devices for which to clear the cache. If not present, clear all of them.",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestDevice"
          },
          "type": "array"
        }
      },
      "description": "Request message for `ClearTestCaseCache`."
    },
    "GoogleFirebaseAppdistroV1alphaGetReleaseByUploadHashResponse": {
      "type": "object",
      "description": "Response object to get the release given a upload hash",
      "id": "GoogleFirebaseAppdistroV1alphaGetReleaseByUploadHashResponse",
      "properties": {
        "release": {
          "description": "Release object",
          "$ref": "GoogleFirebaseAppdistroV1alphaRelease"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaScreenshot": {
      "type": "object",
      "description": "A device screenshot taken during a test.",
      "id": "GoogleFirebaseAppdistroV1alphaScreenshot",
      "properties": {
        "width": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The width of the screenshot, in pixels.",
          "format": "int32"
        },
        "uri": {
          "description": "Output only. The URI of the screenshot.",
          "readOnly": true,
          "type": "string"
        },
        "height": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The height of the screenshot, in pixels.",
          "format": "int32"
        }
      }
    },
    "GoogleFirebaseAppdistroV1alphaTesterUdid": {
      "id": "GoogleFirebaseAppdistroV1alphaTesterUdid",
      "properties": {
        "name": {
          "description": "The name of the tester's device",
          "type": "string"
        },
        "platform": {
          "description": "The platform of the tester's device",
          "type": "string"
        },
        "udid": {
          "type": "string",
          "description": "The UDID of the tester's device"
        }
      },
      "description": "The UDIDs of a tester's iOS device",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceExecution": {
      "id": "GoogleFirebaseAppdistroV1alphaDeviceExecution",
      "properties": {
        "inconclusiveReason": {
          "description": "Output only. The reason why the test was inconclusive.",
          "enumDescriptions": [
            "Reason unspecified.",
            "Not enough quota remained to run the test.",
            "The outcome of the test could not be determined because of a failure in the test running infrastructure.",
            "A required cloud service api is not activated (Google Cloud Testing API or Cloud Tool Results API).",
            "The app was not signed.",
            "A main launcher activity could not be found.",
            "The app declares one or more permissions that are not allowed.",
            "Device administrator applications are not allowed.",
            "APK contains no code. See also https://developer.android.com/guide/topics/manifest/application-element.html#code",
            "APK is built for a preview SDK which is unsupported."
          ],
          "readOnly": true,
          "enum": [
            "INCONCLUSIVE_REASON_UNSPECIFIED",
            "QUOTA_EXCEEDED",
            "INFRASTRUCTURE_FAILURE",
            "SERVICE_NOT_ACTIVATED",
            "NO_SIGNATURE",
            "NO_LAUNCHER_ACTIVITY",
            "FORBIDDEN_PERMISSIONS",
            "DEVICE_ADMIN_RECEIVER",
            "NO_CODE_APK",
            "INVALID_APK_PREVIEW_SDK"
          ],
          "type": "string"
        },
        "videoUri": {
          "description": "Output only. A URI to a video of the test run.",
          "readOnly": true,
          "type": "string"
        },
        "appCrash": {
          "readOnly": true,
          "$ref": "GoogleFirebaseAppdistroV1alphaAppCrash",
          "description": "Output only. An app crash, if any occurred during the test."
        },
        "resultsStoragePath": {
          "description": "Output only. The path to a directory in Cloud Storage that will eventually contain the results for this execution. For example, gs://bucket/Nexus5-18-en-portrait.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the device execution resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}/deviceExecutions/{device_execution}`",
          "type": "string"
        },
        "device": {
          "$ref": "GoogleFirebaseAppdistroV1alphaTestDevice",
          "description": "Required. The device that the test was run on."
        },
        "finalAiAssertionMissing": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates that the test replayed saved actions and concluded without a final AI assertion."
        },
        "screenshotUris": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. A list of screenshot image URIs taken from the Robo crawl. The file names are numbered by the order in which they were taken."
        },
        "state": {
          "readOnly": true,
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "INCONCLUSIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Test state unspecified.",
            "The test is in progress.",
            "The test has passed.",
            "The test has failed.",
            "The test was inconclusive."
          ],
          "description": "Output only. The state of the test."
        },
        "executionType": {
          "readOnly": true,
          "enum": [
            "EXECUTION_TYPE_UNSPECIFIED",
            "AI",
            "ACTION_BASED_REPLAY",
            "AI_REPLAY",
            "RANDOM_CRAWL"
          ],
          "type": "string",
          "description": "Output only. The type of execution for the test.",
          "enumDescriptions": [
            "Execution type unspecified.",
            "An AI-driven test.",
            "A replay of a previous test run.",
            "A failed replay that was rerun using the AI agent.",
            "A random Robo test."
          ]
        },
        "aiStepResults": {
          "description": "Output only. Results of the AI steps if passed in",
          "readOnly": true,
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaAiStepResult"
          },
          "type": "array"
        },
        "roboStats": {
          "description": "Output only. The statistics collected during the Robo test.",
          "$ref": "GoogleFirebaseAppdistroV1alphaRoboStats",
          "readOnly": true
        },
        "failedReason": {
          "description": "Output only. The reason why the test failed.",
          "enumDescriptions": [
            "Reason unspecified.",
            "The app crashed during the test.",
            "If an app is not installed and thus no test can be run with the app. This might be caused by trying to run a test on an unsupported platform.",
            "If the app could not be crawled (possibly because the app did not start).",
            "If the device ran out of memory during the test.",
            "At least one AI step failed.",
            "The crawl reached the time limit before the test could be completed."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "FAILED_REASON_UNSPECIFIED",
            "CRASHED",
            "NOT_INSTALLED",
            "UNABLE_TO_CRAWL",
            "DEVICE_OUT_OF_MEMORY",
            "FAILED_AI_STEP",
            "TIMED_OUT"
          ]
        },
        "originDeviceExecution": {
          "description": "Output only. The device execution from which cached steps were used during this execution. Note: This field is only populated for ACTION_BASED_REPLAY executions. If the original device execution no longer exists, this field will be empty. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}/deviceExecutions/{device_execution}`",
          "readOnly": true,
          "type": "string"
        },
        "videoStartTime": {
          "description": "Output only. The time at which the video started recording.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "crawlGraphUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A URI to an image of the Robo crawl graph."
        }
      },
      "description": "The results of running an automated test on a particular device.",
      "type": "object"
    },
    "GoogleFirebaseAppdistroV1alphaDeviceInteractionWait": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaDeviceInteractionWait",
      "properties": {
        "duration": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The duration of the wait.",
          "format": "google-duration"
        }
      },
      "description": "A wait action."
    },
    "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesResponse": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesResponse",
      "properties": {},
      "description": "The response message for `CreateReleaseNotes`."
    },
    "GoogleFirebaseAppdistroV1alphaReleaseTest": {
      "type": "object",
      "id": "GoogleFirebaseAppdistroV1alphaReleaseTest",
      "properties": {
        "createTime": {
          "description": "Output only. Timestamp when the test was run.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "deviceExecutions": {
          "type": "array",
          "items": {
            "$ref": "GoogleFirebaseAppdistroV1alphaDeviceExecution"
          },
          "description": "Required. The results of the test on each device."
        },
        "loginCredential": {
          "$ref": "GoogleFirebaseAppdistroV1alphaLoginCredential",
          "description": "Optional. Input only. Login credentials for the test. Input only."
        },
        "displayName": {
          "description": "Optional. Display name of the release test. Required if the release test is created with multiple goals.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the release test resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}`"
        },
        "testState": {
          "readOnly": true,
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "PASSED",
            "FAILED",
            "INCONCLUSIVE"
          ],
          "type": "string",
          "description": "Output only. The state of the release test.",
          "enumDescriptions": [
            "Test state unspecified.",
            "The test is in progress.",
            "The test has passed.",
            "The test has failed.",
            "The test was inconclusive."
          ]
        },
        "resultsBucket": {
          "description": "Optional. Input only. The custom Cloud Storage bucket where test results are stored. Format: `projects/{project_number}/buckets/{bucket}` If not provided, the default test lab bucket is used.",
          "type": "string"
        },
        "aiInstructions": {
          "description": "Optional. Instructions for AI driven test.",
          "$ref": "GoogleFirebaseAppdistroV1alphaAiInstructions"
        },
        "testCase": {
          "description": "Optional. The test case that was used to generate this release test. Note: The test case may have changed or been deleted since the release test was created. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
          "type": "string"
        }
      },
      "description": "Instance of an automated test for a release."
    }
  },
  "documentationLink": "https://firebase.google.com/products/app-distribution",
  "revision": "20260622",
  "name": "firebaseappdistribution",
  "ownerDomain": "google.com",
  "resources": {
    "apps": {
      "resources": {
        "releases": {
          "resources": {
            "notes": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesRequest"
                  },
                  "path": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/notes",
                  "description": "Create release notes on a release.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaCreateReleaseNotesResponse"
                  },
                  "id": "firebaseappdistribution.apps.releases.notes.create",
                  "parameters": {
                    "mobilesdkAppId": {
                      "location": "path",
                      "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                      "required": true,
                      "type": "string"
                    },
                    "releaseId": {
                      "description": "Required. Release identifier",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "mobilesdkAppId",
                    "releaseId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/notes"
                }
              }
            }
          },
          "methods": {
            "enable_access": {
              "path": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/enable_access",
              "description": "Enable access on a release for testers.",
              "request": {
                "$ref": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseRequest"
              },
              "id": "firebaseappdistribution.apps.releases.enable_access",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaEnableAccessOnReleaseResponse"
              },
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/releases/{releaseId}/enable_access",
              "parameters": {
                "mobilesdkAppId": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "location": "path"
                },
                "releaseId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Release identifier"
                }
              },
              "parameterOrder": [
                "mobilesdkAppId",
                "releaseId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "upload_status": {
          "methods": {
            "get": {
              "id": "firebaseappdistribution.apps.upload_status.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetUploadStatusResponse"
              },
              "path": "v1alpha/apps/{mobilesdkAppId}/upload_status/{uploadToken}",
              "description": "GET Binary upload status by token",
              "parameters": {
                "uploadToken": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The token for the upload",
                  "location": "path"
                },
                "mobilesdkAppId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289"
                }
              },
              "parameterOrder": [
                "mobilesdkAppId",
                "uploadToken"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/upload_status/{uploadToken}"
            }
          }
        },
        "testers": {
          "methods": {
            "getTesterUdids": {
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/testers:getTesterUdids",
              "parameters": {
                "mobilesdkAppId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289"
                },
                "project": {
                  "location": "query",
                  "description": "The name of the project, which is the parent of testers Format: `projects/{project_number}`",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "mobilesdkAppId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha/apps/{mobilesdkAppId}/testers:getTesterUdids",
              "description": "Get UDIDs of tester iOS devices in a project",
              "id": "firebaseappdistribution.apps.testers.getTesterUdids",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse"
              }
            }
          }
        },
        "release_by_hash": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetReleaseByUploadHashResponse"
              },
              "id": "firebaseappdistribution.apps.release_by_hash.get",
              "path": "v1alpha/apps/{mobilesdkAppId}/release_by_hash/{uploadHash}",
              "description": "GET Release by binary upload hash",
              "flatPath": "v1alpha/apps/{mobilesdkAppId}/release_by_hash/{uploadHash}",
              "parameters": {
                "mobilesdkAppId": {
                  "location": "path",
                  "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "required": true,
                  "type": "string"
                },
                "uploadHash": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The hash for the upload"
                }
              },
              "parameterOrder": [
                "mobilesdkAppId",
                "uploadHash"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      },
      "methods": {
        "get": {
          "flatPath": "v1alpha/apps/{mobilesdkAppId}",
          "parameters": {
            "mobilesdkAppId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289"
            },
            "appView": {
              "enumDescriptions": [
                "The default / unset value. The API will default to the BASIC view.",
                "Include everything except aab_state.",
                "Include everything."
              ],
              "description": "App view. When unset or set to BASIC, returns an App with everything set except for aab_state. When set to FULL, returns an App with aab_state set.",
              "enum": [
                "APP_VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [
            "mobilesdkAppId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1alpha/apps/{mobilesdkAppId}",
          "description": "Get the app, if it exists",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleFirebaseAppdistroV1alphaApp"
          },
          "id": "firebaseappdistribution.apps.get"
        },
        "getJwt": {
          "flatPath": "v1alpha/apps/{mobilesdkAppId}/jwt",
          "parameters": {
            "mobilesdkAppId": {
              "description": "Required. Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "mobilesdkAppId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1alpha/apps/{mobilesdkAppId}/jwt",
          "description": "Get a JWT token",
          "id": "firebaseappdistribution.apps.getJwt",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleFirebaseAppdistroV1alphaJwt"
          }
        }
      }
    },
    "projects": {
      "methods": {
        "getTestQuota": {
          "flatPath": "v1alpha/projects/{projectsId}/testQuota",
          "parameters": {
            "name": {
              "description": "Required. The name of the `TestQuota` resource to retrieve. Format: `projects/{project_number}/testQuota`",
              "required": true,
              "location": "path",
              "pattern": "^projects/[^/]+/testQuota$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1alpha/{+name}",
          "description": "Get information about the quota for `ReleaseTests`.",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleFirebaseAppdistroV1alphaTestQuota"
          },
          "id": "firebaseappdistribution.projects.getTestQuota"
        }
      },
      "resources": {
        "testers": {
          "methods": {
            "getUdids": {
              "id": "firebaseappdistribution.projects.testers.getUdids",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaGetTesterUdidsResponse"
              },
              "path": "v1alpha/{+project}/testers:udids",
              "description": "Get UDIDs of tester iOS devices in a project",
              "flatPath": "v1alpha/projects/{projectsId}/testers:udids",
              "parameters": {
                "project": {
                  "required": true,
                  "description": "The name of the project, which is the parent of testers Format: `projects/{project_number}`",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "mobilesdkAppId": {
                  "type": "string",
                  "description": "Unique id for a Firebase app of the format: {version}:{project_number}:{platform}:{hash(bundle_id)} Example: 1:581234567376:android:aa0a3c7b135e90289",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "project"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "apps": {
          "methods": {
            "getTestConfig": {
              "path": "v1alpha/{+name}",
              "description": "Gets configuration for automated tests.",
              "id": "firebaseappdistribution.projects.apps.getTestConfig",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaTestConfig"
              },
              "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testConfig",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/apps/[^/]+/testConfig$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the `TestConfig` resource to retrieve. Format: `projects/{project_number}/apps/{app}/testConfig`"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "updateTestConfig": {
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleFirebaseAppdistroV1alphaTestConfig"
              },
              "id": "firebaseappdistribution.projects.apps.updateTestConfig",
              "path": "v1alpha/{+name}",
              "description": "Updates automated test configuration.",
              "request": {
                "$ref": "GoogleFirebaseAppdistroV1alphaTestConfig"
              },
              "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testConfig",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/apps/[^/]+/testConfig$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier. The name of the test configuration resource. Format: `projects/{project_number}/apps/{app}/testConfig`"
                },
                "updateMask": {
                  "type": "string",
                  "description": "Optional. The list of fields to update.",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "releases": {
              "resources": {
                "tests": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
                      },
                      "id": "firebaseappdistribution.projects.apps.releases.tests.get",
                      "path": "v1alpha/{+name}",
                      "description": "Get results for automated test run on release.",
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests/{testsId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+/tests/[^/]+$",
                          "type": "string",
                          "description": "Required. The name of the release test resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}`",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "cancel": {
                      "path": "v1alpha/{+name}:cancel",
                      "description": "Abort automated test run on release.",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaCancelReleaseTestResponse"
                      },
                      "id": "firebaseappdistribution.projects.apps.releases.tests.cancel",
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests/{testsId}:cancel",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+/tests/[^/]+$",
                          "type": "string",
                          "description": "Required. The name of the release test resource. Format: `projects/{project_number}/apps/{app}/releases/{release}/tests/{test}`",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "Optional. The maximum number of tests to return. The service may return fewer than this value.",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A page token, received from a previous `ListReleaseTests` call. Provide this to retrieve the subsequent page.",
                          "type": "string"
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. The name of the release resource, which is the parent of the tests Format: `projects/{project_number}/apps/{app}/releases/{release}`",
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "view": {
                          "description": "Optional. The requested view on the returned ReleaseTests. Defaults to the basic view.",
                          "enumDescriptions": [
                            "The default / unset value. The default view depends on the RPC.",
                            "Include basic metadata about the release test and its status, but not the full result details. This is the default value for ListReleaseTests.",
                            "Include everything."
                          ],
                          "location": "query",
                          "enum": [
                            "RELEASE_TEST_VIEW_UNSPECIFIED",
                            "RELEASE_TEST_VIEW_BASIC",
                            "RELEASE_TEST_VIEW_FULL"
                          ],
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests",
                      "path": "v1alpha/{+parent}/tests",
                      "description": "List results for automated tests run on release.",
                      "id": "firebaseappdistribution.projects.apps.releases.tests.list",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaListReleaseTestsResponse"
                      }
                    },
                    "create": {
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "Required. The name of the release resource, which is the parent of the test Format: `projects/{project_number}/apps/{app}/releases/{release}`",
                          "pattern": "^projects/[^/]+/apps/[^/]+/releases/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "releaseTestId": {
                          "type": "string",
                          "description": "Optional. The ID to use for the test, which will become the final component of the test's resource name. This value should be 4-63 characters, and valid characters are /a-z-/. If it is not provided one will be automatically generated.",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/releases/{releasesId}/tests",
                      "request": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
                      },
                      "path": "v1alpha/{+parent}/tests",
                      "description": "Run automated test(s) on release.",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleFirebaseAppdistroV1alphaReleaseTest"
                      },
                      "id": "firebaseappdistribution.projects.apps.releases.tests.create"
                    }
                  }
                }
              }
            },
            "testCases": {
              "methods": {
                "patch": {
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}",
                  "parameters": {
                    "allowMissing": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If set to true, and the test case is not found, a new test case will be created."
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Identifier. The name of the test case resource. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+name}",
                  "description": "Update a test case.",
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "id": "firebaseappdistribution.projects.apps.testCases.patch"
                },
                "batchUpdate": {
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases:batchUpdate",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource of the test cases being updated. Format: `projects/{project_number}/apps/{app}`",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "firebaseappdistribution.projects.apps.testCases.batchUpdate",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesResponse"
                  },
                  "path": "v1alpha/{+parent}/testCases:batchUpdate",
                  "description": "Updates multiple test cases.",
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaBatchUpdateTestCasesRequest"
                  }
                },
                "clearTestCaseCache": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheResponse"
                  },
                  "id": "firebaseappdistribution.projects.apps.testCases.clearTestCaseCache",
                  "path": "v1alpha/{+testCase}:clearTestCaseCache",
                  "description": "Clears cached test runs for a specific test case and device(s).",
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaClearTestCaseCacheRequest"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}:clearTestCaseCache",
                  "parameters": {
                    "testCase": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the test case resource for which to clear the cache. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "testCase"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "batchDelete": {
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases:batchDelete",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource of the test cases being deleted. Format: `projects/{project_number}/apps/{app}`",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "firebaseappdistribution.projects.apps.testCases.batchDelete",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v1alpha/{+parent}/testCases:batchDelete",
                  "description": "Deletes multiple test cases.",
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaBatchDeleteTestCasesRequest"
                  }
                },
                "list": {
                  "path": "v1alpha/{+parent}/testCases",
                  "description": "List test cases.",
                  "id": "firebaseappdistribution.projects.apps.testCases.list",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaListTestCasesResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent resource from which to list test cases. Format: `projects/{project_number}/apps/{app}`",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListTestCases` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTestCases` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of test cases to return. The service may return fewer than this value. If unspecified, at most 50 test cases will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "request": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "path": "v1alpha/{+parent}/testCases",
                  "description": "Create a new test case.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "id": "firebaseappdistribution.projects.apps.testCases.create",
                  "parameters": {
                    "testCaseId": {
                      "location": "query",
                      "description": "Optional. The ID to use for the test case, which will become the final component of the test case's resource name. This value should be 4-63 characters, and valid characters are /a-z-/.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/apps/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource where this test case will be created. Format: `projects/{project_number}/apps/{app}`"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the test case resource to retrieve. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleFirebaseAppdistroV1alphaTestCase"
                  },
                  "id": "firebaseappdistribution.projects.apps.testCases.get",
                  "path": "v1alpha/{+name}",
                  "description": "Get a test case."
                },
                "delete": {
                  "flatPath": "v1alpha/projects/{projectsId}/apps/{appsId}/testCases/{testCasesId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the test case resource to delete. Format: `projects/{project_number}/apps/{app}/testCases/{test_case}`",
                      "pattern": "^projects/[^/]+/apps/[^/]+/testCases/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "firebaseappdistribution.projects.apps.testCases.delete",
                  "path": "v1alpha/{+name}",
                  "description": "Delete a test case."
                }
              }
            }
          }
        }
      }
    }
  },
  "basePath": "",
  "fullyEncodeReservedExpansion": true
}